{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "title": "Google Cloud Data Catalog API",
  "schemas": {
    "GoogleCloudDatacatalogV1DumpItem": {
      "properties": {
        "taggedEntry": {
          "description": "Entry and its tags.",
          "$ref": "GoogleCloudDatacatalogV1TaggedEntry"
        }
      },
      "description": "Wrapper for any item that can be contained in the dump.",
      "id": "GoogleCloudDatacatalogV1DumpItem",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference": {
      "properties": {
        "nodeAlias": {
          "type": "string",
          "description": "Required. The reference to the source/destination node of the edge. This name must be a valid `alias` of a node element in the same graph. Example, `Person` node can be a source node name of an edge element `Person_to_Address`."
        },
        "edgeTableColumns": {
          "description": "Required. The referencing columns in the edge table. The size of `edge_table_columns` must be equal to the size of `node_table_columns`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nodeTableColumns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The referenced columns of the source node table."
        }
      },
      "description": "A reference to a source or destination node in a graph edge.",
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1VertexModelSourceInfo": {
      "id": "GoogleCloudDatacatalogV1VertexModelSourceInfo",
      "properties": {
        "sourceType": {
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "The Model is uploaded by automl training pipeline.",
            "The Model is uploaded by user or custom training pipeline.",
            "The Model is registered and sync'ed from BigQuery ML.",
            "The Model is saved or tuned from Model Garden.",
            "The Model is saved or tuned from Genie.",
            "The Model is uploaded by text embedding finetuning pipeline.",
            "The Model is saved or tuned from Marketplace."
          ],
          "enum": [
            "MODEL_SOURCE_TYPE_UNSPECIFIED",
            "AUTOML",
            "CUSTOM",
            "BQML",
            "MODEL_GARDEN",
            "GENIE",
            "CUSTOM_TEXT_EMBEDDING",
            "MARKETPLACE"
          ],
          "description": "Type of the model source."
        },
        "copy": {
          "description": "If this Model is copy of another Model. If true then source_type pertains to the original.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Detail description of the source information of a Vertex model."
    },
    "GoogleCloudDatacatalogV1RoutineSpecArgument": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1RoutineSpecArgument",
      "description": "Input or output argument of a function or stored procedure.",
      "properties": {
        "type": {
          "description": "Type of the argument. The exact value depends on the source system and the language.",
          "type": "string"
        },
        "name": {
          "description": "The name of the argument. A return argument of a function might not have a name.",
          "type": "string"
        },
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "IN",
            "OUT",
            "INOUT"
          ],
          "enumDescriptions": [
            "Unspecified mode.",
            "The argument is input-only.",
            "The argument is output-only.",
            "The argument is both an input and an output."
          ],
          "description": "Specifies whether the argument is input or output.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1ListEntriesResponse": {
      "properties": {
        "entries": {
          "description": "Entry details.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1Entry"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no items remain in results.",
          "type": "string"
        }
      },
      "description": "Response message for ListEntries.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1ListEntriesResponse"
    },
    "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyForeignKeyColumnMapping": {
      "description": "Column mapping for a Spanner foreign key.",
      "id": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyForeignKeyColumnMapping",
      "type": "object",
      "properties": {
        "referenceColumn": {
          "description": "Output only. The column in the referenced table that is part of the foreign key.",
          "type": "string",
          "readOnly": true
        },
        "column": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The column in the current table that is part of the foreign key."
        }
      }
    },
    "GoogleCloudDatacatalogV1TaggedEntry": {
      "description": "Wrapper containing Entry and information about Tags that should and should not be attached to it.",
      "properties": {
        "v1Entry": {
          "$ref": "GoogleCloudDatacatalogV1Entry",
          "description": "Non-encrypted Data Catalog v1 Entry."
        },
        "presentTags": {
          "description": "Optional. Tags that should be ingested into the Data Catalog. Caller should populate template name, column and fields.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          }
        },
        "absentTags": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          },
          "description": "Optional. Tags that should be deleted from the Data Catalog. Caller should populate template name and column only."
        }
      },
      "id": "GoogleCloudDatacatalogV1TaggedEntry",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1SearchCatalogResult": {
      "id": "GoogleCloudDatacatalogV1beta1SearchCatalogResult",
      "properties": {
        "searchResultSubtype": {
          "description": "Sub-type of the search result. This is a dot-delimited description of the resource's full type, and is the same as the value callers would provide in the \"type\" search facet. Examples: `entry.table`, `entry.dataStream`, `tagTemplate`.",
          "type": "string"
        },
        "linkedResource": {
          "description": "The full name of the cloud resource the entry belongs to. See: https://cloud.google.com/apis/design/resource_names#full_resource_name. Example: * `//bigquery.googleapis.com/projects/projectId/datasets/datasetId/tables/tableId`",
          "type": "string"
        },
        "relativeResourceName": {
          "type": "string",
          "description": "The relative resource name of the resource in URL format. Examples: * `projects/{project_id}/locations/{location_id}/entryGroups/{entry_group_id}/entries/{entry_id}` * `projects/{project_id}/tagTemplates/{tag_template_id}`"
        },
        "searchResultType": {
          "enum": [
            "SEARCH_RESULT_TYPE_UNSPECIFIED",
            "ENTRY",
            "TAG_TEMPLATE",
            "ENTRY_GROUP"
          ],
          "enumDescriptions": [
            "Default unknown type.",
            "An Entry.",
            "A TagTemplate.",
            "An EntryGroup."
          ],
          "description": "Type of the search result. This field can be used to determine which Get method to call to fetch the full resource.",
          "type": "string"
        },
        "modifyTime": {
          "type": "string",
          "description": "Last-modified timestamp of the entry from the managing system.",
          "format": "google-datetime"
        }
      },
      "description": "A result that appears in the response of a search request. Each result captures details of one entry that matches the search.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PersonalDetails": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1PersonalDetails",
      "description": "Entry metadata relevant only to the user and private to them.",
      "properties": {
        "starred": {
          "description": "True if the entry is starred by the user; false otherwise.",
          "type": "boolean"
        },
        "starTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Set if the entry is starred; unset otherwise."
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1ExportTaxonomiesResponse": {
      "properties": {
        "taxonomies": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SerializedTaxonomy"
          },
          "type": "array",
          "description": "List of taxonomies and policy tags in a tree structure."
        }
      },
      "description": "Response message for ExportTaxonomies.",
      "id": "GoogleCloudDatacatalogV1beta1ExportTaxonomiesResponse",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldEnumValueRequest": {
      "properties": {
        "newEnumValueDisplayName": {
          "type": "string",
          "description": "Required. The new display name of the enum value. For example, `my_new_enum_value`."
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldEnumValueRequest",
      "description": "Request message for RenameTagTemplateFieldEnumValue.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1UsageStats": {
      "description": "Detailed counts on the entry's usage. Caveats: - Only BigQuery tables have usage stats - The usage stats only include BigQuery query jobs - The usage stats might be underestimated, e.g. wildcard table references are not yet counted in usage computation https://cloud.google.com/bigquery/docs/querying-wildcard-tables",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1UsageStats",
      "properties": {
        "totalCompletions": {
          "type": "number",
          "format": "float",
          "description": "The number of times that the underlying entry was successfully used."
        },
        "totalFailures": {
          "format": "float",
          "type": "number",
          "description": "The number of times that the underlying entry was attempted to be used but failed."
        },
        "totalExecutionTimeForCompletionsMillis": {
          "description": "Total time spent (in milliseconds) during uses the resulted in completions.",
          "format": "float",
          "type": "number"
        },
        "totalCancellations": {
          "type": "number",
          "description": "The number of times that the underlying entry was attempted to be used but was cancelled by the user.",
          "format": "float"
        }
      }
    },
    "GoogleCloudDatacatalogV1ReconcileTagsResponse": {
      "description": "Long-running operation response message returned by ReconcileTags.",
      "type": "object",
      "properties": {
        "createdTagsCount": {
          "description": "Number of tags created in the request.",
          "format": "int64",
          "type": "string"
        },
        "updatedTagsCount": {
          "description": "Number of tags updated in the request.",
          "format": "int64",
          "type": "string"
        },
        "deletedTagsCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of tags deleted in the request."
        }
      },
      "id": "GoogleCloudDatacatalogV1ReconcileTagsResponse"
    },
    "GoogleCloudDatacatalogV1ColumnSchemaLookerColumnSpec": {
      "type": "object",
      "description": "Column info specific to Looker System.",
      "id": "GoogleCloudDatacatalogV1ColumnSchemaLookerColumnSpec",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Dimension.",
            "Dimension group - parent for Dimension.",
            "Filter.",
            "Measure.",
            "Parameter."
          ],
          "description": "Looker specific column type of this column.",
          "enum": [
            "LOOKER_COLUMN_TYPE_UNSPECIFIED",
            "DIMENSION",
            "DIMENSION_GROUP",
            "FILTER",
            "MEASURE",
            "PARAMETER"
          ]
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1SearchCatalogRequest": {
      "description": "Request message for SearchCatalog.",
      "type": "object",
      "properties": {
        "orderBy": {
          "description": "Specifies the ordering of results, currently supported case-sensitive choices are: * `relevance`, only supports descending * `last_modified_timestamp [asc|desc]`, defaults to descending if not specified * `default` that can only be descending If not specified, defaults to `relevance` descending.",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. Pagination token returned in an earlier SearchCatalogResponse.next_page_token, which indicates that this is a continuation of a prior SearchCatalogRequest call, and that the system should return the next page of data. If empty, the first page is returned."
        },
        "pageSize": {
          "format": "int32",
          "description": "Number of results in the search page. If <=0 then defaults to 10. Max limit for page_size is 1000. Throws an invalid argument for page_size > 1000.",
          "type": "integer"
        },
        "query": {
          "description": "Optional. The query string in search query syntax. An empty query string will result in all data assets (in the specified scope) that the user has access to. Query strings can be simple as \"x\" or more qualified as: * name:x * column:x * description:y Note: Query tokens need to have a minimum of 3 characters for substring matching to work correctly. See [Data Catalog Search Syntax](https://cloud.google.com/data-catalog/docs/how-to/search-reference) for more information.",
          "type": "string"
        },
        "scope": {
          "$ref": "GoogleCloudDatacatalogV1beta1SearchCatalogRequestScope",
          "description": "Required. The scope of this search request. A `scope` that has empty `include_org_ids`, `include_project_ids` AND false `include_gcp_public_datasets` is considered invalid. Data Catalog will return an error in such a case."
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1SearchCatalogRequest"
    },
    "GoogleCloudDatacatalogV1beta1SerializedTaxonomy": {
      "type": "object",
      "properties": {
        "activatedPolicyTypes": {
          "type": "array",
          "description": "A list of policy types that are activated for a taxonomy.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified policy type.",
              "Fine grained access control policy, which enables access control on tagged resources."
            ],
            "enum": [
              "POLICY_TYPE_UNSPECIFIED",
              "FINE_GRAINED_ACCESS_CONTROL"
            ]
          }
        },
        "displayName": {
          "description": "Required. Display name of the taxonomy. Max 200 bytes when encoded in UTF-8.",
          "type": "string"
        },
        "policyTags": {
          "description": "Top level policy tags associated with the taxonomy if any.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SerializedPolicyTag"
          }
        },
        "description": {
          "description": "Description of the serialized taxonomy. The length of the description is limited to 2000 bytes when encoded in UTF-8. If not set, defaults to an empty description.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1SerializedTaxonomy",
      "description": "Message capturing a taxonomy and its policy tag hierarchy as a nested proto. Used for taxonomy import/export and mutation."
    },
    "GoogleCloudDatacatalogV1CommonUsageStats": {
      "type": "object",
      "description": "Common statistics on the entry's usage. They can be set on any system.",
      "properties": {
        "viewCount": {
          "format": "int64",
          "type": "string",
          "description": "View count in source system."
        }
      },
      "id": "GoogleCloudDatacatalogV1CommonUsageStats"
    },
    "GoogleCloudDatacatalogV1ImportEntriesResponse": {
      "id": "GoogleCloudDatacatalogV1ImportEntriesResponse",
      "properties": {
        "deletedEntriesCount": {
          "format": "int64",
          "description": "Number of entries deleted as a result of import operation.",
          "type": "string"
        },
        "upsertedEntriesCount": {
          "type": "string",
          "description": "Cumulative number of entries created and entries updated as a result of import operation.",
          "format": "int64"
        }
      },
      "description": "Response message for long-running operation returned by the ImportEntries.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndProperties": {
      "description": "The label and its properties. Each label is associated with a set of properties.",
      "properties": {
        "label": {
          "type": "string",
          "description": "Required. The name of the label."
        },
        "properties": {
          "type": "array",
          "description": "Optional. The properties associated with the label.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty"
          }
        }
      },
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndProperties",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1TagFieldEnumValue": {
      "id": "GoogleCloudDatacatalogV1TagFieldEnumValue",
      "properties": {
        "displayName": {
          "description": "The display name of the enum value.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An enum value."
    },
    "GoogleCloudDatacatalogV1ModelSpec": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ModelSpec",
      "properties": {
        "vertexModelSpec": {
          "description": "Specification for vertex model resources.",
          "$ref": "GoogleCloudDatacatalogV1VertexModelSpec"
        }
      },
      "description": "Specification that applies to a model. Valid only for entries with the `MODEL` type."
    },
    "GoogleCloudDatacatalogV1UsageStats": {
      "properties": {
        "totalCompletions": {
          "description": "The number of successful uses of the underlying entry.",
          "type": "number",
          "format": "float"
        },
        "totalFailures": {
          "format": "float",
          "description": "The number of failed attempts to use the underlying entry.",
          "type": "number"
        },
        "totalCancellations": {
          "description": "The number of cancelled attempts to use the underlying entry.",
          "type": "number",
          "format": "float"
        },
        "totalExecutionTimeForCompletionsMillis": {
          "type": "number",
          "description": "Total time spent only on successful uses, in milliseconds.",
          "format": "float"
        }
      },
      "id": "GoogleCloudDatacatalogV1UsageStats",
      "type": "object",
      "description": "Detailed statistics on the entry's usage. Usage statistics have the following limitations: - Only BigQuery tables have them. - They only include BigQuery query jobs. - They might be underestimated because wildcard table references are not yet counted. For more information, see [Querying multiple tables using a wildcard table] (https://cloud.google.com/bigquery/docs/querying-wildcard-tables)"
    },
    "GoogleCloudDatacatalogV1RoutineSpec": {
      "description": "Specification that applies to a routine. Valid only for entries with the `ROUTINE` type.",
      "type": "object",
      "properties": {
        "bigqueryRoutineSpec": {
          "$ref": "GoogleCloudDatacatalogV1BigQueryRoutineSpec",
          "description": "Fields specific for BigQuery routines."
        },
        "returnType": {
          "description": "Return type of the argument. The exact value depends on the source system and the language.",
          "type": "string"
        },
        "routineArguments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1RoutineSpecArgument"
          },
          "description": "Arguments of the routine."
        },
        "routineType": {
          "enum": [
            "ROUTINE_TYPE_UNSPECIFIED",
            "SCALAR_FUNCTION",
            "PROCEDURE"
          ],
          "description": "The type of the routine.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Non-builtin permanent scalar function.",
            "Stored procedure."
          ]
        },
        "language": {
          "type": "string",
          "description": "The language the routine is written in. The exact value depends on the source system. For BigQuery routines, possible values are: * `SQL` * `JAVASCRIPT`"
        },
        "definitionBody": {
          "description": "The body of the routine.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1RoutineSpec"
    },
    "GoogleCloudDatacatalogV1DatabaseTableSpec": {
      "id": "GoogleCloudDatacatalogV1DatabaseTableSpec",
      "description": "Specification that applies to a table resource. Valid only for entries with the `TABLE` type.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default unknown table type.",
            "Native table.",
            "External table."
          ],
          "enum": [
            "TABLE_TYPE_UNSPECIFIED",
            "NATIVE",
            "EXTERNAL"
          ],
          "description": "Type of this table.",
          "type": "string"
        },
        "dataplexTable": {
          "description": "Output only. Fields specific to a Dataplex Universal Catalog table and present only in the Dataplex Universal Catalog table entries.",
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1DataplexTableSpec"
        },
        "databaseViewSpec": {
          "$ref": "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec",
          "description": "Spec what applies to tables that are actually views. Not set for \"real\" tables."
        }
      }
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema": {
      "type": "object",
      "description": "Schema in Thrift format.",
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema",
      "properties": {
        "text": {
          "description": "Thrift IDL source of the schema.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1ListTaxonomiesResponse": {
      "description": "Response message for ListTaxonomies.",
      "type": "object",
      "properties": {
        "taxonomies": {
          "type": "array",
          "description": "Taxonomies that the project contains.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1Taxonomy"
          }
        },
        "nextPageToken": {
          "description": "Token used to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1ListTaxonomiesResponse"
    },
    "GoogleCloudDatacatalogV1TagField": {
      "description": "Contains the value and additional information on a field within a Tag.",
      "type": "object",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "The value of a tag field with a string type. The maximum length is 2000 UTF-8 characters."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of this field.",
          "type": "string"
        },
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "The value of a tag field with a double type."
        },
        "order": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The order of this field with respect to other fields in this tag. Can be set by Tag. For example, a higher value can indicate a more important field. The value can be negative. Multiple fields can have the same order, and field orders within a tag don't have to be sequential.",
          "readOnly": true
        },
        "enumValue": {
          "description": "The value of a tag field with an enum type. This value must be one of the allowed values listed in this enum.",
          "$ref": "GoogleCloudDatacatalogV1TagFieldEnumValue"
        },
        "boolValue": {
          "type": "boolean",
          "description": "The value of a tag field with a boolean type."
        },
        "richtextValue": {
          "description": "The value of a tag field with a rich text type. The maximum length is 10 MiB as this value holds HTML descriptions including encoded images. The maximum length of the text without images is 100 KiB.",
          "type": "string"
        },
        "timestampValue": {
          "type": "string",
          "format": "google-datetime",
          "description": "The value of a tag field with a timestamp type."
        }
      },
      "id": "GoogleCloudDatacatalogV1TagField"
    },
    "GoogleCloudDatacatalogV1beta1Schema": {
      "id": "GoogleCloudDatacatalogV1beta1Schema",
      "description": "Represents a schema (e.g. BigQuery, GoogleSQL, Avro schema).",
      "type": "object",
      "properties": {
        "columns": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1ColumnSchema"
          },
          "type": "array",
          "description": "Required. Schema of columns. A maximum of 10,000 columns and sub-columns can be specified."
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1ListPolicyTagsResponse": {
      "id": "GoogleCloudDatacatalogV1beta1ListPolicyTagsResponse",
      "description": "Response message for ListPolicyTags.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token used to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "policyTags": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1PolicyTag"
          },
          "description": "The policy tags that are in the requested taxonomy.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTable": {
      "description": "Element table definition.",
      "type": "object",
      "properties": {
        "sourceNodeReference": {
          "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference",
          "description": "Optional. The source node reference of the edge."
        },
        "alias": {
          "description": "Required. The alias name of the graph element.",
          "type": "string"
        },
        "dataSource": {
          "description": "Required. The name of the data source. This is either a table name or a view name that is used for graph element input source. E.g. `Person` table or `PersonView` view.",
          "type": "string"
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "NODE",
            "EDGE"
          ],
          "description": "Required. The kind of the graph element.",
          "enumDescriptions": [
            "Default unknown kind.",
            "Node kind.",
            "Edge kind."
          ],
          "type": "string"
        },
        "destinationNodeReference": {
          "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference",
          "description": "Optional. The destination node reference of the edge."
        },
        "dynamicLabelColumn": {
          "description": "Optional. If set, this is the input column for dynamic label in schemaless data model.",
          "type": "string"
        },
        "inputSource": {
          "enumDescriptions": [
            "Default unknown input source.",
            "Table input source.",
            "View input source."
          ],
          "type": "string",
          "enum": [
            "INPUT_SOURCE_UNSPECIFIED",
            "TABLE",
            "VIEW"
          ],
          "description": "Required. The input source of the graph element."
        },
        "dynamicPropertiesColumn": {
          "type": "string",
          "description": "Optional. If set, this is the input column for dynamic properties in schemaless data model."
        },
        "elementKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The name of the keys of the elements in the table."
        },
        "labelAndProperties": {
          "type": "array",
          "description": "Required. The labels and their properties for the graph element.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndProperties"
          }
        }
      },
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTable"
    },
    "GoogleCloudDatacatalogV1EntryOverview": {
      "id": "GoogleCloudDatacatalogV1EntryOverview",
      "properties": {
        "overview": {
          "type": "string",
          "description": "Entry overview with support for rich text. The overview must only contain Unicode characters, and should be formatted using HTML. The maximum length is 10 MiB as this value holds HTML descriptions including encoded images. The maximum length of the text without images is 100 KiB."
        }
      },
      "description": "Entry overview fields for rich text descriptions of entries.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1FieldTypeEnumTypeEnumValue": {
      "id": "GoogleCloudDatacatalogV1beta1FieldTypeEnumTypeEnumValue",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the enum value. Must not be an empty string."
        }
      }
    },
    "GoogleCloudDatacatalogV1GraphSpec": {
      "type": "object",
      "description": "Specification that applies to a graph.",
      "id": "GoogleCloudDatacatalogV1GraphSpec",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Fully qualified graph name. e.g. `named_catalog.MyGraph`"
        },
        "nodeTables": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTable"
          },
          "description": "Required. Node tables of the graph."
        },
        "edgeTables": {
          "type": "array",
          "description": "Optional. Edge tables of the graph.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTable"
          }
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1ListEntryGroupsResponse": {
      "properties": {
        "entryGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1EntryGroup"
          },
          "description": "EntryGroup details."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. It is set to empty if no items remain in results."
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1ListEntryGroupsResponse",
      "type": "object",
      "description": "Response message for ListEntryGroups."
    },
    "GoogleCloudDatacatalogV1DataSource": {
      "id": "GoogleCloudDatacatalogV1DataSource",
      "type": "object",
      "description": "Physical location of an entry.",
      "properties": {
        "sourceEntry": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Data Catalog entry name, if applicable."
        },
        "storageProperties": {
          "description": "Detailed properties of the underlying storage.",
          "$ref": "GoogleCloudDatacatalogV1StorageProperties"
        },
        "resource": {
          "type": "string",
          "description": "Full name of a resource as defined by the service. For example: `//bigquery.googleapis.com/projects/{PROJECT_ID}/locations/{LOCATION}/datasets/{DATASET_ID}/tables/{TABLE_ID}`"
        },
        "service": {
          "enum": [
            "SERVICE_UNSPECIFIED",
            "CLOUD_STORAGE",
            "BIGQUERY"
          ],
          "description": "Service that physically stores the data.",
          "type": "string",
          "enumDescriptions": [
            "Default unknown service.",
            "Google Cloud Storage service.",
            "BigQuery service."
          ]
        }
      }
    },
    "GoogleCloudDatacatalogV1BigQueryTableSpec": {
      "type": "object",
      "description": "Describes a BigQuery table.",
      "properties": {
        "tableSpec": {
          "$ref": "GoogleCloudDatacatalogV1TableSpec",
          "description": "Specification of a BigQuery table. Populated only if the `table_source_type` is `BIGQUERY_TABLE`."
        },
        "viewSpec": {
          "description": "Table view specification. Populated only if the `table_source_type` is `BIGQUERY_VIEW`.",
          "$ref": "GoogleCloudDatacatalogV1ViewSpec"
        },
        "tableSourceType": {
          "enumDescriptions": [
            "Default unknown type.",
            "Table view.",
            "BigQuery native table.",
            "BigQuery materialized view."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The table source type.",
          "enum": [
            "TABLE_SOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_VIEW",
            "BIGQUERY_TABLE",
            "BIGQUERY_MATERIALIZED_VIEW"
          ]
        }
      },
      "id": "GoogleCloudDatacatalogV1BigQueryTableSpec"
    },
    "GoogleCloudDatacatalogV1DataplexExternalTable": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1DataplexExternalTable",
      "properties": {
        "fullyQualifiedName": {
          "description": "Fully qualified name (FQN) of the external table.",
          "type": "string"
        },
        "system": {
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB",
            "DATAPROC_METASTORE",
            "DATAPLEX",
            "CLOUD_SPANNER",
            "CLOUD_BIGTABLE",
            "CLOUD_SQL",
            "LOOKER",
            "VERTEX_AI"
          ],
          "description": "Service in which the external table is registered.",
          "type": "string",
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub.",
            "Dataproc Metastore.",
            "Dataplex Universal Catalog.",
            "Cloud Spanner",
            "Cloud Bigtable",
            "Cloud Sql",
            "Looker",
            "Vertex AI"
          ]
        },
        "googleCloudResource": {
          "type": "string",
          "description": "Google Cloud resource name of the external table."
        },
        "dataCatalogEntry": {
          "description": "Name of the Data Catalog entry representing the external table.",
          "type": "string"
        }
      },
      "description": "External table registered by Dataplex Universal Catalog. Dataplex Universal Catalog publishes data discovered from an asset into multiple other systems (BigQuery, DPMS) in form of tables. We call them \"external tables\". External tables are also synced into the Data Catalog. This message contains pointers to those external tables (fully qualified name, resource name et cetera) within the Data Catalog."
    },
    "GoogleCloudDatacatalogV1beta1PolicyTag": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1PolicyTag",
      "properties": {
        "childPolicyTags": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Resource names of child policy tags of this policy tag."
        },
        "name": {
          "description": "Identifier. Resource name of this policy tag, whose format is: \"projects/{project_number}/locations/{location_id}/taxonomies/{taxonomy_id}/policyTags/{id}\".",
          "type": "string"
        },
        "displayName": {
          "description": "Required. User defined name of this policy tag. It must: be unique within the parent taxonomy; contain only unicode letters, numbers, underscores, dashes and spaces; not start or end with spaces; and be at most 200 bytes long when encoded in UTF-8.",
          "type": "string"
        },
        "parentPolicyTag": {
          "description": "Resource name of this policy tag's parent policy tag (e.g. for the \"LatLong\" policy tag in the example above, this field contains the resource name of the \"Geolocation\" policy tag). If empty, it means this policy tag is a top level policy tag (e.g. this field is empty for the \"Geolocation\" policy tag in the example above). If not set, defaults to an empty string.",
          "type": "string"
        },
        "description": {
          "description": "Description of this policy tag. It must: contain only unicode characters, tabs, newlines, carriage returns and page breaks; and be at most 2000 bytes long when encoded in UTF-8. If not set, defaults to an empty description. If not set, defaults to an empty description.",
          "type": "string"
        }
      },
      "description": "Denotes one policy tag in a taxonomy (e.g. ssn). Policy Tags can be defined in a hierarchy. For example, consider the following hierarchy: Geolocation -> (LatLong, City, ZipCode). PolicyTag \"Geolocation\" contains three child policy tags: \"LatLong\", \"City\", and \"ZipCode\"."
    },
    "GoogleCloudDatacatalogV1ColumnSchemaFieldElementType": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ColumnSchemaFieldElementType",
      "description": "Represents the type of a field element.",
      "properties": {
        "type": {
          "description": "Required. The type of a field element. See ColumnSchema.type.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1BigQueryConnectionSpec": {
      "type": "object",
      "properties": {
        "connectionType": {
          "type": "string",
          "description": "The type of the BigQuery connection.",
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "CLOUD_SQL"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "Cloud SQL connection."
          ]
        },
        "cloudSql": {
          "description": "Specification for the BigQuery connection to a Cloud SQL instance.",
          "$ref": "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec"
        },
        "hasCredential": {
          "type": "boolean",
          "description": "True if there are credentials attached to the BigQuery connection; false otherwise."
        }
      },
      "description": "Specification for the BigQuery connection.",
      "id": "GoogleCloudDatacatalogV1BigQueryConnectionSpec"
    },
    "GoogleCloudDatacatalogV1DataplexFilesetSpec": {
      "type": "object",
      "properties": {
        "dataplexSpec": {
          "$ref": "GoogleCloudDatacatalogV1DataplexSpec",
          "description": "Common Dataplex Universal Catalog fields."
        }
      },
      "id": "GoogleCloudDatacatalogV1DataplexFilesetSpec",
      "description": "Entry specification for a Dataplex Universal Catalog fileset."
    },
    "GoogleCloudDatacatalogV1beta1UsageSignal": {
      "type": "object",
      "description": "The set of all usage signals that we store in Data Catalog.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp of the end of the usage statistics duration."
        },
        "usageWithinTimeRange": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1beta1UsageStats"
          },
          "description": "Usage statistics over each of the pre-defined time ranges, supported strings for time ranges are {\"24H\", \"7D\", \"30D\"}."
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1UsageSignal"
    },
    "GoogleCloudDatacatalogV1VertexDatasetSpec": {
      "description": "Specification for vertex dataset resources.",
      "id": "GoogleCloudDatacatalogV1VertexDatasetSpec",
      "type": "object",
      "properties": {
        "dataItemCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of DataItems in this Dataset. Only apply for non-structured Dataset."
        },
        "dataType": {
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "Structured data dataset.",
            "Image dataset which supports ImageClassification, ImageObjectDetection and ImageSegmentation problems.",
            "Document dataset which supports TextClassification, TextExtraction and TextSentiment problems.",
            "Video dataset which supports VideoClassification, VideoObjectTracking and VideoActionRecognition problems.",
            "Conversation dataset which supports conversation problems.",
            "TimeSeries dataset.",
            "Document dataset which supports DocumentAnnotation problems.",
            "TextToSpeech dataset which supports TextToSpeech problems.",
            "Translation dataset which supports Translation problems.",
            "Store Vision dataset which is used for HITL integration.",
            "Enterprise Knowledge Graph dataset which is used for HITL labeling integration.",
            "Text prompt dataset which supports Large Language Models."
          ],
          "description": "Type of the dataset.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "TABLE",
            "IMAGE",
            "TEXT",
            "VIDEO",
            "CONVERSATION",
            "TIME_SERIES",
            "DOCUMENT",
            "TEXT_TO_SPEECH",
            "TRANSLATION",
            "STORE_VISION",
            "ENTERPRISE_KNOWLEDGE_GRAPH",
            "TEXT_PROMPT"
          ]
        }
      }
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema",
      "properties": {},
      "description": "Marks an ORC-encoded data source."
    },
    "GoogleCloudDatacatalogV1FeatureOnlineStoreSpec": {
      "id": "GoogleCloudDatacatalogV1FeatureOnlineStoreSpec",
      "description": "Detail description of the source information of a Vertex Feature Online Store.",
      "properties": {
        "storageType": {
          "description": "Output only. Type of underlying storage for the FeatureOnlineStore.",
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "Underlsying storgae is Bigtable.",
            "Underlying is optimized online server (Lightning)."
          ],
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "BIGTABLE",
            "OPTIMIZED"
          ],
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1Schema": {
      "description": "Represents a schema, for example, a BigQuery, GoogleSQL, or Avro schema.",
      "properties": {
        "columns": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1ColumnSchema"
          },
          "description": "The unified GoogleSQL-like schema of columns. The overall maximum number of columns and nested columns is 10,000. The maximum nested depth is 15 levels.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1Schema"
    },
    "GetIamPolicyRequest": {
      "description": "Request message for `GetIamPolicy` method.",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      },
      "type": "object",
      "id": "GetIamPolicyRequest"
    },
    "GoogleCloudDatacatalogV1beta1TableSpec": {
      "type": "object",
      "properties": {
        "groupedEntry": {
          "readOnly": true,
          "description": "Output only. If the table is a dated shard, i.e., with name pattern `[prefix]YYYYMMDD`, `grouped_entry` is the Data Catalog resource name of the date sharded grouped entry, for example, `projects/{project_id}/locations/{location}/entrygroups/{entry_group_id}/entries/{entry_id}`. Otherwise, `grouped_entry` is empty.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1TableSpec",
      "description": "Normal BigQuery table spec."
    },
    "GoogleCloudDatacatalogV1beta1ImportTaxonomiesResponse": {
      "type": "object",
      "description": "Response message for ImportTaxonomies.",
      "properties": {
        "taxonomies": {
          "description": "Taxonomies that were imported.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1Taxonomy"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1ImportTaxonomiesResponse"
    },
    "GoogleCloudDatacatalogV1beta1FieldTypeEnumType": {
      "id": "GoogleCloudDatacatalogV1beta1FieldTypeEnumType",
      "properties": {
        "allowedValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1FieldTypeEnumTypeEnumValue"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1FieldType": {
      "properties": {
        "enumType": {
          "description": "Represents an enum type.",
          "$ref": "GoogleCloudDatacatalogV1beta1FieldTypeEnumType"
        },
        "primitiveType": {
          "enum": [
            "PRIMITIVE_TYPE_UNSPECIFIED",
            "DOUBLE",
            "STRING",
            "BOOL",
            "TIMESTAMP"
          ],
          "enumDescriptions": [
            "This is the default invalid value for a type.",
            "A double precision number.",
            "An UTF-8 string.",
            "A boolean value.",
            "A timestamp."
          ],
          "description": "Represents primitive types - string, bool etc.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1FieldType"
    },
    "GoogleCloudDatacatalogV1beta1TaxonomyService": {
      "id": "GoogleCloudDatacatalogV1beta1TaxonomyService",
      "type": "object",
      "description": "The source system of the Taxonomy.",
      "properties": {
        "name": {
          "enum": [
            "MANAGING_SYSTEM_UNSPECIFIED",
            "MANAGING_SYSTEM_DATAPLEX",
            "MANAGING_SYSTEM_OTHER"
          ],
          "enumDescriptions": [
            "Default value",
            "Dataplex Universal Catalog.",
            "Other"
          ],
          "description": "The Google Cloud service name.",
          "type": "string"
        },
        "identity": {
          "type": "string",
          "description": "The service agent for the service."
        }
      }
    },
    "GoogleCloudDatacatalogV1SpannerTableSpec": {
      "id": "GoogleCloudDatacatalogV1SpannerTableSpec",
      "type": "object",
      "properties": {
        "primaryKey": {
          "description": "Output only. The primary key of the table.",
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerPrimaryKey"
        },
        "foreignKeys": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKey"
          },
          "description": "Output only. The foreign keys of the table.",
          "readOnly": true
        }
      },
      "description": "Specification of a Spanner table."
    },
    "GoogleCloudDatacatalogV1beta1ListTagsResponse": {
      "id": "GoogleCloudDatacatalogV1beta1ListTagsResponse",
      "type": "object",
      "properties": {
        "tags": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1Tag"
          },
          "description": "Tag details.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. It is set to empty if no items remain in results."
        }
      },
      "description": "Response message for ListTags."
    },
    "GoogleCloudDatacatalogV1beta1TagTemplate": {
      "id": "GoogleCloudDatacatalogV1beta1TagTemplate",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name for this template. Defaults to an empty string."
        },
        "name": {
          "description": "Identifier. The resource name of the tag template in URL format. Example: * projects/{project_id}/locations/{location}/tagTemplates/{tag_template_id} Note that this TagTemplate and its child resources may not actually be stored in the location in this name.",
          "type": "string"
        },
        "fields": {
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1beta1TagTemplateField"
          },
          "type": "object",
          "description": "Required. Map of tag template field IDs to the settings for the field. This map is an exhaustive list of the allowed fields. This map must contain at least one field and at most 500 fields. The keys to this map are tag template field IDs. Field IDs can contain letters (both uppercase and lowercase), numbers (0-9) and underscores (_). Field IDs must be at least 1 character long and at most 64 characters long. Field IDs must start with a letter or underscore."
        },
        "dataplexTransferStatus": {
          "type": "string",
          "enumDeprecated": [
            false,
            true
          ],
          "readOnly": true,
          "description": "Output only. Transfer status of the TagTemplate",
          "enumDescriptions": [
            "Default value. TagTemplate and its tags are only visible and editable in DataCatalog.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Data Catalog, read-only in Dataplex Universal Catalog. Deprecated: Individual TagTemplate migration is deprecated in favor of organization or project wide TagTemplate migration opt-in."
          ],
          "enum": [
            "DATAPLEX_TRANSFER_STATUS_UNSPECIFIED",
            "MIGRATED"
          ]
        }
      },
      "type": "object",
      "description": "A tag template defines a tag, which can have one or more typed fields. The template is used to create and attach the tag to Google Cloud resources. [Tag template roles](https://cloud.google.com/iam/docs/roles-permissions/datacatalog) provide permissions to create, edit, and use the template. See, for example, the [TagTemplate User](https://cloud.google.com/data-catalog/docs/how-to/template-user) role, which includes permission to use the tag template to tag resources."
    },
    "GoogleCloudDatacatalogV1BusinessContext": {
      "type": "object",
      "description": "Business Context of the entry.",
      "properties": {
        "entryOverview": {
          "$ref": "GoogleCloudDatacatalogV1EntryOverview",
          "description": "Entry overview fields for rich text descriptions of entries."
        },
        "contacts": {
          "description": "Contact people for the entry.",
          "$ref": "GoogleCloudDatacatalogV1Contacts"
        }
      },
      "id": "GoogleCloudDatacatalogV1BusinessContext"
    },
    "GoogleCloudDatacatalogV1LookerSystemSpec": {
      "description": "Specification that applies to entries that are part `LOOKER` system (user_specified_type)",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1LookerSystemSpec",
      "properties": {
        "parentModelDisplayName": {
          "type": "string",
          "description": "Name of the parent Model. Empty if it does not exist."
        },
        "parentViewId": {
          "type": "string",
          "description": "ID of the parent View. Empty if it does not exist."
        },
        "parentInstanceId": {
          "description": "ID of the parent Looker Instance. Empty if it does not exist. Example value: `someinstance.looker.com`",
          "type": "string"
        },
        "parentInstanceDisplayName": {
          "type": "string",
          "description": "Name of the parent Looker Instance. Empty if it does not exist."
        },
        "parentViewDisplayName": {
          "description": "Name of the parent View. Empty if it does not exist.",
          "type": "string"
        },
        "parentModelId": {
          "description": "ID of the parent Model. Empty if it does not exist.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1SystemTimestamps": {
      "type": "object",
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "Output only. The expiration time of the resource within the given system. Currently only apllicable to BigQuery resources.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last-modified time of the resource within the given system."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of the resource within the given system."
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1SystemTimestamps",
      "description": "Timestamps about this resource according to a particular system."
    },
    "GoogleCloudDatacatalogV1CloudBigtableInstanceSpec": {
      "id": "GoogleCloudDatacatalogV1CloudBigtableInstanceSpec",
      "description": "Specification that applies to Instance entries that are part of `CLOUD_BIGTABLE` system. (user_specified_type)",
      "type": "object",
      "properties": {
        "cloudBigtableClusterSpecs": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1CloudBigtableInstanceSpecCloudBigtableClusterSpec"
          },
          "description": "The list of clusters for the Instance.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogV1BigQueryDateShardedSpec": {
      "type": "object",
      "properties": {
        "latestShardResource": {
          "readOnly": true,
          "description": "Output only. BigQuery resource name of the latest shard.",
          "type": "string"
        },
        "tablePrefix": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The table name prefix of the shards. The name of any given shard is `[table_prefix]YYYYMMDD`. For example, for the `MyTable20180101` shard, the `table_prefix` is `MyTable`."
        },
        "dataset": {
          "readOnly": true,
          "description": "Output only. The Data Catalog resource name of the dataset entry the current table belongs to. For example: `projects/{PROJECT_ID}/locations/{LOCATION}/entrygroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`.",
          "type": "string"
        },
        "shardCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total number of shards."
        }
      },
      "id": "GoogleCloudDatacatalogV1BigQueryDateShardedSpec",
      "description": "Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding)."
    },
    "GoogleCloudDatacatalogV1beta1BigQueryDateShardedSpec": {
      "type": "object",
      "description": "Spec for a group of BigQuery tables with name pattern `[prefix]YYYYMMDD`. Context: https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding",
      "id": "GoogleCloudDatacatalogV1beta1BigQueryDateShardedSpec",
      "properties": {
        "tablePrefix": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The table name prefix of the shards. The name of any given shard is `[table_prefix]YYYYMMDD`, for example, for shard `MyTable20180101`, the `table_prefix` is `MyTable`."
        },
        "shardCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Total number of shards."
        },
        "dataset": {
          "readOnly": true,
          "description": "Output only. The Data Catalog resource name of the dataset entry the current table belongs to, for example, `projects/{project_id}/locations/{location}/entrygroups/{entry_group_id}/entries/{entry_id}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1ImportTaxonomiesRequest": {
      "type": "object",
      "description": "Request message for ImportTaxonomies.",
      "properties": {
        "inlineSource": {
          "$ref": "GoogleCloudDatacatalogV1beta1InlineSource",
          "description": "Inline source used for taxonomies to be imported."
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1ImportTaxonomiesRequest"
    },
    "GoogleCloudDatacatalogV1StorageProperties": {
      "id": "GoogleCloudDatacatalogV1StorageProperties",
      "type": "object",
      "properties": {
        "filePattern": {
          "description": "Patterns to identify a set of files for this fileset. Examples of a valid `file_pattern`: * `gs://bucket_name/dir/*`: matches all files in the `bucket_name/dir` directory * `gs://bucket_name/dir/**`: matches all files in the `bucket_name/dir` and all subdirectories recursively * `gs://bucket_name/file*`: matches files prefixed by `file` in `bucket_name` * `gs://bucket_name/??.txt`: matches files with two characters followed by `.txt` in `bucket_name` * `gs://bucket_name/[aeiou].txt`: matches files that contain a single vowel character followed by `.txt` in `bucket_name` * `gs://bucket_name/[a-m].txt`: matches files that contain `a`, `b`, ... or `m` followed by `.txt` in `bucket_name` * `gs://bucket_name/a/*/b`: matches all files in `bucket_name` that match the `a/*/b` pattern, such as `a/c/b`, `a/d/b` * `gs://another_bucket/a.txt`: matches `gs://another_bucket/a.txt`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "fileType": {
          "type": "string",
          "description": "File type in MIME format, for example, `text/plain`."
        }
      },
      "description": "Details the properties of the underlying storage."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1CloudBigtableSystemSpec": {
      "description": "Specification that applies to all entries that are part of `CLOUD_BIGTABLE` system (user_specified_type)",
      "id": "GoogleCloudDatacatalogV1CloudBigtableSystemSpec",
      "properties": {
        "instanceDisplayName": {
          "type": "string",
          "description": "Display name of the Instance. This is user specified and different from the resource name."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1UsageSignal": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1UsageSignal",
      "description": "The set of all usage signals that Data Catalog stores. Note: Usually, these signals are updated daily. In rare cases, an update may fail but will be performed again on the next day.",
      "properties": {
        "updateTime": {
          "description": "The end timestamp of the duration of usage statistics.",
          "type": "string",
          "format": "google-datetime"
        },
        "usageWithinTimeRange": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1UsageStats"
          },
          "description": "Output only. BigQuery usage statistics over each of the predefined time ranges. Supported time ranges are `{\"24H\", \"7D\", \"30D\"}`."
        },
        "favoriteCount": {
          "description": "Favorite count in the source system.",
          "type": "string",
          "format": "int64"
        },
        "commonUsageWithinTimeRange": {
          "type": "object",
          "description": "Common usage statistics over each of the predefined time ranges. Supported time ranges are `{\"24H\", \"7D\", \"30D\", \"Lifetime\"}`.",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1CommonUsageStats"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema": {
      "description": "Schema in protocol buffer format.",
      "properties": {
        "text": {
          "description": "Protocol buffer source of the schema.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema"
    },
    "GoogleCloudDatacatalogV1DataplexTableSpec": {
      "type": "object",
      "properties": {
        "userManaged": {
          "type": "boolean",
          "description": "Indicates if the table schema is managed by the user or not."
        },
        "externalTables": {
          "description": "List of external tables registered by Dataplex Universal Catalog in other systems based on the same underlying data. External tables allow to query this data in those systems.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1DataplexExternalTable"
          },
          "type": "array"
        },
        "dataplexSpec": {
          "$ref": "GoogleCloudDatacatalogV1DataplexSpec",
          "description": "Common Dataplex Universal Catalog fields."
        }
      },
      "id": "GoogleCloudDatacatalogV1DataplexTableSpec",
      "description": "Entry specification for a Dataplex Universal Catalog table."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1TableSpec": {
      "properties": {
        "groupedEntry": {
          "description": "Output only. If the table is date-sharded, that is, it matches the `[prefix]YYYYMMDD` name pattern, this field is the Data Catalog resource name of the date-sharded grouped entry. For example: `projects/{PROJECT_ID}/locations/{LOCATION}/entrygroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`. Otherwise, `grouped_entry` is empty.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Normal BigQuery table specification.",
      "id": "GoogleCloudDatacatalogV1TableSpec",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ViewSpec": {
      "properties": {
        "viewQuery": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The query that defines the table view."
        }
      },
      "id": "GoogleCloudDatacatalogV1ViewSpec",
      "description": "Table view specification.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema": {
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema",
      "description": "Schema in Avro JSON format.",
      "type": "object",
      "properties": {
        "text": {
          "description": "JSON source of the Avro schema.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1ReconcileTagsMetadata": {
      "id": "GoogleCloudDatacatalogV1ReconcileTagsMetadata",
      "description": "Long-running operation metadata message returned by the ReconcileTags.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The reconciliation has been queued and awaits for execution.",
            "The reconciliation is in progress.",
            "The reconciliation has been finished."
          ],
          "enum": [
            "RECONCILIATION_STATE_UNSPECIFIED",
            "RECONCILIATION_QUEUED",
            "RECONCILIATION_IN_PROGRESS",
            "RECONCILIATION_DONE"
          ],
          "description": "State of the reconciliation operation.",
          "type": "string"
        },
        "errors": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Status"
          },
          "description": "Maps the name of each tagged column (or empty string for a sole entry) to tagging operation status."
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1GcsFileSpec": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1GcsFileSpec",
      "description": "Specifications of a single file in Cloud Storage.",
      "properties": {
        "sizeBytes": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The size of the file, in bytes.",
          "type": "string"
        },
        "gcsTimestamps": {
          "$ref": "GoogleCloudDatacatalogV1beta1SystemTimestamps",
          "description": "Output only. Timestamps about the Cloud Storage file.",
          "readOnly": true
        },
        "filePath": {
          "description": "Required. The full file path. Example: `gs://bucket_name/a/b.txt`.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "GoogleCloudDatacatalogV1beta1TagTemplateField": {
      "description": "The template for an individual field within a tag template.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. The type of value this tag field can contain.",
          "$ref": "GoogleCloudDatacatalogV1beta1FieldType"
        },
        "description": {
          "type": "string",
          "description": "The description for this field. Defaults to an empty string."
        },
        "order": {
          "format": "int32",
          "type": "integer",
          "description": "The order of this field with respect to other fields in this tag template. A higher value indicates a more important field. The value can be negative. Multiple fields can have the same order, and field orders within a tag do not have to be sequential."
        },
        "displayName": {
          "type": "string",
          "description": "The display name for this field. Defaults to an empty string."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of the tag template field in URL format. Example: * projects/{project_id}/locations/{location}/tagTemplates/{tag_template}/fields/{field} Note that this TagTemplateField may not actually be stored in the location in this name.",
          "type": "string"
        },
        "isRequired": {
          "description": "Whether this is a required field. Defaults to false.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1TagTemplateField"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema": {
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema",
      "type": "object",
      "description": "Marks a CSV-encoded data source.",
      "properties": {}
    },
    "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified database type.",
            "Cloud SQL for PostgreSQL.",
            "Cloud SQL for MySQL."
          ],
          "description": "Type of the Cloud SQL database.",
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "POSTGRES",
            "MYSQL"
          ]
        },
        "database": {
          "description": "Database name.",
          "type": "string"
        },
        "instanceId": {
          "description": "Cloud SQL instance ID in the format of `project:location:instance`.",
          "type": "string"
        }
      },
      "description": "Specification for the BigQuery connection to a Cloud SQL instance.",
      "id": "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec"
    },
    "GoogleCloudDatacatalogV1CloudBigtableInstanceSpecCloudBigtableClusterSpec": {
      "description": "Spec that applies to clusters of an Instance of Cloud Bigtable.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the resource. For a cluster this would be \"CLUSTER\"."
        },
        "location": {
          "type": "string",
          "description": "Location of the cluster, typically a Cloud zone."
        },
        "displayName": {
          "description": "Name of the cluster.",
          "type": "string"
        },
        "linkedResource": {
          "type": "string",
          "description": "A link back to the parent resource, in this case Instance."
        }
      },
      "id": "GoogleCloudDatacatalogV1CloudBigtableInstanceSpecCloudBigtableClusterSpec",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DataplexSpec": {
      "id": "GoogleCloudDatacatalogV1DataplexSpec",
      "description": "Common Dataplex Universal Catalog fields.",
      "properties": {
        "projectId": {
          "description": "Project ID of the underlying Cloud Storage or BigQuery data. Note that this may not be the same project as the corresponding Dataplex Universal Catalog lake / zone / asset.",
          "type": "string"
        },
        "dataFormat": {
          "description": "Format of the data.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchema"
        },
        "compressionFormat": {
          "description": "Compression format of the data, e.g., zip, gzip etc.",
          "type": "string"
        },
        "asset": {
          "description": "Fully qualified resource name of an asset in Dataplex Universal Catalog, to which the underlying data source (Cloud Storage bucket or BigQuery dataset) of the entity is attached.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DatasetSpec": {
      "id": "GoogleCloudDatacatalogV1DatasetSpec",
      "type": "object",
      "description": "Specification that applies to a dataset. Valid only for entries with the `DATASET` type.",
      "properties": {
        "vertexDatasetSpec": {
          "description": "Vertex AI Dataset specific fields",
          "$ref": "GoogleCloudDatacatalogV1VertexDatasetSpec"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1TagField": {
      "type": "object",
      "description": "Contains the value and supporting information for a field within a Tag.",
      "id": "GoogleCloudDatacatalogV1beta1TagField",
      "properties": {
        "order": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The order of this field with respect to other fields in this tag. It can be set in Tag. For example, a higher value can indicate a more important field. The value can be negative. Multiple fields can have the same order, and field orders within a tag do not have to be sequential.",
          "type": "integer"
        },
        "timestampValue": {
          "type": "string",
          "description": "Holds the value for a tag field with timestamp type.",
          "format": "google-datetime"
        },
        "stringValue": {
          "description": "Holds the value for a tag field with string type.",
          "type": "string"
        },
        "boolValue": {
          "description": "Holds the value for a tag field with boolean type.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Output only. The display name of this field.",
          "type": "string",
          "readOnly": true
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "Holds the value for a tag field with double type."
        },
        "enumValue": {
          "$ref": "GoogleCloudDatacatalogV1beta1TagFieldEnumValue",
          "description": "Holds the value for a tag field with enum type. This value must be one of the allowed values in the definition of this enum."
        }
      }
    },
    "GoogleCloudDatacatalogV1Tag": {
      "type": "object",
      "properties": {
        "templateDisplayName": {
          "readOnly": true,
          "description": "Output only. The display name of the tag template.",
          "type": "string"
        },
        "column": {
          "type": "string",
          "description": "Resources like entry can have schemas associated with them. This scope allows you to attach tags to an individual column based on that schema. To attach a tag to a nested column, separate column names with a dot (`.`). Example: `column.nested_column`."
        },
        "name": {
          "description": "Identifier. The resource name of the tag in URL format where tag ID is a system-generated identifier. Note: The tag itself might not be stored in the location specified in its name.",
          "type": "string"
        },
        "template": {
          "description": "Required. The resource name of the tag template this tag uses. Example: `projects/{PROJECT_ID}/locations/{LOCATION}/tagTemplates/{TAG_TEMPLATE_ID}` This field cannot be modified after creation.",
          "type": "string"
        },
        "fields": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1TagField"
          },
          "description": "Required. Maps the ID of a tag field to its value and additional information about that field. Tag template defines valid field IDs. A tag must have at least 1 field and at most 500 fields."
        },
        "dataplexTransferStatus": {
          "type": "string",
          "enumDescriptions": [
            "Default value. TagTemplate and its tags are only visible and editable in Data Catalog.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Data Catalog, read-only in Dataplex Universal Catalog. Deprecated: Individual TagTemplate migration is deprecated in favor of organization or project wide TagTemplate migration opt-in.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Dataplex Universal Catalog, read-only in Data Catalog."
          ],
          "readOnly": true,
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "description": "Output only. Denotes the transfer status of the Tag Template.",
          "enum": [
            "DATAPLEX_TRANSFER_STATUS_UNSPECIFIED",
            "MIGRATED",
            "TRANSFERRED"
          ]
        }
      },
      "description": "Tags contain custom metadata and are attached to Data Catalog resources. Tags conform with the specification of their tag template. See [Data Catalog IAM](https://cloud.google.com/data-catalog/docs/concepts/iam) for information on the permissions needed to create or view tags.",
      "id": "GoogleCloudDatacatalogV1Tag"
    },
    "GoogleCloudDatacatalogV1ColumnSchema": {
      "id": "GoogleCloudDatacatalogV1ColumnSchema",
      "properties": {
        "type": {
          "description": "Required. Type of the column. Must be a UTF-8 string with the maximum size of 128 bytes.",
          "type": "string"
        },
        "rangeElementType": {
          "$ref": "GoogleCloudDatacatalogV1ColumnSchemaFieldElementType",
          "description": "Optional. The subtype of the RANGE, if the type of this field is RANGE. If the type is RANGE, this field is required. Possible values for the field element type of a RANGE include: * DATE * DATETIME * TIMESTAMP"
        },
        "gcRule": {
          "type": "string",
          "description": "Optional. Garbage collection policy for the column or column family. Applies to systems like Cloud Bigtable."
        },
        "ordinalPosition": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Ordinal position"
        },
        "subcolumns": {
          "description": "Optional. Schema of sub-columns. A column can have zero or more sub-columns.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1ColumnSchema"
          }
        },
        "lookerColumnSpec": {
          "$ref": "GoogleCloudDatacatalogV1ColumnSchemaLookerColumnSpec",
          "description": "Looker specific column info of this column."
        },
        "defaultValue": {
          "description": "Optional. Default value for the column.",
          "type": "string"
        },
        "mode": {
          "description": "Optional. A column's mode indicates whether values in this column are required, nullable, or repeated. Only `NULLABLE`, `REQUIRED`, and `REPEATED` values are supported. Default mode is `NULLABLE`.",
          "type": "string"
        },
        "highestIndexingType": {
          "enum": [
            "INDEXING_TYPE_UNSPECIFIED",
            "INDEXING_TYPE_NONE",
            "INDEXING_TYPE_NON_UNIQUE",
            "INDEXING_TYPE_UNIQUE",
            "INDEXING_TYPE_PRIMARY_KEY"
          ],
          "description": "Optional. Most important inclusion of this column.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Column not a part of an index.",
            "Column Part of non unique index.",
            "Column part of unique index.",
            "Column part of the primary key."
          ]
        },
        "column": {
          "description": "Required. Name of the column. Must be a UTF-8 string without dots (.). The maximum size is 64 bytes.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the column. Default value is an empty string. The description must be a UTF-8 string with the maximum size of 2000 bytes.",
          "type": "string"
        }
      },
      "description": "A column within a schema. Columns can be nested inside other columns.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1FilesetSpec": {
      "properties": {
        "dataplexFileset": {
          "$ref": "GoogleCloudDatacatalogV1DataplexFilesetSpec",
          "description": "Fields specific to a Dataplex Universal Catalog fileset and present only in the Dataplex Universal Catalog fileset entries."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1FilesetSpec",
      "description": "Specification that applies to a fileset. Valid only for entries with the 'FILESET' type."
    },
    "GoogleCloudDatacatalogV1beta1EntryGroup": {
      "type": "object",
      "description": "EntryGroup Metadata. An EntryGroup resource represents a logical grouping of zero or more Data Catalog Entry resources.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the entry group in URL format. Example: * projects/{project_id}/locations/{location}/entryGroups/{entry_group_id} Note that this EntryGroup and its child resources may not actually be stored in the location in this name.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "A short name to identify the entry group, for example, \"analytics data - jan 2011\". Default value is an empty string."
        },
        "dataCatalogTimestamps": {
          "$ref": "GoogleCloudDatacatalogV1beta1SystemTimestamps",
          "description": "Output only. Timestamps about this EntryGroup. Default value is empty timestamps.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Entry group description, which can consist of several sentences or paragraphs that describe entry group contents. Default value is an empty string."
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1EntryGroup"
    },
    "GoogleCloudDatacatalogV1Contacts": {
      "description": "Contact people for the entry.",
      "id": "GoogleCloudDatacatalogV1Contacts",
      "type": "object",
      "properties": {
        "people": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1ContactsPerson"
          },
          "description": "The list of contact people for the entry."
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1ViewSpec": {
      "properties": {
        "viewQuery": {
          "description": "Output only. The query that defines the table view.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Table view specification.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1ViewSpec"
    },
    "GoogleCloudDatacatalogV1beta1SerializedPolicyTag": {
      "properties": {
        "childPolicyTags": {
          "type": "array",
          "description": "Children of the policy tag if any.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SerializedPolicyTag"
          }
        },
        "displayName": {
          "description": "Required. Display name of the policy tag. Max 200 bytes when encoded in UTF-8.",
          "type": "string"
        },
        "policyTag": {
          "description": "Resource name of the policy tag. This field will be ignored when calling ImportTaxonomies.",
          "type": "string"
        },
        "description": {
          "description": "Description of the serialized policy tag. The length of the description is limited to 2000 bytes when encoded in UTF-8. If not set, defaults to an empty description.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1SerializedPolicyTag",
      "type": "object",
      "description": "Message representing one policy tag when exported as a nested proto."
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object",
      "id": "Policy"
    },
    "GoogleCloudDatacatalogV1beta1InlineSource": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1InlineSource",
      "description": "Inline source used for taxonomies import.",
      "properties": {
        "taxonomies": {
          "description": "Required. Taxonomies to be imported.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SerializedTaxonomy"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec": {
      "description": "Specification that applies to database view.",
      "type": "object",
      "properties": {
        "viewType": {
          "type": "string",
          "description": "Type of this view.",
          "enum": [
            "VIEW_TYPE_UNSPECIFIED",
            "STANDARD_VIEW",
            "MATERIALIZED_VIEW"
          ],
          "enumDescriptions": [
            "Default unknown view type.",
            "Standard view.",
            "Materialized view."
          ]
        },
        "sqlQuery": {
          "description": "SQL query used to generate this view.",
          "type": "string"
        },
        "baseTable": {
          "type": "string",
          "description": "Name of a singular table this view reflects one to one."
        }
      },
      "id": "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec"
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty": {
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty",
      "description": "A property declaration.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Property name.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Required. Property data type."
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1Entry": {
      "properties": {
        "gcsFilesetSpec": {
          "$ref": "GoogleCloudDatacatalogV1beta1GcsFilesetSpec",
          "description": "Specification that applies to a Cloud Storage fileset. This is only valid on entries of type FILESET."
        },
        "sourceSystemTimestamps": {
          "$ref": "GoogleCloudDatacatalogV1beta1SystemTimestamps",
          "description": "Output only. Timestamps about the underlying resource, not about this Data Catalog entry. Output only when Entry is of type in the EntryType enum. For entries with user_specified_type, this field is optional and defaults to an empty timestamp.",
          "readOnly": true
        },
        "userSpecifiedSystem": {
          "type": "string",
          "description": "This field indicates the entry's source system that Data Catalog does not integrate with. `user_specified_system` strings must begin with a letter or underscore and can only contain letters, numbers, and underscores; are case insensitive; must be at least 1 character and at most 64 characters long."
        },
        "userSpecifiedType": {
[...]
