{
  "rootUrl": "https://datamigration.googleapis.com/",
  "discoveryVersion": "v1",
  "id": "datamigration:v1",
  "title": "Database Migration API",
  "baseUrl": "https://datamigration.googleapis.com/",
  "mtlsRootUrl": "https://datamigration.mtls.googleapis.com/",
  "description": "Manage Cloud Database Migration Service resources on Google Cloud Platform.",
  "protocol": "rest",
  "version": "v1",
  "kind": "discovery#restDescription",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://datamigration.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://datamigration.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://datamigration.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://datamigration.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://datamigration.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://datamigration.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://datamigration.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://datamigration.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://datamigration.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://datamigration.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://datamigration.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://datamigration.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://datamigration.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://datamigration.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://datamigration.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://datamigration.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://datamigration.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west15",
      "endpointUrl": "https://datamigration.europe-west15.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://datamigration.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://datamigration.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://datamigration.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://datamigration.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://datamigration.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://datamigration.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://datamigration.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://datamigration.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://datamigration.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "endpointUrl": "https://datamigration.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://datamigration.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://datamigration.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://datamigration.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://datamigration.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://datamigration.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://datamigration.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://datamigration.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://datamigration.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://datamigration.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://datamigration.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://datamigration.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Database Migration Service",
  "version_module": true,
  "schemas": {
    "PostgresHomogeneousConfig": {
      "description": "Configuration for PostgreSQL to PostgreSQL migrations.",
      "type": "object",
      "id": "PostgresHomogeneousConfig",
      "properties": {
        "isNativeLogical": {
          "description": "Required. Whether the migration is native logical.",
          "type": "boolean"
        },
        "maxAdditionalSubscriptions": {
          "format": "int32",
          "description": "Optional. Maximum number of additional subscriptions to use for the migration job.",
          "type": "integer"
        }
      }
    },
    "BinaryLogParser": {
      "id": "BinaryLogParser",
      "properties": {
        "oracleAsmLogFileAccess": {
          "$ref": "OracleAsmLogFileAccess",
          "description": "Use Oracle ASM."
        },
        "logFileDirectories": {
          "description": "Use Oracle directories.",
          "$ref": "LogFileDirectories"
        }
      },
      "description": "Configuration to use Binary Log Parser CDC technique.",
      "type": "object"
    },
    "QuotaFailure": {
      "id": "QuotaFailure",
      "properties": {
        "violations": {
          "items": {
            "$ref": "QuotaFailureViolation"
          },
          "description": "Describes all quota violations.",
          "type": "array"
        }
      },
      "description": "Describes how a quota check failed. For example if a daily limit was exceeded for the calling project, a service could respond with a QuotaFailure detail containing the project id and the description of the quota limit that was exceeded. If the calling project hasn't enabled the service in the developer console, then a service could respond with the project id and set `service_disabled` to true. Also see RetryInfo and Help types for other details about handling a quota failure.",
      "type": "object"
    },
    "StoredProcedureEntity": {
      "id": "StoredProcedureEntity",
      "properties": {
        "sqlCode": {
          "description": "The SQL code which creates the stored procedure.",
          "type": "string"
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "description": "Stored procedure's parent is a schema.",
      "type": "object"
    },
    "ConvertJobDetails": {
      "description": "Details regarding a Convert background job.",
      "type": "object",
      "id": "ConvertJobDetails",
      "properties": {
        "filter": {
          "readOnly": true,
          "description": "Output only. AIP-160 based filter used to specify the entities to convert",
          "type": "string"
        }
      }
    },
    "DoubleComparisonFilter": {
      "description": "Filter based on relation between source value and compare value of type double in ConditionalColumnSetValue",
      "type": "object",
      "id": "DoubleComparisonFilter",
      "properties": {
        "valueComparison": {
          "description": "Required. Relation between source value and compare value",
          "type": "string",
          "enumDescriptions": [
            "Value comparison unspecified.",
            "Value is smaller than the Compare value.",
            "Value is smaller or equal than the Compare value.",
            "Value is larger than the Compare value.",
            "Value is larger or equal than the Compare value."
          ],
          "enum": [
            "VALUE_COMPARISON_UNSPECIFIED",
            "VALUE_COMPARISON_IF_VALUE_SMALLER_THAN",
            "VALUE_COMPARISON_IF_VALUE_SMALLER_EQUAL_THAN",
            "VALUE_COMPARISON_IF_VALUE_LARGER_THAN",
            "VALUE_COMPARISON_IF_VALUE_LARGER_EQUAL_THAN"
          ]
        },
        "value": {
          "format": "double",
          "description": "Required. Double compare value to be used",
          "type": "number"
        }
      }
    },
    "Position": {
      "id": "Position",
      "properties": {
        "length": {
          "description": "Issue length",
          "type": "integer",
          "format": "int32"
        },
        "line": {
          "description": "Issue line number",
          "type": "integer",
          "format": "int32"
        },
        "offset": {
          "format": "int32",
          "description": "Issue offset",
          "type": "integer"
        },
        "column": {
          "description": "Issue column number",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Issue position.",
      "type": "object"
    },
    "StaticServiceIpConnectivity": {
      "description": "Static IP address connectivity configured on service project.",
      "type": "object",
      "id": "StaticServiceIpConnectivity",
      "properties": {}
    },
    "ConstraintEntity": {
      "id": "ConstraintEntity",
      "properties": {
        "type": {
          "description": "Type of constraint, for example unique, primary key, foreign key (currently only primary key is supported).",
          "type": "string"
        },
        "tableColumns": {
          "description": "Table columns used as part of the Constraint, for example primary key constraint should list the columns which constitutes the key.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tableName": {
          "description": "Table which is associated with the constraint. In case the constraint is defined on a table, this field is left empty as this information is stored in parent_name. However, if constraint is defined on a view, this field stores the table name on which the view is defined.",
          "type": "string"
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "referenceTable": {
          "description": "Reference table which may be associated with the constraint. For example, if the constraint is a FOREIGN_KEY, this represents the list of full name of the referenced table by the foreign key.",
          "type": "string"
        },
        "referenceColumns": {
          "description": "Reference columns which may be associated with the constraint. For example, if the constraint is a FOREIGN_KEY, this represents the list of full names of referenced columns by the foreign key.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The name of the table constraint.",
          "type": "string"
        }
      },
      "description": "Constraint is not used as an independent entity, it is retrieved as part of another entity such as Table or View.",
      "type": "object"
    },
    "EncryptionConfig": {
      "description": "EncryptionConfig describes the encryption config of a cluster that is encrypted with a CMEK (customer-managed encryption key).",
      "type": "object",
      "id": "EncryptionConfig",
      "properties": {
        "kmsKeyName": {
          "description": "The fully-qualified resource name of the KMS key. Each Cloud KMS key is regionalized and has the following format: projects/[PROJECT]/locations/[REGION]/keyRings/[RING]/cryptoKeys/[KEY_NAME]",
          "type": "string"
        }
      }
    },
    "MySqlHomogeneousConfig": {
      "description": "Configuration for MySQL to MySQL migrations.",
      "type": "object",
      "id": "MySqlHomogeneousConfig",
      "properties": {
        "isPrimaryDestination": {
          "description": "Optional. Whether the destination for the migration job is a primary instance.",
          "type": "boolean"
        }
      }
    },
    "UserPassword": {
      "id": "UserPassword",
      "properties": {
        "passwordSet": {
          "readOnly": true,
          "description": "Output only. Indicates if the initial_user.password field has been set.",
          "type": "boolean"
        },
        "password": {
          "description": "The initial password for the user.",
          "type": "string"
        },
        "user": {
          "description": "The database username.",
          "type": "string"
        }
      },
      "description": "The username/password for a database user. Used for specifying initial users at cluster creation time.",
      "type": "object"
    },
    "ListMappingRulesResponse": {
      "id": "ListMappingRulesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "mappingRules": {
          "description": "The list of conversion workspace mapping rules.",
          "type": "array",
          "items": {
            "$ref": "MappingRule"
          }
        }
      },
      "description": "Response message for 'ListMappingRulesRequest' request.",
      "type": "object"
    },
    "ListConnectionProfilesResponse": {
      "description": "Response message for 'ListConnectionProfiles' request.",
      "type": "object",
      "id": "ListConnectionProfilesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "connectionProfiles": {
          "description": "The response list of connection profiles.",
          "type": "array",
          "items": {
            "$ref": "ConnectionProfile"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "RetryInfo": {
      "description": "Describes when the clients can retry a failed request. Clients could ignore the recommendation here or retry when this information is missing from error responses. It's always recommended that clients should use exponential backoff when retrying. Clients should wait until `retry_delay` amount of time has passed since receiving the error response before retrying. If retrying requests also fail, clients should use an exponential backoff scheme to gradually increase the delay between retries based on `retry_delay`, until either a maximum number of retries have been reached or a maximum retry delay cap has been reached.",
      "type": "object",
      "id": "RetryInfo",
      "properties": {
        "retryDelay": {
          "format": "google-duration",
          "description": "Clients should wait at least this long between retrying the same request.",
          "type": "string"
        }
      }
    },
    "PrivateServiceConnectConnectivity": {
      "id": "PrivateServiceConnectConnectivity",
      "properties": {
        "serviceAttachment": {
          "description": "Required. A service attachment that exposes a database, and has the following format: projects/{project}/regions/{region}/serviceAttachments/{service_attachment_name}",
          "type": "string"
        }
      },
      "description": "[Private Service Connect connectivity](https://cloud.google.com/vpc/docs/private-service-connect#service-attachments)",
      "type": "object"
    },
    "VerifyMigrationJobRequest": {
      "description": "Request message for 'VerifyMigrationJob' request.",
      "type": "object",
      "id": "VerifyMigrationJobRequest",
      "properties": {
        "migrationJob": {
          "description": "Optional. The changed migration job parameters to verify. It will not update the migration job.",
          "$ref": "MigrationJob"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Optional. Field mask is used to specify the changed fields to be verified. It will not update the migration job.",
          "type": "string"
        }
      }
    },
    "MigrationJobObjectsConfig": {
      "description": "Configuration for the objects to be migrated.",
      "type": "object",
      "id": "MigrationJobObjectsConfig",
      "properties": {
        "sourceObjectsConfig": {
          "$ref": "SourceObjectsConfig",
          "description": "The list of the migration job objects."
        }
      }
    },
    "SourceObjectIdentifier": {
      "description": "An identifier for the Migration Job Object.",
      "type": "object",
      "id": "SourceObjectIdentifier",
      "properties": {
        "database": {
          "description": "Optional. The database name. This will be required only if the object uses a database name as part of its unique identifier.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "The type of the migration job object is unknown.",
            "The migration job object is a database.",
            "The migration job object is a schema.",
            "The migration job object is a table."
          ],
          "enum": [
            "MIGRATION_JOB_OBJECT_TYPE_UNSPECIFIED",
            "DATABASE",
            "SCHEMA",
            "TABLE"
          ],
          "description": "Required. The type of the migration job object.",
          "type": "string"
        },
        "schema": {
          "description": "Optional. The schema name. This will be required only if the object uses a schema name as part of its unique identifier.",
          "type": "string"
        },
        "table": {
          "description": "Optional. The table name. This will be required only if the object is a level below database or schema.",
          "type": "string"
        }
      }
    },
    "ImportMappingRulesRequest": {
      "description": "Request message for 'ImportMappingRules' request.",
      "type": "object",
      "id": "ImportMappingRulesRequest",
      "properties": {
        "rulesFiles": {
          "description": "Required. One or more rules files.",
          "type": "array",
          "items": {
            "$ref": "RulesFile"
          }
        },
        "rulesFormat": {
          "enumDescriptions": [
            "Unspecified rules format.",
            "HarbourBridge session file.",
            "Ora2Pg configuration file."
          ],
          "enum": [
            "IMPORT_RULES_FILE_FORMAT_UNSPECIFIED",
            "IMPORT_RULES_FILE_FORMAT_HARBOUR_BRIDGE_SESSION_FILE",
            "IMPORT_RULES_FILE_FORMAT_ORATOPG_CONFIG_FILE"
          ],
          "description": "Required. The format of the rules content file.",
          "type": "string"
        },
        "autoCommit": {
          "description": "Required. Should the conversion workspace be committed automatically after the import operation.",
          "type": "boolean"
        }
      }
    },
    "CloudSqlConnectionProfile": {
      "description": "Specifies required connection parameters, and, optionally, the parameters required to create a Cloud SQL destination database instance.",
      "type": "object",
      "id": "CloudSqlConnectionProfile",
      "properties": {
        "publicIp": {
          "description": "Output only. The Cloud SQL database instance's public IP.",
          "type": "string",
          "readOnly": true
        },
        "additionalPublicIp": {
          "readOnly": true,
          "description": "Output only. The Cloud SQL database instance's additional (outgoing) public IP. Used when the Cloud SQL database availability type is REGIONAL (i.e. multiple zones / highly available).",
          "type": "string"
        },
        "privateIp": {
          "description": "Output only. The Cloud SQL database instance's private IP.",
          "type": "string",
          "readOnly": true
        },
        "cloudSqlId": {
          "readOnly": true,
          "description": "Output only. The Cloud SQL instance ID that this connection profile is associated with.",
          "type": "string"
        },
        "settings": {
          "$ref": "CloudSqlSettings",
          "description": "Immutable. Metadata used to create the destination Cloud SQL database."
        }
      }
    },
    "SqlServerToPostgresConfig": {
      "id": "SqlServerToPostgresConfig",
      "properties": {
        "sqlserverSourceConfig": {
          "description": "Optional. Configuration for SQL Server source.",
          "$ref": "SqlServerSourceConfig"
        },
        "postgresDestinationConfig": {
          "$ref": "PostgresDestinationConfig",
          "description": "Optional. Configuration for Postgres destination."
        }
      },
      "description": "Configuration for heterogeneous **SQL Server to Cloud SQL for PostgreSQL** migrations.",
      "type": "object"
    },
    "MySqlConnectionProfile": {
      "id": "MySqlConnectionProfile",
      "properties": {
        "password": {
          "description": "Required. Input only. The password for the user that Database Migration Service will be using to connect to the database. This field is not returned on request, and the value is encrypted when stored in Database Migration Service.",
          "type": "string"
        },
        "host": {
          "description": "Required. The IP or hostname of the source MySQL database.",
          "type": "string"
        },
        "passwordSet": {
          "readOnly": true,
          "description": "Output only. Indicates If this connection profile password is stored.",
          "type": "boolean"
        },
        "ssl": {
          "$ref": "SslConfig",
          "description": "SSL configuration for the destination to connect to the source database."
        },
        "cloudSqlId": {
          "description": "If the source is a Cloud SQL database, use this field to provide the Cloud SQL instance ID of the source.",
          "type": "string"
        },
        "port": {
          "description": "Required. The network port of the source MySQL database.",
          "type": "integer",
          "format": "int32"
        },
        "username": {
          "description": "Required. The username that Database Migration Service will use to connect to the database. The value is encrypted when stored in Database Migration Service.",
          "type": "string"
        }
      },
      "description": "Specifies connection parameters required specifically for MySQL databases.",
      "type": "object"
    },
    "ApplyHash": {
      "description": "Apply a hash function on the value.",
      "type": "object",
      "id": "ApplyHash",
      "properties": {
        "uuidFromBytes": {
          "$ref": "Empty",
          "description": "Optional. Generate UUID from the data's byte array"
        }
      }
    },
    "ResourceInfo": {
      "description": "Describes the resource that is being accessed.",
      "type": "object",
      "id": "ResourceInfo",
      "properties": {
        "owner": {
          "description": "The owner of the resource (optional). For example, \"user:\" or \"project:\".",
          "type": "string"
        },
        "description": {
          "description": "Describes what error is encountered when accessing this resource. For example, updating a cloud project may require the `writer` permission on the developer console project.",
          "type": "string"
        },
        "resourceType": {
          "description": "A name for the type of resource being accessed, e.g. \"sql table\", \"cloud storage bucket\", \"file\", \"Google calendar\"; or the type URL of the resource: e.g. \"type.googleapis.com/google.pubsub.v1.Topic\".",
          "type": "string"
        },
        "resourceName": {
          "description": "The name of the resource being accessed. For example, a shared calendar name: \"example.com_4fghdhgsrgh@group.calendar.google.com\", if the current error is google.rpc.Code.PERMISSION_DENIED.",
          "type": "string"
        }
      }
    },
    "StartMigrationJobRequest": {
      "id": "StartMigrationJobRequest",
      "properties": {
        "skipValidation": {
          "description": "Optional. Start the migration job without running prior configuration verification. Defaults to `false`.",
          "type": "boolean"
        }
      },
      "description": "Request message for 'StartMigrationJob' request.",
      "type": "object"
    },
    "SqlServerDestinationConfig": {
      "id": "SqlServerDestinationConfig",
      "properties": {
        "transactionTimeout": {
          "format": "google-duration",
          "description": "Optional. Timeout for data migration transactions.",
          "type": "string"
        },
        "maxConcurrentConnections": {
          "description": "Optional. Maximum number of connections Database Migration Service will open to the destination for data migration.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Configuration for SQL Server as a destination in a migration.",
      "type": "object"
    },
    "ListPrivateConnectionsResponse": {
      "description": "Response message for 'ListPrivateConnections' request.",
      "type": "object",
      "id": "ListPrivateConnectionsResponse",
      "properties": {
        "privateConnections": {
          "items": {
            "$ref": "PrivateConnection"
          },
          "description": "List of private connections.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "MultiColumnDatatypeChange": {
      "description": "Options to configure rule type MultiColumnDatatypeChange. The rule is used to change the data type and associated properties of multiple columns at once. The rule filter field can refer to one or more entities. The rule scope can be one of:Column. This rule requires additional filters to be specified beyond the basic rule filter field, which is the source data type, but the rule supports additional filtering capabilities such as the minimum and maximum field length. All additional filters which are specified are required to be met in order for the rule to be applied (logical AND between the fields).",
      "type": "object",
      "id": "MultiColumnDatatypeChange",
      "properties": {
        "sourceDataTypeFilter": {
          "description": "Required. Filter on source data type.",
          "type": "string"
        },
        "overrideScale": {
          "format": "int32",
          "description": "Optional. Column scale - when relevant - if not specified and relevant uses the source column scale.",
          "type": "integer"
        },
        "newDataType": {
          "description": "Required. New data type.",
          "type": "string"
        },
        "sourceTextFilter": {
          "$ref": "SourceTextFilter",
          "description": "Optional. Filter for text-based data types like varchar."
        },
        "customFeatures": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Custom engine specific features.",
          "type": "object"
        },
        "overridePrecision": {
          "format": "int32",
          "description": "Optional. Column precision - when relevant - if not specified and relevant uses the source column precision.",
          "type": "integer"
        },
        "overrideLength": {
          "format": "int64",
          "description": "Optional. Column length - e.g. varchar (50) - if not specified and relevant uses the source column length.",
          "type": "string"
        },
        "overrideFractionalSecondsPrecision": {
          "format": "int32",
          "description": "Optional. Column fractional seconds precision - used only for timestamp based datatypes - if not specified and relevant uses the source column fractional seconds precision.",
          "type": "integer"
        },
        "sourceNumericFilter": {
          "description": "Optional. Filter for fixed point number data types such as NUMERIC/NUMBER.",
          "$ref": "SourceNumericFilter"
        }
      }
    },
    "DescribeDatabaseEntitiesResponse": {
      "id": "DescribeDatabaseEntitiesResponse",
      "properties": {
        "databaseEntities": {
          "description": "The list of database entities for the conversion workspace.",
          "type": "array",
          "items": {
            "$ref": "DatabaseEntity"
          }
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for 'DescribeDatabaseEntities' request.",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "DatabaseType": {
      "id": "DatabaseType",
      "properties": {
        "engine": {
          "description": "The database engine.",
          "type": "string",
          "enumDescriptions": [
            "The source database engine of the migration job is unknown.",
            "The source engine is MySQL.",
            "The source engine is PostgreSQL.",
            "The source engine is SQL Server.",
            "The source engine is Oracle."
          ],
          "enum": [
            "DATABASE_ENGINE_UNSPECIFIED",
            "MYSQL",
            "POSTGRESQL",
            "SQLSERVER",
            "ORACLE"
          ]
        },
        "provider": {
          "description": "The database provider.",
          "type": "string",
          "enumDescriptions": [
            "Use this value for on-premise source database instances and ORACLE.",
            "Cloud SQL is the source instance provider.",
            "Amazon RDS is the source instance provider.",
            "Amazon Aurora is the source instance provider.",
            "AlloyDB for PostgreSQL is the source instance provider.",
            "Microsoft Azure Database for MySQL/PostgreSQL."
          ],
          "enum": [
            "DATABASE_PROVIDER_UNSPECIFIED",
            "CLOUDSQL",
            "RDS",
            "AURORA",
            "ALLOYDB",
            "AZURE_DATABASE"
          ]
        }
      },
      "description": "A message defining the database engine and provider.",
      "type": "object"
    },
    "DataCacheConfig": {
      "description": "Data cache is an optional feature available for Cloud SQL for MySQL Enterprise Plus edition only. For more information on data cache, see [Data cache overview](https://cloud.google.com/sql/help/mysql-data-cache) in Cloud SQL documentation.",
      "type": "object",
      "id": "DataCacheConfig",
      "properties": {
        "dataCacheEnabled": {
          "description": "Optional. Whether data cache is enabled for the instance.",
          "type": "boolean"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object"
    },
    "Link": {
      "description": "Describes a URL link.",
      "type": "object",
      "id": "Link",
      "properties": {
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the link.",
          "type": "string"
        }
      }
    },
    "SourceNumericFilter": {
      "description": "Filter for fixed point number data types such as NUMERIC/NUMBER",
      "type": "object",
      "id": "SourceNumericFilter",
      "properties": {
        "sourceMaxScaleFilter": {
          "format": "int32",
          "description": "Optional. The filter will match columns with scale smaller than or equal to this number.",
          "type": "integer"
        },
        "sourceMinPrecisionFilter": {
          "description": "Optional. The filter will match columns with precision greater than or equal to this number.",
          "type": "integer",
          "format": "int32"
        },
        "sourceMaxPrecisionFilter": {
          "format": "int32",
          "description": "Optional. The filter will match columns with precision smaller than or equal to this number.",
          "type": "integer"
        },
        "numericFilterOption": {
          "enumDescriptions": [
            "Numeric filter option unspecified",
            "Numeric filter option that matches all numeric columns.",
            "Numeric filter option that matches columns having numeric datatypes with specified precision and scale within the limited range of filter.",
            "Numeric filter option that matches only the numeric columns with no precision and scale specified."
          ],
          "enum": [
            "NUMERIC_FILTER_OPTION_UNSPECIFIED",
            "NUMERIC_FILTER_OPTION_ALL",
            "NUMERIC_FILTER_OPTION_LIMIT",
            "NUMERIC_FILTER_OPTION_LIMITLESS"
          ],
          "description": "Required. Enum to set the option defining the datatypes numeric filter has to be applied to",
          "type": "string"
        },
        "sourceMinScaleFilter": {
          "format": "int32",
          "description": "Optional. The filter will match columns with scale greater than or equal to this number.",
          "type": "integer"
        }
      }
    },
    "IndexEntity": {
      "description": "Index is not used as an independent entity, it is retrieved as part of a Table entity.",
      "type": "object",
      "id": "IndexEntity",
      "properties": {
        "unique": {
          "description": "Boolean value indicating whether the index is unique.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the index.",
          "type": "string"
        },
        "type": {
          "description": "Type of index, for example B-TREE.",
          "type": "string"
        },
        "tableColumns": {
          "description": "Table columns used as part of the Index, for example B-TREE index should list the columns which constitutes the index.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tableColumnsDescending": {
          "items": {
            "type": "boolean"
          },
          "description": "For each table_column, mark whether it's sorting order is ascending (false) or descending (true). If no value is defined, assume all columns are sorted in ascending order. Otherwise, the number of items must match that of table_columns with each value specifying the direction of the matched column by its index.",
          "type": "array"
        },
        "customFeatures": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Custom engine specific features.",
          "type": "object"
        }
      }
    },
    "SourceObjectsConfig": {
      "id": "SourceObjectsConfig",
      "properties": {
        "objectConfigs": {
          "description": "Optional. The list of the objects to be migrated.",
          "type": "array",
          "items": {
            "$ref": "SourceObjectConfig"
          }
        },
        "objectsSelectionType": {
          "description": "Optional. The objects selection type of the migration job.",
          "type": "string",
          "enumDescriptions": [
            "The type of the objects selection is unknown, indicating that the migration job is at instance level.",
            "Migrate all of the objects.",
            "Migrate specific objects."
          ],
          "enum": [
            "OBJECTS_SELECTION_TYPE_UNSPECIFIED",
            "ALL_OBJECTS",
            "SPECIFIED_OBJECTS"
          ]
        }
      },
      "description": "List of configurations for the source objects to be migrated.",
      "type": "object"
    },
    "SshScript": {
      "description": "Response message for 'GenerateSshScript' request.",
      "type": "object",
      "id": "SshScript",
      "properties": {
        "script": {
          "description": "The ssh configuration script.",
          "type": "string"
        }
      }
    },
    "TcpProxyScript": {
      "id": "TcpProxyScript",
      "properties": {
        "script": {
          "description": "The TCP Proxy configuration script.",
          "type": "string"
        }
      },
      "description": "Response message for 'GenerateTcpProxyScript' request.",
      "type": "object"
    },
    "SetTablePrimaryKey": {
      "description": "Deprecated: Options to configure rule type SetTablePrimaryKey. The rule is used to specify the columns and name to configure/alter the primary key of a table. The rule filter field can refer to one entity. The rule scope can be one of: Table.",
      "type": "object",
      "deprecated": true,
      "id": "SetTablePrimaryKey",
      "properties": {
        "primaryKeyColumns": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of column names for the primary key",
          "type": "array"
        },
        "primaryKey": {
          "description": "Optional. Name for the primary key",
          "type": "string"
        }
      }
    },
    "MigrationJobVerificationError": {
      "description": "Error message of a verification Migration job.",
      "type": "object",
      "id": "MigrationJobVerificationError",
      "properties": {
        "errorCode": {
          "readOnly": true,
          "enumDescriptions": [
            "An unknown error occurred",
            "We failed to connect to one of the connection profile.",
            "We failed to authenticate to one of the connection profile.",
            "One of the involved connection profiles has an invalid configuration.",
            "The versions of the source and the destination are incompatible.",
            "The types of the source and the destination are incompatible.",
            "No pglogical extension installed on databases, applicable for postgres.",
            "pglogical node already exists on databases, applicable for postgres.",
            "The value of parameter wal_level is not set to logical.",
            "The value of parameter shared_preload_libraries does not include pglogical.",
            "The value of parameter max_replication_slots is not sufficient.",
            "The value of parameter max_wal_senders is not sufficient.",
            "The value of parameter max_worker_processes is not sufficient.",
            "Extensions installed are either not supported or having unsupported versions.",
            "Unsupported migration type.",
            "Invalid RDS logical replication.",
            "The gtid_mode is not supported, applicable for MySQL.",
            "The table definition is not support due to missing primary key or replica identity.",
            "The definer is not supported.",
            "Migration is already running at the time of restart request.",
            "The source already has a replication setup.",
            "The source has tables with limited support. E.g. PostgreSQL tables without primary keys.",
            "The source uses an unsupported locale.",
            "The source uses an unsupported Foreign Data Wrapper configuration.",
            "There was an underlying RDBMS error.",
            "The source DB size in Bytes exceeds a certain threshold. The migration might require an increase of quota, or might not be supported.",
            "The destination DB contains existing databases that are conflicting with those in the source DB.",
            "Insufficient privilege to enable the parallelism configuration.",
            "The destination instance contains existing data or user defined entities (for example databases, tables, or functions). You can only migrate to empty instances. Clear your destination instance and retry the migration job.",
            "The migration job is configured to use max number of subscriptions to migrate data from the source to the destination."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "CONNECTION_FAILURE",
            "AUTHENTICATION_FAILURE",
            "INVALID_CONNECTION_PROFILE_CONFIG",
            "VERSION_INCOMPATIBILITY",
            "CONNECTION_PROFILE_TYPES_INCOMPATIBILITY",
            "NO_PGLOGICAL_INSTALLED",
            "PGLOGICAL_NODE_ALREADY_EXISTS",
            "INVALID_WAL_LEVEL",
            "INVALID_SHARED_PRELOAD_LIBRARY",
            "INSUFFICIENT_MAX_REPLICATION_SLOTS",
            "INSUFFICIENT_MAX_WAL_SENDERS",
            "INSUFFICIENT_MAX_WORKER_PROCESSES",
            "UNSUPPORTED_EXTENSIONS",
            "UNSUPPORTED_MIGRATION_TYPE",
            "INVALID_RDS_LOGICAL_REPLICATION",
            "UNSUPPORTED_GTID_MODE",
            "UNSUPPORTED_TABLE_DEFINITION",
            "UNSUPPORTED_DEFINER",
            "CANT_RESTART_RUNNING_MIGRATION",
            "SOURCE_ALREADY_SETUP",
            "TABLES_WITH_LIMITED_SUPPORT",
            "UNSUPPORTED_DATABASE_LOCALE",
            "UNSUPPORTED_DATABASE_FDW_CONFIG",
            "ERROR_RDBMS",
            "SOURCE_SIZE_EXCEEDS_THRESHOLD",
            "EXISTING_CONFLICTING_DATABASES",
            "PARALLEL_IMPORT_INSUFFICIENT_PRIVILEGE",
            "EXISTING_DATA",
            "SOURCE_MAX_SUBSCRIPTIONS"
          ],
          "description": "Output only. An instance of ErrorCode specifying the error that occurred.",
          "type": "string"
        },
        "errorMessage": {
          "readOnly": true,
          "description": "Output only. A formatted message with further details about the error and a CTA.",
          "type": "string"
        },
        "errorDetailMessage": {
          "readOnly": true,
          "description": "Output only. A specific detailed error message, if supplied by the engine.",
          "type": "string"
        }
      }
    },
    "ListMigrationJobsResponse": {
      "id": "ListMigrationJobsResponse",
      "properties": {
        "migrationJobs": {
          "description": "The list of migration jobs objects.",
          "type": "array",
          "items": {
            "$ref": "MigrationJob"
          }
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Response message for 'ListMigrationJobs' request.",
      "type": "object"
    },
    "SqlServerEncryptionOptions": {
      "id": "SqlServerEncryptionOptions",
      "properties": {
        "certPath": {
          "description": "Required. Path to the Certificate (.cer) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file.",
          "type": "string"
        },
        "pvkPath": {
          "description": "Required. Path to the Certificate Private Key (.pvk) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file.",
          "type": "string"
        },
        "pvkPassword": {
          "description": "Required. Input only. Password that encrypts the private key.",
          "type": "string"
        }
      },
      "description": "Encryption settings for the SQL Server database.",
      "type": "object"
    },
    "PostgresDestinationConfig": {
      "id": "PostgresDestinationConfig",
      "properties": {
        "transactionTimeout": {
          "description": "Optional. Timeout for data migration transactions.",
          "type": "string",
          "format": "google-duration"
        },
        "maxConcurrentConnections": {
          "format": "int32",
          "description": "Optional. Maximum number of connections Database Migration Service will open to the destination for data migration.",
          "type": "integer"
        }
      },
      "description": "Configuration for Postgres as a destination in a migration.",
      "type": "object"
    },
    "PreconditionFailureViolation": {
      "id": "PreconditionFailureViolation",
      "properties": {
        "type": {
          "description": "The type of PreconditionFailure. We recommend using a service-specific enum type to define the supported precondition violation subjects. For example, \"TOS\" for \"Terms of Service violation\".",
          "type": "string"
        },
        "subject": {
          "description": "The subject, relative to the type, that failed. For example, \"google.com/cloud\" relative to the \"TOS\" type would indicate which terms of service is being referenced.",
          "type": "string"
        },
        "description": {
          "description": "A description of how the precondition failed. Developers can use this description to understand how to fix the failure. For example: \"Terms of service not accepted\".",
          "type": "string"
        }
      },
      "description": "A message type used to describe a single precondition failure.",
      "type": "object"
    },
    "AlloyDbConnectionProfile": {
      "description": "Specifies required connection parameters, and the parameters required to create an AlloyDB destination cluster.",
      "type": "object",
      "id": "AlloyDbConnectionProfile",
      "properties": {
        "clusterId": {
          "description": "Required. The AlloyDB cluster ID that this connection profile is associated with.",
          "type": "string"
        },
        "settings": {
          "description": "Immutable. Metadata used to create the destination AlloyDB cluster.",
          "$ref": "AlloyDbSettings"
        }
      }
    },
    "ListConversionWorkspacesResponse": {
      "description": "Response message for 'ListConversionWorkspaces' request.",
      "type": "object",
      "id": "ListConversionWorkspacesResponse",
      "properties": {
        "conversionWorkspaces": {
          "description": "The list of conversion workspace objects.",
          "type": "array",
          "items": {
            "$ref": "ConversionWorkspace"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "MaterializedViewEntity": {
      "id": "MaterializedViewEntity",
      "properties": {
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sqlCode": {
          "description": "The SQL code which creates the view.",
          "type": "string"
        },
        "indices": {
          "items": {
            "$ref": "IndexEntity"
          },
          "description": "View indices.",
          "type": "array"
        }
      },
      "description": "MaterializedView's parent is a schema.",
      "type": "object"
    },
    "MachineConfig": {
      "id": "MachineConfig",
      "properties": {
        "cpuCount": {
          "format": "int32",
          "description": "The number of CPU's in the VM instance.",
          "type": "integer"
        },
        "machineType": {
          "description": "Optional. Machine type of the VM instance. E.g. \"n2-highmem-4\", \"n2-highmem-8\", \"c4a-highmem-4-lssd\". cpu_count must match the number of vCPUs in the machine type.",
          "type": "string"
        }
      },
      "description": "MachineConfig describes the configuration of a machine.",
      "type": "object"
    },
    "HeterogeneousMetadata": {
      "id": "HeterogeneousMetadata",
      "properties": {
        "unsupportedEventsCount": {
          "format": "int64",
          "description": "The number of unsupported events.",
          "type": "string"
        }
      },
      "description": "Metadata for heterogeneous migration jobs objects.",
      "type": "object"
    },
    "PrivateConnection": {
      "description": "The PrivateConnection resource is used to establish private connectivity with the customer's network.",
      "type": "object",
      "id": "PrivateConnection",
      "properties": {
        "updateTime": {
          "description": "Output only. The last update time of the resource.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "vpcPeeringConfig": {
          "$ref": "VpcPeeringConfig",
          "description": "VPC peering configuration."
        },
        "state": {
          "description": "Output only. The state of the private connection.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "The private connection is in creation state - creating resources.",
            "The private connection has been created with all of its resources.",
            "The private connection creation has failed.",
            "The private connection is being deleted.",
            "Delete request has failed, resource is in invalid state.",
            "The private connection has been deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "FAILED",
            "DELETING",
            "FAILED_TO_DELETE",
            "DELETED"
          ]
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The create time of the resource.",
          "type": "string"
        },
        "labels": {
          "description": "The resource labels for private connections to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of \"key\": \"value\" pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The private connection display name.",
          "type": "string"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "pscInterfaceConfig": {
          "description": "PSC Interface configuration.",
          "$ref": "PscInterfaceConfig"
        },
        "reservedPublicIpConfig": {
          "$ref": "ReservedPublicIpConfig",
          "description": "Reserved Public IP configuration."
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string"
        },
        "error": {
          "description": "Output only. The error details in case of state FAILED.",
          "readOnly": true,
          "$ref": "Status"
        }
      }
    },
    "FieldViolation": {
      "id": "FieldViolation",
      "properties": {
        "field": {
          "description": "A path that leads to a field in the request body. The value will be a sequence of dot-separated identifiers that identify a protocol buffer field. Consider the following: message CreateContactRequest { message EmailAddress { enum Type { TYPE_UNSPECIFIED = 0; HOME = 1; WORK = 2; } optional string email = 1; repeated EmailType type = 2; } string full_name = 1; repeated EmailAddress email_addresses = 2; } In this example, in proto `field` could take one of the following values: * `full_name` for a violation in the `full_name` value * `email_addresses[0].email` for a violation in the `email` field of the first `email_addresses` message * `email_addresses[2].type[1]` for a violation in the second `type` value in the third `email_addresses` message. In JSON, the same values are represented as: * `fullName` for a violation in the `fullName` value * `emailAddresses[0].email` for a violation in the `email` field of the first `emailAddresses` message * `emailAddresses[2].type[1]` for a violation in the second `type` value in the third `emailAddresses` message.",
          "type": "string"
        },
        "description": {
          "description": "A description of why the request element is bad.",
          "type": "string"
        },
        "localizedMessage": {
          "description": "Provides a localized error message for field-level errors that is safe to return to the API consumer.",
          "$ref": "LocalizedMessage"
        },
        "reason": {
          "description": "The reason for the field-level error. This is a constant value that identifies the proximate cause of the field-level error. It should uniquely identify the type of the FieldViolation within the scope of the google.rpc.ErrorInfo.domain. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        }
      },
      "description": "A message type used to describe a single bad request field.",
      "type": "object"
    },
    "RequestInfo": {
      "id": "RequestInfo",
      "properties": {
        "requestId": {
          "description": "An opaque string that should only be interpreted by the service generating it. For example, it can be used to identify requests in the service's logs.",
          "type": "string"
        },
        "servingData": {
          "description": "Any data that was used to serve this request. For example, an encrypted stack trace that can be sent back to the service provider for debugging.",
          "type": "string"
        }
      },
      "description": "Contains metadata about the request that clients can attach when filing a bug or providing other forms of feedback.",
      "type": "object"
    },
    "OracleAsmConfig": {
      "id": "OracleAsmConfig",
      "properties": {
        "password": {
          "description": "Required. Input only. Password for the Oracle ASM connection.",
          "type": "string"
        },
        "asmService": {
          "description": "Required. ASM service name for the Oracle ASM connection.",
          "type": "string"
        },
        "passwordSet": {
          "readOnly": true,
          "description": "Output only. Indicates whether a new password is included in the request.",
          "type": "boolean"
        },
        "ssl": {
          "$ref": "SslConfig",
          "description": "Optional. SSL configuration for the Oracle connection."
        },
        "hostname": {
          "description": "Required. Hostname for the Oracle ASM connection.",
          "type": "string"
        },
        "port": {
          "description": "Required. Port for the Oracle ASM connection.",
          "type": "integer",
          "format": "int32"
        },
        "username": {
          "description": "Required. Username for the Oracle ASM connection.",
          "type": "string"
        }
      },
      "description": "Configuration for Oracle Automatic Storage Management (ASM) connection.",
      "type": "object"
    },
    "RoundToScale": {
      "description": "This allows the data to change scale, for example if the source is 2 digits after the decimal point, specify round to scale value = 2. If for example the value needs to be converted to an integer, use round to scale value = 0.",
      "type": "object",
      "id": "RoundToScale",
      "properties": {
        "scale": {
          "description": "Required. Scale value to be used",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudClouddmsV1OperationMetadata": {
      "id": "GoogleCloudClouddmsV1OperationMetadata",
      "properties": {
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "metadata": {
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Additional metadata that is returned by the backend for the operation.",
          "type": "object"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "EntityMappingLogEntry": {
      "id": "EntityMappingLogEntry",
      "properties": {
        "mappingComment": {
          "description": "Comment.",
          "type": "string"
        },
        "ruleId": {
          "description": "Which rule caused this log entry.",
          "type": "string"
        },
        "ruleRevisionId": {
          "description": "Rule revision ID.",
          "type": "string"
        }
      },
      "description": "A single record of a rule which was used for a mapping.",
      "type": "object"
    },
    "ForwardSshTunnelConnectivity": {
      "description": "Forward SSH Tunnel connectivity.",
      "type": "object",
      "id": "ForwardSshTunnelConnectivity",
      "properties": {
        "username": {
          "description": "Required. Username for the SSH tunnel.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "description": "Port for the SSH tunnel, default value is 22.",
          "type": "integer"
        },
        "hostname": {
          "description": "Required. Hostname for the SSH tunnel.",
          "type": "string"
        },
        "password": {
          "description": "Input only. SSH password.",
          "type": "string"
        },
        "privateKey": {
          "description": "Input only. SSH private key.",
          "type": "string"
        }
      }
    },
    "SynonymEntity": {
      "description": "Synonym's parent is a schema.",
      "type": "object",
      "id": "SynonymEntity",
      "properties": {
        "sourceType": {
          "description": "The type of the entity for which the synonym is being created (usually a table or a sequence).",
          "type": "string",
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ],
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ]
        },
        "customFeatures": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Custom engine specific features.",
          "type": "object"
        },
        "sourceEntity": {
          "description": "The name of the entity for which the synonym is being created (the source).",
          "type": "string"
        }
      }
    },
    "ListMigrationJobObjectsResponse": {
      "id": "ListMigrationJobObjectsResponse",
      "properties": {
        "migrationJobObjects": {
          "items": {
            "$ref": "MigrationJobObject"
          },
          "description": "List of migration job objects.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page.",
          "type": "string"
        }
      },
      "description": "Response containing the objects for a migration job.",
      "type": "object"
    },
    "SqlServerDatabaseBackup": {
      "description": "Specifies the backup details for a single database in Cloud Storage for homogeneous migration to Cloud SQL for SQL Server.",
      "type": "object",
      "id": "SqlServerDatabaseBackup",
      "properties": {
        "database": {
          "description": "Required. Name of a SQL Server database for which to define backup configuration.",
          "type": "string"
        },
        "encryptionOptions": {
          "$ref": "SqlServerEncryptionOptions",
          "description": "Optional. Encryption settings for the database. Required if provided database backups are encrypted. Encryption settings include path to certificate, path to certificate private key, and key password."
        }
      }
    },
    "SeedJobDetails": {
      "description": "Details regarding a Seed background job.",
      "type": "object",
      "id": "SeedJobDetails",
      "properties": {
        "connectionProfile": {
          "readOnly": true,
          "description": "Output only. The connection profile which was used for the seed job.",
          "type": "string"
        }
      }
    },
    "ReservedPublicIpConfig": {
      "id": "ReservedPublicIpConfig",
      "properties": {
        "egressPublicIps": {
          "description": "Output only. The reserved public IPs.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "natIpsCount": {
          "format": "int32",
          "description": "Optional. Number of static public IP addresses to reserve.",
          "type": "integer"
        }
      },
      "description": "Reserved Public IP configuration.",
      "type": "object"
    },
    "SinglePackageChange": {
      "id": "SinglePackageChange",
      "properties": {
        "packageDescription": {
          "description": "Optional. Sql code for package description",
          "type": "string"
        },
        "packageBody": {
          "description": "Optional. Sql code for package body",
          "type": "string"
        }
      },
      "description": "Options to configure rule type SinglePackageChange. The rule is used to alter the sql code for a package entities. The rule filter field can refer to one entity. The rule scope can be: Package",
      "type": "object"
    },
    "PerformanceConfig": {
      "id": "PerformanceConfig",
      "properties": {
        "dumpParallelLevel": {
          "description": "Initial dump parallelism level.",
          "type": "string",
          "enumDescriptions": [
            "Unknown dump parallel level. Will be defaulted to OPTIMAL.",
            "Minimal parallel level.",
            "Optimal parallel level.",
            "Maximum parallel level."
          ],
          "enum": [
            "DUMP_PARALLEL_LEVEL_UNSPECIFIED",
            "MIN",
            "OPTIMAL",
            "MAX"
          ]
        }
      },
      "description": "Performance configuration definition.",
      "type": "object"
    },
    "ReverseSshConnectivity": {
      "id": "ReverseSshConnectivity",
      "properties": {
        "vmPort": {
          "format": "int32",
          "description": "Required. The forwarding port of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel.",
          "type": "integer"
        },
        "vm": {
          "description": "The name of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel.",
          "type": "string"
        },
        "vpc": {
          "description": "The name of the VPC to peer with the Cloud SQL private network.",
          "type": "string"
        },
        "vmIp": {
          "description": "Required. The IP of the virtual machine (Compute Engine) used as the bastion server for the SSH tunnel.",
          "type": "string"
        }
      },
      "description": "The details needed to configure a reverse SSH tunnel between the source and destination databases. These details will be used when calling the generateSshScript method (see https://cloud.google.com/database-migration/docs/reference/rest/v1/projects.locations.migrationJobs/generateSshScript) to produce the script that will help set up the reverse SSH tunnel, and to set up the VPC peering between the Cloud SQL private network and the VPC.",
      "type": "object"
    },
    "TriggerEntity": {
      "id": "TriggerEntity",
      "properties": {
        "sqlCode": {
          "description": "The SQL code which creates the trigger.",
          "type": "string"
        },
        "name": {
          "description": "The name of the trigger.",
          "type": "string"
        },
        "triggerType": {
          "description": "Indicates when the trigger fires, for example BEFORE STATEMENT, AFTER EACH ROW.",
          "type": "string"
        },
        "triggeringEvents": {
          "description": "The DML, DDL, or database events that fire the trigger, for example INSERT, UPDATE.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customFeatures": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Custom engine specific features.",
          "type": "object"
        }
      },
      "description": "Trigger is not used as an independent entity, it is retrieved as part of a Table entity.",
      "type": "object"
    },
    "ConversionWorkspaceInfo": {
      "id": "ConversionWorkspaceInfo",
      "properties": {
        "name": {
          "description": "The resource name (URI) of the conversion workspace.",
          "type": "string"
        },
        "commitId": {
          "description": "The commit ID of the conversion workspace.",
          "type": "string"
        }
      },
      "description": "A conversion workspace's version.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "TableEntity": {
      "description": "Table's parent is a schema.",
      "type": "object",
      "id": "TableEntity",
      "properties": {
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "indices": {
          "items": {
            "$ref": "IndexEntity"
          },
          "description": "Table indices.",
          "type": "array"
        },
        "columns": {
          "items": {
            "$ref": "ColumnEntity"
          },
          "description": "Table columns.",
          "type": "array"
        },
        "constraints": {
          "items": {
            "$ref": "ConstraintEntity"
          },
          "description": "Table constraints.",
          "type": "array"
        },
        "triggers": {
          "description": "Table triggers.",
          "type": "array",
          "items": {
            "$ref": "TriggerEntity"
          }
        },
        "comment": {
          "description": "Comment associated with the table.",
          "type": "string"
        }
      }
    },
    "SqlServerSourceConfig": {
      "id": "SqlServerSourceConfig",
      "properties": {
        "skipFullDump": {
          "description": "Optional. Whether to skip full dump or not.",
          "type": "boolean"
        },
        "cdcStartPosition": {
          "description": "Optional. The log sequence number (LSN) to start CDC data migration from.",
          "type": "string"
        },
        "maxConcurrentCdcConnections": {
          "description": "Optional. Maximum number of connections Database Migration Service will open to the source for CDC phase.",
          "type": "integer",
          "format": "int32"
        },
        "maxConcurrentFullDumpConnections": {
          "description": "Optional. Maximum number of connections Database Migration Service will open to the source for full dump phase.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Configuration for SQL Server as a source in a migration.",
      "type": "object"
    },
    "SqlServerBackups": {
      "description": "Specifies the backup details in Cloud Storage for homogeneous migration to Cloud SQL for SQL Server.",
      "type": "object",
      "id": "SqlServerBackups",
      "properties": {
        "gcsBucket": {
          "description": "Required. The Cloud Storage bucket that stores backups for all replicated databases.",
          "type": "string"
        },
        "gcsPrefix": {
          "description": "Optional. Cloud Storage path inside the bucket that stores backups.",
          "type": "string"
        }
      }
    },
    "PostgresSourceConfig": {
      "id": "PostgresSourceConfig",
      "properties": {
        "skipFullDump": {
          "description": "Optional. Whether to skip full dump or not.",
          "type": "boolean"
        }
      },
      "description": "Configuration for Postgres as a source in a migration.",
      "type": "object"
    },
    "FunctionEntity": {
      "description": "Function's parent is a schema.",
      "type": "object",
      "id": "FunctionEntity",
      "properties": {
        "sqlCode": {
          "description": "The SQL code which creates the function.",
          "type": "string"
        },
        "customFeatures": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Custom engine specific features.",
          "type": "object"
        }
      }
    },
    "SingleColumnChange": {
      "id": "SingleColumnChange",
      "properties": {
        "fractionalSecondsPrecision": {
          "description": "Optional. Column fractional seconds precision - e.g. 2 as in timestamp (2) - when relevant.",
          "type": "integer",
          "format": "int32"
        },
        "array": {
          "description": "Optional. Is the column of array type.",
          "type": "boolean"
        },
        "precision": {
          "format": "int32",
          "description": "Optional. Column precision - e.g. 8 as in double (8,2) - when relevant.",
          "type": "integer"
        },
        "dataType": {
          "description": "Optional. Column data type name.",
          "type": "string"
        },
        "autoGenerated": {
          "description": "Optional. Is the column auto-generated/identity.",
          "type": "boolean"
        },
        "collation": {
          "description": "Optional. Collation override - instead of table level collation.",
          "type": "string"
        },
        "length": {
          "description": "Optional. Column length - e.g. 50 as in varchar (50) - when relevant.",
          "type": "string",
          "format": "int64"
        },
        "customFeatures": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Custom engine specific features.",
          "type": "object"
        },
        "arrayLength": {
          "format": "int32",
          "description": "Optional. The length of the array, only relevant if the column type is an array.",
          "type": "integer"
        },
        "comment": {
          "description": "Optional. Comment associated with the column.",
          "type": "string"
        },
        "udt": {
          "description": "Optional. Is the column a UDT (User-defined Type).",
          "type": "boolean"
        },
        "nullable": {
          "description": "Optional. Is the column nullable.",
          "type": "boolean"
        },
        "scale": {
          "description": "Optional. Column scale - e.g. 2 as in double (8,2) - when relevant.",
          "type": "integer",
          "format": "int32"
        },
        "charset": {
          "description": "Optional. Charset override - instead of table level charset.",
          "type": "string"
        },
        "setValues": {
          "description": "Optional. Specifies the list of values allowed in the column.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Options to configure rule type SingleColumnChange. The rule is used to change the properties of a column. The rule filter field can refer to one entity. The rule scope can be one of: Column. When using this rule, if a field is not specified than the destination column's configuration will be the same as the one in the source column..",
      "type": "object"
    },
    "SourceSqlChange": {
      "id": "SourceSqlChange",
      "properties": {
        "sqlCode": {
          "description": "Required. Sql code for source (stored procedure, function, trigger or view)",
          "type": "string"
        }
      },
      "description": "Options to configure rule type SourceSqlChange. The rule is used to alter the sql code for database entities. The rule filter field can refer to one entity. The rule scope can be: StoredProcedure, Function, Trigger, View",
      "type": "object"
    },
    "SchemaEntity": {
      "id": "SchemaEntity",
      "properties": {
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "description": "Schema typically has no parent entity, but can have a parent entity DatabaseInstance (for database engines which support it). For some database engines, the terms schema and user can be used interchangeably when they refer to a namespace or a collection of other database entities. Can store additional information which is schema specific.",
      "type": "object"
    },
    "UDTEntity": {
      "description": "UDT's parent is a schema.",
      "type": "object",
      "id": "UDTEntity",
      "properties": {
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "udtSqlCode": {
          "description": "The SQL code which creates the udt.",
          "type": "string"
        },
        "udtBody": {
          "description": "The SQL code which creates the udt body.",
          "type": "string"
        }
      }
    },
    "FilterTableColumns": {
      "id": "FilterTableColumns",
      "properties": {
        "includeColumns": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of columns to be included for a particular table.",
          "type": "array"
        },
        "excludeColumns": {
          "description": "Optional. List of columns to be excluded for a particular table.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Options to configure rule type FilterTableColumns. The rule is used to filter the list of columns to include or exclude from a table. The rule filter field can refer to one entity. The rule scope can be: Table Only one of the two lists can be specified for the rule.",
      "type": "object"
    },
    "MigrationJob": {
      "id": "MigrationJob",
      "properties": {
        "dumpFlags": {
          "$ref": "DumpFlags",
          "description": "The initial dump flags. This field and the \"dump_path\" field are mutually exclusive."
        },
        "destinationDatabase": {
          "$ref": "DatabaseType",
          "description": "The database engine type and provider of the destination."
        },
        "filter": {
          "description": "This field can be used to select the entities to migrate as part of the migration job. It uses AIP-160 notation to select a subset of the entities configured on the associated conversion-workspace. This field should not be set on migration-jobs that are not associated with a conversion workspace.",
          "type": "string"
        },
        "cmekKeyName": {
          "description": "The CMEK (customer-managed encryption key) fully qualified key name used for the migration job. This field supports all migration jobs types except for: * Mysql to Mysql (use the cmek field in the cloudsql connection profile instead). * PostrgeSQL to PostgreSQL (use the cmek field in the cloudsql connection profile instead). * PostgreSQL to AlloyDB (use the kms_key_name field in the alloydb connection profile instead). Each Cloud CMEK key has the following format: projects/[PROJECT]/locations/[REGION]/keyRings/[RING]/cryptoKeys/[KEY_NAME]",
          "type": "string"
        },
        "sqlserverToPostgresConfig": {
          "$ref": "SqlServerToPostgresConfig",
          "description": "Configuration for heterogeneous **SQL Server to Cloud SQL for PostgreSQL** migrations."
        },
        "postgresHomogeneousConfig": {
          "description": "Optional. Configuration for PostgreSQL homogeneous migration.",
          "$ref": "PostgresHomogeneousConfig"
        },
        "reverseSshConnectivity": {
          "description": "The details needed to communicate to the source over Reverse SSH tunnel connectivity.",
          "$ref": "ReverseSshConnectivity"
        },
        "type": {
          "description": "Required. The migration job type.",
          "type": "string",
          "enumDescriptions": [
            "The type of the migration job is unknown.",
            "The migration job is a one time migration.",
            "The migration job is a continuous migration."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "CONTINUOUS"
          ]
        },
        "source": {
          "description": "Required. The resource name (URI) of the source connection profile.",
          "type": "string"
        },
        "originalMigrationName": {
          "description": "Optional. A failback replication pointer to the resource name (URI) of the original migration job.",
          "type": "string"
        },
        "sqlserverHomogeneousMigrationJobConfig": {
          "description": "Optional. Configuration for SQL Server homogeneous migration.",
          "$ref": "SqlServerHomogeneousMigrationJobConfig"
        },
        "staticIpConnectivity": {
          "$ref": "StaticIpConnectivity",
          "description": "static ip connectivity data (default, no additional details needed)."
        },
        "performanceConfig": {
          "description": "Optional. Data dump parallelism settings used by the migration.",
          "$ref": "PerformanceConfig"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "labels": {
          "description": "The resource labels for migration job to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of \"key\": \"value\" pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sourceDatabase": {
          "$ref": "DatabaseType",
          "description": "The database engine type and provider of the source."
        },
        "displayName": {
          "description": "The migration job display name.",
          "type": "string"
        },
        "phase": {
          "description": "Output only. The current migration job phase.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The phase of the migration job is unknown.",
            "The migration job is in the full dump phase.",
            "The migration job is CDC phase.",
            "The migration job is running the promote phase.",
            "Only RDS flow - waiting for source writes to stop",
            "Only RDS flow - the sources writes stopped, waiting for dump to begin",
            "The migration job is ready to be promoted."
          ],
          "enum": [
            "PHASE_UNSPECIFIED",
            "FULL_DUMP",
            "CDC",
            "PROMOTE_IN_PROGRESS",
            "WAITING_FOR_SOURCE_WRITES_TO_STOP",
            "PREPARING_THE_DUMP",
            "READY_FOR_PROMOTE"
          ]
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the migration job resource was last updated. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\".",
          "type": "string"
        },
        "destination": {
          "description": "Required. The resource name (URI) of the destination connection profile.",
          "type": "string"
        },
        "objectsConfig": {
          "$ref": "MigrationJobObjectsConfig",
          "description": "Optional. The objects that need to be migrated."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the migration job resource was created. A timestamp in RFC3339 UTC \"Zulu\" format, accurate to nanoseconds. Example: \"2014-10-02T15:01:23.045123456Z\".",
          "type": "string"
        },
        "conversionWorkspace": {
          "$ref": "ConversionWorkspaceInfo",
          "description": "The conversion workspace used by the migration."
        },
        "purpose": {
          "readOnly": true,
          "enumDescriptions": [
            "Unknown purpose. Will be defaulted to MIGRATE.",
            "Standard migration job.",
            "Failback replication job."
          ],
          "enum": [
            "PURPOSE_UNSPECIFIED",
            "MIGRATE",
            "FAILBACK"
          ],
          "description": "Output only. Migration job mode. Migration jobs can be standard forward jobs or failback migration jobs.",
          "type": "string"
        },
        "name": {
          "description": "The name (URI) of this migration job resource, in the form of: projects/{project}/locations/{location}/migrationJobs/{migrationJob}.",
          "type": "string"
        },
        "dumpPath": {
          "description": "The path to the dump file in Google Cloud Storage, in the format: (gs://[BUCKET_NAME]/[OBJECT_NAME]). This field and the \"dump_flags\" field are mutually exclusive.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. The error details in case of state FAILED."
        },
        "vpcPeeringConnectivity": {
          "description": "The details of the VPC network that the source database is located in.",
          "$ref": "VpcPeeringConnectivity"
        },
        "endTime": {
          "description": "Output only. If the migration job is completed, the time when it was completed.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "oracleToPostgresConfig": {
          "$ref": "OracleToPostgresConfig",
          "description": "Configuration for heterogeneous **Oracle to Cloud SQL for PostgreSQL** and **Oracle to AlloyDB for PostgreSQL** migrations."
        },
        "state": {
          "enumDescriptions": [
            "The state of the migration job is unknown.",
            "The migration job is down for maintenance.",
            "The migration job is in draft mode and no resources are created.",
            "The migration job is being created.",
            "The migration job is created and not started.",
            "The migration job is running.",
            "The migration job failed.",
            "The migration job has been completed.",
            "The migration job is being deleted.",
            "The migration job is being stopped.",
            "The migration job is currently stopped.",
            "The migration job has been deleted.",
            "The migration job is being updated.",
            "The migration job is starting.",
            "The migration job is restarting.",
            "The migration job is resuming."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "MAINTENANCE",
            "DRAFT",
            "CREATING",
            "NOT_STARTED",
            "RUNNING",
            "FAILED",
            "COMPLETED",
            "DELETING",
            "STOPPING",
            "STOPPED",
            "DELETED",
            "UPDATING",
            "STARTING",
            "RESTARTING",
            "RESUMING"
          ],
          "description": "The current migration job state.",
          "type": "string"
        },
        "duration": {
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. The duration of the migration job (in seconds). A duration in seconds with up to nine fractional digits, terminated by 's'. Example: \"3.5s\".",
          "type": "string"
        },
        "dumpType": {
          "description": "Optional. The type of the data dump. Supported for MySQL to CloudSQL for MySQL migrations only.",
          "type": "string",
          "enumDescriptions": [
            "If not specified, defaults to LOGICAL",
            "Logical dump.",
            "Physical file-based dump. Supported for MySQL to CloudSQL for MySQL migrations only."
          ],
          "enum": [
            "DUMP_TYPE_UNSPECIFIED",
            "LOGICAL",
            "PHYSICAL"
          ]
        },
        "mysqlHomogeneousConfig": {
          "description": "Optional. Configuration for MySQL homogeneous migration.",
          "$ref": "MySqlHomogeneousConfig"
        },
        "postgresToSqlserverConfig": {
          "$ref": "PostgresToSqlServerConfig",
          "description": "Configuration for heterogeneous failback migrations from **PostgreSQL to SQL Server**."
        }
      },
      "description": "Represents a Database Migration Service migration job object.",
      "type": "object"
    },
    "SqlIpConfig": {
      "description": "IP Management configuration.",
      "type": "object",
      "id": "SqlIpConfig",
      "properties": {
        "privateNetwork": {
[...]
