{
  "id": "dataproc:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "protocol": "rest",
  "title": "Cloud Dataproc API",
  "baseUrl": "https://dataproc.googleapis.com/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/dataproc/",
  "endpoints": [
    {
      "endpointUrl": "https://dataproc.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://dataproc.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://dataproc.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://dataproc.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://dataproc.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://dataproc.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://dataproc.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://dataproc.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://dataproc.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://dataproc.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://dataproc.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://dataproc.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://dataproc.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "schemas": {
    "EnvironmentConfig": {
      "description": "Environment configuration for a workload.",
      "id": "EnvironmentConfig",
      "type": "object",
      "properties": {
        "executionConfig": {
          "$ref": "ExecutionConfig",
          "description": "Optional. Execution configuration for a workload."
        },
        "peripheralsConfig": {
          "description": "Optional. Peripherals configuration that workload has access to.",
          "$ref": "PeripheralsConfig"
        }
      }
    },
    "AccessSparkApplicationStageAttemptResponse": {
      "properties": {
        "stageData": {
          "readOnly": true,
          "$ref": "StageData",
          "description": "Output only. Data corresponding to a stage."
        }
      },
      "description": "Stage Attempt for a Stage of a Spark Application",
      "type": "object",
      "id": "AccessSparkApplicationStageAttemptResponse"
    },
    "SummarizeSessionSparkApplicationJobsResponse": {
      "description": "Summary of a Spark Application jobs.",
      "id": "SummarizeSessionSparkApplicationJobsResponse",
      "type": "object",
      "properties": {
        "jobsSummary": {
          "description": "Summary of a Spark Application Jobs",
          "$ref": "JobsSummary"
        }
      }
    },
    "AccessSessionSparkApplicationResponse": {
      "id": "AccessSessionSparkApplicationResponse",
      "type": "object",
      "description": "A summary of Spark Application",
      "properties": {
        "application": {
          "readOnly": true,
          "$ref": "ApplicationInfo",
          "description": "Output only. High level information corresponding to an application."
        }
      }
    },
    "SparkStandaloneAutoscalingConfig": {
      "properties": {
        "scaleDownFactor": {
          "type": "number",
          "description": "Required. Fraction of required executors to remove from Spark Serverless clusters. A scale-down factor of 1.0 will result in scaling down so that there are no more executors for the Spark Job.(more aggressive scaling). A scale-down factor closer to 0 will result in a smaller magnitude of scaling donw (less aggressive scaling).Bounds: 0.0, 1.0.",
          "format": "double"
        },
        "removeOnlyIdleWorkers": {
          "description": "Optional. Remove only idle workers when scaling down cluster",
          "type": "boolean"
        },
        "scaleUpFactor": {
          "format": "double",
          "type": "number",
          "description": "Required. Fraction of required workers to add to Spark Standalone clusters. A scale-up factor of 1.0 will result in scaling up so that there are no more required workers for the Spark Job (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling).Bounds: 0.0, 1.0."
        },
        "scaleUpMinWorkerFraction": {
          "type": "number",
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "format": "double"
        },
        "gracefulDecommissionTimeout": {
          "description": "Required. Timeout for Spark graceful decommissioning of spark workers. Specifies the duration to wait for spark worker to complete spark decommissioning tasks before forcefully removing workers. Only applicable to downscaling operations.Bounds: 0s, 1d.",
          "format": "google-duration",
          "type": "string"
        },
        "scaleDownMinWorkerFraction": {
          "format": "double",
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "type": "number"
        }
      },
      "description": "Basic autoscaling configurations for Spark Standalone.",
      "id": "SparkStandaloneAutoscalingConfig",
      "type": "object"
    },
    "SearchSparkApplicationStageAttemptsResponse": {
      "description": "A list of Stage Attempts for a Stage of a Spark Application.",
      "type": "object",
      "id": "SearchSparkApplicationStageAttemptsResponse",
      "properties": {
        "sparkApplicationStageAttempts": {
          "readOnly": true,
          "items": {
            "$ref": "StageData"
          },
          "type": "array",
          "description": "Output only. Data corresponding to a stage attempts"
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListSparkApplicationStageAttemptsRequest.",
          "type": "string"
        }
      }
    },
    "SearchSessionSparkApplicationStageAttemptsResponse": {
      "id": "SearchSessionSparkApplicationStageAttemptsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationStageAttemptsRequest."
        },
        "sparkApplicationStageAttempts": {
          "items": {
            "$ref": "StageData"
          },
          "readOnly": true,
          "description": "Output only. Data corresponding to a stage attempts",
          "type": "array"
        }
      },
      "description": "A list of Stage Attempts for a Stage of a Spark Application.",
      "type": "object"
    },
    "YarnApplication": {
      "properties": {
        "memoryMbSeconds": {
          "format": "int64",
          "description": "Optional. The cumulative memory usage of the application for a job, measured in mb-seconds.",
          "type": "string"
        },
        "vcoreSeconds": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The cumulative CPU time consumed by the application for a job, measured in vcore-seconds."
        },
        "name": {
          "description": "Required. The application name.",
          "type": "string"
        },
        "progress": {
          "format": "float",
          "type": "number",
          "description": "Required. The numerical progress of the application, from 1 to 100."
        },
        "state": {
          "type": "string",
          "description": "Required. The application state.",
          "enumDescriptions": [
            "Status is unspecified.",
            "Status is NEW.",
            "Status is NEW_SAVING.",
            "Status is SUBMITTED.",
            "Status is ACCEPTED.",
            "Status is RUNNING.",
            "Status is FINISHED.",
            "Status is FAILED.",
            "Status is KILLED."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "NEW_SAVING",
            "SUBMITTED",
            "ACCEPTED",
            "RUNNING",
            "FINISHED",
            "FAILED",
            "KILLED"
          ]
        },
        "trackingUrl": {
          "type": "string",
          "description": "Optional. The HTTP URL of the ApplicationMaster, HistoryServer, or TimelineServer that provides application-specific information. The URL uses the internal hostname, and requires a proxy server for resolution and, possibly, access."
        }
      },
      "id": "YarnApplication",
      "description": "A YARN application created by a job. Application information is a subset of org.apache.hadoop.yarn.proto.YarnProtos.ApplicationReportProto.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
      "type": "object"
    },
    "PigJob": {
      "description": "A Dataproc job for running Apache Pig (https://pig.apache.org/) queries on YARN.",
      "id": "PigJob",
      "type": "object",
      "properties": {
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values, used to configure Pig. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/pig/conf/pig.properties, and classes in user code.",
          "type": "object"
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Pig Client and Hadoop MapReduce (MR) tasks. Can contain Pig UDFs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "continueOnFailure": {
          "type": "boolean",
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
        },
        "scriptVariables": {
          "description": "Optional. Mapping of query variable names to values (equivalent to the Pig command: name=[value]).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains the Pig queries.",
          "type": "string"
        },
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        }
      }
    },
    "StartClusterRequest": {
      "id": "StartClusterRequest",
      "properties": {
        "clusterUuid": {
          "type": "string",
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A unique ID used to identify the request. If the server receives two StartClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.StartClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
        }
      },
      "description": "A request to start a cluster.",
      "type": "object"
    },
    "ListAutoscalingPoliciesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Output only. This token is included in the response if there are more results to fetch.",
          "readOnly": true,
          "type": "string"
        },
        "policies": {
          "items": {
            "$ref": "AutoscalingPolicy"
          },
          "readOnly": true,
          "description": "Output only. Autoscaling policies list.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListAutoscalingPoliciesResponse",
      "description": "A response to a request to list autoscaling policies in a project."
    },
    "SqlExecutionUiData": {
      "type": "object",
      "properties": {
        "physicalPlanDescription": {
          "type": "string"
        },
        "details": {
          "type": "string"
        },
        "modifiedConfigs": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "stages": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "errorMessage": {
          "type": "string"
        },
        "metricValuesIsNull": {
          "type": "boolean"
        },
        "metricValues": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "jobs": {
          "type": "object",
          "additionalProperties": {
            "enum": [
              "JOB_EXECUTION_STATUS_UNSPECIFIED",
              "JOB_EXECUTION_STATUS_RUNNING",
              "JOB_EXECUTION_STATUS_SUCCEEDED",
              "JOB_EXECUTION_STATUS_FAILED",
              "JOB_EXECUTION_STATUS_UNKNOWN"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          }
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "SqlPlanMetric"
          }
        },
        "description": {
          "type": "string"
        },
        "completionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "rootExecutionId": {
          "type": "string",
          "format": "int64"
        },
        "executionId": {
          "type": "string",
          "format": "int64"
        }
      },
      "description": "SQL Execution Data",
      "id": "SqlExecutionUiData"
    },
    "RddOperationCluster": {
      "properties": {
        "rddClusterId": {
          "type": "string"
        },
        "childClusters": {
          "items": {
            "$ref": "RddOperationCluster"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "childNodes": {
          "items": {
            "$ref": "RddOperationNode"
          },
          "type": "array"
        }
      },
      "description": "A grouping of nodes representing higher level constructs (stage, job etc.).",
      "type": "object",
      "id": "RddOperationCluster"
    },
    "PySparkNotebookBatch": {
      "type": "object",
      "id": "PySparkNotebookBatch",
      "description": "A configuration for running a PySpark Notebook batch workload.",
      "properties": {
        "notebookFileUri": {
          "type": "string",
          "description": "Required. The HCFS URI of the notebook file to execute."
        },
        "params": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The parameters to pass to the notebook.",
          "type": "object"
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to be added to the Spark CLASSPATH.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pythonFileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of Python files to pass to the PySpark framework.",
          "type": "array"
        },
        "fileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor",
          "type": "array"
        }
      }
    },
    "NamespacedGkeDeploymentTarget": {
      "type": "object",
      "deprecated": true,
      "description": "Deprecated. Used only for the deprecated beta. A full, namespace-isolated deployment target for an existing GKE cluster.",
      "properties": {
        "targetGkeCluster": {
          "type": "string",
          "description": "Optional. The target GKE cluster to deploy to. Format: 'projects/{project}/locations/{location}/clusters/{cluster_id}'"
        },
        "clusterNamespace": {
          "description": "Optional. A namespace within the GKE cluster to deploy into.",
          "type": "string"
        }
      },
      "id": "NamespacedGkeDeploymentTarget"
    },
    "AppSummary": {
      "id": "AppSummary",
      "type": "object",
      "properties": {
        "numCompletedStages": {
          "type": "integer",
          "format": "int32"
        },
        "numCompletedJobs": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ShufflePushReadMetrics": {
      "id": "ShufflePushReadMetrics",
      "type": "object",
      "properties": {
        "remoteMergedChunksFetched": {
          "type": "string",
          "format": "int64"
        },
        "localMergedChunksFetched": {
          "type": "string",
          "format": "int64"
        },
        "localMergedBlocksFetched": {
          "type": "string",
          "format": "int64"
        },
        "localMergedBytesRead": {
          "format": "int64",
          "type": "string"
        },
        "corruptMergedBlockChunks": {
          "format": "int64",
          "type": "string"
        },
        "mergedFetchFallbackCount": {
          "type": "string",
          "format": "int64"
        },
        "remoteMergedBytesRead": {
          "format": "int64",
          "type": "string"
        },
        "remoteMergedReqsDuration": {
          "type": "string",
          "format": "int64"
        },
        "remoteMergedBlocksFetched": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "SearchSparkApplicationStageAttemptTasksResponse": {
      "description": "List of tasks for a stage of a Spark Application",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListSparkApplicationStageAttemptTasksRequest."
        },
        "sparkApplicationStageAttemptTasks": {
          "description": "Output only. Data corresponding to tasks created by spark.",
          "type": "array",
          "items": {
            "$ref": "TaskData"
          },
          "readOnly": true
        }
      },
      "id": "SearchSparkApplicationStageAttemptTasksResponse"
    },
    "AccessSessionSparkApplicationNativeSqlQueryResponse": {
      "properties": {
        "executionData": {
          "description": "Native SQL Execution Data",
          "$ref": "NativeSqlExecutionUiData"
        }
      },
      "type": "object",
      "id": "AccessSessionSparkApplicationNativeSqlQueryResponse",
      "description": "Details of a native query for a Spark Application"
    },
    "SparkSqlBatch": {
      "id": "SparkSqlBatch",
      "type": "object",
      "description": "A configuration for running Apache Spark SQL (https://spark.apache.org/sql/) queries as a batch workload.",
      "properties": {
        "queryFileUri": {
          "description": "Required. The HCFS URI of the script that contains Spark SQL queries to execute.",
          "type": "string"
        },
        "jarFileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to be added to the Spark CLASSPATH."
        },
        "queryVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of query variable names to values (equivalent to the Spark SQL command: SET name=\"value\";)."
        }
      }
    },
    "JobStatus": {
      "properties": {
        "stateStartTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when this state was entered.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The job state is unknown.",
            "The job is pending; it has been submitted, but is not yet running.",
            "Job has been received by the service and completed initial setup; it will soon be submitted to the cluster.",
            "The job is running on the cluster.",
            "A CancelJob request has been received, but is pending.",
            "Transient in-flight resources have been canceled, and the request to cancel the running job has been issued to the cluster.",
            "The job cancellation was successful.",
            "The job has completed successfully.",
            "The job has completed, but encountered an error.",
            "Job attempt has failed. The detail field contains failure details for this attempt.Applies to restartable jobs only."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SETUP_DONE",
            "RUNNING",
            "CANCEL_PENDING",
            "CANCEL_STARTED",
            "CANCELLED",
            "DONE",
            "ERROR",
            "ATTEMPT_FAILURE"
          ],
          "description": "Output only. A state message specifying the overall job state.",
          "readOnly": true
        },
        "substate": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The job substate is unknown.",
            "The Job is submitted to the agent.Applies to RUNNING state.",
            "The Job has been received and is awaiting execution (it might be waiting for a condition to be met). See the \"details\" field for the reason for the delay.Applies to RUNNING state.",
            "The agent-reported status is out of date, which can be caused by a loss of communication between the agent and Dataproc. If the agent does not send a timely update, the job will fail.Applies to RUNNING state."
          ],
          "description": "Output only. Additional state information, which includes status reported by the agent.",
          "enum": [
            "UNSPECIFIED",
            "SUBMITTED",
            "QUEUED",
            "STALE_STATUS"
          ]
        },
        "details": {
          "description": "Optional. Job state details, such as an error description if the state is ERROR.",
          "type": "string"
        }
      },
      "description": "Dataproc job status.",
      "id": "JobStatus",
      "type": "object"
    },
    "AccessSparkApplicationJobResponse": {
      "properties": {
        "jobData": {
          "$ref": "JobData",
          "description": "Output only. Data corresponding to a spark job.",
          "readOnly": true
        }
      },
      "description": "Details of a particular job associated with Spark Application",
      "id": "AccessSparkApplicationJobResponse",
      "type": "object"
    },
    "AutoscalingPolicy": {
      "id": "AutoscalingPolicy",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}",
          "readOnly": true
        },
        "id": {
          "description": "Required. The policy id.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of between 3 and 50 characters.",
          "type": "string"
        },
        "secondaryWorkerConfig": {
          "$ref": "InstanceGroupAutoscalingPolicyConfig",
          "description": "Optional. Describes how the autoscaler will operate for secondary workers."
        },
        "workerConfig": {
          "description": "Required. Describes how the autoscaler will operate for primary workers.",
          "$ref": "InstanceGroupAutoscalingPolicyConfig"
        },
        "clusterType": {
          "enumDescriptions": [
            "Not set.",
            "Standard dataproc cluster with a minimum of two primary workers.",
            "Clusters that can use only secondary workers and be scaled down to zero secondary worker nodes."
          ],
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "STANDARD",
            "ZERO_SCALE"
          ],
          "description": "Optional. The type of the clusters for which this autoscaling policy is to be configured.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to associate with this autoscaling policy. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with an autoscaling policy.",
          "type": "object"
        },
        "basicAlgorithm": {
          "$ref": "BasicAutoscalingAlgorithm"
        }
      },
      "type": "object",
      "description": "Describes an autoscaling policy for Dataproc cluster autoscaler."
    },
    "MetastoreConfig": {
      "properties": {
        "dataprocMetastoreService": {
          "type": "string",
          "description": "Required. Resource name of an existing Metastore service.Example: projects/[project_id]/locations/[dataproc_region]/services/[service-name]"
        }
      },
      "id": "MetastoreConfig",
      "type": "object",
      "description": "Specifies a Metastore configuration."
    },
    "PyPiRepositoryConfig": {
      "properties": {
        "pypiRepository": {
          "type": "string",
          "description": "Optional. The PyPi repository address. Note: This field is not available for batch workloads."
        }
      },
      "description": "Configuration for PyPi repository",
      "type": "object",
      "id": "PyPiRepositoryConfig"
    },
    "WorkflowNode": {
      "id": "WorkflowNode",
      "type": "object",
      "properties": {
        "prerequisiteStepIds": {
          "description": "Output only. Node's prerequisite nodes.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State is unspecified.",
            "The node is awaiting prerequisite node to finish.",
            "The node is runnable but not running.",
            "The node is running.",
            "The node completed successfully.",
            "The node failed. A node can be marked FAILED because its ancestor or peer failed."
          ],
          "readOnly": true,
          "description": "Output only. The node state.",
          "enum": [
            "NODE_STATE_UNSPECIFIED",
            "BLOCKED",
            "RUNNABLE",
            "RUNNING",
            "COMPLETED",
            "FAILED"
          ]
        },
        "jobId": {
          "description": "Output only. The job id; populated after the node enters RUNNING state.",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error detail."
        },
        "stepId": {
          "description": "Output only. The name of the node.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The workflow node."
    },
    "ClusterMetrics": {
      "id": "ClusterMetrics",
      "description": "Contains cluster daemon metrics, such as HDFS and YARN stats.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
      "properties": {
        "hdfsMetrics": {
          "description": "The HDFS metrics.",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object"
        },
        "yarnMetrics": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "description": "YARN metrics.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "AccessSessionSparkApplicationEnvironmentInfoResponse": {
      "id": "AccessSessionSparkApplicationEnvironmentInfoResponse",
      "properties": {
        "applicationEnvironmentInfo": {
          "$ref": "ApplicationEnvironmentInfo",
          "description": "Details about the Environment that the application is running in."
        }
      },
      "type": "object",
      "description": "Environment details of a Saprk Application."
    },
    "RepositoryConfig": {
      "id": "RepositoryConfig",
      "type": "object",
      "description": "Configuration for dependency repositories",
      "properties": {
        "pypiRepositoryConfig": {
          "$ref": "PyPiRepositoryConfig",
          "description": "Optional. Configuration for PyPi repository."
        }
      }
    },
    "SearchSparkApplicationExecutorsResponse": {
      "id": "SearchSparkApplicationExecutorsResponse",
      "type": "object",
      "description": "List of Executors associated with a Spark Application.",
      "properties": {
        "sparkApplicationExecutors": {
          "items": {
            "$ref": "ExecutorSummary"
          },
          "description": "Details about executors used by the application.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationExecutorsListRequest.",
          "type": "string"
        }
      }
    },
    "StateOperatorProgress": {
      "properties": {
        "numRowsTotal": {
          "type": "string",
          "format": "int64"
        },
        "numRowsRemoved": {
          "format": "int64",
          "type": "string"
        },
        "numStateStoreInstances": {
          "type": "string",
          "format": "int64"
        },
        "customMetrics": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        },
        "operatorName": {
          "type": "string"
        },
        "numRowsUpdated": {
          "format": "int64",
          "type": "string"
        },
        "commitTimeMs": {
          "type": "string",
          "format": "int64"
        },
        "allUpdatesTimeMs": {
          "format": "int64",
          "type": "string"
        },
        "numRowsDroppedByWatermark": {
          "type": "string",
          "format": "int64"
        },
        "numShufflePartitions": {
          "format": "int64",
          "type": "string"
        },
        "memoryUsedBytes": {
          "type": "string",
          "format": "int64"
        },
        "allRemovalsTimeMs": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StateOperatorProgress"
    },
    "IdentityConfig": {
      "properties": {
        "userServiceAccountMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. Map of user to service account."
        },
        "enableSsh": {
          "description": "Optional. Whether to enable SSH access for the cluster. The default is true for image versions prior to 3.1 and false for image versions 3.1 and later. The default behavior can be changed when creating clusters using image versions 2.3.30 and later.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Identity related configuration, including service account based secure multi-tenancy user mappings.",
      "id": "IdentityConfig"
    },
    "ApplicationEnvironmentInfo": {
      "id": "ApplicationEnvironmentInfo",
      "properties": {
        "systemProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "classpathEntries": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "runtime": {
          "$ref": "SparkRuntimeInfo"
        },
        "resourceProfiles": {
          "items": {
            "$ref": "ResourceProfileInfo"
          },
          "type": "array"
        },
        "sparkProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "hadoopProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metricsProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Details about the Environment that the application is running in."
    },
    "RddPartitionInfo": {
      "properties": {
        "memoryUsed": {
          "format": "int64",
          "type": "string"
        },
        "blockName": {
          "type": "string"
        },
        "executors": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storageLevel": {
          "type": "string"
        },
        "diskUsed": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "RddPartitionInfo",
      "type": "object",
      "description": "Information about RDD partitions."
    },
    "InputMetrics": {
      "description": "Metrics about the input data read by the task.",
      "id": "InputMetrics",
      "properties": {
        "bytesRead": {
          "type": "string",
          "format": "int64"
        },
        "recordsRead": {
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WorkflowGraph": {
      "description": "The workflow graph.",
      "id": "WorkflowGraph",
      "type": "object",
      "properties": {
        "nodes": {
          "items": {
            "$ref": "WorkflowNode"
          },
          "type": "array",
          "description": "Output only. The workflow nodes.",
          "readOnly": true
        }
      }
    },
    "ShieldedInstanceConfig": {
      "description": "Shielded Instance Config for clusters using Compute Engine Shielded VMs (https://cloud.google.com/security/shielded-cloud/shielded-vm).",
      "id": "ShieldedInstanceConfig",
      "type": "object",
      "properties": {
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Defines whether instances have integrity monitoring enabled."
        },
        "enableSecureBoot": {
          "description": "Optional. Defines whether instances have Secure Boot enabled.",
          "type": "boolean"
        },
        "enableVtpm": {
          "description": "Optional. Defines whether instances have the vTPM enabled.",
          "type": "boolean"
        }
      }
    },
    "ShuffleReadMetrics": {
      "description": "Shuffle data read by the task.",
      "type": "object",
      "id": "ShuffleReadMetrics",
      "properties": {
        "fetchWaitTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "localBlocksFetched": {
          "type": "string",
          "format": "int64"
        },
        "remoteBlocksFetched": {
          "format": "int64",
          "type": "string"
        },
        "remoteReqsDuration": {
          "format": "int64",
          "type": "string"
        },
        "localBytesRead": {
          "format": "int64",
          "type": "string"
        },
        "remoteBytesRead": {
          "type": "string",
          "format": "int64"
        },
        "recordsRead": {
          "type": "string",
          "format": "int64"
        },
        "remoteBytesReadToDisk": {
          "format": "int64",
          "type": "string"
        },
        "shufflePushReadMetrics": {
          "$ref": "ShufflePushReadMetrics"
        }
      }
    },
    "DriverSchedulingConfig": {
      "description": "Driver scheduling configuration.",
      "type": "object",
      "id": "DriverSchedulingConfig",
      "properties": {
        "memoryMb": {
          "format": "int32",
          "description": "Required. The amount of memory in MB the driver is requesting.",
          "type": "integer"
        },
        "vcores": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The number of vCPUs the driver is requesting."
        }
      }
    },
    "ListSessionTemplatesResponse": {
      "type": "object",
      "properties": {
        "sessionTemplates": {
          "items": {
            "$ref": "SessionTemplate"
          },
          "readOnly": true,
          "description": "Output only. Session template list",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListSessionTemplatesResponse",
      "description": "A list of session templates."
    },
    "SummarizeSparkApplicationStagesResponse": {
      "description": "Summary of a Spark Application stages.",
      "properties": {
        "stagesSummary": {
          "description": "Summary of a Spark Application Stages",
          "$ref": "StagesSummary"
        }
      },
      "id": "SummarizeSparkApplicationStagesResponse",
      "type": "object"
    },
    "NodeGroupOperationMetadata": {
      "properties": {
        "status": {
          "description": "Output only. Current operation status.",
          "readOnly": true,
          "$ref": "ClusterOperationStatus"
        },
        "statusHistory": {
          "readOnly": true,
          "items": {
            "$ref": "ClusterOperationStatus"
          },
          "description": "Output only. The previous operation status.",
          "type": "array"
        },
        "nodeGroupId": {
          "type": "string",
          "description": "Output only. Node group ID for the operation.",
          "readOnly": true
        },
        "warnings": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Errors encountered during operation execution."
        },
        "operationType": {
          "type": "string",
          "description": "The operation type.",
          "enum": [
            "NODE_GROUP_OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESIZE",
            "REPAIR",
            "UPDATE_LABELS",
            "START",
            "STOP",
            "UPDATE_METADATA_CONFIG"
          ],
          "enumDescriptions": [
            "Node group operation type is unknown.",
            "Create node group operation type.",
            "Update node group operation type.",
            "Delete node group operation type.",
            "Resize node group operation type.",
            "Repair node group operation type.",
            "Update node group label operation type.",
            "Start node group operation type.",
            "Stop node group operation type.",
            "This operation type is used to update the metadata config of a node group. We update the metadata of the VMs in the node group and await for intended config change to be completed at the node group level. Currently, only the identity config update is supported."
          ]
        },
        "clusterUuid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Cluster UUID associated with the node group operation."
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Short description of operation.",
          "type": "string"
        },
        "labels": {
          "description": "Output only. Labels associated with the operation.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "description": "Metadata describing the node group operation.",
      "type": "object",
      "id": "NodeGroupOperationMetadata"
    },
    "BasicYarnAutoscalingConfig": {
      "type": "object",
      "id": "BasicYarnAutoscalingConfig",
      "description": "Basic autoscaling configurations for YARN.",
      "properties": {
        "scaleUpMinWorkerFraction": {
          "type": "number",
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "format": "double"
        },
        "scaleUpFactor": {
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to add workers. A scale-up factor of 1.0 will result in scaling up so that there is no pending memory remaining after the update (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling). See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0.",
          "format": "double",
          "type": "number"
        },
        "gracefulDecommissionTimeout": {
          "description": "Required. Timeout for YARN graceful decommissioning of Node Managers. Specifies the duration to wait for jobs to complete before forcefully removing workers (and potentially interrupting jobs). Only applicable to downscaling operations.Bounds: 0s, 1d.",
          "type": "string",
          "format": "google-duration"
        },
        "scaleDownFactor": {
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to remove workers. A scale-down factor of 1 will result in scaling down so that there is no available memory remaining after the update (more aggressive scaling). A scale-down factor of 0 disables removing workers, which can be beneficial for autoscaling a single job. See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0.",
          "type": "number",
          "format": "double"
        },
        "scaleDownMinWorkerFraction": {
          "type": "number",
          "format": "double",
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0."
        }
      }
    },
    "UsageSnapshot": {
      "properties": {
        "snapshotTime": {
          "description": "Optional. The timestamp of the usage snapshot.",
          "format": "google-datetime",
          "type": "string"
        },
        "milliDcu": {
          "format": "int64",
          "description": "Optional. Milli (one-thousandth) Dataproc Compute Units (DCUs) (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing)).",
          "type": "string"
        },
        "shuffleStorageGb": {
          "description": "Optional. Shuffle Storage in gigabytes (GB). (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))",
          "format": "int64",
          "type": "string"
        },
        "milliAccelerator": {
          "description": "Optional. Milli (one-thousandth) accelerator. (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing)) Deprecated: This field is only used in runtime versions below 3.0.",
          "format": "int64",
          "type": "string"
        },
        "milliAcceleratorA10080": {
          "description": "Optional. Milli (one-thousandth) accelerator for A100-80 accelerators. (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))",
          "type": "string",
          "format": "int64"
        },
        "acceleratorType": {
          "type": "string",
          "description": "Optional. Accelerator type being used, if any Deprecated: This field is only used in runtime versions below 3.0."
        },
        "shuffleStorageGbPremium": {
          "type": "string",
          "description": "Optional. Shuffle Storage in gigabytes (GB) charged at premium tier. (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))",
          "format": "int64"
        },
        "milliAcceleratorA10040": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Milli (one-thousandth) accelerator for A100-40 accelerators. (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))"
        },
        "milliDcuPremium": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Milli (one-thousandth) Dataproc Compute Units (DCUs) charged at premium tier (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))."
        },
        "milliAcceleratorL4": {
          "description": "Optional. Milli (one-thousandth) accelerator for L4 accelerators. (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "UsageSnapshot",
      "description": "The usage snapshot represents the resources consumed by a workload at a specified time.",
      "type": "object"
    },
    "SearchSessionSparkApplicationExecutorsResponse": {
      "description": "List of Executors associated with a Spark Application.",
      "type": "object",
      "id": "SearchSessionSparkApplicationExecutorsResponse",
      "properties": {
        "sparkApplicationExecutors": {
          "items": {
            "$ref": "ExecutorSummary"
          },
          "type": "array",
          "description": "Details about executors used by the application."
        },
        "nextPageToken": {
          "type": "string",
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationExecutorsRequest."
        }
      }
    },
    "SessionStateHistory": {
      "description": "Historical state information.",
      "type": "object",
      "id": "SessionStateHistory",
      "properties": {
        "state": {
          "description": "Output only. The state of the session at this point in the session history.",
          "type": "string",
          "enumDescriptions": [
            "The session state is unknown.",
            "The session is created prior to running.",
            "The session is running.",
            "The session is terminating.",
            "The session is terminated successfully.",
            "The session is no longer running due to an error."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ]
        },
        "stateStartTime": {
          "description": "Output only. The time when the session entered the historical state.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "stateMessage": {
          "type": "string",
          "description": "Output only. Details about the state at this point in the session history.",
          "readOnly": true
        }
      }
    },
    "AccessSessionSparkApplicationSqlSparkPlanGraphResponse": {
      "description": "SparkPlanGraph for a Spark Application execution limited to maximum 10000 clusters.",
      "id": "AccessSessionSparkApplicationSqlSparkPlanGraphResponse",
      "properties": {
        "sparkPlanGraph": {
          "$ref": "SparkPlanGraph",
          "description": "SparkPlanGraph for a Spark Application execution."
        }
      },
      "type": "object"
    },
    "HadoopJob": {
      "id": "HadoopJob",
      "description": "A Dataproc job for running Apache Hadoop MapReduce (https://hadoop.apache.org/docs/current/hadoop-mapreduce-client/hadoop-mapreduce-client-core/MapReduceTutorial.html) jobs on Apache Hadoop YARN (https://hadoop.apache.org/docs/r2.7.1/hadoop-yarn/hadoop-yarn-site/YARN.html).",
      "type": "object",
      "properties": {
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values, used to configure Hadoop. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/hadoop/conf/*-site and classes in user code.",
          "type": "object"
        },
        "mainJarFileUri": {
          "description": "The HCFS URI of the jar file containing the main class. Examples: 'gs://foo-bucket/analytics-binaries/extract-useful-metrics-mr.jar' 'hdfs:/tmp/test-samples/custom-wordcount.jar' 'file:///home/usr/lib/hadoop-mapreduce/hadoop-mapreduce-examples.jar'",
          "type": "string"
        },
        "args": {
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as -libjars or -Dfoo=bar, that can be set as job properties, since a collision might occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "fileUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS (Hadoop Compatible Filesystem) URIs of files to be copied to the working directory of Hadoop drivers and distributed tasks. Useful for naively parallel tasks."
        },
        "mainClass": {
          "description": "The name of the driver's main class. The jar file containing the class must be in the default CLASSPATH or specified in jar_file_uris.",
          "type": "string"
        },
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Jar file URIs to add to the CLASSPATHs of the Hadoop driver and tasks."
        },
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted in the working directory of Hadoop drivers and tasks. Supported file types: .jar, .tar, .tar.gz, .tgz, or .zip.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ApplicationInfo": {
      "properties": {
        "maxCores": {
          "format": "int32",
          "type": "integer"
        },
        "coresPerExecutor": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "coresGranted": {
          "type": "integer",
          "format": "int32"
        },
        "applicationId": {
          "type": "string"
        },
        "attempts": {
          "items": {
            "$ref": "ApplicationAttemptInfo"
          },
          "type": "array"
        },
        "memoryPerExecutorMb": {
          "format": "int32",
          "type": "integer"
        },
        "applicationContextIngestionStatus": {
          "enum": [
            "APPLICATION_CONTEXT_INGESTION_STATUS_UNSPECIFIED",
            "APPLICATION_CONTEXT_INGESTION_STATUS_COMPLETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "quantileDataStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "QUANTILE_DATA_STATUS_UNSPECIFIED",
            "QUANTILE_DATA_STATUS_COMPLETED",
            "QUANTILE_DATA_STATUS_FAILED"
          ]
        }
      },
      "id": "ApplicationInfo",
      "type": "object",
      "description": "High level information corresponding to an application."
    },
    "InputQuantileMetrics": {
      "id": "InputQuantileMetrics",
      "properties": {
        "bytesRead": {
          "$ref": "Quantiles"
        },
        "recordsRead": {
          "$ref": "Quantiles"
        }
      },
      "type": "object"
    },
    "SparkConnectExecutionInfo": {
      "properties": {
        "userId": {
          "description": "User ID of the user who started the execution.",
          "type": "string"
        },
        "operationId": {
          "description": "Unique identifier for the operation.",
          "type": "string"
        },
        "sparkSessionTags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Tags associated with the Spark session.",
          "type": "array"
        },
        "detail": {
          "type": "string",
          "description": "Detailed information about the execution."
        },
        "closeTimestamp": {
          "description": "Timestamp when the execution was closed.",
          "type": "string",
          "format": "int64"
        },
        "startTimestamp": {
          "format": "int64",
          "description": "Timestamp when the execution started.",
          "type": "string"
        },
        "statement": {
          "description": "statement of the execution.",
          "type": "string"
        },
        "sqlExecIds": {
          "description": "Optional. List of sql execution ids associated with the execution.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "jobTag": {
          "type": "string",
          "description": "Required. Job tag of the execution."
        },
        "jobIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of job ids associated with the execution."
        },
        "finishTimestamp": {
          "format": "int64",
          "type": "string",
          "description": "Timestamp when the execution finished."
        },
        "sessionId": {
          "type": "string",
          "description": "Required. Session ID, ties the execution to a specific Spark Connect session."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Current state of the execution.",
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_STARTED",
            "EXECUTION_STATE_COMPILED",
            "EXECUTION_STATE_READY",
            "EXECUTION_STATE_CANCELED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_FINISHED",
            "EXECUTION_STATE_CLOSED"
          ],
          "enumDescriptions": [
            "Execution state is unknown.",
            "Execution state is started.",
            "Execution state is compiled.",
            "Execution state is ready.",
            "Execution state is canceled.",
            "Execution state is failed.",
            "Execution state is finished.",
            "Execution state is closed."
          ]
        }
      },
      "type": "object",
      "description": "Represents the lifecycle and details of an Execution via Spark Connect",
      "id": "SparkConnectExecutionInfo"
    },
    "GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset.The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        }
      },
      "id": "GetPolicyOptions"
    },
    "Interval": {
      "id": "Interval",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Inclusive start of the interval.If specified, a Timestamp matching this interval will have to be the same or after the start."
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval.If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive).The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object"
    },
    "ShuffleWriteMetrics": {
      "id": "ShuffleWriteMetrics",
      "properties": {
        "bytesWritten": {
          "format": "int64",
          "type": "string"
        },
        "writeTimeNanos": {
          "format": "int64",
          "type": "string"
        },
        "recordsWritten": {
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Shuffle data written by task.",
      "type": "object"
    },
    "AutoscalingConfig": {
      "properties": {
        "policyUri": {
          "description": "Optional. The autoscaling policy used by the cluster.Only resource names including projectid and location (region) are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id] projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id]Note that the policy must be in the same project and region.",
          "type": "string"
        }
      },
      "id": "AutoscalingConfig",
      "description": "Autoscaling Policy config associated with the cluster.",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for TestIamPermissions method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed."
        }
      },
      "type": "object"
    },
    "JobMetadata": {
      "properties": {
        "jobId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The job id."
        },
        "startTime": {
          "type": "string",
          "description": "Output only. Job submission time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "operationType": {
          "description": "Output only. Operation type.",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "$ref": "JobStatus",
          "readOnly": true,
          "description": "Output only. Most recent job status."
        }
      },
      "description": "Job Operation metadata.",
      "id": "JobMetadata",
      "type": "object"
    },
    "SearchSessionSparkApplicationJobsResponse": {
      "id": "SearchSessionSparkApplicationJobsResponse",
      "description": "A list of Jobs associated with a Spark Application.",
      "type": "object",
      "properties": {
        "sparkApplicationJobs": {
          "items": {
            "$ref": "JobData"
          },
          "type": "array",
          "description": "Output only. Data corresponding to a spark job.",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationJobsRequest.",
          "type": "string"
        }
      }
    },
    "AuxiliaryNodeGroup": {
      "type": "object",
      "description": "Node group identification and configuration information.",
      "id": "AuxiliaryNodeGroup",
      "properties": {
        "nodeGroup": {
          "description": "Required. Node group configuration.",
          "$ref": "NodeGroup"
        },
        "nodeGroupId": {
          "type": "string",
          "description": "Optional. A node group ID. Generated if not specified.The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of from 3 to 33 characters."
        }
      }
    },
    "ClusterConfig": {
      "type": "object",
      "description": "The cluster config.",
      "id": "ClusterConfig",
      "properties": {
        "configBucket": {
          "type": "string",
          "description": "Optional. A Cloud Storage bucket used to stage job dependencies, config files, and job driver console output. If you do not specify a staging bucket, the service will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's staging bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket (see staging and temp buckets (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket."
        },
        "autoscalingConfig": {
          "description": "Optional. Autoscaling config for the policy associated with the cluster. Cluster does not autoscale if this field is unset.",
          "$ref": "AutoscalingConfig"
        },
        "auxiliaryNodeGroups": {
          "type": "array",
          "items": {
            "$ref": "AuxiliaryNodeGroup"
          },
          "description": "Optional. The node group settings."
        },
        "workerConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for the cluster's worker instances."
        },
        "metastoreConfig": {
          "description": "Optional. Metastore configuration.",
          "$ref": "MetastoreConfig"
        },
        "securityConfig": {
          "$ref": "SecurityConfig",
          "description": "Optional. Security settings for the cluster."
        },
        "initializationActions": {
          "description": "Optional. Commands to execute on each node after config is completed. By default, executables are run on master and all worker nodes. You can test a node's role metadata to run an executable on a master or worker node, as shown below using curl (you can also use wget): ROLE=$(curl -H Metadata-Flavor:Google http://metadata/computeMetadata/v1/instance/attributes/dataproc-role) if [[ \"${ROLE}\" == 'Master' ]]; then ... master specific actions ... else ... worker specific actions ... fi ",
          "type": "array",
          "items": {
            "$ref": "NodeInitializationAction"
          }
        },
        "engine": {
          "type": "string",
          "enumDescriptions": [
            "The engine is not specified. Works the same as ENGINE_DEFAULT.",
            "The cluster is a default engine cluster.",
            "The cluster is a Lightning Engine (https://cloud.google.com/dataproc/docs/guides/lightning-engine) cluster."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "DEFAULT",
            "LIGHTNING"
          ],
          "description": "Optional. The cluster engine."
        },
        "diagnosticBucket": {
          "type": "string",
          "description": "Optional. A Cloud Storage bucket used to collect checkpoint diagnostic data (https://cloud.google.com/dataproc/docs/support/diagnose-clusters#checkpoint_diagnostic_data). If you do not specify a diagnostic bucket, The service will use the temp bucket to collect the checkpoint diagnostic data. This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket."
        },
        "tempBucket": {
          "type": "string",
          "description": "Optional. A Cloud Storage bucket used to store ephemeral cluster and jobs data, such as Spark and MapReduce history files. If you do not specify a temp bucket, the service will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's temp bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket. The default bucket has a TTL of 90 days, but you can use any TTL (or none) if you specify a bucket (see staging and temp buckets (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket."
        },
        "secondaryWorkerConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for a cluster's secondary worker instances"
        },
        "lifecycleConfig": {
          "$ref": "LifecycleConfig",
          "description": "Optional. Lifecycle setting for the cluster."
        },
        "clusterType": {
          "type": "string",
          "description": "Optional. The type of the cluster.",
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "STANDARD",
            "SINGLE_NODE",
            "ZERO_SCALE"
          ],
          "enumDescriptions": [
            "Not set.",
            "Standard dataproc cluster with a minimum of two primary workers.",
            "https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/single-node-clusters",
            "Clusters that can use only secondary workers and be scaled down to zero secondary worker nodes."
          ]
        },
        "dataprocMetricConfig": {
          "description": "Optional. The config for metrics.",
          "$ref": "DataprocMetricConfig"
        },
        "gkeClusterConfig": {
          "deprecated": true,
          "$ref": "GkeClusterConfig",
          "description": "Optional. BETA. The Kubernetes Engine config for clusters deployed to Kubernetes. These config settings are mutually exclusive with Compute Engine-based options, such as gce_cluster_config, master_config, worker_config, secondary_worker_config, and autoscaling_config."
        },
        "masterConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for the cluster's master instance."
        },
        "clusterTier": {
          "description": "Optional. The cluster tier.",
          "enum": [
            "CLUSTER_TIER_UNSPECIFIED",
            "CLUSTER_TIER_STANDARD",
            "CLUSTER_TIER_PREMIUM"
          ],
          "enumDescriptions": [
            "Uses standard tier if unspecified.",
            "Standard cluster tier.",
            "Premium cluster tier."
          ],
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Optional. Encryption settings for the cluster.",
          "$ref": "EncryptionConfig"
        },
        "gceClusterConfig": {
          "$ref": "GceClusterConfig",
          "description": "Optional. The shared Compute Engine config settings for all instances in a cluster."
        },
        "endpointConfig": {
          "$ref": "EndpointConfig",
          "description": "Optional. Port/endpoint configuration for this cluster"
        },
        "softwareConfig": {
          "description": "Optional. The config settings for cluster software.",
          "$ref": "SoftwareConfig"
        }
      }
    },
    "FallbackReason": {
      "properties": {
        "fallbackNode": {
          "description": "Optional. Fallback node information.",
          "type": "string"
        },
        "fallbackReason": {
          "type": "string",
          "description": "Optional. Fallback to Spark reason."
        }
      },
      "id": "FallbackReason",
      "description": "Native SQL Execution Data",
      "type": "object"
    },
    "ClusterOperationStatus": {
      "properties": {
        "innerState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A message containing the detailed operation state."
        },
        "stateStartTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time this state was entered."
        },
        "state": {
          "description": "Output only. A message containing the operation state.",
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "The operation has been created.",
            "The operation is running.",
            "The operation is done; either cancelled or completed."
          ],
          "enum": [
            "UNKNOWN",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "readOnly": true
        },
        "details": {
          "description": "Output only. A message containing any operation metadata details.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ClusterOperationStatus",
      "type": "object",
      "description": "The status of the operation."
    },
    "StreamingQueryProgress": {
      "properties": {
        "stateOperators": {
          "type": "array",
          "items": {
            "$ref": "StateOperatorProgress"
          }
        },
        "sink": {
          "$ref": "SinkProgress"
        },
        "observedMetrics": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "batchId": {
          "format": "int64",
          "type": "string"
        },
        "batchDuration": {
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "eventTime": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "runId": {
          "type": "string"
        },
        "sources": {
          "items": {
            "$ref": "SourceProgress"
          },
          "type": "array"
        },
        "streamingQueryProgressId": {
          "type": "string"
        },
        "timestamp": {
          "type": "string"
        },
        "durationMillis": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "type": "object",
      "id": "StreamingQueryProgress"
    },
    "SessionTemplate": {
      "id": "SessionTemplate",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Brief description of the template."
        },
        "runtimeConfig": {
          "$ref": "RuntimeConfig",
          "description": "Optional. Runtime configuration for session execution."
        },
        "labels": {
          "description": "Optional. Labels to associate with sessions created using this template. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values can be empty, but, if present, must contain 1 to 63 characters and conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a session.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "jupyterSession": {
          "description": "Optional. Jupyter session config.",
          "$ref": "JupyterConfig"
        },
        "sparkConnectSession": {
          "$ref": "SparkConnectConfig",
          "description": "Optional. Spark connect session config."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the template was last updated."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the template was created.",
          "readOnly": true
        },
        "uuid": {
          "description": "Output only. A session template UUID (Unique Universal Identifier). The service generates this value when it creates the session template.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Required. Identifier. The resource name of the session template.",
          "type": "string"
        },
        "creator": {
          "type": "string",
          "description": "Output only. The email address of the user who created the template.",
          "readOnly": true
        },
        "environmentConfig": {
          "$ref": "EnvironmentConfig",
          "description": "Optional. Environment configuration for session execution."
        }
      },
      "description": "A representation of a session template.",
      "type": "object"
    },
    "SummarizeSessionSparkApplicationStagesResponse": {
      "properties": {
        "stagesSummary": {
          "description": "Summary of a Spark Application Stages",
          "$ref": "StagesSummary"
        }
      },
      "id": "SummarizeSessionSparkApplicationStagesResponse",
      "type": "object",
      "description": "Summary of a Spark Application stages."
    },
    "ListClustersResponse": {
      "type": "object",
      "description": "The list of all clusters in a project.",
      "properties": {
        "nextPageToken": {
          "description": "Output only. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListClustersRequest.",
          "readOnly": true,
          "type": "string"
        },
        "clusters": {
          "description": "Output only. The clusters in the project.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Cluster"
          }
        }
      },
      "id": "ListClustersResponse"
    },
    "ManagedGroupConfig": {
      "type": "object",
      "description": "Specifies the resources used to actively manage an instance group.",
      "properties": {
        "instanceTemplateName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the Instance Template used for the Managed Instance Group."
        },
        "instanceGroupManagerUri": {
          "description": "Output only. The partial URI to the instance group manager for this group. E.g. projects/my-project/regions/us-central1/instanceGroupManagers/my-igm.",
          "type": "string",
          "readOnly": true
        },
        "instanceGroupManagerName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the Instance Group Manager for this group."
        }
      },
      "id": "ManagedGroupConfig"
    },
    "JobData": {
      "type": "object",
      "properties": {
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "numCompletedStages": {
          "format": "int32",
          "type": "integer"
        },
        "status": {
          "enum": [
            "JOB_EXECUTION_STATUS_UNSPECIFIED",
            "JOB_EXECUTION_STATUS_RUNNING",
            "JOB_EXECUTION_STATUS_SUCCEEDED",
            "JOB_EXECUTION_STATUS_FAILED",
            "JOB_EXECUTION_STATUS_UNKNOWN"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "numCompletedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "skippedStages": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "completionTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "sqlExecutionId": {
          "type": "string",
          "format": "int64"
        },
        "numCompletedIndices": {
          "type": "integer",
          "format": "int32"
        },
        "numTasks": {
          "format": "int32",
          "type": "integer"
        },
        "description": {
          "type": "string"
        },
        "numActiveStages": {
          "type": "integer",
          "format": "int32"
        },
        "numFailedStages": {
          "type": "integer",
          "format": "int32"
        },
        "numFailedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "jobGroup": {
          "type": "string"
        },
        "jobId": {
          "type": "string",
          "format": "int64"
        },
        "numSkippedTasks": {
          "format": "int32",
          "type": "integer"
        },
        "numKilledTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numActiveTasks": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "numSkippedStages": {
          "format": "int32",
          "type": "integer"
        },
        "stageIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "killTasksSummary": {
          "type": "object",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "id": "JobData",
      "description": "Data corresponding to a spark job."
    },
    "KerberosConfig": {
      "type": "object",
      "description": "Specifies Kerberos related configuration.",
      "properties": {
        "keystorePasswordUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided keystore. For the self-signed certificate, this password is generated by the service."
        },
        "truststoreUri": {
          "description": "Optional. The Cloud Storage URI of the truststore file used for SSL encryption. If not provided, the service will provide a self-signed certificate.",
          "type": "string"
        },
        "kdcDbKeyUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the master key of the KDC database."
        },
        "enableKerberos": {
          "description": "Optional. Flag to indicate whether to Kerberize the cluster (default: false). Set this field to true to enable Kerberos on a cluster.",
          "type": "boolean"
        },
        "crossRealmTrustAdminServer": {
          "description": "Optional. The admin server (IP or hostname) for the remote trusted realm in a cross realm trust relationship.",
          "type": "string"
        },
        "keystoreUri": {
          "description": "Optional. The Cloud Storage URI of the keystore file used for SSL encryption. If not provided, the service will provide a self-signed certificate.",
          "type": "string"
        },
        "keyPasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided key. For the self-signed certificate, this password is generated by the service.",
          "type": "string"
        },
        "rootPrincipalPasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the root principal password.",
          "type": "string"
        },
        "truststorePasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the password to the user provided truststore. For the self-signed certificate, this password is generated by the service.",
          "type": "string"
        },
        "crossRealmTrustSharedPasswordUri": {
          "description": "Optional. The Cloud Storage URI of a KMS encrypted file containing the shared password between the on-cluster Kerberos realm and the remote trusted realm, in a cross realm trust relationship.",
          "type": "string"
        },
        "crossRealmTrustRealm": {
          "type": "string",
          "description": "Optional. The remote realm the on-cluster KDC will trust, should the user enable cross realm trust."
        },
        "tgtLifetimeHours": {
          "type": "integer",
          "description": "Optional. The lifetime of the ticket granting ticket, in hours. If not specified, or user specifies 0, then default value 10 will be used.",
          "format": "int32"
        },
        "kmsKeyUri": {
          "description": "Optional. The URI of the KMS key used to encrypt sensitive files.",
          "type": "string"
        },
        "realm": {
          "description": "Optional. The name of the on-cluster Kerberos realm. If not specified, the uppercased domain of hostnames will be the realm.",
          "type": "string"
        },
        "crossRealmTrustKdc": {
          "description": "Optional. The KDC (IP or hostname) for the remote trusted realm in a cross realm trust relationship.",
          "type": "string"
        }
      },
      "id": "KerberosConfig"
    },
    "NodeInitializationAction": {
      "properties": {
        "executableFile": {
          "description": "Required. Cloud Storage URI of executable file.",
          "type": "string"
        },
        "executionTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Amount of time executable has to complete. Default is 10 minutes (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).Cluster creation fails with an explanatory error message (the name of the executable that caused the error and the exceeded timeout period) if the executable is not completed at end of the timeout period."
        }
      },
      "type": "object",
      "description": "Specifies an executable to run on a fully configured node and a timeout period for executable completion.",
      "id": "NodeInitializationAction"
    },
    "SparkJob": {
      "id": "SparkJob",
      "type": "object",
      "properties": {
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values, used to configure Spark. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code."
        },
        "mainJarFileUri": {
          "type": "string",
          "description": "The HCFS URI of the jar file that contains the main class."
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "type": "array"
        },
        "mainClass": {
          "type": "string",
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in SparkJob.jar_file_uris."
        },
        "jarFileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Spark driver and tasks.",
          "items": {
            "type": "string"
          }
        },
        "archiveUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "items": {
            "type": "string"
          }
        },
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A Dataproc job for running Apache Spark (https://spark.apache.org/) applications on YARN."
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for TestIamPermissions method."
    },
    "RddStorageInfo": {
      "type": "object",
      "properties": {
        "memoryUsed": {
          "type": "string",
          "format": "int64"
        },
        "storageLevel": {
          "type": "string"
        },
        "numCachedPartitions": {
          "format": "int32",
          "type": "integer"
        },
        "numPartitions": {
          "format": "int32",
          "type": "integer"
        },
        "rddStorageId": {
          "type": "integer",
          "format": "int32"
        },
        "diskUsed": {
          "type": "string",
          "format": "int64"
        },
        "partitions": {
          "items": {
            "$ref": "RddPartitionInfo"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "dataDistribution": {
          "items": {
            "$ref": "RddDataDistribution"
          },
          "type": "array"
        }
      },
      "id": "RddStorageInfo",
      "description": "Overall data about RDD storage."
    },
    "RuntimeConfig": {
      "id": "RuntimeConfig",
      "type": "object",
      "description": "Runtime configuration for a workload.",
      "properties": {
        "version": {
          "description": "Optional. Version of the batch runtime.",
          "type": "string"
        },
        "autotuningConfig": {
          "$ref": "AutotuningConfig",
          "description": "Optional. Autotuning configuration of the workload."
        },
        "containerImage": {
          "description": "Optional. Optional custom container image for the job runtime environment. If not specified, a default container image will be used.",
          "type": "string"
        },
        "repositoryConfig": {
          "$ref": "RepositoryConfig",
          "description": "Optional. Dependency repository configuration."
        },
        "cohort": {
          "description": "Optional. Cohort identifier. Identifies families of the workloads that have the same shape, for example, daily ETL jobs.",
          "type": "string"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A mapping of property names to values, which are used to configure workload execution."
        }
      }
    },
    "GceClusterConfig": {
      "description": "Common config settings for resources of Compute Engine cluster instances, applicable to all instances in the cluster.",
      "properties": {
        "networkUri": {
          "type": "string",
          "description": "Optional. The Compute Engine network to be used for machine communications. Cannot be specified with subnetwork_uri. If neither network_uri nor subnetwork_uri is specified, the \"default\" network of the project is used, if it exists. Cannot be a Custom Subnet Network (see Using Subnetworks (https://cloud.google.com/compute/docs/subnetworks) for more information).A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/global/networks/default projects/[project_id]/global/networks/default default"
        },
        "shieldedInstanceConfig": {
          "description": "Optional. Shielded Instance Config for clusters using Compute Engine Shielded VMs (https://cloud.google.com/security/shielded-cloud/shielded-vm).",
          "$ref": "ShieldedInstanceConfig"
        },
        "tags": {
          "type": "array",
          "description": "The Compute Engine network tags to add to all instances (see Tagging instances (https://cloud.google.com/vpc/docs/add-remove-network-tags)).",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "description": "Optional. The Compute Engine metadata entries to add to all instances (see Project and instance metadata (https://cloud.google.com/compute/docs/storing-retrieving-metadata#project_and_instance_metadata)).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "subnetworkUri": {
          "description": "Optional. The Compute Engine subnetwork to be used for machine communications. Cannot be specified with network_uri.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/regions/[region]/subnetworks/sub0 projects/[project_id]/regions/[region]/subnetworks/sub0 sub0",
          "type": "string"
        },
        "serviceAccountScopes": {
          "type": "array",
          "description": "Optional. The URIs of service account scopes to be included in Compute Engine instances. The following base set of scopes is always included: https://www.googleapis.com/auth/cloud.useraccounts.readonly https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/logging.writeIf no scopes are specified, the following defaults are also provided: https://www.googleapis.com/auth/bigquery https://www.googleapis.com/auth/bigtable.admin.table https://www.googleapis.com/auth/bigtable.data https://www.googleapis.com/auth/devstorage.full_control",
          "items": {
            "type": "string"
          }
        },
        "confidentialInstanceConfig": {
          "description": "Optional. Confidential Instance Config for clusters using Confidential VMs (https://cloud.google.com/confidential-computing/confidential-vm/docs).",
          "$ref": "ConfidentialInstanceConfig"
        },
        "zoneUri": {
          "type": "string",
          "description": "Optional. The Compute Engine zone where the cluster will be located. If omitted, the service will pick a zone in the cluster's Compute Engine region. On a get request, zone will always be present.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone] projects/[project_id]/zones/[zone] [zone]"
        },
        "nodeGroupAffinity": {
          "$ref": "NodeGroupAffinity",
          "description": "Optional. Node Group Affinity for sole-tenant clusters."
        },
        "privateIpv6GoogleAccess": {
          "type": "string",
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "INHERIT_FROM_SUBNETWORK",
            "OUTBOUND",
            "BIDIRECTIONAL"
          ],
          "description": "Optional. The type of IPv6 access for a cluster.",
          "enumDescriptions": [
            "If unspecified, Compute Engine default behavior will apply, which is the same as INHERIT_FROM_SUBNETWORK.",
            "Private access to and from Google Services configuration inherited from the subnetwork configuration. This is the default Compute Engine behavior.",
            "Enables outbound private IPv6 access to Google Services from the cluster.",
            "Enables bidirectional private IPv6 access between Google Services and the cluster."
          ]
        },
        "internalIpOnly": {
          "description": "Optional. This setting applies to subnetwork-enabled networks. It is set to true by default in clusters created with image versions 2.2.x.When set to true: All cluster VMs have internal IP addresses. Google Private Access (https://cloud.google.com/vpc/docs/private-google-access) must be enabled to access the Dataproc API and other Google Cloud APIs. Off-cluster dependencies must be configured to be accessible without external IP addresses.When set to false: Cluster VMs are not restricted to internal IP addresses. Ephemeral external IP addresses are assigned to each cluster VM.",
          "type": "boolean"
        },
        "autoZoneExcludeZoneUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. An optional list of Compute Engine zones where the cluster will not be located when Auto Zone is enabled. Only one of zone_uri or auto_zone_exclude_zone_uris can be set. If both are omitted, the service will pick a zone in the cluster Compute Engine region. If auto_zone_exclude_zone_uris is set and there is more than one non-excluded zone, the service will pick one of the non-excluded zones. Otherwise, cluster creation will fail with INVALID_ARGUMENT error.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone] projects/[project_id]/zones/[zone] [zone]"
        },
        "resourceManagerTags": {
[...]
