{
  "discoveryVersion": "v1",
  "version": "v1beta",
  "servicePath": "",
  "schemas": {
    "ResourceDetails": {
      "type": "object",
      "description": "Capture the resource details for resources that are included in the delta counts.",
      "id": "ResourceDetails",
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of the resource."
        },
        "fullResourceName": {
          "type": "string",
          "description": "Full resource name of the resource."
        },
        "container": {
          "type": "string",
          "description": "Specifies where the resource is created. For Google Cloud resources, it is the full name of the project."
        },
        "product": {
          "$ref": "Product",
          "description": "Product type of the resource."
        }
      }
    },
    "BackupDRConfig": {
      "properties": {
        "backupdrManaged": {
          "description": "Indicates if the resource is managed by BackupDR.",
          "type": "boolean"
        }
      },
      "id": "BackupDRConfig",
      "description": "BackupDRConfig to capture the backup and disaster recovery details of database resource.",
      "type": "object"
    },
    "Date": {
      "properties": {
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "AggregateIssueStatsRequest": {
      "type": "object",
      "description": "AggregateIssueStatsRequest represents the input to the AggregateIssueStats method.",
      "id": "AggregateIssueStatsRequest",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. The expression to filter resources. Supported fields are: `full_resource_name`, `resource_type`, `container`, `product.type`, `product.engine`, `product.version`, `location`, `labels`, `issues`, fields of availability_info, data_protection_info,'resource_name', etc. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. When `AND` and `OR` are both used in the expression, parentheses must be appropriately used to group the combinations. Example: `location=\"us-east1\"` Example: `container=\"projects/123\" OR container=\"projects/456\"` Example: `(container=\"projects/123\" OR container=\"projects/456\") AND location=\"us-east1\"`"
        },
        "parent": {
          "type": "string",
          "description": "Required. Parent can be a project, a folder, or an organization. The search is limited to the resources within the `scope`. The allowed values are: * projects/{PROJECT_ID} (e.g., \"projects/foo-bar\") * projects/{PROJECT_NUMBER} (e.g., \"projects/12345678\") * folders/{FOLDER_NUMBER} (e.g., \"folders/1234567\") * organizations/{ORGANIZATION_NUMBER} (e.g., \"organizations/123456\")"
        },
        "baselineDate": {
          "$ref": "Date",
          "description": "Optional. The baseline date w.r.t. which the delta counts are calculated. If not set, delta counts are not included in the response and the response indicates the current state of the fleet."
        },
        "signalTypeGroups": {
          "type": "array",
          "description": "Optional. Lists of signal types that are issues.",
          "items": {
            "$ref": "SignalTypeGroup"
          }
        }
      }
    },
    "AutomatedBackupPolicyInfo": {
      "properties": {
        "isEnabled": {
          "type": "boolean",
          "description": "Is automated policy enabled."
        },
        "subResource": {
          "$ref": "SubResource",
          "description": "Optional. Sub resource details associated with the signal."
        }
      },
      "id": "AutomatedBackupPolicyInfo",
      "description": "Automated backup policy signal info",
      "type": "object"
    },
    "QueryDatabaseResourceGroupsResponse": {
      "description": "QueryDatabaseResourceGroupsResponse represents the response message containing a list of resource groups.",
      "type": "object",
      "properties": {
        "resourceGroups": {
          "description": "List of database resource groups that pass the filter.",
          "items": {
            "$ref": "DatabaseResourceGroup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. List of unreachable regions from where data could not be retrieved.",
          "items": {
            "type": "string"
          }
        },
        "totalSize": {
          "description": "Output only. The total number of resource groups in the entire list.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "id": "QueryDatabaseResourceGroupsResponse"
    },
    "DatabaseResourceIssue": {
      "properties": {
        "signal": {
          "description": "Signal associated with the issue.",
          "$ref": "Signal"
        },
        "resource": {
          "$ref": "DatabaseResource",
          "description": "Resource associated with the issue."
        }
      },
      "id": "DatabaseResourceIssue",
      "description": "DatabaseResource and Issue associated with it.",
      "type": "object"
    },
    "MaintenanceRecommendationInfo": {
      "description": "Info associated with maintenance recommendation.",
      "type": "object",
      "properties": {
        "resourceMaintenanceSchedules": {
          "type": "array",
          "description": "Optional. List of recommended maintenance schedules for the database resource.",
          "items": {
            "$ref": "ResourceMaintenanceSchedule"
          }
        }
      },
      "id": "MaintenanceRecommendationInfo"
    },
    "SubResource": {
      "type": "object",
      "description": "Sub resource details For Spanner/Bigtable instance certain data protection settings are at sub resource level like database/table. This message is used to capture such sub resource details.",
      "id": "SubResource",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Optional. Resource type associated with the sub resource where backup settings are configured. E.g. \"spanner.googleapis.com/Database\" for Spanner where backup retention is configured on database within an instance OPTIONAL"
        },
        "fullResourceName": {
          "description": "Optional. Resource name associated with the sub resource where backup settings are configured. E.g.\"//spanner.googleapis.com/projects/project1/instances/inst1/databases/db1\" for Spanner where backup retention is configured on database within an instance OPTIONAL",
          "type": "string"
        },
        "container": {
          "description": "Specifies where the resource is created. For Google Cloud resources, it is the full name of the project.",
          "type": "string"
        },
        "product": {
          "description": "Optional. Product information associated with the sub resource where backup retention settings are configured. e.g. ``` product: { type : PRODUCT_TYPE_SPANNER engine : ENGINE_CLOUD_SPANNER_WITH_POSTGRES_DIALECT } ``` for Spanner where backup is configured on database within an instance OPTIONAL",
          "$ref": "Product"
        }
      }
    },
    "QueryStatsInfo": {
      "type": "object",
      "description": "QueryStatsInfo contains the aggregated and detailed query stats for a particular combination of relevant query stats for queries having same normalized query.",
      "id": "QueryStatsInfo",
      "properties": {
        "queryStats": {
          "description": "List of query stats for the resources in the group. This stats is stats at resource level for the resources having same normalized query.",
          "items": {
            "$ref": "QueryStats"
          },
          "type": "array"
        },
        "aggregatedQueryStats": {
          "description": "Aggregated query stats for the resources for same normalized query.",
          "$ref": "QueryStats"
        }
      }
    },
    "BackupRunInfo": {
      "properties": {
        "errorMessage": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The time the backup operation started.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The time the backup operation completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The backup succeeded.",
            "The backup was unsuccessful."
          ],
          "description": "Output only. The state of this run.",
          "readOnly": true,
          "type": "string"
        },
        "operationErrorType": {
          "enumDescriptions": [
            "UNSPECIFIED means operation error type is not known or available.",
            "Key destroyed, expired, not found, unreachable or permission denied.",
            "Database is not accessible.",
            "The zone or region does not have sufficient resources to handle the request at the moment.",
            "User initiated cancellation.",
            "SQL server specific error.",
            "Any other internal error."
          ],
          "enum": [
            "OPERATION_ERROR_TYPE_UNSPECIFIED",
            "KMS_KEY_ERROR",
            "DATABASE_ERROR",
            "STOCKOUT_ERROR",
            "CANCELLATION_ERROR",
            "SQLSERVER_ERROR",
            "INTERNAL_ERROR"
          ],
          "type": "string",
          "description": "Optional. OperationErrorType to expose specific error when backup operation of database resource failed, that is state is FAILED."
        },
        "subResource": {
          "description": "Optional. Sub resource details associated with the backup run.",
          "$ref": "SubResource"
        }
      },
      "id": "BackupRunInfo",
      "description": "Metadata about latest backup run state for a database resource.",
      "type": "object"
    },
    "RecommendationInfo": {
      "description": "Info associated with recommendation.",
      "type": "object",
      "properties": {
        "recommenderSubtype": {
          "description": "Contains an identifier for a subtype of recommendations produced for the same recommender. Subtype is a function of content and impact, meaning a new subtype might be added when significant changes to `content` or `primary_impact.category` are introduced. See the Recommenders section to see a list of subtypes for a given Recommender. Examples: For recommender = \"google.cloudsql.instance.PerformanceRecommender\", recommender_subtype can be \"MYSQL_HIGH_NUMBER_OF_OPEN_TABLES_BEST_PRACTICE\"/\"POSTGRES_HIGH_TRANSACTION_ID_UTILIZATION_BEST_PRACTICE\"",
          "type": "string"
        },
        "recommender": {
          "type": "string",
          "description": "Name of recommendation. Examples: organizations/1234/locations/us-central1/recommenders/google.cloudsql.instance.PerformanceRecommender/recommendations/9876"
        },
        "recommenderId": {
          "type": "string",
          "description": "ID of recommender. Examples: \"google.cloudsql.instance.PerformanceRecommender\""
        }
      },
      "id": "RecommendationInfo"
    },
    "AggregateIssueStatsResponse": {
      "description": "The response message containing one of more group of relevant health issues for database resources.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. List of unreachable regions from where data could not be retrieved.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "issueGroupStats": {
          "type": "array",
          "description": "List of issue group stats where each group contains stats for resources having a particular combination of relevant issues.",
          "items": {
            "$ref": "IssueGroupStats"
          }
        },
        "totalResourceGroupsCount": {
          "description": "Total count of the resource filtered in based on the user given filter.",
          "type": "integer",
          "format": "int32"
        },
        "totalResourcesCount": {
          "description": "Total count of the resources filtered in based on the user given filter.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AggregateIssueStatsResponse"
    },
    "RegulatoryStandard": {
      "type": "object",
      "description": "Compliances associated with signals.",
      "id": "RegulatoryStandard",
      "properties": {
        "standard": {
          "description": "Name of industry compliance standards, such as such as CIS, PCI, and OWASP.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Version of the standard or benchmark, for example, 1.1."
        }
      }
    },
    "IssueCount": {
      "id": "IssueCount",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Title of a signal group corresponding to the request."
        },
        "issueCount": {
          "format": "int32",
          "description": "The count of the number of issues associated with those resources that are explicitly filtered in by the filters present in the request. A signal is an issue when its SignalStatus field is set to SIGNAL_STATUS_ISSUE.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Count of issues for a group of signals."
    },
    "UpcomingMaintenance": {
      "type": "object",
      "description": "Upcoming maintenance window for the database resource.",
      "id": "UpcomingMaintenance",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. Start time of the upcoming maintenance. Start time is always populated when an upcoming maintenance is scheduled.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. End time of the upcoming maintenance. This is only populated for an engine, if end time is public for the engine.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DatabaseResource": {
      "id": "DatabaseResource",
      "properties": {
        "machineConfig": {
          "description": "Machine configuration like CPU, memory, etc for the resource.",
          "$ref": "MachineConfig"
        },
        "signalGroups": {
          "type": "array",
          "description": "The list of signal groups and count of issues related to the resource. Only those signals which have been requested would be included.",
          "items": {
            "$ref": "SignalGroup"
          }
        },
        "labels": {
          "description": "Labels applied on the resource. The requirements for labels assigned to Google Cloud resources may be found at https://cloud.google.com/resource-manager/docs/labels-overview#requirements",
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        },
        "edition": {
          "enum": [
            "EDITION_UNSPECIFIED",
            "EDITION_ENTERPRISE",
            "EDITION_ENTERPRISE_PLUS",
            "EDITION_STANDARD"
          ],
          "enumDescriptions": [
            "Default, to make it consistent with instance edition enum.",
            "Represents the enterprise edition.",
            "Represents the enterprise plus edition.",
            "Represents the standard edition."
          ],
          "description": "The edition of the resource.",
          "type": "string"
        },
        "product": {
          "description": "The product this resource represents.",
          "$ref": "Product"
        },
        "metrics": {
          "description": "Observable metrics for the resource e.g. CPU utilization, memory utilization, etc.",
          "$ref": "Metrics"
        },
        "resourceType": {
          "description": "The type of resource defined according to the pattern: {Service Name}/{Type}. Ex: sqladmin.googleapis.com/Instance alloydb.googleapis.com/Cluster alloydb.googleapis.com/Instance spanner.googleapis.com/Instance",
          "type": "string"
        },
        "childResources": {
          "type": "array",
          "description": "List of children associated with a database group.",
          "items": {
            "$ref": "DatabaseResource"
          }
        },
        "location": {
          "type": "string",
          "description": "The location of the resources. It supports returning only regional locations in Google Cloud. These are of the form: \"us-central1\", \"us-east1\", etc. See https://cloud.google.com/about/locations for a list of such regions."
        },
        "container": {
          "description": "Specifies where the resource is created. For Google Cloud resources, it is the full name of the project.",
          "type": "string"
        },
        "maintenanceInfo": {
          "$ref": "MaintenanceInfo",
          "description": "Optional. The maintenance information of the resource."
        },
        "backupdrConfig": {
          "description": "Optional. Backup and disaster recovery details for the resource.",
          "$ref": "BackupDRConfig"
        },
        "fullResourceName": {
          "description": "The full resource name, based on CAIS resource name format https://cloud.google.com/asset-inventory/docs/resource-name-format Example: `//cloudsql.googleapis.com/projects/project-number/instances/mysql-1` `//cloudsql.googleapis.com/projects/project-number/instances/postgres-1` `//spanner.googleapis.com/projects/project-number/instances/spanner-instance-1` `//alloydb.googleapis.com/projects/project-number/locations/us-central1/clusters/c1` `//alloydb.googleapis.com/projects/project-number/locations/us-central1/clusters/c1/instances/i1`",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "description": "Tags applied on the resource. The requirements for tags assigned to Google Cloud resources may be found at https://cloud.google.com/resource-manager/docs/tags/tags-overview",
          "items": {
            "$ref": "Tag"
          }
        },
        "resourceCategory": {
          "description": "The category of the resource.",
          "type": "string",
          "enum": [
            "RESOURCE_CATEGORY_UNSPECIFIED",
            "INSTANCE",
            "CLUSTER",
            "DATABASE",
            "DATASET",
            "RESERVATION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "A resource that is an Instance.",
            "A resource that is a Cluster.",
            "A resource that is a Database.",
            "A resource that is a Dataset.",
            "A resource that is a Reservation."
          ]
        },
        "resourceName": {
          "type": "string",
          "description": "The name of the resource(The last part of the full resource name). Example: For full resource name - `//cloudsql.googleapis.com/projects/project-number/instances/mysql-1`, resource name - `mysql-1` For full resource name - `//cloudsql.googleapis.com/projects/project-number/instances/postgres-1` , resource name - `postgres-1` Note: In some cases, there might be more than one resource with the same resource name."
        },
        "affiliations": {
          "description": "Optional. Affiliation details of the resource.",
          "items": {
            "$ref": "Affiliation"
          },
          "type": "array"
        },
        "subResourceType": {
          "enumDescriptions": [
            "Unspecified.",
            "A resource acting as a primary.",
            "A resource acting as a secondary.",
            "A resource acting as a read-replica.",
            "A resource acting as an external primary.",
            "A resource acting as a read pool.",
            "Represents a reservation resource.",
            "Represents a dataset resource.",
            "For the rest of the categories."
          ],
          "enum": [
            "SUB_RESOURCE_TYPE_UNSPECIFIED",
            "SUB_RESOURCE_TYPE_PRIMARY",
            "SUB_RESOURCE_TYPE_SECONDARY",
            "SUB_RESOURCE_TYPE_READ_REPLICA",
            "SUB_RESOURCE_TYPE_EXTERNAL_PRIMARY",
            "SUB_RESOURCE_TYPE_READ_POOL",
            "SUB_RESOURCE_TYPE_RESERVATION",
            "SUB_RESOURCE_TYPE_DATASET",
            "SUB_RESOURCE_TYPE_OTHER"
          ],
          "type": "string",
          "description": "Subtype of the resource specified at creation time."
        }
      },
      "type": "object",
      "description": "DatabaseResource represents every individually configured database unit representing compute and/or storage."
    },
    "Signal": {
      "id": "Signal",
      "properties": {
        "issueCreateTime": {
          "type": "string",
          "description": "Timestamp when the issue was created (when signal status is ISSUE).",
          "format": "google-datetime"
        },
        "signalStatus": {
          "type": "string",
          "description": "Status of the signal.",
          "enumDescriptions": [
            "Unspecified.",
            "Signal is not applicable to the resource.",
            "Signal is not an issue.",
            "Signal is an issue.",
            "Signal is not enabled for the resource."
          ],
          "enum": [
            "SIGNAL_STATUS_UNSPECIFIED",
            "SIGNAL_STATUS_NOT_APPLICABLE",
            "SIGNAL_STATUS_OK",
            "SIGNAL_STATUS_ISSUE",
            "SIGNAL_STATUS_NOT_ENABLED"
          ]
        },
        "signalType": {
          "description": "Type of the signal.",
          "type": "string",
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_RESOURCE_FAILOVER_PROTECTED",
            "SIGNAL_TYPE_GROUP_MULTIREGIONAL",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
            "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
            "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 2.0.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.3.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.2.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.1.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a database superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Deletion Protection Disabled for the resource",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster has suspended resources.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "Replication delay.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
            "Represents a database version nearing end of life.",
            "Indicates a high risk of maintenance downtime.",
            "Indicates both a low cache hit rate and a risk of maintenance downtime.",
            "Indicates that the resource is missing enhanced protection."
          ]
        },
        "additionalDetails": {
          "type": "array",
          "description": "Additional information related to the signal. In the case of composite signals, this field encapsulates details associated with granular signals, having a signal status of \"ISSUE\"; signals with a status of \"OK\" are not included. For granular signals, it encompasses information relevant to the signal, regardless of the signal status.",
          "items": {
            "$ref": "AdditionalDetail"
          }
        },
        "issueSeverity": {
          "type": "string",
          "description": "Severity of the issue.",
          "enumDescriptions": [
            "Unspecified.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity.",
            "Irrelevant severity. This means the issue should not be surfaced at all."
          ],
          "enum": [
            "ISSUE_SEVERITY_UNSPECIFIED",
            "ISSUE_SEVERITY_LOW",
            "ISSUE_SEVERITY_MEDIUM",
            "ISSUE_SEVERITY_HIGH",
            "ISSUE_SEVERITY_CRITICAL",
            "ISSUE_SEVERITY_IRRELEVANT"
          ]
        }
      },
      "type": "object",
      "description": "Represents a signal."
    },
    "DeletionProtectionInfo": {
      "properties": {
        "subResource": {
          "description": "Optional. Sub resource details associated with the signal.",
          "$ref": "SubResource"
        },
        "deletionProtectionEnabled": {
          "description": "Is deletion protection enabled.",
          "type": "boolean"
        }
      },
      "id": "DeletionProtectionInfo",
      "description": "Deletion protection signal info for a database resource.",
      "type": "object"
    },
    "DatabaseResourceGroup": {
      "id": "DatabaseResourceGroup",
      "properties": {
        "rootResources": {
          "type": "array",
          "description": "A database resource that serves as a root of the group of database resources. It is repeated just in case we have the concept of multiple roots in the future, however, it will only be populated with a single value for now.",
          "items": {
            "$ref": "DatabaseResource"
          }
        },
        "signalGroups": {
          "description": "The filtered signal groups and the count of issues associated with the resources that have been filtered in.",
          "items": {
            "$ref": "IssueCount"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "DatabaseResourceGroup represents all resources that serve a common data set. It is considered notionally as a single entity, powered by any number of units of compute and storage."
    },
    "TypedValue": {
      "id": "TypedValue",
      "properties": {
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "The value of the metric as double."
        },
        "int64Value": {
          "format": "int64",
          "type": "string",
          "description": "The value of the metric as int."
        }
      },
      "type": "object",
      "description": "TypedValue represents the value of the metric based on data type."
    },
    "IssueGroupStats": {
      "description": "IssueGroupStats refers to stats for a particulare combination of relevant health issues of database resources.",
      "type": "object",
      "properties": {
        "resourcesCount": {
          "description": "Total count of resources returned by the filter for which any of the specified issues are applicable.",
          "type": "integer",
          "format": "int32"
        },
        "healthyResourcesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of resources from the total defined above in field total_resources_count that are healthy with respect to all of the specified issues."
        },
        "issueStats": {
          "description": "List of issues stats containing count of resources having particular issue category.",
          "items": {
            "$ref": "IssueStats"
          },
          "type": "array"
        },
        "resourceGroupsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total count of the groups of resources returned by the filter that also have one or more resources for which any of the specified issues are applicable."
        },
        "healthyResourceGroupsCount": {
          "type": "integer",
          "description": "The number of resource groups from the total groups as defined above that are healthy with respect to all of the specified issues.",
          "format": "int32"
        },
        "displayName": {
          "type": "string",
          "description": "Database resource level health card name. This will corresponds to one of the requested input group names."
        }
      },
      "id": "IssueGroupStats"
    },
    "QueryIssuesRequest": {
      "description": "QueryIssuesRequest is the request to get a list of issues.",
      "type": "object",
      "properties": {
        "signalProductsFilters": {
          "type": "array",
          "description": "Optional. Filters based on signal and product. The filter list will be ORed across pairs and ANDed within a signal and products pair.",
          "items": {
            "$ref": "SignalProductsFilters"
          }
        },
        "filter": {
          "type": "string",
          "description": "Optional. Supported fields are: 'product', `location`, `issue_severity`, 'tags', 'labels',"
        },
        "orderBy": {
          "description": "Optional. Following fields are sortable: SignalType Product Location IssueSeverity The default order is ascending. Add \"DESC\" after the field name to indicate descending order. Add \"ASC\" after the field name to indicate ascending order. It only supports a single field at a time.",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous `QueryIssues` call. Provide this to retrieve the subsequent page. All parameters except page size should match the parameters used in the call that provided the page token."
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. If unspecified, at most 50 issues will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
          "type": "integer"
        },
        "parent": {
          "type": "string",
          "description": "Required. Parent can be a project, a folder, or an organization. The list is limited to the one attached to resources within the `scope` that a user has access to. The allowed values are: * projects/{PROJECT_ID} (e.g., \"projects/foo-bar\") * projects/{PROJECT_NUMBER} (e.g., \"projects/12345678\") * folders/{FOLDER_NUMBER} (e.g., \"folders/1234567\") * organizations/{ORGANIZATION_NUMBER} (e.g., \"organizations/123456\")"
        }
      },
      "id": "QueryIssuesRequest"
    },
    "AggregateQueryStatsRequest": {
      "description": "AggregateQueryStatsRequest represents the input to the AggregateQueryStats method.",
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "Optional. A page token, received from a previous `AggregateQueryStatsRequest` call. Provide this to retrieve the subsequent page. All parameters except page_token should match the parameters in the call that provided the page token.",
          "type": "string"
        },
        "orderBy": {
          "type": "string",
          "description": "Optional. The expression to order the results by. Example: `order_by=\"execution_count\"` Example: `order_by=\"execution_count desc\"` Supported order by fields are `execution_count`, `rows_processed`, `total_cpu_time`, `avg_cpu_time`."
        },
        "filter": {
          "type": "string",
          "description": "Optional. The expression to filter resources. Supported fields are: `full_resource_name`, `resource_type`, `container`, `product.type`, `product.engine`, `product.version`, `location`, `labels`, `issues`, fields of availability_info, data_protection_info,'resource_name', etc. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. When `AND` and `OR` are both used in the expression, parentheses must be appropriately used to group the combinations. Example: `location=\"us-east1\"` Example: `container=\"projects/123\" OR container=\"projects/456\"` Example: `(container=\"projects/123\" OR container=\"projects/456\") AND location=\"us-east1\"` Additional specific fields for query stats are: `metric_window`, `query_hash`, `normalized_query`. Example: `metric_window=\"LAST_ONE_DAY\"` (Possible values for `metric_window` are: `LAST_ONE_DAY`, `LAST_ONE_WEEK`, `LAST_TWO_WEEKS`) Example: `query_hash=\"12345678\"` Example: `normalized_query=\"SELECT * FROM table\"`"
        },
        "pageSize": {
          "description": "Optional. If unspecified, at most 100 query stats will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AggregateQueryStatsRequest"
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "seconds": {
          "format": "int32",
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        }
      },
      "id": "TimeOfDay"
    },
    "DeltaDetails": {
      "properties": {
        "increasedResources": {
          "description": "Details of resources that have increased.",
          "items": {
            "$ref": "ResourceDetails"
          },
          "type": "array"
        },
        "decreasedResources": {
          "description": "Details of resources that have decreased.",
          "items": {
            "$ref": "ResourceDetails"
          },
          "type": "array"
        }
      },
      "id": "DeltaDetails",
      "description": "Captures the details of items that have increased or decreased in some bucket when compared to some point in history. It is currently used to capture the delta of resources that have been added or removed in the fleet as well as to capture the resources that have a change in Issue/Signal status.",
      "type": "object"
    },
    "AggregateQueryStatsResponse": {
      "properties": {
        "queryStats": {
          "description": "List of query stats where each group contains stats for resources having a particular combination of relevant query stats.",
          "items": {
            "$ref": "QueryStatsInfo"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. List of unreachable regions from where data could not be retrieved.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AggregateQueryStatsResponse",
      "description": "The response message containing relevant query stats for database resources.",
      "type": "object"
    },
    "QueryDatabaseResourceGroupsRequest": {
      "type": "object",
      "description": "QueryDatabaseResourceGroupsRequest is the request to get a list of database groups.",
      "id": "QueryDatabaseResourceGroupsRequest",
      "properties": {
        "pageToken": {
          "description": "Optional. A page token, received from a previous `QueryDatabaseResourceGroupsRequest` call. Provide this to retrieve the subsequent page. All parameters except page_token should match the parameters in the call that provided the page page token.",
          "type": "string"
        },
        "filter": {
          "description": "Optional. The expression to filter resources. The following fields are filterable: * full_resource_name * resource_type * container * product.type * product.engine * product.version * location * labels * resource_category * machine_config.cpu_count * machine_config.memory_size_bytes * machine_config.shard_count * resource_name * tags * backupdr_config.backupdr_managed * edition The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. When `AND` and `OR` are both used in the expression, parentheses must be appropriately used to group the combinations. Example: `location=\"us-east1\"` Example: `container=\"projects/123\" OR container=\"projects/456\"` Example: `(container=\"projects/123\" OR container=\"projects/456\") AND location=\"us-east1\"` Example: `full_resource_name=~\"test\"` Example: `full_resource_name=~\"test.*master\"`",
          "type": "string"
        },
        "orderBy": {
          "description": "Optional. A field that specifies the sort order of the results. The following fields are sortable: * full_resource_name * product.type * product.engine * product.version * container * issue_count * machine_config.vcpu_count * machine_config.memory_size_bytes * machine_config.shard_count * resource_name * issue_severity * signal_type * location * resource_type * instance_type * edition * metrics.p99_cpu_utilization * metrics.p95_cpu_utilization * metrics.current_storage_used_bytes * metrics.node_count * metrics.processing_unit_count * metrics.current_memory_used_bytes * metrics.peak_storage_utilization * metrics.peak_number_connections * metrics.peak_memory_utilization The default order is ascending. Add \"DESC\" after the field name to indicate descending order. Add \"ASC\" after the field name to indicate ascending order. It only supports a single field at a time. For example: `order_by = \"full_resource_name\"` sorts response in ascending order `order_by = \"full_resource_name DESC\"` sorts response in descending order `order_by = \"issue_count DESC\"` sorts response in descending order of count of all issues associated with a resource. More explicitly, `order_by = \"full_resource_name, product\"` is not supported.",
          "type": "string"
        },
        "signalProductsFilters": {
          "description": "Optional. Filters based on signal and product. The filter list will be ORed across pairs and ANDed within a signal and products pair.",
          "items": {
            "$ref": "SignalProductsFilters"
          },
          "type": "array"
        },
        "signalTypeGroups": {
          "type": "array",
          "description": "Optional. Groups of signal types that are requested.",
          "items": {
            "$ref": "SignalTypeGroup"
          }
        },
        "parent": {
          "description": "Required. Parent can be a project, a folder, or an organization. The search is limited to the resources within the `scope`. The allowed values are: * projects/{PROJECT_ID} (e.g., \"projects/foo-bar\") * projects/{PROJECT_NUMBER} (e.g., \"projects/12345678\") * folders/{FOLDER_NUMBER} (e.g., \"folders/1234567\") * organizations/{ORGANIZATION_NUMBER} (e.g., \"organizations/123456\")",
          "type": "string"
        },
        "signalFilters": {
          "type": "array",
          "description": "Optional. Filters based on signals. The list will be ORed together and then ANDed with the `filters` field above.",
          "items": {
            "$ref": "SignalFilter"
          }
        },
        "pageSize": {
          "description": "Optional. If unspecified, at most 50 resource groups will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "MaintenanceInfo": {
      "description": "MaintenanceInfo to capture the maintenance details of database resource.",
      "type": "object",
      "properties": {
        "possibleFailureReasons": {
          "type": "array",
          "description": "Output only. List of possible reasons why the maintenance is not completed. This is an optional field and is only populated if there are any reasons for failures recorded for the maintenance by DB Center. FAILURE maintenance status may not always have a failure reason.",
          "readOnly": true,
          "items": {
            "enum": [
              "POSSIBLE_FAILURE_REASON_UNSPECIFIED",
              "POSSIBLE_FAILURE_REASON_DENY_POLICY_CONFLICT",
              "POSSIBLE_FAILURE_REASON_INSTANCE_IN_STOPPED_STATE"
            ],
            "enumDescriptions": [
              "Failure reason is unspecified.",
              "Maintenance may not be completed because there is a deny policy overlapping with upcoming maintenance schedule.",
              "Maintenance may not be completed because the instance is stopped."
            ],
            "type": "string"
          }
        },
        "maintenanceVersion": {
          "type": "string",
          "description": "Output only. Current Maintenance version of the database resource. Example: \"MYSQL_8_0_41.R20250531.01_15\"",
          "readOnly": true
        },
        "previousMaintenanceVersion": {
          "description": "Output only. Previous maintenance version of the database resource. Example: \"MYSQL_8_0_41.R20250531.01_15\". This is available once a minor version maintenance is complete on a database resource.",
          "readOnly": true,
          "type": "string"
        },
        "currentVersionReleaseDate": {
          "description": "Output only. The date when the maintenance version was released.",
          "readOnly": true,
          "$ref": "Date"
        },
        "upcomingMaintenance": {
          "description": "Output only. Upcoming maintenance window for the database resource. This is only populated for an engine, if upcoming maintenance is scheduled for the resource. This schedule is generated per engine and engine version, and there is only one upcoming maintenance window at any given time. In case of upcoming maintenance, the maintenance_state will be set to SCHEDULED first, and then IN_PROGRESS when the maintenance window starts.",
          "readOnly": true,
          "$ref": "UpcomingMaintenance"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Status is unspecified.",
            "Maintenance is scheduled.",
            "Maintenance is in progress.",
            "Maintenance is completed.",
            "Maintenance has failed."
          ],
          "enum": [
            "MAINTENANCE_STATE_UNSPECIFIED",
            "MAINTENANCE_STATE_SCHEDULED",
            "MAINTENANCE_STATE_IN_PROGRESS",
            "MAINTENANCE_STATE_COMPLETED",
            "MAINTENANCE_STATE_FAILED"
          ],
          "description": "Output only. Resource maintenance state. This is to capture the current state of the maintenance.",
          "readOnly": true
        },
        "maintenanceSchedule": {
          "description": "Optional. Maintenance window for the database resource.",
          "$ref": "ResourceMaintenanceSchedule"
        },
        "denyMaintenanceSchedules": {
          "description": "Optional. List of Deny maintenance period for the database resource.",
          "items": {
            "$ref": "ResourceMaintenanceDenySchedule"
          },
          "type": "array"
        }
      },
      "id": "MaintenanceInfo"
    },
    "SignalProductsFilters": {
      "id": "SignalProductsFilters",
      "properties": {
        "products": {
          "type": "array",
          "description": "Optional. Product type of the resource. The version of the product will be ignored in filtering.",
          "items": {
            "$ref": "Product"
          }
        },
        "signalType": {
          "description": "Optional. The type of signal.",
          "type": "string",
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_RESOURCE_FAILOVER_PROTECTED",
            "SIGNAL_TYPE_GROUP_MULTIREGIONAL",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
            "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
            "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 2.0.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.3.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.2.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.1.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a database superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Deletion Protection Disabled for the resource",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster has suspended resources.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "Replication delay.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
            "Represents a database version nearing end of life.",
            "Indicates a high risk of maintenance downtime.",
            "Indicates both a low cache hit rate and a risk of maintenance downtime.",
            "Indicates that the resource is missing enhanced protection."
          ]
        }
      },
      "type": "object",
      "description": "SignalProductsFilters represents a signal and list of supported products."
    },
    "SignalTypeGroup": {
      "type": "object",
      "description": "A group of signal types that specifies what the user is interested in. Used by QueryDatabaseResourceGroups API. Example: signal_type_group { name = \"AVAILABILITY\" types = [SIGNAL_TYPE_NO_PROMOTABLE_REPLICA] }",
      "id": "SignalTypeGroup",
      "properties": {
        "signalTypes": {
          "description": "Optional. List of signal types present in the group.",
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
              "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
              "Represents if a resource has an automated backup policy.",
              "Represents if a resources has a short backup retention period.",
              "Represents if the last backup of a resource failed.",
              "Represents if the last backup of a resource is older than some threshold value.",
              "Represents if a resource violates CIS Google Cloud Platform Foundation 2.0.",
              "Represents if a resource violates CIS Google Cloud Platform Foundation 1.3.",
              "Represents if a resource violates CIS Google Cloud Platform Foundation 1.2.",
              "Represents if a resource violates CIS Google Cloud Platform Foundation 1.1.",
              "Represents if a resource violates CIS Google Cloud Platform Foundation 1.0.",
              "Represents if a resource violates CIS Controls 8.0.",
              "Represents if a resource violates NIST 800-53.",
              "Represents if a resource violates NIST 800-53 R5.",
              "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
              "Represents if a resource violates ISO-27001.",
              "Represents if a resource violates ISO 27001 2022.",
              "Represents if a resource violates PCI-DSS v3.2.1.",
              "Represents if a resource violates PCI-DSS v4.0.",
              "Represents if a resource violates Cloud Controls Matrix v4.0.",
              "Represents if a resource violates HIPAA.",
              "Represents if a resource violates SOC2 v2017.",
              "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
              "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
              "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
              "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
              "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
              "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
              "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
              "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
              "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
              "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
              "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
              "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
              "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
              "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
              "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
              "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
              "Represents if a resource is exposed to public access.",
              "Represents if a resources requires all incoming connections to use SSL or not.",
              "Represents if a Cloud SQL database has a password configured for the root account or not.",
              "Represents if a Cloud SQL database has a weak password configured for the root account.",
              "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
              "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
              "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
              "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
              "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
              "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
              "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
              "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
              "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
              "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
              "Represents if public IP is enabled.",
              "Represents idle instance helps to reduce costs.",
              "Represents instances that are unnecessarily large for given workload.",
              "Represents high number of concurrently opened tables.",
              "Represents high table count close to SLA limit.",
              "Represents high number of unvacuumed transactions",
              "Represents need for more CPU and/or memory",
              "Represents out of disk.",
              "Represents server certificate is near expiry.",
              "Represents database auditing is disabled.",
              "Represents not restricted to authorized networks.",
              "Represents violate org policy restrict public ip.",
              "Cluster nearing quota limit",
              "No password policy set on resources",
              "Performance impact of connections settings",
              "Performance impact of temporary tables settings",
              "Performance impact of transaction logs settings",
              "Performance impact of high joins without indexes",
              "Detects events where a database superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
              "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
              "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
              "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
              "Detects if a database instance is using a weak password hash algorithm.",
              "Detects if a database instance has no user password policy set.",
              "Detects if a database instance/cluster has a hot node.",
              "Deletion Protection Disabled for the resource",
              "Detects if a database instance has no point in time recovery enabled.",
              "Detects if a database instance/cluster has suspended resources.",
              "Detects that expensive commands are being run on a database instance impacting overall performance.",
              "Indicates that the instance does not have a maintenance policy configured.",
              "Indicates that the instance has inefficient queries detected.",
              "Indicates that the instance has read intensive workload.",
              "Indicates that the instance is nearing memory limit.",
              "Indicates that the instance's max server memory is configured higher than the recommended value.",
              "Indicates that the database has large rows beyond the recommended limit.",
              "Heavy write pressure on the database rows.",
              "Heavy read pressure on the database rows.",
              "Encryption org policy not satisfied.",
              "Location org policy not satisfied.",
              "Outdated DB minor version.",
              "Schema not optimized.",
              "Replication delay.",
              "Outdated client.",
              "Databoost is disabled.",
              "Recommended maintenance policy.",
              "Resource version is in extended support.",
              "Represents a database version nearing end of life.",
              "Indicates a high risk of maintenance downtime.",
              "Indicates both a low cache hit rate and a risk of maintenance downtime.",
              "Indicates that the resource is missing enhanced protection."
            ],
            "enum": [
              "SIGNAL_TYPE_UNSPECIFIED",
              "SIGNAL_TYPE_RESOURCE_FAILOVER_PROTECTED",
              "SIGNAL_TYPE_GROUP_MULTIREGIONAL",
              "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
              "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
              "SIGNAL_TYPE_LAST_BACKUP_FAILED",
              "SIGNAL_TYPE_LAST_BACKUP_OLD",
              "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
              "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
              "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
              "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
              "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
              "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
              "SIGNAL_TYPE_VIOLATES_NIST_800_53",
              "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
              "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
              "SIGNAL_TYPE_VIOLATES_ISO_27001",
              "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
              "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
              "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
              "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
              "SIGNAL_TYPE_VIOLATES_HIPAA",
              "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
              "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
              "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
              "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
              "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
              "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
              "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
              "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
              "SIGNAL_TYPE_QUERY_STATS_LOGGED",
              "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
              "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATS",
              "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATS",
              "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
              "SIGNAL_TYPE_LOGGING_QUERY_STATS",
              "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
              "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
              "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
              "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
              "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
              "SIGNAL_TYPE_NO_ROOT_PASSWORD",
              "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
              "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
              "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
              "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
              "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
              "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
              "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
              "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
              "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
              "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
              "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
              "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
              "SIGNAL_TYPE_IDLE",
              "SIGNAL_TYPE_OVERPROVISIONED",
              "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
              "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
              "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
              "SIGNAL_TYPE_UNDERPROVISIONED",
              "SIGNAL_TYPE_OUT_OF_DISK",
              "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
              "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
              "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
              "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
              "SIGNAL_TYPE_QUOTA_LIMIT",
              "SIGNAL_TYPE_NO_PASSWORD_POLICY",
              "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
              "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
              "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
              "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
              "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
              "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
              "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
              "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
              "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
              "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
              "SIGNAL_TYPE_HOT_NODE",
              "SIGNAL_TYPE_NO_DELETION_PROTECTION",
              "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
              "SIGNAL_TYPE_RESOURCE_SUSPENDED",
              "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
              "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
              "SIGNAL_TYPE_INEFFICIENT_QUERY",
              "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
              "SIGNAL_TYPE_MEMORY_LIMIT",
              "SIGNAL_TYPE_MAX_SERVER_MEMORY",
              "SIGNAL_TYPE_LARGE_ROWS",
              "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
              "SIGNAL_TYPE_HIGH_READ_PRESSURE",
              "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
              "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
              "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
              "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
              "SIGNAL_TYPE_REPLICATION_LAG",
              "SIGNAL_TYPE_OUTDATED_CLIENT",
              "SIGNAL_TYPE_DATABOOST_DISABLED",
              "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
              "SIGNAL_TYPE_EXTENDED_SUPPORT",
              "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
              "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
              "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
              "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of a signal group."
        }
      }
    },
    "Lineage": {
      "id": "Lineage",
      "properties": {
        "processType": {
          "description": "Optional. Type of process which created the lineage.",
          "type": "string",
          "enum": [
            "PROCESS_TYPE_UNSPECIFIED",
            "COMPOSER",
            "DATASTREAM",
            "DATAFLOW",
            "BIGQUERY",
            "DATA_FUSION",
            "DATAPROC"
          ],
          "enumDescriptions": [
            "Unspecified process type.",
            "Composer process type.",
            "Datastream process type.",
            "Dataflow process type.",
            "Bigquery process type.",
            "Data fusion process type.",
            "Dataproc process type."
          ]
        },
        "sourceFqn": {
          "description": "Optional. FQN of source table / column",
          "type": "string"
        },
        "targetFqn": {
          "type": "string",
          "description": "Optional. FQN of target table / column"
        },
        "processFqn": {
          "type": "string",
          "description": "Optional. FQN of process which created the lineage i.e. dataplex, datastream etc."
        }
      },
      "type": "object",
      "description": "lineage information of the affiliated resources This captures source, target and process which created the lineage."
    },
    "ResourceMaintenanceDenySchedule": {
      "type": "object",
      "description": "Deny maintenance period for the database resource. It specifies the time range during which the maintenance cannot start. This is configured by the customer.",
      "id": "ResourceMaintenanceDenySchedule",
      "properties": {
        "startDate": {
          "$ref": "Date",
          "description": "Optional. The start date of the deny maintenance period."
        },
        "time": {
          "$ref": "TimeOfDay",
          "description": "Optional. Time in UTC when the deny period starts on start_date and ends on end_date."
        },
        "endDate": {
          "description": "Optional. Deny period end date.",
          "$ref": "Date"
        }
      }
    },
    "AggregateFleetRow": {
      "id": "AggregateFleetRow",
      "properties": {
        "deltaDetails": {
          "description": "Optional. Delta counts and details of resources which were added to/deleted from fleet.",
          "$ref": "DeltaDetails"
        },
        "dimension": {
          "description": "Group by dimension.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        },
        "resourceGroupsCount": {
          "description": "Number of resource groups that have a particular dimension.",
          "type": "integer",
          "format": "int32"
        },
        "resourcesCount": {
          "format": "int32",
          "description": "Number of resources that have a particular dimension.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Individual row grouped by a particular dimension."
    },
    "AdditionalDetail": {
      "description": "Details related to signal.",
      "type": "object",
      "properties": {
        "inefficientQueryInfo": {
          "$ref": "InefficientQueryInfo",
          "description": "Inefficient query information applies to signals with type SIGNAL_TYPE_INEFFICIENT_QUERY."
        },
        "signalEventTime": {
          "type": "string",
          "description": "Event time when signal was recorded by source service.",
          "format": "google-datetime"
        },
        "signalType": {
          "description": "Type of the signal.",
          "type": "string",
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_RESOURCE_FAILOVER_PROTECTED",
            "SIGNAL_TYPE_GROUP_MULTIREGIONAL",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
            "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
            "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 2.0.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.3.",
            "Represents if a resource violates CIS Google Cloud Platform Foundation 1.2.",
[...]
