{
  "basePath": "",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "protocol": "rest",
  "schemas": {
    "GoogleCloudDataplexV1DataQualityRuleTemplateReference": {
      "type": "object",
      "description": "A rule that constructs a SQL statement to evaluate using a rule template and parameter values. If the constructed statement returns any rows, this rule fails",
      "properties": {
        "values": {
          "type": "object",
          "description": "Optional. Provides the map of parameter name and value. The maximum size of the field is 120KB (encoded as UTF-8).",
          "additionalProperties": {
            "$ref": "GoogleCloudDataplexV1DataQualityRuleTemplateReferenceParameterValue"
          }
        },
        "resolvedSql": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resolved SQL statement generated from the template with parameters substituted. It is only populated in the result."
        },
        "ruleTemplate": {
          "$ref": "GoogleCloudDataplexV1DataQualityRuleTemplate",
          "description": "Output only. The rule template used to resolve the rule. It is only populated in the result.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Required. The template entry name. Entry must be of EntryType projects/dataplex-types/locations/global/entryTypes/data-quality-rule-template and contains top-level aspect of AspectType projects/dataplex-types/locations/global/aspectTypes/data-quality-rule-template. The format is: projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entries/{entry_id}"
        }
      },
      "id": "GoogleCloudDataplexV1DataQualityRuleTemplateReference"
    },
    "GoogleCloudDataplexV1SessionEventQueryDetail": {
      "type": "object",
      "properties": {
        "dataProcessedBytes": {
          "description": "The data processed by the query.",
          "format": "int64",
          "type": "string"
        },
        "duration": {
          "type": "string",
          "description": "Time taken for execution of the query.",
          "format": "google-duration"
        },
        "queryText": {
          "type": "string",
          "description": "The query text executed."
        },
        "queryId": {
          "description": "The unique Query id identifying the query.",
          "type": "string"
        },
        "engine": {
          "enumDescriptions": [
            "An unspecified Engine type.",
            "Spark-sql engine is specified in Query.",
            "BigQuery engine is specified in Query."
          ],
          "type": "string",
          "description": "Query Execution engine.",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "SPARK_SQL",
            "BIGQUERY"
          ]
        },
        "resultSizeBytes": {
          "type": "string",
          "description": "The size of results the query produced.",
          "format": "int64"
        }
      },
      "description": "Execution details of the query.",
      "id": "GoogleCloudDataplexV1SessionEventQueryDetail"
    },
    "GoogleCloudDataplexV1GovernanceEventEntity": {
      "properties": {
        "entityType": {
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "TABLE",
            "FILESET"
          ],
          "enumDescriptions": [
            "An unspecified Entity type.",
            "Table entity type.",
            "Fileset entity type."
          ],
          "type": "string",
          "description": "Type of entity."
        },
        "entity": {
          "type": "string",
          "description": "The Entity resource the log event is associated with. Format: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/entities/{entity_id}"
        }
      },
      "description": "Information about Entity resource that the log event is associated with.",
      "id": "GoogleCloudDataplexV1GovernanceEventEntity",
      "type": "object"
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.If there are AuditConfigs for both allServices and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, storage.googleapis.com, cloudsql.googleapis.com. allServices is a special value that covers all services.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1MetadataJobImportJobSpec": {
      "type": "object",
      "id": "GoogleCloudDataplexV1MetadataJobImportJobSpec",
      "description": "Job specification for a metadata import job.You can run the following kinds of metadata import jobs: Full sync of entries with incremental import of their aspects. Supported for custom entries. Incremental import of aspects only. Supported for aspects that belong to custom entries and system entries. For custom entries, you can modify both optional aspects and required aspects. For system entries, you can modify optional aspects.",
      "properties": {
        "sourceCreateTime": {
          "description": "Optional. The time when the process that created the metadata import files began.",
          "type": "string",
          "format": "google-datetime"
        },
        "logLevel": {
          "enumDescriptions": [
            "Log level unspecified.",
            "Debug-level logging. Captures detailed logs for each import item. Use debug-level logging to troubleshoot issues with specific import items. For example, use debug-level logging to identify resources that are missing from the job scope, entries or aspects that don't conform to the associated entry type or aspect type, or other misconfigurations with the metadata import file.Depending on the size of your metadata job and the number of logs that are generated, debug-level logging might incur additional costs (https://cloud.google.com/stackdriver/pricing).",
            "Info-level logging. Captures logs at the overall job level. Includes aggregate logs about import items, but doesn't specify which import item has an error."
          ],
          "description": "Optional. The level of logs to write to Cloud Logging for this job.Debug-level logs provide highly-detailed information for troubleshooting, but their increased verbosity could incur additional costs (https://cloud.google.com/stackdriver/pricing) that might not be merited for all jobs.If unspecified, defaults to INFO.",
          "type": "string",
          "enum": [
            "LOG_LEVEL_UNSPECIFIED",
            "DEBUG",
            "INFO"
          ]
        },
        "entrySyncMode": {
          "type": "string",
          "description": "Required. The sync mode for entries.",
          "enum": [
            "SYNC_MODE_UNSPECIFIED",
            "FULL",
            "INCREMENTAL",
            "NONE"
          ],
          "enumDescriptions": [
            "Sync mode unspecified.",
            "All resources in the job's scope are modified. If a resource exists in Dataplex Universal Catalog but isn't included in the metadata import file, the resource is deleted when you run the metadata job. Use this mode to perform a full sync of the set of entries in the job scope.This sync mode is supported for entries.",
            "Only the resources that are explicitly included in the metadata import file are modified. Use this mode to modify a subset of resources while leaving unreferenced resources unchanged.This sync mode is supported for aspects.",
            "If entry sync mode is NONE, then aspects are modified according to the aspect sync mode. Other metadata that belongs to entries in the job's scope isn't modified.This sync mode is supported for entries."
          ]
        },
        "aspectSyncMode": {
          "type": "string",
          "description": "Required. The sync mode for aspects.",
          "enum": [
            "SYNC_MODE_UNSPECIFIED",
            "FULL",
            "INCREMENTAL",
            "NONE"
          ],
          "enumDescriptions": [
            "Sync mode unspecified.",
            "All resources in the job's scope are modified. If a resource exists in Dataplex Universal Catalog but isn't included in the metadata import file, the resource is deleted when you run the metadata job. Use this mode to perform a full sync of the set of entries in the job scope.This sync mode is supported for entries.",
            "Only the resources that are explicitly included in the metadata import file are modified. Use this mode to modify a subset of resources while leaving unreferenced resources unchanged.This sync mode is supported for aspects.",
            "If entry sync mode is NONE, then aspects are modified according to the aspect sync mode. Other metadata that belongs to entries in the job's scope isn't modified.This sync mode is supported for entries."
          ]
        },
        "scope": {
          "description": "Required. A boundary on the scope of impact that the metadata import job can have.",
          "$ref": "GoogleCloudDataplexV1MetadataJobImportJobSpecImportJobScope"
        },
        "sourceStorageUri": {
          "type": "string",
          "description": "Optional. The URI of a Cloud Storage bucket or folder (beginning with gs:// and ending with /) that contains the metadata import files for this job.A metadata import file defines the values to set for each of the entries and aspects in a metadata import job. For more information about how to create a metadata import file and the file requirements, see Metadata import file (https://cloud.google.com/dataplex/docs/import-metadata#metadata-import-file).You can provide multiple metadata import files in the same metadata job. The bucket or folder must contain at least one metadata import file, in JSON Lines format (either .json or .jsonl file extension).In FULL entry sync mode, don't save the metadata import file in a folder named SOURCE_STORAGE_URI/deletions/.Caution: If the metadata import file contains no data, all entries and aspects that belong to the job's scope are deleted."
        }
      }
    },
    "GoogleCloudDataplexV1ResourceAccessSpec": {
      "properties": {
        "readers": {
          "description": "Optional. The format of strings follows the pattern followed by IAM in the bindings. user:{email}, serviceAccount:{email} group:{email}. The set of principals to be granted reader role on the resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "owners": {
          "description": "Optional. The set of principals to be granted owner role on the resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "writers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The set of principals to be granted writer role on the resource."
        }
      },
      "description": "ResourceAccessSpec holds the access control configuration to be enforced on the resources, for example, Cloud Storage bucket, BigQuery dataset, BigQuery table.",
      "id": "GoogleCloudDataplexV1ResourceAccessSpec",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualitySpec": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualitySpec",
      "properties": {
        "samplingPercent": {
          "type": "number",
          "description": "Optional. The percentage of the records to be selected from the dataset for DataScan. Value can range between 0.0 and 100.0 with up to 3 significant decimal digits. Sampling is not applied if sampling_percent is not specified, 0 or 100.",
          "format": "float"
        },
        "enableCatalogBasedRules": {
          "type": "boolean",
          "description": "Optional. If enabled, the data scan will retrieve rules defined in the dataplex-types.global.data-rules aspect on all paths of the catalog entry corresponding to the BigQuery table resource and all attached glossary terms. The path that data-rules aspect is attached on the table entry defines the column that the rule will be evaluated against. For glossary terms, the path that the terms are attached on the table entry defines the column that the rule will be evaluated against. At the start of scan execution, the rules reflect the latest state retrieved from the catalog entry and any updates on the rules thereafter are ignored for that execution. The updates will be reflected from the next execution. Rules defined in the datascan must be empty if this field is enabled."
        },
        "postScanActions": {
          "$ref": "GoogleCloudDataplexV1DataQualitySpecPostScanActions",
          "description": "Optional. Actions to take upon job completion."
        },
        "filter": {
          "description": "Optional. Filter for selectively running a subset of rules. You can filter the request by the name or attribute key-value pairs defined on the rule. If not specified, all rules are run. The filter is applicable to both, the rules retrieved from catalog and explicitly defined rules in the scan. Please see filter syntax (https://docs.cloud.google.com/dataplex/docs/auto-data-quality-overview#rule-filtering) for more details.",
          "type": "string"
        },
        "rules": {
          "description": "Required. The list of rules to evaluate against a data source. At least one rule is required.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataQualityRule"
          }
        },
        "catalogPublishingEnabled": {
          "type": "boolean",
          "description": "Optional. If set, the latest DataScan job result will be published as Dataplex Universal Catalog metadata."
        },
        "rowFilter": {
          "description": "Optional. A filter applied to all rows in a single DataScan job. The filter needs to be a valid SQL expression for a WHERE clause in GoogleSQL syntax (https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax#where_clause).Example: col1 >= 0 AND col2 < 10",
          "type": "string"
        }
      },
      "description": "DataQualityScan related setting."
    },
    "GoogleCloudDataplexV1DataProfileSpecPostScanActions": {
      "properties": {
        "bigqueryExport": {
          "description": "Optional. If set, results will be exported to the provided BigQuery table.",
          "$ref": "GoogleCloudDataplexV1DataProfileSpecPostScanActionsBigQueryExport"
        }
      },
      "id": "GoogleCloudDataplexV1DataProfileSpecPostScanActions",
      "type": "object",
      "description": "The configuration of post scan actions of DataProfileScan job."
    },
    "GoogleCloudDataplexV1DataScanExecutionSpec": {
      "type": "object",
      "description": "DataScan execution settings.",
      "properties": {
        "field": {
          "type": "string",
          "description": "Immutable. The unnested field (of type Date or Timestamp) that contains values which monotonically increase over time.If not specified, a data scan will run for all data in the table."
        },
        "trigger": {
          "$ref": "GoogleCloudDataplexV1Trigger",
          "description": "Optional. Spec related to how often and when a scan should be triggered.If not specified, the default is OnDemand, which means the scan will not run until the user calls RunDataScan API."
        }
      },
      "id": "GoogleCloudDataplexV1DataScanExecutionSpec"
    },
    "GoogleCloudDataplexV1DataQualityRuleRuleSourceRulePathElement": {
      "id": "GoogleCloudDataplexV1DataQualityRuleRuleSourceRulePathElement",
      "type": "object",
      "properties": {
        "entryLinkSource": {
          "description": "Output only. Entry link source represents information about the entry link.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleRuleSourceRulePathElementEntryLinkSource",
          "readOnly": true
        },
        "entrySource": {
          "readOnly": true,
          "description": "Output only. Entry source represents information about the related source entry.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleRuleSourceRulePathElementEntrySource"
        }
      },
      "description": "Path Element represents the direct relationship between the rule origin (aspects) to the BigQuery Entry. Ordering of the rule relationship will be maintained such that the first entry in the list is the closest ancestor (BigQuery table itself). A blank source denotes that the rule is derived directly from the DataScan itself."
    },
    "GoogleCloudDataplexV1ListGlossaryCategoriesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachableLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that the service couldn't reach."
        },
        "categories": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1GlossaryCategory"
          },
          "description": "Lists the GlossaryCategories in the specified parent."
        }
      },
      "id": "GoogleCloudDataplexV1ListGlossaryCategoriesResponse",
      "description": "List GlossaryCategories Response"
    },
    "GoogleCloudDataplexV1Job": {
      "type": "object",
      "description": "A job represents an instance of a task.",
      "properties": {
        "state": {
          "description": "Output only. Execution state for the job.",
          "type": "string",
          "enumDescriptions": [
            "The job state is unknown.",
            "The job is running.",
            "The job is cancelling.",
            "The job cancellation was successful.",
            "The job completed successfully.",
            "The job is no longer running due to an error.",
            "The job was cancelled outside of Dataplex Universal Catalog."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED",
            "ABORTED"
          ],
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time when the job ended.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "service": {
          "description": "Output only. The underlying service running a job.",
          "readOnly": true,
          "enum": [
            "SERVICE_UNSPECIFIED",
            "DATAPROC"
          ],
          "enumDescriptions": [
            "Service used to run the job is unspecified.",
            "Dataproc service is used to run this job."
          ],
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System generated globally unique ID for the job."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Output only. User-defined labels for the task.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Output only. Additional information about the current state.",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the job was started."
        },
        "executionSpec": {
          "description": "Output only. Spec related to how a task is executed.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1TaskExecutionSpec"
        },
        "retryCount": {
          "type": "integer",
          "format": "uint32",
          "description": "Output only. The number of times the job has been retried (excluding the initial attempt).",
          "readOnly": true
        },
        "trigger": {
          "description": "Output only. Job execution trigger.",
          "type": "string",
          "enumDescriptions": [
            "The trigger is unspecified.",
            "The job was triggered by Dataplex Universal Catalog based on trigger spec from task definition.",
            "The job was triggered by the explicit call of Task API."
          ],
          "readOnly": true,
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "TASK_CONFIG",
            "RUN_REQUEST"
          ]
        },
        "name": {
          "description": "Output only. The relative resource name of the job, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/tasks/{task_id}/jobs/{job_id}.",
          "readOnly": true,
          "type": "string"
        },
        "serviceJob": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full resource name for the job run under a particular service."
        }
      },
      "id": "GoogleCloudDataplexV1Job"
    },
    "GoogleCloudDataplexV1EntryLinkEntryReference": {
      "properties": {
        "name": {
          "description": "Required. Immutable. The relative resource name of the referenced Entry, of the form: projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entries/{entry_id}",
          "type": "string"
        },
        "path": {
          "description": "Immutable. The path in the Entry that is referenced in the Entry Link. Empty path denotes that the Entry itself is referenced in the Entry Link.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified reference type. Implies that the Entry is referenced in a non-directional Entry Link.",
            "The Entry is referenced as the source of the directional Entry Link.",
            "The Entry is referenced as the target of the directional Entry Link."
          ],
          "enum": [
            "UNSPECIFIED",
            "SOURCE",
            "TARGET"
          ],
          "description": "Required. Immutable. The reference type of the Entry."
        }
      },
      "description": "Reference to the Entry that is linked through the Entry Link.",
      "type": "object",
      "id": "GoogleCloudDataplexV1EntryLinkEntryReference"
    },
    "GoogleCloudDataplexV1ListDataProductsResponse": {
      "id": "GoogleCloudDataplexV1ListDataProductsResponse",
      "type": "object",
      "description": "Response message for listing data products.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is empty, then there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Locations that the service couldn't reach."
        },
        "dataProducts": {
          "items": {
            "$ref": "GoogleCloudDataplexV1DataProduct"
          },
          "description": "The data products for the requested filter criteria.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDataplexV1TaskInfrastructureSpecVpcNetwork": {
      "description": "Cloud VPC Network used to run the infrastructure.",
      "type": "object",
      "id": "GoogleCloudDataplexV1TaskInfrastructureSpecVpcNetwork",
      "properties": {
        "subNetwork": {
          "description": "Optional. The Cloud VPC sub-network in which the job is run.",
          "type": "string"
        },
        "network": {
          "description": "Optional. The Cloud VPC network in which the job is run. By default, the Cloud VPC network named Default within the project is used.",
          "type": "string"
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of network tags to apply to the job."
        }
      }
    },
    "GoogleRpcStatus": {
      "type": "object",
      "id": "GoogleRpcStatus",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudDataplexV1DataScanCatalogPublishingStatus": {
      "id": "GoogleCloudDataplexV1DataScanCatalogPublishingStatus",
      "description": "The status of publishing the data scan result as Dataplex Universal Catalog metadata. Multiple DataScan log events may exist, each with different publishing information depending on the type of publishing triggered.",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "The publishing state is unspecified.",
            "Publishing to catalog completed successfully.",
            "Publish to catalog failed.",
            "Publishing to catalog was skipped."
          ],
          "description": "Output only. Execution state for publishing."
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataScanEventDataQualityResult": {
      "type": "object",
      "description": "Data quality result for data scan job.",
      "id": "GoogleCloudDataplexV1DataScanEventDataQualityResult",
      "properties": {
        "score": {
          "type": "number",
          "format": "float",
          "description": "The table-level data quality score for the data scan job.The data quality score ranges between 0, 100 (up to two decimal points)."
        },
        "dimensionScore": {
          "additionalProperties": {
            "format": "float",
            "type": "number"
          },
          "description": "The score of each dimension for data quality result. The key of the map is the name of the dimension. The value is the data quality score for the dimension.The score ranges between 0, 100 (up to two decimal points).",
          "type": "object"
        },
        "passed": {
          "type": "boolean",
          "description": "Whether the data quality result was pass or not."
        },
        "columnScore": {
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "float"
          },
          "description": "The score of each column scanned in the data scan job. The key of the map is the name of the column. The value is the data quality score for the column.The score ranges between 0, 100 (up to two decimal points)."
        },
        "rowCount": {
          "format": "int64",
          "type": "string",
          "description": "The count of rows processed in the data scan job."
        },
        "dimensionPassed": {
          "type": "object",
          "description": "The result of each dimension for data quality result. The key of the map is the name of the dimension. The value is the bool value depicting whether the dimension result was pass or not.",
          "additionalProperties": {
            "type": "boolean"
          }
        }
      }
    },
    "GoogleCloudDataplexV1DataDomainBinding": {
      "properties": {
        "uid": {
          "description": "Output only. System-generated unique ID.",
          "type": "string",
          "readOnly": true
        },
        "resource": {
          "type": "string",
          "description": "Required. Immutable. The full resource name of the Google Cloud resource to be bound (i.e. included together with its contents) to the DataDomain.Format: IAM Full resource name (https://docs.cloud.google.com/iam/docs/full-resource-names) Examples: - GCP Project: //cloudresourcemanager.googleapis.com/projects/{project-id} - BigQuery Dataset: //bigquery.googleapis.com/projects/{project-id}/datasets/{dataset-id} - BigQuery Table: //bigquery.googleapis.com/projects/{project-id}/datasets/{dataset-id}/tables/{table-id} - Dataplex Data Product: //dataplex.googleapis.com/projects/{project-number}/locations/{location}/dataProducts/{data-product-id}Authorization: the resource to be bound must first grant an IAM role with the resource-specific setIamPolicy permission to the DataDomain. Example: - resource: //bigquery.googleapis.com/projects/{project-id}/datasets/{dataset-id} - IAM role: with bigquery.datasets.setIamPolicy permission (e.g. roles/owner) - IAM member: principal://dataplex.googleapis.com/projects/{project-number}/name/locations/{location}/dataDomains/{data-domain-id}"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the DataDomainBinding was created."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The relative resource name of the DataDomainBinding. Format: projects/{project_id_or_number}/locations/{location}/dataDomains/{data_domain_id}/bindings/{binding_id}"
        }
      },
      "id": "GoogleCloudDataplexV1DataDomainBinding",
      "type": "object",
      "description": "DataDomainBinding represents a rule that includes a Google Cloud resource and its contents into a DataDomain."
    },
    "GoogleCloudDataplexV1RunDataScanResponse": {
      "description": "Run DataScan Response.",
      "id": "GoogleCloudDataplexV1RunDataScanResponse",
      "properties": {
        "job": {
          "$ref": "GoogleCloudDataplexV1DataScanJob",
          "description": "DataScanJob created by RunDataScan request."
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1EntryLinkEvent": {
      "properties": {
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "resource": {
          "type": "string",
          "description": "Name of the resource."
        },
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ENTRY_LINK_CREATE",
            "ENTRY_LINK_DELETE"
          ],
          "enumDescriptions": [
            "An unspecified event type.",
            "EntryLink create event.",
            "EntryLink delete event."
          ],
          "type": "string",
          "description": "The type of the event."
        }
      },
      "id": "GoogleCloudDataplexV1EntryLinkEvent",
      "description": "Payload associated with Entry related log events.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualitySpecPostScanActions": {
      "id": "GoogleCloudDataplexV1DataQualitySpecPostScanActions",
      "type": "object",
      "properties": {
        "notificationReport": {
          "$ref": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsNotificationReport",
          "description": "Optional. If set, results will be sent to the provided notification receipts upon triggers."
        },
        "bigqueryExport": {
          "description": "Optional. If set, results will be exported to the provided BigQuery table.",
          "$ref": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsBigQueryExport"
        }
      },
      "description": "The configuration of post scan actions of DataQualityScan."
    },
    "GoogleCloudDataplexV1DataDocumentationResult": {
      "id": "GoogleCloudDataplexV1DataDocumentationResult",
      "type": "object",
      "properties": {
        "datasetResult": {
          "readOnly": true,
          "description": "Output only. Insights for a Dataset resource.",
          "$ref": "GoogleCloudDataplexV1DataDocumentationResultDatasetResult"
        },
        "tableResult": {
          "readOnly": true,
          "description": "Output only. Insights for a Table resource.",
          "$ref": "GoogleCloudDataplexV1DataDocumentationResultTableResult"
        }
      },
      "description": "The output of a DataDocumentation scan."
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "description": "Request message for TestIamPermissions method."
    },
    "GoogleCloudDataplexV1ModifyEntryRequest": {
      "description": "Modify Entry request using permissions in the source system.",
      "id": "GoogleCloudDataplexV1ModifyEntryRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. Mask of fields to update. To update Aspects, the update_mask must contain the value \"aspects\".If the update_mask is empty, the service will update all modifiable fields present in the request."
        },
        "deleteMissingAspects": {
          "type": "boolean",
          "description": "Optional. If set to true, any aspects not specified in the request will be deleted. The default is false."
        },
        "entry": {
          "description": "Required. The entry to modify.",
          "$ref": "GoogleCloudDataplexV1Entry"
        },
        "aspectKeys": {
          "description": "Optional. The aspect keys which the service should modify. It supports the following syntaxes: - matches an aspect of the given type and empty path. @path - matches an aspect of the given type and specified path. For example, to attach an aspect to a field that is specified by the schema aspect, the path should have the format Schema.. @* - matches aspects of the given type for all paths. *@path - matches aspects of all types on the given path.The service will not remove existing aspects matching the syntax unless delete_missing_aspects is set to true.If this field is left empty, the service treats it as specifying exactly those Aspects present in the request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1RunDataScanRequest": {
      "description": "Run DataScan Request",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDataplexV1RunDataScanRequest"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used:paths: \"bindings, etag\"",
          "format": "google-fieldmask"
        }
      },
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for SetIamPolicy method.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ListDataScansResponse": {
      "description": "List dataScans response.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "dataScans": {
          "type": "array",
          "description": "DataScans (BASIC view only) under the given parent location.",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataScan"
          }
        }
      },
      "id": "GoogleCloudDataplexV1ListDataScansResponse",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualityResultAnomalyDetectionGeneratedAssets": {
      "properties": {
        "freshnessIntermediateTable": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The intermediate table for freshness anomaly detection. Format: PROJECT_ID.DATASET_ID.TABLE_ID"
        },
        "resultTable": {
          "description": "Output only. The result table for anomaly detection. Format: PROJECT_ID.DATASET_ID.TABLE_ID If the result table is set at AnomalyDetectionAssets, the result table here would be the same as the one set in the AnomalyDetectionAssets.result_table.",
          "readOnly": true,
          "type": "string"
        },
        "dataIntermediateTable": {
          "readOnly": true,
          "description": "Output only. The intermediate table for data anomaly detection. Format: PROJECT_ID.DATASET_ID.TABLE_ID",
          "type": "string"
        },
        "volumeIntermediateTable": {
          "description": "Output only. The intermediate table for volume anomaly detection. Format: PROJECT_ID.DATASET_ID.TABLE_ID",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDataplexV1DataQualityResultAnomalyDetectionGeneratedAssets",
      "description": "The assets generated by Anomaly Detection Data Scan.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ListDataAssetsResponse": {
      "properties": {
        "dataAssets": {
          "type": "array",
          "description": "The data assets for the requested filter criteria.",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataAsset"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is empty, then there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1ListDataAssetsResponse",
      "description": "Response message for listing data assets.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ScannedData": {
      "description": "The data scanned during processing (e.g. in incremental DataScan)",
      "properties": {
        "incrementalField": {
          "$ref": "GoogleCloudDataplexV1ScannedDataIncrementalField",
          "description": "The range denoted by values of an incremental field"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1ScannedData"
    },
    "GoogleCloudDataplexV1TaskNotebookTaskConfig": {
      "id": "GoogleCloudDataplexV1TaskNotebookTaskConfig",
      "description": "Config for running scheduled notebooks.",
      "type": "object",
      "properties": {
        "archiveUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Cloud Storage URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip."
        },
        "fileUris": {
          "description": "Optional. Cloud Storage URIs of files to be placed in the working directory of each executor.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "infrastructureSpec": {
          "description": "Optional. Infrastructure specification for the execution.",
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpec"
        },
        "notebook": {
          "description": "Required. Path to input notebook. This can be the Cloud Storage URI of the notebook file or the path to a Notebook Content. The execution args are accessible as environment variables (TASK_key=value).",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ListActionsResponse": {
      "properties": {
        "actions": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Action"
          },
          "type": "array",
          "description": "Actions under the given parent lake/zone/asset."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "List actions response.",
      "id": "GoogleCloudDataplexV1ListActionsResponse"
    },
    "GoogleCloudDataplexV1DataProfileResultPostScanActionsResultBigQueryExportResult": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the BigQuery exporting."
        },
        "state": {
          "enumDescriptions": [
            "The exporting state is unspecified.",
            "The exporting completed successfully.",
            "The exporting is no longer running due to an error.",
            "The exporting is skipped due to no valid scan result to export (usually caused by scan failed)."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Execution state for the BigQuery exporting.",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ]
        }
      },
      "description": "The result of BigQuery export post scan action.",
      "id": "GoogleCloudDataplexV1DataProfileResultPostScanActionsResultBigQueryExportResult"
    },
    "GoogleCloudDataplexV1ListLakesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "lakes": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Lake"
          },
          "type": "array",
          "description": "Lakes under the given parent location."
        },
        "unreachableLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "id": "GoogleCloudDataplexV1ListLakesResponse",
      "type": "object",
      "description": "List lakes response."
    },
    "GoogleCloudDataplexV1DataQualityRuleTableConditionExpectation": {
      "description": "Evaluates whether the provided expression is true.The SQL expression needs to use GoogleSQL syntax (https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax) and should produce a scalar boolean result.Example: MIN(col1) >= 0",
      "type": "object",
      "properties": {
        "sqlExpression": {
          "type": "string",
          "description": "Optional. The SQL expression."
        }
      },
      "id": "GoogleCloudDataplexV1DataQualityRuleTableConditionExpectation"
    },
    "GoogleCloudDataplexV1DataQualityRuleRangeExpectation": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityRuleRangeExpectation",
      "description": "Evaluates whether each column value lies between a specified range.",
      "properties": {
        "strictMinEnabled": {
          "type": "boolean",
          "description": "Optional. Whether each value needs to be strictly greater than ('>') the minimum, or if equality is allowed.Only relevant if a min_value has been defined. Default = false."
        },
        "minValue": {
          "type": "string",
          "description": "Optional. The minimum column value allowed for a row to pass this validation. At least one of min_value and max_value need to be provided."
        },
        "strictMaxEnabled": {
          "description": "Optional. Whether each value needs to be strictly lesser than ('<') the maximum, or if equality is allowed.Only relevant if a max_value has been defined. Default = false.",
          "type": "boolean"
        },
        "maxValue": {
          "type": "string",
          "description": "Optional. The maximum column value allowed for a row to pass this validation. At least one of min_value and max_value need to be provided."
        }
      }
    },
    "GoogleCloudDataplexV1DataDocumentationResultTableResult": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataDocumentationResultTableResult",
      "description": "Insights for a table resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The service-qualified full resource name of the cloud resource. Ex: //bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID",
          "readOnly": true
        },
        "overview": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Generated description of the table."
        },
        "queries": {
          "description": "Output only. Sample SQL queries for the table.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataDocumentationResultQuery"
          },
          "readOnly": true
        },
        "schema": {
          "$ref": "GoogleCloudDataplexV1DataDocumentationResultSchema",
          "description": "Output only. Schema of the table with generated metadata of the columns in the schema.",
          "readOnly": true
        }
      }
    },
    "GoogleIamV1ResourcePolicyMember": {
      "id": "GoogleIamV1ResourcePolicyMember",
      "type": "object",
      "properties": {
        "iamPolicyNamePrincipal": {
          "description": "Output only. IAM policy binding member referring to a Google Cloud resource by user-assigned name (https://google.aip.dev/122). If a resource is deleted and recreated with the same name, the binding will be applicable to the new resource.Example: principal://parametermanager.googleapis.com/projects/12345/name/locations/us-central1-a/parameters/my-parameter",
          "type": "string",
          "readOnly": true
        },
        "iamPolicyUidPrincipal": {
          "type": "string",
          "description": "Output only. IAM policy binding member referring to a Google Cloud resource by system-assigned unique identifier (https://google.aip.dev/148#uid). If a resource is deleted and recreated with the same name, the binding will not be applicable to the new resourceExample: principal://parametermanager.googleapis.com/projects/12345/uid/locations/us-central1-a/parameters/a918fed5",
          "readOnly": true
        }
      },
      "description": "Output-only policy member strings of a Google Cloud resource's built-in identity."
    },
    "GoogleCloudDataplexV1Lake": {
      "description": "A lake is a centralized repository for managing enterprise data across the organization distributed across many cloud projects, and stored in a variety of storage services such as Google Cloud Storage and BigQuery. The resources attached to a lake are referred to as managed resources. Data within these managed resources can be structured or unstructured. A lake provides data admins with tools to organize, secure and manage their data at scale, and provides data scientists and data engineers an integrated experience to easily search, discover, analyze and transform data and associated metadata.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. Current state of the lake.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ]
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the lake was last updated.",
          "format": "google-datetime"
        },
        "metastoreStatus": {
          "$ref": "GoogleCloudDataplexV1LakeMetastoreStatus",
          "description": "Output only. Metastore status of the lake.",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the lake. This ID will be different if the lake is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the lake."
        },
        "createTime": {
          "description": "Output only. The time when the lake was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "metastore": {
          "$ref": "GoogleCloudDataplexV1LakeMetastore",
          "description": "Optional. Settings to manage lake and Dataproc Metastore service instance association."
        },
        "assetStatus": {
          "$ref": "GoogleCloudDataplexV1AssetStatus",
          "readOnly": true,
          "description": "Output only. Aggregated status of the underlying assets of the lake."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels for the lake."
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The relative resource name of the lake, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}.",
          "readOnly": true,
          "type": "string"
        },
        "serviceAccount": {
          "readOnly": true,
          "description": "Output only. Service account associated with this lake. This service account must be authorized to access or operate on resources managed by the lake.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1Lake"
    },
    "GoogleCloudDataplexV1GraphProfileEdgeTypeForeignKey": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the foreign key constraint."
        },
        "referencedNodeType": {
          "description": "Output only. The node type this constraint references.",
          "type": "string",
          "readOnly": true
        },
        "fieldMappings": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDataplexV1GraphProfileEdgeTypeForeignKeyFieldMapping"
          },
          "description": "Output only. Field Mappings. Mappings between local fields and the fields they reference in the referenced node type."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description of the foreign key."
        }
      },
      "type": "object",
      "description": "Represents a foreign key constraint.",
      "id": "GoogleCloudDataplexV1GraphProfileEdgeTypeForeignKey"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "id": "GoogleCloudLocationListLocationsResponse",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "GoogleCloudDataplexV1LookupContextRequest": {
      "type": "object",
      "description": "Lookup Context using permissions in the source system.",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The entry names to look up the context for. The maximum number of resources for a request is limited to 10.Examples:projects/{project}/locations/{location}/entryGroups/{entry_group}/entries/{entry}"
        },
        "options": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Allows to configure the context.Supported options: format - The format of the context (one of yaml, xml, json, default is yaml). context_budget - If provided, the output will be intelligently truncated on a best-effort basis to contain approximately the desired amount of characters. There is no guarantee to achieve the specific amount. all_schema_fields - If set to true, all schema fields will be returned in the context (regardless of context_budget value). Otherwise, the list of schema fields is truncated. Default is false."
        }
      },
      "id": "GoogleCloudDataplexV1LookupContextRequest"
    },
    "GoogleCloudDataplexV1GraphProfileField": {
      "type": "object",
      "description": "Represents a field in a node or edge type.",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Unspecified mode.",
            "Field can be null.",
            "Field can be repeated.",
            "Field is required."
          ],
          "readOnly": true,
          "enum": [
            "MODE_UNSPECIFIED",
            "NULLABLE",
            "REPEATED",
            "REQUIRED"
          ],
          "type": "string",
          "description": "Output only. The mode of the field."
        },
        "extractionHints": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1GraphProfileFieldExtractionHints",
          "description": "Output only. Extraction hints for the field."
        },
        "dataType": {
          "type": "string",
          "description": "Output only. The data type of the field, e.g., STRING, INTEGER, DATE.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Name of the field.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the field."
        },
        "fields": {
          "description": "Output only. Sub-fields of this field (for STRUCT types).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1GraphProfileField"
          },
          "readOnly": true
        },
        "metadataType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified metadata type.",
            "Boolean type.",
            "Numeric type.",
            "String type.",
            "Bytes type.",
            "Date and time type.",
            "Timestamp type.",
            "Geospatial type.",
            "Struct (record) type.",
            "Other types not covered above."
          ],
          "enum": [
            "METADATA_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "NUMBER",
            "STRING",
            "BYTES",
            "DATETIME",
            "TIMESTAMP",
            "GEOSPATIAL",
            "STRUCT",
            "OTHER"
          ],
          "type": "string",
          "description": "Output only. The mapped metadata type."
        }
      },
      "id": "GoogleCloudDataplexV1GraphProfileField"
    },
    "GoogleCloudDataplexV1StorageFormatCsvOptions": {
      "type": "object",
      "id": "GoogleCloudDataplexV1StorageFormatCsvOptions",
      "properties": {
        "quote": {
          "description": "Optional. The character used to quote column values. Accepts '\"' (double quotation mark) or ''' (single quotation mark). Defaults to '\"' (double quotation mark) if unspecified.",
          "type": "string"
        },
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. Accepts \"US-ASCII\", \"UTF-8\", and \"ISO-8859-1\". Defaults to UTF-8 if unspecified."
        },
        "headerRows": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows. Defaults to 0."
        },
        "delimiter": {
          "type": "string",
          "description": "Optional. The delimiter used to separate values. Defaults to ','."
        }
      },
      "description": "Describes CSV and similar semi-structured data formats."
    },
    "GoogleCloudDataplexV1CreateGlossaryCategoryRequest": {
      "id": "GoogleCloudDataplexV1CreateGlossaryCategoryRequest",
      "properties": {
        "category": {
          "$ref": "GoogleCloudDataplexV1GlossaryCategory",
          "description": "Required. The GlossaryCategory to create."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource where this GlossaryCategory will be created. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id} where locationId refers to a Google Cloud region."
        },
        "categoryId": {
          "type": "string",
          "description": "Required. GlossaryCategory identifier."
        }
      },
      "type": "object",
      "description": "Creates a new GlossaryCategory under the specified Glossary."
    },
    "GoogleCloudDataplexV1StorageFormatJsonOptions": {
      "id": "GoogleCloudDataplexV1StorageFormatJsonOptions",
      "properties": {
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. Accepts \"US-ASCII\", \"UTF-8\" and \"ISO-8859-1\". Defaults to UTF-8 if not specified."
        }
      },
      "description": "Describes JSON data format.",
      "type": "object"
    },
    "GoogleCloudDataplexV1EntryTypeAspectInfo": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required aspect type for the entry type."
        }
      },
      "id": "GoogleCloudDataplexV1EntryTypeAspectInfo"
    },
    "GoogleCloudDataplexV1ActionMissingData": {
      "id": "GoogleCloudDataplexV1ActionMissingData",
      "properties": {},
      "type": "object",
      "description": "Action details for absence of data detected by discovery."
    },
    "GoogleCloudDataplexV1DataProductPrincipal": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataProductPrincipal",
      "properties": {
        "googleGroup": {
          "type": "string",
          "description": "Optional. Email of the Google Group, as per https://cloud.google.com/iam/docs/principals-overview#google-group."
        },
        "serviceAccount": {
          "description": "Optional. Specifies the email of the producer service account, as per https://cloud.google.com/iam/docs/principals-overview#service-account.",
          "type": "string"
        }
      },
      "description": "Represents the principal entity associated with an access group, as per https://cloud.google.com/iam/docs/principals-overview."
    },
    "GoogleCloudDataplexV1LookupEntryLinksResponse": {
      "type": "object",
      "description": "Response message for LookupEntryLinks.",
      "id": "GoogleCloudDataplexV1LookupEntryLinksResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "entryLinks": {
          "items": {
            "$ref": "GoogleCloudDataplexV1EntryLink"
          },
          "type": "array",
          "description": "List of entry links that reference the specified entry."
        }
      }
    },
    "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply": {
      "description": "Failed to apply security policy to the managed resource(s) under a lake, zone or an asset. For a lake or zone resource, one or more underlying assets has a failure applying security policy to the associated managed resource.",
      "type": "object",
      "id": "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply",
      "properties": {
        "asset": {
          "type": "string",
          "description": "Resource name of one of the assets with failing security policy application. Populated for a lake or zone resource only."
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleTemplateReferenceParameterValue": {
      "description": "Represents a parameter value.",
      "properties": {
        "value": {
          "description": "Required. Represents the string value of the parameter.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityRuleTemplateReferenceParameterValue"
    },
    "GoogleCloudDataplexV1Asset": {
      "description": "An asset represents a cloud resource that is being managed within a lake as a member of a zone.",
      "type": "object",
      "properties": {
        "securityStatus": {
          "$ref": "GoogleCloudDataplexV1AssetSecurityStatus",
          "description": "Output only. Status of the security policy applied to resource referenced by this asset.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the asset."
        },
        "discoverySpec": {
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpec",
          "description": "Optional. Specification of the discovery feature applied to data referenced by this asset. When this spec is left unset, the asset will use the spec set on the parent zone."
        },
        "resourceStatus": {
          "description": "Output only. Status of the resource referenced by this asset.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1AssetResourceStatus"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name."
        },
        "updateTime": {
          "description": "Output only. The time when the asset was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. User defined labels for the asset.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the asset was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceSpec": {
          "description": "Required. Specification of the resource that is referenced by this asset.",
          "$ref": "GoogleCloudDataplexV1AssetResourceSpec"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the asset, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/assets/{asset_id}."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "description": "Output only. Current state of the asset.",
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ]
        },
        "uid": {
          "type": "string",
          "description": "Output only. System generated globally unique ID for the asset. This ID will be different if the asset is deleted and re-created with the same name.",
          "readOnly": true
        },
        "discoveryStatus": {
          "description": "Output only. Status of the discovery feature applied to data referenced by this asset.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoveryStatus",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDataplexV1Asset"
    },
    "GoogleCloudDataplexV1DataAttributeBinding": {
      "deprecated": true,
      "description": "DataAttributeBinding represents binding of attributes to resources. Eg: Bind 'CustomerInfo' entity with 'PII' attribute.",
      "id": "GoogleCloudDataplexV1DataAttributeBinding",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name."
        },
        "uid": {
          "type": "string",
          "description": "Output only. System generated globally unique ID for the DataAttributeBinding. This ID will be different if the DataAttributeBinding is deleted and re-created with the same name.",
          "readOnly": true
        },
        "resource": {
          "type": "string",
          "description": "Optional. Immutable. The resource name of the resource that is associated to attributes. Presently, only entity resource is supported in the form: projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/entities/{entity_id} Must belong in the same project and region as the attribute binding, and there can only exist one active binding for a resource."
        },
        "description": {
          "description": "Optional. Description of the DataAttributeBinding.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The relative resource name of the Data Attribute Binding, of the form: projects/{project_number}/locations/{location}/dataAttributeBindings/{data_attribute_binding_id}",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Etags must be used when calling the DeleteDataAttributeBinding and the UpdateDataAttributeBinding method.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the DataAttributeBinding was created."
        },
        "paths": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataAttributeBindingPath"
          },
          "description": "Optional. The list of paths for items within the associated resource (eg. columns and partitions within a table) along with attribute bindings."
        },
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels for the DataAttributeBinding.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "attributes": {
          "description": "Optional. List of attributes to be associated with the resource, provided in the form: projects/{project}/locations/{location}/dataTaxonomies/{dataTaxonomy}/attributes/{data_attribute_id}",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the DataAttributeBinding was last updated.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1EntryLink": {
      "properties": {
        "aspects": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDataplexV1Aspect"
          },
          "description": "Optional. The aspects that are attached to the entry link. The format of the aspect key has to be the following: {project_id_or_number}.{location_id}.{aspect_type_id} Currently, only a single aspect of a Dataplex-owned Aspect Type is allowed."
        },
        "entryReferences": {
          "description": "Required. Immutable. Specifies the Entries referenced in the Entry Link. There should be exactly two entry references.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1EntryLinkEntryReference"
          }
        },
        "updateTime": {
          "description": "Output only. The time when the Entry Link was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the Entry Link was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Output only. Immutable. Identifier. The relative resource name of the Entry Link, of the form: projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entryLinks/{entry_link_id}",
          "readOnly": true,
          "type": "string"
        },
        "entryLinkType": {
          "type": "string",
          "description": "Required. Immutable. Relative resource name of the Entry Link Type used to create this Entry Link. For example: Entry link between synonym terms in a glossary: projects/dataplex-types/locations/global/entryLinkTypes/synonym Entry link between related terms in a glossary: projects/dataplex-types/locations/global/entryLinkTypes/related Entry link between glossary terms and data assets: projects/dataplex-types/locations/global/entryLinkTypes/definition"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1EntryLink",
      "description": "EntryLink represents a link between two Entries."
    },
    "GoogleCloudDataplexV1RequestDataProductAccessRequest": {
      "type": "object",
      "description": "Message for requesting access to a Data Product.",
      "properties": {
        "changeRequest": {
          "description": "Required. The change request for the data product access request.",
          "$ref": "GoogleCloudDataplexV1ChangeRequest"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. Validates the request without actually creating the access change request. Defaults to false."
        }
      },
      "id": "GoogleCloudDataplexV1RequestDataProductAccessRequest"
    },
    "GoogleCloudDataplexV1TaskExecutionSpec": {
      "description": "Execution related settings, like retry and service_account.",
      "type": "object",
      "id": "GoogleCloudDataplexV1TaskExecutionSpec",
      "properties": {
        "args": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The arguments to pass to the task. The args can use placeholders of the format ${placeholder} as part of key/value string. These will be interpolated before passing the args to the driver. Currently supported placeholders: - ${task_id} - ${job_time} To pass positional args, set the key as TASK_ARGS. The value should be a comma-separated string of all the positional arguments. To use a delimiter other than comma, refer to https://cloud.google.com/sdk/gcloud/reference/topic/escaping. In case of other keys being present in the args, then TASK_ARGS will be passed as the last argument.",
          "type": "object"
        },
        "maxJobExecutionLifetime": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The maximum duration after which the job execution is expired."
        },
        "project": {
          "type": "string",
          "description": "Optional. The project in which jobs are run. By default, the project containing the Lake is used. If a project is provided, the ExecutionSpec.service_account must belong to this project."
        },
        "serviceAccount": {
          "description": "Required. Service account to use to execute a task. If not provided, the default Compute service account for the project is used.",
          "type": "string"
        },
        "kmsKey": {
          "description": "Optional. The Cloud KMS key to use for encryption, of the form: projects/{project_number}/locations/{location_id}/keyRings/{key-ring-name}/cryptoKeys/{key-name}.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1CancelMetadataJobRequest": {
      "description": "Cancel metadata job request.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDataplexV1CancelMetadataJobRequest"
    },
    "GoogleCloudDataplexV1DataQualityDimensionResult": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityDimensionResult",
      "properties": {
        "dimension": {
          "description": "Output only. The dimension config specified in the DataQualitySpec, as is.",
          "$ref": "GoogleCloudDataplexV1DataQualityDimension",
          "readOnly": true
        },
        "passed": {
          "readOnly": true,
          "description": "Output only. Whether the dimension passed or failed.",
          "type": "boolean"
        },
        "score": {
          "description": "Output only. The dimension-level data quality score for this data scan job if and only if the 'dimension' field is set.The score ranges between 0, 100 (up to two decimal points).",
          "type": "number",
          "readOnly": true,
          "format": "float"
        }
      },
      "description": "DataQualityDimensionResult provides a more detailed, per-dimension view of the results."
    },
    "GoogleCloudDataplexV1GenerateDataQualityRulesRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDataplexV1GenerateDataQualityRulesRequest",
      "description": "Request details for generating data quality rule recommendations."
    },
    "GoogleCloudDataplexV1ListMetadataJobsResponse": {
      "properties": {
        "metadataJobs": {
          "items": {
            "$ref": "GoogleCloudDataplexV1MetadataJob"
          },
          "type": "array",
          "description": "Metadata jobs under the specified parent location."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. If there are no more results in the list, the value is empty.",
          "type": "string"
        },
        "unreachableLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that the service couldn't reach."
        }
      },
      "id": "GoogleCloudDataplexV1ListMetadataJobsResponse",
      "description": "List metadata jobs response.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ListEntryTypesResponse": {
      "properties": {
        "unreachableLocations": {
          "type": "array",
          "description": "Locations that the service couldn't reach.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "entryTypes": {
          "description": "EntryTypes under the given parent location.",
          "items": {
            "$ref": "GoogleCloudDataplexV1EntryType"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "List EntryTypes response.",
      "id": "GoogleCloudDataplexV1ListEntryTypesResponse"
    },
    "GoogleCloudDataplexV1DiscoveryEvent": {
      "id": "GoogleCloudDataplexV1DiscoveryEvent",
      "description": "The payload associated with Discovery data processing.",
      "type": "object",
      "properties": {
        "action": {
          "$ref": "GoogleCloudDataplexV1DiscoveryEventActionDetails",
          "description": "Details about the action associated with the event."
        },
        "table": {
          "description": "Details about the BigQuery table publishing associated with the event.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventTableDetails"
        },
        "zoneId": {
          "description": "The id of the associated zone.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "The log message."
        },
        "type": {
          "enumDescriptions": [
            "An unspecified event type.",
            "An event representing discovery configuration in effect.",
            "An event representing a metadata entity being created.",
            "An event representing a metadata entity being updated.",
            "An event representing a metadata entity being deleted.",
            "An event representing a partition being created.",
            "An event representing a partition being updated.",
            "An event representing a partition being deleted.",
            "An event representing a table being published.",
            "An event representing a table being updated.",
            "An event representing a table being skipped in publishing.",
            "An event representing a table being deleted."
          ],
          "type": "string",
          "description": "The type of the event being logged.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "CONFIG",
            "ENTITY_CREATED",
            "ENTITY_UPDATED",
            "ENTITY_DELETED",
            "PARTITION_CREATED",
            "PARTITION_UPDATED",
            "PARTITION_DELETED",
            "TABLE_PUBLISHED",
            "TABLE_UPDATED",
            "TABLE_IGNORED",
            "TABLE_DELETED"
          ]
        },
        "lakeId": {
          "type": "string",
          "description": "The id of the associated lake."
        },
        "partition": {
          "description": "Details about the partition associated with the event.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventPartitionDetails"
        },
        "entity": {
          "description": "Details about the entity associated with the event.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventEntityDetails"
        },
        "dataLocation": {
          "description": "The data location associated with the event.",
          "type": "string"
        },
        "datascanId": {
          "type": "string",
          "description": "The id of the associated datascan for standalone discovery."
        },
        "assetId": {
          "type": "string",
          "description": "The id of the associated asset."
        },
        "config": {
          "$ref": "GoogleCloudDataplexV1DiscoveryEventConfigDetails",
          "description": "Details about discovery configuration in effect."
        }
      }
    },
    "GoogleCloudDataplexV1UpdateGlossaryTermRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Required. The list of fields to update.",
          "format": "google-fieldmask"
        },
        "term": {
          "description": "Required. The GlossaryTerm to update. The GlossaryTerm's name field is used to identify the GlossaryTerm to update. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/terms/{term_id}",
          "$ref": "GoogleCloudDataplexV1GlossaryTerm"
        }
      },
      "description": "Update GlossaryTerm Request",
      "id": "GoogleCloudDataplexV1UpdateGlossaryTermRequest",
      "type": "object"
    },
    "GoogleCloudDataplexV1SchemaSchemaField": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "BOOLEAN",
            "BYTE",
            "INT16",
            "INT32",
            "INT64",
            "FLOAT",
            "DOUBLE",
            "DECIMAL",
            "STRING",
            "BINARY",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "RECORD",
            "NULL"
          ],
          "enumDescriptions": [
            "SchemaType unspecified.",
            "Boolean field.",
            "Single byte numeric field.",
            "16-bit numeric field.",
            "32-bit numeric field.",
            "64-bit numeric field.",
            "Floating point numeric field.",
            "Double precision numeric field.",
            "Real value numeric field.",
            "Sequence of characters field.",
            "Sequence of bytes field.",
            "Date and time field.",
            "Date field.",
            "Time field.",
            "Structured field. Nested fields that define the structure of the map. If all nested fields are nullable, this field represents a union.",
            "Null field that does not have values."
          ],
          "description": "Required. The type of field.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. User friendly field description. Must be less than or equal to 1024 characters."
        },
        "mode": {
          "description": "Required. Additional field semantics.",
          "type": "string",
          "enumDescriptions": [
            "Mode unspecified.",
            "The field has required semantics.",
            "The field has optional semantics, and may be null.",
            "The field has repeated (0 or more) semantics, and is a list of values."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "REQUIRED",
            "NULLABLE",
            "REPEATED"
          ]
        },
        "fields": {
          "description": "Optional. Any nested field for complex types.",
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaSchemaField"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the field. Must contain only letters, numbers and underscores, with a maximum length of 767 characters, and must begin with a letter or underscore."
        }
      },
      "description": "Represents a column field within a table schema.",
      "type": "object",
      "id": "GoogleCloudDataplexV1SchemaSchemaField"
    },
    "GoogleCloudDataplexV1Action": {
      "id": "GoogleCloudDataplexV1Action",
      "description": "Action represents an issue requiring administrator action for resolution.",
      "properties": {
        "missingResource": {
          "$ref": "GoogleCloudDataplexV1ActionMissingResource",
          "description": "Details for issues related to absence of a managed resource."
        },
        "dataLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of data locations associated with this action. Cloud Storage locations are represented as URI paths(E.g. gs://bucket/table1/year=2020/month=Jan/). BigQuery locations refer to resource names(E.g. bigquery.googleapis.com/projects/project-id/datasets/dataset-id)."
        },
        "unauthorizedResource": {
          "description": "Details for issues related to lack of permissions to access data resources.",
          "$ref": "GoogleCloudDataplexV1ActionUnauthorizedResource"
        },
        "category": {
          "description": "The category of issue associated with the action.",
          "enumDescriptions": [
            "Unspecified category.",
            "Resource management related issues.",
            "Security policy related issues.",
            "Data and discovery related issues."
          ],
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "RESOURCE_MANAGEMENT",
            "SECURITY_POLICY",
            "DATA_DISCOVERY"
          ],
          "type": "string"
        },
        "incompatibleDataSchema": {
          "$ref": "GoogleCloudDataplexV1ActionIncompatibleDataSchema",
          "description": "Details for issues related to incompatible schemas detected within data."
        },
        "asset": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the asset, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/assets/{asset_id}."
        },
        "name": {
          "description": "Output only. The relative resource name of the action, of the form: projects/{project}/locations/{location}/lakes/{lake}/actions/{action} projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/actions/{action} projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/assets/{asset}/actions/{action}.",
          "type": "string",
          "readOnly": true
        },
        "issue": {
          "description": "Detailed description of the issue requiring action.",
          "type": "string"
        },
        "invalidDataFormat": {
          "description": "Details for issues related to invalid or unsupported data formats.",
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataFormat"
        },
        "invalidDataPartition": {
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataPartition",
          "description": "Details for issues related to invalid or unsupported data partition structure."
        },
        "lake": {
          "type": "string",
          "description": "Output only. The relative resource name of the lake, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}.",
          "readOnly": true
        },
        "missingData": {
          "description": "Details for issues related to absence of data within managed resources.",
          "$ref": "GoogleCloudDataplexV1ActionMissingData"
        },
        "detectTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that the issue was detected."
        },
        "zone": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the zone, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}."
        },
        "invalidDataOrganization": {
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataOrganization",
          "description": "Details for issues related to invalid data arrangement."
        },
        "failedSecurityPolicyApply": {
          "description": "Details for issues related to applying security policy.",
          "$ref": "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1ScannedDataIncrementalField": {
      "type": "object",
      "description": "A data range denoted by a pair of start/end values of a field.",
      "id": "GoogleCloudDataplexV1ScannedDataIncrementalField",
      "properties": {
        "field": {
          "type": "string",
          "description": "Output only. The field that contains values which monotonically increases over time (e.g. a timestamp column).",
          "readOnly": true
        },
        "start": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Value that marks the start of the range."
        },
        "end": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Value that marks the end of the range."
        }
      }
    },
    "GoogleCloudDataplexV1SessionEvent": {
      "properties": {
        "query": {
          "description": "The execution details of the query.",
          "$ref": "GoogleCloudDataplexV1SessionEventQueryDetail"
        },
        "unassignedDuration": {
          "type": "string",
          "description": "The idle duration of a warm pooled session before it is assigned to user.",
          "format": "google-duration"
        },
        "sessionId": {
          "type": "string",
          "description": "Unique identifier for the session."
        },
        "type": {
          "enumDescriptions": [
            "An unspecified event type.",
            "Event when the session is assigned to a user.",
            "Event for stop of a session.",
            "Query events in the session.",
            "Event for creation of a cluster. It is not yet assigned to a user. This comes before START in the sequence"
          ],
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "START",
            "STOP",
            "QUERY",
            "CREATE"
          ],
          "description": "The type of the event."
        },
        "fastStartupEnabled": {
          "description": "If the session is associated with an environment with fast startup enabled, and was created before being assigned to a user.",
          "type": "boolean"
        },
        "eventSucceeded": {
          "description": "The status of the event.",
          "type": "boolean"
        },
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "userId": {
          "description": "The information about the user that created the session. It will be the email address of the user.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1SessionEvent",
      "description": "These messages contain information about sessions within an environment. The monitored resource is 'Environment'."
    },
    "GoogleCloudDataplexV1ActionInvalidDataOrganization": {
      "id": "GoogleCloudDataplexV1ActionInvalidDataOrganization",
      "properties": {},
      "type": "object",
      "description": "Action details for invalid data arrangement."
    },
    "GoogleCloudDataplexV1GraphProfileEdgeTypeForeignKeyFieldMapping": {
      "properties": {
        "field": {
          "type": "string",
          "description": "Output only. Local field name forming part of the foreign key.",
          "readOnly": true
        },
        "referencedField": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Field name in the referenced node type."
        }
      },
      "description": "Maps a local field to a referenced field.",
      "id": "GoogleCloudDataplexV1GraphProfileEdgeTypeForeignKeyFieldMapping",
      "type": "object"
    },
    "GoogleCloudDataplexV1ListGlossaryTermsResponse": {
      "type": "object",
      "properties": {
        "terms": {
          "description": "Lists the GlossaryTerms in the specified parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1GlossaryTerm"
          }
        },
        "unreachableLocations": {
          "description": "Locations that the service couldn't reach.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1ListGlossaryTermsResponse",
      "description": "List GlossaryTerms Response"
    },
    "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility": {
      "id": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility",
      "properties": {
        "reason": {
          "description": "Output only. Provides additional detail if the entity is incompatible with the metadata store.",
          "readOnly": true,
          "type": "string"
        },
        "compatible": {
          "readOnly": true,
          "description": "Output only. Whether the entity is compatible and can be represented in the metadata store.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Provides compatibility information for a specific metadata store."
    },
    "GoogleCloudDataplexV1GraphProfileNodeType": {
      "id": "GoogleCloudDataplexV1GraphProfileNodeType",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Output only. Description of the node type.",
          "readOnly": true
        },
        "fields": {
          "type": "array",
          "description": "Output only. Fields of the node type.",
          "items": {
            "$ref": "GoogleCloudDataplexV1GraphProfileField"
          },
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the node type."
        },
        "primaryKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Field names forming the primary keys. The order in this array defines the key's ordinal positions for composite keys."
        },
        "extractionHints": {
          "description": "Output only. Extraction hints for the node.",
          "$ref": "GoogleCloudDataplexV1GraphProfileNodeTypeExtractionHints",
          "readOnly": true
        }
      },
      "description": "Represents a type of node in the graph."
    },
    "GoogleCloudDataplexV1DeleteGlossaryCategoryRequest": {
      "properties": {
        "name": {
          "description": "Required. The name of the GlossaryCategory to delete. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/categories/{category_id}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DeleteGlossaryCategoryRequest",
      "description": "Delete GlossaryCategory Request"
    },
[...]
