{
  "revision": "20260825",
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "ownerName": "Google",
  "canonicalName": "Dataflow",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "baseUrl": "https://dataflow.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://dataflow.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://dataflow.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://dataflow.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://dataflow.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://dataflow.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://dataflow.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://dataflow.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://dataflow.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://dataflow.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://dataflow.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://dataflow.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://dataflow.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://dataflow.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://dataflow.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://dataflow.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://dataflow.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://dataflow.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://dataflow.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://dataflow.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://dataflow.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://dataflow.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://dataflow.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://dataflow.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://dataflow.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://dataflow.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://dataflow.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://dataflow.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://dataflow.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://dataflow.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://dataflow.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://dataflow.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://dataflow.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://dataflow.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://dataflow.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://dataflow.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "basePath": "",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/dataflow",
  "rootUrl": "https://dataflow.googleapis.com/",
  "protocol": "rest",
  "id": "dataflow:v1b3",
  "name": "dataflow",
  "schemas": {
    "StragglerDebuggingInfo": {
      "description": "Information useful for debugging a straggler. Each type will provide specialized debugging information relevant for a particular cause. The StragglerDebuggingInfo will be 1:1 mapping to the StragglerCause enum.",
      "id": "StragglerDebuggingInfo",
      "type": "object",
      "properties": {
        "hotKey": {
          "description": "Hot key debugging details.",
          "$ref": "HotKeyDebuggingInfo"
        }
      }
    },
    "GetWorkerStacktracesResponse": {
      "id": "GetWorkerStacktracesResponse",
      "description": "Response to get worker stacktraces from debug capture.",
      "type": "object",
      "properties": {
        "sdks": {
          "items": {
            "$ref": "Sdk"
          },
          "description": "Repeated as unified worker may have multiple SDK processes.",
          "type": "array"
        }
      }
    },
    "DisplayData": {
      "type": "object",
      "description": "Data provided with a pipeline or transform to provide descriptive info.",
      "id": "DisplayData",
      "properties": {
        "url": {
          "description": "An optional full URL.",
          "type": "string"
        },
        "timestampValue": {
          "type": "string",
          "description": "Contains value if the data is of timestamp type.",
          "format": "google-datetime"
        },
        "int64Value": {
          "format": "int64",
          "type": "string",
          "description": "Contains value if the data is of int64 type."
        },
        "javaClassValue": {
          "description": "Contains value if the data is of java class type.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "An optional label to display in a dax UI for the element."
        },
        "durationValue": {
          "format": "google-duration",
          "description": "Contains value if the data is of duration type.",
          "type": "string"
        },
        "strValue": {
          "description": "Contains value if the data is of string type.",
          "type": "string"
        },
        "shortStrValue": {
          "type": "string",
          "description": "A possible additional shorter value to display. For example a java_class_name_value of com.mypackage.MyDoFn will be stored with MyDoFn as the short_str_value and com.mypackage.MyDoFn as the java_class_name value. short_str_value can be displayed and java_class_name_value will be displayed as a tooltip."
        },
        "key": {
          "type": "string",
          "description": "The key identifying the display data. This is intended to be used as a label for the display data when viewed in a dax monitoring system."
        },
        "floatValue": {
          "format": "float",
          "type": "number",
          "description": "Contains value if the data is of float type."
        },
        "boolValue": {
          "description": "Contains value if the data is of a boolean type.",
          "type": "boolean"
        },
        "namespace": {
          "type": "string",
          "description": "The namespace for the key. This is usually a class name or programming language namespace (i.e. python module) which defines the display data. This allows a dax monitoring system to specially handle the data and perform custom rendering."
        }
      }
    },
    "SdkHarnessContainerImage": {
      "properties": {
        "capabilities": {
          "description": "The set of capabilities enumerated in the above Environment proto. See also [beam_runner_api.proto](https://github.com/apache/beam/blob/master/model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto)",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "useSingleCorePerContainer": {
          "type": "boolean",
          "description": "If true, recommends the Dataflow service to use only one core per SDK container instance with this image. If false (or unset) recommends using more than one core per SDK container instance with this image for efficiency. Note that Dataflow service may choose to override this property if needed."
        },
        "environmentId": {
          "type": "string",
          "description": "Environment ID for the Beam runner API proto Environment that corresponds to the current SDK Harness."
        },
        "containerImage": {
          "description": "A docker container image that resides in Google Container Registry.",
          "type": "string"
        }
      },
      "description": "Defines an SDK harness container for executing Dataflow pipelines.",
      "type": "object",
      "id": "SdkHarnessContainerImage"
    },
    "FailedLocation": {
      "description": "Indicates which [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) failed to respond to a request for data.",
      "id": "FailedLocation",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond."
        }
      }
    },
    "ShellTask": {
      "type": "object",
      "description": "A task which consists of a shell command for the worker to execute.",
      "id": "ShellTask",
      "properties": {
        "exitCode": {
          "description": "Exit code for the task.",
          "type": "integer",
          "format": "int32"
        },
        "command": {
          "description": "The shell command to run.",
          "type": "string"
        }
      }
    },
    "MemInfo": {
      "type": "object",
      "id": "MemInfo",
      "description": "Information about the memory usage of a worker or a container within a worker.",
      "properties": {
        "timestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of the measurement."
        },
        "currentLimitBytes": {
          "type": "string",
          "description": "Instantenous memory limit in bytes.",
          "format": "uint64"
        },
        "currentRssBytes": {
          "description": "Instantenous memory (RSS) size in bytes.",
          "format": "uint64",
          "type": "string"
        },
        "currentOoms": {
          "type": "string",
          "description": "Number of Out of Memory (OOM) events recorded since the previous measurement.",
          "format": "int64"
        },
        "totalGbMs": {
          "format": "uint64",
          "description": "Total memory (RSS) usage since start up in GB * ms.",
          "type": "string"
        }
      }
    },
    "PipelineDescription": {
      "type": "object",
      "description": "A descriptive representation of submitted pipeline as well as the executed form. This data is provided by the Dataflow service for ease of visualizing the pipeline and interpreting Dataflow provided metrics.",
      "id": "PipelineDescription",
      "properties": {
        "executionPipelineStage": {
          "type": "array",
          "items": {
            "$ref": "ExecutionStageSummary"
          },
          "description": "Description of each stage of execution of the pipeline."
        },
        "stepNamesHash": {
          "description": "A hash value of the submitted pipeline portable graph step names if exists.",
          "type": "string"
        },
        "displayData": {
          "items": {
            "$ref": "DisplayData"
          },
          "description": "Pipeline level display data.",
          "type": "array"
        },
        "originalPipelineTransform": {
          "items": {
            "$ref": "TransformSummary"
          },
          "description": "Description of each transform in the pipeline and collections between them.",
          "type": "array"
        }
      }
    },
    "DeleteSnapshotResponse": {
      "properties": {},
      "description": "Response from deleting a snapshot.",
      "id": "DeleteSnapshotResponse",
      "type": "object"
    },
    "MultiOutputInfo": {
      "description": "Information about an output of a multi-output DoFn.",
      "id": "MultiOutputInfo",
      "type": "object",
      "properties": {
        "tag": {
          "type": "string",
          "description": "The id of the tag the user code will emit to this output by; this should correspond to the tag of some SideInputInfo."
        }
      }
    },
    "WorkerHealthReport": {
      "description": "WorkerHealthReport contains information about the health of a worker. The VM should be identified by the labels attached to the WorkerMessage that this health ping belongs to.",
      "id": "WorkerHealthReport",
      "type": "object",
      "properties": {
        "pods": {
          "description": "The pods running on the worker. See: http://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html#_v1_pod This field is used by the worker to send the status of the indvidual containers running on each worker.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "type": "array"
        },
        "msg": {
          "description": "Message describing any unusual health reports.",
          "type": "string"
        },
        "vmIsBroken": {
          "description": "Whether the VM is in a permanently broken state. Broken VMs should be abandoned or deleted ASAP to avoid assigning or completing any work.",
          "type": "boolean"
        },
        "vmIsHealthy": {
          "type": "boolean",
          "description": "Whether the VM is currently healthy."
        },
        "reportInterval": {
          "type": "string",
          "description": "The interval at which the worker is sending health reports. The default value of 0 should be interpreted as the field is not being explicitly set by the worker.",
          "format": "google-duration"
        },
        "vmBrokenCode": {
          "description": "Code to describe a specific reason, if known, that a VM has reported broken state.",
          "type": "string"
        },
        "vmStartupTime": {
          "description": "The time the VM was booted.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Stack": {
      "type": "object",
      "id": "Stack",
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp at which the stack was captured."
        },
        "threadState": {
          "description": "The state of the thread. For example, \"WAITING\".",
          "type": "string"
        },
        "threadCount": {
          "type": "integer",
          "description": "With java thread dumps we may get collapsed stacks e.g., N threads in stack \"\". Instead of having to copy over the same stack trace N times, this int field captures this.",
          "format": "int32"
        },
        "stackContent": {
          "description": "The raw stack trace.",
          "type": "string"
        },
        "threadName": {
          "type": "string",
          "description": "Thread name. For example, \"CommitThread-0,10,main\""
        }
      },
      "description": "A structuredstacktrace for a process running on the worker."
    },
    "AutoscalingSettings": {
      "description": "Settings for WorkerPool autoscaling.",
      "type": "object",
      "properties": {
        "algorithm": {
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ],
          "description": "The algorithm to use for autoscaling.",
          "type": "string"
        },
        "maxNumWorkers": {
          "description": "The maximum number of workers to cap scaling at.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "AutoscalingSettings"
    },
    "CounterStructuredNameAndMetadata": {
      "description": "A single message which encapsulates structured name and metadata for a given counter.",
      "type": "object",
      "id": "CounterStructuredNameAndMetadata",
      "properties": {
        "metadata": {
          "description": "Metadata associated with a counter",
          "$ref": "CounterMetadata"
        },
        "name": {
          "description": "Structured name of the counter.",
          "$ref": "CounterStructuredName"
        }
      }
    },
    "SourceFork": {
      "properties": {
        "residual": {
          "$ref": "SourceSplitShard",
          "description": "DEPRECATED"
        },
        "primary": {
          "$ref": "SourceSplitShard",
          "description": "DEPRECATED"
        },
        "primarySource": {
          "$ref": "DerivedSource",
          "description": "DEPRECATED"
        },
        "residualSource": {
          "description": "DEPRECATED",
          "$ref": "DerivedSource"
        }
      },
      "type": "object",
      "id": "SourceFork",
      "description": "DEPRECATED in favor of DynamicSourceSplit."
    },
    "MapTask": {
      "description": "MapTask consists of an ordered set of instructions, each of which describes one particular low-level operation for the worker to perform in order to accomplish the MapTask's WorkItem. Each instruction must appear in the list before any instructions which depends on its output.",
      "id": "MapTask",
      "type": "object",
      "properties": {
        "counterPrefix": {
          "type": "string",
          "description": "Counter prefix that can be used to prefix counters. Not currently used in Dataflow."
        },
        "instructions": {
          "description": "The instructions in the MapTask.",
          "items": {
            "$ref": "ParallelInstruction"
          },
          "type": "array"
        },
        "stageName": {
          "type": "string",
          "description": "System-defined name of the stage containing this MapTask. Unique across the workflow."
        },
        "systemName": {
          "description": "System-defined name of this MapTask. Unique across the workflow.",
          "type": "string"
        }
      }
    },
    "ConcatPosition": {
      "description": "A position that encapsulates an inner position and an index for the inner position. A ConcatPosition can be used by a reader of a source that encapsulates a set of other sources.",
      "type": "object",
      "properties": {
        "position": {
          "$ref": "Position",
          "description": "Position within the inner source."
        },
        "index": {
          "type": "integer",
          "description": "Index of the inner source.",
          "format": "int32"
        }
      },
      "id": "ConcatPosition"
    },
    "ConfigStoreSettingValue": {
      "description": "Represents a dynamically typed value.",
      "id": "ConfigStoreSettingValue",
      "properties": {
        "boolValue": {
          "type": "boolean",
          "description": "Represents a boolean value."
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        }
      },
      "type": "object"
    },
    "Sdk": {
      "id": "Sdk",
      "type": "object",
      "properties": {
        "sdkId": {
          "type": "string",
          "description": "The SDK harness id."
        },
        "stacks": {
          "items": {
            "$ref": "Stack"
          },
          "description": "The stacktraces for the processes running on the SDK harness.",
          "type": "array"
        }
      },
      "description": "A structured representation of an SDK."
    },
    "MountedDataDisk": {
      "description": "Describes mounted data disk.",
      "id": "MountedDataDisk",
      "properties": {
        "dataDisk": {
          "type": "string",
          "description": "The name of the data disk. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\"."
        }
      },
      "type": "object"
    },
    "StreamingOperationalLimits": {
      "description": "Operational limits imposed on streaming jobs by the backend.",
      "id": "StreamingOperationalLimits",
      "type": "object",
      "properties": {
        "maxKeyBytes": {
          "format": "int64",
          "type": "string",
          "description": "The maximum size allowed for a key."
        },
        "maxValueBytes": {
          "type": "string",
          "description": "The maximum size for a value state field.",
          "format": "int64"
        },
        "maxBagElementBytes": {
          "description": "The maximum size for an element in bag state.",
          "type": "string",
          "format": "int64"
        },
        "maxSourceStateBytes": {
          "type": "string",
          "format": "int64",
          "description": "The maximum size for a source state update."
        },
        "maxSortedListElementBytes": {
          "type": "string",
          "description": "The maximum size for an element in sorted list state.",
          "format": "int64"
        },
        "maxTagBytes": {
          "description": "The maximum size for a state tag.",
          "format": "int64",
          "type": "string"
        },
        "maxProductionOutputBytes": {
          "format": "int64",
          "description": "The maximum size for a single output element.",
          "type": "string"
        },
        "maxGlobalDataBytes": {
          "format": "int64",
          "description": "The maximum size for an element in global data.",
          "type": "string"
        }
      }
    },
    "WorkerShutdownNoticeResponse": {
      "description": "Service-side response to WorkerMessage issuing shutdown notice.",
      "type": "object",
      "id": "WorkerShutdownNoticeResponse",
      "properties": {}
    },
    "DataSamplingReport": {
      "id": "DataSamplingReport",
      "description": "Contains per-worker telemetry about the data sampling feature.",
      "properties": {
        "bytesWrittenDelta": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Delta of bytes written to file from previous report."
        },
        "elementsSampledBytes": {
          "type": "string",
          "description": "Optional. Delta of bytes sampled from previous report.",
          "format": "int64"
        },
        "elementsSampledCount": {
          "description": "Optional. Delta of number of elements sampled from previous report.",
          "format": "int64",
          "type": "string"
        },
        "exceptionsSampledCount": {
          "type": "string",
          "description": "Optional. Delta of number of samples taken from user code exceptions from previous report.",
          "format": "int64"
        },
        "pcollectionsSampledCount": {
          "description": "Optional. Delta of number of PCollections sampled from previous report.",
          "type": "string",
          "format": "int64"
        },
        "persistenceErrorsCount": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Delta of errors counts from persisting the samples from previous report."
        },
        "translationErrorsCount": {
          "type": "string",
          "description": "Optional. Delta of errors counts from retrieving, or translating the samples from previous report.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "CPUTime": {
      "type": "object",
      "properties": {
        "totalMs": {
          "type": "string",
          "description": "Total active CPU time across all cores (ie., non-idle) in milliseconds since start-up.",
          "format": "uint64"
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "Timestamp of the measurement.",
          "type": "string"
        },
        "rate": {
          "description": "Average CPU utilization rate (% non-idle cpu / second) since previous sample.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "CPUTime",
      "description": "Modeled after information exposed by /proc/stat."
    },
    "Job": {
      "description": "Defines a job to be run by the Cloud Dataflow service. Do not enter confidential information when you supply string values using the API.",
      "properties": {
        "steps": {
          "items": {
            "$ref": "Step"
          },
          "type": "array",
          "description": "Exactly one of step or steps_location should be specified. The top-level steps that constitute the entire job. Only retrieved with JOB_VIEW_ALL."
        },
        "replacedByJobId": {
          "description": "If another job is an update of this job (and thus, this job is in `JOB_STATE_UPDATED`), this field contains the ID of that job.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "The type of the job is unspecified, or unknown.",
            "A batch job with a well-defined end point: data is read, data is processed, data is written, and the job is done.",
            "A continuously streaming job with no end: data is read, processed, and written continuously."
          ],
          "type": "string",
          "description": "Optional. The type of Dataflow job.",
          "enum": [
            "JOB_TYPE_UNKNOWN",
            "JOB_TYPE_BATCH",
            "JOB_TYPE_STREAMING"
          ]
        },
        "pausable": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the job can be paused."
        },
        "stageStates": {
          "items": {
            "$ref": "ExecutionStageState"
          },
          "type": "array",
          "description": "This field may be mutated by the Cloud Dataflow service; callers cannot mutate it."
        },
        "transformNameMapping": {
          "description": "Optional. The map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "requestedState": {
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP",
            "JOB_STATE_PAUSING",
            "JOB_STATE_PAUSED"
          ],
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested.",
            "`JOB_STATE_PAUSING` indicates that the job is in the process of pausing. A pausing job will stop processing, archive in-flight Shuffle data, and transition to `JOB_STATE_PAUSED`. Jobs in this state can transition to `JOB_STATE_CANCELLING` if cancellation is requested, or can transition back to `JOB_STATE_RUNNING` if the pause fails to complete.",
            "`JOB_STATE_PAUSED` indicates that the job is not currently processing. Jobs in this state can transition back to `JOB_STATE_RUNNING` to continue processing where they left off, or can transition to `JOB_STATE_CANCELLING` if cancellation is requested."
          ],
          "type": "string",
          "description": "The job's requested state. Applies to `UpdateJob` requests. Set `requested_state` with `UpdateJob` requests to switch between the states `JOB_STATE_STOPPED` and `JOB_STATE_RUNNING`. You can also use `UpdateJob` requests to change a job's state from `JOB_STATE_RUNNING` to `JOB_STATE_CANCELLED`, `JOB_STATE_DONE`, or `JOB_STATE_DRAINED`. These states irrevocably terminate the job if it hasn't already reached a terminal state. This field has no effect on `CreateJob` requests."
        },
        "createdFromSnapshotId": {
          "type": "string",
          "description": "If this is specified, the job's initial state is populated from the given snapshot."
        },
        "id": {
          "description": "The unique ID of this job. This field is set by the Dataflow service when the job is created, and is immutable for the life of the job.",
          "type": "string"
        },
        "stepsLocation": {
          "description": "The Cloud Storage location where the steps are stored.",
          "type": "string"
        },
        "replaceJobId": {
          "type": "string",
          "description": "If this job is an update of an existing job, this field is the job ID of the job it replaced. When sending a `CreateJobRequest`, you can update a job by specifying it here. The job named here is stopped, and its intermediate state is transferred to this job."
        },
        "location": {
          "type": "string",
          "description": "Optional. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
        },
        "runtimeUpdatableParams": {
          "description": "This field may ONLY be modified at runtime using the projects.jobs.update method to adjust job behavior. This field has no effect when specified at job creation.",
          "$ref": "RuntimeUpdatableParams"
        },
        "name": {
          "type": "string",
          "description": "Optional. The user-specified Dataflow job name. Only one active job with a given name can exist in a project within one region at any given time. Jobs in different regions can have the same name. If a caller attempts to create a job with the same name as an active job that already exists, the attempt returns the existing job. The name must match the regular expression `[a-z]([-a-z0-9]{0,1022}[a-z0-9])?`"
        },
        "jobMetadata": {
          "description": "This field is populated by the Dataflow service to support filtering jobs by the metadata values provided here. Populated for ListJobs and all GetJob views SUMMARY and higher.",
          "$ref": "JobMetadata"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use. This field is set only in responses from the server; it is ignored if it is set in any requests."
        },
        "projectId": {
          "description": "The ID of the Google Cloud project that the job belongs to.",
          "type": "string"
        },
        "createTime": {
          "description": "The timestamp when the job was initially created. Immutable and set by the Cloud Dataflow service.",
          "format": "google-datetime",
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Reserved for future use. This field is set only in responses from the server; it is ignored if it is set in any requests."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The timestamp when the job was started (transitioned to JOB_STATE_PENDING). Flexible resource scheduling jobs are started with some delay after job creation, so start_time is unset before start and is updated when the job is started by the Cloud Dataflow service. For other jobs, start_time always equals to create_time and is immutable and set by the Cloud Dataflow service.",
          "type": "string"
        },
        "executionInfo": {
          "description": "Deprecated.",
          "$ref": "JobExecutionInfo"
        },
        "currentState": {
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP",
            "JOB_STATE_PAUSING",
            "JOB_STATE_PAUSED"
          ],
          "description": "The current state of the job. Jobs are created in the `JOB_STATE_STOPPED` state unless otherwise specified. A job in the `JOB_STATE_RUNNING` state may asynchronously enter a terminal state. After a job has reached a terminal state, no further state updates may be made. This field might be mutated by the Dataflow service; callers cannot mutate it.",
          "type": "string",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested.",
            "`JOB_STATE_PAUSING` indicates that the job is in the process of pausing. A pausing job will stop processing, archive in-flight Shuffle data, and transition to `JOB_STATE_PAUSED`. Jobs in this state can transition to `JOB_STATE_CANCELLING` if cancellation is requested, or can transition back to `JOB_STATE_RUNNING` if the pause fails to complete.",
            "`JOB_STATE_PAUSED` indicates that the job is not currently processing. Jobs in this state can transition back to `JOB_STATE_RUNNING` to continue processing where they left off, or can transition to `JOB_STATE_CANCELLING` if cancellation is requested."
          ]
        },
        "currentStateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp associated with the current state."
        },
        "serviceResources": {
          "readOnly": true,
          "$ref": "ServiceResources",
          "description": "Output only. Resources used by the Dataflow Service to run the job."
        },
        "labels": {
          "type": "object",
          "description": "User-defined labels for this job. The labels map can contain no more than 64 entries. Entries of the labels map are UTF8 strings that comply with the following restrictions: * Keys must conform to regexp: \\p{Ll}\\p{Lo}{0,62} * Values must conform to regexp: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} * Both keys and values are additionally constrained to be <= 128 bytes in size.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tempFiles": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A set of files the system should be aware of that are used for temporary storage. These temporary files will be removed on job completion. No duplicates are allowed. No file patterns are supported. The supported files are: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
        },
        "pipelineDescription": {
          "$ref": "PipelineDescription",
          "description": "Preliminary field: The format of this data may change at any time. A description of the user pipeline and stages through which it is executed. Created by Cloud Dataflow service. Only retrieved with JOB_VIEW_DESCRIPTION or JOB_VIEW_ALL."
        },
        "clientRequestId": {
          "type": "string",
          "description": "The client's unique identifier of the job, re-used across retried attempts. If this field is set, the service will ensure its uniqueness. The request to create a job will fail if the service has knowledge of a previously submitted job with the same client's ID and job name. The caller may use this field to ensure idempotence of job creation across retried attempts to create a job. By default, the field is empty and, in that case, the service ignores it."
        },
        "environment": {
          "description": "Optional. The environment for the job.",
          "$ref": "Environment"
        }
      },
      "type": "object",
      "id": "Job"
    },
    "BoundedTrie": {
      "description": "The message type used for encoding metrics of type bounded trie.",
      "type": "object",
      "id": "BoundedTrie",
      "properties": {
        "bound": {
          "type": "integer",
          "description": "The maximum number of elements to store before truncation.",
          "format": "int32"
        },
        "root": {
          "description": "A compact representation of all the elements in this trie.",
          "$ref": "BoundedTrieNode"
        },
        "singleton": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A more efficient representation for metrics consisting of a single value."
        }
      }
    },
    "StreamingSideInputLocation": {
      "description": "Identifies the location of a streaming side input.",
      "id": "StreamingSideInputLocation",
      "type": "object",
      "properties": {
        "stateFamily": {
          "description": "Identifies the state family where this side input is stored.",
          "type": "string"
        },
        "tag": {
          "type": "string",
          "description": "Identifies the particular side input within the streaming Dataflow job."
        }
      }
    },
    "InstructionOutput": {
      "description": "An output of an instruction.",
      "id": "InstructionOutput",
      "properties": {
        "name": {
          "description": "The user-provided name of this output.",
          "type": "string"
        },
        "onlyCountValueBytes": {
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the value size.",
          "type": "boolean"
        },
        "originalName": {
          "description": "System-defined name for this output in the original workflow graph. Outputs that do not contribute to an original instruction do not set this.",
          "type": "string"
        },
        "onlyCountKeyBytes": {
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the key size.",
          "type": "boolean"
        },
        "codec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The codec to use to encode data being written via this output."
        },
        "systemName": {
          "description": "System-defined name of this output. Unique across the workflow.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SplitInt64": {
      "id": "SplitInt64",
      "type": "object",
      "properties": {
        "lowBits": {
          "description": "The low order bits: n & 0xffffffff.",
          "type": "integer",
          "format": "uint32"
        },
        "highBits": {
          "format": "int32",
          "description": "The high order bits, including the sign: n >> 32.",
          "type": "integer"
        }
      },
      "description": "A representation of an int64, n, that is immune to precision loss when encoded in JSON."
    },
    "HotKeyDetection": {
      "type": "object",
      "id": "HotKeyDetection",
      "description": "Proto describing a hot key detected on a given WorkItem.",
      "properties": {
        "userStepName": {
          "type": "string",
          "description": "User-provided name of the step that contains this hot key."
        },
        "systemName": {
          "type": "string",
          "description": "System-defined name of the step containing this hot key. Unique across the workflow."
        },
        "hotKeyAge": {
          "description": "The age of the hot key measured from when it was first detected.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "Disk": {
      "description": "Describes the data disk used by a workflow job.",
      "id": "Disk",
      "type": "object",
      "properties": {
        "mountPoint": {
          "description": "Directory in a VM where disk is mounted.",
          "type": "string"
        },
        "diskType": {
          "description": "Disk storage type, as defined by Google Compute Engine. This must be a disk type appropriate to the project and zone in which the workers will run. If unknown or unspecified, the service will attempt to choose a reasonable default. For example, the standard persistent disk type is a resource name typically ending in \"pd-standard\". If SSD persistent disks are available, the resource name typically ends with \"pd-ssd\". The actual valid values are defined the Google Compute Engine API, not by the Cloud Dataflow API; consult the Google Compute Engine documentation for more information about determining the set of available disk types for a particular project and zone. Google Compute Engine Disk types are local to a particular project in a particular zone, and so the resource name will typically look something like this: compute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard",
          "type": "string"
        },
        "sizeGb": {
          "format": "int32",
          "description": "Size of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer"
        }
      }
    },
    "TopologyConfig": {
      "properties": {
        "dataDiskAssignments": {
          "items": {
            "$ref": "DataDiskAssignment"
          },
          "description": "The disks assigned to a streaming Dataflow job.",
          "type": "array"
        },
        "userStageToComputationNameMap": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Maps user stage names to stable computation names."
        },
        "computations": {
          "type": "array",
          "description": "The computations associated with a streaming Dataflow job.",
          "items": {
            "$ref": "ComputationTopology"
          }
        },
        "persistentStateVersion": {
          "description": "Version number for persistent state.",
          "type": "integer",
          "format": "int32"
        },
        "forwardingKeyBits": {
          "description": "The size (in bits) of keys that will be assigned to source messages.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "TopologyConfig",
      "type": "object",
      "description": "Global topology of the streaming Dataflow job, including all computations and their sharded locations."
    },
    "ParDoInstruction": {
      "id": "ParDoInstruction",
      "properties": {
        "input": {
          "$ref": "InstructionInput",
          "description": "The input."
        },
        "sideInputs": {
          "type": "array",
          "items": {
            "$ref": "SideInputInfo"
          },
          "description": "Zero or more side inputs."
        },
        "numOutputs": {
          "type": "integer",
          "description": "The number of outputs.",
          "format": "int32"
        },
        "multiOutputInfos": {
          "description": "Information about each of the outputs, if user_fn is a MultiDoFn.",
          "type": "array",
          "items": {
            "$ref": "MultiOutputInfo"
          }
        },
        "userFn": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The user function to invoke."
        }
      },
      "type": "object",
      "description": "An instruction that does a ParDo operation. Takes one main input and zero or more side inputs, and produces zero or more outputs. Runs user code."
    },
    "SdkBug": {
      "id": "SdkBug",
      "description": "A bug found in the Dataflow SDK.",
      "properties": {
        "uri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Link to more information on the bug."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Describes the impact of this SDK bug.",
          "enumDescriptions": [
            "Unknown issue with this SDK.",
            "Catch-all for SDK bugs that don't fit in the below categories.",
            "Using this version of the SDK may result in degraded performance.",
            "Using this version of the SDK may cause data loss."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GENERAL",
            "PERFORMANCE",
            "DATALOSS"
          ]
        },
        "severity": {
          "enumDescriptions": [
            "A bug of unknown severity.",
            "A minor bug that that may reduce reliability or performance for some jobs. Impact will be minimal or non-existent for most jobs.",
            "A bug that has some likelihood of causing performance degradation, data loss, or job failures.",
            "A bug with extremely significant impact. Jobs may fail erroneously, performance may be severely degraded, and data loss may be very likely."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. How severe the SDK bug is.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOTICE",
            "WARNING",
            "SEVERE"
          ]
        }
      },
      "type": "object"
    },
    "ReportWorkItemStatusRequest": {
      "properties": {
        "projectNumber": {
          "type": "string",
          "description": "Optional. The project number of the project which owns the WorkItem's job.",
          "format": "int64"
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job."
        },
        "workerId": {
          "description": "The ID of the worker reporting the WorkItem status. If this does not match the ID of the worker which the Dataflow service believes currently has the lease on the WorkItem, the report will be dropped (with an error response).",
          "type": "string"
        },
        "currentWorkerTime": {
          "type": "string",
          "description": "The current timestamp at the worker.",
          "format": "google-datetime"
        },
        "unifiedWorkerRequest": {
          "type": "object",
          "description": "Untranslated bag-of-bytes WorkProgressUpdateRequest from UnifiedWorker.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "workItemStatuses": {
          "items": {
            "$ref": "WorkItemStatus"
          },
          "description": "The order is unimportant, except that the order of the WorkItemServiceState messages in the ReportWorkItemStatusResponse corresponds to the order of WorkItemStatus messages here.",
          "type": "array"
        }
      },
      "description": "Request to report the status of WorkItems.",
      "type": "object",
      "id": "ReportWorkItemStatusRequest"
    },
    "LeaseWorkItemResponse": {
      "properties": {
        "unifiedWorkerResponse": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Untranslated bag-of-bytes WorkResponse for UnifiedWorker."
        },
        "workItems": {
          "description": "A list of the leased WorkItems.",
          "type": "array",
          "items": {
            "$ref": "WorkItem"
          }
        }
      },
      "description": "Response to a request to lease WorkItems.",
      "type": "object",
      "id": "LeaseWorkItemResponse"
    },
    "ResourceUtilizationReportResponse": {
      "properties": {},
      "id": "ResourceUtilizationReportResponse",
      "type": "object",
      "description": "Service-side response to WorkerMessage reporting resource utilization."
    },
    "WorkItemDetails": {
      "type": "object",
      "id": "WorkItemDetails",
      "description": "Information about an individual work item execution.",
      "properties": {
        "progress": {
          "description": "Progress of this work item.",
          "$ref": "ProgressTimeseries"
        },
        "stragglerInfo": {
          "$ref": "StragglerInfo",
          "description": "Information about straggler detections for this work item."
        },
        "startTime": {
          "type": "string",
          "description": "Start time of this work item attempt.",
          "format": "google-datetime"
        },
        "taskId": {
          "type": "string",
          "description": "Name of this work item."
        },
        "metrics": {
          "type": "array",
          "description": "Metrics for this work item.",
          "items": {
            "$ref": "MetricUpdate"
          }
        },
        "attemptId": {
          "type": "string",
          "description": "Attempt ID of this work item"
        },
        "state": {
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ],
          "description": "State of this work item.",
          "type": "string",
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ]
        },
        "endTime": {
          "description": "End time of this work item attempt. If the work item is completed, this is the actual end time of the work item. Otherwise, it is the predicted end time.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "StreamingComputationConfig": {
      "properties": {
        "computationId": {
          "description": "Unique identifier for this computation.",
          "type": "string"
        },
        "transformUserNameToStateFamily": {
          "type": "object",
          "description": "Map from user name of stateful transforms in this stage to their state family.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "stageName": {
          "description": "Stage name of this computation.",
          "type": "string"
        },
        "instructions": {
          "description": "Instructions that comprise the computation.",
          "items": {
            "$ref": "ParallelInstruction"
          },
          "type": "array"
        },
        "systemName": {
          "type": "string",
          "description": "System defined name for this computation."
        }
      },
      "id": "StreamingComputationConfig",
      "type": "object",
      "description": "Configuration information for a single streaming computation."
    },
    "SourceOperationResponse": {
      "description": "The result of a SourceOperationRequest, specified in ReportWorkItemStatusRequest.source_operation when the work item is completed.",
      "id": "SourceOperationResponse",
      "type": "object",
      "properties": {
        "split": {
          "$ref": "SourceSplitResponse",
          "description": "A response to a request to split a source."
        },
        "getMetadata": {
          "description": "A response to a request to get metadata about a source.",
          "$ref": "SourceGetMetadataResponse"
        }
      }
    },
    "PerWorkerMetrics": {
      "id": "PerWorkerMetrics",
      "type": "object",
      "properties": {
        "perStepNamespaceMetrics": {
          "description": "Optional. Metrics for a particular unfused step and namespace.",
          "type": "array",
          "items": {
            "$ref": "PerStepNamespaceMetrics"
          }
        }
      },
      "description": "Per worker metrics."
    },
    "HotKeyDebuggingInfo": {
      "id": "HotKeyDebuggingInfo",
      "type": "object",
      "description": "Information useful for debugging a hot key detection.",
      "properties": {
        "detectedHotKeys": {
          "additionalProperties": {
            "$ref": "HotKeyInfo"
          },
          "description": "Debugging information for each detected hot key. Keyed by a hash of the key.",
          "type": "object"
        }
      }
    },
    "DerivedSource": {
      "properties": {
        "source": {
          "description": "Specification of the source.",
          "$ref": "Source"
        },
        "derivationMode": {
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "description": "What source to base the produced source on (if any)."
        }
      },
      "type": "object",
      "description": "Specification of one of the bundles produced as a result of splitting a Source (e.g. when executing a SourceSplitRequest, or when splitting an active task using WorkItemStatus.dynamic_source_split), relative to the source being split.",
      "id": "DerivedSource"
    },
    "WorkerLifecycleEvent": {
      "properties": {
        "event": {
          "enumDescriptions": [
            "Invalid event.",
            "The time the VM started.",
            "Our container code starts running. Multiple containers could be distinguished with WorkerMessage.labels if desired.",
            "The worker has a functional external network connection.",
            "Started downloading staging files.",
            "Finished downloading all staging files.",
            "For applicable SDKs, started installation of SDK and worker packages.",
            "Finished installing SDK."
          ],
          "enum": [
            "UNKNOWN_EVENT",
            "OS_START",
            "CONTAINER_START",
            "NETWORK_UP",
            "STAGING_FILES_DOWNLOAD_START",
            "STAGING_FILES_DOWNLOAD_FINISH",
            "SDK_INSTALL_START",
            "SDK_INSTALL_FINISH"
          ],
          "type": "string",
          "description": "The event being reported."
        },
        "containerStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start time of this container. All events will report this so that events can be grouped together across container/VM restarts."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Other stats that can accompany an event. E.g. { \"downloaded_bytes\" : \"123456\" }",
          "type": "object"
        }
      },
      "type": "object",
      "id": "WorkerLifecycleEvent",
      "description": "A report of an event in a worker's lifecycle. The proto contains one event, because the worker is expected to asynchronously send each message immediately after the event. Due to this asynchrony, messages may arrive out of order (or missing), and it is up to the consumer to interpret. The timestamp of the event is in the enclosing WorkerMessage proto."
    },
    "LeaseWorkItemRequest": {
      "properties": {
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job."
        },
        "workerCapabilities": {
          "items": {
            "type": "string"
          },
          "description": "Worker capabilities. WorkItems might be limited to workers with specific capabilities.",
          "type": "array"
        },
        "workerId": {
          "description": "Identifies the worker leasing work -- typically the ID of the virtual machine running the worker.",
          "type": "string"
        },
        "requestedLeaseDuration": {
          "format": "google-duration",
          "description": "The initial lease period.",
          "type": "string"
        },
        "workItemTypes": {
          "description": "Filter for WorkItem type.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "unifiedWorkerRequest": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Untranslated bag-of-bytes WorkRequest from UnifiedWorker."
        },
        "projectNumber": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The project number of the project this worker belongs to."
        },
        "currentWorkerTime": {
          "description": "The current timestamp at the worker.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "LeaseWorkItemRequest",
      "description": "Request to lease WorkItems.",
      "type": "object"
    },
    "WorkerPool": {
      "id": "WorkerPool",
      "description": "Describes one particular pool of Cloud Dataflow workers to be instantiated by the Cloud Dataflow service in order to perform the computations required by a job. Note that a workflow job may use multiple pools, in order to match the various computational requirements of the various stages of the job.",
      "type": "object",
      "properties": {
        "diskSizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Size of root disk for VMs, in GB. If zero or unspecified, the service will attempt to choose a reasonable default."
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork to which VMs will be assigned, if desired. Expected to be of the form \"regions/REGION/subnetworks/SUBNETWORK\"."
        },
        "kind": {
          "description": "The kind of the worker pool; currently only `harness` and `shuffle` are supported.",
          "type": "string"
        },
        "packages": {
          "type": "array",
          "description": "Packages to be installed on workers.",
          "items": {
            "$ref": "Package"
          }
        },
        "zone": {
          "description": "Zone to run the worker pools in. If empty or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string"
        },
        "diskProvisionedIops": {
          "type": "string",
          "format": "int64",
          "description": "Optional. IOPS provisioned for the root disk for VMs."
        },
        "diskProvisionedThroughputMibps": {
          "type": "string",
          "description": "Optional. Throughput provisioned for the root disk for VMs.",
          "format": "int64"
        },
        "onHostMaintenance": {
          "type": "string",
          "description": "The action to take on host maintenance, as defined by the Google Compute Engine API."
        },
        "numThreadsPerWorker": {
          "description": "The number of threads per worker harness. If empty or unspecified, the service will choose a number of threads (according to the number of cores on the selected machine type for batch, or 1 by convention for streaming).",
          "format": "int32",
          "type": "integer"
        },
        "autoscalingSettings": {
          "description": "Settings for autoscaling of this WorkerPool.",
          "$ref": "AutoscalingSettings"
        },
        "numWorkers": {
          "description": "Number of Google Compute Engine workers in this pool needed to execute the job. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer",
          "format": "int32"
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "taskrunnerSettings": {
          "description": "Settings passed through to Google Compute Engine workers when using the standard Dataflow task runner. Users should ignore this field.",
          "$ref": "TaskRunnerSettings"
        },
        "ipConfiguration": {
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "type": "string",
          "description": "Configuration for VM IPs."
        },
        "dataDisks": {
          "items": {
            "$ref": "Disk"
          },
          "description": "Data disks that are used by a VM in this workflow.",
          "type": "array"
        },
        "sdkHarnessContainerImages": {
          "items": {
            "$ref": "SdkHarnessContainerImage"
          },
          "type": "array",
          "description": "Set of SDK harness containers needed to execute this pipeline. This will only be set in the Fn API path. For non-cross-language pipelines this should have only one entry. Cross-language pipelines will have two or more entries."
        },
        "machineType": {
          "description": "Machine type (e.g. \"n1-standard-1\"). If empty or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata to set on the Google Compute Engine VMs.",
          "type": "object"
        },
        "defaultPackageSet": {
          "type": "string",
          "description": "The default package set to install. This allows the service to select a default set of packages which are useful to worker harnesses written in a particular language.",
          "enum": [
            "DEFAULT_PACKAGE_SET_UNKNOWN",
            "DEFAULT_PACKAGE_SET_NONE",
            "DEFAULT_PACKAGE_SET_JAVA",
            "DEFAULT_PACKAGE_SET_PYTHON"
          ],
          "enumDescriptions": [
            "The default set of packages to stage is unknown, or unspecified.",
            "Indicates that no packages should be staged at the worker unless explicitly specified by the job.",
            "Stage packages typically useful to workers written in Java.",
            "Stage packages typically useful to workers written in Python."
          ]
        },
        "diskSourceImage": {
          "description": "Fully qualified source image for disks.",
          "type": "string"
        },
        "poolArgs": {
          "type": "object",
          "description": "Extra arguments for this worker pool.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "workerHarnessContainerImage": {
          "description": "Required. Docker container image that executes the Cloud Dataflow worker harness, residing in Google Container Registry. Deprecated for the Fn API path. Use sdk_harness_container_images instead.",
          "type": "string"
        },
        "teardownPolicy": {
          "enum": [
            "TEARDOWN_POLICY_UNKNOWN",
            "TEARDOWN_ALWAYS",
            "TEARDOWN_ON_SUCCESS",
            "TEARDOWN_NEVER"
          ],
          "description": "Sets the policy for determining when to turndown worker pool. Allowed values are: `TEARDOWN_ALWAYS`, `TEARDOWN_ON_SUCCESS`, and `TEARDOWN_NEVER`. `TEARDOWN_ALWAYS` means workers are always torn down regardless of whether the job succeeds. `TEARDOWN_ON_SUCCESS` means workers are torn down if the job succeeds. `TEARDOWN_NEVER` means the workers are never torn down. If the workers are not torn down by the service, they will continue to run and use Google Compute Engine VM resources in the user's project until they are explicitly terminated by the user. Because of this, Google recommends using the `TEARDOWN_ALWAYS` policy except for small, manually supervised test jobs. If unknown or unspecified, the service will attempt to choose a reasonable default.",
          "enumDescriptions": [
            "The teardown policy isn't specified, or is unknown.",
            "Always teardown the resource.",
            "Teardown the resource on success. This is useful for debugging failures.",
            "Never teardown the resource. This is useful for debugging and development."
          ],
          "type": "string"
        },
        "diskType": {
          "type": "string",
          "description": "Type of root disk for VMs. If empty or unspecified, the service will attempt to choose a reasonable default."
        }
      }
    },
    "InstructionInput": {
      "id": "InstructionInput",
      "description": "An input of an instruction, as a reference to an output of a producer instruction.",
      "properties": {
        "producerInstructionIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The index (origin zero) of the parallel instruction that produces the output to be consumed by this input. This index is relative to the list of instructions in this input's instruction's containing MapTask."
        },
        "outputNum": {
          "type": "integer",
          "format": "int32",
          "description": "The output index (origin zero) within the producer."
        }
      },
      "type": "object"
    },
    "GetTemplateResponse": {
      "description": "The response to a GetTemplate request.",
      "properties": {
        "runtimeMetadata": {
          "description": "Describes the runtime metadata with SDKInfo and available parameters.",
          "$ref": "RuntimeMetadata"
        },
        "metadata": {
          "description": "The template metadata describing the template name, available parameters, etc.",
          "$ref": "TemplateMetadata"
        },
        "templateType": {
          "description": "Template Type.",
          "enum": [
            "UNKNOWN",
            "LEGACY",
            "FLEX"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown Template Type.",
            "Legacy Template.",
            "Flex Template."
          ]
        },
        "status": {
          "$ref": "Status",
          "description": "The status of the get template request. Any problems with the request will be indicated in the error_details."
        }
      },
      "type": "object",
      "id": "GetTemplateResponse"
    },
    "JobExecutionDetails": {
      "type": "object",
      "properties": {
        "stages": {
          "items": {
            "$ref": "StageSummary"
          },
          "description": "The stages of the job execution.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        }
      },
      "description": "Information about the execution of a job.",
      "id": "JobExecutionDetails"
    },
    "SourceGetMetadataRequest": {
      "description": "A request to compute the SourceMetadata of a Source.",
      "type": "object",
      "id": "SourceGetMetadataRequest",
      "properties": {
        "source": {
          "description": "Specification of the source whose metadata should be computed.",
          "$ref": "Source"
        }
      }
    },
    "StateFamilyConfig": {
      "properties": {
        "isRead": {
          "description": "If true, this family corresponds to a read operation.",
          "type": "boolean"
        },
        "stateFamily": {
          "type": "string",
          "description": "The state family value."
        }
      },
      "id": "StateFamilyConfig",
      "description": "State family configuration.",
      "type": "object"
    },
    "WorkerDetails": {
      "properties": {
        "workItems": {
          "items": {
            "$ref": "WorkItemDetails"
          },
          "type": "array",
          "description": "Work items processed by this worker, sorted by time."
        },
        "workerName": {
          "description": "Name of this worker",
          "type": "string"
        }
      },
      "description": "Information about a worker",
      "type": "object",
      "id": "WorkerDetails"
    },
    "ExecutionStageState": {
      "properties": {
        "executionStageState": {
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested.",
            "`JOB_STATE_PAUSING` indicates that the job is in the process of pausing. A pausing job will stop processing, archive in-flight Shuffle data, and transition to `JOB_STATE_PAUSED`. Jobs in this state can transition to `JOB_STATE_CANCELLING` if cancellation is requested, or can transition back to `JOB_STATE_RUNNING` if the pause fails to complete.",
            "`JOB_STATE_PAUSED` indicates that the job is not currently processing. Jobs in this state can transition back to `JOB_STATE_RUNNING` to continue processing where they left off, or can transition to `JOB_STATE_CANCELLING` if cancellation is requested."
          ],
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP",
            "JOB_STATE_PAUSING",
            "JOB_STATE_PAUSED"
          ],
          "description": "Executions stage states allow the same set of values as JobState.",
          "type": "string"
        },
        "currentStateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the stage transitioned to this state."
        },
        "executionStageName": {
          "description": "The name of the execution stage.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A message describing the state of a particular execution stage.",
      "id": "ExecutionStageState"
    },
    "WorkItemStatus": {
      "id": "WorkItemStatus",
      "type": "object",
      "description": "Conveys a worker's progress through the work described by a WorkItem.",
      "properties": {
        "sourceOperationResponse": {
          "$ref": "SourceOperationResponse",
          "description": "If the work item represented a SourceOperationRequest, and the work is completed, contains the result of the operation."
        },
        "workItemId": {
          "description": "Identifies the WorkItem.",
          "type": "string"
        },
        "errors": {
          "type": "array",
          "description": "Specifies errors which occurred during processing. If errors are provided, and completed = true, then the WorkItem is considered to have failed.",
          "items": {
            "$ref": "Status"
          }
        },
        "completed": {
          "description": "True if the WorkItem was completed (successfully or unsuccessfully).",
          "type": "boolean"
        },
        "progress": {
          "description": "DEPRECATED in favor of reported_progress.",
          "$ref": "ApproximateProgress",
          "deprecated": true
        },
        "requestedLeaseDuration": {
          "type": "string",
          "description": "Amount of time the worker requests for its lease.",
          "format": "google-duration"
        },
        "reportIndex": {
          "type": "string",
          "format": "int64",
          "description": "The report index. When a WorkItem is leased, the lease will contain an initial report index. When a WorkItem's status is reported to the system, the report should be sent with that report index, and the response will contain the index the worker should use for the next report. Reports received with unexpected index values will be rejected by the service. In order to preserve idempotency, the worker should not alter the contents of a report, even if the worker must submit the same report multiple times before getting back a response. The worker should not submit a subsequent report until the response for the previous report had been received from the service."
        },
        "metricUpdates": {
          "type": "array",
          "description": "DEPRECATED in favor of counter_updates.",
          "deprecated": true,
          "items": {
            "$ref": "MetricUpdate"
          }
        },
        "sourceFork": {
          "deprecated": true,
          "$ref": "SourceFork",
          "description": "DEPRECATED in favor of dynamic_source_split."
        },
        "reportedProgress": {
          "$ref": "ApproximateReportedProgress",
          "description": "The worker's progress through this WorkItem."
        },
        "stopPosition": {
          "description": "A worker may split an active map task in two parts, \"primary\" and \"residual\", continuing to process the primary part and returning the residual part into the pool of available work. This event is called a \"dynamic split\" and is critical to the dynamic work rebalancing feature. The two obtained sub-tasks are called \"parts\" of the split. The parts, if concatenated, must represent the same input as would be read by the current task if the split did not happen. The exact way in which the original task is decomposed into the two parts is specified either as a position demarcating them (stop_position), or explicitly as two DerivedSources, if this task consumes a user-defined source type (dynamic_source_split). The \"current\" task is adjusted as a result of the split: after a task with range [A, B) sends a stop_position update at C, its range is considered to be [A, C), e.g.: * Progress should be interpreted relative to the new range, e.g. \"75% completed\" means \"75% of [A, C) completed\" * The worker should interpret proposed_stop_position relative to the new range, e.g. \"split at 68%\" should be interpreted as \"split at 68% of [A, C)\". * If the worker chooses to split again using stop_position, only stop_positions in [A, C) will be accepted. * Etc. dynamic_source_split has similar semantics: e.g., if a task with source S splits using dynamic_source_split into {P, R} (where P and R must be together equivalent to S), then subsequent progress and proposed_stop_position should be interpreted relative to P, and in a potential subsequent dynamic_source_split into {P', R'}, P' and R' must be together equivalent to P, etc.",
          "$ref": "Position"
        },
        "dynamicSourceSplit": {
          "description": "See documentation of stop_position.",
          "$ref": "DynamicSourceSplit"
        },
        "counterUpdates": {
          "type": "array",
          "description": "Worker output counters for this WorkItem.",
          "items": {
            "$ref": "CounterUpdate"
          }
        },
        "totalThrottlerWaitTimeSeconds": {
          "format": "double",
          "type": "number",
          "description": "Total time the worker spent being throttled by external systems."
        }
      }
    },
    "ConfigStoreSetting": {
      "description": "A ConfigStoreSetting resource.",
      "type": "object",
      "id": "ConfigStoreSetting",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the setting."
        },
        "value": {
          "description": "Required. The dynamic value of the setting.",
          "$ref": "ConfigStoreSettingValue"
        }
      }
    },
    "DatastoreIODetails": {
      "description": "Metadata for a Datastore connector used by the job.",
      "id": "DatastoreIODetails",
      "type": "object",
      "properties": {
        "namespace": {
          "description": "Namespace used in the connection.",
          "type": "string"
        },
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        }
      }
    },
    "StreamingScalingReportResponse": {
      "description": "Contains per-user-worker streaming scaling recommendation from the backend.",
      "properties": {
        "maximumThreadCount": {
          "type": "integer",
          "description": "Maximum thread count limit;",
          "format": "int32"
        }
      },
      "id": "StreamingScalingReportResponse",
      "type": "object"
    },
    "RuntimeEnvironment": {
      "type": "object",
      "id": "RuntimeEnvironment",
      "description": "The environment values to set at runtime.",
      "properties": {
        "additionalPipelineOptions": {
          "type": "array",
          "description": "Optional. Additional pipeline option flags for the job.",
          "items": {
            "type": "string"
          }
        },
        "maxWorkers": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000. The default value is 1."
        },
        "streamingMode": {
          "description": "Optional. Specifies the Streaming Engine message processing guarantees. Reduces cost and latency but might result in duplicate messages committed to storage. Designed to run simple mapping streaming ETL jobs at the lowest cost. For example, Change Data Capture (CDC) to BigQuery is a canonical use case. For more information, see [Set the pipeline streaming mode](https://cloud.google.com/dataflow/docs/guides/streaming-modes).",
          "enumDescriptions": [
            "Run in the default mode.",
            "In this mode, message deduplication is performed against persistent state to make sure each message is processed and committed to storage exactly once.",
            "Message deduplication is not performed. Messages might be processed multiple times, and the results are applied multiple times. Note: Setting this value also enables Streaming Engine and Streaming Engine resource-based billing."
          ],
          "type": "string",
          "enum": [
            "STREAMING_MODE_UNSPECIFIED",
            "STREAMING_MODE_EXACTLY_ONCE",
            "STREAMING_MODE_AT_LEAST_ONCE"
          ]
        },
        "zone": {
          "type": "string",
          "description": "Optional. The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/"
        },
        "additionalUserLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Additional user labels to be specified for the job. Keys and values should follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }.",
          "type": "object"
        },
        "tempLocation": {
          "type": "string",
          "description": "Required. The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`."
        },
        "bypassTempDirValidation": {
          "description": "Optional. Whether to bypass the safety checks for the job's temporary directory. Use with caution.",
          "type": "boolean"
        },
        "numWorkers": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The initial number of Google Compute Engine instances for the job. The default value is 11."
        },
        "additionalExperiments": {
          "description": "Optional. Additional experiment flags for the job, specified with the `--experiments` option.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "workerRegion": {
          "description": "Required. The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        },
        "enableStreamingEngine": {
          "description": "Optional. Whether to enable Streaming Engine for the job.",
          "type": "boolean"
        },
        "machineType": {
          "description": "Optional. The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        },
        "ipConfiguration": {
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "description": "Optional. Configuration for VM IPs.",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. The email address of the service account to run the job as."
        },
        "network": {
          "description": "Optional. Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Optional. Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL."
        },
        "diskSizeGb": {
          "type": "integer",
          "description": "Optional. The disk size, in gigabytes, to use on each remote Compute Engine worker instance.",
          "format": "int32"
        },
        "workerZone": {
          "type": "string",
          "description": "Optional. The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence."
        }
      }
    },
    "SourceSplitOptions": {
      "type": "object",
      "id": "SourceSplitOptions",
      "properties": {
        "desiredShardSizeBytes": {
          "description": "DEPRECATED in favor of desired_bundle_size_bytes.",
          "type": "string",
          "format": "int64",
          "deprecated": true
        },
        "desiredBundleSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "The source should be split into a set of bundles where the estimated size of each is approximately this many bytes."
        }
      },
      "description": "Hints for splitting a Source into bundles (parts for parallel processing) using SourceSplitRequest."
    },
    "Package": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the package."
        },
        "location": {
          "type": "string",
          "description": "The resource to read the package from. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket} bucket.storage.googleapis.com/"
        },
        "sha256": {
          "description": "Optional. The hex-encoded SHA256 checksum of the package. If the checksum is provided, the worker will verify the checksum of the package before using it. If the checksum does not match, the worker will fail to start.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Package",
      "description": "The packages that must be installed in order for a worker to run the steps of the Cloud Dataflow job that will be assigned to its worker pool. This is the mechanism by which the Cloud Dataflow SDK causes code to be loaded onto the workers. For example, the Cloud Dataflow Java SDK might use this to install jars containing the user's code and all of the various dependencies (libraries, data files, etc.) required in order for that code to run."
    },
    "DynamicSourceSplit": {
      "id": "DynamicSourceSplit",
      "type": "object",
[...]
