{
  "id": "dataproc:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "baseUrl": "https://dataproc.googleapis.com/",
  "endpoints": [
    {
      "location": "europe-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.europe-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central2",
      "endpointUrl": "https://dataproc.us-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://dataproc.us-east4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://dataproc.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://dataproc.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://dataproc.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://dataproc.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://dataproc.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://dataproc.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    }
  ],
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "title": "Cloud Dataproc API",
  "kind": "discovery#restDescription",
  "revision": "20260911",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/dataproc/",
  "mtlsRootUrl": "https://dataproc.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "version": "v1",
  "canonicalName": "Dataproc",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dataproc.read-only": {
          "description": "See your Google Cloud Dataproc data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dataproc": {
          "description": "See, edit, configure, and delete your Google Cloud Dataproc data and see the email address for your Google Account"
        }
      }
    }
  },
  "name": "dataproc",
  "schemas": {
    "ConfidentialInstanceConfig": {
      "properties": {
        "enableConfidentialCompute": {
          "description": "Optional. Deprecated: Use 'confidential_instance_type' instead. Defines whether the instance should have confidential compute enabled.",
          "type": "boolean",
          "deprecated": true
        },
        "confidentialInstanceType": {
          "enum": [
            "CONFIDENTIAL_INSTANCE_TYPE_UNSPECIFIED",
            "SEV",
            "SEV_SNP",
            "TDX"
          ],
          "enumDescriptions": [
            "Confidential Instance Type is not specified.",
            "AMD Secure Encrypted Virtualization (https://cloud.google.com/confidential-computing/confidential-vm/docs/confidential-vm-overview#amd_sev)",
            "AMD Secure Encrypted Virtualization-Secure Nested Paging (https://cloud.google.com/confidential-computing/confidential-vm/docs/confidential-vm-overview#amd_sev-snp)",
            "Intel Trust Domain Extensions (https://cloud.google.com/confidential-computing/confidential-vm/docs/confidential-vm-overview#intel_tdx)"
          ],
          "description": "Optional. Defines the type of Confidential Compute technology to use.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Confidential Instance Config for clusters using Confidential VMs (https://cloud.google.com/confidential-computing/confidential-vm/docs)",
      "id": "ConfidentialInstanceConfig"
    },
    "ShieldedInstanceConfig": {
      "properties": {
        "enableSecureBoot": {
          "description": "Optional. Defines whether instances have Secure Boot enabled.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Defines whether instances have integrity monitoring enabled."
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether instances have the vTPM enabled."
        }
      },
      "type": "object",
      "id": "ShieldedInstanceConfig",
      "description": "Shielded Instance Config for clusters using Compute Engine Shielded VMs (https://cloud.google.com/security/shielded-cloud/shielded-vm)."
    },
    "AccessSessionSparkApplicationSqlQueryResponse": {
      "id": "AccessSessionSparkApplicationSqlQueryResponse",
      "description": "Details of a query for a Spark Application",
      "properties": {
        "executionData": {
          "description": "SQL Execution Data",
          "$ref": "SqlExecutionUiData"
        }
      },
      "type": "object"
    },
    "TemplateParameter": {
      "description": "A configurable parameter that replaces one or more fields in the template. Parameterizable fields: - Labels - File uris - Job properties - Job arguments - Script variables - Main class (in HadoopJob and SparkJob) - Zone (in ClusterSelector)",
      "properties": {
        "fields": {
          "description": "Required. Paths to all fields that the parameter replaces. A field is allowed to appear in at most one parameter's list of field paths.A field path is similar in syntax to a google.protobuf.FieldMask. For example, a field path that references the zone field of a workflow template's cluster selector would be specified as placement.clusterSelector.zone.Also, field paths can reference fields using the following syntax: Values in maps can be referenced by key: labels'key' placement.clusterSelector.clusterLabels'key' placement.managedCluster.labels'key' placement.clusterSelector.clusterLabels'key' jobs'step-id'.labels'key' Jobs in the jobs list can be referenced by step-id: jobs'step-id'.hadoopJob.mainJarFileUri jobs'step-id'.hiveJob.queryFileUri jobs'step-id'.pySparkJob.mainPythonFileUri jobs'step-id'.hadoopJob.jarFileUris0 jobs'step-id'.hadoopJob.archiveUris0 jobs'step-id'.hadoopJob.fileUris0 jobs'step-id'.pySparkJob.pythonFileUris0 Items in repeated fields can be referenced by a zero-based index: jobs'step-id'.sparkJob.args0 Other examples: jobs'step-id'.hadoopJob.properties'key' jobs'step-id'.hadoopJob.args0 jobs'step-id'.hiveJob.scriptVariables'key' jobs'step-id'.hadoopJob.mainJarFileUri placement.clusterSelector.zoneIt may not be possible to parameterize maps and repeated fields in their entirety since only individual map values and individual items in repeated fields can be referenced. For example, the following field paths are invalid: placement.clusterSelector.clusterLabels jobs'step-id'.sparkJob.args",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Required. Parameter name. The parameter name is used as the key, and paired with the parameter value, which are passed to the template when the template is instantiated. The name must contain only capital letters (A-Z), numbers (0-9), and underscores (_), and must not start with a number. The maximum length is 40 characters.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Brief description of the parameter. Must not exceed 1024 characters.",
          "type": "string"
        },
        "validation": {
          "$ref": "ParameterValidation",
          "description": "Optional. Validation rules to be applied to this parameter's value."
        }
      },
      "id": "TemplateParameter",
      "type": "object"
    },
    "PeripheralsConfig": {
      "id": "PeripheralsConfig",
      "description": "Auxiliary services configuration for a workload.",
      "type": "object",
      "properties": {
        "metastoreService": {
          "type": "string",
          "description": "Optional. Resource name of an existing Dataproc Metastore service.Example: projects/[project_id]/locations/[region]/services/[service_id]"
        },
        "sparkHistoryServerConfig": {
          "$ref": "SparkHistoryServerConfig",
          "description": "Optional. The Spark History Server configuration for the workload."
        }
      }
    },
    "AccessSessionSparkApplicationResponse": {
      "type": "object",
      "properties": {
        "application": {
          "$ref": "ApplicationInfo",
          "description": "Output only. High level information corresponding to an application.",
          "readOnly": true
        }
      },
      "id": "AccessSessionSparkApplicationResponse",
      "description": "A summary of Spark Application"
    },
    "SearchSparkApplicationStageAttemptTasksResponse": {
      "id": "SearchSparkApplicationStageAttemptTasksResponse",
      "type": "object",
      "description": "List of tasks for a stage of a Spark Application",
      "properties": {
        "sparkApplicationStageAttemptTasks": {
          "type": "array",
          "items": {
            "$ref": "TaskData"
          },
          "description": "Output only. Data corresponding to tasks created by spark.",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListSparkApplicationStageAttemptTasksRequest.",
          "type": "string"
        }
      }
    },
    "CancelJobRequest": {
      "description": "A request to cancel a job.",
      "type": "object",
      "properties": {},
      "id": "CancelJobRequest"
    },
    "GkeClusterConfig": {
      "id": "GkeClusterConfig",
      "type": "object",
      "properties": {
        "nodePoolTarget": {
          "items": {
            "$ref": "GkeNodePoolTarget"
          },
          "description": "Optional. GKE node pools where workloads will be scheduled. At least one node pool must be assigned the DEFAULT GkeNodePoolTarget.Role. If a GkeNodePoolTarget is not specified, Dataproc constructs a DEFAULT GkeNodePoolTarget. Each role can be given to only one GkeNodePoolTarget. All node pools must have the same location settings.",
          "type": "array"
        },
        "gkeClusterTarget": {
          "type": "string",
          "description": "Optional. A target GKE cluster to deploy to. It must be in the same project and region as the Dataproc cluster (the GKE cluster can be zonal or regional). Format: 'projects/{project}/locations/{location}/clusters/{cluster_id}'"
        },
        "namespacedGkeDeploymentTarget": {
          "$ref": "NamespacedGkeDeploymentTarget",
          "description": "Optional. Deprecated. Use gkeClusterTarget. Used only for the deprecated beta. A target for the deployment.",
          "deprecated": true
        }
      },
      "description": "The cluster's GKE config."
    },
    "RepositoryConfig": {
      "description": "Configuration for dependency repositories",
      "id": "RepositoryConfig",
      "properties": {
        "pypiRepositoryConfig": {
          "$ref": "PyPiRepositoryConfig",
          "description": "Optional. Configuration for PyPi repository."
        }
      },
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      }
    },
    "BuildInfo": {
      "description": "Native Build Info",
      "id": "BuildInfo",
      "properties": {
        "buildValue": {
          "description": "Optional. Build value.",
          "type": "string"
        },
        "buildKey": {
          "description": "Optional. Build key.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SparkPlanGraphNodeWrapper": {
      "id": "SparkPlanGraphNodeWrapper",
      "description": "Wrapper user to represent either a node or a cluster.",
      "type": "object",
      "properties": {
        "node": {
          "$ref": "SparkPlanGraphNode"
        },
        "cluster": {
          "$ref": "SparkPlanGraphCluster"
        }
      }
    },
    "HadoopJob": {
      "properties": {
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Hadoop. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/hadoop/conf/*-site and classes in user code.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "jarFileUris": {
          "type": "array",
          "description": "Optional. Jar file URIs to add to the CLASSPATHs of the Hadoop driver and tasks.",
          "items": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "fileUris": {
          "type": "array",
          "description": "Optional. HCFS (Hadoop Compatible Filesystem) URIs of files to be copied to the working directory of Hadoop drivers and distributed tasks. Useful for naively parallel tasks.",
          "items": {
            "type": "string"
          }
        },
        "mainClass": {
          "type": "string",
          "description": "The name of the driver's main class. The jar file containing the class must be in the default CLASSPATH or specified in jar_file_uris."
        },
        "args": {
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as -libjars or -Dfoo=bar, that can be set as job properties, since a collision might occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          }
        },
        "mainJarFileUri": {
          "description": "The HCFS URI of the jar file containing the main class. Examples: 'gs://foo-bucket/analytics-binaries/extract-useful-metrics-mr.jar' 'hdfs:/tmp/test-samples/custom-wordcount.jar' 'file:///home/usr/lib/hadoop-mapreduce/hadoop-mapreduce-examples.jar'",
          "type": "string"
        },
        "archiveUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of archives to be extracted in the working directory of Hadoop drivers and tasks. Supported file types: .jar, .tar, .tar.gz, .tgz, or .zip."
        }
      },
      "id": "HadoopJob",
      "description": "A Dataproc job for running Apache Hadoop MapReduce (https://hadoop.apache.org/docs/current/hadoop-mapreduce-client/hadoop-mapreduce-client-core/MapReduceTutorial.html) jobs on Apache Hadoop YARN (https://hadoop.apache.org/docs/r2.7.1/hadoop-yarn/hadoop-yarn-site/YARN.html).",
      "type": "object"
    },
    "SparkJob": {
      "type": "object",
      "id": "SparkJob",
      "description": "A Dataproc job for running Apache Spark (https://spark.apache.org/) applications on YARN.",
      "properties": {
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mainJarFileUri": {
          "description": "The HCFS URI of the jar file that contains the main class.",
          "type": "string"
        },
        "mainClass": {
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in SparkJob.jar_file_uris.",
          "type": "string"
        },
        "args": {
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "jarFileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Spark driver and tasks.",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "description": "Optional. A mapping of property names to values, used to configure Spark. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        }
      }
    },
    "TerminateSessionRequest": {
      "id": "TerminateSessionRequest",
      "properties": {
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the service receives two TerminateSessionRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.TerminateSessionRequest)s with the same ID, the second request is ignored.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The value must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A request to terminate an interactive session."
    },
    "ExecutorMetricsDistributions": {
      "type": "object",
      "properties": {
        "shuffleReadRecords": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        },
        "diskBytesSpilled": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "failedTasks": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "inputRecords": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "memoryBytesSpilled": {
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        },
        "killedTasks": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "outputRecords": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "outputBytes": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        },
        "shuffleRead": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        },
        "taskTimeMillis": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        },
        "inputBytes": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        },
        "shuffleWrite": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "shuffleWriteRecords": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        },
        "peakMemoryMetrics": {
          "$ref": "ExecutorPeakMetricsDistributions"
        },
        "succeededTasks": {
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        },
        "quantiles": {
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      },
      "id": "ExecutorMetricsDistributions"
    },
    "AccessSessionSparkApplicationSqlSparkPlanGraphResponse": {
      "id": "AccessSessionSparkApplicationSqlSparkPlanGraphResponse",
      "description": "SparkPlanGraph for a Spark Application execution limited to maximum 10000 clusters.",
      "type": "object",
      "properties": {
        "sparkPlanGraph": {
          "description": "SparkPlanGraph for a Spark Application execution.",
          "$ref": "SparkPlanGraph"
        }
      }
    },
    "SearchSessionSparkApplicationExecutorStageSummaryResponse": {
      "id": "SearchSessionSparkApplicationExecutorStageSummaryResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationExecutorStageSummaryRequest."
        },
        "sparkApplicationStageExecutors": {
          "description": "Details about executors used by the application stage.",
          "type": "array",
          "items": {
            "$ref": "ExecutorStageSummary"
          }
        }
      },
      "description": "List of Executors associated with a Spark Application Stage."
    },
    "ResourceProfileInfo": {
      "properties": {
        "resourceProfileId": {
          "type": "integer",
          "format": "int32"
        },
        "taskResources": {
          "type": "object",
          "additionalProperties": {
            "$ref": "TaskResourceRequest"
          }
        },
        "executorResources": {
          "additionalProperties": {
            "$ref": "ExecutorResourceRequest"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "ResourceProfileInfo",
      "description": "Resource profile that contains information about all the resources required by executors and tasks."
    },
    "TaskQuantileMetrics": {
      "properties": {
        "outputMetrics": {
          "$ref": "OutputQuantileMetrics"
        },
        "shuffleReadMetrics": {
          "$ref": "ShuffleReadQuantileMetrics"
        },
        "memoryBytesSpilled": {
          "$ref": "Quantiles"
        },
        "schedulerDelayMillis": {
          "$ref": "Quantiles"
        },
        "resultSize": {
          "$ref": "Quantiles"
        },
        "durationMillis": {
          "$ref": "Quantiles"
        },
        "executorRunTimeMillis": {
          "$ref": "Quantiles"
        },
        "executorCpuTimeNanos": {
          "$ref": "Quantiles"
        },
        "inputMetrics": {
          "$ref": "InputQuantileMetrics"
        },
        "executorDeserializeCpuTimeNanos": {
          "$ref": "Quantiles"
        },
        "jvmGcTimeMillis": {
          "$ref": "Quantiles"
        },
        "executorDeserializeTimeMillis": {
          "$ref": "Quantiles"
        },
        "diskBytesSpilled": {
          "$ref": "Quantiles"
        },
        "shuffleWriteMetrics": {
          "$ref": "ShuffleWriteQuantileMetrics"
        },
        "peakExecutionMemoryBytes": {
          "$ref": "Quantiles"
        },
        "resultSerializationTimeMillis": {
          "$ref": "Quantiles"
        },
        "gettingResultTimeMillis": {
          "$ref": "Quantiles"
        }
      },
      "type": "object",
      "id": "TaskQuantileMetrics"
    },
    "ListSessionTemplatesResponse": {
      "properties": {
        "sessionTemplates": {
          "description": "Output only. Session template list",
          "items": {
            "$ref": "SessionTemplate"
          },
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListSessionTemplatesResponse",
      "type": "object",
      "description": "A list of session templates."
    },
    "GceClusterConfig": {
      "id": "GceClusterConfig",
      "description": "Common config settings for resources of Compute Engine cluster instances, applicable to all instances in the cluster.",
      "properties": {
        "autoZoneExcludeZoneUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. An optional list of Compute Engine zones where the cluster will not be located when Auto Zone is enabled. Only one of zone_uri or auto_zone_exclude_zone_uris can be set. If both are omitted, the service will pick a zone in the cluster Compute Engine region. If auto_zone_exclude_zone_uris is set and there is more than one non-excluded zone, the service will pick one of the non-excluded zones. Otherwise, cluster creation will fail with INVALID_ARGUMENT error.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone] projects/[project_id]/zones/[zone] [zone]"
        },
        "internalIpOnly": {
          "description": "Optional. This setting applies to subnetwork-enabled networks. It is set to true by default in clusters created with image versions 2.2.x.When set to true: All cluster VMs have internal IP addresses. Google Private Access (https://cloud.google.com/vpc/docs/private-google-access) must be enabled to access the Dataproc API and other Google Cloud APIs. Off-cluster dependencies must be configured to be accessible without external IP addresses.When set to false: Cluster VMs are not restricted to internal IP addresses. Ephemeral external IP addresses are assigned to each cluster VM.",
          "type": "boolean"
        },
        "zoneUri": {
          "type": "string",
          "description": "Optional. The Compute Engine zone where the cluster will be located. If omitted, the service will pick a zone in the cluster's Compute Engine region. On a get request, zone will always be present.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone] projects/[project_id]/zones/[zone] [zone]"
        },
        "reservationAffinity": {
          "description": "Optional. Reservation Affinity for consuming Zonal reservation.",
          "$ref": "ReservationAffinity"
        },
        "nodeGroupAffinity": {
          "$ref": "NodeGroupAffinity",
          "description": "Optional. Node Group Affinity for sole-tenant clusters."
        },
        "shieldedInstanceConfig": {
          "description": "Optional. Shielded Instance Config for clusters using Compute Engine Shielded VMs (https://cloud.google.com/security/shielded-cloud/shielded-vm).",
          "$ref": "ShieldedInstanceConfig"
        },
        "subnetworkUri": {
          "type": "string",
          "description": "Optional. The Compute Engine subnetwork to be used for machine communications. Cannot be specified with network_uri.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/regions/[region]/subnetworks/sub0 projects/[project_id]/regions/[region]/subnetworks/sub0 sub0"
        },
        "resourceManagerTags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Resource manager tags (https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing) to add to all instances (see Use secure tags (https://cloud.google.com/dataproc/docs/guides/use-secure-tags))."
        },
        "confidentialInstanceConfig": {
          "$ref": "ConfidentialInstanceConfig",
          "description": "Optional. Confidential Instance Config for clusters using Confidential VMs (https://cloud.google.com/confidential-computing/confidential-vm/docs)."
        },
        "networkUri": {
          "description": "Optional. The Compute Engine network to be used for machine communications. Cannot be specified with subnetwork_uri. If neither network_uri nor subnetwork_uri is specified, the \"default\" network of the project is used, if it exists. Cannot be a Custom Subnet Network (see Using Subnetworks (https://cloud.google.com/compute/docs/subnetworks) for more information).A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/global/networks/default projects/[project_id]/global/networks/default default",
          "type": "string"
        },
        "serviceAccountScopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The URIs of service account scopes to be included in Compute Engine instances. The following base set of scopes is always included: https://www.googleapis.com/auth/cloud.useraccounts.readonly https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/logging.writeIf no scopes are specified, the following defaults are also provided: https://www.googleapis.com/auth/bigquery https://www.googleapis.com/auth/bigtable.admin.table https://www.googleapis.com/auth/bigtable.data https://www.googleapis.com/auth/devstorage.full_control"
        },
        "tags": {
          "description": "The Compute Engine network tags to add to all instances (see Tagging instances (https://cloud.google.com/vpc/docs/add-remove-network-tags)).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "privateIpv6GoogleAccess": {
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "INHERIT_FROM_SUBNETWORK",
            "OUTBOUND",
            "BIDIRECTIONAL"
          ],
          "description": "Optional. The type of IPv6 access for a cluster.",
          "enumDescriptions": [
            "If unspecified, Compute Engine default behavior will apply, which is the same as INHERIT_FROM_SUBNETWORK.",
            "Private access to and from Google Services configuration inherited from the subnetwork configuration. This is the default Compute Engine behavior.",
            "Enables outbound private IPv6 access to Google Services from the cluster.",
            "Enables bidirectional private IPv6 access between Google Services and the cluster."
          ],
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. The VM service account (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/service-accounts#service_accounts_in_dataproc) (also see VM Data Plane identity (https://cloud.google.com/dataproc/docs/concepts/iam/dataproc-principals#vm_service_account_data_plane_identity)) used by cluster VM instances to access Google Cloud Platform services.If not specified, the Compute Engine default service account (https://cloud.google.com/compute/docs/access/service-accounts#default_service_account) is used.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Optional. The Compute Engine metadata entries to add to all instances (see Project and instance metadata (https://cloud.google.com/compute/docs/storing-retrieving-metadata#project_and_instance_metadata)).",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "NodeGroup": {
      "id": "NodeGroup",
      "description": "Node Group. The NodeGroup resource is not related to the NodeGroupAffinity resource.",
      "type": "object",
      "properties": {
        "nodeGroupConfig": {
          "description": "Optional. The node group instance group configuration.",
          "$ref": "InstanceGroupConfig"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Node group labels. Label keys must consist of from 1 to 63 characters and conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values can be empty. If specified, they must consist of from 1 to 63 characters and conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). The node group must have no more than 32 labels.",
          "type": "object"
        },
        "name": {
          "description": "The Node group resource name (https://aip.dev/122).",
          "type": "string"
        },
        "roles": {
          "description": "Required. Node group roles.",
          "items": {
            "enum": [
              "ROLE_UNSPECIFIED",
              "DRIVER"
            ],
            "type": "string",
            "enumDescriptions": [
              "Required unspecified role.",
              "Job drivers run on the node pool."
            ]
          },
          "type": "array"
        }
      }
    },
    "RddOperationEdge": {
      "id": "RddOperationEdge",
      "type": "object",
      "description": "A directed edge representing dependency between two RDDs.",
      "properties": {
        "toId": {
          "format": "int32",
          "type": "integer"
        },
        "fromId": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ListClustersResponse": {
      "description": "The list of all clusters in a project.",
      "properties": {
        "nextPageToken": {
          "description": "Output only. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListClustersRequest.",
          "readOnly": true,
          "type": "string"
        },
        "clusters": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The clusters in the project.",
          "items": {
            "$ref": "Cluster"
          }
        }
      },
      "type": "object",
      "id": "ListClustersResponse"
    },
    "RddOperationNode": {
      "description": "A node in the RDD operation graph. Corresponds to a single RDD.",
      "id": "RddOperationNode",
      "type": "object",
      "properties": {
        "nodeId": {
          "type": "integer",
          "format": "int32"
        },
        "outputDeterministicLevel": {
          "enum": [
            "DETERMINISTIC_LEVEL_UNSPECIFIED",
            "DETERMINISTIC_LEVEL_DETERMINATE",
            "DETERMINISTIC_LEVEL_UNORDERED",
            "DETERMINISTIC_LEVEL_INDETERMINATE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "callsite": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "cached": {
          "type": "boolean"
        },
        "barrier": {
          "type": "boolean"
        }
      }
    },
    "SearchSparkApplicationSqlQueriesResponse": {
      "type": "object",
      "id": "SearchSparkApplicationSqlQueriesResponse",
      "description": "List of all queries for a Spark Application.",
      "properties": {
        "sparkApplicationSqlQueries": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. SQL Execution Data",
          "items": {
            "$ref": "SqlExecutionUiData"
          }
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationSqlQueriesRequest.",
          "type": "string"
        }
      }
    },
    "JobScheduling": {
      "type": "object",
      "id": "JobScheduling",
      "properties": {
        "maxFailuresTotal": {
          "description": "Optional. Maximum total number of times a driver can be restarted as a result of the driver exiting with a non-zero code. After the maximum number is reached, the job will be reported as failed.Maximum value is 240.Note: Currently, this restartable job option is not supported in Dataproc workflow templates (https://cloud.google.com/dataproc/docs/concepts/workflows/using-workflows#adding_jobs_to_a_template).",
          "format": "int32",
          "type": "integer"
        },
        "maxFailuresPerHour": {
          "description": "Optional. Maximum number of times per hour a driver can be restarted as a result of driver exiting with non-zero code before job is reported failed.A job might be reported as thrashing if the driver exits with a non-zero code four times within a 10-minute window.Maximum value is 10.Note: This restartable job option is not supported in Dataproc workflow templates (https://cloud.google.com/dataproc/docs/concepts/workflows/using-workflows#adding_jobs_to_a_template).",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Job scheduling options."
    },
    "PoolData": {
      "type": "object",
      "description": "Pool Data",
      "properties": {
        "name": {
          "type": "string"
        },
        "stageIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "PoolData"
    },
    "SparkPlanGraphCluster": {
      "description": "Represents a tree of spark plan.",
      "id": "SparkPlanGraphCluster",
      "type": "object",
      "properties": {
        "desc": {
          "type": "string"
        },
        "metrics": {
          "items": {
            "$ref": "SqlPlanMetric"
          },
          "type": "array"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Additional metadata for the spark plan graph cluster."
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "SparkPlanGraphNodeWrapper"
          }
        },
        "name": {
          "type": "string"
        },
        "sparkPlanGraphClusterId": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "AttachedDiskConfig": {
      "type": "object",
      "id": "AttachedDiskConfig",
      "description": "Specifies the config of attached disk options for single VM instance.",
      "properties": {
        "type": {
          "description": "Optional. Attached disk type. Currently only supports Hyperdisks. See https://cloud.google.com/compute/docs/disks/hyperdisks. Note: Hyperdisk Balanced High Availability is not supported.Allowed values are: hyperdisk-balanced hyperdisk-extreme hyperdisk-ml hyperdisk-throughput",
          "type": "string"
        },
        "provisionedIops": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Indicates how many IOPS to provision for the attached disk. This sets the number of I/O operations per second that the disk can handle. See https://cloud.google.com/compute/docs/disks/hyperdisks#hyperdisk-features"
        },
        "provisionedThroughput": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Indicates how much throughput to provision for the attached disk. This sets the number of throughput mb per second that the disk can handle. See https://cloud.google.com/compute/docs/disks/hyperdisks#hyperdisk-features"
        },
        "diskType": {
          "enumDescriptions": [
            "Disk type is not specified.",
            "Hyperdisk Balanced.",
            "Hyperdisk Extreme.",
            "Hyperdisk ML.",
            "Hyperdisk Throughput."
          ],
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "HYPERDISK_BALANCED",
            "HYPERDISK_EXTREME",
            "HYPERDISK_ML",
            "HYPERDISK_THROUGHPUT"
          ],
          "type": "string",
          "description": "Optional. Deprecated: Use type instead.",
          "deprecated": true
        },
        "diskSizeGb": {
          "format": "int32",
          "description": "Optional. Disk size in GB.",
          "type": "integer"
        }
      }
    },
    "QueryList": {
      "id": "QueryList",
      "description": "A list of queries to run on a cluster.",
      "type": "object",
      "properties": {
        "queries": {
          "type": "array",
          "description": "Required. The queries to execute. You do not need to end a query expression with a semicolon. Multiple queries can be specified in one string by separating each with a semicolon. Here is an example of a Dataproc API snippet that uses a QueryList to specify a HiveJob: \"hiveJob\": { \"queryList\": { \"queries\": [ \"query1\", \"query2\", \"query3;query4\", ] } } ",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AccessSparkApplicationNativeSqlQueryResponse": {
      "id": "AccessSparkApplicationNativeSqlQueryResponse",
      "type": "object",
      "properties": {
        "executionData": {
          "$ref": "NativeSqlExecutionUiData",
          "description": "Native SQL Execution Data"
        }
      },
      "description": "Details of a query for a Spark Application"
    },
    "SparkWrapperObject": {
      "id": "SparkWrapperObject",
      "properties": {
        "applicationInfo": {
          "$ref": "ApplicationInfo"
        },
        "nativeSqlExecutionUiData": {
          "$ref": "NativeSqlExecutionUiData",
          "description": "Native SQL Execution Info"
        },
        "sparkPlanGraph": {
          "$ref": "SparkPlanGraph"
        },
        "eventTimestamp": {
          "type": "string",
          "description": "VM Timestamp associated with the data object.",
          "format": "google-datetime"
        },
        "taskData": {
          "$ref": "TaskData"
        },
        "processSummary": {
          "$ref": "ProcessSummary"
        },
        "nativeBuildInfoUiData": {
          "description": "Native Build Info",
          "$ref": "NativeBuildInfoUiData"
        },
        "appSummary": {
          "$ref": "AppSummary"
        },
        "rddOperationGraph": {
          "$ref": "RddOperationGraph"
        },
        "resourceProfileInfo": {
          "$ref": "ResourceProfileInfo"
        },
        "speculationStageSummary": {
          "$ref": "SpeculationStageSummary"
        },
        "executorSummary": {
          "$ref": "ExecutorSummary"
        },
        "executorStageSummary": {
          "$ref": "ExecutorStageSummary"
        },
        "sqlExecutionUiData": {
          "$ref": "SqlExecutionUiData"
        },
        "streamingQueryProgress": {
          "$ref": "StreamingQueryProgress"
        },
        "applicationId": {
          "type": "string",
          "description": "Application Id created by Spark."
        },
        "rddStorageInfo": {
          "$ref": "RddStorageInfo"
        },
        "streamBlockData": {
          "$ref": "StreamBlockData"
        },
        "streamingQueryData": {
          "$ref": "StreamingQueryData"
        },
        "jobData": {
          "$ref": "JobData"
        },
        "applicationEnvironmentInfo": {
          "$ref": "ApplicationEnvironmentInfo"
        },
        "poolData": {
          "$ref": "PoolData"
        },
        "stageData": {
          "$ref": "StageData"
        },
        "sparkConnectSessionInfo": {
          "description": "Spark Connect Session Info",
          "$ref": "SparkConnectSessionInfo"
        },
        "sparkConnectExecutionInfo": {
          "description": "Spark Connect Execution Info",
          "$ref": "SparkConnectExecutionInfo"
        }
      },
      "type": "object",
      "description": "Outer message that contains the data obtained from spark listener, packaged with information that is required to process it."
    },
    "TaskData": {
      "properties": {
        "resultFetchStart": {
          "type": "string",
          "format": "google-datetime"
        },
        "taskId": {
          "type": "string",
          "format": "int64"
        },
        "launchTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "gettingResultTimeMillis": {
          "format": "int64",
          "type": "string"
        },
        "index": {
          "format": "int32",
          "type": "integer"
        },
        "executorLogs": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "speculative": {
          "type": "boolean"
        },
        "stageAttemptId": {
          "type": "integer",
          "format": "int32"
        },
        "taskMetrics": {
          "$ref": "TaskMetrics"
        },
        "executorId": {
          "type": "string"
        },
        "taskLocality": {
          "type": "string"
        },
        "partitionId": {
          "type": "integer",
          "format": "int32"
        },
        "attempt": {
          "type": "integer",
          "format": "int32"
        },
        "schedulerDelayMillis": {
          "format": "int64",
          "type": "string"
        },
        "errorMessage": {
          "type": "string"
        },
        "hasMetrics": {
          "type": "boolean"
        },
        "stageId": {
          "type": "string",
          "format": "int64"
        },
        "durationMillis": {
          "format": "int64",
          "type": "string"
        },
        "accumulatorUpdates": {
          "items": {
            "$ref": "AccumulableInfo"
          },
          "type": "array"
        },
        "status": {
          "type": "string"
        },
        "host": {
          "type": "string"
        }
      },
      "id": "TaskData",
      "description": "Data corresponding to tasks created by spark.",
      "type": "object"
    },
    "ResizeNodeGroupRequest": {
      "description": "A request to resize a node group.",
      "id": "ResizeNodeGroupRequest",
      "type": "object",
      "properties": {
        "gracefulDecommissionTimeout": {
          "description": "Optional. Timeout for graceful YARN decommissioning. Graceful decommissioning (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/scaling-clusters#graceful_decommissioning) allows the removal of nodes from the Compute Engine node group without interrupting jobs in progress. This timeout specifies how long to wait for jobs in progress to finish before forcefully removing nodes (and potentially interrupting jobs). Default timeout is 0 (for forceful decommission), and the maximum allowed timeout is 1 day. (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).Only supported on Dataproc image versions 1.2 and higher.",
          "format": "google-duration",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the server receives two ResizeNodeGroupRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.ResizeNodeGroupRequests) with the same ID, the second request is ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "parentOperationId": {
          "type": "string",
          "description": "Optional. operation id of the parent operation sending the resize request"
        },
        "size": {
          "description": "Required. The number of running instances for the node group to maintain. The group adds or removes instances to maintain the number of instances specified by this parameter.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SearchSparkApplicationExecutorsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationExecutorsListRequest.",
          "type": "string"
        },
        "sparkApplicationExecutors": {
          "items": {
            "$ref": "ExecutorSummary"
          },
          "description": "Details about executors used by the application.",
          "type": "array"
        }
      },
      "id": "SearchSparkApplicationExecutorsResponse",
      "description": "List of Executors associated with a Spark Application."
    },
    "SqlPlanMetric": {
      "properties": {
        "metricType": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "accumulatorId": {
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Metrics related to SQL execution.",
      "type": "object",
      "id": "SqlPlanMetric"
    },
    "AccessSparkApplicationSqlQueryResponse": {
      "properties": {
        "executionData": {
          "description": "SQL Execution Data",
          "$ref": "SqlExecutionUiData"
        }
      },
      "description": "Details of a query for a Spark Application",
      "id": "AccessSparkApplicationSqlQueryResponse",
      "type": "object"
    },
    "MemoryMetrics": {
      "id": "MemoryMetrics",
      "type": "object",
      "properties": {
        "usedOnHeapStorageMemory": {
          "type": "string",
          "format": "int64"
        },
        "usedOffHeapStorageMemory": {
          "type": "string",
          "format": "int64"
        },
        "totalOnHeapStorageMemory": {
          "type": "string",
          "format": "int64"
        },
        "totalOffHeapStorageMemory": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "UsageMetrics": {
      "id": "UsageMetrics",
      "description": "Usage metrics represent approximate total resources consumed by a workload.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Optional. The timestamp of the usage metrics.",
          "format": "google-datetime",
          "type": "string"
        },
        "shuffleStorageGbSeconds": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Shuffle storage usage in (GB x seconds) (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))."
        },
        "milliAcceleratorSecondsA10040": {
          "type": "string",
          "description": "Optional. A100-40 accelerator usage in (milliAccelerator x seconds) (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing)).",
          "format": "int64"
        },
        "milliAcceleratorSecondsA10080": {
          "type": "string",
          "format": "int64",
          "description": "Optional. A100-80 accelerator usage in (milliAccelerator x seconds) (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))."
        },
        "milliAcceleratorSeconds": {
          "description": "Optional. Accelerator usage in (milliAccelerator x seconds) (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing)). Deprecated: This field is only used in runtime versions below 3.0.",
          "format": "int64",
          "type": "string"
        },
        "acceleratorType": {
          "type": "string",
          "description": "Optional. Accelerator type being used, if any Deprecated: This field is only used in runtime versions below 3.0."
        },
        "milliAcceleratorSecondsL4": {
          "type": "string",
          "format": "int64",
          "description": "Optional. L4 accelerator usage in (milliAccelerator x seconds) (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))."
        },
        "milliDcuSeconds": {
          "format": "int64",
          "description": "Optional. DCU (Dataproc Compute Units) usage in (milliDCU x seconds) (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing)).",
          "type": "string"
        }
      }
    },
    "JobPlacement": {
      "description": "Dataproc job config.",
      "type": "object",
      "properties": {
        "clusterLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Cluster labels to identify a cluster where the job will be submitted."
        },
        "clusterName": {
          "description": "Required. The name of the cluster where the job will be submitted.",
          "type": "string"
        },
        "clusterUuid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A cluster UUID generated by the Dataproc service when the job is submitted."
        }
      },
      "id": "JobPlacement"
    },
    "AccessSessionSparkApplicationStageRddOperationGraphResponse": {
      "properties": {
        "rddOperationGraph": {
          "description": "RDD operation graph for a Spark Application Stage.",
          "$ref": "RddOperationGraph"
        }
      },
      "id": "AccessSessionSparkApplicationStageRddOperationGraphResponse",
      "type": "object",
      "description": "RDD operation graph for a Spark Application Stage limited to maximum 10000 clusters."
    },
    "NodePool": {
      "properties": {
        "id": {
          "description": "Required. A unique id of the node pool. Primary and Secondary workers can be specified using special reserved ids PRIMARY_WORKER_POOL and SECONDARY_WORKER_POOL respectively. Aux node pools can be referenced using corresponding pool id.",
          "type": "string"
        },
        "repairAction": {
          "type": "string",
          "description": "Required. Repair action to take on specified resources of the node pool.",
          "enumDescriptions": [
            "No action will be taken by default.",
            "delete the specified list of nodes."
          ],
          "enum": [
            "REPAIR_ACTION_UNSPECIFIED",
            "DELETE"
          ]
        },
        "instanceNames": {
          "items": {
            "type": "string"
          },
          "description": "Name of instances to be repaired. These instances must belong to specified node pool.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "indicating a list of workers of same type",
      "id": "NodePool"
    },
    "WriteSessionSparkApplicationContextRequest": {
      "type": "object",
      "id": "WriteSessionSparkApplicationContextRequest",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. Parent (Batch) resource reference."
        },
        "sparkWrapperObjects": {
          "items": {
            "$ref": "SparkWrapperObject"
          },
          "description": "Required. The batch of spark application context objects sent for ingestion.",
          "type": "array"
        }
      },
      "description": "Write Spark Application data to internal storage systems"
    },
    "SpeculationStageSummary": {
      "properties": {
        "numCompletedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numActiveTasks": {
          "format": "int32",
          "type": "integer"
        },
        "stageId": {
          "format": "int64",
          "type": "string"
        },
        "stageAttemptId": {
          "type": "integer",
          "format": "int32"
        },
        "numTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numFailedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numKilledTasks": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Details of the speculation task when speculative execution is enabled.",
      "id": "SpeculationStageSummary"
    },
    "JobMetadata": {
      "description": "Job Operation metadata.",
      "type": "object",
      "properties": {
        "jobId": {
          "type": "string",
          "description": "Output only. The job id.",
          "readOnly": true
        },
        "status": {
          "description": "Output only. Most recent job status.",
          "$ref": "JobStatus",
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Job submission time.",
          "type": "string"
        },
        "operationType": {
          "description": "Output only. Operation type.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "JobMetadata"
    },
    "AccessSessionSparkApplicationNativeBuildInfoResponse": {
      "properties": {
        "executionData": {
          "$ref": "NativeBuildInfoUiData",
          "description": "Native SQL Execution Data"
        }
      },
      "id": "AccessSessionSparkApplicationNativeBuildInfoResponse",
      "description": "Details of a native build info for a Spark Application",
      "type": "object"
    },
    "WorkflowMetadata": {
      "id": "WorkflowMetadata",
      "description": "A Dataproc workflow template resource.",
      "type": "object",
      "properties": {
        "template": {
          "type": "string",
          "description": "Output only. The resource name of the workflow template as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
          "readOnly": true
        },
        "version": {
          "description": "Output only. The version of template at the time of workflow instantiation.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "dagEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. DAG end time, only set for workflows with dag_timeout when DAG ends.",
          "readOnly": true
        },
        "clusterUuid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The UUID of target cluster."
        },
        "dagStartTime": {
          "description": "Output only. DAG start time, only set for workflows with dag_timeout when DAG begins.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. Workflow start time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "createCluster": {
          "$ref": "ClusterOperation",
          "description": "Output only. The create cluster operation metadata.",
          "readOnly": true
        },
        "deleteCluster": {
          "$ref": "ClusterOperation",
          "description": "Output only. The delete cluster operation metadata.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unused.",
            "The operation has been created.",
            "The operation is running.",
            "The operation is done; either cancelled or completed."
          ],
          "enum": [
            "UNKNOWN",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "type": "string",
          "description": "Output only. The workflow state."
        },
        "dagTimeout": {
          "readOnly": true,
          "format": "google-duration",
          "description": "Output only. The timeout duration for the DAG of jobs, expressed in seconds (see JSON representation of duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. Workflow end time.",
          "type": "string",
          "format": "google-datetime"
        },
        "clusterName": {
          "description": "Output only. The name of the target cluster.",
          "readOnly": true,
          "type": "string"
        },
        "graph": {
          "readOnly": true,
          "$ref": "WorkflowGraph",
          "description": "Output only. The workflow graph."
        },
        "parameters": {
          "type": "object",
          "description": "Map from parameter names to values that were used for those parameters.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "RepairNodeGroupRequest": {
      "id": "RepairNodeGroupRequest",
      "properties": {
        "instanceNames": {
          "description": "Required. Name of instances to be repaired. These instances must belong to specified node pool.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "repairAction": {
          "enum": [
            "REPAIR_ACTION_UNSPECIFIED",
            "REPLACE"
          ],
          "description": "Required. Repair action to take on specified resources of the node pool.",
          "enumDescriptions": [
            "No action will be taken by default.",
            "replace the specified list of nodes."
          ],
          "type": "string"
        },
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the server receives two RepairNodeGroupRequest with the same ID, the second request is ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BasicAutoscalingAlgorithm": {
      "properties": {
        "cooldownPeriod": {
          "format": "google-duration",
          "description": "Optional. Duration between scaling events. A scaling period starts after the update operation from the previous event has completed.Bounds: 2m, 1d. Default: 2m.",
          "type": "string"
        },
        "yarnConfig": {
          "$ref": "BasicYarnAutoscalingConfig",
          "description": "Optional. YARN autoscaling configuration."
        },
        "sparkStandaloneConfig": {
          "description": "Optional. Spark Standalone autoscaling configuration",
          "$ref": "SparkStandaloneAutoscalingConfig"
        }
      },
      "description": "Basic algorithm for autoscaling.",
      "id": "BasicAutoscalingAlgorithm",
      "type": "object"
    },
    "ResourceInformation": {
      "id": "ResourceInformation",
      "type": "object",
      "properties": {
        "addresses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "SparkHistoryServerConfig": {
      "properties": {
        "dataprocCluster": {
          "description": "Optional. Resource name of an existing Dataproc Cluster to act as a Spark History Server for the workload.Example: projects/[project_id]/regions/[region]/clusters/[cluster_name]",
          "type": "string"
        }
      },
      "id": "SparkHistoryServerConfig",
      "type": "object",
      "description": "Spark History Server configuration for the workload."
    },
    "DiagnoseClusterRequest": {
      "id": "DiagnoseClusterRequest",
      "description": "A request to collect cluster diagnostic information.",
      "type": "object",
      "properties": {
        "jobs": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Specifies a list of jobs on which diagnosis is to be performed. Format: projects/{project}/regions/{region}/jobs/{job}"
        },
        "job": {
          "type": "string",
          "description": "Optional. DEPRECATED Specifies the job on which diagnosis is to be performed. Format: projects/{project}/regions/{region}/jobs/{job}",
          "deprecated": true
        },
        "yarnApplicationIds": {
          "type": "array",
          "description": "Optional. Specifies a list of yarn applications on which diagnosis is to be performed.",
          "items": {
            "type": "string"
          }
        },
        "yarnApplicationId": {
          "deprecated": true,
          "description": "Optional. DEPRECATED Specifies the yarn application on which diagnosis is to be performed.",
          "type": "string"
        },
        "tarballGcsDir": {
          "description": "Optional. (Optional) The output Cloud Storage directory for the diagnostic tarball. If not specified, a task-specific directory in the cluster's staging bucket will be used.",
          "type": "string"
        },
        "diagnosisInterval": {
          "description": "Optional. Time interval in which diagnosis should be carried out on the cluster.",
          "$ref": "Interval"
        },
        "tarballAccess": {
          "enumDescriptions": [
            "Tarball Access unspecified. Falls back to default access of the bucket",
            "Google Cloud Support group has read access to the diagnostic tarball",
            "The diagnose service account has read access to the diagnostic tarball"
          ],
          "type": "string",
          "enum": [
            "TARBALL_ACCESS_UNSPECIFIED",
            "GOOGLE_CLOUD_SUPPORT",
            "GOOGLE_DATAPROC_DIAGNOSE"
          ],
          "description": "Optional. (Optional) The access type to the diagnostic tarball. If not specified, falls back to default access of the bucket"
        }
      }
    },
    "InstanceGroupConfig": {
      "type": "object",
      "id": "InstanceGroupConfig",
      "description": "The config settings for Compute Engine resources in an instance group, such as a master or worker group.",
      "properties": {
        "instanceReferences": {
          "type": "array",
          "items": {
            "$ref": "InstanceReference"
          },
          "readOnly": true,
          "description": "Output only. List of references to Compute Engine instances."
        },
        "preemptibility": {
          "type": "string",
          "enumDescriptions": [
            "Preemptibility is unspecified, the system will choose the appropriate setting for each instance group.",
            "Instances are non-preemptible.This option is allowed for all instance groups and is the only valid value for Master and Worker instance groups.",
            "Instances are preemptible (https://cloud.google.com/compute/docs/instances/preemptible).This option is allowed only for secondary worker (https://cloud.google.com/dataproc/docs/concepts/compute/secondary-vms) groups.",
            "Instances are Spot VMs (https://cloud.google.com/compute/docs/instances/spot).This option is allowed only for secondary worker (https://cloud.google.com/dataproc/docs/concepts/compute/secondary-vms) groups. Spot VMs are the latest version of preemptible VMs (https://cloud.google.com/compute/docs/instances/preemptible), and provide additional features."
          ],
          "enum": [
            "PREEMPTIBILITY_UNSPECIFIED",
            "NON_PREEMPTIBLE",
            "PREEMPTIBLE",
            "SPOT"
          ],
          "description": "Optional. Specifies the preemptibility of the instance group.The default value for master and worker groups is NON_PREEMPTIBLE. This default cannot be changed.The default value for secondary instances is PREEMPTIBLE."
        },
        "minNumInstances": {
          "description": "Optional. The minimum number of primary worker instances to create. If min_num_instances is set, cluster creation will succeed if the number of primary workers created is at least equal to the min_num_instances number.Example: Cluster creation request with num_instances = 5 and min_num_instances = 3: If 4 VMs are created and 1 instance fails, the failed VM is deleted. The cluster is resized to 4 instances and placed in a RUNNING state. If 2 instances are created and 3 instances fail, the cluster in placed in an ERROR state. The failed VMs are not deleted.",
          "type": "integer",
          "format": "int32"
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Optional. Specifies the minimum cpu platform for the Instance Group. See Minimum CPU Platform (https://cloud.google.com/dataproc/docs/concepts/compute/dataproc-min-cpu)."
        },
        "machineTypeUri": {
          "description": "Optional. The Compute Engine machine type used for cluster instances.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone]/machineTypes/n1-standard-2 projects/[project_id]/zones/[zone]/machineTypes/n1-standard-2 n1-standard-2Auto Zone Exception: If you are using Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement), you must use the short name of the machine type resource, for example, n1-standard-2.",
          "type": "string"
        },
        "numInstances": {
          "description": "Optional. The number of VM instances in the instance group. For HA cluster master_config groups, must be set to 3. For standard cluster master_config groups, must be set to 1.",
          "type": "integer",
          "format": "int32"
        },
        "managedGroupConfig": {
          "$ref": "ManagedGroupConfig",
          "description": "Output only. The config for Compute Engine Instance Group Manager that manages this group. This is only used for preemptible instance groups.",
          "readOnly": true
        },
        "instanceFlexibilityPolicy": {
          "description": "Optional. Instance flexibility Policy allowing a mixture of VM shapes and provisioning models.",
          "$ref": "InstanceFlexibilityPolicy"
        },
        "imageUri": {
          "type": "string",
          "description": "Optional. The Compute Engine image resource used for cluster instances.The URI can represent an image or image family.Image examples: https://www.googleapis.com/compute/v1/projects/[project_id]/global/images/[image-id] projects/[project_id]/global/images/[image-id] image-idImage family examples. The service will use the most recent image from the family: https://www.googleapis.com/compute/v1/projects/[project_id]/global/images/family/[custom-image-family-name] projects/[project_id]/global/images/family/[custom-image-family-name]If the URI is unspecified, it will be inferred from SoftwareConfig.image_version or the system default."
        },
        "instanceNames": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of instance names, derived from cluster_name, num_instances, and the instance group.",
          "type": "array"
        },
        "diskConfig": {
          "description": "Optional. Disk option config settings.",
          "$ref": "DiskConfig"
        },
        "isPreemptible": {
          "description": "Output only. Specifies that this instance group contains preemptible instances.",
          "type": "boolean",
          "readOnly": true
        },
        "startupConfig": {
          "description": "Optional. Configuration to handle the startup of instances during cluster create and update process.",
          "$ref": "StartupConfig"
        },
        "accelerators": {
          "type": "array",
          "description": "Optional. The Compute Engine accelerator configuration for these instances.",
          "items": {
            "$ref": "AcceleratorConfig"
          }
        }
      }
    },
    "SparkConnectConfig": {
      "properties": {},
      "id": "SparkConnectConfig",
      "description": "Spark connect configuration for an interactive session.",
      "type": "object"
    },
    "PropertiesInfo": {
      "type": "object",
      "description": "Properties of the workload organized by origin.",
      "properties": {
        "autotuningProperties": {
          "description": "Output only. Properties set by autotuning engine.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ValueInfo"
          },
          "readOnly": true
        }
      },
      "id": "PropertiesInfo"
    },
    "CohortInfo": {
      "properties": {
        "cohortSource": {
          "enumDescriptions": [
            "Cohort source is unspecified.",
            "Indicates that the cohort was explicitly provided.",
            "Composed from the labels coming from Airflow/Composer."
          ],
          "enum": [
            "COHORT_SOURCE_UNSPECIFIED",
            "USER_PROVIDED",
            "AIRFLOW"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Source of the cohort."
        },
        "cohort": {
          "type": "string",
          "description": "Output only. Final cohort that was used to tune the workload.",
          "readOnly": true
        }
      },
      "id": "CohortInfo",
      "type": "object",
      "description": "Information about the cohort that the workload belongs to."
    },
    "DiagnoseClusterResults": {
      "type": "object",
      "description": "The location of diagnostic output.",
      "id": "DiagnoseClusterResults",
      "properties": {
        "outputUri": {
          "type": "string",
          "description": "Output only. The Cloud Storage URI of the diagnostic output. The output report is a plain text file with a summary of collected diagnostics.",
          "readOnly": true
        }
      }
    },
    "GetPolicyOptions": {
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset.The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "ClusterOperationStatus": {
      "id": "ClusterOperationStatus",
      "description": "The status of the operation.",
      "type": "object",
      "properties": {
        "stateStartTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time this state was entered.",
          "format": "google-datetime"
        },
        "details": {
          "description": "Output only. A message containing any operation metadata details.",
          "type": "string",
          "readOnly": true
        },
        "innerState": {
          "type": "string",
          "description": "Output only. A message containing the detailed operation state.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A message containing the operation state.",
          "enumDescriptions": [
            "Unused.",
            "The operation has been created.",
            "The operation is running.",
            "The operation is done; either cancelled or completed."
          ],
          "enum": [
            "UNKNOWN",
            "PENDING",
            "RUNNING",
            "DONE"
          ]
        }
      }
    },
    "SearchSessionSparkApplicationExecutorsResponse": {
      "type": "object",
      "description": "List of Executors associated with a Spark Application.",
      "id": "SearchSessionSparkApplicationExecutorsResponse",
      "properties": {
        "sparkApplicationExecutors": {
          "items": {
            "$ref": "ExecutorSummary"
          },
          "description": "Details about executors used by the application.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationExecutorsRequest.",
          "type": "string"
        }
      }
    },
    "ShuffleWriteMetrics": {
      "id": "ShuffleWriteMetrics",
      "description": "Shuffle data written by task.",
      "type": "object",
      "properties": {
        "bytesWritten": {
          "type": "string",
          "format": "int64"
        },
        "recordsWritten": {
          "format": "int64",
          "type": "string"
        },
        "writeTimeNanos": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "OrderedJob": {
      "properties": {
        "sparkSqlJob": {
          "description": "Optional. Job is a SparkSql job.",
          "$ref": "SparkSqlJob"
        },
        "sparkJob": {
          "$ref": "SparkJob",
          "description": "Optional. Job is a Spark job."
        },
        "pigJob": {
          "description": "Optional. Job is a Pig job.",
          "$ref": "PigJob"
        },
        "trinoJob": {
          "description": "Optional. Job is a Trino job.",
          "$ref": "TrinoJob"
        },
        "flinkJob": {
          "$ref": "FlinkJob",
          "description": "Optional. Job is a Flink job."
        },
        "hadoopJob": {
          "description": "Optional. Job is a Hadoop job.",
          "$ref": "HadoopJob"
        },
        "hiveJob": {
          "description": "Optional. Job is a Hive job.",
          "$ref": "HiveJob"
        },
        "stepId": {
          "type": "string",
          "description": "Required. The step id. The id must be unique among all jobs within the template.The step id is used as prefix for job id, as job goog-dataproc-workflow-step-id label, and in prerequisiteStepIds field from other steps.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of between 3 and 50 characters."
        },
        "sparkRJob": {
          "description": "Optional. Job is a SparkR job.",
          "$ref": "SparkRJob"
        },
        "scheduling": {
          "description": "Optional. Job scheduling configuration.",
          "$ref": "JobScheduling"
        },
        "pysparkJob": {
          "$ref": "PySparkJob",
          "description": "Optional. Job is a PySpark job."
        },
        "prerequisiteStepIds": {
          "description": "Optional. The optional list of prerequisite job step_ids. If not specified, the job will start at the beginning of workflow.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "prestoJob": {
          "description": "Optional. Job is a Presto job.",
          "$ref": "PrestoJob"
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels to associate with this job.Label keys must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given job.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "A job executed by the workflow.",
      "id": "OrderedJob",
      "type": "object"
    },
    "KubernetesClusterConfig": {
      "id": "KubernetesClusterConfig",
      "properties": {
        "kubernetesNamespace": {
          "description": "Optional. A namespace within the Kubernetes cluster to deploy into. If this namespace does not exist, it is created. If it exists, Dataproc verifies that another Dataproc VirtualCluster is not installed into it. If not specified, the name of the Dataproc Cluster is used.",
          "type": "string"
        },
        "gkeClusterConfig": {
          "$ref": "GkeClusterConfig",
          "description": "Required. The configuration for running the Dataproc cluster on GKE."
        },
        "kubernetesSoftwareConfig": {
          "$ref": "KubernetesSoftwareConfig",
          "description": "Optional. The software configuration for this Dataproc cluster running on Kubernetes."
        }
      },
      "type": "object",
      "description": "The configuration for running the Dataproc cluster on Kubernetes."
    },
    "PigJob": {
      "properties": {
        "scriptVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of query variable names to values (equivalent to the Pig command: name=[value])."
        },
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains the Pig queries.",
          "type": "string"
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Pig Client and Hadoop MapReduce (MR) tasks. Can contain Pig UDFs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "continueOnFailure": {
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.",
          "type": "boolean"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure Pig. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/pig/conf/pig.properties, and classes in user code."
        }
      },
      "id": "PigJob",
      "type": "object",
      "description": "A Dataproc job for running Apache Pig (https://pig.apache.org/) queries on YARN."
    },
    "AuthenticationConfig": {
      "type": "object",
      "description": "Authentication configuration for a workload is used to set the default identity for the workload execution. The config specifies the type of identity (service account or user) that will be used by workloads to access resources on the project(s).",
      "id": "AuthenticationConfig",
      "properties": {
        "userWorkloadAuthenticationType": {
          "enum": [
            "AUTHENTICATION_TYPE_UNSPECIFIED",
            "SERVICE_ACCOUNT",
            "END_USER_CREDENTIALS"
          ],
          "description": "Optional. Authentication type for the user workload running in containers.",
          "enumDescriptions": [
            "If AuthenticationType is unspecified then END_USER_CREDENTIALS is used for 3.0 and newer runtimes, and SERVICE_ACCOUNT is used for older runtimes.",
            "Use service account credentials for authenticating to other services.",
            "Use OAuth credentials associated with the workload creator/user for authenticating to other services."
          ],
          "type": "string"
        }
      }
    },
    "SearchSessionSparkApplicationSqlQueriesResponse": {
      "description": "List of all queries for a Spark Application.",
      "type": "object",
      "properties": {
        "sparkApplicationSqlQueries": {
          "items": {
            "$ref": "SqlExecutionUiData"
          },
          "readOnly": true,
          "description": "Output only. SQL Execution Data",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationSqlQueriesRequest."
        }
      },
      "id": "SearchSessionSparkApplicationSqlQueriesResponse"
    },
    "SummarizeSessionSparkApplicationStagesResponse": {
      "properties": {
        "stagesSummary": {
          "description": "Summary of a Spark Application Stages",
          "$ref": "StagesSummary"
        }
      },
      "description": "Summary of a Spark Application stages.",
      "type": "object",
      "id": "SummarizeSessionSparkApplicationStagesResponse"
    },
    "SparkConnectSessionInfo": {
      "properties": {
        "sessionId": {
          "description": "Required. Session ID of the session.",
          "type": "string"
        },
        "userId": {
          "description": "User ID of the user who started the session.",
          "type": "string"
        },
        "startTimestamp": {
          "type": "string",
          "description": "Timestamp when the session started.",
          "format": "int64"
        },
        "totalExecution": {
          "description": "Optional. Total number of executions in the session.",
          "type": "string",
          "format": "int64"
        },
        "finishTimestamp": {
          "format": "int64",
          "description": "Timestamp when the session finished.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SparkConnectSessionInfo",
      "description": "Represents session-level information for Spark Connect"
    },
    "ShufflePushReadQuantileMetrics": {
      "properties": {
        "remoteMergedReqsDuration": {
          "$ref": "Quantiles"
        },
        "remoteMergedBlocksFetched": {
          "$ref": "Quantiles"
        },
        "remoteMergedBytesRead": {
          "$ref": "Quantiles"
        },
        "remoteMergedChunksFetched": {
          "$ref": "Quantiles"
        },
        "corruptMergedBlockChunks": {
          "$ref": "Quantiles"
        },
        "localMergedChunksFetched": {
          "$ref": "Quantiles"
        },
        "localMergedBytesRead": {
          "$ref": "Quantiles"
        },
        "localMergedBlocksFetched": {
          "$ref": "Quantiles"
        },
        "mergedFetchFallbackCount": {
          "$ref": "Quantiles"
        }
      },
      "type": "object",
      "id": "ShufflePushReadQuantileMetrics"
    },
    "PySparkNotebookBatch": {
      "properties": {
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to be added to the Spark CLASSPATH."
        },
        "fileUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor",
          "items": {
            "type": "string"
          }
        },
        "archiveUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "items": {
            "type": "string"
          }
        },
        "params": {
          "description": "Optional. The parameters to pass to the notebook.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pythonFileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of Python files to pass to the PySpark framework.",
          "type": "array"
        },
        "notebookFileUri": {
          "type": "string",
          "description": "Required. The HCFS URI of the notebook file to execute."
        }
      },
      "description": "A configuration for running a PySpark Notebook batch workload.",
      "type": "object",
      "id": "PySparkNotebookBatch"
    },
    "EncryptionConfig": {
      "description": "Encryption settings for the cluster.",
      "id": "EncryptionConfig",
      "type": "object",
      "properties": {
        "gcePdKmsKeyName": {
          "type": "string",
          "description": "Optional. The Cloud KMS key resource name to use for persistent disk encryption for all instances in the cluster. See Use CMEK with cluster data (https://cloud.google.com//dataproc/docs/concepts/configuring-clusters/customer-managed-encryption#use_cmek_with_cluster_data) for more information."
        },
        "kmsKey": {
          "description": "Optional. The Cloud KMS key resource name to use for cluster persistent disk and job argument encryption. See Use CMEK with cluster data (https://cloud.google.com//dataproc/docs/concepts/configuring-clusters/customer-managed-encryption#use_cmek_with_cluster_data) for more information.When this key resource name is provided, the following job arguments of the following job types submitted to the cluster are encrypted using CMEK: FlinkJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/FlinkJob) HadoopJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/HadoopJob) SparkJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/SparkJob) SparkRJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/SparkRJob) PySparkJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/PySparkJob) SparkSqlJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/SparkSqlJob) scriptVariables and queryList.queries HiveJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/HiveJob) scriptVariables and queryList.queries PigJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/PigJob) scriptVariables and queryList.queries PrestoJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/PrestoJob) scriptVariables and queryList.queries",
          "type": "string"
        }
      }
    },
    "InstanceFlexibilityPolicy": {
      "description": "Instance flexibility Policy allowing a mixture of VM shapes and provisioning models.",
      "id": "InstanceFlexibilityPolicy",
      "type": "object",
      "properties": {
        "instanceSelectionList": {
          "description": "Optional. List of instance selection options that the group will use when creating new VMs.",
          "items": {
            "$ref": "InstanceSelection"
          },
          "type": "array"
        },
        "provisioningModelMix": {
          "description": "Optional. Defines how the Group selects the provisioning model to ensure required reliability.",
          "$ref": "ProvisioningModelMix"
        },
        "instanceMachineTypes": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. A map of instance short name to machine type. The key is the short name of the Compute Engine instance, and the value is the full machine-type name (e.g., 'n1-standard-16'). See Machine types for more information on valid machine type strings."
        },
        "instanceSelectionResults": {
          "description": "Output only. A list of instance selection results in the group.",
          "items": {
            "$ref": "InstanceSelectionResult"
          },
          "type": "array",
          "readOnly": true
        }
      }
    },
    "AnalyzeBatchRequest": {
      "id": "AnalyzeBatchRequest",
      "type": "object",
      "description": "A request to analyze a batch workload.",
      "properties": {
        "requestorId": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. The requestor ID is used to identify if the request comes from a GCA investigation or the old Ask Gemini Experience. "
        },
        "requestId": {
          "type": "string",
[...]
