{
  "baseUrl": "https://dataflow.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    }
  },
  "version": "v1b3",
  "rootUrl": "https://dataflow.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Dataflow",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "id": "dataflow:v1b3",
  "name": "dataflow",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "configStoreSettings": {
              "methods": {
                "resolve": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the setting to resolve.",
                      "pattern": "^folders/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Resolves effective value of a ConfigStoreSetting.",
                  "httpMethod": "POST",
                  "path": "v1b3/{+name}:resolve",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dataflow.folders.locations.configStoreSettings.resolve",
                  "request": {
                    "$ref": "ResolveConfigStoreSettingRequest"
                  },
                  "flatPath": "v1b3/folders/{foldersId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}:resolve",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "response": {
                    "$ref": "ResolveConfigStoreSettingResponse"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dataflow.folders.locations.configStoreSettings.delete",
                  "httpMethod": "DELETE",
                  "path": "v1b3/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^folders/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "description": "Required. The name of the ConfigStoreSetting to delete.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1b3/folders/{foldersId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Deletes an existing ConfigStoreSetting.",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "id": "dataflow.folders.locations.configStoreSettings.get",
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the ConfigStoreSetting to retrieve.",
                      "type": "string"
                    }
                  },
                  "description": "Gets a ConfigStoreSetting.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1b3/{+name}",
                  "flatPath": "v1b3/folders/{foldersId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                },
                "create": {
                  "description": "Creates a new ConfigStoreSetting.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1b3/folders/{foldersId}/locations/{locationsId}/configStoreSettings",
                  "id": "dataflow.folders.locations.configStoreSettings.create",
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "request": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "configStoreSettingId": {
                      "description": "Required. The ID to use for the setting.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource where this setting will be created."
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "httpMethod": "GET",
                  "description": "Lists ConfigStoreSettings.",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListConfigStoreSettings` call.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of settings to return.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource whose settings are being listed.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ListConfigStoreSettingsResponse"
                  },
                  "id": "dataflow.folders.locations.configStoreSettings.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1b3/folders/{foldersId}/locations/{locationsId}/configStoreSettings"
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "deleteSnapshots": {
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the Cloud Platform project that the snapshot belongs to."
            },
            "location": {
              "description": "The location that contains this snapshot.",
              "location": "query",
              "type": "string"
            },
            "snapshotId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the snapshot."
            }
          },
          "description": "Deletes a snapshot.",
          "path": "v1b3/projects/{projectId}/snapshots",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "projectId"
          ],
          "flatPath": "v1b3/projects/{projectId}/snapshots",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "id": "dataflow.projects.deleteSnapshots",
          "response": {
            "$ref": "DeleteSnapshotResponse"
          }
        },
        "workerMessages": {
          "flatPath": "v1b3/projects/{projectId}/WorkerMessages",
          "id": "dataflow.projects.workerMessages",
          "path": "v1b3/projects/{projectId}/WorkerMessages",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The project to send the WorkerMessages to."
            }
          },
          "response": {
            "$ref": "SendWorkerMessagesResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "SendWorkerMessagesRequest"
          },
          "description": "Send a worker_message to the service."
        }
      },
      "resources": {
        "snapshots": {
          "methods": {
            "get": {
              "path": "v1b3/projects/{projectId}/snapshots/{snapshotId}",
              "flatPath": "v1b3/projects/{projectId}/snapshots/{snapshotId}",
              "description": "Gets information about a snapshot.",
              "parameters": {
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The location that contains this snapshot."
                },
                "snapshotId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the snapshot."
                },
                "projectId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the Cloud Platform project that the snapshot belongs to."
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "response": {
                "$ref": "Snapshot"
              },
              "parameterOrder": [
                "projectId",
                "snapshotId"
              ],
              "id": "dataflow.projects.snapshots.get"
            },
            "list": {
              "parameterOrder": [
                "projectId"
              ],
              "id": "dataflow.projects.snapshots.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "response": {
                "$ref": "ListSnapshotsResponse"
              },
              "description": "Lists snapshots.",
              "parameters": {
                "location": {
                  "location": "query",
                  "description": "The location to list snapshots in.",
                  "type": "string"
                },
                "projectId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The project ID to list snapshots for."
                },
                "jobId": {
                  "type": "string",
                  "location": "query",
                  "description": "If specified, list snapshots created from this job."
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1b3/projects/{projectId}/snapshots",
              "path": "v1b3/projects/{projectId}/snapshots"
            }
          }
        },
        "jobs": {
          "resources": {
            "workItems": {
              "methods": {
                "reportStatus": {
                  "request": {
                    "$ref": "ReportWorkItemStatusRequest"
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Reports the status of dataflow WorkItems leased by a worker.",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "id": "dataflow.projects.jobs.workItems.reportStatus",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "parameters": {
                    "jobId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The job which the WorkItem is part of."
                    },
                    "projectId": {
                      "required": true,
                      "description": "The project which owns the WorkItem's job.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ReportWorkItemStatusResponse"
                  }
                },
                "lease": {
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "Identifies the project this worker belongs to.",
                      "location": "path"
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "description": "Identifies the workflow job this worker belongs to.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "LeaseWorkItemResponse"
                  },
                  "id": "dataflow.projects.jobs.workItems.lease",
                  "httpMethod": "POST",
                  "description": "Leases a dataflow WorkItem to run.",
                  "request": {
                    "$ref": "LeaseWorkItemRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease"
                }
              }
            },
            "messages": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.messages.list` permission on the job.",
                  "httpMethod": "GET",
                  "id": "dataflow.projects.jobs.messages.list",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "parameters": {
                    "location": {
                      "location": "query",
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                    },
                    "startTime": {
                      "type": "string",
                      "description": "If specified, return only messages with timestamps >= start_time. The default is the job creation time (i.e. beginning of messages).",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                      "type": "integer",
                      "location": "query"
                    },
                    "minimumImportance": {
                      "type": "string",
                      "description": "Filter to only get messages with importance >= level",
                      "enumDescriptions": [
                        "The message importance isn't specified, or is unknown.",
                        "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                        "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                      ],
                      "enum": [
                        "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                        "JOB_MESSAGE_DEBUG",
                        "JOB_MESSAGE_DETAILED",
                        "JOB_MESSAGE_BASIC",
                        "JOB_MESSAGE_WARNING",
                        "JOB_MESSAGE_ERROR"
                      ],
                      "location": "query"
                    },
                    "jobId": {
                      "location": "path",
                      "type": "string",
                      "description": "The job to get messages about.",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned."
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "A project id."
                    },
                    "endTime": {
                      "type": "string",
                      "description": "Return only messages with timestamps < end_time. The default is now (i.e. return up to the latest messages available).",
                      "format": "google-datetime",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListJobMessagesResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ]
                }
              }
            },
            "debug": {
              "methods": {
                "getConfig": {
                  "request": {
                    "$ref": "GetDebugConfigRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "response": {
                    "$ref": "GetDebugConfigResponse"
                  },
                  "id": "dataflow.projects.jobs.debug.getConfig",
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The project id."
                    },
                    "jobId": {
                      "required": true,
                      "description": "The job id.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "description": "Get encoded debug configuration for component. Not cacheable.",
                  "httpMethod": "POST"
                },
                "sendCapture": {
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "description": "Send encoded debug capture data for component.",
                  "id": "dataflow.projects.jobs.debug.sendCapture",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "parameters": {
                    "jobId": {
                      "description": "The job id.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "The project id.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "SendDebugCaptureResponse"
                  },
                  "request": {
                    "$ref": "SendDebugCaptureRequest"
                  }
                }
              }
            }
          },
          "methods": {
            "snapshot": {
              "description": "Snapshot the state of a streaming job. # IAM Permissions Requires the `dataflow.jobs.snapshot` permission on the job.",
              "request": {
                "$ref": "SnapshotJobRequest"
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "description": "The project which owns the job to be snapshotted.",
                  "required": true
                },
                "jobId": {
                  "description": "The job to be snapshotted.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Snapshot"
              },
              "id": "dataflow.projects.jobs.snapshot"
            },
            "list": {
              "httpMethod": "GET",
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list."
                },
                "filter": {
                  "location": "query",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "type": "string",
                  "description": "The kind of filter to use.",
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ]
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "location": "path",
                  "description": "The project which owns the jobs.",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "view": {
                  "location": "query",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                  "type": "string",
                  "deprecated": true,
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ]
                },
                "regionalFanoutRequested": {
                  "location": "query",
                  "description": "Optional.",
                  "type": "boolean"
                },
                "name": {
                  "location": "query",
                  "description": "Optional. The job name.",
                  "type": "string"
                }
              },
              "id": "dataflow.projects.jobs.list",
              "response": {
                "$ref": "ListJobsResponse"
              },
              "path": "v1b3/projects/{projectId}/jobs",
              "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, because you can only get the list of jobs that are running in `us-central1`. `projects.locations.jobs.list` and `projects.jobs.list` support filtering the list of jobs by name. Filtering by name isn't supported by `projects.jobs.aggregated`. # IAM Permissions Requires the `dataflow.jobs.list` permission on the project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ]
            },
            "getMetrics": {
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "id": "dataflow.projects.jobs.getMetrics",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job.",
              "response": {
                "$ref": "JobMetrics"
              },
              "parameters": {
                "jobId": {
                  "description": "The job to get metrics for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                },
                "projectId": {
                  "description": "A project id.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "startTime": {
                  "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                  "location": "query",
                  "type": "string",
                  "format": "google-datetime"
                }
              },
              "path": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ]
            },
            "create": {
              "id": "dataflow.projects.jobs.create",
              "response": {
                "$ref": "Job"
              },
              "request": {
                "$ref": "Job"
              },
              "path": "v1b3/projects/{projectId}/jobs",
              "description": "Creates a Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API. # IAM Permissions 1. Requires the `dataflow.jobs.create` permission on the project. 2. `resourcemanager.projects.get` (Specifically required for regional endpoints to resolve regional resource metadata)",
              "httpMethod": "POST",
              "parameterOrder": [
                "projectId"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "parameters": {
                "projectId": {
                  "type": "string",
                  "required": true,
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path"
                },
                "location": {
                  "location": "query",
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                },
                "replaceJobId": {
                  "location": "query",
                  "description": "Deprecated. This field is now in the Job message.",
                  "type": "string"
                },
                "view": {
                  "location": "query",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "description": "The level of information requested in response.",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ]
            },
            "get": {
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.jobs.get` permission on the job.",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameters": {
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "required": true
                },
                "view": {
                  "type": "string",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "description": "The level of information requested in response.",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query"
                },
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query"
                },
                "jobId": {
                  "description": "The job ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "id": "dataflow.projects.jobs.get",
              "response": {
                "$ref": "Job"
              }
            },
            "update": {
              "response": {
                "$ref": "Job"
              },
              "request": {
                "$ref": "Job"
              },
              "httpMethod": "PUT",
              "parameters": {
                "jobId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The job ID."
                },
                "updateMask": {
                  "type": "string",
                  "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask.",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "projectId": {
                  "location": "path",
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "type": "string",
                  "required": true
                },
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "id": "dataflow.projects.jobs.update",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`. # IAM Permissions 1. Requires the `dataflow.jobs.cancel` permission to cancel a job. 2. Requires the `dataflow.jobs.updateContents` permission to update runtime parameters.",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ]
            },
            "aggregated": {
              "response": {
                "$ref": "ListJobsResponse"
              },
              "parameterOrder": [
                "projectId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "List the jobs of a project across all regions. **Note:** This method doesn't support filtering the list of jobs by name. # IAM Permissions Requires the `dataflow.jobs.list` permission on the project.",
              "flatPath": "v1b3/projects/{projectId}/jobs:aggregated",
              "path": "v1b3/projects/{projectId}/jobs:aggregated",
              "parameters": {
                "pageSize": {
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "regionalFanoutRequested": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional."
                },
                "pageToken": {
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                  "type": "string",
                  "location": "query"
                },
                "location": {
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "description": "The project which owns the jobs.",
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "description": "The kind of filter to use.",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ],
                  "location": "query"
                },
                "view": {
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                  "deprecated": true,
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ]
                },
                "name": {
                  "description": "Optional. The job name.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "dataflow.projects.jobs.aggregated",
              "httpMethod": "GET"
            }
          }
        },
        "templates": {
          "methods": {
            "create": {
              "id": "dataflow.projects.templates.create",
              "path": "v1b3/projects/{projectId}/templates",
              "response": {
                "$ref": "Job"
              },
              "parameterOrder": [
                "projectId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "httpMethod": "POST",
              "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API. To create a job, we recommend using `projects.locations.templates.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.create` is not recommended, because your job will always start in `us-central1`. # IAM Permissions Requires the following IAM permission(s) on the project: - `dataflow.jobs.create` - `resourcemanager.projects.get`",
              "parameters": {
                "projectId": {
                  "required": true,
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "CreateJobFromTemplateRequest"
              },
              "flatPath": "v1b3/projects/{projectId}/templates"
            },
            "launch": {
              "parameters": {
                "dynamicTemplate.gcsPath": {
                  "description": "Path to the dynamic template specification file on Cloud Storage. The file must be a JSON serialized `DynamicTemplateFileSpec` object.",
                  "type": "string",
                  "location": "query"
                },
                "validateOnly": {
                  "location": "query",
                  "description": "If true, the request is validated but not actually executed. Defaults to false.",
                  "type": "boolean"
                },
                "location": {
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                  "type": "string"
                },
                "gcsPath": {
                  "type": "string",
                  "location": "query",
                  "description": "A Cloud Storage path to the template to use to create the job. Must be valid Cloud Storage URL, beginning with `gs://`."
                },
                "projectId": {
                  "location": "path",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string"
                },
                "dynamicTemplate.stagingLocation": {
                  "type": "string",
                  "location": "query",
                  "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`."
                }
              },
              "httpMethod": "POST",
              "id": "dataflow.projects.templates.launch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "path": "v1b3/projects/{projectId}/templates:launch",
              "response": {
                "$ref": "LaunchTemplateResponse"
              },
              "description": "Launches a template. To launch a template, we recommend using `projects.locations.templates.launch` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.launch` is not recommended, because jobs launched from the template will always start in `us-central1`. # IAM Permissions Requires the following IAM permission(s) on the project: - `dataflow.jobs.create` - `resourcemanager.projects.get`",
              "request": {
                "$ref": "LaunchTemplateParameters"
              },
              "flatPath": "v1b3/projects/{projectId}/templates:launch",
              "parameterOrder": [
                "projectId"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GetTemplateResponse"
              },
              "parameters": {
                "gcsPath": {
                  "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'.",
                  "location": "query",
                  "type": "string"
                },
                "view": {
                  "enumDescriptions": [
                    "Template view that retrieves only the metadata associated with the template."
                  ],
                  "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                  "enum": [
                    "METADATA_ONLY"
                  ],
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "required": true
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1b3/projects/{projectId}/templates:get",
              "parameterOrder": [
                "projectId"
              ],
              "id": "dataflow.projects.templates.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Get the template associated with a template. To get the template, we recommend using `projects.locations.templates.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.get` is not recommended, because only templates that are running in `us-central1` are retrieved. # IAM Permissions Requires the `resourcemanager.projects.get` permission on the project.",
              "flatPath": "v1b3/projects/{projectId}/templates:get"
            }
          }
        },
        "locations": {
          "methods": {
            "workerMessages": {
              "path": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "parameterOrder": [
                "projectId",
                "location"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Send a worker_message to the service.",
              "response": {
                "$ref": "SendWorkerMessagesResponse"
              },
              "parameters": {
                "location": {
                  "location": "path",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job.",
                  "type": "string",
                  "required": true
                },
                "projectId": {
                  "type": "string",
                  "description": "The project to send the WorkerMessages to.",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "SendWorkerMessagesRequest"
              },
              "id": "dataflow.projects.locations.workerMessages",
              "httpMethod": "POST",
              "flatPath": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages"
            }
          },
          "resources": {
            "flexTemplates": {
              "methods": {
                "launch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "LaunchFlexTemplateResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "parameters": {
                    "location": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request. E.g., us-central1, us-west1.",
                      "required": true
                    },
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "required": true
                    }
                  },
                  "description": "Launch a job with a FlexTemplate. # IAM Permissions Requires the following IAM permission(s) on the resource: - `dataflow.jobs.create` - `resourcemanager.projects.get` - `iam.serviceAccounts.actAs` - `storage.buckets.get` - `storage.buckets.create` (Required if the default staging bucket must be created)",
                  "request": {
                    "$ref": "LaunchFlexTemplateRequest"
                  },
                  "id": "dataflow.projects.locations.flexTemplates.launch",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "path": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch"
                }
              }
            },
            "templates": {
              "methods": {
                "create": {
                  "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API. To create a job, we recommend using `projects.locations.templates.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.create` is not recommended, because your job will always start in `us-central1`. # IAM Permissions Requires the following IAM permission(s) on the project: - `dataflow.jobs.create` - `resourcemanager.projects.get`",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "httpMethod": "POST",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "request": {
                    "$ref": "CreateJobFromTemplateRequest"
                  },
                  "id": "dataflow.projects.locations.templates.create",
                  "response": {
                    "$ref": "Job"
                  }
                },
                "launch": {
                  "description": "Launches a template. To launch a template, we recommend using `projects.locations.templates.launch` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.launch` is not recommended, because jobs launched from the template will always start in `us-central1`. # IAM Permissions Requires the following IAM permission(s) on the project: - `dataflow.jobs.create` - `resourcemanager.projects.get`",
                  "response": {
                    "$ref": "LaunchTemplateResponse"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "parameters": {
                    "gcsPath": {
                      "location": "query",
                      "type": "string",
                      "description": "A Cloud Storage path to the template to use to create the job. Must be valid Cloud Storage URL, beginning with `gs://`."
                    },
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "location": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
                    },
                    "dynamicTemplate.stagingLocation": {
                      "location": "query",
                      "type": "string",
                      "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`."
                    },
                    "dynamicTemplate.gcsPath": {
                      "description": "Path to the dynamic template specification file on Cloud Storage. The file must be a JSON serialized `DynamicTemplateFileSpec` object.",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If true, the request is validated but not actually executed. Defaults to false.",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "LaunchTemplateParameters"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "id": "dataflow.projects.locations.templates.launch"
                },
                "get": {
                  "response": {
                    "$ref": "GetTemplateResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "required": true
                    },
                    "location": {
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "location": "path",
                      "type": "string"
                    },
                    "view": {
                      "type": "string",
                      "enum": [
                        "METADATA_ONLY"
                      ],
                      "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                      "enumDescriptions": [
                        "Template view that retrieves only the metadata associated with the template."
                      ],
                      "location": "query"
                    },
                    "gcsPath": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'."
                    }
                  },
                  "id": "dataflow.projects.locations.templates.get",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "description": "Get the template associated with a template. To get the template, we recommend using `projects.locations.templates.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.get` is not recommended, because only templates that are running in `us-central1` are retrieved. # IAM Permissions Requires the `resourcemanager.projects.get` permission on the project."
                }
              }
            },
            "snapshots": {
              "methods": {
                "get": {
                  "parameters": {
                    "snapshotId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The ID of the snapshot."
                    },
                    "location": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The location that contains this snapshot."
                    },
                    "projectId": {
                      "required": true,
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "id": "dataflow.projects.locations.snapshots.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "description": "Gets information about a snapshot.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}"
                },
                "list": {
                  "description": "Lists snapshots.",
                  "response": {
                    "$ref": "ListSnapshotsResponse"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "The project ID to list snapshots for.",
                      "type": "string",
                      "required": true
                    },
                    "jobId": {
                      "location": "query",
                      "type": "string",
                      "description": "If specified, list snapshots created from this job."
                    },
                    "location": {
                      "location": "path",
                      "description": "The location to list snapshots in.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "id": "dataflow.projects.locations.snapshots.list"
                },
                "delete": {
                  "description": "Deletes a snapshot.",
                  "parameters": {
                    "snapshotId": {
                      "description": "The ID of the snapshot.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "location": {
                      "description": "The location that contains this snapshot.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "DeleteSnapshotResponse"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "id": "dataflow.projects.locations.snapshots.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}"
                }
              }
            },
            "configStoreSettings": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the ConfigStoreSetting to delete.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "dataflow.projects.locations.configStoreSettings.delete",
                  "description": "Deletes an existing ConfigStoreSetting.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1b3/{+name}"
                },
                "resolve": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dataflow.projects.locations.configStoreSettings.resolve",
                  "path": "v1b3/{+name}:resolve",
                  "response": {
                    "$ref": "ResolveConfigStoreSettingResponse"
                  },
                  "request": {
                    "$ref": "ResolveConfigStoreSettingRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the setting to resolve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Resolves effective value of a ConfigStoreSetting.",
                  "httpMethod": "POST",
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}:resolve"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists ConfigStoreSettings.",
                  "id": "dataflow.projects.locations.configStoreSettings.list",
                  "httpMethod": "GET",
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource whose settings are being listed."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of settings to return.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListConfigStoreSettings` call.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "response": {
                    "$ref": "ListConfigStoreSettingsResponse"
                  },
                  "path": "v1b3/{+parent}/configStoreSettings"
                },
                "create": {
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new ConfigStoreSetting.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "configStoreSettingId": {
                      "description": "Required. The ID to use for the setting.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource where this setting will be created.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings",
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "request": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "id": "dataflow.projects.locations.configStoreSettings.create"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the ConfigStoreSetting to retrieve.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets a ConfigStoreSetting.",
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "id": "dataflow.projects.locations.configStoreSettings.get",
                  "path": "v1b3/{+name}",
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "jobs": {
              "methods": {
                "update": {
                  "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`. # IAM Permissions 1. Requires the `dataflow.jobs.cancel` permission to cancel a job. 2. Requires the `dataflow.jobs.updateContents` permission to update runtime parameters.",
                  "id": "dataflow.projects.locations.jobs.update",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask.",
                      "type": "string"
                    },
                    "jobId": {
                      "required": true,
                      "description": "The job ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "location": {
                      "required": true,
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the job belongs to."
                    }
                  },
                  "request": {
                    "$ref": "Job"
                  },
                  "httpMethod": "PUT",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "response": {
                    "$ref": "Job"
                  }
                },
                "get": {
                  "id": "dataflow.projects.locations.jobs.get",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string",
                      "required": true
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "description": "The job ID.",
                      "location": "path"
                    },
                    "location": {
                      "type": "string",
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "required": true
                    },
                    "view": {
                      "location": "query",
                      "description": "The level of information requested in response.",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.jobs.get` permission on the job.",
                  "response": {
                    "$ref": "Job"
                  }
                },
                "getExecutionDetails": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "description": "Request detailed information about the execution status of the job. EXPERIMENTAL. This API is subject to change or removal without notice. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "JobExecutionDetails"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "If specified, determines the maximum number of stages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "A project id."
                    },
                    "jobId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The job to get execution details for."
                    }
                  },
                  "id": "dataflow.projects.locations.jobs.getExecutionDetails",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ]
                },
                "create": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "request": {
                    "$ref": "Job"
                  },
                  "description": "Creates a Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API. # IAM Permissions 1. Requires the `dataflow.jobs.create` permission on the project. 2. `resourcemanager.projects.get` (Specifically required for regional endpoints to resolve regional resource metadata)",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "id": "dataflow.projects.locations.jobs.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "location": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                    },
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "description": "The level of information requested in response.",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "type": "string",
                      "location": "query"
                    },
                    "replaceJobId": {
                      "location": "query",
                      "type": "string",
                      "description": "Deprecated. This field is now in the Job message."
                    }
                  }
                },
                "getMetrics": {
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "id": "dataflow.projects.locations.jobs.getMetrics",
                  "parameters": {
                    "location": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                    },
                    "startTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                      "location": "query"
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "A project id.",
                      "location": "path"
                    },
                    "jobId": {
                      "required": true,
                      "description": "The job to get metrics for.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "JobMetrics"
                  },
                  "httpMethod": "GET",
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, because you can only get the list of jobs that are running in `us-central1`. `projects.locations.jobs.list` and `projects.jobs.list` support filtering the list of jobs by name. Filtering by name isn't supported by `projects.jobs.aggregated`. # IAM Permissions Requires the `dataflow.jobs.list` permission on the project.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "httpMethod": "GET",
                  "id": "dataflow.projects.locations.jobs.list",
                  "parameters": {
                    "pageSize": {
                      "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list."
                    },
                    "filter": {
                      "type": "string",
                      "enum": [
                        "UNKNOWN",
                        "ALL",
                        "TERMINATED",
                        "ACTIVE"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                        "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                        "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                        "Filters the jobs that are running ordered on the creation timestamp."
                      ],
                      "description": "The kind of filter to use."
                    },
                    "location": {
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "location": "path",
                      "description": "The project which owns the jobs.",
                      "type": "string",
                      "required": true
                    },
                    "name": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The job name."
                    },
                    "regionalFanoutRequested": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional."
                    },
                    "view": {
                      "deprecated": true,
                      "location": "query",
                      "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                      "enumDescriptions": [
[...]
