{
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://dataflow.africa-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://dataflow.asia-east2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://dataflow.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://dataflow.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://dataflow.asia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast2",
      "endpointUrl": "https://dataflow.asia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-central2",
      "endpointUrl": "https://dataflow.europe-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-north2.rep.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://dataflow.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://dataflow.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://dataflow.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "location": "me-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.me-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://dataflow.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://dataflow.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://dataflow.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://dataflow.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central2",
      "endpointUrl": "https://dataflow.us-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-east1.rep.googleapis.com/",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://dataflow.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://dataflow.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://dataflow.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://dataflow.us-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://dataflow.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west8",
      "endpointUrl": "https://dataflow.us-west8.rep.googleapis.com/"
    }
  ],
  "protocol": "rest",
  "basePath": "",
  "servicePath": "",
  "title": "Dataflow API",
  "kind": "discovery#restDescription",
  "version": "v1b3",
  "name": "dataflow",
  "rootUrl": "https://dataflow.googleapis.com/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "id": "dataflow:v1b3",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        }
      }
    }
  },
  "schemas": {
    "InstructionInput": {
      "id": "InstructionInput",
      "properties": {
        "outputNum": {
          "format": "int32",
          "type": "integer",
          "description": "The output index (origin zero) within the producer."
        },
        "producerInstructionIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The index (origin zero) of the parallel instruction that produces the output to be consumed by this input. This index is relative to the list of instructions in this input's instruction's containing MapTask."
        }
      },
      "description": "An input of an instruction, as a reference to an output of a producer instruction.",
      "type": "object"
    },
    "DataDiskAssignment": {
      "type": "object",
      "id": "DataDiskAssignment",
      "description": "Data disk assignment for a given VM instance.",
      "properties": {
        "vmInstance": {
          "description": "VM instance name the data disks mounted to, for example \"myproject-1014-104817-4c2-harness-0\".",
          "type": "string"
        },
        "dataDisks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Mounted data disks. The order is important a data disk's 0-based index in this list defines which persistent directory the disk is mounted to, for example the list of { \"myproject-1014-104817-4c2-harness-0-disk-0\" }, { \"myproject-1014-104817-4c2-harness-0-disk-1\" }."
        }
      }
    },
    "RuntimeUpdatableParams": {
      "type": "object",
      "id": "RuntimeUpdatableParams",
      "properties": {
        "workerUtilizationHint": {
          "format": "double",
          "description": "Target worker utilization, compared against the aggregate utilization of the worker pool by autoscaler, to determine upscaling and downscaling when absent other constraints such as backlog. For more information, see [Update an existing pipeline](https://cloud.google.com/dataflow/docs/guides/updating-a-pipeline).",
          "type": "number"
        },
        "schedules": {
          "items": {
            "$ref": "AutoscalingSchedule"
          },
          "description": "Optional. The schedule for autoscaling.",
          "type": "array"
        },
        "maxNumWorkers": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of workers to cap autoscaling at. This field is currently only supported for Streaming Engine jobs."
        },
        "minNumWorkers": {
          "description": "The minimum number of workers to scale down to. This field is currently only supported for Streaming Engine jobs.",
          "format": "int32",
          "type": "integer"
        },
        "acceptableBacklogDuration": {
          "type": "string",
          "description": "Optional. Deprecated: Use `latency_tier` instead. The backlog threshold duration in seconds for autoscaling. Value must be non-negative.",
          "deprecated": true,
          "format": "google-duration"
        },
        "latencyTier": {
          "description": "Optional. The backlog threshold tier for autoscaling. Value must be one of \"low-latency\", \"medium-latency\", or \"high-latency\".",
          "type": "string"
        },
        "autoscalingTier": {
          "type": "string",
          "description": "Optional. Deprecated: Use `latency_tier` instead. The backlog threshold tier for autoscaling. Value must be one of \"low-latency\", \"medium-latency\", or \"high-latency\".",
          "deprecated": true
        }
      },
      "description": "Additional job parameters that can only be updated during runtime using the projects.jobs.update method. These fields have no effect when specified during job creation."
    },
    "StragglerDebuggingInfo": {
      "type": "object",
      "id": "StragglerDebuggingInfo",
      "description": "Information useful for debugging a straggler. Each type will provide specialized debugging information relevant for a particular cause. The StragglerDebuggingInfo will be 1:1 mapping to the StragglerCause enum.",
      "properties": {
        "hotKey": {
          "$ref": "HotKeyDebuggingInfo",
          "description": "Hot key debugging details."
        }
      }
    },
    "GPUUtilization": {
      "id": "GPUUtilization",
      "properties": {
        "rate": {
          "type": "number",
          "description": "Required. GPU utilization rate of any kernel over the last sample period in the range of [0, 1].",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Utilization details about the GPU."
    },
    "SourceOperationRequest": {
      "properties": {
        "name": {
          "description": "User-provided name of the Read instruction for this source.",
          "type": "string"
        },
        "getMetadata": {
          "description": "Information about a request to get metadata about a source.",
          "$ref": "SourceGetMetadataRequest"
        },
        "systemName": {
          "type": "string",
          "description": "System-defined name of the Read instruction for this source. Unique across the workflow."
        },
        "originalName": {
          "description": "System-defined name for the Read instruction for this source in the original workflow graph.",
          "type": "string"
        },
        "split": {
          "description": "Information about a request to split a source.",
          "$ref": "SourceSplitRequest"
        },
        "stageName": {
          "description": "System-defined name of the stage containing the source operation. Unique across the workflow.",
          "type": "string"
        }
      },
      "id": "SourceOperationRequest",
      "description": "A work item that represents the different operations that can be performed on a user-defined Source specification.",
      "type": "object"
    },
    "WorkItemServiceState": {
      "description": "The Dataflow service's idea of the current state of a WorkItem being processed by a worker.",
      "type": "object",
      "properties": {
        "hotKeyDetection": {
          "description": "A hot key is a symptom of poor data distribution in which there are enough elements mapped to a single key to impact pipeline performance. When present, this field includes metadata associated with any hot key.",
          "$ref": "HotKeyDetection"
        },
        "reportStatusInterval": {
          "format": "google-duration",
          "description": "New recommended reporting interval.",
          "type": "string"
        },
        "nextReportIndex": {
          "type": "string",
          "format": "int64",
          "description": "The index value to use for the next report sent by the worker. Note: If the report call fails for whatever reason, the worker should reuse this index for subsequent report attempts."
        },
        "suggestedStopPoint": {
          "$ref": "ApproximateProgress",
          "deprecated": true,
          "description": "DEPRECATED in favor of split_request."
        },
        "suggestedStopPosition": {
          "$ref": "Position",
          "deprecated": true,
          "description": "Obsolete, always empty."
        },
        "leaseExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time at which the current lease will expire."
        },
        "completeWorkStatus": {
          "$ref": "Status",
          "description": "If set, a request to complete the work item with the given status. This will not be set to OK, unless supported by the specific kind of WorkItem. It can be used for the backend to indicate a WorkItem must terminate, e.g., for aborting work."
        },
        "splitRequest": {
          "description": "The progress point in the WorkItem where the Dataflow service suggests that the worker truncate the task.",
          "$ref": "ApproximateSplitRequest"
        },
        "metricShortId": {
          "description": "The short ids that workers should use in subsequent metric updates. Workers should strive to use short ids whenever possible, but it is ok to request the short_id again if a worker lost track of it (e.g. if the worker is recovering from a crash). NOTE: it is possible that the response may have short ids for a subset of the metrics.",
          "type": "array",
          "items": {
            "$ref": "MetricShortId"
          }
        },
        "harnessData": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Other data returned by the service, specific to the particular worker harness.",
          "type": "object"
        }
      },
      "id": "WorkItemServiceState"
    },
    "StreamingSideInputLocation": {
      "description": "Identifies the location of a streaming side input.",
      "properties": {
        "stateFamily": {
          "description": "Identifies the state family where this side input is stored.",
          "type": "string"
        },
        "tag": {
          "description": "Identifies the particular side input within the streaming Dataflow job.",
          "type": "string"
        }
      },
      "id": "StreamingSideInputLocation",
      "type": "object"
    },
    "DataSamplingReport": {
      "type": "object",
      "description": "Contains per-worker telemetry about the data sampling feature.",
      "id": "DataSamplingReport",
      "properties": {
        "bytesWrittenDelta": {
          "type": "string",
          "description": "Optional. Delta of bytes written to file from previous report.",
          "format": "int64"
        },
        "elementsSampledCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Delta of number of elements sampled from previous report."
        },
        "exceptionsSampledCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Delta of number of samples taken from user code exceptions from previous report."
        },
        "elementsSampledBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Delta of bytes sampled from previous report."
        },
        "translationErrorsCount": {
          "type": "string",
          "description": "Optional. Delta of errors counts from retrieving, or translating the samples from previous report.",
          "format": "int64"
        },
        "persistenceErrorsCount": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Delta of errors counts from persisting the samples from previous report."
        },
        "pcollectionsSampledCount": {
          "type": "string",
          "description": "Optional. Delta of number of PCollections sampled from previous report.",
          "format": "int64"
        }
      }
    },
    "WorkerThreadScalingReport": {
      "type": "object",
      "id": "WorkerThreadScalingReport",
      "description": "Contains information about the thread scaling information of a worker.",
      "properties": {
        "currentThreadCount": {
          "format": "int32",
          "type": "integer",
          "description": "Current number of active threads in a worker."
        }
      }
    },
    "ApproximateProgress": {
      "properties": {
        "percentComplete": {
          "deprecated": true,
          "format": "float",
          "type": "number",
          "description": "Obsolete."
        },
        "remainingTime": {
          "type": "string",
          "deprecated": true,
          "description": "Obsolete.",
          "format": "google-duration"
        },
        "position": {
          "deprecated": true,
          "description": "Obsolete.",
          "$ref": "Position"
        }
      },
      "type": "object",
      "id": "ApproximateProgress",
      "description": "Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest."
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ParameterMetadata": {
      "description": "Metadata for a specific parameter.",
      "type": "object",
      "properties": {
        "enumOptions": {
          "items": {
            "$ref": "ParameterMetadataEnumOption"
          },
          "type": "array",
          "description": "Optional. The options shown when ENUM ParameterType is specified."
        },
        "parentName": {
          "type": "string",
          "description": "Optional. Specifies the name of the parent parameter. Used in conjunction with 'parent_trigger_values' to make this parameter conditional (will only be rendered conditionally). Should be mappable to a ParameterMetadata.name field."
        },
        "label": {
          "type": "string",
          "description": "Required. The label to display for the parameter."
        },
        "paramType": {
          "type": "string",
          "description": "Optional. The type of the parameter. Used for selecting input picker.",
          "enumDescriptions": [
            "Default input type.",
            "The parameter specifies generic text input.",
            "The parameter specifies a Cloud Storage Bucket to read from.",
            "The parameter specifies a Cloud Storage Bucket to write to.",
            "The parameter specifies a Cloud Storage file path to read from.",
            "The parameter specifies a Cloud Storage file path to write to.",
            "The parameter specifies a Cloud Storage folder path to read from.",
            "The parameter specifies a Cloud Storage folder to write to.",
            "The parameter specifies a Pub/Sub Topic.",
            "The parameter specifies a Pub/Sub Subscription.",
            "The parameter specifies a BigQuery table.",
            "The parameter specifies a JavaScript UDF in Cloud Storage.",
            "The parameter specifies a Service Account email.",
            "The parameter specifies a Machine Type.",
            "The parameter specifies a KMS Key name.",
            "The parameter specifies a Worker Region.",
            "The parameter specifies a Worker Zone.",
            "The parameter specifies a boolean input.",
            "The parameter specifies an enum input.",
            "The parameter specifies a number input.",
            "Deprecated. Please use KAFKA_READ_TOPIC instead.",
            "The parameter specifies the fully-qualified name of an Apache Kafka topic. This can be either a Google Managed Kafka topic or a non-managed Kafka topic.",
            "The parameter specifies the fully-qualified name of an Apache Kafka topic. This can be an existing Google Managed Kafka topic, the name for a new Google Managed Kafka topic, or an existing non-managed Kafka topic."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "enum": [
            "DEFAULT",
            "TEXT",
            "GCS_READ_BUCKET",
            "GCS_WRITE_BUCKET",
            "GCS_READ_FILE",
            "GCS_WRITE_FILE",
            "GCS_READ_FOLDER",
            "GCS_WRITE_FOLDER",
            "PUBSUB_TOPIC",
            "PUBSUB_SUBSCRIPTION",
            "BIGQUERY_TABLE",
            "JAVASCRIPT_UDF_FILE",
            "SERVICE_ACCOUNT",
            "MACHINE_TYPE",
            "KMS_KEY_NAME",
            "WORKER_REGION",
            "WORKER_ZONE",
            "BOOLEAN",
            "ENUM",
            "NUMBER",
            "KAFKA_TOPIC",
            "KAFKA_READ_TOPIC",
            "KAFKA_WRITE_TOPIC"
          ]
        },
        "helpText": {
          "type": "string",
          "description": "Required. The help text to display for the parameter."
        },
        "regexes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Regexes that the parameter must match."
        },
        "hiddenUi": {
          "description": "Optional. Whether the parameter should be hidden in the UI.",
          "type": "boolean"
        },
        "isOptional": {
          "type": "boolean",
          "description": "Optional. Whether the parameter is optional. Defaults to false."
        },
        "name": {
          "description": "Required. The name of the parameter.",
          "type": "string"
        },
        "groupName": {
          "type": "string",
          "description": "Optional. Specifies a group name for this parameter to be rendered under. Group header text will be rendered exactly as specified in this field. Only considered when parent_name is NOT provided."
        },
        "customMetadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Additional metadata for describing this parameter.",
          "type": "object"
        },
        "parentTriggerValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The value(s) of the 'parent_name' parameter which will trigger this parameter to be shown. If left empty, ANY non-empty value in parent_name will trigger this parameter to be shown. Only considered when this parameter is conditional (when 'parent_name' has been provided)."
        },
        "defaultValue": {
          "description": "Optional. The default values will pre-populate the parameter with the given value from the proto. If default_value is left empty, the parameter will be populated with a default of the relevant type, e.g. false for a boolean.",
          "type": "string"
        }
      },
      "id": "ParameterMetadata"
    },
    "BoundedTrieNode": {
      "description": "A single node in a BoundedTrie.",
      "type": "object",
      "properties": {
        "children": {
          "additionalProperties": {
            "$ref": "BoundedTrieNode"
          },
          "type": "object",
          "description": "Children of this node. Must be empty if truncated is true."
        },
        "truncated": {
          "description": "Whether this node has been truncated. A truncated leaf represents possibly many children with the same prefix.",
          "type": "boolean"
        }
      },
      "id": "BoundedTrieNode"
    },
    "MountedDataDisk": {
      "id": "MountedDataDisk",
      "type": "object",
      "properties": {
        "dataDisk": {
          "description": "The name of the data disk. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        }
      },
      "description": "Describes mounted data disk."
    },
    "StragglerSummary": {
      "id": "StragglerSummary",
      "type": "object",
      "description": "Summarized straggler identification details.",
      "properties": {
        "totalStragglerCount": {
          "type": "string",
          "description": "The total count of stragglers.",
          "format": "int64"
        },
        "recentStragglers": {
          "items": {
            "$ref": "Straggler"
          },
          "description": "The most recent stragglers.",
          "type": "array"
        },
        "stragglerCauseCount": {
          "description": "Aggregated counts of straggler causes, keyed by the string representation of the StragglerCause enum.",
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "JobMessage": {
      "type": "object",
      "id": "JobMessage",
      "properties": {
        "messageImportance": {
          "description": "Importance level of the message.",
          "enum": [
            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
            "JOB_MESSAGE_DEBUG",
            "JOB_MESSAGE_DETAILED",
            "JOB_MESSAGE_BASIC",
            "JOB_MESSAGE_WARNING",
            "JOB_MESSAGE_ERROR"
          ],
          "enumDescriptions": [
            "The message importance isn't specified, or is unknown.",
            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
          ],
          "type": "string"
        },
        "time": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp of the message."
        },
        "messageText": {
          "description": "The text of the message.",
          "type": "string"
        },
        "id": {
          "description": "Deprecated.",
          "type": "string"
        }
      },
      "description": "A particular message pertaining to a Dataflow job."
    },
    "SourceOperationResponse": {
      "description": "The result of a SourceOperationRequest, specified in ReportWorkItemStatusRequest.source_operation when the work item is completed.",
      "id": "SourceOperationResponse",
      "properties": {
        "getMetadata": {
          "$ref": "SourceGetMetadataResponse",
          "description": "A response to a request to get metadata about a source."
        },
        "split": {
          "description": "A response to a request to split a source.",
          "$ref": "SourceSplitResponse"
        }
      },
      "type": "object"
    },
    "Parameters": {
      "type": "object",
      "id": "Parameters",
      "properties": {
        "maxWorkerCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of workers for this schedule."
        },
        "latencyTarget": {
          "type": "string",
          "description": "Optional. The target latency for this schedule."
        },
        "minWorkerCount": {
          "format": "int32",
          "description": "Optional. The minimum number of workers for this schedule.",
          "type": "integer"
        },
        "cpuUtilizationTarget": {
          "format": "double",
          "description": "Optional. The target CPU utilization for this schedule.",
          "type": "number"
        }
      },
      "description": "The parameters to use for autoscaling when this schedule is active."
    },
    "ResolveConfigStoreSettingRequest": {
      "properties": {},
      "description": "Request message for ResolveConfigStoreSetting.",
      "type": "object",
      "id": "ResolveConfigStoreSettingRequest"
    },
    "StreamingScalingReport": {
      "type": "object",
      "properties": {
        "outstandingBytesCount": {
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "maximumThreadCount": {
          "description": "Maximum thread count limit.",
          "format": "int32",
          "type": "integer"
        },
        "outstandingBundleCount": {
          "format": "int32",
          "description": "Current outstanding bundle count.",
          "type": "integer"
        },
        "maximumBytes": {
          "description": "Maximum bytes.",
          "type": "string",
          "format": "int64"
        },
        "activeBundleCount": {
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "maximumBundleCount": {
          "format": "int32",
          "description": "Maximum bundle count.",
          "type": "integer"
        },
        "activeThreadCount": {
          "description": "Current acive thread count.",
          "type": "integer",
          "format": "int32"
        },
        "maximumBytesCount": {
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "outstandingBytes": {
          "type": "string",
          "format": "int64",
          "description": "Current outstanding bytes."
        }
      },
      "id": "StreamingScalingReport",
      "description": "Contains per-user worker telemetry used in streaming autoscaling."
    },
    "WriteInstruction": {
      "type": "object",
      "description": "An instruction that writes records. Takes one input, produces no outputs.",
      "properties": {
        "sink": {
          "$ref": "Sink",
          "description": "The sink to write to."
        },
        "input": {
          "description": "The input.",
          "$ref": "InstructionInput"
        }
      },
      "id": "WriteInstruction"
    },
    "ReadInstruction": {
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "The source to read from."
        }
      },
      "id": "ReadInstruction",
      "description": "An instruction that reads records. Takes no inputs, produces one output.",
      "type": "object"
    },
    "LaunchFlexTemplateRequest": {
      "description": "A request to launch a Cloud Dataflow job from a FlexTemplate.",
      "properties": {
        "launchParameter": {
          "description": "Required. Parameter to launch a job form Flex Template.",
          "$ref": "LaunchFlexTemplateParameter"
        },
        "validateOnly": {
          "description": "If true, the request is validated but not actually executed. Defaults to false.",
          "type": "boolean"
        }
      },
      "id": "LaunchFlexTemplateRequest",
      "type": "object"
    },
    "SnapshotJobRequest": {
      "id": "SnapshotJobRequest",
      "properties": {
        "location": {
          "description": "The location that contains this job.",
          "type": "string"
        },
        "ttl": {
          "format": "google-duration",
          "type": "string",
          "description": "TTL for the snapshot."
        },
        "description": {
          "type": "string",
          "description": "User specified description of the snapshot. Maybe empty."
        },
        "snapshotSources": {
          "description": "If true, perform snapshots for sources which support this.",
          "type": "boolean"
        }
      },
      "description": "Request to create a snapshot of a job.",
      "type": "object"
    },
    "PipelineDescription": {
      "description": "A descriptive representation of submitted pipeline as well as the executed form. This data is provided by the Dataflow service for ease of visualizing the pipeline and interpreting Dataflow provided metrics.",
      "type": "object",
      "id": "PipelineDescription",
      "properties": {
        "displayData": {
          "items": {
            "$ref": "DisplayData"
          },
          "description": "Pipeline level display data.",
          "type": "array"
        },
        "originalPipelineTransform": {
          "type": "array",
          "items": {
            "$ref": "TransformSummary"
          },
          "description": "Description of each transform in the pipeline and collections between them."
        },
        "executionPipelineStage": {
          "description": "Description of each stage of execution of the pipeline.",
          "type": "array",
          "items": {
            "$ref": "ExecutionStageSummary"
          }
        },
        "stepNamesHash": {
          "type": "string",
          "description": "A hash value of the submitted pipeline portable graph step names if exists."
        }
      }
    },
    "JobExecutionDetails": {
      "description": "Information about the execution of a job.",
      "id": "JobExecutionDetails",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        },
        "stages": {
          "description": "The stages of the job execution.",
          "type": "array",
          "items": {
            "$ref": "StageSummary"
          }
        }
      }
    },
    "Job": {
      "properties": {
        "createTime": {
          "description": "The timestamp when the job was initially created. Immutable and set by the Cloud Dataflow service.",
          "type": "string",
          "format": "google-datetime"
        },
        "pausable": {
          "description": "Output only. Indicates whether the job can be paused.",
          "readOnly": true,
          "type": "boolean"
        },
        "stageStates": {
          "type": "array",
          "items": {
            "$ref": "ExecutionStageState"
          },
          "description": "This field may be mutated by the Cloud Dataflow service; callers cannot mutate it."
        },
        "id": {
          "type": "string",
          "description": "The unique ID of this job. This field is set by the Dataflow service when the job is created, and is immutable for the life of the job."
        },
        "type": {
          "enumDescriptions": [
            "The type of the job is unspecified, or unknown.",
            "A batch job with a well-defined end point: data is read, data is processed, data is written, and the job is done.",
            "A continuously streaming job with no end: data is read, processed, and written continuously."
          ],
          "description": "Optional. The type of Dataflow job.",
          "type": "string",
          "enum": [
            "JOB_TYPE_UNKNOWN",
            "JOB_TYPE_BATCH",
            "JOB_TYPE_STREAMING"
          ]
        },
        "createdFromSnapshotId": {
          "type": "string",
          "description": "If this is specified, the job's initial state is populated from the given snapshot."
        },
        "projectId": {
          "description": "The ID of the Google Cloud project that the job belongs to.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-defined labels for this job. The labels map can contain no more than 64 entries. Entries of the labels map are UTF8 strings that comply with the following restrictions: * Keys must conform to regexp: \\p{Ll}\\p{Lo}{0,62} * Values must conform to regexp: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} * Both keys and values are additionally constrained to be <= 128 bytes in size.",
          "type": "object"
        },
        "replacedByJobId": {
          "description": "If another job is an update of this job (and thus, this job is in `JOB_STATE_UPDATED`), this field contains the ID of that job.",
          "type": "string"
        },
        "jobMetadata": {
          "description": "This field is populated by the Dataflow service to support filtering jobs by the metadata values provided here. Populated for ListJobs and all GetJob views SUMMARY and higher.",
          "$ref": "JobMetadata"
        },
        "clientRequestId": {
          "description": "The client's unique identifier of the job, re-used across retried attempts. If this field is set, the service will ensure its uniqueness. The request to create a job will fail if the service has knowledge of a previously submitted job with the same client's ID and job name. The caller may use this field to ensure idempotence of job creation across retried attempts to create a job. By default, the field is empty and, in that case, the service ignores it.",
          "type": "string"
        },
        "startTime": {
          "description": "The timestamp when the job was started (transitioned to JOB_STATE_PENDING). Flexible resource scheduling jobs are started with some delay after job creation, so start_time is unset before start and is updated when the job is started by the Cloud Dataflow service. For other jobs, start_time always equals to create_time and is immutable and set by the Cloud Dataflow service.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Optional. The user-specified Dataflow job name. Only one active job with a given name can exist in a project within one region at any given time. Jobs in different regions can have the same name. If a caller attempts to create a job with the same name as an active job that already exists, the attempt returns the existing job. The name must match the regular expression `[a-z]([-a-z0-9]{0,1022}[a-z0-9])?`",
          "type": "string"
        },
        "location": {
          "description": "Optional. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
          "type": "string"
        },
        "currentStateTime": {
          "description": "The timestamp associated with the current state.",
          "format": "google-datetime",
          "type": "string"
        },
        "executionInfo": {
          "description": "Deprecated.",
          "$ref": "JobExecutionInfo"
        },
        "tempFiles": {
          "items": {
            "type": "string"
          },
          "description": "A set of files the system should be aware of that are used for temporary storage. These temporary files will be removed on job completion. No duplicates are allowed. No file patterns are supported. The supported files are: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "array"
        },
        "serviceResources": {
          "description": "Output only. Resources used by the Dataflow Service to run the job.",
          "$ref": "ServiceResources",
          "readOnly": true
        },
        "environment": {
          "$ref": "Environment",
          "description": "Optional. The environment for the job."
        },
        "transformNameMapping": {
          "description": "Optional. The map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "steps": {
          "description": "Exactly one of step or steps_location should be specified. The top-level steps that constitute the entire job. Only retrieved with JOB_VIEW_ALL.",
          "type": "array",
          "items": {
            "$ref": "Step"
          }
        },
        "stepsLocation": {
          "type": "string",
          "description": "The Cloud Storage location where the steps are stored."
        },
        "requestedState": {
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested.",
            "`JOB_STATE_PAUSING` indicates that the job is in the process of pausing. A pausing job will stop processing, archive in-flight Shuffle data, and transition to `JOB_STATE_PAUSED`. Jobs in this state can transition to `JOB_STATE_CANCELLING` if cancellation is requested, or can transition back to `JOB_STATE_RUNNING` if the pause fails to complete.",
            "`JOB_STATE_PAUSED` indicates that the job is not currently processing. Jobs in this state can transition back to `JOB_STATE_RUNNING` to continue processing where they left off, or can transition to `JOB_STATE_CANCELLING` if cancellation is requested."
          ],
          "description": "The job's requested state. Applies to `UpdateJob` requests. Set `requested_state` with `UpdateJob` requests to switch between the states `JOB_STATE_STOPPED` and `JOB_STATE_RUNNING`. You can also use `UpdateJob` requests to change a job's state from `JOB_STATE_RUNNING` to `JOB_STATE_CANCELLED`, `JOB_STATE_DONE`, or `JOB_STATE_DRAINED`. These states irrevocably terminate the job if it hasn't already reached a terminal state. This field has no effect on `CreateJob` requests.",
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP",
            "JOB_STATE_PAUSING",
            "JOB_STATE_PAUSED"
          ],
          "type": "string"
        },
        "currentState": {
          "type": "string",
          "description": "The current state of the job. Jobs are created in the `JOB_STATE_STOPPED` state unless otherwise specified. A job in the `JOB_STATE_RUNNING` state may asynchronously enter a terminal state. After a job has reached a terminal state, no further state updates may be made. This field might be mutated by the Dataflow service; callers cannot mutate it.",
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP",
            "JOB_STATE_PAUSING",
            "JOB_STATE_PAUSED"
          ],
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested.",
            "`JOB_STATE_PAUSING` indicates that the job is in the process of pausing. A pausing job will stop processing, archive in-flight Shuffle data, and transition to `JOB_STATE_PAUSED`. Jobs in this state can transition to `JOB_STATE_CANCELLING` if cancellation is requested, or can transition back to `JOB_STATE_RUNNING` if the pause fails to complete.",
            "`JOB_STATE_PAUSED` indicates that the job is not currently processing. Jobs in this state can transition back to `JOB_STATE_RUNNING` to continue processing where they left off, or can transition to `JOB_STATE_CANCELLING` if cancellation is requested."
          ]
        },
        "satisfiesPzs": {
          "description": "Reserved for future use. This field is set only in responses from the server; it is ignored if it is set in any requests.",
          "type": "boolean"
        },
        "runtimeUpdatableParams": {
          "description": "This field may ONLY be modified at runtime using the projects.jobs.update method to adjust job behavior. This field has no effect when specified at job creation.",
          "$ref": "RuntimeUpdatableParams"
        },
        "pipelineDescription": {
          "description": "Preliminary field: The format of this data may change at any time. A description of the user pipeline and stages through which it is executed. Created by Cloud Dataflow service. Only retrieved with JOB_VIEW_DESCRIPTION or JOB_VIEW_ALL.",
          "$ref": "PipelineDescription"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use. This field is set only in responses from the server; it is ignored if it is set in any requests.",
          "type": "boolean",
          "readOnly": true
        },
        "replaceJobId": {
          "description": "If this job is an update of an existing job, this field is the job ID of the job it replaced. When sending a `CreateJobRequest`, you can update a job by specifying it here. The job named here is stopped, and its intermediate state is transferred to this job.",
          "type": "string"
        }
      },
      "description": "Defines a job to be run by the Cloud Dataflow service. Do not enter confidential information when you supply string values using the API.",
      "type": "object",
      "id": "Job"
    },
    "CounterMetadata": {
      "properties": {
        "kind": {
          "description": "Counter aggregation kind.",
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ],
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "type": "string"
        },
        "standardUnits": {
          "enum": [
            "BYTES",
            "BYTES_PER_SEC",
            "MILLISECONDS",
            "MICROSECONDS",
            "NANOSECONDS",
            "TIMESTAMP_MSEC",
            "TIMESTAMP_USEC",
            "TIMESTAMP_NSEC"
          ],
          "description": "System defined Units, see above enum.",
          "type": "string",
          "enumDescriptions": [
            "Counter returns a value in bytes.",
            "Counter returns a value in bytes per second.",
            "Counter returns a value in milliseconds.",
            "Counter returns a value in microseconds.",
            "Counter returns a value in nanoseconds.",
            "Counter returns a timestamp in milliseconds.",
            "Counter returns a timestamp in microseconds.",
            "Counter returns a timestamp in nanoseconds."
          ]
        },
        "otherUnits": {
          "type": "string",
          "description": "A string referring to the unit type."
        },
        "description": {
          "type": "string",
          "description": "Human-readable description of the counter semantics."
        }
      },
      "description": "CounterMetadata includes all static non-name non-value counter attributes.",
      "id": "CounterMetadata",
      "type": "object"
    },
    "Package": {
      "id": "Package",
      "type": "object",
      "description": "The packages that must be installed in order for a worker to run the steps of the Cloud Dataflow job that will be assigned to its worker pool. This is the mechanism by which the Cloud Dataflow SDK causes code to be loaded onto the workers. For example, the Cloud Dataflow Java SDK might use this to install jars containing the user's code and all of the various dependencies (libraries, data files, etc.) required in order for that code to run.",
      "properties": {
        "sha256": {
          "type": "string",
          "description": "Optional. The hex-encoded SHA256 checksum of the package. If the checksum is provided, the worker will verify the checksum of the package before using it. If the checksum does not match, the worker will fail to start."
        },
        "location": {
          "description": "The resource to read the package from. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket} bucket.storage.googleapis.com/",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the package."
        }
      }
    },
    "ExecutionStageState": {
      "id": "ExecutionStageState",
      "properties": {
        "currentStateTime": {
          "description": "The time at which the stage transitioned to this state.",
          "type": "string",
          "format": "google-datetime"
        },
        "executionStageName": {
          "description": "The name of the execution stage.",
          "type": "string"
        },
        "executionStageState": {
          "type": "string",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested.",
            "`JOB_STATE_PAUSING` indicates that the job is in the process of pausing. A pausing job will stop processing, archive in-flight Shuffle data, and transition to `JOB_STATE_PAUSED`. Jobs in this state can transition to `JOB_STATE_CANCELLING` if cancellation is requested, or can transition back to `JOB_STATE_RUNNING` if the pause fails to complete.",
            "`JOB_STATE_PAUSED` indicates that the job is not currently processing. Jobs in this state can transition back to `JOB_STATE_RUNNING` to continue processing where they left off, or can transition to `JOB_STATE_CANCELLING` if cancellation is requested."
          ],
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP",
            "JOB_STATE_PAUSING",
            "JOB_STATE_PAUSED"
          ],
          "description": "Executions stage states allow the same set of values as JobState."
        }
      },
      "description": "A message describing the state of a particular execution stage.",
      "type": "object"
    },
    "StreamingConfigTask": {
      "description": "A task that carries configuration information for streaming computations.",
      "properties": {
        "streamingComputationConfigs": {
          "description": "Set of computation configuration information.",
          "type": "array",
          "items": {
            "$ref": "StreamingComputationConfig"
          }
        },
        "commitStreamChunkSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Chunk size for commit streams from the harness to windmill."
        },
        "windmillServicePort": {
          "description": "If present, the worker must use this port to communicate with Windmill Service dispatchers. Only applicable when windmill_service_endpoint is specified.",
          "type": "string",
          "format": "int64"
        },
        "userWorkerRunnerV1Settings": {
          "format": "byte",
          "type": "string",
          "description": "Binary encoded proto to control runtime behavior of the java runner v1 user worker."
        },
        "userWorkerRunnerV2Settings": {
          "description": "Binary encoded proto to control runtime behavior of the runner v2 user worker.",
          "format": "byte",
          "type": "string"
        },
        "userStepToStateFamilyNameMap": {
          "description": "Map from user step names to state families.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "getDataStreamChunkSizeBytes": {
          "type": "string",
          "description": "Chunk size for get data streams from the harness to windmill.",
          "format": "int64"
        },
        "maxWorkItemCommitBytes": {
          "format": "int64",
          "description": "Maximum size for work item commit supported windmill storage layer.",
          "type": "string"
        },
        "streamingEngineStateTagEncodingVersion": {
          "description": "Optional. The state tag encoding format version for streaming engine jobs.",
          "format": "int32",
          "type": "integer"
        },
        "windmillServiceEndpoint": {
          "description": "If present, the worker must use this endpoint to communicate with Windmill Service dispatchers, otherwise the worker must continue to use whatever endpoint it had been using.",
          "type": "string"
        },
        "operationalLimits": {
          "description": "Operational limits for the streaming job. Can be used by the worker to validate outputs sent to the backend.",
          "$ref": "StreamingOperationalLimits"
        }
      },
      "type": "object",
      "id": "StreamingConfigTask"
    },
    "ListJobMessagesResponse": {
      "description": "Response to a request to list job messages.",
      "type": "object",
      "id": "ListJobMessagesResponse",
      "properties": {
        "autoscalingEvents": {
          "items": {
            "$ref": "AutoscalingEvent"
          },
          "type": "array",
          "description": "Autoscaling events in ascending timestamp order."
        },
        "jobMessages": {
          "type": "array",
          "items": {
            "$ref": "JobMessage"
          },
          "description": "Messages in ascending timestamp order."
        },
        "nextPageToken": {
          "description": "The token to obtain the next page of results if there are more.",
          "type": "string"
        }
      }
    },
    "Straggler": {
      "type": "object",
      "properties": {
        "batchStraggler": {
          "description": "Batch straggler identification and debugging information.",
          "$ref": "StragglerInfo"
        },
        "streamingStraggler": {
          "$ref": "StreamingStragglerInfo",
          "description": "Streaming straggler identification and debugging information."
        }
      },
      "description": "Information for a straggler.",
      "id": "Straggler"
    },
    "WorkerDetails": {
      "properties": {
        "workerName": {
          "description": "Name of this worker",
          "type": "string"
        },
        "workItems": {
          "type": "array",
          "items": {
            "$ref": "WorkItemDetails"
          },
          "description": "Work items processed by this worker, sorted by time."
        }
      },
      "description": "Information about a worker",
      "id": "WorkerDetails",
      "type": "object"
    },
    "StreamingStageLocation": {
      "type": "object",
      "id": "StreamingStageLocation",
      "description": "Identifies the location of a streaming computation stage, for stage-to-stage communication.",
      "properties": {
        "streamId": {
          "description": "Identifies the particular stream within the streaming Dataflow job.",
          "type": "string"
        }
      }
    },
    "PubSubIODetails": {
      "type": "object",
      "properties": {
        "topic": {
          "description": "Topic accessed in the connection.",
          "type": "string"
        },
        "subscription": {
          "type": "string",
          "description": "Subscription used in the connection."
        }
      },
      "description": "Metadata for a Pub/Sub connector used by the job.",
      "id": "PubSubIODetails"
    },
    "DataflowHistogramValue": {
      "type": "object",
      "properties": {
        "bucketCounts": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Optional. The number of values in each bucket of the histogram, as described in `bucket_options`. `bucket_counts` should contain N values, where N is the number of buckets specified in `bucket_options`. If `bucket_counts` has fewer than N values, the remaining values are assumed to be 0.",
          "type": "array"
        },
        "count": {
          "description": "Number of values recorded in this histogram.",
          "format": "int64",
          "type": "string"
        },
        "bucketOptions": {
          "description": "Describes the bucket boundaries used in the histogram.",
          "$ref": "BucketOptions"
        },
        "outlierStats": {
          "description": "Statistics on the values recorded in the histogram that fall out of the bucket boundaries.",
          "$ref": "OutlierStats"
        }
      },
      "description": "Summary statistics for a population of values. HistogramValue contains a sequence of buckets and gives a count of values that fall into each bucket. Bucket boundares are defined by a formula and bucket widths are either fixed or exponentially increasing.",
      "id": "DataflowHistogramValue"
    },
    "WorkerLifecycleEvent": {
      "id": "WorkerLifecycleEvent",
      "type": "object",
      "description": "A report of an event in a worker's lifecycle. The proto contains one event, because the worker is expected to asynchronously send each message immediately after the event. Due to this asynchrony, messages may arrive out of order (or missing), and it is up to the consumer to interpret. The timestamp of the event is in the enclosing WorkerMessage proto.",
      "properties": {
        "containerStartTime": {
          "description": "The start time of this container. All events will report this so that events can be grouped together across container/VM restarts.",
          "format": "google-datetime",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Other stats that can accompany an event. E.g. { \"downloaded_bytes\" : \"123456\" }",
          "additionalProperties": {
            "type": "string"
          }
        },
        "event": {
          "description": "The event being reported.",
          "type": "string",
          "enumDescriptions": [
            "Invalid event.",
            "The time the VM started.",
            "Our container code starts running. Multiple containers could be distinguished with WorkerMessage.labels if desired.",
            "The worker has a functional external network connection.",
            "Started downloading staging files.",
            "Finished downloading all staging files.",
            "For applicable SDKs, started installation of SDK and worker packages.",
            "Finished installing SDK."
          ],
          "enum": [
            "UNKNOWN_EVENT",
            "OS_START",
            "CONTAINER_START",
            "NETWORK_UP",
            "STAGING_FILES_DOWNLOAD_START",
            "STAGING_FILES_DOWNLOAD_FINISH",
            "SDK_INSTALL_START",
            "SDK_INSTALL_FINISH"
          ]
        }
      }
    },
    "SendWorkerMessagesRequest": {
      "properties": {
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job.",
          "type": "string"
        },
        "workerMessages": {
          "description": "The WorkerMessages to send.",
          "type": "array",
          "items": {
            "$ref": "WorkerMessage"
          }
        }
      },
      "description": "A request for sending worker messages to the service.",
      "type": "object",
      "id": "SendWorkerMessagesRequest"
    },
    "WorkerMessageResponse": {
      "properties": {
        "workerMetricsResponse": {
          "$ref": "ResourceUtilizationReportResponse",
          "description": "Service's response to reporting worker metrics (currently empty)."
        },
        "workerShutdownNoticeResponse": {
          "description": "Service's response to shutdown notice (currently empty).",
          "$ref": "WorkerShutdownNoticeResponse"
        },
        "streamingScalingReportResponse": {
          "description": "Service's streaming scaling response for workers.",
          "$ref": "StreamingScalingReportResponse"
        },
        "workerHealthReportResponse": {
          "$ref": "WorkerHealthReportResponse",
          "description": "The service's response to a worker's health report."
        },
        "workerThreadScalingReportResponse": {
          "$ref": "WorkerThreadScalingReportResponse",
          "description": "Service's thread scaling recommendation for workers."
        }
      },
      "description": "A worker_message response allows the server to pass information to the sender.",
      "id": "WorkerMessageResponse",
      "type": "object"
    },
    "StageExecutionDetails": {
      "properties": {
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        },
        "workers": {
          "items": {
            "$ref": "WorkerDetails"
          },
          "type": "array",
          "description": "Workers that have done work on the stage."
        }
      },
      "description": "Information about the workers and work items within a stage.",
      "type": "object",
      "id": "StageExecutionDetails"
    },
    "ListConfigStoreSettingsResponse": {
      "description": "Response message for ListConfigStoreSettings.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page.",
          "type": "string"
        },
        "configStoreSettings": {
          "type": "array",
          "description": "The list of ConfigStoreSettings.",
          "items": {
            "$ref": "ConfigStoreSetting"
          }
        }
      },
      "id": "ListConfigStoreSettingsResponse",
      "type": "object"
    },
    "SideInputInfo": {
      "properties": {
        "tag": {
          "type": "string",
          "description": "The id of the tag the user code will access this side input by; this should correspond to the tag of some MultiOutputInfo."
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array",
          "description": "The source(s) to read element(s) from to get the value of this side input. If more than one source, then the elements are taken from the sources, in the specified order if order matters. At least one source is required."
        },
        "kind": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "How to interpret the source element(s) as a side input value."
        }
      },
      "type": "object",
      "description": "Information about a side input of a DoFn or an input of a SeqDoFn.",
      "id": "SideInputInfo"
    },
    "DynamicSourceSplit": {
      "type": "object",
      "description": "When a task splits using WorkItemStatus.dynamic_source_split, this message describes the two parts of the split relative to the description of the current task's input.",
      "id": "DynamicSourceSplit",
      "properties": {
        "residual": {
          "$ref": "DerivedSource",
          "description": "Residual part (returned to the pool of work). Specified relative to the previously-current source."
        },
        "primary": {
          "description": "Primary part (continued to be processed by worker). Specified relative to the previously-current source. Becomes current.",
          "$ref": "DerivedSource"
        }
      }
    },
    "Base2Exponent": {
      "description": "Exponential buckets where the growth factor between buckets is `2**(2**-scale)`. e.g. for `scale=1` growth factor is `2**(2**(-1))=sqrt(2)`. `n` buckets will have the following boundaries. - 0th: [0, gf) - i in [1, n-1]: [gf^(i), gf^(i+1))",
      "type": "object",
      "properties": {
        "scale": {
          "type": "integer",
          "description": "Must be between -3 and 3. This forces the growth factor of the bucket boundaries to be between `2^(1/8)` and `256`.",
          "format": "int32"
        },
        "numberOfBuckets": {
          "description": "Must be greater than 0.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Base2Exponent"
    },
    "Sdk": {
      "id": "Sdk",
      "type": "object",
      "properties": {
        "sdkId": {
          "type": "string",
          "description": "The SDK harness id."
        },
        "stacks": {
          "description": "The stacktraces for the processes running on the SDK harness.",
          "type": "array",
          "items": {
            "$ref": "Stack"
          }
        }
      },
      "description": "A structured representation of an SDK."
    },
    "AutoscalingSettings": {
      "description": "Settings for WorkerPool autoscaling.",
      "id": "AutoscalingSettings",
      "properties": {
        "algorithm": {
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ],
          "type": "string",
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "description": "The algorithm to use for autoscaling."
        },
        "maxNumWorkers": {
          "description": "The maximum number of workers to cap scaling at.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "StructuredMessage": {
      "id": "StructuredMessage",
      "properties": {
        "messageKey": {
          "description": "Identifier for this message type. Used by external systems to internationalize or personalize message.",
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The structured data associated with this message."
        },
        "messageText": {
          "type": "string",
          "description": "Human-readable version of message."
        }
      },
      "description": "A rich message format, including a human readable string, a key for identifying the message, and structured data associated with the message for programmatic consumption.",
      "type": "object"
    },
    "RuntimeMetadata": {
      "id": "RuntimeMetadata",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "ParameterMetadata"
          },
          "type": "array",
          "description": "The parameters for the template."
        },
        "sdkInfo": {
          "$ref": "SDKInfo",
          "description": "SDK Info for the template."
        }
      },
      "type": "object",
      "description": "RuntimeMetadata describing a runtime environment."
    },
    "SendDebugCaptureRequest": {
      "description": "Request to send encoded debug information. Next ID: 8",
      "type": "object",
      "properties": {
        "workerId": {
          "description": "The worker id, i.e., VM hostname.",
          "type": "string"
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
          "type": "string"
        },
        "data": {
          "description": "The encoded debug information.",
          "type": "string"
        },
        "componentId": {
          "type": "string",
          "description": "The internal component id for which debug information is sent."
        },
        "dataFormat": {
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "RAW",
            "JSON",
            "ZLIB",
            "BROTLI"
          ],
          "description": "Format for the data field above (id=5).",
          "enumDescriptions": [
            "Format unspecified, parsing is determined based upon page type and legacy encoding. (go/protodosdonts#do-include-an-unspecified-value-in-an-enum)",
            "Raw HTML string.",
            "JSON-encoded string.",
            "Websafe encoded zlib-compressed string.",
            "Websafe encoded brotli-compressed string."
          ],
          "type": "string"
        }
      },
      "id": "SendDebugCaptureRequest"
    },
    "StreamingStragglerInfo": {
      "type": "object",
      "description": "Information useful for streaming straggler identification and debugging.",
      "properties": {
        "dataWatermarkLag": {
          "description": "The event-time watermark lag at the time of the straggler detection.",
          "format": "google-duration",
          "type": "string"
        },
        "workerName": {
          "description": "Name of the worker where the straggler was detected.",
          "type": "string"
        },
        "endTime": {
          "description": "End time of this straggler.",
          "type": "string",
          "format": "google-datetime"
        },
        "systemWatermarkLag": {
          "type": "string",
          "description": "The system watermark lag at the time of the straggler detection.",
          "format": "google-duration"
        },
        "startTime": {
          "description": "Start time of this straggler.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "StreamingStragglerInfo"
    },
    "ResourceUtilizationReportResponse": {
      "type": "object",
      "description": "Service-side response to WorkerMessage reporting resource utilization.",
      "properties": {},
      "id": "ResourceUtilizationReportResponse"
    },
    "DataSamplingConfig": {
      "id": "DataSamplingConfig",
      "type": "object",
      "description": "Configuration options for sampling elements.",
      "properties": {
        "behaviors": {
          "type": "array",
          "description": "List of given sampling behaviors to enable. For example, specifying behaviors = [ALWAYS_ON] samples in-flight elements but does not sample exceptions. Can be used to specify multiple behaviors like, behaviors = [ALWAYS_ON, EXCEPTIONS] for specifying periodic sampling and exception sampling. If DISABLED is in the list, then sampling will be disabled and ignore the other given behaviors. Ordering does not matter.",
          "items": {
            "enum": [
              "DATA_SAMPLING_BEHAVIOR_UNSPECIFIED",
              "DISABLED",
              "ALWAYS_ON",
              "EXCEPTIONS"
            ],
            "enumDescriptions": [
              "If given, has no effect on sampling behavior. Used as an unknown or unset sentinel value.",
              "When given, disables element sampling. Has same behavior as not setting the behavior.",
              "When given, enables sampling in-flight from all PCollections.",
              "When given, enables sampling input elements when a user-defined DoFn causes an exception."
            ],
            "type": "string"
          }
        }
      }
    },
    "PerStepNamespaceMetrics": {
      "description": "Metrics for a particular unfused step and namespace. A metric is uniquely identified by the `metrics_namespace`, `original_step`, `metric name` and `metric_labels`.",
      "type": "object",
      "properties": {
        "metricsNamespace": {
          "description": "The namespace of these metrics on the worker.",
          "type": "string"
        },
        "originalStep": {
          "type": "string",
          "description": "The original system name of the unfused step that these metrics are reported from."
        },
        "metricValues": {
          "items": {
            "$ref": "MetricValue"
          },
          "description": "Optional. Metrics that are recorded for this namespace and unfused step.",
          "type": "array"
        }
      },
      "id": "PerStepNamespaceMetrics"
    },
    "BigQueryIODetails": {
      "type": "object",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "Dataset accessed in the connection."
        },
        "query": {
          "type": "string",
          "description": "Query used to access data in the connection."
        },
        "projectId": {
          "description": "Project accessed in the connection.",
          "type": "string"
        },
        "table": {
          "description": "Table accessed in the connection.",
          "type": "string"
        }
      },
      "id": "BigQueryIODetails",
      "description": "Metadata for a BigQuery connector used by the job."
    },
    "CounterUpdate": {
      "properties": {
        "shortId": {
          "format": "int64",
          "description": "The service-generated short identifier for this counter. The short_id -> (name, metadata) mapping is constant for the lifetime of a job.",
          "type": "string"
        },
        "floatingPointList": {
          "description": "List of floating point numbers, for Set.",
          "$ref": "FloatingPointList"
        },
        "structuredNameAndMetadata": {
          "description": "Counter structured name and metadata.",
          "$ref": "CounterStructuredNameAndMetadata"
        },
        "floatingPointMean": {
          "description": "Floating point mean aggregation value for Mean.",
          "$ref": "FloatingPointMean"
        },
        "integerMean": {
          "description": "Integer mean aggregation value for Mean.",
          "$ref": "IntegerMean"
        },
        "stringList": {
          "description": "List of strings, for Set.",
          "$ref": "StringList"
        },
        "boundedTrie": {
          "description": "Bounded trie data",
          "$ref": "BoundedTrie"
        },
        "cumulative": {
          "description": "True if this counter is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this counter is reported as a delta.",
          "type": "boolean"
        },
        "integerList": {
          "$ref": "IntegerList",
          "description": "List of integers, for Set."
        },
        "integer": {
          "$ref": "SplitInt64",
          "description": "Integer value for Sum, Max, Min."
        },
        "internal": {
          "type": "any",
          "description": "Value for internally-defined counters used by the Dataflow service."
        },
        "integerGauge": {
          "description": "Gauge data",
          "$ref": "IntegerGauge"
        },
        "distribution": {
          "description": "Distribution data",
          "$ref": "DistributionUpdate"
        },
        "floatingPoint": {
          "type": "number",
          "format": "double",
          "description": "Floating point value for Sum, Max, Min."
        },
        "nameAndKind": {
          "description": "Counter name and aggregation type.",
          "$ref": "NameAndKind"
        },
        "boolean": {
          "description": "Boolean value for And, Or.",
          "type": "boolean"
        }
      },
      "description": "An update to a Counter sent from a worker. Next ID: 17",
      "type": "object",
      "id": "CounterUpdate"
    },
    "LaunchFlexTemplateResponse": {
      "id": "LaunchFlexTemplateResponse",
      "description": "Response to the request to launch a job from Flex Template.",
      "type": "object",
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      }
    },
    "MetricStructuredName": {
      "type": "object",
      "description": "Identifies a metric, by describing the source which generated the metric.",
      "id": "MetricStructuredName",
      "properties": {
        "context": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Zero or more labeled fields which identify the part of the job this metric is associated with, such as the name of a step or collection. For example, built-in counters associated with steps will have context['step'] = . Counters associated with PCollections in the SDK will have context['pcollection'] = ."
        },
        "origin": {
          "type": "string",
          "description": "Origin (namespace) of metric name. May be blank for user-define metrics; will be \"dataflow\" for metrics defined by the Dataflow service or SDK."
        },
        "name": {
          "description": "Worker-defined metric name.",
          "type": "string"
        }
      }
    },
    "SendDebugCaptureResponse": {
      "type": "object",
      "id": "SendDebugCaptureResponse",
      "properties": {},
      "description": "Response to a send capture request. nothing"
    },
    "OutlierStats": {
      "description": "Statistics for the underflow and overflow bucket.",
      "type": "object",
      "id": "OutlierStats",
      "properties": {
        "overflowCount": {
          "description": "Number of values that are larger than the upper bound of the largest bucket.",
          "type": "string",
          "format": "int64"
        },
        "overflowMean": {
          "description": "Mean of values in the overflow bucket.",
          "type": "number",
          "format": "double"
        },
        "underflowCount": {
          "description": "Number of values that are smaller than the lower bound of the smallest bucket.",
          "type": "string",
          "format": "int64"
        },
        "underflowMean": {
          "type": "number",
          "format": "double",
          "description": "Mean of values in the undeflow bucket."
        }
      }
    },
    "StreamingApplianceSnapshotConfig": {
      "type": "object",
      "description": "Streaming appliance snapshot configuration.",
      "id": "StreamingApplianceSnapshotConfig",
      "properties": {
        "importStateEndpoint": {
          "description": "Indicates which endpoint is used to import appliance state.",
          "type": "string"
        },
        "snapshotId": {
          "type": "string",
          "description": "If set, indicates the snapshot id for the snapshot being performed."
        }
      }
    },
    "ParameterMetadataEnumOption": {
      "type": "object",
      "id": "ParameterMetadataEnumOption",
      "description": "ParameterMetadataEnumOption specifies the option shown in the enum form.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The value of the enum option."
        },
        "label": {
          "type": "string",
          "description": "Optional. The label to display for the enum option."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description to display for the enum option."
        }
      }
    },
    "FlexTemplateRuntimeEnvironment": {
      "properties": {
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL."
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "type": "string",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ]
        },
        "workerZone": {
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "maxWorkers": {
          "description": "The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000.",
          "type": "integer",
          "format": "int32"
        },
        "additionalPipelineOptions": {
          "description": "Optional. Additional pipeline option flags for the job.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "diskSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Worker disk size, in gigabytes."
        },
        "machineType": {
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        },
        "additionalUserLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional user labels to be specified for the job. Keys and values must follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }.",
          "type": "object"
        },
        "tempLocation": {
          "type": "string",
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`."
        },
        "serviceAccountEmail": {
[...]
