{
  "mtlsRootUrl": "https://datastream.mtls.googleapis.com/",
  "title": "Datastream API",
  "kind": "discovery#restDescription",
  "baseUrl": "https://datastream.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "revision": "20260818",
  "id": "datastream:v1alpha1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "version_module": true,
  "protocol": "rest",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    }
  },
  "name": "datastream",
  "discoveryVersion": "v1",
  "description": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "version": "v1alpha1",
  "documentationLink": "https://cloud.google.com/datastream/",
  "fullyEncodeReservedExpansion": true,
  "endpoints": [
    {
      "endpointUrl": "https://datastream.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://datastream.asia-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-east2.rep.googleapis.com/",
      "location": "asia-east2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://datastream.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://datastream.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://datastream.asia-south2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast2",
      "endpointUrl": "https://datastream.asia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast3",
      "endpointUrl": "https://datastream.asia-southeast3.rep.googleapis.com/"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://datastream.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://datastream.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://datastream.europe-north2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://datastream.europe-west12.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.europe-west15.rep.googleapis.com/",
      "location": "europe-west15",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west2.rep.googleapis.com/"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://datastream.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://datastream.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://datastream.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "location": "me-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.me-central2.rep.googleapis.com/"
    },
    {
      "location": "me-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.me-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://datastream.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://datastream.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.southamerica-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://datastream.southamerica-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://datastream.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://datastream.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://datastream.us-east7.rep.googleapis.com/"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://datastream.us-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://datastream.us-west4.rep.googleapis.com/"
    }
  ],
  "servicePath": "",
  "canonicalName": "Datastream",
  "schemas": {
    "MysqlSourceConfig": {
      "id": "MysqlSourceConfig",
      "properties": {
        "rejectlist": {
          "description": "MySQL objects to exclude from the stream.",
          "$ref": "MysqlRdbms"
        },
        "allowlist": {
          "description": "MySQL objects to retrieve from the source.",
          "$ref": "MysqlRdbms"
        }
      },
      "description": "MySQL source configuration",
      "type": "object"
    },
    "RetryInfo": {
      "type": "object",
      "description": "Describes when the clients can retry a failed request. Clients could ignore the recommendation here or retry when this information is missing from error responses. It's always recommended that clients should use exponential backoff when retrying. Clients should wait until `retry_delay` amount of time has passed since receiving the error response before retrying. If retrying requests also fail, clients should use an exponential backoff scheme to gradually increase the delay between retries based on `retry_delay`, until either a maximum number of retries have been reached or a maximum retry delay cap has been reached.",
      "id": "RetryInfo",
      "properties": {
        "retryDelay": {
          "format": "google-duration",
          "type": "string",
          "description": "Clients should wait at least this long between retrying the same request."
        }
      }
    },
    "OracleTable": {
      "id": "OracleTable",
      "description": "Oracle table.",
      "properties": {
        "tableName": {
          "type": "string",
          "description": "Table name."
        },
        "oracleColumns": {
          "description": "Oracle columns in the schema. When unspecified as part of inclue/exclude lists, includes/excludes everything.",
          "type": "array",
          "items": {
            "$ref": "OracleColumn"
          }
        }
      },
      "type": "object"
    },
    "Link": {
      "id": "Link",
      "description": "Describes a URL link.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The URL of the link."
        }
      }
    },
    "FieldViolation": {
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason for the field-level error. This is a constant value that identifies the proximate cause of the field-level error. It should uniquely identify the type of the FieldViolation within the scope of the google.rpc.ErrorInfo.domain. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE."
        },
        "field": {
          "description": "A path that leads to a field in the request body. The value will be a sequence of dot-separated identifiers that identify a protocol buffer field. Consider the following: message CreateContactRequest { message EmailAddress { enum Type { TYPE_UNSPECIFIED = 0; HOME = 1; WORK = 2; } optional string email = 1; repeated EmailType type = 2; } string full_name = 1; repeated EmailAddress email_addresses = 2; } In this example, in proto `field` could take one of the following values: * `full_name` for a violation in the `full_name` value * `email_addresses[0].email` for a violation in the `email` field of the first `email_addresses` message * `email_addresses[2].type[1]` for a violation in the second `type` value in the third `email_addresses` message. In JSON, the same values are represented as: * `fullName` for a violation in the `fullName` value * `emailAddresses[0].email` for a violation in the `email` field of the first `emailAddresses` message * `emailAddresses[2].type[1]` for a violation in the second `type` value in the third `emailAddresses` message.",
          "type": "string"
        },
        "description": {
          "description": "A description of why the request element is bad.",
          "type": "string"
        },
        "localizedMessage": {
          "description": "Provides a localized error message for field-level errors that is safe to return to the API consumer.",
          "$ref": "LocalizedMessage"
        }
      },
      "id": "FieldViolation",
      "type": "object",
      "description": "A message type used to describe a single bad request field."
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "GcsProfile": {
      "id": "GcsProfile",
      "properties": {
        "rootPath": {
          "description": "The root path inside the Cloud Storage bucket.",
          "type": "string"
        },
        "bucketName": {
          "type": "string",
          "description": "Required. The full project and resource path for Cloud Storage bucket including the name."
        }
      },
      "description": "Cloud Storage bucket profile.",
      "type": "object"
    },
    "AvroFileFormat": {
      "properties": {},
      "id": "AvroFileFormat",
      "description": "AVRO file format configuration.",
      "type": "object"
    },
    "ListRoutesResponse": {
      "description": "route list response",
      "properties": {
        "routes": {
          "description": "List of Routes.",
          "items": {
            "$ref": "Route"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListRoutesResponse"
    },
    "ValidationMessage": {
      "type": "object",
      "description": "Represent user-facing validation result message.",
      "properties": {
        "code": {
          "description": "A custom code identifying this specific message.",
          "type": "string"
        },
        "level": {
          "enumDescriptions": [
            "Unspecified level.",
            "Potentially cause issues with the Stream.",
            "Definitely cause issues with the Stream."
          ],
          "description": "Message severity level (warning or error).",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ],
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Additional metadata related to the result.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "message": {
          "description": "The result of the validation.",
          "type": "string"
        }
      },
      "id": "ValidationMessage"
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "PrivateConnection": {
      "properties": {
        "vpcPeeringConfig": {
          "$ref": "VpcPeeringConfig",
          "description": "VPC Peering Config"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "error": {
          "description": "Output only. In case of error, the details of the error in a user-friendly format.",
          "readOnly": true,
          "$ref": "Error"
        },
        "state": {
          "description": "Output only. The state of the Private Connection.",
          "enumDescriptions": [
            "",
            "The private connection is in creation state - creating resources.",
            "The private connection has been created with all of its resources.",
            "The private connection creation has failed.",
            "The private connection is being deleted.",
            "Delete request has failed, resource is in invalid state."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "FAILED",
            "DELETING",
            "FAILED_TO_DELETE"
          ],
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource's name.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The update time of the resource."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The create time of the resource.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "The PrivateConnection resource is used to establish private connectivity between Datastream and a customer's network.",
      "type": "object",
      "id": "PrivateConnection"
    },
    "FetchStaticIpsResponse": {
      "id": "FetchStaticIpsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "staticIps": {
          "description": "list of static ips by account",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for a 'FetchStaticIps' response.",
      "type": "object"
    },
    "LocalizedMessage": {
      "properties": {
        "message": {
          "type": "string",
          "description": "The localized error message in the above locale."
        },
        "locale": {
          "type": "string",
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\""
        }
      },
      "type": "object",
      "id": "LocalizedMessage",
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error."
    },
    "JsonFileFormat": {
      "properties": {
        "schemaFileFormat": {
          "description": "The schema file format along JSON data files.",
          "type": "string",
          "enum": [
            "SCHEMA_FILE_FORMAT_UNSPECIFIED",
            "NO_SCHEMA_FILE",
            "AVRO_SCHEMA_FILE"
          ],
          "enumDescriptions": [
            "Unspecified schema file format.",
            "Do not attach schema file.",
            "Avro schema format."
          ]
        },
        "compression": {
          "enumDescriptions": [
            "Unspecified json file compression.",
            "Do not compress JSON file.",
            "Gzip compression."
          ],
          "description": "Compression of the loaded JSON file.",
          "type": "string",
          "enum": [
            "JSON_COMPRESSION_UNSPECIFIED",
            "NO_COMPRESSION",
            "GZIP"
          ]
        }
      },
      "type": "object",
      "id": "JsonFileFormat",
      "description": "JSON file format configuration."
    },
    "QuotaFailureViolation": {
      "type": "object",
      "description": "A message type used to describe a single quota violation. For example, a daily quota or a custom quota that was exceeded.",
      "id": "QuotaFailureViolation",
      "properties": {
        "description": {
          "description": "A description of how the quota check failed. Clients can use this description to find more about the quota configuration in the service's public documentation, or find the relevant quota limit to adjust through developer console. For example: \"Service disabled\" or \"Daily Limit for read operations exceeded\".",
          "type": "string"
        },
        "apiService": {
          "type": "string",
          "description": "The API Service from which the `QuotaFailure.Violation` originates. In some cases, Quota issues originate from an API Service other than the one that was called. In other words, a dependency of the called API Service could be the cause of the `QuotaFailure`, and this field would have the dependency API service name. For example, if the called API is Kubernetes Engine API (container.googleapis.com), and a quota violation occurs in the Kubernetes Engine API itself, this field would be \"container.googleapis.com\". On the other hand, if the quota violation occurs when the Kubernetes Engine API creates VMs in the Compute Engine API (compute.googleapis.com), this field would be \"compute.googleapis.com\"."
        },
        "quotaDimensions": {
          "description": "The dimensions of the violated quota. Every non-global quota is enforced on a set of dimensions. While quota metric defines what to count, the dimensions specify for what aspects the counter should be increased. For example, the quota \"CPUs per region per VM family\" enforces a limit on the metric \"compute.googleapis.com/cpus_per_vm_family\" on dimensions \"region\" and \"vm_family\". And if the violation occurred in region \"us-central1\" and for VM family \"n1\", the quota_dimensions would be, { \"region\": \"us-central1\", \"vm_family\": \"n1\", } When a quota is enforced globally, the quota_dimensions would always be empty.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "quotaValue": {
          "format": "int64",
          "type": "string",
          "description": "The enforced quota value at the time of the `QuotaFailure`. For example, if the enforced quota value at the time of the `QuotaFailure` on the number of CPUs is \"10\", then the value of this field would reflect this quantity."
        },
        "subject": {
          "type": "string",
          "description": "The subject on which the quota check failed. For example, \"clientip:\" or \"project:\"."
        },
        "futureQuotaValue": {
          "description": "The new quota value being rolled out at the time of the violation. At the completion of the rollout, this value will be enforced in place of quota_value. If no rollout is in progress at the time of the violation, this field is not set. For example, if at the time of the violation a rollout is in progress changing the number of CPUs quota from 10 to 20, 20 would be the value of this field.",
          "format": "int64",
          "type": "string"
        },
        "quotaId": {
          "description": "The id of the violated quota. Also know as \"limit name\", this is the unique identifier of a quota in the context of an API service. For example, \"CPUS-PER-VM-FAMILY-per-project-region\".",
          "type": "string"
        },
        "quotaMetric": {
          "type": "string",
          "description": "The metric of the violated quota. A quota metric is a named counter to measure usage, such as API requests or CPUs. When an activity occurs in a service, such as Virtual Machine allocation, one or more quota metrics may be affected. For example, \"compute.googleapis.com/cpus_per_vm_family\", \"storage.googleapis.com/internet_egress_bandwidth\"."
        }
      }
    },
    "MysqlTable": {
      "properties": {
        "tableName": {
          "description": "Table name.",
          "type": "string"
        },
        "mysqlColumns": {
          "items": {
            "$ref": "MysqlColumn"
          },
          "description": "MySQL columns in the database. When unspecified as part of include/exclude lists, includes/excludes everything.",
          "type": "array"
        }
      },
      "description": "MySQL table.",
      "type": "object",
      "id": "MysqlTable"
    },
    "OracleRdbms": {
      "description": "Oracle database structure.",
      "properties": {
        "oracleSchemas": {
          "description": "Oracle schemas/databases in the database server.",
          "type": "array",
          "items": {
            "$ref": "OracleSchema"
          }
        }
      },
      "id": "OracleRdbms",
      "type": "object"
    },
    "GcsDestinationConfig": {
      "description": "Google Cloud Storage destination configuration",
      "id": "GcsDestinationConfig",
      "type": "object",
      "properties": {
        "fileRotationMb": {
          "type": "integer",
          "description": "The maximum file size to be saved in the bucket.",
          "format": "int32"
        },
        "fileRotationInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "The maximum duration for which new events are added before a file is closed and a new file is created."
        },
        "jsonFileFormat": {
          "description": "JSON file format configuration.",
          "$ref": "JsonFileFormat"
        },
        "avroFileFormat": {
          "description": "AVRO file format configuration.",
          "$ref": "AvroFileFormat"
        },
        "path": {
          "description": "Path inside the Cloud Storage bucket to write data to.",
          "type": "string"
        },
        "gcsFileFormat": {
          "type": "string",
          "description": "File format that data should be written in. Deprecated field (b/169501737) - use file_format instead.",
          "enumDescriptions": [
            "Unspecified Cloud Storage file format.",
            "Avro file format"
          ],
          "enum": [
            "GCS_FILE_FORMAT_UNSPECIFIED",
            "AVRO"
          ],
          "deprecated": true
        }
      }
    },
    "Validation": {
      "type": "object",
      "properties": {
        "code": {
          "description": "A custom code identifying this validation.",
          "type": "string"
        },
        "message": {
          "type": "array",
          "items": {
            "$ref": "ValidationMessage"
          },
          "description": "Messages reflecting the validation results."
        },
        "description": {
          "type": "string",
          "description": "A short description of the validation."
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_EXECUTED",
            "FAILED",
            "PASSED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "Validation did not execute.",
            "Validation failed.",
            "Validation passed."
          ],
          "type": "string",
          "description": "Validation execution status."
        }
      },
      "id": "Validation"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "DebugInfo": {
      "type": "object",
      "properties": {
        "detail": {
          "description": "Additional debugging information provided by the server.",
          "type": "string"
        },
        "stackEntries": {
          "type": "array",
          "description": "The stack trace entries indicating where the error occurred.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Describes additional debugging info.",
      "id": "DebugInfo"
    },
    "ListPrivateConnectionsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "privateConnections": {
          "items": {
            "$ref": "PrivateConnection"
          },
          "description": "List of private connectivity configurations.",
          "type": "array"
        }
      },
      "id": "ListPrivateConnectionsResponse",
      "type": "object"
    },
    "DestinationConfig": {
      "description": "The configuration of the stream destination.",
      "properties": {
        "gcsDestinationConfig": {
          "$ref": "GcsDestinationConfig",
          "description": "GCS destination configuration."
        },
        "destinationConnectionProfileName": {
          "type": "string",
          "description": "Required. Destination connection profile identifier."
        }
      },
      "type": "object",
      "id": "DestinationConfig"
    },
    "ErrorInfo": {
      "description": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }",
      "id": "ErrorInfo",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request."
        },
        "reason": {
          "description": "The reason for the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        },
        "domain": {
          "description": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StaticServiceIpConnectivity": {
      "id": "StaticServiceIpConnectivity",
      "description": "Static IP address connectivity.",
      "type": "object",
      "properties": {}
    },
    "PreconditionFailure": {
      "type": "object",
      "id": "PreconditionFailure",
      "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message.",
      "properties": {
        "violations": {
          "items": {
            "$ref": "PreconditionFailureViolation"
          },
          "type": "array",
          "description": "Describes all precondition violations."
        }
      }
    },
    "BackfillNoneStrategy": {
      "id": "BackfillNoneStrategy",
      "type": "object",
      "properties": {},
      "description": "Backfill strategy to disable automatic backfill for the Stream's objects."
    },
    "SourceObjectIdentifier": {
      "properties": {
        "mysqlIdentifier": {
          "$ref": "MysqlObjectIdentifier",
          "description": "Mysql data source object identifier."
        },
        "oracleIdentifier": {
          "description": "Oracle data source object identifier.",
          "$ref": "OracleObjectIdentifier"
        }
      },
      "id": "SourceObjectIdentifier",
      "description": "Represents an identifier of an object in the data source.",
      "type": "object"
    },
    "StartBackfillJobResponse": {
      "type": "object",
      "properties": {
        "object": {
          "$ref": "StreamObject",
          "description": "The stream object resource a backfill job was started for."
        }
      },
      "id": "StartBackfillJobResponse",
      "description": "Response for manually initiating a backfill job for a specific stream object."
    },
    "BadRequest": {
      "properties": {
        "fieldViolations": {
          "type": "array",
          "items": {
            "$ref": "FieldViolation"
          },
          "description": "Describes all violations in a client request."
        }
      },
      "description": "Describes violations in a client request. This error type focuses on the syntactic aspects of the request.",
      "type": "object",
      "id": "BadRequest"
    },
    "PreconditionFailureViolation": {
      "properties": {
        "subject": {
          "type": "string",
          "description": "The subject, relative to the type, that failed. For example, \"google.com/cloud\" relative to the \"TOS\" type would indicate which terms of service is being referenced."
        },
        "type": {
          "type": "string",
          "description": "The type of PreconditionFailure. We recommend using a service-specific enum type to define the supported precondition violation subjects. For example, \"TOS\" for \"Terms of Service violation\"."
        },
        "description": {
          "description": "A description of how the precondition failed. Developers can use this description to understand how to fix the failure. For example: \"Terms of service not accepted\".",
          "type": "string"
        }
      },
      "id": "PreconditionFailureViolation",
      "description": "A message type used to describe a single precondition failure.",
      "type": "object"
    },
    "StreamObject": {
      "type": "object",
      "id": "StreamObject",
      "description": "A specific stream object (e.g a specific DB table).",
      "properties": {
        "name": {
          "description": "Output only. The object's name.",
          "type": "string",
          "readOnly": true
        },
        "sourceObject": {
          "description": "The object identifier in the data source.",
          "$ref": "SourceObjectIdentifier"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last update time of the object.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The creation time of the object.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "errors": {
          "description": "Output only. Active errors on the object.",
          "items": {
            "$ref": "Error"
          },
          "readOnly": true,
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "backfillJob": {
          "description": "The latest backfill job that was initiated for the stream object.",
          "$ref": "BackfillJob"
        }
      }
    },
    "ListStreamsResponse": {
      "id": "ListStreamsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "streams": {
          "type": "array",
          "items": {
            "$ref": "Stream"
          },
          "description": "List of streams"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "DiscoverConnectionProfileResponse": {
      "id": "DiscoverConnectionProfileResponse",
      "type": "object",
      "properties": {
        "oracleRdbms": {
          "description": "Enriched Oracle RDBMS object.",
          "$ref": "OracleRdbms"
        },
        "mysqlRdbms": {
          "$ref": "MysqlRdbms",
          "description": "Enriched MySQL RDBMS object."
        }
      }
    },
    "OracleSchema": {
      "id": "OracleSchema",
      "properties": {
        "schemaName": {
          "description": "Schema name.",
          "type": "string"
        },
        "oracleTables": {
          "type": "array",
          "items": {
            "$ref": "OracleTable"
          },
          "description": "Tables in the schema."
        }
      },
      "description": "Oracle schema.",
      "type": "object"
    },
    "VpcPeeringConfig": {
      "properties": {
        "subnet": {
          "description": "Required. A free subnet for peering. (CIDR of /29)",
          "type": "string"
        },
        "vpcName": {
          "description": "Required. fully qualified name of the VPC Datastream will peer to.",
          "type": "string"
        }
      },
      "id": "VpcPeeringConfig",
      "type": "object",
      "description": "The VPC Peering configuration is used to create VPC peering between Datastream and the consumer's VPC."
    },
    "QuotaFailure": {
      "type": "object",
      "id": "QuotaFailure",
      "properties": {
        "violations": {
          "type": "array",
          "items": {
            "$ref": "QuotaFailureViolation"
          },
          "description": "Describes all quota violations."
        }
      },
      "description": "Describes how a quota check failed. For example if a daily limit was exceeded for the calling project, a service could respond with a QuotaFailure detail containing the project id and the description of the quota limit that was exceeded. If the calling project hasn't enabled the service in the developer console, then a service could respond with the project id and set `service_disabled` to true. Also see RetryInfo and Help types for other details about handling a quota failure."
    },
    "ListConnectionProfilesResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "connectionProfiles": {
          "type": "array",
          "description": "List of connection profiles.",
          "items": {
            "$ref": "ConnectionProfile"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListConnectionProfilesResponse"
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "MysqlSslConfig": {
      "id": "MysqlSslConfig",
      "type": "object",
      "description": "MySQL SSL configuration information.",
      "properties": {
        "clientCertificate": {
          "type": "string",
          "description": "Input only. PEM-encoded certificate that will be used by the replica to authenticate against the source database server. If this field is used then the 'client_key' and the 'ca_certificate' fields are mandatory."
        },
        "clientKey": {
          "description": "Input only. PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory.",
          "type": "string"
        },
        "caCertificate": {
          "type": "string",
          "description": "Input only. PEM-encoded certificate of the CA that signed the source database server's certificate."
        },
        "clientCertificateSet": {
          "description": "Output only. Indicates whether the client_certificate field is set.",
          "readOnly": true,
          "type": "boolean"
        },
        "clientKeySet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the client_key field is set."
        },
        "caCertificateSet": {
          "readOnly": true,
          "description": "Output only. Indicates whether the ca_certificate field is set.",
          "type": "boolean"
        }
      }
    },
    "FetchErrorsRequest": {
      "id": "FetchErrorsRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for 'FetchErrors' request."
    },
    "Help": {
      "description": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit.",
      "id": "Help",
      "type": "object",
      "properties": {
        "links": {
          "items": {
            "$ref": "Link"
          },
          "description": "URL(s) pointing to additional information on handling the current error.",
          "type": "array"
        }
      }
    },
    "DiscoverConnectionProfileRequest": {
      "description": "Request message for 'discover' ConnectionProfile request.",
      "properties": {
        "connectionProfileName": {
          "description": "A reference to an existing ConnectionProfile.",
          "type": "string"
        },
        "recursionDepth": {
          "format": "int32",
          "type": "integer",
          "description": "The number of hierarchy levels below the current level to be retrieved."
        },
        "oracleRdbms": {
          "description": "Oracle RDBMS to enrich with child data objects and metadata.",
          "$ref": "OracleRdbms"
        },
        "mysqlRdbms": {
          "$ref": "MysqlRdbms",
          "description": "MySQL RDBMS to enrich with child data objects and metadata."
        },
        "recursive": {
          "type": "boolean",
          "description": "Whether to retrieve the full hierarchy of data objects (TRUE) or only the current level (FALSE)."
        },
        "connectionProfile": {
          "$ref": "ConnectionProfile",
          "description": "An ad-hoc ConnectionProfile configuration."
        }
      },
      "id": "DiscoverConnectionProfileRequest",
      "type": "object"
    },
    "SourceConfig": {
      "properties": {
        "oracleSourceConfig": {
          "description": "Oracle data source configuration",
          "$ref": "OracleSourceConfig"
        },
        "sourceConnectionProfileName": {
          "description": "Required. Source connection profile identifier.",
          "type": "string"
        },
        "mysqlSourceConfig": {
          "description": "MySQL data source configuration",
          "$ref": "MysqlSourceConfig"
        }
      },
      "type": "object",
      "id": "SourceConfig",
      "description": "The configuration of the stream source."
    },
    "StopBackfillJobResponse": {
      "description": "Response for manually stop a backfill job for a specific stream object.",
      "type": "object",
      "properties": {
        "object": {
          "description": "The stream object resource the backfill job was stopped for.",
          "$ref": "StreamObject"
        }
      },
      "id": "StopBackfillJobResponse"
    },
    "ResourceInfo": {
      "id": "ResourceInfo",
      "properties": {
        "resourceName": {
          "description": "The name of the resource being accessed. For example, a shared calendar name: \"example.com_4fghdhgsrgh@group.calendar.google.com\", if the current error is google.rpc.Code.PERMISSION_DENIED.",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "description": "A name for the type of resource being accessed, e.g. \"sql table\", \"cloud storage bucket\", \"file\", \"Google calendar\"; or the type URL of the resource: e.g. \"type.googleapis.com/google.pubsub.v1.Topic\"."
        },
        "description": {
          "type": "string",
          "description": "Describes what error is encountered when accessing this resource. For example, updating a cloud project may require the `writer` permission on the developer console project."
        },
        "owner": {
          "description": "The owner of the resource (optional). For example, \"user:\" or \"project:\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes the resource that is being accessed."
    },
    "OracleObjectIdentifier": {
      "properties": {
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      },
      "id": "OracleObjectIdentifier",
      "description": "Oracle data source object identifier.",
      "type": "object"
    },
    "ValidationResult": {
      "id": "ValidationResult",
      "properties": {
        "validations": {
          "type": "array",
          "description": "A list of validations (includes both executed as well as not executed validations).",
          "items": {
            "$ref": "Validation"
          }
        }
      },
      "description": "Contains the current validation results.",
      "type": "object"
    },
    "FetchErrorsResponse": {
      "description": "Response message for a 'FetchErrors' response.",
      "properties": {
        "errors": {
          "description": "The list of errors on the Stream.",
          "type": "array",
          "items": {
            "$ref": "Error"
          }
        }
      },
      "type": "object",
      "id": "FetchErrorsResponse"
    },
    "ConnectionProfile": {
      "properties": {
        "updateTime": {
          "description": "Output only. The update time of the resource.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource's name.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The create time of the resource."
        },
        "oracleProfile": {
          "description": "Oracle ConnectionProfile configuration.",
          "$ref": "OracleProfile"
        },
        "mysqlProfile": {
          "$ref": "MysqlProfile",
          "description": "MySQL ConnectionProfile configuration."
        },
        "noConnectivity": {
          "$ref": "NoConnectivitySettings",
          "description": "No connectivity option chosen."
        },
        "gcsProfile": {
          "description": "Cloud Storage ConnectionProfile configuration.",
          "$ref": "GcsProfile"
        },
        "forwardSshConnectivity": {
          "description": "Forward SSH tunnel connectivity.",
          "$ref": "ForwardSshTunnelConnectivity"
        },
        "privateConnectivity": {
          "description": "Private connectivity.",
          "$ref": "PrivateConnectivity"
        },
        "labels": {
          "type": "object",
          "description": "Labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "staticServiceIpConnectivity": {
          "$ref": "StaticServiceIpConnectivity",
          "description": "Static Service IP connectivity."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        }
      },
      "type": "object",
      "id": "ConnectionProfile"
    },
    "RequestInfo": {
      "id": "RequestInfo",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "An opaque string that should only be interpreted by the service generating it. For example, it can be used to identify requests in the service's logs.",
          "type": "string"
        },
        "servingData": {
          "description": "Any data that was used to serve this request. For example, an encrypted stack trace that can be sent back to the service provider for debugging.",
          "type": "string"
        }
      },
      "description": "Contains metadata about the request that clients can attach when filing a bug or providing other forms of feedback."
    },
    "PrivateConnectivity": {
      "properties": {
        "privateConnectionName": {
          "type": "string"
        }
      },
      "id": "PrivateConnectivity",
      "description": "Private Connectivity",
      "type": "object"
    },
    "MysqlRdbms": {
      "type": "object",
      "properties": {
        "mysqlDatabases": {
          "description": "Mysql databases on the server",
          "type": "array",
          "items": {
            "$ref": "MysqlDatabase"
          }
        }
      },
      "id": "MysqlRdbms",
      "description": "MySQL database structure"
    },
    "MysqlColumn": {
      "id": "MysqlColumn",
      "description": "MySQL Column.",
      "properties": {
        "nullable": {
          "type": "boolean",
          "description": "Whether or not the column can accept a null value."
        },
        "collation": {
          "description": "Column collation.",
          "type": "string"
        },
        "columnName": {
          "type": "string",
          "description": "Column name."
        },
        "length": {
          "description": "Column length.",
          "type": "integer",
          "format": "int32"
        },
        "primaryKey": {
          "type": "boolean",
          "description": "Whether or not the column represents a primary key."
        },
        "dataType": {
          "description": "The MySQL data type. Full data types list can be found here: https://dev.mysql.com/doc/refman/8.0/en/data-types.html",
          "type": "string"
        },
        "ordinalPosition": {
          "type": "integer",
          "format": "int32",
          "description": "The ordinal position of the column in the table."
        }
      },
      "type": "object"
    },
    "Route": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The create time of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The update time of the resource."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels."
        },
        "destinationPort": {
          "description": "Destination port for connection",
          "format": "int32",
          "type": "integer"
        },
        "destinationAddress": {
          "description": "Required. Destination address for connection",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource's name."
        }
      },
      "description": "The Route resource is the child of the PrivateConnection resource. It used to define a route for a PrivateConnection setup.",
      "id": "Route",
      "type": "object"
    },
    "OracleColumn": {
      "description": "Oracle Column.",
      "type": "object",
      "properties": {
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "nullable": {
          "type": "boolean",
          "description": "Whether or not the column can accept a null value."
        },
        "columnName": {
          "type": "string",
          "description": "Column name."
        },
        "ordinalPosition": {
          "format": "int32",
          "description": "The ordinal position of the column in the table.",
          "type": "integer"
        },
        "precision": {
          "format": "int32",
          "type": "integer",
          "description": "Column precision."
        },
        "length": {
          "format": "int32",
          "description": "Column length.",
          "type": "integer"
        },
        "dataType": {
          "description": "The Oracle data type.",
          "type": "string"
        },
        "encoding": {
          "type": "string",
          "description": "Column encoding."
        },
        "scale": {
          "description": "Column scale.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "OracleColumn"
    },
    "BackfillJob": {
      "id": "BackfillJob",
      "type": "object",
      "properties": {
        "trigger": {
          "description": "Backfill job's triggering reason.",
          "enumDescriptions": [
            "Default value.",
            "Object backfill job was triggered automatically according to the stream's backfill strategy.",
            "Object backfill job was triggered manually using the dedicated API."
          ],
          "type": "string",
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ]
        },
        "errors": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Errors which caused the backfill job to fail.",
          "items": {
            "$ref": "Error"
          }
        },
        "lastStartTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Backfill job's start time.",
          "format": "google-datetime"
        },
        "lastEndTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Backfill job's end time.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "Backfill job was never started for the stream object (stream has backfill strategy defined as manual or object was explicitly excluded from automatic backfill).",
            "Backfill job will start pending available resources.",
            "Backfill job is running.",
            "Backfill job stopped (next job run will start from beginning).",
            "Backfill job failed (due to an error).",
            "Backfill completed successfully.",
            "Backfill job failed since the table structure is currently unsupported for backfill."
          ],
          "description": "Backfill job state.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "PENDING",
            "ACTIVE",
            "STOPPED",
            "FAILED",
            "COMPLETED",
            "UNSUPPORTED"
          ]
        }
      },
      "description": "Represents a backfill job on a specific stream object."
    },
    "MysqlObjectIdentifier": {
      "description": "Mysql data source object identifier.",
      "type": "object",
      "id": "MysqlObjectIdentifier",
      "properties": {
        "database": {
          "type": "string",
          "description": "Required. The database name."
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "validationResult": {
          "$ref": "ValidationResult",
          "description": "Output only. Results of executed validations if there are any.",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "BackfillAllStrategy": {
      "id": "BackfillAllStrategy",
      "properties": {
        "mysqlExcludedObjects": {
          "$ref": "MysqlRdbms",
          "description": "MySQL data source objects to avoid backfilling."
        },
        "oracleExcludedObjects": {
          "description": "Oracle data source objects to avoid backfilling.",
          "$ref": "OracleRdbms"
        }
      },
      "type": "object",
      "description": "Backfill strategy to automatically backfill the Stream's objects. Specific objects can be excluded."
    },
    "OracleSourceConfig": {
      "type": "object",
      "description": "Oracle data source configuration",
      "properties": {
        "allowlist": {
          "$ref": "OracleRdbms",
          "description": "Oracle objects to include in the stream."
        },
        "dropLargeObjects": {
          "description": "Drop large object values.",
          "$ref": "DropLargeObjects"
        },
        "rejectlist": {
          "description": "Oracle objects to exclude from the stream.",
          "$ref": "OracleRdbms"
        }
      },
      "id": "OracleSourceConfig"
    },
    "DropLargeObjects": {
      "description": "Configuration to drop large object values.",
      "id": "DropLargeObjects",
      "properties": {},
      "type": "object"
    },
    "ForwardSshTunnelConnectivity": {
      "id": "ForwardSshTunnelConnectivity",
      "description": "Forward SSH Tunnel connectivity.",
      "properties": {
        "hostname": {
          "description": "Required. Hostname for the SSH tunnel.",
          "type": "string"
        },
        "port": {
          "description": "Port for the SSH tunnel, default value is 22.",
          "format": "int32",
          "type": "integer"
        },
        "privateKey": {
          "type": "string",
          "description": "Input only. SSH private key."
        },
        "username": {
          "description": "Required. Username for the SSH tunnel.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Input only. SSH password."
        }
      },
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status"
    },
    "Stream": {
      "properties": {
        "sourceConfig": {
          "description": "Required. Source connection profile configuration.",
          "$ref": "SourceConfig"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "RUNNING",
            "PAUSED",
            "MAINTENANCE",
            "FAILED",
            "FAILED_PERMANENTLY",
            "STARTING",
            "DRAINING"
          ],
          "type": "string",
          "description": "The state of the stream.",
          "enumDescriptions": [
            "Unspecified stream state.",
            "The stream has been created.",
            "The stream is running.",
            "The stream is paused.",
            "The stream is in maintenance mode. Updates are rejected on the resource in this state.",
            "The stream is experiencing an error that is preventing data from being streamed.",
            "The stream has experienced a terminal failure.",
            "The stream is starting, but not yet running.",
            "The Stream is no longer reading new events, but still writing events in the buffer."
          ]
        },
        "destinationConfig": {
          "$ref": "DestinationConfig",
          "description": "Required. Destination connection profile configuration."
        },
        "customerManagedEncryptionKey": {
          "type": "string",
          "description": "Immutable. A reference to a KMS encryption key. If provided, it will be used to encrypt the data. If left blank, data will be encrypted using an internal Stream-specific encryption key provisioned through KMS."
        },
        "labels": {
          "description": "Labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "backfillNone": {
          "$ref": "BackfillNoneStrategy",
          "description": "Do not automatically backfill any objects."
        },
        "backfillAll": {
          "$ref": "BackfillAllStrategy",
          "description": "Automatically backfill objects included in the stream source configuration. Specific objects can be excluded."
        },
        "errors": {
          "items": {
            "$ref": "Error"
          },
          "readOnly": true,
          "description": "Output only. Errors on the Stream.",
          "type": "array"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last update time of the stream."
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The creation time of the stream."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The stream's name."
        }
      },
      "id": "Stream",
      "type": "object"
    },
    "MysqlDatabase": {
      "id": "MysqlDatabase",
      "description": "MySQL database.",
      "type": "object",
      "properties": {
        "mysqlTables": {
          "type": "array",
          "items": {
            "$ref": "MysqlTable"
          },
          "description": "Tables in the database."
        },
        "databaseName": {
          "type": "string",
          "description": "Database name."
        }
      }
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "MysqlProfile": {
      "id": "MysqlProfile",
      "description": "MySQL database profile.",
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "description": "Required. Username for the MySQL connection."
        },
        "password": {
          "type": "string",
          "description": "Required. Input only. Password for the MySQL connection."
        },
        "sslConfig": {
          "description": "SSL configuration for the MySQL connection.",
          "$ref": "MysqlSslConfig"
        },
        "port": {
          "description": "Port for the MySQL connection, default value is 3306.",
          "type": "integer",
          "format": "int32"
        },
        "hostname": {
          "description": "Required. Hostname for the MySQL connection.",
          "type": "string"
        }
      }
    },
    "ListStreamObjectsResponse": {
      "properties": {
        "streamObjects": {
          "type": "array",
          "description": "List of stream objects.",
          "items": {
            "$ref": "StreamObject"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page.",
          "type": "string"
        }
      },
      "description": "Response containing the objects for a stream.",
      "type": "object",
      "id": "ListStreamObjectsResponse"
    },
    "Error": {
      "description": "Represent a user-facing Error.",
      "id": "Error",
      "properties": {
        "message": {
          "type": "string",
          "description": "A message containing more information about the error that occurred."
        },
        "errorTime": {
          "description": "The time when the error occurred.",
          "type": "string",
          "format": "google-datetime"
        },
        "errorUuid": {
          "description": "A unique identifier for this specific error, allowing it to be traced throughout the system in logs and API responses.",
          "type": "string"
        },
        "details": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional information about the error."
        },
        "reason": {
          "description": "A title that explains the reason for the error.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "NoConnectivitySettings": {
      "description": "No connectivity settings.",
      "properties": {},
      "type": "object",
      "id": "NoConnectivitySettings"
    },
    "OracleProfile": {
      "properties": {
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the Oracle connection."
        },
        "port": {
          "format": "int32",
          "description": "Port for the Oracle connection, default value is 1521.",
          "type": "integer"
        },
        "databaseService": {
          "description": "Required. Database for the Oracle connection.",
          "type": "string"
        },
        "connectionAttributes": {
          "description": "Connection string attributes",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the Oracle connection."
        },
        "password": {
          "type": "string",
          "description": "Required. Password for the Oracle connection."
        }
      },
      "description": "Oracle database profile.",
      "type": "object",
      "id": "OracleProfile"
    }
  },
  "rootUrl": "https://datastream.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "flatPath": "v1alpha1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "datastream.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true
                },
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "fetchStaticIps": {
              "description": "The FetchStaticIps API call exposes the static IP addresses used by Datastream.",
              "deprecated": true,
              "id": "datastream.projects.locations.fetchStaticIps",
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of Ips to return, will likely not be specified.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The name resource of the Response type. Must be in the format `projects/*/locations/*`.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListStaticIps` call. will likely not be specified."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "FetchStaticIpsResponse"
              },
              "httpMethod": "GET",
              "path": "v1alpha1/{+name}:fetchStaticIps",
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}:fetchStaticIps",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datastream.projects.locations.get"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "datastream.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "id": "datastream.projects.locations.operations.get",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1alpha1/{+name}"
                },
                "list": {
                  "path": "v1alpha1/{+name}/operations",
                  "httpMethod": "GET",
                  "id": "datastream.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation's parent resource."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "httpMethod": "POST",
                  "path": "v1alpha1/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "datastream.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                }
              }
            },
            "connectionProfiles": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "deprecated": true,
                  "path": "v1alpha1/{+parent}/connectionProfiles",
                  "description": "Use this method to list connection profiles created in a project and location.",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Maximum number of connection profiles to return. If unspecified, at most 50 connection profiles will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Page token received from a previous `ListConnectionProfiles` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConnectionProfiles` must match the call that provided the page token."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Filter request."
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Order by fields for the result."
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent that owns the collection of connection profiles.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ListConnectionProfilesResponse"
                  },
                  "id": "datastream.projects.locations.connectionProfiles.list",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/connectionProfiles"
                },
                "discover": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "datastream.projects.locations.connectionProfiles.discover",
                  "request": {
                    "$ref": "DiscoverConnectionProfileRequest"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/connectionProfiles:discover",
                  "deprecated": true,
                  "description": "Use this method to discover a connection profile. The discover API call exposes the data objects and metadata belonging to the profile. Typically, a request returns children data objects under a parent data object that's optionally supplied in the request.",
                  "path": "v1alpha1/{+parent}/connectionProfiles:discover",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource of the ConnectionProfile type. Must be in the format `projects/*/locations/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "DiscoverConnectionProfileResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "deprecated": true,
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/connectionProfiles",
                  "id": "datastream.projects.locations.connectionProfiles.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent that owns the collection of ConnectionProfiles."
                    },
                    "connectionProfileId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The connection profile identifier."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "path": "v1alpha1/{+parent}/connectionProfiles",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Use this method to create a connection profile in a project and location.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ConnectionProfile"
                  }
                },
                "delete": {
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/connectionProfiles/{connectionProfilesId}",
                  "path": "v1alpha1/{+name}",
                  "id": "datastream.projects.locations.connectionProfiles.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Use this method to delete a connection profile..",
                  "httpMethod": "DELETE",
                  "deprecated": true,
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectionProfiles/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the connection profile resource to delete.",
                      "location": "path"
                    },
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "path": "v1alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datastream.projects.locations.connectionProfiles.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/connectionProfiles/{connectionProfilesId}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the ConnectionProfile resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "description": "Output only. The resource's name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connectionProfiles/[^/]+$",
                      "location": "path"
                    },
                    "validateOnly": {
                      "location": "query",
[...]
