{
  "rootUrl": "https://datastream.googleapis.com/",
  "description": "",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://datastream.mtls.googleapis.com/",
  "endpoints": [
    {
      "endpointUrl": "https://datastream.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://datastream.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://datastream.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://datastream.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://datastream.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://datastream.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://datastream.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.australia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://datastream.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://datastream.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-north1.rep.googleapis.com/"
    },
    {
      "location": "europe-north2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-north2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://datastream.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://datastream.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west15",
      "endpointUrl": "https://datastream.europe-west15.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://datastream.europe-west8.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://datastream.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://datastream.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.me-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://datastream.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.southamerica-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datastream.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://datastream.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://datastream.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://datastream.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-east7.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-south1.rep.googleapis.com/",
      "location": "us-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://datastream.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-west3.rep.googleapis.com/"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://datastream.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "title": "Datastream API",
  "discoveryVersion": "v1",
  "version_module": true,
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/datastream/",
  "schemas": {
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "StaticServiceIpConnectivity": {
      "id": "StaticServiceIpConnectivity",
      "properties": {},
      "type": "object",
      "description": "Static IP address connectivity."
    },
    "MysqlSourceConfig": {
      "id": "MysqlSourceConfig",
      "type": "object",
      "properties": {
        "allowlist": {
          "description": "MySQL objects to retrieve from the source.",
          "$ref": "MysqlRdbms"
        },
        "rejectlist": {
          "description": "MySQL objects to exclude from the stream.",
          "$ref": "MysqlRdbms"
        }
      },
      "description": "MySQL source configuration"
    },
    "FieldViolation": {
      "type": "object",
      "properties": {
        "reason": {
          "description": "The reason for the field-level error. This is a constant value that identifies the proximate cause of the field-level error. It should uniquely identify the type of the FieldViolation within the scope of the google.rpc.ErrorInfo.domain. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        },
        "field": {
          "description": "A path that leads to a field in the request body. The value will be a sequence of dot-separated identifiers that identify a protocol buffer field. Consider the following: message CreateContactRequest { message EmailAddress { enum Type { TYPE_UNSPECIFIED = 0; HOME = 1; WORK = 2; } optional string email = 1; repeated EmailType type = 2; } string full_name = 1; repeated EmailAddress email_addresses = 2; } In this example, in proto `field` could take one of the following values: * `full_name` for a violation in the `full_name` value * `email_addresses[0].email` for a violation in the `email` field of the first `email_addresses` message * `email_addresses[2].type[1]` for a violation in the second `type` value in the third `email_addresses` message. In JSON, the same values are represented as: * `fullName` for a violation in the `fullName` value * `emailAddresses[0].email` for a violation in the `email` field of the first `emailAddresses` message * `emailAddresses[2].type[1]` for a violation in the second `type` value in the third `emailAddresses` message.",
          "type": "string"
        },
        "description": {
          "description": "A description of why the request element is bad.",
          "type": "string"
        },
        "localizedMessage": {
          "description": "Provides a localized error message for field-level errors that is safe to return to the API consumer.",
          "$ref": "LocalizedMessage"
        }
      },
      "id": "FieldViolation",
      "description": "A message type used to describe a single bad request field."
    },
    "MysqlTable": {
      "description": "MySQL table.",
      "type": "object",
      "properties": {
        "mysqlColumns": {
          "type": "array",
          "description": "MySQL columns in the database. When unspecified as part of include/exclude lists, includes/excludes everything.",
          "items": {
            "$ref": "MysqlColumn"
          }
        },
        "tableName": {
          "description": "Table name.",
          "type": "string"
        }
      },
      "id": "MysqlTable"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "OracleSchema": {
      "type": "object",
      "description": "Oracle schema.",
      "id": "OracleSchema",
      "properties": {
        "oracleTables": {
          "items": {
            "$ref": "OracleTable"
          },
          "description": "Tables in the schema.",
          "type": "array"
        },
        "schemaName": {
          "description": "Schema name.",
          "type": "string"
        }
      }
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "PrivateConnection": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels.",
          "type": "object"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource's name."
        },
        "state": {
          "description": "Output only. The state of the Private Connection.",
          "enumDescriptions": [
            "",
            "The private connection is in creation state - creating resources.",
            "The private connection has been created with all of its resources.",
            "The private connection creation has failed.",
            "The private connection is being deleted.",
            "Delete request has failed, resource is in invalid state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "FAILED",
            "DELETING",
            "FAILED_TO_DELETE"
          ],
          "type": "string",
          "readOnly": true
        },
        "error": {
          "description": "Output only. In case of error, the details of the error in a user-friendly format.",
          "$ref": "Error",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The create time of the resource.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The update time of the resource.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "vpcPeeringConfig": {
          "$ref": "VpcPeeringConfig",
          "description": "VPC Peering Config"
        }
      },
      "description": "The PrivateConnection resource is used to establish private connectivity between Datastream and a customer's network.",
      "type": "object",
      "id": "PrivateConnection"
    },
    "FetchErrorsResponse": {
      "description": "Response message for a 'FetchErrors' response.",
      "properties": {
        "errors": {
          "type": "array",
          "description": "The list of errors on the Stream.",
          "items": {
            "$ref": "Error"
          }
        }
      },
      "id": "FetchErrorsResponse",
      "type": "object"
    },
    "BackfillNoneStrategy": {
      "properties": {},
      "id": "BackfillNoneStrategy",
      "description": "Backfill strategy to disable automatic backfill for the Stream's objects.",
      "type": "object"
    },
    "DropLargeObjects": {
      "properties": {},
      "type": "object",
      "description": "Configuration to drop large object values.",
      "id": "DropLargeObjects"
    },
    "Help": {
      "type": "object",
      "description": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit.",
      "id": "Help",
      "properties": {
        "links": {
          "items": {
            "$ref": "Link"
          },
          "description": "URL(s) pointing to additional information on handling the current error.",
          "type": "array"
        }
      }
    },
    "OracleSourceConfig": {
      "type": "object",
      "properties": {
        "dropLargeObjects": {
          "description": "Drop large object values.",
          "$ref": "DropLargeObjects"
        },
        "rejectlist": {
          "description": "Oracle objects to exclude from the stream.",
          "$ref": "OracleRdbms"
        },
        "allowlist": {
          "$ref": "OracleRdbms",
          "description": "Oracle objects to include in the stream."
        }
      },
      "description": "Oracle data source configuration",
      "id": "OracleSourceConfig"
    },
    "SourceConfig": {
      "id": "SourceConfig",
      "type": "object",
      "properties": {
        "mysqlSourceConfig": {
          "description": "MySQL data source configuration",
          "$ref": "MysqlSourceConfig"
        },
        "oracleSourceConfig": {
          "description": "Oracle data source configuration",
          "$ref": "OracleSourceConfig"
        },
        "sourceConnectionProfileName": {
          "description": "Required. Source connection profile identifier.",
          "type": "string"
        }
      },
      "description": "The configuration of the stream source."
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "validationResult": {
          "$ref": "ValidationResult",
          "readOnly": true,
          "description": "Output only. Results of executed validations if there are any."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "AvroFileFormat": {
      "type": "object",
      "description": "AVRO file format configuration.",
      "properties": {},
      "id": "AvroFileFormat"
    },
    "RequestInfo": {
      "properties": {
        "servingData": {
          "description": "Any data that was used to serve this request. For example, an encrypted stack trace that can be sent back to the service provider for debugging.",
          "type": "string"
        },
        "requestId": {
          "description": "An opaque string that should only be interpreted by the service generating it. For example, it can be used to identify requests in the service's logs.",
          "type": "string"
        }
      },
      "description": "Contains metadata about the request that clients can attach when filing a bug or providing other forms of feedback.",
      "type": "object",
      "id": "RequestInfo"
    },
    "MysqlRdbms": {
      "properties": {
        "mysqlDatabases": {
          "description": "Mysql databases on the server",
          "type": "array",
          "items": {
            "$ref": "MysqlDatabase"
          }
        }
      },
      "type": "object",
      "id": "MysqlRdbms",
      "description": "MySQL database structure"
    },
    "FetchErrorsRequest": {
      "id": "FetchErrorsRequest",
      "type": "object",
      "description": "Request message for 'FetchErrors' request.",
      "properties": {}
    },
    "GcsDestinationConfig": {
      "type": "object",
      "id": "GcsDestinationConfig",
      "properties": {
        "gcsFileFormat": {
          "description": "File format that data should be written in. Deprecated field (b/169501737) - use file_format instead.",
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified Cloud Storage file format.",
            "Avro file format"
          ],
          "enum": [
            "GCS_FILE_FORMAT_UNSPECIFIED",
            "AVRO"
          ],
          "type": "string"
        },
        "jsonFileFormat": {
          "description": "JSON file format configuration.",
          "$ref": "JsonFileFormat"
        },
        "fileRotationMb": {
          "format": "int32",
          "description": "The maximum file size to be saved in the bucket.",
          "type": "integer"
        },
        "path": {
          "description": "Path inside the Cloud Storage bucket to write data to.",
          "type": "string"
        },
        "fileRotationInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "The maximum duration for which new events are added before a file is closed and a new file is created."
        },
        "avroFileFormat": {
          "$ref": "AvroFileFormat",
          "description": "AVRO file format configuration."
        }
      },
      "description": "Google Cloud Storage destination configuration"
    },
    "QuotaFailureViolation": {
      "description": "A message type used to describe a single quota violation. For example, a daily quota or a custom quota that was exceeded.",
      "properties": {
        "futureQuotaValue": {
          "description": "The new quota value being rolled out at the time of the violation. At the completion of the rollout, this value will be enforced in place of quota_value. If no rollout is in progress at the time of the violation, this field is not set. For example, if at the time of the violation a rollout is in progress changing the number of CPUs quota from 10 to 20, 20 would be the value of this field.",
          "type": "string",
          "format": "int64"
        },
        "subject": {
          "description": "The subject on which the quota check failed. For example, \"clientip:\" or \"project:\".",
          "type": "string"
        },
        "quotaDimensions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The dimensions of the violated quota. Every non-global quota is enforced on a set of dimensions. While quota metric defines what to count, the dimensions specify for what aspects the counter should be increased. For example, the quota \"CPUs per region per VM family\" enforces a limit on the metric \"compute.googleapis.com/cpus_per_vm_family\" on dimensions \"region\" and \"vm_family\". And if the violation occurred in region \"us-central1\" and for VM family \"n1\", the quota_dimensions would be, { \"region\": \"us-central1\", \"vm_family\": \"n1\", } When a quota is enforced globally, the quota_dimensions would always be empty."
        },
        "apiService": {
          "type": "string",
          "description": "The API Service from which the `QuotaFailure.Violation` originates. In some cases, Quota issues originate from an API Service other than the one that was called. In other words, a dependency of the called API Service could be the cause of the `QuotaFailure`, and this field would have the dependency API service name. For example, if the called API is Kubernetes Engine API (container.googleapis.com), and a quota violation occurs in the Kubernetes Engine API itself, this field would be \"container.googleapis.com\". On the other hand, if the quota violation occurs when the Kubernetes Engine API creates VMs in the Compute Engine API (compute.googleapis.com), this field would be \"compute.googleapis.com\"."
        },
        "quotaId": {
          "type": "string",
          "description": "The id of the violated quota. Also know as \"limit name\", this is the unique identifier of a quota in the context of an API service. For example, \"CPUS-PER-VM-FAMILY-per-project-region\"."
        },
        "description": {
          "description": "A description of how the quota check failed. Clients can use this description to find more about the quota configuration in the service's public documentation, or find the relevant quota limit to adjust through developer console. For example: \"Service disabled\" or \"Daily Limit for read operations exceeded\".",
          "type": "string"
        },
        "quotaMetric": {
          "description": "The metric of the violated quota. A quota metric is a named counter to measure usage, such as API requests or CPUs. When an activity occurs in a service, such as Virtual Machine allocation, one or more quota metrics may be affected. For example, \"compute.googleapis.com/cpus_per_vm_family\", \"storage.googleapis.com/internet_egress_bandwidth\".",
          "type": "string"
        },
        "quotaValue": {
          "description": "The enforced quota value at the time of the `QuotaFailure`. For example, if the enforced quota value at the time of the `QuotaFailure` on the number of CPUs is \"10\", then the value of this field would reflect this quantity.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "QuotaFailureViolation"
    },
    "LocalizedMessage": {
      "type": "object",
      "id": "LocalizedMessage",
      "properties": {
        "locale": {
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\"",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "The localized error message in the above locale."
        }
      },
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error."
    },
    "BackfillJob": {
      "properties": {
        "lastStartTime": {
          "description": "Output only. Backfill job's start time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "lastEndTime": {
          "description": "Output only. Backfill job's end time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "Backfill job was never started for the stream object (stream has backfill strategy defined as manual or object was explicitly excluded from automatic backfill).",
            "Backfill job will start pending available resources.",
            "Backfill job is running.",
            "Backfill job stopped (next job run will start from beginning).",
            "Backfill job failed (due to an error).",
            "Backfill completed successfully.",
            "Backfill job failed since the table structure is currently unsupported for backfill."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "PENDING",
            "ACTIVE",
            "STOPPED",
            "FAILED",
            "COMPLETED",
            "UNSUPPORTED"
          ],
          "description": "Backfill job state.",
          "type": "string"
        },
        "trigger": {
          "enumDescriptions": [
            "Default value.",
            "Object backfill job was triggered automatically according to the stream's backfill strategy.",
            "Object backfill job was triggered manually using the dedicated API."
          ],
          "type": "string",
          "description": "Backfill job's triggering reason.",
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ]
        },
        "errors": {
          "description": "Output only. Errors which caused the backfill job to fail.",
          "readOnly": true,
          "items": {
            "$ref": "Error"
          },
          "type": "array"
        }
      },
      "description": "Represents a backfill job on a specific stream object.",
      "id": "BackfillJob",
      "type": "object"
    },
    "ListPrivateConnectionsResponse": {
      "id": "ListPrivateConnectionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "privateConnections": {
          "type": "array",
          "items": {
            "$ref": "PrivateConnection"
          },
          "description": "List of private connectivity configurations."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object"
    },
    "NoConnectivitySettings": {
      "description": "No connectivity settings.",
      "properties": {},
      "id": "NoConnectivitySettings",
      "type": "object"
    },
    "ErrorInfo": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request."
        },
        "reason": {
          "type": "string",
          "description": "The reason for the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE."
        },
        "domain": {
          "description": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\".",
          "type": "string"
        }
      },
      "id": "ErrorInfo",
      "description": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }"
    },
    "PrivateConnectivity": {
      "id": "PrivateConnectivity",
      "properties": {
        "privateConnectionName": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "Private Connectivity"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "ListOperationsResponse"
    },
    "PreconditionFailure": {
      "properties": {
        "violations": {
          "type": "array",
          "items": {
            "$ref": "PreconditionFailureViolation"
          },
          "description": "Describes all precondition violations."
        }
      },
      "id": "PreconditionFailure",
      "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message.",
      "type": "object"
    },
    "MysqlObjectIdentifier": {
      "id": "MysqlObjectIdentifier",
      "type": "object",
      "description": "Mysql data source object identifier.",
      "properties": {
        "database": {
          "type": "string",
          "description": "Required. The database name."
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      }
    },
    "ForwardSshTunnelConnectivity": {
      "id": "ForwardSshTunnelConnectivity",
      "type": "object",
      "description": "Forward SSH Tunnel connectivity.",
      "properties": {
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Port for the SSH tunnel, default value is 22."
        },
        "password": {
          "description": "Input only. SSH password.",
          "type": "string"
        },
        "privateKey": {
          "type": "string",
          "description": "Input only. SSH private key."
        },
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the SSH tunnel."
        },
        "username": {
          "description": "Required. Username for the SSH tunnel.",
          "type": "string"
        }
      }
    },
    "ConnectionProfile": {
      "id": "ConnectionProfile",
      "type": "object",
      "properties": {
        "privateConnectivity": {
          "description": "Private connectivity.",
          "$ref": "PrivateConnectivity"
        },
        "forwardSshConnectivity": {
          "description": "Forward SSH tunnel connectivity.",
          "$ref": "ForwardSshTunnelConnectivity"
        },
        "oracleProfile": {
          "$ref": "OracleProfile",
          "description": "Oracle ConnectionProfile configuration."
        },
        "gcsProfile": {
          "description": "Cloud Storage ConnectionProfile configuration.",
          "$ref": "GcsProfile"
        },
        "mysqlProfile": {
          "$ref": "MysqlProfile",
          "description": "MySQL ConnectionProfile configuration."
        },
        "labels": {
          "description": "Labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. The create time of the resource.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The update time of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "noConnectivity": {
          "description": "No connectivity option chosen.",
          "$ref": "NoConnectivitySettings"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "staticServiceIpConnectivity": {
          "description": "Static Service IP connectivity.",
          "$ref": "StaticServiceIpConnectivity"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource's name.",
          "readOnly": true
        }
      }
    },
    "OracleObjectIdentifier": {
      "type": "object",
      "properties": {
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        },
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        }
      },
      "description": "Oracle data source object identifier.",
      "id": "OracleObjectIdentifier"
    },
    "MysqlProfile": {
      "description": "MySQL database profile.",
      "properties": {
        "password": {
          "type": "string",
          "description": "Required. Input only. Password for the MySQL connection."
        },
        "sslConfig": {
          "$ref": "MysqlSslConfig",
          "description": "SSL configuration for the MySQL connection."
        },
        "port": {
          "description": "Port for the MySQL connection, default value is 3306.",
          "format": "int32",
          "type": "integer"
        },
        "username": {
          "description": "Required. Username for the MySQL connection.",
          "type": "string"
        },
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the MySQL connection."
        }
      },
      "id": "MysqlProfile",
      "type": "object"
    },
    "OracleColumn": {
      "id": "OracleColumn",
      "description": "Oracle Column.",
      "properties": {
        "length": {
          "type": "integer",
          "format": "int32",
          "description": "Column length."
        },
        "precision": {
          "type": "integer",
          "description": "Column precision.",
          "format": "int32"
        },
        "encoding": {
          "type": "string",
          "description": "Column encoding."
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "nullable": {
          "type": "boolean",
          "description": "Whether or not the column can accept a null value."
        },
        "columnName": {
          "description": "Column name.",
          "type": "string"
        },
        "scale": {
          "description": "Column scale.",
          "format": "int32",
          "type": "integer"
        },
        "dataType": {
          "type": "string",
          "description": "The Oracle data type."
        },
        "ordinalPosition": {
          "format": "int32",
          "description": "The ordinal position of the column in the table.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "JsonFileFormat": {
      "properties": {
        "compression": {
          "enum": [
            "JSON_COMPRESSION_UNSPECIFIED",
            "NO_COMPRESSION",
            "GZIP"
          ],
          "enumDescriptions": [
            "Unspecified json file compression.",
            "Do not compress JSON file.",
            "Gzip compression."
          ],
          "description": "Compression of the loaded JSON file.",
          "type": "string"
        },
        "schemaFileFormat": {
          "description": "The schema file format along JSON data files.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified schema file format.",
            "Do not attach schema file.",
            "Avro schema format."
          ],
          "enum": [
            "SCHEMA_FILE_FORMAT_UNSPECIFIED",
            "NO_SCHEMA_FILE",
            "AVRO_SCHEMA_FILE"
          ]
        }
      },
      "type": "object",
      "description": "JSON file format configuration.",
      "id": "JsonFileFormat"
    },
    "PreconditionFailureViolation": {
      "id": "PreconditionFailureViolation",
      "description": "A message type used to describe a single precondition failure.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of PreconditionFailure. We recommend using a service-specific enum type to define the supported precondition violation subjects. For example, \"TOS\" for \"Terms of Service violation\"."
        },
        "description": {
          "description": "A description of how the precondition failed. Developers can use this description to understand how to fix the failure. For example: \"Terms of service not accepted\".",
          "type": "string"
        },
        "subject": {
          "description": "The subject, relative to the type, that failed. For example, \"google.com/cloud\" relative to the \"TOS\" type would indicate which terms of service is being referenced.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "ValidationResult": {
      "properties": {
        "validations": {
          "description": "A list of validations (includes both executed as well as not executed validations).",
          "type": "array",
          "items": {
            "$ref": "Validation"
          }
        }
      },
      "id": "ValidationResult",
      "description": "Contains the current validation results.",
      "type": "object"
    },
    "DiscoverConnectionProfileRequest": {
      "description": "Request message for 'discover' ConnectionProfile request.",
      "properties": {
        "connectionProfile": {
          "description": "An ad-hoc ConnectionProfile configuration.",
          "$ref": "ConnectionProfile"
        },
        "mysqlRdbms": {
          "description": "MySQL RDBMS to enrich with child data objects and metadata.",
          "$ref": "MysqlRdbms"
        },
        "oracleRdbms": {
          "description": "Oracle RDBMS to enrich with child data objects and metadata.",
          "$ref": "OracleRdbms"
        },
        "recursive": {
          "description": "Whether to retrieve the full hierarchy of data objects (TRUE) or only the current level (FALSE).",
          "type": "boolean"
        },
        "connectionProfileName": {
          "description": "A reference to an existing ConnectionProfile.",
          "type": "string"
        },
        "recursionDepth": {
          "format": "int32",
          "description": "The number of hierarchy levels below the current level to be retrieved.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "DiscoverConnectionProfileRequest"
    },
    "Error": {
      "description": "Represent a user-facing Error.",
      "id": "Error",
      "type": "object",
      "properties": {
        "errorTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the error occurred."
        },
        "reason": {
          "type": "string",
          "description": "A title that explains the reason for the error."
        },
        "errorUuid": {
          "description": "A unique identifier for this specific error, allowing it to be traced throughout the system in logs and API responses.",
          "type": "string"
        },
        "details": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional information about the error.",
          "type": "object"
        },
        "message": {
          "type": "string",
          "description": "A message containing more information about the error that occurred."
        }
      }
    },
    "FetchStaticIpsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "staticIps": {
          "description": "list of static ips by account",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response message for a 'FetchStaticIps' response.",
      "id": "FetchStaticIpsResponse"
    },
    "StreamObject": {
      "description": "A specific stream object (e.g a specific DB table).",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The object's name.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "sourceObject": {
          "$ref": "SourceObjectIdentifier",
          "description": "The object identifier in the data source."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The creation time of the object."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last update time of the object."
        },
        "errors": {
          "description": "Output only. Active errors on the object.",
          "items": {
            "$ref": "Error"
          },
          "readOnly": true,
          "type": "array"
        },
        "backfillJob": {
          "description": "The latest backfill job that was initiated for the stream object.",
          "$ref": "BackfillJob"
        }
      },
      "id": "StreamObject"
    },
    "MysqlSslConfig": {
      "type": "object",
      "description": "MySQL SSL configuration information.",
      "properties": {
        "clientCertificate": {
          "type": "string",
          "description": "Input only. PEM-encoded certificate that will be used by the replica to authenticate against the source database server. If this field is used then the 'client_key' and the 'ca_certificate' fields are mandatory."
        },
        "caCertificateSet": {
          "description": "Output only. Indicates whether the ca_certificate field is set.",
          "type": "boolean",
          "readOnly": true
        },
        "clientKey": {
          "description": "Input only. PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory.",
          "type": "string"
        },
        "clientCertificateSet": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the client_certificate field is set."
        },
        "clientKeySet": {
          "type": "boolean",
          "description": "Output only. Indicates whether the client_key field is set.",
          "readOnly": true
        },
        "caCertificate": {
          "description": "Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        }
      },
      "id": "MysqlSslConfig"
    },
    "SourceObjectIdentifier": {
      "description": "Represents an identifier of an object in the data source.",
      "type": "object",
      "id": "SourceObjectIdentifier",
      "properties": {
        "mysqlIdentifier": {
          "description": "Mysql data source object identifier.",
          "$ref": "MysqlObjectIdentifier"
        },
        "oracleIdentifier": {
          "$ref": "OracleObjectIdentifier",
          "description": "Oracle data source object identifier."
        }
      }
    },
    "DestinationConfig": {
      "properties": {
        "gcsDestinationConfig": {
          "description": "GCS destination configuration.",
          "$ref": "GcsDestinationConfig"
        },
        "destinationConnectionProfileName": {
          "type": "string",
          "description": "Required. Destination connection profile identifier."
        }
      },
      "id": "DestinationConfig",
      "description": "The configuration of the stream destination.",
      "type": "object"
    },
    "DiscoverConnectionProfileResponse": {
      "type": "object",
      "id": "DiscoverConnectionProfileResponse",
      "properties": {
        "mysqlRdbms": {
          "description": "Enriched MySQL RDBMS object.",
          "$ref": "MysqlRdbms"
        },
        "oracleRdbms": {
          "description": "Enriched Oracle RDBMS object.",
          "$ref": "OracleRdbms"
        }
      }
    },
    "ResourceInfo": {
      "description": "Describes the resource that is being accessed.",
      "id": "ResourceInfo",
      "properties": {
        "owner": {
          "type": "string",
          "description": "The owner of the resource (optional). For example, \"user:\" or \"project:\"."
        },
        "description": {
          "type": "string",
          "description": "Describes what error is encountered when accessing this resource. For example, updating a cloud project may require the `writer` permission on the developer console project."
        },
        "resourceType": {
          "description": "A name for the type of resource being accessed, e.g. \"sql table\", \"cloud storage bucket\", \"file\", \"Google calendar\"; or the type URL of the resource: e.g. \"type.googleapis.com/google.pubsub.v1.Topic\".",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "The name of the resource being accessed. For example, a shared calendar name: \"example.com_4fghdhgsrgh@group.calendar.google.com\", if the current error is google.rpc.Code.PERMISSION_DENIED."
        }
      },
      "type": "object"
    },
    "Stream": {
      "properties": {
        "customerManagedEncryptionKey": {
          "type": "string",
          "description": "Immutable. A reference to a KMS encryption key. If provided, it will be used to encrypt the data. If left blank, data will be encrypted using an internal Stream-specific encryption key provisioned through KMS."
        },
        "sourceConfig": {
          "description": "Required. Source connection profile configuration.",
          "$ref": "SourceConfig"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Error"
          },
          "description": "Output only. Errors on the Stream.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The creation time of the stream.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last update time of the stream.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels.",
          "type": "object"
        },
        "destinationConfig": {
          "description": "Required. Destination connection profile configuration.",
          "$ref": "DestinationConfig"
        },
        "name": {
          "type": "string",
          "description": "Output only. The stream's name.",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "backfillNone": {
          "description": "Do not automatically backfill any objects.",
          "$ref": "BackfillNoneStrategy"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "RUNNING",
            "PAUSED",
            "MAINTENANCE",
            "FAILED",
            "FAILED_PERMANENTLY",
            "STARTING",
            "DRAINING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified stream state.",
            "The stream has been created.",
            "The stream is running.",
            "The stream is paused.",
            "The stream is in maintenance mode. Updates are rejected on the resource in this state.",
            "The stream is experiencing an error that is preventing data from being streamed.",
            "The stream has experienced a terminal failure.",
            "The stream is starting, but not yet running.",
            "The Stream is no longer reading new events, but still writing events in the buffer."
          ],
          "description": "The state of the stream."
        },
        "backfillAll": {
          "$ref": "BackfillAllStrategy",
          "description": "Automatically backfill objects included in the stream source configuration. Specific objects can be excluded."
        }
      },
      "id": "Stream",
      "type": "object"
    },
    "ListConnectionProfilesResponse": {
      "id": "ListConnectionProfilesResponse",
      "properties": {
        "connectionProfiles": {
          "description": "List of connection profiles.",
          "items": {
            "$ref": "ConnectionProfile"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object"
    },
    "Route": {
      "properties": {
        "labels": {
          "description": "Labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "destinationAddress": {
          "description": "Required. Destination address for connection",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The create time of the resource.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The update time of the resource.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "destinationPort": {
          "format": "int32",
          "description": "Destination port for connection",
          "type": "integer"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource's name."
        }
      },
      "id": "Route",
      "type": "object",
      "description": "The Route resource is the child of the PrivateConnection resource. It used to define a route for a PrivateConnection setup."
    },
    "StartBackfillJobResponse": {
      "description": "Response for manually initiating a backfill job for a specific stream object.",
      "properties": {
        "object": {
          "$ref": "StreamObject",
          "description": "The stream object resource a backfill job was started for."
        }
      },
      "id": "StartBackfillJobResponse",
      "type": "object"
    },
    "RetryInfo": {
      "type": "object",
      "id": "RetryInfo",
      "description": "Describes when the clients can retry a failed request. Clients could ignore the recommendation here or retry when this information is missing from error responses. It's always recommended that clients should use exponential backoff when retrying. Clients should wait until `retry_delay` amount of time has passed since receiving the error response before retrying. If retrying requests also fail, clients should use an exponential backoff scheme to gradually increase the delay between retries based on `retry_delay`, until either a maximum number of retries have been reached or a maximum retry delay cap has been reached.",
      "properties": {
        "retryDelay": {
          "description": "Clients should wait at least this long between retrying the same request.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "OracleTable": {
      "description": "Oracle table.",
      "type": "object",
      "properties": {
        "oracleColumns": {
          "description": "Oracle columns in the schema. When unspecified as part of inclue/exclude lists, includes/excludes everything.",
          "items": {
            "$ref": "OracleColumn"
          },
          "type": "array"
        },
        "tableName": {
          "type": "string",
          "description": "Table name."
        }
      },
      "id": "OracleTable"
    },
    "MysqlDatabase": {
      "id": "MysqlDatabase",
      "properties": {
        "databaseName": {
          "description": "Database name.",
          "type": "string"
        },
        "mysqlTables": {
          "description": "Tables in the database.",
          "items": {
            "$ref": "MysqlTable"
          },
          "type": "array"
        }
      },
      "description": "MySQL database.",
      "type": "object"
    },
    "ListStreamObjectsResponse": {
      "type": "object",
      "description": "Response containing the objects for a stream.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page.",
          "type": "string"
        },
        "streamObjects": {
          "type": "array",
          "description": "List of stream objects.",
          "items": {
            "$ref": "StreamObject"
          }
        }
      },
      "id": "ListStreamObjectsResponse"
    },
    "DebugInfo": {
      "description": "Describes additional debugging info.",
      "id": "DebugInfo",
      "type": "object",
      "properties": {
        "stackEntries": {
          "type": "array",
          "description": "The stack trace entries indicating where the error occurred.",
          "items": {
            "type": "string"
          }
        },
        "detail": {
          "description": "Additional debugging information provided by the server.",
          "type": "string"
        }
      }
    },
    "OracleRdbms": {
      "description": "Oracle database structure.",
      "type": "object",
      "id": "OracleRdbms",
      "properties": {
        "oracleSchemas": {
          "items": {
            "$ref": "OracleSchema"
          },
          "type": "array",
          "description": "Oracle schemas/databases in the database server."
        }
      }
    },
    "StopBackfillJobResponse": {
      "type": "object",
      "description": "Response for manually stop a backfill job for a specific stream object.",
      "id": "StopBackfillJobResponse",
      "properties": {
        "object": {
          "$ref": "StreamObject",
          "description": "The stream object resource the backfill job was stopped for."
        }
      }
    },
    "OracleProfile": {
      "type": "object",
      "properties": {
        "username": {
          "description": "Required. Username for the Oracle connection.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port for the Oracle connection, default value is 1521."
        },
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the Oracle connection."
        },
        "connectionAttributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Connection string attributes"
        },
        "password": {
          "type": "string",
          "description": "Required. Password for the Oracle connection."
        },
        "databaseService": {
          "type": "string",
          "description": "Required. Database for the Oracle connection."
        }
      },
      "id": "OracleProfile",
      "description": "Oracle database profile."
    },
    "GcsProfile": {
      "id": "GcsProfile",
      "type": "object",
      "description": "Cloud Storage bucket profile.",
      "properties": {
        "bucketName": {
          "type": "string",
          "description": "Required. The full project and resource path for Cloud Storage bucket including the name."
        },
        "rootPath": {
          "type": "string",
          "description": "The root path inside the Cloud Storage bucket."
        }
      }
    },
    "ListStreamsResponse": {
      "id": "ListStreamsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "streams": {
          "items": {
            "$ref": "Stream"
          },
          "description": "List of streams",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "VpcPeeringConfig": {
      "description": "The VPC Peering configuration is used to create VPC peering between Datastream and the consumer's VPC.",
      "type": "object",
      "properties": {
        "vpcName": {
          "description": "Required. fully qualified name of the VPC Datastream will peer to.",
          "type": "string"
        },
        "subnet": {
          "description": "Required. A free subnet for peering. (CIDR of /29)",
          "type": "string"
        }
      },
      "id": "VpcPeeringConfig"
    },
    "Link": {
      "id": "Link",
      "type": "object",
      "description": "Describes a URL link.",
      "properties": {
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the link.",
          "type": "string"
        }
      }
    },
    "QuotaFailure": {
      "id": "QuotaFailure",
      "type": "object",
      "properties": {
        "violations": {
          "type": "array",
          "description": "Describes all quota violations.",
          "items": {
            "$ref": "QuotaFailureViolation"
          }
        }
      },
      "description": "Describes how a quota check failed. For example if a daily limit was exceeded for the calling project, a service could respond with a QuotaFailure detail containing the project id and the description of the quota limit that was exceeded. If the calling project hasn't enabled the service in the developer console, then a service could respond with the project id and set `service_disabled` to true. Also see RetryInfo and Help types for other details about handling a quota failure."
    },
    "BackfillAllStrategy": {
      "id": "BackfillAllStrategy",
      "type": "object",
      "properties": {
        "oracleExcludedObjects": {
          "description": "Oracle data source objects to avoid backfilling.",
          "$ref": "OracleRdbms"
        },
        "mysqlExcludedObjects": {
          "$ref": "MysqlRdbms",
          "description": "MySQL data source objects to avoid backfilling."
        }
      },
      "description": "Backfill strategy to automatically backfill the Stream's objects. Specific objects can be excluded."
    },
    "MysqlColumn": {
      "id": "MysqlColumn",
      "type": "object",
      "properties": {
        "columnName": {
          "description": "Column name.",
          "type": "string"
        },
        "length": {
          "format": "int32",
          "description": "Column length.",
          "type": "integer"
        },
        "ordinalPosition": {
          "format": "int32",
          "type": "integer",
          "description": "The ordinal position of the column in the table."
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "nullable": {
          "type": "boolean",
          "description": "Whether or not the column can accept a null value."
        },
        "dataType": {
          "type": "string",
          "description": "The MySQL data type. Full data types list can be found here: https://dev.mysql.com/doc/refman/8.0/en/data-types.html"
        },
        "collation": {
          "description": "Column collation.",
          "type": "string"
        }
      },
      "description": "MySQL Column."
    },
    "Validation": {
      "type": "object",
      "properties": {
        "message": {
          "description": "Messages reflecting the validation results.",
          "type": "array",
          "items": {
            "$ref": "ValidationMessage"
          }
        },
        "status": {
          "description": "Validation execution status.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_EXECUTED",
            "FAILED",
            "PASSED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "Validation did not execute.",
            "Validation failed.",
            "Validation passed."
          ]
        },
        "description": {
          "description": "A short description of the validation.",
          "type": "string"
        },
        "code": {
          "description": "A custom code identifying this validation.",
          "type": "string"
        }
      },
      "id": "Validation"
    },
    "ValidationMessage": {
      "description": "Represent user-facing validation result message.",
      "properties": {
        "level": {
          "enum": [
            "LEVEL_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified level.",
            "Potentially cause issues with the Stream.",
            "Definitely cause issues with the Stream."
          ],
          "description": "Message severity level (warning or error).",
          "type": "string"
        },
        "metadata": {
          "description": "Additional metadata related to the result.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "code": {
          "description": "A custom code identifying this specific message.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "The result of the validation."
        }
      },
      "id": "ValidationMessage",
      "type": "object"
    },
    "ListRoutesResponse": {
      "type": "object",
      "description": "route list response",
      "properties": {
        "routes": {
          "description": "List of Routes.",
          "type": "array",
          "items": {
            "$ref": "Route"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListRoutesResponse"
    },
    "BadRequest": {
      "description": "Describes violations in a client request. This error type focuses on the syntactic aspects of the request.",
      "id": "BadRequest",
      "properties": {
        "fieldViolations": {
          "type": "array",
          "items": {
            "$ref": "FieldViolation"
          },
          "description": "Describes all violations in a client request."
        }
      },
      "type": "object"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "protocol": "rest",
  "name": "datastream",
  "servicePath": "",
  "baseUrl": "https://datastream.googleapis.com/",
  "id": "datastream:v1alpha1",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "canonicalName": "Datastream",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260921",
  "basePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "streams": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}",
                  "id": "datastream.projects.locations.streams.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "deprecated": true,
                  "path": "v1alpha1/{+name}",
                  "description": "Use this method to get details about a stream.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the stream resource to get.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Stream"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}",
                  "httpMethod": "DELETE",
                  "description": "Use this method to delete a stream.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "deprecated": true,
                  "path": "v1alpha1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the stream resource to delete.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "required": true
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "id": "datastream.projects.locations.streams.delete",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "deprecated": true,
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "Page token received from a previous `ListStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListStreams` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent that owns the collection of streams."
                    },
                    "filter": {
                      "description": "Filter request.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Order by fields for the result."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum number of streams to return. If unspecified, at most 50 streams will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query"
                    }
                  },
                  "id": "datastream.projects.locations.streams.list",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams",
                  "response": {
                    "$ref": "ListStreamsResponse"
                  },
                  "path": "v1alpha1/{+parent}/streams",
                  "description": "Use this method to list streams in a project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "id": "datastream.projects.locations.streams.patch",
                  "description": "Use this method to update the configuration of a stream.",
                  "request": {
                    "$ref": "Stream"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "force": {
                      "type": "boolean",
                      "description": "Optional. Execute the update without validating it.",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the stream resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "description": "Output only. The stream's name.",
                      "required": true,
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. Only validate the stream with the changes, without actually updating it. The default is false.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "path": "v1alpha1/{+name}",
                  "deprecated": true,
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "path": "v1alpha1/{+parent}/streams",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datastream.projects.locations.streams.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Use this method to create a stream.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Stream"
                  },
                  "deprecated": true,
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent that owns the collection of streams.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "validateOnly": {
                      "description": "Optional. Only validate the stream, but do not create any resources. The default is false.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "force": {
                      "description": "Optional. Create the stream without validating it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "streamId": {
                      "type": "string",
                      "description": "Required. The stream identifier.",
                      "location": "query"
                    }
                  }
                },
                "fetchErrors": {
                  "httpMethod": "POST",
                  "deprecated": true,
                  "description": "Use this method to fetch any errors associated with a stream.",
                  "id": "datastream.projects.locations.streams.fetchErrors",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "stream": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "type": "string",
                      "description": "Name of the Stream resource for which to fetch any errors."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}:fetchErrors",
                  "request": {
                    "$ref": "FetchErrorsRequest"
                  },
                  "path": "v1alpha1/{+stream}:fetchErrors",
                  "parameterOrder": [
                    "stream"
                  ]
                }
              },
              "resources": {
                "objects": {
                  "deprecated": true,
                  "methods": {
                    "list": {
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "datastream.projects.locations.streams.objects.list",
                      "httpMethod": "GET",
                      "path": "v1alpha1/{+parent}/objects",
                      "deprecated": true,
                      "description": "Use this method to list the objects of a specific stream.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Maximum number of objects to return. Default is 50. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent stream that owns the collection of objects.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Page token received from a previous `ListStreamObjectsRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListStreamObjectsRequest` must match the call that provided the page token.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListStreamObjectsResponse"
                      }
                    },
                    "get": {
                      "description": "Use this method to get details about a stream object.",
                      "response": {
                        "$ref": "StreamObject"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha1/{+name}",
                      "deprecated": true,
                      "httpMethod": "GET",
                      "id": "datastream.projects.locations.streams.objects.get",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the stream object resource to get."
                        }
                      }
                    },
                    "startBackfillJob": {
                      "deprecated": true,
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "object": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$",
                          "description": "Required. The name of the stream object resource to start a backfill job for.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}:startBackfillJob",
                      "parameterOrder": [
                        "object"
                      ],
                      "description": "Starts backfill job for the specified stream object.",
                      "response": {
                        "$ref": "StartBackfillJobResponse"
                      },
                      "path": "v1alpha1/{+object}:startBackfillJob",
                      "id": "datastream.projects.locations.streams.objects.startBackfillJob"
                    },
                    "stopBackfillJob": {
                      "parameters": {
                        "object": {
                          "required": true,
                          "description": "Required. The name of the stream object resource to stop the backfill job for.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$"
                        }
                      },
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}:stopBackfillJob",
                      "deprecated": true,
                      "httpMethod": "POST",
                      "description": "Stops the backfill job for the specified stream object.",
                      "parameterOrder": [
                        "object"
                      ],
                      "path": "v1alpha1/{+object}:stopBackfillJob",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "StopBackfillJobResponse"
                      },
                      "id": "datastream.projects.locations.streams.objects.stopBackfillJob"
                    }
                  }
                }
              }
            },
            "privateConnections": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datastream.projects.locations.privateConnections.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "deprecated": true,
                  "description": "Use this method to create a private connectivity configuration.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "privateConnectionId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The private connectivity identifier."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent that owns the collection of PrivateConnections.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v1alpha1/{+parent}/privateConnections",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/privateConnections",
                  "request": {
                    "$ref": "PrivateConnection"
                  }
                },
                "delete": {
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}",
                  "id": "datastream.projects.locations.privateConnections.delete",
                  "path": "v1alpha1/{+name}",
                  "description": "Use this method to delete a private connectivity configuration.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                      "required": true,
                      "location": "path",
[...]
