{
  "protocol": "rest",
  "baseUrl": "https://dataform.googleapis.com/",
  "kind": "discovery#restDescription",
  "rootUrl": "https://dataform.googleapis.com/",
  "version": "v1beta1",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "revision": "20260829",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/dataform/docs",
  "basePath": "",
  "version_module": true,
  "endpoints": [
    {
      "location": "africa-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.africa-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://dataform.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://dataform.asia-east2.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.asia-northeast1.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://dataform.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.asia-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataform.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://dataform.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://dataform.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.australia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "europe-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.europe-central2.rep.googleapis.com/"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://dataform.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://dataform.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://dataform.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west12",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.europe-west12.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataform.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://dataform.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west6",
      "endpointUrl": "https://dataform.europe-west6.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://dataform.europe-west8.rep.googleapis.com/"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.europe-west9.rep.googleapis.com/"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://dataform.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataform.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.me-west1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2",
      "endpointUrl": "https://dataform.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.southamerica-east1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.southamerica-west1.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.us-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.us-east1.rep.googleapis.com/",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://dataform.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.us-south1.rep.googleapis.com/"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://dataform.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://dataform.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.us-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataform.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    }
  ],
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "queryUserRootContents": {
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Maximum number of paths to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default."
                },
                "location": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Location of the user root folder to list contents for. Format: projects/*/locations/*",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                },
                "orderBy": {
                  "description": "Optional. Field to additionally sort results by. Will order Folders before Repositories, and then by `order_by` in ascending order. Supported keywords: display_name (default), created_at, last_modified_at. Examples: * `orderBy=\"display_name\"` * `orderBy=\"display_name desc\"`",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Page token received from a previous `QueryUserRootContents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryUserRootFolderContents`, with the exception of `page_size`, must match the call that provided the page token."
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Optional filtering for the returned list. Filtering is currently only supported on the `display_name` field. Example: * `filter=\"display_name=\"MyFolder\"\"`",
                  "location": "query"
                }
              },
              "id": "dataform.projects.locations.queryUserRootContents",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}:queryUserRootContents",
              "response": {
                "$ref": "QueryUserRootContentsResponse"
              },
              "path": "v1beta1/{+location}:queryUserRootContents",
              "description": "Returns the contents of a caller's root folder in a given location. The root folder contains all resources that are created by the user and not contained in any other folder.",
              "parameterOrder": [
                "location"
              ]
            },
            "updateConfig": {
              "path": "v1beta1/{+name}",
              "request": {
                "$ref": "Config"
              },
              "description": "Update default config for a given project and location. **Note:** *This method does not fully implement [AIP/134](https://google.aip.dev/134). The wildcard entry (\\*) is treated as a bad request, and when the `field_mask` is omitted, the request is treated as a full update on all modifiable fields.*",
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/config",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "id": "dataform.projects.locations.updateConfig",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                  "description": "Identifier. The config name.",
                  "required": true
                },
                "updateMask": {
                  "description": "Optional. Specifies the fields to be updated in the config.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "response": {
                "$ref": "Config"
              }
            },
            "getConfig": {
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get default config for a given project and location.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Config"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The config name."
                }
              },
              "id": "dataform.projects.locations.getConfig",
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/config",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}"
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "id": "dataform.projects.locations.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Resource name for the location.",
                  "required": true
                }
              },
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "extraLocationTypes": {
                  "repeated": true,
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "id": "dataform.projects.locations.list",
              "httpMethod": "GET",
              "path": "v1beta1/{+name}/locations",
              "flatPath": "v1beta1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "repositories": {
              "methods": {
                "create": {
                  "id": "dataform.projects.locations.repositories.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Repository"
                  },
                  "response": {
                    "$ref": "Repository"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a new Repository in a given project and location.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The location in which to create the repository. Must be in the format `projects/*/locations/*`."
                    },
                    "repositoryId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID to use for the repository, which will become the final component of the repository's resource name."
                    }
                  },
                  "path": "v1beta1/{+parent}/repositories"
                },
                "fetchRemoteBranches": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:fetchRemoteBranches",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Fetches a Repository's remote branches.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}:fetchRemoteBranches",
                  "response": {
                    "$ref": "FetchRemoteBranchesResponse"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The repository's name.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                    }
                  },
                  "id": "dataform.projects.locations.repositories.fetchRemoteBranches"
                },
                "commit": {
                  "request": {
                    "$ref": "CommitRepositoryChangesRequest"
                  },
                  "description": "Applies a Git commit to a Repository. The Repository must not have a value for `git_remote_settings.url`.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:commit",
                  "id": "dataform.projects.locations.repositories.commit",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}:commit",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path",
                      "description": "Required. The repository's name.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "CommitRepositoryChangesResponse"
                  }
                },
                "testIamPermissions": {
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "id": "dataform.projects.locations.repositories.testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:testIamPermissions",
                  "path": "v1beta1/{+resource}:testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "httpMethod": "POST"
                },
                "move": {
                  "id": "dataform.projects.locations.repositories.move",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+name}:move",
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:move",
                  "request": {
                    "$ref": "MoveRepositoryRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "Required. The full resource name of the repository to move.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Moves a Repository to a new location."
                },
                "get": {
                  "description": "Fetches a single Repository.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The repository's name."
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "path": "v1beta1/{+name}",
                  "id": "dataform.projects.locations.repositories.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Repository"
                  }
                },
                "readFile": {
                  "response": {
                    "$ref": "ReadRepositoryFileResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "commitSha": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The commit SHA for the commit to read from. If unset, the file will be read from HEAD."
                    },
                    "path": {
                      "description": "Required. Full file path to read including filename, from repository root.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "description": "Required. The repository's name.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns the contents of a file (inside a Repository). The Repository must not have a value for `git_remote_settings.url`.",
                  "path": "v1beta1/{+name}:readFile",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:readFile",
                  "id": "dataform.projects.locations.repositories.readFile"
                },
                "getIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "dataform.projects.locations.repositories.getIamPolicy",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:getIamPolicy",
                  "path": "v1beta1/{+resource}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    },
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                    }
                  }
                },
                "computeAccessTokenStatus": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:computeAccessTokenStatus",
                  "id": "dataform.projects.locations.repositories.computeAccessTokenStatus",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Computes a Repository's Git access token status.",
                  "response": {
                    "$ref": "ComputeRepositoryAccessTokenStatusResponse"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The repository's name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1beta1/{+name}:computeAccessTokenStatus",
                  "httpMethod": "GET"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dataform.projects.locations.repositories.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Specifies the fields to be updated in the repository. If left unset, all fields will be updated."
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "Identifier. The repository's name."
                    }
                  },
                  "description": "Updates a single Repository. **Note:** *This method does not fully implement [AIP/134](https://google.aip.dev/134). The wildcard entry (\\*) is treated as a bad request, and when the `field_mask` is omitted, the request is treated as a full update on all modifiable fields.*",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Repository"
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Repository"
                  }
                },
                "fetchHistory": {
                  "description": "Fetches a Repository's history of commits. The Repository must not have a value for `git_remote_settings.url`.",
                  "id": "dataform.projects.locations.repositories.fetchHistory",
                  "response": {
                    "$ref": "FetchRepositoryHistoryResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:fetchHistory",
                  "path": "v1beta1/{+name}:fetchHistory",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. Page token received from a previous `FetchRepositoryHistory` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FetchRepositoryHistory`, with the exception of `page_size`, must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of commits to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "Required. The repository's name.",
                      "required": true
                    }
                  }
                },
                "list": {
                  "description": "Lists Repositories in a given project and location. **Note:** *This method can return repositories not shown in the [Dataform UI](https://console.cloud.google.com/bigquery/dataform)*.",
                  "id": "dataform.projects.locations.repositories.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter for the returned list.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The location in which to list repositories. Must be in the format `projects/*/locations/*`.",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of repositories to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Page token received from a previous `ListRepositories` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRepositories`, with the exception of `page_size`, must match the call that provided the page token."
                    },
                    "orderBy": {
                      "description": "Optional. This field only supports ordering by `name`. If unspecified, the server will choose the ordering. If specified, the default order is ascending for the `name` field.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1beta1/{+parent}/repositories",
                  "response": {
                    "$ref": "ListRepositoriesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "deleteLongRunning": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single repository asynchronously.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:deleteLongRunning",
                  "path": "v1beta1/{+name}:deleteLongRunning",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "Required. The repository's name."
                    }
                  },
                  "id": "dataform.projects.locations.repositories.deleteLongRunning",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "DeleteRepositoryLongRunningRequest"
                  }
                },
                "queryDirectoryContents": {
                  "response": {
                    "$ref": "QueryRepositoryDirectoryContentsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}:queryDirectoryContents",
                  "parameters": {
                    "path": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The directory's full path including directory name, relative to root. If left unset, the root is used."
                    },
                    "commitSha": {
                      "description": "Optional. The Commit SHA for the commit to query from. If unset, the directory will be queried from HEAD.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The repository's name."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Maximum number of paths to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Page token received from a previous `QueryRepositoryDirectoryContents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryRepositoryDirectoryContents`, with the exception of `page_size`, must match the call that provided the page token.",
                      "type": "string"
                    }
                  },
                  "id": "dataform.projects.locations.repositories.queryDirectoryContents",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:queryDirectoryContents",
                  "description": "Returns the contents of a given Repository directory. The Repository must not have a value for `git_remote_settings.url`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "setIamPolicy": {
                  "path": "v1beta1/{+resource}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:setIamPolicy",
                  "id": "dataform.projects.locations.repositories.setIamPolicy"
                },
                "delete": {
                  "parameters": {
                    "force": {
                      "location": "query",
                      "description": "Optional. If set to true, child resources of this repository (compilation results and workflow invocations) will also be deleted. Otherwise, the request will only succeed if the repository has no child resources. **Note:** *This flag doesn't support deletion of workspaces, release configs or workflow configs. If any of such resources exists in the repository, the request will fail.*.",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The repository's name."
                    }
                  },
                  "description": "Deletes a single Repository.",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dataform.projects.locations.repositories.delete"
                }
              },
              "resources": {
                "releaseConfigs": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "ReleaseConfig"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The release config's name.",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/releaseConfigs/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dataform.projects.locations.repositories.releaseConfigs.get",
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/releaseConfigs/{releaseConfigsId}",
                      "description": "Fetches a single ReleaseConfig."
                    },
                    "patch": {
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/releaseConfigs/{releaseConfigsId}",
                      "request": {
                        "$ref": "ReleaseConfig"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dataform.projects.locations.repositories.releaseConfigs.patch",
                      "parameters": {
                        "updateMask": {
                          "description": "Optional. Specifies the fields to be updated in the release config. If left unset, all fields will be updated.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/releaseConfigs/[^/]+$",
                          "description": "Identifier. The release config's name.",
                          "location": "path"
                        }
                      },
                      "description": "Updates a single ReleaseConfig. **Note:** *This method does not fully implement [AIP/134](https://google.aip.dev/134). The wildcard entry (\\*) is treated as a bad request, and when the `field_mask` is omitted, the request is treated as a full update on all modifiable fields.*",
                      "response": {
                        "$ref": "ReleaseConfig"
                      },
                      "httpMethod": "PATCH"
                    },
                    "create": {
                      "description": "Creates a new ReleaseConfig in a given Repository.",
                      "request": {
                        "$ref": "ReleaseConfig"
                      },
                      "response": {
                        "$ref": "ReleaseConfig"
                      },
                      "path": "v1beta1/{+parent}/releaseConfigs",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/releaseConfigs",
                      "parameters": {
                        "releaseConfigId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The ID to use for the release config, which will become the final component of the release config's resource name."
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "Required. The repository in which to create the release config. Must be in the format `projects/*/locations/*/repositories/*`."
                        }
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "dataform.projects.locations.repositories.releaseConfigs.create"
                    },
                    "list": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/releaseConfigs",
                      "id": "dataform.projects.locations.repositories.releaseConfigs.list",
                      "path": "v1beta1/{+parent}/releaseConfigs",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The repository in which to list release configs. Must be in the format `projects/*/locations/*/repositories/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Page token received from a previous `ListReleaseConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReleaseConfigs`, with the exception of `page_size`, must match the call that provided the page token."
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. Maximum number of release configs to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists ReleaseConfigs in a given Repository.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListReleaseConfigsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/releaseConfigs/[^/]+$",
                          "description": "Required. The release config's name."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "path": "v1beta1/{+name}",
                      "description": "Deletes a single ReleaseConfig.",
                      "id": "dataform.projects.locations.repositories.releaseConfigs.delete",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/releaseConfigs/{releaseConfigsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "workspaces": {
                  "methods": {
                    "fetchFileGitStatuses": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The workspace's name.",
                          "location": "path"
                        }
                      },
                      "path": "v1beta1/{+name}:fetchFileGitStatuses",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dataform.projects.locations.repositories.workspaces.fetchFileGitStatuses",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "FetchFileGitStatusesResponse"
                      },
                      "description": "Fetches Git statuses for the files in a Workspace.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:fetchFileGitStatuses",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "description": "Required. The workspace's name.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "dataform.projects.locations.repositories.workspaces.get",
                      "response": {
                        "$ref": "Workspace"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Fetches a single Workspace."
                    },
                    "getIamPolicy": {
                      "response": {
                        "$ref": "Policy"
                      },
                      "path": "v1beta1/{+resource}:getIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ],
                      "httpMethod": "GET",
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "id": "dataform.projects.locations.repositories.workspaces.getIamPolicy",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:getIamPolicy",
                      "parameters": {
                        "resource": {
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$"
                        },
                        "options.requestedPolicyVersion": {
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        }
                      }
                    },
                    "checkout": {
                      "request": {
                        "$ref": "CheckoutWorkspaceBranchRequest"
                      },
                      "description": "Checkout a branch in a Workspace.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1beta1/{+name}:checkout",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:checkout",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dataform.projects.locations.repositories.workspaces.checkout",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "description": "Required. The workspace resource name. Format: projects/{project}/locations/{location}/repositories/{repository}/workspaces/{workspace}",
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "pull": {
                      "request": {
                        "$ref": "PullGitCommitsRequest"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "PullGitCommitsResponse"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "description": "Required. The workspace's name.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "dataform.projects.locations.repositories.workspaces.pull",
                      "path": "v1beta1/{+name}:pull",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:pull",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Pulls Git commits from the Repository's remote into a Workspace."
                    },
                    "push": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:push",
                      "id": "dataform.projects.locations.repositories.workspaces.push",
                      "description": "Pushes Git commits from a Workspace to the Repository's remote.",
                      "request": {
                        "$ref": "PushGitCommitsRequest"
                      },
                      "response": {
                        "$ref": "PushGitCommitsResponse"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The workspace's name."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "path": "v1beta1/{+name}:push"
                    },
                    "commit": {
                      "request": {
                        "$ref": "CommitWorkspaceChangesRequest"
                      },
                      "httpMethod": "POST",
                      "id": "dataform.projects.locations.repositories.workspaces.commit",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "description": "Required. The workspace's name.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:commit",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "CommitWorkspaceChangesResponse"
                      },
                      "path": "v1beta1/{+name}:commit",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Applies a Git commit for uncommitted files in a Workspace."
                    },
                    "removeDirectory": {
                      "parameters": {
                        "workspace": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "description": "Required. The workspace's name.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "workspace"
                      ],
                      "response": {
                        "$ref": "RemoveDirectoryResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+workspace}:removeDirectory",
                      "description": "Deletes a directory (inside a Workspace) and all of its contents.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:removeDirectory",
                      "request": {
                        "$ref": "RemoveDirectoryRequest"
                      },
                      "id": "dataform.projects.locations.repositories.workspaces.removeDirectory"
                    },
                    "testIamPermissions": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:testIamPermissions",
                      "id": "dataform.projects.locations.repositories.workspaces.testIamPermissions",
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+resource}:testIamPermissions",
                      "httpMethod": "POST",
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "parameters": {
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "resource"
                      ]
                    },
                    "fetchGitAheadBehind": {
                      "id": "dataform.projects.locations.repositories.workspaces.fetchGitAheadBehind",
                      "parameters": {
                        "name": {
                          "description": "Required. The workspace's name.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "required": true
                        },
                        "remoteBranch": {
                          "description": "Optional. The name of the branch in the Git remote against which this workspace should be compared. If left unset, the repository's default branch name will be used.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "FetchGitAheadBehindResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:fetchGitAheadBehind",
                      "description": "Fetches Git ahead/behind against a remote branch.",
                      "path": "v1beta1/{+name}:fetchGitAheadBehind"
                    },
                    "moveDirectory": {
                      "path": "v1beta1/{+workspace}:moveDirectory",
                      "id": "dataform.projects.locations.repositories.workspaces.moveDirectory",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:moveDirectory",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Moves a directory (inside a Workspace), and all of its contents, to a new location.",
                      "parameterOrder": [
                        "workspace"
                      ],
                      "response": {
                        "$ref": "MoveDirectoryResponse"
                      },
                      "request": {
                        "$ref": "MoveDirectoryRequest"
                      },
                      "parameters": {
                        "workspace": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The workspace's name."
                        }
                      }
                    },
                    "setIamPolicy": {
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "id": "dataform.projects.locations.repositories.workspaces.setIamPolicy",
                      "path": "v1beta1/{+resource}:setIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:setIamPolicy",
                      "parameters": {
                        "resource": {
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "syncWorkspaceRefs": {
                      "description": "Syncs the refs of a Workspace.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "dataform.projects.locations.repositories.workspaces.syncWorkspaceRefs",
                      "response": {
                        "$ref": "SyncWorkspaceRefsResponse"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:syncWorkspaceRefs",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "SyncWorkspaceRefsRequest"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The workspace resource name. Format: projects/{project}/locations/{location}/repositories/{repository}/workspaces/{workspace}",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$"
                        }
                      },
                      "path": "v1beta1/{+name}:syncWorkspaceRefs"
                    },
                    "removeFile": {
                      "parameterOrder": [
                        "workspace"
                      ],
                      "response": {
                        "$ref": "RemoveFileResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+workspace}:removeFile",
                      "id": "dataform.projects.locations.repositories.workspaces.removeFile",
                      "request": {
                        "$ref": "RemoveFileRequest"
                      },
                      "parameters": {
                        "workspace": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The workspace's name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Deletes a file (inside a Workspace).",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:removeFile",
                      "httpMethod": "POST"
                    },
                    "queryDirectoryContents": {
                      "parameters": {
                        "workspace": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "description": "Required. The workspace's name.",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Maximum number of paths to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32"
                        },
                        "path": {
                          "description": "Optional. The directory's full path including directory name, relative to the workspace root. If left unset, the workspace root is used.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. Page token received from a previous `QueryDirectoryContents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `QueryDirectoryContents`, with the exception of `page_size`, must match the call that provided the page token.",
                          "type": "string"
                        },
                        "view": {
                          "enum": [
                            "DIRECTORY_CONTENTS_VIEW_UNSPECIFIED",
                            "DIRECTORY_CONTENTS_VIEW_BASIC",
                            "DIRECTORY_CONTENTS_VIEW_METADATA"
                          ],
                          "enumDescriptions": [
                            "The default unset value. Defaults to DIRECTORY_CONTENTS_VIEW_BASIC.",
                            "Includes only the file or directory name. This is the default behavior.",
                            "Includes all metadata for each file or directory. Currently not supported by CMEK-protected workspaces."
                          ],
                          "description": "Optional. Specifies the metadata to return for each directory entry. If unspecified, the default is `DIRECTORY_CONTENTS_VIEW_BASIC`. Currently the `DIRECTORY_CONTENTS_VIEW_METADATA` view is not supported by CMEK-protected workspaces.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "QueryDirectoryContentsResponse"
                      },
                      "id": "dataform.projects.locations.repositories.workspaces.queryDirectoryContents",
                      "path": "v1beta1/{+workspace}:queryDirectoryContents",
                      "parameterOrder": [
                        "workspace"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:queryDirectoryContents",
                      "description": "Returns the contents of a given Workspace directory.",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "writeFile": {
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "workspace"
                      ],
                      "request": {
                        "$ref": "WriteFileRequest"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:writeFile",
                      "response": {
                        "$ref": "WriteFileResponse"
                      },
                      "parameters": {
                        "workspace": {
                          "required": true,
                          "description": "Required. The workspace's name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "Writes to a file (inside a Workspace).",
                      "httpMethod": "POST",
                      "path": "v1beta1/{+workspace}:writeFile",
                      "id": "dataform.projects.locations.repositories.workspaces.writeFile"
                    },
                    "readFile": {
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:readFile",
                      "parameters": {
                        "path": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The file's full path including filename, relative to the workspace root."
                        },
                        "revision": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The Git revision of the file to return. If left empty, the current contents of `path` will be returned."
                        },
                        "workspace": {
                          "description": "Required. The workspace's name.",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$"
                        }
                      },
                      "path": "v1beta1/{+workspace}:readFile",
                      "id": "dataform.projects.locations.repositories.workspaces.readFile",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ReadFileResponse"
                      },
                      "parameterOrder": [
                        "workspace"
                      ],
                      "description": "Returns the contents of a file (inside a Workspace)."
                    },
                    "fetchCurrentBranch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Fetches the current branch of a Workspace.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "FetchCurrentWorkspaceBranchResponse"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "description": "Required. The workspace resource name. Format: projects/{project}/locations/{location}/repositories/{repository}/workspaces/{workspace}",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:fetchCurrentBranch",
                      "id": "dataform.projects.locations.repositories.workspaces.fetchCurrentBranch",
                      "path": "v1beta1/{+name}:fetchCurrentBranch"
                    },
                    "deleteBranch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "DeleteBranchRequest"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:deleteBranch",
                      "response": {
                        "$ref": "DeleteBranchResponse"
                      },
                      "httpMethod": "POST",
                      "description": "Deletes a branch in a Workspace.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "description": "Required. The workspace resource name. Format: projects/{project}/locations/{location}/repositories/{repository}/workspaces/{workspace}"
                        }
                      },
                      "path": "v1beta1/{+name}:deleteBranch",
                      "id": "dataform.projects.locations.repositories.workspaces.deleteBranch"
                    },
                    "list": {
                      "description": "Lists Workspaces in a given Repository.",
                      "response": {
                        "$ref": "ListWorkspacesResponse"
                      },
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter for the returned list.",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Maximum number of workspaces to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default."
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. This field only supports ordering by `name`. If unspecified, the server will choose the ordering. If specified, the default order is ascending for the `name` field."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Page token received from a previous `ListWorkspaces` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWorkspaces`, with the exception of `page_size`, must match the call that provided the page token."
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The repository in which to list workspaces. Must be in the format `projects/*/locations/*/repositories/*`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/workspaces",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "dataform.projects.locations.repositories.workspaces.list",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces"
                    },
                    "delete": {
                      "description": "Deletes a single Workspace.",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "dataform.projects.locations.repositories.workspaces.delete",
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The workspace resource's name."
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE"
                    },
                    "installNpmPackages": {
                      "parameters": {
                        "workspace": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The workspace's name.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$"
                        }
                      },
                      "path": "v1beta1/{+workspace}:installNpmPackages",
                      "id": "dataform.projects.locations.repositories.workspaces.installNpmPackages",
                      "response": {
                        "$ref": "InstallNpmPackagesResponse"
                      },
                      "description": "Installs dependency NPM packages (inside a Workspace).",
                      "parameterOrder": [
                        "workspace"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:installNpmPackages",
                      "request": {
                        "$ref": "InstallNpmPackagesRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "description": "Creates a new Workspace in a given Repository.",
                      "parameters": {
                        "workspaceId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The ID to use for the workspace, which will become the final component of the workspace's resource name."
                        },
                        "parent": {
                          "description": "Required. The repository in which to create the workspace. Must be in the format `projects/*/locations/*/repositories/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces",
                      "id": "dataform.projects.locations.repositories.workspaces.create",
                      "path": "v1beta1/{+parent}/workspaces",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Workspace"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Workspace"
                      }
                    },
                    "fetchBranches": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/workspaces/{workspacesId}:fetchBranches",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "description": "Required. The workspace resource name. Format: projects/{project}/locations/{location}/repositories/{repository}/workspaces/{workspace}",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. Maximum number of branches to return. The server may return fewer items than requested. If unspecified, the server will pick an appropriate default. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. Page token received from a previous `FetchWorkspaceBranches` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FetchWorkspaceBranches`, with the exception of `page_size`, must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filter for the returned list.",
                          "enumDescriptions": [
                            "Default value. This value is unused.",
                            "Returns local branches.",
                            "Returns remote branches.",
                            "Returns all branches."
                          ],
                          "enum": [
                            "BRANCH_FILTER_UNSPECIFIED",
                            "LOCAL_ONLY",
                            "REMOTE_ONLY",
                            "ALL"
                          ]
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v1beta1/{+name}:fetchBranches",
                      "id": "dataform.projects.locations.repositories.workspaces.fetchBranches",
                      "description": "Fetches branches in a Workspace.",
                      "response": {
                        "$ref": "FetchWorkspaceBranchesResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "makeDirectory": {
[...]
