{
  "basePath": "",
  "baseUrl": "https://dataflow.googleapis.com/",
  "servicePath": "",
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "rootUrl": "https://dataflow.googleapis.com/",
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    }
  },
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "version": "v1b3",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "id": "dataflow:v1b3",
  "name": "dataflow",
  "endpoints": [
    {
      "location": "africa-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.africa-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://dataflow.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://dataflow.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-south2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-south2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2"
    },
    {
      "location": "asia-southeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-southeast3.rep.googleapis.com/"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://dataflow.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-central2.rep.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://dataflow.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://dataflow.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "location": "europe-west10",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west10.rep.googleapis.com/"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://dataflow.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://dataflow.europe-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://dataflow.europe-west4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://dataflow.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central1",
      "endpointUrl": "https://dataflow.me-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-east1",
      "endpointUrl": "https://dataflow.southamerica-east1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.southamerica-west1.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://dataflow.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-central2.rep.googleapis.com/"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://dataflow.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-east7.rep.googleapis.com/",
      "location": "us-east7"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://dataflow.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://dataflow.us-west2.rep.googleapis.com/"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://dataflow.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "documentationLink": "https://cloud.google.com/dataflow",
  "batchPath": "batch",
  "revision": "20260825",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Dataflow",
  "schemas": {
    "ListSnapshotsResponse": {
      "id": "ListSnapshotsResponse",
      "type": "object",
      "description": "List of snapshots.",
      "properties": {
        "snapshots": {
          "type": "array",
          "description": "Returned snapshots.",
          "items": {
            "$ref": "Snapshot"
          }
        }
      }
    },
    "WorkerDetails": {
      "description": "Information about a worker",
      "id": "WorkerDetails",
      "properties": {
        "workerName": {
          "type": "string",
          "description": "Name of this worker"
        },
        "workItems": {
          "type": "array",
          "items": {
            "$ref": "WorkItemDetails"
          },
          "description": "Work items processed by this worker, sorted by time."
        }
      },
      "type": "object"
    },
    "WorkerMessageResponse": {
      "id": "WorkerMessageResponse",
      "description": "A worker_message response allows the server to pass information to the sender.",
      "properties": {
        "workerHealthReportResponse": {
          "description": "The service's response to a worker's health report.",
          "$ref": "WorkerHealthReportResponse"
        },
        "streamingScalingReportResponse": {
          "$ref": "StreamingScalingReportResponse",
          "description": "Service's streaming scaling response for workers."
        },
        "workerMetricsResponse": {
          "description": "Service's response to reporting worker metrics (currently empty).",
          "$ref": "ResourceUtilizationReportResponse"
        },
        "workerThreadScalingReportResponse": {
          "$ref": "WorkerThreadScalingReportResponse",
          "description": "Service's thread scaling recommendation for workers."
        },
        "workerShutdownNoticeResponse": {
          "description": "Service's response to shutdown notice (currently empty).",
          "$ref": "WorkerShutdownNoticeResponse"
        }
      },
      "type": "object"
    },
    "StringList": {
      "id": "StringList",
      "properties": {
        "elements": {
          "items": {
            "type": "string"
          },
          "description": "Elements of the list.",
          "type": "array"
        }
      },
      "description": "A metric value representing a list of strings.",
      "type": "object"
    },
    "Parameters": {
      "properties": {
        "maxWorkerCount": {
          "format": "int32",
          "description": "Optional. The maximum number of workers for this schedule.",
          "type": "integer"
        },
        "cpuUtilizationTarget": {
          "format": "double",
          "description": "Optional. The target CPU utilization for this schedule.",
          "type": "number"
        },
        "latencyTarget": {
          "type": "string",
          "description": "Optional. The target latency for this schedule."
        },
        "minWorkerCount": {
          "type": "integer",
          "description": "Optional. The minimum number of workers for this schedule.",
          "format": "int32"
        }
      },
      "id": "Parameters",
      "type": "object",
      "description": "The parameters to use for autoscaling when this schedule is active."
    },
    "Disk": {
      "properties": {
        "diskType": {
          "description": "Disk storage type, as defined by Google Compute Engine. This must be a disk type appropriate to the project and zone in which the workers will run. If unknown or unspecified, the service will attempt to choose a reasonable default. For example, the standard persistent disk type is a resource name typically ending in \"pd-standard\". If SSD persistent disks are available, the resource name typically ends with \"pd-ssd\". The actual valid values are defined the Google Compute Engine API, not by the Cloud Dataflow API; consult the Google Compute Engine documentation for more information about determining the set of available disk types for a particular project and zone. Google Compute Engine Disk types are local to a particular project in a particular zone, and so the resource name will typically look something like this: compute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard",
          "type": "string"
        },
        "mountPoint": {
          "type": "string",
          "description": "Directory in a VM where disk is mounted."
        },
        "sizeGb": {
          "format": "int32",
          "description": "Size of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer"
        }
      },
      "description": "Describes the data disk used by a workflow job.",
      "type": "object",
      "id": "Disk"
    },
    "StreamingComputationTask": {
      "type": "object",
      "properties": {
        "computationRanges": {
          "items": {
            "$ref": "StreamingComputationRanges"
          },
          "type": "array",
          "description": "Contains ranges of a streaming computation this task should apply to."
        },
        "taskType": {
          "enum": [
            "STREAMING_COMPUTATION_TASK_UNKNOWN",
            "STREAMING_COMPUTATION_TASK_STOP",
            "STREAMING_COMPUTATION_TASK_START"
          ],
          "description": "A type of streaming computation task.",
          "type": "string",
          "enumDescriptions": [
            "The streaming computation task is unknown, or unspecified.",
            "Stop processing specified streaming computation range(s).",
            "Start processing specified streaming computation range(s)."
          ]
        },
        "dataDisks": {
          "description": "Describes the set of data disks this task should apply to.",
          "items": {
            "$ref": "MountedDataDisk"
          },
          "type": "array"
        }
      },
      "description": "A task which describes what action should be performed for the specified streaming computation ranges.",
      "id": "StreamingComputationTask"
    },
    "Source": {
      "description": "A source that records can be read and decoded from.",
      "properties": {
        "baseSpecs": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          },
          "description": "While splitting, sources may specify the produced bundles as differences against another source, in order to save backend-side memory and allow bigger jobs. For details, see SourceSplitRequest. To support this use case, the full set of parameters of the source is logically obtained by taking the latest explicitly specified value of each parameter in the order: base_specs (later items win), spec (overrides anything in base_specs)."
        },
        "doesNotNeedSplitting": {
          "type": "boolean",
          "description": "Setting this value to true hints to the framework that the source doesn't need splitting, and using SourceSplitRequest on it would yield SOURCE_SPLIT_OUTCOME_USE_CURRENT. E.g. a file splitter may set this to true when splitting a single file into a set of byte ranges of appropriate size, and set this to false when splitting a filepattern into individual files. However, for efficiency, a file splitter may decide to produce file subranges directly from the filepattern to avoid a splitting round-trip. See SourceSplitRequest for an overview of the splitting process. This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated."
        },
        "spec": {
          "type": "object",
          "description": "The source to read from, plus its parameters.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "metadata": {
          "$ref": "SourceMetadata",
          "description": "Optionally, metadata for this source can be supplied right away, avoiding a SourceGetMetadataOperation roundtrip (see SourceOperationRequest). This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated."
        },
        "codec": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The codec to use to decode data read from the source."
        }
      },
      "id": "Source",
      "type": "object"
    },
    "ExecutionStageState": {
      "type": "object",
      "properties": {
        "executionStageName": {
          "description": "The name of the execution stage.",
          "type": "string"
        },
        "currentStateTime": {
          "format": "google-datetime",
          "description": "The time at which the stage transitioned to this state.",
          "type": "string"
        },
        "executionStageState": {
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested.",
            "`JOB_STATE_PAUSING` indicates that the job is in the process of pausing. A pausing job will stop processing, archive in-flight Shuffle data, and transition to `JOB_STATE_PAUSED`. Jobs in this state can transition to `JOB_STATE_CANCELLING` if cancellation is requested, or can transition back to `JOB_STATE_RUNNING` if the pause fails to complete.",
            "`JOB_STATE_PAUSED` indicates that the job is not currently processing. Jobs in this state can transition back to `JOB_STATE_RUNNING` to continue processing where they left off, or can transition to `JOB_STATE_CANCELLING` if cancellation is requested."
          ],
          "type": "string",
          "description": "Executions stage states allow the same set of values as JobState.",
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP",
            "JOB_STATE_PAUSING",
            "JOB_STATE_PAUSED"
          ]
        }
      },
      "id": "ExecutionStageState",
      "description": "A message describing the state of a particular execution stage."
    },
    "StreamingComputationRanges": {
      "type": "object",
      "id": "StreamingComputationRanges",
      "description": "Describes full or partial data disk assignment information of the computation ranges.",
      "properties": {
        "rangeAssignments": {
          "description": "Data disk assignments for ranges from this computation.",
          "items": {
            "$ref": "KeyRangeDataDiskAssignment"
          },
          "type": "array"
        },
        "computationId": {
          "description": "The ID of the computation.",
          "type": "string"
        }
      }
    },
    "ListConfigStoreSettingsResponse": {
      "description": "Response message for ListConfigStoreSettings.",
      "id": "ListConfigStoreSettingsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page."
        },
        "configStoreSettings": {
          "type": "array",
          "items": {
            "$ref": "ConfigStoreSetting"
          },
          "description": "The list of ConfigStoreSettings."
        }
      },
      "type": "object"
    },
    "WorkerHealthReportResponse": {
      "id": "WorkerHealthReportResponse",
      "properties": {
        "reportInterval": {
          "description": "A positive value indicates the worker should change its reporting interval to the specified value. The default value of zero means no change in report rate is requested by the server.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "WorkerHealthReportResponse contains information returned to the worker in response to a health ping."
    },
    "StageSource": {
      "properties": {
        "sizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Size of the source, if measurable."
        },
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this source."
        },
        "originalTransformOrCollection": {
          "type": "string",
          "description": "User name for the original user transform or collection with which this source is most closely associated."
        },
        "userName": {
          "type": "string",
          "description": "Human-readable name for this source; may be user or system generated."
        }
      },
      "id": "StageSource",
      "description": "Description of an input or output of an execution stage.",
      "type": "object"
    },
    "ServiceResources": {
      "id": "ServiceResources",
      "description": "Resources used by the Dataflow Service to run the job.",
      "type": "object",
      "properties": {
        "zones": {
          "type": "array",
          "description": "Output only. List of Cloud Zones being used by the Dataflow Service for this job. Example: us-central1-c",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "LaunchTemplateParameters": {
      "type": "object",
      "properties": {
        "transformNameMapping": {
          "description": "Only applicable when updating a pipeline. Map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "environment": {
          "$ref": "RuntimeEnvironment",
          "description": "The runtime environment for the job."
        },
        "update": {
          "description": "If set, replace the existing pipeline with the name specified by jobName with this pipeline, preserving state.",
          "type": "boolean"
        },
        "jobName": {
          "description": "Required. The job name to use for the created job. The name must match the regular expression `[a-z]([-a-z0-9]{0,1022}[a-z0-9])?`",
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The runtime parameters to pass to the job.",
          "type": "object"
        }
      },
      "description": "Parameters to provide to the template being launched. Note that the [metadata in the pipeline code] (https://cloud.google.com/dataflow/docs/guides/templates/creating-templates#metadata) determines which runtime parameters are valid.",
      "id": "LaunchTemplateParameters"
    },
    "StructuredMessage": {
      "type": "object",
      "properties": {
        "parameters": {
          "description": "The structured data associated with this message.",
          "items": {
            "$ref": "Parameter"
          },
          "type": "array"
        },
        "messageKey": {
          "type": "string",
          "description": "Identifier for this message type. Used by external systems to internationalize or personalize message."
        },
        "messageText": {
          "type": "string",
          "description": "Human-readable version of message."
        }
      },
      "description": "A rich message format, including a human readable string, a key for identifying the message, and structured data associated with the message for programmatic consumption.",
      "id": "StructuredMessage"
    },
    "StageSummary": {
      "id": "StageSummary",
      "type": "object",
      "description": "Information about a particular execution stage of a job.",
      "properties": {
        "stragglerSummary": {
          "description": "Straggler summary for this stage.",
          "$ref": "StragglerSummary"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "End time of this stage. If the work item is completed, this is the actual end time of the stage. Otherwise, it is the predicted end time.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Start time of this stage."
        },
        "state": {
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ],
          "type": "string",
          "description": "State of this stage.",
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ]
        },
        "progress": {
          "$ref": "ProgressTimeseries",
          "description": "Progress for this stage. Only applicable to Batch jobs."
        },
        "metrics": {
          "description": "Metrics for this stage.",
          "items": {
            "$ref": "MetricUpdate"
          },
          "type": "array"
        },
        "stageId": {
          "type": "string",
          "description": "ID of this stage"
        }
      }
    },
    "Parameter": {
      "description": "Structured data associated with this message.",
      "properties": {
        "key": {
          "description": "Key or name for this parameter.",
          "type": "string"
        },
        "value": {
          "type": "any",
          "description": "Value for this parameter."
        }
      },
      "id": "Parameter",
      "type": "object"
    },
    "MountedDataDisk": {
      "type": "object",
      "id": "MountedDataDisk",
      "properties": {
        "dataDisk": {
          "type": "string",
          "description": "The name of the data disk. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\"."
        }
      },
      "description": "Describes mounted data disk."
    },
    "BucketOptions": {
      "id": "BucketOptions",
      "type": "object",
      "properties": {
        "exponential": {
          "description": "Bucket boundaries grow exponentially.",
          "$ref": "Base2Exponent"
        },
        "linear": {
          "description": "Bucket boundaries grow linearly.",
          "$ref": "Linear"
        }
      },
      "description": "`BucketOptions` describes the bucket boundaries used in the histogram."
    },
    "MultiOutputInfo": {
      "id": "MultiOutputInfo",
      "description": "Information about an output of a multi-output DoFn.",
      "type": "object",
      "properties": {
        "tag": {
          "description": "The id of the tag the user code will emit to this output by; this should correspond to the tag of some SideInputInfo.",
          "type": "string"
        }
      }
    },
    "TopologyConfig": {
      "description": "Global topology of the streaming Dataflow job, including all computations and their sharded locations.",
      "properties": {
        "computations": {
          "description": "The computations associated with a streaming Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "ComputationTopology"
          }
        },
        "forwardingKeyBits": {
          "type": "integer",
          "description": "The size (in bits) of keys that will be assigned to source messages.",
          "format": "int32"
        },
        "persistentStateVersion": {
          "description": "Version number for persistent state.",
          "format": "int32",
          "type": "integer"
        },
        "userStageToComputationNameMap": {
          "description": "Maps user stage names to stable computation names.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dataDiskAssignments": {
          "description": "The disks assigned to a streaming Dataflow job.",
          "items": {
            "$ref": "DataDiskAssignment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "TopologyConfig"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "CreateJobFromTemplateRequest": {
      "description": "A request to create a Cloud Dataflow job from a template.",
      "type": "object",
      "id": "CreateJobFromTemplateRequest",
      "properties": {
        "jobName": {
          "description": "Required. The job name to use for the created job.",
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The runtime parameters to pass to the job."
        },
        "gcsPath": {
          "description": "Required. A Cloud Storage path to the template from which to create the job. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "environment": {
          "description": "The runtime environment for the job.",
          "$ref": "RuntimeEnvironment"
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
        }
      }
    },
    "SourceSplitResponse": {
      "type": "object",
      "id": "SourceSplitResponse",
      "description": "The response to a SourceSplitRequest.",
      "properties": {
        "shards": {
          "deprecated": true,
          "description": "DEPRECATED in favor of bundles.",
          "items": {
            "$ref": "SourceSplitShard"
          },
          "type": "array"
        },
        "outcome": {
          "description": "Indicates whether splitting happened and produced a list of bundles. If this is USE_CURRENT_SOURCE_AS_IS, the current source should be processed \"as is\" without splitting. \"bundles\" is ignored in this case. If this is SPLITTING_HAPPENED, then \"bundles\" contains a list of bundles into which the source was split.",
          "enumDescriptions": [
            "The source split outcome is unknown, or unspecified.",
            "The current source should be processed \"as is\" without splitting.",
            "Splitting produced a list of bundles."
          ],
          "enum": [
            "SOURCE_SPLIT_OUTCOME_UNKNOWN",
            "SOURCE_SPLIT_OUTCOME_USE_CURRENT",
            "SOURCE_SPLIT_OUTCOME_SPLITTING_HAPPENED"
          ],
          "type": "string"
        },
        "bundles": {
          "type": "array",
          "description": "If outcome is SPLITTING_HAPPENED, then this is a list of bundles into which the source was split. Otherwise this field is ignored. This list can be empty, which means the source represents an empty input.",
          "items": {
            "$ref": "DerivedSource"
          }
        }
      }
    },
    "FileIODetails": {
      "id": "FileIODetails",
      "type": "object",
      "properties": {
        "filePattern": {
          "description": "File Pattern used to access files by the connector.",
          "type": "string"
        }
      },
      "description": "Metadata for a File connector used by the job."
    },
    "JobExecutionStageInfo": {
      "type": "object",
      "id": "JobExecutionStageInfo",
      "properties": {
        "stepName": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The steps associated with the execution stage. Note that stages may have several steps, and that a given step might be run by more than one stage."
        }
      },
      "description": "Contains information about how a particular google.dataflow.v1beta3.Step will be executed."
    },
    "InstructionInput": {
      "id": "InstructionInput",
      "description": "An input of an instruction, as a reference to an output of a producer instruction.",
      "type": "object",
      "properties": {
        "outputNum": {
          "description": "The output index (origin zero) within the producer.",
          "type": "integer",
          "format": "int32"
        },
        "producerInstructionIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The index (origin zero) of the parallel instruction that produces the output to be consumed by this input. This index is relative to the list of instructions in this input's instruction's containing MapTask."
        }
      }
    },
    "RuntimeEnvironment": {
      "description": "The environment values to set at runtime.",
      "type": "object",
      "properties": {
        "network": {
          "type": "string",
          "description": "Optional. Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\"."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/"
        },
        "zone": {
          "type": "string",
          "description": "Optional. The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence."
        },
        "ipConfiguration": {
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "description": "Optional. Configuration for VM IPs.",
          "type": "string",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ]
        },
        "tempLocation": {
          "type": "string",
          "description": "Required. The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`."
        },
        "bypassTempDirValidation": {
          "type": "boolean",
          "description": "Optional. Whether to bypass the safety checks for the job's temporary directory. Use with caution."
        },
        "enableStreamingEngine": {
          "description": "Optional. Whether to enable Streaming Engine for the job.",
          "type": "boolean"
        },
        "additionalPipelineOptions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Additional pipeline option flags for the job."
        },
        "streamingMode": {
          "type": "string",
          "description": "Optional. Specifies the Streaming Engine message processing guarantees. Reduces cost and latency but might result in duplicate messages committed to storage. Designed to run simple mapping streaming ETL jobs at the lowest cost. For example, Change Data Capture (CDC) to BigQuery is a canonical use case. For more information, see [Set the pipeline streaming mode](https://cloud.google.com/dataflow/docs/guides/streaming-modes).",
          "enumDescriptions": [
            "Run in the default mode.",
            "In this mode, message deduplication is performed against persistent state to make sure each message is processed and committed to storage exactly once.",
            "Message deduplication is not performed. Messages might be processed multiple times, and the results are applied multiple times. Note: Setting this value also enables Streaming Engine and Streaming Engine resource-based billing."
          ],
          "enum": [
            "STREAMING_MODE_UNSPECIFIED",
            "STREAMING_MODE_EXACTLY_ONCE",
            "STREAMING_MODE_AT_LEAST_ONCE"
          ]
        },
        "maxWorkers": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000. The default value is 1."
        },
        "subnetwork": {
          "description": "Optional. Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL.",
          "type": "string"
        },
        "diskSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The disk size, in gigabytes, to use on each remote Compute Engine worker instance."
        },
        "additionalExperiments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional experiment flags for the job, specified with the `--experiments` option."
        },
        "workerZone": {
          "type": "string",
          "description": "Optional. The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence."
        },
        "additionalUserLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Additional user labels to be specified for the job. Keys and values should follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }."
        },
        "serviceAccountEmail": {
          "description": "Optional. The email address of the service account to run the job as.",
          "type": "string"
        },
        "machineType": {
          "description": "Optional. The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        },
        "numWorkers": {
          "type": "integer",
          "description": "Optional. The initial number of Google Compute Engine instances for the job. The default value is 11.",
          "format": "int32"
        },
        "workerRegion": {
          "type": "string",
          "description": "Required. The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region."
        }
      },
      "id": "RuntimeEnvironment"
    },
    "DataSamplingReport": {
      "description": "Contains per-worker telemetry about the data sampling feature.",
      "properties": {
        "bytesWrittenDelta": {
          "format": "int64",
          "description": "Optional. Delta of bytes written to file from previous report.",
          "type": "string"
        },
        "elementsSampledBytes": {
          "description": "Optional. Delta of bytes sampled from previous report.",
          "format": "int64",
          "type": "string"
        },
        "persistenceErrorsCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Delta of errors counts from persisting the samples from previous report."
        },
        "elementsSampledCount": {
          "description": "Optional. Delta of number of elements sampled from previous report.",
          "format": "int64",
          "type": "string"
        },
        "exceptionsSampledCount": {
          "format": "int64",
          "description": "Optional. Delta of number of samples taken from user code exceptions from previous report.",
          "type": "string"
        },
        "translationErrorsCount": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Delta of errors counts from retrieving, or translating the samples from previous report."
        },
        "pcollectionsSampledCount": {
          "description": "Optional. Delta of number of PCollections sampled from previous report.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "DataSamplingReport",
      "type": "object"
    },
    "StreamingStageLocation": {
      "description": "Identifies the location of a streaming computation stage, for stage-to-stage communication.",
      "type": "object",
      "properties": {
        "streamId": {
          "description": "Identifies the particular stream within the streaming Dataflow job.",
          "type": "string"
        }
      },
      "id": "StreamingStageLocation"
    },
    "JobExecutionInfo": {
      "description": "Additional information about how a Cloud Dataflow job will be executed that isn't contained in the submitted job.",
      "properties": {
        "stages": {
          "type": "object",
          "description": "A mapping from each stage to the information about that stage.",
          "additionalProperties": {
            "$ref": "JobExecutionStageInfo"
          }
        }
      },
      "type": "object",
      "id": "JobExecutionInfo"
    },
    "DebugOptions": {
      "type": "object",
      "description": "Describes any options that have an effect on the debugging of pipelines.",
      "id": "DebugOptions",
      "properties": {
        "enableHotKeyLogging": {
          "type": "boolean",
          "description": "Optional. When true, enables the logging of the literal hot key to the user's Cloud Logging."
        },
        "dataSampling": {
          "description": "Configuration options for sampling elements from a running pipeline.",
          "$ref": "DataSamplingConfig"
        }
      }
    },
    "JobMetrics": {
      "description": "JobMetrics contains a collection of metrics describing the detailed progress of a Dataflow job. Metrics correspond to user-defined and system-defined metrics in the job. For more information, see [Dataflow job metrics] (https://cloud.google.com/dataflow/docs/guides/using-monitoring-intf). This resource captures only the most recent values of each metric; time-series data can be queried for them (under the same metric names) from Cloud Monitoring.",
      "properties": {
        "metrics": {
          "type": "array",
          "description": "All metrics for this job.",
          "items": {
            "$ref": "MetricUpdate"
          }
        },
        "metricTime": {
          "type": "string",
          "description": "Timestamp as of which metric values are current.",
          "format": "google-datetime"
        }
      },
      "id": "JobMetrics",
      "type": "object"
    },
    "SendWorkerMessagesRequest": {
      "description": "A request for sending worker messages to the service.",
      "id": "SendWorkerMessagesRequest",
      "type": "object",
      "properties": {
        "workerMessages": {
          "items": {
            "$ref": "WorkerMessage"
          },
          "description": "The WorkerMessages to send.",
          "type": "array"
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job.",
          "type": "string"
        }
      }
    },
    "ContainerSpec": {
      "id": "ContainerSpec",
      "properties": {
        "metadata": {
          "description": "Metadata describing a template including description and validation rules.",
          "$ref": "TemplateMetadata"
        },
        "image": {
          "description": "Name of the docker container image. E.g., gcr.io/project/some-image",
          "type": "string"
        },
        "imageRepositoryPasswordSecretId": {
          "description": "Secret Manager secret id for password to authenticate to private registry.",
          "type": "string"
        },
        "imageRepositoryUsernameSecretId": {
          "type": "string",
          "description": "Secret Manager secret id for username to authenticate to private registry."
        },
        "defaultEnvironment": {
          "$ref": "FlexTemplateRuntimeEnvironment",
          "description": "Default runtime environment for the job."
        },
        "sdkInfo": {
          "description": "Required. SDK info of the Flex Template.",
          "$ref": "SDKInfo"
        },
        "imageRepositoryCertPath": {
          "type": "string",
          "description": "Cloud Storage path to self-signed certificate of private registry."
        }
      },
      "type": "object",
      "description": "Container Spec."
    },
    "ConfigStoreSetting": {
      "description": "A ConfigStoreSetting resource.",
      "id": "ConfigStoreSetting",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The dynamic value of the setting.",
          "$ref": "ConfigStoreSettingValue"
        },
        "name": {
          "description": "Identifier. The resource name of the setting.",
          "type": "string"
        }
      }
    },
    "StageExecutionDetails": {
      "type": "object",
      "id": "StageExecutionDetails",
      "properties": {
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        },
        "workers": {
          "type": "array",
          "description": "Workers that have done work on the stage.",
          "items": {
            "$ref": "WorkerDetails"
          }
        }
      },
      "description": "Information about the workers and work items within a stage."
    },
    "SdkHarnessContainerImage": {
      "type": "object",
      "id": "SdkHarnessContainerImage",
      "properties": {
        "environmentId": {
          "type": "string",
          "description": "Environment ID for the Beam runner API proto Environment that corresponds to the current SDK Harness."
        },
        "capabilities": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of capabilities enumerated in the above Environment proto. See also [beam_runner_api.proto](https://github.com/apache/beam/blob/master/model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto)"
        },
        "useSingleCorePerContainer": {
          "type": "boolean",
          "description": "If true, recommends the Dataflow service to use only one core per SDK container instance with this image. If false (or unset) recommends using more than one core per SDK container instance with this image for efficiency. Note that Dataflow service may choose to override this property if needed."
        },
        "containerImage": {
          "description": "A docker container image that resides in Google Container Registry.",
          "type": "string"
        }
      },
      "description": "Defines an SDK harness container for executing Dataflow pipelines."
    },
    "WorkerShutdownNotice": {
      "type": "object",
      "description": "Shutdown notification from workers. This is to be sent by the shutdown script of the worker VM so that the backend knows that the VM is being shut down.",
      "properties": {
        "reason": {
          "description": "The reason for the worker shutdown. Current possible values are: \"UNKNOWN\": shutdown reason is unknown. \"PREEMPTION\": shutdown reason is preemption. Other possible reasons may be added in the future.",
          "type": "string"
        }
      },
      "id": "WorkerShutdownNotice"
    },
    "StragglerSummary": {
      "type": "object",
      "id": "StragglerSummary",
      "properties": {
        "stragglerCauseCount": {
          "description": "Aggregated counts of straggler causes, keyed by the string representation of the StragglerCause enum.",
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        },
        "totalStragglerCount": {
          "format": "int64",
          "description": "The total count of stragglers.",
          "type": "string"
        },
        "recentStragglers": {
          "type": "array",
          "description": "The most recent stragglers.",
          "items": {
            "$ref": "Straggler"
          }
        }
      },
      "description": "Summarized straggler identification details."
    },
    "GetWorkerStacktracesResponse": {
      "type": "object",
      "properties": {
        "sdks": {
          "type": "array",
          "items": {
            "$ref": "Sdk"
          },
          "description": "Repeated as unified worker may have multiple SDK processes."
        }
      },
      "id": "GetWorkerStacktracesResponse",
      "description": "Response to get worker stacktraces from debug capture."
    },
    "MetricStructuredName": {
      "description": "Identifies a metric, by describing the source which generated the metric.",
      "type": "object",
      "id": "MetricStructuredName",
      "properties": {
        "origin": {
          "type": "string",
          "description": "Origin (namespace) of metric name. May be blank for user-define metrics; will be \"dataflow\" for metrics defined by the Dataflow service or SDK."
        },
        "name": {
          "type": "string",
          "description": "Worker-defined metric name."
        },
        "context": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Zero or more labeled fields which identify the part of the job this metric is associated with, such as the name of a step or collection. For example, built-in counters associated with steps will have context['step'] = . Counters associated with PCollections in the SDK will have context['pcollection'] = .",
          "type": "object"
        }
      }
    },
    "SourceSplitRequest": {
      "type": "object",
      "properties": {
        "source": {
          "description": "Specification of the source to be split.",
          "$ref": "Source"
        },
        "options": {
          "$ref": "SourceSplitOptions",
          "description": "Hints for tuning the splitting process."
        }
      },
      "id": "SourceSplitRequest",
      "description": "Represents the operation to split a high-level Source specification into bundles (parts for parallel processing). At a high level, splitting of a source into bundles happens as follows: SourceSplitRequest is applied to the source. If it returns SOURCE_SPLIT_OUTCOME_USE_CURRENT, no further splitting happens and the source is used \"as is\". Otherwise, splitting is applied recursively to each produced DerivedSource. As an optimization, for any Source, if its does_not_need_splitting is true, the framework assumes that splitting this source would return SOURCE_SPLIT_OUTCOME_USE_CURRENT, and doesn't initiate a SourceSplitRequest. This applies both to the initial source being split and to bundles produced from it."
    },
    "PubsubSnapshotMetadata": {
      "type": "object",
      "id": "PubsubSnapshotMetadata",
      "description": "Represents a Pubsub snapshot.",
      "properties": {
        "expireTime": {
          "description": "The expire time of the Pubsub snapshot.",
          "format": "google-datetime",
          "type": "string"
        },
        "topicName": {
          "type": "string",
          "description": "The name of the Pubsub topic."
        },
        "snapshotName": {
          "type": "string",
          "description": "The name of the Pubsub snapshot."
        }
      }
    },
    "StateFamilyConfig": {
      "properties": {
        "stateFamily": {
          "type": "string",
          "description": "The state family value."
        },
        "isRead": {
          "description": "If true, this family corresponds to a read operation.",
          "type": "boolean"
        }
      },
      "id": "StateFamilyConfig",
      "type": "object",
      "description": "State family configuration."
    },
    "ResourceUtilizationReportResponse": {
      "description": "Service-side response to WorkerMessage reporting resource utilization.",
      "id": "ResourceUtilizationReportResponse",
      "type": "object",
      "properties": {}
    },
    "ParDoInstruction": {
      "description": "An instruction that does a ParDo operation. Takes one main input and zero or more side inputs, and produces zero or more outputs. Runs user code.",
      "properties": {
        "numOutputs": {
          "type": "integer",
          "format": "int32",
          "description": "The number of outputs."
        },
        "multiOutputInfos": {
          "description": "Information about each of the outputs, if user_fn is a MultiDoFn.",
          "type": "array",
          "items": {
            "$ref": "MultiOutputInfo"
          }
        },
        "userFn": {
          "description": "The user function to invoke.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "sideInputs": {
          "items": {
            "$ref": "SideInputInfo"
          },
          "description": "Zero or more side inputs.",
          "type": "array"
        },
        "input": {
          "$ref": "InstructionInput",
          "description": "The input."
        }
      },
      "id": "ParDoInstruction",
      "type": "object"
    },
    "OutlierStats": {
      "description": "Statistics for the underflow and overflow bucket.",
      "id": "OutlierStats",
      "type": "object",
      "properties": {
        "overflowCount": {
          "type": "string",
          "description": "Number of values that are larger than the upper bound of the largest bucket.",
          "format": "int64"
        },
        "underflowCount": {
          "type": "string",
          "description": "Number of values that are smaller than the lower bound of the smallest bucket.",
          "format": "int64"
        },
        "underflowMean": {
          "description": "Mean of values in the undeflow bucket.",
          "format": "double",
          "type": "number"
        },
        "overflowMean": {
          "type": "number",
          "format": "double",
          "description": "Mean of values in the overflow bucket."
        }
      }
    },
    "SplitInt64": {
      "id": "SplitInt64",
      "description": "A representation of an int64, n, that is immune to precision loss when encoded in JSON.",
      "type": "object",
      "properties": {
        "lowBits": {
          "description": "The low order bits: n & 0xffffffff.",
          "type": "integer",
          "format": "uint32"
        },
        "highBits": {
          "type": "integer",
          "format": "int32",
          "description": "The high order bits, including the sign: n >> 32."
        }
      }
    },
    "DeleteSnapshotResponse": {
      "id": "DeleteSnapshotResponse",
      "description": "Response from deleting a snapshot.",
      "properties": {},
      "type": "object"
    },
    "StreamingScalingReport": {
      "properties": {
        "outstandingBundleCount": {
          "description": "Current outstanding bundle count.",
          "type": "integer",
          "format": "int32"
        },
        "maximumBundleCount": {
          "format": "int32",
          "description": "Maximum bundle count.",
          "type": "integer"
        },
        "outstandingBytesCount": {
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "activeBundleCount": {
          "type": "integer",
          "deprecated": true,
          "format": "int32"
        },
        "maximumThreadCount": {
          "format": "int32",
          "description": "Maximum thread count limit.",
          "type": "integer"
        },
        "activeThreadCount": {
          "description": "Current acive thread count.",
          "type": "integer",
          "format": "int32"
        },
        "outstandingBytes": {
          "type": "string",
          "format": "int64",
          "description": "Current outstanding bytes."
        },
        "maximumBytes": {
          "description": "Maximum bytes.",
          "type": "string",
          "format": "int64"
        },
        "maximumBytesCount": {
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        }
      },
      "description": "Contains per-user worker telemetry used in streaming autoscaling.",
      "id": "StreamingScalingReport",
      "type": "object"
    },
    "ParameterMetadata": {
      "description": "Metadata for a specific parameter.",
      "id": "ParameterMetadata",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the parameter."
        },
        "regexes": {
          "description": "Optional. Regexes that the parameter must match.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "isOptional": {
          "type": "boolean",
          "description": "Optional. Whether the parameter is optional. Defaults to false."
        },
        "customMetadata": {
          "description": "Optional. Additional metadata for describing this parameter.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "helpText": {
          "type": "string",
          "description": "Required. The help text to display for the parameter."
        },
        "label": {
          "type": "string",
          "description": "Required. The label to display for the parameter."
        },
        "enumOptions": {
          "items": {
            "$ref": "ParameterMetadataEnumOption"
          },
          "description": "Optional. The options shown when ENUM ParameterType is specified.",
          "type": "array"
        },
        "parentTriggerValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The value(s) of the 'parent_name' parameter which will trigger this parameter to be shown. If left empty, ANY non-empty value in parent_name will trigger this parameter to be shown. Only considered when this parameter is conditional (when 'parent_name' has been provided)."
        },
        "defaultValue": {
          "description": "Optional. The default values will pre-populate the parameter with the given value from the proto. If default_value is left empty, the parameter will be populated with a default of the relevant type, e.g. false for a boolean.",
          "type": "string"
        },
        "groupName": {
          "description": "Optional. Specifies a group name for this parameter to be rendered under. Group header text will be rendered exactly as specified in this field. Only considered when parent_name is NOT provided.",
          "type": "string"
        },
        "paramType": {
          "description": "Optional. The type of the parameter. Used for selecting input picker.",
          "enum": [
            "DEFAULT",
            "TEXT",
            "GCS_READ_BUCKET",
            "GCS_WRITE_BUCKET",
            "GCS_READ_FILE",
            "GCS_WRITE_FILE",
            "GCS_READ_FOLDER",
            "GCS_WRITE_FOLDER",
            "PUBSUB_TOPIC",
            "PUBSUB_SUBSCRIPTION",
            "BIGQUERY_TABLE",
            "JAVASCRIPT_UDF_FILE",
            "SERVICE_ACCOUNT",
            "MACHINE_TYPE",
            "KMS_KEY_NAME",
            "WORKER_REGION",
            "WORKER_ZONE",
            "BOOLEAN",
            "ENUM",
            "NUMBER",
            "KAFKA_TOPIC",
            "KAFKA_READ_TOPIC",
            "KAFKA_WRITE_TOPIC"
          ],
          "enumDescriptions": [
            "Default input type.",
            "The parameter specifies generic text input.",
            "The parameter specifies a Cloud Storage Bucket to read from.",
            "The parameter specifies a Cloud Storage Bucket to write to.",
            "The parameter specifies a Cloud Storage file path to read from.",
            "The parameter specifies a Cloud Storage file path to write to.",
            "The parameter specifies a Cloud Storage folder path to read from.",
            "The parameter specifies a Cloud Storage folder to write to.",
            "The parameter specifies a Pub/Sub Topic.",
            "The parameter specifies a Pub/Sub Subscription.",
            "The parameter specifies a BigQuery table.",
            "The parameter specifies a JavaScript UDF in Cloud Storage.",
            "The parameter specifies a Service Account email.",
            "The parameter specifies a Machine Type.",
            "The parameter specifies a KMS Key name.",
            "The parameter specifies a Worker Region.",
            "The parameter specifies a Worker Zone.",
            "The parameter specifies a boolean input.",
            "The parameter specifies an enum input.",
            "The parameter specifies a number input.",
            "Deprecated. Please use KAFKA_READ_TOPIC instead.",
            "The parameter specifies the fully-qualified name of an Apache Kafka topic. This can be either a Google Managed Kafka topic or a non-managed Kafka topic.",
            "The parameter specifies the fully-qualified name of an Apache Kafka topic. This can be an existing Google Managed Kafka topic, the name for a new Google Managed Kafka topic, or an existing non-managed Kafka topic."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false
          ]
        },
        "parentName": {
          "description": "Optional. Specifies the name of the parent parameter. Used in conjunction with 'parent_trigger_values' to make this parameter conditional (will only be rendered conditionally). Should be mappable to a ParameterMetadata.name field.",
          "type": "string"
        },
        "hiddenUi": {
          "description": "Optional. Whether the parameter should be hidden in the UI.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "KeyRangeDataDiskAssignment": {
      "description": "Data disk assignment information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "properties": {
        "dataDisk": {
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        },
        "end": {
          "type": "string",
          "description": "The end (exclusive) of the key range."
        },
        "start": {
          "description": "The start (inclusive) of the key range.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "KeyRangeDataDiskAssignment"
    },
    "SpannerIODetails": {
      "properties": {
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        },
        "instanceId": {
          "description": "InstanceId accessed in the connection.",
          "type": "string"
        },
        "databaseId": {
          "description": "DatabaseId accessed in the connection.",
          "type": "string"
        }
      },
      "description": "Metadata for a Spanner connector used by the job.",
      "id": "SpannerIODetails",
      "type": "object"
    },
    "StreamLocation": {
      "id": "StreamLocation",
      "properties": {
        "customSourceLocation": {
          "$ref": "CustomSourceLocation",
          "description": "The stream is a custom source."
        },
        "streamingStageLocation": {
          "$ref": "StreamingStageLocation",
          "description": "The stream is part of another computation within the current streaming Dataflow job."
        },
        "sideInputLocation": {
          "description": "The stream is a streaming side input.",
          "$ref": "StreamingSideInputLocation"
        },
        "pubsubLocation": {
          "$ref": "PubsubLocation",
          "description": "The stream is a pubsub stream."
        }
      },
      "description": "Describes a stream of data, either as input to be processed or as output of a streaming Dataflow job.",
      "type": "object"
    },
    "WorkItemStatus": {
      "properties": {
        "errors": {
          "type": "array",
          "description": "Specifies errors which occurred during processing. If errors are provided, and completed = true, then the WorkItem is considered to have failed.",
          "items": {
            "$ref": "Status"
          }
        },
        "totalThrottlerWaitTimeSeconds": {
          "description": "Total time the worker spent being throttled by external systems.",
          "type": "number",
          "format": "double"
        },
        "requestedLeaseDuration": {
          "description": "Amount of time the worker requests for its lease.",
          "format": "google-duration",
          "type": "string"
        },
        "sourceFork": {
          "deprecated": true,
          "$ref": "SourceFork",
          "description": "DEPRECATED in favor of dynamic_source_split."
        },
        "completed": {
          "description": "True if the WorkItem was completed (successfully or unsuccessfully).",
          "type": "boolean"
        },
        "counterUpdates": {
          "items": {
            "$ref": "CounterUpdate"
          },
          "type": "array",
          "description": "Worker output counters for this WorkItem."
        },
        "metricUpdates": {
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "MetricUpdate"
          },
          "description": "DEPRECATED in favor of counter_updates."
        },
        "stopPosition": {
          "description": "A worker may split an active map task in two parts, \"primary\" and \"residual\", continuing to process the primary part and returning the residual part into the pool of available work. This event is called a \"dynamic split\" and is critical to the dynamic work rebalancing feature. The two obtained sub-tasks are called \"parts\" of the split. The parts, if concatenated, must represent the same input as would be read by the current task if the split did not happen. The exact way in which the original task is decomposed into the two parts is specified either as a position demarcating them (stop_position), or explicitly as two DerivedSources, if this task consumes a user-defined source type (dynamic_source_split). The \"current\" task is adjusted as a result of the split: after a task with range [A, B) sends a stop_position update at C, its range is considered to be [A, C), e.g.: * Progress should be interpreted relative to the new range, e.g. \"75% completed\" means \"75% of [A, C) completed\" * The worker should interpret proposed_stop_position relative to the new range, e.g. \"split at 68%\" should be interpreted as \"split at 68% of [A, C)\". * If the worker chooses to split again using stop_position, only stop_positions in [A, C) will be accepted. * Etc. dynamic_source_split has similar semantics: e.g., if a task with source S splits using dynamic_source_split into {P, R} (where P and R must be together equivalent to S), then subsequent progress and proposed_stop_position should be interpreted relative to P, and in a potential subsequent dynamic_source_split into {P', R'}, P' and R' must be together equivalent to P, etc.",
          "$ref": "Position"
        },
        "dynamicSourceSplit": {
          "description": "See documentation of stop_position.",
          "$ref": "DynamicSourceSplit"
        },
        "reportIndex": {
          "type": "string",
          "description": "The report index. When a WorkItem is leased, the lease will contain an initial report index. When a WorkItem's status is reported to the system, the report should be sent with that report index, and the response will contain the index the worker should use for the next report. Reports received with unexpected index values will be rejected by the service. In order to preserve idempotency, the worker should not alter the contents of a report, even if the worker must submit the same report multiple times before getting back a response. The worker should not submit a subsequent report until the response for the previous report had been received from the service.",
          "format": "int64"
        },
        "workItemId": {
          "type": "string",
          "description": "Identifies the WorkItem."
        },
        "sourceOperationResponse": {
          "description": "If the work item represented a SourceOperationRequest, and the work is completed, contains the result of the operation.",
          "$ref": "SourceOperationResponse"
        },
        "progress": {
          "$ref": "ApproximateProgress",
          "deprecated": true,
          "description": "DEPRECATED in favor of reported_progress."
        },
        "reportedProgress": {
          "$ref": "ApproximateReportedProgress",
          "description": "The worker's progress through this WorkItem."
        }
      },
      "description": "Conveys a worker's progress through the work described by a WorkItem.",
      "type": "object",
      "id": "WorkItemStatus"
    },
    "MemInfo": {
      "properties": {
        "currentOoms": {
          "description": "Number of Out of Memory (OOM) events recorded since the previous measurement.",
          "type": "string",
          "format": "int64"
        },
        "timestamp": {
          "description": "Timestamp of the measurement.",
          "type": "string",
          "format": "google-datetime"
        },
        "currentLimitBytes": {
          "description": "Instantenous memory limit in bytes.",
          "type": "string",
          "format": "uint64"
        },
        "totalGbMs": {
          "type": "string",
          "format": "uint64",
          "description": "Total memory (RSS) usage since start up in GB * ms."
        },
        "currentRssBytes": {
          "format": "uint64",
          "type": "string",
          "description": "Instantenous memory (RSS) size in bytes."
        }
      },
      "description": "Information about the memory usage of a worker or a container within a worker.",
      "id": "MemInfo",
      "type": "object"
    },
    "DataflowGaugeValue": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of the gauge.",
          "type": "string",
          "format": "int64"
        },
        "measuredTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp when the gauge was recorded."
        }
      },
      "id": "DataflowGaugeValue",
      "description": "The gauge value of a metric."
    },
    "ConfigStoreSettingValue": {
      "id": "ConfigStoreSettingValue",
      "type": "object",
      "description": "Represents a dynamically typed value.",
      "properties": {
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        }
      }
    },
    "ComputationTopology": {
      "description": "All configuration data for a particular Computation.",
      "id": "ComputationTopology",
      "properties": {
        "stateFamilies": {
          "type": "array",
          "items": {
            "$ref": "StateFamilyConfig"
          },
          "description": "The state family values."
        },
        "systemStageName": {
          "type": "string",
          "description": "The system stage name."
        },
        "keyRanges": {
          "type": "array",
          "description": "The key ranges processed by the computation.",
          "items": {
            "$ref": "KeyRangeLocation"
          }
        },
        "inputs": {
          "items": {
            "$ref": "StreamLocation"
          },
          "description": "The inputs to the computation.",
          "type": "array"
        },
        "computationId": {
          "description": "The ID of the computation.",
          "type": "string"
        },
        "outputs": {
          "items": {
            "$ref": "StreamLocation"
          },
          "type": "array",
          "description": "The outputs from the computation."
        }
      },
      "type": "object"
    },
    "WorkerSettings": {
      "type": "object",
      "id": "WorkerSettings",
      "description": "Provides data to pass through to the worker harness.",
      "properties": {
        "servicePath": {
          "type": "string",
          "description": "The Cloud Dataflow service path relative to the root URL, for example, \"dataflow/v1b3/projects\"."
        },
        "workerId": {
          "type": "string",
          "description": "The ID of the worker running this pipeline."
        },
        "reportingEnabled": {
          "type": "boolean",
          "description": "Whether to send work progress updates to the service."
        },
        "baseUrl": {
          "type": "string",
          "description": "The base URL for accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\""
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "shuffleServicePath": {
          "type": "string",
          "description": "The Shuffle service path relative to the root URL, for example, \"shuffle/v1beta1\"."
        }
      }
    },
    "Sdk": {
      "properties": {
        "stacks": {
          "items": {
            "$ref": "Stack"
          },
          "type": "array",
          "description": "The stacktraces for the processes running on the SDK harness."
        },
        "sdkId": {
          "description": "The SDK harness id.",
          "type": "string"
        }
      },
      "id": "Sdk",
      "description": "A structured representation of an SDK.",
      "type": "object"
    },
    "FloatingPointMean": {
      "properties": {
        "sum": {
          "type": "number",
          "format": "double",
          "description": "The sum of all values being aggregated."
        },
        "count": {
          "description": "The number of values being aggregated.",
          "$ref": "SplitInt64"
        }
      },
      "type": "object",
      "description": "A representation of a floating point mean metric contribution.",
      "id": "FloatingPointMean"
    },
    "SourceOperationResponse": {
      "description": "The result of a SourceOperationRequest, specified in ReportWorkItemStatusRequest.source_operation when the work item is completed.",
      "properties": {
        "split": {
          "$ref": "SourceSplitResponse",
          "description": "A response to a request to split a source."
        },
        "getMetadata": {
          "$ref": "SourceGetMetadataResponse",
          "description": "A response to a request to get metadata about a source."
        }
      },
      "id": "SourceOperationResponse",
      "type": "object"
    },
    "SourceSplitOptions": {
      "properties": {
        "desiredBundleSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "The source should be split into a set of bundles where the estimated size of each is approximately this many bytes."
        },
        "desiredShardSizeBytes": {
          "format": "int64",
          "deprecated": true,
          "type": "string",
          "description": "DEPRECATED in favor of desired_bundle_size_bytes."
        }
      },
      "id": "SourceSplitOptions",
      "type": "object",
      "description": "Hints for splitting a Source into bundles (parts for parallel processing) using SourceSplitRequest."
    },
    "RuntimeMetadata": {
      "id": "RuntimeMetadata",
      "properties": {
        "sdkInfo": {
          "$ref": "SDKInfo",
          "description": "SDK Info for the template."
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "ParameterMetadata"
          },
          "description": "The parameters for the template."
        }
      },
      "description": "RuntimeMetadata describing a runtime environment.",
      "type": "object"
    },
    "WorkerHealthReport": {
      "properties": {
        "vmIsHealthy": {
          "type": "boolean",
          "description": "Whether the VM is currently healthy."
        },
        "vmIsBroken": {
          "description": "Whether the VM is in a permanently broken state. Broken VMs should be abandoned or deleted ASAP to avoid assigning or completing any work.",
          "type": "boolean"
        },
        "pods": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          },
          "description": "The pods running on the worker. See: http://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html#_v1_pod This field is used by the worker to send the status of the indvidual containers running on each worker.",
          "type": "array"
        },
        "reportInterval": {
          "description": "The interval at which the worker is sending health reports. The default value of 0 should be interpreted as the field is not being explicitly set by the worker.",
          "type": "string",
          "format": "google-duration"
        },
        "vmBrokenCode": {
          "type": "string",
          "description": "Code to describe a specific reason, if known, that a VM has reported broken state."
        },
        "vmStartupTime": {
          "format": "google-datetime",
          "description": "The time the VM was booted.",
          "type": "string"
        },
        "msg": {
          "description": "Message describing any unusual health reports.",
          "type": "string"
        }
      },
      "id": "WorkerHealthReport",
      "description": "WorkerHealthReport contains information about the health of a worker. The VM should be identified by the labels attached to the WorkerMessage that this health ping belongs to.",
      "type": "object"
    },
    "GPUUtilization": {
      "id": "GPUUtilization",
      "properties": {
        "rate": {
          "type": "number",
          "format": "double",
          "description": "Required. GPU utilization rate of any kernel over the last sample period in the range of [0, 1]."
        }
      },
      "description": "Utilization details about the GPU.",
      "type": "object"
    },
    "GetWorkerStacktracesRequest": {
      "id": "GetWorkerStacktracesRequest",
      "description": "Request to get worker stacktraces from debug capture.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The end time for the stacktrace query. The returned stacktraces will be a recent stack trace at or shortly before this time.",
          "format": "google-datetime"
        },
        "workerId": {
          "type": "string",
          "description": "The worker for which to get stacktraces. The returned stacktraces will be for the SDK harness running on this worker."
        }
      },
      "type": "object"
    },
    "StreamingConfigTask": {
      "id": "StreamingConfigTask",
      "properties": {
        "windmillServicePort": {
          "type": "string",
          "description": "If present, the worker must use this port to communicate with Windmill Service dispatchers. Only applicable when windmill_service_endpoint is specified.",
          "format": "int64"
        },
        "operationalLimits": {
          "description": "Operational limits for the streaming job. Can be used by the worker to validate outputs sent to the backend.",
          "$ref": "StreamingOperationalLimits"
        },
        "userWorkerRunnerV1Settings": {
          "type": "string",
          "format": "byte",
          "description": "Binary encoded proto to control runtime behavior of the java runner v1 user worker."
        },
        "userWorkerRunnerV2Settings": {
          "format": "byte",
          "type": "string",
          "description": "Binary encoded proto to control runtime behavior of the runner v2 user worker."
        },
        "windmillServiceEndpoint": {
          "description": "If present, the worker must use this endpoint to communicate with Windmill Service dispatchers, otherwise the worker must continue to use whatever endpoint it had been using.",
          "type": "string"
        },
        "streamingComputationConfigs": {
          "type": "array",
          "items": {
            "$ref": "StreamingComputationConfig"
          },
          "description": "Set of computation configuration information."
        },
        "maxWorkItemCommitBytes": {
          "description": "Maximum size for work item commit supported windmill storage layer.",
          "type": "string",
          "format": "int64"
        },
        "streamingEngineStateTagEncodingVersion": {
          "type": "integer",
          "description": "Optional. The state tag encoding format version for streaming engine jobs.",
          "format": "int32"
        },
        "getDataStreamChunkSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Chunk size for get data streams from the harness to windmill."
        },
        "userStepToStateFamilyNameMap": {
          "description": "Map from user step names to state families.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "commitStreamChunkSizeBytes": {
          "format": "int64",
          "description": "Chunk size for commit streams from the harness to windmill.",
          "type": "string"
        }
      },
      "description": "A task that carries configuration information for streaming computations.",
      "type": "object"
    },
    "Straggler": {
      "id": "Straggler",
      "properties": {
        "streamingStraggler": {
          "description": "Streaming straggler identification and debugging information.",
          "$ref": "StreamingStragglerInfo"
        },
        "batchStraggler": {
          "description": "Batch straggler identification and debugging information.",
          "$ref": "StragglerInfo"
        }
      },
      "description": "Information for a straggler.",
      "type": "object"
    },
    "WorkerLifecycleEvent": {
      "id": "WorkerLifecycleEvent",
      "description": "A report of an event in a worker's lifecycle. The proto contains one event, because the worker is expected to asynchronously send each message immediately after the event. Due to this asynchrony, messages may arrive out of order (or missing), and it is up to the consumer to interpret. The timestamp of the event is in the enclosing WorkerMessage proto.",
      "properties": {
        "event": {
          "enum": [
            "UNKNOWN_EVENT",
            "OS_START",
            "CONTAINER_START",
            "NETWORK_UP",
            "STAGING_FILES_DOWNLOAD_START",
            "STAGING_FILES_DOWNLOAD_FINISH",
            "SDK_INSTALL_START",
            "SDK_INSTALL_FINISH"
          ],
          "description": "The event being reported.",
          "type": "string",
          "enumDescriptions": [
            "Invalid event.",
            "The time the VM started.",
            "Our container code starts running. Multiple containers could be distinguished with WorkerMessage.labels if desired.",
            "The worker has a functional external network connection.",
            "Started downloading staging files.",
            "Finished downloading all staging files.",
            "For applicable SDKs, started installation of SDK and worker packages.",
            "Finished installing SDK."
          ]
        },
        "containerStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start time of this container. All events will report this so that events can be grouped together across container/VM restarts."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Other stats that can accompany an event. E.g. { \"downloaded_bytes\" : \"123456\" }"
        }
      },
      "type": "object"
    },
    "Job": {
      "id": "Job",
      "description": "Defines a job to be run by the Cloud Dataflow service. Do not enter confidential information when you supply string values using the API.",
      "type": "object",
      "properties": {
        "executionInfo": {
          "description": "Deprecated.",
          "$ref": "JobExecutionInfo"
        },
        "serviceResources": {
          "readOnly": true,
          "description": "Output only. Resources used by the Dataflow Service to run the job.",
          "$ref": "ServiceResources"
        },
        "pausable": {
          "description": "Output only. Indicates whether the job can be paused.",
          "type": "boolean",
          "readOnly": true
        },
        "currentStateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp associated with the current state."
        },
        "stageStates": {
          "items": {
            "$ref": "ExecutionStageState"
          },
          "description": "This field may be mutated by the Cloud Dataflow service; callers cannot mutate it.",
          "type": "array"
        },
        "replacedByJobId": {
          "description": "If another job is an update of this job (and thus, this job is in `JOB_STATE_UPDATED`), this field contains the ID of that job.",
          "type": "string"
        },
        "createdFromSnapshotId": {
          "type": "string",
          "description": "If this is specified, the job's initial state is populated from the given snapshot."
        },
        "replaceJobId": {
          "description": "If this job is an update of an existing job, this field is the job ID of the job it replaced. When sending a `CreateJobRequest`, you can update a job by specifying it here. The job named here is stopped, and its intermediate state is transferred to this job.",
          "type": "string"
        },
        "labels": {
          "description": "User-defined labels for this job. The labels map can contain no more than 64 entries. Entries of the labels map are UTF8 strings that comply with the following restrictions: * Keys must conform to regexp: \\p{Ll}\\p{Lo}{0,62} * Values must conform to regexp: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} * Both keys and values are additionally constrained to be <= 128 bytes in size.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "pipelineDescription": {
          "description": "Preliminary field: The format of this data may change at any time. A description of the user pipeline and stages through which it is executed. Created by Cloud Dataflow service. Only retrieved with JOB_VIEW_DESCRIPTION or JOB_VIEW_ALL.",
          "$ref": "PipelineDescription"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The timestamp when the job was initially created. Immutable and set by the Cloud Dataflow service.",
          "type": "string"
        },
        "clientRequestId": {
          "type": "string",
          "description": "The client's unique identifier of the job, re-used across retried attempts. If this field is set, the service will ensure its uniqueness. The request to create a job will fail if the service has knowledge of a previously submitted job with the same client's ID and job name. The caller may use this field to ensure idempotence of job creation across retried attempts to create a job. By default, the field is empty and, in that case, the service ignores it."
        },
        "transformNameMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job."
        },
        "projectId": {
          "type": "string",
          "description": "The ID of the Google Cloud project that the job belongs to."
        },
        "requestedState": {
          "description": "The job's requested state. Applies to `UpdateJob` requests. Set `requested_state` with `UpdateJob` requests to switch between the states `JOB_STATE_STOPPED` and `JOB_STATE_RUNNING`. You can also use `UpdateJob` requests to change a job's state from `JOB_STATE_RUNNING` to `JOB_STATE_CANCELLED`, `JOB_STATE_DONE`, or `JOB_STATE_DRAINED`. These states irrevocably terminate the job if it hasn't already reached a terminal state. This field has no effect on `CreateJob` requests.",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
[...]
