{
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "id": "datacatalog:v1",
  "name": "datacatalog",
  "revision": "20260826",
  "discoveryVersion": "v1",
  "baseUrl": "https://datacatalog.googleapis.com/",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "canonicalName": "Data Catalog",
  "fullyEncodeReservedExpansion": true,
  "title": "Google Cloud Data Catalog API",
  "batchPath": "batch",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "version": "v1",
  "rootUrl": "https://datacatalog.googleapis.com/",
  "mtlsRootUrl": "https://datacatalog.mtls.googleapis.com/",
  "description": "A fully managed and highly scalable data discovery and metadata management service. ",
  "basePath": "",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/data-catalog/docs/",
  "schemas": {
    "GoogleCloudDatacatalogV1ContactsPerson": {
      "type": "object",
      "properties": {
        "designation": {
          "description": "Designation of the person, for example, Data Steward.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Email of the person in the format of `john.doe@xyz`, ``, or `John Doe`."
        }
      },
      "id": "GoogleCloudDatacatalogV1ContactsPerson",
      "description": "A contact person for the entry."
    },
    "GoogleCloudDatacatalogV1TagTemplateField": {
      "properties": {
        "description": {
          "description": "The description for this field. Defaults to an empty string.",
          "type": "string"
        },
        "order": {
          "type": "integer",
          "format": "int32",
          "description": "The order of this field with respect to other fields in this tag template. For example, a higher value can indicate a more important field. The value can be negative. Multiple fields can have the same order and field orders within a tag don't have to be sequential."
        },
        "name": {
          "description": "Identifier. The resource name of the tag template field in URL format. Example: `projects/{PROJECT_ID}/locations/{LOCATION}/tagTemplates/{TAG_TEMPLATE}/fields/{FIELD}` Note: The tag template field itself might not be stored in the location specified in its name. The name must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_), and must start with a letter or underscore. The maximum length is 64 characters.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name for this field. Defaults to an empty string. The name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), and can't start or end with spaces. The maximum length is 200 characters."
        },
        "isRequired": {
          "description": "If true, this field is required. Defaults to false.",
          "type": "boolean"
        },
        "type": {
          "$ref": "GoogleCloudDatacatalogV1FieldType",
          "description": "Required. The type of value this tag field can contain."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1TagTemplateField",
      "description": "The template for an individual field within a tag template."
    },
    "GoogleCloudDatacatalogV1CloudBigtableSystemSpec": {
      "description": "Specification that applies to all entries that are part of `CLOUD_BIGTABLE` system (user_specified_type)",
      "properties": {
        "instanceDisplayName": {
          "description": "Display name of the Instance. This is user specified and different from the resource name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1CloudBigtableSystemSpec",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ImportTaxonomiesResponse": {
      "id": "GoogleCloudDatacatalogV1ImportTaxonomiesResponse",
      "properties": {
        "taxonomies": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Taxonomy"
          },
          "description": "Imported taxonomies.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for ImportTaxonomies."
    },
    "GoogleCloudDatacatalogV1EntryGroup": {
      "type": "object",
      "description": "Entry group metadata. An `EntryGroup` resource represents a logical grouping of zero or more Data Catalog Entry resources.",
      "id": "GoogleCloudDatacatalogV1EntryGroup",
      "properties": {
        "dataCatalogTimestamps": {
          "readOnly": true,
          "description": "Output only. Timestamps of the entry group. Default value is empty.",
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps"
        },
        "displayName": {
          "type": "string",
          "description": "A short name to identify the entry group, for example, \"analytics data - jan 2011\". Default value is an empty string."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the entry group in URL format. Note: The entry group itself and its child resources might not be stored in the location specified in its name."
        },
        "transferredToDataplex": {
          "type": "boolean",
          "description": "Optional. When set to [true], it means DataCatalog EntryGroup was transferred to Dataplex Universal Catalog. It makes EntryGroup and its Entries to be read-only in DataCatalog. However, new Tags on EntryGroup and its Entries can be created. After setting the flag to [true] it cannot be unset."
        },
        "description": {
          "description": "Entry group description. Can consist of several sentences or paragraphs that describe the entry group contents. Default value is an empty string.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec": {
      "description": "Specification that applies to entries that are part `SQL_DATABASE` system (user_specified_type)",
      "id": "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec",
      "properties": {
        "instanceHost": {
          "type": "string",
          "description": "Host of the SQL database enum InstanceHost { UNDEFINED = 0; SELF_HOSTED = 1; CLOUD_SQL = 2; AMAZON_RDS = 3; AZURE_SQL = 4; } Host of the enclousing database instance."
        },
        "sqlEngine": {
          "type": "string",
          "description": "SQL Database Engine. enum SqlEngine { UNDEFINED = 0; MY_SQL = 1; POSTGRE_SQL = 2; SQL_SERVER = 3; } Engine of the enclosing database instance."
        },
        "databaseVersion": {
          "type": "string",
          "description": "Version of the database engine."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1TagFieldEnumValue": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1TagFieldEnumValue",
      "description": "An enum value.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the enum value."
        }
      }
    },
    "GoogleCloudDatacatalogV1SerializedPolicyTag": {
      "type": "object",
      "description": "A nested protocol buffer that represents a policy tag and all its descendants.",
      "id": "GoogleCloudDatacatalogV1SerializedPolicyTag",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the serialized policy tag. At most 2000 bytes when encoded in UTF-8. If not set, defaults to an empty description."
        },
        "policyTag": {
          "type": "string",
          "description": "Resource name of the policy tag. This field is ignored when calling `ImportTaxonomies`."
        },
        "childPolicyTags": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SerializedPolicyTag"
          },
          "description": "Children of the policy tag, if any.",
          "type": "array"
        },
        "displayName": {
          "description": "Required. Display name of the policy tag. At most 200 bytes when encoded in UTF-8.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1FieldType": {
      "id": "GoogleCloudDatacatalogV1FieldType",
      "type": "object",
      "properties": {
        "primitiveType": {
          "description": "Primitive types, such as string, boolean, etc.",
          "enumDescriptions": [
            "The default invalid value for a type.",
            "A double precision number.",
            "An UTF-8 string.",
            "A boolean value.",
            "A timestamp.",
            "A Richtext description."
          ],
          "type": "string",
          "enum": [
            "PRIMITIVE_TYPE_UNSPECIFIED",
            "DOUBLE",
            "STRING",
            "BOOL",
            "TIMESTAMP",
            "RICHTEXT"
          ]
        },
        "enumType": {
          "$ref": "GoogleCloudDatacatalogV1FieldTypeEnumType",
          "description": "An enum type."
        }
      }
    },
    "GoogleCloudDatacatalogV1Schema": {
      "id": "GoogleCloudDatacatalogV1Schema",
      "properties": {
        "columns": {
          "description": "The unified GoogleSQL-like schema of columns. The overall maximum number of columns and nested columns is 10,000. The maximum nested depth is 15 levels.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1ColumnSchema"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Represents a schema, for example, a BigQuery, GoogleSQL, or Avro schema."
    },
    "GoogleCloudDatacatalogV1VertexDatasetSpec": {
      "id": "GoogleCloudDatacatalogV1VertexDatasetSpec",
      "description": "Specification for vertex dataset resources.",
      "properties": {
        "dataItemCount": {
          "description": "The number of DataItems in this Dataset. Only apply for non-structured Dataset.",
          "type": "string",
          "format": "int64"
        },
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "TABLE",
            "IMAGE",
            "TEXT",
            "VIDEO",
            "CONVERSATION",
            "TIME_SERIES",
            "DOCUMENT",
            "TEXT_TO_SPEECH",
            "TRANSLATION",
            "STORE_VISION",
            "ENTERPRISE_KNOWLEDGE_GRAPH",
            "TEXT_PROMPT"
          ],
          "enumDescriptions": [
            "Should not be used.",
            "Structured data dataset.",
            "Image dataset which supports ImageClassification, ImageObjectDetection and ImageSegmentation problems.",
            "Document dataset which supports TextClassification, TextExtraction and TextSentiment problems.",
            "Video dataset which supports VideoClassification, VideoObjectTracking and VideoActionRecognition problems.",
            "Conversation dataset which supports conversation problems.",
            "TimeSeries dataset.",
            "Document dataset which supports DocumentAnnotation problems.",
            "TextToSpeech dataset which supports TextToSpeech problems.",
            "Translation dataset which supports Translation problems.",
            "Store Vision dataset which is used for HITL integration.",
            "Enterprise Knowledge Graph dataset which is used for HITL labeling integration.",
            "Text prompt dataset which supports Large Language Models."
          ],
          "description": "Type of the dataset."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DatasetSpec": {
      "id": "GoogleCloudDatacatalogV1DatasetSpec",
      "description": "Specification that applies to a dataset. Valid only for entries with the `DATASET` type.",
      "properties": {
        "vertexDatasetSpec": {
          "description": "Vertex AI Dataset specific fields",
          "$ref": "GoogleCloudDatacatalogV1VertexDatasetSpec"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndProperties": {
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndProperties",
      "description": "The label and its properties. Each label is associated with a set of properties.",
      "properties": {
        "properties": {
          "description": "Optional. The properties associated with the label.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty"
          },
          "type": "array"
        },
        "label": {
          "type": "string",
          "description": "Required. The name of the label."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1Contacts": {
      "id": "GoogleCloudDatacatalogV1Contacts",
      "type": "object",
      "description": "Contact people for the entry.",
      "properties": {
        "people": {
          "description": "The list of contact people for the entry.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1ContactsPerson"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1DataplexTableSpec": {
      "properties": {
        "externalTables": {
          "description": "List of external tables registered by Dataplex Universal Catalog in other systems based on the same underlying data. External tables allow to query this data in those systems.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1DataplexExternalTable"
          },
          "type": "array"
        },
        "userManaged": {
          "type": "boolean",
          "description": "Indicates if the table schema is managed by the user or not."
        },
        "dataplexSpec": {
          "$ref": "GoogleCloudDatacatalogV1DataplexSpec",
          "description": "Common Dataplex Universal Catalog fields."
        }
      },
      "id": "GoogleCloudDatacatalogV1DataplexTableSpec",
      "type": "object",
      "description": "Entry specification for a Dataplex Universal Catalog table."
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTable": {
      "description": "Element table definition.",
      "type": "object",
      "properties": {
        "sourceNodeReference": {
          "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference",
          "description": "Optional. The source node reference of the edge."
        },
        "dataSource": {
          "description": "Required. The name of the data source. This is either a table name or a view name that is used for graph element input source. E.g. `Person` table or `PersonView` view.",
          "type": "string"
        },
        "dynamicLabelColumn": {
          "description": "Optional. If set, this is the input column for dynamic label in schemaless data model.",
          "type": "string"
        },
        "dynamicPropertiesColumn": {
          "description": "Optional. If set, this is the input column for dynamic properties in schemaless data model.",
          "type": "string"
        },
        "labelAndProperties": {
          "type": "array",
          "description": "Required. The labels and their properties for the graph element.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndProperties"
          }
        },
        "alias": {
          "type": "string",
          "description": "Required. The alias name of the graph element."
        },
        "elementKeys": {
          "type": "array",
          "description": "Required. The name of the keys of the elements in the table.",
          "items": {
            "type": "string"
          }
        },
        "destinationNodeReference": {
          "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference",
          "description": "Optional. The destination node reference of the edge."
        },
        "inputSource": {
          "enumDescriptions": [
            "Default unknown input source.",
            "Table input source.",
            "View input source."
          ],
          "description": "Required. The input source of the graph element.",
          "type": "string",
          "enum": [
            "INPUT_SOURCE_UNSPECIFIED",
            "TABLE",
            "VIEW"
          ]
        },
        "kind": {
          "enumDescriptions": [
            "Default unknown kind.",
            "Node kind.",
            "Edge kind."
          ],
          "description": "Required. The kind of the graph element.",
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "NODE",
            "EDGE"
          ]
        }
      },
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTable"
    },
    "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec": {
      "description": "Specification for the BigQuery connection to a Cloud SQL instance.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified database type.",
            "Cloud SQL for PostgreSQL.",
            "Cloud SQL for MySQL."
          ],
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "POSTGRES",
            "MYSQL"
          ],
          "description": "Type of the Cloud SQL database."
        },
        "instanceId": {
          "type": "string",
          "description": "Cloud SQL instance ID in the format of `project:location:instance`."
        },
        "database": {
          "description": "Database name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method."
    },
    "GoogleCloudDatacatalogV1FieldTypeEnumTypeEnumValue": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the enum value. Must not be an empty string. The name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), and can't start or end with spaces. The maximum length is 200 characters."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1FieldTypeEnumTypeEnumValue"
    },
    "GoogleCloudDatacatalogV1ServiceSpec": {
      "properties": {
        "cloudBigtableInstanceSpec": {
          "description": "Specification that applies to Instance entries of `CLOUD_BIGTABLE` system.",
          "$ref": "GoogleCloudDatacatalogV1CloudBigtableInstanceSpec"
        }
      },
      "type": "object",
      "description": "Specification that applies to a Service resource. Valid only for entries with the `SERVICE` type.",
      "id": "GoogleCloudDatacatalogV1ServiceSpec"
    },
    "GoogleCloudDatacatalogV1RoutineSpecArgument": {
      "description": "Input or output argument of a function or stored procedure.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1RoutineSpecArgument",
      "properties": {
        "mode": {
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "IN",
            "OUT",
            "INOUT"
          ],
          "description": "Specifies whether the argument is input or output.",
          "enumDescriptions": [
            "Unspecified mode.",
            "The argument is input-only.",
            "The argument is output-only.",
            "The argument is both an input and an output."
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the argument. A return argument of a function might not have a name."
        },
        "type": {
          "description": "Type of the argument. The exact value depends on the source system and the language.",
          "type": "string"
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "GoogleCloudDatacatalogV1BigQueryTableSpec": {
      "properties": {
        "viewSpec": {
          "$ref": "GoogleCloudDatacatalogV1ViewSpec",
          "description": "Table view specification. Populated only if the `table_source_type` is `BIGQUERY_VIEW`."
        },
        "tableSourceType": {
          "enumDescriptions": [
            "Default unknown type.",
            "Table view.",
            "BigQuery native table.",
            "BigQuery materialized view."
          ],
          "readOnly": true,
          "description": "Output only. The table source type.",
          "type": "string",
          "enum": [
            "TABLE_SOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_VIEW",
            "BIGQUERY_TABLE",
            "BIGQUERY_MATERIALIZED_VIEW"
          ]
        },
        "tableSpec": {
          "$ref": "GoogleCloudDatacatalogV1TableSpec",
          "description": "Specification of a BigQuery table. Populated only if the `table_source_type` is `BIGQUERY_TABLE`."
        }
      },
      "id": "GoogleCloudDatacatalogV1BigQueryTableSpec",
      "type": "object",
      "description": "Describes a BigQuery table."
    },
    "GoogleCloudDatacatalogV1TagTemplate": {
      "id": "GoogleCloudDatacatalogV1TagTemplate",
      "description": "A tag template defines a tag that can have one or more typed fields. The template is used to create tags that are attached to Google Cloud resources. [Tag template roles] (https://cloud.google.com/iam/docs/roles-permissions/datacatalog) provide permissions to create, edit, and use the template. For example, see the [TagTemplate User] (https://cloud.google.com/data-catalog/docs/how-to/template-user) role that includes a permission to use the tag template to tag resources.",
      "properties": {
        "fields": {
          "type": "object",
          "description": "Required. Map of tag template field IDs to the settings for the field. This map is an exhaustive list of the allowed fields. The map must contain at least one field and at most 500 fields. The keys to this map are tag template field IDs. The IDs have the following limitations: * Can contain uppercase and lowercase letters, numbers (0-9) and underscores (_). * Must be at least 1 character and at most 64 characters long. * Must start with a letter or underscore.",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1TagTemplateField"
          }
        },
        "name": {
          "description": "Identifier. The resource name of the tag template in URL format. Note: The tag template itself and its child resources might not be stored in the location specified in its name.",
          "type": "string"
        },
        "dataplexTransferStatus": {
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "description": "Optional. Transfer status of the TagTemplate",
          "type": "string",
          "enum": [
            "DATAPLEX_TRANSFER_STATUS_UNSPECIFIED",
            "MIGRATED",
            "TRANSFERRED"
          ],
          "enumDescriptions": [
            "Default value. TagTemplate and its tags are only visible and editable in Data Catalog.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Data Catalog, read-only in Dataplex Universal Catalog. Deprecated: Individual TagTemplate migration is deprecated in favor of organization or project wide TagTemplate migration opt-in.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Dataplex Universal Catalog, read-only in Data Catalog."
          ]
        },
        "isPubliclyReadable": {
          "description": "Indicates whether tags created with this template are public. Public tags do not require tag template access to appear in ListTags API response. Additionally, you can search for a public tag by value with a simple search query in addition to using a ``tag:`` predicate.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Display name for this template. Defaults to an empty string. The name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), and can't start or end with spaces. The maximum length is 200 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1UnstarEntryResponse": {
      "description": "Response message for UnstarEntry. Empty for now",
      "properties": {},
      "id": "GoogleCloudDatacatalogV1UnstarEntryResponse",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1EntryOverview": {
      "id": "GoogleCloudDatacatalogV1EntryOverview",
      "description": "Entry overview fields for rich text descriptions of entries.",
      "properties": {
        "overview": {
          "description": "Entry overview with support for rich text. The overview must only contain Unicode characters, and should be formatted using HTML. The maximum length is 10 MiB as this value holds HTML descriptions including encoded images. The maximum length of the text without images is 100 KiB.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty": {
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty",
      "properties": {
        "name": {
          "description": "Required. Property name.",
          "type": "string"
        },
        "type": {
          "description": "Required. Property data type.",
          "type": "string"
        }
      },
      "description": "A property declaration.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ExportTaxonomiesResponse": {
      "id": "GoogleCloudDatacatalogV1ExportTaxonomiesResponse",
      "type": "object",
      "properties": {
        "taxonomies": {
          "type": "array",
          "description": "List of taxonomies and policy tags as nested protocol buffers.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SerializedTaxonomy"
          }
        }
      },
      "description": "Response message for ExportTaxonomies."
    },
    "GoogleCloudDatacatalogV1TaggedEntry": {
      "id": "GoogleCloudDatacatalogV1TaggedEntry",
      "type": "object",
      "properties": {
        "absentTags": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          },
          "type": "array",
          "description": "Optional. Tags that should be deleted from the Data Catalog. Caller should populate template name and column only."
        },
        "presentTags": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          },
          "description": "Optional. Tags that should be ingested into the Data Catalog. Caller should populate template name, column and fields.",
          "type": "array"
        },
        "v1Entry": {
          "description": "Non-encrypted Data Catalog v1 Entry.",
          "$ref": "GoogleCloudDatacatalogV1Entry"
        }
      },
      "description": "Wrapper containing Entry and information about Tags that should and should not be attached to it."
    },
    "GoogleCloudDatacatalogV1Entry": {
      "description": "Entry metadata. A Data Catalog entry represents another resource in Google Cloud Platform (such as a BigQuery dataset or a Pub/Sub topic) or outside of it. You can use the `linked_resource` field in the entry resource to refer to the original resource ID of the source system. An entry resource contains resource details, for example, its schema. Additionally, you can attach flexible metadata to an entry in the form of a Tag.",
      "type": "object",
      "properties": {
        "gcsFilesetSpec": {
          "description": "Specification that applies to a Cloud Storage fileset. Valid only for entries with the `FILESET` type.",
          "$ref": "GoogleCloudDatacatalogV1GcsFilesetSpec"
        },
        "filesetSpec": {
          "$ref": "GoogleCloudDatacatalogV1FilesetSpec",
          "description": "Specification that applies to a fileset resource. Valid only for entries with the `FILESET` type."
        },
        "lookerSystemSpec": {
          "description": "Specification that applies to Looker sysstem. Only settable when `user_specified_system` is equal to `LOOKER`",
          "$ref": "GoogleCloudDatacatalogV1LookerSystemSpec"
        },
        "userSpecifiedSystem": {
          "type": "string",
          "description": "Indicates the entry's source system that Data Catalog doesn't automatically integrate with. The `user_specified_system` string has the following limitations: * Is case insensitive. * Must begin with a letter or underscore. * Can only contain letters, numbers, and underscores. * Must be at least 1 character and at most 64 characters long."
        },
        "dataSource": {
          "$ref": "GoogleCloudDatacatalogV1DataSource",
          "readOnly": true,
          "description": "Output only. Physical location of the entry."
        },
        "modelSpec": {
          "$ref": "GoogleCloudDatacatalogV1ModelSpec",
          "description": "Model specification."
        },
        "sqlDatabaseSystemSpec": {
          "$ref": "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec",
          "description": "Specification that applies to a relational database system. Only settable when `user_specified_system` is equal to `SQL_DATABASE`"
        },
        "sourceSystemTimestamps": {
          "description": "Timestamps from the underlying resource, not from the Data Catalog entry. Output only when the entry has a system listed in the `IntegratedSystem` enum. For entries with `user_specified_system`, this field is optional and defaults to an empty timestamp.",
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps"
        },
        "spannerTableSpec": {
          "description": "Specification of a Spanner table.",
          "$ref": "GoogleCloudDatacatalogV1SpannerTableSpec"
        },
        "graphSpec": {
          "$ref": "GoogleCloudDatacatalogV1GraphSpec",
          "description": "Spec for graph."
        },
        "cloudBigtableSystemSpec": {
          "description": "Specification that applies to Cloud Bigtable system. Only settable when `integrated_system` is equal to `CLOUD_BIGTABLE`",
          "$ref": "GoogleCloudDatacatalogV1CloudBigtableSystemSpec"
        },
        "bigqueryDateShardedSpec": {
          "readOnly": true,
          "description": "Output only. Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding).",
          "$ref": "GoogleCloudDatacatalogV1BigQueryDateShardedSpec"
        },
        "routineSpec": {
          "$ref": "GoogleCloudDatacatalogV1RoutineSpec",
          "description": "Specification that applies to a user-defined function or procedure. Valid only for entries with the `ROUTINE` type."
        },
        "linkedResource": {
          "description": "The resource this metadata entry refers to. For Google Cloud Platform resources, `linked_resource` is the [Full Resource Name] (https://cloud.google.com/apis/design/resource_names#full_resource_name). For example, the `linked_resource` for a table resource from BigQuery is: `//bigquery.googleapis.com/projects/{PROJECT_ID}/datasets/{DATASET_ID}/tables/{TABLE_ID}` Output only when the entry is one of the types in the `EntryType` enum. For entries with a `user_specified_type`, this field is optional and defaults to an empty string. The resource string must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), periods (.), colons (:), slashes (/), dashes (-), and hashes (#). The maximum size is 200 bytes when encoded in UTF-8.",
          "type": "string"
        },
        "schema": {
          "description": "Schema of the entry. An entry might not have any schema attached to it.",
          "$ref": "GoogleCloudDatacatalogV1Schema"
        },
        "description": {
          "type": "string",
          "description": "Entry description that can consist of several sentences or paragraphs that describe entry contents. The description must not contain Unicode non-characters as well as C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). The maximum size is 2000 bytes when encoded in UTF-8. Default value is an empty string."
        },
        "serviceSpec": {
          "$ref": "GoogleCloudDatacatalogV1ServiceSpec",
          "description": "Specification that applies to a Service resource."
        },
        "userSpecifiedType": {
          "type": "string",
          "description": "Custom entry type that doesn't match any of the values allowed for input and listed in the `EntryType` enum. When creating an entry, first check the type values in the enum. If there are no appropriate types for the new entry, provide a custom value, for example, `my_special_type`. The `user_specified_type` string has the following limitations: * Is case insensitive. * Must begin with a letter or underscore. * Can only contain letters, numbers, and underscores. * Must be at least 1 character and at most 64 characters long."
        },
        "type": {
          "type": "string",
          "enum": [
            "ENTRY_TYPE_UNSPECIFIED",
            "TABLE",
            "MODEL",
            "DATA_STREAM",
            "FILESET",
            "CLUSTER",
            "DATABASE",
            "DATA_SOURCE_CONNECTION",
            "ROUTINE",
            "LAKE",
            "ZONE",
            "SERVICE",
            "DATABASE_SCHEMA",
            "DASHBOARD",
            "EXPLORE",
            "LOOK",
            "FEATURE_ONLINE_STORE",
            "FEATURE_VIEW",
            "FEATURE_GROUP",
            "GRAPH",
            "NODE",
            "EDGE"
          ],
          "description": "The type of the entry. For details, see [`EntryType`](#entrytype).",
          "enumDescriptions": [
            "Default unknown type.",
            "The entry type that has a GoogleSQL schema, including logical views.",
            "The type of models. For more information, see [Supported models in BigQuery ML](/bigquery/docs/bqml-introduction#supported_models).",
            "An entry type for streaming entries. For example, a Pub/Sub topic.",
            "An entry type for a set of files or objects. For example, a Cloud Storage fileset.",
            "A group of servers that work together. For example, a Kafka cluster.",
            "A database.",
            "Connection to a data source. For example, a BigQuery connection.",
            "Routine, for example, a BigQuery routine.",
            "A Dataplex Universal Catalog lake.",
            "A Dataplex Universal Catalog zone.",
            "A service, for example, a Dataproc Metastore service.",
            "Schema within a relational database.",
            "A Dashboard, for example from Looker.",
            "A Looker Explore. For more information, see [Looker Explore API] (https://developers.looker.com/api/explorer/4.0/methods/LookmlModel/lookml_model_explore).",
            "A Looker Look. For more information, see [Looker Look API] (https://developers.looker.com/api/explorer/4.0/methods/Look).",
            "Feature Online Store resource in Vertex AI Feature Store.",
            "Feature View resource in Vertex AI Feature Store.",
            "Feature Group resource in Vertex AI Feature Store.",
            "An entry type for a graph.",
            "An entry type for a graph node.",
            "An entry type for a graph edge."
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of an entry in URL format. Note: The entry itself and its child resources might not be stored in the location specified in its name.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cloud labels attached to the entry. In Data Catalog, you can create and modify labels attached only to custom entries. Synced entries have unmodifiable labels that come from the source system."
        },
        "businessContext": {
          "description": "Business Context of the entry. Not supported for BigQuery datasets",
          "$ref": "GoogleCloudDatacatalogV1BusinessContext"
        },
        "integratedSystem": {
          "type": "string",
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB",
            "DATAPROC_METASTORE",
            "DATAPLEX",
            "CLOUD_SPANNER",
            "CLOUD_BIGTABLE",
            "CLOUD_SQL",
            "LOOKER",
            "VERTEX_AI"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub.",
            "Dataproc Metastore.",
            "Dataplex Universal Catalog.",
            "Cloud Spanner",
            "Cloud Bigtable",
            "Cloud Sql",
            "Looker",
            "Vertex AI"
          ],
          "description": "Output only. Indicates the entry's source system that Data Catalog integrates with, such as BigQuery, Pub/Sub, or Dataproc Metastore."
        },
        "featureOnlineStoreSpec": {
          "$ref": "GoogleCloudDatacatalogV1FeatureOnlineStoreSpec",
          "description": "FeatureonlineStore spec for Vertex AI Feature Store."
        },
        "dataSourceConnectionSpec": {
          "$ref": "GoogleCloudDatacatalogV1DataSourceConnectionSpec",
          "description": "Specification that applies to a data source connection. Valid only for entries with the `DATA_SOURCE_CONNECTION` type."
        },
        "datasetSpec": {
          "description": "Specification that applies to a dataset.",
          "$ref": "GoogleCloudDatacatalogV1DatasetSpec"
        },
        "displayName": {
          "description": "Display name of an entry. The maximum size is 500 bytes when encoded in UTF-8. Default value is an empty string.",
          "type": "string"
        },
        "databaseTableSpec": {
          "description": "Specification that applies to a table resource. Valid only for entries with the `TABLE` or `EXPLORE` type.",
          "$ref": "GoogleCloudDatacatalogV1DatabaseTableSpec"
        },
        "personalDetails": {
          "description": "Output only. Additional information related to the entry. Private to the current user.",
          "$ref": "GoogleCloudDatacatalogV1PersonalDetails",
          "readOnly": true
        },
        "usageSignal": {
          "$ref": "GoogleCloudDatacatalogV1UsageSignal",
          "description": "Resource usage statistics."
        },
        "fullyQualifiedName": {
          "description": "[Fully Qualified Name (FQN)](https://cloud.google.com//data-catalog/docs/fully-qualified-names) of the resource. Set automatically for entries representing resources from synced systems. Settable only during creation, and read-only later. Can be used for search and lookup of the entries. ",
          "type": "string"
        },
        "bigqueryTableSpec": {
          "readOnly": true,
          "description": "Output only. Specification that applies to a BigQuery table. Valid only for entries with the `TABLE` type.",
          "$ref": "GoogleCloudDatacatalogV1BigQueryTableSpec"
        }
      },
      "id": "GoogleCloudDatacatalogV1Entry"
    },
    "GoogleCloudDatacatalogV1Tag": {
      "properties": {
        "fields": {
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1TagField"
          },
          "type": "object",
          "description": "Required. Maps the ID of a tag field to its value and additional information about that field. Tag template defines valid field IDs. A tag must have at least 1 field and at most 500 fields."
        },
        "column": {
          "type": "string",
          "description": "Resources like entry can have schemas associated with them. This scope allows you to attach tags to an individual column based on that schema. To attach a tag to a nested column, separate column names with a dot (`.`). Example: `column.nested_column`."
        },
        "dataplexTransferStatus": {
          "description": "Output only. Denotes the transfer status of the Tag Template.",
          "type": "string",
          "enum": [
            "DATAPLEX_TRANSFER_STATUS_UNSPECIFIED",
            "MIGRATED",
            "TRANSFERRED"
          ],
          "enumDescriptions": [
            "Default value. TagTemplate and its tags are only visible and editable in Data Catalog.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Data Catalog, read-only in Dataplex Universal Catalog. Deprecated: Individual TagTemplate migration is deprecated in favor of organization or project wide TagTemplate migration opt-in.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Dataplex Universal Catalog, read-only in Data Catalog."
          ],
          "readOnly": true,
          "enumDeprecated": [
            false,
            true,
            false
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the tag in URL format where tag ID is a system-generated identifier. Note: The tag itself might not be stored in the location specified in its name."
        },
        "templateDisplayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the tag template."
        },
        "template": {
          "description": "Required. The resource name of the tag template this tag uses. Example: `projects/{PROJECT_ID}/locations/{LOCATION}/tagTemplates/{TAG_TEMPLATE_ID}` This field cannot be modified after creation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1Tag",
      "description": "Tags contain custom metadata and are attached to Data Catalog resources. Tags conform with the specification of their tag template. See [Data Catalog IAM](https://cloud.google.com/data-catalog/docs/concepts/iam) for information on the permissions needed to create or view tags.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ListEntryGroupsResponse": {
      "description": "Response message for ListEntryGroups.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to specify in the next call to retrieve the next page of results. Empty if there are no more items."
        },
        "entryGroups": {
          "type": "array",
          "description": "Entry group details.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1EntryGroup"
          }
        }
      },
      "id": "GoogleCloudDatacatalogV1ListEntryGroupsResponse"
    },
    "GoogleCloudDatacatalogV1SpannerTableSpec": {
      "id": "GoogleCloudDatacatalogV1SpannerTableSpec",
      "description": "Specification of a Spanner table.",
      "properties": {
        "foreignKeys": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The foreign keys of the table.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKey"
          }
        },
        "primaryKey": {
          "description": "Output only. The primary key of the table.",
          "$ref": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerPrimaryKey",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema": {
      "properties": {
        "text": {
          "type": "string",
          "description": "Protocol buffer source of the schema."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema",
      "description": "Schema in protocol buffer format."
    },
    "GoogleCloudDatacatalogV1CommonUsageStats": {
      "properties": {
        "viewCount": {
          "description": "View count in source system.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1CommonUsageStats",
      "type": "object",
      "description": "Common statistics on the entry's usage. They can be set on any system."
    },
    "GoogleCloudDatacatalogV1SearchCatalogRequest": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1SearchCatalogRequest",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "Optional. Pagination token that, if specified, returns the next page of search results. If empty, returns the first page. This token is returned in the SearchCatalogResponse.next_page_token field of the response to a previous SearchCatalogRequest call."
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Upper bound on the number of results you can get in a single response. Can't be negative or 0, defaults to 10 in this case. The maximum number is 1000. If exceeded, throws an \"invalid argument\" exception."
        },
        "query": {
          "description": "Optional. The query string with a minimum of 3 characters and specific syntax. For more information, see [Data Catalog search syntax](https://cloud.google.com/data-catalog/docs/how-to/search-reference). An empty query string returns all data assets (in the specified scope) that you have access to. A query string can be a simple `xyz` or qualified by predicates: * `name:x` * `column:y` * `description:z`",
          "type": "string"
        },
        "orderBy": {
          "description": "Specifies the order of results. Currently supported case-sensitive values are: * `relevance` that can only be descending * `last_modified_timestamp [asc|desc]` with descending (`desc`) as default * `default` that can only be descending Search queries don't guarantee full recall. Results that match your query might not be returned, even in subsequent result pages. Additionally, returned (and not returned) results can vary if you repeat search queries. If you are experiencing recall issues and you don't have to fetch the results in any specific order, consider setting this parameter to `default`. If this parameter is omitted, it defaults to the descending `relevance`.",
          "type": "string"
        },
        "adminSearch": {
          "description": "Optional. If set, use searchAll permission granted on organizations from `include_org_ids` and projects from `include_project_ids` instead of the fine grained per resource permissions when filtering the search results. The only allowed `order_by` criteria for admin_search mode is `default`. Using this flags guarantees a full recall of the search results.",
          "type": "boolean"
        },
        "scope": {
          "$ref": "GoogleCloudDatacatalogV1SearchCatalogRequestScope",
          "description": "Required. The scope of this search request. The `scope` is invalid if `include_org_ids`, `include_project_ids` are empty AND `include_gcp_public_datasets` is set to `false`. In this case, the request returns an error."
        }
      },
      "description": "Request message for SearchCatalog."
    },
    "GoogleCloudDatacatalogV1MigrationConfig": {
      "id": "GoogleCloudDatacatalogV1MigrationConfig",
      "properties": {
        "catalogUiExperience": {
          "description": "Opt-in status for the UI switch to Dataplex Universal Catalog.",
          "type": "string",
          "enum": [
            "CATALOG_UI_EXPERIENCE_UNSPECIFIED",
            "CATALOG_UI_EXPERIENCE_ENABLED",
            "CATALOG_UI_EXPERIENCE_DISABLED"
          ],
          "enumDescriptions": [
            "Default value. The default UI is Dataplex Universal Catalog.",
            "The UI is Dataplex Universal Catalog.",
            "The UI is Data Catalog."
          ]
        },
        "tagTemplateMigration": {
          "enumDescriptions": [
            "Default value. Migration of Tag Templates from Data Catalog to Dataplex Universal Catalog is not performed. For projects that are under an organization, the project inherits the organization's configuration when you set the project-level configuration to unspecified (`TAG_TEMPLATE_MIGRATION_UNSPECIFIED`). This means that when migration is enabled at the organization level, and the project-level configuration is unspecified, the project is migrated. To explicitly opt-in or opt-out individual projects, set the project-level configuration to enabled (`TAG_TEMPLATE_MIGRATION_ENABLED`) or disabled (`TAG_TEMPLATE_MIGRATION_DISABLED`).",
            "Migration of Tag Templates from Data Catalog to Dataplex Universal Catalog is enabled.",
            "Migration of Tag Templates from Data Catalog to Dataplex Universal Catalog is disabled."
          ],
          "type": "string",
          "enum": [
            "TAG_TEMPLATE_MIGRATION_UNSPECIFIED",
            "TAG_TEMPLATE_MIGRATION_ENABLED",
            "TAG_TEMPLATE_MIGRATION_DISABLED"
          ],
          "description": "Opt-in status for the migration of Tag Templates to Dataplex Universal Catalog."
        },
        "templateMigrationEnabledTime": {
          "format": "google-datetime",
          "description": "The time when the Tag Template migration was enabled. If the Tag Template migration is not enabled, this field is not set.",
          "type": "string"
        }
      },
      "description": "The configuration related to the migration to Dataplex Universal Catalog applied to an organization or project. It is the response message for SetConfig and RetrieveEffectiveConfig.",
      "type": "object"
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        }
      }
    },
    "GoogleCloudDatacatalogV1StarEntryRequest": {
      "description": "Request message for StarEntry.",
      "id": "GoogleCloudDatacatalogV1StarEntryRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDatacatalogV1SystemTimestamps": {
      "id": "GoogleCloudDatacatalogV1SystemTimestamps",
      "description": "Timestamps associated with this resource in a particular system.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Creation timestamp of the resource within the given system."
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Expiration timestamp of the resource within the given system. Currently only applicable to BigQuery resources.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of the last modification of the resource or its metadata within a given system. Note: Depending on the source system, not every modification updates this timestamp. For example, BigQuery timestamps every metadata modification but not data or permission changes."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1SerializedTaxonomy": {
      "description": "A nested protocol buffer that represents a taxonomy and the hierarchy of its policy tags. Used for taxonomy replacement, import, and export.",
      "properties": {
        "description": {
          "description": "Description of the serialized taxonomy. At most 2000 bytes when encoded in UTF-8. If not set, defaults to an empty description.",
          "type": "string"
        },
        "activatedPolicyTypes": {
          "items": {
            "type": "string",
            "enum": [
              "POLICY_TYPE_UNSPECIFIED",
              "FINE_GRAINED_ACCESS_CONTROL"
            ],
            "enumDescriptions": [
              "Unspecified policy type.",
              "Fine-grained access control policy that enables access control on tagged sub-resources."
            ]
          },
          "description": "A list of policy types that are activated per taxonomy.",
          "type": "array"
        },
        "displayName": {
          "description": "Required. Display name of the taxonomy. At most 200 bytes when encoded in UTF-8.",
          "type": "string"
        },
        "policyTags": {
          "description": "Top level policy tags associated with the taxonomy, if any.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SerializedPolicyTag"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1SerializedTaxonomy"
    },
    "GoogleCloudDatacatalogV1PhysicalSchema": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1PhysicalSchema",
      "properties": {
        "parquet": {
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema",
          "description": "Marks a Parquet-encoded data source."
        },
        "orc": {
          "description": "Marks an ORC-encoded data source.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema"
        },
        "protobuf": {
          "description": "Schema in protocol buffer format.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema"
        },
        "csv": {
          "description": "Marks a CSV-encoded data source.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema"
        },
        "avro": {
          "description": "Schema in Avro JSON format.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema"
        },
        "thrift": {
          "description": "Schema in Thrift format.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema"
        }
      },
      "description": "Native schema used by a resource represented as an entry. Used by query engines for deserializing and parsing source data."
    },
    "GoogleCloudDatacatalogV1ImportEntriesResponse": {
      "id": "GoogleCloudDatacatalogV1ImportEntriesResponse",
      "type": "object",
      "properties": {
        "deletedEntriesCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of entries deleted as a result of import operation."
        },
        "upsertedEntriesCount": {
          "format": "int64",
          "description": "Cumulative number of entries created and entries updated as a result of import operation.",
          "type": "string"
        }
      },
      "description": "Response message for long-running operation returned by the ImportEntries."
    },
    "GoogleCloudDatacatalogV1ListPolicyTagsResponse": {
      "id": "GoogleCloudDatacatalogV1ListPolicyTagsResponse",
      "type": "object",
      "description": "Response message for ListPolicyTags.",
      "properties": {
        "policyTags": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1PolicyTag"
          },
          "description": "The policy tags that belong to the taxonomy."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token of the next results page. Empty if there are no more results in the list."
        }
      }
    },
    "GoogleCloudDatacatalogV1LookerSystemSpec": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1LookerSystemSpec",
      "properties": {
        "parentInstanceDisplayName": {
          "description": "Name of the parent Looker Instance. Empty if it does not exist.",
          "type": "string"
        },
        "parentInstanceId": {
          "description": "ID of the parent Looker Instance. Empty if it does not exist. Example value: `someinstance.looker.com`",
          "type": "string"
        },
        "parentViewDisplayName": {
          "description": "Name of the parent View. Empty if it does not exist.",
          "type": "string"
        },
        "parentViewId": {
          "type": "string",
          "description": "ID of the parent View. Empty if it does not exist."
        },
        "parentModelId": {
          "description": "ID of the parent Model. Empty if it does not exist.",
          "type": "string"
        },
        "parentModelDisplayName": {
          "description": "Name of the parent Model. Empty if it does not exist.",
          "type": "string"
        }
      },
      "description": "Specification that applies to entries that are part `LOOKER` system (user_specified_type)"
    },
    "GoogleCloudDatacatalogV1BigQueryRoutineSpec": {
      "id": "GoogleCloudDatacatalogV1BigQueryRoutineSpec",
      "description": "Fields specific for BigQuery routines.",
      "type": "object",
      "properties": {
        "importedLibraries": {
          "type": "array",
          "description": "Paths of the imported libraries.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1Taxonomy": {
      "description": "A taxonomy is a collection of hierarchical policy tags that classify data along a common axis. For example, a \"data sensitivity\" taxonomy might contain the following policy tags: ``` + PII + Account number + Age + SSN + Zipcode + Financials + Revenue ``` A \"data origin\" taxonomy might contain the following policy tags: ``` + User data + Employee data + Partner data + Public data ```",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this taxonomy in URL format. Note: Policy tag manager generates unique taxonomy IDs."
        },
        "activatedPolicyTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "POLICY_TYPE_UNSPECIFIED",
              "FINE_GRAINED_ACCESS_CONTROL"
            ],
            "enumDescriptions": [
              "Unspecified policy type.",
              "Fine-grained access control policy that enables access control on tagged sub-resources."
            ]
          },
          "description": "Optional. A list of policy types that are activated for this taxonomy. If not set, defaults to an empty list."
        },
        "service": {
          "description": "Output only. Identity of the service which owns the Taxonomy. This field is only populated when the taxonomy is created by a Google Cloud service. Currently only 'DATAPLEX' is supported.",
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1TaxonomyService"
        },
        "description": {
          "description": "Optional. Description of this taxonomy. If not set, defaults to empty. The description must contain only Unicode characters, tabs, newlines, carriage returns, and page breaks, and be at most 2000 bytes long when encoded in UTF-8.",
          "type": "string"
        },
        "policyTagCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of policy tags in this taxonomy.",
          "format": "int32"
        },
        "displayName": {
          "description": "Required. User-defined name of this taxonomy. The name can't start or end with spaces, must contain only Unicode letters, numbers, underscores, dashes, and spaces, and be at most 200 bytes long when encoded in UTF-8. The taxonomy display name must be unique within an organization.",
          "type": "string"
        },
        "taxonomyTimestamps": {
          "description": "Output only. Creation and modification timestamps of this taxonomy.",
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDatacatalogV1Taxonomy",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1SearchCatalogResult": {
      "id": "GoogleCloudDatacatalogV1SearchCatalogResult",
      "description": "Result in the response to a search request. Each result captures details of one entry that matches the search.",
      "type": "object",
      "properties": {
        "searchResultSubtype": {
          "type": "string",
          "description": "Sub-type of the search result. A dot-delimited full type of the resource. The same type you specify in the `type` search predicate. Examples: `entry.table`, `entry.dataStream`, `tagTemplate`."
        },
        "linkedResource": {
          "description": "The full name of the Google Cloud resource the entry belongs to. For more information, see [Full Resource Name] (/apis/design/resource_names#full_resource_name). Example: `//bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID`",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Entry description that can consist of several sentences or paragraphs that describe entry contents."
        },
        "searchResultType": {
          "description": "Type of the search result. You can use this field to determine which get method to call to fetch the full resource.",
          "type": "string",
          "enum": [
            "SEARCH_RESULT_TYPE_UNSPECIFIED",
            "ENTRY",
            "TAG_TEMPLATE",
            "ENTRY_GROUP"
          ],
          "enumDescriptions": [
            "Default unknown type.",
            "An Entry.",
            "A TagTemplate.",
            "An EntryGroup."
          ]
        },
        "relativeResourceName": {
          "description": "The relative name of the resource in URL format. Examples: * `projects/{PROJECT_ID}/locations/{LOCATION_ID}/entryGroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}` * `projects/{PROJECT_ID}/tagTemplates/{TAG_TEMPLATE_ID}`",
          "type": "string"
        },
        "fullyQualifiedName": {
          "description": "Fully qualified name (FQN) of the resource. FQNs take two forms: * For non-regionalized resources: `{SYSTEM}:{PROJECT}.{PATH_TO_RESOURCE_SEPARATED_WITH_DOTS}` * For regionalized resources: `{SYSTEM}:{PROJECT}.{LOCATION_ID}.{PATH_TO_RESOURCE_SEPARATED_WITH_DOTS}` Example for a DPMS table: `dataproc_metastore:PROJECT_ID.LOCATION_ID.INSTANCE_ID.DATABASE_ID.TABLE_ID`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the result."
        },
        "integratedSystem": {
          "type": "string",
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB",
            "DATAPROC_METASTORE",
            "DATAPLEX",
            "CLOUD_SPANNER",
            "CLOUD_BIGTABLE",
            "CLOUD_SQL",
            "LOOKER",
            "VERTEX_AI"
          ],
          "readOnly": true,
          "description": "Output only. The source system that Data Catalog automatically integrates with, such as BigQuery, Cloud Pub/Sub, or Dataproc Metastore.",
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub.",
            "Dataproc Metastore.",
            "Dataplex Universal Catalog.",
            "Cloud Spanner",
            "Cloud Bigtable",
            "Cloud Sql",
            "Looker",
            "Vertex AI"
          ]
        },
        "userSpecifiedSystem": {
          "type": "string",
          "description": "Custom source system that you can manually integrate Data Catalog with."
        },
        "modifyTime": {
          "type": "string",
          "description": "The last modification timestamp of the entry in the source system.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDatacatalogV1ReconcileTagsMetadata": {
      "id": "GoogleCloudDatacatalogV1ReconcileTagsMetadata",
      "description": "Long-running operation metadata message returned by the ReconcileTags.",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "RECONCILIATION_STATE_UNSPECIFIED",
            "RECONCILIATION_QUEUED",
            "RECONCILIATION_IN_PROGRESS",
            "RECONCILIATION_DONE"
          ],
          "description": "State of the reconciliation operation.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The reconciliation has been queued and awaits for execution.",
            "The reconciliation is in progress.",
            "The reconciliation has been finished."
          ]
        },
        "errors": {
          "description": "Maps the name of each tagged column (or empty string for a sole entry) to tagging operation status.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Status"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema": {
      "description": "Schema in Avro JSON format.",
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema",
      "properties": {
        "text": {
          "type": "string",
          "description": "JSON source of the Avro schema."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ReplaceTaxonomyRequest": {
      "id": "GoogleCloudDatacatalogV1ReplaceTaxonomyRequest",
      "description": "Request message for ReplaceTaxonomy.",
      "properties": {
        "serializedTaxonomy": {
          "description": "Required. Taxonomy to update along with its child policy tags.",
          "$ref": "GoogleCloudDatacatalogV1SerializedTaxonomy"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema": {
      "properties": {
        "text": {
          "type": "string",
          "description": "Thrift IDL source of the schema."
        }
      },
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema",
      "description": "Schema in Thrift format.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ImportEntriesRequest": {
      "description": "Request message for ImportEntries method.",
      "id": "GoogleCloudDatacatalogV1ImportEntriesRequest",
      "type": "object",
      "properties": {
        "gcsBucketPath": {
          "description": "Path to a Cloud Storage bucket that contains a dump ready for ingestion.",
          "type": "string"
        },
        "jobId": {
          "type": "string",
          "description": "Optional. (Optional) Dataplex Universal Catalog task job id, if specified will be used as part of ImportEntries LRO ID"
        }
      }
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema": {
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema",
      "type": "object",
      "properties": {},
      "description": "Marks a CSV-encoded data source."
    },
    "GoogleCloudDatacatalogV1DataplexFilesetSpec": {
      "description": "Entry specification for a Dataplex Universal Catalog fileset.",
      "properties": {
        "dataplexSpec": {
          "description": "Common Dataplex Universal Catalog fields.",
          "$ref": "GoogleCloudDatacatalogV1DataplexSpec"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1DataplexFilesetSpec"
    },
    "GoogleCloudDatacatalogV1InlineSource": {
      "description": "Inline source containing taxonomies to import.",
      "properties": {
        "taxonomies": {
          "type": "array",
          "description": "Required. Taxonomies to import.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SerializedTaxonomy"
          }
        }
      },
      "id": "GoogleCloudDatacatalogV1InlineSource",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1StarEntryResponse": {
      "properties": {},
      "id": "GoogleCloudDatacatalogV1StarEntryResponse",
      "description": "Response message for StarEntry. Empty for now",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ReconcileTagsResponse": {
      "id": "GoogleCloudDatacatalogV1ReconcileTagsResponse",
      "description": "Long-running operation response message returned by ReconcileTags.",
      "properties": {
        "updatedTagsCount": {
          "type": "string",
          "description": "Number of tags updated in the request.",
          "format": "int64"
        },
        "createdTagsCount": {
          "type": "string",
          "description": "Number of tags created in the request.",
          "format": "int64"
        },
        "deletedTagsCount": {
          "description": "Number of tags deleted in the request.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1UnstarEntryRequest": {
      "description": "Request message for UnstarEntry.",
      "id": "GoogleCloudDatacatalogV1UnstarEntryRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDatacatalogV1UsageStats": {
      "id": "GoogleCloudDatacatalogV1UsageStats",
      "properties": {
        "totalCancellations": {
          "format": "float",
          "type": "number",
          "description": "The number of cancelled attempts to use the underlying entry."
        },
        "totalExecutionTimeForCompletionsMillis": {
          "type": "number",
          "format": "float",
          "description": "Total time spent only on successful uses, in milliseconds."
        },
        "totalCompletions": {
          "format": "float",
          "type": "number",
          "description": "The number of successful uses of the underlying entry."
        },
        "totalFailures": {
          "description": "The number of failed attempts to use the underlying entry.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Detailed statistics on the entry's usage. Usage statistics have the following limitations: - Only BigQuery tables have them. - They only include BigQuery query jobs. - They might be underestimated because wildcard table references are not yet counted. For more information, see [Querying multiple tables using a wildcard table] (https://cloud.google.com/bigquery/docs/querying-wildcard-tables)",
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "type": "object",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "description": "Request message for `GetIamPolicy` method."
    },
    "GoogleCloudDatacatalogV1ViewSpec": {
      "properties": {
        "viewQuery": {
          "description": "Output only. The query that defines the table view.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Table view specification.",
      "id": "GoogleCloudDatacatalogV1ViewSpec",
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "id": "Expr"
    },
    "GoogleCloudDatacatalogV1StorageProperties": {
      "type": "object",
      "properties": {
        "filePattern": {
          "description": "Patterns to identify a set of files for this fileset. Examples of a valid `file_pattern`: * `gs://bucket_name/dir/*`: matches all files in the `bucket_name/dir` directory * `gs://bucket_name/dir/**`: matches all files in the `bucket_name/dir` and all subdirectories recursively * `gs://bucket_name/file*`: matches files prefixed by `file` in `bucket_name` * `gs://bucket_name/??.txt`: matches files with two characters followed by `.txt` in `bucket_name` * `gs://bucket_name/[aeiou].txt`: matches files that contain a single vowel character followed by `.txt` in `bucket_name` * `gs://bucket_name/[a-m].txt`: matches files that contain `a`, `b`, ... or `m` followed by `.txt` in `bucket_name` * `gs://bucket_name/a/*/b`: matches all files in `bucket_name` that match the `a/*/b` pattern, such as `a/c/b`, `a/d/b` * `gs://another_bucket/a.txt`: matches `gs://another_bucket/a.txt`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "fileType": {
          "description": "File type in MIME format, for example, `text/plain`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1StorageProperties",
      "description": "Details the properties of the underlying storage."
    },
    "GoogleCloudDatacatalogV1PolicyTag": {
      "properties": {
        "childPolicyTags": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Resource names of child policy tags of this policy tag."
        },
        "description": {
          "type": "string",
          "description": "Description of this policy tag. If not set, defaults to empty. The description must contain only Unicode characters, tabs, newlines, carriage returns and page breaks, and be at most 2000 bytes long when encoded in UTF-8."
        },
        "parentPolicyTag": {
          "description": "Resource name of this policy tag's parent policy tag. If empty, this is a top level tag. If not set, defaults to an empty string. For example, for the \"LatLong\" policy tag in the example above, this field contains the resource name of the \"Geolocation\" policy tag, and, for \"Geolocation\", this field is empty.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. User-defined name of this policy tag. The name can't start or end with spaces and must be unique within the parent taxonomy, contain only Unicode letters, numbers, underscores, dashes and spaces, and be at most 200 bytes long when encoded in UTF-8.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of this policy tag in the URL format. The policy tag manager generates unique taxonomy IDs and policy tag IDs.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1PolicyTag",
      "type": "object",
      "description": "Denotes one policy tag in a taxonomy, for example, SSN. Policy tags can be defined in a hierarchy. For example: ``` + Geolocation + LatLong + City + ZipCode ``` Where the \"Geolocation\" policy tag contains three children."
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudDatacatalogV1DumpItem": {
      "properties": {
        "taggedEntry": {
          "description": "Entry and its tags.",
          "$ref": "GoogleCloudDatacatalogV1TaggedEntry"
        }
      },
      "id": "GoogleCloudDatacatalogV1DumpItem",
      "type": "object",
      "description": "Wrapper for any item that can be contained in the dump."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "type": "object",
      "description": "Request message for `SetIamPolicy` method."
    },
    "GoogleCloudDatacatalogV1BusinessContext": {
      "type": "object",
      "description": "Business Context of the entry.",
      "id": "GoogleCloudDatacatalogV1BusinessContext",
      "properties": {
        "entryOverview": {
          "description": "Entry overview fields for rich text descriptions of entries.",
          "$ref": "GoogleCloudDatacatalogV1EntryOverview"
        },
        "contacts": {
          "description": "Contact people for the entry.",
          "$ref": "GoogleCloudDatacatalogV1Contacts"
        }
      }
    },
    "GoogleCloudDatacatalogV1TagField": {
      "description": "Contains the value and additional information on a field within a Tag.",
      "type": "object",
      "properties": {
        "richtextValue": {
          "description": "The value of a tag field with a rich text type. The maximum length is 10 MiB as this value holds HTML descriptions including encoded images. The maximum length of the text without images is 100 KiB.",
          "type": "string"
        },
        "enumValue": {
          "description": "The value of a tag field with an enum type. This value must be one of the allowed values listed in this enum.",
          "$ref": "GoogleCloudDatacatalogV1TagFieldEnumValue"
        },
        "order": {
          "description": "Output only. The order of this field with respect to other fields in this tag. Can be set by Tag. For example, a higher value can indicate a more important field. The value can be negative. Multiple fields can have the same order, and field orders within a tag don't have to be sequential.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "displayName": {
          "description": "Output only. The display name of this field.",
          "type": "string",
          "readOnly": true
        },
        "timestampValue": {
          "description": "The value of a tag field with a timestamp type.",
          "format": "google-datetime",
          "type": "string"
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "The value of a tag field with a double type."
        },
        "boolValue": {
          "description": "The value of a tag field with a boolean type.",
          "type": "boolean"
        },
        "stringValue": {
          "description": "The value of a tag field with a string type. The maximum length is 2000 UTF-8 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1TagField"
    },
    "GoogleCloudDatacatalogV1RenameTagTemplateFieldEnumValueRequest": {
      "description": "Request message for RenameTagTemplateFieldEnumValue.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1RenameTagTemplateFieldEnumValueRequest",
      "properties": {
        "newEnumValueDisplayName": {
          "description": "Required. The new display name of the enum value. For example, `my_new_enum_value`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1SetConfigRequest": {
      "description": "Request message for SetConfig.",
      "properties": {
        "catalogUiExperience": {
          "enumDescriptions": [
            "Default value. The default UI is Dataplex Universal Catalog.",
            "The UI is Dataplex Universal Catalog.",
            "The UI is Data Catalog."
          ],
          "type": "string",
          "enum": [
            "CATALOG_UI_EXPERIENCE_UNSPECIFIED",
            "CATALOG_UI_EXPERIENCE_ENABLED",
            "CATALOG_UI_EXPERIENCE_DISABLED"
          ],
          "description": "Opt-in status for the UI switch to Dataplex Universal Catalog."
        },
        "tagTemplateMigration": {
          "description": "Opt-in status for the migration of Tag Templates to Dataplex Universal Catalog.",
          "type": "string",
          "enum": [
            "TAG_TEMPLATE_MIGRATION_UNSPECIFIED",
            "TAG_TEMPLATE_MIGRATION_ENABLED",
            "TAG_TEMPLATE_MIGRATION_DISABLED"
          ],
          "enumDescriptions": [
            "Default value. Migration of Tag Templates from Data Catalog to Dataplex Universal Catalog is not performed. For projects that are under an organization, the project inherits the organization's configuration when you set the project-level configuration to unspecified (`TAG_TEMPLATE_MIGRATION_UNSPECIFIED`). This means that when migration is enabled at the organization level, and the project-level configuration is unspecified, the project is migrated. To explicitly opt-in or opt-out individual projects, set the project-level configuration to enabled (`TAG_TEMPLATE_MIGRATION_ENABLED`) or disabled (`TAG_TEMPLATE_MIGRATION_DISABLED`).",
            "Migration of Tag Templates from Data Catalog to Dataplex Universal Catalog is enabled.",
            "Migration of Tag Templates from Data Catalog to Dataplex Universal Catalog is disabled."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1SetConfigRequest"
    },
    "GoogleCloudDatacatalogV1ModifyEntryOverviewRequest": {
      "description": "Request message for ModifyEntryOverview.",
      "properties": {
        "entryOverview": {
          "description": "Required. The new value for the Entry Overview.",
          "$ref": "GoogleCloudDatacatalogV1EntryOverview"
        }
      },
      "id": "GoogleCloudDatacatalogV1ModifyEntryOverviewRequest",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema",
      "description": "Marks an ORC-encoded data source."
    },
    "GoogleCloudDatacatalogV1FieldTypeEnumType": {
      "properties": {
        "allowedValues": {
          "type": "array",
          "description": "The set of allowed values for this enum. This set must not be empty and can include up to 100 allowed values. The display names of the values in this set must not be empty and must be case-insensitively unique within this set. The order of items in this set is preserved. This field can be used to create, remove, and reorder enum values. To rename enum values, use the `RenameTagTemplateFieldEnumValue` method.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1FieldTypeEnumTypeEnumValue"
          }
        }
      },
      "id": "GoogleCloudDatacatalogV1FieldTypeEnumType",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1BigQueryDateShardedSpec": {
      "properties": {
        "tablePrefix": {
          "readOnly": true,
          "description": "Output only. The table name prefix of the shards. The name of any given shard is `[table_prefix]YYYYMMDD`. For example, for the `MyTable20180101` shard, the `table_prefix` is `MyTable`.",
          "type": "string"
        },
        "latestShardResource": {
          "description": "Output only. BigQuery resource name of the latest shard.",
          "readOnly": true,
          "type": "string"
        },
        "shardCount": {
          "description": "Output only. Total number of shards.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "dataset": {
          "readOnly": true,
          "description": "Output only. The Data Catalog resource name of the dataset entry the current table belongs to. For example: `projects/{PROJECT_ID}/locations/{LOCATION}/entrygroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`.",
          "type": "string"
        }
      },
      "description": "Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding).",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1BigQueryDateShardedSpec"
    },
    "GoogleCloudDatacatalogV1DataSourceConnectionSpec": {
      "description": "Specification that applies to a data source connection. Valid only for entries with the `DATA_SOURCE_CONNECTION` type. Only one of internal specs can be set at the time, and cannot be changed later.",
      "properties": {
        "bigqueryConnectionSpec": {
          "$ref": "GoogleCloudDatacatalogV1BigQueryConnectionSpec",
          "description": "Output only. Fields specific to BigQuery connections."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1DataSourceConnectionSpec"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ImportTaxonomiesRequest": {
      "description": "Request message for ImportTaxonomies.",
      "id": "GoogleCloudDatacatalogV1ImportTaxonomiesRequest",
      "properties": {
        "inlineSource": {
          "description": "Inline source taxonomy to import.",
          "$ref": "GoogleCloudDatacatalogV1InlineSource"
        },
        "crossRegionalSource": {
          "$ref": "GoogleCloudDatacatalogV1CrossRegionalSource",
          "description": "Cross-regional source taxonomy to import."
        }
      },
      "type": "object"
    },
[...]
