{
  "version": "v1beta1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://datacatalog.googleapis.com/",
  "protocol": "rest",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "baseUrl": "https://datacatalog.googleapis.com/",
  "name": "datacatalog",
  "canonicalName": "Data Catalog",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "mtlsRootUrl": "https://datacatalog.mtls.googleapis.com/",
  "ownerName": "Google",
  "description": "A fully managed and highly scalable data discovery and metadata management service. ",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "schemas": {
    "GoogleCloudDatacatalogV1beta1TagFieldEnumValue": {
      "description": "Holds an enum value.",
      "id": "GoogleCloudDatacatalogV1beta1TagFieldEnumValue",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The display name of the enum value.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1ViewSpec": {
      "properties": {
        "viewQuery": {
          "description": "Output only. The query that defines the table view.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ViewSpec",
      "description": "Table view specification."
    },
    "GoogleCloudDatacatalogV1SystemTimestamps": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1SystemTimestamps",
      "description": "Timestamps associated with this resource in a particular system.",
      "properties": {
        "updateTime": {
          "description": "Timestamp of the last modification of the resource or its metadata within a given system. Note: Depending on the source system, not every modification updates this timestamp. For example, BigQuery timestamps every metadata modification but not data or permission changes.",
          "type": "string",
          "format": "google-datetime"
        },
        "expireTime": {
          "description": "Output only. Expiration timestamp of the resource within the given system. Currently only applicable to BigQuery resources.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Creation timestamp of the resource within the given system.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDatacatalogV1ImportEntriesMetadata": {
      "description": "Metadata message for long-running operation returned by the ImportEntries.",
      "type": "object",
      "properties": {
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "description": "Partial errors that are encountered during the ImportEntries operation. There is no guarantee that all the encountered errors are reported. However, if no errors are reported, it means that no errors were encountered.",
          "type": "array"
        },
        "state": {
          "description": "State of the import operation.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The dump with entries has been queued for import.",
            "The import of entries is in progress.",
            "The import of entries has been finished.",
            "The import of entries has been abandoned in favor of a newer request."
          ],
          "type": "string",
          "enum": [
            "IMPORT_STATE_UNSPECIFIED",
            "IMPORT_QUEUED",
            "IMPORT_IN_PROGRESS",
            "IMPORT_DONE",
            "IMPORT_OBSOLETE"
          ]
        }
      },
      "id": "GoogleCloudDatacatalogV1ImportEntriesMetadata"
    },
    "GoogleCloudDatacatalogV1DatabaseTableSpec": {
      "properties": {
        "type": {
          "enum": [
            "TABLE_TYPE_UNSPECIFIED",
            "NATIVE",
            "EXTERNAL"
          ],
          "enumDescriptions": [
            "Default unknown table type.",
            "Native table.",
            "External table."
          ],
          "description": "Type of this table.",
          "type": "string"
        },
        "databaseViewSpec": {
          "description": "Spec what applies to tables that are actually views. Not set for \"real\" tables.",
          "$ref": "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec"
        },
        "dataplexTable": {
          "readOnly": true,
          "description": "Output only. Fields specific to a Dataplex Universal Catalog table and present only in the Dataplex Universal Catalog table entries.",
          "$ref": "GoogleCloudDatacatalogV1DataplexTableSpec"
        }
      },
      "description": "Specification that applies to a table resource. Valid only for entries with the `TABLE` type.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1DatabaseTableSpec"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema": {
      "type": "object",
      "properties": {
        "text": {
          "description": "Thrift IDL source of the schema.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema",
      "description": "Schema in Thrift format."
    },
    "GoogleCloudDatacatalogV1Schema": {
      "id": "GoogleCloudDatacatalogV1Schema",
      "properties": {
        "columns": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1ColumnSchema"
          },
          "description": "The unified GoogleSQL-like schema of columns. The overall maximum number of columns and nested columns is 10,000. The maximum nested depth is 15 levels.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Represents a schema, for example, a BigQuery, GoogleSQL, or Avro schema."
    },
    "GoogleCloudDatacatalogV1beta1EntryGroup": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A short name to identify the entry group, for example, \"analytics data - jan 2011\". Default value is an empty string."
        },
        "dataCatalogTimestamps": {
          "readOnly": true,
          "description": "Output only. Timestamps about this EntryGroup. Default value is empty timestamps.",
          "$ref": "GoogleCloudDatacatalogV1beta1SystemTimestamps"
        },
        "description": {
          "type": "string",
          "description": "Entry group description, which can consist of several sentences or paragraphs that describe entry group contents. Default value is an empty string."
        },
        "name": {
          "description": "Identifier. The resource name of the entry group in URL format. Example: * projects/{project_id}/locations/{location}/entryGroups/{entry_group_id} Note that this EntryGroup and its child resources may not actually be stored in the location in this name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "EntryGroup Metadata. An EntryGroup resource represents a logical grouping of zero or more Data Catalog Entry resources.",
      "id": "GoogleCloudDatacatalogV1beta1EntryGroup"
    },
    "GoogleCloudDatacatalogV1beta1SearchCatalogRequest": {
      "description": "Request message for SearchCatalog.",
      "type": "object",
      "properties": {
        "scope": {
          "description": "Required. The scope of this search request. A `scope` that has empty `include_org_ids`, `include_project_ids` AND false `include_gcp_public_datasets` is considered invalid. Data Catalog will return an error in such a case.",
          "$ref": "GoogleCloudDatacatalogV1beta1SearchCatalogRequestScope"
        },
        "query": {
          "type": "string",
          "description": "Optional. The query string in search query syntax. An empty query string will result in all data assets (in the specified scope) that the user has access to. Query strings can be simple as \"x\" or more qualified as: * name:x * column:x * description:y Note: Query tokens need to have a minimum of 3 characters for substring matching to work correctly. See [Data Catalog Search Syntax](https://cloud.google.com/data-catalog/docs/how-to/search-reference) for more information."
        },
        "pageSize": {
          "format": "int32",
          "description": "Number of results in the search page. If <=0 then defaults to 10. Max limit for page_size is 1000. Throws an invalid argument for page_size > 1000.",
          "type": "integer"
        },
        "orderBy": {
          "type": "string",
          "description": "Specifies the ordering of results, currently supported case-sensitive choices are: * `relevance`, only supports descending * `last_modified_timestamp [asc|desc]`, defaults to descending if not specified * `default` that can only be descending If not specified, defaults to `relevance` descending."
        },
        "pageToken": {
          "description": "Optional. Pagination token returned in an earlier SearchCatalogResponse.next_page_token, which indicates that this is a continuation of a prior SearchCatalogRequest call, and that the system should return the next page of data. If empty, the first page is returned.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1SearchCatalogRequest"
    },
    "GoogleCloudDatacatalogV1beta1TableSpec": {
      "type": "object",
      "description": "Normal BigQuery table spec.",
      "properties": {
        "groupedEntry": {
          "description": "Output only. If the table is a dated shard, i.e., with name pattern `[prefix]YYYYMMDD`, `grouped_entry` is the Data Catalog resource name of the date sharded grouped entry, for example, `projects/{project_id}/locations/{location}/entrygroups/{entry_group_id}/entries/{entry_id}`. Otherwise, `grouped_entry` is empty.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1TableSpec"
    },
    "GoogleCloudDatacatalogV1beta1ListTagsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. It is set to empty if no items remain in results."
        },
        "tags": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1Tag"
          },
          "description": "Tag details.",
          "type": "array"
        }
      },
      "description": "Response message for ListTags.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1ListTagsResponse"
    },
    "GoogleCloudDatacatalogV1beta1UsageStats": {
      "type": "object",
      "description": "Detailed counts on the entry's usage. Caveats: - Only BigQuery tables have usage stats - The usage stats only include BigQuery query jobs - The usage stats might be underestimated, e.g. wildcard table references are not yet counted in usage computation https://cloud.google.com/bigquery/docs/querying-wildcard-tables",
      "id": "GoogleCloudDatacatalogV1beta1UsageStats",
      "properties": {
        "totalFailures": {
          "format": "float",
          "description": "The number of times that the underlying entry was attempted to be used but failed.",
          "type": "number"
        },
        "totalCancellations": {
          "description": "The number of times that the underlying entry was attempted to be used but was cancelled by the user.",
          "type": "number",
          "format": "float"
        },
        "totalCompletions": {
          "type": "number",
          "description": "The number of times that the underlying entry was successfully used.",
          "format": "float"
        },
        "totalExecutionTimeForCompletionsMillis": {
          "description": "Total time spent (in milliseconds) during uses the resulted in completions.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDatacatalogV1CloudBigtableSystemSpec": {
      "properties": {
        "instanceDisplayName": {
          "description": "Display name of the Instance. This is user specified and different from the resource name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1CloudBigtableSystemSpec",
      "description": "Specification that applies to all entries that are part of `CLOUD_BIGTABLE` system (user_specified_type)"
    },
    "GoogleCloudDatacatalogV1beta1ExportTaxonomiesResponse": {
      "id": "GoogleCloudDatacatalogV1beta1ExportTaxonomiesResponse",
      "description": "Response message for ExportTaxonomies.",
      "properties": {
        "taxonomies": {
          "description": "List of taxonomies and policy tags in a tree structure.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SerializedTaxonomy"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1Tag": {
      "properties": {
        "column": {
          "type": "string",
          "description": "Resources like entry can have schemas associated with them. This scope allows you to attach tags to an individual column based on that schema. To attach a tag to a nested column, separate column names with a dot (`.`). Example: `column.nested_column`."
        },
        "templateDisplayName": {
          "description": "Output only. The display name of the tag template.",
          "type": "string",
          "readOnly": true
        },
        "fields": {
          "type": "object",
          "description": "Required. Maps the ID of a tag field to its value and additional information about that field. Tag template defines valid field IDs. A tag must have at least 1 field and at most 500 fields.",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1TagField"
          }
        },
        "template": {
          "description": "Required. The resource name of the tag template this tag uses. Example: `projects/{PROJECT_ID}/locations/{LOCATION}/tagTemplates/{TAG_TEMPLATE_ID}` This field cannot be modified after creation.",
          "type": "string"
        },
        "dataplexTransferStatus": {
          "description": "Output only. Denotes the transfer status of the Tag Template.",
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Default value. TagTemplate and its tags are only visible and editable in Data Catalog.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Data Catalog, read-only in Dataplex Universal Catalog. Deprecated: Individual TagTemplate migration is deprecated in favor of organization or project wide TagTemplate migration opt-in.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Dataplex Universal Catalog, read-only in Data Catalog."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "DATAPLEX_TRANSFER_STATUS_UNSPECIFIED",
            "MIGRATED",
            "TRANSFERRED"
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the tag in URL format where tag ID is a system-generated identifier. Note: The tag itself might not be stored in the location specified in its name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1Tag",
      "description": "Tags contain custom metadata and are attached to Data Catalog resources. Tags conform with the specification of their tag template. See [Data Catalog IAM](https://cloud.google.com/data-catalog/docs/concepts/iam) for information on the permissions needed to create or view tags.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema": {
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema",
      "properties": {},
      "description": "Marks an ORC-encoded data source.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTable": {
      "type": "object",
      "description": "Element table definition.",
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTable",
      "properties": {
        "dynamicPropertiesColumn": {
          "description": "Optional. If set, this is the input column for dynamic properties in schemaless data model.",
          "type": "string"
        },
        "dynamicLabelColumn": {
          "description": "Optional. If set, this is the input column for dynamic label in schemaless data model.",
          "type": "string"
        },
        "elementKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The name of the keys of the elements in the table."
        },
        "labelAndProperties": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndProperties"
          },
          "description": "Required. The labels and their properties for the graph element.",
          "type": "array"
        },
        "alias": {
          "description": "Required. The alias name of the graph element.",
          "type": "string"
        },
        "destinationNodeReference": {
          "description": "Optional. The destination node reference of the edge.",
          "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference"
        },
        "dataSource": {
          "type": "string",
          "description": "Required. The name of the data source. This is either a table name or a view name that is used for graph element input source. E.g. `Person` table or `PersonView` view."
        },
        "kind": {
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "NODE",
            "EDGE"
          ],
          "enumDescriptions": [
            "Default unknown kind.",
            "Node kind.",
            "Edge kind."
          ],
          "description": "Required. The kind of the graph element."
        },
        "sourceNodeReference": {
          "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference",
          "description": "Optional. The source node reference of the edge."
        },
        "inputSource": {
          "description": "Required. The input source of the graph element.",
          "type": "string",
          "enum": [
            "INPUT_SOURCE_UNSPECIFIED",
            "TABLE",
            "VIEW"
          ],
          "enumDescriptions": [
            "Default unknown input source.",
            "Table input source.",
            "View input source."
          ]
        }
      }
    },
    "GoogleCloudDatacatalogV1GcsFileSpec": {
      "description": "Specification of a single file in Cloud Storage.",
      "type": "object",
      "properties": {
        "filePath": {
          "description": "Required. Full file path. Example: `gs://bucket_name/a/b.txt`.",
          "type": "string"
        },
        "gcsTimestamps": {
          "description": "Output only. Creation, modification, and expiration timestamps of a Cloud Storage file.",
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps"
        },
        "sizeBytes": {
          "format": "int64",
          "description": "Output only. File size in bytes.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDatacatalogV1GcsFileSpec"
    },
    "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldEnumValueRequest": {
      "properties": {
        "newEnumValueDisplayName": {
          "description": "Required. The new display name of the enum value. For example, `my_new_enum_value`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldEnumValueRequest",
      "description": "Request message for RenameTagTemplateFieldEnumValue."
    },
    "GoogleCloudDatacatalogV1beta1GcsFileSpec": {
      "id": "GoogleCloudDatacatalogV1beta1GcsFileSpec",
      "properties": {
        "sizeBytes": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The size of the file, in bytes.",
          "type": "string"
        },
        "gcsTimestamps": {
          "$ref": "GoogleCloudDatacatalogV1beta1SystemTimestamps",
          "description": "Output only. Timestamps about the Cloud Storage file.",
          "readOnly": true
        },
        "filePath": {
          "type": "string",
          "description": "Required. The full file path. Example: `gs://bucket_name/a/b.txt`."
        }
      },
      "description": "Specifications of a single file in Cloud Storage.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1LookerSystemSpec": {
      "type": "object",
      "description": "Specification that applies to entries that are part `LOOKER` system (user_specified_type)",
      "id": "GoogleCloudDatacatalogV1LookerSystemSpec",
      "properties": {
        "parentInstanceDisplayName": {
          "description": "Name of the parent Looker Instance. Empty if it does not exist.",
          "type": "string"
        },
        "parentViewDisplayName": {
          "type": "string",
          "description": "Name of the parent View. Empty if it does not exist."
        },
        "parentModelId": {
          "description": "ID of the parent Model. Empty if it does not exist.",
          "type": "string"
        },
        "parentInstanceId": {
          "description": "ID of the parent Looker Instance. Empty if it does not exist. Example value: `someinstance.looker.com`",
          "type": "string"
        },
        "parentModelDisplayName": {
          "description": "Name of the parent Model. Empty if it does not exist.",
          "type": "string"
        },
        "parentViewId": {
          "type": "string",
          "description": "ID of the parent View. Empty if it does not exist."
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1ListEntriesResponse": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1ListEntriesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. It is set to empty if no items remain in results.",
          "type": "string"
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1Entry"
          },
          "description": "Entry details."
        }
      },
      "description": "Response message for ListEntries."
    },
    "GoogleCloudDatacatalogV1UsageSignal": {
      "properties": {
        "favoriteCount": {
          "type": "string",
          "format": "int64",
          "description": "Favorite count in the source system."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end timestamp of the duration of usage statistics."
        },
        "commonUsageWithinTimeRange": {
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1CommonUsageStats"
          },
          "type": "object",
          "description": "Common usage statistics over each of the predefined time ranges. Supported time ranges are `{\"24H\", \"7D\", \"30D\", \"Lifetime\"}`."
        },
        "usageWithinTimeRange": {
          "readOnly": true,
          "description": "Output only. BigQuery usage statistics over each of the predefined time ranges. Supported time ranges are `{\"24H\", \"7D\", \"30D\"}`.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1UsageStats"
          }
        }
      },
      "id": "GoogleCloudDatacatalogV1UsageSignal",
      "description": "The set of all usage signals that Data Catalog stores. Note: Usually, these signals are updated daily. In rare cases, an update may fail but will be performed again on the next day.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec": {
      "id": "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec",
      "description": "Specification that applies to entries that are part `SQL_DATABASE` system (user_specified_type)",
      "properties": {
        "databaseVersion": {
          "description": "Version of the database engine.",
          "type": "string"
        },
        "instanceHost": {
          "description": "Host of the SQL database enum InstanceHost { UNDEFINED = 0; SELF_HOSTED = 1; CLOUD_SQL = 2; AMAZON_RDS = 3; AZURE_SQL = 4; } Host of the enclousing database instance.",
          "type": "string"
        },
        "sqlEngine": {
          "type": "string",
          "description": "SQL Database Engine. enum SqlEngine { UNDEFINED = 0; MY_SQL = 1; POSTGRE_SQL = 2; SQL_SERVER = 3; } Engine of the enclosing database instance."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1TagFieldEnumValue": {
      "id": "GoogleCloudDatacatalogV1TagFieldEnumValue",
      "description": "An enum value.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the enum value."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1TagTemplateField": {
      "properties": {
        "displayName": {
          "description": "The display name for this field. Defaults to an empty string.",
          "type": "string"
        },
        "order": {
          "format": "int32",
          "type": "integer",
          "description": "The order of this field with respect to other fields in this tag template. A higher value indicates a more important field. The value can be negative. Multiple fields can have the same order, and field orders within a tag do not have to be sequential."
        },
        "description": {
          "description": "The description for this field. Defaults to an empty string.",
          "type": "string"
        },
        "isRequired": {
          "description": "Whether this is a required field. Defaults to false.",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of the tag template field in URL format. Example: * projects/{project_id}/locations/{location}/tagTemplates/{tag_template}/fields/{field} Note that this TagTemplateField may not actually be stored in the location in this name.",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of value this tag field can contain.",
          "$ref": "GoogleCloudDatacatalogV1beta1FieldType"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1TagTemplateField",
      "description": "The template for an individual field within a tag template.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema": {
      "properties": {
        "text": {
          "type": "string",
          "description": "JSON source of the Avro schema."
        }
      },
      "description": "Schema in Avro JSON format.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema"
    },
    "GoogleCloudDatacatalogV1ImportEntriesResponse": {
      "description": "Response message for long-running operation returned by the ImportEntries.",
      "properties": {
        "deletedEntriesCount": {
          "type": "string",
          "description": "Number of entries deleted as a result of import operation.",
          "format": "int64"
        },
        "upsertedEntriesCount": {
          "description": "Cumulative number of entries created and entries updated as a result of import operation.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ImportEntriesResponse"
    },
    "GoogleCloudDatacatalogV1FeatureOnlineStoreSpec": {
      "description": "Detail description of the source information of a Vertex Feature Online Store.",
      "id": "GoogleCloudDatacatalogV1FeatureOnlineStoreSpec",
      "properties": {
        "storageType": {
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "BIGTABLE",
            "OPTIMIZED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of underlying storage for the FeatureOnlineStore.",
          "enumDescriptions": [
            "Should not be used.",
            "Underlsying storgae is Bigtable.",
            "Underlying is optimized online server (Lightning)."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec": {
      "properties": {
        "viewType": {
          "description": "Type of this view.",
          "type": "string",
          "enumDescriptions": [
            "Default unknown view type.",
            "Standard view.",
            "Materialized view."
          ],
          "enum": [
            "VIEW_TYPE_UNSPECIFIED",
            "STANDARD_VIEW",
            "MATERIALIZED_VIEW"
          ]
        },
        "sqlQuery": {
          "type": "string",
          "description": "SQL query used to generate this view."
        },
        "baseTable": {
          "description": "Name of a singular table this view reflects one to one.",
          "type": "string"
        }
      },
      "description": "Specification that applies to database view.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec"
    },
    "GoogleCloudDatacatalogV1ModelSpec": {
      "id": "GoogleCloudDatacatalogV1ModelSpec",
      "properties": {
        "vertexModelSpec": {
          "description": "Specification for vertex model resources.",
          "$ref": "GoogleCloudDatacatalogV1VertexModelSpec"
        }
      },
      "type": "object",
      "description": "Specification that applies to a model. Valid only for entries with the `MODEL` type."
    },
    "GoogleCloudDatacatalogV1beta1ViewSpec": {
      "properties": {
        "viewQuery": {
          "description": "Output only. The query that defines the table view.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Table view specification.",
      "id": "GoogleCloudDatacatalogV1beta1ViewSpec",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema": {
      "type": "object",
      "description": "Marks a Parquet-encoded data source.",
      "properties": {},
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema"
    },
    "GoogleCloudDatacatalogV1beta1SearchCatalogResponse": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1SearchCatalogResponse",
      "description": "Response message for SearchCatalog.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unreachable locations. Search result does not include data from those locations. Users can get additional information on the error by repeating the search request with a more restrictive parameter -- setting the value for `SearchDataCatalogRequest.scope.restricted_locations`."
        },
        "nextPageToken": {
          "description": "The token that can be used to retrieve the next page of results.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SearchCatalogResult"
          },
          "description": "Search results.",
          "type": "array"
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The approximate total number of entries matched by the query."
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest"
    },
    "GoogleCloudDatacatalogV1beta1Taxonomy": {
      "description": "A taxonomy is a collection of policy tags that classify data along a common axis. For instance a data *sensitivity* taxonomy could contain policy tags denoting PII such as age, zipcode, and SSN. A data *origin* taxonomy could contain policy tags to distinguish user data, employee data, partner data, public data.",
      "id": "GoogleCloudDatacatalogV1beta1Taxonomy",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of this taxonomy. It must: contain only unicode characters, tabs, newlines, carriage returns and page breaks; and be at most 2000 bytes long when encoded in UTF-8. If not set, defaults to an empty description."
        },
        "activatedPolicyTypes": {
          "items": {
            "enumDescriptions": [
              "Unspecified policy type.",
              "Fine grained access control policy, which enables access control on tagged resources."
            ],
            "enum": [
              "POLICY_TYPE_UNSPECIFIED",
              "FINE_GRAINED_ACCESS_CONTROL"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of policy types that are activated for this taxonomy. If not set, defaults to an empty list."
        },
        "displayName": {
          "type": "string",
          "description": "Required. User defined name of this taxonomy. It must: contain only unicode letters, numbers, underscores, dashes and spaces; not start or end with spaces; and be at most 200 bytes long when encoded in UTF-8. The taxonomy display name must be unique within an organization."
        },
        "taxonomyTimestamps": {
          "$ref": "GoogleCloudDatacatalogV1beta1SystemTimestamps",
          "description": "Output only. Timestamps about this taxonomy. Only create_time and update_time are used.",
          "readOnly": true
        },
        "service": {
          "description": "Output only. Identity of the service which owns the Taxonomy. This field is only populated when the taxonomy is created by a Google Cloud service. Currently only 'DATAPLEX' is supported.",
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1beta1TaxonomyService"
        },
        "policyTagCount": {
          "description": "Output only. Number of policy tags contained in this taxonomy.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this taxonomy, whose format is: \"projects/{project_number}/locations/{location_id}/taxonomies/{id}\"."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DataSourceConnectionSpec": {
      "properties": {
        "bigqueryConnectionSpec": {
          "$ref": "GoogleCloudDatacatalogV1BigQueryConnectionSpec",
          "description": "Output only. Fields specific to BigQuery connections."
        }
      },
      "description": "Specification that applies to a data source connection. Valid only for entries with the `DATA_SOURCE_CONNECTION` type. Only one of internal specs can be set at the time, and cannot be changed later.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1DataSourceConnectionSpec"
    },
    "GoogleCloudDatacatalogV1PhysicalSchema": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1PhysicalSchema",
      "description": "Native schema used by a resource represented as an entry. Used by query engines for deserializing and parsing source data.",
      "properties": {
        "protobuf": {
          "description": "Schema in protocol buffer format.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema"
        },
        "parquet": {
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema",
          "description": "Marks a Parquet-encoded data source."
        },
        "csv": {
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema",
          "description": "Marks a CSV-encoded data source."
        },
        "orc": {
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema",
          "description": "Marks an ORC-encoded data source."
        },
        "avro": {
          "description": "Schema in Avro JSON format.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema"
        },
        "thrift": {
          "description": "Schema in Thrift format.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldRequest": {
      "id": "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldRequest",
      "type": "object",
      "properties": {
        "newTagTemplateFieldId": {
          "description": "Required. The new ID of this tag template field. For example, `my_new_field`.",
          "type": "string"
        }
      },
      "description": "Request message for RenameTagTemplateField."
    },
    "GoogleCloudDatacatalogV1VertexDatasetSpec": {
      "properties": {
        "dataItemCount": {
          "format": "int64",
          "description": "The number of DataItems in this Dataset. Only apply for non-structured Dataset.",
          "type": "string"
        },
        "dataType": {
          "enumDescriptions": [
            "Should not be used.",
            "Structured data dataset.",
            "Image dataset which supports ImageClassification, ImageObjectDetection and ImageSegmentation problems.",
            "Document dataset which supports TextClassification, TextExtraction and TextSentiment problems.",
            "Video dataset which supports VideoClassification, VideoObjectTracking and VideoActionRecognition problems.",
            "Conversation dataset which supports conversation problems.",
            "TimeSeries dataset.",
            "Document dataset which supports DocumentAnnotation problems.",
            "TextToSpeech dataset which supports TextToSpeech problems.",
            "Translation dataset which supports Translation problems.",
            "Store Vision dataset which is used for HITL integration.",
            "Enterprise Knowledge Graph dataset which is used for HITL labeling integration.",
            "Text prompt dataset which supports Large Language Models."
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "TABLE",
            "IMAGE",
            "TEXT",
            "VIDEO",
            "CONVERSATION",
            "TIME_SERIES",
            "DOCUMENT",
            "TEXT_TO_SPEECH",
            "TRANSLATION",
            "STORE_VISION",
            "ENTERPRISE_KNOWLEDGE_GRAPH",
            "TEXT_PROMPT"
          ],
          "description": "Type of the dataset.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1VertexDatasetSpec",
      "description": "Specification for vertex dataset resources."
    },
    "GoogleCloudDatacatalogV1FilesetSpec": {
      "description": "Specification that applies to a fileset. Valid only for entries with the 'FILESET' type.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1FilesetSpec",
      "properties": {
        "dataplexFileset": {
          "$ref": "GoogleCloudDatacatalogV1DataplexFilesetSpec",
          "description": "Fields specific to a Dataplex Universal Catalog fileset and present only in the Dataplex Universal Catalog fileset entries."
        }
      }
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty": {
      "description": "A property declaration.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. Property data type."
        },
        "name": {
          "type": "string",
          "description": "Required. Property name."
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1SearchCatalogResult": {
      "properties": {
        "searchResultType": {
          "type": "string",
          "enum": [
            "SEARCH_RESULT_TYPE_UNSPECIFIED",
            "ENTRY",
            "TAG_TEMPLATE",
            "ENTRY_GROUP"
          ],
          "description": "Type of the search result. This field can be used to determine which Get method to call to fetch the full resource.",
          "enumDescriptions": [
            "Default unknown type.",
            "An Entry.",
            "A TagTemplate.",
            "An EntryGroup."
          ]
        },
        "relativeResourceName": {
          "type": "string",
          "description": "The relative resource name of the resource in URL format. Examples: * `projects/{project_id}/locations/{location_id}/entryGroups/{entry_group_id}/entries/{entry_id}` * `projects/{project_id}/tagTemplates/{tag_template_id}`"
        },
        "searchResultSubtype": {
          "type": "string",
          "description": "Sub-type of the search result. This is a dot-delimited description of the resource's full type, and is the same as the value callers would provide in the \"type\" search facet. Examples: `entry.table`, `entry.dataStream`, `tagTemplate`."
        },
        "modifyTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last-modified timestamp of the entry from the managing system."
        },
        "linkedResource": {
          "description": "The full name of the cloud resource the entry belongs to. See: https://cloud.google.com/apis/design/resource_names#full_resource_name. Example: * `//bigquery.googleapis.com/projects/projectId/datasets/datasetId/tables/tableId`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1SearchCatalogResult",
      "description": "A result that appears in the response of a search request. Each result captures details of one entry that matches the search."
    },
    "GoogleCloudDatacatalogV1TableSpec": {
      "properties": {
        "groupedEntry": {
          "description": "Output only. If the table is date-sharded, that is, it matches the `[prefix]YYYYMMDD` name pattern, this field is the Data Catalog resource name of the date-sharded grouped entry. For example: `projects/{PROJECT_ID}/locations/{LOCATION}/entrygroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`. Otherwise, `grouped_entry` is empty.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1TableSpec",
      "description": "Normal BigQuery table specification."
    },
    "GoogleCloudDatacatalogV1VertexModelSpec": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1VertexModelSpec",
      "description": "Specification for vertex model resources.",
      "properties": {
        "versionDescription": {
          "description": "The description of this version.",
          "type": "string"
        },
        "containerImageUri": {
          "description": "URI of the Docker image to be used as the custom container for serving predictions.",
          "type": "string"
        },
        "versionId": {
          "type": "string",
          "description": "The version ID of the model."
        },
        "vertexModelSourceInfo": {
          "$ref": "GoogleCloudDatacatalogV1VertexModelSourceInfo",
          "description": "Source of a Vertex model."
        },
        "versionAliases": {
          "description": "User provided version aliases so that a model version can be referenced via alias",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogV1Contacts": {
      "properties": {
        "people": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1ContactsPerson"
          },
          "description": "The list of contact people for the entry."
        }
      },
      "description": "Contact people for the entry.",
      "id": "GoogleCloudDatacatalogV1Contacts",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1TagField": {
      "properties": {
        "timestampValue": {
          "description": "Holds the value for a tag field with timestamp type.",
          "type": "string",
          "format": "google-datetime"
        },
        "stringValue": {
          "description": "Holds the value for a tag field with string type.",
          "type": "string"
        },
        "enumValue": {
          "description": "Holds the value for a tag field with enum type. This value must be one of the allowed values in the definition of this enum.",
          "$ref": "GoogleCloudDatacatalogV1beta1TagFieldEnumValue"
        },
        "order": {
          "description": "Output only. The order of this field with respect to other fields in this tag. It can be set in Tag. For example, a higher value can indicate a more important field. The value can be negative. Multiple fields can have the same order, and field orders within a tag do not have to be sequential.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "doubleValue": {
          "description": "Holds the value for a tag field with double type.",
          "format": "double",
          "type": "number"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Holds the value for a tag field with boolean type."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of this field.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1TagField",
      "type": "object",
      "description": "Contains the value and supporting information for a field within a Tag."
    },
    "GoogleCloudDatacatalogV1ReconcileTagsResponse": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ReconcileTagsResponse",
      "properties": {
        "updatedTagsCount": {
          "description": "Number of tags updated in the request.",
          "format": "int64",
          "type": "string"
        },
        "createdTagsCount": {
          "description": "Number of tags created in the request.",
          "format": "int64",
          "type": "string"
        },
        "deletedTagsCount": {
          "description": "Number of tags deleted in the request.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Long-running operation response message returned by ReconcileTags."
    },
    "GoogleCloudDatacatalogV1beta1BigQueryTableSpec": {
      "type": "object",
      "properties": {
        "viewSpec": {
          "$ref": "GoogleCloudDatacatalogV1beta1ViewSpec",
          "description": "Table view specification. This field should only be populated if `table_source_type` is `BIGQUERY_VIEW`."
        },
        "tableSpec": {
          "description": "Spec of a BigQuery table. This field should only be populated if `table_source_type` is `BIGQUERY_TABLE`.",
          "$ref": "GoogleCloudDatacatalogV1beta1TableSpec"
        },
        "tableSourceType": {
          "readOnly": true,
          "enum": [
            "TABLE_SOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_VIEW",
            "BIGQUERY_TABLE",
            "BIGQUERY_MATERIALIZED_VIEW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unknown type.",
            "Table view.",
            "BigQuery native table.",
            "BigQuery materialized view."
          ],
          "description": "Output only. The table source type."
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1BigQueryTableSpec",
      "description": "Describes a BigQuery table."
    },
    "GoogleCloudDatacatalogV1beta1FieldTypeEnumType": {
      "type": "object",
      "properties": {
        "allowedValues": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1FieldTypeEnumTypeEnumValue"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1FieldTypeEnumType"
    },
    "GoogleCloudDatacatalogV1beta1ImportTaxonomiesResponse": {
      "id": "GoogleCloudDatacatalogV1beta1ImportTaxonomiesResponse",
      "properties": {
        "taxonomies": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1Taxonomy"
          },
          "description": "Taxonomies that were imported.",
          "type": "array"
        }
      },
      "description": "Response message for ImportTaxonomies.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DataplexSpec": {
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Project ID of the underlying Cloud Storage or BigQuery data. Note that this may not be the same project as the corresponding Dataplex Universal Catalog lake / zone / asset."
        },
        "compressionFormat": {
          "description": "Compression format of the data, e.g., zip, gzip etc.",
          "type": "string"
        },
        "dataFormat": {
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchema",
          "description": "Format of the data."
        },
        "asset": {
          "type": "string",
          "description": "Fully qualified resource name of an asset in Dataplex Universal Catalog, to which the underlying data source (Cloud Storage bucket or BigQuery dataset) of the entity is attached."
        }
      },
      "description": "Common Dataplex Universal Catalog fields.",
      "id": "GoogleCloudDatacatalogV1DataplexSpec"
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndProperties": {
      "type": "object",
      "properties": {
        "properties": {
          "description": "Optional. The properties associated with the label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty"
          }
        },
        "label": {
          "description": "Required. The name of the label.",
          "type": "string"
        }
      },
      "description": "The label and its properties. Each label is associated with a set of properties.",
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndProperties"
    },
    "GoogleCloudDatacatalogV1VertexModelSourceInfo": {
      "id": "GoogleCloudDatacatalogV1VertexModelSourceInfo",
      "type": "object",
      "properties": {
        "sourceType": {
          "description": "Type of the model source.",
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "The Model is uploaded by automl training pipeline.",
            "The Model is uploaded by user or custom training pipeline.",
            "The Model is registered and sync'ed from BigQuery ML.",
            "The Model is saved or tuned from Model Garden.",
            "The Model is saved or tuned from Genie.",
            "The Model is uploaded by text embedding finetuning pipeline.",
            "The Model is saved or tuned from Marketplace."
          ],
          "enum": [
            "MODEL_SOURCE_TYPE_UNSPECIFIED",
            "AUTOML",
            "CUSTOM",
            "BQML",
            "MODEL_GARDEN",
            "GENIE",
            "CUSTOM_TEXT_EMBEDDING",
            "MARKETPLACE"
          ]
        },
        "copy": {
          "type": "boolean",
          "description": "If this Model is copy of another Model. If true then source_type pertains to the original."
        }
      },
      "description": "Detail description of the source information of a Vertex model."
    },
    "GoogleCloudDatacatalogV1RoutineSpecArgument": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the argument. A return argument of a function might not have a name."
        },
        "mode": {
          "description": "Specifies whether the argument is input or output.",
          "enumDescriptions": [
            "Unspecified mode.",
            "The argument is input-only.",
            "The argument is output-only.",
            "The argument is both an input and an output."
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "IN",
            "OUT",
            "INOUT"
          ]
        },
        "type": {
          "type": "string",
          "description": "Type of the argument. The exact value depends on the source system and the language."
        }
      },
      "description": "Input or output argument of a function or stored procedure.",
      "id": "GoogleCloudDatacatalogV1RoutineSpecArgument"
    },
    "GoogleCloudDatacatalogV1beta1ColumnSchema": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the column. Default value is an empty string."
        },
        "subcolumns": {
          "type": "array",
          "description": "Optional. Schema of sub-columns. A column can have zero or more sub-columns.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1ColumnSchema"
          }
        },
        "type": {
          "description": "Required. Type of the column.",
          "type": "string"
        },
        "column": {
          "description": "Required. Name of the column.",
          "type": "string"
        },
        "mode": {
          "type": "string",
          "description": "Optional. A column's mode indicates whether the values in this column are required, nullable, etc. Only `NULLABLE`, `REQUIRED` and `REPEATED` are supported. Default mode is `NULLABLE`."
        }
      },
      "description": "Representation of a column within a schema. Columns could be nested inside other columns.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1ColumnSchema"
    },
    "GoogleCloudDatacatalogV1RoutineSpec": {
      "description": "Specification that applies to a routine. Valid only for entries with the `ROUTINE` type.",
      "id": "GoogleCloudDatacatalogV1RoutineSpec",
      "type": "object",
      "properties": {
        "definitionBody": {
          "type": "string",
          "description": "The body of the routine."
        },
        "routineArguments": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1RoutineSpecArgument"
          },
          "type": "array",
          "description": "Arguments of the routine."
        },
        "language": {
          "description": "The language the routine is written in. The exact value depends on the source system. For BigQuery routines, possible values are: * `SQL` * `JAVASCRIPT`",
          "type": "string"
        },
        "bigqueryRoutineSpec": {
          "$ref": "GoogleCloudDatacatalogV1BigQueryRoutineSpec",
          "description": "Fields specific for BigQuery routines."
        },
        "returnType": {
          "description": "Return type of the argument. The exact value depends on the source system and the language.",
          "type": "string"
        },
        "routineType": {
          "description": "The type of the routine.",
          "enum": [
            "ROUTINE_TYPE_UNSPECIFIED",
            "SCALAR_FUNCTION",
            "PROCEDURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Non-builtin permanent scalar function.",
            "Stored procedure."
          ]
        }
      }
    },
    "GoogleCloudDatacatalogV1EntryOverview": {
      "id": "GoogleCloudDatacatalogV1EntryOverview",
      "properties": {
        "overview": {
          "description": "Entry overview with support for rich text. The overview must only contain Unicode characters, and should be formatted using HTML. The maximum length is 10 MiB as this value holds HTML descriptions including encoded images. The maximum length of the text without images is 100 KiB.",
          "type": "string"
        }
      },
      "description": "Entry overview fields for rich text descriptions of entries.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1SearchCatalogRequestScope": {
      "description": "The criteria that select the subspace used for query matching.",
      "id": "GoogleCloudDatacatalogV1beta1SearchCatalogRequestScope",
      "type": "object",
      "properties": {
        "includeGcpPublicDatasets": {
          "type": "boolean",
          "description": "If `true`, include Google Cloud public datasets in the search results. Info on Google Cloud public datasets is available at https://cloud.google.com/public-datasets/. By default, Google Cloud public datasets are excluded."
        },
        "restrictedLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of locations to search within. 1. If empty, search will be performed in all locations; 2. If any of the locations are NOT in the valid locations list, error will be returned; 3. Otherwise, search only the given locations for matching results. Typical usage is to leave this field empty. When a location is unreachable as returned in the `SearchCatalogResponse.unreachable` field, users can repeat the search request with this parameter set to get additional information on the error. Valid locations: * asia-east1 * asia-east2 * asia-northeast1 * asia-northeast2 * asia-northeast3 * asia-south1 * asia-southeast1 * australia-southeast1 * eu * europe-north1 * europe-west1 * europe-west2 * europe-west3 * europe-west4 * europe-west6 * global * northamerica-northeast1 * southamerica-east1 * us * us-central1 * us-east1 * us-east4 * us-west1 * us-west2"
        },
        "includeProjectIds": {
          "description": "The list of project IDs to search within. To learn more about the distinction between project names/IDs/numbers, go to https://cloud.google.com/docs/overview/#projects.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "includeOrgIds": {
          "description": "The list of organization IDs to search within. To find your organization ID, follow instructions in https://cloud.google.com/resource-manager/docs/creating-managing-organization.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema": {
      "properties": {
        "text": {
          "type": "string",
          "description": "Protocol buffer source of the schema."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema",
      "description": "Schema in protocol buffer format."
    },
    "GoogleCloudDatacatalogV1BigQueryTableSpec": {
      "description": "Describes a BigQuery table.",
      "id": "GoogleCloudDatacatalogV1BigQueryTableSpec",
      "type": "object",
      "properties": {
        "tableSpec": {
          "$ref": "GoogleCloudDatacatalogV1TableSpec",
          "description": "Specification of a BigQuery table. Populated only if the `table_source_type` is `BIGQUERY_TABLE`."
        },
        "viewSpec": {
          "$ref": "GoogleCloudDatacatalogV1ViewSpec",
          "description": "Table view specification. Populated only if the `table_source_type` is `BIGQUERY_VIEW`."
        },
        "tableSourceType": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "TABLE_SOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_VIEW",
            "BIGQUERY_TABLE",
            "BIGQUERY_MATERIALIZED_VIEW"
          ],
          "enumDescriptions": [
            "Default unknown type.",
            "Table view.",
            "BigQuery native table.",
            "BigQuery materialized view."
          ],
          "description": "Output only. The table source type."
        }
      }
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsResponse"
    },
    "GoogleCloudDatacatalogV1beta1TagTemplate": {
      "description": "A tag template defines a tag, which can have one or more typed fields. The template is used to create and attach the tag to Google Cloud resources. [Tag template roles](https://cloud.google.com/iam/docs/roles-permissions/datacatalog) provide permissions to create, edit, and use the template. See, for example, the [TagTemplate User](https://cloud.google.com/data-catalog/docs/how-to/template-user) role, which includes permission to use the tag template to tag resources.",
      "id": "GoogleCloudDatacatalogV1beta1TagTemplate",
      "type": "object",
      "properties": {
        "dataplexTransferStatus": {
          "enumDeprecated": [
            false,
            true
          ],
          "type": "string",
          "enum": [
            "DATAPLEX_TRANSFER_STATUS_UNSPECIFIED",
            "MIGRATED"
          ],
          "enumDescriptions": [
            "Default value. TagTemplate and its tags are only visible and editable in DataCatalog.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Data Catalog, read-only in Dataplex Universal Catalog. Deprecated: Individual TagTemplate migration is deprecated in favor of organization or project wide TagTemplate migration opt-in."
          ],
          "description": "Output only. Transfer status of the TagTemplate",
          "readOnly": true
        },
        "displayName": {
          "description": "The display name for this template. Defaults to an empty string.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the tag template in URL format. Example: * projects/{project_id}/locations/{location}/tagTemplates/{tag_template_id} Note that this TagTemplate and its child resources may not actually be stored in the location in this name."
        },
        "fields": {
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1beta1TagTemplateField"
          },
          "description": "Required. Map of tag template field IDs to the settings for the field. This map is an exhaustive list of the allowed fields. This map must contain at least one field and at most 500 fields. The keys to this map are tag template field IDs. Field IDs can contain letters (both uppercase and lowercase), numbers (0-9) and underscores (_). Field IDs must be at least 1 character long and at most 64 characters long. Field IDs must start with a letter or underscore.",
          "type": "object"
        }
      }
    },
    "GoogleCloudDatacatalogV1BigQueryRoutineSpec": {
      "id": "GoogleCloudDatacatalogV1BigQueryRoutineSpec",
      "properties": {
        "importedLibraries": {
          "type": "array",
          "description": "Paths of the imported libraries.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Fields specific for BigQuery routines."
    },
    "GoogleCloudDatacatalogV1DatasetSpec": {
      "properties": {
        "vertexDatasetSpec": {
          "$ref": "GoogleCloudDatacatalogV1VertexDatasetSpec",
          "description": "Vertex AI Dataset specific fields"
        }
      },
      "id": "GoogleCloudDatacatalogV1DatasetSpec",
      "description": "Specification that applies to a dataset. Valid only for entries with the `DATASET` type.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DumpItem": {
      "type": "object",
      "properties": {
        "taggedEntry": {
          "description": "Entry and its tags.",
          "$ref": "GoogleCloudDatacatalogV1TaggedEntry"
        }
      },
      "description": "Wrapper for any item that can be contained in the dump.",
      "id": "GoogleCloudDatacatalogV1DumpItem"
    },
    "GoogleCloudDatacatalogV1beta1SystemTimestamps": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "The creation time of the resource within the given system.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last-modified time of the resource within the given system."
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The expiration time of the resource within the given system. Currently only apllicable to BigQuery resources."
        }
      },
      "type": "object",
      "description": "Timestamps about this resource according to a particular system.",
      "id": "GoogleCloudDatacatalogV1beta1SystemTimestamps"
    },
    "GetPolicyOptions": {
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "GoogleCloudDatacatalogV1beta1PolicyTag": {
      "type": "object",
      "description": "Denotes one policy tag in a taxonomy (e.g. ssn). Policy Tags can be defined in a hierarchy. For example, consider the following hierarchy: Geolocation -> (LatLong, City, ZipCode). PolicyTag \"Geolocation\" contains three child policy tags: \"LatLong\", \"City\", and \"ZipCode\".",
      "properties": {
        "description": {
          "description": "Description of this policy tag. It must: contain only unicode characters, tabs, newlines, carriage returns and page breaks; and be at most 2000 bytes long when encoded in UTF-8. If not set, defaults to an empty description. If not set, defaults to an empty description.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. User defined name of this policy tag. It must: be unique within the parent taxonomy; contain only unicode letters, numbers, underscores, dashes and spaces; not start or end with spaces; and be at most 200 bytes long when encoded in UTF-8.",
          "type": "string"
        },
        "parentPolicyTag": {
          "type": "string",
          "description": "Resource name of this policy tag's parent policy tag (e.g. for the \"LatLong\" policy tag in the example above, this field contains the resource name of the \"Geolocation\" policy tag). If empty, it means this policy tag is a top level policy tag (e.g. this field is empty for the \"Geolocation\" policy tag in the example above). If not set, defaults to an empty string."
        },
        "name": {
          "description": "Identifier. Resource name of this policy tag, whose format is: \"projects/{project_number}/locations/{location_id}/taxonomies/{taxonomy_id}/policyTags/{id}\".",
          "type": "string"
        },
        "childPolicyTags": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Resource names of child policy tags of this policy tag.",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1PolicyTag"
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference": {
      "description": "A reference to a source or destination node in a graph edge.",
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference",
      "type": "object",
      "properties": {
        "edgeTableColumns": {
          "items": {
            "type": "string"
          },
          "description": "Required. The referencing columns in the edge table. The size of `edge_table_columns` must be equal to the size of `node_table_columns`.",
          "type": "array"
        },
        "nodeAlias": {
          "type": "string",
          "description": "Required. The reference to the source/destination node of the edge. This name must be a valid `alias` of a node element in the same graph. Example, `Person` node can be a source node name of an edge element `Person_to_Address`."
        },
        "nodeTableColumns": {
          "description": "Required. The referenced columns of the source node table.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Expr": {
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "GoogleCloudDatacatalogV1BigQueryDateShardedSpec": {
      "id": "GoogleCloudDatacatalogV1BigQueryDateShardedSpec",
      "description": "Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding).",
      "type": "object",
      "properties": {
        "dataset": {
          "description": "Output only. The Data Catalog resource name of the dataset entry the current table belongs to. For example: `projects/{PROJECT_ID}/locations/{LOCATION}/entrygroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`.",
          "type": "string",
          "readOnly": true
        },
        "shardCount": {
          "description": "Output only. Total number of shards.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "tablePrefix": {
          "description": "Output only. The table name prefix of the shards. The name of any given shard is `[table_prefix]YYYYMMDD`. For example, for the `MyTable20180101` shard, the `table_prefix` is `MyTable`.",
          "type": "string",
          "readOnly": true
        },
        "latestShardResource": {
          "type": "string",
          "description": "Output only. BigQuery resource name of the latest shard.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDatacatalogV1CloudBigtableInstanceSpecCloudBigtableClusterSpec": {
      "id": "GoogleCloudDatacatalogV1CloudBigtableInstanceSpecCloudBigtableClusterSpec",
      "description": "Spec that applies to clusters of an Instance of Cloud Bigtable.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Name of the cluster."
        },
        "linkedResource": {
          "type": "string",
          "description": "A link back to the parent resource, in this case Instance."
        },
        "location": {
          "type": "string",
          "description": "Location of the cluster, typically a Cloud zone."
        },
        "type": {
          "description": "Type of the resource. For a cluster this would be \"CLUSTER\".",
          "type": "string"
        }
      }
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "description": "Request message for `GetIamPolicy` method.",
      "id": "GetIamPolicyRequest",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyForeignKeyColumnMapping": {
      "properties": {
        "column": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The column in the current table that is part of the foreign key."
        },
        "referenceColumn": {
          "readOnly": true,
          "description": "Output only. The column in the referenced table that is part of the foreign key.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyForeignKeyColumnMapping",
      "description": "Column mapping for a Spanner foreign key."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "Binding": {
      "type": "object",
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1TaxonomyService": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1TaxonomyService",
      "properties": {
        "name": {
          "enumDescriptions": [
            "Default value",
            "Dataplex Universal Catalog.",
            "Other"
          ],
          "type": "string",
          "enum": [
            "MANAGING_SYSTEM_UNSPECIFIED",
            "MANAGING_SYSTEM_DATAPLEX",
            "MANAGING_SYSTEM_OTHER"
          ],
          "description": "The Google Cloud service name."
        },
        "identity": {
          "description": "The service agent for the service.",
          "type": "string"
        }
      },
      "description": "The source system of the Taxonomy."
    },
    "GoogleCloudDatacatalogV1SpannerTableSpecSpannerPrimaryKey": {
      "properties": {
        "columns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Column names of the primary key.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Specification of a Spanner primary key.",
      "id": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerPrimaryKey"
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "GoogleCloudDatacatalogV1TagField": {
      "id": "GoogleCloudDatacatalogV1TagField",
      "description": "Contains the value and additional information on a field within a Tag.",
      "type": "object",
      "properties": {
        "timestampValue": {
          "type": "string",
          "format": "google-datetime",
          "description": "The value of a tag field with a timestamp type."
        },
        "stringValue": {
          "description": "The value of a tag field with a string type. The maximum length is 2000 UTF-8 characters.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of this field."
        },
        "order": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The order of this field with respect to other fields in this tag. Can be set by Tag. For example, a higher value can indicate a more important field. The value can be negative. Multiple fields can have the same order, and field orders within a tag don't have to be sequential.",
          "type": "integer"
        },
        "enumValue": {
          "$ref": "GoogleCloudDatacatalogV1TagFieldEnumValue",
          "description": "The value of a tag field with an enum type. This value must be one of the allowed values listed in this enum."
        },
        "richtextValue": {
          "description": "The value of a tag field with a rich text type. The maximum length is 10 MiB as this value holds HTML descriptions including encoded images. The maximum length of the text without images is 100 KiB.",
          "type": "string"
        },
        "doubleValue": {
          "format": "double",
          "description": "The value of a tag field with a double type.",
          "type": "number"
        },
        "boolValue": {
          "description": "The value of a tag field with a boolean type.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1ListPolicyTagsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token used to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "policyTags": {
          "type": "array",
          "description": "The policy tags that are in the requested taxonomy.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1PolicyTag"
          }
        }
      },
      "type": "object",
      "description": "Response message for ListPolicyTags.",
      "id": "GoogleCloudDatacatalogV1beta1ListPolicyTagsResponse"
    },
    "GoogleCloudDatacatalogV1beta1ImportTaxonomiesRequest": {
      "type": "object",
      "properties": {
        "inlineSource": {
          "description": "Inline source used for taxonomies to be imported.",
          "$ref": "GoogleCloudDatacatalogV1beta1InlineSource"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1ImportTaxonomiesRequest",
      "description": "Request message for ImportTaxonomies."
    },
    "GoogleCloudDatacatalogV1GraphSpec": {
      "description": "Specification that applies to a graph.",
      "type": "object",
      "properties": {
        "nodeTables": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTable"
          },
          "description": "Required. Node tables of the graph.",
          "type": "array"
        },
        "edgeTables": {
          "type": "array",
          "description": "Optional. Edge tables of the graph.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTable"
          }
        },
        "name": {
          "description": "Output only. Fully qualified graph name. e.g. `named_catalog.MyGraph`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1GraphSpec"
    },
    "GoogleCloudDatacatalogV1beta1Entry": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The Data Catalog resource name of the entry in URL format. Example: * projects/{project_id}/locations/{location}/entryGroups/{entry_group_id}/entries/{entry_id} Note that this Entry and its child resources may not actually be stored in the location in this name."
        },
        "type": {
          "enum": [
            "ENTRY_TYPE_UNSPECIFIED",
            "TABLE",
            "MODEL",
            "DATA_STREAM",
            "FILESET"
          ],
          "type": "string",
          "description": "The type of the entry. Only used for Entries with types in the EntryType enum.",
          "enumDescriptions": [
            "Default unknown type.",
            "Output only. The type of entry that has a GoogleSQL schema, including logical views.",
            "Output only. The type of models. https://cloud.google.com/bigquery-ml/docs/bigqueryml-intro",
            "Output only. An entry type which is used for streaming entries. Example: Pub/Sub topic.",
            "An entry type which is a set of files or objects. Example: Cloud Storage fileset."
          ]
        },
        "bigqueryDateShardedSpec": {
          "description": "Specification for a group of BigQuery tables with name pattern `[prefix]YYYYMMDD`. Context: https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding.",
          "$ref": "GoogleCloudDatacatalogV1beta1BigQueryDateShardedSpec"
        },
        "displayName": {
          "description": "Display information such as title and description. A short name to identify the entry, for example, \"Analytics Data - Jan 2011\". Default value is an empty string.",
          "type": "string"
        },
        "schema": {
          "description": "Schema of the entry. An entry might not have any schema attached to it.",
          "$ref": "GoogleCloudDatacatalogV1beta1Schema"
        },
        "integratedSystem": {
          "readOnly": true,
          "description": "Output only. This field indicates the entry's source system that Data Catalog integrates with, such as BigQuery or Pub/Sub.",
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB"
          ],
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub."
          ],
          "type": "string"
        },
        "userSpecifiedSystem": {
          "description": "This field indicates the entry's source system that Data Catalog does not integrate with. `user_specified_system` strings must begin with a letter or underscore and can only contain letters, numbers, and underscores; are case insensitive; must be at least 1 character and at most 64 characters long.",
          "type": "string"
        },
        "bigqueryTableSpec": {
          "$ref": "GoogleCloudDatacatalogV1beta1BigQueryTableSpec",
          "description": "Specification that applies to a BigQuery table. This is only valid on entries of type `TABLE`."
        },
        "description": {
          "description": "Entry description, which can consist of several sentences or paragraphs that describe entry contents. Default value is an empty string.",
          "type": "string"
        },
        "userSpecifiedType": {
          "description": "Entry type if it does not fit any of the input-allowed values listed in `EntryType` enum above. When creating an entry, users should check the enum values first, if nothing matches the entry to be created, then provide a custom value, for example \"my_special_type\". `user_specified_type` strings must begin with a letter or underscore and can only contain letters, numbers, and underscores; are case insensitive; must be at least 1 character and at most 64 characters long. Currently, only FILESET enum value is allowed. All other entries created through Data Catalog must use `user_specified_type`.",
          "type": "string"
        },
        "usageSignal": {
          "$ref": "GoogleCloudDatacatalogV1beta1UsageSignal",
          "readOnly": true,
          "description": "Output only. Statistics on the usage level of the resource."
        },
        "linkedResource": {
          "description": "The resource this metadata entry refers to. For Google Cloud Platform resources, `linked_resource` is the [full name of the resource](https://cloud.google.com/apis/design/resource_names#full_resource_name). For example, the `linked_resource` for a table resource from BigQuery is: * //bigquery.googleapis.com/projects/projectId/datasets/datasetId/tables/tableId Output only when Entry is of type in the EntryType enum. For entries with user_specified_type, this field is optional and defaults to an empty string.",
          "type": "string"
        },
        "gcsFilesetSpec": {
          "description": "Specification that applies to a Cloud Storage fileset. This is only valid on entries of type FILESET.",
          "$ref": "GoogleCloudDatacatalogV1beta1GcsFilesetSpec"
[...]
