{
  "title": "Google Cloud Data Catalog API",
  "id": "datacatalog:v1beta1",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "description": "A fully managed and highly scalable data discovery and metadata management service. ",
  "revision": "20260826",
  "batchPath": "batch",
  "canonicalName": "Data Catalog",
  "schemas": {
    "GoogleCloudDatacatalogV1VertexModelSourceInfo": {
      "properties": {
        "copy": {
          "description": "If this Model is copy of another Model. If true then source_type pertains to the original.",
          "type": "boolean"
        },
        "sourceType": {
          "enumDescriptions": [
            "Should not be used.",
            "The Model is uploaded by automl training pipeline.",
            "The Model is uploaded by user or custom training pipeline.",
            "The Model is registered and sync'ed from BigQuery ML.",
            "The Model is saved or tuned from Model Garden.",
            "The Model is saved or tuned from Genie.",
            "The Model is uploaded by text embedding finetuning pipeline.",
            "The Model is saved or tuned from Marketplace."
          ],
          "description": "Type of the model source.",
          "type": "string",
          "enum": [
            "MODEL_SOURCE_TYPE_UNSPECIFIED",
            "AUTOML",
            "CUSTOM",
            "BQML",
            "MODEL_GARDEN",
            "GENIE",
            "CUSTOM_TEXT_EMBEDDING",
            "MARKETPLACE"
          ]
        }
      },
      "description": "Detail description of the source information of a Vertex model.",
      "id": "GoogleCloudDatacatalogV1VertexModelSourceInfo",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DataplexTableSpec": {
      "id": "GoogleCloudDatacatalogV1DataplexTableSpec",
      "type": "object",
      "properties": {
        "externalTables": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1DataplexExternalTable"
          },
          "description": "List of external tables registered by Dataplex Universal Catalog in other systems based on the same underlying data. External tables allow to query this data in those systems.",
          "type": "array"
        },
        "dataplexSpec": {
          "description": "Common Dataplex Universal Catalog fields.",
          "$ref": "GoogleCloudDatacatalogV1DataplexSpec"
        },
        "userManaged": {
          "type": "boolean",
          "description": "Indicates if the table schema is managed by the user or not."
        }
      },
      "description": "Entry specification for a Dataplex Universal Catalog table."
    },
    "GoogleCloudDatacatalogV1VertexDatasetSpec": {
      "properties": {
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "TABLE",
            "IMAGE",
            "TEXT",
            "VIDEO",
            "CONVERSATION",
            "TIME_SERIES",
            "DOCUMENT",
            "TEXT_TO_SPEECH",
            "TRANSLATION",
            "STORE_VISION",
            "ENTERPRISE_KNOWLEDGE_GRAPH",
            "TEXT_PROMPT"
          ],
          "description": "Type of the dataset.",
          "enumDescriptions": [
            "Should not be used.",
            "Structured data dataset.",
            "Image dataset which supports ImageClassification, ImageObjectDetection and ImageSegmentation problems.",
            "Document dataset which supports TextClassification, TextExtraction and TextSentiment problems.",
            "Video dataset which supports VideoClassification, VideoObjectTracking and VideoActionRecognition problems.",
            "Conversation dataset which supports conversation problems.",
            "TimeSeries dataset.",
            "Document dataset which supports DocumentAnnotation problems.",
            "TextToSpeech dataset which supports TextToSpeech problems.",
            "Translation dataset which supports Translation problems.",
            "Store Vision dataset which is used for HITL integration.",
            "Enterprise Knowledge Graph dataset which is used for HITL labeling integration.",
            "Text prompt dataset which supports Large Language Models."
          ]
        },
        "dataItemCount": {
          "format": "int64",
          "description": "The number of DataItems in this Dataset. Only apply for non-structured Dataset.",
          "type": "string"
        }
      },
      "description": "Specification for vertex dataset resources.",
      "id": "GoogleCloudDatacatalogV1VertexDatasetSpec",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1TagFieldEnumValue": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the enum value."
        }
      },
      "id": "GoogleCloudDatacatalogV1TagFieldEnumValue",
      "description": "An enum value.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1ColumnSchema": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. Type of the column."
        },
        "subcolumns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1ColumnSchema"
          },
          "description": "Optional. Schema of sub-columns. A column can have zero or more sub-columns."
        },
        "column": {
          "type": "string",
          "description": "Required. Name of the column."
        },
        "mode": {
          "description": "Optional. A column's mode indicates whether the values in this column are required, nullable, etc. Only `NULLABLE`, `REQUIRED` and `REPEATED` are supported. Default mode is `NULLABLE`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the column. Default value is an empty string.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1ColumnSchema",
      "description": "Representation of a column within a schema. Columns could be nested inside other columns."
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema": {
      "description": "Marks a Parquet-encoded data source.",
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDatacatalogV1TaggedEntry": {
      "description": "Wrapper containing Entry and information about Tags that should and should not be attached to it.",
      "properties": {
        "absentTags": {
          "type": "array",
          "description": "Optional. Tags that should be deleted from the Data Catalog. Caller should populate template name and column only.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          }
        },
        "v1Entry": {
          "$ref": "GoogleCloudDatacatalogV1Entry",
          "description": "Non-encrypted Data Catalog v1 Entry."
        },
        "presentTags": {
          "description": "Optional. Tags that should be ingested into the Data Catalog. Caller should populate template name, column and fields.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1TaggedEntry"
    },
    "GoogleCloudDatacatalogV1beta1ListEntryGroupsResponse": {
      "description": "Response message for ListEntryGroups.",
      "properties": {
        "entryGroups": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1EntryGroup"
          },
          "description": "EntryGroup details.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results. It is set to empty if no items remain in results."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1ListEntryGroupsResponse"
    },
    "GoogleCloudDatacatalogV1RoutineSpecArgument": {
      "properties": {
        "mode": {
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "IN",
            "OUT",
            "INOUT"
          ],
          "enumDescriptions": [
            "Unspecified mode.",
            "The argument is input-only.",
            "The argument is output-only.",
            "The argument is both an input and an output."
          ],
          "description": "Specifies whether the argument is input or output."
        },
        "name": {
          "description": "The name of the argument. A return argument of a function might not have a name.",
          "type": "string"
        },
        "type": {
          "description": "Type of the argument. The exact value depends on the source system and the language.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1RoutineSpecArgument",
      "type": "object",
      "description": "Input or output argument of a function or stored procedure."
    },
    "GoogleCloudDatacatalogV1BusinessContext": {
      "description": "Business Context of the entry.",
      "properties": {
        "contacts": {
          "$ref": "GoogleCloudDatacatalogV1Contacts",
          "description": "Contact people for the entry."
        },
        "entryOverview": {
          "description": "Entry overview fields for rich text descriptions of entries.",
          "$ref": "GoogleCloudDatacatalogV1EntryOverview"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1BusinessContext"
    },
    "GoogleCloudDatacatalogV1Entry": {
      "properties": {
        "sqlDatabaseSystemSpec": {
          "$ref": "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec",
          "description": "Specification that applies to a relational database system. Only settable when `user_specified_system` is equal to `SQL_DATABASE`"
        },
        "datasetSpec": {
          "description": "Specification that applies to a dataset.",
          "$ref": "GoogleCloudDatacatalogV1DatasetSpec"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of an entry. The maximum size is 500 bytes when encoded in UTF-8. Default value is an empty string."
        },
        "gcsFilesetSpec": {
          "description": "Specification that applies to a Cloud Storage fileset. Valid only for entries with the `FILESET` type.",
          "$ref": "GoogleCloudDatacatalogV1GcsFilesetSpec"
        },
        "userSpecifiedType": {
          "description": "Custom entry type that doesn't match any of the values allowed for input and listed in the `EntryType` enum. When creating an entry, first check the type values in the enum. If there are no appropriate types for the new entry, provide a custom value, for example, `my_special_type`. The `user_specified_type` string has the following limitations: * Is case insensitive. * Must begin with a letter or underscore. * Can only contain letters, numbers, and underscores. * Must be at least 1 character and at most 64 characters long.",
          "type": "string"
        },
        "sourceSystemTimestamps": {
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps",
          "description": "Timestamps from the underlying resource, not from the Data Catalog entry. Output only when the entry has a system listed in the `IntegratedSystem` enum. For entries with `user_specified_system`, this field is optional and defaults to an empty timestamp."
        },
        "usageSignal": {
          "description": "Resource usage statistics.",
          "$ref": "GoogleCloudDatacatalogV1UsageSignal"
        },
        "fullyQualifiedName": {
          "type": "string",
          "description": "[Fully Qualified Name (FQN)](https://cloud.google.com//data-catalog/docs/fully-qualified-names) of the resource. Set automatically for entries representing resources from synced systems. Settable only during creation, and read-only later. Can be used for search and lookup of the entries. "
        },
        "personalDetails": {
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1PersonalDetails",
          "description": "Output only. Additional information related to the entry. Private to the current user."
        },
        "dataSource": {
          "$ref": "GoogleCloudDatacatalogV1DataSource",
          "readOnly": true,
          "description": "Output only. Physical location of the entry."
        },
        "graphSpec": {
          "description": "Spec for graph.",
          "$ref": "GoogleCloudDatacatalogV1GraphSpec"
        },
        "labels": {
          "type": "object",
          "description": "Cloud labels attached to the entry. In Data Catalog, you can create and modify labels attached only to custom entries. Synced entries have unmodifiable labels that come from the source system.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "linkedResource": {
          "type": "string",
          "description": "The resource this metadata entry refers to. For Google Cloud Platform resources, `linked_resource` is the [Full Resource Name] (https://cloud.google.com/apis/design/resource_names#full_resource_name). For example, the `linked_resource` for a table resource from BigQuery is: `//bigquery.googleapis.com/projects/{PROJECT_ID}/datasets/{DATASET_ID}/tables/{TABLE_ID}` Output only when the entry is one of the types in the `EntryType` enum. For entries with a `user_specified_type`, this field is optional and defaults to an empty string. The resource string must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), periods (.), colons (:), slashes (/), dashes (-), and hashes (#). The maximum size is 200 bytes when encoded in UTF-8."
        },
        "modelSpec": {
          "$ref": "GoogleCloudDatacatalogV1ModelSpec",
          "description": "Model specification."
        },
        "dataSourceConnectionSpec": {
          "description": "Specification that applies to a data source connection. Valid only for entries with the `DATA_SOURCE_CONNECTION` type.",
          "$ref": "GoogleCloudDatacatalogV1DataSourceConnectionSpec"
        },
        "integratedSystem": {
          "description": "Output only. Indicates the entry's source system that Data Catalog integrates with, such as BigQuery, Pub/Sub, or Dataproc Metastore.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB",
            "DATAPROC_METASTORE",
            "DATAPLEX",
            "CLOUD_SPANNER",
            "CLOUD_BIGTABLE",
            "CLOUD_SQL",
            "LOOKER",
            "VERTEX_AI"
          ],
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub.",
            "Dataproc Metastore.",
            "Dataplex Universal Catalog.",
            "Cloud Spanner",
            "Cloud Bigtable",
            "Cloud Sql",
            "Looker",
            "Vertex AI"
          ]
        },
        "businessContext": {
          "description": "Business Context of the entry. Not supported for BigQuery datasets",
          "$ref": "GoogleCloudDatacatalogV1BusinessContext"
        },
        "databaseTableSpec": {
          "$ref": "GoogleCloudDatacatalogV1DatabaseTableSpec",
          "description": "Specification that applies to a table resource. Valid only for entries with the `TABLE` or `EXPLORE` type."
        },
        "routineSpec": {
          "$ref": "GoogleCloudDatacatalogV1RoutineSpec",
          "description": "Specification that applies to a user-defined function or procedure. Valid only for entries with the `ROUTINE` type."
        },
        "schema": {
          "$ref": "GoogleCloudDatacatalogV1Schema",
          "description": "Schema of the entry. An entry might not have any schema attached to it."
        },
        "bigqueryDateShardedSpec": {
          "readOnly": true,
          "description": "Output only. Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding).",
          "$ref": "GoogleCloudDatacatalogV1BigQueryDateShardedSpec"
        },
        "featureOnlineStoreSpec": {
          "description": "FeatureonlineStore spec for Vertex AI Feature Store.",
          "$ref": "GoogleCloudDatacatalogV1FeatureOnlineStoreSpec"
        },
        "bigqueryTableSpec": {
          "$ref": "GoogleCloudDatacatalogV1BigQueryTableSpec",
          "readOnly": true,
          "description": "Output only. Specification that applies to a BigQuery table. Valid only for entries with the `TABLE` type."
        },
        "serviceSpec": {
          "$ref": "GoogleCloudDatacatalogV1ServiceSpec",
          "description": "Specification that applies to a Service resource."
        },
        "description": {
          "description": "Entry description that can consist of several sentences or paragraphs that describe entry contents. The description must not contain Unicode non-characters as well as C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). The maximum size is 2000 bytes when encoded in UTF-8. Default value is an empty string.",
          "type": "string"
        },
        "lookerSystemSpec": {
          "$ref": "GoogleCloudDatacatalogV1LookerSystemSpec",
          "description": "Specification that applies to Looker sysstem. Only settable when `user_specified_system` is equal to `LOOKER`"
        },
        "userSpecifiedSystem": {
          "description": "Indicates the entry's source system that Data Catalog doesn't automatically integrate with. The `user_specified_system` string has the following limitations: * Is case insensitive. * Must begin with a letter or underscore. * Can only contain letters, numbers, and underscores. * Must be at least 1 character and at most 64 characters long.",
          "type": "string"
        },
        "filesetSpec": {
          "$ref": "GoogleCloudDatacatalogV1FilesetSpec",
          "description": "Specification that applies to a fileset resource. Valid only for entries with the `FILESET` type."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of an entry in URL format. Note: The entry itself and its child resources might not be stored in the location specified in its name."
        },
        "spannerTableSpec": {
          "description": "Specification of a Spanner table.",
          "$ref": "GoogleCloudDatacatalogV1SpannerTableSpec"
        },
        "cloudBigtableSystemSpec": {
          "description": "Specification that applies to Cloud Bigtable system. Only settable when `integrated_system` is equal to `CLOUD_BIGTABLE`",
          "$ref": "GoogleCloudDatacatalogV1CloudBigtableSystemSpec"
        },
        "type": {
          "enumDescriptions": [
            "Default unknown type.",
            "The entry type that has a GoogleSQL schema, including logical views.",
            "The type of models. For more information, see [Supported models in BigQuery ML](/bigquery/docs/bqml-introduction#supported_models).",
            "An entry type for streaming entries. For example, a Pub/Sub topic.",
            "An entry type for a set of files or objects. For example, a Cloud Storage fileset.",
            "A group of servers that work together. For example, a Kafka cluster.",
            "A database.",
            "Connection to a data source. For example, a BigQuery connection.",
            "Routine, for example, a BigQuery routine.",
            "A Dataplex Universal Catalog lake.",
            "A Dataplex Universal Catalog zone.",
            "A service, for example, a Dataproc Metastore service.",
            "Schema within a relational database.",
            "A Dashboard, for example from Looker.",
            "A Looker Explore. For more information, see [Looker Explore API] (https://developers.looker.com/api/explorer/4.0/methods/LookmlModel/lookml_model_explore).",
            "A Looker Look. For more information, see [Looker Look API] (https://developers.looker.com/api/explorer/4.0/methods/Look).",
            "Feature Online Store resource in Vertex AI Feature Store.",
            "Feature View resource in Vertex AI Feature Store.",
            "Feature Group resource in Vertex AI Feature Store.",
            "An entry type for a graph.",
            "An entry type for a graph node.",
            "An entry type for a graph edge."
          ],
          "type": "string",
          "enum": [
            "ENTRY_TYPE_UNSPECIFIED",
            "TABLE",
            "MODEL",
            "DATA_STREAM",
            "FILESET",
            "CLUSTER",
            "DATABASE",
            "DATA_SOURCE_CONNECTION",
            "ROUTINE",
            "LAKE",
            "ZONE",
            "SERVICE",
            "DATABASE_SCHEMA",
            "DASHBOARD",
            "EXPLORE",
            "LOOK",
            "FEATURE_ONLINE_STORE",
            "FEATURE_VIEW",
            "FEATURE_GROUP",
            "GRAPH",
            "NODE",
            "EDGE"
          ],
          "description": "The type of the entry. For details, see [`EntryType`](#entrytype)."
        }
      },
      "id": "GoogleCloudDatacatalogV1Entry",
      "description": "Entry metadata. A Data Catalog entry represents another resource in Google Cloud Platform (such as a BigQuery dataset or a Pub/Sub topic) or outside of it. You can use the `linked_resource` field in the entry resource to refer to the original resource ID of the source system. An entry resource contains resource details, for example, its schema. Additionally, you can attach flexible metadata to an entry in the form of a Tag.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty": {
      "description": "A property declaration.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Property name."
        },
        "type": {
          "description": "Required. Property data type.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1UsageStats": {
      "properties": {
        "totalExecutionTimeForCompletionsMillis": {
          "type": "number",
          "format": "float",
          "description": "Total time spent only on successful uses, in milliseconds."
        },
        "totalCancellations": {
          "type": "number",
          "description": "The number of cancelled attempts to use the underlying entry.",
          "format": "float"
        },
        "totalFailures": {
          "description": "The number of failed attempts to use the underlying entry.",
          "format": "float",
          "type": "number"
        },
        "totalCompletions": {
          "type": "number",
          "format": "float",
          "description": "The number of successful uses of the underlying entry."
        }
      },
      "description": "Detailed statistics on the entry's usage. Usage statistics have the following limitations: - Only BigQuery tables have them. - They only include BigQuery query jobs. - They might be underestimated because wildcard table references are not yet counted. For more information, see [Querying multiple tables using a wildcard table] (https://cloud.google.com/bigquery/docs/querying-wildcard-tables)",
      "id": "GoogleCloudDatacatalogV1UsageStats",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1SearchCatalogRequestScope": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1SearchCatalogRequestScope",
      "properties": {
        "includeProjectIds": {
          "items": {
            "type": "string"
          },
          "description": "The list of project IDs to search within. To learn more about the distinction between project names/IDs/numbers, go to https://cloud.google.com/docs/overview/#projects.",
          "type": "array"
        },
        "includeGcpPublicDatasets": {
          "description": "If `true`, include Google Cloud public datasets in the search results. Info on Google Cloud public datasets is available at https://cloud.google.com/public-datasets/. By default, Google Cloud public datasets are excluded.",
          "type": "boolean"
        },
        "restrictedLocations": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of locations to search within. 1. If empty, search will be performed in all locations; 2. If any of the locations are NOT in the valid locations list, error will be returned; 3. Otherwise, search only the given locations for matching results. Typical usage is to leave this field empty. When a location is unreachable as returned in the `SearchCatalogResponse.unreachable` field, users can repeat the search request with this parameter set to get additional information on the error. Valid locations: * asia-east1 * asia-east2 * asia-northeast1 * asia-northeast2 * asia-northeast3 * asia-south1 * asia-southeast1 * australia-southeast1 * eu * europe-north1 * europe-west1 * europe-west2 * europe-west3 * europe-west4 * europe-west6 * global * northamerica-northeast1 * southamerica-east1 * us * us-central1 * us-east1 * us-east4 * us-west1 * us-west2",
          "type": "array"
        },
        "includeOrgIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of organization IDs to search within. To find your organization ID, follow instructions in https://cloud.google.com/resource-manager/docs/creating-managing-organization."
        }
      },
      "description": "The criteria that select the subspace used for query matching."
    },
    "GoogleCloudDatacatalogV1Contacts": {
      "description": "Contact people for the entry.",
      "id": "GoogleCloudDatacatalogV1Contacts",
      "properties": {
        "people": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1ContactsPerson"
          },
          "description": "The list of contact people for the entry."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ServiceSpec": {
      "description": "Specification that applies to a Service resource. Valid only for entries with the `SERVICE` type.",
      "id": "GoogleCloudDatacatalogV1ServiceSpec",
      "type": "object",
      "properties": {
        "cloudBigtableInstanceSpec": {
          "description": "Specification that applies to Instance entries of `CLOUD_BIGTABLE` system.",
          "$ref": "GoogleCloudDatacatalogV1CloudBigtableInstanceSpec"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "GoogleCloudDatacatalogV1beta1SerializedPolicyTag": {
      "properties": {
        "childPolicyTags": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SerializedPolicyTag"
          },
          "description": "Children of the policy tag if any.",
          "type": "array"
        },
        "policyTag": {
          "description": "Resource name of the policy tag. This field will be ignored when calling ImportTaxonomies.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the serialized policy tag. The length of the description is limited to 2000 bytes when encoded in UTF-8. If not set, defaults to an empty description."
        },
        "displayName": {
          "description": "Required. Display name of the policy tag. Max 200 bytes when encoded in UTF-8.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1SerializedPolicyTag",
      "description": "Message representing one policy tag when exported as a nested proto."
    },
    "GoogleCloudDatacatalogV1beta1GcsFilesetSpec": {
      "type": "object",
      "description": "Describes a Cloud Storage fileset entry.",
      "id": "GoogleCloudDatacatalogV1beta1GcsFilesetSpec",
      "properties": {
        "filePatterns": {
          "description": "Required. Patterns to identify a set of files in Google Cloud Storage. See [Cloud Storage documentation](https://cloud.google.com/storage/docs/wildcards) for more information. Note that bucket wildcards are currently not supported. Examples of valid file_patterns: * `gs://bucket_name/dir/*`: matches all files within `bucket_name/dir` directory. * `gs://bucket_name/dir/**`: matches all files in `bucket_name/dir` spanning all subdirectories. * `gs://bucket_name/file*`: matches files prefixed by `file` in `bucket_name` * `gs://bucket_name/??.txt`: matches files with two characters followed by `.txt` in `bucket_name` * `gs://bucket_name/[aeiou].txt`: matches files that contain a single vowel character followed by `.txt` in `bucket_name` * `gs://bucket_name/[a-m].txt`: matches files that contain `a`, `b`, ... or `m` followed by `.txt` in `bucket_name` * `gs://bucket_name/a/*/b`: matches all files in `bucket_name` that match `a/*/b` pattern, such as `a/c/b`, `a/d/b` * `gs://another_bucket/a.txt`: matches `gs://another_bucket/a.txt` You can combine wildcards to provide more powerful matches, for example: * `gs://bucket_name/[a-m]??.j*g`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sampleGcsFileSpecs": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Sample files contained in this fileset, not all files contained in this fileset are represented here.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1GcsFileSpec"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyForeignKeyColumnMapping": {
      "id": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyForeignKeyColumnMapping",
      "properties": {
        "column": {
          "readOnly": true,
          "description": "Output only. The column in the current table that is part of the foreign key.",
          "type": "string"
        },
        "referenceColumn": {
          "description": "Output only. The column in the referenced table that is part of the foreign key.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Column mapping for a Spanner foreign key.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ImportEntriesMetadata": {
      "id": "GoogleCloudDatacatalogV1ImportEntriesMetadata",
      "type": "object",
      "description": "Metadata message for long-running operation returned by the ImportEntries.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The dump with entries has been queued for import.",
            "The import of entries is in progress.",
            "The import of entries has been finished.",
            "The import of entries has been abandoned in favor of a newer request."
          ],
          "description": "State of the import operation.",
          "type": "string",
          "enum": [
            "IMPORT_STATE_UNSPECIFIED",
            "IMPORT_QUEUED",
            "IMPORT_IN_PROGRESS",
            "IMPORT_DONE",
            "IMPORT_OBSOLETE"
          ]
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "description": "Partial errors that are encountered during the ImportEntries operation. There is no guarantee that all the encountered errors are reported. However, if no errors are reported, it means that no errors were encountered.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogV1DatasetSpec": {
      "description": "Specification that applies to a dataset. Valid only for entries with the `DATASET` type.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1DatasetSpec",
      "properties": {
        "vertexDatasetSpec": {
          "description": "Vertex AI Dataset specific fields",
          "$ref": "GoogleCloudDatacatalogV1VertexDatasetSpec"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1UsageStats": {
      "id": "GoogleCloudDatacatalogV1beta1UsageStats",
      "properties": {
        "totalCompletions": {
          "type": "number",
          "description": "The number of times that the underlying entry was successfully used.",
          "format": "float"
        },
        "totalFailures": {
          "format": "float",
          "type": "number",
          "description": "The number of times that the underlying entry was attempted to be used but failed."
        },
        "totalCancellations": {
          "type": "number",
          "description": "The number of times that the underlying entry was attempted to be used but was cancelled by the user.",
          "format": "float"
        },
        "totalExecutionTimeForCompletionsMillis": {
          "format": "float",
          "description": "Total time spent (in milliseconds) during uses the resulted in completions.",
          "type": "number"
        }
      },
      "description": "Detailed counts on the entry's usage. Caveats: - Only BigQuery tables have usage stats - The usage stats only include BigQuery query jobs - The usage stats might be underestimated, e.g. wildcard table references are not yet counted in usage computation https://cloud.google.com/bigquery/docs/querying-wildcard-tables",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldEnumValueRequest": {
      "properties": {
        "newEnumValueDisplayName": {
          "type": "string",
          "description": "Required. The new display name of the enum value. For example, `my_new_enum_value`."
        }
      },
      "type": "object",
      "description": "Request message for RenameTagTemplateFieldEnumValue.",
      "id": "GoogleCloudDatacatalogV1beta1RenameTagTemplateFieldEnumValueRequest"
    },
    "GoogleCloudDatacatalogV1beta1UsageSignal": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp of the end of the usage statistics duration."
        },
        "usageWithinTimeRange": {
          "type": "object",
          "description": "Usage statistics over each of the pre-defined time ranges, supported strings for time ranges are {\"24H\", \"7D\", \"30D\"}.",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1beta1UsageStats"
          }
        }
      },
      "description": "The set of all usage signals that we store in Data Catalog.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1UsageSignal"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema",
      "properties": {
        "text": {
          "description": "JSON source of the Avro schema.",
          "type": "string"
        }
      },
      "description": "Schema in Avro JSON format."
    },
    "GoogleCloudDatacatalogV1BigQueryTableSpec": {
      "id": "GoogleCloudDatacatalogV1BigQueryTableSpec",
      "properties": {
        "viewSpec": {
          "$ref": "GoogleCloudDatacatalogV1ViewSpec",
          "description": "Table view specification. Populated only if the `table_source_type` is `BIGQUERY_VIEW`."
        },
        "tableSpec": {
          "description": "Specification of a BigQuery table. Populated only if the `table_source_type` is `BIGQUERY_TABLE`.",
          "$ref": "GoogleCloudDatacatalogV1TableSpec"
        },
        "tableSourceType": {
          "description": "Output only. The table source type.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unknown type.",
            "Table view.",
            "BigQuery native table.",
            "BigQuery materialized view."
          ],
          "type": "string",
          "enum": [
            "TABLE_SOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_VIEW",
            "BIGQUERY_TABLE",
            "BIGQUERY_MATERIALIZED_VIEW"
          ]
        }
      },
      "type": "object",
      "description": "Describes a BigQuery table."
    },
    "GoogleCloudDatacatalogV1beta1ExportTaxonomiesResponse": {
      "type": "object",
      "description": "Response message for ExportTaxonomies.",
      "id": "GoogleCloudDatacatalogV1beta1ExportTaxonomiesResponse",
      "properties": {
        "taxonomies": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SerializedTaxonomy"
          },
          "description": "List of taxonomies and policy tags in a tree structure.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema": {
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema",
      "properties": {
        "text": {
          "type": "string",
          "description": "Thrift IDL source of the schema."
        }
      },
      "type": "object",
      "description": "Schema in Thrift format."
    },
    "GoogleCloudDatacatalogV1beta1TagFieldEnumValue": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1TagFieldEnumValue",
      "description": "Holds an enum value.",
      "properties": {
        "displayName": {
          "description": "The display name of the enum value.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1ContactsPerson": {
      "type": "object",
      "properties": {
        "designation": {
          "description": "Designation of the person, for example, Data Steward.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Email of the person in the format of `john.doe@xyz`, ``, or `John Doe`."
        }
      },
      "id": "GoogleCloudDatacatalogV1ContactsPerson",
      "description": "A contact person for the entry."
    },
    "GoogleCloudDatacatalogV1beta1SystemTimestamps": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1SystemTimestamps",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of the resource within the given system."
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. The expiration time of the resource within the given system. Currently only apllicable to BigQuery resources.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last-modified time of the resource within the given system."
        }
      },
      "description": "Timestamps about this resource according to a particular system."
    },
    "GetPolicyOptions": {
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GetPolicyOptions"
    },
    "GoogleCloudDatacatalogV1beta1ImportTaxonomiesRequest": {
      "id": "GoogleCloudDatacatalogV1beta1ImportTaxonomiesRequest",
      "properties": {
        "inlineSource": {
          "description": "Inline source used for taxonomies to be imported.",
          "$ref": "GoogleCloudDatacatalogV1beta1InlineSource"
        }
      },
      "description": "Request message for ImportTaxonomies.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema": {
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema",
      "type": "object",
      "description": "Schema in protocol buffer format.",
      "properties": {
        "text": {
          "type": "string",
          "description": "Protocol buffer source of the schema."
        }
      }
    },
    "GoogleCloudDatacatalogV1Tag": {
      "id": "GoogleCloudDatacatalogV1Tag",
      "properties": {
        "dataplexTransferStatus": {
          "type": "string",
          "enum": [
            "DATAPLEX_TRANSFER_STATUS_UNSPECIFIED",
            "MIGRATED",
            "TRANSFERRED"
          ],
          "description": "Output only. Denotes the transfer status of the Tag Template.",
          "enumDescriptions": [
            "Default value. TagTemplate and its tags are only visible and editable in Data Catalog.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Data Catalog, read-only in Dataplex Universal Catalog. Deprecated: Individual TagTemplate migration is deprecated in favor of organization or project wide TagTemplate migration opt-in.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Dataplex Universal Catalog, read-only in Data Catalog."
          ],
          "readOnly": true,
          "enumDeprecated": [
            false,
            true,
            false
          ]
        },
        "templateDisplayName": {
          "description": "Output only. The display name of the tag template.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the tag in URL format where tag ID is a system-generated identifier. Note: The tag itself might not be stored in the location specified in its name.",
          "type": "string"
        },
        "fields": {
          "description": "Required. Maps the ID of a tag field to its value and additional information about that field. Tag template defines valid field IDs. A tag must have at least 1 field and at most 500 fields.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1TagField"
          }
        },
        "column": {
          "description": "Resources like entry can have schemas associated with them. This scope allows you to attach tags to an individual column based on that schema. To attach a tag to a nested column, separate column names with a dot (`.`). Example: `column.nested_column`.",
          "type": "string"
        },
        "template": {
          "description": "Required. The resource name of the tag template this tag uses. Example: `projects/{PROJECT_ID}/locations/{LOCATION}/tagTemplates/{TAG_TEMPLATE_ID}` This field cannot be modified after creation.",
          "type": "string"
        }
      },
      "description": "Tags contain custom metadata and are attached to Data Catalog resources. Tags conform with the specification of their tag template. See [Data Catalog IAM](https://cloud.google.com/data-catalog/docs/concepts/iam) for information on the permissions needed to create or view tags.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ViewSpec": {
      "properties": {
        "viewQuery": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The query that defines the table view."
        }
      },
      "id": "GoogleCloudDatacatalogV1ViewSpec",
      "description": "Table view specification.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DataplexExternalTable": {
      "type": "object",
      "properties": {
        "system": {
          "description": "Service in which the external table is registered.",
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub.",
            "Dataproc Metastore.",
            "Dataplex Universal Catalog.",
            "Cloud Spanner",
            "Cloud Bigtable",
            "Cloud Sql",
            "Looker",
            "Vertex AI"
          ],
          "type": "string",
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB",
            "DATAPROC_METASTORE",
            "DATAPLEX",
            "CLOUD_SPANNER",
            "CLOUD_BIGTABLE",
            "CLOUD_SQL",
            "LOOKER",
            "VERTEX_AI"
          ]
        },
        "fullyQualifiedName": {
          "description": "Fully qualified name (FQN) of the external table.",
          "type": "string"
        },
        "dataCatalogEntry": {
          "description": "Name of the Data Catalog entry representing the external table.",
          "type": "string"
        },
        "googleCloudResource": {
          "type": "string",
          "description": "Google Cloud resource name of the external table."
        }
      },
      "description": "External table registered by Dataplex Universal Catalog. Dataplex Universal Catalog publishes data discovered from an asset into multiple other systems (BigQuery, DPMS) in form of tables. We call them \"external tables\". External tables are also synced into the Data Catalog. This message contains pointers to those external tables (fully qualified name, resource name et cetera) within the Data Catalog.",
      "id": "GoogleCloudDatacatalogV1DataplexExternalTable"
    },
    "GoogleCloudDatacatalogV1DataplexFilesetSpec": {
      "id": "GoogleCloudDatacatalogV1DataplexFilesetSpec",
      "type": "object",
      "description": "Entry specification for a Dataplex Universal Catalog fileset.",
      "properties": {
        "dataplexSpec": {
          "$ref": "GoogleCloudDatacatalogV1DataplexSpec",
          "description": "Common Dataplex Universal Catalog fields."
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "GoogleCloudDatacatalogV1beta1TagField": {
      "type": "object",
      "description": "Contains the value and supporting information for a field within a Tag.",
      "properties": {
        "stringValue": {
          "description": "Holds the value for a tag field with string type.",
          "type": "string"
        },
        "enumValue": {
          "description": "Holds the value for a tag field with enum type. This value must be one of the allowed values in the definition of this enum.",
          "$ref": "GoogleCloudDatacatalogV1beta1TagFieldEnumValue"
        },
        "order": {
          "description": "Output only. The order of this field with respect to other fields in this tag. It can be set in Tag. For example, a higher value can indicate a more important field. The value can be negative. Multiple fields can have the same order, and field orders within a tag do not have to be sequential.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "doubleValue": {
          "description": "Holds the value for a tag field with double type.",
          "format": "double",
          "type": "number"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of this field."
        },
        "timestampValue": {
          "format": "google-datetime",
          "description": "Holds the value for a tag field with timestamp type.",
          "type": "string"
        },
        "boolValue": {
          "description": "Holds the value for a tag field with boolean type.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1TagField"
    },
    "GoogleCloudDatacatalogV1CloudBigtableInstanceSpec": {
      "description": "Specification that applies to Instance entries that are part of `CLOUD_BIGTABLE` system. (user_specified_type)",
      "id": "GoogleCloudDatacatalogV1CloudBigtableInstanceSpec",
      "type": "object",
      "properties": {
        "cloudBigtableClusterSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1CloudBigtableInstanceSpecCloudBigtableClusterSpec"
          },
          "description": "The list of clusters for the Instance."
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1TagTemplateField": {
      "description": "The template for an individual field within a tag template.",
      "properties": {
        "order": {
          "type": "integer",
          "description": "The order of this field with respect to other fields in this tag template. A higher value indicates a more important field. The value can be negative. Multiple fields can have the same order, and field orders within a tag do not have to be sequential.",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of the tag template field in URL format. Example: * projects/{project_id}/locations/{location}/tagTemplates/{tag_template}/fields/{field} Note that this TagTemplateField may not actually be stored in the location in this name."
        },
        "displayName": {
          "type": "string",
          "description": "The display name for this field. Defaults to an empty string."
        },
        "description": {
          "type": "string",
          "description": "The description for this field. Defaults to an empty string."
        },
        "isRequired": {
          "type": "boolean",
          "description": "Whether this is a required field. Defaults to false."
        },
        "type": {
          "$ref": "GoogleCloudDatacatalogV1beta1FieldType",
          "description": "Required. The type of value this tag field can contain."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1TagTemplateField"
    },
    "GoogleCloudDatacatalogV1BigQueryRoutineSpec": {
      "id": "GoogleCloudDatacatalogV1BigQueryRoutineSpec",
      "properties": {
        "importedLibraries": {
          "items": {
            "type": "string"
          },
          "description": "Paths of the imported libraries.",
          "type": "array"
        }
      },
      "description": "Fields specific for BigQuery routines.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference": {
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference",
      "description": "A reference to a source or destination node in a graph edge.",
      "type": "object",
      "properties": {
        "edgeTableColumns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The referencing columns in the edge table. The size of `edge_table_columns` must be equal to the size of `node_table_columns`."
        },
        "nodeAlias": {
          "type": "string",
          "description": "Required. The reference to the source/destination node of the edge. This name must be a valid `alias` of a node element in the same graph. Example, `Person` node can be a source node name of an edge element `Person_to_Address`."
        },
        "nodeTableColumns": {
          "description": "Required. The referenced columns of the source node table.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1DumpItem": {
      "id": "GoogleCloudDatacatalogV1DumpItem",
      "type": "object",
      "properties": {
        "taggedEntry": {
          "description": "Entry and its tags.",
          "$ref": "GoogleCloudDatacatalogV1TaggedEntry"
        }
      },
      "description": "Wrapper for any item that can be contained in the dump."
    },
    "GoogleCloudDatacatalogV1beta1FieldTypeEnumTypeEnumValue": {
      "id": "GoogleCloudDatacatalogV1beta1FieldTypeEnumTypeEnumValue",
      "properties": {
        "displayName": {
          "description": "Required. The display name of the enum value. Must not be an empty string.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1TagField": {
      "id": "GoogleCloudDatacatalogV1TagField",
      "description": "Contains the value and additional information on a field within a Tag.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Output only. The display name of this field.",
          "type": "string",
          "readOnly": true
        },
        "richtextValue": {
          "description": "The value of a tag field with a rich text type. The maximum length is 10 MiB as this value holds HTML descriptions including encoded images. The maximum length of the text without images is 100 KiB.",
          "type": "string"
        },
        "order": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The order of this field with respect to other fields in this tag. Can be set by Tag. For example, a higher value can indicate a more important field. The value can be negative. Multiple fields can have the same order, and field orders within a tag don't have to be sequential."
        },
        "timestampValue": {
          "type": "string",
          "description": "The value of a tag field with a timestamp type.",
          "format": "google-datetime"
        },
        "enumValue": {
          "description": "The value of a tag field with an enum type. This value must be one of the allowed values listed in this enum.",
          "$ref": "GoogleCloudDatacatalogV1TagFieldEnumValue"
        },
        "boolValue": {
          "description": "The value of a tag field with a boolean type.",
          "type": "boolean"
        },
        "stringValue": {
          "type": "string",
          "description": "The value of a tag field with a string type. The maximum length is 2000 UTF-8 characters."
        },
        "doubleValue": {
          "description": "The value of a tag field with a double type.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1ViewSpec": {
      "type": "object",
      "description": "Table view specification.",
      "properties": {
        "viewQuery": {
          "readOnly": true,
          "description": "Output only. The query that defines the table view.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1ViewSpec"
    },
    "GoogleCloudDatacatalogV1beta1TableSpec": {
      "id": "GoogleCloudDatacatalogV1beta1TableSpec",
      "type": "object",
      "description": "Normal BigQuery table spec.",
      "properties": {
        "groupedEntry": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. If the table is a dated shard, i.e., with name pattern `[prefix]YYYYMMDD`, `grouped_entry` is the Data Catalog resource name of the date sharded grouped entry, for example, `projects/{project_id}/locations/{location}/entrygroups/{entry_group_id}/entries/{entry_id}`. Otherwise, `grouped_entry` is empty."
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1SearchCatalogRequest": {
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "Optional. Pagination token returned in an earlier SearchCatalogResponse.next_page_token, which indicates that this is a continuation of a prior SearchCatalogRequest call, and that the system should return the next page of data. If empty, the first page is returned."
        },
        "pageSize": {
          "description": "Number of results in the search page. If <=0 then defaults to 10. Max limit for page_size is 1000. Throws an invalid argument for page_size > 1000.",
          "format": "int32",
          "type": "integer"
        },
        "orderBy": {
          "description": "Specifies the ordering of results, currently supported case-sensitive choices are: * `relevance`, only supports descending * `last_modified_timestamp [asc|desc]`, defaults to descending if not specified * `default` that can only be descending If not specified, defaults to `relevance` descending.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "Optional. The query string in search query syntax. An empty query string will result in all data assets (in the specified scope) that the user has access to. Query strings can be simple as \"x\" or more qualified as: * name:x * column:x * description:y Note: Query tokens need to have a minimum of 3 characters for substring matching to work correctly. See [Data Catalog Search Syntax](https://cloud.google.com/data-catalog/docs/how-to/search-reference) for more information."
        },
        "scope": {
          "description": "Required. The scope of this search request. A `scope` that has empty `include_org_ids`, `include_project_ids` AND false `include_gcp_public_datasets` is considered invalid. Data Catalog will return an error in such a case.",
          "$ref": "GoogleCloudDatacatalogV1beta1SearchCatalogRequestScope"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1SearchCatalogRequest",
      "description": "Request message for SearchCatalog.",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "GoogleCloudDatacatalogV1PhysicalSchema": {
      "description": "Native schema used by a resource represented as an entry. Used by query engines for deserializing and parsing source data.",
      "id": "GoogleCloudDatacatalogV1PhysicalSchema",
      "properties": {
        "avro": {
          "description": "Schema in Avro JSON format.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema"
        },
        "orc": {
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema",
          "description": "Marks an ORC-encoded data source."
        },
        "csv": {
          "description": "Marks a CSV-encoded data source.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema"
        },
        "thrift": {
          "description": "Schema in Thrift format.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema"
        },
        "protobuf": {
          "description": "Schema in protocol buffer format.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema"
        },
        "parquet": {
          "description": "Marks a Parquet-encoded data source.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1ListTaxonomiesResponse": {
      "id": "GoogleCloudDatacatalogV1beta1ListTaxonomiesResponse",
      "description": "Response message for ListTaxonomies.",
      "properties": {
        "taxonomies": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1Taxonomy"
          },
          "type": "array",
          "description": "Taxonomies that the project contains."
        },
        "nextPageToken": {
          "description": "Token used to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1StorageProperties": {
      "id": "GoogleCloudDatacatalogV1StorageProperties",
      "type": "object",
      "properties": {
        "filePattern": {
          "type": "array",
          "description": "Patterns to identify a set of files for this fileset. Examples of a valid `file_pattern`: * `gs://bucket_name/dir/*`: matches all files in the `bucket_name/dir` directory * `gs://bucket_name/dir/**`: matches all files in the `bucket_name/dir` and all subdirectories recursively * `gs://bucket_name/file*`: matches files prefixed by `file` in `bucket_name` * `gs://bucket_name/??.txt`: matches files with two characters followed by `.txt` in `bucket_name` * `gs://bucket_name/[aeiou].txt`: matches files that contain a single vowel character followed by `.txt` in `bucket_name` * `gs://bucket_name/[a-m].txt`: matches files that contain `a`, `b`, ... or `m` followed by `.txt` in `bucket_name` * `gs://bucket_name/a/*/b`: matches all files in `bucket_name` that match the `a/*/b` pattern, such as `a/c/b`, `a/d/b` * `gs://another_bucket/a.txt`: matches `gs://another_bucket/a.txt`",
          "items": {
            "type": "string"
          }
        },
        "fileType": {
          "description": "File type in MIME format, for example, `text/plain`.",
          "type": "string"
        }
      },
      "description": "Details the properties of the underlying storage."
    },
    "GoogleCloudDatacatalogV1beta1FieldType": {
      "properties": {
        "primitiveType": {
          "description": "Represents primitive types - string, bool etc.",
          "type": "string",
          "enum": [
            "PRIMITIVE_TYPE_UNSPECIFIED",
            "DOUBLE",
            "STRING",
            "BOOL",
            "TIMESTAMP"
          ],
          "enumDescriptions": [
            "This is the default invalid value for a type.",
            "A double precision number.",
            "An UTF-8 string.",
            "A boolean value.",
            "A timestamp."
          ]
        },
        "enumType": {
          "description": "Represents an enum type.",
          "$ref": "GoogleCloudDatacatalogV1beta1FieldTypeEnumType"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1FieldType"
    },
    "GoogleCloudDatacatalogV1beta1TaxonomyService": {
      "id": "GoogleCloudDatacatalogV1beta1TaxonomyService",
      "description": "The source system of the Taxonomy.",
      "properties": {
        "name": {
          "description": "The Google Cloud service name.",
          "type": "string",
          "enum": [
            "MANAGING_SYSTEM_UNSPECIFIED",
            "MANAGING_SYSTEM_DATAPLEX",
            "MANAGING_SYSTEM_OTHER"
          ],
          "enumDescriptions": [
            "Default value",
            "Dataplex Universal Catalog.",
            "Other"
          ]
        },
        "identity": {
          "description": "The service agent for the service.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1TagTemplate": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1TagTemplate",
      "properties": {
        "dataplexTransferStatus": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. TagTemplate and its tags are only visible and editable in DataCatalog.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Data Catalog, read-only in Dataplex Universal Catalog. Deprecated: Individual TagTemplate migration is deprecated in favor of organization or project wide TagTemplate migration opt-in."
          ],
          "type": "string",
          "enum": [
            "DATAPLEX_TRANSFER_STATUS_UNSPECIFIED",
            "MIGRATED"
          ],
          "enumDeprecated": [
            false,
            true
          ],
          "description": "Output only. Transfer status of the TagTemplate"
        },
        "displayName": {
          "type": "string",
          "description": "The display name for this template. Defaults to an empty string."
        },
        "name": {
          "description": "Identifier. The resource name of the tag template in URL format. Example: * projects/{project_id}/locations/{location}/tagTemplates/{tag_template_id} Note that this TagTemplate and its child resources may not actually be stored in the location in this name.",
          "type": "string"
        },
        "fields": {
          "type": "object",
          "description": "Required. Map of tag template field IDs to the settings for the field. This map is an exhaustive list of the allowed fields. This map must contain at least one field and at most 500 fields. The keys to this map are tag template field IDs. Field IDs can contain letters (both uppercase and lowercase), numbers (0-9) and underscores (_). Field IDs must be at least 1 character long and at most 64 characters long. Field IDs must start with a letter or underscore.",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1beta1TagTemplateField"
          }
        }
      },
      "description": "A tag template defines a tag, which can have one or more typed fields. The template is used to create and attach the tag to Google Cloud resources. [Tag template roles](https://cloud.google.com/iam/docs/roles-permissions/datacatalog) provide permissions to create, edit, and use the template. See, for example, the [TagTemplate User](https://cloud.google.com/data-catalog/docs/how-to/template-user) role, which includes permission to use the tag template to tag resources."
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTable": {
      "properties": {
        "alias": {
          "type": "string",
          "description": "Required. The alias name of the graph element."
        },
        "labelAndProperties": {
          "description": "Required. The labels and their properties for the graph element.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndProperties"
          },
          "type": "array"
        },
        "kind": {
          "enumDescriptions": [
            "Default unknown kind.",
            "Node kind.",
            "Edge kind."
          ],
          "description": "Required. The kind of the graph element.",
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "NODE",
            "EDGE"
          ]
        },
        "dynamicLabelColumn": {
          "type": "string",
          "description": "Optional. If set, this is the input column for dynamic label in schemaless data model."
        },
        "inputSource": {
          "type": "string",
          "enum": [
            "INPUT_SOURCE_UNSPECIFIED",
            "TABLE",
            "VIEW"
          ],
          "description": "Required. The input source of the graph element.",
          "enumDescriptions": [
            "Default unknown input source.",
            "Table input source.",
            "View input source."
          ]
        },
        "destinationNodeReference": {
          "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference",
          "description": "Optional. The destination node reference of the edge."
        },
        "elementKeys": {
          "description": "Required. The name of the keys of the elements in the table.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dynamicPropertiesColumn": {
          "description": "Optional. If set, this is the input column for dynamic properties in schemaless data model.",
          "type": "string"
        },
        "dataSource": {
          "type": "string",
          "description": "Required. The name of the data source. This is either a table name or a view name that is used for graph element input source. E.g. `Person` table or `PersonView` view."
        },
        "sourceNodeReference": {
          "description": "Optional. The source node reference of the edge.",
          "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference"
        }
      },
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTable",
      "type": "object",
      "description": "Element table definition."
    },
    "GoogleCloudDatacatalogV1beta1PolicyTag": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1beta1PolicyTag",
      "properties": {
        "parentPolicyTag": {
          "description": "Resource name of this policy tag's parent policy tag (e.g. for the \"LatLong\" policy tag in the example above, this field contains the resource name of the \"Geolocation\" policy tag). If empty, it means this policy tag is a top level policy tag (e.g. this field is empty for the \"Geolocation\" policy tag in the example above). If not set, defaults to an empty string.",
          "type": "string"
        },
        "description": {
          "description": "Description of this policy tag. It must: contain only unicode characters, tabs, newlines, carriage returns and page breaks; and be at most 2000 bytes long when encoded in UTF-8. If not set, defaults to an empty description. If not set, defaults to an empty description.",
          "type": "string"
        },
        "childPolicyTags": {
          "description": "Output only. Resource names of child policy tags of this policy tag.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. Resource name of this policy tag, whose format is: \"projects/{project_number}/locations/{location_id}/taxonomies/{taxonomy_id}/policyTags/{id}\".",
          "type": "string"
        },
        "displayName": {
          "description": "Required. User defined name of this policy tag. It must: be unique within the parent taxonomy; contain only unicode letters, numbers, underscores, dashes and spaces; not start or end with spaces; and be at most 200 bytes long when encoded in UTF-8.",
          "type": "string"
        }
      },
      "description": "Denotes one policy tag in a taxonomy (e.g. ssn). Policy Tags can be defined in a hierarchy. For example, consider the following hierarchy: Geolocation -> (LatLong, City, ZipCode). PolicyTag \"Geolocation\" contains three child policy tags: \"LatLong\", \"City\", and \"ZipCode\"."
    },
    "GoogleCloudDatacatalogV1ImportEntriesResponse": {
      "properties": {
        "upsertedEntriesCount": {
          "type": "string",
          "description": "Cumulative number of entries created and entries updated as a result of import operation.",
          "format": "int64"
        },
        "deletedEntriesCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of entries deleted as a result of import operation."
        }
      },
      "description": "Response message for long-running operation returned by the ImportEntries.",
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ImportEntriesResponse"
    },
    "GoogleCloudDatacatalogV1DatabaseTableSpec": {
      "description": "Specification that applies to a table resource. Valid only for entries with the `TABLE` type.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TABLE_TYPE_UNSPECIFIED",
            "NATIVE",
            "EXTERNAL"
          ],
          "enumDescriptions": [
            "Default unknown table type.",
            "Native table.",
            "External table."
          ],
          "description": "Type of this table."
        },
        "databaseViewSpec": {
          "description": "Spec what applies to tables that are actually views. Not set for \"real\" tables.",
          "$ref": "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec"
        },
        "dataplexTable": {
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1DataplexTableSpec",
          "description": "Output only. Fields specific to a Dataplex Universal Catalog table and present only in the Dataplex Universal Catalog table entries."
        }
      },
      "id": "GoogleCloudDatacatalogV1DatabaseTableSpec",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1GcsFilesetSpec": {
      "description": "Describes a Cloud Storage fileset entry.",
      "type": "object",
      "properties": {
        "filePatterns": {
          "items": {
            "type": "string"
          },
          "description": "Required. Patterns to identify a set of files in Google Cloud Storage. For more information, see [Wildcard Names] (https://cloud.google.com/storage/docs/wildcards). Note: Currently, bucket wildcards are not supported. Examples of valid `file_patterns`: * `gs://bucket_name/dir/*`: matches all files in `bucket_name/dir` directory * `gs://bucket_name/dir/**`: matches all files in `bucket_name/dir` and all subdirectories * `gs://bucket_name/file*`: matches files prefixed by `file` in `bucket_name` * `gs://bucket_name/??.txt`: matches files with two characters followed by `.txt` in `bucket_name` * `gs://bucket_name/[aeiou].txt`: matches files that contain a single vowel character followed by `.txt` in `bucket_name` * `gs://bucket_name/[a-m].txt`: matches files that contain `a`, `b`, ... or `m` followed by `.txt` in `bucket_name` * `gs://bucket_name/a/*/b`: matches all files in `bucket_name` that match the `a/*/b` pattern, such as `a/c/b`, `a/d/b` * `gs://another_bucket/a.txt`: matches `gs://another_bucket/a.txt` You can combine wildcards to match complex sets of files, for example: `gs://bucket_name/[a-m]??.j*g`",
          "type": "array"
        },
        "sampleGcsFileSpecs": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Sample files contained in this fileset, not all files contained in this fileset are represented here.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GcsFileSpec"
          }
        }
      },
      "id": "GoogleCloudDatacatalogV1GcsFilesetSpec"
    },
    "GoogleCloudDatacatalogV1SystemTimestamps": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1SystemTimestamps",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Creation timestamp of the resource within the given system."
        },
        "expireTime": {
          "description": "Output only. Expiration timestamp of the resource within the given system. Currently only applicable to BigQuery resources.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Timestamp of the last modification of the resource or its metadata within a given system. Note: Depending on the source system, not every modification updates this timestamp. For example, BigQuery timestamps every metadata modification but not data or permission changes.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Timestamps associated with this resource in a particular system."
    },
    "GetIamPolicyRequest": {
      "type": "object",
      "id": "GetIamPolicyRequest",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      },
      "description": "Request message for `GetIamPolicy` method."
    },
    "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKey": {
      "description": "Specification of a Spanner foreign key.",
      "properties": {
        "entry": {
          "readOnly": true,
          "description": "Output only. The table name this foreign key referenced to. Format: `projects/{PROJECT_ID}/locations/{LOCATION}/entryGroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The constraint_name of the foreign key, for example, FK_CustomerOrder."
        },
        "columnMappings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyForeignKeyColumnMapping"
          },
          "readOnly": true,
          "description": "Output only. The ordered list of column mappings for this foreign key."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKey"
    },
    "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec": {
      "description": "Specification for the BigQuery connection to a Cloud SQL instance.",
      "type": "object",
      "properties": {
        "instanceId": {
          "description": "Cloud SQL instance ID in the format of `project:location:instance`.",
          "type": "string"
        },
        "database": {
          "description": "Database name.",
          "type": "string"
        },
        "type": {
          "description": "Type of the Cloud SQL database.",
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "POSTGRES",
            "MYSQL"
          ],
          "enumDescriptions": [
            "Unspecified database type.",
            "Cloud SQL for PostgreSQL.",
            "Cloud SQL for MySQL."
          ]
        }
      },
      "id": "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec"
    },
    "GoogleCloudDatacatalogV1LookerSystemSpec": {
      "type": "object",
      "description": "Specification that applies to entries that are part `LOOKER` system (user_specified_type)",
      "id": "GoogleCloudDatacatalogV1LookerSystemSpec",
      "properties": {
        "parentViewDisplayName": {
          "type": "string",
          "description": "Name of the parent View. Empty if it does not exist."
        },
        "parentViewId": {
          "description": "ID of the parent View. Empty if it does not exist.",
          "type": "string"
        },
        "parentModelId": {
          "type": "string",
          "description": "ID of the parent Model. Empty if it does not exist."
        },
        "parentModelDisplayName": {
          "description": "Name of the parent Model. Empty if it does not exist.",
          "type": "string"
        },
        "parentInstanceId": {
          "description": "ID of the parent Looker Instance. Empty if it does not exist. Example value: `someinstance.looker.com`",
          "type": "string"
        },
        "parentInstanceDisplayName": {
          "type": "string",
          "description": "Name of the parent Looker Instance. Empty if it does not exist."
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1FieldTypeEnumType": {
      "properties": {
        "allowedValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1FieldTypeEnumTypeEnumValue"
          }
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1FieldTypeEnumType",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndProperties": {
      "properties": {
        "properties": {
          "description": "Optional. The properties associated with the label.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty"
          },
          "type": "array"
        },
        "label": {
          "type": "string",
          "description": "Required. The name of the label."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndProperties",
      "description": "The label and its properties. Each label is associated with a set of properties."
    },
    "GoogleCloudDatacatalogV1FilesetSpec": {
      "properties": {
        "dataplexFileset": {
          "description": "Fields specific to a Dataplex Universal Catalog fileset and present only in the Dataplex Universal Catalog fileset entries.",
          "$ref": "GoogleCloudDatacatalogV1DataplexFilesetSpec"
        }
      },
      "type": "object",
      "description": "Specification that applies to a fileset. Valid only for entries with the 'FILESET' type.",
      "id": "GoogleCloudDatacatalogV1FilesetSpec"
    },
    "GoogleCloudDatacatalogV1TableSpec": {
      "type": "object",
      "description": "Normal BigQuery table specification.",
      "id": "GoogleCloudDatacatalogV1TableSpec",
      "properties": {
        "groupedEntry": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If the table is date-sharded, that is, it matches the `[prefix]YYYYMMDD` name pattern, this field is the Data Catalog resource name of the date-sharded grouped entry. For example: `projects/{PROJECT_ID}/locations/{LOCATION}/entrygroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`. Otherwise, `grouped_entry` is empty."
        }
      }
    },
    "GoogleCloudDatacatalogV1SpannerTableSpecSpannerPrimaryKey": {
      "id": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerPrimaryKey",
      "type": "object",
      "properties": {
        "columns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Column names of the primary key.",
          "readOnly": true
        }
      },
      "description": "Specification of a Spanner primary key."
    },
    "GoogleCloudDatacatalogV1PersonalDetails": {
      "properties": {
        "starred": {
          "type": "boolean",
          "description": "True if the entry is starred by the user; false otherwise."
        },
        "starTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Set if the entry is starred; unset otherwise."
        }
      },
      "description": "Entry metadata relevant only to the user and private to them.",
      "id": "GoogleCloudDatacatalogV1PersonalDetails",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1beta1InlineSource": {
      "id": "GoogleCloudDatacatalogV1beta1InlineSource",
      "type": "object",
      "properties": {
        "taxonomies": {
          "type": "array",
          "description": "Required. Taxonomies to be imported.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1beta1SerializedTaxonomy"
          }
        }
      },
      "description": "Inline source used for taxonomies import."
    },
    "GoogleCloudDatacatalogV1GraphSpec": {
      "type": "object",
      "description": "Specification that applies to a graph.",
      "id": "GoogleCloudDatacatalogV1GraphSpec",
      "properties": {
        "edgeTables": {
          "type": "array",
          "description": "Optional. Edge tables of the graph.",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTable"
          }
        },
        "nodeTables": {
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTable"
          },
          "description": "Required. Node tables of the graph.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Fully qualified graph name. e.g. `named_catalog.MyGraph`"
        }
      }
    },
    "GoogleCloudDatacatalogV1GcsFileSpec": {
      "id": "GoogleCloudDatacatalogV1GcsFileSpec",
      "properties": {
        "sizeBytes": {
          "description": "Output only. File size in bytes.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "gcsTimestamps": {
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps",
          "description": "Output only. Creation, modification, and expiration timestamps of a Cloud Storage file.",
          "readOnly": true
        },
        "filePath": {
          "description": "Required. Full file path. Example: `gs://bucket_name/a/b.txt`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Specification of a single file in Cloud Storage."
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema": {
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema",
      "description": "Marks a CSV-encoded data source.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ReconcileTagsResponse": {
      "properties": {
        "createdTagsCount": {
          "type": "string",
          "description": "Number of tags created in the request.",
          "format": "int64"
        },
        "deletedTagsCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of tags deleted in the request."
        },
        "updatedTagsCount": {
          "description": "Number of tags updated in the request.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1ReconcileTagsResponse",
      "description": "Long-running operation response message returned by ReconcileTags.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1VertexModelSpec": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1VertexModelSpec",
      "properties": {
        "containerImageUri": {
          "description": "URI of the Docker image to be used as the custom container for serving predictions.",
          "type": "string"
        },
        "versionAliases": {
          "items": {
            "type": "string"
          },
          "description": "User provided version aliases so that a model version can be referenced via alias",
          "type": "array"
        },
        "versionDescription": {
          "type": "string",
          "description": "The description of this version."
        },
        "versionId": {
          "description": "The version ID of the model.",
          "type": "string"
        },
        "vertexModelSourceInfo": {
          "description": "Source of a Vertex model.",
          "$ref": "GoogleCloudDatacatalogV1VertexModelSourceInfo"
        }
      },
      "description": "Specification for vertex model resources."
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "GoogleCloudDatacatalogV1FeatureOnlineStoreSpec": {
      "type": "object",
      "properties": {
        "storageType": {
          "readOnly": true,
          "description": "Output only. Type of underlying storage for the FeatureOnlineStore.",
          "type": "string",
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "BIGTABLE",
            "OPTIMIZED"
          ],
          "enumDescriptions": [
            "Should not be used.",
            "Underlsying storgae is Bigtable.",
            "Underlying is optimized online server (Lightning)."
          ]
        }
      },
      "description": "Detail description of the source information of a Vertex Feature Online Store.",
      "id": "GoogleCloudDatacatalogV1FeatureOnlineStoreSpec"
    },
    "GoogleCloudDatacatalogV1beta1Taxonomy": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. User defined name of this taxonomy. It must: contain only unicode letters, numbers, underscores, dashes and spaces; not start or end with spaces; and be at most 200 bytes long when encoded in UTF-8. The taxonomy display name must be unique within an organization."
        },
        "taxonomyTimestamps": {
          "description": "Output only. Timestamps about this taxonomy. Only create_time and update_time are used.",
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1beta1SystemTimestamps"
        },
        "activatedPolicyTypes": {
          "description": "Optional. A list of policy types that are activated for this taxonomy. If not set, defaults to an empty list.",
          "items": {
            "type": "string",
            "enum": [
              "POLICY_TYPE_UNSPECIFIED",
              "FINE_GRAINED_ACCESS_CONTROL"
            ],
            "enumDescriptions": [
              "Unspecified policy type.",
              "Fine grained access control policy, which enables access control on tagged resources."
            ]
          },
          "type": "array"
        },
        "policyTagCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of policy tags contained in this taxonomy."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of this taxonomy. It must: contain only unicode characters, tabs, newlines, carriage returns and page breaks; and be at most 2000 bytes long when encoded in UTF-8. If not set, defaults to an empty description."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this taxonomy, whose format is: \"projects/{project_number}/locations/{location_id}/taxonomies/{id}\"."
        },
        "service": {
          "description": "Output only. Identity of the service which owns the Taxonomy. This field is only populated when the taxonomy is created by a Google Cloud service. Currently only 'DATAPLEX' is supported.",
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1beta1TaxonomyService"
        }
      },
      "id": "GoogleCloudDatacatalogV1beta1Taxonomy",
      "description": "A taxonomy is a collection of policy tags that classify data along a common axis. For instance a data *sensitivity* taxonomy could contain policy tags denoting PII such as age, zipcode, and SSN. A data *origin* taxonomy could contain policy tags to distinguish user data, employee data, partner data, public data."
    },
    "GoogleCloudDatacatalogV1beta1BigQueryTableSpec": {
      "id": "GoogleCloudDatacatalogV1beta1BigQueryTableSpec",
      "description": "Describes a BigQuery table.",
      "properties": {
        "viewSpec": {
          "description": "Table view specification. This field should only be populated if `table_source_type` is `BIGQUERY_VIEW`.",
          "$ref": "GoogleCloudDatacatalogV1beta1ViewSpec"
        },
        "tableSourceType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "TABLE_SOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_VIEW",
            "BIGQUERY_TABLE",
            "BIGQUERY_MATERIALIZED_VIEW"
          ],
          "description": "Output only. The table source type.",
          "enumDescriptions": [
            "Default unknown type.",
            "Table view.",
            "BigQuery native table.",
            "BigQuery materialized view."
          ]
        },
        "tableSpec": {
          "description": "Spec of a BigQuery table. This field should only be populated if `table_source_type` is `BIGQUERY_TABLE`.",
          "$ref": "GoogleCloudDatacatalogV1beta1TableSpec"
        }
      },
      "type": "object"
    },
    "Binding": {
      "type": "object",
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "GoogleCloudDatacatalogV1beta1BigQueryDateShardedSpec": {
[...]
