{
  "id": "dataflow:v1b3",
  "canonicalName": "Dataflow",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/dataflow",
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Dataflow API",
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "revision": "20260818",
  "baseUrl": "https://dataflow.googleapis.com/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "basePath": "",
  "ownerName": "Google",
  "resources": {
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "configStoreSettings": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Lists ConfigStoreSettings.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dataflow.folders.locations.configStoreSettings.list",
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource whose settings are being listed.",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListConfigStoreSettings` call.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of settings to return.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1b3/folders/{foldersId}/locations/{locationsId}/configStoreSettings",
                  "response": {
                    "$ref": "ListConfigStoreSettingsResponse"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Creates a new ConfigStoreSetting.",
                  "httpMethod": "POST",
                  "parameters": {
                    "configStoreSettingId": {
                      "type": "string",
                      "description": "Required. The ID to use for the setting.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource where this setting will be created.",
                      "type": "string"
                    }
                  },
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "flatPath": "v1b3/folders/{foldersId}/locations/{locationsId}/configStoreSettings",
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "id": "dataflow.folders.locations.configStoreSettings.create"
                },
                "delete": {
                  "description": "Deletes an existing ConfigStoreSetting.",
                  "flatPath": "v1b3/folders/{foldersId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "id": "dataflow.folders.locations.configStoreSettings.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the ConfigStoreSetting to delete."
                    }
                  },
                  "path": "v1b3/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "resolve": {
                  "request": {
                    "$ref": "ResolveConfigStoreSettingRequest"
                  },
                  "id": "dataflow.folders.locations.configStoreSettings.resolve",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "description": "Resolves effective value of a ConfigStoreSetting.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the setting to resolve.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1b3/{+name}:resolve",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/folders/{foldersId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}:resolve",
                  "response": {
                    "$ref": "ResolveConfigStoreSettingResponse"
                  }
                },
                "get": {
                  "id": "dataflow.folders.locations.configStoreSettings.get",
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the ConfigStoreSetting to retrieve.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1b3/folders/{foldersId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}",
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a ConfigStoreSetting.",
                  "path": "v1b3/{+name}"
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "configStoreSettings": {
              "methods": {
                "resolve": {
                  "path": "v1b3/{+name}:resolve",
                  "description": "Resolves effective value of a ConfigStoreSetting.",
                  "flatPath": "v1b3/organizations/{organizationsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}:resolve",
                  "response": {
                    "$ref": "ResolveConfigStoreSettingResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the setting to resolve."
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "id": "dataflow.organizations.locations.configStoreSettings.resolve",
                  "request": {
                    "$ref": "ResolveConfigStoreSettingRequest"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/{+name}",
                  "flatPath": "v1b3/organizations/{organizationsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}",
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the ConfigStoreSetting to retrieve.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dataflow.organizations.locations.configStoreSettings.get",
                  "description": "Gets a ConfigStoreSetting."
                },
                "list": {
                  "flatPath": "v1b3/organizations/{organizationsId}/locations/{locationsId}/configStoreSettings",
                  "response": {
                    "$ref": "ListConfigStoreSettingsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dataflow.organizations.locations.configStoreSettings.list",
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "description": "Lists ConfigStoreSettings.",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListConfigStoreSettings` call.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource whose settings are being listed.",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of settings to return.",
                      "type": "integer"
                    }
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "id": "dataflow.organizations.locations.configStoreSettings.create",
                  "request": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "description": "Creates a new ConfigStoreSetting.",
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "flatPath": "v1b3/organizations/{organizationsId}/locations/{locationsId}/configStoreSettings",
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "configStoreSettingId": {
                      "description": "Required. The ID to use for the setting.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource where this setting will be created.",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "id": "dataflow.organizations.locations.configStoreSettings.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the ConfigStoreSetting to delete.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Deletes an existing ConfigStoreSetting.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1b3/organizations/{organizationsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1b3/{+name}"
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "workerMessages": {
          "httpMethod": "POST",
          "request": {
            "$ref": "SendWorkerMessagesRequest"
          },
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "The project to send the WorkerMessages to.",
              "required": true,
              "location": "path"
            }
          },
          "path": "v1b3/projects/{projectId}/WorkerMessages",
          "flatPath": "v1b3/projects/{projectId}/WorkerMessages",
          "response": {
            "$ref": "SendWorkerMessagesResponse"
          },
          "id": "dataflow.projects.workerMessages",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "description": "Send a worker_message to the service."
        },
        "deleteSnapshots": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "id": "dataflow.projects.deleteSnapshots",
          "parameters": {
            "location": {
              "location": "query",
              "description": "The location that contains this snapshot.",
              "type": "string"
            },
            "snapshotId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the snapshot."
            },
            "projectId": {
              "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Deletes a snapshot.",
          "path": "v1b3/projects/{projectId}/snapshots",
          "parameterOrder": [
            "projectId"
          ],
          "flatPath": "v1b3/projects/{projectId}/snapshots",
          "response": {
            "$ref": "DeleteSnapshotResponse"
          }
        }
      },
      "resources": {
        "templates": {
          "methods": {
            "get": {
              "id": "dataflow.projects.templates.get",
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path"
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                  "location": "query",
                  "type": "string"
                },
                "view": {
                  "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                  "enumDescriptions": [
                    "Template view that retrieves only the metadata associated with the template."
                  ],
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "METADATA_ONLY"
                  ]
                },
                "gcsPath": {
                  "type": "string",
                  "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Get the template associated with a template. To get the template, we recommend using `projects.locations.templates.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.get` is not recommended, because only templates that are running in `us-central1` are retrieved. # IAM Permissions Requires the `resourcemanager.projects.get` permission on the project.",
              "flatPath": "v1b3/projects/{projectId}/templates:get",
              "response": {
                "$ref": "GetTemplateResponse"
              },
              "path": "v1b3/projects/{projectId}/templates:get"
            },
            "launch": {
              "id": "dataflow.projects.templates.launch",
              "flatPath": "v1b3/projects/{projectId}/templates:launch",
              "response": {
                "$ref": "LaunchTemplateResponse"
              },
              "path": "v1b3/projects/{projectId}/templates:launch",
              "request": {
                "$ref": "LaunchTemplateParameters"
              },
              "parameters": {
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
                },
                "validateOnly": {
                  "type": "boolean",
                  "description": "If true, the request is validated but not actually executed. Defaults to false.",
                  "location": "query"
                },
                "gcsPath": {
                  "location": "query",
                  "type": "string",
                  "description": "A Cloud Storage path to the template to use to create the job. Must be valid Cloud Storage URL, beginning with `gs://`."
                },
                "projectId": {
                  "type": "string",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "location": "path"
                },
                "dynamicTemplate.gcsPath": {
                  "location": "query",
                  "type": "string",
                  "description": "Path to the dynamic template specification file on Cloud Storage. The file must be a JSON serialized `DynamicTemplateFileSpec` object."
                },
                "dynamicTemplate.stagingLocation": {
                  "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameterOrder": [
                "projectId"
              ],
              "description": "Launches a template. To launch a template, we recommend using `projects.locations.templates.launch` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.launch` is not recommended, because jobs launched from the template will always start in `us-central1`. # IAM Permissions Requires the following IAM permission(s) on the project: - `dataflow.jobs.create` - `resourcemanager.projects.get`"
            },
            "create": {
              "id": "dataflow.projects.templates.create",
              "parameterOrder": [
                "projectId"
              ],
              "flatPath": "v1b3/projects/{projectId}/templates",
              "response": {
                "$ref": "Job"
              },
              "httpMethod": "POST",
              "path": "v1b3/projects/{projectId}/templates",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "CreateJobFromTemplateRequest"
              },
              "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API. To create a job, we recommend using `projects.locations.templates.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.create` is not recommended, because your job will always start in `us-central1`. # IAM Permissions Requires the following IAM permission(s) on the project: - `dataflow.jobs.create` - `resourcemanager.projects.get`",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ]
            }
          }
        },
        "locations": {
          "methods": {
            "workerMessages": {
              "description": "Send a worker_message to the service.",
              "flatPath": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "response": {
                "$ref": "SendWorkerMessagesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "id": "dataflow.projects.locations.workerMessages",
              "request": {
                "$ref": "SendWorkerMessagesRequest"
              },
              "path": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "httpMethod": "POST",
              "parameters": {
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "description": "The project to send the WorkerMessages to.",
                  "required": true
                },
                "location": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job."
                }
              },
              "parameterOrder": [
                "projectId",
                "location"
              ]
            }
          },
          "resources": {
            "snapshots": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "location": {
                      "description": "The location to list snapshots in.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The project ID to list snapshots for."
                    },
                    "jobId": {
                      "location": "query",
                      "type": "string",
                      "description": "If specified, list snapshots created from this job."
                    }
                  },
                  "description": "Lists snapshots.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "response": {
                    "$ref": "ListSnapshotsResponse"
                  },
                  "id": "dataflow.projects.locations.snapshots.list",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                },
                "delete": {
                  "id": "dataflow.projects.locations.snapshots.delete",
                  "httpMethod": "DELETE",
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "parameters": {
                    "location": {
                      "required": true,
                      "location": "path",
                      "description": "The location that contains this snapshot.",
                      "type": "string"
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to."
                    },
                    "snapshotId": {
                      "location": "path",
                      "type": "string",
                      "description": "The ID of the snapshot.",
                      "required": true
                    }
                  },
                  "description": "Deletes a snapshot.",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "response": {
                    "$ref": "DeleteSnapshotResponse"
                  }
                },
                "get": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "httpMethod": "GET",
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "id": "dataflow.projects.locations.snapshots.get",
                  "parameters": {
                    "snapshotId": {
                      "required": true,
                      "description": "The ID of the snapshot.",
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to."
                    },
                    "location": {
                      "required": true,
                      "type": "string",
                      "description": "The location that contains this snapshot.",
                      "location": "path"
                    }
                  },
                  "description": "Gets information about a snapshot."
                }
              }
            },
            "configStoreSettings": {
              "methods": {
                "list": {
                  "description": "Lists ConfigStoreSettings.",
                  "id": "dataflow.projects.locations.configStoreSettings.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource whose settings are being listed.",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of settings to return.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListConfigStoreSettings` call.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings",
                  "response": {
                    "$ref": "ListConfigStoreSettingsResponse"
                  }
                },
                "resolve": {
                  "id": "dataflow.projects.locations.configStoreSettings.resolve",
                  "path": "v1b3/{+name}:resolve",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "description": "Required. The name of the setting to resolve."
                    }
                  },
                  "description": "Resolves effective value of a ConfigStoreSetting.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}:resolve",
                  "response": {
                    "$ref": "ResolveConfigStoreSettingResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "request": {
                    "$ref": "ResolveConfigStoreSettingRequest"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the ConfigStoreSetting to retrieve."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1b3/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "id": "dataflow.projects.locations.configStoreSettings.get",
                  "description": "Gets a ConfigStoreSetting.",
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}",
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  }
                },
                "delete": {
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "description": "Required. The name of the ConfigStoreSetting to delete.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "id": "dataflow.projects.locations.configStoreSettings.delete",
                  "description": "Deletes an existing ConfigStoreSetting.",
                  "path": "v1b3/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource where this setting will be created.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "configStoreSettingId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID to use for the setting."
                    }
                  },
                  "request": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "id": "dataflow.projects.locations.configStoreSettings.create",
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings",
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "description": "Creates a new ConfigStoreSetting."
                }
              }
            },
            "flexTemplates": {
              "methods": {
                "launch": {
                  "id": "dataflow.projects.locations.flexTemplates.launch",
                  "path": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "httpMethod": "POST",
                  "parameters": {
                    "location": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request. E.g., us-central1, us-west1."
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string"
                    }
                  },
                  "description": "Launch a job with a FlexTemplate. # IAM Permissions Requires the following IAM permission(s) on the resource: - `dataflow.jobs.create` - `resourcemanager.projects.get` - `iam.serviceAccounts.actAs` - `storage.buckets.get` - `storage.buckets.create` (Required if the default staging bucket must be created)",
                  "request": {
                    "$ref": "LaunchFlexTemplateRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "response": {
                    "$ref": "LaunchFlexTemplateResponse"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ]
                }
              }
            },
            "jobs": {
              "resources": {
                "snapshots": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "id": "dataflow.projects.locations.jobs.snapshots.list",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "response": {
                        "$ref": "ListSnapshotsResponse"
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "httpMethod": "GET",
                      "description": "Lists snapshots.",
                      "parameters": {
                        "projectId": {
                          "type": "string",
                          "description": "The project ID to list snapshots for.",
                          "required": true,
                          "location": "path"
                        },
                        "location": {
                          "description": "The location to list snapshots in.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "jobId": {
                          "description": "If specified, list snapshots created from this job.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ]
                    }
                  }
                },
                "debug": {
                  "methods": {
                    "sendCapture": {
                      "description": "Send encoded debug capture data for component.",
                      "request": {
                        "$ref": "SendDebugCaptureRequest"
                      },
                      "id": "dataflow.projects.locations.jobs.debug.sendCapture",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "parameters": {
                        "projectId": {
                          "type": "string",
                          "description": "The project id.",
                          "required": true,
                          "location": "path"
                        },
                        "jobId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "The job id."
                        },
                        "location": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                        }
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "httpMethod": "POST",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "response": {
                        "$ref": "SendDebugCaptureResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ]
                    },
                    "getWorkerStacktraces": {
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getWorkerStacktraces",
                      "parameters": {
                        "jobId": {
                          "type": "string",
                          "location": "path",
                          "description": "The job for which to get stacktraces.",
                          "required": true
                        },
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "description": "The project id.",
                          "type": "string"
                        },
                        "location": {
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getWorkerStacktraces",
                      "response": {
                        "$ref": "GetWorkerStacktracesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "id": "dataflow.projects.locations.jobs.debug.getWorkerStacktraces",
                      "description": "Get worker stacktraces from debug capture.",
                      "request": {
                        "$ref": "GetWorkerStacktracesRequest"
                      }
                    },
                    "getConfig": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "description": "Get encoded debug configuration for component. Not cacheable.",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "response": {
                        "$ref": "GetDebugConfigResponse"
                      },
                      "request": {
                        "$ref": "GetDebugConfigRequest"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "id": "dataflow.projects.locations.jobs.debug.getConfig",
                      "httpMethod": "POST",
                      "parameters": {
                        "projectId": {
                          "type": "string",
                          "location": "path",
                          "description": "The project id.",
                          "required": true
                        },
                        "jobId": {
                          "required": true,
                          "description": "The job id.",
                          "type": "string",
                          "location": "path"
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    }
                  }
                },
                "stages": {
                  "methods": {
                    "getExecutionDetails": {
                      "id": "dataflow.projects.locations.jobs.stages.getExecutionDetails",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned."
                        },
                        "location": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                        },
                        "stageId": {
                          "location": "path",
                          "type": "string",
                          "description": "The stage for which to fetch information.",
                          "required": true
                        },
                        "startTime": {
                          "description": "Lower time bound of work items to include, by start time.",
                          "type": "string",
                          "format": "google-datetime",
                          "location": "query"
                        },
                        "endTime": {
                          "location": "query",
                          "type": "string",
                          "format": "google-datetime",
                          "description": "Upper time bound of work items to include, by start time."
                        },
                        "projectId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "A project id."
                        },
                        "pageSize": {
                          "description": "If specified, determines the maximum number of work items to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "jobId": {
                          "description": "The job to get execution details for.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "response": {
                        "$ref": "StageExecutionDetails"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId",
                        "stageId"
                      ],
                      "description": "Request detailed information about the execution status of a stage of the job. EXPERIMENTAL. This API is subject to change or removal without notice. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job.",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails"
                    }
                  }
                },
                "workItems": {
                  "methods": {
                    "lease": {
                      "description": "Leases a dataflow WorkItem to run.",
                      "parameters": {
                        "projectId": {
                          "type": "string",
                          "location": "path",
                          "description": "Identifies the project this worker belongs to.",
                          "required": true
                        },
                        "location": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job."
                        },
                        "jobId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Identifies the workflow job this worker belongs to."
                        }
                      },
                      "httpMethod": "POST",
                      "id": "dataflow.projects.locations.jobs.workItems.lease",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "request": {
                        "$ref": "LeaseWorkItemRequest"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "response": {
                        "$ref": "LeaseWorkItemResponse"
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease"
                    },
                    "reportStatus": {
                      "id": "dataflow.projects.locations.jobs.workItems.reportStatus",
                      "request": {
                        "$ref": "ReportWorkItemStatusRequest"
                      },
                      "description": "Reports the status of dataflow WorkItems leased by a worker.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "response": {
                        "$ref": "ReportWorkItemStatusResponse"
                      },
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The project which owns the WorkItem's job."
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "jobId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The job which the WorkItem is part of."
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "httpMethod": "POST"
                    }
                  }
                },
                "messages": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "id": "dataflow.projects.locations.jobs.messages.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "A project id."
                        },
                        "jobId": {
                          "type": "string",
                          "required": true,
                          "description": "The job to get messages about.",
                          "location": "path"
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "endTime": {
                          "location": "query",
                          "description": "Return only messages with timestamps < end_time. The default is now (i.e. return up to the latest messages available).",
                          "format": "google-datetime",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                          "location": "query"
                        },
                        "minimumImportance": {
                          "type": "string",
                          "enum": [
                            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                            "JOB_MESSAGE_DEBUG",
                            "JOB_MESSAGE_DETAILED",
                            "JOB_MESSAGE_BASIC",
                            "JOB_MESSAGE_WARNING",
                            "JOB_MESSAGE_ERROR"
                          ],
                          "description": "Filter to only get messages with importance >= level",
                          "enumDescriptions": [
                            "The message importance isn't specified, or is unknown.",
                            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                          ],
                          "location": "query"
                        },
                        "startTime": {
                          "type": "string",
                          "format": "google-datetime",
                          "location": "query",
                          "description": "If specified, return only messages with timestamps >= start_time. The default is the job creation time (i.e. beginning of messages)."
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "response": {
                        "$ref": "ListJobMessagesResponse"
                      },
                      "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.messages.list` permission on the job.",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "getMetrics": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "response": {
                    "$ref": "JobMetrics"
                  },
                  "id": "dataflow.projects.locations.jobs.getMetrics",
                  "httpMethod": "GET",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "A project id.",
                      "type": "string",
                      "required": true
                    },
                    "startTime": {
                      "location": "query",
                      "type": "string",
                      "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                      "format": "google-datetime"
                    },
                    "location": {
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "path",
                      "type": "string"
                    },
                    "jobId": {
                      "type": "string",
                      "required": true,
                      "description": "The job to get metrics for.",
                      "location": "path"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job.",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ]
                },
                "snapshot": {
                  "request": {
                    "$ref": "SnapshotJobRequest"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "description": "The project which owns the job to be snapshotted.",
                      "required": true
                    },
                    "jobId": {
                      "location": "path",
                      "type": "string",
                      "description": "The job to be snapshotted.",
                      "required": true
                    },
                    "location": {
                      "type": "string",
                      "location": "path",
                      "description": "The location that contains this job.",
                      "required": true
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "httpMethod": "POST",
                  "id": "dataflow.projects.locations.jobs.snapshot",
                  "description": "Snapshot the state of a streaming job. # IAM Permissions Requires the `dataflow.jobs.snapshot` permission on the job.",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, because you can only get the list of jobs that are running in `us-central1`. `projects.locations.jobs.list` and `projects.jobs.list` support filtering the list of jobs by name. Filtering by name isn't supported by `projects.jobs.aggregated`. # IAM Permissions Requires the `dataflow.jobs.list` permission on the project.",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "id": "dataflow.projects.locations.jobs.list",
                  "httpMethod": "GET",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "parameters": {
                    "name": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The job name."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The kind of filter to use.",
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                        "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                        "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                        "Filters the jobs that are running ordered on the creation timestamp."
                      ],
                      "enum": [
                        "UNKNOWN",
                        "ALL",
                        "TERMINATED",
                        "ACTIVE"
                      ]
                    },
                    "view": {
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "location": "query",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "deprecated": true,
                      "type": "string",
                      "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews."
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "type": "string",
                      "description": "The project which owns the jobs.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "response": {
                    "$ref": "ListJobsResponse"
                  }
                },
                "update": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "response": {
                    "$ref": "Job"
                  },
                  "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`. # IAM Permissions 1. Requires the `dataflow.jobs.cancel` permission to cancel a job. 2. Requires the `dataflow.jobs.updateContents` permission to update runtime parameters.",
                  "request": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "id": "dataflow.projects.locations.jobs.update",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask.",
                      "location": "query"
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "description": "The job ID.",
                      "location": "path"
                    },
                    "location": {
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "httpMethod": "PUT"
                },
                "get": {
                  "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.jobs.get` permission on the job.",
                  "parameters": {
                    "view": {
                      "location": "query",
                      "description": "The level of information requested in response.",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "type": "string"
                    },
                    "location": {
                      "type": "string",
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path"
                    },
                    "jobId": {
                      "description": "The job ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "httpMethod": "GET",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "response": {
                    "$ref": "Job"
                  },
                  "id": "dataflow.projects.locations.jobs.get",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                },
                "getExecutionDetails": {
                  "description": "Request detailed information about the execution status of the job. EXPERIMENTAL. This API is subject to change or removal without notice. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "response": {
                    "$ref": "JobExecutionDetails"
                  },
                  "id": "dataflow.projects.locations.jobs.getExecutionDetails",
                  "httpMethod": "GET",
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "A project id.",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "jobId": {
                      "description": "The job to get execution details for.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "If specified, determines the maximum number of stages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ]
                },
                "create": {
                  "id": "dataflow.projects.locations.jobs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "response": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "request": {
                    "$ref": "Job"
                  },
                  "description": "Creates a Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API. # IAM Permissions 1. Requires the `dataflow.jobs.create` permission on the project. 2. `resourcemanager.projects.get` (Specifically required for regional endpoints to resolve regional resource metadata)",
                  "httpMethod": "POST",
                  "parameters": {
                    "replaceJobId": {
                      "type": "string",
                      "location": "query",
                      "description": "Deprecated. This field is now in the Job message."
                    },
                    "view": {
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "type": "string",
                      "location": "query",
                      "description": "The level of information requested in response.",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ]
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The ID of the Cloud Platform project that the job belongs to."
                    },
                    "location": {
                      "location": "path",
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "required": true
                    }
                  }
                }
              }
            },
            "templates": {
              "methods": {
                "create": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "id": "dataflow.projects.locations.templates.create",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "parameters": {
                    "location": {
                      "location": "path",
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API. To create a job, we recommend using `projects.locations.templates.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.create` is not recommended, because your job will always start in `us-central1`. # IAM Permissions Requires the following IAM permission(s) on the project: - `dataflow.jobs.create` - `resourcemanager.projects.get`",
                  "request": {
                    "$ref": "CreateJobFromTemplateRequest"
                  }
                },
                "get": {
                  "description": "Get the template associated with a template. To get the template, we recommend using `projects.locations.templates.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.get` is not recommended, because only templates that are running in `us-central1` are retrieved. # IAM Permissions Requires the `resourcemanager.projects.get` permission on the project.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "id": "dataflow.projects.locations.templates.get",
                  "parameters": {
                    "gcsPath": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'."
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string"
                    },
                    "view": {
                      "enumDescriptions": [
                        "Template view that retrieves only the metadata associated with the template."
                      ],
                      "type": "string",
                      "enum": [
                        "METADATA_ONLY"
                      ],
                      "location": "query",
                      "description": "The view to retrieve. Defaults to METADATA_ONLY."
                    },
                    "location": {
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "response": {
                    "$ref": "GetTemplateResponse"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:get"
                },
                "launch": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "response": {
                    "$ref": "LaunchTemplateResponse"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "request": {
                    "$ref": "LaunchTemplateParameters"
                  },
                  "parameters": {
                    "gcsPath": {
                      "description": "A Cloud Storage path to the template to use to create the job. Must be valid Cloud Storage URL, beginning with `gs://`.",
                      "type": "string",
                      "location": "query"
                    },
                    "location": {
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "required": true,
                      "type": "string"
                    },
                    "dynamicTemplate.stagingLocation": {
                      "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`.",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If true, the request is validated but not actually executed. Defaults to false."
                    },
                    "dynamicTemplate.gcsPath": {
                      "description": "Path to the dynamic template specification file on Cloud Storage. The file must be a JSON serialized `DynamicTemplateFileSpec` object.",
                      "type": "string",
                      "location": "query"
                    },
                    "projectId": {
                      "required": true,
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Launches a template. To launch a template, we recommend using `projects.locations.templates.launch` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.launch` is not recommended, because jobs launched from the template will always start in `us-central1`. # IAM Permissions Requires the following IAM permission(s) on the project: - `dataflow.jobs.create` - `resourcemanager.projects.get`",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "id": "dataflow.projects.locations.templates.launch"
                }
              }
            }
          }
        },
        "jobs": {
          "resources": {
            "debug": {
              "methods": {
                "getConfig": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "id": "dataflow.projects.jobs.debug.getConfig",
                  "request": {
                    "$ref": "GetDebugConfigRequest"
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "description": "Get encoded debug configuration for component. Not cacheable.",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "response": {
                    "$ref": "GetDebugConfigResponse"
                  },
                  "parameters": {
                    "jobId": {
                      "description": "The job id.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "projectId": {
                      "description": "The project id.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "sendCapture": {
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "description": "Send encoded debug capture data for component.",
                  "request": {
                    "$ref": "SendDebugCaptureRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "response": {
                    "$ref": "SendDebugCaptureResponse"
                  },
                  "id": "dataflow.projects.jobs.debug.sendCapture",
                  "httpMethod": "POST",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The project id."
                    },
                    "jobId": {
                      "location": "path",
                      "required": true,
                      "description": "The job id.",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "workItems": {
              "methods": {
                "reportStatus": {
                  "description": "Reports the status of dataflow WorkItems leased by a worker.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "request": {
                    "$ref": "ReportWorkItemStatusRequest"
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "response": {
                    "$ref": "ReportWorkItemStatusResponse"
                  },
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The project which owns the WorkItem's job."
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The job which the WorkItem is part of."
                    }
                  },
                  "httpMethod": "POST",
                  "id": "dataflow.projects.jobs.workItems.reportStatus"
                },
                "lease": {
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "parameters": {
                    "projectId": {
                      "description": "Identifies the project this worker belongs to.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "jobId": {
                      "type": "string",
                      "required": true,
                      "description": "Identifies the workflow job this worker belongs to.",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "LeaseWorkItemRequest"
                  },
                  "description": "Leases a dataflow WorkItem to run.",
                  "id": "dataflow.projects.jobs.workItems.lease",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "response": {
[...]
