{
  "title": "Data Lineage API",
  "version": "v1",
  "mtlsRootUrl": "https://datalineage.mtls.googleapis.com/",
  "basePath": "",
  "name": "datalineage",
  "version_module": true,
  "ownerDomain": "google.com",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    }
  },
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260921",
  "documentationLink": "https://cloud.google.com/data-catalog",
  "fullyEncodeReservedExpansion": true,
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://datalineage.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://datalineage.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://datalineage.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://datalineage.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://datalineage.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://datalineage.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://datalineage.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://datalineage.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://datalineage.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://datalineage.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://datalineage.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://datalineage.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://datalineage.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://datalineage.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://datalineage.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://datalineage.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://datalineage.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "location": "europe-west15",
      "endpointUrl": "https://datalineage.europe-west15.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://datalineage.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://datalineage.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://datalineage.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://datalineage.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://datalineage.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://datalineage.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://datalineage.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://datalineage.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://datalineage.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://datalineage.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://datalineage.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "endpointUrl": "https://datalineage.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://datalineage.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://datalineage.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://datalineage.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://datalineage.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://datalineage.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://datalineage.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "deprecated": true,
      "location": "us-west8",
      "endpointUrl": "https://datalineage.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us",
      "endpointUrl": "https://datalineage.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "rootUrl": "https://datalineage.googleapis.com/",
  "id": "datalineage:v1",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/datalineage.read-write": {
          "description": "See, edit, configure, and delete your Google Cloud Data Lineage data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/datalineage.readonly": {
          "description": "See your Google Cloud Data Lineage data and the email address of your Google Account"
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudDatacatalogLineageV1EventLink": {
      "id": "GoogleCloudDatacatalogLineageV1EventLink",
      "properties": {
        "dependencyInfo": {
          "description": "Optional. Describes how the target depends on the source.",
          "$ref": "GoogleCloudDatacatalogLineageV1DependencyInfo"
        },
        "source": {
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference",
          "description": "Required. Reference to the source entity"
        },
        "target": {
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference",
          "description": "Required. Reference to the target entity"
        }
      },
      "type": "object",
      "description": "A lineage between source and target entities."
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestion": {
      "properties": {
        "rules": {
          "description": "Optional. List of rules for Data Lineage ingestion.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRule"
          }
        }
      },
      "description": "Defines how Lineage should be ingested for a given resource.",
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestion",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1LineageLinkLineageProcess": {
      "description": "Process metadata for the link.",
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1LineageLinkLineageProcess",
      "properties": {
        "process": {
          "$ref": "GoogleCloudDatacatalogLineageV1Process",
          "description": "Process that created the link."
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1OperationMetadata": {
      "type": "object",
      "description": "Metadata describing the operation.",
      "id": "GoogleCloudDatacatalogLineageV1OperationMetadata",
      "properties": {
        "operationType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unused.",
            "The resource deletion operation.",
            "The resource creation operation."
          ],
          "type": "string",
          "description": "Output only. The type of the operation being performed.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "DELETE",
            "CREATE"
          ]
        },
        "endTime": {
          "description": "Output only. The timestamp of the operation termination, regardless of its success. This field is unset if the operation is still ongoing.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp of the operation submission to the server.",
          "format": "google-datetime"
        },
        "resource": {
          "readOnly": true,
          "description": "Output only. The [relative name] (https://cloud.google.com//apis/design/resource_names#relative_resource_name) of the resource being operated on.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current operation state.",
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "The operation has been created but is not yet started.",
            "The operation is underway.",
            "The operation completed successfully.",
            "The operation is no longer running and did not succeed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true
        },
        "resourceUuid": {
          "readOnly": true,
          "description": "Output only. The UUID of the resource being operated on.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleIntegrationSelector": {
      "properties": {
        "integration": {
          "enum": [
            "INTEGRATION_UNSPECIFIED",
            "BIGQUERY",
            "DATAPROC",
            "LOOKER_CORE",
            "MANAGED_AIRFLOW"
          ],
          "description": "Required. Integration to which the rule applies. This field can be used to specify the integration against which the ingestion rule should be applied.",
          "enumDescriptions": [
            "Integration is Unspecified",
            "BigQuery",
            "Dataproc",
            "Looker Core",
            "Managed Service for Apache Airflow (formerly known as Cloud Composer)"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleIntegrationSelector",
      "description": "Integration selector of the rule. The rule is only applied to the Integration selected by the selector.",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestRootCriteria": {
      "properties": {
        "entities": {
          "$ref": "GoogleCloudDatacatalogLineageV1MultipleEntityReference",
          "description": "Optional. The entities to initiate the search from. Entities can be specified by FQN only, or by FQN and field. To search by FQN and all available fields for that FQN, use the wildcard `*` as the field value."
        }
      },
      "id": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestRootCriteria",
      "description": "Criteria for the root of the search.",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1LineageLinkDependencyInfo": {
      "id": "GoogleCloudDatacatalogLineageV1LineageLinkDependencyInfo",
      "properties": {
        "dependencyType": {
          "type": "string",
          "enumDescriptions": [
            "Dependency type unspecified.",
            "Exact data copy without any change.",
            "Other types of dependencies like filtering or grouping."
          ],
          "description": "The type of dependency.",
          "enum": [
            "DEPENDENCY_TYPE_UNSPECIFIED",
            "EXACT_COPY",
            "OTHER"
          ]
        }
      },
      "description": "Dependency info describes how one entity is dependent on another.",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleLineageEnablement": {
      "properties": {
        "enabled": {
          "description": "Optional. If true, ingestion of lineage should be enabled. If false, it should be disabled. If unspecified, the system default value is used.",
          "type": "boolean"
        }
      },
      "description": "Lineage enablement configuration. Defines configurations for the ingestion of lineage for the resource and its children.",
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleLineageEnablement",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1ListRunsResponse": {
      "description": "Response message for ListRuns.",
      "id": "GoogleCloudDatacatalogLineageV1ListRunsResponse",
      "type": "object",
      "properties": {
        "runs": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1Run"
          },
          "type": "array",
          "description": "The runs from the specified project and location."
        },
        "nextPageToken": {
          "description": "The token to specify as `page_token` in the next call to get the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesResponse": {
      "type": "object",
      "description": "Response message for BatchSearchLinkProcesses.",
      "id": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesResponse",
      "properties": {
        "processLinks": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1ProcessLinks"
          },
          "type": "array",
          "description": "An array of processes associated with the specified links."
        },
        "nextPageToken": {
          "description": "The token to specify as `page_token` in the subsequent call to get the next page. Omitted if there are no more pages in the response.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1SearchLineageStreamingResponse": {
      "description": "Response message for SearchLineageStreaming.",
      "type": "object",
      "properties": {
        "links": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1LineageLink"
          },
          "readOnly": true,
          "description": "Output only. The lineage links that match the search criteria. Can be empty if no links match."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. If non-empty, the result set might be incomplete. Currently, only locations are supported. Format: `projects/[PROJECT_NUMBER]/locations/[LOCATION]` Example: projects/123456789/locations/us-east1",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingResponse"
    },
    "GoogleCloudDatacatalogLineageV1Run": {
      "id": "GoogleCloudDatacatalogLineageV1Run",
      "properties": {
        "startTime": {
          "description": "Required. The timestamp of the start of the run.",
          "type": "string",
          "format": "google-datetime"
        },
        "attributes": {
          "type": "object",
          "description": "Optional. The attributes of the run. Should only be used for the purpose of non-semantic management (classifying, describing or labeling the run). Up to 100 attributes are allowed.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "displayName": {
          "description": "Optional. A human-readable name you can set to display in a user interface. Must be not longer than 200 characters and only contain UTF-8 letters or numbers, spaces or characters like `_-:&.`",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The resource name of the run. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}`. Can be specified or auto-assigned. {run} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. The timestamp of the end of the run.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "STARTED",
            "COMPLETED",
            "FAILED",
            "ABORTED"
          ],
          "description": "Required. The state of the run.",
          "enumDescriptions": [
            "The state is unknown. The true state may be any of the below or a different state that is not supported here explicitly.",
            "The run is still executing.",
            "The run completed.",
            "The run failed.",
            "The run aborted."
          ]
        }
      },
      "description": "A lineage run represents an execution of a process that creates lineage events.",
      "type": "object"
    },
    "GoogleTypeInterval": {
      "type": "object",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "id": "GoogleTypeInterval",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1LineageLink": {
      "id": "GoogleCloudDatacatalogLineageV1LineageLink",
      "properties": {
        "location": {
          "description": "The location where the LineageEvent that created the link is stored.",
          "type": "string"
        },
        "target": {
          "description": "The entity that is the **target** of this link.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "dependencyInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1LineageLinkDependencyInfo"
          },
          "description": "Describes how the target entity is dependent on the source entity."
        },
        "source": {
          "description": "The entity that is the **source** of this link.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "depth": {
          "description": "Depth of the current link in the graph starting from 1.",
          "type": "integer",
          "format": "int32"
        },
        "processes": {
          "description": "Processes metadata associated with the link.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1LineageLinkLineageProcess"
          }
        }
      },
      "description": "Lineage link between two entities.",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1Process": {
      "properties": {
        "attributes": {
          "type": "object",
          "description": "Optional. The attributes of the process. Should only be used for the purpose of non-semantic management (classifying, describing or labeling the process). Up to 100 attributes are allowed.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "displayName": {
          "description": "Optional. A human-readable name you can set to display in a user interface. Must be not longer than 200 characters and only contain UTF-8 letters or numbers, spaces or characters like `_-:&.`",
          "type": "string"
        },
        "origin": {
          "$ref": "GoogleCloudDatacatalogLineageV1Origin",
          "description": "Optional. The origin of this process and its runs and lineage events."
        },
        "name": {
          "description": "Immutable. The resource name of the lineage process. Format: `projects/{project}/locations/{location}/processes/{process}`. Can be specified or auto-assigned. {process} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1Process",
      "description": "A process is the definition of a data transformation operation."
    },
    "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchFilters": {
      "type": "object",
      "description": "Filters for the search.",
      "properties": {
        "timeRange": {
          "description": "Optional. Time interval to search for lineage. If unspecified, all lineage is returned. Currently, at most one of `start_time` and `end_time` can be set.",
          "$ref": "GoogleTypeInterval"
        },
        "dependencyTypes": {
          "items": {
            "enumDescriptions": [
              "Dependency type unspecified.",
              "Exact data copy without any change.",
              "Other types of dependencies like filtering or grouping."
            ],
            "enum": [
              "DEPENDENCY_TYPE_UNSPECIFIED",
              "EXACT_COPY",
              "OTHER"
            ],
            "type": "string"
          },
          "description": "Optional. Types of dependencies between entities to retrieve. If unspecified, all dependency types are returned.",
          "type": "array"
        },
        "entitySet": {
          "description": "Optional. Entity set restriction. If unspecified, the method returns all entities.",
          "enumDescriptions": [
            "The entity set is unspecified. Returns all the data.",
            "Returns entities with only FQN specified. For example, entities with the `field` field set are not returned."
          ],
          "type": "string",
          "enum": [
            "ENTITY_SET_UNSPECIFIED",
            "ENTITIES"
          ]
        }
      },
      "id": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchFilters"
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1Config": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`"
        },
        "ingestion": {
          "description": "Optional. Ingestion rule for Data Lineage ingestion.",
          "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestion"
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a config from overwriting each other. It is required that systems make use of the `etag` in the read-modify-write cycle to perform config updates in order to avoid race conditions: An `etag` is returned in the response to `GetConfig`, and systems are expected to put that etag in the request to `UpdateConfig` to ensure that their change will be applied to the same version of the config. If an `etag` is not provided in the call to `UpdateConfig`, then the existing config, if any, will be overwritten."
        }
      },
      "type": "object",
      "description": "Configuration for Data Lineage. Defines different configuration options for Lineage customers to control behaviour of lineage systems.",
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
    },
    "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesRequest": {
      "properties": {
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of processes to return in a single page of the response. A page may contain fewer results than this value."
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. The page token received from a previous `BatchSearchLinkProcesses` call. Use it to get the next page. When requesting subsequent pages of a response, remember that all parameters must match the values you provided in the original request."
        },
        "links": {
          "description": "Required. An array of links to check for their associated LineageProcesses. The maximum number of items in this array is 100. If the request contains more than 100 links, it returns the `INVALID_ARGUMENT` error. Format: `projects/{project}/locations/{location}/links/{link}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesRequest",
      "type": "object",
      "description": "Request message for BatchSearchLinkProcesses."
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1MultipleEntityReference": {
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1MultipleEntityReference",
      "properties": {
        "entities": {
          "description": "Optional. The list of entities to search for links. The maximum number of entities is 20.",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
          },
          "type": "array"
        }
      },
      "description": "Multiple entity reference for SearchLinksRequest."
    },
    "GoogleCloudDatacatalogLineageV1SearchLinksRequest": {
      "id": "GoogleCloudDatacatalogLineageV1SearchLinksRequest",
      "properties": {
        "targets": {
          "$ref": "GoogleCloudDatacatalogLineageV1MultipleEntityReference",
          "description": "Optional. Send a list of asset information in the **targets** field to retrieve all links that lead from upstream assets to the specified assets. This field is similar to the `target` target field but allows providing multiple entities. All entities within the `MultipleEntityReference` must have the same `fully_qualified_name`."
        },
        "target": {
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference",
          "description": "Optional. Send asset information in the **target** field to retrieve all links that lead from upstream assets to the specified asset."
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of links to return in a single page of the response. A page may contain fewer links than this value. If unspecified, at most 10 links are returned. Maximum value is 100; values greater than 100 are reduced to 100.",
          "type": "integer"
        },
        "sources": {
          "$ref": "GoogleCloudDatacatalogLineageV1MultipleEntityReference",
          "description": "Optional. Send a list of asset information in the **sources** field to retrieve all links that lead from the specified assets to downstream assets. This field is similar to the `source` source field but allows providing multiple entities. All entities within the `MultipleEntityReference` must have the same `fully_qualified_name`."
        },
        "source": {
          "description": "Optional. Send asset information in the **source** field to retrieve all links that lead from the specified asset to downstream assets.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. The page token received from a previous `SearchLinksRequest` call. Use it to get the next page. When requesting subsequent pages of a response, remember that all parameters must match the values you provided in the original request."
        }
      },
      "description": "Request message for SearchLinks.",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1SearchLinksResponse": {
      "description": "Response message for SearchLinks.",
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1SearchLinksResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to specify as `page_token` in the subsequent call to get the next page. Omitted if there are no more pages in the response."
        },
        "links": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1Link"
          },
          "description": "The list of links for a given asset. Can be empty if the asset has no relations of requested type (source or target).",
          "type": "array"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1ProcessOpenLineageRunEventResponse": {
      "description": "Response message for ProcessOpenLineageRunEvent.",
      "id": "GoogleCloudDatacatalogLineageV1ProcessOpenLineageRunEventResponse",
      "type": "object",
      "properties": {
        "run": {
          "type": "string",
          "description": "Created run name. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}`."
        },
        "lineageEvents": {
          "description": "Created lineage event names. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}/lineageEvents/{lineage_event}`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "process": {
          "description": "Created process name. Format: `projects/{project}/locations/{location}/processes/{process}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1EntityReference": {
      "id": "GoogleCloudDatacatalogLineageV1EntityReference",
      "type": "object",
      "properties": {
        "field": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Field path within the entity. Each nesting level should be a separate value in the repeated field. The order matters. Must be empty for asset level lineage For example to address \"salary.net\" subfield where \"salary\" is a column and \"net\" is a proto field two values in the `field` should be reported, the first is \"salary\" and the second is \"net\". Each field length is limited to 500 characters. Maximum supported nesting level is 20."
        },
        "fullyQualifiedName": {
          "type": "string",
          "description": "Required. [Fully Qualified Name (FQN)](https://cloud.google.com/dataplex/docs/fully-qualified-names) of the entity."
        }
      },
      "description": "The soft reference to everything you can attach a lineage event to."
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchLimits": {
      "id": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchLimits",
      "description": "Limits for the search results.",
      "properties": {
        "maxDepth": {
          "description": "Optional. The maximum depth of the search. The default value is 5 and maximum value is 100.",
          "type": "integer",
          "format": "int32"
        },
        "maxProcessPerLink": {
          "description": "Optional. The maximum number of processes to return per link. The default value is 0 and the maximum value is 100. If this value is non-zero, the response will contain process names for the links. To retrieve full process details in the response, include `links.processes.process` in the [FieldMask](https://developers.google.com/workspace/docs/api/how-tos/field-masks#read_with_a_field_mask).",
          "type": "integer",
          "format": "int32"
        },
        "maxResults": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of links to return in the response. The default value is 1_000 and the maximum value is 10_000."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1ListProcessesResponse": {
      "type": "object",
      "description": "Response message for ListProcesses.",
      "properties": {
        "processes": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1Process"
          },
          "description": "The processes from the specified project and location.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token to specify as `page_token` in the next call to get the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogLineageV1ListProcessesResponse"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "GoogleLongrunningCancelOperationRequest",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequest": {
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequest",
      "properties": {
        "filters": {
          "$ref": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchFilters",
          "description": "Optional. Filters for the search."
        },
        "rootCriteria": {
          "description": "Required. Criteria for the root of the search.",
          "$ref": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestRootCriteria"
        },
        "locations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The locations to search in. This list should contain the location from the `parent` field."
        },
        "limits": {
          "description": "Optional. Limits for the search.",
          "$ref": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchLimits"
        },
        "direction": {
          "enum": [
            "SEARCH_DIRECTION_UNSPECIFIED",
            "DOWNSTREAM",
            "UPSTREAM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Direction is unspecified.",
            "Retrieve links that lead from the specified asset to downstream assets.",
            "Retrieve links that lead from upstream assets to the specified asset."
          ],
          "description": "Required. Direction of the search."
        }
      },
      "description": "Request message for SearchLineageStreaming."
    },
    "GoogleCloudDatacatalogLineageV1Origin": {
      "description": "Origin of a process.",
      "id": "GoogleCloudDatacatalogLineageV1Origin",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "If the source_type isn't CUSTOM, the value of this field should be a Google Cloud resource name of the system, which reports lineage. The project and location parts of the resource name must match the project and location of the lineage resource being created. Examples: - `{source_type: COMPOSER, name: \"projects/foo/locations/us/environments/bar\"}` - `{source_type: BIGQUERY, name: \"projects/foo/locations/eu\"}` - `{source_type: CUSTOM, name: \"myCustomIntegration\"}`"
        },
        "sourceType": {
          "description": "Type of the source. Use of a source_type other than `CUSTOM` for process creation or updating is highly discouraged. It might be restricted in the future without notice. There will be increase in cost if you use any of the source types other than `CUSTOM`.",
          "enumDescriptions": [
            "Source is Unspecified",
            "A custom source",
            "BigQuery",
            "Data Fusion",
            "Composer",
            "Looker Studio",
            "Dataproc",
            "Vertex AI",
            "Dataflow",
            "Looker Core"
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "CUSTOM",
            "BIGQUERY",
            "DATA_FUSION",
            "COMPOSER",
            "LOOKER_STUDIO",
            "DATAPROC",
            "VERTEX_AI",
            "DATAFLOW",
            "LOOKER_CORE"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1DependencyInfo": {
      "properties": {
        "dependencyType": {
          "type": "string",
          "description": "Required. Type of dependency.",
          "enumDescriptions": [
            "Dependency type unspecified.",
            "Exact data copy without any change.",
            "Other types of dependencies like filtering or grouping."
          ],
          "enum": [
            "DEPENDENCY_TYPE_UNSPECIFIED",
            "EXACT_COPY",
            "OTHER"
          ]
        }
      },
      "description": "Dependency info describes how one entity depends on another.",
      "id": "GoogleCloudDatacatalogLineageV1DependencyInfo",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1ListLineageEventsResponse": {
      "id": "GoogleCloudDatacatalogLineageV1ListLineageEventsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to specify as `page_token` in the next call to get the next page. If this field is omitted, there are no subsequent pages."
        },
        "lineageEvents": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
          },
          "type": "array",
          "description": "Lineage events from the specified project and location."
        }
      },
      "description": "Response message for ListLineageEvents."
    },
    "GoogleCloudDatacatalogLineageV1ProcessLinks": {
      "id": "GoogleCloudDatacatalogLineageV1ProcessLinks",
      "description": "Links associated with a specific process.",
      "properties": {
        "links": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1ProcessLinkInfo"
          },
          "description": "An array containing link details objects of the links provided in the original request. A single process can result in creating multiple links. If any of the links you provide in the request are created by the same process, they all are included in this array.",
          "type": "array"
        },
        "process": {
          "type": "string",
          "description": "The process name in the format of `projects/{project}/locations/{location}/processes/{process}`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1Link": {
      "description": "Links represent the data flow between **source** (upstream) and **target** (downstream) assets in transformation pipelines. Links are created when LineageEvents record data transformation between related assets.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "The end of the last event establishing this link.",
          "format": "google-datetime",
          "type": "string"
        },
        "dependencyInfo": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1LinkDependencyInfo"
          },
          "type": "array",
          "description": "Optional. The dependency info of the link (applies only to column level links)."
        },
        "target": {
          "description": "The pointer to the entity that is the **target** of this link.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "name": {
          "description": "Output only. Immutable. The name of the link. Format: `projects/{project}/locations/{location}/links/{link}`.",
          "readOnly": true,
          "type": "string"
        },
        "source": {
          "description": "The pointer to the entity that is the **source** of this link.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "startTime": {
          "description": "The start of the first event establishing this link.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDatacatalogLineageV1Link"
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRule": {
      "properties": {
        "integrationSelector": {
          "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleIntegrationSelector",
          "description": "Required. Integration selector of the rule. The rule is only applied to the Integration selected by the selector."
        },
        "lineageEnablement": {
          "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleLineageEnablement",
          "description": "Required. Lineage enablement configuration. Defines configurations for the ingestion of lineage for the resource and its children. If unspecified, the ingestion will be enabled only if it was configured in the resource's parent."
        }
      },
      "type": "object",
      "description": "Ingestion rule for Data Lineage ingestion.",
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRule"
    },
    "GoogleCloudDatacatalogLineageV1LineageEvent": {
      "description": "A lineage event represents an operation on assets. Within the operation, the data flows from the source to the target defined in the links field.",
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1LineageEvent",
      "properties": {
        "links": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1EventLink"
          },
          "description": "Optional. List of source-target pairs. Can't contain more than 100 tuples.",
          "type": "array"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. The end of the transformation which resulted in this lineage event. For streaming scenarios, it should be the end of the period from which the lineage is being reported.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Required. The beginning of the transformation which resulted in this lineage event. For streaming scenarios, it should be the beginning of the period from which the lineage is being reported.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The resource name of the lineage event. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}/lineageEvents/{lineage_event}`. Can be specified or auto-assigned. {lineage_event} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1ProcessLinkInfo": {
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The start of the first event establishing this link-process tuple.",
          "format": "google-datetime"
        },
        "link": {
          "type": "string",
          "description": "The name of the link in the format of `projects/{project}/locations/{location}/links/{link}`."
        },
        "endTime": {
          "type": "string",
          "description": "The end of the last event establishing this link-process tuple.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDatacatalogLineageV1ProcessLinkInfo",
      "type": "object",
      "description": "Link details."
    },
    "GoogleCloudDatacatalogLineageV1LinkDependencyInfo": {
      "id": "GoogleCloudDatacatalogLineageV1LinkDependencyInfo",
      "type": "object",
      "properties": {
        "dependencyType": {
          "type": "string",
          "enumDescriptions": [
            "Dependency type unspecified.",
            "Exact data copy without any change.",
            "Other types of dependencies like filtering or grouping."
          ],
          "enum": [
            "DEPENDENCY_TYPE_UNSPECIFIED",
            "EXACT_COPY",
            "OTHER"
          ],
          "description": "The type of dependency."
        }
      },
      "description": "Dependency info describes how one entity depends on another."
    }
  },
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "config": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/config$"
                    }
                  },
                  "description": "Update the Config for a given resource.",
                  "id": "datalineage.organizations.locations.config.patch",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/config",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "path": "v1/{+name}"
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. REQUIRED: The resource name of the config to be fetched. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/config$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get the Config for a given resource.",
                  "id": "datalineage.organizations.locations.config.get",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/config",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  }
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "httpMethod": "DELETE",
                  "id": "datalineage.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}"
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "datalineage.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "list": {
                  "id": "datalineage.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation's parent resource."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datalineage.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "processes": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "description": "Creates a new process.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datalineage.projects.locations.processes.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The name of the project and its location that should own the process.",
                      "type": "string",
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/processes"
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets the details of the specified process.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the process to get.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$"
                    }
                  },
                  "id": "datalineage.projects.locations.processes.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "description": "Updates a process.",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The list of fields to update. Currently not used. The whole message is updated.",
                      "format": "google-fieldmask"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided.",
                      "location": "query"
                    },
                    "allowMissing": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true and the process is not found, the request inserts it."
                    },
                    "name": {
                      "description": "Immutable. The resource name of the lineage process. Format: `projects/{project}/locations/{location}/processes/{process}`. Can be specified or auto-assigned. {process} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "id": "datalineage.projects.locations.processes.patch",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List processes in the given project and location. List order is descending by insertion time.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1ListProcessesResponse"
                  },
                  "id": "datalineage.projects.locations.processes.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of processes to return. The service may return fewer than this value. If unspecified, at most 50 processes are returned. The maximum value is 100; values greater than 100 are cut to 100.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The page token received from a previous `ListProcesses` call. Specify it to get the next page. When paginating, all other parameters specified in this call must match the parameters of the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The name of the project and its location that owns this collection of processes.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+parent}/processes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameters": {
                    "allowMissing": {
                      "type": "boolean",
                      "description": "Optional. If set to true and the process is not found, the request succeeds but the server doesn't perform any actions.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the process to delete.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "datalineage.projects.locations.processes.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes the process with the specified name.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "runs": {
                  "methods": {
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "datalineage.projects.locations.processes.runs.delete",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                          "description": "Required. The name of the run to delete.",
                          "type": "string",
                          "required": true
                        },
                        "allowMissing": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If set to true and the run is not found, the request succeeds but the server doesn't perform any actions."
                        }
                      },
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Deletes the run with the specified name."
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the details of the specified run.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "datalineage.projects.locations.processes.runs.get",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the run to get.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$"
                        }
                      },
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "datalineage.projects.locations.processes.runs.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "description": "Updates a run.",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "httpMethod": "PATCH",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Immutable. The resource name of the run. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}`. Can be specified or auto-assigned. {run} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Optional. The list of fields to update. Currently not used. The whole message is updated.",
                          "location": "query",
                          "type": "string"
                        },
                        "allowMissing": {
                          "type": "boolean",
                          "description": "Optional. If set to true and the run is not found, the request creates it.",
                          "location": "query"
                        }
                      }
                    },
                    "create": {
                      "parameters": {
                        "requestId": {
                          "type": "string",
                          "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided.",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The name of the process that should own the run.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/runs",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "description": "Creates a new run.",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "id": "datalineage.projects.locations.processes.runs.create"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/runs",
                      "description": "Lists runs in the given project and location. List order is descending by `start_time`.",
                      "id": "datalineage.projects.locations.processes.runs.list",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The name of process that owns this collection of runs.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The page token received from a previous `ListRuns` call. Specify it to get the next page. When paginating, all other parameters specified in this call must match the parameters of the call that provided the page token.",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of runs to return. The service may return fewer than this value. If unspecified, at most 50 runs are returned. The maximum value is 100; values greater than 100 are cut to 100.",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1ListRunsResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  },
                  "resources": {
                    "lineageEvents": {
                      "methods": {
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.get",
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents/{lineageEventsId}",
                          "response": {
                            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
                          },
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+/lineageEvents/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. The name of the lineage event to get.",
                              "required": true
                            }
                          },
                          "httpMethod": "GET",
                          "description": "Gets details of a specified lineage event."
                        },
                        "list": {
                          "description": "Lists lineage events in the given project and location. The list order is not defined.",
                          "path": "v1/{+parent}/lineageEvents",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents",
                          "response": {
                            "$ref": "GoogleCloudDatacatalogLineageV1ListLineageEventsResponse"
                          },
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "description": "Required. The name of the run that owns the collection of lineage events to get.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$"
                            },
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "description": "Optional. The maximum number of lineage events to return. The service may return fewer events than this value. If unspecified, at most 50 events are returned. The maximum value is 100; values greater than 100 are cut to 100.",
                              "type": "integer"
                            },
                            "pageToken": {
                              "description": "Optional. The page token received from a previous `ListLineageEvents` call. Specify it to get the next page. When paginating, all other parameters specified in this call must match the parameters of the call that provided the page token.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET"
                        },
                        "create": {
                          "request": {
                            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
                          },
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "description": "Required. The name of the run that should own the lineage event.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                              "required": true,
                              "location": "path"
                            },
                            "requestId": {
                              "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents",
                          "response": {
                            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
                          },
                          "httpMethod": "POST",
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.create",
                          "path": "v1/{+parent}/lineageEvents",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Creates a new lineage event."
                        },
                        "delete": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents/{lineageEventsId}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.delete",
                          "description": "Deletes the lineage event with the specified name.",
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "description": "Required. The name of the lineage event to delete.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+/lineageEvents/[^/]+$"
                            },
                            "allowMissing": {
                              "description": "Optional. If set to true and the lineage event is not found, the request succeeds but the server doesn't perform any actions.",
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "httpMethod": "DELETE"
                        }
                      }
                    }
                  }
                }
              }
            },
            "config": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "id": "datalineage.projects.locations.config.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/config",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Update the Config for a given resource."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/config",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "id": "datalineage.projects.locations.config.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                      "required": true,
                      "description": "Required. REQUIRED: The resource name of the config to be fetched. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Get the Config for a given resource."
                }
              }
            }
          },
          "methods": {
            "searchLineageStreaming": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datalineage.read-write",
                "https://www.googleapis.com/auth/datalineage.readonly"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The project and location to initiate the search from.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "id": "datalineage.projects.locations.searchLineageStreaming",
              "description": "Retrieves a streaming response of lineage links connected to the requested assets by performing a breadth-first search in the given direction. Links represent the data flow between **source** (upstream) and **target** (downstream) assets in transformation pipelines. Links are stored in the same project as the Lineage Events that create them. This method retrieves links from all valid locations provided in the request. This method supports Column-Level Lineage (CLL) along with wildcard support to retrieve all CLL for an Entity FQN. Following permissions are required to retrieve links: * `datalineage.events.get` permission for the project where the link is stored for entity-level lineage. * `datalineage.events.getFields` permission for the project where the link is stored for column-level lineage. This method also returns processes that created the links if explicitly requested by setting [max_process_per_link](google.cloud.datacatalog.lineage.v1.SearchLineageStreamingRequest.limits.max_process_per_link) is non-zero and full process details are requested via `links.processes.process` in the [FieldMask](https://developers.google.com/workspace/docs/api/how-tos/field-masks#read_with_a_field_mask). Permission required to retrieve processes: * `datalineage.processes.get` permission for the project where the process is stored.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:searchLineageStreaming",
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}:searchLineageStreaming"
            },
            "processOpenLineageRunEvent": {
              "request": {
                "additionalProperties": {
                  "type": "any",
                  "description": "Properties of the object."
                },
                "type": "object"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:processOpenLineageRunEvent",
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1ProcessOpenLineageRunEventResponse"
              },
              "description": "Creates new lineage events together with their parents: process and run. Updates the process and run if they already exist. Mapped from Open Lineage specification: https://github.com/OpenLineage/OpenLineage/blob/main/spec/OpenLineage.json.",
              "parameters": {
                "requestId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided."
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the project and its location that should own the process, run, and lineage event.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalineage.projects.locations.processOpenLineageRunEvent",
              "path": "v1/{+parent}:processOpenLineageRunEvent"
            },
            "searchLinks": {
              "id": "datalineage.projects.locations.searchLinks",
              "path": "v1/{+parent}:searchLinks",
              "parameterOrder": [
                "parent"
              ],
              "description": "Retrieve a list of links connected to a specific asset. Links represent the data flow between **source** (upstream) and **target** (downstream) assets in transformation pipelines. Links are stored in the same project as the Lineage Events that create them. You can retrieve links in every project where you have the `datalineage.events.get` permission. The project provided in the URL is used for Billing and Quota.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:searchLinks",
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1SearchLinksResponse"
              },
              "httpMethod": "POST",
              "request": {
[...]
