{
  "name": "dataform",
  "ownerDomain": "google.com",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "title": "Dataform API",
  "mtlsRootUrl": "https://dataform.mtls.googleapis.com/",
  "servicePath": "",
  "schemas": {
    "SimpleLoadMode": {
      "id": "SimpleLoadMode",
      "properties": {},
      "type": "object",
      "description": "Simple load definition"
    },
    "FilesystemEntryMetadata": {
      "description": "Represents metadata for a single entry in a filesystem.",
      "properties": {
        "sizeBytes": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Provides the size of the entry in bytes. For directories, this will be 0."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Represents the time of the last modification of the entry.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FilesystemEntryMetadata"
    },
    "UncommittedFileChange": {
      "description": "Represents the Git state of a file with uncommitted changes.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The file has been newly added.",
            "The file has been deleted.",
            "The file has been modified.",
            "The file contains merge conflicts."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Indicates the status of the file.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "MODIFIED",
            "HAS_CONFLICTS"
          ]
        },
        "path": {
          "type": "string",
          "description": "The file's full path including filename, relative to the workspace root."
        }
      },
      "id": "UncommittedFileChange"
    },
    "DirectorySearchResult": {
      "type": "object",
      "description": "Client-facing representation of a directory entry in search results.",
      "properties": {
        "path": {
          "type": "string",
          "description": "File system path relative to the workspace root."
        }
      },
      "id": "DirectorySearchResult"
    },
    "Interval": {
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
        }
      },
      "type": "object",
      "id": "Interval"
    },
    "MoveDirectoryRequest": {
      "id": "MoveDirectoryRequest",
      "properties": {
        "newPath": {
          "type": "string",
          "description": "Required. The new path for the directory including directory name, rooted at workspace root."
        },
        "path": {
          "type": "string",
          "description": "Required. The directory's full path including directory name, relative to the workspace root."
        }
      },
      "type": "object",
      "description": "`MoveDirectory` request message."
    },
    "ListReleaseConfigsResponse": {
      "description": "`ListReleaseConfigs` response message.",
      "id": "ListReleaseConfigsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "releaseConfigs": {
          "type": "array",
          "items": {
            "$ref": "ReleaseConfig"
          },
          "description": "List of release configs."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached."
        }
      },
      "type": "object"
    },
    "DirectoryEntry": {
      "type": "object",
      "id": "DirectoryEntry",
      "properties": {
        "file": {
          "type": "string",
          "description": "A file in the directory. The path is returned including the full folder structure from the root."
        },
        "metadata": {
          "$ref": "FilesystemEntryMetadata",
          "description": "Entry with metadata."
        },
        "directory": {
          "type": "string",
          "description": "A child directory in the directory. The path is returned including the full folder structure from the root."
        }
      },
      "description": "Represents a single entry in a directory."
    },
    "DataPreparationAction": {
      "description": "Represents a workflow action that will run a Data Preparation.",
      "id": "DataPreparationAction",
      "properties": {
        "generatedSql": {
          "description": "Output only. The generated BigQuery SQL script that will be executed. For reference only.",
          "type": "string",
          "readOnly": true
        },
        "contentsYaml": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. YAML representing the contents of the data preparation. Can be used to show the customer what the input was to their workflow."
        },
        "contentsSql": {
          "$ref": "ActionSqlDefinition",
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information."
        },
        "jobId": {
          "readOnly": true,
          "description": "Output only. The ID of the BigQuery job that executed the SQL in sql_script. Only set once the job has started to run.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "QueryCompilationResultActionsResponse": {
      "id": "QueryCompilationResultActionsResponse",
      "description": "`QueryCompilationResultActions` response message.",
      "type": "object",
      "properties": {
        "compilationResultActions": {
          "type": "array",
          "items": {
            "$ref": "CompilationResultAction"
          },
          "description": "List of compilation result actions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "Config": {
      "type": "object",
      "id": "Config",
      "description": "Config for all repositories in a given project and location.",
      "properties": {
        "defaultKmsKeyName": {
          "description": "Optional. The default KMS key that is used if no encryption key is provided when a repository is created.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The config name.",
          "type": "string"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SqlDefinition": {
      "properties": {
        "query": {
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement.",
          "type": "string"
        },
        "load": {
          "description": "Load configuration.",
          "$ref": "LoadConfig"
        },
        "errorTable": {
          "$ref": "ErrorTable",
          "description": "Error table configuration,"
        }
      },
      "id": "SqlDefinition",
      "description": "Definition of a SQL Data Preparation",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CodeCompilationConfig": {
      "type": "object",
      "properties": {
        "defaultLocation": {
          "type": "string",
          "description": "Optional. The default BigQuery location to use. Defaults to \"US\". See the BigQuery docs for a full list of locations: https://cloud.google.com/bigquery/docs/locations."
        },
        "builtinAssertionNamePrefix": {
          "type": "string",
          "description": "Optional. The prefix to prepend to built-in assertion names."
        },
        "defaultNotebookRuntimeOptions": {
          "$ref": "NotebookRuntimeOptions",
          "description": "Optional. The default notebook runtime options."
        },
        "defaultDatabase": {
          "type": "string",
          "description": "Optional. The default database (Google Cloud project ID)."
        },
        "defaultSchema": {
          "description": "Optional. The default schema (BigQuery dataset ID).",
          "type": "string"
        },
        "databaseSuffix": {
          "description": "Optional. The suffix that should be appended to all database (Google Cloud project ID) names.",
          "type": "string"
        },
        "vars": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined variables that are made available to project code during compilation."
        },
        "assertionSchema": {
          "type": "string",
          "description": "Optional. The default schema (BigQuery dataset ID) for assertions."
        },
        "tablePrefix": {
          "description": "Optional. The prefix that should be prepended to all table names.",
          "type": "string"
        },
        "pipelineConfig": {
          "description": "Optional. The pipeline options which defines the pipeline type and path within the Git repository.",
          "$ref": "PipelineConfig"
        },
        "schemaSuffix": {
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names.",
          "type": "string"
        }
      },
      "description": "Configures various aspects of Dataform code compilation.",
      "id": "CodeCompilationConfig"
    },
    "ListWorkspacesResponse": {
      "type": "object",
      "id": "ListWorkspacesResponse",
      "description": "`ListWorkspaces` response message.",
      "properties": {
        "workspaces": {
          "type": "array",
          "items": {
            "$ref": "Workspace"
          },
          "description": "List of workspaces."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations which could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "RemoveDirectoryResponse": {
      "type": "object",
      "description": "`RemoveDirectory` response message.",
      "properties": {},
      "id": "RemoveDirectoryResponse"
    },
    "QueryFolderContentsResponse": {
      "type": "object",
      "id": "QueryFolderContentsResponse",
      "description": "`QueryFolderContents` response message.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "entries": {
          "items": {
            "$ref": "FolderContentsEntry"
          },
          "description": "List of entries in the folder.",
          "type": "array"
        }
      }
    },
    "PushGitCommitsResponse": {
      "description": "`PushGitCommits` response message.",
      "id": "PushGitCommitsResponse",
      "type": "object",
      "properties": {}
    },
    "MoveFileResponse": {
      "properties": {},
      "id": "MoveFileResponse",
      "description": "`MoveFile` response message.",
      "type": "object"
    },
    "TeamFolder": {
      "type": "object",
      "description": "Represents a Dataform TeamFolder. This is a resource that sits at the project level and is used to organize Repositories and Folders with hierarchical access controls. They provide a team context and stricter access controls.",
      "id": "TeamFolder",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The TeamFolder's user-friendly name."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The TeamFolder's name."
        },
        "creatorIamPrincipal": {
          "readOnly": true,
          "description": "Output only. The IAM principal identifier of the creator of the TeamFolder.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of when the TeamFolder was last updated."
        },
        "internalMetadata": {
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the TeamFolder was created.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Folder": {
      "type": "object",
      "properties": {
        "creatorIamPrincipal": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IAM principal identifier of the creator of the Folder."
        },
        "teamFolderName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the TeamFolder that this Folder is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Folder is not associated with a TeamFolder and is a UserFolder."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp of when the Folder was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The Folder's name."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of when the Folder was created.",
          "format": "google-datetime"
        },
        "containingFolder": {
          "description": "Optional. The containing Folder resource name. This should take the format: projects/{project}/locations/{location}/folders/{folder}, projects/{project}/locations/{location}/teamFolders/{teamFolder}, or just \"\" if this is a root Folder. This field can only be updated through MoveFolder.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The Folder's user-friendly name.",
          "type": "string"
        },
        "internalMetadata": {
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true
        }
      },
      "id": "Folder",
      "description": "Represents a Dataform Folder. This is a resource that is used to organize Files and other Folders and provide hierarchical access controls."
    },
    "PushGitCommitsRequest": {
      "type": "object",
      "id": "PushGitCommitsRequest",
      "properties": {
        "remoteBranch": {
          "description": "Optional. The name of the branch in the Git remote to which commits should be pushed. If left unset, the repository's default branch name will be used.",
          "type": "string"
        }
      },
      "description": "`PushGitCommits` request message."
    },
    "ActionLoadConfig": {
      "properties": {
        "append": {
          "$ref": "ActionSimpleLoadMode",
          "description": "Append into destination table"
        },
        "replace": {
          "description": "Replace destination table",
          "$ref": "ActionSimpleLoadMode"
        },
        "unique": {
          "description": "Insert records where the value of a column is not already present in the destination table",
          "$ref": "ActionIncrementalLoadMode"
        },
        "maximum": {
          "$ref": "ActionIncrementalLoadMode",
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table"
        }
      },
      "type": "object",
      "id": "ActionLoadConfig",
      "description": "Simplified load configuration for actions"
    },
    "Repository": {
      "properties": {
        "gitRemoteSettings": {
          "$ref": "GitRemoteSettings",
          "description": "Optional. If set, configures this repository to be linked to a Git remote."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The repository's name."
        },
        "teamFolderName": {
          "type": "string",
          "description": "Output only. The resource name of the TeamFolder that this Repository is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Repository is not associated with a TeamFolder.",
          "readOnly": true
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account to run workflow invocations under."
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Optional. Repository user labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "containingFolder": {
          "type": "string",
          "description": "Optional. The name of the containing folder of the repository. The field is immutable and it can be modified via a MoveRepository operation. Format: `projects/*/locations/*/folders/*`. or `projects/*/locations/*/teamFolders/*`."
        },
        "endUserAuthConfig": {
          "description": "Optional. Includes configuration options for end user authentication.",
          "$ref": "EndUserAuthConfig"
        },
        "workspaceCompilationOverrides": {
          "description": "Optional. If set, fields of `workspace_compilation_overrides` override the default compilation settings that are specified in dataform.json when creating workspace-scoped compilation results. See documentation for `WorkspaceCompilationOverrides` for more information.",
          "$ref": "WorkspaceCompilationOverrides"
        },
        "setAuthenticatedUserAdmin": {
          "type": "boolean",
          "description": "Optional. Input only. If set to true, the authenticated user will be granted the roles/dataform.admin role on the created repository."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. The reference to a KMS encryption key. If provided, it will be used to encrypt user data in the repository and all child resources. It is not possible to add or update the encryption key after the repository is created. Example: `projects/{kms_project}/locations/{location}/keyRings/{key_location}/cryptoKeys/{key}`"
        },
        "displayName": {
          "description": "Optional. The repository's user-friendly name.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp of when the repository was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "npmrcEnvironmentVariablesSecretVersion": {
          "description": "Optional. The name of the Secret Manager secret version to be used to interpolate variables into the .npmrc file for package installation operations. Must be in the format `projects/*/secrets/*/versions/*`. The file itself must be in a JSON format.",
          "type": "string"
        },
        "dataEncryptionState": {
          "readOnly": true,
          "description": "Output only. A data encryption state of a Git repository if this Repository is protected by a KMS key.",
          "$ref": "DataEncryptionState"
        }
      },
      "description": "Represents a Dataform Git repository.",
      "type": "object",
      "id": "Repository"
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "FileOperation": {
      "properties": {
        "deleteFile": {
          "$ref": "DeleteFile",
          "description": "Represents the delete operation."
        },
        "writeFile": {
          "description": "Represents the write operation.",
          "$ref": "WriteFile"
        }
      },
      "type": "object",
      "id": "FileOperation",
      "description": "Represents a single file operation to the repository."
    },
    "ActionIncrementalLoadMode": {
      "properties": {
        "column": {
          "description": "Column name for incremental load modes",
          "type": "string"
        }
      },
      "description": "Load definition for incremental load modes",
      "id": "ActionIncrementalLoadMode",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      }
    },
    "GitRemoteSettings": {
      "properties": {
        "url": {
          "type": "string",
          "description": "Required. The Git remote's URL."
        },
        "defaultBranch": {
          "type": "string",
          "description": "Optional. The Git remote's default branch name. If not set, `main` will be used."
        },
        "effectiveDefaultBranch": {
          "description": "Output only. The Git remote's effective default branch name. This is the default branch name of the Git remote if it is set, otherwise it is `main`.",
          "type": "string",
          "readOnly": true
        },
        "sshAuthenticationConfig": {
          "description": "Optional. Authentication fields for remote uris using SSH protocol.",
          "$ref": "SshAuthenticationConfig"
        },
        "gitRepositoryLink": {
          "type": "string",
          "description": "Optional. Resource name for the `GitRepositoryLink` used for machine credentials. Must be in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`"
        },
        "tokenStatus": {
          "readOnly": true,
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID"
          ],
          "description": "Output only. Deprecated: The field does not contain any token status information.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote."
          ],
          "type": "string",
          "deprecated": true
        },
        "authenticationTokenSecretVersion": {
          "description": "Optional. The name of the Secret Manager secret version to use as an authentication token for Git operations. Must be in the format `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      },
      "description": "Controls Git remote configuration for a repository.",
      "id": "GitRemoteSettings",
      "type": "object"
    },
    "EndUserAuthConfig": {
      "type": "object",
      "id": "EndUserAuthConfig",
      "properties": {
        "oauthConfig": {
          "description": "Optional. OAuth configuration for repository end user authentication.",
          "$ref": "OAuthConfig"
        }
      },
      "description": "Includes configuration options for repository end user authentication."
    },
    "DeleteFile": {
      "description": "Represents the delete file operation.",
      "properties": {},
      "type": "object",
      "id": "DeleteFile"
    },
    "MakeDirectoryResponse": {
      "description": "`MakeDirectory` response message.",
      "type": "object",
      "id": "MakeDirectoryResponse",
      "properties": {}
    },
    "WriteFileResponse": {
      "description": "`WriteFile` response message.",
      "properties": {},
      "id": "WriteFileResponse",
      "type": "object"
    },
    "MoveFileRequest": {
      "id": "MoveFileRequest",
      "description": "`MoveFile` request message.",
      "type": "object",
      "properties": {
        "newPath": {
          "description": "Required. The file's new path including filename, relative to the workspace root.",
          "type": "string"
        },
        "path": {
          "description": "Required. The file's full path including filename, relative to the workspace root.",
          "type": "string"
        }
      }
    },
    "WorkflowInvocationAction": {
      "type": "object",
      "description": "Represents a single action in a workflow invocation.",
      "properties": {
        "notebookAction": {
          "readOnly": true,
          "description": "Output only. The workflow action's notebook action details.",
          "$ref": "NotebookAction"
        },
        "target": {
          "description": "Output only. This action's identifier. Unique within the workflow invocation.",
          "$ref": "Target",
          "readOnly": true
        },
        "canonicalTarget": {
          "$ref": "Target",
          "description": "Output only. The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result.",
          "readOnly": true
        },
        "bigqueryUnitTestAction": {
          "description": "Output only. The workflow action's unit test details.",
          "readOnly": true,
          "$ref": "BigQueryUnitTestAction"
        },
        "state": {
          "description": "Output only. This action's current state.",
          "enumDescriptions": [
            "The action has not yet been considered for invocation.",
            "The action is currently running.",
            "Execution of the action was skipped because upstream dependencies did not all complete successfully. A terminal state.",
            "Execution of the action was disabled as per the configuration of the corresponding compilation result action. A terminal state.",
            "The action succeeded. A terminal state.",
            "The action was cancelled. A terminal state.",
            "The action failed. A terminal state."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "PENDING",
            "RUNNING",
            "SKIPPED",
            "DISABLED",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ]
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string",
          "readOnly": true
        },
        "dataPreparationAction": {
          "description": "Output only. The workflow action's data preparation action details.",
          "$ref": "DataPreparationAction",
          "readOnly": true
        },
        "failureReason": {
          "readOnly": true,
          "description": "Output only. If and only if action's state is FAILED a failure reason is set.",
          "type": "string"
        },
        "bigqueryAction": {
          "readOnly": true,
          "$ref": "BigQueryAction",
          "description": "Output only. The workflow action's bigquery action details."
        },
        "invocationTiming": {
          "description": "Output only. This action's timing details. `start_time` will be set if the action is in [RUNNING, SUCCEEDED, CANCELLED, FAILED] state. `end_time` will be set if the action is in [SUCCEEDED, CANCELLED, FAILED] state.",
          "readOnly": true,
          "$ref": "Interval"
        }
      },
      "id": "WorkflowInvocationAction"
    },
    "FetchFileGitStatusesResponse": {
      "description": "`FetchFileGitStatuses` response message.",
      "properties": {
        "uncommittedFileChanges": {
          "description": "A list of all files which have uncommitted Git changes. There will only be a single entry for any given file.",
          "type": "array",
          "items": {
            "$ref": "UncommittedFileChange"
          }
        }
      },
      "id": "FetchFileGitStatusesResponse",
      "type": "object"
    },
    "CompilationResultAction": {
      "properties": {
        "notebook": {
          "description": "The notebook executed by this action.",
          "$ref": "Notebook"
        },
        "operations": {
          "description": "The database operations executed by this action.",
          "$ref": "Operations"
        },
        "filePath": {
          "type": "string",
          "description": "The full path including filename in which this action is located, relative to the workspace root."
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string",
          "readOnly": true
        },
        "dataPreparation": {
          "description": "The data preparation executed by this action.",
          "$ref": "DataPreparation"
        },
        "assertion": {
          "description": "The assertion executed by this action.",
          "$ref": "Assertion"
        },
        "target": {
          "$ref": "Target",
          "description": "This action's identifier. Unique within the compilation result."
        },
        "bigqueryUnitTest": {
          "description": "The unit test executed by this action.",
          "$ref": "BigQueryUnitTest"
        },
        "declaration": {
          "$ref": "Declaration",
          "description": "The declaration declared by this action."
        },
        "canonicalTarget": {
          "description": "The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result.",
          "$ref": "Target"
        },
        "relation": {
          "description": "The database relation created/updated by this action.",
          "$ref": "Relation"
        }
      },
      "description": "Represents a single Dataform action in a compilation result.",
      "id": "CompilationResultAction",
      "type": "object"
    },
    "ScheduledReleaseRecord": {
      "id": "ScheduledReleaseRecord",
      "description": "A record of an attempt to create a compilation result for this release config.",
      "type": "object",
      "properties": {
        "errorStatus": {
          "description": "The error status encountered upon this attempt to create the compilation result, if the attempt was unsuccessful.",
          "$ref": "Status"
        },
        "releaseTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp of this release attempt."
        },
        "compilationResult": {
          "description": "The name of the created compilation result, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        }
      }
    },
    "CommitLogEntry": {
      "description": "Represents a single commit log.",
      "type": "object",
      "id": "CommitLogEntry",
      "properties": {
        "commitSha": {
          "type": "string",
          "description": "The commit SHA for this commit log entry."
        },
        "commitMessage": {
          "type": "string",
          "description": "The commit message for this commit log entry."
        },
        "commitTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Commit timestamp."
        },
        "author": {
          "description": "The commit author for this commit log entry.",
          "$ref": "CommitAuthor"
        }
      }
    },
    "DeleteFolderTreeRequest": {
      "type": "object",
      "properties": {
        "force": {
          "type": "boolean",
          "description": "Optional. If `false` (default): The operation will fail if any Repository within the folder hierarchy has associated Release Configs or Workflow Configs. If `true`: The operation will attempt to delete everything, including any Release Configs and Workflow Configs linked to Repositories within the folder hierarchy. This permanently removes schedules and resources."
        }
      },
      "id": "DeleteFolderTreeRequest",
      "description": "`DeleteFolderTree` request message."
    },
    "PullGitCommitsRequest": {
      "properties": {
        "author": {
          "description": "Required. The author of any merge commit which may be created as a result of merging fetched Git commits into this workspace.",
          "$ref": "CommitAuthor"
        },
        "remoteBranch": {
          "description": "Optional. The name of the branch in the Git remote from which to pull commits. If left unset, the repository's default branch name will be used.",
          "type": "string"
        }
      },
      "description": "`PullGitCommits` request message.",
      "type": "object",
      "id": "PullGitCommitsRequest"
    },
    "WriteFileRequest": {
      "id": "WriteFileRequest",
      "type": "object",
      "description": "`WriteFile` request message.",
      "properties": {
        "contents": {
          "type": "string",
          "format": "byte",
          "description": "Required. The file's contents."
        },
        "path": {
          "description": "Required. The file.",
          "type": "string"
        }
      }
    },
    "TeamFolderSearchResult": {
      "id": "TeamFolderSearchResult",
      "type": "object",
      "properties": {
        "teamFolder": {
          "$ref": "TeamFolder",
          "description": "A TeamFolder resource that is in the project / location."
        }
      },
      "description": "Represents a single content entry."
    },
    "PrivateResourceMetadata": {
      "description": "Metadata used to identify if a resource is user scoped.",
      "properties": {
        "userScoped": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If true, this resource is user-scoped, meaning it is either a workspace or sourced from a workspace."
        }
      },
      "type": "object",
      "id": "PrivateResourceMetadata"
    },
    "LoadConfig": {
      "type": "object",
      "id": "LoadConfig",
      "description": "Simplified load configuration for actions",
      "properties": {
        "maximum": {
          "$ref": "IncrementalLoadMode",
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table"
        },
        "append": {
          "description": "Append into destination table",
          "$ref": "SimpleLoadMode"
        },
        "unique": {
          "$ref": "IncrementalLoadMode",
          "description": "Insert records where the value of a column is not already present in the destination table"
        },
        "replace": {
          "$ref": "SimpleLoadMode",
          "description": "Replace destination table"
        }
      }
    },
    "DeleteTeamFolderTreeRequest": {
      "type": "object",
      "properties": {
        "force": {
          "description": "Optional. If `false` (default): The operation will fail if any Repository within the folder hierarchy has associated Release Configs or Workflow Configs. If `true`: The operation will attempt to delete everything, including any Release Configs and Workflow Configs linked to Repositories within the folder hierarchy. This permanently removes schedules and resources.",
          "type": "boolean"
        }
      },
      "id": "DeleteTeamFolderTreeRequest",
      "description": "`DeleteTeamFolderTree` request message."
    },
    "CommitRepositoryChangesResponse": {
      "id": "CommitRepositoryChangesResponse",
      "description": "`CommitRepositoryChanges` response message.",
      "properties": {
        "commitSha": {
          "description": "The commit SHA of the current commit.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CancelWorkflowInvocationRequest": {
      "type": "object",
      "id": "CancelWorkflowInvocationRequest",
      "properties": {},
      "description": "`CancelWorkflowInvocation` request message."
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "RemoveFileResponse": {
      "id": "RemoveFileResponse",
      "type": "object",
      "description": "`RemoveFile` response message.",
      "properties": {}
    },
    "WorkflowConfig": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of when the WorkflowConfig was last updated.",
          "format": "google-datetime"
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the [time zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is `UTC`."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp of when the WorkflowConfig was created.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The workflow config's name.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Disables automatic creation of workflow invocations."
        },
        "recentScheduledExecutionRecords": {
          "items": {
            "$ref": "ScheduledExecutionRecord"
          },
          "description": "Output only. Records of the 10 most recent scheduled execution attempts, ordered in descending order of `execution_time`. Updated whenever automatic creation of a workflow invocation is triggered by cron_schedule.",
          "type": "array",
          "readOnly": true
        },
        "cronSchedule": {
          "description": "Optional. Optional schedule (in cron format) for automatic execution of this workflow config.",
          "type": "string"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string",
          "readOnly": true
        },
        "releaseConfig": {
          "type": "string",
          "description": "Required. The name of the release config whose release_compilation_result should be executed. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`."
        },
        "invocationConfig": {
          "description": "Optional. If left unset, a default InvocationConfig will be used.",
          "$ref": "InvocationConfig"
        }
      },
      "id": "WorkflowConfig",
      "type": "object",
      "description": "Represents a Dataform workflow configuration."
    },
    "SearchResult": {
      "description": "Client-facing representation of a search result entry.",
      "properties": {
        "directory": {
          "description": "Details when search result is a directory.",
          "$ref": "DirectorySearchResult"
        },
        "file": {
          "description": "Details when search result is a file.",
          "$ref": "FileSearchResult"
        }
      },
      "id": "SearchResult",
      "type": "object"
    },
    "CommitWorkspaceChangesRequest": {
      "type": "object",
      "id": "CommitWorkspaceChangesRequest",
      "description": "`CommitWorkspaceChanges` request message.",
      "properties": {
        "commitMessage": {
          "description": "Optional. The commit's message.",
          "type": "string"
        },
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        },
        "paths": {
          "description": "Optional. Full file paths to commit including filename, rooted at workspace root. If left empty, all files will be committed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "SshAuthenticationConfig": {
      "description": "Configures fields for performing SSH authentication.",
      "type": "object",
      "properties": {
        "hostPublicKey": {
          "type": "string",
          "description": "Required. Content of a public SSH key to verify an identity of a remote Git host."
        },
        "userPrivateKeySecretVersion": {
          "type": "string",
          "description": "Required. The name of the Secret Manager secret version to use as a ssh private key for Git operations. Must be in the format `projects/*/secrets/*/versions/*`."
        }
      },
      "id": "SshAuthenticationConfig"
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "properties": {
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "ComputeRepositoryAccessTokenStatusResponse": {
      "id": "ComputeRepositoryAccessTokenStatusResponse",
      "type": "object",
      "properties": {
        "tokenStatus": {
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID",
            "PERMISSION_DENIED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote.",
            "The token is not accessible due to permission issues."
          ],
          "type": "string",
          "description": "Indicates the status of the Git access token."
        }
      },
      "description": "`ComputeRepositoryAccessTokenStatus` response message."
    },
    "QueryWorkflowInvocationActionsResponse": {
      "description": "`QueryWorkflowInvocationActions` response message.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "workflowInvocationActions": {
          "items": {
            "$ref": "WorkflowInvocationAction"
          },
          "type": "array",
          "description": "List of workflow invocation actions."
        }
      },
      "id": "QueryWorkflowInvocationActionsResponse",
      "type": "object"
    },
    "Workspace": {
      "description": "Represents a Dataform Git workspace.",
      "properties": {
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "privateResourceMetadata": {
          "readOnly": true,
          "$ref": "PrivateResourceMetadata",
          "description": "Output only. Metadata indicating whether this resource is user-scoped. For `Workspace` resources, the `user_scoped` field is always `true`."
        },
        "dataEncryptionState": {
          "readOnly": true,
          "description": "Output only. A data encryption state of a Git repository if this Workspace is protected by a KMS key.",
          "$ref": "DataEncryptionState"
        },
        "disableMoves": {
          "type": "boolean",
          "description": "Optional. If set to true, workspaces will not be moved if its linked Repository is moved. Instead, it will be deleted."
        },
        "name": {
          "description": "Identifier. The workspace's name.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp of when the workspace was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Workspace"
    },
    "RemoveFileRequest": {
      "id": "RemoveFileRequest",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The file's full path including filename, relative to the workspace root."
        }
      },
      "description": "`RemoveFile` request message.",
      "type": "object"
    },
    "ActionSimpleLoadMode": {
      "description": "Simple load definition",
      "properties": {},
      "type": "object",
      "id": "ActionSimpleLoadMode"
    },
    "CancelWorkflowInvocationResponse": {
      "properties": {},
      "id": "CancelWorkflowInvocationResponse",
      "type": "object",
      "description": "`CancelWorkflowInvocation` response message."
    },
    "GcsRepositorySnapshotMetadata": {
      "description": "Metadata about a repository snapshot stored in Google Cloud Storage.",
      "type": "object",
      "id": "GcsRepositorySnapshotMetadata",
      "properties": {
        "crc32cChecksum": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The crc32c checksum of the repository snapshot, big-endian base64 encoded."
        },
        "repositorySnapshotUri": {
          "description": "Output only. The Google Cloud Storage URI of the repository snapshot.",
          "readOnly": true,
          "type": "string"
        },
        "generation": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The generation number of the Cloud Storage object. See https://cloud.google.com/storage/docs/metadata#generation-number.",
          "type": "string"
        }
      }
    },
    "CommitWorkspaceChangesResponse": {
      "id": "CommitWorkspaceChangesResponse",
      "properties": {},
      "description": "`CommitWorkspaceChanges` response message.",
      "type": "object"
    },
    "WorkflowInvocation": {
      "description": "Represents a single invocation of a compilation result.",
      "properties": {
        "invocationConfig": {
          "description": "Immutable. If left unset, a default InvocationConfig will be used.",
          "$ref": "InvocationConfig"
        },
        "internalMetadata": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "workflowConfig": {
          "description": "Immutable. The name of the workflow config to invoke. Must be in the format `projects/*/locations/*/repositories/*/workflowConfigs/*`.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "CANCELING"
          ],
          "type": "string",
          "description": "Output only. This workflow invocation's current state.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The workflow invocation is currently running.",
            "The workflow invocation succeeded. A terminal state.",
            "The workflow invocation was cancelled. A terminal state.",
            "The workflow invocation failed. A terminal state.",
            "The workflow invocation is being cancelled, but some actions are still running."
          ]
        },
        "invocationTiming": {
          "$ref": "Interval",
          "description": "Output only. This workflow invocation's timing details.",
          "readOnly": true
        },
        "pipelineConfig": {
          "$ref": "PipelineConfig",
          "description": "Output only. The pipeline options which defines the pipeline type and path within the Git repository.",
          "readOnly": true
        },
        "resolvedCompilationResult": {
          "description": "Output only. The resolved compilation result that was used to create this invocation. Will be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string",
          "readOnly": true
        },
        "compilationResult": {
          "type": "string",
          "description": "Immutable. The name of the compilation result to use for this invocation. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
        },
        "privateResourceMetadata": {
          "$ref": "PrivateResourceMetadata",
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `WorkflowInvocation` resource is `user_scoped` only if it is sourced from a compilation result and the compilation result is user-scoped.",
          "readOnly": true
        },
        "dataEncryptionState": {
          "description": "Output only. Only set if the repository has a KMS Key.",
          "readOnly": true,
          "$ref": "DataEncryptionState"
        },
        "name": {
          "type": "string",
          "description": "Output only. The workflow invocation's name.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "WorkflowInvocation"
    },
    "Target": {
      "id": "Target",
      "properties": {
        "schema": {
          "description": "Optional. The action's schema (BigQuery dataset ID), within `database`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. The action's name, within `database` and `schema`."
        },
        "database": {
          "type": "string",
          "description": "Optional. The action's database (Google Cloud project ID) ."
        }
      },
      "description": "Represents an action identifier. If the action writes output, the output will be written to the referenced database object.",
      "type": "object"
    },
    "WriteFile": {
      "id": "WriteFile",
      "properties": {
        "contents": {
          "format": "byte",
          "description": "The file's contents.",
          "type": "string"
        }
      },
      "description": "Represents the write file operation (for files added or modified).",
      "type": "object"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "BigQueryUnitTest": {
      "type": "object",
      "description": "Represents a BigQuery unit test.",
      "id": "BigQueryUnitTest",
      "properties": {
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "expectedOutputQuery": {
          "description": "Expected output query to compare against the test query.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the unit test."
        },
        "testQuery": {
          "description": "Test query to execute.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          }
        },
        "dependencyTargets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on."
        }
      }
    },
    "CommitMetadata": {
      "description": "Represents a Dataform Git commit.",
      "id": "CommitMetadata",
      "properties": {
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        },
        "commitMessage": {
          "type": "string",
          "description": "Optional. The commit's message."
        }
      },
      "type": "object"
    },
    "ListCompilationResultsResponse": {
      "description": "`ListCompilationResults` response message.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "compilationResults": {
          "description": "List of compilation results.",
          "items": {
            "$ref": "CompilationResult"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListCompilationResultsResponse"
    },
    "MoveFolderRequest": {
      "type": "object",
      "description": "`MoveFolder` request message.",
      "id": "MoveFolderRequest",
      "properties": {
        "destinationContainingFolder": {
          "type": "string",
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the Folder to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`"
        }
      }
    },
    "CommitAuthor": {
      "description": "Represents the author of a Git commit.",
      "id": "CommitAuthor",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The commit author's name.",
          "type": "string"
        },
        "emailAddress": {
          "description": "Required. The commit author's email address.",
          "type": "string"
        }
      }
    },
    "ActionSqlDefinition": {
      "properties": {
        "errorTable": {
          "$ref": "ActionErrorTable",
          "description": "Error table configuration,"
        },
        "loadConfig": {
          "$ref": "ActionLoadConfig",
          "description": "Load configuration."
        },
        "query": {
          "type": "string",
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement."
        }
      },
      "type": "object",
      "id": "ActionSqlDefinition",
      "description": "Definition of a SQL Data Preparation"
    },
    "ScheduledExecutionRecord": {
      "description": "A record of an attempt to create a workflow invocation for this workflow config.",
      "type": "object",
      "properties": {
        "errorStatus": {
          "description": "The error status encountered upon this attempt to create the workflow invocation, if the attempt was unsuccessful.",
          "$ref": "Status"
        },
        "executionTime": {
          "description": "Output only. The timestamp of this execution attempt.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "workflowInvocation": {
          "type": "string",
          "description": "The name of the created workflow invocation, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/workflowInvocations/*`."
        }
      },
      "id": "ScheduledExecutionRecord"
    },
    "InstallNpmPackagesRequest": {
      "id": "InstallNpmPackagesRequest",
      "properties": {
        "pipelineConfig": {
          "$ref": "PipelineConfig",
          "description": "Optional. The pipeline options which defines the pipeline type and path within the Git repository."
        }
      },
      "type": "object",
      "description": "`InstallNpmPackages` request message."
    },
    "PipelineConfig": {
      "description": "Defines the pipeline type and path within the Git repository.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The relative path within the Git repository where the pipeline is defined. For example, for a Dataform pipeline, it is a path to the folder where `workflow_settings.yaml` or `dataform.json` is located."
        },
        "pipelineType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Regular Dataform pipeline.",
            "SQL single file asset.",
            "Notebook single file asset."
          ],
          "enum": [
            "PIPELINE_TYPE_UNSPECIFIED",
            "DATAFORM",
            "SQL",
            "NOTEBOOK"
          ],
          "description": "Required. The type of the pipeline.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PipelineConfig"
    },
    "ReadRepositoryFileResponse": {
      "type": "object",
      "description": "`ReadRepositoryFile` response message.",
      "id": "ReadRepositoryFileResponse",
      "properties": {
        "contents": {
          "format": "byte",
          "description": "The file's contents.",
          "type": "string"
        }
      }
    },
    "FetchFileDiffResponse": {
      "id": "FetchFileDiffResponse",
      "description": "`FetchFileDiff` response message.",
      "properties": {
        "formattedDiff": {
          "description": "The raw formatted Git diff for the file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ErrorTable": {
      "description": "Error table information, used to write error data into a BigQuery table.",
      "id": "ErrorTable",
      "properties": {
        "retentionDays": {
          "description": "Error table partition expiration in days. Only positive values are allowed.",
          "type": "integer",
          "format": "int32"
        },
        "target": {
          "$ref": "Target",
          "description": "Error Table target."
        }
      },
      "type": "object"
    },
    "ResetWorkspaceChangesResponse": {
      "type": "object",
      "properties": {},
      "description": "`ResetWorkspaceChanges` response message.",
      "id": "ResetWorkspaceChangesResponse"
    },
    "MoveDirectoryResponse": {
      "id": "MoveDirectoryResponse",
      "properties": {},
      "description": "`MoveDirectory` response message.",
      "type": "object"
    },
    "ReadFileResponse": {
      "description": "`ReadFile` response message.",
      "properties": {
        "fileContents": {
          "format": "byte",
          "description": "The file's contents.",
          "type": "string"
        }
      },
      "id": "ReadFileResponse",
      "type": "object"
    },
    "QueryDirectoryContentsResponse": {
      "type": "object",
      "properties": {
        "directoryEntries": {
          "description": "List of entries in the directory.",
          "items": {
            "$ref": "DirectoryEntry"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "QueryDirectoryContentsResponse",
      "description": "`QueryDirectoryContents` response message."
    },
    "RootContentsEntry": {
      "description": "Represents a single content entry.",
      "type": "object",
      "properties": {
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        },
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        }
      },
      "id": "RootContentsEntry"
    },
    "SearchTeamFoldersResponse": {
      "description": "`SearchTeamFolders` response message.",
      "type": "object",
      "id": "SearchTeamFoldersResponse",
      "properties": {
        "results": {
          "description": "List of TeamFolders that match the search query.",
          "items": {
            "$ref": "TeamFolderSearchResult"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "NotebookAction": {
      "description": "Represents a workflow action that will run against a Notebook runtime.",
      "id": "NotebookAction",
      "type": "object",
      "properties": {
        "jobId": {
          "description": "Output only. The ID of the Gemini Enterprise Agent Platform job that executed the notebook in contents and also the ID used for the outputs created in Google Cloud Storage buckets. Only set once the job has started to run.",
          "type": "string",
          "readOnly": true
        },
        "contents": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The code contents of a Notebook to be run."
        },
        "filePath": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The path to the notebook file in the repository."
        }
      }
    },
    "QueryRepositoryDirectoryContentsResponse": {
      "properties": {
        "directoryEntries": {
          "description": "List of entries in the directory.",
          "type": "array",
          "items": {
            "$ref": "DirectoryEntry"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "`QueryRepositoryDirectoryContents` response message.",
      "id": "QueryRepositoryDirectoryContentsResponse"
    },
    "InstallNpmPackagesResponse": {
      "properties": {},
      "type": "object",
      "id": "InstallNpmPackagesResponse",
      "description": "`InstallNpmPackages` response message."
    },
    "WorkspaceCompilationOverrides": {
      "id": "WorkspaceCompilationOverrides",
      "description": "Configures workspace compilation overrides for a repository.",
      "properties": {
        "schemaSuffix": {
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names.",
          "type": "string"
        },
        "tablePrefix": {
          "type": "string",
          "description": "Optional. The prefix that should be prepended to all table names."
        },
        "defaultDatabase": {
          "description": "Optional. The default database (Google Cloud project ID).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListRepositoriesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached.",
          "type": "array"
        },
        "repositories": {
          "items": {
            "$ref": "Repository"
          },
          "description": "List of repositories.",
          "type": "array"
        }
      },
      "description": "`ListRepositories` response message.",
      "type": "object",
      "id": "ListRepositoriesResponse"
    },
    "Notebook": {
      "type": "object",
      "id": "Notebook",
      "description": "Represents a notebook.",
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action."
        },
        "dependencyTargets": {
          "type": "array",
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          }
        },
        "contents": {
          "type": "string",
          "description": "The contents of the notebook."
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        }
      }
    },
    "QueryUserRootContentsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "entries": {
          "description": "List of entries in the folder.",
          "items": {
            "$ref": "RootContentsEntry"
          },
          "type": "array"
        }
      },
      "id": "QueryUserRootContentsResponse",
      "description": "`QueryUserRootContents` response message."
    },
    "DataPreparation": {
      "description": "Defines a compiled Data Preparation entity",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "contentsSql": {
          "$ref": "SqlDefinition",
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information."
        },
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on.",
          "type": "array"
        },
        "contentsYaml": {
          "description": "The data preparation definition, stored as a YAML string.",
          "type": "string"
        }
      },
      "id": "DataPreparation"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for `TestIamPermissions` method."
    },
    "ReleaseConfig": {
      "description": "Represents a Dataform release configuration.",
      "properties": {
        "gitCommitish": {
          "description": "Required. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`",
          "type": "string"
        },
        "recentScheduledReleaseRecords": {
          "type": "array",
          "description": "Output only. Records of the 10 most recent scheduled release attempts, ordered in descending order of `release_time`. Updated whenever automatic creation of a compilation result is triggered by cron_schedule.",
          "items": {
            "$ref": "ScheduledReleaseRecord"
          },
          "readOnly": true
        },
        "cronSchedule": {
          "type": "string",
          "description": "Optional. Optional schedule (in cron format) for automatic creation of compilation results."
        },
        "disabled": {
          "description": "Optional. Disables automatic creation of compilation results.",
          "type": "boolean"
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the [time zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is `UTC`."
        },
        "releaseCompilationResult": {
          "type": "string",
          "description": "Optional. The name of the currently released compilation result for this release config. This value is updated when a compilation result is automatically created from this release config (using cron_schedule), or when this resource is updated by API call (perhaps to roll back to an earlier release). The compilation result must have been created using this release config. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The release config's name."
        },
        "codeCompilationConfig": {
          "description": "Optional. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json.",
          "$ref": "CodeCompilationConfig"
        }
      },
      "type": "object",
      "id": "ReleaseConfig"
    },
    "FileSearchResult": {
      "properties": {
        "path": {
          "type": "string",
          "description": "File system path relative to the workspace root."
        }
      },
      "description": "Client-facing representation of a file entry in search results.",
      "type": "object",
      "id": "FileSearchResult"
    },
    "Assertion": {
      "id": "Assertion",
      "description": "Represents an assertion upon a SQL query which is required return zero rows.",
      "properties": {
        "parentAction": {
          "description": "The parent action of this assertion. Only set if this assertion was automatically generated.",
          "$ref": "Target"
        },
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "relationDescriptor": {
          "$ref": "RelationDescriptor",
          "description": "Descriptor for the assertion's automatically-generated view and its columns."
        },
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on.",
          "type": "array"
        },
        "selectQuery": {
          "description": "The SELECT query which must return zero rows in order for this assertion to succeed.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        }
      },
      "type": "object"
    },
    "ListWorkflowInvocationsResponse": {
      "id": "ListWorkflowInvocationsResponse",
      "type": "object",
      "description": "`ListWorkflowInvocations` response message.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "workflowInvocations": {
          "items": {
            "$ref": "WorkflowInvocation"
          },
          "description": "List of workflow invocations.",
          "type": "array"
        }
      }
    },
    "BigQueryUnitTestAction": {
      "type": "object",
      "id": "BigQueryUnitTestAction",
      "properties": {
        "totalBilledBytes": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Total bytes billed for this action. Combined total for actual and expected jobs."
        },
        "expectedResultsSqlScript": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. SQL script for the expected results."
        },
        "expectedResultsJobId": {
          "description": "Output only. Job ID for the expected results.",
          "type": "string",
          "readOnly": true
        },
        "actualResultsJobId": {
          "readOnly": true,
          "description": "Output only. Job ID for the actual results.",
          "type": "string"
        },
        "totalProcessedBytes": {
          "type": "string",
          "description": "Output only. Total bytes processed for this action. Combined total for actual and expected jobs.",
          "readOnly": true,
          "format": "int64"
        },
        "actualResultsSqlScript": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. SQL script for the actual results."
        }
      },
      "description": "Represents a workflow action that will run a BigQuery unit test."
    },
    "FolderContentsEntry": {
      "id": "FolderContentsEntry",
      "properties": {
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        },
        "repository": {
          "$ref": "Repository",
          "description": "A repository."
        }
      },
      "type": "object",
      "description": "Represents a single content entry."
    },
    "RelationDescriptor": {
      "description": "Describes a relation and its columns.",
      "properties": {
        "columns": {
          "description": "A list of descriptions of columns within the relation.",
          "type": "array",
          "items": {
            "$ref": "ColumnDescriptor"
          }
        },
        "bigqueryLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A set of BigQuery labels that should be applied to the relation."
        },
        "description": {
          "type": "string",
          "description": "A text description of the relation."
        }
      },
      "type": "object",
      "id": "RelationDescriptor"
    },
    "FetchRemoteBranchesResponse": {
      "properties": {
        "branches": {
          "items": {
            "type": "string"
          },
          "description": "The remote repository's branch names.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "`FetchRemoteBranches` response message.",
      "id": "FetchRemoteBranchesResponse"
    },
    "PullGitCommitsResponse": {
      "properties": {},
      "id": "PullGitCommitsResponse",
      "type": "object",
      "description": "`PullGitCommits` response message."
    },
    "IncrementalLoadMode": {
      "id": "IncrementalLoadMode",
      "type": "object",
      "description": "Load definition for incremental load modes",
      "properties": {
        "column": {
          "description": "Column name for incremental load modes",
          "type": "string"
        }
      }
    },
    "RemoveDirectoryRequest": {
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The directory's full path including directory name, relative to the workspace root."
        }
      },
      "description": "`RemoveDirectory` request message.",
      "type": "object",
      "id": "RemoveDirectoryRequest"
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "Relation": {
      "type": "object",
      "id": "Relation",
      "properties": {
        "partitionExpirationDays": {
          "format": "int32",
          "type": "integer",
          "description": "Sets the partition expiration in days."
        },
        "incrementalTableConfig": {
          "$ref": "IncrementalTableConfig",
          "description": "Configures `INCREMENTAL_TABLE` settings for this relation. Only set if `relation_type` is `INCREMENTAL_TABLE`."
        },
        "fileFormat": {
          "type": "string",
          "description": "Optional. The file format for the BigQuery table.",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ],
          "enumDescriptions": [
            "Default value.",
            "Apache Parquet format."
          ]
        },
        "dependencyTargets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on."
        },
        "requirePartitionFilter": {
          "description": "Specifies whether queries on this table must include a predicate filter that filters on the partitioning column.",
          "type": "boolean"
        },
        "partitionExpression": {
          "description": "The SQL expression used to partition the relation.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "relationType": {
          "description": "The type of this relation.",
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "TABLE",
            "VIEW",
            "INCREMENTAL_TABLE",
            "MATERIALIZED_VIEW"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The relation is a table.",
            "The relation is a view.",
            "The relation is an incrementalized table.",
[...]
