{
  "ownerName": "Google",
  "name": "datamigration",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "description": "Manage Cloud Database Migration Service resources on Google Cloud Platform.",
  "protocol": "rest",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "batchPath": "batch",
  "servicePath": "",
  "baseUrl": "https://datamigration.googleapis.com/",
  "version": "v1",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://datamigration.africa-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://datamigration.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://datamigration.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://datamigration.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://datamigration.australia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.europe-central2.rep.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north1",
      "endpointUrl": "https://datamigration.europe-north1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datamigration.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://datamigration.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://datamigration.europe-west12.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datamigration.europe-west15.rep.googleapis.com/",
      "location": "europe-west15",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://datamigration.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://datamigration.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://datamigration.europe-west8.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://datamigration.europe-west9.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datamigration.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://datamigration.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datamigration.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://datamigration.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://datamigration.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central2",
      "endpointUrl": "https://datamigration.us-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.us-east1.rep.googleapis.com/",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://datamigration.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://datamigration.us-east5.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datamigration.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://datamigration.us-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datamigration.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://datamigration.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.us-west8.rep.googleapis.com/",
      "location": "us-west8"
    }
  ],
  "documentationLink": "https://cloud.google.com/database-migration/",
  "canonicalName": "Database Migration Service",
  "id": "datamigration:v1",
  "kind": "discovery#restDescription",
  "title": "Database Migration API",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://datamigration.mtls.googleapis.com/",
  "rootUrl": "https://datamigration.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "fetchStaticIps": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:fetchStaticIps",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `FetchStaticIps` call.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. Maximum number of IPs to return."
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The resource name for the location for which static IPs should be returned. Must be in the format `projects/*/locations/*`.",
                  "required": true
                },
                "fetchReservedPublicIps": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Indicates whether to fetch the reserved public IP addresses allocated for private connections in this location. If false or not set, fetches the shared external static IP addresses instead."
                }
              },
              "description": "Fetches a set of static IP addresses that need to be allowlisted by the customer when using the static-IP connectivity method.",
              "id": "datamigration.projects.locations.fetchStaticIps",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "FetchStaticIpsResponse"
              },
              "path": "v1/{+name}:fetchStaticIps",
              "httpMethod": "GET"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Resource name for the location."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "id": "datamigration.projects.locations.get"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datamigration.projects.locations.list",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "location": "query",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "privateConnections": {
              "methods": {
                "getIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1/{+resource}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                    },
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}:getIamPolicy",
                  "id": "datamigration.projects.locations.privateConnections.getIamPolicy",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single private connection.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "PrivateConnection"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                      "description": "Required. The name of the private connection to get."
                    }
                  },
                  "id": "datamigration.projects.locations.privateConnections.get"
                },
                "testIamPermissions": {
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "id": "datamigration.projects.locations.privateConnections.testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "path": "v1/{+resource}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}:testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Retrieves a list of private connections in a given project and location.",
                  "response": {
                    "$ref": "ListPrivateConnectionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datamigration.projects.locations.privateConnections.list",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/privateConnections",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Maximum number of private connections to return. If unspecified, at most 50 private connections that are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Order by fields for the result."
                    },
                    "parent": {
                      "description": "Required. The parent that owns the collection of private connections.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A filter expression that filters private connections listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be either =, !=, >, or <. For example, list private connections created this year by specifying **createTime %gt; 2021-01-01T00:00:00.000000000Z**."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Page token received from a previous `ListPrivateConnections` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPrivateConnections` must match the call that provided the page token."
                    }
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new private connection in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "PrivateConnection"
                  },
                  "path": "v1/{+parent}/privateConnections",
                  "id": "datamigration.projects.locations.privateConnections.create",
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. For PSC Interface only - get the tenant project before creating the resource."
                    },
                    "privateConnectionId": {
                      "location": "query",
                      "description": "Required. The private connection identifier.",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A unique ID used to identify the request. If the server receives two requests with the same ID, then the second request is ignored. It is recommended to always set this value to a UUID. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent that owns the collection of PrivateConnections."
                    },
                    "skipValidation": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, will skip validations."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections"
                },
                "setIamPolicy": {
                  "response": {
                    "$ref": "Policy"
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "path": "v1/{+resource}:setIamPolicy",
                  "id": "datamigration.projects.locations.privateConnections.setIamPolicy",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}:setIamPolicy"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datamigration.projects.locations.privateConnections.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateConnections/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the private connection to delete.",
                      "location": "path"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A unique ID used to identify the request. If the server receives two requests with the same ID, then the second request is ignored. It is recommended to always set this value to a UUID. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single Database Migration Service private connection."
                }
              }
            },
            "conversionWorkspaces": {
              "methods": {
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "datamigration.projects.locations.conversionWorkspaces.patch",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "ConversionWorkspace"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Updates the parameters of a single conversion workspace.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversionWorkspaces/[^/]+$",
                      "description": "Full name of the workspace resource, in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}.",
                      "required": true,
                      "location": "path"
                    },
                    "requestId": {
                      "description": "Optional. A unique ID used to identify the request. If the server receives two requests with the same ID, then the second request is ignored. It is recommended to always set this value to a UUID. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
                      "location": "query",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. Field mask is used to specify the fields to be overwritten by the update in the conversion workspace resource.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces/{conversionWorkspacesId}"
                },
                "commit": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the conversion workspace resource to commit.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversionWorkspaces/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "CommitConversionWorkspaceRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces/{conversionWorkspacesId}:commit",
                  "description": "Marks all the data in the conversion workspace as committed.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:commit",
                  "id": "datamigration.projects.locations.conversionWorkspaces.commit"
                },
                "getIamPolicy": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+resource}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversionWorkspaces/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "options.requestedPolicyVersion": {
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "id": "datamigration.projects.locations.conversionWorkspaces.getIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces/{conversionWorkspacesId}:getIamPolicy",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
                },
                "list": {
                  "id": "datamigration.projects.locations.conversionWorkspaces.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/conversionWorkspaces",
                  "response": {
                    "$ref": "ListConversionWorkspacesResponse"
                  },
                  "description": "Lists conversion workspaces in a given project and location.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent which owns this collection of conversion workspaces.",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A filter expression that filters conversion workspaces listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be either =, !=, >, or <. For example, list conversion workspaces created this year by specifying **createTime %gt; 2020-01-01T00:00:00.000000000Z.** You can also filter nested fields. For example, you could specify **source.version = \"12.c.1\"** to select all conversion workspaces with source database version equal to 12.c.1.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of conversion workspaces to return. The service may return fewer than this value. If unspecified, at most 50 sets are returned.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. The nextPageToken value received in the previous call to conversionWorkspaces.list, used in the subsequent request to retrieve the next page of results. On first call this should be left blank. When paginating, all other parameters provided to conversionWorkspaces.list must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "searchBackgroundJobs": {
                  "description": "Searches/lists the background jobs for a specific conversion workspace. The background jobs are not resources like conversion workspaces or mapping rules, and they can't be created, updated or deleted. Instead, they are a way to expose the data plane jobs log.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces/{conversionWorkspacesId}:searchBackgroundJobs",
                  "id": "datamigration.projects.locations.conversionWorkspaces.searchBackgroundJobs",
                  "parameterOrder": [
                    "conversionWorkspace"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+conversionWorkspace}:searchBackgroundJobs",
                  "parameters": {
                    "completedUntilTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "location": "query",
                      "description": "Optional. If provided, only returns jobs that completed until (not including) the given timestamp."
                    },
                    "returnMostRecentPerJobType": {
                      "type": "boolean",
                      "description": "Optional. Whether or not to return just the most recent job per job type,",
                      "location": "query"
                    },
                    "maxSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of jobs to return. The service may return fewer than this value. If unspecified, at most 100 jobs are returned. The maximum value is 100; values above 100 are coerced to 100.",
                      "location": "query",
                      "type": "integer"
                    },
                    "conversionWorkspace": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the conversion workspace resource whose jobs are listed, in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversionWorkspaces/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "SearchBackgroundJobsResponse"
                  }
                },
                "rollback": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "RollbackConversionWorkspaceRequest"
                  },
                  "path": "v1/{+name}:rollback",
                  "description": "Rolls back a conversion workspace to the last committed snapshot.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the conversion workspace resource to roll back to.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversionWorkspaces/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datamigration.projects.locations.conversionWorkspaces.rollback",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces/{conversionWorkspacesId}:rollback",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "describeConversionWorkspaceRevisions": {
                  "description": "Retrieves a list of committed revisions of a specific conversion workspace.",
                  "path": "v1/{+conversionWorkspace}:describeConversionWorkspaceRevisions",
                  "response": {
                    "$ref": "DescribeConversionWorkspaceRevisionsResponse"
                  },
                  "id": "datamigration.projects.locations.conversionWorkspaces.describeConversionWorkspaceRevisions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "conversionWorkspace": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversionWorkspaces/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the conversion workspace resource whose revisions are listed. Must be in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}.",
                      "required": true,
                      "type": "string"
                    },
                    "commitId": {
                      "description": "Optional. Optional filter to request a specific commit ID.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces/{conversionWorkspacesId}:describeConversionWorkspaceRevisions",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "conversionWorkspace"
                  ]
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. A unique ID used to identify the request. If the server receives two requests with the same ID, then the second request is ignored. It is recommended to always set this value to a UUID. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
                      "location": "query",
                      "type": "string"
                    },
                    "conversionWorkspaceId": {
                      "description": "Required. The ID of the conversion workspace to create.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent which owns this collection of conversion workspaces.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ConversionWorkspace"
                  },
                  "description": "Creates a new conversion workspace in a given project and location.",
                  "id": "datamigration.projects.locations.conversionWorkspaces.create",
                  "path": "v1/{+parent}/conversionWorkspaces",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces/{conversionWorkspacesId}",
                  "description": "Gets details of a single conversion workspace.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the conversion workspace resource to get.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversionWorkspaces/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ConversionWorkspace"
                  },
                  "id": "datamigration.projects.locations.conversionWorkspaces.get",
                  "path": "v1/{+name}"
                },
                "describeDatabaseEntities": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces/{conversionWorkspacesId}:describeDatabaseEntities",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. The nextPageToken value received in the previous call to conversionWorkspace.describeDatabaseEntities, used in the subsequent request to retrieve the next page of results. On first call this should be left blank. When paginating, all other parameters provided to conversionWorkspace.describeDatabaseEntities must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "view": {
                      "enum": [
                        "DATABASE_ENTITY_VIEW_UNSPECIFIED",
                        "DATABASE_ENTITY_VIEW_BASIC",
                        "DATABASE_ENTITY_VIEW_FULL",
                        "DATABASE_ENTITY_VIEW_ROOT_SUMMARY",
                        "DATABASE_ENTITY_VIEW_FULL_COMPACT"
                      ],
                      "description": "Optional. Results view based on AIP-157",
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified view. Defaults to basic view.",
                        "Default view. Does not return DDLs or Issues.",
                        "Return full entity details including mappings, ddl and issues.",
                        "Top-most (Database, Schema) nodes which are returned contains summary details for their descendants such as the number of entities per type and issues rollups. When this view is used, only a single page of result is returned and the page_size property of the request is ignored. The returned page will only include the top-most node types.",
                        "Returns full entity details except for ddls and schema custom features."
                      ],
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter the returned entities based on AIP-160 standard."
                    },
                    "tree": {
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified tree type.",
                        "The source database tree.",
                        "The draft database tree.",
                        "The destination database tree."
                      ],
                      "type": "string",
                      "enum": [
                        "DB_TREE_TYPE_UNSPECIFIED",
                        "SOURCE_TREE",
                        "DRAFT_TREE",
                        "DESTINATION_TREE"
                      ],
                      "description": "Required. The tree to fetch."
                    },
                    "commitId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Request a specific commit ID. If not specified, the entities from the latest commit are returned."
                    },
                    "uncommitted": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. Whether to retrieve the latest committed version of the entities or the latest version. This field is ignored if a specific commit_id is specified."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of entities to return. The service may return fewer entities than the value specifies."
                    },
                    "conversionWorkspace": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversionWorkspaces/[^/]+$",
                      "description": "Required. Name of the conversion workspace resource whose database entities are described. Must be in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+conversionWorkspace}:describeDatabaseEntities",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datamigration.projects.locations.conversionWorkspaces.describeDatabaseEntities",
                  "description": "Describes the database entities tree for a specific conversion workspace and a specific tree type. Database entities are not resources like conversion workspaces or mapping rules, and they can't be created, updated or deleted. Instead, they are simple data objects describing the structure of the client database.",
                  "parameterOrder": [
                    "conversionWorkspace"
                  ],
                  "response": {
                    "$ref": "DescribeDatabaseEntitiesResponse"
                  },
                  "httpMethod": "GET"
                },
                "convert": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces/{conversionWorkspacesId}:convert",
                  "id": "datamigration.projects.locations.conversionWorkspaces.convert",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ConvertConversionWorkspaceRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversionWorkspaces/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Name of the conversion workspace resource to convert in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}."
                    }
                  },
                  "description": "Creates a draft tree schema for the destination database.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:convert",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "seed": {
                  "description": "Imports a snapshot of the source database into the conversion workspace.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Name of the conversion workspace resource to seed with new database structure, in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversionWorkspaces/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces/{conversionWorkspacesId}:seed",
                  "id": "datamigration.projects.locations.conversionWorkspaces.seed",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:seed",
                  "request": {
                    "$ref": "SeedConversionWorkspaceRequest"
                  }
                },
                "apply": {
                  "description": "Applies draft tree onto a specific destination database.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the conversion workspace resource for which to apply the draft tree. Must be in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversionWorkspaces/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "datamigration.projects.locations.conversionWorkspaces.apply",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:apply",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ApplyConversionWorkspaceRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces/{conversionWorkspacesId}:apply"
                },
                "setIamPolicy": {
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversionWorkspaces/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces/{conversionWorkspacesId}:setIamPolicy",
                  "id": "datamigration.projects.locations.conversionWorkspaces.setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "httpMethod": "POST",
                  "path": "v1/{+resource}:setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "testIamPermissions": {
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversionWorkspaces/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces/{conversionWorkspacesId}:testIamPermissions",
                  "path": "v1/{+resource}:testIamPermissions",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "id": "datamigration.projects.locations.conversionWorkspaces.testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces/{conversionWorkspacesId}",
                  "description": "Deletes a single conversion workspace.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the conversion workspace resource to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversionWorkspaces/[^/]+$",
                      "location": "path"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A unique ID used to identify the request. If the server receives two requests with the same ID, then the second request is ignored. It is recommended to always set this value to a UUID. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
                      "location": "query"
                    },
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. Force delete the conversion workspace, even if there's a running migration that is using the workspace."
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datamigration.projects.locations.conversionWorkspaces.delete"
                }
              },
              "resources": {
                "mappingRules": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the mapping rule resource to get. Example: conversionWorkspaces/123/mappingRules/rule123 In order to retrieve a previous revision of the mapping rule, also provide the revision ID. Example: conversionWorkspace/123/mappingRules/rule123@c7cfa2a8c7cfa2a8c7cfa2a8c7cfa2a8",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversionWorkspaces/[^/]+/mappingRules/[^/]+$",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "MappingRule"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the details of a mapping rule.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces/{conversionWorkspacesId}/mappingRules/{mappingRulesId}",
                      "httpMethod": "GET",
                      "id": "datamigration.projects.locations.conversionWorkspaces.mappingRules.get"
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces/{conversionWorkspacesId}/mappingRules",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datamigration.projects.locations.conversionWorkspaces.mappingRules.list",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversionWorkspaces/[^/]+$",
                          "description": "Required. Name of the conversion workspace resource whose mapping rules are listed in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}."
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. The maximum number of rules to return. The service may return fewer than this value.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. The nextPageToken value received in the previous call to mappingRules.list, used in the subsequent request to retrieve the next page of results. On first call this should be left blank. When paginating, all other parameters provided to mappingRules.list must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Lists the mapping rules for a specific conversion workspace.",
                      "path": "v1/{+parent}/mappingRules",
                      "response": {
                        "$ref": "ListMappingRulesResponse"
                      }
                    },
                    "create": {
                      "parameters": {
                        "requestId": {
                          "description": "Optional. A unique ID used to identify the request. If the server receives two requests with the same ID, then the second request is ignored. It is recommended to always set this value to a UUID. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent which owns this collection of mapping rules.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversionWorkspaces/[^/]+$",
                          "type": "string"
                        },
                        "mappingRuleId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The ID of the rule to create."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/mappingRules",
                      "request": {
                        "$ref": "MappingRule"
                      },
                      "description": "Creates a new mapping rule for a given conversion workspace.",
                      "response": {
                        "$ref": "MappingRule"
                      },
                      "httpMethod": "POST",
                      "id": "datamigration.projects.locations.conversionWorkspaces.mappingRules.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces/{conversionWorkspacesId}/mappingRules",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "import": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversionWorkspaces/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of the conversion workspace resource to import the rules to in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{conversion_workspace}.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/mappingRules:import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "ImportMappingRulesRequest"
                      },
                      "httpMethod": "POST",
                      "description": "Imports the mapping rules for a given conversion workspace. Supports various formats of external rules files.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces/{conversionWorkspacesId}/mappingRules:import",
                      "id": "datamigration.projects.locations.conversionWorkspaces.mappingRules.import"
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/conversionWorkspaces/{conversionWorkspacesId}/mappingRules/{mappingRulesId}",
                      "id": "datamigration.projects.locations.conversionWorkspaces.mappingRules.delete",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversionWorkspaces/[^/]+/mappingRules/[^/]+$",
                          "type": "string",
                          "description": "Required. Name of the mapping rule resource to delete.",
                          "required": true,
                          "location": "path"
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A unique ID used to identify the request. If the server receives two requests with the same ID, then the second request is ignored. It is recommended to always set this value to a UUID. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
                        }
                      },
                      "description": "Deletes a single mapping rule.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "migrationJobs": {
              "methods": {
                "restart": {
                  "path": "v1/{+name}:restart",
                  "request": {
                    "$ref": "RestartMigrationJobRequest"
                  },
                  "id": "datamigration.projects.locations.migrationJobs.restart",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/migrationJobs/[^/]+$",
                      "required": true,
                      "description": "Name of the migration job resource to restart."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/migrationJobs/{migrationJobsId}:restart",
                  "description": "Restart a stopped or failed migration job, resetting the destination instance to its original state and starting the migration process from scratch.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "fetchSourceObjects": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "id": "datamigration.projects.locations.migrationJobs.fetchSourceObjects",
                  "description": "Retrieves objects from the source database that can be selected for data migration. This is applicable for the following migrations: 1. PostgreSQL to Cloud SQL for PostgreSQL 2. PostgreSQL to AlloyDB for PostgreSQL.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name for the migration job for which source objects should be returned.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/migrationJobs/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}:fetchSourceObjects",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/migrationJobs/{migrationJobsId}:fetchSourceObjects",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "setIamPolicy": {
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/migrationJobs/{migrationJobsId}:setIamPolicy",
                  "id": "datamigration.projects.locations.migrationJobs.setIamPolicy",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/migrationJobs/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+resource}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "verify": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Name of the migration job resource to verify.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/migrationJobs/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/migrationJobs/{migrationJobsId}:verify",
                  "request": {
                    "$ref": "VerifyMigrationJobRequest"
                  },
                  "description": "Verify a migration job, making sure the destination can reach the source and that all configuration and prerequisites are met.",
                  "id": "datamigration.projects.locations.migrationJobs.verify",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+name}:verify",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "stop": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/migrationJobs/[^/]+$",
                      "type": "string",
                      "description": "Name of the migration job resource to stop."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:stop",
                  "id": "datamigration.projects.locations.migrationJobs.stop",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/migrationJobs/{migrationJobsId}:stop",
                  "description": "Stops a running migration job.",
                  "request": {
                    "$ref": "StopMigrationJobRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListMigrationJobsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/migrationJobs",
                  "description": "Lists migration jobs in a given project and location.",
                  "id": "datamigration.projects.locations.migrationJobs.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/migrationJobs",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of migration jobs to return. The service may return fewer than this value. If unspecified, at most 50 migration jobs will be returned. The maximum value is 1000; values above 1000 are coerced to 1000."
                    },
                    "pageToken": {
                      "description": "Optional. The nextPageToken value received in the previous call to migrationJobs.list, used in the subsequent request to retrieve the next page of results. On first call this should be left blank. When paginating, all other parameters provided to migrationJobs.list must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Sort the results based on the migration job name. Valid values are: \"name\", \"name asc\", and \"name desc\".",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent which owns this collection of migrationJobs.",
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A filter expression that filters migration jobs listed in the response. The expression must specify the field name, a comparison operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The comparison operator must be either =, !=, >, or <. For example, list migration jobs created this year by specifying **createTime %gt; 2020-01-01T00:00:00.000000000Z.** You can also filter nested fields. For example, you could specify **reverseSshConnectivity.vmIp = \"1.2.3.4\"** to select all migration jobs connecting through the specific SSH tunnel bastion."
                    }
                  }
                },
                "resume": {
                  "description": "Resume a migration job that is currently stopped and is resumable (was stopped during CDC phase).",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "ResumeMigrationJobRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Name of the migration job resource to resume.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/migrationJobs/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+name}:resume",
                  "id": "datamigration.projects.locations.migrationJobs.resume",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/migrationJobs/{migrationJobsId}:resume"
                },
                "start": {
                  "description": "Start an already created migration job.",
                  "id": "datamigration.projects.locations.migrationJobs.start",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:start",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/migrationJobs/{migrationJobsId}:start",
                  "request": {
                    "$ref": "StartMigrationJobRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "Name of the migration job resource to start.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/migrationJobs/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes a single migration job.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. The destination CloudSQL connection profile is always deleted with the migration job. In case of force delete, the destination CloudSQL replica database is also deleted."
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the migration job resource to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/migrationJobs/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A unique ID used to identify the request. If the server receives two requests with the same ID, then the second request is ignored. It is recommended to always set this value to a UUID. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/migrationJobs/{migrationJobsId}",
                  "path": "v1/{+name}",
                  "id": "datamigration.projects.locations.migrationJobs.delete"
                },
                "promote": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datamigration.projects.locations.migrationJobs.promote",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/migrationJobs/{migrationJobsId}:promote",
                  "request": {
                    "$ref": "PromoteMigrationJobRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:promote",
                  "parameters": {
                    "name": {
                      "description": "Name of the migration job resource to promote.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/migrationJobs/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Promote a migration job, stopping replication to the destination and promoting the destination to be a standalone database."
                },
                "generateSshScript": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/migrationJobs/{migrationJobsId}:generateSshScript",
                  "path": "v1/{+migrationJob}:generateSshScript",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "migrationJob": {
                      "description": "Name of the migration job resource to generate the SSH script.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/migrationJobs/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "migrationJob"
                  ],
                  "id": "datamigration.projects.locations.migrationJobs.generateSshScript",
                  "description": "Generate a SSH configuration script to configure the reverse SSH connectivity.",
                  "request": {
                    "$ref": "GenerateSshScriptRequest"
                  },
                  "response": {
                    "$ref": "SshScript"
                  }
                },
                "generateTcpProxyScript": {
                  "parameterOrder": [
                    "migrationJob"
                  ],
                  "response": {
                    "$ref": "TcpProxyScript"
                  },
                  "description": "Generate a TCP Proxy configuration script to configure a cloud-hosted VM running a TCP Proxy.",
                  "parameters": {
                    "migrationJob": {
                      "description": "Name of the migration job resource to generate the TCP Proxy script.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/migrationJobs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "datamigration.projects.locations.migrationJobs.generateTcpProxyScript",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+migrationJob}:generateTcpProxyScript",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GenerateTcpProxyScriptRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/migrationJobs/{migrationJobsId}:generateTcpProxyScript"
                },
                "demoteDestination": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/migrationJobs/[^/]+$",
                      "description": "Required. Name of the migration job resource to demote its destination."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "DemoteDestinationRequest"
                  },
                  "path": "v1/{+name}:demoteDestination",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/migrationJobs/{migrationJobsId}:demoteDestination",
                  "description": "Demotes the destination database to become a read replica of the source. This is applicable for the following migrations: 1. MySQL to Cloud SQL for MySQL 2. PostgreSQL to Cloud SQL for PostgreSQL 3. PostgreSQL to AlloyDB for PostgreSQL.",
                  "id": "datamigration.projects.locations.migrationJobs.demoteDestination",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "MigrationJob"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/migrationJobs/{migrationJobsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the parameters of a single migration job.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. A unique ID used to identify the request. If the server receives two requests with the same ID, then the second request is ignored. It is recommended to always set this value to a UUID. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
                      "type": "string",
                      "location": "query"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. Field mask is used to specify the fields to be overwritten by the update in the conversion workspace resource."
                    },
                    "name": {
                      "required": true,
                      "description": "The name (URI) of this migration job resource, in the form of: projects/{project}/locations/{location}/migrationJobs/{migrationJob}.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/migrationJobs/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datamigration.projects.locations.migrationJobs.patch"
                },
                "testIamPermissions": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "id": "datamigration.projects.locations.migrationJobs.testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "path": "v1/{+resource}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/migrationJobs/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/migrationJobs/{migrationJobsId}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the migration job resource to get.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/migrationJobs/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/migrationJobs/{migrationJobsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single migration job.",
                  "id": "datamigration.projects.locations.migrationJobs.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "MigrationJob"
                  }
                },
                "create": {
                  "path": "v1/{+parent}/migrationJobs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "MigrationJob"
                  },
                  "description": "Creates a new migration job in a given project and location.",
                  "parameters": {
                    "migrationJobId": {
                      "description": "Required. The ID of the instance to create.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent which owns this collection of migration jobs.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A unique ID used to identify the request. If the server receives two requests with the same ID, then the second request is ignored. It is recommended to always set this value to a UUID. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
[...]
