{
  "discoveryVersion": "v1",
  "revision": "20260930",
  "ownerName": "Google",
  "batchPath": "batch",
  "rootUrl": "https://dataflow.googleapis.com/",
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "NameAndKind": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the counter."
        },
        "kind": {
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "description": "Counter aggregation kind.",
          "type": "string",
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ]
        }
      },
      "type": "object",
      "description": "Basic metadata about a counter.",
      "id": "NameAndKind"
    },
    "ParameterMetadata": {
      "properties": {
        "helpText": {
          "type": "string",
          "description": "Required. The help text to display for the parameter."
        },
        "enumOptions": {
          "type": "array",
          "items": {
            "$ref": "ParameterMetadataEnumOption"
          },
          "description": "Optional. The options shown when ENUM ParameterType is specified."
        },
        "label": {
          "description": "Required. The label to display for the parameter.",
          "type": "string"
        },
        "customMetadata": {
          "type": "object",
          "description": "Optional. Additional metadata for describing this parameter.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "parentName": {
          "description": "Optional. Specifies the name of the parent parameter. Used in conjunction with 'parent_trigger_values' to make this parameter conditional (will only be rendered conditionally). Should be mappable to a ParameterMetadata.name field.",
          "type": "string"
        },
        "parentTriggerValues": {
          "type": "array",
          "description": "Optional. The value(s) of the 'parent_name' parameter which will trigger this parameter to be shown. If left empty, ANY non-empty value in parent_name will trigger this parameter to be shown. Only considered when this parameter is conditional (when 'parent_name' has been provided).",
          "items": {
            "type": "string"
          }
        },
        "regexes": {
          "description": "Optional. Regexes that the parameter must match.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isOptional": {
          "type": "boolean",
          "description": "Optional. Whether the parameter is optional. Defaults to false."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the parameter."
        },
        "groupName": {
          "description": "Optional. Specifies a group name for this parameter to be rendered under. Group header text will be rendered exactly as specified in this field. Only considered when parent_name is NOT provided.",
          "type": "string"
        },
        "hiddenUi": {
          "type": "boolean",
          "description": "Optional. Whether the parameter should be hidden in the UI."
        },
        "paramType": {
          "enumDescriptions": [
            "Default input type.",
            "The parameter specifies generic text input.",
            "The parameter specifies a Cloud Storage Bucket to read from.",
            "The parameter specifies a Cloud Storage Bucket to write to.",
            "The parameter specifies a Cloud Storage file path to read from.",
            "The parameter specifies a Cloud Storage file path to write to.",
            "The parameter specifies a Cloud Storage folder path to read from.",
            "The parameter specifies a Cloud Storage folder to write to.",
            "The parameter specifies a Pub/Sub Topic.",
            "The parameter specifies a Pub/Sub Subscription.",
            "The parameter specifies a BigQuery table.",
            "The parameter specifies a JavaScript UDF in Cloud Storage.",
            "The parameter specifies a Service Account email.",
            "The parameter specifies a Machine Type.",
            "The parameter specifies a KMS Key name.",
            "The parameter specifies a Worker Region.",
            "The parameter specifies a Worker Zone.",
            "The parameter specifies a boolean input.",
            "The parameter specifies an enum input.",
            "The parameter specifies a number input.",
            "Deprecated. Please use KAFKA_READ_TOPIC instead.",
            "The parameter specifies the fully-qualified name of an Apache Kafka topic. This can be either a Google Managed Kafka topic or a non-managed Kafka topic.",
            "The parameter specifies the fully-qualified name of an Apache Kafka topic. This can be an existing Google Managed Kafka topic, the name for a new Google Managed Kafka topic, or an existing non-managed Kafka topic."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "description": "Optional. The type of the parameter. Used for selecting input picker.",
          "type": "string",
          "enum": [
            "DEFAULT",
            "TEXT",
            "GCS_READ_BUCKET",
            "GCS_WRITE_BUCKET",
            "GCS_READ_FILE",
            "GCS_WRITE_FILE",
            "GCS_READ_FOLDER",
            "GCS_WRITE_FOLDER",
            "PUBSUB_TOPIC",
            "PUBSUB_SUBSCRIPTION",
            "BIGQUERY_TABLE",
            "JAVASCRIPT_UDF_FILE",
            "SERVICE_ACCOUNT",
            "MACHINE_TYPE",
            "KMS_KEY_NAME",
            "WORKER_REGION",
            "WORKER_ZONE",
            "BOOLEAN",
            "ENUM",
            "NUMBER",
            "KAFKA_TOPIC",
            "KAFKA_READ_TOPIC",
            "KAFKA_WRITE_TOPIC"
          ]
        },
        "defaultValue": {
          "description": "Optional. The default values will pre-populate the parameter with the given value from the proto. If default_value is left empty, the parameter will be populated with a default of the relevant type, e.g. false for a boolean.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ParameterMetadata",
      "description": "Metadata for a specific parameter."
    },
    "ParameterMetadataEnumOption": {
      "id": "ParameterMetadataEnumOption",
      "properties": {
        "description": {
          "description": "Optional. The description to display for the enum option.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "Optional. The label to display for the enum option."
        },
        "value": {
          "description": "Required. The value of the enum option.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "ParameterMetadataEnumOption specifies the option shown in the enum form."
    },
    "DerivedSource": {
      "description": "Specification of one of the bundles produced as a result of splitting a Source (e.g. when executing a SourceSplitRequest, or when splitting an active task using WorkItemStatus.dynamic_source_split), relative to the source being split.",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Specification of the source."
        },
        "derivationMode": {
          "type": "string",
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ],
          "description": "What source to base the produced source on (if any).",
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ]
        }
      },
      "type": "object",
      "id": "DerivedSource"
    },
    "ReadInstruction": {
      "type": "object",
      "description": "An instruction that reads records. Takes no inputs, produces one output.",
      "properties": {
        "source": {
          "description": "The source to read from.",
          "$ref": "Source"
        }
      },
      "id": "ReadInstruction"
    },
    "MetricValue": {
      "description": "The value of a metric along with its name and labels.",
      "type": "object",
      "properties": {
        "metricLabels": {
          "type": "object",
          "description": "Optional. Set of metric labels for this metric.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "valueHistogram": {
          "description": "Histogram value of this metric.",
          "$ref": "DataflowHistogramValue"
        },
        "valueInt64": {
          "description": "Integer value of this metric.",
          "format": "int64",
          "type": "string"
        },
        "metric": {
          "type": "string",
          "description": "Base name for this metric."
        },
        "valueGauge64": {
          "$ref": "DataflowGaugeValue",
          "description": "Non-cumulative int64 value of this metric."
        }
      },
      "id": "MetricValue"
    },
    "LaunchTemplateParameters": {
      "id": "LaunchTemplateParameters",
      "properties": {
        "jobName": {
          "type": "string",
          "description": "Required. The job name to use for the created job. The name must match the regular expression `[a-z]([-a-z0-9]{0,1022}[a-z0-9])?`"
        },
        "transformNameMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Only applicable when updating a pipeline. Map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job."
        },
        "environment": {
          "$ref": "RuntimeEnvironment",
          "description": "The runtime environment for the job."
        },
        "parameters": {
          "description": "The runtime parameters to pass to the job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "update": {
          "description": "If set, replace the existing pipeline with the name specified by jobName with this pipeline, preserving state.",
          "type": "boolean"
        }
      },
      "description": "Parameters to provide to the template being launched. Note that the [metadata in the pipeline code] (https://cloud.google.com/dataflow/docs/guides/templates/creating-templates#metadata) determines which runtime parameters are valid.",
      "type": "object"
    },
    "AutoscalingSettings": {
      "description": "Settings for WorkerPool autoscaling.",
      "type": "object",
      "properties": {
        "maxNumWorkers": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of workers to cap scaling at."
        },
        "algorithm": {
          "type": "string",
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "description": "The algorithm to use for autoscaling.",
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ]
        }
      },
      "id": "AutoscalingSettings"
    },
    "CounterStructuredName": {
      "id": "CounterStructuredName",
      "description": "Identifies a counter within a per-job namespace. Counters whose structured names are the same get merged into a single value for the job.",
      "properties": {
        "inputIndex": {
          "format": "int32",
          "type": "integer",
          "description": "Index of an input collection that's being read from/written to as a side input. The index identifies a step's side inputs starting by 1 (e.g. the first side input has input_index 1, the third has input_index 3). Side inputs are identified by a pair of (original_step_name, input_index). This field helps uniquely identify them."
        },
        "name": {
          "type": "string",
          "description": "Counter name. Not necessarily globally-unique, but unique within the context of the other fields. Required."
        },
        "origin": {
          "type": "string",
          "enum": [
            "SYSTEM",
            "USER"
          ],
          "enumDescriptions": [
            "Counter was created by the Dataflow system.",
            "Counter was created by the user."
          ],
          "description": "One of the standard Origins defined above."
        },
        "componentStepName": {
          "type": "string",
          "description": "Name of the optimized step being executed by the workers."
        },
        "originalRequestingStepName": {
          "description": "The step name requesting an operation, such as GBK. I.e. the ParDo causing a read/write from shuffle to occur, or a read from side inputs.",
          "type": "string"
        },
        "originNamespace": {
          "description": "A string containing a more specific namespace of the counter's origin.",
          "type": "string"
        },
        "portion": {
          "description": "Portion of this counter, either key or value.",
          "type": "string",
          "enum": [
            "ALL",
            "KEY",
            "VALUE"
          ],
          "enumDescriptions": [
            "Counter portion has not been set.",
            "Counter reports a key.",
            "Counter reports a value."
          ]
        },
        "workerId": {
          "type": "string",
          "description": "ID of a particular worker."
        },
        "executionStepName": {
          "description": "Name of the stage. An execution step contains multiple component steps.",
          "type": "string"
        },
        "originalStepName": {
          "description": "System generated name of the original step in the user's graph, before optimization.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StragglerSummary": {
      "id": "StragglerSummary",
      "properties": {
        "stragglerCauseCount": {
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "Aggregated counts of straggler causes, keyed by the string representation of the StragglerCause enum."
        },
        "recentStragglers": {
          "description": "The most recent stragglers.",
          "type": "array",
          "items": {
            "$ref": "Straggler"
          }
        },
        "totalStragglerCount": {
          "type": "string",
          "description": "The total count of stragglers.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Summarized straggler identification details."
    },
    "Parameter": {
      "id": "Parameter",
      "properties": {
        "value": {
          "type": "any",
          "description": "Value for this parameter."
        },
        "key": {
          "type": "string",
          "description": "Key or name for this parameter."
        }
      },
      "description": "Structured data associated with this message.",
      "type": "object"
    },
    "MetricStructuredName": {
      "type": "object",
      "id": "MetricStructuredName",
      "description": "Identifies a metric, by describing the source which generated the metric.",
      "properties": {
        "name": {
          "description": "Worker-defined metric name.",
          "type": "string"
        },
        "origin": {
          "description": "Origin (namespace) of metric name. May be blank for user-define metrics; will be \"dataflow\" for metrics defined by the Dataflow service or SDK.",
          "type": "string"
        },
        "context": {
          "description": "Zero or more labeled fields which identify the part of the job this metric is associated with, such as the name of a step or collection. For example, built-in counters associated with steps will have context['step'] = . Counters associated with PCollections in the SDK will have context['pcollection'] = .",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "JobExecutionStageInfo": {
      "id": "JobExecutionStageInfo",
      "description": "Contains information about how a particular google.dataflow.v1beta3.Step will be executed.",
      "properties": {
        "stepName": {
          "type": "array",
          "description": "The steps associated with the execution stage. Note that stages may have several steps, and that a given step might be run by more than one stage.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "IntegerMean": {
      "id": "IntegerMean",
      "type": "object",
      "description": "A representation of an integer mean metric contribution.",
      "properties": {
        "sum": {
          "description": "The sum of all values being aggregated.",
          "$ref": "SplitInt64"
        },
        "count": {
          "$ref": "SplitInt64",
          "description": "The number of values being aggregated."
        }
      }
    },
    "PerStepNamespaceMetrics": {
      "description": "Metrics for a particular unfused step and namespace. A metric is uniquely identified by the `metrics_namespace`, `original_step`, `metric name` and `metric_labels`.",
      "id": "PerStepNamespaceMetrics",
      "properties": {
        "metricValues": {
          "type": "array",
          "items": {
            "$ref": "MetricValue"
          },
          "description": "Optional. Metrics that are recorded for this namespace and unfused step."
        },
        "originalStep": {
          "type": "string",
          "description": "The original system name of the unfused step that these metrics are reported from."
        },
        "metricsNamespace": {
          "description": "The namespace of these metrics on the worker.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "HotKeyDebuggingInfo": {
      "properties": {
        "detectedHotKeys": {
          "type": "object",
          "additionalProperties": {
            "$ref": "HotKeyInfo"
          },
          "description": "Debugging information for each detected hot key. Keyed by a hash of the key."
        }
      },
      "type": "object",
      "id": "HotKeyDebuggingInfo",
      "description": "Information useful for debugging a hot key detection."
    },
    "SourceOperationResponse": {
      "type": "object",
      "properties": {
        "getMetadata": {
          "description": "A response to a request to get metadata about a source.",
          "$ref": "SourceGetMetadataResponse"
        },
        "split": {
          "$ref": "SourceSplitResponse",
          "description": "A response to a request to split a source."
        }
      },
      "description": "The result of a SourceOperationRequest, specified in ReportWorkItemStatusRequest.source_operation when the work item is completed.",
      "id": "SourceOperationResponse"
    },
    "ReportWorkItemStatusResponse": {
      "properties": {
        "workItemServiceStates": {
          "description": "A set of messages indicating the service-side state for each WorkItem whose status was reported, in the same order as the WorkItemStatus messages in the ReportWorkItemStatusRequest which resulting in this response.",
          "type": "array",
          "items": {
            "$ref": "WorkItemServiceState"
          }
        },
        "unifiedWorkerResponse": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Untranslated bag-of-bytes WorkProgressUpdateResponse for UnifiedWorker."
        }
      },
      "description": "Response from a request to report the status of WorkItems.",
      "id": "ReportWorkItemStatusResponse",
      "type": "object"
    },
    "LaunchTemplateResponse": {
      "type": "object",
      "id": "LaunchTemplateResponse",
      "description": "Response to the request to launch a template.",
      "properties": {
        "job": {
          "$ref": "Job",
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched."
        }
      }
    },
    "StructuredMessage": {
      "type": "object",
      "id": "StructuredMessage",
      "description": "A rich message format, including a human readable string, a key for identifying the message, and structured data associated with the message for programmatic consumption.",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "The structured data associated with this message."
        },
        "messageText": {
          "description": "Human-readable version of message.",
          "type": "string"
        },
        "messageKey": {
          "type": "string",
          "description": "Identifier for this message type. Used by external systems to internationalize or personalize message."
        }
      }
    },
    "ContainerSpec": {
      "description": "Container Spec.",
      "properties": {
        "imageRepositoryCertPath": {
          "description": "Cloud Storage path to self-signed certificate of private registry.",
          "type": "string"
        },
        "defaultEnvironment": {
          "$ref": "FlexTemplateRuntimeEnvironment",
          "description": "Default runtime environment for the job."
        },
        "metadata": {
          "description": "Metadata describing a template including description and validation rules.",
          "$ref": "TemplateMetadata"
        },
        "sdkInfo": {
          "$ref": "SDKInfo",
          "description": "Required. SDK info of the Flex Template."
        },
        "imageRepositoryUsernameSecretId": {
          "type": "string",
          "description": "Secret Manager secret id for username to authenticate to private registry."
        },
        "image": {
          "description": "Name of the docker container image. E.g., gcr.io/project/some-image",
          "type": "string"
        },
        "imageRepositoryPasswordSecretId": {
          "type": "string",
          "description": "Secret Manager secret id for password to authenticate to private registry."
        }
      },
      "type": "object",
      "id": "ContainerSpec"
    },
    "HotKeyInfo": {
      "id": "HotKeyInfo",
      "type": "object",
      "description": "Information about a hot key.",
      "properties": {
        "key": {
          "description": "A detected hot key that is causing limited parallelism. This field will be populated only if the following flag is set to true: \"--enable_hot_key_logging\".",
          "type": "string"
        },
        "keyTruncated": {
          "description": "If true, then the above key is truncated and cannot be deserialized. This occurs if the key above is populated and the key size is >5MB.",
          "type": "boolean"
        },
        "hotKeyAge": {
          "type": "string",
          "description": "The age of the hot key measured from when it was first detected.",
          "format": "google-duration"
        }
      }
    },
    "GetDebugConfigResponse": {
      "description": "Response to a get debug configuration request.",
      "type": "object",
      "id": "GetDebugConfigResponse",
      "properties": {
        "config": {
          "type": "string",
          "description": "The encoded debug configuration for the requested component."
        }
      }
    },
    "ResourceUtilizationReportResponse": {
      "type": "object",
      "id": "ResourceUtilizationReportResponse",
      "description": "Service-side response to WorkerMessage reporting resource utilization.",
      "properties": {}
    },
    "BigQueryIODetails": {
      "description": "Metadata for a BigQuery connector used by the job.",
      "properties": {
        "dataset": {
          "description": "Dataset accessed in the connection.",
          "type": "string"
        },
        "projectId": {
          "description": "Project accessed in the connection.",
          "type": "string"
        },
        "table": {
          "description": "Table accessed in the connection.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "Query used to access data in the connection."
        }
      },
      "id": "BigQueryIODetails",
      "type": "object"
    },
    "WorkerSettings": {
      "properties": {
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "baseUrl": {
          "type": "string",
          "description": "The base URL for accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\""
        },
        "servicePath": {
          "description": "The Cloud Dataflow service path relative to the root URL, for example, \"dataflow/v1b3/projects\".",
          "type": "string"
        },
        "reportingEnabled": {
          "type": "boolean",
          "description": "Whether to send work progress updates to the service."
        },
        "shuffleServicePath": {
          "description": "The Shuffle service path relative to the root URL, for example, \"shuffle/v1beta1\".",
          "type": "string"
        },
        "workerId": {
          "type": "string",
          "description": "The ID of the worker running this pipeline."
        }
      },
      "type": "object",
      "description": "Provides data to pass through to the worker harness.",
      "id": "WorkerSettings"
    },
    "Straggler": {
      "properties": {
        "batchStraggler": {
          "$ref": "StragglerInfo",
          "description": "Batch straggler identification and debugging information."
        },
        "streamingStraggler": {
          "description": "Streaming straggler identification and debugging information.",
          "$ref": "StreamingStragglerInfo"
        }
      },
      "description": "Information for a straggler.",
      "type": "object",
      "id": "Straggler"
    },
    "OutlierStats": {
      "id": "OutlierStats",
      "type": "object",
      "properties": {
        "overflowCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of values that are larger than the upper bound of the largest bucket."
        },
        "underflowCount": {
          "description": "Number of values that are smaller than the lower bound of the smallest bucket.",
          "type": "string",
          "format": "int64"
        },
        "overflowMean": {
          "description": "Mean of values in the overflow bucket.",
          "type": "number",
          "format": "double"
        },
        "underflowMean": {
          "description": "Mean of values in the undeflow bucket.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Statistics for the underflow and overflow bucket."
    },
    "GetTemplateResponse": {
      "type": "object",
      "description": "The response to a GetTemplate request.",
      "id": "GetTemplateResponse",
      "properties": {
        "runtimeMetadata": {
          "description": "Describes the runtime metadata with SDKInfo and available parameters.",
          "$ref": "RuntimeMetadata"
        },
        "templateType": {
          "description": "Template Type.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "LEGACY",
            "FLEX"
          ],
          "enumDescriptions": [
            "Unknown Template Type.",
            "Legacy Template.",
            "Flex Template."
          ]
        },
        "metadata": {
          "$ref": "TemplateMetadata",
          "description": "The template metadata describing the template name, available parameters, etc."
        },
        "status": {
          "$ref": "Status",
          "description": "The status of the get template request. Any problems with the request will be indicated in the error_details."
        }
      }
    },
    "GetWorkerStacktracesResponse": {
      "description": "Response to get worker stacktraces from debug capture.",
      "id": "GetWorkerStacktracesResponse",
      "type": "object",
      "properties": {
        "sdks": {
          "items": {
            "$ref": "Sdk"
          },
          "type": "array",
          "description": "Repeated as unified worker may have multiple SDK processes."
        }
      }
    },
    "Histogram": {
      "description": "Histogram of value counts for a distribution. Buckets have an inclusive lower bound and exclusive upper bound and use \"1,2,5 bucketing\": The first bucket range is from [0,1) and all subsequent bucket boundaries are powers of ten multiplied by 1, 2, or 5. Thus, bucket boundaries are 0, 1, 2, 5, 10, 20, 50, 100, 200, 500, 1000, ... Negative values are not supported.",
      "id": "Histogram",
      "type": "object",
      "properties": {
        "firstBucketOffset": {
          "description": "Starting index of first stored bucket. The non-inclusive upper-bound of the ith bucket is given by: pow(10,(i-first_bucket_offset)/3) * (1,2,5)[(i-first_bucket_offset)%3]",
          "format": "int32",
          "type": "integer"
        },
        "bucketCounts": {
          "description": "Counts of values in each bucket. For efficiency, prefix and trailing buckets with count = 0 are elided. Buckets can store the full range of values of an unsigned long, with ULLONG_MAX falling into the 59th bucket with range [1e19, 2e19).",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      }
    },
    "GPUUtilization": {
      "properties": {
        "rate": {
          "type": "number",
          "description": "Required. GPU utilization rate of any kernel over the last sample period in the range of [0, 1].",
          "format": "double"
        }
      },
      "type": "object",
      "id": "GPUUtilization",
      "description": "Utilization details about the GPU."
    },
    "SendWorkerMessagesRequest": {
      "type": "object",
      "description": "A request for sending worker messages to the service.",
      "properties": {
        "workerMessages": {
          "type": "array",
          "description": "The WorkerMessages to send.",
          "items": {
            "$ref": "WorkerMessage"
          }
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job.",
          "type": "string"
        }
      },
      "id": "SendWorkerMessagesRequest"
    },
    "DataflowGaugeValue": {
      "properties": {
        "value": {
          "description": "The value of the gauge.",
          "type": "string",
          "format": "int64"
        },
        "measuredTime": {
          "description": "The timestamp when the gauge was recorded.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "The gauge value of a metric.",
      "id": "DataflowGaugeValue"
    },
    "StreamingOperationalLimits": {
      "description": "Operational limits imposed on streaming jobs by the backend.",
      "id": "StreamingOperationalLimits",
      "type": "object",
      "properties": {
        "maxTagBytes": {
          "format": "int64",
          "type": "string",
          "description": "The maximum size for a state tag."
        },
        "maxKeyBytes": {
          "type": "string",
          "description": "The maximum size allowed for a key.",
          "format": "int64"
        },
        "maxValueBytes": {
          "format": "int64",
          "type": "string",
          "description": "The maximum size for a value state field."
        },
        "maxBagElementBytes": {
          "format": "int64",
          "type": "string",
          "description": "The maximum size for an element in bag state."
        },
        "maxSourceStateBytes": {
          "format": "int64",
          "type": "string",
          "description": "The maximum size for a source state update."
        },
        "maxProductionOutputBytes": {
          "format": "int64",
          "type": "string",
          "description": "The maximum size for a single output element."
        },
        "maxSortedListElementBytes": {
          "type": "string",
          "description": "The maximum size for an element in sorted list state.",
          "format": "int64"
        },
        "maxGlobalDataBytes": {
          "description": "The maximum size for an element in global data.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ComponentSource": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "Human-readable name for this transform; may be user or system generated."
        },
        "originalTransformOrCollection": {
          "description": "User name for the original user transform or collection with which this source is most closely associated.",
          "type": "string"
        }
      },
      "description": "Description of an interstitial value between transforms in an execution stage.",
      "id": "ComponentSource"
    },
    "ApproximateReportedProgress": {
      "type": "object",
      "id": "ApproximateReportedProgress",
      "properties": {
        "fractionConsumed": {
          "format": "double",
          "type": "number",
          "description": "Completion as fraction of the input consumed, from 0.0 (beginning, nothing consumed), to 1.0 (end of the input, entire input consumed)."
        },
        "consumedParallelism": {
          "$ref": "ReportedParallelism",
          "description": "Total amount of parallelism in the portion of input of this task that has already been consumed and is no longer active. In the first two examples above (see remaining_parallelism), the value should be 29 or 2 respectively. The sum of remaining_parallelism and consumed_parallelism should equal the total amount of parallelism in this work item. If specified, must be finite."
        },
        "remainingParallelism": {
          "$ref": "ReportedParallelism",
          "description": "Total amount of parallelism in the input of this task that remains, (i.e. can be delegated to this task and any new tasks via dynamic splitting). Always at least 1 for non-finished work items and 0 for finished. \"Amount of parallelism\" refers to how many non-empty parts of the input can be read in parallel. This does not necessarily equal number of records. An input that can be read in parallel down to the individual records is called \"perfectly splittable\". An example of non-perfectly parallelizable input is a block-compressed file format where a block of records has to be read as a whole, but different blocks can be read in parallel. Examples: * If we are processing record #30 (starting at 1) out of 50 in a perfectly splittable 50-record input, this value should be 21 (20 remaining + 1 current). * If we are reading through block 3 in a block-compressed file consisting of 5 blocks, this value should be 3 (since blocks 4 and 5 can be processed in parallel by new tasks via dynamic splitting and the current task remains processing block 3). * If we are reading through the last block in a block-compressed file, or reading or processing the last record in a perfectly splittable input, this value should be 1, because apart from the current task, no additional remainder can be split off."
        },
        "position": {
          "description": "A Position within the work to represent a progress.",
          "$ref": "Position"
        }
      },
      "description": "A progress measurement of a WorkItem by a worker."
    },
    "WorkerThreadScalingReport": {
      "properties": {
        "currentThreadCount": {
          "type": "integer",
          "description": "Current number of active threads in a worker.",
          "format": "int32"
        }
      },
      "description": "Contains information about the thread scaling information of a worker.",
      "id": "WorkerThreadScalingReport",
      "type": "object"
    },
    "WorkerShutdownNotice": {
      "properties": {
        "reason": {
          "description": "The reason for the worker shutdown. Current possible values are: \"UNKNOWN\": shutdown reason is unknown. \"PREEMPTION\": shutdown reason is preemption. Other possible reasons may be added in the future.",
          "type": "string"
        }
      },
      "id": "WorkerShutdownNotice",
      "description": "Shutdown notification from workers. This is to be sent by the shutdown script of the worker VM so that the backend knows that the VM is being shut down.",
      "type": "object"
    },
    "StreamingComputationTask": {
      "description": "A task which describes what action should be performed for the specified streaming computation ranges.",
      "type": "object",
      "properties": {
        "taskType": {
          "description": "A type of streaming computation task.",
          "type": "string",
          "enum": [
            "STREAMING_COMPUTATION_TASK_UNKNOWN",
            "STREAMING_COMPUTATION_TASK_STOP",
            "STREAMING_COMPUTATION_TASK_START"
          ],
          "enumDescriptions": [
            "The streaming computation task is unknown, or unspecified.",
            "Stop processing specified streaming computation range(s).",
            "Start processing specified streaming computation range(s)."
          ]
        },
        "computationRanges": {
          "type": "array",
          "items": {
            "$ref": "StreamingComputationRanges"
          },
          "description": "Contains ranges of a streaming computation this task should apply to."
        },
        "dataDisks": {
          "items": {
            "$ref": "MountedDataDisk"
          },
          "description": "Describes the set of data disks this task should apply to.",
          "type": "array"
        }
      },
      "id": "StreamingComputationTask"
    },
    "CPUTime": {
      "properties": {
        "timestamp": {
          "type": "string",
          "description": "Timestamp of the measurement.",
          "format": "google-datetime"
        },
        "totalMs": {
          "description": "Total active CPU time across all cores (ie., non-idle) in milliseconds since start-up.",
          "type": "string",
          "format": "uint64"
        },
        "rate": {
          "description": "Average CPU utilization rate (% non-idle cpu / second) since previous sample.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Modeled after information exposed by /proc/stat.",
      "id": "CPUTime",
      "type": "object"
    },
    "InstructionOutput": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The user-provided name of this output."
        },
        "systemName": {
          "description": "System-defined name of this output. Unique across the workflow.",
          "type": "string"
        },
        "onlyCountKeyBytes": {
          "type": "boolean",
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the key size."
        },
        "onlyCountValueBytes": {
          "type": "boolean",
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the value size."
        },
        "codec": {
          "description": "The codec to use to encode data being written via this output.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "originalName": {
          "description": "System-defined name for this output in the original workflow graph. Outputs that do not contribute to an original instruction do not set this.",
          "type": "string"
        }
      },
      "description": "An output of an instruction.",
      "id": "InstructionOutput"
    },
    "StreamingScalingReport": {
      "properties": {
        "activeBundleCount": {
          "type": "integer",
          "deprecated": true,
          "format": "int32"
        },
        "maximumBytesCount": {
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "outstandingBundleCount": {
          "description": "Current outstanding bundle count.",
          "type": "integer",
          "format": "int32"
        },
        "maximumThreadCount": {
          "description": "Maximum thread count limit.",
          "type": "integer",
          "format": "int32"
        },
        "maximumBundleCount": {
          "description": "Maximum bundle count.",
          "format": "int32",
          "type": "integer"
        },
        "maximumBytes": {
          "type": "string",
          "description": "Maximum bytes.",
          "format": "int64"
        },
        "outstandingBytesCount": {
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        },
        "activeThreadCount": {
          "description": "Current acive thread count.",
          "format": "int32",
          "type": "integer"
        },
        "outstandingBytes": {
          "type": "string",
          "format": "int64",
          "description": "Current outstanding bytes."
        }
      },
      "type": "object",
      "description": "Contains per-user worker telemetry used in streaming autoscaling.",
      "id": "StreamingScalingReport"
    },
    "HotKeyDetection": {
      "type": "object",
      "id": "HotKeyDetection",
      "description": "Proto describing a hot key detected on a given WorkItem.",
      "properties": {
        "systemName": {
          "description": "System-defined name of the step containing this hot key. Unique across the workflow.",
          "type": "string"
        },
        "userStepName": {
          "type": "string",
          "description": "User-provided name of the step that contains this hot key."
        },
        "hotKeyAge": {
          "format": "google-duration",
          "type": "string",
          "description": "The age of the hot key measured from when it was first detected."
        }
      }
    },
    "CreateJobFromTemplateRequest": {
      "id": "CreateJobFromTemplateRequest",
      "properties": {
        "gcsPath": {
          "type": "string",
          "description": "Required. A Cloud Storage path to the template from which to create the job. Must be a valid Cloud Storage URL, beginning with `gs://`."
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The runtime parameters to pass to the job."
        },
        "jobName": {
          "description": "Required. The job name to use for the created job.",
          "type": "string"
        },
        "environment": {
          "description": "The runtime environment for the job.",
          "$ref": "RuntimeEnvironment"
        }
      },
      "description": "A request to create a Cloud Dataflow job from a template.",
      "type": "object"
    },
    "ShellTask": {
      "id": "ShellTask",
      "description": "A task which consists of a shell command for the worker to execute.",
      "type": "object",
      "properties": {
        "command": {
          "description": "The shell command to run.",
          "type": "string"
        },
        "exitCode": {
          "format": "int32",
          "type": "integer",
          "description": "Exit code for the task."
        }
      }
    },
    "MultiOutputInfo": {
      "description": "Information about an output of a multi-output DoFn.",
      "properties": {
        "tag": {
          "description": "The id of the tag the user code will emit to this output by; this should correspond to the tag of some SideInputInfo.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MultiOutputInfo"
    },
    "Source": {
      "description": "A source that records can be read and decoded from.",
      "properties": {
        "spec": {
          "type": "object",
          "description": "The source to read from, plus its parameters.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "baseSpecs": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          },
          "type": "array",
          "description": "While splitting, sources may specify the produced bundles as differences against another source, in order to save backend-side memory and allow bigger jobs. For details, see SourceSplitRequest. To support this use case, the full set of parameters of the source is logically obtained by taking the latest explicitly specified value of each parameter in the order: base_specs (later items win), spec (overrides anything in base_specs)."
        },
        "doesNotNeedSplitting": {
          "description": "Setting this value to true hints to the framework that the source doesn't need splitting, and using SourceSplitRequest on it would yield SOURCE_SPLIT_OUTCOME_USE_CURRENT. E.g. a file splitter may set this to true when splitting a single file into a set of byte ranges of appropriate size, and set this to false when splitting a filepattern into individual files. However, for efficiency, a file splitter may decide to produce file subranges directly from the filepattern to avoid a splitting round-trip. See SourceSplitRequest for an overview of the splitting process. This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated.",
          "type": "boolean"
        },
        "codec": {
          "description": "The codec to use to decode data read from the source.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "metadata": {
          "$ref": "SourceMetadata",
          "description": "Optionally, metadata for this source can be supplied right away, avoiding a SourceGetMetadataOperation roundtrip (see SourceOperationRequest). This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated."
        }
      },
      "id": "Source",
      "type": "object"
    },
    "DataSamplingConfig": {
      "type": "object",
      "properties": {
        "behaviors": {
          "type": "array",
          "description": "List of given sampling behaviors to enable. For example, specifying behaviors = [ALWAYS_ON] samples in-flight elements but does not sample exceptions. Can be used to specify multiple behaviors like, behaviors = [ALWAYS_ON, EXCEPTIONS] for specifying periodic sampling and exception sampling. If DISABLED is in the list, then sampling will be disabled and ignore the other given behaviors. Ordering does not matter.",
          "items": {
            "enumDescriptions": [
              "If given, has no effect on sampling behavior. Used as an unknown or unset sentinel value.",
              "When given, disables element sampling. Has same behavior as not setting the behavior.",
              "When given, enables sampling in-flight from all PCollections.",
              "When given, enables sampling input elements when a user-defined DoFn causes an exception."
            ],
            "type": "string",
            "enum": [
              "DATA_SAMPLING_BEHAVIOR_UNSPECIFIED",
              "DISABLED",
              "ALWAYS_ON",
              "EXCEPTIONS"
            ]
          }
        }
      },
      "description": "Configuration options for sampling elements.",
      "id": "DataSamplingConfig"
    },
    "SendDebugCaptureResponse": {
      "properties": {},
      "description": "Response to a send capture request. nothing",
      "id": "SendDebugCaptureResponse",
      "type": "object"
    },
    "ProgressTimeseries": {
      "properties": {
        "currentProgress": {
          "type": "number",
          "description": "The current progress of the component, in the range [0,1].",
          "format": "double"
        },
        "dataPoints": {
          "type": "array",
          "items": {
            "$ref": "Point"
          },
          "description": "History of progress for the component. Points are sorted by time."
        }
      },
      "id": "ProgressTimeseries",
      "description": "Information about the progress of some component of job execution.",
      "type": "object"
    },
    "ConfigStoreSettingValue": {
      "description": "Represents a dynamically typed value.",
      "type": "object",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        }
      },
      "id": "ConfigStoreSettingValue"
    },
    "JobMetadata": {
      "properties": {
        "bigTableDetails": {
          "description": "Identification of a Cloud Bigtable source used in the Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "BigTableIODetails"
          }
        },
        "userDisplayProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "List of display properties to help UI filter jobs."
        },
        "spannerDetails": {
          "items": {
            "$ref": "SpannerIODetails"
          },
          "description": "Identification of a Spanner source used in the Dataflow job.",
          "type": "array"
        },
        "datastoreDetails": {
          "items": {
            "$ref": "DatastoreIODetails"
          },
          "type": "array",
          "description": "Identification of a Datastore source used in the Dataflow job."
        },
        "fileDetails": {
          "items": {
            "$ref": "FileIODetails"
          },
          "description": "Identification of a File source used in the Dataflow job.",
          "type": "array"
        },
        "bigqueryDetails": {
          "description": "Identification of a BigQuery source used in the Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "BigQueryIODetails"
          }
        },
        "sdkVersion": {
          "$ref": "SdkVersion",
          "description": "The SDK version used to run the job."
        },
        "pubsubDetails": {
          "items": {
            "$ref": "PubSubIODetails"
          },
          "type": "array",
          "description": "Identification of a Pub/Sub source used in the Dataflow job."
        }
      },
      "id": "JobMetadata",
      "type": "object",
      "description": "Metadata available primarily for filtering jobs. Will be included in the ListJob response and Job SUMMARY view."
    },
    "SeqMapTaskOutputInfo": {
      "properties": {
        "tag": {
          "type": "string",
          "description": "The id of the TupleTag the user code will tag the output value by."
        },
        "sink": {
          "description": "The sink to write the output value to.",
          "$ref": "Sink"
        }
      },
      "type": "object",
      "id": "SeqMapTaskOutputInfo",
      "description": "Information about an output of a SeqMapTask."
    },
    "WorkerLifecycleEvent": {
      "properties": {
        "event": {
          "description": "The event being reported.",
          "type": "string",
          "enum": [
            "UNKNOWN_EVENT",
            "OS_START",
            "CONTAINER_START",
            "NETWORK_UP",
            "STAGING_FILES_DOWNLOAD_START",
            "STAGING_FILES_DOWNLOAD_FINISH",
            "SDK_INSTALL_START",
            "SDK_INSTALL_FINISH"
          ],
          "enumDescriptions": [
            "Invalid event.",
            "The time the VM started.",
            "Our container code starts running. Multiple containers could be distinguished with WorkerMessage.labels if desired.",
            "The worker has a functional external network connection.",
            "Started downloading staging files.",
            "Finished downloading all staging files.",
            "For applicable SDKs, started installation of SDK and worker packages.",
            "Finished installing SDK."
          ]
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Other stats that can accompany an event. E.g. { \"downloaded_bytes\" : \"123456\" }",
          "type": "object"
        },
        "containerStartTime": {
          "description": "The start time of this container. All events will report this so that events can be grouped together across container/VM restarts.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "A report of an event in a worker's lifecycle. The proto contains one event, because the worker is expected to asynchronously send each message immediately after the event. Due to this asynchrony, messages may arrive out of order (or missing), and it is up to the consumer to interpret. The timestamp of the event is in the enclosing WorkerMessage proto.",
      "id": "WorkerLifecycleEvent",
      "type": "object"
    },
    "FlattenInstruction": {
      "properties": {
        "inputs": {
          "items": {
            "$ref": "InstructionInput"
          },
          "description": "Describes the inputs to the flatten instruction.",
          "type": "array"
        }
      },
      "description": "An instruction that copies its inputs (zero or more) to its (single) output.",
      "type": "object",
      "id": "FlattenInstruction"
    },
    "Sdk": {
      "properties": {
        "sdkId": {
          "type": "string",
          "description": "The SDK harness id."
        },
        "stacks": {
          "type": "array",
          "description": "The stacktraces for the processes running on the SDK harness.",
          "items": {
            "$ref": "Stack"
          }
        }
      },
      "description": "A structured representation of an SDK.",
      "id": "Sdk",
      "type": "object"
    },
    "StreamingConfigTask": {
      "id": "StreamingConfigTask",
      "properties": {
        "streamingComputationConfigs": {
          "items": {
            "$ref": "StreamingComputationConfig"
          },
          "description": "Set of computation configuration information.",
          "type": "array"
        },
        "windmillServiceEndpoint": {
          "description": "If present, the worker must use this endpoint to communicate with Windmill Service dispatchers, otherwise the worker must continue to use whatever endpoint it had been using.",
          "type": "string"
        },
        "userWorkerRunnerV2Settings": {
          "description": "Binary encoded proto to control runtime behavior of the runner v2 user worker.",
          "type": "string",
          "format": "byte"
        },
        "userStepToStateFamilyNameMap": {
          "type": "object",
          "description": "Map from user step names to state families.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "commitStreamChunkSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Chunk size for commit streams from the harness to windmill."
        },
        "maxWorkItemCommitBytes": {
          "description": "Maximum size for work item commit supported windmill storage layer.",
          "format": "int64",
          "type": "string"
        },
        "operationalLimits": {
          "description": "Operational limits for the streaming job. Can be used by the worker to validate outputs sent to the backend.",
          "$ref": "StreamingOperationalLimits"
        },
        "userWorkerRunnerV1Settings": {
          "format": "byte",
          "description": "Binary encoded proto to control runtime behavior of the java runner v1 user worker.",
          "type": "string"
        },
        "windmillServicePort": {
          "format": "int64",
          "description": "If present, the worker must use this port to communicate with Windmill Service dispatchers. Only applicable when windmill_service_endpoint is specified.",
          "type": "string"
        },
        "streamingEngineStateTagEncodingVersion": {
          "type": "integer",
          "description": "Optional. The state tag encoding format version for streaming engine jobs.",
          "format": "int32"
        },
        "getDataStreamChunkSizeBytes": {
          "format": "int64",
          "description": "Chunk size for get data streams from the harness to windmill.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A task that carries configuration information for streaming computations."
    },
    "Parameters": {
      "type": "object",
      "properties": {
        "cpuUtilizationTarget": {
          "format": "double",
          "type": "number",
          "description": "Optional. The target CPU utilization for this schedule."
        },
        "latencyTarget": {
          "type": "string",
          "description": "Optional. The target latency for this schedule."
        },
        "minWorkerCount": {
          "description": "Optional. The minimum number of workers for this schedule.",
          "type": "integer",
          "format": "int32"
        },
        "maxWorkerCount": {
          "description": "Optional. The maximum number of workers for this schedule.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Parameters",
      "description": "The parameters to use for autoscaling when this schedule is active."
    },
    "StreamingStragglerInfo": {
      "description": "Information useful for streaming straggler identification and debugging.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Start time of this straggler.",
          "format": "google-datetime"
        },
        "systemWatermarkLag": {
          "type": "string",
          "description": "The system watermark lag at the time of the straggler detection.",
          "format": "google-duration"
        },
        "workerName": {
          "description": "Name of the worker where the straggler was detected.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End time of this straggler."
        },
        "dataWatermarkLag": {
          "description": "The event-time watermark lag at the time of the straggler detection.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "StreamingStragglerInfo"
    },
    "StreamingComputationRanges": {
      "type": "object",
      "id": "StreamingComputationRanges",
      "properties": {
        "computationId": {
          "type": "string",
          "description": "The ID of the computation."
        },
        "rangeAssignments": {
          "type": "array",
          "description": "Data disk assignments for ranges from this computation.",
          "items": {
            "$ref": "KeyRangeDataDiskAssignment"
          }
        }
      },
      "description": "Describes full or partial data disk assignment information of the computation ranges."
    },
    "FailedLocation": {
      "description": "Indicates which [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) failed to respond to a request for data.",
      "type": "object",
      "id": "FailedLocation",
      "properties": {
        "name": {
          "description": "The name of the [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond.",
          "type": "string"
        }
      }
    },
    "SideInputInfo": {
      "id": "SideInputInfo",
      "properties": {
        "kind": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "How to interpret the source element(s) as a side input value.",
          "type": "object"
        },
        "tag": {
          "type": "string",
          "description": "The id of the tag the user code will access this side input by; this should correspond to the tag of some MultiOutputInfo."
        },
        "sources": {
          "description": "The source(s) to read element(s) from to get the value of this side input. If more than one source, then the elements are taken from the sources, in the specified order if order matters. At least one source is required.",
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        }
      },
      "description": "Information about a side input of a DoFn or an input of a SeqDoFn.",
      "type": "object"
    },
    "SourceSplitRequest": {
      "type": "object",
      "description": "Represents the operation to split a high-level Source specification into bundles (parts for parallel processing). At a high level, splitting of a source into bundles happens as follows: SourceSplitRequest is applied to the source. If it returns SOURCE_SPLIT_OUTCOME_USE_CURRENT, no further splitting happens and the source is used \"as is\". Otherwise, splitting is applied recursively to each produced DerivedSource. As an optimization, for any Source, if its does_not_need_splitting is true, the framework assumes that splitting this source would return SOURCE_SPLIT_OUTCOME_USE_CURRENT, and doesn't initiate a SourceSplitRequest. This applies both to the initial source being split and to bundles produced from it.",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Specification of the source to be split."
        },
        "options": {
          "description": "Hints for tuning the splitting process.",
          "$ref": "SourceSplitOptions"
        }
      },
      "id": "SourceSplitRequest"
    },
    "Disk": {
      "description": "Describes the data disk used by a workflow job.",
      "properties": {
        "sizeGb": {
          "description": "Size of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer",
          "format": "int32"
        },
        "mountPoint": {
          "type": "string",
          "description": "Directory in a VM where disk is mounted."
        },
        "diskType": {
          "type": "string",
          "description": "Disk storage type, as defined by Google Compute Engine. This must be a disk type appropriate to the project and zone in which the workers will run. If unknown or unspecified, the service will attempt to choose a reasonable default. For example, the standard persistent disk type is a resource name typically ending in \"pd-standard\". If SSD persistent disks are available, the resource name typically ends with \"pd-ssd\". The actual valid values are defined the Google Compute Engine API, not by the Cloud Dataflow API; consult the Google Compute Engine documentation for more information about determining the set of available disk types for a particular project and zone. Google Compute Engine Disk types are local to a particular project in a particular zone, and so the resource name will typically look something like this: compute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard"
        }
      },
      "type": "object",
      "id": "Disk"
    },
    "RuntimeUpdatableParams": {
      "id": "RuntimeUpdatableParams",
      "description": "Additional job parameters that can only be updated during runtime using the projects.jobs.update method. These fields have no effect when specified during job creation.",
      "properties": {
        "workerUtilizationHint": {
          "type": "number",
          "format": "double",
          "description": "Target worker utilization, compared against the aggregate utilization of the worker pool by autoscaler, to determine upscaling and downscaling when absent other constraints such as backlog. For more information, see [Update an existing pipeline](https://cloud.google.com/dataflow/docs/guides/updating-a-pipeline)."
        },
        "maxNumWorkers": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of workers to cap autoscaling at. This field is currently only supported for Streaming Engine jobs."
        },
        "schedules": {
          "items": {
            "$ref": "AutoscalingSchedule"
          },
          "type": "array",
          "description": "Optional. The schedule for autoscaling."
        },
        "minNumWorkers": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of workers to scale down to. This field is currently only supported for Streaming Engine jobs."
        },
        "autoscalingTier": {
          "type": "string",
          "description": "Optional. Deprecated: Use `latency_tier` instead. The backlog threshold tier for autoscaling. Value must be one of \"low-latency\", \"medium-latency\", or \"high-latency\".",
          "deprecated": true
        },
        "latencyTier": {
          "type": "string",
          "description": "Optional. The backlog threshold tier for autoscaling. Value must be one of \"low-latency\", \"medium-latency\", or \"high-latency\"."
        },
        "acceptableBacklogDuration": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated: Use `latency_tier` instead. The backlog threshold duration in seconds for autoscaling. Value must be non-negative.",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "ParDoInstruction": {
      "description": "An instruction that does a ParDo operation. Takes one main input and zero or more side inputs, and produces zero or more outputs. Runs user code.",
      "type": "object",
      "id": "ParDoInstruction",
      "properties": {
        "multiOutputInfos": {
          "items": {
            "$ref": "MultiOutputInfo"
          },
          "type": "array",
          "description": "Information about each of the outputs, if user_fn is a MultiDoFn."
        },
        "sideInputs": {
          "type": "array",
          "description": "Zero or more side inputs.",
          "items": {
            "$ref": "SideInputInfo"
          }
        },
        "numOutputs": {
          "description": "The number of outputs.",
          "type": "integer",
          "format": "int32"
        },
        "userFn": {
          "description": "The user function to invoke.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "input": {
          "description": "The input.",
          "$ref": "InstructionInput"
        }
      }
    },
    "SourceSplitShard": {
      "properties": {
        "source": {
          "description": "DEPRECATED",
          "$ref": "Source"
        },
        "derivationMode": {
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "description": "DEPRECATED",
          "type": "string",
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ]
        }
      },
      "description": "DEPRECATED in favor of DerivedSource.",
      "id": "SourceSplitShard",
      "type": "object"
    },
    "StragglerInfo": {
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The time when the work item attempt became a straggler.",
          "format": "google-datetime"
        },
        "causes": {
          "description": "The straggler causes, keyed by the string representation of the StragglerCause enum and contains specialized debugging information for each straggler cause.",
          "type": "object",
          "additionalProperties": {
            "$ref": "StragglerDebuggingInfo"
          }
        }
      },
      "description": "Information useful for straggler identification and debugging.",
      "id": "StragglerInfo",
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "SnapshotJobRequest": {
      "type": "object",
      "id": "SnapshotJobRequest",
      "description": "Request to create a snapshot of a job.",
      "properties": {
        "location": {
          "description": "The location that contains this job.",
          "type": "string"
        },
        "ttl": {
          "description": "TTL for the snapshot.",
          "format": "google-duration",
          "type": "string"
        },
        "snapshotSources": {
          "description": "If true, perform snapshots for sources which support this.",
          "type": "boolean"
        },
        "description": {
          "description": "User specified description of the snapshot. Maybe empty.",
          "type": "string"
        }
      }
    },
    "StringList": {
      "description": "A metric value representing a list of strings.",
      "id": "StringList",
      "properties": {
        "elements": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Elements of the list."
        }
      },
      "type": "object"
    },
    "PerWorkerMetrics": {
      "description": "Per worker metrics.",
      "type": "object",
      "properties": {
        "perStepNamespaceMetrics": {
          "description": "Optional. Metrics for a particular unfused step and namespace.",
          "type": "array",
          "items": {
            "$ref": "PerStepNamespaceMetrics"
          }
        }
      },
      "id": "PerWorkerMetrics"
    },
    "SplitInt64": {
      "id": "SplitInt64",
      "properties": {
        "lowBits": {
          "type": "integer",
          "format": "uint32",
          "description": "The low order bits: n & 0xffffffff."
        },
        "highBits": {
          "description": "The high order bits, including the sign: n >> 32.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "A representation of an int64, n, that is immune to precision loss when encoded in JSON."
    },
    "DebugOptions": {
      "type": "object",
      "description": "Describes any options that have an effect on the debugging of pipelines.",
      "properties": {
        "enableHotKeyLogging": {
          "description": "Optional. When true, enables the logging of the literal hot key to the user's Cloud Logging.",
          "type": "boolean"
        },
        "dataSampling": {
          "$ref": "DataSamplingConfig",
          "description": "Configuration options for sampling elements from a running pipeline."
        }
      },
      "id": "DebugOptions"
    },
    "GPUUsage": {
      "id": "GPUUsage",
      "description": "Information about the GPU usage on the worker.",
      "type": "object",
      "properties": {
        "utilization": {
          "$ref": "GPUUtilization",
          "description": "Required. Utilization info about the GPU."
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Timestamp of the measurement."
        }
      }
    },
    "WorkerMessageCode": {
      "id": "WorkerMessageCode",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Parameters contains specific information about the code. This is a struct to allow parameters of different types. Examples: 1. For a \"HARNESS_STARTED\" message parameters might provide the name of the worker and additional data like timing information. 2. For a \"GCS_DOWNLOAD_ERROR\" parameters might contain fields listing the Cloud Storage objects being downloaded and fields containing errors. In general complex data structures should be avoided. If a worker needs to send a specific and complicated data structure then please consider defining a new proto and adding it to the data oneof in WorkerMessageResponse. Conventions: Parameters should only be used for information that isn't typically passed as a label. hostname and other worker identifiers should almost always be passed as labels since they will be included on most messages."
        },
        "code": {
          "description": "The code is a string intended for consumption by a machine that identifies the type of message being sent. Examples: 1. \"HARNESS_STARTED\" might be used to indicate the worker harness has started. 2. \"GCS_DOWNLOAD_ERROR\" might be used to indicate an error downloading a Cloud Storage file as part of the boot process of one of the worker containers. This is a string and not an enum to make it easy to add new codes without waiting for an API change.",
          "type": "string"
        }
      },
      "description": "A message code is used to report status and error messages to the service. The message codes are intended to be machine readable. The service will take care of translating these into user understandable messages if necessary. Example use cases: 1. Worker processes reporting successful startup. 2. Worker processes reporting specific errors (e.g. package staging failure).",
      "type": "object"
    },
    "MetricShortId": {
      "properties": {
        "shortId": {
          "format": "int64",
          "description": "The service-generated short identifier for the metric.",
          "type": "string"
        },
        "metricIndex": {
          "type": "integer",
          "description": "The index of the corresponding metric in the ReportWorkItemStatusRequest. Required.",
          "format": "int32"
        }
      },
      "description": "The metric short id is returned to the user alongside an offset into ReportWorkItemStatusRequest",
      "type": "object",
      "id": "MetricShortId"
    },
    "WriteInstruction": {
      "type": "object",
      "properties": {
        "input": {
          "$ref": "InstructionInput",
          "description": "The input."
        },
        "sink": {
          "description": "The sink to write to.",
          "$ref": "Sink"
        }
      },
      "description": "An instruction that writes records. Takes one input, produces no outputs.",
      "id": "WriteInstruction"
    },
    "CounterStructuredNameAndMetadata": {
      "id": "CounterStructuredNameAndMetadata",
      "properties": {
        "metadata": {
          "$ref": "CounterMetadata",
          "description": "Metadata associated with a counter"
        },
        "name": {
          "$ref": "CounterStructuredName",
          "description": "Structured name of the counter."
        }
      },
      "description": "A single message which encapsulates structured name and metadata for a given counter.",
      "type": "object"
    },
    "KeyRangeLocation": {
      "type": "object",
      "id": "KeyRangeLocation",
      "description": "Location information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "properties": {
        "deprecatedPersistentDirectory": {
          "description": "DEPRECATED. The location of the persistent state for this range, as a persistent directory in the worker local filesystem.",
          "deprecated": true,
          "type": "string"
        },
        "deliveryEndpoint": {
          "type": "string",
          "description": "The physical location of this range assignment to be used for streaming computation cross-worker message delivery."
        },
        "end": {
          "description": "The end (exclusive) of the key range.",
          "type": "string"
        },
        "dataDisk": {
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        },
        "start": {
          "description": "The start (inclusive) of the key range.",
          "type": "string"
        }
      }
    },
    "ResolveConfigStoreSettingRequest": {
      "description": "Request message for ResolveConfigStoreSetting.",
      "type": "object",
      "properties": {},
      "id": "ResolveConfigStoreSettingRequest"
    },
    "WorkItemServiceState": {
      "id": "WorkItemServiceState",
      "properties": {
        "suggestedStopPoint": {
          "description": "DEPRECATED in favor of split_request.",
          "deprecated": true,
          "$ref": "ApproximateProgress"
        },
        "reportStatusInterval": {
          "description": "New recommended reporting interval.",
          "format": "google-duration",
          "type": "string"
        },
        "nextReportIndex": {
          "type": "string",
          "description": "The index value to use for the next report sent by the worker. Note: If the report call fails for whatever reason, the worker should reuse this index for subsequent report attempts.",
          "format": "int64"
        },
        "completeWorkStatus": {
          "$ref": "Status",
          "description": "If set, a request to complete the work item with the given status. This will not be set to OK, unless supported by the specific kind of WorkItem. It can be used for the backend to indicate a WorkItem must terminate, e.g., for aborting work."
        },
        "hotKeyDetection": {
          "$ref": "HotKeyDetection",
          "description": "A hot key is a symptom of poor data distribution in which there are enough elements mapped to a single key to impact pipeline performance. When present, this field includes metadata associated with any hot key."
        },
        "splitRequest": {
          "description": "The progress point in the WorkItem where the Dataflow service suggests that the worker truncate the task.",
          "$ref": "ApproximateSplitRequest"
        },
        "metricShortId": {
          "type": "array",
          "description": "The short ids that workers should use in subsequent metric updates. Workers should strive to use short ids whenever possible, but it is ok to request the short_id again if a worker lost track of it (e.g. if the worker is recovering from a crash). NOTE: it is possible that the response may have short ids for a subset of the metrics.",
          "items": {
            "$ref": "MetricShortId"
          }
        },
        "leaseExpireTime": {
          "format": "google-datetime",
          "description": "Time at which the current lease will expire.",
          "type": "string"
        },
        "harnessData": {
          "type": "object",
          "description": "Other data returned by the service, specific to the particular worker harness.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "suggestedStopPosition": {
          "$ref": "Position",
          "deprecated": true,
          "description": "Obsolete, always empty."
        }
      },
      "description": "The Dataflow service's idea of the current state of a WorkItem being processed by a worker.",
      "type": "object"
    },
    "MapTask": {
      "properties": {
        "systemName": {
          "description": "System-defined name of this MapTask. Unique across the workflow.",
          "type": "string"
        },
        "counterPrefix": {
          "description": "Counter prefix that can be used to prefix counters. Not currently used in Dataflow.",
          "type": "string"
        },
        "stageName": {
          "type": "string",
          "description": "System-defined name of the stage containing this MapTask. Unique across the workflow."
        },
        "instructions": {
          "type": "array",
          "description": "The instructions in the MapTask.",
          "items": {
            "$ref": "ParallelInstruction"
          }
        }
      },
      "description": "MapTask consists of an ordered set of instructions, each of which describes one particular low-level operation for the worker to perform in order to accomplish the MapTask's WorkItem. Each instruction must appear in the list before any instructions which depends on its output.",
      "type": "object",
      "id": "MapTask"
    },
    "StreamingApplianceSnapshotConfig": {
      "type": "object",
      "id": "StreamingApplianceSnapshotConfig",
      "properties": {
        "importStateEndpoint": {
          "type": "string",
          "description": "Indicates which endpoint is used to import appliance state."
        },
        "snapshotId": {
          "description": "If set, indicates the snapshot id for the snapshot being performed.",
          "type": "string"
        }
      },
      "description": "Streaming appliance snapshot configuration."
    },
    "JobMetrics": {
      "properties": {
        "metrics": {
          "description": "All metrics for this job.",
          "type": "array",
          "items": {
            "$ref": "MetricUpdate"
          }
        },
        "metricTime": {
          "description": "Timestamp as of which metric values are current.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "JobMetrics",
      "type": "object",
      "description": "JobMetrics contains a collection of metrics describing the detailed progress of a Dataflow job. Metrics correspond to user-defined and system-defined metrics in the job. For more information, see [Dataflow job metrics] (https://cloud.google.com/dataflow/docs/guides/using-monitoring-intf). This resource captures only the most recent values of each metric; time-series data can be queried for them (under the same metric names) from Cloud Monitoring."
    },
    "RuntimeEnvironment": {
      "id": "RuntimeEnvironment",
      "properties": {
        "additionalExperiments": {
          "type": "array",
          "description": "Optional. Additional experiment flags for the job, specified with the `--experiments` option.",
          "items": {
            "type": "string"
          }
        },
        "workerZone": {
          "description": "Optional. The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "ipConfiguration": {
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "type": "string",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "description": "Optional. Configuration for VM IPs."
        },
        "subnetwork": {
          "type": "string",
          "description": "Optional. Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL."
        },
        "enableStreamingEngine": {
          "type": "boolean",
          "description": "Optional. Whether to enable Streaming Engine for the job."
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. The email address of the service account to run the job as."
        },
        "diskSizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The disk size, in gigabytes, to use on each remote Compute Engine worker instance."
        },
        "machineType": {
          "description": "Optional. The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        },
        "streamingMode": {
          "description": "Optional. Specifies the Streaming Engine message processing guarantees. Reduces cost and latency but might result in duplicate messages committed to storage. Designed to run simple mapping streaming ETL jobs at the lowest cost. For example, Change Data Capture (CDC) to BigQuery is a canonical use case. For more information, see [Set the pipeline streaming mode](https://cloud.google.com/dataflow/docs/guides/streaming-modes).",
          "type": "string",
          "enum": [
            "STREAMING_MODE_UNSPECIFIED",
            "STREAMING_MODE_EXACTLY_ONCE",
            "STREAMING_MODE_AT_LEAST_ONCE"
          ],
          "enumDescriptions": [
            "Run in the default mode.",
            "In this mode, message deduplication is performed against persistent state to make sure each message is processed and committed to storage exactly once.",
            "Message deduplication is not performed. Messages might be processed multiple times, and the results are applied multiple times. Note: Setting this value also enables Streaming Engine and Streaming Engine resource-based billing."
          ]
        },
        "network": {
          "description": "Optional. Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "additionalPipelineOptions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional pipeline option flags for the job."
        },
        "bypassTempDirValidation": {
          "description": "Optional. Whether to bypass the safety checks for the job's temporary directory. Use with caution.",
          "type": "boolean"
        },
        "tempLocation": {
          "description": "Required. The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "kmsKeyName": {
          "description": "Optional. Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/",
          "type": "string"
        },
        "numWorkers": {
          "description": "Optional. The initial number of Google Compute Engine instances for the job. The default value is 11.",
          "type": "integer",
          "format": "int32"
        },
        "maxWorkers": {
          "type": "integer",
          "description": "Optional. The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000. The default value is 1.",
          "format": "int32"
        },
        "zone": {
          "description": "Optional. The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence.",
          "type": "string"
        },
        "workerRegion": {
          "type": "string",
          "description": "Required. The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region."
        },
        "additionalUserLabels": {
          "description": "Optional. Additional user labels to be specified for the job. Keys and values should follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "The environment values to set at runtime."
    },
    "ConfigStoreSetting": {
      "id": "ConfigStoreSetting",
      "type": "object",
      "properties": {
        "value": {
          "$ref": "ConfigStoreSettingValue",
          "description": "Required. The dynamic value of the setting."
        },
        "name": {
          "description": "Identifier. The resource name of the setting.",
          "type": "string"
        }
      },
      "description": "A ConfigStoreSetting resource."
    },
    "LeaseWorkItemRequest": {
      "properties": {
        "unifiedWorkerRequest": {
          "description": "Untranslated bag-of-bytes WorkRequest from UnifiedWorker.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "projectNumber": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The project number of the project this worker belongs to."
        },
        "workerId": {
          "description": "Identifies the worker leasing work -- typically the ID of the virtual machine running the worker.",
          "type": "string"
        },
        "workerCapabilities": {
          "type": "array",
          "description": "Worker capabilities. WorkItems might be limited to workers with specific capabilities.",
          "items": {
            "type": "string"
          }
        },
        "workItemTypes": {
          "description": "Filter for WorkItem type.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "requestedLeaseDuration": {
          "format": "google-duration",
          "description": "The initial lease period.",
          "type": "string"
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
          "type": "string"
        },
        "currentWorkerTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The current timestamp at the worker."
        }
      },
      "id": "LeaseWorkItemRequest",
      "description": "Request to lease WorkItems.",
      "type": "object"
    },
    "TransformSummary": {
      "description": "Description of the type, names/ids, and input/outputs for a transform.",
      "id": "TransformSummary",
      "properties": {
        "kind": {
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
[...]
