{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/dataflow",
  "protocol": "rest",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "basePath": "",
  "rootUrl": "https://dataflow.googleapis.com/",
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "resources": {
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "configStoreSettings": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the ConfigStoreSetting to retrieve.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dataflow.folders.locations.configStoreSettings.get",
                  "path": "v1b3/{+name}",
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "description": "Gets a ConfigStoreSetting.",
                  "httpMethod": "GET",
                  "flatPath": "v1b3/folders/{foldersId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}"
                },
                "resolve": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1b3/folders/{foldersId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}:resolve",
                  "response": {
                    "$ref": "ResolveConfigStoreSettingResponse"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the setting to resolve."
                    }
                  },
                  "request": {
                    "$ref": "ResolveConfigStoreSettingRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Resolves effective value of a ConfigStoreSetting.",
                  "path": "v1b3/{+name}:resolve",
                  "id": "dataflow.folders.locations.configStoreSettings.resolve"
                },
                "create": {
                  "request": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource where this setting will be created.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+$"
                    },
                    "configStoreSettingId": {
                      "description": "Required. The ID to use for the setting.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "description": "Creates a new ConfigStoreSetting.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/folders/{foldersId}/locations/{locationsId}/configStoreSettings",
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "id": "dataflow.folders.locations.configStoreSettings.create",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListConfigStoreSettings` call."
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource whose settings are being listed.",
                      "required": true,
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of settings to return.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListConfigStoreSettingsResponse"
                  },
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "flatPath": "v1b3/folders/{foldersId}/locations/{locationsId}/configStoreSettings",
                  "id": "dataflow.folders.locations.configStoreSettings.list",
                  "description": "Lists ConfigStoreSettings.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "httpMethod": "GET"
                },
                "delete": {
                  "description": "Deletes an existing ConfigStoreSetting.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1b3/folders/{foldersId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the ConfigStoreSetting to delete.",
                      "pattern": "^folders/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "dataflow.folders.locations.configStoreSettings.delete",
                  "path": "v1b3/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "configStoreSettings": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListConfigStoreSettingsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1b3/organizations/{organizationsId}/locations/{locationsId}/configStoreSettings",
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "description": "Lists ConfigStoreSettings.",
                  "id": "dataflow.organizations.locations.configStoreSettings.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource whose settings are being listed.",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of settings to return.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListConfigStoreSettings` call.",
                      "location": "query"
                    }
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Deletes an existing ConfigStoreSetting.",
                  "path": "v1b3/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/organizations/{organizationsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dataflow.organizations.locations.configStoreSettings.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the ConfigStoreSetting to delete."
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "httpMethod": "GET",
                  "id": "dataflow.organizations.locations.configStoreSettings.get",
                  "description": "Gets a ConfigStoreSetting.",
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "path": "v1b3/{+name}",
                  "flatPath": "v1b3/organizations/{organizationsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the ConfigStoreSetting to retrieve."
                    }
                  }
                },
                "resolve": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ResolveConfigStoreSettingRequest"
                  },
                  "path": "v1b3/{+name}:resolve",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the setting to resolve."
                    }
                  },
                  "flatPath": "v1b3/organizations/{organizationsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}:resolve",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "id": "dataflow.organizations.locations.configStoreSettings.resolve",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Resolves effective value of a ConfigStoreSetting.",
                  "response": {
                    "$ref": "ResolveConfigStoreSettingResponse"
                  }
                },
                "create": {
                  "request": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource where this setting will be created.",
                      "type": "string"
                    },
                    "configStoreSettingId": {
                      "description": "Required. The ID to use for the setting.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dataflow.organizations.locations.configStoreSettings.create",
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "description": "Creates a new ConfigStoreSetting.",
                  "httpMethod": "POST",
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "flatPath": "v1b3/organizations/{organizationsId}/locations/{locationsId}/configStoreSettings"
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "jobs": {
          "methods": {
            "list": {
              "parameters": {
                "regionalFanoutRequested": {
                  "location": "query",
                  "description": "Optional.",
                  "type": "boolean"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list."
                },
                "pageSize": {
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ],
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "description": "The kind of filter to use.",
                  "location": "query"
                },
                "projectId": {
                  "description": "The project which owns the jobs.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "view": {
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                  "type": "string",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "deprecated": true,
                  "location": "query"
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The job name."
                }
              },
              "path": "v1b3/projects/{projectId}/jobs",
              "response": {
                "$ref": "ListJobsResponse"
              },
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "httpMethod": "GET",
              "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, because you can only get the list of jobs that are running in `us-central1`. `projects.locations.jobs.list` and `projects.jobs.list` support filtering the list of jobs by name. Filtering by name isn't supported by `projects.jobs.aggregated`. # IAM Permissions Requires the `dataflow.jobs.list` permission on the project.",
              "parameterOrder": [
                "projectId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "id": "dataflow.projects.jobs.list"
            },
            "update": {
              "httpMethod": "PUT",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`. # IAM Permissions 1. Requires the `dataflow.jobs.cancel` permission to cancel a job. 2. Requires the `dataflow.jobs.updateContents` permission to update runtime parameters.",
              "id": "dataflow.projects.jobs.update",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "parameters": {
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask.",
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "location": "path",
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "type": "string",
                  "required": true
                },
                "jobId": {
                  "description": "The job ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "Job"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "response": {
                "$ref": "Job"
              }
            },
            "snapshot": {
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Snapshot the state of a streaming job. # IAM Permissions Requires the `dataflow.jobs.snapshot` permission on the job.",
              "parameters": {
                "jobId": {
                  "required": true,
                  "description": "The job to be snapshotted.",
                  "type": "string",
                  "location": "path"
                },
                "projectId": {
                  "location": "path",
                  "description": "The project which owns the job to be snapshotted.",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "dataflow.projects.jobs.snapshot",
              "response": {
                "$ref": "Snapshot"
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "SnapshotJobRequest"
              },
              "path": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot"
            },
            "aggregated": {
              "path": "v1b3/projects/{projectId}/jobs:aggregated",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListJobsResponse"
              },
              "parameters": {
                "view": {
                  "location": "query",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "type": "string",
                  "deprecated": true,
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews."
                },
                "name": {
                  "type": "string",
                  "description": "Optional. The job name.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                  "type": "string"
                },
                "filter": {
                  "description": "The kind of filter to use.",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ],
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit."
                },
                "regionalFanoutRequested": {
                  "description": "Optional.",
                  "location": "query",
                  "type": "boolean"
                },
                "projectId": {
                  "description": "The project which owns the jobs.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                }
              },
              "id": "dataflow.projects.jobs.aggregated",
              "flatPath": "v1b3/projects/{projectId}/jobs:aggregated",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameterOrder": [
                "projectId"
              ],
              "description": "List the jobs of a project across all regions. **Note:** This method doesn't support filtering the list of jobs by name. # IAM Permissions Requires the `dataflow.jobs.list` permission on the project."
            },
            "get": {
              "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.jobs.get` permission on the job.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "id": "dataflow.projects.jobs.get",
              "parameters": {
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "location": "path",
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "type": "string"
                },
                "view": {
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "type": "string",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query",
                  "description": "The level of information requested in response."
                },
                "jobId": {
                  "location": "path",
                  "type": "string",
                  "description": "The job ID.",
                  "required": true
                }
              },
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "response": {
                "$ref": "Job"
              },
              "httpMethod": "GET",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameters": {
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "location": {
                  "location": "query",
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                },
                "replaceJobId": {
                  "type": "string",
                  "location": "query",
                  "description": "Deprecated. This field is now in the Job message."
                },
                "view": {
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "location": "query",
                  "description": "The level of information requested in response.",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "type": "string"
                }
              },
              "path": "v1b3/projects/{projectId}/jobs",
              "request": {
                "$ref": "Job"
              },
              "parameterOrder": [
                "projectId"
              ],
              "id": "dataflow.projects.jobs.create",
              "description": "Creates a Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API. # IAM Permissions 1. Requires the `dataflow.jobs.create` permission on the project. 2. `resourcemanager.projects.get` (Specifically required for regional endpoints to resolve regional resource metadata)",
              "response": {
                "$ref": "Job"
              },
              "httpMethod": "POST",
              "flatPath": "v1b3/projects/{projectId}/jobs"
            },
            "getMetrics": {
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "id": "dataflow.projects.jobs.getMetrics",
              "response": {
                "$ref": "JobMetrics"
              },
              "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "parameters": {
                "projectId": {
                  "type": "string",
                  "description": "A project id.",
                  "location": "path",
                  "required": true
                },
                "jobId": {
                  "location": "path",
                  "description": "The job to get metrics for.",
                  "required": true,
                  "type": "string"
                },
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                  "location": "query"
                },
                "startTime": {
                  "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                  "type": "string",
                  "format": "google-datetime",
                  "location": "query"
                }
              }
            }
          },
          "resources": {
            "workItems": {
              "methods": {
                "reportStatus": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ReportWorkItemStatusRequest"
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "id": "dataflow.projects.jobs.workItems.reportStatus",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "The project which owns the WorkItem's job.",
                      "location": "path"
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "description": "The job which the WorkItem is part of.",
                      "location": "path"
                    }
                  },
                  "description": "Reports the status of dataflow WorkItems leased by a worker.",
                  "response": {
                    "$ref": "ReportWorkItemStatusResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                },
                "lease": {
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "httpMethod": "POST",
                  "description": "Leases a dataflow WorkItem to run.",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "response": {
                    "$ref": "LeaseWorkItemResponse"
                  },
                  "request": {
                    "$ref": "LeaseWorkItemRequest"
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "id": "dataflow.projects.jobs.workItems.lease",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "description": "Identifies the project this worker belongs to.",
                      "location": "path",
                      "type": "string"
                    },
                    "jobId": {
                      "description": "Identifies the workflow job this worker belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                }
              }
            },
            "debug": {
              "methods": {
                "getConfig": {
                  "description": "Get encoded debug configuration for component. Not cacheable.",
                  "id": "dataflow.projects.jobs.debug.getConfig",
                  "response": {
                    "$ref": "GetDebugConfigResponse"
                  },
                  "parameters": {
                    "jobId": {
                      "required": true,
                      "description": "The job id.",
                      "location": "path",
                      "type": "string"
                    },
                    "projectId": {
                      "required": true,
                      "description": "The project id.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "request": {
                    "$ref": "GetDebugConfigRequest"
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                },
                "sendCapture": {
                  "response": {
                    "$ref": "SendDebugCaptureResponse"
                  },
                  "description": "Send encoded debug capture data for component.",
                  "id": "dataflow.projects.jobs.debug.sendCapture",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "description": "The project id.",
                      "location": "path",
                      "required": true
                    },
                    "jobId": {
                      "location": "path",
                      "description": "The job id.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "request": {
                    "$ref": "SendDebugCaptureRequest"
                  }
                }
              }
            },
            "messages": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "id": "dataflow.projects.jobs.messages.list",
                  "response": {
                    "$ref": "ListJobMessagesResponse"
                  },
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.messages.list` permission on the job.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "projectId": {
                      "description": "A project id.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "endTime": {
                      "description": "Return only messages with timestamps < end_time. The default is now (i.e. return up to the latest messages available).",
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query"
                    },
                    "jobId": {
                      "description": "The job to get messages about.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "query",
                      "type": "string"
                    },
                    "minimumImportance": {
                      "description": "Filter to only get messages with importance >= level",
                      "location": "query",
                      "enumDescriptions": [
                        "The message importance isn't specified, or is unknown.",
                        "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                        "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                      ],
                      "enum": [
                        "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                        "JOB_MESSAGE_DEBUG",
                        "JOB_MESSAGE_DETAILED",
                        "JOB_MESSAGE_BASIC",
                        "JOB_MESSAGE_WARNING",
                        "JOB_MESSAGE_ERROR"
                      ],
                      "type": "string"
                    },
                    "startTime": {
                      "description": "If specified, return only messages with timestamps >= start_time. The default is the job creation time (i.e. beginning of messages).",
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/messages"
                }
              }
            }
          }
        },
        "snapshots": {
          "methods": {
            "list": {
              "description": "Lists snapshots.",
              "parameterOrder": [
                "projectId"
              ],
              "id": "dataflow.projects.snapshots.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "path": "v1b3/projects/{projectId}/snapshots",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListSnapshotsResponse"
              },
              "parameters": {
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The location to list snapshots in."
                },
                "projectId": {
                  "description": "The project ID to list snapshots for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "jobId": {
                  "description": "If specified, list snapshots created from this job.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/snapshots"
            },
            "get": {
              "parameterOrder": [
                "projectId",
                "snapshotId"
              ],
              "flatPath": "v1b3/projects/{projectId}/snapshots/{snapshotId}",
              "response": {
                "$ref": "Snapshot"
              },
              "parameters": {
                "location": {
                  "location": "query",
                  "description": "The location that contains this snapshot.",
                  "type": "string"
                },
                "snapshotId": {
                  "description": "The ID of the snapshot.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "dataflow.projects.snapshots.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Gets information about a snapshot.",
              "httpMethod": "GET",
              "path": "v1b3/projects/{projectId}/snapshots/{snapshotId}"
            }
          }
        },
        "templates": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "response": {
                "$ref": "GetTemplateResponse"
              },
              "parameterOrder": [
                "projectId"
              ],
              "id": "dataflow.projects.templates.get",
              "parameters": {
                "gcsPath": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'."
                },
                "view": {
                  "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                  "enum": [
                    "METADATA_ONLY"
                  ],
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Template view that retrieves only the metadata associated with the template."
                  ]
                },
                "projectId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                },
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
                }
              },
              "path": "v1b3/projects/{projectId}/templates:get",
              "flatPath": "v1b3/projects/{projectId}/templates:get",
              "description": "Get the template associated with a template. To get the template, we recommend using `projects.locations.templates.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.get` is not recommended, because only templates that are running in `us-central1` are retrieved. # IAM Permissions Requires the `resourcemanager.projects.get` permission on the project.",
              "httpMethod": "GET"
            },
            "create": {
              "id": "dataflow.projects.templates.create",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "projectId"
              ],
              "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API. To create a job, we recommend using `projects.locations.templates.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.create` is not recommended, because your job will always start in `us-central1`. # IAM Permissions Requires the following IAM permission(s) on the project: - `dataflow.jobs.create` - `resourcemanager.projects.get`",
              "request": {
                "$ref": "CreateJobFromTemplateRequest"
              },
              "flatPath": "v1b3/projects/{projectId}/templates",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Job"
              },
              "path": "v1b3/projects/{projectId}/templates"
            },
            "launch": {
              "response": {
                "$ref": "LaunchTemplateResponse"
              },
              "parameterOrder": [
                "projectId"
              ],
              "flatPath": "v1b3/projects/{projectId}/templates:launch",
              "httpMethod": "POST",
              "description": "Launches a template. To launch a template, we recommend using `projects.locations.templates.launch` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.launch` is not recommended, because jobs launched from the template will always start in `us-central1`. # IAM Permissions Requires the following IAM permission(s) on the project: - `dataflow.jobs.create` - `resourcemanager.projects.get`",
              "path": "v1b3/projects/{projectId}/templates:launch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameters": {
                "validateOnly": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If true, the request is validated but not actually executed. Defaults to false."
                },
                "projectId": {
                  "type": "string",
                  "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                  "required": true,
                  "location": "path"
                },
                "dynamicTemplate.stagingLocation": {
                  "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`.",
                  "location": "query",
                  "type": "string"
                },
                "dynamicTemplate.gcsPath": {
                  "type": "string",
                  "location": "query",
                  "description": "Path to the dynamic template specification file on Cloud Storage. The file must be a JSON serialized `DynamicTemplateFileSpec` object."
                },
                "gcsPath": {
                  "description": "A Cloud Storage path to the template to use to create the job. Must be valid Cloud Storage URL, beginning with `gs://`.",
                  "type": "string",
                  "location": "query"
                },
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "LaunchTemplateParameters"
              },
              "id": "dataflow.projects.templates.launch"
            }
          }
        },
        "locations": {
          "methods": {
            "workerMessages": {
              "parameterOrder": [
                "projectId",
                "location"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "request": {
                "$ref": "SendWorkerMessagesRequest"
              },
              "id": "dataflow.projects.locations.workerMessages",
              "flatPath": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "parameters": {
                "location": {
                  "required": true,
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job.",
                  "location": "path"
                },
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "The project to send the WorkerMessages to.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "SendWorkerMessagesResponse"
              },
              "path": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "description": "Send a worker_message to the service.",
              "httpMethod": "POST"
            }
          },
          "resources": {
            "jobs": {
              "methods": {
                "getMetrics": {
                  "parameters": {
                    "jobId": {
                      "type": "string",
                      "location": "path",
                      "description": "The job to get metrics for.",
                      "required": true
                    },
                    "startTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                      "location": "query"
                    },
                    "location": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "A project id."
                    }
                  },
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "response": {
                    "$ref": "JobMetrics"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "id": "dataflow.projects.locations.jobs.getMetrics",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, because you can only get the list of jobs that are running in `us-central1`. `projects.locations.jobs.list` and `projects.jobs.list` support filtering the list of jobs by name. Filtering by name isn't supported by `projects.jobs.aggregated`. # IAM Permissions Requires the `dataflow.jobs.list` permission on the project.",
                  "id": "dataflow.projects.locations.jobs.list",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "parameters": {
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The kind of filter to use.",
                      "enum": [
                        "UNKNOWN",
                        "ALL",
                        "TERMINATED",
                        "ACTIVE"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                        "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                        "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                        "Filters the jobs that are running ordered on the creation timestamp."
                      ]
                    },
                    "pageSize": {
                      "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "name": {
                      "type": "string",
                      "description": "Optional. The job name.",
                      "location": "query"
                    },
                    "regionalFanoutRequested": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional."
                    },
                    "view": {
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "location": "query",
                      "type": "string",
                      "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "deprecated": true
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The project which owns the jobs."
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.jobs.get` permission on the job.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "httpMethod": "GET",
                  "id": "dataflow.projects.locations.jobs.get",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "parameters": {
                    "location": {
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The job ID."
                    },
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "view": {
                      "type": "string",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "The level of information requested in response.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                },
                "update": {
                  "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`. # IAM Permissions 1. Requires the `dataflow.jobs.cancel` permission to cancel a job. 2. Requires the `dataflow.jobs.updateContents` permission to update runtime parameters.",
                  "parameters": {
                    "updateMask": {
                      "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "jobId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The job ID."
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "request": {
                    "$ref": "Job"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "id": "dataflow.projects.locations.jobs.update",
                  "httpMethod": "PUT"
                },
                "getExecutionDetails": {
                  "httpMethod": "GET",
                  "id": "dataflow.projects.locations.jobs.getExecutionDetails",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "JobExecutionDetails"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Request detailed information about the execution status of the job. EXPERIMENTAL. This API is subject to change or removal without notice. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job.",
                  "parameters": {
                    "jobId": {
                      "description": "The job to get execution details for.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "path",
                      "type": "string"
                    },
                    "projectId": {
                      "description": "A project id.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "If specified, determines the maximum number of stages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails"
                },
                "snapshot": {
                  "id": "dataflow.projects.locations.jobs.snapshot",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "parameters": {
                    "jobId": {
                      "location": "path",
                      "required": true,
                      "description": "The job to be snapshotted.",
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The project which owns the job to be snapshotted."
                    },
                    "location": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The location that contains this job."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "request": {
                    "$ref": "SnapshotJobRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "description": "Snapshot the state of a streaming job. # IAM Permissions Requires the `dataflow.jobs.snapshot` permission on the job.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot"
                },
                "create": {
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "required": true
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "replaceJobId": {
                      "location": "query",
                      "description": "Deprecated. This field is now in the Job message.",
                      "type": "string"
                    },
                    "view": {
                      "type": "string",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "The level of information requested in response.",
                      "location": "query",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ]
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "response": {
                    "$ref": "Job"
                  },
                  "request": {
                    "$ref": "Job"
                  },
                  "description": "Creates a Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API. # IAM Permissions 1. Requires the `dataflow.jobs.create` permission on the project. 2. `resourcemanager.projects.get` (Specifically required for regional endpoints to resolve regional resource metadata)",
                  "id": "dataflow.projects.locations.jobs.create",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ]
                }
              },
              "resources": {
                "stages": {
                  "methods": {
                    "getExecutionDetails": {
                      "description": "Request detailed information about the execution status of a stage of the job. EXPERIMENTAL. This API is subject to change or removal without notice. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job.",
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "A project id."
                        },
                        "endTime": {
                          "format": "google-datetime",
                          "location": "query",
                          "description": "Upper time bound of work items to include, by start time.",
                          "type": "string"
                        },
                        "location": {
                          "location": "path",
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "If specified, determines the maximum number of work items to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                          "format": "int32"
                        },
                        "stageId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "The stage for which to fetch information."
                        },
                        "startTime": {
                          "type": "string",
                          "location": "query",
                          "format": "google-datetime",
                          "description": "Lower time bound of work items to include, by start time."
                        },
                        "jobId": {
                          "location": "path",
                          "description": "The job to get execution details for.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId",
                        "stageId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "id": "dataflow.projects.locations.jobs.stages.getExecutionDetails",
                      "httpMethod": "GET",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "response": {
                        "$ref": "StageExecutionDetails"
                      }
                    }
                  }
                },
                "snapshots": {
                  "methods": {
                    "list": {
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "httpMethod": "GET",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "response": {
                        "$ref": "ListSnapshotsResponse"
                      },
                      "id": "dataflow.projects.locations.jobs.snapshots.list",
                      "description": "Lists snapshots.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "description": "The project ID to list snapshots for.",
                          "required": true,
                          "type": "string"
                        },
                        "jobId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "If specified, list snapshots created from this job."
                        },
                        "location": {
                          "required": true,
                          "type": "string",
                          "description": "The location to list snapshots in.",
                          "location": "path"
                        }
                      }
                    }
                  }
                },
                "workItems": {
                  "methods": {
                    "reportStatus": {
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "request": {
                        "$ref": "ReportWorkItemStatusRequest"
                      },
                      "parameters": {
                        "jobId": {
                          "type": "string",
                          "required": true,
                          "description": "The job which the WorkItem is part of.",
                          "location": "path"
                        },
                        "location": {
                          "required": true,
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
                          "location": "path"
                        },
                        "projectId": {
                          "required": true,
                          "description": "The project which owns the WorkItem's job.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "ReportWorkItemStatusResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "description": "Reports the status of dataflow WorkItems leased by a worker.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "id": "dataflow.projects.locations.jobs.workItems.reportStatus",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus"
                    },
                    "lease": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "parameters": {
                        "jobId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Identifies the workflow job this worker belongs to."
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "projectId": {
                          "description": "Identifies the project this worker belongs to.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "LeaseWorkItemRequest"
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "id": "dataflow.projects.locations.jobs.workItems.lease",
                      "description": "Leases a dataflow WorkItem to run.",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "LeaseWorkItemResponse"
                      }
                    }
                  }
                },
                "messages": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "httpMethod": "GET",
                      "id": "dataflow.projects.locations.jobs.messages.list",
                      "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.messages.list` permission on the job.",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "response": {
                        "$ref": "ListJobMessagesResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned."
                        },
                        "pageSize": {
                          "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "jobId": {
                          "location": "path",
                          "description": "The job to get messages about.",
                          "type": "string",
                          "required": true
                        },
                        "startTime": {
                          "format": "google-datetime",
                          "description": "If specified, return only messages with timestamps >= start_time. The default is the job creation time (i.e. beginning of messages).",
                          "type": "string",
                          "location": "query"
                        },
                        "endTime": {
                          "format": "google-datetime",
                          "description": "Return only messages with timestamps < end_time. The default is now (i.e. return up to the latest messages available).",
                          "type": "string",
                          "location": "query"
                        },
                        "projectId": {
                          "description": "A project id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "minimumImportance": {
                          "description": "Filter to only get messages with importance >= level",
                          "enumDescriptions": [
[...]
