{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        }
      }
    }
  },
  "revision": "20260831",
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://dataflow.africa-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://dataflow.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://dataflow.asia-east2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast1",
      "endpointUrl": "https://dataflow.asia-northeast1.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://dataflow.asia-northeast3.rep.googleapis.com/"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-south2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-south2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://dataflow.asia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://dataflow.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://dataflow.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://dataflow.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://dataflow.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://dataflow.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://dataflow.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west10",
      "endpointUrl": "https://dataflow.europe-west10.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west12.rep.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://dataflow.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://dataflow.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://dataflow.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central1",
      "endpointUrl": "https://dataflow.me-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://dataflow.me-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://dataflow.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://dataflow.us-east7.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://dataflow.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataflow.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://dataflow.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://dataflow.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "id": "dataflow:v1b3",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "title": "Dataflow API",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "StreamingSetupTask": {
      "type": "object",
      "properties": {
        "drain": {
          "description": "The user has requested drain.",
          "type": "boolean"
        },
        "workerHarnessPort": {
          "description": "The TCP port used by the worker to communicate with the Dataflow worker harness.",
          "format": "int32",
          "type": "integer"
        },
        "streamingComputationTopology": {
          "description": "The global topology of the streaming Dataflow job.",
          "$ref": "TopologyConfig"
        },
        "snapshotConfig": {
          "$ref": "StreamingApplianceSnapshotConfig",
          "description": "Configures streaming appliance snapshot."
        },
        "receiveWorkPort": {
          "description": "The TCP port on which the worker should listen for messages from other streaming computation workers.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "StreamingSetupTask",
      "description": "A task which initializes part of a streaming Dataflow job."
    },
    "LeaseWorkItemRequest": {
      "description": "Request to lease WorkItems.",
      "type": "object",
      "id": "LeaseWorkItemRequest",
      "properties": {
        "workItemTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Filter for WorkItem type."
        },
        "currentWorkerTime": {
          "description": "The current timestamp at the worker.",
          "type": "string",
          "format": "google-datetime"
        },
        "projectNumber": {
          "description": "Optional. The project number of the project this worker belongs to.",
          "type": "string",
          "format": "int64"
        },
        "workerCapabilities": {
          "description": "Worker capabilities. WorkItems might be limited to workers with specific capabilities.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "requestedLeaseDuration": {
          "description": "The initial lease period.",
          "type": "string",
          "format": "google-duration"
        },
        "workerId": {
          "type": "string",
          "description": "Identifies the worker leasing work -- typically the ID of the virtual machine running the worker."
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job."
        },
        "unifiedWorkerRequest": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Untranslated bag-of-bytes WorkRequest from UnifiedWorker.",
          "type": "object"
        }
      }
    },
    "ContainerSpec": {
      "id": "ContainerSpec",
      "properties": {
        "sdkInfo": {
          "description": "Required. SDK info of the Flex Template.",
          "$ref": "SDKInfo"
        },
        "imageRepositoryUsernameSecretId": {
          "type": "string",
          "description": "Secret Manager secret id for username to authenticate to private registry."
        },
        "image": {
          "type": "string",
          "description": "Name of the docker container image. E.g., gcr.io/project/some-image"
        },
        "imageRepositoryCertPath": {
          "description": "Cloud Storage path to self-signed certificate of private registry.",
          "type": "string"
        },
        "defaultEnvironment": {
          "description": "Default runtime environment for the job.",
          "$ref": "FlexTemplateRuntimeEnvironment"
        },
        "imageRepositoryPasswordSecretId": {
          "type": "string",
          "description": "Secret Manager secret id for password to authenticate to private registry."
        },
        "metadata": {
          "description": "Metadata describing a template including description and validation rules.",
          "$ref": "TemplateMetadata"
        }
      },
      "description": "Container Spec.",
      "type": "object"
    },
    "RuntimeUpdatableParams": {
      "properties": {
        "minNumWorkers": {
          "description": "The minimum number of workers to scale down to. This field is currently only supported for Streaming Engine jobs.",
          "type": "integer",
          "format": "int32"
        },
        "schedules": {
          "type": "array",
          "items": {
            "$ref": "AutoscalingSchedule"
          },
          "description": "Optional. The schedule for autoscaling."
        },
        "latencyTier": {
          "type": "string",
          "description": "Optional. The backlog threshold tier for autoscaling. Value must be one of \"low-latency\", \"medium-latency\", or \"high-latency\"."
        },
        "workerUtilizationHint": {
          "format": "double",
          "type": "number",
          "description": "Target worker utilization, compared against the aggregate utilization of the worker pool by autoscaler, to determine upscaling and downscaling when absent other constraints such as backlog. For more information, see [Update an existing pipeline](https://cloud.google.com/dataflow/docs/guides/updating-a-pipeline)."
        },
        "maxNumWorkers": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of workers to cap autoscaling at. This field is currently only supported for Streaming Engine jobs."
        },
        "acceptableBacklogDuration": {
          "format": "google-duration",
          "type": "string",
          "deprecated": true,
          "description": "Optional. Deprecated: Use `latency_tier` instead. The backlog threshold duration in seconds for autoscaling. Value must be non-negative."
        },
        "autoscalingTier": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. Deprecated: Use `latency_tier` instead. The backlog threshold tier for autoscaling. Value must be one of \"low-latency\", \"medium-latency\", or \"high-latency\"."
        }
      },
      "id": "RuntimeUpdatableParams",
      "type": "object",
      "description": "Additional job parameters that can only be updated during runtime using the projects.jobs.update method. These fields have no effect when specified during job creation."
    },
    "WorkerMessageResponse": {
      "description": "A worker_message response allows the server to pass information to the sender.",
      "properties": {
        "streamingScalingReportResponse": {
          "$ref": "StreamingScalingReportResponse",
          "description": "Service's streaming scaling response for workers."
        },
        "workerMetricsResponse": {
          "description": "Service's response to reporting worker metrics (currently empty).",
          "$ref": "ResourceUtilizationReportResponse"
        },
        "workerHealthReportResponse": {
          "description": "The service's response to a worker's health report.",
          "$ref": "WorkerHealthReportResponse"
        },
        "workerThreadScalingReportResponse": {
          "description": "Service's thread scaling recommendation for workers.",
          "$ref": "WorkerThreadScalingReportResponse"
        },
        "workerShutdownNoticeResponse": {
          "description": "Service's response to shutdown notice (currently empty).",
          "$ref": "WorkerShutdownNoticeResponse"
        }
      },
      "type": "object",
      "id": "WorkerMessageResponse"
    },
    "LaunchTemplateParameters": {
      "properties": {
        "jobName": {
          "description": "Required. The job name to use for the created job. The name must match the regular expression `[a-z]([-a-z0-9]{0,1022}[a-z0-9])?`",
          "type": "string"
        },
        "transformNameMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Only applicable when updating a pipeline. Map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "type": "object"
        },
        "update": {
          "type": "boolean",
          "description": "If set, replace the existing pipeline with the name specified by jobName with this pipeline, preserving state."
        },
        "environment": {
          "$ref": "RuntimeEnvironment",
          "description": "The runtime environment for the job."
        },
        "parameters": {
          "type": "object",
          "description": "The runtime parameters to pass to the job.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "LaunchTemplateParameters",
      "type": "object",
      "description": "Parameters to provide to the template being launched. Note that the [metadata in the pipeline code] (https://cloud.google.com/dataflow/docs/guides/templates/creating-templates#metadata) determines which runtime parameters are valid."
    },
    "WorkerThreadScalingReportResponse": {
      "properties": {
        "recommendedThreadCount": {
          "format": "int32",
          "description": "Recommended number of threads for a worker.",
          "type": "integer"
        }
      },
      "id": "WorkerThreadScalingReportResponse",
      "type": "object",
      "description": "Contains the thread scaling recommendation for a worker from the backend."
    },
    "DataflowHistogramValue": {
      "description": "Summary statistics for a population of values. HistogramValue contains a sequence of buckets and gives a count of values that fall into each bucket. Bucket boundares are defined by a formula and bucket widths are either fixed or exponentially increasing.",
      "id": "DataflowHistogramValue",
      "type": "object",
      "properties": {
        "count": {
          "description": "Number of values recorded in this histogram.",
          "format": "int64",
          "type": "string"
        },
        "bucketCounts": {
          "description": "Optional. The number of values in each bucket of the histogram, as described in `bucket_options`. `bucket_counts` should contain N values, where N is the number of buckets specified in `bucket_options`. If `bucket_counts` has fewer than N values, the remaining values are assumed to be 0.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "outlierStats": {
          "description": "Statistics on the values recorded in the histogram that fall out of the bucket boundaries.",
          "$ref": "OutlierStats"
        },
        "bucketOptions": {
          "description": "Describes the bucket boundaries used in the histogram.",
          "$ref": "BucketOptions"
        }
      }
    },
    "StructuredMessage": {
      "id": "StructuredMessage",
      "type": "object",
      "properties": {
        "messageText": {
          "type": "string",
          "description": "Human-readable version of message."
        },
        "parameters": {
          "type": "array",
          "description": "The structured data associated with this message.",
          "items": {
            "$ref": "Parameter"
          }
        },
        "messageKey": {
          "type": "string",
          "description": "Identifier for this message type. Used by external systems to internationalize or personalize message."
        }
      },
      "description": "A rich message format, including a human readable string, a key for identifying the message, and structured data associated with the message for programmatic consumption."
    },
    "MemInfo": {
      "properties": {
        "currentLimitBytes": {
          "format": "uint64",
          "description": "Instantenous memory limit in bytes.",
          "type": "string"
        },
        "currentOoms": {
          "description": "Number of Out of Memory (OOM) events recorded since the previous measurement.",
          "type": "string",
          "format": "int64"
        },
        "timestamp": {
          "description": "Timestamp of the measurement.",
          "type": "string",
          "format": "google-datetime"
        },
        "currentRssBytes": {
          "description": "Instantenous memory (RSS) size in bytes.",
          "type": "string",
          "format": "uint64"
        },
        "totalGbMs": {
          "type": "string",
          "format": "uint64",
          "description": "Total memory (RSS) usage since start up in GB * ms."
        }
      },
      "type": "object",
      "id": "MemInfo",
      "description": "Information about the memory usage of a worker or a container within a worker."
    },
    "MultiOutputInfo": {
      "id": "MultiOutputInfo",
      "type": "object",
      "description": "Information about an output of a multi-output DoFn.",
      "properties": {
        "tag": {
          "description": "The id of the tag the user code will emit to this output by; this should correspond to the tag of some SideInputInfo.",
          "type": "string"
        }
      }
    },
    "WorkerPool": {
      "properties": {
        "diskSizeGb": {
          "description": "Size of root disk for VMs, in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "format": "int32",
          "type": "integer"
        },
        "diskType": {
          "type": "string",
          "description": "Type of root disk for VMs. If empty or unspecified, the service will attempt to choose a reasonable default."
        },
        "kind": {
          "type": "string",
          "description": "The kind of the worker pool; currently only `harness` and `shuffle` are supported."
        },
        "dataDisks": {
          "type": "array",
          "description": "Data disks that are used by a VM in this workflow.",
          "items": {
            "$ref": "Disk"
          }
        },
        "diskProvisionedThroughputMibps": {
          "description": "Optional. Throughput provisioned for the root disk for VMs.",
          "type": "string",
          "format": "int64"
        },
        "machineType": {
          "type": "string",
          "description": "Machine type (e.g. \"n1-standard-1\"). If empty or unspecified, the service will attempt to choose a reasonable default."
        },
        "subnetwork": {
          "description": "Subnetwork to which VMs will be assigned, if desired. Expected to be of the form \"regions/REGION/subnetworks/SUBNETWORK\".",
          "type": "string"
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata to set on the Google Compute Engine VMs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "packages": {
          "items": {
            "$ref": "Package"
          },
          "description": "Packages to be installed on workers.",
          "type": "array"
        },
        "numWorkers": {
          "type": "integer",
          "description": "Number of Google Compute Engine workers in this pool needed to execute the job. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "format": "int32"
        },
        "diskSourceImage": {
          "type": "string",
          "description": "Fully qualified source image for disks."
        },
        "poolArgs": {
          "description": "Extra arguments for this worker pool.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "onHostMaintenance": {
          "type": "string",
          "description": "The action to take on host maintenance, as defined by the Google Compute Engine API."
        },
        "workerHarnessContainerImage": {
          "description": "Required. Docker container image that executes the Cloud Dataflow worker harness, residing in Google Container Registry. Deprecated for the Fn API path. Use sdk_harness_container_images instead.",
          "type": "string"
        },
        "autoscalingSettings": {
          "description": "Settings for autoscaling of this WorkerPool.",
          "$ref": "AutoscalingSettings"
        },
        "zone": {
          "description": "Zone to run the worker pools in. If empty or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string"
        },
        "numThreadsPerWorker": {
          "type": "integer",
          "format": "int32",
          "description": "The number of threads per worker harness. If empty or unspecified, the service will choose a number of threads (according to the number of cores on the selected machine type for batch, or 1 by convention for streaming)."
        },
        "sdkHarnessContainerImages": {
          "description": "Set of SDK harness containers needed to execute this pipeline. This will only be set in the Fn API path. For non-cross-language pipelines this should have only one entry. Cross-language pipelines will have two or more entries.",
          "type": "array",
          "items": {
            "$ref": "SdkHarnessContainerImage"
          }
        },
        "teardownPolicy": {
          "enum": [
            "TEARDOWN_POLICY_UNKNOWN",
            "TEARDOWN_ALWAYS",
            "TEARDOWN_ON_SUCCESS",
            "TEARDOWN_NEVER"
          ],
          "description": "Sets the policy for determining when to turndown worker pool. Allowed values are: `TEARDOWN_ALWAYS`, `TEARDOWN_ON_SUCCESS`, and `TEARDOWN_NEVER`. `TEARDOWN_ALWAYS` means workers are always torn down regardless of whether the job succeeds. `TEARDOWN_ON_SUCCESS` means workers are torn down if the job succeeds. `TEARDOWN_NEVER` means the workers are never torn down. If the workers are not torn down by the service, they will continue to run and use Google Compute Engine VM resources in the user's project until they are explicitly terminated by the user. Because of this, Google recommends using the `TEARDOWN_ALWAYS` policy except for small, manually supervised test jobs. If unknown or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string",
          "enumDescriptions": [
            "The teardown policy isn't specified, or is unknown.",
            "Always teardown the resource.",
            "Teardown the resource on success. This is useful for debugging failures.",
            "Never teardown the resource. This is useful for debugging and development."
          ]
        },
        "diskProvisionedIops": {
          "description": "Optional. IOPS provisioned for the root disk for VMs.",
          "format": "int64",
          "type": "string"
        },
        "defaultPackageSet": {
          "description": "The default package set to install. This allows the service to select a default set of packages which are useful to worker harnesses written in a particular language.",
          "type": "string",
          "enum": [
            "DEFAULT_PACKAGE_SET_UNKNOWN",
            "DEFAULT_PACKAGE_SET_NONE",
            "DEFAULT_PACKAGE_SET_JAVA",
            "DEFAULT_PACKAGE_SET_PYTHON"
          ],
          "enumDescriptions": [
            "The default set of packages to stage is unknown, or unspecified.",
            "Indicates that no packages should be staged at the worker unless explicitly specified by the job.",
            "Stage packages typically useful to workers written in Java.",
            "Stage packages typically useful to workers written in Python."
          ]
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "type": "string",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ]
        },
        "taskrunnerSettings": {
          "$ref": "TaskRunnerSettings",
          "description": "Settings passed through to Google Compute Engine workers when using the standard Dataflow task runner. Users should ignore this field."
        }
      },
      "id": "WorkerPool",
      "type": "object",
      "description": "Describes one particular pool of Cloud Dataflow workers to be instantiated by the Cloud Dataflow service in order to perform the computations required by a job. Note that a workflow job may use multiple pools, in order to match the various computational requirements of the various stages of the job."
    },
    "OutlierStats": {
      "description": "Statistics for the underflow and overflow bucket.",
      "properties": {
        "overflowMean": {
          "description": "Mean of values in the overflow bucket.",
          "format": "double",
          "type": "number"
        },
        "underflowMean": {
          "format": "double",
          "type": "number",
          "description": "Mean of values in the undeflow bucket."
        },
        "overflowCount": {
          "type": "string",
          "description": "Number of values that are larger than the upper bound of the largest bucket.",
          "format": "int64"
        },
        "underflowCount": {
          "format": "int64",
          "description": "Number of values that are smaller than the lower bound of the smallest bucket.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OutlierStats"
    },
    "ConfigStoreSetting": {
      "id": "ConfigStoreSetting",
      "description": "A ConfigStoreSetting resource.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the setting.",
          "type": "string"
        },
        "value": {
          "$ref": "ConfigStoreSettingValue",
          "description": "Required. The dynamic value of the setting."
        }
      },
      "type": "object"
    },
    "HotKeyDebuggingInfo": {
      "id": "HotKeyDebuggingInfo",
      "properties": {
        "detectedHotKeys": {
          "description": "Debugging information for each detected hot key. Keyed by a hash of the key.",
          "additionalProperties": {
            "$ref": "HotKeyInfo"
          },
          "type": "object"
        }
      },
      "description": "Information useful for debugging a hot key detection.",
      "type": "object"
    },
    "SendDebugCaptureResponse": {
      "description": "Response to a send capture request. nothing",
      "properties": {},
      "type": "object",
      "id": "SendDebugCaptureResponse"
    },
    "KeyRangeDataDiskAssignment": {
      "id": "KeyRangeDataDiskAssignment",
      "description": "Data disk assignment information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "properties": {
        "end": {
          "description": "The end (exclusive) of the key range.",
          "type": "string"
        },
        "dataDisk": {
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        },
        "start": {
          "description": "The start (inclusive) of the key range.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SourceSplitOptions": {
      "id": "SourceSplitOptions",
      "type": "object",
      "description": "Hints for splitting a Source into bundles (parts for parallel processing) using SourceSplitRequest.",
      "properties": {
        "desiredShardSizeBytes": {
          "format": "int64",
          "description": "DEPRECATED in favor of desired_bundle_size_bytes.",
          "type": "string",
          "deprecated": true
        },
        "desiredBundleSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "The source should be split into a set of bundles where the estimated size of each is approximately this many bytes."
        }
      }
    },
    "ApproximateProgress": {
      "type": "object",
      "id": "ApproximateProgress",
      "description": "Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest.",
      "properties": {
        "position": {
          "description": "Obsolete.",
          "deprecated": true,
          "$ref": "Position"
        },
        "remainingTime": {
          "format": "google-duration",
          "deprecated": true,
          "description": "Obsolete.",
          "type": "string"
        },
        "percentComplete": {
          "format": "float",
          "type": "number",
          "description": "Obsolete.",
          "deprecated": true
        }
      }
    },
    "StageExecutionDetails": {
      "id": "StageExecutionDetails",
      "properties": {
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        },
        "workers": {
          "type": "array",
          "items": {
            "$ref": "WorkerDetails"
          },
          "description": "Workers that have done work on the stage."
        }
      },
      "type": "object",
      "description": "Information about the workers and work items within a stage."
    },
    "MetricUpdate": {
      "id": "MetricUpdate",
      "type": "object",
      "description": "Describes the state of a metric.",
      "properties": {
        "meanCount": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long.",
          "type": "any"
        },
        "scalar": {
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean.",
          "type": "any"
        },
        "name": {
          "description": "Name of the metric.",
          "$ref": "MetricStructuredName"
        },
        "trie": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Trie\" aggregation kind. The only possible value type is a BoundedTrieNode."
        },
        "meanSum": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double.",
          "type": "any"
        },
        "set": {
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, String, or BoundedTrie according to the metric's type. All Values in the list must be of the same type.",
          "type": "any"
        },
        "kind": {
          "type": "string",
          "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value."
        },
        "boundedTrie": {
          "description": "Worker-computed aggregate value for the \"Trie\" aggregation kind. The only possible value type is a BoundedTrieNode. Introduced this field to avoid breaking older SDKs when Dataflow service starts to populate the `bounded_trie` field.",
          "type": "any"
        },
        "internal": {
          "type": "any",
          "description": "Worker-computed aggregate value for internal use by the Dataflow service."
        },
        "cumulative": {
          "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem.",
          "type": "boolean"
        },
        "distribution": {
          "description": "A struct value describing properties of a distribution of numeric values.",
          "type": "any"
        },
        "gauge": {
          "description": "A struct value describing properties of a Gauge. Metrics of gauge type show the value of a metric across time, and is aggregated based on the newest value.",
          "type": "any"
        },
        "updateTime": {
          "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "PubSubIODetails": {
      "id": "PubSubIODetails",
      "description": "Metadata for a Pub/Sub connector used by the job.",
      "properties": {
        "subscription": {
          "type": "string",
          "description": "Subscription used in the connection."
        },
        "topic": {
          "type": "string",
          "description": "Topic accessed in the connection."
        }
      },
      "type": "object"
    },
    "WorkerLifecycleEvent": {
      "description": "A report of an event in a worker's lifecycle. The proto contains one event, because the worker is expected to asynchronously send each message immediately after the event. Due to this asynchrony, messages may arrive out of order (or missing), and it is up to the consumer to interpret. The timestamp of the event is in the enclosing WorkerMessage proto.",
      "type": "object",
      "id": "WorkerLifecycleEvent",
      "properties": {
        "containerStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start time of this container. All events will report this so that events can be grouped together across container/VM restarts."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Other stats that can accompany an event. E.g. { \"downloaded_bytes\" : \"123456\" }"
        },
        "event": {
          "enum": [
            "UNKNOWN_EVENT",
            "OS_START",
            "CONTAINER_START",
            "NETWORK_UP",
            "STAGING_FILES_DOWNLOAD_START",
            "STAGING_FILES_DOWNLOAD_FINISH",
            "SDK_INSTALL_START",
            "SDK_INSTALL_FINISH"
          ],
          "description": "The event being reported.",
          "type": "string",
          "enumDescriptions": [
            "Invalid event.",
            "The time the VM started.",
            "Our container code starts running. Multiple containers could be distinguished with WorkerMessage.labels if desired.",
            "The worker has a functional external network connection.",
            "Started downloading staging files.",
            "Finished downloading all staging files.",
            "For applicable SDKs, started installation of SDK and worker packages.",
            "Finished installing SDK."
          ]
        }
      }
    },
    "Job": {
      "type": "object",
      "description": "Defines a job to be run by the Cloud Dataflow service. Do not enter confidential information when you supply string values using the API.",
      "id": "Job",
      "properties": {
        "currentState": {
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested.",
            "`JOB_STATE_PAUSING` indicates that the job is in the process of pausing. A pausing job will stop processing, archive in-flight Shuffle data, and transition to `JOB_STATE_PAUSED`. Jobs in this state can transition to `JOB_STATE_CANCELLING` if cancellation is requested, or can transition back to `JOB_STATE_RUNNING` if the pause fails to complete.",
            "`JOB_STATE_PAUSED` indicates that the job is not currently processing. Jobs in this state can transition back to `JOB_STATE_RUNNING` to continue processing where they left off, or can transition to `JOB_STATE_CANCELLING` if cancellation is requested."
          ],
          "type": "string",
          "description": "The current state of the job. Jobs are created in the `JOB_STATE_STOPPED` state unless otherwise specified. A job in the `JOB_STATE_RUNNING` state may asynchronously enter a terminal state. After a job has reached a terminal state, no further state updates may be made. This field might be mutated by the Dataflow service; callers cannot mutate it.",
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP",
            "JOB_STATE_PAUSING",
            "JOB_STATE_PAUSED"
          ]
        },
        "tempFiles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A set of files the system should be aware of that are used for temporary storage. These temporary files will be removed on job completion. No duplicates are allowed. No file patterns are supported. The supported files are: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
        },
        "executionInfo": {
          "description": "Deprecated.",
          "$ref": "JobExecutionInfo"
        },
        "labels": {
          "description": "User-defined labels for this job. The labels map can contain no more than 64 entries. Entries of the labels map are UTF8 strings that comply with the following restrictions: * Keys must conform to regexp: \\p{Ll}\\p{Lo}{0,62} * Values must conform to regexp: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} * Both keys and values are additionally constrained to be <= 128 bytes in size.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Optional. The user-specified Dataflow job name. Only one active job with a given name can exist in a project within one region at any given time. Jobs in different regions can have the same name. If a caller attempts to create a job with the same name as an active job that already exists, the attempt returns the existing job. The name must match the regular expression `[a-z]([-a-z0-9]{0,1022}[a-z0-9])?`"
        },
        "startTime": {
          "description": "The timestamp when the job was started (transitioned to JOB_STATE_PENDING). Flexible resource scheduling jobs are started with some delay after job creation, so start_time is unset before start and is updated when the job is started by the Cloud Dataflow service. For other jobs, start_time always equals to create_time and is immutable and set by the Cloud Dataflow service.",
          "format": "google-datetime",
          "type": "string"
        },
        "currentStateTime": {
          "type": "string",
          "description": "The timestamp associated with the current state.",
          "format": "google-datetime"
        },
        "location": {
          "description": "Optional. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
          "type": "string"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "Step"
          },
          "description": "Exactly one of step or steps_location should be specified. The top-level steps that constitute the entire job. Only retrieved with JOB_VIEW_ALL."
        },
        "stageStates": {
          "items": {
            "$ref": "ExecutionStageState"
          },
          "description": "This field may be mutated by the Cloud Dataflow service; callers cannot mutate it.",
          "type": "array"
        },
        "replacedByJobId": {
          "description": "If another job is an update of this job (and thus, this job is in `JOB_STATE_UPDATED`), this field contains the ID of that job.",
          "type": "string"
        },
        "runtimeUpdatableParams": {
          "description": "This field may ONLY be modified at runtime using the projects.jobs.update method to adjust job behavior. This field has no effect when specified at job creation.",
          "$ref": "RuntimeUpdatableParams"
        },
        "requestedState": {
          "type": "string",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested.",
            "`JOB_STATE_PAUSING` indicates that the job is in the process of pausing. A pausing job will stop processing, archive in-flight Shuffle data, and transition to `JOB_STATE_PAUSED`. Jobs in this state can transition to `JOB_STATE_CANCELLING` if cancellation is requested, or can transition back to `JOB_STATE_RUNNING` if the pause fails to complete.",
            "`JOB_STATE_PAUSED` indicates that the job is not currently processing. Jobs in this state can transition back to `JOB_STATE_RUNNING` to continue processing where they left off, or can transition to `JOB_STATE_CANCELLING` if cancellation is requested."
          ],
          "description": "The job's requested state. Applies to `UpdateJob` requests. Set `requested_state` with `UpdateJob` requests to switch between the states `JOB_STATE_STOPPED` and `JOB_STATE_RUNNING`. You can also use `UpdateJob` requests to change a job's state from `JOB_STATE_RUNNING` to `JOB_STATE_CANCELLED`, `JOB_STATE_DONE`, or `JOB_STATE_DRAINED`. These states irrevocably terminate the job if it hasn't already reached a terminal state. This field has no effect on `CreateJob` requests.",
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP",
            "JOB_STATE_PAUSING",
            "JOB_STATE_PAUSED"
          ]
        },
        "createTime": {
          "description": "The timestamp when the job was initially created. Immutable and set by the Cloud Dataflow service.",
          "format": "google-datetime",
          "type": "string"
        },
        "replaceJobId": {
          "type": "string",
          "description": "If this job is an update of an existing job, this field is the job ID of the job it replaced. When sending a `CreateJobRequest`, you can update a job by specifying it here. The job named here is stopped, and its intermediate state is transferred to this job."
        },
        "environment": {
          "description": "Optional. The environment for the job.",
          "$ref": "Environment"
        },
        "pausable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the job can be paused."
        },
        "serviceResources": {
          "$ref": "ServiceResources",
          "description": "Output only. Resources used by the Dataflow Service to run the job.",
          "readOnly": true
        },
        "pipelineDescription": {
          "description": "Preliminary field: The format of this data may change at any time. A description of the user pipeline and stages through which it is executed. Created by Cloud Dataflow service. Only retrieved with JOB_VIEW_DESCRIPTION or JOB_VIEW_ALL.",
          "$ref": "PipelineDescription"
        },
        "createdFromSnapshotId": {
          "description": "If this is specified, the job's initial state is populated from the given snapshot.",
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use. This field is set only in responses from the server; it is ignored if it is set in any requests.",
          "type": "boolean"
        },
        "clientRequestId": {
          "description": "The client's unique identifier of the job, re-used across retried attempts. If this field is set, the service will ensure its uniqueness. The request to create a job will fail if the service has knowledge of a previously submitted job with the same client's ID and job name. The caller may use this field to ensure idempotence of job creation across retried attempts to create a job. By default, the field is empty and, in that case, the service ignores it.",
          "type": "string"
        },
        "projectId": {
          "description": "The ID of the Google Cloud project that the job belongs to.",
          "type": "string"
        },
        "jobMetadata": {
          "description": "This field is populated by the Dataflow service to support filtering jobs by the metadata values provided here. Populated for ListJobs and all GetJob views SUMMARY and higher.",
          "$ref": "JobMetadata"
        },
        "id": {
          "type": "string",
          "description": "The unique ID of this job. This field is set by the Dataflow service when the job is created, and is immutable for the life of the job."
        },
        "satisfiesPzs": {
          "description": "Reserved for future use. This field is set only in responses from the server; it is ignored if it is set in any requests.",
          "type": "boolean"
        },
        "stepsLocation": {
          "type": "string",
          "description": "The Cloud Storage location where the steps are stored."
        },
        "transformNameMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job."
        },
        "type": {
          "description": "Optional. The type of Dataflow job.",
          "enumDescriptions": [
            "The type of the job is unspecified, or unknown.",
            "A batch job with a well-defined end point: data is read, data is processed, data is written, and the job is done.",
            "A continuously streaming job with no end: data is read, processed, and written continuously."
          ],
          "enum": [
            "JOB_TYPE_UNKNOWN",
            "JOB_TYPE_BATCH",
            "JOB_TYPE_STREAMING"
          ],
          "type": "string"
        }
      }
    },
    "ProgressTimeseries": {
      "id": "ProgressTimeseries",
      "description": "Information about the progress of some component of job execution.",
      "properties": {
        "currentProgress": {
          "type": "number",
          "description": "The current progress of the component, in the range [0,1].",
          "format": "double"
        },
        "dataPoints": {
          "description": "History of progress for the component. Points are sorted by time.",
          "items": {
            "$ref": "Point"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Position": {
      "description": "Position defines a position within a collection of data. The value can be either the end position, a key (used with ordered collections), a byte offset, or a record index.",
      "id": "Position",
      "properties": {
        "concatPosition": {
          "$ref": "ConcatPosition",
          "description": "CloudPosition is a concat position."
        },
        "end": {
          "description": "Position is past all other positions. Also useful for the end position of an unbounded range.",
          "type": "boolean"
        },
        "shufflePosition": {
          "type": "string",
          "description": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED sharding)."
        },
        "key": {
          "type": "string",
          "description": "Position is a string key, ordered lexicographically."
        },
        "recordIndex": {
          "type": "string",
          "format": "int64",
          "description": "Position is a record index."
        },
        "byteOffset": {
          "type": "string",
          "format": "int64",
          "description": "Position is a byte offset."
        }
      },
      "type": "object"
    },
    "ParallelInstruction": {
      "id": "ParallelInstruction",
      "description": "Describes a particular operation comprising a MapTask.",
      "type": "object",
      "properties": {
        "name": {
          "description": "User-provided name of this operation.",
          "type": "string"
        },
        "originalName": {
          "type": "string",
          "description": "System-defined name for the operation in the original workflow graph."
        },
        "systemName": {
          "description": "System-defined name of this operation. Unique across the workflow.",
          "type": "string"
        },
        "parDo": {
          "$ref": "ParDoInstruction",
          "description": "Additional information for ParDo instructions."
        },
        "read": {
          "description": "Additional information for Read instructions.",
          "$ref": "ReadInstruction"
        },
        "outputs": {
          "description": "Describes the outputs of the instruction.",
          "type": "array",
          "items": {
            "$ref": "InstructionOutput"
          }
        },
        "write": {
          "description": "Additional information for Write instructions.",
          "$ref": "WriteInstruction"
        },
        "flatten": {
          "$ref": "FlattenInstruction",
          "description": "Additional information for Flatten instructions."
        },
        "partialGroupByKey": {
          "$ref": "PartialGroupByKeyInstruction",
          "description": "Additional information for PartialGroupByKey instructions."
        }
      }
    },
    "ResolveConfigStoreSettingRequest": {
      "id": "ResolveConfigStoreSettingRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for ResolveConfigStoreSetting."
    },
    "StageSource": {
      "type": "object",
      "properties": {
        "userName": {
          "type": "string",
          "description": "Human-readable name for this source; may be user or system generated."
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "originalTransformOrCollection": {
          "type": "string",
          "description": "User name for the original user transform or collection with which this source is most closely associated."
        },
        "sizeBytes": {
          "description": "Size of the source, if measurable.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Description of an input or output of an execution stage.",
      "id": "StageSource"
    },
    "DistributionUpdate": {
      "type": "object",
      "description": "A metric value representing a distribution.",
      "properties": {
        "count": {
          "$ref": "SplitInt64",
          "description": "The count of the number of elements present in the distribution."
        },
        "max": {
          "$ref": "SplitInt64",
          "description": "The maximum value present in the distribution."
        },
        "sum": {
          "$ref": "SplitInt64",
          "description": "Use an int64 since we'd prefer the added precision. If overflow is a common problem we can detect it and use an additional int64 or a double."
        },
        "sumOfSquares": {
          "description": "Use a double since the sum of squares is likely to overflow int64.",
          "format": "double",
          "type": "number"
        },
        "histogram": {
          "$ref": "Histogram",
          "description": "(Optional) Histogram of value counts for the distribution."
        },
        "min": {
          "$ref": "SplitInt64",
          "description": "The minimum value present in the distribution."
        }
      },
      "id": "DistributionUpdate"
    },
    "CounterStructuredName": {
      "properties": {
        "originNamespace": {
          "type": "string",
          "description": "A string containing a more specific namespace of the counter's origin."
        },
        "executionStepName": {
          "type": "string",
          "description": "Name of the stage. An execution step contains multiple component steps."
        },
        "originalStepName": {
          "description": "System generated name of the original step in the user's graph, before optimization.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Counter name. Not necessarily globally-unique, but unique within the context of the other fields. Required."
        },
        "componentStepName": {
          "description": "Name of the optimized step being executed by the workers.",
          "type": "string"
        },
        "portion": {
          "enumDescriptions": [
            "Counter portion has not been set.",
            "Counter reports a key.",
            "Counter reports a value."
          ],
          "enum": [
            "ALL",
            "KEY",
            "VALUE"
          ],
          "type": "string",
          "description": "Portion of this counter, either key or value."
        },
        "inputIndex": {
          "format": "int32",
          "type": "integer",
          "description": "Index of an input collection that's being read from/written to as a side input. The index identifies a step's side inputs starting by 1 (e.g. the first side input has input_index 1, the third has input_index 3). Side inputs are identified by a pair of (original_step_name, input_index). This field helps uniquely identify them."
        },
        "origin": {
          "enumDescriptions": [
            "Counter was created by the Dataflow system.",
            "Counter was created by the user."
          ],
          "enum": [
            "SYSTEM",
            "USER"
          ],
          "type": "string",
          "description": "One of the standard Origins defined above."
        },
        "originalRequestingStepName": {
          "description": "The step name requesting an operation, such as GBK. I.e. the ParDo causing a read/write from shuffle to occur, or a read from side inputs.",
          "type": "string"
        },
        "workerId": {
          "type": "string",
          "description": "ID of a particular worker."
        }
      },
      "type": "object",
      "description": "Identifies a counter within a per-job namespace. Counters whose structured names are the same get merged into a single value for the job.",
      "id": "CounterStructuredName"
    },
    "StreamingStageLocation": {
      "id": "StreamingStageLocation",
      "properties": {
        "streamId": {
          "type": "string",
          "description": "Identifies the particular stream within the streaming Dataflow job."
        }
      },
      "type": "object",
      "description": "Identifies the location of a streaming computation stage, for stage-to-stage communication."
    },
    "LaunchFlexTemplateResponse": {
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      },
      "type": "object",
      "description": "Response to the request to launch a job from Flex Template.",
      "id": "LaunchFlexTemplateResponse"
    },
    "StreamingConfigTask": {
      "type": "object",
      "id": "StreamingConfigTask",
      "properties": {
        "windmillServiceEndpoint": {
          "type": "string",
          "description": "If present, the worker must use this endpoint to communicate with Windmill Service dispatchers, otherwise the worker must continue to use whatever endpoint it had been using."
        },
        "operationalLimits": {
          "description": "Operational limits for the streaming job. Can be used by the worker to validate outputs sent to the backend.",
          "$ref": "StreamingOperationalLimits"
        },
        "userWorkerRunnerV1Settings": {
          "format": "byte",
          "description": "Binary encoded proto to control runtime behavior of the java runner v1 user worker.",
          "type": "string"
        },
        "userStepToStateFamilyNameMap": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map from user step names to state families."
        },
        "windmillServicePort": {
          "description": "If present, the worker must use this port to communicate with Windmill Service dispatchers. Only applicable when windmill_service_endpoint is specified.",
          "format": "int64",
          "type": "string"
        },
        "streamingComputationConfigs": {
          "items": {
            "$ref": "StreamingComputationConfig"
          },
          "description": "Set of computation configuration information.",
          "type": "array"
        },
        "maxWorkItemCommitBytes": {
          "description": "Maximum size for work item commit supported windmill storage layer.",
          "type": "string",
          "format": "int64"
        },
        "streamingEngineStateTagEncodingVersion": {
          "description": "Optional. The state tag encoding format version for streaming engine jobs.",
          "type": "integer",
          "format": "int32"
        },
        "commitStreamChunkSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Chunk size for commit streams from the harness to windmill."
        },
        "getDataStreamChunkSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Chunk size for get data streams from the harness to windmill."
        },
        "userWorkerRunnerV2Settings": {
          "description": "Binary encoded proto to control runtime behavior of the runner v2 user worker.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "A task that carries configuration information for streaming computations."
    },
    "Sdk": {
      "id": "Sdk",
      "type": "object",
      "description": "A structured representation of an SDK.",
      "properties": {
        "sdkId": {
          "description": "The SDK harness id.",
          "type": "string"
        },
        "stacks": {
          "description": "The stacktraces for the processes running on the SDK harness.",
          "type": "array",
          "items": {
            "$ref": "Stack"
          }
        }
      }
    },
    "AutoscalingSettings": {
      "properties": {
        "algorithm": {
          "description": "The algorithm to use for autoscaling.",
          "type": "string",
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ],
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ]
        },
        "maxNumWorkers": {
          "description": "The maximum number of workers to cap scaling at.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "AutoscalingSettings",
      "description": "Settings for WorkerPool autoscaling."
    },
    "FloatingPointMean": {
      "type": "object",
      "description": "A representation of a floating point mean metric contribution.",
      "id": "FloatingPointMean",
      "properties": {
        "count": {
          "description": "The number of values being aggregated.",
          "$ref": "SplitInt64"
        },
        "sum": {
          "type": "number",
          "description": "The sum of all values being aggregated.",
          "format": "double"
        }
      }
    },
    "CounterStructuredNameAndMetadata": {
      "properties": {
        "name": {
          "description": "Structured name of the counter.",
          "$ref": "CounterStructuredName"
        },
        "metadata": {
          "description": "Metadata associated with a counter",
          "$ref": "CounterMetadata"
        }
      },
      "description": "A single message which encapsulates structured name and metadata for a given counter.",
      "id": "CounterStructuredNameAndMetadata",
      "type": "object"
    },
    "DeleteSnapshotResponse": {
      "description": "Response from deleting a snapshot.",
      "id": "DeleteSnapshotResponse",
      "type": "object",
      "properties": {}
    },
    "SDKInfo": {
      "properties": {
        "version": {
          "description": "Optional. The SDK version.",
          "type": "string"
        },
        "language": {
          "description": "Required. The SDK Language.",
          "type": "string",
          "enumDescriptions": [
            "UNKNOWN Language.",
            "Java.",
            "Python.",
            "Go.",
            "YAML."
          ],
          "enum": [
            "UNKNOWN",
            "JAVA",
            "PYTHON",
            "GO",
            "YAML"
          ]
        }
      },
      "id": "SDKInfo",
      "description": "SDK Information.",
      "type": "object"
    },
    "Step": {
      "properties": {
        "name": {
          "description": "The name that identifies the step. This must be unique for each step with respect to all other steps in the Cloud Dataflow job.",
          "type": "string"
        },
        "properties": {
          "type": "object",
          "description": "Named properties associated with the step. Each kind of predefined step has its own required set of properties. Must be provided on Create. Only retrieved with JOB_VIEW_ALL.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of step in the Cloud Dataflow job."
        }
      },
      "id": "Step",
      "type": "object",
      "description": "Defines a particular step within a Cloud Dataflow job. A job consists of multiple steps, each of which performs some specific operation as part of the overall job. Data is typically passed from one step to another as part of the job. **Note:** The properties of this object are not stable and might change. Here's an example of a sequence of steps which together implement a Map-Reduce job: * Read a collection of data from some source, parsing the collection's elements. * Validate the elements. * Apply a user-defined function to map each element to some value and extract an element-specific key value. * Group elements with the same key into a single element with that key, transforming a multiply-keyed collection into a uniquely-keyed collection. * Write the elements out to some data sink. Note that the Cloud Dataflow service may be used to run many different types of jobs, not just Map-Reduce."
    },
    "LeaseWorkItemResponse": {
      "properties": {
        "unifiedWorkerResponse": {
          "description": "Untranslated bag-of-bytes WorkResponse for UnifiedWorker.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "workItems": {
          "description": "A list of the leased WorkItems.",
          "type": "array",
          "items": {
            "$ref": "WorkItem"
          }
        }
      },
      "type": "object",
      "description": "Response to a request to lease WorkItems.",
      "id": "LeaseWorkItemResponse"
    },
    "DataflowGaugeValue": {
      "type": "object",
      "description": "The gauge value of a metric.",
      "id": "DataflowGaugeValue",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "The value of the gauge."
        },
        "measuredTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the gauge was recorded."
        }
      }
    },
    "Parameters": {
      "id": "Parameters",
      "type": "object",
      "properties": {
        "latencyTarget": {
          "type": "string",
          "description": "Optional. The target latency for this schedule."
        },
        "minWorkerCount": {
          "format": "int32",
          "description": "Optional. The minimum number of workers for this schedule.",
          "type": "integer"
        },
        "maxWorkerCount": {
          "description": "Optional. The maximum number of workers for this schedule.",
          "type": "integer",
          "format": "int32"
        },
        "cpuUtilizationTarget": {
          "description": "Optional. The target CPU utilization for this schedule.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "The parameters to use for autoscaling when this schedule is active."
    },
    "FloatingPointList": {
      "description": "A metric value representing a list of floating point numbers.",
      "id": "FloatingPointList",
      "properties": {
        "elements": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "description": "Elements of the list.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ReportedParallelism": {
      "type": "object",
      "description": "Represents the level of parallelism in a WorkItem's input, reported by the worker.",
      "properties": {
        "isInfinite": {
          "type": "boolean",
          "description": "Specifies whether the parallelism is infinite. If true, \"value\" is ignored. Infinite parallelism means the service will assume that the work item can always be split into more non-empty work items by dynamic splitting. This is a work-around for lack of support for infinity by the current JSON-based Java RPC stack."
        },
        "value": {
          "description": "Specifies the level of parallelism in case it is finite.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "ReportedParallelism"
    },
    "Snapshot": {
      "type": "object",
      "description": "Represents a snapshot of a job.",
      "id": "Snapshot",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The project this snapshot belongs to."
        },
        "description": {
          "description": "User specified description of the snapshot. Maybe empty.",
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "description": "The time this snapshot was created.",
          "format": "google-datetime"
        },
        "sourceJobId": {
          "type": "string",
          "description": "The job this snapshot was created from."
        },
        "state": {
          "description": "State of the snapshot.",
          "enum": [
            "UNKNOWN_SNAPSHOT_STATE",
            "PENDING",
            "RUNNING",
            "READY",
            "FAILED",
            "DELETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "Snapshot intent to create has been persisted, snapshotting of state has not yet started.",
            "Snapshotting is being performed.",
            "Snapshot has been created and is ready to be used.",
            "Snapshot failed to be created.",
            "Snapshot has been deleted."
          ]
        },
        "pubsubMetadata": {
          "description": "Pub/Sub snapshot metadata.",
          "items": {
            "$ref": "PubsubSnapshotMetadata"
          },
          "type": "array"
        },
        "ttl": {
          "description": "The time after which this snapshot will be automatically deleted.",
          "type": "string",
          "format": "google-duration"
        },
        "region": {
          "type": "string",
          "description": "Cloud region where this snapshot lives in, e.g., \"us-central1\"."
        },
        "diskSizeBytes": {
          "type": "string",
          "description": "The disk byte size of the snapshot. Only available for snapshots in READY state.",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "The unique ID of this snapshot."
        }
      }
    },
    "FailedLocation": {
      "properties": {
        "name": {
          "description": "The name of the [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond.",
          "type": "string"
        }
      },
      "id": "FailedLocation",
      "description": "Indicates which [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) failed to respond to a request for data.",
      "type": "object"
    },
    "DataSamplingReport": {
      "type": "object",
      "id": "DataSamplingReport",
      "description": "Contains per-worker telemetry about the data sampling feature.",
      "properties": {
        "exceptionsSampledCount": {
          "description": "Optional. Delta of number of samples taken from user code exceptions from previous report.",
          "type": "string",
          "format": "int64"
        },
        "persistenceErrorsCount": {
          "description": "Optional. Delta of errors counts from persisting the samples from previous report.",
          "type": "string",
          "format": "int64"
        },
        "elementsSampledBytes": {
          "format": "int64",
          "description": "Optional. Delta of bytes sampled from previous report.",
          "type": "string"
        },
        "bytesWrittenDelta": {
          "description": "Optional. Delta of bytes written to file from previous report.",
          "type": "string",
          "format": "int64"
        },
        "elementsSampledCount": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Delta of number of elements sampled from previous report."
        },
        "pcollectionsSampledCount": {
          "description": "Optional. Delta of number of PCollections sampled from previous report.",
          "format": "int64",
          "type": "string"
        },
        "translationErrorsCount": {
          "type": "string",
          "description": "Optional. Delta of errors counts from retrieving, or translating the samples from previous report.",
          "format": "int64"
        }
      }
    },
    "ExecutionStageSummary": {
      "type": "object",
      "description": "Description of the composing transforms, names/ids, and input/outputs of a stage of execution. Some composing transforms and sources may have been generated by the Dataflow service during execution planning.",
      "properties": {
        "prerequisiteStage": {
          "description": "Other stages that must complete before this stage can run.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "description": "Type of transform this stage is executing.",
          "type": "string",
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ],
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ]
        },
        "name": {
          "description": "Dataflow service generated name for this stage.",
          "type": "string"
        },
        "inputSource": {
          "description": "Input sources for this stage.",
          "items": {
            "$ref": "StageSource"
          },
          "type": "array"
        },
        "componentSource": {
          "items": {
            "$ref": "ComponentSource"
          },
          "type": "array",
          "description": "Collections produced and consumed by component transforms of this stage."
        },
        "componentTransform": {
          "type": "array",
          "items": {
            "$ref": "ComponentTransform"
          },
          "description": "Transforms that comprise this execution stage."
        },
        "outputSource": {
          "type": "array",
          "items": {
            "$ref": "StageSource"
          },
          "description": "Output sources for this stage."
        },
        "id": {
          "description": "Dataflow service generated id for this stage.",
          "type": "string"
        }
      },
      "id": "ExecutionStageSummary"
    },
    "FileIODetails": {
      "type": "object",
      "properties": {
        "filePattern": {
          "description": "File Pattern used to access files by the connector.",
          "type": "string"
        }
      },
      "id": "FileIODetails",
      "description": "Metadata for a File connector used by the job."
    },
    "CPUTime": {
      "type": "object",
      "properties": {
        "rate": {
          "type": "number",
          "description": "Average CPU utilization rate (% non-idle cpu / second) since previous sample.",
          "format": "double"
        },
        "timestamp": {
          "description": "Timestamp of the measurement.",
          "format": "google-datetime",
          "type": "string"
        },
        "totalMs": {
          "type": "string",
          "format": "uint64",
          "description": "Total active CPU time across all cores (ie., non-idle) in milliseconds since start-up."
        }
      },
      "description": "Modeled after information exposed by /proc/stat.",
      "id": "CPUTime"
    },
    "MetricShortId": {
      "description": "The metric short id is returned to the user alongside an offset into ReportWorkItemStatusRequest",
      "id": "MetricShortId",
      "properties": {
        "metricIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The index of the corresponding metric in the ReportWorkItemStatusRequest. Required."
        },
        "shortId": {
          "description": "The service-generated short identifier for the metric.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "SendDebugCaptureRequest": {
      "id": "SendDebugCaptureRequest",
      "type": "object",
      "description": "Request to send encoded debug information. Next ID: 8",
      "properties": {
        "data": {
          "description": "The encoded debug information.",
          "type": "string"
        },
        "componentId": {
          "description": "The internal component id for which debug information is sent.",
          "type": "string"
        },
        "workerId": {
          "description": "The worker id, i.e., VM hostname.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
        },
        "dataFormat": {
          "enumDescriptions": [
            "Format unspecified, parsing is determined based upon page type and legacy encoding. (go/protodosdonts#do-include-an-unspecified-value-in-an-enum)",
            "Raw HTML string.",
            "JSON-encoded string.",
            "Websafe encoded zlib-compressed string.",
            "Websafe encoded brotli-compressed string."
          ],
          "description": "Format for the data field above (id=5).",
          "type": "string",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "RAW",
            "JSON",
            "ZLIB",
            "BROTLI"
          ]
        }
      }
    },
    "Source": {
      "type": "object",
      "id": "Source",
      "properties": {
        "spec": {
          "description": "The source to read from, plus its parameters.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "baseSpecs": {
          "description": "While splitting, sources may specify the produced bundles as differences against another source, in order to save backend-side memory and allow bigger jobs. For details, see SourceSplitRequest. To support this use case, the full set of parameters of the source is logically obtained by taking the latest explicitly specified value of each parameter in the order: base_specs (later items win), spec (overrides anything in base_specs).",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          }
        },
        "codec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The codec to use to decode data read from the source."
        },
        "doesNotNeedSplitting": {
          "description": "Setting this value to true hints to the framework that the source doesn't need splitting, and using SourceSplitRequest on it would yield SOURCE_SPLIT_OUTCOME_USE_CURRENT. E.g. a file splitter may set this to true when splitting a single file into a set of byte ranges of appropriate size, and set this to false when splitting a filepattern into individual files. However, for efficiency, a file splitter may decide to produce file subranges directly from the filepattern to avoid a splitting round-trip. See SourceSplitRequest for an overview of the splitting process. This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated.",
          "type": "boolean"
        },
        "metadata": {
          "$ref": "SourceMetadata",
          "description": "Optionally, metadata for this source can be supplied right away, avoiding a SourceGetMetadataOperation roundtrip (see SourceOperationRequest). This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated."
        }
      },
      "description": "A source that records can be read and decoded from."
    },
    "SideInputInfo": {
      "id": "SideInputInfo",
      "properties": {
        "tag": {
          "description": "The id of the tag the user code will access this side input by; this should correspond to the tag of some MultiOutputInfo.",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "description": "The source(s) to read element(s) from to get the value of this side input. If more than one source, then the elements are taken from the sources, in the specified order if order matters. At least one source is required.",
          "items": {
            "$ref": "Source"
          }
        },
        "kind": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "How to interpret the source element(s) as a side input value.",
          "type": "object"
        }
      },
      "type": "object",
      "description": "Information about a side input of a DoFn or an input of a SeqDoFn."
    },
    "RuntimeMetadata": {
      "type": "object",
      "id": "RuntimeMetadata",
      "description": "RuntimeMetadata describing a runtime environment.",
      "properties": {
        "parameters": {
          "description": "The parameters for the template.",
          "type": "array",
          "items": {
            "$ref": "ParameterMetadata"
          }
        },
        "sdkInfo": {
          "description": "SDK Info for the template.",
          "$ref": "SDKInfo"
        }
      }
    },
    "PartialGroupByKeyInstruction": {
      "description": "An instruction that does a partial group-by-key. One input and one output.",
      "type": "object",
      "id": "PartialGroupByKeyInstruction",
      "properties": {
        "input": {
          "description": "Describes the input to the partial group-by-key instruction.",
          "$ref": "InstructionInput"
        },
        "originalCombineValuesInputStoreName": {
          "type": "string",
          "description": "If this instruction includes a combining function this is the name of the intermediate store between the GBK and the CombineValues."
        },
        "originalCombineValuesStepName": {
          "type": "string",
          "description": "If this instruction includes a combining function, this is the name of the CombineValues instruction lifted into this instruction."
        },
        "sideInputs": {
          "description": "Zero or more side inputs.",
          "items": {
            "$ref": "SideInputInfo"
          },
          "type": "array"
        },
        "valueCombiningFn": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The value combining function to invoke."
        },
        "inputElementCodec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The codec to use for interpreting an element in the input PTable."
        }
      }
    },
    "CustomSourceLocation": {
      "description": "Identifies the location of a custom souce.",
      "properties": {
        "stateful": {
          "description": "Whether this source is stateful.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "CustomSourceLocation"
    },
    "WorkerMessage": {
      "type": "object",
      "description": "WorkerMessage provides information to the backend about a worker.",
      "properties": {
        "perWorkerMetrics": {
          "description": "System defined metrics for this worker.",
          "$ref": "PerWorkerMetrics"
        },
        "workerLifecycleEvent": {
          "$ref": "WorkerLifecycleEvent",
          "description": "Record of worker lifecycle events."
        },
        "workerThreadScalingReport": {
          "description": "Thread scaling information reported by workers.",
          "$ref": "WorkerThreadScalingReport"
        },
        "dataSamplingReport": {
          "$ref": "DataSamplingReport",
          "description": "Optional. Contains metrics related to go/dataflow-data-sampling-telemetry."
        },
        "time": {
          "description": "The timestamp of the worker_message.",
          "type": "string",
          "format": "google-datetime"
        },
        "streamingScalingReport": {
          "description": "Contains per-user worker telemetry used in streaming autoscaling.",
          "$ref": "StreamingScalingReport"
        },
        "workerMetrics": {
          "description": "Resource metrics reported by workers.",
          "$ref": "ResourceUtilizationReport"
        },
        "labels": {
          "type": "object",
          "description": "Labels are used to group WorkerMessages. For example, a worker_message about a particular container might have the labels: { \"JOB_ID\": \"2015-04-22\", \"WORKER_ID\": \"wordcount-vm-2015…\" \"CONTAINER_TYPE\": \"worker\", \"CONTAINER_ID\": \"ac1234def\"} Label tags typically correspond to Label enum values. However, for ease of development other strings can be used as tags. LABEL_UNSPECIFIED should not be used here.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "workerShutdownNotice": {
          "$ref": "WorkerShutdownNotice",
          "description": "Shutdown notice by workers."
        },
        "workerMessageCode": {
          "$ref": "WorkerMessageCode",
          "description": "A worker message code."
        },
        "workerHealthReport": {
          "$ref": "WorkerHealthReport",
          "description": "The health of a worker."
        }
      },
      "id": "WorkerMessage"
    },
    "BucketOptions": {
      "type": "object",
      "id": "BucketOptions",
      "description": "`BucketOptions` describes the bucket boundaries used in the histogram.",
      "properties": {
        "exponential": {
          "$ref": "Base2Exponent",
          "description": "Bucket boundaries grow exponentially."
        },
        "linear": {
          "$ref": "Linear",
          "description": "Bucket boundaries grow linearly."
        }
      }
    },
    "ServiceResources": {
      "id": "ServiceResources",
      "description": "Resources used by the Dataflow Service to run the job.",
      "properties": {
        "zones": {
          "type": "array",
          "description": "Output only. List of Cloud Zones being used by the Dataflow Service for this job. Example: us-central1-c",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "type": "object"
    },
    "MapTask": {
      "description": "MapTask consists of an ordered set of instructions, each of which describes one particular low-level operation for the worker to perform in order to accomplish the MapTask's WorkItem. Each instruction must appear in the list before any instructions which depends on its output.",
      "type": "object",
      "properties": {
        "instructions": {
          "items": {
            "$ref": "ParallelInstruction"
          },
          "type": "array",
          "description": "The instructions in the MapTask."
        },
        "stageName": {
          "description": "System-defined name of the stage containing this MapTask. Unique across the workflow.",
          "type": "string"
        },
        "systemName": {
          "description": "System-defined name of this MapTask. Unique across the workflow.",
          "type": "string"
        },
        "counterPrefix": {
          "description": "Counter prefix that can be used to prefix counters. Not currently used in Dataflow.",
          "type": "string"
        }
      },
      "id": "MapTask"
    },
    "ConfigStoreSettingValue": {
      "id": "ConfigStoreSettingValue",
      "properties": {
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Represents a dynamically typed value."
    },
    "SdkHarnessContainerImage": {
      "description": "Defines an SDK harness container for executing Dataflow pipelines.",
      "type": "object",
      "properties": {
        "capabilities": {
          "description": "The set of capabilities enumerated in the above Environment proto. See also [beam_runner_api.proto](https://github.com/apache/beam/blob/master/model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto)",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "useSingleCorePerContainer": {
          "type": "boolean",
[...]
