{
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Data Manager",
  "baseUrl": "https://datamanager.googleapis.com/",
  "documentationLink": "https://developers.google.com/data-manager",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "ownerName": "Google",
  "basePath": "",
  "schemas": {
    "ListUserListGlobalLicenseCustomerInfosResponse": {
      "id": "ListUserListGlobalLicenseCustomerInfosResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "userListGlobalLicenseCustomerInfos": {
          "description": "The customer information for the given license in the request.",
          "type": "array",
          "items": {
            "$ref": "UserListGlobalLicenseCustomerInfo"
          }
        }
      },
      "description": "Response from the ListUserListGlobalLicensesCustomerInfoRequest."
    },
    "AudienceMember": {
      "id": "AudienceMember",
      "properties": {
        "userIdData": {
          "description": "Data related to unique identifiers for a user, as defined by the advertiser.",
          "$ref": "UserIdData"
        },
        "partnerProvidedIdData": {
          "$ref": "PartnerProvidedIdData",
          "description": "Partner-provided identifiers."
        },
        "mobileData": {
          "description": "Data identifying the user's mobile devices.",
          "$ref": "MobileData"
        },
        "pairData": {
          "$ref": "PairData",
          "description": "[Publisher Advertiser Identity Reconciliation (PAIR) IDs](//support.google.com/admanager/answer/15067908). This feature is only available to data partners."
        },
        "destinationReferences": {
          "description": "Optional. Defines which Destination to send the audience member to.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "consent": {
          "description": "Optional. The consent setting for the user.",
          "$ref": "Consent"
        },
        "googleUserIdData": {
          "description": "Encrypted Google User IDs.",
          "$ref": "GoogleUserIdData"
        },
        "userData": {
          "description": "User-provided data that identifies the user.",
          "$ref": "UserData"
        },
        "ppidData": {
          "description": "Data related to publisher provided identifiers. This feature is only available to data partners.",
          "$ref": "PpidData"
        },
        "compositeData": {
          "description": "Group of multiple identifier types.",
          "$ref": "CompositeData"
        }
      },
      "description": "The audience member to be operated on.",
      "type": "object"
    },
    "IngestUserDataStatus": {
      "id": "IngestUserDataStatus",
      "properties": {
        "userIdentifierCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of user identifiers sent in the upload request for the destination. Includes all user identifiers in the request, regardless of whether they were successfully ingested or not."
        },
        "uploadMatchRateRange": {
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ],
          "enumDescriptions": [
            "The match rate range is unknown.",
            "The match rate range is not eligible.",
            "The match rate range is less than 20% (in the interval `[0, 20)`).",
            "The match rate range is between 20% and 30% (in the interval `[20, 31)`).",
            "The match rate range is between 31% and 40% (in the interval `[31, 41)`).",
            "The match rate range is between 41% and 50% (in the interval `[41, 51)`).",
            "The match rate range is between 51% and 60% (in the interval `[51, 61)`.",
            "The match rate range is between 61% and 70% (in the interval `[61, 71)`).",
            "The match rate range is between 71% and 80% (in the interval `[71, 81)`).",
            "The match rate range is between 81% and 90% (in the interval `[81, 91)`).",
            "The match rate range is between 91% and 100% (in the interval `[91, 100]`)."
          ],
          "description": "The match rate range of the upload.",
          "type": "string"
        },
        "recordCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
        }
      },
      "type": "object",
      "description": "The status of the user data ingestion to the destination containing stats related to the ingestion."
    },
    "WarningCount": {
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The count of records that have a warning."
        },
        "reason": {
          "enum": [
            "PROCESSING_WARNING_REASON_UNSPECIFIED",
            "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED",
            "PROCESSING_WARNING_REASON_INVALID_WIP",
            "PROCESSING_WARNING_REASON_INVALID_KEK",
            "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_INTERNAL_ERROR",
            "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED"
          ],
          "enumDescriptions": [
            "The processing warning reason is unknown.",
            "The system did not have the permissions needed to access the KEK.",
            "The DEK failed to be decrypted.",
            "The event has a decryption error.",
            "The WIP could not be used because it was rejected by its attestation condition.",
            "The WIP is formatted incorrectly or the WIP does not exist.",
            "The KEK cannot decrypt data because it is the wrong KEK, or it does not exist.",
            "Failed to decrypt the UserIdentifier data using the DEK.",
            "Internal error.",
            "The system failed to authenticate with AWS."
          ],
          "description": "The warning reason.",
          "type": "string"
        }
      },
      "id": "WarningCount",
      "description": "The warning count for a given warning reason."
    },
    "MarketingDataInsightsAttribute": {
      "properties": {
        "gender": {
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Male.",
            "Female."
          ],
          "type": "string",
          "enum": [
            "GENDER_UNSPECIFIED",
            "GENDER_UNKNOWN",
            "GENDER_MALE",
            "GENDER_FEMALE"
          ],
          "description": "Gender of the audience for which the lift is provided."
        },
        "lift": {
          "type": "number",
          "format": "float",
          "description": "Measure of lift that the audience has for the attribute value as compared to the baseline. Range [0-1]."
        },
        "userInterestId": {
          "type": "string",
          "description": "The user interest ID.",
          "format": "int64"
        },
        "ageRange": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Between 18 and 24 years old.",
            "Between 25 and 34 years old.",
            "Between 35 and 44 years old.",
            "Between 45 and 54 years old.",
            "Between 55 and 64 years old.",
            "65 years old and beyond."
          ],
          "description": "Age range of the audience for which the lift is provided.",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "AGE_RANGE_UNKNOWN",
            "AGE_RANGE_18_24",
            "AGE_RANGE_25_34",
            "AGE_RANGE_35_44",
            "AGE_RANGE_45_54",
            "AGE_RANGE_55_64",
            "AGE_RANGE_65_UP"
          ]
        }
      },
      "type": "object",
      "description": "Insights for a collection of related attributes of the same dimension.",
      "id": "MarketingDataInsightsAttribute"
    },
    "UserListGlobalLicenseCustomerInfo": {
      "id": "UserListGlobalLicenseCustomerInfo",
      "description": "Information about a customer of a user list global license. This will automatically be created by the system when a customer purchases a global license.",
      "properties": {
        "historicalPricings": {
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Pricing history of this user list license."
        },
        "metrics": {
          "description": "Output only. Metrics related to this license This field is only populated if the start and end dates are set in the ListUserListGlobalLicenseCustomerInfos call.",
          "$ref": "UserListLicenseMetrics",
          "readOnly": true
        },
        "clientAccountId": {
          "format": "int64",
          "type": "string",
          "description": "Output only. ID of client customer which the user list is being licensed to.",
          "readOnly": true
        },
        "userListId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. ID of the user list being licensed.",
          "type": "string"
        },
        "licenseType": {
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ],
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Product type of client customer which the user list is being licensed to."
        },
        "clientAccountType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ],
          "readOnly": true,
          "description": "Output only. Product type of client customer which the user list is being licensed to.",
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ]
        },
        "clientAccountDisplayName": {
          "readOnly": true,
          "description": "Output only. Name of client customer which the user list is being licensed to.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ]
        },
        "userListDisplayName": {
          "description": "Output only. Name of the user list being licensed.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the user list global license customer.",
          "type": "string"
        },
        "pricing": {
          "readOnly": true,
          "description": "Output only. UserListDirectLicense pricing.",
          "$ref": "UserListLicensePricing"
        }
      },
      "type": "object"
    },
    "GcpWrappedKeyInfo": {
      "description": "Information about the Google Cloud Platform wrapped key.",
      "properties": {
        "wipProvider": {
          "type": "string",
          "description": "Required. The [Workload Identity](//cloud.google.com/iam/docs/workload-identity-federation) pool provider required to use KEK."
        },
        "keyType": {
          "type": "string",
          "description": "Required. The type of algorithm used to encrypt the data.",
          "enumDescriptions": [
            "Unspecified key type. Should never be used.",
            "Algorithm XChaCha20-Poly1305"
          ],
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ]
        },
        "encryptedDek": {
          "type": "string",
          "description": "Required. The base64 encoded encrypted data encryption key."
        },
        "kekUri": {
          "type": "string",
          "description": "Required. Google Cloud Platform [Cloud Key Management Service resource ID](//cloud.google.com/kms/docs/getting-resource-ids). Should be in the format of `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}` or `gcp-kms://projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}`"
        }
      },
      "type": "object",
      "id": "GcpWrappedKeyInfo"
    },
    "ListUserListDirectLicensesResponse": {
      "properties": {
        "userListDirectLicenses": {
          "type": "array",
          "description": "The licenses for the given user list in the request.",
          "items": {
            "$ref": "UserListDirectLicense"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response from the ListUserListDirectLicensesRequest.",
      "type": "object",
      "id": "ListUserListDirectLicensesResponse"
    },
    "IngestAudienceMembersResponse": {
      "id": "IngestAudienceMembersResponse",
      "type": "object",
      "description": "Response from the IngestAudienceMembersRequest.",
      "properties": {
        "fieldWarnings": {
          "description": "Detailed row-level warnings with field paths.",
          "items": {
            "$ref": "FieldWarning"
          },
          "type": "array"
        },
        "requestId": {
          "type": "string",
          "description": "The auto-generated ID of the request."
        }
      }
    },
    "IngestEventsResponse": {
      "description": "Response from the IngestEventsRequest.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        },
        "fieldWarnings": {
          "description": "Detailed row-level warnings with field paths.",
          "type": "array",
          "items": {
            "$ref": "FieldWarning"
          }
        }
      },
      "id": "IngestEventsResponse"
    },
    "PairData": {
      "id": "PairData",
      "type": "object",
      "properties": {
        "pairIds": {
          "description": "Required. Cleanroom-provided PII data, hashed with SHA256, and encrypted with an EC commutative cipher using publisher key for the [PAIR]((//support.google.com/admanager/answer/15067908)) user list. At most 10 `pairIds` can be provided in a single AudienceMember.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "[PAIR](//support.google.com/admanager/answer/15067908) IDs for the audience. At least one PAIR ID is required. This feature is only available to data partners."
    },
    "IngestCompositeDataStatus": {
      "properties": {
        "uploadMatchRateRange": {
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ],
          "enumDescriptions": [
            "The match rate range is unknown.",
            "The match rate range is not eligible.",
            "The match rate range is less than 20% (in the interval `[0, 20)`).",
            "The match rate range is between 20% and 30% (in the interval `[20, 31)`).",
            "The match rate range is between 31% and 40% (in the interval `[31, 41)`).",
            "The match rate range is between 41% and 50% (in the interval `[41, 51)`).",
            "The match rate range is between 51% and 60% (in the interval `[51, 61)`.",
            "The match rate range is between 61% and 70% (in the interval `[61, 71)`).",
            "The match rate range is between 71% and 80% (in the interval `[71, 81)`).",
            "The match rate range is between 81% and 90% (in the interval `[81, 91)`).",
            "The match rate range is between 91% and 100% (in the interval `[91, 100]`)."
          ],
          "description": "The match rate range of the upload.",
          "type": "string"
        },
        "dataTypeCounts": {
          "items": {
            "$ref": "DataTypeCount"
          },
          "type": "array",
          "description": "The total count of data types sent in the upload request for the destination, broken down by data type. Includes all data types in the request, regardless of whether they were successfully ingested or not."
        },
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
        }
      },
      "type": "object",
      "id": "IngestCompositeDataStatus",
      "description": "The status of the composite data ingestion to the destination containing stats related to the ingestion."
    },
    "UserList": {
      "description": "A user list resource.",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The unique ID of the user list."
        },
        "membershipStatus": {
          "description": "Optional. Membership status of this user list.",
          "enumDescriptions": [
            "Not specified.",
            "Open status - User list is accruing members and can be targeted to.",
            "Closed status - No new members being added."
          ],
          "type": "string",
          "enum": [
            "MEMBERSHIP_STATUS_UNSPECIFIED",
            "OPEN",
            "CLOSED"
          ]
        },
        "membershipDuration": {
          "type": "string",
          "description": "Optional. The duration a user remains in the user list. Valid durations are exact multiples of 24 hours (86400 seconds). Providing a value that is not an exact multiple of 24 hours will result in an INVALID_ARGUMENT error.",
          "format": "google-duration"
        },
        "integrationCode": {
          "type": "string",
          "description": "Optional. An ID from external system. It is used by user list sellers to correlate IDs on their systems."
        },
        "description": {
          "description": "Optional. A description of the user list.",
          "type": "string"
        },
        "accountAccessStatus": {
          "description": "Optional. Indicates if this share is still enabled. When a user list is shared with the account this field is set to `ENABLED`. Later the user list owner can decide to revoke the share and make it `DISABLED`.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The access is enabled.",
            "The access is disabled."
          ],
          "enum": [
            "ACCESS_STATUS_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "sizeInfo": {
          "$ref": "SizeInfo",
          "description": "Output only. Estimated number of members in this user list in different target networks.",
          "readOnly": true
        },
        "accessReason": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The resource is owned by the user.",
            "The resource is shared to the user.",
            "The resource is licensed to the user.",
            "The user subscribed to the resource.",
            "The resource is accessible to the user."
          ],
          "description": "Output only. The reason this account has been granted access to the list.",
          "enum": [
            "ACCESS_REASON_UNSPECIFIED",
            "OWNED",
            "SHARED",
            "LICENSED",
            "SUBSCRIBED",
            "AFFILIATED"
          ],
          "readOnly": true
        },
        "targetNetworkInfo": {
          "$ref": "TargetNetworkInfo",
          "description": "Optional. Eligibility information for different target networks."
        },
        "name": {
          "description": "Identifier. The resource name of the user list. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
          "type": "string"
        },
        "ingestedUserListInfo": {
          "$ref": "IngestedUserListInfo",
          "description": "Optional. Represents a user list that is populated by user ingested data."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the user list."
        },
        "closingReason": {
          "type": "string",
          "description": "Output only. The reason why this user list membership status is closed.",
          "readOnly": true,
          "enum": [
            "CLOSING_REASON_UNSPECIFIED",
            "UNUSED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The user list was closed because it has not been used in targeting recently. See https://support.google.com/google-ads/answer/2472738 for details."
          ]
        },
        "readOnly": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. An option that indicates if a user may edit a list."
        }
      },
      "id": "UserList"
    },
    "UserIdInfo": {
      "description": "Additional information when `USER_ID` is one of the `upload_key_types`.",
      "properties": {
        "dataSourceType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "description": "Optional. Immutable. Source of the upload data.",
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ]
        }
      },
      "id": "UserIdInfo",
      "type": "object"
    },
    "PartnerLink": {
      "description": "A partner link between an owning account and a partner account.",
      "type": "object",
      "properties": {
        "partnerLinkId": {
          "readOnly": true,
          "description": "Output only. The partner link ID.",
          "type": "string"
        },
        "owningAccount": {
          "description": "Required. The owning account granting access to the partner account.",
          "$ref": "ProductAccount"
        },
        "partnerLinkMetadata": {
          "description": "Optional. Metadata associated with the partner link. This is optional and only accepted for partner links with the FEATURE_SET_AD_EVENT_MANAGEMENT.",
          "$ref": "PartnerLinkMetadata"
        },
        "featureSet": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified feature set. If unspecified, the system behavior defaults to FEATURE_SET_AUDIENCE_AND_EVENT_MANAGEMENT.",
            "Indicates a link used for audience and event management.",
            "Indicates a link used for ad event management."
          ],
          "enum": [
            "FEATURE_SET_UNSPECIFIED",
            "FEATURE_SET_AUDIENCE_AND_EVENT_MANAGEMENT",
            "FEATURE_SET_AD_EVENT_MANAGEMENT"
          ],
          "description": "Optional. Immutable. The set of features supported for the partner link. If not specified, the system behavior defaults to FEATURE_SET_AUDIENCE_AND_EVENT_MANAGEMENT."
        },
        "partnerAccount": {
          "description": "Required. The partner account granted access by the owning account.",
          "$ref": "ProductAccount"
        },
        "partnerCustomerAccount": {
          "$ref": "PartnerCustomerAccount",
          "description": "Optional. The customer account in the partner system. This is required for partner links with the FEATURE_SET_AD_EVENT_MANAGEMENT feature set."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the partner link. Format: accountTypes/{account_type}/accounts/{account}/partnerLinks/{partner_link}"
        }
      },
      "id": "PartnerLink"
    },
    "RequestStatusPerDestination": {
      "type": "object",
      "id": "RequestStatusPerDestination",
      "properties": {
        "eventsIngestionStatus": {
          "$ref": "IngestEventsStatus",
          "description": "The status of the ingest events request."
        },
        "audienceMembersRemovalStatus": {
          "description": "The status of the remove audience members request.",
          "$ref": "RemoveAudienceMembersStatus"
        },
        "audienceMembersIngestionStatus": {
          "$ref": "IngestAudienceMembersStatus",
          "description": "The status of the ingest audience members request."
        },
        "removeAllAudienceMembersStatus": {
          "$ref": "RemoveAllAudienceMembersStatus",
          "description": "The status of the remove all audience members request."
        },
        "errorInfo": {
          "description": "An error info error containing the error reason and error counts related to the upload. Only populated if the `request_status` is `FAILED` or `PARTIAL_SUCCESS`. This field isn't populated while the request has `request_status` of `PROCESSING`.",
          "$ref": "ErrorInfo"
        },
        "destination": {
          "description": "A destination within a DM API request.",
          "$ref": "Destination"
        },
        "warningInfo": {
          "$ref": "WarningInfo",
          "description": "A warning info containing the warning reason and warning counts related to the upload. This field isn't populated while the request has `request_status` of `PROCESSING`."
        },
        "requestStatus": {
          "enum": [
            "REQUEST_STATUS_UNKNOWN",
            "SUCCESS",
            "PROCESSING",
            "FAILED",
            "PARTIAL_SUCCESS"
          ],
          "description": "The request status of the destination.",
          "enumDescriptions": [
            "The request status is unknown.",
            "Processing succeeded for all records without any errors. However, there may be warnings in the `warning_info` field.",
            "The request is processing.",
            "Processing failed for all records. Check the `error_info` field for error details, and check the `warning_info` field for warning details.",
            "Processing completed successfully without errors for some records, but failed with errors for other records. Check the `error_info` field for error details, and check the `warning_info` field for warning details."
          ],
          "type": "string"
        }
      },
      "description": "A request status per destination."
    },
    "IngestMobileDataStatus": {
      "id": "IngestMobileDataStatus",
      "type": "object",
      "properties": {
        "mobileIdCount": {
          "description": "The total count of mobile ids sent in the upload request for the destination. Includes all mobile ids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        },
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The status of the mobile data ingestion to the destination containing stats related to the ingestion."
    },
    "IngestAdEventsRequest": {
      "type": "object",
      "id": "IngestAdEventsRequest",
      "properties": {
        "adEvents": {
          "items": {
            "$ref": "AdEvent"
          },
          "description": "Required. Required (at least 1). A list of ad events.",
          "type": "array"
        },
        "encryptionInfo": {
          "description": "Required. Information about encryption keys which are used to encrypt the data.",
          "$ref": "EncryptionInfo"
        },
        "validateOnly": {
          "deprecated": true,
          "description": "Optional. If true, the request is validated, but not executed.",
          "type": "boolean"
        }
      },
      "description": "Request to upload ad events."
    },
    "RemovePartnerProvidedIdDataStatus": {
      "id": "RemovePartnerProvidedIdDataStatus",
      "description": "The status of the partner provided id data removal from the destination.",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not."
        },
        "partnerProvidedIdCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of partner provided ids sent in the removal request. Includes all partner provided ids in the request, regardless of whether they were successfully removed or not."
        }
      }
    },
    "DeviceInfo": {
      "description": "Information about the device being used (if any) when the event happened.",
      "id": "DeviceInfo",
      "properties": {
        "userAgent": {
          "description": "Optional. The user-agent string of the device for the given context.",
          "type": "string"
        },
        "brand": {
          "description": "Optional. The brand of the device.",
          "type": "string"
        },
        "operatingSystem": {
          "type": "string",
          "description": "Optional. The operating system or platform of the device."
        },
        "browser": {
          "type": "string",
          "description": "Optional. The brand or type of the browser."
        },
        "category": {
          "description": "Optional. The category of device. For example, “desktop”, “tablet”, “mobile”, “smart TV”.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. The language the device uses in ISO 639-1 format.",
          "type": "string"
        },
        "model": {
          "description": "Optional. The model of the device.",
          "type": "string"
        },
        "browserVersion": {
          "type": "string",
          "description": "Optional. The version of the browser."
        },
        "operatingSystemVersion": {
          "description": "Optional. The version of the operating system or platform.",
          "type": "string"
        },
        "screenWidth": {
          "type": "integer",
          "description": "Optional. The width of the screen in pixels.",
          "format": "int32"
        },
        "screenHeight": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The height of the screen in pixels."
        },
        "ipAddress": {
          "description": "Optional. The IP address of the device for the given context. Required when used in an AdEvent.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdEvent": {
      "properties": {
        "campaignName": {
          "description": "Required. The name of the associated campaign.",
          "type": "string"
        },
        "regionCode": {
          "description": "Optional. The ISO 3166-2 country plus subdivision.",
          "type": "string"
        },
        "targetingType": {
          "description": "Enum value for targeting type.",
          "enumDescriptions": [
            "Unspecified targeting type.",
            "Audience targeting.",
            "Contextual targeting.",
            "Demographic targeting.",
            "Device targeting.",
            "Geo targeting.",
            "Interest targeting.",
            "Purchase intent targeting.",
            "Remarketing targeting."
          ],
          "enum": [
            "TARGETING_TYPE_UNSPECIFIED",
            "TARGETING_TYPE_AUDIENCE",
            "TARGETING_TYPE_CONTEXTUAL",
            "TARGETING_TYPE_DEMOGRAPHIC",
            "TARGETING_TYPE_DEVICE",
            "TARGETING_TYPE_GEO",
            "TARGETING_TYPE_INTEREST",
            "TARGETING_TYPE_PURCHASE_INTENT",
            "TARGETING_TYPE_REMARKETING"
          ],
          "type": "string"
        },
        "mobileDeviceId": {
          "type": "string",
          "description": "Optional. The device ID of the device that the ad was served to."
        },
        "userData": {
          "description": "Optional. Multiple pieces of user-provided data, representing the user the event is associated with. It is possible to provide multiple instances of the same type of data (e.g. email address). The more data provided, the more likely a match will be found.",
          "$ref": "UserData"
        },
        "eventType": {
          "type": "string",
          "description": "Required. The type of the event.",
          "enumDescriptions": [
            "Unspecified event type.",
            "View event.",
            "Click event."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "EVENT_TYPE_VIEW",
            "EVENT_TYPE_CLICK"
          ]
        },
        "adGroupId": {
          "description": "Optional. The ID of the associated ad group.",
          "type": "string"
        },
        "eventSubtype": {
          "enumDescriptions": [
            "Unspecified event subtype.",
            "Impression event.",
            "Engaged view event.",
            "Onsite click event.",
            "Outbound click event."
          ],
          "type": "string",
          "description": "Enum value for event subtype.",
          "enum": [
            "EVENT_SUBTYPE_UNSPECIFIED",
            "EVENT_SUBTYPE_IMPRESSION",
            "EVENT_SUBTYPE_ENGAGED_VIEW",
            "EVENT_SUBTYPE_ONSITE_CLICK",
            "EVENT_SUBTYPE_OUTBOUND_CLICK"
          ]
        },
        "adPlacementString": {
          "description": "String value for ad placement.",
          "type": "string"
        },
        "source": {
          "description": "Required. The platform source of the ad, akin to the Google Analytics source.",
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "description": "Required. The time the event occurred.",
          "format": "google-datetime"
        },
        "advertiserId": {
          "type": "string",
          "description": "Required. The ID of the advertiser for the ad event. This must match the ID sent in the linking flow."
        },
        "platformType": {
          "enumDescriptions": [
            "Unspecified platform type.",
            "Mobile platform.",
            "Desktop platform.",
            "CTV platform.",
            "Phone platform.",
            "Tablet platform."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "PLATFORM_TYPE_MOBILE",
            "PLATFORM_TYPE_DESKTOP",
            "PLATFORM_TYPE_CTV",
            "PLATFORM_TYPE_PHONE",
            "PLATFORM_TYPE_TABLET"
          ],
          "type": "string",
          "description": "Enum value for platform type."
        },
        "adId": {
          "description": "Optional. The ID of the associated ad within the group.",
          "type": "string"
        },
        "adFormat": {
          "type": "string",
          "description": "Enum value for ad format.",
          "enumDescriptions": [
            "Unspecified ad format.",
            "AR ad.",
            "Audio ad.",
            "Banner ad.",
            "Bumper ad.",
            "Carousel ad.",
            "Collection ad.",
            "Image ad.",
            "Interactive ad.",
            "Interstitial ad.",
            "In-feed ad.",
            "In-stream ad.",
            "In-stream skippable ad.",
            "In-stream non-skippable ad.",
            "Native ad.",
            "Shorts ad.",
            "Story ad.",
            "Sponsored ad.",
            "Video ad."
          ],
          "enum": [
            "AD_FORMAT_UNSPECIFIED",
            "AD_FORMAT_AR",
            "AD_FORMAT_AUDIO",
            "AD_FORMAT_BANNER",
            "AD_FORMAT_BUMPER",
            "AD_FORMAT_CAROUSEL",
            "AD_FORMAT_COLLECTION",
            "AD_FORMAT_IMAGE",
            "AD_FORMAT_INTERACTIVE",
            "AD_FORMAT_INTERSTITIAL",
            "AD_FORMAT_IN_FEED",
            "AD_FORMAT_IN_STREAM",
            "AD_FORMAT_IN_STREAM_SKIPPABLE",
            "AD_FORMAT_IN_STREAM_NON_SKIPPABLE",
            "AD_FORMAT_NATIVE",
            "AD_FORMAT_SHORTS",
            "AD_FORMAT_STORY",
            "AD_FORMAT_SPONSORED",
            "AD_FORMAT_VIDEO"
          ]
        },
        "eventId": {
          "description": "Optional. An ID created and managed by the caller that uniquely identifies this event. Required if you want to deduplicate ad events that are included in multiple requests. Otherwise, this field is optional.",
          "type": "string"
        },
        "platformTypeString": {
          "type": "string",
          "description": "String value for platform type."
        },
        "targetingTypeString": {
          "type": "string",
          "description": "String value for targeting type."
        },
        "attributionHint": {
          "enumDescriptions": [
            "Unknown attribution status.",
            "Converted status.",
            "Not converted status."
          ],
          "type": "string",
          "enum": [
            "ATTRIBUTION_HINT_UNSPECIFIED",
            "ATTRIBUTION_HINT_CONVERTED",
            "ATTRIBUTION_HINT_NOT_CONVERTED"
          ],
          "description": "Optional. The partner-assumed attribution status for this ad event. This acts only as a signal for how the partner assumed attribution played out, and does not force an end result in final reports."
        },
        "adFormatString": {
          "type": "string",
          "description": "String value for ad format."
        },
        "medium": {
          "description": "Required. The medium of the ad, akin to the Google Analytics medium.",
          "type": "string"
        },
        "adWidth": {
          "description": "Optional. The width of the ad in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "deviceInfo": {
          "description": "Required. Information gathered about the device being used when the ad event happened.",
          "$ref": "DeviceInfo"
        },
        "adTypeString": {
          "description": "String value for ad type.",
          "type": "string"
        },
        "platformString": {
          "description": "String value for platform.",
          "type": "string"
        },
        "viewabilityInfo": {
          "$ref": "ViewabilityInfo",
          "description": "Required. Details of the viewability of the ad served."
        },
        "adType": {
          "enum": [
            "AD_TYPE_UNSPECIFIED",
            "AD_TYPE_DISPLAY",
            "AD_TYPE_TEXT",
            "AD_TYPE_IMAGE",
            "AD_TYPE_RICH_MEDIA",
            "AD_TYPE_HTML",
            "AD_TYPE_AUDIO",
            "AD_TYPE_VIDEO"
          ],
          "description": "Enum value for ad type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified ad type.",
            "Display ad.",
            "Text ad.",
            "Image ad.",
            "Rich media ad.",
            "HTML ad.",
            "Audio ad.",
            "Video ad."
          ]
        },
        "adHeight": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The height of the ad in pixels."
        },
        "campaignId": {
          "description": "Required. The ID of the associated campaign.",
          "type": "string"
        },
        "platform": {
          "enumDescriptions": [
            "Unspecified platform.",
            "iOS platform.",
            "Android platform.",
            "Web platform."
          ],
          "description": "Enum value for platform.",
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "PLATFORM_IOS",
            "PLATFORM_ANDROID",
            "PLATFORM_WEB"
          ]
        },
        "eventSubtypeString": {
          "description": "String value for event subtype.",
          "type": "string"
        },
        "measurementAllowed": {
          "type": "boolean",
          "description": "Optional. Represents if the row is allowed to be used for measurement purposes, as governed by applicable privacy laws within regional jurisdiction."
        },
        "adPlacement": {
          "type": "string",
          "enum": [
            "AD_PLACEMENT_UNSPECIFIED",
            "AD_PLACEMENT_DISCOVER",
            "AD_PLACEMENT_FEED",
            "AD_PLACEMENT_FOOTER",
            "AD_PLACEMENT_HEADER",
            "AD_PLACEMENT_HOME",
            "AD_PLACEMENT_IN_CONTENT",
            "AD_PLACEMENT_PROMOTED",
            "AD_PLACEMENT_SEARCH",
            "AD_PLACEMENT_STORY"
          ],
          "enumDescriptions": [
            "Unspecified ad placement.",
            "Discover placement.",
            "Feed placement.",
            "Footer placement.",
            "Header placement.",
            "Home placement.",
            "In-content placement.",
            "Promoted placement.",
            "Search placement.",
            "Story placement."
          ],
          "description": "Enum value for ad placement."
        }
      },
      "type": "object",
      "id": "AdEvent",
      "description": "An ad event."
    },
    "RemoveUserDataStatus": {
      "id": "RemoveUserDataStatus",
      "type": "object",
      "description": "The status of the user data removal from the destination.",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        },
        "userIdentifierCount": {
          "description": "The total count of user identifiers sent in the removal request. Includes all user identifiers in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RemovePpidDataStatus": {
      "id": "RemovePpidDataStatus",
      "description": "The status of the ppid data removal from the destination.",
      "properties": {
        "ppidCount": {
          "format": "int64",
          "description": "The total count of ppids sent in the removal request. Includes all ppids in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        },
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "UserProperty": {
      "properties": {
        "propertyName": {
          "type": "string",
          "description": "Required. The name of the user property to use."
        },
        "value": {
          "type": "string",
          "description": "Required. The string representation of the value of the user property to use."
        }
      },
      "id": "UserProperty",
      "description": "A bucket of any additional [user properties](https://developers.google.com/analytics/devguides/collection/protocol/ga4/user-properties) for the user associated with this event.",
      "type": "object"
    },
    "IngestUserIdDataStatus": {
      "type": "object",
      "id": "IngestUserIdDataStatus",
      "description": "The status of the user id data ingestion to the destination containing stats related to the ingestion.",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64",
          "type": "string"
        },
        "userIdCount": {
          "description": "The total count of user ids sent in the upload request for the destination. Includes all user ids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "RetrieveInsightsResponse": {
      "properties": {
        "marketingDataInsights": {
          "items": {
            "$ref": "MarketingDataInsight"
          },
          "type": "array",
          "description": "Contains the insights for the marketing data."
        }
      },
      "type": "object",
      "description": "Response message for DM API MarketingDataInsightsService.RetrieveInsights",
      "id": "RetrieveInsightsResponse"
    },
    "TermsOfService": {
      "type": "object",
      "id": "TermsOfService",
      "description": "The terms of service that the user has accepted/rejected.",
      "properties": {
        "customerMatchTermsOfServiceStatus": {
          "enum": [
            "TERMS_OF_SERVICE_STATUS_UNSPECIFIED",
            "ACCEPTED",
            "REJECTED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Status indicating the caller has chosen to accept the terms of service.",
            "Status indicating the caller has chosen to reject the terms of service."
          ],
          "type": "string",
          "description": "Optional. The Customer Match terms of service: https://support.google.com/adspolicy/answer/6299717. This must be accepted when ingesting UserData or MobileData. This field is not required for Partner Match User list."
        }
      }
    },
    "GoogleUserIdData": {
      "properties": {
        "googleUserIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of encrypted google user IDs.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleUserIdData",
      "description": "Google user id data holding encrypted google user IDs. At least one google user ID is required."
    },
    "ProductAccount": {
      "id": "ProductAccount",
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Required. The ID of the account. For example, your Google Ads account ID."
        },
        "product": {
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner."
          ],
          "enum": [
            "PRODUCT_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER"
          ],
          "description": "Deprecated. Use `account_type` instead.",
          "deprecated": true,
          "type": "string"
        },
        "accountType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner.",
            "Google Analytics.",
            "Google Ad Manager audience link.",
            "Floodlight configuration."
          ],
          "description": "Required. The type of the account. For example, `GOOGLE_ADS`. Either `account_type` or the deprecated `product` is required. If both are set, the values must match.",
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER",
            "GOOGLE_ANALYTICS_PROPERTY",
            "GOOGLE_AD_MANAGER_AUDIENCE_LINK",
            "FLOODLIGHT_CONFIG"
          ]
        }
      },
      "description": "Represents a specific account."
    },
    "IngestAudienceMembersStatus": {
      "properties": {
        "userIdDataIngestionStatus": {
          "$ref": "IngestUserIdDataStatus",
          "description": "The status of the user id data ingestion to the destination."
        },
        "userDataIngestionStatus": {
          "description": "The status of the user data ingestion to the destination.",
          "$ref": "IngestUserDataStatus"
        },
        "mobileDataIngestionStatus": {
          "description": "The status of the mobile data ingestion to the destination.",
          "$ref": "IngestMobileDataStatus"
        },
        "partnerProvidedIdDataIngestionStatus": {
          "$ref": "IngestPartnerProvidedIdDataStatus",
          "description": "The status of the partner provided id data ingestion to the destination."
        },
        "compositeDataIngestionStatus": {
          "description": "The status of the composite data ingestion to the destination.",
          "$ref": "IngestCompositeDataStatus"
        },
        "pairDataIngestionStatus": {
          "$ref": "IngestPairDataStatus",
          "description": "The status of the pair data ingestion to the destination."
        },
        "ppidDataIngestionStatus": {
          "description": "The status of the ppid data ingestion to the destination.",
          "$ref": "IngestPpidDataStatus"
        },
        "googleUserIdDataIngestionStatus": {
          "description": "The status of the google user id data ingestion to the destination.",
          "$ref": "IngestGoogleUserIdDataStatus"
        }
      },
      "description": "The status of the ingest audience members request.",
      "id": "IngestAudienceMembersStatus",
      "type": "object"
    },
    "ItemCustomVariable": {
      "id": "ItemCustomVariable",
      "type": "object",
      "description": "Item-level custom variable for ads conversions.",
      "properties": {
        "variable": {
          "type": "string",
          "description": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored."
        },
        "destinationReferences": {
          "type": "array",
          "description": "Optional. Reference string used to determine which of the Event.destination_references the custom variable should be sent to. If empty, the Event.destination_references will be used.",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "type": "string",
          "description": "Optional. The value to store for the custom variable."
        }
      }
    },
    "MobileIdInfo": {
      "description": "Additional information when `MOBILE_ID` is one of the `upload_key_types`.",
      "id": "MobileIdInfo",
      "type": "object",
      "properties": {
        "appId": {
          "description": "Required. Immutable. A string that uniquely identifies a mobile application from which the data was collected.",
          "type": "string"
        },
        "dataSourceType": {
          "description": "Optional. Immutable. Source of the upload data.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ]
        },
        "keySpace": {
          "enum": [
            "KEY_SPACE_UNSPECIFIED",
            "IOS",
            "ANDROID"
          ],
          "description": "Required. Immutable. The key space of mobile IDs.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The iOS keyspace.",
            "The Android keyspace."
          ]
        }
      }
    },
    "ContactIdInfo": {
      "description": "Additional information when `CONTACT_ID` is one of the `upload_key_types`.",
      "id": "ContactIdInfo",
      "properties": {
        "matchRatePercentage": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Match rate for customer match user lists.",
          "format": "int32"
        },
        "dataSourceType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "description": "Optional. Immutable. Source of the upload data",
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ]
        }
      },
      "type": "object"
    },
    "RemoveMobileDataStatus": {
      "type": "object",
      "description": "The status of the mobile data removal from the destination.",
      "properties": {
        "mobileIdCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of mobile Ids sent in the removal request. Includes all mobile ids in the request, regardless of whether they were successfully removed or not."
        },
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "RemoveMobileDataStatus"
    },
    "ErrorInfo": {
      "description": "Error counts for each type of error.",
      "properties": {
        "errorCounts": {
          "items": {
            "$ref": "ErrorCount"
          },
          "type": "array",
          "description": "A list of errors and counts per error reason. May not be populated in all cases."
        }
      },
      "id": "ErrorInfo",
      "type": "object"
    },
    "ExperimentalField": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Optional. The value the field to set.",
          "type": "string"
        },
        "field": {
          "type": "string",
          "description": "Optional. The name of the field to use."
        }
      },
      "id": "ExperimentalField",
      "description": "Experimental field representing unofficial fields."
    },
    "UserListGlobalLicense": {
      "id": "UserListGlobalLicense",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the user list global license.",
          "type": "string"
        },
        "userListDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the user list being licensed. This field is read-only."
        },
        "licenseType": {
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ],
          "type": "string",
          "description": "Immutable. Product type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ]
        },
        "pricing": {
          "description": "Optional. UserListGlobalLicense pricing.",
          "$ref": "UserListLicensePricing"
        },
        "userListId": {
          "type": "string",
          "format": "int64",
          "description": "Immutable. ID of the user list being licensed."
        },
        "status": {
          "type": "string",
          "description": "Optional. Status of UserListGlobalLicense - ENABLED or DISABLED.",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ]
        },
        "historicalPricings": {
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "description": "Output only. Pricing history of this user list license. This field is read-only.",
          "readOnly": true,
          "type": "array"
        },
        "metrics": {
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListGlobalLicenses call",
          "$ref": "UserListLicenseMetrics",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A user list global license. This feature is only available to data partners."
    },
    "IngestPairDataStatus": {
      "description": "The status of the pair data ingestion to the destination containing stats related to the ingestion.",
      "id": "IngestPairDataStatus",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
        },
        "pairIdCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of pair ids sent in the upload request for the destination. Includes all pair ids in the request, regardless of whether they were successfully ingested or not."
        }
      },
      "type": "object"
    },
    "MobileData": {
      "properties": {
        "mobileIds": {
          "description": "Required. The list of mobile device IDs (Android advertising ID, iOS IDFA for Customer Match user lists and Android advertising ID, iOS IDFA, Xbox or Microsoft ID, Amazon Fire TV ID, Roku ID, Generic Device ID for basic user lists). At most 10 `mobileIds` can be provided in a single AudienceMember.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Mobile IDs for the audience. At least one mobile ID is required.",
      "id": "MobileData"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "CartData": {
      "id": "CartData",
      "type": "object",
      "properties": {
        "merchantFeedLanguageCode": {
          "description": "Optional. The language code in ISO 639-1 associated with the Merchant Center feed of the items.where your items are uploaded.",
          "type": "string"
        },
        "merchantFeedLabel": {
          "description": "Optional. The Merchant Center feed label associated with the feed of the items.",
          "type": "string"
        },
        "transactionDiscount": {
          "description": "Optional. The sum of all discounts associated with the transaction.",
          "format": "double",
          "type": "number"
        },
        "merchantId": {
          "description": "Optional. The Merchant Center ID associated with the items.",
          "type": "string"
        },
        "couponCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of coupon codes that were applied to the cart. Cart-level and item-level coupon codes are independent. If the event is for a Google Analytics destination, only provide a single coupon code. Google Analytics ignores additional coupon codes."
        },
        "items": {
          "items": {
            "$ref": "Item"
          },
          "type": "array",
          "description": "Optional. The list of items associated with the event."
        }
      },
      "description": "The cart data associated with the event."
    },
    "RemovePairDataStatus": {
      "type": "object",
      "description": "The status of the pair data removal from the destination.",
      "id": "RemovePairDataStatus",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        },
        "pairIdCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of pair ids sent in the removal request. Includes all pair ids in the request, regardless of whether they were successfully removed or not."
        }
      }
    },
    "PairIdInfo": {
      "id": "PairIdInfo",
      "properties": {
        "cleanRoomIdentifier": {
          "type": "string",
          "description": "Required. Immutable. Identifies a unique advertiser to publisher relationship with one clean room provider or across multiple clean room providers."
        },
        "advertiserIdentifierCount": {
          "description": "Optional. The count of the advertiser's first party data records that have been uploaded to a clean room provider. This does not signify the size of a PAIR user list.",
          "format": "int64",
          "type": "string"
        },
        "publisherName": {
          "description": "Required. Descriptive name of the publisher to be displayed in the UI for a better targeting experience.",
          "type": "string"
        },
        "publisherId": {
          "type": "string",
          "description": "Required. Immutable. Identifies the publisher that the Publisher Advertiser Identity Reconciliation user list is reconciled with. This field is provided by the cleanroom provider and is only unique in the scope of that cleanroom. This cannot be used as a global identifier across multiple cleanrooms.",
          "format": "int64"
        },
        "matchRatePercentage": {
          "format": "int32",
          "type": "integer",
          "description": "Required. This field denotes the percentage of membership match of this user list with the corresponding publisher's first party data. Must be between 0 and 100 inclusive."
        }
      },
      "description": "Additional information when `PAIR_ID` is one of the `upload_key_types`. This feature is only available to data partners.",
      "type": "object"
    },
    "Consent": {
      "description": "[Digital Markets Act (DMA)](//digital-markets-act.ec.europa.eu/index_en) consent settings for the user.",
      "id": "Consent",
      "type": "object",
      "properties": {
        "adPersonalization": {
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "type": "string",
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ],
          "description": "Optional. Represents if the user consents to ad personalization."
        },
        "adUserData": {
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ],
          "type": "string",
          "description": "Optional. Represents if the user consents to ad user data."
        }
      }
    },
    "CustomVariable": {
      "type": "object",
      "id": "CustomVariable",
      "properties": {
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Reference string used to determine which of the Event.destination_references the custom variable should be sent to. If empty, the Event.destination_references will be used."
        },
        "value": {
          "type": "string",
          "description": "Optional. The value to store for the custom variable."
        },
        "variable": {
          "description": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored.",
          "type": "string"
        }
      },
      "description": "Custom variable for ads conversions."
    },
    "RemoveAudienceMembersResponse": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The auto-generated ID of the request."
        }
      },
      "type": "object",
      "id": "RemoveAudienceMembersResponse",
      "description": "Response from the RemoveAudienceMembersRequest."
    },
    "Location": {
      "id": "Location",
      "properties": {
        "regionCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of ISO 3166-1 alpha-2 region codes."
        }
      },
      "description": "The baseline location of the request. Baseline location is on OR-list of ISO 3166-1 alpha-2 region codes of the requested regions.",
      "type": "object"
    },
    "RemoveAudienceMembersStatus": {
      "type": "object",
      "description": "The status of the remove audience members request.",
      "properties": {
        "partnerProvidedIdDataRemovalStatus": {
          "description": "The status of the partner provided id data removal from the destination.",
          "$ref": "RemovePartnerProvidedIdDataStatus"
        },
        "googleUserIdDataRemovalStatus": {
          "$ref": "RemoveGoogleUserIdDataStatus",
          "description": "The status of the google user id data removal from the destination."
        },
        "userIdDataRemovalStatus": {
          "description": "The status of the user id data removal from the destination.",
          "$ref": "RemoveUserIdDataStatus"
        },
        "pairDataRemovalStatus": {
          "description": "The status of the pair data removal from the destination.",
          "$ref": "RemovePairDataStatus"
        },
        "ppidDataRemovalStatus": {
          "description": "The status of the ppid data removal from the destination.",
          "$ref": "RemovePpidDataStatus"
        },
        "userDataRemovalStatus": {
          "description": "The status of the user data removal from the destination.",
          "$ref": "RemoveUserDataStatus"
        },
        "compositeDataRemovalStatus": {
          "description": "The status of the composite data removal from the destination.",
          "$ref": "RemoveCompositeDataStatus"
        },
        "mobileDataRemovalStatus": {
          "$ref": "RemoveMobileDataStatus",
          "description": "The status of the mobile data removal from the destination."
        }
      },
      "id": "RemoveAudienceMembersStatus"
    },
    "IngestAdEventsResponse": {
      "id": "IngestAdEventsResponse",
      "type": "object",
      "properties": {},
      "description": "Response from an ad event ingestion operation."
    },
    "SearchPartnerLinksResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "partnerLinks": {
          "items": {
            "$ref": "PartnerLink"
          },
          "type": "array",
          "description": "The partner links for the given account."
        }
      },
      "id": "SearchPartnerLinksResponse",
      "type": "object",
      "description": "Response from the SearchPartnerLinksRequest."
    },
    "ViewabilityInfo": {
      "properties": {
        "playbackDuration": {
          "format": "google-duration",
          "description": "Optional. The duration of playback of the ad media, regardless of whether it was viewable or not.",
          "type": "string"
        },
        "mediaSkippable": {
          "description": "Optional. Whether the ad media was skippable or not.",
          "type": "boolean"
        },
        "mediaQuartile": {
          "type": "string",
          "enum": [
            "MEDIA_QUARTILE_UNSPECIFIED",
            "MEDIA_QUARTILE_START",
            "MEDIA_QUARTILE_FIRST_QUARTILE",
            "MEDIA_QUARTILE_MIDPOINT",
            "MEDIA_QUARTILE_THIRD_QUARTILE",
            "MEDIA_QUARTILE_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified media quartile.",
            "Start.",
            "First quartile.",
            "Midpoint.",
            "Third quartile.",
            "Complete."
          ],
          "description": "Optional. The amount of the media that was played as discrete quartiles."
        },
        "viewType": {
          "enum": [
            "VIEW_TYPE_UNSPECIFIED",
            "VIEW_TYPE_MRC_VIEWED",
            "VIEW_TYPE_MRC_RENDERED"
          ],
          "description": "Required. The type of the event.",
          "enumDescriptions": [
            "Unspecified view type.",
            "MRC viewed.",
            "MRC rendered."
          ],
          "type": "string"
        },
        "mediaDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The duration of the ad media."
        },
        "mediaVolumePercent": {
          "type": "integer",
          "description": "Optional. The numerical percent (0-100) of the volume of the media playback.",
          "format": "int32"
        },
        "viewableDuration": {
          "type": "string",
          "description": "Optional. The amount of time the ad was viewable for.",
          "format": "google-duration"
        },
        "viewablePercent": {
          "format": "int32",
          "description": "Optional. The numerical percent (0-100) of the pixels that were viewable.",
          "type": "integer"
        }
      },
      "description": "Details of the viewability of the ad served.",
      "type": "object",
      "id": "ViewabilityInfo"
    },
    "IpData": {
      "type": "object",
      "properties": {
        "observeStartTime": {
          "type": "string",
          "description": "Optional. First recorded interaction time from this IP address in a session.",
          "format": "google-datetime"
        },
        "ipAddress": {
          "description": "Required. IP address captured at the time of customer interaction. Accepts standard string formats for both IPv4 and IPv6.",
          "type": "string"
        },
        "observeEndTime": {
          "format": "google-datetime",
          "description": "Optional. Last recorded interaction time from this IP address in a session.",
          "type": "string"
        }
      },
      "id": "IpData",
      "description": "IP address information for a user. We recommend including observe_start_time and observe_end_time to help improve Customer Match match rates."
    },
    "SizeInfo": {
      "description": "Estimated number of members in this user list in different target networks.",
      "properties": {
        "gmailMembersCount": {
          "readOnly": true,
          "description": "Output only. Estimated number of members in this user list on Gmail.",
          "format": "int64",
          "type": "string"
        },
        "searchNetworkMembersCount": {
          "format": "int64",
          "description": "Output only. Estimated number of members in this user list in the google.com domain. These are the members available for targeting in Search campaigns.",
          "readOnly": true,
          "type": "string"
        },
        "displayNetworkMembersCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Estimated number of members in this user list, on the Google Display Network."
        },
        "youtubeMembersCount": {
          "description": "Output only. Estimated number of members in this user list on YouTube.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      },
      "type": "object",
      "id": "SizeInfo"
    },
    "ListUserListsResponse": {
      "type": "object",
      "description": "Response message for ListUserLists.",
      "id": "ListUserListsResponse",
      "properties": {
        "userLists": {
          "type": "array",
          "items": {
            "$ref": "UserList"
          },
          "description": "The user lists from the specified account."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "Destination": {
      "description": "The Google product you're sending data to. For example, a Google Ads account.",
      "type": "object",
      "properties": {
        "operatingAccount": {
          "description": "Required. The account to send the data to or remove the data from.",
          "$ref": "ProductAccount"
        },
        "productDestinationId": {
          "type": "string",
          "description": "Optional. The object within the product account to ingest into. For example, a Google Ads audience ID, a Display & Video 360 audience ID or a Google Ads conversion action ID. This field is optional for Google Ad Manager event ingestion and User ingestion. Required for all other use cases."
        },
        "loginAccount": {
          "description": "Optional. The account used to make this API call. To add or remove data from the `operating_account`, this `login_account` must have write access to the `operating_account`. For example, a manager account of the `operating_account`, or an account with an established link to the `operating_account`.",
          "$ref": "ProductAccount"
        },
        "linkedAccount": {
          "$ref": "ProductAccount",
          "description": "Optional. An account that the calling user's `login_account` has access to, through an established account link. For example, a data partner's `login_account` might have access to a client's `linked_account`. The partner might use this field to send data from the `linked_account` to another `operating_account`."
        },
        "reference": {
          "description": "Optional. ID for this `Destination` resource, unique within the request. Use to reference this `Destination` in the IngestEventsRequest and IngestAudienceMembersRequest.",
          "type": "string"
        }
      },
      "id": "Destination"
    },
    "PartnerCustomerAccount": {
      "type": "object",
      "id": "PartnerCustomerAccount",
      "properties": {
        "accountName": {
          "description": "Optional. The name of the account.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Required. The identifier of the customer account in the partner's ID space."
        },
        "accountType": {
          "type": "string",
          "description": "Optional. The type of the account. Can be used to distinguish between advertiser accounts and business level accounts, for example."
        }
      },
      "description": "Represents a customer account in the partner's system."
    },
    "UserListLicensePricing": {
      "description": "A user list license pricing.",
      "type": "object",
      "properties": {
        "costType": {
          "description": "Immutable. The cost type of this pricing. Can be set only in the `create` operation. Can't be updated for an existing license.",
          "type": "string",
          "enum": [
            "USER_LIST_PRICING_COST_TYPE_UNSPECIFIED",
            "CPC",
            "CPM",
            "MEDIA_SHARE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Cost per click.",
            "Cost per mille (thousand impressions).",
            "Media share."
          ]
        },
        "costMicros": {
          "description": "Optional. The cost associated with the model, in micro units (10^-6), in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`.",
          "type": "string",
          "format": "int64"
        },
        "maxCostMicros": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The maximum CPM a commerce audience can be charged when the MEDIA_SHARE cost type is used. The value is in micro units (10^-6) and in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`. This is only relevant when cost_type is MEDIA_SHARE. When cost_type is not MEDIA_SHARE, and this field is set, a MAX_COST_NOT_ALLOWED error will be returned. If not set or set to`0`, there is no cap."
        },
        "pricingId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of this pricing.",
          "format": "int64"
        },
        "pricingActive": {
          "description": "Output only. Whether this pricing is active.",
          "type": "boolean",
          "readOnly": true
        },
        "buyerApprovalState": {
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "User list client has not yet accepted the pricing terms set by the user list owner.",
            "User list client has accepted the pricing terms set by the user list owner.",
            "User list client has rejected the pricing terms set by the user list owner."
          ],
          "description": "Output only. The buyer approval state of this pricing. This field is read-only.",
          "readOnly": true,
          "enum": [
            "USER_LIST_PRICING_BUYER_APPROVAL_STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED"
          ]
        },
        "endTime": {
          "type": "string",
          "description": "Optional. End time of the pricing.",
          "format": "google-datetime"
        },
        "currencyCode": {
          "type": "string",
          "description": "Optional. The currency in which cost and max_cost is specified. Must be a three-letter currency code defined in ISO 4217."
        },
        "startTime": {
          "description": "Output only. Start time of the pricing.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "UserListLicensePricing"
    },
    "RemoveAllAudienceMembersRequest": {
      "properties": {
        "destinations": {
          "type": "array",
          "description": "Required. The list of destinations to remove the users from.",
          "items": {
            "$ref": "Destination"
          }
        },
        "removeAsOfTime": {
          "description": "Optional. The remove as of time. If set, only audience members last added before this time will be removed. If not set, it defaults to current time. The remove as of time must not be in the future.",
          "type": "string",
          "format": "google-datetime"
        },
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Request to remove all users from an audience in the provided destinations. Returns a RemoveAllAudienceMembersResponse.",
      "id": "RemoveAllAudienceMembersRequest"
    },
    "RemoveAudienceMembersRequest": {
      "id": "RemoveAudienceMembersRequest",
      "type": "object",
      "description": "Request to remove users from an audience in the provided destinations. Returns a RemoveAudienceMembersResponse.",
      "properties": {
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "destinations": {
          "items": {
            "$ref": "Destination"
          },
          "type": "array",
          "description": "Required. The list of destinations to remove the users from."
        },
        "encoding": {
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. Applies to only the outer encoding for encrypted user identifiers. For non `UserData` uploads, this field is ignored.",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ]
        },
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        },
        "audienceMembers": {
          "type": "array",
          "items": {
            "$ref": "AudienceMember"
          },
          "description": "Required. The list of users to remove."
        }
      }
    },
    "AdIdentifiers": {
      "properties": {
        "wbraid": {
          "description": "Optional. The click identifier for clicks associated with web events and originating from iOS devices starting with iOS14.",
          "type": "string"
        },
        "mobileDeviceId": {
          "type": "string",
          "description": "Optional. The mobile identifier for advertisers. This would be IDFA on iOS, AdID on Android, or other platforms’ identifiers for advertisers."
        },
        "sessionAttributes": {
          "description": "Optional. Session attributes for event attribution and modeling.",
          "type": "string"
        },
        "gbraid": {
          "description": "Optional. The click identifier for clicks associated with app events and originating from iOS devices starting with iOS14.",
          "type": "string"
        },
        "gclid": {
          "type": "string",
          "description": "Optional. The Google click ID (gclid) associated with this event."
        },
        "impressionId": {
          "type": "string",
          "description": "Optional. The impression ID associated with this event."
        },
        "dclid": {
          "description": "Optional. The display click ID associated with this event.",
          "type": "string"
        },
        "landingPageDeviceInfo": {
          "description": "Optional. Information gathered about the device being used (if any) at the time of landing onto the advertiser’s site after interacting with the ad.",
          "$ref": "DeviceInfo"
        },
        "matchId": {
          "type": "string",
          "description": "Optional. The match ID field used to join this event with a previous event."
        },
        "encryptedUserIds": {
          "type": "array",
          "description": "Optional. Any number of encrypted user IDs.",
          "items": {
            "$ref": "EncryptedUserId"
          }
        }
      },
      "description": "Identifiers and other information used to match the conversion event with other online activity (such as ad clicks).",
      "type": "object",
      "id": "AdIdentifiers"
    },
    "AddressInfo": {
      "description": "Address information for the user.",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "Required. The 2-letter region code in ISO-3166-1 alpha-2 of the user's address.",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "Required. The postal code of the user's address."
        },
        "city": {
          "description": "Optional. The city of the user's address. Used only for Google Analytics. The value should be normalized as such: - Remove symbol characters - Convert to lowercase - Remove leading and trailing whitespace",
          "type": "string"
        },
        "addressLine": {
          "type": "string",
          "description": "Optional. The street and number of the user's address. Used only for Google Analytics. This field is hashed and possibly encrypted. Normalize the value before hashing: - Remove symbol characters - Convert to lowercase - Remove leading and trailing whitespace"
        },
        "givenName": {
          "description": "Required. Given (first) name of the user, all lowercase, with no punctuation, no leading or trailing whitespace, and hashed as SHA-256.",
          "type": "string"
        },
        "familyName": {
          "description": "Required. Family (last) name of the user, all lowercase, with no punctuation, no leading or trailing whitespace, and hashed as SHA-256.",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. The administrative area (state/province) of the user's address. Used only for Google Analytics. The value should be normalized as such: - Remove symbol characters - Convert to lowercase - Remove leading and trailing whitespace",
          "type": "string"
        }
      },
      "id": "AddressInfo"
    },
    "IngestedUserListInfo": {
      "id": "IngestedUserListInfo",
      "description": "Represents a user list that is populated by user provided data.",
      "properties": {
        "userIdInfo": {
          "$ref": "UserIdInfo",
          "description": "Optional. Additional information when `USER_ID` is one of the `upload_key_types`."
        },
        "contactIdInfo": {
          "$ref": "ContactIdInfo",
          "description": "Optional. Additional information when `CONTACT_ID` is one of the `upload_key_types`."
        },
        "partnerAudienceInfo": {
          "$ref": "PartnerAudienceInfo",
          "description": "Optional. Additional information for partner audiences. This feature is only available to data partners."
        },
        "uploadKeyTypes": {
          "type": "array",
          "items": {
            "enum": [
              "UPLOAD_KEY_TYPE_UNSPECIFIED",
              "CONTACT_ID",
              "MOBILE_ID",
              "USER_ID",
              "PAIR_ID",
              "PSEUDONYMOUS_ID"
            ],
            "enumDescriptions": [
              "Not specified.",
              "Customer info such as email address, phone number or physical address.",
              "Mobile advertising ids.",
              "Third party provided user ids.",
              "Publisher advertiser identity reconciliation ids.",
              "Data Management Platform IDs: - Google User ID - Partner Provided ID - Publisher Provided ID - iOS IDFA - Android advertising ID - Roku ID - Amazon Fire TV ID - Xbox or Microsoft ID - Generic Device ID"
            ],
            "type": "string"
          },
          "description": "Required. Immutable. Upload key types of this user list."
        },
        "pseudonymousIdInfo": {
          "description": "Optional. Additional information for `PSEUDONYMOUS_ID` is one of the `upload_key_types`.",
          "$ref": "PseudonymousIdInfo"
        },
        "pairIdInfo": {
          "description": "Optional. Additional information when `PAIR_ID` is one of the `upload_key_types`. This feature is only available to data partners.",
          "$ref": "PairIdInfo"
        },
        "mobileIdInfo": {
          "description": "Optional. Additional information when `MOBILE_ID` is one of the `upload_key_types`.",
          "$ref": "MobileIdInfo"
        }
      },
      "type": "object"
    },
    "RemoveAllAudienceMembersStatus": {
      "id": "RemoveAllAudienceMembersStatus",
      "description": "The status of the remove all audience members request.",
      "properties": {},
      "type": "object"
    },
    "UserListDirectLicense": {
      "description": "A user list direct license. This feature is only available to data partners.",
      "id": "UserListDirectLicense",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the user list direct license.",
          "type": "string"
        },
        "clientAccountType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ],
          "description": "Immutable. Account type of client customer which the user list is being licensed to.",
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ]
        },
        "pricing": {
          "$ref": "UserListLicensePricing",
          "description": "Optional. UserListDirectLicense pricing."
        },
        "userListDisplayName": {
          "readOnly": true,
          "description": "Output only. Name of the user list being licensed. This field is read-only.",
          "type": "string"
        },
        "status": {
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "type": "string",
          "description": "Optional. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ]
        },
        "clientAccountDisplayName": {
          "description": "Output only. Name of client customer which the user list is being licensed to. This field is read-only.",
          "readOnly": true,
          "type": "string"
        },
        "historicalPricings": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Pricing history of this user list license. This field is read-only.",
          "items": {
            "$ref": "UserListLicensePricing"
          }
        },
        "userListId": {
          "format": "int64",
          "description": "Immutable. ID of the user list being licensed.",
          "type": "string"
        },
        "clientAccountId": {
          "type": "string",
          "format": "int64",
          "description": "Immutable. ID of client customer which the user list is being licensed to."
        },
        "metrics": {
          "readOnly": true,
          "$ref": "UserListLicenseMetrics",
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListDirectLicenses call"
        }
      }
    },
    "PartnerProvidedIdData": {
      "id": "PartnerProvidedIdData",
      "properties": {
        "partnerProvidedIds": {
          "description": "Required. The list of partner-provided identifiers.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Partner-provided data holding the partner-provided identifiers. At least one partner-provided identifier is required.",
      "type": "object"
    },
    "PseudonymousIdInfo": {
      "type": "object",
      "properties": {
        "syncStatus": {
          "enumDescriptions": [
            "Not specified.",
            "The user list has been created as a placeholder. List contents and/or metadata are still being synced. The user list is not ready for use.",
            "The user list is ready for use. Contents and cookies have been synced correctly.",
            "An error has occurred syncing user list contents and/or metadata. The user list cannot be used."
          ],
          "readOnly": true,
          "enum": [
            "SYNC_STATUS_UNSPECIFIED",
            "CREATED",
            "READY_FOR_USE",
            "FAILED"
          ],
          "description": "Output only. Sync status of the user list.",
          "type": "string"
        },
        "billableRecordCount": {
          "type": "string",
          "description": "Optional. Immutable. The number of billable records (e.g. uploaded or matched).",
          "format": "int64"
        }
      },
      "description": "Additional information when `PSEUDONYMOUS_ID` is one of the `upload_key_types`.",
      "id": "PseudonymousIdInfo"
    },
    "PartnerAudienceInfo": {
      "type": "object",
      "description": "Additional information for partner audiences. This feature is only available to data partners.",
      "id": "PartnerAudienceInfo",
      "properties": {
        "commercePartner": {
          "type": "string",
          "description": "Optional. The commerce partner name. Only allowed if `partner_audience_source` is `COMMERCE_AUDIENCE`."
        },
        "partnerAudienceSource": {
          "enum": [
            "PARTNER_AUDIENCE_SOURCE_UNSPECIFIED",
            "COMMERCE_AUDIENCE",
            "LINEAR_TV_AUDIENCE",
            "AGENCY_PROVIDER_AUDIENCE"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Partner Audience source is commerce audience.",
            "Partner Audience source is linear TV audience.",
            "Partner Audience source is agency/provider audience."
          ],
          "description": "Required. Immutable. The source of the partner audience.",
          "type": "string"
        }
      }
[...]
