{
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://dataflow.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://dataflow.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://dataflow.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://dataflow.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://dataflow.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://dataflow.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://dataflow.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://dataflow.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://dataflow.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://dataflow.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://dataflow.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://dataflow.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://dataflow.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://dataflow.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://dataflow.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://dataflow.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://dataflow.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://dataflow.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://dataflow.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://dataflow.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://dataflow.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://dataflow.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://dataflow.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://dataflow.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://dataflow.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://dataflow.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://dataflow.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "endpointUrl": "https://dataflow.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://dataflow.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://dataflow.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://dataflow.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://dataflow.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://dataflow.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://dataflow.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://dataflow.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://dataflow.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://dataflow.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "protocol": "rest",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/dataflow",
  "servicePath": "",
  "version": "v1b3",
  "schemas": {
    "BoundedTrie": {
      "id": "BoundedTrie",
      "description": "The message type used for encoding metrics of type bounded trie.",
      "properties": {
        "root": {
          "description": "A compact representation of all the elements in this trie.",
          "$ref": "BoundedTrieNode"
        },
        "singleton": {
          "type": "array",
          "description": "A more efficient representation for metrics consisting of a single value.",
          "items": {
            "type": "string"
          }
        },
        "bound": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of elements to store before truncation."
        }
      },
      "type": "object"
    },
    "DataSamplingConfig": {
      "id": "DataSamplingConfig",
      "properties": {
        "behaviors": {
          "items": {
            "enumDescriptions": [
              "If given, has no effect on sampling behavior. Used as an unknown or unset sentinel value.",
              "When given, disables element sampling. Has same behavior as not setting the behavior.",
              "When given, enables sampling in-flight from all PCollections.",
              "When given, enables sampling input elements when a user-defined DoFn causes an exception."
            ],
            "enum": [
              "DATA_SAMPLING_BEHAVIOR_UNSPECIFIED",
              "DISABLED",
              "ALWAYS_ON",
              "EXCEPTIONS"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "List of given sampling behaviors to enable. For example, specifying behaviors = [ALWAYS_ON] samples in-flight elements but does not sample exceptions. Can be used to specify multiple behaviors like, behaviors = [ALWAYS_ON, EXCEPTIONS] for specifying periodic sampling and exception sampling. If DISABLED is in the list, then sampling will be disabled and ignore the other given behaviors. Ordering does not matter."
        }
      },
      "description": "Configuration options for sampling elements.",
      "type": "object"
    },
    "Parameter": {
      "type": "object",
      "id": "Parameter",
      "description": "Structured data associated with this message.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key or name for this parameter."
        },
        "value": {
          "description": "Value for this parameter.",
          "type": "any"
        }
      }
    },
    "DataflowHistogramValue": {
      "id": "DataflowHistogramValue",
      "type": "object",
      "properties": {
        "outlierStats": {
          "description": "Statistics on the values recorded in the histogram that fall out of the bucket boundaries.",
          "$ref": "OutlierStats"
        },
        "count": {
          "description": "Number of values recorded in this histogram.",
          "type": "string",
          "format": "int64"
        },
        "bucketCounts": {
          "description": "Optional. The number of values in each bucket of the histogram, as described in `bucket_options`. `bucket_counts` should contain N values, where N is the number of buckets specified in `bucket_options`. If `bucket_counts` has fewer than N values, the remaining values are assumed to be 0.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "bucketOptions": {
          "description": "Describes the bucket boundaries used in the histogram.",
          "$ref": "BucketOptions"
        }
      },
      "description": "Summary statistics for a population of values. HistogramValue contains a sequence of buckets and gives a count of values that fall into each bucket. Bucket boundares are defined by a formula and bucket widths are either fixed or exponentially increasing."
    },
    "PipelineDescription": {
      "description": "A descriptive representation of submitted pipeline as well as the executed form. This data is provided by the Dataflow service for ease of visualizing the pipeline and interpreting Dataflow provided metrics.",
      "properties": {
        "originalPipelineTransform": {
          "description": "Description of each transform in the pipeline and collections between them.",
          "type": "array",
          "items": {
            "$ref": "TransformSummary"
          }
        },
        "stepNamesHash": {
          "type": "string",
          "description": "A hash value of the submitted pipeline portable graph step names if exists."
        },
        "displayData": {
          "items": {
            "$ref": "DisplayData"
          },
          "description": "Pipeline level display data.",
          "type": "array"
        },
        "executionPipelineStage": {
          "type": "array",
          "items": {
            "$ref": "ExecutionStageSummary"
          },
          "description": "Description of each stage of execution of the pipeline."
        }
      },
      "id": "PipelineDescription",
      "type": "object"
    },
    "IntegerList": {
      "properties": {
        "elements": {
          "items": {
            "$ref": "SplitInt64"
          },
          "description": "Elements of the list.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A metric value representing a list of integers.",
      "id": "IntegerList"
    },
    "GetWorkerStacktracesResponse": {
      "type": "object",
      "id": "GetWorkerStacktracesResponse",
      "properties": {
        "sdks": {
          "description": "Repeated as unified worker may have multiple SDK processes.",
          "items": {
            "$ref": "Sdk"
          },
          "type": "array"
        }
      },
      "description": "Response to get worker stacktraces from debug capture."
    },
    "PerStepNamespaceMetrics": {
      "id": "PerStepNamespaceMetrics",
      "description": "Metrics for a particular unfused step and namespace. A metric is uniquely identified by the `metrics_namespace`, `original_step`, `metric name` and `metric_labels`.",
      "type": "object",
      "properties": {
        "originalStep": {
          "type": "string",
          "description": "The original system name of the unfused step that these metrics are reported from."
        },
        "metricsNamespace": {
          "type": "string",
          "description": "The namespace of these metrics on the worker."
        },
        "metricValues": {
          "description": "Optional. Metrics that are recorded for this namespace and unfused step.",
          "items": {
            "$ref": "MetricValue"
          },
          "type": "array"
        }
      }
    },
    "SnapshotJobRequest": {
      "description": "Request to create a snapshot of a job.",
      "type": "object",
      "id": "SnapshotJobRequest",
      "properties": {
        "ttl": {
          "type": "string",
          "description": "TTL for the snapshot.",
          "format": "google-duration"
        },
        "location": {
          "type": "string",
          "description": "The location that contains this job."
        },
        "description": {
          "description": "User specified description of the snapshot. Maybe empty.",
          "type": "string"
        },
        "snapshotSources": {
          "type": "boolean",
          "description": "If true, perform snapshots for sources which support this."
        }
      }
    },
    "DistributionUpdate": {
      "description": "A metric value representing a distribution.",
      "id": "DistributionUpdate",
      "properties": {
        "sum": {
          "description": "Use an int64 since we'd prefer the added precision. If overflow is a common problem we can detect it and use an additional int64 or a double.",
          "$ref": "SplitInt64"
        },
        "sumOfSquares": {
          "format": "double",
          "description": "Use a double since the sum of squares is likely to overflow int64.",
          "type": "number"
        },
        "max": {
          "description": "The maximum value present in the distribution.",
          "$ref": "SplitInt64"
        },
        "min": {
          "$ref": "SplitInt64",
          "description": "The minimum value present in the distribution."
        },
        "histogram": {
          "description": "(Optional) Histogram of value counts for the distribution.",
          "$ref": "Histogram"
        },
        "count": {
          "$ref": "SplitInt64",
          "description": "The count of the number of elements present in the distribution."
        }
      },
      "type": "object"
    },
    "WorkerMessageCode": {
      "description": "A message code is used to report status and error messages to the service. The message codes are intended to be machine readable. The service will take care of translating these into user understandable messages if necessary. Example use cases: 1. Worker processes reporting successful startup. 2. Worker processes reporting specific errors (e.g. package staging failure).",
      "type": "object",
      "id": "WorkerMessageCode",
      "properties": {
        "code": {
          "type": "string",
          "description": "The code is a string intended for consumption by a machine that identifies the type of message being sent. Examples: 1. \"HARNESS_STARTED\" might be used to indicate the worker harness has started. 2. \"GCS_DOWNLOAD_ERROR\" might be used to indicate an error downloading a Cloud Storage file as part of the boot process of one of the worker containers. This is a string and not an enum to make it easy to add new codes without waiting for an API change."
        },
        "parameters": {
          "description": "Parameters contains specific information about the code. This is a struct to allow parameters of different types. Examples: 1. For a \"HARNESS_STARTED\" message parameters might provide the name of the worker and additional data like timing information. 2. For a \"GCS_DOWNLOAD_ERROR\" parameters might contain fields listing the Cloud Storage objects being downloaded and fields containing errors. In general complex data structures should be avoided. If a worker needs to send a specific and complicated data structure then please consider defining a new proto and adding it to the data oneof in WorkerMessageResponse. Conventions: Parameters should only be used for information that isn't typically passed as a label. hostname and other worker identifiers should almost always be passed as labels since they will be included on most messages.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "StageSource": {
      "type": "object",
      "id": "StageSource",
      "properties": {
        "originalTransformOrCollection": {
          "description": "User name for the original user transform or collection with which this source is most closely associated.",
          "type": "string"
        },
        "sizeBytes": {
          "description": "Size of the source, if measurable.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this source."
        },
        "userName": {
          "description": "Human-readable name for this source; may be user or system generated.",
          "type": "string"
        }
      },
      "description": "Description of an input or output of an execution stage."
    },
    "FailedLocation": {
      "id": "FailedLocation",
      "type": "object",
      "description": "Indicates which [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) failed to respond to a request for data.",
      "properties": {
        "name": {
          "description": "The name of the [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond.",
          "type": "string"
        }
      }
    },
    "BucketOptions": {
      "id": "BucketOptions",
      "description": "`BucketOptions` describes the bucket boundaries used in the histogram.",
      "properties": {
        "linear": {
          "$ref": "Linear",
          "description": "Bucket boundaries grow linearly."
        },
        "exponential": {
          "$ref": "Base2Exponent",
          "description": "Bucket boundaries grow exponentially."
        }
      },
      "type": "object"
    },
    "ParDoInstruction": {
      "id": "ParDoInstruction",
      "properties": {
        "sideInputs": {
          "type": "array",
          "description": "Zero or more side inputs.",
          "items": {
            "$ref": "SideInputInfo"
          }
        },
        "multiOutputInfos": {
          "type": "array",
          "description": "Information about each of the outputs, if user_fn is a MultiDoFn.",
          "items": {
            "$ref": "MultiOutputInfo"
          }
        },
        "numOutputs": {
          "type": "integer",
          "description": "The number of outputs.",
          "format": "int32"
        },
        "input": {
          "$ref": "InstructionInput",
          "description": "The input."
        },
        "userFn": {
          "description": "The user function to invoke.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "description": "An instruction that does a ParDo operation. Takes one main input and zero or more side inputs, and produces zero or more outputs. Runs user code."
    },
    "JobMessage": {
      "description": "A particular message pertaining to a Dataflow job.",
      "properties": {
        "id": {
          "description": "Deprecated.",
          "type": "string"
        },
        "messageImportance": {
          "type": "string",
          "enumDescriptions": [
            "The message importance isn't specified, or is unknown.",
            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
          ],
          "description": "Importance level of the message.",
          "enum": [
            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
            "JOB_MESSAGE_DEBUG",
            "JOB_MESSAGE_DETAILED",
            "JOB_MESSAGE_BASIC",
            "JOB_MESSAGE_WARNING",
            "JOB_MESSAGE_ERROR"
          ]
        },
        "time": {
          "format": "google-datetime",
          "description": "The timestamp of the message.",
          "type": "string"
        },
        "messageText": {
          "type": "string",
          "description": "The text of the message."
        }
      },
      "id": "JobMessage",
      "type": "object"
    },
    "Position": {
      "type": "object",
      "description": "Position defines a position within a collection of data. The value can be either the end position, a key (used with ordered collections), a byte offset, or a record index.",
      "id": "Position",
      "properties": {
        "end": {
          "description": "Position is past all other positions. Also useful for the end position of an unbounded range.",
          "type": "boolean"
        },
        "key": {
          "type": "string",
          "description": "Position is a string key, ordered lexicographically."
        },
        "byteOffset": {
          "format": "int64",
          "type": "string",
          "description": "Position is a byte offset."
        },
        "recordIndex": {
          "format": "int64",
          "description": "Position is a record index.",
          "type": "string"
        },
        "concatPosition": {
          "$ref": "ConcatPosition",
          "description": "CloudPosition is a concat position."
        },
        "shufflePosition": {
          "type": "string",
          "description": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED sharding)."
        }
      }
    },
    "StreamingStageLocation": {
      "id": "StreamingStageLocation",
      "properties": {
        "streamId": {
          "description": "Identifies the particular stream within the streaming Dataflow job.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Identifies the location of a streaming computation stage, for stage-to-stage communication."
    },
    "StageExecutionDetails": {
      "id": "StageExecutionDetails",
      "description": "Information about the workers and work items within a stage.",
      "properties": {
        "workers": {
          "items": {
            "$ref": "WorkerDetails"
          },
          "type": "array",
          "description": "Workers that have done work on the stage."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value."
        }
      },
      "type": "object"
    },
    "ListConfigStoreSettingsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page.",
          "type": "string"
        },
        "configStoreSettings": {
          "description": "The list of ConfigStoreSettings.",
          "type": "array",
          "items": {
            "$ref": "ConfigStoreSetting"
          }
        }
      },
      "description": "Response message for ListConfigStoreSettings.",
      "id": "ListConfigStoreSettingsResponse"
    },
    "JobExecutionDetails": {
      "properties": {
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        },
        "stages": {
          "items": {
            "$ref": "StageSummary"
          },
          "type": "array",
          "description": "The stages of the job execution."
        }
      },
      "id": "JobExecutionDetails",
      "description": "Information about the execution of a job.",
      "type": "object"
    },
    "OutlierStats": {
      "id": "OutlierStats",
      "properties": {
        "overflowCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of values that are larger than the upper bound of the largest bucket."
        },
        "overflowMean": {
          "description": "Mean of values in the overflow bucket.",
          "type": "number",
          "format": "double"
        },
        "underflowCount": {
          "type": "string",
          "description": "Number of values that are smaller than the lower bound of the smallest bucket.",
          "format": "int64"
        },
        "underflowMean": {
          "format": "double",
          "type": "number",
          "description": "Mean of values in the undeflow bucket."
        }
      },
      "description": "Statistics for the underflow and overflow bucket.",
      "type": "object"
    },
    "WorkItemStatus": {
      "id": "WorkItemStatus",
      "description": "Conveys a worker's progress through the work described by a WorkItem.",
      "properties": {
        "completed": {
          "type": "boolean",
          "description": "True if the WorkItem was completed (successfully or unsuccessfully)."
        },
        "metricUpdates": {
          "description": "DEPRECATED in favor of counter_updates.",
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "MetricUpdate"
          }
        },
        "totalThrottlerWaitTimeSeconds": {
          "type": "number",
          "description": "Total time the worker spent being throttled by external systems.",
          "format": "double"
        },
        "reportIndex": {
          "type": "string",
          "description": "The report index. When a WorkItem is leased, the lease will contain an initial report index. When a WorkItem's status is reported to the system, the report should be sent with that report index, and the response will contain the index the worker should use for the next report. Reports received with unexpected index values will be rejected by the service. In order to preserve idempotency, the worker should not alter the contents of a report, even if the worker must submit the same report multiple times before getting back a response. The worker should not submit a subsequent report until the response for the previous report had been received from the service.",
          "format": "int64"
        },
        "errors": {
          "type": "array",
          "description": "Specifies errors which occurred during processing. If errors are provided, and completed = true, then the WorkItem is considered to have failed.",
          "items": {
            "$ref": "Status"
          }
        },
        "workItemId": {
          "description": "Identifies the WorkItem.",
          "type": "string"
        },
        "dynamicSourceSplit": {
          "description": "See documentation of stop_position.",
          "$ref": "DynamicSourceSplit"
        },
        "requestedLeaseDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Amount of time the worker requests for its lease."
        },
        "sourceFork": {
          "$ref": "SourceFork",
          "deprecated": true,
          "description": "DEPRECATED in favor of dynamic_source_split."
        },
        "reportedProgress": {
          "description": "The worker's progress through this WorkItem.",
          "$ref": "ApproximateReportedProgress"
        },
        "stopPosition": {
          "description": "A worker may split an active map task in two parts, \"primary\" and \"residual\", continuing to process the primary part and returning the residual part into the pool of available work. This event is called a \"dynamic split\" and is critical to the dynamic work rebalancing feature. The two obtained sub-tasks are called \"parts\" of the split. The parts, if concatenated, must represent the same input as would be read by the current task if the split did not happen. The exact way in which the original task is decomposed into the two parts is specified either as a position demarcating them (stop_position), or explicitly as two DerivedSources, if this task consumes a user-defined source type (dynamic_source_split). The \"current\" task is adjusted as a result of the split: after a task with range [A, B) sends a stop_position update at C, its range is considered to be [A, C), e.g.: * Progress should be interpreted relative to the new range, e.g. \"75% completed\" means \"75% of [A, C) completed\" * The worker should interpret proposed_stop_position relative to the new range, e.g. \"split at 68%\" should be interpreted as \"split at 68% of [A, C)\". * If the worker chooses to split again using stop_position, only stop_positions in [A, C) will be accepted. * Etc. dynamic_source_split has similar semantics: e.g., if a task with source S splits using dynamic_source_split into {P, R} (where P and R must be together equivalent to S), then subsequent progress and proposed_stop_position should be interpreted relative to P, and in a potential subsequent dynamic_source_split into {P', R'}, P' and R' must be together equivalent to P, etc.",
          "$ref": "Position"
        },
        "counterUpdates": {
          "type": "array",
          "items": {
            "$ref": "CounterUpdate"
          },
          "description": "Worker output counters for this WorkItem."
        },
        "sourceOperationResponse": {
          "$ref": "SourceOperationResponse",
          "description": "If the work item represented a SourceOperationRequest, and the work is completed, contains the result of the operation."
        },
        "progress": {
          "$ref": "ApproximateProgress",
          "deprecated": true,
          "description": "DEPRECATED in favor of reported_progress."
        }
      },
      "type": "object"
    },
    "PubsubSnapshotMetadata": {
      "id": "PubsubSnapshotMetadata",
      "properties": {
        "topicName": {
          "type": "string",
          "description": "The name of the Pubsub topic."
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "The expire time of the Pubsub snapshot.",
          "type": "string"
        },
        "snapshotName": {
          "type": "string",
          "description": "The name of the Pubsub snapshot."
        }
      },
      "description": "Represents a Pubsub snapshot.",
      "type": "object"
    },
    "KeyRangeDataDiskAssignment": {
      "properties": {
        "end": {
          "type": "string",
          "description": "The end (exclusive) of the key range."
        },
        "dataDisk": {
          "type": "string",
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\"."
        },
        "start": {
          "description": "The start (inclusive) of the key range.",
          "type": "string"
        }
      },
      "description": "Data disk assignment information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "id": "KeyRangeDataDiskAssignment",
      "type": "object"
    },
    "Environment": {
      "id": "Environment",
      "type": "object",
      "description": "Describes the environment in which a Dataflow Job runs.",
      "properties": {
        "flexResourceSchedulingGoal": {
          "description": "Optional. Which Flexible Resource Scheduling mode to run in.",
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ]
        },
        "version": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "A structure describing which components and their versions of the service are required in order to run the job."
        },
        "clusterManagerApiService": {
          "type": "string",
          "description": "The type of cluster manager API to use. If unknown or unspecified, the service will attempt to choose a reasonable default. This should be in the form of the API service name, e.g. \"compute.googleapis.com\"."
        },
        "sdkPipelineOptions": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The Cloud Dataflow SDK pipeline options specified by the user. These options are passed through the service and are used to recreate the SDK pipeline options on the worker in a language agnostic and platform independent way.",
          "type": "object"
        },
        "internalExperiments": {
          "type": "object",
          "description": "Experimental settings.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "workerRegion": {
          "description": "Optional. The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary storage. The system will append the suffix \"/temp-{JOBNAME} to this resource prefix, where {JOBNAME} is the value of the job_name field. The resulting bucket and object prefix is used as the prefix of the resources used to store temporary data needed during the job execution. NOTE: This will override the value in taskrunner_settings. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "debugOptions": {
          "$ref": "DebugOptions",
          "description": "Optional. Any debugging options to be supplied to the job."
        },
        "experiments": {
          "description": "The list of experiments to enable. This field should be used for SDK related experiments and not for service related experiments. The proper field for service related experiments is service_options.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "userAgent": {
          "type": "object",
          "description": "Optional. A description of the process that generated the request.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "dataset": {
          "type": "string",
          "description": "Optional. The dataset for the current project where various workflow related tables are stored. The supported resource type is: Google BigQuery: bigquery.googleapis.com/{dataset}"
        },
        "streamingMode": {
          "description": "Optional. Specifies the Streaming Engine message processing guarantees. Reduces cost and latency but might result in duplicate messages committed to storage. Designed to run simple mapping streaming ETL jobs at the lowest cost. For example, Change Data Capture (CDC) to BigQuery is a canonical use case. For more information, see [Set the pipeline streaming mode](https://cloud.google.com/dataflow/docs/guides/streaming-modes).",
          "type": "string",
          "enum": [
            "STREAMING_MODE_UNSPECIFIED",
            "STREAMING_MODE_EXACTLY_ONCE",
            "STREAMING_MODE_AT_LEAST_ONCE"
          ],
          "enumDescriptions": [
            "Run in the default mode.",
            "In this mode, message deduplication is performed against persistent state to make sure each message is processed and committed to storage exactly once.",
            "Message deduplication is not performed. Messages might be processed multiple times, and the results are applied multiple times. Note: Setting this value also enables Streaming Engine and Streaming Engine resource-based billing."
          ]
        },
        "workerZone": {
          "type": "string",
          "description": "Optional. The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity."
        },
        "serviceOptions": {
          "description": "Optional. The list of service options to enable. This field should be used for service related experiments only. These experiments, when graduating to GA, should be replaced by dedicated fields or become default (i.e. always on).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "usePublicIps": {
          "description": "Optional. True when any worker pool that uses public IPs is present.",
          "type": "boolean"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. Identity to run virtual machines as. Defaults to the default account."
        },
        "workerPools": {
          "type": "array",
          "description": "The worker pools. At least one \"harness\" worker pool must be specified in order for the job to have workers.",
          "items": {
            "$ref": "WorkerPool"
          }
        },
        "useStreamingEngineResourceBasedBilling": {
          "type": "boolean",
          "description": "Output only. Whether the job uses the Streaming Engine resource-based billing model.",
          "readOnly": true
        },
        "shuffleMode": {
          "enumDescriptions": [
            "Shuffle mode information is not available.",
            "Shuffle is done on the worker VMs.",
            "Shuffle is done on the service side."
          ],
          "enum": [
            "SHUFFLE_MODE_UNSPECIFIED",
            "VM_BASED",
            "SERVICE_BASED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The shuffle mode used for the job."
        },
        "serviceKmsKeyName": {
          "type": "string",
          "description": "Optional. If set, contains the Cloud KMS key identifier used to encrypt data at rest, AKA a Customer Managed Encryption Key (CMEK). Format: projects/PROJECT_ID/locations/LOCATION/keyRings/KEY_RING/cryptoKeys/KEY"
        }
      }
    },
    "MetricValue": {
      "type": "object",
      "properties": {
        "valueHistogram": {
          "$ref": "DataflowHistogramValue",
          "description": "Histogram value of this metric."
        },
        "valueGauge64": {
          "description": "Non-cumulative int64 value of this metric.",
          "$ref": "DataflowGaugeValue"
        },
        "metric": {
          "type": "string",
          "description": "Base name for this metric."
        },
        "metricLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of metric labels for this metric."
        },
        "valueInt64": {
          "type": "string",
          "format": "int64",
          "description": "Integer value of this metric."
        }
      },
      "id": "MetricValue",
      "description": "The value of a metric along with its name and labels."
    },
    "DynamicSourceSplit": {
      "properties": {
        "residual": {
          "$ref": "DerivedSource",
          "description": "Residual part (returned to the pool of work). Specified relative to the previously-current source."
        },
        "primary": {
          "description": "Primary part (continued to be processed by worker). Specified relative to the previously-current source. Becomes current.",
          "$ref": "DerivedSource"
        }
      },
      "type": "object",
      "description": "When a task splits using WorkItemStatus.dynamic_source_split, this message describes the two parts of the split relative to the description of the current task's input.",
      "id": "DynamicSourceSplit"
    },
    "Parameters": {
      "type": "object",
      "properties": {
        "latencyTarget": {
          "description": "Optional. The target latency for this schedule.",
          "type": "string"
        },
        "maxWorkerCount": {
          "description": "Optional. The maximum number of workers for this schedule.",
          "type": "integer",
          "format": "int32"
        },
        "cpuUtilizationTarget": {
          "description": "Optional. The target CPU utilization for this schedule.",
          "format": "double",
          "type": "number"
        },
        "minWorkerCount": {
          "format": "int32",
          "description": "Optional. The minimum number of workers for this schedule.",
          "type": "integer"
        }
      },
      "description": "The parameters to use for autoscaling when this schedule is active.",
      "id": "Parameters"
    },
    "SourceOperationRequest": {
      "type": "object",
      "description": "A work item that represents the different operations that can be performed on a user-defined Source specification.",
      "properties": {
        "name": {
          "description": "User-provided name of the Read instruction for this source.",
          "type": "string"
        },
        "getMetadata": {
          "description": "Information about a request to get metadata about a source.",
          "$ref": "SourceGetMetadataRequest"
        },
        "systemName": {
          "description": "System-defined name of the Read instruction for this source. Unique across the workflow.",
          "type": "string"
        },
        "stageName": {
          "description": "System-defined name of the stage containing the source operation. Unique across the workflow.",
          "type": "string"
        },
        "split": {
          "description": "Information about a request to split a source.",
          "$ref": "SourceSplitRequest"
        },
        "originalName": {
          "type": "string",
          "description": "System-defined name for the Read instruction for this source in the original workflow graph."
        }
      },
      "id": "SourceOperationRequest"
    },
    "SendDebugCaptureRequest": {
      "properties": {
        "workerId": {
          "description": "The worker id, i.e., VM hostname.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "The encoded debug information."
        },
        "dataFormat": {
          "type": "string",
          "description": "Format for the data field above (id=5).",
          "enumDescriptions": [
            "Format unspecified, parsing is determined based upon page type and legacy encoding. (go/protodosdonts#do-include-an-unspecified-value-in-an-enum)",
            "Raw HTML string.",
            "JSON-encoded string.",
            "Websafe encoded zlib-compressed string.",
            "Websafe encoded brotli-compressed string."
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "RAW",
            "JSON",
            "ZLIB",
            "BROTLI"
          ]
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
        },
        "componentId": {
          "description": "The internal component id for which debug information is sent.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request to send encoded debug information. Next ID: 8",
      "id": "SendDebugCaptureRequest"
    },
    "ShellTask": {
      "type": "object",
      "properties": {
        "command": {
          "description": "The shell command to run.",
          "type": "string"
        },
        "exitCode": {
          "format": "int32",
          "type": "integer",
          "description": "Exit code for the task."
        }
      },
      "id": "ShellTask",
      "description": "A task which consists of a shell command for the worker to execute."
    },
    "DataSamplingReport": {
      "properties": {
        "exceptionsSampledCount": {
          "description": "Optional. Delta of number of samples taken from user code exceptions from previous report.",
          "type": "string",
          "format": "int64"
        },
        "pcollectionsSampledCount": {
          "description": "Optional. Delta of number of PCollections sampled from previous report.",
          "type": "string",
          "format": "int64"
        },
        "translationErrorsCount": {
          "description": "Optional. Delta of errors counts from retrieving, or translating the samples from previous report.",
          "format": "int64",
          "type": "string"
        },
        "elementsSampledCount": {
          "description": "Optional. Delta of number of elements sampled from previous report.",
          "type": "string",
          "format": "int64"
        },
        "persistenceErrorsCount": {
          "type": "string",
          "description": "Optional. Delta of errors counts from persisting the samples from previous report.",
          "format": "int64"
        },
        "bytesWrittenDelta": {
          "format": "int64",
          "description": "Optional. Delta of bytes written to file from previous report.",
          "type": "string"
        },
        "elementsSampledBytes": {
          "description": "Optional. Delta of bytes sampled from previous report.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "DataSamplingReport",
      "description": "Contains per-worker telemetry about the data sampling feature.",
      "type": "object"
    },
    "GetDebugConfigResponse": {
      "type": "object",
      "properties": {
        "config": {
          "type": "string",
          "description": "The encoded debug configuration for the requested component."
        }
      },
      "id": "GetDebugConfigResponse",
      "description": "Response to a get debug configuration request."
    },
    "SdkBug": {
      "description": "A bug found in the Dataflow SDK.",
      "id": "SdkBug",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Output only. Link to more information on the bug.",
          "readOnly": true,
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOTICE",
            "WARNING",
            "SEVERE"
          ],
          "readOnly": true,
          "description": "Output only. How severe the SDK bug is.",
          "type": "string",
          "enumDescriptions": [
            "A bug of unknown severity.",
            "A minor bug that that may reduce reliability or performance for some jobs. Impact will be minimal or non-existent for most jobs.",
            "A bug that has some likelihood of causing performance degradation, data loss, or job failures.",
            "A bug with extremely significant impact. Jobs may fail erroneously, performance may be severely degraded, and data loss may be very likely."
          ]
        },
        "type": {
          "description": "Output only. Describes the impact of this SDK bug.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown issue with this SDK.",
            "Catch-all for SDK bugs that don't fit in the below categories.",
            "Using this version of the SDK may result in degraded performance.",
            "Using this version of the SDK may cause data loss."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GENERAL",
            "PERFORMANCE",
            "DATALOSS"
          ]
        }
      }
    },
    "WorkerMessage": {
      "properties": {
        "workerThreadScalingReport": {
          "$ref": "WorkerThreadScalingReport",
          "description": "Thread scaling information reported by workers."
        },
        "workerHealthReport": {
          "description": "The health of a worker.",
          "$ref": "WorkerHealthReport"
        },
        "streamingScalingReport": {
          "description": "Contains per-user worker telemetry used in streaming autoscaling.",
          "$ref": "StreamingScalingReport"
        },
        "perWorkerMetrics": {
          "$ref": "PerWorkerMetrics",
          "description": "System defined metrics for this worker."
        },
        "time": {
          "description": "The timestamp of the worker_message.",
          "format": "google-datetime",
          "type": "string"
        },
        "workerMetrics": {
          "$ref": "ResourceUtilizationReport",
          "description": "Resource metrics reported by workers."
        },
        "workerMessageCode": {
          "description": "A worker message code.",
          "$ref": "WorkerMessageCode"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels are used to group WorkerMessages. For example, a worker_message about a particular container might have the labels: { \"JOB_ID\": \"2015-04-22\", \"WORKER_ID\": \"wordcount-vm-2015…\" \"CONTAINER_TYPE\": \"worker\", \"CONTAINER_ID\": \"ac1234def\"} Label tags typically correspond to Label enum values. However, for ease of development other strings can be used as tags. LABEL_UNSPECIFIED should not be used here."
        },
        "workerShutdownNotice": {
          "$ref": "WorkerShutdownNotice",
          "description": "Shutdown notice by workers."
        },
        "dataSamplingReport": {
          "description": "Optional. Contains metrics related to go/dataflow-data-sampling-telemetry.",
          "$ref": "DataSamplingReport"
        },
        "workerLifecycleEvent": {
          "description": "Record of worker lifecycle events.",
          "$ref": "WorkerLifecycleEvent"
        }
      },
      "description": "WorkerMessage provides information to the backend about a worker.",
      "type": "object",
      "id": "WorkerMessage"
    },
    "FloatingPointList": {
      "properties": {
        "elements": {
          "description": "Elements of the list.",
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        }
      },
      "description": "A metric value representing a list of floating point numbers.",
      "id": "FloatingPointList",
      "type": "object"
    },
    "ProgressTimeseries": {
      "type": "object",
      "id": "ProgressTimeseries",
      "description": "Information about the progress of some component of job execution.",
      "properties": {
        "currentProgress": {
          "description": "The current progress of the component, in the range [0,1].",
          "type": "number",
          "format": "double"
        },
        "dataPoints": {
          "items": {
            "$ref": "Point"
          },
          "description": "History of progress for the component. Points are sorted by time.",
          "type": "array"
        }
      }
    },
    "Snapshot": {
      "description": "Represents a snapshot of a job.",
      "properties": {
        "diskSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "The disk byte size of the snapshot. Only available for snapshots in READY state."
        },
        "ttl": {
          "type": "string",
          "description": "The time after which this snapshot will be automatically deleted.",
          "format": "google-duration"
        },
        "creationTime": {
          "description": "The time this snapshot was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "sourceJobId": {
          "type": "string",
          "description": "The job this snapshot was created from."
        },
        "pubsubMetadata": {
          "type": "array",
          "description": "Pub/Sub snapshot metadata.",
          "items": {
            "$ref": "PubsubSnapshotMetadata"
          }
        },
        "projectId": {
          "type": "string",
          "description": "The project this snapshot belongs to."
        },
        "id": {
          "description": "The unique ID of this snapshot.",
          "type": "string"
        },
        "region": {
          "description": "Cloud region where this snapshot lives in, e.g., \"us-central1\".",
          "type": "string"
        },
        "state": {
          "enum": [
            "UNKNOWN_SNAPSHOT_STATE",
            "PENDING",
            "RUNNING",
            "READY",
            "FAILED",
            "DELETED"
          ],
          "enumDescriptions": [
            "Unknown state.",
            "Snapshot intent to create has been persisted, snapshotting of state has not yet started.",
            "Snapshotting is being performed.",
            "Snapshot has been created and is ready to be used.",
            "Snapshot failed to be created.",
            "Snapshot has been deleted."
          ],
          "description": "State of the snapshot.",
          "type": "string"
        },
        "description": {
          "description": "User specified description of the snapshot. Maybe empty.",
          "type": "string"
        }
      },
      "id": "Snapshot",
      "type": "object"
    },
    "DatastoreIODetails": {
      "properties": {
        "namespace": {
          "description": "Namespace used in the connection.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        }
      },
      "type": "object",
      "id": "DatastoreIODetails",
      "description": "Metadata for a Datastore connector used by the job."
    },
    "NameAndKind": {
      "id": "NameAndKind",
      "description": "Basic metadata about a counter.",
      "properties": {
        "name": {
          "description": "Name of the counter.",
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ],
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ],
          "type": "string",
          "description": "Counter aggregation kind."
        }
      },
      "type": "object"
    },
    "LaunchFlexTemplateParameter": {
      "description": "Launch FlexTemplate Parameter.",
      "id": "LaunchFlexTemplateParameter",
      "properties": {
        "update": {
          "description": "Set this to true if you are sending a request to update a running streaming job. When set, the job name should be the same as the running job.",
          "type": "boolean"
        },
        "containerSpec": {
          "$ref": "ContainerSpec",
          "description": "Spec about the container image to launch."
        },
        "environment": {
          "description": "The runtime environment for the FlexTemplate job",
          "$ref": "FlexTemplateRuntimeEnvironment"
        },
        "launchOptions": {
          "description": "Launch options for this flex template job. This is a common set of options across languages and templates. This should not be used to pass job parameters.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "containerSpecGcsPath": {
          "description": "Cloud Storage path to a file with json serialized ContainerSpec as content.",
          "type": "string"
        },
        "transformNameMappings": {
          "description": "Use this to pass transform_name_mappings for streaming update jobs. Ex:{\"oldTransformName\":\"newTransformName\",...}'",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "jobName": {
          "type": "string",
          "description": "Required. The job name to use for the created job. For update job request, job name should be same as the existing running job."
        },
        "parameters": {
          "description": "The parameters for FlexTemplate. Ex. {\"num_workers\":\"5\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "WorkerLifecycleEvent": {
      "properties": {
        "event": {
          "enumDescriptions": [
            "Invalid event.",
            "The time the VM started.",
            "Our container code starts running. Multiple containers could be distinguished with WorkerMessage.labels if desired.",
            "The worker has a functional external network connection.",
            "Started downloading staging files.",
            "Finished downloading all staging files.",
            "For applicable SDKs, started installation of SDK and worker packages.",
            "Finished installing SDK."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_EVENT",
            "OS_START",
            "CONTAINER_START",
            "NETWORK_UP",
            "STAGING_FILES_DOWNLOAD_START",
            "STAGING_FILES_DOWNLOAD_FINISH",
            "SDK_INSTALL_START",
            "SDK_INSTALL_FINISH"
          ],
          "description": "The event being reported."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Other stats that can accompany an event. E.g. { \"downloaded_bytes\" : \"123456\" }",
          "type": "object"
        },
        "containerStartTime": {
          "type": "string",
          "description": "The start time of this container. All events will report this so that events can be grouped together across container/VM restarts.",
          "format": "google-datetime"
        }
      },
      "description": "A report of an event in a worker's lifecycle. The proto contains one event, because the worker is expected to asynchronously send each message immediately after the event. Due to this asynchrony, messages may arrive out of order (or missing), and it is up to the consumer to interpret. The timestamp of the event is in the enclosing WorkerMessage proto.",
      "type": "object",
      "id": "WorkerLifecycleEvent"
    },
    "BigQueryIODetails": {
      "description": "Metadata for a BigQuery connector used by the job.",
      "id": "BigQueryIODetails",
      "type": "object",
      "properties": {
        "table": {
          "description": "Table accessed in the connection.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "Query used to access data in the connection."
        },
        "projectId": {
          "description": "Project accessed in the connection.",
          "type": "string"
        },
        "dataset": {
          "type": "string",
          "description": "Dataset accessed in the connection."
        }
      }
    },
    "RuntimeMetadata": {
      "description": "RuntimeMetadata describing a runtime environment.",
      "id": "RuntimeMetadata",
      "properties": {
        "sdkInfo": {
          "$ref": "SDKInfo",
          "description": "SDK Info for the template."
        },
        "parameters": {
          "description": "The parameters for the template.",
          "items": {
            "$ref": "ParameterMetadata"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AutoscalingSettings": {
      "description": "Settings for WorkerPool autoscaling.",
      "properties": {
        "algorithm": {
          "description": "The algorithm to use for autoscaling.",
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ],
          "type": "string"
        },
        "maxNumWorkers": {
          "type": "integer",
          "description": "The maximum number of workers to cap scaling at.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "AutoscalingSettings"
    },
    "SendDebugCaptureResponse": {
      "id": "SendDebugCaptureResponse",
      "properties": {},
      "type": "object",
      "description": "Response to a send capture request. nothing"
    },
    "DataDiskAssignment": {
      "id": "DataDiskAssignment",
      "description": "Data disk assignment for a given VM instance.",
      "type": "object",
      "properties": {
        "vmInstance": {
          "description": "VM instance name the data disks mounted to, for example \"myproject-1014-104817-4c2-harness-0\".",
          "type": "string"
        },
        "dataDisks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Mounted data disks. The order is important a data disk's 0-based index in this list defines which persistent directory the disk is mounted to, for example the list of { \"myproject-1014-104817-4c2-harness-0-disk-0\" }, { \"myproject-1014-104817-4c2-harness-0-disk-1\" }."
        }
      }
    },
    "LaunchTemplateResponse": {
      "id": "LaunchTemplateResponse",
      "properties": {
        "job": {
          "$ref": "Job",
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched."
        }
      },
      "type": "object",
      "description": "Response to the request to launch a template."
    },
    "ResolveConfigStoreSettingRequest": {
      "id": "ResolveConfigStoreSettingRequest",
      "description": "Request message for ResolveConfigStoreSetting.",
      "properties": {},
      "type": "object"
    },
    "Sink": {
      "id": "Sink",
      "properties": {
        "spec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The sink to write to, plus its parameters."
        },
        "codec": {
          "type": "object",
          "description": "The codec to use to encode data written to the sink.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "description": "A sink that records can be encoded and written to."
    },
    "DebugOptions": {
      "type": "object",
      "id": "DebugOptions",
      "properties": {
        "dataSampling": {
          "description": "Configuration options for sampling elements from a running pipeline.",
          "$ref": "DataSamplingConfig"
        },
        "enableHotKeyLogging": {
          "description": "Optional. When true, enables the logging of the literal hot key to the user's Cloud Logging.",
          "type": "boolean"
        }
      },
      "description": "Describes any options that have an effect on the debugging of pipelines."
    },
    "SourceGetMetadataRequest": {
      "description": "A request to compute the SourceMetadata of a Source.",
      "properties": {
        "source": {
          "description": "Specification of the source whose metadata should be computed.",
          "$ref": "Source"
        }
      },
      "type": "object",
      "id": "SourceGetMetadataRequest"
    },
    "GetWorkerStacktracesRequest": {
      "id": "GetWorkerStacktracesRequest",
      "description": "Request to get worker stacktraces from debug capture.",
      "properties": {
        "workerId": {
          "description": "The worker for which to get stacktraces. The returned stacktraces will be for the SDK harness running on this worker.",
          "type": "string"
        },
        "endTime": {
          "description": "The end time for the stacktrace query. The returned stacktraces will be a recent stack trace at or shortly before this time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "JobExecutionInfo": {
      "type": "object",
      "properties": {
        "stages": {
          "type": "object",
          "description": "A mapping from each stage to the information about that stage.",
          "additionalProperties": {
            "$ref": "JobExecutionStageInfo"
          }
        }
      },
      "id": "JobExecutionInfo",
      "description": "Additional information about how a Cloud Dataflow job will be executed that isn't contained in the submitted job."
    },
    "IntegerGauge": {
      "description": "A metric value representing temporal values of a variable.",
      "id": "IntegerGauge",
      "properties": {
        "timestamp": {
          "type": "string",
          "description": "The time at which this value was measured. Measured as msecs from epoch.",
          "format": "google-datetime"
        },
        "value": {
          "$ref": "SplitInt64",
          "description": "The value of the variable represented by this gauge."
        }
      },
      "type": "object"
    },
    "StreamingComputationConfig": {
      "properties": {
        "stageName": {
          "description": "Stage name of this computation.",
          "type": "string"
        },
        "computationId": {
          "description": "Unique identifier for this computation.",
          "type": "string"
        },
        "systemName": {
          "type": "string",
          "description": "System defined name for this computation."
        },
        "instructions": {
          "type": "array",
          "description": "Instructions that comprise the computation.",
          "items": {
            "$ref": "ParallelInstruction"
          }
        },
        "transformUserNameToStateFamily": {
          "description": "Map from user name of stateful transforms in this stage to their state family.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "Configuration information for a single streaming computation.",
      "id": "StreamingComputationConfig"
    },
    "ReadInstruction": {
      "id": "ReadInstruction",
      "properties": {
        "source": {
          "description": "The source to read from.",
          "$ref": "Source"
        }
      },
      "description": "An instruction that reads records. Takes no inputs, produces one output.",
      "type": "object"
    },
    "WorkItemServiceState": {
      "properties": {
        "reportStatusInterval": {
          "description": "New recommended reporting interval.",
          "type": "string",
          "format": "google-duration"
        },
        "hotKeyDetection": {
          "description": "A hot key is a symptom of poor data distribution in which there are enough elements mapped to a single key to impact pipeline performance. When present, this field includes metadata associated with any hot key.",
          "$ref": "HotKeyDetection"
        },
        "harnessData": {
          "type": "object",
          "description": "Other data returned by the service, specific to the particular worker harness.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "suggestedStopPoint": {
          "description": "DEPRECATED in favor of split_request.",
          "deprecated": true,
          "$ref": "ApproximateProgress"
        },
        "suggestedStopPosition": {
          "description": "Obsolete, always empty.",
          "$ref": "Position",
          "deprecated": true
        },
        "leaseExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which the current lease will expire."
        },
        "splitRequest": {
          "$ref": "ApproximateSplitRequest",
          "description": "The progress point in the WorkItem where the Dataflow service suggests that the worker truncate the task."
        },
        "metricShortId": {
          "items": {
            "$ref": "MetricShortId"
          },
          "type": "array",
          "description": "The short ids that workers should use in subsequent metric updates. Workers should strive to use short ids whenever possible, but it is ok to request the short_id again if a worker lost track of it (e.g. if the worker is recovering from a crash). NOTE: it is possible that the response may have short ids for a subset of the metrics."
        },
        "nextReportIndex": {
          "description": "The index value to use for the next report sent by the worker. Note: If the report call fails for whatever reason, the worker should reuse this index for subsequent report attempts.",
          "format": "int64",
          "type": "string"
        },
        "completeWorkStatus": {
          "$ref": "Status",
          "description": "If set, a request to complete the work item with the given status. This will not be set to OK, unless supported by the specific kind of WorkItem. It can be used for the backend to indicate a WorkItem must terminate, e.g., for aborting work."
        }
      },
      "description": "The Dataflow service's idea of the current state of a WorkItem being processed by a worker.",
      "id": "WorkItemServiceState",
      "type": "object"
    },
    "FlattenInstruction": {
      "id": "FlattenInstruction",
      "properties": {
        "inputs": {
          "description": "Describes the inputs to the flatten instruction.",
          "items": {
            "$ref": "InstructionInput"
          },
          "type": "array"
        }
      },
      "description": "An instruction that copies its inputs (zero or more) to its (single) output.",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object",
      "id": "Status"
    },
    "ReportWorkItemStatusResponse": {
      "type": "object",
      "id": "ReportWorkItemStatusResponse",
      "properties": {
        "workItemServiceStates": {
          "description": "A set of messages indicating the service-side state for each WorkItem whose status was reported, in the same order as the WorkItemStatus messages in the ReportWorkItemStatusRequest which resulting in this response.",
          "type": "array",
          "items": {
            "$ref": "WorkItemServiceState"
          }
        },
        "unifiedWorkerResponse": {
          "description": "Untranslated bag-of-bytes WorkProgressUpdateResponse for UnifiedWorker.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "description": "Response from a request to report the status of WorkItems."
    },
    "StringList": {
      "type": "object",
      "description": "A metric value representing a list of strings.",
      "properties": {
        "elements": {
          "items": {
            "type": "string"
          },
          "description": "Elements of the list.",
          "type": "array"
        }
      },
      "id": "StringList"
    },
    "ApproximateProgress": {
      "properties": {
        "remainingTime": {
          "description": "Obsolete.",
          "format": "google-duration",
          "type": "string",
          "deprecated": true
        },
        "percentComplete": {
          "format": "float",
          "description": "Obsolete.",
          "type": "number",
          "deprecated": true
        },
        "position": {
          "description": "Obsolete.",
          "deprecated": true,
          "$ref": "Position"
        }
      },
      "type": "object",
      "description": "Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest.",
      "id": "ApproximateProgress"
    },
    "StreamingStragglerInfo": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Start time of this straggler."
        },
        "systemWatermarkLag": {
          "format": "google-duration",
          "description": "The system watermark lag at the time of the straggler detection.",
          "type": "string"
        },
        "dataWatermarkLag": {
          "type": "string",
          "format": "google-duration",
          "description": "The event-time watermark lag at the time of the straggler detection."
        },
        "endTime": {
          "type": "string",
          "description": "End time of this straggler.",
          "format": "google-datetime"
        },
        "workerName": {
          "description": "Name of the worker where the straggler was detected.",
          "type": "string"
        }
      },
      "description": "Information useful for streaming straggler identification and debugging.",
      "id": "StreamingStragglerInfo",
      "type": "object"
    },
    "PerWorkerMetrics": {
      "properties": {
        "perStepNamespaceMetrics": {
          "items": {
            "$ref": "PerStepNamespaceMetrics"
          },
          "type": "array",
          "description": "Optional. Metrics for a particular unfused step and namespace."
        }
      },
      "type": "object",
      "description": "Per worker metrics.",
      "id": "PerWorkerMetrics"
    },
    "LaunchFlexTemplateResponse": {
      "id": "LaunchFlexTemplateResponse",
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      },
      "type": "object",
      "description": "Response to the request to launch a job from Flex Template."
    },
    "GPUUtilization": {
      "properties": {
        "rate": {
          "format": "double",
          "description": "Required. GPU utilization rate of any kernel over the last sample period in the range of [0, 1].",
          "type": "number"
        }
      },
      "description": "Utilization details about the GPU.",
      "id": "GPUUtilization",
      "type": "object"
    },
    "SeqMapTask": {
      "properties": {
        "outputInfos": {
          "items": {
            "$ref": "SeqMapTaskOutputInfo"
          },
          "type": "array",
          "description": "Information about each of the outputs."
        },
        "stageName": {
          "type": "string",
          "description": "System-defined name of the stage containing the SeqDo operation. Unique across the workflow."
        },
        "systemName": {
          "description": "System-defined name of the SeqDo operation. Unique across the workflow.",
          "type": "string"
        },
        "name": {
          "description": "The user-provided name of the SeqDo operation.",
          "type": "string"
        },
        "inputs": {
          "type": "array",
          "description": "Information about each of the inputs.",
          "items": {
            "$ref": "SideInputInfo"
          }
        },
        "userFn": {
          "description": "The user function to invoke.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "description": "Describes a particular function to invoke.",
      "type": "object",
      "id": "SeqMapTask"
    },
    "Package": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the package.",
          "type": "string"
        },
        "sha256": {
          "description": "Optional. The hex-encoded SHA256 checksum of the package. If the checksum is provided, the worker will verify the checksum of the package before using it. If the checksum does not match, the worker will fail to start.",
          "type": "string"
        },
        "location": {
          "description": "The resource to read the package from. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket} bucket.storage.googleapis.com/",
          "type": "string"
        }
      },
      "description": "The packages that must be installed in order for a worker to run the steps of the Cloud Dataflow job that will be assigned to its worker pool. This is the mechanism by which the Cloud Dataflow SDK causes code to be loaded onto the workers. For example, the Cloud Dataflow Java SDK might use this to install jars containing the user's code and all of the various dependencies (libraries, data files, etc.) required in order for that code to run.",
      "id": "Package"
    },
    "Base2Exponent": {
      "id": "Base2Exponent",
      "type": "object",
      "properties": {
        "numberOfBuckets": {
          "type": "integer",
          "description": "Must be greater than 0.",
          "format": "int32"
        },
        "scale": {
          "description": "Must be between -3 and 3. This forces the growth factor of the bucket boundaries to be between `2^(1/8)` and `256`.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Exponential buckets where the growth factor between buckets is `2**(2**-scale)`. e.g. for `scale=1` growth factor is `2**(2**(-1))=sqrt(2)`. `n` buckets will have the following boundaries. - 0th: [0, gf) - i in [1, n-1]: [gf^(i), gf^(i+1))"
    },
    "InstructionOutput": {
      "properties": {
        "originalName": {
          "type": "string",
          "description": "System-defined name for this output in the original workflow graph. Outputs that do not contribute to an original instruction do not set this."
        },
        "name": {
          "type": "string",
          "description": "The user-provided name of this output."
        },
        "codec": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The codec to use to encode data being written via this output."
        },
        "onlyCountValueBytes": {
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the value size.",
          "type": "boolean"
        },
        "onlyCountKeyBytes": {
          "type": "boolean",
          "description": "For system-generated byte and mean byte metrics, certain instructions should only report the key size."
        },
        "systemName": {
          "description": "System-defined name of this output. Unique across the workflow.",
          "type": "string"
        }
      },
      "id": "InstructionOutput",
      "type": "object",
      "description": "An output of an instruction."
    },
    "GetTemplateResponse": {
      "type": "object",
      "id": "GetTemplateResponse",
      "properties": {
        "status": {
          "description": "The status of the get template request. Any problems with the request will be indicated in the error_details.",
          "$ref": "Status"
        },
        "runtimeMetadata": {
          "$ref": "RuntimeMetadata",
          "description": "Describes the runtime metadata with SDKInfo and available parameters."
        },
        "templateType": {
          "enum": [
            "UNKNOWN",
            "LEGACY",
            "FLEX"
          ],
          "description": "Template Type.",
          "enumDescriptions": [
            "Unknown Template Type.",
            "Legacy Template.",
            "Flex Template."
          ],
          "type": "string"
        },
        "metadata": {
          "$ref": "TemplateMetadata",
          "description": "The template metadata describing the template name, available parameters, etc."
        }
      },
      "description": "The response to a GetTemplate request."
    },
    "ConfigStoreSettingValue": {
      "type": "object",
      "id": "ConfigStoreSettingValue",
      "properties": {
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        }
      },
      "description": "Represents a dynamically typed value."
    },
    "CounterStructuredName": {
      "type": "object",
      "id": "CounterStructuredName",
      "properties": {
        "executionStepName": {
          "type": "string",
          "description": "Name of the stage. An execution step contains multiple component steps."
        },
        "originalStepName": {
          "type": "string",
          "description": "System generated name of the original step in the user's graph, before optimization."
        },
        "origin": {
          "type": "string",
          "description": "One of the standard Origins defined above.",
          "enumDescriptions": [
            "Counter was created by the Dataflow system.",
            "Counter was created by the user."
          ],
          "enum": [
            "SYSTEM",
            "USER"
          ]
        },
        "workerId": {
          "type": "string",
          "description": "ID of a particular worker."
        },
        "originalRequestingStepName": {
          "description": "The step name requesting an operation, such as GBK. I.e. the ParDo causing a read/write from shuffle to occur, or a read from side inputs.",
          "type": "string"
        },
        "originNamespace": {
          "description": "A string containing a more specific namespace of the counter's origin.",
          "type": "string"
        },
        "name": {
          "description": "Counter name. Not necessarily globally-unique, but unique within the context of the other fields. Required.",
          "type": "string"
        },
        "componentStepName": {
          "description": "Name of the optimized step being executed by the workers.",
          "type": "string"
        },
        "inputIndex": {
          "type": "integer",
          "format": "int32",
          "description": "Index of an input collection that's being read from/written to as a side input. The index identifies a step's side inputs starting by 1 (e.g. the first side input has input_index 1, the third has input_index 3). Side inputs are identified by a pair of (original_step_name, input_index). This field helps uniquely identify them."
        },
        "portion": {
          "enum": [
            "ALL",
            "KEY",
            "VALUE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Counter portion has not been set.",
            "Counter reports a key.",
            "Counter reports a value."
          ],
          "description": "Portion of this counter, either key or value."
        }
      },
      "description": "Identifies a counter within a per-job namespace. Counters whose structured names are the same get merged into a single value for the job."
    },
    "ComputationTopology": {
      "id": "ComputationTopology",
      "type": "object",
      "description": "All configuration data for a particular Computation.",
      "properties": {
        "inputs": {
          "type": "array",
          "items": {
            "$ref": "StreamLocation"
          },
          "description": "The inputs to the computation."
        },
        "stateFamilies": {
          "type": "array",
          "items": {
            "$ref": "StateFamilyConfig"
          },
          "description": "The state family values."
        },
        "systemStageName": {
          "type": "string",
          "description": "The system stage name."
        },
        "outputs": {
          "items": {
            "$ref": "StreamLocation"
          },
          "type": "array",
          "description": "The outputs from the computation."
        },
        "keyRanges": {
          "description": "The key ranges processed by the computation.",
          "type": "array",
          "items": {
            "$ref": "KeyRangeLocation"
          }
        },
        "computationId": {
          "description": "The ID of the computation.",
          "type": "string"
        }
      }
    },
    "CustomSourceLocation": {
      "id": "CustomSourceLocation",
      "description": "Identifies the location of a custom souce.",
      "type": "object",
      "properties": {
        "stateful": {
          "description": "Whether this source is stateful.",
          "type": "boolean"
        }
      }
    },
    "WorkerHealthReport": {
      "properties": {
        "vmStartupTime": {
          "description": "The time the VM was booted.",
          "type": "string",
          "format": "google-datetime"
        },
        "reportInterval": {
          "format": "google-duration",
          "description": "The interval at which the worker is sending health reports. The default value of 0 should be interpreted as the field is not being explicitly set by the worker.",
          "type": "string"
        },
        "vmIsBroken": {
          "type": "boolean",
          "description": "Whether the VM is in a permanently broken state. Broken VMs should be abandoned or deleted ASAP to avoid assigning or completing any work."
        },
        "pods": {
          "description": "The pods running on the worker. See: http://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html#_v1_pod This field is used by the worker to send the status of the indvidual containers running on each worker.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          }
        },
        "vmBrokenCode": {
          "type": "string",
          "description": "Code to describe a specific reason, if known, that a VM has reported broken state."
        },
        "vmIsHealthy": {
          "description": "Whether the VM is currently healthy.",
          "type": "boolean"
        },
        "msg": {
          "type": "string",
          "description": "Message describing any unusual health reports."
        }
      },
      "type": "object",
      "id": "WorkerHealthReport",
      "description": "WorkerHealthReport contains information about the health of a worker. The VM should be identified by the labels attached to the WorkerMessage that this health ping belongs to."
    },
    "LeaseWorkItemResponse": {
      "properties": {
        "workItems": {
          "items": {
            "$ref": "WorkItem"
          },
          "description": "A list of the leased WorkItems.",
          "type": "array"
        },
        "unifiedWorkerResponse": {
          "type": "object",
          "description": "Untranslated bag-of-bytes WorkResponse for UnifiedWorker.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "description": "Response to a request to lease WorkItems.",
      "id": "LeaseWorkItemResponse",
      "type": "object"
    },
    "SdkVersion": {
      "type": "object",
      "id": "SdkVersion",
      "properties": {
        "version": {
          "description": "The version of the SDK used to run the job.",
          "type": "string"
        },
        "bugs": {
          "description": "Output only. Known bugs found in this SDK version.",
          "items": {
            "$ref": "SdkBug"
          },
          "type": "array",
          "readOnly": true
        },
        "versionDisplayName": {
          "type": "string",
          "description": "A readable string describing the version of the SDK."
        },
        "sdkSupportStatus": {
          "type": "string",
          "enumDescriptions": [
            "Cloud Dataflow is unaware of this version.",
            "This is a known version of an SDK, and is supported.",
            "A newer version of the SDK family exists, and an update is recommended.",
            "This version of the SDK is deprecated and will eventually be unsupported.",
            "Support for this SDK version has ended and it should no longer be used."
          ],
          "enum": [
            "UNKNOWN",
            "SUPPORTED",
            "STALE",
            "DEPRECATED",
            "UNSUPPORTED"
          ],
          "description": "The support status for this SDK version."
        }
      },
      "description": "The version of the SDK used to run the job."
    },
    "LaunchFlexTemplateRequest": {
      "type": "object",
      "description": "A request to launch a Cloud Dataflow job from a FlexTemplate.",
      "properties": {
        "validateOnly": {
          "description": "If true, the request is validated but not actually executed. Defaults to false.",
          "type": "boolean"
        },
        "launchParameter": {
          "description": "Required. Parameter to launch a job form Flex Template.",
          "$ref": "LaunchFlexTemplateParameter"
        }
      },
      "id": "LaunchFlexTemplateRequest"
    },
    "WorkerThreadScalingReport": {
      "type": "object",
      "description": "Contains information about the thread scaling information of a worker.",
      "id": "WorkerThreadScalingReport",
      "properties": {
        "currentThreadCount": {
          "format": "int32",
          "description": "Current number of active threads in a worker.",
          "type": "integer"
        }
      }
    },
    "ComponentSource": {
      "description": "Description of an interstitial value between transforms in an execution stage.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        },
        "originalTransformOrCollection": {
          "type": "string",
          "description": "User name for the original user transform or collection with which this source is most closely associated."
        }
      },
      "id": "ComponentSource"
    },
    "WorkerDetails": {
      "description": "Information about a worker",
      "type": "object",
      "properties": {
        "workItems": {
          "description": "Work items processed by this worker, sorted by time.",
          "items": {
            "$ref": "WorkItemDetails"
          },
          "type": "array"
        },
        "workerName": {
          "description": "Name of this worker",
          "type": "string"
        }
      },
      "id": "WorkerDetails"
    },
    "SeqMapTaskOutputInfo": {
      "description": "Information about an output of a SeqMapTask.",
      "properties": {
        "tag": {
          "description": "The id of the TupleTag the user code will tag the output value by.",
          "type": "string"
        },
        "sink": {
          "description": "The sink to write the output value to.",
          "$ref": "Sink"
        }
      },
      "type": "object",
      "id": "SeqMapTaskOutputInfo"
    },
    "MemInfo": {
      "properties": {
        "currentRssBytes": {
          "type": "string",
          "description": "Instantenous memory (RSS) size in bytes.",
          "format": "uint64"
        },
        "totalGbMs": {
          "type": "string",
          "description": "Total memory (RSS) usage since start up in GB * ms.",
          "format": "uint64"
        },
        "currentOoms": {
          "type": "string",
          "format": "int64",
          "description": "Number of Out of Memory (OOM) events recorded since the previous measurement."
        },
        "currentLimitBytes": {
          "description": "Instantenous memory limit in bytes.",
          "type": "string",
          "format": "uint64"
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of the measurement."
        }
      },
      "description": "Information about the memory usage of a worker or a container within a worker.",
      "type": "object",
      "id": "MemInfo"
    },
    "CounterStructuredNameAndMetadata": {
      "id": "CounterStructuredNameAndMetadata",
      "type": "object",
      "properties": {
        "name": {
          "$ref": "CounterStructuredName",
          "description": "Structured name of the counter."
        },
        "metadata": {
          "$ref": "CounterMetadata",
          "description": "Metadata associated with a counter"
        }
      },
      "description": "A single message which encapsulates structured name and metadata for a given counter."
    },
    "SourceMetadata": {
      "properties": {
        "infinite": {
          "description": "Specifies that the size of this source is known to be infinite (this is a streaming source).",
          "type": "boolean"
        },
        "estimatedSizeBytes": {
[...]
