{
  "version": "v1",
  "ownerDomain": "google.com",
  "canonicalName": "Dataproc",
  "batchPath": "batch",
  "endpoints": [
    {
      "endpointUrl": "https://dataproc.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-west3.rep.googleapis.com/"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.asia-south2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    }
  ],
  "description": "Manages Hadoop-based clusters and jobs on Google Cloud Platform.",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://dataproc.mtls.googleapis.com/",
  "title": "Cloud Dataproc API",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "sessions": {
              "methods": {
                "terminate": {
                  "path": "v1/{+name}:terminate",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}:terminate",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "id": "dataproc.projects.locations.sessions.terminate",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the session resource to terminate.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Terminates the interactive session.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "TerminateSessionRequest"
                  }
                },
                "delete": {
                  "description": "Deletes the interactive session resource. If the session is not in terminal state, it is terminated, and then deleted.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the session resource to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. A unique ID used to identify the request. If the service receives two DeleteSessionRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.DeleteSessionRequest)s with the same ID, the second request is ignored.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The value must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "id": "dataproc.projects.locations.sessions.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}",
                  "path": "v1/{+name}"
                },
                "create": {
                  "request": {
                    "$ref": "Session"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create an interactive session asynchronously.",
                  "parameters": {
                    "sessionId": {
                      "type": "string",
                      "description": "Required. The ID to use for the session, which becomes the final component of the session's resource name.This value must be 4-63 characters. Valid characters are /a-z-/.",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. A unique ID used to identify the request. If the service receives two CreateSessionRequests (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.CreateSessionRequest)s with the same ID, the second request is ignored, and the first Session is created and stored in the backend.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The value must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource where this session will be created.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "id": "dataproc.projects.locations.sessions.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/sessions"
                },
                "get": {
                  "response": {
                    "$ref": "Session"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ],
                  "id": "dataproc.projects.locations.sessions.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the session to retrieve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$"
                    }
                  },
                  "description": "Gets the resource representation for an interactive session.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}"
                },
                "list": {
                  "description": "Lists interactive sessions.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListSessionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ],
                  "id": "dataproc.projects.locations.sessions.list",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of sessions to return in each response. The service may return fewer than this value.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token received from a previous ListSessions call. Provide this token to retrieve the subsequent page.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A filter for the sessions to return in the response.A filter is a logical expression constraining the values of various fields in each session resource. Filters are case sensitive, and may contain multiple clauses combined with logical operators (AND, OR). Supported fields are session_id, session_uuid, state, create_time, and labels.Example: state = ACTIVE and create_time < \"2023-01-01T00:00:00Z\" is a filter for sessions in an ACTIVE state that were created before 2023-01-01. state = ACTIVE and labels.environment=production is a filter for sessions in an ACTIVE state that have a production environment label.See https://google.aip.dev/assets/misc/ebnf-filtering.txt for a detailed description of the filter syntax and a list of supported comparators.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent, which owns this collection of sessions.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions",
                  "path": "v1/{+parent}/sessions"
                }
              },
              "resources": {
                "sparkApplications": {
                  "methods": {
                    "search": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications:search",
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/sparkApplications:search",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Obtain high level information and list of Spark Applications corresponding to a batch",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.search",
                      "response": {
                        "$ref": "SearchSessionSparkApplicationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameters": {
                        "applicationStatus": {
                          "description": "Optional. Search only applications in the chosen state.",
                          "type": "string",
                          "enum": [
                            "APPLICATION_STATUS_UNSPECIFIED",
                            "APPLICATION_STATUS_RUNNING",
                            "APPLICATION_STATUS_COMPLETED"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "",
                            "",
                            ""
                          ]
                        },
                        "maxTime": {
                          "description": "Optional. Latest start timestamp to list.",
                          "location": "query",
                          "type": "string",
                          "format": "google-datetime"
                        },
                        "maxEndTime": {
                          "format": "google-datetime",
                          "type": "string",
                          "description": "Optional. Latest end timestamp to list.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of applications to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$",
                          "type": "string"
                        },
                        "minTime": {
                          "description": "Optional. Earliest start timestamp to list.",
                          "location": "query",
                          "type": "string",
                          "format": "google-datetime"
                        },
                        "minEndTime": {
                          "description": "Optional. Earliest end timestamp to list.",
                          "location": "query",
                          "format": "google-datetime",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplications call. Provide this token to retrieve the subsequent page.",
                          "location": "query"
                        }
                      }
                    },
                    "searchSqlQueries": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchSqlQueries",
                      "httpMethod": "GET",
                      "path": "v1/{+name}:searchSqlQueries",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain data corresponding to SQL Queries for a Spark Application.",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchSqlQueries",
                      "response": {
                        "$ref": "SearchSessionSparkApplicationSqlQueriesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        },
                        "planDescription": {
                          "description": "Optional. Enables/ disables physical plan description on demand",
                          "location": "query",
                          "type": "boolean"
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of queries to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "operationIds": {
                          "type": "string",
                          "description": "Optional. List of Spark Connect operation IDs to filter by if provided.",
                          "location": "query",
                          "repeated": true
                        },
                        "details": {
                          "description": "Optional. Lists/ hides details of Spark plan nodes. True is set to list and false to hide.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationSqlQueries call. Provide this token to retrieve the subsequent page.",
                          "location": "query"
                        }
                      }
                    },
                    "accessSqlQuery": {
                      "path": "v1/{+name}:accessSqlQuery",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessSqlQuery",
                      "httpMethod": "GET",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessSqlQuery",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationSqlQueryResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "executionId": {
                          "format": "int64",
                          "type": "string",
                          "description": "Required. Execution ID",
                          "location": "query"
                        },
                        "details": {
                          "description": "Optional. Lists/ hides details of Spark plan nodes. True is set to list and false to hide.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        },
                        "planDescription": {
                          "description": "Optional. Enables/ disables physical plan description on demand",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain data corresponding to a particular SQL Query for a Spark Application."
                    },
                    "accessSqlPlan": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "required": true,
                          "location": "path"
                        },
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        },
                        "executionId": {
                          "description": "Required. Execution ID",
                          "location": "query",
                          "type": "string",
                          "format": "int64"
                        }
                      },
                      "response": {
                        "$ref": "AccessSessionSparkApplicationSqlSparkPlanGraphResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessSqlPlan",
                      "description": "Obtain Spark Plan Graph for a Spark Application SQL execution. Limits the number of clusters returned as part of the graph to 10000.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:accessSqlPlan",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessSqlPlan"
                    },
                    "searchExecutors": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchExecutors",
                      "path": "v1/{+name}:searchExecutors",
                      "description": "Obtain data corresponding to executors for a Spark Application.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "type": "string"
                        },
                        "executorStatus": {
                          "location": "query",
                          "enumDescriptions": [
                            "",
                            "",
                            ""
                          ],
                          "description": "Optional. Filter to select whether active/ dead or all executors should be selected.",
                          "type": "string",
                          "enum": [
                            "EXECUTOR_STATUS_UNSPECIFIED",
                            "EXECUTOR_STATUS_ACTIVE",
                            "EXECUTOR_STATUS_DEAD"
                          ]
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationExecutors call. Provide this token to retrieve the subsequent page.",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. Maximum number of executors to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "SearchSessionSparkApplicationExecutorsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchExecutors"
                    },
                    "accessStageRddGraph": {
                      "path": "v1/{+name}:accessStageRddGraph",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessStageRddGraph",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query"
                        },
                        "stageId": {
                          "description": "Required. Stage ID",
                          "location": "query",
                          "format": "int64",
                          "type": "string"
                        }
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessStageRddGraph",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationStageRddOperationGraphResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain RDD operation graph for a Spark Application Stage. Limits the number of clusters returned as part of the graph to 10000."
                    },
                    "access": {
                      "description": "Obtain high level information corresponding to a single Spark Application.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "AccessSessionSparkApplicationResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "id": "dataproc.projects.locations.sessions.sparkApplications.access",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:access",
                      "path": "v1/{+name}:access"
                    },
                    "searchStageAttempts": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain data corresponding to a spark stage attempts for a Spark Application.",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchStageAttempts",
                      "response": {
                        "$ref": "SearchSessionSparkApplicationStageAttemptsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameters": {
                        "summaryMetricsMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Optional. The list of summary metrics fields to include. Empty list will default to skip all summary metrics fields. Example, if the response should include TaskQuantileMetrics, the request should have task_quantile_metrics in summary_metrics_mask field",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Maximum number of stage attempts (paging based on stage_attempt_id) to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "stageId": {
                          "format": "int64",
                          "type": "string",
                          "description": "Required. Stage ID for which attempts are to be fetched",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationStageAttempts call. Provide this token to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchStageAttempts",
                      "httpMethod": "GET",
                      "path": "v1/{+name}:searchStageAttempts"
                    },
                    "accessNativeSqlQuery": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query"
                        },
                        "executionId": {
                          "description": "Required. Execution ID",
                          "location": "query",
                          "type": "string",
                          "format": "int64"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessNativeSqlQuery",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationNativeSqlQueryResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain data corresponding to a particular Native SQL Query for a Spark Application.",
                      "path": "v1/{+name}:accessNativeSqlQuery",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessNativeSqlQuery",
                      "httpMethod": "GET"
                    },
                    "accessJob": {
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessJob",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationJobResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "jobId": {
                          "description": "Required. Job ID to fetch data for.",
                          "location": "query",
                          "format": "int64",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain data corresponding to a spark job for a Spark Application.",
                      "path": "v1/{+name}:accessJob",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessJob",
                      "httpMethod": "GET"
                    },
                    "searchStages": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchStages",
                      "path": "v1/{+name}:searchStages",
                      "description": "Obtain data corresponding to stages for a Spark Application.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. Maximum number of stages (paging based on stage_id) to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "location": "query"
                        },
                        "summaryMetricsMask": {
                          "description": "Optional. The list of summary metrics fields to include. Empty list will default to skip all summary metrics fields. Example, if the response should include TaskQuantileMetrics, the request should have task_quantile_metrics in summary_metrics_mask field",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "stageIds": {
                          "format": "int64",
                          "type": "string",
                          "description": "Optional. List of Stage IDs to filter by if provided.",
                          "repeated": true,
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query"
                        },
                        "stageStatus": {
                          "description": "Optional. List only stages in the given state.",
                          "type": "string",
                          "enum": [
                            "STAGE_STATUS_UNSPECIFIED",
                            "STAGE_STATUS_ACTIVE",
                            "STAGE_STATUS_COMPLETE",
                            "STAGE_STATUS_FAILED",
                            "STAGE_STATUS_PENDING",
                            "STAGE_STATUS_SKIPPED"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            "",
                            "",
                            ""
                          ]
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationStages call. Provide this token to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "SearchSessionSparkApplicationStagesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchStages"
                    },
                    "accessEnvironmentInfo": {
                      "path": "v1/{+name}:accessEnvironmentInfo",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessEnvironmentInfo",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query"
                        }
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessEnvironmentInfo",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationEnvironmentInfoResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain environment details for a Spark Application"
                    },
                    "accessStageAttempt": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain data corresponding to a spark stage attempt for a Spark Application.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "type": "string"
                        },
                        "stageId": {
                          "description": "Required. Stage ID",
                          "location": "query",
                          "format": "int64",
                          "type": "string"
                        },
                        "stageAttemptId": {
                          "description": "Required. Stage Attempt ID",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "summaryMetricsMask": {
                          "description": "Optional. The list of summary metrics fields to include. Empty list will default to skip all summary metrics fields. Example, if the response should include TaskQuantileMetrics, the request should have task_quantile_metrics in summary_metrics_mask field",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessStageAttempt",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationStageAttemptResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessStageAttempt",
                      "httpMethod": "GET",
                      "path": "v1/{+name}:accessStageAttempt"
                    },
                    "summarizeExecutors": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:summarizeExecutors",
                      "path": "v1/{+name}:summarizeExecutors",
                      "description": "Obtain summary of Executor Summary for a Spark Application",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "required": true,
                          "location": "path"
                        },
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "SummarizeSessionSparkApplicationExecutorsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "id": "dataproc.projects.locations.sessions.sparkApplications.summarizeExecutors"
                    },
                    "summarizeStages": {
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "stageIds": {
                          "type": "string",
                          "format": "int64",
                          "description": "Optional. List of Stage IDs to filter by if provided.",
                          "repeated": true,
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "SummarizeSessionSparkApplicationStagesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "id": "dataproc.projects.locations.sessions.sparkApplications.summarizeStages",
                      "description": "Obtain summary of Stages for a Spark Application",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:summarizeStages",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:summarizeStages"
                    },
                    "searchStageAttemptTasks": {
                      "response": {
                        "$ref": "SearchSessionSparkApplicationStageAttemptTasksResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchStageAttemptTasks",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. Maximum number of tasks to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "location": "query"
                        },
                        "stageAttemptId": {
                          "description": "Optional. Stage Attempt ID",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query"
                        },
                        "sortRuntime": {
                          "type": "boolean",
                          "description": "Optional. Sort the tasks by runtime.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationStageAttemptTasks call. Provide this token to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "type": "string"
                        },
                        "stageId": {
                          "type": "string",
                          "format": "int64",
                          "description": "Optional. Stage ID",
                          "location": "query"
                        },
                        "taskStatus": {
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            "",
                            "",
                            ""
                          ],
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "TASK_STATUS_UNSPECIFIED",
                            "TASK_STATUS_RUNNING",
                            "TASK_STATUS_SUCCESS",
                            "TASK_STATUS_FAILED",
                            "TASK_STATUS_KILLED",
                            "TASK_STATUS_PENDING"
                          ],
                          "description": "Optional. List only tasks in the state."
                        }
                      },
                      "description": "Obtain data corresponding to tasks for a spark stage attempt for a Spark Application.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:searchStageAttemptTasks",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchStageAttemptTasks"
                    },
                    "summarizeStageAttemptTasks": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain summary of Tasks for a Spark Application Stage Attempt",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query"
                        },
                        "stageId": {
                          "description": "Required. Stage ID",
                          "location": "query",
                          "type": "string",
                          "format": "int64"
                        },
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\""
                        },
                        "stageAttemptId": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Required. Stage Attempt ID",
                          "location": "query"
                        }
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.summarizeStageAttemptTasks",
                      "response": {
                        "$ref": "SummarizeSessionSparkApplicationStageAttemptTasksResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:summarizeStageAttemptTasks",
                      "httpMethod": "GET",
                      "path": "v1/{+name}:summarizeStageAttemptTasks"
                    },
                    "summarizeJobs": {
                      "parameters": {
                        "jobIds": {
                          "description": "Optional. List of Job IDs to filter by if provided.",
                          "repeated": true,
                          "format": "int64",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "SummarizeSessionSparkApplicationJobsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "id": "dataproc.projects.locations.sessions.sparkApplications.summarizeJobs",
                      "description": "Obtain summary of Jobs for a Spark Application",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:summarizeJobs",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:summarizeJobs"
                    },
                    "write": {
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:write",
                      "path": "v1/{+name}:write",
                      "description": "Write wrapper objects from dataplane to spanner",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "WriteSessionSparkApplicationContextRequest"
                      },
                      "response": {
                        "$ref": "WriteSessionSparkApplicationContextResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc"
                      ],
                      "id": "dataproc.projects.locations.sessions.sparkApplications.write",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the spark application to write data about in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "searchExecutorStageSummary": {
                      "path": "v1/{+name}:searchExecutorStageSummary",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchExecutorStageSummary",
                      "parameters": {
                        "stageId": {
                          "description": "Required. Stage ID",
                          "location": "query",
                          "format": "int64",
                          "type": "string"
                        },
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\""
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationExecutorStageSummary call. Provide this token to retrieve the subsequent page.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        },
                        "stageAttemptId": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Required. Stage Attempt ID",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Maximum number of executors to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "SearchSessionSparkApplicationExecutorStageSummaryResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchExecutorStageSummary",
                      "description": "Obtain executor summary with respect to a spark stage attempt.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "searchNativeSqlQueries": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\""
                        },
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of queries to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationSqlQueries call. Provide this token to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "SearchSessionSparkApplicationNativeSqlQueriesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchNativeSqlQueries",
                      "description": "Obtain data corresponding to Native SQL Queries for a Spark Application.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:searchNativeSqlQueries",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchNativeSqlQueries"
                    },
                    "searchJobs": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain list of spark jobs corresponding to a Spark Application.",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Maximum number of jobs to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "location": "query"
                        },
                        "jobIds": {
                          "format": "int64",
                          "type": "string",
                          "description": "Optional. List of Job IDs to filter by if provided.",
                          "repeated": true,
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "type": "string"
                        },
                        "jobStatus": {
                          "description": "Optional. List only jobs in the specific state.",
                          "type": "string",
                          "enum": [
                            "JOB_EXECUTION_STATUS_UNSPECIFIED",
                            "JOB_EXECUTION_STATUS_RUNNING",
                            "JOB_EXECUTION_STATUS_SUCCEEDED",
                            "JOB_EXECUTION_STATUS_FAILED",
                            "JOB_EXECUTION_STATUS_UNKNOWN"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            "",
                            ""
                          ]
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationJobs call. Provide this token to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchJobs",
                      "response": {
                        "$ref": "SearchSessionSparkApplicationJobsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchJobs",
                      "httpMethod": "GET",
                      "path": "v1/{+name}:searchJobs"
                    },
                    "accessNativeBuildInfo": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessNativeBuildInfo",
                      "httpMethod": "GET",
                      "path": "v1/{+name}:accessNativeBuildInfo",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain data corresponding to Native Build Information for a Spark Application.",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\""
                        }
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessNativeBuildInfo",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationNativeBuildInfoResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ]
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "dataproc.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE"
                },
                "list": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations$",
                      "description": "The name of the operation's parent resource.",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to true, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field.This can only be true when reading across collections. For example, when parent is set to \"projects/example/locations/-\".This field is not supported by default and will result in an UNIMPLEMENTED error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "id": "dataproc.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED."
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "dataproc.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "id": "dataproc.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v1/{+name}:cancel"
                }
              }
            },
            "batches": {
              "methods": {
                "delete": {
                  "description": "Deletes the batch workload resource. If the batch is not in a CANCELLED, SUCCEEDED or FAILED State, the delete operation fails and the response returns FAILED_PRECONDITION.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/batches/[^/]+$",
                      "description": "Required. The fully qualified name of the batch to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/batches/BATCH_ID\"",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "id": "dataproc.projects.locations.batches.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/batches/{batchesId}",
                  "path": "v1/{+name}"
                },
                "analyze": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/batches/[^/]+$",
                      "description": "Required. The fully qualified name of the batch to analyze in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/batches/BATCH_ID\"",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "dataproc.projects.locations.batches.analyze",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "request": {
                    "$ref": "AnalyzeBatchRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Analyze a Batch for possible recommendations and insights.",
                  "path": "v1/{+name}:analyze",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/batches/{batchesId}:analyze",
                  "httpMethod": "POST"
                },
                "get": {
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/batches/{batchesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The fully qualified name of the batch to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/batches/BATCH_ID\"",
                      "pattern": "^projects/[^/]+/locations/[^/]+/batches/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Batch"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ],
                  "id": "dataproc.projects.locations.batches.get",
                  "description": "Gets the batch workload resource representation.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/batches",
                  "path": "v1/{+parent}/batches",
                  "description": "Lists batch workloads.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListBatchesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ],
                  "id": "dataproc.projects.locations.batches.list",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of batches.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of batches to return in each response. The service may return fewer than this value. The default page size is 20; the maximum page size is 1000.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. A filter for the batches to return in the response.A filter is a logical expression constraining the values of various fields in each batch resource. Filters are case sensitive, and may contain multiple clauses combined with logical operators (AND/OR). Supported fields: * batch_id * batch_uuid * state * create_time * labels * runtime_info.cohort_info.cohort e.g. state = RUNNING and create_time < \"2023-01-01T00:00:00Z\" filters for batches in state RUNNING that were created before 2023-01-01. state = RUNNING and labels.environment=production filters for batches in state in a RUNNING state that have a production environment label.See https://google.aip.dev/assets/misc/ebnf-filtering.txt for a detailed description of the filter syntax and a list of supported comparisons.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Field(s) on which to sort the list of batches.Currently the only supported sort orders are unspecified (empty) and create_time desc to sort by most recently created batches first.See https://google.aip.dev/132#ordering for more details.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token received from a previous ListBatches call. Provide this token to retrieve the subsequent page.",
                      "location": "query"
                    }
                  }
                },
                "create": {
                  "path": "v1/{+parent}/batches",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/batches",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource where this batch will be created.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "batchId": {
                      "description": "Optional. The ID to use for the batch, which will become the final component of the batch's resource name.This value must be 4-63 characters. Valid characters are /[a-z][0-9]-/.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. A unique ID used to identify the request. If the service receives two CreateBatchRequests with the same request_id, the second request is ignored and the operation that corresponds to the first Batch created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The value must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "dataproc.projects.locations.batches.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "request": {
                    "$ref": "Batch"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a batch workload that executes asynchronously."
                }
              },
              "resources": {
                "sparkApplications": {
                  "methods": {
                    "write": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Write wrapper objects from dataplane to spanner",
                      "request": {
                        "$ref": "WriteSparkApplicationContextRequest"
                      },
                      "id": "dataproc.projects.locations.batches.sparkApplications.write",
                      "response": {
                        "$ref": "WriteSparkApplicationContextResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The fully qualified name of the spark application to write data about in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/batches/BATCH_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/batches/[^/]+/sparkApplications/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/batches/{batchesId}/sparkApplications/{sparkApplicationsId}:write",
                      "httpMethod": "POST",
                      "path": "v1/{+name}:write"
                    },
                    "summarizeJobs": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/batches/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the batch to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/batches/BATCH_ID/sparkApplications/APPLICATION_ID\""
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent (Batch) resource reference.",
                          "location": "query"
                        }
                      },
                      "id": "dataproc.projects.locations.batches.sparkApplications.summarizeJobs",
                      "response": {
                        "$ref": "SummarizeSparkApplicationJobsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain summary of Jobs for a Spark Application",
                      "path": "v1/{+name}:summarizeJobs",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/batches/{batchesId}/sparkApplications/{sparkApplicationsId}:summarizeJobs",
                      "httpMethod": "GET"
                    },
                    "searchStageAttemptTasks": {
                      "id": "dataproc.projects.locations.batches.sparkApplications.searchStageAttemptTasks",
                      "response": {
                        "$ref": "SearchSparkApplicationStageAttemptTasksResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameters": {
                        "stageAttemptId": {
                          "description": "Optional. Stage Attempt ID",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent (Batch) resource reference.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of tasks to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The fully qualified name of the batch to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/batches/BATCH_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/batches/[^/]+/sparkApplications/[^/]+$"
                        },
                        "stageId": {
                          "format": "int64",
                          "type": "string",
                          "description": "Optional. Stage ID",
                          "location": "query"
                        },
                        "taskStatus": {
                          "location": "query",
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            "",
                            "",
                            ""
                          ],
                          "description": "Optional. List only tasks in the state.",
                          "type": "string",
[...]
