{
  "name": "dataproc",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dataproc": {
          "description": "See, edit, configure, and delete your Google Cloud Dataproc data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/dataproc.read-only": {
          "description": "See your Google Cloud Dataproc data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Cloud Dataproc API",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/dataproc/",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://dataproc.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "rootUrl": "https://dataproc.googleapis.com/",
  "baseUrl": "https://dataproc.googleapis.com/",
  "version": "v1",
  "basePath": "",
  "schemas": {
    "SparkPlanGraphCluster": {
      "properties": {
        "sparkPlanGraphClusterId": {
          "type": "string",
          "format": "int64"
        },
        "metrics": {
          "items": {
            "$ref": "SqlPlanMetric"
          },
          "type": "array"
        },
        "metadata": {
          "description": "Optional. Additional metadata for the spark plan graph cluster.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "desc": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "SparkPlanGraphNodeWrapper"
          }
        }
      },
      "id": "SparkPlanGraphCluster",
      "description": "Represents a tree of spark plan.",
      "type": "object"
    },
    "SoftwareConfig": {
      "properties": {
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The properties to set on daemon config files.Property keys are specified in prefix:property format, for example core:hadoop.tmp.dir. The following are supported prefixes and their mappings: capacity-scheduler: capacity-scheduler.xml core: core-site.xml distcp: distcp-default.xml hdfs: hdfs-site.xml hive: hive-site.xml mapred: mapred-site.xml pig: pig.properties spark: spark-defaults.conf yarn: yarn-site.xmlFor more information, see Cluster properties (https://cloud.google.com/dataproc/docs/concepts/cluster-properties).",
          "type": "object"
        },
        "optionalComponents": {
          "items": {
            "type": "string",
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "ANACONDA",
              "DELTA",
              "DOCKER",
              "DRUID",
              "FLINK",
              "HBASE",
              "HIVE_WEBHCAT",
              "HUDI",
              "ICEBERG",
              "JUPYTER",
              "PIG",
              "PRESTO",
              "TRINO",
              "RANGER",
              "SOLR",
              "ZEPPELIN",
              "ZOOKEEPER",
              "JUPYTER_KERNEL_GATEWAY"
            ],
            "enumDescriptions": [
              "Unspecified component. Specifying this will cause Cluster creation to fail.",
              "The Anaconda component is no longer supported or applicable to supported Dataproc on Compute Engine image versions (https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-version-clusters#supported-dataproc-image-versions). It cannot be activated on clusters created with supported Dataproc on Compute Engine image versions.",
              "Delta Lake.",
              "Docker",
              "The Druid query engine. (alpha)",
              "Flink",
              "HBase. (beta)",
              "The Hive Web HCatalog (the REST service for accessing HCatalog).",
              "Hudi.",
              "Iceberg.",
              "The Jupyter Notebook.",
              "The Pig component.",
              "The Presto query engine.",
              "The Trino query engine.",
              "The Ranger service.",
              "The Solr service.",
              "The Zeppelin notebook.",
              "The Zookeeper service.",
              "The Jupyter Kernel Gateway."
            ]
          },
          "description": "Optional. The set of components to activate on the cluster.",
          "type": "array"
        },
        "imageVersion": {
          "description": "Optional. The version of software inside the cluster. It must be one of the supported Image Versions (https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-versions#supported-dataproc-image-versions), such as \"1.2\" (including a subminor version, such as \"1.2.29\"), or the \"preview\" version (https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-versions#other_versions). If unspecified, it defaults to the latest Debian version.",
          "type": "string"
        }
      },
      "id": "SoftwareConfig",
      "description": "Specifies the selection and config of software inside the cluster.",
      "type": "object"
    },
    "AccessSessionSparkApplicationNativeSqlQueryResponse": {
      "description": "Details of a native query for a Spark Application",
      "type": "object",
      "id": "AccessSessionSparkApplicationNativeSqlQueryResponse",
      "properties": {
        "executionData": {
          "$ref": "NativeSqlExecutionUiData",
          "description": "Native SQL Execution Data"
        }
      }
    },
    "RddPartitionInfo": {
      "description": "Information about RDD partitions.",
      "type": "object",
      "id": "RddPartitionInfo",
      "properties": {
        "blockName": {
          "type": "string"
        },
        "executors": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "memoryUsed": {
          "format": "int64",
          "type": "string"
        },
        "diskUsed": {
          "format": "int64",
          "type": "string"
        },
        "storageLevel": {
          "type": "string"
        }
      }
    },
    "ClusterMetrics": {
      "id": "ClusterMetrics",
      "description": "Contains cluster daemon metrics, such as HDFS and YARN stats.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
      "type": "object",
      "properties": {
        "hdfsMetrics": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "description": "The HDFS metrics.",
          "type": "object"
        },
        "yarnMetrics": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "YARN metrics.",
          "type": "object"
        }
      }
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest",
      "description": "Request message for SetIamPolicy method.",
      "type": "object"
    },
    "ResourceInformation": {
      "properties": {
        "addresses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "ResourceInformation",
      "type": "object"
    },
    "SinkProgress": {
      "type": "object",
      "id": "SinkProgress",
      "properties": {
        "metrics": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "numOutputRows": {
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "ListBatchesResponse": {
      "description": "A list of batch workloads.",
      "type": "object",
      "id": "ListBatchesResponse",
      "properties": {
        "unreachable": {
          "description": "Output only. List of Batches that could not be included in the response. Attempting to get one of these resources may indicate why it was not included in the list response.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "batches": {
          "description": "Output only. The batches from the specified collection.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Batch"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListAutoscalingPoliciesResponse": {
      "id": "ListAutoscalingPoliciesResponse",
      "description": "A response to a request to list autoscaling policies in a project.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Output only. This token is included in the response if there are more results to fetch.",
          "readOnly": true,
          "type": "string"
        },
        "policies": {
          "items": {
            "$ref": "AutoscalingPolicy"
          },
          "description": "Output only. Autoscaling policies list.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "WriteSparkApplicationContextRequest": {
      "id": "WriteSparkApplicationContextRequest",
      "description": "Write Spark Application data to internal storage systems",
      "type": "object",
      "properties": {
        "sparkWrapperObjects": {
          "items": {
            "$ref": "SparkWrapperObject"
          },
          "type": "array"
        },
        "parent": {
          "description": "Required. Parent (Batch) resource reference.",
          "type": "string"
        }
      }
    },
    "BasicYarnAutoscalingConfig": {
      "description": "Basic autoscaling configurations for YARN.",
      "type": "object",
      "id": "BasicYarnAutoscalingConfig",
      "properties": {
        "scaleDownMinWorkerFraction": {
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "type": "number",
          "format": "double"
        },
        "gracefulDecommissionTimeout": {
          "description": "Required. Timeout for YARN graceful decommissioning of Node Managers. Specifies the duration to wait for jobs to complete before forcefully removing workers (and potentially interrupting jobs). Only applicable to downscaling operations.Bounds: 0s, 1d.",
          "type": "string",
          "format": "google-duration"
        },
        "scaleUpFactor": {
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to add workers. A scale-up factor of 1.0 will result in scaling up so that there is no pending memory remaining after the update (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling). See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0.",
          "type": "number",
          "format": "double"
        },
        "scaleUpMinWorkerFraction": {
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "type": "number",
          "format": "double"
        },
        "scaleDownFactor": {
          "format": "double",
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to remove workers. A scale-down factor of 1 will result in scaling down so that there is no available memory remaining after the update (more aggressive scaling). A scale-down factor of 0 disables removing workers, which can be beneficial for autoscaling a single job. See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0.",
          "type": "number"
        }
      }
    },
    "NativeBuildInfoUiData": {
      "type": "object",
      "id": "NativeBuildInfoUiData",
      "properties": {
        "buildInfo": {
          "items": {
            "$ref": "BuildInfo"
          },
          "description": "Optional. Build related details.",
          "type": "array"
        },
        "buildClass": {
          "description": "Optional. Build class of Native.",
          "type": "string"
        }
      }
    },
    "WorkflowTemplate": {
      "id": "WorkflowTemplate",
      "description": "A Dataproc workflow template resource.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "placement": {
          "$ref": "WorkflowTemplatePlacement",
          "description": "Required. WorkflowTemplate scheduling information."
        },
        "updateTime": {
          "description": "Output only. The time template was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "version": {
          "format": "int32",
          "description": "Optional. Used to perform a consistent read-modify-write.This field should be left blank for a CreateWorkflowTemplate request. It is required for an UpdateWorkflowTemplate request, and must match the current server version. A typical update template flow would fetch the current template with a GetWorkflowTemplate request, which will return the current template with the version field filled in with the current server version. The user updates other fields in the template, then returns it as part of the UpdateWorkflowTemplate request.",
          "type": "integer"
        },
        "parameters": {
          "items": {
            "$ref": "TemplateParameter"
          },
          "description": "Optional. Template parameters whose values are substituted into the template. Values for parameters must be provided when the template is instantiated.",
          "type": "array"
        },
        "labels": {
          "description": "Optional. The labels to associate with this template. These labels will be propagated to all jobs and clusters created by the workflow instance.Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt).Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt).No more than 32 labels can be associated with a template.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "jobs": {
          "description": "Required. The Directed Acyclic Graph of Jobs to submit.",
          "type": "array",
          "items": {
            "$ref": "OrderedJob"
          }
        },
        "createTime": {
          "description": "Output only. The time template was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "dagTimeout": {
          "description": "Optional. Timeout duration for the DAG of jobs, expressed in seconds (see JSON representation of duration (https://developers.google.com/protocol-buffers/docs/proto3#json)). The timeout duration must be from 10 minutes (\"600s\") to 24 hours (\"86400s\"). The timer begins when the first job is submitted. If the workflow is running at the end of the timeout period, any remaining jobs are cancelled, the workflow is ended, and if the workflow was running on a managed cluster, the cluster is deleted.",
          "type": "string",
          "format": "google-duration"
        },
        "name": {
          "description": "Output only. The resource name of the workflow template, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
          "readOnly": true,
          "type": "string"
        },
        "encryptionConfig": {
          "$ref": "GoogleCloudDataprocV1WorkflowTemplateEncryptionConfig",
          "description": "Optional. Encryption settings for encrypting workflow template job arguments."
        }
      }
    },
    "InstanceSelectionResult": {
      "id": "InstanceSelectionResult",
      "description": "Defines a mapping from machine types to the number of VMs that are created with each machine type.",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "Output only. Full machine-type names, e.g. \"n1-standard-16\".",
          "readOnly": true,
          "type": "string"
        },
        "vmCount": {
          "format": "int32",
          "description": "Output only. Number of VM provisioned with the machine_type.",
          "readOnly": true,
          "type": "integer"
        }
      }
    },
    "SearchSessionSparkApplicationStageAttemptsResponse": {
      "properties": {
        "sparkApplicationStageAttempts": {
          "description": "Output only. Data corresponding to a stage attempts",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "StageData"
          }
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationStageAttemptsRequest.",
          "type": "string"
        }
      },
      "id": "SearchSessionSparkApplicationStageAttemptsResponse",
      "description": "A list of Stage Attempts for a Stage of a Spark Application.",
      "type": "object"
    },
    "DiagnoseClusterResults": {
      "properties": {
        "outputUri": {
          "description": "Output only. The Cloud Storage URI of the diagnostic output. The output report is a plain text file with a summary of collected diagnostics.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The location of diagnostic output.",
      "type": "object",
      "id": "DiagnoseClusterResults"
    },
    "AccessSessionSparkApplicationJobResponse": {
      "properties": {
        "jobData": {
          "description": "Output only. Data corresponding to a spark job.",
          "readOnly": true,
          "$ref": "JobData"
        }
      },
      "description": "Details of a particular job associated with Spark Application",
      "type": "object",
      "id": "AccessSessionSparkApplicationJobResponse"
    },
    "ClusterConfig": {
      "properties": {
        "gceClusterConfig": {
          "$ref": "GceClusterConfig",
          "description": "Optional. The shared Compute Engine config settings for all instances in a cluster."
        },
        "workerConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for the cluster's worker instances."
        },
        "metastoreConfig": {
          "description": "Optional. Metastore configuration.",
          "$ref": "MetastoreConfig"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. Encryption settings for the cluster."
        },
        "clusterType": {
          "description": "Optional. The type of the cluster.",
          "type": "string",
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "STANDARD",
            "SINGLE_NODE",
            "ZERO_SCALE"
          ],
          "enumDescriptions": [
            "Not set.",
            "Standard dataproc cluster with a minimum of two primary workers.",
            "https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/single-node-clusters",
            "Clusters that can use only secondary workers and be scaled down to zero secondary worker nodes."
          ]
        },
        "dataprocMetricConfig": {
          "description": "Optional. The config for metrics.",
          "$ref": "DataprocMetricConfig"
        },
        "masterConfig": {
          "description": "Optional. The Compute Engine config settings for the cluster's master instance.",
          "$ref": "InstanceGroupConfig"
        },
        "lifecycleConfig": {
          "$ref": "LifecycleConfig",
          "description": "Optional. Lifecycle setting for the cluster."
        },
        "diagnosticBucket": {
          "description": "Optional. A Cloud Storage bucket used to collect checkpoint diagnostic data (https://cloud.google.com/dataproc/docs/support/diagnose-clusters#checkpoint_diagnostic_data). If you do not specify a diagnostic bucket, The service will use the temp bucket to collect the checkpoint diagnostic data. This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket.",
          "type": "string"
        },
        "auxiliaryNodeGroups": {
          "description": "Optional. The node group settings.",
          "type": "array",
          "items": {
            "$ref": "AuxiliaryNodeGroup"
          }
        },
        "autoscalingConfig": {
          "$ref": "AutoscalingConfig",
          "description": "Optional. Autoscaling config for the policy associated with the cluster. Cluster does not autoscale if this field is unset."
        },
        "secondaryWorkerConfig": {
          "description": "Optional. The Compute Engine config settings for a cluster's secondary worker instances",
          "$ref": "InstanceGroupConfig"
        },
        "engine": {
          "enumDescriptions": [
            "The engine is not specified. Works the same as ENGINE_DEFAULT.",
            "The cluster is a default engine cluster.",
            "The cluster is a Lightning Engine (https://cloud.google.com/dataproc/docs/guides/lightning-engine) cluster."
          ],
          "description": "Optional. The cluster engine.",
          "type": "string",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "DEFAULT",
            "LIGHTNING"
          ]
        },
        "tempBucket": {
          "description": "Optional. A Cloud Storage bucket used to store ephemeral cluster and jobs data, such as Spark and MapReduce history files. If you do not specify a temp bucket, the service will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's temp bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket. The default bucket has a TTL of 90 days, but you can use any TTL (or none) if you specify a bucket (see staging and temp buckets (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket.",
          "type": "string"
        },
        "softwareConfig": {
          "$ref": "SoftwareConfig",
          "description": "Optional. The config settings for cluster software."
        },
        "securityConfig": {
          "description": "Optional. Security settings for the cluster.",
          "$ref": "SecurityConfig"
        },
        "configBucket": {
          "description": "Optional. A Cloud Storage bucket used to stage job dependencies, config files, and job driver console output. If you do not specify a staging bucket, the service will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's staging bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket (see staging and temp buckets (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket.",
          "type": "string"
        },
        "gkeClusterConfig": {
          "$ref": "GkeClusterConfig",
          "description": "Optional. BETA. The Kubernetes Engine config for clusters deployed to Kubernetes. These config settings are mutually exclusive with Compute Engine-based options, such as gce_cluster_config, master_config, worker_config, secondary_worker_config, and autoscaling_config.",
          "deprecated": true
        },
        "initializationActions": {
          "items": {
            "$ref": "NodeInitializationAction"
          },
          "description": "Optional. Commands to execute on each node after config is completed. By default, executables are run on master and all worker nodes. You can test a node's role metadata to run an executable on a master or worker node, as shown below using curl (you can also use wget): ROLE=$(curl -H Metadata-Flavor:Google http://metadata/computeMetadata/v1/instance/attributes/dataproc-role) if [[ \"${ROLE}\" == 'Master' ]]; then ... master specific actions ... else ... worker specific actions ... fi ",
          "type": "array"
        },
        "clusterTier": {
          "enumDescriptions": [
            "Uses standard tier if unspecified.",
            "Standard cluster tier.",
            "Premium cluster tier."
          ],
          "description": "Optional. The cluster tier.",
          "type": "string",
          "enum": [
            "CLUSTER_TIER_UNSPECIFIED",
            "CLUSTER_TIER_STANDARD",
            "CLUSTER_TIER_PREMIUM"
          ]
        },
        "endpointConfig": {
          "$ref": "EndpointConfig",
          "description": "Optional. Port/endpoint configuration for this cluster"
        }
      },
      "id": "ClusterConfig",
      "description": "The cluster config.",
      "type": "object"
    },
    "FallbackReason": {
      "id": "FallbackReason",
      "description": "Native SQL Execution Data",
      "type": "object",
      "properties": {
        "fallbackNode": {
          "description": "Optional. Fallback node information.",
          "type": "string"
        },
        "fallbackReason": {
          "description": "Optional. Fallback to Spark reason.",
          "type": "string"
        }
      }
    },
    "AttachmentOperationMetadata": {
      "properties": {
        "description": {
          "description": "Output only. Short description of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "attachment": {
          "description": "Output only. Name of the attachment for the operation.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Labels associated with the operation.",
          "readOnly": true,
          "type": "object"
        },
        "warnings": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Warnings encountered during operation execution.",
          "readOnly": true,
          "type": "array"
        },
        "attachmentUuid": {
          "description": "Output only. Attachment UUID for the operation.",
          "readOnly": true,
          "type": "string"
        },
        "operationType": {
          "enumDescriptions": [
            "Attachment operation type is unknown.",
            "Create Attachment operation type.",
            "Update Attachment operation type.",
            "Delete Attachment operation type."
          ],
          "description": "Output only. The operation type.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "ATTACHMENT_OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ]
        },
        "doneTime": {
          "description": "Output only. The time when the operation finished.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "AttachmentOperationMetadata",
      "description": "Metadata describing the Attachment operation.",
      "type": "object"
    },
    "SessionStateHistory": {
      "id": "SessionStateHistory",
      "description": "Historical state information.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The session state is unknown.",
            "The session is created prior to running.",
            "The session is running.",
            "The session is terminating.",
            "The session is terminated successfully.",
            "The session is no longer running due to an error."
          ],
          "description": "Output only. The state of the session at this point in the session history.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ]
        },
        "stateMessage": {
          "description": "Output only. Details about the state at this point in the session history.",
          "readOnly": true,
          "type": "string"
        },
        "stateStartTime": {
          "description": "Output only. The time when the session entered the historical state.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "SummarizeSessionSparkApplicationJobsResponse": {
      "description": "Summary of a Spark Application jobs.",
      "type": "object",
      "id": "SummarizeSessionSparkApplicationJobsResponse",
      "properties": {
        "jobsSummary": {
          "$ref": "JobsSummary",
          "description": "Summary of a Spark Application Jobs"
        }
      }
    },
    "AnalyzeBatchRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the service receives two AnalyzeBatchRequest (http://cloud/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.AnalyzeBatchRequest)s with the same request_id, the second request is ignored and the Operation that corresponds to the first request created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The value must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "requestorId": {
          "deprecated": true,
          "description": "Optional. The requestor ID is used to identify if the request comes from a GCA investigation or the old Ask Gemini Experience. ",
          "type": "string"
        }
      },
      "description": "A request to analyze a batch workload.",
      "type": "object",
      "id": "AnalyzeBatchRequest"
    },
    "ListSessionTemplatesResponse": {
      "id": "ListSessionTemplatesResponse",
      "description": "A list of session templates.",
      "type": "object",
      "properties": {
        "sessionTemplates": {
          "description": "Output only. Session template list",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "SessionTemplate"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "ParameterValidation": {
      "description": "Configuration for parameter validation.",
      "type": "object",
      "id": "ParameterValidation",
      "properties": {
        "regex": {
          "description": "Validation based on regular expressions.",
          "$ref": "RegexValidation"
        },
        "values": {
          "$ref": "ValueValidation",
          "description": "Validation based on a list of allowed values."
        }
      }
    },
    "SparkApplication": {
      "properties": {
        "name": {
          "description": "Identifier. Name of the spark application",
          "type": "string"
        },
        "application": {
          "$ref": "ApplicationInfo",
          "description": "Output only. High level information corresponding to an application.",
          "readOnly": true
        }
      },
      "description": "A summary of Spark Application",
      "type": "object",
      "id": "SparkApplication"
    },
    "StartupConfig": {
      "properties": {
        "requiredRegistrationFraction": {
          "description": "Optional. The config setting to enable cluster creation/ updation to be successful only after required_registration_fraction of instances are up and running. This configuration is applicable to only secondary workers for now. The cluster will fail if required_registration_fraction of instances are not available. This will include instance creation, agent registration, and service registration (if enabled).",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Configuration to handle the startup of instances during cluster create and update process.",
      "type": "object",
      "id": "StartupConfig"
    },
    "InstanceGroupAutoscalingPolicyConfig": {
      "properties": {
        "maxInstances": {
          "format": "int32",
          "description": "Required. Maximum number of instances for this group. Required for primary workers. Note that by default, clusters will not use secondary workers. Required for secondary workers if the minimum secondary instances is set.Primary workers - Bounds: [min_instances, ). Secondary workers - Bounds: [min_instances, ). Default: 0.",
          "type": "integer"
        },
        "weight": {
          "format": "int32",
          "description": "Optional. Weight for the instance group, which is used to determine the fraction of total workers in the cluster from this instance group. For example, if primary workers have weight 2, and secondary workers have weight 1, the cluster will have approximately 2 primary workers for each secondary worker.The cluster may not reach the specified balance if constrained by min/max bounds or other autoscaling settings. For example, if max_instances for secondary workers is 0, then only primary workers will be added. The cluster can also be out of balance when created.If weight is not set on any instance group, the cluster will default to equal weight for all groups: the cluster will attempt to maintain an equal number of workers in each group within the configured size bounds for each group. If weight is set for one group only, the cluster will default to zero weight on the unset group. For example if weight is set only on primary workers, the cluster will use primary workers only and no secondary workers.",
          "type": "integer"
        },
        "minInstances": {
          "format": "int32",
          "description": "Optional. Minimum number of instances for this group.Primary workers - Bounds: 2, max_instances. Default: 2. Secondary workers - Bounds: 0, max_instances. Default: 0.",
          "type": "integer"
        }
      },
      "id": "InstanceGroupAutoscalingPolicyConfig",
      "description": "Configuration for the size bounds of an instance group, including its proportional size to other groups.",
      "type": "object"
    },
    "SparkPlanGraphNode": {
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "SqlPlanMetric"
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Additional metadata for the spark plan graph cluster.",
          "type": "object"
        },
        "desc": {
          "type": "string"
        },
        "sparkPlanGraphNodeId": {
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "SparkPlanGraphNode",
      "description": "Represents a node in the spark plan tree.",
      "type": "object"
    },
    "ListWorkflowTemplatesResponse": {
      "description": "A response to a request to list workflow templates in a project.",
      "type": "object",
      "id": "ListWorkflowTemplatesResponse",
      "properties": {
        "templates": {
          "description": "Output only. WorkflowTemplates list.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "WorkflowTemplate"
          }
        },
        "nextPageToken": {
          "description": "Output only. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListWorkflowTemplatesRequest.",
          "readOnly": true,
          "type": "string"
        },
        "unreachable": {
          "description": "Output only. List of workflow templates that could not be included in the response. Attempting to get one of these resources may indicate why it was not included in the list response.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "StreamBlockData": {
      "id": "StreamBlockData",
      "description": "Stream Block Data.",
      "type": "object",
      "properties": {
        "useMemory": {
          "type": "boolean"
        },
        "diskSize": {
          "type": "string",
          "format": "int64"
        },
        "hostPort": {
          "type": "string"
        },
        "useDisk": {
          "type": "boolean"
        },
        "memSize": {
          "type": "string",
          "format": "int64"
        },
        "executorId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "storageLevel": {
          "type": "string"
        },
        "deserialized": {
          "type": "boolean"
        }
      }
    },
    "AuxiliaryServicesConfig": {
      "properties": {
        "metastoreConfig": {
          "$ref": "MetastoreConfig",
          "description": "Optional. The Hive Metastore configuration for this workload."
        },
        "sparkHistoryServerConfig": {
          "$ref": "SparkHistoryServerConfig",
          "description": "Optional. The Spark History Server configuration for the workload."
        }
      },
      "id": "AuxiliaryServicesConfig",
      "description": "Auxiliary services configuration for a Cluster.",
      "type": "object"
    },
    "SparkSqlBatch": {
      "properties": {
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to be added to the Spark CLASSPATH.",
          "type": "array"
        },
        "queryFileUri": {
          "description": "Required. The HCFS URI of the script that contains Spark SQL queries to execute.",
          "type": "string"
        },
        "queryVariables": {
          "description": "Optional. Mapping of query variable names to values (equivalent to the Spark SQL command: SET name=\"value\";).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "SparkSqlBatch",
      "description": "A configuration for running Apache Spark SQL (https://spark.apache.org/sql/) queries as a batch workload.",
      "type": "object"
    },
    "AppSummary": {
      "properties": {
        "numCompletedJobs": {
          "type": "integer",
          "format": "int32"
        },
        "numCompletedStages": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AppSummary",
      "type": "object"
    },
    "ShuffleWriteMetrics": {
      "id": "ShuffleWriteMetrics",
      "description": "Shuffle data written by task.",
      "type": "object",
      "properties": {
        "bytesWritten": {
          "type": "string",
          "format": "int64"
        },
        "recordsWritten": {
          "format": "int64",
          "type": "string"
        },
        "writeTimeNanos": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "TaskMetrics": {
      "properties": {
        "executorDeserializeTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "resultSerializationTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "memoryBytesSpilled": {
          "type": "string",
          "format": "int64"
        },
        "executorRunTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "diskBytesSpilled": {
          "format": "int64",
          "type": "string"
        },
        "resultSize": {
          "format": "int64",
          "type": "string"
        },
        "shuffleReadMetrics": {
          "$ref": "ShuffleReadMetrics"
        },
        "executorDeserializeCpuTimeNanos": {
          "format": "int64",
          "type": "string"
        },
        "outputMetrics": {
          "$ref": "OutputMetrics"
        },
        "inputMetrics": {
          "$ref": "InputMetrics"
        },
        "jvmGcTimeMillis": {
          "format": "int64",
          "type": "string"
        },
        "executorCpuTimeNanos": {
          "type": "string",
          "format": "int64"
        },
        "shuffleWriteMetrics": {
          "$ref": "ShuffleWriteMetrics"
        },
        "peakExecutionMemoryBytes": {
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Executor Task Metrics",
      "type": "object",
      "id": "TaskMetrics"
    },
    "ShuffleReadMetrics": {
      "id": "ShuffleReadMetrics",
      "description": "Shuffle data read by the task.",
      "type": "object",
      "properties": {
        "remoteBytesRead": {
          "type": "string",
          "format": "int64"
        },
        "localBlocksFetched": {
          "format": "int64",
          "type": "string"
        },
        "remoteBlocksFetched": {
          "format": "int64",
          "type": "string"
        },
        "remoteBytesReadToDisk": {
          "format": "int64",
          "type": "string"
        },
        "recordsRead": {
          "format": "int64",
          "type": "string"
        },
        "shufflePushReadMetrics": {
          "$ref": "ShufflePushReadMetrics"
        },
        "fetchWaitTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "localBytesRead": {
          "format": "int64",
          "type": "string"
        },
        "remoteReqsDuration": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GkeNodePoolTarget": {
      "properties": {
        "nodePoolConfig": {
          "$ref": "GkeNodePoolConfig",
          "description": "Input only. The configuration for the GKE node pool.If specified, Dataproc attempts to create a node pool with the specified shape. If one with the same name already exists, it is verified against all specified fields. If a field differs, the virtual cluster creation will fail.If omitted, any node pool with the specified name is used. If a node pool with the specified name does not exist, Dataproc create a node pool with default values.This is an input only field. It will not be returned by the API."
        },
        "nodePool": {
          "description": "Required. The target GKE node pool. Format: 'projects/{project}/locations/{location}/clusters/{cluster}/nodePools/{node_pool}'",
          "type": "string"
        },
        "roles": {
          "description": "Required. The roles associated with the GKE node pool.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Role is unspecified.",
              "At least one node pool must have the DEFAULT role. Work assigned to a role that is not associated with a node pool is assigned to the node pool with the DEFAULT role. For example, work assigned to the CONTROLLER role will be assigned to the node pool with the DEFAULT role if no node pool has the CONTROLLER role.",
              "Run work associated with the Dataproc control plane (for example, controllers and webhooks). Very low resource requirements.",
              "Run work associated with a Spark driver of a job.",
              "Run work associated with a Spark executor of a job."
            ],
            "type": "string",
            "enum": [
              "ROLE_UNSPECIFIED",
              "DEFAULT",
              "CONTROLLER",
              "SPARK_DRIVER",
              "SPARK_EXECUTOR"
            ]
          }
        }
      },
      "id": "GkeNodePoolTarget",
      "description": "GKE node pools that Dataproc workloads run on.",
      "type": "object"
    },
    "AccessSessionSparkApplicationSqlQueryResponse": {
      "description": "Details of a query for a Spark Application",
      "type": "object",
      "id": "AccessSessionSparkApplicationSqlQueryResponse",
      "properties": {
        "executionData": {
          "$ref": "SqlExecutionUiData",
          "description": "SQL Execution Data"
        }
      }
    },
    "NodeGroupAffinity": {
      "properties": {
        "nodeGroupUri": {
          "description": "Required. The URI of a sole-tenant node group resource (https://cloud.google.com/compute/docs/reference/rest/v1/nodeGroups) that the cluster will be created on.A full URL, partial URI, or node group name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone]/nodeGroups/node-group-1 projects/[project_id]/zones/[zone]/nodeGroups/node-group-1 node-group-1",
          "type": "string"
        }
      },
      "description": "Node Group Affinity for clusters using sole-tenant node groups. The NodeGroupAffinity resource is not related to the NodeGroup resource.",
      "type": "object",
      "id": "NodeGroupAffinity"
    },
    "ApplicationEnvironmentInfo": {
      "id": "ApplicationEnvironmentInfo",
      "description": "Details about the Environment that the application is running in.",
      "type": "object",
      "properties": {
        "runtime": {
          "$ref": "SparkRuntimeInfo"
        },
        "classpathEntries": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "hadoopProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sparkProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metricsProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "systemProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceProfiles": {
          "items": {
            "$ref": "ResourceProfileInfo"
          },
          "type": "array"
        }
      }
    },
    "JobReference": {
      "properties": {
        "projectId": {
          "description": "Optional. The ID of the Google Cloud Platform project that the job belongs to. If specified, must match the request project ID.",
          "type": "string"
        },
        "jobId": {
          "description": "Optional. The job ID, which must be unique within the project.The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or hyphens (-). The maximum length is 100 characters.If not specified by the caller, the job ID will be provided by the server.",
          "type": "string"
        }
      },
      "id": "JobReference",
      "description": "Encapsulates the full scoping used to reference a job.",
      "type": "object"
    },
    "TerminateSessionRequest": {
      "description": "A request to terminate an interactive session.",
      "type": "object",
      "id": "TerminateSessionRequest",
      "properties": {
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the service receives two TerminateSessionRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.TerminateSessionRequest)s with the same ID, the second request is ignored.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The value must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      }
    },
    "ValueValidation": {
      "id": "ValueValidation",
      "description": "Validation based on a list of allowed values.",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of allowed values for the parameter.",
          "type": "array"
        }
      }
    },
    "SearchSparkApplicationExecutorsResponse": {
      "properties": {
        "sparkApplicationExecutors": {
          "description": "Details about executors used by the application.",
          "type": "array",
          "items": {
            "$ref": "ExecutorSummary"
          }
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationExecutorsListRequest.",
          "type": "string"
        }
      },
      "description": "List of Executors associated with a Spark Application.",
      "type": "object",
      "id": "SearchSparkApplicationExecutorsResponse"
    },
    "StartClusterRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the server receives two StartClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.StartClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "clusterUuid": {
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist.",
          "type": "string"
        }
      },
      "id": "StartClusterRequest",
      "description": "A request to start a cluster.",
      "type": "object"
    },
    "InstantiateWorkflowTemplateRequest": {
      "properties": {
        "version": {
          "description": "Optional. The version of workflow template to instantiate. If specified, the workflow will be instantiated only if the current version of the workflow template has the supplied version.This option cannot be used to instantiate a previous version of workflow template.",
          "type": "integer",
          "format": "int32"
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Map from parameter names to values that should be used for those parameters. Values may not exceed 1000 characters.",
          "type": "object"
        },
        "requestId": {
          "description": "Optional. A tag that prevents multiple concurrent workflow instances with the same tag from running. This mitigates risk of concurrent instances started due to retries.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The tag must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      },
      "description": "A request to instantiate a workflow template.",
      "type": "object",
      "id": "InstantiateWorkflowTemplateRequest"
    },
    "RuntimeInfo": {
      "id": "RuntimeInfo",
      "description": "Runtime information about workload execution.",
      "type": "object",
      "properties": {
        "outputUri": {
          "description": "Output only. A URI pointing to the location of the stdout and stderr of the workload.",
          "readOnly": true,
          "type": "string"
        },
        "currentUsage": {
          "description": "Output only. Snapshot of current workload resource usage.",
          "readOnly": true,
          "$ref": "UsageSnapshot"
        },
        "cohortInfo": {
          "$ref": "CohortInfo",
          "description": "Output only. Information about the cohort that the workload belongs to.",
          "readOnly": true
        },
        "approximateUsage": {
          "description": "Output only. Approximate workload resource usage, calculated when the workload completes (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing)).Note: This metric calculation may change in the future, for example, to capture cumulative workload resource consumption during workload execution (see the Dataproc Serverless release notes (https://cloud.google.com/dataproc-serverless/docs/release-notes) for announcements, changes, fixes and other Dataproc developments).",
          "readOnly": true,
          "$ref": "UsageMetrics"
        },
        "diagnosticOutputUri": {
          "description": "Output only. A URI pointing to the location of the diagnostics tarball.",
          "readOnly": true,
          "type": "string"
        },
        "propertiesInfo": {
          "description": "Optional. Properties of the workload organized by origin.",
          "$ref": "PropertiesInfo"
        },
        "endpoints": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Map of remote access endpoints (such as web interfaces and APIs) to their URIs.",
          "readOnly": true,
          "type": "object"
        }
      }
    },
    "HiveJob": {
      "properties": {
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Hive server and Hadoop MapReduce (MR) tasks. Can contain Hive SerDes and UDFs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains Hive queries.",
          "type": "string"
        },
        "scriptVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of query variable names to values (equivalent to the Hive command: SET name=\"value\";).",
          "type": "object"
        },
        "properties": {
          "description": "Optional. A mapping of property names and values, used to configure Hive. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/hive/conf/hive-site.xml, and classes in user code.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        },
        "continueOnFailure": {
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.",
          "type": "boolean"
        }
      },
      "id": "HiveJob",
      "description": "A Dataproc job for running Apache Hive (https://hive.apache.org/) queries on YARN.",
      "type": "object"
    },
    "ExecutorMetrics": {
      "type": "object",
      "id": "ExecutorMetrics",
      "properties": {
        "metrics": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        }
      }
    },
    "SummarizeSessionSparkApplicationExecutorsResponse": {
      "description": "Consolidated summary of executors for a Spark Application.",
      "type": "object",
      "id": "SummarizeSessionSparkApplicationExecutorsResponse",
      "properties": {
        "deadExecutorSummary": {
          "description": "Consolidated summary for dead executors.",
          "$ref": "ConsolidatedExecutorSummary"
        },
        "activeExecutorSummary": {
          "$ref": "ConsolidatedExecutorSummary",
          "description": "Consolidated summary for active executors."
        },
        "applicationId": {
          "description": "Spark Application Id",
          "type": "string"
        },
        "totalExecutorSummary": {
          "$ref": "ConsolidatedExecutorSummary",
          "description": "Overall consolidated summary for all executors."
        }
      }
    },
    "WriteSparkApplicationContextResponse": {
      "id": "WriteSparkApplicationContextResponse",
      "description": "Response returned as an acknowledgement of receipt of data.",
      "type": "object",
      "properties": {}
    },
    "AccessSessionSparkApplicationSqlSparkPlanGraphResponse": {
      "description": "SparkPlanGraph for a Spark Application execution limited to maximum 10000 clusters.",
      "type": "object",
      "id": "AccessSessionSparkApplicationSqlSparkPlanGraphResponse",
      "properties": {
        "sparkPlanGraph": {
          "$ref": "SparkPlanGraph",
          "description": "SparkPlanGraph for a Spark Application execution."
        }
      }
    },
    "SearchSparkApplicationNativeSqlQueriesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationNativeSqlQueriesRequest.",
          "type": "string"
        },
        "sparkApplicationNativeSqlQueries": {
          "items": {
            "$ref": "NativeSqlExecutionUiData"
          },
          "description": "Output only. Native SQL Execution Data",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "SearchSparkApplicationNativeSqlQueriesResponse",
      "description": "List of all Native SQL queries details for a Spark Application.",
      "type": "object"
    },
    "GkeNodePoolAutoscalingConfig": {
      "properties": {
        "maxNodeCount": {
          "format": "int32",
          "description": "The maximum number of nodes in the node pool. Must be >= min_node_count, and must be > 0. Note: Quota must be sufficient to scale up the cluster.",
          "type": "integer"
        },
        "minNodeCount": {
          "format": "int32",
          "description": "The minimum number of nodes in the node pool. Must be >= 0 and <= max_node_count.",
          "type": "integer"
        }
      },
      "description": "GkeNodePoolAutoscaling contains information the cluster autoscaler needs to adjust the size of the node pool to the current cluster usage.",
      "type": "object",
      "id": "GkeNodePoolAutoscalingConfig"
    },
    "SearchSparkApplicationSqlQueriesResponse": {
      "id": "SearchSparkApplicationSqlQueriesResponse",
      "description": "List of all queries for a Spark Application.",
      "type": "object",
      "properties": {
        "sparkApplicationSqlQueries": {
          "items": {
            "$ref": "SqlExecutionUiData"
          },
          "description": "Output only. SQL Execution Data",
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationSqlQueriesRequest.",
          "type": "string"
        }
      }
    },
    "ShufflePushReadMetrics": {
      "properties": {
        "remoteMergedBytesRead": {
          "type": "string",
          "format": "int64"
        },
        "remoteMergedChunksFetched": {
          "type": "string",
          "format": "int64"
        },
        "localMergedBlocksFetched": {
          "format": "int64",
          "type": "string"
        },
        "localMergedChunksFetched": {
          "format": "int64",
          "type": "string"
        },
        "corruptMergedBlockChunks": {
          "type": "string",
          "format": "int64"
        },
        "localMergedBytesRead": {
          "format": "int64",
          "type": "string"
        },
        "remoteMergedReqsDuration": {
          "type": "string",
          "format": "int64"
        },
        "remoteMergedBlocksFetched": {
          "format": "int64",
          "type": "string"
        },
        "mergedFetchFallbackCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "ShufflePushReadMetrics"
    },
    "Operation": {
      "properties": {
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "DriverSchedulingConfig": {
      "properties": {
        "memoryMb": {
          "format": "int32",
          "description": "Required. The amount of memory in MB the driver is requesting.",
          "type": "integer"
        },
        "vcores": {
          "format": "int32",
          "description": "Required. The number of vCPUs the driver is requesting.",
          "type": "integer"
        }
      },
      "description": "Driver scheduling configuration.",
      "type": "object",
      "id": "DriverSchedulingConfig"
    },
    "SpeculationStageSummary": {
      "id": "SpeculationStageSummary",
      "description": "Details of the speculation task when speculative execution is enabled.",
      "type": "object",
      "properties": {
        "numTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numFailedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numCompletedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "stageId": {
          "type": "string",
          "format": "int64"
        },
        "numKilledTasks": {
          "format": "int32",
          "type": "integer"
        },
        "numActiveTasks": {
          "type": "integer",
          "format": "int32"
        },
        "stageAttemptId": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "VirtualClusterConfig": {
      "description": "The cluster config for a cluster that does not directly control the underlying compute resources, such as a GKE cluster (https://cloud.google.com/dataproc/docs/guides/dpgke/dataproc-gke-overview).",
      "type": "object",
      "id": "VirtualClusterConfig",
      "properties": {
        "stagingBucket": {
          "description": "Optional. A Cloud Storage bucket used to stage job dependencies, config files, and job driver console output. If you do not specify a staging bucket, the service will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's staging bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket (see staging and temp buckets (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket.",
          "type": "string"
        },
        "auxiliaryServicesConfig": {
          "description": "Optional. Configuration of auxiliary services used by this cluster.",
          "$ref": "AuxiliaryServicesConfig"
        },
        "kubernetesClusterConfig": {
          "description": "Required. The configuration for running the cluster on Kubernetes.",
          "$ref": "KubernetesClusterConfig"
        }
      }
    },
    "WorkflowMetadata": {
      "id": "WorkflowMetadata",
      "description": "A Dataproc workflow template resource.",
      "type": "object",
      "properties": {
        "createCluster": {
          "$ref": "ClusterOperation",
          "description": "Output only. The create cluster operation metadata.",
          "readOnly": true
        },
        "dagEndTime": {
          "format": "google-datetime",
          "description": "Output only. DAG end time, only set for workflows with dag_timeout when DAG ends.",
          "readOnly": true,
          "type": "string"
        },
        "deleteCluster": {
          "description": "Output only. The delete cluster operation metadata.",
          "readOnly": true,
          "$ref": "ClusterOperation"
        },
        "parameters": {
          "description": "Map from parameter names to values that were used for those parameters.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "clusterName": {
          "description": "Output only. The name of the target cluster.",
          "readOnly": true,
          "type": "string"
        },
        "graph": {
          "$ref": "WorkflowGraph",
          "description": "Output only. The workflow graph.",
          "readOnly": true
        },
        "dagTimeout": {
          "format": "google-duration",
          "description": "Output only. The timeout duration for the DAG of jobs, expressed in seconds (see JSON representation of duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unused.",
            "The operation has been created.",
            "The operation is running.",
            "The operation is done; either cancelled or completed."
          ],
          "description": "Output only. The workflow state.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PENDING",
            "RUNNING",
            "DONE"
          ]
        },
        "template": {
          "description": "Output only. The resource name of the workflow template as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
          "readOnly": true,
          "type": "string"
        },
        "dagStartTime": {
          "description": "Output only. DAG start time, only set for workflows with dag_timeout when DAG begins.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Output only. Workflow start time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "clusterUuid": {
          "description": "Output only. The UUID of target cluster.",
          "readOnly": true,
          "type": "string"
        },
        "version": {
          "format": "int32",
          "description": "Output only. The version of template at the time of workflow instantiation.",
          "readOnly": true,
          "type": "integer"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Workflow end time.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "UsageSnapshot": {
      "description": "The usage snapshot represents the resources consumed by a workload at a specified time.",
      "type": "object",
      "id": "UsageSnapshot",
      "properties": {
        "acceleratorType": {
          "description": "Optional. Accelerator type being used, if any Deprecated: This field is only used in runtime versions below 3.0.",
          "type": "string"
        },
        "shuffleStorageGb": {
          "description": "Optional. Shuffle Storage in gigabytes (GB). (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))",
          "type": "string",
          "format": "int64"
        },
        "milliAccelerator": {
          "description": "Optional. Milli (one-thousandth) accelerator. (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing)) Deprecated: This field is only used in runtime versions below 3.0.",
          "type": "string",
          "format": "int64"
        },
        "milliAcceleratorA10040": {
          "format": "int64",
          "description": "Optional. Milli (one-thousandth) accelerator for A100-40 accelerators. (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))",
          "type": "string"
        },
        "milliDcu": {
          "description": "Optional. Milli (one-thousandth) Dataproc Compute Units (DCUs) (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing)).",
          "type": "string",
          "format": "int64"
        },
        "milliAcceleratorL4": {
          "description": "Optional. Milli (one-thousandth) accelerator for L4 accelerators. (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))",
          "type": "string",
          "format": "int64"
        },
        "milliAcceleratorA10080": {
          "format": "int64",
          "description": "Optional. Milli (one-thousandth) accelerator for A100-80 accelerators. (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))",
          "type": "string"
        },
        "milliDcuPremium": {
          "description": "Optional. Milli (one-thousandth) Dataproc Compute Units (DCUs) charged at premium tier (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing)).",
          "type": "string",
          "format": "int64"
        },
        "snapshotTime": {
          "format": "google-datetime",
          "description": "Optional. The timestamp of the usage snapshot.",
          "type": "string"
        },
        "shuffleStorageGbPremium": {
          "description": "Optional. Shuffle Storage in gigabytes (GB) charged at premium tier. (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing))",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RddOperationNode": {
      "id": "RddOperationNode",
      "description": "A node in the RDD operation graph. Corresponds to a single RDD.",
      "type": "object",
      "properties": {
        "nodeId": {
          "format": "int32",
          "type": "integer"
        },
        "callsite": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "outputDeterministicLevel": {
          "type": "string",
          "enum": [
            "DETERMINISTIC_LEVEL_UNSPECIFIED",
            "DETERMINISTIC_LEVEL_DETERMINATE",
            "DETERMINISTIC_LEVEL_UNORDERED",
            "DETERMINISTIC_LEVEL_INDETERMINATE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "cached": {
          "type": "boolean"
        },
        "barrier": {
          "type": "boolean"
        }
      }
    },
    "SourceProgress": {
      "id": "SourceProgress",
      "type": "object",
      "properties": {
        "inputRowsPerSecond": {
          "type": "number",
          "format": "double"
        },
        "latestOffset": {
          "type": "string"
        },
        "startOffset": {
          "type": "string"
        },
        "metrics": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "type": "string"
        },
        "numInputRows": {
          "format": "int64",
          "type": "string"
        },
        "processedRowsPerSecond": {
          "type": "number",
          "format": "double"
        },
        "endOffset": {
          "type": "string"
        }
      }
    },
    "QueryList": {
      "properties": {
        "queries": {
          "items": {
            "type": "string"
          },
          "description": "Required. The queries to execute. You do not need to end a query expression with a semicolon. Multiple queries can be specified in one string by separating each with a semicolon. Here is an example of a Dataproc API snippet that uses a QueryList to specify a HiveJob: \"hiveJob\": { \"queryList\": { \"queries\": [ \"query1\", \"query2\", \"query3;query4\", ] } } ",
          "type": "array"
        }
      },
      "id": "QueryList",
      "description": "A list of queries to run on a cluster.",
      "type": "object"
    },
    "MetastoreConfig": {
      "description": "Specifies a Metastore configuration.",
      "type": "object",
      "id": "MetastoreConfig",
      "properties": {
        "dataprocMetastoreService": {
          "description": "Required. Resource name of an existing Metastore service.Example: projects/[project_id]/locations/[dataproc_region]/services/[service-name]",
          "type": "string"
        }
      }
    },
    "NodeGroupOperationMetadata": {
      "properties": {
        "statusHistory": {
          "description": "Output only. The previous operation status.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ClusterOperationStatus"
          }
        },
        "description": {
          "description": "Output only. Short description of operation.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Output only. Labels associated with the operation.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "nodeGroupId": {
          "description": "Output only. Node group ID for the operation.",
          "readOnly": true,
          "type": "string"
        },
        "warnings": {
          "description": "Output only. Errors encountered during operation execution.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clusterUuid": {
          "description": "Output only. Cluster UUID associated with the node group operation.",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "$ref": "ClusterOperationStatus",
          "description": "Output only. Current operation status.",
          "readOnly": true
        },
        "operationType": {
          "enumDescriptions": [
            "Node group operation type is unknown.",
            "Create node group operation type.",
            "Update node group operation type.",
            "Delete node group operation type.",
            "Resize node group operation type.",
            "Repair node group operation type.",
            "Update node group label operation type.",
            "Start node group operation type.",
            "Stop node group operation type.",
            "This operation type is used to update the metadata config of a node group. We update the metadata of the VMs in the node group and await for intended config change to be completed at the node group level. Currently, only the identity config update is supported."
          ],
          "description": "The operation type.",
          "type": "string",
          "enum": [
            "NODE_GROUP_OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESIZE",
            "REPAIR",
            "UPDATE_LABELS",
            "START",
            "STOP",
            "UPDATE_METADATA_CONFIG"
          ]
        }
      },
      "id": "NodeGroupOperationMetadata",
      "description": "Metadata describing the node group operation.",
      "type": "object"
    },
    "NamespacedGkeDeploymentTarget": {
      "description": "Deprecated. Used only for the deprecated beta. A full, namespace-isolated deployment target for an existing GKE cluster.",
      "type": "object",
      "id": "NamespacedGkeDeploymentTarget",
      "deprecated": true,
      "properties": {
        "clusterNamespace": {
          "description": "Optional. A namespace within the GKE cluster to deploy into.",
          "type": "string"
        },
        "targetGkeCluster": {
          "description": "Optional. The target GKE cluster to deploy to. Format: 'projects/{project}/locations/{location}/clusters/{cluster_id}'",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataprocV1WorkflowTemplateEncryptionConfig": {
      "properties": {
        "kmsKey": {
          "description": "Optional. The Cloud KMS key name to use for encrypting workflow template job arguments.When this this key is provided, the following workflow template job arguments (https://cloud.google.com/dataproc/docs/concepts/workflows/use-workflows#adding_jobs_to_a_template), if present, are CMEK encrypted (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/customer-managed-encryption#use_cmek_with_workflow_template_data): FlinkJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/FlinkJob) HadoopJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/HadoopJob) SparkJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/SparkJob) SparkRJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/SparkRJob) PySparkJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/PySparkJob) SparkSqlJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/SparkSqlJob) scriptVariables and queryList.queries HiveJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/HiveJob) scriptVariables and queryList.queries PigJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/PigJob) scriptVariables and queryList.queries PrestoJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/PrestoJob) scriptVariables and queryList.queries",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataprocV1WorkflowTemplateEncryptionConfig",
      "description": "Encryption settings for encrypting workflow template job arguments.",
      "type": "object"
    },
    "StagesSummary": {
      "properties": {
        "applicationId": {
          "type": "string"
        },
        "numActiveStages": {
          "format": "int32",
          "type": "integer"
        },
        "numSkippedStages": {
          "type": "integer",
          "format": "int32"
        },
        "numPendingStages": {
          "format": "int32",
          "type": "integer"
        },
        "numFailedStages": {
          "type": "integer",
          "format": "int32"
        },
        "numCompletedStages": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "StagesSummary",
      "description": "Data related to Stages page summary",
      "type": "object"
    },
    "RepairNodeGroupRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the server receives two RepairNodeGroupRequest with the same ID, the second request is ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "instanceNames": {
          "description": "Required. Name of instances to be repaired. These instances must belong to specified node pool.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "repairAction": {
          "enumDescriptions": [
            "No action will be taken by default.",
            "replace the specified list of nodes."
          ],
          "description": "Required. Repair action to take on specified resources of the node pool.",
          "type": "string",
          "enum": [
            "REPAIR_ACTION_UNSPECIFIED",
            "REPLACE"
          ]
        }
      },
      "type": "object",
      "id": "RepairNodeGroupRequest"
    },
    "SqlExecutionUiData": {
      "description": "SQL Execution Data",
      "type": "object",
      "id": "SqlExecutionUiData",
      "properties": {
        "submissionTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "metricValues": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "rootExecutionId": {
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string"
        },
        "completionTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "errorMessage": {
          "type": "string"
        },
        "metricValuesIsNull": {
          "type": "boolean"
        },
        "physicalPlanDescription": {
          "type": "string"
        },
        "modifiedConfigs": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "jobs": {
          "type": "object",
          "additionalProperties": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "JOB_EXECUTION_STATUS_UNSPECIFIED",
              "JOB_EXECUTION_STATUS_RUNNING",
              "JOB_EXECUTION_STATUS_SUCCEEDED",
              "JOB_EXECUTION_STATUS_FAILED",
              "JOB_EXECUTION_STATUS_UNKNOWN"
            ]
          }
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "SqlPlanMetric"
          }
        },
        "details": {
          "type": "string"
        },
        "stages": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "executionId": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ListSessionsResponse": {
      "properties": {
        "sessions": {
          "items": {
            "$ref": "Session"
          },
          "description": "Output only. The sessions from the specified collection.",
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as page_token, to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListSessionsResponse",
      "description": "A list of interactive sessions.",
      "type": "object"
    },
    "InputMetrics": {
      "properties": {
        "recordsRead": {
          "type": "string",
          "format": "int64"
        },
        "bytesRead": {
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Metrics about the input data read by the task.",
      "type": "object",
      "id": "InputMetrics"
    },
    "SecurityConfig": {
      "properties": {
        "kerberosConfig": {
          "$ref": "KerberosConfig",
          "description": "Optional. Kerberos related configuration."
        },
        "identityConfig": {
          "description": "Optional. Identity related configuration, including service account based secure multi-tenancy user mappings.",
          "$ref": "IdentityConfig"
        }
      },
      "id": "SecurityConfig",
      "description": "Security related configuration, including encryption, Kerberos, etc.",
      "type": "object"
    },
    "EncryptionConfig": {
      "description": "Encryption settings for the cluster.",
      "type": "object",
      "id": "EncryptionConfig",
      "properties": {
        "gcePdKmsKeyName": {
          "description": "Optional. The Cloud KMS key resource name to use for persistent disk encryption for all instances in the cluster. See Use CMEK with cluster data (https://cloud.google.com//dataproc/docs/concepts/configuring-clusters/customer-managed-encryption#use_cmek_with_cluster_data) for more information.",
          "type": "string"
        },
        "kmsKey": {
          "description": "Optional. The Cloud KMS key resource name to use for cluster persistent disk and job argument encryption. See Use CMEK with cluster data (https://cloud.google.com//dataproc/docs/concepts/configuring-clusters/customer-managed-encryption#use_cmek_with_cluster_data) for more information.When this key resource name is provided, the following job arguments of the following job types submitted to the cluster are encrypted using CMEK: FlinkJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/FlinkJob) HadoopJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/HadoopJob) SparkJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/SparkJob) SparkRJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/SparkRJob) PySparkJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/PySparkJob) SparkSqlJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/SparkSqlJob) scriptVariables and queryList.queries HiveJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/HiveJob) scriptVariables and queryList.queries PigJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/PigJob) scriptVariables and queryList.queries PrestoJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/PrestoJob) scriptVariables and queryList.queries",
          "type": "string"
        }
      }
    },
    "SessionOperationMetadata": {
      "id": "SessionOperationMetadata",
      "description": "Metadata describing the Session operation.",
      "type": "object",
      "properties": {
        "doneTime": {
          "format": "google-datetime",
          "description": "The time when the operation was finished.",
          "type": "string"
        },
        "sessionUuid": {
          "description": "Session UUID for the operation.",
          "type": "string"
        },
        "operationType": {
          "description": "The operation type.",
          "type": "string",
          "enum": [
            "SESSION_OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "TERMINATE",
            "DELETE"
          ],
          "enumDescriptions": [
            "Session operation type is unknown.",
            "Create Session operation type.",
            "Terminate Session operation type.",
            "Delete Session operation type."
          ]
        },
        "warnings": {
          "description": "Warnings encountered during operation execution.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with the operation.",
          "type": "object"
        },
        "session": {
          "description": "Name of the session for the operation.",
          "type": "string"
        },
        "createTime": {
          "description": "The time when the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Short description of the operation.",
          "type": "string"
        }
      }
    },
    "SparkConnectSessionInfo": {
      "description": "Represents session-level information for Spark Connect",
      "type": "object",
      "id": "SparkConnectSessionInfo",
      "properties": {
        "sessionId": {
          "description": "Required. Session ID of the session.",
          "type": "string"
        },
        "finishTimestamp": {
          "description": "Timestamp when the session finished.",
          "type": "string",
          "format": "int64"
        },
        "totalExecution": {
          "description": "Optional. Total number of executions in the session.",
          "type": "string",
          "format": "int64"
        },
        "startTimestamp": {
          "format": "int64",
          "description": "Timestamp when the session started.",
          "type": "string"
        },
        "userId": {
          "description": "User ID of the user who started the session.",
          "type": "string"
        }
      }
    },
    "AccessSparkApplicationEnvironmentInfoResponse": {
      "description": "Environment details of a Saprk Application.",
      "type": "object",
      "id": "AccessSparkApplicationEnvironmentInfoResponse",
      "properties": {
        "applicationEnvironmentInfo": {
          "$ref": "ApplicationEnvironmentInfo",
          "description": "Details about the Environment that the application is running in."
        }
      }
    },
    "SparkPlanGraph": {
      "description": "A graph used for storing information of an executionPlan of DataFrame.",
      "type": "object",
      "id": "SparkPlanGraph",
      "properties": {
        "executionId": {
          "format": "int64",
          "type": "string"
        },
        "edges": {
          "type": "array",
          "items": {
            "$ref": "SparkPlanGraphEdge"
          }
        },
        "nodes": {
          "items": {
            "$ref": "SparkPlanGraphNodeWrapper"
          },
          "type": "array"
        }
      }
    },
    "BatchOperationMetadata": {
      "properties": {
        "description": {
          "description": "Short description of the operation.",
          "type": "string"
        },
        "createTime": {
          "description": "The time when the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "batch": {
          "description": "Name of the batch for the operation.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with the operation.",
          "type": "object"
        },
        "warnings": {
          "description": "Warnings encountered during operation execution.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "batchUuid": {
          "description": "Batch UUID for the operation.",
          "type": "string"
        },
        "operationType": {
          "description": "The operation type.",
          "type": "string",
          "enum": [
            "BATCH_OPERATION_TYPE_UNSPECIFIED",
            "BATCH"
          ],
          "enumDescriptions": [
            "Batch operation type is unknown.",
            "Batch operation type."
          ]
        },
        "doneTime": {
          "format": "google-datetime",
          "description": "The time when the operation finished.",
          "type": "string"
        }
      },
      "description": "Metadata describing the Batch operation.",
      "type": "object",
      "id": "BatchOperationMetadata"
    },
    "ResizeNodeGroupRequest": {
      "properties": {
        "size": {
          "format": "int32",
          "description": "Required. The number of running instances for the node group to maintain. The group adds or removes instances to maintain the number of instances specified by this parameter.",
          "type": "integer"
        },
        "gracefulDecommissionTimeout": {
          "description": "Optional. Timeout for graceful YARN decommissioning. Graceful decommissioning (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/scaling-clusters#graceful_decommissioning) allows the removal of nodes from the Compute Engine node group without interrupting jobs in progress. This timeout specifies how long to wait for jobs in progress to finish before forcefully removing nodes (and potentially interrupting jobs). Default timeout is 0 (for forceful decommission), and the maximum allowed timeout is 1 day. (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).Only supported on Dataproc image versions 1.2 and higher.",
          "type": "string",
          "format": "google-duration"
        },
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the server receives two ResizeNodeGroupRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.ResizeNodeGroupRequests) with the same ID, the second request is ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "parentOperationId": {
          "description": "Optional. operation id of the parent operation sending the resize request",
          "type": "string"
        }
      },
      "description": "A request to resize a node group.",
      "type": "object",
      "id": "ResizeNodeGroupRequest"
    },
    "SearchSparkApplicationStageAttemptsResponse": {
      "id": "SearchSparkApplicationStageAttemptsResponse",
[...]
