{
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "version": "v1b3",
  "documentationLink": "https://cloud.google.com/dataflow",
  "discoveryVersion": "v1",
  "title": "Dataflow API",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "methods": {
        "deleteSnapshots": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameterOrder": [
            "projectId"
          ],
          "id": "dataflow.projects.deleteSnapshots",
          "response": {
            "$ref": "DeleteSnapshotResponse"
          },
          "flatPath": "v1b3/projects/{projectId}/snapshots",
          "httpMethod": "DELETE",
          "parameters": {
            "location": {
              "type": "string",
              "location": "query",
              "description": "The location that contains this snapshot."
            },
            "projectId": {
              "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "snapshotId": {
              "description": "The ID of the snapshot.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Deletes a snapshot.",
          "path": "v1b3/projects/{projectId}/snapshots"
        },
        "workerMessages": {
          "description": "Send a worker_message to the service.",
          "path": "v1b3/projects/{projectId}/WorkerMessages",
          "id": "dataflow.projects.workerMessages",
          "request": {
            "$ref": "SendWorkerMessagesRequest"
          },
          "flatPath": "v1b3/projects/{projectId}/WorkerMessages",
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "The project to send the WorkerMessages to.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "SendWorkerMessagesResponse"
          }
        }
      },
      "resources": {
        "snapshots": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "flatPath": "v1b3/projects/{projectId}/snapshots",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameters": {
                "jobId": {
                  "type": "string",
                  "description": "If specified, list snapshots created from this job.",
                  "location": "query"
                },
                "location": {
                  "description": "The location to list snapshots in.",
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "description": "The project ID to list snapshots for.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1b3/projects/{projectId}/snapshots",
              "id": "dataflow.projects.snapshots.list",
              "description": "Lists snapshots.",
              "response": {
                "$ref": "ListSnapshotsResponse"
              },
              "parameterOrder": [
                "projectId"
              ]
            },
            "get": {
              "parameterOrder": [
                "projectId",
                "snapshotId"
              ],
              "id": "dataflow.projects.snapshots.get",
              "flatPath": "v1b3/projects/{projectId}/snapshots/{snapshotId}",
              "parameters": {
                "snapshotId": {
                  "description": "The ID of the snapshot.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "location": {
                  "location": "query",
                  "type": "string",
                  "description": "The location that contains this snapshot."
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "path": "v1b3/projects/{projectId}/snapshots/{snapshotId}",
              "description": "Gets information about a snapshot.",
              "response": {
                "$ref": "Snapshot"
              }
            }
          }
        },
        "locations": {
          "methods": {
            "workerMessages": {
              "parameterOrder": [
                "projectId",
                "location"
              ],
              "path": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "flatPath": "v1b3/projects/{projectId}/locations/{location}/WorkerMessages",
              "httpMethod": "POST",
              "request": {
                "$ref": "SendWorkerMessagesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "response": {
                "$ref": "SendWorkerMessagesResponse"
              },
              "id": "dataflow.projects.locations.workerMessages",
              "description": "Send a worker_message to the service.",
              "parameters": {
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job.",
                  "required": true,
                  "location": "path"
                },
                "projectId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The project to send the WorkerMessages to."
                }
              }
            }
          },
          "resources": {
            "snapshots": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "parameters": {
                    "location": {
                      "description": "The location that contains this snapshot.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "snapshotId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The ID of the snapshot."
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                      "location": "path"
                    }
                  },
                  "description": "Deletes a snapshot.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "id": "dataflow.projects.locations.snapshots.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "response": {
                    "$ref": "DeleteSnapshotResponse"
                  }
                },
                "get": {
                  "parameters": {
                    "location": {
                      "description": "The location that contains this snapshot.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "snapshotId": {
                      "description": "The ID of the snapshot.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                      "required": true
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "httpMethod": "GET",
                  "id": "dataflow.projects.locations.snapshots.get",
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "description": "Gets information about a snapshot.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                },
                "list": {
                  "parameters": {
                    "location": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The location to list snapshots in."
                    },
                    "projectId": {
                      "required": true,
                      "description": "The project ID to list snapshots for.",
                      "location": "path",
                      "type": "string"
                    },
                    "jobId": {
                      "type": "string",
                      "location": "query",
                      "description": "If specified, list snapshots created from this job."
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "description": "Lists snapshots.",
                  "response": {
                    "$ref": "ListSnapshotsResponse"
                  },
                  "id": "dataflow.projects.locations.snapshots.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ]
                }
              }
            },
            "jobs": {
              "methods": {
                "snapshot": {
                  "httpMethod": "POST",
                  "description": "Snapshot the state of a streaming job. # IAM Permissions Requires the `dataflow.jobs.snapshot` permission on the job.",
                  "request": {
                    "$ref": "SnapshotJobRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "parameters": {
                    "projectId": {
                      "description": "The project which owns the job to be snapshotted.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "location": "path",
                      "required": true,
                      "description": "The job to be snapshotted.",
                      "type": "string"
                    },
                    "location": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The location that contains this job."
                    }
                  },
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "id": "dataflow.projects.locations.jobs.snapshot",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot"
                },
                "getExecutionDetails": {
                  "parameters": {
                    "projectId": {
                      "description": "A project id.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "If specified, determines the maximum number of stages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results."
                    },
                    "jobId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The job to get execution details for."
                    },
                    "location": {
                      "required": true,
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "id": "dataflow.projects.locations.jobs.getExecutionDetails",
                  "response": {
                    "$ref": "JobExecutionDetails"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "description": "Request detailed information about the execution status of the job. EXPERIMENTAL. This API is subject to change or removal without notice. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job."
                },
                "getMetrics": {
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "id": "dataflow.projects.locations.jobs.getMetrics",
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "JobMetrics"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "description": "A project id.",
                      "type": "string"
                    },
                    "jobId": {
                      "type": "string",
                      "required": true,
                      "description": "The job to get metrics for.",
                      "location": "path"
                    },
                    "startTime": {
                      "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                      "type": "string",
                      "location": "query",
                      "format": "google-datetime"
                    }
                  }
                },
                "update": {
                  "httpMethod": "PUT",
                  "response": {
                    "$ref": "Job"
                  },
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "required": true
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "description": "The job ID.",
                      "location": "path"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "id": "dataflow.projects.locations.jobs.update",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "request": {
                    "$ref": "Job"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`. # IAM Permissions 1. Requires the `dataflow.jobs.cancel` permission to cancel a job. 2. Requires the `dataflow.jobs.updateContents` permission to update runtime parameters."
                },
                "create": {
                  "request": {
                    "$ref": "Job"
                  },
                  "description": "Creates a Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API. # IAM Permissions 1. Requires the `dataflow.jobs.create` permission on the project. 2. `resourcemanager.projects.get` (Specifically required for regional endpoints to resolve regional resource metadata)",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "id": "dataflow.projects.locations.jobs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "parameters": {
                    "replaceJobId": {
                      "type": "string",
                      "description": "Deprecated. This field is now in the Job message.",
                      "location": "query"
                    },
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "type": "string",
                      "description": "The level of information requested in response.",
                      "location": "query"
                    },
                    "location": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                    }
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "httpMethod": "POST",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.jobs.get` permission on the job.",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "httpMethod": "GET",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "required": true
                    },
                    "jobId": {
                      "location": "path",
                      "type": "string",
                      "description": "The job ID.",
                      "required": true
                    },
                    "view": {
                      "type": "string",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "The level of information requested in response.",
                      "location": "query",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ]
                    },
                    "location": {
                      "type": "string",
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "required": true
                    }
                  },
                  "id": "dataflow.projects.locations.jobs.get"
                },
                "list": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "id": "dataflow.projects.locations.jobs.list",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, because you can only get the list of jobs that are running in `us-central1`. `projects.locations.jobs.list` and `projects.jobs.list` support filtering the list of jobs by name. Filtering by name isn't supported by `projects.jobs.aggregated`. # IAM Permissions Requires the `dataflow.jobs.list` permission on the project.",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                        "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                        "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                        "Filters the jobs that are running ordered on the creation timestamp."
                      ],
                      "description": "The kind of filter to use.",
                      "enum": [
                        "UNKNOWN",
                        "ALL",
                        "TERMINATED",
                        "ACTIVE"
                      ]
                    },
                    "view": {
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "location": "query",
                      "type": "string",
                      "deprecated": true
                    },
                    "location": {
                      "required": true,
                      "location": "path",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "type": "string"
                    },
                    "name": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The job name."
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The project which owns the jobs."
                    },
                    "pageToken": {
                      "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ]
                }
              },
              "resources": {
                "snapshots": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "response": {
                        "$ref": "ListSnapshotsResponse"
                      },
                      "parameters": {
                        "jobId": {
                          "required": true,
                          "description": "If specified, list snapshots created from this job.",
                          "location": "path",
                          "type": "string"
                        },
                        "projectId": {
                          "description": "The project ID to list snapshots for.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "location": {
                          "location": "path",
                          "description": "The location to list snapshots in.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "id": "dataflow.projects.locations.jobs.snapshots.list",
                      "httpMethod": "GET",
                      "description": "Lists snapshots."
                    }
                  }
                },
                "stages": {
                  "methods": {
                    "getExecutionDetails": {
                      "id": "dataflow.projects.locations.jobs.stages.getExecutionDetails",
                      "response": {
                        "$ref": "StageExecutionDetails"
                      },
                      "description": "Request detailed information about the execution status of a stage of the job. EXPERIMENTAL. This API is subject to change or removal without notice. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job.",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId",
                        "stageId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "parameters": {
                        "startTime": {
                          "description": "Lower time bound of work items to include, by start time.",
                          "format": "google-datetime",
                          "type": "string",
                          "location": "query"
                        },
                        "endTime": {
                          "description": "Upper time bound of work items to include, by start time.",
                          "location": "query",
                          "format": "google-datetime",
                          "type": "string"
                        },
                        "projectId": {
                          "required": true,
                          "description": "A project id.",
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "location": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "If specified, determines the maximum number of work items to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                          "type": "integer",
                          "location": "query"
                        },
                        "jobId": {
                          "description": "The job to get execution details for.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "stageId": {
                          "description": "The stage for which to fetch information.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    }
                  }
                },
                "debug": {
                  "methods": {
                    "sendCapture": {
                      "parameters": {
                        "location": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                        },
                        "jobId": {
                          "location": "path",
                          "type": "string",
                          "description": "The job id.",
                          "required": true
                        },
                        "projectId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "The project id."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "id": "dataflow.projects.locations.jobs.debug.sendCapture",
                      "description": "Send encoded debug capture data for component.",
                      "response": {
                        "$ref": "SendDebugCaptureResponse"
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "request": {
                        "$ref": "SendDebugCaptureRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ]
                    },
                    "getWorkerStacktraces": {
                      "httpMethod": "POST",
                      "description": "Get worker stacktraces from debug capture.",
                      "request": {
                        "$ref": "GetWorkerStacktracesRequest"
                      },
                      "response": {
                        "$ref": "GetWorkerStacktracesResponse"
                      },
                      "parameters": {
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "jobId": {
                          "required": true,
                          "description": "The job for which to get stacktraces.",
                          "location": "path",
                          "type": "string"
                        },
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "description": "The project id.",
                          "required": true
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getWorkerStacktraces",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "id": "dataflow.projects.locations.jobs.debug.getWorkerStacktraces",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getWorkerStacktraces"
                    },
                    "getConfig": {
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "description": "Get encoded debug configuration for component. Not cacheable.",
                      "request": {
                        "$ref": "GetDebugConfigRequest"
                      },
                      "httpMethod": "POST",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "id": "dataflow.projects.locations.jobs.debug.getConfig",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "description": "The project id.",
                          "type": "string",
                          "required": true
                        },
                        "location": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
                        },
                        "jobId": {
                          "required": true,
                          "type": "string",
                          "description": "The job id.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GetDebugConfigResponse"
                      }
                    }
                  }
                },
                "workItems": {
                  "methods": {
                    "lease": {
                      "description": "Leases a dataflow WorkItem to run.",
                      "response": {
                        "$ref": "LeaseWorkItemResponse"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "jobId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Identifies the workflow job this worker belongs to."
                        },
                        "projectId": {
                          "location": "path",
                          "type": "string",
                          "description": "Identifies the project this worker belongs to.",
                          "required": true
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "id": "dataflow.projects.locations.jobs.workItems.lease",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "request": {
                        "$ref": "LeaseWorkItemRequest"
                      }
                    },
                    "reportStatus": {
                      "description": "Reports the status of dataflow WorkItems leased by a worker.",
                      "parameters": {
                        "projectId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "The project which owns the WorkItem's job."
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "jobId": {
                          "type": "string",
                          "location": "path",
                          "description": "The job which the WorkItem is part of.",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "ReportWorkItemStatusResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "id": "dataflow.projects.locations.jobs.workItems.reportStatus",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "request": {
                        "$ref": "ReportWorkItemStatusRequest"
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus"
                    }
                  }
                },
                "messages": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.messages.list` permission on the job.",
                      "id": "dataflow.projects.locations.jobs.messages.list",
                      "response": {
                        "$ref": "ListJobMessagesResponse"
                      },
                      "parameters": {
                        "startTime": {
                          "description": "If specified, return only messages with timestamps >= start_time. The default is the job creation time (i.e. beginning of messages).",
                          "type": "string",
                          "format": "google-datetime",
                          "location": "query"
                        },
                        "jobId": {
                          "type": "string",
                          "location": "path",
                          "description": "The job to get messages about.",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                          "type": "integer"
                        },
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "description": "A project id.",
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "type": "string"
                        },
                        "endTime": {
                          "format": "google-datetime",
                          "type": "string",
                          "description": "Return only messages with timestamps < end_time. The default is now (i.e. return up to the latest messages available).",
                          "location": "query"
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "minimumImportance": {
                          "enum": [
                            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                            "JOB_MESSAGE_DEBUG",
                            "JOB_MESSAGE_DETAILED",
                            "JOB_MESSAGE_BASIC",
                            "JOB_MESSAGE_WARNING",
                            "JOB_MESSAGE_ERROR"
                          ],
                          "type": "string",
                          "description": "Filter to only get messages with importance >= level",
                          "location": "query",
                          "enumDescriptions": [
                            "The message importance isn't specified, or is unknown.",
                            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                          ]
                        }
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ]
                    }
                  }
                }
              }
            },
            "flexTemplates": {
              "methods": {
                "launch": {
                  "description": "Launch a job with a FlexTemplate. # IAM Permissions Requires the following IAM permission(s) on the resource: - `dataflow.jobs.create` - `resourcemanager.projects.get` - `iam.serviceAccounts.actAs` - `storage.buckets.get` - `storage.buckets.create` (Required if the default staging bucket must be created)",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "httpMethod": "POST",
                  "id": "dataflow.projects.locations.flexTemplates.launch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "location": {
                      "description": "Required. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request. E.g., us-central1, us-west1.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                    }
                  },
                  "response": {
                    "$ref": "LaunchFlexTemplateResponse"
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/flexTemplates:launch",
                  "request": {
                    "$ref": "LaunchFlexTemplateRequest"
                  }
                }
              }
            },
            "configStoreSettings": {
              "methods": {
                "resolve": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the setting to resolve.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}:resolve",
                  "path": "v1b3/{+name}:resolve",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ResolveConfigStoreSettingResponse"
                  },
                  "description": "Resolves effective value of a ConfigStoreSetting.",
                  "request": {
                    "$ref": "ResolveConfigStoreSettingRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dataflow.projects.locations.configStoreSettings.resolve"
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1b3/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the ConfigStoreSetting to delete.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$"
                    }
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Deletes an existing ConfigStoreSetting.",
                  "id": "dataflow.projects.locations.configStoreSettings.delete"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Gets a ConfigStoreSetting.",
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "path": "v1b3/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings/{configStoreSettingsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/configStoreSettings/[^/]+$",
                      "description": "Required. The name of the ConfigStoreSetting to retrieve.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "dataflow.projects.locations.configStoreSettings.get"
                },
                "list": {
                  "description": "Lists ConfigStoreSettings.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "response": {
                    "$ref": "ListConfigStoreSettingsResponse"
                  },
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListConfigStoreSettings` call.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource whose settings are being listed."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of settings to return.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings",
                  "id": "dataflow.projects.locations.configStoreSettings.list"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectsId}/locations/{locationsId}/configStoreSettings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new ConfigStoreSetting.",
                  "response": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "id": "dataflow.projects.locations.configStoreSettings.create",
                  "parameters": {
                    "configStoreSettingId": {
                      "location": "query",
                      "description": "Required. The ID to use for the setting.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource where this setting will be created.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1b3/{+parent}/configStoreSettings",
                  "request": {
                    "$ref": "ConfigStoreSetting"
                  },
                  "httpMethod": "POST"
                }
              }
            },
            "templates": {
              "methods": {
                "get": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Get the template associated with a template. To get the template, we recommend using `projects.locations.templates.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.get` is not recommended, because only templates that are running in `us-central1` are retrieved. # IAM Permissions Requires the `resourcemanager.projects.get` permission on the project.",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "id": "dataflow.projects.locations.templates.get",
                  "parameters": {
                    "gcsPath": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'."
                    },
                    "location": {
                      "type": "string",
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "location": "path"
                    },
                    "projectId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to."
                    },
                    "view": {
                      "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "METADATA_ONLY"
                      ],
                      "enumDescriptions": [
                        "Template view that retrieves only the metadata associated with the template."
                      ]
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "response": {
                    "$ref": "GetTemplateResponse"
                  }
                },
                "create": {
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "location": {
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API. To create a job, we recommend using `projects.locations.templates.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.create` is not recommended, because your job will always start in `us-central1`. # IAM Permissions Requires the following IAM permission(s) on the project: - `dataflow.jobs.create` - `resourcemanager.projects.get`",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "request": {
                    "$ref": "CreateJobFromTemplateRequest"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "id": "dataflow.projects.locations.templates.create"
                },
                "launch": {
                  "id": "dataflow.projects.locations.templates.launch",
                  "response": {
                    "$ref": "LaunchTemplateResponse"
                  },
                  "description": "Launches a template. To launch a template, we recommend using `projects.locations.templates.launch` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.launch` is not recommended, because jobs launched from the template will always start in `us-central1`. # IAM Permissions Requires the following IAM permission(s) on the project: - `dataflow.jobs.create` - `resourcemanager.projects.get`",
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If true, the request is validated but not actually executed. Defaults to false.",
                      "location": "query"
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path"
                    },
                    "location": {
                      "required": true,
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "location": "path"
                    },
                    "dynamicTemplate.gcsPath": {
                      "location": "query",
                      "type": "string",
                      "description": "Path to the dynamic template specification file on Cloud Storage. The file must be a JSON serialized `DynamicTemplateFileSpec` object."
                    },
                    "dynamicTemplate.stagingLocation": {
                      "type": "string",
                      "location": "query",
                      "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`."
                    },
                    "gcsPath": {
                      "type": "string",
                      "location": "query",
                      "description": "A Cloud Storage path to the template to use to create the job. Must be valid Cloud Storage URL, beginning with `gs://`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "request": {
                    "$ref": "LaunchTemplateParameters"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "httpMethod": "POST"
                }
              }
            }
          }
        },
        "jobs": {
          "resources": {
            "debug": {
              "methods": {
                "sendCapture": {
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "id": "dataflow.projects.jobs.debug.sendCapture",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "The project id.",
                      "type": "string",
                      "required": true
                    },
                    "jobId": {
                      "type": "string",
                      "required": true,
                      "description": "The job id.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Send encoded debug capture data for component.",
                  "response": {
                    "$ref": "SendDebugCaptureResponse"
                  },
                  "request": {
                    "$ref": "SendDebugCaptureRequest"
                  }
                },
                "getConfig": {
                  "response": {
                    "$ref": "GetDebugConfigResponse"
                  },
                  "id": "dataflow.projects.jobs.debug.getConfig",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "request": {
                    "$ref": "GetDebugConfigRequest"
                  },
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "jobId": {
                      "required": true,
                      "description": "The job id.",
                      "type": "string",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "The project id.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Get encoded debug configuration for component. Not cacheable.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig"
                }
              }
            },
            "messages": {
              "methods": {
                "list": {
                  "id": "dataflow.projects.jobs.messages.list",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.messages.list` permission on the job.",
                  "response": {
                    "$ref": "ListJobMessagesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "parameters": {
                    "endTime": {
                      "format": "google-datetime",
                      "description": "Return only messages with timestamps < end_time. The default is now (i.e. return up to the latest messages available).",
                      "type": "string",
                      "location": "query"
                    },
                    "location": {
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "query"
                    },
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "description": "A project id.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned."
                    },
                    "jobId": {
                      "required": true,
                      "description": "The job to get messages about.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "minimumImportance": {
                      "description": "Filter to only get messages with importance >= level",
                      "enum": [
                        "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                        "JOB_MESSAGE_DEBUG",
                        "JOB_MESSAGE_DETAILED",
                        "JOB_MESSAGE_BASIC",
                        "JOB_MESSAGE_WARNING",
                        "JOB_MESSAGE_ERROR"
                      ],
                      "enumDescriptions": [
                        "The message importance isn't specified, or is unknown.",
                        "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                        "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                      ],
                      "type": "string",
                      "location": "query"
                    },
                    "startTime": {
                      "description": "If specified, return only messages with timestamps >= start_time. The default is the job creation time (i.e. beginning of messages).",
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/messages"
                }
              }
            },
            "workItems": {
              "methods": {
                "lease": {
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "response": {
                    "$ref": "LeaseWorkItemResponse"
                  },
                  "description": "Leases a dataflow WorkItem to run.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "httpMethod": "POST",
                  "id": "dataflow.projects.jobs.workItems.lease",
                  "request": {
                    "$ref": "LeaseWorkItemRequest"
                  },
                  "parameters": {
                    "jobId": {
                      "description": "Identifies the workflow job this worker belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string",
                      "location": "path",
                      "description": "Identifies the project this worker belongs to.",
                      "required": true
                    }
                  }
                },
                "reportStatus": {
                  "id": "dataflow.projects.jobs.workItems.reportStatus",
                  "httpMethod": "POST",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "The project which owns the WorkItem's job.",
                      "location": "path"
                    },
                    "jobId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The job which the WorkItem is part of."
                    }
                  },
                  "response": {
                    "$ref": "ReportWorkItemStatusResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Reports the status of dataflow WorkItems leased by a worker.",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "request": {
                    "$ref": "ReportWorkItemStatusRequest"
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus"
                }
              }
            }
          },
          "methods": {
            "getMetrics": {
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "id": "dataflow.projects.jobs.getMetrics",
              "response": {
                "$ref": "JobMetrics"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.metrics.get` permission on the job.",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "parameters": {
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                  "location": "query",
                  "type": "string"
                },
                "jobId": {
                  "type": "string",
                  "description": "The job to get metrics for.",
                  "location": "path",
                  "required": true
                },
                "projectId": {
                  "description": "A project id.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "startTime": {
                  "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                  "location": "query",
                  "format": "google-datetime",
                  "type": "string"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "httpMethod": "GET"
            },
            "get": {
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`. # IAM Permissions Requires the `dataflow.jobs.get` permission on the job.",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "parameters": {
                "jobId": {
                  "location": "path",
                  "required": true,
                  "description": "The job ID.",
                  "type": "string"
                },
                "view": {
                  "type": "string",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "description": "The level of information requested in response."
                },
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path"
                },
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "httpMethod": "GET",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "id": "dataflow.projects.jobs.get",
              "response": {
                "$ref": "Job"
              }
            },
            "snapshot": {
              "parameters": {
                "jobId": {
                  "type": "string",
                  "required": true,
                  "description": "The job to be snapshotted.",
                  "location": "path"
                },
                "projectId": {
                  "required": true,
                  "description": "The project which owns the job to be snapshotted.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "dataflow.projects.jobs.snapshot",
              "response": {
                "$ref": "Snapshot"
              },
              "path": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "httpMethod": "POST",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Snapshot the state of a streaming job. # IAM Permissions Requires the `dataflow.jobs.snapshot` permission on the job.",
              "request": {
                "$ref": "SnapshotJobRequest"
              },
              "parameterOrder": [
                "projectId",
                "jobId"
              ]
            },
            "update": {
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "request": {
                "$ref": "Job"
              },
              "httpMethod": "PUT",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask.",
                  "type": "string"
                },
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the Cloud Platform project that the job belongs to."
                },
                "location": {
                  "type": "string",
                  "location": "query",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
                },
                "jobId": {
                  "required": true,
                  "type": "string",
                  "description": "The job ID.",
                  "location": "path"
                }
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "response": {
                "$ref": "Job"
              },
              "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`. # IAM Permissions 1. Requires the `dataflow.jobs.cancel` permission to cancel a job. 2. Requires the `dataflow.jobs.updateContents` permission to update runtime parameters.",
              "id": "dataflow.projects.jobs.update"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "response": {
                "$ref": "Job"
              },
              "httpMethod": "POST",
              "parameters": {
                "view": {
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "description": "The level of information requested in response.",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "location": "path",
                  "type": "string",
[...]
