{
  "kind": "discovery#restDescription",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "schemas": {
    "IntegerList": {
      "type": "object",
      "description": "A metric value representing a list of integers.",
      "properties": {
        "elements": {
          "type": "array",
          "items": {
            "$ref": "SplitInt64"
          },
          "description": "Elements of the list."
        }
      },
      "id": "IntegerList"
    },
    "DataSamplingConfig": {
      "id": "DataSamplingConfig",
      "properties": {
        "behaviors": {
          "description": "List of given sampling behaviors to enable. For example, specifying behaviors = [ALWAYS_ON] samples in-flight elements but does not sample exceptions. Can be used to specify multiple behaviors like, behaviors = [ALWAYS_ON, EXCEPTIONS] for specifying periodic sampling and exception sampling. If DISABLED is in the list, then sampling will be disabled and ignore the other given behaviors. Ordering does not matter.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "DATA_SAMPLING_BEHAVIOR_UNSPECIFIED",
              "DISABLED",
              "ALWAYS_ON",
              "EXCEPTIONS"
            ],
            "enumDescriptions": [
              "If given, has no effect on sampling behavior. Used as an unknown or unset sentinel value.",
              "When given, disables element sampling. Has same behavior as not setting the behavior.",
              "When given, enables sampling in-flight from all PCollections.",
              "When given, enables sampling input elements when a user-defined DoFn causes an exception."
            ]
          }
        }
      },
      "type": "object",
      "description": "Configuration options for sampling elements."
    },
    "DebugOptions": {
      "id": "DebugOptions",
      "properties": {
        "enableHotKeyLogging": {
          "type": "boolean",
          "description": "Optional. When true, enables the logging of the literal hot key to the user's Cloud Logging."
        },
        "dataSampling": {
          "$ref": "DataSamplingConfig",
          "description": "Configuration options for sampling elements from a running pipeline."
        }
      },
      "type": "object",
      "description": "Describes any options that have an effect on the debugging of pipelines."
    },
    "HotKeyInfo": {
      "id": "HotKeyInfo",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "A detected hot key that is causing limited parallelism. This field will be populated only if the following flag is set to true: \"--enable_hot_key_logging\"."
        },
        "hotKeyAge": {
          "description": "The age of the hot key measured from when it was first detected.",
          "type": "string",
          "format": "google-duration"
        },
        "keyTruncated": {
          "type": "boolean",
          "description": "If true, then the above key is truncated and cannot be deserialized. This occurs if the key above is populated and the key size is >5MB."
        }
      },
      "description": "Information about a hot key."
    },
    "ResolveConfigStoreSettingResponse": {
      "id": "ResolveConfigStoreSettingResponse",
      "properties": {
        "setting": {
          "description": "The dry-run setting result.",
          "$ref": "ConfigStoreSetting"
        },
        "choices": {
          "type": "array",
          "description": "The list of settings that were considered during resolution.",
          "items": {
            "$ref": "ConfigStoreSetting"
          }
        }
      },
      "type": "object",
      "description": "Response message for ResolveConfigStoreSetting."
    },
    "PubsubLocation": {
      "properties": {
        "idLabel": {
          "description": "If set, contains a pubsub label from which to extract record ids. If left empty, record deduplication will be strictly best effort.",
          "type": "string"
        },
        "topic": {
          "description": "A pubsub topic, in the form of \"pubsub.googleapis.com/topics//\"",
          "type": "string"
        },
        "dropLateData": {
          "description": "Indicates whether the pipeline allows late-arriving data.",
          "type": "boolean"
        },
        "trackingSubscription": {
          "description": "If set, specifies the pubsub subscription that will be used for tracking custom time timestamps for watermark estimation.",
          "type": "string"
        },
        "withAttributes": {
          "type": "boolean",
          "description": "If true, then the client has requested to get pubsub attributes."
        },
        "dynamicDestinations": {
          "description": "If true, then this location represents dynamic topics.",
          "type": "boolean"
        },
        "timestampLabel": {
          "type": "string",
          "description": "If set, contains a pubsub label from which to extract record timestamps. If left empty, record timestamps will be generated upon arrival."
        },
        "subscription": {
          "type": "string",
          "description": "A pubsub subscription, in the form of \"pubsub.googleapis.com/subscriptions//\""
        }
      },
      "id": "PubsubLocation",
      "description": "Identifies a pubsub location to use for transferring data into or out of a streaming Dataflow job.",
      "type": "object"
    },
    "StragglerInfo": {
      "description": "Information useful for straggler identification and debugging.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "The time when the work item attempt became a straggler.",
          "type": "string"
        },
        "causes": {
          "description": "The straggler causes, keyed by the string representation of the StragglerCause enum and contains specialized debugging information for each straggler cause.",
          "additionalProperties": {
            "$ref": "StragglerDebuggingInfo"
          },
          "type": "object"
        }
      },
      "id": "StragglerInfo",
      "type": "object"
    },
    "CustomSourceLocation": {
      "id": "CustomSourceLocation",
      "properties": {
        "stateful": {
          "type": "boolean",
          "description": "Whether this source is stateful."
        }
      },
      "type": "object",
      "description": "Identifies the location of a custom souce."
    },
    "JobExecutionDetails": {
      "id": "JobExecutionDetails",
      "description": "Information about the execution of a job.",
      "type": "object",
      "properties": {
        "stages": {
          "description": "The stages of the job execution.",
          "type": "array",
          "items": {
            "$ref": "StageSummary"
          }
        },
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "SdkVersion": {
      "description": "The version of the SDK used to run the job.",
      "type": "object",
      "id": "SdkVersion",
      "properties": {
        "version": {
          "description": "The version of the SDK used to run the job.",
          "type": "string"
        },
        "sdkSupportStatus": {
          "description": "The support status for this SDK version.",
          "enum": [
            "UNKNOWN",
            "SUPPORTED",
            "STALE",
            "DEPRECATED",
            "UNSUPPORTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Cloud Dataflow is unaware of this version.",
            "This is a known version of an SDK, and is supported.",
            "A newer version of the SDK family exists, and an update is recommended.",
            "This version of the SDK is deprecated and will eventually be unsupported.",
            "Support for this SDK version has ended and it should no longer be used."
          ]
        },
        "bugs": {
          "type": "array",
          "items": {
            "$ref": "SdkBug"
          },
          "description": "Output only. Known bugs found in this SDK version.",
          "readOnly": true
        },
        "versionDisplayName": {
          "description": "A readable string describing the version of the SDK.",
          "type": "string"
        }
      }
    },
    "FileIODetails": {
      "id": "FileIODetails",
      "type": "object",
      "properties": {
        "filePattern": {
          "description": "File Pattern used to access files by the connector.",
          "type": "string"
        }
      },
      "description": "Metadata for a File connector used by the job."
    },
    "MetricShortId": {
      "id": "MetricShortId",
      "type": "object",
      "properties": {
        "shortId": {
          "type": "string",
          "format": "int64",
          "description": "The service-generated short identifier for the metric."
        },
        "metricIndex": {
          "type": "integer",
          "description": "The index of the corresponding metric in the ReportWorkItemStatusRequest. Required.",
          "format": "int32"
        }
      },
      "description": "The metric short id is returned to the user alongside an offset into ReportWorkItemStatusRequest"
    },
    "PerWorkerMetrics": {
      "type": "object",
      "description": "Per worker metrics.",
      "properties": {
        "perStepNamespaceMetrics": {
          "type": "array",
          "items": {
            "$ref": "PerStepNamespaceMetrics"
          },
          "description": "Optional. Metrics for a particular unfused step and namespace."
        }
      },
      "id": "PerWorkerMetrics"
    },
    "DynamicSourceSplit": {
      "id": "DynamicSourceSplit",
      "type": "object",
      "properties": {
        "primary": {
          "$ref": "DerivedSource",
          "description": "Primary part (continued to be processed by worker). Specified relative to the previously-current source. Becomes current."
        },
        "residual": {
          "description": "Residual part (returned to the pool of work). Specified relative to the previously-current source.",
          "$ref": "DerivedSource"
        }
      },
      "description": "When a task splits using WorkItemStatus.dynamic_source_split, this message describes the two parts of the split relative to the description of the current task's input."
    },
    "HotKeyDetection": {
      "type": "object",
      "properties": {
        "userStepName": {
          "type": "string",
          "description": "User-provided name of the step that contains this hot key."
        },
        "systemName": {
          "description": "System-defined name of the step containing this hot key. Unique across the workflow.",
          "type": "string"
        },
        "hotKeyAge": {
          "format": "google-duration",
          "type": "string",
          "description": "The age of the hot key measured from when it was first detected."
        }
      },
      "description": "Proto describing a hot key detected on a given WorkItem.",
      "id": "HotKeyDetection"
    },
    "ParDoInstruction": {
      "description": "An instruction that does a ParDo operation. Takes one main input and zero or more side inputs, and produces zero or more outputs. Runs user code.",
      "properties": {
        "sideInputs": {
          "description": "Zero or more side inputs.",
          "type": "array",
          "items": {
            "$ref": "SideInputInfo"
          }
        },
        "multiOutputInfos": {
          "description": "Information about each of the outputs, if user_fn is a MultiDoFn.",
          "items": {
            "$ref": "MultiOutputInfo"
          },
          "type": "array"
        },
        "userFn": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The user function to invoke."
        },
        "numOutputs": {
          "format": "int32",
          "description": "The number of outputs.",
          "type": "integer"
        },
        "input": {
          "$ref": "InstructionInput",
          "description": "The input."
        }
      },
      "id": "ParDoInstruction",
      "type": "object"
    },
    "Straggler": {
      "type": "object",
      "id": "Straggler",
      "properties": {
        "batchStraggler": {
          "description": "Batch straggler identification and debugging information.",
          "$ref": "StragglerInfo"
        },
        "streamingStraggler": {
          "description": "Streaming straggler identification and debugging information.",
          "$ref": "StreamingStragglerInfo"
        }
      },
      "description": "Information for a straggler."
    },
    "CPUTime": {
      "properties": {
        "timestamp": {
          "type": "string",
          "description": "Timestamp of the measurement.",
          "format": "google-datetime"
        },
        "rate": {
          "description": "Average CPU utilization rate (% non-idle cpu / second) since previous sample.",
          "type": "number",
          "format": "double"
        },
        "totalMs": {
          "format": "uint64",
          "description": "Total active CPU time across all cores (ie., non-idle) in milliseconds since start-up.",
          "type": "string"
        }
      },
      "description": "Modeled after information exposed by /proc/stat.",
      "id": "CPUTime",
      "type": "object"
    },
    "ReportWorkItemStatusRequest": {
      "type": "object",
      "properties": {
        "workItemStatuses": {
          "type": "array",
          "items": {
            "$ref": "WorkItemStatus"
          },
          "description": "The order is unimportant, except that the order of the WorkItemServiceState messages in the ReportWorkItemStatusResponse corresponds to the order of WorkItemStatus messages here."
        },
        "currentWorkerTime": {
          "format": "google-datetime",
          "description": "The current timestamp at the worker.",
          "type": "string"
        },
        "unifiedWorkerRequest": {
          "type": "object",
          "description": "Untranslated bag-of-bytes WorkProgressUpdateRequest from UnifiedWorker.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "workerId": {
          "type": "string",
          "description": "The ID of the worker reporting the WorkItem status. If this does not match the ID of the worker which the Dataflow service believes currently has the lease on the WorkItem, the report will be dropped (with an error response)."
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
          "type": "string"
        },
        "projectNumber": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The project number of the project which owns the WorkItem's job."
        }
      },
      "id": "ReportWorkItemStatusRequest",
      "description": "Request to report the status of WorkItems."
    },
    "StreamingSetupTask": {
      "type": "object",
      "id": "StreamingSetupTask",
      "properties": {
        "snapshotConfig": {
          "$ref": "StreamingApplianceSnapshotConfig",
          "description": "Configures streaming appliance snapshot."
        },
        "workerHarnessPort": {
          "description": "The TCP port used by the worker to communicate with the Dataflow worker harness.",
          "format": "int32",
          "type": "integer"
        },
        "receiveWorkPort": {
          "description": "The TCP port on which the worker should listen for messages from other streaming computation workers.",
          "type": "integer",
          "format": "int32"
        },
        "streamingComputationTopology": {
          "$ref": "TopologyConfig",
          "description": "The global topology of the streaming Dataflow job."
        },
        "drain": {
          "description": "The user has requested drain.",
          "type": "boolean"
        }
      },
      "description": "A task which initializes part of a streaming Dataflow job."
    },
    "Step": {
      "properties": {
        "properties": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Named properties associated with the step. Each kind of predefined step has its own required set of properties. Must be provided on Create. Only retrieved with JOB_VIEW_ALL."
        },
        "kind": {
          "description": "The kind of step in the Cloud Dataflow job.",
          "type": "string"
        },
        "name": {
          "description": "The name that identifies the step. This must be unique for each step with respect to all other steps in the Cloud Dataflow job.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Step",
      "description": "Defines a particular step within a Cloud Dataflow job. A job consists of multiple steps, each of which performs some specific operation as part of the overall job. Data is typically passed from one step to another as part of the job. **Note:** The properties of this object are not stable and might change. Here's an example of a sequence of steps which together implement a Map-Reduce job: * Read a collection of data from some source, parsing the collection's elements. * Validate the elements. * Apply a user-defined function to map each element to some value and extract an element-specific key value. * Group elements with the same key into a single element with that key, transforming a multiply-keyed collection into a uniquely-keyed collection. * Write the elements out to some data sink. Note that the Cloud Dataflow service may be used to run many different types of jobs, not just Map-Reduce."
    },
    "ConcatPosition": {
      "properties": {
        "position": {
          "$ref": "Position",
          "description": "Position within the inner source."
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "Index of the inner source."
        }
      },
      "description": "A position that encapsulates an inner position and an index for the inner position. A ConcatPosition can be used by a reader of a source that encapsulates a set of other sources.",
      "type": "object",
      "id": "ConcatPosition"
    },
    "StreamingConfigTask": {
      "properties": {
        "getDataStreamChunkSizeBytes": {
          "description": "Chunk size for get data streams from the harness to windmill.",
          "type": "string",
          "format": "int64"
        },
        "userStepToStateFamilyNameMap": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map from user step names to state families.",
          "type": "object"
        },
        "windmillServicePort": {
          "type": "string",
          "description": "If present, the worker must use this port to communicate with Windmill Service dispatchers. Only applicable when windmill_service_endpoint is specified.",
          "format": "int64"
        },
        "streamingEngineStateTagEncodingVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The state tag encoding format version for streaming engine jobs."
        },
        "userWorkerRunnerV2Settings": {
          "type": "string",
          "description": "Binary encoded proto to control runtime behavior of the runner v2 user worker.",
          "format": "byte"
        },
        "commitStreamChunkSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Chunk size for commit streams from the harness to windmill."
        },
        "operationalLimits": {
          "description": "Operational limits for the streaming job. Can be used by the worker to validate outputs sent to the backend.",
          "$ref": "StreamingOperationalLimits"
        },
        "maxWorkItemCommitBytes": {
          "description": "Maximum size for work item commit supported windmill storage layer.",
          "format": "int64",
          "type": "string"
        },
        "streamingComputationConfigs": {
          "type": "array",
          "description": "Set of computation configuration information.",
          "items": {
            "$ref": "StreamingComputationConfig"
          }
        },
        "windmillServiceEndpoint": {
          "type": "string",
          "description": "If present, the worker must use this endpoint to communicate with Windmill Service dispatchers, otherwise the worker must continue to use whatever endpoint it had been using."
        },
        "userWorkerRunnerV1Settings": {
          "format": "byte",
          "type": "string",
          "description": "Binary encoded proto to control runtime behavior of the java runner v1 user worker."
        }
      },
      "description": "A task that carries configuration information for streaming computations.",
      "id": "StreamingConfigTask",
      "type": "object"
    },
    "SourceGetMetadataResponse": {
      "id": "SourceGetMetadataResponse",
      "description": "The result of a SourceGetMetadataOperation.",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "SourceMetadata",
          "description": "The computed metadata."
        }
      }
    },
    "ListSnapshotsResponse": {
      "properties": {
        "snapshots": {
          "description": "Returned snapshots.",
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array"
        }
      },
      "description": "List of snapshots.",
      "type": "object",
      "id": "ListSnapshotsResponse"
    },
    "TopologyConfig": {
      "description": "Global topology of the streaming Dataflow job, including all computations and their sharded locations.",
      "properties": {
        "persistentStateVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Version number for persistent state."
        },
        "forwardingKeyBits": {
          "description": "The size (in bits) of keys that will be assigned to source messages.",
          "type": "integer",
          "format": "int32"
        },
        "userStageToComputationNameMap": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Maps user stage names to stable computation names."
        },
        "computations": {
          "description": "The computations associated with a streaming Dataflow job.",
          "items": {
            "$ref": "ComputationTopology"
          },
          "type": "array"
        },
        "dataDiskAssignments": {
          "items": {
            "$ref": "DataDiskAssignment"
          },
          "description": "The disks assigned to a streaming Dataflow job.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "TopologyConfig"
    },
    "ReadInstruction": {
      "type": "object",
      "description": "An instruction that reads records. Takes no inputs, produces one output.",
      "id": "ReadInstruction",
      "properties": {
        "source": {
          "description": "The source to read from.",
          "$ref": "Source"
        }
      }
    },
    "SdkHarnessContainerImage": {
      "id": "SdkHarnessContainerImage",
      "description": "Defines an SDK harness container for executing Dataflow pipelines.",
      "type": "object",
      "properties": {
        "capabilities": {
          "description": "The set of capabilities enumerated in the above Environment proto. See also [beam_runner_api.proto](https://github.com/apache/beam/blob/master/model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto)",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "useSingleCorePerContainer": {
          "type": "boolean",
          "description": "If true, recommends the Dataflow service to use only one core per SDK container instance with this image. If false (or unset) recommends using more than one core per SDK container instance with this image for efficiency. Note that Dataflow service may choose to override this property if needed."
        },
        "containerImage": {
          "description": "A docker container image that resides in Google Container Registry.",
          "type": "string"
        },
        "environmentId": {
          "description": "Environment ID for the Beam runner API proto Environment that corresponds to the current SDK Harness.",
          "type": "string"
        }
      }
    },
    "LaunchFlexTemplateRequest": {
      "description": "A request to launch a Cloud Dataflow job from a FlexTemplate.",
      "properties": {
        "launchParameter": {
          "$ref": "LaunchFlexTemplateParameter",
          "description": "Required. Parameter to launch a job form Flex Template."
        },
        "validateOnly": {
          "description": "If true, the request is validated but not actually executed. Defaults to false.",
          "type": "boolean"
        }
      },
      "id": "LaunchFlexTemplateRequest",
      "type": "object"
    },
    "StreamingComputationTask": {
      "type": "object",
      "description": "A task which describes what action should be performed for the specified streaming computation ranges.",
      "properties": {
        "computationRanges": {
          "type": "array",
          "items": {
            "$ref": "StreamingComputationRanges"
          },
          "description": "Contains ranges of a streaming computation this task should apply to."
        },
        "dataDisks": {
          "type": "array",
          "items": {
            "$ref": "MountedDataDisk"
          },
          "description": "Describes the set of data disks this task should apply to."
        },
        "taskType": {
          "description": "A type of streaming computation task.",
          "enum": [
            "STREAMING_COMPUTATION_TASK_UNKNOWN",
            "STREAMING_COMPUTATION_TASK_STOP",
            "STREAMING_COMPUTATION_TASK_START"
          ],
          "type": "string",
          "enumDescriptions": [
            "The streaming computation task is unknown, or unspecified.",
            "Stop processing specified streaming computation range(s).",
            "Start processing specified streaming computation range(s)."
          ]
        }
      },
      "id": "StreamingComputationTask"
    },
    "ListJobMessagesResponse": {
      "type": "object",
      "description": "Response to a request to list job messages.",
      "properties": {
        "nextPageToken": {
          "description": "The token to obtain the next page of results if there are more.",
          "type": "string"
        },
        "autoscalingEvents": {
          "description": "Autoscaling events in ascending timestamp order.",
          "type": "array",
          "items": {
            "$ref": "AutoscalingEvent"
          }
        },
        "jobMessages": {
          "description": "Messages in ascending timestamp order.",
          "type": "array",
          "items": {
            "$ref": "JobMessage"
          }
        }
      },
      "id": "ListJobMessagesResponse"
    },
    "SDKInfo": {
      "type": "object",
      "description": "SDK Information.",
      "properties": {
        "version": {
          "description": "Optional. The SDK version.",
          "type": "string"
        },
        "language": {
          "type": "string",
          "description": "Required. The SDK Language.",
          "enum": [
            "UNKNOWN",
            "JAVA",
            "PYTHON",
            "GO",
            "YAML"
          ],
          "enumDescriptions": [
            "UNKNOWN Language.",
            "Java.",
            "Python.",
            "Go.",
            "YAML."
          ]
        }
      },
      "id": "SDKInfo"
    },
    "AutoscalingSettings": {
      "properties": {
        "algorithm": {
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "type": "string",
          "description": "The algorithm to use for autoscaling.",
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ]
        },
        "maxNumWorkers": {
          "description": "The maximum number of workers to cap scaling at.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Settings for WorkerPool autoscaling.",
      "id": "AutoscalingSettings",
      "type": "object"
    },
    "ParameterMetadataEnumOption": {
      "description": "ParameterMetadataEnumOption specifies the option shown in the enum form.",
      "properties": {
        "description": {
          "description": "Optional. The description to display for the enum option.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the enum option."
        },
        "label": {
          "description": "Optional. The label to display for the enum option.",
          "type": "string"
        }
      },
      "id": "ParameterMetadataEnumOption",
      "type": "object"
    },
    "GPUUsage": {
      "type": "object",
      "properties": {
        "timestamp": {
          "format": "google-datetime",
          "description": "Required. Timestamp of the measurement.",
          "type": "string"
        },
        "utilization": {
          "description": "Required. Utilization info about the GPU.",
          "$ref": "GPUUtilization"
        }
      },
      "description": "Information about the GPU usage on the worker.",
      "id": "GPUUsage"
    },
    "AutoscalingEvent": {
      "properties": {
        "description": {
          "description": "A message describing why the system decided to adjust the current number of workers, why it failed, or why the system decided to not make any changes to the number of workers.",
          "$ref": "StructuredMessage"
        },
        "eventType": {
          "type": "string",
          "enum": [
            "TYPE_UNKNOWN",
            "TARGET_NUM_WORKERS_CHANGED",
            "CURRENT_NUM_WORKERS_CHANGED",
            "ACTUATION_FAILURE",
            "NO_CHANGE"
          ],
          "enumDescriptions": [
            "Default type for the enum. Value should never be returned.",
            "The TARGET_NUM_WORKERS_CHANGED type should be used when the target worker pool size has changed at the start of an actuation. An event should always be specified as TARGET_NUM_WORKERS_CHANGED if it reflects a change in the target_num_workers.",
            "The CURRENT_NUM_WORKERS_CHANGED type should be used when actual worker pool size has been changed, but the target_num_workers has not changed.",
            "The ACTUATION_FAILURE type should be used when we want to report an error to the user indicating why the current number of workers in the pool could not be changed. Displayed in the current status and history widgets.",
            "Used when we want to report to the user a reason why we are not currently adjusting the number of workers. Should specify both target_num_workers, current_num_workers and a decision_message."
          ],
          "description": "The type of autoscaling event to report."
        },
        "currentNumWorkers": {
          "type": "string",
          "description": "The current number of workers the job has.",
          "format": "int64"
        },
        "time": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this event was emitted to indicate a new target or current num_workers value."
        },
        "workerPool": {
          "description": "A short and friendly name for the worker pool this event refers to.",
          "type": "string"
        },
        "targetNumWorkers": {
          "description": "The target number of workers the worker pool wants to resize to use.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A structured message reporting an autoscaling decision made by the Dataflow service.",
      "id": "AutoscalingEvent",
      "type": "object"
    },
    "SpannerIODetails": {
      "properties": {
        "instanceId": {
          "description": "InstanceId accessed in the connection.",
          "type": "string"
        },
        "databaseId": {
          "description": "DatabaseId accessed in the connection.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        }
      },
      "type": "object",
      "id": "SpannerIODetails",
      "description": "Metadata for a Spanner connector used by the job."
    },
    "Histogram": {
      "type": "object",
      "description": "Histogram of value counts for a distribution. Buckets have an inclusive lower bound and exclusive upper bound and use \"1,2,5 bucketing\": The first bucket range is from [0,1) and all subsequent bucket boundaries are powers of ten multiplied by 1, 2, or 5. Thus, bucket boundaries are 0, 1, 2, 5, 10, 20, 50, 100, 200, 500, 1000, ... Negative values are not supported.",
      "id": "Histogram",
      "properties": {
        "bucketCounts": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Counts of values in each bucket. For efficiency, prefix and trailing buckets with count = 0 are elided. Buckets can store the full range of values of an unsigned long, with ULLONG_MAX falling into the 59th bucket with range [1e19, 2e19)."
        },
        "firstBucketOffset": {
          "description": "Starting index of first stored bucket. The non-inclusive upper-bound of the ith bucket is given by: pow(10,(i-first_bucket_offset)/3) * (1,2,5)[(i-first_bucket_offset)%3]",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "SourceSplitShard": {
      "type": "object",
      "properties": {
        "derivationMode": {
          "type": "string",
          "enumDescriptions": [
            "The source derivation is unknown, or unspecified.",
            "Produce a completely independent Source with no base.",
            "Produce a Source based on the Source being split.",
            "Produce a Source based on the base of the Source being split."
          ],
          "enum": [
            "SOURCE_DERIVATION_MODE_UNKNOWN",
            "SOURCE_DERIVATION_MODE_INDEPENDENT",
            "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
            "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
          ],
          "description": "DEPRECATED"
        },
        "source": {
          "description": "DEPRECATED",
          "$ref": "Source"
        }
      },
      "description": "DEPRECATED in favor of DerivedSource.",
      "id": "SourceSplitShard"
    },
    "MetricValue": {
      "type": "object",
      "id": "MetricValue",
      "properties": {
        "metricLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of metric labels for this metric."
        },
        "valueInt64": {
          "type": "string",
          "format": "int64",
          "description": "Integer value of this metric."
        },
        "valueGauge64": {
          "description": "Non-cumulative int64 value of this metric.",
          "$ref": "DataflowGaugeValue"
        },
        "valueHistogram": {
          "description": "Histogram value of this metric.",
          "$ref": "DataflowHistogramValue"
        },
        "metric": {
          "description": "Base name for this metric.",
          "type": "string"
        }
      },
      "description": "The value of a metric along with its name and labels."
    },
    "ComponentSource": {
      "properties": {
        "originalTransformOrCollection": {
          "type": "string",
          "description": "User name for the original user transform or collection with which this source is most closely associated."
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "Human-readable name for this transform; may be user or system generated."
        }
      },
      "id": "ComponentSource",
      "type": "object",
      "description": "Description of an interstitial value between transforms in an execution stage."
    },
    "BigTableIODetails": {
      "id": "BigTableIODetails",
      "type": "object",
      "properties": {
        "tableId": {
          "type": "string",
          "description": "TableId accessed in the connection."
        },
        "instanceId": {
          "description": "InstanceId accessed in the connection.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "ProjectId accessed in the connection."
        }
      },
      "description": "Metadata for a Cloud Bigtable connector used by the job."
    },
    "BoundedTrieNode": {
      "id": "BoundedTrieNode",
      "description": "A single node in a BoundedTrie.",
      "properties": {
        "truncated": {
          "type": "boolean",
          "description": "Whether this node has been truncated. A truncated leaf represents possibly many children with the same prefix."
        },
        "children": {
          "description": "Children of this node. Must be empty if truncated is true.",
          "type": "object",
          "additionalProperties": {
            "$ref": "BoundedTrieNode"
          }
        }
      },
      "type": "object"
    },
    "Linear": {
      "description": "Linear buckets with the following boundaries for indices in 0 to n-1. - i in [0, n-1]: [start + (i)*width, start + (i+1)*width)",
      "properties": {
        "width": {
          "format": "double",
          "description": "Distance between bucket boundaries. Must be greater than 0.",
          "type": "number"
        },
        "numberOfBuckets": {
          "description": "Must be greater than 0.",
          "format": "int32",
          "type": "integer"
        },
        "start": {
          "type": "number",
          "description": "Lower bound of the first bucket.",
          "format": "double"
        }
      },
      "type": "object",
      "id": "Linear"
    },
    "ListJobsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Set if there may be more results than fit in this response.",
          "type": "string"
        },
        "failedLocation": {
          "items": {
            "$ref": "FailedLocation"
          },
          "type": "array",
          "description": "Zero or more messages describing the [regional endpoints] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond."
        },
        "jobs": {
          "items": {
            "$ref": "Job"
          },
          "type": "array",
          "description": "A subset of the requested job information."
        }
      },
      "id": "ListJobsResponse",
      "description": "Response to a request to list Cloud Dataflow jobs in a project. This might be a partial response, depending on the page size in the ListJobsRequest. However, if the project does not have any jobs, an instance of ListJobsResponse is not returned and the requests's response body is empty {}."
    },
    "Parameters": {
      "type": "object",
      "description": "The parameters to use for autoscaling when this schedule is active.",
      "properties": {
        "maxWorkerCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of workers for this schedule."
        },
        "minWorkerCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The minimum number of workers for this schedule."
        },
        "cpuUtilizationTarget": {
          "format": "double",
          "type": "number",
          "description": "Optional. The target CPU utilization for this schedule."
        },
        "latencyTarget": {
          "type": "string",
          "description": "Optional. The target latency for this schedule."
        }
      },
      "id": "Parameters"
    },
    "WriteInstruction": {
      "type": "object",
      "properties": {
        "sink": {
          "description": "The sink to write to.",
          "$ref": "Sink"
        },
        "input": {
          "$ref": "InstructionInput",
          "description": "The input."
        }
      },
      "description": "An instruction that writes records. Takes one input, produces no outputs.",
      "id": "WriteInstruction"
    },
    "WorkerMessageCode": {
      "id": "WorkerMessageCode",
      "type": "object",
      "description": "A message code is used to report status and error messages to the service. The message codes are intended to be machine readable. The service will take care of translating these into user understandable messages if necessary. Example use cases: 1. Worker processes reporting successful startup. 2. Worker processes reporting specific errors (e.g. package staging failure).",
      "properties": {
        "code": {
          "type": "string",
          "description": "The code is a string intended for consumption by a machine that identifies the type of message being sent. Examples: 1. \"HARNESS_STARTED\" might be used to indicate the worker harness has started. 2. \"GCS_DOWNLOAD_ERROR\" might be used to indicate an error downloading a Cloud Storage file as part of the boot process of one of the worker containers. This is a string and not an enum to make it easy to add new codes without waiting for an API change."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Parameters contains specific information about the code. This is a struct to allow parameters of different types. Examples: 1. For a \"HARNESS_STARTED\" message parameters might provide the name of the worker and additional data like timing information. 2. For a \"GCS_DOWNLOAD_ERROR\" parameters might contain fields listing the Cloud Storage objects being downloaded and fields containing errors. In general complex data structures should be avoided. If a worker needs to send a specific and complicated data structure then please consider defining a new proto and adding it to the data oneof in WorkerMessageResponse. Conventions: Parameters should only be used for information that isn't typically passed as a label. hostname and other worker identifiers should almost always be passed as labels since they will be included on most messages."
        }
      }
    },
    "MapTask": {
      "properties": {
        "stageName": {
          "type": "string",
          "description": "System-defined name of the stage containing this MapTask. Unique across the workflow."
        },
        "counterPrefix": {
          "description": "Counter prefix that can be used to prefix counters. Not currently used in Dataflow.",
          "type": "string"
        },
        "instructions": {
          "items": {
            "$ref": "ParallelInstruction"
          },
          "type": "array",
          "description": "The instructions in the MapTask."
        },
        "systemName": {
          "description": "System-defined name of this MapTask. Unique across the workflow.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "MapTask consists of an ordered set of instructions, each of which describes one particular low-level operation for the worker to perform in order to accomplish the MapTask's WorkItem. Each instruction must appear in the list before any instructions which depends on its output.",
      "id": "MapTask"
    },
    "FlexTemplateRuntimeEnvironment": {
      "type": "object",
      "id": "FlexTemplateRuntimeEnvironment",
      "properties": {
        "maxWorkers": {
          "format": "int32",
          "description": "The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000.",
          "type": "integer"
        },
        "additionalExperiments": {
          "description": "Additional experiment flags for the job.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "numWorkers": {
          "format": "int32",
          "type": "integer",
          "description": "The initial number of Google Compute Engine instances for the job."
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "type": "string"
        },
        "machineType": {
          "type": "string",
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified."
        },
        "workerZone": {
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "zone": {
          "description": "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence.",
          "type": "string"
        },
        "tempLocation": {
          "type": "string",
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`."
        },
        "diskSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Worker disk size, in gigabytes."
        },
        "enableLauncherVmSerialPortLogging": {
          "description": "If true serial port logging will be enabled for the launcher VM.",
          "type": "boolean"
        },
        "stagingLocation": {
          "description": "The Cloud Storage path for staging local files. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "streamingMode": {
          "type": "string",
          "description": "Optional. Specifies the Streaming Engine message processing guarantees. Reduces cost and latency but might result in duplicate messages committed to storage. Designed to run simple mapping streaming ETL jobs at the lowest cost. For example, Change Data Capture (CDC) to BigQuery is a canonical use case. For more information, see [Set the pipeline streaming mode](https://cloud.google.com/dataflow/docs/guides/streaming-modes).",
          "enum": [
            "STREAMING_MODE_UNSPECIFIED",
            "STREAMING_MODE_EXACTLY_ONCE",
            "STREAMING_MODE_AT_LEAST_ONCE"
          ],
          "enumDescriptions": [
            "Run in the default mode.",
            "In this mode, message deduplication is performed against persistent state to make sure each message is processed and committed to storage exactly once.",
            "Message deduplication is not performed. Messages might be processed multiple times, and the results are applied multiple times. Note: Setting this value also enables Streaming Engine and Streaming Engine resource-based billing."
          ]
        },
        "serviceAccountEmail": {
          "description": "The email address of the service account to run the job as.",
          "type": "string"
        },
        "launcherMachineType": {
          "type": "string",
          "description": "The machine type to use for launching the job. If not set, Dataflow will select a default machine type."
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "kmsKeyName": {
          "description": "Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/",
          "type": "string"
        },
        "additionalUserLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Additional user labels to be specified for the job. Keys and values must follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }."
        },
        "additionalPipelineOptions": {
          "description": "Optional. Additional pipeline option flags for the job.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sdkContainerImage": {
          "description": "Docker registry location of container image to use for the 'worker harness. Default is the container for the version of the SDK. Note this field is only valid for portable pipelines.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL.",
          "type": "string"
        },
        "flexrsGoal": {
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ],
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "description": "Set FlexRS goal for the job. https://cloud.google.com/dataflow/docs/guides/flexrs",
          "type": "string"
        },
        "autoscalingAlgorithm": {
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ],
          "type": "string",
          "description": "The algorithm to use for autoscaling",
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ]
        },
        "saveHeapDumpsToGcsPath": {
          "type": "string",
          "description": "Cloud Storage bucket (directory) to upload heap dumps to. Enabling this field implies that `dump_heap_on_oom` is set to true."
        },
        "dumpHeapOnOom": {
          "description": "If true, when processing time is spent almost entirely on garbage collection (GC), saves a heap dump before ending the thread or process. If false, ends the thread or process without saving a heap dump. Does not save a heap dump when the Java Virtual Machine (JVM) has an out of memory error during processing. The location of the heap file is either echoed back to the user, or the user is given the opportunity to download the heap file.",
          "type": "boolean"
        },
        "enableStreamingEngine": {
          "type": "boolean",
          "description": "Whether to enable Streaming Engine for the job."
        },
        "workerRegion": {
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        }
      },
      "description": "The environment values to be set at runtime for flex template."
    },
    "BucketOptions": {
      "type": "object",
      "description": "`BucketOptions` describes the bucket boundaries used in the histogram.",
      "id": "BucketOptions",
      "properties": {
        "exponential": {
          "description": "Bucket boundaries grow exponentially.",
          "$ref": "Base2Exponent"
        },
        "linear": {
          "$ref": "Linear",
          "description": "Bucket boundaries grow linearly."
        }
      }
    },
    "StateFamilyConfig": {
      "type": "object",
      "id": "StateFamilyConfig",
      "description": "State family configuration.",
      "properties": {
        "stateFamily": {
          "type": "string",
          "description": "The state family value."
        },
        "isRead": {
          "type": "boolean",
          "description": "If true, this family corresponds to a read operation."
        }
      }
    },
    "StringList": {
      "type": "object",
      "id": "StringList",
      "properties": {
        "elements": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Elements of the list."
        }
      },
      "description": "A metric value representing a list of strings."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "WorkItemDetails": {
      "id": "WorkItemDetails",
      "type": "object",
      "description": "Information about an individual work item execution.",
      "properties": {
        "progress": {
          "$ref": "ProgressTimeseries",
          "description": "Progress of this work item."
        },
        "state": {
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ],
          "type": "string",
          "description": "State of this work item.",
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ]
        },
        "metrics": {
          "items": {
            "$ref": "MetricUpdate"
          },
          "type": "array",
          "description": "Metrics for this work item."
        },
        "taskId": {
          "description": "Name of this work item.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Start time of this work item attempt.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "End time of this work item attempt. If the work item is completed, this is the actual end time of the work item. Otherwise, it is the predicted end time.",
          "type": "string",
          "format": "google-datetime"
        },
        "stragglerInfo": {
          "description": "Information about straggler detections for this work item.",
          "$ref": "StragglerInfo"
        },
        "attemptId": {
          "description": "Attempt ID of this work item",
          "type": "string"
        }
      }
    },
    "StageExecutionDetails": {
      "id": "StageExecutionDetails",
      "description": "Information about the workers and work items within a stage.",
      "properties": {
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        },
        "workers": {
          "description": "Workers that have done work on the stage.",
          "type": "array",
          "items": {
            "$ref": "WorkerDetails"
          }
        }
      },
      "type": "object"
    },
    "StragglerDebuggingInfo": {
      "description": "Information useful for debugging a straggler. Each type will provide specialized debugging information relevant for a particular cause. The StragglerDebuggingInfo will be 1:1 mapping to the StragglerCause enum.",
      "type": "object",
      "properties": {
        "hotKey": {
          "$ref": "HotKeyDebuggingInfo",
          "description": "Hot key debugging details."
        }
      },
      "id": "StragglerDebuggingInfo"
    },
    "ShellTask": {
      "type": "object",
      "description": "A task which consists of a shell command for the worker to execute.",
      "id": "ShellTask",
      "properties": {
        "command": {
          "description": "The shell command to run.",
          "type": "string"
        },
        "exitCode": {
          "format": "int32",
          "description": "Exit code for the task.",
          "type": "integer"
        }
      }
    },
    "LaunchTemplateResponse": {
      "type": "object",
      "description": "Response to the request to launch a template.",
      "id": "LaunchTemplateResponse",
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      }
    },
    "ServiceResources": {
      "type": "object",
      "description": "Resources used by the Dataflow Service to run the job.",
      "id": "ServiceResources",
      "properties": {
        "zones": {
          "description": "Output only. List of Cloud Zones being used by the Dataflow Service for this job. Example: us-central1-c",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Job": {
      "properties": {
        "pipelineDescription": {
          "$ref": "PipelineDescription",
          "description": "Preliminary field: The format of this data may change at any time. A description of the user pipeline and stages through which it is executed. Created by Cloud Dataflow service. Only retrieved with JOB_VIEW_DESCRIPTION or JOB_VIEW_ALL."
        },
        "environment": {
          "$ref": "Environment",
          "description": "Optional. The environment for the job."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Reserved for future use. This field is set only in responses from the server; it is ignored if it is set in any requests."
        },
        "replaceJobId": {
          "description": "If this job is an update of an existing job, this field is the job ID of the job it replaced. When sending a `CreateJobRequest`, you can update a job by specifying it here. The job named here is stopped, and its intermediate state is transferred to this job.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "The type of the job is unspecified, or unknown.",
            "A batch job with a well-defined end point: data is read, data is processed, data is written, and the job is done.",
            "A continuously streaming job with no end: data is read, processed, and written continuously."
          ],
          "description": "Optional. The type of Dataflow job.",
          "type": "string",
          "enum": [
            "JOB_TYPE_UNKNOWN",
            "JOB_TYPE_BATCH",
            "JOB_TYPE_STREAMING"
          ]
        },
        "projectId": {
          "description": "The ID of the Google Cloud project that the job belongs to.",
          "type": "string"
        },
        "clientRequestId": {
          "type": "string",
          "description": "The client's unique identifier of the job, re-used across retried attempts. If this field is set, the service will ensure its uniqueness. The request to create a job will fail if the service has knowledge of a previously submitted job with the same client's ID and job name. The caller may use this field to ensure idempotence of job creation across retried attempts to create a job. By default, the field is empty and, in that case, the service ignores it."
        },
        "serviceResources": {
          "description": "Output only. Resources used by the Dataflow Service to run the job.",
          "readOnly": true,
          "$ref": "ServiceResources"
        },
        "currentState": {
          "type": "string",
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP",
            "JOB_STATE_PAUSING",
            "JOB_STATE_PAUSED"
          ],
          "description": "The current state of the job. Jobs are created in the `JOB_STATE_STOPPED` state unless otherwise specified. A job in the `JOB_STATE_RUNNING` state may asynchronously enter a terminal state. After a job has reached a terminal state, no further state updates may be made. This field might be mutated by the Dataflow service; callers cannot mutate it.",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested.",
            "`JOB_STATE_PAUSING` indicates that the job is in the process of pausing. A pausing job will stop processing, archive in-flight Shuffle data, and transition to `JOB_STATE_PAUSED`. Jobs in this state can transition to `JOB_STATE_CANCELLING` if cancellation is requested, or can transition back to `JOB_STATE_RUNNING` if the pause fails to complete.",
            "`JOB_STATE_PAUSED` indicates that the job is not currently processing. Jobs in this state can transition back to `JOB_STATE_RUNNING` to continue processing where they left off, or can transition to `JOB_STATE_CANCELLING` if cancellation is requested."
          ]
        },
        "tempFiles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A set of files the system should be aware of that are used for temporary storage. These temporary files will be removed on job completion. No duplicates are allowed. No file patterns are supported. The supported files are: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
        },
        "labels": {
          "description": "User-defined labels for this job. The labels map can contain no more than 64 entries. Entries of the labels map are UTF8 strings that comply with the following restrictions: * Keys must conform to regexp: \\p{Ll}\\p{Lo}{0,62} * Values must conform to regexp: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} * Both keys and values are additionally constrained to be <= 128 bytes in size.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The timestamp when the job was initially created. Immutable and set by the Cloud Dataflow service.",
          "type": "string"
        },
        "jobMetadata": {
          "description": "This field is populated by the Dataflow service to support filtering jobs by the metadata values provided here. Populated for ListJobs and all GetJob views SUMMARY and higher.",
          "$ref": "JobMetadata"
        },
        "executionInfo": {
          "$ref": "JobExecutionInfo",
          "description": "Deprecated."
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use. This field is set only in responses from the server; it is ignored if it is set in any requests.",
          "readOnly": true
        },
        "requestedState": {
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested.",
            "`JOB_STATE_PAUSING` indicates that the job is in the process of pausing. A pausing job will stop processing, archive in-flight Shuffle data, and transition to `JOB_STATE_PAUSED`. Jobs in this state can transition to `JOB_STATE_CANCELLING` if cancellation is requested, or can transition back to `JOB_STATE_RUNNING` if the pause fails to complete.",
            "`JOB_STATE_PAUSED` indicates that the job is not currently processing. Jobs in this state can transition back to `JOB_STATE_RUNNING` to continue processing where they left off, or can transition to `JOB_STATE_CANCELLING` if cancellation is requested."
          ],
          "type": "string",
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP",
            "JOB_STATE_PAUSING",
            "JOB_STATE_PAUSED"
          ],
          "description": "The job's requested state. Applies to `UpdateJob` requests. Set `requested_state` with `UpdateJob` requests to switch between the states `JOB_STATE_STOPPED` and `JOB_STATE_RUNNING`. You can also use `UpdateJob` requests to change a job's state from `JOB_STATE_RUNNING` to `JOB_STATE_CANCELLED`, `JOB_STATE_DONE`, or `JOB_STATE_DRAINED`. These states irrevocably terminate the job if it hasn't already reached a terminal state. This field has no effect on `CreateJob` requests."
        },
        "currentStateTime": {
          "format": "google-datetime",
          "description": "The timestamp associated with the current state.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique ID of this job. This field is set by the Dataflow service when the job is created, and is immutable for the life of the job."
        },
        "location": {
          "type": "string",
          "description": "Optional. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the job was started (transitioned to JOB_STATE_PENDING). Flexible resource scheduling jobs are started with some delay after job creation, so start_time is unset before start and is updated when the job is started by the Cloud Dataflow service. For other jobs, start_time always equals to create_time and is immutable and set by the Cloud Dataflow service."
        },
        "transformNameMapping": {
          "description": "Optional. The map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "stepsLocation": {
          "description": "The Cloud Storage location where the steps are stored.",
          "type": "string"
        },
        "runtimeUpdatableParams": {
          "description": "This field may ONLY be modified at runtime using the projects.jobs.update method to adjust job behavior. This field has no effect when specified at job creation.",
          "$ref": "RuntimeUpdatableParams"
        },
        "pausable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the job can be paused."
        },
        "createdFromSnapshotId": {
          "description": "If this is specified, the job's initial state is populated from the given snapshot.",
          "type": "string"
        },
        "name": {
          "description": "Optional. The user-specified Dataflow job name. Only one active job with a given name can exist in a project within one region at any given time. Jobs in different regions can have the same name. If a caller attempts to create a job with the same name as an active job that already exists, the attempt returns the existing job. The name must match the regular expression `[a-z]([-a-z0-9]{0,1022}[a-z0-9])?`",
          "type": "string"
        },
        "steps": {
          "description": "Exactly one of step or steps_location should be specified. The top-level steps that constitute the entire job. Only retrieved with JOB_VIEW_ALL.",
          "type": "array",
          "items": {
            "$ref": "Step"
          }
        },
        "stageStates": {
          "type": "array",
          "items": {
            "$ref": "ExecutionStageState"
          },
          "description": "This field may be mutated by the Cloud Dataflow service; callers cannot mutate it."
        },
        "replacedByJobId": {
          "type": "string",
          "description": "If another job is an update of this job (and thus, this job is in `JOB_STATE_UPDATED`), this field contains the ID of that job."
        }
      },
      "id": "Job",
      "type": "object",
      "description": "Defines a job to be run by the Cloud Dataflow service. Do not enter confidential information when you supply string values using the API."
    },
    "StreamingComputationRanges": {
      "properties": {
        "computationId": {
          "type": "string",
          "description": "The ID of the computation."
        },
        "rangeAssignments": {
          "items": {
            "$ref": "KeyRangeDataDiskAssignment"
          },
          "description": "Data disk assignments for ranges from this computation.",
          "type": "array"
        }
      },
      "id": "StreamingComputationRanges",
      "description": "Describes full or partial data disk assignment information of the computation ranges.",
      "type": "object"
    },
    "MemInfo": {
      "properties": {
        "currentRssBytes": {
          "type": "string",
          "description": "Instantenous memory (RSS) size in bytes.",
          "format": "uint64"
        },
        "currentOoms": {
          "format": "int64",
          "description": "Number of Out of Memory (OOM) events recorded since the previous measurement.",
          "type": "string"
        },
        "totalGbMs": {
          "description": "Total memory (RSS) usage since start up in GB * ms.",
          "format": "uint64",
          "type": "string"
        },
        "timestamp": {
          "description": "Timestamp of the measurement.",
          "format": "google-datetime",
          "type": "string"
        },
        "currentLimitBytes": {
          "format": "uint64",
          "description": "Instantenous memory limit in bytes.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about the memory usage of a worker or a container within a worker.",
      "id": "MemInfo"
    },
    "RuntimeMetadata": {
      "type": "object",
      "id": "RuntimeMetadata",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "ParameterMetadata"
          },
          "description": "The parameters for the template."
        },
        "sdkInfo": {
          "description": "SDK Info for the template.",
          "$ref": "SDKInfo"
        }
      },
      "description": "RuntimeMetadata describing a runtime environment."
    },
    "ComponentTransform": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this source."
        },
        "originalTransform": {
          "type": "string",
          "description": "User name for the original user transform with which this transform is most closely associated."
        },
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        }
      },
      "id": "ComponentTransform",
      "description": "Description of a transform executed as part of an execution stage."
    },
    "ApproximateSplitRequest": {
      "id": "ApproximateSplitRequest",
      "type": "object",
      "properties": {
        "fractionOfRemainder": {
          "description": "The fraction of the remainder of work to split the work item at, from 0.0 (split at the current position) to 1.0 (end of the input).",
          "format": "double",
          "type": "number"
        },
        "position": {
          "description": "A Position at which to split the work item.",
          "$ref": "Position"
        },
        "fractionConsumed": {
          "format": "double",
          "description": "A fraction at which to split the work item, from 0.0 (beginning of the input) to 1.0 (end of the input).",
          "type": "number"
        }
      },
      "description": "A suggestion by the service to the worker to dynamically split the WorkItem."
    },
    "GetTemplateResponse": {
      "properties": {
        "runtimeMetadata": {
          "description": "Describes the runtime metadata with SDKInfo and available parameters.",
          "$ref": "RuntimeMetadata"
        },
        "templateType": {
          "enumDescriptions": [
            "Unknown Template Type.",
            "Legacy Template.",
            "Flex Template."
          ],
          "enum": [
            "UNKNOWN",
            "LEGACY",
            "FLEX"
          ],
          "description": "Template Type.",
          "type": "string"
        },
        "metadata": {
          "description": "The template metadata describing the template name, available parameters, etc.",
          "$ref": "TemplateMetadata"
        },
        "status": {
          "description": "The status of the get template request. Any problems with the request will be indicated in the error_details.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "id": "GetTemplateResponse",
      "description": "The response to a GetTemplate request."
    },
    "DeleteSnapshotResponse": {
      "properties": {},
      "id": "DeleteSnapshotResponse",
      "description": "Response from deleting a snapshot.",
      "type": "object"
    },
    "ResolveConfigStoreSettingRequest": {
      "properties": {},
      "id": "ResolveConfigStoreSettingRequest",
      "description": "Request message for ResolveConfigStoreSetting.",
      "type": "object"
    },
    "Package": {
      "description": "The packages that must be installed in order for a worker to run the steps of the Cloud Dataflow job that will be assigned to its worker pool. This is the mechanism by which the Cloud Dataflow SDK causes code to be loaded onto the workers. For example, the Cloud Dataflow Java SDK might use this to install jars containing the user's code and all of the various dependencies (libraries, data files, etc.) required in order for that code to run.",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "The resource to read the package from. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket} bucket.storage.googleapis.com/"
        },
        "sha256": {
          "type": "string",
          "description": "Optional. The hex-encoded SHA256 checksum of the package. If the checksum is provided, the worker will verify the checksum of the package before using it. If the checksum does not match, the worker will fail to start."
        },
        "name": {
          "type": "string",
          "description": "The name of the package."
        }
      },
      "id": "Package"
    },
    "StageSummary": {
      "id": "StageSummary",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "End time of this stage. If the work item is completed, this is the actual end time of the stage. Otherwise, it is the predicted end time.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ],
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ],
          "type": "string",
          "description": "State of this stage."
        },
        "stragglerSummary": {
          "$ref": "StragglerSummary",
          "description": "Straggler summary for this stage."
        },
        "stageId": {
          "description": "ID of this stage",
          "type": "string"
        },
        "progress": {
          "$ref": "ProgressTimeseries",
          "description": "Progress for this stage. Only applicable to Batch jobs."
        },
        "metrics": {
          "type": "array",
          "description": "Metrics for this stage.",
          "items": {
            "$ref": "MetricUpdate"
          }
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Start time of this stage."
        }
      },
      "description": "Information about a particular execution stage of a job."
    },
    "Disk": {
      "id": "Disk",
      "properties": {
        "sizeGb": {
          "description": "Size of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "format": "int32",
          "type": "integer"
        },
        "mountPoint": {
          "description": "Directory in a VM where disk is mounted.",
          "type": "string"
        },
        "diskType": {
          "type": "string",
          "description": "Disk storage type, as defined by Google Compute Engine. This must be a disk type appropriate to the project and zone in which the workers will run. If unknown or unspecified, the service will attempt to choose a reasonable default. For example, the standard persistent disk type is a resource name typically ending in \"pd-standard\". If SSD persistent disks are available, the resource name typically ends with \"pd-ssd\". The actual valid values are defined the Google Compute Engine API, not by the Cloud Dataflow API; consult the Google Compute Engine documentation for more information about determining the set of available disk types for a particular project and zone. Google Compute Engine Disk types are local to a particular project in a particular zone, and so the resource name will typically look something like this: compute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard"
        }
      },
      "type": "object",
      "description": "Describes the data disk used by a workflow job."
    },
    "StructuredMessage": {
      "id": "StructuredMessage",
      "type": "object",
      "properties": {
        "messageKey": {
          "description": "Identifier for this message type. Used by external systems to internationalize or personalize message.",
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The structured data associated with this message."
        },
        "messageText": {
          "type": "string",
          "description": "Human-readable version of message."
        }
      },
      "description": "A rich message format, including a human readable string, a key for identifying the message, and structured data associated with the message for programmatic consumption."
    },
    "ComputationTopology": {
      "description": "All configuration data for a particular Computation.",
      "type": "object",
      "properties": {
        "inputs": {
          "type": "array",
          "description": "The inputs to the computation.",
          "items": {
            "$ref": "StreamLocation"
          }
        },
        "computationId": {
          "description": "The ID of the computation.",
          "type": "string"
        },
        "stateFamilies": {
          "description": "The state family values.",
          "items": {
            "$ref": "StateFamilyConfig"
          },
          "type": "array"
        },
        "keyRanges": {
          "description": "The key ranges processed by the computation.",
          "type": "array",
          "items": {
            "$ref": "KeyRangeLocation"
          }
        },
        "systemStageName": {
          "type": "string",
          "description": "The system stage name."
        },
        "outputs": {
          "description": "The outputs from the computation.",
          "type": "array",
          "items": {
            "$ref": "StreamLocation"
          }
        }
      },
      "id": "ComputationTopology"
    },
    "Sink": {
      "type": "object",
      "description": "A sink that records can be encoded and written to.",
      "id": "Sink",
      "properties": {
        "spec": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The sink to write to, plus its parameters."
        },
        "codec": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The codec to use to encode data written to the sink.",
          "type": "object"
        }
      }
    },
    "ListConfigStoreSettingsResponse": {
      "description": "Response message for ListConfigStoreSettings.",
      "properties": {
        "configStoreSettings": {
          "description": "The list of ConfigStoreSettings.",
          "type": "array",
          "items": {
            "$ref": "ConfigStoreSetting"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page."
        }
      },
      "type": "object",
      "id": "ListConfigStoreSettingsResponse"
    },
    "MultiOutputInfo": {
      "id": "MultiOutputInfo",
      "type": "object",
      "description": "Information about an output of a multi-output DoFn.",
      "properties": {
        "tag": {
          "type": "string",
          "description": "The id of the tag the user code will emit to this output by; this should correspond to the tag of some SideInputInfo."
        }
      }
    },
    "MetricUpdate": {
      "id": "MetricUpdate",
      "type": "object",
      "description": "Describes the state of a metric.",
      "properties": {
        "meanCount": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long.",
          "type": "any"
        },
        "set": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, String, or BoundedTrie according to the metric's type. All Values in the list must be of the same type."
        },
        "distribution": {
          "description": "A struct value describing properties of a distribution of numeric values.",
          "type": "any"
        },
        "cumulative": {
          "type": "boolean",
          "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem."
        },
        "boundedTrie": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Trie\" aggregation kind. The only possible value type is a BoundedTrieNode. Introduced this field to avoid breaking older SDKs when Dataflow service starts to populate the `bounded_trie` field."
        },
        "name": {
          "$ref": "MetricStructuredName",
          "description": "Name of the metric."
        },
        "meanSum": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double.",
          "type": "any"
        },
        "scalar": {
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean.",
          "type": "any"
        },
        "updateTime": {
          "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API.",
          "type": "string",
          "format": "google-datetime"
        },
        "kind": {
          "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value.",
          "type": "string"
        },
        "internal": {
          "type": "any",
          "description": "Worker-computed aggregate value for internal use by the Dataflow service."
        },
        "gauge": {
          "description": "A struct value describing properties of a Gauge. Metrics of gauge type show the value of a metric across time, and is aggregated based on the newest value.",
          "type": "any"
        },
        "trie": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Trie\" aggregation kind. The only possible value type is a BoundedTrieNode."
        }
      }
    },
    "Position": {
      "id": "Position",
      "properties": {
        "shufflePosition": {
          "description": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED sharding).",
          "type": "string"
        },
        "recordIndex": {
          "format": "int64",
          "description": "Position is a record index.",
          "type": "string"
        },
        "end": {
          "description": "Position is past all other positions. Also useful for the end position of an unbounded range.",
          "type": "boolean"
        },
        "key": {
          "description": "Position is a string key, ordered lexicographically.",
          "type": "string"
        },
        "concatPosition": {
          "$ref": "ConcatPosition",
          "description": "CloudPosition is a concat position."
        },
        "byteOffset": {
          "format": "int64",
          "description": "Position is a byte offset.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Position defines a position within a collection of data. The value can be either the end position, a key (used with ordered collections), a byte offset, or a record index."
    },
    "LeaseWorkItemRequest": {
      "type": "object",
      "id": "LeaseWorkItemRequest",
      "description": "Request to lease WorkItems.",
      "properties": {
        "workItemTypes": {
          "items": {
            "type": "string"
          },
          "description": "Filter for WorkItem type.",
          "type": "array"
        },
        "currentWorkerTime": {
          "description": "The current timestamp at the worker.",
          "format": "google-datetime",
          "type": "string"
        },
        "projectNumber": {
          "type": "string",
          "description": "Optional. The project number of the project this worker belongs to.",
          "format": "int64"
        },
        "requestedLeaseDuration": {
          "type": "string",
          "description": "The initial lease period.",
          "format": "google-duration"
        },
        "workerId": {
          "description": "Identifies the worker leasing work -- typically the ID of the virtual machine running the worker.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job."
        },
        "workerCapabilities": {
          "items": {
            "type": "string"
          },
          "description": "Worker capabilities. WorkItems might be limited to workers with specific capabilities.",
          "type": "array"
        },
        "unifiedWorkerRequest": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Untranslated bag-of-bytes WorkRequest from UnifiedWorker."
        }
      }
    },
    "OutlierStats": {
      "id": "OutlierStats",
      "type": "object",
      "properties": {
        "underflowCount": {
          "type": "string",
          "description": "Number of values that are smaller than the lower bound of the smallest bucket.",
          "format": "int64"
        },
        "overflowCount": {
          "format": "int64",
[...]
