{
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "schemas": {
    "ErrorTable": {
      "type": "object",
      "properties": {
        "retentionDays": {
          "description": "Error table partition expiration in days. Only positive values are allowed.",
          "type": "integer",
          "format": "int32"
        },
        "target": {
          "$ref": "Target",
          "description": "Error Table target."
        }
      },
      "id": "ErrorTable",
      "description": "Error table information, used to write error data into a BigQuery table."
    },
    "CompilationError": {
      "id": "CompilationError",
      "description": "An error encountered when attempting to compile a Dataform project.",
      "type": "object",
      "properties": {
        "actionTarget": {
          "description": "Output only. The identifier of the action where this error occurred, if available.",
          "$ref": "Target",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Output only. The error's top level message.",
          "readOnly": true
        },
        "stack": {
          "readOnly": true,
          "description": "Output only. The error's full stack trace.",
          "type": "string"
        },
        "path": {
          "readOnly": true,
          "description": "Output only. The path of the file where this error occurred, if available, relative to the project root.",
          "type": "string"
        }
      }
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      },
      "type": "object",
      "id": "Policy"
    },
    "LoadConfig": {
      "description": "Simplified load configuration for actions",
      "id": "LoadConfig",
      "properties": {
        "replace": {
          "description": "Replace destination table",
          "$ref": "SimpleLoadMode"
        },
        "append": {
          "$ref": "SimpleLoadMode",
          "description": "Append into destination table"
        },
        "unique": {
          "description": "Insert records where the value of a column is not already present in the destination table",
          "$ref": "IncrementalLoadMode"
        },
        "maximum": {
          "$ref": "IncrementalLoadMode",
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table"
        }
      },
      "type": "object"
    },
    "PullGitCommitsRequest": {
      "properties": {
        "remoteBranch": {
          "type": "string",
          "description": "Optional. The name of the branch in the Git remote from which to pull commits. If left unset, the repository's default branch name will be used."
        },
        "author": {
          "$ref": "CommitAuthor",
          "description": "Required. The author of any merge commit which may be created as a result of merging fetched Git commits into this workspace."
        }
      },
      "description": "`PullGitCommits` request message.",
      "id": "PullGitCommitsRequest",
      "type": "object"
    },
    "PushGitCommitsResponse": {
      "properties": {},
      "description": "`PushGitCommits` response message.",
      "id": "PushGitCommitsResponse",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "WorkflowTrigger": {
      "properties": {
        "tableUpdateTrigger": {
          "$ref": "TableUpdateTrigger",
          "description": "The table update trigger configuration."
        }
      },
      "type": "object",
      "description": "The trigger definition to invoke a workflow.",
      "id": "WorkflowTrigger"
    },
    "DataPreparationAction": {
      "type": "object",
      "description": "Represents a workflow action that will run a Data Preparation.",
      "properties": {
        "jobId": {
          "description": "Output only. The ID of the BigQuery job that executed the SQL in sql_script. Only set once the job has started to run.",
          "readOnly": true,
          "type": "string"
        },
        "generatedSql": {
          "readOnly": true,
          "description": "Output only. The generated BigQuery SQL script that will be executed. For reference only.",
          "type": "string"
        },
        "contentsYaml": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. YAML representing the contents of the data preparation. Can be used to show the customer what the input was to their workflow."
        },
        "contentsSql": {
          "$ref": "ActionSqlDefinition",
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information."
        }
      },
      "id": "DataPreparationAction"
    },
    "ListWorkflowInvocationsResponse": {
      "id": "ListWorkflowInvocationsResponse",
      "type": "object",
      "description": "`ListWorkflowInvocations` response message.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "workflowInvocations": {
          "type": "array",
          "description": "List of workflow invocations.",
          "items": {
            "$ref": "WorkflowInvocation"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached.",
          "type": "array"
        }
      }
    },
    "CommitWorkspaceChangesRequest": {
      "description": "`CommitWorkspaceChanges` request message.",
      "id": "CommitWorkspaceChangesRequest",
      "properties": {
        "commitMessage": {
          "description": "Optional. The commit's message.",
          "type": "string"
        },
        "author": {
          "$ref": "CommitAuthor",
          "description": "Required. The commit's author."
        },
        "paths": {
          "description": "Optional. Full file paths to commit including filename, rooted at workspace root. If left empty, all files will be committed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "FileOperation": {
      "description": "Represents a single file operation to the repository.",
      "id": "FileOperation",
      "type": "object",
      "properties": {
        "deleteFile": {
          "description": "Represents the delete operation.",
          "$ref": "DeleteFile"
        },
        "writeFile": {
          "description": "Represents the write operation.",
          "$ref": "WriteFile"
        }
      }
    },
    "InstallNpmPackagesResponse": {
      "type": "object",
      "id": "InstallNpmPackagesResponse",
      "properties": {},
      "description": "`InstallNpmPackages` response message."
    },
    "Notebook": {
      "type": "object",
      "description": "Represents a notebook.",
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Arbitrary, user-defined tags on this action."
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "contents": {
          "type": "string",
          "description": "The contents of the notebook."
        }
      },
      "id": "Notebook"
    },
    "RemoveDirectoryResponse": {
      "properties": {},
      "description": "`RemoveDirectory` response message.",
      "id": "RemoveDirectoryResponse",
      "type": "object"
    },
    "Assertion": {
      "id": "Assertion",
      "type": "object",
      "description": "Represents an assertion upon a SQL query which is required return zero rows.",
      "properties": {
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "selectQuery": {
          "type": "string",
          "description": "The SELECT query which must return zero rows in order for this assertion to succeed."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action."
        },
        "parentAction": {
          "description": "The parent action of this assertion. Only set if this assertion was automatically generated.",
          "$ref": "Target"
        },
        "relationDescriptor": {
          "description": "Descriptor for the assertion's automatically-generated view and its columns.",
          "$ref": "RelationDescriptor"
        }
      }
    },
    "SshAuthenticationConfig": {
      "properties": {
        "userPrivateKeySecretVersion": {
          "type": "string",
          "description": "Required. The name of the Secret Manager secret version to use as a ssh private key for Git operations. Must be in the format `projects/*/secrets/*/versions/*`."
        },
        "hostPublicKey": {
          "description": "Required. Content of a public SSH key to verify an identity of a remote Git host.",
          "type": "string"
        }
      },
      "id": "SshAuthenticationConfig",
      "type": "object",
      "description": "Configures fields for performing SSH authentication."
    },
    "WorkflowInvocation": {
      "description": "Represents a single invocation of a compilation result.",
      "type": "object",
      "id": "WorkflowInvocation",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "CANCELING"
          ],
          "description": "Output only. This workflow invocation's current state.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The workflow invocation is currently running.",
            "The workflow invocation succeeded. A terminal state.",
            "The workflow invocation was cancelled. A terminal state.",
            "The workflow invocation failed. A terminal state.",
            "The workflow invocation is being cancelled, but some actions are still running."
          ],
          "readOnly": true,
          "type": "string"
        },
        "invocationConfig": {
          "description": "Immutable. If left unset, a default InvocationConfig will be used.",
          "$ref": "InvocationConfig"
        },
        "dataEncryptionState": {
          "$ref": "DataEncryptionState",
          "description": "Output only. Only set if the repository has a KMS Key.",
          "readOnly": true
        },
        "privateResourceMetadata": {
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `WorkflowInvocation` resource is `user_scoped` only if it is sourced from a compilation result and the compilation result is user-scoped.",
          "$ref": "PrivateResourceMetadata",
          "readOnly": true
        },
        "compilationResult": {
          "type": "string",
          "description": "Immutable. The name of the compilation result to use for this invocation. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
        },
        "internalMetadata": {
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string"
        },
        "workflowConfig": {
          "type": "string",
          "description": "Immutable. The name of the workflow config to invoke. Must be in the format `projects/*/locations/*/repositories/*/workflowConfigs/*`."
        },
        "invocationTiming": {
          "readOnly": true,
          "$ref": "Interval",
          "description": "Output only. This workflow invocation's timing details."
        },
        "pipelineConfig": {
          "$ref": "PipelineConfig",
          "readOnly": true,
          "description": "Output only. The pipeline options which defines the pipeline type and path within the Git repository."
        },
        "resolvedCompilationResult": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resolved compilation result that was used to create this invocation. Will be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
        },
        "name": {
          "description": "Output only. The workflow invocation's name.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SearchResult": {
      "description": "Client-facing representation of a search result entry.",
      "properties": {
        "file": {
          "description": "Details when search result is a file.",
          "$ref": "FileSearchResult"
        },
        "directory": {
          "$ref": "DirectorySearchResult",
          "description": "Details when search result is a directory."
        }
      },
      "id": "SearchResult",
      "type": "object"
    },
    "QueryWorkflowInvocationActionsResponse": {
      "properties": {
        "workflowInvocationActions": {
          "items": {
            "$ref": "WorkflowInvocationAction"
          },
          "description": "List of workflow invocation actions.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "`QueryWorkflowInvocationActions` response message.",
      "type": "object",
      "id": "QueryWorkflowInvocationActionsResponse"
    },
    "FetchGitAheadBehindResponse": {
      "type": "object",
      "properties": {
        "commitsAhead": {
          "description": "The number of commits in the remote branch that are not in the workspace.",
          "type": "integer",
          "format": "int32"
        },
        "commitsBehind": {
          "type": "integer",
          "description": "The number of commits in the workspace that are not in the remote branch.",
          "format": "int32"
        }
      },
      "id": "FetchGitAheadBehindResponse",
      "description": "`FetchGitAheadBehind` response message."
    },
    "DeleteBranchRequest": {
      "description": "`DeleteBranch` request message.",
      "id": "DeleteBranchRequest",
      "type": "object",
      "properties": {
        "force": {
          "type": "boolean",
          "description": "Optional. If set to true, any non-pushed commits on the branch will be deleted. Upstream branch name will be the same as the branch to delete."
        },
        "branch": {
          "description": "Required. The name of the branch in the Git repository to delete.",
          "type": "string"
        }
      }
    },
    "ListWorkflowConfigsResponse": {
      "properties": {
        "workflowConfigs": {
          "items": {
            "$ref": "WorkflowConfig"
          },
          "type": "array",
          "description": "List of workflow configs."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached."
        }
      },
      "description": "`ListWorkflowConfigs` response message.",
      "id": "ListWorkflowConfigsResponse",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ReleaseConfig": {
      "properties": {
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string",
          "readOnly": true
        },
        "cronSchedule": {
          "description": "Optional. Optional schedule (in cron format) for automatic creation of compilation results.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Disables automatic creation of compilation results.",
          "type": "boolean"
        },
        "recentScheduledReleaseRecords": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Records of the 10 most recent scheduled release attempts, ordered in descending order of `release_time`. Updated whenever automatic creation of a compilation result is triggered by cron_schedule.",
          "items": {
            "$ref": "ScheduledReleaseRecord"
          }
        },
        "codeCompilationConfig": {
          "$ref": "CodeCompilationConfig",
          "description": "Optional. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json."
        },
        "gitCommitish": {
          "type": "string",
          "description": "Required. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`"
        },
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the [time zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is `UTC`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The release config's name."
        },
        "releaseCompilationResult": {
          "description": "Optional. The name of the currently released compilation result for this release config. This value is updated when a compilation result is automatically created from this release config (using cron_schedule), or when this resource is updated by API call (perhaps to roll back to an earlier release). The compilation result must have been created using this release config. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a Dataform release configuration.",
      "id": "ReleaseConfig"
    },
    "RelationDescriptor": {
      "id": "RelationDescriptor",
      "description": "Describes a relation and its columns.",
      "type": "object",
      "properties": {
        "bigqueryLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A set of BigQuery labels that should be applied to the relation."
        },
        "columns": {
          "type": "array",
          "description": "A list of descriptions of columns within the relation.",
          "items": {
            "$ref": "ColumnDescriptor"
          }
        },
        "description": {
          "description": "A text description of the relation.",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "RemoveDirectoryRequest": {
      "description": "`RemoveDirectory` request message.",
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The directory's full path including directory name, relative to the workspace root."
        }
      },
      "id": "RemoveDirectoryRequest"
    },
    "WorkflowTriggerConfig": {
      "properties": {
        "condition": {
          "enum": [
            "CONDITION_UNSPECIFIED",
            "ALL",
            "ANY"
          ],
          "type": "string",
          "enumDescriptions": [
            "If CONDITION_UNSPECIFIED, the default value is ANY.",
            "If ALL, all the trigger config conditions must be met before a workflow is invoked.",
            "If ANY, at least one of the trigger config conditions must be met before a workflow is invoked."
          ],
          "description": "Optional. The condition to use when triggering the workflow."
        },
        "workflowTriggers": {
          "items": {
            "$ref": "WorkflowTrigger"
          },
          "type": "array",
          "description": "Required. The trigger definitions to invoke a workflow."
        },
        "lastSuccessfulEvaluationTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp of the last successful trigger evaluation."
        },
        "recentTriggerEvaluationRecords": {
          "description": "Output only. Records of the 10 most recent trigger evaluations, ordered in descending order of `evaluation_time`. Updated whenever the service evaluates the trigger conditions (via polling or upon receiving a push event).",
          "readOnly": true,
          "items": {
            "$ref": "TriggerEvaluationRecord"
          },
          "type": "array"
        },
        "maxWaitDuration": {
          "format": "google-duration",
          "description": "Optional. The effective maximum wait time duration for the trigger condition to be met. If not specified, the workflow won't be triggered until conditions are met.",
          "type": "string"
        },
        "minExecutionDuration": {
          "format": "google-duration",
          "description": "Optional. Minimum duration between two consecutive executions. If not specified, the workflow will be executed every time trigger conditions are met and there is no ongoing workflow execution.",
          "type": "string"
        }
      },
      "id": "WorkflowTriggerConfig",
      "type": "object",
      "description": "Represents a trigger configuration for a workflow."
    },
    "BigQueryUnitTest": {
      "properties": {
        "expectedOutputQuery": {
          "description": "Expected output query to compare against the test query.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "testQuery": {
          "type": "string",
          "description": "Test query to execute."
        },
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The name of the unit test.",
          "type": "string"
        }
      },
      "description": "Represents a BigQuery unit test.",
      "id": "BigQueryUnitTest",
      "type": "object"
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "Interval": {
      "type": "object",
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
        }
      }
    },
    "Location": {
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "CancelWorkflowInvocationResponse": {
      "type": "object",
      "id": "CancelWorkflowInvocationResponse",
      "description": "`CancelWorkflowInvocation` response message.",
      "properties": {}
    },
    "Folder": {
      "description": "Represents a Dataform Folder. This is a resource that is used to organize Files and other Folders and provide hierarchical access controls.",
      "id": "Folder",
      "properties": {
        "teamFolderName": {
          "readOnly": true,
          "description": "Output only. The resource name of the TeamFolder that this Folder is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Folder is not associated with a TeamFolder and is a UserFolder.",
          "type": "string"
        },
        "containingFolder": {
          "description": "Optional. The containing Folder resource name. This should take the format: projects/{project}/locations/{location}/folders/{folder}, projects/{project}/locations/{location}/teamFolders/{teamFolder}, or just \"\" if this is a root Folder. This field can only be updated through MoveFolder.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The Folder's user-friendly name.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The Folder's name."
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp of when the Folder was last updated.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The timestamp of when the Folder was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "creatorIamPrincipal": {
          "description": "Output only. The IAM principal identifier of the creator of the Folder.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListReleaseConfigsResponse": {
      "id": "ListReleaseConfigsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations which could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "releaseConfigs": {
          "type": "array",
          "items": {
            "$ref": "ReleaseConfig"
          },
          "description": "List of release configs."
        }
      },
      "description": "`ListReleaseConfigs` response message."
    },
    "CancelWorkflowInvocationRequest": {
      "id": "CancelWorkflowInvocationRequest",
      "description": "`CancelWorkflowInvocation` request message.",
      "type": "object",
      "properties": {}
    },
    "MoveRepositoryRequest": {
      "id": "MoveRepositoryRequest",
      "properties": {
        "destinationContainingFolder": {
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the repository to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`",
          "type": "string"
        }
      },
      "description": "`MoveRepository` request message.",
      "type": "object"
    },
    "MoveDirectoryRequest": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The directory's full path including directory name, relative to the workspace root."
        },
        "newPath": {
          "description": "Required. The new path for the directory including directory name, rooted at workspace root.",
          "type": "string"
        }
      },
      "description": "`MoveDirectory` request message.",
      "id": "MoveDirectoryRequest"
    },
    "InstallNpmPackagesRequest": {
      "id": "InstallNpmPackagesRequest",
      "description": "`InstallNpmPackages` request message.",
      "properties": {
        "pipelineConfig": {
          "$ref": "PipelineConfig",
          "description": "Optional. The pipeline options which defines the pipeline type and path within the Git repository."
        }
      },
      "type": "object"
    },
    "CommitRepositoryChangesResponse": {
      "type": "object",
      "properties": {
        "commitSha": {
          "type": "string",
          "description": "The commit SHA of the current commit."
        }
      },
      "id": "CommitRepositoryChangesResponse",
      "description": "`CommitRepositoryChanges` response message."
    },
    "DataEncryptionState": {
      "id": "DataEncryptionState",
      "properties": {
        "kmsKeyVersionName": {
          "description": "Required. The KMS key version name with which data of a resource is encrypted.",
          "type": "string"
        }
      },
      "description": "Describes encryption state of a resource.",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "DirectorySearchResult": {
      "properties": {
        "path": {
          "type": "string",
          "description": "File system path relative to the workspace root."
        }
      },
      "type": "object",
      "id": "DirectorySearchResult",
      "description": "Client-facing representation of a directory entry in search results."
    },
    "Binding": {
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "type": "object"
    },
    "CommitLogEntry": {
      "id": "CommitLogEntry",
      "type": "object",
      "description": "Represents a single commit log.",
      "properties": {
        "author": {
          "description": "The commit author for this commit log entry.",
          "$ref": "CommitAuthor"
        },
        "commitMessage": {
          "type": "string",
          "description": "The commit message for this commit log entry."
        },
        "commitSha": {
          "type": "string",
          "description": "The commit SHA for this commit log entry."
        },
        "commitTime": {
          "type": "string",
          "description": "Commit timestamp.",
          "format": "google-datetime"
        }
      }
    },
    "ReadRepositoryFileResponse": {
      "id": "ReadRepositoryFileResponse",
      "type": "object",
      "description": "`ReadRepositoryFile` response message.",
      "properties": {
        "contents": {
          "type": "string",
          "format": "byte",
          "description": "The file's contents."
        }
      }
    },
    "TableUpdateTrigger": {
      "id": "TableUpdateTrigger",
      "type": "object",
      "description": "Represents a table update trigger configuration.",
      "properties": {
        "triggerUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The modification time of this table that resulted in an invocation of the workflow. This would be updated by the triggering service after a successful workflow invocation."
        },
        "table": {
          "description": "The target table to trigger the workflow.",
          "$ref": "Target"
        }
      }
    },
    "FetchFileDiffResponse": {
      "type": "object",
      "properties": {
        "formattedDiff": {
          "type": "string",
          "description": "The raw formatted Git diff for the file."
        }
      },
      "description": "`FetchFileDiff` response message.",
      "id": "FetchFileDiffResponse"
    },
    "IncrementalTableConfig": {
      "id": "IncrementalTableConfig",
      "properties": {
        "incrementalPostOperations": {
          "description": "SQL statements to be executed after inserting new rows into the relation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "refreshDisabled": {
          "description": "Whether this table should be protected from being refreshed.",
          "type": "boolean"
        },
        "incrementalPreOperations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "SQL statements to be executed before inserting new rows into the relation."
        },
        "incrementalSelectQuery": {
          "type": "string",
          "description": "The SELECT query which returns rows which should be inserted into the relation if it already exists and is not being refreshed."
        },
        "uniqueKeyParts": {
          "description": "A set of columns or SQL expressions used to define row uniqueness. If any duplicates are discovered (as defined by `unique_key_parts`), only the newly selected rows (as defined by `incremental_select_query`) will be included in the relation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updatePartitionFilter": {
          "description": "A SQL expression conditional used to limit the set of existing rows considered for a merge operation (see `unique_key_parts` for more information).",
          "type": "string"
        }
      },
      "description": "Contains settings for relations of type `INCREMENTAL_TABLE`.",
      "type": "object"
    },
    "FetchWorkspaceBranchesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "branches": {
          "type": "array",
          "description": "The branches in the workspace.",
          "items": {
            "$ref": "BranchMetadata"
          }
        }
      },
      "description": "Response message for `FetchWorkspaceBranches` method.",
      "id": "FetchWorkspaceBranchesResponse"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GcsRepositorySnapshotMetadata": {
      "description": "Metadata about a repository snapshot stored in Google Cloud Storage.",
      "id": "GcsRepositorySnapshotMetadata",
      "type": "object",
      "properties": {
        "repositorySnapshotUri": {
          "readOnly": true,
          "description": "Output only. The Google Cloud Storage URI of the repository snapshot.",
          "type": "string"
        },
        "crc32cChecksum": {
          "description": "Output only. The crc32c checksum of the repository snapshot, big-endian base64 encoded.",
          "type": "string",
          "readOnly": true
        },
        "generation": {
          "description": "Output only. The generation number of the Cloud Storage object. See https://cloud.google.com/storage/docs/metadata#generation-number.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      }
    },
    "ActionSimpleLoadMode": {
      "description": "Simple load definition",
      "type": "object",
      "id": "ActionSimpleLoadMode",
      "properties": {}
    },
    "IamPolicyOverrideView": {
      "type": "object",
      "id": "IamPolicyOverrideView",
      "description": "Contains metadata about the IAM policy override for a given Dataform resource. If is_active is true, this the policy encoded in iam_policy_name is the source of truth for this resource. Will be provided in internal ESV2 views for: Workspaces, Repositories, Folders, TeamFolders.",
      "properties": {
        "iamPolicyName": {
          "description": "The IAM policy name for the resource.",
          "$ref": "PolicyName"
        },
        "isActive": {
          "description": "Whether the IAM policy encoded in this view is active.",
          "type": "boolean"
        }
      }
    },
    "ScheduledReleaseRecord": {
      "description": "A record of an attempt to create a compilation result for this release config.",
      "id": "ScheduledReleaseRecord",
      "properties": {
        "compilationResult": {
          "type": "string",
          "description": "The name of the created compilation result, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`."
        },
        "errorStatus": {
          "description": "The error status encountered upon this attempt to create the compilation result, if the attempt was unsuccessful.",
          "$ref": "Status"
        },
        "releaseTime": {
          "description": "Output only. The timestamp of this release attempt.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "MoveFileResponse": {
      "type": "object",
      "properties": {},
      "description": "`MoveFile` response message.",
      "id": "MoveFileResponse"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "statusDetail": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "MoveFileRequest": {
      "id": "MoveFileRequest",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The file's full path including filename, relative to the workspace root."
        },
        "newPath": {
          "description": "Required. The file's new path including filename, relative to the workspace root.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "`MoveFile` request message."
    },
    "FileSearchResult": {
      "type": "object",
      "id": "FileSearchResult",
      "description": "Client-facing representation of a file entry in search results.",
      "properties": {
        "path": {
          "description": "File system path relative to the workspace root.",
          "type": "string"
        }
      }
    },
    "CompilationResult": {
      "description": "Represents the result of compiling a Dataform project.",
      "properties": {
        "workspace": {
          "type": "string",
          "description": "Immutable. The name of the workspace to compile. Must be in the format `projects/*/locations/*/repositories/*/workspaces/*`."
        },
        "privateResourceMetadata": {
          "readOnly": true,
          "$ref": "PrivateResourceMetadata",
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `CompilationResult` resource is `user_scoped` only if it is sourced from a workspace."
        },
        "dataformCoreVersion": {
          "description": "Output only. The version of `@dataform/core` that was used for compilation.",
          "readOnly": true,
          "type": "string"
        },
        "compilationErrors": {
          "items": {
            "$ref": "CompilationError"
          },
          "type": "array",
          "description": "Output only. Errors encountered during project compilation.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the compilation result was created.",
          "type": "string",
          "readOnly": true
        },
        "dataEncryptionState": {
          "description": "Output only. Only set if the repository has a KMS Key.",
          "$ref": "DataEncryptionState",
          "readOnly": true
        },
        "internalMetadata": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "codeCompilationConfig": {
          "description": "Immutable. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json.",
          "$ref": "CodeCompilationConfig"
        },
        "name": {
          "type": "string",
          "description": "Output only. The compilation result's name.",
          "readOnly": true
        },
        "releaseConfig": {
          "type": "string",
          "description": "Immutable. The name of the release config to compile. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`."
        },
        "resolvedGitCommitSha": {
          "description": "Output only. The fully resolved Git commit SHA of the code that was compiled. Not set for compilation results whose source is a workspace.",
          "type": "string",
          "readOnly": true
        },
        "gcsRepositorySnapshotMetadata": {
          "description": "Output only. Metadata about the repository snapshot used by scheduled notebooks.",
          "$ref": "GcsRepositorySnapshotMetadata",
          "readOnly": true
        },
        "gitCommitish": {
          "type": "string",
          "description": "Immutable. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`"
        }
      },
      "type": "object",
      "id": "CompilationResult"
    },
    "RemoveFileResponse": {
      "type": "object",
      "description": "`RemoveFile` response message.",
      "properties": {},
      "id": "RemoveFileResponse"
    },
    "CompilationResultAction": {
      "id": "CompilationResultAction",
      "description": "Represents a single Dataform action in a compilation result.",
      "properties": {
        "dataPreparation": {
          "$ref": "DataPreparation",
          "description": "The data preparation executed by this action."
        },
        "relation": {
          "$ref": "Relation",
          "description": "The database relation created/updated by this action."
        },
        "filePath": {
          "description": "The full path including filename in which this action is located, relative to the workspace root.",
          "type": "string"
        },
        "assertion": {
          "$ref": "Assertion",
          "description": "The assertion executed by this action."
        },
        "target": {
          "description": "This action's identifier. Unique within the compilation result.",
          "$ref": "Target"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "declaration": {
          "$ref": "Declaration",
          "description": "The declaration declared by this action."
        },
        "notebook": {
          "description": "The notebook executed by this action.",
          "$ref": "Notebook"
        },
        "canonicalTarget": {
          "$ref": "Target",
          "description": "The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result."
        },
        "bigqueryUnitTest": {
          "description": "The unit test executed by this action.",
          "$ref": "BigQueryUnitTest"
        },
        "operations": {
          "description": "The database operations executed by this action.",
          "$ref": "Operations"
        }
      },
      "type": "object"
    },
    "Relation": {
      "id": "Relation",
      "description": "Represents a database relation.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "additionalOptions": {
          "description": "Additional options that will be provided as key/value pairs into the options clause of a create table/view statement. See https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language for more information on which options are supported.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "clusterExpressions": {
          "description": "A list of columns or SQL expressions used to cluster the table.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "preOperations": {
          "description": "SQL statements to be executed before creating the relation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fileFormat": {
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ],
          "description": "Optional. The file format for the BigQuery table.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Apache Parquet format."
          ]
        },
        "partitionExpirationDays": {
          "description": "Sets the partition expiration in days.",
          "type": "integer",
          "format": "int32"
        },
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns.",
          "$ref": "RelationDescriptor"
        },
        "postOperations": {
          "type": "array",
          "description": "SQL statements to be executed after creating the relation.",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tableFormat": {
          "type": "string",
          "description": "Optional. The table format for the BigQuery table.",
          "enumDescriptions": [
            "Default value.",
            "Apache Iceberg format."
          ],
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ]
        },
        "selectQuery": {
          "description": "The SELECT query which returns rows which this relation should contain.",
          "type": "string"
        },
        "partitionExpression": {
          "type": "string",
          "description": "The SQL expression used to partition the relation."
        },
        "storageUri": {
          "type": "string",
          "description": "Optional. The fully qualified location prefix of the external folder where table data is stored. The URI should be in the format `gs://bucket/path_to_table/`."
        },
        "incrementalTableConfig": {
          "$ref": "IncrementalTableConfig",
          "description": "Configures `INCREMENTAL_TABLE` settings for this relation. Only set if `relation_type` is `INCREMENTAL_TABLE`."
        },
        "dependencyTargets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on."
        },
        "requirePartitionFilter": {
          "type": "boolean",
          "description": "Specifies whether queries on this table must include a predicate filter that filters on the partitioning column."
        },
        "relationType": {
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "TABLE",
            "VIEW",
            "INCREMENTAL_TABLE",
            "MATERIALIZED_VIEW"
          ],
          "description": "The type of this relation.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The relation is a table.",
            "The relation is a view.",
            "The relation is an incrementalized table.",
            "The relation is a materialized view."
          ],
          "type": "string"
        },
        "connection": {
          "description": "Optional. The connection specifying the credentials to be used to read and write to external storage, such as Cloud Storage. The connection can have the form `{project}.{location}.{connection_id}` or `projects/{project}/locations/{location}/connections/{connection_id}`, or be set to DEFAULT.",
          "type": "string"
        }
      }
    },
    "WorkspaceCompilationOverrides": {
      "id": "WorkspaceCompilationOverrides",
      "description": "Configures workspace compilation overrides for a repository. Primarily used by the UI (`console.cloud.google.com`). `schema_suffix` and `table_prefix` can have a special expression - `${workspaceName}`, which refers to the workspace name from which the compilation results will be created. API callers are expected to resolve the expression in these overrides and provide them explicitly in `code_compilation_config` (https://cloud.google.com/dataform/reference/rest/v1beta1/projects.locations.repositories.compilationResults#codecompilationconfig) when creating workspace-scoped compilation results.",
      "properties": {
        "tablePrefix": {
          "description": "Optional. The prefix that should be prepended to all table names.",
          "type": "string"
        },
        "defaultDatabase": {
          "type": "string",
          "description": "Optional. The default database (Google Cloud project ID)."
        },
        "schemaSuffix": {
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeleteTeamFolderTreeRequest": {
      "id": "DeleteTeamFolderTreeRequest",
      "description": "`DeleteTeamFolderTree` request message.",
      "type": "object",
      "properties": {
        "force": {
          "description": "Optional. If `false` (default): The operation will fail if any Repository within the folder hierarchy has associated Release Configs or Workflow Configs. If `true`: The operation will attempt to delete everything, including any Release Configs and Workflow Configs linked to Repositories within the folder hierarchy. This permanently removes schedules and resources.",
          "type": "boolean"
        }
      }
    },
    "SqlDefinition": {
      "id": "SqlDefinition",
      "type": "object",
      "description": "Definition of a SQL Data Preparation",
      "properties": {
        "errorTable": {
          "$ref": "ErrorTable",
          "description": "Error table configuration,"
        },
        "load": {
          "$ref": "LoadConfig",
          "description": "Load configuration."
        },
        "query": {
          "type": "string",
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement."
        }
      }
    },
    "CommitAuthor": {
      "id": "CommitAuthor",
      "description": "Represents the author of a Git commit.",
      "properties": {
        "emailAddress": {
          "description": "Required. The commit author's email address.",
          "type": "string"
        },
        "name": {
          "description": "Required. The commit author's name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "SyncWorkspaceRefsResponse": {
      "properties": {},
      "id": "SyncWorkspaceRefsResponse",
      "description": "`SyncWorkspaceRefs` response message.",
      "type": "object"
    },
    "BigQueryUnitTestAction": {
      "id": "BigQueryUnitTestAction",
      "description": "Represents a workflow action that will run a BigQuery unit test.",
      "type": "object",
      "properties": {
        "totalBilledBytes": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Total bytes billed for this action. Combined total for actual and expected jobs.",
          "format": "int64"
        },
        "actualResultsSqlScript": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. SQL script for the actual results."
        },
        "expectedResultsSqlScript": {
          "description": "Output only. SQL script for the expected results.",
          "type": "string",
          "readOnly": true
        },
        "totalProcessedBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Total bytes processed for this action. Combined total for actual and expected jobs.",
          "readOnly": true
        },
        "actualResultsJobId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Job ID for the actual results."
        },
        "expectedResultsJobId": {
          "description": "Output only. Job ID for the expected results.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListWorkspacesResponse": {
      "type": "object",
      "description": "`ListWorkspaces` response message.",
      "id": "ListWorkspacesResponse",
      "properties": {
        "workspaces": {
          "type": "array",
          "items": {
            "$ref": "Workspace"
          },
          "description": "List of workspaces."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "description": "Response message for `TestIamPermissions` method."
    },
    "OAuthConfig": {
      "properties": {
        "additionalOauthScopes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional OAuth scopes to use for BigQuery executions. Scopes always in use: `https://www.googleapis.com/auth/bigquery`",
          "type": "array"
        }
      },
      "type": "object",
      "description": "OAuth configuration for end user authentication.",
      "id": "OAuthConfig"
    },
    "PipelineConfig": {
      "id": "PipelineConfig",
      "properties": {
        "path": {
          "description": "Required. The relative path within the Git repository where the pipeline is defined. For example, for a Dataform pipeline, it is a path to the folder where `workflow_settings.yaml` or `dataform.json` is located.",
          "type": "string"
        },
        "pipelineType": {
          "description": "Required. The type of the pipeline.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Regular Dataform pipeline.",
            "SQL single file asset.",
            "Notebook single file asset."
          ],
          "type": "string",
          "enum": [
            "PIPELINE_TYPE_UNSPECIFIED",
            "DATAFORM",
            "SQL",
            "NOTEBOOK"
          ]
        }
      },
      "type": "object",
      "description": "Defines the pipeline type and path within the Git repository."
    },
    "ListOperationsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "MakeDirectoryResponse": {
      "properties": {},
      "type": "object",
      "id": "MakeDirectoryResponse",
      "description": "`MakeDirectory` response message."
    },
    "CommitRepositoryChangesRequest": {
      "description": "`CommitRepositoryChanges` request message.",
      "type": "object",
      "id": "CommitRepositoryChangesRequest",
      "properties": {
        "requiredHeadCommitSha": {
          "type": "string",
          "description": "Optional. The commit SHA which must be the repository's current HEAD before applying this commit; otherwise this request will fail. If unset, no validation on the current HEAD commit SHA is performed."
        },
        "commitMetadata": {
          "description": "Required. The changes to commit to the repository.",
          "$ref": "CommitMetadata"
        },
        "fileOperations": {
          "description": "Optional. A map to the path of the file to the operation. The path is the full file path including filename, from repository root.",
          "type": "object",
          "additionalProperties": {
            "$ref": "FileOperation"
          }
        }
      }
    },
    "Operations": {
      "description": "Represents a list of arbitrary database operations.",
      "type": "object",
      "id": "Operations",
      "properties": {
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "queries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of arbitrary SQL statements that will be executed without alteration."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action."
        },
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "type": "array",
          "description": "A list of actions that this action depends on."
        },
        "relationDescriptor": {
          "description": "Descriptor for any output relation and its columns. Only set if `has_output` is true.",
          "$ref": "RelationDescriptor"
        },
        "hasOutput": {
          "description": "Whether these operations produce an output relation.",
          "type": "boolean"
        }
      }
    },
    "FetchRepositoryHistoryResponse": {
      "type": "object",
      "properties": {
        "commits": {
          "items": {
            "$ref": "CommitLogEntry"
          },
          "type": "array",
          "description": "A list of commit logs, ordered by 'git log' default order."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "`FetchRepositoryHistory` response message.",
      "id": "FetchRepositoryHistoryResponse"
    },
    "QueryRepositoryDirectoryContentsResponse": {
      "description": "`QueryRepositoryDirectoryContents` response message.",
      "id": "QueryRepositoryDirectoryContentsResponse",
      "type": "object",
      "properties": {
        "directoryEntries": {
          "items": {
            "$ref": "DirectoryEntry"
          },
          "type": "array",
          "description": "List of entries in the directory."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "MoveDirectoryResponse": {
      "id": "MoveDirectoryResponse",
      "type": "object",
      "description": "`MoveDirectory` response message.",
      "properties": {}
    },
    "WorkflowConfig": {
      "properties": {
        "invocationConfig": {
          "$ref": "InvocationConfig",
          "description": "Optional. If left unset, a default InvocationConfig will be used."
        },
        "releaseConfig": {
          "type": "string",
          "description": "Required. The name of the release config whose release_compilation_result should be executed. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`."
        },
        "cronSchedule": {
          "type": "string",
          "description": "Optional. Optional schedule (in cron format) for automatic execution of this workflow config."
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the [time zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is `UTC`."
        },
        "updateTime": {
          "description": "Output only. The timestamp of when the WorkflowConfig was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "recentScheduledExecutionRecords": {
          "readOnly": true,
          "description": "Output only. Records of the 10 most recent scheduled execution attempts, ordered in descending order of `execution_time`. Updated whenever automatic creation of a workflow invocation is triggered by cron_schedule.",
          "type": "array",
          "items": {
            "$ref": "ScheduledExecutionRecord"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp of when the WorkflowConfig was created."
        },
        "disabled": {
          "description": "Optional. Disables automatic creation of workflow invocations.",
          "type": "boolean"
        },
        "workflowTriggerConfig": {
          "$ref": "WorkflowTriggerConfig",
          "description": "Optional. Trigger configuration for this workflow. If present, the workflow will be triggered based on the specified triggers."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The workflow config's name."
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents a Dataform workflow configuration.",
      "id": "WorkflowConfig",
      "type": "object"
    },
    "QueryFolderContentsResponse": {
      "id": "QueryFolderContentsResponse",
      "description": "`QueryFolderContents` response message.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "FolderContentsEntry"
          },
          "description": "List of entries in the folder."
        }
      },
      "type": "object"
    },
    "ReadFileResponse": {
      "description": "`ReadFile` response message.",
      "id": "ReadFileResponse",
      "properties": {
        "fileContents": {
          "format": "byte",
          "type": "string",
          "description": "The file's contents."
        }
      },
      "type": "object"
    },
    "DeleteFile": {
      "id": "DeleteFile",
      "properties": {},
      "type": "object",
      "description": "Represents the delete file operation."
    },
    "RemoveFileRequest": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The file's full path including filename, relative to the workspace root."
        }
      },
      "id": "RemoveFileRequest",
      "description": "`RemoveFile` request message."
    },
    "TeamFolderContentsEntry": {
      "description": "Represents a single content entry.",
      "id": "TeamFolderContentsEntry",
      "type": "object",
      "properties": {
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        },
        "repository": {
          "$ref": "Repository",
          "description": "A repository."
        }
      }
    },
    "CommitMetadata": {
      "description": "Represents a Dataform Git commit.",
      "properties": {
        "commitMessage": {
          "description": "Optional. The commit's message.",
          "type": "string"
        },
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        }
      },
      "type": "object",
      "id": "CommitMetadata"
    },
    "NotebookAction": {
      "properties": {
        "contents": {
          "description": "Output only. The code contents of a Notebook to be run.",
          "type": "string",
          "readOnly": true
        },
        "jobId": {
          "readOnly": true,
          "description": "Output only. The ID of the Gemini Enterprise Agent Platform job that executed the notebook in contents and also the ID used for the outputs created in Google Cloud Storage buckets. Only set once the job has started to run.",
          "type": "string"
        },
        "filePath": {
          "description": "Output only. The path to the notebook file in the repository.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "NotebookAction",
      "description": "Represents a workflow action that will run against a Notebook runtime.",
      "type": "object"
    },
    "QueryCompilationResultActionsResponse": {
      "properties": {
        "compilationResultActions": {
          "description": "List of compilation result actions.",
          "items": {
            "$ref": "CompilationResultAction"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "`QueryCompilationResultActions` response message.",
      "id": "QueryCompilationResultActionsResponse"
    },
    "NotebookRuntimeOptions": {
      "properties": {
        "gcsOutputBucket": {
          "description": "Optional. The Google Cloud Storage location to upload the result to. Format: `gs://bucket-name`.",
          "type": "string"
        },
        "aiPlatformNotebookRuntimeTemplate": {
          "description": "Optional. The resource name of the [Colab runtime template] (https://cloud.google.com/colab/docs/runtimes), from which a runtime is created for notebook executions. If not specified, a runtime is created with Colab's default specifications.",
          "type": "string"
        },
        "gcsRepositorySnapshotDestination": {
          "$ref": "GcsRepositorySnapshotDestination",
          "description": "Optional. The Google Cloud Storage destination to upload the snapshot to. For empty URI it defaults to the provided gcs_output_bucket. Format: `gs://bucket-name/path/`."
        }
      },
      "id": "NotebookRuntimeOptions",
      "description": "Configures various aspects of Dataform notebook runtime.",
      "type": "object"
    },
    "WriteFile": {
      "id": "WriteFile",
      "description": "Represents the write file operation (for files added or modified).",
      "type": "object",
      "properties": {
        "contents": {
          "type": "string",
          "format": "byte",
          "description": "The file's contents."
        }
      }
    },
    "Target": {
      "description": "Represents an action identifier. If the action writes output, the output will be written to the referenced database object.",
      "id": "Target",
      "properties": {
        "database": {
          "type": "string",
          "description": "Optional. The action's database (Google Cloud project ID) ."
        },
        "schema": {
          "description": "Optional. The action's schema (BigQuery dataset ID), within `database`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. The action's name, within `database` and `schema`."
        }
      },
      "type": "object"
    },
    "Workspace": {
      "type": "object",
      "id": "Workspace",
      "properties": {
        "privateResourceMetadata": {
          "$ref": "PrivateResourceMetadata",
          "readOnly": true,
          "description": "Output only. Metadata indicating whether this resource is user-scoped. For `Workspace` resources, the `user_scoped` field is always `true`."
        },
        "shallow": {
          "readOnly": true,
          "description": "Output only. If set to true, the workspace was created as a shallow clone. Will be set to true if the depth field is set to a value greater than 0, otherwise it will be set to false.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp of when the workspace was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "disableMoves": {
          "type": "boolean",
          "description": "Optional. If set to true, workspaces will not be moved if its linked Repository is moved. Instead, it will be deleted."
        },
        "dataEncryptionState": {
          "description": "Output only. A data encryption state of a Git repository if this Workspace is protected by a KMS key.",
          "$ref": "DataEncryptionState",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The workspace's name."
        },
        "originalBranch": {
          "type": "string",
          "description": "Optional. Input only. Immutable. The name of the default upstream branch for all pull/push operations in the remote repository for this workspace. If empty, the HEAD branch from repository will be used."
        },
        "internalMetadata": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "depth": {
          "format": "int32",
          "description": "Optional. Input only. Immutable. The maximum depth of the Git repository to checkout for this workspace. If defined and greater than 0, the Git repository will be created as a shallow clone with the given depth, otherwise a full clone will be performed. This field is available only for GitHub, GitLab and 1p repositories with enabled branch management.",
          "type": "integer"
        },
        "enableBranchManagement": {
          "description": "Immutable. Controls the enablement of branch checkout for the workspace. When set to True, the workspace will be allowed to checkout branches.",
          "type": "boolean"
        }
      },
      "description": "Represents a Dataform Git workspace."
    },
    "CodeCompilationConfig": {
      "properties": {
        "vars": {
          "type": "object",
          "description": "Optional. User-defined variables that are made available to project code during compilation.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "defaultSchema": {
          "description": "Optional. The default schema (BigQuery dataset ID).",
          "type": "string"
        },
        "assertionSchema": {
          "type": "string",
          "description": "Optional. The default schema (BigQuery dataset ID) for assertions."
        },
        "schemaSuffix": {
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names.",
          "type": "string"
        },
        "databaseSuffix": {
          "type": "string",
          "description": "Optional. The suffix that should be appended to all database (Google Cloud project ID) names."
        },
        "pipelineConfig": {
          "$ref": "PipelineConfig",
          "description": "Optional. The pipeline options which defines the pipeline type and path within the Git repository."
        },
        "builtinAssertionNamePrefix": {
          "description": "Optional. The prefix to prepend to built-in assertion names.",
          "type": "string"
        },
        "defaultNotebookRuntimeOptions": {
          "description": "Optional. The default notebook runtime options.",
          "$ref": "NotebookRuntimeOptions"
        },
        "defaultLocation": {
          "description": "Optional. The default BigQuery location to use. Defaults to \"US\". See the BigQuery docs for a full list of locations: https://cloud.google.com/bigquery/docs/locations.",
          "type": "string"
        },
        "defaultDatabase": {
          "description": "Optional. The default database (Google Cloud project ID).",
          "type": "string"
        },
        "tablePrefix": {
          "description": "Optional. The prefix that should be prepended to all table names.",
          "type": "string"
        }
      },
      "description": "Configures various aspects of Dataform code compilation.",
      "id": "CodeCompilationConfig",
      "type": "object"
    },
    "DataPreparation": {
      "id": "DataPreparation",
      "description": "Defines a compiled Data Preparation entity",
      "properties": {
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          },
          "type": "array"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action."
        },
        "contentsSql": {
          "$ref": "SqlDefinition",
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information."
        },
        "contentsYaml": {
          "description": "The data preparation definition, stored as a YAML string.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResetWorkspaceChangesRequest": {
      "id": "ResetWorkspaceChangesRequest",
      "type": "object",
      "properties": {
        "clean": {
          "type": "boolean",
          "description": "Optional. If set to true, untracked files will be deleted."
        },
        "paths": {
          "description": "Optional. Full file paths to reset back to their committed state including filename, rooted at workspace root. If left empty, all files will be reset.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "`ResetWorkspaceChanges` request message."
    },
    "Repository": {
      "id": "Repository",
      "description": "Represents a Dataform Git repository.",
      "properties": {
        "dataEncryptionState": {
          "$ref": "DataEncryptionState",
          "description": "Output only. A data encryption state of a Git repository if this Repository is protected by a KMS key.",
          "readOnly": true
        },
        "internalMetadata": {
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true
        },
        "setAuthenticatedUserAdmin": {
          "description": "Optional. Input only. If set to true, the authenticated user will be granted the roles/dataform.admin role on the created repository. To modify access to the created repository later apply setIamPolicy from https://cloud.google.com/dataform/reference/rest#rest-resource:-v1beta1.projects.locations.repositories",
          "type": "boolean"
        },
        "displayName": {
          "description": "Optional. The repository's user-friendly name.",
          "type": "string"
        },
        "teamFolderName": {
          "description": "Output only. The resource name of the TeamFolder that this Repository is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Repository is not associated with a TeamFolder.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Repository user labels."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp of when the repository was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "kmsKeyName": {
          "description": "Optional. The reference to a KMS encryption key. If provided, it will be used to encrypt user data in the repository and all child resources. It is not possible to add or update the encryption key after the repository is created. Example: `projects/{kms_project}/locations/{location}/keyRings/{key_location}/cryptoKeys/{key}`",
          "type": "string"
        },
[...]
