{
  "version": "v1",
  "protocol": "rest",
  "revision": "20260823",
  "discoveryVersion": "v1",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/dataplex.read-write": {
          "description": "See, edit, configure, and delete your Google Cloud Dataplex data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dataplex.readonly": {
          "description": "See your Google Cloud Dataplex data and the email address of your Google Account"
        }
      }
    }
  },
  "id": "dataplex:v1",
  "schemas": {
    "GoogleCloudDataplexV1Entry": {
      "properties": {
        "createTime": {
          "description": "Output only. The time when the entry was created in Dataplex Universal Catalog.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the entry was last updated in Dataplex Universal Catalog.",
          "format": "google-datetime"
        },
        "entryType": {
          "description": "Required. Immutable. The relative resource name of the entry type that was used to create this entry, in the format projects/{project_id_or_number}/locations/{location_id}/entryTypes/{entry_type_id}.",
          "type": "string"
        },
        "aspects": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDataplexV1Aspect"
          },
          "description": "Optional. The aspects that are attached to the entry. Depending on how the aspect is attached to the entry, the format of the aspect key can be one of the following: If the aspect is attached directly to the entry: {project_id_or_number}.{location_id}.{aspect_type_id} If the aspect is attached to an entry's path: {project_id_or_number}.{location_id}.{aspect_type_id}@{path}"
        },
        "parentEntry": {
          "description": "Optional. Immutable. The resource name of the parent entry, in the format projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entries/{entry_id}.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The relative resource name of the entry, in the format projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entries/{entry_id}.",
          "type": "string"
        },
        "fullyQualifiedName": {
          "description": "Optional. A name for the entry that can be referenced by an external system. For more information, see Fully qualified names (https://cloud.google.com/data-catalog/docs/fully-qualified-names). The maximum size of the field is 4000 characters.",
          "type": "string"
        },
        "entrySource": {
          "description": "Optional. Information related to the source system of the data resource that is represented by the entry.",
          "$ref": "GoogleCloudDataplexV1EntrySource"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1Entry",
      "description": "An entry is a representation of a data resource that can be described by various metadata."
    },
    "GoogleCloudDataplexV1AssetDiscoverySpec": {
      "id": "GoogleCloudDataplexV1AssetDiscoverySpec",
      "description": "Settings to manage the metadata discovery and publishing for an asset.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. Whether discovery is enabled.",
          "type": "boolean"
        },
        "excludePatterns": {
          "type": "array",
          "description": "Optional. The list of patterns to apply for selecting data to exclude during discovery. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names.",
          "items": {
            "type": "string"
          }
        },
        "schedule": {
          "description": "Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for running discovery periodically. Successive discovery runs must be scheduled at least 60 minutes apart. The default value is to run discovery every 60 minutes.To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, CRON_TZ=America/New_York 1 * * * *, or TZ=America/New_York 1 * * * *.",
          "type": "string"
        },
        "includePatterns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of patterns to apply for selecting data to include during discovery if only a subset of the data should considered. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names."
        },
        "jsonOptions": {
          "description": "Optional. Configuration for Json data.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpecJsonOptions"
        },
        "csvOptions": {
          "description": "Optional. Configuration for CSV data.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions"
        }
      }
    },
    "GoogleCloudDataplexV1UnstructuredDataProfileResult": {
      "properties": {
        "partialFailureMessage": {
          "description": "Output only. Optional message for partial failures (e.g. node type extraction failed).",
          "readOnly": true,
          "type": "string"
        },
        "graphProfile": {
          "$ref": "GoogleCloudDataplexV1GraphProfile",
          "readOnly": true,
          "description": "Output only. The inferred graph profile."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The inferred description."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1UnstructuredDataProfileResult",
      "description": "Contains the result of an unstructured data profile scan."
    },
    "GoogleCloudDataplexV1DataQualityRuleTemplateReference": {
      "id": "GoogleCloudDataplexV1DataQualityRuleTemplateReference",
      "description": "A rule that constructs a SQL statement to evaluate using a rule template and parameter values. If the constructed statement returns any rows, this rule fails",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The template entry name. Entry must be of EntryType projects/dataplex-types/locations/global/entryTypes/data-quality-rule-template and contains top-level aspect of AspectType projects/dataplex-types/locations/global/aspectTypes/data-quality-rule-template. The format is: projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entries/{entry_id}",
          "type": "string"
        },
        "values": {
          "description": "Optional. Provides the map of parameter name and value. The maximum size of the field is 120KB (encoded as UTF-8).",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDataplexV1DataQualityRuleTemplateReferenceParameterValue"
          }
        },
        "ruleTemplate": {
          "description": "Output only. The rule template used to resolve the rule. It is only populated in the result.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleTemplate",
          "readOnly": true
        },
        "resolvedSql": {
          "description": "Output only. The resolved SQL statement generated from the template with parameters substituted. It is only populated in the result.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ListDataTaxonomiesResponse": {
      "id": "GoogleCloudDataplexV1ListDataTaxonomiesResponse",
      "description": "List DataTaxonomies response.",
      "properties": {
        "unreachableLocations": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "dataTaxonomies": {
          "type": "array",
          "description": "DataTaxonomies under the given parent location.",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataTaxonomy"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1Action": {
      "properties": {
        "unauthorizedResource": {
          "description": "Details for issues related to lack of permissions to access data resources.",
          "$ref": "GoogleCloudDataplexV1ActionUnauthorizedResource"
        },
        "detectTime": {
          "type": "string",
          "description": "The time that the issue was detected.",
          "format": "google-datetime"
        },
        "invalidDataPartition": {
          "description": "Details for issues related to invalid or unsupported data partition structure.",
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataPartition"
        },
        "name": {
          "description": "Output only. The relative resource name of the action, of the form: projects/{project}/locations/{location}/lakes/{lake}/actions/{action} projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/actions/{action} projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/assets/{asset}/actions/{action}.",
          "readOnly": true,
          "type": "string"
        },
        "dataLocations": {
          "type": "array",
          "description": "The list of data locations associated with this action. Cloud Storage locations are represented as URI paths(E.g. gs://bucket/table1/year=2020/month=Jan/). BigQuery locations refer to resource names(E.g. bigquery.googleapis.com/projects/project-id/datasets/dataset-id).",
          "items": {
            "type": "string"
          }
        },
        "category": {
          "description": "The category of issue associated with the action.",
          "enumDescriptions": [
            "Unspecified category.",
            "Resource management related issues.",
            "Security policy related issues.",
            "Data and discovery related issues."
          ],
          "type": "string",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "RESOURCE_MANAGEMENT",
            "SECURITY_POLICY",
            "DATA_DISCOVERY"
          ]
        },
        "invalidDataFormat": {
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataFormat",
          "description": "Details for issues related to invalid or unsupported data formats."
        },
        "missingData": {
          "$ref": "GoogleCloudDataplexV1ActionMissingData",
          "description": "Details for issues related to absence of data within managed resources."
        },
        "issue": {
          "description": "Detailed description of the issue requiring action.",
          "type": "string"
        },
        "missingResource": {
          "description": "Details for issues related to absence of a managed resource.",
          "$ref": "GoogleCloudDataplexV1ActionMissingResource"
        },
        "asset": {
          "description": "Output only. The relative resource name of the asset, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/assets/{asset_id}.",
          "readOnly": true,
          "type": "string"
        },
        "zone": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the zone, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}."
        },
        "invalidDataOrganization": {
          "description": "Details for issues related to invalid data arrangement.",
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataOrganization"
        },
        "lake": {
          "description": "Output only. The relative resource name of the lake, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}.",
          "readOnly": true,
          "type": "string"
        },
        "incompatibleDataSchema": {
          "$ref": "GoogleCloudDataplexV1ActionIncompatibleDataSchema",
          "description": "Details for issues related to incompatible schemas detected within data."
        },
        "failedSecurityPolicyApply": {
          "description": "Details for issues related to applying security policy.",
          "$ref": "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1Action",
      "description": "Action represents an issue requiring administrator action for resolution."
    },
    "GoogleCloudDataplexV1DataQualityResultAnomalyDetectionGeneratedAssets": {
      "type": "object",
      "properties": {
        "dataIntermediateTable": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The intermediate table for data anomaly detection. Format: PROJECT_ID.DATASET_ID.TABLE_ID"
        },
        "freshnessIntermediateTable": {
          "description": "Output only. The intermediate table for freshness anomaly detection. Format: PROJECT_ID.DATASET_ID.TABLE_ID",
          "readOnly": true,
          "type": "string"
        },
        "resultTable": {
          "description": "Output only. The result table for anomaly detection. Format: PROJECT_ID.DATASET_ID.TABLE_ID If the result table is set at AnomalyDetectionAssets, the result table here would be the same as the one set in the AnomalyDetectionAssets.result_table.",
          "readOnly": true,
          "type": "string"
        },
        "volumeIntermediateTable": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The intermediate table for volume anomaly detection. Format: PROJECT_ID.DATASET_ID.TABLE_ID"
        }
      },
      "id": "GoogleCloudDataplexV1DataQualityResultAnomalyDetectionGeneratedAssets",
      "description": "The assets generated by Anomaly Detection Data Scan."
    },
    "GoogleCloudDataplexV1DataScan": {
      "properties": {
        "description": {
          "description": "Optional. Description of the scan. Must be between 1-1024 characters.",
          "type": "string"
        },
        "dataProfileSpec": {
          "$ref": "GoogleCloudDataplexV1DataProfileSpec",
          "description": "Settings for a data profile scan."
        },
        "displayName": {
          "description": "Optional. User friendly display name. Must be between 1-256 characters.",
          "type": "string"
        },
        "dataDocumentationResult": {
          "description": "Output only. The result of a data documentation scan.",
          "$ref": "GoogleCloudDataplexV1DataDocumentationResult",
          "readOnly": true
        },
        "dataQualityResult": {
          "description": "Output only. The result of a data quality scan.",
          "$ref": "GoogleCloudDataplexV1DataQualityResult",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time when the scan was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "dataDocumentationSpec": {
          "$ref": "GoogleCloudDataplexV1DataDocumentationSpec",
          "description": "Settings for a data documentation scan."
        },
        "unstructuredDataProfileSpec": {
          "$ref": "GoogleCloudDataplexV1UnstructuredDataProfileSpec",
          "description": "Optional. Settings for an unstructured data profile scan."
        },
        "type": {
          "description": "Output only. The type of DataScan.",
          "enumDescriptions": [
            "The data scan type is unspecified.",
            "Data quality scan.",
            "Data profile scan.",
            "Data discovery scan.",
            "Data documentation scan.",
            "Unstructured data profile scan."
          ],
          "enum": [
            "DATA_SCAN_TYPE_UNSPECIFIED",
            "DATA_QUALITY",
            "DATA_PROFILE",
            "DATA_DISCOVERY",
            "DATA_DOCUMENTATION",
            "UNSTRUCTURED_DATA_PROFILE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "dataProfileResult": {
          "description": "Output only. The result of a data profile scan.",
          "$ref": "GoogleCloudDataplexV1DataProfileResult",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current state of the DataScan.",
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ]
        },
        "dataQualitySpec": {
          "description": "Settings for a data quality scan.",
          "$ref": "GoogleCloudDataplexV1DataQualitySpec"
        },
        "data": {
          "$ref": "GoogleCloudDataplexV1DataSource",
          "description": "Required. The data source for DataScan."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the scan was last updated.",
          "format": "google-datetime"
        },
        "executionIdentity": {
          "description": "Optional. Immutable. The identity to run the datascan. If not specified, defaults to the Dataplex Service Agent.",
          "$ref": "GoogleCloudDataplexV1ExecutionIdentity"
        },
        "dataDiscoveryResult": {
          "description": "Output only. The result of a data discovery scan.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataDiscoveryResult"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System generated globally unique ID for the scan. This ID will be different if the scan is deleted and re-created with the same name."
        },
        "executionSpec": {
          "$ref": "GoogleCloudDataplexV1DataScanExecutionSpec",
          "description": "Optional. DataScan execution settings.If not specified, the fields in it will use their default values."
        },
        "executionStatus": {
          "description": "Output only. Status of the data scan execution.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataScanExecutionStatus"
        },
        "name": {
          "description": "Output only. Identifier. The relative resource name of the scan, of the form: projects/{project}/locations/{location_id}/dataScans/{datascan_id}, where project refers to a project_id or project_number and location_id refers to a Google Cloud region.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. User-defined labels for the scan.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "unstructuredDataProfileResult": {
          "description": "Output only. The result of an unstructured data profile scan.",
          "$ref": "GoogleCloudDataplexV1UnstructuredDataProfileResult",
          "readOnly": true
        },
        "dataDiscoverySpec": {
          "$ref": "GoogleCloudDataplexV1DataDiscoverySpec",
          "description": "Settings for a data discovery scan."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DataScan",
      "description": "Represents a user-visible job which provides the insights for the related data source.For example: Data quality: generates queries based on the rules and runs against the data to get data quality check results. For more information, see Auto data quality overview (https://cloud.google.com/dataplex/docs/auto-data-quality-overview). Data profile: analyzes the data in tables and generates insights about the structure, content and relationships (such as null percent, cardinality, min/max/mean, etc). For more information, see About data profiling (https://cloud.google.com/dataplex/docs/data-profiling-overview). Data discovery: scans data in Cloud Storage buckets to extract and then catalog metadata. For more information, see Discover and catalog Cloud Storage data (https://cloud.google.com/bigquery/docs/automatic-discovery). Data documentation: analyzes the table or dataset metadata and generates insights. For tables, insights include descriptions and sample SQL queries. For datasets, insights include descriptions, schema relationships and sample SQL queries. For more information, see Generate data insights in BigQuery (https://cloud.google.com/bigquery/docs/data-insights)."
    },
    "GoogleCloudDataplexV1CreateGlossaryRequest": {
      "id": "GoogleCloudDataplexV1CreateGlossaryRequest",
      "description": "Create Glossary Request",
      "type": "object",
      "properties": {
        "validateOnly": {
          "description": "Optional. Validates the request without actually creating the Glossary. Default: false.",
          "type": "boolean"
        },
        "parent": {
          "description": "Required. The parent resource where this Glossary will be created. Format: projects/{project_id_or_number}/locations/{location_id} where location_id refers to a Google Cloud region.",
          "type": "string"
        },
        "glossaryId": {
          "description": "Required. Glossary ID: Glossary identifier.",
          "type": "string"
        },
        "glossary": {
          "description": "Required. The Glossary to create.",
          "$ref": "GoogleCloudDataplexV1Glossary"
        }
      }
    },
    "GoogleCloudDataplexV1DeleteGlossaryCategoryRequest": {
      "id": "GoogleCloudDataplexV1DeleteGlossaryCategoryRequest",
      "description": "Delete GlossaryCategory Request",
      "properties": {
        "name": {
          "description": "Required. The name of the GlossaryCategory to delete. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/categories/{category_id}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DeleteEntryLinkRequest": {
      "id": "GoogleCloudDataplexV1DeleteEntryLinkRequest",
      "description": "Request message for DeleteEntryLink.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The resource name of the Entry Link: projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entryLinks/{entry_link_id}.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualitySpecPostScanActionsJobEndTrigger": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsJobEndTrigger",
      "description": "This trigger is triggered whenever a scan job run ends, regardless of the result."
    },
    "GoogleCloudDataplexV1BusinessGlossaryEvent": {
      "id": "GoogleCloudDataplexV1BusinessGlossaryEvent",
      "description": "Payload associated with Business Glossary related log events.",
      "type": "object",
      "properties": {
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "resource": {
          "description": "Name of the resource.",
          "type": "string"
        },
        "eventType": {
          "description": "The type of the event.",
          "enumDescriptions": [
            "An unspecified event type.",
            "Glossary create event.",
            "Glossary update event.",
            "Glossary delete event.",
            "Glossary category create event.",
            "Glossary category update event.",
            "Glossary category delete event.",
            "Glossary term create event.",
            "Glossary term update event.",
            "Glossary term delete event."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "GLOSSARY_CREATE",
            "GLOSSARY_UPDATE",
            "GLOSSARY_DELETE",
            "GLOSSARY_CATEGORY_CREATE",
            "GLOSSARY_CATEGORY_UPDATE",
            "GLOSSARY_CATEGORY_DELETE",
            "GLOSSARY_TERM_CREATE",
            "GLOSSARY_TERM_UPDATE",
            "GLOSSARY_TERM_DELETE"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1AspectTypeMetadataTemplateConstraints": {
      "id": "GoogleCloudDataplexV1AspectTypeMetadataTemplateConstraints",
      "description": "Definition of the constraints of a field.",
      "properties": {
        "required": {
          "description": "Optional. Marks this field as optional or required.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1TaskNotebookTaskConfig": {
      "type": "object",
      "properties": {
        "infrastructureSpec": {
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpec",
          "description": "Optional. Infrastructure specification for the execution."
        },
        "archiveUris": {
          "description": "Optional. Cloud Storage URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "notebook": {
          "description": "Required. Path to input notebook. This can be the Cloud Storage URI of the notebook file or the path to a Notebook Content. The execution args are accessible as environment variables (TASK_key=value).",
          "type": "string"
        },
        "fileUris": {
          "description": "Optional. Cloud Storage URIs of files to be placed in the working directory of each executor.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDataplexV1TaskNotebookTaskConfig",
      "description": "Config for running scheduled notebooks."
    },
    "GoogleCloudDataplexV1DataDocumentationResultSchemaRelationship": {
      "id": "GoogleCloudDataplexV1DataDocumentationResultSchemaRelationship",
      "description": "Details of the relationship between the schema of two resources.",
      "properties": {
        "rightSchemaPaths": {
          "$ref": "GoogleCloudDataplexV1DataDocumentationResultSchemaRelationshipSchemaPaths",
          "readOnly": true,
          "description": "Output only. An ordered list of fields for the join from the second table. The size of this list must be the same as left_schema_paths. Each field at index i in this list must correspond to a field at the same index in the left_schema_paths list."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "SCHEMA_JOIN"
          ],
          "description": "Output only. The type of relationship between the schema paths.",
          "enumDescriptions": [
            "The type of the schema relationship is unspecified.",
            "Indicates a join relationship between the schema fields."
          ],
          "readOnly": true,
          "type": "string"
        },
        "leftSchemaPaths": {
          "description": "Output only. An ordered list of fields for the join from the first table. The size of this list must be the same as right_schema_paths. Each field at index i in this list must correspond to a field at the same index in the right_schema_paths list.",
          "$ref": "GoogleCloudDataplexV1DataDocumentationResultSchemaRelationshipSchemaPaths",
          "readOnly": true
        },
        "sources": {
          "readOnly": true,
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The source of the schema relationship is unspecified.",
              "The source of the schema relationship is agent.",
              "The source of the schema relationship is query history from the source system.",
              "The source of the schema relationship is table constraints added in the source system."
            ],
            "type": "string",
            "enum": [
              "SOURCE_UNSPECIFIED",
              "AGENT",
              "QUERY_HISTORY",
              "TABLE_CONSTRAINTS"
            ]
          },
          "description": "Output only. Sources which generated the schema relation edge."
        }
      },
      "type": "object"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudLocationListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "GoogleCloudDataplexV1SessionEventQueryDetail": {
      "id": "GoogleCloudDataplexV1SessionEventQueryDetail",
      "description": "Execution details of the query.",
      "properties": {
        "resultSizeBytes": {
          "description": "The size of results the query produced.",
          "format": "int64",
          "type": "string"
        },
        "dataProcessedBytes": {
          "description": "The data processed by the query.",
          "format": "int64",
          "type": "string"
        },
        "queryId": {
          "description": "The unique Query id identifying the query.",
          "type": "string"
        },
        "duration": {
          "type": "string",
          "description": "Time taken for execution of the query.",
          "format": "google-duration"
        },
        "queryText": {
          "description": "The query text executed.",
          "type": "string"
        },
        "engine": {
          "type": "string",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "SPARK_SQL",
            "BIGQUERY"
          ],
          "description": "Query Execution engine.",
          "enumDescriptions": [
            "An unspecified Engine type.",
            "Spark-sql engine is specified in Query.",
            "BigQuery engine is specified in Query."
          ]
        }
      },
      "type": "object"
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      }
    },
    "GoogleCloudDataplexV1MetadataJobExportJobResult": {
      "id": "GoogleCloudDataplexV1MetadataJobExportJobResult",
      "description": "Summary results from a metadata export job. The results are a snapshot of the metadata at the time when the job was created. The exported entries are saved to a Cloud Storage bucket.",
      "properties": {
        "exportedEntries": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of entries that were exported.",
          "format": "int64"
        },
        "errorMessage": {
          "description": "Output only. The error message if the metadata export job failed.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataScanEventDataQualityResult": {
      "id": "GoogleCloudDataplexV1DataScanEventDataQualityResult",
      "description": "Data quality result for data scan job.",
      "properties": {
        "dimensionScore": {
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "float"
          },
          "description": "The score of each dimension for data quality result. The key of the map is the name of the dimension. The value is the data quality score for the dimension.The score ranges between 0, 100 (up to two decimal points)."
        },
        "rowCount": {
          "type": "string",
          "description": "The count of rows processed in the data scan job.",
          "format": "int64"
        },
        "score": {
          "description": "The table-level data quality score for the data scan job.The data quality score ranges between 0, 100 (up to two decimal points).",
          "format": "float",
          "type": "number"
        },
        "dimensionPassed": {
          "description": "The result of each dimension for data quality result. The key of the map is the name of the dimension. The value is the bool value depicting whether the dimension result was pass or not.",
          "type": "object",
          "additionalProperties": {
            "type": "boolean"
          }
        },
        "columnScore": {
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "float"
          },
          "description": "The score of each column scanned in the data scan job. The key of the map is the name of the column. The value is the data quality score for the column.The score ranges between 0, 100 (up to two decimal points)."
        },
        "passed": {
          "description": "Whether the data quality result was pass or not.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1AspectTypeMetadataTemplate": {
      "id": "GoogleCloudDataplexV1AspectTypeMetadataTemplate",
      "description": "MetadataTemplate definition for an AspectType.",
      "properties": {
        "name": {
          "description": "Required. The name of the field.",
          "type": "string"
        },
        "recordFields": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1AspectTypeMetadataTemplate"
          },
          "description": "Optional. Field definition. You must specify it if the type is record. It defines the nested fields."
        },
        "typeId": {
          "description": "Optional. You can use type id if this definition of the field needs to be reused later. The type id must be unique across the entire template. You can only specify it if the field type is record.",
          "type": "string"
        },
        "arrayItems": {
          "description": "Optional. If the type is array, set array_items. array_items can refer to a primitive field or a complex (record only) field. To specify a primitive field, you only need to set name and type in the nested MetadataTemplate. The recommended value for the name field is item, as this isn't used in the actual payload.",
          "$ref": "GoogleCloudDataplexV1AspectTypeMetadataTemplate"
        },
        "typeRef": {
          "description": "Optional. A reference to another field definition (not an inline definition). The value must be equal to the value of an id field defined elsewhere in the MetadataTemplate. Only fields with record type can refer to other fields.",
          "type": "string"
        },
        "enumValues": {
          "description": "Optional. The list of values for an enum type. You must define it if the type is enum.",
          "items": {
            "$ref": "GoogleCloudDataplexV1AspectTypeMetadataTemplateEnumValue"
          },
          "type": "array"
        },
        "index": {
          "type": "integer",
          "description": "Optional. Index is used to encode Template messages. The value of index can range between 1 and 2,147,483,647. Index must be unique within all fields in a Template. (Nested Templates can reuse indexes). Once a Template is defined, the index cannot be changed, because it identifies the field in the actual storage format. Index is a mandatory field, but it is optional for top level fields, and map/array \"values\" definitions.",
          "format": "int32"
        },
        "constraints": {
          "$ref": "GoogleCloudDataplexV1AspectTypeMetadataTemplateConstraints",
          "description": "Optional. Specifies the constraints on this field."
        },
        "mapItems": {
          "$ref": "GoogleCloudDataplexV1AspectTypeMetadataTemplate",
          "description": "Optional. If the type is map, set map_items. map_items can refer to a primitive field or a complex (record only) field. To specify a primitive field, you only need to set name and type in the nested MetadataTemplate. The recommended value for the name field is item, as this isn't used in the actual payload."
        },
        "type": {
          "description": "Required. The datatype of this field. The following values are supported:Primitive types: string int bool double datetime. Must be of the format RFC3339 UTC \"Zulu\" (Examples: \"2014-10-02T15:01:23Z\" and \"2014-10-02T15:01:23.045123456Z\").Complex types: enum array map record",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Specifies annotations on this field.",
          "$ref": "GoogleCloudDataplexV1AspectTypeMetadataTemplateAnnotations"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1LookupContextRequest": {
      "id": "GoogleCloudDataplexV1LookupContextRequest",
      "description": "Lookup Context using permissions in the source system.",
      "type": "object",
      "properties": {
        "resources": {
          "items": {
            "type": "string"
          },
          "description": "Required. The entry names to look up the context for. The maximum number of resources for a request is limited to 10.Examples:projects/{project}/locations/{location}/entryGroups/{entry_group}/entries/{entry}",
          "type": "array"
        },
        "options": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Allows to configure the context.Supported options: format - The format of the context (one of yaml, xml, json, default is yaml). context_budget - If provided, the output will be intelligently truncated on a best-effort basis to contain approximately the desired amount of characters. There is no guarantee to achieve the specific amount. all_schema_fields - If set to true, all schema fields will be returned in the context (regardless of context_budget value). Otherwise, the list of schema fields is truncated. Default is false."
        }
      }
    },
    "GoogleCloudDataplexV1RunTaskResponse": {
      "type": "object",
      "properties": {
        "job": {
          "$ref": "GoogleCloudDataplexV1Job",
          "description": "Jobs created by RunTask API."
        }
      },
      "id": "GoogleCloudDataplexV1RunTaskResponse"
    },
    "GoogleCloudDataplexV1DataDocumentationResultSchemaRelationshipSchemaPaths": {
      "properties": {
        "tableFqn": {
          "description": "Output only. The service-qualified full resource name of the table Ex: //bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID",
          "readOnly": true,
          "type": "string"
        },
        "paths": {
          "description": "Output only. An ordered set of Paths to fields within the schema of the table. For fields nested within a top level field of type record, use '.' to separate field names. Examples: Top level field - top_level Nested field - top_level.child.sub_field",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DataDocumentationResultSchemaRelationshipSchemaPaths",
      "description": "Represents an ordered set of paths within a table's schema."
    },
    "GoogleCloudDataplexV1DataProfileResultPostScanActionsResultBigQueryExportResult": {
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Execution state for the BigQuery exporting.",
          "enumDescriptions": [
            "The exporting state is unspecified.",
            "The exporting completed successfully.",
            "The exporting is no longer running due to an error.",
            "The exporting is skipped due to no valid scan result to export (usually caused by scan failed)."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ]
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the BigQuery exporting."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DataProfileResultPostScanActionsResultBigQueryExportResult",
      "description": "The result of BigQuery export post scan action."
    },
    "GoogleCloudDataplexV1SessionEvent": {
      "properties": {
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "unassignedDuration": {
          "type": "string",
          "description": "The idle duration of a warm pooled session before it is assigned to user.",
          "format": "google-duration"
        },
        "type": {
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "START",
            "STOP",
            "QUERY",
            "CREATE"
          ],
          "description": "The type of the event.",
          "enumDescriptions": [
            "An unspecified event type.",
            "Event when the session is assigned to a user.",
            "Event for stop of a session.",
            "Query events in the session.",
            "Event for creation of a cluster. It is not yet assigned to a user. This comes before START in the sequence"
          ]
        },
        "userId": {
          "description": "The information about the user that created the session. It will be the email address of the user.",
          "type": "string"
        },
        "query": {
          "description": "The execution details of the query.",
          "$ref": "GoogleCloudDataplexV1SessionEventQueryDetail"
        },
        "sessionId": {
          "description": "Unique identifier for the session.",
          "type": "string"
        },
        "eventSucceeded": {
          "description": "The status of the event.",
          "type": "boolean"
        },
        "fastStartupEnabled": {
          "description": "If the session is associated with an environment with fast startup enabled, and was created before being assigned to a user.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1SessionEvent",
      "description": "These messages contain information about sessions within an environment. The monitored resource is 'Environment'."
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions": {
      "type": "object",
      "properties": {
        "encoding": {
          "description": "Optional. The character encoding of the data. The default is UTF-8.",
          "type": "string"
        },
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for CSV data. If true, all columns will be registered as strings.",
          "type": "boolean"
        },
        "headerRows": {
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows.",
          "format": "int32",
          "type": "integer"
        },
        "delimiter": {
          "description": "Optional. The delimiter being used to separate values. This defaults to ','.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions",
      "description": "Describe CSV and similar semi-structured data formats."
    },
    "GoogleCloudDataplexV1StorageAccess": {
      "id": "GoogleCloudDataplexV1StorageAccess",
      "description": "Describes the access mechanism of the data within its storage location.",
      "type": "object",
      "properties": {
        "read": {
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "DIRECT",
            "MANAGED"
          ],
          "description": "Output only. Describes the read access mechanism of the data. Not user settable.",
          "enumDescriptions": [
            "Access mode unspecified.",
            "Default. Data is accessed directly using storage APIs.",
            "Data is accessed through a managed interface using BigQuery APIs."
          ],
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1RequestDataProductAccessRequest": {
      "id": "GoogleCloudDataplexV1RequestDataProductAccessRequest",
      "description": "Message for requesting access to a Data Product.",
      "properties": {
        "changeRequest": {
          "$ref": "GoogleCloudDataplexV1ChangeRequest",
          "description": "Required. The change request for the data product access request."
        },
        "validateOnly": {
          "description": "Optional. Validates the request without actually creating the access change request. Defaults to false.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1ListMetadataFeedsResponse": {
      "id": "GoogleCloudDataplexV1ListMetadataFeedsResponse",
      "description": "Response message for ListMetadataFeeds.",
      "properties": {
        "metadataFeeds": {
          "description": "List of metadata feeds under the specified parent location.",
          "items": {
            "$ref": "GoogleCloudDataplexV1MetadataFeed"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that the service couldn't reach."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. If there are no more results in the list, the value is empty.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataProfileResultProfile": {
      "properties": {
        "fields": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataProfileResultProfileField"
          },
          "description": "Output only. List of fields with structural and profile information for each field."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DataProfileResultProfile",
      "description": "Contains name, type, mode and field type specific profile information."
    },
    "GoogleCloudDataplexV1AssetResourceStatus": {
      "type": "object",
      "properties": {
        "message": {
          "description": "Additional information about the current state.",
          "type": "string"
        },
        "updateTime": {
          "description": "Last update time of the status.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "The current state of the managed resource.",
          "enumDescriptions": [
            "State unspecified.",
            "Resource does not have any errors.",
            "Resource has errors."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "ERROR"
          ],
          "type": "string"
        },
        "managedAccessIdentity": {
          "description": "Output only. Service account associated with the BigQuery Connection.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1AssetResourceStatus",
      "description": "Status of the resource referenced by an asset."
    },
    "GoogleCloudDataplexV1DataDiscoverySpecBigQueryPublishingConfig": {
      "properties": {
        "tableType": {
          "description": "Optional. Determines whether to publish discovered tables as BigLake external tables or non-BigLake external tables.",
          "enumDescriptions": [
            "Table type unspecified.",
            "Default. Discovered tables are published as BigQuery external tables whose data is accessed using the credentials of the user querying the table.",
            "Discovered tables are published as BigLake external tables whose data is accessed using the credentials of the associated BigQuery connection."
          ],
          "type": "string",
          "enum": [
            "TABLE_TYPE_UNSPECIFIED",
            "EXTERNAL",
            "BIGLAKE"
          ]
        },
        "connection": {
          "description": "Optional. The BigQuery connection used to create BigLake tables. Must be in the form projects/{project_id}/locations/{location_id}/connections/{connection_id}",
          "type": "string"
        },
        "location": {
          "description": "Optional. The location of the BigQuery dataset to publish BigLake external or non-BigLake external tables to. 1. If the Cloud Storage bucket is located in a multi-region bucket, then BigQuery dataset can be in the same multi-region bucket or any single region that is included in the same multi-region bucket. The datascan can be created in any single region that is included in the same multi-region bucket 2. If the Cloud Storage bucket is located in a dual-region bucket, then BigQuery dataset can be located in regions that are included in the dual-region bucket, or in a multi-region that includes the dual-region. The datascan can be created in any single region that is included in the same dual-region bucket. 3. If the Cloud Storage bucket is located in a single region, then BigQuery dataset can be in the same single region or any multi-region bucket that includes the same single region. The datascan will be created in the same single region as the bucket. 4. If the BigQuery dataset is in single region, it must be in the same single region as the datascan.For supported values, refer to https://cloud.google.com/bigquery/docs/locations#supported_locations.",
          "type": "string"
        },
        "project": {
          "description": "Optional. The project of the BigQuery dataset to publish BigLake external or non-BigLake external tables to. If not specified, the project of the Cloud Storage bucket will be used. The format is \"projects/{project_id_or_number}\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DataDiscoverySpecBigQueryPublishingConfig",
      "description": "Describes BigQuery publishing configurations."
    },
    "GoogleCloudDataplexV1GraphProfileNodeType": {
      "id": "GoogleCloudDataplexV1GraphProfileNodeType",
      "description": "Represents a type of node in the graph.",
      "properties": {
        "name": {
          "description": "Output only. Name of the node type.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the node type."
        },
        "primaryKeys": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Field names forming the primary keys. The order in this array defines the key's ordinal positions for composite keys.",
          "readOnly": true,
          "type": "array"
        },
        "extractionHints": {
          "description": "Output only. Extraction hints for the node.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1GraphProfileNodeTypeExtractionHints"
        },
        "fields": {
          "description": "Output only. Fields of the node type.",
          "items": {
            "$ref": "GoogleCloudDataplexV1GraphProfileField"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1ListEntryTypesResponse": {
      "id": "GoogleCloudDataplexV1ListEntryTypesResponse",
      "description": "List EntryTypes response.",
      "type": "object",
      "properties": {
        "entryTypes": {
          "items": {
            "$ref": "GoogleCloudDataplexV1EntryType"
          },
          "description": "EntryTypes under the given parent location.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachableLocations": {
          "items": {
            "type": "string"
          },
          "description": "Locations that the service couldn't reach.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDataplexV1StorageFormatIcebergOptions": {
      "properties": {
        "metadataLocation": {
          "description": "Optional. The location of where the iceberg metadata is present, must be within the table path",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1StorageFormatIcebergOptions",
      "description": "Describes Iceberg data format."
    },
    "GoogleCloudDataplexV1CancelDataScanJobRequest": {
      "id": "GoogleCloudDataplexV1CancelDataScanJobRequest",
      "description": "Request message for the CancelDataScanJob method.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDataplexV1Schema": {
      "id": "GoogleCloudDataplexV1Schema",
      "description": "Schema information describing the structure and layout of the data.",
      "type": "object",
      "properties": {
        "userManaged": {
          "description": "Required. Set to true if user-managed or false if managed by Dataplex Universal Catalog. The default is false (managed by Dataplex Universal Catalog). Set to falseto enable Dataplex Universal Catalog discovery to update the schema. including new data discovery, schema inference, and schema evolution. Users retain the ability to input and edit the schema. Dataplex Universal Catalog treats schema input by the user as though produced by a previous Dataplex Universal Catalog discovery operation, and it will evolve the schema and take action based on that treatment. Set to true to fully manage the entity schema. This setting guarantees that Dataplex Universal Catalog will not change schema fields.",
          "type": "boolean"
        },
        "fields": {
          "type": "array",
          "description": "Optional. The sequence of fields describing data in table entities. Note: BigQuery SchemaFields are immutable.",
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaSchemaField"
          }
        },
        "partitionStyle": {
          "type": "string",
          "enum": [
            "PARTITION_STYLE_UNSPECIFIED",
            "HIVE_COMPATIBLE"
          ],
          "description": "Optional. The structure of paths containing partition data within the entity.",
          "enumDescriptions": [
            "PartitionStyle unspecified",
            "Partitions are hive-compatible. Examples: gs://bucket/path/to/table/dt=2019-10-31/lang=en, gs://bucket/path/to/table/dt=2019-10-31/lang=en/late."
          ]
        },
        "partitionFields": {
          "description": "Optional. The sequence of fields describing the partition structure in entities. If this field is empty, there are no partitions within the data.",
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaPartitionField"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDataplexV1DataDomainBinding": {
      "id": "GoogleCloudDataplexV1DataDomainBinding",
      "description": "DataDomainBinding represents a rule that includes a Google Cloud resource and its contents into a DataDomain.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The relative resource name of the DataDomainBinding. Format: projects/{project_id_or_number}/locations/{location}/dataDomains/{data_domain_id}/bindings/{binding_id}",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System-generated unique ID."
        },
        "resource": {
          "description": "Required. Immutable. The full resource name of the Google Cloud resource to be bound (i.e. included together with its contents) to the DataDomain.Format: IAM Full resource name (https://docs.cloud.google.com/iam/docs/full-resource-names) Examples: - GCP Project: //cloudresourcemanager.googleapis.com/projects/{project-id} - BigQuery Dataset: //bigquery.googleapis.com/projects/{project-id}/datasets/{dataset-id} - BigQuery Table: //bigquery.googleapis.com/projects/{project-id}/datasets/{dataset-id}/tables/{table-id} - Dataplex Data Product: //dataplex.googleapis.com/projects/{project-number}/locations/{location}/dataProducts/{data-product-id}Authorization: the resource to be bound must first grant an IAM role with the resource-specific setIamPolicy permission to the DataDomain. Example: - resource: //bigquery.googleapis.com/projects/{project-id}/datasets/{dataset-id} - IAM role: with bigquery.datasets.setIamPolicy permission (e.g. roles/owner) - IAM member: principal://dataplex.googleapis.com/projects/{project-number}/name/locations/{location}/dataDomains/{data-domain-id}",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the DataDomainBinding was created.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDataplexV1DataTaxonomy": {
      "deprecated": true,
      "description": "DataTaxonomy represents a set of hierarchical DataAttributes resources, grouped with a common theme Eg: 'SensitiveDataTaxonomy' can have attributes to manage PII data. It is defined at project level.",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels for the DataTaxonomy."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the DataTaxonomy, of the form: projects/{project_number}/locations/{location_id}/dataTaxonomies/{data_taxonomy_id}."
        },
        "attributeCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of attributes in the DataTaxonomy.",
          "format": "int32"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System generated globally unique ID for the dataTaxonomy. This ID will be different if the DataTaxonomy is deleted and re-created with the same name."
        },
        "createTime": {
          "description": "Output only. The time when the DataTaxonomy was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "classCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of classes in the DataTaxonomy.",
          "format": "int32"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the DataTaxonomy.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the DataTaxonomy was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1DataTaxonomy",
      "type": "object"
    },
    "GoogleCloudDataplexV1DeleteEntryRequest": {
      "properties": {
        "name": {
          "description": "Required. The resource name of the Entry: projects/{project}/locations/{location}/entryGroups/{entry_group}/entries/{entry}.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DeleteEntryRequest",
      "description": "Delete Entry request."
    },
    "GoogleCloudDataplexV1DataDocumentationResultField": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the column."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Generated description for columns and fields."
        },
        "fields": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Nested fields.",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataDocumentationResultField"
          }
        }
      },
      "id": "GoogleCloudDataplexV1DataDocumentationResultField",
      "description": "Column of a table with generated metadata and nested fields."
    },
    "GoogleCloudDataplexV1LakeMetastoreStatus": {
      "id": "GoogleCloudDataplexV1LakeMetastoreStatus",
      "description": "Status of Lake and Dataproc Metastore service instance association.",
      "type": "object",
      "properties": {
        "message": {
          "description": "Additional information about the current status.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Last update time of the metastore status of the lake.",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NONE",
            "READY",
            "UPDATING",
            "ERROR"
          ],
          "type": "string",
          "description": "Current state of association.",
          "enumDescriptions": [
            "Unspecified.",
            "A Metastore service instance is not associated with the lake.",
            "A Metastore service instance is attached to the lake.",
            "Attach/detach is in progress.",
            "Attach/detach could not be done due to errors."
          ]
        },
        "endpoint": {
          "description": "The URI of the endpoint used to access the Metastore service.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1RunDataScanRequest": {
      "id": "GoogleCloudDataplexV1RunDataScanRequest",
      "description": "Run DataScan Request",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDataplexV1UnstructuredDataProfileSpec": {
      "properties": {
        "graphProfilePublishingEnabled": {
          "description": "Optional. Whether to publish graph-profile as aspect on the catalog entry.",
          "type": "boolean"
        },
        "globalEndpointEnabled": {
          "description": "Optional. Whether to use the global model.",
          "type": "boolean"
        },
        "customizedPrompt": {
          "description": "Optional. Customized prompt for unstructured data profile. The field will be used as part of the prompt, could be some instruction, specifying skill, or specific area to focus.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1UnstructuredDataProfileSpec",
      "description": "Contains the specification for an unstructured data profile scan."
    },
    "GoogleCloudDataplexV1ListLakesResponse": {
      "id": "GoogleCloudDataplexV1ListLakesResponse",
      "description": "List lakes response.",
      "type": "object",
      "properties": {
        "unreachableLocations": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "lakes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Lake"
          },
          "description": "Lakes under the given parent location."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1GraphProfileEdgeType": {
      "id": "GoogleCloudDataplexV1GraphProfileEdgeType",
      "description": "Represents a type of edge (relationship) in the graph.",
      "type": "object",
      "properties": {
        "extractionHints": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1GraphProfileEdgeTypeExtractionHints",
          "description": "Output only. Extraction hints for the edge."
        },
        "sourceNodeType": {
          "description": "Output only. Source node type.",
          "readOnly": true,
          "type": "string"
        },
        "fields": {
          "items": {
            "$ref": "GoogleCloudDataplexV1GraphProfileField"
          },
          "description": "Output only. Fields of the edge type.",
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "description": "Output only. Name of the edge type.",
          "readOnly": true,
          "type": "string"
        },
        "targetNodeType": {
          "description": "Output only. Target node type.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of the edge type."
        },
        "foreignKeys": {
          "description": "Output only. Defines the Foreign Key constraints for the edge.",
          "items": {
            "$ref": "GoogleCloudDataplexV1GraphProfileEdgeTypeForeignKey"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleCloudDataplexV1DataProductPrincipal": {
      "type": "object",
      "properties": {
        "googleGroup": {
          "description": "Optional. Email of the Google Group, as per https://cloud.google.com/iam/docs/principals-overview#google-group.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. Specifies the email of the producer service account, as per https://cloud.google.com/iam/docs/principals-overview#service-account.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1DataProductPrincipal",
      "description": "Represents the principal entity associated with an access group, as per https://cloud.google.com/iam/docs/principals-overview."
    },
    "GoogleCloudDataplexV1DataDocumentationResultSchema": {
      "id": "GoogleCloudDataplexV1DataDocumentationResultSchema",
      "description": "Schema of the table with generated metadata of columns.",
      "properties": {
        "fields": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of columns.",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataDocumentationResultField"
          }
        }
      },
      "type": "object"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDataplexV1Glossary": {
      "properties": {
        "labels": {
          "description": "Optional. User-defined labels for the Glossary.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of the Glossary. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the Glossary was created.",
          "format": "google-datetime"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System generated unique id for the Glossary. This ID will be different if the Glossary is deleted and re-created with the same name."
        },
        "termCount": {
          "description": "Output only. The number of GlossaryTerms in the Glossary.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "etag": {
          "description": "Optional. Needed for resource freshness validation. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "categoryCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of GlossaryCategories in the Glossary.",
          "format": "int32"
        },
        "description": {
          "description": "Optional. The user-mutable description of the Glossary.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly display name of the Glossary. This is user-mutable. This will be same as the GlossaryId, if not specified.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the Glossary was last updated.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1Glossary",
      "description": "A Glossary represents a collection of GlossaryCategories and GlossaryTerms defined by the user. Glossary is a top level resource and is the Google Cloud parent resource of all the GlossaryCategories and GlossaryTerms within it."
    },
    "GoogleCloudDataplexV1DataDiscoverySpecStorageConfig": {
      "id": "GoogleCloudDataplexV1DataDiscoverySpecStorageConfig",
      "description": "Configurations related to Cloud Storage as the data source.",
      "properties": {
        "includePatterns": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Defines the data to include during discovery when only a subset of the data should be considered. Provide a list of patterns that identify the data to include. For Cloud Storage bucket assets, these patterns are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these patterns are interpreted as patterns to match table names.",
          "type": "array"
        },
        "jsonOptions": {
          "$ref": "GoogleCloudDataplexV1DataDiscoverySpecStorageConfigJsonOptions",
          "description": "Optional. Configuration for JSON data."
        },
        "csvOptions": {
          "$ref": "GoogleCloudDataplexV1DataDiscoverySpecStorageConfigCsvOptions",
          "description": "Optional. Configuration for CSV data."
        },
        "unstructuredDataOptions": {
          "$ref": "GoogleCloudDataplexV1DataDiscoverySpecStorageConfigUnstructuredDataOptions",
          "description": "Optional. Specifies configuration for unstructured data discovery."
        },
        "excludePatterns": {
          "type": "array",
          "description": "Optional. Defines the data to exclude during discovery. Provide a list of patterns that identify the data to exclude. For Cloud Storage bucket assets, these patterns are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these patterns are interpreted as patterns to match table names.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualityDimensionResult": {
      "properties": {
        "dimension": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataQualityDimension",
          "description": "Output only. The dimension config specified in the DataQualitySpec, as is."
        },
        "passed": {
          "description": "Output only. Whether the dimension passed or failed.",
          "readOnly": true,
          "type": "boolean"
        },
        "score": {
          "description": "Output only. The dimension-level data quality score for this data scan job if and only if the 'dimension' field is set.The score ranges between 0, 100 (up to two decimal points).",
          "format": "float",
          "readOnly": true,
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityDimensionResult",
      "description": "DataQualityDimensionResult provides a more detailed, per-dimension view of the results."
    },
    "GoogleCloudDataplexV1ActionMissingResource": {
      "id": "GoogleCloudDataplexV1ActionMissingResource",
      "description": "Action details for resource references in assets that cannot be located.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDataplexV1DataQualityRuleDebugQuery": {
      "id": "GoogleCloudDataplexV1DataQualityRuleDebugQuery",
      "description": "Specifies a SQL statement that is evaluated to return up to 10 scalar values that are used to debug rules. If the rule fails, the values can help diagnose the cause of the failure.The SQL statement must use GoogleSQL syntax (https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax), and must not contain any semicolons.You can use the data reference parameter ${data()} to reference the source table with all of its precondition filters applied. Examples of precondition filters include row filters, incremental data filters, and sampling. For more information, see Data reference parameter (https://cloud.google.com/dataplex/docs/auto-data-quality-overview#data-reference-parameter).You can also name results with an explicit alias using [AS] alias. For more information, see BigQuery explicit aliases (https://docs.cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax#explicit_alias_syntax).Example: SELECT MIN(col1) AS min_col1, MAX(col1) AS max_col1 FROM ${data()}",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Specifies the description of the debug query. The maximum length is 1,024 characters.",
          "type": "string"
        },
        "sqlStatement": {
          "description": "Required. Specifies the SQL statement to be executed.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ListEntriesResponse": {
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Entry"
          },
          "description": "The list of entries under the given parent location."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1ListEntriesResponse",
      "description": "List Entries response."
    },
    "GoogleCloudDataplexV1DataProfileResultProfileField": {
      "id": "GoogleCloudDataplexV1DataProfileResultProfileField",
      "description": "A field within a table.",
      "properties": {
        "type": {
          "description": "Output only. The data type retrieved from the schema of the data source. For instance, for a BigQuery native table, it is the BigQuery Table Schema (https://cloud.google.com/bigquery/docs/reference/rest/v2/tables#tablefieldschema). For a Dataplex Universal Catalog Entity, it is the Entity Schema (https://cloud.google.com/dataplex/docs/reference/rpc/google.cloud.dataplex.v1#type_3).",
          "readOnly": true,
          "type": "string"
        },
        "mode": {
          "description": "Output only. The mode of the field. Possible values include: REQUIRED, if it is a required field. NULLABLE, if it is an optional field. REPEATED, if it is a repeated field.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the field."
        },
        "profile": {
          "description": "Output only. Profile information for the corresponding field.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfo"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1EncryptionConfigFailureDetails": {
      "id": "GoogleCloudDataplexV1EncryptionConfigFailureDetails",
      "description": "Details of the failure if anything related to Cmek db fails.",
      "properties": {
        "errorCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error code for the failure.",
          "enumDescriptions": [
            "The error code is not specified",
            "Error because of internal server error, will be retried automatically.",
            "User action is required to resolve the error."
          ],
          "enum": [
            "UNKNOWN",
            "INTERNAL_ERROR",
            "REQUIRE_USER_ACTION"
          ]
        },
        "errorMessage": {
          "description": "Output only. The error message will be shown to the user. Set only if the error code is REQUIRE_USER_ACTION.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions": {
      "properties": {
        "encoding": {
          "description": "Optional. The character encoding of the data. The default is UTF-8.",
          "type": "string"
        },
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for CSV data. If true, all columns will be registered as strings.",
          "type": "boolean"
        },
        "headerRows": {
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows.",
          "format": "int32",
          "type": "integer"
        },
        "delimiter": {
          "description": "Optional. The delimiter being used to separate values. This defaults to ','.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions",
      "description": "Describe CSV and similar semi-structured data formats."
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "description": "Associates members, or principals, with a role.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner.For an overview of the IAM roles and permissions, see the IAM documentation (https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see here (https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]: An identifier for a Kubernetes service account (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workforce identity pool. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}: All workforce identities in a group. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All workforce identities with a specific attribute value. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*: All identities in a workforce identity pool. principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workload identity pool. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}: A workload identity pool group. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All identities in a workload identity pool with a certain attribute. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*: All identities in a workload identity pool. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding. deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: Deleted single identity in a workforce identity pool. For example, deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value.",
          "type": "array"
        },
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      }
    },
    "GoogleCloudDataplexV1ActionMissingData": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDataplexV1ActionMissingData",
      "description": "Action details for absence of data detected by discovery."
    },
    "GoogleCloudDataplexV1DataQualityRuleTemplateSql": {
      "id": "GoogleCloudDataplexV1DataQualityRuleTemplateSql",
      "description": "Templatized SQL query for data quality rules. It can have parameters that can be substituted with values when a rule is created using this template.",
      "properties": {
        "query": {
          "description": "Output only. Templatized SQL query for data quality rules.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualityResult": {
      "properties": {
        "catalogPublishingStatus": {
          "$ref": "GoogleCloudDataplexV1DataScanCatalogPublishingStatus",
          "readOnly": true,
          "description": "Output only. The status of publishing the data scan as Dataplex Universal Catalog metadata."
        },
        "passed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Overall data quality result -- true if all rules passed."
        },
        "postScanActionsResult": {
          "description": "Output only. The result of post scan actions.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataQualityResultPostScanActionsResult"
        },
        "score": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. The overall data quality score.The score ranges between 0, 100 (up to two decimal points).",
          "format": "float"
        },
        "scannedData": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1ScannedData",
          "description": "Output only. The data scanned for this result."
        },
        "dimensions": {
          "items": {
            "$ref": "GoogleCloudDataplexV1DataQualityDimensionResult"
          },
          "description": "Output only. A list of results at the dimension level.A dimension will have a corresponding DataQualityDimensionResult if and only if there is at least one rule with the 'dimension' field set to it.",
          "readOnly": true,
          "type": "array"
        },
        "rules": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataQualityRuleResult"
          },
          "description": "Output only. A list of all the rules in a job, and their results."
        },
        "anomalyDetectionGeneratedAssets": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataQualityResultAnomalyDetectionGeneratedAssets",
          "description": "Output only. The generated assets for anomaly detection."
        },
        "columns": {
          "description": "Output only. A list of results at the column level.A column will have a corresponding DataQualityColumnResult if and only if there is at least one rule with the 'column' field set to it.",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataQualityColumnResult"
          },
          "readOnly": true,
          "type": "array"
        },
        "rowCount": {
          "description": "Output only. The count of rows processed.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityResult",
      "description": "The output of a DataQualityScan."
    },
    "GoogleCloudDataplexV1TaskTriggerSpec": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Optional. The first run of the task will be after this time. If not specified, the task will run shortly after being submitted if ON_DEMAND and based on the schedule if RECURRING.",
          "format": "google-datetime"
        },
        "disabled": {
          "description": "Optional. Prevent the task from executing. This does not cancel already running tasks. It is intended to temporarily disable RECURRING tasks.",
          "type": "boolean"
        },
        "type": {
          "description": "Required. Immutable. Trigger type of the user-specified Task.",
          "enumDescriptions": [
            "Unspecified trigger type.",
            "The task runs one-time shortly after Task Creation.",
            "The task is scheduled to run periodically."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "RECURRING"
          ]
        },
        "maxRetries": {
          "description": "Optional. Number of retry attempts before aborting. Set to zero to never attempt to retry a failed task.",
          "format": "int32",
          "type": "integer"
        },
        "schedule": {
          "description": "Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for running tasks periodically. To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or \"TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, CRON_TZ=America/New_York 1 * * * *, or TZ=America/New_York 1 * * * *. This field is required for RECURRING tasks.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1TaskTriggerSpec",
      "description": "Task scheduling and trigger settings."
    },
    "GoogleCloudDataplexV1DataDocumentationSpec": {
      "id": "GoogleCloudDataplexV1DataDocumentationSpec",
      "description": "DataDocumentation scan related spec.",
      "properties": {
        "catalogPublishingEnabled": {
          "description": "Optional. Whether to publish result to Dataplex Catalog.",
          "type": "boolean"
        },
        "generationScopes": {
          "items": {
            "type": "string",
            "enum": [
              "GENERATION_SCOPE_UNSPECIFIED",
              "ALL",
              "TABLE_AND_COLUMN_DESCRIPTIONS",
              "SQL_QUERIES",
              "BUSINESS_GLOSSARY_TERM_ASSOCIATIONS"
            ],
            "enumDescriptions": [
              "Unspecified generation scope. If no generation scope is specified, all available documentation components will be generated.",
              "All the possible results will be generated.",
              "Table and column descriptions will be generated.",
              "SQL queries will be generated.",
              "Business glossary term associations will be generated."
            ]
          },
          "description": "Optional. Specifies which components of the data documentation to generate. Any component that is required to generate the specified components will also be generated. If no generation scope is specified, all available documentation components will be generated.",
          "type": "array"
        },
        "sqlDialect": {
          "description": "Optional. The SQL dialect to use in the generated SQL queries. If not specified, the default dialect is Google SQL.",
          "enumDescriptions": [
            "SQL dialect unspecified.",
            "Google SQL dialect.",
            "Spark SQL dialect."
          ],
          "type": "string",
          "enum": [
            "SQL_DIALECT_UNSPECIFIED",
            "GOOGLE_SQL",
            "SPARK_SQL"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1EntryTypeAspectInfo": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Required aspect type for the entry type.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1EntryTypeAspectInfo"
    },
    "GoogleCloudDataplexV1UpdateEntryRequest": {
      "properties": {
        "allowMissing": {
          "description": "Optional. If set to true and the entry doesn't exist, the service will create it.",
          "type": "boolean"
        },
        "deleteMissingAspects": {
          "description": "Optional. If set to true and the aspect_keys specify aspect ranges, the service deletes any existing aspects from that range that weren't provided in the request.",
          "type": "boolean"
        },
        "aspectKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The map keys of the Aspects which the service should modify. It supports the following syntaxes: - matches an aspect of the given type and empty path. @path - matches an aspect of the given type and specified path. For example, to attach an aspect to a field that is specified by the schema aspect, the path should have the format Schema.. @* - matches aspects of the given type for all paths. *@path - matches aspects of all types on the given path.The service will not remove existing aspects matching the syntax unless delete_missing_aspects is set to true.If this field is left empty, the service treats it as specifying exactly those Aspects present in the request."
        },
        "updateMask": {
          "description": "Optional. Mask of fields to update. To update Aspects, the update_mask must contain the value \"aspects\".If the update_mask is empty, the service will update all modifiable fields present in the request.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "entry": {
[...]
