{
  "version_module": true,
  "basePath": "",
  "discoveryVersion": "v1",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://dataform.mtls.googleapis.com/",
  "schemas": {
    "SshAuthenticationConfig": {
      "description": "Configures fields for performing SSH authentication.",
      "type": "object",
      "id": "SshAuthenticationConfig",
      "properties": {
        "userPrivateKeySecretVersion": {
          "description": "Required. The name of the Secret Manager secret version to use as a ssh private key for Git operations. Must be in the format `projects/*/secrets/*/versions/*`.",
          "type": "string"
        },
        "hostPublicKey": {
          "type": "string",
          "description": "Required. Content of a public SSH key to verify an identity of a remote Git host."
        }
      }
    },
    "WorkspaceCompilationOverrides": {
      "description": "Configures workspace compilation overrides for a repository.",
      "id": "WorkspaceCompilationOverrides",
      "properties": {
        "schemaSuffix": {
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names.",
          "type": "string"
        },
        "defaultDatabase": {
          "description": "Optional. The default database (Google Cloud project ID).",
          "type": "string"
        },
        "tablePrefix": {
          "type": "string",
          "description": "Optional. The prefix that should be prepended to all table names."
        }
      },
      "type": "object"
    },
    "WriteFileResponse": {
      "id": "WriteFileResponse",
      "type": "object",
      "description": "`WriteFile` response message.",
      "properties": {}
    },
    "ReleaseConfig": {
      "id": "ReleaseConfig",
      "properties": {
        "codeCompilationConfig": {
          "description": "Optional. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json.",
          "$ref": "CodeCompilationConfig"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Disables automatic creation of compilation results."
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "recentScheduledReleaseRecords": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Records of the 10 most recent scheduled release attempts, ordered in descending order of `release_time`. Updated whenever automatic creation of a compilation result is triggered by cron_schedule.",
          "items": {
            "$ref": "ScheduledReleaseRecord"
          }
        },
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the [time zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is `UTC`.",
          "type": "string"
        },
        "releaseCompilationResult": {
          "description": "Optional. The name of the currently released compilation result for this release config. This value is updated when a compilation result is automatically created from this release config (using cron_schedule), or when this resource is updated by API call (perhaps to roll back to an earlier release). The compilation result must have been created using this release config. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        },
        "cronSchedule": {
          "description": "Optional. Optional schedule (in cron format) for automatic creation of compilation results.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The release config's name.",
          "type": "string"
        },
        "gitCommitish": {
          "type": "string",
          "description": "Required. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`"
        }
      },
      "type": "object",
      "description": "Represents a Dataform release configuration."
    },
    "CommitWorkspaceChangesRequest": {
      "description": "`CommitWorkspaceChanges` request message.",
      "type": "object",
      "properties": {
        "commitMessage": {
          "description": "Optional. The commit's message.",
          "type": "string"
        },
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        },
        "paths": {
          "description": "Optional. Full file paths to commit including filename, rooted at workspace root. If left empty, all files will be committed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CommitWorkspaceChangesRequest"
    },
    "Notebook": {
      "description": "Represents a notebook.",
      "type": "object",
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array"
        },
        "dependencyTargets": {
          "description": "A list of actions that this action depends on.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        },
        "contents": {
          "description": "The contents of the notebook.",
          "type": "string"
        }
      },
      "id": "Notebook"
    },
    "ScheduledExecutionRecord": {
      "type": "object",
      "properties": {
        "workflowInvocation": {
          "type": "string",
          "description": "The name of the created workflow invocation, if one was successfully created. Must be in the format `projects/*/locations/*/repositories/*/workflowInvocations/*`."
        },
        "executionTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of this execution attempt.",
          "format": "google-datetime"
        },
        "errorStatus": {
          "description": "The error status encountered upon this attempt to create the workflow invocation, if the attempt was unsuccessful.",
          "$ref": "Status"
        }
      },
      "description": "A record of an attempt to create a workflow invocation for this workflow config.",
      "id": "ScheduledExecutionRecord"
    },
    "CompilationResult": {
      "type": "object",
      "description": "Represents the result of compiling a Dataform project.",
      "properties": {
        "internalMetadata": {
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true
        },
        "gitCommitish": {
          "type": "string",
          "description": "Immutable. Git commit/tag/branch name at which the repository should be compiled. Must exist in the remote repository. Examples: - a commit SHA: `12ade345` - a tag: `tag1` - a branch name: `branch1`"
        },
        "compilationErrors": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Errors encountered during project compilation.",
          "items": {
            "$ref": "CompilationError"
          }
        },
        "dataEncryptionState": {
          "description": "Output only. Only set if the repository has a KMS Key.",
          "readOnly": true,
          "$ref": "DataEncryptionState"
        },
        "dataformCoreVersion": {
          "description": "Output only. The version of `@dataform/core` that was used for compilation.",
          "readOnly": true,
          "type": "string"
        },
        "codeCompilationConfig": {
          "$ref": "CodeCompilationConfig",
          "description": "Immutable. If set, fields of `code_compilation_config` override the default compilation settings that are specified in dataform.json."
        },
        "privateResourceMetadata": {
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `CompilationResult` resource is `user_scoped` only if it is sourced from a workspace.",
          "$ref": "PrivateResourceMetadata",
          "readOnly": true
        },
        "workspace": {
          "description": "Immutable. The name of the workspace to compile. Must be in the format `projects/*/locations/*/repositories/*/workspaces/*`.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The compilation result's name.",
          "type": "string"
        },
        "gcsRepositorySnapshotMetadata": {
          "description": "Output only. Metadata about the repository snapshot used by scheduled notebooks.",
          "$ref": "GcsRepositorySnapshotMetadata",
          "readOnly": true
        },
        "resolvedGitCommitSha": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fully resolved Git commit SHA of the code that was compiled. Not set for compilation results whose source is a workspace."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the compilation result was created.",
          "readOnly": true,
          "type": "string"
        },
        "releaseConfig": {
          "description": "Immutable. The name of the release config to compile. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`.",
          "type": "string"
        }
      },
      "id": "CompilationResult"
    },
    "ListWorkflowConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations which could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "workflowConfigs": {
          "description": "List of workflow configs.",
          "type": "array",
          "items": {
            "$ref": "WorkflowConfig"
          }
        }
      },
      "description": "`ListWorkflowConfigs` response message.",
      "id": "ListWorkflowConfigsResponse",
      "type": "object"
    },
    "InstallNpmPackagesResponse": {
      "description": "`InstallNpmPackages` response message.",
      "type": "object",
      "properties": {},
      "id": "InstallNpmPackagesResponse"
    },
    "ErrorTable": {
      "description": "Error table information, used to write error data into a BigQuery table.",
      "id": "ErrorTable",
      "properties": {
        "target": {
          "description": "Error Table target.",
          "$ref": "Target"
        },
        "retentionDays": {
          "description": "Error table partition expiration in days. Only positive values are allowed.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "SearchResult": {
      "properties": {
        "file": {
          "$ref": "FileSearchResult",
          "description": "Details when search result is a file."
        },
        "directory": {
          "description": "Details when search result is a directory.",
          "$ref": "DirectorySearchResult"
        }
      },
      "type": "object",
      "description": "Client-facing representation of a search result entry.",
      "id": "SearchResult"
    },
    "QueryCompilationResultActionsResponse": {
      "id": "QueryCompilationResultActionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "compilationResultActions": {
          "type": "array",
          "description": "List of compilation result actions.",
          "items": {
            "$ref": "CompilationResultAction"
          }
        }
      },
      "type": "object",
      "description": "`QueryCompilationResultActions` response message."
    },
    "ResetWorkspaceChangesRequest": {
      "properties": {
        "clean": {
          "type": "boolean",
          "description": "Optional. If set to true, untracked files will be deleted."
        },
        "paths": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Full file paths to reset back to their committed state including filename, rooted at workspace root. If left empty, all files will be reset.",
          "type": "array"
        }
      },
      "description": "`ResetWorkspaceChanges` request message.",
      "id": "ResetWorkspaceChangesRequest",
      "type": "object"
    },
    "PullGitCommitsRequest": {
      "description": "`PullGitCommits` request message.",
      "properties": {
        "remoteBranch": {
          "description": "Optional. The name of the branch in the Git remote from which to pull commits. If left unset, the repository's default branch name will be used.",
          "type": "string"
        },
        "author": {
          "description": "Required. The author of any merge commit which may be created as a result of merging fetched Git commits into this workspace.",
          "$ref": "CommitAuthor"
        }
      },
      "id": "PullGitCommitsRequest",
      "type": "object"
    },
    "RemoveDirectoryResponse": {
      "id": "RemoveDirectoryResponse",
      "type": "object",
      "properties": {},
      "description": "`RemoveDirectory` response message."
    },
    "RemoveFileResponse": {
      "description": "`RemoveFile` response message.",
      "type": "object",
      "id": "RemoveFileResponse",
      "properties": {}
    },
    "PushGitCommitsRequest": {
      "properties": {
        "remoteBranch": {
          "description": "Optional. The name of the branch in the Git remote to which commits should be pushed. If left unset, the repository's default branch name will be used.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PushGitCommitsRequest",
      "description": "`PushGitCommits` request message."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Location": {
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "Declaration": {
      "type": "object",
      "description": "Represents a relation which is not managed by Dataform but which may be referenced by Dataform actions.",
      "id": "Declaration",
      "properties": {
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns. Used as documentation only, i.e. values here will result in no changes to the relation's metadata.",
          "$ref": "RelationDescriptor"
        }
      }
    },
    "CommitRepositoryChangesResponse": {
      "description": "`CommitRepositoryChanges` response message.",
      "type": "object",
      "id": "CommitRepositoryChangesResponse",
      "properties": {
        "commitSha": {
          "description": "The commit SHA of the current commit.",
          "type": "string"
        }
      }
    },
    "NotebookAction": {
      "properties": {
        "contents": {
          "readOnly": true,
          "description": "Output only. The code contents of a Notebook to be run.",
          "type": "string"
        },
        "filePath": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The path to the notebook file in the repository."
        },
        "jobId": {
          "type": "string",
          "description": "Output only. The ID of the Gemini Enterprise Agent Platform job that executed the notebook in contents and also the ID used for the outputs created in Google Cloud Storage buckets. Only set once the job has started to run.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents a workflow action that will run against a Notebook runtime.",
      "id": "NotebookAction"
    },
    "QueryUserRootContentsResponse": {
      "id": "QueryUserRootContentsResponse",
      "description": "`QueryUserRootContents` response message.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "RootContentsEntry"
          },
          "description": "List of entries in the folder."
        }
      }
    },
    "RemoveDirectoryRequest": {
      "id": "RemoveDirectoryRequest",
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "`RemoveDirectory` request message."
    },
    "ReadFileResponse": {
      "id": "ReadFileResponse",
      "type": "object",
      "description": "`ReadFile` response message.",
      "properties": {
        "fileContents": {
          "description": "The file's contents.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "PullGitCommitsResponse": {
      "properties": {},
      "description": "`PullGitCommits` response message.",
      "id": "PullGitCommitsResponse",
      "type": "object"
    },
    "IncrementalLoadMode": {
      "description": "Load definition for incremental load modes",
      "type": "object",
      "id": "IncrementalLoadMode",
      "properties": {
        "column": {
          "description": "Column name for incremental load modes",
          "type": "string"
        }
      }
    },
    "WorkflowInvocationAction": {
      "description": "Represents a single action in a workflow invocation.",
      "id": "WorkflowInvocationAction",
      "type": "object",
      "properties": {
        "notebookAction": {
          "description": "Output only. The workflow action's notebook action details.",
          "readOnly": true,
          "$ref": "NotebookAction"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string",
          "readOnly": true
        },
        "dataPreparationAction": {
          "description": "Output only. The workflow action's data preparation action details.",
          "readOnly": true,
          "$ref": "DataPreparationAction"
        },
        "invocationTiming": {
          "$ref": "Interval",
          "description": "Output only. This action's timing details. `start_time` will be set if the action is in [RUNNING, SUCCEEDED, CANCELLED, FAILED] state. `end_time` will be set if the action is in [SUCCEEDED, CANCELLED, FAILED] state.",
          "readOnly": true
        },
        "canonicalTarget": {
          "description": "Output only. The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result.",
          "$ref": "Target",
          "readOnly": true
        },
        "failureReason": {
          "readOnly": true,
          "description": "Output only. If and only if action's state is FAILED a failure reason is set.",
          "type": "string"
        },
        "target": {
          "description": "Output only. This action's identifier. Unique within the workflow invocation.",
          "readOnly": true,
          "$ref": "Target"
        },
        "bigqueryAction": {
          "description": "Output only. The workflow action's bigquery action details.",
          "readOnly": true,
          "$ref": "BigQueryAction"
        },
        "state": {
          "description": "Output only. This action's current state.",
          "enum": [
            "PENDING",
            "RUNNING",
            "SKIPPED",
            "DISABLED",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The action has not yet been considered for invocation.",
            "The action is currently running.",
            "Execution of the action was skipped because upstream dependencies did not all complete successfully. A terminal state.",
            "Execution of the action was disabled as per the configuration of the corresponding compilation result action. A terminal state.",
            "The action succeeded. A terminal state.",
            "The action was cancelled. A terminal state.",
            "The action failed. A terminal state."
          ],
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ComputeRepositoryAccessTokenStatusResponse": {
      "description": "`ComputeRepositoryAccessTokenStatus` response message.",
      "type": "object",
      "id": "ComputeRepositoryAccessTokenStatusResponse",
      "properties": {
        "tokenStatus": {
          "description": "Indicates the status of the Git access token.",
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID",
            "PERMISSION_DENIED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote.",
            "The token is not accessible due to permission issues."
          ],
          "type": "string"
        }
      }
    },
    "GcsRepositorySnapshotMetadata": {
      "description": "Metadata about a repository snapshot stored in Google Cloud Storage.",
      "id": "GcsRepositorySnapshotMetadata",
      "properties": {
        "generation": {
          "type": "string",
          "description": "Output only. The generation number of the Cloud Storage object. See https://cloud.google.com/storage/docs/metadata#generation-number.",
          "readOnly": true,
          "format": "int64"
        },
        "crc32cChecksum": {
          "description": "Output only. The crc32c checksum of the repository snapshot, big-endian base64 encoded.",
          "type": "string",
          "readOnly": true
        },
        "repositorySnapshotUri": {
          "description": "Output only. The Google Cloud Storage URI of the repository snapshot.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Target": {
      "id": "Target",
      "properties": {
        "schema": {
          "description": "Optional. The action's schema (BigQuery dataset ID), within `database`.",
          "type": "string"
        },
        "database": {
          "type": "string",
          "description": "Optional. The action's database (Google Cloud project ID) ."
        },
        "name": {
          "type": "string",
          "description": "Optional. The action's name, within `database` and `schema`."
        }
      },
      "description": "Represents an action identifier. If the action writes output, the output will be written to the referenced database object.",
      "type": "object"
    },
    "UncommittedFileChange": {
      "properties": {
        "path": {
          "type": "string",
          "description": "The file's full path including filename, relative to the workspace root."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The file has been newly added.",
            "The file has been deleted.",
            "The file has been modified.",
            "The file contains merge conflicts."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "MODIFIED",
            "HAS_CONFLICTS"
          ],
          "description": "Output only. Indicates the status of the file."
        }
      },
      "id": "UncommittedFileChange",
      "type": "object",
      "description": "Represents the Git state of a file with uncommitted changes."
    },
    "Binding": {
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      }
    },
    "QueryRepositoryDirectoryContentsResponse": {
      "id": "QueryRepositoryDirectoryContentsResponse",
      "type": "object",
      "description": "`QueryRepositoryDirectoryContents` response message.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "directoryEntries": {
          "items": {
            "$ref": "DirectoryEntry"
          },
          "description": "List of entries in the directory.",
          "type": "array"
        }
      }
    },
    "FetchRemoteBranchesResponse": {
      "type": "object",
      "properties": {
        "branches": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The remote repository's branch names."
        }
      },
      "id": "FetchRemoteBranchesResponse",
      "description": "`FetchRemoteBranches` response message."
    },
    "SearchFilesResponse": {
      "properties": {
        "searchResults": {
          "items": {
            "$ref": "SearchResult"
          },
          "type": "array",
          "description": "List of matched results."
        },
        "nextPageToken": {
          "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Client-facing representation of a file search response.",
      "type": "object",
      "id": "SearchFilesResponse"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "type": "object"
    },
    "DeleteFile": {
      "type": "object",
      "properties": {},
      "id": "DeleteFile",
      "description": "Represents the delete file operation."
    },
    "RemoveFileRequest": {
      "description": "`RemoveFile` request message.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Required. The file's full path including filename, relative to the workspace root.",
          "type": "string"
        }
      },
      "id": "RemoveFileRequest"
    },
    "ListWorkflowInvocationsResponse": {
      "id": "ListWorkflowInvocationsResponse",
      "properties": {
        "workflowInvocations": {
          "items": {
            "$ref": "WorkflowInvocation"
          },
          "description": "List of workflow invocations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations which could not be reached."
        }
      },
      "type": "object",
      "description": "`ListWorkflowInvocations` response message."
    },
    "TeamFolderContentsEntry": {
      "properties": {
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        },
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        }
      },
      "type": "object",
      "id": "TeamFolderContentsEntry",
      "description": "Represents a single content entry."
    },
    "MakeDirectoryRequest": {
      "id": "MakeDirectoryRequest",
      "description": "`MakeDirectory` request message.",
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The directory's full path including directory name, relative to the workspace root."
        }
      }
    },
    "DataPreparation": {
      "properties": {
        "dependencyTargets": {
          "type": "array",
          "description": "A list of actions that this action depends on.",
          "items": {
            "$ref": "Target"
          }
        },
        "tags": {
          "type": "array",
          "description": "Arbitrary, user-defined tags on this action.",
          "items": {
            "type": "string"
          }
        },
        "contentsSql": {
          "$ref": "SqlDefinition",
          "description": "SQL definition for a Data Preparation. Contains a SQL query and additional context information."
        },
        "contentsYaml": {
          "type": "string",
          "description": "The data preparation definition, stored as a YAML string."
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Defines a compiled Data Preparation entity",
      "id": "DataPreparation"
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "MoveFolderRequest": {
      "id": "MoveFolderRequest",
      "description": "`MoveFolder` request message.",
      "properties": {
        "destinationContainingFolder": {
          "type": "string",
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the Folder to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`"
        }
      },
      "type": "object"
    },
    "RootContentsEntry": {
      "id": "RootContentsEntry",
      "type": "object",
      "properties": {
        "repository": {
          "description": "A repository.",
          "$ref": "Repository"
        },
        "folder": {
          "description": "A subfolder.",
          "$ref": "Folder"
        }
      },
      "description": "Represents a single content entry."
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "MoveFileResponse": {
      "type": "object",
      "description": "`MoveFile` response message.",
      "properties": {},
      "id": "MoveFileResponse"
    },
    "WriteFileRequest": {
      "properties": {
        "contents": {
          "description": "Required. The file's contents.",
          "type": "string",
          "format": "byte"
        },
        "path": {
          "description": "Required. The file.",
          "type": "string"
        }
      },
      "id": "WriteFileRequest",
      "type": "object",
      "description": "`WriteFile` request message."
    },
    "WriteFile": {
      "description": "Represents the write file operation (for files added or modified).",
      "id": "WriteFile",
      "properties": {
        "contents": {
          "type": "string",
          "format": "byte",
          "description": "The file's contents."
        }
      },
      "type": "object"
    },
    "FetchFileGitStatusesResponse": {
      "description": "`FetchFileGitStatuses` response message.",
      "type": "object",
      "properties": {
        "uncommittedFileChanges": {
          "description": "A list of all files which have uncommitted Git changes. There will only be a single entry for any given file.",
          "items": {
            "$ref": "UncommittedFileChange"
          },
          "type": "array"
        }
      },
      "id": "FetchFileGitStatusesResponse"
    },
    "CompilationResultAction": {
      "description": "Represents a single Dataform action in a compilation result.",
      "properties": {
        "assertion": {
          "description": "The assertion executed by this action.",
          "$ref": "Assertion"
        },
        "dataPreparation": {
          "description": "The data preparation executed by this action.",
          "$ref": "DataPreparation"
        },
        "canonicalTarget": {
          "description": "The action's identifier if the project had been compiled without any overrides configured. Unique within the compilation result.",
          "$ref": "Target"
        },
        "internalMetadata": {
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true
        },
        "notebook": {
          "description": "The notebook executed by this action.",
          "$ref": "Notebook"
        },
        "filePath": {
          "type": "string",
          "description": "The full path including filename in which this action is located, relative to the workspace root."
        },
        "relation": {
          "$ref": "Relation",
          "description": "The database relation created/updated by this action."
        },
        "operations": {
          "$ref": "Operations",
          "description": "The database operations executed by this action."
        },
        "declaration": {
          "description": "The declaration declared by this action.",
          "$ref": "Declaration"
        },
        "target": {
          "description": "This action's identifier. Unique within the compilation result.",
          "$ref": "Target"
        }
      },
      "type": "object",
      "id": "CompilationResultAction"
    },
    "DirectoryEntry": {
      "description": "Represents a single entry in a directory.",
      "id": "DirectoryEntry",
      "properties": {
        "metadata": {
          "description": "Entry with metadata.",
          "$ref": "FilesystemEntryMetadata"
        },
        "directory": {
          "type": "string",
          "description": "A child directory in the directory. The path is returned including the full folder structure from the root."
        },
        "file": {
          "description": "A file in the directory. The path is returned including the full folder structure from the root.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ActionLoadConfig": {
      "id": "ActionLoadConfig",
      "type": "object",
      "description": "Simplified load configuration for actions",
      "properties": {
        "unique": {
          "description": "Insert records where the value of a column is not already present in the destination table",
          "$ref": "ActionIncrementalLoadMode"
        },
        "append": {
          "$ref": "ActionSimpleLoadMode",
          "description": "Append into destination table"
        },
        "replace": {
          "description": "Replace destination table",
          "$ref": "ActionSimpleLoadMode"
        },
        "maximum": {
          "$ref": "ActionIncrementalLoadMode",
          "description": "Insert records where the value exceeds the previous maximum value for a column in the destination table"
        }
      }
    },
    "TeamFolder": {
      "id": "TeamFolder",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of when the TeamFolder was created.",
          "format": "google-datetime"
        },
        "creatorIamPrincipal": {
          "type": "string",
          "description": "Output only. The IAM principal identifier of the creator of the TeamFolder.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the TeamFolder was last updated."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The TeamFolder's name."
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The TeamFolder's user-friendly name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a Dataform TeamFolder. This is a resource that sits at the project level and is used to organize Repositories and Folders with hierarchical access controls. They provide a team context and stricter access controls."
    },
    "QueryFolderContentsResponse": {
      "id": "QueryFolderContentsResponse",
      "properties": {
        "entries": {
          "description": "List of entries in the folder.",
          "type": "array",
          "items": {
            "$ref": "FolderContentsEntry"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "`QueryFolderContents` response message.",
      "type": "object"
    },
    "Relation": {
      "description": "Represents a database relation.",
      "type": "object",
      "id": "Relation",
      "properties": {
        "relationDescriptor": {
          "description": "Descriptor for the relation and its columns.",
          "$ref": "RelationDescriptor"
        },
        "partitionExpirationDays": {
          "type": "integer",
          "format": "int32",
          "description": "Sets the partition expiration in days."
        },
        "dependencyTargets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on."
        },
        "preOperations": {
          "type": "array",
          "description": "SQL statements to be executed before creating the relation.",
          "items": {
            "type": "string"
          }
        },
        "connection": {
          "description": "Optional. The connection specifying the credentials to be used to read and write to external storage, such as Cloud Storage. The connection can have the form `{project}.{location}.{connection_id}` or `projects/{project}/locations/{location}/connections/{connection_id}`, or be set to DEFAULT.",
          "type": "string"
        },
        "partitionExpression": {
          "type": "string",
          "description": "The SQL expression used to partition the relation."
        },
        "incrementalTableConfig": {
          "description": "Configures `INCREMENTAL_TABLE` settings for this relation. Only set if `relation_type` is `INCREMENTAL_TABLE`.",
          "$ref": "IncrementalTableConfig"
        },
        "additionalOptions": {
          "description": "Additional options that will be provided as key/value pairs into the options clause of a create table/view statement. See https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language for more information on which options are supported.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "requirePartitionFilter": {
          "description": "Specifies whether queries on this table must include a predicate filter that filters on the partitioning column.",
          "type": "boolean"
        },
        "fileFormat": {
          "enumDescriptions": [
            "Default value.",
            "Apache Parquet format."
          ],
          "type": "string",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ],
          "description": "Optional. The file format for the BigQuery table."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action."
        },
        "postOperations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "SQL statements to be executed after creating the relation."
        },
        "tableFormat": {
          "description": "Optional. The table format for the BigQuery table.",
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Apache Iceberg format."
          ]
        },
        "selectQuery": {
          "type": "string",
          "description": "The SELECT query which returns rows which this relation should contain."
        },
        "storageUri": {
          "description": "Optional. The fully qualified location prefix of the external folder where table data is stored. The URI should be in the format `gs://bucket/path_to_table/`.",
          "type": "string"
        },
        "disabled": {
          "description": "Whether this action is disabled (i.e. should not be run).",
          "type": "boolean"
        },
        "relationType": {
          "enum": [
            "RELATION_TYPE_UNSPECIFIED",
            "TABLE",
            "VIEW",
            "INCREMENTAL_TABLE",
            "MATERIALIZED_VIEW"
          ],
          "description": "The type of this relation.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The relation is a table.",
            "The relation is a view.",
            "The relation is an incrementalized table.",
            "The relation is a materialized view."
          ],
          "type": "string"
        },
        "clusterExpressions": {
          "items": {
            "type": "string"
          },
          "description": "A list of columns or SQL expressions used to cluster the table.",
          "type": "array"
        }
      }
    },
    "ActionSimpleLoadMode": {
      "description": "Simple load definition",
      "type": "object",
      "id": "ActionSimpleLoadMode",
      "properties": {}
    },
    "ReadRepositoryFileResponse": {
      "properties": {
        "contents": {
          "format": "byte",
          "description": "The file's contents.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "`ReadRepositoryFile` response message.",
      "id": "ReadRepositoryFileResponse"
    },
    "MoveFileRequest": {
      "description": "`MoveFile` request message.",
      "type": "object",
      "properties": {
        "newPath": {
          "description": "Required. The file's new path including filename, relative to the workspace root.",
          "type": "string"
        },
        "path": {
          "description": "Required. The file's full path including filename, relative to the workspace root.",
          "type": "string"
        }
      },
      "id": "MoveFileRequest"
    },
    "PrivateResourceMetadata": {
      "properties": {
        "userScoped": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If true, this resource is user-scoped, meaning it is either a workspace or sourced from a workspace."
        }
      },
      "type": "object",
      "id": "PrivateResourceMetadata",
      "description": "Metadata used to identify if a resource is user scoped."
    },
    "ResetWorkspaceChangesResponse": {
      "type": "object",
      "description": "`ResetWorkspaceChanges` response message.",
      "id": "ResetWorkspaceChangesResponse",
      "properties": {}
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "FileSearchResult": {
      "properties": {
        "path": {
          "description": "File system path relative to the workspace root.",
          "type": "string"
        }
      },
      "id": "FileSearchResult",
      "type": "object",
      "description": "Client-facing representation of a file entry in search results."
    },
    "ActionSqlDefinition": {
      "properties": {
        "errorTable": {
          "$ref": "ActionErrorTable",
          "description": "Error table configuration,"
        },
        "loadConfig": {
          "$ref": "ActionLoadConfig",
          "description": "Load configuration."
        },
        "query": {
          "type": "string",
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement."
        }
      },
      "id": "ActionSqlDefinition",
      "description": "Definition of a SQL Data Preparation",
      "type": "object"
    },
    "WorkflowInvocation": {
      "type": "object",
      "id": "WorkflowInvocation",
      "description": "Represents a single invocation of a compilation result.",
      "properties": {
        "invocationConfig": {
          "description": "Immutable. If left unset, a default InvocationConfig will be used.",
          "$ref": "InvocationConfig"
        },
        "pipelineConfig": {
          "description": "Output only. The pipeline options which defines the pipeline type and path within the Git repository.",
          "$ref": "PipelineConfig",
          "readOnly": true
        },
        "privateResourceMetadata": {
          "$ref": "PrivateResourceMetadata",
          "readOnly": true,
          "description": "Output only. Metadata indicating whether this resource is user-scoped. `WorkflowInvocation` resource is `user_scoped` only if it is sourced from a compilation result and the compilation result is user-scoped."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "CANCELING"
          ],
          "description": "Output only. This workflow invocation's current state.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The workflow invocation is currently running.",
            "The workflow invocation succeeded. A terminal state.",
            "The workflow invocation was cancelled. A terminal state.",
            "The workflow invocation failed. A terminal state.",
            "The workflow invocation is being cancelled, but some actions are still running."
          ]
        },
        "compilationResult": {
          "description": "Immutable. The name of the compilation result to use for this invocation. Must be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string"
        },
        "resolvedCompilationResult": {
          "description": "Output only. The resolved compilation result that was used to create this invocation. Will be in the format `projects/*/locations/*/repositories/*/compilationResults/*`.",
          "type": "string",
          "readOnly": true
        },
        "dataEncryptionState": {
          "description": "Output only. Only set if the repository has a KMS Key.",
          "$ref": "DataEncryptionState",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The workflow invocation's name.",
          "type": "string"
        },
        "internalMetadata": {
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string",
          "readOnly": true
        },
        "invocationTiming": {
          "readOnly": true,
          "description": "Output only. This workflow invocation's timing details.",
          "$ref": "Interval"
        },
        "workflowConfig": {
          "description": "Immutable. The name of the workflow config to invoke. Must be in the format `projects/*/locations/*/repositories/*/workflowConfigs/*`.",
          "type": "string"
        }
      }
    },
    "DeleteTeamFolderTreeRequest": {
      "id": "DeleteTeamFolderTreeRequest",
      "properties": {
        "force": {
          "type": "boolean",
          "description": "Optional. If `false` (default): The operation will fail if any Repository within the folder hierarchy has associated Release Configs or Workflow Configs. If `true`: The operation will attempt to delete everything, including any Release Configs and Workflow Configs linked to Repositories within the folder hierarchy. This permanently removes schedules and resources."
        }
      },
      "description": "`DeleteTeamFolderTree` request message.",
      "type": "object"
    },
    "MoveDirectoryRequest": {
      "properties": {
        "path": {
          "description": "Required. The directory's full path including directory name, relative to the workspace root.",
          "type": "string"
        },
        "newPath": {
          "description": "Required. The new path for the directory including directory name, rooted at workspace root.",
          "type": "string"
        }
      },
      "description": "`MoveDirectory` request message.",
      "type": "object",
      "id": "MoveDirectoryRequest"
    },
    "CommitLogEntry": {
      "properties": {
        "author": {
          "$ref": "CommitAuthor",
          "description": "The commit author for this commit log entry."
        },
        "commitSha": {
          "description": "The commit SHA for this commit log entry.",
          "type": "string"
        },
        "commitTime": {
          "description": "Commit timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "commitMessage": {
          "description": "The commit message for this commit log entry.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CommitLogEntry",
      "description": "Represents a single commit log."
    },
    "ActionIncrementalLoadMode": {
      "id": "ActionIncrementalLoadMode",
      "properties": {
        "column": {
          "type": "string",
          "description": "Column name for incremental load modes"
        }
      },
      "description": "Load definition for incremental load modes",
      "type": "object"
    },
    "Operations": {
      "properties": {
        "relationDescriptor": {
          "$ref": "RelationDescriptor",
          "description": "Descriptor for any output relation and its columns. Only set if `has_output` is true."
        },
        "hasOutput": {
          "description": "Whether these operations produce an output relation.",
          "type": "boolean"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Arbitrary, user-defined tags on this action.",
          "type": "array"
        },
        "queries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of arbitrary SQL statements that will be executed without alteration."
        },
        "dependencyTargets": {
          "items": {
            "$ref": "Target"
          },
          "description": "A list of actions that this action depends on.",
          "type": "array"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether this action is disabled (i.e. should not be run)."
        }
      },
      "type": "object",
      "id": "Operations",
      "description": "Represents a list of arbitrary database operations."
    },
    "Workspace": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of when the workspace was created."
        },
        "disableMoves": {
          "type": "boolean",
          "description": "Optional. If set to true, workspaces will not be moved if its linked Repository is moved. Instead, it will be deleted."
        },
        "internalMetadata": {
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "type": "string"
        },
        "privateResourceMetadata": {
          "$ref": "PrivateResourceMetadata",
          "readOnly": true,
          "description": "Output only. Metadata indicating whether this resource is user-scoped. For `Workspace` resources, the `user_scoped` field is always `true`."
        },
        "name": {
          "description": "Identifier. The workspace's name.",
          "type": "string"
        },
        "dataEncryptionState": {
          "readOnly": true,
          "description": "Output only. A data encryption state of a Git repository if this Workspace is protected by a KMS key.",
          "$ref": "DataEncryptionState"
        }
      },
      "description": "Represents a Dataform Git workspace.",
      "type": "object",
      "id": "Workspace"
    },
    "SimpleLoadMode": {
      "properties": {},
      "type": "object",
      "id": "SimpleLoadMode",
      "description": "Simple load definition"
    },
    "CommitAuthor": {
      "properties": {
        "emailAddress": {
          "description": "Required. The commit author's email address.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The commit author's name."
        }
      },
      "type": "object",
      "id": "CommitAuthor",
      "description": "Represents the author of a Git commit."
    },
    "FolderContentsEntry": {
      "description": "Represents a single content entry.",
      "properties": {
        "folder": {
          "$ref": "Folder",
          "description": "A subfolder."
        },
        "repository": {
          "$ref": "Repository",
          "description": "A repository."
        }
      },
      "id": "FolderContentsEntry",
      "type": "object"
    },
    "IamPolicyOverrideView": {
      "id": "IamPolicyOverrideView",
      "properties": {
        "isActive": {
          "type": "boolean",
          "description": "Whether the IAM policy encoded in this view is active."
        },
        "iamPolicyName": {
          "description": "The IAM policy name for the resource.",
          "$ref": "PolicyName"
        }
      },
      "type": "object",
      "description": "Contains metadata about the IAM policy override for a given Dataform resource. If is_active is true, this the policy encoded in iam_policy_name is the source of truth for this resource. Will be provided in internal ESV2 views for: Workspaces, Repositories, Folders, TeamFolders."
    },
    "FetchGitAheadBehindResponse": {
      "id": "FetchGitAheadBehindResponse",
      "properties": {
        "commitsBehind": {
          "format": "int32",
          "type": "integer",
          "description": "The number of commits in the workspace that are not in the remote branch."
        },
        "commitsAhead": {
          "description": "The number of commits in the remote branch that are not in the workspace.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "`FetchGitAheadBehind` response message."
    },
    "MoveRepositoryRequest": {
      "id": "MoveRepositoryRequest",
      "description": "`MoveRepository` request message.",
      "properties": {
        "destinationContainingFolder": {
          "type": "string",
          "description": "Optional. The name of the Folder, TeamFolder, or root location to move the repository to. Can be in the format of: \"\" to move into the root User folder, `projects/*/locations/*/folders/*`, `projects/*/locations/*/teamFolders/*`"
        }
      },
      "type": "object"
    },
    "FileOperation": {
      "id": "FileOperation",
      "type": "object",
      "properties": {
        "deleteFile": {
          "$ref": "DeleteFile",
          "description": "Represents the delete operation."
        },
        "writeFile": {
          "description": "Represents the write operation.",
          "$ref": "WriteFile"
        }
      },
      "description": "Represents a single file operation to the repository."
    },
    "GitRemoteSettings": {
      "type": "object",
      "description": "Controls Git remote configuration for a repository.",
      "properties": {
        "url": {
          "description": "Required. The Git remote's URL.",
          "type": "string"
        },
        "authenticationTokenSecretVersion": {
          "type": "string",
          "description": "Optional. The name of the Secret Manager secret version to use as an authentication token for Git operations. Must be in the format `projects/*/secrets/*/versions/*`."
        },
        "effectiveDefaultBranch": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Git remote's effective default branch name. This is the default branch name of the Git remote if it is set, otherwise it is `main`."
        },
        "sshAuthenticationConfig": {
          "$ref": "SshAuthenticationConfig",
          "description": "Optional. Authentication fields for remote uris using SSH protocol."
        },
        "defaultBranch": {
          "description": "Optional. The Git remote's default branch name. If not set, `main` will be used.",
          "type": "string"
        },
        "tokenStatus": {
          "deprecated": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The token could not be found in Secret Manager (or the Dataform Service Account did not have permission to access it).",
            "The token could not be used to authenticate against the Git remote.",
            "The token was used successfully to authenticate against the Git remote."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "TOKEN_STATUS_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID",
            "VALID"
          ],
          "description": "Output only. Deprecated: The field does not contain any token status information."
        },
        "gitRepositoryLink": {
          "type": "string",
          "description": "Optional. Resource name for the `GitRepositoryLink` used for machine credentials. Must be in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`"
        }
      },
      "id": "GitRemoteSettings"
    },
    "PipelineConfig": {
      "description": "Defines the pipeline type and path within the Git repository.",
      "id": "PipelineConfig",
      "type": "object",
      "properties": {
        "pipelineType": {
          "enum": [
            "PIPELINE_TYPE_UNSPECIFIED",
            "DATAFORM",
            "SQL",
            "NOTEBOOK"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Regular Dataform pipeline.",
            "SQL single file asset.",
            "Notebook single file asset."
          ],
          "description": "Required. The type of the pipeline.",
          "type": "string"
        },
        "path": {
          "description": "Required. The relative path within the Git repository where the pipeline is defined. For example, for a Dataform pipeline, it is a path to the folder where `workflow_settings.yaml` or `dataform.json` is located.",
          "type": "string"
        }
      }
    },
    "Expr": {
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "CodeCompilationConfig": {
      "id": "CodeCompilationConfig",
      "description": "Configures various aspects of Dataform code compilation.",
      "properties": {
        "schemaSuffix": {
          "type": "string",
          "description": "Optional. The suffix that should be appended to all schema (BigQuery dataset ID) names."
        },
        "defaultNotebookRuntimeOptions": {
          "description": "Optional. The default notebook runtime options.",
          "$ref": "NotebookRuntimeOptions"
        },
        "builtinAssertionNamePrefix": {
          "description": "Optional. The prefix to prepend to built-in assertion names.",
          "type": "string"
        },
        "assertionSchema": {
          "type": "string",
          "description": "Optional. The default schema (BigQuery dataset ID) for assertions."
        },
        "defaultLocation": {
          "description": "Optional. The default BigQuery location to use. Defaults to \"US\". See the BigQuery docs for a full list of locations: https://cloud.google.com/bigquery/docs/locations.",
          "type": "string"
        },
        "pipelineConfig": {
          "description": "Optional. The pipeline options which defines the pipeline type and path within the Git repository.",
          "$ref": "PipelineConfig"
        },
        "vars": {
          "type": "object",
          "description": "Optional. User-defined variables that are made available to project code during compilation.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "defaultDatabase": {
          "description": "Optional. The default database (Google Cloud project ID).",
          "type": "string"
        },
        "tablePrefix": {
          "description": "Optional. The prefix that should be prepended to all table names.",
          "type": "string"
        },
        "databaseSuffix": {
          "description": "Optional. The suffix that should be appended to all database (Google Cloud project ID) names.",
          "type": "string"
        },
        "defaultSchema": {
          "description": "Optional. The default schema (BigQuery dataset ID).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstallNpmPackagesRequest": {
      "type": "object",
      "description": "`InstallNpmPackages` request message.",
      "id": "InstallNpmPackagesRequest",
      "properties": {
        "pipelineConfig": {
          "description": "Optional. The pipeline options which defines the pipeline type and path within the Git repository.",
          "$ref": "PipelineConfig"
        }
      }
    },
    "GcsRepositorySnapshotDestination": {
      "id": "GcsRepositorySnapshotDestination",
      "properties": {
        "repositorySnapshotUri": {
          "type": "string",
          "description": "Optional. The Google Cloud Storage destination to upload the repository snapshot to. Format: `gs://bucket-name/path/`."
        }
      },
      "description": "Configures the destination for a repository snapshot.",
      "type": "object"
    },
    "PolicyName": {
      "description": "An internal name for an IAM policy, based on the resource to which the policy applies. Not to be confused with a resource's external full resource name. For more information on this distinction, see go/iam-full-resource-names.",
      "properties": {
        "region": {
          "type": "string",
          "description": "For Cloud IAM: The location of the Policy. Must be empty or \"global\" for Policies owned by global IAM. Must name a region from prodspec/cloud-iam-cloudspec for Regional IAM Policies, see go/iam-faq#where-is-iam-currently-deployed. For Local IAM: This field should be set to \"local\"."
        },
        "id": {
          "description": "Identifies an instance of the type. ID format varies by type. The ID format is defined in the IAM .service file that defines the type, either in path_mapping or in a comment.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Resource type. Types are defined in IAM's .service files. Valid values for type might be 'storage_buckets', 'compute_instances', 'resourcemanager_customers', 'billing_accounts', etc."
        }
      },
      "id": "PolicyName",
      "type": "object"
    },
    "CommitRepositoryChangesRequest": {
      "type": "object",
      "properties": {
        "commitMetadata": {
          "description": "Required. The changes to commit to the repository.",
          "$ref": "CommitMetadata"
        },
        "requiredHeadCommitSha": {
          "description": "Optional. The commit SHA which must be the repository's current HEAD before applying this commit; otherwise this request will fail. If unset, no validation on the current HEAD commit SHA is performed.",
          "type": "string"
        },
        "fileOperations": {
          "description": "Optional. A map to the path of the file to the operation. The path is the full file path including filename, from repository root.",
          "type": "object",
          "additionalProperties": {
            "$ref": "FileOperation"
          }
        }
      },
      "id": "CommitRepositoryChangesRequest",
      "description": "`CommitRepositoryChanges` request message."
    },
    "CancelWorkflowInvocationRequest": {
      "description": "`CancelWorkflowInvocation` request message.",
      "type": "object",
      "properties": {},
      "id": "CancelWorkflowInvocationRequest"
    },
    "CommitMetadata": {
      "properties": {
        "commitMessage": {
          "type": "string",
          "description": "Optional. The commit's message."
        },
        "author": {
          "description": "Required. The commit's author.",
          "$ref": "CommitAuthor"
        }
      },
      "type": "object",
      "id": "CommitMetadata",
      "description": "Represents a Dataform Git commit."
    },
    "MoveDirectoryResponse": {
      "id": "MoveDirectoryResponse",
      "description": "`MoveDirectory` response message.",
      "type": "object",
      "properties": {}
    },
    "Folder": {
      "type": "object",
      "description": "Represents a Dataform Folder. This is a resource that is used to organize Files and other Folders and provide hierarchical access controls.",
      "id": "Folder",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp of when the Folder was last updated.",
          "readOnly": true
        },
        "containingFolder": {
          "type": "string",
          "description": "Optional. The containing Folder resource name. This should take the format: projects/{project}/locations/{location}/folders/{folder}, projects/{project}/locations/{location}/teamFolders/{teamFolder}, or just \"\" if this is a root Folder. This field can only be updated through MoveFolder."
        },
        "creatorIamPrincipal": {
          "description": "Output only. The IAM principal identifier of the creator of the Folder.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The Folder's name.",
          "type": "string"
        },
        "internalMetadata": {
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp of when the Folder was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. The Folder's user-friendly name.",
          "type": "string"
        },
        "teamFolderName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the TeamFolder that this Folder is associated with. This should take the format: projects/{project}/locations/{location}/teamFolders/{teamFolder}. If this is not set, the Folder is not associated with a TeamFolder and is a UserFolder."
        }
      }
    },
    "WorkflowConfig": {
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. Disables automatic creation of workflow invocations."
        },
        "recentScheduledExecutionRecords": {
          "type": "array",
          "items": {
            "$ref": "ScheduledExecutionRecord"
          },
          "readOnly": true,
          "description": "Output only. Records of the 10 most recent scheduled execution attempts, ordered in descending order of `execution_time`. Updated whenever automatic creation of a workflow invocation is triggered by cron_schedule."
        },
        "cronSchedule": {
          "description": "Optional. Optional schedule (in cron format) for automatic execution of this workflow config.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp of when the WorkflowConfig was created.",
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the [time zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). If left unspecified, the default is `UTC`.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of when the WorkflowConfig was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "invocationConfig": {
          "$ref": "InvocationConfig",
          "description": "Optional. If left unset, a default InvocationConfig will be used."
        },
        "releaseConfig": {
          "description": "Required. The name of the release config whose release_compilation_result should be executed. Must be in the format `projects/*/locations/*/repositories/*/releaseConfigs/*`.",
          "type": "string"
        },
        "internalMetadata": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The workflow config's name."
        }
      },
      "description": "Represents a Dataform workflow configuration.",
      "id": "WorkflowConfig",
      "type": "object"
    },
    "DeleteFolderTreeRequest": {
      "description": "`DeleteFolderTree` request message.",
      "id": "DeleteFolderTreeRequest",
      "type": "object",
      "properties": {
        "force": {
          "type": "boolean",
          "description": "Optional. If `false` (default): The operation will fail if any Repository within the folder hierarchy has associated Release Configs or Workflow Configs. If `true`: The operation will attempt to delete everything, including any Release Configs and Workflow Configs linked to Repositories within the folder hierarchy. This permanently removes schedules and resources."
        }
      }
    },
    "FetchFileDiffResponse": {
      "properties": {
        "formattedDiff": {
          "description": "The raw formatted Git diff for the file.",
          "type": "string"
        }
      },
      "description": "`FetchFileDiff` response message.",
      "type": "object",
      "id": "FetchFileDiffResponse"
    },
    "SearchTeamFoldersResponse": {
      "type": "object",
      "description": "`SearchTeamFolders` response message.",
      "id": "SearchTeamFoldersResponse",
      "properties": {
        "results": {
          "description": "List of TeamFolders that match the search query.",
          "type": "array",
          "items": {
            "$ref": "TeamFolderSearchResult"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ActionErrorTable": {
      "type": "object",
      "properties": {
        "retentionDays": {
          "description": "Error table partition expiration in days. Only positive values are allowed.",
          "type": "integer",
          "format": "int32"
        },
        "target": {
          "description": "Error Table target.",
          "$ref": "Target"
        }
      },
      "id": "ActionErrorTable",
      "description": "Error table information, used to write error data into a BigQuery table."
    },
    "QueryDirectoryContentsResponse": {
      "id": "QueryDirectoryContentsResponse",
      "description": "`QueryDirectoryContents` response message.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "directoryEntries": {
          "description": "List of entries in the directory.",
          "type": "array",
          "items": {
            "$ref": "DirectoryEntry"
          }
        }
      },
      "type": "object"
    },
    "SqlDefinition": {
      "type": "object",
      "description": "Definition of a SQL Data Preparation",
      "properties": {
        "load": {
          "$ref": "LoadConfig",
          "description": "Load configuration."
        },
        "errorTable": {
          "description": "Error table configuration,",
          "$ref": "ErrorTable"
        },
        "query": {
          "type": "string",
          "description": "The SQL query representing the data preparation steps. Formatted as a Pipe SQL query statement."
        }
      },
      "id": "SqlDefinition"
    },
    "ListReleaseConfigsResponse": {
      "id": "ListReleaseConfigsResponse",
      "description": "`ListReleaseConfigs` response message.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations which could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "releaseConfigs": {
          "type": "array",
          "description": "List of release configs.",
          "items": {
            "$ref": "ReleaseConfig"
          }
        }
      }
    },
    "DirectorySearchResult": {
      "description": "Client-facing representation of a directory entry in search results.",
      "id": "DirectorySearchResult",
      "type": "object",
      "properties": {
        "path": {
          "description": "File system path relative to the workspace root.",
          "type": "string"
        }
      }
    },
    "Config": {
      "description": "Config for all repositories in a given project and location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The config name.",
          "type": "string"
        },
        "internalMetadata": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. All the metadata information that is used internally to serve the resource. For example: timestamps, flags, status fields, etc. The format of this field is a JSON string."
        },
        "defaultKmsKeyName": {
          "description": "Optional. The default KMS key that is used if no encryption key is provided when a repository is created.",
          "type": "string"
        }
      },
      "id": "Config"
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "properties": {
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusDetail": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "cancelRequested": {
          "type": "boolean",
[...]
