{
  "canonicalName": "Database Migration Service",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "ownerName": "Google",
  "description": "Manage Cloud Database Migration Service resources on Google Cloud Platform.",
  "documentationLink": "https://cloud.google.com/database-migration/",
  "discoveryVersion": "v1",
  "name": "datamigration",
  "rootUrl": "https://datamigration.googleapis.com/",
  "batchPath": "batch",
  "revision": "20260904",
  "version_module": true,
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://datamigration.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://datamigration.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.asia-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datamigration.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://datamigration.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://datamigration.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://datamigration.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.australia-southeast2.rep.googleapis.com/"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://datamigration.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north1",
      "endpointUrl": "https://datamigration.europe-north1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://datamigration.europe-north2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-southwest1",
      "endpointUrl": "https://datamigration.europe-southwest1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datamigration.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://datamigration.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west15",
      "endpointUrl": "https://datamigration.europe-west15.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.europe-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datamigration.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.europe-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datamigration.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://datamigration.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.me-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://datamigration.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://datamigration.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.us-central2.rep.googleapis.com/",
      "location": "us-central2"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.us-east1.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.us-east4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://datamigration.us-east7.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datamigration.us-south1.rep.googleapis.com/",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://datamigration.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://datamigration.us-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://datamigration.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datamigration.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://datamigration.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "DescribeDatabaseEntitiesResponse": {
      "type": "object",
      "description": "Response message for 'DescribeDatabaseEntities' request.",
      "properties": {
        "databaseEntities": {
          "description": "The list of database entities for the conversion workspace.",
          "type": "array",
          "items": {
            "$ref": "DatabaseEntity"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "DescribeDatabaseEntitiesResponse"
    },
    "TcpProxyScript": {
      "description": "Response message for 'GenerateTcpProxyScript' request.",
      "type": "object",
      "properties": {
        "script": {
          "description": "The TCP Proxy configuration script.",
          "type": "string"
        }
      },
      "id": "TcpProxyScript"
    },
    "DumpFlags": {
      "properties": {
        "dumpFlags": {
          "type": "array",
          "description": "The flags for the initial dump.",
          "items": {
            "$ref": "DumpFlag"
          }
        }
      },
      "description": "Dump flags definition.",
      "type": "object",
      "id": "DumpFlags"
    },
    "SourceObjectIdentifier": {
      "description": "An identifier for the Migration Job Object.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The type of the migration job object is unknown.",
            "The migration job object is a database.",
            "The migration job object is a schema.",
            "The migration job object is a table."
          ],
          "enum": [
            "MIGRATION_JOB_OBJECT_TYPE_UNSPECIFIED",
            "DATABASE",
            "SCHEMA",
            "TABLE"
          ],
          "description": "Required. The type of the migration job object."
        },
        "schema": {
          "description": "Optional. The schema name. This will be required only if the object uses a schema name as part of its unique identifier.",
          "type": "string"
        },
        "database": {
          "description": "Optional. The database name. This will be required only if the object uses a database name as part of its unique identifier.",
          "type": "string"
        },
        "table": {
          "type": "string",
          "description": "Optional. The table name. This will be required only if the object is a level below database or schema."
        }
      },
      "id": "SourceObjectIdentifier",
      "type": "object"
    },
    "QuotaFailure": {
      "properties": {
        "violations": {
          "type": "array",
          "description": "Describes all quota violations.",
          "items": {
            "$ref": "QuotaFailureViolation"
          }
        }
      },
      "id": "QuotaFailure",
      "description": "Describes how a quota check failed. For example if a daily limit was exceeded for the calling project, a service could respond with a QuotaFailure detail containing the project id and the description of the quota limit that was exceeded. If the calling project hasn't enabled the service in the developer console, then a service could respond with the project id and set `service_disabled` to true. Also see RetryInfo and Help types for other details about handling a quota failure.",
      "type": "object"
    },
    "SequenceEntity": {
      "description": "Sequence's parent is a schema.",
      "id": "SequenceEntity",
      "properties": {
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "startValue": {
          "type": "string",
          "description": "Start number for the sequence represented as bytes to accommodate large. numbers",
          "format": "byte"
        },
        "cycle": {
          "description": "Indicates whether the sequence value should cycle through.",
          "type": "boolean"
        },
        "cache": {
          "format": "int64",
          "type": "string",
          "description": "Indicates number of entries to cache / precreate."
        },
        "minValue": {
          "type": "string",
          "format": "byte",
          "description": "Minimum number for the sequence represented as bytes to accommodate large. numbers"
        },
        "increment": {
          "format": "int64",
          "description": "Increment value for the sequence.",
          "type": "string"
        },
        "maxValue": {
          "format": "byte",
          "description": "Maximum number for the sequence represented as bytes to accommodate large. numbers",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApplyJobDetails": {
      "id": "ApplyJobDetails",
      "type": "object",
      "properties": {
        "connectionProfile": {
          "readOnly": true,
          "description": "Output only. The connection profile which was used for the apply job.",
          "type": "string"
        },
        "filter": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. AIP-160 based filter used to specify the entities to apply"
        }
      },
      "description": "Details regarding an Apply background job."
    },
    "RequestInfo": {
      "description": "Contains metadata about the request that clients can attach when filing a bug or providing other forms of feedback.",
      "id": "RequestInfo",
      "properties": {
        "requestId": {
          "description": "An opaque string that should only be interpreted by the service generating it. For example, it can be used to identify requests in the service's logs.",
          "type": "string"
        },
        "servingData": {
          "description": "Any data that was used to serve this request. For example, an encrypted stack trace that can be sent back to the service provider for debugging.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StaticServiceIpConnectivity": {
      "description": "Static IP address connectivity configured on service project.",
      "id": "StaticServiceIpConnectivity",
      "properties": {},
      "type": "object"
    },
    "EntityMove": {
      "description": "Options to configure rule type EntityMove. The rule is used to move an entity to a new schema. The rule filter field can refer to one or more entities. The rule scope can be one of: Table, Column, Constraint, Index, View, Function, Stored Procedure, Materialized View, Sequence, UDT",
      "id": "EntityMove",
      "type": "object",
      "properties": {
        "newSchema": {
          "type": "string",
          "description": "Required. The new schema"
        }
      }
    },
    "SourceNumericFilter": {
      "properties": {
        "sourceMinScaleFilter": {
          "format": "int32",
          "description": "Optional. The filter will match columns with scale greater than or equal to this number.",
          "type": "integer"
        },
        "sourceMaxScaleFilter": {
          "description": "Optional. The filter will match columns with scale smaller than or equal to this number.",
          "type": "integer",
          "format": "int32"
        },
        "sourceMinPrecisionFilter": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The filter will match columns with precision greater than or equal to this number."
        },
        "sourceMaxPrecisionFilter": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The filter will match columns with precision smaller than or equal to this number."
        },
        "numericFilterOption": {
          "enum": [
            "NUMERIC_FILTER_OPTION_UNSPECIFIED",
            "NUMERIC_FILTER_OPTION_ALL",
            "NUMERIC_FILTER_OPTION_LIMIT",
            "NUMERIC_FILTER_OPTION_LIMITLESS"
          ],
          "description": "Required. Enum to set the option defining the datatypes numeric filter has to be applied to",
          "enumDescriptions": [
            "Numeric filter option unspecified",
            "Numeric filter option that matches all numeric columns.",
            "Numeric filter option that matches columns having numeric datatypes with specified precision and scale within the limited range of filter.",
            "Numeric filter option that matches only the numeric columns with no precision and scale specified."
          ],
          "type": "string"
        }
      },
      "id": "SourceNumericFilter",
      "type": "object",
      "description": "Filter for fixed point number data types such as NUMERIC/NUMBER"
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        }
      },
      "type": "object",
      "id": "AuditConfig"
    },
    "ColumnEntity": {
      "id": "ColumnEntity",
      "properties": {
        "length": {
          "format": "int64",
          "type": "string",
          "description": "Column length - e.g. varchar (50)."
        },
        "nullable": {
          "type": "boolean",
          "description": "Is the column nullable."
        },
        "udt": {
          "description": "Is the column a UDT.",
          "type": "boolean"
        },
        "dataType": {
          "description": "Column data type.",
          "type": "string"
        },
        "precision": {
          "format": "int32",
          "type": "integer",
          "description": "Column precision - when relevant."
        },
        "autoGenerated": {
          "type": "boolean",
          "description": "Is the column auto-generated/identity."
        },
        "fractionalSecondsPrecision": {
          "format": "int32",
          "description": "Column fractional second precision - used for timestamp based datatypes.",
          "type": "integer"
        },
        "charset": {
          "description": "Charset override - instead of table level charset.",
          "type": "string"
        },
        "array": {
          "type": "boolean",
          "description": "Is the column of array type."
        },
        "name": {
          "type": "string",
          "description": "Column name."
        },
        "computed": {
          "description": "Is the column a computed column.",
          "type": "boolean"
        },
        "setValues": {
          "description": "Specifies the list of values allowed in the column. Only used for set data type.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "comment": {
          "type": "string",
          "description": "Comment associated with the column."
        },
        "collation": {
          "type": "string",
          "description": "Collation override - instead of table level collation."
        },
        "arrayLength": {
          "format": "int32",
          "type": "integer",
          "description": "If the column is array, of which length."
        },
        "customFeatures": {
          "description": "Custom engine specific features.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "ordinalPosition": {
          "description": "Column order in the table.",
          "format": "int32",
          "type": "integer"
        },
        "scale": {
          "description": "Column scale - when relevant.",
          "format": "int32",
          "type": "integer"
        },
        "defaultValue": {
          "type": "string",
          "description": "Default value of the column."
        }
      },
      "type": "object",
      "description": "Column is not used as an independent entity, it is retrieved as part of a Table entity."
    },
    "IndexEntity": {
      "properties": {
        "type": {
          "description": "Type of index, for example B-TREE.",
          "type": "string"
        },
        "unique": {
          "description": "Boolean value indicating whether the index is unique.",
          "type": "boolean"
        },
        "customFeatures": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Custom engine specific features."
        },
        "tableColumns": {
          "type": "array",
          "description": "Table columns used as part of the Index, for example B-TREE index should list the columns which constitutes the index.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The name of the index.",
          "type": "string"
        },
        "tableColumnsDescending": {
          "items": {
            "type": "boolean"
          },
          "type": "array",
          "description": "For each table_column, mark whether it's sorting order is ascending (false) or descending (true). If no value is defined, assume all columns are sorted in ascending order. Otherwise, the number of items must match that of table_columns with each value specifying the direction of the matched column by its index."
        }
      },
      "description": "Index is not used as an independent entity, it is retrieved as part of a Table entity.",
      "id": "IndexEntity",
      "type": "object"
    },
    "FetchStaticIpsResponse": {
      "id": "FetchStaticIpsResponse",
      "description": "Response message for a 'FetchStaticIps' request.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "staticIps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of static IPs."
        }
      }
    },
    "DatabaseEntity": {
      "type": "object",
      "id": "DatabaseEntity",
      "description": "The base entity type for all the database related entities. The message contains the entity name, the name of its parent, the entity type, and the specific details per entity type.",
      "properties": {
        "udt": {
          "$ref": "UDTEntity",
          "description": "UDT."
        },
        "entityDdl": {
          "type": "array",
          "items": {
            "$ref": "EntityDdl"
          },
          "description": "Details about the entity DDL script. Multiple DDL scripts are provided for child entities such as a table entity will have one DDL for the table with additional DDLs for each index, constraint and such."
        },
        "materializedView": {
          "$ref": "MaterializedViewEntity",
          "description": "Materialized view."
        },
        "storedProcedure": {
          "$ref": "StoredProcedureEntity",
          "description": "Stored procedure."
        },
        "entityType": {
          "description": "The type of the database entity (table, view, index, ...).",
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ]
        },
        "table": {
          "$ref": "TableEntity",
          "description": "Table."
        },
        "view": {
          "$ref": "ViewEntity",
          "description": "View."
        },
        "issues": {
          "items": {
            "$ref": "EntityIssue"
          },
          "description": "Details about the various issues found for the entity.",
          "type": "array"
        },
        "shortName": {
          "type": "string",
          "description": "The short name (e.g. table name) of the entity."
        },
        "databasePackage": {
          "description": "Package.",
          "$ref": "PackageEntity"
        },
        "synonym": {
          "$ref": "SynonymEntity",
          "description": "Synonym."
        },
        "parentEntity": {
          "type": "string",
          "description": "The full name of the parent entity (e.g. schema name)."
        },
        "sequence": {
          "description": "Sequence.",
          "$ref": "SequenceEntity"
        },
        "schema": {
          "$ref": "SchemaEntity",
          "description": "Schema."
        },
        "mappings": {
          "items": {
            "$ref": "EntityMapping"
          },
          "type": "array",
          "description": "Details about entity mappings. For source tree entities, this holds the draft entities which were generated by the mapping rules. For draft tree entities, this holds the source entities which were converted to form the draft entity. Destination entities will have no mapping details."
        },
        "database": {
          "description": "Database.",
          "$ref": "DatabaseInstanceEntity"
        },
        "databaseFunction": {
          "description": "Function.",
          "$ref": "FunctionEntity"
        },
        "tree": {
          "type": "string",
          "enumDescriptions": [
            "Tree type unspecified.",
            "Tree of entities loaded from a source database.",
            "Tree of entities converted from the source tree using the mapping rules.",
            "Tree of entities observed on the destination database."
          ],
          "enum": [
            "TREE_TYPE_UNSPECIFIED",
            "SOURCE",
            "DRAFT",
            "DESTINATION"
          ],
          "description": "The type of tree the entity belongs to."
        }
      }
    },
    "EntityDdl": {
      "id": "EntityDdl",
      "type": "object",
      "description": "A single DDL statement for a specific entity",
      "properties": {
        "ddl": {
          "type": "string",
          "description": "The actual ddl code."
        },
        "editedDdlKind": {
          "enumDescriptions": [
            "The kind of the DDL is unknown.",
            "DDL of the source entity",
            "Deterministic converted DDL",
            "Gemini AI converted DDL",
            "User edited DDL"
          ],
          "type": "string",
          "enum": [
            "DDL_KIND_UNSPECIFIED",
            "SOURCE",
            "DETERMINISTIC",
            "AI",
            "USER_EDIT"
          ],
          "description": "If ddl_kind is USER_EDIT, this holds the DDL kind of the original content - DETERMINISTIC or AI. Otherwise, this is DDL_KIND_UNSPECIFIED."
        },
        "ddlType": {
          "type": "string",
          "description": "Type of DDL (Create, Alter)."
        },
        "ddlKind": {
          "enum": [
            "DDL_KIND_UNSPECIFIED",
            "SOURCE",
            "DETERMINISTIC",
            "AI",
            "USER_EDIT"
          ],
          "description": "The DDL Kind selected for apply, or UNSPECIFIED if the entity wasn't converted yet.",
          "enumDescriptions": [
            "The kind of the DDL is unknown.",
            "DDL of the source entity",
            "Deterministic converted DDL",
            "Gemini AI converted DDL",
            "User edited DDL"
          ],
          "type": "string"
        },
        "issueId": {
          "description": "EntityIssues found for this ddl.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityType": {
          "type": "string",
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ],
          "description": "The entity type (if the DDL is for a sub entity).",
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ]
        },
        "entity": {
          "type": "string",
          "description": "The name of the database entity the ddl refers to."
        }
      }
    },
    "PrivateServiceConnectConnectivity": {
      "id": "PrivateServiceConnectConnectivity",
      "type": "object",
      "properties": {
        "serviceAttachment": {
          "description": "Required. A service attachment that exposes a database, and has the following format: projects/{project}/regions/{region}/serviceAttachments/{service_attachment_name}",
          "type": "string"
        }
      },
      "description": "[Private Service Connect connectivity](https://cloud.google.com/vpc/docs/private-service-connect#service-attachments)"
    },
    "InstanceNetworkConfig": {
      "id": "InstanceNetworkConfig",
      "description": "Metadata related to instance level network configuration.",
      "properties": {
        "authorizedExternalNetworks": {
          "description": "Optional. A list of external network authorized to access this instance.",
          "type": "array",
          "items": {
            "$ref": "AuthorizedNetwork"
          }
        },
        "enablePublicIp": {
          "type": "boolean",
          "description": "Optional. Enabling public ip for the instance."
        },
        "enableOutboundPublicIp": {
          "type": "boolean",
          "description": "Optional. Enabling an outbound public IP address to support a database server sending requests out into the internet."
        }
      },
      "type": "object"
    },
    "MigrationJobVerificationError": {
      "type": "object",
      "id": "MigrationJobVerificationError",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Output only. A formatted message with further details about the error and a CTA.",
          "readOnly": true
        },
        "errorDetailMessage": {
          "readOnly": true,
          "description": "Output only. A specific detailed error message, if supplied by the engine.",
          "type": "string"
        },
        "errorCode": {
          "enumDescriptions": [
            "An unknown error occurred",
            "We failed to connect to one of the connection profile.",
            "We failed to authenticate to one of the connection profile.",
            "One of the involved connection profiles has an invalid configuration.",
            "The versions of the source and the destination are incompatible.",
            "The types of the source and the destination are incompatible.",
            "No pglogical extension installed on databases, applicable for postgres.",
            "pglogical node already exists on databases, applicable for postgres.",
            "The value of parameter wal_level is not set to logical.",
            "The value of parameter shared_preload_libraries does not include pglogical.",
            "The value of parameter max_replication_slots is not sufficient.",
            "The value of parameter max_wal_senders is not sufficient.",
            "The value of parameter max_worker_processes is not sufficient.",
            "Extensions installed are either not supported or having unsupported versions.",
            "Unsupported migration type.",
            "Invalid RDS logical replication.",
            "The gtid_mode is not supported, applicable for MySQL.",
            "The table definition is not support due to missing primary key or replica identity.",
            "The definer is not supported.",
            "Migration is already running at the time of restart request.",
            "The source already has a replication setup.",
            "The source has tables with limited support. E.g. PostgreSQL tables without primary keys.",
            "The source uses an unsupported locale.",
            "The source uses an unsupported Foreign Data Wrapper configuration.",
            "There was an underlying RDBMS error.",
            "The source DB size in Bytes exceeds a certain threshold. The migration might require an increase of quota, or might not be supported.",
            "The destination DB contains existing databases that are conflicting with those in the source DB.",
            "Insufficient privilege to enable the parallelism configuration.",
            "The destination instance contains existing data or user defined entities (for example databases, tables, or functions). You can only migrate to empty instances. Clear your destination instance and retry the migration job.",
            "The migration job is configured to use max number of subscriptions to migrate data from the source to the destination."
          ],
          "readOnly": true,
          "description": "Output only. An instance of ErrorCode specifying the error that occurred.",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "CONNECTION_FAILURE",
            "AUTHENTICATION_FAILURE",
            "INVALID_CONNECTION_PROFILE_CONFIG",
            "VERSION_INCOMPATIBILITY",
            "CONNECTION_PROFILE_TYPES_INCOMPATIBILITY",
            "NO_PGLOGICAL_INSTALLED",
            "PGLOGICAL_NODE_ALREADY_EXISTS",
            "INVALID_WAL_LEVEL",
            "INVALID_SHARED_PRELOAD_LIBRARY",
            "INSUFFICIENT_MAX_REPLICATION_SLOTS",
            "INSUFFICIENT_MAX_WAL_SENDERS",
            "INSUFFICIENT_MAX_WORKER_PROCESSES",
            "UNSUPPORTED_EXTENSIONS",
            "UNSUPPORTED_MIGRATION_TYPE",
            "INVALID_RDS_LOGICAL_REPLICATION",
            "UNSUPPORTED_GTID_MODE",
            "UNSUPPORTED_TABLE_DEFINITION",
            "UNSUPPORTED_DEFINER",
            "CANT_RESTART_RUNNING_MIGRATION",
            "SOURCE_ALREADY_SETUP",
            "TABLES_WITH_LIMITED_SUPPORT",
            "UNSUPPORTED_DATABASE_LOCALE",
            "UNSUPPORTED_DATABASE_FDW_CONFIG",
            "ERROR_RDBMS",
            "SOURCE_SIZE_EXCEEDS_THRESHOLD",
            "EXISTING_CONFLICTING_DATABASES",
            "PARALLEL_IMPORT_INSUFFICIENT_PRIVILEGE",
            "EXISTING_DATA",
            "SOURCE_MAX_SUBSCRIPTIONS"
          ],
          "type": "string"
        }
      },
      "description": "Error message of a verification Migration job."
    },
    "EntityMappingLogEntry": {
      "id": "EntityMappingLogEntry",
      "description": "A single record of a rule which was used for a mapping.",
      "properties": {
        "ruleId": {
          "description": "Which rule caused this log entry.",
          "type": "string"
        },
        "ruleRevisionId": {
          "description": "Rule revision ID.",
          "type": "string"
        },
        "mappingComment": {
          "type": "string",
          "description": "Comment."
        }
      },
      "type": "object"
    },
    "ForwardSshTunnelConnectivity": {
      "type": "object",
      "id": "ForwardSshTunnelConnectivity",
      "description": "Forward SSH Tunnel connectivity.",
      "properties": {
        "hostname": {
          "description": "Required. Hostname for the SSH tunnel.",
          "type": "string"
        },
        "privateKey": {
          "description": "Input only. SSH private key.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the SSH tunnel."
        },
        "port": {
          "description": "Port for the SSH tunnel, default value is 22.",
          "type": "integer",
          "format": "int32"
        },
        "password": {
          "description": "Input only. SSH password.",
          "type": "string"
        }
      }
    },
    "SeedConversionWorkspaceRequest": {
      "properties": {
        "autoCommit": {
          "type": "boolean",
          "description": "Should the conversion workspace be committed automatically after the seed operation."
        },
        "sourceConnectionProfile": {
          "type": "string",
          "description": "Optional. Fully qualified (Uri) name of the source connection profile."
        },
        "destinationConnectionProfile": {
          "description": "Optional. Fully qualified (Uri) name of the destination connection profile.",
          "type": "string"
        }
      },
      "description": "Request message for 'SeedConversionWorkspace' request.",
      "type": "object",
      "id": "SeedConversionWorkspaceRequest"
    },
    "ValueListFilter": {
      "id": "ValueListFilter",
      "description": "A list of values to filter by in ConditionalColumnSetValue",
      "properties": {
        "ignoreCase": {
          "description": "Required. Whether to ignore case when filtering by values. Defaults to false",
          "type": "boolean"
        },
        "valuePresentList": {
          "description": "Required. Indicates whether the filter matches rows with values that are present in the list or those with values not present in it.",
          "enum": [
            "VALUE_PRESENT_IN_LIST_UNSPECIFIED",
            "VALUE_PRESENT_IN_LIST_IF_VALUE_LIST",
            "VALUE_PRESENT_IN_LIST_IF_VALUE_NOT_LIST"
          ],
          "enumDescriptions": [
            "Value present in list unspecified",
            "If the source value is in the supplied list at value_list",
            "If the source value is not in the supplied list at value_list"
          ],
          "type": "string"
        },
        "values": {
          "type": "array",
          "description": "Required. The list to be used to filter by",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ValueTransformation": {
      "id": "ValueTransformation",
      "properties": {
        "assignSpecificValue": {
          "$ref": "AssignSpecificValue",
          "description": "Optional. Set to a specific value (value is converted to fit the target data type)"
        },
        "assignMaxValue": {
          "description": "Optional. Set to max_value - if integer or numeric, will use int.maxvalue, etc",
          "$ref": "Empty"
        },
        "assignMinValue": {
          "$ref": "Empty",
          "description": "Optional. Set to min_value - if integer or numeric, will use int.minvalue, etc"
        },
        "doubleComparison": {
          "$ref": "DoubleComparisonFilter",
          "description": "Optional. Filter on relation between source value and compare value of type double."
        },
        "assignNull": {
          "description": "Optional. Set to null",
          "$ref": "Empty"
        },
        "applyHash": {
          "description": "Optional. Applies a hash function on the data",
          "$ref": "ApplyHash"
        },
        "roundScale": {
          "description": "Optional. Allows the data to change scale",
          "$ref": "RoundToScale"
        },
        "isNull": {
          "$ref": "Empty",
          "description": "Optional. Value is null"
        },
        "intComparison": {
          "description": "Optional. Filter on relation between source value and compare value of type integer.",
          "$ref": "IntComparisonFilter"
        },
        "valueList": {
          "$ref": "ValueListFilter",
          "description": "Optional. Value is found in the specified list."
        }
      },
      "type": "object",
      "description": "Description of data transformation during migration as part of the ConditionalColumnSetValue."
    },
    "CloudSqlSettings": {
      "description": "Settings for creating a Cloud SQL database instance.",
      "id": "CloudSqlSettings",
      "properties": {
        "activationPolicy": {
          "enumDescriptions": [
            "unspecified policy.",
            "The instance is always up and running.",
            "The instance should never spin up."
          ],
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER"
          ],
          "type": "string",
          "description": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is 'RUNNABLE'. Valid values: 'ALWAYS': The instance is on, and remains so even in the absence of connection requests. `NEVER`: The instance is off; it is not activated, even if a connection request arrives."
        },
        "storageAutoResizeLimit": {
          "format": "int64",
          "type": "string",
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit."
        },
        "dataDiskSizeGb": {
          "description": "The storage capacity available to the database, in GB. The minimum (and default) size is 10GB.",
          "format": "int64",
          "type": "string"
        },
        "sourceId": {
          "type": "string",
          "description": "The Database Migration Service source connection profile ID, in the format: `projects/my_project_name/locations/us-central1/connectionProfiles/connection_profile_ID`"
        },
        "dataCacheConfig": {
          "$ref": "DataCacheConfig",
          "description": "Optional. Data cache is an optional feature available for Cloud SQL for MySQL Enterprise Plus edition only. For more information on data cache, see [Data cache overview](https://cloud.google.com/sql/help/mysql-data-cache) in Cloud SQL documentation."
        },
        "edition": {
          "enumDescriptions": [
            "The instance did not specify the edition.",
            "The instance is an enterprise edition.",
            "The instance is an enterprise plus edition."
          ],
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE",
            "ENTERPRISE_PLUS"
          ],
          "type": "string",
          "description": "Optional. The edition of the given Cloud SQL instance."
        },
        "dataDiskType": {
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "HYPERDISK_BALANCED"
          ],
          "description": "The type of storage: `PD_SSD` (default) or `PD_HDD` or `HYPERDISK_BALANCED`.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "SSD disk.",
            "HDD disk.",
            "A Hyperdisk Balanced data disk."
          ]
        },
        "dataDiskProvisionedThroughput": {
          "description": "Optional. Provisioned throughput measured in MiB per second for the data disk. This field is only used for hyperdisk-balanced disk types.",
          "format": "int64",
          "type": "string"
        },
        "userLabels": {
          "type": "object",
          "description": "The resource labels for a Cloud SQL instance to use to annotate any related underlying resources such as Compute Engine VMs. An object containing a list of \"key\": \"value\" pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"18kg\", \"count\": \"3\" }`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tier": {
          "description": "The tier (or machine type) for this instance, for example: `db-n1-standard-1` (MySQL instances) or `db-custom-1-3840` (PostgreSQL instances). For more information, see [Cloud SQL Instance Settings](https://cloud.google.com/sql/docs/mysql/instance-settings).",
          "type": "string"
        },
        "rootPassword": {
          "type": "string",
          "description": "Input only. Initial root password."
        },
        "dataDiskProvisionedIops": {
          "type": "string",
          "description": "Optional. Provisioned number of I/O operations per second for the data disk. This field is only used for hyperdisk-balanced disk types.",
          "format": "int64"
        },
        "autoStorageIncrease": {
          "description": "[default: ON] If you enable this setting, Cloud SQL checks your available storage every 30 seconds. If the available storage falls below a threshold size, Cloud SQL automatically adds additional storage capacity. If the available storage repeatedly falls below the threshold size, Cloud SQL continues to add storage until it reaches the maximum of 30 TB.",
          "type": "boolean"
        },
        "zone": {
          "type": "string",
          "description": "The Google Cloud Platform zone where your Cloud SQL database instance is located."
        },
        "cmekKeyName": {
          "type": "string",
          "description": "The KMS key name used for the csql instance."
        },
        "ipConfig": {
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled.",
          "$ref": "SqlIpConfig"
        },
        "databaseFlags": {
          "type": "object",
          "description": "The database flags passed to the Cloud SQL instance at startup. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "secondaryZone": {
          "description": "Optional. The Google Cloud Platform zone where the failover Cloud SQL database instance is located. Used when the Cloud SQL database availability type is REGIONAL (i.e. multiple zones / highly available).",
          "type": "string"
        },
        "databaseVersion": {
          "description": "The database engine type and version. Deprecated. Use database_version_name instead.",
          "type": "string",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_4",
            "POSTGRES_9_6",
            "POSTGRES_11",
            "POSTGRES_10",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16"
          ],
          "enumDescriptions": [
            "Unspecified version.",
            "MySQL 5.6.",
            "MySQL 5.7.",
            "MySQL 8.0.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "MySQL 8.4.",
            "PostgreSQL 9.6.",
            "PostgreSQL 11.",
            "PostgreSQL 10.",
            "PostgreSQL 12.",
            "PostgreSQL 13.",
            "PostgreSQL 14.",
            "PostgreSQL 15.",
            "PostgreSQL 16."
          ]
        },
        "collation": {
          "description": "The Cloud SQL default instance level collation.",
          "type": "string"
        },
        "availabilityType": {
          "description": "Optional. Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data availability. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available).",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal availablility instance.",
            "Regional availability instance."
          ],
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ]
        },
        "databaseVersionName": {
          "description": "Optional. The database engine type and version name.",
          "type": "string"
        },
        "rootPasswordSet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates If this connection profile root password is stored."
        }
      },
      "type": "object"
    },
    "PostgresDestinationConfig": {
      "description": "Configuration for Postgres as a destination in a migration.",
      "id": "PostgresDestinationConfig",
      "properties": {
        "transactionTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Timeout for data migration transactions."
        },
        "maxConcurrentConnections": {
          "description": "Optional. Maximum number of connections Database Migration Service will open to the destination for data migration.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "PostgresSourceConfig": {
      "id": "PostgresSourceConfig",
      "type": "object",
      "description": "Configuration for Postgres as a source in a migration.",
      "properties": {
        "skipFullDump": {
          "type": "boolean",
          "description": "Optional. Whether to skip full dump or not."
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "type": "object"
    },
    "SingleEntityRename": {
      "type": "object",
      "properties": {
        "newName": {
          "description": "Required. The new name of the destination entity",
          "type": "string"
        }
      },
      "description": "Options to configure rule type SingleEntityRename. The rule is used to rename an entity. The rule filter field can refer to only one entity. The rule scope can be one of: Database, Schema, Table, Column, Constraint, Index, View, Function, Stored Procedure, Materialized View, Sequence, UDT, Synonym",
      "id": "SingleEntityRename"
    },
    "VmCreationConfig": {
      "properties": {
        "vmZone": {
          "type": "string",
          "description": "The Google Cloud Platform zone to create the VM in."
        },
        "vmMachineType": {
          "type": "string",
          "description": "Required. VM instance machine type to create."
        },
        "subnet": {
          "description": "The subnet name the vm needs to be created in.",
          "type": "string"
        }
      },
      "description": "VM creation configuration message",
      "type": "object",
      "id": "VmCreationConfig"
    },
    "ListConnectionProfilesResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "connectionProfiles": {
          "type": "array",
          "items": {
            "$ref": "ConnectionProfile"
          },
          "description": "The response list of connection profiles."
        },
        "nextPageToken": {
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListConnectionProfilesResponse",
      "description": "Response message for 'ListConnectionProfiles' request.",
      "type": "object"
    },
    "ImportRulesJobDetails": {
      "properties": {
        "fileFormat": {
          "description": "Output only. The requested file format.",
          "enumDescriptions": [
            "Unspecified rules format.",
            "HarbourBridge session file.",
            "Ora2Pg configuration file."
          ],
          "enum": [
            "IMPORT_RULES_FILE_FORMAT_UNSPECIFIED",
            "IMPORT_RULES_FILE_FORMAT_HARBOUR_BRIDGE_SESSION_FILE",
            "IMPORT_RULES_FILE_FORMAT_ORATOPG_CONFIG_FILE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "files": {
          "readOnly": true,
          "description": "Output only. File names used for the import rules job.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ImportRulesJobDetails",
      "description": "Details regarding an Import Rules background job."
    },
    "HeterogeneousMetadata": {
      "description": "Metadata for heterogeneous migration jobs objects.",
      "type": "object",
      "id": "HeterogeneousMetadata",
      "properties": {
        "unsupportedEventsCount": {
          "description": "The number of unsupported events.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "FilterTableColumns": {
      "properties": {
        "includeColumns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of columns to be included for a particular table."
        },
        "excludeColumns": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of columns to be excluded for a particular table.",
          "type": "array"
        }
      },
      "id": "FilterTableColumns",
      "description": "Options to configure rule type FilterTableColumns. The rule is used to filter the list of columns to include or exclude from a table. The rule filter field can refer to one entity. The rule scope can be: Table Only one of the two lists can be specified for the rule.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "VmSelectionConfig": {
      "id": "VmSelectionConfig",
      "properties": {
        "vmZone": {
          "type": "string",
          "description": "Required. The Google Cloud Platform zone the VM is located."
        }
      },
      "description": "VM selection configuration message",
      "type": "object"
    },
    "BadRequest": {
      "description": "Describes violations in a client request. This error type focuses on the syntactic aspects of the request.",
      "properties": {
        "fieldViolations": {
          "description": "Describes all violations in a client request.",
          "type": "array",
          "items": {
            "$ref": "FieldViolation"
          }
        }
      },
      "type": "object",
      "id": "BadRequest"
    },
    "Position": {
      "type": "object",
      "description": "Issue position.",
      "id": "Position",
      "properties": {
        "length": {
          "description": "Issue length",
          "type": "integer",
          "format": "int32"
        },
        "line": {
          "description": "Issue line number",
          "format": "int32",
          "type": "integer"
        },
        "column": {
          "description": "Issue column number",
          "type": "integer",
          "format": "int32"
        },
        "offset": {
          "description": "Issue offset",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DatabaseEngineInfo": {
      "description": "The type and version of a source or destination database.",
      "id": "DatabaseEngineInfo",
      "properties": {
        "engine": {
          "enum": [
            "DATABASE_ENGINE_UNSPECIFIED",
            "MYSQL",
            "POSTGRESQL",
            "SQLSERVER",
            "ORACLE"
          ],
          "enumDescriptions": [
            "The source database engine of the migration job is unknown.",
            "The source engine is MySQL.",
            "The source engine is PostgreSQL.",
            "The source engine is SQL Server.",
            "The source engine is Oracle."
          ],
          "description": "Required. Engine type.",
          "type": "string"
        },
        "version": {
          "description": "Required. Engine version, for example \"12.c.1\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SqlIpConfig": {
      "description": "IP Management configuration.",
      "type": "object",
      "properties": {
        "privateNetwork": {
          "description": "The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `projects/myProject/global/networks/default`. This setting can be updated, but it cannot be removed after it is set.",
          "type": "string"
        },
        "allocatedIpRange": {
          "type": "string",
          "description": "Optional. The name of the allocated IP address range for the private IP Cloud SQL instance. This name refers to an already allocated IP range address. If set, the instance IP address will be created in the allocated range. Note that this IP address range can't be modified after the instance is created. If you change the VPC when configuring connectivity settings for the migration job, this field is not relevant."
        },
        "authorizedNetworks": {
          "description": "The list of external networks that are allowed to connect to the instance using the IP. See https://en.wikipedia.org/wiki/CIDR_notation#CIDR_notation, also known as 'slash' notation (e.g. `192.168.100.0/24`).",
          "items": {
            "$ref": "SqlAclEntry"
          },
          "type": "array"
        },
        "enableIpv4": {
          "type": "boolean",
          "description": "Whether the instance should be assigned an IPv4 address or not."
        },
        "requireSsl": {
          "description": "Whether SSL connections over IP should be enforced or not.",
          "type": "boolean"
        }
      },
      "id": "SqlIpConfig"
    },
    "TriggerEntity": {
      "description": "Trigger is not used as an independent entity, it is retrieved as part of a Table entity.",
      "id": "TriggerEntity",
      "properties": {
        "triggeringEvents": {
          "description": "The DML, DDL, or database events that fire the trigger, for example INSERT, UPDATE.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "triggerType": {
          "type": "string",
          "description": "Indicates when the trigger fires, for example BEFORE STATEMENT, AFTER EACH ROW."
        },
        "sqlCode": {
          "description": "The SQL code which creates the trigger.",
          "type": "string"
        },
        "name": {
          "description": "The name of the trigger.",
          "type": "string"
        },
        "customFeatures": {
          "type": "object",
          "description": "Custom engine specific features.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "LogFileDirectories": {
      "type": "object",
      "description": "Configuration to specify the Oracle directories to access the log files.",
      "id": "LogFileDirectories",
      "properties": {
        "archivedLogDirectory": {
          "type": "string",
          "description": "Required. Oracle directory for archived logs."
        },
        "onlineLogDirectory": {
          "type": "string",
          "description": "Required. Oracle directory for online logs."
        }
      }
    },
    "VpcPeeringConnectivity": {
      "description": "The details of the VPC where the source database is located in Google Cloud. We will use this information to set up the VPC peering connection between Cloud SQL and this VPC.",
      "type": "object",
      "properties": {
        "vpc": {
          "description": "The name of the VPC network to peer with the Cloud SQL private network.",
          "type": "string"
        }
      },
      "id": "VpcPeeringConnectivity"
    },
    "SqlServerConnectionProfile": {
      "description": "Specifies connection parameters required specifically for SQL Server databases.",
      "id": "SqlServerConnectionProfile",
      "properties": {
        "ssl": {
          "description": "SSL configuration for the destination to connect to the source database.",
          "$ref": "SslConfig"
        },
        "privateServiceConnectConnectivity": {
          "$ref": "PrivateServiceConnectConnectivity",
          "description": "Private Service Connect connectivity."
        },
        "passwordSet": {
          "readOnly": true,
          "description": "Output only. Indicates whether a new password is included in the request.",
          "type": "boolean"
        },
        "privateConnectivity": {
          "description": "Private connectivity.",
          "$ref": "PrivateConnectivity"
        },
        "port": {
          "format": "int32",
          "description": "Required. The network port of the source SQL Server database.",
          "type": "integer"
        },
        "cloudSqlProjectId": {
          "type": "string",
          "description": "Optional. The project id of the Cloud SQL instance. If not provided, the project id of the connection profile will be used."
        },
        "database": {
          "type": "string",
          "description": "Required. The name of the specific database within the host."
        },
        "forwardSshConnectivity": {
          "description": "Forward SSH tunnel connectivity.",
          "$ref": "ForwardSshTunnelConnectivity"
        },
        "password": {
          "description": "Required. Input only. The password for the user that Database Migration Service will be using to connect to the database. This field is not returned on request, and the value is encrypted when stored in Database Migration Service.",
          "type": "string"
        },
        "staticIpConnectivity": {
          "$ref": "StaticIpConnectivity",
          "description": "Static IP connectivity data (default, no additional details needed)."
        },
        "cloudSqlId": {
          "type": "string",
          "description": "If the source is a Cloud SQL database, use this field to provide the Cloud SQL instance ID of the source."
        },
        "backups": {
          "description": "The backup details in Cloud Storage for homogeneous migration to Cloud SQL for SQL Server.",
          "$ref": "SqlServerBackups"
        },
        "username": {
          "description": "Required. The username that Database Migration Service will use to connect to the database. The value is encrypted when stored in Database Migration Service.",
          "type": "string"
        },
        "host": {
          "description": "Required. The IP or hostname of the source SQL Server database.",
          "type": "string"
        },
        "dbmPort": {
          "description": "Optional. The Database Mirroring (DBM) port of the source SQL Server instance.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "SqlServerToPostgresConfig": {
      "type": "object",
      "id": "SqlServerToPostgresConfig",
      "properties": {
        "postgresDestinationConfig": {
          "description": "Optional. Configuration for Postgres destination.",
          "$ref": "PostgresDestinationConfig"
        },
        "sqlserverSourceConfig": {
          "$ref": "SqlServerSourceConfig",
          "description": "Optional. Configuration for SQL Server source."
        }
      },
      "description": "Configuration for heterogeneous **SQL Server to Cloud SQL for PostgreSQL** migrations."
    },
    "MigrationJobObjectsConfig": {
      "id": "MigrationJobObjectsConfig",
      "type": "object",
      "description": "Configuration for the objects to be migrated.",
      "properties": {
        "sourceObjectsConfig": {
          "description": "The list of the migration job objects.",
          "$ref": "SourceObjectsConfig"
        }
      }
    },
    "ResourceInfo": {
      "description": "Describes the resource that is being accessed.",
      "properties": {
        "owner": {
          "description": "The owner of the resource (optional). For example, \"user:\" or \"project:\".",
          "type": "string"
        },
        "resourceType": {
          "description": "A name for the type of resource being accessed, e.g. \"sql table\", \"cloud storage bucket\", \"file\", \"Google calendar\"; or the type URL of the resource: e.g. \"type.googleapis.com/google.pubsub.v1.Topic\".",
          "type": "string"
        },
        "resourceName": {
          "description": "The name of the resource being accessed. For example, a shared calendar name: \"example.com_4fghdhgsrgh@group.calendar.google.com\", if the current error is google.rpc.Code.PERMISSION_DENIED.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Describes what error is encountered when accessing this resource. For example, updating a cloud project may require the `writer` permission on the developer console project."
        }
      },
      "id": "ResourceInfo",
      "type": "object"
    },
    "DoubleComparisonFilter": {
      "properties": {
        "valueComparison": {
          "enum": [
            "VALUE_COMPARISON_UNSPECIFIED",
            "VALUE_COMPARISON_IF_VALUE_SMALLER_THAN",
            "VALUE_COMPARISON_IF_VALUE_SMALLER_EQUAL_THAN",
            "VALUE_COMPARISON_IF_VALUE_LARGER_THAN",
            "VALUE_COMPARISON_IF_VALUE_LARGER_EQUAL_THAN"
          ],
          "enumDescriptions": [
            "Value comparison unspecified.",
            "Value is smaller than the Compare value.",
            "Value is smaller or equal than the Compare value.",
            "Value is larger than the Compare value.",
            "Value is larger or equal than the Compare value."
          ],
          "type": "string",
          "description": "Required. Relation between source value and compare value"
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "Required. Double compare value to be used"
        }
      },
      "id": "DoubleComparisonFilter",
      "type": "object",
      "description": "Filter based on relation between source value and compare value of type double in ConditionalColumnSetValue"
    },
    "GenerateTcpProxyScriptRequest": {
      "type": "object",
      "id": "GenerateTcpProxyScriptRequest",
      "description": "Request message for 'GenerateTcpProxyScript' request.",
      "properties": {
        "vmName": {
          "type": "string",
          "description": "Required. The name of the Compute instance that will host the proxy."
        },
        "vmZone": {
          "description": "Optional. The Google Cloud Platform zone to create the VM in. The fully qualified name of the zone must be specified, including the region name, for example \"us-central1-b\". If not specified, uses the \"-b\" zone of the destination Connection Profile's region.",
          "type": "string"
        },
        "vmMachineType": {
          "description": "Required. The type of the Compute instance that will host the proxy.",
          "type": "string"
        },
        "vmSubnet": {
          "description": "Required. The name of the subnet the Compute instance will use for private connectivity. Must be supplied in the form of projects/{project}/regions/{region}/subnetworks/{subnetwork}. Note: the region for the subnet must match the Compute instance region.",
          "type": "string"
        }
      }
    },
    "QuotaFailureViolation": {
      "id": "QuotaFailureViolation",
      "properties": {
        "description": {
          "description": "A description of how the quota check failed. Clients can use this description to find more about the quota configuration in the service's public documentation, or find the relevant quota limit to adjust through developer console. For example: \"Service disabled\" or \"Daily Limit for read operations exceeded\".",
          "type": "string"
        },
        "futureQuotaValue": {
          "type": "string",
          "format": "int64",
          "description": "The new quota value being rolled out at the time of the violation. At the completion of the rollout, this value will be enforced in place of quota_value. If no rollout is in progress at the time of the violation, this field is not set. For example, if at the time of the violation a rollout is in progress changing the number of CPUs quota from 10 to 20, 20 would be the value of this field."
        },
        "quotaId": {
          "description": "The id of the violated quota. Also know as \"limit name\", this is the unique identifier of a quota in the context of an API service. For example, \"CPUS-PER-VM-FAMILY-per-project-region\".",
          "type": "string"
        },
        "apiService": {
          "description": "The API Service from which the `QuotaFailure.Violation` originates. In some cases, Quota issues originate from an API Service other than the one that was called. In other words, a dependency of the called API Service could be the cause of the `QuotaFailure`, and this field would have the dependency API service name. For example, if the called API is Kubernetes Engine API (container.googleapis.com), and a quota violation occurs in the Kubernetes Engine API itself, this field would be \"container.googleapis.com\". On the other hand, if the quota violation occurs when the Kubernetes Engine API creates VMs in the Compute Engine API (compute.googleapis.com), this field would be \"compute.googleapis.com\".",
          "type": "string"
        },
        "quotaValue": {
          "type": "string",
          "description": "The enforced quota value at the time of the `QuotaFailure`. For example, if the enforced quota value at the time of the `QuotaFailure` on the number of CPUs is \"10\", then the value of this field would reflect this quantity.",
          "format": "int64"
        },
        "quotaDimensions": {
          "type": "object",
          "description": "The dimensions of the violated quota. Every non-global quota is enforced on a set of dimensions. While quota metric defines what to count, the dimensions specify for what aspects the counter should be increased. For example, the quota \"CPUs per region per VM family\" enforces a limit on the metric \"compute.googleapis.com/cpus_per_vm_family\" on dimensions \"region\" and \"vm_family\". And if the violation occurred in region \"us-central1\" and for VM family \"n1\", the quota_dimensions would be, { \"region\": \"us-central1\", \"vm_family\": \"n1\", } When a quota is enforced globally, the quota_dimensions would always be empty.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "quotaMetric": {
          "type": "string",
          "description": "The metric of the violated quota. A quota metric is a named counter to measure usage, such as API requests or CPUs. When an activity occurs in a service, such as Virtual Machine allocation, one or more quota metrics may be affected. For example, \"compute.googleapis.com/cpus_per_vm_family\", \"storage.googleapis.com/internet_egress_bandwidth\"."
        },
        "subject": {
          "description": "The subject on which the quota check failed. For example, \"clientip:\" or \"project:\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A message type used to describe a single quota violation. For example, a daily quota or a custom quota that was exceeded."
    },
    "PostgresToSqlServerConfig": {
      "description": "Configuration for heterogeneous failback migrations from **PostgreSQL to SQL Server**.",
      "properties": {
        "postgresSourceConfig": {
          "description": "Optional. Configuration for PostgreSQL source.",
          "$ref": "PostgresSourceConfig"
        },
        "sqlserverDestinationConfig": {
          "$ref": "SqlServerDestinationConfig",
          "description": "Optional. Configuration for SQL Server destination."
        }
      },
      "id": "PostgresToSqlServerConfig",
      "type": "object"
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "DescribeConversionWorkspaceRevisionsResponse": {
      "id": "DescribeConversionWorkspaceRevisionsResponse",
      "properties": {
        "revisions": {
          "description": "The list of conversion workspace revisions.",
          "items": {
            "$ref": "ConversionWorkspace"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for 'DescribeConversionWorkspaceRevisions' request."
    },
    "RestartMigrationJobRequest": {
      "properties": {
        "objectsFilter": {
          "$ref": "MigrationJobObjectsConfig",
          "description": "Optional. The object filter to apply to the migration job."
        },
        "skipValidation": {
          "description": "Optional. Restart the migration job without running prior configuration verification. Defaults to `false`.",
          "type": "boolean"
        },
        "restartFailedObjects": {
          "type": "boolean",
          "description": "Optional. If true, only failed objects will be restarted."
        }
      },
      "description": "Request message for 'RestartMigrationJob' request.",
      "id": "RestartMigrationJobRequest",
      "type": "object"
    },
    "ApplyConversionWorkspaceRequest": {
      "description": "Request message for 'ApplyConversionWorkspace' request.",
      "id": "ApplyConversionWorkspaceRequest",
      "properties": {
        "filter": {
          "description": "Optional. Filter which entities to apply. Leaving this field empty will apply all of the entities. Supports Google AIP 160 based filtering.",
          "type": "string"
        },
        "autoCommit": {
          "type": "boolean",
          "description": "Optional. Specifies whether the conversion workspace is to be committed automatically after the apply."
        },
        "connectionProfile": {
          "type": "string",
          "description": "Optional. Fully qualified (Uri) name of the destination connection profile."
        },
        "dryRun": {
          "description": "Optional. Only validates the apply process, but doesn't change the destination database. Only works for PostgreSQL destination connection profile.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "DumpFlag": {
      "id": "DumpFlag",
      "description": "Dump flag definition.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the flag"
        },
        "value": {
          "type": "string",
          "description": "The value of the flag."
        }
      }
    },
    "SqlServerSourceConfig": {
      "type": "object",
      "id": "SqlServerSourceConfig",
      "properties": {
        "maxConcurrentCdcConnections": {
          "description": "Optional. Maximum number of connections Database Migration Service will open to the source for CDC phase.",
          "type": "integer",
          "format": "int32"
        },
        "skipFullDump": {
          "description": "Optional. Whether to skip full dump or not.",
          "type": "boolean"
        },
        "maxConcurrentFullDumpConnections": {
          "description": "Optional. Maximum number of connections Database Migration Service will open to the source for full dump phase.",
          "type": "integer",
          "format": "int32"
        },
        "cdcStartPosition": {
          "description": "Optional. The log sequence number (LSN) to start CDC data migration from.",
          "type": "string"
        }
      },
      "description": "Configuration for SQL Server as a source in a migration."
    },
    "IntComparisonFilter": {
      "description": "Filter based on relation between source value and compare value of type integer in ConditionalColumnSetValue",
      "properties": {
        "value": {
          "format": "int64",
          "description": "Required. Integer compare value to be used",
          "type": "string"
        },
        "valueComparison": {
          "enum": [
            "VALUE_COMPARISON_UNSPECIFIED",
            "VALUE_COMPARISON_IF_VALUE_SMALLER_THAN",
            "VALUE_COMPARISON_IF_VALUE_SMALLER_EQUAL_THAN",
            "VALUE_COMPARISON_IF_VALUE_LARGER_THAN",
            "VALUE_COMPARISON_IF_VALUE_LARGER_EQUAL_THAN"
          ],
          "type": "string",
          "description": "Required. Relation between source value and compare value",
          "enumDescriptions": [
            "Value comparison unspecified.",
            "Value is smaller than the Compare value.",
            "Value is smaller or equal than the Compare value.",
            "Value is larger than the Compare value.",
            "Value is larger or equal than the Compare value."
          ]
        }
      },
      "id": "IntComparisonFilter",
      "type": "object"
    },
    "PromoteMigrationJobRequest": {
      "description": "Request message for 'PromoteMigrationJob' request.",
      "properties": {
        "objectsFilter": {
          "$ref": "MigrationJobObjectsConfig",
          "description": "Optional. The object filter to apply to the migration job."
        }
      },
      "type": "object",
      "id": "PromoteMigrationJobRequest"
    },
    "MigrationJobObject": {
      "id": "MigrationJobObject",
      "description": "A specific Migration Job Object (e.g. a specifc DB Table)",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "RUNNING",
            "STOPPING",
            "STOPPED",
            "RESTARTING",
            "FAILED",
            "REMOVING",
            "NOT_SELECTED",
            "COMPLETED"
          ],
          "enumDescriptions": [
            "The state of the migration job object is unknown.",
            "The migration job object is not started.",
            "The migration job object is running.",
            "The migration job object is being stopped.",
            "The migration job object is currently stopped.",
            "The migration job object is restarting.",
            "The migration job object failed.",
            "The migration job object is deleting.",
            "The migration job object is not selected for migration.",
            "The migration job object is completed."
          ],
          "type": "string",
          "description": "The state of the migration job object."
        },
        "heterogeneousMetadata": {
          "$ref": "HeterogeneousMetadata",
          "description": "Output only. Metadata for heterogeneous migration jobs objects.",
          "readOnly": true
        },
        "phase": {
          "description": "Output only. The phase of the migration job object.",
          "enumDescriptions": [
            "The phase of the migration job is unknown.",
            "The migration job object is in the full dump phase.",
            "The migration job object is in CDC phase.",
            "The migration job object is ready to be promoted.",
            "The migration job object is in running the promote phase.",
            "The migration job is promoted.",
            "The migration job object is in the differential backup phase.",
            "The migration job object is creating a fully managed backup of the source.",
            "The migration job object is restoring a fully managed backup to the destination."
          ],
          "enum": [
            "PHASE_UNSPECIFIED",
            "FULL_DUMP",
            "CDC",
            "READY_FOR_PROMOTE",
            "PROMOTE_IN_PROGRESS",
            "PROMOTED",
            "DIFF_BACKUP",
            "CREATING_BACKUP",
            "RESTORING_BACKUP"
          ],
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last update time of the migration job object.",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. The error details in case of failure."
        },
        "name": {
          "description": "The object's name.",
          "type": "string"
        },
        "sourceObject": {
          "description": "The object identifier in the data source.",
          "$ref": "SourceObjectIdentifier"
        },
        "createTime": {
          "description": "Output only. The creation time of the migration job object.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "RoundToScale": {
      "id": "RoundToScale",
      "description": "This allows the data to change scale, for example if the source is 2 digits after the decimal point, specify round to scale value = 2. If for example the value needs to be converted to an integer, use round to scale value = 0.",
      "properties": {
        "scale": {
          "description": "Required. Scale value to be used",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ListConversionWorkspacesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "conversionWorkspaces": {
          "description": "The list of conversion workspace objects.",
          "type": "array",
          "items": {
            "$ref": "ConversionWorkspace"
          }
        }
      },
      "description": "Response message for 'ListConversionWorkspaces' request.",
      "id": "ListConversionWorkspacesResponse"
    },
    "MappingRule": {
      "description": "Definition of a transformation that is to be applied to a group of entities in the source schema. Several such transformations can be applied to an entity sequentially to define the corresponding entity in the target schema.",
      "type": "object",
      "id": "MappingRule",
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "Output only. The revision ID of the mapping rule. A new revision is committed whenever the mapping rule is changed in any way. The format is an 8-character hexadecimal string.",
          "readOnly": true
        },
        "conditionalColumnSetValue": {
          "description": "Optional. Rule to specify how the data contained in a column should be transformed (such as trimmed, rounded, etc) provided that the data meets certain criteria.",
          "$ref": "ConditionalColumnSetValue"
        },
        "singleColumnChange": {
          "description": "Optional. Rule to specify how a single column is converted.",
          "$ref": "SingleColumnChange"
        },
        "filter": {
          "$ref": "MappingRuleFilter",
          "description": "Required. The rule filter"
        },
        "revisionCreateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp that the revision was created.",
          "type": "string",
          "readOnly": true
        },
        "sourceSqlChange": {
          "$ref": "SourceSqlChange",
          "description": "Optional. Rule to change the sql code for an entity, for example, function, procedure."
        },
        "name": {
          "description": "Full name of the mapping rule resource, in the form of: projects/{project}/locations/{location}/conversionWorkspaces/{set}/mappingRule/{rule}.",
          "type": "string"
        },
        "ruleScope": {
          "enumDescriptions": [
            "Unspecified database entity type.",
            "Schema.",
            "Table.",
            "Column.",
            "Constraint.",
            "Index.",
            "Trigger.",
            "View.",
            "Sequence.",
            "Stored Procedure.",
            "Function.",
            "Synonym.",
            "Package.",
            "UDT.",
            "Materialized View.",
            "Database."
          ],
          "enum": [
            "DATABASE_ENTITY_TYPE_UNSPECIFIED",
            "DATABASE_ENTITY_TYPE_SCHEMA",
            "DATABASE_ENTITY_TYPE_TABLE",
            "DATABASE_ENTITY_TYPE_COLUMN",
            "DATABASE_ENTITY_TYPE_CONSTRAINT",
            "DATABASE_ENTITY_TYPE_INDEX",
            "DATABASE_ENTITY_TYPE_TRIGGER",
            "DATABASE_ENTITY_TYPE_VIEW",
            "DATABASE_ENTITY_TYPE_SEQUENCE",
            "DATABASE_ENTITY_TYPE_STORED_PROCEDURE",
            "DATABASE_ENTITY_TYPE_FUNCTION",
            "DATABASE_ENTITY_TYPE_SYNONYM",
            "DATABASE_ENTITY_TYPE_DATABASE_PACKAGE",
            "DATABASE_ENTITY_TYPE_UDT",
            "DATABASE_ENTITY_TYPE_MATERIALIZED_VIEW",
            "DATABASE_ENTITY_TYPE_DATABASE"
          ],
          "description": "Required. The rule scope",
          "type": "string"
        },
        "ruleOrder": {
          "format": "int64",
          "description": "Required. The order in which the rule is applied. Lower order rules are applied before higher value rules so they may end up being overridden.",
          "type": "string"
        },
        "setTablePrimaryKey": {
          "deprecated": true,
          "description": "Optional. Deprecated: This rule is no longer supported.",
          "$ref": "SetTablePrimaryKey"
        },
        "filterTableColumns": {
[...]
