{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "batchPath": "batch",
  "ownerName": "Google",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "servicePath": "",
  "description": "The Google Cloud Deployment Manager v2 API provides services for configuring, deploying, and viewing Google Cloud services and APIs via templates which specify deployments of Cloud resources.",
  "baseUrl": "https://deploymentmanager.googleapis.com/",
  "discoveryVersion": "v1",
  "id": "deploymentmanager:v2",
  "mtlsRootUrl": "https://deploymentmanager.mtls.googleapis.com/",
  "canonicalName": "Deployment Manager",
  "revision": "20260827",
  "title": "Cloud Deployment Manager V2 API",
  "name": "deploymentmanager",
  "resources": {
    "types": {
      "methods": {
        "list": {
          "parameters": {
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "minimum": "0",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "default": "500",
              "type": "integer"
            },
            "project": {
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "The project ID for this request.",
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results."
            }
          },
          "response": {
            "$ref": "TypesListResponse"
          },
          "flatPath": "deploymentmanager/v2/projects/{project}/global/types",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "id": "deploymentmanager.types.list",
          "parameterOrder": [
            "project"
          ],
          "description": "Lists all resource types for Deployment Manager.",
          "path": "deploymentmanager/v2/projects/{project}/global/types"
        }
      }
    },
    "manifests": {
      "methods": {
        "list": {
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/manifests",
          "response": {
            "$ref": "ManifestsListResponse"
          },
          "description": "Lists all manifests for a given deployment.",
          "id": "deploymentmanager.manifests.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "minimum": "0",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "location": "query",
              "default": "500"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string"
            },
            "deployment": {
              "description": "The name of the deployment for this request.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "location": "query"
            }
          },
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/manifests",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "httpMethod": "GET"
        },
        "get": {
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/manifests/{manifest}",
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/manifests/{manifest}",
          "description": "Gets information about a specific manifest.",
          "response": {
            "$ref": "Manifest"
          },
          "id": "deploymentmanager.manifests.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameters": {
            "deployment": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The name of the deployment for this request."
            },
            "manifest": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the manifest for this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "project": {
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "deployment",
            "manifest"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "operations": {
      "methods": {
        "list": {
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "GET",
          "id": "deploymentmanager.operations.list",
          "path": "deploymentmanager/v2/projects/{project}/global/operations",
          "description": "Lists all operations for a project.",
          "flatPath": "deploymentmanager/v2/projects/{project}/global/operations",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "response": {
            "$ref": "OperationsListResponse"
          },
          "parameters": {
            "maxResults": {
              "default": "500",
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "minimum": "0",
              "type": "integer"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions."
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "type": "string",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "required": true
            }
          }
        },
        "get": {
          "path": "deploymentmanager/v2/projects/{project}/global/operations/{operation}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameters": {
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "operation": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The name of the operation for this request."
            },
            "project": {
              "type": "string",
              "required": true,
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path"
            }
          },
          "id": "deploymentmanager.operations.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "operation"
          ],
          "flatPath": "deploymentmanager/v2/projects/{project}/global/operations/{operation}",
          "description": "Gets information about a specific operation."
        }
      }
    },
    "resources": {
      "methods": {
        "get": {
          "description": "Gets information about a single resource.",
          "httpMethod": "GET",
          "id": "deploymentmanager.resources.get",
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/resources/{resource}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameters": {
            "deployment": {
              "type": "string",
              "description": "The name of the deployment for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "location": "path"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The project ID for this request."
            },
            "resource": {
              "location": "path",
              "description": "The name of the resource for this request.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Resource"
          },
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/resources/{resource}",
          "parameterOrder": [
            "project",
            "deployment",
            "resource"
          ]
        },
        "list": {
          "description": "Lists all resources in a given deployment.",
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/resources",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "httpMethod": "GET",
          "id": "deploymentmanager.resources.list",
          "parameters": {
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions."
            },
            "maxResults": {
              "minimum": "0",
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "default": "500"
            },
            "project": {
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string",
              "location": "query"
            },
            "deployment": {
              "location": "path",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string",
              "description": "The name of the deployment for this request."
            }
          },
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/resources",
          "response": {
            "$ref": "ResourcesListResponse"
          },
          "parameterOrder": [
            "project",
            "deployment"
          ]
        }
      }
    },
    "deployments": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "preview": {
              "description": "If set to true, creates a deployment and creates \"shell\" resources but does not actually instantiate these resources. This allows you to preview what your deployment looks like. After previewing a deployment, you can deploy your resources by making a request with the `update()` method or you can use the `cancelPreview()` method to cancel the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.",
              "location": "query",
              "type": "boolean"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "createPolicy": {
              "description": "Sets the policy to use for creating new resources.",
              "default": "CREATE_OR_ACQUIRE",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "CREATE_OR_ACQUIRE",
                "ACQUIRE"
              ],
              "location": "query",
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "The project ID for this request.",
              "required": true,
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            }
          },
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments",
          "path": "deploymentmanager/v2/projects/{project}/global/deployments",
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "POST",
          "description": "Creates a deployment and all of the resources described by the deployment manifest.",
          "id": "deploymentmanager.deployments.insert",
          "request": {
            "$ref": "Deployment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        },
        "list": {
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments",
          "description": "Lists all deployments for a given project.",
          "response": {
            "$ref": "DeploymentsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "path": "deploymentmanager/v2/projects/{project}/global/deployments",
          "id": "deploymentmanager.deployments.list",
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "minimum": "0",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "location": "query",
              "type": "integer",
              "default": "500",
              "format": "uint32"
            },
            "orderBy": {
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            }
          }
        },
        "get": {
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}",
          "description": "Gets information about a specific deployment.",
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "response": {
            "$ref": "Deployment"
          },
          "id": "deploymentmanager.deployments.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameters": {
            "deployment": {
              "location": "path",
              "type": "string",
              "description": "The name of the deployment for this request.",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "description": "The project ID for this request.",
              "location": "path",
              "required": true
            }
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "id": "deploymentmanager.deployments.patch",
          "parameters": {
            "preview": {
              "description": "If set to true, updates the deployment and creates and updates the \"shell\" resources but does not actually alter or instantiate these resources. This allows you to preview what your deployment will look like. You can use this intent to preview how an update would affect your deployment. You must provide a `target.config` with a configuration if this is set to true. After previewing a deployment, you can deploy your resources by making a request with the `update()` or you can `cancelPreview()` to remove the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "createPolicy": {
              "enum": [
                "CREATE_OR_ACQUIRE",
                "ACQUIRE"
              ],
              "description": "Sets the policy to use for creating new resources.",
              "type": "string",
              "default": "CREATE_OR_ACQUIRE",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "deployment": {
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "type": "string",
              "description": "The name of the deployment for this request."
            },
            "deletePolicy": {
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "DELETE",
              "enum": [
                "DELETE",
                "ABANDON"
              ],
              "location": "query",
              "description": "Sets the policy to use for deleting resources.",
              "type": "string"
            },
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "type": "string",
              "location": "path"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            }
          },
          "description": "Patches a deployment and all of the resources described by the deployment manifest.",
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}",
          "request": {
            "$ref": "Deployment"
          }
        },
        "cancelPreview": {
          "parameters": {
            "project": {
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "deployment": {
              "description": "The name of the deployment for this request.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            }
          },
          "description": "Cancels and removes the preview currently associated with the deployment.",
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/cancelPreview",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "id": "deploymentmanager.deployments.cancelPreview",
          "request": {
            "$ref": "DeploymentsCancelPreviewRequest"
          },
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/cancelPreview",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        },
        "getIamPolicy": {
          "parameters": {
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "type": "string",
              "description": "Project ID for this request.",
              "location": "path"
            },
            "optionsRequestedPolicyVersion": {
              "type": "integer",
              "format": "int32",
              "description": "Requested IAM Policy version.",
              "location": "query"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "resource": {
              "description": "Name or id of the resource for this request.",
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "resource"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "description": "Gets the access control policy for a resource. May be empty if no such policy or resource exists.",
          "id": "deploymentmanager.deployments.getIamPolicy",
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{resource}/getIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{resource}/getIamPolicy"
        },
        "testIamPermissions": {
          "httpMethod": "POST",
          "response": {
            "$ref": "TestPermissionsResponse"
          },
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{resource}/testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "parameters": {
            "resource": {
              "description": "Name or id of the resource for this request.",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true,
              "type": "string"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "project": {
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{resource}/testIamPermissions",
          "request": {
            "$ref": "TestPermissionsRequest"
          },
          "description": "Returns permissions that a caller has on the specified resource.",
          "id": "deploymentmanager.deployments.testIamPermissions",
          "parameterOrder": [
            "project",
            "resource"
          ]
        },
        "update": {
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "id": "deploymentmanager.deployments.update",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "request": {
            "$ref": "Deployment"
          },
          "parameters": {
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "project": {
              "description": "The project ID for this request.",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "type": "string"
            },
            "deployment": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The name of the deployment for this request."
            },
            "createPolicy": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Sets the policy to use for creating new resources.",
              "enum": [
                "CREATE_OR_ACQUIRE",
                "ACQUIRE"
              ],
              "default": "CREATE_OR_ACQUIRE",
              "location": "query"
            },
            "deletePolicy": {
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "DELETE",
                "ABANDON"
              ],
              "description": "Sets the policy to use for deleting resources.",
              "default": "DELETE",
              "location": "query",
              "type": "string"
            },
            "preview": {
              "default": "false",
              "location": "query",
              "description": "If set to true, updates the deployment and creates and updates the \"shell\" resources but does not actually alter or instantiate these resources. This allows you to preview what your deployment will look like. You can use this intent to preview how an update would affect your deployment. You must provide a `target.config` with a configuration if this is set to true. After previewing a deployment, you can deploy your resources by making a request with the `update()` or you can `cancelPreview()` to remove the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.",
              "type": "boolean"
            }
          },
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}",
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "Operation"
          },
          "description": "Updates a deployment and all of the resources described by the deployment manifest."
        },
        "stop": {
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/stop",
          "parameters": {
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "location": "path",
              "description": "The project ID for this request."
            },
            "deployment": {
              "description": "The name of the deployment for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "httpMethod": "POST",
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/stop",
          "id": "deploymentmanager.deployments.stop",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "request": {
            "$ref": "DeploymentsStopRequest"
          },
          "description": "Stops an ongoing operation. This does not roll back any work that has already been completed, but prevents any new work from being started."
        },
        "delete": {
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "parameters": {
            "deployment": {
              "location": "path",
              "description": "The name of the deployment for this request.",
              "type": "string",
              "required": true
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "description": "The project ID for this request.",
              "required": true,
              "location": "path"
            },
            "deletePolicy": {
              "type": "string",
              "description": "Sets the policy to use for deleting resources.",
              "location": "query",
              "default": "DELETE",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "DELETE",
                "ABANDON"
              ]
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            }
          },
          "description": "Deletes a deployment and all of the resources in the deployment.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "id": "deploymentmanager.deployments.delete",
          "httpMethod": "DELETE",
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}",
          "response": {
            "$ref": "Operation"
          }
        },
        "setIamPolicy": {
          "response": {
            "$ref": "Policy"
          },
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{resource}/setIamPolicy",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy.",
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{resource}/setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "parameters": {
            "project": {
              "description": "Project ID for this request.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "resource": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Name or id of the resource for this request.",
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}"
            }
          },
          "request": {
            "$ref": "GlobalSetPolicyRequest"
          },
          "parameterOrder": [
            "project",
            "resource"
          ],
          "httpMethod": "POST",
          "id": "deploymentmanager.deployments.setIamPolicy"
        }
      }
    }
  },
  "schemas": {
    "InstancesTroubleshootOperationMetadata": {
      "description": "[Output Only] Operation metadata for instances.troubleshoot.",
      "type": "object",
      "id": "InstancesTroubleshootOperationMetadata",
      "properties": {
        "troubleshootOutput": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output Only] Serialized output of the troubleshooting diagnostic run."
        }
      }
    },
    "DeploymentLabelEntry": {
      "id": "DeploymentLabelEntry",
      "description": "Label object for Deployments",
      "properties": {
        "value": {
          "description": "Value of the label",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Key of the label"
        }
      },
      "type": "object"
    },
    "OperationsListResponse": {
      "id": "OperationsListResponse",
      "description": "A response containing a partial list of operations and a page token used to build the next request if the request has been truncated.",
      "properties": {
        "operations": {
          "type": "array",
          "description": "Output only. Operations contained in this list response.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token used to continue a truncated list request."
        }
      },
      "type": "object"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string"
        }
      },
      "id": "AuditLogConfig"
    },
    "Manifest": {
      "properties": {
        "expandedConfig": {
          "description": "Output only. The fully-expanded configuration file, including any templates and references.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. Self link for the manifest.",
          "type": "string"
        },
        "id": {
          "format": "uint64",
          "type": "string"
        },
        "manifestSizeLimitBytes": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The size limit for expanded manifests in the project."
        },
        "insertTime": {
          "type": "string",
          "description": "Output only. Creation timestamp in RFC3339 text format."
        },
        "layout": {
          "description": "Output only. The YAML layout for this manifest.",
          "type": "string"
        },
        "imports": {
          "type": "array",
          "description": "Output only. The imported files for this manifest.",
          "items": {
            "$ref": "ImportFile"
          }
        },
        "name": {
          "description": "Output only. The name of the manifest.",
          "type": "string"
        },
        "config": {
          "description": "Output only. The YAML configuration for this manifest.",
          "$ref": "ConfigFile"
        },
        "manifestSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The computed size of the fully expanded manifest."
        }
      },
      "type": "object",
      "id": "Manifest"
    },
    "BulkInsertOperationStatus": {
      "id": "BulkInsertOperationStatus",
      "type": "object",
      "properties": {
        "createdVmCount": {
          "description": "[Output Only] Count of VMs successfully created so far.",
          "format": "int32",
          "type": "integer"
        },
        "status": {
          "enumDescriptions": [
            "",
            "Rolling forward - creating VMs.",
            "Rolling back - cleaning up after an error.",
            "Done",
            "Pending - waiting until the capacity is available."
          ],
          "description": "[Output Only] Creation status of BulkInsert operation - information if the flow is rolling forward or rolling back.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "CREATING",
            "ROLLING_BACK",
            "DONE",
            "PENDING"
          ]
        },
        "deletedVmCount": {
          "format": "int32",
          "description": "[Output Only] Count of VMs that got deleted during rollback.",
          "type": "integer"
        },
        "failedToCreateVmCount": {
          "type": "integer",
          "description": "[Output Only] Count of VMs that started creating but encountered an error.",
          "format": "int32"
        },
        "targetVmCount": {
          "description": "[Output Only] Count of VMs originally planned to be created.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ManifestsListResponse": {
      "properties": {
        "manifests": {
          "description": "Output only. Manifests contained in this list response.",
          "type": "array",
          "items": {
            "$ref": "Manifest"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token used to continue a truncated list request.",
          "type": "string"
        }
      },
      "description": "A response containing a partial list of manifests and a page token used to build the next request if the request has been truncated.",
      "id": "ManifestsListResponse",
      "type": "object"
    },
    "Type": {
      "type": "object",
      "description": "A resource type supported by Deployment Manager.",
      "id": "Type",
      "properties": {
        "name": {
          "description": "Name of the type.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "insertTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "type": "string"
        },
        "operation": {
          "description": "Output only. The Operation that most recently ran, or is currently running, on this type.",
          "$ref": "Operation"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. Server defined URL for the resource."
        }
      }
    },
    "GetHealthOperationMetadata": {
      "type": "object",
      "properties": {
        "healthInfo": {
          "readOnly": true,
          "$ref": "GetHealthOperationMetadataHealthInfo",
          "description": "Output only. The health information."
        }
      },
      "description": "Metadata for GetHealth operations.",
      "id": "GetHealthOperationMetadata"
    },
    "Help": {
      "description": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit.",
      "properties": {
        "links": {
          "type": "array",
          "items": {
            "$ref": "HelpLink"
          },
          "description": "URL(s) pointing to additional information on handling the current error."
        }
      },
      "type": "object",
      "id": "Help"
    },
    "OperationDetails": {
      "id": "OperationDetails",
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "description": "Machine readable data from the message.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "message": {
          "description": "Human or AI readable details on execution of the operation.",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "DeploymentsStopRequest": {
      "id": "DeploymentsStopRequest",
      "type": "object",
      "properties": {
        "fingerprint": {
          "description": "Specifies a fingerprint for `stop()` requests. A fingerprint is a randomly generated value that must be provided in `stop()` requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to stop an ongoing update request, this would prevent a collision). The fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a `get()` request on the deployment.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "Deployment": {
      "type": "object",
      "properties": {
        "manifest": {
          "description": "Output only. URL of the manifest representing the last manifest that was successfully deployed. If no manifest has been successfully deployed, this field will be absent.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "fingerprint": {
          "type": "string",
          "format": "byte",
          "description": "Provides a fingerprint to use in requests to modify a deployment, such as `update()`, `stop()`, and `cancelPreview()` requests. A fingerprint is a randomly generated value that must be provided with `update()`, `stop()`, and `cancelPreview()` requests to perform optimistic locking. This ensures optimistic concurrency so that only one request happens at a time. The fingerprint is initially generated by Deployment Manager and changes after every request to modify data. To get the latest fingerprint value, perform a `get()` request to a deployment."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Update timestamp in RFC3339 text format."
        },
        "description": {
          "description": "An optional user-provided description of the deployment.",
          "type": "string"
        },
        "insertTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "type": "string"
        },
        "update": {
          "description": "Output only. If Deployment Manager is currently updating or previewing an update to this deployment, the updated configuration appears here.",
          "$ref": "DeploymentUpdate"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "DeploymentLabelEntry"
          },
          "description": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`."
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. Server defined URL for the resource."
        },
        "name": {
          "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
          "type": "string"
        },
        "operation": {
          "description": "Output only. The Operation that most recently ran, or is currently running, on this deployment.",
          "$ref": "Operation"
        },
        "target": {
          "$ref": "TargetConfiguration",
          "description": "[Input Only] The parameters that define your deployment, including the deployment configuration and relevant templates."
        }
      },
      "id": "Deployment"
    },
    "DebugInfo": {
      "id": "DebugInfo",
      "properties": {
        "stackEntries": {
          "items": {
            "type": "string"
          },
          "description": "The stack trace entries indicating where the error occurred.",
          "type": "array"
        },
        "detail": {
          "description": "Additional debugging information provided by the server.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes additional debugging info."
    },
    "QuotaExceededInfo": {
      "id": "QuotaExceededInfo",
      "description": "Additional details for quota exceeded error for resource quota.",
      "type": "object",
      "properties": {
        "dimensions": {
          "type": "object",
          "description": "The map holding related quota dimensions.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "rolloutStatus": {
          "type": "string",
          "enum": [
            "ROLLOUT_STATUS_UNSPECIFIED",
            "IN_PROGRESS"
          ],
          "description": "Rollout status of the future quota limit.",
          "enumDescriptions": [
            "ROLLOUT_STATUS_UNSPECIFIED - Rollout status is not specified. The default value.",
            "IN_PROGRESS - A rollout is in process which will change the limit value to future limit."
          ]
        },
        "metricName": {
          "type": "string",
          "description": "The Compute Engine quota metric name."
        },
        "limitName": {
          "description": "The name of the quota limit.",
          "type": "string"
        },
        "futureLimit": {
          "description": "Future quota limit being rolled out. The limit's unit depends on the quota type or metric.",
          "format": "double",
          "type": "number"
        },
        "limit": {
          "type": "number",
          "format": "double",
          "description": "Current effective quota limit. The limit's unit depends on the quota type or metric."
        }
      }
    },
    "DeploymentsCancelPreviewRequest": {
      "type": "object",
      "properties": {
        "fingerprint": {
          "format": "byte",
          "type": "string",
          "description": "Specifies a fingerprint for `cancelPreview()` requests. A fingerprint is a randomly generated value that must be provided in `cancelPreview()` requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to cancel a preview, this would prevent one of the requests). The fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a `get()` request on the deployment."
        }
      },
      "id": "DeploymentsCancelPreviewRequest"
    },
    "HelpLink": {
      "properties": {
        "url": {
          "description": "The URL of the link.",
          "type": "string"
        },
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        }
      },
      "id": "HelpLink",
      "type": "object",
      "description": "Describes a URL link."
    },
    "ResourcesListResponse": {
      "id": "ResourcesListResponse",
      "type": "object",
      "properties": {
        "resources": {
          "description": "Resources contained in this list response.",
          "items": {
            "$ref": "Resource"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token used to continue a truncated list request.",
          "type": "string"
        }
      },
      "description": "A response containing a partial list of resources and a page token used to build the next request if the request has been truncated."
    },
    "ResourceUpdate": {
      "id": "ResourceUpdate",
      "type": "object",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "[Output Only] A human-readable description of the warning code."
              },
              "data": {
                "type": "array",
                "items": {
                  "properties": {
                    "key": {
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                      "type": "string"
                    },
                    "value": {
                      "description": "[Output Only] A warning data value corresponding to the key.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }] "
              },
              "code": {
                "type": "string",
                "enumDescriptions": [
                  "A link to a deprecated resource was created.",
                  "No results are present on a particular list page.",
                  "A given scope cannot be reached.",
                  "The route's nextHopIp address is not assigned to an instance on the network.",
                  "The route's nextHopInstance URL refers to an instance that does not exist.",
                  "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                  "The route's next hop instance cannot ip forward.",
                  "The route's next hop instance does not have a status of RUNNING.",
                  "The operation involved use of an injected kernel, which is deprecated.",
                  "The user attempted to use a resource that requires a TOS they have not accepted.",
                  "The user created a boot disk that is larger than image size.",
                  "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                  "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                  "Error which is not critical. We decided to continue the process despite the mentioned error.",
                  "Warning about failed cleanup of transient changes made by a failed operation.",
                  "Warning that value of a field has been overridden. Deprecated unused field.",
                  "Warning that a resource is in use.",
                  "Warning that network endpoint was not detached.",
                  "Current page contains less results than requested but a next page token exists.",
                  "Warning that SSL policy resource in the response does not contain information about the list of enabled features.",
                  "Warning that a resource is not found.",
                  "A resource depends on a missing type",
                  "Warning that is present in an external api call",
                  "When a resource schema validation is ignored.",
                  "When undeclared properties in the schema are present",
                  "When deploying and at least one of the resources has a type marked as experimental",
                  "When deploying and at least one of the resources has a type marked as deprecated",
                  "Success is reported, but some results may be missing due to errors",
                  "When deploying a deployment with a exceedingly large number of resources",
                  "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                  "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                  "Resource can't be retrieved due to list overhead quota exceed which captures the amount of resources filtered out by user-defined list filter.",
                  "Quota information is not available to client requests (e.g: regions.list).",
                  "Indicates that a VM is using global DNS. Can also be used to indicate that a resource has attributes that could result in the creation of a VM that uses global DNS.",
                  "Resource can't be retrieved due to api quota exceeded.",
                  "Upcoming maintenance schedule is unavailable for the resource.",
                  "Reserved entries for quickly adding new warnings without breaking dependent clients.",
                  "",
                  "",
                  "",
                  ""
                ],
                "enumDeprecated": [
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  true,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false
                ],
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                "enum": [
                  "DEPRECATED_RESOURCE_USED",
                  "NO_RESULTS_ON_PAGE",
                  "UNREACHABLE",
                  "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                  "NEXT_HOP_INSTANCE_NOT_FOUND",
                  "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                  "NEXT_HOP_CANNOT_IP_FORWARD",
                  "NEXT_HOP_NOT_RUNNING",
                  "INJECTED_KERNELS_DEPRECATED",
                  "REQUIRED_TOS_AGREEMENT",
                  "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                  "RESOURCE_NOT_DELETED",
                  "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                  "NOT_CRITICAL_ERROR",
                  "CLEANUP_FAILED",
                  "FIELD_VALUE_OVERRIDEN",
                  "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                  "NETWORK_ENDPOINT_NOT_DETACHED",
                  "PAGE_MISSING_RESULTS",
                  "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED",
                  "RESOURCE_NOT_FOUND_WARNING",
                  "MISSING_TYPE_DEPENDENCY",
                  "EXTERNAL_API_WARNING",
                  "SCHEMA_VALIDATION_IGNORED",
                  "UNDECLARED_PROPERTIES",
                  "EXPERIMENTAL_TYPE_USED",
                  "DEPRECATED_TYPE_USED",
                  "PARTIAL_SUCCESS",
                  "LARGE_DEPLOYMENT_WARNING",
                  "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                  "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                  "LIST_OVERHEAD_QUOTA_EXCEED",
                  "QUOTA_INFO_UNAVAILABLE",
                  "RESOURCE_USES_GLOBAL_DNS",
                  "RATE_LIMIT_EXCEEDED",
                  "UPCOMING_MAINTENANCES_UNAVAILABLE",
                  "RESERVED_ENTRY_136",
                  "RESERVED_ENTRY_139",
                  "RESERVED_ENTRY_141",
                  "RESERVED_ENTRY_142",
                  "RESERVED_ENTRY_143"
                ]
              }
            }
          },
          "description": "Output only. If warning messages are generated during processing of this resource, this field will be populated."
        },
        "intent": {
          "type": "string",
          "enum": [
            "CREATE_OR_ACQUIRE",
            "DELETE",
            "ACQUIRE",
            "UPDATE",
            "ABANDON",
            "CREATE"
          ],
          "enumDescriptions": [
            "The resource is scheduled to be created, or if it already exists, acquired.",
            "The resource is scheduled to be deleted.",
            "The resource is scheduled to be acquired.",
            "The resource is scheduled to be updated via the UPDATE method.",
            "The resource is scheduled to be abandoned.",
            "The resource is scheduled to be created."
          ],
          "description": "Output only. The intent of the resource: `PREVIEW`, `UPDATE`, or `CANCEL`."
        },
        "error": {
          "properties": {
            "errors": {
              "description": "[Output Only] The array of errors encountered while processing this operation.",
              "type": "array",
              "items": {
                "properties": {
                  "debugInfo": {
                    "$ref": "DebugInfo",
                    "description": "Output only. [Output Only] Advanced debugging information with stack traces and other diagnostic details for the error.",
                    "readOnly": true
                  },
                  "arguments": {
                    "readOnly": true,
                    "description": "Output only. [Output Only] Optional error details WARNING: DO NOT MAKE VISIBLE This is for internal use-only (like componentization) (thus the visibility \"none\") and in case of public exposure it is strongly recommended to follow pattern of: https://aip.dev/193 and expose as details field.",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "message": {
                    "type": "string",
                    "description": "[Output Only] An optional, human-readable error message."
                  },
                  "location": {
                    "description": "[Output Only] Indicates the field in the request that caused the error. This property is optional.",
                    "type": "string"
                  },
                  "code": {
                    "type": "string",
                    "description": "[Output Only] The error type identifier for this error."
                  },
                  "errorDetails": {
                    "items": {
                      "description": "Container for structured error details providing additional context specific to the encountered error code.",
                      "type": "object",
                      "properties": {
                        "errorInfo": {
                          "description": "Error information containing structured domain, reason, and metadata.",
                          "$ref": "ErrorInfo"
                        },
                        "localizedMessage": {
                          "$ref": "LocalizedMessage",
                          "description": "A localized human-readable error message intended for end users."
                        },
                        "help": {
                          "$ref": "Help",
                          "description": "Links and information to help the user resolve the error."
                        },
                        "quotaInfo": {
                          "$ref": "QuotaExceededInfo",
                          "description": "Details about quota limits and metrics when a quota is exceeded."
                        }
                      }
                    },
                    "type": "array",
                    "description": "[Output Only] An optional list of messages that contain the error details. There is a set of defined message types to use for providing details.The syntax depends on the error code. For example, QuotaExceededInfo will have details when the error code is QUOTA_EXCEEDED."
                  }
                },
                "type": "object",
                "description": "Represents a single error encountered during the processing of an operation."
              }
            }
          },
          "description": "Output only. If errors are generated during update of the resource, this field will be populated.",
          "type": "object"
        },
        "finalProperties": {
          "description": "Output only. The expanded properties of the resource with reference values expanded. Returned as serialized YAML.",
          "type": "string"
        },
        "accessControl": {
          "$ref": "ResourceAccessControl",
          "description": "The Access Control Policy to set on this resource after updating the resource itself."
        },
        "properties": {
          "type": "string",
          "description": "Output only. The set of updated properties for this resource, before references are expanded. Returned as serialized YAML."
        },
        "state": {
          "enumDescriptions": [
            "There are changes pending for this resource.",
            "The service is executing changes on the resource.",
            "The service is previewing changes on the resource.",
            "The service has failed to change the resource.",
            "The service has aborted trying to change the resource."
          ],
          "enum": [
            "PENDING",
            "IN_PROGRESS",
            "IN_PREVIEW",
            "FAILED",
            "ABORTED"
          ],
          "description": "Output only. The state of the resource.",
          "type": "string"
        },
        "manifest": {
          "type": "string",
          "description": "Output only. URL of the manifest representing the update configuration of this resource."
        }
      }
    },
    "Resource": {
      "properties": {
        "properties": {
          "type": "string",
          "description": "Output only. The current properties of the resource before any references have been filled in. Returned as serialized YAML."
        },
        "update": {
          "description": "Output only. If Deployment Manager is currently updating or previewing an update to this resource, the updated configuration appears here.",
          "$ref": "ResourceUpdate"
        },
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "accessControl": {
          "description": "The Access Control Policy set on this resource.",
          "$ref": "ResourceAccessControl"
        },
        "type": {
          "description": "Output only. The type of the resource, for example `compute.v1.instance`, or `cloudfunctions.v1beta1.function`.",
          "type": "string"
        },
        "insertTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the resource as it appears in the YAML config.",
          "type": "string"
        },
        "manifest": {
          "description": "Output only. URL of the manifest representing the current configuration of this resource.",
          "type": "string"
        },
        "url": {
          "description": "Output only. The URL of the actual resource.",
          "type": "string"
        },
        "finalProperties": {
          "description": "Output only. The evaluated properties of the resource with references expanded. Returned as serialized YAML.",
          "type": "string"
        },
        "warnings": {
          "description": "Output only. If warning messages are generated during processing of this resource, this field will be populated.",
          "items": {
            "properties": {
              "data": {
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                      "type": "string"
                    },
                    "value": {
                      "type": "string",
                      "description": "[Output Only] A warning data value corresponding to the key."
                    }
                  }
                },
                "type": "array",
                "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }] "
              },
              "code": {
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                "type": "string",
                "enumDeprecated": [
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  true,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false
                ],
                "enumDescriptions": [
                  "A link to a deprecated resource was created.",
                  "No results are present on a particular list page.",
                  "A given scope cannot be reached.",
                  "The route's nextHopIp address is not assigned to an instance on the network.",
                  "The route's nextHopInstance URL refers to an instance that does not exist.",
                  "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                  "The route's next hop instance cannot ip forward.",
                  "The route's next hop instance does not have a status of RUNNING.",
                  "The operation involved use of an injected kernel, which is deprecated.",
                  "The user attempted to use a resource that requires a TOS they have not accepted.",
                  "The user created a boot disk that is larger than image size.",
                  "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                  "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                  "Error which is not critical. We decided to continue the process despite the mentioned error.",
                  "Warning about failed cleanup of transient changes made by a failed operation.",
                  "Warning that value of a field has been overridden. Deprecated unused field.",
                  "Warning that a resource is in use.",
                  "Warning that network endpoint was not detached.",
                  "Current page contains less results than requested but a next page token exists.",
                  "Warning that SSL policy resource in the response does not contain information about the list of enabled features.",
                  "Warning that a resource is not found.",
                  "A resource depends on a missing type",
                  "Warning that is present in an external api call",
                  "When a resource schema validation is ignored.",
                  "When undeclared properties in the schema are present",
                  "When deploying and at least one of the resources has a type marked as experimental",
                  "When deploying and at least one of the resources has a type marked as deprecated",
                  "Success is reported, but some results may be missing due to errors",
                  "When deploying a deployment with a exceedingly large number of resources",
                  "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                  "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                  "Resource can't be retrieved due to list overhead quota exceed which captures the amount of resources filtered out by user-defined list filter.",
                  "Quota information is not available to client requests (e.g: regions.list).",
                  "Indicates that a VM is using global DNS. Can also be used to indicate that a resource has attributes that could result in the creation of a VM that uses global DNS.",
                  "Resource can't be retrieved due to api quota exceeded.",
                  "Upcoming maintenance schedule is unavailable for the resource.",
                  "Reserved entries for quickly adding new warnings without breaking dependent clients.",
                  "",
                  "",
                  "",
                  ""
                ],
                "enum": [
                  "DEPRECATED_RESOURCE_USED",
                  "NO_RESULTS_ON_PAGE",
                  "UNREACHABLE",
                  "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                  "NEXT_HOP_INSTANCE_NOT_FOUND",
                  "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                  "NEXT_HOP_CANNOT_IP_FORWARD",
                  "NEXT_HOP_NOT_RUNNING",
                  "INJECTED_KERNELS_DEPRECATED",
                  "REQUIRED_TOS_AGREEMENT",
                  "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                  "RESOURCE_NOT_DELETED",
                  "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                  "NOT_CRITICAL_ERROR",
                  "CLEANUP_FAILED",
                  "FIELD_VALUE_OVERRIDEN",
                  "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                  "NETWORK_ENDPOINT_NOT_DETACHED",
                  "PAGE_MISSING_RESULTS",
                  "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED",
                  "RESOURCE_NOT_FOUND_WARNING",
                  "MISSING_TYPE_DEPENDENCY",
                  "EXTERNAL_API_WARNING",
                  "SCHEMA_VALIDATION_IGNORED",
                  "UNDECLARED_PROPERTIES",
                  "EXPERIMENTAL_TYPE_USED",
                  "DEPRECATED_TYPE_USED",
                  "PARTIAL_SUCCESS",
                  "LARGE_DEPLOYMENT_WARNING",
                  "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                  "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                  "LIST_OVERHEAD_QUOTA_EXCEED",
                  "QUOTA_INFO_UNAVAILABLE",
                  "RESOURCE_USES_GLOBAL_DNS",
                  "RATE_LIMIT_EXCEEDED",
                  "UPCOMING_MAINTENANCES_UNAVAILABLE",
                  "RESERVED_ENTRY_136",
                  "RESERVED_ENTRY_139",
                  "RESERVED_ENTRY_141",
                  "RESERVED_ENTRY_142",
                  "RESERVED_ENTRY_143"
                ]
              },
              "message": {
                "type": "string",
                "description": "[Output Only] A human-readable description of the warning code."
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. Update timestamp in RFC3339 text format.",
          "type": "string"
        }
      },
      "id": "Resource",
      "type": "object"
    },
    "TypesListResponse": {
      "description": "A response that returns all Types supported by Deployment Manager",
      "id": "TypesListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token used to continue a truncated list request."
        },
        "types": {
          "items": {
            "$ref": "Type"
          },
          "description": "Output only. A list of resource types supported by Deployment Manager.",
          "type": "array"
        }
      }
    },
    "GetHealthOperationMetadataHealthInfo": {
      "id": "GetHealthOperationMetadataHealthInfo",
[...]
