{
  "baseUrl": "https://deploymentmanager.googleapis.com/",
  "servicePath": "",
  "protocol": "rest",
  "description": "The Google Cloud Deployment Manager v2 API provides services for configuring, deploying, and viewing Google Cloud services and APIs via templates which specify deployments of Cloud resources.",
  "canonicalName": "Deployment Manager",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/deployment-manager",
  "version": "v2beta",
  "name": "deploymentmanager",
  "kind": "discovery#restDescription",
  "schemas": {
    "GetVersionOperationMetadata": {
      "id": "GetVersionOperationMetadata",
      "properties": {
        "inlineSbomInfo": {
          "$ref": "GetVersionOperationMetadataSbomInfo"
        }
      },
      "type": "object"
    },
    "Credential": {
      "type": "object",
      "description": "The credential used by Deployment Manager and TypeProvider. Only one of the options is permitted.",
      "id": "Credential",
      "properties": {
        "useProjectDefault": {
          "description": "Specify to use the project default credential, only supported by Deployment.",
          "type": "boolean"
        },
        "basicAuth": {
          "$ref": "BasicAuth",
          "description": "Basic Auth Credential, only used by TypeProvider."
        },
        "serviceAccount": {
          "$ref": "ServiceAccount",
          "description": "Service Account Credential, only used by Deployment."
        }
      }
    },
    "DeploymentsStopRequest": {
      "type": "object",
      "properties": {
        "fingerprint": {
          "description": "Specifies a fingerprint for `stop()` requests. A fingerprint is a randomly generated value that must be provided in `stop()` requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to stop an ongoing update request, this would prevent a collision). The fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a `get()` request on the deployment.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "DeploymentsStopRequest"
    },
    "TestPermissionsRequest": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the 'resource'. Permissions with wildcards (such as '*' or 'storage.*') are not allowed."
        }
      },
      "type": "object",
      "id": "TestPermissionsRequest"
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "zone": {
          "description": "[Output Only] The URL of the zone where the operation resides. Only applicable when performing per-zone operations.",
          "type": "string"
        },
        "httpErrorStatusCode": {
          "type": "integer",
          "format": "int32",
          "description": "[Output Only] If the operation fails, this field contains the HTTP error status code that was returned. For example, a `404` means the resource was not found."
        },
        "operationGroupId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Output Only] An ID that represents a group of operations, such as when a group of operations results from a `bulkInsert` API request."
        },
        "creationTimestamp": {
          "type": "string",
          "description": "[Deprecated] This field is deprecated."
        },
        "getHealthOperationMetadata": {
          "description": "Output only. Metadata for GetHealth operations.",
          "readOnly": true,
          "$ref": "GetHealthOperationMetadata"
        },
        "operationType": {
          "description": "[Output Only] The type of operation, such as `insert`, `update`, or `delete`, and so on.",
          "type": "string"
        },
        "firewallPolicyRuleOperationMetadata": {
          "description": "Output only. [Output Only] Metadata containing the allocated priority from the networkFirewallPolicies.addRule and regionNetworkFirewallPolicies.addRule methods if not explicitly provided by the user.",
          "readOnly": true,
          "$ref": "FirewallPolicyRuleOperationMetadata"
        },
        "getVersionOperationMetadata": {
          "$ref": "GetVersionOperationMetadata"
        },
        "insertTime": {
          "description": "[Output Only] The time that this operation was requested. This value is in RFC3339 text format.",
          "type": "string"
        },
        "setAutoscalerLinkOperationMetadata": {
          "$ref": "SetAutoscalerLinkOperationMetadata",
          "description": "This field is used internally by the Autoscaler team and should not be promoted to \"alpha/beta/v1\"."
        },
        "region": {
          "description": "[Output Only] The URL of the region where the operation resides. Only applicable when performing regional operations.",
          "type": "string"
        },
        "kind": {
          "readOnly": true,
          "default": "compute#operation",
          "description": "Output only. [Output Only] Type of the resource. Always `compute#operation` for Operation resources.",
          "type": "string"
        },
        "name": {
          "description": "[Output Only] Name of the operation.",
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "[Output Only] User who requested the operation, for example: `user@example.com` or `alice_smith_identifier (global/workforcePools/example-com-us-employees)`."
        },
        "targetId": {
          "type": "string",
          "format": "uint64",
          "description": "[Output Only] The unique target ID, which identifies a specific incarnation of the target resource."
        },
        "setCommonInstanceMetadataOperationMetadata": {
          "$ref": "SetCommonInstanceMetadataOperationMetadata",
          "description": "Output only. [Output Only] If the operation is for projects.setCommonInstanceMetadata, this field will contain information on all underlying zonal actions and their state.",
          "readOnly": true
        },
        "clientOperationId": {
          "description": "[Output Only] The value of `requestId` if you provided it in the request. Not present otherwise.",
          "type": "string"
        },
        "httpErrorMessage": {
          "description": "[Output Only] If the operation fails, this field contains the HTTP error message that was returned, such as `NOT FOUND`.",
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "description": "[Output Only] An optional textual description of the current status of the operation."
        },
        "instancesTroubleshootOperationMetadata": {
          "$ref": "InstancesTroubleshootOperationMetadata",
          "description": "Output only. [Output Only] Operation metadata for instances.troubleshoot.",
          "readOnly": true
        },
        "description": {
          "description": "[Output Only] A textual description of the operation, which is set when the operation is created.",
          "type": "string"
        },
        "error": {
          "type": "object",
          "properties": {
            "errors": {
              "type": "array",
              "description": "[Output Only] The array of errors encountered while processing this operation.",
              "items": {
                "description": "Represents a single error encountered during the processing of an operation.",
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "[Output Only] An optional, human-readable error message."
                  },
                  "debugInfo": {
                    "description": "Output only. [Output Only] Advanced debugging information with stack traces and other diagnostic details for the error.",
                    "$ref": "DebugInfo",
                    "readOnly": true
                  },
                  "errorDetails": {
                    "description": "[Output Only] An optional list of messages that contain the error details. There is a set of defined message types to use for providing details.The syntax depends on the error code. For example, QuotaExceededInfo will have details when the error code is QUOTA_EXCEEDED.",
                    "type": "array",
                    "items": {
                      "description": "Container for structured error details providing additional context specific to the encountered error code.",
                      "type": "object",
                      "properties": {
                        "help": {
                          "description": "Links and information to help the user resolve the error.",
                          "$ref": "Help"
                        },
                        "errorInfo": {
                          "description": "Error information containing structured domain, reason, and metadata.",
                          "$ref": "ErrorInfo"
                        },
                        "quotaInfo": {
                          "description": "Details about quota limits and metrics when a quota is exceeded.",
                          "$ref": "QuotaExceededInfo"
                        },
                        "localizedMessage": {
                          "description": "A localized human-readable error message intended for end users.",
                          "$ref": "LocalizedMessage"
                        }
                      }
                    }
                  },
                  "code": {
                    "description": "[Output Only] The error type identifier for this error.",
                    "type": "string"
                  },
                  "arguments": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array",
                    "description": "Output only. [Output Only] Optional error details WARNING: DO NOT MAKE VISIBLE This is for internal use-only (like componentization) (thus the visibility \"none\") and in case of public exposure it is strongly recommended to follow pattern of: https://aip.dev/193 and expose as details field.",
                    "readOnly": true
                  },
                  "location": {
                    "type": "string",
                    "description": "[Output Only] Indicates the field in the request that caused the error. This property is optional."
                  }
                }
              }
            }
          },
          "description": "[Output Only] If errors are generated during processing of the operation, this field will be populated."
        },
        "endTime": {
          "description": "[Output Only] The time that this operation was completed. This value is in RFC3339 text format.",
          "type": "string"
        },
        "progress": {
          "format": "int32",
          "description": "[Output Only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess when the operation will be complete. This number should monotonically increase as the operation progresses.",
          "type": "integer"
        },
        "selfLink": {
          "type": "string",
          "description": "[Output Only] Server-defined URL for the resource."
        },
        "warnings": {
          "type": "array",
          "description": "[Output Only] If warning messages are generated during processing of the operation, this field will be populated.",
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "DEPRECATED_RESOURCE_USED",
                  "NO_RESULTS_ON_PAGE",
                  "UNREACHABLE",
                  "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                  "NEXT_HOP_INSTANCE_NOT_FOUND",
                  "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                  "NEXT_HOP_CANNOT_IP_FORWARD",
                  "NEXT_HOP_NOT_RUNNING",
                  "INJECTED_KERNELS_DEPRECATED",
                  "REQUIRED_TOS_AGREEMENT",
                  "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                  "RESOURCE_NOT_DELETED",
                  "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                  "NOT_CRITICAL_ERROR",
                  "CLEANUP_FAILED",
                  "FIELD_VALUE_OVERRIDEN",
                  "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                  "NETWORK_ENDPOINT_NOT_DETACHED",
                  "PAGE_MISSING_RESULTS",
                  "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED",
                  "RESOURCE_NOT_FOUND_WARNING",
                  "MISSING_TYPE_DEPENDENCY",
                  "EXTERNAL_API_WARNING",
                  "SCHEMA_VALIDATION_IGNORED",
                  "UNDECLARED_PROPERTIES",
                  "EXPERIMENTAL_TYPE_USED",
                  "DEPRECATED_TYPE_USED",
                  "PARTIAL_SUCCESS",
                  "LARGE_DEPLOYMENT_WARNING",
                  "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                  "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                  "LIST_OVERHEAD_QUOTA_EXCEED",
                  "QUOTA_INFO_UNAVAILABLE",
                  "RESOURCE_USES_GLOBAL_DNS",
                  "RATE_LIMIT_EXCEEDED",
                  "UPCOMING_MAINTENANCES_UNAVAILABLE",
                  "RESERVED_ENTRY_136",
                  "RESERVED_ENTRY_139",
                  "RESERVED_ENTRY_141",
                  "RESERVED_ENTRY_142",
                  "RESERVED_ENTRY_143"
                ],
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                "enumDescriptions": [
                  "A link to a deprecated resource was created.",
                  "No results are present on a particular list page.",
                  "A given scope cannot be reached.",
                  "The route's nextHopIp address is not assigned to an instance on the network.",
                  "The route's nextHopInstance URL refers to an instance that does not exist.",
                  "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                  "The route's next hop instance cannot ip forward.",
                  "The route's next hop instance does not have a status of RUNNING.",
                  "The operation involved use of an injected kernel, which is deprecated.",
                  "The user attempted to use a resource that requires a TOS they have not accepted.",
                  "The user created a boot disk that is larger than image size.",
                  "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                  "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                  "Error which is not critical. We decided to continue the process despite the mentioned error.",
                  "Warning about failed cleanup of transient changes made by a failed operation.",
                  "Warning that value of a field has been overridden. Deprecated unused field.",
                  "Warning that a resource is in use.",
                  "Warning that network endpoint was not detached.",
                  "Current page contains less results than requested but a next page token exists.",
                  "Warning that SSL policy resource in the response does not contain information about the list of enabled features.",
                  "Warning that a resource is not found.",
                  "A resource depends on a missing type",
                  "Warning that is present in an external api call",
                  "When a resource schema validation is ignored.",
                  "When undeclared properties in the schema are present",
                  "When deploying and at least one of the resources has a type marked as experimental",
                  "When deploying and at least one of the resources has a type marked as deprecated",
                  "Success is reported, but some results may be missing due to errors",
                  "When deploying a deployment with a exceedingly large number of resources",
                  "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                  "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                  "Resource can't be retrieved due to list overhead quota exceed which captures the amount of resources filtered out by user-defined list filter.",
                  "Quota information is not available to client requests (e.g: regions.list).",
                  "Indicates that a VM is using global DNS. Can also be used to indicate that a resource has attributes that could result in the creation of a VM that uses global DNS.",
                  "Resource can't be retrieved due to api quota exceeded.",
                  "Upcoming maintenance schedule is unavailable for the resource.",
                  "Reserved entries for quickly adding new warnings without breaking dependent clients.",
                  "",
                  "",
                  "",
                  ""
                ],
                "enumDeprecated": [
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  true,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false
                ]
              },
              "data": {
                "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }] ",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                      "type": "string"
                    },
                    "value": {
                      "type": "string",
                      "description": "[Output Only] A warning data value corresponding to the key."
                    }
                  }
                }
              },
              "message": {
                "type": "string",
                "description": "[Output Only] A human-readable description of the warning code."
              }
            }
          }
        },
        "startTime": {
          "description": "[Output Only] The time that this operation was started by the server. This value is in RFC3339 text format.",
          "type": "string"
        },
        "id": {
          "description": "[Output Only] The unique identifier for the operation. This identifier is defined by the server.",
          "format": "uint64",
          "type": "string"
        },
        "selfLinkWithId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Output Only] Server-defined URL for this resource with the resource id."
        },
        "instancesBulkInsertOperationMetadata": {
          "$ref": "InstancesBulkInsertOperationMetadata"
        },
        "targetLink": {
          "type": "string",
          "description": "[Output Only] The URL of the resource that the operation modifies. For operations related to creating a snapshot, this points to the disk that the snapshot was created from."
        },
        "status": {
          "type": "string",
          "enum": [
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "description": "[Output Only] The status of the operation, which can be one of the following: `PENDING`, `RUNNING`, or `DONE`.",
          "enumDescriptions": [
            "The operation is waiting to be processed.",
            "The operation is actively being processed.",
            "The operation has completed processing successfully or with an error."
          ]
        },
        "details": {
          "$ref": "OperationDetails",
          "description": "[Output Only] Extended details about the operation's execution."
        }
      },
      "description": "Represents an Operation resource. Google Compute Engine has three Operation resources: * [Global](/compute/docs/reference/rest/{$api_version}/globalOperations) * [Regional](/compute/docs/reference/rest/{$api_version}/regionOperations) * [Zonal](/compute/docs/reference/rest/{$api_version}/zoneOperations) You can use an operation resource to manage asynchronous API requests. For more information, read Handling API responses. Operations can be global, regional or zonal. - For global operations, use the `globalOperations` resource. - For regional operations, use the `regionOperations` resource. - For zonal operations, use the `zoneOperations` resource. For more information, read Global, Regional, and Zonal Resources. Note that completed Operation resources have a limited retention period.",
      "type": "object"
    },
    "DeploymentsCancelPreviewRequest": {
      "id": "DeploymentsCancelPreviewRequest",
      "type": "object",
      "properties": {
        "fingerprint": {
          "type": "string",
          "format": "byte",
          "description": "Specifies a fingerprint for `cancelPreview()` requests. A fingerprint is a randomly generated value that must be provided in `cancelPreview()` requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to cancel a preview, this would prevent one of the requests). The fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a `get()` request on the deployment."
        }
      }
    },
    "ResourcesListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token used to continue a truncated list request."
        },
        "resources": {
          "items": {
            "$ref": "Resource"
          },
          "description": "Resources contained in this list response.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ResourcesListResponse",
      "description": "A response containing a partial list of resources and a page token used to build the next request if the request has been truncated."
    },
    "BaseType": {
      "description": "BaseType that describes a service-backed Type.",
      "type": "object",
      "id": "BaseType",
      "properties": {
        "descriptorUrl": {
          "description": "Descriptor Url for the this type.",
          "type": "string"
        },
        "options": {
          "description": "Options to apply when handling any resources in this service.",
          "$ref": "Options"
        },
        "credential": {
          "description": "Credential used when interacting with this type.",
          "$ref": "Credential"
        },
        "collectionOverrides": {
          "type": "array",
          "items": {
            "$ref": "CollectionOverride"
          },
          "description": "Allows resource handling overrides for specific collections"
        }
      }
    },
    "Help": {
      "description": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit.",
      "type": "object",
      "properties": {
        "links": {
          "items": {
            "$ref": "HelpLink"
          },
          "description": "URL(s) pointing to additional information on handling the current error.",
          "type": "array"
        }
      },
      "id": "Help"
    },
    "DeploymentUpdate": {
      "properties": {
        "labels": {
          "items": {
            "$ref": "DeploymentUpdateLabelEntry"
          },
          "type": "array",
          "description": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`."
        },
        "description": {
          "description": "Output only. An optional user-provided description of the deployment after the current update has been applied.",
          "type": "string"
        },
        "manifest": {
          "type": "string",
          "description": "Output only. URL of the manifest representing the update configuration of this deployment."
        }
      },
      "type": "object",
      "id": "DeploymentUpdate"
    },
    "ServiceAccount": {
      "description": "Service Account used as a credential.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The IAM service account email address like test@myproject.iam.gserviceaccount.com"
        }
      },
      "type": "object",
      "id": "ServiceAccount"
    },
    "ConfigFile": {
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "description": "The contents of the file."
        }
      },
      "id": "ConfigFile"
    },
    "HelpLink": {
      "type": "object",
      "properties": {
        "url": {
          "description": "The URL of the link.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Describes what the link offers."
        }
      },
      "id": "HelpLink",
      "description": "Describes a URL link."
    },
    "InstancesTroubleshootOperationMetadata": {
      "type": "object",
      "properties": {
        "troubleshootOutput": {
          "readOnly": true,
          "description": "Output only. [Output Only] Serialized output of the troubleshooting diagnostic run.",
          "type": "string"
        }
      },
      "description": "[Output Only] Operation metadata for instances.troubleshoot.",
      "id": "InstancesTroubleshootOperationMetadata"
    },
    "InputMapping": {
      "description": "InputMapping creates a 'virtual' property that will be injected into the properties before sending the request to the underlying API.",
      "id": "InputMapping",
      "properties": {
        "value": {
          "description": "A jsonPath expression to select an element.",
          "type": "string"
        },
        "location": {
          "description": "The location where this mapping applies.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PATH",
            "QUERY",
            "BODY",
            "HEADER"
          ]
        },
        "fieldName": {
          "description": "The name of the field that is going to be injected.",
          "type": "string"
        },
        "methodMatch": {
          "description": "Regex to evaluate on method to decide if input applies.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TypeProvider": {
      "id": "TypeProvider",
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "Output only. Self link for the type provider."
        },
        "labels": {
          "items": {
            "$ref": "TypeProviderLabelEntry"
          },
          "description": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`",
          "type": "array"
        },
        "description": {
          "description": "An optional textual description of the resource; provided by the client when the resource is created.",
          "type": "string"
        },
        "operation": {
          "description": "Output only. The Operation that most recently ran, or is currently running, on this type provider.",
          "$ref": "Operation"
        },
        "id": {
          "format": "uint64",
          "type": "string",
          "description": "Output only. Unique identifier for the resource defined by the server."
        },
        "credential": {
          "description": "Credential used when interacting with this type.",
          "$ref": "Credential"
        },
        "options": {
          "description": "Options to apply when handling any resources in this service.",
          "$ref": "Options"
        },
        "customCertificateAuthorityRoots": {
          "description": "List of up to 2 custom certificate authority roots to use for TLS authentication when making calls on behalf of this type provider. If set, TLS authentication will exclusively use these roots instead of relying on publicly trusted certificate authorities when validating TLS certificate authenticity. The certificates must be in base64-encoded PEM format. The maximum size of each certificate must not exceed 10KB.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "descriptorUrl": {
          "description": "Descriptor Url for the this type provider.",
          "type": "string"
        },
        "insertTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "type": "string"
        },
        "collectionOverrides": {
          "items": {
            "$ref": "CollectionOverride"
          },
          "description": "Allows resource handling overrides for specific collections",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash."
        }
      },
      "description": "A type provider that describes a service-backed Type.",
      "type": "object"
    },
    "ValidationOptions": {
      "type": "object",
      "description": "Options for how to validate and process properties on a resource.",
      "id": "ValidationOptions",
      "properties": {
        "schemaValidation": {
          "enumDescriptions": [
            "",
            "Ignore schema failures.",
            "Ignore schema failures but display them as warnings.",
            "Fail the resource if the schema is not valid, this is the default behavior."
          ],
          "description": "Customize how deployment manager will validate the resource against schema errors.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "IGNORE",
            "IGNORE_WITH_WARNINGS",
            "FAIL"
          ]
        },
        "undeclaredProperties": {
          "enumDescriptions": [
            "",
            "Always include even if not present on discovery doc.",
            "Always ignore if not present on discovery doc.",
            "Include on request, but emit a warning.",
            "Ignore properties, but emit a warning.",
            "Always fail if undeclared properties are present."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "INCLUDE",
            "IGNORE",
            "INCLUDE_WITH_WARNINGS",
            "IGNORE_WITH_WARNINGS",
            "FAIL"
          ],
          "description": "Specify what to do with extra properties when executing a request."
        }
      }
    },
    "TestPermissionsResponse": {
      "type": "object",
      "id": "TestPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      }
    },
    "DeploymentsListResponse": {
      "id": "DeploymentsListResponse",
      "properties": {
        "deployments": {
          "items": {
            "$ref": "Deployment"
          },
          "description": "Output only. The deployments contained in this response.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token used to continue a truncated list request."
        }
      },
      "type": "object",
      "description": "A response containing a partial list of deployments and a page token used to build the next request if the request has been truncated."
    },
    "TemplateContents": {
      "description": "Files that make up the template contents of a template type.",
      "type": "object",
      "properties": {
        "interpreter": {
          "description": "Which interpreter (python or jinja) should be used during expansion.",
          "type": "string",
          "enum": [
            "UNKNOWN_INTERPRETER",
            "PYTHON",
            "JINJA"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "mainTemplate": {
          "description": "The filename of the mainTemplate",
          "type": "string"
        },
        "schema": {
          "description": "The contents of the template schema.",
          "type": "string"
        },
        "template": {
          "type": "string",
          "description": "The contents of the main template file."
        },
        "imports": {
          "type": "array",
          "description": "Import files referenced by the main template.",
          "items": {
            "$ref": "ImportFile"
          }
        }
      },
      "id": "TemplateContents"
    },
    "FirewallPolicyRuleOperationMetadata": {
      "id": "FirewallPolicyRuleOperationMetadata",
      "properties": {
        "allocatedPriority": {
          "format": "int32",
          "description": "Output only. [Output Only] The priority allocated for the firewall policy rule if query parameters specified minPriority/maxPriority.",
          "type": "integer",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Metadata for FirewallPolicyRule operations."
    },
    "OperationDetails": {
      "id": "OperationDetails",
      "properties": {
        "data": {
          "type": "object",
          "description": "Machine readable data from the message.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "message": {
          "description": "Human or AI readable details on execution of the operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Options": {
      "type": "object",
      "description": "Options allows customized resource handling by Deployment Manager.",
      "id": "Options",
      "properties": {
        "virtualProperties": {
          "description": "Additional properties block described as a jsonSchema, these properties will never be part of the json payload, but they can be consumed by InputMappings, this must be a valid json schema draft-04. The properties specified here will be decouple in a different section. This schema will be merged to the schema validation, and properties here will be extracted From the payload and consumed explicitly by InputMappings. ex: field1: type: string field2: type: number",
          "type": "string"
        },
        "asyncOptions": {
          "type": "array",
          "description": "Options regarding how to thread async requests.",
          "items": {
            "$ref": "AsyncOptions"
          }
        },
        "validationOptions": {
          "description": "Options for how to validate and process properties on a resource.",
          "$ref": "ValidationOptions"
        },
        "inputMappings": {
          "type": "array",
          "items": {
            "$ref": "InputMapping"
          },
          "description": "The mappings that apply for requests."
        }
      }
    },
    "LocalizedMessage": {
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "type": "object",
      "id": "LocalizedMessage",
      "properties": {
        "locale": {
          "type": "string",
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\""
        },
        "message": {
          "description": "The localized error message in the above locale.",
          "type": "string"
        }
      }
    },
    "CompositeTypeLabelEntry": {
      "properties": {
        "key": {
          "type": "string",
          "description": "Key of the label"
        },
        "value": {
          "description": "Value of the label",
          "type": "string"
        }
      },
      "id": "CompositeTypeLabelEntry",
      "type": "object",
      "description": "Label object for CompositeTypes"
    },
    "SetCommonInstanceMetadataOperationMetadataPerLocationOperationInfo": {
      "id": "SetCommonInstanceMetadataOperationMetadataPerLocationOperationInfo",
      "type": "object",
      "properties": {
        "state": {
          "description": "[Output Only] Status of the action, which can be one of the following: `PROPAGATING`, `PROPAGATED`, `ABANDONED`, `FAILED`, or `DONE`.",
          "enumDescriptions": [
            "",
            "Operation is not yet confirmed to have been created in the location.",
            "Operation is confirmed to be in the location.",
            "Operation not tracked in this location e.g. zone is marked as DOWN.",
            "Operation is in an error state.",
            "Operation has completed successfully."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "PROPAGATING",
            "PROPAGATED",
            "ABANDONED",
            "FAILED",
            "DONE"
          ]
        },
        "error": {
          "$ref": "Status",
          "description": "[Output Only] If state is `ABANDONED` or `FAILED`, this field is populated."
        }
      }
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        }
      },
      "type": "object",
      "id": "Binding"
    },
    "QuotaExceededInfo": {
      "description": "Additional details for quota exceeded error for resource quota.",
      "type": "object",
      "properties": {
        "limitName": {
          "type": "string",
          "description": "The name of the quota limit."
        },
        "futureLimit": {
          "format": "double",
          "description": "Future quota limit being rolled out. The limit's unit depends on the quota type or metric.",
          "type": "number"
        },
        "limit": {
          "type": "number",
          "description": "Current effective quota limit. The limit's unit depends on the quota type or metric.",
          "format": "double"
        },
        "rolloutStatus": {
          "type": "string",
          "enum": [
            "ROLLOUT_STATUS_UNSPECIFIED",
            "IN_PROGRESS"
          ],
          "description": "Rollout status of the future quota limit.",
          "enumDescriptions": [
            "ROLLOUT_STATUS_UNSPECIFIED - Rollout status is not specified. The default value.",
            "IN_PROGRESS - A rollout is in process which will change the limit value to future limit."
          ]
        },
        "dimensions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The map holding related quota dimensions."
        },
        "metricName": {
          "description": "The Compute Engine quota metric name.",
          "type": "string"
        }
      },
      "id": "QuotaExceededInfo"
    },
    "CollectionOverride": {
      "description": "CollectionOverride allows resource handling overrides for specific resources within a BaseType",
      "id": "CollectionOverride",
      "properties": {
        "options": {
          "$ref": "Options",
          "description": "The options to apply to this resource-level override"
        },
        "collection": {
          "type": "string",
          "description": "The collection that identifies this resource within its service."
        }
      },
      "type": "object"
    },
    "Diagnostic": {
      "type": "object",
      "id": "Diagnostic",
      "properties": {
        "field": {
          "type": "string",
          "description": "JsonPath expression on the resource that if non empty, indicates that this field needs to be extracted as a diagnostic."
        },
        "level": {
          "description": "Level to record this diagnostic.",
          "enumDescriptions": [
            "",
            "If level is informational, it only gets displayed as part of the resource.",
            "If level is warning, will end up in the resource as a warning.",
            "If level is error, it will indicate an error occurred after finishCondition is set, and this field will populate resource errors and operation errors."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "INFORMATION",
            "WARNING",
            "ERROR"
          ]
        }
      }
    },
    "Type": {
      "description": "A resource type supported by Deployment Manager.",
      "id": "Type",
      "properties": {
        "labels": {
          "description": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`.",
          "type": "array",
          "items": {
            "$ref": "TypeLabelEntry"
          }
        },
        "id": {
          "format": "uint64",
          "type": "string"
        },
        "description": {
          "description": "An optional textual description of the resource; provided by the client when the resource is created.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the type."
        },
        "operation": {
          "description": "Output only. The Operation that most recently ran, or is currently running, on this type.",
          "$ref": "Operation"
        },
        "base": {
          "description": "Base Type (configurable service) that backs this Type.",
          "$ref": "BaseType"
        },
        "insertTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. Server defined URL for the resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResourceUpdate": {
      "id": "ResourceUpdate",
      "type": "object",
      "properties": {
        "intent": {
          "type": "string",
          "enum": [
            "CREATE_OR_ACQUIRE",
            "DELETE",
            "ACQUIRE",
            "UPDATE",
            "ABANDON",
            "CREATE"
          ],
          "enumDescriptions": [
            "The resource is scheduled to be created, or if it already exists, acquired.",
            "The resource is scheduled to be deleted.",
            "The resource is scheduled to be acquired.",
            "The resource is scheduled to be updated via the UPDATE method.",
            "The resource is scheduled to be abandoned.",
            "The resource is scheduled to be created."
          ],
          "description": "Output only. The intent of the resource: `PREVIEW`, `UPDATE`, or `CANCEL`."
        },
        "finalProperties": {
          "description": "Output only. The expanded properties of the resource with reference values expanded. Returned as serialized YAML.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "PENDING",
            "IN_PROGRESS",
            "IN_PREVIEW",
            "FAILED",
            "ABORTED"
          ],
          "enumDescriptions": [
            "There are changes pending for this resource.",
            "The service is executing changes on the resource.",
            "The service is previewing changes on the resource.",
            "The service has failed to change the resource.",
            "The service has aborted trying to change the resource."
          ],
          "description": "Output only. The state of the resource."
        },
        "manifest": {
          "description": "Output only. URL of the manifest representing the update configuration of this resource.",
          "type": "string"
        },
        "accessControl": {
          "description": "The Access Control Policy to set on this resource after updating the resource itself.",
          "$ref": "ResourceAccessControl"
        },
        "warnings": {
          "type": "array",
          "description": "Output only. If warning messages are generated during processing of this resource, this field will be populated.",
          "items": {
            "type": "object",
            "properties": {
              "message": {
                "description": "[Output Only] A human-readable description of the warning code.",
                "type": "string"
              },
              "code": {
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                "type": "string",
                "enum": [
                  "DEPRECATED_RESOURCE_USED",
                  "NO_RESULTS_ON_PAGE",
                  "UNREACHABLE",
                  "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                  "NEXT_HOP_INSTANCE_NOT_FOUND",
                  "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                  "NEXT_HOP_CANNOT_IP_FORWARD",
                  "NEXT_HOP_NOT_RUNNING",
                  "INJECTED_KERNELS_DEPRECATED",
                  "REQUIRED_TOS_AGREEMENT",
                  "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                  "RESOURCE_NOT_DELETED",
                  "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                  "NOT_CRITICAL_ERROR",
                  "CLEANUP_FAILED",
                  "FIELD_VALUE_OVERRIDEN",
                  "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                  "NETWORK_ENDPOINT_NOT_DETACHED",
                  "PAGE_MISSING_RESULTS",
                  "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED",
                  "RESOURCE_NOT_FOUND_WARNING",
                  "MISSING_TYPE_DEPENDENCY",
                  "EXTERNAL_API_WARNING",
                  "SCHEMA_VALIDATION_IGNORED",
                  "UNDECLARED_PROPERTIES",
                  "EXPERIMENTAL_TYPE_USED",
                  "DEPRECATED_TYPE_USED",
                  "PARTIAL_SUCCESS",
                  "LARGE_DEPLOYMENT_WARNING",
                  "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                  "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                  "LIST_OVERHEAD_QUOTA_EXCEED",
                  "QUOTA_INFO_UNAVAILABLE",
                  "RESOURCE_USES_GLOBAL_DNS",
                  "RATE_LIMIT_EXCEEDED",
                  "UPCOMING_MAINTENANCES_UNAVAILABLE",
                  "RESERVED_ENTRY_136",
                  "RESERVED_ENTRY_139",
                  "RESERVED_ENTRY_141",
                  "RESERVED_ENTRY_142",
                  "RESERVED_ENTRY_143"
                ],
                "enumDescriptions": [
                  "A link to a deprecated resource was created.",
                  "No results are present on a particular list page.",
                  "A given scope cannot be reached.",
                  "The route's nextHopIp address is not assigned to an instance on the network.",
                  "The route's nextHopInstance URL refers to an instance that does not exist.",
                  "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                  "The route's next hop instance cannot ip forward.",
                  "The route's next hop instance does not have a status of RUNNING.",
                  "The operation involved use of an injected kernel, which is deprecated.",
                  "The user attempted to use a resource that requires a TOS they have not accepted.",
                  "The user created a boot disk that is larger than image size.",
                  "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                  "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                  "Error which is not critical. We decided to continue the process despite the mentioned error.",
                  "Warning about failed cleanup of transient changes made by a failed operation.",
                  "Warning that value of a field has been overridden. Deprecated unused field.",
                  "Warning that a resource is in use.",
                  "Warning that network endpoint was not detached.",
                  "Current page contains less results than requested but a next page token exists.",
                  "Warning that SSL policy resource in the response does not contain information about the list of enabled features.",
                  "Warning that a resource is not found.",
                  "A resource depends on a missing type",
                  "Warning that is present in an external api call",
                  "When a resource schema validation is ignored.",
                  "When undeclared properties in the schema are present",
                  "When deploying and at least one of the resources has a type marked as experimental",
                  "When deploying and at least one of the resources has a type marked as deprecated",
                  "Success is reported, but some results may be missing due to errors",
                  "When deploying a deployment with a exceedingly large number of resources",
                  "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                  "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                  "Resource can't be retrieved due to list overhead quota exceed which captures the amount of resources filtered out by user-defined list filter.",
                  "Quota information is not available to client requests (e.g: regions.list).",
                  "Indicates that a VM is using global DNS. Can also be used to indicate that a resource has attributes that could result in the creation of a VM that uses global DNS.",
                  "Resource can't be retrieved due to api quota exceeded.",
                  "Upcoming maintenance schedule is unavailable for the resource.",
                  "Reserved entries for quickly adding new warnings without breaking dependent clients.",
                  "",
                  "",
                  "",
                  ""
                ],
                "enumDeprecated": [
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  true,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false
                ]
              },
              "data": {
                "type": "array",
                "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }] ",
                "items": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "[Output Only] A warning data value corresponding to the key."
                    },
                    "key": {
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "error": {
          "description": "Output only. If errors are generated during update of the resource, this field will be populated.",
          "properties": {
            "errors": {
              "description": "[Output Only] The array of errors encountered while processing this operation.",
              "type": "array",
              "items": {
                "description": "Represents a single error encountered during the processing of an operation.",
                "properties": {
                  "errorDetails": {
                    "description": "[Output Only] An optional list of messages that contain the error details. There is a set of defined message types to use for providing details.The syntax depends on the error code. For example, QuotaExceededInfo will have details when the error code is QUOTA_EXCEEDED.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "Container for structured error details providing additional context specific to the encountered error code.",
                      "properties": {
                        "localizedMessage": {
                          "description": "A localized human-readable error message intended for end users.",
                          "$ref": "LocalizedMessage"
                        },
                        "help": {
                          "description": "Links and information to help the user resolve the error.",
                          "$ref": "Help"
                        },
                        "errorInfo": {
                          "description": "Error information containing structured domain, reason, and metadata.",
                          "$ref": "ErrorInfo"
                        },
                        "quotaInfo": {
                          "description": "Details about quota limits and metrics when a quota is exceeded.",
                          "$ref": "QuotaExceededInfo"
                        }
                      }
                    }
                  },
                  "arguments": {
                    "readOnly": true,
                    "items": {
                      "type": "string"
                    },
                    "type": "array",
                    "description": "Output only. [Output Only] Optional error details WARNING: DO NOT MAKE VISIBLE This is for internal use-only (like componentization) (thus the visibility \"none\") and in case of public exposure it is strongly recommended to follow pattern of: https://aip.dev/193 and expose as details field."
                  },
                  "message": {
                    "description": "[Output Only] An optional, human-readable error message.",
                    "type": "string"
                  },
                  "code": {
                    "description": "[Output Only] The error type identifier for this error.",
                    "type": "string"
                  },
                  "location": {
                    "description": "[Output Only] Indicates the field in the request that caused the error. This property is optional.",
                    "type": "string"
                  },
                  "debugInfo": {
                    "$ref": "DebugInfo",
                    "readOnly": true,
                    "description": "Output only. [Output Only] Advanced debugging information with stack traces and other diagnostic details for the error."
                  }
                },
                "type": "object"
              }
            }
          },
          "type": "object"
        },
        "properties": {
          "description": "Output only. The set of updated properties for this resource, before references are expanded. Returned as serialized YAML.",
          "type": "string"
        }
      }
    },
    "BasicAuth": {
      "properties": {
        "user": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "Basic Auth used as a credential.",
      "id": "BasicAuth"
    },
    "Policy": {
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object"
    },
    "GetHealthOperationMetadata": {
      "type": "object",
      "description": "Metadata for GetHealth operations.",
      "properties": {
        "healthInfo": {
          "readOnly": true,
          "$ref": "GetHealthOperationMetadataHealthInfo",
          "description": "Output only. The health information."
        }
      },
      "id": "GetHealthOperationMetadata"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "SetAutoscalerLinkOperationMetadata": {
      "properties": {
        "zonalIgmIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "List of zonal IGM IDs part of the RMIG.",
          "type": "array"
        },
        "zoneToIgmIds": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object",
          "description": "Map of zone to an ID of the zonal IGM belonging to the RMIG."
        }
      },
      "id": "SetAutoscalerLinkOperationMetadata",
      "type": "object"
    },
    "TypeProviderLabelEntry": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of the label",
          "type": "string"
        },
        "key": {
          "description": "Key of the label",
          "type": "string"
        }
      },
      "id": "TypeProviderLabelEntry",
      "description": "Label object for TypeProviders"
    },
    "InstancesBulkInsertOperationMetadata": {
      "properties": {
        "perLocationStatus": {
          "additionalProperties": {
            "$ref": "BulkInsertOperationStatus"
          },
          "type": "object",
          "description": "Status information per location (location name is key). Example key: zones/us-central1-a"
        },
        "machineType": {
          "description": "[Output Only] The machine type of the VMs that were created used internally only by KCP flex bulk insert.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "InstancesBulkInsertOperationMetadata"
    },
    "GetHealthOperationMetadataHealthInfo": {
      "properties": {
        "unhealthyReason": {
          "description": "Output only. The reason for unhealthy status.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNHEALTHY_REASON_UNSPECIFIED",
            "UNHEALTHY_REASON_REPAIRING",
            "UNHEALTHY_REASON_PENDING_USER_APPROVAL",
            "UNHEALTHY_REASON_UNSCHEDULABLE"
          ],
          "enumDescriptions": [
            "Unspecified unhealthy reason.",
            "The slot is unhealthy because repair is in progress",
            "The slot is unhealthy because there is a pending repair, waiting for customer approval",
            "The slot is unhealthy because a vm cannot be scheduled on it, and no repairs are running on the slot"
          ]
        },
        "repairCategory": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified repair category.",
            "The repair is because of a planned maintenance",
            "The repair is because of an emergent maintenance",
            "The repair is because of a user reported fault",
            "The repair is because of critical failures, that are scoped outside emergent maintenance"
          ],
          "description": "Output only. The repair category.",
          "type": "string",
          "enum": [
            "REPAIR_CATEGORY_UNSPECIFIED",
            "REPAIR_CATEGORY_PLANNED_MAINTENANCE",
            "REPAIR_CATEGORY_EMERGENT_MAINTENANCE",
            "REPAIR_CATEGORY_USER_REPORTED_FAULT",
            "REPAIR_CATEGORY_CRITICAL_FAILURE"
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when health info was updated."
        },
        "healthStatus": {
          "readOnly": true,
          "description": "Output only. The health status.",
          "type": "string",
          "enum": [
            "HEALTH_STATUS_UNSPECIFIED",
            "HEALTH_STATUS_HEALTHY",
            "HEALTH_STATUS_UNHEALTHY"
          ],
          "enumDescriptions": [
            "Unspecified health status.",
            "The reservation slot is healthy.",
            "The reservation slot is unhealthy."
          ]
        },
        "availabilitySloStatus": {
          "enumDescriptions": [
            "Unspecified availability SLO status.",
            "The slot availability is in SLO.",
            "The slot availability is out of SLO.",
            "The slot availability is unknown."
          ],
          "readOnly": true,
          "description": "Output only. The availability SLO status.",
          "type": "string",
          "enum": [
            "AVAILABILITY_SLO_STATUS_UNSPECIFIED",
            "AVAILABILITY_SLO_STATUS_IN_SLO",
            "AVAILABILITY_SLO_STATUS_OUT_OF_SLO",
            "AVAILABILITY_SLO_STATUS_SLO_UNKNOWN"
          ]
        }
      },
      "description": "Health information.",
      "id": "GetHealthOperationMetadataHealthInfo",
      "type": "object"
    },
    "AsyncOptions": {
      "type": "object",
      "properties": {
        "pollingOptions": {
          "$ref": "PollingOptions",
          "description": "Deployment manager will poll instances for this API resource setting a RUNNING state, and blocking until polling conditions tell whether the resource is completed or failed."
        },
        "methodMatch": {
          "description": "Method regex where this policy will apply.",
          "type": "string"
        }
      },
      "id": "AsyncOptions",
      "description": "Async options that determine when a resource should finish."
    },
    "ErrorInfo": {
      "properties": {
        "reason": {
          "description": "The reason of the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        },
        "domain": {
          "description": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\".",
          "type": "string"
        },
        "metadatas": {
          "type": "object",
          "description": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }",
      "type": "object",
      "id": "ErrorInfo"
    },
    "Deployment": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uint64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash."
        },
        "fingerprint": {
          "description": "Provides a fingerprint to use in requests to modify a deployment, such as `update()`, `stop()`, and `cancelPreview()` requests. A fingerprint is a randomly generated value that must be provided with `update()`, `stop()`, and `cancelPreview()` requests to perform optimistic locking. This ensures optimistic concurrency so that only one request happens at a time. The fingerprint is initially generated by Deployment Manager and changes after every request to modify data. To get the latest fingerprint value, perform a `get()` request to a deployment.",
          "format": "byte",
          "type": "string"
        },
        "manifest": {
          "description": "Output only. URL of the manifest representing the last manifest that was successfully deployed. If no manifest has been successfully deployed, this field will be absent.",
          "type": "string"
        },
        "update": {
          "description": "Output only. If Deployment Manager is currently updating or previewing an update to this deployment, the updated configuration appears here.",
          "$ref": "DeploymentUpdate"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "DeploymentLabelEntry"
          },
          "description": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`."
        },
        "target": {
          "description": "[Input Only] The parameters that define your deployment, including the deployment configuration and relevant templates.",
          "$ref": "TargetConfiguration"
        },
        "insertTime": {
          "type": "string",
          "description": "Output only. Creation timestamp in RFC3339 text format."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Update timestamp in RFC3339 text format."
        },
        "description": {
          "type": "string",
          "description": "An optional user-provided description of the deployment."
        },
        "operation": {
          "description": "Output only. The Operation that most recently ran, or is currently running, on this deployment.",
          "$ref": "Operation"
        },
        "selfLink": {
          "description": "Output only. Server defined URL for the resource.",
          "type": "string"
        }
      },
      "id": "Deployment"
    },
    "TypeProvidersListResponse": {
      "properties": {
        "typeProviders": {
          "items": {
            "$ref": "TypeProvider"
          },
          "description": "Output only. A list of resource type providers supported by Deployment Manager.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token used to continue a truncated list request."
        }
      },
      "type": "object",
      "description": "A response that returns all Type Providers supported by Deployment Manager",
      "id": "TypeProvidersListResponse"
    },
    "CompositeType": {
      "properties": {
        "insertTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "type": "string"
        },
        "operation": {
          "description": "Output only. The Operation that most recently ran, or is currently running, on this composite type.",
          "$ref": "Operation"
        },
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_STATUS",
            "DEPRECATED",
            "EXPERIMENTAL",
            "SUPPORTED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of the composite type, must follow the expression: `[a-z]([-a-z0-9_.]{0,61}[a-z0-9])?`."
        },
        "templateContents": {
          "$ref": "TemplateContents",
          "description": "Files for the template type."
        },
        "selfLink": {
          "description": "Output only. Server defined URL for the resource.",
          "type": "string"
        },
        "description": {
          "description": "An optional textual description of the resource; provided by the client when the resource is created.",
          "type": "string"
        },
        "labels": {
          "type": "array",
          "description": "Map of labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`.",
          "items": {
            "$ref": "CompositeTypeLabelEntry"
          }
        }
      },
      "id": "CompositeType",
      "type": "object",
      "description": "Holds the composite type."
    },
    "Expr": {
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr"
    },
    "PollingOptions": {
      "type": "object",
      "properties": {
        "pollingLink": {
          "type": "string",
          "description": "JsonPath expression that evaluates to string, it indicates where to poll."
        },
        "targetLink": {
          "type": "string",
          "description": "JsonPath expression, after polling is completed, indicates where to fetch the resource."
        },
        "diagnostics": {
          "items": {
            "$ref": "Diagnostic"
          },
          "type": "array",
          "description": "An array of diagnostics to be collected by Deployment Manager, these diagnostics will be displayed to the user."
        },
        "failCondition": {
          "type": "string",
          "description": "JsonPath expression that determines if the request failed."
        },
        "finishCondition": {
          "description": "JsonPath expression that determines if the request is completed.",
          "type": "string"
        }
      },
      "id": "PollingOptions"
    },
    "OperationsListResponse": {
      "description": "A response containing a partial list of operations and a page token used to build the next request if the request has been truncated.",
      "id": "OperationsListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token used to continue a truncated list request.",
          "type": "string"
        },
        "operations": {
          "description": "Output only. Operations contained in this list response.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      }
    },
    "Resource": {
      "properties": {
        "finalProperties": {
          "type": "string",
          "description": "Output only. The evaluated properties of the resource with references expanded. Returned as serialized YAML."
        },
        "warnings": {
          "type": "array",
          "description": "Output only. If warning messages are generated during processing of this resource, this field will be populated.",
          "items": {
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "DEPRECATED_RESOURCE_USED",
                  "NO_RESULTS_ON_PAGE",
                  "UNREACHABLE",
                  "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                  "NEXT_HOP_INSTANCE_NOT_FOUND",
                  "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                  "NEXT_HOP_CANNOT_IP_FORWARD",
                  "NEXT_HOP_NOT_RUNNING",
                  "INJECTED_KERNELS_DEPRECATED",
                  "REQUIRED_TOS_AGREEMENT",
                  "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                  "RESOURCE_NOT_DELETED",
                  "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                  "NOT_CRITICAL_ERROR",
                  "CLEANUP_FAILED",
                  "FIELD_VALUE_OVERRIDEN",
                  "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                  "NETWORK_ENDPOINT_NOT_DETACHED",
                  "PAGE_MISSING_RESULTS",
                  "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED",
                  "RESOURCE_NOT_FOUND_WARNING",
                  "MISSING_TYPE_DEPENDENCY",
                  "EXTERNAL_API_WARNING",
                  "SCHEMA_VALIDATION_IGNORED",
                  "UNDECLARED_PROPERTIES",
                  "EXPERIMENTAL_TYPE_USED",
                  "DEPRECATED_TYPE_USED",
                  "PARTIAL_SUCCESS",
                  "LARGE_DEPLOYMENT_WARNING",
                  "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                  "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                  "LIST_OVERHEAD_QUOTA_EXCEED",
                  "QUOTA_INFO_UNAVAILABLE",
                  "RESOURCE_USES_GLOBAL_DNS",
                  "RATE_LIMIT_EXCEEDED",
                  "UPCOMING_MAINTENANCES_UNAVAILABLE",
                  "RESERVED_ENTRY_136",
                  "RESERVED_ENTRY_139",
                  "RESERVED_ENTRY_141",
                  "RESERVED_ENTRY_142",
                  "RESERVED_ENTRY_143"
                ],
                "enumDeprecated": [
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  true,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false
                ],
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                "enumDescriptions": [
                  "A link to a deprecated resource was created.",
                  "No results are present on a particular list page.",
                  "A given scope cannot be reached.",
                  "The route's nextHopIp address is not assigned to an instance on the network.",
                  "The route's nextHopInstance URL refers to an instance that does not exist.",
                  "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                  "The route's next hop instance cannot ip forward.",
                  "The route's next hop instance does not have a status of RUNNING.",
                  "The operation involved use of an injected kernel, which is deprecated.",
                  "The user attempted to use a resource that requires a TOS they have not accepted.",
                  "The user created a boot disk that is larger than image size.",
                  "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                  "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                  "Error which is not critical. We decided to continue the process despite the mentioned error.",
                  "Warning about failed cleanup of transient changes made by a failed operation.",
                  "Warning that value of a field has been overridden. Deprecated unused field.",
                  "Warning that a resource is in use.",
                  "Warning that network endpoint was not detached.",
                  "Current page contains less results than requested but a next page token exists.",
                  "Warning that SSL policy resource in the response does not contain information about the list of enabled features.",
                  "Warning that a resource is not found.",
                  "A resource depends on a missing type",
                  "Warning that is present in an external api call",
                  "When a resource schema validation is ignored.",
                  "When undeclared properties in the schema are present",
                  "When deploying and at least one of the resources has a type marked as experimental",
                  "When deploying and at least one of the resources has a type marked as deprecated",
                  "Success is reported, but some results may be missing due to errors",
                  "When deploying a deployment with a exceedingly large number of resources",
                  "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                  "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                  "Resource can't be retrieved due to list overhead quota exceed which captures the amount of resources filtered out by user-defined list filter.",
                  "Quota information is not available to client requests (e.g: regions.list).",
                  "Indicates that a VM is using global DNS. Can also be used to indicate that a resource has attributes that could result in the creation of a VM that uses global DNS.",
                  "Resource can't be retrieved due to api quota exceeded.",
                  "Upcoming maintenance schedule is unavailable for the resource.",
                  "Reserved entries for quickly adding new warnings without breaking dependent clients.",
                  "",
                  "",
                  "",
                  ""
                ]
              },
              "data": {
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                      "type": "string"
                    },
                    "value": {
                      "description": "[Output Only] A warning data value corresponding to the key.",
                      "type": "string"
                    }
                  }
                },
                "type": "array",
                "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }] "
              },
              "message": {
                "description": "[Output Only] A human-readable description of the warning code.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "accessControl": {
          "description": "The Access Control Policy set on this resource.",
          "$ref": "ResourceAccessControl"
        },
        "update": {
          "description": "Output only. If Deployment Manager is currently updating or previewing an update to this resource, the updated configuration appears here.",
          "$ref": "ResourceUpdate"
        },
        "updateTime": {
          "type": "string",
[...]
