{
  "version": "alpha",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "deploymentmanager:alpha",
  "batchPath": "batch",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://deploymentmanager.mtls.googleapis.com/",
  "description": "The Google Cloud Deployment Manager v2 API provides services for configuring, deploying, and viewing Google Cloud services and APIs via templates which specify deployments of Cloud resources.",
  "servicePath": "",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "revision": "20260827",
  "resources": {
    "types": {
      "methods": {
        "get": {
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/types/{type}",
          "path": "deploymentmanager/alpha/projects/{project}/global/types/{type}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameters": {
            "project": {
              "description": "The project ID for this request.",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "required": true
            },
            "type": {
              "description": "The name of the type for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            }
          },
          "description": "Gets information about a specific type.",
          "parameterOrder": [
            "project",
            "type"
          ],
          "id": "deploymentmanager.types.get",
          "response": {
            "$ref": "Type"
          },
          "httpMethod": "GET"
        },
        "list": {
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/types",
          "description": "Lists all resource types for Deployment Manager.",
          "path": "deploymentmanager/alpha/projects/{project}/global/types",
          "parameterOrder": [
            "project"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "id": "deploymentmanager.types.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "TypesListResponse"
          },
          "parameters": {
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "description": "The project ID for this request.",
              "required": true,
              "location": "path"
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results."
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "type": "integer",
              "default": "500",
              "minimum": "0"
            }
          }
        }
      }
    },
    "manifests": {
      "methods": {
        "get": {
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/manifests/{manifest}",
          "response": {
            "$ref": "Manifest"
          },
          "id": "deploymentmanager.manifests.get",
          "parameterOrder": [
            "project",
            "deployment",
            "manifest"
          ],
          "httpMethod": "GET",
          "parameters": {
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "deployment": {
              "description": "The name of the deployment for this request.",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string",
              "location": "path"
            },
            "project": {
              "description": "The project ID for this request.",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "required": true
            },
            "manifest": {
              "description": "The name of the manifest for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "description": "Gets information about a specific manifest.",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/manifests/{manifest}"
        },
        "list": {
          "response": {
            "$ref": "ManifestsListResponse"
          },
          "description": "Lists all manifests for a given deployment.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameters": {
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "required": true,
              "description": "The project ID for this request.",
              "location": "path"
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string",
              "location": "query"
            },
            "deployment": {
              "description": "The name of the deployment for this request.",
              "required": true,
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path"
            },
            "maxResults": {
              "minimum": "0",
              "default": "500",
              "location": "query",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "format": "uint32",
              "type": "integer"
            },
            "orderBy": {
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions."
            }
          },
          "id": "deploymentmanager.manifests.list",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/manifests",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/manifests",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "compositeTypes": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "id": "deploymentmanager.compositeTypes.insert",
          "description": "Creates a composite type.",
          "response": {
            "$ref": "Operation"
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/compositeTypes",
          "parameters": {
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/compositeTypes",
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "CompositeType"
          }
        },
        "list": {
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "minimum": "0",
              "type": "integer",
              "location": "query",
              "default": "500"
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "response": {
            "$ref": "CompositeTypesListResponse"
          },
          "httpMethod": "GET",
          "description": "Lists all composite types for Deployment Manager.",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/compositeTypes",
          "parameterOrder": [
            "project"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/compositeTypes",
          "id": "deploymentmanager.compositeTypes.list"
        },
        "patch": {
          "request": {
            "$ref": "CompositeType"
          },
          "parameterOrder": [
            "project",
            "compositeType"
          ],
          "httpMethod": "PATCH",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "parameters": {
            "project": {
              "description": "The project ID for this request.",
              "location": "path",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "compositeType": {
              "location": "path",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9_.]{0,61}[a-z0-9])?",
              "type": "string",
              "description": "The name of the composite type for this request."
            }
          },
          "description": "Patches a composite type.",
          "response": {
            "$ref": "Operation"
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "id": "deploymentmanager.compositeTypes.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        },
        "update": {
          "parameters": {
            "project": {
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "The project ID for this request.",
              "location": "path"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "compositeType": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The name of the composite type for this request.",
              "pattern": "[a-z](?:[-a-z0-9_.]{0,61}[a-z0-9])?"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "CompositeType"
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "id": "deploymentmanager.compositeTypes.update",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "description": "Updates a composite type.",
          "parameterOrder": [
            "project",
            "compositeType"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}"
        },
        "delete": {
          "description": "Deletes a composite type.",
          "httpMethod": "DELETE",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "parameters": {
            "project": {
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "The project ID for this request.",
              "location": "path"
            },
            "compositeType": {
              "description": "The name of the type for this request.",
              "required": true,
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9_.]{0,61}[a-z0-9])?",
              "type": "string"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "id": "deploymentmanager.compositeTypes.delete",
          "parameterOrder": [
            "project",
            "compositeType"
          ]
        },
        "get": {
          "parameters": {
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "compositeType": {
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9_.]{0,61}[a-z0-9])?",
              "description": "The name of the composite type for this request.",
              "required": true,
              "location": "path"
            },
            "project": {
              "description": "The project ID for this request.",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "project",
            "compositeType"
          ],
          "id": "deploymentmanager.compositeTypes.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "CompositeType"
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "description": "Gets information about a specific composite type.",
          "path": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ]
        }
      }
    },
    "operations": {
      "methods": {
        "list": {
          "parameters": {
            "filter": {
              "location": "query",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "minimum": "0",
              "default": "500",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)"
            },
            "orderBy": {
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "description": "The project ID for this request.",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "location": "query",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "OperationsListResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/operations",
          "parameterOrder": [
            "project"
          ],
          "id": "deploymentmanager.operations.list",
          "description": "Lists all operations for a project.",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/operations"
        },
        "get": {
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "id": "deploymentmanager.operations.get",
          "httpMethod": "GET",
          "path": "deploymentmanager/alpha/projects/{project}/global/operations/{operation}",
          "parameterOrder": [
            "project",
            "operation"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/operations/{operation}",
          "description": "Gets information about a specific operation.",
          "parameters": {
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "operation": {
              "required": true,
              "description": "The name of the operation for this request.",
              "type": "string",
              "location": "path"
            }
          }
        }
      }
    },
    "typeProviders": {
      "methods": {
        "update": {
          "request": {
            "$ref": "TypeProvider"
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Updates a type provider.",
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "parameters": {
            "project": {
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "required": true,
              "location": "path"
            },
            "typeProvider": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The name of the type provider for this request."
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            }
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "id": "deploymentmanager.typeProviders.update"
        },
        "patch": {
          "request": {
            "$ref": "TypeProvider"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "typeProvider": {
              "type": "string",
              "description": "The name of the type provider for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "required": true
            },
            "project": {
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "The project ID for this request.",
              "location": "path"
            }
          },
          "id": "deploymentmanager.typeProviders.patch",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "description": "Patches a type provider.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "description": "Deletes a type provider.",
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "parameters": {
            "typeProvider": {
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "required": true,
              "description": "The name of the type provider for this request."
            },
            "project": {
              "type": "string",
              "description": "The project ID for this request.",
              "required": true,
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            }
          },
          "id": "deploymentmanager.typeProviders.delete",
          "response": {
            "$ref": "Operation"
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "httpMethod": "DELETE"
        },
        "get": {
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "id": "deploymentmanager.typeProviders.get",
          "parameters": {
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "typeProvider": {
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the type provider for this request.",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "TypeProvider"
          },
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "httpMethod": "GET",
          "description": "Gets information about a specific type provider."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders",
          "description": "Lists all resource type providers for Deployment Manager.",
          "response": {
            "$ref": "TypeProvidersListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders",
          "parameters": {
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "type": "integer",
              "format": "uint32",
              "minimum": "0",
              "default": "500",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query"
            }
          },
          "id": "deploymentmanager.typeProviders.list"
        },
        "listTypes": {
          "parameters": {
            "typeProvider": {
              "required": true,
              "description": "The name of the type provider for this request.",
              "type": "string",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions."
            },
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "default": "500",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "minimum": "0",
              "type": "integer",
              "format": "uint32"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "required": true,
              "description": "The project ID for this request.",
              "type": "string"
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}/types",
          "description": "Lists all the type info for a TypeProvider.",
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}/types",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "response": {
            "$ref": "TypeProvidersListTypesResponse"
          },
          "id": "deploymentmanager.typeProviders.listTypes",
          "parameterOrder": [
            "project",
            "typeProvider"
          ]
        },
        "getType": {
          "description": "Gets a type info for a type provided by a TypeProvider.",
          "parameters": {
            "project": {
              "description": "The project ID for this request.",
              "type": "string",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true
            },
            "type": {
              "description": "The name of the type provider type for this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "typeProvider": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "type": "string",
              "description": "The name of the type provider for this request.",
              "required": true
            }
          },
          "parameterOrder": [
            "project",
            "typeProvider",
            "type"
          ],
          "id": "deploymentmanager.typeProviders.getType",
          "httpMethod": "GET",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}/types/{type}",
          "response": {
            "$ref": "TypeInfo"
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}/types/{type}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ]
        },
        "insert": {
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "TypeProvider"
          },
          "description": "Creates a type provider.",
          "parameterOrder": [
            "project"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "httpMethod": "POST",
          "id": "deploymentmanager.typeProviders.insert",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders",
          "parameters": {
            "project": {
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            }
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders"
        }
      }
    },
    "deployments": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "description": "Deletes a deployment and all of the resources in the deployment.",
          "response": {
            "$ref": "Operation"
          },
          "id": "deploymentmanager.deployments.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "parameters": {
            "deletePolicy": {
              "location": "query",
              "type": "string",
              "enum": [
                "DELETE",
                "ABANDON"
              ],
              "description": "Sets the policy to use for deleting resources.",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "DELETE"
            },
            "project": {
              "type": "string",
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "required": true
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "deployment": {
              "type": "string",
              "location": "path",
              "description": "The name of the deployment for this request.",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}"
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments",
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "type": "integer",
              "location": "query",
              "minimum": "0",
              "default": "500"
            },
            "pageToken": {
              "type": "string",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query"
            },
            "project": {
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "type": "string",
              "required": true
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            },
            "filter": {
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "response": {
            "$ref": "DeploymentsListResponse"
          },
          "description": "Lists all deployments for a given project.",
          "id": "deploymentmanager.deployments.list",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments",
          "parameterOrder": [
            "project"
          ]
        },
        "update": {
          "response": {
            "$ref": "Operation"
          },
          "id": "deploymentmanager.deployments.update",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "createPolicy": {
              "description": "Sets the policy to use for creating new resources.",
              "default": "CREATE_OR_ACQUIRE",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "enum": [
                "CREATE_OR_ACQUIRE",
                "ACQUIRE",
                "CREATE"
              ]
            },
            "deletePolicy": {
              "type": "string",
              "enum": [
                "DELETE",
                "ABANDON"
              ],
              "description": "Sets the policy to use for deleting resources.",
              "location": "query",
              "default": "DELETE",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "deployment": {
              "type": "string",
              "description": "The name of the deployment for this request.",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "preview": {
              "description": "If set to true, updates the deployment and creates and updates the \"shell\" resources but does not actually alter or instantiate these resources. This allows you to preview what your deployment will look like. You can use this intent to preview how an update would affect your deployment. You must provide a `target.config` with a configuration if this is set to true. After previewing a deployment, you can deploy your resources by making a request with the `update()` or you can `cancelPreview()` to remove the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            }
          },
          "description": "Updates a deployment and all of the resources described by the deployment manifest.",
          "request": {
            "$ref": "Deployment"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        },
        "stop": {
          "request": {
            "$ref": "DeploymentsStopRequest"
          },
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/stop",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "type": "string",
              "description": "The project ID for this request."
            },
            "deployment": {
              "description": "The name of the deployment for this request.",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "type": "string"
            }
          },
          "description": "Stops an ongoing operation. This does not roll back any work that has already been completed, but prevents any new work from being started.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "id": "deploymentmanager.deployments.stop",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/stop"
        },
        "patch": {
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "description": "Patches a deployment and all of the resources described by the deployment manifest.",
          "request": {
            "$ref": "Deployment"
          },
          "parameters": {
            "project": {
              "description": "The project ID for this request.",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "type": "string"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "deployment": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the deployment for this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "preview": {
              "type": "boolean",
              "location": "query",
              "description": "If set to true, updates the deployment and creates and updates the \"shell\" resources but does not actually alter or instantiate these resources. This allows you to preview what your deployment will look like. You can use this intent to preview how an update would affect your deployment. You must provide a `target.config` with a configuration if this is set to true. After previewing a deployment, you can deploy your resources by making a request with the `update()` or you can `cancelPreview()` to remove the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.",
              "default": "false"
            },
            "createPolicy": {
              "location": "query",
              "type": "string",
              "default": "CREATE_OR_ACQUIRE",
              "enum": [
                "CREATE_OR_ACQUIRE",
                "ACQUIRE",
                "CREATE"
              ],
              "description": "Sets the policy to use for creating new resources.",
              "enumDescriptions": [
                "",
                "",
                ""
              ]
            },
            "deletePolicy": {
              "description": "Sets the policy to use for deleting resources.",
              "type": "string",
              "enum": [
                "DELETE",
                "ABANDON"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "default": "DELETE"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "id": "deploymentmanager.deployments.patch",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "httpMethod": "PATCH"
        },
        "cancelPreview": {
          "request": {
            "$ref": "DeploymentsCancelPreviewRequest"
          },
          "parameters": {
            "deployment": {
              "description": "The name of the deployment for this request.",
              "required": true,
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "location": "path",
              "description": "The project ID for this request.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/cancelPreview",
          "httpMethod": "POST",
          "description": "Cancels and removes the preview currently associated with the deployment.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "deploymentmanager.deployments.cancelPreview",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/cancelPreview"
        },
        "get": {
          "description": "Gets information about a specific deployment.",
          "response": {
            "$ref": "Deployment"
          },
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameters": {
            "project": {
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "type": "string",
              "required": true
            },
            "deployment": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the deployment for this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            }
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "httpMethod": "GET",
          "id": "deploymentmanager.deployments.get"
        },
        "getIamPolicy": {
          "parameters": {
            "optionsRequestedPolicyVersion": {
              "description": "Requested IAM Policy version.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "resource": {
              "location": "path",
              "description": "Name or id of the resource for this request.",
              "required": true,
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}"
            },
            "project": {
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "resource"
          ],
          "description": "Gets the access control policy for a resource. May be empty if no such policy or resource exists.",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{resource}/getIamPolicy",
          "id": "deploymentmanager.deployments.getIamPolicy",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{resource}/getIamPolicy"
        },
        "setIamPolicy": {
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{resource}/setIamPolicy",
          "id": "deploymentmanager.deployments.setIamPolicy",
          "request": {
            "$ref": "GlobalSetPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "parameterOrder": [
            "project",
            "resource"
          ],
          "httpMethod": "POST",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy.",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{resource}/setIamPolicy",
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "resource": {
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "location": "path",
              "required": true,
              "description": "Name or id of the resource for this request.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Project ID for this request.",
              "required": true,
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            }
          }
        },
        "testIamPermissions": {
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{resource}/testIamPermissions",
          "response": {
            "$ref": "TestPermissionsResponse"
          },
          "parameterOrder": [
            "project",
            "resource"
          ],
          "parameters": {
            "resource": {
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true,
              "description": "Name or id of the resource for this request.",
              "location": "path"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "deploymentmanager.deployments.testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "request": {
            "$ref": "TestPermissionsRequest"
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{resource}/testIamPermissions",
          "httpMethod": "POST",
          "description": "Returns permissions that a caller has on the specified resource."
        },
        "insert": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "description": "The project ID for this request.",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string"
            },
            "createPolicy": {
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "description": "Sets the policy to use for creating new resources.",
              "enum": [
                "CREATE_OR_ACQUIRE",
                "ACQUIRE",
                "CREATE"
              ],
              "default": "CREATE_OR_ACQUIRE",
              "location": "query",
              "type": "string"
            },
            "preview": {
              "type": "boolean",
              "location": "query",
              "description": "If set to true, creates a deployment and creates \"shell\" resources but does not actually instantiate these resources. This allows you to preview what your deployment looks like. After previewing a deployment, you can deploy your resources by making a request with the `update()` method or you can use the `cancelPreview()` method to cancel the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it."
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            }
          },
          "request": {
            "$ref": "Deployment"
          },
          "httpMethod": "POST",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments",
          "id": "deploymentmanager.deployments.insert",
          "description": "Creates a deployment and all of the resources described by the deployment manifest.",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments"
        }
      }
    },
    "resources": {
      "methods": {
        "get": {
          "parameterOrder": [
            "project",
            "deployment",
            "resource"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/resources/{resource}",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/resources/{resource}",
          "description": "Gets information about a single resource.",
          "parameters": {
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "deployment": {
              "description": "The name of the deployment for this request.",
              "type": "string",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "resource": {
              "required": true,
              "description": "The name of the resource for this request.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Resource"
          },
          "httpMethod": "GET",
          "id": "deploymentmanager.resources.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/resources",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/resources",
          "description": "Lists all resources in a given deployment.",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "httpMethod": "GET",
          "id": "deploymentmanager.resources.list",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string"
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query",
              "type": "string"
            },
            "deployment": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The name of the deployment for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "maxResults": {
              "location": "query",
              "minimum": "0",
              "format": "uint32",
              "type": "integer",
              "default": "500",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            },
            "filter": {
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ResourcesListResponse"
          }
        }
      }
    }
  },
  "baseUrl": "https://deploymentmanager.googleapis.com/",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "name": "deploymentmanager",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ndev.cloudman": {
          "description": "View and manage your Google Cloud Platform management resources and deployment status information"
        },
        "https://www.googleapis.com/auth/ndev.cloudman.readonly": {
          "description": "View your Google Cloud Platform management resources and deployment status information"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "basePath": "",
  "title": "Cloud Deployment Manager V2 API",
  "rootUrl": "https://deploymentmanager.googleapis.com/",
  "schemas": {
    "BasicAuth": {
      "id": "BasicAuth",
      "type": "object",
      "properties": {
        "user": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      },
      "description": "Basic Auth used as a credential."
    },
    "Diagnostic": {
      "properties": {
        "field": {
          "type": "string",
          "description": "JsonPath expression on the resource that if non empty, indicates that this field needs to be extracted as a diagnostic."
        },
        "level": {
          "description": "Level to record this diagnostic.",
          "enumDescriptions": [
            "",
            "If level is informational, it only gets displayed as part of the resource.",
            "If level is warning, will end up in the resource as a warning.",
            "If level is error, it will indicate an error occurred after finishCondition is set, and this field will populate resource errors and operation errors."
          ],
          "enum": [
            "UNKNOWN",
            "INFORMATION",
            "WARNING",
            "ERROR"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "Diagnostic"
    },
    "Resource": {
      "id": "Resource",
      "type": "object",
      "properties": {
        "warnings": {
          "description": "Output only. If warning messages are generated during processing of this resource, this field will be populated.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "data": {
                "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }] ",
                "type": "array",
                "items": {
                  "properties": {
                    "value": {
                      "description": "[Output Only] A warning data value corresponding to the key.",
                      "type": "string"
                    },
                    "key": {
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "message": {
                "type": "string",
                "description": "[Output Only] A human-readable description of the warning code."
              },
              "code": {
                "enum": [
                  "DEPRECATED_RESOURCE_USED",
                  "NO_RESULTS_ON_PAGE",
                  "UNREACHABLE",
                  "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                  "NEXT_HOP_INSTANCE_NOT_FOUND",
                  "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                  "NEXT_HOP_CANNOT_IP_FORWARD",
                  "NEXT_HOP_NOT_RUNNING",
                  "INJECTED_KERNELS_DEPRECATED",
                  "REQUIRED_TOS_AGREEMENT",
                  "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                  "RESOURCE_NOT_DELETED",
                  "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                  "NOT_CRITICAL_ERROR",
                  "CLEANUP_FAILED",
                  "FIELD_VALUE_OVERRIDEN",
                  "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                  "NETWORK_ENDPOINT_NOT_DETACHED",
                  "PAGE_MISSING_RESULTS",
                  "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED",
                  "RESOURCE_NOT_FOUND_WARNING",
                  "MISSING_TYPE_DEPENDENCY",
                  "EXTERNAL_API_WARNING",
                  "SCHEMA_VALIDATION_IGNORED",
                  "UNDECLARED_PROPERTIES",
                  "EXPERIMENTAL_TYPE_USED",
                  "DEPRECATED_TYPE_USED",
                  "PARTIAL_SUCCESS",
                  "LARGE_DEPLOYMENT_WARNING",
                  "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                  "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                  "LIST_OVERHEAD_QUOTA_EXCEED",
                  "QUOTA_INFO_UNAVAILABLE",
                  "RESOURCE_USES_GLOBAL_DNS",
                  "RATE_LIMIT_EXCEEDED",
                  "UPCOMING_MAINTENANCES_UNAVAILABLE",
                  "RESERVED_ENTRY_136",
                  "RESERVED_ENTRY_139",
                  "RESERVED_ENTRY_141",
                  "RESERVED_ENTRY_142",
                  "RESERVED_ENTRY_143"
                ],
                "type": "string",
                "enumDescriptions": [
                  "A link to a deprecated resource was created.",
                  "No results are present on a particular list page.",
                  "A given scope cannot be reached.",
                  "The route's nextHopIp address is not assigned to an instance on the network.",
                  "The route's nextHopInstance URL refers to an instance that does not exist.",
                  "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                  "The route's next hop instance cannot ip forward.",
                  "The route's next hop instance does not have a status of RUNNING.",
                  "The operation involved use of an injected kernel, which is deprecated.",
                  "The user attempted to use a resource that requires a TOS they have not accepted.",
                  "The user created a boot disk that is larger than image size.",
                  "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                  "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                  "Error which is not critical. We decided to continue the process despite the mentioned error.",
                  "Warning about failed cleanup of transient changes made by a failed operation.",
                  "Warning that value of a field has been overridden. Deprecated unused field.",
                  "Warning that a resource is in use.",
                  "Warning that network endpoint was not detached.",
                  "Current page contains less results than requested but a next page token exists.",
                  "Warning that SSL policy resource in the response does not contain information about the list of enabled features.",
                  "Warning that a resource is not found.",
                  "A resource depends on a missing type",
                  "Warning that is present in an external api call",
                  "When a resource schema validation is ignored.",
                  "When undeclared properties in the schema are present",
                  "When deploying and at least one of the resources has a type marked as experimental",
                  "When deploying and at least one of the resources has a type marked as deprecated",
                  "Success is reported, but some results may be missing due to errors",
                  "When deploying a deployment with a exceedingly large number of resources",
                  "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                  "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                  "Resource can't be retrieved due to list overhead quota exceed which captures the amount of resources filtered out by user-defined list filter.",
                  "Quota information is not available to client requests (e.g: regions.list).",
                  "Indicates that a VM is using global DNS. Can also be used to indicate that a resource has attributes that could result in the creation of a VM that uses global DNS.",
                  "Resource can't be retrieved due to api quota exceeded.",
                  "Upcoming maintenance schedule is unavailable for the resource.",
                  "Reserved entries for quickly adding new warnings without breaking dependent clients.",
                  "",
                  "",
                  "",
                  ""
                ],
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                "enumDeprecated": [
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
[...]
