{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "baseUrl": "https://deploymentmanager.googleapis.com/",
  "revision": "20260827",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "id": "deploymentmanager:v2beta",
  "schemas": {
    "TemplateContents": {
      "properties": {
        "schema": {
          "type": "string",
          "description": "The contents of the template schema."
        },
        "interpreter": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_INTERPRETER",
            "PYTHON",
            "JINJA"
          ],
          "description": "Which interpreter (python or jinja) should be used during expansion."
        },
        "template": {
          "description": "The contents of the main template file.",
          "type": "string"
        },
        "imports": {
          "description": "Import files referenced by the main template.",
          "items": {
            "$ref": "ImportFile"
          },
          "type": "array"
        },
        "mainTemplate": {
          "type": "string",
          "description": "The filename of the mainTemplate"
        }
      },
      "description": "Files that make up the template contents of a template type.",
      "type": "object",
      "id": "TemplateContents"
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "BulkInsertOperationStatus": {
      "id": "BulkInsertOperationStatus",
      "properties": {
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "CREATING",
            "ROLLING_BACK",
            "DONE",
            "PENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Rolling forward - creating VMs.",
            "Rolling back - cleaning up after an error.",
            "Done",
            "Pending - waiting until the capacity is available."
          ],
          "description": "[Output Only] Creation status of BulkInsert operation - information if the flow is rolling forward or rolling back."
        },
        "createdVmCount": {
          "description": "[Output Only] Count of VMs successfully created so far.",
          "format": "int32",
          "type": "integer"
        },
        "failedToCreateVmCount": {
          "description": "[Output Only] Count of VMs that started creating but encountered an error.",
          "type": "integer",
          "format": "int32"
        },
        "targetVmCount": {
          "format": "int32",
          "description": "[Output Only] Count of VMs originally planned to be created.",
          "type": "integer"
        },
        "deletedVmCount": {
          "format": "int32",
          "description": "[Output Only] Count of VMs that got deleted during rollback.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "DeploymentLabelEntry": {
      "properties": {
        "value": {
          "description": "Value of the label",
          "type": "string"
        },
        "key": {
          "description": "Key of the label",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DeploymentLabelEntry",
      "description": "Label object for Deployments"
    },
    "GlobalSetPolicyRequest": {
      "properties": {
        "bindings": {
          "type": "array",
          "description": "Flatten Policy to create a backward compatible wire-format. Deprecated. Use 'policy' to specify bindings.",
          "items": {
            "$ref": "Binding"
          }
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the 'resource'. The size of the policy is limited to a few 10s of KB. An empty policy is in general a valid policy but certain services (like Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Update mask for the policy."
        },
        "etag": {
          "description": "Flatten Policy to create a backward compatible wire-format. Deprecated. Use 'policy' to specify the etag.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GlobalSetPolicyRequest",
      "type": "object"
    },
    "AuditLogConfig": {
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        },
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables."
        }
      },
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig"
    },
    "TypeInfoSchemaInfo": {
      "properties": {
        "input": {
          "type": "string",
          "description": "The properties that this composite type or base type collection accept as input, represented as a json blob, format is: JSON Schema Draft V4"
        },
        "output": {
          "type": "string",
          "description": "The properties that this composite type or base type collection exposes as output, these properties can be used for references, represented as json blob, format is: JSON Schema Draft V4"
        }
      },
      "id": "TypeInfoSchemaInfo",
      "type": "object"
    },
    "InstancesBulkInsertOperationMetadata": {
      "id": "InstancesBulkInsertOperationMetadata",
      "properties": {
        "machineType": {
          "description": "[Output Only] The machine type of the VMs that were created used internally only by KCP flex bulk insert.",
          "type": "string"
        },
        "perLocationStatus": {
          "type": "object",
          "description": "Status information per location (location name is key). Example key: zones/us-central1-a",
          "additionalProperties": {
            "$ref": "BulkInsertOperationStatus"
          }
        }
      },
      "type": "object"
    },
    "Options": {
      "description": "Options allows customized resource handling by Deployment Manager.",
      "properties": {
        "inputMappings": {
          "type": "array",
          "items": {
            "$ref": "InputMapping"
          },
          "description": "The mappings that apply for requests."
        },
        "validationOptions": {
          "description": "Options for how to validate and process properties on a resource.",
          "$ref": "ValidationOptions"
        },
        "virtualProperties": {
          "description": "Additional properties block described as a jsonSchema, these properties will never be part of the json payload, but they can be consumed by InputMappings, this must be a valid json schema draft-04. The properties specified here will be decouple in a different section. This schema will be merged to the schema validation, and properties here will be extracted From the payload and consumed explicitly by InputMappings. ex: field1: type: string field2: type: number",
          "type": "string"
        },
        "asyncOptions": {
          "type": "array",
          "items": {
            "$ref": "AsyncOptions"
          },
          "description": "Options regarding how to thread async requests."
        }
      },
      "id": "Options",
      "type": "object"
    },
    "GetVersionOperationMetadataSbomInfo": {
      "id": "GetVersionOperationMetadataSbomInfo",
      "type": "object",
      "properties": {
        "targetComponentVersions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A mapping of components to their target versions or other appropriate identifiers."
        },
        "currentComponentVersions": {
          "description": "A mapping of components to their currently-applied versions or other appropriate identifiers.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "TargetConfiguration": {
      "type": "object",
      "id": "TargetConfiguration",
      "properties": {
        "imports": {
          "items": {
            "$ref": "ImportFile"
          },
          "description": "Specifies any files to import for this configuration. This can be used to import templates or other files. For example, you might import a text file in order to use the file in a template.",
          "type": "array"
        },
        "config": {
          "description": "The configuration to use for this deployment.",
          "$ref": "ConfigFile"
        }
      }
    },
    "CollectionOverride": {
      "id": "CollectionOverride",
      "properties": {
        "options": {
          "$ref": "Options",
          "description": "The options to apply to this resource-level override"
        },
        "collection": {
          "description": "The collection that identifies this resource within its service.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "CollectionOverride allows resource handling overrides for specific resources within a BaseType"
    },
    "Status": {
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "CompositeType": {
      "properties": {
        "templateContents": {
          "description": "Files for the template type.",
          "$ref": "TemplateContents"
        },
        "description": {
          "type": "string",
          "description": "An optional textual description of the resource; provided by the client when the resource is created."
        },
        "insertTime": {
          "type": "string",
          "description": "Output only. Creation timestamp in RFC3339 text format."
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "CompositeTypeLabelEntry"
          },
          "description": "Map of labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`."
        },
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. Server defined URL for the resource."
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_STATUS",
            "DEPRECATED",
            "EXPERIMENTAL",
            "SUPPORTED"
          ]
        },
        "operation": {
          "$ref": "Operation",
          "description": "Output only. The Operation that most recently ran, or is currently running, on this composite type."
        },
        "name": {
          "description": "Name of the composite type, must follow the expression: `[a-z]([-a-z0-9_.]{0,61}[a-z0-9])?`.",
          "type": "string"
        }
      },
      "id": "CompositeType",
      "type": "object",
      "description": "Holds the composite type."
    },
    "TestPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the 'resource'. Permissions with wildcards (such as '*' or 'storage.*') are not allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestPermissionsRequest"
    },
    "ServiceAccount": {
      "id": "ServiceAccount",
      "description": "Service Account used as a credential.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The IAM service account email address like test@myproject.iam.gserviceaccount.com",
          "type": "string"
        }
      }
    },
    "Type": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the type."
        },
        "selfLink": {
          "description": "Output only. Server defined URL for the resource.",
          "type": "string"
        },
        "base": {
          "$ref": "BaseType",
          "description": "Base Type (configurable service) that backs this Type."
        },
        "insertTime": {
          "type": "string",
          "description": "Output only. Creation timestamp in RFC3339 text format."
        },
        "description": {
          "description": "An optional textual description of the resource; provided by the client when the resource is created.",
          "type": "string"
        },
        "operation": {
          "description": "Output only. The Operation that most recently ran, or is currently running, on this type.",
          "$ref": "Operation"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "TypeLabelEntry"
          },
          "description": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`."
        },
        "id": {
          "format": "uint64",
          "type": "string"
        }
      },
      "id": "Type",
      "type": "object",
      "description": "A resource type supported by Deployment Manager."
    },
    "TypeLabelEntry": {
      "id": "TypeLabelEntry",
      "description": "Label object for Types",
      "properties": {
        "key": {
          "description": "Key of the label",
          "type": "string"
        },
        "value": {
          "description": "Value of the label",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BasicAuth": {
      "description": "Basic Auth used as a credential.",
      "id": "BasicAuth",
      "type": "object",
      "properties": {
        "user": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "SetCommonInstanceMetadataOperationMetadata": {
      "type": "object",
      "properties": {
        "clientOperationId": {
          "description": "[Output Only] The client operation id.",
          "type": "string"
        },
        "perLocationOperations": {
          "description": "[Output Only] Status information per location (location name is key). Example key: zones/us-central1-a",
          "additionalProperties": {
            "$ref": "SetCommonInstanceMetadataOperationMetadataPerLocationOperationInfo"
          },
          "type": "object"
        }
      },
      "id": "SetCommonInstanceMetadataOperationMetadata"
    },
    "BaseType": {
      "properties": {
        "credential": {
          "description": "Credential used when interacting with this type.",
          "$ref": "Credential"
        },
        "descriptorUrl": {
          "type": "string",
          "description": "Descriptor Url for the this type."
        },
        "options": {
          "$ref": "Options",
          "description": "Options to apply when handling any resources in this service."
        },
        "collectionOverrides": {
          "items": {
            "$ref": "CollectionOverride"
          },
          "description": "Allows resource handling overrides for specific collections",
          "type": "array"
        }
      },
      "id": "BaseType",
      "type": "object",
      "description": "BaseType that describes a service-backed Type."
    },
    "PollingOptions": {
      "properties": {
        "failCondition": {
          "description": "JsonPath expression that determines if the request failed.",
          "type": "string"
        },
        "targetLink": {
          "description": "JsonPath expression, after polling is completed, indicates where to fetch the resource.",
          "type": "string"
        },
        "pollingLink": {
          "type": "string",
          "description": "JsonPath expression that evaluates to string, it indicates where to poll."
        },
        "diagnostics": {
          "items": {
            "$ref": "Diagnostic"
          },
          "description": "An array of diagnostics to be collected by Deployment Manager, these diagnostics will be displayed to the user.",
          "type": "array"
        },
        "finishCondition": {
          "type": "string",
          "description": "JsonPath expression that determines if the request is completed."
        }
      },
      "id": "PollingOptions",
      "type": "object"
    },
    "DeploymentsCancelPreviewRequest": {
      "type": "object",
      "properties": {
        "fingerprint": {
          "description": "Specifies a fingerprint for `cancelPreview()` requests. A fingerprint is a randomly generated value that must be provided in `cancelPreview()` requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to cancel a preview, this would prevent one of the requests). The fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a `get()` request on the deployment.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "DeploymentsCancelPreviewRequest"
    },
    "TypeInfo": {
      "description": "Type Information. Contains detailed information about a composite type, base type, or base type with specific collection.",
      "id": "TypeInfo",
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "Output only. Self link for the type provider."
        },
        "kind": {
          "description": "Output only. Type of the output. Always `deploymentManager#TypeInfo` for TypeInfo.",
          "type": "string"
        },
        "schema": {
          "description": "For base types with a collection, we return a schema and documentation link For template types, we return only a schema",
          "$ref": "TypeInfoSchemaInfo"
        },
        "title": {
          "type": "string",
          "description": "The title on the API descriptor URL provided."
        },
        "description": {
          "description": "The description of the type.",
          "type": "string"
        },
        "documentationLink": {
          "description": "For swagger 2.0 externalDocs field will be used. For swagger 1.2 this field will be empty.",
          "type": "string"
        },
        "name": {
          "description": "The base type or composite type name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ErrorInfo": {
      "type": "object",
      "description": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }",
      "properties": {
        "reason": {
          "description": "The reason of the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        },
        "domain": {
          "description": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\".",
          "type": "string"
        },
        "metadatas": {
          "description": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "ErrorInfo"
    },
    "TestPermissionsResponse": {
      "id": "TestPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      }
    },
    "TypesListResponse": {
      "properties": {
        "types": {
          "items": {
            "$ref": "Type"
          },
          "description": "Output only. A list of resource types supported by Deployment Manager.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token used to continue a truncated list request.",
          "type": "string"
        }
      },
      "id": "TypesListResponse",
      "description": "A response that returns all Types supported by Deployment Manager",
      "type": "object"
    },
    "DeploymentUpdate": {
      "id": "DeploymentUpdate",
      "type": "object",
      "properties": {
        "manifest": {
          "type": "string",
          "description": "Output only. URL of the manifest representing the update configuration of this deployment."
        },
        "labels": {
          "type": "array",
          "description": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`.",
          "items": {
            "$ref": "DeploymentUpdateLabelEntry"
          }
        },
        "description": {
          "type": "string",
          "description": "Output only. An optional user-provided description of the deployment after the current update has been applied."
        }
      }
    },
    "SetAutoscalerLinkOperationMetadata": {
      "type": "object",
      "properties": {
        "zonalIgmIds": {
          "type": "array",
          "description": "List of zonal IGM IDs part of the RMIG.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "zoneToIgmIds": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object",
          "description": "Map of zone to an ID of the zonal IGM belonging to the RMIG."
        }
      },
      "id": "SetAutoscalerLinkOperationMetadata"
    },
    "Diagnostic": {
      "properties": {
        "field": {
          "type": "string",
          "description": "JsonPath expression on the resource that if non empty, indicates that this field needs to be extracted as a diagnostic."
        },
        "level": {
          "description": "Level to record this diagnostic.",
          "enumDescriptions": [
            "",
            "If level is informational, it only gets displayed as part of the resource.",
            "If level is warning, will end up in the resource as a warning.",
            "If level is error, it will indicate an error occurred after finishCondition is set, and this field will populate resource errors and operation errors."
          ],
          "enum": [
            "UNKNOWN",
            "INFORMATION",
            "WARNING",
            "ERROR"
          ],
          "type": "string"
        }
      },
      "id": "Diagnostic",
      "type": "object"
    },
    "InstancesTroubleshootOperationMetadata": {
      "description": "[Output Only] Operation metadata for instances.troubleshoot.",
      "id": "InstancesTroubleshootOperationMetadata",
      "type": "object",
      "properties": {
        "troubleshootOutput": {
          "description": "Output only. [Output Only] Serialized output of the troubleshooting diagnostic run.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "TypeProvidersListTypesResponse": {
      "id": "TypeProvidersListTypesResponse",
      "properties": {
        "types": {
          "items": {
            "$ref": "TypeInfo"
          },
          "description": "Output only. A list of resource type info.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token used to continue a truncated list request.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "QuotaExceededInfo": {
      "type": "object",
      "id": "QuotaExceededInfo",
      "description": "Additional details for quota exceeded error for resource quota.",
      "properties": {
        "rolloutStatus": {
          "enumDescriptions": [
            "ROLLOUT_STATUS_UNSPECIFIED - Rollout status is not specified. The default value.",
            "IN_PROGRESS - A rollout is in process which will change the limit value to future limit."
          ],
          "description": "Rollout status of the future quota limit.",
          "enum": [
            "ROLLOUT_STATUS_UNSPECIFIED",
            "IN_PROGRESS"
          ],
          "type": "string"
        },
        "dimensions": {
          "type": "object",
          "description": "The map holding related quota dimensions.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "futureLimit": {
          "type": "number",
          "format": "double",
          "description": "Future quota limit being rolled out. The limit's unit depends on the quota type or metric."
        },
        "metricName": {
          "description": "The Compute Engine quota metric name.",
          "type": "string"
        },
        "limit": {
          "description": "Current effective quota limit. The limit's unit depends on the quota type or metric.",
          "format": "double",
          "type": "number"
        },
        "limitName": {
          "type": "string",
          "description": "The name of the quota limit."
        }
      }
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "id": "Expr"
    },
    "Operation": {
      "properties": {
        "user": {
          "description": "[Output Only] User who requested the operation, for example: `user@example.com` or `alice_smith_identifier (global/workforcePools/example-com-us-employees)`.",
          "type": "string"
        },
        "setAutoscalerLinkOperationMetadata": {
          "description": "This field is used internally by the Autoscaler team and should not be promoted to \"alpha/beta/v1\".",
          "$ref": "SetAutoscalerLinkOperationMetadata"
        },
        "details": {
          "description": "[Output Only] Extended details about the operation's execution.",
          "$ref": "OperationDetails"
        },
        "instancesBulkInsertOperationMetadata": {
          "$ref": "InstancesBulkInsertOperationMetadata"
        },
        "creationTimestamp": {
          "type": "string",
          "description": "[Deprecated] This field is deprecated."
        },
        "targetId": {
          "description": "[Output Only] The unique target ID, which identifies a specific incarnation of the target resource.",
          "type": "string",
          "format": "uint64"
        },
        "name": {
          "type": "string",
          "description": "[Output Only] Name of the operation."
        },
        "startTime": {
          "type": "string",
          "description": "[Output Only] The time that this operation was started by the server. This value is in RFC3339 text format."
        },
        "endTime": {
          "description": "[Output Only] The time that this operation was completed. This value is in RFC3339 text format.",
          "type": "string"
        },
        "progress": {
          "format": "int32",
          "type": "integer",
          "description": "[Output Only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess when the operation will be complete. This number should monotonically increase as the operation progresses."
        },
        "clientOperationId": {
          "description": "[Output Only] The value of `requestId` if you provided it in the request. Not present otherwise.",
          "type": "string"
        },
        "setCommonInstanceMetadataOperationMetadata": {
          "description": "Output only. [Output Only] If the operation is for projects.setCommonInstanceMetadata, this field will contain information on all underlying zonal actions and their state.",
          "$ref": "SetCommonInstanceMetadataOperationMetadata",
          "readOnly": true
        },
        "insertTime": {
          "description": "[Output Only] The time that this operation was requested. This value is in RFC3339 text format.",
          "type": "string"
        },
        "warnings": {
          "items": {
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "properties": {
                    "key": {
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                      "type": "string"
                    },
                    "value": {
                      "type": "string",
                      "description": "[Output Only] A warning data value corresponding to the key."
                    }
                  },
                  "type": "object"
                },
                "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }] "
              },
              "code": {
                "enum": [
                  "DEPRECATED_RESOURCE_USED",
                  "NO_RESULTS_ON_PAGE",
                  "UNREACHABLE",
                  "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                  "NEXT_HOP_INSTANCE_NOT_FOUND",
                  "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                  "NEXT_HOP_CANNOT_IP_FORWARD",
                  "NEXT_HOP_NOT_RUNNING",
                  "INJECTED_KERNELS_DEPRECATED",
                  "REQUIRED_TOS_AGREEMENT",
                  "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                  "RESOURCE_NOT_DELETED",
                  "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                  "NOT_CRITICAL_ERROR",
                  "CLEANUP_FAILED",
                  "FIELD_VALUE_OVERRIDEN",
                  "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                  "NETWORK_ENDPOINT_NOT_DETACHED",
                  "PAGE_MISSING_RESULTS",
                  "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED",
                  "RESOURCE_NOT_FOUND_WARNING",
                  "MISSING_TYPE_DEPENDENCY",
                  "EXTERNAL_API_WARNING",
                  "SCHEMA_VALIDATION_IGNORED",
                  "UNDECLARED_PROPERTIES",
                  "EXPERIMENTAL_TYPE_USED",
                  "DEPRECATED_TYPE_USED",
                  "PARTIAL_SUCCESS",
                  "LARGE_DEPLOYMENT_WARNING",
                  "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                  "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                  "LIST_OVERHEAD_QUOTA_EXCEED",
                  "QUOTA_INFO_UNAVAILABLE",
                  "RESOURCE_USES_GLOBAL_DNS",
                  "RATE_LIMIT_EXCEEDED",
                  "UPCOMING_MAINTENANCES_UNAVAILABLE",
                  "RESERVED_ENTRY_136",
                  "RESERVED_ENTRY_139",
                  "RESERVED_ENTRY_141",
                  "RESERVED_ENTRY_142",
                  "RESERVED_ENTRY_143"
                ],
                "enumDescriptions": [
                  "A link to a deprecated resource was created.",
                  "No results are present on a particular list page.",
                  "A given scope cannot be reached.",
                  "The route's nextHopIp address is not assigned to an instance on the network.",
                  "The route's nextHopInstance URL refers to an instance that does not exist.",
                  "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                  "The route's next hop instance cannot ip forward.",
                  "The route's next hop instance does not have a status of RUNNING.",
                  "The operation involved use of an injected kernel, which is deprecated.",
                  "The user attempted to use a resource that requires a TOS they have not accepted.",
                  "The user created a boot disk that is larger than image size.",
                  "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                  "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                  "Error which is not critical. We decided to continue the process despite the mentioned error.",
                  "Warning about failed cleanup of transient changes made by a failed operation.",
                  "Warning that value of a field has been overridden. Deprecated unused field.",
                  "Warning that a resource is in use.",
                  "Warning that network endpoint was not detached.",
                  "Current page contains less results than requested but a next page token exists.",
                  "Warning that SSL policy resource in the response does not contain information about the list of enabled features.",
                  "Warning that a resource is not found.",
                  "A resource depends on a missing type",
                  "Warning that is present in an external api call",
                  "When a resource schema validation is ignored.",
                  "When undeclared properties in the schema are present",
                  "When deploying and at least one of the resources has a type marked as experimental",
                  "When deploying and at least one of the resources has a type marked as deprecated",
                  "Success is reported, but some results may be missing due to errors",
                  "When deploying a deployment with a exceedingly large number of resources",
                  "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                  "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                  "Resource can't be retrieved due to list overhead quota exceed which captures the amount of resources filtered out by user-defined list filter.",
                  "Quota information is not available to client requests (e.g: regions.list).",
                  "Indicates that a VM is using global DNS. Can also be used to indicate that a resource has attributes that could result in the creation of a VM that uses global DNS.",
                  "Resource can't be retrieved due to api quota exceeded.",
                  "Upcoming maintenance schedule is unavailable for the resource.",
                  "Reserved entries for quickly adding new warnings without breaking dependent clients.",
                  "",
                  "",
                  "",
                  ""
                ],
                "enumDeprecated": [
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  true,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false
                ],
                "type": "string",
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response."
              },
              "message": {
                "type": "string",
                "description": "[Output Only] A human-readable description of the warning code."
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "[Output Only] If warning messages are generated during processing of the operation, this field will be populated."
        },
        "httpErrorStatusCode": {
          "description": "[Output Only] If the operation fails, this field contains the HTTP error status code that was returned. For example, a `404` means the resource was not found.",
          "type": "integer",
          "format": "int32"
        },
        "status": {
          "enum": [
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "enumDescriptions": [
            "The operation is waiting to be processed.",
            "The operation is actively being processed.",
            "The operation has completed processing successfully or with an error."
          ],
          "type": "string",
          "description": "[Output Only] The status of the operation, which can be one of the following: `PENDING`, `RUNNING`, or `DONE`."
        },
        "zone": {
          "description": "[Output Only] The URL of the zone where the operation resides. Only applicable when performing per-zone operations.",
          "type": "string"
        },
        "targetLink": {
          "description": "[Output Only] The URL of the resource that the operation modifies. For operations related to creating a snapshot, this points to the disk that the snapshot was created from.",
          "type": "string"
        },
        "operationType": {
          "type": "string",
          "description": "[Output Only] The type of operation, such as `insert`, `update`, or `delete`, and so on."
        },
        "getHealthOperationMetadata": {
          "description": "Output only. Metadata for GetHealth operations.",
          "$ref": "GetHealthOperationMetadata",
          "readOnly": true
        },
        "getVersionOperationMetadata": {
          "$ref": "GetVersionOperationMetadata"
        },
        "id": {
          "format": "uint64",
          "type": "string",
          "description": "[Output Only] The unique identifier for the operation. This identifier is defined by the server."
        },
        "statusMessage": {
          "type": "string",
          "description": "[Output Only] An optional textual description of the current status of the operation."
        },
        "instancesTroubleshootOperationMetadata": {
          "$ref": "InstancesTroubleshootOperationMetadata",
          "description": "Output only. [Output Only] Operation metadata for instances.troubleshoot.",
          "readOnly": true
        },
        "operationGroupId": {
          "description": "Output only. [Output Only] An ID that represents a group of operations, such as when a group of operations results from a `bulkInsert` API request.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "[Output Only] A textual description of the operation, which is set when the operation is created."
        },
        "selfLink": {
          "description": "[Output Only] Server-defined URL for the resource.",
          "type": "string"
        },
        "error": {
          "type": "object",
          "description": "[Output Only] If errors are generated during processing of the operation, this field will be populated.",
          "properties": {
            "errors": {
              "items": {
                "description": "Represents a single error encountered during the processing of an operation.",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "[Output Only] An optional, human-readable error message."
                  },
                  "code": {
                    "description": "[Output Only] The error type identifier for this error.",
                    "type": "string"
                  },
                  "debugInfo": {
                    "description": "Output only. [Output Only] Advanced debugging information with stack traces and other diagnostic details for the error.",
                    "readOnly": true,
                    "$ref": "DebugInfo"
                  },
                  "arguments": {
                    "description": "Output only. [Output Only] Optional error details WARNING: DO NOT MAKE VISIBLE This is for internal use-only (like componentization) (thus the visibility \"none\") and in case of public exposure it is strongly recommended to follow pattern of: https://aip.dev/193 and expose as details field.",
                    "readOnly": true,
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "errorDetails": {
                    "description": "[Output Only] An optional list of messages that contain the error details. There is a set of defined message types to use for providing details.The syntax depends on the error code. For example, QuotaExceededInfo will have details when the error code is QUOTA_EXCEEDED.",
                    "items": {
                      "description": "Container for structured error details providing additional context specific to the encountered error code.",
                      "type": "object",
                      "properties": {
                        "errorInfo": {
                          "description": "Error information containing structured domain, reason, and metadata.",
                          "$ref": "ErrorInfo"
                        },
                        "localizedMessage": {
                          "description": "A localized human-readable error message intended for end users.",
                          "$ref": "LocalizedMessage"
                        },
                        "help": {
                          "description": "Links and information to help the user resolve the error.",
                          "$ref": "Help"
                        },
                        "quotaInfo": {
                          "description": "Details about quota limits and metrics when a quota is exceeded.",
                          "$ref": "QuotaExceededInfo"
                        }
                      }
                    },
                    "type": "array"
                  },
                  "location": {
                    "type": "string",
                    "description": "[Output Only] Indicates the field in the request that caused the error. This property is optional."
                  }
                },
                "type": "object"
              },
              "type": "array",
              "description": "[Output Only] The array of errors encountered while processing this operation."
            }
          }
        },
        "firewallPolicyRuleOperationMetadata": {
          "description": "Output only. [Output Only] Metadata containing the allocated priority from the networkFirewallPolicies.addRule and regionNetworkFirewallPolicies.addRule methods if not explicitly provided by the user.",
          "$ref": "FirewallPolicyRuleOperationMetadata",
          "readOnly": true
        },
        "selfLinkWithId": {
          "readOnly": true,
          "description": "Output only. [Output Only] Server-defined URL for this resource with the resource id.",
          "type": "string"
        },
        "httpErrorMessage": {
          "description": "[Output Only] If the operation fails, this field contains the HTTP error message that was returned, such as `NOT FOUND`.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. [Output Only] Type of the resource. Always `compute#operation` for Operation resources.",
          "type": "string",
          "readOnly": true,
          "default": "compute#operation"
        },
        "region": {
          "description": "[Output Only] The URL of the region where the operation resides. Only applicable when performing regional operations.",
          "type": "string"
        }
      },
      "description": "Represents an Operation resource. Google Compute Engine has three Operation resources: * [Global](/compute/docs/reference/rest/{$api_version}/globalOperations) * [Regional](/compute/docs/reference/rest/{$api_version}/regionOperations) * [Zonal](/compute/docs/reference/rest/{$api_version}/zoneOperations) You can use an operation resource to manage asynchronous API requests. For more information, read Handling API responses. Operations can be global, regional or zonal. - For global operations, use the `globalOperations` resource. - For regional operations, use the `regionOperations` resource. - For zonal operations, use the `zoneOperations` resource. For more information, read Global, Regional, and Zonal Resources. Note that completed Operation resources have a limited retention period.",
      "id": "Operation",
      "type": "object"
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig",
      "type": "object",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      }
    },
    "HelpLink": {
      "id": "HelpLink",
      "type": "object",
      "description": "Describes a URL link.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the link."
        },
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        }
      }
    },
    "DeploymentsStopRequest": {
      "id": "DeploymentsStopRequest",
      "type": "object",
      "properties": {
        "fingerprint": {
          "description": "Specifies a fingerprint for `stop()` requests. A fingerprint is a randomly generated value that must be provided in `stop()` requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to stop an ongoing update request, this would prevent a collision). The fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a `get()` request on the deployment.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Resource": {
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. Update timestamp in RFC3339 text format."
        },
        "manifest": {
          "description": "Output only. URL of the manifest representing the current configuration of this resource.",
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of the resource, for example `compute.v1.instance`, or `cloudfunctions.v1beta1.function`.",
          "type": "string"
        },
        "insertTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "type": "string"
        },
        "warnings": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }] ",
                "items": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "description": "[Output Only] A warning data value corresponding to the key.",
                      "type": "string"
                    },
                    "key": {
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                      "type": "string"
                    }
                  }
                }
              },
              "code": {
                "type": "string",
                "enumDescriptions": [
                  "A link to a deprecated resource was created.",
                  "No results are present on a particular list page.",
                  "A given scope cannot be reached.",
                  "The route's nextHopIp address is not assigned to an instance on the network.",
                  "The route's nextHopInstance URL refers to an instance that does not exist.",
                  "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                  "The route's next hop instance cannot ip forward.",
                  "The route's next hop instance does not have a status of RUNNING.",
                  "The operation involved use of an injected kernel, which is deprecated.",
                  "The user attempted to use a resource that requires a TOS they have not accepted.",
                  "The user created a boot disk that is larger than image size.",
                  "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                  "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                  "Error which is not critical. We decided to continue the process despite the mentioned error.",
                  "Warning about failed cleanup of transient changes made by a failed operation.",
                  "Warning that value of a field has been overridden. Deprecated unused field.",
                  "Warning that a resource is in use.",
                  "Warning that network endpoint was not detached.",
                  "Current page contains less results than requested but a next page token exists.",
                  "Warning that SSL policy resource in the response does not contain information about the list of enabled features.",
                  "Warning that a resource is not found.",
                  "A resource depends on a missing type",
                  "Warning that is present in an external api call",
                  "When a resource schema validation is ignored.",
                  "When undeclared properties in the schema are present",
                  "When deploying and at least one of the resources has a type marked as experimental",
                  "When deploying and at least one of the resources has a type marked as deprecated",
                  "Success is reported, but some results may be missing due to errors",
                  "When deploying a deployment with a exceedingly large number of resources",
                  "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                  "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                  "Resource can't be retrieved due to list overhead quota exceed which captures the amount of resources filtered out by user-defined list filter.",
                  "Quota information is not available to client requests (e.g: regions.list).",
                  "Indicates that a VM is using global DNS. Can also be used to indicate that a resource has attributes that could result in the creation of a VM that uses global DNS.",
                  "Resource can't be retrieved due to api quota exceeded.",
                  "Upcoming maintenance schedule is unavailable for the resource.",
                  "Reserved entries for quickly adding new warnings without breaking dependent clients.",
                  "",
                  "",
                  "",
                  ""
                ],
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                "enumDeprecated": [
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  true,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false
                ],
                "enum": [
                  "DEPRECATED_RESOURCE_USED",
                  "NO_RESULTS_ON_PAGE",
                  "UNREACHABLE",
                  "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                  "NEXT_HOP_INSTANCE_NOT_FOUND",
                  "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                  "NEXT_HOP_CANNOT_IP_FORWARD",
                  "NEXT_HOP_NOT_RUNNING",
                  "INJECTED_KERNELS_DEPRECATED",
                  "REQUIRED_TOS_AGREEMENT",
                  "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                  "RESOURCE_NOT_DELETED",
                  "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                  "NOT_CRITICAL_ERROR",
                  "CLEANUP_FAILED",
                  "FIELD_VALUE_OVERRIDEN",
                  "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                  "NETWORK_ENDPOINT_NOT_DETACHED",
                  "PAGE_MISSING_RESULTS",
                  "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED",
                  "RESOURCE_NOT_FOUND_WARNING",
                  "MISSING_TYPE_DEPENDENCY",
                  "EXTERNAL_API_WARNING",
                  "SCHEMA_VALIDATION_IGNORED",
                  "UNDECLARED_PROPERTIES",
                  "EXPERIMENTAL_TYPE_USED",
                  "DEPRECATED_TYPE_USED",
                  "PARTIAL_SUCCESS",
                  "LARGE_DEPLOYMENT_WARNING",
                  "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                  "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                  "LIST_OVERHEAD_QUOTA_EXCEED",
                  "QUOTA_INFO_UNAVAILABLE",
                  "RESOURCE_USES_GLOBAL_DNS",
                  "RATE_LIMIT_EXCEEDED",
                  "UPCOMING_MAINTENANCES_UNAVAILABLE",
                  "RESERVED_ENTRY_136",
                  "RESERVED_ENTRY_139",
                  "RESERVED_ENTRY_141",
                  "RESERVED_ENTRY_142",
                  "RESERVED_ENTRY_143"
                ]
              },
              "message": {
                "type": "string",
                "description": "[Output Only] A human-readable description of the warning code."
              }
            }
          },
          "description": "Output only. If warning messages are generated during processing of this resource, this field will be populated."
        },
        "accessControl": {
          "description": "The Access Control Policy set on this resource.",
          "$ref": "ResourceAccessControl"
        },
        "url": {
          "type": "string",
          "description": "Output only. The URL of the actual resource."
        },
        "finalProperties": {
          "description": "Output only. The evaluated properties of the resource with references expanded. Returned as serialized YAML.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the resource as it appears in the YAML config.",
          "type": "string"
        },
        "properties": {
          "description": "Output only. The current properties of the resource before any references have been filled in. Returned as serialized YAML.",
          "type": "string"
        },
        "update": {
          "description": "Output only. If Deployment Manager is currently updating or previewing an update to this resource, the updated configuration appears here.",
          "$ref": "ResourceUpdate"
        },
        "id": {
          "type": "string",
          "format": "uint64"
        }
      },
      "type": "object",
      "id": "Resource"
    },
    "AsyncOptions": {
      "properties": {
        "pollingOptions": {
          "description": "Deployment manager will poll instances for this API resource setting a RUNNING state, and blocking until polling conditions tell whether the resource is completed or failed.",
          "$ref": "PollingOptions"
        },
        "methodMatch": {
          "type": "string",
          "description": "Method regex where this policy will apply."
        }
      },
      "type": "object",
      "id": "AsyncOptions",
      "description": "Async options that determine when a resource should finish."
    },
    "TypeProviderLabelEntry": {
      "type": "object",
      "id": "TypeProviderLabelEntry",
      "properties": {
        "key": {
          "description": "Key of the label",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value of the label"
        }
      },
      "description": "Label object for TypeProviders"
    },
    "LocalizedMessage": {
      "id": "LocalizedMessage",
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "type": "object",
      "properties": {
        "locale": {
          "type": "string",
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\""
        },
        "message": {
          "type": "string",
          "description": "The localized error message in the above locale."
        }
      }
    },
    "SetCommonInstanceMetadataOperationMetadataPerLocationOperationInfo": {
      "id": "SetCommonInstanceMetadataOperationMetadataPerLocationOperationInfo",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "Operation is not yet confirmed to have been created in the location.",
            "Operation is confirmed to be in the location.",
            "Operation not tracked in this location e.g. zone is marked as DOWN.",
            "Operation is in an error state.",
            "Operation has completed successfully."
          ],
          "enum": [
            "UNSPECIFIED",
            "PROPAGATING",
            "PROPAGATED",
            "ABANDONED",
            "FAILED",
            "DONE"
          ],
          "type": "string",
          "description": "[Output Only] Status of the action, which can be one of the following: `PROPAGATING`, `PROPAGATED`, `ABANDONED`, `FAILED`, or `DONE`."
        },
        "error": {
          "description": "[Output Only] If state is `ABANDONED` or `FAILED`, this field is populated.",
          "$ref": "Status"
        }
      }
    },
    "GetHealthOperationMetadata": {
      "id": "GetHealthOperationMetadata",
      "description": "Metadata for GetHealth operations.",
      "type": "object",
      "properties": {
        "healthInfo": {
          "description": "Output only. The health information.",
          "readOnly": true,
          "$ref": "GetHealthOperationMetadataHealthInfo"
        }
      }
    },
    "OperationDetails": {
      "properties": {
        "data": {
          "type": "object",
          "description": "Machine readable data from the message.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "message": {
          "type": "string",
          "description": "Human or AI readable details on execution of the operation."
        }
      },
      "id": "OperationDetails",
      "type": "object"
    },
    "CompositeTypeLabelEntry": {
      "id": "CompositeTypeLabelEntry",
      "description": "Label object for CompositeTypes",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of the label",
          "type": "string"
        },
        "key": {
          "description": "Key of the label",
          "type": "string"
        }
      }
    },
    "ResourceUpdate": {
      "properties": {
        "accessControl": {
          "$ref": "ResourceAccessControl",
          "description": "The Access Control Policy to set on this resource after updating the resource itself."
        },
        "intent": {
          "enum": [
            "CREATE_OR_ACQUIRE",
            "DELETE",
            "ACQUIRE",
            "UPDATE",
            "ABANDON",
            "CREATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The resource is scheduled to be created, or if it already exists, acquired.",
            "The resource is scheduled to be deleted.",
            "The resource is scheduled to be acquired.",
            "The resource is scheduled to be updated via the UPDATE method.",
            "The resource is scheduled to be abandoned.",
            "The resource is scheduled to be created."
          ],
          "description": "Output only. The intent of the resource: `PREVIEW`, `UPDATE`, or `CANCEL`."
        },
        "properties": {
          "description": "Output only. The set of updated properties for this resource, before references are expanded. Returned as serialized YAML.",
          "type": "string"
        },
        "error": {
          "description": "Output only. If errors are generated during update of the resource, this field will be populated.",
          "properties": {
            "errors": {
              "type": "array",
              "items": {
                "properties": {
                  "location": {
                    "description": "[Output Only] Indicates the field in the request that caused the error. This property is optional.",
                    "type": "string"
                  },
                  "errorDetails": {
                    "items": {
                      "description": "Container for structured error details providing additional context specific to the encountered error code.",
                      "properties": {
                        "help": {
                          "description": "Links and information to help the user resolve the error.",
                          "$ref": "Help"
                        },
                        "errorInfo": {
                          "description": "Error information containing structured domain, reason, and metadata.",
                          "$ref": "ErrorInfo"
                        },
                        "quotaInfo": {
                          "$ref": "QuotaExceededInfo",
                          "description": "Details about quota limits and metrics when a quota is exceeded."
                        },
                        "localizedMessage": {
                          "description": "A localized human-readable error message intended for end users.",
                          "$ref": "LocalizedMessage"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array",
                    "description": "[Output Only] An optional list of messages that contain the error details. There is a set of defined message types to use for providing details.The syntax depends on the error code. For example, QuotaExceededInfo will have details when the error code is QUOTA_EXCEEDED."
                  },
                  "message": {
                    "description": "[Output Only] An optional, human-readable error message.",
                    "type": "string"
                  },
                  "arguments": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "readOnly": true,
                    "description": "Output only. [Output Only] Optional error details WARNING: DO NOT MAKE VISIBLE This is for internal use-only (like componentization) (thus the visibility \"none\") and in case of public exposure it is strongly recommended to follow pattern of: https://aip.dev/193 and expose as details field."
                  },
                  "debugInfo": {
                    "description": "Output only. [Output Only] Advanced debugging information with stack traces and other diagnostic details for the error.",
                    "$ref": "DebugInfo",
                    "readOnly": true
                  },
                  "code": {
                    "type": "string",
                    "description": "[Output Only] The error type identifier for this error."
                  }
                },
                "description": "Represents a single error encountered during the processing of an operation.",
                "type": "object"
              },
              "description": "[Output Only] The array of errors encountered while processing this operation."
            }
          },
          "type": "object"
        },
        "finalProperties": {
          "description": "Output only. The expanded properties of the resource with reference values expanded. Returned as serialized YAML.",
          "type": "string"
        },
        "manifest": {
          "type": "string",
          "description": "Output only. URL of the manifest representing the update configuration of this resource."
        },
        "warnings": {
          "type": "array",
          "description": "Output only. If warning messages are generated during processing of this resource, this field will be populated.",
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                "enum": [
                  "DEPRECATED_RESOURCE_USED",
                  "NO_RESULTS_ON_PAGE",
                  "UNREACHABLE",
                  "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                  "NEXT_HOP_INSTANCE_NOT_FOUND",
                  "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                  "NEXT_HOP_CANNOT_IP_FORWARD",
                  "NEXT_HOP_NOT_RUNNING",
                  "INJECTED_KERNELS_DEPRECATED",
                  "REQUIRED_TOS_AGREEMENT",
                  "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                  "RESOURCE_NOT_DELETED",
                  "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                  "NOT_CRITICAL_ERROR",
                  "CLEANUP_FAILED",
                  "FIELD_VALUE_OVERRIDEN",
                  "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                  "NETWORK_ENDPOINT_NOT_DETACHED",
                  "PAGE_MISSING_RESULTS",
                  "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED",
                  "RESOURCE_NOT_FOUND_WARNING",
                  "MISSING_TYPE_DEPENDENCY",
                  "EXTERNAL_API_WARNING",
                  "SCHEMA_VALIDATION_IGNORED",
                  "UNDECLARED_PROPERTIES",
                  "EXPERIMENTAL_TYPE_USED",
                  "DEPRECATED_TYPE_USED",
                  "PARTIAL_SUCCESS",
                  "LARGE_DEPLOYMENT_WARNING",
                  "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                  "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                  "LIST_OVERHEAD_QUOTA_EXCEED",
                  "QUOTA_INFO_UNAVAILABLE",
                  "RESOURCE_USES_GLOBAL_DNS",
                  "RATE_LIMIT_EXCEEDED",
                  "UPCOMING_MAINTENANCES_UNAVAILABLE",
                  "RESERVED_ENTRY_136",
                  "RESERVED_ENTRY_139",
                  "RESERVED_ENTRY_141",
                  "RESERVED_ENTRY_142",
                  "RESERVED_ENTRY_143"
                ],
                "enumDescriptions": [
                  "A link to a deprecated resource was created.",
                  "No results are present on a particular list page.",
                  "A given scope cannot be reached.",
                  "The route's nextHopIp address is not assigned to an instance on the network.",
                  "The route's nextHopInstance URL refers to an instance that does not exist.",
                  "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                  "The route's next hop instance cannot ip forward.",
                  "The route's next hop instance does not have a status of RUNNING.",
                  "The operation involved use of an injected kernel, which is deprecated.",
                  "The user attempted to use a resource that requires a TOS they have not accepted.",
                  "The user created a boot disk that is larger than image size.",
                  "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                  "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                  "Error which is not critical. We decided to continue the process despite the mentioned error.",
                  "Warning about failed cleanup of transient changes made by a failed operation.",
                  "Warning that value of a field has been overridden. Deprecated unused field.",
                  "Warning that a resource is in use.",
                  "Warning that network endpoint was not detached.",
                  "Current page contains less results than requested but a next page token exists.",
                  "Warning that SSL policy resource in the response does not contain information about the list of enabled features.",
                  "Warning that a resource is not found.",
                  "A resource depends on a missing type",
                  "Warning that is present in an external api call",
                  "When a resource schema validation is ignored.",
                  "When undeclared properties in the schema are present",
                  "When deploying and at least one of the resources has a type marked as experimental",
                  "When deploying and at least one of the resources has a type marked as deprecated",
                  "Success is reported, but some results may be missing due to errors",
                  "When deploying a deployment with a exceedingly large number of resources",
                  "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                  "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                  "Resource can't be retrieved due to list overhead quota exceed which captures the amount of resources filtered out by user-defined list filter.",
                  "Quota information is not available to client requests (e.g: regions.list).",
                  "Indicates that a VM is using global DNS. Can also be used to indicate that a resource has attributes that could result in the creation of a VM that uses global DNS.",
                  "Resource can't be retrieved due to api quota exceeded.",
                  "Upcoming maintenance schedule is unavailable for the resource.",
                  "Reserved entries for quickly adding new warnings without breaking dependent clients.",
                  "",
                  "",
                  "",
                  ""
                ],
                "enumDeprecated": [
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  true,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false
                ],
                "type": "string"
              },
              "message": {
                "type": "string",
                "description": "[Output Only] A human-readable description of the warning code."
              },
              "data": {
                "items": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "description": "[Output Only] A warning data value corresponding to the key.",
                      "type": "string"
                    },
                    "key": {
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                      "type": "string"
                    }
                  }
                },
                "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }] ",
                "type": "array"
              }
            }
          }
        },
        "state": {
          "description": "Output only. The state of the resource.",
          "type": "string",
          "enumDescriptions": [
            "There are changes pending for this resource.",
            "The service is executing changes on the resource.",
            "The service is previewing changes on the resource.",
            "The service has failed to change the resource.",
            "The service has aborted trying to change the resource."
          ],
          "enum": [
            "PENDING",
            "IN_PROGRESS",
            "IN_PREVIEW",
            "FAILED",
            "ABORTED"
          ]
        }
      },
      "id": "ResourceUpdate",
      "type": "object"
    },
    "ResourcesListResponse": {
      "properties": {
        "resources": {
          "description": "Resources contained in this list response.",
          "items": {
            "$ref": "Resource"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token used to continue a truncated list request."
        }
      },
      "id": "ResourcesListResponse",
      "description": "A response containing a partial list of resources and a page token used to build the next request if the request has been truncated.",
      "type": "object"
    },
    "ConfigFile": {
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "description": "The contents of the file."
        }
      },
      "id": "ConfigFile"
    },
    "ImportFile": {
      "id": "ImportFile",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the file.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "The contents of the file."
        }
      }
    },
    "FirewallPolicyRuleOperationMetadata": {
      "id": "FirewallPolicyRuleOperationMetadata",
      "type": "object",
      "description": "Metadata for FirewallPolicyRule operations.",
      "properties": {
        "allocatedPriority": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. [Output Only] The priority allocated for the firewall policy rule if query parameters specified minPriority/maxPriority."
        }
      }
    },
    "ManifestsListResponse": {
      "type": "object",
      "id": "ManifestsListResponse",
      "description": "A response containing a partial list of manifests and a page token used to build the next request if the request has been truncated.",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token used to continue a truncated list request.",
          "type": "string"
        },
        "manifests": {
          "type": "array",
          "description": "Output only. Manifests contained in this list response.",
          "items": {
            "$ref": "Manifest"
          }
        }
      }
    },
    "ValidationOptions": {
      "id": "ValidationOptions",
      "properties": {
        "schemaValidation": {
          "enum": [
            "UNKNOWN",
            "IGNORE",
            "IGNORE_WITH_WARNINGS",
            "FAIL"
          ],
          "enumDescriptions": [
            "",
            "Ignore schema failures.",
            "Ignore schema failures but display them as warnings.",
            "Fail the resource if the schema is not valid, this is the default behavior."
          ],
          "description": "Customize how deployment manager will validate the resource against schema errors.",
          "type": "string"
        },
        "undeclaredProperties": {
          "type": "string",
          "description": "Specify what to do with extra properties when executing a request.",
          "enum": [
            "UNKNOWN",
            "INCLUDE",
            "IGNORE",
            "INCLUDE_WITH_WARNINGS",
            "IGNORE_WITH_WARNINGS",
            "FAIL"
          ],
          "enumDescriptions": [
            "",
            "Always include even if not present on discovery doc.",
            "Always ignore if not present on discovery doc.",
            "Include on request, but emit a warning.",
            "Ignore properties, but emit a warning.",
            "Always fail if undeclared properties are present."
          ]
        }
      },
      "type": "object",
      "description": "Options for how to validate and process properties on a resource."
    },
    "Help": {
      "properties": {
        "links": {
          "description": "URL(s) pointing to additional information on handling the current error.",
          "items": {
            "$ref": "HelpLink"
          },
          "type": "array"
        }
      },
      "id": "Help",
      "description": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit.",
      "type": "object"
    },
    "GetVersionOperationMetadata": {
      "id": "GetVersionOperationMetadata",
      "properties": {
        "inlineSbomInfo": {
          "$ref": "GetVersionOperationMetadataSbomInfo"
        }
      },
      "type": "object"
    },
    "DebugInfo": {
      "type": "object",
      "description": "Describes additional debugging info.",
      "id": "DebugInfo",
      "properties": {
        "stackEntries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The stack trace entries indicating where the error occurred."
        },
        "detail": {
          "description": "Additional debugging information provided by the server.",
          "type": "string"
        }
      }
    },
    "CompositeTypesListResponse": {
      "id": "CompositeTypesListResponse",
      "type": "object",
      "description": "A response that returns all Composite Types supported by Deployment Manager",
      "properties": {
        "nextPageToken": {
          "description": "A token used to continue a truncated list request.",
          "type": "string"
        },
        "compositeTypes": {
          "description": "Output only. A list of resource composite types supported by Deployment Manager.",
          "items": {
            "$ref": "CompositeType"
          },
          "type": "array"
        }
      }
    },
    "InputMapping": {
      "properties": {
        "location": {
          "type": "string",
          "description": "The location where this mapping applies.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "PATH",
            "QUERY",
            "BODY",
            "HEADER"
          ]
        },
        "fieldName": {
          "type": "string",
          "description": "The name of the field that is going to be injected."
        },
        "methodMatch": {
          "type": "string",
          "description": "Regex to evaluate on method to decide if input applies."
        },
        "value": {
          "description": "A jsonPath expression to select an element.",
          "type": "string"
        }
      },
      "id": "InputMapping",
      "description": "InputMapping creates a 'virtual' property that will be injected into the properties before sending the request to the underlying API.",
      "type": "object"
    },
    "DeploymentUpdateLabelEntry": {
      "properties": {
        "value": {
          "description": "Value of the label",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Key of the label"
        }
      },
      "type": "object",
      "description": "Label object for DeploymentUpdate",
      "id": "DeploymentUpdateLabelEntry"
    },
    "Manifest": {
      "properties": {
        "expandedConfig": {
          "description": "Output only. The fully-expanded configuration file, including any templates and references.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. Self link for the manifest.",
          "type": "string"
        },
        "manifestSizeBytes": {
          "description": "Output only. The computed size of the fully expanded manifest.",
          "format": "int64",
          "type": "string"
        },
        "layout": {
          "description": "Output only. The YAML layout for this manifest.",
          "type": "string"
        },
        "config": {
          "$ref": "ConfigFile",
          "description": "Output only. The YAML configuration for this manifest."
        },
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "manifestSizeLimitBytes": {
          "type": "string",
          "description": "Output only. The size limit for expanded manifests in the project.",
          "format": "int64"
        },
        "imports": {
          "type": "array",
          "description": "Output only. The imported files for this manifest.",
          "items": {
            "$ref": "ImportFile"
          }
        },
        "name": {
          "description": "Output only. The name of the manifest.",
          "type": "string"
        },
        "insertTime": {
          "type": "string",
          "description": "Output only. Creation timestamp in RFC3339 text format."
        }
      },
      "type": "object",
      "id": "Manifest"
    },
    "OperationsListResponse": {
      "description": "A response containing a partial list of operations and a page token used to build the next request if the request has been truncated.",
      "id": "OperationsListResponse",
      "type": "object",
      "properties": {
        "operations": {
          "description": "Output only. Operations contained in this list response.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token used to continue a truncated list request.",
          "type": "string"
        }
      }
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding",
      "properties": {
        "members": {
[...]
