{
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ndev.cloudman.readonly": {
          "description": "View your Google Cloud Platform management resources and deployment status information"
        },
        "https://www.googleapis.com/auth/ndev.cloudman": {
          "description": "View and manage your Google Cloud Platform management resources and deployment status information"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "The Google Cloud Deployment Manager v2 API provides services for configuring, deploying, and viewing Google Cloud services and APIs via templates which specify deployments of Cloud resources.",
  "discoveryVersion": "v1",
  "basePath": "",
  "version": "alpha",
  "revision": "20260827",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/deployment-manager",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "deploymentmanager",
  "baseUrl": "https://deploymentmanager.googleapis.com/",
  "title": "Cloud Deployment Manager V2 API",
  "id": "deploymentmanager:alpha",
  "protocol": "rest",
  "resources": {
    "typeProviders": {
      "methods": {
        "listTypes": {
          "id": "deploymentmanager.typeProviders.listTypes",
          "description": "Lists all the type info for a TypeProvider.",
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "response": {
            "$ref": "TypeProvidersListTypesResponse"
          },
          "parameters": {
            "orderBy": {
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string"
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "required": true,
              "description": "The project ID for this request."
            },
            "typeProvider": {
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "type": "string",
              "description": "The name of the type provider for this request."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results."
            },
            "maxResults": {
              "location": "query",
              "minimum": "0",
              "format": "uint32",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "type": "integer",
              "default": "500"
            }
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}/types",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}/types",
          "httpMethod": "GET"
        },
        "insert": {
          "id": "deploymentmanager.typeProviders.insert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "request": {
            "$ref": "TypeProvider"
          },
          "description": "Creates a type provider.",
          "parameters": {
            "project": {
              "description": "The project ID for this request.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders",
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "POST"
        },
        "update": {
          "httpMethod": "PUT",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "request": {
            "$ref": "TypeProvider"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "parameters": {
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "typeProvider": {
              "location": "path",
              "description": "The name of the type provider for this request.",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true
            }
          },
          "description": "Updates a type provider.",
          "id": "deploymentmanager.typeProviders.update",
          "response": {
            "$ref": "Operation"
          }
        },
        "get": {
          "response": {
            "$ref": "TypeProvider"
          },
          "id": "deploymentmanager.typeProviders.get",
          "httpMethod": "GET",
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "description": "Gets information about a specific type provider.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "parameters": {
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "The project ID for this request.",
              "location": "path",
              "type": "string"
            },
            "typeProvider": {
              "description": "The name of the type provider for this request.",
              "required": true,
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path"
            }
          }
        },
        "delete": {
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "id": "deploymentmanager.typeProviders.delete",
          "parameters": {
            "project": {
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "type": "string",
              "description": "The project ID for this request."
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "typeProvider": {
              "type": "string",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "description": "The name of the type provider for this request."
            }
          },
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "description": "Deletes a type provider.",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "DELETE"
        },
        "getType": {
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}/types/{type}",
          "description": "Gets a type info for a type provided by a TypeProvider.",
          "response": {
            "$ref": "TypeInfo"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "id": "deploymentmanager.typeProviders.getType",
          "parameters": {
            "type": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The name of the type provider type for this request."
            },
            "typeProvider": {
              "required": true,
              "description": "The name of the type provider for this request.",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}/types/{type}",
          "parameterOrder": [
            "project",
            "typeProvider",
            "type"
          ]
        },
        "list": {
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders",
          "description": "Lists all resource type providers for Deployment Manager.",
          "id": "deploymentmanager.typeProviders.list",
          "httpMethod": "GET",
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders",
          "response": {
            "$ref": "TypeProvidersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "type": "integer",
              "default": "500",
              "format": "uint32",
              "location": "query",
              "minimum": "0"
            },
            "project": {
              "location": "path",
              "description": "The project ID for this request.",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query"
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "patch": {
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "parameters": {
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "typeProvider": {
              "location": "path",
              "description": "The name of the type provider for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string",
              "required": true
            },
            "project": {
              "type": "string",
              "required": true,
              "description": "The project ID for this request.",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            }
          },
          "request": {
            "$ref": "TypeProvider"
          },
          "description": "Patches a type provider.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/typeProviders/{typeProvider}",
          "id": "deploymentmanager.typeProviders.patch",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PATCH"
        }
      }
    },
    "types": {
      "methods": {
        "get": {
          "id": "deploymentmanager.types.get",
          "description": "Gets information about a specific type.",
          "parameters": {
            "project": {
              "description": "The project ID for this request.",
              "required": true,
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "type": {
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the type for this request.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/types/{type}",
          "parameterOrder": [
            "project",
            "type"
          ],
          "response": {
            "$ref": "Type"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/types/{type}",
          "httpMethod": "GET"
        },
        "list": {
          "description": "Lists all resource types for Deployment Manager.",
          "parameters": {
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "minimum": "0",
              "location": "query",
              "default": "500",
              "type": "integer",
              "format": "uint32"
            },
            "project": {
              "type": "string",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "required": true
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/types",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/types",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "TypesListResponse"
          },
          "httpMethod": "GET",
          "id": "deploymentmanager.types.list"
        }
      }
    },
    "deployments": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments",
          "description": "Lists all deployments for a given project.",
          "parameters": {
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string"
            },
            "maxResults": {
              "minimum": "0",
              "format": "uint32",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "type": "integer",
              "location": "query",
              "default": "500"
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "The project ID for this request.",
              "type": "string",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true
            }
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments",
          "response": {
            "$ref": "DeploymentsListResponse"
          },
          "id": "deploymentmanager.deployments.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameterOrder": [
            "project"
          ]
        },
        "update": {
          "parameters": {
            "preview": {
              "description": "If set to true, updates the deployment and creates and updates the \"shell\" resources but does not actually alter or instantiate these resources. This allows you to preview what your deployment will look like. You can use this intent to preview how an update would affect your deployment. You must provide a `target.config` with a configuration if this is set to true. After previewing a deployment, you can deploy your resources by making a request with the `update()` or you can `cancelPreview()` to remove the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "project": {
              "type": "string",
              "description": "The project ID for this request.",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true
            },
            "deletePolicy": {
              "default": "DELETE",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "DELETE",
                "ABANDON"
              ],
              "description": "Sets the policy to use for deleting resources.",
              "type": "string"
            },
            "deployment": {
              "description": "The name of the deployment for this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "createPolicy": {
              "location": "query",
              "type": "string",
              "enum": [
                "CREATE_OR_ACQUIRE",
                "ACQUIRE",
                "CREATE"
              ],
              "default": "CREATE_OR_ACQUIRE",
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "description": "Sets the policy to use for creating new resources."
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            }
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "request": {
            "$ref": "Deployment"
          },
          "httpMethod": "PUT",
          "id": "deploymentmanager.deployments.update",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "description": "Updates a deployment and all of the resources described by the deployment manifest."
        },
        "get": {
          "id": "deploymentmanager.deployments.get",
          "response": {
            "$ref": "Deployment"
          },
          "parameters": {
            "deployment": {
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the deployment for this request.",
              "type": "string",
              "location": "path"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "project": {
              "type": "string",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "The project ID for this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "description": "Gets information about a specific deployment.",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "httpMethod": "GET",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}"
        },
        "getIamPolicy": {
          "httpMethod": "GET",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{resource}/getIamPolicy",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{resource}/getIamPolicy",
          "description": "Gets the access control policy for a resource. May be empty if no such policy or resource exists.",
          "parameters": {
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request.",
              "type": "string",
              "location": "path"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "optionsRequestedPolicyVersion": {
              "format": "int32",
              "type": "integer",
              "description": "Requested IAM Policy version.",
              "location": "query"
            },
            "resource": {
              "description": "Name or id of the resource for this request.",
              "required": true,
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "resource"
          ],
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "id": "deploymentmanager.deployments.getIamPolicy"
        },
        "insert": {
          "id": "deploymentmanager.deployments.insert",
          "response": {
            "$ref": "Operation"
          },
          "description": "Creates a deployment and all of the resources described by the deployment manifest.",
          "parameters": {
            "createPolicy": {
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "default": "CREATE_OR_ACQUIRE",
              "location": "query",
              "enum": [
                "CREATE_OR_ACQUIRE",
                "ACQUIRE",
                "CREATE"
              ],
              "description": "Sets the policy to use for creating new resources.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "required": true,
              "description": "The project ID for this request."
            },
            "preview": {
              "description": "If set to true, creates a deployment and creates \"shell\" resources but does not actually instantiate these resources. This allows you to preview what your deployment looks like. After previewing a deployment, you can deploy your resources by making a request with the `update()` method or you can use the `cancelPreview()` method to cancel the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.",
              "location": "query",
              "type": "boolean"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "parameterOrder": [
            "project"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments",
          "request": {
            "$ref": "Deployment"
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments",
          "httpMethod": "POST"
        },
        "delete": {
          "description": "Deletes a deployment and all of the resources in the deployment.",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "deployment": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The name of the deployment for this request."
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "deletePolicy": {
              "default": "DELETE",
              "description": "Sets the policy to use for deleting resources.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "DELETE",
                "ABANDON"
              ],
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "The project ID for this request.",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "required": true
            }
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "id": "deploymentmanager.deployments.delete"
        },
        "patch": {
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "parameters": {
            "createPolicy": {
              "default": "CREATE_OR_ACQUIRE",
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "description": "Sets the policy to use for creating new resources.",
              "enum": [
                "CREATE_OR_ACQUIRE",
                "ACQUIRE",
                "CREATE"
              ],
              "type": "string",
              "location": "query"
            },
            "deletePolicy": {
              "description": "Sets the policy to use for deleting resources.",
              "enum": [
                "DELETE",
                "ABANDON"
              ],
              "default": "DELETE",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "preview": {
              "description": "If set to true, updates the deployment and creates and updates the \"shell\" resources but does not actually alter or instantiate these resources. This allows you to preview what your deployment will look like. You can use this intent to preview how an update would affect your deployment. You must provide a `target.config` with a configuration if this is set to true. After previewing a deployment, you can deploy your resources by making a request with the `update()` or you can `cancelPreview()` to remove the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "deployment": {
              "description": "The name of the deployment for this request.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            }
          },
          "description": "Patches a deployment and all of the resources described by the deployment manifest.",
          "id": "deploymentmanager.deployments.patch",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "request": {
            "$ref": "Deployment"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}",
          "response": {
            "$ref": "Operation"
          }
        },
        "testIamPermissions": {
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{resource}/testIamPermissions",
          "parameterOrder": [
            "project",
            "resource"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{resource}/testIamPermissions",
          "httpMethod": "POST",
          "id": "deploymentmanager.deployments.testIamPermissions",
          "request": {
            "$ref": "TestPermissionsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "parameters": {
            "resource": {
              "location": "path",
              "type": "string",
              "description": "Name or id of the resource for this request.",
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            }
          },
          "description": "Returns permissions that a caller has on the specified resource.",
          "response": {
            "$ref": "TestPermissionsResponse"
          }
        },
        "stop": {
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/stop",
          "description": "Stops an ongoing operation. This does not roll back any work that has already been completed, but prevents any new work from being started.",
          "parameters": {
            "project": {
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "location": "path",
              "required": true
            },
            "deployment": {
              "location": "path",
              "description": "The name of the deployment for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "DeploymentsStopRequest"
          },
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "id": "deploymentmanager.deployments.stop",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "httpMethod": "POST",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/stop",
          "response": {
            "$ref": "Operation"
          }
        },
        "cancelPreview": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "id": "deploymentmanager.deployments.cancelPreview",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path"
            },
            "deployment": {
              "required": true,
              "type": "string",
              "description": "The name of the deployment for this request.",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            }
          },
          "description": "Cancels and removes the preview currently associated with the deployment.",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/cancelPreview",
          "request": {
            "$ref": "DeploymentsCancelPreviewRequest"
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/cancelPreview",
          "httpMethod": "POST"
        },
        "setIamPolicy": {
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy.",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{resource}/setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "id": "deploymentmanager.deployments.setIamPolicy",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{resource}/setIamPolicy",
          "parameters": {
            "resource": {
              "location": "path",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "description": "Name or id of the resource for this request.",
              "type": "string"
            },
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "type": "string",
              "description": "Project ID for this request."
            }
          },
          "request": {
            "$ref": "GlobalSetPolicyRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "resource"
          ],
          "response": {
            "$ref": "Policy"
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "The project ID for this request."
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "operation": {
              "type": "string",
              "description": "The name of the operation for this request.",
              "location": "path",
              "required": true
            }
          },
          "id": "deploymentmanager.operations.get",
          "description": "Gets information about a specific operation.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "operation"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/operations/{operation}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "httpMethod": "GET",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/operations/{operation}"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/operations",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/operations",
          "parameters": {
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            },
            "project": {
              "location": "path",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "The project ID for this request."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results."
            },
            "maxResults": {
              "default": "500",
              "format": "uint32",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "type": "integer",
              "minimum": "0",
              "location": "query"
            }
          },
          "description": "Lists all operations for a project.",
          "id": "deploymentmanager.operations.list",
          "response": {
            "$ref": "OperationsListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project"
          ]
        }
      }
    },
    "resources": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query"
            },
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string",
              "location": "query"
            },
            "deployment": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "type": "string",
              "description": "The name of the deployment for this request.",
              "required": true
            },
            "filter": {
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "location": "query"
            },
            "project": {
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "required": true,
              "description": "The project ID for this request."
            },
            "maxResults": {
              "minimum": "0",
              "format": "uint32",
              "default": "500",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "response": {
            "$ref": "ResourcesListResponse"
          },
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/resources",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/resources",
          "httpMethod": "GET",
          "id": "deploymentmanager.resources.list",
          "description": "Lists all resources in a given deployment."
        },
        "get": {
          "httpMethod": "GET",
          "description": "Gets information about a single resource.",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/resources/{resource}",
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/resources/{resource}",
          "parameterOrder": [
            "project",
            "deployment",
            "resource"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "The project ID for this request.",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "deployment": {
              "location": "path",
              "description": "The name of the deployment for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "type": "string"
            },
            "resource": {
              "type": "string",
              "description": "The name of the resource for this request.",
              "location": "path",
              "required": true
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "response": {
            "$ref": "Resource"
          },
          "id": "deploymentmanager.resources.get"
        }
      }
    },
    "compositeTypes": {
      "methods": {
        "list": {
          "response": {
            "$ref": "CompositeTypesListResponse"
          },
          "id": "deploymentmanager.compositeTypes.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameters": {
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query"
            },
            "maxResults": {
              "default": "500",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "minimum": "0"
            }
          },
          "parameterOrder": [
            "project"
          ],
          "description": "Lists all composite types for Deployment Manager.",
          "httpMethod": "GET",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/compositeTypes",
          "path": "deploymentmanager/alpha/projects/{project}/global/compositeTypes"
        },
        "get": {
          "description": "Gets information about a specific composite type.",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "id": "deploymentmanager.compositeTypes.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameters": {
            "compositeType": {
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9_.]{0,61}[a-z0-9])?",
              "description": "The name of the composite type for this request.",
              "location": "path",
              "type": "string"
            },
            "project": {
              "type": "string",
              "required": true,
              "description": "The project ID for this request.",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "project",
            "compositeType"
          ],
          "httpMethod": "GET",
          "path": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "response": {
            "$ref": "CompositeType"
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "project",
            "compositeType"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "description": "Deletes a composite type.",
          "id": "deploymentmanager.compositeTypes.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "parameters": {
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "compositeType": {
              "description": "The name of the type for this request.",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9_.]{0,61}[a-z0-9])?",
              "location": "path",
              "type": "string"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "response": {
            "$ref": "Operation"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/compositeTypes",
          "httpMethod": "POST",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/compositeTypes",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "CompositeType"
          },
          "id": "deploymentmanager.compositeTypes.insert",
          "description": "Creates a composite type.",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "location": "path"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            }
          }
        },
        "update": {
          "description": "Updates a composite type.",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "httpMethod": "PUT",
          "id": "deploymentmanager.compositeTypes.update",
          "path": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "parameterOrder": [
            "project",
            "compositeType"
          ],
          "request": {
            "$ref": "CompositeType"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "project": {
              "required": true,
              "description": "The project ID for this request.",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string"
            },
            "compositeType": {
              "description": "The name of the composite type for this request.",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9_.]{0,61}[a-z0-9])?",
              "required": true,
              "type": "string"
            }
          }
        },
        "patch": {
          "description": "Patches a composite type.",
          "path": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/compositeTypes/{compositeType}",
          "httpMethod": "PATCH",
          "id": "deploymentmanager.compositeTypes.patch",
          "parameterOrder": [
            "project",
            "compositeType"
          ],
          "request": {
            "$ref": "CompositeType"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "compositeType": {
              "description": "The name of the composite type for this request.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9_.]{0,61}[a-z0-9])?"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "description": "The project ID for this request.",
              "location": "path"
            }
          }
        }
      }
    },
    "manifests": {
      "methods": {
        "get": {
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/manifests/{manifest}",
          "parameterOrder": [
            "project",
            "deployment",
            "manifest"
          ],
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/manifests/{manifest}",
          "parameters": {
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "deployment": {
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "type": "string",
              "description": "The name of the deployment for this request."
            },
            "manifest": {
              "required": true,
              "description": "The name of the manifest for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "type": "string"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "The project ID for this request.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Gets information about a specific manifest.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Manifest"
          },
          "id": "deploymentmanager.manifests.get"
        },
        "list": {
          "id": "deploymentmanager.manifests.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "path": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/manifests",
          "response": {
            "$ref": "ManifestsListResponse"
          },
          "description": "Lists all manifests for a given deployment.",
          "parameters": {
            "maxResults": {
              "minimum": "0",
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "default": "500"
            },
            "orderBy": {
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query"
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query",
              "type": "string"
            },
            "deployment": {
              "type": "string",
              "description": "The name of the deployment for this request.",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "required": true,
              "description": "The project ID for this request.",
              "location": "path"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions."
            }
          },
          "flatPath": "deploymentmanager/alpha/projects/{project}/global/deployments/{deployment}/manifests",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ]
        }
      }
    }
  },
  "schemas": {
    "Help": {
      "description": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit.",
      "properties": {
        "links": {
          "description": "URL(s) pointing to additional information on handling the current error.",
          "items": {
            "$ref": "HelpLink"
          },
          "type": "array"
        }
      },
      "id": "Help",
      "type": "object"
    },
    "FirewallPolicyRuleOperationMetadata": {
      "id": "FirewallPolicyRuleOperationMetadata",
      "description": "Metadata for FirewallPolicyRule operations.",
      "properties": {
        "allocatedPriority": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. [Output Only] The priority allocated for the firewall policy rule if query parameters specified minPriority/maxPriority."
        }
      },
      "type": "object"
    },
    "DeploymentLabelEntry": {
      "type": "object",
      "properties": {
        "key": {
          "description": "Key of the label",
          "type": "string"
        },
        "value": {
          "description": "Value of the label",
          "type": "string"
        }
      },
      "description": "Label object for Deployments",
      "id": "DeploymentLabelEntry"
    },
    "TypeProvidersListTypesResponse": {
      "properties": {
        "types": {
          "items": {
            "$ref": "TypeInfo"
          },
          "type": "array",
          "description": "Output only. A list of resource type info."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token used to continue a truncated list request."
        }
      },
      "type": "object",
      "id": "TypeProvidersListTypesResponse"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "properties": {
        "zone": {
          "description": "[Output Only] The URL of the zone where the operation resides. Only applicable when performing per-zone operations.",
          "type": "string"
        },
        "operationType": {
          "description": "[Output Only] The type of operation, such as `insert`, `update`, or `delete`, and so on.",
          "type": "string"
        },
        "user": {
          "description": "[Output Only] User who requested the operation, for example: `user@example.com` or `alice_smith_identifier (global/workforcePools/example-com-us-employees)`.",
          "type": "string"
        },
        "targetId": {
          "type": "string",
          "format": "uint64",
          "description": "[Output Only] The unique target ID, which identifies a specific incarnation of the target resource."
        },
        "status": {
          "enum": [
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "enumDescriptions": [
            "The operation is waiting to be processed.",
            "The operation is actively being processed.",
            "The operation has completed processing successfully or with an error."
          ],
          "description": "[Output Only] The status of the operation, which can be one of the following: `PENDING`, `RUNNING`, or `DONE`.",
          "type": "string"
        },
        "description": {
          "description": "[Output Only] A textual description of the operation, which is set when the operation is created.",
          "type": "string"
        },
        "selfLink": {
          "description": "[Output Only] Server-defined URL for the resource.",
          "type": "string"
        },
        "httpErrorMessage": {
          "description": "[Output Only] If the operation fails, this field contains the HTTP error message that was returned, such as `NOT FOUND`.",
          "type": "string"
        },
        "setCommonInstanceMetadataOperationMetadata": {
          "readOnly": true,
          "description": "Output only. [Output Only] If the operation is for projects.setCommonInstanceMetadata, this field will contain information on all underlying zonal actions and their state.",
          "$ref": "SetCommonInstanceMetadataOperationMetadata"
        },
        "instancesBulkInsertOperationMetadata": {
          "$ref": "InstancesBulkInsertOperationMetadata"
        },
        "name": {
          "description": "[Output Only] Name of the operation.",
          "type": "string"
        },
        "selfLinkWithId": {
          "description": "Output only. [Output Only] Server-defined URL for this resource with the resource id.",
          "type": "string",
          "readOnly": true
        },
        "getHealthOperationMetadata": {
          "$ref": "GetHealthOperationMetadata",
          "description": "Output only. Metadata for GetHealth operations.",
          "readOnly": true
        },
        "region": {
          "description": "[Output Only] The URL of the region where the operation resides. Only applicable when performing regional operations.",
          "type": "string"
        },
        "clientOperationId": {
          "type": "string",
          "description": "[Output Only] The value of `requestId` if you provided it in the request. Not present otherwise."
        },
        "getVersionOperationMetadata": {
          "$ref": "GetVersionOperationMetadata"
        },
        "endTime": {
          "description": "[Output Only] The time that this operation was completed. This value is in RFC3339 text format.",
          "type": "string"
        },
        "details": {
          "$ref": "OperationDetails",
          "description": "[Output Only] Extended details about the operation's execution."
        },
        "operationGroupId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output Only] An ID that represents a group of operations, such as when a group of operations results from a `bulkInsert` API request."
        },
        "warnings": {
          "description": "[Output Only] If warning messages are generated during processing of the operation, this field will be populated.",
          "type": "array",
          "items": {
            "properties": {
              "code": {
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                "enumDescriptions": [
                  "A link to a deprecated resource was created.",
                  "No results are present on a particular list page.",
                  "A given scope cannot be reached.",
                  "The route's nextHopIp address is not assigned to an instance on the network.",
                  "The route's nextHopInstance URL refers to an instance that does not exist.",
                  "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                  "The route's next hop instance cannot ip forward.",
                  "The route's next hop instance does not have a status of RUNNING.",
                  "The operation involved use of an injected kernel, which is deprecated.",
                  "The user attempted to use a resource that requires a TOS they have not accepted.",
                  "The user created a boot disk that is larger than image size.",
                  "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                  "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                  "Error which is not critical. We decided to continue the process despite the mentioned error.",
                  "Warning about failed cleanup of transient changes made by a failed operation.",
                  "Warning that value of a field has been overridden. Deprecated unused field.",
                  "Warning that a resource is in use.",
                  "Warning that network endpoint was not detached.",
                  "Current page contains less results than requested but a next page token exists.",
                  "Warning that SSL policy resource in the response does not contain information about the list of enabled features.",
                  "Warning that a resource is not found.",
                  "A resource depends on a missing type",
                  "Warning that is present in an external api call",
                  "When a resource schema validation is ignored.",
                  "When undeclared properties in the schema are present",
                  "When deploying and at least one of the resources has a type marked as experimental",
                  "When deploying and at least one of the resources has a type marked as deprecated",
[...]
