{
  "mtlsRootUrl": "https://deploymentmanager.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ndev.cloudman.readonly": {
          "description": "View your Google Cloud Platform management resources and deployment status information"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/ndev.cloudman": {
          "description": "View and manage your Google Cloud Platform management resources and deployment status information"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "id": "deploymentmanager:v2beta",
  "protocol": "rest",
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "path": "deploymentmanager/v2beta/projects/{project}/global/operations/{operation}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/operations/{operation}",
          "parameterOrder": [
            "project",
            "operation"
          ],
          "description": "Gets information about a specific operation.",
          "parameters": {
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "operation": {
              "description": "The name of the operation for this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "description": "The project ID for this request.",
              "required": true,
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path"
            }
          },
          "id": "deploymentmanager.operations.get",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "GET"
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/operations",
          "parameters": {
            "project": {
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query"
            },
            "maxResults": {
              "default": "500",
              "location": "query",
              "format": "uint32",
              "minimum": "0",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "type": "integer"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions."
            },
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "deploymentmanager/v2beta/projects/{project}/global/operations",
          "id": "deploymentmanager.operations.list",
          "parameterOrder": [
            "project"
          ],
          "description": "Lists all operations for a project.",
          "response": {
            "$ref": "OperationsListResponse"
          }
        }
      }
    },
    "manifests": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "id": "deploymentmanager.manifests.get",
          "parameterOrder": [
            "project",
            "deployment",
            "manifest"
          ],
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/deployments/{deployment}/manifests/{manifest}",
          "description": "Gets information about a specific manifest.",
          "path": "deploymentmanager/v2beta/projects/{project}/global/deployments/{deployment}/manifests/{manifest}",
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "manifest": {
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the manifest for this request.",
              "type": "string",
              "required": true
            },
            "deployment": {
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the deployment for this request.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Manifest"
          },
          "httpMethod": "GET"
        },
        "list": {
          "path": "deploymentmanager/v2beta/projects/{project}/global/deployments/{deployment}/manifests",
          "parameters": {
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "The project ID for this request."
            },
            "orderBy": {
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query"
            },
            "deployment": {
              "type": "string",
              "required": true,
              "description": "The name of the deployment for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path"
            },
            "maxResults": {
              "minimum": "0",
              "type": "integer",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "location": "query",
              "format": "uint32",
              "default": "500"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "id": "deploymentmanager.manifests.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "ManifestsListResponse"
          },
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/deployments/{deployment}/manifests",
          "description": "Lists all manifests for a given deployment.",
          "parameterOrder": [
            "project",
            "deployment"
          ]
        }
      }
    },
    "types": {
      "methods": {
        "list": {
          "parameters": {
            "orderBy": {
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query"
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "minimum": "0",
              "location": "query",
              "format": "uint32",
              "type": "integer",
              "default": "500",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The project ID for this request."
            }
          },
          "parameterOrder": [
            "project"
          ],
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/types",
          "httpMethod": "GET",
          "id": "deploymentmanager.types.list",
          "path": "deploymentmanager/v2beta/projects/{project}/global/types",
          "description": "Lists all resource types for Deployment Manager.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "response": {
            "$ref": "TypesListResponse"
          }
        }
      }
    },
    "typeProviders": {
      "methods": {
        "update": {
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}",
          "id": "deploymentmanager.typeProviders.update",
          "path": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}",
          "parameters": {
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "typeProvider": {
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the type provider for this request.",
              "type": "string",
              "location": "path"
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "request": {
            "$ref": "TypeProvider"
          },
          "description": "Updates a type provider.",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PUT"
        },
        "get": {
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "description": "Gets information about a specific type provider.",
          "parameters": {
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "typeProvider": {
              "type": "string",
              "location": "path",
              "description": "The name of the type provider for this request.",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "project": {
              "description": "The project ID for this request.",
              "type": "string",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "response": {
            "$ref": "TypeProvider"
          },
          "httpMethod": "GET",
          "id": "deploymentmanager.typeProviders.get",
          "path": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}",
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}"
        },
        "insert": {
          "request": {
            "$ref": "TypeProvider"
          },
          "id": "deploymentmanager.typeProviders.insert",
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/typeProviders",
          "description": "Creates a type provider.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "location": "path",
              "description": "The project ID for this request.",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "deploymentmanager/v2beta/projects/{project}/global/typeProviders",
          "response": {
            "$ref": "Operation"
          }
        },
        "getType": {
          "path": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}/types/{type}",
          "parameters": {
            "typeProvider": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the type provider for this request."
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true
            },
            "type": {
              "description": "The name of the type provider type for this request.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}/types/{type}",
          "id": "deploymentmanager.typeProviders.getType",
          "response": {
            "$ref": "TypeInfo"
          },
          "parameterOrder": [
            "project",
            "typeProvider",
            "type"
          ],
          "description": "Gets a type info for a type provided by a TypeProvider."
        },
        "listTypes": {
          "path": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}/types",
          "response": {
            "$ref": "TypeProvidersListTypesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}/types",
          "httpMethod": "GET",
          "description": "Lists all the type info for a TypeProvider.",
          "id": "deploymentmanager.typeProviders.listTypes",
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "parameters": {
            "project": {
              "required": true,
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "location": "path"
            },
            "filter": {
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "location": "query"
            },
            "maxResults": {
              "minimum": "0",
              "location": "query",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "format": "uint32",
              "type": "integer",
              "default": "500"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results."
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            },
            "typeProvider": {
              "description": "The name of the type provider for this request.",
              "type": "string",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true
            }
          }
        },
        "patch": {
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}",
          "request": {
            "$ref": "TypeProvider"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "description": "Patches a type provider.",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "typeProvider": {
              "description": "The name of the type provider for this request.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "project": {
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "description": "The project ID for this request.",
              "required": true
            }
          },
          "path": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}",
          "id": "deploymentmanager.typeProviders.patch"
        },
        "list": {
          "path": "deploymentmanager/v2beta/projects/{project}/global/typeProviders",
          "httpMethod": "GET",
          "id": "deploymentmanager.typeProviders.list",
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/typeProviders",
          "description": "Lists all resource type providers for Deployment Manager.",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request."
            },
            "filter": {
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            },
            "maxResults": {
              "minimum": "0",
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "default": "500"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "response": {
            "$ref": "TypeProvidersListResponse"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "description": "Deletes a type provider.",
          "path": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}",
          "id": "deploymentmanager.typeProviders.delete",
          "parameterOrder": [
            "project",
            "typeProvider"
          ],
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/typeProviders/{typeProvider}",
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "typeProvider": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "description": "The name of the type provider for this request.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "DELETE"
        }
      }
    },
    "compositeTypes": {
      "methods": {
        "update": {
          "description": "Updates a composite type.",
          "response": {
            "$ref": "Operation"
          },
          "path": "deploymentmanager/v2beta/projects/{project}/global/compositeTypes/{compositeType}",
          "parameterOrder": [
            "project",
            "compositeType"
          ],
          "id": "deploymentmanager.compositeTypes.update",
          "request": {
            "$ref": "CompositeType"
          },
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/compositeTypes/{compositeType}",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "compositeType": {
              "location": "path",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9_.]{0,61}[a-z0-9])?",
              "description": "The name of the composite type for this request.",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        },
        "insert": {
          "parameters": {
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Creates a composite type.",
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/compositeTypes",
          "parameterOrder": [
            "project"
          ],
          "path": "deploymentmanager/v2beta/projects/{project}/global/compositeTypes",
          "httpMethod": "POST",
          "id": "deploymentmanager.compositeTypes.insert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "request": {
            "$ref": "CompositeType"
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "get": {
          "description": "Gets information about a specific composite type.",
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/compositeTypes/{compositeType}",
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request."
            },
            "compositeType": {
              "description": "The name of the composite type for this request.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9_.]{0,61}[a-z0-9])?"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            }
          },
          "id": "deploymentmanager.compositeTypes.get",
          "path": "deploymentmanager/v2beta/projects/{project}/global/compositeTypes/{compositeType}",
          "response": {
            "$ref": "CompositeType"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameterOrder": [
            "project",
            "compositeType"
          ]
        },
        "patch": {
          "id": "deploymentmanager.compositeTypes.patch",
          "path": "deploymentmanager/v2beta/projects/{project}/global/compositeTypes/{compositeType}",
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/compositeTypes/{compositeType}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "description": "Patches a composite type.",
          "parameterOrder": [
            "project",
            "compositeType"
          ],
          "request": {
            "$ref": "CompositeType"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "compositeType": {
              "location": "path",
              "description": "The name of the composite type for this request.",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9_.]{0,61}[a-z0-9])?",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "list": {
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/compositeTypes",
          "path": "deploymentmanager/v2beta/projects/{project}/global/compositeTypes",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "description": "Lists all composite types for Deployment Manager.",
          "response": {
            "$ref": "CompositeTypesListResponse"
          },
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query"
            },
            "project": {
              "description": "The project ID for this request.",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "location": "path"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions."
            },
            "maxResults": {
              "default": "500",
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "minimum": "0",
              "type": "integer"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project"
          ],
          "id": "deploymentmanager.compositeTypes.list"
        },
        "delete": {
          "httpMethod": "DELETE",
          "path": "deploymentmanager/v2beta/projects/{project}/global/compositeTypes/{compositeType}",
          "parameters": {
            "compositeType": {
              "required": true,
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9_.]{0,61}[a-z0-9])?",
              "description": "The name of the type for this request.",
              "type": "string"
            },
            "project": {
              "description": "The project ID for this request.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            }
          },
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/compositeTypes/{compositeType}",
          "id": "deploymentmanager.compositeTypes.delete",
          "description": "Deletes a composite type.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "compositeType"
          ]
        }
      }
    },
    "resources": {
      "methods": {
        "list": {
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "response": {
            "$ref": "ResourcesListResponse"
          },
          "id": "deploymentmanager.resources.list",
          "httpMethod": "GET",
          "parameters": {
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            },
            "pageToken": {
              "type": "string",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query"
            },
            "deployment": {
              "location": "path",
              "description": "The name of the deployment for this request.",
              "type": "string",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "maxResults": {
              "default": "500",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "location": "query",
              "format": "uint32",
              "minimum": "0",
              "type": "integer"
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true
            }
          },
          "path": "deploymentmanager/v2beta/projects/{project}/global/deployments/{deployment}/resources",
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/deployments/{deployment}/resources",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "description": "Lists all resources in a given deployment."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "id": "deploymentmanager.resources.get",
          "parameters": {
            "deployment": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "type": "string",
              "description": "The name of the deployment for this request.",
              "location": "path"
            },
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "type": "string",
              "description": "The project ID for this request."
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "resource": {
              "description": "The name of the resource for this request.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "path": "deploymentmanager/v2beta/projects/{project}/global/deployments/{deployment}/resources/{resource}",
          "response": {
            "$ref": "Resource"
          },
          "parameterOrder": [
            "project",
            "deployment",
            "resource"
          ],
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/deployments/{deployment}/resources/{resource}",
          "description": "Gets information about a single resource."
        }
      }
    },
    "deployments": {
      "methods": {
        "setIamPolicy": {
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/deployments/{resource}/setIamPolicy",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy.",
          "path": "deploymentmanager/v2beta/projects/{project}/global/deployments/{resource}/setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "request": {
            "$ref": "GlobalSetPolicyRequest"
          },
          "parameterOrder": [
            "project",
            "resource"
          ],
          "response": {
            "$ref": "Policy"
          },
          "id": "deploymentmanager.deployments.setIamPolicy",
          "parameters": {
            "resource": {
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "description": "Name or id of the resource for this request.",
              "type": "string",
              "required": true
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID for this request.",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            }
          },
          "httpMethod": "POST"
        },
        "stop": {
          "request": {
            "$ref": "DeploymentsStopRequest"
          },
          "parameters": {
            "project": {
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "deployment": {
              "description": "The name of the deployment for this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Stops an ongoing operation. This does not roll back any work that has already been completed, but prevents any new work from being started.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "path": "deploymentmanager/v2beta/projects/{project}/global/deployments/{deployment}/stop",
          "httpMethod": "POST",
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/deployments/{deployment}/stop",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "id": "deploymentmanager.deployments.stop"
        },
        "update": {
          "httpMethod": "PUT",
          "description": "Updates a deployment and all of the resources described by the deployment manifest.",
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/deployments/{deployment}",
          "request": {
            "$ref": "Deployment"
          },
          "parameters": {
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "deployment": {
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string",
              "location": "path",
              "description": "The name of the deployment for this request."
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "createPolicy": {
              "type": "string",
              "description": "Sets the policy to use for creating new resources.",
              "location": "query",
              "enum": [
                "CREATE_OR_ACQUIRE",
                "ACQUIRE",
                "CREATE"
              ],
              "default": "CREATE_OR_ACQUIRE",
              "enumDescriptions": [
                "",
                "",
                ""
              ]
            },
            "deletePolicy": {
              "type": "string",
              "default": "DELETE",
              "location": "query",
              "enum": [
                "DELETE",
                "ABANDON"
              ],
              "description": "Sets the policy to use for deleting resources.",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "preview": {
              "default": "false",
              "description": "If set to true, updates the deployment and creates and updates the \"shell\" resources but does not actually alter or instantiate these resources. This allows you to preview what your deployment will look like. You can use this intent to preview how an update would affect your deployment. You must provide a `target.config` with a configuration if this is set to true. After previewing a deployment, you can deploy your resources by making a request with the `update()` or you can `cancelPreview()` to remove the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.",
              "location": "query",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "path": "deploymentmanager/v2beta/projects/{project}/global/deployments/{deployment}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "id": "deploymentmanager.deployments.update"
        },
        "cancelPreview": {
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "parameters": {
            "project": {
              "required": true,
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "location": "path"
            },
            "deployment": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string",
              "description": "The name of the deployment for this request.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "id": "deploymentmanager.deployments.cancelPreview",
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/deployments/{deployment}/cancelPreview",
          "path": "deploymentmanager/v2beta/projects/{project}/global/deployments/{deployment}/cancelPreview",
          "request": {
            "$ref": "DeploymentsCancelPreviewRequest"
          },
          "description": "Cancels and removes the preview currently associated with the deployment."
        },
        "getIamPolicy": {
          "path": "deploymentmanager/v2beta/projects/{project}/global/deployments/{resource}/getIamPolicy",
          "parameters": {
            "optionsRequestedPolicyVersion": {
              "type": "integer",
              "format": "int32",
              "description": "Requested IAM Policy version.",
              "location": "query"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "resource": {
              "type": "string",
              "required": true,
              "description": "Name or id of the resource for this request.",
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "location": "path"
            },
            "project": {
              "description": "Project ID for this request.",
              "location": "path",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true
            }
          },
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/deployments/{resource}/getIamPolicy",
          "id": "deploymentmanager.deployments.getIamPolicy",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "description": "Gets the access control policy for a resource. May be empty if no such policy or resource exists.",
          "response": {
            "$ref": "Policy"
          }
        },
        "testIamPermissions": {
          "path": "deploymentmanager/v2beta/projects/{project}/global/deployments/{resource}/testIamPermissions",
          "parameters": {
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request.",
              "type": "string",
              "location": "path"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "resource": {
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "location": "path",
              "required": true,
              "description": "Name or id of the resource for this request.",
              "type": "string"
            }
          },
          "id": "deploymentmanager.deployments.testIamPermissions",
          "parameterOrder": [
            "project",
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "TestPermissionsResponse"
          },
          "request": {
            "$ref": "TestPermissionsRequest"
          },
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/deployments/{resource}/testIamPermissions",
          "description": "Returns permissions that a caller has on the specified resource."
        },
        "delete": {
          "parameters": {
            "deletePolicy": {
              "enum": [
                "DELETE",
                "ABANDON"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Sets the policy to use for deleting resources.",
              "location": "query",
              "type": "string",
              "default": "DELETE"
            },
            "deployment": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The name of the deployment for this request."
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request."
            }
          },
          "path": "deploymentmanager/v2beta/projects/{project}/global/deployments/{deployment}",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "description": "Deletes a deployment and all of the resources in the deployment.",
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/deployments/{deployment}",
          "id": "deploymentmanager.deployments.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        },
        "list": {
          "response": {
            "$ref": "DeploymentsListResponse"
          },
          "httpMethod": "GET",
          "path": "deploymentmanager/v2beta/projects/{project}/global/deployments",
          "parameters": {
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "type": "string"
            },
            "orderBy": {
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string"
            },
            "maxResults": {
              "default": "500",
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "minimum": "0",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)"
            }
          },
          "description": "Lists all deployments for a given project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameterOrder": [
            "project"
          ],
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/deployments",
          "id": "deploymentmanager.deployments.list"
        },
        "get": {
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "parameters": {
            "deployment": {
              "location": "path",
              "type": "string",
              "description": "The name of the deployment for this request.",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "project": {
              "location": "path",
              "description": "The project ID for this request.",
              "required": true,
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            }
          },
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/deployments/{deployment}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "id": "deploymentmanager.deployments.get",
          "httpMethod": "GET",
          "description": "Gets information about a specific deployment.",
          "path": "deploymentmanager/v2beta/projects/{project}/global/deployments/{deployment}",
          "response": {
            "$ref": "Deployment"
          }
        },
        "insert": {
          "request": {
            "$ref": "Deployment"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "path": "deploymentmanager/v2beta/projects/{project}/global/deployments",
          "parameterOrder": [
            "project"
          ],
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/deployments",
          "parameters": {
            "preview": {
              "description": "If set to true, creates a deployment and creates \"shell\" resources but does not actually instantiate these resources. This allows you to preview what your deployment looks like. After previewing a deployment, you can deploy your resources by making a request with the `update()` method or you can use the `cancelPreview()` method to cancel the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.",
              "location": "query",
              "type": "boolean"
            },
            "createPolicy": {
              "description": "Sets the policy to use for creating new resources.",
              "enum": [
                "CREATE_OR_ACQUIRE",
                "ACQUIRE",
                "CREATE"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "default": "CREATE_OR_ACQUIRE",
              "type": "string"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The project ID for this request."
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            }
          },
          "id": "deploymentmanager.deployments.insert",
          "httpMethod": "POST",
          "description": "Creates a deployment and all of the resources described by the deployment manifest."
        },
        "patch": {
          "parameters": {
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "description": "The project ID for this request.",
              "required": true,
              "type": "string"
            },
            "preview": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "If set to true, updates the deployment and creates and updates the \"shell\" resources but does not actually alter or instantiate these resources. This allows you to preview what your deployment will look like. You can use this intent to preview how an update would affect your deployment. You must provide a `target.config` with a configuration if this is set to true. After previewing a deployment, you can deploy your resources by making a request with the `update()` or you can `cancelPreview()` to remove the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it."
            },
            "createPolicy": {
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "enum": [
                "CREATE_OR_ACQUIRE",
                "ACQUIRE",
                "CREATE"
              ],
              "location": "query",
              "description": "Sets the policy to use for creating new resources.",
              "default": "CREATE_OR_ACQUIRE",
              "type": "string"
            },
            "deletePolicy": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Sets the policy to use for deleting resources.",
              "enum": [
                "DELETE",
                "ABANDON"
              ],
              "location": "query",
              "default": "DELETE"
            },
            "deployment": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The name of the deployment for this request."
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            }
          },
          "httpMethod": "PATCH",
          "flatPath": "deploymentmanager/v2beta/projects/{project}/global/deployments/{deployment}",
          "path": "deploymentmanager/v2beta/projects/{project}/global/deployments/{deployment}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "id": "deploymentmanager.deployments.patch",
          "description": "Patches a deployment and all of the resources described by the deployment manifest.",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "Deployment"
          }
        }
      }
    }
  },
  "name": "deploymentmanager",
  "title": "Cloud Deployment Manager V2 API",
  "servicePath": "",
  "revision": "20260827",
  "schemas": {
    "SetAutoscalerLinkOperationMetadata": {
      "type": "object",
      "id": "SetAutoscalerLinkOperationMetadata",
      "properties": {
        "zoneToIgmIds": {
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "Map of zone to an ID of the zonal IGM belonging to the RMIG."
        },
        "zonalIgmIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "List of zonal IGM IDs part of the RMIG."
        }
      }
    },
    "Deployment": {
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. Update timestamp in RFC3339 text format."
        },
        "manifest": {
          "type": "string",
          "description": "Output only. URL of the manifest representing the last manifest that was successfully deployed. If no manifest has been successfully deployed, this field will be absent."
        },
        "selfLink": {
          "description": "Output only. Server defined URL for the resource.",
          "type": "string"
        },
        "insertTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "update": {
          "$ref": "DeploymentUpdate",
          "description": "Output only. If Deployment Manager is currently updating or previewing an update to this deployment, the updated configuration appears here."
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "DeploymentLabelEntry"
          },
          "description": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`."
        },
        "target": {
          "description": "[Input Only] The parameters that define your deployment, including the deployment configuration and relevant templates.",
          "$ref": "TargetConfiguration"
        },
        "name": {
          "type": "string",
          "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash."
        },
        "operation": {
          "description": "Output only. The Operation that most recently ran, or is currently running, on this deployment.",
          "$ref": "Operation"
        },
        "description": {
          "description": "An optional user-provided description of the deployment.",
          "type": "string"
        },
        "fingerprint": {
          "description": "Provides a fingerprint to use in requests to modify a deployment, such as `update()`, `stop()`, and `cancelPreview()` requests. A fingerprint is a randomly generated value that must be provided with `update()`, `stop()`, and `cancelPreview()` requests to perform optimistic locking. This ensures optimistic concurrency so that only one request happens at a time. The fingerprint is initially generated by Deployment Manager and changes after every request to modify data. To get the latest fingerprint value, perform a `get()` request to a deployment.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "Deployment",
      "type": "object"
    },
    "ManifestsListResponse": {
      "properties": {
        "manifests": {
          "type": "array",
          "description": "Output only. Manifests contained in this list response.",
          "items": {
            "$ref": "Manifest"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token used to continue a truncated list request.",
          "type": "string"
        }
      },
      "id": "ManifestsListResponse",
      "description": "A response containing a partial list of manifests and a page token used to build the next request if the request has been truncated.",
      "type": "object"
    },
    "TypesListResponse": {
      "description": "A response that returns all Types supported by Deployment Manager",
      "type": "object",
      "id": "TypesListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token used to continue a truncated list request."
        },
        "types": {
          "description": "Output only. A list of resource types supported by Deployment Manager.",
          "items": {
            "$ref": "Type"
          },
          "type": "array"
        }
      }
    },
    "DeploymentsCancelPreviewRequest": {
      "properties": {
        "fingerprint": {
          "type": "string",
          "description": "Specifies a fingerprint for `cancelPreview()` requests. A fingerprint is a randomly generated value that must be provided in `cancelPreview()` requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to cancel a preview, this would prevent one of the requests). The fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a `get()` request on the deployment.",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "DeploymentsCancelPreviewRequest"
    },
    "BaseType": {
      "type": "object",
      "description": "BaseType that describes a service-backed Type.",
      "properties": {
        "options": {
          "$ref": "Options",
          "description": "Options to apply when handling any resources in this service."
        },
        "credential": {
          "description": "Credential used when interacting with this type.",
          "$ref": "Credential"
        },
        "collectionOverrides": {
          "type": "array",
          "description": "Allows resource handling overrides for specific collections",
          "items": {
            "$ref": "CollectionOverride"
          }
        },
        "descriptorUrl": {
          "description": "Descriptor Url for the this type.",
          "type": "string"
        }
      },
      "id": "BaseType"
    },
    "BasicAuth": {
      "description": "Basic Auth used as a credential.",
      "type": "object",
      "id": "BasicAuth",
      "properties": {
        "user": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "CollectionOverride": {
      "type": "object",
      "properties": {
        "collection": {
          "description": "The collection that identifies this resource within its service.",
          "type": "string"
        },
        "options": {
          "description": "The options to apply to this resource-level override",
          "$ref": "Options"
        }
      },
      "description": "CollectionOverride allows resource handling overrides for specific resources within a BaseType",
      "id": "CollectionOverride"
    },
    "DeploymentUpdateLabelEntry": {
      "description": "Label object for DeploymentUpdate",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of the label",
          "type": "string"
        },
        "key": {
          "description": "Key of the label",
          "type": "string"
        }
      },
      "id": "DeploymentUpdateLabelEntry"
    },
    "TypeProvider": {
      "properties": {
        "description": {
          "type": "string",
          "description": "An optional textual description of the resource; provided by the client when the resource is created."
        },
        "labels": {
          "type": "array",
          "description": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`",
          "items": {
            "$ref": "TypeProviderLabelEntry"
          }
        },
        "name": {
          "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
          "type": "string"
        },
        "options": {
          "description": "Options to apply when handling any resources in this service.",
          "$ref": "Options"
        },
        "id": {
          "type": "string",
          "format": "uint64",
          "description": "Output only. Unique identifier for the resource defined by the server."
        },
        "credential": {
          "$ref": "Credential",
          "description": "Credential used when interacting with this type."
        },
        "insertTime": {
          "type": "string",
          "description": "Output only. Creation timestamp in RFC3339 text format."
        },
        "collectionOverrides": {
          "description": "Allows resource handling overrides for specific collections",
          "type": "array",
          "items": {
            "$ref": "CollectionOverride"
          }
        },
        "customCertificateAuthorityRoots": {
          "description": "List of up to 2 custom certificate authority roots to use for TLS authentication when making calls on behalf of this type provider. If set, TLS authentication will exclusively use these roots instead of relying on publicly trusted certificate authorities when validating TLS certificate authenticity. The certificates must be in base64-encoded PEM format. The maximum size of each certificate must not exceed 10KB.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "selfLink": {
          "description": "Output only. Self link for the type provider.",
          "type": "string"
        },
        "descriptorUrl": {
          "description": "Descriptor Url for the this type provider.",
          "type": "string"
        },
        "operation": {
          "$ref": "Operation",
          "description": "Output only. The Operation that most recently ran, or is currently running, on this type provider."
        }
      },
      "type": "object",
      "id": "TypeProvider",
      "description": "A type provider that describes a service-backed Type."
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "type": "string",
[...]
