{
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/deployment-manager",
  "canonicalName": "Deployment Manager",
  "discoveryVersion": "v1",
  "resources": {
    "deployments": {
      "methods": {
        "getIamPolicy": {
          "response": {
            "$ref": "Policy"
          },
          "description": "Gets the access control policy for a resource. May be empty if no such policy or resource exists.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{resource}/getIamPolicy",
          "id": "deploymentmanager.deployments.getIamPolicy",
          "httpMethod": "GET",
          "parameters": {
            "resource": {
              "type": "string",
              "description": "Name or id of the resource for this request.",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "optionsRequestedPolicyVersion": {
              "type": "integer",
              "description": "Requested IAM Policy version.",
              "location": "query",
              "format": "int32"
            },
            "project": {
              "type": "string",
              "description": "Project ID for this request.",
              "required": true,
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            }
          },
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{resource}/getIamPolicy",
          "parameterOrder": [
            "project",
            "resource"
          ]
        },
        "testIamPermissions": {
          "httpMethod": "POST",
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{resource}/testIamPermissions",
          "parameters": {
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string"
            },
            "resource": {
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Name or id of the resource for this request."
            }
          },
          "id": "deploymentmanager.deployments.testIamPermissions",
          "parameterOrder": [
            "project",
            "resource"
          ],
          "response": {
            "$ref": "TestPermissionsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{resource}/testIamPermissions",
          "description": "Returns permissions that a caller has on the specified resource.",
          "request": {
            "$ref": "TestPermissionsRequest"
          }
        },
        "list": {
          "parameterOrder": [
            "project"
          ],
          "path": "deploymentmanager/v2/projects/{project}/global/deployments",
          "httpMethod": "GET",
          "response": {
            "$ref": "DeploymentsListResponse"
          },
          "id": "deploymentmanager.deployments.list",
          "parameters": {
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string"
            },
            "maxResults": {
              "default": "500",
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "minimum": "0",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "description": "Lists all deployments for a given project.",
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments"
        },
        "update": {
          "id": "deploymentmanager.deployments.update",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "Deployment"
          },
          "httpMethod": "PUT",
          "parameters": {
            "createPolicy": {
              "location": "query",
              "type": "string",
              "description": "Sets the policy to use for creating new resources.",
              "default": "CREATE_OR_ACQUIRE",
              "enum": [
                "CREATE_OR_ACQUIRE",
                "ACQUIRE"
              ],
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "The project ID for this request.",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "preview": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "If set to true, updates the deployment and creates and updates the \"shell\" resources but does not actually alter or instantiate these resources. This allows you to preview what your deployment will look like. You can use this intent to preview how an update would affect your deployment. You must provide a `target.config` with a configuration if this is set to true. After previewing a deployment, you can deploy your resources by making a request with the `update()` or you can `cancelPreview()` to remove the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it."
            },
            "deletePolicy": {
              "description": "Sets the policy to use for deleting resources.",
              "enum": [
                "DELETE",
                "ABANDON"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "DELETE"
            },
            "deployment": {
              "required": true,
              "description": "The name of the deployment for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "type": "string"
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}",
          "description": "Updates a deployment and all of the resources described by the deployment manifest.",
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}",
          "parameterOrder": [
            "project",
            "deployment"
          ]
        },
        "delete": {
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}",
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes a deployment and all of the resources in the deployment.",
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "description": "The project ID for this request."
            },
            "deletePolicy": {
              "enum": [
                "DELETE",
                "ABANDON"
              ],
              "default": "DELETE",
              "description": "Sets the policy to use for deleting resources.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "deployment": {
              "description": "The name of the deployment for this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            }
          },
          "id": "deploymentmanager.deployments.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        },
        "cancelPreview": {
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/cancelPreview",
          "response": {
            "$ref": "Operation"
          },
          "description": "Cancels and removes the preview currently associated with the deployment.",
          "id": "deploymentmanager.deployments.cancelPreview",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "httpMethod": "POST",
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/cancelPreview",
          "request": {
            "$ref": "DeploymentsCancelPreviewRequest"
          },
          "parameters": {
            "deployment": {
              "type": "string",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the deployment for this request.",
              "required": true
            },
            "project": {
              "description": "The project ID for this request.",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ]
        },
        "patch": {
          "parameters": {
            "createPolicy": {
              "description": "Sets the policy to use for creating new resources.",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "default": "CREATE_OR_ACQUIRE",
              "enum": [
                "CREATE_OR_ACQUIRE",
                "ACQUIRE"
              ]
            },
            "header.bypassBillingFilter": {
              "location": "query",
              "type": "boolean"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "preview": {
              "location": "query",
              "default": "false",
              "description": "If set to true, updates the deployment and creates and updates the \"shell\" resources but does not actually alter or instantiate these resources. This allows you to preview what your deployment will look like. You can use this intent to preview how an update would affect your deployment. You must provide a `target.config` with a configuration if this is set to true. After previewing a deployment, you can deploy your resources by making a request with the `update()` or you can `cancelPreview()` to remove the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.",
              "type": "boolean"
            },
            "deployment": {
              "description": "The name of the deployment for this request.",
              "location": "path",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string"
            },
            "deletePolicy": {
              "location": "query",
              "enum": [
                "DELETE",
                "ABANDON"
              ],
              "type": "string",
              "description": "Sets the policy to use for deleting resources.",
              "default": "DELETE",
              "enumDescriptions": [
                "",
                ""
              ]
            }
          },
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "request": {
            "$ref": "Deployment"
          },
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}",
          "id": "deploymentmanager.deployments.patch",
          "description": "Patches a deployment and all of the resources described by the deployment manifest.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "deployment"
          ]
        },
        "stop": {
          "request": {
            "$ref": "DeploymentsStopRequest"
          },
          "description": "Stops an ongoing operation. This does not roll back any work that has already been completed, but prevents any new work from being started.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/stop",
          "parameters": {
            "deployment": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the deployment for this request."
            },
            "project": {
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "The project ID for this request.",
              "type": "string",
              "required": true
            }
          },
          "id": "deploymentmanager.deployments.stop",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/stop"
        },
        "setIamPolicy": {
          "response": {
            "$ref": "Policy"
          },
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{resource}/setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "id": "deploymentmanager.deployments.setIamPolicy",
          "request": {
            "$ref": "GlobalSetPolicyRequest"
          },
          "httpMethod": "POST",
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{resource}/setIamPolicy",
          "parameters": {
            "resource": {
              "description": "Name or id of the resource for this request.",
              "type": "string",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9_]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true
            },
            "project": {
              "type": "string",
              "description": "Project ID for this request.",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true
            }
          },
          "parameterOrder": [
            "project",
            "resource"
          ],
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy."
        },
        "insert": {
          "id": "deploymentmanager.deployments.insert",
          "parameters": {
            "project": {
              "description": "The project ID for this request.",
              "required": true,
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path"
            },
            "preview": {
              "location": "query",
              "type": "boolean",
              "description": "If set to true, creates a deployment and creates \"shell\" resources but does not actually instantiate these resources. This allows you to preview what your deployment looks like. After previewing a deployment, you can deploy your resources by making a request with the `update()` method or you can use the `cancelPreview()` method to cancel the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it."
            },
            "createPolicy": {
              "enum": [
                "CREATE_OR_ACQUIRE",
                "ACQUIRE"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Sets the policy to use for creating new resources.",
              "type": "string",
              "location": "query",
              "default": "CREATE_OR_ACQUIRE"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            }
          },
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "POST",
          "description": "Creates a deployment and all of the resources described by the deployment manifest.",
          "request": {
            "$ref": "Deployment"
          },
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.cloudman"
          ],
          "path": "deploymentmanager/v2/projects/{project}/global/deployments"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}",
          "response": {
            "$ref": "Deployment"
          },
          "description": "Gets information about a specific deployment.",
          "id": "deploymentmanager.deployments.get",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}",
          "httpMethod": "GET",
          "parameters": {
            "deployment": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The name of the deployment for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The project ID for this request."
            }
          }
        }
      }
    },
    "manifests": {
      "methods": {
        "get": {
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/manifests/{manifest}",
          "parameters": {
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "The project ID for this request.",
              "type": "string",
              "location": "path"
            },
            "deployment": {
              "location": "path",
              "description": "The name of the deployment for this request.",
              "type": "string",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "manifest": {
              "required": true,
              "location": "path",
              "description": "The name of the manifest for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "deploymentmanager.manifests.get",
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/manifests/{manifest}",
          "description": "Gets information about a specific manifest.",
          "response": {
            "$ref": "Manifest"
          },
          "parameterOrder": [
            "project",
            "deployment",
            "manifest"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/manifests",
          "parameters": {
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query",
              "type": "string"
            },
            "deployment": {
              "description": "The name of the deployment for this request.",
              "type": "string",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path"
            },
            "maxResults": {
              "default": "500",
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "type": "integer",
              "minimum": "0"
            },
            "filter": {
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "location": "query"
            },
            "project": {
              "description": "The project ID for this request.",
              "location": "path",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string"
            },
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Lists all manifests for a given deployment.",
          "response": {
            "$ref": "ManifestsListResponse"
          },
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/manifests",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "id": "deploymentmanager.manifests.list"
        }
      }
    },
    "resources": {
      "methods": {
        "get": {
          "parameterOrder": [
            "project",
            "deployment",
            "resource"
          ],
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/resources/{resource}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/resources/{resource}",
          "parameters": {
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The project ID for this request."
            },
            "deployment": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The name of the deployment for this request."
            },
            "resource": {
              "description": "The name of the resource for this request.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Resource"
          },
          "id": "deploymentmanager.resources.get",
          "httpMethod": "GET",
          "description": "Gets information about a single resource."
        },
        "list": {
          "parameters": {
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "location": "query",
              "type": "string"
            },
            "deployment": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The name of the deployment for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "default": "500",
              "minimum": "0",
              "type": "integer",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)"
            },
            "pageToken": {
              "location": "query",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string"
            },
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "description": "The project ID for this request.",
              "location": "path"
            }
          },
          "description": "Lists all resources in a given deployment.",
          "httpMethod": "GET",
          "path": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/resources",
          "flatPath": "deploymentmanager/v2/projects/{project}/global/deployments/{deployment}/resources",
          "parameterOrder": [
            "project",
            "deployment"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "id": "deploymentmanager.resources.list",
          "response": {
            "$ref": "ResourcesListResponse"
          }
        }
      }
    },
    "types": {
      "methods": {
        "list": {
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "TypesListResponse"
          },
          "id": "deploymentmanager.types.list",
          "description": "Lists all resource types for Deployment Manager.",
          "httpMethod": "GET",
          "path": "deploymentmanager/v2/projects/{project}/global/types",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            },
            "filter": {
              "location": "query",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions.",
              "type": "string"
            },
            "maxResults": {
              "default": "500",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "location": "query",
              "format": "uint32",
              "minimum": "0",
              "type": "integer"
            },
            "project": {
              "description": "The project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "deploymentmanager/v2/projects/{project}/global/types"
        }
      }
    },
    "operations": {
      "methods": {
        "list": {
          "flatPath": "deploymentmanager/v2/projects/{project}/global/operations",
          "path": "deploymentmanager/v2/projects/{project}/global/operations",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "description": "Lists all operations for a project.",
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "GET",
          "id": "deploymentmanager.operations.list",
          "parameters": {
            "filter": {
              "type": "string",
              "location": "query",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. These two types of filter expressions cannot be mixed in one request. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `>`, `<`, `<=`, `>=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`. You cannot combine constraints on multiple fields using regular expressions."
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "type": "string",
              "description": "The project ID for this request.",
              "location": "path"
            },
            "maxResults": {
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "default": "500",
              "minimum": "0",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "orderBy": {
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results."
            }
          },
          "response": {
            "$ref": "OperationsListResponse"
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "header.bypassBillingFilter": {
              "type": "boolean",
              "location": "query"
            },
            "operation": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The name of the operation for this request."
            },
            "project": {
              "location": "path",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "description": "The project ID for this request."
            }
          },
          "flatPath": "deploymentmanager/v2/projects/{project}/global/operations/{operation}",
          "parameterOrder": [
            "project",
            "operation"
          ],
          "path": "deploymentmanager/v2/projects/{project}/global/operations/{operation}",
          "response": {
            "$ref": "Operation"
          },
          "id": "deploymentmanager.operations.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.cloudman",
            "https://www.googleapis.com/auth/ndev.cloudman.readonly"
          ],
          "description": "Gets information about a specific operation."
        }
      }
    }
  },
  "schemas": {
    "LocalizedMessage": {
      "properties": {
        "message": {
          "description": "The localized error message in the above locale.",
          "type": "string"
        },
        "locale": {
          "type": "string",
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\""
        }
      },
      "id": "LocalizedMessage",
      "type": "object",
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error."
    },
    "ConfigFile": {
      "type": "object",
      "id": "ConfigFile",
      "properties": {
        "content": {
          "description": "The contents of the file.",
          "type": "string"
        }
      }
    },
    "Status": {
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "GetVersionOperationMetadataSbomInfo": {
      "properties": {
        "currentComponentVersions": {
          "type": "object",
          "description": "A mapping of components to their currently-applied versions or other appropriate identifiers.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetComponentVersions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A mapping of components to their target versions or other appropriate identifiers."
        }
      },
      "id": "GetVersionOperationMetadataSbomInfo",
      "type": "object"
    },
    "ManifestsListResponse": {
      "type": "object",
      "id": "ManifestsListResponse",
      "properties": {
        "manifests": {
          "items": {
            "$ref": "Manifest"
          },
          "description": "Output only. Manifests contained in this list response.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token used to continue a truncated list request.",
          "type": "string"
        }
      },
      "description": "A response containing a partial list of manifests and a page token used to build the next request if the request has been truncated."
    },
    "HelpLink": {
      "id": "HelpLink",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the link."
        },
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        }
      },
      "description": "Describes a URL link."
    },
    "AuditConfig": {
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        }
      },
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "InstancesTroubleshootOperationMetadata": {
      "type": "object",
      "description": "[Output Only] Operation metadata for instances.troubleshoot.",
      "id": "InstancesTroubleshootOperationMetadata",
      "properties": {
        "troubleshootOutput": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output Only] Serialized output of the troubleshooting diagnostic run."
        }
      }
    },
    "Operation": {
      "description": "Represents an Operation resource. Google Compute Engine has three Operation resources: * [Global](/compute/docs/reference/rest/{$api_version}/globalOperations) * [Regional](/compute/docs/reference/rest/{$api_version}/regionOperations) * [Zonal](/compute/docs/reference/rest/{$api_version}/zoneOperations) You can use an operation resource to manage asynchronous API requests. For more information, read Handling API responses. Operations can be global, regional or zonal. - For global operations, use the `globalOperations` resource. - For regional operations, use the `regionOperations` resource. - For zonal operations, use the `zoneOperations` resource. For more information, read Global, Regional, and Zonal Resources. Note that completed Operation resources have a limited retention period.",
      "properties": {
        "description": {
          "description": "[Output Only] A textual description of the operation, which is set when the operation is created.",
          "type": "string"
        },
        "targetLink": {
          "type": "string",
          "description": "[Output Only] The URL of the resource that the operation modifies. For operations related to creating a snapshot, this points to the disk that the snapshot was created from."
        },
        "name": {
          "description": "[Output Only] Name of the operation.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "[Output Only] The time that this operation was completed. This value is in RFC3339 text format."
        },
        "statusMessage": {
          "description": "[Output Only] An optional textual description of the current status of the operation.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "[Output Only] The time that this operation was started by the server. This value is in RFC3339 text format."
        },
        "clientOperationId": {
          "type": "string",
          "description": "[Output Only] The value of `requestId` if you provided it in the request. Not present otherwise."
        },
        "instancesTroubleshootOperationMetadata": {
          "$ref": "InstancesTroubleshootOperationMetadata",
          "readOnly": true,
          "description": "Output only. [Output Only] Operation metadata for instances.troubleshoot."
        },
        "instancesBulkInsertOperationMetadata": {
          "$ref": "InstancesBulkInsertOperationMetadata"
        },
        "insertTime": {
          "type": "string",
          "description": "[Output Only] The time that this operation was requested. This value is in RFC3339 text format."
        },
        "id": {
          "format": "uint64",
          "description": "[Output Only] The unique identifier for the operation. This identifier is defined by the server.",
          "type": "string"
        },
        "httpErrorMessage": {
          "description": "[Output Only] If the operation fails, this field contains the HTTP error message that was returned, such as `NOT FOUND`.",
          "type": "string"
        },
        "details": {
          "description": "[Output Only] Extended details about the operation's execution.",
          "$ref": "OperationDetails"
        },
        "region": {
          "type": "string",
          "description": "[Output Only] The URL of the region where the operation resides. Only applicable when performing regional operations."
        },
        "progress": {
          "description": "[Output Only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess when the operation will be complete. This number should monotonically increase as the operation progresses.",
          "type": "integer",
          "format": "int32"
        },
        "firewallPolicyRuleOperationMetadata": {
          "readOnly": true,
          "description": "Output only. [Output Only] Metadata containing the allocated priority from the networkFirewallPolicies.addRule and regionNetworkFirewallPolicies.addRule methods if not explicitly provided by the user.",
          "$ref": "FirewallPolicyRuleOperationMetadata"
        },
        "selfLinkWithId": {
          "description": "Output only. [Output Only] Server-defined URL for this resource with the resource id.",
          "readOnly": true,
          "type": "string"
        },
        "operationType": {
          "description": "[Output Only] The type of operation, such as `insert`, `update`, or `delete`, and so on.",
          "type": "string"
        },
        "warnings": {
          "type": "array",
          "description": "[Output Only] If warning messages are generated during processing of the operation, this field will be populated.",
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enumDeprecated": [
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  true,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false
                ],
                "enumDescriptions": [
                  "A link to a deprecated resource was created.",
                  "No results are present on a particular list page.",
                  "A given scope cannot be reached.",
                  "The route's nextHopIp address is not assigned to an instance on the network.",
                  "The route's nextHopInstance URL refers to an instance that does not exist.",
                  "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                  "The route's next hop instance cannot ip forward.",
                  "The route's next hop instance does not have a status of RUNNING.",
                  "The operation involved use of an injected kernel, which is deprecated.",
                  "The user attempted to use a resource that requires a TOS they have not accepted.",
                  "The user created a boot disk that is larger than image size.",
                  "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                  "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                  "Error which is not critical. We decided to continue the process despite the mentioned error.",
                  "Warning about failed cleanup of transient changes made by a failed operation.",
                  "Warning that value of a field has been overridden. Deprecated unused field.",
                  "Warning that a resource is in use.",
                  "Warning that network endpoint was not detached.",
                  "Current page contains less results than requested but a next page token exists.",
                  "Warning that SSL policy resource in the response does not contain information about the list of enabled features.",
                  "Warning that a resource is not found.",
                  "A resource depends on a missing type",
                  "Warning that is present in an external api call",
                  "When a resource schema validation is ignored.",
                  "When undeclared properties in the schema are present",
                  "When deploying and at least one of the resources has a type marked as experimental",
                  "When deploying and at least one of the resources has a type marked as deprecated",
                  "Success is reported, but some results may be missing due to errors",
                  "When deploying a deployment with a exceedingly large number of resources",
                  "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                  "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                  "Resource can't be retrieved due to list overhead quota exceed which captures the amount of resources filtered out by user-defined list filter.",
                  "Quota information is not available to client requests (e.g: regions.list).",
                  "Indicates that a VM is using global DNS. Can also be used to indicate that a resource has attributes that could result in the creation of a VM that uses global DNS.",
                  "Resource can't be retrieved due to api quota exceeded.",
                  "Upcoming maintenance schedule is unavailable for the resource.",
                  "Reserved entries for quickly adding new warnings without breaking dependent clients.",
                  "",
                  "",
                  "",
                  ""
                ],
                "enum": [
                  "DEPRECATED_RESOURCE_USED",
                  "NO_RESULTS_ON_PAGE",
                  "UNREACHABLE",
                  "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                  "NEXT_HOP_INSTANCE_NOT_FOUND",
                  "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                  "NEXT_HOP_CANNOT_IP_FORWARD",
                  "NEXT_HOP_NOT_RUNNING",
                  "INJECTED_KERNELS_DEPRECATED",
                  "REQUIRED_TOS_AGREEMENT",
                  "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                  "RESOURCE_NOT_DELETED",
                  "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                  "NOT_CRITICAL_ERROR",
                  "CLEANUP_FAILED",
                  "FIELD_VALUE_OVERRIDEN",
                  "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                  "NETWORK_ENDPOINT_NOT_DETACHED",
                  "PAGE_MISSING_RESULTS",
                  "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED",
                  "RESOURCE_NOT_FOUND_WARNING",
                  "MISSING_TYPE_DEPENDENCY",
                  "EXTERNAL_API_WARNING",
                  "SCHEMA_VALIDATION_IGNORED",
                  "UNDECLARED_PROPERTIES",
                  "EXPERIMENTAL_TYPE_USED",
                  "DEPRECATED_TYPE_USED",
                  "PARTIAL_SUCCESS",
                  "LARGE_DEPLOYMENT_WARNING",
                  "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                  "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                  "LIST_OVERHEAD_QUOTA_EXCEED",
                  "QUOTA_INFO_UNAVAILABLE",
                  "RESOURCE_USES_GLOBAL_DNS",
                  "RATE_LIMIT_EXCEEDED",
                  "UPCOMING_MAINTENANCES_UNAVAILABLE",
                  "RESERVED_ENTRY_136",
                  "RESERVED_ENTRY_139",
                  "RESERVED_ENTRY_141",
                  "RESERVED_ENTRY_142",
                  "RESERVED_ENTRY_143"
                ],
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response."
              },
              "data": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding)."
                    },
                    "value": {
                      "description": "[Output Only] A warning data value corresponding to the key.",
                      "type": "string"
                    }
                  }
                },
                "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }] "
              },
              "message": {
                "description": "[Output Only] A human-readable description of the warning code.",
                "type": "string"
              }
            }
          }
        },
        "setAutoscalerLinkOperationMetadata": {
          "description": "This field is used internally by the Autoscaler team and should not be promoted to \"alpha/beta/v1\".",
          "$ref": "SetAutoscalerLinkOperationMetadata"
        },
        "getVersionOperationMetadata": {
          "$ref": "GetVersionOperationMetadata"
        },
        "getHealthOperationMetadata": {
          "description": "Output only. Metadata for GetHealth operations.",
          "readOnly": true,
          "$ref": "GetHealthOperationMetadata"
        },
        "zone": {
          "description": "[Output Only] The URL of the zone where the operation resides. Only applicable when performing per-zone operations.",
          "type": "string"
        },
        "selfLink": {
          "description": "[Output Only] Server-defined URL for the resource.",
          "type": "string"
        },
        "creationTimestamp": {
          "description": "[Deprecated] This field is deprecated.",
          "type": "string"
        },
        "error": {
          "description": "[Output Only] If errors are generated during processing of the operation, this field will be populated.",
          "type": "object",
          "properties": {
            "errors": {
              "items": {
                "type": "object",
                "properties": {
                  "code": {
                    "description": "[Output Only] The error type identifier for this error.",
                    "type": "string"
                  },
                  "location": {
                    "description": "[Output Only] Indicates the field in the request that caused the error. This property is optional.",
                    "type": "string"
                  },
                  "message": {
                    "description": "[Output Only] An optional, human-readable error message.",
                    "type": "string"
                  },
                  "errorDetails": {
                    "type": "array",
                    "items": {
                      "description": "Container for structured error details providing additional context specific to the encountered error code.",
                      "type": "object",
                      "properties": {
                        "localizedMessage": {
                          "description": "A localized human-readable error message intended for end users.",
                          "$ref": "LocalizedMessage"
                        },
                        "errorInfo": {
                          "$ref": "ErrorInfo",
                          "description": "Error information containing structured domain, reason, and metadata."
                        },
                        "quotaInfo": {
                          "description": "Details about quota limits and metrics when a quota is exceeded.",
                          "$ref": "QuotaExceededInfo"
                        },
                        "help": {
                          "$ref": "Help",
                          "description": "Links and information to help the user resolve the error."
                        }
                      }
                    },
                    "description": "[Output Only] An optional list of messages that contain the error details. There is a set of defined message types to use for providing details.The syntax depends on the error code. For example, QuotaExceededInfo will have details when the error code is QUOTA_EXCEEDED."
                  },
                  "arguments": {
                    "items": {
                      "type": "string"
                    },
                    "readOnly": true,
                    "description": "Output only. [Output Only] Optional error details WARNING: DO NOT MAKE VISIBLE This is for internal use-only (like componentization) (thus the visibility \"none\") and in case of public exposure it is strongly recommended to follow pattern of: https://aip.dev/193 and expose as details field.",
                    "type": "array"
                  },
                  "debugInfo": {
                    "readOnly": true,
                    "$ref": "DebugInfo",
                    "description": "Output only. [Output Only] Advanced debugging information with stack traces and other diagnostic details for the error."
                  }
                },
                "description": "Represents a single error encountered during the processing of an operation."
              },
              "type": "array",
              "description": "[Output Only] The array of errors encountered while processing this operation."
            }
          }
        },
        "status": {
          "enum": [
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "enumDescriptions": [
            "The operation is waiting to be processed.",
            "The operation is actively being processed.",
            "The operation has completed processing successfully or with an error."
          ],
          "description": "[Output Only] The status of the operation, which can be one of the following: `PENDING`, `RUNNING`, or `DONE`.",
          "type": "string"
        },
        "targetId": {
          "description": "[Output Only] The unique target ID, which identifies a specific incarnation of the target resource.",
          "format": "uint64",
          "type": "string"
        },
        "user": {
          "description": "[Output Only] User who requested the operation, for example: `user@example.com` or `alice_smith_identifier (global/workforcePools/example-com-us-employees)`.",
          "type": "string"
        },
        "httpErrorStatusCode": {
          "type": "integer",
          "format": "int32",
          "description": "[Output Only] If the operation fails, this field contains the HTTP error status code that was returned. For example, a `404` means the resource was not found."
        },
        "kind": {
          "readOnly": true,
          "description": "Output only. [Output Only] Type of the resource. Always `compute#operation` for Operation resources.",
          "type": "string",
          "default": "compute#operation"
        },
        "operationGroupId": {
          "type": "string",
          "description": "Output only. [Output Only] An ID that represents a group of operations, such as when a group of operations results from a `bulkInsert` API request.",
          "readOnly": true
        },
        "setCommonInstanceMetadataOperationMetadata": {
          "$ref": "SetCommonInstanceMetadataOperationMetadata",
          "description": "Output only. [Output Only] If the operation is for projects.setCommonInstanceMetadata, this field will contain information on all underlying zonal actions and their state.",
          "readOnly": true
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "DeploymentsCancelPreviewRequest": {
      "id": "DeploymentsCancelPreviewRequest",
      "properties": {
        "fingerprint": {
          "type": "string",
          "description": "Specifies a fingerprint for `cancelPreview()` requests. A fingerprint is a randomly generated value that must be provided in `cancelPreview()` requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to cancel a preview, this would prevent one of the requests). The fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a `get()` request on the deployment.",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "Type": {
      "id": "Type",
      "properties": {
        "operation": {
          "description": "Output only. The Operation that most recently ran, or is currently running, on this type.",
          "$ref": "Operation"
        },
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. Server defined URL for the resource."
        },
        "insertTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the type."
        }
      },
      "type": "object",
      "description": "A resource type supported by Deployment Manager."
    },
    "DeploymentUpdateLabelEntry": {
      "type": "object",
      "id": "DeploymentUpdateLabelEntry",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of the label"
        },
        "key": {
          "description": "Key of the label",
          "type": "string"
        }
      },
      "description": "Label object for DeploymentUpdate"
    },
    "GetVersionOperationMetadata": {
      "id": "GetVersionOperationMetadata",
      "type": "object",
      "properties": {
        "inlineSbomInfo": {
          "$ref": "GetVersionOperationMetadataSbomInfo"
        }
      }
    },
    "ResourcesListResponse": {
      "id": "ResourcesListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token used to continue a truncated list request.",
          "type": "string"
        },
        "resources": {
          "items": {
            "$ref": "Resource"
          },
          "type": "array",
          "description": "Resources contained in this list response."
        }
      },
      "description": "A response containing a partial list of resources and a page token used to build the next request if the request has been truncated."
    },
    "FirewallPolicyRuleOperationMetadata": {
      "type": "object",
      "description": "Metadata for FirewallPolicyRule operations.",
      "id": "FirewallPolicyRuleOperationMetadata",
      "properties": {
        "allocatedPriority": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. [Output Only] The priority allocated for the firewall policy rule if query parameters specified minPriority/maxPriority.",
          "readOnly": true
        }
      }
    },
    "Help": {
      "properties": {
        "links": {
          "items": {
            "$ref": "HelpLink"
          },
          "type": "array",
          "description": "URL(s) pointing to additional information on handling the current error."
        }
      },
      "description": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit.",
      "id": "Help",
      "type": "object"
    },
    "ImportFile": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the file."
        },
        "content": {
          "description": "The contents of the file.",
          "type": "string"
        }
      },
      "id": "ImportFile",
      "type": "object"
    },
    "InstancesBulkInsertOperationMetadata": {
      "id": "InstancesBulkInsertOperationMetadata",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "[Output Only] The machine type of the VMs that were created used internally only by KCP flex bulk insert."
        },
        "perLocationStatus": {
          "type": "object",
          "description": "Status information per location (location name is key). Example key: zones/us-central1-a",
          "additionalProperties": {
            "$ref": "BulkInsertOperationStatus"
          }
        }
      },
      "type": "object"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          }
        }
      },
      "type": "object"
    },
    "TargetConfiguration": {
      "properties": {
        "config": {
          "description": "The configuration to use for this deployment.",
          "$ref": "ConfigFile"
        },
        "imports": {
          "description": "Specifies any files to import for this configuration. This can be used to import templates or other files. For example, you might import a text file in order to use the file in a template.",
          "type": "array",
          "items": {
            "$ref": "ImportFile"
          }
        }
      },
      "type": "object",
      "id": "TargetConfiguration"
    },
    "ResourceAccessControl": {
      "properties": {
        "gcpIamPolicy": {
          "type": "string",
          "description": "The GCP IAM Policy to set on the resource."
        }
      },
      "description": "The access controls set on the resource.",
      "id": "ResourceAccessControl",
      "type": "object"
    },
    "GlobalSetPolicyRequest": {
      "type": "object",
      "properties": {
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Flatten Policy to create a backward compatible wire-format. Deprecated. Use 'policy' to specify bindings."
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the 'resource'. The size of the policy is limited to a few 10s of KB. An empty policy is in general a valid policy but certain services (like Projects) might reject them.",
          "$ref": "Policy"
        },
        "etag": {
          "description": "Flatten Policy to create a backward compatible wire-format. Deprecated. Use 'policy' to specify the etag.",
          "type": "string",
          "format": "byte"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Update mask for the policy.",
          "type": "string"
        }
      },
      "id": "GlobalSetPolicyRequest"
    },
    "SetAutoscalerLinkOperationMetadata": {
      "id": "SetAutoscalerLinkOperationMetadata",
      "type": "object",
      "properties": {
        "zonalIgmIds": {
          "type": "array",
          "description": "List of zonal IGM IDs part of the RMIG.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "zoneToIgmIds": {
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "Map of zone to an ID of the zonal IGM belonging to the RMIG."
        }
      }
    },
    "DebugInfo": {
      "description": "Describes additional debugging info.",
      "properties": {
        "stackEntries": {
          "description": "The stack trace entries indicating where the error occurred.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "detail": {
          "type": "string",
          "description": "Additional debugging information provided by the server."
        }
      },
      "id": "DebugInfo",
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        }
      }
    },
    "DeploymentUpdate": {
      "type": "object",
      "id": "DeploymentUpdate",
      "properties": {
[...]
