{
  "canonicalName": "Deployment Manager",
  "rootUrl": "https://deploymentmanager.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "alpha",
  "batchPath": "batch",
  "basePath": "",
  "schemas": {
    "TypesListResponse": {
      "id": "TypesListResponse",
      "type": "object",
      "description": "A response that returns all Types supported by Deployment Manager",
      "properties": {
        "nextPageToken": {
          "description": "A token used to continue a truncated list request.",
          "type": "string"
        },
        "types": {
          "type": "array",
          "items": {
            "$ref": "Type"
          },
          "description": "Output only. A list of resource types supported by Deployment Manager."
        }
      }
    },
    "AsyncOptions": {
      "description": "Async options that determine when a resource should finish.",
      "id": "AsyncOptions",
      "type": "object",
      "properties": {
        "pollingOptions": {
          "$ref": "PollingOptions",
          "description": "Deployment manager will poll instances for this API resource setting a RUNNING state, and blocking until polling conditions tell whether the resource is completed or failed."
        },
        "methodMatch": {
          "description": "Method regex where this policy will apply.",
          "type": "string"
        }
      }
    },
    "TemplateContents": {
      "description": "Files that make up the template contents of a template type.",
      "properties": {
        "mainTemplate": {
          "description": "The filename of the mainTemplate",
          "type": "string"
        },
        "template": {
          "description": "The contents of the main template file.",
          "type": "string"
        },
        "imports": {
          "type": "array",
          "items": {
            "$ref": "ImportFile"
          },
          "description": "Import files referenced by the main template."
        },
        "schema": {
          "description": "The contents of the template schema.",
          "type": "string"
        },
        "interpreter": {
          "type": "string",
          "description": "Which interpreter (python or jinja) should be used during expansion.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_INTERPRETER",
            "PYTHON",
            "JINJA"
          ]
        }
      },
      "type": "object",
      "id": "TemplateContents"
    },
    "TestPermissionsResponse": {
      "type": "object",
      "id": "TestPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      }
    },
    "ResourcesListResponse": {
      "id": "ResourcesListResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token used to continue a truncated list request.",
          "type": "string"
        },
        "resources": {
          "type": "array",
          "description": "Resources contained in this list response.",
          "items": {
            "$ref": "Resource"
          }
        }
      },
      "type": "object",
      "description": "A response containing a partial list of resources and a page token used to build the next request if the request has been truncated."
    },
    "GetVersionOperationMetadata": {
      "type": "object",
      "properties": {
        "inlineSbomInfo": {
          "$ref": "GetVersionOperationMetadataSbomInfo"
        }
      },
      "id": "GetVersionOperationMetadata"
    },
    "Options": {
      "properties": {
        "validationOptions": {
          "description": "Options for how to validate and process properties on a resource.",
          "$ref": "ValidationOptions"
        },
        "nameProperty": {
          "description": "The json path to the field in the resource JSON body into which the resource name should be mapped. Leaving this empty indicates that there should be no mapping performed.",
          "type": "string"
        },
        "inputMappings": {
          "type": "array",
          "description": "The mappings that apply for requests.",
          "items": {
            "$ref": "InputMapping"
          }
        },
        "asyncOptions": {
          "description": "Options regarding how to thread async requests.",
          "items": {
            "$ref": "AsyncOptions"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Options",
      "description": "Options allows customized resource handling by Deployment Manager."
    },
    "TestPermissionsRequest": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the 'resource'. Permissions with wildcards (such as '*' or 'storage.*') are not allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestPermissionsRequest",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "description": "Represents an Operation resource. Google Compute Engine has three Operation resources: * [Global](/compute/docs/reference/rest/{$api_version}/globalOperations) * [Regional](/compute/docs/reference/rest/{$api_version}/regionOperations) * [Zonal](/compute/docs/reference/rest/{$api_version}/zoneOperations) You can use an operation resource to manage asynchronous API requests. For more information, read Handling API responses. Operations can be global, regional or zonal. - For global operations, use the `globalOperations` resource. - For regional operations, use the `regionOperations` resource. - For zonal operations, use the `zoneOperations` resource. For more information, read Global, Regional, and Zonal Resources. Note that completed Operation resources have a limited retention period.",
      "properties": {
        "description": {
          "description": "[Output Only] A textual description of the operation, which is set when the operation is created.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "The operation is waiting to be processed.",
            "The operation is actively being processed.",
            "The operation has completed processing successfully or with an error."
          ],
          "type": "string",
          "description": "[Output Only] The status of the operation, which can be one of the following: `PENDING`, `RUNNING`, or `DONE`.",
          "enum": [
            "PENDING",
            "RUNNING",
            "DONE"
          ]
        },
        "selfLink": {
          "description": "[Output Only] Server-defined URL for the resource.",
          "type": "string"
        },
        "operationGroupId": {
          "description": "Output only. [Output Only] An ID that represents a group of operations, such as when a group of operations results from a `bulkInsert` API request.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "[Output Only] Name of the operation.",
          "type": "string"
        },
        "instancesBulkInsertOperationMetadata": {
          "$ref": "InstancesBulkInsertOperationMetadata"
        },
        "error": {
          "properties": {
            "errors": {
              "items": {
                "type": "object",
                "properties": {
                  "location": {
                    "description": "[Output Only] Indicates the field in the request that caused the error. This property is optional.",
                    "type": "string"
                  },
                  "message": {
                    "description": "[Output Only] An optional, human-readable error message.",
                    "type": "string"
                  },
                  "errorDetails": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "quotaInfo": {
                          "$ref": "QuotaExceededInfo",
                          "description": "Details about quota limits and metrics when a quota is exceeded."
                        },
                        "localizedMessage": {
                          "description": "A localized human-readable error message intended for end users.",
                          "$ref": "LocalizedMessage"
                        },
                        "errorInfo": {
                          "description": "Error information containing structured domain, reason, and metadata.",
                          "$ref": "ErrorInfo"
                        },
                        "help": {
                          "description": "Links and information to help the user resolve the error.",
                          "$ref": "Help"
                        }
                      },
                      "type": "object",
                      "description": "Container for structured error details providing additional context specific to the encountered error code."
                    },
                    "description": "[Output Only] An optional list of messages that contain the error details. There is a set of defined message types to use for providing details.The syntax depends on the error code. For example, QuotaExceededInfo will have details when the error code is QUOTA_EXCEEDED."
                  },
                  "code": {
                    "type": "string",
                    "description": "[Output Only] The error type identifier for this error."
                  },
                  "arguments": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "readOnly": true,
                    "description": "Output only. [Output Only] Optional error details WARNING: DO NOT MAKE VISIBLE This is for internal use-only (like componentization) (thus the visibility \"none\") and in case of public exposure it is strongly recommended to follow pattern of: https://aip.dev/193 and expose as details field."
                  },
                  "debugInfo": {
                    "readOnly": true,
                    "$ref": "DebugInfo",
                    "description": "Output only. [Output Only] Advanced debugging information with stack traces and other diagnostic details for the error."
                  }
                },
                "description": "Represents a single error encountered during the processing of an operation."
              },
              "type": "array",
              "description": "[Output Only] The array of errors encountered while processing this operation."
            }
          },
          "description": "[Output Only] If errors are generated during processing of the operation, this field will be populated.",
          "type": "object"
        },
        "selfLinkWithId": {
          "description": "Output only. [Output Only] Server-defined URL for this resource with the resource id.",
          "readOnly": true,
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "[Output Only] The URL of the region where the operation resides. Only applicable when performing regional operations."
        },
        "insertTime": {
          "type": "string",
          "description": "[Output Only] The time that this operation was requested. This value is in RFC3339 text format."
        },
        "firewallPolicyRuleOperationMetadata": {
          "readOnly": true,
          "$ref": "FirewallPolicyRuleOperationMetadata",
          "description": "Output only. [Output Only] Metadata containing the allocated priority from the networkFirewallPolicies.addRule and regionNetworkFirewallPolicies.addRule methods if not explicitly provided by the user."
        },
        "zone": {
          "type": "string",
          "description": "[Output Only] The URL of the zone where the operation resides. Only applicable when performing per-zone operations."
        },
        "setCommonInstanceMetadataOperationMetadata": {
          "readOnly": true,
          "$ref": "SetCommonInstanceMetadataOperationMetadata",
          "description": "Output only. [Output Only] If the operation is for projects.setCommonInstanceMetadata, this field will contain information on all underlying zonal actions and their state."
        },
        "clientOperationId": {
          "description": "[Output Only] The value of `requestId` if you provided it in the request. Not present otherwise.",
          "type": "string"
        },
        "targetId": {
          "format": "uint64",
          "description": "[Output Only] The unique target ID, which identifies a specific incarnation of the target resource.",
          "type": "string"
        },
        "progress": {
          "type": "integer",
          "description": "[Output Only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess when the operation will be complete. This number should monotonically increase as the operation progresses.",
          "format": "int32"
        },
        "statusMessage": {
          "type": "string",
          "description": "[Output Only] An optional textual description of the current status of the operation."
        },
        "targetLink": {
          "description": "[Output Only] The URL of the resource that the operation modifies. For operations related to creating a snapshot, this points to the disk that the snapshot was created from.",
          "type": "string"
        },
        "httpErrorMessage": {
          "description": "[Output Only] If the operation fails, this field contains the HTTP error message that was returned, such as `NOT FOUND`.",
          "type": "string"
        },
        "id": {
          "description": "[Output Only] The unique identifier for the operation. This identifier is defined by the server.",
          "format": "uint64",
          "type": "string"
        },
        "httpErrorStatusCode": {
          "description": "[Output Only] If the operation fails, this field contains the HTTP error status code that was returned. For example, a `404` means the resource was not found.",
          "type": "integer",
          "format": "int32"
        },
        "getHealthOperationMetadata": {
          "description": "Output only. Metadata for GetHealth operations.",
          "readOnly": true,
          "$ref": "GetHealthOperationMetadata"
        },
        "setAutoscalerLinkOperationMetadata": {
          "$ref": "SetAutoscalerLinkOperationMetadata",
          "description": "This field is used internally by the Autoscaler team and should not be promoted to \"alpha/beta/v1\"."
        },
        "details": {
          "$ref": "OperationDetails",
          "description": "[Output Only] Extended details about the operation's execution."
        },
        "operationType": {
          "type": "string",
          "description": "[Output Only] The type of operation, such as `insert`, `update`, or `delete`, and so on."
        },
        "warnings": {
          "description": "[Output Only] If warning messages are generated during processing of the operation, this field will be populated.",
          "items": {
            "properties": {
              "code": {
                "enumDeprecated": [
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  true,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false
                ],
                "type": "string",
                "enumDescriptions": [
                  "A link to a deprecated resource was created.",
                  "No results are present on a particular list page.",
                  "A given scope cannot be reached.",
                  "The route's nextHopIp address is not assigned to an instance on the network.",
                  "The route's nextHopInstance URL refers to an instance that does not exist.",
                  "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                  "The route's next hop instance cannot ip forward.",
                  "The route's next hop instance does not have a status of RUNNING.",
                  "The operation involved use of an injected kernel, which is deprecated.",
                  "The user attempted to use a resource that requires a TOS they have not accepted.",
                  "The user created a boot disk that is larger than image size.",
                  "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                  "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                  "Error which is not critical. We decided to continue the process despite the mentioned error.",
                  "Warning about failed cleanup of transient changes made by a failed operation.",
                  "Warning that value of a field has been overridden. Deprecated unused field.",
                  "Warning that a resource is in use.",
                  "Warning that network endpoint was not detached.",
                  "Current page contains less results than requested but a next page token exists.",
                  "Warning that SSL policy resource in the response does not contain information about the list of enabled features.",
                  "Warning that a resource is not found.",
                  "A resource depends on a missing type",
                  "Warning that is present in an external api call",
                  "When a resource schema validation is ignored.",
                  "When undeclared properties in the schema are present",
                  "When deploying and at least one of the resources has a type marked as experimental",
                  "When deploying and at least one of the resources has a type marked as deprecated",
                  "Success is reported, but some results may be missing due to errors",
                  "When deploying a deployment with a exceedingly large number of resources",
                  "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                  "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                  "Resource can't be retrieved due to list overhead quota exceed which captures the amount of resources filtered out by user-defined list filter.",
                  "Quota information is not available to client requests (e.g: regions.list).",
                  "Indicates that a VM is using global DNS. Can also be used to indicate that a resource has attributes that could result in the creation of a VM that uses global DNS.",
                  "Resource can't be retrieved due to api quota exceeded.",
                  "Upcoming maintenance schedule is unavailable for the resource.",
                  "Reserved entries for quickly adding new warnings without breaking dependent clients.",
                  "",
                  "",
                  "",
                  ""
                ],
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                "enum": [
                  "DEPRECATED_RESOURCE_USED",
                  "NO_RESULTS_ON_PAGE",
                  "UNREACHABLE",
                  "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                  "NEXT_HOP_INSTANCE_NOT_FOUND",
                  "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                  "NEXT_HOP_CANNOT_IP_FORWARD",
                  "NEXT_HOP_NOT_RUNNING",
                  "INJECTED_KERNELS_DEPRECATED",
                  "REQUIRED_TOS_AGREEMENT",
                  "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                  "RESOURCE_NOT_DELETED",
                  "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                  "NOT_CRITICAL_ERROR",
                  "CLEANUP_FAILED",
                  "FIELD_VALUE_OVERRIDEN",
                  "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                  "NETWORK_ENDPOINT_NOT_DETACHED",
                  "PAGE_MISSING_RESULTS",
                  "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED",
                  "RESOURCE_NOT_FOUND_WARNING",
                  "MISSING_TYPE_DEPENDENCY",
                  "EXTERNAL_API_WARNING",
                  "SCHEMA_VALIDATION_IGNORED",
                  "UNDECLARED_PROPERTIES",
                  "EXPERIMENTAL_TYPE_USED",
                  "DEPRECATED_TYPE_USED",
                  "PARTIAL_SUCCESS",
                  "LARGE_DEPLOYMENT_WARNING",
                  "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                  "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                  "LIST_OVERHEAD_QUOTA_EXCEED",
                  "QUOTA_INFO_UNAVAILABLE",
                  "RESOURCE_USES_GLOBAL_DNS",
                  "RATE_LIMIT_EXCEEDED",
                  "UPCOMING_MAINTENANCES_UNAVAILABLE",
                  "RESERVED_ENTRY_136",
                  "RESERVED_ENTRY_139",
                  "RESERVED_ENTRY_141",
                  "RESERVED_ENTRY_142",
                  "RESERVED_ENTRY_143"
                ]
              },
              "data": {
                "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }] ",
                "items": {
                  "properties": {
                    "key": {
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                      "type": "string"
                    },
                    "value": {
                      "description": "[Output Only] A warning data value corresponding to the key.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              },
              "message": {
                "type": "string",
                "description": "[Output Only] A human-readable description of the warning code."
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "startTime": {
          "description": "[Output Only] The time that this operation was started by the server. This value is in RFC3339 text format.",
          "type": "string"
        },
        "getVersionOperationMetadata": {
          "$ref": "GetVersionOperationMetadata"
        },
        "endTime": {
          "description": "[Output Only] The time that this operation was completed. This value is in RFC3339 text format.",
          "type": "string"
        },
        "creationTimestamp": {
          "type": "string",
          "description": "[Deprecated] This field is deprecated."
        },
        "instancesTroubleshootOperationMetadata": {
          "description": "Output only. [Output Only] Operation metadata for instances.troubleshoot.",
          "readOnly": true,
          "$ref": "InstancesTroubleshootOperationMetadata"
        },
        "user": {
          "type": "string",
          "description": "[Output Only] User who requested the operation, for example: `user@example.com` or `alice_smith_identifier (global/workforcePools/example-com-us-employees)`."
        },
        "kind": {
          "description": "Output only. [Output Only] Type of the resource. Always `compute#operation` for Operation resources.",
          "default": "compute#operation",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Operation"
    },
    "CompositeType": {
      "description": "Holds the composite type.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "An optional textual description of the resource; provided by the client when the resource is created."
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. Server defined URL for the resource."
        },
        "insertTime": {
          "type": "string",
          "description": "Output only. Creation timestamp in RFC3339 text format."
        },
        "name": {
          "type": "string",
          "description": "Name of the composite type, must follow the expression: `[a-z]([-a-z0-9_.]{0,61}[a-z0-9])?`."
        },
        "id": {
          "format": "uint64",
          "type": "string"
        },
        "templateContents": {
          "$ref": "TemplateContents",
          "description": "Files for the template type."
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "CompositeTypeLabelEntry"
          },
          "description": "Map of labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`."
        },
        "operation": {
          "$ref": "Operation",
          "description": "Output only. The Operation that most recently ran, or is currently running, on this composite type."
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_STATUS",
            "DEPRECATED",
            "EXPERIMENTAL",
            "SUPPORTED"
          ]
        }
      },
      "id": "CompositeType"
    },
    "TypeInfoSchemaInfo": {
      "id": "TypeInfoSchemaInfo",
      "properties": {
        "output": {
          "description": "The properties that this composite type or base type collection exposes as output, these properties can be used for references, represented as json blob, format is: JSON Schema Draft V4",
          "type": "string"
        },
        "input": {
          "type": "string",
          "description": "The properties that this composite type or base type collection accept as input, represented as a json blob, format is: JSON Schema Draft V4"
        }
      },
      "type": "object"
    },
    "Resource": {
      "id": "Resource",
      "type": "object",
      "properties": {
        "finalProperties": {
          "description": "Output only. The evaluated properties of the resource with references expanded. Returned as serialized YAML.",
          "type": "string"
        },
        "manifest": {
          "description": "Output only. URL of the manifest representing the current configuration of this resource.",
          "type": "string"
        },
        "accessControl": {
          "$ref": "ResourceAccessControl",
          "description": "The Access Control Policy set on this resource."
        },
        "insertTime": {
          "type": "string",
          "description": "Output only. Creation timestamp in RFC3339 text format."
        },
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "update": {
          "description": "Output only. If Deployment Manager is currently updating or previewing an update to this resource, the updated configuration appears here.",
          "$ref": "ResourceUpdate"
        },
        "lastUsedCredential": {
          "$ref": "Credential",
          "description": "Output only. The last used credential that successfully created/updated the resource."
        },
        "properties": {
          "type": "string",
          "description": "Output only. The current properties of the resource before any references have been filled in. Returned as serialized YAML."
        },
        "type": {
          "description": "Output only. The type of the resource, for example `compute.v1.instance`, or `cloudfunctions.v1beta1.function`.",
          "type": "string"
        },
        "runtimePolicies": {
          "description": "Output only. In case this is an action, it will show the runtimePolicies on which this action will run in the deployment",
          "items": {
            "enum": [
              "CREATE",
              "DELETE",
              "UPDATE_ON_CHANGE",
              "UPDATE_ALWAYS"
            ],
            "type": "string",
            "enumDescriptions": [
              "The action will only be fired during create.",
              "The action will only be fired when the action is removed from the deployment.",
              "The action will fire during create, and if there is any changes on the inputs.",
              "The action will fire during create, and every time there is an update to the deployment."
            ]
          },
          "type": "array"
        },
        "warnings": {
          "description": "Output only. If warning messages are generated during processing of this resource, this field will be populated.",
          "items": {
            "properties": {
              "message": {
                "description": "[Output Only] A human-readable description of the warning code.",
                "type": "string"
              },
              "data": {
                "type": "array",
                "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }] ",
                "items": {
                  "properties": {
                    "value": {
                      "description": "[Output Only] A warning data value corresponding to the key.",
                      "type": "string"
                    },
                    "key": {
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "code": {
                "enumDescriptions": [
                  "A link to a deprecated resource was created.",
                  "No results are present on a particular list page.",
                  "A given scope cannot be reached.",
                  "The route's nextHopIp address is not assigned to an instance on the network.",
                  "The route's nextHopInstance URL refers to an instance that does not exist.",
                  "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                  "The route's next hop instance cannot ip forward.",
                  "The route's next hop instance does not have a status of RUNNING.",
                  "The operation involved use of an injected kernel, which is deprecated.",
                  "The user attempted to use a resource that requires a TOS they have not accepted.",
                  "The user created a boot disk that is larger than image size.",
                  "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                  "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                  "Error which is not critical. We decided to continue the process despite the mentioned error.",
                  "Warning about failed cleanup of transient changes made by a failed operation.",
                  "Warning that value of a field has been overridden. Deprecated unused field.",
                  "Warning that a resource is in use.",
                  "Warning that network endpoint was not detached.",
                  "Current page contains less results than requested but a next page token exists.",
                  "Warning that SSL policy resource in the response does not contain information about the list of enabled features.",
                  "Warning that a resource is not found.",
                  "A resource depends on a missing type",
                  "Warning that is present in an external api call",
                  "When a resource schema validation is ignored.",
                  "When undeclared properties in the schema are present",
                  "When deploying and at least one of the resources has a type marked as experimental",
                  "When deploying and at least one of the resources has a type marked as deprecated",
                  "Success is reported, but some results may be missing due to errors",
                  "When deploying a deployment with a exceedingly large number of resources",
                  "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                  "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                  "Resource can't be retrieved due to list overhead quota exceed which captures the amount of resources filtered out by user-defined list filter.",
                  "Quota information is not available to client requests (e.g: regions.list).",
                  "Indicates that a VM is using global DNS. Can also be used to indicate that a resource has attributes that could result in the creation of a VM that uses global DNS.",
                  "Resource can't be retrieved due to api quota exceeded.",
                  "Upcoming maintenance schedule is unavailable for the resource.",
                  "Reserved entries for quickly adding new warnings without breaking dependent clients.",
                  "",
                  "",
                  "",
                  ""
                ],
                "enum": [
                  "DEPRECATED_RESOURCE_USED",
                  "NO_RESULTS_ON_PAGE",
                  "UNREACHABLE",
                  "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                  "NEXT_HOP_INSTANCE_NOT_FOUND",
                  "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                  "NEXT_HOP_CANNOT_IP_FORWARD",
                  "NEXT_HOP_NOT_RUNNING",
                  "INJECTED_KERNELS_DEPRECATED",
                  "REQUIRED_TOS_AGREEMENT",
                  "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                  "RESOURCE_NOT_DELETED",
                  "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                  "NOT_CRITICAL_ERROR",
                  "CLEANUP_FAILED",
                  "FIELD_VALUE_OVERRIDEN",
                  "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                  "NETWORK_ENDPOINT_NOT_DETACHED",
                  "PAGE_MISSING_RESULTS",
                  "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED",
                  "RESOURCE_NOT_FOUND_WARNING",
                  "MISSING_TYPE_DEPENDENCY",
                  "EXTERNAL_API_WARNING",
                  "SCHEMA_VALIDATION_IGNORED",
                  "UNDECLARED_PROPERTIES",
                  "EXPERIMENTAL_TYPE_USED",
                  "DEPRECATED_TYPE_USED",
                  "PARTIAL_SUCCESS",
                  "LARGE_DEPLOYMENT_WARNING",
                  "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                  "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                  "LIST_OVERHEAD_QUOTA_EXCEED",
                  "QUOTA_INFO_UNAVAILABLE",
                  "RESOURCE_USES_GLOBAL_DNS",
                  "RATE_LIMIT_EXCEEDED",
                  "UPCOMING_MAINTENANCES_UNAVAILABLE",
                  "RESERVED_ENTRY_136",
                  "RESERVED_ENTRY_139",
                  "RESERVED_ENTRY_141",
                  "RESERVED_ENTRY_142",
                  "RESERVED_ENTRY_143"
                ],
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                "enumDeprecated": [
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  true,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false
                ],
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Update timestamp in RFC3339 text format."
        },
        "name": {
          "description": "Output only. The name of the resource as it appears in the YAML config.",
          "type": "string"
        },
        "url": {
          "description": "Output only. The URL of the actual resource.",
          "type": "string"
        }
      }
    },
    "GetHealthOperationMetadata": {
      "description": "Metadata for GetHealth operations.",
      "type": "object",
      "id": "GetHealthOperationMetadata",
      "properties": {
        "healthInfo": {
          "description": "Output only. The health information.",
          "$ref": "GetHealthOperationMetadataHealthInfo",
          "readOnly": true
        }
      }
    },
    "TypeProvidersListTypesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token used to continue a truncated list request."
        },
        "types": {
          "items": {
            "$ref": "TypeInfo"
          },
          "description": "Output only. A list of resource type info.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "TypeProvidersListTypesResponse"
    },
    "QuotaExceededInfo": {
      "properties": {
        "dimensions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The map holding related quota dimensions."
        },
        "futureLimit": {
          "format": "double",
          "description": "Future quota limit being rolled out. The limit's unit depends on the quota type or metric.",
          "type": "number"
        },
        "metricName": {
          "description": "The Compute Engine quota metric name.",
          "type": "string"
        },
        "limit": {
          "description": "Current effective quota limit. The limit's unit depends on the quota type or metric.",
          "format": "double",
          "type": "number"
        },
        "limitName": {
          "description": "The name of the quota limit.",
          "type": "string"
        },
        "rolloutStatus": {
          "enum": [
            "ROLLOUT_STATUS_UNSPECIFIED",
            "IN_PROGRESS"
          ],
          "description": "Rollout status of the future quota limit.",
          "enumDescriptions": [
            "ROLLOUT_STATUS_UNSPECIFIED - Rollout status is not specified. The default value.",
            "IN_PROGRESS - A rollout is in process which will change the limit value to future limit."
          ],
          "type": "string"
        }
      },
      "id": "QuotaExceededInfo",
      "description": "Additional details for quota exceeded error for resource quota.",
      "type": "object"
    },
    "FirewallPolicyRuleOperationMetadata": {
      "type": "object",
      "id": "FirewallPolicyRuleOperationMetadata",
      "description": "Metadata for FirewallPolicyRule operations.",
      "properties": {
        "allocatedPriority": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. [Output Only] The priority allocated for the firewall policy rule if query parameters specified minPriority/maxPriority.",
          "format": "int32"
        }
      }
    },
    "DeploymentOutputEntry": {
      "description": "Output object for Deployments",
      "id": "DeploymentOutputEntry",
      "properties": {
        "key": {
          "description": "Key of the output",
          "type": "string"
        },
        "value": {
          "description": "Value of the label",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PollingOptions": {
      "type": "object",
      "id": "PollingOptions",
      "properties": {
        "failCondition": {
          "description": "JsonPath expression that determines if the request failed.",
          "type": "string"
        },
        "diagnostics": {
          "items": {
            "$ref": "Diagnostic"
          },
          "type": "array",
          "description": "An array of diagnostics to be collected by Deployment Manager, these diagnostics will be displayed to the user."
        },
        "targetLink": {
          "description": "JsonPath expression, after polling is completed, indicates where to fetch the resource.",
          "type": "string"
        },
        "pollingLink": {
          "type": "string",
          "description": "JsonPath expression that evaluates to string, it indicates where to poll."
        },
        "finishCondition": {
          "type": "string",
          "description": "JsonPath expression that determines if the request is completed."
        }
      }
    },
    "ServiceAccount": {
      "type": "object",
      "description": "Service Account used as a credential.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The IAM service account email address like test@myproject.iam.gserviceaccount.com"
        }
      },
      "id": "ServiceAccount"
    },
    "SetCommonInstanceMetadataOperationMetadata": {
      "type": "object",
      "properties": {
        "clientOperationId": {
          "description": "[Output Only] The client operation id.",
          "type": "string"
        },
        "perLocationOperations": {
          "description": "[Output Only] Status information per location (location name is key). Example key: zones/us-central1-a",
          "additionalProperties": {
            "$ref": "SetCommonInstanceMetadataOperationMetadataPerLocationOperationInfo"
          },
          "type": "object"
        }
      },
      "id": "SetCommonInstanceMetadataOperationMetadata"
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding",
      "properties": {
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "ResourceUpdate": {
      "type": "object",
      "properties": {
        "intent": {
          "description": "Output only. The intent of the resource: `PREVIEW`, `UPDATE`, or `CANCEL`.",
          "enum": [
            "CREATE_OR_ACQUIRE",
            "DELETE",
            "ACQUIRE",
            "UPDATE",
            "ABANDON",
            "CREATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The resource is scheduled to be created, or if it already exists, acquired.",
            "The resource is scheduled to be deleted.",
            "The resource is scheduled to be acquired.",
            "The resource is scheduled to be updated via the UPDATE method.",
            "The resource is scheduled to be abandoned.",
            "The resource is scheduled to be created."
          ]
        },
        "finalProperties": {
          "type": "string",
          "description": "Output only. The expanded properties of the resource with reference values expanded. Returned as serialized YAML."
        },
        "runtimePolicies": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The action will only be fired during create.",
              "The action will only be fired when the action is removed from the deployment.",
              "The action will fire during create, and if there is any changes on the inputs.",
              "The action will fire during create, and every time there is an update to the deployment."
            ],
            "enum": [
              "CREATE",
              "DELETE",
              "UPDATE_ON_CHANGE",
              "UPDATE_ALWAYS"
            ]
          },
          "type": "array",
          "description": "Output only. In case this is an action, it will show the runtimePolicies that this action will have after updating the deployment."
        },
        "manifest": {
          "description": "Output only. URL of the manifest representing the update configuration of this resource.",
          "type": "string"
        },
        "state": {
          "enum": [
            "PENDING",
            "IN_PROGRESS",
            "IN_PREVIEW",
            "FAILED",
            "ABORTED"
          ],
          "enumDescriptions": [
            "There are changes pending for this resource.",
            "The service is executing changes on the resource.",
            "The service is previewing changes on the resource.",
            "The service has failed to change the resource.",
            "The service has aborted trying to change the resource."
          ],
          "type": "string",
          "description": "Output only. The state of the resource."
        },
        "warnings": {
          "items": {
            "properties": {
              "message": {
                "type": "string",
                "description": "[Output Only] A human-readable description of the warning code."
              },
              "code": {
                "type": "string",
                "enum": [
                  "DEPRECATED_RESOURCE_USED",
                  "NO_RESULTS_ON_PAGE",
                  "UNREACHABLE",
                  "NEXT_HOP_ADDRESS_NOT_ASSIGNED",
                  "NEXT_HOP_INSTANCE_NOT_FOUND",
                  "NEXT_HOP_INSTANCE_NOT_ON_NETWORK",
                  "NEXT_HOP_CANNOT_IP_FORWARD",
                  "NEXT_HOP_NOT_RUNNING",
                  "INJECTED_KERNELS_DEPRECATED",
                  "REQUIRED_TOS_AGREEMENT",
                  "DISK_SIZE_LARGER_THAN_IMAGE_SIZE",
                  "RESOURCE_NOT_DELETED",
                  "SINGLE_INSTANCE_PROPERTY_TEMPLATE",
                  "NOT_CRITICAL_ERROR",
                  "CLEANUP_FAILED",
                  "FIELD_VALUE_OVERRIDEN",
                  "RESOURCE_IN_USE_BY_OTHER_RESOURCE_WARNING",
                  "NETWORK_ENDPOINT_NOT_DETACHED",
                  "PAGE_MISSING_RESULTS",
                  "SSL_POLICY_ENABLED_FEATURES_NOT_FETCHED",
                  "RESOURCE_NOT_FOUND_WARNING",
                  "MISSING_TYPE_DEPENDENCY",
                  "EXTERNAL_API_WARNING",
                  "SCHEMA_VALIDATION_IGNORED",
                  "UNDECLARED_PROPERTIES",
                  "EXPERIMENTAL_TYPE_USED",
                  "DEPRECATED_TYPE_USED",
                  "PARTIAL_SUCCESS",
                  "LARGE_DEPLOYMENT_WARNING",
                  "NEXT_HOP_INSTANCE_HAS_NO_IPV6_INTERFACE",
                  "INVALID_HEALTH_CHECK_FOR_DYNAMIC_WIEGHTED_LB",
                  "LIST_OVERHEAD_QUOTA_EXCEED",
                  "QUOTA_INFO_UNAVAILABLE",
                  "RESOURCE_USES_GLOBAL_DNS",
                  "RATE_LIMIT_EXCEEDED",
                  "UPCOMING_MAINTENANCES_UNAVAILABLE",
                  "RESERVED_ENTRY_136",
                  "RESERVED_ENTRY_139",
                  "RESERVED_ENTRY_141",
                  "RESERVED_ENTRY_142",
                  "RESERVED_ENTRY_143"
                ],
                "enumDescriptions": [
                  "A link to a deprecated resource was created.",
                  "No results are present on a particular list page.",
                  "A given scope cannot be reached.",
                  "The route's nextHopIp address is not assigned to an instance on the network.",
                  "The route's nextHopInstance URL refers to an instance that does not exist.",
                  "The route's nextHopInstance URL refers to an instance that is not on the same network as the route.",
                  "The route's next hop instance cannot ip forward.",
                  "The route's next hop instance does not have a status of RUNNING.",
                  "The operation involved use of an injected kernel, which is deprecated.",
                  "The user attempted to use a resource that requires a TOS they have not accepted.",
                  "The user created a boot disk that is larger than image size.",
                  "One or more of the resources set to auto-delete could not be deleted because they were in use.",
                  "Instance template used in instance group manager is valid as such, but its application does not make a lot of sense, because it allows only single instance in instance group.",
                  "Error which is not critical. We decided to continue the process despite the mentioned error.",
                  "Warning about failed cleanup of transient changes made by a failed operation.",
                  "Warning that value of a field has been overridden. Deprecated unused field.",
                  "Warning that a resource is in use.",
                  "Warning that network endpoint was not detached.",
                  "Current page contains less results than requested but a next page token exists.",
                  "Warning that SSL policy resource in the response does not contain information about the list of enabled features.",
                  "Warning that a resource is not found.",
                  "A resource depends on a missing type",
                  "Warning that is present in an external api call",
                  "When a resource schema validation is ignored.",
                  "When undeclared properties in the schema are present",
                  "When deploying and at least one of the resources has a type marked as experimental",
                  "When deploying and at least one of the resources has a type marked as deprecated",
                  "Success is reported, but some results may be missing due to errors",
                  "When deploying a deployment with a exceedingly large number of resources",
                  "The route's nextHopInstance URL refers to an instance that does not have an ipv6 interface on the same network as the route.",
                  "A WEIGHTED_MAGLEV backend service is associated with a health check that is not of type HTTP/HTTPS/HTTP2.",
                  "Resource can't be retrieved due to list overhead quota exceed which captures the amount of resources filtered out by user-defined list filter.",
                  "Quota information is not available to client requests (e.g: regions.list).",
                  "Indicates that a VM is using global DNS. Can also be used to indicate that a resource has attributes that could result in the creation of a VM that uses global DNS.",
                  "Resource can't be retrieved due to api quota exceeded.",
                  "Upcoming maintenance schedule is unavailable for the resource.",
                  "Reserved entries for quickly adding new warnings without breaking dependent clients.",
                  "",
                  "",
                  "",
                  ""
                ],
                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                "enumDeprecated": [
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  true,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false,
                  false
                ]
              },
              "data": {
                "description": "[Output Only] Metadata about this warning in key: value format. For example: \"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }] ",
                "items": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "description": "[Output Only] A warning data value corresponding to the key.",
                      "type": "string"
                    },
                    "key": {
                      "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                      "type": "string"
                    }
                  }
                },
                "type": "array"
              }
            },
            "type": "object"
          },
          "description": "Output only. If warning messages are generated during processing of this resource, this field will be populated.",
          "type": "array"
        },
        "credential": {
          "description": "Output only. The credential that will be used creating/updating this resource.",
          "$ref": "Credential"
        },
        "error": {
          "type": "object",
          "description": "Output only. If errors are generated during update of the resource, this field will be populated.",
          "properties": {
            "errors": {
              "description": "[Output Only] The array of errors encountered while processing this operation.",
              "type": "array",
              "items": {
                "properties": {
                  "errorDetails": {
                    "type": "array",
                    "description": "[Output Only] An optional list of messages that contain the error details. There is a set of defined message types to use for providing details.The syntax depends on the error code. For example, QuotaExceededInfo will have details when the error code is QUOTA_EXCEEDED.",
                    "items": {
                      "properties": {
                        "localizedMessage": {
                          "description": "A localized human-readable error message intended for end users.",
                          "$ref": "LocalizedMessage"
                        },
                        "errorInfo": {
                          "description": "Error information containing structured domain, reason, and metadata.",
                          "$ref": "ErrorInfo"
                        },
                        "quotaInfo": {
                          "description": "Details about quota limits and metrics when a quota is exceeded.",
                          "$ref": "QuotaExceededInfo"
                        },
                        "help": {
                          "$ref": "Help",
                          "description": "Links and information to help the user resolve the error."
                        }
                      },
                      "description": "Container for structured error details providing additional context specific to the encountered error code.",
                      "type": "object"
                    }
                  },
                  "location": {
                    "description": "[Output Only] Indicates the field in the request that caused the error. This property is optional.",
                    "type": "string"
                  },
                  "code": {
                    "description": "[Output Only] The error type identifier for this error.",
                    "type": "string"
                  },
                  "message": {
                    "description": "[Output Only] An optional, human-readable error message.",
                    "type": "string"
                  },
                  "arguments": {
                    "readOnly": true,
                    "description": "Output only. [Output Only] Optional error details WARNING: DO NOT MAKE VISIBLE This is for internal use-only (like componentization) (thus the visibility \"none\") and in case of public exposure it is strongly recommended to follow pattern of: https://aip.dev/193 and expose as details field.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "debugInfo": {
                    "description": "Output only. [Output Only] Advanced debugging information with stack traces and other diagnostic details for the error.",
                    "readOnly": true,
                    "$ref": "DebugInfo"
                  }
                },
                "type": "object",
                "description": "Represents a single error encountered during the processing of an operation."
              }
            }
          }
        },
        "properties": {
          "description": "Output only. The set of updated properties for this resource, before references are expanded. Returned as serialized YAML.",
          "type": "string"
        },
        "accessControl": {
          "description": "The Access Control Policy to set on this resource after updating the resource itself.",
          "$ref": "ResourceAccessControl"
        }
      },
      "id": "ResourceUpdate"
    },
    "MethodMap": {
      "description": "Deployment Manager will call these methods during the events of creation/deletion/update/get/setIamPolicy",
      "type": "object",
      "properties": {
        "get": {
          "description": "The action identifier for the get method to be used for this collection",
          "type": "string"
        },
        "create": {
          "description": "The action identifier for the create method to be used for this collection",
          "type": "string"
        },
        "delete": {
          "description": "The action identifier for the delete method to be used for this collection",
          "type": "string"
        },
        "update": {
          "description": "The action identifier for the update method to be used for this collection",
          "type": "string"
        },
        "setIamPolicy": {
          "description": "The action identifier for the setIamPolicy method to be used for this collection",
          "type": "string"
        }
      },
      "id": "MethodMap"
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        }
      }
    },
    "LocalizedMessage": {
      "id": "LocalizedMessage",
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "The localized error message in the above locale."
        },
        "locale": {
          "type": "string",
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\""
        }
      }
    },
    "BulkInsertOperationStatus": {
      "properties": {
        "failedToCreateVmCount": {
          "description": "[Output Only] Count of VMs that started creating but encountered an error.",
          "type": "integer",
          "format": "int32"
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "CREATING",
            "ROLLING_BACK",
            "DONE",
            "PENDING"
          ],
          "enumDescriptions": [
            "",
            "Rolling forward - creating VMs.",
            "Rolling back - cleaning up after an error.",
            "Done",
            "Pending - waiting until the capacity is available."
          ],
          "description": "[Output Only] Creation status of BulkInsert operation - information if the flow is rolling forward or rolling back.",
          "type": "string"
        },
        "createdVmCount": {
          "type": "integer",
          "description": "[Output Only] Count of VMs successfully created so far.",
          "format": "int32"
        },
        "targetVmCount": {
          "description": "[Output Only] Count of VMs originally planned to be created.",
          "format": "int32",
          "type": "integer"
        },
        "deletedVmCount": {
          "type": "integer",
          "description": "[Output Only] Count of VMs that got deleted during rollback.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "BulkInsertOperationStatus"
    },
    "TypeProvider": {
      "description": "A type provider that describes a service-backed Type.",
      "id": "TypeProvider",
      "properties": {
        "id": {
          "format": "uint64",
          "type": "string",
          "description": "Output only. Unique identifier for the resource defined by the server."
        },
        "name": {
          "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
          "type": "string"
        },
        "operation": {
          "$ref": "Operation",
          "description": "Output only. The Operation that most recently ran, or is currently running, on this type provider."
        },
        "labels": {
          "items": {
            "$ref": "TypeProviderLabelEntry"
          },
          "description": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`",
          "type": "array"
        },
        "descriptorUrl": {
          "type": "string",
          "description": "Descriptor Url for the this type provider."
        },
        "credential": {
          "description": "Credential used when interacting with this type.",
          "$ref": "Credential"
        },
        "options": {
          "$ref": "Options",
          "description": "Options to apply when handling any resources in this service."
        },
        "insertTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "type": "string"
        },
        "description": {
          "description": "An optional textual description of the resource; provided by the client when the resource is created.",
          "type": "string"
        },
        "customCertificateAuthorityRoots": {
          "description": "List of up to 2 custom certificate authority roots to use for TLS authentication when making calls on behalf of this type provider. If set, TLS authentication will exclusively use these roots instead of relying on publicly trusted certificate authorities when validating TLS certificate authenticity. The certificates must be in base64-encoded PEM format. The maximum size of each certificate must not exceed 10KB.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "selfLink": {
          "description": "Output only. Self link for the type provider.",
          "type": "string"
        },
        "collectionOverrides": {
          "items": {
            "$ref": "CollectionOverride"
          },
          "description": "Allows resource handling overrides for specific collections",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GetVersionOperationMetadataSbomInfo": {
      "id": "GetVersionOperationMetadataSbomInfo",
      "properties": {
        "targetComponentVersions": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A mapping of components to their target versions or other appropriate identifiers.",
          "type": "object"
        },
        "currentComponentVersions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A mapping of components to their currently-applied versions or other appropriate identifiers."
        }
      },
      "type": "object"
    },
    "ValidationOptions": {
      "description": "Options for how to validate and process properties on a resource.",
      "type": "object",
      "properties": {
        "schemaValidation": {
          "description": "Customize how deployment manager will validate the resource against schema errors.",
          "enumDescriptions": [
            "",
            "Ignore schema failures.",
            "Ignore schema failures but display them as warnings.",
            "Fail the resource if the schema is not valid, this is the default behavior."
          ],
          "enum": [
            "UNKNOWN",
            "IGNORE",
            "IGNORE_WITH_WARNINGS",
            "FAIL"
          ],
          "type": "string"
        },
        "undeclaredProperties": {
          "description": "Specify what to do with extra properties when executing a request.",
          "enum": [
            "UNKNOWN",
            "INCLUDE",
            "IGNORE",
            "INCLUDE_WITH_WARNINGS",
            "IGNORE_WITH_WARNINGS",
            "FAIL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Always include even if not present on discovery doc.",
            "Always ignore if not present on discovery doc.",
            "Include on request, but emit a warning.",
            "Ignore properties, but emit a warning.",
            "Always fail if undeclared properties are present."
          ]
        }
      },
      "id": "ValidationOptions"
    },
    "DeploymentsListResponse": {
      "id": "DeploymentsListResponse",
      "description": "A response containing a partial list of deployments and a page token used to build the next request if the request has been truncated.",
      "properties": {
        "deployments": {
          "items": {
            "$ref": "Deployment"
          },
          "description": "Output only. The deployments contained in this response.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token used to continue a truncated list request.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TypeInfo": {
      "id": "TypeInfo",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the type."
        },
        "schema": {
          "description": "For base types with a collection, we return a schema and documentation link For template types, we return only a schema",
          "$ref": "TypeInfoSchemaInfo"
        },
        "kind": {
          "description": "Output only. Type of the output. Always `deploymentManager#TypeInfo` for TypeInfo.",
          "type": "string"
        },
        "documentationLink": {
          "description": "For swagger 2.0 externalDocs field will be used. For swagger 1.2 this field will be empty.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title on the API descriptor URL provided."
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. Self link for the type provider."
        },
        "name": {
          "type": "string",
          "description": "The base type or composite type name."
        }
      },
      "description": "Type Information. Contains detailed information about a composite type, base type, or base type with specific collection.",
      "type": "object"
    },
    "GetHealthOperationMetadataHealthInfo": {
      "description": "Health information.",
      "type": "object",
      "id": "GetHealthOperationMetadataHealthInfo",
      "properties": {
        "healthStatus": {
          "enumDescriptions": [
            "Unspecified health status.",
            "The reservation slot is healthy.",
            "The reservation slot is unhealthy."
          ],
          "type": "string",
          "enum": [
            "HEALTH_STATUS_UNSPECIFIED",
            "HEALTH_STATUS_HEALTHY",
            "HEALTH_STATUS_UNHEALTHY"
          ],
          "description": "Output only. The health status.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when health info was updated."
        },
        "repairCategory": {
          "readOnly": true,
          "enum": [
            "REPAIR_CATEGORY_UNSPECIFIED",
            "REPAIR_CATEGORY_PLANNED_MAINTENANCE",
            "REPAIR_CATEGORY_EMERGENT_MAINTENANCE",
            "REPAIR_CATEGORY_USER_REPORTED_FAULT",
            "REPAIR_CATEGORY_CRITICAL_FAILURE"
          ],
          "description": "Output only. The repair category.",
          "enumDescriptions": [
            "Unspecified repair category.",
            "The repair is because of a planned maintenance",
            "The repair is because of an emergent maintenance",
            "The repair is because of a user reported fault",
            "The repair is because of critical failures, that are scoped outside emergent maintenance"
          ],
          "type": "string"
        },
        "unhealthyReason": {
          "enumDescriptions": [
            "Unspecified unhealthy reason.",
            "The slot is unhealthy because repair is in progress",
            "The slot is unhealthy because there is a pending repair, waiting for customer approval",
            "The slot is unhealthy because a vm cannot be scheduled on it, and no repairs are running on the slot"
          ],
          "readOnly": true,
          "description": "Output only. The reason for unhealthy status.",
          "enum": [
            "UNHEALTHY_REASON_UNSPECIFIED",
            "UNHEALTHY_REASON_REPAIRING",
            "UNHEALTHY_REASON_PENDING_USER_APPROVAL",
            "UNHEALTHY_REASON_UNSCHEDULABLE"
          ],
          "type": "string"
        },
        "availabilitySloStatus": {
          "enumDescriptions": [
            "Unspecified availability SLO status.",
            "The slot availability is in SLO.",
            "The slot availability is out of SLO.",
            "The slot availability is unknown."
          ],
          "description": "Output only. The availability SLO status.",
          "enum": [
            "AVAILABILITY_SLO_STATUS_UNSPECIFIED",
            "AVAILABILITY_SLO_STATUS_IN_SLO",
            "AVAILABILITY_SLO_STATUS_OUT_OF_SLO",
            "AVAILABILITY_SLO_STATUS_SLO_UNKNOWN"
          ],
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ResourceAccessControl": {
      "id": "ResourceAccessControl",
      "type": "object",
      "description": "The access controls set on the resource.",
      "properties": {
        "gcpIamPolicy": {
          "description": "The GCP IAM Policy to set on the resource.",
          "type": "string"
        }
      }
    },
    "SetAutoscalerLinkOperationMetadata": {
      "id": "SetAutoscalerLinkOperationMetadata",
      "properties": {
        "zonalIgmIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "List of zonal IGM IDs part of the RMIG."
        },
        "zoneToIgmIds": {
          "description": "Map of zone to an ID of the zonal IGM belonging to the RMIG.",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "ImportFile": {
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "description": "The contents of the file."
        },
        "name": {
          "description": "The name of the file.",
          "type": "string"
        }
      },
      "id": "ImportFile"
    },
    "DeploymentsStopRequest": {
      "properties": {
        "fingerprint": {
          "type": "string",
          "format": "byte",
          "description": "Specifies a fingerprint for `stop()` requests. A fingerprint is a randomly generated value that must be provided in `stop()` requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to stop an ongoing update request, this would prevent a collision). The fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a `get()` request on the deployment."
        }
      },
      "id": "DeploymentsStopRequest",
      "type": "object"
    },
    "Diagnostic": {
      "properties": {
        "level": {
          "type": "string",
          "enumDescriptions": [
            "",
            "If level is informational, it only gets displayed as part of the resource.",
            "If level is warning, will end up in the resource as a warning.",
            "If level is error, it will indicate an error occurred after finishCondition is set, and this field will populate resource errors and operation errors."
          ],
          "enum": [
            "UNKNOWN",
            "INFORMATION",
            "WARNING",
            "ERROR"
          ],
          "description": "Level to record this diagnostic."
        },
        "field": {
          "type": "string",
          "description": "JsonPath expression on the resource that if non empty, indicates that this field needs to be extracted as a diagnostic."
        }
      },
      "type": "object",
      "id": "Diagnostic"
    },
    "Help": {
      "id": "Help",
      "properties": {
        "links": {
          "description": "URL(s) pointing to additional information on handling the current error.",
          "type": "array",
          "items": {
            "$ref": "HelpLink"
          }
        }
      },
      "description": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit.",
      "type": "object"
    },
    "InstancesTroubleshootOperationMetadata": {
      "id": "InstancesTroubleshootOperationMetadata",
      "type": "object",
      "properties": {
        "troubleshootOutput": {
          "readOnly": true,
          "description": "Output only. [Output Only] Serialized output of the troubleshooting diagnostic run.",
          "type": "string"
        }
      },
      "description": "[Output Only] Operation metadata for instances.troubleshoot."
    },
    "TypeLabelEntry": {
      "id": "TypeLabelEntry",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of the label"
        },
        "key": {
          "description": "Key of the label",
          "type": "string"
        }
      },
      "description": "Label object for Types",
      "type": "object"
    },
    "DeploymentUpdate": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Output only. An optional user-provided description of the deployment after the current update has been applied."
        },
        "credential": {
          "$ref": "Credential",
          "description": "Output only. The user-provided default credential to use when deploying this preview."
        },
        "manifest": {
          "description": "Output only. URL of the manifest representing the update configuration of this deployment.",
          "type": "string"
        },
        "labels": {
          "description": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`.",
          "type": "array",
          "items": {
            "$ref": "DeploymentUpdateLabelEntry"
          }
        }
      },
      "type": "object",
      "id": "DeploymentUpdate"
    },
    "AuditLogConfig": {
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig"
    },
    "DeploymentLabelEntry": {
      "description": "Label object for Deployments",
      "id": "DeploymentLabelEntry",
      "type": "object",
      "properties": {
        "key": {
          "description": "Key of the label",
          "type": "string"
        },
        "value": {
          "description": "Value of the label",
          "type": "string"
        }
      }
    },
    "BasicAuth": {
      "description": "Basic Auth used as a credential.",
      "type": "object",
      "id": "BasicAuth",
      "properties": {
        "user": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "InstancesBulkInsertOperationMetadata": {
      "properties": {
        "perLocationStatus": {
          "description": "Status information per location (location name is key). Example key: zones/us-central1-a",
          "type": "object",
          "additionalProperties": {
            "$ref": "BulkInsertOperationStatus"
          }
        },
        "machineType": {
          "description": "[Output Only] The machine type of the VMs that were created used internally only by KCP flex bulk insert.",
          "type": "string"
        }
      },
      "id": "InstancesBulkInsertOperationMetadata",
      "type": "object"
    },
    "DeploymentUpdateLabelEntry": {
      "properties": {
        "key": {
          "type": "string",
          "description": "Key of the label"
        },
        "value": {
          "type": "string",
          "description": "Value of the label"
        }
      },
      "description": "Label object for DeploymentUpdate",
      "id": "DeploymentUpdateLabelEntry",
      "type": "object"
    },
    "TargetConfiguration": {
      "properties": {
        "config": {
          "description": "The configuration to use for this deployment.",
          "$ref": "ConfigFile"
        },
        "imports": {
          "items": {
            "$ref": "ImportFile"
          },
          "description": "Specifies any files to import for this configuration. This can be used to import templates or other files. For example, you might import a text file in order to use the file in a template.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "TargetConfiguration"
    },
    "CollectionOverride": {
      "id": "CollectionOverride",
      "description": "CollectionOverride allows resource handling overrides for specific resources within a BaseType",
      "type": "object",
      "properties": {
        "options": {
          "$ref": "Options",
          "description": "The options to apply to this resource-level override"
        },
        "collection": {
          "description": "The collection that identifies this resource within its service.",
          "type": "string"
        },
        "methodMap": {
          "$ref": "MethodMap",
          "description": "Custom verb method mappings to support unordered list API mappings."
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "GlobalSetPolicyRequest": {
      "type": "object",
      "id": "GlobalSetPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the 'resource'. The size of the policy is limited to a few 10s of KB. An empty policy is in general a valid policy but certain services (like Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Update mask for the policy."
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "Flatten Policy to create a backward compatible wire-format. Deprecated. Use 'policy' to specify the etag."
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Flatten Policy to create a backward compatible wire-format. Deprecated. Use 'policy' to specify bindings."
        }
      }
    },
    "Deployment": {
      "id": "Deployment",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Map of One Platform labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?` Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`.",
          "items": {
            "$ref": "DeploymentLabelEntry"
          },
          "type": "array"
        },
        "description": {
          "description": "An optional user-provided description of the deployment.",
          "type": "string"
        },
        "insertTime": {
          "description": "Output only. Creation timestamp in RFC3339 text format.",
          "type": "string"
        },
        "operation": {
          "$ref": "Operation",
          "description": "Output only. The Operation that most recently ran, or is currently running, on this deployment."
        },
        "outputs": {
          "type": "array",
          "description": "Output only. List of outputs from the last manifest that deployed successfully.",
          "items": {
            "$ref": "DeploymentOutputEntry"
          }
        },
        "target": {
          "description": "[Input Only] The parameters that define your deployment, including the deployment configuration and relevant templates.",
          "$ref": "TargetConfiguration"
        },
        "selfLink": {
          "description": "Output only. Server defined URL for the resource.",
          "type": "string"
        },
        "fingerprint": {
          "description": "Provides a fingerprint to use in requests to modify a deployment, such as `update()`, `stop()`, and `cancelPreview()` requests. A fingerprint is a randomly generated value that must be provided with `update()`, `stop()`, and `cancelPreview()` requests to perform optimistic locking. This ensures optimistic concurrency so that only one request happens at a time. The fingerprint is initially generated by Deployment Manager and changes after every request to modify data. To get the latest fingerprint value, perform a `get()` request to a deployment.",
          "format": "byte",
          "type": "string"
        },
        "credential": {
          "$ref": "Credential",
          "description": "User provided default credential for the deployment."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Update timestamp in RFC3339 text format."
        },
        "id": {
          "format": "uint64",
          "type": "string"
        },
        "update": {
          "description": "Output only. If Deployment Manager is currently updating or previewing an update to this deployment, the updated configuration appears here.",
          "$ref": "DeploymentUpdate"
        },
        "manifest": {
          "type": "string",
          "description": "Output only. URL of the manifest representing the last manifest that was successfully deployed. If no manifest has been successfully deployed, this field will be absent."
        },
        "name": {
          "type": "string",
          "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?` which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash."
        }
      }
    },
    "DebugInfo": {
      "properties": {
        "stackEntries": {
          "description": "The stack trace entries indicating where the error occurred.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "detail": {
          "description": "Additional debugging information provided by the server.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DebugInfo",
      "description": "Describes additional debugging info."
    },
    "TypeProviderLabelEntry": {
      "id": "TypeProviderLabelEntry",
      "type": "object",
      "properties": {
        "key": {
          "description": "Key of the label",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value of the label"
        }
      },
      "description": "Label object for TypeProviders"
    },
    "OperationDetails": {
      "properties": {
        "data": {
          "description": "Machine readable data from the message.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
[...]
