{
  "discoveryVersion": "v1",
  "version_module": true,
  "version": "v1",
  "basePath": "",
  "documentationLink": "https://developers.google.com/knowledge",
  "schemas": {
    "DocumentChunk": {
      "id": "DocumentChunk",
      "description": "A DocumentChunk represents a piece of content from a Document in the DeveloperKnowledge corpus. To fetch the entire document content, pass the `parent` to DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments.",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Output only. Specifies the ID of this chunk within the document. The chunk ID is unique within a document, but not globally unique across documents. The chunk ID is not stable and may change over time.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Contains the resource name of the document this chunk is from. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`"
        },
        "document": {
          "readOnly": true,
          "$ref": "Document",
          "description": "Output only. Represents metadata about the Document this chunk is from. The DocumentView of this Document message will be set to `DOCUMENT_VIEW_BASIC`. It is included here for convenience so that clients do not need to call DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments if they only need the metadata fields. Otherwise, clients should use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to fetch the full document content."
        },
        "content": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Contains the content of the document chunk."
        },
        "relevanceScore": {
          "format": "double",
          "description": "Output only. Represents the relevance score of the chunk to the search query. Higher score indicates higher chunk relevance. The score is in range [0.0, 1.0].",
          "readOnly": true,
          "type": "number"
        }
      },
      "type": "object"
    },
    "DocumentReference": {
      "id": "DocumentReference",
      "properties": {
        "documentChunk": {
          "readOnly": true,
          "description": "Output only. Contains the document chunk. The `document_chunk.id` field is not set and will be empty.",
          "$ref": "DocumentChunk"
        }
      },
      "description": "Represents a reference to a document.",
      "type": "object"
    },
    "BatchGetDocumentsResponse": {
      "description": "Response message for DeveloperKnowledge.BatchGetDocuments.",
      "properties": {
        "documents": {
          "description": "Contains the documents requested.",
          "items": {
            "$ref": "Document"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchGetDocumentsResponse"
    },
    "AnswerReference": {
      "description": "Represents a reference to a source.",
      "properties": {
        "documentReference": {
          "$ref": "DocumentReference",
          "description": "Output only. The reference document.",
          "readOnly": true
        }
      },
      "id": "AnswerReference",
      "type": "object"
    },
    "AnswerCitation": {
      "type": "object",
      "properties": {
        "endIndex": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Indicates the end of the segment, measured in bytes (UTF-8 unicode), exclusive. If there are multi-byte characters, such as non-ASCII characters, the index measurement is longer than the string length."
        },
        "sources": {
          "items": {
            "$ref": "CitationSource"
          },
          "description": "Output only. Contains citation sources for the attributed segment.",
          "type": "array",
          "readOnly": true
        },
        "startIndex": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Indicates the start of the segment, measured in bytes (UTF-8 unicode), inclusive. If there are multi-byte characters, such as non-ASCII characters, the index measurement is longer than the string length."
        }
      },
      "description": "Citation info for a segment.",
      "id": "AnswerCitation"
    },
    "Answer": {
      "id": "Answer",
      "properties": {
        "answerText": {
          "description": "Contains the text of the answer.",
          "type": "string"
        },
        "references": {
          "description": "Output only. Contains references for the answer.",
          "items": {
            "$ref": "AnswerReference"
          },
          "type": "array",
          "readOnly": true
        },
        "citations": {
          "readOnly": true,
          "description": "Output only. Contains citations for the answer.",
          "items": {
            "$ref": "AnswerCitation"
          },
          "type": "array"
        }
      },
      "description": "An answer to a query.",
      "type": "object"
    },
    "SearchDocumentChunksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Provides a token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "DocumentChunk"
          },
          "description": "Contains the search results for the given query. Each DocumentChunk in this list contains a snippet of content relevant to the search query. Use the DocumentChunk.parent field of each result with DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to retrieve the full document content.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for DeveloperKnowledge.SearchDocumentChunks.",
      "id": "SearchDocumentChunksResponse"
    },
    "AnswerQueryRequest": {
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Applies a strict filter to the search results used to ground the answer. The expression supports a subset of the syntax described at https://google.aip.dev/160. Supported fields for filtering: * `content_length_bytes` (INTEGER): The length of the `Document.content` field in bytes. * `data_source` (STRING): The source of the document, e.g. `docs.cloud.google.com`. See https://developers.google.com/knowledge/reference/corpus-reference for the complete list of data sources in the corpus. * `update_time` (TIMESTAMP): The timestamp of when the document was last meaningfully updated. A meaningful update is one that changes document's markdown content or metadata. * `uri` (STRING): The document URI, e.g. `https://docs.cloud.google.com/bigquery/docs/tables`. INTEGER fields support `=`, `<`, `<=`, `>`, and `>=` operators. STRING fields support `=` (equals) and `!=` (not equals) operators for **exact match** on the whole string. Partial match, prefix match, and regexp match are not supported. TIMESTAMP fields support `=`, `<`, `<=`, `>`, and `>=` operators. Timestamps must be in RFC-3339 format, e.g., `\"2025-01-01T00:00:00Z\"`. You can combine expressions using `AND`, `OR`, and `NOT` (or `-`) logical operators. `OR` has higher precedence than `AND`. Use parentheses for explicit precedence grouping. Examples: * Filter by `Document.content_length_bytes`: `content_length_bytes < 50000` * `data_source = \"docs.cloud.google.com\" OR data_source = \"firebase.google.com\"` * `data_source != \"firebase.google.com\"` * `update_time < \"2024-01-01T00:00:00Z\"` * `update_time >= \"2025-01-22T00:00:00Z\" AND (data_source = \"developer.chrome.com\" OR data_source = \"web.dev\")` * `uri = \"https://docs.cloud.google.com/release-notes\"` The `filter` string must not exceed 500 characters; values longer than 500 characters will result in an `INVALID_ARGUMENT` error."
        },
        "query": {
          "type": "string",
          "description": "Required. The query to answer."
        }
      },
      "type": "object",
      "id": "AnswerQueryRequest",
      "description": "Request message for DeveloperKnowledge.AnswerQuery."
    },
    "Document": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Contains the resource name of the document. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`"
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Provides the URI of the content, such as `https://docs.cloud.google.com/storage/docs/creating-buckets`."
        },
        "dataSource": {
          "type": "string",
          "description": "Output only. Specifies the data source of the document. Example data source: `firebase.google.com`",
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Provides a description of the document."
        },
        "contentLengthBytes": {
          "description": "Output only. The length of the `content` field in bytes.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "view": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies the DocumentView of the document.",
          "enum": [
            "DOCUMENT_VIEW_UNSPECIFIED",
            "DOCUMENT_VIEW_BASIC",
            "DOCUMENT_VIEW_FULL",
            "DOCUMENT_VIEW_CONTENT"
          ],
          "enumDescriptions": [
            "The default / unset value. See each API method for its default value if DocumentView is not specified.",
            "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` - `content_length_bytes` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
            "Includes all Document fields.",
            "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
          ]
        },
        "updateTime": {
          "description": "Output only. Represents the timestamp when the content or metadata of the document was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "content": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Contains the full content of the document in Markdown format."
        },
        "title": {
          "readOnly": true,
          "description": "Output only. Provides the title of the document.",
          "type": "string"
        }
      },
      "description": "A Document represents a page of documentation in the Developer Knowledge corpus, like the page at https://docs.cloud.google.com/storage/docs/creating-buckets.",
      "id": "Document",
      "type": "object"
    },
    "CitationSource": {
      "type": "object",
      "properties": {
        "referenceIndex": {
          "format": "int32",
          "description": "Output only. Contains the index of the Answer.AnswerReference in the `references` repeated field.",
          "readOnly": true,
          "type": "integer"
        }
      },
      "description": "Citation source.",
      "id": "CitationSource"
    },
    "AnswerQueryResponse": {
      "properties": {
        "answer": {
          "$ref": "Answer",
          "description": "The answer to the query."
        }
      },
      "type": "object",
      "description": "Response message for DeveloperKnowledge.AnswerQuery.",
      "id": "AnswerQueryResponse"
    }
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "description": "The Developer Knowledge API provides access to Google's developer knowledge.",
  "baseUrl": "https://developerknowledge.googleapis.com/",
  "rootUrl": "https://developerknowledge.googleapis.com/",
  "resources": {
    "documents": {
      "methods": {
        "searchDocumentChunks": {
          "id": "developerknowledge.documents.searchDocumentChunks",
          "response": {
            "$ref": "SearchDocumentChunksResponse"
          },
          "flatPath": "v1/documents:searchDocumentChunks",
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "query": {
              "location": "query",
              "description": "Required. Provides the raw query string provided by the user, such as \"How to create a Cloud Storage bucket?\". The query must not exceed 500 characters; values longer than 500 characters will result in an `INVALID_ARGUMENT` error.",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Optional. Applies a strict filter to the search results. The expression supports a subset of the syntax described at https://google.aip.dev/160. While `SearchDocumentChunks` returns DocumentChunks, the filter is applied to `DocumentChunk.document` fields. Supported fields for filtering: * `content_length_bytes` (INTEGER): The length of the `Document.content` field in bytes. * `data_source` (STRING): The source of the document, e.g. `docs.cloud.google.com`. See https://developers.google.com/knowledge/reference/corpus-reference for the complete list of data sources in the corpus. * `update_time` (TIMESTAMP): The timestamp of when the document was last meaningfully updated. A meaningful update is one that changes document's markdown content or metadata. * `uri` (STRING): The document URI, e.g. `https://docs.cloud.google.com/bigquery/docs/tables`. INTEGER fields support `=`, `<`, `<=`, `>`, and `>=` operators. STRING fields support `=` (equals) and `!=` (not equals) operators for **exact match** on the whole string. Partial match, prefix match, and regexp match are not supported. TIMESTAMP fields support `=`, `<`, `<=`, `>`, and `>=` operators. Timestamps must be in RFC-3339 format, e.g., `\"2025-01-01T00:00:00Z\"`. Note: Field names must be in `snake_case` (e.g., `data_source`). Values on the right-hand side of filtering expressions must be string literals enclosed in double quotes (e.g., `\"docs.cloud.google.com\"`). You can combine expressions using `AND`, `OR`, and `NOT` (or `-`) logical operators. `OR` has higher precedence than `AND`. Use parentheses for explicit precedence grouping. Examples: * Filter by `Document.content_length_bytes`: `content_length_bytes < 50000` * `data_source = \"docs.cloud.google.com\" OR data_source = \"firebase.google.com\"` * `data_source != \"firebase.google.com\"` * `update_time < \"2024-01-01T00:00:00Z\"` * `update_time >= \"2025-01-22T00:00:00Z\" AND (data_source = \"developer.chrome.com\" OR data_source = \"web.dev\")` * `uri = \"https://docs.cloud.google.com/release-notes\"` The `filter` string must not exceed 500 characters; values longer than 500 characters will result in an `INVALID_ARGUMENT` error."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. Contains a page token, received from a previous `SearchDocumentChunks` call. Provide this to retrieve the subsequent page."
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. Specifies the maximum number of results to return. The service may return fewer than this value. If unspecified, at most 5 results will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "format": "int32",
              "location": "query"
            }
          },
          "description": "Searches for developer knowledge across Google's developer documentation. Returns DocumentChunks based on the user's query. There may be many chunks from the same Document. To retrieve full documents, use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments with the DocumentChunk.parent returned in the SearchDocumentChunksResponse.results.",
          "path": "v1/documents:searchDocumentChunks",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "batchGet": {
          "flatPath": "v1/documents:batchGet",
          "httpMethod": "GET",
          "response": {
            "$ref": "BatchGetDocumentsResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "developerknowledge.documents.batchGet",
          "parameters": {
            "view": {
              "enum": [
                "DOCUMENT_VIEW_UNSPECIFIED",
                "DOCUMENT_VIEW_BASIC",
                "DOCUMENT_VIEW_FULL",
                "DOCUMENT_VIEW_CONTENT"
              ],
              "enumDescriptions": [
                "The default / unset value. See each API method for its default value if DocumentView is not specified.",
                "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` - `content_length_bytes` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
                "Includes all Document fields.",
                "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
              ],
              "type": "string",
              "location": "query",
              "description": "Optional. Specifies the DocumentView of the document. If unspecified, DeveloperKnowledge.BatchGetDocuments defaults to `DOCUMENT_VIEW_CONTENT`."
            },
            "names": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Required. Specifies the names of the documents to retrieve. A maximum of 20 documents can be retrieved in a batch. The documents are returned in the same order as the `names` in the request. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets` Each name must not exceed 500 characters; values longer than 500 characters will result in an `INVALID_ARGUMENT` error. "
            }
          },
          "path": "v1/documents:batchGet",
          "description": "Retrieves multiple documents, each with its full Markdown content."
        },
        "get": {
          "response": {
            "$ref": "Document"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/documents/{documentsId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Specifies the name of the document to retrieve. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets` The name must not exceed 500 characters; values longer than 500 characters will result in an `INVALID_ARGUMENT` error.",
              "pattern": "^documents/.*$",
              "required": true,
              "location": "path"
            },
            "view": {
              "enum": [
                "DOCUMENT_VIEW_UNSPECIFIED",
                "DOCUMENT_VIEW_BASIC",
                "DOCUMENT_VIEW_FULL",
                "DOCUMENT_VIEW_CONTENT"
              ],
              "description": "Optional. Specifies the DocumentView of the document. If unspecified, DeveloperKnowledge.GetDocument defaults to `DOCUMENT_VIEW_CONTENT`.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "The default / unset value. See each API method for its default value if DocumentView is not specified.",
                "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` - `content_length_bytes` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
                "Includes all Document fields.",
                "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
              ]
            }
          },
          "description": "Retrieves a single document with its full Markdown content.",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "id": "developerknowledge.documents.get"
        }
      }
    },
    "v1": {
      "methods": {
        "answerQuery": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "AnswerQueryRequest"
          },
          "httpMethod": "POST",
          "id": "developerknowledge.answerQuery",
          "description": "Answers a query using grounded generation.",
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "v1:answerQuery",
          "response": {
            "$ref": "AnswerQueryResponse"
          },
          "path": "v1:answerQuery"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260830",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "id": "developerknowledge:v1",
  "title": "Developer Knowledge API",
  "canonicalName": "Developer Knowledge",
  "mtlsRootUrl": "https://developerknowledge.mtls.googleapis.com/",
  "name": "developerknowledge",
  "batchPath": "batch",
  "protocol": "rest",
  "servicePath": ""
}