{
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "rootUrl": "https://developerconnect.googleapis.com/",
  "name": "developerconnect",
  "protocol": "rest",
  "canonicalName": "Developer Connect",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "schemas": {
    "BitbucketCloudConfig": {
      "description": "Configuration for connections to an instance of Bitbucket Cloud.",
      "properties": {
        "readAuthorizerCredential": {
          "description": "Required. An access token with the minimum `repository` access. It can either be a workspace, project or repository access token. It's recommended to use a system account to generate the credentials.",
          "$ref": "UserCredential"
        },
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. An access token with the minimum `repository`, `pullrequest` and `webhook` scope access. It can either be a workspace, project or repository access token. This is needed to create webhooks. It's recommended to use a system account to generate these credentials."
        },
        "workspace": {
          "type": "string",
          "description": "Required. The Bitbucket Cloud Workspace ID to be connected to Google Cloud Platform."
        },
        "webhookSecretSecretVersion": {
          "type": "string",
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate and create webhooks."
        }
      },
      "type": "object",
      "id": "BitbucketCloudConfig"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        }
      },
      "id": "Location"
    },
    "FetchReadWriteTokenResponse": {
      "description": "Message for responding to get read/write token.",
      "type": "object",
      "id": "FetchReadWriteTokenResponse",
      "properties": {
        "expirationTime": {
          "format": "google-datetime",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "type": "string"
        },
        "gitUsername": {
          "type": "string",
          "description": "The git_username to specify when making a git clone with the token. For example, for GitHub GitRepositoryLinks, this would be \"x-access-token\""
        },
        "token": {
          "description": "The token content.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      }
    },
    "GitLabConfig": {
      "properties": {
        "authorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `api` scope access and a minimum role of `maintainer`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        },
        "readAuthorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access and a minimum role of `reporter`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab project, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        }
      },
      "description": "Configuration for connections to gitlab.com.",
      "id": "GitLabConfig",
      "type": "object"
    },
    "FetchLinkableGitRepositoriesResponse": {
      "description": "Response message for FetchLinkableGitRepositories.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "linkableGitRepositories": {
          "description": "The git repositories that can be linked to the connection.",
          "items": {
            "$ref": "LinkableGitRepository"
          },
          "type": "array"
        }
      },
      "id": "FetchLinkableGitRepositoriesResponse",
      "type": "object"
    },
    "FieldVisibility": {
      "properties": {
        "selector": {
          "type": "string",
          "description": "The name of the parameter in the input_schema or output_schema."
        },
        "restriction": {
          "description": "The visibility restriction labels for this field (comma-separated).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Visibility rules for individual tool parameters (fields). This allows producers to hide specific fields in tools/list and tools/call.",
      "id": "FieldVisibility"
    },
    "BasicAuthentication": {
      "description": "Basic authentication with username and password.",
      "id": "BasicAuthentication",
      "properties": {
        "username": {
          "type": "string",
          "description": "Required. The username to authenticate as."
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "The password SecretManager secret version to authenticate as."
        }
      },
      "type": "object"
    },
    "ProcessGitHubEnterpriseWebhookRequest": {
      "type": "object",
      "id": "ProcessGitHubEnterpriseWebhookRequest",
      "properties": {
        "body": {
          "$ref": "HttpBody",
          "description": "Required. HTTP request body."
        }
      },
      "description": "RPC request object accepted by the ProcessGitHubEnterpriseWebhook RPC method."
    },
    "DeploymentEvent": {
      "id": "DeploymentEvent",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The update time of the DeploymentEvent."
        },
        "undeployTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the DeploymentEvent was undeployed, all artifacts are considered undeployed once this time is set. This would be the max of all ArtifactDeployment undeploy_times. If any ArtifactDeployment is still active (i.e. does not have an undeploy_time), this field will be empty.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The create time of the DeploymentEvent."
        },
        "runtimeConfig": {
          "$ref": "RuntimeConfig",
          "readOnly": true,
          "description": "Output only. The runtime configurations where the DeploymentEvent happened."
        },
        "deployTime": {
          "description": "Output only. The time at which the DeploymentEvent was deployed. This would be the min of all ArtifactDeployment deploy_times.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "artifactDeployments": {
          "items": {
            "$ref": "ArtifactDeployment"
          },
          "readOnly": true,
          "description": "Output only. The artifact deployments of the DeploymentEvent. Each artifact deployment contains the artifact uri and the runtime configuration uri. For GKE, this would be all the containers images that are deployed in the pod.",
          "type": "array"
        },
        "runtimeDeploymentUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The runtime assigned URI of the DeploymentEvent. For GKE, this is the fully qualified replica set uri. e.g. container.googleapis.com/projects/{project}/locations/{location}/clusters/{cluster}/k8s/namespaces/{namespace}/apps/replicasets/{replica-set-id} For Cloud Run, this is the revision name."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_ACTIVE",
            "STATE_INACTIVE"
          ],
          "description": "Output only. The state of the DeploymentEvent.",
          "enumDescriptions": [
            "No state specified.",
            "The deployment is active in the runtime.",
            "The deployment is not in the runtime."
          ],
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The name of the DeploymentEvent. This name is provided by Developer Connect insights. Format: projects/{project}/locations/{location}/insightsConfigs/{insights_config}/deploymentEvents/{uuid}",
          "type": "string"
        }
      },
      "description": "The DeploymentEvent resource represents the deployment of the artifact within the InsightsConfig resource."
    },
    "HttpBody": {
      "properties": {
        "extensions": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array"
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "format": "byte",
          "description": "The HTTP request/response body as raw binary.",
          "type": "string"
        }
      },
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "id": "HttpBody"
    },
    "InstallationState": {
      "description": "Describes stage and necessary actions to be taken by the user to complete the installation. Used for GitHub and GitHub Enterprise based connections.",
      "id": "InstallationState",
      "properties": {
        "message": {
          "type": "string",
          "description": "Output only. Message of what the user should do next to continue the installation. Empty string if the installation is already complete.",
          "readOnly": true
        },
        "actionUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Link to follow for next action. Empty string if the installation is already complete."
        },
        "stage": {
          "description": "Output only. Current step of the installation process.",
          "readOnly": true,
          "enum": [
            "STAGE_UNSPECIFIED",
            "PENDING_CREATE_APP",
            "PENDING_USER_OAUTH",
            "PENDING_INSTALL_APP",
            "COMPLETE"
          ],
          "enumDescriptions": [
            "No stage specified.",
            "Only for GitHub Enterprise. An App creation has been requested. The user needs to confirm the creation in their GitHub enterprise host.",
            "User needs to authorize the GitHub (or Enterprise) App via OAuth.",
            "User needs to follow the link to install the GitHub (or Enterprise) App.",
            "Installation process has been completed."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GitRepositoryLink": {
      "description": "Message describing the GitRepositoryLink object",
      "type": "object",
      "id": "GitRepositoryLink",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. [Output only] Update timestamp",
          "readOnly": true,
          "format": "google-datetime"
        },
        "webhookId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. External ID of the webhook created for the repository."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Create timestamp",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the repository, in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`."
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. [Output only] Delete timestamp"
        },
        "gitProxyUri": {
          "description": "Output only. URI to access the linked repository through the Git Proxy. This field is only populated if the git proxy is enabled for the connection.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "type": "boolean"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A system-assigned unique identifier for the GitRepositoryLink."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Allows clients to store small amounts of arbitrary data."
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "cloneUri": {
          "type": "string",
          "description": "Required. Git Clone URI."
        }
      }
    },
    "ServiceDirectoryConfig": {
      "type": "object",
      "properties": {
        "service": {
          "description": "Required. The Service Directory service name. Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}.",
          "type": "string"
        }
      },
      "description": "ServiceDirectoryConfig represents Service Directory configuration for a connection.",
      "id": "ServiceDirectoryConfig"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "StartOAuthResponse": {
      "type": "object",
      "description": "Message for responding to starting an OAuth flow.",
      "id": "StartOAuthResponse",
      "properties": {
        "ticket": {
          "description": "The ticket to be used for post processing the callback from the service provider.",
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "description": "The list of scopes requested by the application.",
          "items": {
            "type": "string"
          }
        },
        "authUri": {
          "type": "string",
          "description": "The authorization server URL to the OAuth flow of the service provider."
        },
        "clientId": {
          "description": "The client ID to the OAuth App of the service provider.",
          "type": "string"
        },
        "codeChallengeMethod": {
          "description": "Please refer to https://datatracker.ietf.org/doc/html/rfc7636#section-4.2",
          "type": "string"
        },
        "systemProviderId": {
          "type": "string",
          "enum": [
            "SYSTEM_PROVIDER_UNSPECIFIED",
            "GITHUB",
            "GITLAB",
            "GOOGLE",
            "SENTRY",
            "ROVO",
            "NEW_RELIC",
            "DATASTAX",
            "DYNATRACE",
            "BITBUCKET_CLOUD"
          ],
          "description": "The ID of the system provider.",
          "enumDescriptions": [
            "No system provider specified.",
            "GitHub provider. Scopes can be found at https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes",
            "GitLab provider. Scopes can be found at https://docs.gitlab.com/user/profile/personal_access_tokens/#personal-access-token-scopes",
            "Google provider. Recommended scopes: \"https://www.googleapis.com/auth/drive.readonly\", \"https://www.googleapis.com/auth/documents.readonly\"",
            "Sentry provider. Scopes can be found at https://docs.sentry.io/api/permissions/",
            "Rovo provider. Must select the \"rovo\" scope.",
            "New Relic provider. No scopes are allowed.",
            "Datastax provider. No scopes are allowed.",
            "Dynatrace provider.",
            "Bitbucket Cloud provider."
          ]
        },
        "codeChallenge": {
          "description": "Please refer to https://datatracker.ietf.org/doc/html/rfc7636#section-4.1",
          "type": "string"
        }
      }
    },
    "GKEWorkload": {
      "id": "GKEWorkload",
      "type": "object",
      "properties": {
        "cluster": {
          "type": "string",
          "description": "Required. Immutable. The name of the GKE cluster. Format: `projects/{project}/locations/{location}/clusters/{cluster}`."
        },
        "deployment": {
          "readOnly": true,
          "description": "Output only. The name of the GKE deployment. Format: `projects/{project}/locations/{location}/clusters/{cluster}/namespaces/{namespace}/deployments/{deployment}`.",
          "type": "string"
        }
      },
      "description": "GKEWorkload represents the Google Kubernetes Engine runtime."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "ProxyConfig": {
      "type": "object",
      "description": "The proxy configuration.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Setting this to true allows the git and http proxies to perform actions on behalf of the user configured under the account connector."
        },
        "httpProxyBaseUri": {
          "readOnly": true,
          "description": "Output only. The base URI for the HTTP proxy endpoint. Has the format `https://{generatedID}-a-h-{shortRegion}.developerconnect.dev` Populated only when `enabled` is set to `true`. This endpoint is used by other Google services that integrate with Developer Connect.",
          "type": "string"
        }
      },
      "id": "ProxyConfig"
    },
    "GenericHTTPEndpointConfig": {
      "description": "Defines the configuration for connections to an HTTP service provider.",
      "id": "GenericHTTPEndpointConfig",
      "properties": {
        "sslCaCertificate": {
          "type": "string",
          "description": "Optional. The SSL certificate to use for requests to the HTTP service provider."
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to privately connect to a HTTP service provider. This should only be set if the Http service provider is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the HTTP service provider will be made over the public internet."
        },
        "bearerTokenAuthentication": {
          "description": "Optional. Bearer token authentication with a token.",
          "$ref": "BearerTokenAuthentication"
        },
        "hostUri": {
          "description": "Required. Immutable. The service provider's https endpoint.",
          "type": "string"
        },
        "basicAuthentication": {
          "$ref": "BasicAuthentication",
          "description": "Optional. Basic authentication with username and password."
        }
      },
      "type": "object"
    },
    "AccountConnector": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the accountConnector was updated.",
          "readOnly": true
        },
        "oauthStartUri": {
          "description": "Output only. Start OAuth flow by clicking on this URL.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the accountConnector was created."
        },
        "providerOauthConfig": {
          "$ref": "ProviderOAuthConfig",
          "description": "Optional. Provider OAuth config."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Allows users to store small amounts of arbitrary data.",
          "type": "object"
        },
        "uid": {
          "type": "string",
          "description": "Output only. A system-assigned unique identifier for the Account Connector.",
          "readOnly": true
        },
        "customOauthConfig": {
          "description": "Custom OAuth config.",
          "$ref": "CustomOAuthConfig"
        },
        "name": {
          "description": "Identifier. The resource name of the accountConnector, in the format `projects/{project}/locations/{location}/accountConnectors/{account_connector_id}`.",
          "type": "string"
        },
        "proxyConfig": {
          "description": "Optional. Configuration for the http and git proxy features.",
          "$ref": "ProxyConfig"
        }
      },
      "type": "object",
      "id": "AccountConnector",
      "description": "AccountConnector encapsulates what a platform administrator needs to configure for users to connect to the service providers, which includes, among other fields, the OAuth client ID, client secret, and authorization and token endpoints."
    },
    "InsightsConfig": {
      "description": "The InsightsConfig resource is the core configuration object to capture events from your Software Development Lifecycle. It acts as the central hub for managing how Developer Connect understands your application, its runtime environments, and the artifacts deployed within them.",
      "type": "object",
      "id": "InsightsConfig",
      "properties": {
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User specified annotations. See https://google.aip.dev/148#annotations for more details such as format and size limitations."
        },
        "name": {
          "description": "Identifier. The name of the InsightsConfig. Format: projects/{project}/locations/{location}/insightsConfigs/{insightsConfig}",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of labels associated with an InsightsConfig."
        },
        "artifactConfigs": {
          "items": {
            "$ref": "ArtifactConfig"
          },
          "type": "array",
          "description": "Optional. The artifact configurations of the artifacts that are deployed."
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Any errors that occurred while setting up the InsightsConfig. Each error will be in the format: `field_name: error_message`, e.g. GetAppHubApplication: Permission denied while getting App Hub application. Please grant permissions to the P4SA.",
          "type": "array",
          "readOnly": true
        },
        "appHubApplication": {
          "description": "Optional. The name of the App Hub Application. Format: projects/{project}/locations/{location}/applications/{application}",
          "type": "string"
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of InsightsConfig does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Create timestamp.",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "No state specified.",
            "The InsightsConfig is pending application discovery/runtime discovery.",
            "The initial discovery process is complete.",
            "The InsightsConfig is in an error state."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE",
            "ERROR"
          ],
          "description": "Optional. Output only. The state of the InsightsConfig."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Update timestamp."
        },
        "runtimeConfigs": {
          "readOnly": true,
          "description": "Output only. The runtime configurations where the application is deployed.",
          "type": "array",
          "items": {
            "$ref": "RuntimeConfig"
          }
        },
        "projects": {
          "$ref": "Projects",
          "description": "Optional. The projects to track with the InsightsConfig."
        }
      }
    },
    "GoogleCloudRun": {
      "description": "GoogleCloudRun represents the Cloud Run runtime.",
      "properties": {
        "serviceUri": {
          "type": "string",
          "description": "Required. Immutable. The name of the Cloud Run service. Format: `projects/{project}/locations/{location}/services/{service}`."
        }
      },
      "type": "object",
      "id": "GoogleCloudRun"
    },
    "RuntimeConfig": {
      "description": "RuntimeConfig represents the runtimes where the application is deployed.",
      "properties": {
        "appHubWorkload": {
          "$ref": "AppHubWorkload",
          "readOnly": true,
          "description": "Output only. App Hub Workload."
        },
        "googleCloudRun": {
          "description": "Output only. Cloud Run runtime.",
          "$ref": "GoogleCloudRun",
          "readOnly": true
        },
        "uri": {
          "description": "Required. Immutable. The URI of the runtime configuration. For GKE, this is the cluster name. For Cloud Run, this is the service name.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the Runtime.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "LINKED",
            "UNLINKED"
          ],
          "enumDescriptions": [
            "No state specified.",
            "The runtime configuration has been linked to the InsightsConfig.",
            "The runtime configuration has been unlinked to the InsightsConfig."
          ]
        },
        "appHubService": {
          "$ref": "AppHubService",
          "readOnly": true,
          "description": "Output only. App Hub Service."
        },
        "gkeWorkload": {
          "$ref": "GKEWorkload",
          "readOnly": true,
          "description": "Output only. Google Kubernetes Engine runtime."
        }
      },
      "id": "RuntimeConfig",
      "type": "object"
    },
    "FetchReadTokenRequest": {
      "description": "Message for fetching SCM read token.",
      "type": "object",
      "id": "FetchReadTokenRequest",
      "properties": {}
    },
    "ListDeploymentEventsResponse": {
      "type": "object",
      "id": "ListDeploymentEventsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "deploymentEvents": {
          "items": {
            "$ref": "DeploymentEvent"
          },
          "type": "array",
          "description": "The list of DeploymentEvents."
        }
      },
      "description": "Response to listing DeploymentEvents."
    },
    "ListAccountConnectorsResponse": {
      "type": "object",
      "id": "ListAccountConnectorsResponse",
      "description": "Message for response to listing AccountConnectors",
      "properties": {
        "accountConnectors": {
          "items": {
            "$ref": "AccountConnector"
          },
          "type": "array",
          "description": "The list of AccountConnectors"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "AppHubService": {
      "id": "AppHubService",
      "properties": {
        "apphubService": {
          "readOnly": true,
          "description": "Required. Output only. Immutable. The name of the App Hub Service. Format: `projects/{project}/locations/{location}/applications/{application}/services/{service}`.",
          "type": "string"
        },
        "criticality": {
          "description": "Output only. The criticality of the App Hub Service.",
          "type": "string",
          "readOnly": true
        },
        "environment": {
          "type": "string",
          "description": "Output only. The environment of the App Hub Service.",
          "readOnly": true
        }
      },
      "description": "AppHubService represents the App Hub Service.",
      "type": "object"
    },
    "Connection": {
      "id": "Connection",
      "properties": {
        "httpConfig": {
          "description": "Optional. Configuration for connections to an HTTP service provider.",
          "$ref": "GenericHTTPEndpointConfig"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A system-assigned unique identifier for the Connection."
        },
        "cryptoKeyConfig": {
          "description": "Optional. The crypto key configuration. This field is used by the Customer-Managed Encryption Keys (CMEK) feature.",
          "$ref": "CryptoKeyConfig"
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "readOnly": true
        },
        "gitlabEnterpriseConfig": {
          "description": "Configuration for connections to an instance of GitLab Enterprise.",
          "$ref": "GitLabEnterpriseConfig"
        },
        "name": {
          "description": "Identifier. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "type": "object"
        },
        "bitbucketDataCenterConfig": {
          "description": "Configuration for connections to an instance of Bitbucket Data Center.",
          "$ref": "BitbucketDataCenterConfig"
        },
        "disabled": {
          "description": "Optional. If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled.",
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Update timestamp"
        },
        "deleteTime": {
          "description": "Output only. [Output only] Delete timestamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "gitlabConfig": {
          "description": "Configuration for connections to gitlab.com.",
          "$ref": "GitLabConfig"
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Create timestamp",
          "type": "string",
          "readOnly": true
        },
        "gitProxyConfig": {
          "description": "Optional. Configuration for the git proxy feature. Enabling the git proxy allows clients to perform git operations on the repositories linked in the connection. [Learn more](https://docs.cloud.google.com/developer-connect/docs/configure-git-proxy).",
          "$ref": "GitProxyConfig"
        },
        "bitbucketCloudConfig": {
          "description": "Configuration for connections to an instance of Bitbucket Clouds.",
          "$ref": "BitbucketCloudConfig"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs",
          "type": "object"
        },
        "githubConfig": {
          "description": "Configuration for connections to github.com.",
          "$ref": "GitHubConfig"
        },
        "installationState": {
          "$ref": "InstallationState",
          "readOnly": true,
          "description": "Output only. Installation state of the Connection."
        },
        "githubEnterpriseConfig": {
          "$ref": "GitHubEnterpriseConfig",
          "description": "Configuration for connections to an instance of GitHub Enterprise."
        },
        "secureSourceManagerInstanceConfig": {
          "$ref": "SecureSourceManagerInstanceConfig",
          "description": "Configuration for connections to an instance of Secure Source Manager."
        }
      },
      "description": "Message describing Connection object",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "BitbucketDataCenterConfig": {
      "description": "Configuration for connections to an instance of Bitbucket Data Center.",
      "id": "BitbucketDataCenterConfig",
      "type": "object",
      "properties": {
        "webhookSecretSecretVersion": {
          "type": "string",
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks."
        },
        "serverVersion": {
          "type": "string",
          "description": "Output only. Version of the Bitbucket Data Center server running on the `host_uri`.",
          "readOnly": true
        },
        "hostUri": {
          "description": "Required. The URI of the Bitbucket Data Center host this connection is for.",
          "type": "string"
        },
        "authorizerCredential": {
          "description": "Required. An http access token with the minimum `Repository admin` scope access. This is needed to create webhooks. It's recommended to use a system account to generate these credentials.",
          "$ref": "UserCredential"
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a Bitbucket Data Center instance. This should only be set if the Bitbucket Data Center is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the Bitbucket Data Center will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        },
        "sslCaCertificate": {
          "type": "string",
          "description": "Optional. SSL certificate authority to trust when making requests to Bitbucket Data Center."
        },
        "readAuthorizerCredential": {
          "description": "Required. An http access token with the minimum `Repository read` access. It's recommended to use a system account to generate the credentials.",
          "$ref": "UserCredential"
        }
      }
    },
    "ProcessGitLabEnterpriseWebhookRequest": {
      "type": "object",
      "description": "RPC request object accepted by the ProcessGitLabEnterpriseWebhook RPC method.",
      "id": "ProcessGitLabEnterpriseWebhookRequest",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      }
    },
    "GitHubEnterpriseConfig": {
      "description": "Configuration for connections to an instance of GitHub Enterprise.",
      "properties": {
        "installationUri": {
          "description": "Output only. The URI to navigate to in order to manage the installation associated with this GitHubEnterpriseConfig.",
          "type": "string",
          "readOnly": true
        },
        "serverVersion": {
          "readOnly": true,
          "description": "Output only. GitHub Enterprise version installed at the host_uri.",
          "type": "string"
        },
        "appInstallationId": {
          "description": "Optional. ID of the installation of the GitHub App.",
          "type": "string",
          "format": "int64"
        },
        "appSlug": {
          "description": "Output only. The URL-friendly name of the GitHub App.",
          "type": "string",
          "readOnly": true
        },
        "sslCaCertificate": {
          "description": "Optional. SSL certificate to use for requests to GitHub Enterprise.",
          "type": "string"
        },
        "privateKeySecretVersion": {
          "description": "Optional. SecretManager resource containing the private key of the GitHub App, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitHub Enterprise server. This should only be set if the GitHub Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitHub Enterprise server will be made over the public internet."
        },
        "organization": {
          "description": "Optional. Immutable. GitHub Enterprise organization in which the GitHub App is created.",
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "description": "Optional. SecretManager resource containing the webhook secret of the GitHub App, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "appId": {
          "type": "string",
          "description": "Optional. ID of the GitHub App created from the manifest.",
          "format": "int64"
        },
        "hostUri": {
          "description": "Required. The URI of the GitHub Enterprise host this connection is for.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GitHubEnterpriseConfig"
    },
    "FetchReadTokenResponse": {
      "properties": {
        "expirationTime": {
          "type": "string",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "format": "google-datetime"
        },
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "gitUsername": {
          "type": "string",
          "description": "The git_username to specify when making a git clone with the token. For example, for GitHub GitRepositoryLinks, this would be \"x-access-token\""
        }
      },
      "id": "FetchReadTokenResponse",
      "description": "Message for responding to get read token.",
      "type": "object"
    },
    "ProcessGitLabWebhookRequest": {
      "properties": {
        "body": {
          "$ref": "HttpBody",
          "description": "Required. HTTP request body."
        }
      },
      "type": "object",
      "description": "RPC request object accepted by the ProcessGitLabWebhook RPC method.",
      "id": "ProcessGitLabWebhookRequest"
    },
    "BearerTokenAuthentication": {
      "properties": {
        "tokenSecretVersion": {
          "type": "string",
          "description": "Optional. The token SecretManager secret version to authenticate as."
        }
      },
      "description": "Bearer token authentication with a token.",
      "type": "object",
      "id": "BearerTokenAuthentication"
    },
    "UserRepository": {
      "description": "A user repository that can be linked to the account connector. Consists of the repo name and the git proxy URL to forward requests to this repo.",
      "properties": {
        "displayName": {
          "readOnly": true,
          "description": "Output only. The user friendly repo name (e.g., myuser/myrepo)",
          "type": "string"
        },
        "cloneUri": {
          "description": "Output only. The git clone URL of the repo. For example: https://github.com/myuser/myrepo.git",
          "type": "string",
          "readOnly": true
        },
        "gitProxyUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Git proxy URL for this repo. For example: https://us-west1-git.developerconnect.dev/a/my-proj/my-ac/myuser/myrepo.git. Populated only when `proxy_config.enabled` is set to `true` in the Account Connector. This URL is used by other Google services that integrate with Developer Connect."
        }
      },
      "type": "object",
      "id": "UserRepository"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "SecureSourceManagerInstanceConfig": {
      "id": "SecureSourceManagerInstanceConfig",
      "properties": {
        "instance": {
          "type": "string",
          "description": "Required. Immutable. Secure Source Manager instance resource, formatted as `projects/*/locations/*/instances/*`"
        }
      },
      "description": "Configuration for connections to Secure Source Manager instance",
      "type": "object"
    },
    "User": {
      "properties": {
        "name": {
          "description": "Identifier. Resource name of the user, in the format `projects/*/locations/*/accountConnectors/*/users/*`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Developer Connect automatically converts user identity to some human readable description, e.g., email address.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the user was created."
        },
        "lastTokenRequestTime": {
          "description": "Output only. The timestamp when the token was last requested.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "User",
      "description": "User represents a user connected to the service providers through a AccountConnector.",
      "type": "object"
    },
    "ProcessBitbucketCloudWebhookRequest": {
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      },
      "description": "RPC request object accepted by the ProcessBitbucketCloudWebhook RPC method.",
      "id": "ProcessBitbucketCloudWebhookRequest",
      "type": "object"
    },
    "GitProxyConfig": {
      "id": "GitProxyConfig",
      "description": "Configuration for proxies. For legacy reasons, this message is named `GitProxyConfig`, but it includes settings for both Git and HTTP proxy.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Setting this to true allows the git proxy to be used for performing git operations on the repositories linked in the connection."
        },
        "httpProxyBaseUri": {
          "type": "string",
          "description": "Output only. The base URI for the HTTP proxy endpoint. Has the format `https://{generatedID}-c-h-{shortRegion}.developerconnect.dev` Populated only when enabled is set to true. This endpoint is used by other Google services that integrate with Developer Connect.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "FinishOAuthResponse": {
      "id": "FinishOAuthResponse",
      "description": "Message for responding to finishing an OAuth flow.",
      "properties": {
        "exchangeError": {
          "description": "The error resulted from exchanging OAuth tokens from the service provider.",
          "$ref": "ExchangeError"
        }
      },
      "type": "object"
    },
    "GoogleArtifactAnalysis": {
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. The project id of the project where the provenance is stored."
        }
      },
      "description": "Google Artifact Analysis configurations.",
      "id": "GoogleArtifactAnalysis"
    },
    "UserCredential": {
      "properties": {
        "username": {
          "type": "string",
          "description": "Output only. The username associated with this token.",
          "readOnly": true
        },
        "userTokenSecretVersion": {
          "description": "Required. A SecretManager resource containing the user token that authorizes the Developer Connect connection. Format: `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        }
      },
      "id": "UserCredential",
      "description": "Represents a personal access token that authorized the Connection, and associated metadata.",
      "type": "object"
    },
    "FetchReadWriteTokenRequest": {
      "description": "Message for fetching SCM read/write token.",
      "type": "object",
      "properties": {},
      "id": "FetchReadWriteTokenRequest"
    },
    "FetchAccessTokenResponse": {
      "id": "FetchAccessTokenResponse",
      "description": "Message for responding to getting an OAuth access token.",
      "type": "object",
      "properties": {
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The scopes of the access token."
        },
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring."
        },
        "exchangeError": {
          "description": "The error resulted from exchanging OAuth tokens from the service provider.",
          "$ref": "ExchangeError"
        }
      }
    },
    "FetchGitHubInstallationsResponse": {
      "description": "Response of fetching github installations.",
      "properties": {
        "installations": {
          "type": "array",
          "description": "List of installations available to the OAuth user (for github.com) or all the installations (for GitHub enterprise).",
          "items": {
            "$ref": "Installation"
          }
        }
      },
      "id": "FetchGitHubInstallationsResponse",
      "type": "object"
    },
    "ArtifactConfig": {
      "description": "The artifact config of the artifact that is deployed.",
      "type": "object",
      "properties": {
        "googleArtifactRegistry": {
          "description": "Optional. Set if the artifact is stored in Artifact registry.",
          "$ref": "GoogleArtifactRegistry"
        },
        "googleArtifactAnalysis": {
          "description": "Optional. Set if the artifact metadata is stored in Artifact analysis.",
          "$ref": "GoogleArtifactAnalysis"
        },
        "uri": {
          "description": "Required. Immutable. The URI of the artifact that is deployed. e.g. `us-docker.pkg.dev/my-project/my-repo/image`. The URI does not include the tag / digest because it captures a lineage of artifacts.",
          "type": "string"
        }
      },
      "id": "ArtifactConfig"
    },
    "ProcessBitbucketDataCenterWebhookRequest": {
      "type": "object",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      },
      "description": "RPC request object accepted by the ProcessBitbucketDataCenterWebhook RPC method.",
      "id": "ProcessBitbucketDataCenterWebhookRequest"
    },
    "CustomOAuthConfig": {
      "id": "CustomOAuthConfig",
      "type": "object",
      "description": "Message for a customized OAuth config.",
      "properties": {
        "clientSecret": {
          "description": "Required. Input only. The client secret of the OAuth application. It will be provided as plain text, but encrypted and stored in developer connect. As INPUT_ONLY field, it will not be included in the output.",
          "type": "string"
        },
        "hostUri": {
          "description": "Required. The host URI of the OAuth application.",
          "type": "string"
        },
        "serverVersion": {
          "description": "Output only. SCM server version installed at the host URI.",
          "type": "string",
          "readOnly": true
        },
        "sslCaCertificate": {
          "type": "string",
          "description": "Optional. SSL certificate to use for requests to a private service."
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to connect to a private service."
        },
        "clientId": {
          "type": "string",
          "description": "Required. The client ID of the OAuth application."
        },
        "authUri": {
          "type": "string",
          "description": "Required. Immutable. The OAuth2 authorization server URL."
        },
        "scmProvider": {
          "description": "Required. The type of the SCM provider.",
          "enumDescriptions": [
            "The SCM is not specified or BYO Account Connector is not an SCM.",
            "BYO Account Connector is an instance of GitHub Enterprise.",
            "BYO Account Connector is an instance of GitLab Enterprise.",
            "BYO Account Connector is an instance of Bitbucket Data Center."
          ],
          "type": "string",
          "enum": [
            "SCM_PROVIDER_UNKNOWN",
            "GITHUB_ENTERPRISE",
            "GITLAB_ENTERPRISE",
            "BITBUCKET_DATA_CENTER"
          ]
        },
        "tokenUri": {
          "type": "string",
          "description": "Required. Immutable. The OAuth2 token request URL."
        },
        "pkceDisabled": {
          "description": "Optional. Disable PKCE for this OAuth config. PKCE is enabled by default.",
          "type": "boolean"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The scopes to be requested during OAuth."
        }
      }
    },
    "GoogleArtifactRegistry": {
      "description": "Google Artifact Registry configurations.",
      "properties": {
        "projectId": {
          "description": "Required. The host project of Artifact Registry.",
          "type": "string"
        },
        "artifactRegistryPackage": {
          "description": "Required. Immutable. The name of the artifact registry package.",
          "type": "string"
        }
      },
      "id": "GoogleArtifactRegistry",
      "type": "object"
    },
    "ListGitRepositoryLinksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gitRepositoryLinks": {
          "items": {
            "$ref": "GitRepositoryLink"
          },
          "type": "array",
          "description": "The list of GitRepositoryLinks"
        }
      },
      "id": "ListGitRepositoryLinksResponse",
      "type": "object",
      "description": "Message for response to listing GitRepositoryLinks"
    },
    "ListConnectionsResponse": {
      "id": "ListConnectionsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "connections": {
          "items": {
            "$ref": "Connection"
          },
          "type": "array",
          "description": "The list of Connection"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message for response to listing Connections"
    },
    "ListUsersResponse": {
      "id": "ListUsersResponse",
      "description": "Message for response to listing Users",
      "properties": {
        "users": {
          "items": {
            "$ref": "User"
          },
          "type": "array",
          "description": "The list of Users"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object"
    },
    "McpToolVisibility": {
      "description": "Profile describing the visibility restriction of an MCP tool. Key: \"google.com/tool.profiles/visibility.restriction\"",
      "id": "McpToolVisibility",
      "properties": {
        "visibilityRestriction": {
          "description": "The visibility restriction labels for the tool itself (e.g., \"PRODUCER_DEFINED_PREVIEW\"). Multiple labels can be provided as a comma-separated string.",
          "type": "string"
        },
        "fieldVisibility": {
          "items": {
            "$ref": "FieldVisibility"
          },
          "type": "array",
          "description": "A list of field-level visibility restrictions."
        },
        "visibilityEnforcementStrategy": {
          "type": "string",
          "enum": [
            "VISIBILITY_ENFORCEMENT_STRATEGY_UNSPECIFIED",
            "COMBINE",
            "OVERRIDE"
          ],
          "description": "The strategy used to enforce visibility restrictions. DO NOT USE. This field is not yet implemented.",
          "enumDescriptions": [
            "Default. Equivalent to COMBINE.",
            "The principal must satisfy both API-level tool-level) visibility restrictions.",
            "Bypasses the API-level visibility restrictions check; access is determined solely by the tool-level visibility restrictions."
          ]
        }
      },
      "type": "object"
    },
    "ListInsightsConfigsResponse": {
      "description": "Request for response to listing InsightsConfigs.",
      "type": "object",
      "id": "ListInsightsConfigsResponse",
      "properties": {
        "insightsConfigs": {
          "description": "The list of InsightsConfigs.",
          "items": {
            "$ref": "InsightsConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GitHubConfig": {
      "id": "GitHubConfig",
      "properties": {
        "appInstallationId": {
          "format": "int64",
          "description": "Optional. GitHub App installation id.",
          "type": "string"
        },
        "authorizerCredential": {
          "$ref": "OAuthCredential",
          "description": "Optional. OAuth credential of the account that authorized the GitHub App. It is recommended to use a robot account instead of a human user account. The OAuth token must be tied to the GitHub App of this config."
        },
        "installationUri": {
          "description": "Output only. The URI to navigate to in order to manage the installation associated with this GitHubConfig.",
          "type": "string",
          "readOnly": true
        },
        "githubApp": {
          "enumDescriptions": [
            "GitHub App not specified.",
            "The Developer Connect GitHub Application.",
            "The Firebase GitHub Application.",
            "The Gemini Code Assist Application.",
            "The Dataform GitHub Application."
          ],
          "description": "Required. Immutable. The GitHub Application that was installed to the GitHub user or organization.",
          "type": "string",
          "enum": [
            "GIT_HUB_APP_UNSPECIFIED",
            "DEVELOPER_CONNECT",
            "FIREBASE",
            "GEMINI_CODE_ASSIST",
            "DATAFORM"
          ]
        }
      },
      "type": "object",
      "description": "Configuration for connections to github.com."
    },
    "GitLabEnterpriseConfig": {
      "description": "Configuration for connections to an instance of GitLab Enterprise.",
      "properties": {
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitLab Enterprise instance. This should only be set if the GitLab Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitLab Enterprise server will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        },
        "serverVersion": {
          "readOnly": true,
          "description": "Output only. Version of the GitLab Enterprise server running on the `host_uri`.",
          "type": "string"
        },
        "sslCaCertificate": {
          "description": "Optional. SSL Certificate Authority certificate to use for requests to GitLab Enterprise instance.",
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "type": "string",
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab project, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks."
        },
        "hostUri": {
          "type": "string",
          "description": "Required. The URI of the GitLab Enterprise host this connection is for."
        },
        "authorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `api` scope access and a minimum role of `maintainer`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        },
        "readAuthorizerCredential": {
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access and a minimum role of `reporter`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to.",
          "$ref": "UserCredential"
        }
      },
      "id": "GitLabEnterpriseConfig",
      "type": "object"
    },
    "AppHubWorkload": {
      "properties": {
        "criticality": {
          "readOnly": true,
          "description": "Output only. The criticality of the App Hub Workload.",
          "type": "string"
        },
        "workload": {
          "description": "Required. Output only. Immutable. The name of the App Hub Workload. Format: `projects/{project}/locations/{location}/applications/{application}/workloads/{workload}`.",
          "readOnly": true,
          "type": "string"
        },
        "environment": {
          "readOnly": true,
          "description": "Output only. The environment of the App Hub Workload.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "AppHubWorkload represents the App Hub Workload.",
      "id": "AppHubWorkload"
    },
    "FetchGitRefsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "refNames": {
          "description": "Name of the refs fetched.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response for fetching git refs.",
      "id": "FetchGitRefsResponse"
    },
    "LinkableGitRepository": {
      "type": "object",
      "id": "LinkableGitRepository",
      "description": "LinkableGitRepository represents a git repository that can be linked to a connection.",
      "properties": {
        "cloneUri": {
          "type": "string",
          "description": "The clone uri of the repository."
        }
      }
    },
    "Projects": {
      "description": "Projects represents the projects to track with the InsightsConfig.",
      "id": "Projects",
      "properties": {
        "projectIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The project IDs. Format: {project}",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ArtifactDeployment": {
      "id": "ArtifactDeployment",
      "properties": {
        "undeployTime": {
          "description": "Output only. The time at which the deployment was undeployed, all artifacts are considered undeployed once this time is set.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "deployTime": {
          "description": "Output only. The time at which the deployment was deployed.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "sourceCommitUris": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The source commits at which this artifact was built. Extracted from provenance."
        },
        "id": {
          "description": "Output only. Unique identifier of `ArtifactDeployment`.",
          "readOnly": true,
          "type": "string"
        },
        "sourceCodeUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The URIs of the source code, if available. For Cloud Run source deploy for example: `gs://my-bucket/my-folder/1234567890.abcde-fdbe.zip#1234567890`",
          "readOnly": true
        },
        "artifactReference": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The artifact that is deployed."
        },
        "artifactAlias": {
          "type": "string",
          "description": "Output only. The artifact alias in the deployment spec, with Tag/SHA. e.g. us-docker.pkg.dev/my-project/my-repo/image:1.0.0",
          "readOnly": true
        },
        "containerStatusSummary": {
          "description": "Output only. The summary of container status of the artifact deployment. Format as `ContainerStatusState-Reason : restartCount` e.g. \"Waiting-ImagePullBackOff : 3\"",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The ArtifactDeployment resource represents the deployment of the artifact within the InsightsConfig resource.",
      "type": "object"
    },
    "CryptoKeyConfig": {
      "type": "object",
      "description": "The crypto key configuration. This field is used by the Customer-managed encryption keys (CMEK) feature.",
      "properties": {
        "keyReference": {
          "description": "Required. The name of the key which is used to encrypt/decrypt customer data. For key in Cloud KMS, the key should be in the format of `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "type": "string"
        }
      },
      "id": "CryptoKeyConfig"
    },
    "FetchUserRepositoriesResponse": {
      "id": "FetchUserRepositoriesResponse",
      "type": "object",
      "description": "Response message for FetchUserRepositories.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "userRepos": {
          "type": "array",
          "description": "The repositories that the user can access with this account connector.",
          "items": {
            "$ref": "UserRepository"
          }
        }
      }
    },
    "FetchAccessTokenRequest": {
      "id": "FetchAccessTokenRequest",
      "description": "Message for fetching an OAuth access token.",
      "type": "object",
      "properties": {}
    },
    "OAuthCredential": {
      "properties": {
        "username": {
          "type": "string",
          "description": "Output only. The username associated with this token.",
          "readOnly": true
        },
        "oauthTokenSecretVersion": {
          "description": "Required. A SecretManager resource containing the OAuth token that authorizes the connection. Format: `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        }
      },
      "id": "OAuthCredential",
      "type": "object",
      "description": "Represents an OAuth token of the account that authorized the Connection, and associated metadata."
    },
    "Installation": {
      "description": "Represents an installation of the GitHub App.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the GitHub user or organization that owns this installation.",
          "type": "string"
        },
        "type": {
          "description": "Either \"user\" or \"organization\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of the installation in GitHub.",
          "format": "int64"
        }
      },
      "id": "Installation"
    },
    "ProviderOAuthConfig": {
      "properties": {
        "systemProviderId": {
          "type": "string",
          "enum": [
            "SYSTEM_PROVIDER_UNSPECIFIED",
            "GITHUB",
            "GITLAB",
            "GOOGLE",
            "SENTRY",
            "ROVO",
            "NEW_RELIC",
            "DATASTAX",
            "DYNATRACE",
            "BITBUCKET_CLOUD"
          ],
          "enumDescriptions": [
            "No system provider specified.",
            "GitHub provider. Scopes can be found at https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes",
            "GitLab provider. Scopes can be found at https://docs.gitlab.com/user/profile/personal_access_tokens/#personal-access-token-scopes",
            "Google provider. Recommended scopes: \"https://www.googleapis.com/auth/drive.readonly\", \"https://www.googleapis.com/auth/documents.readonly\"",
            "Sentry provider. Scopes can be found at https://docs.sentry.io/api/permissions/",
            "Rovo provider. Must select the \"rovo\" scope.",
            "New Relic provider. No scopes are allowed.",
            "Datastax provider. No scopes are allowed.",
            "Dynatrace provider.",
            "Bitbucket Cloud provider."
          ],
          "description": "Optional. Immutable. Developer Connect provided OAuth."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. User selected scopes to apply to the Oauth config In the event of changing scopes, user records under AccountConnector will be deleted and users will re-auth again."
        }
      },
      "type": "object",
      "id": "ProviderOAuthConfig",
      "description": "ProviderOAuthConfig is the OAuth config for a provider."
    },
    "ExchangeError": {
      "properties": {
        "description": {
          "description": "https://datatracker.ietf.org/doc/html/rfc6749#section-5.2 - error_description",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "https://datatracker.ietf.org/doc/html/rfc6749#section-5.2 - error"
        }
      },
      "type": "object",
      "description": "Message for representing an error from exchanging OAuth tokens.",
      "id": "ExchangeError"
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    }
  },
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://developerconnect.asia-east1.rep.googleapis.com/"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://developerconnect.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.asia-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://developerconnect.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast1",
      "endpointUrl": "https://developerconnect.australia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://developerconnect.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://developerconnect.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "location": "europe-west10",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.europe-west10.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://developerconnect.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://developerconnect.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://developerconnect.europe-west8.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://developerconnect.europe-west9.rep.googleapis.com/"
    },
    {
      "location": "me-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.me-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://developerconnect.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://developerconnect.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "location": "southamerica-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.southamerica-east1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.southamerica-west1.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://developerconnect.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.us-central2.rep.googleapis.com/"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://developerconnect.us-east4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://developerconnect.us-east5.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://developerconnect.us-east7.rep.googleapis.com/"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.us-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://developerconnect.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://developerconnect.us-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://developerconnect.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://developerconnect.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    }
  ],
  "ownerDomain": "google.com",
  "version_module": true,
  "description": "Connect third-party source code management to Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "servicePath": "",
  "documentationLink": "http://cloud.google.com/developer-connect/docs/overview",
  "revision": "20260914",
  "title": "Developer Connect API",
  "id": "developerconnect:v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "connections": {
              "resources": {
                "gitRepositoryLinks": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. Parent value for ListGitRepositoryLinksRequest"
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return."
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filtering results"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/gitRepositoryLinks",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists GitRepositoryLinks in a given project, location, and connection.",
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.list",
                      "response": {
                        "$ref": "ListGitRepositoryLinksResponse"
                      }
                    },
                    "fetchGitRefs": {
                      "response": {
                        "$ref": "FetchGitRefsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. Number of results to return in the list. Default to 20.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "gitRepositoryLink": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of GitRepositoryLink in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`."
                        },
                        "refType": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. Type of refs to fetch.",
                          "enum": [
                            "REF_TYPE_UNSPECIFIED",
                            "TAG",
                            "BRANCH"
                          ],
                          "enumDescriptions": [
                            "No type specified.",
                            "To fetch tags.",
                            "To fetch branches."
                          ]
                        },
                        "pageToken": {
                          "description": "Optional. Page start.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:fetchGitRefs",
                      "parameterOrder": [
                        "gitRepositoryLink"
                      ],
                      "description": "Fetch the list of branches or tags for a given repository.",
                      "httpMethod": "GET",
                      "path": "v1/{+gitRepositoryLink}:fetchGitRefs",
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.fetchGitRefs"
                    },
                    "processGitLabWebhook": {
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.processGitLabWebhook",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "description": "ProcessGitLabWebhook is called by the GitLab.com for notifying events.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The GitRepositoryLink resource where the webhook will be received. Format: `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "ProcessGitLabWebhookRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:processGitLabWebhook",
                      "path": "v1/{+name}:processGitLabWebhook",
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "processGitLabEnterpriseWebhook": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ProcessGitLabEnterpriseWebhookRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/gitRepositoryLinks/{gitRepositoryLinksId}:processGitLabEnterpriseWebhook",
                      "parameters": {
                        "name": {
                          "description": "Required. The GitRepositoryLink resource where the webhook will be received. Format: `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/gitRepositoryLinks/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "ProcessGitLabEnterpriseWebhook is called by the external GitLab Enterprise instances for notifying events.",
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.processGitLabEnterpriseWebhook",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:processGitLabEnterpriseWebhook",
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "fetchReadToken": {
                      "response": {
                        "$ref": "FetchReadTokenResponse"
                      },
                      "description": "Fetches read token of a given gitRepositoryLink.",
                      "id": "developerconnect.projects.locations.connections.gitRepositoryLinks.fetchReadToken",
                      "parameterOrder": [
                        "gitRepositoryLink"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
[...]
