{
  "protocol": "rest",
  "documentationLink": "https://docs.cloud.google.com/developer-device-platform/device-run",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "title": "Device Run API",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "description": "The Device Run API allows management, scheduling, and execution of automated sessions and workloads across device catalogs.",
  "discoveryVersion": "v1",
  "version": "v1alpha",
  "servicePath": "",
  "name": "devicerun",
  "id": "devicerun:v1alpha",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "path": "v1alpha/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "id": "devicerun.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "get": {
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "id": "devicerun.projects.locations.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}"
            }
          },
          "resources": {
            "sessions": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions",
                  "description": "Lists previously created automation sessions. Sessions may still be in-progress, or may have finished successfully, or unsuccessfully.",
                  "parameters": {
                    "view": {
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Include basic view of the session but not the full contents. Only the uid/display_name/status/result of the session and its jobs/executions will be included. This is the default value (for GetSession).",
                        "Include everything."
                      ],
                      "type": "string",
                      "description": "Optional. The view of the sessions to return. If not set, the `BASIC` view will be returned.",
                      "location": "query",
                      "enum": [
                        "SESSION_VIEW_UNSPECIFIED",
                        "SESSION_VIEW_BASIC",
                        "SESSION_VIEW_FULL"
                      ]
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of sessions to return. The server may return fewer items than this value. If unspecified, at most 500 sessions will be returned. The maximum value is 1000, values above will be coerced to 1000.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent value for ListSessionsRequest The parent of the collection of sessions. Format: `projects/{project}/locations/{location}`.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The raw filter text to constrain the results."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The order to sort results by. Supported values: `name`, `name desc`, `create_time`, `create_time desc`. Values must use the snake_case field name; `createTime` is not accepted. Ordering by `create_time` is not supported when listing across all locations (`locations/-`). If unspecified, results are returned in an unspecified order."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListSessions` call. Provide this to receive the subsequent page. When paginating, all other parameters provided to `ListSessions` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/sessions",
                  "response": {
                    "$ref": "ListSessionsResponse"
                  },
                  "id": "devicerun.projects.locations.sessions.list"
                },
                "batchGet": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions:batchGet",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "devicerun.projects.locations.sessions.batchGet",
                  "response": {
                    "$ref": "BatchGetSessionsResponse"
                  },
                  "description": "Retrieves multiple automation sessions in a single batch request. Sessions are returned in the same order as the `names` in the request. If any of the requested sessions does not exist, the whole request fails with `NOT_FOUND` and no sessions are returned. When calling this method over HTTP/REST with a large number of `names`, the request URL may exceed the maximum URL length (about 16 KB) and be rejected. In that case, send a `POST` request to the same URL with the `X-HTTP-Method-Override: GET` header and pass the request parameters in a JSON (`application/json`) or form-encoded (`application/x-www-form-urlencoded`) body. See https://cloud.google.com/apis/docs/http#long_request_urls.",
                  "parameters": {
                    "names": {
                      "location": "query",
                      "description": "Required. The names of the sessions to retrieve. A maximum of 500 sessions can be retrieved in a batch. Format: `projects/{project}/locations/{location}/sessions/{session}`.",
                      "repeated": true,
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource shared by all sessions being retrieved. Format: `projects/{project}/locations/{location}`. The `parent` field in the `BatchGetSessionsRequest` message must match the `parent` of all `Session` resource names in `names`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/sessions:batchGet"
                },
                "get": {
                  "response": {
                    "$ref": "Session"
                  },
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the session. Format: `projects/{project}/locations/{location}/sessions/{session}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$"
                    },
                    "view": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The view of the session to return. If not set, the default BASIC view will be returned.",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Include basic view of the session but not the full contents. Only the uid/display_name/status/result of the session and its jobs/executions will be included. This is the default value (for GetSession).",
                        "Include everything."
                      ],
                      "enum": [
                        "SESSION_VIEW_UNSPECIFIED",
                        "SESSION_VIEW_BASIC",
                        "SESSION_VIEW_FULL"
                      ]
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}",
                  "id": "devicerun.projects.locations.sessions.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns information about a previously created automation session."
                },
                "delete": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a session. This RPC returns immediately and deletion proceeds asynchronously. It will cancel the session at first if it is still running.",
                  "id": "devicerun.projects.locations.sessions.delete",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. A unique identifier for this request. This request is only idempotent if a `request_id` is provided, i.e. if a request with the same `request_id` is received, then the previous result will be returned. The server will guarantee that for at least 60 minutes after the first request. The value must be a UUID (e.g., 123e4567-e89b-12d3-a456-426655440000). See github.com/google/uuid for more details.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the session. Format: `projects/{project}/locations/{location}/sessions/{session}`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1alpha/{+name}"
                },
                "create": {
                  "path": "v1alpha/{+parent}/sessions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. This request is only idempotent if a `request_id` is provided, i.e. if a request with the same `request_id` is received, then the previous result will be returned. The server will guarantee that for at least 60 minutes after the first request. The value must be a UUID (e.g., 123e4567-e89b-12d3-a456-426655440000). See github.com/google/uuid for more details.",
                      "location": "query"
                    },
                    "sessionId": {
                      "description": "Optional. The ID to use for the session, which will become the final component of the resource name. If not provided, the server will generate a value for this field. When provided, this value must be between 4 and 63 characters, and match the following regex: ^a-z{2,61}[a-z0-9]$.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource where this session will be created. Format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "id": "devicerun.projects.locations.sessions.create",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "Session"
                  },
                  "httpMethod": "POST",
                  "description": "Starts an automation session with the specified configuration. This method returns a long-running `Operation`, awaiting the completion of all jobs in the session.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions"
                },
                "cancel": {
                  "path": "v1alpha/{+name}:cancel",
                  "response": {
                    "$ref": "CancelSessionResponse"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CancelSessionRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}:cancel",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the session. Format: \"projects/{project}/locations/{location}/sessions/{session}\"",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "devicerun.projects.locations.sessions.cancel",
                  "description": "Cancels an in-progress automation session. This RPC returns immediately and cancellation proceeds asynchronously. If the session is already finished, this RPC will have no effect."
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "devicerun.projects.locations.operations.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1alpha/{+name}"
                },
                "cancel": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "devicerun.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1alpha/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "devicerun.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "name": {
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size."
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "devicerun.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "devices": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "devicerun.projects.locations.devices.list",
                  "path": "v1alpha/{+parent}/devices",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/devices",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of devices to return. The server may return fewer items than this value.",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent of the collection of devices. Format: `projects/{project}/locations/global`.",
                      "type": "string",
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An AIP-160 (https://google.aip.dev/160) filter expression restricting which devices are returned. An empty filter returns all devices. Filtering is supported over the `Device` fields, including nested fields via dot-path. Enum and string values must be double-quoted. Examples: * `platform = \"ANDROID\"` * `platform = \"ANDROID\" AND os_version = \"34\"` * `hardware_type = \"PHYSICAL\" AND form_factor = \"PHONE\"` * `android_details.build_type = \"userdebug\"` * `availability.capacity = \"HIGH\"`"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListDevices` call. Provide this to receive the subsequent page. When paginating, all other parameters provided to `ListDevices` must match the call that provided the page token."
                    }
                  },
                  "response": {
                    "$ref": "CatalogListDevicesResponse"
                  },
                  "description": "Lists all devices."
                },
                "get": {
                  "response": {
                    "$ref": "CatalogDevice"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/devices/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the device. Format: `projects/{project}/locations/global/devices/{device}`."
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "id": "devicerun.projects.locations.devices.get",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/devices/{devicesId}",
                  "description": "Returns information about a specific device.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "softwareVersions": {
              "methods": {
                "list": {
                  "path": "v1alpha/{+parent}/softwareVersions",
                  "httpMethod": "GET",
                  "id": "devicerun.projects.locations.softwareVersions.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "CatalogListSoftwareVersionsResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/softwareVersions",
                  "description": "Lists all software versions.",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of software versions to return. The server may return fewer items than this value.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListSoftwareVersions` call. Provide this to receive the subsequent page. When paginating, all other parameters provided to `ListSoftwareVersions` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent of the collection of software versions. Format: `projects/{project}/locations/global`."
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An AIP-160 (https://google.aip.dev/160) filter expression restricting which software versions are returned. An empty filter returns all software versions. Filtering is supported over the `SoftwareVersion` fields, including nested fields via dot-path. Enum and string values must be double-quoted. Examples: * `software_type = \"ANDROIDX_TEST_ORCHESTRATOR\"` * `software_type = \"ANDROIDX_TEST_ORCHESTRATOR\" AND is_default = true` * `lifecycle.state = \"ACTIVE\"` * `version = \"1.4.1\"`",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the software version. Format: `projects/{project}/locations/global/softwareVersions/{software_version}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/softwareVersions/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "devicerun.projects.locations.softwareVersions.get",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "CatalogSoftwareVersion"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/softwareVersions/{softwareVersionsId}",
                  "description": "Returns information about a specific software version.",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://devicerun.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://devicerun.mtls.googleapis.com/",
  "ownerName": "Google",
  "revision": "20261006",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://devicerun.googleapis.com/",
  "ownerDomain": "google.com",
  "version_module": true,
  "schemas": {
    "CatalogAutomationSupport": {
      "properties": {},
      "type": "object",
      "description": "Per-product metadata for the Automation (DeviceRun) product.",
      "id": "CatalogAutomationSupport"
    },
    "AndroidLogcatDeviceAction": {
      "properties": {},
      "description": "Collects logcat output from the device. The output will be written to a file named `logcat.txt` in the execution output directory.",
      "id": "AndroidLogcatDeviceAction",
      "type": "object"
    },
    "AndroidPushFilesDeviceActionFileConfig": {
      "properties": {
        "destinationPath": {
          "type": "string",
          "description": "Required. The destination path on the device."
        },
        "sourceFile": {
          "description": "Required. The file to be pushed to the device.",
          "$ref": "InputFile"
        }
      },
      "description": "The configuration of pushing a file to the device.",
      "id": "AndroidPushFilesDeviceActionFileConfig",
      "type": "object"
    },
    "AndroidPushFilesDeviceAction": {
      "id": "AndroidPushFilesDeviceAction",
      "description": "Pushes files to the device at the beginning of the run. Files are overwritten if a file with the same path already exists on the device, if device permissions allow.",
      "type": "object",
      "properties": {
        "fileConfigs": {
          "description": "Required. Configs of pushing files to the device. Limits: - A maximum of 50 files are allowed.",
          "type": "array",
          "items": {
            "$ref": "AndroidPushFilesDeviceActionFileConfig"
          }
        }
      }
    },
    "CatalogSupportedProduct": {
      "id": "CatalogSupportedProduct",
      "type": "object",
      "description": "Declares that a device supports a given Device Cloud product, with optional per-product metadata. Discriminated by which product-specific message is set; adding a new product = new oneof arm + new per-product message.",
      "properties": {
        "deviceStreaming": {
          "description": "Output only. Represents DeviceStreaming, which is interactive remote device streaming.",
          "readOnly": true,
          "$ref": "CatalogDeviceStreamingSupport"
        },
        "automation": {
          "description": "Output only. Represents Automation, which is DeviceRun-backed automated test execution.",
          "$ref": "CatalogAutomationSupport",
          "readOnly": true
        }
      }
    },
    "Session": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the session. Format: `projects/{project}/locations/{location}/sessions/{session}`."
        },
        "sessionConfig": {
          "description": "Required. Configuration used to create the session.",
          "$ref": "SessionConfig"
        },
        "sessionReport": {
          "readOnly": true,
          "$ref": "SessionReport",
          "description": "Output only. The runtime information and result report of the session."
        }
      },
      "type": "object",
      "id": "Session",
      "description": "A session resource in the AutomationSession API. At a high level, `Session` describes the configuration of one or multiple jobs, the state transitions it goes through, and the results."
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "progressMessages": {
          "description": "Output only. Human-readable, detailed descriptions of the session/job/execution's progress. For example: \"Provisioning a device\", \"Starting Test\". Each message should contain only one line of text. During the course of execution new data may be appended to the end of progress_messages.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "statusType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown status type.",
            "The session/job/execution is pending, not started yet.",
            "The session/job/execution is running.",
            "The session/job/execution is finished.",
            "The session/job/execution is suspended due to quota issues."
          ],
          "description": "Output only. The status type of the session/job/execution.",
          "enum": [
            "STATUS_TYPE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "SUSPENDED"
          ]
        }
      },
      "description": "The status of a session/job/execution."
    },
    "CatalogListDevicesResponse": {
      "description": "Response including listed devices.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to receive the next page of devices. This will be absent if the end of the response list has been reached."
        },
        "devices": {
          "type": "array",
          "description": "The list of devices.",
          "items": {
            "$ref": "CatalogDevice"
          }
        }
      },
      "id": "CatalogListDevicesResponse",
      "type": "object"
    },
    "SessionConfigSessionOutputFileDirectoryConfig": {
      "id": "SessionConfigSessionOutputFileDirectoryConfig",
      "description": "Config to control session output file directory.",
      "type": "object",
      "properties": {
        "gcsOutputDirectory": {
          "$ref": "GcsPath",
          "description": "The Google Cloud Storage path of the output directory (e.g. `gs://my-bucket/output`). The bucket must exist. If the bucket is located in another project or uses fine-grained access controls, ensure the Device Run Service Agent of the project (`service-@gcp-sa-devicerun.iam.gserviceaccount.com`) is granted access to the bucket (such as `roles/storage.objectUser`)."
        },
        "flatDirectoryStructure": {
          "type": "boolean",
          "description": "Optional. Whether to write output files directly under the output directory instead of nesting them under service-generated subdirectories. By default (`false`), output files are stored under `////`. When `true`, the session ID subdirectory is never appended, and the job display name subdirectory is appended only when the session has more than one job. Output files are therefore stored under: - `//` for a single-job session. - `///` for a multi-job session. Set this to `true` when the output directory is already unique per session (for example, when a CI system generates it), to avoid redundant nesting."
        }
      }
    },
    "CatalogDeviceStreamingSupport": {
      "type": "object",
      "description": "Per-product metadata for the DeviceStreaming product.",
      "properties": {
        "minimumAndroidStudioVersion": {
          "readOnly": true,
          "description": "Output only. Specifies the minimum Android Studio version that supports this device. Optional; only set when the device is known to work only at or above a certain Android Studio version. Expected format \"major.minor.micro.patch\", e.g. \"5921.22.2211.8881706\".",
          "type": "string"
        }
      },
      "id": "CatalogDeviceStreamingSupport"
    },
    "IosPushFilesDeviceActionFileConfig": {
      "description": "The configuration of pushing a file to the iOS device.",
      "type": "object",
      "id": "IosPushFilesDeviceActionFileConfig",
      "properties": {
        "sourceFile": {
          "$ref": "InputFile",
          "description": "Required. The file to be pushed."
        },
        "bundleId": {
          "description": "Required. The bundle ID of the application sandbox.",
          "type": "string"
        },
        "destinationPath": {
          "description": "Required. The destination path relative to the app sandbox, e.g. \"/Documents/file.txt\".",
          "type": "string"
        }
      }
    },
    "CatalogXcodeDetails": {
      "type": "object",
      "description": "Xcode-specific attributes.",
      "id": "CatalogXcodeDetails",
      "properties": {
        "supportedIosVersions": {
          "readOnly": true,
          "description": "Output only. Lists the iOS versions this Xcode can run tests against, e.g. \"16.6\". This is a property of the toolchain, so it says nothing about whether a device on that iOS version is available; list the `Device` collection to find out.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SessionReport": {
      "id": "SessionReport",
      "type": "object",
      "description": "The runtime information and result report of a session.",
      "properties": {
        "status": {
          "description": "Output only. The status of the session.",
          "readOnly": true,
          "$ref": "Status"
        },
        "id": {
          "description": "Output only. The unique identifier of the session.",
          "readOnly": true,
          "type": "string"
        },
        "result": {
          "$ref": "Result",
          "description": "Output only. The result of the session.",
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. The start time of the session.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The end time of the session.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "jobReports": {
          "items": {
            "$ref": "JobReport"
          },
          "type": "array",
          "description": "Output only. Reports of the jobs in the session.",
          "readOnly": true
        }
      }
    },
    "AndroidInstrumentationTest": {
      "id": "AndroidInstrumentationTest",
      "properties": {
        "enableCodeCoverage": {
          "type": "boolean",
          "description": "Optional. Whether to enable code coverage collection for the test. A coverage file `coverage.ec` will be uploaded to the results folder. For this to work, your classes have to be instrumented offline (build time) by EMMA/JaCoCo."
        },
        "uniformSharding": {
          "description": "Optional. Uniform sharding strategy to split the job into multiple shards with equal number of test methods.",
          "$ref": "AndroidInstrumentationTestUniformSharding"
        },
        "smartSharding": {
          "$ref": "AndroidInstrumentationTestSmartSharding",
          "description": "Optional. Smart sharding strategy to split the job into multiple shards based on the test methods and their execution time."
        },
        "additionalTestOptions": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Additional test options to pass to the test runner. Passed to `am instrument` command as `-e` options, which will be passed to the instrumentation test runner using its `onCreate()` method. Formats supported in test_targets are not allowed to be used here. Limits: - Maximum number of entries: 32. - Maximum key size: 64 bytes (UTF-8). - Maximum value size: 1024 bytes (UTF-8).",
          "type": "object"
        },
        "orchestratorVersion": {
          "description": "Optional. The version of the Android Test Orchestrator to use for the test. The available orchestrator versions can be retrieved from the catalog service. If set to \"auto\", the default orchestrator is used. If not set, no orchestrator is used.",
          "type": "string"
        },
        "testInstallable": {
          "$ref": "AndroidInstallable",
          "description": "Required. The test package to install and run the test."
        },
        "testRunnerClass": {
          "type": "string",
          "description": "Optional. Full class name of the test runner class. The class must be `androidx.test.runner.AndroidJUnitRunner` or a subclass of it. The default value is determined by examining the application's manifest. If multiple instrumentations are found, the first one in the manifest will be used."
        },
        "instrumentationTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The timeout of the instrumentation test. Default value: 5 min. Range: [1 min, 3 hours]."
        },
        "testTargets": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of test targets or target filters to run. Each target must be fully qualified with the package name or class name, in one of these formats: - `package package_name` - `notPackage com.package.to.skip` - `class package_name.class_name` - `class package_name.class_name#method_name` - `notClass com.foo.ClassToSkip` - `notClass com.foo.ClassName#testMethodToSkip` - `annotation com.foo.AnnotationToRun` - `notAnnotation com.foo.AnnotationToSkip` - `size [small|medium|large]` Formats like `testfile` or `notTestfile` won't be supported. If empty, all targets in the module will be run. Limits: - Maximum number of entries: 1024.",
          "type": "array"
        }
      },
      "description": "The configuration of an Android instrumentation test. See https://developer.android.com/training/testing/instrumented-tests for more information on Android instrumentation tests.",
      "type": "object"
    },
    "AndroidOrientationDeviceAction": {
      "properties": {
        "orientation": {
          "type": "string",
          "description": "Required. The orientation to set the device to. One of `portrait` or `landscape`."
        }
      },
      "description": "Sets the orientation of the device.",
      "id": "AndroidOrientationDeviceAction",
      "type": "object"
    },
    "CancelSessionResponse": {
      "description": "Response of the cancel session request.",
      "id": "CancelSessionResponse",
      "type": "object",
      "properties": {
        "cancelResult": {
          "enum": [
            "CANCEL_RESULT_UNSPECIFIED",
            "SESSION_MARKED_AS_CANCELLED",
            "SESSION_FINISHED"
          ],
          "type": "string",
          "description": "The result of the request.",
          "enumDescriptions": [
            "Unspecified cancel result.",
            "The session is marked as cancelled, but has not finished yet.",
            "The session is finished, either by itself or by the cancel request."
          ]
        }
      }
    },
    "Location": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "JobReport": {
      "type": "object",
      "description": "The runtime information and result report of a job.",
      "properties": {
        "outputFiles": {
          "items": {
            "$ref": "OutputFile"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The output files of the job."
        },
        "id": {
          "description": "Output only. The unique identifier of the job.",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "$ref": "Status",
          "description": "Output only. The status of the job.",
          "readOnly": true
        },
        "result": {
          "description": "Output only. The result of the job.",
          "readOnly": true,
          "$ref": "Result"
        },
        "executionReports": {
          "items": {
            "$ref": "ExecutionReport"
          },
          "readOnly": true,
          "description": "Output only. Reports of the execution attempts of the job.",
          "type": "array"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The end time of the job.",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The original labels provided by the user during job creation."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display_name set by users in the JobConfig."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The start time of the job.",
          "readOnly": true
        },
        "warnings": {
          "description": "Output only. Non-fatal warnings collected during the job.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Warning"
          }
        }
      },
      "id": "JobReport"
    },
    "CatalogAndroidxTestOrchestratorDetails": {
      "properties": {},
      "type": "object",
      "id": "CatalogAndroidxTestOrchestratorDetails",
      "description": "AndroidX Test Orchestrator-specific attributes. Reserved for future orchestrator-only fields."
    },
    "SessionConfigSessionNotificationConfig": {
      "type": "object",
      "id": "SessionConfigSessionNotificationConfig",
      "properties": {
        "pubsubTopic": {
          "type": "array",
          "description": "Optional. The Pub/Sub topics to which session events are published. Format: `projects/{project}/topics/{topic}`. See https://cloud.google.com/pubsub/docs/admin#topic_and_subscription_name_restrictions",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Config to control session notification."
    },
    "IssueSummary": {
      "description": "Describes the summary of an issue (error or warning) with structured details.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The issue classification based on responsibility.",
          "enumDescriptions": [
            "Unspecified issue type. This value is unused.",
            "Platform infrastructure or operational execution environment failure.",
            "Customer test script failure, malformed APK, or bad user configuration."
          ],
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "INFRA",
            "CUSTOMER"
          ]
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable explanation of the issue in English."
        },
        "reason": {
          "readOnly": true,
          "description": "Output only. The reason of the issue. This is a constant value that identifies the proximate cause of the issue. This should be at most 63 characters and match a regular expression of `A-Z*[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        }
      },
      "id": "IssueSummary"
    },
    "BatchGetSessionsResponse": {
      "id": "BatchGetSessionsResponse",
      "properties": {
        "sessions": {
          "items": {
            "$ref": "Session"
          },
          "description": "The requested sessions, in the same order as the `names` in the request.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response including the requested sessions."
    },
    "AndroidInstallable": {
      "description": "An Android Installable represents the file(s) for installing an Android package on a device. This can be an APK, an Android App Bundle (AAB), or an APK Set.",
      "id": "AndroidInstallable",
      "properties": {
        "files": {
          "description": "Required. Files that make up the package. Supported formats are distinguished by their file extension: - APK: One or more files with extension `.apk`. - App Bundle: A single file with extension `.aab`. - APK Set: A single file with extension `.apks`.",
          "items": {
            "$ref": "InputFile"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "OutputFile": {
      "properties": {
        "gcsOutputFile": {
          "description": "An output file in Google Cloud Storage.",
          "$ref": "GcsPath"
        }
      },
      "type": "object",
      "id": "OutputFile",
      "description": "Output file."
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object"
    },
    "CatalogListSoftwareVersionsResponse": {
      "properties": {
        "softwareVersions": {
          "type": "array",
          "items": {
            "$ref": "CatalogSoftwareVersion"
          },
          "description": "The list of software versions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to receive the next page of software versions. This will be absent if the end of the response list has been reached."
        }
      },
      "description": "Response including listed software versions.",
      "type": "object",
      "id": "CatalogListSoftwareVersionsResponse"
    },
    "JobConfig": {
      "description": "The configuration of a job.",
      "type": "object",
      "id": "JobConfig",
      "properties": {
        "settings": {
          "$ref": "JobSettings",
          "description": "Optional. Job settings."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-settable, human-readable name for the job. If set, it must be unique within the session. If not set, the display name will default to `job-`, where `` is the 0-based index of the job in the session formatted as three digits (e.g., job-000, job-001, ...). Maximum size is 63 bytes when encoded as UTF-8. If set, must match regex: `^A-Za-z0-9*$`."
        },
        "action": {
          "$ref": "JobAction",
          "description": "Required. Job action."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined metadata for tracking or categorization. These labels do not affect job execution and are surfaced in the JobReport. Limits: - Maximum number of entries: 16. - Maximum key size: 32 bytes (UTF-8). - Maximum value size: 1024 bytes (UTF-8).",
          "type": "object"
        },
        "allocationConfig": {
          "$ref": "AllocationConfig",
          "description": "Required. Allocation config."
        }
      }
    },
    "AndroidNativeBinary": {
      "properties": {
        "androidNativeBinary": {
          "description": "Required. The file path of the Android native binary.",
          "$ref": "InputFile"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Arguments for running the binary file. The flags will be appended to the command line that invokes the binary. Limits: - Maximum number of entries: 64 - Maximum entry size: 1024 bytes (UTF-8)"
        },
        "envVars": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map of environment variables to set for the binary process. The keys are the variable names and the values are the variable values. Limits: - Maximum number of entries: 32 - Maximum key size: 64 bytes (UTF-8) - Key regex: `a-zA-Z_*` - Maximum value size: 1024 bytes (UTF-8)"
        },
        "executionTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The timeout of the execution. Default value: 5 min. Range: [1 min, 3 hours]."
        }
      },
      "type": "object",
      "id": "AndroidNativeBinary",
      "description": "The configuration of an Android native binary execution."
    },
    "ResultCause": {
      "id": "ResultCause",
      "description": "Describes the cause of the non-passed result occurred during the execution.",
      "properties": {
        "summary": {
          "description": "Output only. Structured cause detail.",
          "$ref": "IssueSummary",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "IosPullFilesDeviceAction": {
      "id": "IosPullFilesDeviceAction",
      "description": "Pulls directories and files from the iOS device sandbox at the end of the run.",
      "type": "object",
      "properties": {
        "paths": {
          "items": {
            "$ref": "IosPullFilesDeviceActionPathConfig"
          },
          "description": "Required. Absolute directory or file paths to pull from the device. Limits: - A maximum of 10 paths are allowed.",
          "type": "array"
        }
      }
    },
    "ListSessionsResponse": {
      "id": "ListSessionsResponse",
      "type": "object",
      "description": "Response including listed sessions.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to receive the next page of sessions. This will be absent if the end of the response list has been reached."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Sessions that could not be reached.",
          "type": "array"
        },
        "sessions": {
          "items": {
            "$ref": "Session"
          },
          "type": "array",
          "description": "The list of sessions."
        }
      }
    },
    "CatalogLifecycle": {
      "description": "Catalog resource lifecycle: maturity state plus key lifecycle dates.",
      "type": "object",
      "id": "CatalogLifecycle",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PREVIEW",
            "ACTIVE",
            "DEPRECATED"
          ],
          "description": "Output only. Specifies the current maturity state of the resource.",
          "readOnly": true,
          "enumDescriptions": [
            "State not specified.",
            "Early access. This resource may have reduced stability and availability.",
            "Generally available.",
            "Still usable, but scheduled for removal."
          ],
          "type": "string"
        },
        "removalDate": {
          "readOnly": true,
          "description": "Output only. Specifies the date the resource is scheduled to be removed from the catalog. Only set when `state == DEPRECATED`.",
          "$ref": "Date"
        }
      }
    },
    "DeviceConfig": {
      "type": "object",
      "id": "DeviceConfig",
      "properties": {
        "actions": {
          "items": {
            "$ref": "DeviceAction"
          },
          "type": "array",
          "description": "Optional. The actions to be performed on the device. Actions will be executed in the order they are specified in the list. Each action type can at most have 1 instance in the list."
        },
        "requirement": {
          "$ref": "DeviceRequirement",
          "description": "Required. The requirement of the device."
        }
      },
      "description": "The configuration of a run on a device."
    },
    "AndroidInstallPackagesDeviceAction": {
      "id": "AndroidInstallPackagesDeviceAction",
      "properties": {
        "preTargetAppInstallables": {
          "type": "array",
          "items": {
            "$ref": "AndroidInstallable"
          },
          "description": "Optional. The Android packages to install on the device before `target_app` (if specified) is installed. The installation will be performed in the order specified."
        },
        "installables": {
          "deprecated": true,
          "items": {
            "$ref": "AndroidInstallable"
          },
          "type": "array",
          "description": "Optional. Deprecated: use `pre_target_app_installables`, `target_app` and `post_target_app_installables` instead. The Android packages to install on the device. The installation will be performed in the order specified, before the installables of all other fields."
        },
        "postTargetAppInstallables": {
          "description": "Optional. The Android packages to install on the device after `target_app` (if specified) is installed. The installation will be performed in the order specified.",
          "type": "array",
          "items": {
            "$ref": "AndroidInstallable"
          }
        },
        "targetApp": {
          "$ref": "AndroidInstallable",
          "description": "Optional. The primary Android package to install, serving as the target package for subsequent actions and as the installation ordering anchor. Whether this package is treated as the application under test depends on the job action: - Actions that require an explicit target package (such as performance metrics collection, or accessibility scans) use this package to identify the application to inspect or drive. - Actions that discover or manage targets independently (such as Android instrumentation tests, where target packages are defined in the test runner manifest) treat this field primarily as an installation order anchor between pre- and post-installables. Optional. If omitted, all packages in `pre_target_app_installables` and `post_target_app_installables` are installed without a designated target package."
        }
      },
      "type": "object",
      "description": "Installs Android packages on the device. At least one installable is specified when using this device action. Limits: - A maximum of 20 installables in total are allowed. - A maximum of 100 files are allowed in total across all installables."
    },
    "IosPullFilesDeviceActionPathConfig": {
      "type": "object",
      "properties": {
        "bundleId": {
          "type": "string",
          "description": "Required. The bundle ID of the application sandbox."
        },
        "devicePath": {
          "type": "string",
          "description": "Required. The device path relative to the app sandbox, e.g. \"/Documents/output/\"."
        }
      },
      "id": "IosPullFilesDeviceActionPathConfig",
      "description": "The configuration of pulling a file or directory from the iOS device."
    },
    "IosXcTest": {
      "description": "The configuration of an iOS XCTest.",
      "type": "object",
      "properties": {
        "testsZip": {
          "description": "Required. The .zip containing the .xctestrun file and the contents of the DerivedData/Build/Products directory.",
          "$ref": "InputFile"
        },
        "xcTestTimeout": {
          "description": "Optional. The timeout of the test. Default value: 5 min. Range: [1 min, 3 hours].",
          "type": "string",
          "format": "google-duration"
        },
        "xcodeVersion": {
          "type": "string",
          "description": "Optional. The Xcode version that should be used for the test. If not set, a system-default Xcode version is used. The available Xcode versions can be retrieved from the catalog service."
        },
        "xctestrun": {
          "description": "Optional. An .xctestrun file that will override the .xctestrun file in the tests zip.",
          "$ref": "InputFile"
        }
      },
      "id": "IosXcTest"
    },
    "SessionConfig": {
      "type": "object",
      "properties": {
        "jobConfigs": {
          "items": {
            "$ref": "JobConfig"
          },
          "type": "array",
          "description": "Required. Configs of the jobs in the session."
        },
        "notificationConfig": {
          "$ref": "SessionConfigSessionNotificationConfig",
          "description": "Optional. Notification config for the session."
        },
        "displayName": {
          "description": "Optional. User-settable, human-readable name for the session. Maximum size is 63 bytes when encoded as UTF-8. If set, must match regex: `^A-Za-z0-9*$`.",
          "type": "string"
        },
        "outputDirectoryConfig": {
          "$ref": "SessionConfigSessionOutputFileDirectoryConfig",
          "description": "Required. Output file directory config for the session."
        }
      },
      "id": "SessionConfig",
      "description": "SessionConfig is used to create a session."
    },
    "Result": {
      "properties": {
        "resultType": {
          "enumDescriptions": [
            "Unknown result type.",
            "Finished and passed.",
            "Finished but failed. It is usually caused by the user config, problematic test cases, or real bugs of their apps/platform under test.",
            "Unclassified error, can be caused by user config/tests/AUT, infra, or the tools that the infra is depending on.",
            "Test timeout.",
            "Test is aborted by user."
          ],
          "enum": [
            "RESULT_TYPE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "ERROR",
            "TIMED_OUT",
            "CANCELLED"
          ],
          "readOnly": true,
          "description": "Output only. The result type of the session/job/execution.",
          "type": "string"
        },
        "cause": {
          "readOnly": true,
          "description": "Output only. Detailed result cause diagnostics. Set if type is not PASSED.",
          "$ref": "ResultCause"
        }
      },
      "type": "object",
      "description": "The result of a session/job/execution.",
      "id": "Result"
    },
    "AndroidMockLocationDeviceAction": {
      "properties": {
        "location": {
          "description": "Required. The mock location to set on the device.",
          "$ref": "LatLng"
        }
      },
      "description": "Mocks the location of the Android device.",
      "id": "AndroidMockLocationDeviceAction",
      "type": "object"
    },
    "ExecutionReport": {
      "type": "object",
      "description": "The runtime information and result report of a single on-device execution attempt.",
      "id": "ExecutionReport",
      "properties": {
        "endTime": {
          "readOnly": true,
          "description": "Output only. The end time of the execution.",
          "format": "google-datetime",
          "type": "string"
        },
        "result": {
          "readOnly": true,
          "$ref": "Result",
          "description": "Output only. The result of the execution."
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display_name set by users in the ExecutionConfig."
        },
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "Warning"
          },
          "readOnly": true,
          "description": "Output only. Non-fatal warnings collected during the execution."
        },
        "status": {
          "description": "Output only. The status of the execution.",
          "readOnly": true,
          "$ref": "Status"
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The start time of the execution.",
          "format": "google-datetime"
        },
        "outputFiles": {
          "type": "array",
          "items": {
            "$ref": "OutputFile"
          },
          "readOnly": true,
          "description": "Output only. The output files of the execution."
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the execution.",
          "type": "string"
        }
      }
    },
    "RetrySettings": {
      "type": "object",
      "properties": {
        "flakyTestRetryStrategy": {
          "description": "Optional. The default retry strategy. Allows an Execution to retry on test failures and infrastructure errors.",
          "$ref": "RetrySettingsFlakyTestRetryStrategy"
        }
      },
      "description": "Retry settings.",
      "id": "RetrySettings"
    },
    "CatalogAndroidDeviceDetails": {
      "id": "CatalogAndroidDeviceDetails",
      "description": "Android-specific device attributes.",
      "properties": {
        "supportedAbis": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Lists ABIs supported by the device (android.os.Build.SUPPORTED_ABIS), most preferred first, e.g. \"arm64-v8a\".",
          "readOnly": true
        },
        "buildType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Mirrors the AOSP `ro.build.type` property, e.g. \"user\", \"userdebug\", \"eng\". Empty if unknown."
        }
      },
      "type": "object"
    },
    "IosSwitchLocaleDeviceAction": {
      "description": "Switches the locale (language and region) of the iOS application.",
      "type": "object",
      "id": "IosSwitchLocaleDeviceAction",
      "properties": {
        "localeCode": {
          "description": "Required. The locale (language and region) to switch the app to. The format is `language-region` or `language`, e.g. \"en-US\", \"zh-CN\", \"ja\", etc.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      }
    },
    "JobAction": {
      "id": "JobAction",
      "properties": {
        "androidNativeBinary": {
          "$ref": "AndroidNativeBinary",
          "description": "Android native binary execution."
        },
        "androidInstrumentationTest": {
          "description": "Android instrumentation test.",
          "$ref": "AndroidInstrumentationTest"
        },
        "iosXcTest": {
          "$ref": "IosXcTest",
          "description": "iOS XCTest."
        }
      },
      "type": "object",
      "description": "The action to be performed in a job."
    },
    "AndroidDumpsysDeviceAction": {
      "properties": {
        "collectOnPass": {
          "type": "boolean",
          "description": "Optional. Whether to deliver the dumpsys when the test passes. If false, the dumpsys is skipped on pass to save time (default behavior). If true, the dumpsys is always delivered."
        }
      },
      "description": "Captures dumpsys output from the device. The output will be written to a file named `dumpsys.log` in the execution output directory.",
      "type": "object",
      "id": "AndroidDumpsysDeviceAction"
    },
    "IosRecordVideoDeviceAction": {
      "description": "Records a video of the iOS device screen during the run. The video will be written to a file named `video.mp4` in the execution output directory.",
      "properties": {
        "discardOnPass": {
          "type": "boolean",
          "description": "Optional. Whether to discard the video if the test passes. If not specified, the default is false (always keep the video)."
        }
      },
      "id": "IosRecordVideoDeviceAction",
      "type": "object"
    },
    "Date": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Date"
    },
    "CatalogScreenMetrics": {
      "type": "object",
      "id": "CatalogScreenMetrics",
      "description": "Screen measurements of a device.",
      "properties": {
        "heightPx": {
          "description": "Output only. Height in pixels.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "densityDpi": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Pixel density in dots per inch (dpi).",
          "type": "integer"
        },
        "widthPx": {
          "format": "int32",
          "description": "Output only. Width in pixels.",
          "readOnly": true,
          "type": "integer"
        }
      }
    },
    "Warning": {
      "description": "Non-fatal operational anomaly, lint observation, or execution insight.",
      "type": "object",
      "properties": {
        "summary": {
          "$ref": "IssueSummary",
          "readOnly": true,
          "description": "Output only. Detailed warning summary."
        }
      },
      "id": "Warning"
    },
    "CatalogDevice": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Identifies the device resource. Format: `projects/{project}/locations/{location}/devices/{device}`. The {device} segment is an opaque, stable string. Clients must not parse it to derive or assume device-specific details."
        },
        "hardwareType": {
          "description": "Output only. Indicates whether the device is physical or virtual.",
          "enum": [
            "HARDWARE_TYPE_UNSPECIFIED",
            "PHYSICAL",
            "VIRTUAL"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Hardware type not specified.",
            "Physical hardware device.",
            "Virtual device (emulator / simulator)."
          ]
        },
        "availability": {
          "readOnly": true,
          "description": "Output only. Reports the current fleet availability for this device configuration.",
          "$ref": "CatalogDeviceAvailability"
        },
        "androidDetails": {
          "readOnly": true,
          "$ref": "CatalogAndroidDeviceDetails",
          "description": "Output only. Contains Android-specific attributes (set when platform == ANDROID)."
        },
        "accessDeniedReasons": {
          "items": {
            "enumDescriptions": [
              "Reason not specified.",
              "The device is hosted in a partner lab whose end user license agreement the project has not accepted."
            ],
            "enum": [
              "ACCESS_DENIED_REASON_UNSPECIFIED",
              "EULA_NOT_ACCEPTED"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Reasons for access denial. This model is accessible/usable if this list is empty, otherwise the model is viewable only.",
          "readOnly": true
        },
        "osVersion": {
          "description": "Output only. Specifies the OS version, e.g. \"30\" (Android API level) or \"17.4\" (iOS).",
          "type": "string",
          "readOnly": true
        },
        "modelCode": {
          "description": "Output only. Provides a human-readable model identifier for this device, independent of OS version. May be empty. Platform-dependent: * Android physical: hardware codename (android.os.Build.DEVICE), e.g. \"shiba\". * Android virtual: AVD model identifier, e.g. \"MediumPhone.arm\". * iOS: model identifier, e.g. \"iphone14pro\".",
          "type": "string",
          "readOnly": true
        },
        "formFactor": {
          "description": "Output only. Specifies the form factor of the device.",
          "enumDescriptions": [
            "Form factor not specified.",
            "Phone.",
            "Tablet.",
            "Wearable (e.g. watch).",
            "TV."
          ],
          "readOnly": true,
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE",
            "TV"
          ],
          "type": "string"
        },
        "primaryScreen": {
          "description": "Output only. Measurements of the primary device screen. Informational only. Unset for devices without a screen (e.g. some wearables).",
          "readOnly": true,
          "$ref": "CatalogScreenMetrics"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Provides a human-readable display name, e.g. \"Pixel 5\".",
          "type": "string"
        },
        "iosDetails": {
          "readOnly": true,
          "description": "Output only. Contains iOS-specific attributes (set when platform == IOS).",
          "$ref": "CatalogIosDeviceDetails"
        },
        "platform": {
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "ANDROID",
            "IOS"
          ],
          "description": "Output only. Specifies the platform of the device.",
          "readOnly": true,
          "enumDescriptions": [
            "Platform not specified.",
            "Android.",
            "iOS."
          ],
          "type": "string"
        },
        "labInfo": {
          "$ref": "CatalogLabInfo",
          "description": "Output only. The lab hosting this device.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Additional information. Informational only. May change over the lifecycle of a device.",
          "type": "object",
          "readOnly": true
        },
        "supportedProducts": {
          "readOnly": true,
          "description": "Output only. Products/Services supported by this device.",
          "type": "array",
          "items": {
            "$ref": "CatalogSupportedProduct"
          }
        },
        "manufacturer": {
          "type": "string",
          "description": "Output only. Specifies the hardware manufacturer of the device.",
          "readOnly": true
        },
        "lifecycle": {
          "$ref": "CatalogLifecycle",
          "description": "Output only. The device lifecycle (maturity stage and removal date).",
          "readOnly": true
        }
      },
      "id": "CatalogDevice",
      "description": "A single routable device configuration in the catalog."
    },
    "IosInstallPackagesDeviceAction": {
      "id": "IosInstallPackagesDeviceAction",
      "type": "object",
      "description": "Installs iOS packages on the device.",
      "properties": {
        "ipas": {
          "type": "array",
          "description": "Required. Additional iOS packages (IPAs) to install on the device. Limits: - A maximum of 20 IPAs are allowed.",
          "items": {
            "$ref": "InputFile"
          }
        }
      }
    },
    "AndroidSwitchLocaleDeviceAction": {
      "description": "Switches the locale (language and region) of the device.",
      "type": "object",
      "properties": {
        "localeCode": {
          "type": "string",
          "description": "Required. The locale (language and region) to switch the device to. The format is `language-region`, e.g. \"en-US\", \"zh-CN\", etc. The typical language value is a two or three-letter language code as defined in ISO639. The typical region value is a two-letter ISO 3166 code or a three-digit UN M.49 area code."
        }
      },
      "id": "AndroidSwitchLocaleDeviceAction"
    },
    "AndroidInstrumentationTestUniformSharding": {
      "properties": {
        "shardCount": {
          "format": "int32",
          "description": "Required. The total number of shards to create. This must always be a positive number that is no greater than the total number of test cases. Limits: - For physical devices, the number of shards must be <= 20. - For virtual devices, the number of shards must be <= 200.",
          "type": "integer"
        }
      },
      "id": "AndroidInstrumentationTestUniformSharding",
      "type": "object",
      "description": "Uniformly shards test cases given a total number of shards. It will be translated to `-e numShard` and `-e shardIndex` AndroidJUnitRunner arguments. With uniform sharding enabled, specifying either of these sharding arguments via `environment_variables` is invalid. Based on the sharding mechanism AndroidJUnitRunner uses, there is no guarantee that test cases will be distributed uniformly across all shards."
    },
    "CancelSessionRequest": {
      "id": "CancelSessionRequest",
      "description": "Request to cancel a session.",
      "properties": {},
      "type": "object"
    },
    "AndroidPullFilesDeviceAction": {
      "description": "Pulls directories and files from the device at the end of the run. Files will be copied to the '/artifacts' directory, with the absolute path structure preserved. Note that: 1. A clean device is provided for the run. 2. Any existing files in the output directory may be overwritten. 3. Pulling files is best effort. Will skip files if they don't exist on the device.",
      "properties": {
        "paths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Absolute directory or file paths to pull from the device. Limits: - A maximum of 10 paths are allowed."
        }
      },
      "id": "AndroidPullFilesDeviceAction",
      "type": "object"
    },
    "LatLng": {
      "id": "LatLng",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "properties": {
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
        }
      },
      "type": "object"
    },
    "RetrySettingsFlakyTestRetryStrategy": {
      "description": "Default retry strategy. It will retry on test failures for up to flaky_test_attempts (including the initial run). It also retries on infra issues for up to 2 attempts (including the initial run). So in total, an execution can run up to flaky_test_attempts * 2 times in the worst case.",
      "type": "object",
      "properties": {
        "flakyTestAttempts": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The total attempts for flaky tests, including the initial run. Default value: 1 (no retry). Range: [1, 5]."
        },
        "testReductionMode": {
          "enum": [
            "TEST_REDUCTION_MODE_UNSPECIFIED",
            "NO_REDUCTION",
            "REDUCE_TO_FAILED_TEST_CASES"
          ],
          "description": "Optional. The mode of test reduction for retry. If the test runner doesn't support the specified test reduction mode, the request will be rejected with an `INVALID_ARGUMENT` error.",
          "type": "string",
          "enumDescriptions": [
            "The test reduction mode is unspecified. Will default to `NO_REDUCTION`.",
            "Runs the same set of test cases of the previous attempt.",
            "Only runs the failed test cases of the previous attempt. For Android Instrumentation tests, this reduction mode only works when the tests in the test APK use one of the following test runners: - `androidx.test.ext.junit.runners.AndroidJUnit4` - `org.junit.runners.JUnit4` - `com.google.testing.junit.testparameterinjector.TestParameterInjector` - `org.junit.runners.Parameterized` Otherwise, its behavior will fall back to `NO_REDUCTION`."
          ]
        },
        "parallelRetry": {
          "description": "Optional. Whether to retry the test failures in parallel. By default, the test is retried sequentially. If true, when the initial attempt fails, (flaky_test_attempts - 1) attempts will be triggered at the same time to run in parallel.",
          "type": "boolean"
        }
      },
      "id": "RetrySettingsFlakyTestRetryStrategy"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "IosPushFilesDeviceAction": {
      "properties": {
        "fileConfigs": {
          "description": "Required. Configs of pushing files to the device. Limits: - A maximum of 50 files are allowed.",
          "items": {
            "$ref": "IosPushFilesDeviceActionFileConfig"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "IosPushFilesDeviceAction",
      "description": "Pushes files to the iOS device sandbox at the beginning of the run."
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "OperationMetadata"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "GoogleLongrunningCancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "GcsPath": {
      "id": "GcsPath",
      "properties": {
        "path": {
          "description": "Required. The Google Cloud Storage path of the file or directory. Format: `gs:///`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A path to a file or directory in Google Cloud Storage."
    },
    "CatalogLabInfo": {
      "id": "CatalogLabInfo",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Output only. The Unicode country/region code (CLDR) of the lab where the device is hosted, e.g. \"US\" for United States, \"KR\" for South Korea. Empty when the hosting region is not published.",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Display name of the lab where the device is hosted. If empty, the device is hosted in a Google owned lab.",
          "type": "string"
        }
      },
      "description": "The lab hosting a device.",
      "type": "object"
    },
    "CatalogDeviceAvailability": {
      "description": "Fleet availability for a device configuration.",
      "properties": {
        "capacity": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The value of device capacity is unknown or unset.",
            "No online devices of this configuration. These devices are unavailable either temporarily or permanently and should not be requested. If the device is also marked as deprecated, this state is very likely permanent.",
            "Devices that are low in capacity (the lab has a small number of these devices). These devices may be used if users need to test on this specific device model and version. Please note that due to low capacity, the tests may take much longer to finish, especially if a large number of tests are invoked at once. These devices are not suitable for test sharding.",
            "Devices that are medium in capacity (the lab has a decent number of these devices, though not as many as high capacity devices). These devices are suitable for fewer test runs (e.g. fewer than 100 tests) and only for low shard counts (e.g. less than 10 shards).",
            "Devices that are high in capacity (the lab has a large number of these devices). These devices are generally suggested for running a large number of simultaneous tests (e.g. more than 100 tests). Please note that high capacity devices do not guarantee short wait times due to several factors: 1. Traffic (how heavily they are used at any given moment). 2. High capacity devices are prioritized for certain usages, which may cause user tests to be slower than selecting other similar device types."
          ],
          "description": "Output only. Specifies the current capacity bucket for this device configuration. Represents the total number of online devices (idle or in use).",
          "enum": [
            "CAPACITY_UNSPECIFIED",
            "CAPACITY_NONE",
            "CAPACITY_LOW",
            "CAPACITY_MEDIUM",
            "CAPACITY_HIGH"
          ]
        },
        "available": {
          "type": "string",
          "enumDescriptions": [
            "The value of availability is unknown or unset.",
            "No devices of this configuration are currently idle. A request can still be made, but it will queue until a device frees up. Expect longer wait times, and avoid requesting many devices at once (e.g. high shard counts).",
            "A small number of devices are currently idle. Suitable for a few concurrent requests. Larger bursts (e.g. many shards) may queue until devices free up.",
            "A moderate number of devices are currently idle. Suitable for a moderate number of concurrent requests. Very large bursts may still queue.",
            "Many devices are currently idle. Suitable for a large number of concurrent requests with little to no queueing at the moment of observation."
          ],
[...]
