{
  "version": "v1alpha",
  "protocol": "rest",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "id": "devicerun:v1alpha",
  "ownerDomain": "google.com",
  "schemas": {
    "Session": {
      "type": "object",
      "id": "Session",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the session. Format: `projects/{project}/locations/{location}/sessions/{session}`.",
          "type": "string"
        },
        "sessionConfig": {
          "description": "Required. Configuration used to create the session.",
          "$ref": "SessionConfig"
        },
        "sessionReport": {
          "readOnly": true,
          "$ref": "SessionReport",
          "description": "Output only. The runtime information and result report of the session."
        }
      },
      "description": "A session resource in the AutomationSession API. At a high level, `Session` describes the configuration of one or multiple jobs, the state transitions it goes through, and the results."
    },
    "SessionReport": {
      "id": "SessionReport",
      "description": "The runtime information and result report of a session.",
      "properties": {
        "startTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The start time of the session.",
          "format": "google-datetime"
        },
        "id": {
          "description": "Output only. The unique identifier of the session.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "description": "Output only. The status of the session.",
          "$ref": "Status",
          "readOnly": true
        },
        "jobReports": {
          "readOnly": true,
          "description": "Output only. Reports of the jobs in the session.",
          "type": "array",
          "items": {
            "$ref": "JobReport"
          }
        },
        "endTime": {
          "description": "Output only. The end time of the session.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "result": {
          "description": "Output only. The result of the session.",
          "$ref": "Result",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Date": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      },
      "id": "Date"
    },
    "CatalogScreenMetrics": {
      "id": "CatalogScreenMetrics",
      "type": "object",
      "properties": {
        "heightPx": {
          "format": "int32",
          "description": "Output only. Height in pixels.",
          "type": "integer",
          "readOnly": true
        },
        "widthPx": {
          "format": "int32",
          "description": "Output only. Width in pixels.",
          "type": "integer",
          "readOnly": true
        },
        "densityDpi": {
          "format": "int32",
          "description": "Output only. Pixel density in dots per inch (dpi).",
          "readOnly": true,
          "type": "integer"
        }
      },
      "description": "Screen measurements of a device."
    },
    "DeviceConfig": {
      "properties": {
        "requirement": {
          "$ref": "DeviceRequirement",
          "description": "Required. The requirement of the device."
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "DeviceAction"
          },
          "description": "Optional. The actions to be performed on the device. Actions will be executed in the order they are specified in the list. Each action type can at most have 1 instance in the list."
        }
      },
      "id": "DeviceConfig",
      "description": "The configuration of a run on a device.",
      "type": "object"
    },
    "InputFile": {
      "description": "Input file.",
      "type": "object",
      "properties": {
        "gcsInputFile": {
          "description": "An input file in Google Cloud Storage.",
          "$ref": "GcsPath"
        }
      },
      "id": "InputFile"
    },
    "GcsPath": {
      "description": "A path to a file or directory in Google Cloud Storage.",
      "id": "GcsPath",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The Google Cloud Storage path of the file or directory. Format: `gs:///`."
        }
      },
      "type": "object"
    },
    "CatalogAutomationSupport": {
      "description": "Per-product metadata for the Automation (DeviceRun) product.",
      "type": "object",
      "properties": {},
      "id": "CatalogAutomationSupport"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "CatalogAndroidxTestOrchestratorDetails": {
      "description": "AndroidX Test Orchestrator-specific attributes. Reserved for future orchestrator-only fields.",
      "id": "CatalogAndroidxTestOrchestratorDetails",
      "properties": {},
      "type": "object"
    },
    "CatalogListSoftwareVersionsResponse": {
      "type": "object",
      "description": "Response including listed software versions.",
      "properties": {
        "softwareVersions": {
          "description": "The list of software versions.",
          "items": {
            "$ref": "CatalogSoftwareVersion"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to receive the next page of software versions. This will be absent if the end of the response list has been reached.",
          "type": "string"
        }
      },
      "id": "CatalogListSoftwareVersionsResponse"
    },
    "AndroidPushFilesDeviceActionFileConfig": {
      "properties": {
        "sourceFile": {
          "description": "Required. The file to be pushed to the device.",
          "$ref": "InputFile"
        },
        "destinationPath": {
          "description": "Required. The destination path on the device.",
          "type": "string"
        }
      },
      "description": "The configuration of pushing a file to the device.",
      "type": "object",
      "id": "AndroidPushFilesDeviceActionFileConfig"
    },
    "AndroidInstrumentationTest": {
      "description": "The configuration of an Android instrumentation test. See https://developer.android.com/training/testing/instrumented-tests for more information on Android instrumentation tests.",
      "id": "AndroidInstrumentationTest",
      "properties": {
        "orchestratorVersion": {
          "description": "Optional. The version of the Android Test Orchestrator to use for the test. The available orchestrator versions can be retrieved from the catalog service. If set to \"auto\", the default orchestrator is used. If not set, no orchestrator is used.",
          "type": "string"
        },
        "enableCodeCoverage": {
          "type": "boolean",
          "description": "Optional. Whether to enable code coverage collection for the test. A coverage file `coverage.ec` will be uploaded to the results folder. For this to work, your classes have to be instrumented offline (build time) by EMMA/JaCoCo."
        },
        "additionalTestOptions": {
          "description": "Optional. Additional test options to pass to the test runner. Passed to `am instrument` command as `-e` options, which will be passed to the instrumentation test runner using its `onCreate()` method. Formats supported in test_targets are not allowed to be used here. Limits: - Maximum number of entries: 32. - Maximum key size: 64 bytes (UTF-8). - Maximum value size: 1024 bytes (UTF-8).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uniformSharding": {
          "$ref": "AndroidInstrumentationTestUniformSharding",
          "description": "Optional. Uniform sharding strategy to split the job into multiple shards with equal number of test methods."
        },
        "smartSharding": {
          "$ref": "AndroidInstrumentationTestSmartSharding",
          "description": "Optional. Smart sharding strategy to split the job into multiple shards based on the test methods and their execution time."
        },
        "testTargets": {
          "type": "array",
          "description": "Optional. A list of test targets or target filters to run. Each target must be fully qualified with the package name or class name, in one of these formats: - `package package_name` - `notPackage com.package.to.skip` - `class package_name.class_name` - `class package_name.class_name#method_name` - `notClass com.foo.ClassToSkip` - `notClass com.foo.ClassName#testMethodToSkip` - `annotation com.foo.AnnotationToRun` - `notAnnotation com.foo.AnnotationToSkip` - `size [small|medium|large]` Formats like `testfile` or `notTestfile` won't be supported. If empty, all targets in the module will be run. Limits: - Maximum number of entries: 1024.",
          "items": {
            "type": "string"
          }
        },
        "testInstallable": {
          "description": "Required. The test package to install and run the test.",
          "$ref": "AndroidInstallable"
        },
        "testRunnerClass": {
          "description": "Optional. Full class name of the test runner class. The class must be `androidx.test.runner.AndroidJUnitRunner` or a subclass of it. The default value is determined by examining the application's manifest. If multiple instrumentations are found, the first one in the manifest will be used.",
          "type": "string"
        },
        "instrumentationTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The timeout of the instrumentation test. Default value: 5 min. Range: [1 min, 3 hours]."
        }
      },
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "CatalogSoftwareVersion": {
      "properties": {
        "androidxTestOrchestratorDetails": {
          "$ref": "CatalogAndroidxTestOrchestratorDetails",
          "readOnly": true,
          "description": "Output only. Contains AndroidX Test Orchestrator-specific attributes (set when software_type == ANDROIDX_TEST_ORCHESTRATOR)."
        },
        "xcodeDetails": {
          "$ref": "CatalogXcodeDetails",
          "readOnly": true,
          "description": "Output only. Contains Xcode-specific attributes (set when software_type == XCODE)."
        },
        "version": {
          "type": "string",
          "description": "Output only. Specifies the version identifier, e.g. \"1.4.1\". Unique within a `software_type`.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Provides a human-readable name for this version, e.g. \"AndroidX Test Orchestrator 1.4.1\"."
        },
        "softwareType": {
          "readOnly": true,
          "enumDescriptions": [
            "Software type not specified.",
            "AndroidX Test Orchestrator, which runs each Android instrumentation test case in its own process.",
            "Apple Xcode, the toolchain that builds and runs iOS XCTests."
          ],
          "enum": [
            "SOFTWARE_TYPE_UNSPECIFIED",
            "ANDROIDX_TEST_ORCHESTRATOR",
            "XCODE"
          ],
          "description": "Output only. Specifies which software this is a version of. Filter on this field to narrow the collection to a single kind of software, for example `software_type = \"ANDROIDX_TEST_ORCHESTRATOR\"`.",
          "type": "string"
        },
        "lifecycle": {
          "readOnly": true,
          "$ref": "CatalogLifecycle",
          "description": "Output only. The version lifecycle (maturity stage and removal date)."
        },
        "isDefault": {
          "type": "boolean",
          "description": "Output only. Indicates whether the system uses this version when a request does not select one explicitly. Exactly one version per `software_type` is the default, and it may change over time.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Identifies the software version resource. Format: `projects/{project}/locations/{location}/softwareVersions/{software_version}`. The {software_version} segment is an opaque, stable string. Clients must not parse it to derive or assume the version."
        }
      },
      "id": "CatalogSoftwareVersion",
      "type": "object",
      "description": "A single software version in the catalog."
    },
    "AndroidRecordVideoDeviceAction": {
      "description": "Records a video of the device screen during the run. The video will be written to a file named `video.mp4` in the execution output directory.",
      "properties": {
        "discardOnPass": {
          "type": "boolean",
          "description": "Optional. Whether to discard and not upload the recording when the test passes. Default is false."
        }
      },
      "id": "AndroidRecordVideoDeviceAction",
      "type": "object"
    },
    "AndroidLogcatDeviceAction": {
      "properties": {},
      "type": "object",
      "id": "AndroidLogcatDeviceAction",
      "description": "Collects logcat output from the device. The output will be written to a file named `logcat.txt` in the execution output directory."
    },
    "AndroidInstallPackagesDeviceAction": {
      "properties": {
        "targetApp": {
          "description": "Optional. The primary Android package to install, serving as the target package for subsequent actions and as the installation ordering anchor. Whether this package is treated as the application under test depends on the job action: - Actions that require an explicit target package (such as performance metrics collection, or accessibility scans) use this package to identify the application to inspect or drive. - Actions that discover or manage targets independently (such as Android instrumentation tests, where target packages are defined in the test runner manifest) treat this field primarily as an installation order anchor between pre- and post-installables. Optional. If omitted, all packages in `pre_target_app_installables` and `post_target_app_installables` are installed without a designated target package.",
          "$ref": "AndroidInstallable"
        },
        "postTargetAppInstallables": {
          "type": "array",
          "description": "Optional. The Android packages to install on the device after `target_app` (if specified) is installed. The installation will be performed in the order specified.",
          "items": {
            "$ref": "AndroidInstallable"
          }
        },
        "preTargetAppInstallables": {
          "type": "array",
          "items": {
            "$ref": "AndroidInstallable"
          },
          "description": "Optional. The Android packages to install on the device before `target_app` (if specified) is installed. The installation will be performed in the order specified."
        },
        "installables": {
          "items": {
            "$ref": "AndroidInstallable"
          },
          "type": "array",
          "description": "Optional. Deprecated: use `pre_target_app_installables`, `target_app` and `post_target_app_installables` instead. The Android packages to install on the device. The installation will be performed in the order specified, before the installables of all other fields.",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "Installs Android packages on the device. At least one installable is specified when using this device action. Limits: - A maximum of 20 installables in total are allowed. - A maximum of 100 files are allowed in total across all installables.",
      "id": "AndroidInstallPackagesDeviceAction"
    },
    "AndroidInstrumentationTestUniformSharding": {
      "description": "Uniformly shards test cases given a total number of shards. It will be translated to `-e numShard` and `-e shardIndex` AndroidJUnitRunner arguments. With uniform sharding enabled, specifying either of these sharding arguments via `environment_variables` is invalid. Based on the sharding mechanism AndroidJUnitRunner uses, there is no guarantee that test cases will be distributed uniformly across all shards.",
      "id": "AndroidInstrumentationTestUniformSharding",
      "type": "object",
      "properties": {
        "shardCount": {
          "description": "Required. The total number of shards to create. This must always be a positive number that is no greater than the total number of test cases. Limits: - For physical devices, the number of shards must be <= 20. - For virtual devices, the number of shards must be <= 200.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "CatalogXcodeDetails": {
      "type": "object",
      "properties": {
        "supportedIosVersions": {
          "readOnly": true,
          "description": "Output only. Lists the iOS versions this Xcode can run tests against, e.g. \"16.6\". This is a property of the toolchain, so it says nothing about whether a device on that iOS version is available; list the `Device` collection to find out.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Xcode-specific attributes.",
      "id": "CatalogXcodeDetails"
    },
    "AndroidDumpsysDeviceAction": {
      "properties": {
        "collectOnPass": {
          "description": "Optional. Whether to deliver the dumpsys when the test passes. If false, the dumpsys is skipped on pass to save time (default behavior). If true, the dumpsys is always delivered.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "AndroidDumpsysDeviceAction",
      "description": "Captures dumpsys output from the device. The output will be written to a file named `dumpsys.log` in the execution output directory."
    },
    "Status": {
      "properties": {
        "statusType": {
          "enum": [
            "STATUS_TYPE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "SUSPENDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown status type.",
            "The session/job/execution is pending, not started yet.",
            "The session/job/execution is running.",
            "The session/job/execution is finished.",
            "The session/job/execution is suspended due to quota issues."
          ],
          "description": "Output only. The status type of the session/job/execution.",
          "readOnly": true
        },
        "progressMessages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Human-readable, detailed descriptions of the session/job/execution's progress. For example: \"Provisioning a device\", \"Starting Test\". Each message should contain only one line of text. During the course of execution new data may be appended to the end of progress_messages.",
          "readOnly": true
        }
      },
      "description": "The status of a session/job/execution.",
      "id": "Status",
      "type": "object"
    },
    "JobReport": {
      "description": "The runtime information and result report of a job.",
      "id": "JobReport",
      "type": "object",
      "properties": {
        "warnings": {
          "description": "Output only. Non-fatal warnings collected during the job.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Warning"
          }
        },
        "labels": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The original labels provided by the user during job creation."
        },
        "result": {
          "$ref": "Result",
          "description": "Output only. The result of the job.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The end time of the job.",
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display_name set by users in the JobConfig.",
          "readOnly": true
        },
        "outputFiles": {
          "type": "array",
          "items": {
            "$ref": "OutputFile"
          },
          "readOnly": true,
          "description": "Output only. The output files of the job."
        },
        "id": {
          "type": "string",
          "description": "Output only. The unique identifier of the job.",
          "readOnly": true
        },
        "executionReports": {
          "type": "array",
          "description": "Output only. Reports of the execution attempts of the job.",
          "items": {
            "$ref": "ExecutionReport"
          },
          "readOnly": true
        },
        "status": {
          "description": "Output only. The status of the job.",
          "$ref": "Status",
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. The start time of the job.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "CatalogSupportedProduct": {
      "properties": {
        "automation": {
          "readOnly": true,
          "$ref": "CatalogAutomationSupport",
          "description": "Output only. Represents Automation, which is DeviceRun-backed automated test execution."
        },
        "deviceStreaming": {
          "readOnly": true,
          "$ref": "CatalogDeviceStreamingSupport",
          "description": "Output only. Represents DeviceStreaming, which is interactive remote device streaming."
        }
      },
      "description": "Declares that a device supports a given Device Cloud product, with optional per-product metadata. Discriminated by which product-specific message is set; adding a new product = new oneof arm + new per-product message.",
      "id": "CatalogSupportedProduct",
      "type": "object"
    },
    "CatalogListDevicesResponse": {
      "type": "object",
      "description": "Response including listed devices.",
      "id": "CatalogListDevicesResponse",
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "CatalogDevice"
          },
          "description": "The list of devices."
        },
        "nextPageToken": {
          "description": "Token to receive the next page of devices. This will be absent if the end of the response list has been reached.",
          "type": "string"
        }
      }
    },
    "IosRecordVideoDeviceAction": {
      "properties": {
        "discardOnPass": {
          "type": "boolean",
          "description": "Optional. Whether to discard the video if the test passes. If not specified, the default is false (always keep the video)."
        }
      },
      "description": "Records a video of the iOS device screen during the run. The video will be written to a file named `video.mp4` in the execution output directory.",
      "type": "object",
      "id": "IosRecordVideoDeviceAction"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "RetrySettingsFlakyTestRetryStrategy": {
      "type": "object",
      "description": "Default retry strategy. It will retry on test failures for up to flaky_test_attempts (including the initial run). It also retries on infra issues for up to 2 attempts (including the initial run). So in total, an execution can run up to flaky_test_attempts * 2 times in the worst case.",
      "properties": {
        "testReductionMode": {
          "type": "string",
          "enum": [
            "TEST_REDUCTION_MODE_UNSPECIFIED",
            "NO_REDUCTION",
            "REDUCE_TO_FAILED_TEST_CASES"
          ],
          "enumDescriptions": [
            "The test reduction mode is unspecified. Will default to `NO_REDUCTION`.",
            "Runs the same set of test cases of the previous attempt.",
            "Only runs the failed test cases of the previous attempt. For Android Instrumentation tests, this reduction mode only works when the tests in the test APK use one of the following test runners: - `androidx.test.ext.junit.runners.AndroidJUnit4` - `org.junit.runners.JUnit4` - `com.google.testing.junit.testparameterinjector.TestParameterInjector` - `org.junit.runners.Parameterized` Otherwise, its behavior will fall back to `NO_REDUCTION`."
          ],
          "description": "Optional. The mode of test reduction for retry. If the test runner doesn't support the specified test reduction mode, the request will be rejected with an `INVALID_ARGUMENT` error."
        },
        "parallelRetry": {
          "description": "Optional. Whether to retry the test failures in parallel. By default, the test is retried sequentially. If true, when the initial attempt fails, (flaky_test_attempts - 1) attempts will be triggered at the same time to run in parallel.",
          "type": "boolean"
        },
        "flakyTestAttempts": {
          "format": "int32",
          "description": "Required. The total attempts for flaky tests, including the initial run. Default value: 1 (no retry). Range: [1, 5].",
          "type": "integer"
        }
      },
      "id": "RetrySettingsFlakyTestRetryStrategy"
    },
    "OutputFile": {
      "description": "Output file.",
      "id": "OutputFile",
      "type": "object",
      "properties": {
        "gcsOutputFile": {
          "description": "An output file in Google Cloud Storage.",
          "$ref": "GcsPath"
        }
      }
    },
    "CatalogDeviceStreamingSupport": {
      "id": "CatalogDeviceStreamingSupport",
      "type": "object",
      "description": "Per-product metadata for the DeviceStreaming product.",
      "properties": {
        "minimumAndroidStudioVersion": {
          "description": "Output only. Specifies the minimum Android Studio version that supports this device. Optional; only set when the device is known to work only at or above a certain Android Studio version. Expected format \"major.minor.micro.patch\", e.g. \"5921.22.2211.8881706\".",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "IosPushFilesDeviceActionFileConfig": {
      "properties": {
        "bundleId": {
          "type": "string",
          "description": "Required. The bundle ID of the application sandbox."
        },
        "destinationPath": {
          "description": "Required. The destination path relative to the app sandbox, e.g. \"/Documents/file.txt\".",
          "type": "string"
        },
        "sourceFile": {
          "$ref": "InputFile",
          "description": "Required. The file to be pushed."
        }
      },
      "type": "object",
      "id": "IosPushFilesDeviceActionFileConfig",
      "description": "The configuration of pushing a file to the iOS device."
    },
    "IosPullFilesDeviceAction": {
      "description": "Pulls directories and files from the iOS device sandbox at the end of the run.",
      "id": "IosPullFilesDeviceAction",
      "type": "object",
      "properties": {
        "paths": {
          "type": "array",
          "items": {
            "$ref": "IosPullFilesDeviceActionPathConfig"
          },
          "description": "Required. Absolute directory or file paths to pull from the device. Limits: - A maximum of 10 paths are allowed."
        }
      }
    },
    "IosSwitchLocaleDeviceAction": {
      "properties": {
        "localeCode": {
          "description": "Required. The locale (language and region) to switch the app to. The format is `language-region` or `language`, e.g. \"en-US\", \"zh-CN\", \"ja\", etc.",
          "type": "string"
        }
      },
      "id": "IosSwitchLocaleDeviceAction",
      "type": "object",
      "description": "Switches the locale (language and region) of the iOS application."
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "Location": {
      "id": "Location",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "CatalogLabInfo": {
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Output only. The Unicode country/region code (CLDR) of the lab where the device is hosted, e.g. \"US\" for United States, \"KR\" for South Korea. Empty when the hosting region is not published.",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Display name of the lab where the device is hosted. If empty, the device is hosted in a Google owned lab.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CatalogLabInfo",
      "description": "The lab hosting a device."
    },
    "DeviceAction": {
      "properties": {
        "androidRecordVideo": {
          "$ref": "AndroidRecordVideoDeviceAction",
          "description": "Records a video of the device screen during the run."
        },
        "androidPushFiles": {
          "$ref": "AndroidPushFilesDeviceAction",
          "description": "Pushes files to the device at the beginning of the run."
        },
        "iosSwitchLocale": {
          "description": "Switches the locale (language and region) of the iOS application.",
          "$ref": "IosSwitchLocaleDeviceAction"
        },
        "iosRecordVideo": {
          "$ref": "IosRecordVideoDeviceAction",
          "description": "Records a video of the iOS device screen during the run."
        },
        "androidSwitchLocale": {
          "$ref": "AndroidSwitchLocaleDeviceAction",
          "description": "Switches the locale (language and region) of the device."
        },
        "androidMockLocation": {
          "$ref": "AndroidMockLocationDeviceAction",
          "description": "Mocks the location of the device."
        },
        "iosPushFiles": {
          "description": "Pushes files to the iOS device sandbox at the beginning of the run.",
          "$ref": "IosPushFilesDeviceAction"
        },
        "androidLogcat": {
          "$ref": "AndroidLogcatDeviceAction",
          "description": "Collects logcat output from the device."
        },
        "iosPullFiles": {
          "description": "Pulls directories and files from the iOS device sandbox at the end of the run.",
          "$ref": "IosPullFilesDeviceAction"
        },
        "iosAppPrivacyReport": {
          "description": "Collects the exported iOS App Privacy Report during the run.",
          "$ref": "IosAppPrivacyReportDeviceAction"
        },
        "androidOrientation": {
          "description": "Sets the orientation of the device.",
          "$ref": "AndroidOrientationDeviceAction"
        },
        "androidInstallPackages": {
          "$ref": "AndroidInstallPackagesDeviceAction",
          "description": "Installs Android packages on the device."
        },
        "androidPullFiles": {
          "$ref": "AndroidPullFilesDeviceAction",
          "description": "Pulls directories and files from the device at the end of the run."
        },
        "androidBugreport": {
          "description": "Captures a bugreport from the device unless the test result is pass.",
          "$ref": "AndroidBugreportDeviceAction"
        },
        "androidDumpsys": {
          "$ref": "AndroidDumpsysDeviceAction",
          "description": "Captures a dumpsys from the device."
        },
        "iosInstallPackages": {
          "$ref": "IosInstallPackagesDeviceAction",
          "description": "Installs additional iOS packages on the device."
        }
      },
      "id": "DeviceAction",
      "description": "The action to be performed on a device.",
      "type": "object"
    },
    "CatalogAndroidDeviceDetails": {
      "description": "Android-specific device attributes.",
      "id": "CatalogAndroidDeviceDetails",
      "type": "object",
      "properties": {
        "buildType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Mirrors the AOSP `ro.build.type` property, e.g. \"user\", \"userdebug\", \"eng\". Empty if unknown."
        },
        "supportedAbis": {
          "readOnly": true,
          "description": "Output only. Lists ABIs supported by the device (android.os.Build.SUPPORTED_ABIS), most preferred first, e.g. \"arm64-v8a\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "JobAction": {
      "description": "The action to be performed in a job.",
      "id": "JobAction",
      "properties": {
        "androidNativeBinary": {
          "$ref": "AndroidNativeBinary",
          "description": "Android native binary execution."
        },
        "androidInstrumentationTest": {
          "description": "Android instrumentation test.",
          "$ref": "AndroidInstrumentationTest"
        },
        "iosXcTest": {
          "description": "iOS XCTest.",
          "$ref": "IosXcTest"
        }
      },
      "type": "object"
    },
    "AndroidPullFilesDeviceAction": {
      "properties": {
        "paths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Absolute directory or file paths to pull from the device. Limits: - A maximum of 10 paths are allowed."
        }
      },
      "id": "AndroidPullFilesDeviceAction",
      "type": "object",
      "description": "Pulls directories and files from the device at the end of the run. Files will be copied to the '/artifacts' directory, with the absolute path structure preserved. Note that: 1. A clean device is provided for the run. 2. Any existing files in the output directory may be overwritten. 3. Pulling files is best effort. Will skip files if they don't exist on the device."
    },
    "AndroidBugreportDeviceAction": {
      "type": "object",
      "properties": {
        "collectOnPass": {
          "type": "boolean",
          "description": "Optional. Whether to deliver the bugreport when the test passes. If false, the bugreport is skipped on pass to save time (default behavior). If true, the bugreport is always delivered."
        }
      },
      "description": "Captures a bugreport from the device. The output will be written to a file named `bugreport.zip` in the execution output directory.",
      "id": "AndroidBugreportDeviceAction"
    },
    "CatalogIosDeviceDetails": {
      "type": "object",
      "id": "CatalogIosDeviceDetails",
      "description": "iOS-specific device attributes. Reserved for future iOS-only fields.",
      "properties": {}
    },
    "Warning": {
      "id": "Warning",
      "properties": {
        "summary": {
          "description": "Output only. Detailed warning summary.",
          "readOnly": true,
          "$ref": "IssueSummary"
        }
      },
      "type": "object",
      "description": "Non-fatal operational anomaly, lint observation, or execution insight."
    },
    "CancelSessionRequest": {
      "type": "object",
      "id": "CancelSessionRequest",
      "properties": {},
      "description": "Request to cancel a session."
    },
    "AndroidSwitchLocaleDeviceAction": {
      "id": "AndroidSwitchLocaleDeviceAction",
      "properties": {
        "localeCode": {
          "description": "Required. The locale (language and region) to switch the device to. The format is `language-region`, e.g. \"en-US\", \"zh-CN\", etc. The typical language value is a two or three-letter language code as defined in ISO639. The typical region value is a two-letter ISO 3166 code or a three-digit UN M.49 area code.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Switches the locale (language and region) of the device."
    },
    "SessionConfigSessionOutputFileDirectoryConfig": {
      "properties": {
        "flatDirectoryStructure": {
          "description": "Optional. Whether to write output files directly under the output directory instead of nesting them under service-generated subdirectories. By default (`false`), output files are stored under `////`. When `true`, the session ID subdirectory is never appended, and the job display name subdirectory is appended only when the session has more than one job. Output files are therefore stored under: - `//` for a single-job session. - `///` for a multi-job session. Set this to `true` when the output directory is already unique per session (for example, when a CI system generates it), to avoid redundant nesting.",
          "type": "boolean"
        },
        "gcsOutputDirectory": {
          "description": "The Google Cloud Storage path of the output directory (e.g. `gs://my-bucket/output`). The bucket must exist. If the bucket is located in another project or uses fine-grained access controls, ensure the Device Run Service Agent of the project (`service-@gcp-sa-devicerun.iam.gserviceaccount.com`) is granted access to the bucket (such as `roles/storage.objectUser`).",
          "$ref": "GcsPath"
        }
      },
      "type": "object",
      "id": "SessionConfigSessionOutputFileDirectoryConfig",
      "description": "Config to control session output file directory."
    },
    "IosAppPrivacyReportDeviceAction": {
      "properties": {},
      "id": "IosAppPrivacyReportDeviceAction",
      "type": "object",
      "description": "Collects the exported iOS App Privacy Report during the test run. When enabled, the iOS device records application activity (such as network access, domain requests, and sensitive resource access like photos, camera, or location) and exports Apple's official App Privacy Report. The report will be written to a file named `AppActivityReport.ndjson` in the execution output directory."
    },
    "SessionConfigSessionNotificationConfig": {
      "type": "object",
      "properties": {
        "pubsubTopic": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The Pub/Sub topics to which session events are published. Format: `projects/{project}/topics/{topic}`. See https://cloud.google.com/pubsub/docs/admin#topic_and_subscription_name_restrictions"
        }
      },
      "description": "Config to control session notification.",
      "id": "SessionConfigSessionNotificationConfig"
    },
    "DeviceRequirement": {
      "description": "The requirement of a device.",
      "type": "object",
      "id": "DeviceRequirement",
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "The device ID of a device in the catalog. The device ID is the last part of a device's resource name."
        }
      }
    },
    "AndroidPushFilesDeviceAction": {
      "description": "Pushes files to the device at the beginning of the run. Files are overwritten if a file with the same path already exists on the device, if device permissions allow.",
      "id": "AndroidPushFilesDeviceAction",
      "type": "object",
      "properties": {
        "fileConfigs": {
          "type": "array",
          "description": "Required. Configs of pushing files to the device. Limits: - A maximum of 50 files are allowed.",
          "items": {
            "$ref": "AndroidPushFilesDeviceActionFileConfig"
          }
        }
      }
    },
    "IssueSummary": {
      "properties": {
        "message": {
          "type": "string",
          "description": "Output only. Human-readable explanation of the issue in English.",
          "readOnly": true
        },
        "reason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The reason of the issue. This is a constant value that identifies the proximate cause of the issue. This should be at most 63 characters and match a regular expression of `A-Z*[A-Z0-9]`, which represents UPPER_SNAKE_CASE."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified issue type. This value is unused.",
            "Platform infrastructure or operational execution environment failure.",
            "Customer test script failure, malformed APK, or bad user configuration."
          ],
          "type": "string",
          "description": "Output only. The issue classification based on responsibility.",
          "readOnly": true,
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "INFRA",
            "CUSTOMER"
          ]
        }
      },
      "description": "Describes the summary of an issue (error or warning) with structured details.",
      "id": "IssueSummary",
      "type": "object"
    },
    "ListSessionsResponse": {
      "properties": {
        "sessions": {
          "items": {
            "$ref": "Session"
          },
          "description": "The list of sessions.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to receive the next page of sessions. This will be absent if the end of the response list has been reached."
        },
        "unreachable": {
          "description": "Unordered list. Sessions that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response including listed sessions.",
      "id": "ListSessionsResponse",
      "type": "object"
    },
    "CancelSessionResponse": {
      "type": "object",
      "description": "Response of the cancel session request.",
      "id": "CancelSessionResponse",
      "properties": {
        "cancelResult": {
          "enumDescriptions": [
            "Unspecified cancel result.",
            "The session is marked as cancelled, but has not finished yet.",
            "The session is finished, either by itself or by the cancel request."
          ],
          "enum": [
            "CANCEL_RESULT_UNSPECIFIED",
            "SESSION_MARKED_AS_CANCELLED",
            "SESSION_FINISHED"
          ],
          "type": "string",
          "description": "The result of the request."
        }
      }
    },
    "AndroidOrientationDeviceAction": {
      "id": "AndroidOrientationDeviceAction",
      "description": "Sets the orientation of the device.",
      "type": "object",
      "properties": {
        "orientation": {
          "type": "string",
          "description": "Required. The orientation to set the device to. One of `portrait` or `landscape`."
        }
      }
    },
    "CatalogDeviceAvailability": {
      "id": "CatalogDeviceAvailability",
      "properties": {
        "available": {
          "enumDescriptions": [
            "The value of availability is unknown or unset.",
            "No devices of this configuration are currently idle. A request can still be made, but it will queue until a device frees up. Expect longer wait times, and avoid requesting many devices at once (e.g. high shard counts).",
            "A small number of devices are currently idle. Suitable for a few concurrent requests. Larger bursts (e.g. many shards) may queue until devices free up.",
            "A moderate number of devices are currently idle. Suitable for a moderate number of concurrent requests. Very large bursts may still queue.",
            "Many devices are currently idle. Suitable for a large number of concurrent requests with little to no queueing at the moment of observation."
          ],
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "AVAILABILITY_NONE",
            "AVAILABILITY_LOW",
            "AVAILABILITY_MEDIUM",
            "AVAILABILITY_HIGH"
          ],
          "description": "Output only. Specifies the current availability bucket (idle, immediately allocatable devices) for this device configuration. This is a best-effort snapshot, refreshed periodically. It fluctuates depending on traffic as other requests allocate devices.",
          "type": "string",
          "readOnly": true
        },
        "capacity": {
          "type": "string",
          "description": "Output only. Specifies the current capacity bucket for this device configuration. Represents the total number of online devices (idle or in use).",
          "enum": [
            "CAPACITY_UNSPECIFIED",
            "CAPACITY_NONE",
            "CAPACITY_LOW",
            "CAPACITY_MEDIUM",
            "CAPACITY_HIGH"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The value of device capacity is unknown or unset.",
            "No online devices of this configuration. These devices are unavailable either temporarily or permanently and should not be requested. If the device is also marked as deprecated, this state is very likely permanent.",
            "Devices that are low in capacity (the lab has a small number of these devices). These devices may be used if users need to test on this specific device model and version. Please note that due to low capacity, the tests may take much longer to finish, especially if a large number of tests are invoked at once. These devices are not suitable for test sharding.",
            "Devices that are medium in capacity (the lab has a decent number of these devices, though not as many as high capacity devices). These devices are suitable for fewer test runs (e.g. fewer than 100 tests) and only for low shard counts (e.g. less than 10 shards).",
            "Devices that are high in capacity (the lab has a large number of these devices). These devices are generally suggested for running a large number of simultaneous tests (e.g. more than 100 tests). Please note that high capacity devices do not guarantee short wait times due to several factors: 1. Traffic (how heavily they are used at any given moment). 2. High capacity devices are prioritized for certain usages, which may cause user tests to be slower than selecting other similar device types."
          ]
        }
      },
      "type": "object",
      "description": "Fleet availability for a device configuration."
    },
    "LatLng": {
      "id": "LatLng",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "properties": {
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double",
          "type": "number"
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
        }
      },
      "type": "object"
    },
    "ExecutionReport": {
      "type": "object",
      "description": "The runtime information and result report of a single on-device execution attempt.",
      "id": "ExecutionReport",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Output only. The end time of the execution.",
          "format": "google-datetime",
          "readOnly": true
        },
        "warnings": {
          "readOnly": true,
          "items": {
            "$ref": "Warning"
          },
          "description": "Output only. Non-fatal warnings collected during the execution.",
          "type": "array"
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The start time of the execution.",
          "format": "google-datetime"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display_name set by users in the ExecutionConfig.",
          "type": "string"
        },
        "outputFiles": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "OutputFile"
          },
          "description": "Output only. The output files of the execution."
        },
        "result": {
          "$ref": "Result",
          "readOnly": true,
          "description": "Output only. The result of the execution."
        },
        "id": {
          "description": "Output only. The unique identifier of the execution.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "description": "Output only. The status of the execution.",
          "readOnly": true,
          "$ref": "Status"
        }
      }
    },
    "CatalogLifecycle": {
      "type": "object",
      "description": "Catalog resource lifecycle: maturity state plus key lifecycle dates.",
      "id": "CatalogLifecycle",
      "properties": {
        "state": {
          "description": "Output only. Specifies the current maturity state of the resource.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PREVIEW",
            "ACTIVE",
            "DEPRECATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "State not specified.",
            "Early access. This resource may have reduced stability and availability.",
            "Generally available.",
            "Still usable, but scheduled for removal."
          ],
          "readOnly": true
        },
        "removalDate": {
          "$ref": "Date",
          "description": "Output only. Specifies the date the resource is scheduled to be removed from the catalog. Only set when `state == DEPRECATED`.",
          "readOnly": true
        }
      }
    },
    "AndroidMockLocationDeviceAction": {
      "properties": {
        "location": {
          "$ref": "LatLng",
          "description": "Required. The mock location to set on the device."
        }
      },
      "type": "object",
      "description": "Mocks the location of the Android device.",
      "id": "AndroidMockLocationDeviceAction"
    },
    "RetrySettings": {
      "description": "Retry settings.",
      "id": "RetrySettings",
      "properties": {
        "flakyTestRetryStrategy": {
          "$ref": "RetrySettingsFlakyTestRetryStrategy",
          "description": "Optional. The default retry strategy. Allows an Execution to retry on test failures and infrastructure errors."
        }
      },
      "type": "object"
    },
    "AndroidNativeBinary": {
      "description": "The configuration of an Android native binary execution.",
      "id": "AndroidNativeBinary",
      "type": "object",
      "properties": {
        "androidNativeBinary": {
          "$ref": "InputFile",
          "description": "Required. The file path of the Android native binary."
        },
        "executionTimeout": {
          "format": "google-duration",
          "description": "Optional. The timeout of the execution. Default value: 5 min. Range: [1 min, 3 hours].",
          "type": "string"
        },
        "args": {
          "type": "array",
          "description": "Optional. Arguments for running the binary file. The flags will be appended to the command line that invokes the binary. The number of options is limited to 100.",
          "items": {
            "type": "string"
          }
        },
        "envVars": {
          "description": "Optional. A map of environment variables to set for the binary process. The keys are the variable names and the values are the variable values. The maximum number of entries is 100. Each key is limited to 128 characters and must conform to POSIX standards. Each value is limited to 2048 characters. The total size of all environment variables must not exceed 16 KiB.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SessionConfig": {
      "description": "SessionConfig is used to create a session.",
      "type": "object",
      "id": "SessionConfig",
      "properties": {
        "jobConfigs": {
          "type": "array",
          "items": {
            "$ref": "JobConfig"
          },
          "description": "Required. Configs of the jobs in the session."
        },
        "outputDirectoryConfig": {
          "$ref": "SessionConfigSessionOutputFileDirectoryConfig",
          "description": "Required. Output file directory config for the session."
        },
        "notificationConfig": {
          "description": "Optional. Notification config for the session.",
          "$ref": "SessionConfigSessionNotificationConfig"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-settable, human-readable name for the session. Maximum size is 63 bytes when encoded as UTF-8. If set, must match regex: `^A-Za-z0-9*$`."
        }
      }
    },
    "Result": {
      "id": "Result",
      "description": "The result of a session/job/execution.",
      "properties": {
        "cause": {
          "description": "Output only. Detailed result cause diagnostics. Set if type is not PASSED.",
          "readOnly": true,
          "$ref": "ResultCause"
        },
        "resultType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown result type.",
            "Finished and passed.",
            "Finished but failed. It is usually caused by the user config, problematic test cases, or real bugs of their apps/platform under test.",
            "Unclassified error, can be caused by user config/tests/AUT, infra, or the tools that the infra is depending on.",
            "Test timeout.",
            "Test is aborted by user."
          ],
          "readOnly": true,
          "description": "Output only. The result type of the session/job/execution.",
          "enum": [
            "RESULT_TYPE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "ERROR",
            "TIMED_OUT",
            "CANCELLED"
          ]
        }
      },
      "type": "object"
    },
    "AndroidInstallable": {
      "type": "object",
      "description": "An Android Installable represents the file(s) for installing an Android package on a device. This can be an APK, an Android App Bundle (AAB), or an APK Set.",
      "properties": {
        "files": {
          "type": "array",
          "description": "Required. Files that make up the package. Supported formats are distinguished by their file extension: - APK: One or more files with extension `.apk`. - App Bundle: A single file with extension `.aab`. - APK Set: A single file with extension `.apks`.",
          "items": {
            "$ref": "InputFile"
          }
        }
      },
      "id": "AndroidInstallable"
    },
    "AllocationConfig": {
      "description": "Allocation config.",
      "type": "object",
      "id": "AllocationConfig",
      "properties": {
        "deviceConfigs": {
          "items": {
            "$ref": "DeviceConfig"
          },
          "description": "Required. At least one device config is required. If more than one device config is required, the multiple devices are allocated to each shard of the OmniLab job to run multi-device-interaction tests.",
          "type": "array"
        }
      }
    },
    "ResultCause": {
      "description": "Describes the cause of the non-passed result occurred during the execution.",
      "type": "object",
      "properties": {
        "summary": {
          "readOnly": true,
          "description": "Output only. Structured cause detail.",
          "$ref": "IssueSummary"
        }
      },
      "id": "ResultCause"
    },
    "IosPullFilesDeviceActionPathConfig": {
      "id": "IosPullFilesDeviceActionPathConfig",
      "description": "The configuration of pulling a file or directory from the iOS device.",
      "type": "object",
      "properties": {
        "bundleId": {
          "type": "string",
          "description": "Required. The bundle ID of the application sandbox."
        },
        "devicePath": {
          "type": "string",
          "description": "Required. The device path relative to the app sandbox, e.g. \"/Documents/output/\"."
        }
      }
    },
    "IosInstallPackagesDeviceAction": {
      "description": "Installs iOS packages on the device.",
      "id": "IosInstallPackagesDeviceAction",
      "type": "object",
      "properties": {
        "ipas": {
          "items": {
            "$ref": "InputFile"
          },
          "description": "Required. Additional iOS packages (IPAs) to install on the device. Limits: - A maximum of 20 IPAs are allowed.",
          "type": "array"
        }
      }
    },
    "JobSettings": {
      "type": "object",
      "properties": {
        "retrySettings": {
          "$ref": "RetrySettings",
          "description": "Optional. The retry settings of the job."
        }
      },
      "description": "Job settings to control the job execution.",
      "id": "JobSettings"
    },
    "CatalogDevice": {
      "properties": {
        "modelCode": {
          "readOnly": true,
          "description": "Output only. Provides a human-readable model identifier for this device, independent of OS version. May be empty. Platform-dependent: * Android physical: hardware codename (android.os.Build.DEVICE), e.g. \"shiba\". * Android virtual: AVD model identifier, e.g. \"MediumPhone.arm\". * iOS: model identifier, e.g. \"iphone14pro\".",
          "type": "string"
        },
        "supportedProducts": {
          "type": "array",
          "description": "Output only. Products/Services supported by this device.",
          "items": {
            "$ref": "CatalogSupportedProduct"
          },
          "readOnly": true
        },
        "platform": {
          "readOnly": true,
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "ANDROID",
            "IOS"
          ],
          "description": "Output only. Specifies the platform of the device.",
          "type": "string",
          "enumDescriptions": [
            "Platform not specified.",
            "Android.",
            "iOS."
          ]
        },
        "manufacturer": {
          "type": "string",
          "description": "Output only. Specifies the hardware manufacturer of the device.",
          "readOnly": true
        },
        "accessDeniedReasons": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Reasons for access denial. This model is accessible/usable if this list is empty, otherwise the model is viewable only.",
          "items": {
            "enum": [
              "ACCESS_DENIED_REASON_UNSPECIFIED",
              "EULA_NOT_ACCEPTED"
            ],
            "type": "string",
            "enumDescriptions": [
              "Reason not specified.",
              "The device is hosted in a partner lab whose end user license agreement the project has not accepted."
            ]
          }
        },
        "formFactor": {
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE",
            "TV"
          ],
          "description": "Output only. Specifies the form factor of the device.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Form factor not specified.",
            "Phone.",
            "Tablet.",
            "Wearable (e.g. watch).",
            "TV."
          ]
        },
        "androidDetails": {
          "description": "Output only. Contains Android-specific attributes (set when platform == ANDROID).",
          "readOnly": true,
          "$ref": "CatalogAndroidDeviceDetails"
        },
        "lifecycle": {
          "readOnly": true,
          "$ref": "CatalogLifecycle",
          "description": "Output only. The device lifecycle (maturity stage and removal date)."
        },
        "labInfo": {
          "description": "Output only. The lab hosting this device.",
          "$ref": "CatalogLabInfo",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. Provides a human-readable display name, e.g. \"Pixel 5\".",
          "readOnly": true,
          "type": "string"
        },
        "iosDetails": {
          "readOnly": true,
          "$ref": "CatalogIosDeviceDetails",
          "description": "Output only. Contains iOS-specific attributes (set when platform == IOS)."
        },
        "hardwareType": {
          "enum": [
            "HARDWARE_TYPE_UNSPECIFIED",
            "PHYSICAL",
            "VIRTUAL"
          ],
          "readOnly": true,
          "description": "Output only. Indicates whether the device is physical or virtual.",
          "type": "string",
          "enumDescriptions": [
            "Hardware type not specified.",
            "Physical hardware device.",
            "Virtual device (emulator / simulator)."
          ]
        },
        "primaryScreen": {
          "readOnly": true,
          "$ref": "CatalogScreenMetrics",
          "description": "Output only. Measurements of the primary device screen. Informational only. Unset for devices without a screen (e.g. some wearables)."
        },
        "osVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies the OS version, e.g. \"30\" (Android API level) or \"17.4\" (iOS)."
        },
        "labels": {
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Output only. Additional information. Informational only. May change over the lifecycle of a device."
        },
        "availability": {
          "readOnly": true,
          "$ref": "CatalogDeviceAvailability",
          "description": "Output only. Reports the current fleet availability for this device configuration."
        },
        "name": {
          "description": "Identifier. Identifies the device resource. Format: `projects/{project}/locations/{location}/devices/{device}`. The {device} segment is an opaque, stable string. Clients must not parse it to derive or assume device-specific details.",
          "type": "string"
        }
      },
      "id": "CatalogDevice",
      "type": "object",
      "description": "A single routable device configuration in the catalog."
    },
    "GoogleRpcStatus": {
      "type": "object",
      "id": "GoogleRpcStatus",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "JobConfig": {
      "properties": {
        "allocationConfig": {
          "description": "Required. Allocation config.",
          "$ref": "AllocationConfig"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-settable, human-readable name for the job. If set, it must be unique within the session. If not set, the display name will default to `job-`, where `` is the 0-based index of the job in the session formatted as three digits (e.g., job-000, job-001, ...). Maximum size is 63 bytes when encoded as UTF-8. If set, must match regex: `^A-Za-z0-9*$`."
        },
        "action": {
          "$ref": "JobAction",
          "description": "Required. Job action."
        },
        "settings": {
          "description": "Optional. Job settings.",
          "$ref": "JobSettings"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined metadata for tracking or categorization. These labels do not affect job execution and are surfaced in the JobReport. Limits: - Maximum number of entries: 16. - Maximum key size: 32 bytes (UTF-8). - Maximum value size: 1024 bytes (UTF-8).",
          "type": "object"
        }
      },
      "id": "JobConfig",
      "description": "The configuration of a job.",
      "type": "object"
    },
    "IosXcTest": {
      "id": "IosXcTest",
      "properties": {
        "xctestrun": {
          "$ref": "InputFile",
          "description": "Optional. An .xctestrun file that will override the .xctestrun file in the tests zip."
        },
        "testsZip": {
          "description": "Required. The .zip containing the .xctestrun file and the contents of the DerivedData/Build/Products directory.",
          "$ref": "InputFile"
        },
        "xcodeVersion": {
          "description": "Optional. The Xcode version that should be used for the test. If not set, a system-default Xcode version is used. The available Xcode versions can be retrieved from the catalog service.",
          "type": "string"
        },
        "xcTestTimeout": {
          "type": "string",
          "description": "Optional. The timeout of the test. Default value: 5 min. Range: [1 min, 3 hours].",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "The configuration of an iOS XCTest."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "AndroidInstrumentationTestSmartSharding": {
      "type": "object",
      "properties": {
        "targetedShardDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The targeted duration of each shard. Limits: - Must be at least 2 minutes. - Must be at most 3 hours. Shard duration is not guaranteed because smart sharding uses test case history and default durations which may not be accurate. Durations are calculated based on the following inputs: - Timing records from previous runs of the same test case. - For new test cases, the average duration of other known test cases. - A system-chosen, default duration if there are no previous timing records available. Because the actual shard duration can exceed the targeted shard duration, we recommend that you set the targeted value at least 5 minutes less than the maximum allowed instrumentation timeout. This approach avoids cancelling the shard before all tests can finish."
        },
        "maxShardCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of shards to create. If unset or less than 1, system-defined max limits are used. This limit takes precedence if the targeted_shard_duration cannot be satisfied. Limits: - For physical devices, the number of shards must be <= 20. - For virtual devices, the number of shards must be <= 200."
        },
        "timingRecord": {
          "description": "Required. The timing record file to use for smart sharding. If the file does not exist, smart sharding will use default test time (30s) for each test method to shard the job into multiple shards. This file will be overwritten with the latest timing record after the job is completed.",
          "$ref": "InputFile"
        }
      },
      "id": "AndroidInstrumentationTestSmartSharding",
      "description": "The smart sharding strategy to split the job into multiple shards based on the test methods and their recorded execution time."
    },
    "IosPushFilesDeviceAction": {
      "properties": {
        "fileConfigs": {
          "description": "Required. Configs of pushing files to the device. Limits: - A maximum of 50 files are allowed.",
          "items": {
            "$ref": "IosPushFilesDeviceActionFileConfig"
          },
          "type": "array"
        }
      },
      "id": "IosPushFilesDeviceAction",
      "type": "object",
      "description": "Pushes files to the iOS device sandbox at the beginning of the run."
    }
  },
  "name": "devicerun",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "extraLocationTypes": {
                  "type": "string",
                  "location": "query",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "id": "devicerun.projects.locations.list",
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}/locations"
            },
            "get": {
              "description": "Gets information about a location.",
              "path": "v1alpha/{+name}",
              "id": "devicerun.projects.locations.get",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Resource name for the location.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              }
            }
          },
          "resources": {
            "softwareVersions": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns information about a specific software version.",
                  "id": "devicerun.projects.locations.softwareVersions.get",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/softwareVersions/{softwareVersionsId}",
                  "response": {
                    "$ref": "CatalogSoftwareVersion"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/softwareVersions/[^/]+$",
                      "description": "Required. The name of the software version. Format: `projects/{project}/locations/global/softwareVersions/{software_version}`.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET"
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all software versions.",
                  "id": "devicerun.projects.locations.softwareVersions.list",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of software versions to return. The server may return fewer items than this value.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListSoftwareVersions` call. Provide this to receive the subsequent page. When paginating, all other parameters provided to `ListSoftwareVersions` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. An AIP-160 (https://google.aip.dev/160) filter expression restricting which software versions are returned. An empty filter returns all software versions. Filtering is supported over the `SoftwareVersion` fields, including nested fields via dot-path. Enum and string values must be double-quoted. Examples: * `software_type = \"ANDROIDX_TEST_ORCHESTRATOR\"` * `software_type = \"ANDROIDX_TEST_ORCHESTRATOR\" AND is_default = true` * `lifecycle.state = \"ACTIVE\"` * `version = \"1.4.1\"`",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent of the collection of software versions. Format: `projects/{project}/locations/global`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/softwareVersions",
                  "response": {
                    "$ref": "CatalogListSoftwareVersionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/softwareVersions"
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1alpha/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "devicerun.projects.locations.operations.get"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "devicerun.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "id": "devicerun.projects.locations.operations.list",
                  "path": "v1alpha/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  },
                  "httpMethod": "GET"
                },
                "cancel": {
                  "path": "v1alpha/{+name}:cancel",
                  "id": "devicerun.projects.locations.operations.cancel",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                }
              }
            },
            "devices": {
              "methods": {
                "list": {
                  "description": "Lists all devices.",
                  "id": "devicerun.projects.locations.devices.list",
                  "path": "v1alpha/{+parent}/devices",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/devices",
                  "response": {
                    "$ref": "CatalogListDevicesResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of devices to return. The server may return fewer items than this value.",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent of the collection of devices. Format: `projects/{project}/locations/global`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListDevices` call. Provide this to receive the subsequent page. When paginating, all other parameters provided to `ListDevices` must match the call that provided the page token."
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An AIP-160 (https://google.aip.dev/160) filter expression restricting which devices are returned. An empty filter returns all devices. Filtering is supported over the `Device` fields, including nested fields via dot-path. Enum and string values must be double-quoted. Examples: * `platform = \"ANDROID\"` * `platform = \"ANDROID\" AND os_version = \"34\"` * `hardware_type = \"PHYSICAL\" AND form_factor = \"PHONE\"` * `android_details.build_type = \"userdebug\"` * `availability.capacity = \"HIGH\"`",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/devices/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the device. Format: `projects/{project}/locations/global/devices/{device}`.",
                      "location": "path"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Returns information about a specific device.",
                  "id": "devicerun.projects.locations.devices.get",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/devices/{devicesId}",
                  "response": {
                    "$ref": "CatalogDevice"
                  }
                }
              }
            },
            "sessions": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "devicerun.projects.locations.sessions.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a session. This RPC returns immediately and deletion proceeds asynchronously. It will cancel the session at first if it is still running.",
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "requestId": {
                      "description": "Optional. A unique identifier for this request. This request is only idempotent if a `request_id` is provided, i.e. if a request with the same `request_id` is received, then the previous result will be returned. The server will guarantee that for at least 60 minutes after the first request. The value must be a UUID (e.g., 123e4567-e89b-12d3-a456-426655440000). See github.com/google/uuid for more details.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the session. Format: `projects/{project}/locations/{location}/sessions/{session}`."
                    }
                  },
                  "path": "v1alpha/{+name}"
                },
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions",
                  "response": {
                    "$ref": "ListSessionsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent value for ListSessionsRequest The parent of the collection of sessions. Format: `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "orderBy": {
                      "description": "Optional. The order to sort results by. Supported values: `name`, `name desc`, `create_time`, `create_time desc`. Values must use the snake_case field name; `createTime` is not accepted. Ordering by `create_time` is not supported when listing across all locations (`locations/-`). If unspecified, results are returned in an unspecified order.",
                      "location": "query",
                      "type": "string"
                    },
                    "view": {
                      "location": "query",
                      "enum": [
                        "SESSION_VIEW_UNSPECIFIED",
                        "SESSION_VIEW_BASIC",
                        "SESSION_VIEW_FULL"
                      ],
                      "description": "Optional. The view of the sessions to return. If not set, the `BASIC` view will be returned.",
                      "type": "string",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Include basic view of the session but not the full contents. Only the uid/display_name/status/result of the session and its jobs/executions will be included. This is the default value (for GetSession).",
                        "Include everything."
                      ]
[...]
