{
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "basePath": "",
  "discoveryVersion": "v1",
  "documentationLink": "https://docs.cloud.google.com/developer-device-platform/device-run",
  "canonicalName": "Device Run",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                }
              },
              "path": "v1alpha/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "devicerun.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Resource name for the location.",
                  "type": "string"
                }
              },
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "id": "devicerun.projects.locations.get"
            }
          },
          "resources": {
            "sessions": {
              "methods": {
                "delete": {
                  "description": "Deletes a session. This RPC returns immediately and deletion proceeds asynchronously. It will cancel the session at first if it is still running.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A unique identifier for this request. This request is only idempotent if a `request_id` is provided, i.e. if a request with the same `request_id` is received, then the previous result will be returned. The server will guarantee that for at least 60 minutes after the first request. The value must be a UUID (e.g., 123e4567-e89b-12d3-a456-426655440000). See github.com/google/uuid for more details."
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$",
                      "description": "Required. The name of the session. Format: `projects/{project}/locations/{location}/sessions/{session}`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "DELETE",
                  "id": "devicerun.projects.locations.sessions.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "Session"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "devicerun.projects.locations.sessions.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}",
                  "description": "Returns information about a previously created automation session.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the session. Format: `projects/{project}/locations/{location}/sessions/{session}`."
                    },
                    "view": {
                      "type": "string",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Include basic view of the session but not the full contents. Only the uid/display_name/status/result of the session and its jobs/executions will be included. This is the default value (for GetSession).",
                        "Include everything."
                      ],
                      "description": "Optional. The view of the session to return. If not set, the default BASIC view will be returned.",
                      "location": "query",
                      "enum": [
                        "SESSION_VIEW_UNSPECIFIED",
                        "SESSION_VIEW_BASIC",
                        "SESSION_VIEW_FULL"
                      ]
                    }
                  },
                  "path": "v1alpha/{+name}"
                },
                "batchGet": {
                  "description": "Retrieves multiple automation sessions in a single batch request. Sessions are returned in the same order as the `names` in the request. If any of the requested sessions does not exist, the whole request fails with `NOT_FOUND` and no sessions are returned. When calling this method over HTTP/REST with a large number of `names`, the request URL may exceed the maximum URL length (about 16 KB) and be rejected. In that case, send a `POST` request to the same URL with the `X-HTTP-Method-Override: GET` header and pass the request parameters in a JSON (`application/json`) or form-encoded (`application/x-www-form-urlencoded`) body. See https://cloud.google.com/apis/docs/http#long_request_urls.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions:batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource shared by all sessions being retrieved. Format: `projects/{project}/locations/{location}`. The `parent` field in the `BatchGetSessionsRequest` message must match the `parent` of all `Session` resource names in `names`."
                    },
                    "names": {
                      "description": "Required. The names of the sessions to retrieve. A maximum of 500 sessions can be retrieved in a batch. Format: `projects/{project}/locations/{location}/sessions/{session}`.",
                      "location": "query",
                      "type": "string",
                      "repeated": true
                    }
                  },
                  "path": "v1alpha/{+parent}/sessions:batchGet",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "BatchGetSessionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "devicerun.projects.locations.sessions.batchGet"
                },
                "cancel": {
                  "description": "Cancels an in-progress automation session. This RPC returns immediately and cancellation proceeds asynchronously. If the session is already finished, this RPC will have no effect.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}:cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$",
                      "description": "Required. The name of the session. Format: \"projects/{project}/locations/{location}/sessions/{session}\"",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "CancelSessionResponse"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}:cancel",
                  "id": "devicerun.projects.locations.sessions.cancel",
                  "request": {
                    "$ref": "CancelSessionRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions",
                  "response": {
                    "$ref": "ListSessionsResponse"
                  },
                  "path": "v1alpha/{+parent}/sessions",
                  "description": "Lists previously created automation sessions. Sessions may still be in-progress, or may have finished successfully, or unsuccessfully.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of sessions to return. The server may return fewer items than this value. If unspecified, at most 500 sessions will be returned. The maximum value is 1000, values above will be coerced to 1000."
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. Parent value for ListSessionsRequest The parent of the collection of sessions. Format: `projects/{project}/locations/{location}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "view": {
                      "description": "Optional. The view of the sessions to return. If not set, the `BASIC` view will be returned.",
                      "enumDescriptions": [
                        "The default / unset value. The API will default to the BASIC view.",
                        "Include basic view of the session but not the full contents. Only the uid/display_name/status/result of the session and its jobs/executions will be included. This is the default value (for GetSession).",
                        "Include everything."
                      ],
                      "enum": [
                        "SESSION_VIEW_UNSPECIFIED",
                        "SESSION_VIEW_BASIC",
                        "SESSION_VIEW_FULL"
                      ],
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListSessions` call. Provide this to receive the subsequent page. When paginating, all other parameters provided to `ListSessions` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. The raw filter text to constrain the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The order to sort results by. Supported values: `name`, `name desc`, `create_time`, `create_time desc`. Values must use the snake_case field name; `createTime` is not accepted. Ordering by `create_time` is not supported when listing across all locations (`locations/-`). If unspecified, results are returned in an unspecified order."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "devicerun.projects.locations.sessions.list",
                  "httpMethod": "GET"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sessions",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource where this session will be created. Format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "sessionId": {
                      "type": "string",
                      "description": "Optional. The ID to use for the session, which will become the final component of the resource name. If not provided, the server will generate a value for this field. When provided, this value must be between 4 and 63 characters, and match the following regex: ^a-z{2,61}[a-z0-9]$.",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. This request is only idempotent if a `request_id` is provided, i.e. if a request with the same `request_id` is received, then the previous result will be returned. The server will guarantee that for at least 60 minutes after the first request. The value must be a UUID (e.g., 123e4567-e89b-12d3-a456-426655440000). See github.com/google/uuid for more details."
                    }
                  },
                  "path": "v1alpha/{+parent}/sessions",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "description": "Starts an automation session with the specified configuration. This method returns a long-running `Operation`, awaiting the completion of all jobs in the session.",
                  "id": "devicerun.projects.locations.sessions.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Session"
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "id": "devicerun.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1alpha/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                },
                "list": {
                  "path": "v1alpha/{+name}/operations",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "devicerun.projects.locations.operations.list",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size."
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource."
                    }
                  },
                  "id": "devicerun.projects.locations.operations.get",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "devicerun.projects.locations.operations.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "devices": {
              "methods": {
                "list": {
                  "description": "Lists all devices.",
                  "path": "v1alpha/{+parent}/devices",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent of the collection of devices. Format: `projects/{project}/locations/global`."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListDevices` call. Provide this to receive the subsequent page. When paginating, all other parameters provided to `ListDevices` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. An AIP-160 (https://google.aip.dev/160) filter expression restricting which devices are returned. An empty filter returns all devices. Filtering is supported over the `Device` fields, including nested fields via dot-path. Enum and string values must be double-quoted. Examples: * `platform = \"ANDROID\"` * `platform = \"ANDROID\" AND os_version = \"34\"` * `hardware_type = \"PHYSICAL\" AND form_factor = \"PHONE\"` * `android_details.build_type = \"userdebug\"` * `availability.capacity = \"HIGH\"`",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of devices to return. The server may return fewer items than this value.",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "devicerun.projects.locations.devices.list",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/devices",
                  "response": {
                    "$ref": "CatalogListDevicesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "CatalogDevice"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/devices/{devicesId}",
                  "id": "devicerun.projects.locations.devices.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/devices/[^/]+$",
                      "description": "Required. The name of the device. Format: `projects/{project}/locations/global/devices/{device}`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Returns information about a specific device."
                }
              }
            },
            "softwareVersions": {
              "methods": {
                "get": {
                  "id": "devicerun.projects.locations.softwareVersions.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/softwareVersions/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the software version. Format: `projects/{project}/locations/global/softwareVersions/{software_version}`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns information about a specific software version.",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/softwareVersions/{softwareVersionsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "CatalogSoftwareVersion"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of software versions to return. The server may return fewer items than this value."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListSoftwareVersions` call. Provide this to receive the subsequent page. When paginating, all other parameters provided to `ListSoftwareVersions` must match the call that provided the page token."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. An AIP-160 (https://google.aip.dev/160) filter expression restricting which software versions are returned. An empty filter returns all software versions. Filtering is supported over the `SoftwareVersion` fields, including nested fields via dot-path. Enum and string values must be double-quoted. Examples: * `software_type = \"ANDROIDX_TEST_ORCHESTRATOR\"` * `software_type = \"ANDROIDX_TEST_ORCHESTRATOR\" AND is_default = true` * `lifecycle.state = \"ACTIVE\"` * `version = \"1.4.1\"`",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent of the collection of software versions. Format: `projects/{project}/locations/global`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1alpha/{+parent}/softwareVersions",
                  "response": {
                    "$ref": "CatalogListSoftwareVersionsResponse"
                  },
                  "description": "Lists all software versions.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "devicerun.projects.locations.softwareVersions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/softwareVersions"
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "description": "The Device Run API allows management, scheduling, and execution of automated sessions and workloads across device catalogs.",
  "version_module": true,
  "rootUrl": "https://devicerun.googleapis.com/",
  "revision": "20261006",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "id": "devicerun:v1alpha",
  "batchPath": "batch",
  "baseUrl": "https://devicerun.googleapis.com/",
  "title": "Device Run API",
  "schemas": {
    "RetrySettings": {
      "type": "object",
      "description": "Retry settings.",
      "properties": {
        "flakyTestRetryStrategy": {
          "description": "Optional. The default retry strategy. Allows an Execution to retry on test failures and infrastructure errors.",
          "$ref": "RetrySettingsFlakyTestRetryStrategy"
        }
      },
      "id": "RetrySettings"
    },
    "OutputFile": {
      "id": "OutputFile",
      "description": "Output file.",
      "properties": {
        "gcsOutputFile": {
          "$ref": "GcsPath",
          "description": "An output file in Google Cloud Storage."
        }
      },
      "type": "object"
    },
    "AndroidInstallPackagesDeviceAction": {
      "id": "AndroidInstallPackagesDeviceAction",
      "description": "Installs Android packages on the device. At least one installable is specified when using this device action. Limits: - A maximum of 20 installables in total are allowed. - A maximum of 100 files are allowed in total across all installables.",
      "type": "object",
      "properties": {
        "preTargetAppInstallables": {
          "items": {
            "$ref": "AndroidInstallable"
          },
          "description": "Optional. The Android packages to install on the device before `target_app` (if specified) is installed. The installation will be performed in the order specified.",
          "type": "array"
        },
        "installables": {
          "description": "Optional. Deprecated: use `pre_target_app_installables`, `target_app` and `post_target_app_installables` instead. The Android packages to install on the device. The installation will be performed in the order specified, before the installables of all other fields.",
          "items": {
            "$ref": "AndroidInstallable"
          },
          "type": "array",
          "deprecated": true
        },
        "postTargetAppInstallables": {
          "items": {
            "$ref": "AndroidInstallable"
          },
          "description": "Optional. The Android packages to install on the device after `target_app` (if specified) is installed. The installation will be performed in the order specified.",
          "type": "array"
        },
        "targetApp": {
          "$ref": "AndroidInstallable",
          "description": "Optional. The primary Android package to install, serving as the target package for subsequent actions and as the installation ordering anchor. Whether this package is treated as the application under test depends on the job action: - Actions that require an explicit target package (such as performance metrics collection, or accessibility scans) use this package to identify the application to inspect or drive. - Actions that discover or manage targets independently (such as Android instrumentation tests, where target packages are defined in the test runner manifest) treat this field primarily as an installation order anchor between pre- and post-installables. Optional. If omitted, all packages in `pre_target_app_installables` and `post_target_app_installables` are installed without a designated target package."
        }
      }
    },
    "DeviceConfig": {
      "properties": {
        "requirement": {
          "description": "Required. The requirement of the device.",
          "$ref": "DeviceRequirement"
        },
        "actions": {
          "type": "array",
          "description": "Optional. The actions to be performed on the device. Actions will be executed in the order they are specified in the list. Each action type can at most have 1 instance in the list.",
          "items": {
            "$ref": "DeviceAction"
          }
        }
      },
      "description": "The configuration of a run on a device.",
      "id": "DeviceConfig",
      "type": "object"
    },
    "AndroidPushFilesDeviceActionFileConfig": {
      "type": "object",
      "properties": {
        "destinationPath": {
          "description": "Required. The destination path on the device.",
          "type": "string"
        },
        "sourceFile": {
          "$ref": "InputFile",
          "description": "Required. The file to be pushed to the device."
        }
      },
      "id": "AndroidPushFilesDeviceActionFileConfig",
      "description": "The configuration of pushing a file to the device."
    },
    "SessionReport": {
      "type": "object",
      "properties": {
        "status": {
          "readOnly": true,
          "description": "Output only. The status of the session.",
          "$ref": "Status"
        },
        "jobReports": {
          "items": {
            "$ref": "JobReport"
          },
          "readOnly": true,
          "description": "Output only. Reports of the jobs in the session.",
          "type": "array"
        },
        "result": {
          "$ref": "Result",
          "description": "Output only. The result of the session.",
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the session."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The start time of the session.",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The end time of the session."
        }
      },
      "description": "The runtime information and result report of a session.",
      "id": "SessionReport"
    },
    "AndroidInstrumentationTestUniformSharding": {
      "type": "object",
      "description": "Uniformly shards test cases given a total number of shards. It will be translated to `-e numShard` and `-e shardIndex` AndroidJUnitRunner arguments. With uniform sharding enabled, specifying either of these sharding arguments via `environment_variables` is invalid. Based on the sharding mechanism AndroidJUnitRunner uses, there is no guarantee that test cases will be distributed uniformly across all shards.",
      "properties": {
        "shardCount": {
          "type": "integer",
          "description": "Required. The total number of shards to create. This must always be a positive number that is no greater than the total number of test cases. Limits: - For physical devices, the number of shards must be <= 20. - For virtual devices, the number of shards must be <= 200.",
          "format": "int32"
        }
      },
      "id": "AndroidInstrumentationTestUniformSharding"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "progressMessages": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Human-readable, detailed descriptions of the session/job/execution's progress. For example: \"Provisioning a device\", \"Starting Test\". Each message should contain only one line of text. During the course of execution new data may be appended to the end of progress_messages."
        },
        "statusType": {
          "enum": [
            "STATUS_TYPE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "SUSPENDED"
          ],
          "description": "Output only. The status type of the session/job/execution.",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown status type.",
            "The session/job/execution is pending, not started yet.",
            "The session/job/execution is running.",
            "The session/job/execution is finished.",
            "The session/job/execution is suspended due to quota issues."
          ],
          "type": "string"
        }
      },
      "description": "The status of a session/job/execution.",
      "type": "object"
    },
    "Location": {
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    },
    "SessionConfigSessionOutputFileDirectoryConfig": {
      "properties": {
        "flatDirectoryStructure": {
          "description": "Optional. Whether to write output files directly under the output directory instead of nesting them under service-generated subdirectories. By default (`false`), output files are stored under `////`. When `true`, the session ID subdirectory is never appended, and the job display name subdirectory is appended only when the session has more than one job. Output files are therefore stored under: - `//` for a single-job session. - `///` for a multi-job session. Set this to `true` when the output directory is already unique per session (for example, when a CI system generates it), to avoid redundant nesting.",
          "type": "boolean"
        },
        "gcsOutputDirectory": {
          "$ref": "GcsPath",
          "description": "The Google Cloud Storage path of the output directory (e.g. `gs://my-bucket/output`). The bucket must exist. If the bucket is located in another project or uses fine-grained access controls, ensure the Device Run Service Agent of the project (`service-@gcp-sa-devicerun.iam.gserviceaccount.com`) is granted access to the bucket (such as `roles/storage.objectUser`)."
        }
      },
      "type": "object",
      "id": "SessionConfigSessionOutputFileDirectoryConfig",
      "description": "Config to control session output file directory."
    },
    "CatalogAutomationSupport": {
      "properties": {},
      "type": "object",
      "id": "CatalogAutomationSupport",
      "description": "Per-product metadata for the Automation (DeviceRun) product."
    },
    "IssueSummary": {
      "type": "object",
      "description": "Describes the summary of an issue (error or warning) with structured details.",
      "properties": {
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable explanation of the issue in English."
        },
        "type": {
          "description": "Output only. The issue classification based on responsibility.",
          "readOnly": true,
          "enum": [
            "ISSUE_TYPE_UNSPECIFIED",
            "INFRA",
            "CUSTOMER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified issue type. This value is unused.",
            "Platform infrastructure or operational execution environment failure.",
            "Customer test script failure, malformed APK, or bad user configuration."
          ]
        },
        "reason": {
          "readOnly": true,
          "description": "Output only. The reason of the issue. This is a constant value that identifies the proximate cause of the issue. This should be at most 63 characters and match a regular expression of `A-Z*[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        }
      },
      "id": "IssueSummary"
    },
    "AndroidSwitchLocaleDeviceAction": {
      "description": "Switches the locale (language and region) of the device.",
      "properties": {
        "localeCode": {
          "description": "Required. The locale (language and region) to switch the device to. The format is `language-region`, e.g. \"en-US\", \"zh-CN\", etc. The typical language value is a two or three-letter language code as defined in ISO639. The typical region value is a two-letter ISO 3166 code or a three-digit UN M.49 area code.",
          "type": "string"
        }
      },
      "id": "AndroidSwitchLocaleDeviceAction",
      "type": "object"
    },
    "CatalogXcodeDetails": {
      "type": "object",
      "id": "CatalogXcodeDetails",
      "properties": {
        "supportedIosVersions": {
          "readOnly": true,
          "description": "Output only. Lists the iOS versions this Xcode can run tests against, e.g. \"16.6\". This is a property of the toolchain, so it says nothing about whether a device on that iOS version is available; list the `Device` collection to find out.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Xcode-specific attributes."
    },
    "AndroidPullFilesDeviceAction": {
      "type": "object",
      "properties": {
        "paths": {
          "description": "Required. Absolute directory or file paths to pull from the device. Limits: - A maximum of 10 paths are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Pulls directories and files from the device at the end of the run. Files will be copied to the '/artifacts' directory, with the absolute path structure preserved. Note that: 1. A clean device is provided for the run. 2. Any existing files in the output directory may be overwritten. 3. Pulling files is best effort. Will skip files if they don't exist on the device.",
      "id": "AndroidPullFilesDeviceAction"
    },
    "AndroidRecordVideoDeviceAction": {
      "properties": {
        "discardOnPass": {
          "type": "boolean",
          "description": "Optional. Whether to discard and not upload the recording when the test passes. Default is false."
        }
      },
      "id": "AndroidRecordVideoDeviceAction",
      "type": "object",
      "description": "Records a video of the device screen during the run. The video will be written to a file named `video.mp4` in the execution output directory."
    },
    "CatalogDeviceAvailability": {
      "id": "CatalogDeviceAvailability",
      "description": "Fleet availability for a device configuration.",
      "type": "object",
      "properties": {
        "capacity": {
          "enumDescriptions": [
            "The value of device capacity is unknown or unset.",
            "No online devices of this configuration. These devices are unavailable either temporarily or permanently and should not be requested. If the device is also marked as deprecated, this state is very likely permanent.",
            "Devices that are low in capacity (the lab has a small number of these devices). These devices may be used if users need to test on this specific device model and version. Please note that due to low capacity, the tests may take much longer to finish, especially if a large number of tests are invoked at once. These devices are not suitable for test sharding.",
            "Devices that are medium in capacity (the lab has a decent number of these devices, though not as many as high capacity devices). These devices are suitable for fewer test runs (e.g. fewer than 100 tests) and only for low shard counts (e.g. less than 10 shards).",
            "Devices that are high in capacity (the lab has a large number of these devices). These devices are generally suggested for running a large number of simultaneous tests (e.g. more than 100 tests). Please note that high capacity devices do not guarantee short wait times due to several factors: 1. Traffic (how heavily they are used at any given moment). 2. High capacity devices are prioritized for certain usages, which may cause user tests to be slower than selecting other similar device types."
          ],
          "type": "string",
          "description": "Output only. Specifies the current capacity bucket for this device configuration. Represents the total number of online devices (idle or in use).",
          "enum": [
            "CAPACITY_UNSPECIFIED",
            "CAPACITY_NONE",
            "CAPACITY_LOW",
            "CAPACITY_MEDIUM",
            "CAPACITY_HIGH"
          ],
          "readOnly": true
        },
        "available": {
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "AVAILABILITY_NONE",
            "AVAILABILITY_LOW",
            "AVAILABILITY_MEDIUM",
            "AVAILABILITY_HIGH"
          ],
          "readOnly": true,
          "description": "Output only. Specifies the current availability bucket (idle, immediately allocatable devices) for this device configuration. This is a best-effort snapshot, refreshed periodically. It fluctuates depending on traffic as other requests allocate devices.",
          "enumDescriptions": [
            "The value of availability is unknown or unset.",
            "No devices of this configuration are currently idle. A request can still be made, but it will queue until a device frees up. Expect longer wait times, and avoid requesting many devices at once (e.g. high shard counts).",
            "A small number of devices are currently idle. Suitable for a few concurrent requests. Larger bursts (e.g. many shards) may queue until devices free up.",
            "A moderate number of devices are currently idle. Suitable for a moderate number of concurrent requests. Very large bursts may still queue.",
            "Many devices are currently idle. Suitable for a large number of concurrent requests with little to no queueing at the moment of observation."
          ],
          "type": "string"
        }
      }
    },
    "CatalogIosDeviceDetails": {
      "id": "CatalogIosDeviceDetails",
      "description": "iOS-specific device attributes. Reserved for future iOS-only fields.",
      "properties": {},
      "type": "object"
    },
    "IosXcTest": {
      "type": "object",
      "properties": {
        "xcTestTimeout": {
          "description": "Optional. The timeout of the test. Default value: 5 min. Range: [1 min, 3 hours].",
          "type": "string",
          "format": "google-duration"
        },
        "xctestrun": {
          "$ref": "InputFile",
          "description": "Optional. An .xctestrun file that will override the .xctestrun file in the tests zip."
        },
        "testsZip": {
          "description": "Required. The .zip containing the .xctestrun file and the contents of the DerivedData/Build/Products directory.",
          "$ref": "InputFile"
        },
        "xcodeVersion": {
          "type": "string",
          "description": "Optional. The Xcode version that should be used for the test. If not set, a system-default Xcode version is used. The available Xcode versions can be retrieved from the catalog service."
        }
      },
      "id": "IosXcTest",
      "description": "The configuration of an iOS XCTest."
    },
    "IosPullFilesDeviceAction": {
      "properties": {
        "paths": {
          "description": "Required. Absolute directory or file paths to pull from the device. Limits: - A maximum of 10 paths are allowed.",
          "items": {
            "$ref": "IosPullFilesDeviceActionPathConfig"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Pulls directories and files from the iOS device sandbox at the end of the run.",
      "id": "IosPullFilesDeviceAction"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "GoogleLongrunningCancelOperationRequest"
    },
    "CatalogDevice": {
      "type": "object",
      "description": "A single routable device configuration in the catalog.",
      "id": "CatalogDevice",
      "properties": {
        "modelCode": {
          "type": "string",
          "description": "Output only. Provides a human-readable model identifier for this device, independent of OS version. May be empty. Platform-dependent: * Android physical: hardware codename (android.os.Build.DEVICE), e.g. \"shiba\". * Android virtual: AVD model identifier, e.g. \"MediumPhone.arm\". * iOS: model identifier, e.g. \"iphone14pro\".",
          "readOnly": true
        },
        "accessDeniedReasons": {
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "Reason not specified.",
              "The device is hosted in a partner lab whose end user license agreement the project has not accepted."
            ],
            "type": "string",
            "enum": [
              "ACCESS_DENIED_REASON_UNSPECIFIED",
              "EULA_NOT_ACCEPTED"
            ]
          },
          "type": "array",
          "description": "Output only. Reasons for access denial. This model is accessible/usable if this list is empty, otherwise the model is viewable only."
        },
        "supportedProducts": {
          "items": {
            "$ref": "CatalogSupportedProduct"
          },
          "description": "Output only. Products/Services supported by this device.",
          "type": "array",
          "readOnly": true
        },
        "formFactor": {
          "readOnly": true,
          "enumDescriptions": [
            "Form factor not specified.",
            "Phone.",
            "Tablet.",
            "Wearable (e.g. watch).",
            "TV."
          ],
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE",
            "TV"
          ],
          "type": "string",
          "description": "Output only. Specifies the form factor of the device."
        },
        "labels": {
          "description": "Output only. Additional information. Informational only. May change over the lifecycle of a device.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "type": "object"
        },
        "primaryScreen": {
          "$ref": "CatalogScreenMetrics",
          "readOnly": true,
          "description": "Output only. Measurements of the primary device screen. Informational only. Unset for devices without a screen (e.g. some wearables)."
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Provides a human-readable display name, e.g. \"Pixel 5\"."
        },
        "platform": {
          "enumDescriptions": [
            "Platform not specified.",
            "Android.",
            "iOS."
          ],
          "type": "string",
          "description": "Output only. Specifies the platform of the device.",
          "readOnly": true,
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "ANDROID",
            "IOS"
          ]
        },
        "osVersion": {
          "description": "Output only. Specifies the OS version, e.g. \"30\" (Android API level) or \"17.4\" (iOS).",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Identifies the device resource. Format: `projects/{project}/locations/{location}/devices/{device}`. The {device} segment is an opaque, stable string. Clients must not parse it to derive or assume device-specific details.",
          "type": "string"
        },
        "labInfo": {
          "$ref": "CatalogLabInfo",
          "readOnly": true,
          "description": "Output only. The lab hosting this device."
        },
        "iosDetails": {
          "$ref": "CatalogIosDeviceDetails",
          "description": "Output only. Contains iOS-specific attributes (set when platform == IOS).",
          "readOnly": true
        },
        "hardwareType": {
          "enum": [
            "HARDWARE_TYPE_UNSPECIFIED",
            "PHYSICAL",
            "VIRTUAL"
          ],
          "description": "Output only. Indicates whether the device is physical or virtual.",
          "type": "string",
          "enumDescriptions": [
            "Hardware type not specified.",
            "Physical hardware device.",
            "Virtual device (emulator / simulator)."
          ],
          "readOnly": true
        },
        "availability": {
          "readOnly": true,
          "$ref": "CatalogDeviceAvailability",
          "description": "Output only. Reports the current fleet availability for this device configuration."
        },
        "manufacturer": {
          "description": "Output only. Specifies the hardware manufacturer of the device.",
          "readOnly": true,
          "type": "string"
        },
        "androidDetails": {
          "description": "Output only. Contains Android-specific attributes (set when platform == ANDROID).",
          "$ref": "CatalogAndroidDeviceDetails",
          "readOnly": true
        },
        "lifecycle": {
          "$ref": "CatalogLifecycle",
          "readOnly": true,
          "description": "Output only. The device lifecycle (maturity stage and removal date)."
        }
      }
    },
    "JobConfig": {
      "properties": {
        "settings": {
          "description": "Optional. Job settings.",
          "$ref": "JobSettings"
        },
        "allocationConfig": {
          "$ref": "AllocationConfig",
          "description": "Required. Allocation config."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined metadata for tracking or categorization. These labels do not affect job execution and are surfaced in the JobReport. Limits: - Maximum number of entries: 16. - Maximum key size: 32 bytes (UTF-8). - Maximum value size: 1024 bytes (UTF-8).",
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-settable, human-readable name for the job. If set, it must be unique within the session. If not set, the display name will default to `job-`, where `` is the 0-based index of the job in the session formatted as three digits (e.g., job-000, job-001, ...). Maximum size is 63 bytes when encoded as UTF-8. If set, must match regex: `^A-Za-z0-9*$`."
        },
        "action": {
          "description": "Required. Job action.",
          "$ref": "JobAction"
        }
      },
      "id": "JobConfig",
      "type": "object",
      "description": "The configuration of a job."
    },
    "CancelSessionResponse": {
      "description": "Response of the cancel session request.",
      "type": "object",
      "id": "CancelSessionResponse",
      "properties": {
        "cancelResult": {
          "enumDescriptions": [
            "Unspecified cancel result.",
            "The session is marked as cancelled, but has not finished yet.",
            "The session is finished, either by itself or by the cancel request."
          ],
          "type": "string",
          "description": "The result of the request.",
          "enum": [
            "CANCEL_RESULT_UNSPECIFIED",
            "SESSION_MARKED_AS_CANCELLED",
            "SESSION_FINISHED"
          ]
        }
      }
    },
    "IosSwitchLocaleDeviceAction": {
      "properties": {
        "localeCode": {
          "description": "Required. The locale (language and region) to switch the app to. The format is `language-region` or `language`, e.g. \"en-US\", \"zh-CN\", \"ja\", etc.",
          "type": "string"
        }
      },
      "id": "IosSwitchLocaleDeviceAction",
      "description": "Switches the locale (language and region) of the iOS application.",
      "type": "object"
    },
    "BatchGetSessionsResponse": {
      "properties": {
        "sessions": {
          "items": {
            "$ref": "Session"
          },
          "description": "The requested sessions, in the same order as the `names` in the request.",
          "type": "array"
        }
      },
      "id": "BatchGetSessionsResponse",
      "description": "Response including the requested sessions.",
      "type": "object"
    },
    "AndroidBugreportDeviceAction": {
      "id": "AndroidBugreportDeviceAction",
      "description": "Captures a bugreport from the device. The output will be written to a file named `bugreport.zip` in the execution output directory.",
      "type": "object",
      "properties": {
        "collectOnPass": {
          "description": "Optional. Whether to deliver the bugreport when the test passes. If false, the bugreport is skipped on pass to save time (default behavior). If true, the bugreport is always delivered.",
          "type": "boolean"
        }
      }
    },
    "AndroidPushFilesDeviceAction": {
      "description": "Pushes files to the device at the beginning of the run. Files are overwritten if a file with the same path already exists on the device, if device permissions allow.",
      "properties": {
        "fileConfigs": {
          "type": "array",
          "items": {
            "$ref": "AndroidPushFilesDeviceActionFileConfig"
          },
          "description": "Required. Configs of pushing files to the device. Limits: - A maximum of 50 files are allowed."
        }
      },
      "type": "object",
      "id": "AndroidPushFilesDeviceAction"
    },
    "Date": {
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "DeviceRequirement": {
      "description": "The requirement of a device.",
      "type": "object",
      "id": "DeviceRequirement",
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "The device ID of a device in the catalog. The device ID is the last part of a device's resource name."
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "JobReport": {
      "type": "object",
      "id": "JobReport",
      "description": "The runtime information and result report of a job.",
      "properties": {
        "executionReports": {
          "items": {
            "$ref": "ExecutionReport"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Reports of the execution attempts of the job."
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display_name set by users in the JobConfig."
        },
        "result": {
          "readOnly": true,
          "description": "Output only. The result of the job.",
          "$ref": "Result"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The start time of the job."
        },
        "outputFiles": {
          "items": {
            "$ref": "OutputFile"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The output files of the job."
        },
        "labels": {
          "description": "Output only. The original labels provided by the user during job creation.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "id": {
          "description": "Output only. The unique identifier of the job.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The end time of the job."
        },
        "status": {
          "description": "Output only. The status of the job.",
          "readOnly": true,
          "$ref": "Status"
        },
        "warnings": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Non-fatal warnings collected during the job.",
          "items": {
            "$ref": "Warning"
          }
        }
      }
    },
    "ResultCause": {
      "properties": {
        "summary": {
          "description": "Output only. Structured cause detail.",
          "readOnly": true,
          "$ref": "IssueSummary"
        }
      },
      "id": "ResultCause",
      "type": "object",
      "description": "Describes the cause of the non-passed result occurred during the execution."
    },
    "Warning": {
      "id": "Warning",
      "description": "Non-fatal operational anomaly, lint observation, or execution insight.",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Output only. Detailed warning summary.",
          "$ref": "IssueSummary",
          "readOnly": true
        }
      }
    },
    "CatalogAndroidxTestOrchestratorDetails": {
      "properties": {},
      "type": "object",
      "id": "CatalogAndroidxTestOrchestratorDetails",
      "description": "AndroidX Test Orchestrator-specific attributes. Reserved for future orchestrator-only fields."
    },
    "CatalogLifecycle": {
      "description": "Catalog resource lifecycle: maturity state plus key lifecycle dates.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. Specifies the current maturity state of the resource.",
          "enumDescriptions": [
            "State not specified.",
            "Early access. This resource may have reduced stability and availability.",
            "Generally available.",
            "Still usable, but scheduled for removal."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PREVIEW",
            "ACTIVE",
            "DEPRECATED"
          ],
          "readOnly": true
        },
        "removalDate": {
          "readOnly": true,
          "description": "Output only. Specifies the date the resource is scheduled to be removed from the catalog. Only set when `state == DEPRECATED`.",
          "$ref": "Date"
        }
      },
      "id": "CatalogLifecycle"
    },
    "AndroidNativeBinary": {
      "description": "The configuration of an Android native binary execution.",
      "type": "object",
      "properties": {
        "executionTimeout": {
          "format": "google-duration",
          "description": "Optional. The timeout of the execution. Default value: 5 min. Range: [1 min, 3 hours].",
          "type": "string"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Arguments for running the binary file. The flags will be appended to the command line that invokes the binary. Limits: - Maximum number of entries: 64 - Maximum entry size: 1024 bytes (UTF-8)"
        },
        "androidNativeBinary": {
          "$ref": "InputFile",
          "description": "Required. The file path of the Android native binary."
        },
        "envVars": {
          "type": "object",
          "description": "Optional. A map of environment variables to set for the binary process. The keys are the variable names and the values are the variable values. Limits: - Maximum number of entries: 32 - Maximum key size: 64 bytes (UTF-8) - Key regex: `a-zA-Z_*` - Maximum value size: 1024 bytes (UTF-8)",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "AndroidNativeBinary"
    },
    "ListSessionsResponse": {
      "type": "object",
      "id": "ListSessionsResponse",
      "description": "Response including listed sessions.",
      "properties": {
        "sessions": {
          "description": "The list of sessions.",
          "items": {
            "$ref": "Session"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Sessions that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to receive the next page of sessions. This will be absent if the end of the response list has been reached."
        }
      }
    },
    "GcsPath": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. The Google Cloud Storage path of the file or directory. Format: `gs:///`."
        }
      },
      "description": "A path to a file or directory in Google Cloud Storage.",
      "id": "GcsPath"
    },
    "SessionConfigSessionNotificationConfig": {
      "description": "Config to control session notification.",
      "properties": {
        "pubsubTopic": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The Pub/Sub topics to which session events are published. Format: `projects/{project}/topics/{topic}`. See https://cloud.google.com/pubsub/docs/admin#topic_and_subscription_name_restrictions"
        }
      },
      "id": "SessionConfigSessionNotificationConfig",
      "type": "object"
    },
    "SessionConfig": {
      "properties": {
        "notificationConfig": {
          "$ref": "SessionConfigSessionNotificationConfig",
          "description": "Optional. Notification config for the session."
        },
        "displayName": {
          "description": "Optional. User-settable, human-readable name for the session. Maximum size is 63 bytes when encoded as UTF-8. If set, must match regex: `^A-Za-z0-9*$`.",
          "type": "string"
        },
        "jobConfigs": {
          "items": {
            "$ref": "JobConfig"
          },
          "type": "array",
          "description": "Required. Configs of the jobs in the session."
        },
        "outputDirectoryConfig": {
          "description": "Required. Output file directory config for the session.",
          "$ref": "SessionConfigSessionOutputFileDirectoryConfig"
        }
      },
      "description": "SessionConfig is used to create a session.",
      "type": "object",
      "id": "SessionConfig"
    },
    "IosPushFilesDeviceAction": {
      "description": "Pushes files to the iOS device sandbox at the beginning of the run.",
      "type": "object",
      "id": "IosPushFilesDeviceAction",
      "properties": {
        "fileConfigs": {
          "items": {
            "$ref": "IosPushFilesDeviceActionFileConfig"
          },
          "type": "array",
          "description": "Required. Configs of pushing files to the device. Limits: - A maximum of 50 files are allowed."
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "IosRecordVideoDeviceAction": {
      "description": "Records a video of the iOS device screen during the run. The video will be written to a file named `video.mp4` in the execution output directory.",
      "id": "IosRecordVideoDeviceAction",
      "type": "object",
      "properties": {
        "discardOnPass": {
          "type": "boolean",
          "description": "Optional. Whether to discard the video if the test passes. If not specified, the default is false (always keep the video)."
        }
      }
    },
    "AndroidInstallable": {
      "properties": {
        "files": {
          "type": "array",
          "description": "Required. Files that make up the package. Supported formats are distinguished by their file extension: - APK: One or more files with extension `.apk`. - App Bundle: A single file with extension `.aab`. - APK Set: A single file with extension `.apks`.",
          "items": {
            "$ref": "InputFile"
          }
        }
      },
      "description": "An Android Installable represents the file(s) for installing an Android package on a device. This can be an APK, an Android App Bundle (AAB), or an APK Set.",
      "id": "AndroidInstallable",
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Result": {
      "id": "Result",
      "properties": {
        "cause": {
          "readOnly": true,
          "description": "Output only. Detailed result cause diagnostics. Set if type is not PASSED.",
          "$ref": "ResultCause"
        },
        "resultType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown result type.",
            "Finished and passed.",
            "Finished but failed. It is usually caused by the user config, problematic test cases, or real bugs of their apps/platform under test.",
            "Unclassified error, can be caused by user config/tests/AUT, infra, or the tools that the infra is depending on.",
            "Test timeout.",
            "Test is aborted by user."
          ],
          "description": "Output only. The result type of the session/job/execution.",
          "enum": [
            "RESULT_TYPE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "ERROR",
            "TIMED_OUT",
            "CANCELLED"
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The result of a session/job/execution."
    },
    "AllocationConfig": {
      "properties": {
        "deviceConfigs": {
          "description": "Required. At least one device config is required. If more than one device config is required, the multiple devices are allocated to each shard of the OmniLab job to run multi-device-interaction tests.",
          "type": "array",
          "items": {
            "$ref": "DeviceConfig"
          }
        }
      },
      "description": "Allocation config.",
      "type": "object",
      "id": "AllocationConfig"
    },
    "AndroidOrientationDeviceAction": {
      "description": "Sets the orientation of the device.",
      "type": "object",
      "properties": {
        "orientation": {
          "description": "Required. The orientation to set the device to. One of `portrait` or `landscape`.",
          "type": "string"
        }
      },
      "id": "AndroidOrientationDeviceAction"
    },
    "CatalogListDevicesResponse": {
      "id": "CatalogListDevicesResponse",
      "type": "object",
      "description": "Response including listed devices.",
      "properties": {
        "devices": {
          "type": "array",
          "description": "The list of devices.",
          "items": {
            "$ref": "CatalogDevice"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to receive the next page of devices. This will be absent if the end of the response list has been reached."
        }
      }
    },
    "InputFile": {
      "id": "InputFile",
      "type": "object",
      "properties": {
        "gcsInputFile": {
          "$ref": "GcsPath",
          "description": "An input file in Google Cloud Storage."
        }
      },
      "description": "Input file."
    },
    "IosPushFilesDeviceActionFileConfig": {
      "properties": {
        "bundleId": {
          "description": "Required. The bundle ID of the application sandbox.",
          "type": "string"
        },
        "sourceFile": {
          "description": "Required. The file to be pushed.",
          "$ref": "InputFile"
        },
        "destinationPath": {
          "description": "Required. The destination path relative to the app sandbox, e.g. \"/Documents/file.txt\".",
          "type": "string"
        }
      },
      "id": "IosPushFilesDeviceActionFileConfig",
      "type": "object",
      "description": "The configuration of pushing a file to the iOS device."
    },
    "AndroidLogcatDeviceAction": {
      "id": "AndroidLogcatDeviceAction",
      "description": "Collects logcat output from the device. The output will be written to a file named `logcat.txt` in the execution output directory.",
      "type": "object",
      "properties": {}
    },
    "LatLng": {
      "id": "LatLng",
      "properties": {
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double",
          "type": "number"
        },
        "latitude": {
          "format": "double",
          "type": "number",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
        }
      },
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "type": "object"
    },
    "CatalogSoftwareVersion": {
      "type": "object",
      "description": "A single software version in the catalog.",
      "id": "CatalogSoftwareVersion",
      "properties": {
        "name": {
          "description": "Identifier. Identifies the software version resource. Format: `projects/{project}/locations/{location}/softwareVersions/{software_version}`. The {software_version} segment is an opaque, stable string. Clients must not parse it to derive or assume the version.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Provides a human-readable name for this version, e.g. \"AndroidX Test Orchestrator 1.4.1\".",
          "readOnly": true
        },
        "isDefault": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the system uses this version when a request does not select one explicitly. Exactly one version per `software_type` is the default, and it may change over time."
        },
        "xcodeDetails": {
          "readOnly": true,
          "description": "Output only. Contains Xcode-specific attributes (set when software_type == XCODE).",
          "$ref": "CatalogXcodeDetails"
        },
        "androidxTestOrchestratorDetails": {
          "$ref": "CatalogAndroidxTestOrchestratorDetails",
          "description": "Output only. Contains AndroidX Test Orchestrator-specific attributes (set when software_type == ANDROIDX_TEST_ORCHESTRATOR).",
          "readOnly": true
        },
        "softwareType": {
          "readOnly": true,
          "enum": [
            "SOFTWARE_TYPE_UNSPECIFIED",
            "ANDROIDX_TEST_ORCHESTRATOR",
            "XCODE"
          ],
          "enumDescriptions": [
            "Software type not specified.",
            "AndroidX Test Orchestrator, which runs each Android instrumentation test case in its own process.",
            "Apple Xcode, the toolchain that builds and runs iOS XCTests."
          ],
          "description": "Output only. Specifies which software this is a version of. Filter on this field to narrow the collection to a single kind of software, for example `software_type = \"ANDROIDX_TEST_ORCHESTRATOR\"`.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies the version identifier, e.g. \"1.4.1\". Unique within a `software_type`."
        },
        "lifecycle": {
          "$ref": "CatalogLifecycle",
          "description": "Output only. The version lifecycle (maturity stage and removal date).",
          "readOnly": true
        }
      }
    },
    "AndroidDumpsysDeviceAction": {
      "properties": {
        "collectOnPass": {
          "type": "boolean",
          "description": "Optional. Whether to deliver the dumpsys when the test passes. If false, the dumpsys is skipped on pass to save time (default behavior). If true, the dumpsys is always delivered."
        }
      },
      "type": "object",
      "description": "Captures dumpsys output from the device. The output will be written to a file named `dumpsys.log` in the execution output directory.",
      "id": "AndroidDumpsysDeviceAction"
    },
    "CatalogAndroidDeviceDetails": {
      "description": "Android-specific device attributes.",
      "type": "object",
      "id": "CatalogAndroidDeviceDetails",
      "properties": {
        "supportedAbis": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Lists ABIs supported by the device (android.os.Build.SUPPORTED_ABIS), most preferred first, e.g. \"arm64-v8a\".",
          "readOnly": true,
          "type": "array"
        },
        "buildType": {
          "description": "Output only. Mirrors the AOSP `ro.build.type` property, e.g. \"user\", \"userdebug\", \"eng\". Empty if unknown.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ExecutionReport": {
      "properties": {
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display_name set by users in the ExecutionConfig.",
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the execution."
        },
        "startTime": {
          "description": "Output only. The start time of the execution.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "result": {
          "readOnly": true,
          "description": "Output only. The result of the execution.",
          "$ref": "Result"
        },
        "endTime": {
          "description": "Output only. The end time of the execution.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "description": "Output only. The status of the execution.",
          "$ref": "Status",
          "readOnly": true
        },
        "warnings": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Warning"
          },
          "description": "Output only. Non-fatal warnings collected during the execution."
        },
        "outputFiles": {
          "description": "Output only. The output files of the execution.",
          "items": {
            "$ref": "OutputFile"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "description": "The runtime information and result report of a single on-device execution attempt.",
      "id": "ExecutionReport"
    },
    "IosInstallPackagesDeviceAction": {
      "properties": {
        "ipas": {
          "description": "Required. Additional iOS packages (IPAs) to install on the device. Limits: - A maximum of 20 IPAs are allowed.",
          "type": "array",
          "items": {
            "$ref": "InputFile"
          }
        }
      },
      "id": "IosInstallPackagesDeviceAction",
      "description": "Installs iOS packages on the device.",
      "type": "object"
    },
    "AndroidInstrumentationTest": {
      "id": "AndroidInstrumentationTest",
      "type": "object",
      "properties": {
        "testTargets": {
          "type": "array",
          "description": "Optional. A list of test targets or target filters to run. Each target must be fully qualified with the package name or class name, in one of these formats: - `package package_name` - `notPackage com.package.to.skip` - `class package_name.class_name` - `class package_name.class_name#method_name` - `notClass com.foo.ClassToSkip` - `notClass com.foo.ClassName#testMethodToSkip` - `annotation com.foo.AnnotationToRun` - `notAnnotation com.foo.AnnotationToSkip` - `size [small|medium|large]` Formats like `testfile` or `notTestfile` won't be supported. If empty, all targets in the module will be run. Limits: - Maximum number of entries: 1024.",
          "items": {
            "type": "string"
          }
        },
        "uniformSharding": {
          "$ref": "AndroidInstrumentationTestUniformSharding",
          "description": "Optional. Uniform sharding strategy to split the job into multiple shards with equal number of test methods."
        },
        "smartSharding": {
          "$ref": "AndroidInstrumentationTestSmartSharding",
          "description": "Optional. Smart sharding strategy to split the job into multiple shards based on the test methods and their execution time."
        },
        "additionalTestOptions": {
          "type": "object",
          "description": "Optional. Additional test options to pass to the test runner. Passed to `am instrument` command as `-e` options, which will be passed to the instrumentation test runner using its `onCreate()` method. Formats supported in test_targets are not allowed to be used here. Limits: - Maximum number of entries: 32. - Maximum key size: 64 bytes (UTF-8). - Maximum value size: 1024 bytes (UTF-8).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "testRunnerClass": {
          "type": "string",
          "description": "Optional. Full class name of the test runner class. The class must be `androidx.test.runner.AndroidJUnitRunner` or a subclass of it. The default value is determined by examining the application's manifest. If multiple instrumentations are found, the first one in the manifest will be used."
        },
        "instrumentationTimeout": {
          "description": "Optional. The timeout of the instrumentation test. Default value: 5 min. Range: [1 min, 3 hours].",
          "format": "google-duration",
          "type": "string"
        },
        "enableCodeCoverage": {
          "type": "boolean",
          "description": "Optional. Whether to enable code coverage collection for the test. A coverage file `coverage.ec` will be uploaded to the results folder. For this to work, your classes have to be instrumented offline (build time) by EMMA/JaCoCo."
        },
        "testInstallable": {
          "description": "Required. The test package to install and run the test.",
          "$ref": "AndroidInstallable"
        },
        "orchestratorVersion": {
          "type": "string",
          "description": "Optional. The version of the Android Test Orchestrator to use for the test. The available orchestrator versions can be retrieved from the catalog service. If set to \"auto\", the default orchestrator is used. If not set, no orchestrator is used."
        }
      },
      "description": "The configuration of an Android instrumentation test. See https://developer.android.com/training/testing/instrumented-tests for more information on Android instrumentation tests."
    },
    "AndroidMockLocationDeviceAction": {
      "id": "AndroidMockLocationDeviceAction",
      "description": "Mocks the location of the Android device.",
      "properties": {
        "location": {
          "$ref": "LatLng",
          "description": "Required. The mock location to set on the device."
        }
      },
      "type": "object"
    },
    "RetrySettingsFlakyTestRetryStrategy": {
      "properties": {
        "testReductionMode": {
          "description": "Optional. The mode of test reduction for retry. If the test runner doesn't support the specified test reduction mode, the request will be rejected with an `INVALID_ARGUMENT` error.",
          "type": "string",
          "enum": [
            "TEST_REDUCTION_MODE_UNSPECIFIED",
            "NO_REDUCTION",
            "REDUCE_TO_FAILED_TEST_CASES"
          ],
          "enumDescriptions": [
            "The test reduction mode is unspecified. Will default to `NO_REDUCTION`.",
            "Runs the same set of test cases of the previous attempt.",
            "Only runs the failed test cases of the previous attempt. For Android Instrumentation tests, this reduction mode only works when the tests in the test APK use one of the following test runners: - `androidx.test.ext.junit.runners.AndroidJUnit4` - `org.junit.runners.JUnit4` - `com.google.testing.junit.testparameterinjector.TestParameterInjector` - `org.junit.runners.Parameterized` Otherwise, its behavior will fall back to `NO_REDUCTION`."
          ]
        },
        "flakyTestAttempts": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The total attempts for flaky tests, including the initial run. Default value: 1 (no retry). Range: [1, 5]."
        },
        "parallelRetry": {
          "description": "Optional. Whether to retry the test failures in parallel. By default, the test is retried sequentially. If true, when the initial attempt fails, (flaky_test_attempts - 1) attempts will be triggered at the same time to run in parallel.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Default retry strategy. It will retry on test failures for up to flaky_test_attempts (including the initial run). It also retries on infra issues for up to 2 attempts (including the initial run). So in total, an execution can run up to flaky_test_attempts * 2 times in the worst case.",
      "id": "RetrySettingsFlakyTestRetryStrategy"
    },
    "JobSettings": {
[...]
