{
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "parameters": {
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "title": "Campaign Manager 360 API",
  "discoveryVersion": "v1",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "id": "dfareporting:v5",
  "basePath": "/dfareporting/v5/",
  "ownerName": "Google",
  "servicePath": "dfareporting/v5/",
  "canonicalName": "Dfareporting",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        },
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        }
      }
    }
  },
  "batchPath": "batch",
  "resources": {
    "languages": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/languages",
          "id": "dfareporting.languages.list",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "description": "Retrieves a list of languages.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "path": "userprofiles/{+profileId}/languages",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "operatingSystemVersions": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "OperatingSystemVersionsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of operating system versions.",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystemVersions",
          "id": "dfareporting.operatingSystemVersions.list",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/operatingSystemVersions"
        },
        "get": {
          "description": "Gets one operating system version by ID.",
          "id": "dfareporting.operatingSystemVersions.get",
          "path": "userprofiles/{+profileId}/operatingSystemVersions/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "OperatingSystemVersion"
          },
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Operating system version ID.",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/operatingSystemVersions/{operatingSystemVersionsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "campaigns": {
      "methods": {
        "update": {
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Campaign"
          },
          "path": "userprofiles/{+profileId}/campaigns",
          "description": "Updates an existing campaign.",
          "request": {
            "$ref": "Campaign"
          },
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "id": "dfareporting.campaigns.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ]
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "id": "dfareporting.campaigns.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "Campaign"
          },
          "path": "userprofiles/{+profileId}/campaigns",
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "Required. Campaign ID."
            }
          },
          "description": "Updates an existing campaign. This method supports patch semantics.",
          "response": {
            "$ref": "Campaign"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "description": "Gets one campaign by ID.",
          "response": {
            "$ref": "Campaign"
          },
          "path": "userprofiles/{+profileId}/campaigns/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.campaigns.get",
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}",
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "description": "Campaign ID.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "insert": {
          "description": "Inserts a new campaign.",
          "response": {
            "$ref": "Campaign"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.campaigns.insert",
          "path": "userprofiles/{+profileId}/campaigns",
          "request": {
            "$ref": "Campaign"
          },
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path"
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "atLeastOneOptimizationActivity": {
              "location": "query",
              "description": "Select only campaigns that have at least one optimization activity.",
              "type": "boolean"
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for campaigns by name or ID. Wildcards (*) are allowed. For example, \"campaign*2015\" will return campaigns with names like \"campaign June 2015\", \"campaign April 2015\", or simply \"campaign 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"campaign\" will match campaigns with name \"my campaign\", \"campaign 2015\", or simply \"campaign\"."
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "subaccountId": {
              "location": "query",
              "description": "Select only campaigns that belong to this subaccount.",
              "type": "string",
              "format": "int64"
            },
            "sortOrder": {
              "location": "query",
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "advertiserGroupIds": {
              "repeated": true,
              "description": "Select only campaigns whose advertisers belong to these advertiser groups.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "description": "Field by which to sort the list."
            },
            "ids": {
              "type": "string",
              "description": "Select only campaigns with these IDs.",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "advertiserIds": {
              "format": "int64",
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Select only campaigns that belong to these advertisers."
            },
            "overriddenEventTagId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only campaigns that have overridden this event tag ID."
            },
            "maxResults": {
              "location": "query",
              "default": "1000",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "type": "integer"
            },
            "excludedIds": {
              "description": "Exclude campaigns with these IDs.",
              "format": "int64",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "archived": {
              "description": "Select only archived campaigns. Don't set this field to select both archived and non-archived campaigns.",
              "location": "query",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "CampaignsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/campaigns",
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "id": "dfareporting.campaigns.list",
          "description": "Retrieves a list of campaigns, possibly filtered. This method supports paging."
        }
      }
    },
    "tvCampaignDetails": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "TvCampaignDetail"
          },
          "description": "Gets one TvCampaignDetail by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/tvCampaignDetails/{tvCampaignDetailsId}",
          "path": "userprofiles/{+profileId}/tvCampaignDetails/{+id}",
          "id": "dfareporting.tvCampaignDetails.get",
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. TV Campaign ID.",
              "type": "string",
              "required": true
            },
            "accountId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Required. Account ID associated with this request."
            },
            "tvDataProvider": {
              "enumDescriptions": [
                "",
                "Allows populating multiple tvCampaignId filters and tvCampaignEndDate filter on the report.",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "INVALID_TV_DATA_PROVIDER",
                "INTAGE_JP",
                "IBOPE_AR",
                "IBOPE_BR",
                "IBOPE_CL",
                "IBOPE_CO",
                "TNS_VN",
                "COMSCORE_NATIONAL_US",
                "COMSCORE_CA",
                "SAMBA_AU"
              ],
              "type": "string",
              "description": "Optional. TV data provider. If not specified, defaults to `COMSCORE_NATIONAL_US`.",
              "location": "query"
            },
            "countryDartId": {
              "description": "Optional. Country Dart ID. If not specified, defaults to 256 (US).",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "Required. User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path"
            }
          }
        }
      }
    },
    "accountPermissions": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/accountPermissions",
          "id": "dfareporting.accountPermissions.list",
          "path": "userprofiles/{+profileId}/accountPermissions",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves the list of account permissions.",
          "response": {
            "$ref": "AccountPermissionsListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/accountPermissions/{accountPermissionsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/accountPermissions/{+id}",
          "id": "dfareporting.accountPermissions.get",
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Account permission ID."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "AccountPermission"
          },
          "description": "Gets one account permission by ID."
        }
      }
    },
    "userRolePermissionGroups": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups",
          "description": "Gets a list of all supported user role permission groups.",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/userRolePermissionGroups",
          "response": {
            "$ref": "UserRolePermissionGroupsListResponse"
          },
          "id": "dfareporting.userRolePermissionGroups.list"
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/userRolePermissionGroups/{+id}",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            },
            "id": {
              "required": true,
              "description": "User role permission group ID.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "type": "string"
            }
          },
          "response": {
            "$ref": "UserRolePermissionGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.userRolePermissionGroups.get",
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups/{userRolePermissionGroupsId}",
          "description": "Gets one user role permission group by ID."
        }
      }
    },
    "targetableRemarketingLists": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "sortField": {
              "default": "ID",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string"
            },
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "query",
              "description": "Required. Select only targetable remarketing lists targetable by these advertisers."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "format": "int64"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "default": "1000",
              "description": "Maximum number of results to return."
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "name": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "type": "string",
              "location": "query"
            },
            "active": {
              "description": "Select only active or only inactive targetable remarketing lists.",
              "location": "query",
              "type": "boolean"
            }
          },
          "id": "dfareporting.targetableRemarketingLists.list",
          "response": {
            "$ref": "TargetableRemarketingListsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of targetable remarketing lists, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/targetableRemarketingLists"
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists/{targetableRemarketingListsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one remarketing list by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/targetableRemarketingLists/{+id}",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "format": "int64"
            },
            "id": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Remarketing list ID.",
              "type": "string",
              "location": "path",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "TargetableRemarketingList"
          },
          "id": "dfareporting.targetableRemarketingLists.get"
        }
      }
    },
    "dynamicTargetingKeys": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "DynamicTargetingKey"
          },
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "id": "dfareporting.dynamicTargetingKeys.insert",
          "request": {
            "$ref": "DynamicTargetingKey"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys",
          "description": "Inserts a new dynamic targeting key. Keys must be created at the advertiser level before being assigned to the advertiser's ads, creatives, or placements. There is a maximum of 1000 keys per advertiser, out of which a maximum of 20 keys can be assigned per ad, creative, or placement."
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "id": "dfareporting.dynamicTargetingKeys.list",
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "names": {
              "description": "Select only dynamic targeting keys exactly matching these names.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "objectId": {
              "type": "string",
              "description": "Select only dynamic targeting keys with this object ID.",
              "format": "int64",
              "location": "query"
            },
            "profileId": {
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "advertiserId": {
              "format": "int64",
              "description": "Select only dynamic targeting keys whose object has this advertiser ID.",
              "type": "string",
              "location": "query"
            },
            "objectType": {
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "description": "Select only dynamic targeting keys with this object type.",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "type": "string"
            }
          },
          "response": {
            "$ref": "DynamicTargetingKeysListResponse"
          },
          "description": "Retrieves a list of dynamic targeting keys."
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "location": "query",
              "description": "Required. Name of this dynamic targeting key. This is a required field. Must be less than 256 characters long and cannot contain commas. All characters are converted to lowercase.",
              "required": true,
              "type": "string"
            },
            "objectType": {
              "location": "query",
              "type": "string",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "required": true,
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "description": "Required. Type of the object of this dynamic targeting key. This is a required field."
            },
            "objectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "ID of the object of this dynamic targeting key. This is a required field."
            },
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys/{dynamicTargetingKeysId}",
          "description": "Deletes an existing dynamic targeting key.",
          "parameterOrder": [
            "profileId",
            "objectId",
            "name",
            "objectType"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.dynamicTargetingKeys.delete",
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys/{+objectId}"
        }
      }
    },
    "advertisers": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/advertisers",
          "description": "Retrieves a list of advertisers, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AdvertisersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortOrder": {
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "description": "Order of sorted results.",
              "default": "ASCENDING"
            },
            "floodlightConfigurationIds": {
              "format": "int64",
              "location": "query",
              "description": "Select only advertisers with these floodlight configuration IDs.",
              "type": "string",
              "repeated": true
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser June 2015\", \"advertiser April 2015\", or simply \"advertiser 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertiser\" will match objects with name \"my advertiser\", \"advertiser 2015\", or simply \"advertiser\" .",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            },
            "subaccountId": {
              "description": "Select only advertisers with these subaccount IDs.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "ids": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "description": "Select only advertisers with these IDs.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "format": "int32"
            },
            "advertiserGroupIds": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "description": "Select only advertisers with these advertiser group IDs.",
              "type": "string"
            },
            "onlyParent": {
              "description": "Select only advertisers which use another advertiser's floodlight configuration.",
              "location": "query",
              "type": "boolean"
            },
            "includeAdvertisersWithoutGroupsOnly": {
              "description": "Select only advertisers which do not belong to any advertiser group.",
              "type": "boolean",
              "location": "query"
            },
            "sortField": {
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "location": "query"
            },
            "status": {
              "enumDescriptions": [
                "Approved (ads can deliver)",
                "On-hold (all ads are stopped)"
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "APPROVED",
                "ON_HOLD"
              ],
              "description": "Select only advertisers with the specified status."
            }
          },
          "id": "dfareporting.advertisers.list"
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "response": {
            "$ref": "Advertiser"
          },
          "path": "userprofiles/{+profileId}/advertisers",
          "id": "dfareporting.advertisers.insert",
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "request": {
            "$ref": "Advertiser"
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new advertiser.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "id": "dfareporting.advertisers.patch",
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "id": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. Advertiser ID.",
              "location": "query"
            }
          },
          "path": "userprofiles/{+profileId}/advertisers",
          "request": {
            "$ref": "Advertiser"
          },
          "response": {
            "$ref": "Advertiser"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing advertiser. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "response": {
            "$ref": "Advertiser"
          },
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.advertisers.update",
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "description": "Updates an existing advertiser.",
          "request": {
            "$ref": "Advertiser"
          },
          "path": "userprofiles/{+profileId}/advertisers"
        },
        "get": {
          "response": {
            "$ref": "Advertiser"
          },
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Advertiser ID."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/advertisers/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertisers.get",
          "description": "Gets one advertiser by ID.",
          "flatPath": "userprofiles/{userprofilesId}/advertisers/{advertisersId}"
        }
      }
    },
    "ads": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Ad"
          },
          "id": "dfareporting.ads.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one ad by ID.",
          "path": "userprofiles/{+profileId}/ads/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "Ad ID.",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/ads/{adsId}"
        },
        "patch": {
          "description": "Updates an existing ad. This method supports patch semantics.",
          "request": {
            "$ref": "Ad"
          },
          "response": {
            "$ref": "Ad"
          },
          "id": "dfareporting.ads.patch",
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true
            },
            "id": {
              "location": "query",
              "format": "int64",
              "description": "Required. RemarketingList ID.",
              "required": true,
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/ads",
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/ads",
          "request": {
            "$ref": "Ad"
          },
          "response": {
            "$ref": "Ad"
          },
          "description": "Updates an existing ad.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "id": "dfareporting.ads.update"
        },
        "list": {
          "response": {
            "$ref": "AdsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of ads, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/ads",
          "id": "dfareporting.ads.list",
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "ids": {
              "location": "query",
              "description": "Select only ads with these IDs.",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "creativeIds": {
              "repeated": true,
              "location": "query",
              "description": "Select only ads with these creative IDs assigned.",
              "type": "string",
              "format": "int64"
            },
            "active": {
              "location": "query",
              "type": "boolean",
              "description": "Select only active ads."
            },
            "landingPageIds": {
              "repeated": true,
              "description": "Select only ads with these landing page IDs.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "creativeOptimizationConfigurationIds": {
              "format": "int64",
              "description": "Select only ads with these creative optimization configuration IDs.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "remarketingListIds": {
              "description": "Select only ads whose list targeting expression use these remarketing list IDs.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "overriddenEventTagId": {
              "description": "Select only ads with this event tag override ID.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "archived": {
              "location": "query",
              "type": "boolean",
              "description": "Select only archived ads."
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "default": "ID",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "dynamicClickTracker": {
              "description": "Select only dynamic click trackers. Applicable when type is AD_SERVING_CLICK_TRACKER. If true, select dynamic click trackers. If false, select static click trackers. Leave unset to select both.",
              "type": "boolean",
              "location": "query"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "sslCompliant": {
              "location": "query",
              "description": "Select only ads that are SSL-compliant.",
              "type": "boolean"
            },
            "campaignIds": {
              "format": "int64",
              "type": "string",
              "description": "Select only ads with these campaign IDs.",
              "repeated": true,
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "default": "1000",
              "format": "int32",
              "type": "integer"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"ad*2015\" will return objects with names like \"ad June 2015\", \"ad April 2015\", or simply \"ad 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"ad\" will match objects with name \"my ad\", \"ad 2015\", or simply \"ad\"."
            },
            "compatibility": {
              "type": "string",
              "location": "query",
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ],
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ],
              "description": "Select default ads with the specified compatibility. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering an in-stream video ads developed with the VAST standard."
            },
            "type": {
              "type": "string",
              "repeated": true,
              "description": "Select only ads with these types.",
              "enum": [
                "AD_SERVING_STANDARD_AD",
                "AD_SERVING_DEFAULT_AD",
                "AD_SERVING_CLICK_TRACKER",
                "AD_SERVING_TRACKING",
                "AD_SERVING_BRAND_SAFE_AD"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "location": "query"
            },
            "sizeIds": {
              "repeated": true,
              "description": "Select only ads with these size IDs.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "format": "int64"
            },
            "audienceSegmentIds": {
              "repeated": true,
              "description": "Select only ads with these audience segment IDs.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "advertiserId": {
              "location": "query",
              "description": "Select only ads with this advertiser ID.",
              "format": "int64",
              "type": "string"
            },
            "sslRequired": {
              "location": "query",
              "type": "boolean",
              "description": "Select only ads that require SSL."
            },
            "placementIds": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Select only ads with these placement IDs assigned.",
              "format": "int64"
            }
          }
        },
        "insert": {
          "path": "userprofiles/{+profileId}/ads",
          "description": "Inserts a new ad.",
          "response": {
            "$ref": "Ad"
          },
          "id": "dfareporting.ads.insert",
          "request": {
            "$ref": "Ad"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/ads"
        }
      }
    },
    "operatingSystems": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/operatingSystems",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystems",
          "id": "dfareporting.operatingSystems.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of operating systems.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "OperatingSystemsListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          }
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/operatingSystems/{operatingSystemsId}",
          "id": "dfareporting.operatingSystems.get",
          "response": {
            "$ref": "OperatingSystem"
          },
          "description": "Gets one operating system by DART ID.",
          "path": "userprofiles/{+profileId}/operatingSystems/{+dartId}",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path"
            },
            "dartId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Operating system DART ID.",
              "location": "path",
              "type": "string",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "dartId"
          ]
        }
      }
    },
    "dimensionValues": {
      "methods": {
        "query": {
          "flatPath": "userprofiles/{profileId}/dimensionvalues/query",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "path": "userprofiles/{profileId}/dimensionvalues/query",
          "description": "Retrieves list of report dimension values for a list of filters.",
          "request": {
            "$ref": "DimensionValueRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "The Campaign Manager 360 user profile ID.",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "type": "integer",
              "format": "int32",
              "default": "100",
              "location": "query"
            },
            "pageToken": {
              "description": "The value of the nextToken from the previous result page.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "DimensionValueList"
          },
          "id": "dfareporting.dimensionValues.query",
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "changeLogs": {
      "methods": {
        "get": {
          "response": {
            "$ref": "ChangeLog"
          },
          "description": "Gets one change log by ID.",
          "id": "dfareporting.changeLogs.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/changeLogs/{+id}",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "location": "path",
              "format": "int64",
              "description": "Change log ID.",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/changeLogs/{changeLogsId}"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.changeLogs.list",
          "flatPath": "userprofiles/{userprofilesId}/changeLogs",
          "description": "Retrieves a list of change logs. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/changeLogs",
          "httpMethod": "GET",
          "parameters": {
            "action": {
              "description": "Select only change logs with the specified action.",
              "enum": [
                "ACTION_CREATE",
                "ACTION_UPDATE",
                "ACTION_DELETE",
                "ACTION_ENABLE",
                "ACTION_DISABLE",
                "ACTION_ADD",
                "ACTION_REMOVE",
                "ACTION_MARK_AS_DEFAULT",
                "ACTION_ASSOCIATE",
                "ACTION_ASSIGN",
                "ACTION_UNASSIGN",
                "ACTION_SEND",
                "ACTION_LINK",
                "ACTION_UNLINK",
                "ACTION_PUSH",
                "ACTION_EMAIL_TAGS",
                "ACTION_SHARE"
              ],
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ]
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "ids": {
              "description": "Select only change logs with these IDs.",
              "type": "string",
              "location": "query",
              "format": "int64",
              "repeated": true
            },
            "minChangeTime": {
              "description": "Select only change logs whose change time is after the specified minChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is \"2015-07-18T22:54:00-04:00\". In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset.",
              "type": "string",
              "location": "query"
            },
            "objectType": {
              "description": "Select only change logs with the specified object type.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_FLOODLIGHT_CONFIGURATION",
                "OBJECT_AD",
                "OBJECT_FLOODLIGHT_ACTVITY",
                "OBJECT_CAMPAIGN",
                "OBJECT_FLOODLIGHT_ACTIVITY_GROUP",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT",
                "OBJECT_DFA_SITE",
                "OBJECT_USER_ROLE",
                "OBJECT_USER_PROFILE",
                "OBJECT_ADVERTISER_GROUP",
                "OBJECT_ACCOUNT",
                "OBJECT_SUBACCOUNT",
                "OBJECT_RICHMEDIA_CREATIVE",
                "OBJECT_INSTREAM_CREATIVE",
                "OBJECT_MEDIA_ORDER",
                "OBJECT_CONTENT_CATEGORY",
                "OBJECT_PLACEMENT_STRATEGY",
                "OBJECT_SD_SITE",
                "OBJECT_SIZE",
                "OBJECT_CREATIVE_GROUP",
                "OBJECT_CREATIVE_ASSET",
                "OBJECT_USER_PROFILE_FILTER",
                "OBJECT_LANDING_PAGE",
                "OBJECT_CREATIVE_FIELD",
                "OBJECT_REMARKETING_LIST",
                "OBJECT_PROVIDED_LIST_CLIENT",
                "OBJECT_EVENT_TAG",
                "OBJECT_CREATIVE_BUNDLE",
                "OBJECT_BILLING_ACCOUNT_GROUP",
                "OBJECT_BILLING_FEATURE",
                "OBJECT_RATE_CARD",
                "OBJECT_ACCOUNT_BILLING_FEATURE",
                "OBJECT_BILLING_MINIMUM_FEE",
                "OBJECT_BILLING_PROFILE",
                "OBJECT_PLAYSTORE_LINK",
                "OBJECT_TARGETING_TEMPLATE",
                "OBJECT_SEARCH_LIFT_STUDY",
                "OBJECT_FLOODLIGHT_DV360_LINK",
                "OBJECT_ADVERTISER_CUSTOMER_LINK",
                "OBJECT_CONVERSION_DOMAIN",
                "OBJECT_ACCOUNT_CONVERSION_DOMAIN"
              ]
            },
            "maxChangeTime": {
              "description": "Select only change logs whose change time is before the specified maxChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is \"2015-07-18T22:54:00-04:00\". In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset.",
              "location": "query",
              "type": "string"
            },
            "userProfileIds": {
              "repeated": true,
              "format": "int64",
              "description": "Select only change logs with these user profile IDs.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "default": "1000"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Select only change logs whose object ID, user name, old or new values match the search string."
            },
            "objectIds": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Select only change logs with these object IDs.",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "ChangeLogsListResponse"
          }
        }
      }
    },
    "placements": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "id": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Placement ID.",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/placements/{placementsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Placement"
          },
          "description": "Gets one placement by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/placements/{+id}",
          "id": "dfareporting.placements.get"
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "path": "userprofiles/{+profileId}/placements",
          "response": {
            "$ref": "Placement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Placement"
          },
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "description": "Inserts a new placement.",
          "id": "dfareporting.placements.insert"
        },
        "generatetags": {
          "id": "dfareporting.placements.generatetags",
          "response": {
            "$ref": "PlacementsGenerateTagsResponse"
          },
          "description": "Generates tags for a placement.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/placements/generatetags",
          "flatPath": "userprofiles/{userprofilesId}/placements/generatetags",
          "httpMethod": "POST",
          "parameters": {
            "campaignId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Generate placements belonging to this campaign. This is a required field."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "placementIds": {
              "description": "Generate tags for these placements.",
              "repeated": true,
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "tagProperties.gppMacrosIncluded": {
              "type": "boolean",
              "description": "Optional. Indicates whether to include the GPP macro in the generated tags. [Learn more](https://support.google.com/campaignmanager/answer/10031693) about this macro.",
              "location": "query"
            },
            "tagProperties.dcDbmMacroIncluded": {
              "description": "Optional. Indicates whether to include the dc_dbm macro in the generated tags. [Learn more](https://support.google.com/campaignmanager/answer/9280273) about this macro.",
              "type": "boolean",
              "location": "query"
            },
            "tagProperties.tcfGdprMacrosIncluded": {
              "description": "Optional. Indicates whether to include the TCF macro in the generated tags. Default true. [Learn more](https://support.google.com/campaignmanager/answer/10031693) about this macro.",
              "default": "true",
              "type": "boolean",
              "location": "query"
            },
            "tagFormats": {
              "location": "query",
              "description": "Tag formats to generate for these placements. *Note:* PLACEMENT_TAG_STANDARD can only be generated for 1x1 placements.",
              "repeated": true,
              "type": "string",
              "enum": [
                "PLACEMENT_TAG_STANDARD",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_IFRAME_ILAYER",
                "PLACEMENT_TAG_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
                "PLACEMENT_TAG_CLICK_COMMANDS",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
                "PLACEMENT_TAG_TRACKING",
                "PLACEMENT_TAG_TRACKING_IFRAME",
                "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
                "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ]
            }
          }
        },
        "list": {
          "description": "Retrieves a list of placements, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/placements",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "PlacementsListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "format": "int32"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            },
            "minStartDate": {
              "type": "string",
              "location": "query",
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "contentCategoryIds": {
              "type": "string",
              "repeated": true,
              "description": "Select only placements that are associated with these content categories.",
              "location": "query",
              "format": "int64"
            },
            "minEndDate": {
              "type": "string",
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results."
            },
            "advertiserIds": {
              "type": "string",
              "description": "Select only placements that belong to these advertisers.",
              "format": "int64",
              "repeated": true,
              "location": "query"
            },
            "pricingTypes": {
              "type": "string",
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Select only placements with these pricing types.",
              "repeated": true
            },
            "directorySiteIds": {
              "location": "query",
              "repeated": true,
              "description": "Select only placements that are associated with these directory sites.",
              "format": "int64",
              "type": "string"
            },
            "activeStatus": {
              "type": "string",
              "repeated": true,
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "description": "Select only placements with these active statuses."
            },
            "siteIds": {
              "repeated": true,
              "location": "query",
              "description": "Select only placements that are associated with these sites.",
              "format": "int64",
              "type": "string"
            },
            "maxStartDate": {
              "type": "string",
              "location": "query",
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "sizeIds": {
              "location": "query",
              "repeated": true,
              "description": "Select only placements that are associated with these sizes.",
              "format": "int64",
              "type": "string"
            },
            "ids": {
              "description": "Select only placements with these IDs.",
              "repeated": true,
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "sortField": {
              "default": "ID",
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "maxEndDate": {
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string",
              "location": "query"
            },
            "placementStrategyIds": {
              "format": "int64",
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Select only placements that are associated with these placement strategies."
            },
            "compatibilities": {
              "location": "query",
              "type": "string",
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ],
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ],
              "description": "Select only placements that are associated with these compatibilities. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard."
            },
            "campaignIds": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only placements that belong to these campaigns.",
              "repeated": true
            },
            "groupIds": {
              "format": "int64",
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Select only placements that belong to these placement groups."
            },
            "paymentSource": {
              "enum": [
                "PLACEMENT_AGENCY_PAID",
                "PLACEMENT_PUBLISHER_PAID"
              ],
              "location": "query",
              "description": "Select only placements with this payment source.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for placements by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placements with names like \"placement June 2015\", \"placement May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placement\" will match placements with name \"my placement\", \"placement 2015\", or simply \"placement\" .",
              "type": "string",
              "location": "query"
            }
          },
          "id": "dfareporting.placements.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placements"
        },
        "patch": {
          "path": "userprofiles/{+profileId}/placements",
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "id": {
              "required": true,
              "description": "Required. Placement ID.",
              "type": "string",
              "format": "int64",
              "location": "query"
            }
          },
          "description": "Updates an existing placement. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "id": "dfareporting.placements.patch",
          "response": {
            "$ref": "Placement"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "Placement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "response": {
            "$ref": "Placement"
          },
          "path": "userprofiles/{+profileId}/placements",
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "id": "dfareporting.placements.update",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "Placement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "description": "Updates an existing placement."
        }
      }
    },
    "subaccounts": {
      "methods": {
        "list": {
          "description": "Gets a list of subaccounts, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "path": "userprofiles/{+profileId}/subaccounts",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true
            },
            "sortOrder": {
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "description": "Field by which to sort the list.",
              "location": "query",
              "default": "ID"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "default": "1000",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of results to return."
            },
            "ids": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only subaccounts with these IDs.",
              "repeated": true
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"subaccount*2015\" will return objects with names like \"subaccount June 2015\", \"subaccount April 2015\", or simply \"subaccount 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"subaccount\" will match objects with name \"my subaccount\", \"subaccount 2015\", or simply \"subaccount\" .",
              "location": "query"
            }
          },
          "id": "dfareporting.subaccounts.list",
          "response": {
            "$ref": "SubaccountsListResponse"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/subaccounts",
          "request": {
            "$ref": "Subaccount"
          },
          "id": "dfareporting.subaccounts.update",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Subaccount"
          },
          "description": "Updates an existing subaccount."
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/subaccounts",
          "request": {
            "$ref": "Subaccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing subaccount. This method supports patch semantics.",
          "response": {
            "$ref": "Subaccount"
          },
          "id": "dfareporting.subaccounts.patch",
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "id": {
              "location": "query",
              "description": "Required. Subaccount ID.",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Inserts a new subaccount.",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "request": {
            "$ref": "Subaccount"
          },
          "id": "dfareporting.subaccounts.insert",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/subaccounts",
          "response": {
            "$ref": "Subaccount"
          },
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Subaccount ID.",
              "format": "int64"
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/subaccounts/{subaccountsId}",
          "response": {
            "$ref": "Subaccount"
          },
          "id": "dfareporting.subaccounts.get",
          "path": "userprofiles/{+profileId}/subaccounts/{+id}",
          "description": "Gets one subaccount by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "creativeFieldValues": {
      "methods": {
        "update": {
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "description": "Updates an existing creative field value.",
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "format": "int64"
            },
            "creativeFieldId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Creative field ID for this creative field value.",
              "required": true,
              "type": "string"
            }
          },
          "id": "dfareporting.creativeFieldValues.update",
          "request": {
            "$ref": "CreativeFieldValue"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of creative field values, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "location": "query"
            },
            "sortField": {
              "location": "query",
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "VALUE"
              ]
            },
            "creativeFieldId": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "description": "Creative field ID for this creative field value.",
              "pattern": "^[^/]+$",
              "required": true
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "default": "1000",
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return."
            },
            "searchString": {
              "description": "Allows searching for creative field values by their values. Wildcards (e.g. *) are not allowed.",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "format": "int64",
              "description": "Select only creative field values with these IDs.",
              "repeated": true,
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "CreativeFieldValuesListResponse"
          },
          "id": "dfareporting.creativeFieldValues.list",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ]
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "id": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "CreativeFieldValue ID.",
              "required": true
            },
            "creativeFieldId": {
              "location": "path",
              "description": "CreativeField ID.",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "format": "int64"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "id": "dfareporting.creativeFieldValues.patch",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "description": "Updates an existing creative field value. This method supports patch semantics."
        },
        "delete": {
          "description": "Deletes an existing creative field value.",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "type": "string",
              "format": "int64",
              "description": "Creative Field Value ID",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "creativeFieldId": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Creative field ID for this creative field value.",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}",
          "id": "dfareporting.creativeFieldValues.delete"
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "description": "Inserts a new creative field value.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true
            },
            "creativeFieldId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Creative field ID for this creative field value."
            }
          },
          "parameterOrder": [
[...]
