{
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "canonicalName": "Dfareporting",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "mobileApps": {
      "methods": {
        "get": {
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Mobile app ID."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.mobileApps.get",
          "description": "Gets one mobile app by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/mobileApps/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/mobileApps/{mobileAppsId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "MobileApp"
          }
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.mobileApps.list",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/mobileApps",
          "parameters": {
            "ids": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Select only apps with these IDs."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "directories": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "UNKNOWN",
                "APPLE_APP_STORE",
                "GOOGLE_PLAY_STORE",
                "ROKU_APP_STORE",
                "AMAZON_FIRETV_APP_STORE",
                "PLAYSTATION_APP_STORE",
                "APPLE_TV_APP_STORE",
                "XBOX_APP_STORE",
                "SAMSUNG_TV_APP_STORE",
                "ANDROID_TV_APP_STORE",
                "GENERIC_CTV_APP_STORE"
              ],
              "description": "Select only apps from these directories."
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"app*2015\" will return objects with names like \"app Jan 2018\", \"app Jan 2018\", or simply \"app 2018\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"app\" will match objects with name \"my app\", \"app 2018\", or simply \"app\".",
              "location": "query"
            },
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "maxResults": {
              "default": "1000",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "description": "Retrieves list of available mobile apps.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/mobileApps",
          "response": {
            "$ref": "MobileAppsListResponse"
          }
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/languages",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/languages",
          "httpMethod": "GET",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "description": "Retrieves a list of languages.",
          "id": "dfareporting.languages.list"
        }
      }
    },
    "files": {
      "methods": {
        "get": {
          "parameterOrder": [
            "reportId",
            "fileId"
          ],
          "id": "dfareporting.files.get",
          "flatPath": "reports/{reportId}/files/{fileId}",
          "parameters": {
            "fileId": {
              "description": "The ID of the report file.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "reportId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "The ID of the report.",
              "type": "string"
            }
          },
          "path": "reports/{reportId}/files/{fileId}",
          "response": {
            "$ref": "File"
          },
          "httpMethod": "GET",
          "description": "Retrieves a report file by its report ID and file ID. This method supports media download.",
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ]
        },
        "list": {
          "id": "dfareporting.files.list",
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/files",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Lists files for a user profile.",
          "flatPath": "userprofiles/{profileId}/files",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The Campaign Manager 360 user profile ID.",
              "format": "int64"
            },
            "pageToken": {
              "description": "The value of the nextToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "location": "query",
              "default": "DESCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "maxResults": {
              "default": "10",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of results to return.",
              "type": "integer"
            },
            "sortField": {
              "type": "string",
              "enumDescriptions": [
                "Sort by file ID.",
                "Sort by 'lastmodifiedAt' field."
              ],
              "location": "query",
              "enum": [
                "ID",
                "LAST_MODIFIED_TIME"
              ],
              "default": "LAST_MODIFIED_TIME",
              "description": "The field by which to sort the list."
            },
            "scope": {
              "enum": [
                "ALL",
                "MINE",
                "SHARED_WITH_ME"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "All files in account.",
                "My files.",
                "Files shared with me."
              ],
              "description": "The scope that defines which results are returned.",
              "default": "MINE"
            }
          },
          "response": {
            "$ref": "FileList"
          }
        }
      }
    },
    "studioCreatives": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "description": "Gets a studio creative by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.studioCreatives.get",
          "path": "studio/creatives/{+studioCreativeId}",
          "parameters": {
            "studioCreativeId": {
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "Required. Studio creative ID."
            }
          },
          "parameterOrder": [
            "studioCreativeId"
          ],
          "response": {
            "$ref": "StudioCreative"
          },
          "flatPath": "studio/creatives/{creativesId}"
        },
        "insert": {
          "parameters": {},
          "path": "studio/creatives",
          "parameterOrder": [],
          "response": {
            "$ref": "StudioCreative"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "studio/creatives",
          "httpMethod": "POST",
          "request": {
            "$ref": "StudioCreative"
          },
          "description": "Inserts a new studio creative.",
          "id": "dfareporting.studioCreatives.insert"
        },
        "publish": {
          "id": "dfareporting.studioCreatives.publish",
          "description": "Publish for a studio creative.",
          "flatPath": "studio/creatives/{creativesId}/publish",
          "parameterOrder": [
            "studioCreativeId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/creatives/{+studioCreativeId}/publish",
          "parameters": {
            "studioCreativeId": {
              "location": "path",
              "required": true,
              "description": "Required. Studio creative ID.",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64"
            }
          }
        }
      }
    },
    "dynamicProfiles": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "description": "Inserts a new dynamic profile.",
          "id": "dfareporting.dynamicProfiles.insert",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "studio/dynamicProfiles",
          "request": {
            "$ref": "DynamicProfile"
          },
          "response": {
            "$ref": "DynamicProfile"
          },
          "path": "studio/dynamicProfiles",
          "parameters": {},
          "parameterOrder": []
        },
        "update": {
          "path": "studio/dynamicProfiles",
          "parameterOrder": [],
          "request": {
            "$ref": "DynamicProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "id": "dfareporting.dynamicProfiles.update",
          "parameters": {},
          "flatPath": "studio/dynamicProfiles",
          "description": "Updates an existing dynamic profile.",
          "response": {
            "$ref": "DynamicProfile"
          }
        },
        "generateCode": {
          "description": "Generates code for a dynamic profile, which will need unescaping.",
          "httpMethod": "GET",
          "response": {
            "$ref": "DynamicProfileGenerateCodeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/generateCode",
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/generateCode",
          "parameters": {
            "dynamicProfileId": {
              "description": "Required. Dynamic profile ID.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "dfareporting.dynamicProfiles.generateCode"
        },
        "get": {
          "response": {
            "$ref": "DynamicProfile"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "path": "studio/dynamicProfiles/{+dynamicProfileId}",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}",
          "parameters": {
            "dynamicProfileId": {
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Dynamic profile ID.",
              "location": "path",
              "required": true
            }
          },
          "id": "dfareporting.dynamicProfiles.get",
          "description": "Gets a dynamic profile by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "publish": {
          "parameters": {
            "dynamicProfileId": {
              "type": "string",
              "description": "Required. Dynamic profile ID.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/publish",
          "id": "dfareporting.dynamicProfiles.publish",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "httpMethod": "POST",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/publish",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Publish for a dynamic profile."
        }
      }
    },
    "postalCodes": {
      "methods": {
        "get": {
          "id": "dfareporting.postalCodes.get",
          "path": "userprofiles/{+profileId}/postalCodes/{+code}",
          "parameters": {
            "code": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Postal code ID."
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "description": "Gets one postal code by ID.",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "code"
          ],
          "response": {
            "$ref": "PostalCode"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/postalCodes/{postalCodesId}"
        },
        "list": {
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/postalCodes",
          "description": "Retrieves a list of postal codes.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.postalCodes.list",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "response": {
            "$ref": "PostalCodesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/postalCodes"
        }
      }
    },
    "userRoles": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/userRoles",
          "id": "dfareporting.userRoles.list",
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "description": "Retrieves a list of user roles, possibly filtered. This method supports paging.",
          "parameters": {
            "sortOrder": {
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results."
            },
            "ids": {
              "location": "query",
              "repeated": true,
              "description": "Select only user roles with the specified IDs.",
              "type": "string",
              "format": "int64"
            },
            "sortField": {
              "type": "string",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "subaccountId": {
              "description": "Select only user roles that belong to this subaccount.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "accountUserRoleOnly": {
              "description": "Select only account level user roles not associated with any specific subaccount.",
              "type": "boolean",
              "location": "query"
            },
            "maxResults": {
              "default": "1000",
              "location": "query",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "format": "int32"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"userrole*2015\" will return objects with names like \"userrole June 2015\", \"userrole April 2015\", or simply \"userrole 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"userrole\" will match objects with name \"my userrole\", \"userrole 2015\", or simply \"userrole\".",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "UserRolesListResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ]
        },
        "update": {
          "path": "userprofiles/{+profileId}/userRoles",
          "description": "Updates an existing user role.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.userRoles.update",
          "httpMethod": "PUT",
          "response": {
            "$ref": "UserRole"
          },
          "request": {
            "$ref": "UserRole"
          },
          "flatPath": "userprofiles/{userprofilesId}/userRoles"
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/userRoles",
          "id": "dfareporting.userRoles.insert",
          "description": "Inserts a new user role.",
          "httpMethod": "POST",
          "request": {
            "$ref": "UserRole"
          },
          "response": {
            "$ref": "UserRole"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing user role. This method supports patch semantics.",
          "response": {
            "$ref": "UserRole"
          },
          "httpMethod": "PATCH",
          "path": "userprofiles/{+profileId}/userRoles",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Required. UserRole ID."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "request": {
            "$ref": "UserRole"
          },
          "id": "dfareporting.userRoles.patch",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "delete": {
          "description": "Deletes an existing user role.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.userRoles.delete",
          "httpMethod": "DELETE",
          "path": "userprofiles/{+profileId}/userRoles/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/userRoles/{userRolesId}",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "id": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User role ID.",
              "format": "int64"
            }
          }
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/userRoles/{userRolesId}",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/userRoles/{+id}",
          "response": {
            "$ref": "UserRole"
          },
          "id": "dfareporting.userRoles.get",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "id": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User role ID.",
              "type": "string",
              "format": "int64"
            }
          },
          "description": "Gets one user role by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "billingAssignments": {
      "methods": {
        "list": {
          "description": "Retrieves a list of billing assignments.",
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "httpMethod": "GET",
          "response": {
            "$ref": "BillingAssignmentsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64"
            },
            "billingProfileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Billing profile ID of this billing assignment."
            }
          },
          "id": "dfareporting.billingAssignments.list",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ]
        },
        "insert": {
          "httpMethod": "POST",
          "request": {
            "$ref": "BillingAssignment"
          },
          "description": "Inserts a new billing assignment and returns the new assignment. Only one of advertiser_id or campaign_id is support per request. If the new assignment has no effect (assigning a campaign to the parent advertiser billing profile or assigning an advertiser to the account billing profile), no assignment will be returned.",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "response": {
            "$ref": "BillingAssignment"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "billingProfileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Billing profile ID of this billing assignment.",
              "type": "string",
              "format": "int64"
            }
          },
          "id": "dfareporting.billingAssignments.insert"
        }
      }
    },
    "creativeAssets": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/dfareporting/v5/userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets"
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "1073741824"
          },
          "supportsMediaUpload": true,
          "id": "dfareporting.creativeAssets.insert",
          "path": "userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "response": {
            "$ref": "CreativeAssetMetadata"
          },
          "parameters": {
            "advertiserId": {
              "description": "Advertiser ID of this creative. This is a required field.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Inserts a new creative asset.",
          "flatPath": "userprofiles/{userprofilesId}/creativeAssets/{creativeAssetsId}/creativeAssets",
          "request": {
            "$ref": "CreativeAssetMetadata"
          }
        }
      }
    },
    "targetingTemplates": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query"
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"template*2015\" will return objects with names like \"template June 2015\", \"template April 2015\", or simply \"template 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"template\" will match objects with name \"my template\", \"template 2015\", or simply \"template\".",
              "location": "query"
            },
            "advertiserId": {
              "description": "Select only targeting templates with this advertiser ID.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only targeting templates with these IDs."
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "location": "query"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            }
          },
          "id": "dfareporting.targetingTemplates.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "TargetingTemplatesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of targeting templates, optionally filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "httpMethod": "GET"
        },
        "update": {
          "description": "Updates an existing targeting template.",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.targetingTemplates.update",
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "request": {
            "$ref": "TargetingTemplate"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "request": {
            "$ref": "TargetingTemplate"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.targetingTemplates.insert",
          "httpMethod": "POST",
          "description": "Inserts a new targeting template.",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "format": "int64",
              "description": "Required. RemarketingList ID.",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.targetingTemplates.patch",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "request": {
            "$ref": "TargetingTemplate"
          },
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "description": "Updates an existing targeting template. This method supports patch semantics.",
          "httpMethod": "PATCH"
        },
        "get": {
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "id": {
              "type": "string",
              "description": "Targeting template ID.",
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates/{targetingTemplatesId}",
          "description": "Gets one targeting template by ID.",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/targetingTemplates/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.targetingTemplates.get",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "tvCampaignDetails": {
      "methods": {
        "get": {
          "id": "dfareporting.tvCampaignDetails.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "description": "Gets one TvCampaignDetail by ID.",
          "parameters": {
            "tvDataProvider": {
              "enum": [
                "INVALID_TV_DATA_PROVIDER",
                "INTAGE_JP",
                "IBOPE_AR",
                "IBOPE_BR",
                "IBOPE_CL",
                "IBOPE_CO",
                "TNS_VN",
                "COMSCORE_NATIONAL_US",
                "COMSCORE_CA",
                "SAMBA_AU"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                "Allows populating multiple tvCampaignId filters and tvCampaignEndDate filter on the report.",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Optional. TV data provider. If not specified, defaults to `COMSCORE_NATIONAL_US`."
            },
            "profileId": {
              "description": "Required. User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "countryDartId": {
              "type": "string",
              "format": "int64",
              "description": "Optional. Country Dart ID. If not specified, defaults to 256 (US).",
              "location": "query"
            },
            "id": {
              "pattern": "^[^/]+$",
              "description": "Required. TV Campaign ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "accountId": {
              "type": "string",
              "format": "int64",
              "description": "Required. Account ID associated with this request.",
              "location": "query"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/tvCampaignDetails/{tvCampaignDetailsId}",
          "response": {
            "$ref": "TvCampaignDetail"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/tvCampaignDetails/{+id}"
        }
      }
    },
    "platformTypes": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.platformTypes.list",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/platformTypes",
          "flatPath": "userprofiles/{userprofilesId}/platformTypes",
          "description": "Retrieves a list of platform types.",
          "response": {
            "$ref": "PlatformTypesListResponse"
          }
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/platformTypes/{platformTypesId}",
          "path": "userprofiles/{+profileId}/platformTypes/{+id}",
          "response": {
            "$ref": "PlatformType"
          },
          "description": "Gets one platform type by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.platformTypes.get",
          "parameters": {
            "id": {
              "location": "path",
              "required": true,
              "description": "Platform type ID.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          }
        }
      }
    },
    "directorySites": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "description": "Retrieves a list of directory sites, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/directorySites",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.directorySites.list",
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "parameters": {
            "acceptsInStreamVideoPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "This search filter is no longer supported and will have no effect on the results returned."
            },
            "acceptsInterstitialPlacements": {
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "location": "query",
              "type": "boolean"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "acceptsPublisherPaidPlacements": {
              "description": "Select only directory sites that accept publisher paid placements. This field can be left blank.",
              "type": "boolean",
              "location": "query"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name, ID or URL. Wildcards (*) are allowed. For example, \"directory site*2015\" will return objects with names like \"directory site June 2015\", \"directory site April 2015\", or simply \"directory site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"directory site\" will match objects with name \"my directory site\", \"directory site 2015\" or simply, \"directory site\".",
              "type": "string"
            },
            "active": {
              "description": "Select only active directory sites. Leave blank to retrieve both active and inactive directory sites.",
              "type": "boolean",
              "location": "query"
            },
            "profileId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "dfpNetworkCode": {
              "location": "query",
              "description": "Select only directory sites with this Ad Manager network code.",
              "type": "string"
            },
            "ids": {
              "description": "Select only directory sites with these IDs.",
              "format": "int64",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query",
              "format": "int32"
            },
            "sortField": {
              "location": "query",
              "default": "ID",
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            }
          },
          "response": {
            "$ref": "DirectorySitesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ]
        },
        "get": {
          "response": {
            "$ref": "DirectorySite"
          },
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/directorySites/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/directorySites/{directorySitesId}",
          "id": "dfareporting.directorySites.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one directory site by ID.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Directory site ID.",
              "pattern": "^[^/]+$"
            }
          }
        },
        "insert": {
          "request": {
            "$ref": "DirectorySite"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.directorySites.insert",
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "path": "userprofiles/{+profileId}/directorySites",
          "description": "Inserts a new directory site.",
          "response": {
            "$ref": "DirectorySite"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "accountUserProfiles": {
      "methods": {
        "get": {
          "response": {
            "$ref": "AccountUserProfile"
          },
          "flatPath": "userprofiles/{profileId}/accountUserProfiles/{accountUserProfilesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "id": {
              "type": "string",
              "description": "User profile ID.",
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.accountUserProfiles.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one account user profile by ID.",
          "path": "userprofiles/{profileId}/accountUserProfiles/{+id}"
        },
        "list": {
          "id": "dfareporting.accountUserProfiles.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of account user profiles, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AccountUserProfilesListResponse"
          },
          "parameters": {
            "sortOrder": {
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            },
            "active": {
              "location": "query",
              "type": "boolean",
              "description": "Select only active user profiles."
            },
            "ids": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Select only user profiles with these IDs."
            },
            "userRoleId": {
              "description": "Select only user profiles with the specified user role ID.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query"
            },
            "subaccountId": {
              "type": "string",
              "description": "Select only user profiles with the specified subaccount ID.",
              "format": "int64",
              "location": "query"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, \"user profile*2015\" will return objects with names like \"user profile June 2015\", \"user profile April 2015\", or simply \"user profile 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"user profile\" will match objects with name \"my user profile\", \"user profile 2015\", or simply \"user profile\".",
              "type": "string"
            },
            "sortField": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "description": "Field by which to sort the list."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "path": "userprofiles/{+profileId}/accountUserProfiles"
        },
        "insert": {
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "AccountUserProfile"
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountUserProfiles.insert",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "description": "Inserts a new account user profile."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "AccountUserProfile"
          },
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "id": "dfareporting.accountUserProfiles.update",
          "description": "Updates an existing account user profile.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "httpMethod": "PUT"
        },
        "patch": {
          "id": "dfareporting.accountUserProfiles.patch",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            },
            "id": {
              "format": "int64",
              "description": "Required. AccountUserProfile ID.",
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "description": "Updates an existing account user profile. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "campaignCreativeAssociations": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "response": {
            "$ref": "CampaignCreativeAssociationsListResponse"
          },
          "id": "dfareporting.campaignCreativeAssociations.list",
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64"
            },
            "maxResults": {
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "type": "string",
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "campaignId": {
              "pattern": "^[^/]+$",
              "description": "Campaign ID in this association.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Retrieves the list of creative IDs associated with the specified campaign. This method supports paging.",
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations"
        },
        "insert": {
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CampaignCreativeAssociation"
          },
          "parameters": {
            "campaignId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Campaign ID in this association.",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "CampaignCreativeAssociation"
          },
          "description": "Associates a creative with the specified campaign. This method creates a default ad with dimensions matching the creative in the campaign if such a default ad does not exist already.",
          "id": "dfareporting.campaignCreativeAssociations.insert"
        }
      }
    },
    "placements": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/placements/{placementsId}",
          "response": {
            "$ref": "Placement"
          },
          "parameters": {
            "id": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Placement ID."
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/placements/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one placement by ID.",
          "id": "dfareporting.placements.get"
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/placements",
          "request": {
            "$ref": "Placement"
          },
          "id": "dfareporting.placements.insert",
          "httpMethod": "POST",
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Placement"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "description": "Inserts a new placement."
        },
        "generatetags": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "campaignId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Generate placements belonging to this campaign. This is a required field."
            },
            "tagProperties.gppMacrosIncluded": {
              "description": "Optional. Indicates whether to include the GPP macro in the generated tags. [Learn more](https://support.google.com/campaignmanager/answer/10031693) about this macro.",
              "type": "boolean",
              "location": "query"
            },
            "tagProperties.tcfGdprMacrosIncluded": {
              "default": "true",
              "location": "query",
              "type": "boolean",
              "description": "Optional. Indicates whether to include the TCF macro in the generated tags. Default true. [Learn more](https://support.google.com/campaignmanager/answer/10031693) about this macro."
            },
            "placementIds": {
              "description": "Generate tags for these placements.",
              "location": "query",
              "repeated": true,
              "format": "int64",
              "type": "string"
            },
            "tagFormats": {
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "repeated": true,
              "description": "Tag formats to generate for these placements. *Note:* PLACEMENT_TAG_STANDARD can only be generated for 1x1 placements.",
              "type": "string",
              "enum": [
                "PLACEMENT_TAG_STANDARD",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_IFRAME_ILAYER",
                "PLACEMENT_TAG_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
                "PLACEMENT_TAG_CLICK_COMMANDS",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
                "PLACEMENT_TAG_TRACKING",
                "PLACEMENT_TAG_TRACKING_IFRAME",
                "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
                "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
              ]
            },
            "tagProperties.dcDbmMacroIncluded": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Indicates whether to include the dc_dbm macro in the generated tags. [Learn more](https://support.google.com/campaignmanager/answer/9280273) about this macro."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/placements/generatetags",
          "id": "dfareporting.placements.generatetags",
          "description": "Generates tags for a placement.",
          "flatPath": "userprofiles/{userprofilesId}/placements/generatetags",
          "response": {
            "$ref": "PlacementsGenerateTagsResponse"
          },
          "httpMethod": "POST"
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "response": {
            "$ref": "Placement"
          },
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/placements",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "request": {
            "$ref": "Placement"
          },
          "description": "Updates an existing placement.",
          "id": "dfareporting.placements.update",
          "parameterOrder": [
            "profileId"
          ]
        },
        "patch": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "id": {
              "location": "query",
              "required": true,
              "description": "Required. Placement ID.",
              "format": "int64",
              "type": "string"
            }
          },
          "id": "dfareporting.placements.patch",
          "request": {
            "$ref": "Placement"
          },
          "description": "Updates an existing placement. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/placements",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Placement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{userprofilesId}/placements"
        },
        "list": {
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/placements",
          "id": "dfareporting.placements.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of placements, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "PlacementsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "parameters": {
            "maxStartDate": {
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            },
            "maxEndDate": {
              "location": "query",
              "type": "string",
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "paymentSource": {
              "description": "Select only placements with this payment source.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "PLACEMENT_AGENCY_PAID",
                "PLACEMENT_PUBLISHER_PAID"
              ],
              "location": "query",
              "type": "string"
            },
            "siteIds": {
              "format": "int64",
              "type": "string",
              "description": "Select only placements that are associated with these sites.",
              "location": "query",
              "repeated": true
            },
            "directorySiteIds": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Select only placements that are associated with these directory sites.",
              "format": "int64"
            },
            "campaignIds": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "type": "string",
              "description": "Select only placements that belong to these campaigns."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "activeStatus": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ],
              "description": "Select only placements with these active statuses.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ]
            },
            "groupIds": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only placements that belong to these placement groups."
            },
            "pricingTypes": {
              "location": "query",
              "repeated": true,
              "description": "Select only placements with these pricing types.",
              "type": "string",
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ]
            },
            "minStartDate": {
              "location": "query",
              "type": "string",
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "sortOrder": {
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query"
            },
            "compatibilities": {
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ],
              "description": "Select only placements that are associated with these compatibilities. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ]
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query"
            },
            "sizeIds": {
              "description": "Select only placements that are associated with these sizes.",
              "format": "int64",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "sortField": {
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for placements by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placements with names like \"placement June 2015\", \"placement May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placement\" will match placements with name \"my placement\", \"placement 2015\", or simply \"placement\" .",
              "type": "string",
              "location": "query"
            },
            "advertiserIds": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Select only placements that belong to these advertisers."
            },
            "minEndDate": {
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string",
              "location": "query"
            },
            "placementStrategyIds": {
              "location": "query",
              "repeated": true,
              "description": "Select only placements that are associated with these placement strategies.",
              "type": "string",
              "format": "int64"
            },
            "contentCategoryIds": {
              "description": "Select only placements that are associated with these content categories.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "ids": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "repeated": true,
              "description": "Select only placements with these IDs."
            }
          }
        }
      }
    },
    "changeLogs": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/changeLogs/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one change log by ID.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "id": {
              "description": "Change log ID.",
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ChangeLog"
          },
          "id": "dfareporting.changeLogs.get",
          "flatPath": "userprofiles/{userprofilesId}/changeLogs/{changeLogsId}"
        },
        "list": {
          "description": "Retrieves a list of change logs. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/changeLogs",
          "path": "userprofiles/{+profileId}/changeLogs",
          "httpMethod": "GET",
          "response": {
            "$ref": "ChangeLogsListResponse"
          },
          "id": "dfareporting.changeLogs.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "maxResults": {
              "location": "query",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "type": "integer"
            },
            "searchString": {
              "location": "query",
              "description": "Select only change logs whose object ID, user name, old or new values match the search string.",
              "type": "string"
            },
            "action": {
              "description": "Select only change logs with the specified action.",
              "enum": [
                "ACTION_CREATE",
                "ACTION_UPDATE",
                "ACTION_DELETE",
                "ACTION_ENABLE",
                "ACTION_DISABLE",
                "ACTION_ADD",
                "ACTION_REMOVE",
                "ACTION_MARK_AS_DEFAULT",
                "ACTION_ASSOCIATE",
                "ACTION_ASSIGN",
                "ACTION_UNASSIGN",
                "ACTION_SEND",
                "ACTION_LINK",
                "ACTION_UNLINK",
                "ACTION_PUSH",
                "ACTION_EMAIL_TAGS",
                "ACTION_SHARE"
              ],
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ]
            },
            "userProfileIds": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only change logs with these user profile IDs."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "objectIds": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only change logs with these object IDs.",
              "type": "string"
            },
            "objectType": {
              "description": "Select only change logs with the specified object type.",
              "location": "query",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_FLOODLIGHT_CONFIGURATION",
                "OBJECT_AD",
                "OBJECT_FLOODLIGHT_ACTVITY",
                "OBJECT_CAMPAIGN",
                "OBJECT_FLOODLIGHT_ACTIVITY_GROUP",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT",
                "OBJECT_DFA_SITE",
                "OBJECT_USER_ROLE",
                "OBJECT_USER_PROFILE",
                "OBJECT_ADVERTISER_GROUP",
                "OBJECT_ACCOUNT",
                "OBJECT_SUBACCOUNT",
                "OBJECT_RICHMEDIA_CREATIVE",
                "OBJECT_INSTREAM_CREATIVE",
                "OBJECT_MEDIA_ORDER",
                "OBJECT_CONTENT_CATEGORY",
                "OBJECT_PLACEMENT_STRATEGY",
                "OBJECT_SD_SITE",
                "OBJECT_SIZE",
                "OBJECT_CREATIVE_GROUP",
                "OBJECT_CREATIVE_ASSET",
                "OBJECT_USER_PROFILE_FILTER",
                "OBJECT_LANDING_PAGE",
                "OBJECT_CREATIVE_FIELD",
                "OBJECT_REMARKETING_LIST",
                "OBJECT_PROVIDED_LIST_CLIENT",
                "OBJECT_EVENT_TAG",
                "OBJECT_CREATIVE_BUNDLE",
                "OBJECT_BILLING_ACCOUNT_GROUP",
                "OBJECT_BILLING_FEATURE",
                "OBJECT_RATE_CARD",
                "OBJECT_ACCOUNT_BILLING_FEATURE",
                "OBJECT_BILLING_MINIMUM_FEE",
                "OBJECT_BILLING_PROFILE",
                "OBJECT_PLAYSTORE_LINK",
                "OBJECT_TARGETING_TEMPLATE",
                "OBJECT_SEARCH_LIFT_STUDY",
                "OBJECT_FLOODLIGHT_DV360_LINK",
                "OBJECT_ADVERTISER_CUSTOMER_LINK",
                "OBJECT_CONVERSION_DOMAIN",
                "OBJECT_ACCOUNT_CONVERSION_DOMAIN"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ]
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxChangeTime": {
              "type": "string",
              "description": "Select only change logs whose change time is before the specified maxChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is \"2015-07-18T22:54:00-04:00\". In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset.",
              "location": "query"
            },
            "minChangeTime": {
              "location": "query",
              "type": "string",
              "description": "Select only change logs whose change time is after the specified minChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is \"2015-07-18T22:54:00-04:00\". In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset."
            },
            "ids": {
              "format": "int64",
              "type": "string",
              "description": "Select only change logs with these IDs.",
              "location": "query",
              "repeated": true
            }
          }
        }
      }
    },
    "accounts": {
      "methods": {
        "list": {
          "id": "dfareporting.accounts.list",
          "response": {
            "$ref": "AccountsListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "parameters": {
            "sortField": {
              "description": "Field by which to sort the list.",
              "location": "query",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "active": {
              "type": "boolean",
              "description": "Select only active accounts. Don't set this field to select both active and non-active accounts.",
              "location": "query"
            },
            "ids": {
              "format": "int64",
              "location": "query",
              "repeated": true,
              "description": "Select only accounts with these IDs.",
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "location": "query",
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return."
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"account*2015\" will return objects with names like \"account June 2015\", \"account April 2015\", or simply \"account 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"account\" will match objects with name \"my account\", \"account 2015\", or simply \"account\"."
            }
          },
          "description": "Retrieves the list of accounts, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ]
        },
        "patch": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "Required. Account ID.",
              "location": "query",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Account"
          },
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "description": "Updates an existing account. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/accounts",
          "httpMethod": "PATCH",
          "id": "dfareporting.accounts.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "Account"
          }
        },
        "get": {
          "id": "dfareporting.accounts.get",
          "flatPath": "userprofiles/{userprofilesId}/accounts/{accountsId}",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "id": {
              "description": "Account ID.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/accounts/{+id}",
          "httpMethod": "GET",
          "description": "Gets one account by ID."
        },
        "update": {
          "request": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "description": "Updates an existing account.",
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "PUT",
          "id": "dfareporting.accounts.update",
          "path": "userprofiles/{+profileId}/accounts"
        }
      }
    },
    "contentCategories": {
      "methods": {
        "insert": {
          "path": "userprofiles/{+profileId}/contentCategories",
          "id": "dfareporting.contentCategories.insert",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "ContentCategory"
          },
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "httpMethod": "POST",
          "response": {
            "$ref": "ContentCategory"
          },
          "description": "Inserts a new content category."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "ContentCategory"
          },
          "description": "Updates an existing content category.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "id": "dfareporting.contentCategories.update",
          "response": {
            "$ref": "ContentCategory"
          },
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/contentCategories"
        },
        "delete": {
          "id": "dfareporting.contentCategories.delete",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "DELETE",
          "path": "userprofiles/{+profileId}/contentCategories/{+id}",
          "description": "Deletes an existing content category.",
          "parameters": {
            "id": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Content category ID.",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "response": {
            "$ref": "ContentCategory"
          },
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/contentCategories/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one content category by ID.",
          "parameters": {
            "id": {
              "description": "Content category ID.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "id": "dfareporting.contentCategories.get"
        },
        "list": {
          "id": "dfareporting.contentCategories.list",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameters": {
            "ids": {
              "format": "int64",
              "description": "Select only content categories with these IDs.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"contentcategory*2015\" will return objects with names like \"contentcategory June 2015\", \"contentcategory April 2015\", or simply \"contentcategory 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"contentcategory\" will match objects with name \"my contentcategory\", \"contentcategory 2015\", or simply \"contentcategory\".",
              "type": "string"
            },
            "sortField": {
              "default": "ID",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
[...]
