{
  "version": "v5",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "basePath": "/dfareporting/v5/",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "revision": "20260721",
  "ownerDomain": "google.com",
  "resources": {
    "languages": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/languages",
          "flatPath": "userprofiles/{userprofilesId}/languages",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "description": "Retrieves a list of languages.",
          "id": "dfareporting.languages.list",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64"
            }
          }
        }
      }
    },
    "advertiserInvoices": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/advertisers/{+advertiserId}/invoices",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertisers/{advertisersId}/invoices",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "advertiserId": {
              "description": "Advertiser ID of this invoice.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "issueMonth": {
              "description": "Month for which invoices are needed in the format YYYYMM. Required field",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "format": "int32",
              "location": "query",
              "type": "integer",
              "default": "1000"
            }
          },
          "description": "Retrieves a list of invoices for a particular issue month. The api only works if the billing profile invoice level is set to either advertiser or campaign non-consolidated invoice level.",
          "response": {
            "$ref": "AdvertiserInvoicesListResponse"
          },
          "id": "dfareporting.advertiserInvoices.list",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ]
        }
      }
    },
    "floodlightActivityGroups": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "description": "Retrieves a list of floodlight activity groups, possibly filtered. This method supports paging.",
          "parameters": {
            "floodlightConfigurationId": {
              "type": "string",
              "description": "Select only floodlight activity groups with the specified floodlight configuration ID. Must specify either advertiserId, or floodlightConfigurationId for a non-empty result.",
              "format": "int64",
              "location": "query"
            },
            "type": {
              "enum": [
                "COUNTER",
                "SALE"
              ],
              "description": "Select only floodlight activity groups with the specified floodlight activity group type.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivitygroup*2015\" will return objects with names like \"floodlightactivitygroup June 2015\", \"floodlightactivitygroup April 2015\", or simply \"floodlightactivitygroup 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivitygroup\" will match objects with name \"my floodlightactivitygroup activity\", \"floodlightactivitygroup 2015\", or simply \"floodlightactivitygroup\".",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "ids": {
              "location": "query",
              "type": "string",
              "description": "Select only floodlight activity groups with the specified IDs. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.",
              "repeated": true,
              "format": "int64"
            },
            "advertiserId": {
              "format": "int64",
              "description": "Select only floodlight activity groups with the specified advertiser ID. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "type": "string",
              "location": "query",
              "description": "Field by which to sort the list."
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "default": "1000",
              "format": "int32",
              "description": "Maximum number of results to return."
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "FloodlightActivityGroupsListResponse"
          },
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "id": "dfareporting.floodlightActivityGroups.list",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups"
        },
        "update": {
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "description": "Updates an existing floodlight activity group.",
          "id": "dfareporting.floodlightActivityGroups.update",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing floodlight activity group. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "location": "query",
              "description": "Required. EventTag ID.",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "id": "dfareporting.floodlightActivityGroups.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "FloodlightActivityGroup"
          }
        },
        "get": {
          "path": "userprofiles/{+profileId}/floodlightActivityGroups/{+id}",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "id": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Floodlight activity Group ID.",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "id": "dfareporting.floodlightActivityGroups.get",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups/{floodlightActivityGroupsId}",
          "description": "Gets one floodlight activity group by ID."
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "id": "dfareporting.floodlightActivityGroups.insert",
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "description": "Inserts a new floodlight activity group."
        }
      }
    },
    "dynamicFeeds": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "DynamicFeedsInsertRequest"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "DynamicFeed"
          },
          "parameters": {},
          "flatPath": "studio/dynamicFeeds",
          "id": "dfareporting.dynamicFeeds.insert",
          "description": "Inserts a new dynamic feed.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/dynamicFeeds"
        },
        "update": {
          "flatPath": "studio/dynamicFeeds",
          "parameterOrder": [],
          "path": "studio/dynamicFeeds",
          "id": "dfareporting.dynamicFeeds.update",
          "parameters": {},
          "request": {
            "$ref": "DynamicFeed"
          },
          "httpMethod": "PUT",
          "description": "Updates a new dynamic feed. For draft feeds, only Element can be updated. For published feeds, only FeedSchedule can be updated. Other fields will be ignored.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "DynamicFeed"
          }
        },
        "retransform": {
          "id": "dfareporting.dynamicFeeds.retransform",
          "description": "Retransforms a dynamic feed. Only draft feeds can be retransformed (i.e. the feed has not been published).",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "dynamicFeedId": {
              "format": "int64",
              "description": "Required. Dynamic feed ID.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "POST",
          "path": "studio/dynamicFeeds/{+dynamicFeedId}/retransform",
          "flatPath": "studio/dynamicFeeds/{dynamicFeedsId}/retransform",
          "parameterOrder": [
            "dynamicFeedId"
          ],
          "response": {
            "$ref": "DynamicFeed"
          }
        },
        "get": {
          "parameterOrder": [
            "dynamicFeedId"
          ],
          "response": {
            "$ref": "DynamicFeed"
          },
          "id": "dfareporting.dynamicFeeds.get",
          "flatPath": "studio/dynamicFeeds/{dynamicFeedsId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/dynamicFeeds/{+dynamicFeedId}",
          "parameters": {
            "dynamicFeedId": {
              "description": "Required. Dynamic feed ID.",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "description": "Gets a dynamic feed by ID."
        }
      }
    },
    "reports": {
      "methods": {
        "run": {
          "id": "dfareporting.reports.run",
          "flatPath": "userprofiles/{profileId}/reports/{reportId}/run",
          "path": "userprofiles/{profileId}/reports/{reportId}/run",
          "httpMethod": "POST",
          "parameters": {
            "synchronous": {
              "default": "false",
              "location": "query",
              "description": "If set and true, tries to run the report synchronously.",
              "type": "boolean"
            },
            "reportId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the report.",
              "format": "int64"
            },
            "profileId": {
              "description": "The Campaign Manager 360 user profile ID.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "response": {
            "$ref": "File"
          },
          "description": "Runs a report.",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "parameters": {
            "reportId": {
              "description": "The ID of the report.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "type": "string",
              "description": "The Campaign Manager 360 user profile ID.",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "id": "dfareporting.reports.delete",
          "description": "Deletes a report by its ID.",
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "path": "userprofiles/{profileId}/reports/{reportId}"
        },
        "list": {
          "description": "Retrieves list of reports.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{profileId}/reports",
          "path": "userprofiles/{profileId}/reports",
          "parameters": {
            "sortOrder": {
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "DESCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "default": "10",
              "format": "int32",
              "description": "Maximum number of results to return."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The value of the nextToken from the previous result page."
            },
            "scope": {
              "enumDescriptions": [
                "All reports in account.",
                "My reports."
              ],
              "location": "query",
              "enum": [
                "ALL",
                "MINE"
              ],
              "default": "MINE",
              "type": "string",
              "description": "The scope that defines which results are returned."
            },
            "profileId": {
              "format": "int64",
              "location": "path",
              "description": "The Campaign Manager 360 user profile ID.",
              "type": "string",
              "required": true
            },
            "sortField": {
              "default": "LAST_MODIFIED_TIME",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Sort by report ID.",
                "Sort by 'lastModifiedTime' field.",
                "Sort by name of reports."
              ],
              "enum": [
                "ID",
                "LAST_MODIFIED_TIME",
                "NAME"
              ],
              "description": "The field by which to sort the list."
            }
          },
          "id": "dfareporting.reports.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "response": {
            "$ref": "ReportList"
          }
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "description": "Retrieves a report by its ID.",
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "parameters": {
            "reportId": {
              "description": "The ID of the report.",
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "profileId": {
              "location": "path",
              "description": "The Campaign Manager 360 user profile ID.",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "id": "dfareporting.reports.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "response": {
            "$ref": "Report"
          }
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Report"
          },
          "path": "userprofiles/{profileId}/reports",
          "id": "dfareporting.reports.insert",
          "description": "Creates a report.",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "The Campaign Manager 360 user profile ID.",
              "required": true
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "Report"
          },
          "flatPath": "userprofiles/{profileId}/reports"
        },
        "update": {
          "id": "dfareporting.reports.update",
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "request": {
            "$ref": "Report"
          },
          "description": "Updates a report.",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "The Campaign Manager 360 user profile ID.",
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "reportId": {
              "type": "string",
              "description": "The ID of the report.",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "response": {
            "$ref": "Report"
          },
          "parameterOrder": [
            "profileId",
            "reportId"
          ]
        }
      },
      "resources": {
        "files": {
          "methods": {
            "get": {
              "path": "userprofiles/{profileId}/reports/{reportId}/files/{fileId}",
              "flatPath": "userprofiles/{profileId}/reports/{reportId}/files/{fileId}",
              "description": "Retrieves a report file by its report ID and file ID. This method supports media download.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "parameters": {
                "profileId": {
                  "required": true,
                  "description": "The Campaign Manager 360 user profile ID.",
                  "location": "path",
                  "format": "int64",
                  "type": "string"
                },
                "reportId": {
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the report."
                },
                "fileId": {
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "description": "The ID of the report file.",
                  "location": "path"
                }
              },
              "supportsMediaDownload": true,
              "response": {
                "$ref": "File"
              },
              "parameterOrder": [
                "profileId",
                "reportId",
                "fileId"
              ],
              "id": "dfareporting.reports.files.get"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "response": {
                "$ref": "FileList"
              },
              "httpMethod": "GET",
              "description": "Lists files for a report.",
              "flatPath": "userprofiles/{profileId}/reports/{reportId}/files",
              "parameters": {
                "sortOrder": {
                  "type": "string",
                  "default": "DESCENDING",
                  "location": "query",
                  "description": "Order of sorted results.",
                  "enumDescriptions": [
                    "Ascending order.",
                    "Descending order."
                  ],
                  "enum": [
                    "ASCENDING",
                    "DESCENDING"
                  ]
                },
                "reportId": {
                  "format": "int64",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the parent report."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The value of the nextToken from the previous result page."
                },
                "maxResults": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of results to return.",
                  "default": "10"
                },
                "sortField": {
                  "enumDescriptions": [
                    "",
                    ""
                  ],
                  "enum": [
                    "ID",
                    "LAST_MODIFIED_TIME"
                  ],
                  "default": "LAST_MODIFIED_TIME",
                  "description": "The field by which to sort the list.",
                  "location": "query",
                  "type": "string"
                },
                "profileId": {
                  "location": "path",
                  "description": "The Campaign Manager 360 user profile ID.",
                  "format": "int64",
                  "type": "string",
                  "required": true
                }
              },
              "path": "userprofiles/{profileId}/reports/{reportId}/files",
              "id": "dfareporting.reports.files.list",
              "parameterOrder": [
                "profileId",
                "reportId"
              ]
            }
          }
        },
        "compatibleFields": {
          "methods": {
            "query": {
              "id": "dfareporting.reports.compatibleFields.query",
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "response": {
                "$ref": "CompatibleFields"
              },
              "description": "Returns the fields that are compatible to be selected in the respective sections of a report criteria, given the fields already selected in the input report and user permissions.",
              "parameterOrder": [
                "profileId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "profileId": {
                  "location": "path",
                  "description": "The Campaign Manager 360 user profile ID.",
                  "format": "int64",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "userprofiles/{profileId}/reports/compatiblefields/query",
              "request": {
                "$ref": "Report"
              },
              "path": "userprofiles/{profileId}/reports/compatiblefields/query"
            }
          }
        }
      }
    },
    "placementStrategies": {
      "methods": {
        "delete": {
          "path": "userprofiles/{+profileId}/placementStrategies/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies/{placementStrategiesId}",
          "description": "Deletes an existing placement strategy.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Placement strategy ID."
            },
            "profileId": {
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "id": "dfareporting.placementStrategies.delete",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "DELETE"
        },
        "get": {
          "id": "dfareporting.placementStrategies.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies/{placementStrategiesId}",
          "description": "Gets one placement strategy by ID.",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "id": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Placement strategy ID.",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementStrategy"
          },
          "path": "userprofiles/{+profileId}/placementStrategies/{+id}"
        },
        "patch": {
          "description": "Updates an existing placement strategy. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/placementStrategies",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementStrategy"
          },
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Required. PlacementStrategy ID.",
              "required": true
            },
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "id": "dfareporting.placementStrategies.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "PlacementStrategy"
          }
        },
        "insert": {
          "httpMethod": "POST",
          "description": "Inserts a new placement strategy.",
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.placementStrategies.insert",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "path": "userprofiles/{+profileId}/placementStrategies",
          "request": {
            "$ref": "PlacementStrategy"
          }
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "id": "dfareporting.placementStrategies.list",
          "description": "Retrieves a list of placement strategies, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementStrategiesListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "sortOrder": {
              "type": "string",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"placementstrategy*2015\" will return objects with names like \"placementstrategy June 2015\", \"placementstrategy April 2015\", or simply \"placementstrategy 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementstrategy\" will match objects with name \"my placementstrategy\", \"placementstrategy 2015\", or simply \"placementstrategy\".",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "maxResults": {
              "default": "1000",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "sortField": {
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "description": "Field by which to sort the list.",
              "type": "string"
            },
            "ids": {
              "description": "Select only placement strategies with these IDs.",
              "type": "string",
              "format": "int64",
              "location": "query",
              "repeated": true
            }
          },
          "path": "userprofiles/{+profileId}/placementStrategies"
        },
        "update": {
          "path": "userprofiles/{+profileId}/placementStrategies",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "description": "Updates an existing placement strategy.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "PlacementStrategy"
          },
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "PlacementStrategy"
          },
          "id": "dfareporting.placementStrategies.update"
        }
      }
    },
    "remarketingLists": {
      "methods": {
        "patch": {
          "id": "dfareporting.remarketingLists.patch",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "description": "Updates an existing remarketing list. This method supports patch semantics.",
          "request": {
            "$ref": "RemarketingList"
          },
          "path": "userprofiles/{+profileId}/remarketingLists",
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "id": {
              "format": "int64",
              "type": "string",
              "description": "Required. RemarketingList ID.",
              "required": true,
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "RemarketingList"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "RemarketingListsListResponse"
          },
          "parameters": {
            "advertiserId": {
              "description": "Required. Select only remarketing lists owned by this advertiser.",
              "required": true,
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "floodlightActivityId": {
              "type": "string",
              "description": "Select only remarketing lists that have this floodlight activity ID.",
              "location": "query",
              "format": "int64"
            },
            "active": {
              "type": "boolean",
              "location": "query",
              "description": "Select only active or only inactive remarketing lists."
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "format": "int32",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query",
              "type": "integer"
            },
            "name": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query",
              "default": "ASCENDING"
            }
          },
          "path": "userprofiles/{+profileId}/remarketingLists",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "description": "Retrieves a list of remarketing lists, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "id": "dfareporting.remarketingLists.list"
        },
        "insert": {
          "path": "userprofiles/{+profileId}/remarketingLists",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new remarketing list.",
          "id": "dfareporting.remarketingLists.insert",
          "request": {
            "$ref": "RemarketingList"
          },
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "response": {
            "$ref": "RemarketingList"
          }
        },
        "get": {
          "response": {
            "$ref": "RemarketingList"
          },
          "httpMethod": "GET",
          "description": "Gets one remarketing list by ID.",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path"
            },
            "id": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Remarketing list ID.",
              "location": "path"
            }
          },
          "id": "dfareporting.remarketingLists.get",
          "path": "userprofiles/{+profileId}/remarketingLists/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists/{remarketingListsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "description": "Updates an existing remarketing list.",
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            }
          },
          "id": "dfareporting.remarketingLists.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "RemarketingList"
          },
          "path": "userprofiles/{+profileId}/remarketingLists",
          "response": {
            "$ref": "RemarketingList"
          }
        }
      }
    },
    "userRoles": {
      "methods": {
        "insert": {
          "description": "Inserts a new user role.",
          "response": {
            "$ref": "UserRole"
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "UserRole"
          },
          "path": "userprofiles/{+profileId}/userRoles",
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.userRoles.insert",
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          }
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "UserRolesListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "subaccountId": {
              "location": "query",
              "type": "string",
              "description": "Select only user roles that belong to this subaccount.",
              "format": "int64"
            },
            "sortField": {
              "location": "query",
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list."
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"userrole*2015\" will return objects with names like \"userrole June 2015\", \"userrole April 2015\", or simply \"userrole 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"userrole\" will match objects with name \"my userrole\", \"userrole 2015\", or simply \"userrole\".",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "accountUserRoleOnly": {
              "type": "boolean",
              "description": "Select only account level user roles not associated with any specific subaccount.",
              "location": "query"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "ids": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "description": "Select only user roles with the specified IDs."
            },
            "maxResults": {
              "location": "query",
              "default": "1000",
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of results to return."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "path": "userprofiles/{+profileId}/userRoles",
          "description": "Retrieves a list of user roles, possibly filtered. This method supports paging.",
          "id": "dfareporting.userRoles.list"
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing user role.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/userRoles",
          "request": {
            "$ref": "UserRole"
          },
          "id": "dfareporting.userRoles.update",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "UserRole"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "id": {
              "description": "Required. UserRole ID.",
              "type": "string",
              "location": "query",
              "required": true,
              "format": "int64"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "path": "userprofiles/{+profileId}/userRoles",
          "description": "Updates an existing user role. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "UserRole"
          },
          "id": "dfareporting.userRoles.patch",
          "response": {
            "$ref": "UserRole"
          }
        },
        "get": {
          "path": "userprofiles/{+profileId}/userRoles/{+id}",
          "response": {
            "$ref": "UserRole"
          },
          "description": "Gets one user role by ID.",
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "id": {
              "description": "User role ID.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "id": "dfareporting.userRoles.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRoles/{userRolesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "delete": {
          "description": "Deletes an existing user role.",
          "parameters": {
            "id": {
              "required": true,
              "description": "User role ID.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            }
          },
          "httpMethod": "DELETE",
          "path": "userprofiles/{+profileId}/userRoles/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRoles/{userRolesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.userRoles.delete"
        }
      }
    },
    "sites": {
      "methods": {
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Site"
          },
          "response": {
            "$ref": "Site"
          },
          "path": "userprofiles/{+profileId}/sites",
          "id": "dfareporting.sites.update",
          "description": "Updates an existing site.",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT"
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Site"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/sites/{+id}",
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "description": "Site ID.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/sites/{sitesId}",
          "id": "dfareporting.sites.get",
          "description": "Gets one site by ID."
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "id": "dfareporting.sites.insert",
          "description": "Inserts a new site.",
          "response": {
            "$ref": "Site"
          },
          "path": "userprofiles/{+profileId}/sites",
          "request": {
            "$ref": "Site"
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path"
            }
          }
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "id": "dfareporting.sites.patch",
          "request": {
            "$ref": "Site"
          },
          "response": {
            "$ref": "Site"
          },
          "description": "Updates an existing site. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            },
            "id": {
              "location": "query",
              "description": "Required. Site ID.",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/sites"
        },
        "list": {
          "id": "dfareporting.sites.list",
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "description": "Retrieves a list of sites, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "SitesListResponse"
          },
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "acceptsPublisherPaidPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "Select only sites that accept publisher paid placements."
            },
            "acceptsInStreamVideoPlacements": {
              "location": "query",
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "type": "boolean"
            },
            "subaccountId": {
              "type": "string",
              "description": "Select only sites with this subaccount ID.",
              "location": "query",
              "format": "int64"
            },
            "approved": {
              "description": "Select only approved sites.",
              "type": "boolean",
              "location": "query"
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "ids": {
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only sites with these IDs.",
              "location": "query"
            },
            "acceptsInterstitialPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "This search filter is no longer supported and will have no effect on the results returned."
            },
            "sortOrder": {
              "type": "string",
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "unmappedSite": {
              "description": "Select only sites that have not been mapped to a directory site.",
              "type": "boolean",
              "location": "query"
            },
            "directorySiteIds": {
              "type": "string",
              "repeated": true,
              "description": "Select only sites with these directory site IDs.",
              "format": "int64",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "default": "1000"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name, ID or keyName. Wildcards (*) are allowed. For example, \"site*2015\" will return objects with names like \"site June 2015\", \"site April 2015\", or simply \"site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"site\" will match objects with name \"my site\", \"site 2015\", or simply \"site\".",
              "type": "string"
            },
            "adWordsSite": {
              "description": "Select only AdWords sites.",
              "location": "query",
              "type": "boolean"
            },
            "campaignIds": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "description": "Select only sites with these campaign IDs."
            },
            "sortField": {
              "default": "ID",
              "type": "string",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list."
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/sites",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "accountPermissions": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountPermissions/{accountPermissionsId}",
          "id": "dfareporting.accountPermissions.get",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path"
            },
            "id": {
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Account permission ID."
            }
          },
          "description": "Gets one account permission by ID.",
          "response": {
            "$ref": "AccountPermission"
          },
          "path": "userprofiles/{+profileId}/accountPermissions/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "path": "userprofiles/{+profileId}/accountPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountPermissions",
          "description": "Retrieves the list of account permissions.",
          "id": "dfareporting.accountPermissions.list",
          "response": {
            "$ref": "AccountPermissionsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            }
          }
        }
      }
    },
    "sizes": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Size"
          },
          "description": "Gets one size by ID.",
          "httpMethod": "GET",
          "id": "dfareporting.sizes.get",
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            },
            "id": {
              "format": "int64",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Size ID.",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/sizes/{sizesId}",
          "path": "userprofiles/{+profileId}/sizes/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/sizes",
          "response": {
            "$ref": "Size"
          },
          "request": {
            "$ref": "Size"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "flatPath": "userprofiles/{userprofilesId}/sizes",
          "description": "Inserts a new size.",
          "id": "dfareporting.sizes.insert"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "height": {
              "location": "query",
              "type": "integer",
              "description": "Select only sizes with this height.",
              "format": "int32"
            },
            "width": {
              "format": "int32",
              "type": "integer",
              "description": "Select only sizes with this width.",
              "location": "query"
            },
            "iabStandard": {
              "description": "Select only IAB standard sizes.",
              "type": "boolean",
              "location": "query"
            },
            "ids": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Select only sizes with these IDs.",
              "repeated": true
            }
          },
          "httpMethod": "GET",
          "description": "Retrieves a list of sizes, possibly filtered. Retrieved sizes are globally unique and may include values not currently in use by your account. Due to this, the list of sizes returned by this method may differ from the list seen in the Trafficking UI.",
          "path": "userprofiles/{+profileId}/sizes",
          "response": {
            "$ref": "SizesListResponse"
          },
          "id": "dfareporting.sizes.list",
          "flatPath": "userprofiles/{userprofilesId}/sizes",
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "targetingTemplates": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "httpMethod": "GET",
          "parameters": {
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "type": "string",
              "description": "Field by which to sort the list."
            },
            "advertiserId": {
              "location": "query",
              "type": "string",
              "description": "Select only targeting templates with this advertiser ID.",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "format": "int64",
              "description": "Select only targeting templates with these IDs.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"template*2015\" will return objects with names like \"template June 2015\", \"template April 2015\", or simply \"template 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"template\" will match objects with name \"my template\", \"template 2015\", or simply \"template\"."
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "type": "string",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query"
            }
          },
          "id": "dfareporting.targetingTemplates.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "TargetingTemplatesListResponse"
          },
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "description": "Retrieves a list of targeting templates, optionally filtered. This method supports paging."
        },
        "patch": {
          "description": "Updates an existing targeting template. This method supports patch semantics.",
          "parameters": {
            "id": {
              "description": "Required. RemarketingList ID.",
              "required": true,
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "id": "dfareporting.targetingTemplates.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "TargetingTemplate"
          },
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates"
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "id": "dfareporting.targetingTemplates.insert",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "TargetingTemplate"
          },
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "description": "Inserts a new targeting template.",
          "response": {
            "$ref": "TargetingTemplate"
          }
        },
        "update": {
          "description": "Updates an existing targeting template.",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "TargetingTemplate"
          },
          "response": {
            "$ref": "TargetingTemplate"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "id": "dfareporting.targetingTemplates.update"
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates/{targetingTemplatesId}",
          "path": "userprofiles/{+profileId}/targetingTemplates/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.targetingTemplates.get",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "description": "Gets one targeting template by ID.",
          "parameters": {
            "id": {
              "description": "Targeting template ID.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "eventTags": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/eventTags",
          "httpMethod": "GET",
          "parameters": {
            "definitionsOnly": {
              "type": "boolean",
              "description": "Examine only the specified campaign or advertiser's event tags for matching selector criteria. When set to false, the parent advertiser and parent campaign of the specified ad or campaign is examined as well. In addition, when set to false, the status field is examined as well, along with the enabledByDefault field. This parameter can not be set to true when adId is specified as ads do not define their own even tags.",
              "location": "query"
            },
            "advertiserId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Select only event tags that belong to this advertiser."
            },
            "adId": {
              "description": "Select only event tags that belong to this ad.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "sortOrder": {
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            },
            "ids": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only event tags with these IDs.",
              "repeated": true
            },
            "eventTagTypes": {
              "location": "query",
              "enum": [
                "IMPRESSION_IMAGE_EVENT_TAG",
                "IMPRESSION_JAVASCRIPT_EVENT_TAG",
                "CLICK_THROUGH_EVENT_TAG"
              ],
              "description": "Select only event tags with the specified event tag types. Event tag types can be used to specify whether to use a third-party pixel, a third-party JavaScript URL, or a third-party click-through URL for either impression or click tracking.",
              "enumDescriptions": [
                "A third-party pixel for impression tracking.",
                "A third-party JavaScript URL for impression tracking.",
                "A third-party URL for click tracking that redirects to the landing page."
              ],
              "repeated": true,
              "type": "string"
            },
            "campaignId": {
              "description": "Select only event tags that belong to this campaign.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"eventtag*2015\" will return objects with names like \"eventtag June 2015\", \"eventtag April 2015\", or simply \"eventtag 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"eventtag\" will match objects with name \"my eventtag\", \"eventtag 2015\", or simply \"eventtag\".",
              "location": "query",
              "type": "string"
            },
            "enabled": {
              "location": "query",
              "description": "Select only enabled event tags. What is considered enabled or disabled depends on the definitionsOnly parameter. When definitionsOnly is set to true, only the specified advertiser or campaign's event tags' enabledByDefault field is examined. When definitionsOnly is set to false, the specified ad or specified campaign's parent advertiser's or parent campaign's event tags' enabledByDefault and status fields are examined as well.",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "response": {
            "$ref": "EventTagsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of event tags, possibly filtered.",
          "id": "dfareporting.eventTags.list"
        },
        "update": {
          "path": "userprofiles/{+profileId}/eventTags",
          "id": "dfareporting.eventTags.update",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "EventTag"
          },
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "description": "Updates an existing event tag.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "EventTag"
          }
        },
        "insert": {
          "id": "dfareporting.eventTags.insert",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new event tag.",
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "EventTag"
          },
          "response": {
            "$ref": "EventTag"
          },
          "path": "userprofiles/{+profileId}/eventTags"
        },
        "delete": {
          "path": "userprofiles/{+profileId}/eventTags/{+id}",
          "id": "dfareporting.eventTags.delete",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Deletes an existing event tag.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64"
            },
            "id": {
              "description": "Event tag ID.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "httpMethod": "DELETE",
          "flatPath": "userprofiles/{userprofilesId}/eventTags/{eventTagsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/eventTags",
          "response": {
            "$ref": "EventTag"
          },
          "request": {
            "$ref": "EventTag"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "id": "dfareporting.eventTags.patch",
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            },
            "id": {
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "Required. EventTag ID.",
              "location": "query"
            }
          },
          "description": "Updates an existing event tag. This method supports patch semantics.",
          "httpMethod": "PATCH"
        },
        "get": {
          "path": "userprofiles/{+profileId}/eventTags/{+id}",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "Event tag ID.",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "EventTag"
          },
          "description": "Gets one event tag by ID.",
          "id": "dfareporting.eventTags.get",
          "flatPath": "userprofiles/{userprofilesId}/eventTags/{eventTagsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "connectionTypes": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "ConnectionType"
          },
          "path": "userprofiles/{+profileId}/connectionTypes/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one connection type by ID.",
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "location": "path",
              "description": "Connection type ID.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/connectionTypes/{connectionTypesId}",
          "id": "dfareporting.connectionTypes.get"
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of connection types.",
          "response": {
            "$ref": "ConnectionTypesListResponse"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "GET",
          "id": "dfareporting.connectionTypes.list",
          "path": "userprofiles/{+profileId}/connectionTypes",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/connectionTypes"
        }
      }
    },
    "videoFormats": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/videoFormats/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/videoFormats/{videoFormatsId}",
          "id": "dfareporting.videoFormats.get",
          "response": {
            "$ref": "VideoFormat"
          },
          "httpMethod": "GET",
          "description": "Gets one video format by ID.",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "type": "integer",
              "description": "Video format ID.",
              "required": true,
              "location": "path",
              "format": "int32"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true
            }
          }
        },
        "list": {
          "response": {
            "$ref": "VideoFormatsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.videoFormats.list",
          "path": "userprofiles/{+profileId}/videoFormats",
          "flatPath": "userprofiles/{userprofilesId}/videoFormats",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Lists available video formats.",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          }
        }
      }
    },
    "directorySites": {
      "methods": {
        "get": {
          "description": "Gets one directory site by ID.",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "id": {
              "required": true,
              "format": "int64",
              "description": "Directory site ID.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.directorySites.get",
          "flatPath": "userprofiles/{userprofilesId}/directorySites/{directorySitesId}",
          "response": {
            "$ref": "DirectorySite"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/directorySites/{+id}"
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "description": "Inserts a new directory site.",
          "path": "userprofiles/{+profileId}/directorySites",
          "id": "dfareporting.directorySites.insert",
          "request": {
            "$ref": "DirectorySite"
          },
          "response": {
            "$ref": "DirectorySite"
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "required": true
            }
          }
        },
        "list": {
          "id": "dfareporting.directorySites.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "path": "userprofiles/{+profileId}/directorySites",
          "description": "Retrieves a list of directory sites, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "DirectorySitesListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "acceptsInStreamVideoPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "This search filter is no longer supported and will have no effect on the results returned."
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "acceptsPublisherPaidPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "Select only directory sites that accept publisher paid placements. This field can be left blank."
            },
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            },
            "ids": {
              "repeated": true,
              "description": "Select only directory sites with these IDs.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for objects by name, ID or URL. Wildcards (*) are allowed. For example, \"directory site*2015\" will return objects with names like \"directory site June 2015\", \"directory site April 2015\", or simply \"directory site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"directory site\" will match objects with name \"my directory site\", \"directory site 2015\" or simply, \"directory site\".",
              "type": "string",
              "location": "query"
            },
            "active": {
              "description": "Select only active directory sites. Leave blank to retrieve both active and inactive directory sites.",
              "type": "boolean",
              "location": "query"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "location": "query",
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "acceptsInterstitialPlacements": {
              "type": "boolean",
              "location": "query",
              "description": "This search filter is no longer supported and will have no effect on the results returned."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "dfpNetworkCode": {
              "description": "Select only directory sites with this Ad Manager network code.",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    },
    "dimensionValues": {
      "methods": {
        "query": {
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves list of report dimension values for a list of filters.",
          "id": "dfareporting.dimensionValues.query",
          "response": {
            "$ref": "DimensionValueList"
          },
          "path": "userprofiles/{profileId}/dimensionvalues/query",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The value of the nextToken from the previous result page.",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "type": "integer",
              "default": "100",
              "location": "query",
              "format": "int32"
            },
            "profileId": {
              "required": true,
              "description": "The Campaign Manager 360 user profile ID.",
              "location": "path",
              "type": "string",
              "format": "int64"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "request": {
            "$ref": "DimensionValueRequest"
          },
          "flatPath": "userprofiles/{profileId}/dimensionvalues/query"
        }
      }
    },
    "subaccounts": {
      "methods": {
        "list": {
          "description": "Gets a list of subaccounts, possibly filtered. This method supports paging.",
[...]
