{
  "protocol": "rest",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "revision": "20260721",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "servicePath": "dfareporting/v5/",
  "discoveryVersion": "v1",
  "parameters": {
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "batchPath": "batch",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "dfareporting:v5",
  "ownerDomain": "google.com",
  "canonicalName": "Dfareporting",
  "title": "Campaign Manager 360 API",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "schemas": {
    "MobileApp": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of this mobile app."
        },
        "publisherName": {
          "description": "Publisher name.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileApp\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this mobile app.",
          "type": "string"
        },
        "directory": {
          "enum": [
            "UNKNOWN",
            "APPLE_APP_STORE",
            "GOOGLE_PLAY_STORE",
            "ROKU_APP_STORE",
            "AMAZON_FIRETV_APP_STORE",
            "PLAYSTATION_APP_STORE",
            "APPLE_TV_APP_STORE",
            "XBOX_APP_STORE",
            "SAMSUNG_TV_APP_STORE",
            "ANDROID_TV_APP_STORE",
            "GENERIC_CTV_APP_STORE"
          ],
          "description": "Mobile app directory.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "Contains information about a mobile app. Used as a landing page deep link.",
      "id": "MobileApp"
    },
    "Campaign": {
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Account ID of this campaign. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "billingInvoiceCode": {
          "type": "string",
          "description": "Billing invoice code included in the Campaign Manager client billing invoices associated with the campaign."
        },
        "clickThroughUrlSuffixProperties": {
          "description": "Click-through URL suffix override properties for this campaign.",
          "$ref": "ClickThroughUrlSuffixProperties"
        },
        "audienceSegmentGroups": {
          "type": "array",
          "items": {
            "$ref": "AudienceSegmentGroup"
          },
          "description": "Audience segment groups assigned to this campaign. Cannot have more than 300 segment groups."
        },
        "eventTagOverrides": {
          "description": "Overrides that can be used to activate or deactivate advertiser event tags.",
          "items": {
            "$ref": "EventTagOverride"
          },
          "type": "array"
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "Advertiser ID of this campaign. This is a required field."
        },
        "createInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Information about the creation of this campaign. This is a read-only field."
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the advertiser ID of this campaign. This is a read-only, auto-generated field."
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this campaign. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "name": {
          "description": "Name of this campaign. This is a required field and must be less than 512 characters long and unique among campaigns of the same advertiser.",
          "type": "string"
        },
        "externalId": {
          "description": "External ID for this campaign.",
          "type": "string"
        },
        "comment": {
          "description": "Arbitrary comments about this campaign. Must be less than 256 characters long.",
          "type": "string"
        },
        "defaultLandingPageId": {
          "description": "The default landing page ID for this campaign.",
          "format": "int64",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "advertiserGroupId": {
          "format": "int64",
          "type": "string",
          "description": "Advertiser group ID of the associated advertiser."
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Information about the most recent modification of this campaign. This is a read-only field."
        },
        "creativeOptimizationConfiguration": {
          "$ref": "CreativeOptimizationConfiguration",
          "description": "Creative optimization configuration for the campaign."
        },
        "adBlockingConfiguration": {
          "$ref": "AdBlockingConfiguration",
          "description": "Ad blocking settings for this campaign."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this campaign. This is a read-only auto-generated field."
        },
        "measurementPartnerLink": {
          "description": "Measurement partner campaign link for tag wrapping.",
          "$ref": "MeasurementPartnerCampaignLink"
        },
        "creativeGroupIds": {
          "description": "List of creative group IDs that are assigned to the campaign.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "archived": {
          "description": "Whether this campaign has been archived.",
          "type": "boolean"
        },
        "startDate": {
          "format": "date",
          "type": "string"
        },
        "additionalCreativeOptimizationConfigurations": {
          "type": "array",
          "items": {
            "$ref": "CreativeOptimizationConfiguration"
          },
          "description": "Additional creative optimization configurations for the campaign."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaign\".",
          "type": "string"
        },
        "defaultClickThroughEventTagProperties": {
          "$ref": "DefaultClickThroughEventTagProperties",
          "description": "Click-through event tag ID override properties for this campaign."
        },
        "euPoliticalAdsDeclaration": {
          "enum": [
            "CONTAINS_EU_POLITICAL_ADS",
            "DOES_NOT_CONTAIN_EU_POLITICAL_ADS"
          ],
          "description": "Optional. Whether the campaign has EU political ads. Campaign Manager 360 doesn't allow campaigns with EU political ads to serve in the EU. They can still serve in other regions.",
          "enumDescriptions": [
            "The campaign contains EU political ads.",
            "The campaign does not contain EU political ads."
          ],
          "type": "string"
        }
      },
      "description": "Contains properties of a Campaign Manager campaign.",
      "type": "object",
      "id": "Campaign"
    },
    "SiteVideoSettings": {
      "id": "SiteVideoSettings",
      "description": "Video Settings",
      "type": "object",
      "properties": {
        "obaSettings": {
          "description": "Settings for the OBA icon of video creatives served to this site. This will act as default for new placements created under this site.",
          "$ref": "ObaIcon"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteVideoSettings\"."
        },
        "obaEnabled": {
          "type": "boolean",
          "description": "Whether OBA icons are enabled for this placement."
        },
        "skippableSettings": {
          "$ref": "SiteSkippableSetting",
          "description": "Settings for the skippability of video creatives served to this site. This will act as default for new placements created under this site."
        },
        "orientation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ANY",
            "LANDSCAPE",
            "PORTRAIT"
          ],
          "description": "Orientation of a site template used for video. This will act as default for new placements created under this site."
        },
        "publisherSpecificationId": {
          "type": "string",
          "format": "int64",
          "description": "Publisher specification ID used to identify site-associated publisher requirements and automatically populate transcode settings. If publisher specification ID is specified, it will take precedence over transcode settings. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max"
        },
        "companionSettings": {
          "description": "Settings for the companion creatives of video creatives served to this site.",
          "$ref": "SiteCompanionSetting"
        },
        "transcodeSettings": {
          "description": "Settings for the transcodes of video creatives served to this site. This will act as default for new placements created under this site.",
          "$ref": "SiteTranscodeSetting"
        }
      }
    },
    "DynamicProfileFeedSettings": {
      "properties": {
        "quantity": {
          "type": "integer",
          "description": "Optional. The number of this dynamic feed rows needed by the dynamic profile, default value is 1. Acceptable values are between 1 to 99, inclusive.",
          "format": "int32"
        },
        "dynamicFeedId": {
          "description": "Optional. Dynamic feed ID associated with dynamic profile version.",
          "type": "string",
          "format": "int64"
        },
        "dynamicRules": {
          "description": "Optional. Dynamic rules for row selection for the given dynamic feed in the given dynamic profile.",
          "$ref": "DynamicRules"
        }
      },
      "id": "DynamicProfileFeedSettings",
      "type": "object",
      "description": "Contains dynamic profile specific settings for an associated dynamic feed."
    },
    "ReportCompatibleFields": {
      "properties": {
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "type": "array",
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report."
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#reportCompatibleFields."
        },
        "dimensions": {
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "pivotedActivityMetrics": {
          "items": {
            "$ref": "Metric"
          },
          "type": "array",
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report."
        },
        "dimensionFilters": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report."
        }
      },
      "id": "ReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"STANDARD\".",
      "type": "object"
    },
    "ReportDataResponse": {
      "properties": {
        "rows": {
          "items": {
            "$ref": "ReportDataRow"
          },
          "type": "array",
          "description": "Output only. The resulting set of matching data rows.",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Token to retrieve the next page of rows, or empty if end of results."
        },
        "totalRow": {
          "readOnly": true,
          "$ref": "ReportDataRow",
          "description": "Output only. Singular aggregate total row for the entire query matching the criteria. Column headers apply in the exact same order as data rows. In the total_row: - All dimension columns contain an empty string (\"\"), as aggregation does not apply. - Non-summable metric columns (e.g. Reach metrics) contain an empty string (\"\"), as grand total aggregation cannot be mathematically/logically computed for them."
        },
        "columnHeaders": {
          "description": "Output only. Ordered descriptors of the requested column fields.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ColumnHeader"
          }
        }
      },
      "type": "object",
      "description": "Represents a response to report data request.",
      "id": "ReportDataResponse"
    },
    "IngestionErrorRecord": {
      "type": "object",
      "id": "IngestionErrorRecord",
      "description": "Contains the ingestion error record of the dynamic feed. limited to 100 records.",
      "properties": {
        "errors": {
          "description": "Output only. The list of field errors of the ingestion error record.",
          "readOnly": true,
          "items": {
            "$ref": "FieldError"
          },
          "type": "array"
        },
        "recordId": {
          "type": "string",
          "description": "Output only. The record ID of the ingestion error record.",
          "readOnly": true
        }
      }
    },
    "RichMediaExitOverride": {
      "properties": {
        "exitId": {
          "format": "int64",
          "type": "string",
          "description": "ID for the override to refer to a specific exit in the creative."
        },
        "clickThroughUrl": {
          "description": "Click-through URL of this rich media exit override. Applicable if the enabled field is set to true.",
          "$ref": "ClickThroughUrl"
        },
        "enabled": {
          "description": "Whether to use the clickThroughUrl. If false, the creative-level exit will be used.",
          "type": "boolean"
        }
      },
      "description": "Rich Media Exit Override.",
      "id": "RichMediaExitOverride",
      "type": "object"
    },
    "CreativeAssetMetadata": {
      "type": "object",
      "description": "CreativeAssets contains properties of a creative asset file which will be uploaded or has already been uploaded. Refer to the creative sample code for how to upload assets and insert a creative.",
      "id": "CreativeAssetMetadata",
      "properties": {
        "id": {
          "type": "string",
          "description": "Numeric ID of the asset. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "assetIdentifier": {
          "description": "ID of the creative asset. This is a required field.",
          "$ref": "CreativeAssetId"
        },
        "warnedValidationRules": {
          "type": "array",
          "description": "Rules validated during code generation that generated a warning. This is a read-only, auto-generated field. Possible values are: - \"ADMOB_REFERENCED\" - \"ASSET_FORMAT_UNSUPPORTED_DCM\" - \"ASSET_INVALID\" - \"CLICK_TAG_HARD_CODED\" - \"CLICK_TAG_INVALID\" - \"CLICK_TAG_IN_GWD\" - \"CLICK_TAG_MISSING\" - \"CLICK_TAG_MORE_THAN_ONE\" - \"CLICK_TAG_NON_TOP_LEVEL\" - \"COMPONENT_UNSUPPORTED_DCM\" - \"ENABLER_UNSUPPORTED_METHOD_DCM\" - \"EXTERNAL_FILE_REFERENCED\" - \"FILE_DETAIL_EMPTY\" - \"FILE_TYPE_INVALID\" - \"GWD_PROPERTIES_INVALID\" - \"HTML5_FEATURE_UNSUPPORTED\" - \"LINKED_FILE_NOT_FOUND\" - \"MAX_FLASH_VERSION_11\" - \"MRAID_REFERENCED\" - \"NOT_SSL_COMPLIANT\" - \"ORPHANED_ASSET\" - \"PRIMARY_HTML_MISSING\" - \"SVG_INVALID\" - \"ZIP_INVALID\" ",
          "items": {
            "enumDescriptions": [
              "Click tag initialization detected but not at the top level of the primary html file.",
              "No click tag detected.",
              "More than one click tag detected.",
              "Click tag invalid (failed url validation).",
              "Orphaned asset not referenced.",
              "Primary html file missing.",
              "Reference to a third-party resource.",
              "Reference to INAPP MRAID feature.",
              "Reference to INAPP ADMOB feature.",
              "Invalid file type referenced.",
              "Invalid zip passed in",
              "A relative file was linked to that wasn't included in zip.",
              "Max flash version at 11.",
              "Whether the asset uses secure urls or not.",
              "File detail empty.",
              "Asset is not valid and could not be processed.",
              "GWD properties are invalid.",
              "Unsupported Enabler methods in DCM.",
              "Asset ad format is unsupported in DCM.",
              "Component is unsupported in DCM.",
              "Html5 feature is unsupported.",
              "Click tag defined in GWD asset. GWD-published creatives should use exit events instead of defining var clickTag. Defined var clickTags are a symptom of an unsupported workflow, and an error should be thrown.",
              "Whether the asset has hard coded click tag url(s).",
              "Whether an SVG block could not be parsed.",
              "Click tag defined in rich media asset. Rich media creatives should use exit events instead of defining var clickTag. Defined var clickTags are a symptom of an unsupported workflow, and an error should be thrown.",
              "Rich media primary asset is missing the Enabler reference."
            ],
            "enum": [
              "CLICK_TAG_NON_TOP_LEVEL",
              "CLICK_TAG_MISSING",
              "CLICK_TAG_MORE_THAN_ONE",
              "CLICK_TAG_INVALID",
              "ORPHANED_ASSET",
              "PRIMARY_HTML_MISSING",
              "EXTERNAL_FILE_REFERENCED",
              "MRAID_REFERENCED",
              "ADMOB_REFERENCED",
              "FILE_TYPE_INVALID",
              "ZIP_INVALID",
              "LINKED_FILE_NOT_FOUND",
              "MAX_FLASH_VERSION_11",
              "NOT_SSL_COMPLIANT",
              "FILE_DETAIL_EMPTY",
              "ASSET_INVALID",
              "GWD_PROPERTIES_INVALID",
              "ENABLER_UNSUPPORTED_METHOD_DCM",
              "ASSET_FORMAT_UNSUPPORTED_DCM",
              "COMPONENT_UNSUPPORTED_DCM",
              "HTML5_FEATURE_UNSUPPORTED",
              "CLICK_TAG_IN_GWD",
              "CLICK_TAG_HARD_CODED",
              "SVG_INVALID",
              "CLICK_TAG_IN_RICH_MEDIA",
              "MISSING_ENABLER_REFERENCE"
            ],
            "type": "string"
          }
        },
        "timerCustomEvents": {
          "description": "List of timer events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset.",
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "type": "array"
        },
        "clickTags": {
          "type": "array",
          "items": {
            "$ref": "ClickTag"
          },
          "description": "List of detected click tags for assets. This is a read-only, auto-generated field. This field is empty for a rich media asset."
        },
        "detectedFeatures": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "POST_MESSAGE always required due to html5 implementation.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ]
          },
          "description": "List of feature dependencies for the creative asset that are detected by Campaign Manager. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field.",
          "type": "array"
        },
        "exitCustomEvents": {
          "description": "List of exit events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset.",
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "type": "array"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the numeric ID of the asset. This is a read-only, auto-generated field."
        },
        "counterCustomEvents": {
          "description": "List of counter events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset.",
          "type": "array",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "richMedia": {
          "type": "boolean",
          "description": "True if the uploaded asset is a rich media asset. This is a read-only, auto-generated field."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeAssetMetadata\".",
          "type": "string"
        }
      }
    },
    "TargetingTemplate": {
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Account ID of this targeting template. This field, if left unset, will be auto-generated on insert and is read-only after insert.",
          "format": "int64"
        },
        "geoTargeting": {
          "description": "Geographical targeting criteria.",
          "$ref": "GeoTargeting"
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser ID of this targeting template. This is a required field on insert and is read-only after insert."
        },
        "dayPartTargeting": {
          "description": "Time and day targeting criteria.",
          "$ref": "DayPartTargeting"
        },
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of this targeting template. This field, if left unset, will be auto-generated on insert and is read-only after insert."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetingTemplate\".",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "technologyTargeting": {
          "description": "Technology platform targeting criteria.",
          "$ref": "TechnologyTargeting"
        },
        "languageTargeting": {
          "$ref": "LanguageTargeting",
          "description": "Language targeting criteria."
        },
        "listTargetingExpression": {
          "$ref": "ListTargetingExpression",
          "description": "Remarketing list targeting criteria."
        },
        "keyValueTargetingExpression": {
          "description": "Key-value targeting criteria.",
          "$ref": "KeyValueTargetingExpression"
        },
        "name": {
          "description": "Name of this targeting template. This field is required. It must be less than 256 characters long and unique within an advertiser.",
          "type": "string"
        },
        "id": {
          "description": "ID of this targeting template. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "contextualKeywordTargeting": {
          "description": "Optional. Contextual keyword targeting criteria.",
          "$ref": "ContextualKeywordTargeting"
        }
      },
      "id": "TargetingTemplate",
      "type": "object",
      "description": "Contains properties of a targeting template. A targeting template encapsulates targeting information which can be reused across multiple ads."
    },
    "RuleBlock": {
      "type": "object",
      "id": "RuleBlock",
      "properties": {
        "fieldFilter": {
          "description": "Optional. A list of non-auto field filters",
          "items": {
            "$ref": "FieldFilter"
          },
          "type": "array"
        }
      },
      "description": "Contains a list of field filters that the given custom rule will apply."
    },
    "PlatformType": {
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of this platform type.",
          "format": "int64"
        },
        "name": {
          "description": "Name of this platform type.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#platformType\".",
          "type": "string"
        }
      },
      "description": "Contains information about a platform type that can be targeted by ads.",
      "id": "PlatformType",
      "type": "object"
    },
    "DirectorySite": {
      "type": "object",
      "id": "DirectorySite",
      "description": "DirectorySites contains properties of a website from the Site Directory. Sites need to be added to an account via the Sites resource before they can be assigned to a placement.",
      "properties": {
        "publisherSpecificationId": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Default publisher specification ID of video placements under this directory site. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#directorySite\"."
        },
        "settings": {
          "$ref": "DirectorySiteSettings",
          "description": "Directory site settings."
        },
        "inpageTagFormats": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "STANDARD",
              "IFRAME_JAVASCRIPT_INPAGE",
              "INTERNAL_REDIRECT_INPAGE",
              "JAVASCRIPT_INPAGE"
            ]
          },
          "type": "array",
          "description": "Tag types for regular placements. Acceptable values are: - \"STANDARD\" - \"IFRAME_JAVASCRIPT_INPAGE\" - \"INTERNAL_REDIRECT_INPAGE\" - \"JAVASCRIPT_INPAGE\" "
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this directory site. This is a read-only, auto-generated field."
        },
        "interstitialTagFormats": {
          "type": "array",
          "items": {
            "enum": [
              "IFRAME_JAVASCRIPT_INTERSTITIAL",
              "INTERNAL_REDIRECT_INTERSTITIAL",
              "JAVASCRIPT_INTERSTITIAL"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          },
          "description": "Tag types for interstitial placements. Acceptable values are: - \"IFRAME_JAVASCRIPT_INTERSTITIAL\" - \"INTERNAL_REDIRECT_INTERSTITIAL\" - \"JAVASCRIPT_INTERSTITIAL\" "
        },
        "url": {
          "description": "URL of this directory site.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this directory site."
        },
        "id": {
          "format": "int64",
          "description": "ID of this directory site. This is a read-only, auto-generated field.",
          "type": "string"
        }
      }
    },
    "CountriesListResponse": {
      "id": "CountriesListResponse",
      "type": "object",
      "description": "Country List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#countriesListResponse\".",
          "type": "string"
        },
        "countries": {
          "type": "array",
          "items": {
            "$ref": "Country"
          },
          "description": "Country collection."
        }
      }
    },
    "ConversionsBatchInsertRequest": {
      "id": "ConversionsBatchInsertRequest",
      "type": "object",
      "properties": {
        "conversions": {
          "description": "The set of conversions to insert.",
          "items": {
            "$ref": "Conversion"
          },
          "type": "array"
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Describes how encryptedUserId or encryptedUserIdCandidates[] is encrypted. This is a required field if encryptedUserId or encryptedUserIdCandidates[] is used."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchInsertRequest\"."
        }
      },
      "description": "Insert Conversions Request."
    },
    "FloodlightActivity": {
      "id": "FloodlightActivity",
      "type": "object",
      "properties": {
        "floodlightActivityGroupName": {
          "description": "Name of the associated floodlight activity group. This is a read-only field.",
          "type": "string"
        },
        "floodlightActivityGroupTagString": {
          "type": "string",
          "description": "Tag string of the associated floodlight activity group. This is a read-only field."
        },
        "attributionEnabled": {
          "description": "Whether the activity is enabled for attribution.",
          "type": "boolean"
        },
        "countingMethod": {
          "enum": [
            "STANDARD_COUNTING",
            "UNIQUE_COUNTING",
            "SESSION_COUNTING",
            "TRANSACTIONS_COUNTING",
            "ITEMS_SOLD_COUNTING"
          ],
          "enumDescriptions": [
            "Count every conversion.",
            "Count the first conversion for each unique user during each 24-hour day, from midnight to midnight, Eastern Time.",
            "Count one conversion per user per session. Session length is set by the site where the Spotlight tag is deployed.",
            "Count all conversions, plus the total number of sales that take place and the total revenue for these transactions.",
            "Count each conversion, plus the total number of items sold and the total revenue for these sales."
          ],
          "description": "Counting method for conversions for this floodlight activity. This is a required field.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ACTIVE",
            "ARCHIVED_AND_DISABLED",
            "ARCHIVED",
            "DISABLED_POLICY"
          ],
          "description": "The status of the activity. This can only be set to ACTIVE or ARCHIVED_AND_DISABLED. The ARCHIVED status is no longer supported and cannot be set for Floodlight activities. The DISABLED_POLICY status indicates that a Floodlight activity is violating Google policy. Contact your account manager for more information."
        },
        "secure": {
          "type": "boolean",
          "description": "Whether this tag should use SSL."
        },
        "floodlightActivityGroupId": {
          "type": "string",
          "format": "int64",
          "description": "Floodlight activity group ID of this floodlight activity. This is a required field."
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether the floodlight activity is SSL-compliant. This is a read-only field, its value detected by the system from the floodlight tags."
        },
        "floodlightActivityGroupType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "COUNTER",
            "SALE"
          ],
          "type": "string",
          "description": "Type of the associated floodlight activity group. This is a read-only field."
        },
        "name": {
          "description": "Name of this floodlight activity. This is a required field. Must be less than 129 characters long and cannot contain quotes.",
          "type": "string"
        },
        "floodlightConfigurationId": {
          "type": "string",
          "format": "int64",
          "description": "Floodlight configuration ID of this floodlight activity. If this field is left blank, the value will be copied over either from the activity group's floodlight configuration or from the existing activity's floodlight configuration."
        },
        "expectedUrl": {
          "type": "string",
          "description": "URL where this tag will be deployed. If specified, must be less than 256 characters long."
        },
        "floodlightTagType": {
          "type": "string",
          "description": "The type of Floodlight tag this activity will generate. This is a required field.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "IFRAME",
            "IMAGE",
            "GLOBAL_SITE_TAG"
          ]
        },
        "conversionCategory": {
          "enum": [
            "CONVERSION_CATEGORY_DEFAULT",
            "CONVERSION_CATEGORY_PURCHASE",
            "CONVERSION_CATEGORY_SIGNUP",
            "CONVERSION_CATEGORY_PAGE_VIEW",
            "CONVERSION_CATEGORY_DOWNLOAD",
            "CONVERSION_CATEGORY_ADD_TO_CART",
            "CONVERSION_CATEGORY_BEGIN_CHECKOUT",
            "CONVERSION_CATEGORY_SUBSCRIBE_PAID",
            "CONVERSION_CATEGORY_SUBMIT_LEAD_FORM",
            "CONVERSION_CATEGORY_BOOK_APPOINTMENT",
            "CONVERSION_CATEGORY_REQUEST_QUOTE",
            "CONVERSION_CATEGORY_GET_DIRECTIONS",
            "CONVERSION_CATEGORY_OUTBOUND_CLICK",
            "CONVERSION_CATEGORY_CONTACT",
            "CONVERSION_CATEGORY_QUALIFIED_LEAD",
            "CONVERSION_CATEGORY_CONVERTED_LEAD",
            "CONVERSION_CATEGORY_IN_APP_AD_REVENUE"
          ],
          "type": "string",
          "description": "Required. The conversion category of the activity.",
          "enumDescriptions": [
            "Unspecified category (called \"Other\" externally).",
            "Purchase, sales, or \"order placed\" event.",
            "Signup user action.",
            "User visiting a page.",
            "Software download action (as for an app). A conversion type that is created as a download type may not have its category changed.",
            ". The addition of items to a shopping cart or bag on an advertiser site.",
            "When someone enters the checkout flow on an advertiser site.",
            "The start of a paid subscription for a product or service.",
            "A submission of a form on an advertiser site indicating business interest.",
            "A booking of an appointment with an advertiser's business.",
            "A quote or price estimate request.",
            "A search for an advertiser's business location.",
            "A click to an advertiser's partner site, e.g. a referral.",
            "A call, SMS, email, chat or other type of contact to an advertiser.",
            "A lead conversion imported from an external source into Google Ads, that has been further qualified by the advertiser.",
            "A lead conversion imported from an external source into Google Ads, that has further completed a desired stage as defined by the lead gen advertiser.",
            "Conversion event that provides the revenue value of impressions that were shown in-app to users."
          ]
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this floodlight activity. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "userDefinedVariableTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "U1",
              "U2",
              "U3",
              "U4",
              "U5",
              "U6",
              "U7",
              "U8",
              "U9",
              "U10",
              "U11",
              "U12",
              "U13",
              "U14",
              "U15",
              "U16",
              "U17",
              "U18",
              "U19",
              "U20",
              "U21",
              "U22",
              "U23",
              "U24",
              "U25",
              "U26",
              "U27",
              "U28",
              "U29",
              "U30",
              "U31",
              "U32",
              "U33",
              "U34",
              "U35",
              "U36",
              "U37",
              "U38",
              "U39",
              "U40",
              "U41",
              "U42",
              "U43",
              "U44",
              "U45",
              "U46",
              "U47",
              "U48",
              "U49",
              "U50",
              "U51",
              "U52",
              "U53",
              "U54",
              "U55",
              "U56",
              "U57",
              "U58",
              "U59",
              "U60",
              "U61",
              "U62",
              "U63",
              "U64",
              "U65",
              "U66",
              "U67",
              "U68",
              "U69",
              "U70",
              "U71",
              "U72",
              "U73",
              "U74",
              "U75",
              "U76",
              "U77",
              "U78",
              "U79",
              "U80",
              "U81",
              "U82",
              "U83",
              "U84",
              "U85",
              "U86",
              "U87",
              "U88",
              "U89",
              "U90",
              "U91",
              "U92",
              "U93",
              "U94",
              "U95",
              "U96",
              "U97",
              "U98",
              "U99",
              "U100"
            ]
          },
          "description": "List of the user-defined variables used by this conversion tag. These map to the \"u[1-100]=\" in the tags. Each of these can have a user defined type. Acceptable values are U1 to U100, inclusive. ",
          "type": "array"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this floodlight activity. This is a read-only, auto-generated field."
        },
        "notes": {
          "description": "General notes or implementation instructions for the tag.",
          "type": "string"
        },
        "publisherTags": {
          "items": {
            "$ref": "FloodlightActivityPublisherDynamicTag"
          },
          "description": "Publisher dynamic floodlight tags.",
          "type": "array"
        },
        "cacheBustingType": {
          "type": "string",
          "description": "Code type used for cache busting in the generated tag. Applicable only when floodlightActivityGroupType is COUNTER and countingMethod is STANDARD_COUNTING or UNIQUE_COUNTING.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "JAVASCRIPT",
            "ACTIVE_SERVER_PAGE",
            "JSP",
            "PHP",
            "COLD_FUSION"
          ]
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this floodlight activity. This is a read-only, auto-generated field."
        },
        "defaultTags": {
          "type": "array",
          "description": "Dynamic floodlight tags.",
          "items": {
            "$ref": "FloodlightActivityDynamicTag"
          }
        },
        "tagFormat": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "HTML",
            "XHTML"
          ],
          "description": "Tag format type for the floodlight activity. If left blank, the tag format will default to HTML."
        },
        "sslRequired": {
          "type": "boolean",
          "description": "Whether this floodlight activity must be SSL-compliant."
        },
        "tagString": {
          "type": "string",
          "description": "Value of the cat= parameter in the floodlight tag, which the ad servers use to identify the activity. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activities of the same activity group. This field is read-only after insertion."
        },
        "subaccountId": {
          "format": "int64",
          "type": "string",
          "description": "Subaccount ID of this floodlight activity. This is a read-only field that can be left blank."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivity\"."
        },
        "advertiserId": {
          "type": "string",
          "description": "Advertiser ID of this floodlight activity. If this field is left blank, the value will be copied over either from the activity group's advertiser or the existing activity's advertiser.",
          "format": "int64"
        }
      },
      "description": "Contains properties of a Floodlight activity."
    },
    "DynamicProfileVersion": {
      "id": "DynamicProfileVersion",
      "properties": {
        "versionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Version ID of this dynamic profile version. This is a read-only, auto-generated field. -1 for draft version, 0+ for published versions.",
          "format": "int64"
        },
        "dynamicProfileFeedSettings": {
          "description": "Optional. Associated dynamic feeds and their settings (including dynamic rules) for this dynamic profile version.",
          "type": "array",
          "items": {
            "$ref": "DynamicProfileFeedSettings"
          }
        }
      },
      "type": "object",
      "description": "Contains dynamic profile version information."
    },
    "CreativeFieldsListResponse": {
      "description": "Creative Field List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldsListResponse\".",
          "type": "string"
        },
        "creativeFields": {
          "description": "Creative field collection.",
          "type": "array",
          "items": {
            "$ref": "CreativeField"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        }
      },
      "type": "object",
      "id": "CreativeFieldsListResponse"
    },
    "ChangeLogsListResponse": {
      "type": "object",
      "description": "Change Log List Response",
      "id": "ChangeLogsListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLogsListResponse\"."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "changeLogs": {
          "type": "array",
          "items": {
            "$ref": "ChangeLog"
          },
          "description": "Change log collection."
        }
      }
    },
    "FloodlightReportCompatibleFields": {
      "properties": {
        "dimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report."
        },
        "dimensionFilters": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array"
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#floodlightReportCompatibleFields."
        }
      },
      "type": "object",
      "id": "FloodlightReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"FlOODLIGHT\"."
    },
    "CompatibleFields": {
      "description": "Represents a response to the queryCompatibleFields method. Next ID: 10",
      "type": "object",
      "properties": {
        "crossMediaReachReportCompatibleFields": {
          "$ref": "CrossMediaReachReportCompatibleFields",
          "description": "Contains items that are compatible to be selected for a report of type \"CROSS_MEDIA_REACH\"."
        },
        "pathToConversionReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"PATH_TO_CONVERSION\".",
          "$ref": "PathToConversionReportCompatibleFields"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#compatibleFields.",
          "type": "string"
        },
        "crossDimensionReachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"CROSS_DIMENSION_REACH\".",
          "$ref": "CrossDimensionReachReportCompatibleFields"
        },
        "floodlightReportCompatibleFields": {
          "$ref": "FloodlightReportCompatibleFields",
          "description": "Contains items that are compatible to be selected for a report of type \"FLOODLIGHT\"."
        },
        "reachReportCompatibleFields": {
          "$ref": "ReachReportCompatibleFields",
          "description": "Contains items that are compatible to be selected for a report of type \"REACH\"."
        },
        "reportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"STANDARD\".",
          "$ref": "ReportCompatibleFields"
        }
      },
      "id": "CompatibleFields"
    },
    "PlacementAssignment": {
      "description": "Placement Assignment.",
      "properties": {
        "placementId": {
          "type": "string",
          "description": "ID of the placement to be assigned. This is a required field.",
          "format": "int64"
        },
        "sslRequired": {
          "description": "Whether the placement to be assigned requires SSL. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "active": {
          "description": "Whether this placement assignment is active. When true, the placement will be included in the ad's rotation.",
          "type": "boolean"
        },
        "placementIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the placement. This is a read-only, auto-generated field."
        }
      },
      "id": "PlacementAssignment",
      "type": "object"
    },
    "ThirdPartyTrackingUrl": {
      "properties": {
        "thirdPartyUrlType": {
          "enum": [
            "IMPRESSION",
            "CLICK_TRACKING",
            "VIDEO_START",
            "VIDEO_FIRST_QUARTILE",
            "VIDEO_MIDPOINT",
            "VIDEO_THIRD_QUARTILE",
            "VIDEO_COMPLETE",
            "VIDEO_MUTE",
            "VIDEO_PAUSE",
            "VIDEO_REWIND",
            "VIDEO_FULLSCREEN",
            "VIDEO_STOP",
            "VIDEO_CUSTOM",
            "SURVEY",
            "RICH_MEDIA_IMPRESSION",
            "RICH_MEDIA_RM_IMPRESSION",
            "RICH_MEDIA_BACKUP_IMPRESSION",
            "VIDEO_SKIP",
            "VIDEO_PROGRESS"
          ],
          "description": "Third-party URL type for in-stream video and in-stream audio creatives.",
          "enumDescriptions": [
            "Used to count impressions of the ad after video buffering is complete.",
            "Used to track user clicks on the video.",
            "Used to track the number of times a user starts a video.",
            "Used to track the number of times the video plays to 25% of its length.",
            "Used to track the number of times the video plays to 50% of its length.",
            "Used to track the number of times the video plays to 75% of its length.",
            "Used to track the number of times the video plays to the end.",
            "Used to track the number of times a user mutes the video.",
            "Used to track the number of times a user pauses the video.",
            "Used to track the number of times a user replays the video.",
            "Used to track the number of times a user expands the video to full-screen size.",
            "Used to track the number of times a user stops the video.",
            "Used to track the number of times a user performs a custom click, such as clicking on a video hot spot.",
            "Used for DFA6 compatibility, this is deprecating in favor of event tags.",
            "Used by Studio RichMediaCreative, maps to its thirdPartyImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyRichMediaImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyBackupImageImpressionsUrl",
            "Used to track the number of times the video was skipped.",
            "Used to track the number of times the video plays to an offset determined by the user."
          ],
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "URL for the specified third-party URL type."
        }
      },
      "id": "ThirdPartyTrackingUrl",
      "type": "object",
      "description": "Third-party Tracking URL."
    },
    "BillingProfile": {
      "id": "BillingProfile",
      "description": "Contains properties of a Campaign Manager Billing Profile.",
      "properties": {
        "consolidatedInvoice": {
          "description": "Consolidated invoice option for this billing profile. Used to get a single, consolidated invoice across the chosen invoice level.",
          "type": "boolean"
        },
        "countryCode": {
          "description": "Country code of this billing profile.This is a read-only field.",
          "type": "string"
        },
        "paymentsCustomerId": {
          "type": "string",
          "description": "The ID of the payment customer the billing profile belongs to. This is a read-only field."
        },
        "purchaseOrder": {
          "description": "Purchase order (PO) for this billing profile. This PO number is used in the invoices for all of the advertisers in this billing profile.",
          "type": "string"
        },
        "invoiceLevel": {
          "description": "Invoice level for this billing profile. Used to group fees into separate invoices by account, advertiser, or campaign.",
          "enum": [
            "ACCOUNT_LEVEL",
            "ADVERTISER_LEVEL",
            "CAMPAIGN_LEVEL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "currencyCode": {
          "description": "Billing currency code in ISO 4217 format.This is a read-only field.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Status of this billing profile.This is a read-only field.",
          "type": "string",
          "enum": [
            "UNDER_REVIEW",
            "ACTIVE",
            "ARCHIVED"
          ]
        },
        "paymentsAccountId": {
          "description": "The ID of the payment account the billing profile belongs to. This is a read-only field.",
          "type": "string"
        },
        "name": {
          "description": "Name of this billing profile. This is a required field and must be less than 256 characters long and must be unique among billing profile in the same account.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this billing profile. This is a read-only, auto-generated field."
        },
        "isDefault": {
          "type": "boolean",
          "description": "True if the billing profile is the account default profile. This is a read-only field."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingProfile\"."
        },
        "secondaryPaymentsCustomerId": {
          "type": "string",
          "description": "The ID of the secondary payment customer the billing profile belongs to. This is a read-only field."
        }
      },
      "type": "object"
    },
    "ConversionsBatchInsertResponse": {
      "properties": {
        "hasFailures": {
          "type": "boolean",
          "description": "Indicates that some or all conversions failed to insert."
        },
        "status": {
          "description": "The insert status of each conversion. Statuses are returned in the same order that conversions are inserted.",
          "items": {
            "$ref": "ConversionStatus"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchInsertResponse\"."
        }
      },
      "id": "ConversionsBatchInsertResponse",
      "description": "Insert Conversions Response.",
      "type": "object"
    },
    "MeasurementPartnerWrappingData": {
      "description": "Placement tag wrapping",
      "id": "MeasurementPartnerWrappingData",
      "type": "object",
      "properties": {
        "linkStatus": {
          "description": "Placement wrapping status.",
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "type": "string",
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ]
        },
        "wrappedTag": {
          "type": "string",
          "description": "Tag provided by the measurement partner during wrapping."
        },
        "measurementPartner": {
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Measurement partner used for wrapping the placement."
        },
        "tagWrappingMode": {
          "type": "string",
          "enum": [
            "NONE",
            "BLOCKING",
            "MONITORING",
            "MONITORING_READ_ONLY",
            "VIDEO_PIXEL_MONITORING",
            "TRACKING",
            "VPAID_MONITORING",
            "VPAID_BLOCKING",
            "NON_VPAID_MONITORING",
            "VPAID_ONLY_MONITORING",
            "VPAID_ONLY_BLOCKING",
            "VPAID_ONLY_FILTERING",
            "VPAID_FILTERING",
            "NON_VPAID_FILTERING",
            "BLOCKING_FILTERING_VPAID",
            "BLOCKING_FILTERING_VPAID_ONLY"
          ],
          "description": "Measurement mode for the wrapped placement.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "TranscodeSetting": {
      "type": "object",
      "id": "TranscodeSetting",
      "description": "Transcode Settings",
      "properties": {
        "enabledVideoFormats": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "Allowlist of video formats to be served to this placement. Set this list to null or empty to serve all video formats."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#transcodeSetting\"."
        }
      }
    },
    "TagSetting": {
      "properties": {
        "includeClickThroughUrls": {
          "type": "boolean",
          "description": "Whether static landing page URLs should be included in the tags. New placements will default to the value set on their site."
        },
        "additionalKeyValues": {
          "type": "string",
          "description": "Additional key-values to be included in tags. Each key-value pair must be of the form key=value, and pairs must be separated by a semicolon (;). Keys and values must not contain commas. For example, id=2;color=red is a valid value for this field."
        },
        "includeClickTracking": {
          "description": "Whether click-tracking string should be included in the tags.",
          "type": "boolean"
        },
        "includeUnescapedlpurlMacro": {
          "type": "boolean",
          "description": "Optional. Indicates that the unescapedlpurl macro should be included in the tag for the static landing page. New placements will default to the value set on their site."
        },
        "keywordOption": {
          "type": "string",
          "description": "Option specifying how keywords are embedded in ad tags. This setting can be used to specify whether keyword placeholders are inserted in placement tags for this site. Publishers can then add keywords to those placeholders.",
          "enumDescriptions": [
            "Creates DART ad tags with a placeholder, such as kw=[keyword] and a list of keywords. The site trafficker must replace [keyword] with the keywords targeted by an ad.",
            "Creates DART ad tags that do not have a placeholder for keywords and creates a list of keywords separately from the DART ad tags. Use this option if the site uses a keyword referrer or is a site that uses DART for Publishers.",
            "Results in unique tag generation for each relevant keyword during tag export. For example, an ad with three keywords will generate three tags with each tag having its kw= parameter filled in with the relevant keyword values."
          ],
          "enum": [
            "PLACEHOLDER_WITH_LIST_OF_KEYWORDS",
            "IGNORE",
            "GENERATE_SEPARATE_TAG_FOR_EACH_KEYWORD"
          ]
        }
      },
      "id": "TagSetting",
      "type": "object",
      "description": "Tag Settings"
    },
    "TvCampaignSummary": {
      "id": "TvCampaignSummary",
      "type": "object",
      "description": "TvCampaignSummary contains aggregate data from a TV campaign.",
      "properties": {
        "type": {
          "type": "string",
          "description": "\"CampaignComponentType\" of this TV campaign.",
          "enum": [
            "CAMPAIGN_COMPONENT_TYPE_UNSPECIFIED",
            "COMPANY",
            "BRAND",
            "PRODUCT",
            "CAMPAIGN"
          ],
          "enumDescriptions": [
            "Required to exist; do not use.",
            "Company.",
            "Brand.",
            "Product.",
            "Campaign."
          ]
        },
        "grp": {
          "type": "string",
          "format": "int64",
          "description": "GRP of this TV campaign."
        },
        "spend": {
          "format": "double",
          "description": "Spend across the entire TV campaign.",
          "type": "number"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummary\".",
          "type": "string"
        },
        "endDate": {
          "description": "The end date of the TV campaign, inclusive. A string of the format: \"yyyy-MM-dd\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this TV campaign.",
          "type": "string"
        },
        "impressions": {
          "type": "string",
          "description": "Impressions across the entire TV campaign.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of this TV campaign."
        },
        "startDate": {
          "type": "string",
          "description": "The start date of the TV campaign, inclusive. A string of the format: \"yyyy-MM-dd\"."
        }
      }
    },
    "DynamicProfileGenerateCodeResponse": {
      "description": "Response message for DfareportingDynamicProfiles.GenerateCode.",
      "properties": {
        "code": {
          "description": "Generated code for the dynamic profile. The code will need to be unescaped.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DynamicProfileGenerateCodeResponse"
    },
    "Ad": {
      "properties": {
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this ad. This is a read-only, auto-generated field."
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this ad. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "creativeRotation": {
          "description": "Creative rotation for this ad. Applicable when type is AD_SERVING_DEFAULT_AD, AD_SERVING_STANDARD_AD, or AD_SERVING_TRACKING. When type is AD_SERVING_DEFAULT_AD, this field should have exactly one creativeAssignment .",
          "$ref": "CreativeRotation"
        },
        "archived": {
          "description": "Whether this ad is archived. When true, active must be false.",
          "type": "boolean"
        },
        "dynamicClickTracker": {
          "type": "boolean",
          "description": "Whether this ad is a dynamic click tracker. Applicable when type is AD_SERVING_CLICK_TRACKER. This is a required field on insert, and is read-only after insert."
        },
        "dayPartTargeting": {
          "$ref": "DayPartTargeting",
          "description": "Time and day targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "id": {
          "format": "int64",
          "description": "ID of this ad. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "creativeGroupAssignments": {
          "description": "Creative group assignments for this ad. Applicable when type is AD_SERVING_CLICK_TRACKER. Only one assignment per creative group number is allowed for a maximum of two assignments.",
          "type": "array",
          "items": {
            "$ref": "CreativeGroupAssignment"
          }
        },
        "languageTargeting": {
          "description": "Language targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "LanguageTargeting"
        },
        "comments": {
          "type": "string",
          "description": "Comments for this ad."
        },
        "geoTargeting": {
          "$ref": "GeoTargeting",
          "description": "Geographical targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "name": {
          "description": "Name of this ad. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "description": "Advertiser ID of this ad. This is a required field on insertion.",
          "format": "int64"
        },
        "size": {
          "description": "Size of this ad. Applicable when type is AD_SERVING_DEFAULT_AD.",
          "$ref": "Size"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this ad. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "campaignId": {
          "description": "Campaign ID of this ad. This is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "deliverySchedule": {
          "description": "Delivery schedule information for this ad. Applicable when type is AD_SERVING_STANDARD_AD or AD_SERVING_TRACKING. This field along with subfields priority and impressionRatio are required on insertion when type is AD_SERVING_STANDARD_AD.",
          "$ref": "DeliverySchedule"
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "clickThroughUrlSuffixProperties": {
          "description": "Click-through URL suffix properties for this ad. Applies to the URL in the ad or (if overriding ad properties) the URL in the creative.",
          "$ref": "ClickThroughUrlSuffixProperties"
        },
        "createInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Information about the creation of this ad. This is a read-only field."
        },
        "sslRequired": {
          "description": "Whether this ad requires ssl. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "compatibility": {
          "enumDescriptions": [
            "",
            "",
            "Deprecated enum value. No longer supported.",
            "Deprecated enum value. No longer supported.",
            "",
            ""
          ],
          "type": "string",
          "description": "Compatibility of this ad. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to either rendering on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are only used for existing default ads. New mobile placements must be assigned DISPLAY or DISPLAY_INTERSTITIAL and default ads created for those placements will be limited to those compatibility types. IN_STREAM_VIDEO refers to rendering in-stream video ads developed with the VAST standard.",
          "enum": [
            "DISPLAY",
            "DISPLAY_INTERSTITIAL",
            "APP",
            "APP_INTERSTITIAL",
            "IN_STREAM_VIDEO",
            "IN_STREAM_AUDIO"
          ]
        },
        "remarketingListExpression": {
          "description": "Remarketing list targeting expression for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "ListTargetingExpression"
        },
        "endTime": {
          "type": "string",
          "format": "date-time"
        },
        "audienceSegmentId": {
          "format": "int64",
          "description": "Audience segment ID that is being targeted for this ad. Applicable when type is AD_SERVING_STANDARD_AD.",
          "type": "string"
        },
        "clickThroughUrl": {
          "description": "Click-through URL for this ad. This is a required field on insertion. Applicable when type is AD_SERVING_CLICK_TRACKER.",
          "$ref": "ClickThroughUrl"
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "Account ID of this ad. This is a read-only field that can be left blank."
        },
        "placementAssignments": {
          "items": {
            "$ref": "PlacementAssignment"
          },
          "description": "Placement assignments for this ad.",
          "type": "array"
        },
        "eventTagOverrides": {
          "description": "Event tag overrides for this ad.",
          "type": "array",
          "items": {
            "$ref": "EventTagOverride"
          }
        },
        "targetingTemplateId": {
          "format": "int64",
          "description": "Targeting template ID, used to apply preconfigured targeting information to this ad. This cannot be set while any of dayPartTargeting, geoTargeting, keyValueTargetingExpression, languageTargeting, remarketingListExpression, or technologyTargeting are set. Applicable when type is AD_SERVING_STANDARD_AD.",
          "type": "string"
        },
        "active": {
          "description": "Whether this ad is active. When true, archived must be false.",
          "type": "boolean"
        },
        "technologyTargeting": {
          "description": "Technology platform targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "TechnologyTargeting"
        },
        "defaultClickThroughEventTagProperties": {
          "$ref": "DefaultClickThroughEventTagProperties",
          "description": "Default click-through event tag properties for this ad."
        },
        "contextualKeywordTargeting": {
          "$ref": "ContextualKeywordTargeting",
          "description": "Optional. Contextual keyword targeting information for this ad."
        },
        "keyValueTargetingExpression": {
          "$ref": "KeyValueTargetingExpression",
          "description": "Key-value targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AD_SERVING_STANDARD_AD",
            "AD_SERVING_DEFAULT_AD",
            "AD_SERVING_CLICK_TRACKER",
            "AD_SERVING_TRACKING",
            "AD_SERVING_BRAND_SAFE_AD"
          ],
          "type": "string",
          "description": "Type of ad. This is a required field on insertion. Note that default ads ( AD_SERVING_DEFAULT_AD) cannot be created directly (see Creative resource)."
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether this ad is ssl compliant. This is a read-only field that is auto-generated when the ad is inserted or updated."
        },
        "startTime": {
          "type": "string",
          "format": "date-time"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#ad\"."
        }
      },
      "description": "Contains properties of a Campaign Manager ad.",
      "type": "object",
      "id": "Ad"
    },
    "Metro": {
      "properties": {
        "metroCode": {
          "type": "string",
          "description": "Metro code of this metro region. This is equivalent to dma_id."
        },
        "dartId": {
          "description": "DART ID of this metro region.",
          "type": "string",
          "format": "int64"
        },
        "countryDartId": {
          "description": "DART ID of the country to which this metro region belongs.",
          "type": "string",
          "format": "int64"
        },
        "countryCode": {
          "description": "Country code of the country to which this metro region belongs.",
          "type": "string"
        },
        "name": {
          "description": "Name of this metro region.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metro\".",
          "type": "string"
        },
        "dmaId": {
          "type": "string",
          "format": "int64",
          "description": "DMA ID of this metro region. This is the ID used for targeting and generating reports, and is equivalent to metro_code."
        }
      },
      "type": "object",
      "id": "Metro",
      "description": "Contains information about a metro region that can be targeted by ads."
    },
    "OperatingSystemVersion": {
      "type": "object",
      "description": "Contains information about a particular version of an operating system that can be targeted by ads.",
      "properties": {
        "minorVersion": {
          "description": "Minor version (number after the first dot) of this operating system version.",
          "type": "string"
        },
        "name": {
          "description": "Name of this operating system version.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemVersion\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this operating system version.",
          "format": "int64"
        },
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system of this operating system version."
        },
        "majorVersion": {
          "description": "Major version (leftmost number) of this operating system version.",
          "type": "string"
        }
      },
      "id": "OperatingSystemVersion"
    },
    "StudioCreative": {
      "properties": {
        "studioAdvertiserId": {
          "format": "int64",
          "type": "string",
          "description": "Studio advertiser ID of this studio creative. This is a required field on insertion."
        },
        "status": {
          "enum": [
            "UNKNOWN_STATUS",
            "IN_DEVELOPMENT",
            "PUBLISHED",
            "QA_REJECTED",
            "QA_APPROVED",
            "TRAFFICKED"
          ],
          "description": "Output only. Status of this studio creative. It is a read-only field.",
          "enumDescriptions": [
            "The status of the studio creative is unknown. This value is unused.",
            "The creative is still being developed.",
            "The creative has been published and is ready for QA.",
            "The creative has failed QA and must be corrected.",
            "The creative has passed QA and is ready to be trafficked.",
            "The creative has been trafficked to an adserver."
          ],
          "readOnly": true,
          "type": "string"
        },
        "assetIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "List of assets associated with this studio creative. It is a required field on insertion."
        },
        "createdInfo": {
          "description": "The timestamp when the studio creative was created. This is a read-only, auto-generated field.",
          "$ref": "LastModifiedInfo"
        },
        "studioAccountId": {
          "type": "string",
          "format": "int64",
          "description": "Studio account ID of this creative. This field, if left unset, will be auto-populated."
        },
        "dynamicProfileId": {
          "format": "int64",
          "type": "string",
          "description": "Dynamic profile ID of this studio creative."
        },
        "backupImageAssetId": {
          "description": "Backup image asset ID of this studio creative. It is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "studioCampaignId": {
          "type": "string",
          "description": "Studio campaign ID of this studio creative. This is a required field on insertion.",
          "format": "int64"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique ID of this studio creative. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "description": "The timestamp when the studio creative was last modified. This is a read-only, auto-generated field."
        },
        "format": {
          "description": "Format of this studio creative. This is a required field on insertion.",
          "type": "string",
          "enumDescriptions": [
            "The format of the studio creative is unknown. This value is unused.",
            "Banner format.",
            "Expanding format.",
            "Intertitial format.",
            "VPAID linear video creative format."
          ],
          "enum": [
            "UNKNOWN",
            "BANNER",
            "EXPANDING",
            "INTERSTITIAL",
            "VPAID_LINEAR_VIDEO"
          ]
        },
        "dimension": {
          "$ref": "StudioCreativeDimension",
          "description": "Dimension of this studio creative. This is a required field on insertion if format is BANNER or EXPANDING."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of this studio creative. This is a required field on insertion."
        }
      },
      "id": "StudioCreative",
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains studio creative information.",
      "type": "object"
    },
    "UserProfile": {
      "description": "A UserProfile resource lets you list all DFA user profiles that are associated with a Google user account. The profile_id needs to be specified in other API requests. ",
      "id": "UserProfile",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "The account ID to which this profile belongs."
        },
        "profileId": {
          "description": "The unique ID of the user profile.",
          "type": "string",
          "format": "int64"
        },
        "userName": {
          "type": "string",
          "description": "The user name."
        },
        "subAccountName": {
          "type": "string",
          "description": "The sub account name this profile belongs to if applicable."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userProfile\".",
          "type": "string"
        },
        "accountName": {
          "description": "The account name this profile belongs to.",
          "type": "string"
        },
        "subAccountId": {
          "description": "The sub account ID this profile belongs to if applicable.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "EncryptionInfo": {
      "properties": {
        "encryptionEntityType": {
          "enum": [
            "ENCRYPTION_ENTITY_TYPE_UNKNOWN",
            "DCM_ACCOUNT",
            "DCM_ADVERTISER",
            "DBM_PARTNER",
            "DBM_ADVERTISER",
            "ADWORDS_CUSTOMER",
            "DFP_NETWORK_CODE"
          ],
          "description": "The encryption entity type. This should match the encryption configuration for ad serving or Data Transfer.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "encryptionSource": {
          "description": "Describes whether the encrypted cookie was received from ad serving (the %m macro) or from Data Transfer.",
          "enum": [
            "ENCRYPTION_SCOPE_UNKNOWN",
            "AD_SERVING",
            "DATA_TRANSFER"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "encryptionEntityId": {
          "type": "string",
          "description": "The encryption entity ID. This should match the encryption configuration for ad serving or Data Transfer.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#encryptionInfo\"."
        }
      },
      "description": "A description of how user IDs are encrypted.",
      "type": "object",
      "id": "EncryptionInfo"
    },
    "UserRole": {
      "type": "object",
      "description": "Contains properties of auser role, which is used to manage user access.",
      "properties": {
        "permissions": {
          "items": {
            "$ref": "UserRolePermission"
          },
          "description": "List of permissions associated with this user role.",
          "type": "array"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this user role. This is a read-only, auto-generated field."
        },
        "subaccountId": {
          "format": "int64",
          "type": "string",
          "description": "Subaccount ID of this user role. This is a read-only field that can be left blank."
        },
        "name": {
          "description": "Name of this user role. This is a required field. Must be less than 256 characters long. If this user role is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this user role is a top-level user role, and the name must be unique among top-level user roles of the same account.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRole\"."
        },
        "defaultUserRole": {
          "description": "Whether this is a default user role. Default user roles are created by the system for the account/subaccount and cannot be modified or deleted. Each default user role comes with a basic set of preassigned permissions.",
          "type": "boolean"
        },
        "accountId": {
          "description": "Account ID of this user role. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "parentUserRoleId": {
          "description": "ID of the user role that this user role is based on or copied from. This is a required field.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "UserRole"
    },
    "PlacementGroup": {
      "properties": {
        "primaryPlacementIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the primary placement. This is a read-only, auto-generated field."
        },
        "directorySiteId": {
          "format": "int64",
          "description": "Directory site ID associated with this placement group. On insert, you must set either this field or the site_id field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "type": "string"
        },
        "childPlacementIds": {
          "type": "array",
          "description": "IDs of placements which are assigned to this placement group. This is a read-only, auto-generated field.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "campaignId": {
          "description": "Campaign ID of this placement group. This field is required on insertion.",
          "type": "string",
          "format": "int64"
        },
        "activeStatus": {
          "description": "Whether this placement group is active, inactive, archived or permanently archived.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLACEMENT_STATUS_UNKNOWN",
            "PLACEMENT_STATUS_ACTIVE",
            "PLACEMENT_STATUS_INACTIVE",
            "PLACEMENT_STATUS_ARCHIVED",
            "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
          ]
        },
        "siteId": {
          "type": "string",
          "description": "Site ID associated with this placement group. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "format": "int64"
        },
        "createInfo": {
          "description": "Information about the creation of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "placementGroupType": {
          "enumDescriptions": [
            "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
            "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
          ],
          "enum": [
            "PLACEMENT_PACKAGE",
            "PLACEMENT_ROADBLOCK"
          ],
          "description": "Type of this placement group. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point, but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting. This field is required on insertion.",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this placement group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "externalId": {
          "description": "External ID for this placement.",
          "type": "string"
        },
        "name": {
          "description": "Name of this placement group. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "contentCategoryId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the content category assigned to this placement group."
        },
        "comment": {
          "description": "Comments for this placement group.",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "primaryPlacementId": {
          "type": "string",
          "description": "ID of the primary placement, used to calculate the media cost of a roadblock (placement group). Modifying this field will automatically modify the primary field on all affected roadblock child placements.",
          "format": "int64"
        },
        "id": {
          "format": "int64",
          "description": "ID of this placement group. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "siteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field."
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this placement group. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "directorySiteIdDimensionValue": {
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field.",
[...]
