{
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    }
  },
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "/dfareporting/v5/",
  "ownerName": "Google",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "canonicalName": "Dfareporting",
  "name": "dfareporting",
  "servicePath": "dfareporting/v5/",
  "schemas": {
    "TranscodeSetting": {
      "type": "object",
      "description": "Transcode Settings",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#transcodeSetting\"."
        },
        "enabledVideoFormats": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Allowlist of video formats to be served to this placement. Set this list to null or empty to serve all video formats.",
          "type": "array"
        }
      },
      "id": "TranscodeSetting"
    },
    "FloodlightActivityGroupsListResponse": {
      "type": "object",
      "properties": {
        "floodlightActivityGroups": {
          "description": "Floodlight activity group collection.",
          "type": "array",
          "items": {
            "$ref": "FloodlightActivityGroup"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroupsListResponse\"."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "id": "FloodlightActivityGroupsListResponse",
      "description": "Floodlight Activity Group List Response"
    },
    "DefaultClickThroughEventTagProperties": {
      "properties": {
        "overrideInheritedEventTag": {
          "type": "boolean",
          "description": "Whether this entity should override the inherited default click-through event tag with its own defined value."
        },
        "defaultClickThroughEventTagId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the click-through event tag to apply to all ads in this entity's scope."
        }
      },
      "type": "object",
      "description": "Properties of inheriting and overriding the default click-through event tag. A campaign may override the event tag defined at the advertiser level, and an ad may also override the campaign's setting further.",
      "id": "DefaultClickThroughEventTagProperties"
    },
    "StudioCreativeAsset": {
      "id": "StudioCreativeAsset",
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains studio creative asset information.",
      "properties": {
        "createInfo": {
          "readOnly": true,
          "description": "Output only. The creation timestamp of the studio creative asset. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Unique ID of this studio creative asset. This is a read-only, auto-generated field.",
          "readOnly": true
        },
        "studioAccountId": {
          "format": "int64",
          "type": "string",
          "description": "Studio account ID of this studio creative asset. This field, if left unset, will be auto-populated.."
        },
        "studioCreativeId": {
          "type": "string",
          "description": "Studio creative ID of this studio creative asset. The asset will be associated to the creative if creative id is set.",
          "format": "int64"
        },
        "lastModifiedInfo": {
          "readOnly": true,
          "description": "Output only. The last modified timestamp of the studio creative asset. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "filesize": {
          "type": "string",
          "format": "int64",
          "description": "The filesize of the studio creative asset. This is a read-only field."
        },
        "studioAdvertiserId": {
          "type": "string",
          "description": "Studio advertiser ID of this studio creative asset. This is a required field on insertion.",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "The type of the studio creative asset. It is a auto-generated, read-only field.",
          "enumDescriptions": [
            "Unknown type of asset.",
            "The asset is an HTML file.",
            "The asset is a video file.",
            "The asset is an image file.",
            "The asset is a font file."
          ],
          "enum": [
            "UNKNOWN_TYPE",
            "HTML",
            "VIDEO",
            "IMAGE",
            "FONT"
          ]
        },
        "filename": {
          "description": "The filename of the studio creative asset. It is default to the original filename of the asset.",
          "type": "string"
        },
        "videoProcessingData": {
          "description": "The processing data of the studio creative asset. This is a read-only field.",
          "$ref": "VideoProcessingData"
        }
      },
      "type": "object"
    },
    "CreativeAsset": {
      "properties": {
        "detectedFeatures": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "POST_MESSAGE always required due to html5 implementation.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ]
          },
          "description": "List of feature dependencies for the creative asset that are detected by Campaign Manager. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field. Applicable to the following creative types: HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "array"
        },
        "customStartTimeValue": {
          "type": "integer",
          "description": "Custom start time in seconds for making the asset visible. Applicable to the following creative types: all RICH_MEDIA. Value must be greater than or equal to 0.",
          "format": "int32"
        },
        "active": {
          "description": "Whether the video or audio asset is active. This is a read-only field for VPAID_NON_LINEAR_VIDEO assets. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Numeric ID of this creative asset. This is a required field and should not be modified. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT."
        },
        "mimeType": {
          "type": "string",
          "description": "Detected MIME type for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "additionalSizes": {
          "type": "array",
          "items": {
            "$ref": "Size"
          },
          "description": "Additional sizes associated with this creative asset. HTML5 asset generated by compatible software such as GWD will be able to support more sizes this creative asset can render."
        },
        "fileSize": {
          "type": "string",
          "format": "int64",
          "description": "File size associated with this creative asset. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT."
        },
        "childAssetType": {
          "type": "string",
          "enumDescriptions": [
            "swf files",
            "flv and any other video files types",
            "image files",
            "rest of the supported file types .txt, .xml etc."
          ],
          "description": "Rich media child asset type. This is a read-only field. Applicable to the following creative types: all VPAID.",
          "enum": [
            "CHILD_ASSET_TYPE_FLASH",
            "CHILD_ASSET_TYPE_VIDEO",
            "CHILD_ASSET_TYPE_IMAGE",
            "CHILD_ASSET_TYPE_DATA"
          ]
        },
        "zipFilesize": {
          "description": "Size of zip file. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "type": "string"
        },
        "streamingServingUrl": {
          "description": "Streaming URL for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of the asset. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "assetIdentifier": {
          "$ref": "CreativeAssetId",
          "description": "Identifier of this asset. This is the same identifier returned during creative asset insert operation. This is a required field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT."
        },
        "displayType": {
          "description": "Type of rich media asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "enum": [
            "ASSET_DISPLAY_TYPE_INPAGE",
            "ASSET_DISPLAY_TYPE_FLOATING",
            "ASSET_DISPLAY_TYPE_OVERLAY",
            "ASSET_DISPLAY_TYPE_EXPANDING",
            "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH",
            "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH_EXPANDING",
            "ASSET_DISPLAY_TYPE_PEEL_DOWN",
            "ASSET_DISPLAY_TYPE_VPAID_LINEAR",
            "ASSET_DISPLAY_TYPE_VPAID_NON_LINEAR",
            "ASSET_DISPLAY_TYPE_BACKDROP"
          ],
          "enumDescriptions": [
            "Asset exists in a box and stays within the box.",
            "Asset exists at a self described location on the page.",
            "Special display type for IM clients.",
            "Asset changes size.",
            "Not applicable for HTML5.",
            "Not applicable for HTML5.",
            "Asset sits on the top right and expands.",
            "VPAID linear asset.",
            "VPAID non linear asset.",
            "Backdrop (skin) asset."
          ],
          "type": "string"
        },
        "audioBitRate": {
          "type": "integer",
          "description": "Audio stream bit rate in kbps. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "format": "int32"
        },
        "durationType": {
          "enum": [
            "ASSET_DURATION_TYPE_AUTO",
            "ASSET_DURATION_TYPE_NONE",
            "ASSET_DURATION_TYPE_CUSTOM"
          ],
          "enumDescriptions": [
            "Asset is displayed for the single run of the time line.",
            "Asset is displayed indefinitely and it loops on the timeline.",
            "User entered duration value in seconds."
          ],
          "description": "Duration type for which an asset will be displayed. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string"
        },
        "windowMode": {
          "enum": [
            "OPAQUE",
            "WINDOW",
            "TRANSPARENT"
          ],
          "enumDescriptions": [
            "Allows overlapping of Html and SWF content.",
            "Default",
            "Used for non-square borders. Allows overlapping of Html and SWF content."
          ],
          "type": "string",
          "description": "Window mode options for flash assets. Applicable to the following creative types: FLASH_INPAGE, RICH_MEDIA_DISPLAY_EXPANDING, RICH_MEDIA_IM_EXPAND, RICH_MEDIA_DISPLAY_BANNER, and RICH_MEDIA_INPAGE_FLOATING."
        },
        "positionTopUnit": {
          "description": "Offset top unit for an asset. This is a read-only field if the asset displayType is ASSET_DISPLAY_TYPE_OVERLAY. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string",
          "enum": [
            "OFFSET_UNIT_PIXEL",
            "OFFSET_UNIT_PERCENT",
            "OFFSET_UNIT_PIXEL_FROM_CENTER"
          ],
          "enumDescriptions": [
            "Pixels on a screen.",
            "Percent offset for center asset (rather than top and left).",
            "Pixel offset for center of asset from center of browser window."
          ]
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether the asset is SSL-compliant. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT."
        },
        "size": {
          "description": "Size associated with this creative asset. This is a required field when applicable; however for IMAGE and FLASH_INPAGE, creatives if left blank, this field will be automatically set using the actual size of the associated image asset. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER, IMAGE, and all RICH_MEDIA. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "$ref": "Size"
        },
        "alignment": {
          "type": "string",
          "description": "Possible alignments for an asset. This is a read-only field. Applicable to the following creative types: RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL .",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ALIGNMENT_TOP",
            "ALIGNMENT_RIGHT",
            "ALIGNMENT_BOTTOM",
            "ALIGNMENT_LEFT"
          ]
        },
        "offset": {
          "description": "Offset position for an asset in collapsed mode. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID. Additionally, only applicable to assets whose displayType is ASSET_DISPLAY_TYPE_EXPANDING or ASSET_DISPLAY_TYPE_PEEL_DOWN.",
          "$ref": "OffsetPosition"
        },
        "progressiveServingUrl": {
          "type": "string",
          "description": "Progressive URL for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID."
        },
        "collapsedSize": {
          "$ref": "Size",
          "description": "Size of an asset when collapsed. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID. Additionally, applicable to assets whose displayType is ASSET_DISPLAY_TYPE_EXPANDING or ASSET_DISPLAY_TYPE_PEEL_DOWN."
        },
        "audioSampleRate": {
          "type": "integer",
          "format": "int32",
          "description": "Audio sample bit rate in hertz. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "hideFlashObjects": {
          "description": "Whether to hide Flash objects flag for an asset. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "transparency": {
          "type": "boolean",
          "description": "Whether the asset is transparent. Applicable to the following creative types: all RICH_MEDIA. Additionally, only applicable to HTML5 assets."
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Role of the asset in relation to creative. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT. This is a required field. PRIMARY applies to DISPLAY, FLASH_INPAGE, HTML5_BANNER, IMAGE, DISPLAY_IMAGE_GALLERY, all RICH_MEDIA (which may contain multiple primary assets), and all VPAID creatives. BACKUP_IMAGE applies to FLASH_INPAGE, HTML5_BANNER, all RICH_MEDIA, and all VPAID creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE. ADDITIONAL_IMAGE and ADDITIONAL_FLASH apply to FLASH_INPAGE creatives. OTHER refers to assets from sources other than Campaign Manager, such as Studio uploaded assets, applicable to all RICH_MEDIA and all VPAID creatives. PARENT_VIDEO refers to videos uploaded by the user in Campaign Manager and is applicable to INSTREAM_VIDEO and VPAID_LINEAR_VIDEO creatives. TRANSCODED_VIDEO refers to videos transcoded by Campaign Manager from PARENT_VIDEO assets and is applicable to INSTREAM_VIDEO and VPAID_LINEAR_VIDEO creatives. ALTERNATE_VIDEO refers to the Campaign Manager representation of child asset videos from Studio, and is applicable to VPAID_LINEAR_VIDEO creatives. These cannot be added or removed within Campaign Manager. For VPAID_LINEAR_VIDEO creatives, PARENT_VIDEO, TRANSCODED_VIDEO and ALTERNATE_VIDEO assets that are marked active serve as backup in case the VPAID creative cannot be served. Only PARENT_VIDEO assets can be added or removed for an INSTREAM_VIDEO or VPAID_LINEAR_VIDEO creative. PARENT_AUDIO refers to audios uploaded by the user in Campaign Manager and is applicable to INSTREAM_AUDIO creatives. TRANSCODED_AUDIO refers to audios transcoded by Campaign Manager from PARENT_AUDIO assets and is applicable to INSTREAM_AUDIO creatives. ",
          "enum": [
            "PRIMARY",
            "BACKUP_IMAGE",
            "ADDITIONAL_IMAGE",
            "ADDITIONAL_FLASH",
            "PARENT_VIDEO",
            "TRANSCODED_VIDEO",
            "OTHER",
            "ALTERNATE_VIDEO",
            "PARENT_AUDIO",
            "TRANSCODED_AUDIO"
          ]
        },
        "expandedDimension": {
          "$ref": "Size",
          "description": "Detected expanded dimension for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID."
        },
        "companionCreativeIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "List of companion creatives assigned to an in-stream video creative asset. Acceptable values include IDs of existing flash and image creatives. Applicable to INSTREAM_VIDEO creative type with dynamicAssetSelection set to true."
        },
        "hideSelectionBoxes": {
          "description": "Whether to hide selection boxes flag for an asset. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "pushdown": {
          "description": "Whether the asset pushes down other content. Applicable to the following creative types: all RICH_MEDIA. Additionally, only applicable when the asset offsets are 0, the collapsedSize.width matches size.width, and the collapsedSize.height is less than size.height.",
          "type": "boolean"
        },
        "duration": {
          "type": "integer",
          "format": "int32",
          "description": "Duration in seconds for which an asset will be displayed. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID_LINEAR_VIDEO. Value must be greater than or equal to 1."
        },
        "startTimeType": {
          "type": "string",
          "description": "Initial wait time type before making the asset visible. Applicable to the following creative types: all RICH_MEDIA.",
          "enumDescriptions": [
            "Asset is not automatically displayed.",
            "Asset is automatically displayed after a fixed period of time."
          ],
          "enum": [
            "ASSET_START_TIME_TYPE_NONE",
            "ASSET_START_TIME_TYPE_CUSTOM"
          ]
        },
        "orientation": {
          "description": "Orientation of video asset. This is a read-only, auto-generated field.",
          "enum": [
            "LANDSCAPE",
            "PORTRAIT",
            "SQUARE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "bitRate": {
          "description": "Detected bit-rate for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "integer",
          "format": "int32"
        },
        "zIndex": {
          "format": "int32",
          "type": "integer",
          "description": "zIndex value of an asset. Applicable to the following creative types: all RICH_MEDIA.Additionally, only applicable to assets whose displayType is NOT one of the following types: ASSET_DISPLAY_TYPE_INPAGE or ASSET_DISPLAY_TYPE_OVERLAY. Acceptable values are -999999999 to 999999999, inclusive."
        },
        "positionLeftUnit": {
          "enum": [
            "OFFSET_UNIT_PIXEL",
            "OFFSET_UNIT_PERCENT",
            "OFFSET_UNIT_PIXEL_FROM_CENTER"
          ],
          "description": "Offset left unit for an asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "enumDescriptions": [
            "Pixels on a screen.",
            "Percent offset for center asset (rather than top and left).",
            "Pixel offset for center of asset from center of browser window."
          ],
          "type": "string"
        },
        "zipFilename": {
          "description": "File name of zip file. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "type": "string"
        },
        "politeLoad": {
          "description": "Whether this asset is used as a polite load asset.",
          "type": "boolean"
        },
        "pushdownDuration": {
          "description": "Pushdown duration in seconds for an asset. Applicable to the following creative types: all RICH_MEDIA.Additionally, only applicable when the asset pushdown field is true, the offsets are 0, the collapsedSize.width matches size.width, and the collapsedSize.height is less than size.height. Acceptable values are 0 to 9.99, inclusive.",
          "type": "number",
          "format": "float"
        },
        "actionScript3": {
          "description": "Whether ActionScript3 is enabled for the flash asset. This is a read-only field. Applicable to the following creative type: FLASH_INPAGE. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "boolean"
        },
        "verticallyLocked": {
          "description": "Whether the asset is vertically locked. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "artworkType": {
          "description": "Artwork type of rich media creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "enumDescriptions": [
            "The creative is a Flash creative.",
            "The creative is HTML5.",
            "The creative is HTML5 if available, Flash otherwise.",
            "The creative is Image."
          ],
          "type": "string",
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ]
        },
        "originalBackup": {
          "description": "Whether the backup asset is original or changed by the user in Campaign Manager. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "frameRate": {
          "description": "Video frame rate for video asset in frames per second. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "type": "number",
          "format": "float"
        },
        "backupImageExit": {
          "$ref": "CreativeCustomEvent",
          "description": "Exit event configured for the backup image. Applicable to the following creative types: all RICH_MEDIA."
        },
        "mediaDuration": {
          "description": "Detected duration for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "number",
          "format": "float"
        },
        "position": {
          "description": "Offset position for an asset. Applicable to the following creative types: all RICH_MEDIA.",
          "$ref": "OffsetPosition"
        },
        "flashVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Flash version of the asset. This is a read-only field. Applicable to the following creative types: FLASH_INPAGE, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "horizontallyLocked": {
          "type": "boolean",
          "description": "Whether the asset is horizontally locked. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA."
        }
      },
      "type": "object",
      "id": "CreativeAsset",
      "description": "Creative Asset."
    },
    "EventTagOverride": {
      "description": "Event tag override information.",
      "id": "EventTagOverride",
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this event tag override. This is a read-only, auto-generated field."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this override is enabled."
        }
      }
    },
    "OfflineUserAddressInfo": {
      "type": "object",
      "id": "OfflineUserAddressInfo",
      "description": "Identify a user by name and address.",
      "properties": {
        "hashedStreetAddress": {
          "type": "string",
          "description": "The street address of the user hashed using SHA-256 hash function after normalization (lower case only)."
        },
        "countryCode": {
          "description": "2-letter country code in ISO-3166-1 alpha-2 of the user's address.",
          "type": "string"
        },
        "hashedLastName": {
          "type": "string",
          "description": "Last name of the user, which is hashed as SHA-256 after normalized (lower case only and no punctuation)."
        },
        "postalCode": {
          "type": "string",
          "description": "Postal code of the user's address."
        },
        "hashedFirstName": {
          "description": "First name of the user, which is hashed as SHA-256 after normalized (Lowercase all characters; Remove any extra spaces before, after, and in between).",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "State code of the address."
        },
        "city": {
          "description": "City of the address.",
          "type": "string"
        }
      }
    },
    "Recipient": {
      "type": "object",
      "description": "Represents a recipient.",
      "id": "Recipient",
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#recipient.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email address of the recipient."
        },
        "deliveryType": {
          "enum": [
            "LINK",
            "ATTACHMENT"
          ],
          "type": "string",
          "description": "The delivery type for the recipient.",
          "enumDescriptions": [
            "",
            ""
          ]
        }
      }
    },
    "PlacementStrategy": {
      "description": "Contains properties of a placement strategy.",
      "id": "PlacementStrategy",
      "properties": {
        "accountId": {
          "description": "Account ID of this placement strategy.This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this placement strategy. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of this placement strategy. This is a required field. It must be less than 256 characters long and unique among placement strategies of the same account."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategy\"."
        }
      },
      "type": "object"
    },
    "Country": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this country."
        },
        "countryCode": {
          "type": "string",
          "description": "Country code."
        },
        "sslEnabled": {
          "type": "boolean",
          "description": "Whether ad serving supports secure servers in this country."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#country\"."
        },
        "dartId": {
          "format": "int64",
          "type": "string",
          "description": "DART ID of this country. This is the ID used for targeting and generating reports."
        },
        "tvDataProviders": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "Allows populating multiple tvCampaignId filters and tvCampaignEndDate filter on the report.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "INVALID_TV_DATA_PROVIDER",
              "INTAGE_JP",
              "IBOPE_AR",
              "IBOPE_BR",
              "IBOPE_CL",
              "IBOPE_CO",
              "TNS_VN",
              "COMSCORE_NATIONAL_US",
              "COMSCORE_CA",
              "SAMBA_AU"
            ]
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The TV data providers supported in this country."
        }
      },
      "description": "Contains information about a country that can be targeted by ads.",
      "id": "Country",
      "type": "object"
    },
    "SortBy": {
      "type": "object",
      "id": "SortBy",
      "description": "Specifies the sort configuration for a specific field in the report.",
      "properties": {
        "sortOrder": {
          "description": "Optional. The sort order of this column.",
          "enumDescriptions": [
            "Ascending order.",
            "Descending order."
          ],
          "enum": [
            "ASCENDING",
            "DESCENDING"
          ],
          "type": "string"
        },
        "name": {
          "description": "Required. The dimension or metric field name to sort on.",
          "type": "string"
        }
      }
    },
    "FloodlightReportCompatibleFields": {
      "properties": {
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "items": {
            "$ref": "Metric"
          },
          "type": "array"
        },
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report."
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#floodlightReportCompatibleFields."
        }
      },
      "description": "Represents fields that are compatible to be selected for a report of type \"FlOODLIGHT\".",
      "type": "object",
      "id": "FloodlightReportCompatibleFields"
    },
    "LandingPage": {
      "properties": {
        "id": {
          "description": "ID of this landing page. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of this landing page. This is a required field. It must be less than 256 characters long."
        },
        "deepLinks": {
          "items": {
            "$ref": "DeepLink"
          },
          "type": "array",
          "description": "Links that will direct the user to a mobile app, if installed."
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser ID of this landing page. This is a required field."
        },
        "archived": {
          "type": "boolean",
          "description": "Whether this landing page has been archived."
        },
        "url": {
          "description": "URL of this landing page. This is a required field.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#landingPage\"."
        }
      },
      "id": "LandingPage",
      "description": "Contains information about where a user's browser is taken after the user clicks an ad.",
      "type": "object"
    },
    "ClickThroughUrlSuffixProperties": {
      "description": "Click Through URL Suffix settings.",
      "type": "object",
      "id": "ClickThroughUrlSuffixProperties",
      "properties": {
        "clickThroughUrlSuffix": {
          "description": "Click-through URL suffix to apply to all ads in this entity's scope. Must be less than 128 characters long.",
          "type": "string"
        },
        "overrideInheritedSuffix": {
          "description": "Whether this entity should override the inherited click-through URL suffix with its own defined value.",
          "type": "boolean"
        }
      }
    },
    "Conversion": {
      "properties": {
        "gclid": {
          "type": "string",
          "description": "The Google click ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, dclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or mobileDeviceId or dclid or impressionId is a required field."
        },
        "nonPersonalizedAd": {
          "description": "Whether the conversion was for a non personalized ad.",
          "type": "boolean"
        },
        "childDirectedTreatment": {
          "description": "Whether this particular request may come from a user under the age of 13, under COPPA compliance.",
          "type": "boolean"
        },
        "dclid": {
          "description": "The display click ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, gclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or mobileDeviceId or gclid or impressionId is a required field.",
          "type": "string"
        },
        "value": {
          "description": "The value of the conversion. Interpreted in CM360 Floodlight config parent advertiser's currency code. This is a required field.",
          "format": "double",
          "type": "number"
        },
        "limitAdTracking": {
          "type": "boolean",
          "description": "Whether Limit Ad Tracking is enabled. When set to true, the conversion will be used for reporting but not targeting. This will prevent remarketing."
        },
        "quantity": {
          "format": "int64",
          "type": "string",
          "description": "The quantity of the conversion. This is a required field."
        },
        "mobileDeviceId": {
          "type": "string",
          "description": "The mobile device ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, gclid, dclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or gclid or dclid or impressionId is a required field."
        },
        "userIdentifiers": {
          "description": "The user identifiers to enhance the conversion. The maximum number of user identifiers for each conversion is 5.",
          "items": {
            "$ref": "UserIdentifier"
          },
          "type": "array"
        },
        "treatmentForUnderage": {
          "type": "boolean",
          "description": "Whether this particular request may come from a user under the age of 16 (may differ by country), under compliance with the European Union's General Data Protection Regulation (GDPR)."
        },
        "customVariables": {
          "items": {
            "$ref": "CustomFloodlightVariable"
          },
          "description": "Custom floodlight variables.",
          "type": "array"
        },
        "impressionId": {
          "description": "The impression ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, and gclid. One of these identifiers must be set.",
          "type": "string"
        },
        "ordinal": {
          "description": "The ordinal of the conversion. Use this field to control how conversions of the same user and day are de-duplicated. This is a required field.",
          "type": "string"
        },
        "matchId": {
          "type": "string",
          "description": "The match ID field. A match ID is your own first-party identifier that has been synced with Google using the match ID feature in Floodlight. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[],mobileDeviceId, gclid, dclid, and impressionId. This or encryptedUserId orencryptedUserIdCandidates[] or mobileDeviceId or gclid or dclid or impressionIdis a required field."
        },
        "timestampMicros": {
          "format": "int64",
          "description": "The timestamp of conversion, in Unix epoch micros. This is a required field.",
          "type": "string"
        },
        "floodlightConfigurationId": {
          "format": "int64",
          "description": "Floodlight Configuration ID of this conversion. This is a required field.",
          "type": "string"
        },
        "encryptedUserId": {
          "type": "string",
          "description": "The alphanumeric encrypted user ID. When set, encryptionInfo should also be specified. This field is mutually exclusive with encryptedUserIdCandidates[], matchId, mobileDeviceId, gclid, dclid, and impressionId. This or encryptedUserIdCandidates[] or matchId or mobileDeviceId or gclid or dclid or impressionId is a required field."
        },
        "encryptedUserIdCandidates": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of the alphanumeric encrypted user IDs. Any user ID with exposure prior to the conversion timestamp will be used in the inserted conversion. If no such user ID is found then the conversion will be rejected with INVALID_ARGUMENT error. When set, encryptionInfo should also be specified. This field may only be used when calling batchinsert; it is not supported by batchupdate. This field is mutually exclusive with encryptedUserId, matchId, mobileDeviceId, gclid dclid, and impressionId. This or encryptedUserId or matchId or mobileDeviceId or gclid or dclid or impressionId is a required field."
        },
        "adUserDataConsent": {
          "enum": [
            "GRANTED",
            "DENIED"
          ],
          "description": "This represents consent for ad user data.",
          "type": "string",
          "enumDescriptions": [
            "Granted.",
            "Denied."
          ]
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversion\".",
          "type": "string"
        },
        "sessionAttributesEncoded": {
          "type": "string",
          "description": "Session attributes for the conversion, encoded as based64 bytes. This field may only be used when calling batchinsert; it is not supported by batchupdate.",
          "format": "byte"
        },
        "cartData": {
          "$ref": "CartData",
          "description": "The cart data associated with this conversion."
        },
        "floodlightActivityId": {
          "description": "Floodlight Activity ID of this conversion. This is a required field.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A Conversion represents when a user successfully performs a desired action after seeing an ad.",
      "type": "object",
      "id": "Conversion"
    },
    "AccountPermissionGroup": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this account permission group."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionGroup\"."
        },
        "id": {
          "description": "ID of this account permission group.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "AccountPermissionGroups contains a mapping of permission group IDs to names. A permission group is a grouping of account permissions.",
      "id": "AccountPermissionGroup"
    },
    "BillingRate": {
      "type": "object",
      "id": "BillingRate",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AD_SERVING",
            "CLICKS",
            "MINIMUM_SERVICE",
            "PATH_TO_CONVERSION",
            "RICH_MEDIA_INPAGE",
            "RICH_MEDIA_EXPANDING",
            "RICH_MEDIA_FLOATING",
            "RICH_MEDIA_VIDEO",
            "RICH_MEDIA_TEASER",
            "RICH_MEDIA_VPAID",
            "INSTREAM_VIDEO",
            "PIXEL",
            "TRACKING",
            "TRAFFICKING_FEATURE",
            "CUSTOM_REPORTS",
            "EXPOSURE_TO_CONVERSION",
            "DATA_TRANSFER",
            "DATA_TRANSFER_SETUP",
            "STARTUP",
            "STATEMENT_OF_WORK",
            "PROVIDED_LIST",
            "PROVIDED_LIST_SETUP",
            "ENHANCED_FORMATS",
            "TRACKING_AD_IMPRESSIONS",
            "TRACKING_AD_CLICKS",
            "NIELSEN_DIGITAL_AD_RATINGS_FEE",
            "INSTREAM_VIDEO_REDIRECT",
            "INSTREAM_VIDEO_VPAID",
            "DISPLAY_AD_SERVING",
            "VIDEO_AD_SERVING",
            "AUDIO_AD_SERVING",
            "ADVANCED_DISPLAY_AD_SERVING"
          ],
          "description": "Type of this billing rate."
        },
        "unitOfMeasure": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CPM",
            "CPC",
            "EA",
            "P2C"
          ],
          "description": "Unit of measure for this billing rate."
        },
        "currencyCode": {
          "description": "Billing currency code in ISO 4217 format.",
          "type": "string"
        },
        "rateInMicros": {
          "type": "string",
          "description": "Flat rate in micros of this billing rate. This cannot co-exist with tiered rate.",
          "format": "int64"
        },
        "startDate": {
          "description": "Start date of this billing rate.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this billing rate. This must be less than 256 characters long."
        },
        "tieredRates": {
          "items": {
            "$ref": "BillingRateTieredRate"
          },
          "type": "array",
          "description": "Tiered rate of this billing rate. This cannot co-exist with flat rate."
        },
        "endDate": {
          "description": "End date of this billing rate.",
          "type": "string"
        },
        "id": {
          "description": "ID of this billing rate.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "CreativeFieldValue": {
      "properties": {
        "id": {
          "description": "ID of this creative field value. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldValue\"."
        },
        "value": {
          "description": "Value of this creative field value. It needs to be less than 256 characters in length and unique per creative field.",
          "type": "string"
        }
      },
      "id": "CreativeFieldValue",
      "type": "object",
      "description": "Contains properties of a creative field value."
    },
    "PricingSchedule": {
      "properties": {
        "pricingPeriods": {
          "items": {
            "$ref": "PricingSchedulePricingPeriod"
          },
          "description": "Pricing periods for this placement.",
          "type": "array"
        },
        "flighted": {
          "description": "Whether this placement is flighted. If true, pricing periods will be computed automatically.",
          "type": "boolean"
        },
        "pricingType": {
          "type": "string",
          "description": "Placement pricing type. This field is required on insertion.",
          "enum": [
            "PRICING_TYPE_CPM",
            "PRICING_TYPE_CPC",
            "PRICING_TYPE_CPA",
            "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
            "PRICING_TYPE_FLAT_RATE_CLICKS",
            "PRICING_TYPE_CPM_ACTIVEVIEW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "testingStartDate": {
          "format": "date",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "capCostOption": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Placement cap cost option.",
          "type": "string",
          "enum": [
            "CAP_COST_NONE",
            "CAP_COST_MONTHLY",
            "CAP_COST_CUMULATIVE"
          ]
        },
        "floodlightActivityId": {
          "description": "Floodlight activity ID associated with this placement. This field should be set when placement pricing type is set to PRICING_TYPE_CPA.",
          "type": "string",
          "format": "int64"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        }
      },
      "description": "Pricing Schedule",
      "id": "PricingSchedule",
      "type": "object"
    },
    "AccountPermissionGroupsListResponse": {
      "id": "AccountPermissionGroupsListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionGroupGroupsListResponse\"."
        },
        "accountPermissionGroups": {
          "type": "array",
          "description": "Account permission group collection.",
          "items": {
            "$ref": "AccountPermissionGroup"
          }
        }
      },
      "description": "Account Permission Group List Response",
      "type": "object"
    },
    "StudioCreativeDimension": {
      "id": "StudioCreativeDimension",
      "type": "object",
      "properties": {
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "Width of the studio creative."
        },
        "height": {
          "type": "integer",
          "description": "Height of the studio creative.",
          "format": "int32"
        }
      },
      "description": "Dimension information for a studio creative."
    },
    "ThirdPartyTrackingUrl": {
      "properties": {
        "url": {
          "description": "URL for the specified third-party URL type.",
          "type": "string"
        },
        "thirdPartyUrlType": {
          "type": "string",
          "description": "Third-party URL type for in-stream video and in-stream audio creatives.",
          "enum": [
            "IMPRESSION",
            "CLICK_TRACKING",
            "VIDEO_START",
            "VIDEO_FIRST_QUARTILE",
            "VIDEO_MIDPOINT",
            "VIDEO_THIRD_QUARTILE",
            "VIDEO_COMPLETE",
            "VIDEO_MUTE",
            "VIDEO_PAUSE",
            "VIDEO_REWIND",
            "VIDEO_FULLSCREEN",
            "VIDEO_STOP",
            "VIDEO_CUSTOM",
            "SURVEY",
            "RICH_MEDIA_IMPRESSION",
            "RICH_MEDIA_RM_IMPRESSION",
            "RICH_MEDIA_BACKUP_IMPRESSION",
            "VIDEO_SKIP",
            "VIDEO_PROGRESS"
          ],
          "enumDescriptions": [
            "Used to count impressions of the ad after video buffering is complete.",
            "Used to track user clicks on the video.",
            "Used to track the number of times a user starts a video.",
            "Used to track the number of times the video plays to 25% of its length.",
            "Used to track the number of times the video plays to 50% of its length.",
            "Used to track the number of times the video plays to 75% of its length.",
            "Used to track the number of times the video plays to the end.",
            "Used to track the number of times a user mutes the video.",
            "Used to track the number of times a user pauses the video.",
            "Used to track the number of times a user replays the video.",
            "Used to track the number of times a user expands the video to full-screen size.",
            "Used to track the number of times a user stops the video.",
            "Used to track the number of times a user performs a custom click, such as clicking on a video hot spot.",
            "Used for DFA6 compatibility, this is deprecating in favor of event tags.",
            "Used by Studio RichMediaCreative, maps to its thirdPartyImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyRichMediaImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyBackupImageImpressionsUrl",
            "Used to track the number of times the video was skipped.",
            "Used to track the number of times the video plays to an offset determined by the user."
          ]
        }
      },
      "type": "object",
      "description": "Third-party Tracking URL.",
      "id": "ThirdPartyTrackingUrl"
    },
    "TvCampaignTimepoint": {
      "properties": {
        "startDate": {
          "description": "The start date of the timepoint. A string in the format of \"yyyy-MM-dd\".",
          "type": "string"
        },
        "dateWindow": {
          "enum": [
            "WEEKS_UNSPECIFIED",
            "DAYS_ONE",
            "WEEKS_ONE",
            "WEEKS_FOUR",
            "WEEKS_EIGHT",
            "WEEKS_TWELVE"
          ],
          "description": "The date window of the timepoint.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "One Day.",
            "One week.",
            "Four weeks.",
            "Eight weeks.",
            "Twelve weeks."
          ],
          "type": "string"
        },
        "spend": {
          "type": "number",
          "format": "double",
          "description": "The spend within the time range of the timepoint."
        }
      },
      "id": "TvCampaignTimepoint",
      "type": "object",
      "description": "A single data point for TvCampaignDetail, which holds information about the TV campaign for a specific start date and date window."
    },
    "ChangeLog": {
      "description": "Describes a change that a user has made to a resource.",
      "type": "object",
      "properties": {
        "newValue": {
          "type": "string",
          "description": "New value of the object field."
        },
        "userProfileName": {
          "type": "string",
          "description": "User profile name of the user who modified the object."
        },
        "action": {
          "type": "string",
          "description": "Action which caused the change."
        },
        "id": {
          "format": "int64",
          "description": "ID of this change log.",
          "type": "string"
        },
        "objectId": {
          "type": "string",
          "description": "ID of the object of this change log. The object could be a campaign, placement, ad, or other type.",
          "format": "int64"
        },
        "objectType": {
          "description": "Object type of the change log.",
          "type": "string"
        },
        "userProfileId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the user who modified the object."
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of the modified object.",
          "format": "int64"
        },
        "transactionId": {
          "description": "Transaction ID of this change log. When a single API call results in many changes, each change will have a separate ID in the change log but will share the same transactionId.",
          "type": "string",
          "format": "int64"
        },
        "oldValue": {
          "type": "string",
          "description": "Old value of the object field."
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of the modified object."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLog\".",
          "type": "string"
        },
        "fieldName": {
          "description": "Field name of the object which changed.",
          "type": "string"
        },
        "changeTime": {
          "type": "string",
          "format": "date-time"
        }
      },
      "id": "ChangeLog"
    },
    "ReportDataResponse": {
      "id": "ReportDataResponse",
      "properties": {
        "rows": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The resulting set of matching data rows.",
          "items": {
            "$ref": "ReportDataRow"
          }
        },
        "columnHeaders": {
          "description": "Output only. Ordered descriptors of the requested column fields.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ColumnHeader"
          }
        },
        "nextPageToken": {
          "description": "Output only. Token to retrieve the next page of rows, or empty if end of results.",
          "readOnly": true,
          "type": "string"
        },
        "totalRow": {
          "description": "Output only. Singular aggregate total row for the entire query matching the criteria. Column headers apply in the exact same order as data rows. In the total_row: - All dimension columns contain an empty string (\"\"), as aggregation does not apply. - Non-summable metric columns (e.g. Reach metrics) contain an empty string (\"\"), as grand total aggregation cannot be mathematically/logically computed for them.",
          "$ref": "ReportDataRow",
          "readOnly": true
        }
      },
      "description": "Represents a response to report data request.",
      "type": "object"
    },
    "SiteContact": {
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address of this site contact. This is a required field."
        },
        "address": {
          "type": "string",
          "description": "Address of this site contact."
        },
        "firstName": {
          "description": "First name of this site contact.",
          "type": "string"
        },
        "phone": {
          "type": "string",
          "description": "Primary phone number of this site contact."
        },
        "contactType": {
          "enum": [
            "SALES_PERSON",
            "TRAFFICKER"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Site contact type.",
          "type": "string"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of this site contact."
        },
        "title": {
          "type": "string",
          "description": "Title or designation of this site contact."
        },
        "id": {
          "format": "int64",
          "description": "ID of this site contact. This is a read-only, auto-generated field.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SiteContact",
      "description": "Site Contact"
    },
    "VideoProcessingData": {
      "description": "Contains processing data for a video asset.",
      "type": "object",
      "id": "VideoProcessingData",
      "properties": {
        "errorReason": {
          "type": "string",
          "description": "For a FAILED processing state, the error reason discovered."
        },
        "processingState": {
          "description": "Output only. The processing state of the studio creative asset.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PROCESSING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The processing state is unknown.",
            "The asset is being processed.",
            "The asset was successfully processed.",
            "The asset failed to be processed."
          ]
        }
      }
    },
    "DeliverySchedule": {
      "id": "DeliverySchedule",
      "properties": {
        "impressionRatio": {
          "format": "int64",
          "description": "Impression ratio for this ad. This ratio determines how often each ad is served relative to the others. For example, if ad A has an impression ratio of 1 and ad B has an impression ratio of 3, then Campaign Manager will serve ad B three times as often as ad A. Acceptable values are 1 to 10, inclusive.",
          "type": "string"
        },
        "hardCutoff": {
          "type": "boolean",
          "description": "Whether or not hard cutoff is enabled. If true, the ad will not serve after the end date and time. Otherwise the ad will continue to be served until it has reached its delivery goals."
        },
        "priority": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AD_PRIORITY_01",
            "AD_PRIORITY_02",
            "AD_PRIORITY_03",
            "AD_PRIORITY_04",
            "AD_PRIORITY_05",
            "AD_PRIORITY_06",
            "AD_PRIORITY_07",
            "AD_PRIORITY_08",
            "AD_PRIORITY_09",
            "AD_PRIORITY_10",
            "AD_PRIORITY_11",
            "AD_PRIORITY_12",
            "AD_PRIORITY_13",
            "AD_PRIORITY_14",
            "AD_PRIORITY_15",
            "AD_PRIORITY_16"
          ],
          "description": "Serving priority of an ad, with respect to other ads. The lower the priority number, the greater the priority with which it is served."
        },
        "frequencyCap": {
          "$ref": "FrequencyCap",
          "description": "Limit on the number of times an individual user can be served the ad within a specified period of time."
        }
      },
      "type": "object",
      "description": "Delivery Schedule."
    },
    "CampaignCreativeAssociationsListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignCreativeAssociationsListResponse\".",
          "type": "string"
        },
        "campaignCreativeAssociations": {
          "type": "array",
          "items": {
            "$ref": "CampaignCreativeAssociation"
          },
          "description": "Campaign creative association collection"
        }
      },
      "id": "CampaignCreativeAssociationsListResponse",
      "type": "object",
      "description": "Campaign Creative Association List Response"
    },
    "Report": {
      "description": "Represents a Report resource.",
      "id": "Report",
      "type": "object",
      "properties": {
        "reachCriteria": {
          "description": "The report criteria for a report of type \"REACH\".",
          "type": "object",
          "properties": {
            "dimensionFilters": {
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array"
            },
            "customRichMediaEvents": {
              "description": "Custom Rich Media Events group.",
              "$ref": "CustomRichMediaEvents"
            },
            "dimensions": {
              "description": "The list of dimensions the report should include.",
              "items": {
                "$ref": "SortedDimension"
              },
              "type": "array"
            },
            "reachByFrequencyMetricNames": {
              "description": "The list of names of Reach By Frequency metrics the report should include.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "activities": {
              "description": "Activity group.",
              "$ref": "Activities"
            }
          }
        },
        "accountId": {
          "description": "The account ID to which this report belongs.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "The name of the report.",
          "type": "string"
        },
        "ownerProfileId": {
          "description": "The user profile id of the owner of this report.",
          "type": "string",
          "format": "int64"
        },
        "floodlightCriteria": {
          "description": "The report criteria for a report of type \"FLOODLIGHT\".",
          "properties": {
            "dimensionFilters": {
              "items": {
                "$ref": "DimensionValue"
              },
              "type": "array",
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed."
            },
            "customRichMediaEvents": {
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of custom rich media events to include."
            },
            "floodlightConfigId": {
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'.",
              "$ref": "DimensionValue"
            },
            "reportProperties": {
              "type": "object",
              "properties": {
                "includeAttributedIPConversions": {
                  "description": "Include conversions that have no cookie, but do have an exposure path.",
                  "type": "boolean"
                },
                "includeUnattributedIPConversions": {
                  "type": "boolean",
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion."
                },
                "includeUnattributedCookieConversions": {
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window.",
                  "type": "boolean"
                }
              },
              "description": "The properties of the report."
            },
            "metricNames": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The list of names of metrics the report should include."
            },
            "dateRange": {
              "$ref": "DateRange",
              "description": "The date range this report should be run for."
            },
            "dimensions": {
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "The list of dimensions the report should include."
            }
          },
          "type": "object"
        },
        "pathToConversionCriteria": {
          "properties": {
            "reportProperties": {
              "properties": {
                "includeUnattributedCookieConversions": {
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window.",
                  "type": "boolean"
                },
                "maximumClickInteractions": {
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report.",
                  "type": "integer",
                  "format": "int32"
                },
                "pivotOnInteractionPath": {
                  "type": "boolean",
                  "description": "Enable pivoting on interaction path."
                },
                "includeAttributedIPConversions": {
                  "type": "boolean",
                  "description": "Deprecated: has no effect."
                },
                "maximumInteractionGap": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum amount of time that can take place between interactions (clicks or impressions) by the same user. Valid values: 1-90."
                },
                "maximumImpressionInteractions": {
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report.",
                  "format": "int32",
                  "type": "integer"
                },
                "clicksLookbackWindow": {
                  "description": "CM360 checks to see if a click interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "type": "integer",
                  "format": "int32"
                },
                "includeUnattributedIPConversions": {
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion.",
                  "type": "boolean"
                },
                "impressionsLookbackWindow": {
                  "description": "CM360 checks to see if an impression interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "description": "The properties of the report.",
              "type": "object"
            },
            "activityFilters": {
              "description": "The list of 'dfa:activity' values to filter on.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "customFloodlightVariables": {
              "items": {
                "$ref": "SortedDimension"
              },
              "type": "array",
              "description": "The list of custom floodlight variables the report should include."
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "perInteractionDimensions": {
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "The list of per interaction dimensions the report should include."
            },
            "conversionDimensions": {
              "items": {
                "$ref": "SortedDimension"
              },
              "type": "array",
              "description": "The list of conversion dimensions the report should include."
            },
            "customRichMediaEvents": {
              "type": "array",
              "description": "The list of custom rich media events to include.",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "floodlightConfigId": {
              "$ref": "DimensionValue",
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'."
            },
            "metricNames": {
              "type": "array",
              "description": "The list of names of metrics the report should include.",
              "items": {
                "type": "string"
              }
            }
          },
          "type": "object",
          "description": "The report criteria for a report of type \"PATH_TO_CONVERSION\"."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "The unique ID identifying this report resource."
        },
        "crossMediaReachCriteria": {
          "properties": {
            "metricNames": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "Required. The list of names of metrics the report should include."
            },
            "dimensions": {
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "Required. The list of dimensions the report should include.",
              "type": "array"
            },
            "dateRange": {
              "description": "Required. The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "dimensionFilters": {
              "type": "array",
              "description": "Required. The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "items": {
                "$ref": "DimensionValue"
              }
            }
          },
          "description": "Optional. The report criteria for a report of type \"CROSS_MEDIA_REACH\".",
          "type": "object"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#report.",
          "type": "string"
        },
        "format": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CSV",
            "EXCEL"
          ],
          "description": "The output format of the report. If not specified, default format is \"CSV\". Note that the actual format in the completed report file might differ if for instance the report's size exceeds the format's capabilities. \"CSV\" will then be the fallback format."
        },
        "criteria": {
          "properties": {
            "activities": {
              "description": "Activity group.",
              "$ref": "Activities"
            },
            "dimensionFilters": {
              "type": "array",
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "dimensions": {
              "type": "array",
              "description": "The list of standard dimensions the report should include.",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "dateRange": {
              "description": "The date range for which this report should be run.",
              "$ref": "DateRange"
            },
            "customRichMediaEvents": {
              "$ref": "CustomRichMediaEvents",
              "description": "Custom Rich Media Events group."
            }
          },
          "type": "object",
          "description": "The report criteria for a report of type \"STANDARD\"."
        },
        "schedule": {
          "description": "The report's schedule. Can only be set if the report's 'dateRange' is a relative date range and the relative date range is not \"TODAY\".",
          "properties": {
            "repeats": {
              "type": "string",
              "description": "The interval for which the report is repeated. Note: - \"DAILY\" also requires field \"every\" to be set. - \"WEEKLY\" also requires fields \"every\" and \"repeatsOnWeekDays\" to be set. - \"MONTHLY\" also requires fields \"every\" and \"runsOnDayOfMonth\" to be set. "
            },
            "startDate": {
              "type": "string",
              "format": "date"
            },
            "every": {
              "description": "Defines every how many days, weeks or months the report should be run. Needs to be set when \"repeats\" is either \"DAILY\", \"WEEKLY\" or \"MONTHLY\".",
              "type": "integer",
              "format": "int32"
            },
            "expirationDate": {
              "format": "date",
              "type": "string"
            },
            "runsOnDayOfMonth": {
              "type": "string",
              "description": "Enum to define for \"MONTHLY\" scheduled reports whether reports should be repeated on the same day of the month as \"startDate\" or the same day of the week of the month. Example: If 'startDate' is Monday, April 2nd 2012 (2012-04-02), \"DAY_OF_MONTH\" would run subsequent reports on the 2nd of every Month, and \"WEEK_OF_MONTH\" would run subsequent reports on the first Monday of the month.",
              "enum": [
                "DAY_OF_MONTH",
                "WEEK_OF_MONTH"
              ],
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "active": {
              "description": "Whether the schedule is active or not. Must be set to either true or false.",
              "type": "boolean"
            },
            "repeatsOnWeekDays": {
              "description": "List of week days \"WEEKLY\" on which scheduled reports should run.",
              "type": "array",
              "items": {
                "enum": [
                  "SUNDAY",
                  "MONDAY",
                  "TUESDAY",
                  "WEDNESDAY",
                  "THURSDAY",
                  "FRIDAY",
                  "SATURDAY"
                ],
                "enumDescriptions": [
                  "",
                  "",
                  "",
                  "",
                  "",
                  "",
                  ""
                ],
                "type": "string"
              }
            },
            "timezone": {
              "description": "The timezone when the report will run.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "type": {
          "description": "The type of the report.",
          "type": "string",
          "enum": [
            "STANDARD",
            "REACH",
            "PATH_TO_CONVERSION",
            "FLOODLIGHT",
            "CROSS_MEDIA_REACH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "The timestamp (in milliseconds since epoch) of when this report was last modified.",
          "format": "uint64"
        },
        "delivery": {
          "type": "object",
          "description": "The report's email delivery settings.",
          "properties": {
            "recipients": {
              "items": {
                "$ref": "Recipient"
              },
              "type": "array",
              "description": "The list of recipients to which to email the report."
            },
            "emailOwnerDeliveryType": {
              "enum": [
                "LINK",
                "ATTACHMENT"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "The type of delivery for the owner to receive, if enabled."
            },
            "message": {
              "type": "string",
              "description": "The message to be sent with each email."
            },
            "emailOwner": {
              "type": "boolean",
              "description": "Whether the report should be emailed to the report owner."
            }
          }
        },
        "fileName": {
          "description": "The filename used when generating report files for this report.",
          "type": "string"
        },
        "subAccountId": {
          "format": "int64",
          "type": "string",
          "description": "The subaccount ID to which this report belongs if applicable."
        },
        "etag": {
          "description": "The eTag of this response for caching purposes.",
          "type": "string"
        }
      }
    },
    "Activities": {
      "properties": {
        "filters": {
          "items": {
            "$ref": "DimensionValue"
          },
          "type": "array",
          "description": "List of activity filters. The dimension values need to be all either of type \"dfa:activity\" or \"dfa:activityGroup\"."
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#activities."
        },
        "metricNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of names of floodlight activity metrics."
        }
      },
      "type": "object",
      "id": "Activities",
      "description": "Represents an activity group."
    },
    "OptimizationActivity": {
      "type": "object",
      "id": "OptimizationActivity",
      "properties": {
        "floodlightActivityId": {
          "description": "Floodlight activity ID of this optimization activity. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "floodlightActivityIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight activity. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "weight": {
          "format": "int32",
          "type": "integer",
          "description": "Weight associated with this optimization. The weight assigned will be understood in proportion to the weights assigned to the other optimization activities. Value must be greater than or equal to 1."
        }
      },
      "description": "Creative optimization activity."
    },
    "FeedIngestionStatus": {
      "id": "FeedIngestionStatus",
      "description": "Contains the ingestion status of the dynamic feed. Feed ingestion is an asynchronous process. If the feed create request is successful, feed ingestion will be processed in the background, including validation, assets retrieval, and saving the data from the resource link. The processing time is dependent on the data size in the resource link. This read-only status field contains the current stage of that processing and its ingestion state.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The processing state of the feed.",
          "type": "string",
          "enum": [
            "FEED_PROCESSING_STATE_UNKNOWN",
            "CANCELLED",
            "INGESTING_QUEUED",
            "INGESTING",
            "INGESTED_SUCCESS",
            "INGESTED_FAILURE",
            "REQUEST_TO_PUBLISH",
            "PUBLISHING",
            "PUBLISHED_SUCCESS",
            "PUBLISHED_FAILURE"
          ],
          "enumDescriptions": [
            "The feed processing state is unknown.",
            "The feed processing state is cancelled.",
            "The feed processing state is ingesting queued.",
            "The feed processing state is ingesting.",
            "The feed processing state is ingested successfully.",
            "The feed processing state is ingested with failure.",
            "The feed processing state is request to publish.",
            "The feed processing state is publishing.",
            "The feed processing state is published successfully.",
            "The feed processing state is published with failure."
          ],
          "readOnly": true
        },
        "ingestionErrorRecords": {
          "items": {
            "$ref": "IngestionErrorRecord"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The ingestion error records of the feed."
        },
        "ingestionStatus": {
          "readOnly": true,
          "description": "Output only. The ingestion status of the feed.",
          "$ref": "IngestionStatus"
        }
      }
    },
    "Browser": {
      "properties": {
        "name": {
          "description": "Name of this browser.",
          "type": "string"
        },
        "majorVersion": {
          "type": "string",
          "description": "Major version number (leftmost number) of this browser. For example, for Chrome 5.0.376.86 beta, this field should be set to 5. An asterisk (*) may be used to target any version number, and a question mark (?) may be used to target cases where the version number cannot be identified. For example, Chrome *.* targets any version of Chrome: 1.2, 2.5, 3.5, and so on. Chrome 3.* targets Chrome 3.1, 3.5, but not 4.0. Firefox ?.? targets cases where the ad server knows the browser is Firefox but can't tell which version it is."
        },
        "minorVersion": {
          "type": "string",
          "description": "Minor version number (number after first dot on left) of this browser. For example, for Chrome 5.0.375.86 beta, this field should be set to 0. An asterisk (*) may be used to target any version number, and a question mark (?) may be used to target cases where the version number cannot be identified. For example, Chrome *.* targets any version of Chrome: 1.2, 2.5, 3.5, and so on. Chrome 3.* targets Chrome 3.1, 3.5, but not 4.0. Firefox ?.? targets cases where the ad server knows the browser is Firefox but can't tell which version it is."
        },
        "dartId": {
          "format": "int64",
          "type": "string",
          "description": "DART ID of this browser. This is the ID used when generating reports."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#browser\".",
          "type": "string"
        },
        "browserVersionId": {
          "description": "ID referring to this grouping of browser and version numbers. This is the ID used for targeting.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Browser",
      "type": "object",
      "description": "Contains information about a browser that can be targeted by ads."
    },
    "DimensionValue": {
      "properties": {
        "matchType": {
          "enum": [
            "EXACT",
            "BEGINS_WITH",
            "CONTAINS",
            "WILDCARD_EXPRESSION"
          ],
          "description": "Determines how the 'value' field is matched when filtering. If not specified, defaults to EXACT. If set to WILDCARD_EXPRESSION, '*' is allowed as a placeholder for variable length character sequences, and it can be escaped with a backslash. Note, only paid search dimensions ('dfa:paidSearch*') allow a matchType other than EXACT.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "dimensionName": {
          "description": "The name of the dimension.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID associated with the value if available."
        },
        "value": {
          "type": "string",
          "description": "The value of the dimension."
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dimensionValue.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The eTag of this response for caching purposes."
        }
      },
      "type": "object",
      "id": "DimensionValue",
      "description": "Represents a DimensionValue resource."
    },
    "IngestionStatus": {
      "type": "object",
      "id": "IngestionStatus",
      "description": "Contains the ingestion status of the dynamic feed.",
      "properties": {
        "numActiveRows": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The number of active rows in the feed."
        },
        "numWarningsTotal": {
          "description": "Output only. The total number of warnings in the feed.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "numRowsWithErrors": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The number of rows with errors in the feed."
        },
        "numRowsTotal": {
          "description": "Output only. The total number of rows in the feed.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "numRowsProcessed": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The number of rows processed in the feed.",
          "format": "int64"
        }
      }
    },
    "Metric": {
      "description": "Represents a metric.",
      "id": "Metric",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The metric name, e.g. impressions"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#metric.",
          "type": "string"
        }
      }
    },
    "PostalCodesListResponse": {
      "id": "PostalCodesListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#postalCodesListResponse\".",
          "type": "string"
        },
        "postalCodes": {
          "items": {
            "$ref": "PostalCode"
          },
          "type": "array",
          "description": "Postal code collection."
        }
      },
      "description": "Postal Code List Response"
    },
    "AccountPermission": {
      "description": "AccountPermissions contains information about a particular account permission. Some features of Campaign Manager require an account permission to be present in the account.",
      "id": "AccountPermission",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this account permission."
        },
        "accountProfiles": {
          "description": "Account profiles associated with this account permission. Possible values are: - \"ACCOUNT_PROFILE_BASIC\" - \"ACCOUNT_PROFILE_STANDARD\" ",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Basic profile has fewer features and lower CPM.",
              "Standard profile as a higher CPM and all the features."
            ],
            "enum": [
              "ACCOUNT_PROFILE_BASIC",
              "ACCOUNT_PROFILE_STANDARD"
            ]
          }
        },
        "permissionGroupId": {
          "format": "int64",
          "description": "Permission group of this account permission.",
          "type": "string"
        },
        "level": {
          "enum": [
            "USER",
            "ADMINISTRATOR"
          ],
          "description": "Administrative level required to enable this account permission.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermission\".",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this account permission."
        }
      }
    },
    "SiteVideoSettings": {
      "properties": {
        "transcodeSettings": {
          "$ref": "SiteTranscodeSetting",
          "description": "Settings for the transcodes of video creatives served to this site. This will act as default for new placements created under this site."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteVideoSettings\".",
          "type": "string"
        },
        "skippableSettings": {
          "description": "Settings for the skippability of video creatives served to this site. This will act as default for new placements created under this site.",
          "$ref": "SiteSkippableSetting"
        },
        "orientation": {
          "enum": [
            "ANY",
            "LANDSCAPE",
            "PORTRAIT"
          ],
          "description": "Orientation of a site template used for video. This will act as default for new placements created under this site.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "obaEnabled": {
[...]
