{
  "discoveryVersion": "v1",
  "version": "v5",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "postalCodes": {
      "methods": {
        "list": {
          "response": {
            "$ref": "PostalCodesListResponse"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/postalCodes",
          "description": "Retrieves a list of postal codes.",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/postalCodes",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.postalCodes.list"
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "code"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "code": {
              "description": "Postal code ID.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "id": "dfareporting.postalCodes.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "PostalCode"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one postal code by ID.",
          "flatPath": "userprofiles/{userprofilesId}/postalCodes/{postalCodesId}",
          "path": "userprofiles/{+profileId}/postalCodes/{+code}"
        }
      }
    },
    "userRoles": {
      "methods": {
        "get": {
          "id": "dfareporting.userRoles.get",
          "flatPath": "userprofiles/{userprofilesId}/userRoles/{userRolesId}",
          "description": "Gets one user role by ID.",
          "path": "userprofiles/{+profileId}/userRoles/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "UserRole"
          },
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User role ID.",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "delete": {
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User role ID."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          },
          "id": "dfareporting.userRoles.delete",
          "flatPath": "userprofiles/{userprofilesId}/userRoles/{userRolesId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Deletes an existing user role.",
          "path": "userprofiles/{+profileId}/userRoles/{+id}"
        },
        "list": {
          "path": "userprofiles/{+profileId}/userRoles",
          "id": "dfareporting.userRoles.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of user roles, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "UserRolesListResponse"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "default": "ID"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"userrole*2015\" will return objects with names like \"userrole June 2015\", \"userrole April 2015\", or simply \"userrole 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"userrole\" will match objects with name \"my userrole\", \"userrole 2015\", or simply \"userrole\".",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "ids": {
              "repeated": true,
              "type": "string",
              "description": "Select only user roles with the specified IDs.",
              "location": "query",
              "format": "int64"
            },
            "accountUserRoleOnly": {
              "type": "boolean",
              "description": "Select only account level user roles not associated with any specific subaccount.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000"
            },
            "sortOrder": {
              "location": "query",
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            },
            "subaccountId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only user roles that belong to this subaccount."
            }
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "parameterOrder": [
            "profileId"
          ]
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "UserRole"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Inserts a new user role.",
          "id": "dfareporting.userRoles.insert",
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "request": {
            "$ref": "UserRole"
          },
          "path": "userprofiles/{+profileId}/userRoles"
        },
        "patch": {
          "id": "dfareporting.userRoles.patch",
          "request": {
            "$ref": "UserRole"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "id": {
              "required": true,
              "format": "int64",
              "location": "query",
              "description": "Required. UserRole ID.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "UserRole"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "description": "Updates an existing user role. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "path": "userprofiles/{+profileId}/userRoles",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "update": {
          "id": "dfareporting.userRoles.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "UserRole"
          },
          "description": "Updates an existing user role.",
          "path": "userprofiles/{+profileId}/userRoles",
          "response": {
            "$ref": "UserRole"
          },
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRoles"
        }
      }
    },
    "accountActiveAdSummaries": {
      "methods": {
        "get": {
          "response": {
            "$ref": "AccountActiveAdSummary"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "summaryAccountId"
          ],
          "path": "userprofiles/{+profileId}/accountActiveAdSummaries/{+summaryAccountId}",
          "id": "dfareporting.accountActiveAdSummaries.get",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/accountActiveAdSummaries/{accountActiveAdSummariesId}",
          "description": "Gets the account's active ad summary by account ID.",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            },
            "summaryAccountId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Account ID.",
              "type": "string"
            }
          }
        }
      }
    },
    "accounts": {
      "methods": {
        "list": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"account*2015\" will return objects with names like \"account June 2015\", \"account April 2015\", or simply \"account 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"account\" will match objects with name \"my account\", \"account 2015\", or simply \"account\"."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "ids": {
              "type": "string",
              "description": "Select only accounts with these IDs.",
              "format": "int64",
              "repeated": true,
              "location": "query"
            },
            "active": {
              "description": "Select only active accounts. Don't set this field to select both active and non-active accounts.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "location": "query",
              "default": "1000",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "type": "integer"
            },
            "sortField": {
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "description": "Field by which to sort the list."
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "location": "query"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AccountsListResponse"
          },
          "id": "dfareporting.accounts.list",
          "path": "userprofiles/{+profileId}/accounts",
          "description": "Retrieves the list of accounts, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "parameters": {
            "id": {
              "description": "Account ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/accounts/{accountsId}",
          "path": "userprofiles/{+profileId}/accounts/{+id}",
          "response": {
            "$ref": "Account"
          },
          "description": "Gets one account by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.accounts.get"
        },
        "patch": {
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing account. This method supports patch semantics.",
          "id": "dfareporting.accounts.patch",
          "path": "userprofiles/{+profileId}/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "id": {
              "format": "int64",
              "description": "Required. Account ID.",
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "request": {
            "$ref": "Account"
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64"
            }
          },
          "id": "dfareporting.accounts.update",
          "httpMethod": "PUT",
          "response": {
            "$ref": "Account"
          },
          "description": "Updates an existing account.",
          "request": {
            "$ref": "Account"
          },
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "path": "userprofiles/{+profileId}/accounts",
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "ads": {
      "methods": {
        "list": {
          "description": "Retrieves a list of ads, possibly filtered. This method supports paging.",
          "parameters": {
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"ad*2015\" will return objects with names like \"ad June 2015\", \"ad April 2015\", or simply \"ad 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"ad\" will match objects with name \"my ad\", \"ad 2015\", or simply \"ad\".",
              "location": "query"
            },
            "overriddenEventTagId": {
              "type": "string",
              "location": "query",
              "description": "Select only ads with this event tag override ID.",
              "format": "int64"
            },
            "sslRequired": {
              "type": "boolean",
              "location": "query",
              "description": "Select only ads that require SSL."
            },
            "sortOrder": {
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query"
            },
            "remarketingListIds": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "format": "int64",
              "description": "Select only ads whose list targeting expression use these remarketing list IDs."
            },
            "creativeIds": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Select only ads with these creative IDs assigned.",
              "format": "int64"
            },
            "placementIds": {
              "description": "Select only ads with these placement IDs assigned.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "sizeIds": {
              "repeated": true,
              "location": "query",
              "description": "Select only ads with these size IDs.",
              "format": "int64",
              "type": "string"
            },
            "campaignIds": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Select only ads with these campaign IDs.",
              "repeated": true
            },
            "ids": {
              "repeated": true,
              "description": "Select only ads with these IDs.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "creativeOptimizationConfigurationIds": {
              "description": "Select only ads with these creative optimization configuration IDs.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "active": {
              "location": "query",
              "type": "boolean",
              "description": "Select only active ads."
            },
            "sslCompliant": {
              "type": "boolean",
              "description": "Select only ads that are SSL-compliant.",
              "location": "query"
            },
            "advertiserId": {
              "description": "Select only ads with this advertiser ID.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "landingPageIds": {
              "description": "Select only ads with these landing page IDs.",
              "format": "int64",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "type": {
              "description": "Select only ads with these types.",
              "enum": [
                "AD_SERVING_STANDARD_AD",
                "AD_SERVING_DEFAULT_AD",
                "AD_SERVING_CLICK_TRACKER",
                "AD_SERVING_TRACKING",
                "AD_SERVING_BRAND_SAFE_AD"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "repeated": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            },
            "audienceSegmentIds": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Select only ads with these audience segment IDs.",
              "format": "int64"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "default": "1000",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of results to return."
            },
            "compatibility": {
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ],
              "location": "query",
              "description": "Select default ads with the specified compatibility. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering an in-stream video ads developed with the VAST standard."
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "description": "Field by which to sort the list.",
              "location": "query",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "dynamicClickTracker": {
              "location": "query",
              "type": "boolean",
              "description": "Select only dynamic click trackers. Applicable when type is AD_SERVING_CLICK_TRACKER. If true, select dynamic click trackers. If false, select static click trackers. Leave unset to select both."
            },
            "archived": {
              "type": "boolean",
              "description": "Select only archived ads.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/ads",
          "id": "dfareporting.ads.list",
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AdsListResponse"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "path": "userprofiles/{+profileId}/ads",
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Required. RemarketingList ID."
            },
            "profileId": {
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Ad"
          },
          "description": "Updates an existing ad. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.ads.patch",
          "request": {
            "$ref": "Ad"
          },
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "path": "userprofiles/{+profileId}/ads",
          "response": {
            "$ref": "Ad"
          },
          "description": "Updates an existing ad.",
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.ads.update",
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Ad"
          }
        },
        "get": {
          "path": "userprofiles/{+profileId}/ads/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Ad"
          },
          "id": "dfareporting.ads.get",
          "description": "Gets one ad by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "id": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Ad ID.",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/ads/{adsId}"
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "description": "Inserts a new ad.",
          "request": {
            "$ref": "Ad"
          },
          "path": "userprofiles/{+profileId}/ads",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "Ad"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.ads.insert",
          "flatPath": "userprofiles/{userprofilesId}/ads"
        }
      }
    },
    "floodlightActivityGroups": {
      "methods": {
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "description": "Updates an existing floodlight activity group.",
          "httpMethod": "PUT",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "location": "path"
            }
          },
          "id": "dfareporting.floodlightActivityGroups.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.floodlightActivityGroups.list",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "default": "1000",
              "location": "query",
              "description": "Maximum number of results to return."
            },
            "type": {
              "location": "query",
              "description": "Select only floodlight activity groups with the specified floodlight activity group type.",
              "enum": [
                "COUNTER",
                "SALE"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results."
            },
            "floodlightConfigurationId": {
              "description": "Select only floodlight activity groups with the specified floodlight configuration ID. Must specify either advertiserId, or floodlightConfigurationId for a non-empty result.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "location": "path"
            },
            "ids": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "description": "Select only floodlight activity groups with the specified IDs. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.",
              "type": "string"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivitygroup*2015\" will return objects with names like \"floodlightactivitygroup June 2015\", \"floodlightactivitygroup April 2015\", or simply \"floodlightactivitygroup 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivitygroup\" will match objects with name \"my floodlightactivitygroup activity\", \"floodlightactivitygroup 2015\", or simply \"floodlightactivitygroup\"."
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "advertiserId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Select only floodlight activity groups with the specified advertiser ID. Must specify either advertiserId or floodlightConfigurationId for a non-empty result."
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query"
            }
          },
          "response": {
            "$ref": "FloodlightActivityGroupsListResponse"
          },
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of floodlight activity groups, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups"
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "format": "int64",
              "description": "Floodlight activity Group ID.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups/{floodlightActivityGroupsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivityGroups/{+id}",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "description": "Gets one floodlight activity group by ID.",
          "id": "dfareporting.floodlightActivityGroups.get"
        },
        "patch": {
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.floodlightActivityGroups.patch",
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "httpMethod": "PATCH",
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "location": "path"
            },
            "id": {
              "format": "int64",
              "location": "query",
              "required": true,
              "type": "string",
              "description": "Required. EventTag ID."
            }
          },
          "description": "Updates an existing floodlight activity group. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "id": "dfareporting.floodlightActivityGroups.insert",
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new floodlight activity group.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "httpMethod": "POST"
        }
      }
    },
    "platformTypes": {
      "methods": {
        "list": {
          "description": "Retrieves a list of platform types.",
          "flatPath": "userprofiles/{userprofilesId}/platformTypes",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/platformTypes",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "PlatformTypesListResponse"
          },
          "id": "dfareporting.platformTypes.list"
        },
        "get": {
          "response": {
            "$ref": "PlatformType"
          },
          "path": "userprofiles/{+profileId}/platformTypes/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one platform type by ID.",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Platform type ID.",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/platformTypes/{platformTypesId}",
          "id": "dfareporting.platformTypes.get"
        }
      }
    },
    "studioCreatives": {
      "methods": {
        "publish": {
          "description": "Publish for a studio creative.",
          "flatPath": "studio/creatives/{creativesId}/publish",
          "httpMethod": "POST",
          "parameters": {
            "studioCreativeId": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Required. Studio creative ID."
            }
          },
          "parameterOrder": [
            "studioCreativeId"
          ],
          "path": "studio/creatives/{+studioCreativeId}/publish",
          "id": "dfareporting.studioCreatives.publish",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "parameterOrder": [
            "studioCreativeId"
          ],
          "flatPath": "studio/creatives/{creativesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/creatives/{+studioCreativeId}",
          "description": "Gets a studio creative by ID.",
          "response": {
            "$ref": "StudioCreative"
          },
          "id": "dfareporting.studioCreatives.get",
          "parameters": {
            "studioCreativeId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Studio creative ID.",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "httpMethod": "GET"
        },
        "insert": {
          "parameterOrder": [],
          "response": {
            "$ref": "StudioCreative"
          },
          "request": {
            "$ref": "StudioCreative"
          },
          "description": "Inserts a new studio creative.",
          "flatPath": "studio/creatives",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.studioCreatives.insert",
          "path": "studio/creatives",
          "parameters": {},
          "httpMethod": "POST"
        }
      }
    },
    "mobileApps": {
      "methods": {
        "get": {
          "description": "Gets one mobile app by ID.",
          "path": "userprofiles/{+profileId}/mobileApps/{+id}",
          "id": "dfareporting.mobileApps.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "MobileApp"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            },
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Mobile app ID.",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/mobileApps/{mobileAppsId}"
        },
        "list": {
          "id": "dfareporting.mobileApps.list",
          "description": "Retrieves list of available mobile apps.",
          "parameters": {
            "directories": {
              "location": "query",
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "UNKNOWN",
                "APPLE_APP_STORE",
                "GOOGLE_PLAY_STORE",
                "ROKU_APP_STORE",
                "AMAZON_FIRETV_APP_STORE",
                "PLAYSTATION_APP_STORE",
                "APPLE_TV_APP_STORE",
                "XBOX_APP_STORE",
                "SAMSUNG_TV_APP_STORE",
                "ANDROID_TV_APP_STORE",
                "GENERIC_CTV_APP_STORE"
              ],
              "type": "string",
              "description": "Select only apps from these directories."
            },
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "maxResults": {
              "location": "query",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "type": "integer"
            },
            "ids": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Select only apps with these IDs."
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"app*2015\" will return objects with names like \"app Jan 2018\", \"app Jan 2018\", or simply \"app 2018\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"app\" will match objects with name \"my app\", \"app 2018\", or simply \"app\"."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/mobileApps",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/mobileApps",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "MobileAppsListResponse"
          }
        }
      }
    },
    "userRolePermissions": {
      "methods": {
        "get": {
          "response": {
            "$ref": "UserRolePermission"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.userRolePermissions.get",
          "description": "Gets one user role permission by ID.",
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions/{userRolePermissionsId}",
          "path": "userprofiles/{+profileId}/userRolePermissions/{+id}",
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "description": "User role permission ID.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "list": {
          "description": "Gets a list of user role permissions, possibly filtered.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/userRolePermissions",
          "id": "dfareporting.userRolePermissions.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "UserRolePermissionsListResponse"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "ids": {
              "description": "Select only user role permissions with these IDs.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "format": "int64"
            }
          }
        }
      }
    },
    "advertiserLandingPages": {
      "methods": {
        "patch": {
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "parameters": {
            "id": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. Landing Page ID.",
              "location": "query"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertiserLandingPages.patch",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "LandingPage"
          },
          "description": "Updates an existing landing page. This method supports patch semantics.",
          "request": {
            "$ref": "LandingPage"
          }
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "id": "dfareporting.advertiserLandingPages.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of landing pages.",
          "httpMethod": "GET",
          "response": {
            "$ref": "AdvertiserLandingPagesListResponse"
          },
          "parameters": {
            "subaccountId": {
              "location": "query",
              "format": "int64",
              "description": "Select only landing pages that belong to this subaccount.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "default": "1000"
            },
            "campaignIds": {
              "description": "Select only landing pages that are associated with these campaigns.",
              "repeated": true,
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "type": "string",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "archived": {
              "description": "Select only archived landing pages. Don't set this field to select both archived and non-archived landing pages.",
              "location": "query",
              "type": "boolean"
            },
            "ids": {
              "repeated": true,
              "description": "Select only landing pages with these IDs.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "advertiserIds": {
              "type": "string",
              "format": "int64",
              "description": "Select only landing pages that belong to these advertisers.",
              "location": "query",
              "repeated": true
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for landing pages by name or ID. Wildcards (*) are allowed. For example, \"landingpage*2017\" will return landing pages with names like \"landingpage July 2017\", \"landingpage March 2017\", or simply \"landingpage 2017\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"landingpage\" will match campaigns with name \"my landingpage\", \"landingpage 2015\", or simply \"landingpage\".",
              "location": "query"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "description": "Field by which to sort the list."
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one landing page by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages/{advertiserLandingPagesId}",
          "path": "userprofiles/{+profileId}/advertiserLandingPages/{+id}",
          "id": "dfareporting.advertiserLandingPages.get",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            },
            "id": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Landing page ID.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "LandingPage"
          }
        },
        "update": {
          "description": "Updates an existing landing page.",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "id": "dfareporting.advertiserLandingPages.update",
          "response": {
            "$ref": "LandingPage"
          },
          "request": {
            "$ref": "LandingPage"
          },
          "path": "userprofiles/{+profileId}/advertiserLandingPages"
        },
        "insert": {
          "response": {
            "$ref": "LandingPage"
          },
          "request": {
            "$ref": "LandingPage"
          },
          "id": "dfareporting.advertiserLandingPages.insert",
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "description": "Inserts a new landing page.",
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages"
        }
      }
    },
    "campaigns": {
      "methods": {
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.campaigns.patch",
          "path": "userprofiles/{+profileId}/campaigns",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Campaign"
          },
          "description": "Updates an existing campaign. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "id": {
              "location": "query",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Required. Campaign ID."
            }
          },
          "request": {
            "$ref": "Campaign"
          },
          "httpMethod": "PATCH"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "description": "Inserts a new campaign.",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Campaign"
          },
          "httpMethod": "POST",
          "id": "dfareporting.campaigns.insert",
          "request": {
            "$ref": "Campaign"
          },
          "path": "userprofiles/{+profileId}/campaigns"
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/campaigns",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "parameters": {
            "subaccountId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only campaigns that belong to this subaccount."
            },
            "ids": {
              "format": "int64",
              "location": "query",
              "repeated": true,
              "description": "Select only campaigns with these IDs.",
              "type": "string"
            },
            "atLeastOneOptimizationActivity": {
              "location": "query",
              "type": "boolean",
              "description": "Select only campaigns that have at least one optimization activity."
            },
            "searchString": {
              "description": "Allows searching for campaigns by name or ID. Wildcards (*) are allowed. For example, \"campaign*2015\" will return campaigns with names like \"campaign June 2015\", \"campaign April 2015\", or simply \"campaign 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"campaign\" will match campaigns with name \"my campaign\", \"campaign 2015\", or simply \"campaign\".",
              "location": "query",
              "type": "string"
            },
            "advertiserIds": {
              "description": "Select only campaigns that belong to these advertisers.",
              "format": "int64",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "type": "string",
              "default": "ASCENDING",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query"
            },
            "archived": {
              "location": "query",
              "description": "Select only archived campaigns. Don't set this field to select both archived and non-archived campaigns.",
              "type": "boolean"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "profileId": {
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "excludedIds": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Exclude campaigns with these IDs.",
              "format": "int64"
            },
            "advertiserGroupIds": {
              "type": "string",
              "repeated": true,
              "description": "Select only campaigns whose advertisers belong to these advertiser groups.",
              "format": "int64",
              "location": "query"
            },
            "overriddenEventTagId": {
              "type": "string",
              "format": "int64",
              "description": "Select only campaigns that have overridden this event tag ID.",
              "location": "query"
            },
            "maxResults": {
              "default": "1000",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "location": "query",
              "type": "integer"
            }
          },
          "description": "Retrieves a list of campaigns, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "CampaignsListResponse"
          },
          "id": "dfareporting.campaigns.list"
        },
        "update": {
          "description": "Updates an existing campaign.",
          "path": "userprofiles/{+profileId}/campaigns",
          "request": {
            "$ref": "Campaign"
          },
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "id": "dfareporting.campaigns.update",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Campaign"
          }
        },
        "get": {
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/campaigns/{+id}",
          "parameters": {
            "id": {
              "format": "int64",
              "description": "Campaign ID.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one campaign by ID.",
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}",
          "id": "dfareporting.campaigns.get",
          "response": {
            "$ref": "Campaign"
          }
        }
      }
    },
    "accountPermissions": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/accountPermissions",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/accountPermissions",
          "httpMethod": "GET",
          "id": "dfareporting.accountPermissions.list",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AccountPermissionsListResponse"
          },
          "description": "Retrieves the list of account permissions."
        },
        "get": {
          "description": "Gets one account permission by ID.",
          "response": {
            "$ref": "AccountPermission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountPermissions.get",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Account permission ID."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/accountPermissions/{accountPermissionsId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/accountPermissions/{+id}"
        }
      }
    },
    "targetableRemarketingLists": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64"
            },
            "active": {
              "location": "query",
              "description": "Select only active or only inactive targetable remarketing lists.",
              "type": "boolean"
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query",
              "description": "Field by which to sort the list."
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "name": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "advertiserId": {
              "format": "int64",
              "required": true,
              "description": "Required. Select only targetable remarketing lists targetable by these advertisers.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "TargetableRemarketingListsListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists",
          "id": "dfareporting.targetableRemarketingLists.list",
          "description": "Retrieves a list of targetable remarketing lists, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/targetableRemarketingLists"
        },
        "get": {
          "id": "dfareporting.targetableRemarketingLists.get",
          "description": "Gets one remarketing list by ID.",
          "path": "userprofiles/{+profileId}/targetableRemarketingLists/{+id}",
          "response": {
            "$ref": "TargetableRemarketingList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "id": {
              "description": "Remarketing list ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists/{targetableRemarketingListsId}"
        }
      }
    },
    "advertisers": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/advertisers",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "description": "Retrieves a list of advertisers, possibly filtered. This method supports paging.",
          "parameters": {
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "description": "Field by which to sort the list."
            },
            "status": {
              "enumDescriptions": [
                "Approved (ads can deliver)",
                "On-hold (all ads are stopped)"
              ],
              "enum": [
                "APPROVED",
                "ON_HOLD"
              ],
              "type": "string",
              "location": "query",
              "description": "Select only advertisers with the specified status."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "floodlightConfigurationIds": {
              "type": "string",
              "description": "Select only advertisers with these floodlight configuration IDs.",
              "repeated": true,
              "location": "query",
              "format": "int64"
            },
            "profileId": {
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "advertiserGroupIds": {
              "description": "Select only advertisers with these advertiser group IDs.",
              "format": "int64",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "onlyParent": {
              "description": "Select only advertisers which use another advertiser's floodlight configuration.",
              "type": "boolean",
              "location": "query"
            },
            "subaccountId": {
              "format": "int64",
              "type": "string",
              "description": "Select only advertisers with these subaccount IDs.",
              "location": "query"
            },
            "includeAdvertisersWithoutGroupsOnly": {
              "description": "Select only advertisers which do not belong to any advertiser group.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "type": "integer"
            },
            "ids": {
              "type": "string",
              "description": "Select only advertisers with these IDs.",
              "repeated": true,
              "format": "int64",
              "location": "query"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "location": "query"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser June 2015\", \"advertiser April 2015\", or simply \"advertiser 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertiser\" will match objects with name \"my advertiser\", \"advertiser 2015\", or simply \"advertiser\" ."
            }
          },
          "httpMethod": "GET",
          "id": "dfareporting.advertisers.list",
          "response": {
            "$ref": "AdvertisersListResponse"
          }
        },
        "insert": {
          "description": "Inserts a new advertiser.",
          "response": {
            "$ref": "Advertiser"
          },
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/advertisers",
          "id": "dfareporting.advertisers.insert",
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Advertiser"
          },
          "parameterOrder": [
            "profileId"
          ]
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "Advertiser"
          },
          "path": "userprofiles/{+profileId}/advertisers",
          "response": {
            "$ref": "Advertiser"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "id": {
              "format": "int64",
              "description": "Required. Advertiser ID.",
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "description": "Updates an existing advertiser. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "id": "dfareporting.advertisers.patch"
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/advertisers",
          "id": "dfareporting.advertisers.update",
          "request": {
            "$ref": "Advertiser"
          },
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "description": "Updates an existing advertiser.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "Advertiser"
          }
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/advertisers/{advertisersId}",
          "parameters": {
            "id": {
              "type": "string",
              "description": "Advertiser ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "location": "path"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "description": "Gets one advertiser by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Advertiser"
          },
          "id": "dfareporting.advertisers.get",
          "path": "userprofiles/{+profileId}/advertisers/{+id}"
        }
      }
    },
    "advertiserGroups": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "httpMethod": "POST",
          "description": "Inserts a new advertiser group.",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "id": "dfareporting.advertiserGroups.insert",
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups"
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertiserGroups.list",
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AdvertiserGroupsListResponse"
          },
          "parameters": {
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "type": "string",
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "location": "query",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "default": "1000",
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of results to return."
            },
            "ids": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only advertiser groups with these IDs."
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser group June 2015\", \"advertiser group April 2015\", or simply \"advertiser group 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertisergroup\" will match objects with name \"my advertisergroup\", \"advertisergroup 2015\", or simply \"advertisergroup\".",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "description": "Retrieves a list of advertiser groups, possibly filtered. This method supports paging.",
          "httpMethod": "GET"
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "parameters": {
            "id": {
              "description": "Required. Advertiser Group ID.",
              "location": "query",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "profileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "httpMethod": "PATCH",
          "id": "dfareporting.advertiserGroups.patch",
          "description": "Updates an existing advertiser group. This method supports patch semantics."
        },
        "update": {
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "id": "dfareporting.advertiserGroups.update",
          "description": "Updates an existing advertiser group."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "path": "userprofiles/{+profileId}/advertiserGroups/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.advertiserGroups.get",
          "description": "Gets one advertiser group by ID.",
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups/{advertiserGroupsId}",
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "type": "string",
              "description": "Advertiser group ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "location": "path"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            }
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.advertiserGroups.delete",
          "parameters": {
            "id": {
              "format": "int64",
              "type": "string",
              "description": "Advertiser group ID.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/advertiserGroups/{+id}",
          "httpMethod": "DELETE",
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups/{advertiserGroupsId}",
          "description": "Deletes an existing advertiser group."
        }
      }
    },
    "dimensionValues": {
      "methods": {
        "query": {
          "description": "Retrieves list of report dimension values for a list of filters.",
          "response": {
            "$ref": "DimensionValueList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.dimensionValues.query",
          "path": "userprofiles/{profileId}/dimensionvalues/query",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "The Campaign Manager 360 user profile ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "description": "The value of the nextToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "default": "100",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "DimensionValueRequest"
          },
          "httpMethod": "POST",
          "flatPath": "userprofiles/{profileId}/dimensionvalues/query"
        }
      }
    },
    "subaccounts": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Subaccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one subaccount by ID.",
          "parameters": {
            "id": {
              "description": "Subaccount ID.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            }
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts/{subaccountsId}",
          "path": "userprofiles/{+profileId}/subaccounts/{+id}",
          "id": "dfareporting.subaccounts.get"
        },
        "list": {
          "id": "dfareporting.subaccounts.list",
          "description": "Gets a list of subaccounts, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "SubaccountsListResponse"
          },
          "parameters": {
            "ids": {
              "description": "Select only subaccounts with these IDs.",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "location": "query",
              "default": "1000"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"subaccount*2015\" will return objects with names like \"subaccount June 2015\", \"subaccount April 2015\", or simply \"subaccount 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"subaccount\" will match objects with name \"my subaccount\", \"subaccount 2015\", or simply \"subaccount\" ."
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "location": "query"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/subaccounts",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/subaccounts"
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/subaccounts",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Subaccount"
          },
          "id": "dfareporting.subaccounts.update",
          "request": {
            "$ref": "Subaccount"
          },
          "description": "Updates an existing subaccount."
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "request": {
            "$ref": "Subaccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "description": "Required. Subaccount ID.",
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
[...]
