{
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "ownerDomain": "google.com",
  "canonicalName": "Dfareporting",
  "servicePath": "dfareporting/v3.5/",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "protocol": "rest",
  "title": "Campaign Manager 360 API",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        }
      }
    }
  },
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.media.upload",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "advertiserId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "Advertiser ID of this creative. This is a required field."
            }
          },
          "path": "userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets",
          "flatPath": "userprofiles/{userprofilesId}/creativeAssets/{creativeAssetsId}/creativeAssets",
          "description": "Inserts a new creative asset.",
          "response": {
            "$ref": "CreativeAssetMetadata"
          },
          "httpMethod": "POST",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "1073741824",
            "protocols": {
              "simple": {
                "path": "/upload/dfareporting/v3.5/userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets",
                "multipart": true
              }
            }
          },
          "request": {
            "$ref": "CreativeAssetMetadata"
          }
        }
      }
    }
  },
  "id": "dfareporting:v3.5",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "version": "v3.5",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "OffsetPosition": {
      "id": "OffsetPosition",
      "type": "object",
      "properties": {
        "left": {
          "description": "Offset distance from left side of an asset or a window.",
          "format": "int32",
          "type": "integer"
        },
        "top": {
          "format": "int32",
          "description": "Offset distance from top side of an asset or a window.",
          "type": "integer"
        }
      },
      "description": "Offset Position."
    },
    "ClickTag": {
      "type": "object",
      "description": "Creative Click Tag.",
      "id": "ClickTag",
      "properties": {
        "name": {
          "type": "string",
          "description": "Parameter name for the specified click tag. For DISPLAY_IMAGE_GALLERY creative assets, this field must match the value of the creative asset's creativeAssetId.name field."
        },
        "clickThroughUrl": {
          "description": "Parameter value for the specified click tag. This field contains a click-through url.",
          "$ref": "CreativeClickThroughUrl"
        },
        "eventName": {
          "type": "string",
          "description": "Advertiser event name associated with the click tag. This field is used by DISPLAY_IMAGE_GALLERY and HTML5_BANNER creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        }
      }
    },
    "CreativeClickThroughUrl": {
      "description": "Click-through URL",
      "id": "CreativeClickThroughUrl",
      "type": "object",
      "properties": {
        "computedClickThroughUrl": {
          "type": "string",
          "description": "Read-only convenience field representing the actual URL that will be used for this click-through. The URL is computed as follows: - If landingPageId is specified then that landing page's URL is assigned to this field. - Otherwise, the customClickThroughUrl is assigned to this field. "
        },
        "customClickThroughUrl": {
          "type": "string",
          "description": "Custom click-through URL. Applicable if the landingPageId field is left unset."
        },
        "landingPageId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the landing page for the click-through URL."
        }
      }
    },
    "DimensionValue": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID associated with the value if available.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value of the dimension."
        },
        "matchType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Determines how the 'value' field is matched when filtering. If not specified, defaults to EXACT. If set to WILDCARD_EXPRESSION, '*' is allowed as a placeholder for variable length character sequences, and it can be escaped with a backslash. Note, only paid search dimensions ('dfa:paidSearch*') allow a matchType other than EXACT.",
          "type": "string",
          "enum": [
            "EXACT",
            "BEGINS_WITH",
            "CONTAINS",
            "WILDCARD_EXPRESSION"
          ]
        },
        "dimensionName": {
          "description": "The name of the dimension.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dimensionValue.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The eTag of this response for caching purposes."
        }
      },
      "id": "DimensionValue",
      "description": "Represents a DimensionValue resource."
    },
    "CreativeCustomEvent": {
      "id": "CreativeCustomEvent",
      "description": "Creative Custom Event.",
      "type": "object",
      "properties": {
        "advertiserCustomEventType": {
          "enum": [
            "ADVERTISER_EVENT_TIMER",
            "ADVERTISER_EVENT_EXIT",
            "ADVERTISER_EVENT_COUNTER"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Type of the event. This is a read-only field.",
          "type": "string"
        },
        "artworkType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Artwork type used by the creative.This is a read-only field.",
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ],
          "type": "string"
        },
        "advertiserCustomEventName": {
          "description": "User-entered name for the event.",
          "type": "string"
        },
        "videoReportingId": {
          "description": "Video reporting ID, used to differentiate multiple videos in a single creative. This is a read-only field.",
          "type": "string"
        },
        "artworkLabel": {
          "description": "Artwork label column, used to link events in Campaign Manager back to events in Studio. This is a required field and should not be modified after insertion.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this event. This is a required field and should not be modified after insertion."
        },
        "popupWindowProperties": {
          "description": "Properties for rich media popup windows. This field is used only for exit events.",
          "$ref": "PopupWindowProperties"
        },
        "exitClickThroughUrl": {
          "description": "Exit click-through URL for the event. This field is used only for exit events.",
          "$ref": "CreativeClickThroughUrl"
        },
        "advertiserCustomEventId": {
          "description": "Unique ID of this event used by Reporting and Data Transfer. This is a read-only field.",
          "format": "int64",
          "type": "string"
        },
        "targetType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TARGET_BLANK",
            "TARGET_TOP",
            "TARGET_SELF",
            "TARGET_PARENT",
            "TARGET_POPUP"
          ],
          "description": "Target type used by the event."
        }
      }
    },
    "Size": {
      "description": "Represents the dimensions of ads, placements, creatives, or creative assets.",
      "type": "object",
      "id": "Size",
      "properties": {
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "Height of this size. Acceptable values are 0 to 32767, inclusive."
        },
        "id": {
          "description": "ID of this size. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "width": {
          "description": "Width of this size. Acceptable values are 0 to 32767, inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "iab": {
          "type": "boolean",
          "description": "IAB standard size. This is a read-only, auto-generated field."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#size\".",
          "type": "string"
        }
      }
    },
    "CreativeAssetMetadata": {
      "type": "object",
      "properties": {
        "idDimensionValue": {
          "description": "Dimension value for the numeric ID of the asset. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "detectedFeatures": {
          "type": "array",
          "items": {
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "description": "List of feature dependencies for the creative asset that are detected by Campaign Manager. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field."
        },
        "timerCustomEvents": {
          "type": "array",
          "description": "List of timer events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset.",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "warnedValidationRules": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "CLICK_TAG_NON_TOP_LEVEL",
              "CLICK_TAG_MISSING",
              "CLICK_TAG_MORE_THAN_ONE",
              "CLICK_TAG_INVALID",
              "ORPHANED_ASSET",
              "PRIMARY_HTML_MISSING",
              "EXTERNAL_FILE_REFERENCED",
              "MRAID_REFERENCED",
              "ADMOB_REFERENCED",
              "FILE_TYPE_INVALID",
              "ZIP_INVALID",
              "LINKED_FILE_NOT_FOUND",
              "MAX_FLASH_VERSION_11",
              "NOT_SSL_COMPLIANT",
              "FILE_DETAIL_EMPTY",
              "ASSET_INVALID",
              "GWD_PROPERTIES_INVALID",
              "ENABLER_UNSUPPORTED_METHOD_DCM",
              "ASSET_FORMAT_UNSUPPORTED_DCM",
              "COMPONENT_UNSUPPORTED_DCM",
              "HTML5_FEATURE_UNSUPPORTED",
              "CLICK_TAG_IN_GWD",
              "CLICK_TAG_HARD_CODED",
              "SVG_INVALID",
              "CLICK_TAG_IN_RICH_MEDIA",
              "MISSING_ENABLER_REFERENCE"
            ]
          },
          "description": "Rules validated during code generation that generated a warning. This is a read-only, auto-generated field. Possible values are: - \"ADMOB_REFERENCED\" - \"ASSET_FORMAT_UNSUPPORTED_DCM\" - \"ASSET_INVALID\" - \"CLICK_TAG_HARD_CODED\" - \"CLICK_TAG_INVALID\" - \"CLICK_TAG_IN_GWD\" - \"CLICK_TAG_MISSING\" - \"CLICK_TAG_MORE_THAN_ONE\" - \"CLICK_TAG_NON_TOP_LEVEL\" - \"COMPONENT_UNSUPPORTED_DCM\" - \"ENABLER_UNSUPPORTED_METHOD_DCM\" - \"EXTERNAL_FILE_REFERENCED\" - \"FILE_DETAIL_EMPTY\" - \"FILE_TYPE_INVALID\" - \"GWD_PROPERTIES_INVALID\" - \"HTML5_FEATURE_UNSUPPORTED\" - \"LINKED_FILE_NOT_FOUND\" - \"MAX_FLASH_VERSION_11\" - \"MRAID_REFERENCED\" - \"NOT_SSL_COMPLIANT\" - \"ORPHANED_ASSET\" - \"PRIMARY_HTML_MISSING\" - \"SVG_INVALID\" - \"ZIP_INVALID\" ",
          "type": "array"
        },
        "clickTags": {
          "items": {
            "$ref": "ClickTag"
          },
          "type": "array",
          "description": "List of detected click tags for assets. This is a read-only, auto-generated field. This field is empty for a rich media asset."
        },
        "assetIdentifier": {
          "description": "ID of the creative asset. This is a required field.",
          "$ref": "CreativeAssetId"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeAssetMetadata\".",
          "type": "string"
        },
        "counterCustomEvents": {
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "type": "array",
          "description": "List of counter events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset."
        },
        "richMedia": {
          "type": "boolean",
          "description": "True if the uploaded asset is a rich media asset. This is a read-only, auto-generated field."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "Numeric ID of the asset. This is a read-only, auto-generated field."
        },
        "exitCustomEvents": {
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "type": "array",
          "description": "List of exit events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset."
        }
      },
      "id": "CreativeAssetMetadata",
      "description": "CreativeAssets contains properties of a creative asset file which will be uploaded or has already been uploaded. Refer to the creative sample code for how to upload assets and insert a creative."
    },
    "CreativeAssetId": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the creative asset. This is a required field while inserting an asset. After insertion, this assetIdentifier is used to identify the uploaded asset. Characters in the name must be alphanumeric or one of the following: \".-_ \". Spaces are allowed.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMAGE",
            "FLASH",
            "VIDEO",
            "HTML",
            "HTML_IMAGE",
            "AUDIO"
          ],
          "type": "string",
          "description": "Type of asset to upload. This is a required field. FLASH and IMAGE are no longer supported for new uploads. All image assets should use HTML_IMAGE."
        }
      },
      "id": "CreativeAssetId",
      "description": "Creative Asset ID."
    },
    "PopupWindowProperties": {
      "type": "object",
      "id": "PopupWindowProperties",
      "description": "Popup Window Properties.",
      "properties": {
        "positionType": {
          "description": "Popup window position either centered or at specific coordinate.",
          "enum": [
            "CENTER",
            "COORDINATES"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "dimension": {
          "description": "Popup dimension for a creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID",
          "$ref": "Size"
        },
        "offset": {
          "description": "Upper-left corner coordinates of the popup window. Applicable if positionType is COORDINATES.",
          "$ref": "OffsetPosition"
        },
        "showAddressBar": {
          "description": "Whether to display the browser address bar.",
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "Title of popup window."
        },
        "showMenuBar": {
          "type": "boolean",
          "description": "Whether to display the browser menu bar."
        },
        "showScrollBar": {
          "description": "Whether to display the browser scroll bar.",
          "type": "boolean"
        },
        "showToolBar": {
          "type": "boolean",
          "description": "Whether to display the browser tool bar."
        },
        "showStatusBar": {
          "description": "Whether to display the browser status bar.",
          "type": "boolean"
        }
      }
    }
  },
  "revision": "20260721",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v3.5/",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "name": "dfareporting",
  "basePath": "/dfareporting/v3.5/",
  "ownerName": "Google",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  }
}