{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "version": "v5",
  "revision": "20260721",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        },
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        }
      }
    }
  },
  "id": "dfareporting:v5",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "servicePath": "dfareporting/v5/",
  "title": "Campaign Manager 360 API",
  "ownerName": "Google",
  "schemas": {
    "SizesListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#sizesListResponse\"."
        },
        "sizes": {
          "type": "array",
          "items": {
            "$ref": "Size"
          },
          "description": "Size collection."
        }
      },
      "type": "object",
      "description": "Size List Response",
      "id": "SizesListResponse"
    },
    "AdvertiserGroup": {
      "description": "Groups advertisers together so that reports can be generated for the entire group at once.",
      "type": "object",
      "id": "AdvertiserGroup",
      "properties": {
        "id": {
          "description": "ID of this advertiser group. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserGroup\"."
        },
        "name": {
          "type": "string",
          "description": "Name of this advertiser group. This is a required field and must be less than 256 characters long and unique among advertiser groups of the same account."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this advertiser group. This is a read-only field that can be left blank.",
          "format": "int64"
        }
      }
    },
    "CompanionClickThroughOverride": {
      "properties": {
        "creativeId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the creative for this companion click-through override."
        },
        "clickThroughUrl": {
          "$ref": "ClickThroughUrl",
          "description": "Click-through URL of this companion click-through override."
        }
      },
      "id": "CompanionClickThroughOverride",
      "description": "Companion Click-through override.",
      "type": "object"
    },
    "TargetWindow": {
      "id": "TargetWindow",
      "type": "object",
      "properties": {
        "customHtml": {
          "description": "User-entered value.",
          "type": "string"
        },
        "targetWindowOption": {
          "description": "Type of browser window for which the backup image of the flash creative can be displayed.",
          "enum": [
            "NEW_WINDOW",
            "CURRENT_WINDOW",
            "CUSTOM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Open up a new window to display the backup image Corresponds to \"_blank\" in html",
            "Use the current window to display the backup image Corresponds to \"_top\" in html",
            "User-defined HTML used to display the backup image Corresponds to \"other\""
          ]
        }
      },
      "description": "Target Window."
    },
    "VideoFormat": {
      "properties": {
        "targetBitRate": {
          "format": "int32",
          "type": "integer",
          "description": "The target bit rate of this video format."
        },
        "fileType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "FLV",
            "THREEGPP",
            "MP4",
            "WEBM",
            "M3U8"
          ],
          "description": "File type of the video format."
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "ID of the video format."
        },
        "resolution": {
          "description": "The resolution of this video format.",
          "$ref": "Size"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoFormat\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VideoFormat",
      "description": "Contains information about supported video formats."
    },
    "UserRole": {
      "properties": {
        "permissions": {
          "items": {
            "$ref": "UserRolePermission"
          },
          "type": "array",
          "description": "List of permissions associated with this user role."
        },
        "id": {
          "description": "ID of this user role. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "defaultUserRole": {
          "type": "boolean",
          "description": "Whether this is a default user role. Default user roles are created by the system for the account/subaccount and cannot be modified or deleted. Each default user role comes with a basic set of preassigned permissions."
        },
        "name": {
          "description": "Name of this user role. This is a required field. Must be less than 256 characters long. If this user role is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this user role is a top-level user role, and the name must be unique among top-level user roles of the same account.",
          "type": "string"
        },
        "parentUserRoleId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the user role that this user role is based on or copied from. This is a required field."
        },
        "subaccountId": {
          "description": "Subaccount ID of this user role. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRole\".",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this user role. This is a read-only field that can be left blank."
        }
      },
      "type": "object",
      "id": "UserRole",
      "description": "Contains properties of auser role, which is used to manage user access."
    },
    "IngestionErrorRecord": {
      "properties": {
        "errors": {
          "type": "array",
          "description": "Output only. The list of field errors of the ingestion error record.",
          "items": {
            "$ref": "FieldError"
          },
          "readOnly": true
        },
        "recordId": {
          "description": "Output only. The record ID of the ingestion error record.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Contains the ingestion error record of the dynamic feed. limited to 100 records.",
      "id": "IngestionErrorRecord",
      "type": "object"
    },
    "AccountPermission": {
      "properties": {
        "permissionGroupId": {
          "type": "string",
          "format": "int64",
          "description": "Permission group of this account permission."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermission\".",
          "type": "string"
        },
        "level": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "USER",
            "ADMINISTRATOR"
          ],
          "description": "Administrative level required to enable this account permission."
        },
        "id": {
          "format": "int64",
          "description": "ID of this account permission.",
          "type": "string"
        },
        "accountProfiles": {
          "type": "array",
          "description": "Account profiles associated with this account permission. Possible values are: - \"ACCOUNT_PROFILE_BASIC\" - \"ACCOUNT_PROFILE_STANDARD\" ",
          "items": {
            "enum": [
              "ACCOUNT_PROFILE_BASIC",
              "ACCOUNT_PROFILE_STANDARD"
            ],
            "enumDescriptions": [
              "Basic profile has fewer features and lower CPM.",
              "Standard profile as a higher CPM and all the features."
            ],
            "type": "string"
          }
        },
        "name": {
          "description": "Name of this account permission.",
          "type": "string"
        }
      },
      "id": "AccountPermission",
      "description": "AccountPermissions contains information about a particular account permission. Some features of Campaign Manager require an account permission to be present in the account.",
      "type": "object"
    },
    "IngestionStatus": {
      "id": "IngestionStatus",
      "type": "object",
      "description": "Contains the ingestion status of the dynamic feed.",
      "properties": {
        "numRowsTotal": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The total number of rows in the feed."
        },
        "numWarningsTotal": {
          "readOnly": true,
          "description": "Output only. The total number of warnings in the feed.",
          "type": "string",
          "format": "int64"
        },
        "numRowsWithErrors": {
          "readOnly": true,
          "description": "Output only. The number of rows with errors in the feed.",
          "format": "int64",
          "type": "string"
        },
        "numActiveRows": {
          "type": "string",
          "description": "Output only. The number of active rows in the feed.",
          "readOnly": true,
          "format": "int64"
        },
        "numRowsProcessed": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of rows processed in the feed."
        }
      }
    },
    "ContextualKeywordTargeting": {
      "type": "object",
      "description": "Contextual Keyword Targeting.",
      "properties": {
        "keywords": {
          "items": {
            "$ref": "ContextualKeyword"
          },
          "description": "Contextual keywords that this ad targets",
          "type": "array"
        }
      },
      "id": "ContextualKeywordTargeting"
    },
    "CreativeAssignment": {
      "properties": {
        "applyEventTags": {
          "type": "boolean",
          "description": "Whether applicable event tags should fire when this creative assignment is rendered. If this value is unset when the ad is inserted or updated, it will default to true for all creative types EXCEPT for INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO."
        },
        "active": {
          "description": "Whether this creative assignment is active. When true, the creative will be included in the ad's rotation.",
          "type": "boolean"
        },
        "creativeId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the creative to be assigned. This is a required field."
        },
        "creativeGroupAssignments": {
          "description": "Creative group assignments for this creative assignment. Only one assignment per creative group number is allowed for a maximum of two assignments.",
          "items": {
            "$ref": "CreativeGroupAssignment"
          },
          "type": "array"
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "Weight of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_RANDOM. Value must be greater than or equal to 1."
        },
        "sslCompliant": {
          "description": "Whether the creative to be assigned is SSL-compliant. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "startTime": {
          "type": "string",
          "format": "date-time"
        },
        "companionCreativeOverrides": {
          "type": "array",
          "description": "Companion creative overrides for this creative assignment. Applicable to video ads.",
          "items": {
            "$ref": "CompanionClickThroughOverride"
          }
        },
        "clickThroughUrl": {
          "description": "Click-through URL of the creative assignment.",
          "$ref": "ClickThroughUrl"
        },
        "creativeIdDimensionValue": {
          "description": "Dimension value for the ID of the creative. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "richMediaExitOverrides": {
          "items": {
            "$ref": "RichMediaExitOverride"
          },
          "description": "Rich media exit overrides for this creative assignment. Applicable when the creative type is any of the following: - DISPLAY - RICH_MEDIA_INPAGE - RICH_MEDIA_INPAGE_FLOATING - RICH_MEDIA_IM_EXPAND - RICH_MEDIA_EXPANDING - RICH_MEDIA_INTERSTITIAL_FLOAT - RICH_MEDIA_MOBILE_IN_APP - RICH_MEDIA_MULTI_FLOATING - RICH_MEDIA_PEEL_DOWN - VPAID_LINEAR - VPAID_NON_LINEAR ",
          "type": "array"
        },
        "sequence": {
          "type": "integer",
          "description": "Sequence number of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_SEQUENTIAL. Acceptable values are 1 to 65535, inclusive.",
          "format": "int32"
        },
        "endTime": {
          "type": "string",
          "format": "date-time"
        }
      },
      "type": "object",
      "description": "Creative Assignment.",
      "id": "CreativeAssignment"
    },
    "RequestValue": {
      "type": "object",
      "id": "RequestValue",
      "description": "Contains request value information.",
      "properties": {
        "userAttributeIds": {
          "type": "array",
          "description": "Optional. User attribute IDs in the request. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "excludeFromUserAttributeIds": {
          "description": "Optional. User attribute IDs in the request that should be excluded. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "key": {
          "description": "Optional. Custom key in the request. Used only when the field type is CUSTOM_VALUE.",
          "type": "string"
        }
      }
    },
    "FeedIngestionStatus": {
      "description": "Contains the ingestion status of the dynamic feed. Feed ingestion is an asynchronous process. If the feed create request is successful, feed ingestion will be processed in the background, including validation, assets retrieval, and saving the data from the resource link. The processing time is dependent on the data size in the resource link. This read-only status field contains the current stage of that processing and its ingestion state.",
      "id": "FeedIngestionStatus",
      "properties": {
        "ingestionStatus": {
          "$ref": "IngestionStatus",
          "description": "Output only. The ingestion status of the feed.",
          "readOnly": true
        },
        "ingestionErrorRecords": {
          "items": {
            "$ref": "IngestionErrorRecord"
          },
          "readOnly": true,
          "description": "Output only. The ingestion error records of the feed.",
          "type": "array"
        },
        "state": {
          "description": "Output only. The processing state of the feed.",
          "enumDescriptions": [
            "The feed processing state is unknown.",
            "The feed processing state is cancelled.",
            "The feed processing state is ingesting queued.",
            "The feed processing state is ingesting.",
            "The feed processing state is ingested successfully.",
            "The feed processing state is ingested with failure.",
            "The feed processing state is request to publish.",
            "The feed processing state is publishing.",
            "The feed processing state is published successfully.",
            "The feed processing state is published with failure."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "FEED_PROCESSING_STATE_UNKNOWN",
            "CANCELLED",
            "INGESTING_QUEUED",
            "INGESTING",
            "INGESTED_SUCCESS",
            "INGESTED_FAILURE",
            "REQUEST_TO_PUBLISH",
            "PUBLISHING",
            "PUBLISHED_SUCCESS",
            "PUBLISHED_FAILURE"
          ]
        }
      },
      "type": "object"
    },
    "ConversionsBatchInsertResponse": {
      "description": "Insert Conversions Response.",
      "type": "object",
      "id": "ConversionsBatchInsertResponse",
      "properties": {
        "hasFailures": {
          "type": "boolean",
          "description": "Indicates that some or all conversions failed to insert."
        },
        "status": {
          "items": {
            "$ref": "ConversionStatus"
          },
          "description": "The insert status of each conversion. Statuses are returned in the same order that conversions are inserted.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchInsertResponse\"."
        }
      }
    },
    "UserIdentifier": {
      "description": "User identifying information. Exactly one type of identifier must be specified.",
      "id": "UserIdentifier",
      "type": "object",
      "properties": {
        "hashedEmail": {
          "type": "string",
          "description": "Hashed email address using SHA-256 hash function after normalization."
        },
        "addressInfo": {
          "description": "Address information.",
          "$ref": "OfflineUserAddressInfo"
        },
        "hashedPhoneNumber": {
          "description": "Hashed phone number using SHA-256 hash function after normalization (E164 standard).",
          "type": "string"
        }
      }
    },
    "CreativeFieldAssignment": {
      "description": "Creative Field Assignment.",
      "type": "object",
      "properties": {
        "creativeFieldId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the creative field."
        },
        "creativeFieldValueId": {
          "description": "ID of the creative field value.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "CreativeFieldAssignment"
    },
    "FloodlightActivity": {
      "properties": {
        "floodlightActivityGroupId": {
          "type": "string",
          "format": "int64",
          "description": "Floodlight activity group ID of this floodlight activity. This is a required field."
        },
        "advertiserId": {
          "description": "Advertiser ID of this floodlight activity. If this field is left blank, the value will be copied over either from the activity group's advertiser or the existing activity's advertiser.",
          "format": "int64",
          "type": "string"
        },
        "floodlightActivityGroupType": {
          "enum": [
            "COUNTER",
            "SALE"
          ],
          "type": "string",
          "description": "Type of the associated floodlight activity group. This is a read-only field.",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "cacheBustingType": {
          "enum": [
            "JAVASCRIPT",
            "ACTIVE_SERVER_PAGE",
            "JSP",
            "PHP",
            "COLD_FUSION"
          ],
          "description": "Code type used for cache busting in the generated tag. Applicable only when floodlightActivityGroupType is COUNTER and countingMethod is STANDARD_COUNTING or UNIQUE_COUNTING.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this floodlight activity. This is a required field. Must be less than 129 characters long and cannot contain quotes."
        },
        "sslRequired": {
          "description": "Whether this floodlight activity must be SSL-compliant.",
          "type": "boolean"
        },
        "floodlightActivityGroupTagString": {
          "description": "Tag string of the associated floodlight activity group. This is a read-only field.",
          "type": "string"
        },
        "secure": {
          "description": "Whether this tag should use SSL.",
          "type": "boolean"
        },
        "sslCompliant": {
          "description": "Whether the floodlight activity is SSL-compliant. This is a read-only field, its value detected by the system from the floodlight tags.",
          "type": "boolean"
        },
        "publisherTags": {
          "items": {
            "$ref": "FloodlightActivityPublisherDynamicTag"
          },
          "description": "Publisher dynamic floodlight tags.",
          "type": "array"
        },
        "tagFormat": {
          "type": "string",
          "description": "Tag format type for the floodlight activity. If left blank, the tag format will default to HTML.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "HTML",
            "XHTML"
          ]
        },
        "attributionEnabled": {
          "description": "Whether the activity is enabled for attribution.",
          "type": "boolean"
        },
        "conversionCategory": {
          "enum": [
            "CONVERSION_CATEGORY_DEFAULT",
            "CONVERSION_CATEGORY_PURCHASE",
            "CONVERSION_CATEGORY_SIGNUP",
            "CONVERSION_CATEGORY_PAGE_VIEW",
            "CONVERSION_CATEGORY_DOWNLOAD",
            "CONVERSION_CATEGORY_ADD_TO_CART",
            "CONVERSION_CATEGORY_BEGIN_CHECKOUT",
            "CONVERSION_CATEGORY_SUBSCRIBE_PAID",
            "CONVERSION_CATEGORY_SUBMIT_LEAD_FORM",
            "CONVERSION_CATEGORY_BOOK_APPOINTMENT",
            "CONVERSION_CATEGORY_REQUEST_QUOTE",
            "CONVERSION_CATEGORY_GET_DIRECTIONS",
            "CONVERSION_CATEGORY_OUTBOUND_CLICK",
            "CONVERSION_CATEGORY_CONTACT",
            "CONVERSION_CATEGORY_QUALIFIED_LEAD",
            "CONVERSION_CATEGORY_CONVERTED_LEAD",
            "CONVERSION_CATEGORY_IN_APP_AD_REVENUE"
          ],
          "enumDescriptions": [
            "Unspecified category (called \"Other\" externally).",
            "Purchase, sales, or \"order placed\" event.",
            "Signup user action.",
            "User visiting a page.",
            "Software download action (as for an app). A conversion type that is created as a download type may not have its category changed.",
            ". The addition of items to a shopping cart or bag on an advertiser site.",
            "When someone enters the checkout flow on an advertiser site.",
            "The start of a paid subscription for a product or service.",
            "A submission of a form on an advertiser site indicating business interest.",
            "A booking of an appointment with an advertiser's business.",
            "A quote or price estimate request.",
            "A search for an advertiser's business location.",
            "A click to an advertiser's partner site, e.g. a referral.",
            "A call, SMS, email, chat or other type of contact to an advertiser.",
            "A lead conversion imported from an external source into Google Ads, that has been further qualified by the advertiser.",
            "A lead conversion imported from an external source into Google Ads, that has further completed a desired stage as defined by the lead gen advertiser.",
            "Conversion event that provides the revenue value of impressions that were shown in-app to users."
          ],
          "description": "Required. The conversion category of the activity.",
          "type": "string"
        },
        "status": {
          "description": "The status of the activity. This can only be set to ACTIVE or ARCHIVED_AND_DISABLED. The ARCHIVED status is no longer supported and cannot be set for Floodlight activities. The DISABLED_POLICY status indicates that a Floodlight activity is violating Google policy. Contact your account manager for more information.",
          "type": "string",
          "enum": [
            "ACTIVE",
            "ARCHIVED_AND_DISABLED",
            "ARCHIVED",
            "DISABLED_POLICY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "floodlightConfigurationId": {
          "format": "int64",
          "type": "string",
          "description": "Floodlight configuration ID of this floodlight activity. If this field is left blank, the value will be copied over either from the activity group's floodlight configuration or from the existing activity's floodlight configuration."
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this floodlight activity. This is a read-only field that can be left blank."
        },
        "notes": {
          "type": "string",
          "description": "General notes or implementation instructions for the tag."
        },
        "defaultTags": {
          "type": "array",
          "items": {
            "$ref": "FloodlightActivityDynamicTag"
          },
          "description": "Dynamic floodlight tags."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivity\".",
          "type": "string"
        },
        "floodlightTagType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The type of Floodlight tag this activity will generate. This is a required field.",
          "enum": [
            "IFRAME",
            "IMAGE",
            "GLOBAL_SITE_TAG"
          ]
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "subaccountId": {
          "format": "int64",
          "type": "string",
          "description": "Subaccount ID of this floodlight activity. This is a read-only field that can be left blank."
        },
        "expectedUrl": {
          "type": "string",
          "description": "URL where this tag will be deployed. If specified, must be less than 256 characters long."
        },
        "tagString": {
          "description": "Value of the cat= parameter in the floodlight tag, which the ad servers use to identify the activity. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activities of the same activity group. This field is read-only after insertion.",
          "type": "string"
        },
        "floodlightActivityGroupName": {
          "description": "Name of the associated floodlight activity group. This is a read-only field.",
          "type": "string"
        },
        "id": {
          "description": "ID of this floodlight activity. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "countingMethod": {
          "enumDescriptions": [
            "Count every conversion.",
            "Count the first conversion for each unique user during each 24-hour day, from midnight to midnight, Eastern Time.",
            "Count one conversion per user per session. Session length is set by the site where the Spotlight tag is deployed.",
            "Count all conversions, plus the total number of sales that take place and the total revenue for these transactions.",
            "Count each conversion, plus the total number of items sold and the total revenue for these sales."
          ],
          "enum": [
            "STANDARD_COUNTING",
            "UNIQUE_COUNTING",
            "SESSION_COUNTING",
            "TRANSACTIONS_COUNTING",
            "ITEMS_SOLD_COUNTING"
          ],
          "description": "Counting method for conversions for this floodlight activity. This is a required field.",
          "type": "string"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this floodlight activity. This is a read-only, auto-generated field."
        },
        "userDefinedVariableTypes": {
          "items": {
            "enum": [
              "U1",
              "U2",
              "U3",
              "U4",
              "U5",
              "U6",
              "U7",
              "U8",
              "U9",
              "U10",
              "U11",
              "U12",
              "U13",
              "U14",
              "U15",
              "U16",
              "U17",
              "U18",
              "U19",
              "U20",
              "U21",
              "U22",
              "U23",
              "U24",
              "U25",
              "U26",
              "U27",
              "U28",
              "U29",
              "U30",
              "U31",
              "U32",
              "U33",
              "U34",
              "U35",
              "U36",
              "U37",
              "U38",
              "U39",
              "U40",
              "U41",
              "U42",
              "U43",
              "U44",
              "U45",
              "U46",
              "U47",
              "U48",
              "U49",
              "U50",
              "U51",
              "U52",
              "U53",
              "U54",
              "U55",
              "U56",
              "U57",
              "U58",
              "U59",
              "U60",
              "U61",
              "U62",
              "U63",
              "U64",
              "U65",
              "U66",
              "U67",
              "U68",
              "U69",
              "U70",
              "U71",
              "U72",
              "U73",
              "U74",
              "U75",
              "U76",
              "U77",
              "U78",
              "U79",
              "U80",
              "U81",
              "U82",
              "U83",
              "U84",
              "U85",
              "U86",
              "U87",
              "U88",
              "U89",
              "U90",
              "U91",
              "U92",
              "U93",
              "U94",
              "U95",
              "U96",
              "U97",
              "U98",
              "U99",
              "U100"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          },
          "type": "array",
          "description": "List of the user-defined variables used by this conversion tag. These map to the \"u[1-100]=\" in the tags. Each of these can have a user defined type. Acceptable values are U1 to U100, inclusive. "
        }
      },
      "id": "FloodlightActivity",
      "description": "Contains properties of a Floodlight activity.",
      "type": "object"
    },
    "TvCampaignSummariesListResponse": {
      "id": "TvCampaignSummariesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummariesListResponse\".",
          "type": "string"
        },
        "tvCampaignSummaries": {
          "type": "array",
          "description": "List of TV campaign summaries.",
          "items": {
            "$ref": "TvCampaignSummary"
          }
        }
      },
      "type": "object",
      "description": "Response message for TvCampaignSummariesService.List."
    },
    "MeasurementPartnerAdvertiserLink": {
      "type": "object",
      "id": "MeasurementPartnerAdvertiserLink",
      "properties": {
        "linkStatus": {
          "type": "string",
          "description": "Status of the partner link.",
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ],
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ]
        },
        "measurementPartner": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "type": "string",
          "description": "Measurement partner used for tag wrapping."
        },
        "partnerAdvertiserId": {
          "description": "partner Advertiser Id.",
          "type": "string"
        }
      }
    },
    "DynamicFeed": {
      "type": "object",
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains dynamic feed information.",
      "id": "DynamicFeed",
      "properties": {
        "element": {
          "$ref": "Element",
          "description": "Required. The element of the dynamic feed that is to specify the schema of the feed. This is a required field."
        },
        "createInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Output only. The creation timestamp of the dynamic feed. This is a read-only field.",
          "readOnly": true
        },
        "feedSchedule": {
          "description": "Optional. The schedule of the dynamic feed. It can be set if the feed is published.",
          "$ref": "FeedSchedule"
        },
        "lastModifiedInfo": {
          "description": "Output only. The last modified timestamp of the dynamic feed. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "studioAdvertiserId": {
          "format": "int64",
          "type": "string",
          "description": "Required. Advertiser ID of this dynamic feed. This is a required field."
        },
        "hasPublished": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the dynamic feed has a published version. This is a read-only field."
        },
        "status": {
          "description": "Output only. The status of the feed. It is a read-only field that depends on the the feed ingestion status. The default value is INACTIVE, and it will be updated to ACTIVE once the feed is ingested successfully.",
          "enum": [
            "STATUS_UNKNOWN",
            "ACTIVE",
            "INACTIVE",
            "DELETED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The status is unknown.",
            "The feedstatus is active.",
            "The feed status is inactive.",
            "The feed status is deleted."
          ]
        },
        "contentSource": {
          "description": "Required. The content source of the dynamic feed. This is a required field.",
          "$ref": "ContentSource"
        },
        "dynamicFeedId": {
          "type": "string",
          "description": "Output only. Unique ID of this dynamic feed. This is a read-only, auto-generated field.",
          "format": "int64",
          "readOnly": true
        },
        "dynamicFeedName": {
          "description": "Optional. Name of this dynamic feed. It is defaulted to content source file name if not provided.",
          "type": "string"
        },
        "feedIngestionStatus": {
          "readOnly": true,
          "description": "Output only. The ingestion status of the dynamic feed. This is a read-only field.",
          "$ref": "FeedIngestionStatus"
        }
      }
    },
    "FloodlightActivityDynamicTag": {
      "description": "Dynamic Tag",
      "id": "FloodlightActivityDynamicTag",
      "properties": {
        "tag": {
          "description": "Tag code.",
          "type": "string"
        },
        "id": {
          "description": "ID of this dynamic tag. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of this tag.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BrowsersListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#browsersListResponse\"."
        },
        "browsers": {
          "items": {
            "$ref": "Browser"
          },
          "description": "Browser collection.",
          "type": "array"
        }
      },
      "description": "Browser List Response",
      "id": "BrowsersListResponse",
      "type": "object"
    },
    "Account": {
      "description": "Contains properties of a Campaign Manager account.",
      "type": "object",
      "properties": {
        "reportsConfiguration": {
          "$ref": "ReportsConfiguration",
          "description": "Reporting configuration of this account."
        },
        "activeAdsLimitTier": {
          "description": "Maximum number of active ads allowed for this account.",
          "enum": [
            "ACTIVE_ADS_TIER_40K",
            "ACTIVE_ADS_TIER_75K",
            "ACTIVE_ADS_TIER_100K",
            "ACTIVE_ADS_TIER_200K",
            "ACTIVE_ADS_TIER_300K",
            "ACTIVE_ADS_TIER_500K",
            "ACTIVE_ADS_TIER_750K",
            "ACTIVE_ADS_TIER_1M"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "active": {
          "description": "Whether this account is active.",
          "type": "boolean"
        },
        "currencyId": {
          "type": "string",
          "format": "int64",
          "description": "ID of currency associated with this account. This is a required field. Acceptable values are: - \"1\" for USD - \"2\" for GBP - \"3\" for ESP - \"4\" for SEK - \"5\" for CAD - \"6\" for JPY - \"7\" for DEM - \"8\" for AUD - \"9\" for FRF - \"10\" for ITL - \"11\" for DKK - \"12\" for NOK - \"13\" for FIM - \"14\" for ZAR - \"15\" for IEP - \"16\" for NLG - \"17\" for EUR - \"18\" for KRW - \"19\" for TWD - \"20\" for SGD - \"21\" for CNY - \"22\" for HKD - \"23\" for NZD - \"24\" for MYR - \"25\" for BRL - \"26\" for PTE - \"28\" for CLP - \"29\" for TRY - \"30\" for ARS - \"31\" for PEN - \"32\" for ILS - \"33\" for CHF - \"34\" for VEF - \"35\" for COP - \"36\" for GTQ - \"37\" for PLN - \"39\" for INR - \"40\" for THB - \"41\" for IDR - \"42\" for CZK - \"43\" for RON - \"44\" for HUF - \"45\" for RUB - \"46\" for AED - \"47\" for BGN - \"48\" for HRK - \"49\" for MXN - \"50\" for NGN - \"51\" for EGP "
        },
        "activeViewOptOut": {
          "type": "boolean",
          "description": "Whether to serve creatives with Active View tags. If disabled, viewability data will not be available for any impressions."
        },
        "nielsenOcrEnabled": {
          "type": "boolean",
          "description": "Whether campaigns created in this account will be enabled for Nielsen OCR reach ratings by default."
        },
        "id": {
          "format": "int64",
          "description": "ID of this account. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "teaserSizeLimit": {
          "type": "string",
          "format": "int64",
          "description": "File size limit in kilobytes of Rich Media teaser creatives. Acceptable values are 1 to 10240, inclusive."
        },
        "countryId": {
          "format": "int64",
          "description": "ID of the country associated with this account.",
          "type": "string"
        },
        "availablePermissionIds": {
          "type": "array",
          "description": "User role permissions available to the user roles of this account.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "description": {
          "description": "Description of this account.",
          "type": "string"
        },
        "defaultCreativeSizeId": {
          "format": "int64",
          "description": "Default placement dimensions for this account.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this account. This is a required field, and must be less than 128 characters long and be globally unique."
        },
        "maximumImageSize": {
          "description": "Maximum image size allowed for this account, in kilobytes. Value must be greater than or equal to 1.",
          "type": "string",
          "format": "int64"
        },
        "shareReportsWithTwitter": {
          "type": "boolean",
          "description": "Share Path to Conversion reports with Twitter."
        },
        "locale": {
          "description": "Locale of this account. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) ",
          "type": "string"
        },
        "accountProfile": {
          "enum": [
            "ACCOUNT_PROFILE_BASIC",
            "ACCOUNT_PROFILE_STANDARD"
          ],
          "description": "Profile for this account. This is a read-only field that can be left blank.",
          "enumDescriptions": [
            "Basic profile has fewer features and lower CPM.",
            "Standard profile as a higher CPM and all the features."
          ],
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#account\".",
          "type": "string"
        },
        "accountPermissionIds": {
          "type": "array",
          "description": "Account permissions assigned to this account.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "id": "Account"
    },
    "FloodlightActivityGroup": {
      "id": "FloodlightActivityGroup",
      "description": "Contains properties of a Floodlight activity group.",
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Account ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "id": {
          "description": "ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "tagString": {
          "description": "Value of the type= parameter in the floodlight tag, which the ad servers use to identify the activity group that the activity belongs to. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activity groups of the same floodlight configuration. This field is read-only after insertion.",
          "type": "string"
        },
        "floodlightConfigurationId": {
          "description": "Floodlight configuration ID of this floodlight activity group. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of this floodlight activity group. This is a read-only field that can be left blank."
        },
        "name": {
          "type": "string",
          "description": "Name of this floodlight activity group. This is a required field. Must be less than 65 characters long and cannot contain quotes."
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "type": {
          "description": "Type of the floodlight activity group. This is a required field that is read-only after insertion.",
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "COUNTER",
            "SALE"
          ]
        },
        "advertiserId": {
          "description": "Advertiser ID of this floodlight activity group. If this field is left blank, the value will be copied over either from the floodlight configuration's advertiser or from the existing activity group's advertiser.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroup\"."
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this floodlight activity group. This is a read-only, auto-generated field."
        }
      }
    },
    "SubaccountsListResponse": {
      "type": "object",
      "description": "Subaccount List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccountsListResponse\".",
          "type": "string"
        },
        "subaccounts": {
          "items": {
            "$ref": "Subaccount"
          },
          "type": "array",
          "description": "Subaccount collection."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        }
      },
      "id": "SubaccountsListResponse"
    },
    "CreativeFieldsListResponse": {
      "description": "Creative Field List Response",
      "id": "CreativeFieldsListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldsListResponse\"."
        },
        "creativeFields": {
          "description": "Creative field collection.",
          "items": {
            "$ref": "CreativeField"
          },
          "type": "array"
        }
      }
    },
    "OffsetPosition": {
      "id": "OffsetPosition",
      "properties": {
        "top": {
          "format": "int32",
          "type": "integer",
          "description": "Offset distance from top side of an asset or a window."
        },
        "left": {
          "format": "int32",
          "description": "Offset distance from left side of an asset or a window.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Offset Position."
    },
    "CustomViewabilityMetricConfiguration": {
      "id": "CustomViewabilityMetricConfiguration",
      "description": "The attributes, like playtime and percent onscreen, that define the Custom Viewability Metric.",
      "type": "object",
      "properties": {
        "audible": {
          "type": "boolean",
          "description": "Whether the video must be audible to count an impression."
        },
        "timePercent": {
          "format": "int32",
          "description": "The percentage of video that must play for the Custom Viewability Metric to count an impression. If both this and timeMillis are specified, the earlier of the two will be used.",
          "type": "integer"
        },
        "timeMillis": {
          "type": "integer",
          "description": "The time in milliseconds the video must play for the Custom Viewability Metric to count an impression. If both this and timePercent are specified, the earlier of the two will be used.",
          "format": "int32"
        },
        "viewabilityPercent": {
          "description": "The percentage of video that must be on screen for the Custom Viewability Metric to count an impression.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ListPopulationRule": {
      "type": "object",
      "id": "ListPopulationRule",
      "properties": {
        "listPopulationClauses": {
          "description": "Clauses that make up this list population rule. Clauses are joined by ANDs, and the clauses themselves are made up of list population terms which are joined by ORs.",
          "items": {
            "$ref": "ListPopulationClause"
          },
          "type": "array"
        },
        "floodlightActivityId": {
          "format": "int64",
          "type": "string",
          "description": "Floodlight activity ID associated with this rule. This field can be left blank."
        },
        "floodlightActivityName": {
          "description": "Name of floodlight activity associated with this rule. This is a read-only, auto-generated field.",
          "type": "string"
        }
      },
      "description": "Remarketing List Population Rule."
    },
    "DependentFieldValue": {
      "properties": {
        "elementId": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The ID of the element that value's field will match against."
        },
        "fieldId": {
          "description": "Optional. The field id of the dependent field.",
          "type": "integer",
          "format": "int32"
        },
        "dynamicFeedId": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The ID of the dynamic feed that value's field will match against."
        }
      },
      "type": "object",
      "id": "DependentFieldValue",
      "description": "Contains dependent field value information."
    },
    "PostalCode": {
      "id": "PostalCode",
      "properties": {
        "code": {
          "description": "Postal code. This is equivalent to the id field.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#postalCode\"."
        },
        "countryDartId": {
          "type": "string",
          "description": "DART ID of the country to which this postal code belongs.",
          "format": "int64"
        },
        "countryCode": {
          "description": "Country code of the country to which this postal code belongs.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this postal code."
        }
      },
      "description": "Contains information about a postal code that can be targeted by ads.",
      "type": "object"
    },
    "UserProfile": {
      "properties": {
        "accountId": {
          "description": "The account ID to which this profile belongs.",
          "format": "int64",
          "type": "string"
        },
        "subAccountId": {
          "type": "string",
          "description": "The sub account ID this profile belongs to if applicable.",
          "format": "int64"
        },
        "userName": {
          "description": "The user name.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "profileId": {
          "format": "int64",
          "type": "string",
          "description": "The unique ID of the user profile."
        },
        "subAccountName": {
          "type": "string",
          "description": "The sub account name this profile belongs to if applicable."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userProfile\".",
          "type": "string"
        },
        "accountName": {
          "description": "The account name this profile belongs to.",
          "type": "string"
        }
      },
      "id": "UserProfile",
      "type": "object",
      "description": "A UserProfile resource lets you list all DFA user profiles that are associated with a Google user account. The profile_id needs to be specified in other API requests. "
    },
    "PlacementsListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "placements": {
          "items": {
            "$ref": "Placement"
          },
          "description": "Placement collection.",
          "type": "array"
        }
      },
      "description": "Placement List Response",
      "type": "object",
      "id": "PlacementsListResponse"
    },
    "TagSetting": {
      "description": "Tag Settings",
      "id": "TagSetting",
      "properties": {
        "includeUnescapedlpurlMacro": {
          "description": "Optional. Indicates that the unescapedlpurl macro should be included in the tag for the static landing page. New placements will default to the value set on their site.",
          "type": "boolean"
        },
        "additionalKeyValues": {
          "type": "string",
          "description": "Additional key-values to be included in tags. Each key-value pair must be of the form key=value, and pairs must be separated by a semicolon (;). Keys and values must not contain commas. For example, id=2;color=red is a valid value for this field."
        },
        "includeClickTracking": {
          "type": "boolean",
          "description": "Whether click-tracking string should be included in the tags."
        },
        "includeClickThroughUrls": {
          "description": "Whether static landing page URLs should be included in the tags. New placements will default to the value set on their site.",
          "type": "boolean"
        },
        "keywordOption": {
          "type": "string",
          "description": "Option specifying how keywords are embedded in ad tags. This setting can be used to specify whether keyword placeholders are inserted in placement tags for this site. Publishers can then add keywords to those placeholders.",
          "enumDescriptions": [
            "Creates DART ad tags with a placeholder, such as kw=[keyword] and a list of keywords. The site trafficker must replace [keyword] with the keywords targeted by an ad.",
            "Creates DART ad tags that do not have a placeholder for keywords and creates a list of keywords separately from the DART ad tags. Use this option if the site uses a keyword referrer or is a site that uses DART for Publishers.",
            "Results in unique tag generation for each relevant keyword during tag export. For example, an ad with three keywords will generate three tags with each tag having its kw= parameter filled in with the relevant keyword values."
          ],
          "enum": [
            "PLACEHOLDER_WITH_LIST_OF_KEYWORDS",
            "IGNORE",
            "GENERATE_SEPARATE_TAG_FOR_EACH_KEYWORD"
          ]
        }
      },
      "type": "object"
    },
    "ContentCategory": {
      "properties": {
        "name": {
          "description": "Name of this content category. This is a required field and must be less than 256 characters long and unique among content categories of the same account.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategory\".",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this content category. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "id": {
          "format": "int64",
          "description": "ID of this content category. This is a read-only, auto-generated field.",
          "type": "string"
        }
      },
      "id": "ContentCategory",
      "type": "object"
    },
    "PlacementGroupsListResponse": {
      "id": "PlacementGroupsListResponse",
      "properties": {
        "placementGroups": {
          "type": "array",
          "description": "Placement group collection.",
          "items": {
            "$ref": "PlacementGroup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroupsListResponse\"."
        }
      },
      "type": "object",
      "description": "Placement Group List Response"
    },
    "LookbackConfiguration": {
      "id": "LookbackConfiguration",
      "description": "Lookback configuration settings.",
      "properties": {
        "clickDuration": {
          "format": "int32",
          "type": "integer",
          "description": "Lookback window, in days, from the last time a given user clicked on one of your ads. If you enter 0, clicks will not be considered as triggering events for floodlight tracking. If you leave this field blank, the default value for your account will be used. Acceptable values are 0 to 90, inclusive."
        },
        "postImpressionActivitiesDuration": {
          "format": "int32",
          "type": "integer",
          "description": "Lookback window, in days, from the last time a given user viewed one of your ads. If you enter 0, impressions will not be considered as triggering events for floodlight tracking. If you leave this field blank, the default value for your account will be used. Acceptable values are 0 to 90, inclusive."
        }
      },
      "type": "object"
    },
    "City": {
      "id": "City",
      "properties": {
        "countryCode": {
          "description": "Country code of the country to which this city belongs.",
          "type": "string"
        },
        "metroCode": {
          "type": "string",
          "description": "Metro region code of the metro region (DMA) to which this city belongs."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#city\".",
          "type": "string"
        },
        "countryDartId": {
          "type": "string",
          "description": "DART ID of the country to which this city belongs.",
          "format": "int64"
        },
        "regionDartId": {
          "format": "int64",
          "description": "DART ID of the region to which this city belongs.",
          "type": "string"
        },
        "name": {
          "description": "Name of this city.",
          "type": "string"
        },
        "metroDmaId": {
          "type": "string",
          "description": "ID of the metro region (DMA) to which this city belongs.",
          "format": "int64"
        },
        "dartId": {
          "description": "DART ID of this city. This is the ID used for targeting and generating reports.",
          "type": "string",
          "format": "int64"
        },
        "regionCode": {
          "description": "Region code of the region to which this city belongs.",
          "type": "string"
        }
      },
      "description": "Contains information about a city that can be targeted by ads.",
      "type": "object"
    },
    "ProximityFilter": {
      "id": "ProximityFilter",
      "properties": {
        "radiusValue": {
          "format": "int32",
          "description": "Optional. Radius length in units defined by radius_units.",
          "type": "integer"
        },
        "radiusBucketType": {
          "enum": [
            "RADIUS_BUCKET_TYPE_UNKNOWN",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "MULTI_REGIONAL",
            "NATIONAL"
          ],
          "description": "Optional. The radius bucket type of the proximity filter",
          "enumDescriptions": [
            "The radius bucket type is unknown.",
            "The radius bucket type is small.",
            "The radius bucket type is medium.",
            "The radius bucket type is large.",
            "The radius bucket type is multi-regional.",
            "The radius bucket type is national."
          ],
          "type": "string"
        },
        "radiusUnitType": {
          "description": "Optional. The units of the radius value",
          "enumDescriptions": [
            "The units of the radius value are unknown. This value is unused.",
            "The units of the radius value are kilometers.",
            "The units of the radius value are miles."
          ],
          "enum": [
            "RADIUS_UNIT_TYPE_UNKNOWN",
            "KILOMETERS",
            "MILES"
          ],
          "type": "string"
        },
        "fieldId": {
          "description": "Optional. Field ID in the element.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Contains proximity filter information."
    },
    "OperatingSystemsListResponse": {
      "id": "OperatingSystemsListResponse",
      "type": "object",
      "properties": {
        "operatingSystems": {
          "items": {
            "$ref": "OperatingSystem"
          },
          "type": "array",
          "description": "Operating system collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemsListResponse\"."
        }
      },
      "description": "Operating System List Response"
    },
    "TvCampaignDetail": {
      "type": "object",
      "description": "TvCampaignDetail contains data from a TV campaign for specific start dates and date windows.",
      "properties": {
        "id": {
          "description": "ID of this TV campaign.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummary\".",
          "type": "string"
        },
        "timepoints": {
          "description": "The timepoints of the TV campaign.",
          "type": "array",
          "items": {
            "$ref": "TvCampaignTimepoint"
          }
        }
      },
      "id": "TvCampaignDetail"
    },
    "DefaultClickThroughEventTagProperties": {
      "type": "object",
      "properties": {
        "defaultClickThroughEventTagId": {
          "description": "ID of the click-through event tag to apply to all ads in this entity's scope.",
          "type": "string",
          "format": "int64"
        },
        "overrideInheritedEventTag": {
          "description": "Whether this entity should override the inherited default click-through event tag with its own defined value.",
          "type": "boolean"
        }
      },
      "description": "Properties of inheriting and overriding the default click-through event tag. A campaign may override the event tag defined at the advertiser level, and an ad may also override the campaign's setting further.",
      "id": "DefaultClickThroughEventTagProperties"
    },
    "CreativeFieldValue": {
      "id": "CreativeFieldValue",
      "type": "object",
      "description": "Contains properties of a creative field value.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of this creative field value. It needs to be less than 256 characters in length and unique per creative field."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldValue\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this creative field value. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "BillingRatesListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingRatesListResponse\"."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "billingRates": {
          "description": "Billing rates collection.",
          "items": {
            "$ref": "BillingRate"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "BillingRatesListResponse",
      "description": "Billing Rate List Response"
    },
    "CustomRichMediaEvents": {
      "type": "object",
      "description": "Represents a Custom Rich Media Events group.",
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#customRichMediaEvents.",
          "type": "string"
        },
        "filteredEventIds": {
          "type": "array",
          "description": "List of custom rich media event IDs. Dimension values must be all of type dfa:richMediaEventTypeIdAndName.",
          "items": {
            "$ref": "DimensionValue"
          }
        }
      },
      "id": "CustomRichMediaEvents"
    },
    "CampaignsListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignsListResponse\"."
        },
        "campaigns": {
          "items": {
            "$ref": "Campaign"
          },
          "type": "array",
          "description": "Campaign collection."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        }
      },
      "id": "CampaignsListResponse",
      "type": "object",
      "description": "Campaign List Response"
    },
    "BillingAssignmentsListResponse": {
      "description": "Billing assignment List Response",
      "id": "BillingAssignmentsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignmentsListResponse\"."
        },
        "billingAssignments": {
          "type": "array",
          "items": {
            "$ref": "BillingAssignment"
          },
          "description": "Billing assignments collection."
        }
      }
    },
    "PlatformType": {
      "description": "Contains information about a platform type that can be targeted by ads.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of this platform type.",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#platformType\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this platform type.",
          "type": "string"
        }
      },
      "id": "PlatformType"
    },
    "CreativeOptimizationConfiguration": {
      "id": "CreativeOptimizationConfiguration",
      "properties": {
        "optimizationModel": {
          "enum": [
            "CLICK",
            "POST_CLICK",
            "POST_IMPRESSION",
            "POST_CLICK_AND_IMPRESSION",
            "VIDEO_COMPLETION"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Optimization model for this configuration."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this creative optimization config. This field is auto-generated when the campaign is inserted or updated. It can be null for existing campaigns."
        },
        "optimizationActivitys": {
          "description": "List of optimization activities associated with this configuration.",
          "type": "array",
          "items": {
            "$ref": "OptimizationActivity"
          }
        },
        "name": {
          "description": "Name of this creative optimization config. This is a required field and must be less than 129 characters long.",
          "type": "string"
        }
      },
      "description": "Creative optimization settings.",
      "type": "object"
    },
    "Subaccount": {
      "properties": {
        "availablePermissionIds": {
          "description": "IDs of the available user role permissions for this subaccount.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "name": {
          "description": "Name of this subaccount. This is a required field. Must be less than 128 characters long and be unique among subaccounts of the same account.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the account that contains this subaccount. This is a read-only field that can be left blank."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this subaccount. This is a read-only, auto-generated field."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccount\"."
        }
      },
      "description": "Contains properties of a Campaign Manager subaccount.",
      "type": "object",
      "id": "Subaccount"
    },
    "CustomFloodlightVariable": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of the custom floodlight variable. The length of string must not exceed 100 characters.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#customFloodlightVariable\"."
        },
        "type": {
          "description": "The type of custom floodlight variable to supply a value for. These map to the \"u[1-100]=\" in the tags.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "U1",
            "U2",
            "U3",
            "U4",
            "U5",
            "U6",
            "U7",
            "U8",
            "U9",
            "U10",
            "U11",
            "U12",
            "U13",
            "U14",
            "U15",
            "U16",
            "U17",
            "U18",
            "U19",
            "U20",
            "U21",
            "U22",
            "U23",
            "U24",
            "U25",
            "U26",
            "U27",
            "U28",
            "U29",
            "U30",
            "U31",
            "U32",
            "U33",
            "U34",
            "U35",
            "U36",
            "U37",
            "U38",
            "U39",
            "U40",
            "U41",
            "U42",
            "U43",
            "U44",
            "U45",
            "U46",
            "U47",
            "U48",
            "U49",
            "U50",
            "U51",
            "U52",
            "U53",
            "U54",
            "U55",
            "U56",
            "U57",
            "U58",
            "U59",
            "U60",
            "U61",
            "U62",
            "U63",
            "U64",
            "U65",
            "U66",
            "U67",
            "U68",
            "U69",
            "U70",
            "U71",
            "U72",
            "U73",
            "U74",
            "U75",
            "U76",
            "U77",
            "U78",
            "U79",
            "U80",
            "U81",
            "U82",
            "U83",
            "U84",
            "U85",
            "U86",
            "U87",
            "U88",
            "U89",
            "U90",
            "U91",
            "U92",
            "U93",
            "U94",
            "U95",
            "U96",
            "U97",
            "U98",
            "U99",
            "U100"
          ]
        }
      },
      "description": "A custom floodlight variable. Can be used in both batchinsert and batchupdate. Adding this in batchupdate will update or append the variable to the existing list.",
      "id": "CustomFloodlightVariable"
    },
    "BillingRateTieredRate": {
      "properties": {
        "rateInMicros": {
          "description": "Rate in micros for this tier.",
          "format": "int64",
          "type": "string"
        },
        "lowValue": {
          "type": "string",
          "format": "int64",
          "description": "The minimum for this tier range."
        },
        "highValue": {
          "description": "The maximum for this tier range.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "BillingRateTieredRate"
    },
    "DynamicProfileVersion": {
      "properties": {
        "versionId": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Version ID of this dynamic profile version. This is a read-only, auto-generated field. -1 for draft version, 0+ for published versions.",
          "readOnly": true
        },
        "dynamicProfileFeedSettings": {
          "description": "Optional. Associated dynamic feeds and their settings (including dynamic rules) for this dynamic profile version.",
          "items": {
            "$ref": "DynamicProfileFeedSettings"
          },
          "type": "array"
        }
      },
      "description": "Contains dynamic profile version information.",
      "id": "DynamicProfileVersion",
      "type": "object"
    },
    "TagSettings": {
      "id": "TagSettings",
      "properties": {
        "imageTagEnabled": {
          "type": "boolean",
          "description": "Whether image tags are enabled."
        },
        "dynamicTagEnabled": {
          "type": "boolean",
          "description": "Whether dynamic floodlight tags are enabled."
        }
      },
      "description": "Dynamic and Image Tag Settings.",
      "type": "object"
    },
    "ThirdPartyTrackingUrl": {
      "id": "ThirdPartyTrackingUrl",
      "description": "Third-party Tracking URL.",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "URL for the specified third-party URL type."
        },
        "thirdPartyUrlType": {
          "type": "string",
          "description": "Third-party URL type for in-stream video and in-stream audio creatives.",
          "enumDescriptions": [
            "Used to count impressions of the ad after video buffering is complete.",
            "Used to track user clicks on the video.",
            "Used to track the number of times a user starts a video.",
            "Used to track the number of times the video plays to 25% of its length.",
            "Used to track the number of times the video plays to 50% of its length.",
            "Used to track the number of times the video plays to 75% of its length.",
            "Used to track the number of times the video plays to the end.",
            "Used to track the number of times a user mutes the video.",
            "Used to track the number of times a user pauses the video.",
            "Used to track the number of times a user replays the video.",
            "Used to track the number of times a user expands the video to full-screen size.",
            "Used to track the number of times a user stops the video.",
            "Used to track the number of times a user performs a custom click, such as clicking on a video hot spot.",
            "Used for DFA6 compatibility, this is deprecating in favor of event tags.",
            "Used by Studio RichMediaCreative, maps to its thirdPartyImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyRichMediaImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyBackupImageImpressionsUrl",
            "Used to track the number of times the video was skipped.",
            "Used to track the number of times the video plays to an offset determined by the user."
          ],
          "enum": [
            "IMPRESSION",
            "CLICK_TRACKING",
            "VIDEO_START",
            "VIDEO_FIRST_QUARTILE",
            "VIDEO_MIDPOINT",
            "VIDEO_THIRD_QUARTILE",
            "VIDEO_COMPLETE",
            "VIDEO_MUTE",
            "VIDEO_PAUSE",
            "VIDEO_REWIND",
            "VIDEO_FULLSCREEN",
            "VIDEO_STOP",
            "VIDEO_CUSTOM",
            "SURVEY",
            "RICH_MEDIA_IMPRESSION",
            "RICH_MEDIA_RM_IMPRESSION",
            "RICH_MEDIA_BACKUP_IMPRESSION",
            "VIDEO_SKIP",
            "VIDEO_PROGRESS"
          ]
        }
      }
    },
    "SiteSkippableSetting": {
      "type": "object",
      "properties": {
        "progressOffset": {
          "description": "Amount of time to play videos served to this site template before counting a view. Applicable when skippable is true.",
          "$ref": "VideoOffset"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteSkippableSetting\".",
          "type": "string"
        },
        "skipOffset": {
          "$ref": "VideoOffset",
          "description": "Amount of time to play videos served to this site before the skip button should appear. Applicable when skippable is true."
        },
        "skippable": {
          "type": "boolean",
          "description": "Whether the user can skip creatives served to this site. This will act as default for new placements created under this site."
        }
      },
      "description": "Skippable Settings",
      "id": "SiteSkippableSetting"
    },
    "DimensionFilter": {
      "id": "DimensionFilter",
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dimensionFilter.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value of the dimension to filter."
        },
        "dimensionName": {
          "type": "string",
          "description": "The name of the dimension to filter."
        }
      },
      "type": "object",
      "description": "Represents a dimension filter."
    },
    "MetrosListResponse": {
      "id": "MetrosListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metrosListResponse\"."
        },
        "metros": {
          "type": "array",
          "items": {
            "$ref": "Metro"
          },
          "description": "Metro collection."
        }
      },
      "description": "Metro List Response",
      "type": "object"
    },
    "Element": {
      "id": "Element",
      "type": "object",
      "description": "Contains the element of the dynamic feed.",
      "properties": {
        "reportingLabelFieldId": {
          "description": "Required. The field ID to specify the field used for dynamic reporting in Campaign Manager 360.",
          "type": "integer",
          "format": "int32"
        },
        "proximityTargetingFieldId": {
          "description": "Optional. The field ID that specify field used for proximity targeting.",
          "type": "integer",
          "format": "int32"
        },
        "activeFieldId": {
          "type": "integer",
          "description": "Optional. The field ID to specify the active field in the feed.",
          "format": "int32"
        },
        "startTimestampFieldId": {
          "type": "integer",
          "description": "Optional. The field ID to specify the field that represents the start timestamp. Only applicable if you're planning to use scheduling in your dynamic creative.",
          "format": "int32"
        },
        "elementName": {
          "type": "string",
          "description": "Optional. The name of the element. It is defaulted to resource file name if not provided."
        },
        "isLocalTimestamp": {
          "description": "Optional. Whether the start and end timestamp is local timestamp. The default value is false which means start and end timestamp is in UTC.",
          "type": "boolean"
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "readOnly": true,
          "description": "Output only. The last modified timestamp of the element. This is a read-only field."
        },
        "feedFields": {
          "items": {
            "$ref": "FeedField"
          },
          "description": "Required. The list of fields of the element. The field order and name should match the meta data in the content source source.",
          "type": "array"
        },
        "endTimestampFieldId": {
          "type": "integer",
          "description": "Optional. The field ID to specify the field that represents the end timestamp. Only applicable if you're planning to use scheduling in your dynamic creative.",
          "format": "int32"
        },
        "externalIdFieldId": {
          "type": "integer",
          "description": "Required. The field ID to specify the field used for uniquely identifying the feed row. This is a required field.",
          "format": "int32"
        },
        "defaultFieldId": {
          "format": "int32",
          "description": "Optional. The field ID to specify the field that represents the default field in the feed.",
          "type": "integer"
        },
        "createInfo": {
          "readOnly": true,
          "$ref": "LastModifiedInfo",
          "description": "Output only. The creation timestamp of the element. This is a read-only field."
        }
      }
    },
    "CreativeField": {
      "description": "Contains properties of a creative field.",
      "id": "CreativeField",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeField\".",
          "type": "string"
        },
        "advertiserId": {
          "description": "Advertiser ID of this creative field. This is a required field on insertion.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this creative field. This is a required field and must be less than 256 characters long and unique among creative fields of the same advertiser.",
          "type": "string"
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this creative field. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this creative field. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "ID of this creative field. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "type": "object"
    },
    "Country": {
      "properties": {
        "name": {
          "description": "Name of this country.",
          "type": "string"
        },
        "tvDataProviders": {
          "description": "Output only. The TV data providers supported in this country.",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "",
              "Allows populating multiple tvCampaignId filters and tvCampaignEndDate filter on the report.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "INVALID_TV_DATA_PROVIDER",
              "INTAGE_JP",
              "IBOPE_AR",
              "IBOPE_BR",
              "IBOPE_CL",
              "IBOPE_CO",
              "TNS_VN",
              "COMSCORE_NATIONAL_US",
              "COMSCORE_CA",
              "SAMBA_AU"
            ]
          },
          "type": "array"
        },
        "dartId": {
          "format": "int64",
          "type": "string",
          "description": "DART ID of this country. This is the ID used for targeting and generating reports."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#country\".",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code.",
          "type": "string"
        },
        "sslEnabled": {
          "description": "Whether ad serving supports secure servers in this country.",
          "type": "boolean"
        }
      },
      "id": "Country",
      "description": "Contains information about a country that can be targeted by ads.",
      "type": "object"
    },
    "ContentCategoriesListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategoriesListResponse\"."
        },
        "contentCategories": {
          "type": "array",
          "description": "Content category collection.",
          "items": {
            "$ref": "ContentCategory"
          }
        }
      },
      "description": "Content Category List Response",
      "id": "ContentCategoriesListResponse",
      "type": "object"
    },
    "ColumnHeader": {
      "type": "object",
      "id": "ColumnHeader",
      "description": "A column header in the report.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The column name.",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Dimension.",
            "Metric."
          ],
          "readOnly": true,
          "description": "Output only. The column type.",
          "enum": [
            "COLUMN_TYPE_UNSPECIFIED",
            "DIMENSION",
            "METRIC"
          ],
          "type": "string"
        }
      }
    },
    "PlacementGroup": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this placement group. This is a read-only, auto-generated field."
        },
        "advertiserId": {
          "description": "Advertiser ID of this placement group. This is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "pricingSchedule": {
          "$ref": "PricingSchedule",
          "description": "Pricing schedule of this placement group. This field is required on insertion."
        },
        "placementStrategyId": {
          "type": "string",
          "description": "ID of the placement strategy assigned to this placement group.",
          "format": "int64"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "campaignId": {
          "format": "int64",
          "type": "string",
          "description": "Campaign ID of this placement group. This field is required on insertion."
        },
        "activeStatus": {
          "type": "string",
          "description": "Whether this placement group is active, inactive, archived or permanently archived.",
          "enum": [
            "PLACEMENT_STATUS_UNKNOWN",
            "PLACEMENT_STATUS_ACTIVE",
            "PLACEMENT_STATUS_INACTIVE",
            "PLACEMENT_STATUS_ARCHIVED",
            "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "primaryPlacementId": {
          "format": "int64",
          "description": "ID of the primary placement, used to calculate the media cost of a roadblock (placement group). Modifying this field will automatically modify the primary field on all affected roadblock child placements.",
          "type": "string"
        },
        "siteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field."
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "primaryPlacementIdDimensionValue": {
          "description": "Dimension value for the ID of the primary placement. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "accountId": {
          "description": "Account ID of this placement group. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this placement group. This is a required field and must be less than 256 characters long."
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this placement group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "directorySiteIdDimensionValue": {
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "directorySiteId": {
          "type": "string",
          "format": "int64",
          "description": "Directory site ID associated with this placement group. On insert, you must set either this field or the site_id field to specify the site associated with this placement group. This is a required field that is read-only after insertion."
        },
        "siteId": {
          "description": "Site ID associated with this placement group. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "format": "int64",
          "type": "string"
        },
        "externalId": {
          "type": "string",
          "description": "External ID for this placement."
        },
        "contentCategoryId": {
          "description": "ID of the content category assigned to this placement group.",
          "format": "int64",
          "type": "string"
        },
        "childPlacementIds": {
          "type": "array",
          "description": "IDs of placements which are assigned to this placement group. This is a read-only, auto-generated field.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "comment": {
          "description": "Comments for this placement group.",
          "type": "string"
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this placement group. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "placementGroupType": {
          "enum": [
            "PLACEMENT_PACKAGE",
            "PLACEMENT_ROADBLOCK"
          ],
          "description": "Type of this placement group. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point, but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting. This field is required on insertion.",
          "type": "string",
          "enumDescriptions": [
[...]
