{
  "ownerDomain": "google.com",
  "canonicalName": "Dfareporting",
  "revision": "20260721",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        }
      }
    }
  },
  "id": "dfareporting:v5",
  "servicePath": "dfareporting/v5/",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "version": "v5",
  "name": "dfareporting",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "title": "Campaign Manager 360 API",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "resources": {
    "userRolePermissionGroups": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups",
          "description": "Gets a list of all supported user role permission groups.",
          "response": {
            "$ref": "UserRolePermissionGroupsListResponse"
          },
          "path": "userprofiles/{+profileId}/userRolePermissionGroups",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.userRolePermissionGroups.list",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          }
        },
        "get": {
          "path": "userprofiles/{+profileId}/userRolePermissionGroups/{+id}",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "id": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User role permission group ID."
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one user role permission group by ID.",
          "id": "dfareporting.userRolePermissionGroups.get",
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups/{userRolePermissionGroupsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "UserRolePermissionGroup"
          }
        }
      }
    },
    "dimensionValues": {
      "methods": {
        "query": {
          "path": "userprofiles/{profileId}/dimensionvalues/query",
          "response": {
            "$ref": "DimensionValueList"
          },
          "flatPath": "userprofiles/{profileId}/dimensionvalues/query",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves list of report dimension values for a list of filters.",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "request": {
            "$ref": "DimensionValueRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "type": "integer",
              "default": "100"
            },
            "profileId": {
              "description": "The Campaign Manager 360 user profile ID.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64"
            },
            "pageToken": {
              "description": "The value of the nextToken from the previous result page.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "dfareporting.dimensionValues.query"
        }
      }
    },
    "dynamicProfiles": {
      "methods": {
        "publish": {
          "id": "dfareporting.dynamicProfiles.publish",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/publish",
          "description": "Publish for a dynamic profile.",
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/publish",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "parameters": {
            "dynamicProfileId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Dynamic profile ID.",
              "pattern": "^[^/]+$"
            }
          }
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.dynamicProfiles.insert",
          "response": {
            "$ref": "DynamicProfile"
          },
          "description": "Inserts a new dynamic profile.",
          "path": "studio/dynamicProfiles",
          "flatPath": "studio/dynamicProfiles",
          "request": {
            "$ref": "DynamicProfile"
          }
        },
        "generateCode": {
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/generateCode",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "response": {
            "$ref": "DynamicProfileGenerateCodeResponse"
          },
          "id": "dfareporting.dynamicProfiles.generateCode",
          "description": "Generates code for a dynamic profile, which will need unescaping.",
          "httpMethod": "GET",
          "parameters": {
            "dynamicProfileId": {
              "type": "string",
              "required": true,
              "description": "Required. Dynamic profile ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/generateCode"
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "dynamicProfileId": {
              "type": "string",
              "description": "Required. Dynamic profile ID.",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true
            }
          },
          "response": {
            "$ref": "DynamicProfile"
          },
          "description": "Gets a dynamic profile by ID.",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/dynamicProfiles/{+dynamicProfileId}",
          "id": "dfareporting.dynamicProfiles.get",
          "parameterOrder": [
            "dynamicProfileId"
          ]
        },
        "update": {
          "id": "dfareporting.dynamicProfiles.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/dynamicProfiles",
          "response": {
            "$ref": "DynamicProfile"
          },
          "flatPath": "studio/dynamicProfiles",
          "description": "Updates an existing dynamic profile.",
          "httpMethod": "PUT",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "DynamicProfile"
          }
        }
      }
    },
    "subaccounts": {
      "methods": {
        "patch": {
          "id": "dfareporting.subaccounts.patch",
          "httpMethod": "PATCH",
          "parameters": {
            "id": {
              "description": "Required. Subaccount ID.",
              "format": "int64",
              "type": "string",
              "location": "query",
              "required": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Subaccount"
          },
          "path": "userprofiles/{+profileId}/subaccounts",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "request": {
            "$ref": "Subaccount"
          },
          "description": "Updates an existing subaccount. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "get": {
          "path": "userprofiles/{+profileId}/subaccounts/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.subaccounts.get",
          "description": "Gets one subaccount by ID.",
          "response": {
            "$ref": "Subaccount"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/subaccounts/{subaccountsId}",
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "Subaccount ID.",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64"
            }
          }
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing subaccount.",
          "request": {
            "$ref": "Subaccount"
          },
          "path": "userprofiles/{+profileId}/subaccounts",
          "response": {
            "$ref": "Subaccount"
          },
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.subaccounts.update"
        },
        "list": {
          "response": {
            "$ref": "SubaccountsListResponse"
          },
          "id": "dfareporting.subaccounts.list",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "description": "Gets a list of subaccounts, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "parameters": {
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"subaccount*2015\" will return objects with names like \"subaccount June 2015\", \"subaccount April 2015\", or simply \"subaccount 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"subaccount\" will match objects with name \"my subaccount\", \"subaccount 2015\", or simply \"subaccount\" .",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "ids": {
              "description": "Select only subaccounts with these IDs.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "sortField": {
              "type": "string",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "type": "integer"
            }
          },
          "path": "userprofiles/{+profileId}/subaccounts",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new subaccount.",
          "path": "userprofiles/{+profileId}/subaccounts",
          "request": {
            "$ref": "Subaccount"
          },
          "response": {
            "$ref": "Subaccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "id": "dfareporting.subaccounts.insert"
        }
      }
    },
    "floodlightActivityGroups": {
      "methods": {
        "get": {
          "path": "userprofiles/{+profileId}/floodlightActivityGroups/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups/{floodlightActivityGroupsId}",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "id": "dfareporting.floodlightActivityGroups.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "location": "path",
              "description": "Floodlight activity Group ID.",
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Gets one floodlight activity group by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.floodlightActivityGroups.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing floodlight activity group.",
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "request": {
            "$ref": "FloodlightActivityGroup"
          }
        },
        "patch": {
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "id": {
              "description": "Required. EventTag ID.",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "query"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "description": "Updates an existing floodlight activity group. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.floodlightActivityGroups.patch",
          "request": {
            "$ref": "FloodlightActivityGroup"
          }
        },
        "list": {
          "description": "Retrieves a list of floodlight activity groups, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "FloodlightActivityGroupsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameters": {
            "sortField": {
              "default": "ID",
              "type": "string",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list."
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivitygroup*2015\" will return objects with names like \"floodlightactivitygroup June 2015\", \"floodlightactivitygroup April 2015\", or simply \"floodlightactivitygroup 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivitygroup\" will match objects with name \"my floodlightactivitygroup activity\", \"floodlightactivitygroup 2015\", or simply \"floodlightactivitygroup\"."
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "format": "int32",
              "default": "1000",
              "location": "query",
              "type": "integer"
            },
            "profileId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only floodlight activity groups with the specified advertiser ID. Must specify either advertiserId or floodlightConfigurationId for a non-empty result."
            },
            "type": {
              "description": "Select only floodlight activity groups with the specified floodlight activity group type.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "COUNTER",
                "SALE"
              ],
              "type": "string",
              "location": "query"
            },
            "floodlightConfigurationId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only floodlight activity groups with the specified floodlight configuration ID. Must specify either advertiserId, or floodlightConfigurationId for a non-empty result."
            },
            "ids": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only floodlight activity groups with the specified IDs. Must specify either advertiserId or floodlightConfigurationId for a non-empty result."
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            }
          },
          "id": "dfareporting.floodlightActivityGroups.list"
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "description": "Inserts a new floodlight activity group.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "id": "dfareporting.floodlightActivityGroups.insert",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups"
        }
      }
    },
    "creativeAssets": {
      "methods": {
        "insert": {
          "description": "Inserts a new creative asset.",
          "httpMethod": "POST",
          "parameters": {
            "advertiserId": {
              "required": true,
              "location": "path",
              "description": "Advertiser ID of this creative. This is a required field.",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.creativeAssets.insert",
          "path": "userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "request": {
            "$ref": "CreativeAssetMetadata"
          },
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "1073741824",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/dfareporting/v5/userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets"
              }
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeAssetMetadata"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeAssets/{creativeAssetsId}/creativeAssets"
        }
      }
    },
    "studioCreatives": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "studioCreativeId": {
              "description": "Required. Studio creative ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/creatives/{+studioCreativeId}",
          "parameterOrder": [
            "studioCreativeId"
          ],
          "description": "Gets a studio creative by ID.",
          "response": {
            "$ref": "StudioCreative"
          },
          "id": "dfareporting.studioCreatives.get",
          "flatPath": "studio/creatives/{creativesId}"
        },
        "insert": {
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "StudioCreative"
          },
          "description": "Inserts a new studio creative.",
          "id": "dfareporting.studioCreatives.insert",
          "flatPath": "studio/creatives",
          "response": {
            "$ref": "StudioCreative"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/creatives"
        },
        "publish": {
          "flatPath": "studio/creatives/{creativesId}/publish",
          "path": "studio/creatives/{+studioCreativeId}/publish",
          "id": "dfareporting.studioCreatives.publish",
          "parameterOrder": [
            "studioCreativeId"
          ],
          "description": "Publish for a studio creative.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "parameters": {
            "studioCreativeId": {
              "pattern": "^[^/]+$",
              "description": "Required. Studio creative ID.",
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        }
      }
    },
    "studioCreativeAssets": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "parameters": {},
          "path": "studio/creativeAssets",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/dfareporting/v5/studio/creativeAssets",
                "multipart": true
              }
            },
            "maxSize": "1073741824"
          },
          "supportsMediaUpload": true,
          "id": "dfareporting.studioCreativeAssets.insert",
          "flatPath": "studio/creativeAssets",
          "description": "Inserts a new studio creative asset.",
          "response": {
            "$ref": "StudioCreativeAssetsResponse"
          },
          "request": {
            "$ref": "DfareportingStudioCreativeAssetsInsertRequest"
          }
        }
      }
    },
    "targetingTemplates": {
      "methods": {
        "insert": {
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "description": "Inserts a new targeting template.",
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.targetingTemplates.insert",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "request": {
            "$ref": "TargetingTemplate"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          }
        },
        "patch": {
          "id": "dfareporting.targetingTemplates.patch",
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "request": {
            "$ref": "TargetingTemplate"
          },
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "description": "Updates an existing targeting template. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "id": {
              "description": "Required. RemarketingList ID.",
              "required": true,
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            }
          }
        },
        "list": {
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.targetingTemplates.list",
          "httpMethod": "GET",
          "parameters": {
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"template*2015\" will return objects with names like \"template June 2015\", \"template April 2015\", or simply \"template 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"template\" will match objects with name \"my template\", \"template 2015\", or simply \"template\".",
              "type": "string",
              "location": "query"
            },
            "advertiserId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only targeting templates with this advertiser ID."
            },
            "ids": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Select only targeting templates with these IDs.",
              "format": "int64"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "maxResults": {
              "format": "int32",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query",
              "type": "integer"
            },
            "sortField": {
              "location": "query",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list."
            },
            "sortOrder": {
              "type": "string",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "response": {
            "$ref": "TargetingTemplatesListResponse"
          },
          "description": "Retrieves a list of targeting templates, optionally filtered. This method supports paging."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing targeting template.",
          "request": {
            "$ref": "TargetingTemplate"
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "id": "dfareporting.targetingTemplates.update"
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates/{targetingTemplatesId}",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "description": "Gets one targeting template by ID.",
          "path": "userprofiles/{+profileId}/targetingTemplates/{+id}",
          "id": "dfareporting.targetingTemplates.get",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "Targeting template ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "mobileApps": {
      "methods": {
        "list": {
          "description": "Retrieves list of available mobile apps.",
          "id": "dfareporting.mobileApps.list",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "MobileAppsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/mobileApps",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameters": {
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"app*2015\" will return objects with names like \"app Jan 2018\", \"app Jan 2018\", or simply \"app 2018\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"app\" will match objects with name \"my app\", \"app 2018\", or simply \"app\".",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "ids": {
              "description": "Select only apps with these IDs.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "type": "integer",
              "default": "1000",
              "location": "query",
              "format": "int32"
            },
            "directories": {
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "UNKNOWN",
                "APPLE_APP_STORE",
                "GOOGLE_PLAY_STORE",
                "ROKU_APP_STORE",
                "AMAZON_FIRETV_APP_STORE",
                "PLAYSTATION_APP_STORE",
                "APPLE_TV_APP_STORE",
                "XBOX_APP_STORE",
                "SAMSUNG_TV_APP_STORE",
                "ANDROID_TV_APP_STORE",
                "GENERIC_CTV_APP_STORE"
              ],
              "location": "query",
              "repeated": true,
              "description": "Select only apps from these directories."
            }
          },
          "path": "userprofiles/{+profileId}/mobileApps"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/mobileApps/{mobileAppsId}",
          "response": {
            "$ref": "MobileApp"
          },
          "id": "dfareporting.mobileApps.get",
          "description": "Gets one mobile app by ID.",
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "required": true,
              "description": "Mobile app ID.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/mobileApps/{+id}"
        }
      }
    },
    "tvCampaignDetails": {
      "methods": {
        "get": {
          "description": "Gets one TvCampaignDetail by ID.",
          "id": "dfareporting.tvCampaignDetails.get",
          "path": "userprofiles/{+profileId}/tvCampaignDetails/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "TvCampaignDetail"
          },
          "flatPath": "userprofiles/{userprofilesId}/tvCampaignDetails/{tvCampaignDetailsId}",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "description": "Required. User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "accountId": {
              "type": "string",
              "description": "Required. Account ID associated with this request.",
              "location": "query",
              "format": "int64"
            },
            "id": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. TV Campaign ID."
            },
            "tvDataProvider": {
              "type": "string",
              "enumDescriptions": [
                "",
                "Allows populating multiple tvCampaignId filters and tvCampaignEndDate filter on the report.",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "INVALID_TV_DATA_PROVIDER",
                "INTAGE_JP",
                "IBOPE_AR",
                "IBOPE_BR",
                "IBOPE_CL",
                "IBOPE_CO",
                "TNS_VN",
                "COMSCORE_NATIONAL_US",
                "COMSCORE_CA",
                "SAMBA_AU"
              ],
              "description": "Optional. TV data provider. If not specified, defaults to `COMSCORE_NATIONAL_US`.",
              "location": "query"
            },
            "countryDartId": {
              "description": "Optional. Country Dart ID. If not specified, defaults to 256 (US).",
              "format": "int64",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "tvCampaignSummaries": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameters": {
            "countryDartId": {
              "type": "string",
              "description": "Optional. Country Dart ID. If not specified, defaults to 256 (US).",
              "location": "query",
              "format": "int64"
            },
            "tvDataProvider": {
              "enum": [
                "INVALID_TV_DATA_PROVIDER",
                "INTAGE_JP",
                "IBOPE_AR",
                "IBOPE_BR",
                "IBOPE_CL",
                "IBOPE_CO",
                "TNS_VN",
                "COMSCORE_NATIONAL_US",
                "COMSCORE_CA",
                "SAMBA_AU"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Allows populating multiple tvCampaignId filters and tvCampaignEndDate filter on the report.",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "description": "Optional. TV data provider. If not specified, defaults to `COMSCORE_NATIONAL_US`."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "Required. User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "path"
            },
            "accountId": {
              "format": "int64",
              "type": "string",
              "description": "Required. Account ID associated with this request.",
              "location": "query"
            },
            "name": {
              "location": "query",
              "type": "string",
              "description": "Required. Search string to filter the list of TV campaign summaries. Matches any substring. Required field."
            }
          },
          "path": "userprofiles/{+profileId}/tvCampaignSummaries",
          "flatPath": "userprofiles/{userprofilesId}/tvCampaignSummaries",
          "response": {
            "$ref": "TvCampaignSummariesListResponse"
          },
          "description": "Retrieves a list of TV campaign summaries.",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.tvCampaignSummaries.list"
        }
      }
    },
    "contentCategories": {
      "methods": {
        "list": {
          "id": "dfareporting.contentCategories.list",
          "description": "Retrieves a list of content categories, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/contentCategories",
          "response": {
            "$ref": "ContentCategoriesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "default": "1000"
            },
            "ids": {
              "format": "int64",
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Select only content categories with these IDs."
            },
            "sortField": {
              "location": "query",
              "type": "string",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"contentcategory*2015\" will return objects with names like \"contentcategory June 2015\", \"contentcategory April 2015\", or simply \"contentcategory 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"contentcategory\" will match objects with name \"my contentcategory\", \"contentcategory 2015\", or simply \"contentcategory\".",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "type": "string",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            }
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "id": {
              "description": "Required. ContentCategory ID.",
              "format": "int64",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "ContentCategory"
          },
          "description": "Updates an existing content category. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "request": {
            "$ref": "ContentCategory"
          },
          "id": "dfareporting.contentCategories.patch",
          "path": "userprofiles/{+profileId}/contentCategories"
        },
        "insert": {
          "description": "Inserts a new content category.",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "ContentCategory"
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "ContentCategory"
          },
          "path": "userprofiles/{+profileId}/contentCategories",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.contentCategories.insert"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "httpMethod": "DELETE",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "id": {
              "type": "string",
              "description": "Content category ID.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "id": "dfareporting.contentCategories.delete",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Deletes an existing content category.",
          "path": "userprofiles/{+profileId}/contentCategories/{+id}"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "ContentCategory"
          },
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/contentCategories",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "id": "dfareporting.contentCategories.update",
          "description": "Updates an existing content category.",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "ContentCategory"
          }
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "description": "Gets one content category by ID.",
          "response": {
            "$ref": "ContentCategory"
          },
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "Content category ID.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "id": "dfareporting.contentCategories.get",
          "path": "userprofiles/{+profileId}/contentCategories/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "cities": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of cities, possibly filtered.",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "namePrefix": {
              "location": "query",
              "type": "string",
              "description": "Select only cities with names starting with this prefix."
            },
            "dartIds": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "type": "string",
              "description": "Select only cities with these DART IDs."
            },
            "regionDartIds": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only cities from these regions.",
              "type": "string"
            },
            "countryDartIds": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Select only cities from these countries.",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/cities",
          "flatPath": "userprofiles/{userprofilesId}/cities",
          "id": "dfareporting.cities.list",
          "response": {
            "$ref": "CitiesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "advertisers": {
      "methods": {
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "response": {
            "$ref": "Advertiser"
          },
          "request": {
            "$ref": "Advertiser"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/advertisers",
          "description": "Inserts a new advertiser.",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "id": "dfareporting.advertisers.insert"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return.",
              "format": "int32",
              "location": "query",
              "default": "1000",
              "type": "integer"
            },
            "status": {
              "location": "query",
              "enumDescriptions": [
                "Approved (ads can deliver)",
                "On-hold (all ads are stopped)"
              ],
              "type": "string",
              "enum": [
                "APPROVED",
                "ON_HOLD"
              ],
              "description": "Select only advertisers with the specified status."
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser June 2015\", \"advertiser April 2015\", or simply \"advertiser 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertiser\" will match objects with name \"my advertiser\", \"advertiser 2015\", or simply \"advertiser\" .",
              "location": "query"
            },
            "ids": {
              "type": "string",
              "description": "Select only advertisers with these IDs.",
              "format": "int64",
              "location": "query",
              "repeated": true
            },
            "subaccountId": {
              "type": "string",
              "description": "Select only advertisers with these subaccount IDs.",
              "location": "query",
              "format": "int64"
            },
            "advertiserGroupIds": {
              "format": "int64",
              "description": "Select only advertisers with these advertiser group IDs.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "onlyParent": {
              "location": "query",
              "description": "Select only advertisers which use another advertiser's floodlight configuration.",
              "type": "boolean"
            },
            "floodlightConfigurationIds": {
              "description": "Select only advertisers with these floodlight configuration IDs.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "default": "ID",
              "description": "Field by which to sort the list.",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            },
            "includeAdvertisersWithoutGroupsOnly": {
              "location": "query",
              "type": "boolean",
              "description": "Select only advertisers which do not belong to any advertiser group."
            }
          },
          "path": "userprofiles/{+profileId}/advertisers",
          "id": "dfareporting.advertisers.list",
          "response": {
            "$ref": "AdvertisersListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "description": "Retrieves a list of advertisers, possibly filtered. This method supports paging."
        },
        "patch": {
          "request": {
            "$ref": "Advertiser"
          },
          "response": {
            "$ref": "Advertiser"
          },
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.advertisers.patch",
          "path": "userprofiles/{+profileId}/advertisers",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "id": {
              "type": "string",
              "description": "Required. Advertiser ID.",
              "location": "query",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "location": "path"
            }
          },
          "description": "Updates an existing advertiser. This method supports patch semantics."
        },
        "update": {
          "request": {
            "$ref": "Advertiser"
          },
          "id": "dfareporting.advertisers.update",
          "path": "userprofiles/{+profileId}/advertisers",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "response": {
            "$ref": "Advertiser"
          },
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing advertiser."
        },
        "get": {
          "description": "Gets one advertiser by ID.",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "id": {
              "description": "Advertiser ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "dfareporting.advertisers.get",
          "flatPath": "userprofiles/{userprofilesId}/advertisers/{advertisersId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Advertiser"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/advertisers/{+id}"
        }
      }
    },
    "postalCodes": {
      "methods": {
        "get": {
          "response": {
            "$ref": "PostalCode"
          },
          "flatPath": "userprofiles/{userprofilesId}/postalCodes/{postalCodesId}",
          "description": "Gets one postal code by ID.",
          "httpMethod": "GET",
          "parameters": {
            "code": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Postal code ID.",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "id": "dfareporting.postalCodes.get",
          "parameterOrder": [
            "profileId",
            "code"
          ],
          "path": "userprofiles/{+profileId}/postalCodes/{+code}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "path": "userprofiles/{+profileId}/postalCodes",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "id": "dfareporting.postalCodes.list",
          "response": {
            "$ref": "PostalCodesListResponse"
          },
          "description": "Retrieves a list of postal codes.",
          "flatPath": "userprofiles/{userprofilesId}/postalCodes"
        }
      }
    },
    "creativeFieldValues": {
      "methods": {
        "patch": {
          "id": "dfareporting.creativeFieldValues.patch",
          "description": "Updates an existing creative field value. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            },
            "creativeFieldId": {
              "location": "path",
              "required": true,
              "description": "CreativeField ID.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "type": "string",
              "format": "int64",
              "description": "CreativeFieldValue ID.",
              "location": "query",
              "required": true
            }
          },
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "response": {
            "$ref": "CreativeFieldValue"
          }
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "creativeFieldId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "Creative field ID for this creative field value."
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "description": "Inserts a new creative field value.",
          "id": "dfareporting.creativeFieldValues.insert",
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "request": {
            "$ref": "CreativeFieldValue"
          }
        },
        "delete": {
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Creative Field Value ID"
            },
            "creativeFieldId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Creative field ID for this creative field value."
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}",
          "id": "dfareporting.creativeFieldValues.delete",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}",
          "description": "Deletes an existing creative field value."
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeFieldValues.update",
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "creativeFieldId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Creative field ID for this creative field value.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates an existing creative field value."
        },
        "list": {
          "id": "dfareporting.creativeFieldValues.list",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "response": {
            "$ref": "CreativeFieldValuesListResponse"
          },
          "description": "Retrieves a list of creative field values, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "creativeFieldId": {
              "description": "Creative field ID for this creative field value.",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64"
            },
            "sortOrder": {
              "location": "query",
              "type": "string",
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "format": "int32",
              "default": "1000",
              "location": "query",
              "type": "integer"
            },
            "searchString": {
              "description": "Allows searching for creative field values by their values. Wildcards (e.g. *) are not allowed.",
              "type": "string",
              "location": "query"
            },
            "sortField": {
              "enum": [
                "ID",
                "VALUE"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "type": "string",
              "description": "Field by which to sort the list.",
              "default": "ID"
            },
            "ids": {
              "description": "Select only creative field values with these IDs.",
              "type": "string",
              "format": "int64",
              "location": "query",
              "repeated": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "description": "Gets one creative field value by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "creativeFieldId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Creative field ID for this creative field value."
            },
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "Creative Field Value ID"
            }
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}",
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}",
          "id": "dfareporting.creativeFieldValues.get"
        }
      }
    },
    "reports": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "description": "Retrieves a report by its ID.",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "response": {
            "$ref": "Report"
          },
          "httpMethod": "GET",
          "parameters": {
            "reportId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the report."
            },
            "profileId": {
              "description": "The Campaign Manager 360 user profile ID.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "id": "dfareporting.reports.get"
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{profileId}/reports",
          "request": {
            "$ref": "Report"
          },
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "description": "The Campaign Manager 360 user profile ID.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Creates a report.",
          "path": "userprofiles/{profileId}/reports",
          "id": "dfareporting.reports.insert"
        },
        "delete": {
          "description": "Deletes a report by its ID.",
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "id": "dfareporting.reports.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "The Campaign Manager 360 user profile ID.",
              "type": "string"
            },
            "reportId": {
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "The ID of the report."
            }
          }
        },
        "update": {
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "id": "dfareporting.reports.update",
          "request": {
            "$ref": "Report"
          },
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "The Campaign Manager 360 user profile ID.",
              "required": true
            },
            "reportId": {
              "location": "path",
              "required": true,
              "description": "The ID of the report.",
              "format": "int64",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "description": "Updates a report.",
          "response": {
            "$ref": "Report"
          },
          "flatPath": "userprofiles/{profileId}/reports/{reportId}"
        },
        "run": {
          "path": "userprofiles/{profileId}/reports/{reportId}/run",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "description": "Runs a report.",
          "flatPath": "userprofiles/{profileId}/reports/{reportId}/run",
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "The Campaign Manager 360 user profile ID.",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "reportId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "The ID of the report.",
              "type": "string"
            },
            "synchronous": {
              "location": "query",
              "default": "false",
              "description": "If set and true, tries to run the report synchronously.",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "response": {
            "$ref": "File"
          },
          "id": "dfareporting.reports.run"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "flatPath": "userprofiles/{profileId}/reports",
          "response": {
            "$ref": "ReportList"
          },
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "The Campaign Manager 360 user profile ID.",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The value of the nextToken from the previous result page."
            },
            "scope": {
              "type": "string",
              "default": "MINE",
              "description": "The scope that defines which results are returned.",
              "enumDescriptions": [
                "All reports in account.",
                "My reports."
              ],
              "enum": [
                "ALL",
                "MINE"
              ],
              "location": "query"
            },
            "sortField": {
              "enum": [
                "ID",
                "LAST_MODIFIED_TIME",
                "NAME"
              ],
              "default": "LAST_MODIFIED_TIME",
              "location": "query",
              "description": "The field by which to sort the list.",
              "enumDescriptions": [
                "Sort by report ID.",
                "Sort by 'lastModifiedTime' field.",
                "Sort by name of reports."
              ],
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "default": "10",
              "format": "int32",
              "type": "integer"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "description": "Order of sorted results.",
              "default": "DESCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            }
          },
          "path": "userprofiles/{profileId}/reports",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves list of reports.",
          "id": "dfareporting.reports.list"
        }
      },
      "resources": {
        "compatibleFields": {
          "methods": {
            "query": {
              "httpMethod": "POST",
              "parameters": {
                "profileId": {
                  "required": true,
                  "location": "path",
                  "description": "The Campaign Manager 360 user profile ID.",
                  "format": "int64",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "CompatibleFields"
              },
              "id": "dfareporting.reports.compatibleFields.query",
              "description": "Returns the fields that are compatible to be selected in the respective sections of a report criteria, given the fields already selected in the input report and user permissions.",
              "flatPath": "userprofiles/{profileId}/reports/compatiblefields/query",
              "path": "userprofiles/{profileId}/reports/compatiblefields/query",
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "parameterOrder": [
                "profileId"
              ],
              "request": {
                "$ref": "Report"
              }
            }
          }
        },
        "files": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "profileId": {
                  "description": "The Campaign Manager 360 user profile ID.",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "fileId": {
                  "type": "string",
                  "description": "The ID of the report file.",
                  "format": "int64",
                  "required": true,
                  "location": "path"
                },
                "reportId": {
                  "format": "int64",
                  "required": true,
                  "description": "The ID of the report.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "parameterOrder": [
                "profileId",
                "reportId",
                "fileId"
              ],
              "supportsMediaDownload": true,
              "id": "dfareporting.reports.files.get",
              "description": "Retrieves a report file by its report ID and file ID. This method supports media download.",
              "response": {
                "$ref": "File"
              },
              "path": "userprofiles/{profileId}/reports/{reportId}/files/{fileId}",
              "flatPath": "userprofiles/{profileId}/reports/{reportId}/files/{fileId}"
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "profileId": {
                  "description": "The Campaign Manager 360 user profile ID.",
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "description": "The value of the nextToken from the previous result page.",
                  "location": "query",
                  "type": "string"
                },
                "sortField": {
                  "description": "The field by which to sort the list.",
                  "enumDescriptions": [
                    "",
                    ""
                  ],
                  "location": "query",
                  "enum": [
                    "ID",
                    "LAST_MODIFIED_TIME"
                  ],
                  "default": "LAST_MODIFIED_TIME",
                  "type": "string"
                },
                "reportId": {
                  "type": "string",
                  "description": "The ID of the parent report.",
                  "format": "int64",
                  "location": "path",
                  "required": true
                },
                "sortOrder": {
                  "enum": [
                    "ASCENDING",
                    "DESCENDING"
                  ],
                  "description": "Order of sorted results.",
                  "enumDescriptions": [
                    "Ascending order.",
                    "Descending order."
                  ],
                  "location": "query",
                  "type": "string",
                  "default": "DESCENDING"
                },
                "maxResults": {
                  "default": "10",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of results to return.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "profileId",
                "reportId"
              ],
              "flatPath": "userprofiles/{profileId}/reports/{reportId}/files",
              "path": "userprofiles/{profileId}/reports/{reportId}/files",
              "response": {
                "$ref": "FileList"
              },
              "id": "dfareporting.reports.files.list",
              "description": "Lists files for a report.",
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ]
            }
          }
        }
      }
    },
    "placements": {
      "methods": {
        "update": {
          "response": {
            "$ref": "Placement"
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "Placement"
          },
          "path": "userprofiles/{+profileId}/placements",
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "id": "dfareporting.placements.update",
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "description": "Updates an existing placement.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "generatetags": {
          "description": "Generates tags for a placement.",
          "path": "userprofiles/{+profileId}/placements/generatetags",
          "flatPath": "userprofiles/{userprofilesId}/placements/generatetags",
          "response": {
            "$ref": "PlacementsGenerateTagsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "parameters": {
            "tagProperties.dcDbmMacroIncluded": {
              "type": "boolean",
              "location": "query",
              "description": "Optional. Indicates whether to include the dc_dbm macro in the generated tags. [Learn more](https://support.google.com/campaignmanager/answer/9280273) about this macro."
            },
            "tagFormats": {
              "enum": [
                "PLACEMENT_TAG_STANDARD",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_IFRAME_ILAYER",
                "PLACEMENT_TAG_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
                "PLACEMENT_TAG_CLICK_COMMANDS",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
                "PLACEMENT_TAG_TRACKING",
                "PLACEMENT_TAG_TRACKING_IFRAME",
                "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
                "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Tag formats to generate for these placements. *Note:* PLACEMENT_TAG_STANDARD can only be generated for 1x1 placements.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "placementIds": {
              "description": "Generate tags for these placements.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "tagProperties.tcfGdprMacrosIncluded": {
              "type": "boolean",
              "location": "query",
              "default": "true",
              "description": "Optional. Indicates whether to include the TCF macro in the generated tags. Default true. [Learn more](https://support.google.com/campaignmanager/answer/10031693) about this macro."
            },
            "profileId": {
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "tagProperties.gppMacrosIncluded": {
              "type": "boolean",
              "description": "Optional. Indicates whether to include the GPP macro in the generated tags. [Learn more](https://support.google.com/campaignmanager/answer/10031693) about this macro.",
              "location": "query"
            },
            "campaignId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Generate placements belonging to this campaign. This is a required field."
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.placements.generatetags"
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing placement. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameters": {
            "id": {
              "location": "query",
              "description": "Required. Placement ID.",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Placement"
          },
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "path": "userprofiles/{+profileId}/placements",
          "request": {
            "$ref": "Placement"
          },
          "id": "dfareporting.placements.patch",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "request": {
            "$ref": "Placement"
          },
          "id": "dfareporting.placements.insert",
          "flatPath": "userprofiles/{userprofilesId}/placements",
[...]
