{
  "name": "dfareporting",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        },
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        }
      }
    }
  },
  "id": "dfareporting:v5",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "version": "v5",
  "batchPath": "batch",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "title": "Campaign Manager 360 API",
  "discoveryVersion": "v1",
  "schemas": {
    "ColumnHeader": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The column name.",
          "type": "string"
        },
        "type": {
          "description": "Output only. The column type.",
          "enum": [
            "COLUMN_TYPE_UNSPECIFIED",
            "DIMENSION",
            "METRIC"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Dimension.",
            "Metric."
          ]
        }
      },
      "description": "A column header in the report.",
      "id": "ColumnHeader"
    },
    "PlacementGroupsListResponse": {
      "id": "PlacementGroupsListResponse",
      "type": "object",
      "description": "Placement Group List Response",
      "properties": {
        "placementGroups": {
          "description": "Placement group collection.",
          "items": {
            "$ref": "PlacementGroup"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroupsListResponse\"."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        }
      }
    },
    "PlacementConversionDomainOverride": {
      "id": "PlacementConversionDomainOverride",
      "properties": {
        "conversionDomains": {
          "type": "array",
          "items": {
            "$ref": "PlacementSingleConversionDomain"
          }
        }
      },
      "type": "object"
    },
    "ObaIcon": {
      "type": "object",
      "properties": {
        "program": {
          "type": "string",
          "description": "Identifies the industry initiative that the icon supports. For example, AdChoices."
        },
        "iconClickTrackingUrl": {
          "type": "string",
          "description": "URL to track click when an OBA icon is clicked."
        },
        "iconViewTrackingUrl": {
          "description": "URL to track view when an OBA icon is clicked.",
          "type": "string"
        },
        "size": {
          "description": "OBA icon size.",
          "$ref": "Size"
        },
        "iconClickThroughUrl": {
          "description": "URL to redirect to when an OBA icon is clicked.",
          "type": "string"
        },
        "xPosition": {
          "type": "string",
          "description": "OBA icon x coordinate position. Accepted values are left or right."
        },
        "yPosition": {
          "type": "string",
          "description": "OBA icon y coordinate position. Accepted values are top or bottom."
        },
        "resourceUrl": {
          "type": "string",
          "description": "OBA icon resource URL. Campaign Manager only supports image and JavaScript icons. Learn more"
        }
      },
      "id": "ObaIcon",
      "description": "Online Behavioral Advertiser icon."
    },
    "AccountUserProfile": {
      "type": "object",
      "id": "AccountUserProfile",
      "description": "AccountUserProfiles contains properties of a Campaign Manager user profile. This resource is specifically for managing user profiles, whereas UserProfiles is for accessing the API.",
      "properties": {
        "active": {
          "description": "Whether this user profile is active. This defaults to false, and must be set true on insert for the user profile to be usable.",
          "type": "boolean"
        },
        "userAccessType": {
          "type": "string",
          "enum": [
            "NORMAL_USER",
            "SUPER_USER",
            "INTERNAL_ADMINISTRATOR",
            "READ_ONLY_SUPER_USER"
          ],
          "description": "User type of the user profile. This is a read-only field that can be left blank.",
          "enumDescriptions": [
            "Normal user managed by the customer.",
            "Super user managed by internal support teams.",
            "Internal administrator having super user access to only a specific set of networks.",
            "A super-user without permission to mutate any data."
          ]
        },
        "locale": {
          "type": "string",
          "description": "Locale of the user profile. This is a required field. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) "
        },
        "traffickerType": {
          "enumDescriptions": [
            "Internal profile, but is not a trafficker.",
            "Internal profile who is a trafficker.",
            "External profile who is a trafficker."
          ],
          "enum": [
            "INTERNAL_NON_TRAFFICKER",
            "INTERNAL_TRAFFICKER",
            "EXTERNAL_TRAFFICKER"
          ],
          "description": "Trafficker type of this user profile. This is a read-only field.",
          "type": "string"
        },
        "campaignFilter": {
          "description": "Filter that describes which campaigns are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "advertiserFilter": {
          "description": "Filter that describes which advertisers are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "subaccountId": {
          "description": "Subaccount ID of the user profile. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "userRoleId": {
          "format": "int64",
          "type": "string",
          "description": "User role ID of the user profile. This is a required field."
        },
        "comments": {
          "type": "string",
          "description": "Comments for this user profile."
        },
        "accountId": {
          "description": "Account ID of the user profile. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "siteFilter": {
          "description": "Filter that describes which sites are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfile\".",
          "type": "string"
        },
        "userRoleFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which user roles are visible to the user profile."
        },
        "name": {
          "description": "Name of the user profile. This is a required field. Must be less than 64 characters long, must be globally unique, and cannot contain whitespace or any of the following characters: \"&;<>\"#%,\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of the user profile. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "email": {
          "type": "string",
          "description": "Email of the user profile. The email address must be linked to a Google Account. This field is required on insertion and is read-only after insertion."
        }
      }
    },
    "CreativeCustomEvent": {
      "properties": {
        "id": {
          "description": "ID of this event. This is a required field and should not be modified after insertion.",
          "type": "string",
          "format": "int64"
        },
        "artworkLabel": {
          "description": "Artwork label column, used to link events in Campaign Manager back to events in Studio. This is a required field and should not be modified after insertion.",
          "type": "string"
        },
        "targetType": {
          "enum": [
            "TARGET_BLANK",
            "TARGET_TOP",
            "TARGET_SELF",
            "TARGET_PARENT",
            "TARGET_POPUP"
          ],
          "enumDescriptions": [
            "New tab",
            "Current tab",
            "Same frame",
            "Parent frame",
            "New window with properties specified in window_properties"
          ],
          "type": "string",
          "description": "Target type used by the event."
        },
        "exitClickThroughUrl": {
          "$ref": "CreativeClickThroughUrl",
          "description": "Exit click-through URL for the event. This field is used only for exit events."
        },
        "artworkType": {
          "description": "Artwork type used by the creative.This is a read-only field.",
          "enumDescriptions": [
            "The creative is a Flash creative.",
            "The creative is HTML5.",
            "The creative is HTML5 if available, Flash otherwise.",
            "The creative is Image."
          ],
          "type": "string",
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ]
        },
        "advertiserCustomEventType": {
          "enum": [
            "ADVERTISER_EVENT_TIMER",
            "ADVERTISER_EVENT_EXIT",
            "ADVERTISER_EVENT_COUNTER"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Type of the event. This is a read-only field.",
          "type": "string"
        },
        "popupWindowProperties": {
          "$ref": "PopupWindowProperties",
          "description": "Properties for rich media popup windows. This field is used only for exit events."
        },
        "videoReportingId": {
          "description": "Video reporting ID, used to differentiate multiple videos in a single creative. This is a read-only field.",
          "type": "string"
        },
        "advertiserCustomEventName": {
          "description": "User-entered name for the event.",
          "type": "string"
        },
        "advertiserCustomEventId": {
          "description": "Unique ID of this event used by Reporting and Data Transfer. This is a read-only field.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Creative Custom Event.",
      "type": "object",
      "id": "CreativeCustomEvent"
    },
    "FloodlightReportCompatibleFields": {
      "type": "object",
      "properties": {
        "dimensionFilters": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array"
        },
        "dimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "type": "array"
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "type": "array",
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report."
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#floodlightReportCompatibleFields."
        }
      },
      "id": "FloodlightReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"FlOODLIGHT\"."
    },
    "PricingSchedulePricingPeriod": {
      "description": "Pricing Period",
      "properties": {
        "units": {
          "format": "int64",
          "description": "Units of this pricing period. Acceptable values are 0 to 10000000000, inclusive.",
          "type": "string"
        },
        "pricingComment": {
          "description": "Comments for this pricing period.",
          "type": "string"
        },
        "startDate": {
          "format": "date",
          "type": "string"
        },
        "rateOrCostNanos": {
          "type": "string",
          "format": "int64",
          "description": "Rate or cost of this pricing period in nanos (i.e., multiplied by 1000000000). Acceptable values are 0 to 1000000000000000000, inclusive."
        },
        "endDate": {
          "format": "date",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PricingSchedulePricingPeriod"
    },
    "UserDefinedVariableConfiguration": {
      "id": "UserDefinedVariableConfiguration",
      "type": "object",
      "properties": {
        "variableType": {
          "enum": [
            "U1",
            "U2",
            "U3",
            "U4",
            "U5",
            "U6",
            "U7",
            "U8",
            "U9",
            "U10",
            "U11",
            "U12",
            "U13",
            "U14",
            "U15",
            "U16",
            "U17",
            "U18",
            "U19",
            "U20",
            "U21",
            "U22",
            "U23",
            "U24",
            "U25",
            "U26",
            "U27",
            "U28",
            "U29",
            "U30",
            "U31",
            "U32",
            "U33",
            "U34",
            "U35",
            "U36",
            "U37",
            "U38",
            "U39",
            "U40",
            "U41",
            "U42",
            "U43",
            "U44",
            "U45",
            "U46",
            "U47",
            "U48",
            "U49",
            "U50",
            "U51",
            "U52",
            "U53",
            "U54",
            "U55",
            "U56",
            "U57",
            "U58",
            "U59",
            "U60",
            "U61",
            "U62",
            "U63",
            "U64",
            "U65",
            "U66",
            "U67",
            "U68",
            "U69",
            "U70",
            "U71",
            "U72",
            "U73",
            "U74",
            "U75",
            "U76",
            "U77",
            "U78",
            "U79",
            "U80",
            "U81",
            "U82",
            "U83",
            "U84",
            "U85",
            "U86",
            "U87",
            "U88",
            "U89",
            "U90",
            "U91",
            "U92",
            "U93",
            "U94",
            "U95",
            "U96",
            "U97",
            "U98",
            "U99",
            "U100"
          ],
          "description": "Variable name in the tag. This is a required field.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "reportName": {
          "description": "User-friendly name for the variable which will appear in reports. This is a required field, must be less than 64 characters long, and cannot contain the following characters: \"\"<>\".",
          "type": "string"
        },
        "dataType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STRING",
            "NUMBER"
          ],
          "description": "Data type for the variable. This is a required field."
        }
      },
      "description": "User Defined Variable configuration."
    },
    "UserRole": {
      "id": "UserRole",
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this user role. This is a read-only field that can be left blank."
        },
        "subaccountId": {
          "format": "int64",
          "type": "string",
          "description": "Subaccount ID of this user role. This is a read-only field that can be left blank."
        },
        "id": {
          "description": "ID of this user role. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "defaultUserRole": {
          "description": "Whether this is a default user role. Default user roles are created by the system for the account/subaccount and cannot be modified or deleted. Each default user role comes with a basic set of preassigned permissions.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRole\".",
          "type": "string"
        },
        "parentUserRoleId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the user role that this user role is based on or copied from. This is a required field."
        },
        "name": {
          "type": "string",
          "description": "Name of this user role. This is a required field. Must be less than 256 characters long. If this user role is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this user role is a top-level user role, and the name must be unique among top-level user roles of the same account."
        },
        "permissions": {
          "items": {
            "$ref": "UserRolePermission"
          },
          "description": "List of permissions associated with this user role.",
          "type": "array"
        }
      },
      "description": "Contains properties of auser role, which is used to manage user access."
    },
    "Browser": {
      "type": "object",
      "properties": {
        "dartId": {
          "description": "DART ID of this browser. This is the ID used when generating reports.",
          "format": "int64",
          "type": "string"
        },
        "browserVersionId": {
          "type": "string",
          "format": "int64",
          "description": "ID referring to this grouping of browser and version numbers. This is the ID used for targeting."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#browser\"."
        },
        "name": {
          "description": "Name of this browser.",
          "type": "string"
        },
        "majorVersion": {
          "description": "Major version number (leftmost number) of this browser. For example, for Chrome 5.0.376.86 beta, this field should be set to 5. An asterisk (*) may be used to target any version number, and a question mark (?) may be used to target cases where the version number cannot be identified. For example, Chrome *.* targets any version of Chrome: 1.2, 2.5, 3.5, and so on. Chrome 3.* targets Chrome 3.1, 3.5, but not 4.0. Firefox ?.? targets cases where the ad server knows the browser is Firefox but can't tell which version it is.",
          "type": "string"
        },
        "minorVersion": {
          "type": "string",
          "description": "Minor version number (number after first dot on left) of this browser. For example, for Chrome 5.0.375.86 beta, this field should be set to 0. An asterisk (*) may be used to target any version number, and a question mark (?) may be used to target cases where the version number cannot be identified. For example, Chrome *.* targets any version of Chrome: 1.2, 2.5, 3.5, and so on. Chrome 3.* targets Chrome 3.1, 3.5, but not 4.0. Firefox ?.? targets cases where the ad server knows the browser is Firefox but can't tell which version it is."
        }
      },
      "description": "Contains information about a browser that can be targeted by ads.",
      "id": "Browser"
    },
    "BillingAssignmentsListResponse": {
      "description": "Billing assignment List Response",
      "id": "BillingAssignmentsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignmentsListResponse\".",
          "type": "string"
        },
        "billingAssignments": {
          "description": "Billing assignments collection.",
          "type": "array",
          "items": {
            "$ref": "BillingAssignment"
          }
        }
      },
      "type": "object"
    },
    "AccountPermissionGroupsListResponse": {
      "description": "Account Permission Group List Response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionGroupGroupsListResponse\"."
        },
        "accountPermissionGroups": {
          "description": "Account permission group collection.",
          "items": {
            "$ref": "AccountPermissionGroup"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AccountPermissionGroupsListResponse"
    },
    "SiteCompanionSetting": {
      "id": "SiteCompanionSetting",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteCompanionSetting\"."
        },
        "enabledSizes": {
          "description": "Allowlist of companion sizes to be served via this site template. Set this list to null or empty to serve all companion sizes.",
          "type": "array",
          "items": {
            "$ref": "Size"
          }
        },
        "companionsDisabled": {
          "type": "boolean",
          "description": "Whether companions are disabled for this site template."
        },
        "imageOnly": {
          "type": "boolean",
          "description": "Whether to serve only static images as companions."
        }
      },
      "description": "Companion Settings"
    },
    "CampaignCreativeAssociation": {
      "description": "Identifies a creative which has been associated with a given campaign.",
      "id": "CampaignCreativeAssociation",
      "properties": {
        "creativeId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the creative associated with the campaign. This is a required field."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignCreativeAssociation\"."
        }
      },
      "type": "object"
    },
    "DynamicRules": {
      "id": "DynamicRules",
      "description": "Contains dynamic rules information.",
      "properties": {
        "remarketingValueAttributes": {
          "description": "Optional. The link between an element field ID and a list of user attribute IDs.",
          "type": "array",
          "items": {
            "$ref": "RemarketingValueAttribute"
          }
        },
        "customRules": {
          "description": "Optional. The custom rules of the dynamic feed, only applicable when rule type is CUSTOM.",
          "type": "array",
          "items": {
            "$ref": "CustomRule"
          }
        },
        "proximityFilter": {
          "description": "Optional. The proximity targeting rules of the dynamic feed, only applicable when rule type is PROXIMITY_TARGETING.",
          "$ref": "ProximityFilter"
        },
        "customValueFields": {
          "description": "Optional. Mapping between field ID and custom key that are used to match for auto filtering.",
          "items": {
            "$ref": "CustomValueField"
          },
          "type": "array"
        },
        "weightFieldId": {
          "format": "int32",
          "description": "Optional. The field ID for the feed that will be used for weighted rotation, only applicable when rotation type is WEIGHTED.",
          "type": "integer"
        },
        "ruleType": {
          "enum": [
            "RULE_SET_TYPE_UNKNOWN",
            "OPEN",
            "AUTO",
            "CUSTOM",
            "PROXIMITY_TARGETING"
          ],
          "description": "Optional. The type of the rule, the default value is OPEN.",
          "type": "string",
          "enumDescriptions": [
            "The rule type is unknown. This value is unused.",
            "The rule type is open, all feed rows are eligible for selection. This is the default value.",
            "The rule type is auto, the feed rows are eligible for selection based on the automatic rules.",
            "The rule type is custom, the feed rows are eligible for selection based on the custom rules.",
            "The rule type is proximity targeting, the feed rows are eligible for selection based on the proximity targeting rules."
          ]
        },
        "autoTargetedFieldIds": {
          "description": "Optional. List of field IDs in this element that should be auto-targeted. Applicable when rule type is AUTO.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "rotationType": {
          "enum": [
            "ROTATION_TYPE_UNKNOWN",
            "RANDOM",
            "OPTIMIZED",
            "WEIGHTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The rotation type is unknown. This value is unused.",
            "The rotation type is random. It is the default value.",
            "The rotation type is optimized.",
            "The rotation type is weighted."
          ],
          "description": "Optional. The rotation type to select from eligible rows. Rotation type only apply when the filtering rule results in more than one eligible rows."
        }
      },
      "type": "object"
    },
    "City": {
      "id": "City",
      "description": "Contains information about a city that can be targeted by ads.",
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Region code of the region to which this city belongs."
        },
        "regionDartId": {
          "format": "int64",
          "description": "DART ID of the region to which this city belongs.",
          "type": "string"
        },
        "countryDartId": {
          "type": "string",
          "description": "DART ID of the country to which this city belongs.",
          "format": "int64"
        },
        "metroCode": {
          "description": "Metro region code of the metro region (DMA) to which this city belongs.",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code of the country to which this city belongs.",
          "type": "string"
        },
        "metroDmaId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the metro region (DMA) to which this city belongs."
        },
        "name": {
          "description": "Name of this city.",
          "type": "string"
        },
        "dartId": {
          "format": "int64",
          "description": "DART ID of this city. This is the ID used for targeting and generating reports.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#city\"."
        }
      }
    },
    "ReportCompatibleFields": {
      "properties": {
        "pivotedActivityMetrics": {
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "metrics": {
          "type": "array",
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "items": {
            "$ref": "Metric"
          }
        },
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#reportCompatibleFields.",
          "type": "string"
        },
        "dimensions": {
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        }
      },
      "id": "ReportCompatibleFields",
      "type": "object",
      "description": "Represents fields that are compatible to be selected for a report of type \"STANDARD\"."
    },
    "TargetingTemplate": {
      "id": "TargetingTemplate",
      "description": "Contains properties of a targeting template. A targeting template encapsulates targeting information which can be reused across multiple ads.",
      "type": "object",
      "properties": {
        "technologyTargeting": {
          "description": "Technology platform targeting criteria.",
          "$ref": "TechnologyTargeting"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this targeting template. This is a required field on insert and is read-only after insert.",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this targeting template. This field, if left unset, will be auto-generated on insert and is read-only after insert.",
          "format": "int64",
          "type": "string"
        },
        "geoTargeting": {
          "description": "Geographical targeting criteria.",
          "$ref": "GeoTargeting"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "accountId": {
          "description": "Account ID of this targeting template. This field, if left unset, will be auto-generated on insert and is read-only after insert.",
          "type": "string",
          "format": "int64"
        },
        "dayPartTargeting": {
          "$ref": "DayPartTargeting",
          "description": "Time and day targeting criteria."
        },
        "languageTargeting": {
          "description": "Language targeting criteria.",
          "$ref": "LanguageTargeting"
        },
        "listTargetingExpression": {
          "$ref": "ListTargetingExpression",
          "description": "Remarketing list targeting criteria."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this targeting template. This is a read-only, auto-generated field."
        },
        "keyValueTargetingExpression": {
          "$ref": "KeyValueTargetingExpression",
          "description": "Key-value targeting criteria."
        },
        "contextualKeywordTargeting": {
          "$ref": "ContextualKeywordTargeting",
          "description": "Optional. Contextual keyword targeting criteria."
        },
        "name": {
          "type": "string",
          "description": "Name of this targeting template. This field is required. It must be less than 256 characters long and unique within an advertiser."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetingTemplate\"."
        }
      }
    },
    "PlacementsListResponse": {
      "type": "object",
      "description": "Placement List Response",
      "id": "PlacementsListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementsListResponse\"."
        },
        "placements": {
          "description": "Placement collection.",
          "items": {
            "$ref": "Placement"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        }
      }
    },
    "ConnectionTypesListResponse": {
      "id": "ConnectionTypesListResponse",
      "type": "object",
      "description": "Connection Type List Response",
      "properties": {
        "connectionTypes": {
          "items": {
            "$ref": "ConnectionType"
          },
          "type": "array",
          "description": "Collection of connection types such as broadband and mobile."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionTypesListResponse\"."
        }
      }
    },
    "BillingRateTieredRate": {
      "type": "object",
      "id": "BillingRateTieredRate",
      "properties": {
        "rateInMicros": {
          "type": "string",
          "format": "int64",
          "description": "Rate in micros for this tier."
        },
        "highValue": {
          "description": "The maximum for this tier range.",
          "type": "string",
          "format": "int64"
        },
        "lowValue": {
          "description": "The minimum for this tier range.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "CreativeAssignment": {
      "id": "CreativeAssignment",
      "properties": {
        "endTime": {
          "format": "date-time",
          "type": "string"
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether the creative to be assigned is SSL-compliant. This is a read-only field that is auto-generated when the ad is inserted or updated."
        },
        "clickThroughUrl": {
          "$ref": "ClickThroughUrl",
          "description": "Click-through URL of the creative assignment."
        },
        "richMediaExitOverrides": {
          "description": "Rich media exit overrides for this creative assignment. Applicable when the creative type is any of the following: - DISPLAY - RICH_MEDIA_INPAGE - RICH_MEDIA_INPAGE_FLOATING - RICH_MEDIA_IM_EXPAND - RICH_MEDIA_EXPANDING - RICH_MEDIA_INTERSTITIAL_FLOAT - RICH_MEDIA_MOBILE_IN_APP - RICH_MEDIA_MULTI_FLOATING - RICH_MEDIA_PEEL_DOWN - VPAID_LINEAR - VPAID_NON_LINEAR ",
          "type": "array",
          "items": {
            "$ref": "RichMediaExitOverride"
          }
        },
        "weight": {
          "format": "int32",
          "description": "Weight of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_RANDOM. Value must be greater than or equal to 1.",
          "type": "integer"
        },
        "creativeIdDimensionValue": {
          "description": "Dimension value for the ID of the creative. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "creativeId": {
          "description": "ID of the creative to be assigned. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "active": {
          "description": "Whether this creative assignment is active. When true, the creative will be included in the ad's rotation.",
          "type": "boolean"
        },
        "sequence": {
          "format": "int32",
          "description": "Sequence number of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_SEQUENTIAL. Acceptable values are 1 to 65535, inclusive.",
          "type": "integer"
        },
        "applyEventTags": {
          "description": "Whether applicable event tags should fire when this creative assignment is rendered. If this value is unset when the ad is inserted or updated, it will default to true for all creative types EXCEPT for INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO.",
          "type": "boolean"
        },
        "creativeGroupAssignments": {
          "type": "array",
          "items": {
            "$ref": "CreativeGroupAssignment"
          },
          "description": "Creative group assignments for this creative assignment. Only one assignment per creative group number is allowed for a maximum of two assignments."
        },
        "companionCreativeOverrides": {
          "description": "Companion creative overrides for this creative assignment. Applicable to video ads.",
          "items": {
            "$ref": "CompanionClickThroughOverride"
          },
          "type": "array"
        },
        "startTime": {
          "format": "date-time",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Creative Assignment."
    },
    "BrowsersListResponse": {
      "id": "BrowsersListResponse",
      "description": "Browser List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#browsersListResponse\".",
          "type": "string"
        },
        "browsers": {
          "description": "Browser collection.",
          "type": "array",
          "items": {
            "$ref": "Browser"
          }
        }
      }
    },
    "ConversionStatus": {
      "description": "The original conversion that was inserted or updated and whether there were any errors.",
      "properties": {
        "errors": {
          "description": "A list of errors related to this conversion.",
          "type": "array",
          "items": {
            "$ref": "ConversionError"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionStatus\"."
        },
        "conversion": {
          "description": "The original conversion that was inserted or updated.",
          "$ref": "Conversion"
        }
      },
      "id": "ConversionStatus",
      "type": "object"
    },
    "AccountPermission": {
      "id": "AccountPermission",
      "type": "object",
      "properties": {
        "permissionGroupId": {
          "description": "Permission group of this account permission.",
          "format": "int64",
          "type": "string"
        },
        "level": {
          "description": "Administrative level required to enable this account permission.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "USER",
            "ADMINISTRATOR"
          ],
          "type": "string"
        },
        "accountProfiles": {
          "description": "Account profiles associated with this account permission. Possible values are: - \"ACCOUNT_PROFILE_BASIC\" - \"ACCOUNT_PROFILE_STANDARD\" ",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Basic profile has fewer features and lower CPM.",
              "Standard profile as a higher CPM and all the features."
            ],
            "enum": [
              "ACCOUNT_PROFILE_BASIC",
              "ACCOUNT_PROFILE_STANDARD"
            ]
          }
        },
        "id": {
          "format": "int64",
          "description": "ID of this account permission.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermission\"."
        },
        "name": {
          "description": "Name of this account permission.",
          "type": "string"
        }
      },
      "description": "AccountPermissions contains information about a particular account permission. Some features of Campaign Manager require an account permission to be present in the account."
    },
    "DependentFieldValue": {
      "id": "DependentFieldValue",
      "description": "Contains dependent field value information.",
      "properties": {
        "elementId": {
          "description": "Optional. The ID of the element that value's field will match against.",
          "format": "int64",
          "type": "string"
        },
        "fieldId": {
          "type": "integer",
          "description": "Optional. The field id of the dependent field.",
          "format": "int32"
        },
        "dynamicFeedId": {
          "description": "Optional. The ID of the dynamic feed that value's field will match against.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CitiesListResponse": {
      "description": "City List Response",
      "properties": {
        "cities": {
          "items": {
            "$ref": "City"
          },
          "description": "City collection.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#citiesListResponse\"."
        }
      },
      "type": "object",
      "id": "CitiesListResponse"
    },
    "Creative": {
      "id": "Creative",
      "type": "object",
      "description": "Contains properties of a Creative.",
      "properties": {
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types."
        },
        "customKeyValues": {
          "description": "Custom key-values for a Rich Media creative. Key-values let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use key-values to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "requiredFlashVersion": {
          "format": "int32",
          "description": "The internal Flash version for this creative as calculated by Studio. This is a read-only field. Applicable to the following creative types: FLASH_INPAGE all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "integer"
        },
        "redirectUrl": {
          "description": "URL of hosted image or hosted video or another ad tag. For INSTREAM_VIDEO_REDIRECT creatives this is the in-stream video redirect URL. The standard for a VAST (Video Ad Serving Template) ad response allows for a redirect link to another VAST 2.0 or 3.0 call. This is a required field when applicable. Applicable to the following creative types: DISPLAY_REDIRECT, INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO_REDIRECT",
          "type": "string"
        },
        "backupImageClickThroughUrl": {
          "$ref": "CreativeClickThroughUrl",
          "description": "Click-through URL for backup image. Applicable to ENHANCED_BANNER when the primary asset type is not HTML_IMAGE."
        },
        "timerCustomEvents": {
          "description": "List of timer events configured for the creative. For DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset is not HTML_IMAGE.",
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "type": "array"
        },
        "companionCreatives": {
          "description": "List of companion creatives assigned to an in-Stream video creative. Acceptable values include IDs of existing flash and image creatives. Applicable to the following creative types: all VPAID, all INSTREAM_AUDIO and all INSTREAM_VIDEO with dynamicAssetSelection set to false.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "backupImageFeatures": {
          "type": "array",
          "description": "List of feature dependencies that will cause a backup image to be served if the browser that serves the ad does not support them. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative asset correctly. This field is initially auto-generated to contain all features detected by Campaign Manager for all the assets of this creative and can then be modified by the client. To reset this field, copy over all the creativeAssets' detected features. Applicable to the following creative types: HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "POST_MESSAGE always required due to html5 implementation.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ]
          }
        },
        "active": {
          "description": "Whether the creative is active. Applicable to all creative types.",
          "type": "boolean"
        },
        "requiredFlashPluginVersion": {
          "type": "string",
          "description": "The minimum required Flash plugin version for this creative. For example, 11.2.202.235. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creative\"."
        },
        "htmlCode": {
          "description": "HTML code for the creative. This is a required field when applicable. This field is ignored if htmlCodeLocked is true. Applicable to the following creative types: all CUSTOM, FLASH_INPAGE, and HTML5_BANNER, and all RICH_MEDIA.",
          "type": "string"
        },
        "version": {
          "description": "The version number helps you keep track of multiple versions of your creative in your reports. The version number will always be auto-generated during insert operations to start at 1. For tracking creatives the version cannot be incremented and will always remain at 1. For all other creative types the version can be incremented only by 1 during update operations. In addition, the version will be automatically incremented by 1 when undergoing Rich Media creative merging. Applicable to all creative types.",
          "format": "int32",
          "type": "integer"
        },
        "counterCustomEvents": {
          "description": "List of counter events configured for the creative. For DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID.",
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "type": "array"
        },
        "thirdPartyBackupImageImpressionsUrl": {
          "type": "string",
          "description": "Third-party URL used to record backup image impressions. Applicable to the following creative types: all RICH_MEDIA."
        },
        "authoringTool": {
          "description": "Authoring tool for HTML5 banner creatives. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "enum": [
            "NINJA",
            "SWIFFY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "autoAdvanceImages": {
          "type": "boolean",
          "description": "Whether images are automatically advanced for image gallery creatives. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY."
        },
        "creativeAssets": {
          "description": "Assets associated with a creative. Applicable to all but the following creative types: INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and REDIRECT",
          "type": "array",
          "items": {
            "$ref": "CreativeAsset"
          }
        },
        "fsCommand": {
          "description": "OpenWindow FSCommand of this creative. This lets the SWF file communicate with either Flash Player or the program hosting Flash Player, such as a web browser. This is only triggered if allowScriptAccess field is true. Applicable to the following creative types: FLASH_INPAGE.",
          "$ref": "FsCommand"
        },
        "latestTraffickedCreativeId": {
          "type": "string",
          "description": "Latest Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "format": "int64"
        },
        "artworkType": {
          "enumDescriptions": [
            "The creative is a Flash creative.",
            "The creative is HTML5.",
            "The creative is HTML5 if available, Flash otherwise.",
            "The creative is Image."
          ],
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ],
          "type": "string",
          "description": "Type of artwork used for the creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "renderingId": {
          "type": "string",
          "format": "int64",
          "description": "ID of current rendering version. This is a read-only field. Applicable to all creative types."
        },
        "backgroundColor": {
          "type": "string",
          "description": "The 6-character HTML color code, beginning with #, for the background of the window area where the Flash file is displayed. Default is white. Applicable to the following creative types: FLASH_INPAGE."
        },
        "commercialId": {
          "description": "Industry standard ID assigned to creative for reach and frequency. Applicable to INSTREAM_VIDEO_REDIRECT creatives.",
          "type": "string"
        },
        "studioAdvertiserId": {
          "format": "int64",
          "description": "Studio advertiser ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "string"
        },
        "clickTags": {
          "items": {
            "$ref": "ClickTag"
          },
          "type": "array",
          "description": "Click tags of the creative. For DISPLAY, FLASH_INPAGE, and HTML5_BANNER creatives, this is a subset of detected click tags for the assets associated with this creative. After creating a flash asset, detected click tags will be returned in the creativeAssetMetadata. When inserting the creative, populate the creative clickTags field using the creativeAssetMetadata.clickTags field. For DISPLAY_IMAGE_GALLERY creatives, there should be exactly one entry in this list for each image creative asset. A click tag is matched with a corresponding creative asset by matching the clickTag.name field with the creativeAsset.assetIdentifier.name field. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "creativeFieldAssignments": {
          "description": "Creative field assignments for this creative. Applicable to all creative types.",
          "type": "array",
          "items": {
            "$ref": "CreativeFieldAssignment"
          }
        },
        "advertiserId": {
          "description": "Required. Advertiser ID of this creative. This is a required field. Applicable to all creative types.",
          "type": "string",
          "format": "int64"
        },
        "allowScriptAccess": {
          "description": "Whether script access is allowed for this creative. This is a read-only and deprecated field which will automatically be set to true on update. Applicable to the following creative types: FLASH_INPAGE.",
          "type": "boolean"
        },
        "mediaDescription": {
          "type": "string",
          "description": "Description of the audio or video ad. Applicable to the following creative types: all INSTREAM_VIDEO, INSTREAM_AUDIO, and all VPAID."
        },
        "compatibility": {
          "type": "array",
          "description": "Compatibilities associated with this creative. This is a read-only field. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. Only pre-existing creatives may have these compatibilities since new creatives will either be assigned DISPLAY or DISPLAY_INTERSTITIAL instead. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard. IN_STREAM_AUDIO refers to rendering in in-stream audio ads developed with the VAST standard. Applicable to all creative types. Acceptable values are: - \"APP\" - \"APP_INTERSTITIAL\" - \"IN_STREAM_VIDEO\" - \"IN_STREAM_AUDIO\" - \"DISPLAY\" - \"DISPLAY_INTERSTITIAL\" ",
          "items": {
            "enum": [
              "DISPLAY",
              "DISPLAY_INTERSTITIAL",
              "APP",
              "APP_INTERSTITIAL",
              "IN_STREAM_VIDEO",
              "IN_STREAM_AUDIO"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "Deprecated enum value. No longer supported.",
              "Deprecated enum value. No longer supported.",
              "",
              ""
            ]
          }
        },
        "studioTraffickedCreativeId": {
          "description": "Studio trafficked creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "format": "int64",
          "type": "string"
        },
        "thirdPartyUrls": {
          "items": {
            "$ref": "ThirdPartyTrackingUrl"
          },
          "type": "array",
          "description": "Third-party URLs for tracking in-stream creative events. Applicable to the following creative types: all INSTREAM_VIDEO, all INSTREAM_AUDIO, and all VPAID."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this creative. This is a read-only, auto-generated field. Applicable to all creative types."
        },
        "studioCreativeId": {
          "format": "int64",
          "description": "Studio creative ID associated with rich media and VPAID creatives. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID.",
          "type": "string"
        },
        "archived": {
          "description": "Whether the creative is archived. Applicable to all creative types.",
          "type": "boolean"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this creative. This is a read-only field. Applicable to all creative types.",
          "$ref": "DimensionValue"
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether the creative is SSL-compliant. This is a read-only field. Applicable to all creative types."
        },
        "obaIcon": {
          "description": "Online behavioral advertising icon to be added to the creative. Applicable to the following creative types: all INSTREAM_VIDEO.",
          "$ref": "ObaIcon"
        },
        "renderingIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the rendering ID of this creative. This is a read-only field. Applicable to all creative types."
        },
        "size": {
          "$ref": "Size",
          "description": "Size associated with this creative. When inserting or updating a creative either the size ID field or size width and height fields can be used. This is a required field when applicable; however for IMAGE, FLASH_INPAGE creatives, and for DISPLAY creatives with a primary asset of type HTML_IMAGE, if left blank, this field will be automatically set using the actual size of the associated image assets. Applicable to the following creative types: DISPLAY, DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER, IMAGE, and all RICH_MEDIA."
        },
        "adTagKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Keywords for a Rich Media creative. Keywords let you customize the creative settings of a Rich Media ad running on your site without having to contact the advertiser. You can use keywords to dynamically change the look or functionality of a creative. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "name": {
          "description": "Required. Name of the creative. This must be less than 256 characters long. Applicable to all creative types.",
          "type": "string"
        },
        "totalFileSize": {
          "format": "int64",
          "type": "string",
          "description": "Combined size of all creative assets. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA, and all VPAID."
        },
        "mediaDuration": {
          "format": "float",
          "description": "Creative audio or video duration in seconds. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO, INSTREAM_AUDIO, all RICH_MEDIA, and all VPAID.",
          "type": "number"
        },
        "additionalSizes": {
          "description": "Additional sizes associated with a responsive creative. When inserting or updating a creative either the size ID field or size width and height fields can be used. Applicable to DISPLAY creatives when the primary asset type is HTML_IMAGE.",
          "items": {
            "$ref": "Size"
          },
          "type": "array"
        },
        "subaccountId": {
          "description": "Subaccount ID of this creative. This field, if left unset, will be auto-generated for both insert and update operations. Applicable to all creative types.",
          "type": "string",
          "format": "int64"
        },
        "syntheticContentAttestationStatus": {
          "type": "string",
          "enum": [
            "SYNTHETIC_CONTENT_ATTESTATION_STATUS_UNSPECIFIED",
            "IS_SYNTHETIC",
            "NOT_SYNTHETIC"
          ],
          "description": "Optional. Whether to add a label to the creative as created or edited using AI when served in regions with local AI labeling regulations. [Learn more about labeling requirements in AI regulations.](https://support.google.com/campaignmanager/answer/17232030)",
          "enumDescriptions": [
            "No attestation has been provided.",
            "Attested as created or edited using AI.",
            "Attested as not created or edited using AI."
          ]
        },
        "htmlCodeLocked": {
          "type": "boolean",
          "description": "Whether HTML code is generated by Campaign Manager or manually entered. Set to true to ignore changes to htmlCode. Applicable to the following creative types: FLASH_INPAGE and HTML5_BANNER."
        },
        "backupImageTargetWindow": {
          "$ref": "TargetWindow",
          "description": "Target window for backup image. Applicable to the following creative types: FLASH_INPAGE and HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "progressOffset": {
          "$ref": "VideoOffset",
          "description": "Amount of time to play the video before counting a view. Applicable to the following creative types: all INSTREAM_VIDEO."
        },
        "skippable": {
          "type": "boolean",
          "description": "Whether the user can choose to skip the creative. Applicable to the following creative types: all INSTREAM_VIDEO and all VPAID."
        },
        "sslOverride": {
          "type": "boolean",
          "description": "Whether creative should be treated as SSL compliant even if the system scan shows it's not. Applicable to all creative types."
        },
        "backupImageReportingLabel": {
          "description": "Reporting label used for HTML5 banner backup image. Applicable to the following creative types: DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "string"
        },
        "overrideCss": {
          "type": "string",
          "description": "Override CSS value for rich media creatives. Applicable to the following creative types: all RICH_MEDIA."
        },
        "convertFlashToHtml5": {
          "description": "Whether Flash assets associated with the creative need to be automatically converted to HTML5. This flag is enabled by default and users can choose to disable it if they don't want the system to generate and use HTML5 asset for this creative. Applicable to the following creative type: FLASH_INPAGE. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "boolean"
        },
        "authoringSource": {
          "type": "string",
          "description": "Source application where creative was authored. Presently, only DBM authored creatives will have this field set. Applicable to all creative types.",
          "enum": [
            "CREATIVE_AUTHORING_SOURCE_DCM",
            "CREATIVE_AUTHORING_SOURCE_DBM",
            "CREATIVE_AUTHORING_SOURCE_STUDIO",
            "CREATIVE_AUTHORING_SOURCE_GWD",
            "CREATIVE_AUTHORING_SOURCE_ACS",
            "CREATIVE_AUTHORING_SOURCE_ADOBE",
            "CREATIVE_AUTHORING_SOURCE_TYPEFACE_AI",
            "CREATIVE_AUTHORING_SOURCE_REMBRAND",
            "CREATIVE_AUTHORING_SOURCE_TRACKTO_STUDIO",
            "CREATIVE_AUTHORING_SOURCE_BORNLOGIC",
            "CREATIVE_AUTHORING_SOURCE_BEGEN_AI"
          ],
          "enumDescriptions": [
            "DCM-UI or external API used to author the creative.",
            "DBM-UI used to author the creative.",
            "Studio-UI used to author the creative.",
            "Google Web Designer used to author the creative.",
            "ACS-UI used to author the creative.",
            "Creative authoring source is Adobe.",
            "Creative authoring source is Typeface.ai.",
            "Creative authoring source is Rembrand.",
            "Creative authoring source is Trackto.",
            "Creative authoring source is Bornlogic.",
            "Creative authoring source is BEGEN_AI."
          ]
        },
        "adParameters": {
          "type": "string",
          "description": "Ad parameters user for VPAID creative. This is a read-only field. Applicable to the following creative types: all VPAID."
        },
        "skipOffset": {
          "$ref": "VideoOffset",
          "description": "Amount of time to play the video before the skip button appears. Applicable to the following creative types: all INSTREAM_VIDEO."
        },
        "exitCustomEvents": {
          "type": "array",
          "description": "List of exit events configured for the creative. For DISPLAY and DISPLAY_IMAGE_GALLERY creatives, these are read-only and auto-generated from clickTags, For DISPLAY, an event is also created from the backupImageReportingLabel. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "universalAdId": {
          "$ref": "UniversalAdId",
          "description": "A Universal Ad ID as per the VAST 4.0 spec. Applicable to the following creative types: INSTREAM_AUDIO and INSTREAM_VIDEO and VPAID."
        },
        "lastModifiedInfo": {
          "description": "Creative last modification information. This is a read-only field. Applicable to all creative types.",
          "$ref": "LastModifiedInfo"
        },
        "type": {
          "description": "Required. Type of this creative. Applicable to all creative types. *Note:* FLASH_INPAGE, HTML5_BANNER, and IMAGE are only used for existing creatives. New creatives should use DISPLAY as a replacement for these types.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMAGE",
            "DISPLAY_REDIRECT",
            "CUSTOM_DISPLAY",
            "INTERNAL_REDIRECT",
            "CUSTOM_DISPLAY_INTERSTITIAL",
            "INTERSTITIAL_INTERNAL_REDIRECT",
            "TRACKING_TEXT",
            "RICH_MEDIA_DISPLAY_BANNER",
            "RICH_MEDIA_INPAGE_FLOATING",
            "RICH_MEDIA_IM_EXPAND",
            "RICH_MEDIA_DISPLAY_EXPANDING",
            "RICH_MEDIA_DISPLAY_INTERSTITIAL",
            "RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL",
            "RICH_MEDIA_MOBILE_IN_APP",
            "FLASH_INPAGE",
            "INSTREAM_VIDEO",
            "VPAID_LINEAR_VIDEO",
            "VPAID_NON_LINEAR_VIDEO",
            "INSTREAM_VIDEO_REDIRECT",
            "RICH_MEDIA_PEEL_DOWN",
            "HTML5_BANNER",
            "DISPLAY",
            "DISPLAY_IMAGE_GALLERY",
            "BRAND_SAFE_DEFAULT_INSTREAM_VIDEO",
            "INSTREAM_AUDIO"
          ]
        },
        "thirdPartyRichMediaImpressionsUrl": {
          "description": "Third-party URL used to record rich media impressions. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string"
        }
      }
    },
    "AdvertiserGroupsListResponse": {
      "type": "object",
      "id": "AdvertiserGroupsListResponse",
      "description": "Advertiser Group List Response",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserGroupsListResponse\"."
        },
        "advertiserGroups": {
          "description": "Advertiser group collection.",
          "items": {
            "$ref": "AdvertiserGroup"
          },
          "type": "array"
        }
      }
    },
    "UserIdentifier": {
      "properties": {
        "hashedEmail": {
          "description": "Hashed email address using SHA-256 hash function after normalization.",
          "type": "string"
        },
        "hashedPhoneNumber": {
          "description": "Hashed phone number using SHA-256 hash function after normalization (E164 standard).",
          "type": "string"
        },
        "addressInfo": {
          "description": "Address information.",
          "$ref": "OfflineUserAddressInfo"
        }
      },
      "description": "User identifying information. Exactly one type of identifier must be specified.",
      "type": "object",
      "id": "UserIdentifier"
    },
    "PlacementGroup": {
      "id": "PlacementGroup",
      "type": "object",
      "properties": {
        "directorySiteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field."
        },
        "externalId": {
          "description": "External ID for this placement.",
          "type": "string"
        },
        "advertiserId": {
          "description": "Advertiser ID of this placement group. This is a required field on insertion.",
          "type": "string",
          "format": "int64"
        },
        "directorySiteId": {
          "type": "string",
          "description": "Directory site ID associated with this placement group. On insert, you must set either this field or the site_id field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "format": "int64"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "name": {
          "type": "string",
          "description": "Name of this placement group. This is a required field and must be less than 256 characters long."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroup\".",
          "type": "string"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "comment": {
          "description": "Comments for this placement group.",
          "type": "string"
        },
        "contentCategoryId": {
          "description": "ID of the content category assigned to this placement group.",
          "type": "string",
          "format": "int64"
        },
        "campaignIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field."
        },
        "childPlacementIds": {
          "description": "IDs of placements which are assigned to this placement group. This is a read-only, auto-generated field.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "createInfo": {
          "description": "Information about the creation of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this placement group. This is a read-only, auto-generated field."
        },
        "subaccountId": {
          "format": "int64",
          "type": "string",
          "description": "Subaccount ID of this placement group. This is a read-only field that can be left blank."
        },
        "activeStatus": {
          "enum": [
            "PLACEMENT_STATUS_UNKNOWN",
            "PLACEMENT_STATUS_ACTIVE",
            "PLACEMENT_STATUS_INACTIVE",
            "PLACEMENT_STATUS_ARCHIVED",
            "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
          ],
          "description": "Whether this placement group is active, inactive, archived or permanently archived.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "campaignId": {
          "format": "int64",
          "description": "Campaign ID of this placement group. This field is required on insertion.",
          "type": "string"
        },
        "placementStrategyId": {
          "description": "ID of the placement strategy assigned to this placement group.",
          "format": "int64",
          "type": "string"
        },
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "siteId": {
          "description": "Site ID associated with this placement group. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "format": "int64",
          "type": "string"
        },
        "primaryPlacementId": {
          "description": "ID of the primary placement, used to calculate the media cost of a roadblock (placement group). Modifying this field will automatically modify the primary field on all affected roadblock child placements.",
          "type": "string",
          "format": "int64"
        },
        "primaryPlacementIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the primary placement. This is a read-only, auto-generated field."
        },
        "placementGroupType": {
          "description": "Type of this placement group. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point, but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting. This field is required on insertion.",
          "enumDescriptions": [
            "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
            "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
          ],
          "type": "string",
          "enum": [
            "PLACEMENT_PACKAGE",
            "PLACEMENT_ROADBLOCK"
          ]
        },
        "pricingSchedule": {
          "description": "Pricing schedule of this placement group. This field is required on insertion.",
          "$ref": "PricingSchedule"
        },
        "accountId": {
          "description": "Account ID of this placement group. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this placement group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "description": "Contains properties of a package or roadblock."
    },
    "TvCampaignSummariesListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummariesListResponse\"."
        },
        "tvCampaignSummaries": {
          "description": "List of TV campaign summaries.",
          "items": {
            "$ref": "TvCampaignSummary"
          },
          "type": "array"
        }
      },
      "id": "TvCampaignSummariesListResponse",
      "type": "object",
      "description": "Response message for TvCampaignSummariesService.List."
    },
    "AccountsListResponse": {
      "description": "Account List Response",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "accounts": {
          "description": "Account collection.",
          "items": {
            "$ref": "Account"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountsListResponse\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AccountsListResponse"
    },
    "SortBy": {
      "type": "object",
      "properties": {
        "sortOrder": {
          "enum": [
            "ASCENDING",
            "DESCENDING"
          ],
          "type": "string",
          "description": "Optional. The sort order of this column.",
          "enumDescriptions": [
            "Ascending order.",
            "Descending order."
          ]
        },
        "name": {
          "description": "Required. The dimension or metric field name to sort on.",
          "type": "string"
        }
      },
      "id": "SortBy",
      "description": "Specifies the sort configuration for a specific field in the report."
    },
    "PlacementStrategiesListResponse": {
      "type": "object",
      "description": "Placement Strategy List Response",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategiesListResponse\".",
          "type": "string"
        },
        "placementStrategies": {
          "description": "Placement strategy collection.",
          "type": "array",
          "items": {
            "$ref": "PlacementStrategy"
          }
        }
      },
      "id": "PlacementStrategiesListResponse"
    },
    "AdsListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "ads": {
          "description": "Ad collection.",
          "items": {
            "$ref": "Ad"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#adsListResponse\".",
          "type": "string"
        }
      },
      "id": "AdsListResponse",
      "description": "Ad List Response",
      "type": "object"
    },
    "TagSetting": {
      "description": "Tag Settings",
      "id": "TagSetting",
      "properties": {
        "includeClickTracking": {
          "description": "Whether click-tracking string should be included in the tags.",
          "type": "boolean"
        },
        "additionalKeyValues": {
          "type": "string",
          "description": "Additional key-values to be included in tags. Each key-value pair must be of the form key=value, and pairs must be separated by a semicolon (;). Keys and values must not contain commas. For example, id=2;color=red is a valid value for this field."
        },
        "includeUnescapedlpurlMacro": {
          "type": "boolean",
          "description": "Optional. Indicates that the unescapedlpurl macro should be included in the tag for the static landing page. New placements will default to the value set on their site."
        },
        "keywordOption": {
          "enumDescriptions": [
            "Creates DART ad tags with a placeholder, such as kw=[keyword] and a list of keywords. The site trafficker must replace [keyword] with the keywords targeted by an ad.",
            "Creates DART ad tags that do not have a placeholder for keywords and creates a list of keywords separately from the DART ad tags. Use this option if the site uses a keyword referrer or is a site that uses DART for Publishers.",
            "Results in unique tag generation for each relevant keyword during tag export. For example, an ad with three keywords will generate three tags with each tag having its kw= parameter filled in with the relevant keyword values."
          ],
          "enum": [
            "PLACEHOLDER_WITH_LIST_OF_KEYWORDS",
            "IGNORE",
            "GENERATE_SEPARATE_TAG_FOR_EACH_KEYWORD"
          ],
          "type": "string",
          "description": "Option specifying how keywords are embedded in ad tags. This setting can be used to specify whether keyword placeholders are inserted in placement tags for this site. Publishers can then add keywords to those placeholders."
        },
        "includeClickThroughUrls": {
          "description": "Whether static landing page URLs should be included in the tags. New placements will default to the value set on their site.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "BillingProfile": {
      "description": "Contains properties of a Campaign Manager Billing Profile.",
      "id": "BillingProfile",
      "properties": {
        "secondaryPaymentsCustomerId": {
          "type": "string",
          "description": "The ID of the secondary payment customer the billing profile belongs to. This is a read-only field."
        },
        "id": {
          "type": "string",
          "description": "ID of this billing profile. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "name": {
          "description": "Name of this billing profile. This is a required field and must be less than 256 characters long and must be unique among billing profile in the same account.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingProfile\"."
        },
        "isDefault": {
          "description": "True if the billing profile is the account default profile. This is a read-only field.",
          "type": "boolean"
        },
        "currencyCode": {
          "type": "string",
          "description": "Billing currency code in ISO 4217 format.This is a read-only field."
        },
        "consolidatedInvoice": {
          "description": "Consolidated invoice option for this billing profile. Used to get a single, consolidated invoice across the chosen invoice level.",
          "type": "boolean"
        },
        "paymentsAccountId": {
          "description": "The ID of the payment account the billing profile belongs to. This is a read-only field.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Status of this billing profile.This is a read-only field.",
          "enum": [
            "UNDER_REVIEW",
            "ACTIVE",
            "ARCHIVED"
          ],
          "type": "string"
        },
        "purchaseOrder": {
          "description": "Purchase order (PO) for this billing profile. This PO number is used in the invoices for all of the advertisers in this billing profile.",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code of this billing profile.This is a read-only field.",
          "type": "string"
        },
        "paymentsCustomerId": {
          "type": "string",
          "description": "The ID of the payment customer the billing profile belongs to. This is a read-only field."
        },
        "invoiceLevel": {
          "enum": [
            "ACCOUNT_LEVEL",
            "ADVERTISER_LEVEL",
            "CAMPAIGN_LEVEL"
          ],
          "description": "Invoice level for this billing profile. Used to group fees into separate invoices by account, advertiser, or campaign.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "PlacementTag": {
      "properties": {
        "placementId": {
          "description": "Placement ID",
          "format": "int64",
          "type": "string"
        },
        "tagDatas": {
          "type": "array",
          "description": "Tags generated for this placement.",
          "items": {
            "$ref": "TagData"
          }
        }
      },
      "description": "Placement Tag",
      "id": "PlacementTag",
      "type": "object"
    },
    "ListPopulationRule": {
      "description": "Remarketing List Population Rule.",
      "properties": {
        "listPopulationClauses": {
          "description": "Clauses that make up this list population rule. Clauses are joined by ANDs, and the clauses themselves are made up of list population terms which are joined by ORs.",
          "items": {
            "$ref": "ListPopulationClause"
          },
          "type": "array"
        },
        "floodlightActivityId": {
          "type": "string",
          "format": "int64",
          "description": "Floodlight activity ID associated with this rule. This field can be left blank."
        },
        "floodlightActivityName": {
          "description": "Name of floodlight activity associated with this rule. This is a read-only, auto-generated field.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListPopulationRule"
    },
    "Site": {
      "id": "Site",
      "description": "Contains properties of a site.",
      "type": "object",
      "properties": {
        "adServingPlatformId": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Ad serving platform ID to identify the ad serving platform used by the site. Measurement partners can use this field to add ad-server specific macros. If set, this value acts as the default during placement creation. Possible values are: * `1`, Adelphic * `2`, Adform * `3`, Adobe * `4`, Amobee * `5`, Basis (Centro) * `6`, Beeswax * `7`, Amazon * `8`, DV360 (DBM) * `9`, Innovid * `10`, MediaMath * `11`, Roku OneView DSP * `12`, TabMo Hawk * `13`, The Trade Desk * `14`, Xandr Invest DSP * `15`, Yahoo DSP * `16`, Zeta Global * `17`, Scaleout * `18`, Bidtellect * `19`, Unicorn * `20`, Teads * `21`, Quantcast * `22`, Cognitiv * `23`, AdTheorent * `24`, DeepIntent * `25`, Pulsepoint"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#site\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this site.This is a required field. Must be less than 128 characters long. If this site is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this site is a top-level site, and the name must be unique among top-level sites of the same account.",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID of this site. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "keyName": {
          "description": "Key name of this site. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this site. This is a read-only, auto-generated field."
        },
        "videoSettings": {
          "description": "Default video settings for new placements created under this site. This value will be used to populate the placements.videoSettings field, when no value is specified for the new placement.",
          "$ref": "SiteVideoSettings"
        },
        "approved": {
          "type": "boolean",
          "description": "Whether this site is approved."
        },
        "directorySiteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field."
        },
        "siteContacts": {
          "type": "array",
          "items": {
            "$ref": "SiteContact"
          },
          "description": "Site contacts."
        },
        "siteSettings": {
          "$ref": "SiteSettings",
          "description": "Site-wide settings."
        },
        "directorySiteId": {
          "description": "Directory site associated with this site. This is a required field that is read-only after insertion.",
          "type": "string",
          "format": "int64"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this site. This is a read-only field that can be left blank.",
          "type": "string"
        }
      }
    },
    "ClickTag": {
      "type": "object",
      "properties": {
        "eventName": {
          "type": "string",
          "description": "Advertiser event name associated with the click tag. This field is used by DISPLAY_IMAGE_GALLERY and HTML5_BANNER creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "name": {
          "description": "Parameter name for the specified click tag. For DISPLAY_IMAGE_GALLERY creative assets, this field must match the value of the creative asset's creativeAssetId.name field.",
          "type": "string"
        },
        "clickThroughUrl": {
          "description": "Parameter value for the specified click tag. This field contains a click-through url.",
          "$ref": "CreativeClickThroughUrl"
        }
      },
      "description": "Creative Click Tag.",
      "id": "ClickTag"
    },
    "ConversionsBatchInsertRequest": {
      "id": "ConversionsBatchInsertRequest",
      "description": "Insert Conversions Request.",
      "type": "object",
      "properties": {
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Describes how encryptedUserId or encryptedUserIdCandidates[] is encrypted. This is a required field if encryptedUserId or encryptedUserIdCandidates[] is used."
        },
        "conversions": {
          "description": "The set of conversions to insert.",
          "items": {
            "$ref": "Conversion"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchInsertRequest\"."
        }
      }
    },
    "CreativeAssetId": {
      "id": "CreativeAssetId",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMAGE",
            "FLASH",
            "VIDEO",
            "HTML",
            "HTML_IMAGE",
            "AUDIO"
          ],
          "description": "Type of asset to upload. This is a required field. FLASH and IMAGE are no longer supported for new uploads. All image assets should use HTML_IMAGE."
        },
        "name": {
          "description": "Name of the creative asset. This is a required field while inserting an asset. After insertion, this assetIdentifier is used to identify the uploaded asset. Characters in the name must be alphanumeric or one of the following: \".-_ \". Spaces are allowed.",
          "type": "string"
        }
      },
      "description": "Creative Asset ID."
    },
    "Recipient": {
      "description": "Represents a recipient.",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the recipient."
        },
        "deliveryType": {
          "description": "The delivery type for the recipient.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "LINK",
            "ATTACHMENT"
          ],
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#recipient.",
          "type": "string"
        }
      },
      "id": "Recipient"
    },
    "TvCampaignDetail": {
      "description": "TvCampaignDetail contains data from a TV campaign for specific start dates and date windows.",
      "properties": {
        "id": {
          "description": "ID of this TV campaign.",
          "type": "string"
        },
        "timepoints": {
          "type": "array",
          "items": {
            "$ref": "TvCampaignTimepoint"
          },
          "description": "The timepoints of the TV campaign."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummary\"."
        }
      },
      "type": "object",
      "id": "TvCampaignDetail"
    },
    "VideoProcessingData": {
      "description": "Contains processing data for a video asset.",
      "type": "object",
      "id": "VideoProcessingData",
      "properties": {
        "processingState": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PROCESSING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The processing state is unknown.",
            "The asset is being processed.",
            "The asset was successfully processed.",
            "The asset failed to be processed."
          ],
          "description": "Output only. The processing state of the studio creative asset."
        },
        "errorReason": {
          "type": "string",
          "description": "For a FAILED processing state, the error reason discovered."
        }
      }
    },
    "Element": {
      "type": "object",
      "description": "Contains the element of the dynamic feed.",
      "properties": {
        "defaultFieldId": {
          "description": "Optional. The field ID to specify the field that represents the default field in the feed.",
[...]
