{
  "discoveryVersion": "v1",
  "revision": "20260721",
  "batchPath": "batch",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        }
      }
    }
  },
  "protocol": "rest",
  "resources": {
    "contentCategories": {
      "methods": {
        "update": {
          "request": {
            "$ref": "ContentCategory"
          },
          "response": {
            "$ref": "ContentCategory"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64"
            }
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/contentCategories",
          "description": "Updates an existing content category.",
          "id": "dfareporting.contentCategories.update",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/contentCategories"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "ContentCategory"
          },
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "path": "userprofiles/{+profileId}/contentCategories",
          "request": {
            "$ref": "ContentCategory"
          },
          "id": "dfareporting.contentCategories.insert",
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Inserts a new content category.",
          "httpMethod": "POST"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "id": "dfareporting.contentCategories.list",
          "parameters": {
            "ids": {
              "type": "string",
              "description": "Select only content categories with these IDs.",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"contentcategory*2015\" will return objects with names like \"contentcategory June 2015\", \"contentcategory April 2015\", or simply \"contentcategory 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"contentcategory\" will match objects with name \"my contentcategory\", \"contentcategory 2015\", or simply \"contentcategory\"."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "sortOrder": {
              "type": "string",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            }
          },
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/contentCategories",
          "description": "Retrieves a list of content categories, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "ContentCategoriesListResponse"
          }
        },
        "patch": {
          "path": "userprofiles/{+profileId}/contentCategories",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "description": "Required. ContentCategory ID.",
              "format": "int64",
              "type": "string",
              "location": "query",
              "required": true
            },
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "description": "Updates an existing content category. This method supports patch semantics.",
          "response": {
            "$ref": "ContentCategory"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "ContentCategory"
          },
          "id": "dfareporting.contentCategories.patch"
        },
        "delete": {
          "parameters": {
            "id": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Content category ID."
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "description": "Deletes an existing content category.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/contentCategories/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.contentCategories.delete"
        },
        "get": {
          "httpMethod": "GET",
          "id": "dfareporting.contentCategories.get",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "id": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "Content category ID.",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "ContentCategory"
          },
          "path": "userprofiles/{+profileId}/contentCategories/{+id}",
          "description": "Gets one content category by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "postalCodes": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PostalCode"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "code": {
              "location": "path",
              "type": "string",
              "description": "Postal code ID.",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId",
            "code"
          ],
          "id": "dfareporting.postalCodes.get",
          "path": "userprofiles/{+profileId}/postalCodes/{+code}",
          "description": "Gets one postal code by ID.",
          "flatPath": "userprofiles/{userprofilesId}/postalCodes/{postalCodesId}"
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/postalCodes",
          "id": "dfareporting.postalCodes.list",
          "path": "userprofiles/{+profileId}/postalCodes",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Retrieves a list of postal codes.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PostalCodesListResponse"
          }
        }
      }
    },
    "directorySites": {
      "methods": {
        "list": {
          "description": "Retrieves a list of directory sites, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "id": "dfareporting.directorySites.list",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "DirectorySitesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query",
              "type": "integer"
            },
            "acceptsInterstitialPlacements": {
              "type": "boolean",
              "location": "query",
              "description": "This search filter is no longer supported and will have no effect on the results returned."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "acceptsInStreamVideoPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "This search filter is no longer supported and will have no effect on the results returned."
            },
            "ids": {
              "type": "string",
              "description": "Select only directory sites with these IDs.",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            },
            "active": {
              "type": "boolean",
              "description": "Select only active directory sites. Leave blank to retrieve both active and inactive directory sites.",
              "location": "query"
            },
            "acceptsPublisherPaidPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "Select only directory sites that accept publisher paid placements. This field can be left blank."
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name, ID or URL. Wildcards (*) are allowed. For example, \"directory site*2015\" will return objects with names like \"directory site June 2015\", \"directory site April 2015\", or simply \"directory site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"directory site\" will match objects with name \"my directory site\", \"directory site 2015\" or simply, \"directory site\".",
              "location": "query"
            },
            "dfpNetworkCode": {
              "type": "string",
              "description": "Select only directory sites with this Ad Manager network code.",
              "location": "query"
            },
            "sortField": {
              "type": "string",
              "location": "query",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "profileId": {
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/directorySites",
          "httpMethod": "GET"
        },
        "insert": {
          "description": "Inserts a new directory site.",
          "path": "userprofiles/{+profileId}/directorySites",
          "request": {
            "$ref": "DirectorySite"
          },
          "id": "dfareporting.directorySites.insert",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "response": {
            "$ref": "DirectorySite"
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/directorySites/{directorySitesId}",
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            },
            "id": {
              "type": "string",
              "required": true,
              "description": "Directory site ID.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64"
            }
          },
          "description": "Gets one directory site by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.directorySites.get",
          "path": "userprofiles/{+profileId}/directorySites/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "DirectorySite"
          }
        }
      }
    },
    "dimensionValues": {
      "methods": {
        "query": {
          "id": "dfareporting.dimensionValues.query",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "response": {
            "$ref": "DimensionValueList"
          },
          "description": "Retrieves list of report dimension values for a list of filters.",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}/dimensionvalues/query",
          "flatPath": "userprofiles/{profileId}/dimensionvalues/query",
          "request": {
            "$ref": "DimensionValueRequest"
          },
          "parameters": {
            "maxResults": {
              "format": "int32",
              "location": "query",
              "default": "100",
              "type": "integer",
              "description": "Maximum number of results to return."
            },
            "profileId": {
              "description": "The Campaign Manager 360 user profile ID.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "description": "The value of the nextToken from the previous result page.",
              "type": "string"
            }
          },
          "httpMethod": "POST"
        }
      }
    },
    "advertiserGroups": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/advertiserGroups/{+id}",
          "id": "dfareporting.advertiserGroups.delete",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Advertiser group ID.",
              "format": "int64"
            }
          },
          "httpMethod": "DELETE",
          "description": "Deletes an existing advertiser group.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups/{advertiserGroupsId}"
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "location": "query",
              "type": "string",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "format": "int32",
              "type": "integer"
            },
            "sortField": {
              "location": "query",
              "type": "string",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser group June 2015\", \"advertiser group April 2015\", or simply \"advertiser group 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertisergroup\" will match objects with name \"my advertisergroup\", \"advertisergroup 2015\", or simply \"advertisergroup\"."
            },
            "ids": {
              "repeated": true,
              "format": "int64",
              "type": "string",
              "description": "Select only advertiser groups with these IDs.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            }
          },
          "description": "Retrieves a list of advertiser groups, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AdvertiserGroupsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "id": "dfareporting.advertiserGroups.list"
        },
        "patch": {
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "description": "Updates an existing advertiser group. This method supports patch semantics.",
          "id": "dfareporting.advertiserGroups.patch",
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "id": {
              "description": "Required. Advertiser Group ID.",
              "location": "query",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH"
        },
        "get": {
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "id": "dfareporting.advertiserGroups.get",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "description": "Advertiser group ID.",
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one advertiser group by ID.",
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups/{advertiserGroupsId}",
          "path": "userprofiles/{+profileId}/advertiserGroups/{+id}"
        },
        "insert": {
          "description": "Inserts a new advertiser group.",
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "id": "dfareporting.advertiserGroups.insert",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "httpMethod": "POST"
        },
        "update": {
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "id": "dfareporting.advertiserGroups.update",
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "description": "Updates an existing advertiser group.",
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups"
        }
      }
    },
    "connectionTypes": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/connectionTypes/{connectionTypesId}",
          "path": "userprofiles/{+profileId}/connectionTypes/{+id}",
          "description": "Gets one connection type by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "description": "Connection type ID.",
              "pattern": "^[^/]+$",
              "required": true
            },
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "id": "dfareporting.connectionTypes.get",
          "response": {
            "$ref": "ConnectionType"
          }
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/connectionTypes",
          "description": "Retrieves a list of connection types.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.connectionTypes.list",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "response": {
            "$ref": "ConnectionTypesListResponse"
          },
          "path": "userprofiles/{+profileId}/connectionTypes",
          "httpMethod": "GET"
        }
      }
    },
    "accountPermissionGroups": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true
            },
            "id": {
              "description": "Account permission group ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "id": "dfareporting.accountPermissionGroups.get",
          "flatPath": "userprofiles/{userprofilesId}/accountPermissionGroups/{accountPermissionGroupsId}",
          "response": {
            "$ref": "AccountPermissionGroup"
          },
          "description": "Gets one account permission group by ID.",
          "path": "userprofiles/{+profileId}/accountPermissionGroups/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "id": "dfareporting.accountPermissionGroups.list",
          "path": "userprofiles/{+profileId}/accountPermissionGroups",
          "response": {
            "$ref": "AccountPermissionGroupsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves the list of account permission groups.",
          "flatPath": "userprofiles/{userprofilesId}/accountPermissionGroups",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true
            }
          }
        }
      }
    },
    "placementGroups": {
      "methods": {
        "patch": {
          "path": "userprofiles/{+profileId}/placementGroups",
          "response": {
            "$ref": "PlacementGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path"
            },
            "id": {
              "location": "query",
              "description": "Required. Placement ID.",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "description": "Updates an existing placement group. This method supports patch semantics.",
          "id": "dfareporting.placementGroups.patch",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "PlacementGroup"
          }
        },
        "list": {
          "description": "Retrieves a list of placement groups, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "parameters": {
            "maxEndDate": {
              "type": "string",
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "minStartDate": {
              "location": "query",
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string"
            },
            "placementStrategyIds": {
              "location": "query",
              "repeated": true,
              "description": "Select only placement groups that are associated with these placement strategies.",
              "format": "int64",
              "type": "string"
            },
            "advertiserIds": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "description": "Select only placement groups that belong to these advertisers."
            },
            "activeStatus": {
              "repeated": true,
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Select only placements with these active statuses.",
              "type": "string",
              "location": "query"
            },
            "campaignIds": {
              "type": "string",
              "description": "Select only placement groups that belong to these campaigns.",
              "repeated": true,
              "location": "query",
              "format": "int64"
            },
            "directorySiteIds": {
              "repeated": true,
              "description": "Select only placement groups that are associated with these directory sites.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "pricingTypes": {
              "description": "Select only placement groups with these pricing types.",
              "location": "query",
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "repeated": true
            },
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "siteIds": {
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only placement groups that are associated with these sites.",
              "location": "query"
            },
            "contentCategoryIds": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Select only placement groups that are associated with these content categories.",
              "repeated": true
            },
            "ids": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "repeated": true,
              "description": "Select only placement groups with these IDs."
            },
            "placementGroupType": {
              "enumDescriptions": [
                "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
                "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
              ],
              "enum": [
                "PLACEMENT_PACKAGE",
                "PLACEMENT_ROADBLOCK"
              ],
              "type": "string",
              "location": "query",
              "description": "Select only placement groups belonging with this group type. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting."
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "default": "800"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "default": "ASCENDING",
              "location": "query"
            },
            "maxStartDate": {
              "location": "query",
              "type": "string",
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "minEndDate": {
              "location": "query",
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for placement groups by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placement groups with names like \"placement group June 2015\", \"placement group May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementgroup\" will match placement groups with name \"my placementgroup\", \"placementgroup 2015\", or simply \"placementgroup\"."
            }
          },
          "response": {
            "$ref": "PlacementGroupsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementGroups.list",
          "path": "userprofiles/{+profileId}/placementGroups"
        },
        "insert": {
          "description": "Inserts a new placement group.",
          "path": "userprofiles/{+profileId}/placementGroups",
          "request": {
            "$ref": "PlacementGroup"
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "response": {
            "$ref": "PlacementGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementGroups.insert",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64"
            }
          },
          "httpMethod": "POST"
        },
        "update": {
          "description": "Updates an existing placement group.",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/placementGroups",
          "id": "dfareporting.placementGroups.update",
          "request": {
            "$ref": "PlacementGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "response": {
            "$ref": "PlacementGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ]
        },
        "get": {
          "response": {
            "$ref": "PlacementGroup"
          },
          "id": "dfareporting.placementGroups.get",
          "path": "userprofiles/{+profileId}/placementGroups/{+id}",
          "httpMethod": "GET",
          "description": "Gets one placement group by ID.",
          "parameters": {
            "id": {
              "type": "string",
              "description": "Placement group ID.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            },
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementGroups/{placementGroupsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "operatingSystems": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one operating system by DART ID.",
          "id": "dfareporting.operatingSystems.get",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystems/{operatingSystemsId}",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "dartId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "Operating system DART ID."
            }
          },
          "response": {
            "$ref": "OperatingSystem"
          },
          "parameterOrder": [
            "profileId",
            "dartId"
          ],
          "path": "userprofiles/{+profileId}/operatingSystems/{+dartId}"
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "OperatingSystemsListResponse"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.operatingSystems.list",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of operating systems.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/operatingSystems",
          "path": "userprofiles/{+profileId}/operatingSystems"
        }
      }
    },
    "creativeGroups": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "id": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "Creative group ID.",
              "required": true
            }
          },
          "response": {
            "$ref": "CreativeGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups/{creativeGroupsId}",
          "id": "dfareporting.creativeGroups.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one creative group by ID.",
          "path": "userprofiles/{+profileId}/creativeGroups/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "httpMethod": "POST",
          "response": {
            "$ref": "CreativeGroup"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/creativeGroups",
          "description": "Inserts a new creative group.",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeGroups.insert",
          "request": {
            "$ref": "CreativeGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups"
        },
        "update": {
          "request": {
            "$ref": "CreativeGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeGroups",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "id": "dfareporting.creativeGroups.update",
          "description": "Updates an existing creative group.",
          "response": {
            "$ref": "CreativeGroup"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "PUT"
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.creativeGroups.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeGroupsListResponse"
          },
          "description": "Retrieves a list of creative groups, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/creativeGroups",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "parameters": {
            "groupNumber": {
              "type": "integer",
              "location": "query",
              "description": "Select only creative groups that belong to this subgroup.",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "ids": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only creative groups with these IDs."
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for creative groups by name or ID. Wildcards (*) are allowed. For example, \"creativegroup*2015\" will return creative groups with names like \"creativegroup June 2015\", \"creativegroup April 2015\", or simply \"creativegroup 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativegroup\" will match creative groups with the name \"my creativegroup\", \"creativegroup 2015\", or simply \"creativegroup\".",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "location": "query"
            },
            "advertiserIds": {
              "format": "int64",
              "description": "Select only creative groups that belong to these advertisers.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID"
            },
            "profileId": {
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "GET"
        },
        "patch": {
          "id": "dfareporting.creativeGroups.patch",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "request": {
            "$ref": "CreativeGroup"
          },
          "description": "Updates an existing creative group. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "id": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. Creative Group ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeGroups",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "CreativeGroup"
          }
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/languages",
          "description": "Retrieves a list of languages.",
          "id": "dfareporting.languages.list",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/languages",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "regions": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of regions.",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/regions",
          "id": "dfareporting.regions.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/regions",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "RegionsListResponse"
          }
        }
      }
    },
    "placements": {
      "methods": {
        "generatetags": {
          "path": "userprofiles/{+profileId}/placements/generatetags",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementsGenerateTagsResponse"
          },
          "description": "Generates tags for a placement.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placements/generatetags",
          "httpMethod": "POST",
          "id": "dfareporting.placements.generatetags",
          "parameters": {
            "tagFormats": {
              "repeated": true,
              "type": "string",
              "description": "Tag formats to generate for these placements. *Note:* PLACEMENT_TAG_STANDARD can only be generated for 1x1 placements.",
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "PLACEMENT_TAG_STANDARD",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_IFRAME_ILAYER",
                "PLACEMENT_TAG_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
                "PLACEMENT_TAG_CLICK_COMMANDS",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
                "PLACEMENT_TAG_TRACKING",
                "PLACEMENT_TAG_TRACKING_IFRAME",
                "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
                "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
              ]
            },
            "placementIds": {
              "description": "Generate tags for these placements.",
              "repeated": true,
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "campaignId": {
              "description": "Generate placements belonging to this campaign. This is a required field.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "tagProperties.dcDbmMacroIncluded": {
              "description": "Optional. Indicates whether to include the dc_dbm macro in the generated tags. [Learn more](https://support.google.com/campaignmanager/answer/9280273) about this macro.",
              "type": "boolean",
              "location": "query"
            },
            "tagProperties.tcfGdprMacrosIncluded": {
              "type": "boolean",
              "default": "true",
              "description": "Optional. Indicates whether to include the TCF macro in the generated tags. Default true. [Learn more](https://support.google.com/campaignmanager/answer/10031693) about this macro.",
              "location": "query"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64"
            },
            "tagProperties.gppMacrosIncluded": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Indicates whether to include the GPP macro in the generated tags. [Learn more](https://support.google.com/campaignmanager/answer/10031693) about this macro."
            }
          }
        },
        "get": {
          "path": "userprofiles/{+profileId}/placements/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/placements/{placementsId}",
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Placement ID."
            },
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placements.get",
          "description": "Gets one placement by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Placement"
          }
        },
        "patch": {
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "id": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Required. Placement ID.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "id": "dfareporting.placements.patch",
          "description": "Updates an existing placement. This method supports patch semantics.",
          "request": {
            "$ref": "Placement"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Placement"
          },
          "path": "userprofiles/{+profileId}/placements"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of placements, possibly filtered. This method supports paging.",
          "id": "dfareporting.placements.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "PlacementsListResponse"
          },
          "parameters": {
            "maxEndDate": {
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string",
              "location": "query"
            },
            "ids": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only placements with these IDs.",
              "repeated": true
            },
            "groupIds": {
              "description": "Select only placements that belong to these placement groups.",
              "format": "int64",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "campaignIds": {
              "location": "query",
              "description": "Select only placements that belong to these campaigns.",
              "type": "string",
              "format": "int64",
              "repeated": true
            },
            "advertiserIds": {
              "format": "int64",
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Select only placements that belong to these advertisers."
            },
            "maxStartDate": {
              "type": "string",
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query"
            },
            "sizeIds": {
              "format": "int64",
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Select only placements that are associated with these sizes."
            },
            "compatibilities": {
              "description": "Select only placements that are associated with these compatibilities. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ],
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ]
            },
            "sortField": {
              "type": "string",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list."
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for placements by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placements with names like \"placement June 2015\", \"placement May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placement\" will match placements with name \"my placement\", \"placement 2015\", or simply \"placement\" ."
            },
            "siteIds": {
              "location": "query",
              "description": "Select only placements that are associated with these sites.",
              "type": "string",
              "repeated": true,
              "format": "int64"
            },
            "directorySiteIds": {
              "type": "string",
              "repeated": true,
              "description": "Select only placements that are associated with these directory sites.",
              "location": "query",
              "format": "int64"
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "minStartDate": {
              "location": "query",
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "default": "1000",
              "description": "Maximum number of results to return."
            },
            "sortOrder": {
              "type": "string",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING"
            },
            "contentCategoryIds": {
              "description": "Select only placements that are associated with these content categories.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "minEndDate": {
              "location": "query",
              "type": "string",
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "activeStatus": {
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Select only placements with these active statuses.",
              "type": "string",
              "repeated": true
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "format": "int64"
            },
            "paymentSource": {
              "enum": [
                "PLACEMENT_AGENCY_PAID",
                "PLACEMENT_PUBLISHER_PAID"
              ],
              "location": "query",
              "description": "Select only placements with this payment source.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "placementStrategyIds": {
              "format": "int64",
              "description": "Select only placements that are associated with these placement strategies.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "pricingTypes": {
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "repeated": true,
              "description": "Select only placements with these pricing types.",
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ],
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/placements"
        },
        "insert": {
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "Placement"
          },
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/placements",
          "id": "dfareporting.placements.insert",
          "response": {
            "$ref": "Placement"
          },
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "description": "Inserts a new placement.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placements.update",
          "path": "userprofiles/{+profileId}/placements",
          "httpMethod": "PUT",
          "response": {
            "$ref": "Placement"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "description": "Updates an existing placement.",
          "request": {
            "$ref": "Placement"
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placements"
        }
      }
    },
    "creativeAssets": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "parameters": {
            "advertiserId": {
              "location": "path",
              "description": "Advertiser ID of this creative. This is a required field.",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "supportsMediaUpload": true,
          "description": "Inserts a new creative asset.",
          "httpMethod": "POST",
          "request": {
            "$ref": "CreativeAssetMetadata"
          },
          "response": {
            "$ref": "CreativeAssetMetadata"
          },
          "mediaUpload": {
            "maxSize": "1073741824",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/dfareporting/v5/userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeAssets/{creativeAssetsId}/creativeAssets",
          "path": "userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets",
          "id": "dfareporting.creativeAssets.insert"
        }
      }
    },
    "billingProfiles": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/billingProfiles",
          "description": "Retrieves a list of billing profiles, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles",
          "id": "dfareporting.billingProfiles.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "BillingProfilesListResponse"
          },
          "parameters": {
            "name": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for billing profiles by name. Wildcards (*) are allowed. For example, \"profile*2020\" will return objects with names like \"profile June 2020\", \"profile April 2020\", or simply \"profile 2020\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"profile\" will match objects with name \"my profile\", \"profile 2021\", or simply \"profile\"."
            },
            "subaccountIds": {
              "description": "Select only billing profile with the specified subaccount.When only_suggestion is true, only a single subaccount_id is supported.",
              "repeated": true,
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING"
            },
            "onlySuggestion": {
              "type": "boolean",
              "location": "query",
              "description": "Select only billing profile which is suggested for the currency_code & subaccount_id using the Billing Suggestion API."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "currency_code": {
              "description": "Select only billing profile with currency.",
              "type": "string",
              "location": "query"
            },
            "sortField": {
              "location": "query",
              "default": "ID",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "ids": {
              "type": "string",
              "description": "Select only billing profile with these IDs.",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "status": {
              "enum": [
                "UNDER_REVIEW",
                "ACTIVE",
                "ARCHIVED"
              ],
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Select only billing profile with the specified status."
            },
            "maxResults": {
              "default": "1000",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "path": "userprofiles/{+profileId}/billingProfiles",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "BillingProfile"
          },
          "response": {
            "$ref": "BillingProfile"
          },
          "description": "Updates an existing billing profile.",
          "id": "dfareporting.billingProfiles.update"
        },
        "get": {
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Billing Profile ID.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one billing profile by ID.",
          "httpMethod": "GET",
          "id": "dfareporting.billingProfiles.get",
          "path": "userprofiles/{+profileId}/billingProfiles/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "BillingProfile"
          }
        }
      }
    },
    "files": {
      "methods": {
        "get": {
          "parameterOrder": [
            "reportId",
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "supportsMediaDownload": true,
          "path": "reports/{reportId}/files/{fileId}",
          "httpMethod": "GET",
          "flatPath": "reports/{reportId}/files/{fileId}",
          "id": "dfareporting.files.get",
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID of the report file.",
              "format": "int64",
              "type": "string"
            },
            "reportId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "The ID of the report."
            }
          },
          "description": "Retrieves a report file by its report ID and file ID. This method supports media download."
        },
        "list": {
          "response": {
            "$ref": "FileList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "id": "dfareporting.files.list",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{profileId}/files",
          "description": "Lists files for a user profile.",
          "parameters": {
            "pageToken": {
              "description": "The value of the nextToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "location": "query",
              "default": "10"
            },
            "scope": {
              "location": "query",
              "type": "string",
              "default": "MINE",
              "enumDescriptions": [
                "All files in account.",
                "My files.",
                "Files shared with me."
              ],
              "enum": [
                "ALL",
                "MINE",
                "SHARED_WITH_ME"
              ],
              "description": "The scope that defines which results are returned."
            },
            "sortField": {
              "location": "query",
              "default": "LAST_MODIFIED_TIME",
              "description": "The field by which to sort the list.",
              "type": "string",
              "enumDescriptions": [
                "Sort by file ID.",
                "Sort by 'lastmodifiedAt' field."
              ],
              "enum": [
                "ID",
                "LAST_MODIFIED_TIME"
              ]
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "description": "Order of sorted results.",
              "default": "DESCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            },
            "profileId": {
              "description": "The Campaign Manager 360 user profile ID.",
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/files"
        }
      }
    },
    "creativeFieldValues": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "description": "Retrieves a list of creative field values, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "response": {
            "$ref": "CreativeFieldValuesListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "creativeFieldId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Creative field ID for this creative field value.",
              "type": "string"
            },
            "sortField": {
              "enum": [
                "ID",
                "VALUE"
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "location": "query"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "format": "int64",
              "description": "Select only creative field values with these IDs.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for creative field values by their values. Wildcards (e.g. *) are not allowed.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "id": "dfareporting.creativeFieldValues.list"
        },
        "delete": {
          "id": "dfareporting.creativeFieldValues.delete",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Deletes an existing creative field value.",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "Creative Field Value ID"
            },
            "creativeFieldId": {
              "required": true,
              "type": "string",
              "description": "Creative field ID for this creative field value.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64"
            }
          },
          "httpMethod": "DELETE",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ]
        },
        "insert": {
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "creativeFieldId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "Creative field ID for this creative field value.",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "description": "Inserts a new creative field value.",
          "id": "dfareporting.creativeFieldValues.insert",
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues"
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "creativeFieldId": {
              "description": "Creative field ID for this creative field value.",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing creative field value.",
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "id": "dfareporting.creativeFieldValues.update"
        },
        "get": {
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "id": "dfareporting.creativeFieldValues.get",
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one creative field value by ID.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "creativeFieldId": {
              "format": "int64",
              "description": "Creative field ID for this creative field value.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "id": {
              "description": "Creative Field Value ID",
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}"
        },
        "patch": {
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true
            },
            "id": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "CreativeFieldValue ID.",
              "required": true
            },
            "creativeFieldId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "CreativeField ID.",
              "location": "path"
            }
          },
          "id": "dfareporting.creativeFieldValues.patch",
          "httpMethod": "PATCH",
          "description": "Updates an existing creative field value. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ]
        }
      }
    },
    "dynamicProfiles": {
      "methods": {
        "publish": {
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "dynamicProfileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Required. Dynamic profile ID."
            }
          },
          "httpMethod": "POST",
          "id": "dfareporting.dynamicProfiles.publish",
          "description": "Publish for a dynamic profile.",
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/publish",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/publish"
        },
        "get": {
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}",
          "id": "dfareporting.dynamicProfiles.get",
          "description": "Gets a dynamic profile by ID.",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/dynamicProfiles/{+dynamicProfileId}",
          "response": {
            "$ref": "DynamicProfile"
          },
          "parameters": {
            "dynamicProfileId": {
              "format": "int64",
              "location": "path",
              "description": "Required. Dynamic profile ID.",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "GET"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {},
          "id": "dfareporting.dynamicProfiles.insert",
          "httpMethod": "POST",
          "flatPath": "studio/dynamicProfiles",
          "response": {
            "$ref": "DynamicProfile"
          },
          "description": "Inserts a new dynamic profile.",
          "request": {
            "$ref": "DynamicProfile"
          },
          "parameterOrder": [],
          "path": "studio/dynamicProfiles"
        },
        "generateCode": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/generateCode",
          "parameters": {
            "dynamicProfileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Required. Dynamic profile ID.",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
[...]
