{
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "discoveryVersion": "v1",
  "resources": {
    "userProfiles": {
      "methods": {
        "list": {
          "response": {
            "$ref": "UserProfileList"
          },
          "parameterOrder": [],
          "path": "userprofiles",
          "parameters": {},
          "description": "Retrieves list of user profiles for a user.",
          "id": "dfareporting.userProfiles.list",
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles",
          "httpMethod": "GET"
        },
        "get": {
          "flatPath": "userprofiles/{profileId}",
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one user profile by ID.",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "The user profile ID.",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "UserProfile"
          },
          "id": "dfareporting.userProfiles.get"
        }
      }
    },
    "subaccounts": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Subaccount"
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/subaccounts",
          "description": "Inserts a new subaccount.",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "id": "dfareporting.subaccounts.insert",
          "response": {
            "$ref": "Subaccount"
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Subaccount ID.",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "Subaccount"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/subaccounts/{subaccountsId}",
          "description": "Gets one subaccount by ID.",
          "id": "dfareporting.subaccounts.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/subaccounts/{+id}"
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "Subaccount"
          },
          "description": "Updates an existing subaccount. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/subaccounts",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "httpMethod": "PATCH",
          "parameters": {
            "id": {
              "description": "Required. Subaccount ID.",
              "location": "query",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "Subaccount"
          },
          "id": "dfareporting.subaccounts.patch"
        },
        "list": {
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "location": "query",
              "default": "1000"
            },
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "ids": {
              "description": "Select only subaccounts with these IDs.",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"subaccount*2015\" will return objects with names like \"subaccount June 2015\", \"subaccount April 2015\", or simply \"subaccount 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"subaccount\" will match objects with name \"my subaccount\", \"subaccount 2015\", or simply \"subaccount\" .",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "description": "Order of sorted results."
            },
            "sortField": {
              "location": "query",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ]
            }
          },
          "httpMethod": "GET",
          "description": "Gets a list of subaccounts, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "SubaccountsListResponse"
          },
          "path": "userprofiles/{+profileId}/subaccounts",
          "id": "dfareporting.subaccounts.list"
        },
        "update": {
          "description": "Updates an existing subaccount.",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "Subaccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Subaccount"
          },
          "id": "dfareporting.subaccounts.update",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/subaccounts"
        }
      }
    },
    "metros": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/metros",
          "response": {
            "$ref": "MetrosListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "description": "Retrieves a list of metros.",
          "id": "dfareporting.metros.list",
          "path": "userprofiles/{+profileId}/metros",
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "mobileApps": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/mobileApps",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves list of available mobile apps.",
          "path": "userprofiles/{+profileId}/mobileApps",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "directories": {
              "type": "string",
              "enum": [
                "UNKNOWN",
                "APPLE_APP_STORE",
                "GOOGLE_PLAY_STORE",
                "ROKU_APP_STORE",
                "AMAZON_FIRETV_APP_STORE",
                "PLAYSTATION_APP_STORE",
                "APPLE_TV_APP_STORE",
                "XBOX_APP_STORE",
                "SAMSUNG_TV_APP_STORE",
                "ANDROID_TV_APP_STORE",
                "GENERIC_CTV_APP_STORE"
              ],
              "description": "Select only apps from these directories.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "repeated": true
            },
            "ids": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Select only apps with these IDs."
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"app*2015\" will return objects with names like \"app Jan 2018\", \"app Jan 2018\", or simply \"app 2018\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"app\" will match objects with name \"my app\", \"app 2018\", or simply \"app\".",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "default": "1000",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of results to return.",
              "type": "integer"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "dfareporting.mobileApps.list",
          "response": {
            "$ref": "MobileAppsListResponse"
          }
        },
        "get": {
          "parameters": {
            "id": {
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Mobile app ID.",
              "required": true,
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "id": "dfareporting.mobileApps.get",
          "response": {
            "$ref": "MobileApp"
          },
          "flatPath": "userprofiles/{userprofilesId}/mobileApps/{mobileAppsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/mobileApps/{+id}",
          "description": "Gets one mobile app by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "billingRates": {
      "methods": {
        "list": {
          "response": {
            "$ref": "BillingRatesListResponse"
          },
          "id": "dfareporting.billingRates.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingRates",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingRates",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "billingProfileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "Billing profile ID of this billing rate.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "description": "Retrieves a list of billing rates. This method supports paging."
        }
      }
    },
    "campaignCreativeAssociations": {
      "methods": {
        "insert": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "campaignId": {
              "location": "path",
              "description": "Campaign ID in this association.",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "CampaignCreativeAssociation"
          },
          "request": {
            "$ref": "CampaignCreativeAssociation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Associates a creative with the specified campaign. This method creates a default ad with dimensions matching the creative in the campaign if such a default ad does not exist already.",
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "id": "dfareporting.campaignCreativeAssociations.insert"
        },
        "list": {
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CampaignCreativeAssociationsListResponse"
          },
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "description": "Retrieves the list of creative IDs associated with the specified campaign. This method supports paging.",
          "parameters": {
            "campaignId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Campaign ID in this association.",
              "location": "path"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "default": "1000"
            },
            "sortOrder": {
              "location": "query",
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "httpMethod": "GET",
          "id": "dfareporting.campaignCreativeAssociations.list"
        }
      }
    },
    "dynamicFeeds": {
      "methods": {
        "update": {
          "flatPath": "studio/dynamicFeeds",
          "description": "Updates a new dynamic feed. For draft feeds, only Element can be updated. For published feeds, only FeedSchedule can be updated. Other fields will be ignored.",
          "httpMethod": "PUT",
          "parameterOrder": [],
          "id": "dfareporting.dynamicFeeds.update",
          "parameters": {},
          "path": "studio/dynamicFeeds",
          "response": {
            "$ref": "DynamicFeed"
          },
          "request": {
            "$ref": "DynamicFeed"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "retransform": {
          "description": "Retransforms a dynamic feed. Only draft feeds can be retransformed (i.e. the feed has not been published).",
          "parameterOrder": [
            "dynamicFeedId"
          ],
          "response": {
            "$ref": "DynamicFeed"
          },
          "parameters": {
            "dynamicFeedId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "path",
              "description": "Required. Dynamic feed ID."
            }
          },
          "httpMethod": "POST",
          "path": "studio/dynamicFeeds/{+dynamicFeedId}/retransform",
          "flatPath": "studio/dynamicFeeds/{dynamicFeedsId}/retransform",
          "id": "dfareporting.dynamicFeeds.retransform",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "parameters": {
            "dynamicFeedId": {
              "format": "int64",
              "description": "Required. Dynamic feed ID.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "studio/dynamicFeeds/{+dynamicFeedId}",
          "parameterOrder": [
            "dynamicFeedId"
          ],
          "response": {
            "$ref": "DynamicFeed"
          },
          "id": "dfareporting.dynamicFeeds.get",
          "flatPath": "studio/dynamicFeeds/{dynamicFeedsId}",
          "description": "Gets a dynamic feed by ID."
        },
        "insert": {
          "response": {
            "$ref": "DynamicFeed"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {},
          "request": {
            "$ref": "DynamicFeedsInsertRequest"
          },
          "description": "Inserts a new dynamic feed.",
          "flatPath": "studio/dynamicFeeds",
          "path": "studio/dynamicFeeds",
          "id": "dfareporting.dynamicFeeds.insert"
        }
      }
    },
    "creativeAssets": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "CreativeAssetMetadata"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "CreativeAssetMetadata"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path"
            },
            "advertiserId": {
              "description": "Advertiser ID of this creative. This is a required field.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/dfareporting/v5/userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets"
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "1073741824"
          },
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeAssets/{creativeAssetsId}/creativeAssets",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "description": "Inserts a new creative asset.",
          "path": "userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets",
          "id": "dfareporting.creativeAssets.insert"
        }
      }
    },
    "changeLogs": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ChangeLogsListResponse"
          },
          "path": "userprofiles/{+profileId}/changeLogs",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.changeLogs.list",
          "description": "Retrieves a list of change logs. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/changeLogs",
          "parameters": {
            "objectType": {
              "location": "query",
              "type": "string",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_FLOODLIGHT_CONFIGURATION",
                "OBJECT_AD",
                "OBJECT_FLOODLIGHT_ACTVITY",
                "OBJECT_CAMPAIGN",
                "OBJECT_FLOODLIGHT_ACTIVITY_GROUP",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT",
                "OBJECT_DFA_SITE",
                "OBJECT_USER_ROLE",
                "OBJECT_USER_PROFILE",
                "OBJECT_ADVERTISER_GROUP",
                "OBJECT_ACCOUNT",
                "OBJECT_SUBACCOUNT",
                "OBJECT_RICHMEDIA_CREATIVE",
                "OBJECT_INSTREAM_CREATIVE",
                "OBJECT_MEDIA_ORDER",
                "OBJECT_CONTENT_CATEGORY",
                "OBJECT_PLACEMENT_STRATEGY",
                "OBJECT_SD_SITE",
                "OBJECT_SIZE",
                "OBJECT_CREATIVE_GROUP",
                "OBJECT_CREATIVE_ASSET",
                "OBJECT_USER_PROFILE_FILTER",
                "OBJECT_LANDING_PAGE",
                "OBJECT_CREATIVE_FIELD",
                "OBJECT_REMARKETING_LIST",
                "OBJECT_PROVIDED_LIST_CLIENT",
                "OBJECT_EVENT_TAG",
                "OBJECT_CREATIVE_BUNDLE",
                "OBJECT_BILLING_ACCOUNT_GROUP",
                "OBJECT_BILLING_FEATURE",
                "OBJECT_RATE_CARD",
                "OBJECT_ACCOUNT_BILLING_FEATURE",
                "OBJECT_BILLING_MINIMUM_FEE",
                "OBJECT_BILLING_PROFILE",
                "OBJECT_PLAYSTORE_LINK",
                "OBJECT_TARGETING_TEMPLATE",
                "OBJECT_SEARCH_LIFT_STUDY",
                "OBJECT_FLOODLIGHT_DV360_LINK",
                "OBJECT_ADVERTISER_CUSTOMER_LINK",
                "OBJECT_CONVERSION_DOMAIN",
                "OBJECT_ACCOUNT_CONVERSION_DOMAIN"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Select only change logs with the specified object type."
            },
            "ids": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only change logs with these IDs.",
              "repeated": true
            },
            "maxChangeTime": {
              "description": "Select only change logs whose change time is before the specified maxChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is \"2015-07-18T22:54:00-04:00\". In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "type": "integer",
              "default": "1000",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "searchString": {
              "type": "string",
              "description": "Select only change logs whose object ID, user name, old or new values match the search string.",
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true
            },
            "userProfileIds": {
              "repeated": true,
              "location": "query",
              "description": "Select only change logs with these user profile IDs.",
              "format": "int64",
              "type": "string"
            },
            "minChangeTime": {
              "description": "Select only change logs whose change time is after the specified minChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is \"2015-07-18T22:54:00-04:00\". In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset.",
              "location": "query",
              "type": "string"
            },
            "objectIds": {
              "format": "int64",
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Select only change logs with these object IDs."
            },
            "action": {
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Select only change logs with the specified action.",
              "type": "string",
              "enum": [
                "ACTION_CREATE",
                "ACTION_UPDATE",
                "ACTION_DELETE",
                "ACTION_ENABLE",
                "ACTION_DISABLE",
                "ACTION_ADD",
                "ACTION_REMOVE",
                "ACTION_MARK_AS_DEFAULT",
                "ACTION_ASSOCIATE",
                "ACTION_ASSIGN",
                "ACTION_UNASSIGN",
                "ACTION_SEND",
                "ACTION_LINK",
                "ACTION_UNLINK",
                "ACTION_PUSH",
                "ACTION_EMAIL_TAGS",
                "ACTION_SHARE"
              ],
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET"
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.changeLogs.get",
          "flatPath": "userprofiles/{userprofilesId}/changeLogs/{changeLogsId}",
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Change log ID.",
              "required": true,
              "format": "int64"
            },
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            }
          },
          "description": "Gets one change log by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/changeLogs/{+id}",
          "response": {
            "$ref": "ChangeLog"
          }
        }
      }
    },
    "operatingSystemVersions": {
      "methods": {
        "list": {
          "response": {
            "$ref": "OperatingSystemVersionsListResponse"
          },
          "path": "userprofiles/{+profileId}/operatingSystemVersions",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "description": "Retrieves a list of operating system versions.",
          "id": "dfareporting.operatingSystemVersions.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/operatingSystemVersions"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "OperatingSystemVersion"
          },
          "flatPath": "userprofiles/{userprofilesId}/operatingSystemVersions/{operatingSystemVersionsId}",
          "id": "dfareporting.operatingSystemVersions.get",
          "path": "userprofiles/{+profileId}/operatingSystemVersions/{+id}",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one operating system version by ID.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true
            },
            "id": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Operating system version ID."
            }
          }
        }
      }
    },
    "creatives": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "Creative"
          },
          "description": "Inserts a new creative.",
          "path": "userprofiles/{+profileId}/creatives",
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "id": "dfareporting.creatives.insert",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Creative"
          },
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "httpMethod": "POST"
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Creative"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Creative"
          },
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "httpMethod": "PATCH",
          "id": "dfareporting.creatives.patch",
          "path": "userprofiles/{+profileId}/creatives",
          "description": "Updates an existing creative. This method supports patch semantics.",
          "parameters": {
            "id": {
              "description": "Required. Creative ID.",
              "format": "int64",
              "location": "query",
              "type": "string",
              "required": true
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of creatives, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/creatives",
          "response": {
            "$ref": "CreativesListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "id": "dfareporting.creatives.list",
          "parameters": {
            "creativeFieldIds": {
              "description": "Select only creatives with these creative field IDs.",
              "location": "query",
              "repeated": true,
              "format": "int64",
              "type": "string"
            },
            "active": {
              "type": "boolean",
              "description": "Select only active creatives. Leave blank to select active and inactive creatives.",
              "location": "query"
            },
            "studioCreativeId": {
              "format": "int64",
              "type": "string",
              "description": "Select only creatives corresponding to this Studio creative ID.",
              "location": "query"
            },
            "ids": {
              "repeated": true,
              "description": "Select only creatives with these IDs.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "renderingIds": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only creatives with these rendering IDs.",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "default": "1000",
              "format": "int32",
              "type": "integer"
            },
            "types": {
              "type": "string",
              "enum": [
                "IMAGE",
                "DISPLAY_REDIRECT",
                "CUSTOM_DISPLAY",
                "INTERNAL_REDIRECT",
                "CUSTOM_DISPLAY_INTERSTITIAL",
                "INTERSTITIAL_INTERNAL_REDIRECT",
                "TRACKING_TEXT",
                "RICH_MEDIA_DISPLAY_BANNER",
                "RICH_MEDIA_INPAGE_FLOATING",
                "RICH_MEDIA_IM_EXPAND",
                "RICH_MEDIA_DISPLAY_EXPANDING",
                "RICH_MEDIA_DISPLAY_INTERSTITIAL",
                "RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL",
                "RICH_MEDIA_MOBILE_IN_APP",
                "FLASH_INPAGE",
                "INSTREAM_VIDEO",
                "VPAID_LINEAR_VIDEO",
                "VPAID_NON_LINEAR_VIDEO",
                "INSTREAM_VIDEO_REDIRECT",
                "RICH_MEDIA_PEEL_DOWN",
                "HTML5_BANNER",
                "DISPLAY",
                "DISPLAY_IMAGE_GALLERY",
                "BRAND_SAFE_DEFAULT_INSTREAM_VIDEO",
                "INSTREAM_AUDIO"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "repeated": true,
              "description": "Select only creatives with these creative types."
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"creative*2015\" will return objects with names like \"creative June 2015\", \"creative April 2015\", or simply \"creative 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"creative\" will match objects with name \"my creative\", \"creative 2015\", or simply \"creative\".",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            },
            "advertiserId": {
              "description": "Select only creatives with this advertiser ID.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "sizeIds": {
              "location": "query",
              "description": "Select only creatives with these size IDs.",
              "format": "int64",
              "repeated": true,
              "type": "string"
            },
            "campaignId": {
              "location": "query",
              "format": "int64",
              "description": "Select only creatives with this campaign ID.",
              "type": "string"
            },
            "companionCreativeIds": {
              "location": "query",
              "description": "Select only in-stream video creatives with these companion IDs.",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "archived": {
              "type": "boolean",
              "location": "query",
              "description": "Select only archived creatives. Leave blank to select archived and unarchived creatives."
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results."
            }
          }
        },
        "get": {
          "description": "Gets one creative by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creatives/{creativesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "id": {
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Creative ID.",
              "location": "path"
            }
          },
          "id": "dfareporting.creatives.get",
          "response": {
            "$ref": "Creative"
          },
          "path": "userprofiles/{+profileId}/creatives/{+id}"
        },
        "update": {
          "id": "dfareporting.creatives.update",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "Creative"
          },
          "description": "Updates an existing creative.",
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "path": "userprofiles/{+profileId}/creatives",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "Creative"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "cities": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "CitiesListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/cities",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "countryDartIds": {
              "format": "int64",
              "description": "Select only cities from these countries.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "dartIds": {
              "description": "Select only cities with these DART IDs.",
              "type": "string",
              "format": "int64",
              "location": "query",
              "repeated": true
            },
            "regionDartIds": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only cities from these regions."
            },
            "namePrefix": {
              "description": "Select only cities with names starting with this prefix.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "dfareporting.cities.list",
          "httpMethod": "GET",
          "description": "Retrieves a list of cities, possibly filtered.",
          "path": "userprofiles/{+profileId}/cities"
        }
      }
    },
    "floodlightConfigurations": {
      "methods": {
        "patch": {
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "Required. EventTag ID."
            },
            "profileId": {
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "id": "dfareporting.floodlightConfigurations.patch",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "description": "Updates an existing floodlight configuration. This method supports patch semantics.",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "FloodlightConfiguration"
          }
        },
        "update": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "description": "Updates an existing floodlight configuration.",
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.floodlightConfigurations.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "description": "Gets one floodlight configuration by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "id": "dfareporting.floodlightConfigurations.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "id": {
              "description": "Floodlight configuration ID.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/floodlightConfigurations/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations/{floodlightConfigurationsId}"
        },
        "list": {
          "response": {
            "$ref": "FloodlightConfigurationsListResponse"
          },
          "id": "dfareporting.floodlightConfigurations.list",
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "description": "Retrieves a list of floodlight configurations, possibly filtered.",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "ids": {
              "type": "string",
              "description": "Set of IDs of floodlight configurations to retrieve. Required field; otherwise an empty list will be returned.",
              "repeated": true,
              "location": "query",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "accountPermissionGroups": {
      "methods": {
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/accountPermissionGroups/{accountPermissionGroupsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one account permission group by ID.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Account permission group ID.",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "id": "dfareporting.accountPermissionGroups.get",
          "path": "userprofiles/{+profileId}/accountPermissionGroups/{+id}",
          "response": {
            "$ref": "AccountPermissionGroup"
          }
        },
        "list": {
          "description": "Retrieves the list of account permission groups.",
          "flatPath": "userprofiles/{userprofilesId}/accountPermissionGroups",
          "path": "userprofiles/{+profileId}/accountPermissionGroups",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "id": "dfareporting.accountPermissionGroups.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AccountPermissionGroupsListResponse"
          }
        }
      }
    },
    "billingAssignments": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "response": {
            "$ref": "BillingAssignmentsListResponse"
          },
          "id": "dfareporting.billingAssignments.list",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path"
            },
            "billingProfileId": {
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Billing profile ID of this billing assignment.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of billing assignments."
        },
        "insert": {
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "httpMethod": "POST",
          "request": {
            "$ref": "BillingAssignment"
          },
          "response": {
            "$ref": "BillingAssignment"
          },
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "description": "Inserts a new billing assignment and returns the new assignment. Only one of advertiser_id or campaign_id is support per request. If the new assignment has no effect (assigning a campaign to the parent advertiser billing profile or assigning an advertiser to the account billing profile), no assignment will be returned.",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "billingProfileId": {
              "type": "string",
              "format": "int64",
              "description": "Billing profile ID of this billing assignment.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "id": "dfareporting.billingAssignments.insert",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "postalCodes": {
      "methods": {
        "list": {
          "id": "dfareporting.postalCodes.list",
          "response": {
            "$ref": "PostalCodesListResponse"
          },
          "path": "userprofiles/{+profileId}/postalCodes",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of postal codes.",
          "flatPath": "userprofiles/{userprofilesId}/postalCodes",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "id": "dfareporting.postalCodes.get",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            },
            "code": {
              "description": "Postal code ID.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/postalCodes/{+code}",
          "flatPath": "userprofiles/{userprofilesId}/postalCodes/{postalCodesId}",
          "description": "Gets one postal code by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PostalCode"
          },
          "parameterOrder": [
            "profileId",
            "code"
          ]
        }
      }
    },
    "creativeFields": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new creative field.",
          "request": {
            "$ref": "CreativeField"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/creativeFields",
          "response": {
            "$ref": "CreativeField"
          },
          "id": "dfareporting.creativeFields.insert"
        },
        "patch": {
          "id": "dfareporting.creativeFields.patch",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "response": {
            "$ref": "CreativeField"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            },
            "id": {
              "location": "query",
              "required": true,
              "description": "CreativeField ID.",
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Updates an existing creative field. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/creativeFields",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "CreativeField"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "delete": {
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Deletes an existing creative field.",
          "parameters": {
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "description": "Creative Field ID",
              "required": true
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "id": "dfareporting.creativeFields.delete",
          "path": "userprofiles/{+profileId}/creativeFields/{+id}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "list": {
          "path": "userprofiles/{+profileId}/creativeFields",
          "parameters": {
            "sortOrder": {
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results."
            },
            "advertiserIds": {
              "type": "string",
              "description": "Select only creative fields that belong to these advertisers.",
              "format": "int64",
              "location": "query",
              "repeated": true
            },
            "sortField": {
              "location": "query",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID"
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            },
            "ids": {
              "description": "Select only creative fields with these IDs.",
              "repeated": true,
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for creative fields by name or ID. Wildcards (*) are allowed. For example, \"creativefield*2015\" will return creative fields with names like \"creativefield June 2015\", \"creativefield April 2015\", or simply \"creativefield 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativefield\" will match creative fields with the name \"my creativefield\", \"creativefield 2015\", or simply \"creativefield\"."
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query",
              "default": "1000",
              "format": "int32"
            }
          },
          "httpMethod": "GET",
          "id": "dfareporting.creativeFields.list",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "description": "Retrieves a list of creative fields, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeFieldsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ]
        },
        "get": {
          "parameters": {
            "id": {
              "description": "Creative Field ID",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "id": "dfareporting.creativeFields.get",
          "response": {
            "$ref": "CreativeField"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/creativeFields/{+id}",
          "description": "Gets one creative field by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}"
        },
        "update": {
          "request": {
            "$ref": "CreativeField"
          },
          "response": {
            "$ref": "CreativeField"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeFields.update",
          "description": "Updates an existing creative field.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/creativeFields",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          }
        }
      }
    },
    "targetableRemarketingLists": {
      "methods": {
        "get": {
          "path": "userprofiles/{+profileId}/targetableRemarketingLists/{+id}",
          "description": "Gets one remarketing list by ID.",
          "parameters": {
            "id": {
              "required": true,
              "description": "Remarketing list ID.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "TargetableRemarketingList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists/{targetableRemarketingListsId}",
          "id": "dfareporting.targetableRemarketingLists.get"
        },
        "list": {
          "description": "Retrieves a list of targetable remarketing lists, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "advertiserId": {
              "description": "Required. Select only targetable remarketing lists targetable by these advertisers.",
              "format": "int64",
              "location": "query",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "default": "1000",
              "location": "query",
              "description": "Maximum number of results to return."
            },
            "active": {
              "location": "query",
              "description": "Select only active or only inactive targetable remarketing lists.",
              "type": "boolean"
            },
            "sortField": {
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "description": "Field by which to sort the list.",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "name": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "location": "query"
            }
          },
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists",
          "path": "userprofiles/{+profileId}/targetableRemarketingLists",
          "id": "dfareporting.targetableRemarketingLists.list",
          "response": {
            "$ref": "TargetableRemarketingListsListResponse"
          }
        }
      }
    },
    "accountActiveAdSummaries": {
      "methods": {
        "get": {
          "path": "userprofiles/{+profileId}/accountActiveAdSummaries/{+summaryAccountId}",
          "description": "Gets the account's active ad summary by account ID.",
          "flatPath": "userprofiles/{userprofilesId}/accountActiveAdSummaries/{accountActiveAdSummariesId}",
          "id": "dfareporting.accountActiveAdSummaries.get",
          "parameterOrder": [
            "profileId",
            "summaryAccountId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AccountActiveAdSummary"
          },
          "parameters": {
            "profileId": {
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "summaryAccountId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Account ID.",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "operatingSystems": {
      "methods": {
        "get": {
          "id": "dfareporting.operatingSystems.get",
          "parameterOrder": [
            "profileId",
            "dartId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/operatingSystems/{operatingSystemsId}",
          "path": "userprofiles/{+profileId}/operatingSystems/{+dartId}",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "dartId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "Operating system DART ID.",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Gets one operating system by DART ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "OperatingSystem"
          }
        },
        "list": {
          "id": "dfareporting.operatingSystems.list",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "OperatingSystemsListResponse"
          },
          "path": "userprofiles/{+profileId}/operatingSystems",
          "description": "Retrieves a list of operating systems.",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystems",
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "contentCategories": {
      "methods": {
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "path": "userprofiles/{+profileId}/contentCategories",
          "description": "Updates an existing content category. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "id": {
              "required": true,
              "location": "query",
              "format": "int64",
              "description": "Required. ContentCategory ID.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "ContentCategory"
          },
          "id": "dfareporting.contentCategories.patch",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "ContentCategory"
          }
        },
        "delete": {
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Content category ID.",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/contentCategories/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.contentCategories.delete",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "httpMethod": "DELETE",
          "description": "Deletes an existing content category."
        },
        "get": {
          "id": "dfareporting.contentCategories.get",
          "response": {
            "$ref": "ContentCategory"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path"
            },
            "id": {
              "description": "Content category ID.",
              "type": "string",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/contentCategories/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one content category by ID.",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/contentCategories",
          "response": {
            "$ref": "ContentCategory"
          },
          "description": "Updates an existing content category.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "ContentCategory"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.contentCategories.update",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories"
        },
        "insert": {
          "path": "userprofiles/{+profileId}/contentCategories",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "response": {
            "$ref": "ContentCategory"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "ContentCategory"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "format": "int64"
            }
          },
          "description": "Inserts a new content category.",
          "id": "dfareporting.contentCategories.insert"
        },
        "list": {
          "description": "Retrieves a list of content categories, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/contentCategories",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.contentCategories.list",
          "parameters": {
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"contentcategory*2015\" will return objects with names like \"contentcategory June 2015\", \"contentcategory April 2015\", or simply \"contentcategory 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"contentcategory\" will match objects with name \"my contentcategory\", \"contentcategory 2015\", or simply \"contentcategory\".",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "default": "1000",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "sortField": {
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "location": "query"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "ids": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "format": "int64",
              "description": "Select only content categories with these IDs."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ContentCategoriesListResponse"
          }
        }
      }
    },
    "platformTypes": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "id": {
              "format": "int64",
              "description": "Platform type ID.",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/platformTypes/{platformTypesId}",
          "description": "Gets one platform type by ID.",
          "response": {
            "$ref": "PlatformType"
          },
          "path": "userprofiles/{+profileId}/platformTypes/{+id}",
          "id": "dfareporting.platformTypes.get",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "list": {
          "response": {
            "$ref": "PlatformTypesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.platformTypes.list",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/platformTypes",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of platform types.",
          "flatPath": "userprofiles/{userprofilesId}/platformTypes"
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of languages.",
          "path": "userprofiles/{+profileId}/languages",
          "httpMethod": "GET",
          "id": "dfareporting.languages.list",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/languages",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "campaigns": {
      "methods": {
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "parameters": {
            "id": {
              "description": "Required. Campaign ID.",
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Campaign"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.campaigns.patch",
          "response": {
            "$ref": "Campaign"
          },
          "path": "userprofiles/{+profileId}/campaigns",
          "description": "Updates an existing campaign. This method supports patch semantics."
        },
        "get": {
          "response": {
            "$ref": "Campaign"
          },
          "id": "dfareporting.campaigns.get",
          "description": "Gets one campaign by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/campaigns/{+id}",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "description": "Campaign ID.",
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path"
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}"
        },
        "list": {
          "description": "Retrieves a list of campaigns, possibly filtered. This method supports paging.",
          "id": "dfareporting.campaigns.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "CampaignsListResponse"
          },
          "parameters": {
            "advertiserIds": {
              "repeated": true,
              "description": "Select only campaigns that belong to these advertisers.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "archived": {
              "description": "Select only archived campaigns. Don't set this field to select both archived and non-archived campaigns.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "subaccountId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Select only campaigns that belong to this subaccount."
            },
            "advertiserGroupIds": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only campaigns whose advertisers belong to these advertiser groups."
            },
            "searchString": {
              "description": "Allows searching for campaigns by name or ID. Wildcards (*) are allowed. For example, \"campaign*2015\" will return campaigns with names like \"campaign June 2015\", \"campaign April 2015\", or simply \"campaign 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"campaign\" will match campaigns with name \"my campaign\", \"campaign 2015\", or simply \"campaign\".",
              "type": "string",
              "location": "query"
            },
            "excludedIds": {
              "repeated": true,
              "description": "Exclude campaigns with these IDs.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "overriddenEventTagId": {
              "location": "query",
              "format": "int64",
              "description": "Select only campaigns that have overridden this event tag ID.",
              "type": "string"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "location": "query",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "atLeastOneOptimizationActivity": {
              "type": "boolean",
              "location": "query",
              "description": "Select only campaigns that have at least one optimization activity."
            },
            "profileId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "ids": {
              "description": "Select only campaigns with these IDs.",
              "format": "int64",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "default": "1000",
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of results to return."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/campaigns",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "description": "Inserts a new campaign.",
          "request": {
            "$ref": "Campaign"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/campaigns",
          "response": {
            "$ref": "Campaign"
          },
          "id": "dfareporting.campaigns.insert"
        },
        "update": {
          "request": {
            "$ref": "Campaign"
          },
          "response": {
            "$ref": "Campaign"
          },
          "id": "dfareporting.campaigns.update",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/campaigns",
          "description": "Updates an existing campaign.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "accountUserProfiles": {
      "methods": {
        "insert": {
          "id": "dfareporting.accountUserProfiles.insert",
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "description": "Inserts a new account user profile.",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AccountUserProfile"
          },
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "id": "dfareporting.accountUserProfiles.get",
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            },
            "id": {
              "description": "User profile ID.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one account user profile by ID.",
          "flatPath": "userprofiles/{profileId}/accountUserProfiles/{accountUserProfilesId}",
          "path": "userprofiles/{profileId}/accountUserProfiles/{+id}",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "patch": {
          "httpMethod": "PATCH",
          "id": "dfareporting.accountUserProfiles.patch",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
[...]
