{
  "title": "Campaign Manager 360 API",
  "servicePath": "dfareporting/v5/",
  "name": "dfareporting",
  "ownerName": "Google",
  "protocol": "rest",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "basePath": "/dfareporting/v5/",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        },
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        }
      }
    }
  },
  "resources": {
    "userRolePermissions": {
      "methods": {
        "list": {
          "response": {
            "$ref": "UserRolePermissionsListResponse"
          },
          "id": "dfareporting.userRolePermissions.list",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "ids": {
              "repeated": true,
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only user role permissions with these IDs."
            }
          },
          "path": "userprofiles/{+profileId}/userRolePermissions",
          "description": "Gets a list of user role permissions, possibly filtered.",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions"
        },
        "get": {
          "path": "userprofiles/{+profileId}/userRolePermissions/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions/{userRolePermissionsId}",
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User role permission ID."
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true
            }
          },
          "id": "dfareporting.userRolePermissions.get",
          "description": "Gets one user role permission by ID.",
          "response": {
            "$ref": "UserRolePermission"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "billingProfiles": {
      "methods": {
        "get": {
          "response": {
            "$ref": "BillingProfile"
          },
          "description": "Gets one billing profile by ID.",
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "location": "path",
              "description": "Billing Profile ID.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/billingProfiles/{+id}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.billingProfiles.get",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "update": {
          "request": {
            "$ref": "BillingProfile"
          },
          "path": "userprofiles/{+profileId}/billingProfiles",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "description": "Updates an existing billing profile.",
          "id": "dfareporting.billingProfiles.update",
          "response": {
            "$ref": "BillingProfile"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "BillingProfilesListResponse"
          },
          "description": "Retrieves a list of billing profiles, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/billingProfiles",
          "parameters": {
            "maxResults": {
              "location": "query",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "type": "integer"
            },
            "sortOrder": {
              "type": "string",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results."
            },
            "profileId": {
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "name": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for billing profiles by name. Wildcards (*) are allowed. For example, \"profile*2020\" will return objects with names like \"profile June 2020\", \"profile April 2020\", or simply \"profile 2020\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"profile\" will match objects with name \"my profile\", \"profile 2021\", or simply \"profile\"."
            },
            "status": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Select only billing profile with the specified status.",
              "enum": [
                "UNDER_REVIEW",
                "ACTIVE",
                "ARCHIVED"
              ],
              "enumDescriptions": [
                "",
                "",
                ""
              ]
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "description": "Field by which to sort the list.",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query"
            },
            "currency_code": {
              "description": "Select only billing profile with currency.",
              "type": "string",
              "location": "query"
            },
            "subaccountIds": {
              "repeated": true,
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Select only billing profile with the specified subaccount.When only_suggestion is true, only a single subaccount_id is supported."
            },
            "onlySuggestion": {
              "location": "query",
              "description": "Select only billing profile which is suggested for the currency_code & subaccount_id using the Billing Suggestion API.",
              "type": "boolean"
            },
            "ids": {
              "repeated": true,
              "format": "int64",
              "description": "Select only billing profile with these IDs.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "dfareporting.billingProfiles.list",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles"
        }
      }
    },
    "floodlightActivityGroups": {
      "methods": {
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "description": "Updates an existing floodlight activity group.",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "id": "dfareporting.floodlightActivityGroups.update",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "FloodlightActivityGroup"
          }
        },
        "patch": {
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "parameters": {
            "id": {
              "format": "int64",
              "description": "Required. EventTag ID.",
              "required": true,
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "httpMethod": "PATCH",
          "description": "Updates an existing floodlight activity group. This method supports patch semantics.",
          "id": "dfareporting.floodlightActivityGroups.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "get": {
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64"
            },
            "id": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "description": "Floodlight activity Group ID.",
              "type": "string"
            }
          },
          "id": "dfareporting.floodlightActivityGroups.get",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups/{floodlightActivityGroupsId}",
          "description": "Gets one floodlight activity group by ID.",
          "path": "userprofiles/{+profileId}/floodlightActivityGroups/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "description": "Inserts a new floodlight activity group.",
          "httpMethod": "POST",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "id": "dfareporting.floodlightActivityGroups.insert",
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ]
        },
        "list": {
          "description": "Retrieves a list of floodlight activity groups, possibly filtered. This method supports paging.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "maxResults": {
              "default": "1000",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "ids": {
              "repeated": true,
              "type": "string",
              "description": "Select only floodlight activity groups with the specified IDs. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.",
              "location": "query",
              "format": "int64"
            },
            "sortField": {
              "location": "query",
              "description": "Field by which to sort the list.",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID"
            },
            "type": {
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Select only floodlight activity groups with the specified floodlight activity group type.",
              "type": "string",
              "location": "query",
              "enum": [
                "COUNTER",
                "SALE"
              ]
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivitygroup*2015\" will return objects with names like \"floodlightactivitygroup June 2015\", \"floodlightactivitygroup April 2015\", or simply \"floodlightactivitygroup 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivitygroup\" will match objects with name \"my floodlightactivitygroup activity\", \"floodlightactivitygroup 2015\", or simply \"floodlightactivitygroup\"."
            },
            "floodlightConfigurationId": {
              "type": "string",
              "description": "Select only floodlight activity groups with the specified floodlight configuration ID. Must specify either advertiserId, or floodlightConfigurationId for a non-empty result.",
              "format": "int64",
              "location": "query"
            },
            "sortOrder": {
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "location": "query"
            },
            "advertiserId": {
              "description": "Select only floodlight activity groups with the specified advertiser ID. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.floodlightActivityGroups.list",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "response": {
            "$ref": "FloodlightActivityGroupsListResponse"
          },
          "httpMethod": "GET"
        }
      }
    },
    "accountUserProfiles": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AccountUserProfile"
          },
          "description": "Inserts a new account user profile.",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountUserProfiles.insert",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          }
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "description": "Retrieves a list of account user profiles, possibly filtered. This method supports paging.",
          "id": "dfareporting.accountUserProfiles.list",
          "response": {
            "$ref": "AccountUserProfilesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "subaccountId": {
              "type": "string",
              "description": "Select only user profiles with the specified subaccount ID.",
              "format": "int64",
              "location": "query"
            },
            "sortField": {
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "default": "1000"
            },
            "ids": {
              "description": "Select only user profiles with these IDs.",
              "location": "query",
              "type": "string",
              "repeated": true,
              "format": "int64"
            },
            "userRoleId": {
              "type": "string",
              "description": "Select only user profiles with the specified user role ID.",
              "format": "int64",
              "location": "query"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "type": "string",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, \"user profile*2015\" will return objects with names like \"user profile June 2015\", \"user profile April 2015\", or simply \"user profile 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"user profile\" will match objects with name \"my user profile\", \"user profile 2015\", or simply \"user profile\".",
              "type": "string",
              "location": "query"
            },
            "active": {
              "location": "query",
              "type": "boolean",
              "description": "Select only active user profiles."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          }
        },
        "get": {
          "path": "userprofiles/{profileId}/accountUserProfiles/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AccountUserProfile"
          },
          "httpMethod": "GET",
          "description": "Gets one account user profile by ID.",
          "flatPath": "userprofiles/{profileId}/accountUserProfiles/{accountUserProfilesId}",
          "parameters": {
            "id": {
              "format": "int64",
              "description": "User profile ID.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request."
            }
          },
          "id": "dfareporting.accountUserProfiles.get",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "patch": {
          "description": "Updates an existing account user profile. This method supports patch semantics.",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountUserProfiles.patch",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "description": "Required. AccountUserProfile ID.",
              "type": "string",
              "format": "int64",
              "location": "query",
              "required": true
            },
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            }
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "description": "Updates an existing account user profile.",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "AccountUserProfile"
          },
          "id": "dfareporting.accountUserProfiles.update",
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "ads": {
      "methods": {
        "update": {
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/ads",
          "id": "dfareporting.ads.update",
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing ad.",
          "response": {
            "$ref": "Ad"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            }
          },
          "request": {
            "$ref": "Ad"
          }
        },
        "patch": {
          "request": {
            "$ref": "Ad"
          },
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "id": {
              "required": true,
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Required. RemarketingList ID."
            }
          },
          "path": "userprofiles/{+profileId}/ads",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Ad"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing ad. This method supports patch semantics.",
          "id": "dfareporting.ads.patch"
        },
        "get": {
          "response": {
            "$ref": "Ad"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "Ad ID.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Gets one ad by ID.",
          "path": "userprofiles/{+profileId}/ads/{+id}",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.ads.get",
          "flatPath": "userprofiles/{userprofilesId}/ads/{adsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "id": "dfareporting.ads.insert",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new ad.",
          "path": "userprofiles/{+profileId}/ads",
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Ad"
          },
          "request": {
            "$ref": "Ad"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "description": "Retrieves a list of ads, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "AdsListResponse"
          },
          "id": "dfareporting.ads.list",
          "path": "userprofiles/{+profileId}/ads",
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "audienceSegmentIds": {
              "repeated": true,
              "location": "query",
              "format": "int64",
              "description": "Select only ads with these audience segment IDs.",
              "type": "string"
            },
            "sslCompliant": {
              "description": "Select only ads that are SSL-compliant.",
              "type": "boolean",
              "location": "query"
            },
            "active": {
              "type": "boolean",
              "description": "Select only active ads.",
              "location": "query"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "creativeOptimizationConfigurationIds": {
              "location": "query",
              "description": "Select only ads with these creative optimization configuration IDs.",
              "repeated": true,
              "format": "int64",
              "type": "string"
            },
            "overriddenEventTagId": {
              "description": "Select only ads with this event tag override ID.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "dynamicClickTracker": {
              "type": "boolean",
              "location": "query",
              "description": "Select only dynamic click trackers. Applicable when type is AD_SERVING_CLICK_TRACKER. If true, select dynamic click trackers. If false, select static click trackers. Leave unset to select both."
            },
            "creativeIds": {
              "description": "Select only ads with these creative IDs assigned.",
              "location": "query",
              "format": "int64",
              "type": "string",
              "repeated": true
            },
            "sslRequired": {
              "type": "boolean",
              "location": "query",
              "description": "Select only ads that require SSL."
            },
            "maxResults": {
              "default": "1000",
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query"
            },
            "profileId": {
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "ids": {
              "repeated": true,
              "type": "string",
              "description": "Select only ads with these IDs.",
              "location": "query",
              "format": "int64"
            },
            "archived": {
              "type": "boolean",
              "description": "Select only archived ads.",
              "location": "query"
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "description": "Select only ads with this advertiser ID.",
              "location": "query"
            },
            "sizeIds": {
              "format": "int64",
              "location": "query",
              "description": "Select only ads with these size IDs.",
              "type": "string",
              "repeated": true
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "compatibility": {
              "location": "query",
              "description": "Select default ads with the specified compatibility. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering an in-stream video ads developed with the VAST standard.",
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ],
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ]
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"ad*2015\" will return objects with names like \"ad June 2015\", \"ad April 2015\", or simply \"ad 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"ad\" will match objects with name \"my ad\", \"ad 2015\", or simply \"ad\".",
              "location": "query"
            },
            "campaignIds": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Select only ads with these campaign IDs.",
              "format": "int64"
            },
            "sortOrder": {
              "type": "string",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "location": "query"
            },
            "remarketingListIds": {
              "format": "int64",
              "description": "Select only ads whose list targeting expression use these remarketing list IDs.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "type": {
              "location": "query",
              "description": "Select only ads with these types.",
              "type": "string",
              "repeated": true,
              "enum": [
                "AD_SERVING_STANDARD_AD",
                "AD_SERVING_DEFAULT_AD",
                "AD_SERVING_CLICK_TRACKER",
                "AD_SERVING_TRACKING",
                "AD_SERVING_BRAND_SAFE_AD"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ]
            },
            "placementIds": {
              "type": "string",
              "format": "int64",
              "repeated": true,
              "description": "Select only ads with these placement IDs assigned.",
              "location": "query"
            },
            "landingPageIds": {
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only ads with these landing page IDs.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "accountActiveAdSummaries": {
      "methods": {
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/accountActiveAdSummaries/{accountActiveAdSummariesId}",
          "parameters": {
            "summaryAccountId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "Account ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountActiveAdSummaries.get",
          "path": "userprofiles/{+profileId}/accountActiveAdSummaries/{+summaryAccountId}",
          "description": "Gets the account's active ad summary by account ID.",
          "response": {
            "$ref": "AccountActiveAdSummary"
          },
          "parameterOrder": [
            "profileId",
            "summaryAccountId"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "countries": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of countries.",
          "flatPath": "userprofiles/{userprofilesId}/countries",
          "httpMethod": "GET",
          "id": "dfareporting.countries.list",
          "response": {
            "$ref": "CountriesListResponse"
          },
          "path": "userprofiles/{+profileId}/countries"
        },
        "get": {
          "id": "dfareporting.countries.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one country by ID.",
          "path": "userprofiles/{+profileId}/countries/{+dartId}",
          "flatPath": "userprofiles/{userprofilesId}/countries/{countriesId}",
          "parameters": {
            "dartId": {
              "format": "int64",
              "description": "Country DART ID.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Country"
          },
          "parameterOrder": [
            "profileId",
            "dartId"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "accounts": {
      "methods": {
        "get": {
          "id": "dfareporting.accounts.get",
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/accounts/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accounts/{accountsId}",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "path"
            },
            "id": {
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "description": "Account ID."
            }
          },
          "description": "Gets one account by ID."
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"account*2015\" will return objects with names like \"account June 2015\", \"account April 2015\", or simply \"account 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"account\" will match objects with name \"my account\", \"account 2015\", or simply \"account\".",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "default": "1000",
              "format": "int32",
              "type": "integer"
            },
            "active": {
              "type": "boolean",
              "description": "Select only active accounts. Don't set this field to select both active and non-active accounts.",
              "location": "query"
            },
            "sortOrder": {
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "ids": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Select only accounts with these IDs.",
              "repeated": true
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "default": "ID",
              "type": "string"
            }
          },
          "id": "dfareporting.accounts.list",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AccountsListResponse"
          },
          "description": "Retrieves the list of accounts, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Account"
          },
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "description": "Updates an existing account.",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/accounts",
          "id": "dfareporting.accounts.update",
          "response": {
            "$ref": "Account"
          }
        },
        "patch": {
          "id": "dfareporting.accounts.patch",
          "response": {
            "$ref": "Account"
          },
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Required. Account ID."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "location": "path"
            }
          },
          "description": "Updates an existing account. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "path": "userprofiles/{+profileId}/accounts",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accounts"
        }
      }
    },
    "userProfiles": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "flatPath": "userprofiles/{profileId}",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}",
          "description": "Gets one user profile by ID.",
          "id": "dfareporting.userProfiles.get",
          "response": {
            "$ref": "UserProfile"
          },
          "parameters": {
            "profileId": {
              "description": "The user profile ID.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "parameterOrder": [],
          "parameters": {},
          "description": "Retrieves list of user profiles for a user.",
          "response": {
            "$ref": "UserProfileList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles",
          "path": "userprofiles",
          "id": "dfareporting.userProfiles.list",
          "httpMethod": "GET"
        }
      }
    },
    "creativeFieldValues": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "httpMethod": "GET",
          "description": "Retrieves a list of creative field values, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeFieldValues.list",
          "response": {
            "$ref": "CreativeFieldValuesListResponse"
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "parameters": {
            "searchString": {
              "description": "Allows searching for creative field values by their values. Wildcards (e.g. *) are not allowed.",
              "type": "string",
              "location": "query"
            },
            "ids": {
              "format": "int64",
              "repeated": true,
              "description": "Select only creative field values with these IDs.",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query",
              "default": "1000",
              "format": "int32"
            },
            "sortField": {
              "enum": [
                "ID",
                "VALUE"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "default": "ID",
              "description": "Field by which to sort the list."
            },
            "creativeFieldId": {
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Creative field ID for this creative field value."
            },
            "sortOrder": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ]
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "parameters": {
            "creativeFieldId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "Creative field ID for this creative field value."
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "id": {
              "description": "Creative Field Value ID",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "id": "dfareporting.creativeFieldValues.get",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}",
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "description": "Gets one creative field value by ID."
        },
        "delete": {
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}",
          "id": "dfareporting.creativeFieldValues.delete",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Creative Field Value ID"
            },
            "creativeFieldId": {
              "location": "path",
              "required": true,
              "description": "Creative field ID for this creative field value.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Deletes an existing creative field value.",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "description": "Updates an existing creative field value.",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "parameters": {
            "creativeFieldId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Creative field ID for this creative field value.",
              "required": true,
              "format": "int64"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "id": "dfareporting.creativeFieldValues.update"
        },
        "insert": {
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "description": "Inserts a new creative field value.",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "id": "dfareporting.creativeFieldValues.insert",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "creativeFieldId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string",
              "description": "Creative field ID for this creative field value.",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "parameters": {
            "id": {
              "type": "string",
              "description": "CreativeFieldValue ID.",
              "location": "query",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64"
            },
            "creativeFieldId": {
              "location": "path",
              "description": "CreativeField ID.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "id": "dfareporting.creativeFieldValues.patch",
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing creative field value. This method supports patch semantics."
        }
      }
    },
    "remarketingLists": {
      "methods": {
        "patch": {
          "id": "dfareporting.remarketingLists.patch",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "RemarketingList"
          },
          "description": "Updates an existing remarketing list. This method supports patch semantics.",
          "request": {
            "$ref": "RemarketingList"
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Required. RemarketingList ID."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/remarketingLists"
        },
        "list": {
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query",
              "type": "integer"
            },
            "floodlightActivityId": {
              "format": "int64",
              "description": "Select only remarketing lists that have this floodlight activity ID.",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            },
            "active": {
              "description": "Select only active or only inactive remarketing lists.",
              "location": "query",
              "type": "boolean"
            },
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "default": "ID",
              "location": "query",
              "description": "Field by which to sort the list."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "advertiserId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "query",
              "description": "Required. Select only remarketing lists owned by this advertiser."
            },
            "name": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\"."
            }
          },
          "description": "Retrieves a list of remarketing lists, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "response": {
            "$ref": "RemarketingListsListResponse"
          },
          "path": "userprofiles/{+profileId}/remarketingLists",
          "id": "dfareporting.remarketingLists.list",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request."
            }
          },
          "description": "Inserts a new remarketing list.",
          "request": {
            "$ref": "RemarketingList"
          },
          "response": {
            "$ref": "RemarketingList"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.remarketingLists.insert",
          "path": "userprofiles/{+profileId}/remarketingLists"
        },
        "get": {
          "response": {
            "$ref": "RemarketingList"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "description": "Gets one remarketing list by ID.",
          "path": "userprofiles/{+profileId}/remarketingLists/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists/{remarketingListsId}",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Remarketing list ID.",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "id": "dfareporting.remarketingLists.get"
        },
        "update": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "path": "userprofiles/{+profileId}/remarketingLists",
          "response": {
            "$ref": "RemarketingList"
          },
          "httpMethod": "PUT",
          "id": "dfareporting.remarketingLists.update",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "RemarketingList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing remarketing list."
        }
      }
    },
    "creativeAssets": {
      "methods": {
        "insert": {
          "supportsMediaUpload": true,
          "description": "Inserts a new creative asset.",
          "response": {
            "$ref": "CreativeAssetMetadata"
          },
          "mediaUpload": {
            "maxSize": "1073741824",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/dfareporting/v5/userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets"
              }
            }
          },
          "request": {
            "$ref": "CreativeAssetMetadata"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeAssets.insert",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string"
            },
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "Advertiser ID of this creative. This is a required field.",
              "required": true,
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets",
          "flatPath": "userprofiles/{userprofilesId}/creativeAssets/{creativeAssetsId}/creativeAssets"
        }
      }
    },
    "billingRates": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "BillingRatesListResponse"
          },
          "id": "dfareporting.billingRates.list",
          "description": "Retrieves a list of billing rates. This method supports paging.",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingRates",
          "parameters": {
            "billingProfileId": {
              "description": "Billing profile ID of this billing rate.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingRates"
        }
      }
    },
    "tvCampaignSummaries": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "countryDartId": {
              "description": "Optional. Country Dart ID. If not specified, defaults to 256 (US).",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "name": {
              "type": "string",
              "description": "Required. Search string to filter the list of TV campaign summaries. Matches any substring. Required field.",
              "location": "query"
            },
            "tvDataProvider": {
              "location": "query",
              "enum": [
                "INVALID_TV_DATA_PROVIDER",
                "INTAGE_JP",
                "IBOPE_AR",
                "IBOPE_BR",
                "IBOPE_CL",
                "IBOPE_CO",
                "TNS_VN",
                "COMSCORE_NATIONAL_US",
                "COMSCORE_CA",
                "SAMBA_AU"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "Allows populating multiple tvCampaignId filters and tvCampaignEndDate filter on the report.",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Optional. TV data provider. If not specified, defaults to `COMSCORE_NATIONAL_US`."
            },
            "profileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Required. User profile ID associated with this request."
            },
            "accountId": {
              "location": "query",
              "format": "int64",
              "description": "Required. Account ID associated with this request.",
              "type": "string"
            }
          },
          "id": "dfareporting.tvCampaignSummaries.list",
          "flatPath": "userprofiles/{userprofilesId}/tvCampaignSummaries",
          "httpMethod": "GET",
          "response": {
            "$ref": "TvCampaignSummariesListResponse"
          },
          "path": "userprofiles/{+profileId}/tvCampaignSummaries",
          "description": "Retrieves a list of TV campaign summaries."
        }
      }
    },
    "cities": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/cities",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of cities, possibly filtered.",
          "httpMethod": "GET",
          "id": "dfareporting.cities.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "regionDartIds": {
              "repeated": true,
              "type": "string",
              "description": "Select only cities from these regions.",
              "location": "query",
              "format": "int64"
            },
            "dartIds": {
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only cities with these DART IDs.",
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "countryDartIds": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "repeated": true,
              "description": "Select only cities from these countries."
            },
            "namePrefix": {
              "type": "string",
              "description": "Select only cities with names starting with this prefix.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "CitiesListResponse"
          },
          "path": "userprofiles/{+profileId}/cities"
        }
      }
    },
    "placementGroups": {
      "methods": {
        "update": {
          "request": {
            "$ref": "PlacementGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "response": {
            "$ref": "PlacementGroup"
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/placementGroups",
          "httpMethod": "PUT",
          "description": "Updates an existing placement group.",
          "id": "dfareporting.placementGroups.update"
        },
        "list": {
          "id": "dfareporting.placementGroups.list",
          "path": "userprofiles/{+profileId}/placementGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "httpMethod": "GET",
          "response": {
            "$ref": "PlacementGroupsListResponse"
          },
          "parameters": {
            "maxEndDate": {
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string",
              "location": "query"
            },
            "minEndDate": {
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            },
            "minStartDate": {
              "type": "string",
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query"
            },
            "activeStatus": {
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ],
              "repeated": true,
              "description": "Select only placements with these active statuses."
            },
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "format": "int64"
            },
            "sortField": {
              "default": "ID",
              "type": "string",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query"
            },
            "directorySiteIds": {
              "repeated": true,
              "description": "Select only placement groups that are associated with these directory sites.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "ids": {
              "description": "Select only placement groups with these IDs.",
              "format": "int64",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "advertiserIds": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only placement groups that belong to these advertisers."
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for placement groups by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placement groups with names like \"placement group June 2015\", \"placement group May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementgroup\" will match placement groups with name \"my placementgroup\", \"placementgroup 2015\", or simply \"placementgroup\".",
              "location": "query"
            },
            "maxStartDate": {
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            },
            "placementGroupType": {
              "enum": [
                "PLACEMENT_PACKAGE",
                "PLACEMENT_ROADBLOCK"
              ],
              "type": "string",
              "enumDescriptions": [
                "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
                "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
              ],
              "location": "query",
              "description": "Select only placement groups belonging with this group type. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting."
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "800"
            },
            "sortOrder": {
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "type": "string",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "siteIds": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "description": "Select only placement groups that are associated with these sites."
            },
            "contentCategoryIds": {
              "repeated": true,
              "description": "Select only placement groups that are associated with these content categories.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "pricingTypes": {
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ],
              "location": "query",
              "description": "Select only placement groups with these pricing types.",
              "repeated": true
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "placementStrategyIds": {
              "description": "Select only placement groups that are associated with these placement strategies.",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "campaignIds": {
              "format": "int64",
              "description": "Select only placement groups that belong to these campaigns.",
              "location": "query",
              "type": "string",
              "repeated": true
            }
          },
          "description": "Retrieves a list of placement groups, possibly filtered. This method supports paging."
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.placementGroups.patch",
          "response": {
            "$ref": "PlacementGroup"
          },
          "request": {
            "$ref": "PlacementGroup"
          },
          "httpMethod": "PATCH",
          "path": "userprofiles/{+profileId}/placementGroups",
          "description": "Updates an existing placement group. This method supports patch semantics.",
          "parameters": {
            "id": {
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "query",
              "description": "Required. Placement ID."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementGroups"
        },
        "get": {
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "id": {
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Placement group ID.",
              "required": true
            }
          },
          "id": "dfareporting.placementGroups.get",
          "path": "userprofiles/{+profileId}/placementGroups/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups/{placementGroupsId}",
          "response": {
            "$ref": "PlacementGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one placement group by ID.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "request": {
            "$ref": "PlacementGroup"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.placementGroups.insert",
          "description": "Inserts a new placement group.",
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/placementGroups",
          "httpMethod": "POST",
          "response": {
            "$ref": "PlacementGroup"
          }
        }
      }
    },
    "campaignCreativeAssociations": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CampaignCreativeAssociation"
          },
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "httpMethod": "POST",
          "request": {
            "$ref": "CampaignCreativeAssociation"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "campaignId": {
              "type": "string",
              "description": "Campaign ID in this association.",
              "format": "int64",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.campaignCreativeAssociations.insert",
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "description": "Associates a creative with the specified campaign. This method creates a default ad with dimensions matching the creative in the campaign if such a default ad does not exist already.",
          "parameterOrder": [
            "profileId",
            "campaignId"
          ]
        },
        "list": {
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "parameters": {
            "campaignId": {
              "required": true,
              "description": "Campaign ID in this association.",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "default": "1000"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string"
            }
          },
          "response": {
            "$ref": "CampaignCreativeAssociationsListResponse"
          },
          "description": "Retrieves the list of creative IDs associated with the specified campaign. This method supports paging.",
          "id": "dfareporting.campaignCreativeAssociations.list",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "placements": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "id": "dfareporting.placements.insert",
          "response": {
            "$ref": "Placement"
          },
          "description": "Inserts a new placement.",
          "path": "userprofiles/{+profileId}/placements",
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "request": {
            "$ref": "Placement"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          }
        },
        "list": {
          "id": "dfareporting.placements.list",
          "description": "Retrieves a list of placements, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementsListResponse"
          },
          "parameters": {
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "default": "1000"
            },
            "campaignIds": {
              "repeated": true,
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Select only placements that belong to these campaigns."
            },
            "searchString": {
              "description": "Allows searching for placements by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placements with names like \"placement June 2015\", \"placement May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placement\" will match placements with name \"my placement\", \"placement 2015\", or simply \"placement\" .",
              "type": "string",
              "location": "query"
            },
            "maxStartDate": {
              "type": "string",
              "location": "query",
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "groupIds": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only placements that belong to these placement groups."
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "placementStrategyIds": {
              "description": "Select only placements that are associated with these placement strategies.",
              "location": "query",
              "format": "int64",
              "type": "string",
              "repeated": true
            },
            "siteIds": {
              "location": "query",
              "type": "string",
              "description": "Select only placements that are associated with these sites.",
              "repeated": true,
              "format": "int64"
            },
            "sizeIds": {
              "type": "string",
              "format": "int64",
              "repeated": true,
              "location": "query",
              "description": "Select only placements that are associated with these sizes."
            },
            "ids": {
              "description": "Select only placements with these IDs.",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "activeStatus": {
[...]
