{
  "version": "v5",
  "title": "Campaign Manager 360 API",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "servicePath": "dfareporting/v5/",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        }
      }
    }
  },
  "canonicalName": "Dfareporting",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "name": "dfareporting",
  "basePath": "/dfareporting/v5/",
  "discoveryVersion": "v1",
  "resources": {
    "accounts": {
      "methods": {
        "patch": {
          "description": "Updates an existing account. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Account"
          },
          "path": "userprofiles/{+profileId}/accounts",
          "request": {
            "$ref": "Account"
          },
          "parameters": {
            "id": {
              "required": true,
              "description": "Required. Account ID.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          },
          "id": "dfareporting.accounts.patch",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "list": {
          "response": {
            "$ref": "AccountsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "id": "dfareporting.accounts.list",
          "path": "userprofiles/{+profileId}/accounts",
          "description": "Retrieves the list of accounts, possibly filtered. This method supports paging.",
          "parameters": {
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"account*2015\" will return objects with names like \"account June 2015\", \"account April 2015\", or simply \"account 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"account\" will match objects with name \"my account\", \"account 2015\", or simply \"account\".",
              "location": "query"
            },
            "ids": {
              "location": "query",
              "description": "Select only accounts with these IDs.",
              "type": "string",
              "repeated": true,
              "format": "int64"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "default": "1000",
              "format": "int32",
              "description": "Maximum number of results to return."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "active": {
              "location": "query",
              "description": "Select only active accounts. Don't set this field to select both active and non-active accounts.",
              "type": "boolean"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query"
            },
            "sortOrder": {
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING"
            }
          }
        },
        "update": {
          "request": {
            "$ref": "Account"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Updates an existing account.",
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accounts.update",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Account"
          },
          "path": "userprofiles/{+profileId}/accounts"
        },
        "get": {
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/accounts/{+id}",
          "description": "Gets one account by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accounts/{accountsId}",
          "id": "dfareporting.accounts.get",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "id": {
              "type": "string",
              "location": "path",
              "description": "Account ID.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          }
        }
      }
    },
    "metros": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/metros",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/metros",
          "response": {
            "$ref": "MetrosListResponse"
          },
          "id": "dfareporting.metros.list",
          "description": "Retrieves a list of metros."
        }
      }
    },
    "placementGroups": {
      "methods": {
        "update": {
          "path": "userprofiles/{+profileId}/placementGroups",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "id": "dfareporting.placementGroups.update",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "PlacementGroup"
          },
          "response": {
            "$ref": "PlacementGroup"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "description": "Updates an existing placement group."
        },
        "list": {
          "description": "Retrieves a list of placement groups, possibly filtered. This method supports paging.",
          "id": "dfareporting.placementGroups.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/placementGroups",
          "response": {
            "$ref": "PlacementGroupsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "parameters": {
            "activeStatus": {
              "type": "string",
              "repeated": true,
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ],
              "location": "query",
              "description": "Select only placements with these active statuses.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ]
            },
            "directorySiteIds": {
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only placement groups that are associated with these directory sites.",
              "location": "query"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string"
            },
            "ids": {
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only placement groups with these IDs.",
              "location": "query"
            },
            "contentCategoryIds": {
              "repeated": true,
              "description": "Select only placement groups that are associated with these content categories.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "maxStartDate": {
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string",
              "location": "query"
            },
            "minStartDate": {
              "type": "string",
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query"
            },
            "minEndDate": {
              "type": "string",
              "location": "query",
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "placementStrategyIds": {
              "description": "Select only placement groups that are associated with these placement strategies.",
              "format": "int64",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for placement groups by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placement groups with names like \"placement group June 2015\", \"placement group May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementgroup\" will match placement groups with name \"my placementgroup\", \"placementgroup 2015\", or simply \"placementgroup\".",
              "location": "query",
              "type": "string"
            },
            "campaignIds": {
              "format": "int64",
              "location": "query",
              "description": "Select only placement groups that belong to these campaigns.",
              "type": "string",
              "repeated": true
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "type": "string"
            },
            "placementGroupType": {
              "type": "string",
              "enumDescriptions": [
                "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
                "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
              ],
              "enum": [
                "PLACEMENT_PACKAGE",
                "PLACEMENT_ROADBLOCK"
              ],
              "description": "Select only placement groups belonging with this group type. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting.",
              "location": "query"
            },
            "maxEndDate": {
              "type": "string",
              "location": "query",
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "type": "integer",
              "format": "int32",
              "default": "800",
              "location": "query"
            },
            "advertiserIds": {
              "format": "int64",
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Select only placement groups that belong to these advertisers."
            },
            "siteIds": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only placement groups that are associated with these sites.",
              "location": "query"
            },
            "pricingTypes": {
              "description": "Select only placement groups with these pricing types.",
              "type": "string",
              "location": "query",
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "repeated": true
            }
          }
        },
        "patch": {
          "response": {
            "$ref": "PlacementGroup"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "format": "int64",
              "description": "Required. Placement ID.",
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing placement group. This method supports patch semantics.",
          "request": {
            "$ref": "PlacementGroup"
          },
          "id": "dfareporting.placementGroups.patch",
          "path": "userprofiles/{+profileId}/placementGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH"
        },
        "insert": {
          "path": "userprofiles/{+profileId}/placementGroups",
          "request": {
            "$ref": "PlacementGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Inserts a new placement group.",
          "httpMethod": "POST",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "PlacementGroup"
          },
          "id": "dfareporting.placementGroups.insert"
        },
        "get": {
          "path": "userprofiles/{+profileId}/placementGroups/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "PlacementGroup"
          },
          "httpMethod": "GET",
          "description": "Gets one placement group by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementGroups.get",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups/{placementGroupsId}",
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Placement group ID.",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "profileId": {
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          }
        }
      }
    },
    "eventTags": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "description": "Inserts a new event tag.",
          "request": {
            "$ref": "EventTag"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "EventTag"
          },
          "id": "dfareporting.eventTags.insert",
          "path": "userprofiles/{+profileId}/eventTags",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "request": {
            "$ref": "EventTag"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "description": "Updates an existing event tag.",
          "path": "userprofiles/{+profileId}/eventTags",
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "response": {
            "$ref": "EventTag"
          },
          "id": "dfareporting.eventTags.update",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          }
        },
        "list": {
          "parameters": {
            "ids": {
              "description": "Select only event tags with these IDs.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "enabled": {
              "type": "boolean",
              "location": "query",
              "description": "Select only enabled event tags. What is considered enabled or disabled depends on the definitionsOnly parameter. When definitionsOnly is set to true, only the specified advertiser or campaign's event tags' enabledByDefault field is examined. When definitionsOnly is set to false, the specified ad or specified campaign's parent advertiser's or parent campaign's event tags' enabledByDefault and status fields are examined as well."
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"eventtag*2015\" will return objects with names like \"eventtag June 2015\", \"eventtag April 2015\", or simply \"eventtag 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"eventtag\" will match objects with name \"my eventtag\", \"eventtag 2015\", or simply \"eventtag\".",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "location": "query",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "description": "Order of sorted results."
            },
            "definitionsOnly": {
              "type": "boolean",
              "location": "query",
              "description": "Examine only the specified campaign or advertiser's event tags for matching selector criteria. When set to false, the parent advertiser and parent campaign of the specified ad or campaign is examined as well. In addition, when set to false, the status field is examined as well, along with the enabledByDefault field. This parameter can not be set to true when adId is specified as ads do not define their own even tags."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true
            },
            "campaignId": {
              "location": "query",
              "description": "Select only event tags that belong to this campaign.",
              "type": "string",
              "format": "int64"
            },
            "adId": {
              "description": "Select only event tags that belong to this ad.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "sortField": {
              "type": "string",
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID"
            },
            "advertiserId": {
              "type": "string",
              "description": "Select only event tags that belong to this advertiser.",
              "location": "query",
              "format": "int64"
            },
            "eventTagTypes": {
              "type": "string",
              "location": "query",
              "enum": [
                "IMPRESSION_IMAGE_EVENT_TAG",
                "IMPRESSION_JAVASCRIPT_EVENT_TAG",
                "CLICK_THROUGH_EVENT_TAG"
              ],
              "repeated": true,
              "description": "Select only event tags with the specified event tag types. Event tag types can be used to specify whether to use a third-party pixel, a third-party JavaScript URL, or a third-party click-through URL for either impression or click tracking.",
              "enumDescriptions": [
                "A third-party pixel for impression tracking.",
                "A third-party JavaScript URL for impression tracking.",
                "A third-party URL for click tracking that redirects to the landing page."
              ]
            }
          },
          "id": "dfareporting.eventTags.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "response": {
            "$ref": "EventTagsListResponse"
          },
          "httpMethod": "GET",
          "description": "Retrieves a list of event tags, possibly filtered.",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/eventTags"
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.eventTags.get",
          "path": "userprofiles/{+profileId}/eventTags/{+id}",
          "httpMethod": "GET",
          "description": "Gets one event tag by ID.",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "id": {
              "pattern": "^[^/]+$",
              "description": "Event tag ID.",
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/eventTags/{eventTagsId}",
          "response": {
            "$ref": "EventTag"
          }
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "request": {
            "$ref": "EventTag"
          },
          "response": {
            "$ref": "EventTag"
          },
          "httpMethod": "PATCH",
          "id": "dfareporting.eventTags.patch",
          "path": "userprofiles/{+profileId}/eventTags",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            },
            "id": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Required. EventTag ID.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing event tag. This method supports patch semantics."
        },
        "delete": {
          "description": "Deletes an existing event tag.",
          "path": "userprofiles/{+profileId}/eventTags/{+id}",
          "httpMethod": "DELETE",
          "flatPath": "userprofiles/{userprofilesId}/eventTags/{eventTagsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "Event tag ID.",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "id": "dfareporting.eventTags.delete",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "tvCampaignDetails": {
      "methods": {
        "get": {
          "parameters": {
            "accountId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Required. Account ID associated with this request."
            },
            "countryDartId": {
              "location": "query",
              "description": "Optional. Country Dart ID. If not specified, defaults to 256 (US).",
              "type": "string",
              "format": "int64"
            },
            "id": {
              "location": "path",
              "description": "Required. TV Campaign ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "description": "Required. User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64"
            },
            "tvDataProvider": {
              "enumDescriptions": [
                "",
                "Allows populating multiple tvCampaignId filters and tvCampaignEndDate filter on the report.",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "INVALID_TV_DATA_PROVIDER",
                "INTAGE_JP",
                "IBOPE_AR",
                "IBOPE_BR",
                "IBOPE_CL",
                "IBOPE_CO",
                "TNS_VN",
                "COMSCORE_NATIONAL_US",
                "COMSCORE_CA",
                "SAMBA_AU"
              ],
              "description": "Optional. TV data provider. If not specified, defaults to `COMSCORE_NATIONAL_US`.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "TvCampaignDetail"
          },
          "flatPath": "userprofiles/{userprofilesId}/tvCampaignDetails/{tvCampaignDetailsId}",
          "id": "dfareporting.tvCampaignDetails.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/tvCampaignDetails/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one TvCampaignDetail by ID.",
          "httpMethod": "GET"
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/languages",
          "path": "userprofiles/{+profileId}/languages",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.languages.list",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Retrieves a list of languages.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "userRolePermissions": {
      "methods": {
        "get": {
          "id": "dfareporting.userRolePermissions.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one user role permission by ID.",
          "path": "userprofiles/{+profileId}/userRolePermissions/{+id}",
          "response": {
            "$ref": "UserRolePermission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions/{userRolePermissionsId}",
          "parameters": {
            "id": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User role permission ID."
            },
            "profileId": {
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "id": "dfareporting.userRolePermissions.list",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/userRolePermissions",
          "description": "Gets a list of user role permissions, possibly filtered.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "UserRolePermissionsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions",
          "parameters": {
            "ids": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "repeated": true,
              "description": "Select only user role permissions with these IDs."
            },
            "profileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          }
        }
      }
    },
    "placementStrategies": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "PlacementStrategy"
          },
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/placementStrategies",
          "id": "dfareporting.placementStrategies.insert",
          "description": "Inserts a new placement strategy.",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "httpMethod": "POST",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementStrategies.update",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "request": {
            "$ref": "PlacementStrategy"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "description": "Updates an existing placement strategy.",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/placementStrategies",
          "parameterOrder": [
            "profileId"
          ]
        },
        "patch": {
          "id": "dfareporting.placementStrategies.patch",
          "description": "Updates an existing placement strategy. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "required": true,
              "description": "Required. PlacementStrategy ID."
            }
          },
          "path": "userprofiles/{+profileId}/placementStrategies",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "PlacementStrategy"
          }
        },
        "delete": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "id": {
              "required": true,
              "format": "int64",
              "description": "Placement strategy ID.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.placementStrategies.delete",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies/{placementStrategiesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/placementStrategies/{+id}",
          "description": "Deletes an existing placement strategy.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.placementStrategies.get",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "path": "userprofiles/{+profileId}/placementStrategies/{+id}",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "Placement strategy ID.",
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "description": "Gets one placement strategy by ID.",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies/{placementStrategiesId}"
        },
        "list": {
          "response": {
            "$ref": "PlacementStrategiesListResponse"
          },
          "path": "userprofiles/{+profileId}/placementStrategies",
          "description": "Retrieves a list of placement strategies, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "ids": {
              "description": "Select only placement strategies with these IDs.",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "location": "query",
              "type": "integer",
              "default": "1000"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"placementstrategy*2015\" will return objects with names like \"placementstrategy June 2015\", \"placementstrategy April 2015\", or simply \"placementstrategy 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementstrategy\" will match objects with name \"my placementstrategy\", \"placementstrategy 2015\", or simply \"placementstrategy\".",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "type": "string",
              "default": "ID",
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            },
            "sortOrder": {
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "location": "query",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "id": "dfareporting.placementStrategies.list"
        }
      }
    },
    "dimensionValues": {
      "methods": {
        "query": {
          "flatPath": "userprofiles/{profileId}/dimensionvalues/query",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "DimensionValueList"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "description": "The Campaign Manager 360 user profile ID.",
              "location": "path",
              "type": "string",
              "format": "int64"
            },
            "pageToken": {
              "description": "The value of the nextToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "100",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "id": "dfareporting.dimensionValues.query",
          "path": "userprofiles/{profileId}/dimensionvalues/query",
          "request": {
            "$ref": "DimensionValueRequest"
          },
          "description": "Retrieves list of report dimension values for a list of filters."
        }
      }
    },
    "regions": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Retrieves a list of regions.",
          "path": "userprofiles/{+profileId}/regions",
          "id": "dfareporting.regions.list",
          "response": {
            "$ref": "RegionsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/regions",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "remarketingLists": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "RemarketingList"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/remarketingLists",
          "id": "dfareporting.remarketingLists.insert",
          "response": {
            "$ref": "RemarketingList"
          },
          "description": "Inserts a new remarketing list."
        },
        "list": {
          "id": "dfareporting.remarketingLists.list",
          "description": "Retrieves a list of remarketing lists, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/remarketingLists",
          "httpMethod": "GET",
          "parameters": {
            "sortField": {
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "default": "ID"
            },
            "floodlightActivityId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Select only remarketing lists that have this floodlight activity ID."
            },
            "advertiserId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "Required. Select only remarketing lists owned by this advertiser."
            },
            "name": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "location": "query"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results."
            },
            "profileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "active": {
              "location": "query",
              "description": "Select only active or only inactive remarketing lists.",
              "type": "boolean"
            },
            "maxResults": {
              "default": "1000",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "response": {
            "$ref": "RemarketingListsListResponse"
          }
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "request": {
            "$ref": "RemarketingList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "response": {
            "$ref": "RemarketingList"
          },
          "description": "Updates an existing remarketing list.",
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/remarketingLists",
          "id": "dfareporting.remarketingLists.update",
          "parameterOrder": [
            "profileId"
          ]
        },
        "get": {
          "path": "userprofiles/{+profileId}/remarketingLists/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "required": true,
              "format": "int64",
              "description": "Remarketing list ID.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Gets one remarketing list by ID.",
          "response": {
            "$ref": "RemarketingList"
          },
          "id": "dfareporting.remarketingLists.get",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists/{remarketingListsId}"
        },
        "patch": {
          "httpMethod": "PATCH",
          "response": {
            "$ref": "RemarketingList"
          },
          "description": "Updates an existing remarketing list. This method supports patch semantics.",
          "id": "dfareporting.remarketingLists.patch",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/remarketingLists",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "id": {
              "location": "query",
              "description": "Required. RemarketingList ID.",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "request": {
            "$ref": "RemarketingList"
          }
        }
      }
    },
    "advertiserInvoices": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/advertisers/{advertisersId}/invoices",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "advertiserId": {
              "required": true,
              "description": "Advertiser ID of this invoice.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "format": "int32"
            },
            "issueMonth": {
              "type": "string",
              "location": "query",
              "description": "Month for which invoices are needed in the format YYYYMM. Required field"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "response": {
            "$ref": "AdvertiserInvoicesListResponse"
          },
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/advertisers/{+advertiserId}/invoices",
          "description": "Retrieves a list of invoices for a particular issue month. The api only works if the billing profile invoice level is set to either advertiser or campaign non-consolidated invoice level.",
          "id": "dfareporting.advertiserInvoices.list"
        }
      }
    },
    "dynamicTargetingKeys": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys",
          "description": "Retrieves a list of dynamic targeting keys.",
          "parameters": {
            "objectId": {
              "type": "string",
              "location": "query",
              "description": "Select only dynamic targeting keys with this object ID.",
              "format": "int64"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "objectType": {
              "location": "query",
              "type": "string",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "description": "Select only dynamic targeting keys with this object type.",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ]
            },
            "names": {
              "location": "query",
              "repeated": true,
              "description": "Select only dynamic targeting keys exactly matching these names.",
              "type": "string"
            },
            "advertiserId": {
              "description": "Select only dynamic targeting keys whose object has this advertiser ID.",
              "format": "int64",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "DynamicTargetingKeysListResponse"
          },
          "id": "dfareporting.dynamicTargetingKeys.list",
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys"
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "DynamicTargetingKey"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "DynamicTargetingKey"
          },
          "id": "dfareporting.dynamicTargetingKeys.insert",
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys",
          "description": "Inserts a new dynamic targeting key. Keys must be created at the advertiser level before being assigned to the advertiser's ads, creatives, or placements. There is a maximum of 1000 keys per advertiser, out of which a maximum of 20 keys can be assigned per ad, creative, or placement."
        },
        "delete": {
          "description": "Deletes an existing dynamic targeting key.",
          "id": "dfareporting.dynamicTargetingKeys.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "objectId": {
              "description": "ID of the object of this dynamic targeting key. This is a required field.",
              "required": true,
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "objectType": {
              "description": "Required. Type of the object of this dynamic targeting key. This is a required field.",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "required": true,
              "type": "string",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "location": "query"
            },
            "name": {
              "location": "query",
              "required": true,
              "description": "Required. Name of this dynamic targeting key. This is a required field. Must be less than 256 characters long and cannot contain commas. All characters are converted to lowercase.",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys/{+objectId}",
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys/{dynamicTargetingKeysId}",
          "parameterOrder": [
            "profileId",
            "objectId",
            "name",
            "objectType"
          ]
        }
      }
    },
    "targetableRemarketingLists": {
      "methods": {
        "list": {
          "parameters": {
            "sortField": {
              "default": "ID",
              "type": "string",
              "description": "Field by which to sort the list.",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query"
            },
            "advertiserId": {
              "required": true,
              "type": "string",
              "description": "Required. Select only targetable remarketing lists targetable by these advertisers.",
              "location": "query",
              "format": "int64"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "name": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "default": "1000",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "active": {
              "description": "Select only active or only inactive targetable remarketing lists.",
              "type": "boolean",
              "location": "query"
            }
          },
          "description": "Retrieves a list of targetable remarketing lists, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "TargetableRemarketingListsListResponse"
          },
          "id": "dfareporting.targetableRemarketingLists.list",
          "path": "userprofiles/{+profileId}/targetableRemarketingLists",
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ]
        },
        "get": {
          "response": {
            "$ref": "TargetableRemarketingList"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "required": true,
              "description": "Remarketing list ID.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Gets one remarketing list by ID.",
          "id": "dfareporting.targetableRemarketingLists.get",
          "path": "userprofiles/{+profileId}/targetableRemarketingLists/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists/{targetableRemarketingListsId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "contentCategories": {
      "methods": {
        "delete": {
          "parameters": {
            "id": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Content category ID."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "id": "dfareporting.contentCategories.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/contentCategories/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Deletes an existing content category."
        },
        "patch": {
          "request": {
            "$ref": "ContentCategory"
          },
          "httpMethod": "PATCH",
          "description": "Updates an existing content category. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/contentCategories",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "format": "int64",
              "description": "Required. ContentCategory ID.",
              "type": "string",
              "required": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "ContentCategory"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.contentCategories.patch",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories"
        },
        "list": {
          "path": "userprofiles/{+profileId}/contentCategories",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "httpMethod": "GET",
          "response": {
            "$ref": "ContentCategoriesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.contentCategories.list",
          "description": "Retrieves a list of content categories, possibly filtered. This method supports paging.",
          "parameters": {
            "sortField": {
              "description": "Field by which to sort the list.",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "location": "query",
              "type": "string",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "maxResults": {
              "default": "1000",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results to return.",
              "format": "int32"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"contentcategory*2015\" will return objects with names like \"contentcategory June 2015\", \"contentcategory April 2015\", or simply \"contentcategory 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"contentcategory\" will match objects with name \"my contentcategory\", \"contentcategory 2015\", or simply \"contentcategory\"."
            },
            "ids": {
              "description": "Select only content categories with these IDs.",
              "repeated": true,
              "format": "int64",
              "location": "query",
              "type": "string"
            }
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "ContentCategory"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/contentCategories",
          "description": "Updates an existing content category.",
          "response": {
            "$ref": "ContentCategory"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "id": "dfareporting.contentCategories.update",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories"
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "ContentCategory"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "path": "userprofiles/{+profileId}/contentCategories/{+id}",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "Content category ID."
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "id": "dfareporting.contentCategories.get",
          "description": "Gets one content category by ID."
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "ContentCategory"
          },
          "id": "dfareporting.contentCategories.insert",
          "httpMethod": "POST",
          "description": "Inserts a new content category.",
          "path": "userprofiles/{+profileId}/contentCategories",
          "request": {
            "$ref": "ContentCategory"
          }
        }
      }
    },
    "platformTypes": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "id": {
              "description": "Platform type ID.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "PlatformType"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/platformTypes/{platformTypesId}",
          "path": "userprofiles/{+profileId}/platformTypes/{+id}",
          "httpMethod": "GET",
          "id": "dfareporting.platformTypes.get",
          "description": "Gets one platform type by ID."
        },
        "list": {
          "response": {
            "$ref": "PlatformTypesListResponse"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/platformTypes",
          "path": "userprofiles/{+profileId}/platformTypes",
          "id": "dfareporting.platformTypes.list",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of platform types."
        }
      }
    },
    "billingAssignments": {
      "methods": {
        "insert": {
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "id": "dfareporting.billingAssignments.insert",
          "parameters": {
            "billingProfileId": {
              "type": "string",
              "required": true,
              "description": "Billing profile ID of this billing assignment.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "request": {
            "$ref": "BillingAssignment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "httpMethod": "POST",
          "description": "Inserts a new billing assignment and returns the new assignment. Only one of advertiser_id or campaign_id is support per request. If the new assignment has no effect (assigning a campaign to the parent advertiser billing profile or assigning an advertiser to the account billing profile), no assignment will be returned.",
          "response": {
            "$ref": "BillingAssignment"
          },
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ]
        },
        "list": {
          "description": "Retrieves a list of billing assignments.",
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "billingProfileId": {
              "description": "Billing profile ID of this billing assignment.",
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "id": "dfareporting.billingAssignments.list",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "response": {
            "$ref": "BillingAssignmentsListResponse"
          }
        }
      }
    },
    "creativeAssets": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "description": "Inserts a new creative asset.",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "request": {
            "$ref": "CreativeAssetMetadata"
          },
          "response": {
            "$ref": "CreativeAssetMetadata"
          },
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets",
          "id": "dfareporting.creativeAssets.insert",
          "flatPath": "userprofiles/{userprofilesId}/creativeAssets/{creativeAssetsId}/creativeAssets",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "advertiserId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "Advertiser ID of this creative. This is a required field.",
              "format": "int64",
              "location": "path"
            }
          },
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/dfareporting/v5/userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets",
                "multipart": true
              }
            },
            "maxSize": "1073741824",
            "accept": [
              "*/*"
            ]
          }
        }
      }
    },
    "operatingSystems": {
      "methods": {
        "list": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of operating systems.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/operatingSystems",
          "id": "dfareporting.operatingSystems.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "OperatingSystemsListResponse"
          },
          "path": "userprofiles/{+profileId}/operatingSystems"
        },
        "get": {
          "httpMethod": "GET",
          "description": "Gets one operating system by DART ID.",
          "path": "userprofiles/{+profileId}/operatingSystems/{+dartId}",
          "parameterOrder": [
            "profileId",
            "dartId"
          ],
          "id": "dfareporting.operatingSystems.get",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystems/{operatingSystemsId}",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64"
            },
            "dartId": {
              "type": "string",
              "required": true,
              "description": "Operating system DART ID.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "OperatingSystem"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "accountActiveAdSummaries": {
      "methods": {
        "get": {
          "description": "Gets the account's active ad summary by account ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "id": "dfareporting.accountActiveAdSummaries.get",
          "parameterOrder": [
            "profileId",
            "summaryAccountId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountActiveAdSummaries/{accountActiveAdSummariesId}",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "summaryAccountId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Account ID.",
              "location": "path",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "AccountActiveAdSummary"
          },
          "path": "userprofiles/{+profileId}/accountActiveAdSummaries/{+summaryAccountId}"
        }
      }
    },
    "conversions": {
      "methods": {
        "batchinsert": {
          "response": {
            "$ref": "ConversionsBatchInsertResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions"
          ],
          "id": "dfareporting.conversions.batchinsert",
          "httpMethod": "POST",
          "flatPath": "userprofiles/{profileId}/conversions/batchinsert",
          "description": "Inserts conversions.",
          "path": "userprofiles/{profileId}/conversions/batchinsert",
          "request": {
            "$ref": "ConversionsBatchInsertRequest"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId"
          ]
        },
        "batchupdate": {
          "request": {
            "$ref": "ConversionsBatchUpdateRequest"
          },
          "description": "Updates existing conversions.",
          "httpMethod": "POST",
          "flatPath": "userprofiles/{profileId}/conversions/batchupdate",
          "id": "dfareporting.conversions.batchupdate",
          "path": "userprofiles/{profileId}/conversions/batchupdate",
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "response": {
            "$ref": "ConversionsBatchUpdateResponse"
          },
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "creativeFieldValues": {
      "methods": {
        "update": {
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "description": "Updates an existing creative field value.",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "parameters": {
            "creativeFieldId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Creative field ID for this creative field value."
            },
            "profileId": {
              "type": "string",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeFieldValues.update",
          "request": {
            "$ref": "CreativeFieldValue"
          }
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "creativeFieldId": {
              "required": true,
              "type": "string",
              "description": "Creative field ID for this creative field value.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "id": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Creative Field Value ID"
            }
          },
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "description": "Gets one creative field value by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeFieldValues.get",
          "httpMethod": "GET"
        },
        "insert": {
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64"
            },
            "creativeFieldId": {
              "description": "Creative field ID for this creative field value.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "id": "dfareporting.creativeFieldValues.insert",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "description": "Inserts a new creative field value.",
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "CreativeFieldValue"
          }
        },
        "patch": {
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "id": "dfareporting.creativeFieldValues.patch",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "CreativeFieldValue ID."
            },
            "creativeFieldId": {
              "description": "CreativeField ID.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            },
            "profileId": {
              "required": true,
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "User profile ID associated with this request."
            }
          },
          "description": "Updates an existing creative field value. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "CreativeFieldValue"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "id": "dfareporting.creativeFieldValues.delete",
          "httpMethod": "DELETE",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}",
          "description": "Deletes an existing creative field value.",
          "parameters": {
            "id": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "Creative Field Value ID",
              "type": "string"
            },
            "creativeFieldId": {
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "Creative field ID for this creative field value.",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          }
        },
        "list": {
[...]
