{
  "kind": "discovery#restDescription",
  "id": "dialogflow:v3",
  "version_module": true,
  "version": "v3",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "discoveryVersion": "v1",
  "canonicalName": "Dialogflow",
  "basePath": "",
  "schemas": {
    "GoogleCloudDialogflowCxV3CompareVersionsRequest": {
      "id": "GoogleCloudDialogflowCxV3CompareVersionsRequest",
      "properties": {
        "targetVersion": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3LlmModelSettings": {
      "properties": {
        "promptText": {
          "type": "string"
        },
        "model": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3LlmModelSettings"
    },
    "GoogleCloudDialogflowCxV3beta1DtmfInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DtmfInput",
      "properties": {
        "digits": {
          "type": "string"
        },
        "finishDigit": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3ListTestCasesResponse",
      "type": "object",
      "properties": {
        "testCases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCase"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3VariantsHistory": {
      "id": "GoogleCloudDialogflowCxV3VariantsHistory",
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "versionVariants": {
          "$ref": "GoogleCloudDialogflowCxV3VersionVariants"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FormParameter": {
      "properties": {
        "entityType": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "redact": {
          "type": "boolean"
        },
        "defaultValue": {
          "type": "any"
        },
        "displayName": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FormParameter"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent": {
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3BoostSpec": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3BoostSpec",
      "properties": {
        "conditionBoostSpecs": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpec"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo",
      "properties": {
        "lastMatchedIntent": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolAuthenticationServiceAccountAuthConfig": {
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolAuthenticationServiceAccountAuthConfig"
    },
    "GoogleCloudDialogflowCxV3RunTestCaseMetadata": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3RunTestCaseMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult": {
      "properties": {
        "magnitude": {
          "format": "float",
          "type": "number"
        },
        "score": {
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3IntentParameter": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentParameter",
      "properties": {
        "id": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "redact": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction"
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButton",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebService": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebService",
      "properties": {
        "parameterMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "username": {
          "deprecated": true,
          "type": "string"
        },
        "webhookType": {
          "enum": [
            "WEBHOOK_TYPE_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "serviceAccountAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig"
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig"
        },
        "requestBody": {
          "type": "string"
        },
        "serviceAgentAuth": {
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "NONE",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "requestHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "password": {
          "type": "string",
          "deprecated": true
        },
        "uri": {
          "type": "string"
        },
        "allowedCaCerts": {
          "type": "array",
          "items": {
            "format": "byte",
            "type": "string"
          }
        },
        "secretVersionsForRequestHeaders": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue"
          }
        },
        "httpMethod": {
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "POST",
            "GET",
            "HEAD",
            "PUT",
            "DELETE",
            "PATCH",
            "OPTIONS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "secretVersionForUsernamePassword": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3QueryResult": {
      "id": "GoogleCloudDialogflowCxV3QueryResult",
      "properties": {
        "responseMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          },
          "type": "array"
        },
        "match": {
          "$ref": "GoogleCloudDialogflowCxV3Match"
        },
        "allowAnswerFeedback": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "traceBlocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TraceBlock"
          }
        },
        "languageCode": {
          "type": "string"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3DtmfInput"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3SentimentAnalysisResult"
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "intentDetectionConfidence": {
          "format": "float",
          "type": "number",
          "deprecated": true
        },
        "transcript": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "webhookPayloads": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          }
        },
        "triggerEvent": {
          "type": "string"
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "intent": {
          "deprecated": true,
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "triggerIntent": {
          "type": "string"
        },
        "dataStoreConnectionSignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignals"
        },
        "currentFlow": {
          "$ref": "GoogleCloudDialogflowCxV3Flow"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GcsDestination": {
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GcsDestination"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource",
      "properties": {
        "snippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata": {
      "id": "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCall": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolCall",
      "type": "object",
      "properties": {
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "action": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DataStoreConnection": {
      "id": "GoogleCloudDialogflowCxV3DataStoreConnection",
      "properties": {
        "dataStoreType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "STRUCTURED"
          ]
        },
        "documentProcessingMode": {
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "dataStore": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3BoostSpecs": {
      "id": "GoogleCloudDialogflowCxV3BoostSpecs",
      "properties": {
        "spec": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3BoostSpec"
          },
          "type": "array"
        },
        "dataStores": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2FreeFormSuggestion": {
      "id": "GoogleCloudDialogflowV2FreeFormSuggestion",
      "type": "object",
      "properties": {
        "response": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfo": {
      "id": "GoogleCloudDialogflowCxV3PageInfo",
      "properties": {
        "formInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
        },
        "currentPage": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConversationModel": {
      "properties": {
        "smartReplyModelMetadata": {
          "$ref": "GoogleCloudDialogflowV2SmartReplyModelMetadata"
        },
        "articleSuggestionModelMetadata": {
          "$ref": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING",
            "FAILED",
            "PENDING"
          ],
          "readOnly": true
        },
        "datasets": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2InputDataset"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ConversationModel"
    },
    "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse": {
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ParameterDefinition": {
      "id": "GoogleCloudDialogflowCxV3ParameterDefinition",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "typeSchema": {
          "$ref": "GoogleCloudDialogflowCxV3TypeSchema"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "deprecated": true,
          "enum": [
            "PARAMETER_TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "BOOLEAN",
            "NULL",
            "OBJECT",
            "LIST"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3SentimentAnalysisResult": {
      "type": "object",
      "properties": {
        "magnitude": {
          "format": "float",
          "type": "number"
        },
        "score": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3SentimentAnalysisResult"
    },
    "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse",
      "properties": {
        "knowledgeAssistAnswer": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer",
          "readOnly": true
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "latestMessage": {
          "type": "string"
        },
        "additionalSuggestedQueryResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3SafetySettings": {
      "properties": {
        "promptSecuritySettings": {
          "$ref": "GoogleCloudDialogflowCxV3SafetySettingsPromptSecuritySettings"
        },
        "defaultRaiSettings": {
          "$ref": "GoogleCloudDialogflowCxV3SafetySettingsRaiSettings"
        },
        "raiSettings": {
          "$ref": "GoogleCloudDialogflowCxV3SafetySettingsRaiSettings"
        },
        "defaultBannedPhraseMatchStrategy": {
          "enum": [
            "PHRASE_MATCH_STRATEGY_UNSPECIFIED",
            "PARTIAL_MATCH",
            "WORD_MATCH"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "bannedPhrases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3SafetySettingsPhrase"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3SafetySettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessage": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessage",
      "type": "object",
      "properties": {
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText"
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess"
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall"
        },
        "mixedAudio": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio"
        },
        "channel": {
          "type": "string"
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "endInteraction": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCall"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContent": {
      "properties": {
        "mediaType": {
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "mediaObjects": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "properties": {
        "suggestionIndex": {
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "similarityScore": {
          "type": "number",
          "readOnly": true,
          "format": "float"
        },
        "answerRecord": {
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer",
      "properties": {
        "sourceGenerator": {
          "type": "string"
        },
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "done": {
          "type": "boolean"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer": {
      "properties": {
        "faqSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
        },
        "playbookSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "generativeSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "answerText": {
          "type": "string"
        },
        "eventSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer"
    },
    "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse": {
      "id": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse",
      "type": "object",
      "properties": {
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          },
          "type": "array"
        },
        "mergeBehavior": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2WebhookResponse": {
      "id": "GoogleCloudDialogflowV2WebhookResponse",
      "type": "object",
      "properties": {
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "source": {
          "type": "string"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "fulfillmentMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          },
          "type": "array"
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2EventInput"
        },
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion",
      "properties": {
        "destinationName": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseResult": {
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseResult",
      "type": "object",
      "properties": {
        "conversationTurns": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          },
          "type": "array"
        },
        "environment": {
          "type": "string"
        },
        "testResult": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListWebhooksResponse": {
      "id": "GoogleCloudDialogflowCxV3ListWebhooksResponse",
      "properties": {
        "webhooks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Webhook"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolCallResultError": {
      "id": "GoogleCloudDialogflowV2beta1ToolCallResultError",
      "properties": {
        "message": {
          "type": "string"
        },
        "retryable": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3MatchIntentRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3MatchIntentRequest",
      "properties": {
        "persistParameterChanges": {
          "type": "boolean"
        },
        "queryInput": {
          "$ref": "GoogleCloudDialogflowCxV3QueryInput"
        },
        "queryParams": {
          "$ref": "GoogleCloudDialogflowCxV3QueryParameters"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DeployFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3DeployFlowResponse",
      "properties": {
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3Environment"
        },
        "deployment": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult",
      "properties": {
        "duplicateSuggestions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3SecuritySettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3SecuritySettings",
      "properties": {
        "retentionWindowDays": {
          "format": "int32",
          "type": "integer"
        },
        "redactionScope": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "REDACTION_SCOPE_UNSPECIFIED",
            "REDACT_DISK_STORAGE"
          ]
        },
        "redactionStrategy": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "REDACTION_STRATEGY_UNSPECIFIED",
            "REDACT_WITH_SERVICE"
          ],
          "type": "string"
        },
        "audioExportSettings": {
          "$ref": "GoogleCloudDialogflowCxV3SecuritySettingsAudioExportSettings"
        },
        "inspectTemplate": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "retentionStrategy": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "RETENTION_STRATEGY_UNSPECIFIED",
            "REMOVE_AFTER_CONVERSATION"
          ]
        },
        "displayName": {
          "type": "string"
        },
        "insightsExportSettings": {
          "$ref": "GoogleCloudDialogflowCxV3SecuritySettingsInsightsExportSettings"
        },
        "purgeDataTypes": {
          "items": {
            "enum": [
              "PURGE_DATA_TYPE_UNSPECIFIED",
              "DIALOGFLOW_HISTORY"
            ],
            "enumDescriptions": [
              "",
              ""
            ],
            "type": "string"
          },
          "type": "array"
        },
        "deidentifyTemplate": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillIntentResponse": {
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowCxV3QueryResult"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3OutputAudioConfig"
        },
        "outputAudio": {
          "type": "string",
          "format": "byte"
        },
        "responseId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FulfillIntentResponse"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardCell": {
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardCell",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Phrase": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Phrase",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3InputAudioConfig": {
      "type": "object",
      "properties": {
        "modelVariant": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ]
        },
        "bargeInConfig": {
          "$ref": "GoogleCloudDialogflowCxV3BargeInConfig"
        },
        "phraseHints": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "audioEncoding": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ]
        },
        "model": {
          "type": "string"
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer"
        },
        "singleUtterance": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3InputAudioConfig"
    },
    "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpec": {
      "properties": {
        "controlPoints": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "type": "array"
        },
        "attributeType": {
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "interpolationType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "type": "string"
        },
        "fieldName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpec"
    },
    "GoogleCloudDialogflowV2beta1FreeFormSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1FreeFormSuggestion",
      "properties": {
        "response": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata": {
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2StreamingRecognitionResult": {
      "id": "GoogleCloudDialogflowV2StreamingRecognitionResult",
      "properties": {
        "isFinal": {
          "type": "boolean"
        },
        "speechWordInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SpeechWordInfo"
          }
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "transcript": {
          "type": "string"
        },
        "messageType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "DTMF_DIGITS",
            "END_OF_SINGLE_UTTERANCE",
            "PARTIAL_DTMF_DIGITS",
            "SPEECH_ACTIVITY_BEGIN",
            "SPEECH_ACTIVITY_END"
          ]
        },
        "languageCode": {
          "type": "string"
        },
        "speechEndOffset": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrase": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "timesAddedCount": {
          "format": "int32",
          "type": "integer"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart"
          }
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia",
      "type": "object",
      "properties": {
        "height": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HEIGHT_UNSPECIFIED",
            "SHORT",
            "MEDIUM",
            "TALL"
          ],
          "type": "string"
        },
        "fileUri": {
          "type": "string"
        },
        "thumbnailUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext",
      "properties": {
        "value": {
          "type": "string"
        },
        "key": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolAuthenticationOAuthConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolAuthenticationOAuthConfig",
      "properties": {
        "oauthGrantType": {
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata",
      "properties": {
        "request": {
          "$ref": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EventInput": {
      "properties": {
        "event": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1EventInput"
    },
    "GoogleCloudDialogflowCxV3FilterSpecs": {
      "type": "object",
      "properties": {
        "dataStores": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "filter": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FilterSpecs"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall",
      "properties": {
        "sipUri": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestResponse": {
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestResponse",
      "properties": {
        "continuousTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3ContinuousTestResult"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig": {
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCardButton": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCardButton",
      "properties": {
        "text": {
          "type": "string"
        },
        "postback": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse",
      "properties": {
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExperimentResultVersionMetrics": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ExperimentResultMetric"
          }
        },
        "sessionCount": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExperimentResultVersionMetrics"
    },
    "GoogleCloudDialogflowCxV3QueryParameters": {
      "type": "object",
      "properties": {
        "analyzeQueryTextSentiment": {
          "type": "boolean"
        },
        "currentPlaybook": {
          "type": "string"
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3LlmModelSettings"
        },
        "disableWebhook": {
          "type": "boolean"
        },
        "timeZone": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "currentPage": {
          "type": "string"
        },
        "geoLocation": {
          "$ref": "GoogleTypeLatLng"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "parameterScope": {
          "type": "string"
        },
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
          },
          "type": "array"
        },
        "webhookHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "endUserMetadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "populateDataStoreConnectionSignals": {
          "deprecated": true,
          "type": "boolean"
        },
        "flowVersions": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "channel": {
          "type": "string"
        },
        "sessionTtl": {
          "format": "google-duration",
          "type": "string"
        },
        "searchConfig": {
          "$ref": "GoogleCloudDialogflowCxV3SearchConfig"
        }
      },
      "id": "GoogleCloudDialogflowCxV3QueryParameters"
    },
    "GoogleCloudDialogflowCxV3Tool": {
      "id": "GoogleCloudDialogflowCxV3Tool",
      "type": "object",
      "properties": {
        "openApiSpec": {
          "$ref": "GoogleCloudDialogflowCxV3ToolOpenApiTool"
        },
        "functionSpec": {
          "$ref": "GoogleCloudDialogflowCxV3ToolFunctionTool"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "toolType": {
          "enum": [
            "TOOL_TYPE_UNSPECIFIED",
            "CUSTOMIZED_TOOL",
            "BUILTIN_TOOL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true,
          "type": "string"
        },
        "dataStoreSpec": {
          "$ref": "GoogleCloudDialogflowCxV3ToolDataStoreTool"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TransitionCoverageTransition": {
      "id": "GoogleCloudDialogflowCxV3TransitionCoverageTransition",
      "type": "object",
      "properties": {
        "source": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionCoverageTransitionNode"
        },
        "covered": {
          "type": "boolean"
        },
        "transitionRoute": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
        },
        "target": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionCoverageTransitionNode"
        },
        "eventHandler": {
          "$ref": "GoogleCloudDialogflowCxV3EventHandler"
        },
        "index": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportFlowResponse",
      "properties": {
        "flow": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult",
      "properties": {
        "duplicateSuggestions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3Environment": {
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig"
        },
        "versionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig"
          }
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Environment"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText": {
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText"
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Intent"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3TypeSchema": {
      "type": "object",
      "properties": {
        "inlineSchema": {
          "$ref": "GoogleCloudDialogflowCxV3InlineSchema"
        },
        "schemaReference": {
          "$ref": "GoogleCloudDialogflowCxV3TypeSchemaSchemaReference"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TypeSchema"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelect": {
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelect"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources",
      "properties": {
        "instructionIndexes": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse": {
      "type": "object",
      "properties": {
        "content": {
          "format": "byte",
          "type": "string"
        },
        "gcsUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstruction": {
      "properties": {
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult"
        },
        "systemAction": {
          "type": "string"
        },
        "displayDetails": {
          "type": "string"
        },
        "triggeringEvent": {
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "condition": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "agentAction": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingInstruction"
    },
    "GoogleCloudDialogflowV2EntityType": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2EntityType",
      "properties": {
        "name": {
          "type": "string"
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          },
          "type": "array"
        },
        "autoExpansionMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue": {
      "properties": {
        "secretVersion": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "properties": {
        "question": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Fulfillment": {
      "properties": {
        "enableGenerativeFallback": {
          "type": "boolean"
        },
        "tag": {
          "type": "string"
        },
        "conditionalCases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
          },
          "type": "array"
        },
        "setParameterActions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction"
          }
        },
        "generators": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings"
          },
          "type": "array"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        },
        "codeBlockFunction": {
          "type": "string"
        },
        "returnPartialResponses": {
          "type": "boolean"
        },
        "webhook": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Fulfillment",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesRequest": {
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "filter": {
          "type": "string"
        },
        "dataFormat": {
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesRequest"
    },
    "GoogleCloudDialogflowCxV3ToolTLSConfigCACert": {
      "id": "GoogleCloudDialogflowCxV3ToolTLSConfigCACert",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "cert": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1EntityType": {
      "id": "GoogleCloudDialogflowV2beta1EntityType",
      "type": "object",
      "properties": {
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          },
          "type": "array"
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ]
        },
        "autoExpansionMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ]
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SafetySettingsRaiSettingsCategoryFilter": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3SafetySettingsRaiSettingsCategoryFilter",
      "properties": {
        "category": {
          "enum": [
            "SAFETY_CATEGORY_UNSPECIFIED",
            "DANGEROUS_CONTENT",
            "HATE_SPEECH",
            "HARASSMENT",
            "SEXUALLY_EXPLICIT_CONTENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "filterLevel": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SAFETY_FILTER_LEVEL_UNSPECIFIED",
            "BLOCK_NONE",
            "BLOCK_FEW",
            "BLOCK_SOME",
            "BLOCK_MOST"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3Playbook": {
      "id": "GoogleCloudDialogflowCxV3Playbook",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3LlmModelSettings"
        },
        "name": {
          "type": "string"
        },
        "inlineActions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "referencedTools": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "goal": {
          "type": "string"
        },
        "outputParameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ParameterDefinition"
          }
        },
        "tokenCount": {
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "codeBlock": {
          "$ref": "GoogleCloudDialogflowCxV3CodeBlock"
        },
        "inputParameterDefinitions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ParameterDefinition"
          },
          "type": "array"
        },
        "referencedPlaybooks": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "handlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Handler"
          },
          "type": "array"
        },
        "referencedFlows": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "instruction": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookInstruction"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "playbookType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PLAYBOOK_TYPE_UNSPECIFIED",
            "TASK",
            "ROUTINE"
          ],
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestConfig": {
      "properties": {
        "flow": {
          "type": "string"
        },
        "page": {
          "type": "string"
        },
        "trackingParameters": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TestConfig"
    },
    "GoogleCloudDialogflowCxV3Handler": {
      "id": "GoogleCloudDialogflowCxV3Handler",
      "type": "object",
      "properties": {
        "lifecycleHandler": {
          "$ref": "GoogleCloudDialogflowCxV3HandlerLifecycleHandler"
        },
        "eventHandler": {
          "$ref": "GoogleCloudDialogflowCxV3HandlerEventHandler"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCard": {
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow"
          }
        },
        "columnProperties": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
          },
          "type": "array"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCard",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponse": {
      "properties": {
        "ssml": {
          "type": "string"
        },
        "textToSpeech": {
          "type": "string"
        },
        "displayText": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponse",
      "type": "object"
    },
    "GoogleTypeLatLng": {
      "properties": {
        "latitude": {
          "format": "double",
          "type": "number"
        },
        "longitude": {
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleTypeLatLng"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig",
      "type": "object",
      "properties": {
        "clientSecret": {
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion",
      "type": "object",
      "properties": {
        "agentAction": {
          "type": "string"
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Version": {
      "id": "GoogleCloudDialogflowCxV3Version",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "nluSettings": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3NluSettings"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverageTransition": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverageTransition",
      "properties": {
        "transitionRoute": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
        },
        "covered": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolCallResult": {
      "type": "object",
      "properties": {
        "content": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "rawContent": {
          "format": "byte",
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2ToolCallResultError"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ToolCallResult"
    },
    "GoogleCloudDialogflowCxV3ExportFlowRequest": {
      "id": "GoogleCloudDialogflowCxV3ExportFlowRequest",
      "type": "object",
      "properties": {
        "includeReferencedFlows": {
          "type": "boolean"
        },
        "flowUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolCall": {
      "id": "GoogleCloudDialogflowV2beta1ToolCall",
      "properties": {
        "action": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true,
          "type": "string"
        },
        "toolDisplayName": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "cesTool": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponse",
      "properties": {
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources"
        },
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolAuthenticationApiKeyConfig": {
      "properties": {
        "secretVersionForApiKey": {
          "type": "string"
        },
        "keyName": {
          "type": "string"
        },
        "requestLocation": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ]
        },
        "apiKey": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolAuthenticationApiKeyConfig"
    },
    "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse": {
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        },
        "additionalSuggestedQueryResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          },
          "type": "array"
        },
        "knowledgeAssistAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswer"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestionResult": {
      "properties": {
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
        },
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestArticlesResponse"
        },
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestionResult"
    },
    "GoogleCloudDialogflowV2beta1ExportAgentResponse": {
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ExportAgentResponse"
    },
    "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata": {
      "id": "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string"
        },
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ExportOperationMetadata": {
      "type": "object",
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2beta1GcsDestination"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ExportOperationMetadata"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer",
      "properties": {
        "answer": {
          "type": "string"
        },
        "matchConfidenceLevel": {
          "enum": [
            "MATCH_CONFIDENCE_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "faqQuestion": {
          "type": "string"
        },
        "matchConfidence": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1SessionInfo": {
      "properties": {
        "session": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1SessionInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessage": {
      "type": "object",
      "properties": {
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageText"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall"
        },
        "mixedAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "endInteraction": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessage"
    },
    "GoogleCloudDialogflowV2beta1ToolCallResult": {
      "type": "object",
      "properties": {
        "cesApp": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResultError"
        },
        "answerRecord": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "rawContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ToolCallResult"
    },
    "GoogleCloudDialogflowCxV3SpeechProcessingMetadata": {
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3SpeechProcessingMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3OutputAudioConfig": {
      "type": "object",
      "properties": {
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer"
        },
        "audioEncoding": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW",
            "OUTPUT_AUDIO_ENCODING_ALAW"
          ]
        },
        "synthesizeSpeechConfig": {
          "$ref": "GoogleCloudDialogflowCxV3SynthesizeSpeechConfig"
        }
      },
      "id": "GoogleCloudDialogflowCxV3OutputAudioConfig"
    },
    "GoogleCloudDialogflowCxV3DetectIntentResponse": {
      "properties": {
        "responseType": {
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "PARTIAL",
            "FINAL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "outputAudio": {
          "type": "string",
          "format": "byte"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowCxV3QueryResult"
        },
        "allowCancellation": {
          "type": "boolean"
        },
        "responseId": {
          "type": "string"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3OutputAudioConfig"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DetectIntentResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AnswerFeedbackRatingReason": {
      "id": "GoogleCloudDialogflowCxV3AnswerFeedbackRatingReason",
      "type": "object",
      "properties": {
        "reasonLabels": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "feedback": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard": {
      "properties": {
        "cardContents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
          },
          "type": "array"
        },
        "cardWidth": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CARD_WIDTH_UNSPECIFIED",
            "SMALL",
            "MEDIUM"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard"
    },
    "GoogleCloudDialogflowCxV3TestCase": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TestCase",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "creationTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3TestConfig"
        },
        "name": {
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        },
        "notes": {
          "type": "string"
        },
        "testCaseConversationTurns": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse": {
      "type": "object",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio": {
      "type": "object",
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio"
    },
    "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio",
      "type": "object",
      "properties": {
        "audioUri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig",
      "properties": {
        "service": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Sentiment": {
      "id": "GoogleCloudDialogflowV2Sentiment",
      "properties": {
        "magnitude": {
          "format": "float",
          "type": "number"
        },
        "score": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction"
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent": {
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent",
      "properties": {
        "conversation": {
          "type": "string"
        },
        "participant": {
          "type": "string"
        },
        "suggestionResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SuggestionResult"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FlowValidationResult": {
      "id": "GoogleCloudDialogflowCxV3FlowValidationResult",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "validationMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ValidationMessage"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TrainFlowRequest": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3TrainFlowRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RestorePlaybookVersionResponse": {
      "properties": {
        "playbook": {
          "$ref": "GoogleCloudDialogflowCxV3Playbook"
        }
      },
      "id": "GoogleCloudDialogflowCxV3RestorePlaybookVersionResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata": {
      "type": "object",
      "properties": {
        "conversationProfile": {
          "type": "string"
        },
        "participantRole": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "suggestionFeatureType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata"
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrase": {
      "properties": {
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
          }
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "timesAddedCount": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrase",
      "type": "object"
    },
    "GoogleCloudDialogflowV2Intent": {
      "id": "GoogleCloudDialogflowV2Intent",
      "type": "object",
      "properties": {
        "followupIntentInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentFollowupIntentInfo"
          }
        },
        "displayName": {
          "type": "string"
        },
        "rootFollowupIntentName": {
          "readOnly": true,
          "type": "string"
        },
        "events": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "inputContextNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isFallback": {
          "type": "boolean"
        },
        "defaultResponsePlatforms": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "GOOGLE_HANGOUTS"
            ]
          },
          "type": "array"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrase"
          }
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentParameter"
          }
        },
        "endInteraction": {
          "type": "boolean"
        },
        "action": {
          "type": "string"
        },
        "resetContexts": {
          "type": "boolean"
        },
        "webhookState": {
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "mlDisabled": {
          "type": "boolean"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesResponse": {
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata": {
      "id": "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata",
      "properties": {
        "conversationModelEvaluation": {
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "RUNNING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "conversationModel": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Match": {
      "id": "GoogleCloudDialogflowCxV3Match",
      "properties": {
        "resolvedInput": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "matchType": {
          "type": "string",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "INTENT",
            "DIRECT_INTENT",
            "PARAMETER_FILLING",
            "NO_MATCH",
            "NO_INPUT",
            "EVENT",
            "KNOWLEDGE_CONNECTOR",
            "PLAYBOOK"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "event": {
          "type": "string"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ContinuousTestResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ContinuousTestResult",
      "properties": {
        "testCaseResults": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "runTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "result": {
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "properties": {
        "answerRecord": {
          "type": "string",
          "readOnly": true
        },
        "suggestedQuery": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
    },
    "GoogleCloudDialogflowV2InputDataset": {
      "type": "object",
      "properties": {
        "dataset": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2InputDataset"
    },
    "GoogleCloudDialogflowCxV3InlineDestination": {
      "properties": {
        "content": {
          "readOnly": true,
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3InlineDestination"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig": {
      "properties": {
        "enableContinuousRun": {
          "type": "boolean"
        },
        "enablePredeploymentRun": {
          "type": "boolean"
        },
        "testCases": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConversationEvent": {
      "properties": {
        "errorStatus": {
          "$ref": "GoogleRpcStatus"
        },
        "newRecognitionResultPayload": {
          "$ref": "GoogleCloudDialogflowV2StreamingRecognitionResult"
        },
        "newMessagePayload": {
          "$ref": "GoogleCloudDialogflowV2Message"
        },
        "conversation": {
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CONVERSATION_STARTED",
            "CONVERSATION_FINISHED",
            "HUMAN_INTERVENTION_NEEDED",
            "NEW_MESSAGE",
            "NEW_RECOGNITION_RESULT",
            "UNRECOVERABLE_ERROR"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ConversationEvent"
    },
    "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig": {
      "properties": {
        "webhookOverrides": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Webhook"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3VoiceSelectionParams": {
      "properties": {
        "name": {
          "type": "string"
        },
        "ssmlGender": {
          "enum": [
            "SSML_VOICE_GENDER_UNSPECIFIED",
            "SSML_VOICE_GENDER_MALE",
            "SSML_VOICE_GENDER_FEMALE",
            "SSML_VOICE_GENDER_NEUTRAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3VoiceSelectionParams"
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase",
      "type": "object",
      "properties": {
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
          }
        },
        "id": {
          "readOnly": true,
          "type": "string"
        },
        "repeatCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolCallResultError": {
      "id": "GoogleCloudDialogflowV2ToolCallResultError",
      "properties": {
        "message": {
          "type": "string"
        },
        "retryable": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig": {
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswers": {
      "properties": {
        "answers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswers",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportFlowResponse": {
      "properties": {
        "flow": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportFlowResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Example": {
      "id": "GoogleCloudDialogflowCxV3Example",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "actions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Action"
          },
          "type": "array"
        },
        "playbookOutput": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookOutput"
        },
        "playbookInput": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookInput"
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "tokenCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "conversationState": {
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RestoreToolVersionRequest": {
      "id": "GoogleCloudDialogflowCxV3RestoreToolVersionRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies": {
      "properties": {
        "quickReplies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "properties": {
        "snippets": {
          "items": {
[...]
