{
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "revision": "20260825",
  "batchPath": "batch",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "version_module": true,
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "dialogflow",
  "ownerDomain": "google.com",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "version": "v2",
  "schemas": {
    "GoogleCloudDialogflowV2ConversationContext": {
      "properties": {
        "messageEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2MessageEntry"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2ConversationContext",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig": {
      "id": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig",
      "type": "object",
      "properties": {
        "enableContinuousRun": {
          "type": "boolean"
        },
        "enablePredeploymentRun": {
          "type": "boolean"
        },
        "testCases": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2SessionEntityType": {
      "id": "GoogleCloudDialogflowV2SessionEntityType",
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          }
        },
        "entityOverrideMode": {
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2FulfillmentGenericWebService": {
      "properties": {
        "isCloudFunction": {
          "type": "boolean",
          "deprecated": true
        },
        "username": {
          "type": "string"
        },
        "requestHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "password": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2FulfillmentGenericWebService",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "parameterId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
    },
    "GoogleCloudDialogflowV2LoggingConfig": {
      "id": "GoogleCloudDialogflowV2LoggingConfig",
      "properties": {
        "enableStackdriverLogging": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ReloadDocumentRequest": {
      "id": "GoogleCloudDialogflowV2ReloadDocumentRequest",
      "type": "object",
      "properties": {
        "contentUri": {
          "type": "string"
        },
        "importGcsCustomMetadata": {
          "type": "boolean"
        },
        "smartMessagingPartialUpdate": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1QueryResult": {
      "properties": {
        "speechRecognitionConfidence": {
          "format": "float",
          "type": "number"
        },
        "intentDetectionConfidence": {
          "type": "number",
          "format": "float"
        },
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2beta1Intent"
        },
        "fulfillmentMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "type": "array"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "webhookPayload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "diagnosticInfo": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "knowledgeAnswers": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswers"
        },
        "action": {
          "type": "string"
        },
        "queryText": {
          "type": "string"
        },
        "webhookSource": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1QueryResult"
    },
    "GoogleCloudDialogflowV2CompleteConversationRequest": {
      "properties": {},
      "id": "GoogleCloudDialogflowV2CompleteConversationRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow": {
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell"
          }
        },
        "dividerAfter": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportAgentResponse",
      "properties": {
        "agentContent": {
          "type": "string",
          "format": "byte"
        },
        "commitSha": {
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageText": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageText",
      "properties": {
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1WebhookResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1WebhookResponse",
      "properties": {
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
          },
          "type": "array"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2beta1EventInput"
        },
        "endInteraction": {
          "type": "boolean"
        },
        "source": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AnswerRecord": {
      "id": "GoogleCloudDialogflowV2AnswerRecord",
      "type": "object",
      "properties": {
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowV2AnswerFeedback"
        },
        "name": {
          "type": "string"
        },
        "agentAssistantRecord": {
          "$ref": "GoogleCloudDialogflowV2AgentAssistantRecord",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetrics": {
      "properties": {
        "overallMetrics": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsOverallScoresByMetric"
          },
          "type": "array"
        },
        "summarizationEvaluationMergedResultsUri": {
          "type": "string",
          "readOnly": true
        },
        "summarizationEvaluationResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSummarizationEvaluationResult"
          },
          "type": "array",
          "readOnly": true
        },
        "overallSectionTokens": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken"
          }
        },
        "conversationDetails": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetail"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetrics"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "type": "object",
      "properties": {
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput",
      "properties": {
        "intent": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceRubric": {
      "type": "object",
      "properties": {
        "reasoning": {
          "type": "string",
          "readOnly": true
        },
        "question": {
          "readOnly": true,
          "type": "string"
        },
        "isAddressed": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceRubric"
    },
    "GoogleCloudDialogflowV2SuggestionResult": {
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestArticlesResponse"
        },
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
        },
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
        },
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
        },
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestionResult"
    },
    "GoogleCloudDialogflowV2beta1EventInput": {
      "id": "GoogleCloudDialogflowV2beta1EventInput",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "languageCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult": {
      "type": "object",
      "properties": {
        "score": {
          "format": "float",
          "type": "number"
        },
        "magnitude": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult"
    },
    "GoogleCloudDialogflowV2SynthesizeSpeechConfig": {
      "id": "GoogleCloudDialogflowV2SynthesizeSpeechConfig",
      "properties": {
        "volumeGainDb": {
          "type": "number",
          "format": "double"
        },
        "speakingRate": {
          "format": "double",
          "type": "number"
        },
        "effectsProfileId": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pitch": {
          "format": "double",
          "type": "number"
        },
        "voice": {
          "$ref": "GoogleCloudDialogflowV2VoiceSelectionParams"
        },
        "pronunciations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2CustomPronunciationParams"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Webhook": {
      "type": "object",
      "properties": {
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
        },
        "disabled": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Webhook"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput",
      "properties": {
        "isWebhookEnabled": {
          "type": "boolean"
        },
        "enableSentimentAnalysis": {
          "type": "boolean"
        },
        "injectedParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryInput"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigFilterSpecs": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigFilterSpecs",
      "properties": {
        "filter": {
          "type": "string"
        },
        "dataStores": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2DocumentReloadStatus": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "time": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2DocumentReloadStatus"
    },
    "GoogleCloudDialogflowV2ToolConnectorToolActionEntityOperation": {
      "type": "object",
      "properties": {
        "entityId": {
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ToolConnectorToolActionEntityOperation"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "answerRecord": {
          "type": "string",
          "readOnly": true
        },
        "similarityScore": {
          "type": "number",
          "format": "float",
          "readOnly": true
        },
        "suggestionIndex": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2CesToolSpec": {
      "properties": {
        "cesTool": {
          "type": "string"
        },
        "confirmationRequirement": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
            "REQUIRED",
            "NOT_REQUIRED"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2CesToolSpec"
    },
    "GoogleCloudDialogflowV2FulfillmentFeature": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2FulfillmentFeature",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SMALLTALK"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency": {
      "id": "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency",
      "properties": {
        "latencyMs": {
          "format": "float",
          "type": "number"
        },
        "completeTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "step": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult",
      "type": "object",
      "properties": {
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationModel": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING",
            "FAILED",
            "PENDING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "articleSuggestionModelMetadata": {
          "$ref": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "smartReplyModelMetadata": {
          "$ref": "GoogleCloudDialogflowV2SmartReplyModelMetadata"
        },
        "displayName": {
          "type": "string"
        },
        "datasets": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2InputDataset"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2ConversationModel"
    },
    "GoogleCloudDialogflowCxV3IntentInput": {
      "properties": {
        "intent": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentInput"
    },
    "GoogleCloudDialogflowCxV3beta1TurnSignals": {
      "type": "object",
      "properties": {
        "userEscalated": {
          "type": "boolean"
        },
        "noMatch": {
          "type": "boolean"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        },
        "failureReasons": {
          "type": "array",
          "items": {
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          }
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "agentEscalated": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TurnSignals"
    },
    "GoogleCloudDialogflowV2IntentMessageCardButton": {
      "id": "GoogleCloudDialogflowV2IntentMessageCardButton",
      "type": "object",
      "properties": {
        "postback": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestionDedupingConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestionDedupingConfig",
      "properties": {
        "similarityThreshold": {
          "type": "number",
          "format": "float"
        },
        "enableDeduping": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "footer": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer": {
      "properties": {
        "matchConfidenceLevel": {
          "type": "string",
          "enum": [
            "MATCH_CONFIDENCE_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "answer": {
          "type": "string"
        },
        "faqQuestion": {
          "type": "string"
        },
        "matchConfidence": {
          "format": "float",
          "type": "number"
        },
        "source": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio",
      "properties": {
        "audioUri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata",
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction"
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata",
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings": {
      "properties": {
        "outputParameter": {
          "type": "string"
        },
        "generator": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse": {
      "properties": {
        "textToSpeech": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        },
        "displayText": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AnalyzeContentResponse": {
      "properties": {
        "replyAudio": {
          "$ref": "GoogleCloudDialogflowV2OutputAudio"
        },
        "endUserSuggestionResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestionResult"
          },
          "type": "array"
        },
        "dtmfParameters": {
          "$ref": "GoogleCloudDialogflowV2DtmfParameters"
        },
        "replyText": {
          "type": "string"
        },
        "humanAgentSuggestionResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestionResult"
          },
          "type": "array"
        },
        "automatedAgentReply": {
          "$ref": "GoogleCloudDialogflowV2AutomatedAgentReply"
        },
        "message": {
          "$ref": "GoogleCloudDialogflowV2Message"
        }
      },
      "id": "GoogleCloudDialogflowV2AnalyzeContentResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2Version": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Version",
      "properties": {
        "status": {
          "enum": [
            "VERSION_STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "READY",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "versionNumber": {
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsDecomposition": {
      "type": "object",
      "properties": {
        "adherenceDecomposition": {
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceDecomposition"
        },
        "accuracyDecomposition": {
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition"
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsDecomposition",
      "deprecated": true
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken": {
      "properties": {
        "section": {
          "type": "string",
          "readOnly": true
        },
        "tokenCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummary": {
      "id": "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummary",
      "type": "object",
      "properties": {
        "sortedTextSections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummarySummarySection"
          }
        },
        "textSections": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "answerRecord": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "baselineModelVersion": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Webhook": {
      "type": "object",
      "properties": {
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig"
        },
        "name": {
          "type": "string"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration"
        },
        "disabled": {
          "type": "boolean"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Webhook"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationSignals": {
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TurnSignals"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationSignals",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo": {
      "properties": {
        "parameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
          },
          "type": "object"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "displayName": {
          "type": "string"
        },
        "lastMatchedIntent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "conversationDataset": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationMetadata"
    },
    "GoogleCloudDialogflowV2ImportDocumentTemplate": {
      "type": "object",
      "properties": {
        "mimeType": {
          "type": "string"
        },
        "knowledgeTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "KNOWLEDGE_TYPE_UNSPECIFIED",
              "FAQ",
              "EXTRACTIVE_QA",
              "ARTICLE_SUGGESTION",
              "AGENT_FACING_SMART_REPLY"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2ImportDocumentTemplate"
    },
    "GoogleCloudDialogflowV2IntentMessageImage": {
      "id": "GoogleCloudDialogflowV2IntentMessageImage",
      "type": "object",
      "properties": {
        "imageUri": {
          "type": "string"
        },
        "accessibilityText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases",
      "properties": {
        "cases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig": {
      "properties": {
        "service": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig"
    },
    "GoogleCloudDialogflowV2FreeFormContext": {
      "id": "GoogleCloudDialogflowV2FreeFormContext",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig": {
      "type": "object",
      "properties": {
        "enableContinuousRun": {
          "type": "boolean"
        },
        "testCases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enablePredeploymentRun": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig"
    },
    "GoogleCloudDialogflowV2IngestContextReferencesRequest": {
      "id": "GoogleCloudDialogflowV2IngestContextReferencesRequest",
      "type": "object",
      "properties": {
        "contextReferences": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2ConversationContextReference"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig",
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall": {
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase": {
      "properties": {
        "caseContent": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
          },
          "type": "array"
        },
        "condition": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Fulfillment": {
      "type": "object",
      "properties": {
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          },
          "type": "array"
        },
        "tag": {
          "type": "string"
        },
        "setParameterActions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction"
          }
        },
        "enableGenerativeFallback": {
          "type": "boolean"
        },
        "webhook": {
          "type": "string"
        },
        "returnPartialResponses": {
          "type": "boolean"
        },
        "codeBlockFunction": {
          "type": "string"
        },
        "generators": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings"
          }
        },
        "conditionalCases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
          },
          "type": "array"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Fulfillment"
    },
    "GoogleCloudDialogflowV2IntentMessageQuickReplies": {
      "properties": {
        "quickReplies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageQuickReplies",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo": {
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo",
      "type": "object",
      "properties": {
        "toolCall": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCall"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCases": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases",
      "type": "object",
      "properties": {
        "cases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolAuthenticationApiKeyConfig": {
      "properties": {
        "keyName": {
          "type": "string"
        },
        "requestLocation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ]
        },
        "apiKey": {
          "type": "string"
        },
        "secretVersionForApiKey": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ToolAuthenticationApiKeyConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery": {
      "properties": {
        "searchContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext"
          }
        },
        "queryText": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentSuggestion": {
      "properties": {
        "intentV2": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Intent": {
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentParameter"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase"
          }
        },
        "priority": {
          "format": "int32",
          "type": "integer"
        },
        "dtmfPattern": {
          "type": "string"
        },
        "isFallback": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Intent"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeDebugInfo": {
      "id": "GoogleCloudDialogflowV2SearchKnowledgeDebugInfo",
      "type": "object",
      "properties": {
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2ServiceLatency"
        },
        "datastoreResponseReason": {
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "searchKnowledgeBehavior": {
          "$ref": "GoogleCloudDialogflowV2SearchKnowledgeDebugInfoSearchKnowledgeBehavior"
        },
        "cesDebugInfo": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource": {
      "properties": {
        "agent": {
          "type": "string"
        },
        "humanAgentSideConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource"
    },
    "GoogleCloudDialogflowV2WebhookRequest": {
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        },
        "session": {
          "type": "string"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2OriginalDetectIntentRequest"
        },
        "responseId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2WebhookRequest"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties": {
      "type": "object",
      "properties": {
        "header": {
          "type": "string"
        },
        "horizontalAlignment": {
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstruction": {
      "type": "object",
      "properties": {
        "agentAction": {
          "type": "string"
        },
        "triggeringEvent": {
          "type": "string",
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult"
        },
        "displayName": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "displayDetails": {
          "type": "string"
        },
        "systemAction": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstruction"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "type": "object",
      "properties": {
        "question": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Context": {
      "properties": {
        "lifespanCount": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Context"
    },
    "GoogleCloudDialogflowV2AudioInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AudioInput",
      "properties": {
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "config": {
          "$ref": "GoogleCloudDialogflowV2InputAudioConfig"
        }
      }
    },
    "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCardButton": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCardButton",
      "properties": {
        "postback": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3EnvironmentVersionConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig",
      "properties": {
        "version": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentBatch": {
      "id": "GoogleCloudDialogflowV2IntentBatch",
      "type": "object",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SpeechToTextConfig": {
      "properties": {
        "phraseSets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "speechModelVariant": {
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "model": {
          "type": "string"
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "languageCode": {
          "type": "string"
        },
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "geminiAsrConfig": {
          "$ref": "GoogleCloudDialogflowV2SpeechToTextConfigGeminiAsrConfig"
        },
        "audioEncoding": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ],
          "type": "string"
        },
        "useGeminiAsr": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SpeechToTextConfig"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContent": {
      "type": "object",
      "properties": {
        "mediaType": {
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "mediaObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent"
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelect",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment": {
      "type": "object",
      "properties": {
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment"
    },
    "GoogleCloudDialogflowV2SuggestArticlesRequest": {
      "type": "object",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "assistQueryParams": {
          "$ref": "GoogleCloudDialogflowV2AssistQueryParameters"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestArticlesRequest"
    },
    "GoogleCloudDialogflowV2IntentParameter": {
      "type": "object",
      "properties": {
        "prompts": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityTypeDisplayName": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "value": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "mandatory": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentParameter"
    },
    "GoogleCloudDialogflowV2TextToSpeechSettings": {
      "id": "GoogleCloudDialogflowV2TextToSpeechSettings",
      "type": "object",
      "properties": {
        "outputAudioEncoding": {
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW",
            "OUTPUT_AUDIO_ENCODING_ALAW"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "enableTextToSpeech": {
          "type": "boolean"
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "synthesizeSpeechConfigs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2SynthesizeSpeechConfig"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsCompletenessRubric": {
      "properties": {
        "isAddressed": {
          "type": "boolean",
          "readOnly": true
        },
        "question": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsCompletenessRubric",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Fulfillment": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Fulfillment",
      "properties": {
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "enableGenerativeFallback": {
          "type": "boolean"
        },
        "webhook": {
          "type": "string"
        },
        "conditionalCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
          }
        },
        "codeBlockFunction": {
          "type": "string"
        },
        "tag": {
          "type": "string"
        },
        "returnPartialResponses": {
          "type": "boolean"
        },
        "generators": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings"
          }
        },
        "setParameterActions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction"
          },
          "type": "array"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata",
      "properties": {
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "conversationModel": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1QueryInput": {
      "properties": {
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1IntentInput"
        },
        "languageCode": {
          "type": "string"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TextInput"
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EventInput"
        },
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AudioInput"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DtmfInput"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResult"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1QueryInput",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCard": {
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "columnProperties": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageColumnProperties"
          },
          "type": "array"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "title": {
          "type": "string"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardRow"
          }
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageTableCard",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolCall": {
      "type": "object",
      "properties": {
        "tool": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "answerRecord": {
          "type": "string"
        },
        "toolDisplayName": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true
        },
        "action": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ToolCall"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeRequest": {
      "type": "object",
      "properties": {
        "query": {
          "$ref": "GoogleCloudDialogflowV2TextInput"
        },
        "sessionId": {
          "type": "string"
        },
        "exactSearch": {
          "type": "boolean"
        },
        "endUserMetadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "conversation": {
          "type": "string"
        },
        "conversationProfile": {
          "type": "string"
        },
        "searchConfig": {
          "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfig"
        },
        "latestMessage": {
          "type": "string"
        },
        "querySource": {
          "type": "string",
          "enum": [
            "QUERY_SOURCE_UNSPECIFIED",
            "AGENT_QUERY",
            "SUGGESTED_QUERY"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "parent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SearchKnowledgeRequest"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudLocationListLocationsResponse"
    },
    "GoogleCloudDialogflowV2CesAppSpec": {
      "id": "GoogleCloudDialogflowV2CesAppSpec",
      "type": "object",
      "properties": {
        "reactiveEnabled": {
          "type": "boolean"
        },
        "confirmationRequirement": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
            "REQUIRED",
            "NOT_REQUIRED"
          ]
        },
        "cesApp": {
          "type": "string"
        },
        "proactiveEnabled": {
          "type": "boolean"
        }
      },
      "deprecated": true
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction"
    },
    "GoogleCloudDialogflowCxV3beta1SessionInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1SessionInfo",
      "properties": {
        "session": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3BargeInConfig": {
      "type": "object",
      "properties": {
        "noBargeInDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "totalDuration": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3BargeInConfig"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult": {
      "properties": {
        "duplicateSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText",
      "properties": {
        "ssml": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2StreamingRecognitionResult": {
      "id": "GoogleCloudDialogflowV2StreamingRecognitionResult",
      "type": "object",
      "properties": {
        "speechEndOffset": {
          "format": "google-duration",
          "type": "string"
        },
        "messageType": {
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "DTMF_DIGITS",
            "END_OF_SINGLE_UTTERANCE",
            "PARTIAL_DTMF_DIGITS",
            "SPEECH_ACTIVITY_BEGIN",
            "SPEECH_ACTIVITY_END"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "languageCode": {
          "type": "string"
        },
        "transcript": {
          "type": "string"
        },
        "isFinal": {
          "type": "boolean"
        },
        "speechWordInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SpeechWordInfo"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "type": "object",
      "properties": {
        "textResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          }
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "diagnosticInfo": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "differences": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          },
          "readOnly": true,
          "type": "array"
        },
        "sessionParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolExtensionTool": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ToolExtensionTool",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Page": {
      "properties": {
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          },
          "type": "array"
        },
        "description": {
          "type": "string"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        },
        "displayName": {
          "type": "string"
        },
        "transitionRouteGroups": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3Form"
        },
        "eventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          },
          "type": "array"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Page"
    },
    "GoogleCloudDialogflowV2beta1StreamingRecognitionResult": {
      "properties": {
        "speechEndOffset": {
          "format": "google-duration",
          "type": "string"
        },
        "isFinal": {
          "type": "boolean"
        },
        "stability": {
          "type": "number",
          "format": "float"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "languageCode": {
          "type": "string"
        },
        "transcript": {
          "type": "string"
        },
        "messageType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "END_OF_SINGLE_UTTERANCE",
            "DTMF_DIGITS",
            "PARTIAL_DTMF_DIGITS",
            "SPEECH_ACTIVITY_BEGIN",
            "SPEECH_ACTIVITY_END"
          ],
          "type": "string"
        },
        "speechWordInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SpeechWordInfo"
          }
        },
        "dtmfDigits": {
          "$ref": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1StreamingRecognitionResult"
    },
    "GoogleCloudDialogflowV2AgentAssistantFeedbackSummarizationFeedback": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "textSections": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "summaryText": {
          "type": "string"
        },
        "submitTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentAssistantFeedbackSummarizationFeedback",
      "type": "object"
    },
    "GoogleCloudDialogflowV2GenerateStatelessSuggestionResponse": {
      "id": "GoogleCloudDialogflowV2GenerateStatelessSuggestionResponse",
      "type": "object",
      "properties": {
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings",
      "type": "object",
      "properties": {
        "outputParameter": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "generator": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings": {
      "id": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings",
      "properties": {
        "targetPage": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "dataStoreConnections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection"
          }
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "enabled": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolCallResult": {
      "properties": {
        "action": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResultError"
        },
        "outputParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolCallResult"
    },
    "GoogleCloudDialogflowV2ToolConnectorToolAction": {
      "id": "GoogleCloudDialogflowV2ToolConnectorToolAction",
      "properties": {
        "inputFields": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "connectionActionId": {
          "type": "string"
        },
        "entityOperation": {
          "$ref": "GoogleCloudDialogflowV2ToolConnectorToolActionEntityOperation"
        },
        "outputFields": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction",
      "properties": {
        "value": {
          "type": "any"
        },
        "parameter": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageImage": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageImage",
      "properties": {
        "imageUri": {
          "type": "string"
        },
        "accessibilityText": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequest": {
      "properties": {
        "participantRole": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "suggestionFeatureType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequest"
    },
    "GoogleCloudDialogflowV2SentimentAnalysisResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SentimentAnalysisResult",
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2Sentiment"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurn": {
      "properties": {
        "userInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput"
        },
        "virtualAgentOutput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurn",
      "type": "object"
    },
    "GoogleCloudDialogflowV2MessageAnnotation": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2MessageAnnotation",
      "properties": {
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AnnotatedMessagePart"
          }
        },
        "containEntities": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponse",
      "type": "object",
      "properties": {
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources"
        },
        "intents": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources": {
      "type": "object",
      "properties": {
        "entityDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityTypeDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelect": {
      "properties": {
        "title": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageListSelectItem"
          }
        },
        "subtitle": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageListSelect"
    },
    "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse",
      "properties": {
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "faqAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1FaqAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ListConversationDatasetsResponse": {
      "id": "GoogleCloudDialogflowV2ListConversationDatasetsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "conversationDatasets": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationDataset"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2MessageEntry": {
      "properties": {
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2MessageEntry"
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse": {
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Intent"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ArticleAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ArticleAnswer",
      "properties": {
        "snippets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uri": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ValidationResult": {
      "id": "GoogleCloudDialogflowV2ValidationResult",
      "type": "object",
      "properties": {
        "validationErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ValidationError"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "type": "object",
      "properties": {
        "question": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
    },
    "GoogleCloudDialogflowV2BatchUpdateIntentsRequest": {
      "properties": {
        "intentView": {
          "enum": [
            "INTENT_VIEW_UNSPECIFIED",
            "INTENT_VIEW_FULL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "intentBatchUri": {
          "type": "string"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        },
        "languageCode": {
          "type": "string"
        },
        "intentBatchInline": {
          "$ref": "GoogleCloudDialogflowV2IntentBatch"
        }
      },
      "id": "GoogleCloudDialogflowV2BatchUpdateIntentsRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConversationProfile": {
      "id": "GoogleCloudDialogflowV2ConversationProfile",
      "properties": {
        "newRecognitionResultNotificationConfig": {
          "$ref": "GoogleCloudDialogflowV2NotificationConfig"
        },
        "loggingConfig": {
          "$ref": "GoogleCloudDialogflowV2LoggingConfig"
        },
        "securitySettings": {
          "type": "string"
        },
        "notificationConfig": {
          "$ref": "GoogleCloudDialogflowV2NotificationConfig"
        },
        "sttConfig": {
          "$ref": "GoogleCloudDialogflowV2SpeechToTextConfig"
        },
        "sipConfig": {
          "$ref": "GoogleCloudDialogflowV2SipConfig"
        },
        "timeZone": {
          "type": "string"
        },
        "newMessageEventNotificationConfig": {
          "$ref": "GoogleCloudDialogflowV2NotificationConfig"
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "humanAgentHandoffConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentHandoffConfig"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "humanAgentAssistantConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfig"
        },
        "ttsConfig": {
          "$ref": "GoogleCloudDialogflowV2SynthesizeSpeechConfig"
        },
        "displayName": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "automatedAgentConfig": {
          "$ref": "GoogleCloudDialogflowV2AutomatedAgentConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseError"
    },
    "GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig": {
      "type": "object",
      "properties": {
        "serviceAgentAuth": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer": {
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "knowledgeAssistDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo"
        },
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
        },
        "suggestedQueryAnswer": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer"
    },
    "GoogleCloudDialogflowCxV3beta1LanguageInfo": {
      "properties": {
        "inputLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "type": "number",
          "format": "float"
        },
        "resolvedLanguageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1LanguageInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RunTestCaseResponse": {
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        }
      },
      "id": "GoogleCloudDialogflowCxV3RunTestCaseResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesResponse": {
      "properties": {
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineDestination"
        },
        "entityTypesUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ArticleAnswer": {
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "snippets": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ArticleAnswer",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "message": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolCallResultError": {
      "properties": {
        "message": {
          "type": "string"
        },
        "retryable": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ToolCallResultError"
    },
    "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse": {
      "properties": {
        "smartReplyAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SmartReplyAnswer"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceDecomposition": {
      "properties": {
        "adherenceReasoning": {
          "type": "string",
          "readOnly": true
        },
        "point": {
          "type": "string",
          "readOnly": true
        },
        "isAdherent": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceDecomposition",
      "deprecated": true
    },
    "GoogleCloudDialogflowV3alpha1TurnSignals": {
      "properties": {
        "agentEscalated": {
          "type": "boolean"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "failureReasons": {
          "items": {
            "type": "string",
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "noMatch": {
          "type": "boolean"
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "sentimentScore": {
          "format": "float",
          "type": "number"
        },
        "sentimentMagnitude": {
          "format": "float",
          "type": "number"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "triggeredAbandonmentEvent": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV3alpha1TurnSignals",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookResponse": {
      "properties": {
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "targetFlow": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "targetPage": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookResponse"
    },
    "GoogleCloudDialogflowV2ListKnowledgeBasesResponse": {
      "id": "GoogleCloudDialogflowV2ListKnowledgeBasesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "knowledgeBases": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject",
      "properties": {
        "description": {
          "type": "string"
        },
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "contentUrl": {
          "type": "string"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2FaqAnswer": {
      "id": "GoogleCloudDialogflowV2FaqAnswer",
      "type": "object",
      "properties": {
        "question": {
          "type": "string"
        },
        "answer": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportFlowResponse": {
      "type": "object",
      "properties": {
        "flow": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportFlowResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton",
      "properties": {
        "title": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SentimentAnalysisResult": {
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2beta1Sentiment"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FormParameterFillBehavior": {
      "id": "GoogleCloudDialogflowCxV3FormParameterFillBehavior",
      "type": "object",
      "properties": {
        "repromptEventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        },
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        }
      }
    },
    "GoogleCloudDialogflowV2InferenceParameter": {
      "id": "GoogleCloudDialogflowV2InferenceParameter",
      "type": "object",
      "properties": {
        "topK": {
          "format": "int32",
          "type": "integer"
        },
        "topP": {
          "type": "number",
          "format": "double"
        },
        "maxOutputTokens": {
          "format": "int32",
          "type": "integer"
        },
        "temperature": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion",
      "properties": {
        "agentAction": {
          "type": "string"
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
        }
      }
    },
    "GoogleCloudDialogflowV2DetectIntentResponse": {
      "id": "GoogleCloudDialogflowV2DetectIntentResponse",
      "type": "object",
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        },
        "outputAudio": {
          "type": "string",
          "format": "byte"
        },
        "webhookStatus": {
          "$ref": "GoogleRpcStatus"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowV2OutputAudioConfig"
        },
        "responseId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeBase": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeBase"
    },
    "GoogleCloudDialogflowV2SuggestionFeature": {
      "id": "GoogleCloudDialogflowV2SuggestionFeature",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessage": {
      "type": "object",
      "properties": {
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContent"
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponses"
        },
        "platform": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "GOOGLE_HANGOUTS"
          ]
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageText"
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestions"
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCard"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageListSelect"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageQuickReplies"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCard"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelect"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard"
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion"
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageTableCard"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessage"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDocumentQuerySource": {
      "properties": {
        "documents": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDocumentQuerySource"
    },
    "GoogleCloudDialogflowV2EntityTypeEntity": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2EntityTypeEntity",
      "properties": {
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse"
    },
[...]
