{
  "discoveryVersion": "v1",
  "id": "dialogflow:v2",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "protocol": "rest",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "version_module": true,
  "revision": "20260825",
  "servicePath": "",
  "canonicalName": "Dialogflow",
  "version": "v2",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "batchPath": "batch",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "schemas": {
    "GoogleCloudDialogflowV2SuggestionResult": {
      "type": "object",
      "properties": {
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
        },
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
        },
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestArticlesResponse"
        },
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestionResult"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings",
      "properties": {
        "noSpeechTimeout": {
          "type": "string",
          "format": "google-duration"
        },
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "models": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "endpointerSensitivity": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2CustomPronunciationParams": {
      "id": "GoogleCloudDialogflowV2CustomPronunciationParams",
      "properties": {
        "pronunciation": {
          "type": "string"
        },
        "phoneticEncoding": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PHONETIC_ENCODING_UNSPECIFIED",
            "PHONETIC_ENCODING_IPA",
            "PHONETIC_ENCODING_X_SAMPA"
          ]
        },
        "phrase": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SentimentAnalysisResult": {
      "type": "object",
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2Sentiment"
        }
      },
      "id": "GoogleCloudDialogflowV2SentimentAnalysisResult"
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseResult": {
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseResult",
      "type": "object",
      "properties": {
        "testResult": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "type": "string"
        },
        "conversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          }
        },
        "testTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "environment": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction": {
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue": {
      "properties": {
        "secretVersion": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer": {
      "properties": {
        "knowledgeAssistDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo"
        },
        "suggestedQueryAnswer": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer"
        },
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessage": {
      "id": "GoogleCloudDialogflowV2IntentMessage",
      "properties": {
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageQuickReplies"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageText"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageListSelect"
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCard"
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestions"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelect"
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion"
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageTableCard"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContent"
        },
        "platform": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "GOOGLE_HANGOUTS"
          ]
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponses"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCard"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettings": {
      "id": "GoogleCloudDialogflowCxV3AdvancedSettings",
      "properties": {
        "speechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings"
        },
        "loggingSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings"
        },
        "dtmfSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings"
        },
        "audioExportGcsDestination": {
          "$ref": "GoogleCloudDialogflowCxV3GcsDestination"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "properties": {
        "suggestionIndex": {
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "similarityScore": {
          "format": "float",
          "type": "number",
          "readOnly": true
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "properties": {
        "similarityToLastQuery": {
          "type": "number",
          "format": "float"
        },
        "candidatesTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "totalTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "promptTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "thinkingLevel": {
          "type": "string"
        },
        "thinkingBudgetTokens": {
          "type": "integer",
          "format": "int32"
        },
        "similarityToLastQueryThreshold": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff": {
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff"
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse": {
      "type": "object",
      "properties": {
        "results": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse"
    },
    "GoogleCloudDialogflowV2SuggestSmartRepliesRequest": {
      "properties": {
        "currentTextInput": {
          "$ref": "GoogleCloudDialogflowV2TextInput"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestSmartRepliesRequest"
    },
    "GoogleCloudDialogflowV2AgentAssistantFeedbackSummarizationFeedback": {
      "id": "GoogleCloudDialogflowV2AgentAssistantFeedbackSummarizationFeedback",
      "type": "object",
      "properties": {
        "textSections": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "summaryText": {
          "type": "string"
        },
        "submitTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation": {
      "properties": {},
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestCaseError": {
      "id": "GoogleCloudDialogflowCxV3TestCaseError",
      "type": "object",
      "properties": {
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3TestCase"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeAssistFeedback": {
      "type": "object",
      "properties": {
        "clickedUris": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "answerCopied": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeAssistFeedback"
    },
    "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior": {
      "type": "object",
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "repromptEventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig",
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolCall": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ToolCall",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "toolDisplayName": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true
        },
        "cesApp": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources",
      "type": "object",
      "properties": {
        "instructionIndexes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall",
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource",
      "properties": {
        "snippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SearchKnowledgeDebugInfo": {
      "properties": {
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
        },
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2ServiceLatency"
        },
        "cesDebugInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "datastoreResponseReason": {
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "searchKnowledgeBehavior": {
          "$ref": "GoogleCloudDialogflowV2SearchKnowledgeDebugInfoSearchKnowledgeBehavior"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SearchKnowledgeDebugInfo"
    },
    "GoogleCloudDialogflowV2StreamingRecognitionResult": {
      "id": "GoogleCloudDialogflowV2StreamingRecognitionResult",
      "properties": {
        "speechWordInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SpeechWordInfo"
          },
          "type": "array"
        },
        "messageType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "DTMF_DIGITS",
            "END_OF_SINGLE_UTTERANCE",
            "PARTIAL_DTMF_DIGITS",
            "SPEECH_ACTIVITY_BEGIN",
            "SPEECH_ACTIVITY_END"
          ]
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "languageCode": {
          "type": "string"
        },
        "transcript": {
          "type": "string"
        },
        "isFinal": {
          "type": "boolean"
        },
        "speechEndOffset": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConversationModelEvaluation": {
      "id": "GoogleCloudDialogflowV2ConversationModelEvaluation",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "rawHumanEvalTemplateCsv": {
          "readOnly": true,
          "type": "string"
        },
        "evaluationConfig": {
          "$ref": "GoogleCloudDialogflowV2EvaluationConfig"
        },
        "smartReplyMetrics": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2SmartReplyMetrics"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListVersionsResponse": {
      "id": "GoogleCloudDialogflowV2ListVersionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "versions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Version"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BargeInConfig": {
      "properties": {
        "totalDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "noBargeInDuration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1BargeInConfig"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceRubric": {
      "properties": {
        "question": {
          "type": "string",
          "readOnly": true
        },
        "isAddressed": {
          "readOnly": true,
          "type": "boolean"
        },
        "reasoning": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceRubric"
    },
    "GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "properties": {
        "agentContent": {
          "format": "byte",
          "type": "string"
        },
        "commitSha": {
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportAgentResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "properties": {
        "question": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestion",
      "properties": {
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestion"
        },
        "toolCallInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
          },
          "type": "array"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCardButton": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "postback": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCardButton"
    },
    "GoogleCloudDialogflowV2ListConversationModelsResponse": {
      "properties": {
        "conversationModels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationModel"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListConversationModelsResponse"
    },
    "GoogleCloudDialogflowCxV3RunTestCaseResponse": {
      "id": "GoogleCloudDialogflowCxV3RunTestCaseResponse",
      "type": "object",
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        }
      }
    },
    "GoogleCloudDialogflowV2ArticleAnswer": {
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uri": {
          "type": "string"
        },
        "snippets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ArticleAnswer"
    },
    "GoogleCloudDialogflowCxV3TestCase": {
      "id": "GoogleCloudDialogflowCxV3TestCase",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "notes": {
          "type": "string"
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3TestConfig"
        },
        "name": {
          "type": "string"
        },
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          }
        },
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3LanguageInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3LanguageInfo",
      "properties": {
        "resolvedLanguageCode": {
          "type": "string"
        },
        "inputLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowV2TextToSpeechSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2TextToSpeechSettings",
      "properties": {
        "outputAudioEncoding": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW",
            "OUTPUT_AUDIO_ENCODING_ALAW"
          ]
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "enableTextToSpeech": {
          "type": "boolean"
        },
        "synthesizeSpeechConfigs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2SynthesizeSpeechConfig"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput": {
      "properties": {
        "isWebhookEnabled": {
          "type": "boolean"
        },
        "injectedParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryInput"
        },
        "enableSentimentAnalysis": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Webhook": {
      "id": "GoogleCloudDialogflowCxV3Webhook",
      "type": "object",
      "properties": {
        "disabled": {
          "type": "boolean"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig"
        },
        "timeout": {
          "format": "google-duration",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDocumentQuerySource": {
      "type": "object",
      "properties": {
        "documents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDocumentQuerySource"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigKnowledgeBaseQuerySource": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigKnowledgeBaseQuerySource",
      "properties": {
        "knowledgeBases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2Environment": {
      "properties": {
        "agentVersion": {
          "type": "string"
        },
        "textToSpeechSettings": {
          "$ref": "GoogleCloudDialogflowV2TextToSpeechSettings"
        },
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowV2Fulfillment"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STOPPED",
            "LOADING",
            "RUNNING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2Environment",
      "type": "object"
    },
    "GoogleCloudDialogflowV2FulfillmentFeature": {
      "id": "GoogleCloudDialogflowV2FulfillmentFeature",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "SMALLTALK"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeOperationMetadata": {
      "properties": {
        "knowledgeBase": {
          "type": "string"
        },
        "exportOperationMetadata": {
          "$ref": "GoogleCloudDialogflowV2ExportOperationMetadata"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ]
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeOperationMetadata"
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata": {
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata",
      "type": "object",
      "properties": {
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest"
        }
      }
    },
    "GoogleCloudDialogflowV2EvaluationConfigSmartComposeConfig": {
      "properties": {
        "allowlistDocument": {
          "type": "string"
        },
        "maxResultCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2EvaluationConfigSmartComposeConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent": {
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent",
      "properties": {
        "suggestionResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SuggestionResult"
          }
        },
        "conversation": {
          "type": "string"
        },
        "participant": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentHandoffConfigSalesforceLiveAgentConfig": {
      "type": "object",
      "properties": {
        "endpointDomain": {
          "type": "string"
        },
        "buttonId": {
          "type": "string"
        },
        "deploymentId": {
          "type": "string"
        },
        "organizationId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentHandoffConfigSalesforceLiveAgentConfig"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer",
      "properties": {
        "eventSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource"
        },
        "generativeSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "faqSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
        },
        "answerText": {
          "type": "string"
        },
        "playbookSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ServiceLatency": {
      "properties": {
        "internalServiceLatencies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ServiceLatency"
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest",
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2beta1EncryptionSpec"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeBase": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeBase",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ListSessionEntityTypesResponse": {
      "properties": {
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListSessionEntityTypesResponse"
    },
    "GoogleCloudDialogflowV2IntentMessageCardButton": {
      "properties": {
        "postback": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageCardButton"
    },
    "GoogleCloudLocationLocation": {
      "type": "object",
      "id": "GoogleCloudLocationLocation",
      "properties": {
        "name": {
          "type": "string"
        },
        "locationId": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "displayName": {
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowV2EvaluationStatus": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2EvaluationStatus",
      "properties": {
        "pipelineStatus": {
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "done": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent",
      "properties": {
        "description": {
          "type": "string"
        },
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          }
        },
        "title": {
          "type": "string"
        },
        "media": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1FaqAnswer": {
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "question": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "answer": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1FaqAnswer"
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesMetadata",
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseError"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "properties": {
        "urlTypeHint": {
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "url": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentHandoffConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentHandoffConfig",
      "properties": {
        "salesforceLiveAgentConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentHandoffConfigSalesforceLiveAgentConfig"
        },
        "livePersonConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentHandoffConfigLivePersonConfig"
        }
      }
    },
    "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata": {
      "id": "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "RUNNING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string"
        },
        "conversationModel": {
          "type": "string"
        },
        "conversationModelEvaluation": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContent": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContent",
      "properties": {
        "mediaType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "type": "string"
        },
        "mediaObjects": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageImage": {
      "properties": {
        "accessibilityText": {
          "type": "string"
        },
        "imageUri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageImage"
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources": {
      "properties": {
        "intentDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources",
      "type": "object"
    },
    "GoogleCloudDialogflowV2OriginalDetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2OriginalDetectIntentRequest",
      "properties": {
        "source": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestions": {
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestConversationSummaryResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestConversationSummaryResponse",
      "properties": {
        "summary": {
          "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummary"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecBoostControlSpec": {
      "id": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecBoostControlSpec",
      "type": "object",
      "properties": {
        "controlPoints": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          }
        },
        "attributeType": {
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "interpolationType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ]
        },
        "fieldName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentSuggestion": {
      "type": "object",
      "properties": {
        "intentV2": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentSuggestion"
    },
    "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata": {
      "id": "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "suggestionFeatureType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "type": "string"
        },
        "participantRole": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "conversationProfile": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardCell": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardCell",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCard": {
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "imageUri": {
          "type": "string"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCardButton"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageCard"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRoute": {
      "properties": {
        "intent": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "targetFlow": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRoute",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "type": "object",
      "properties": {
        "intent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolConnectorTool": {
      "properties": {
        "actions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ToolConnectorToolAction"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ToolConnectorTool"
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsRequest": {
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsRequest",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "triggerEvents": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TRIGGER_EVENT_UNSPECIFIED",
              "END_OF_UTTERANCE",
              "MANUAL_CALL",
              "CUSTOMER_MESSAGE",
              "AGENT_MESSAGE"
            ]
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListAnswerRecordsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListAnswerRecordsResponse",
      "properties": {
        "answerRecords": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AnswerRecord"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Message": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Message",
      "properties": {
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "sentimentAnalysis": {
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult",
          "readOnly": true
        },
        "responseMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessage"
          },
          "type": "array"
        },
        "participant": {
          "type": "string",
          "readOnly": true
        },
        "participantRole": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "readOnly": true
        },
        "content": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "messageAnnotation": {
          "$ref": "GoogleCloudDialogflowV2beta1MessageAnnotation",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoMimeContent": {
      "id": "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoMimeContent",
      "type": "object",
      "properties": {
        "mimeType": {
          "type": "string"
        },
        "content": {
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2FulfillmentGenericWebService": {
      "id": "GoogleCloudDialogflowV2FulfillmentGenericWebService",
      "properties": {
        "isCloudFunction": {
          "deprecated": true,
          "type": "boolean"
        },
        "uri": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "requestHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SessionEntityType": {
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        },
        "name": {
          "type": "string"
        },
        "entityOverrideMode": {
          "type": "string",
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SessionEntityType"
    },
    "GoogleCloudDialogflowV2WebhookRequest": {
      "id": "GoogleCloudDialogflowV2WebhookRequest",
      "type": "object",
      "properties": {
        "responseId": {
          "type": "string"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        },
        "session": {
          "type": "string"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2OriginalDetectIntentRequest"
        }
      }
    },
    "GoogleCloudDialogflowV2ImportAgentRequest": {
      "id": "GoogleCloudDialogflowV2ImportAgentRequest",
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsCompletenessRubric": {
      "properties": {
        "isAddressed": {
          "type": "boolean",
          "readOnly": true
        },
        "question": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsCompletenessRubric",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestions": {
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestion"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestions",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio",
      "properties": {
        "audioUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpec": {
      "properties": {
        "condition": {
          "type": "string"
        },
        "boostControlSpec": {
          "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecBoostControlSpec"
        },
        "boost": {
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpec"
    },
    "GoogleCloudDialogflowV2AudioInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AudioInput",
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowV2InputAudioConfig"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowV2EventInput": {
      "id": "GoogleCloudDialogflowV2EventInput",
      "type": "object",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "languageCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard",
      "type": "object",
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "formattedText": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "title": {
          "type": "string"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2InputDataset": {
      "id": "GoogleCloudDialogflowV2InputDataset",
      "properties": {
        "dataset": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata": {
      "properties": {
        "knowledgeBase": {
          "type": "string"
        },
        "exportOperationMetadata": {
          "$ref": "GoogleCloudDialogflowV2beta1ExportOperationMetadata"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "description": {
          "type": "string"
        },
        "footer": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
    },
    "GoogleCloudDialogflowCxV3beta1TurnSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1TurnSignals",
      "type": "object",
      "properties": {
        "sentimentMagnitude": {
          "format": "float",
          "type": "number"
        },
        "webhookStatuses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "noUserInput": {
          "type": "boolean"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "noMatch": {
          "type": "boolean"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "failureReasons": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "type": "string"
          }
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1SessionInfo": {
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "session": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1SessionInfo"
    },
    "GoogleCloudDialogflowCxV3beta1LanguageInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1LanguageInfo",
      "type": "object",
      "properties": {
        "confidenceScore": {
          "type": "number",
          "format": "float"
        },
        "resolvedLanguageCode": {
          "type": "string"
        },
        "inputLanguageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GcsDestination": {
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GcsDestination",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SpeechWordInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SpeechWordInfo",
      "properties": {
        "word": {
          "type": "string"
        },
        "startOffset": {
          "format": "google-duration",
          "type": "string"
        },
        "endOffset": {
          "format": "google-duration",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo",
      "type": "object",
      "properties": {
        "tag": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2InputAudioConfig": {
      "id": "GoogleCloudDialogflowV2InputAudioConfig",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "useGeminiAsr": {
          "type": "boolean"
        },
        "model": {
          "type": "string"
        },
        "singleUtterance": {
          "type": "boolean"
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "enableVoiceActivityEvents": {
          "type": "boolean"
        },
        "phraseHints": {
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "type": "array"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "audioEncoding": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ]
        },
        "speechContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SpeechContext"
          }
        },
        "enableAutomaticPunctuation": {
          "type": "boolean"
        },
        "phraseSets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "geminiAsrConfig": {
          "$ref": "GoogleCloudDialogflowV2SpeechToTextConfigGeminiAsrConfig"
        },
        "modelVariant": {
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "disableNoSpeechRecognizedEvent": {
          "type": "boolean"
        },
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2BatchCreateEntitiesRequest": {
      "id": "GoogleCloudDialogflowV2BatchCreateEntitiesRequest",
      "type": "object",
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          }
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoSipHeader": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoSipHeader",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "mergeBehavior": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue",
      "properties": {
        "originalValue": {
          "type": "string"
        },
        "resolvedValue": {
          "type": "any"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ExportAgentResponse": {
      "properties": {
        "agentContent": {
          "type": "string",
          "format": "byte"
        },
        "agentUri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ExportAgentResponse"
    },
    "GoogleCloudDialogflowV2ConversationContextReferenceContextContent": {
      "id": "GoogleCloudDialogflowV2ConversationContextReferenceContextContent",
      "properties": {
        "contentFormat": {
          "type": "string",
          "enum": [
            "CONTENT_FORMAT_UNSPECIFIED",
            "JSON",
            "PLAIN_TEXT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "ingestionTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "content": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3IntentInput": {
      "properties": {
        "intent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3IntentInput",
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionTriggerSettings": {
      "type": "object",
      "properties": {
        "noSmalltalk": {
          "type": "boolean"
        },
        "onlyEndUser": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionTriggerSettings"
    },
    "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig": {
      "id": "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig",
      "properties": {
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
        },
        "service": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings",
      "properties": {
        "enableConsentBasedRedaction": {
          "type": "boolean"
        },
        "enableStackdriverLogging": {
          "type": "boolean"
        },
        "enableInteractionLogging": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Environment": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig"
        },
        "displayName": {
          "type": "string"
        },
        "versionConfigs": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig"
          },
          "type": "array"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Environment"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata": {
      "type": "object",
      "properties": {
        "testErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata"
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfigDatasetInputDataConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfigDatasetInputDataConfig",
      "properties": {
        "dataset": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech": {
      "type": "object",
      "properties": {
        "ssml": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect": {
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationSignals": {
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TurnSignals"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationSignals"
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer",
      "type": "object",
      "properties": {
        "sourceGenerator": {
          "type": "string"
        },
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior",
      "properties": {
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "type": "integer",
          "format": "int32"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1EventInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1EventInput",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "languageCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TransitionRoute": {
      "properties": {
        "condition": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "intent": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetFlow": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TransitionRoute",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings": {
      "properties": {
        "enableConsentBasedRedaction": {
          "type": "boolean"
        },
        "enableStackdriverLogging": {
          "type": "boolean"
        },
        "enableInteractionLogging": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources"
        }
      }
    },
    "GoogleCloudDialogflowV2EnvironmentHistoryEntry": {
      "type": "object",
      "properties": {
        "agentVersion": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2EnvironmentHistoryEntry"
    },
    "GoogleCloudDialogflowV2beta1EncryptionSpec": {
      "properties": {
        "kmsKey": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EncryptionSpec",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestion": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestion",
      "type": "object",
      "properties": {
        "applicableInstructions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstruction"
          },
          "type": "array"
        },
        "agentActionSuggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion"
          }
        },
        "sampleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2ReloadDocumentRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ReloadDocumentRequest",
      "properties": {
        "contentUri": {
          "type": "string"
        },
        "smartMessagingPartialUpdate": {
          "type": "boolean"
        },
        "importGcsCustomMetadata": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationSection": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationSection",
      "properties": {
        "definition": {
          "type": "string"
        },
        "key": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SITUATION",
            "ACTION",
            "RESOLUTION",
            "REASON_FOR_CANCELLATION",
            "CUSTOMER_SATISFACTION",
            "ENTITIES",
            "CUSTOMER_DEFINED",
            "SITUATION_CONCISE",
            "ACTION_CONCISE"
          ],
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string"
        },
        "done": {
          "type": "boolean"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleLongrunningOperation",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition": {
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition",
      "properties": {
        "accuracyReasoning": {
          "readOnly": true,
          "type": "string"
        },
        "point": {
          "readOnly": true,
          "type": "string"
        },
        "isAccurate": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestSmartRepliesResponse": {
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "smartReplyAnswers": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SmartReplyAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
    },
    "GoogleCloudDialogflowCxV3beta1EventInput": {
      "id": "GoogleCloudDialogflowCxV3beta1EventInput",
      "properties": {
        "event": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentParameter": {
      "properties": {
        "isList": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "redact": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentParameter",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestion",
      "properties": {
        "summarySections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportFlowResponse": {
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "flowContent": {
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportFlowResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2EntityTypeBatch": {
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2EntityTypeBatch",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AutomatedAgentConfig": {
      "id": "GoogleCloudDialogflowV2AutomatedAgentConfig",
      "properties": {
        "agent": {
          "type": "string"
        },
        "sessionTtl": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse": {
      "id": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse",
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        },
        "dialogflowAssistAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestConfig": {
      "properties": {
        "trackingParameters": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "flow": {
          "type": "string"
        },
        "page": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TestConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RunTestCaseMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3RunTestCaseMetadata"
    },
    "GoogleCloudDialogflowV2beta1ToolCallResult": {
      "type": "object",
      "properties": {
        "tool": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResultError"
        },
        "answerRecord": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "rawContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ToolCallResult"
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesResponse",
      "properties": {
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineDestination"
        },
        "entityTypesUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestMetadata": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestMetadata"
    },
    "GoogleCloudDialogflowV2ToolAuthentication": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ToolAuthentication",
      "properties": {
        "apiKeyConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationApiKeyConfig"
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationOAuthConfig"
        },
        "serviceAgentAuthConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig"
        },
        "bearerTokenConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationBearerTokenConfig"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource",
      "properties": {
        "snippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "properties": {
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery",
          "readOnly": true
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult",
      "type": "object"
    },
    "GoogleCloudDialogflowV2FreeFormContext": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2FreeFormContext",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata",
      "properties": {
        "suggestionFeatureType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "conversationProfile": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "participantRole": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent": {
      "properties": {
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
        },
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion": {
      "type": "object",
      "properties": {
        "action": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction"
        },
        "reply": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
    },
    "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse": {
      "properties": {
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsOverallScoresByMetric": {
      "type": "object",
      "properties": {
        "metric": {
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsOverallScoresByMetric"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow": {
      "properties": {
        "dividerAfter": {
          "type": "boolean"
        },
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse": {
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse",
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestCaseResult": {
      "type": "object",
      "properties": {
        "environment": {
          "type": "string"
        },
        "testResult": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "type": "string"
        },
        "testTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "conversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3TestCaseResult"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources": {
      "properties": {
        "entityTypeDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources",
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigSections": {
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigSections",
      "type": "object",
      "properties": {
        "sectionTypes": {
          "type": "array",
          "items": {
            "enum": [
              "SECTION_TYPE_UNSPECIFIED",
              "SITUATION",
              "ACTION",
              "RESOLUTION",
              "REASON_FOR_CANCELLATION",
              "CUSTOMER_SATISFACTION",
              "ENTITIES"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        }
      }
    },
    "GoogleCloudDialogflowV2BatchUpdateIntentsRequest": {
      "properties": {
        "intentBatchUri": {
          "type": "string"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        },
        "intentView": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "INTENT_VIEW_UNSPECIFIED",
            "INTENT_VIEW_FULL"
          ],
          "type": "string"
        },
        "intentBatchInline": {
          "$ref": "GoogleCloudDialogflowV2IntentBatch"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2BatchUpdateIntentsRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IngestContextReferencesResponse": {
      "id": "GoogleCloudDialogflowV2IngestContextReferencesResponse",
      "type": "object",
      "properties": {
        "ingestedContextReferences": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2ConversationContextReference"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2DialogflowAssistAnswer": {
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        },
        "intentSuggestion": {
          "$ref": "GoogleCloudDialogflowV2IntentSuggestion"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2DialogflowAssistAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo": {
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo",
      "type": "object",
      "properties": {
        "value": {
          "type": "any"
        },
        "displayName": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ]
        },
        "justCollected": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem",
      "properties": {
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2EntityTypeEntity": {
      "properties": {
        "value": {
          "type": "string"
        },
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2EntityTypeEntity"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig": {
      "properties": {
        "enableAsyncToolCall": {
          "type": "boolean"
        },
        "skipEmptyEventBasedSuggestion": {
          "type": "boolean"
        },
        "useUnredactedConversationData": {
          "type": "boolean"
        },
        "generators": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "featureConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionFeatureConfig"
          }
        },
        "groupSuggestionResponses": {
          "type": "boolean"
        },
        "disableHighLatencyFeaturesSyncDelivery": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig"
    },
    "GoogleCloudDialogflowV2beta1IntentSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentSuggestion",
      "properties": {
        "intentV2": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1DtmfInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DtmfInput",
      "properties": {
        "finishDigit": {
          "type": "string"
        },
        "digits": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SmartReplyAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SmartReplyAnswer",
      "properties": {
        "reply": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult",
      "type": "object",
      "properties": {
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery",
          "readOnly": true
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpec": {
[...]
