{
  "version_module": true,
  "servicePath": "",
  "name": "dialogflow",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "rootUrl": "https://dialogflow.googleapis.com/",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "canonicalName": "Dialogflow",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "title": "Dialogflow API",
  "schemas": {
    "GoogleCloudDialogflowV2DetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2DetectIntentRequest",
      "properties": {
        "inputAudio": {
          "type": "string",
          "format": "byte"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowV2OutputAudioConfig"
        },
        "queryInput": {
          "$ref": "GoogleCloudDialogflowV2QueryInput"
        },
        "queryParams": {
          "$ref": "GoogleCloudDialogflowV2QueryParameters"
        },
        "outputAudioConfigMask": {
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TurnSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1TurnSignals",
      "properties": {
        "dtmfUsed": {
          "type": "boolean"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "failureReasons": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ]
          },
          "type": "array"
        },
        "noMatch": {
          "type": "boolean"
        },
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "userEscalated": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2DetectIntentResponse": {
      "id": "GoogleCloudDialogflowV2DetectIntentResponse",
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowV2OutputAudioConfig"
        },
        "webhookStatus": {
          "$ref": "GoogleRpcStatus"
        },
        "outputAudio": {
          "type": "string",
          "format": "byte"
        },
        "responseId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources",
      "properties": {
        "entityTypeDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudLocationLocation": {
      "id": "GoogleCloudLocationLocation",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "locationId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportIntentsResponse": {
      "type": "object",
      "properties": {
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineDestination"
        },
        "intentsUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportIntentsResponse"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeAnswerAnswerSource": {
      "id": "GoogleCloudDialogflowV2SearchKnowledgeAnswerAnswerSource",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "title": {
          "type": "string"
        },
        "snippet": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2Tool": {
      "id": "GoogleCloudDialogflowV2Tool",
      "type": "object",
      "properties": {
        "actionConfirmationRequirement": {
          "type": "object",
          "additionalProperties": {
            "enum": [
              "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
              "REQUIRED",
              "NOT_REQUIRED"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          }
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "openApiSpec": {
          "$ref": "GoogleCloudDialogflowV2ToolOpenApiTool"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "toolKey": {
          "type": "string"
        },
        "extensionSpec": {
          "$ref": "GoogleCloudDialogflowV2ToolExtensionTool",
          "deprecated": true
        },
        "description": {
          "type": "string"
        },
        "functionSpec": {
          "$ref": "GoogleCloudDialogflowV2ToolFunctionTool"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "connectorSpec": {
          "$ref": "GoogleCloudDialogflowV2ToolConnectorTool"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse",
      "properties": {
        "generatorSuggestionAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject": {
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject",
      "type": "object",
      "properties": {
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "contentUrl": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "suggestionIndex": {
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "similarityScore": {
          "readOnly": true,
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TransitionRoute": {
      "id": "GoogleCloudDialogflowCxV3TransitionRoute",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetFlow": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "condition": {
          "type": "string"
        },
        "intent": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses",
      "properties": {
        "simpleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3FormParameterFillBehavior": {
      "id": "GoogleCloudDialogflowCxV3FormParameterFillBehavior",
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "repromptEventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentAssistantFeedback": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentAssistantFeedback",
      "properties": {
        "answerRelevance": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ANSWER_RELEVANCE_UNSPECIFIED",
            "IRRELEVANT",
            "RELEVANT"
          ]
        },
        "documentEfficiency": {
          "type": "string",
          "enum": [
            "DOCUMENT_EFFICIENCY_UNSPECIFIED",
            "INEFFICIENT",
            "EFFICIENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "documentCorrectness": {
          "type": "string",
          "enum": [
            "DOCUMENT_CORRECTNESS_UNSPECIFIED",
            "INCORRECT",
            "CORRECT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "knowledgeAssistFeedback": {
          "$ref": "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeAssistFeedback"
        },
        "knowledgeSearchFeedback": {
          "$ref": "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeSearchFeedback"
        },
        "summarizationFeedback": {
          "$ref": "GoogleCloudDialogflowV2AgentAssistantFeedbackSummarizationFeedback"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "properties": {
        "question": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
    },
    "GoogleCloudDialogflowV2EntityTypeEntity": {
      "properties": {
        "value": {
          "type": "string"
        },
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2EntityTypeEntity"
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo": {
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo",
      "properties": {
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        },
        "ingestedParametersDebugInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string"
        },
        "urlTypeHint": {
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
    },
    "GoogleCloudDialogflowV2SpeechWordInfo": {
      "properties": {
        "startOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "word": {
          "type": "string"
        },
        "endOffset": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SpeechWordInfo"
    },
    "GoogleCloudDialogflowV2AnalyzeContentResponse": {
      "type": "object",
      "properties": {
        "replyAudio": {
          "$ref": "GoogleCloudDialogflowV2OutputAudio"
        },
        "message": {
          "$ref": "GoogleCloudDialogflowV2Message"
        },
        "automatedAgentReply": {
          "$ref": "GoogleCloudDialogflowV2AutomatedAgentReply"
        },
        "replyText": {
          "type": "string"
        },
        "humanAgentSuggestionResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestionResult"
          }
        },
        "dtmfParameters": {
          "$ref": "GoogleCloudDialogflowV2DtmfParameters"
        },
        "endUserSuggestionResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestionResult"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2AnalyzeContentResponse"
    },
    "GoogleCloudDialogflowV2QueryParameters": {
      "id": "GoogleCloudDialogflowV2QueryParameters",
      "type": "object",
      "properties": {
        "contexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "platform": {
          "type": "string"
        },
        "timeZone": {
          "type": "string"
        },
        "sentimentAnalysisRequestConfig": {
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisRequestConfig"
        },
        "resetContexts": {
          "type": "boolean"
        },
        "webhookHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "geoLocation": {
          "$ref": "GoogleTypeLatLng"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationContext": {
      "id": "GoogleCloudDialogflowV2ConversationContext",
      "type": "object",
      "properties": {
        "messageEntries": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2MessageEntry"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentHandoffConfigLivePersonConfig": {
      "type": "object",
      "properties": {
        "accountNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentHandoffConfigLivePersonConfig"
    },
    "GoogleCloudDialogflowV2ListSessionEntityTypesResponse": {
      "id": "GoogleCloudDialogflowV2ListSessionEntityTypesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2CustomPronunciationParams": {
      "id": "GoogleCloudDialogflowV2CustomPronunciationParams",
      "properties": {
        "pronunciation": {
          "type": "string"
        },
        "phrase": {
          "type": "string"
        },
        "phoneticEncoding": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PHONETIC_ENCODING_UNSPECIFIED",
            "PHONETIC_ENCODING_IPA",
            "PHONETIC_ENCODING_X_SAMPA"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3LanguageInfo": {
      "id": "GoogleCloudDialogflowCxV3LanguageInfo",
      "type": "object",
      "properties": {
        "resolvedLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "type": "number",
          "format": "float"
        },
        "inputLanguageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetail": {
      "properties": {
        "section": {
          "readOnly": true,
          "type": "string"
        },
        "evaluationResults": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsEvaluationResult"
          },
          "type": "array"
        },
        "sectionSummary": {
          "type": "string",
          "readOnly": true
        },
        "score": {
          "type": "number",
          "format": "float",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetail",
      "type": "object"
    },
    "GoogleCloudDialogflowV2GenerateStatelessSuggestionResponse": {
      "id": "GoogleCloudDialogflowV2GenerateStatelessSuggestionResponse",
      "type": "object",
      "properties": {
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff"
    },
    "GoogleCloudDialogflowCxV3EventInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3EventInput",
      "properties": {
        "event": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponse": {
      "type": "object",
      "properties": {
        "intents": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponse"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsDecomposition": {
      "deprecated": true,
      "properties": {
        "accuracyDecomposition": {
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition"
        },
        "adherenceDecomposition": {
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceDecomposition"
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsDecomposition",
      "type": "object"
    },
    "GoogleCloudDialogflowV2TextInput": {
      "id": "GoogleCloudDialogflowV2TextInput",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction"
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestions": {
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestions",
      "type": "object",
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestion"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3EventHandler": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetFlow": {
          "type": "string"
        },
        "event": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "targetPlaybook": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3EventHandler",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Webhook": {
      "id": "GoogleCloudDialogflowCxV3Webhook",
      "type": "object",
      "properties": {
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration"
        },
        "disabled": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseError",
      "properties": {
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowCxV3InlineDestination": {
      "properties": {
        "content": {
          "type": "string",
          "format": "byte",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowCxV3InlineDestination",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentSuggestion": {
      "properties": {
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "intentV2": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentSuggestion"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio",
      "properties": {
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "audioUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestArticlesRequest": {
      "type": "object",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "assistQueryParams": {
          "$ref": "GoogleCloudDialogflowV2AssistQueryParameters"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestArticlesRequest"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources",
      "type": "object",
      "properties": {
        "instructionIndexes": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "properties": {
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
    },
    "GoogleCloudDialogflowV2ListSipTrunksResponse": {
      "id": "GoogleCloudDialogflowV2ListSipTrunksResponse",
      "type": "object",
      "properties": {
        "sipTrunks": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SipTrunk"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestion": {
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestion",
      "type": "object",
      "properties": {
        "summarySections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestFaqAnswersResponse": {
      "properties": {
        "faqAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2FaqAnswer"
          }
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer": {
      "type": "object",
      "properties": {
        "suggestedQueryAnswer": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer"
        },
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
        },
        "knowledgeAssistDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard": {
      "properties": {
        "imageDisplayOptions": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ]
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfig": {
      "properties": {
        "dialogflowQuerySource": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource"
        },
        "maxResults": {
          "type": "integer",
          "format": "int32"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "contextFilterSettings": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigContextFilterSettings"
        },
        "confidenceThreshold": {
          "format": "float",
          "type": "number"
        },
        "sections": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigSections"
        },
        "documentQuerySource": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDocumentQuerySource"
        },
        "knowledgeBaseQuerySource": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigKnowledgeBaseQuerySource"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfig"
    },
    "GoogleCloudDialogflowV2AgentAssistantFeedbackSummarizationFeedback": {
      "id": "GoogleCloudDialogflowV2AgentAssistantFeedbackSummarizationFeedback",
      "properties": {
        "textSections": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "summaryText": {
          "type": "string"
        },
        "submitTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeResponse": {
      "id": "GoogleCloudDialogflowV2SearchKnowledgeResponse",
      "type": "object",
      "properties": {
        "rewrittenQuery": {
          "type": "string"
        },
        "answers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SearchKnowledgeAnswer"
          }
        },
        "searchKnowledgeDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2SearchKnowledgeDebugInfo"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButton",
      "properties": {
        "title": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarySuggestionSummarySection": {
      "type": "object",
      "properties": {
        "section": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SummarySuggestionSummarySection"
    },
    "GoogleCloudDialogflowCxV3ExportIntentsResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportIntentsResponse",
      "properties": {
        "intentsUri": {
          "type": "string"
        },
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineDestination"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ExportOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ExportOperationMetadata",
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2beta1GcsDestination"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCard": {
      "properties": {
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          }
        },
        "subtitle": {
          "type": "string"
        },
        "formattedText": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery": {
      "type": "object",
      "properties": {
        "queryText": {
          "type": "string"
        },
        "searchContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
    },
    "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "properties": {
        "parameter": {
          "type": "string"
        },
        "ingestionStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "INGESTION_STATUS_UNSPECIFIED",
            "INGESTION_STATUS_SUCCEEDED",
            "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE",
            "INGESTION_STATUS_PARSE_FAILED",
            "INGESTION_STATUS_INVALID_ENTRY",
            "INGESTION_STATUS_INVALID_FORMAT",
            "INGESTION_STATUS_LANGUAGE_MISMATCH"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
    },
    "GoogleCloudDialogflowV2BatchUpdateEntitiesRequest": {
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          }
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2BatchUpdateEntitiesRequest"
    },
    "GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig": {
      "id": "GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig",
      "type": "object",
      "properties": {
        "serviceAgentAuth": {
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2GeneratorEvaluation": {
      "id": "GoogleCloudDialogflowV2GeneratorEvaluation",
      "type": "object",
      "properties": {
        "initialGenerator": {
          "$ref": "GoogleCloudDialogflowV2Generator"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean"
        },
        "evaluationStatus": {
          "$ref": "GoogleCloudDialogflowV2EvaluationStatus",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "generatorEvaluationConfig": {
          "$ref": "GoogleCloudDialogflowV2GeneratorEvaluationConfig"
        },
        "summarizationMetrics": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetrics"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart": {
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart",
      "properties": {
        "userDefined": {
          "type": "boolean"
        },
        "alias": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata"
    },
    "GoogleCloudDialogflowV2InputConfig": {
      "id": "GoogleCloudDialogflowV2InputConfig",
      "type": "object",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudDialogflowV2GcsSources"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Form": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Form",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FormParameter"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookResponse": {
      "id": "GoogleCloudDialogflowCxV3WebhookResponse",
      "properties": {
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "targetFlow": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "targetPage": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Document": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "rawContent": {
          "format": "byte",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "knowledgeTypes": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "KNOWLEDGE_TYPE_UNSPECIFIED",
              "FAQ",
              "EXTRACTIVE_QA",
              "ARTICLE_SUGGESTION",
              "AGENT_FACING_SMART_REPLY"
            ]
          },
          "type": "array"
        },
        "enableAutoReload": {
          "type": "boolean"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "RELOADING",
            "DELETING"
          ]
        },
        "latestReloadStatus": {
          "$ref": "GoogleCloudDialogflowV2DocumentReloadStatus",
          "readOnly": true
        },
        "contentUri": {
          "type": "string"
        },
        "mimeType": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowV2Document"
    },
    "GoogleCloudDialogflowV2CreateConversationModelEvaluationRequest": {
      "id": "GoogleCloudDialogflowV2CreateConversationModelEvaluationRequest",
      "type": "object",
      "properties": {
        "conversationModelEvaluation": {
          "$ref": "GoogleCloudDialogflowV2ConversationModelEvaluation"
        }
      }
    },
    "GoogleCloudDialogflowV2SipTrunk": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SipTrunk",
      "properties": {
        "name": {
          "type": "string"
        },
        "connections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Connection"
          },
          "readOnly": true
        },
        "peerHostnames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SipHostname"
          }
        },
        "displayName": {
          "type": "string"
        },
        "expectedHostname": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "googleRootCertFile": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CERT_FILE_UNSPECIFIED",
            "EXTERNAL_PRIVATE_CA"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig": {
      "properties": {
        "groupSuggestionResponses": {
          "type": "boolean"
        },
        "enableAsyncToolCall": {
          "type": "boolean"
        },
        "skipEmptyEventBasedSuggestion": {
          "type": "boolean"
        },
        "useUnredactedConversationData": {
          "type": "boolean"
        },
        "generators": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "featureConfigs": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionFeatureConfig"
          },
          "type": "array"
        },
        "disableHighLatencyFeaturesSyncDelivery": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig"
    },
    "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse": {
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfig": {
      "properties": {
        "humanAgentSuggestionConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig"
        },
        "endUserSuggestionConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig"
        },
        "notificationConfig": {
          "$ref": "GoogleCloudDialogflowV2NotificationConfig"
        },
        "messageAnalysisConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigMessageAnalysisConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfig"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionFeatureConfig": {
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionFeatureConfig",
      "properties": {
        "enableResponseDebugInfo": {
          "type": "boolean"
        },
        "conversationModelConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationModelConfig"
        },
        "enableQuerySuggestionOnly": {
          "type": "boolean"
        },
        "enableEventBasedSuggestion": {
          "type": "boolean"
        },
        "queryConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfig"
        },
        "enableConversationAugmentedQuery": {
          "type": "boolean"
        },
        "enableQuerySuggestionWhenNoAnswer": {
          "type": "boolean"
        },
        "raiSettings": {
          "$ref": "GoogleCloudDialogflowV2RaiSettings"
        },
        "disableQuerySearchContext": {
          "type": "boolean"
        },
        "conversationProcessConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationProcessConfig"
        },
        "suggestionTriggerEvent": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE"
          ],
          "type": "string"
        },
        "suggestionTriggerSettings": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionTriggerSettings"
        },
        "suggestionFeature": {
          "$ref": "GoogleCloudDialogflowV2SuggestionFeature"
        },
        "disableAgentQueryLogging": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestArticlesResponse": {
      "type": "object",
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        },
        "articleAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ArticleAnswer"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationProcessConfig": {
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationProcessConfig",
      "type": "object",
      "properties": {
        "recentSentencesCount": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue": {
      "type": "object",
      "properties": {
        "originalValue": {
          "type": "string"
        },
        "resolvedValue": {
          "type": "any"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
    },
    "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo": {
      "id": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo",
      "type": "object",
      "properties": {
        "ingestedParametersDebugInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          },
          "type": "array"
        },
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelect",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummarySummarySection": {
      "properties": {
        "summary": {
          "type": "string",
          "readOnly": true
        },
        "section": {
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummarySummarySection",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3QueryInput": {
      "properties": {
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3DtmfInput"
        },
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3AudioInput"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3IntentInput"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResult"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3TextInput"
        },
        "languageCode": {
          "type": "string"
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3EventInput"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3QueryInput"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCall": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolCall",
      "properties": {
        "inputParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "action": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2FulfillmentFeature": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2FulfillmentFeature",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "SMALLTALK"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Page": {
      "id": "GoogleCloudDialogflowCxV3Page",
      "type": "object",
      "properties": {
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3Form"
        },
        "description": {
          "type": "string"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "eventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          },
          "type": "array"
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig": {
      "properties": {
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        },
        "service": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig"
    },
    "GoogleCloudDialogflowV2beta1IntentMessage": {
      "properties": {
        "telephonyPlayAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageText"
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies"
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions"
        },
        "rbmCarouselRichCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard"
        },
        "platform": {
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "TELEPHONY",
            "GOOGLE_HANGOUTS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses"
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCard"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelect"
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCard"
        },
        "telephonySynthesizeSpeech": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech"
        },
        "rbmStandaloneRichCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent"
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect"
        },
        "rbmText": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmText"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessage",
      "type": "object"
    },
    "GoogleCloudDialogflowV2Intent": {
      "id": "GoogleCloudDialogflowV2Intent",
      "type": "object",
      "properties": {
        "priority": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "webhookState": {
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "rootFollowupIntentName": {
          "type": "string",
          "readOnly": true
        },
        "endInteraction": {
          "type": "boolean"
        },
        "inputContextNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "trainingPhrases": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrase"
          },
          "type": "array"
        },
        "mlDisabled": {
          "type": "boolean"
        },
        "followupIntentInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentFollowupIntentInfo"
          }
        },
        "events": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          },
          "type": "array"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "resetContexts": {
          "type": "boolean"
        },
        "action": {
          "type": "string"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "isFallback": {
          "type": "boolean"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentParameter"
          }
        },
        "defaultResponsePlatforms": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "GOOGLE_HANGOUTS"
            ]
          },
          "type": "array"
        },
        "parentFollowupIntentName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata": {
      "properties": {
        "trainingModelType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ContinuousTestResult": {
      "type": "object",
      "properties": {
        "testCaseResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "runTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "result": {
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio",
      "properties": {
        "audioUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1SessionInfo": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "session": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1SessionInfo"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction": {
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCardButton": {
      "properties": {
        "postback": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageCardButton"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponses": {
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponses",
      "properties": {
        "simpleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponse"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestConfig": {
      "properties": {
        "trackingParameters": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "page": {
          "type": "string"
        },
        "flow": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestConfig"
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse",
      "type": "object",
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowV2DialogflowAssistAnswer": {
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "intentSuggestion": {
          "$ref": "GoogleCloudDialogflowV2IntentSuggestion"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        }
      },
      "id": "GoogleCloudDialogflowV2DialogflowAssistAnswer"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "footer": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken": {
      "properties": {
        "tokenCount": {
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "section": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken"
    },
    "GoogleCloudDialogflowV2Message": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Message",
      "properties": {
        "sentimentAnalysis": {
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult",
          "readOnly": true
        },
        "messageAnnotation": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2MessageAnnotation"
        },
        "name": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "participantRole": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "participant": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeSearchFeedback": {
      "properties": {
        "clickedUris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "answerCopied": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeSearchFeedback"
    },
    "GoogleCloudDialogflowV2SpeechToTextConfigGeminiAsrConfig": {
      "type": "object",
      "properties": {
        "modelId": {
          "type": "string"
        },
        "prefixPaddingMs": {
          "format": "int32",
          "type": "integer"
        },
        "startOfSpeechSensitivity": {
          "type": "string",
          "enum": [
            "START_SENSITIVITY_UNSPECIFIED",
            "START_SENSITIVITY_HIGH",
            "START_SENSITIVITY_LOW"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "silenceDurationMs": {
          "format": "int32",
          "type": "integer"
        },
        "endOfSpeechSensitivity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "END_SENSITIVITY_UNSPECIFIED",
            "END_SENSITIVITY_HIGH",
            "END_SENSITIVITY_LOW"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2SpeechToTextConfigGeminiAsrConfig"
    },
    "GoogleCloudDialogflowV2ToolCallResultError": {
      "id": "GoogleCloudDialogflowV2ToolCallResultError",
      "properties": {
        "retryable": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AutomatedAgentReply": {
      "properties": {
        "detectIntentResponse": {
          "$ref": "GoogleCloudDialogflowV2DetectIntentResponse"
        },
        "automatedAgentReplyType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "AUTOMATED_AGENT_REPLY_TYPE_UNSPECIFIED",
            "PARTIAL",
            "FINAL"
          ],
          "type": "string"
        },
        "cxCurrentPage": {
          "type": "string"
        },
        "allowCancellation": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2AutomatedAgentReply",
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigContextFilterSettings": {
      "properties": {
        "dropIvrMessages": {
          "type": "boolean"
        },
        "dropVirtualAgentMessages": {
          "type": "boolean"
        },
        "dropHandoffMessages": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigContextFilterSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2OriginalDetectIntentRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2OriginalDetectIntentRequest",
      "properties": {
        "version": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent": {
      "type": "object",
      "properties": {
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
        },
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery": {
      "properties": {
        "searchContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext"
          }
        },
        "queryText": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem",
      "properties": {
        "description": {
          "type": "string"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigMessageAnalysisConfig": {
      "properties": {
        "enableSentimentAnalysisV3": {
          "type": "boolean"
        },
        "enableSentimentAnalysis": {
          "type": "boolean"
        },
        "enableEntityExtraction": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigMessageAnalysisConfig"
    },
    "GoogleCloudDialogflowCxV3WebhookRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookRequest",
      "properties": {
        "triggerIntent": {
          "type": "string"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3LanguageInfo"
        },
        "transcript": {
          "type": "string"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo"
        },
        "triggerEvent": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "languageCode": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        },
        "dtmfDigits": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2GenerateStatelessSummaryResponse": {
      "id": "GoogleCloudDialogflowV2GenerateStatelessSummaryResponse",
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "summary": {
          "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryResponseSummary"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "type": "object",
      "properties": {
        "url": {
          "type": "string"
        },
        "urlTypeHint": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ListParticipantsResponse": {
      "properties": {
        "participants": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Participant"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ListParticipantsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1InputAudioConfig": {
      "properties": {
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer"
        },
        "audioEncoding": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ],
          "type": "string"
        },
        "bargeInConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1BargeInConfig"
        },
        "model": {
          "type": "string"
        },
        "modelVariant": {
          "type": "string",
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "phraseHints": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "singleUtterance": {
          "type": "boolean"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1InputAudioConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Sentiment": {
      "type": "object",
      "properties": {
        "score": {
          "format": "float",
          "type": "number"
        },
        "magnitude": {
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Sentiment"
    },
    "GoogleCloudDialogflowV2OutputAudioConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2OutputAudioConfig",
      "properties": {
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "synthesizeSpeechConfig": {
          "$ref": "GoogleCloudDialogflowV2SynthesizeSpeechConfig"
        },
        "audioEncoding": {
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW",
            "OUTPUT_AUDIO_ENCODING_ALAW"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2ImportDocumentTemplate": {
      "type": "object",
      "properties": {
        "mimeType": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "knowledgeTypes": {
          "type": "array",
          "items": {
            "enum": [
              "KNOWLEDGE_TYPE_UNSPECIFIED",
              "FAQ",
              "EXTRACTIVE_QA",
              "ARTICLE_SUGGESTION",
              "AGENT_FACING_SMART_REPLY"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ]
          }
        }
      },
      "id": "GoogleCloudDialogflowV2ImportDocumentTemplate"
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array"
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AnswerRecord": {
      "id": "GoogleCloudDialogflowV2AnswerRecord",
      "properties": {
        "name": {
          "type": "string"
        },
        "agentAssistantRecord": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentAssistantRecord"
        },
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowV2AnswerFeedback"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
      "properties": {
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "version": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard": {
      "type": "object",
      "properties": {
        "cardContents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
          },
          "type": "array"
        },
        "cardWidth": {
          "enum": [
            "CARD_WIDTH_UNSPECIFIED",
            "SMALL",
            "MEDIUM"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard"
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata": {
      "properties": {
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest"
        }
      },
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettings": {
      "properties": {
        "audioExportGcsDestination": {
          "$ref": "GoogleCloudDialogflowCxV3beta1GcsDestination"
        },
        "speechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings"
        },
        "loggingSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings"
        },
        "dtmfSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestion",
      "properties": {
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
        },
        "toolCallInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
          },
          "type": "array"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestion"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListConversationsResponse": {
      "id": "GoogleCloudDialogflowV2ListConversationsResponse",
      "properties": {
        "conversations": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Conversation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction": {
      "properties": {},
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationSectionList": {
      "id": "GoogleCloudDialogflowV2SummarizationSectionList",
      "type": "object",
      "properties": {
        "summarizationSections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationSection"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2BatchCreateEntitiesRequest": {
      "id": "GoogleCloudDialogflowV2BatchCreateEntitiesRequest",
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          }
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo",
      "type": "object",
      "properties": {
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FormParameter": {
      "id": "GoogleCloudDialogflowCxV3beta1FormParameter",
      "properties": {
        "defaultValue": {
          "type": "any"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "redact": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior"
        },
        "entityType": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "required": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestMetadata": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "type": "object",
      "properties": {
        "snippets": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
    },
    "GoogleCloudDialogflowCxV3ImportFlowResponse": {
      "properties": {
        "flow": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportFlowResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Intent": {
      "id": "GoogleCloudDialogflowV2beta1Intent",
      "type": "object",
      "properties": {
        "action": {
          "type": "string"
        },
        "isFallback": {
          "type": "boolean"
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentParameter"
          },
          "type": "array"
        },
        "defaultResponsePlatforms": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "TELEPHONY",
              "GOOGLE_HANGOUTS"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "resetContexts": {
          "type": "boolean"
        },
        "inputContextNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          },
          "type": "array"
        },
        "mlEnabled": {
          "type": "boolean",
          "deprecated": true
        },
        "displayName": {
          "type": "string"
        },
        "followupIntentInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo"
          },
          "type": "array",
          "readOnly": true
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "mlDisabled": {
          "type": "boolean"
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase"
          }
        },
        "events": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "webhookState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ]
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "endInteraction": {
          "type": "boolean"
        },
        "rootFollowupIntentName": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "properties": {
        "differences": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          },
          "type": "array"
        },
        "sessionParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "diagnosticInfo": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "textResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          }
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowResponse",
      "type": "object",
      "properties": {
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
        },
        "deployment": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageColumnProperties": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageColumnProperties",
      "properties": {
        "header": {
          "type": "string"
        },
        "horizontalAlignment": {
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "properties": {
        "question": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageText": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageText",
      "properties": {
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestSmartRepliesRequest": {
      "properties": {
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "currentTextInput": {
          "$ref": "GoogleCloudDialogflowV2TextInput"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestSmartRepliesRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IngestContextReferencesResponse": {
      "properties": {
        "ingestedContextReferences": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2ConversationContextReference"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IngestContextReferencesResponse"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConnectionErrorDetails": {
      "properties": {
        "certificateState": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CERTIFICATE_STATE_UNSPECIFIED",
            "CERTIFICATE_VALID",
            "CERTIFICATE_INVALID",
            "CERTIFICATE_EXPIRED",
            "CERTIFICATE_HOSTNAME_NOT_FOUND",
            "CERTIFICATE_UNAUTHENTICATED",
            "CERTIFICATE_TRUST_STORE_NOT_FOUND",
            "CERTIFICATE_HOSTNAME_INVALID_FORMAT",
            "CERTIFICATE_QUOTA_EXCEEDED"
          ],
          "type": "string"
        },
        "errorMessage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ConnectionErrorDetails",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelect": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelect",
      "type": "object",
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem"
          }
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TurnSignals": {
      "id": "GoogleCloudDialogflowCxV3TurnSignals",
      "properties": {
        "sentimentMagnitude": {
          "format": "float",
          "type": "number"
        },
        "noMatch": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "userEscalated": {
          "type": "boolean"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "failureReasons": {
          "type": "array",
          "items": {
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          }
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListConversationModelEvaluationsResponse": {
      "id": "GoogleCloudDialogflowV2ListConversationModelEvaluationsResponse",
      "properties": {
        "conversationModelEvaluations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationModelEvaluation"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput",
      "properties": {
        "intent": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswers": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswers",
      "type": "object",
      "properties": {
        "answers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2NotificationConfig": {
      "properties": {
        "messageFormat": {
          "type": "string",
          "enum": [
            "MESSAGE_FORMAT_UNSPECIFIED",
            "PROTO",
            "JSON"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "topic": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2NotificationConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListGeneratorsResponse": {
      "id": "GoogleCloudDialogflowV2ListGeneratorsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "generators": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Generator"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolCall": {
      "id": "GoogleCloudDialogflowV2ToolCall",
      "type": "object",
      "properties": {
        "action": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "cesApp": {
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
[...]
