{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "version": "v2beta1",
  "name": "dialogflow",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "basePath": "",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "version_module": true,
  "id": "dialogflow:v2beta1",
  "schemas": {
    "GoogleCloudDialogflowV2beta1ImportDocumentsResponse": {
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ImportDocumentsResponse"
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse": {
      "type": "object",
      "properties": {
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityType"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse"
    },
    "GoogleCloudDialogflowCxV3beta1Environment": {
      "id": "GoogleCloudDialogflowCxV3beta1Environment",
      "properties": {
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig"
        },
        "versionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSelectItemInfo": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContent": {
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContent",
      "properties": {
        "mediaObjects": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"
          },
          "type": "array"
        },
        "mediaType": {
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryResponseSummary": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryResponseSummary",
      "properties": {
        "baselineModelVersion": {
          "type": "string"
        },
        "textSections": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue": {
      "properties": {
        "resolvedValue": {
          "type": "any"
        },
        "originalValue": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue",
      "type": "object"
    },
    "GoogleCloudDialogflowV2BatchUpdateIntentsResponse": {
      "id": "GoogleCloudDialogflowV2BatchUpdateIntentsResponse",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Participant": {
      "id": "GoogleCloudDialogflowV2beta1Participant",
      "type": "object",
      "properties": {
        "documentsMetadataFilters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "obfuscatedExternalUserId": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "agentDesktopSource": {
          "enum": [
            "AGENT_DESKTOP_SOURCE_UNSPECIFIED",
            "LIVE_PERSON",
            "GENESYS_CLOUD",
            "TWILIO",
            "SALESFORCE",
            "OTHER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings": {
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings",
      "properties": {
        "enabled": {
          "type": "boolean"
        },
        "finishDigit": {
          "type": "string"
        },
        "maxDigits": {
          "type": "integer",
          "format": "int32"
        },
        "interdigitTimeoutDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "endpointingTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart": {
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart",
      "properties": {
        "entityType": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "userDefined": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SearchKnowledgeDebugInfo": {
      "properties": {
        "datastoreResponseReason": {
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo"
        },
        "searchKnowledgeBehavior": {
          "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeDebugInfoSearchKnowledgeBehavior"
        },
        "cesDebugInfo": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2beta1ServiceLatency"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SearchKnowledgeDebugInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2FreeFormSuggestion": {
      "type": "object",
      "properties": {
        "response": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2FreeFormSuggestion"
    },
    "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior",
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "repromptEventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "properties": {
        "urlTypeHint": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ]
        },
        "url": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ProbeDetails": {
      "properties": {
        "probeStatus": {
          "enum": [
            "PROBE_STATUS_UNSPECIFIED",
            "PROBE_STATUS_SUCCESS",
            "PROBE_STATUS_FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true
        },
        "initTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "optionsLatency": {
          "type": "string",
          "format": "google-duration",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ProbeDetails",
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "id": "GoogleLongrunningOperation",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo",
      "type": "object",
      "properties": {
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "key": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1BargeInConfig": {
      "id": "GoogleCloudDialogflowV2beta1BargeInConfig",
      "properties": {
        "totalDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "noBargeInDuration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ConversationTurn": {
      "properties": {
        "userInput": {
          "$ref": "GoogleCloudDialogflowCxV3ConversationTurnUserInput"
        },
        "virtualAgentOutput": {
          "$ref": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ConversationTurn"
    },
    "GoogleCloudDialogflowV2beta1SuggestSmartRepliesRequest": {
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "currentTextInput": {
          "$ref": "GoogleCloudDialogflowV2beta1TextInput"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesRequest"
    },
    "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigAgentAssistInputDataConfig": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigAgentAssistInputDataConfig"
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource": {
      "type": "object",
      "properties": {
        "agent": {
          "type": "string"
        },
        "humanAgentSideConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties",
      "properties": {
        "header": {
          "type": "string"
        },
        "horizontalAlignment": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurn": {
      "type": "object",
      "properties": {
        "virtualAgentOutput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput"
        },
        "userInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
    },
    "GoogleCloudDialogflowCxV3beta1TurnSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1TurnSignals",
      "properties": {
        "agentEscalated": {
          "type": "boolean"
        },
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "noMatch": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "failureReasons": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ]
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestConversationSummaryRequest": {
      "id": "GoogleCloudDialogflowV2beta1SuggestConversationSummaryRequest",
      "properties": {
        "assistQueryParams": {
          "$ref": "GoogleCloudDialogflowV2beta1AssistQueryParameters"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigFilterSpecs": {
      "id": "GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigFilterSpecs",
      "properties": {
        "filter": {
          "type": "string"
        },
        "dataStores": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig": {
      "id": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig",
      "type": "object",
      "properties": {
        "webhookOverrides": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Webhook"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AutomatedAgentReply": {
      "properties": {
        "automatedAgentReplyType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "AUTOMATED_AGENT_REPLY_TYPE_UNSPECIFIED",
            "PARTIAL",
            "FINAL"
          ]
        },
        "cxSessionParameters": {
          "deprecated": true,
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "intent": {
          "type": "string"
        },
        "callCompanionAuthCode": {
          "format": "byte",
          "type": "string"
        },
        "responseMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessage"
          }
        },
        "matchConfidence": {
          "format": "float",
          "type": "number"
        },
        "cxCurrentPage": {
          "type": "string"
        },
        "allowCancellation": {
          "type": "boolean"
        },
        "event": {
          "type": "string"
        },
        "detectIntentResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1DetectIntentResponse"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AutomatedAgentReply",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "properties": {
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery",
          "readOnly": true
        },
        "answerRecord": {
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult": {
      "properties": {
        "duplicateSuggestions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestMetadata": {
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestMetadata",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase",
      "type": "object",
      "properties": {
        "repeatCount": {
          "format": "int32",
          "type": "integer"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
          }
        },
        "id": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageText": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageText",
      "type": "object",
      "properties": {
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetrics": {
      "properties": {
        "overallMetrics": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsOverallScoresByMetric"
          },
          "type": "array",
          "readOnly": true
        },
        "conversationDetails": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetail"
          }
        },
        "summarizationEvaluationMergedResultsUri": {
          "readOnly": true,
          "type": "string"
        },
        "overallSectionTokens": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSectionToken"
          },
          "type": "array"
        },
        "summarizationEvaluationResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSummarizationEvaluationResult"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetrics",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Document": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Document",
      "properties": {
        "mimeType": {
          "type": "string"
        },
        "enableAutoReload": {
          "type": "boolean"
        },
        "content": {
          "deprecated": true,
          "type": "string"
        },
        "latestReloadStatus": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1DocumentReloadStatus"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "RELOADING",
            "DELETING"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "rawContent": {
          "type": "string",
          "format": "byte"
        },
        "displayName": {
          "type": "string"
        },
        "contentUri": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "knowledgeTypes": {
          "items": {
            "enum": [
              "KNOWLEDGE_TYPE_UNSPECIFIED",
              "FAQ",
              "EXTRACTIVE_QA",
              "ARTICLE_SUGGESTION",
              "AGENT_FACING_SMART_REPLY",
              "SMART_REPLY"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCardButton": {
      "properties": {
        "text": {
          "type": "string"
        },
        "postback": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCardButton",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata": {
      "id": "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata",
      "properties": {
        "conversationProfile": {
          "type": "string"
        },
        "suggestionFeatureType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "participantRole": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1VoiceSelectionParams": {
      "properties": {
        "name": {
          "type": "string"
        },
        "ssmlGender": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SSML_VOICE_GENDER_UNSPECIFIED",
            "SSML_VOICE_GENDER_MALE",
            "SSML_VOICE_GENDER_FEMALE",
            "SSML_VOICE_GENDER_NEUTRAL"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1VoiceSelectionParams",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer",
      "properties": {
        "source": {
          "type": "string"
        },
        "faqQuestion": {
          "type": "string"
        },
        "matchConfidence": {
          "type": "number",
          "format": "float"
        },
        "answer": {
          "type": "string"
        },
        "matchConfidenceLevel": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MATCH_CONFIDENCE_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SynthesizeSpeechConfig": {
      "id": "GoogleCloudDialogflowV2beta1SynthesizeSpeechConfig",
      "properties": {
        "speakingRate": {
          "type": "number",
          "format": "double"
        },
        "pitch": {
          "type": "number",
          "format": "double"
        },
        "voice": {
          "$ref": "GoogleCloudDialogflowV2beta1VoiceSelectionParams"
        },
        "pronunciations": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1CustomPronunciationParams"
          },
          "type": "array"
        },
        "volumeGainDb": {
          "format": "double",
          "type": "number"
        },
        "effectsProfileId": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ConversationGeneratorContext": {
      "id": "GoogleCloudDialogflowV2beta1ConversationGeneratorContext",
      "type": "object",
      "properties": {
        "generatorType": {
          "enum": [
            "GENERATOR_TYPE_UNSPECIFIED",
            "FREE_FORM",
            "AGENT_COACHING",
            "SUMMARIZATION",
            "TRANSLATION",
            "AGENT_FEEDBACK",
            "CUSTOMER_MESSAGE_GENERATION"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentHandoffConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1HumanAgentHandoffConfig",
      "properties": {
        "salesforceLiveAgentConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentHandoffConfigSalesforceLiveAgentConfig"
        },
        "livePersonConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentHandoffConfigLivePersonConfig"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Suggestion": {
      "properties": {
        "faqAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SuggestionFaqAnswer"
          },
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "latestMessage": {
          "type": "string"
        },
        "articles": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SuggestionArticle"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "deprecated": true,
      "id": "GoogleCloudDialogflowV2beta1Suggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelect": {
      "id": "GoogleCloudDialogflowV2IntentMessageListSelect",
      "type": "object",
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageListSelectItem"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestRunDifference": {
      "properties": {
        "type": {
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TestRunDifference"
    },
    "GoogleCloudDialogflowV2SummarySuggestion": {
      "id": "GoogleCloudDialogflowV2SummarySuggestion",
      "properties": {
        "summarySections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarySuggestionSummarySection"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ContinuousTestResult": {
      "properties": {
        "testCaseResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "result": {
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "runTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1FaqAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1FaqAnswer",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "answer": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "question": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1BatchDeleteEntitiesRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1BatchDeleteEntitiesRequest",
      "properties": {
        "entityValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput",
      "properties": {
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Page"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "differences": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestRunDifference"
          },
          "readOnly": true
        },
        "sessionParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "textResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2Message": {
      "properties": {
        "name": {
          "type": "string"
        },
        "messageAnnotation": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2MessageAnnotation"
        },
        "participant": {
          "readOnly": true,
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sentimentAnalysis": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "participantRole": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "readOnly": true
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2Message"
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionConfig": {
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionConfig",
      "properties": {
        "disableHighLatencyFeaturesSyncDelivery": {
          "type": "boolean"
        },
        "useUnredactedConversationData": {
          "type": "boolean"
        },
        "enableAsyncToolCall": {
          "type": "boolean"
        },
        "generators": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "groupSuggestionResponses": {
          "type": "boolean"
        },
        "featureConfigs": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionFeatureConfig"
          },
          "type": "array"
        },
        "skipEmptyEventBasedSuggestion": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolAuthenticationOAuthConfig": {
      "properties": {
        "oauthGrantType": {
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clientSecret": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ToolAuthenticationOAuthConfig"
    },
    "GoogleCloudDialogflowCxV3beta1Fulfillment": {
      "id": "GoogleCloudDialogflowCxV3beta1Fulfillment",
      "properties": {
        "codeBlockFunction": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "enableGenerativeFallback": {
          "type": "boolean"
        },
        "webhook": {
          "type": "string"
        },
        "setParameterActions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction"
          }
        },
        "tag": {
          "type": "string"
        },
        "returnPartialResponses": {
          "type": "boolean"
        },
        "conditionalCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
          }
        },
        "generators": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection": {
      "properties": {
        "summary": {
          "type": "string"
        },
        "section": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AnalyzeContentRequest": {
      "properties": {
        "cxParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "suggestionInput": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestionInput"
        },
        "textInput": {
          "$ref": "GoogleCloudDialogflowV2beta1TextInput"
        },
        "requestId": {
          "type": "string"
        },
        "cxCurrentPage": {
          "type": "string"
        },
        "audioInput": {
          "$ref": "GoogleCloudDialogflowV2beta1AudioInput"
        },
        "messageSendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "assistQueryParams": {
          "$ref": "GoogleCloudDialogflowV2beta1AssistQueryParameters"
        },
        "eventInput": {
          "$ref": "GoogleCloudDialogflowV2beta1EventInput"
        },
        "intentInput": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentInput"
        },
        "replyAudioConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1OutputAudioConfig"
        },
        "queryParams": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryParameters"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AnalyzeContentRequest"
    },
    "GoogleCloudDialogflowCxV3beta1RunContinuousTestResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RunContinuousTestResponse",
      "properties": {
        "continuousTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult"
        }
      }
    },
    "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata": {
      "type": "object",
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "CANCELLING",
            "TRAINING"
          ],
          "type": "string"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo": {
      "type": "object",
      "properties": {
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2ServiceLatency"
        },
        "queryCategorizationFailureReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_CATEGORIZATION_INVALID_CONFIG",
            "QUERY_CATEGORIZATION_RESULT_NOT_FOUND",
            "QUERY_CATEGORIZATION_FAILED"
          ]
        },
        "queryGenerationFailureReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_GENERATION_OUT_OF_QUOTA",
            "QUERY_GENERATION_FAILED",
            "QUERY_GENERATION_NO_QUERY_GENERATED",
            "QUERY_GENERATION_RAI_FAILED",
            "NOT_IN_ALLOWLIST",
            "QUERY_GENERATION_QUERY_REDACTED",
            "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED",
            "QUERY_GENERATION_EMPTY_CONVERSATION",
            "QUERY_GENERATION_EMPTY_LAST_MESSAGE",
            "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          ]
        },
        "knowledgeAssistBehavior": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        },
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
        },
        "datastoreResponseReason": {
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "cesDebugInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "queryGenerationDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo"
    },
    "GoogleCloudDialogflowV2beta1AgentAssistantFeedback": {
      "type": "object",
      "properties": {
        "answerRelevance": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ANSWER_RELEVANCE_UNSPECIFIED",
            "IRRELEVANT",
            "RELEVANT"
          ],
          "type": "string"
        },
        "summarizationFeedback": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackSummarizationFeedback"
        },
        "documentCorrectness": {
          "enum": [
            "DOCUMENT_CORRECTNESS_UNSPECIFIED",
            "INCORRECT",
            "CORRECT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "knowledgeSearchFeedback": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackKnowledgeSearchFeedback"
        },
        "documentEfficiency": {
          "enum": [
            "DOCUMENT_EFFICIENCY_UNSPECIFIED",
            "INEFFICIENT",
            "EFFICIENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "knowledgeAssistFeedback": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackKnowledgeAssistFeedback"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentAssistantFeedback"
    },
    "GoogleCloudDialogflowV2beta1WebhookRequest": {
      "type": "object",
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "responseId": {
          "type": "string"
        },
        "alternativeQueryResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
          }
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest"
        },
        "session": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1WebhookRequest"
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationResponse",
      "properties": {
        "importCount": {
          "type": "integer",
          "format": "int32"
        },
        "conversationDataset": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3QueryInput": {
      "id": "GoogleCloudDialogflowCxV3QueryInput",
      "type": "object",
      "properties": {
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3AudioInput"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3TextInput"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3DtmfInput"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3IntentInput"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResult"
        },
        "languageCode": {
          "type": "string"
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3EventInput"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse": {
      "id": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "smartReplyAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SmartReplyAnswer"
          }
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard",
      "type": "object",
      "properties": {
        "cardContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
        },
        "thumbnailImageAlignment": {
          "enum": [
            "THUMBNAIL_IMAGE_ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "RIGHT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "cardOrientation": {
          "enum": [
            "CARD_ORIENTATION_UNSPECIFIED",
            "HORIZONTAL",
            "VERTICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestionFeature": {
      "id": "GoogleCloudDialogflowV2beta1SuggestionFeature",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1QueryInput": {
      "properties": {
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1TextInput"
        },
        "event": {
          "$ref": "GoogleCloudDialogflowV2beta1EventInput"
        },
        "audioConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1InputAudioConfig"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1QueryInput"
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsDecomposition": {
      "type": "object",
      "deprecated": true,
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsDecomposition",
      "properties": {
        "adherenceDecomposition": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsAdherenceDecomposition"
        },
        "accuracyDecomposition": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsAccuracyDecomposition"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings": {
      "properties": {
        "inputParameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "generator": {
          "type": "string"
        },
        "outputParameter": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings"
    },
    "GoogleCloudDialogflowV2beta1SuggestionDedupingConfig": {
      "type": "object",
      "properties": {
        "similarityThreshold": {
          "format": "float",
          "type": "number"
        },
        "enableDeduping": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestionDedupingConfig"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "properties": {
        "sources": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources",
          "readOnly": true
        },
        "suggestionIndex": {
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "similarityScore": {
          "format": "float",
          "readOnly": true,
          "type": "number"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse"
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesRequest": {
      "properties": {
        "entityTypeBatchUri": {
          "type": "string"
        },
        "entityTypeBatchInline": {
          "$ref": "GoogleCloudDialogflowV2beta1EntityTypeBatch"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesRequest"
    },
    "GoogleCloudDialogflowV2beta1SessionEntityType": {
      "properties": {
        "entityOverrideMode": {
          "type": "string",
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SessionEntityType",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1NotificationConfig": {
      "properties": {
        "messageFormat": {
          "enum": [
            "MESSAGE_FORMAT_UNSPECIFIED",
            "PROTO",
            "JSON"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "topic": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1NotificationConfig"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponse",
      "properties": {
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources"
        },
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SpeechContext": {
      "properties": {
        "boost": {
          "type": "number",
          "format": "float"
        },
        "phrases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SpeechContext",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1FewShotExample": {
      "id": "GoogleCloudDialogflowV2beta1FewShotExample",
      "type": "object",
      "properties": {
        "summarizationSectionList": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarizationSectionList"
        },
        "output": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestion"
        },
        "extraInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "conversationContext": {
          "$ref": "GoogleCloudDialogflowV2beta1ConversationContext"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse": {
      "properties": {
        "dialogflowAssistAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer"
          }
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse"
    },
    "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
      "properties": {
        "version": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessage": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessage",
      "properties": {
        "mixedAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageText"
        },
        "endInteraction": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsAdherenceDecomposition": {
      "deprecated": true,
      "properties": {
        "point": {
          "type": "string",
          "readOnly": true
        },
        "adherenceReasoning": {
          "type": "string",
          "readOnly": true
        },
        "isAdherent": {
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsAdherenceDecomposition",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AnswerFeedback": {
      "properties": {
        "correctnessLevel": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ]
        },
        "displayTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "clickTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "displayed": {
          "type": "boolean"
        },
        "agentAssistantDetailFeedback": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentAssistantFeedback"
        },
        "clicked": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AnswerFeedback",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrase": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrase",
      "properties": {
        "timesAddedCount": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
          },
          "type": "array"
        },
        "type": {
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponse": {
      "type": "object",
      "properties": {
        "textToSpeech": {
          "type": "string"
        },
        "displayText": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponse"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebService": {
      "properties": {
        "serviceAccountAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig"
        },
        "requestHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAgentAuth": {
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "NONE",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "requestBody": {
          "type": "string"
        },
        "username": {
          "type": "string",
          "deprecated": true
        },
        "allowedCaCerts": {
          "type": "array",
          "items": {
            "format": "byte",
            "type": "string"
          }
        },
        "secretVersionsForRequestHeaders": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue"
          }
        },
        "webhookType": {
          "type": "string",
          "enum": [
            "WEBHOOK_TYPE_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig"
        },
        "password": {
          "deprecated": true,
          "type": "string"
        },
        "parameterMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "httpMethod": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "POST",
            "GET",
            "HEAD",
            "PUT",
            "DELETE",
            "PATCH",
            "OPTIONS"
          ]
        },
        "uri": {
          "type": "string"
        },
        "secretVersionForUsernamePassword": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestArticlesRequest": {
      "type": "object",
      "properties": {
        "assistQueryParams": {
          "$ref": "GoogleCloudDialogflowV2beta1AssistQueryParameters"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestArticlesRequest"
    },
    "GoogleCloudDialogflowV2beta1SipConfig": {
      "type": "object",
      "properties": {
        "keepConversationRunning": {
          "type": "boolean"
        },
        "inactiveStart": {
          "type": "boolean"
        },
        "maxAudioRecordingDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "copyInboundCallLegHeaders": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowVirtualAgentInteraction": {
          "type": "boolean"
        },
        "createConversationOnTheFly": {
          "type": "boolean"
        },
        "ignoreReinviteMediaDirection": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SipConfig"
    },
    "GoogleCloudDialogflowV2beta1AgentAssistantRecord": {
      "id": "GoogleCloudDialogflowV2beta1AgentAssistantRecord",
      "properties": {
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestion",
          "readOnly": true
        },
        "faqAnswer": {
          "$ref": "GoogleCloudDialogflowV2beta1FaqAnswer",
          "readOnly": true
        },
        "dialogflowAssistAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer"
        },
        "articleSuggestionAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1ArticleAnswer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion": {
      "type": "object",
      "properties": {
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
        },
        "agentAction": {
          "type": "string"
        },
        "sources": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion"
    },
    "GoogleCloudDialogflowV2beta1BatchCreateMessagesRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1CreateMessageRequest"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1BatchCreateMessagesRequest"
    },
    "GoogleCloudDialogflowCxV3beta1EventInput": {
      "properties": {
        "event": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1EventInput",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsAdherenceRubric": {
      "properties": {
        "isAddressed": {
          "readOnly": true,
          "type": "boolean"
        },
        "question": {
          "type": "string",
          "readOnly": true
        },
        "reasoning": {
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsAdherenceRubric",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestError": {
      "id": "GoogleCloudDialogflowCxV3TestError",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "testCase": {
          "type": "string"
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial",
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackKnowledgeAssistFeedback": {
      "properties": {
        "clickedUris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "answerCopied": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackKnowledgeAssistFeedback"
    },
    "GoogleCloudDialogflowV2beta1SummarizationSection": {
      "properties": {
        "definition": {
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "SITUATION",
            "ACTION",
            "RESOLUTION",
            "REASON_FOR_CANCELLATION",
            "CUSTOMER_SATISFACTION",
            "ENTITIES",
            "CUSTOMER_DEFINED",
            "SITUATION_CONCISE",
            "ACTION_CONCISE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "key": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SummarizationSection"
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsEvaluationResult": {
      "properties": {
        "completenessRubric": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsCompletenessRubric"
        },
        "adherenceRubric": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsAdherenceRubric"
        },
        "accuracyDecomposition": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsAccuracyDecomposition"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsEvaluationResult"
    },
    "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer": {
      "id": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer",
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "intentSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentSuggestion"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRoute": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRoute",
      "properties": {
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "targetPage": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "intent": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolCall": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolCall",
      "type": "object",
      "properties": {
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "action": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource",
      "type": "object",
      "properties": {
        "snippets": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryResponse": {
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "summary": {
          "$ref": "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryResponseSummary"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryResponse"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction"
    },
    "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings",
      "properties": {
        "targetFlow": {
          "type": "string"
        },
        "dataStoreConnections": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnection"
          },
          "type": "array"
        },
        "targetPage": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1QueryInput": {
      "id": "GoogleCloudDialogflowCxV3beta1QueryInput",
      "type": "object",
      "properties": {
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1IntentInput"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResult"
        },
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AudioInput"
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EventInput"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DtmfInput"
        },
        "languageCode": {
          "type": "string"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TextInput"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesMetadata": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportIntentsMetadata",
      "properties": {}
    },
    "GoogleCloudLocationListLocationsResponse": {
      "type": "object",
      "id": "GoogleCloudLocationListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse",
      "properties": {
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources"
        },
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateEntitiesRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateEntitiesRequest"
    },
    "GoogleCloudDialogflowV2beta1SuggestFaqAnswersRequest": {
      "id": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersRequest",
      "type": "object",
      "properties": {
        "assistQueryParams": {
          "$ref": "GoogleCloudDialogflowV2beta1AssistQueryParameters"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings": {
      "type": "object",
      "properties": {
        "enableConsentBasedRedaction": {
          "type": "boolean"
        },
        "enableInteractionLogging": {
          "type": "boolean"
        },
        "enableStackdriverLogging": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings"
    },
    "GoogleCloudDialogflowV2IntentMessage": {
      "id": "GoogleCloudDialogflowV2IntentMessage",
      "properties": {
        "platform": {
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "GOOGLE_HANGOUTS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelect"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContent"
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion"
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestions"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard"
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCard"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCard"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageListSelect"
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponses"
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageQuickReplies"
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageTableCard"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageText"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent",
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessage": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessage",
      "type": "object",
      "properties": {
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "telephonySynthesizeSpeech": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech"
        },
        "telephonyPlayAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageText"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelect"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect"
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions"
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion"
        },
        "rbmText": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmText"
        },
        "rbmStandaloneRichCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCard"
        },
        "platform": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "TELEPHONY",
            "GOOGLE_HANGOUTS"
          ]
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCard"
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent"
        },
        "rbmCarouselRichCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText": {
      "type": "object",
      "properties": {
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText"
    },
    "GoogleCloudDialogflowV2beta1ListIntentsResponse": {
      "id": "GoogleCloudDialogflowV2beta1ListIntentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Intent"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigConversationProcessConfig": {
      "properties": {
        "recentSentencesCount": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigConversationProcessConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestCase": {
      "properties": {
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3TestConfig"
        },
        "displayName": {
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          }
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "notes": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TestCase",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsAccuracyDecomposition": {
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsAccuracyDecomposition",
      "properties": {
        "accuracyReasoning": {
          "readOnly": true,
          "type": "string"
        },
        "isAccurate": {
          "type": "boolean",
          "readOnly": true
        },
        "point": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FormParameter": {
      "properties": {
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior"
        },
        "isList": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "redact": {
          "type": "boolean"
        },
        "required": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "defaultValue": {
          "type": "any"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FormParameter"
    },
    "GoogleCloudDialogflowV2beta1ConversationContextReferenceContextContent": {
      "id": "GoogleCloudDialogflowV2beta1ConversationContextReferenceContextContent",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "contentFormat": {
          "enum": [
            "CONTENT_FORMAT_UNSPECIFIED",
            "JSON",
            "PLAIN_TEXT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "ingestionTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SentimentAnalysisResult": {
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2beta1Sentiment"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
    },
    "GoogleCloudDialogflowV2beta1ListGeneratorEvaluationsResponse": {
      "id": "GoogleCloudDialogflowV2beta1ListGeneratorEvaluationsResponse",
      "properties": {
        "generatorEvaluations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorEvaluation"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse": {
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "additionalSuggestedQueryResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          }
        },
        "latestMessage": {
          "type": "string"
        },
        "knowledgeAssistAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswer"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
    },
    "GoogleCloudDialogflowV2beta1GcsDestination": {
      "id": "GoogleCloudDialogflowV2beta1GcsDestination",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata",
      "properties": {
        "conversationProfile": {
          "type": "string"
        },
        "participantRole": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "suggestionFeatureType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction": {
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetail": {
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetail",
      "type": "object",
      "properties": {
        "section": {
          "readOnly": true,
          "type": "string"
        },
        "sectionSummary": {
          "readOnly": true,
          "type": "string"
        },
        "score": {
          "type": "number",
          "readOnly": true,
          "format": "float"
        },
        "evaluationResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsEvaluationResult"
          },
          "type": "array",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolAuthentication": {
      "properties": {
        "bearerTokenConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolAuthenticationBearerTokenConfig"
        },
        "serviceAgentAuthConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolAuthenticationServiceAgentAuthConfig"
        },
        "apiKeyConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolAuthenticationApiKeyConfig"
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolAuthenticationOAuthConfig"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ToolAuthentication",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestions": {
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions"
    },
    "GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpec": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpec",
      "properties": {
        "conditionBoostSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpec"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationMetadata": {
      "properties": {
        "conversationDataset": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "partialFailures": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationMetadata"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet",
      "properties": {
        "text": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolCallResult": {
      "properties": {
        "content": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "action": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "rawContent": {
          "type": "string",
          "format": "byte"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2ToolCallResultError"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ToolCallResult"
    },
    "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo": {
      "id": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo",
      "type": "object",
      "properties": {
        "parentFollowupIntentName": {
          "type": "string"
        },
        "followupIntentName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ListSessionEntityTypesResponse": {
      "type": "object",
      "properties": {
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ListSessionEntityTypesResponse"
    },
    "GoogleCloudDialogflowV2beta1FulfillmentGenericWebService": {
      "properties": {
        "requestHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "username": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "isCloudFunction": {
          "deprecated": true,
          "type": "boolean"
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1FulfillmentGenericWebService",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentParameter": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentParameter",
      "properties": {
        "isList": {
          "type": "boolean"
        },
        "mandatory": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "prompts": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityTypeDisplayName": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1CesToolSpec": {
      "id": "GoogleCloudDialogflowV2beta1CesToolSpec",
      "properties": {
        "cesTool": {
          "type": "string"
        },
        "confirmationRequirement": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
            "REQUIRED",
            "NOT_REQUIRED"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings": {
      "type": "object",
      "properties": {
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "noSpeechTimeout": {
          "type": "string",
          "format": "google-duration"
        },
        "endpointerSensitivity": {
          "format": "int32",
          "type": "integer"
        },
        "models": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings"
    },
    "GoogleCloudDialogflowCxV3TurnSignals": {
      "id": "GoogleCloudDialogflowCxV3TurnSignals",
      "type": "object",
      "properties": {
        "agentEscalated": {
          "type": "boolean"
        },
        "noMatch": {
          "type": "boolean"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sentimentScore": {
          "format": "float",
          "type": "number"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "failureReasons": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "type": "string"
          }
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "sentimentMagnitude": {
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse": {
      "properties": {
        "responseText": {
          "type": "string"
        },
        "sources": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources",
          "readOnly": true
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
        }
      },
[...]
