{
  "id": "dialogflow:v3beta1",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "title": "Dialogflow API",
  "version_module": true,
  "canonicalName": "Dialogflow",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}",
              "id": "dialogflow.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v3beta1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "parameterOrder": [
                "name"
              ],
              "description": ""
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "description": "",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "id": "dialogflow.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "path": "v3beta1/{+name}/locations",
              "flatPath": "v3beta1/projects/{projectsId}/locations"
            }
          },
          "resources": {
            "securitySettings": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v3beta1/{+parent}/securitySettings",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings",
                  "description": "",
                  "id": "dialogflow.projects.locations.securitySettings.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1ListSecuritySettingsResponse"
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.securitySettings.patch",
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  },
                  "path": "v3beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.locations.securitySettings.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  },
                  "path": "v3beta1/{+name}"
                },
                "create": {
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  },
                  "id": "dialogflow.projects.locations.securitySettings.create",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v3beta1/{+parent}/securitySettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}",
                  "id": "dialogflow.projects.locations.securitySettings.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3beta1/{+name}",
                  "description": ""
                }
              }
            },
            "agents": {
              "resources": {
                "environments": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agents.environments.get",
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
                      },
                      "path": "v3beta1/{+name}"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.environments.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v3beta1/{+name}"
                    },
                    "lookupEnvironmentHistory": {
                      "id": "dialogflow.projects.locations.agents.environments.lookupEnvironmentHistory",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1LookupEnvironmentHistoryResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "",
                      "path": "v3beta1/{+name}:lookupEnvironmentHistory",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:lookupEnvironmentHistory",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "patch": {
                      "id": "dialogflow.projects.locations.agents.environments.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
                      },
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "description": "",
                      "path": "v3beta1/{+name}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "create": {
                      "id": "dialogflow.projects.locations.agents.environments.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v3beta1/{+parent}/environments",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments"
                    },
                    "list": {
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments",
                      "path": "v3beta1/{+parent}/environments",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListEnvironmentsResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.environments.list",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "deployFlow": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "environment"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:deployFlow",
                      "description": "",
                      "httpMethod": "POST",
                      "parameters": {
                        "environment": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.environments.deployFlow",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1DeployFlowRequest"
                      },
                      "path": "v3beta1/{+environment}:deployFlow"
                    },
                    "runContinuousTest": {
                      "parameterOrder": [
                        "environment"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:runContinuousTest",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1RunContinuousTestRequest"
                      },
                      "id": "dialogflow.projects.locations.agents.environments.runContinuousTest",
                      "path": "v3beta1/{+environment}:runContinuousTest",
                      "httpMethod": "POST",
                      "parameters": {
                        "environment": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "required": true
                        }
                      }
                    }
                  },
                  "resources": {
                    "sessions": {
                      "methods": {
                        "serverStreamingDetectIntent": {
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentRequest"
                          },
                          "id": "dialogflow.projects.locations.agents.environments.sessions.serverStreamingDetectIntent",
                          "parameterOrder": [
                            "session"
                          ],
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3beta1/{+session}:serverStreamingDetectIntent",
                          "httpMethod": "POST",
                          "parameters": {
                            "session": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "required": true
                            }
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:serverStreamingDetectIntent"
                        },
                        "fulfillIntent": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3beta1/{+session}:fulfillIntent",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:fulfillIntent",
                          "id": "dialogflow.projects.locations.agents.environments.sessions.fulfillIntent",
                          "httpMethod": "POST",
                          "parameters": {
                            "session": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "session"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillIntentResponse"
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillIntentRequest"
                          },
                          "description": ""
                        },
                        "matchIntent": {
                          "path": "v3beta1/{+session}:matchIntent",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1MatchIntentRequest"
                          },
                          "parameterOrder": [
                            "session"
                          ],
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:matchIntent",
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.environments.sessions.matchIntent",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "POST",
                          "parameters": {
                            "session": {
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1MatchIntentResponse"
                          }
                        },
                        "detectIntent": {
                          "description": "",
                          "httpMethod": "POST",
                          "parameters": {
                            "session": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$"
                            }
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:detectIntent",
                          "parameterOrder": [
                            "session"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentRequest"
                          },
                          "path": "v3beta1/{+session}:detectIntent",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentResponse"
                          },
                          "id": "dialogflow.projects.locations.agents.environments.sessions.detectIntent"
                        }
                      },
                      "resources": {
                        "entityTypes": {
                          "methods": {
                            "get": {
                              "parameterOrder": [
                                "name"
                              ],
                              "path": "v3beta1/{+name}",
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.get",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "",
                              "httpMethod": "GET",
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "location": "path",
                                  "type": "string"
                                }
                              },
                              "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}"
                            },
                            "patch": {
                              "parameterOrder": [
                                "name"
                              ],
                              "path": "v3beta1/{+name}",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                              },
                              "description": "",
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.patch",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "httpMethod": "PATCH",
                              "parameters": {
                                "updateMask": {
                                  "format": "google-fieldmask",
                                  "type": "string",
                                  "location": "query"
                                },
                                "name": {
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "type": "string",
                                  "required": true
                                }
                              },
                              "request": {
                                "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                              },
                              "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}"
                            },
                            "delete": {
                              "path": "v3beta1/{+name}",
                              "httpMethod": "DELETE",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "required": true,
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$"
                                }
                              },
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.delete",
                              "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "parameterOrder": [
                                "name"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "",
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              }
                            },
                            "list": {
                              "parameterOrder": [
                                "parent"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3beta1ListSessionEntityTypesResponse"
                              },
                              "description": "",
                              "path": "v3beta1/{+parent}/entityTypes",
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.list",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes",
                              "httpMethod": "GET",
                              "parameters": {
                                "pageSize": {
                                  "location": "query",
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "pageToken": {
                                  "location": "query",
                                  "type": "string"
                                },
                                "parent": {
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                                  "type": "string",
                                  "required": true
                                }
                              }
                            },
                            "create": {
                              "parameterOrder": [
                                "parent"
                              ],
                              "request": {
                                "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                              },
                              "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "httpMethod": "POST",
                              "parameters": {
                                "parent": {
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                                  "type": "string",
                                  "required": true
                                }
                              },
                              "description": "",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                              },
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.create",
                              "path": "v3beta1/{+parent}/entityTypes"
                            }
                          }
                        }
                      }
                    },
                    "experiments": {
                      "methods": {
                        "start": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3beta1/{+name}:start",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.experiments.start",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1StartExperimentRequest"
                          },
                          "description": "",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}:start",
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          }
                        },
                        "stop": {
                          "description": "",
                          "path": "v3beta1/{+name}:stop",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          },
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1StopExperimentRequest"
                          },
                          "id": "dialogflow.projects.locations.agents.environments.experiments.stop",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}:stop",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        },
                        "create": {
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments",
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "location": "path"
                            }
                          },
                          "path": "v3beta1/{+parent}/experiments",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.create",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          }
                        },
                        "patch": {
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "httpMethod": "PATCH",
                          "parameters": {
                            "updateMask": {
                              "location": "query",
                              "type": "string",
                              "format": "google-fieldmask"
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "id": "dialogflow.projects.locations.agents.environments.experiments.patch",
                          "path": "v3beta1/{+name}",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}"
                        },
                        "delete": {
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "id": "dialogflow.projects.locations.agents.environments.experiments.delete",
                          "path": "v3beta1/{+name}",
                          "description": "",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "get": {
                          "path": "v3beta1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$"
                            }
                          },
                          "id": "dialogflow.projects.locations.agents.environments.experiments.get",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "description": "",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          }
                        },
                        "list": {
                          "path": "v3beta1/{+parent}/experiments",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListExperimentsResponse"
                          },
                          "httpMethod": "GET",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            }
                          },
                          "description": "",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.list"
                        }
                      }
                    },
                    "deployments": {
                      "methods": {
                        "list": {
                          "path": "v3beta1/{+parent}/deployments",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/deployments",
                          "id": "dialogflow.projects.locations.agents.environments.deployments.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$"
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListDeploymentsResponse"
                          },
                          "description": ""
                        },
                        "get": {
                          "id": "dialogflow.projects.locations.agents.environments.deployments.get",
                          "path": "v3beta1/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Deployment"
                          },
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/deployments/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/deployments/{deploymentsId}"
                        }
                      }
                    },
                    "continuousTestResults": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/continuousTestResults",
                          "id": "dialogflow.projects.locations.agents.environments.continuousTestResults.list",
                          "description": "",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListContinuousTestResultsResponse"
                          },
                          "httpMethod": "GET",
                          "parameters": {
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "path": "v3beta1/{+parent}/continuousTestResults"
                        }
                      }
                    }
                  }
                },
                "intents": {
                  "methods": {
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v3beta1/{+name}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/intents/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.intents.delete",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents/{intentsId}",
                      "description": ""
                    },
                    "export": {
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents:export",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.intents.export",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ExportIntentsRequest"
                      },
                      "path": "v3beta1/{+parent}/intents:export",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": ""
                    },
                    "create": {
                      "path": "v3beta1/{+parent}/intents",
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agents.intents.create",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
                      }
                    },
                    "import": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ImportIntentsRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "dialogflow.projects.locations.agents.intents.import",
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents:import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+parent}/intents:import",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      }
                    },
                    "patch": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents/{intentsId}",
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/intents/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.intents.patch",
                      "path": "v3beta1/{+name}"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListIntentsResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "intentView": {
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_PARTIAL",
                            "INTENT_VIEW_FULL"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "",
                            "",
                            ""
                          ],
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.intents.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+parent}/intents",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents",
                      "description": ""
                    },
                    "get": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents/{intentsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/intents/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.intents.get",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+name}"
                    }
                  }
                },
                "entityTypes": {
                  "methods": {
                    "create": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      },
                      "description": "",
                      "path": "v3beta1/{+parent}/entityTypes",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes",
                      "id": "dialogflow.projects.locations.agents.entityTypes.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      }
                    },
                    "import": {
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v3beta1/{+parent}/entityTypes:import",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes:import",
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.entityTypes.import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+parent}/entityTypes",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListEntityTypesResponse"
                      },
                      "id": "dialogflow.projects.locations.agents.entityTypes.list",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": ""
                    },
                    "delete": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes/{entityTypesId}",
                      "path": "v3beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/entityTypes/[^/]+$"
                        },
                        "force": {
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agents.entityTypes.delete"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/entityTypes/[^/]+$",
                          "required": true
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes/{entityTypesId}",
                      "id": "dialogflow.projects.locations.agents.entityTypes.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3beta1/{+name}",
                      "description": ""
                    },
                    "patch": {
                      "id": "dialogflow.projects.locations.agents.entityTypes.patch",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes/{entityTypesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      },
                      "path": "v3beta1/{+name}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/entityTypes/[^/]+$"
                        }
                      },
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "export": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesRequest"
                      },
                      "description": "",
                      "path": "v3beta1/{+parent}/entityTypes:export",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "dialogflow.projects.locations.agents.entityTypes.export",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes:export"
                    }
                  }
                },
                "flows": {
                  "methods": {
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}",
                      "path": "v3beta1/{+name}",
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.flows.patch",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Flow"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "PATCH",
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                          "location": "path"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Flow"
                      }
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "path": "v3beta1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Flow"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.flows.get",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}"
                    },
                    "create": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Flow"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows",
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.flows.create",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Flow"
                      },
                      "path": "v3beta1/{+parent}/flows"
                    },
                    "train": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TrainFlowRequest"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}:train",
                      "id": "dialogflow.projects.locations.agents.flows.train",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "path": "v3beta1/{+name}:train"
                    },
                    "export": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.flows.export",
                      "path": "v3beta1/{+name}:export",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ExportFlowRequest"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}:export",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": ""
                    },
                    "getValidationResult": {
                      "httpMethod": "GET",
                      "parameters": {
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/validationResult$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/validationResult",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1FlowValidationResult"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agents.flows.getValidationResult",
                      "path": "v3beta1/{+name}",
                      "description": ""
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListFlowsResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.flows.list",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows",
                      "path": "v3beta1/{+parent}/flows"
                    },
                    "import": {
                      "path": "v3beta1/{+parent}/flows:import",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agents.flows.import",
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows:import",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ImportFlowRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "validate": {
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.flows.validate",
                      "path": "v3beta1/{+name}:validate",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$"
                        }
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}:validate",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ValidateFlowRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1FlowValidationResult"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "force": {
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v3beta1/{+name}",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}",
                      "id": "dialogflow.projects.locations.agents.flows.delete"
                    }
                  },
                  "resources": {
                    "pages": {
                      "methods": {
                        "list": {
                          "path": "v3beta1/{+parent}/pages",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages",
                          "description": "",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "GET",
                          "parameters": {
                            "languageCode": {
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$"
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "id": "dialogflow.projects.locations.agents.flows.pages.list",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListPagesResponse"
                          }
                        },
                        "patch": {
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages/{pagesId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "dialogflow.projects.locations.agents.flows.pages.patch",
                          "httpMethod": "PATCH",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/pages/[^/]+$",
                              "required": true
                            },
                            "updateMask": {
                              "type": "string",
                              "location": "query",
                              "format": "google-fieldmask"
                            },
                            "languageCode": {
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Page"
                          },
                          "path": "v3beta1/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Page"
                          }
                        },
                        "delete": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "DELETE",
                          "parameters": {
                            "force": {
                              "type": "boolean",
                              "location": "query"
                            },
                            "name": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/pages/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages/{pagesId}",
                          "description": "",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "path": "v3beta1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "dialogflow.projects.locations.agents.flows.pages.delete"
                        },
                        "create": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Page"
                          },
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+$",
                              "location": "path",
                              "type": "string"
                            },
                            "languageCode": {
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Page"
                          },
                          "id": "dialogflow.projects.locations.agents.flows.pages.create",
                          "description": "",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages",
                          "path": "v3beta1/{+parent}/pages"
                        },
                        "get": {
                          "description": "",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.flows.pages.get",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Page"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "parameters": {
                            "languageCode": {
                              "location": "query",
                              "type": "string"
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/pages/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/pages/{pagesId}",
                          "path": "v3beta1/{+name}"
                        }
                      }
                    },
                    "versions": {
                      "methods": {
                        "load": {
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "required": true
                            }
                          },
                          "path": "v3beta1/{+name}:load",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions/{versionsId}:load",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1LoadVersionRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.flows.versions.load"
                        },
                        "compareVersions": {
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1CompareVersionsRequest"
                          },
                          "parameterOrder": [
                            "baseVersion"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1CompareVersionsResponse"
                          },
                          "description": "",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "POST",
                          "parameters": {
                            "baseVersion": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/flows/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/flows/{flowsId}/versions/{versionsId}:compareVersions",
                          "id": "dialogflow.projects.locations.agents.flows.versions.compareVersions",
                          "path": "v3beta1/{+baseVersion}:compareVersions"
                        },
                        "patch": {
                          "path": "v3beta1/{+name}",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Version"
                          },
                          "parameterOrder": [
                            "name"
                          ],
[...]
