{
  "discoveryVersion": "v1",
  "basePath": "",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "description": "",
              "flatPath": "v3beta1/projects/{projectsId}/locations",
              "parameters": {
                "extraLocationTypes": {
                  "type": "string",
                  "repeated": true,
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "dialogflow.projects.locations.list",
              "path": "v3beta1/{+name}/locations",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "get": {
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}",
              "id": "dialogflow.projects.locations.get",
              "httpMethod": "GET",
              "path": "v3beta1/{+name}",
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "dialogflow.projects.locations.operations.list",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "description": "",
                  "httpMethod": "GET",
                  "path": "v3beta1/{+name}/operations"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "path": "v3beta1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "dialogflow.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "cancel": {
                  "description": "",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v3beta1/{+name}:cancel"
                }
              }
            },
            "securitySettings": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  },
                  "description": "",
                  "path": "v3beta1/{+parent}/securitySettings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.securitySettings.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  }
                },
                "delete": {
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.securitySettings.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v3beta1/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}"
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  },
                  "httpMethod": "PATCH",
                  "path": "v3beta1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.locations.securitySettings.patch",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.locations.securitySettings.list",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v3beta1/{+parent}/securitySettings",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1ListSecuritySettingsResponse"
                  }
                },
                "get": {
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  },
                  "id": "dialogflow.projects.locations.securitySettings.get",
                  "path": "v3beta1/{+name}",
                  "description": ""
                }
              }
            },
            "agents": {
              "resources": {
                "sessions": {
                  "resources": {
                    "entityTypes": {
                      "methods": {
                        "patch": {
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                              "type": "string"
                            },
                            "updateMask": {
                              "type": "string",
                              "location": "query",
                              "format": "google-fieldmask"
                            }
                          },
                          "httpMethod": "PATCH",
                          "path": "v3beta1/{+name}",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                          "description": "",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.patch",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                          },
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "get": {
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                          "description": "",
                          "path": "v3beta1/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.get",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+/entityTypes/[^/]+$"
                            }
                          }
                        },
                        "list": {
                          "description": "",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.list",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "path": "v3beta1/{+parent}/entityTypes",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListSessionEntityTypesResponse"
                          }
                        },
                        "create": {
                          "httpMethod": "POST",
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.create",
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes",
                          "path": "v3beta1/{+parent}/entityTypes"
                        },
                        "delete": {
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+/entityTypes/[^/]+$"
                            }
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                          "httpMethod": "DELETE",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "path": "v3beta1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.sessions.entityTypes.delete"
                        }
                      }
                    }
                  },
                  "methods": {
                    "matchIntent": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1MatchIntentRequest"
                      },
                      "parameterOrder": [
                        "session"
                      ],
                      "parameters": {
                        "session": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:matchIntent",
                      "id": "dialogflow.projects.locations.agents.sessions.matchIntent",
                      "path": "v3beta1/{+session}:matchIntent",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1MatchIntentResponse"
                      }
                    },
                    "submitAnswerFeedback": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1SubmitAnswerFeedbackRequest"
                      },
                      "id": "dialogflow.projects.locations.agents.sessions.submitAnswerFeedback",
                      "parameterOrder": [
                        "session"
                      ],
                      "parameters": {
                        "session": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "type": "string"
                        }
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:submitAnswerFeedback",
                      "path": "v3beta1/{+session}:submitAnswerFeedback",
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1AnswerFeedback"
                      }
                    },
                    "serverStreamingDetectIntent": {
                      "parameterOrder": [
                        "session"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+session}:serverStreamingDetectIntent",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentResponse"
                      },
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.sessions.serverStreamingDetectIntent",
                      "parameters": {
                        "session": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "type": "string"
                        }
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:serverStreamingDetectIntent",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentRequest"
                      },
                      "httpMethod": "POST"
                    },
                    "detectIntent": {
                      "path": "v3beta1/{+session}:detectIntent",
                      "id": "dialogflow.projects.locations.agents.sessions.detectIntent",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentResponse"
                      },
                      "parameterOrder": [
                        "session"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:detectIntent",
                      "httpMethod": "POST",
                      "description": "",
                      "parameters": {
                        "session": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "fulfillIntent": {
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/sessions/{sessionsId}:fulfillIntent",
                      "id": "dialogflow.projects.locations.agents.sessions.fulfillIntent",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1FulfillIntentRequest"
                      },
                      "path": "v3beta1/{+session}:fulfillIntent",
                      "parameters": {
                        "session": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/sessions/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1FulfillIntentResponse"
                      },
                      "parameterOrder": [
                        "session"
                      ],
                      "httpMethod": "POST"
                    }
                  }
                },
                "playbooks": {
                  "methods": {
                    "import": {
                      "id": "dialogflow.projects.locations.agents.playbooks.import",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ImportPlaybookRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v3beta1/{+parent}/playbooks:import",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks:import",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "description": ""
                    },
                    "list": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks",
                      "id": "dialogflow.projects.locations.agents.playbooks.list",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListPlaybooksResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "path": "v3beta1/{+parent}/playbooks"
                    },
                    "create": {
                      "path": "v3beta1/{+parent}/playbooks",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks",
                      "description": "",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
                      },
                      "id": "dialogflow.projects.locations.agents.playbooks.create",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
                      }
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+$"
                        }
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+name}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.playbooks.delete"
                    },
                    "export": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v3beta1/{+name}:export",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}:export",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.playbooks.export",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ExportPlaybookRequest"
                      }
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+$"
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}",
                      "id": "dialogflow.projects.locations.agents.playbooks.patch",
                      "path": "v3beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
                      }
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agents.playbooks.get",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
                      },
                      "description": "",
                      "path": "v3beta1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}",
                      "httpMethod": "GET"
                    }
                  },
                  "resources": {
                    "versions": {
                      "methods": {
                        "create": {
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookVersion"
                          },
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+$"
                            }
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}/versions",
                          "path": "v3beta1/{+parent}/versions",
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.playbooks.versions.create",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookVersion"
                          }
                        },
                        "list": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListPlaybookVersionsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "dialogflow.projects.locations.agents.playbooks.versions.list",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}/versions",
                          "httpMethod": "GET",
                          "path": "v3beta1/{+parent}/versions",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            }
                          },
                          "description": ""
                        },
                        "delete": {
                          "id": "dialogflow.projects.locations.agents.playbooks.versions.delete",
                          "path": "v3beta1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}/versions/{versionsId}",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+/versions/[^/]+$"
                            }
                          },
                          "description": "",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "DELETE"
                        },
                        "get": {
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}/versions/{versionsId}",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+/versions/[^/]+$",
                              "type": "string"
                            }
                          },
                          "id": "dialogflow.projects.locations.agents.playbooks.versions.get",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookVersion"
                          },
                          "description": "",
                          "path": "v3beta1/{+name}",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "restore": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "POST",
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionResponse"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+/versions/[^/]+$"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionRequest"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "dialogflow.projects.locations.agents.playbooks.versions.restore",
                          "path": "v3beta1/{+name}:restore",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}/versions/{versionsId}:restore"
                        }
                      }
                    },
                    "examples": {
                      "methods": {
                        "create": {
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}/examples",
                          "description": "",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Example"
                          },
                          "id": "dialogflow.projects.locations.agents.playbooks.examples.create",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Example"
                          },
                          "path": "v3beta1/{+parent}/examples"
                        },
                        "get": {
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+/examples/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Example"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.playbooks.examples.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}/examples/{examplesId}",
                          "path": "v3beta1/{+name}"
                        },
                        "delete": {
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "id": "dialogflow.projects.locations.agents.playbooks.examples.delete",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}/examples/{examplesId}",
                          "path": "v3beta1/{+name}",
                          "httpMethod": "DELETE",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+/examples/[^/]+$",
                              "type": "string"
                            }
                          }
                        },
                        "list": {
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.playbooks.examples.list",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}/examples",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            },
                            "languageCode": {
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "path": "v3beta1/{+parent}/examples",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListExamplesResponse"
                          },
                          "description": ""
                        },
                        "patch": {
                          "httpMethod": "PATCH",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}/examples/{examplesId}",
                          "id": "dialogflow.projects.locations.agents.playbooks.examples.patch",
                          "description": "",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+/examples/[^/]+$"
                            },
                            "updateMask": {
                              "location": "query",
                              "type": "string",
                              "format": "google-fieldmask"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Example"
                          },
                          "path": "v3beta1/{+name}",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Example"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        }
                      }
                    }
                  }
                },
                "environments": {
                  "methods": {
                    "runContinuousTest": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1RunContinuousTestRequest"
                      },
                      "path": "v3beta1/{+environment}:runContinuousTest",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "environment"
                      ],
                      "httpMethod": "POST",
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:runContinuousTest",
                      "parameters": {
                        "environment": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.environments.runContinuousTest"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.environments.get",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
                      },
                      "path": "v3beta1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "dialogflow.projects.locations.agents.environments.create",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
                      },
                      "path": "v3beta1/{+parent}/environments",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "description": ""
                    },
                    "list": {
                      "id": "dialogflow.projects.locations.agents.environments.list",
                      "description": "",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListEnvironmentsResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v3beta1/{+parent}/environments",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments"
                    },
                    "delete": {
                      "id": "dialogflow.projects.locations.agents.environments.delete",
                      "path": "v3beta1/{+name}",
                      "description": "",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "DELETE",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "deployFlow": {
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "environment"
                      ],
                      "parameters": {
                        "environment": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.environments.deployFlow",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1DeployFlowRequest"
                      },
                      "path": "v3beta1/{+environment}:deployFlow",
                      "httpMethod": "POST",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:deployFlow"
                    },
                    "patch": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agents.environments.patch",
                      "path": "v3beta1/{+name}",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      }
                    },
                    "lookupEnvironmentHistory": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}:lookupEnvironmentHistory",
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.environments.lookupEnvironmentHistory",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1LookupEnvironmentHistoryResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "path": "v3beta1/{+name}:lookupEnvironmentHistory",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$"
                        }
                      }
                    }
                  },
                  "resources": {
                    "continuousTestResults": {
                      "methods": {
                        "list": {
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/continuousTestResults",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v3beta1/{+parent}/continuousTestResults",
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.environments.continuousTestResults.list",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListContinuousTestResultsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "type": "string"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "sessions": {
                      "methods": {
                        "detectIntent": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentResponse"
                          },
                          "parameterOrder": [
                            "session"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.sessions.detectIntent",
                          "parameters": {
                            "session": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "description": "",
                          "httpMethod": "POST",
                          "path": "v3beta1/{+session}:detectIntent",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:detectIntent",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentRequest"
                          }
                        },
                        "fulfillIntent": {
                          "path": "v3beta1/{+session}:fulfillIntent",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillIntentResponse"
                          },
                          "httpMethod": "POST",
                          "parameters": {
                            "session": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "session"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.sessions.fulfillIntent",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:fulfillIntent",
                          "description": "",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillIntentRequest"
                          }
                        },
                        "serverStreamingDetectIntent": {
                          "path": "v3beta1/{+session}:serverStreamingDetectIntent",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentResponse"
                          },
                          "parameters": {
                            "session": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "session"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentRequest"
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:serverStreamingDetectIntent",
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.environments.sessions.serverStreamingDetectIntent"
                        },
                        "matchIntent": {
                          "parameters": {
                            "session": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1MatchIntentResponse"
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1MatchIntentRequest"
                          },
                          "httpMethod": "POST",
                          "id": "dialogflow.projects.locations.agents.environments.sessions.matchIntent",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "parameterOrder": [
                            "session"
                          ],
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:matchIntent",
                          "path": "v3beta1/{+session}:matchIntent"
                        }
                      },
                      "resources": {
                        "entityTypes": {
                          "methods": {
                            "patch": {
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.patch",
                              "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "request": {
                                "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                              },
                              "description": "",
                              "parameterOrder": [
                                "name"
                              ],
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$"
                                },
                                "updateMask": {
                                  "type": "string",
                                  "format": "google-fieldmask",
                                  "location": "query"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "path": "v3beta1/{+name}",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                              },
                              "httpMethod": "PATCH"
                            },
                            "get": {
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                              },
                              "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "parameterOrder": [
                                "name"
                              ],
                              "httpMethod": "GET",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "",
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.get",
                              "path": "v3beta1/{+name}",
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "type": "string"
                                }
                              }
                            },
                            "delete": {
                              "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "path": "v3beta1/{+name}",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$"
                                }
                              },
                              "description": "",
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.delete",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "httpMethod": "DELETE",
                              "parameterOrder": [
                                "name"
                              ]
                            },
                            "create": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "httpMethod": "POST",
                              "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes",
                              "request": {
                                "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                              },
                              "parameters": {
                                "parent": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$"
                                }
                              },
                              "path": "v3beta1/{+parent}/entityTypes",
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.create",
                              "description": "",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
                              },
                              "parameterOrder": [
                                "parent"
                              ]
                            },
                            "list": {
                              "path": "v3beta1/{+parent}/entityTypes",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3beta1ListSessionEntityTypesResponse"
                              },
                              "parameterOrder": [
                                "parent"
                              ],
                              "parameters": {
                                "pageSize": {
                                  "format": "int32",
                                  "type": "integer",
                                  "location": "query"
                                },
                                "parent": {
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                                  "location": "path",
                                  "required": true
                                },
                                "pageToken": {
                                  "location": "query",
                                  "type": "string"
                                }
                              },
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.list",
                              "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes",
                              "description": "",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "httpMethod": "GET"
                            }
                          }
                        }
                      }
                    },
                    "experiments": {
                      "methods": {
                        "list": {
                          "path": "v3beta1/{+parent}/experiments",
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$"
                            },
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            }
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "GET",
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.list",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListExperimentsResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "stop": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "description": "",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}:stop",
                          "path": "v3beta1/{+name}:stop",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.stop",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1StopExperimentRequest"
                          },
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "get": {
                          "path": "v3beta1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.get",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          }
                        },
                        "delete": {
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.experiments.delete",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "httpMethod": "DELETE",
                          "path": "v3beta1/{+name}",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "type": "string"
                            }
                          }
                        },
                        "create": {
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.experiments.create",
                          "path": "v3beta1/{+parent}/experiments",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          },
                          "description": "",
                          "httpMethod": "POST"
                        },
                        "patch": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          },
                          "path": "v3beta1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.patch",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          },
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "parameters": {
                            "updateMask": {
                              "location": "query",
                              "type": "string",
                              "format": "google-fieldmask"
                            },
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "PATCH"
                        },
                        "start": {
                          "httpMethod": "POST",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}:start",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.experiments.start",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
                          },
                          "path": "v3beta1/{+name}:start",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1StartExperimentRequest"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": ""
                        }
                      }
                    },
                    "deployments": {
                      "methods": {
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListDeploymentsResponse"
                          },
                          "id": "dialogflow.projects.locations.agents.environments.deployments.list",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/deployments",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "",
                          "path": "v3beta1/{+parent}/deployments",
                          "parameters": {
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          }
                        },
                        "get": {
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1Deployment"
                          },
                          "id": "dialogflow.projects.locations.agents.environments.deployments.get",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/deployments/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/deployments/{deploymentsId}",
                          "path": "v3beta1/{+name}"
                        }
                      }
                    }
                  }
                },
                "entityTypes": {
                  "methods": {
                    "create": {
                      "parameters": {
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.entityTypes.create",
                      "path": "v3beta1/{+parent}/entityTypes",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.entityTypes.delete",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes/{entityTypesId}",
                      "httpMethod": "DELETE",
                      "description": "",
                      "parameters": {
[...]
