{
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "title": "Dialogflow API",
  "basePath": "",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "name": "dialogflow",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "canonicalName": "Dialogflow",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "path": "v3/{+name}/locations",
              "id": "dialogflow.projects.locations.list",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v3/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": ""
            },
            "get": {
              "id": "dialogflow.projects.locations.get",
              "description": "",
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v3/{+name}",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            }
          },
          "resources": {
            "agents": {
              "methods": {
                "validate": {
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:validate",
                  "path": "v3/{+name}:validate",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3AgentValidationResult"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3ValidateAgentRequest"
                  },
                  "id": "dialogflow.projects.locations.agents.validate"
                },
                "restore": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3RestoreAgentRequest"
                  },
                  "path": "v3/{+name}:restore",
                  "description": "",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.agents.restore",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:restore",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "create": {
                  "id": "dialogflow.projects.locations.agents.create",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3Agent"
                  },
                  "path": "v3/{+parent}/agents",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3Agent"
                  }
                },
                "export": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3ExportAgentRequest"
                  },
                  "path": "v3/{+name}:export",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "dialogflow.projects.locations.agents.export",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:export"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3Agent"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "path": "v3/{+name}",
                  "id": "dialogflow.projects.locations.agents.patch",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3Agent"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "list": {
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3ListAgentsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.locations.agents.list",
                  "path": "v3/{+parent}/agents"
                },
                "getGenerativeSettings": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generativeSettings$",
                      "required": true
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3GenerativeSettings"
                  },
                  "path": "v3/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.agents.getGenerativeSettings",
                  "description": "",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generativeSettings",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v3/{+name}",
                  "id": "dialogflow.projects.locations.agents.delete",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                    }
                  }
                },
                "updateGenerativeSettings": {
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generativeSettings",
                  "path": "v3/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generativeSettings$"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3GenerativeSettings"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3GenerativeSettings"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.agents.updateGenerativeSettings"
                },
                "getValidationResult": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/validationResult$"
                    }
                  },
                  "description": "",
                  "path": "v3/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3AgentValidationResult"
                  },
                  "id": "dialogflow.projects.locations.agents.getValidationResult",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/validationResult"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.agents.get",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3Agent"
                  },
                  "path": "v3/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "required": true
                    }
                  }
                }
              },
              "resources": {
                "generators": {
                  "methods": {
                    "patch": {
                      "description": "",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators/{generatorsId}",
                      "id": "dialogflow.projects.locations.agents.generators.patch",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Generator"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Generator"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "create": {
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Generator"
                      },
                      "id": "dialogflow.projects.locations.agents.generators.create",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Generator"
                      },
                      "path": "v3/{+parent}/generators",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "path": "v3/{+parent}/generators",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.generators.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListGeneratorsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "delete": {
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agents.generators.delete",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators/{generatorsId}",
                      "description": "",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "force": {
                          "type": "boolean",
                          "location": "query"
                        }
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Generator"
                      },
                      "id": "dialogflow.projects.locations.agents.generators.get",
                      "path": "v3/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators/{generatorsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$"
                        }
                      }
                    }
                  }
                },
                "webhooks": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.webhooks.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks",
                      "path": "v3/{+parent}/webhooks",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListWebhooksResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": ""
                    },
                    "get": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks/{webhooksId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.webhooks.get"
                    },
                    "patch": {
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks/{webhooksId}",
                      "id": "dialogflow.projects.locations.agents.webhooks.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3/{+name}",
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "delete": {
                      "path": "v3/{+name}",
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/webhooks/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "force": {
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.webhooks.delete",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks/{webhooksId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      }
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/webhooks",
                      "id": "dialogflow.projects.locations.agents.webhooks.create",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Webhook"
                      },
                      "description": "",
                      "path": "v3/{+parent}/webhooks"
                    }
                  }
                },
                "entityTypes": {
                  "methods": {
                    "export": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3ExportEntityTypesRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v3/{+parent}/entityTypes:export",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.entityTypes.export",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes:export",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "create": {
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3EntityType"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes",
                      "id": "dialogflow.projects.locations.agents.entityTypes.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v3/{+parent}/entityTypes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3EntityType"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        }
                      }
                    },
                    "import": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes:import",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "description": "",
                      "path": "v3/{+parent}/entityTypes:import",
                      "id": "dialogflow.projects.locations.agents.entityTypes.import",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3ImportEntityTypesRequest"
                      }
                    },
                    "delete": {
                      "id": "dialogflow.projects.locations.agents.entityTypes.delete",
                      "path": "v3/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "DELETE",
                      "parameters": {
                        "force": {
                          "type": "boolean",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/entityTypes/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes/{entityTypesId}",
                      "description": ""
                    },
                    "patch": {
                      "id": "dialogflow.projects.locations.agents.entityTypes.patch",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3EntityType"
                      },
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/entityTypes/[^/]+$",
                          "required": true
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes/{entityTypesId}",
                      "path": "v3/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3EntityType"
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3EntityType"
                      },
                      "description": "",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/entityTypes/[^/]+$",
                          "required": true
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes/{entityTypesId}",
                      "path": "v3/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.entityTypes.get"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListEntityTypesResponse"
                      },
                      "path": "v3/{+parent}/entityTypes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.entityTypes.list",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": ""
                    }
                  }
                },
                "intents": {
                  "methods": {
                    "delete": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "id": "dialogflow.projects.locations.agents.intents.delete",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/intents/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "description": "",
                      "path": "v3/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents/{intentsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Intent"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents",
                      "path": "v3/{+parent}/intents",
                      "id": "dialogflow.projects.locations.agents.intents.create",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Intent"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "import": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+parent}/intents:import",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3ImportIntentsRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.locations.agents.intents.import",
                      "description": "",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents:import"
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3Intent"
                      },
                      "path": "v3/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Intent"
                      },
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/intents/[^/]+$"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents/{intentsId}",
                      "id": "dialogflow.projects.locations.agents.intents.patch",
                      "description": ""
                    },
                    "export": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "v3/{+parent}/intents:export",
                      "id": "dialogflow.projects.locations.agents.intents.export",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3ExportIntentsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents:export",
                      "description": ""
                    },
                    "list": {
                      "id": "dialogflow.projects.locations.agents.intents.list",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+parent}/intents",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListIntentsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "intentView": {
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_PARTIAL",
                            "INTENT_VIEW_FULL"
                          ],
                          "enumDescriptions": [
                            "",
                            "",
                            ""
                          ]
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3Intent"
                      },
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3/{+name}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/intents/[^/]+$"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents/{intentsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.agents.intents.get"
                    }
                  }
                },
                "transitionRouteGroups": {
                  "methods": {
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                      },
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/transitionRouteGroups/[^/]+$",
                          "type": "string"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                      },
                      "description": "",
                      "path": "v3/{+name}"
                    },
                    "create": {
                      "path": "v3/{+parent}/transitionRouteGroups",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                      },
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.create",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                      }
                    },
                    "get": {
                      "description": "",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/transitionRouteGroups/[^/]+$"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                      "path": "v3/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.get",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3/{+parent}/transitionRouteGroups",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups",
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.list",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListTransitionRouteGroupsResponse"
                      },
                      "description": ""
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/transitionRouteGroups/[^/]+$",
                          "type": "string"
                        },
                        "force": {
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.delete",
                      "description": "",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3/{+name}"
                    }
                  }
                },
                "testCases": {
                  "resources": {
                    "results": {
                      "methods": {
                        "get": {
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}/results/{resultsId}",
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
                          },
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+/results/[^/]+$",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+name}",
                          "id": "dialogflow.projects.locations.agents.testCases.results.get"
                        },
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v3/{+parent}/results",
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListTestCaseResultsResponse"
                          },
                          "id": "dialogflow.projects.locations.agents.testCases.results.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}/results",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "filter": {
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$"
                            }
                          }
                        }
                      }
                    }
                  },
                  "methods": {
                    "calculateCoverage": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3CalculateCoverageResponse"
                      },
                      "path": "v3/{+agent}/testCases:calculateCoverage",
                      "httpMethod": "GET",
                      "parameters": {
                        "type": {
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            ""
                          ],
                          "type": "string",
                          "location": "query",
                          "enum": [
                            "COVERAGE_TYPE_UNSPECIFIED",
                            "INTENT",
                            "PAGE_TRANSITION",
                            "TRANSITION_ROUTE_GROUP"
                          ]
                        },
                        "agent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "agent"
                      ],
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.testCases.calculateCoverage",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:calculateCoverage",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "batchDelete": {
                      "id": "dialogflow.projects.locations.agents.testCases.batchDelete",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:batchDelete",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "path": "v3/{+parent}/testCases:batchDelete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3BatchDeleteTestCasesRequest"
                      },
                      "description": "",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      }
                    },
                    "patch": {
                      "path": "v3/{+name}",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      },
                      "id": "dialogflow.projects.locations.agents.testCases.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      }
                    },
                    "import": {
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3ImportTestCasesRequest"
                      },
                      "id": "dialogflow.projects.locations.agents.testCases.import",
                      "path": "v3/{+parent}/testCases:import",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3ListTestCasesResponse"
                      },
                      "id": "dialogflow.projects.locations.agents.testCases.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        },
                        "view": {
                          "location": "query",
                          "enum": [
                            "TEST_CASE_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "enumDescriptions": [
                            "",
                            "",
                            ""
                          ],
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "path": "v3/{+parent}/testCases",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}",
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v3/{+name}",
                      "id": "dialogflow.projects.locations.agents.testCases.get",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      }
                    },
                    "batchRun": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:batchRun",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "dialogflow.projects.locations.agents.testCases.batchRun",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3BatchRunTestCasesRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v3/{+parent}/testCases:batchRun"
                    },
                    "export": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v3/{+parent}/testCases:export",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3ExportTestCasesRequest"
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:export",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "",
                      "id": "dialogflow.projects.locations.agents.testCases.export"
                    },
                    "run": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3RunTestCaseRequest"
                      },
                      "id": "dialogflow.projects.locations.agents.testCases.run",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}:run",
                      "description": "",
                      "path": "v3/{+name}:run"
                    },
                    "create": {
                      "path": "v3/{+parent}/testCases",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3TestCase"
                      },
                      "id": "dialogflow.projects.locations.agents.testCases.create",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases",
                      "description": ""
                    }
                  }
                },
                "environments": {
                  "resources": {
                    "sessions": {
                      "methods": {
                        "detectIntent": {
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3DetectIntentRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3DetectIntentResponse"
                          },
                          "description": "",
                          "httpMethod": "POST",
                          "parameters": {
                            "session": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "path": "v3/{+session}:detectIntent",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.agents.environments.sessions.detectIntent",
                          "parameterOrder": [
                            "session"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:detectIntent"
                        },
                        "matchIntent": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3MatchIntentRequest"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:matchIntent",
                          "path": "v3/{+session}:matchIntent",
                          "id": "dialogflow.projects.locations.agents.environments.sessions.matchIntent",
                          "httpMethod": "POST",
                          "parameters": {
                            "session": {
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "location": "path"
                            }
                          },
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3MatchIntentResponse"
                          },
                          "parameterOrder": [
                            "session"
                          ]
                        },
                        "serverStreamingDetectIntent": {
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3DetectIntentResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+session}:serverStreamingDetectIntent",
                          "description": "",
                          "id": "dialogflow.projects.locations.agents.environments.sessions.serverStreamingDetectIntent",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3DetectIntentRequest"
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:serverStreamingDetectIntent",
                          "httpMethod": "POST",
                          "parameters": {
                            "session": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "session"
                          ]
                        },
                        "fulfillIntent": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "path": "v3/{+session}:fulfillIntent",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3FulfillIntentResponse"
                          },
                          "description": "",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3FulfillIntentRequest"
                          },
                          "httpMethod": "POST",
                          "parameters": {
                            "session": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "id": "dialogflow.projects.locations.agents.environments.sessions.fulfillIntent",
                          "parameterOrder": [
                            "session"
                          ],
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}:fulfillIntent"
                        }
                      },
                      "resources": {
                        "entityTypes": {
                          "methods": {
                            "patch": {
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "request": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "description": "",
                              "parameterOrder": [
                                "name"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.patch",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "path": "v3/{+name}",
                              "httpMethod": "PATCH",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "location": "path",
                                  "required": true
                                },
                                "updateMask": {
                                  "type": "string",
                                  "format": "google-fieldmask",
                                  "location": "query"
                                }
                              }
                            },
                            "create": {
                              "description": "",
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes",
                              "httpMethod": "POST",
                              "parameters": {
                                "parent": {
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                                  "type": "string",
                                  "required": true
                                }
                              },
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameterOrder": [
                                "parent"
                              ],
                              "request": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.create",
                              "path": "v3/{+parent}/entityTypes"
                            },
                            "delete": {
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.delete",
                              "path": "v3/{+name}",
                              "httpMethod": "DELETE",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$"
                                }
                              },
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "description": "",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}"
                            },
                            "get": {
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "description": "",
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.get",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "httpMethod": "GET",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "required": true,
                                  "location": "path"
                                }
                              },
                              "path": "v3/{+name}"
                            },
                            "list": {
                              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/sessions/{sessionsId}/entityTypes",
                              "description": "",
                              "response": {
                                "$ref": "GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse"
                              },
                              "id": "dialogflow.projects.locations.agents.environments.sessions.entityTypes.list",
                              "path": "v3/{+parent}/entityTypes",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameterOrder": [
                                "parent"
                              ],
                              "httpMethod": "GET",
                              "parameters": {
                                "pageSize": {
                                  "location": "query",
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "pageToken": {
                                  "location": "query",
                                  "type": "string"
                                },
                                "parent": {
                                  "type": "string",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/sessions/[^/]+$",
                                  "required": true
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "experiments": {
                      "methods": {
                        "stop": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v3/{+name}:stop",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}:stop",
                          "description": "",
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "id": "dialogflow.projects.locations.agents.environments.experiments.stop",
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3StopExperimentRequest"
                          }
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "GET",
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$"
                            }
                          },
                          "path": "v3/{+parent}/experiments",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3ListExperimentsResponse"
                          },
                          "id": "dialogflow.projects.locations.agents.environments.experiments.list",
                          "description": "",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments"
                        },
                        "create": {
                          "path": "v3/{+parent}/experiments",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "id": "dialogflow.projects.locations.agents.environments.experiments.create",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments",
                          "description": "",
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "delete": {
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "description": "",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "required": true
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/environments/{environmentsId}/experiments/{experimentsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v3/{+name}",
                          "id": "dialogflow.projects.locations.agents.environments.experiments.delete"
                        },
                        "get": {
                          "path": "v3/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3Experiment"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/environments/[^/]+/experiments/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "id": "dialogflow.projects.locations.agents.environments.experiments.get",
[...]
