{
  "discoveryVersion": "v1",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "schemas": {
    "GoogleCloudDialogflowCxV3beta1TestRunDifference": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ],
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestRunDifference"
    },
    "GoogleCloudDialogflowCxV3DeploymentResult": {
      "properties": {
        "experiment": {
          "type": "string"
        },
        "deploymentTestResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3DeploymentResult",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelect": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageListSelect",
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageListSelectItem"
          }
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PlaybookOutput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PlaybookOutput",
      "properties": {
        "executionSummary": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponse",
      "type": "object",
      "properties": {
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources"
        },
        "entityTypes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2ImportDocumentsResponse": {
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2ImportDocumentsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse": {
      "properties": {
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityType"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse"
    },
    "GoogleCloudDialogflowCxV3SynthesizeSpeechConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3SynthesizeSpeechConfig",
      "properties": {
        "effectsProfileId": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "voice": {
          "$ref": "GoogleCloudDialogflowCxV3VoiceSelectionParams"
        },
        "pitch": {
          "type": "number",
          "format": "double"
        },
        "speakingRate": {
          "type": "number",
          "format": "double"
        },
        "volumeGainDb": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FormParameter": {
      "type": "object",
      "properties": {
        "isList": {
          "type": "boolean"
        },
        "defaultValue": {
          "type": "any"
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
        },
        "redact": {
          "type": "boolean"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "entityType": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FormParameter"
    },
    "GoogleCloudDialogflowCxV3RolloutConfigRolloutStep": {
      "properties": {
        "minDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "trafficPercent": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowCxV3RolloutConfigRolloutStep",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse",
      "type": "object",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "mergeBehavior": {
          "type": "string",
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3TextInput": {
      "id": "GoogleCloudDialogflowCxV3TextInput",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DetectIntentRequest": {
      "id": "GoogleCloudDialogflowCxV3DetectIntentRequest",
      "type": "object",
      "properties": {
        "queryInput": {
          "$ref": "GoogleCloudDialogflowCxV3QueryInput"
        },
        "responseView": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DETECT_INTENT_RESPONSE_VIEW_UNSPECIFIED",
            "DETECT_INTENT_RESPONSE_VIEW_FULL",
            "DETECT_INTENT_RESPONSE_VIEW_BASIC",
            "DETECT_INTENT_RESPONSE_VIEW_DEFAULT"
          ]
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3OutputAudioConfig"
        },
        "queryParams": {
          "$ref": "GoogleCloudDialogflowCxV3QueryParameters"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestResponse": {
      "type": "object",
      "properties": {
        "continuousTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3ContinuousTestResult"
        }
      },
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageImage": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageImage",
      "properties": {
        "accessibilityText": {
          "type": "string"
        },
        "imageUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig": {
      "type": "object",
      "properties": {
        "enablePredeploymentRun": {
          "type": "boolean"
        },
        "enableContinuousRun": {
          "type": "boolean"
        },
        "testCases": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig"
    },
    "GoogleCloudDialogflowCxV3Form": {
      "id": "GoogleCloudDialogflowCxV3Form",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FormParameter"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue",
      "properties": {
        "secretVersion": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Page": {
      "id": "GoogleCloudDialogflowCxV3Page",
      "type": "object",
      "properties": {
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "name": {
          "type": "string"
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "description": {
          "type": "string"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3Form"
        },
        "transitionRouteGroups": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse",
      "properties": {
        "generatorSuggestionAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SmartReplyAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SmartReplyAnswer",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "reply": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ServiceLatency": {
      "id": "GoogleCloudDialogflowV2beta1ServiceLatency",
      "type": "object",
      "properties": {
        "internalServiceLatencies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3RestoreToolVersionRequest": {
      "id": "GoogleCloudDialogflowCxV3RestoreToolVersionRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase",
      "type": "object",
      "properties": {
        "condition": {
          "type": "string"
        },
        "caseContent": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListChangelogsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ListChangelogsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "changelogs": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Changelog"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AudioInput": {
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3InputAudioConfig"
        },
        "audio": {
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AudioInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3VariantsHistory": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3VariantsHistory",
      "properties": {
        "versionVariants": {
          "$ref": "GoogleCloudDialogflowCxV3VersionVariants"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "title": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction": {
      "properties": {
        "dial": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial"
        },
        "shareLocation": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation"
        },
        "text": {
          "type": "string"
        },
        "postbackData": {
          "type": "string"
        },
        "openUrl": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton",
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ValidateFlowRequest": {
      "properties": {
        "languageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ValidateFlowRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResourceName": {
      "id": "GoogleCloudDialogflowCxV3ResourceName",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettings": {
      "properties": {
        "loggingSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings"
        },
        "speechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings"
        },
        "audioExportGcsDestination": {
          "$ref": "GoogleCloudDialogflowCxV3beta1GcsDestination"
        },
        "dtmfSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Agent": {
      "properties": {
        "avatarUri": {
          "type": "string"
        },
        "enableStackdriverLogging": {
          "type": "boolean",
          "deprecated": true
        },
        "description": {
          "type": "string"
        },
        "clientCertificateSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentClientCertificateSettings"
        },
        "textToSpeechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3TextToSpeechSettings"
        },
        "locked": {
          "type": "boolean"
        },
        "genAppBuilderSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentGenAppBuilderSettings"
        },
        "defaultLanguageCode": {
          "type": "string"
        },
        "startPlaybook": {
          "type": "string"
        },
        "startFlow": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean"
        },
        "personalizationSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentPersonalizationSettings"
        },
        "name": {
          "type": "string"
        },
        "securitySettings": {
          "type": "string"
        },
        "timeZone": {
          "type": "string"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean"
        },
        "answerFeedbackSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentAnswerFeedbackSettings"
        },
        "enableSpellCorrection": {
          "type": "boolean"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "supportedLanguageCodes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "speechToTextSettings": {
          "$ref": "GoogleCloudDialogflowCxV3SpeechToTextSettings"
        },
        "enableMultiLanguageTraining": {
          "type": "boolean"
        },
        "gitIntegrationSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentGitIntegrationSettings"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Agent"
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest": {
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2EncryptionSpec"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest"
    },
    "GoogleCloudDialogflowV2beta1EntityTypeEntity": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
    },
    "GoogleCloudDialogflowCxV3AgentUtterance": {
      "id": "GoogleCloudDialogflowCxV3AgentUtterance",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3BatchDeleteTestCasesRequest": {
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3BatchDeleteTestCasesRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolAuthenticationApiKeyConfig": {
      "properties": {
        "keyName": {
          "type": "string"
        },
        "requestLocation": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ],
          "type": "string"
        },
        "apiKey": {
          "type": "string"
        },
        "secretVersionForApiKey": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolAuthenticationApiKeyConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1QueryInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1QueryInput",
      "properties": {
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AudioInput"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DtmfInput"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResult"
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EventInput"
        },
        "languageCode": {
          "type": "string"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1IntentInput"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TextInput"
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrase": {
      "type": "object",
      "properties": {
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
          },
          "type": "array"
        },
        "id": {
          "readOnly": true,
          "type": "string"
        },
        "repeatCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrase"
    },
    "GoogleCloudDialogflowV2beta1IntentParameter": {
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "entityTypeDisplayName": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string"
        },
        "prompts": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mandatory": {
          "type": "boolean"
        },
        "isList": {
          "type": "boolean"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentParameter",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestRunDifference": {
      "properties": {
        "description": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3TestRunDifference",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportIntentsRequest": {
      "id": "GoogleCloudDialogflowCxV3ExportIntentsRequest",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataFormat": {
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON",
            "CSV"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "intentsUri": {
          "type": "string"
        },
        "intentsContentInline": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1MessageAnnotation": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1MessageAnnotation",
      "properties": {
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart"
          },
          "type": "array"
        },
        "containEntities": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Flow": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "nluSettings": {
          "$ref": "GoogleCloudDialogflowCxV3NluSettings"
        },
        "multiLanguageSettings": {
          "$ref": "GoogleCloudDialogflowCxV3FlowMultiLanguageSettings"
        },
        "inputParameterDefinitions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ParameterDefinition"
          },
          "type": "array"
        },
        "description": {
          "type": "string"
        },
        "outputParameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ParameterDefinition"
          }
        },
        "locked": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          },
          "type": "array"
        },
        "transitionRouteGroups": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Flow",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency": {
      "type": "object",
      "properties": {
        "step": {
          "type": "string"
        },
        "latencyMs": {
          "format": "float",
          "type": "number"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency"
    },
    "GoogleCloudDialogflowCxV3RolloutConfig": {
      "id": "GoogleCloudDialogflowCxV3RolloutConfig",
      "properties": {
        "failureCondition": {
          "type": "string"
        },
        "rolloutCondition": {
          "type": "string"
        },
        "rolloutSteps": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3RolloutConfigRolloutStep"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExperimentResultConfidenceInterval": {
      "id": "GoogleCloudDialogflowCxV3ExperimentResultConfidenceInterval",
      "type": "object",
      "properties": {
        "confidenceLevel": {
          "type": "number",
          "format": "double"
        },
        "ratio": {
          "format": "double",
          "type": "number"
        },
        "upperBound": {
          "type": "number",
          "format": "double"
        },
        "lowerBound": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCases": {
      "properties": {
        "cases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCard": {
      "type": "object",
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "columnProperties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
          }
        },
        "subtitle": {
          "type": "string"
        },
        "rows": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCard"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent": {
      "properties": {
        "title": {
          "type": "string"
        },
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          }
        },
        "media": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard",
      "type": "object",
      "properties": {
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          }
        },
        "title": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        },
        "formattedText": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        }
      }
    },
    "GoogleCloudDialogflowV2ExportOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ExportOperationMetadata",
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2GcsDestination"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FlowInvocation": {
      "id": "GoogleCloudDialogflowCxV3FlowInvocation",
      "type": "object",
      "properties": {
        "flowState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ]
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "flow": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2GeneratorSuggestion": {
      "id": "GoogleCloudDialogflowV2GeneratorSuggestion",
      "type": "object",
      "properties": {
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestion"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2FreeFormSuggestion"
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2SummarySuggestion"
        },
        "toolCallInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestionResult": {
      "id": "GoogleCloudDialogflowV2SuggestionResult",
      "properties": {
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestArticlesResponse"
        },
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
        },
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse": {
      "properties": {
        "textToSpeech": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        },
        "displayText": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SessionEntityType": {
      "id": "GoogleCloudDialogflowV2SessionEntityType",
      "type": "object",
      "properties": {
        "entityOverrideMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ]
        },
        "name": {
          "type": "string"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListTransitionRouteGroupsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListTransitionRouteGroupsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "transitionRouteGroups": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroup"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1FreeFormSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1FreeFormSuggestion",
      "properties": {
        "response": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1SessionInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1SessionInfo",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "session": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3StartExperimentRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3StartExperimentRequest",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3SubmitAnswerFeedbackRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string"
        },
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowCxV3AnswerFeedback"
        },
        "responseId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3SubmitAnswerFeedbackRequest"
    },
    "GoogleCloudDialogflowCxV3beta1EventHandler": {
      "properties": {
        "event": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "targetFlow": {
          "type": "string"
        },
        "targetPlaybook": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1EventHandler"
    },
    "GoogleCloudDialogflowCxV3PlaybookStep": {
      "properties": {
        "steps": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PlaybookStep"
          },
          "type": "array"
        },
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3PlaybookStep",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Message": {
      "id": "GoogleCloudDialogflowV2beta1Message",
      "properties": {
        "sentimentAnalysis": {
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "messageAnnotation": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1MessageAnnotation"
        },
        "languageCode": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "participant": {
          "readOnly": true,
          "type": "string"
        },
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "participantRole": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "responseMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessage"
          }
        },
        "content": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata": {
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Tool": {
      "id": "GoogleCloudDialogflowCxV3Tool",
      "properties": {
        "dataStoreSpec": {
          "$ref": "GoogleCloudDialogflowCxV3ToolDataStoreTool"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "openApiSpec": {
          "$ref": "GoogleCloudDialogflowCxV3ToolOpenApiTool"
        },
        "toolType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "TOOL_TYPE_UNSPECIFIED",
            "CUSTOMIZED_TOOL",
            "BUILTIN_TOOL"
          ]
        },
        "functionSpec": {
          "$ref": "GoogleCloudDialogflowCxV3ToolFunctionTool"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3MatchIntentRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3MatchIntentRequest",
      "properties": {
        "queryParams": {
          "$ref": "GoogleCloudDialogflowCxV3QueryParameters"
        },
        "persistParameterChanges": {
          "type": "boolean"
        },
        "queryInput": {
          "$ref": "GoogleCloudDialogflowCxV3QueryInput"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction"
    },
    "GoogleCloudDialogflowCxV3SafetySettingsRaiSettings": {
      "properties": {
        "categoryFilters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3SafetySettingsRaiSettingsCategoryFilter"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3SafetySettingsRaiSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio": {
      "properties": {
        "audioUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentParameter": {
      "properties": {
        "name": {
          "type": "string"
        },
        "mandatory": {
          "type": "boolean"
        },
        "value": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "prompts": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "entityTypeDisplayName": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentParameter"
    },
    "GoogleCloudDialogflowCxV3ListTestCasesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ListTestCasesResponse",
      "properties": {
        "testCases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCase"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolCallResultError": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolCallResultError",
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext"
    },
    "GoogleCloudDialogflowCxV3AgentAnswerFeedbackSettings": {
      "properties": {
        "enableAnswerFeedback": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AgentAnswerFeedbackSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestion"
        },
        "sourceGenerator": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer",
      "properties": {
        "generativeSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "eventSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource"
        },
        "answerText": {
          "type": "string"
        },
        "faqSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
        },
        "playbookSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EntityType": {
      "id": "GoogleCloudDialogflowV2beta1EntityType",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ]
        },
        "displayName": {
          "type": "string"
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        },
        "autoExpansionMode": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestions": {
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestions",
      "type": "object",
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestion"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3CalculateCoverageResponse": {
      "properties": {
        "routeGroupCoverage": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverage"
        },
        "agent": {
          "type": "string"
        },
        "transitionCoverage": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionCoverage"
        },
        "intentCoverage": {
          "$ref": "GoogleCloudDialogflowCxV3IntentCoverage"
        }
      },
      "id": "GoogleCloudDialogflowCxV3CalculateCoverageResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "contentUrl": {
          "type": "string"
        },
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageText",
      "properties": {
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig",
      "properties": {
        "webhookOverrides": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Webhook"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV3alpha1ConversationSignals": {
      "type": "object",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowV3alpha1TurnSignals"
        }
      },
      "id": "GoogleCloudDialogflowV3alpha1ConversationSignals"
    },
    "GoogleCloudDialogflowCxV3DeployFlowMetadata": {
      "type": "object",
      "properties": {
        "testErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3DeployFlowMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService": {
      "properties": {
        "parameterMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "username": {
          "deprecated": true,
          "type": "string"
        },
        "secretVersionForUsernamePassword": {
          "type": "string"
        },
        "serviceAgentAuth": {
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "NONE",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "webhookType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "WEBHOOK_TYPE_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ]
        },
        "serviceAccountAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig"
        },
        "secretVersionsForRequestHeaders": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue"
          },
          "type": "object"
        },
        "requestHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "requestBody": {
          "type": "string"
        },
        "password": {
          "type": "string",
          "deprecated": true
        },
        "allowedCaCerts": {
          "type": "array",
          "items": {
            "format": "byte",
            "type": "string"
          }
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceOAuthConfig"
        },
        "httpMethod": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "POST",
            "GET",
            "HEAD",
            "PUT",
            "DELETE",
            "PATCH",
            "OPTIONS"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
    },
    "GoogleCloudDialogflowCxV3FlowMultiLanguageSettings": {
      "properties": {
        "supportedResponseLanguageCodes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enableMultiLanguageDetection": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FlowMultiLanguageSettings"
    },
    "GoogleCloudDialogflowCxV3ToolDataStoreTool": {
      "id": "GoogleCloudDialogflowCxV3ToolDataStoreTool",
      "properties": {
        "dataStoreConnections": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection"
          },
          "type": "array"
        },
        "fallbackPrompt": {
          "$ref": "GoogleCloudDialogflowCxV3ToolDataStoreToolFallbackPrompt"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnection": {
      "properties": {
        "dataStore": {
          "type": "string"
        },
        "documentProcessingMode": {
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "dataStoreType": {
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "STRUCTURED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnection"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse": {
      "properties": {
        "duplicateCheckResult": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult",
          "readOnly": true
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "responseText": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply",
      "type": "object",
      "properties": {
        "postbackData": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolCall": {
      "id": "GoogleCloudDialogflowV2ToolCall",
      "properties": {
        "cesToolset": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "action": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "toolDisplayName": {
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ],
          "readOnly": true,
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExperimentDefinition": {
      "properties": {
        "versionVariants": {
          "$ref": "GoogleCloudDialogflowCxV3VersionVariants"
        },
        "condition": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExperimentDefinition"
    },
    "GoogleCloudDialogflowCxV3RestoreToolVersionResponse": {
      "id": "GoogleCloudDialogflowCxV3RestoreToolVersionResponse",
      "type": "object",
      "properties": {
        "tool": {
          "$ref": "GoogleCloudDialogflowCxV3Tool"
        }
      }
    },
    "GoogleCloudDialogflowCxV3VersionVariants": {
      "id": "GoogleCloudDialogflowCxV3VersionVariants",
      "properties": {
        "variants": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3VersionVariantsVariant"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1QueryResult": {
      "id": "GoogleCloudDialogflowV2beta1QueryResult",
      "properties": {
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "intentDetectionConfidence": {
          "type": "number",
          "format": "float"
        },
        "languageCode": {
          "type": "string"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "fulfillmentText": {
          "type": "string"
        },
        "knowledgeAnswers": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswers"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2beta1Intent"
        },
        "diagnosticInfo": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "action": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "webhookPayload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "webhookSource": {
          "type": "string"
        },
        "speechRecognitionConfidence": {
          "format": "float",
          "type": "number"
        },
        "queryText": {
          "type": "string"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        },
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource"
    },
    "GoogleCloudDialogflowCxV3beta1Form": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FormParameter"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Form"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCallResult": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string"
        },
        "outputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "tool": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResultError"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolCallResult"
    },
    "GoogleCloudDialogflowV2InputDataset": {
      "id": "GoogleCloudDialogflowV2InputDataset",
      "properties": {
        "dataset": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart": {
      "properties": {
        "alias": {
          "type": "string"
        },
        "userDefined": {
          "type": "boolean"
        },
        "text": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolDataStoreToolFallbackPrompt": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolDataStoreToolFallbackPrompt",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurn": {
      "properties": {
        "userInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput"
        },
        "virtualAgentOutput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurn",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AgentPersonalizationSettings": {
      "properties": {
        "defaultEndUserMetadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3AgentPersonalizationSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportFlowResponse": {
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "flowContent": {
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportFlowResponse",
      "type": "object"
    },
    "GoogleTypeLatLng": {
      "id": "GoogleTypeLatLng",
      "type": "object",
      "properties": {
        "longitude": {
          "type": "number",
          "format": "double"
        },
        "latitude": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SearchConfig": {
      "type": "object",
      "properties": {
        "filterSpecs": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FilterSpecs"
          },
          "type": "array"
        },
        "boostSpecs": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3BoostSpecs"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3SearchConfig"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult",
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListPagesResponse": {
      "id": "GoogleCloudDialogflowCxV3ListPagesResponse",
      "properties": {
        "pages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Page"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2FreeFormSuggestion": {
      "id": "GoogleCloudDialogflowV2FreeFormSuggestion",
      "type": "object",
      "properties": {
        "response": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2WebhookResponse": {
      "properties": {
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "fulfillmentText": {
          "type": "string"
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2EventInput"
        },
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          }
        },
        "source": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2WebhookResponse"
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerGenerationModelCallSignals": {
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerGenerationModelCallSignals",
      "properties": {
        "modelOutput": {
          "type": "string"
        },
        "model": {
          "type": "string"
        },
        "renderedPrompt": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequest": {
      "type": "object",
      "properties": {
        "triggerEvent": {
          "type": "string"
        },
        "dtmfDigits": {
          "type": "string"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LanguageInfo"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          },
          "type": "array"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo"
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult"
        },
        "triggerIntent": {
          "type": "string"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        },
        "transcript": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequest"
    },
    "GoogleCloudDialogflowCxV3Experiment": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Experiment",
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3ExperimentResult"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "RUNNING",
            "DONE",
            "ROLLOUT_FAILED"
          ],
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "definition": {
          "$ref": "GoogleCloudDialogflowCxV3ExperimentDefinition"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "rolloutState": {
          "$ref": "GoogleCloudDialogflowCxV3RolloutState"
        },
        "name": {
          "type": "string"
        },
        "experimentLength": {
          "type": "string",
          "format": "google-duration"
        },
        "variantsHistory": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3VariantsHistory"
          }
        },
        "rolloutFailureReason": {
          "type": "string"
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "rolloutConfig": {
          "$ref": "GoogleCloudDialogflowCxV3RolloutConfig"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignals": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignals",
      "properties": {
        "groundingSignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsGroundingSignals"
        },
        "citedSnippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsCitedSnippet"
          }
        },
        "answerGenerationModelCallSignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerGenerationModelCallSignals"
        },
        "rewriterModelCallSignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsRewriterModelCallSignals"
        },
        "answer": {
          "type": "string"
        },
        "searchSnippets": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippet"
          },
          "type": "array"
        },
        "rewrittenQuery": {
          "type": "string"
        },
        "answerParts": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerPart"
          },
          "type": "array"
        },
        "safetySignals": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSafetySignals"
        }
      }
    },
    "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse",
      "properties": {
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText",
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata": {
      "id": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata",
      "type": "object",
      "properties": {
        "conversationProfile": {
          "type": "string"
        },
        "participantRole": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "suggestionFeatureType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowCxV3InputAudioConfig": {
      "properties": {
        "enableWordInfo": {
          "type": "boolean"
        },
        "model": {
          "type": "string"
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "audioEncoding": {
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "bargeInConfig": {
          "$ref": "GoogleCloudDialogflowCxV3BargeInConfig"
        },
        "modelVariant": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ]
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "singleUtterance": {
          "type": "boolean"
        },
        "phraseHints": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3InputAudioConfig"
    },
    "GoogleCloudDialogflowV2beta1GcsDestination": {
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GcsDestination",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PlaybookTransition": {
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true
        },
        "playbook": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3PlaybookTransition",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3CompareVersionsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3CompareVersionsResponse",
      "properties": {
        "baseVersionContentJson": {
          "type": "string"
        },
        "compareTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "targetVersionContentJson": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SecuritySettingsInsightsExportSettings": {
      "type": "object",
      "properties": {
        "enableInsightsExport": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3SecuritySettingsInsightsExportSettings"
    },
    "GoogleCloudDialogflowCxV3QueryInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3QueryInput",
      "properties": {
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResult"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3TextInput"
        },
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3AudioInput"
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3EventInput"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3IntentInput"
        },
        "languageCode": {
          "type": "string"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3DtmfInput"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent",
      "type": "object",
      "properties": {
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
        },
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech",
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse",
      "properties": {
        "responseText": {
          "type": "string"
        },
        "sources": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources",
          "readOnly": true
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestion",
      "properties": {
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
        },
        "toolCallInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
          },
          "type": "array"
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestion"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolCallResultError": {
      "type": "object",
      "properties": {
        "retryable": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ToolCallResultError"
    },
    "GoogleCloudDialogflowV2beta1Context": {
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "lifespanCount": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Context",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig": {
      "properties": {
        "service": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig"
    },
    "GoogleCloudDialogflowCxV3EntityTypeExcludedPhrase": {
      "id": "GoogleCloudDialogflowCxV3EntityTypeExcludedPhrase",
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ExportAgentResponse": {
      "properties": {
        "agentContent": {
          "type": "string",
          "format": "byte"
        },
        "agentUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ExportAgentResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput",
      "properties": {
        "enableSentimentAnalysis": {
          "type": "boolean"
        },
        "isWebhookEnabled": {
          "type": "boolean"
        },
        "injectedParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryInput"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse": {
      "type": "object",
      "properties": {
        "knowledgeAssistAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswer"
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "additionalSuggestedQueryResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
    },
    "GoogleCloudDialogflowCxV3ExportAgentRequest": {
      "type": "object",
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "dataFormat": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON_PACKAGE"
          ],
          "type": "string"
        },
        "gitDestination": {
          "$ref": "GoogleCloudDialogflowCxV3ExportAgentRequestGitDestination"
        },
        "includeBigqueryExportSettings": {
          "type": "boolean"
        },
        "environment": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportAgentRequest"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageText": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageText",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportFlowResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportFlowResponse",
      "properties": {
        "flow": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSources": {
      "properties": {
        "instructionIndexes": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TypeSchema": {
      "properties": {
        "schemaReference": {
          "$ref": "GoogleCloudDialogflowCxV3TypeSchemaSchemaReference"
        },
        "inlineSchema": {
          "$ref": "GoogleCloudDialogflowCxV3InlineSchema"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TypeSchema"
    },
    "GoogleCloudDialogflowCxV3ToolCallResult": {
      "id": "GoogleCloudDialogflowCxV3ToolCallResult",
      "properties": {
        "tool": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResultError"
        },
        "outputParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "action": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3BoostSpecs": {
      "properties": {
        "spec": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3BoostSpec"
          },
          "type": "array"
        },
        "dataStores": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3BoostSpecs",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings": {
      "type": "object",
      "properties": {
        "outputParameter": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "generator": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings"
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsCitedSnippet": {
      "type": "object",
      "properties": {
        "snippetIndex": {
          "format": "int32",
          "type": "integer"
        },
        "searchSnippet": {
          "$ref": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSearchSnippet"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsCitedSnippet"
    },
    "GoogleCloudDialogflowCxV3DeployFlowResponse": {
      "properties": {
        "deployment": {
          "type": "string"
        },
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3Environment"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DeployFlowResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses": {
      "properties": {
        "simpleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses"
    },
    "GoogleCloudDialogflowCxV3CompareVersionsRequest": {
      "id": "GoogleCloudDialogflowCxV3CompareVersionsRequest",
      "type": "object",
      "properties": {
        "targetVersion": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DeployFlowRequest": {
      "properties": {
        "flowVersion": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DeployFlowRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo": {
      "id": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo",
      "properties": {
        "parentFollowupIntentName": {
          "type": "string"
        },
        "followupIntentName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings",
      "properties": {
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "generator": {
          "type": "string"
        },
        "outputParameter": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ArticleAnswer": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "answerRecord": {
          "type": "string"
        },
        "snippets": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "uri": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ArticleAnswer"
    },
    "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata": {
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata"
    },
    "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse": {
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        },
        "smartReplyAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SmartReplyAnswer"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3CodeBlock": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3CodeBlock",
      "properties": {
        "code": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction",
      "type": "object"
    },
    "GoogleCloudDialogflowV2Sentiment": {
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowV2Sentiment"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessage": {
      "properties": {
        "endInteraction": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction",
          "readOnly": true
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCall"
        },
        "mixedAudio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio",
          "readOnly": true
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard"
        },
        "channel": {
          "type": "string"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff"
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText"
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessage",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Environment": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "versionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig"
          }
        },
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Environment"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Intent": {
      "id": "GoogleCloudDialogflowV2beta1Intent",
      "type": "object",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "resetContexts": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "webhookState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ]
        },
        "mlDisabled": {
          "type": "boolean"
        },
        "trainingPhrases": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase"
          },
          "type": "array"
        },
        "events": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentParameter"
          },
          "type": "array"
        },
        "followupIntentInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo"
          },
          "readOnly": true
        },
        "mlEnabled": {
          "deprecated": true,
          "type": "boolean"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "rootFollowupIntentName": {
          "readOnly": true,
          "type": "string"
        },
        "defaultResponsePlatforms": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "TELEPHONY",
              "GOOGLE_HANGOUTS"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "isFallback": {
          "type": "boolean"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "inputContextNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "endInteraction": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall",
      "properties": {
        "sipUri": {
          "type": "string"
        },
        "phoneNumber": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata": {
      "id": "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "conversationProfile": {
          "type": "string"
        },
        "suggestionFeatureType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ]
        },
        "participantRole": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency": {
      "id": "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency",
      "type": "object",
      "properties": {
        "step": {
          "type": "string"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "latencyMs": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FlowTransition": {
      "id": "GoogleCloudDialogflowCxV3FlowTransition",
      "properties": {
        "flow": {
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction": {
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction"
    },
    "GoogleCloudDialogflowV2SuggestFaqAnswersResponse": {
      "type": "object",
      "properties": {
        "faqAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2FaqAnswer"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelect": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelect",
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem"
          }
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestions": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions",
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolTLSConfigCACert": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "cert": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolTLSConfigCACert",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolCall": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolCall",
      "properties": {
        "tool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3EventHandler": {
      "id": "GoogleCloudDialogflowCxV3EventHandler",
      "properties": {
        "targetPlaybook": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "event": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolCallResultError": {
      "id": "GoogleCloudDialogflowCxV3ToolCallResultError",
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FlowImportStrategy": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FlowImportStrategy",
      "properties": {
        "globalImportStrategy": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
[...]
