{
  "id": "dialogflow:v2",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "dialogflow",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "protocol": "rest",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "servicePath": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "revision": "20260929",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "schemas": {
    "GoogleCloudDialogflowCxV3Environment": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "versionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig"
          }
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Environment"
    },
    "GoogleCloudDialogflowV2ToolServiceDirectoryConfig": {
      "properties": {
        "service": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ToolServiceDirectoryConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SearchAgentsResponse": {
      "id": "GoogleCloudDialogflowV2SearchAgentsResponse",
      "type": "object",
      "properties": {
        "agents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolCall": {
      "id": "GoogleCloudDialogflowV2ToolCall",
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "action": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "cesApp": {
          "type": "string"
        },
        "toolDisplayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent": {
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent",
      "properties": {
        "conversation": {
          "type": "string"
        },
        "suggestionResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SuggestionResult"
          },
          "type": "array"
        },
        "participant": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponse": {
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponse",
      "properties": {
        "displayText": {
          "type": "string"
        },
        "textToSpeech": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationContext": {
      "properties": {
        "version": {
          "type": "string"
        },
        "fewShotExamples": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2FewShotExample"
          },
          "type": "array"
        },
        "summarizationSections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationSection"
          }
        },
        "outputLanguageCode": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationContext"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo",
      "type": "object",
      "properties": {
        "tag": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo": {
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "displayName": {
          "type": "string"
        },
        "value": {
          "type": "any"
        },
        "required": {
          "type": "boolean"
        },
        "justCollected": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfig": {
      "properties": {
        "summarizationConfig": {
          "$ref": "GoogleCloudDialogflowV2GeneratorEvaluationConfigSummarizationConfig"
        },
        "outputGcsBucketPath": {
          "type": "string"
        },
        "inputDataConfig": {
          "$ref": "GoogleCloudDialogflowV2GeneratorEvaluationConfigInputDataConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfig"
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationResponse": {
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationResponse",
      "type": "object",
      "properties": {
        "conversationDataset": {
          "type": "string"
        },
        "importCount": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ConversationTurn": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ConversationTurn",
      "properties": {
        "userInput": {
          "$ref": "GoogleCloudDialogflowCxV3ConversationTurnUserInput"
        },
        "virtualAgentOutput": {
          "$ref": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings": {
      "properties": {
        "targetPage": {
          "type": "string"
        },
        "dataStoreConnections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnection"
          }
        },
        "targetFlow": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "enabled": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings"
    },
    "GoogleCloudDialogflowV2GuidanceInstruction": {
      "id": "GoogleCloudDialogflowV2GuidanceInstruction",
      "type": "object",
      "properties": {
        "displayDetails": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "disableSuggestedReply": {
          "type": "boolean"
        },
        "actions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2GuidanceInstructionAction"
          },
          "type": "array"
        },
        "condition": {
          "type": "string"
        },
        "triggerEvent": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "properties": {
        "intent": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition": {
      "type": "object",
      "properties": {
        "point": {
          "readOnly": true,
          "type": "string"
        },
        "isAccurate": {
          "readOnly": true,
          "type": "boolean"
        },
        "accuracyReasoning": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction": {
      "properties": {
        "dial": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial"
        },
        "shareLocation": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation"
        },
        "postbackData": {
          "type": "string"
        },
        "openUrl": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction"
    },
    "GoogleCloudDialogflowCxV3beta1Fulfillment": {
      "type": "object",
      "properties": {
        "setParameterActions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction"
          },
          "type": "array"
        },
        "webhook": {
          "type": "string"
        },
        "returnPartialResponses": {
          "type": "boolean"
        },
        "codeBlockFunction": {
          "type": "string"
        },
        "conditionalCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
          }
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "enableGenerativeFallback": {
          "type": "boolean"
        },
        "tag": {
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          },
          "type": "array"
        },
        "generators": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Fulfillment"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo",
      "type": "object",
      "properties": {
        "candidatesTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "promptTokenCount": {
          "format": "int32",
          "type": "integer"
        },
        "thinkingLevel": {
          "type": "string"
        },
        "thinkingBudgetTokens": {
          "format": "int32",
          "type": "integer"
        },
        "similarityToLastQuery": {
          "type": "number",
          "format": "float"
        },
        "similarityToLastQueryThreshold": {
          "format": "float",
          "type": "number"
        },
        "totalTokenCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentBatch": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentBatch",
      "properties": {
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrase": {
      "properties": {
        "timesAddedCount": {
          "type": "integer",
          "format": "int32"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
          }
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrase"
    },
    "GoogleCloudDialogflowV2beta1SearchEntryPoint": {
      "properties": {
        "renderedContent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SearchEntryPoint",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunContinuousTestResponse": {
      "type": "object",
      "properties": {
        "continuousTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RunContinuousTestResponse"
    },
    "GoogleCloudDialogflowV2ListSipTrunksResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "sipTrunks": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SipTrunk"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2ListSipTrunksResponse"
    },
    "GoogleCloudDialogflowV2ServiceLatency": {
      "properties": {
        "internalServiceLatencies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ServiceLatency"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo": {
      "properties": {
        "knowledgeAssistBehavior": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        },
        "cesDebugInfo": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "queryCategorizationFailureReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_CATEGORIZATION_INVALID_CONFIG",
            "QUERY_CATEGORIZATION_RESULT_NOT_FOUND",
            "QUERY_CATEGORIZATION_FAILED"
          ]
        },
        "queryGenerationDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        },
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2ServiceLatency"
        },
        "queryGenerationFailureReason": {
          "type": "string",
          "enum": [
            "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_GENERATION_OUT_OF_QUOTA",
            "QUERY_GENERATION_FAILED",
            "QUERY_GENERATION_NO_QUERY_GENERATED",
            "QUERY_GENERATION_RAI_FAILED",
            "NOT_IN_ALLOWLIST",
            "QUERY_GENERATION_QUERY_REDACTED",
            "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED",
            "QUERY_GENERATION_EMPTY_CONVERSATION",
            "QUERY_GENERATION_EMPTY_LAST_MESSAGE",
            "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "datastoreResponseReason": {
          "type": "string",
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo"
    },
    "GoogleCloudDialogflowCxV3beta1Webhook": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        },
        "disabled": {
          "type": "boolean"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig"
        },
        "timeout": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Webhook"
    },
    "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1EventHandler": {
      "id": "GoogleCloudDialogflowCxV3beta1EventHandler",
      "properties": {
        "targetFlow": {
          "type": "string"
        },
        "event": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "targetPlaybook": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetrics": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetrics",
      "properties": {
        "conversationDetails": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetail"
          }
        },
        "overallMetrics": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsOverallScoresByMetric"
          },
          "type": "array",
          "readOnly": true
        },
        "summarizationEvaluationResults": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSummarizationEvaluationResult"
          }
        },
        "overallSectionTokens": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken"
          }
        },
        "summarizationEvaluationMergedResultsUri": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2EvaluationConfigSmartComposeConfig": {
      "id": "GoogleCloudDialogflowV2EvaluationConfigSmartComposeConfig",
      "type": "object",
      "properties": {
        "maxResultCount": {
          "type": "integer",
          "format": "int32"
        },
        "allowlistDocument": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string"
        },
        "footer": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentParameter": {
      "properties": {
        "prompts": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mandatory": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "entityTypeDisplayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentParameter"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeDebugInfo": {
      "properties": {
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2ServiceLatency"
        },
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
        },
        "searchKnowledgeBehavior": {
          "$ref": "GoogleCloudDialogflowV2SearchKnowledgeDebugInfoSearchKnowledgeBehavior"
        },
        "cesDebugInfo": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "datastoreResponseReason": {
          "type": "string",
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SearchKnowledgeDebugInfo"
    },
    "GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportAgentResponse",
      "type": "object",
      "properties": {
        "commitSha": {
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsEvaluationResult": {
      "properties": {
        "adherenceRubric": {
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceRubric"
        },
        "completenessRubric": {
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsCompletenessRubric"
        },
        "accuracyDecomposition": {
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsEvaluationResult"
    },
    "GoogleCloudDialogflowV2IntentMessageText": {
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageText",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GcsDestination": {
      "id": "GoogleCloudDialogflowV2beta1GcsDestination",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ListKnowledgeBasesResponse": {
      "properties": {
        "knowledgeBases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListKnowledgeBasesResponse"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources": {
      "type": "object",
      "properties": {
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityTypeDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources"
    },
    "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction",
      "properties": {
        "parameter": {
          "type": "string"
        },
        "value": {
          "type": "any"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DataStoreConnection": {
      "type": "object",
      "properties": {
        "documentProcessingMode": {
          "type": "string",
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "dataStoreType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "STRUCTURED"
          ]
        },
        "dataStore": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DataStoreConnection"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardRow",
      "type": "object",
      "properties": {
        "cells": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
          },
          "type": "array"
        },
        "dividerAfter": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult": {
      "type": "object",
      "properties": {
        "duplicateSuggestions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult",
      "properties": {
        "duplicateSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          },
          "type": "array",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswer": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswer",
      "type": "object",
      "properties": {
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery"
        },
        "answerRecord": {
          "type": "string"
        },
        "knowledgeAssistDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo"
        },
        "suggestedQueryAnswer": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageText",
      "type": "object",
      "properties": {
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationSectionList": {
      "id": "GoogleCloudDialogflowV2SummarizationSectionList",
      "properties": {
        "summarizationSections": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationSection"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2EvaluationConfigSmartReplyConfig": {
      "properties": {
        "allowlistDocument": {
          "type": "string"
        },
        "maxResultCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2EvaluationConfigSmartReplyConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentSuggestion",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "intentV2": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestion": {
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestion",
      "type": "object",
      "properties": {
        "summarySections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3DeployFlowResponse": {
      "properties": {
        "deployment": {
          "type": "string"
        },
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3Environment"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DeployFlowResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EncryptionSpec": {
      "properties": {
        "name": {
          "type": "string"
        },
        "kmsKey": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EncryptionSpec",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingContext": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingContext",
      "properties": {
        "outputLanguageCode": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "instructions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstruction"
          }
        },
        "overarchingGuidance": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2GroundingMetadata": {
      "type": "object",
      "properties": {
        "groundingSupports": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2GroundingSupport"
          },
          "type": "array"
        },
        "groundingChunks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2GroundingChunk"
          }
        },
        "webSearchQueries": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "searchEntryPoint": {
          "$ref": "GoogleCloudDialogflowV2SearchEntryPoint"
        }
      },
      "id": "GoogleCloudDialogflowV2GroundingMetadata"
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseError"
    },
    "GoogleCloudDialogflowV2SipTrunk": {
      "properties": {
        "name": {
          "type": "string"
        },
        "googleRootCertFile": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CERT_FILE_UNSPECIFIED",
            "EXTERNAL_PRIVATE_CA"
          ]
        },
        "connections": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2Connection"
          },
          "type": "array"
        },
        "expectedHostname": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string"
        },
        "peerHostnames": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SipHostname"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2SipTrunk",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FormParameterFillBehavior": {
      "type": "object",
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "repromptEventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
    },
    "GoogleCloudDialogflowV2ToolAuthenticationOAuthConfig": {
      "properties": {
        "tokenEndpoint": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "oauthGrantType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2ToolAuthenticationOAuthConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListConversationDatasetsResponse": {
      "type": "object",
      "properties": {
        "conversationDatasets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationDataset"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ListConversationDatasetsResponse"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSummarizationEvaluationResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSummarizationEvaluationResult",
      "properties": {
        "sessionId": {
          "deprecated": true,
          "readOnly": true,
          "type": "string"
        },
        "metric": {
          "type": "string",
          "readOnly": true
        },
        "section": {
          "type": "string",
          "readOnly": true
        },
        "evaluationResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsEvaluationResult"
          },
          "readOnly": true,
          "type": "array"
        },
        "sectionSummary": {
          "type": "string",
          "readOnly": true
        },
        "decompositions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsDecomposition"
          },
          "readOnly": true,
          "type": "array",
          "deprecated": true
        },
        "score": {
          "type": "number",
          "readOnly": true,
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult": {
      "type": "object",
      "properties": {
        "magnitude": {
          "type": "number",
          "format": "float"
        },
        "score": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
    },
    "GoogleCloudDialogflowV2IntentSuggestion": {
      "properties": {
        "intentV2": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentSuggestion"
    },
    "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata",
      "properties": {
        "conversationDataset": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2Environment": {
      "properties": {
        "textToSpeechSettings": {
          "$ref": "GoogleCloudDialogflowV2TextToSpeechSettings"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STOPPED",
            "LOADING",
            "RUNNING"
          ],
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowV2Fulfillment"
        },
        "agentVersion": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2Environment",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListCompanionAgentsResponse": {
      "id": "GoogleCloudDialogflowV2ListCompanionAgentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "companionAgents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2CompanionAgent"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessage": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessage",
      "properties": {
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
        },
        "channel": {
          "type": "string"
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText"
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff"
        },
        "responseType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "ENTRY_PROMPT",
            "PARAMETER_PROMPT",
            "HANDLER_PROMPT"
          ]
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCall"
        },
        "mixedAudio": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio"
        },
        "endInteraction": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesMetadata": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseError"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesMetadata"
    },
    "GoogleCloudDialogflowV2AudioInput": {
      "id": "GoogleCloudDialogflowV2AudioInput",
      "type": "object",
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowV2InputAudioConfig"
        },
        "audio": {
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Intent": {
      "properties": {
        "isFallback": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "followupIntentInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo"
          },
          "type": "array",
          "readOnly": true
        },
        "trainingPhrases": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "events": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rootFollowupIntentName": {
          "readOnly": true,
          "type": "string"
        },
        "priority": {
          "format": "int32",
          "type": "integer"
        },
        "mlDisabled": {
          "type": "boolean"
        },
        "inputContextNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mlEnabled": {
          "deprecated": true,
          "type": "boolean"
        },
        "resetContexts": {
          "type": "boolean"
        },
        "endInteraction": {
          "type": "boolean"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentParameter"
          },
          "type": "array"
        },
        "webhookState": {
          "type": "string",
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "action": {
          "type": "string"
        },
        "defaultResponsePlatforms": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "TELEPHONY",
              "GOOGLE_HANGOUTS"
            ]
          },
          "type": "array"
        },
        "parentFollowupIntentName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Intent"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCard": {
      "properties": {
        "columnProperties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
          }
        },
        "subtitle": {
          "type": "string"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow"
          }
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCard"
    },
    "GoogleCloudDialogflowV2beta1SuggestArticlesResponse": {
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "articleAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ArticleAnswer"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion": {
      "properties": {
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "duplicateCheckResult": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult",
          "readOnly": true
        },
        "agentAction": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion"
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem": {
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "description": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig",
      "properties": {
        "agent": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment",
      "properties": {
        "audio": {
          "format": "byte",
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest": {
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2beta1EncryptionSpec"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCard": {
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "imageUri": {
          "type": "string"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCardButton"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCard",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Form": {
      "id": "GoogleCloudDialogflowCxV3beta1Form",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FormParameter"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunTestCaseMetadata": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3RunTestCaseMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1IntentParameter": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentParameter",
      "type": "object",
      "properties": {
        "isList": {
          "type": "boolean"
        },
        "redact": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessage": {
      "properties": {
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall"
        },
        "endInteraction": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction"
        },
        "mixedAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageText"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ResponseMessage"
    },
    "GoogleCloudDialogflowV2beta1ImportDocumentsResponse": {
      "properties": {
        "warnings": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ImportDocumentsResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmText": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmText",
      "properties": {
        "rbmSuggestion": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          }
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment",
      "properties": {
        "uri": {
          "type": "string"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "allowPlaybackInterruption": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SmartReplyMetrics": {
      "id": "GoogleCloudDialogflowV2SmartReplyMetrics",
      "properties": {
        "conversationCount": {
          "type": "string",
          "format": "int64"
        },
        "topNMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SmartReplyMetricsTopNMetrics"
          }
        },
        "allowlistCoverage": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2BatchUpdateEntityTypesRequest": {
      "id": "GoogleCloudDialogflowV2BatchUpdateEntityTypesRequest",
      "type": "object",
      "properties": {
        "entityTypeBatchUri": {
          "type": "string"
        },
        "entityTypeBatchInline": {
          "$ref": "GoogleCloudDialogflowV2EntityTypeBatch"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Webhook": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
        },
        "disabled": {
          "type": "boolean"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Webhook"
    },
    "GoogleCloudDialogflowV2ToolsetTool": {
      "id": "GoogleCloudDialogflowV2ToolsetTool",
      "properties": {
        "operationId": {
          "type": "string"
        },
        "toolset": {
          "type": "string"
        },
        "confirmationRequirement": {
          "type": "string",
          "enum": [
            "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
            "REQUIRED",
            "NOT_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeBase": {
      "properties": {
        "name": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeBase"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig",
      "properties": {
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        },
        "service": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2RaiSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2RaiSettings",
      "properties": {
        "raiCategoryConfigs": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2RaiSettingsRaiCategoryConfig"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo": {
      "type": "object",
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo"
    },
    "GoogleCloudDialogflowV2Version": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Version",
      "properties": {
        "versionNumber": {
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "status": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "VERSION_STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "READY",
            "FAILED"
          ]
        },
        "description": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2CompanionSuggestionGuidanceKnowledgeSource": {
      "properties": {
        "knowledgeArticleTitle": {
          "type": "string"
        },
        "knowledgeSnippet": {
          "type": "string"
        },
        "knowledgeArticleUrl": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2CompanionSuggestionGuidanceKnowledgeSource"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageTableCard",
      "properties": {
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "columnProperties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageColumnProperties"
          }
        },
        "rows": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardRow"
          },
          "type": "array"
        },
        "subtitle": {
          "type": "string"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2GenerateStatelessSuggestionRequest": {
      "id": "GoogleCloudDialogflowV2GenerateStatelessSuggestionRequest",
      "properties": {
        "contextReferences": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2ConversationContextReference"
          }
        },
        "securitySettings": {
          "type": "string"
        },
        "conversationContext": {
          "$ref": "GoogleCloudDialogflowV2ConversationContext"
        },
        "generator": {
          "$ref": "GoogleCloudDialogflowV2Generator"
        },
        "generatorName": {
          "type": "string"
        },
        "triggerEvents": {
          "items": {
            "type": "string",
            "enum": [
              "TRIGGER_EVENT_UNSPECIFIED",
              "END_OF_UTTERANCE",
              "MANUAL_CALL",
              "CUSTOMER_MESSAGE",
              "AGENT_MESSAGE"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2FewShotExample": {
      "id": "GoogleCloudDialogflowV2FewShotExample",
      "type": "object",
      "properties": {
        "extraInfo": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "output": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        },
        "conversationContext": {
          "$ref": "GoogleCloudDialogflowV2ConversationContext"
        },
        "summarizationSectionList": {
          "$ref": "GoogleCloudDialogflowV2SummarizationSectionList"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff": {
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudDialogflowV2StreamingRecognitionResult": {
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "messageType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "DTMF_DIGITS",
            "END_OF_SINGLE_UTTERANCE",
            "PARTIAL_DTMF_DIGITS",
            "SPEECH_ACTIVITY_BEGIN",
            "SPEECH_ACTIVITY_END"
          ]
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "speechEndOffset": {
          "format": "google-duration",
          "type": "string"
        },
        "speechWordInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SpeechWordInfo"
          }
        },
        "isFinal": {
          "type": "boolean"
        },
        "transcript": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2StreamingRecognitionResult"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageText": {
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageText",
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig": {
      "properties": {
        "companionAgent": {
          "type": "string"
        },
        "useUnredactedConversationData": {
          "type": "boolean"
        },
        "groupSuggestionResponses": {
          "type": "boolean"
        },
        "disableHighLatencyFeaturesSyncDelivery": {
          "type": "boolean"
        },
        "featureConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionFeatureConfig"
          }
        },
        "enableAsyncToolCall": {
          "type": "boolean",
          "deprecated": true
        },
        "generators": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "skipEmptyEventBasedSuggestion": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase": {
      "type": "object",
      "properties": {
        "caseContent": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
          },
          "type": "array"
        },
        "condition": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent",
      "type": "object",
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestionInput": {
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "action": {
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "CANCEL",
            "REVISE",
            "CONFIRM"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestionInput",
      "type": "object"
    },
    "GoogleCloudDialogflowV2FulfillmentFeature": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SMALLTALK"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2FulfillmentFeature"
    },
    "GoogleCloudDialogflowV2RaiSettingsRaiCategoryConfig": {
      "properties": {
        "sensitivityLevel": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SENSITIVITY_LEVEL_UNSPECIFIED",
            "BLOCK_MOST",
            "BLOCK_SOME",
            "BLOCK_FEW",
            "BLOCK_NONE"
          ]
        },
        "category": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RAI_CATEGORY_UNSPECIFIED",
            "DANGEROUS_CONTENT",
            "SEXUALLY_EXPLICIT",
            "HARASSMENT",
            "HATE_SPEECH"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2RaiSettingsRaiCategoryConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1LanguageInfo": {
      "type": "object",
      "properties": {
        "resolvedLanguageCode": {
          "type": "string"
        },
        "inputLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1LanguageInfo"
    },
    "GoogleCloudDialogflowV2ListConversationsResponse": {
      "properties": {
        "conversations": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Conversation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListConversationsResponse"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantEvent": {
      "properties": {
        "suggestionResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestionResult"
          }
        },
        "conversation": {
          "type": "string"
        },
        "participant": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantEvent"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken": {
      "properties": {
        "section": {
          "readOnly": true,
          "type": "string"
        },
        "tokenCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "suggestionIndex": {
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "similarityScore": {
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "answerRecord": {
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GroundingChunk": {
      "id": "GoogleCloudDialogflowV2beta1GroundingChunk",
      "type": "object",
      "properties": {
        "web": {
          "$ref": "GoogleCloudDialogflowV2beta1GroundingChunkWeb"
        },
        "retrievedContext": {
          "$ref": "GoogleCloudDialogflowV2beta1GroundingChunkRetrievedContext"
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestArticlesRequest": {
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "assistQueryParams": {
          "$ref": "GoogleCloudDialogflowV2AssistQueryParameters"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestArticlesRequest"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "footer": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
    },
    "GoogleCloudDialogflowCxV3IntentParameter": {
      "id": "GoogleCloudDialogflowCxV3IntentParameter",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "redact": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2EvaluationConfig": {
      "id": "GoogleCloudDialogflowV2EvaluationConfig",
      "type": "object",
      "properties": {
        "datasets": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2InputDataset"
          },
          "type": "array"
        },
        "smartComposeConfig": {
          "$ref": "GoogleCloudDialogflowV2EvaluationConfigSmartComposeConfig"
        },
        "smartReplyConfig": {
          "$ref": "GoogleCloudDialogflowV2EvaluationConfigSmartReplyConfig"
        }
      }
    },
    "GoogleCloudDialogflowV2ListDocumentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "documents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Document"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListDocumentsResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart",
      "properties": {
        "text": {
          "type": "string"
        },
        "userDefined": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AnnotatedMessagePart": {
      "id": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart",
      "properties": {
        "entityType": {
          "type": "string"
        },
        "formattedValue": {
          "type": "any"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AutomatedAgentReply": {
      "type": "object",
      "properties": {
        "detectIntentResponse": {
          "$ref": "GoogleCloudDialogflowV2DetectIntentResponse"
        },
        "cxCurrentPage": {
          "type": "string"
        },
        "allowCancellation": {
          "type": "boolean"
        },
        "automatedAgentReplyType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AUTOMATED_AGENT_REPLY_TYPE_UNSPECIFIED",
            "PARTIAL",
            "FINAL"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2AutomatedAgentReply"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "type": "object",
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem"
    },
    "GoogleCloudLocationLocation": {
      "id": "GoogleCloudLocationLocation",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "locationId": {
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2FreeFormContext": {
      "id": "GoogleCloudDialogflowV2FreeFormContext",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses": {
      "properties": {
        "simpleResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses"
    },
    "GoogleCloudDialogflowV2InputConfig": {
      "type": "object",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudDialogflowV2GcsSources"
        }
      },
      "id": "GoogleCloudDialogflowV2InputConfig"
    },
    "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeAssistFeedback": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeAssistFeedback",
      "properties": {
        "answerCopied": {
          "type": "boolean"
        },
        "clickedUris": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource",
      "properties": {
        "snippets": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestCase": {
      "properties": {
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3TestConfig"
        },
        "notes": {
          "type": "string"
        },
        "creationTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          }
        },
        "name": {
          "type": "string"
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TestCase",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase",
      "properties": {
        "caseContent": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent"
          }
        },
        "condition": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies": {
      "properties": {
        "quickReplies": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies",
      "type": "object"
    },
    "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo": {
      "properties": {
        "toolCall": {
          "$ref": "GoogleCloudDialogflowV2ToolCall"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowV2ToolCallResult"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsRequest",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "triggerEvents": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "TRIGGER_EVENT_UNSPECIFIED",
              "END_OF_UTTERANCE",
              "MANUAL_CALL",
              "CUSTOMER_MESSAGE",
              "AGENT_MESSAGE"
            ]
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigMessageAnalysisConfig": {
      "properties": {
        "enableEntityExtraction": {
          "type": "boolean"
        },
        "enableSentimentAnalysis": {
          "type": "boolean"
        },
        "enableSentimentAnalysisV3": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigMessageAnalysisConfig"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessage": {
      "properties": {
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio"
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard"
        },
        "mixedAudio": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio"
        },
        "endInteraction": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction"
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCall"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
        },
        "channel": {
          "type": "string"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "properties": {
        "question": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "properties": {
        "answerRecord": {
          "type": "string",
          "readOnly": true
        },
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportFlowResponse",
      "type": "object",
      "properties": {
        "flow": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationSection": {
      "id": "GoogleCloudDialogflowV2SummarizationSection",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SITUATION",
            "ACTION",
            "RESOLUTION",
            "REASON_FOR_CANCELLATION",
            "CUSTOMER_SATISFACTION",
            "ENTITIES",
            "CUSTOMER_DEFINED",
            "SITUATION_CONCISE",
            "ACTION_CONCISE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "key": {
          "type": "string"
        },
        "definition": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponse": {
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponse",
      "type": "object",
      "properties": {
        "generatorSuggestionAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolCall": {
      "id": "GoogleCloudDialogflowCxV3ToolCall",
      "type": "object",
      "properties": {
        "inputParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "action": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AudioInput": {
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InputAudioConfig"
        },
        "audio": {
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AudioInput"
    },
    "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfo": {
      "properties": {
        "sipHeaders": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoSipHeader"
          },
          "type": "array"
        },
        "sdp": {
          "type": "string"
        },
        "extraMimeContents": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoMimeContent"
          }
        },
        "dialedNumber": {
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2GenerateCompanionSuggestionsResponse": {
      "id": "GoogleCloudDialogflowV2GenerateCompanionSuggestionsResponse",
      "type": "object",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "companionSuggestion": {
          "$ref": "GoogleCloudDialogflowV2CompanionSuggestion"
        },
        "suggestionIndex": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "properties": {
        "event": {
          "type": "string"
        },
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Page": {
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "description": {
          "type": "string"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3Form"
        },
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3Page",
      "type": "object"
    },
    "GoogleCloudDialogflowV2Generator": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Generator",
      "properties": {
        "inferenceParameter": {
          "$ref": "GoogleCloudDialogflowV2InferenceParameter"
        },
        "cesAppSpecs": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2CesAppSpec"
          },
          "type": "array",
          "deprecated": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "suggestionDedupingConfig": {
          "$ref": "GoogleCloudDialogflowV2SuggestionDedupingConfig"
        },
        "triggerEvent": {
          "type": "string",
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "tools": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "agentCoachingContext": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingContext"
        },
        "description": {
          "type": "string"
        },
        "toolsetTools": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ToolsetTool"
          },
          "type": "array"
        },
        "cesToolSpecs": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2CesToolSpec"
          },
          "type": "array"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "summarizationContext": {
          "$ref": "GoogleCloudDialogflowV2SummarizationContext"
        },
        "publishedModel": {
          "type": "string"
        },
        "freeFormContext": {
          "$ref": "GoogleCloudDialogflowV2FreeFormContext"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSources": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources",
      "properties": {
        "instructionIndexes": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings": {
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings",
      "type": "object",
      "properties": {
        "enableInteractionLogging": {
          "type": "boolean"
        },
        "enableStackdriverLogging": {
          "type": "boolean"
        },
        "enableConsentBasedRedaction": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue",
      "properties": {
        "originalValue": {
          "type": "string"
        },
        "resolvedValue": {
          "type": "any"
        }
      }
    },
    "GoogleCloudDialogflowV2QueryResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2QueryResult",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "webhookPayload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "webhookSource": {
          "type": "string"
        },
        "queryText": {
          "type": "string"
        },
        "diagnosticInfo": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "action": {
          "type": "string"
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "speechRecognitionConfidence": {
          "format": "float",
          "type": "number"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2Intent"
        },
        "fulfillmentMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          },
          "type": "array"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "languageCode": {
          "type": "string"
        },
        "intentDetectionConfidence": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency": {
      "id": "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "step": {
          "type": "string"
        },
        "latencyMs": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceRubric": {
      "type": "object",
      "properties": {
        "question": {
          "type": "string",
          "readOnly": true
        },
        "reasoning": {
          "readOnly": true,
          "type": "string"
        },
        "isAddressed": {
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceRubric"
    },
    "GoogleCloudDialogflowCxV3LanguageInfo": {
      "id": "GoogleCloudDialogflowCxV3LanguageInfo",
      "type": "object",
      "properties": {
        "resolvedLanguageCode": {
          "type": "string"
        },
        "inputLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowV2Message": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Message",
      "properties": {
        "content": {
          "type": "string"
        },
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "participantRole": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "sentimentAnalysis": {
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult",
          "readOnly": true
        },
        "participant": {
          "readOnly": true,
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "messageAnnotation": {
          "$ref": "GoogleCloudDialogflowV2MessageAnnotation",
          "readOnly": true
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestResponse": {
      "type": "object",
      "properties": {
        "continuousTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3ContinuousTestResult"
        }
      },
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestResponse"
    },
    "GoogleCloudDialogflowV2GenerateStatelessSummaryResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GenerateStatelessSummaryResponse",
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        },
        "summary": {
          "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryResponseSummary"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeSearchFeedback": {
      "properties": {
        "clickedUris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "answerCopied": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeSearchFeedback"
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo": {
      "type": "object",
      "properties": {
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageText": {
      "properties": {
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageText"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases",
      "properties": {
        "cases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
[...]
