{
  "revision": "20260825",
  "discoveryVersion": "v1",
  "canonicalName": "Dialogflow",
  "id": "dialogflow:v3",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "protocol": "rest",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "baseUrl": "https://dialogflow.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v3",
  "version_module": true,
  "schemas": {
    "GoogleCloudDialogflowCxV3AudioInput": {
      "properties": {
        "audio": {
          "format": "byte",
          "type": "string"
        },
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3InputAudioConfig"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AudioInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesRequest": {
      "type": "object",
      "properties": {
        "content": {
          "format": "byte",
          "type": "string"
        },
        "gcsUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesRequest"
    },
    "GoogleCloudDialogflowCxV3ListPlaybookVersionsResponse": {
      "properties": {
        "playbookVersions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PlaybookVersion"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListPlaybookVersionsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3CalculateCoverageResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3CalculateCoverageResponse",
      "properties": {
        "agent": {
          "type": "string"
        },
        "transitionCoverage": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionCoverage"
        },
        "routeGroupCoverage": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverage"
        },
        "intentCoverage": {
          "$ref": "GoogleCloudDialogflowCxV3IntentCoverage"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportIntentsResponse": {
      "properties": {
        "intentsUri": {
          "type": "string"
        },
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineDestination"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportIntentsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1TextInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TextInput",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageText": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageText",
      "properties": {
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2QueryResult": {
      "type": "object",
      "properties": {
        "webhookSource": {
          "type": "string"
        },
        "speechRecognitionConfidence": {
          "type": "number",
          "format": "float"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "queryText": {
          "type": "string"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "intentDetectionConfidence": {
          "format": "float",
          "type": "number"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2Intent"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "webhookPayload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "action": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2QueryResult"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSources": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources",
      "type": "object",
      "properties": {
        "instructionIndexes": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolVersion": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolVersion",
      "properties": {
        "tool": {
          "$ref": "GoogleCloudDialogflowCxV3Tool"
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentResponse": {
      "type": "object",
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "commitSha": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentResponse"
    },
    "GoogleCloudDialogflowV2IntentMessageText": {
      "type": "object",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageText"
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesRequest": {
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityTypesUri": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "dataFormat": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON_PACKAGE"
          ]
        },
        "entityTypesContentInline": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard",
      "properties": {
        "cardOrientation": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CARD_ORIENTATION_UNSPECIFIED",
            "HORIZONTAL",
            "VERTICAL"
          ]
        },
        "thumbnailImageAlignment": {
          "type": "string",
          "enum": [
            "THUMBNAIL_IMAGE_ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "RIGHT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "cardContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo": {
      "type": "object",
      "properties": {
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowV2ToolCallResult"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowV2ToolCall"
        }
      },
      "id": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
    },
    "GoogleCloudDialogflowCxV3beta1Webhook": {
      "properties": {
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig"
        },
        "displayName": {
          "type": "string"
        },
        "timeout": {
          "format": "google-duration",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "disabled": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Webhook"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext",
      "properties": {
        "value": {
          "type": "string"
        },
        "key": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse": {
      "properties": {
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "responseText": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FormParameterFillBehavior": {
      "type": "object",
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "repromptEventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
    },
    "GoogleCloudDialogflowCxV3GcsDestination": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3GcsDestination",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3GeneratorModelParameter": {
      "type": "object",
      "properties": {
        "temperature": {
          "type": "number",
          "format": "float"
        },
        "maxDecodeSteps": {
          "format": "int32",
          "type": "integer"
        },
        "topK": {
          "type": "integer",
          "format": "int32"
        },
        "topP": {
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudDialogflowCxV3GeneratorModelParameter"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult",
      "properties": {
        "magnitude": {
          "type": "number",
          "format": "float"
        },
        "score": {
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo": {
      "properties": {
        "toolCall": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCall"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResult"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3QueryParameters": {
      "properties": {
        "currentPlaybook": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "channel": {
          "type": "string"
        },
        "searchConfig": {
          "$ref": "GoogleCloudDialogflowCxV3SearchConfig"
        },
        "flowVersions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "geoLocation": {
          "$ref": "GoogleTypeLatLng"
        },
        "sessionTtl": {
          "format": "google-duration",
          "type": "string"
        },
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
          }
        },
        "analyzeQueryTextSentiment": {
          "type": "boolean"
        },
        "populateDataStoreConnectionSignals": {
          "deprecated": true,
          "type": "boolean"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "webhookHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "disableWebhook": {
          "type": "boolean"
        },
        "endUserMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "currentPage": {
          "type": "string"
        },
        "parameterScope": {
          "type": "string"
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3LlmModelSettings"
        },
        "timeZone": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3QueryParameters"
    },
    "GoogleCloudDialogflowCxV3FormParameter": {
      "id": "GoogleCloudDialogflowCxV3FormParameter",
      "properties": {
        "redact": {
          "type": "boolean"
        },
        "isList": {
          "type": "boolean"
        },
        "required": {
          "type": "boolean"
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
        },
        "defaultValue": {
          "type": "any"
        },
        "entityType": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TransitionCoverageTransitionNode": {
      "type": "object",
      "properties": {
        "page": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "flow": {
          "$ref": "GoogleCloudDialogflowCxV3Flow"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TransitionCoverageTransitionNode"
    },
    "GoogleCloudDialogflowCxV3beta1DtmfInput": {
      "id": "GoogleCloudDialogflowCxV3beta1DtmfInput",
      "properties": {
        "digits": {
          "type": "string"
        },
        "finishDigit": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult",
      "properties": {
        "duplicateSuggestions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Context": {
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "lifespanCount": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Context",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSelectItemInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo",
      "properties": {
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo",
      "type": "object",
      "properties": {
        "tag": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolTLSConfig": {
      "type": "object",
      "properties": {
        "caCerts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ToolTLSConfigCACert"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolTLSConfig"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "suggestionIndex": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "similarityScore": {
          "type": "number",
          "readOnly": true,
          "format": "float"
        },
        "answerRecord": {
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ExportAgentResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ExportAgentResponse",
      "properties": {
        "agentContent": {
          "format": "byte",
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelect": {
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelect"
    },
    "GoogleCloudDialogflowCxV3IntentCoverage": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentCoverage",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentCoverageIntent"
          }
        },
        "coverageScore": {
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExperimentResultVersionMetrics": {
      "id": "GoogleCloudDialogflowCxV3ExperimentResultVersionMetrics",
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ExperimentResultMetric"
          }
        },
        "version": {
          "type": "string"
        },
        "sessionCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelect",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2SpeechWordInfo": {
      "properties": {
        "endOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "startOffset": {
          "format": "google-duration",
          "type": "string"
        },
        "word": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SpeechWordInfo"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "properties": {
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "event": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ArticleAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ArticleAnswer",
      "properties": {
        "snippets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "uri": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCardButton": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCardButton",
      "type": "object",
      "properties": {
        "postback": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue",
      "type": "object",
      "properties": {
        "originalValue": {
          "type": "string"
        },
        "resolvedValue": {
          "type": "any"
        }
      }
    },
    "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata": {
      "properties": {
        "trainingModelType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ValidationMessage": {
      "type": "object",
      "properties": {
        "detail": {
          "type": "string"
        },
        "resourceNames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResourceName"
          }
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "resources": {
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "type": "array"
        },
        "resourceType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "AGENT",
            "INTENT",
            "INTENT_TRAINING_PHRASE",
            "INTENT_PARAMETER",
            "INTENTS",
            "INTENT_TRAINING_PHRASES",
            "ENTITY_TYPE",
            "ENTITY_TYPES",
            "WEBHOOK",
            "FLOW",
            "PAGE",
            "PAGES",
            "TRANSITION_ROUTE_GROUP",
            "AGENT_TRANSITION_ROUTE_GROUP"
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3ValidationMessage"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportIntentsRequest",
      "properties": {
        "intentsUri": {
          "type": "string"
        },
        "mergeOption": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MERGE_OPTION_UNSPECIFIED",
            "REJECT",
            "REPLACE",
            "MERGE",
            "RENAME",
            "REPORT_CONFLICT",
            "KEEP"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineSource"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata": {
      "properties": {
        "knowledgeBase": {
          "type": "string"
        },
        "exportOperationMetadata": {
          "$ref": "GoogleCloudDialogflowV2beta1ExportOperationMetadata"
        },
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "properties": {
        "snippets": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListWebhooksResponse": {
      "id": "GoogleCloudDialogflowCxV3ListWebhooksResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "webhooks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Webhook"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportFlowResponse",
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "flowContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SessionEntityType": {
      "id": "GoogleCloudDialogflowV2beta1SessionEntityType",
      "properties": {
        "name": {
          "type": "string"
        },
        "entityOverrideMode": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ]
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Page": {
      "id": "GoogleCloudDialogflowCxV3Page",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "transitionRouteGroups": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3Form"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          },
          "type": "array"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo": {
      "properties": {
        "queryGenerationFailureReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_GENERATION_OUT_OF_QUOTA",
            "QUERY_GENERATION_FAILED",
            "QUERY_GENERATION_NO_QUERY_GENERATED",
            "QUERY_GENERATION_RAI_FAILED",
            "NOT_IN_ALLOWLIST",
            "QUERY_GENERATION_QUERY_REDACTED",
            "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED",
            "QUERY_GENERATION_EMPTY_CONVERSATION",
            "QUERY_GENERATION_EMPTY_LAST_MESSAGE",
            "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          ]
        },
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo"
        },
        "queryCategorizationFailureReason": {
          "type": "string",
          "enum": [
            "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_CATEGORIZATION_INVALID_CONFIG",
            "QUERY_CATEGORIZATION_RESULT_NOT_FOUND",
            "QUERY_CATEGORIZATION_FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "cesDebugInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2beta1ServiceLatency"
        },
        "queryGenerationDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        },
        "datastoreResponseReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ]
        },
        "knowledgeAssistBehavior": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo"
    },
    "GoogleCloudDialogflowV2Context": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Context",
      "properties": {
        "name": {
          "type": "string"
        },
        "lifespanCount": {
          "type": "integer",
          "format": "int32"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettings": {
      "type": "object",
      "properties": {
        "loggingSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings"
        },
        "speechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings"
        },
        "dtmfSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings"
        },
        "audioExportGcsDestination": {
          "$ref": "GoogleCloudDialogflowCxV3beta1GcsDestination"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
    },
    "GoogleCloudDialogflowV2ConversationModel": {
      "type": "object",
      "properties": {
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "articleSuggestionModelMetadata": {
          "$ref": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata"
        },
        "displayName": {
          "type": "string"
        },
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2InputDataset"
          }
        },
        "languageCode": {
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING",
            "FAILED",
            "PENDING"
          ]
        },
        "smartReplyModelMetadata": {
          "$ref": "GoogleCloudDialogflowV2SmartReplyModelMetadata"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowV2ConversationModel"
    },
    "GoogleCloudDialogflowCxV3Form": {
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FormParameter"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3Form",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ImportDocumentsResponse": {
      "id": "GoogleCloudDialogflowV2ImportDocumentsResponse",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesResponse": {
      "properties": {
        "entityTypesUri": {
          "type": "string"
        },
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineDestination"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Fulfillment": {
      "properties": {
        "webhook": {
          "type": "string"
        },
        "generators": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings"
          }
        },
        "setParameterActions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction"
          },
          "type": "array"
        },
        "conditionalCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
          }
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "codeBlockFunction": {
          "type": "string"
        },
        "tag": {
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          },
          "type": "array"
        },
        "returnPartialResponses": {
          "type": "boolean"
        },
        "enableGenerativeFallback": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Fulfillment",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse",
      "properties": {
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineDestination"
        },
        "entityTypesUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FilterSpecs": {
      "properties": {
        "filter": {
          "type": "string"
        },
        "dataStores": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FilterSpecs"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata": {
      "properties": {
        "testErrors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata"
    },
    "GoogleCloudDialogflowCxV3ToolAuthentication": {
      "id": "GoogleCloudDialogflowCxV3ToolAuthentication",
      "type": "object",
      "properties": {
        "apiKeyConfig": {
          "$ref": "GoogleCloudDialogflowCxV3ToolAuthenticationApiKeyConfig"
        },
        "serviceAgentAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3ToolAuthenticationServiceAgentAuthConfig"
        },
        "serviceAccountAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3ToolAuthenticationServiceAccountAuthConfig"
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3ToolAuthenticationOAuthConfig"
        },
        "bearerTokenConfig": {
          "$ref": "GoogleCloudDialogflowCxV3ToolAuthenticationBearerTokenConfig"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCard": {
      "properties": {
        "title": {
          "type": "string"
        },
        "formattedText": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          },
          "type": "array"
        },
        "subtitle": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard"
    },
    "GoogleCloudDialogflowCxV3TransitionCoverage": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TransitionCoverage",
      "properties": {
        "coverageScore": {
          "type": "number",
          "format": "float"
        },
        "transitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionCoverageTransition"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Message": {
      "properties": {
        "participant": {
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "languageCode": {
          "type": "string"
        },
        "messageAnnotation": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1MessageAnnotation"
        },
        "name": {
          "type": "string"
        },
        "sentimentAnalysis": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "participantRole": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "responseMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessage"
          },
          "type": "array"
        },
        "content": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Message",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput": {
      "properties": {
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "differences": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestRunDifference"
          }
        },
        "textResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
          },
          "type": "array"
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Page"
        },
        "sessionParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          },
          "type": "array"
        },
        "mergeBehavior": {
          "type": "string",
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestions": {
      "type": "object",
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions"
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "properties": {
        "intent": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput"
    },
    "GoogleCloudDialogflowCxV3beta1TurnSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1TurnSignals",
      "type": "object",
      "properties": {
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "failureReasons": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ]
          },
          "type": "array"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "sentimentScore": {
          "format": "float",
          "type": "number"
        },
        "webhookStatuses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "noMatch": {
          "type": "boolean"
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "noUserInput": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3MatchIntentRequest": {
      "id": "GoogleCloudDialogflowCxV3MatchIntentRequest",
      "properties": {
        "queryInput": {
          "$ref": "GoogleCloudDialogflowCxV3QueryInput"
        },
        "queryParams": {
          "$ref": "GoogleCloudDialogflowCxV3QueryParameters"
        },
        "persistParameterChanges": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebService": {
      "properties": {
        "webhookType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "WEBHOOK_TYPE_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ]
        },
        "secretVersionForUsernamePassword": {
          "type": "string"
        },
        "parameterMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "allowedCaCerts": {
          "items": {
            "format": "byte",
            "type": "string"
          },
          "type": "array"
        },
        "serviceAccountAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig"
        },
        "username": {
          "type": "string",
          "deprecated": true
        },
        "requestBody": {
          "type": "string"
        },
        "secretVersionsForRequestHeaders": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue"
          },
          "type": "object"
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig"
        },
        "uri": {
          "type": "string"
        },
        "httpMethod": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "POST",
            "GET",
            "HEAD",
            "PUT",
            "DELETE",
            "PATCH",
            "OPTIONS"
          ]
        },
        "serviceAgentAuth": {
          "type": "string",
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "NONE",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "requestHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "password": {
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
    },
    "GoogleCloudDialogflowCxV3PlaybookTransition": {
      "id": "GoogleCloudDialogflowCxV3PlaybookTransition",
      "type": "object",
      "properties": {
        "playbook": {
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContent": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent",
      "properties": {
        "mediaType": {
          "type": "string",
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "mediaObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RolloutConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3RolloutConfig",
      "properties": {
        "rolloutSteps": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3RolloutConfigRolloutStep"
          },
          "type": "array"
        },
        "rolloutCondition": {
          "type": "string"
        },
        "failureCondition": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings": {
      "type": "object",
      "properties": {
        "inputParameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "generator": {
          "type": "string"
        },
        "outputParameter": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelect": {
      "id": "GoogleCloudDialogflowV2IntentMessageListSelect",
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageListSelectItem"
          },
          "type": "array"
        },
        "subtitle": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessage": {
      "type": "object",
      "properties": {
        "mixedAudio": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio"
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff"
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess"
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall"
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio"
        },
        "channel": {
          "type": "string"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
        },
        "endInteraction": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCall"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
    },
    "GoogleCloudDialogflowCxV3Agent": {
      "id": "GoogleCloudDialogflowCxV3Agent",
      "type": "object",
      "properties": {
        "enableMultiLanguageTraining": {
          "type": "boolean"
        },
        "startFlow": {
          "type": "string"
        },
        "textToSpeechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3TextToSpeechSettings"
        },
        "locked": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "timeZone": {
          "type": "string"
        },
        "securitySettings": {
          "type": "string"
        },
        "enableSpellCorrection": {
          "type": "boolean"
        },
        "answerFeedbackSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentAnswerFeedbackSettings"
        },
        "defaultLanguageCode": {
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true
        },
        "genAppBuilderSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentGenAppBuilderSettings"
        },
        "gitIntegrationSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentGitIntegrationSettings"
        },
        "clientCertificateSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentClientCertificateSettings"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "startPlaybook": {
          "type": "string"
        },
        "speechToTextSettings": {
          "$ref": "GoogleCloudDialogflowCxV3SpeechToTextSettings"
        },
        "supportedLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string"
        },
        "avatarUri": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "enableStackdriverLogging": {
          "deprecated": true,
          "type": "boolean"
        },
        "personalizationSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentPersonalizationSettings"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestion": {
      "properties": {
        "summarySections": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestion"
    },
    "GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse": {
      "type": "object",
      "properties": {
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse"
    },
    "GoogleCloudDialogflowCxV3AgentUtterance": {
      "id": "GoogleCloudDialogflowCxV3AgentUtterance",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseError",
      "type": "object",
      "properties": {
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer": {
      "type": "object",
      "properties": {
        "suggestedQueryAnswer": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer"
        },
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
        },
        "answerRecord": {
          "type": "string"
        },
        "knowledgeAssistDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer"
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse",
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "format": "byte"
        },
        "gcsUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SmartReplyModelMetadata": {
      "properties": {
        "trainingModelType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SmartReplyModelMetadata"
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContent": {
      "properties": {
        "mediaObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"
          }
        },
        "mediaType": {
          "type": "string",
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContent",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata"
    },
    "GoogleCloudDialogflowV2beta1ToolCallResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ToolCallResult",
      "properties": {
        "cesTool": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "rawContent": {
          "type": "string",
          "format": "byte"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResultError"
        },
        "answerRecord": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "cesApp": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3UserUtterance": {
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3UserUtterance",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3VariantsHistory": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "versionVariants": {
          "$ref": "GoogleCloudDialogflowCxV3VersionVariants"
        }
      },
      "id": "GoogleCloudDialogflowCxV3VariantsHistory"
    },
    "GoogleCloudDialogflowV2GcsDestination": {
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2GcsDestination"
    },
    "GoogleCloudDialogflowCxV3WebhookRequest": {
      "properties": {
        "text": {
          "type": "string"
        },
        "dtmfDigits": {
          "type": "string"
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "triggerEvent": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo"
        },
        "triggerIntent": {
          "type": "string"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3LanguageInfo"
        },
        "transcript": {
          "type": "string"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PlaybookInput": {
      "properties": {
        "precedingConversationSummary": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PlaybookInput"
    },
    "GoogleCloudDialogflowV2EntityTypeEntity": {
      "properties": {
        "value": {
          "type": "string"
        },
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2EntityTypeEntity",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantEvent": {
      "properties": {
        "conversation": {
          "type": "string"
        },
        "suggestionResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestionResult"
          },
          "type": "array"
        },
        "participant": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantEvent"
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponse",
      "properties": {
        "generatorSuggestionAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1FaqAnswer": {
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "question": {
          "type": "string"
        },
        "answer": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "source": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1FaqAnswer"
    },
    "GoogleCloudDialogflowCxV3beta1ExportIntentsMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportIntentsMetadata",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo": {
      "id": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo",
      "type": "object",
      "properties": {
        "followupIntentName": {
          "type": "string"
        },
        "parentFollowupIntentName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1EncryptionSpec": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1EncryptionSpec",
      "properties": {
        "kmsKey": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2FaqAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2FaqAnswer",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "answer": {
          "type": "string"
        },
        "question": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "source": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3HandlerLifecycleHandler": {
      "id": "GoogleCloudDialogflowCxV3HandlerLifecycleHandler",
      "properties": {
        "condition": {
          "type": "string"
        },
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "lifecycleStage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "sourceGenerator": {
          "type": "string"
        },
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestion"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer"
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest": {
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2beta1EncryptionSpec"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest"
    },
    "GoogleCloudDialogflowCxV3MatchIntentResponse": {
      "type": "object",
      "properties": {
        "transcript": {
          "type": "string"
        },
        "triggerEvent": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "matches": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Match"
          }
        },
        "triggerIntent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3MatchIntentResponse"
    },
    "GoogleCloudDialogflowCxV3ToolAuthenticationApiKeyConfig": {
      "properties": {
        "requestLocation": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ]
        },
        "keyName": {
          "type": "string"
        },
        "secretVersionForApiKey": {
          "type": "string"
        },
        "apiKey": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolAuthenticationApiKeyConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DetectIntentResponse": {
      "type": "object",
      "properties": {
        "allowCancellation": {
          "type": "boolean"
        },
        "responseType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "PARTIAL",
            "FINAL"
          ]
        },
        "outputAudio": {
          "format": "byte",
          "type": "string"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3OutputAudioConfig"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowCxV3QueryResult"
        },
        "responseId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DetectIntentResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion",
      "properties": {
        "title": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSafetySignals": {
      "properties": {
        "matchedBannedPhrase": {
          "type": "string"
        },
        "decision": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SAFETY_DECISION_UNSPECIFIED",
            "ACCEPTED_BY_SAFETY_CHECK",
            "REJECTED_BY_SAFETY_CHECK"
          ]
        },
        "bannedPhraseMatch": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "BANNED_PHRASE_MATCH_UNSPECIFIED",
            "BANNED_PHRASE_MATCH_NONE",
            "BANNED_PHRASE_MATCH_QUERY",
            "BANNED_PHRASE_MATCH_RESPONSE"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsSafetySignals"
    },
    "GoogleCloudDialogflowCxV3ListContinuousTestResultsResponse": {
      "type": "object",
      "properties": {
        "continuousTestResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ContinuousTestResult"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ListContinuousTestResultsResponse"
    },
    "GoogleCloudDialogflowCxV3AgentValidationResult": {
      "properties": {
        "flowValidationResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FlowValidationResult"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AgentValidationResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3InlineDestination": {
      "properties": {
        "content": {
          "format": "byte",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3InlineDestination"
    },
    "GoogleCloudDialogflowCxV3SearchConfig": {
      "id": "GoogleCloudDialogflowCxV3SearchConfig",
      "type": "object",
      "properties": {
        "boostSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3BoostSpecs"
          }
        },
        "filterSpecs": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FilterSpecs"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "lastMatchedIntent": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo"
    },
    "GoogleCloudDialogflowV2SuggestionResult": {
      "id": "GoogleCloudDialogflowV2SuggestionResult",
      "properties": {
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestArticlesResponse"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
        },
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
        },
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillIntentResponse": {
      "properties": {
        "responseId": {
          "type": "string"
        },
        "outputAudio": {
          "type": "string",
          "format": "byte"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3OutputAudioConfig"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowCxV3QueryResult"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FulfillIntentResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect": {
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCall": {
      "properties": {
        "inputParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "action": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ToolCall"
    },
    "GoogleCloudDialogflowCxV3Handler": {
      "type": "object",
      "properties": {
        "eventHandler": {
          "$ref": "GoogleCloudDialogflowCxV3HandlerEventHandler"
        },
        "lifecycleHandler": {
          "$ref": "GoogleCloudDialogflowCxV3HandlerLifecycleHandler"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Handler"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "properties": {
        "candidatesTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "similarityToLastQueryThreshold": {
          "type": "number",
          "format": "float"
        },
        "promptTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "totalTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "similarityToLastQuery": {
          "format": "float",
          "type": "number"
        },
        "thinkingBudgetTokens": {
          "format": "int32",
          "type": "integer"
        },
        "thinkingLevel": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "properties": {
        "suggestedQuery": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
        },
        "answerRecord": {
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
    },
    "GoogleCloudDialogflowCxV3ExportIntentsMetadata": {
      "id": "GoogleCloudDialogflowCxV3ExportIntentsMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListAgentsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListAgentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "agents": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Agent"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart": {
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart",
      "type": "object",
      "properties": {
        "entityType": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        },
        "userDefined": {
          "type": "boolean"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SafetySettingsPhrase": {
      "id": "GoogleCloudDialogflowCxV3SafetySettingsPhrase",
      "properties": {
        "text": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Flow": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Flow",
      "properties": {
        "locked": {
          "type": "boolean"
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          },
          "type": "array"
        },
        "multiLanguageSettings": {
          "$ref": "GoogleCloudDialogflowCxV3FlowMultiLanguageSettings"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "name": {
          "type": "string"
        },
        "outputParameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ParameterDefinition"
          }
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "nluSettings": {
          "$ref": "GoogleCloudDialogflowCxV3NluSettings"
        },
        "inputParameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ParameterDefinition"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillIntentRequest": {
      "properties": {
        "match": {
          "$ref": "GoogleCloudDialogflowCxV3Match"
        },
        "matchIntentRequest": {
          "$ref": "GoogleCloudDialogflowCxV3MatchIntentRequest"
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3OutputAudioConfig"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillIntentRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata": {
      "properties": {
        "conversationDataset": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestions": {
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestions",
      "type": "object",
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestion"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3VoiceSelectionParams": {
      "id": "GoogleCloudDialogflowCxV3VoiceSelectionParams",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "ssmlGender": {
          "type": "string",
          "enum": [
            "SSML_VOICE_GENDER_UNSPECIFIED",
            "SSML_VOICE_GENDER_MALE",
            "SSML_VOICE_GENDER_FEMALE",
            "SSML_VOICE_GENDER_NEUTRAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportAgentResponse",
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "commitSha": {
          "type": "string"
        },
        "agentContent": {
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Intent": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "dtmfPattern": {
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "isFallback": {
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase"
          }
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentParameter"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Intent"
    },
    "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio": {
      "properties": {
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "audioUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesResponse": {
      "properties": {
        "content": {
          "type": "string",
          "format": "byte"
        },
        "gcsUri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall": {
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "properties": {
        "snippets": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource",
      "type": "object"
    },
    "GoogleCloudDialogflowV2Message": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "participantRole": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "messageAnnotation": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2MessageAnnotation"
        },
        "sentimentAnalysis": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "participant": {
          "type": "string",
          "readOnly": true
        },
        "languageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2Message"
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestRequest": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponses": {
      "type": "object",
      "properties": {
        "simpleResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponse"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponses"
    },
    "GoogleCloudDialogflowCxV3Tool": {
      "id": "GoogleCloudDialogflowCxV3Tool",
      "properties": {
        "toolType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "TOOL_TYPE_UNSPECIFIED",
            "CUSTOMIZED_TOOL",
            "BUILTIN_TOOL"
          ]
        },
        "dataStoreSpec": {
          "$ref": "GoogleCloudDialogflowCxV3ToolDataStoreTool"
        },
        "description": {
          "type": "string"
        },
        "openApiSpec": {
          "$ref": "GoogleCloudDialogflowCxV3ToolOpenApiTool"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "functionSpec": {
          "$ref": "GoogleCloudDialogflowCxV3ToolFunctionTool"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse": {
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityType"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string"
        },
        "urlTypeHint": {
          "type": "string",
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
    },
    "GoogleCloudDialogflowV2beta1ServiceLatency": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ServiceLatency",
      "properties": {
        "internalServiceLatencies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolAuthenticationBearerTokenConfig": {
      "id": "GoogleCloudDialogflowCxV3ToolAuthenticationBearerTokenConfig",
      "properties": {
        "token": {
          "type": "string"
        },
        "secretVersionForToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3SessionEntityType": {
      "properties": {
        "name": {
          "type": "string"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EntityTypeEntity"
          },
          "type": "array"
        },
        "entityOverrideMode": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3SessionEntityType"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "id": "GoogleRpcStatus",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageText": {
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageText",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCard": {
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardRow"
          }
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "columnProperties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageColumnProperties"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageTableCard"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult": {
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult",
      "properties": {
        "duplicateSuggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          },
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion": {
      "id": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion",
      "type": "object",
      "properties": {
        "destinationName": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentParameter": {
      "type": "object",
      "properties": {
        "redact": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3IntentParameter"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageText": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageText",
      "properties": {
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1EntityTypeEntity": {
      "id": "GoogleCloudDialogflowV2beta1EntityTypeEntity",
      "type": "object",
      "properties": {
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestFaqAnswersResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse",
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "faqAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2FaqAnswer"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TransitionRoute": {
      "type": "object",
      "properties": {
        "condition": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "intent": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TransitionRoute"
    },
    "GoogleCloudDialogflowCxV3FlowImportStrategy": {
      "type": "object",
      "properties": {
        "globalImportStrategy": {
          "type": "string",
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3FlowImportStrategy"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3FlowMultiLanguageSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FlowMultiLanguageSettings",
      "properties": {
        "enableMultiLanguageDetection": {
          "type": "boolean"
        },
        "supportedResponseLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse": {
      "properties": {
        "latestMessage": {
[...]
