{
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudDialogflowV2ListGeneratorEvaluationsResponse": {
      "properties": {
        "generatorEvaluations": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2GeneratorEvaluation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ListGeneratorEvaluationsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard": {
      "properties": {
        "imageDisplayOptions": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ],
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SmartReplyModelMetadata": {
      "type": "object",
      "properties": {
        "trainingModelType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2SmartReplyModelMetadata"
    },
    "GoogleCloudDialogflowV2SmartReplyMetrics": {
      "id": "GoogleCloudDialogflowV2SmartReplyMetrics",
      "type": "object",
      "properties": {
        "allowlistCoverage": {
          "type": "number",
          "format": "float"
        },
        "conversationCount": {
          "type": "string",
          "format": "int64"
        },
        "topNMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SmartReplyMetricsTopNMetrics"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmText": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmText",
      "properties": {
        "text": {
          "type": "string"
        },
        "rbmSuggestion": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceDecomposition": {
      "properties": {
        "point": {
          "readOnly": true,
          "type": "string"
        },
        "adherenceReasoning": {
          "readOnly": true,
          "type": "string"
        },
        "isAdherent": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceDecomposition",
      "deprecated": true
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponses": {
      "type": "object",
      "properties": {
        "simpleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponse"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponses"
    },
    "GoogleCloudDialogflowCxV3TextInput": {
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TextInput"
    },
    "GoogleCloudDialogflowV2beta1GuidanceInstruction": {
      "id": "GoogleCloudDialogflowV2beta1GuidanceInstruction",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GuidanceInstructionAction"
          }
        },
        "disableSuggestedReply": {
          "type": "boolean"
        },
        "triggerEvent": {
          "type": "string",
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "displayDetails": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ValidationError": {
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "errorMessage": {
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR",
            "CRITICAL"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ValidationError"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardRow",
      "properties": {
        "dividerAfter": {
          "type": "boolean"
        },
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata",
      "properties": {
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "suggestionIndex": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "similarityScore": {
          "type": "number",
          "format": "float",
          "readOnly": true
        },
        "answerRecord": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2ExportAgentRequest": {
      "properties": {
        "agentUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ExportAgentRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SessionEntityType": {
      "id": "GoogleCloudDialogflowV2beta1SessionEntityType",
      "type": "object",
      "properties": {
        "entityOverrideMode": {
          "type": "string",
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2RaiSettingsRaiCategoryConfig": {
      "type": "object",
      "properties": {
        "sensitivityLevel": {
          "enum": [
            "SENSITIVITY_LEVEL_UNSPECIFIED",
            "BLOCK_MOST",
            "BLOCK_SOME",
            "BLOCK_FEW",
            "BLOCK_NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "category": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RAI_CATEGORY_UNSPECIFIED",
            "DANGEROUS_CONTENT",
            "SEXUALLY_EXPLICIT",
            "HARASSMENT",
            "HATE_SPEECH"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2RaiSettingsRaiCategoryConfig"
    },
    "GoogleCloudDialogflowV2DeployConversationModelRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowV2DeployConversationModelRequest"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardCell": {
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
    },
    "GoogleCloudDialogflowV2CompleteConversationRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowV2CompleteConversationRequest"
    },
    "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer",
      "properties": {
        "intentSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentSuggestion"
        },
        "answerRecord": {
          "type": "string"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        }
      }
    },
    "GoogleCloudDialogflowV2GenerateStatelessSummaryResponseSummary": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GenerateStatelessSummaryResponseSummary",
      "properties": {
        "text": {
          "type": "string"
        },
        "baselineModelVersion": {
          "type": "string"
        },
        "textSections": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2OutputAudioConfig": {
      "type": "object",
      "properties": {
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "audioEncoding": {
          "type": "string",
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW",
            "OUTPUT_AUDIO_ENCODING_ALAW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ]
        },
        "synthesizeSpeechConfig": {
          "$ref": "GoogleCloudDialogflowV2SynthesizeSpeechConfig"
        }
      },
      "id": "GoogleCloudDialogflowV2OutputAudioConfig"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource": {
      "properties": {
        "humanAgentSideConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig"
        },
        "agent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource",
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse": {
      "id": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse",
      "type": "object",
      "properties": {
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          },
          "type": "array"
        },
        "mergeBehavior": {
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "text": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig": {
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig",
      "type": "object",
      "properties": {
        "agent": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction"
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButton",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources": {
      "properties": {
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityTypeDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCall": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ToolCall",
      "properties": {
        "action": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "tool": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig",
      "properties": {
        "version": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2Conversation": {
      "id": "GoogleCloudDialogflowV2Conversation",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "conversationProfile": {
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "initialConversationProfile": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2ConversationProfile"
        },
        "telephonyConnectionInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfo"
        },
        "initialGeneratorContexts": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2ConversationGeneratorContext"
          },
          "type": "object"
        },
        "conversationStage": {
          "type": "string",
          "enum": [
            "CONVERSATION_STAGE_UNSPECIFIED",
            "VIRTUAL_AGENT_STAGE",
            "HUMAN_ASSIST_STAGE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "lifecycleState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "COMPLETED"
          ]
        },
        "ingestedContextReferences": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2ConversationContextReference"
          },
          "type": "object"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "phoneNumber": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2ConversationPhoneNumber"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCard": {
      "properties": {
        "title": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow"
          }
        },
        "columnProperties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
          }
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCard"
    },
    "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummary": {
      "properties": {
        "sortedTextSections": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummarySummarySection"
          },
          "type": "array"
        },
        "baselineModelVersion": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "textSections": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummary",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ValidationResult": {
      "properties": {
        "validationErrors": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ValidationError"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2ValidationResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Page": {
      "properties": {
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Form"
        },
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          }
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          }
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Page",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources": {
      "properties": {
        "intentDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent",
      "type": "object",
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue": {
      "properties": {
        "resolvedValue": {
          "type": "any"
        },
        "originalValue": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent"
    },
    "GoogleCloudDialogflowV2GuidanceInstructionAction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GuidanceInstructionAction",
      "properties": {
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfigDatasetInputDataConfig": {
      "properties": {
        "dataset": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfigDatasetInputDataConfig"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "type": "object",
      "properties": {
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "event": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationContextReference": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ConversationContextReference",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "contextContents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationContextReferenceContextContent"
          },
          "type": "array"
        },
        "updateMode": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UPDATE_MODE_UNSPECIFIED",
            "APPEND",
            "OVERWRITE"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentResponse",
      "properties": {
        "commitSha": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        },
        "agentUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentParameter": {
      "properties": {
        "entityType": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "redact": {
          "type": "boolean"
        },
        "isList": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentParameter"
    },
    "GoogleCloudDialogflowCxV3TestError": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TestError",
      "properties": {
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "testCase": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2GeneratorEvaluation": {
      "type": "object",
      "properties": {
        "generatorEvaluationConfig": {
          "$ref": "GoogleCloudDialogflowV2GeneratorEvaluationConfig"
        },
        "evaluationStatus": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2EvaluationStatus"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "completeTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "summarizationMetrics": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetrics"
        },
        "initialGenerator": {
          "$ref": "GoogleCloudDialogflowV2Generator"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2GeneratorEvaluation"
    },
    "GoogleCloudDialogflowCxV3beta1EventHandler": {
      "id": "GoogleCloudDialogflowCxV3beta1EventHandler",
      "properties": {
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "targetPage": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "targetPlaybook": {
          "type": "string"
        },
        "event": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SessionEntityType": {
      "properties": {
        "entityOverrideMode": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ]
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SessionEntityType"
    },
    "GoogleCloudDialogflowV2EvaluationStatus": {
      "id": "GoogleCloudDialogflowV2EvaluationStatus",
      "type": "object",
      "properties": {
        "done": {
          "readOnly": true,
          "type": "boolean"
        },
        "pipelineStatus": {
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCard": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "imageUri": {
          "type": "string"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCardButton"
          },
          "type": "array"
        },
        "subtitle": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCard"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton",
      "type": "object",
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ExportDocumentRequest": {
      "properties": {
        "smartMessagingPartialUpdate": {
          "type": "boolean"
        },
        "exportFullContent": {
          "type": "boolean"
        },
        "gcsDestination": {
          "$ref": "GoogleCloudDialogflowV2GcsDestination"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ExportDocumentRequest"
    },
    "GoogleCloudDialogflowV2beta1Context": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Context",
      "properties": {
        "name": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "lifespanCount": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowV2ListSipTrunksResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "sipTrunks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SipTrunk"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2ListSipTrunksResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentHandoffConfigLivePersonConfig": {
      "id": "GoogleCloudDialogflowV2HumanAgentHandoffConfigLivePersonConfig",
      "properties": {
        "accountNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2FulfillmentFeature": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "SMALLTALK"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2FulfillmentFeature"
    },
    "GoogleCloudDialogflowV2SpeechToTextConfigGeminiAsrConfig": {
      "type": "object",
      "properties": {
        "startOfSpeechSensitivity": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "START_SENSITIVITY_UNSPECIFIED",
            "START_SENSITIVITY_HIGH",
            "START_SENSITIVITY_LOW"
          ],
          "type": "string"
        },
        "modelId": {
          "type": "string"
        },
        "silenceDurationMs": {
          "type": "integer",
          "format": "int32"
        },
        "prefixPaddingMs": {
          "type": "integer",
          "format": "int32"
        },
        "endOfSpeechSensitivity": {
          "enum": [
            "END_SENSITIVITY_UNSPECIFIED",
            "END_SENSITIVITY_HIGH",
            "END_SENSITIVITY_LOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2SpeechToTextConfigGeminiAsrConfig"
    },
    "GoogleCloudDialogflowV2BatchUpdateIntentsResponse": {
      "id": "GoogleCloudDialogflowV2BatchUpdateIntentsResponse",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SpeechContext": {
      "properties": {
        "phrases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "boost": {
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SpeechContext"
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfigSummarizationConfig": {
      "properties": {
        "enableCompletenessEvaluation": {
          "deprecated": true,
          "type": "boolean"
        },
        "accuracyEvaluationVersion": {
          "type": "string",
          "deprecated": true
        },
        "completenessEvaluationVersion": {
          "deprecated": true,
          "type": "string"
        },
        "evaluatorVersion": {
          "type": "string"
        },
        "enableAccuracyEvaluation": {
          "type": "boolean",
          "deprecated": true
        }
      },
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfigSummarizationConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SmartReplyAnswer": {
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "reply": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SmartReplyAnswer"
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2GenerateStatelessSuggestionRequest": {
      "properties": {
        "generator": {
          "$ref": "GoogleCloudDialogflowV2Generator"
        },
        "generatorName": {
          "type": "string"
        },
        "triggerEvents": {
          "type": "array",
          "items": {
            "enum": [
              "TRIGGER_EVENT_UNSPECIFIED",
              "END_OF_UTTERANCE",
              "MANUAL_CALL",
              "CUSTOMER_MESSAGE",
              "AGENT_MESSAGE"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "securitySettings": {
          "type": "string"
        },
        "contextReferences": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2ConversationContextReference"
          },
          "type": "object"
        },
        "conversationContext": {
          "$ref": "GoogleCloudDialogflowV2ConversationContext"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2GenerateStatelessSuggestionRequest"
    },
    "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings",
      "properties": {
        "enabled": {
          "type": "boolean"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "dataStoreConnections": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnection"
          },
          "type": "array"
        },
        "targetPage": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ListGeneratorsResponse": {
      "id": "GoogleCloudDialogflowV2ListGeneratorsResponse",
      "properties": {
        "generators": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Generator"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolCallResultError": {
      "properties": {
        "retryable": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ToolCallResultError",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponse",
      "properties": {
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources"
        },
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AudioInput": {
      "properties": {
        "audio": {
          "format": "byte",
          "type": "string"
        },
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InputAudioConfig"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AudioInput",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow": {
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell"
          }
        },
        "dividerAfter": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow"
    },
    "GoogleCloudDialogflowCxV3beta1Webhook": {
      "id": "GoogleCloudDialogflowCxV3beta1Webhook",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig"
        },
        "disabled": {
          "type": "boolean"
        },
        "timeout": {
          "format": "google-duration",
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfo": {
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata",
      "type": "object",
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstruction": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstruction",
      "type": "object",
      "properties": {
        "condition": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult"
        },
        "systemAction": {
          "type": "string"
        },
        "agentAction": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "displayDetails": {
          "type": "string"
        },
        "triggeringEvent": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoMimeContent": {
      "type": "object",
      "properties": {
        "mimeType": {
          "type": "string"
        },
        "content": {
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoMimeContent"
    },
    "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse": {
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestion": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestion",
      "properties": {
        "agentActionSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion"
          },
          "type": "array"
        },
        "sampleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse"
          }
        },
        "applicableInstructions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstruction"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Version": {
      "properties": {
        "status": {
          "enum": [
            "VERSION_STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "READY",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "versionNumber": {
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2Version"
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse",
      "type": "object",
      "properties": {
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineDestination"
        },
        "entityTypesUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3BargeInConfig": {
      "properties": {
        "totalDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "noBargeInDuration": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3BargeInConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2DialogflowAssistAnswer": {
      "id": "GoogleCloudDialogflowV2DialogflowAssistAnswer",
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        },
        "intentSuggestion": {
          "$ref": "GoogleCloudDialogflowV2IntentSuggestion"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer",
      "properties": {
        "eventSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource"
        },
        "playbookSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "answerText": {
          "type": "string"
        },
        "faqSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
        },
        "generativeSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1GcsDestination": {
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1GcsDestination",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConversationInfo": {
      "id": "GoogleCloudDialogflowV2ConversationInfo",
      "properties": {
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Participant": {
      "id": "GoogleCloudDialogflowV2Participant",
      "properties": {
        "name": {
          "type": "string"
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "obfuscatedExternalUserId": {
          "type": "string"
        },
        "documentsMetadataFilters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sipRecordingMediaLabel": {
          "type": "string"
        },
        "agentDesktopSource": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AGENT_DESKTOP_SOURCE_UNSPECIFIED",
            "LIVE_PERSON",
            "GENESYS_CLOUD",
            "TWILIO",
            "SALESFORCE",
            "OTHER"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard",
      "type": "object",
      "properties": {
        "imageDisplayOptions": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ]
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestSmartRepliesResponse": {
      "id": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "smartReplyAnswers": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2SmartReplyAnswer"
          },
          "type": "array"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo",
      "properties": {
        "ingestionStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "INGESTION_STATUS_UNSPECIFIED",
            "INGESTION_STATUS_SUCCEEDED",
            "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE",
            "INGESTION_STATUS_PARSE_FAILED",
            "INGESTION_STATUS_INVALID_ENTRY",
            "INGESTION_STATUS_INVALID_FORMAT",
            "INGESTION_STATUS_LANGUAGE_MISMATCH"
          ],
          "type": "string"
        },
        "parameter": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestCase": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "notes": {
          "type": "string"
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        },
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          }
        },
        "name": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestCase"
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse",
      "properties": {
        "content": {
          "type": "string",
          "format": "byte"
        },
        "gcsUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AutomatedAgentConfig": {
      "properties": {
        "sessionTtl": {
          "type": "string",
          "format": "google-duration"
        },
        "agent": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2AutomatedAgentConfig"
    },
    "GoogleCloudDialogflowV2beta1SuggestionResult": {
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
        },
        "suggestDialogflowAssistsResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse"
        },
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse"
        },
        "suggestEntityExtractionResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse"
        },
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse"
        },
        "generateCompanionSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1GenerateCompanionSuggestionsResponse"
        },
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestionResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BargeInConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1BargeInConfig",
      "type": "object",
      "properties": {
        "totalDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "noBargeInDuration": {
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudDialogflowV2InputAudioConfig": {
      "type": "object",
      "properties": {
        "geminiAsrConfig": {
          "$ref": "GoogleCloudDialogflowV2SpeechToTextConfigGeminiAsrConfig"
        },
        "disableNoSpeechRecognizedEvent": {
          "type": "boolean"
        },
        "modelVariant": {
          "type": "string",
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "phraseSets": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "speechContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SpeechContext"
          }
        },
        "useGeminiAsr": {
          "type": "boolean"
        },
        "phraseHints": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "deprecated": true
        },
        "languageCode": {
          "type": "string"
        },
        "model": {
          "type": "string"
        },
        "audioEncoding": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ],
          "type": "string"
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "singleUtterance": {
          "type": "boolean"
        },
        "enableVoiceActivityEvents": {
          "type": "boolean"
        },
        "enableAutomaticPunctuation": {
          "type": "boolean"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2InputAudioConfig"
    },
    "GoogleCloudDialogflowV2Environment": {
      "id": "GoogleCloudDialogflowV2Environment",
      "properties": {
        "description": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STOPPED",
            "LOADING",
            "RUNNING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "textToSpeechSettings": {
          "$ref": "GoogleCloudDialogflowV2TextToSpeechSettings"
        },
        "agentVersion": {
          "type": "string"
        },
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowV2Fulfillment"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2CompanionSuggestionGuidance": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2CompanionSuggestionGuidance",
      "properties": {
        "toolCalls": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ToolCallSuggestion"
          },
          "type": "array"
        },
        "triggeringToolCallAnswerRecords": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedAction": {
          "type": "string"
        },
        "knowledgeSources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2CompanionSuggestionGuidanceKnowledgeSource"
          }
        },
        "groundingMetadata": {
          "$ref": "GoogleCloudDialogflowV2GroundingMetadata"
        },
        "suggestedReply": {
          "type": "string"
        },
        "instructionSource": {
          "$ref": "GoogleCloudDialogflowV2GuidanceInstruction"
        },
        "explanation": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2GcsSources": {
      "properties": {
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2GcsSources",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelect": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem"
          },
          "type": "array"
        },
        "subtitle": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelect"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken": {
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken",
      "properties": {
        "tokenCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "section": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "properties": {
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "suggestionIndex": {
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "similarityScore": {
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "sources": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ReloadDocumentRequest": {
      "properties": {
        "importGcsCustomMetadata": {
          "type": "boolean"
        },
        "smartMessagingPartialUpdate": {
          "type": "boolean"
        },
        "contentUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ReloadDocumentRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo": {
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
          }
        },
        "displayName": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "lastMatchedIntent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponse": {
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponse",
      "properties": {
        "intents": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig",
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SpeechWordInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SpeechWordInfo",
      "properties": {
        "endOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "startOffset": {
          "format": "google-duration",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "word": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportIntentsMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportIntentsMetadata",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1EntityType": {
      "type": "object",
      "properties": {
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        },
        "name": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ]
        },
        "displayName": {
          "type": "string"
        },
        "autoExpansionMode": {
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EntityType"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText",
      "type": "object",
      "properties": {
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        }
      }
    },
    "GoogleCloudDialogflowV2SynthesizeSpeechConfig": {
      "properties": {
        "volumeGainDb": {
          "type": "number",
          "format": "double"
        },
        "pronunciations": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2CustomPronunciationParams"
          },
          "type": "array"
        },
        "effectsProfileId": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "speakingRate": {
          "type": "number",
          "format": "double"
        },
        "pitch": {
          "format": "double",
          "type": "number"
        },
        "voice": {
          "$ref": "GoogleCloudDialogflowV2VoiceSelectionParams"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SynthesizeSpeechConfig"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCallResultError": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolCallResultError",
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeBase": {
      "id": "GoogleCloudDialogflowV2KnowledgeBase",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult": {
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult",
      "properties": {
        "duplicateSuggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          },
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponse",
      "properties": {
        "displayText": {
          "type": "string"
        },
        "textToSpeech": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GroundingChunkRetrievedContext": {
      "properties": {
        "text": {
          "type": "string",
          "readOnly": true
        },
        "uri": {
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GroundingChunkRetrievedContext"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources": {
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources",
      "type": "object",
      "properties": {
        "intentDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Environment": {
      "properties": {
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig"
        },
        "displayName": {
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "versionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig"
          }
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Environment",
      "type": "object"
    },
    "GoogleCloudDialogflowV2EvaluationConfigSmartReplyConfig": {
      "properties": {
        "allowlistDocument": {
          "type": "string"
        },
        "maxResultCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2EvaluationConfigSmartReplyConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig": {
      "id": "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig",
      "type": "object",
      "properties": {
        "service": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DeployFlowMetadata": {
      "id": "GoogleCloudDialogflowCxV3DeployFlowMetadata",
      "properties": {
        "testErrors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1IntentSuggestion",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "intentV2": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestResponse": {
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestResponse",
      "properties": {
        "continuousTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3ContinuousTestResult"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestions": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions",
      "type": "object",
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestConfig": {
      "id": "GoogleCloudDialogflowCxV3TestConfig",
      "type": "object",
      "properties": {
        "page": {
          "type": "string"
        },
        "trackingParameters": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "flow": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2GenerateStatelessSuggestionResponse": {
      "properties": {
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2GenerateStatelessSuggestionResponse"
    },
    "GoogleCloudDialogflowV2ListContextsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListContextsResponse",
      "properties": {
        "contexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseError",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GroundingChunk": {
      "properties": {
        "retrievedContext": {
          "$ref": "GoogleCloudDialogflowV2GroundingChunkRetrievedContext"
        },
        "web": {
          "$ref": "GoogleCloudDialogflowV2GroundingChunkWeb"
        }
      },
      "id": "GoogleCloudDialogflowV2GroundingChunk",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse",
      "properties": {
        "mergeBehavior": {
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3LanguageInfo": {
      "id": "GoogleCloudDialogflowCxV3LanguageInfo",
      "properties": {
        "confidenceScore": {
          "type": "number",
          "format": "float"
        },
        "resolvedLanguageCode": {
          "type": "string"
        },
        "inputLanguageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig": {
      "type": "object",
      "properties": {
        "clientSecret": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig"
    },
    "GoogleCloudDialogflowV2IntentMessageText": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageText",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrase": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "timesAddedCount": {
          "format": "int32",
          "type": "integer"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrase"
    },
    "GoogleCloudDialogflowV2ArticleAnswer": {
      "id": "GoogleCloudDialogflowV2ArticleAnswer",
      "type": "object",
      "properties": {
        "snippets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "answerRecord": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "title": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult": {
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult"
    },
    "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig": {
      "type": "object",
      "properties": {
        "enablePredeploymentRun": {
          "type": "boolean"
        },
        "testCases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableContinuousRun": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia",
      "type": "object",
      "properties": {
        "thumbnailUri": {
          "type": "string"
        },
        "height": {
          "type": "string",
          "enum": [
            "HEIGHT_UNSPECIFIED",
            "SHORT",
            "MEDIUM",
            "TALL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "fileUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCardButton": {
      "type": "object",
      "properties": {
        "postback": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCardButton"
    },
    "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata"
    },
    "GoogleCloudDialogflowV2CompanionAgentSkillConfig": {
      "type": "object",
      "properties": {
        "translationSkillConfig": {
          "$ref": "GoogleCloudDialogflowV2CompanionAgentTranslationSkillConfig"
        },
        "guidanceSkillConfig": {
          "$ref": "GoogleCloudDialogflowV2CompanionAgentGuidanceSkillConfig"
        },
        "skillTriggeringEvent": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SKILL_TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2CompanionAgentSkillConfig"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeAnswer": {
      "id": "GoogleCloudDialogflowV2SearchKnowledgeAnswer",
      "properties": {
        "answerSources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SearchKnowledgeAnswerAnswerSource"
          }
        },
        "answerType": {
          "enum": [
            "ANSWER_TYPE_UNSPECIFIED",
            "FAQ",
            "GENERATIVE",
            "INTENT",
            "PLAYBOOK",
            "EVENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "answerRecord": {
          "type": "string"
        },
        "answer": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCard": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "formattedText": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCard"
    },
    "GoogleCloudDialogflowV2EvaluationConfig": {
      "id": "GoogleCloudDialogflowV2EvaluationConfig",
      "properties": {
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2InputDataset"
          }
        },
        "smartComposeConfig": {
          "$ref": "GoogleCloudDialogflowV2EvaluationConfigSmartComposeConfig"
        },
        "smartReplyConfig": {
          "$ref": "GoogleCloudDialogflowV2EvaluationConfigSmartReplyConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceRubric": {
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceRubric",
      "properties": {
        "question": {
          "type": "string",
          "readOnly": true
        },
        "isAddressed": {
          "readOnly": true,
          "type": "boolean"
        },
        "reasoning": {
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageQuickReplies": {
      "id": "GoogleCloudDialogflowV2IntentMessageQuickReplies",
      "properties": {
        "title": {
          "type": "string"
        },
        "quickReplies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigMessageAnalysisConfig": {
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigMessageAnalysisConfig",
      "properties": {
        "enableSentimentAnalysisV3": {
          "type": "boolean"
        },
        "enableEntityExtraction": {
          "type": "boolean"
        },
        "enableSentimentAnalysis": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListIntentsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2ListIntentsResponse"
    },
    "GoogleCloudDialogflowV2SipConfig": {
      "id": "GoogleCloudDialogflowV2SipConfig",
      "properties": {
        "keepConversationRunning": {
          "type": "boolean"
        },
        "allowVirtualAgentInteraction": {
          "type": "boolean"
        },
        "ignoreReinviteMediaDirection": {
          "type": "boolean"
        },
        "createConversationOnTheFly": {
          "type": "boolean"
        },
        "copyInboundCallLegHeaders": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "inactiveStart": {
          "type": "boolean"
        },
        "maxAudioRecordingDuration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationMetadata": {
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationMetadata",
      "type": "object",
      "properties": {
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "conversationDataset": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall": {
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "properties": {
        "text": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet",
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionFeatureConfig": {
      "properties": {
        "suggestionFeature": {
          "$ref": "GoogleCloudDialogflowV2SuggestionFeature"
        },
        "conversationModelConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationModelConfig"
        },
        "enableQuerySuggestionWhenNoAnswer": {
          "type": "boolean"
        },
        "conversationProcessConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationProcessConfig"
        },
        "queryConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfig"
        },
        "suggestionTriggerEvent": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE"
          ]
        },
        "raiSettings": {
          "$ref": "GoogleCloudDialogflowV2RaiSettings"
        },
        "disableAgentQueryLogging": {
          "type": "boolean"
        },
        "enableEventBasedSuggestion": {
          "type": "boolean"
        },
        "enableConversationAugmentedQuery": {
          "type": "boolean"
        },
        "disableQuerySearchContext": {
          "type": "boolean"
        },
        "enableResponseDebugInfo": {
          "type": "boolean"
        },
        "enableQuerySuggestionOnly": {
          "type": "boolean"
        },
        "suggestionTriggerSettings": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionTriggerSettings"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionFeatureConfig"
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart",
      "properties": {
        "text": {
          "type": "string"
        },
        "parameterId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2TextToSpeechSettings": {
      "id": "GoogleCloudDialogflowV2TextToSpeechSettings",
      "properties": {
        "enableTextToSpeech": {
          "type": "boolean"
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "synthesizeSpeechConfigs": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2SynthesizeSpeechConfig"
          },
          "type": "object"
        },
        "outputAudioEncoding": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW",
            "OUTPUT_AUDIO_ENCODING_ALAW"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelect": {
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageListSelectItem"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageListSelect"
    },
    "GoogleCloudDialogflowV2BatchCreateEntitiesRequest": {
      "id": "GoogleCloudDialogflowV2BatchCreateEntitiesRequest",
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          }
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "type": "object",
      "properties": {
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "textResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          },
          "type": "array"
        },
        "sessionParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "diagnosticInfo": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "differences": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          }
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeOperationMetadata": {
      "properties": {
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ]
        },
        "exportOperationMetadata": {
          "$ref": "GoogleCloudDialogflowV2ExportOperationMetadata"
        },
        "knowledgeBase": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase": {
      "properties": {
        "condition": {
          "type": "string"
        },
        "caseContent": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase"
    },
    "GoogleCloudDialogflowV2SuggestFaqAnswersResponse": {
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "faqAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2FaqAnswer"
          }
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo": {
      "properties": {
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
        },
        "queryGenerationFailureReason": {
          "enum": [
            "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_GENERATION_OUT_OF_QUOTA",
            "QUERY_GENERATION_FAILED",
            "QUERY_GENERATION_NO_QUERY_GENERATED",
            "QUERY_GENERATION_RAI_FAILED",
            "NOT_IN_ALLOWLIST",
            "QUERY_GENERATION_QUERY_REDACTED",
            "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED",
            "QUERY_GENERATION_EMPTY_CONVERSATION",
            "QUERY_GENERATION_EMPTY_LAST_MESSAGE",
            "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "queryGenerationDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        },
        "queryCategorizationFailureReason": {
          "enum": [
            "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_CATEGORIZATION_INVALID_CONFIG",
            "QUERY_CATEGORIZATION_RESULT_NOT_FOUND",
            "QUERY_CATEGORIZATION_FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "datastoreResponseReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ]
        },
        "knowledgeAssistBehavior": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        },
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2ServiceLatency"
        },
        "cesDebugInfo": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo"
    },
    "GoogleCloudDialogflowV2SuggestSmartRepliesRequest": {
      "properties": {
        "currentTextInput": {
          "$ref": "GoogleCloudDialogflowV2TextInput"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestSmartRepliesRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1Form": {
      "id": "GoogleCloudDialogflowCxV3beta1Form",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FormParameter"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SearchKnowledgeRequest": {
      "id": "GoogleCloudDialogflowV2SearchKnowledgeRequest",
      "properties": {
        "endUserMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "exactSearch": {
          "type": "boolean"
        },
        "conversation": {
          "type": "string"
        },
        "query": {
          "$ref": "GoogleCloudDialogflowV2TextInput"
        },
        "sessionId": {
          "type": "string"
        },
        "latestMessage": {
          "type": "string"
        },
        "searchConfig": {
          "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfig"
        },
        "parent": {
          "type": "string"
        },
        "querySource": {
          "enum": [
            "QUERY_SOURCE_UNSPECIFIED",
            "AGENT_QUERY",
            "SUGGESTED_QUERY"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "conversationProfile": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetail": {
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetail",
      "type": "object",
      "properties": {
        "summarySections": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarySuggestionSummarySection"
          }
        },
        "messageEntries": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2MessageEntry"
          },
          "readOnly": true,
          "type": "array"
        },
        "sectionTokens": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken"
          },
          "readOnly": true,
          "type": "array"
        },
        "metricDetails": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetailMetricDetail"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources",
      "properties": {
        "instructionIndexes": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig": {
      "properties": {
        "enablePredeploymentRun": {
          "type": "boolean"
        },
        "testCases": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enableContinuousRun": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ArticleAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ArticleAnswer",
      "properties": {
        "snippets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "answerRecord": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ConnectionErrorDetails": {
      "id": "GoogleCloudDialogflowV2ConnectionErrorDetails",
      "properties": {
        "certificateState": {
          "enum": [
            "CERTIFICATE_STATE_UNSPECIFIED",
            "CERTIFICATE_VALID",
            "CERTIFICATE_INVALID",
            "CERTIFICATE_EXPIRED",
            "CERTIFICATE_HOSTNAME_NOT_FOUND",
            "CERTIFICATE_UNAUTHENTICATED",
            "CERTIFICATE_TRUST_STORE_NOT_FOUND",
            "CERTIFICATE_HOSTNAME_INVALID_FORMAT",
            "CERTIFICATE_QUOTA_EXCEEDED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "",
[...]
