{
  "servicePath": "",
  "basePath": "",
  "ownerName": "Google",
  "version_module": true,
  "discoveryVersion": "v1",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "batchPath": "batch",
  "title": "Dialogflow API",
  "name": "dialogflow",
  "version": "v2beta1",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "resources": {
    "projects": {
      "methods": {
        "deleteAgent": {
          "path": "v2beta1/{+parent}/agent",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "description": "",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "id": "dialogflow.projects.deleteAgent",
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v2beta1/projects/{projectsId}/agent",
          "httpMethod": "DELETE",
          "parameters": {
            "parent": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+$"
            }
          }
        },
        "setAgent": {
          "path": "v2beta1/{+parent}/agent",
          "flatPath": "v2beta1/projects/{projectsId}/agent",
          "request": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          },
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          },
          "httpMethod": "POST",
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            },
            "parent": {
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "type": "string"
            }
          },
          "description": "",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "id": "dialogflow.projects.setAgent"
        },
        "getAgent": {
          "flatPath": "v2beta1/projects/{projectsId}/agent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "parameterOrder": [
            "parent"
          ],
          "id": "dialogflow.projects.getAgent",
          "description": "",
          "parameters": {
            "parent": {
              "required": true,
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          },
          "path": "v2beta1/{+parent}/agent"
        }
      },
      "resources": {
        "conversations": {
          "resources": {
            "messages": {
              "methods": {
                "batchCreate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchCreateMessagesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "path": "v2beta1/{+parent}/messages:batchCreate",
                  "description": "",
                  "id": "dialogflow.projects.conversations.messages.batchCreate",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchCreateMessagesRequest"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/messages:batchCreate"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListMessagesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.conversations.messages.list",
                  "description": "",
                  "path": "v2beta1/{+parent}/messages",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/messages"
                }
              }
            },
            "participants": {
              "resources": {
                "suggestions": {
                  "methods": {
                    "list": {
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions",
                      "id": "dialogflow.projects.conversations.participants.suggestions.list",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "deprecated": true,
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListSuggestionsResponse"
                      },
                      "path": "v2beta1/{+parent}/suggestions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": ""
                    },
                    "suggestSmartReplies": {
                      "path": "v2beta1/{+parent}/suggestions:suggestSmartReplies",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesRequest"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestSmartReplies",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestSmartReplies",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "suggestKnowledgeAssist": {
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistRequest"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse"
                      },
                      "path": "v2beta1/{+parent}/suggestions:suggestKnowledgeAssist",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestKnowledgeAssist",
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestKnowledgeAssist",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "suggestFaqAnswers": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersRequest"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v2beta1/{+parent}/suggestions:suggestFaqAnswers",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestFaqAnswers",
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestFaqAnswers",
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "compile": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1CompileSuggestionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1CompileSuggestionResponse"
                      },
                      "id": "dialogflow.projects.conversations.participants.suggestions.compile",
                      "deprecated": true,
                      "description": "",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v2beta1/{+parent}/suggestions:compile",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:compile"
                    },
                    "suggestArticles": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesRequest"
                      },
                      "description": "",
                      "path": "v2beta1/{+parent}/suggestions:suggestArticles",
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestArticles",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "type": "string"
                        }
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestArticles"
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.conversations.participants.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}",
                  "path": "v2beta1/{+name}"
                },
                "patch": {
                  "path": "v2beta1/{+name}",
                  "id": "dialogflow.projects.conversations.participants.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "PATCH",
                  "description": ""
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "dialogflow.projects.conversations.participants.create",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+parent}/participants",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  }
                },
                "analyzeContent": {
                  "parameters": {
                    "participant": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "participant"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}:analyzeContent",
                  "id": "dialogflow.projects.conversations.participants.analyzeContent",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnalyzeContentResponse"
                  },
                  "description": "",
                  "path": "v2beta1/{+participant}:analyzeContent",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnalyzeContentRequest"
                  }
                },
                "list": {
                  "path": "v2beta1/{+parent}/participants",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/conversations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListParticipantsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.conversations.participants.list"
                }
              }
            },
            "suggestions": {
              "methods": {
                "generate": {
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/suggestions:generate",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsRequest"
                  },
                  "id": "dialogflow.projects.conversations.suggestions.generate",
                  "parameters": {
                    "conversation": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+conversation}/suggestions:generate",
                  "parameterOrder": [
                    "conversation"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse"
                  }
                },
                "suggestConversationSummary": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/suggestions:suggestConversationSummary",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1SuggestConversationSummaryRequest"
                  },
                  "parameterOrder": [
                    "conversation"
                  ],
                  "parameters": {
                    "conversation": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "dialogflow.projects.conversations.suggestions.suggestConversationSummary",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponse"
                  },
                  "httpMethod": "POST",
                  "path": "v2beta1/{+conversation}/suggestions:suggestConversationSummary",
                  "description": ""
                },
                "searchKnowledge": {
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/suggestions:searchKnowledge",
                  "path": "v2beta1/{+conversation}/suggestions:searchKnowledge",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeResponse"
                  },
                  "parameters": {
                    "conversation": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "conversation"
                  ],
                  "id": "dialogflow.projects.conversations.suggestions.searchKnowledge",
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeRequest"
                  }
                }
              }
            }
          },
          "methods": {
            "create": {
              "id": "dialogflow.projects.conversations.create",
              "flatPath": "v2beta1/projects/{projectsId}/conversations",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+parent}/conversations",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "conversationId": {
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "",
              "httpMethod": "POST"
            },
            "get": {
              "description": "",
              "id": "dialogflow.projects.conversations.get",
              "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}",
              "path": "v2beta1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "complete": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "path": "v2beta1/{+name}:complete",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1CompleteConversationRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}:complete",
              "id": "dialogflow.projects.conversations.complete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": ""
            },
            "list": {
              "path": "v2beta1/{+parent}/conversations",
              "id": "dialogflow.projects.conversations.list",
              "flatPath": "v2beta1/projects/{projectsId}/conversations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListConversationsResponse"
              },
              "description": "",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "operations": {
          "methods": {
            "cancel": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "POST",
              "id": "dialogflow.projects.operations.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "path": "v2beta1/{+name}:cancel",
              "flatPath": "v2beta1/projects/{projectsId}/operations/{operationsId}:cancel"
            },
            "list": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "dialogflow.projects.operations.list",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "flatPath": "v2beta1/projects/{projectsId}/operations",
              "path": "v2beta1/{+name}/operations"
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET",
              "id": "dialogflow.projects.operations.get",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v2beta1/{+name}",
              "description": ""
            }
          }
        },
        "suggestions": {
          "methods": {
            "generateStatelessSummary": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "dialogflow.projects.suggestions.generateStatelessSummary",
              "path": "v2beta1/{+parent}/suggestions:generateStatelessSummary",
              "flatPath": "v2beta1/projects/{projectsId}/suggestions:generateStatelessSummary",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryRequest"
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryResponse"
              },
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "searchKnowledge": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeRequest"
              },
              "description": "",
              "flatPath": "v2beta1/projects/{projectsId}/suggestions:searchKnowledge",
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.suggestions.searchKnowledge",
              "path": "v2beta1/{+parent}/suggestions:searchKnowledge"
            }
          }
        },
        "knowledgeBases": {
          "resources": {
            "documents": {
              "methods": {
                "create": {
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Document"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                      "type": "string"
                    },
                    "importGcsCustomMetadata": {
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.knowledgeBases.documents.create",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v2beta1/{+parent}/documents"
                },
                "list": {
                  "path": "v2beta1/{+parent}/documents",
                  "description": "",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents",
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.knowledgeBases.documents.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListDocumentsResponse"
                  }
                },
                "import": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "dialogflow.projects.knowledgeBases.documents.import",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2beta1/{+parent}/documents:import",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1ImportDocumentsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents:import",
                  "description": ""
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Document"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.knowledgeBases.documents.patch",
                  "path": "v2beta1/{+name}",
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}"
                },
                "get": {
                  "id": "dialogflow.projects.knowledgeBases.documents.get",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Document"
                  },
                  "path": "v2beta1/{+name}"
                },
                "reload": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v2beta1/{+name}:reload",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1ReloadDocumentRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:reload",
                  "id": "dialogflow.projects.knowledgeBases.documents.reload",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v2beta1/{+name}",
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.knowledgeBases.documents.delete"
                }
              }
            }
          },
          "methods": {
            "get": {
              "description": "",
              "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$"
                }
              },
              "id": "dialogflow.projects.knowledgeBases.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+name}"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "path": "v2beta1/{+name}",
              "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
              },
              "id": "dialogflow.projects.knowledgeBases.patch",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": ""
            },
            "create": {
              "path": "v2beta1/{+parent}/knowledgeBases",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
              },
              "id": "dialogflow.projects.knowledgeBases.create",
              "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases",
              "parameterOrder": [
                "parent"
              ],
              "description": ""
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListKnowledgeBasesResponse"
              },
              "description": "",
              "id": "dialogflow.projects.knowledgeBases.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v2beta1/{+parent}/knowledgeBases",
              "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases"
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "path": "v2beta1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                  "type": "string"
                },
                "force": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.knowledgeBases.delete"
            }
          }
        },
        "phoneNumbers": {
          "methods": {
            "undelete": {
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.phoneNumbers.undelete",
              "flatPath": "v2beta1/projects/{projectsId}/phoneNumbers/{phoneNumbersId}:undelete",
              "path": "v2beta1/{+name}:undelete",
              "description": "",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1UndeletePhoneNumberRequest"
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1PhoneNumber"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/phoneNumbers/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "list": {
              "description": "",
              "parameters": {
                "showDeleted": {
                  "location": "query",
                  "type": "boolean"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v2beta1/{+parent}/phoneNumbers",
              "id": "dialogflow.projects.phoneNumbers.list",
              "httpMethod": "GET",
              "flatPath": "v2beta1/projects/{projectsId}/phoneNumbers",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListPhoneNumbersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "id": "dialogflow.projects.phoneNumbers.patch",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1PhoneNumber"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/phoneNumbers/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1PhoneNumber"
              },
              "path": "v2beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/phoneNumbers/{phoneNumbersId}",
              "description": ""
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v2beta1/{+name}",
              "description": "",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1PhoneNumber"
              },
              "flatPath": "v2beta1/projects/{projectsId}/phoneNumbers/{phoneNumbersId}",
              "httpMethod": "DELETE",
              "id": "dialogflow.projects.phoneNumbers.delete",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/phoneNumbers/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            }
          }
        },
        "answerRecords": {
          "methods": {
            "patch": {
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
              },
              "flatPath": "v2beta1/projects/{projectsId}/answerRecords/{answerRecordsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "id": "dialogflow.projects.answerRecords.patch",
              "httpMethod": "PATCH",
              "path": "v2beta1/{+name}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/answerRecords/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "httpMethod": "GET",
              "flatPath": "v2beta1/projects/{projectsId}/answerRecords",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "dialogflow.projects.answerRecords.list",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListAnswerRecordsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v2beta1/{+parent}/answerRecords"
            },
            "get": {
              "description": "",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/answerRecords/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v2beta1/projects/{projectsId}/answerRecords/{answerRecordsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v2beta1/{+name}",
              "id": "dialogflow.projects.answerRecords.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "deprecated": true,
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
              }
            }
          }
        },
        "conversationProfiles": {
          "methods": {
            "setSuggestionFeatureConfig": {
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigRequest"
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}:setSuggestionFeatureConfig",
              "parameterOrder": [
                "conversationProfile"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "parameters": {
                "conversationProfile": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v2beta1/{+conversationProfile}:setSuggestionFeatureConfig",
              "id": "dialogflow.projects.conversationProfiles.setSuggestionFeatureConfig",
              "httpMethod": "POST"
            },
            "clearSuggestionFeatureConfig": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "",
              "parameters": {
                "conversationProfile": {
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigRequest"
              },
              "id": "dialogflow.projects.conversationProfiles.clearSuggestionFeatureConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "conversationProfile"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}:clearSuggestionFeatureConfig",
              "path": "v2beta1/{+conversationProfile}:clearSuggestionFeatureConfig"
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "description": "",
              "id": "dialogflow.projects.conversationProfiles.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v2beta1/{+name}"
            },
            "patch": {
              "description": "",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.conversationProfiles.patch",
              "parameterOrder": [
                "name"
              ],
              "path": "v2beta1/{+name}",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "path": "v2beta1/{+name}",
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "DELETE",
              "id": "dialogflow.projects.conversationProfiles.delete",
              "description": ""
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.conversationProfiles.list",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListConversationProfilesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+parent}/conversationProfiles",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles",
              "description": ""
            },
            "create": {
              "id": "dialogflow.projects.conversationProfiles.create",
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v2beta1/{+parent}/conversationProfiles",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              }
            }
          }
        },
        "generators": {
          "methods": {
            "list": {
              "path": "v2beta1/{+parent}/generators",
              "id": "dialogflow.projects.generators.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListGeneratorsResponse"
              },
              "flatPath": "v2beta1/projects/{projectsId}/generators",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1Generator"
              },
              "id": "dialogflow.projects.generators.create",
              "path": "v2beta1/{+parent}/generators",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Generator"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "flatPath": "v2beta1/projects/{projectsId}/generators",
              "httpMethod": "POST",
              "parameters": {
                "generatorId": {
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                }
              }
            }
          }
        },
        "locations": {
          "methods": {
            "getAgent": {
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Agent"
              },
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.locations.getAgent",
              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+parent}/agent"
            },
            "getEncryptionSpec": {
              "id": "dialogflow.projects.locations.getEncryptionSpec",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+name}",
              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/encryptionSpec",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1EncryptionSpec"
              },
              "description": "",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/encryptionSpec$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "deleteAgent": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v2beta1/{+parent}/agent",
              "httpMethod": "DELETE",
              "id": "dialogflow.projects.locations.deleteAgent",
              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": ""
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "path": "v2beta1/{+name}",
              "id": "dialogflow.projects.locations.get",
              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "description": ""
            },
            "setAgent": {
              "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/agent",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.locations.setAgent",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1Agent"
              },
              "path": "v2beta1/{+parent}/agent",
              "parameterOrder": [
                "parent"
              ],
              "description": "",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Agent"
              },
              "httpMethod": "POST"
            },
            "list": {
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "id": "dialogflow.projects.locations.list",
              "path": "v2beta1/{+name}/locations",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "description": ""
            }
          },
          "resources": {
            "generators": {
              "resources": {
                "evaluations": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+/evaluations/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations/{evaluationsId}",
                      "path": "v2beta1/{+name}",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1GeneratorEvaluation"
                      },
                      "id": "dialogflow.projects.locations.generators.evaluations.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "delete": {
                      "path": "v2beta1/{+name}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "",
                      "id": "dialogflow.projects.locations.generators.evaluations.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations/{evaluationsId}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+/evaluations/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+parent}/evaluations",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "dialogflow.projects.locations.generators.evaluations.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1GeneratorEvaluation"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations",
                      "description": ""
                    },
                    "list": {
                      "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+parent}/evaluations",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListGeneratorEvaluationsResponse"
                      },
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.generators.evaluations.list"
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "description": "",
                  "id": "dialogflow.projects.locations.generators.get",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Generator"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "description": "",
                  "id": "dialogflow.projects.locations.generators.delete",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v2beta1/{+parent}/generators",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators",
                  "id": "dialogflow.projects.locations.generators.list",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListGeneratorsResponse"
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "patch": {
                  "path": "v2beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Generator"
                  },
                  "id": "dialogflow.projects.locations.generators.patch",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Generator"
                  },
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Generator"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Generator"
                  },
                  "path": "v2beta1/{+parent}/generators",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.locations.generators.create",
                  "description": "",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "generatorId": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/generators"
                }
              }
            },
            "sipTrunks": {
              "methods": {
                "delete": {
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/sipTrunks/{sipTrunksId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/sipTrunks/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.sipTrunks.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v2beta1/{+name}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.locations.sipTrunks.list",
                  "httpMethod": "GET",
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListSipTrunksResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/sipTrunks",
                  "path": "v2beta1/{+parent}/sipTrunks"
                },
                "get": {
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/sipTrunks/{sipTrunksId}",
                  "path": "v2beta1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/sipTrunks/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.sipTrunks.get",
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1SipTrunk"
                  }
                },
                "patch": {
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/sipTrunks/{sipTrunksId}",
                  "id": "dialogflow.projects.locations.sipTrunks.patch",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1SipTrunk"
                  },
                  "httpMethod": "PATCH",
                  "path": "v2beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sipTrunks/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1SipTrunk"
                  }
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1SipTrunk"
                  },
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2beta1/{+parent}/sipTrunks",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1SipTrunk"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/sipTrunks",
                  "id": "dialogflow.projects.locations.sipTrunks.create"
                }
              }
            },
            "suggestions": {
              "methods": {
                "generateStatelessSummary": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/suggestions:generateStatelessSummary",
                  "id": "dialogflow.projects.locations.suggestions.generateStatelessSummary",
                  "path": "v2beta1/{+parent}/suggestions:generateStatelessSummary",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryRequest"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryResponse"
                  },
                  "description": "",
                  "httpMethod": "POST"
                },
                "searchKnowledge": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeRequest"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/suggestions:searchKnowledge",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.locations.suggestions.searchKnowledge",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+parent}/suggestions:searchKnowledge",
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeResponse"
                  }
                }
              }
            },
            "phoneNumbers": {
              "methods": {
                "undelete": {
                  "id": "dialogflow.projects.locations.phoneNumbers.undelete",
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/phoneNumbers/{phoneNumbersId}:undelete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1UndeletePhoneNumberRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/phoneNumbers/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1PhoneNumber"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+name}:undelete"
                },
                "patch": {
                  "path": "v2beta1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1PhoneNumber"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/locations/{locationsId}/phoneNumbers/{phoneNumbersId}",
                  "description": "",
                  "id": "dialogflow.projects.locations.phoneNumbers.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/phoneNumbers/[^/]+$",
                      "required": true
                    },
[...]
