{
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "id": "dialogflow:v3beta1",
  "servicePath": "",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SmartReplyAnswer": {
      "properties": {
        "reply": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SmartReplyAnswer"
    },
    "GoogleCloudDialogflowCxV3beta1ValidationMessage": {
      "type": "object",
      "properties": {
        "detail": {
          "type": "string"
        },
        "resourceNames": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResourceName"
          },
          "type": "array"
        },
        "resources": {
          "type": "array",
          "deprecated": true,
          "items": {
            "type": "string"
          }
        },
        "resourceType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "AGENT",
            "INTENT",
            "INTENT_TRAINING_PHRASE",
            "INTENT_PARAMETER",
            "INTENTS",
            "INTENT_TRAINING_PHRASES",
            "ENTITY_TYPE",
            "ENTITY_TYPES",
            "WEBHOOK",
            "FLOW",
            "PAGE",
            "PAGES",
            "TRANSITION_ROUTE_GROUP",
            "AGENT_TRANSITION_ROUTE_GROUP"
          ]
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ValidationMessage"
    },
    "GoogleCloudDialogflowV2CompanionSuggestion": {
      "properties": {
        "guidances": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2CompanionSuggestionGuidance"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2CompanionSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1SessionEntityType": {
      "properties": {
        "entityOverrideMode": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ]
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EntityTypeEntity"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "type": "object",
      "properties": {
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "differences": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          },
          "type": "array"
        },
        "sessionParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "textResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          }
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput"
    },
    "GoogleCloudDialogflowCxV3beta1InlineDestination": {
      "properties": {
        "content": {
          "type": "string",
          "format": "byte",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1InlineDestination",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1SessionInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1SessionInfo",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "session": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListPlaybookVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "playbookVersions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookVersion"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ListPlaybookVersionsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1AnswerFeedback": {
      "type": "object",
      "properties": {
        "customRating": {
          "type": "string"
        },
        "rating": {
          "enum": [
            "RATING_UNSPECIFIED",
            "THUMBS_UP",
            "THUMBS_DOWN"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "ratingReason": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AnswerFeedbackRatingReason"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AnswerFeedback"
    },
    "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata": {
      "id": "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata",
      "type": "object",
      "properties": {
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "CANCELLING",
            "TRAINING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListPlaybooksResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ListPlaybooksResponse",
      "properties": {
        "playbooks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction",
      "type": "object",
      "properties": {
        "parameter": {
          "type": "string"
        },
        "value": {
          "type": "any"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1HandlerLifecycleHandler": {
      "id": "GoogleCloudDialogflowCxV3beta1HandlerLifecycleHandler",
      "type": "object",
      "properties": {
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "lifecycleStage": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer",
      "properties": {
        "answer": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "faqQuestion": {
          "type": "string"
        },
        "matchConfidenceLevel": {
          "type": "string",
          "enum": [
            "MATCH_CONFIDENCE_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "matchConfidence": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentParameter": {
      "id": "GoogleCloudDialogflowV2IntentParameter",
      "type": "object",
      "properties": {
        "entityTypeDisplayName": {
          "type": "string"
        },
        "mandatory": {
          "type": "boolean"
        },
        "isList": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "prompts": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "defaultValue": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FormParameter": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FormParameter",
      "properties": {
        "required": {
          "type": "boolean"
        },
        "defaultValue": {
          "type": "any"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior"
        },
        "isList": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        },
        "redact": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2GuidanceInstructionAction": {
      "id": "GoogleCloudDialogflowV2GuidanceInstructionAction",
      "properties": {
        "description": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Span": {
      "id": "GoogleCloudDialogflowCxV3beta1Span",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1NamedMetric"
          }
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookInstruction": {
      "type": "object",
      "properties": {
        "guidelines": {
          "type": "string"
        },
        "steps": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookStep"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookInstruction"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRoute": {
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRoute",
      "properties": {
        "targetFlow": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "intent": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCardButton": {
      "id": "GoogleCloudDialogflowV2IntentMessageCardButton",
      "properties": {
        "text": {
          "type": "string"
        },
        "postback": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses": {
      "properties": {
        "simpleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Environment": {
      "properties": {
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig"
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig"
        },
        "name": {
          "type": "string"
        },
        "versionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig"
          }
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Environment",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ParameterDefinition": {
      "type": "object",
      "properties": {
        "typeSchema": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TypeSchema"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "deprecated": true,
          "type": "string",
          "enum": [
            "PARAMETER_TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "BOOLEAN",
            "NULL",
            "OBJECT",
            "LIST"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ParameterDefinition"
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart",
      "type": "object",
      "properties": {
        "parameterId": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ExportOperationMetadata": {
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2beta1GcsDestination"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ExportOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolCallResult": {
      "id": "GoogleCloudDialogflowV2ToolCallResult",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "rawContent": {
          "type": "string",
          "format": "byte"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2ToolCallResultError"
        },
        "cesTool": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "cesApp": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AgentUtterance": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AgentUtterance",
      "properties": {
        "text": {
          "type": "string"
        },
        "requireGeneration": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest": {
      "properties": {
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "source": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2EventInput": {
      "id": "GoogleCloudDialogflowV2EventInput",
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportFlowResponse",
      "properties": {
        "flow": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverage": {
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverage",
      "type": "object",
      "properties": {
        "coverageScore": {
          "type": "number",
          "format": "float"
        },
        "transitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverageTransition"
          }
        },
        "routeGroup": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageText": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageText",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Status": {
      "properties": {
        "exception": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ExceptionDetail"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Status",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion": {
      "properties": {
        "action": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction"
        },
        "reply": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
    },
    "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata",
      "properties": {
        "conversationProfile": {
          "type": "string"
        },
        "participantRole": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "suggestionFeatureType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1InlineSource": {
      "type": "object",
      "properties": {
        "content": {
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1InlineSource"
    },
    "GoogleCloudDialogflowV2beta1GuidanceInstruction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GuidanceInstruction",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "triggerEvent": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE"
          ]
        },
        "displayDetails": {
          "type": "string"
        },
        "disableSuggestedReply": {
          "type": "boolean"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GuidanceInstructionAction"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageColumnProperties": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageColumnProperties",
      "properties": {
        "horizontalAlignment": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ]
        },
        "header": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3LanguageInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3LanguageInfo",
      "properties": {
        "inputLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "format": "float",
          "type": "number"
        },
        "resolvedLanguageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "type": "object",
      "properties": {
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "type": "integer",
          "format": "int32"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettings",
      "type": "object",
      "properties": {
        "dtmfSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings"
        },
        "speechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings"
        },
        "loggingSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings"
        },
        "audioExportGcsDestination": {
          "$ref": "GoogleCloudDialogflowCxV3beta1GcsDestination"
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestionResult": {
      "properties": {
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
        },
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestArticlesResponse"
        },
        "generateCompanionSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2GenerateCompanionSuggestionsResponse"
        },
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestionResult",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet",
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "text": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfo": {
      "type": "object",
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
    },
    "GoogleCloudDialogflowCxV3beta1ExportIntentsMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportIntentsMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponse": {
      "properties": {
        "generatorSuggestionAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponse",
      "properties": {
        "entityTypes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowResponse": {
      "properties": {
        "deployment": {
          "type": "string"
        },
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowResponse"
    },
    "GoogleCloudDialogflowCxV3ImportFlowResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportFlowResponse",
      "properties": {
        "flow": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolConnectorToolAction": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolConnectorToolAction",
      "properties": {
        "entityOperation": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolConnectorToolActionEntityOperation"
        },
        "inputFields": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "outputFields": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "connectionActionId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TextInput": {
      "id": "GoogleCloudDialogflowCxV3beta1TextInput",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1QueryParameters": {
      "id": "GoogleCloudDialogflowCxV3beta1QueryParameters",
      "properties": {
        "flowVersions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "populateDataStoreConnectionSignals": {
          "deprecated": true,
          "type": "boolean"
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LlmModelSettings"
        },
        "currentPlaybook": {
          "type": "string"
        },
        "sessionTtl": {
          "type": "string",
          "format": "google-duration"
        },
        "searchConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SearchConfig"
        },
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
          },
          "type": "array"
        },
        "parameterScope": {
          "type": "string"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "currentPage": {
          "type": "string"
        },
        "analyzeQueryTextSentiment": {
          "type": "boolean"
        },
        "channel": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "webhookHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "timeZone": {
          "type": "string"
        },
        "endUserMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "disableWebhook": {
          "type": "boolean"
        },
        "geoLocation": {
          "$ref": "GoogleTypeLatLng"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListExperimentsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListExperimentsResponse",
      "type": "object",
      "properties": {
        "experiments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolAuthenticationOAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolAuthenticationOAuthConfig",
      "type": "object",
      "properties": {
        "clientSecret": {
          "type": "string"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "oauthGrantType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ]
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings": {
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings",
      "properties": {
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "endpointerSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "noSpeechTimeout": {
          "format": "google-duration",
          "type": "string"
        },
        "models": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookStep": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookStep",
      "properties": {
        "text": {
          "type": "string"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookStep"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RestoreAgentRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1RestoreAgentRequest",
      "type": "object",
      "properties": {
        "gitSource": {
          "$ref": "GoogleCloudDialogflowCxV3beta1RestoreAgentRequestGitSource"
        },
        "restoreOption": {
          "enum": [
            "RESTORE_OPTION_UNSPECIFIED",
            "KEEP",
            "FALLBACK"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse": {
      "id": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse",
      "type": "object",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "additionalSuggestedQueryResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          }
        },
        "knowledgeAssistAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GroundingChunk": {
      "properties": {
        "web": {
          "$ref": "GoogleCloudDialogflowV2beta1GroundingChunkWeb"
        },
        "retrievedContext": {
          "$ref": "GoogleCloudDialogflowV2beta1GroundingChunkRetrievedContext"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GroundingChunk"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationMetricsQueryInputCount": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationMetricsQueryInputCount",
      "type": "object",
      "properties": {
        "audioCount": {
          "type": "integer",
          "format": "int32"
        },
        "eventCount": {
          "format": "int32",
          "type": "integer"
        },
        "textCount": {
          "type": "integer",
          "format": "int32"
        },
        "dtmfCount": {
          "type": "integer",
          "format": "int32"
        },
        "intentCount": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings": {
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings",
      "type": "object",
      "properties": {
        "enableInteractionLogging": {
          "type": "boolean"
        },
        "enableStackdriverLogging": {
          "type": "boolean"
        },
        "enableConsentBasedRedaction": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "properties": {
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "description": {
          "type": "string"
        },
        "footer": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
    },
    "GoogleCloudDialogflowCxV3beta1ListFlowsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "flows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Flow"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ListFlowsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentSuggestion",
      "properties": {
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "intentV2": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestConfig": {
      "type": "object",
      "properties": {
        "trackingParameters": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "page": {
          "type": "string"
        },
        "flow": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TestConfig"
    },
    "GoogleCloudDialogflowCxV3beta1IntentCoverage": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentCoverage",
      "type": "object",
      "properties": {
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentCoverageIntent"
          },
          "type": "array"
        },
        "coverageScore": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion": {
      "properties": {
        "destinationName": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DtmfInput": {
      "type": "object",
      "properties": {
        "digits": {
          "type": "string"
        },
        "finishDigit": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DtmfInput"
    },
    "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModelEvaluation": {
          "type": "string"
        },
        "conversationModel": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "RUNNING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageText": {
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageText"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata",
      "properties": {
        "testErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio": {
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EventHandler": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3EventHandler",
      "properties": {
        "targetPage": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "targetFlow": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetPlaybook": {
          "type": "string"
        },
        "event": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListSecuritySettingsResponse": {
      "properties": {
        "securitySettings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListSecuritySettingsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata": {
      "type": "object",
      "properties": {
        "conversationDataset": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "postbackData": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "mergeBehavior": {
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TypeSchemaSchemaReference": {
      "properties": {
        "tool": {
          "type": "string"
        },
        "schema": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TypeSchemaSchemaReference",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesResponse",
      "type": "object",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TurnSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1TurnSignals",
      "type": "object",
      "properties": {
        "noUserInput": {
          "type": "boolean"
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "noMatch": {
          "type": "boolean"
        },
        "failureReasons": {
          "type": "array",
          "items": {
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          }
        },
        "sentimentScore": {
          "format": "float",
          "type": "number"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        },
        "userEscalated": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExceptionDetail": {
      "id": "GoogleCloudDialogflowCxV3beta1ExceptionDetail",
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string"
        },
        "repeatCount": {
          "format": "int32",
          "type": "integer"
        },
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1NluSettings": {
      "properties": {
        "modelTrainingMode": {
          "enum": [
            "MODEL_TRAINING_MODE_UNSPECIFIED",
            "MODEL_TRAINING_MODE_AUTOMATIC",
            "MODEL_TRAINING_MODE_MANUAL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "classificationThreshold": {
          "type": "number",
          "format": "float"
        },
        "modelType": {
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "MODEL_TYPE_STANDARD",
            "MODEL_TYPE_ADVANCED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1NluSettings"
    },
    "GoogleCloudDialogflowV2beta1ArticleAnswer": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "snippets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ArticleAnswer"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery": {
      "properties": {
        "searchContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext"
          },
          "type": "array"
        },
        "queryText": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery"
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseError",
      "properties": {
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportFlowResponse": {
      "type": "object",
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "flowContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportFlowResponse"
    },
    "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents",
      "properties": {
        "dtmfEvents": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TELEPHONY_DTMF_UNSPECIFIED",
              "DTMF_ONE",
              "DTMF_TWO",
              "DTMF_THREE",
              "DTMF_FOUR",
              "DTMF_FIVE",
              "DTMF_SIX",
              "DTMF_SEVEN",
              "DTMF_EIGHT",
              "DTMF_NINE",
              "DTMF_ZERO",
              "DTMF_A",
              "DTMF_B",
              "DTMF_C",
              "DTMF_D",
              "DTMF_STAR",
              "DTMF_POUND"
            ],
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentRequestGitDestination": {
      "properties": {
        "commitMessage": {
          "type": "string"
        },
        "trackingBranch": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentRequestGitDestination"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases": {
      "properties": {
        "cases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings": {
      "properties": {
        "dataStoreConnections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection"
          }
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "enabled": {
          "type": "boolean"
        },
        "targetPage": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContent": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent",
      "type": "object",
      "properties": {
        "mediaType": {
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "mediaObjects": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponses": {
      "type": "object",
      "properties": {
        "simpleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponse"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponses"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransition": {
      "properties": {
        "transitionRoute": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
        },
        "source": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransitionNode"
        },
        "covered": {
          "type": "boolean"
        },
        "index": {
          "format": "int32",
          "type": "integer"
        },
        "eventHandler": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
        },
        "target": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransitionNode"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransition"
    },
    "GoogleCloudDialogflowCxV3TestCaseResult": {
      "id": "GoogleCloudDialogflowCxV3TestCaseResult",
      "properties": {
        "conversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          }
        },
        "name": {
          "type": "string"
        },
        "environment": {
          "type": "string"
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "testResult": {
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudDialogflowCxV3beta1Tool": {
      "id": "GoogleCloudDialogflowCxV3beta1Tool",
      "type": "object",
      "properties": {
        "dataStoreSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolDataStoreTool"
        },
        "functionSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolFunctionTool"
        },
        "connectorSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolConnectorTool"
        },
        "openApiSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolOpenApiTool"
        },
        "extensionSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolExtensionTool"
        },
        "displayName": {
          "type": "string"
        },
        "toolType": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "TOOL_TYPE_UNSPECIFIED",
            "CUSTOMIZED_TOOL",
            "BUILTIN_TOOL"
          ]
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GuidanceInstructionAction": {
      "properties": {
        "description": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GuidanceInstructionAction"
    },
    "GoogleCloudDialogflowCxV3beta1Page": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Page",
      "properties": {
        "eventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          },
          "type": "array"
        },
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          }
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings"
        },
        "name": {
          "type": "string"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "displayName": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Form"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3GcsDestination": {
      "id": "GoogleCloudDialogflowCxV3GcsDestination",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ContinuousTestResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ContinuousTestResult",
      "properties": {
        "testCaseResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "result": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        },
        "runTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Intent": {
      "id": "GoogleCloudDialogflowV2beta1Intent",
      "type": "object",
      "properties": {
        "rootFollowupIntentName": {
          "readOnly": true,
          "type": "string"
        },
        "defaultResponsePlatforms": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "TELEPHONY",
              "GOOGLE_HANGOUTS"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "resetContexts": {
          "type": "boolean"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "webhookState": {
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "followupIntentInfo": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo"
          },
          "type": "array"
        },
        "inputContextNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "events": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "isFallback": {
          "type": "boolean"
        },
        "mlEnabled": {
          "deprecated": true,
          "type": "boolean"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentParameter"
          },
          "type": "array"
        },
        "action": {
          "type": "string"
        },
        "endInteraction": {
          "type": "boolean"
        },
        "mlDisabled": {
          "type": "boolean"
        },
        "priority": {
          "format": "int32",
          "type": "integer"
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase"
          }
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolOpenApiTool": {
      "properties": {
        "textSchema": {
          "type": "string"
        },
        "authentication": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolAuthentication"
        },
        "tlsConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolTLSConfig"
        },
        "serviceDirectoryConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolServiceDirectoryConfig"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolOpenApiTool",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Example": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Example",
      "properties": {
        "actions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Action"
          }
        },
        "name": {
          "type": "string"
        },
        "playbookInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookInput"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "conversationState": {
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string"
        },
        "tokenCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "type": "string"
        },
        "playbookOutput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookOutput"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesMetadata": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesMetadata",
      "type": "object"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "type": "object",
      "id": "GoogleCloudLocationListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata": {
      "properties": {
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest"
        }
      },
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard": {
      "properties": {
        "imageDisplayOptions": {
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult": {
      "properties": {
        "duplicateSuggestions": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo": {
      "properties": {
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2ServiceLatency"
        },
        "queryGenerationFailureReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_GENERATION_OUT_OF_QUOTA",
            "QUERY_GENERATION_FAILED",
            "QUERY_GENERATION_NO_QUERY_GENERATED",
            "QUERY_GENERATION_RAI_FAILED",
            "NOT_IN_ALLOWLIST",
            "QUERY_GENERATION_QUERY_REDACTED",
            "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED",
            "QUERY_GENERATION_EMPTY_CONVERSATION",
            "QUERY_GENERATION_EMPTY_LAST_MESSAGE",
            "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          ]
        },
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
        },
        "knowledgeAssistBehavior": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        },
        "datastoreResponseReason": {
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "cesDebugInfo": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "queryGenerationDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        },
        "queryCategorizationFailureReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_CATEGORIZATION_INVALID_CONFIG",
            "QUERY_CATEGORIZATION_RESULT_NOT_FOUND",
            "QUERY_CATEGORIZATION_FAILED"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListTransitionRouteGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "transitionRouteGroups": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListTransitionRouteGroupsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsSearchSnippet": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsSearchSnippet",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "documentUri": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "documentTitle": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolCall": {
      "type": "object",
      "properties": {
        "inputParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "tool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolCall"
    },
    "GoogleCloudDialogflowCxV3beta1LoadVersionRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1LoadVersionRequest",
      "properties": {
        "allowOverrideAgentResources": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2Sentiment": {
      "type": "object",
      "properties": {
        "score": {
          "format": "float",
          "type": "number"
        },
        "magnitude": {
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudDialogflowV2Sentiment"
    },
    "GoogleCloudDialogflowV2GroundingChunkWeb": {
      "id": "GoogleCloudDialogflowV2GroundingChunkWeb",
      "properties": {
        "domain": {
          "type": "string",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "readOnly": true
        },
        "uri": {
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExperimentResultMetric": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "METRIC_UNSPECIFIED",
            "CONTAINED_SESSION_NO_CALLBACK_RATE",
            "LIVE_AGENT_HANDOFF_RATE",
            "CALLBACK_SESSION_RATE",
            "ABANDONED_SESSION_RATE",
            "SESSION_END_RATE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "ratio": {
          "type": "number",
          "format": "double"
        },
        "countType": {
          "type": "string",
          "enum": [
            "COUNT_TYPE_UNSPECIFIED",
            "TOTAL_NO_MATCH_COUNT",
            "TOTAL_TURN_COUNT",
            "AVERAGE_TURN_COUNT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "count": {
          "format": "double",
          "type": "number"
        },
        "confidenceInterval": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ExperimentResultConfidenceInterval"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExperimentResultMetric"
    },
    "GoogleCloudDialogflowCxV3beta1Form": {
      "properties": {
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FormParameter"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Form"
    },
    "GoogleCloudDialogflowCxV3ToolCallResult": {
      "id": "GoogleCloudDialogflowCxV3ToolCallResult",
      "type": "object",
      "properties": {
        "outputParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "action": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResultError"
        },
        "tool": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata",
      "properties": {
        "trainingModelType": {
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCard": {
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCard",
      "properties": {
        "formattedText": {
          "type": "string"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          },
          "type": "array"
        },
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationInteractionStepMetrics": {
      "properties": {
        "name": {
          "type": "string"
        },
        "latency": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationInteractionStepMetrics",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationMetricsMatchTypeCount": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationMetricsMatchTypeCount",
      "properties": {
        "directIntentCount": {
          "type": "integer",
          "format": "int32"
        },
        "noMatchCount": {
          "format": "int32",
          "type": "integer"
        },
        "noInputCount": {
          "format": "int32",
          "type": "integer"
        },
        "parameterFillingCount": {
          "type": "integer",
          "format": "int32"
        },
        "eventCount": {
          "format": "int32",
          "type": "integer"
        },
        "unspecifiedCount": {
          "type": "integer",
          "format": "int32"
        },
        "intentCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolCallResultError": {
      "properties": {
        "message": {
          "type": "string"
        },
        "retryable": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ToolCallResultError"
    },
    "GoogleCloudDialogflowV2ToolCallResultError": {
      "properties": {
        "retryable": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ToolCallResultError"
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContent": {
      "properties": {
        "mediaType": {
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "mediaObjects": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContent",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1SafetySettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1SafetySettings",
      "properties": {
        "defaultBannedPhraseMatchStrategy": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PHRASE_MATCH_STRATEGY_UNSPECIFIED",
            "PARTIAL_MATCH",
            "WORD_MATCH"
          ]
        },
        "bannedPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1SafetySettingsPhrase"
          }
        },
        "promptSecuritySettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SafetySettingsPromptSecuritySettings"
        },
        "raiSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettings"
        },
        "defaultRaiSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettings"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse": {
      "properties": {
        "mergeBehavior": {
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig": {
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportIntentsRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportIntentsRequest",
      "type": "object",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "intentsUri": {
          "type": "string"
        },
        "intentsContentInline": {
          "type": "boolean"
        },
        "dataFormat": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON",
            "CSV"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2IntentFollowupIntentInfo": {
      "properties": {
        "followupIntentName": {
          "type": "string"
        },
        "parentFollowupIntentName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentFollowupIntentInfo"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "type": "object",
      "properties": {
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia",
      "type": "object",
      "properties": {
        "height": {
          "enum": [
            "HEIGHT_UNSPECIFIED",
            "SHORT",
            "MEDIUM",
            "TALL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "fileUri": {
          "type": "string"
        },
        "thumbnailUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageText": {
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageText"
    },
    "GoogleCloudDialogflowCxV3Environment": {
      "id": "GoogleCloudDialogflowCxV3Environment",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "versionConfigs": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig"
          },
          "type": "array"
        },
        "description": {
          "type": "string"
        },
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig"
        },
        "displayName": {
          "type": "string"
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Playbook": {
      "properties": {
        "speechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings"
        },
        "displayName": {
          "type": "string"
        },
        "referencedTools": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tokenCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "inlineActions": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "goal": {
          "type": "string"
        },
        "inputParameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ParameterDefinition"
          }
        },
        "instruction": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookInstruction"
        },
        "outputParameterDefinitions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ParameterDefinition"
          },
          "type": "array"
        },
        "codeBlock": {
          "$ref": "GoogleCloudDialogflowCxV3beta1CodeBlock"
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LlmModelSettings"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "referencedPlaybooks": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "handlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Handler"
          },
          "type": "array"
        },
        "playbookType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PLAYBOOK_TYPE_UNSPECIFIED",
            "TASK",
            "ROUTINE"
          ]
        },
        "name": {
          "type": "string"
        },
        "referencedFlows": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Playbook",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfigOauth2JwtBearerConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfigOauth2JwtBearerConfig",
      "properties": {
        "clientKey": {
          "type": "string"
        },
        "issuer": {
          "type": "string"
        },
        "subject": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo",
      "type": "object",
      "properties": {
        "parameterInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo",
      "properties": {
        "justCollected": {
          "type": "boolean"
        },
        "required": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ]
        },
        "value": {
          "type": "any"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources": {
      "type": "object",
      "properties": {
        "intentDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources"
    },
    "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpec": {
      "id": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpec",
      "properties": {
        "boost": {
          "type": "number",
          "format": "float"
        },
        "condition": {
          "type": "string"
        },
        "boostControlSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpec"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        },
        "sourceGenerator": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "done": {
          "type": "boolean"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue",
      "properties": {
        "originalValue": {
          "type": "string"
        },
        "resolvedValue": {
          "type": "any"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpec": {
      "properties": {
        "controlPoints": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          }
        },
        "attributeType": {
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "interpolationType": {
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "fieldName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpec"
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrase": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true
        },
        "repeatCount": {
          "type": "integer",
          "format": "int32"
        },
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrase"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverage": {
      "properties": {
        "coverageScore": {
          "type": "number",
          "format": "float"
        },
        "coverages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverage"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverage"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettings": {
      "id": "GoogleCloudDialogflowCxV3AdvancedSettings",
      "properties": {
        "loggingSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings"
        },
        "speechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings"
        },
        "audioExportGcsDestination": {
          "$ref": "GoogleCloudDialogflowCxV3GcsDestination"
        },
        "dtmfSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo",
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigOperationMetadata",
      "properties": {
        "suggestionFeatureType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "conversationProfile": {
          "type": "string"
        },
        "participantRole": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Intent": {
      "id": "GoogleCloudDialogflowCxV3Intent",
      "type": "object",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentParameter"
          },
          "type": "array"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "isFallback": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrase"
          }
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "dtmfPattern": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentCoverageIntent": {
      "type": "object",
      "properties": {
        "covered": {
          "type": "boolean"
        },
        "intent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentCoverageIntent"
    },
    "GoogleCloudDialogflowV2GroundingSupport": {
      "id": "GoogleCloudDialogflowV2GroundingSupport",
      "type": "object",
      "properties": {
        "segment": {
          "$ref": "GoogleCloudDialogflowV2Segment"
        },
        "groundingChunkIndices": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "sourceGenerator": {
          "type": "string"
        },
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestion"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment",
      "type": "object",
      "properties": {
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ExportOperationMetadata": {
      "id": "GoogleCloudDialogflowV2ExportOperationMetadata",
      "type": "object",
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2GcsDestination"
        }
      }
    },
    "GoogleCloudDialogflowV2SearchEntryPoint": {
      "id": "GoogleCloudDialogflowV2SearchEntryPoint",
      "type": "object",
      "properties": {
        "renderedContent": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListSessionEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListSessionEntityTypesResponse",
      "type": "object",
      "properties": {
        "sessionEntityTypes": {
          "type": "array",
[...]
