{
  "protocol": "rest",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "discoveryVersion": "v1",
  "title": "Dialogflow API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "dialogflow:v3",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "revision": "20261004",
  "version_module": true,
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "ownerName": "Google",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "basePath": "",
  "schemas": {
    "GoogleCloudDialogflowV2beta1IntentMessageCardButton": {
      "properties": {
        "text": {
          "type": "string"
        },
        "postback": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCardButton",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo": {
      "type": "object",
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo"
    },
    "GoogleCloudDialogflowCxV3ToolFunctionTool": {
      "properties": {
        "inputSchema": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "outputSchema": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolFunctionTool"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction",
      "properties": {
        "parameter": {
          "type": "string"
        },
        "value": {
          "type": "any"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "GoogleCloudDialogflowCxV3Version": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "nluSettings": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3NluSettings"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Version"
    },
    "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata": {
      "properties": {
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "conversationModel": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata"
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestion": {
      "properties": {
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestion"
        },
        "toolCallInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
          }
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestion"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio": {
      "properties": {
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "audioUri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio"
    },
    "GoogleTypeLatLng": {
      "id": "GoogleTypeLatLng",
      "type": "object",
      "properties": {
        "latitude": {
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolTLSConfigCACert": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "cert": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolTLSConfigCACert",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListEnvironmentsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListEnvironmentsResponse",
      "type": "object",
      "properties": {
        "environments": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Environment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ExportAgentResponse": {
      "id": "GoogleCloudDialogflowV2beta1ExportAgentResponse",
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageImage": {
      "properties": {
        "accessibilityText": {
          "type": "string"
        },
        "imageUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageImage",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart",
      "properties": {
        "parameterId": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ParameterDefinition": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "enum": [
            "PARAMETER_TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "BOOLEAN",
            "NULL",
            "OBJECT",
            "LIST"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "deprecated": true
        },
        "typeSchema": {
          "$ref": "GoogleCloudDialogflowCxV3TypeSchema"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ParameterDefinition"
    },
    "GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "type": "object",
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "commitSha": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportAgentResponse"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "properties": {
        "cells": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
          },
          "type": "array"
        },
        "dividerAfter": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardRow"
    },
    "GoogleCloudDialogflowCxV3GenerativeSettingsFallbackSettings": {
      "properties": {
        "promptTemplates": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3GenerativeSettingsFallbackSettingsPromptTemplate"
          }
        },
        "selectedPrompt": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3GenerativeSettingsFallbackSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DataStoreConnection": {
      "type": "object",
      "properties": {
        "dataStore": {
          "type": "string"
        },
        "documentProcessingMode": {
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "dataStoreType": {
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "STRUCTURED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3DataStoreConnection"
    },
    "GoogleCloudDialogflowCxV3Agent": {
      "properties": {
        "enableSpellCorrection": {
          "type": "boolean"
        },
        "genAppBuilderSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentGenAppBuilderSettings"
        },
        "enableMultiLanguageTraining": {
          "type": "boolean"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "answerFeedbackSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentAnswerFeedbackSettings"
        },
        "displayName": {
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean"
        },
        "clientCertificateSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentClientCertificateSettings"
        },
        "defaultLanguageCode": {
          "type": "string"
        },
        "timeZone": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "enableStackdriverLogging": {
          "deprecated": true,
          "type": "boolean"
        },
        "startPlaybook": {
          "type": "string"
        },
        "gitIntegrationSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentGitIntegrationSettings"
        },
        "locked": {
          "type": "boolean"
        },
        "startFlow": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "speechToTextSettings": {
          "$ref": "GoogleCloudDialogflowCxV3SpeechToTextSettings"
        },
        "textToSpeechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3TextToSpeechSettings"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean"
        },
        "personalizationSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AgentPersonalizationSettings"
        },
        "avatarUri": {
          "type": "string"
        },
        "securitySettings": {
          "type": "string"
        },
        "supportedLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Agent"
    },
    "GoogleCloudDialogflowCxV3ToolVersion": {
      "id": "GoogleCloudDialogflowCxV3ToolVersion",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "tool": {
          "$ref": "GoogleCloudDialogflowCxV3Tool"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "properties": {
        "similarityScore": {
          "type": "number",
          "format": "float",
          "readOnly": true
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "suggestionIndex": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ServiceLatency": {
      "id": "GoogleCloudDialogflowV2ServiceLatency",
      "properties": {
        "internalServiceLatencies": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageColumnProperties": {
      "properties": {
        "header": {
          "type": "string"
        },
        "horizontalAlignment": {
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageColumnProperties"
    },
    "GoogleCloudDialogflowCxV3ToolTLSConfig": {
      "type": "object",
      "properties": {
        "caCerts": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ToolTLSConfigCACert"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolTLSConfig"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCall": {
      "type": "object",
      "properties": {
        "tool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolCall"
    },
    "GoogleCloudDialogflowCxV3ContinuousTestResult": {
      "type": "object",
      "properties": {
        "runTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "result": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "testCaseResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ContinuousTestResult"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCases": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases",
      "properties": {
        "cases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings": {
      "properties": {
        "dataStoreConnections": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection"
          },
          "type": "array"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetPage": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string"
        },
        "contentUrl": {
          "type": "string"
        },
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"
    },
    "GoogleCloudDialogflowCxV3ImportFlowRequest": {
      "type": "object",
      "properties": {
        "importOption": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "IMPORT_OPTION_UNSPECIFIED",
            "KEEP",
            "FALLBACK"
          ]
        },
        "flowContent": {
          "type": "string",
          "format": "byte"
        },
        "flowUri": {
          "type": "string"
        },
        "flowImportStrategy": {
          "$ref": "GoogleCloudDialogflowCxV3FlowImportStrategy"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportFlowRequest"
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo": {
      "properties": {
        "ingestedParametersDebugInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          }
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        },
        "projectNotAllowlisted": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo",
      "properties": {
        "tag": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FormParameter": {
      "properties": {
        "isList": {
          "type": "boolean"
        },
        "defaultValue": {
          "type": "any"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "required": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
        },
        "redact": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FormParameter"
    },
    "GoogleCloudDialogflowCxV3ResponseMessage": {
      "properties": {
        "mixedAudio": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio",
          "readOnly": true
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio"
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCall"
        },
        "endInteraction": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction",
          "readOnly": true
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "channel": {
          "type": "string"
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
        },
        "responseType": {
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "ENTRY_PROMPT",
            "PARAMETER_PROMPT",
            "HANDLER_PROMPT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessage",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings",
      "properties": {
        "noSpeechTimeout": {
          "type": "string",
          "format": "google-duration"
        },
        "models": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "endpointerSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings",
      "properties": {
        "interdigitTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "maxDigits": {
          "type": "integer",
          "format": "int32"
        },
        "endpointingTimeoutDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "finishDigit": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult": {
      "type": "object",
      "properties": {
        "duplicateSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "properties": {
        "url": {
          "type": "string"
        },
        "urlTypeHint": {
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "description": {
          "type": "string"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3TestRunDifference": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TestRunDifference"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio": {
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse",
      "properties": {
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources"
        },
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolCallResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ToolCallResult",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResultError"
        },
        "rawContent": {
          "format": "byte",
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentResponse": {
      "type": "object",
      "properties": {
        "agentContent": {
          "type": "string",
          "format": "byte"
        },
        "commitSha": {
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentResponse"
    },
    "GoogleCloudDialogflowCxV3beta1BargeInConfig": {
      "properties": {
        "totalDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "noBargeInDuration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1BargeInConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "properties": {
        "totalTokenCount": {
          "format": "int32",
          "type": "integer"
        },
        "promptTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "thinkingLevel": {
          "type": "string"
        },
        "candidatesTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "similarityToLastQueryThreshold": {
          "type": "number",
          "format": "float"
        },
        "thinkingBudgetTokens": {
          "type": "integer",
          "format": "int32"
        },
        "similarityToLastQuery": {
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard",
      "properties": {
        "formattedText": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          }
        },
        "subtitle": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequest": {
      "properties": {
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3LanguageInfo"
        },
        "triggerIntent": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo"
        },
        "text": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          },
          "type": "array"
        },
        "triggerEvent": {
          "type": "string"
        },
        "dtmfDigits": {
          "type": "string"
        },
        "transcript": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookRequest"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer",
      "properties": {
        "eventSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource"
        },
        "generativeSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "faqSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
        },
        "playbookSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "answerText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SecuritySettings": {
      "properties": {
        "redactionStrategy": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "REDACTION_STRATEGY_UNSPECIFIED",
            "REDACT_WITH_SERVICE"
          ]
        },
        "name": {
          "type": "string"
        },
        "redactionScope": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "REDACTION_SCOPE_UNSPECIFIED",
            "REDACT_DISK_STORAGE"
          ],
          "type": "string"
        },
        "deidentifyTemplate": {
          "type": "string"
        },
        "retentionStrategy": {
          "enum": [
            "RETENTION_STRATEGY_UNSPECIFIED",
            "REMOVE_AFTER_CONVERSATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "audioExportSettings": {
          "$ref": "GoogleCloudDialogflowCxV3SecuritySettingsAudioExportSettings"
        },
        "displayName": {
          "type": "string"
        },
        "purgeDataTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              ""
            ],
            "enum": [
              "PURGE_DATA_TYPE_UNSPECIFIED",
              "DIALOGFLOW_HISTORY"
            ],
            "type": "string"
          }
        },
        "inspectTemplate": {
          "type": "string"
        },
        "insightsExportSettings": {
          "$ref": "GoogleCloudDialogflowCxV3SecuritySettingsInsightsExportSettings"
        },
        "retentionWindowDays": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowCxV3SecuritySettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FlowInvocation": {
      "id": "GoogleCloudDialogflowCxV3FlowInvocation",
      "type": "object",
      "properties": {
        "flowState": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true
        },
        "flow": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunTestCaseRequest": {
      "properties": {
        "environment": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3RunTestCaseRequest"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardCell": {
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
    },
    "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo": {
      "properties": {
        "followupIntentName": {
          "type": "string"
        },
        "parentFollowupIntentName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo"
    },
    "GoogleCloudDialogflowV2Segment": {
      "id": "GoogleCloudDialogflowV2Segment",
      "type": "object",
      "properties": {
        "startIndex": {
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "text": {
          "type": "string",
          "readOnly": true
        },
        "endIndex": {
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportAgentRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportAgentRequest",
      "properties": {
        "environment": {
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        },
        "includeBigqueryExportSettings": {
          "type": "boolean"
        },
        "gitDestination": {
          "$ref": "GoogleCloudDialogflowCxV3ExportAgentRequestGitDestination"
        },
        "dataFormat": {
          "type": "string",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON_PACKAGE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3VersionVariantsVariant": {
      "id": "GoogleCloudDialogflowCxV3VersionVariantsVariant",
      "type": "object",
      "properties": {
        "isControlGroup": {
          "type": "boolean"
        },
        "version": {
          "type": "string"
        },
        "trafficAllocation": {
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig": {
      "properties": {
        "enablePredeploymentRun": {
          "type": "boolean"
        },
        "testCases": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enableContinuousRun": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent",
      "properties": {
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
        },
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GeneratorSuggestion": {
      "id": "GoogleCloudDialogflowV2GeneratorSuggestion",
      "type": "object",
      "properties": {
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2SummarySuggestion"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2FreeFormSuggestion"
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestion"
        },
        "toolCallInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess"
    },
    "GoogleCloudDialogflowCxV3PlaybookStep": {
      "properties": {
        "steps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PlaybookStep"
          }
        },
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3PlaybookStep",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentSuggestion": {
      "properties": {
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "intentV2": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentSuggestion"
    },
    "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio",
      "type": "object",
      "properties": {
        "audioUri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentParameter": {
      "id": "GoogleCloudDialogflowV2beta1IntentParameter",
      "type": "object",
      "properties": {
        "defaultValue": {
          "type": "string"
        },
        "entityTypeDisplayName": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "prompts": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mandatory": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "type": "object",
      "properties": {
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "suggestionIndex": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "similarityScore": {
          "format": "float",
          "readOnly": true,
          "type": "number"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
    },
    "GoogleCloudDialogflowV2KnowledgeOperationMetadata": {
      "type": "object",
      "properties": {
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "exportOperationMetadata": {
          "$ref": "GoogleCloudDialogflowV2ExportOperationMetadata"
        },
        "knowledgeBase": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "sessionParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "textResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          }
        },
        "diagnosticInfo": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "differences": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          }
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestRunDifference": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ],
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestRunDifference"
    },
    "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse": {
      "properties": {
        "knowledgeAssistAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswer"
        },
        "additionalSuggestedQueryResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Example": {
      "id": "GoogleCloudDialogflowCxV3Example",
      "properties": {
        "tokenCount": {
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Action"
          }
        },
        "displayName": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "playbookOutput": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookOutput"
        },
        "description": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "playbookInput": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookInput"
        },
        "conversationState": {
          "type": "string",
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3IntentCoverage": {
      "type": "object",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentCoverageIntent"
          }
        },
        "coverageScore": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3IntentCoverage"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources": {
      "type": "object",
      "properties": {
        "intentDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources"
    },
    "GoogleCloudDialogflowCxV3ExperimentResultMetric": {
      "id": "GoogleCloudDialogflowCxV3ExperimentResultMetric",
      "type": "object",
      "properties": {
        "count": {
          "type": "number",
          "format": "double"
        },
        "confidenceInterval": {
          "$ref": "GoogleCloudDialogflowCxV3ExperimentResultConfidenceInterval"
        },
        "type": {
          "enum": [
            "METRIC_UNSPECIFIED",
            "CONTAINED_SESSION_NO_CALLBACK_RATE",
            "LIVE_AGENT_HANDOFF_RATE",
            "CALLBACK_SESSION_RATE",
            "ABANDONED_SESSION_RATE",
            "SESSION_END_RATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "countType": {
          "enum": [
            "COUNT_TYPE_UNSPECIFIED",
            "TOTAL_NO_MATCH_COUNT",
            "TOTAL_TURN_COUNT",
            "AVERAGE_TURN_COUNT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "ratio": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowCxV3GenerativeSettingsKnowledgeConnectorSettings": {
      "type": "object",
      "properties": {
        "agentScope": {
          "type": "string"
        },
        "agent": {
          "type": "string"
        },
        "business": {
          "type": "string"
        },
        "agentIdentity": {
          "type": "string"
        },
        "disableDataStoreFallback": {
          "type": "boolean"
        },
        "businessDescription": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3GenerativeSettingsKnowledgeConnectorSettings"
    },
    "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1IntentParameter": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentParameter",
      "properties": {
        "isList": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "redact": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue": {
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue",
      "properties": {
        "secretVersion": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FlowTransition": {
      "properties": {
        "flow": {
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowCxV3FlowTransition",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3HandlerLifecycleHandler": {
      "id": "GoogleCloudDialogflowCxV3HandlerLifecycleHandler",
      "type": "object",
      "properties": {
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "condition": {
          "type": "string"
        },
        "lifecycleStage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3CompareVersionsRequest": {
      "type": "object",
      "properties": {
        "targetVersion": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3CompareVersionsRequest"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery",
      "properties": {
        "searchContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext"
          }
        },
        "queryText": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCard",
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          }
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "formattedText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo",
      "properties": {
        "key": {
          "type": "string"
        },
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ValidateAgentRequest": {
      "properties": {
        "languageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ValidateAgentRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TransitionCoverageTransitionNode": {
      "id": "GoogleCloudDialogflowCxV3TransitionCoverageTransitionNode",
      "properties": {
        "page": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "flow": {
          "$ref": "GoogleCloudDialogflowCxV3Flow"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2CompanionSuggestion": {
      "properties": {
        "guidances": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2CompanionSuggestionGuidance"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2CompanionSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponse": {
      "properties": {
        "entityTypes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3CompareVersionsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3CompareVersionsResponse",
      "properties": {
        "baseVersionContentJson": {
          "type": "string"
        },
        "targetVersionContentJson": {
          "type": "string"
        },
        "compareTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1GcsDestination": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1GcsDestination",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestion",
      "properties": {
        "summarySections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue",
      "type": "object",
      "properties": {
        "originalValue": {
          "type": "string"
        },
        "resolvedValue": {
          "type": "any"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PlaybookInstruction": {
      "id": "GoogleCloudDialogflowCxV3PlaybookInstruction",
      "properties": {
        "steps": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PlaybookStep"
          },
          "type": "array"
        },
        "guidelines": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction": {
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction",
      "type": "object"
    },
    "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean"
        },
        "dataStoreConnections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnection"
          }
        },
        "targetFlow": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "targetPage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata",
      "type": "object",
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AgentGitIntegrationSettingsGithubSettings": {
      "properties": {
        "accessToken": {
          "type": "string"
        },
        "trackingBranch": {
          "type": "string"
        },
        "branches": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "repositoryUri": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3AgentGitIntegrationSettingsGithubSettings"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "type": "object",
      "properties": {
        "snippets": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall": {
      "properties": {
        "phoneNumber": {
          "type": "string"
        },
        "sipUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata": {
      "type": "object",
      "properties": {
        "conversationProfile": {
          "type": "string"
        },
        "participantRole": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "suggestionFeatureType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3SafetySettingsPromptSecuritySettings": {
      "properties": {
        "enablePromptSecurity": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3SafetySettingsPromptSecuritySettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PlaybookTraceMetadata": {
      "type": "object",
      "properties": {
        "playbook": {
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowCxV3PlaybookTraceMetadata"
    },
    "GoogleCloudDialogflowV2beta1ToolCall": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ToolCall",
      "properties": {
        "action": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "toolDisplayName": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "cesTool": {
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ],
          "readOnly": true,
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "tool": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesMetadata": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Environment": {
      "id": "GoogleCloudDialogflowCxV3Environment",
      "type": "object",
      "properties": {
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig"
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig"
        },
        "description": {
          "type": "string"
        },
        "versionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListDeploymentsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListDeploymentsResponse",
      "type": "object",
      "properties": {
        "deployments": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Deployment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolCallResultError": {
      "id": "GoogleCloudDialogflowV2ToolCallResultError",
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "retryable": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2SmartReplyAnswer": {
      "type": "object",
      "properties": {
        "reply": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SmartReplyAnswer"
    },
    "GoogleCloudDialogflowV2beta1ConversationEvent": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CONVERSATION_STARTED",
            "CONVERSATION_FINISHED",
            "HUMAN_INTERVENTION_NEEDED",
            "NEW_MESSAGE",
            "NEW_RECOGNITION_RESULT",
            "UNRECOVERABLE_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "newRecognitionResultPayload": {
          "$ref": "GoogleCloudDialogflowV2beta1StreamingRecognitionResult"
        },
        "conversation": {
          "type": "string"
        },
        "errorStatus": {
          "$ref": "GoogleRpcStatus"
        },
        "newMessagePayload": {
          "$ref": "GoogleCloudDialogflowV2beta1Message"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ConversationEvent"
    },
    "GoogleCloudDialogflowV2ExportAgentResponse": {
      "id": "GoogleCloudDialogflowV2ExportAgentResponse",
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Fulfillment": {
      "properties": {
        "setParameterActions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction"
          },
          "type": "array"
        },
        "enableGenerativeFallback": {
          "type": "boolean"
        },
        "codeBlockFunction": {
          "type": "string"
        },
        "conditionalCases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
          },
          "type": "array"
        },
        "webhook": {
          "type": "string"
        },
        "tag": {
          "type": "string"
        },
        "returnPartialResponses": {
          "type": "boolean"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "generators": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3Fulfillment",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties": {
      "properties": {
        "header": {
          "type": "string"
        },
        "horizontalAlignment": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesMetadata": {
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3SessionInfo": {
      "type": "object",
      "properties": {
        "session": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3SessionInfo"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent",
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo",
      "type": "object",
      "properties": {
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
        },
        "cesDebugInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "knowledgeAssistBehavior": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        },
        "queryCategorizationFailureReason": {
          "type": "string",
          "enum": [
            "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_CATEGORIZATION_INVALID_CONFIG",
            "QUERY_CATEGORIZATION_RESULT_NOT_FOUND",
            "QUERY_CATEGORIZATION_FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "datastoreResponseReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ]
        },
        "queryGenerationFailureReason": {
          "type": "string",
          "enum": [
            "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_GENERATION_OUT_OF_QUOTA",
            "QUERY_GENERATION_FAILED",
            "QUERY_GENERATION_NO_QUERY_GENERATED",
            "QUERY_GENERATION_RAI_FAILED",
            "NOT_IN_ALLOWLIST",
            "QUERY_GENERATION_QUERY_REDACTED",
            "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED",
            "QUERY_GENERATION_EMPTY_CONVERSATION",
            "QUERY_GENERATION_EMPTY_LAST_MESSAGE",
            "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "queryGenerationDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        },
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2ServiceLatency"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RestorePlaybookVersionResponse": {
      "properties": {
        "playbook": {
          "$ref": "GoogleCloudDialogflowCxV3Playbook"
        }
      },
      "id": "GoogleCloudDialogflowCxV3RestorePlaybookVersionResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestionResult": {
      "id": "GoogleCloudDialogflowV2SuggestionResult",
      "type": "object",
      "properties": {
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestArticlesResponse"
        },
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
        },
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
        },
        "generateCompanionSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2GenerateCompanionSuggestionsResponse"
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentInput": {
      "id": "GoogleCloudDialogflowCxV3IntentInput",
      "properties": {
        "intent": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesRequest": {
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesRequest",
      "type": "object",
      "properties": {
        "dataFormat": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON_PACKAGE"
          ]
        },
        "entityTypesUri": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "entityTypesContentInline": {
          "type": "boolean"
        },
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SearchEntryPoint": {
      "type": "object",
      "properties": {
        "renderedContent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SearchEntryPoint"
    },
    "GoogleCloudDialogflowCxV3EventInput": {
      "id": "GoogleCloudDialogflowCxV3EventInput",
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PlaybookTransition": {
      "properties": {
        "playbook": {
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3PlaybookTransition",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3LoadVersionRequest": {
      "type": "object",
      "properties": {
        "allowOverrideAgentResources": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3LoadVersionRequest"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies",
      "type": "object",
      "properties": {
        "quickReplies": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverageTransition": {
      "properties": {
        "transitionRoute": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
        },
        "covered": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverageTransition"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio": {
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "properties": {
        "attributeValue": {
          "type": "string"
        },
        "boostAmount": {
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowV2CompanionSuggestionGuidance": {
      "id": "GoogleCloudDialogflowV2CompanionSuggestionGuidance",
      "type": "object",
      "properties": {
        "groundingMetadata": {
          "$ref": "GoogleCloudDialogflowV2GroundingMetadata"
        },
        "suggestedReply": {
          "type": "string"
        },
        "suggestedAction": {
          "type": "string"
        },
        "triggeringToolCallAnswerRecords": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "instructionSource": {
          "$ref": "GoogleCloudDialogflowV2GuidanceInstruction"
        },
        "knowledgeSources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2CompanionSuggestionGuidanceKnowledgeSource"
          }
        },
        "toolCalls": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ToolCallSuggestion"
          },
          "type": "array"
        },
        "explanation": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3QueryParameters": {
      "id": "GoogleCloudDialogflowCxV3QueryParameters",
      "properties": {
        "disableWebhook": {
          "type": "boolean"
        },
        "geoLocation": {
          "$ref": "GoogleTypeLatLng"
        },
        "populateDataStoreConnectionSignals": {
          "deprecated": true,
          "type": "boolean"
        },
        "analyzeQueryTextSentiment": {
          "type": "boolean"
        },
        "sessionTtl": {
          "type": "string",
          "format": "google-duration"
        },
        "channel": {
          "type": "string"
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3LlmModelSettings"
        },
        "flowVersions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "timeZone": {
          "type": "string"
        },
        "currentPlaybook": {
          "type": "string"
        },
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
          }
        },
        "webhookHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "endUserMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "currentPage": {
          "type": "string"
        },
        "parameterScope": {
          "type": "string"
        },
        "searchConfig": {
          "$ref": "GoogleCloudDialogflowCxV3SearchConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessage": {
      "properties": {
        "card": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCard"
        },
        "telephonyPlayAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio"
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions"
        },
        "payload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies"
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent"
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCard"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelect"
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "telephonySynthesizeSpeech": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech"
        },
        "rbmText": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmText"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
        },
        "rbmCarouselRichCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard"
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion"
        },
        "rbmStandaloneRichCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageText"
        },
        "platform": {
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "TELEPHONY",
            "GOOGLE_HANGOUTS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessage"
    },
    "GoogleCloudDialogflowCxV3FormParameterFillBehavior": {
      "type": "object",
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "repromptEventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
    },
    "GoogleCloudDialogflowCxV3beta1LanguageInfo": {
      "properties": {
        "resolvedLanguageCode": {
          "type": "string"
        },
        "inputLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1LanguageInfo"
    },
    "GoogleCloudDialogflowV2ToolCallSuggestion": {
      "properties": {
        "toolCallInfo": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
        },
        "textUpdate": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ToolCallSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton",
      "properties": {
        "title": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EntityTypeEntity": {
      "properties": {
        "value": {
          "type": "string"
        },
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
    },
    "GoogleCloudDialogflowCxV3PlaybookOutput": {
      "properties": {
        "executionSummary": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PlaybookOutput"
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart": {
      "properties": {
        "alias": {
          "type": "string"
        },
        "userDefined": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart"
    },
    "GoogleCloudDialogflowCxV3BoostSpec": {
      "properties": {
        "conditionBoostSpecs": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpec"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3BoostSpec"
    },
    "GoogleCloudDialogflowV2beta1SessionEntityType": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SessionEntityType",
      "properties": {
        "entityOverrideMode": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DtmfInput": {
      "properties": {
        "finishDigit": {
          "type": "string"
        },
        "digits": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DtmfInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3VersionVariants": {
      "type": "object",
      "properties": {
        "variants": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3VersionVariantsVariant"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3VersionVariants"
    },
    "GoogleCloudDialogflowCxV3ToolCallResultError": {
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolCallResultError",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo": {
      "properties": {
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo"
        },
        "queryGenerationDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        },
        "knowledgeAssistBehavior": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        },
        "datastoreResponseReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ]
        },
        "queryCategorizationFailureReason": {
          "enum": [
            "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_CATEGORIZATION_INVALID_CONFIG",
            "QUERY_CATEGORIZATION_RESULT_NOT_FOUND",
            "QUERY_CATEGORIZATION_FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "queryGenerationFailureReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_GENERATION_OUT_OF_QUOTA",
            "QUERY_GENERATION_FAILED",
            "QUERY_GENERATION_NO_QUERY_GENERATED",
            "QUERY_GENERATION_RAI_FAILED",
            "NOT_IN_ALLOWLIST",
            "QUERY_GENERATION_QUERY_REDACTED",
            "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED",
            "QUERY_GENERATION_EMPTY_CONVERSATION",
            "QUERY_GENERATION_EMPTY_LAST_MESSAGE",
            "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          ]
        },
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2beta1ServiceLatency"
        },
        "cesDebugInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo"
    },
    "GoogleCloudDialogflowCxV3RestoreToolVersionResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3RestoreToolVersionResponse",
      "properties": {
        "tool": {
          "$ref": "GoogleCloudDialogflowCxV3Tool"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsGroundingSignals": {
      "properties": {
        "decision": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "GROUNDING_DECISION_UNSPECIFIED",
            "ACCEPTED_BY_GROUNDING",
            "REJECTED_BY_GROUNDING"
          ]
        },
        "score": {
          "type": "string",
          "enum": [
            "GROUNDING_SCORE_BUCKET_UNSPECIFIED",
            "VERY_LOW",
            "LOW",
            "MEDIUM",
            "HIGH",
            "VERY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsGroundingSignals",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AgentPersonalizationSettings": {
      "properties": {
        "defaultEndUserMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3AgentPersonalizationSettings"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext"
    },
    "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse": {
      "id": "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse",
      "properties": {
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DeploymentResult": {
      "properties": {
        "deploymentTestResults": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "experiment": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DeploymentResult"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource",
      "properties": {
        "snippets": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SpeechWordInfo": {
      "id": "GoogleCloudDialogflowV2beta1SpeechWordInfo",
      "type": "object",
      "properties": {
        "endOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "word": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "startOffset": {
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SentimentAnalysisResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3SentimentAnalysisResult",
      "properties": {
        "score": {
          "format": "float",
          "type": "number"
        },
        "magnitude": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SafetySettingsRaiSettings": {
      "properties": {
        "categoryFilters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3SafetySettingsRaiSettingsCategoryFilter"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3SafetySettingsRaiSettings"
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo": {
      "type": "object",
      "properties": {
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResult"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCall"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
    },
    "GoogleCloudDialogflowCxV3FulfillIntentResponse": {
      "type": "object",
      "properties": {
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3OutputAudioConfig"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowCxV3QueryResult"
        },
        "responseId": {
          "type": "string"
        },
        "outputAudio": {
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillIntentResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurn": {
      "properties": {
        "userInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput"
        },
        "virtualAgentOutput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurn",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseResult": {
      "properties": {
        "environment": {
          "type": "string"
        },
        "conversationTurns": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "testTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "testResult": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff": {
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff"
    },
[...]
