{
  "revision": "20260825",
  "discoveryVersion": "v1",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "version": "v2beta1",
  "canonicalName": "Dialogflow",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "name": "dialogflow",
  "basePath": "",
  "title": "Dialogflow API",
  "resources": {
    "projects": {
      "resources": {
        "generators": {
          "methods": {
            "create": {
              "flatPath": "v2beta1/projects/{projectsId}/generators",
              "id": "dialogflow.projects.generators.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Generator"
              },
              "description": "",
              "path": "v2beta1/{+parent}/generators",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "generatorId": {
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1Generator"
              }
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListGeneratorsResponse"
              },
              "description": "",
              "id": "dialogflow.projects.generators.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/generators",
              "path": "v2beta1/{+parent}/generators",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              }
            }
          }
        },
        "answerRecords": {
          "methods": {
            "patch": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/answerRecords/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
              },
              "path": "v2beta1/{+name}",
              "description": "",
              "httpMethod": "PATCH",
              "flatPath": "v2beta1/projects/{projectsId}/answerRecords/{answerRecordsId}",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
              },
              "id": "dialogflow.projects.answerRecords.patch"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/answerRecords",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+parent}/answerRecords",
              "id": "dialogflow.projects.answerRecords.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListAnswerRecordsResponse"
              },
              "description": ""
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/answerRecords/[^/]+$"
                }
              },
              "deprecated": true,
              "flatPath": "v2beta1/projects/{projectsId}/answerRecords/{answerRecordsId}",
              "path": "v2beta1/{+name}",
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
              },
              "httpMethod": "GET",
              "id": "dialogflow.projects.answerRecords.get"
            }
          }
        },
        "conversations": {
          "resources": {
            "suggestions": {
              "methods": {
                "suggestConversationSummary": {
                  "path": "v2beta1/{+conversation}/suggestions:suggestConversationSummary",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponse"
                  },
                  "parameters": {
                    "conversation": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "conversation"
                  ],
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1SuggestConversationSummaryRequest"
                  },
                  "id": "dialogflow.projects.conversations.suggestions.suggestConversationSummary",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/suggestions:suggestConversationSummary",
                  "httpMethod": "POST"
                },
                "generate": {
                  "path": "v2beta1/{+conversation}/suggestions:generate",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse"
                  },
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.conversations.suggestions.generate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "conversation": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/suggestions:generate",
                  "description": "",
                  "parameterOrder": [
                    "conversation"
                  ]
                },
                "searchKnowledge": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/suggestions:searchKnowledge",
                  "path": "v2beta1/{+conversation}/suggestions:searchKnowledge",
                  "description": "",
                  "parameters": {
                    "conversation": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeResponse"
                  },
                  "parameterOrder": [
                    "conversation"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.conversations.suggestions.searchKnowledge"
                }
              }
            },
            "participants": {
              "resources": {
                "suggestions": {
                  "methods": {
                    "suggestArticles": {
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestArticles",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesRequest"
                      },
                      "path": "v2beta1/{+parent}/suggestions:suggestArticles",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
                      },
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestArticles",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "location": "path"
                        }
                      },
                      "deprecated": true,
                      "path": "v2beta1/{+parent}/suggestions",
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "description": "",
                      "id": "dialogflow.projects.conversations.participants.suggestions.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListSuggestionsResponse"
                      }
                    },
                    "compile": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:compile",
                      "id": "dialogflow.projects.conversations.participants.suggestions.compile",
                      "description": "",
                      "path": "v2beta1/{+parent}/suggestions:compile",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1CompileSuggestionRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1CompileSuggestionResponse"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "type": "string"
                        }
                      },
                      "deprecated": true
                    },
                    "suggestFaqAnswers": {
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersRequest"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2beta1/{+parent}/suggestions:suggestFaqAnswers",
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestFaqAnswers",
                      "httpMethod": "POST",
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestFaqAnswers"
                    },
                    "suggestSmartReplies": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$"
                        }
                      },
                      "description": "",
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestSmartReplies",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestSmartReplies",
                      "path": "v2beta1/{+parent}/suggestions:suggestSmartReplies",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesRequest"
                      }
                    },
                    "suggestKnowledgeAssist": {
                      "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestKnowledgeAssist",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v2beta1/{+parent}/suggestions:suggestKnowledgeAssist",
                      "id": "dialogflow.projects.conversations.participants.suggestions.suggestKnowledgeAssist",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST"
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "httpMethod": "PATCH",
                  "id": "dialogflow.projects.conversations.participants.patch",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.conversations.participants.list",
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListParticipantsResponse"
                  },
                  "path": "v2beta1/{+parent}/participants",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "analyzeContent": {
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}:analyzeContent",
                  "description": "",
                  "parameters": {
                    "participant": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnalyzeContentRequest"
                  },
                  "id": "dialogflow.projects.conversations.participants.analyzeContent",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1AnalyzeContentResponse"
                  },
                  "parameterOrder": [
                    "participant"
                  ],
                  "path": "v2beta1/{+participant}:analyzeContent"
                },
                "get": {
                  "path": "v2beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.conversations.participants.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants/{participantsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/conversations/[^/]+/participants/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": ""
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "description": "",
                  "path": "v2beta1/{+parent}/participants",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Participant"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/participants",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/conversations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "dialogflow.projects.conversations.participants.create"
                }
              }
            },
            "messages": {
              "methods": {
                "list": {
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/messages",
                  "path": "v2beta1/{+parent}/messages",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.conversations.messages.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListMessagesResponse"
                  },
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  }
                },
                "batchCreate": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchCreateMessagesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.conversations.messages.batchCreate",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchCreateMessagesResponse"
                  },
                  "httpMethod": "POST",
                  "path": "v2beta1/{+parent}/messages:batchCreate",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/conversations/[^/]+$"
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}/messages:batchCreate"
                }
              }
            }
          },
          "methods": {
            "complete": {
              "id": "dialogflow.projects.conversations.complete",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1CompleteConversationRequest"
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}:complete",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v2beta1/{+name}:complete",
              "description": ""
            },
            "create": {
              "parameters": {
                "conversationId": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.conversations.create",
              "description": "",
              "path": "v2beta1/{+parent}/conversations",
              "httpMethod": "POST",
              "flatPath": "v2beta1/projects/{projectsId}/conversations",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "id": "dialogflow.projects.conversations.get",
              "flatPath": "v2beta1/projects/{projectsId}/conversations/{conversationsId}",
              "path": "v2beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Conversation"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "list": {
              "id": "dialogflow.projects.conversations.list",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListConversationsResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v2beta1/{+parent}/conversations",
              "flatPath": "v2beta1/projects/{projectsId}/conversations",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "operations": {
          "methods": {
            "cancel": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v2beta1/{+name}:cancel",
              "id": "dialogflow.projects.operations.cancel",
              "flatPath": "v2beta1/projects/{projectsId}/operations/{operationsId}:cancel",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "id": "dialogflow.projects.operations.list",
              "flatPath": "v2beta1/projects/{projectsId}/operations",
              "parameterOrder": [
                "name"
              ],
              "path": "v2beta1/{+name}/operations"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v2beta1/projects/{projectsId}/operations/{operationsId}",
              "httpMethod": "GET",
              "id": "dialogflow.projects.operations.get",
              "description": "",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            }
          }
        },
        "agent": {
          "resources": {
            "intents": {
              "methods": {
                "get": {
                  "id": "dialogflow.projects.agent.intents.get",
                  "path": "v2beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Intent"
                  },
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents/{intentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "languageCode": {
                      "type": "string",
                      "location": "query"
                    },
                    "intentView": {
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ],
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "",
                        ""
                      ]
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$"
                    }
                  }
                },
                "create": {
                  "parameters": {
                    "intentView": {
                      "type": "string",
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "",
                        ""
                      ]
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Intent"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Intent"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents",
                  "id": "dialogflow.projects.agent.intents.create",
                  "httpMethod": "POST",
                  "path": "v2beta1/{+parent}/intents"
                },
                "batchUpdate": {
                  "id": "dialogflow.projects.agent.intents.batchUpdate",
                  "description": "",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents:batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2beta1/{+parent}/intents:batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchUpdateIntentsRequest"
                  }
                },
                "list": {
                  "id": "dialogflow.projects.agent.intents.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents",
                  "parameters": {
                    "languageCode": {
                      "type": "string",
                      "location": "query"
                    },
                    "intentView": {
                      "enumDescriptions": [
                        "",
                        ""
                      ],
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ]
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v2beta1/{+parent}/intents",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListIntentsResponse"
                  }
                },
                "delete": {
                  "id": "dialogflow.projects.agent.intents.delete",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents/{intentsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v2beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "batchDelete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchDeleteIntentsRequest"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents:batchDelete",
                  "id": "dialogflow.projects.agent.intents.batchDelete",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "description": "",
                  "path": "v2beta1/{+parent}/intents:batchDelete"
                },
                "patch": {
                  "description": "",
                  "path": "v2beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents/{intentsId}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Intent"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Intent"
                  },
                  "parameters": {
                    "intentView": {
                      "type": "string",
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "",
                        ""
                      ]
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.agent.intents.patch"
                }
              }
            },
            "knowledgeBases": {
              "methods": {
                "delete": {
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                      "required": true
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.agent.knowledgeBases.delete",
                  "path": "v2beta1/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
                  },
                  "httpMethod": "PATCH",
                  "description": "",
                  "id": "dialogflow.projects.agent.knowledgeBases.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+name}",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases",
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.agent.knowledgeBases.list",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListKnowledgeBasesResponse"
                  },
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "path": "v2beta1/{+parent}/knowledgeBases",
                  "description": ""
                },
                "get": {
                  "id": "dialogflow.projects.agent.knowledgeBases.get",
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
                  },
                  "path": "v2beta1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}"
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "dialogflow.projects.agent.knowledgeBases.create",
                  "path": "v2beta1/{+parent}/knowledgeBases",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases",
                  "description": "",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                }
              },
              "resources": {
                "documents": {
                  "methods": {
                    "delete": {
                      "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "path": "v2beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.delete",
                      "description": "",
                      "httpMethod": "DELETE"
                    },
                    "reload": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1ReloadDocumentRequest"
                      },
                      "path": "v2beta1/{+name}:reload",
                      "description": "",
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.reload",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:reload",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents",
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.list",
                      "path": "v2beta1/{+parent}/documents",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListDocumentsResponse"
                      }
                    },
                    "create": {
                      "description": "",
                      "httpMethod": "POST",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.create",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Document"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+parent}/documents",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                          "required": true
                        },
                        "importGcsCustomMetadata": {
                          "type": "boolean",
                          "location": "query"
                        }
                      }
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.patch",
                      "path": "v2beta1/{+name}",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Document"
                      }
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Document"
                      },
                      "path": "v2beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.get"
                    }
                  }
                }
              }
            },
            "entityTypes": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1EntityType"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/agent/entityTypes",
                  "description": "",
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.agent.entityTypes.create",
                  "path": "v2beta1/{+parent}/entityTypes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "languageCode": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1EntityType"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1EntityType"
                  },
                  "parameters": {
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.agent.entityTypes.get",
                  "path": "v2beta1/{+name}",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1EntityType"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1EntityType"
                  },
                  "id": "dialogflow.projects.agent.entityTypes.patch",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$"
                    },
                    "languageCode": {
                      "type": "string",
                      "location": "query"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "description": "",
                  "path": "v2beta1/{+name}",
                  "httpMethod": "PATCH"
                },
                "batchDelete": {
                  "flatPath": "v2beta1/projects/{projectsId}/agent/entityTypes:batchDelete",
                  "id": "dialogflow.projects.agent.entityTypes.batchDelete",
                  "path": "v2beta1/{+parent}/entityTypes:batchDelete",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchDeleteEntityTypesRequest"
                  },
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST"
                },
                "list": {
                  "description": "",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$",
                      "type": "string"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/entityTypes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.list",
                  "httpMethod": "GET",
                  "path": "v2beta1/{+parent}/entityTypes",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListEntityTypesResponse"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "path": "v2beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "dialogflow.projects.agent.entityTypes.delete"
                },
                "batchUpdate": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/agent/entityTypes:batchUpdate",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.batchUpdate",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesRequest"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v2beta1/{+parent}/entityTypes:batchUpdate"
                }
              },
              "resources": {
                "entities": {
                  "methods": {
                    "batchUpdate": {
                      "httpMethod": "POST",
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1BatchUpdateEntitiesRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v2beta1/{+parent}/entities:batchUpdate",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$"
                        }
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchUpdate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchUpdate",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "batchCreate": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchCreate",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchCreate",
                      "path": "v2beta1/{+parent}/entities:batchCreate",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1BatchCreateEntitiesRequest"
                      }
                    },
                    "batchDelete": {
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchDelete",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v2beta1/{+parent}/entities:batchDelete",
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchDelete",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1BatchDeleteEntitiesRequest"
                      }
                    }
                  }
                }
              }
            },
            "environments": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}",
                  "description": "",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.environments.delete",
                  "path": "v2beta1/{+name}"
                },
                "getHistory": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.agent.environments.getHistory",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1EnvironmentHistory"
                  },
                  "description": "",
                  "path": "v2beta1/{+parent}/history",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/history",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Environment"
                  },
                  "path": "v2beta1/{+name}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Environment"
                  },
                  "id": "dialogflow.projects.agent.environments.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "allowLoadToDraftAndDiscardChanges": {
                      "type": "boolean",
                      "location": "query"
                    }
                  }
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "environmentId": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments",
                  "description": "",
                  "id": "dialogflow.projects.agent.environments.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2beta1/{+parent}/environments",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Environment"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Environment"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListEnvironmentsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true
                    }
                  },
                  "path": "v2beta1/{+parent}/environments",
                  "id": "dialogflow.projects.agent.environments.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": ""
                },
                "get": {
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+name}",
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.agent.environments.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Environment"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "type": "string"
                    }
                  }
                }
              },
              "resources": {
                "users": {
                  "resources": {
                    "sessions": {
                      "resources": {
                        "contexts": {
                          "methods": {
                            "create": {
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                              "parameters": {
                                "parent": {
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "required": true,
                                  "location": "path"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2beta1Context"
                              },
                              "description": "",
                              "httpMethod": "POST",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1Context"
                              },
                              "path": "v2beta1/{+parent}/contexts",
                              "parameterOrder": [
                                "parent"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.create"
                            },
                            "get": {
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1Context"
                              },
                              "httpMethod": "GET",
                              "description": "",
                              "parameterOrder": [
                                "name"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.get",
                              "path": "v2beta1/{+name}",
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                  "type": "string"
                                }
                              }
                            },
                            "delete": {
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "path": "v2beta1/{+name}",
                              "httpMethod": "DELETE",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.delete",
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$"
                                }
                              },
                              "description": ""
                            },
                            "list": {
                              "parameterOrder": [
                                "parent"
                              ],
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                              "description": "",
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.list",
                              "httpMethod": "GET",
                              "path": "v2beta1/{+parent}/contexts",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1ListContextsResponse"
                              },
                              "parameters": {
                                "pageSize": {
                                  "format": "int32",
                                  "location": "query",
                                  "type": "integer"
                                },
                                "parent": {
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "location": "path",
                                  "required": true
                                },
                                "pageToken": {
                                  "location": "query",
                                  "type": "string"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ]
                            },
                            "patch": {
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "path": "v2beta1/{+name}",
                              "parameters": {
                                "updateMask": {
                                  "type": "string",
                                  "format": "google-fieldmask",
                                  "location": "query"
                                },
                                "name": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$"
                                }
                              },
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.patch",
                              "parameterOrder": [
                                "name"
                              ],
                              "httpMethod": "PATCH",
                              "description": "",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1Context"
                              },
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2beta1Context"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ]
                            }
                          }
                        },
                        "entityTypes": {
                          "methods": {
                            "create": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameters": {
                                "parent": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$"
                                }
                              },
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                              },
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes",
                              "path": "v2beta1/{+parent}/entityTypes",
                              "parameterOrder": [
                                "parent"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.create",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                              },
                              "httpMethod": "POST",
                              "description": ""
                            },
                            "get": {
                              "httpMethod": "GET",
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.get",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "path": "v2beta1/{+name}",
                              "description": "",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "location": "path",
                                  "type": "string"
                                }
                              }
                            },
                            "delete": {
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$"
                                }
                              },
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "httpMethod": "DELETE",
                              "path": "v2beta1/{+name}",
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.delete",
                              "description": ""
                            },
                            "list": {
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.list",
                              "path": "v2beta1/{+parent}/entityTypes",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1ListSessionEntityTypesResponse"
                              },
                              "parameters": {
                                "parent": {
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "location": "path",
                                  "type": "string",
                                  "required": true
                                },
                                "pageToken": {
                                  "type": "string",
                                  "location": "query"
                                },
                                "pageSize": {
                                  "type": "integer",
                                  "location": "query",
                                  "format": "int32"
                                }
                              },
[...]
