{
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "id": "dialogflow:v2",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "servicePath": "",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudDialogflowV2SynthesizeSpeechConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SynthesizeSpeechConfig",
      "properties": {
        "volumeGainDb": {
          "format": "double",
          "type": "number"
        },
        "pronunciations": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2CustomPronunciationParams"
          },
          "type": "array"
        },
        "speakingRate": {
          "type": "number",
          "format": "double"
        },
        "voice": {
          "$ref": "GoogleCloudDialogflowV2VoiceSelectionParams"
        },
        "pitch": {
          "type": "number",
          "format": "double"
        },
        "effectsProfileId": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "contentUrl": {
          "type": "string"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SipConfig": {
      "id": "GoogleCloudDialogflowV2SipConfig",
      "properties": {
        "allowVirtualAgentInteraction": {
          "type": "boolean"
        },
        "inactiveStart": {
          "type": "boolean"
        },
        "createConversationOnTheFly": {
          "type": "boolean"
        },
        "copyInboundCallLegHeaders": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ignoreReinviteMediaDirection": {
          "type": "boolean"
        },
        "keepConversationRunning": {
          "type": "boolean"
        },
        "maxAudioRecordingDuration": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportAgentResponse",
      "properties": {
        "commitSha": {
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings": {
      "properties": {
        "endpointerSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "noSpeechTimeout": {
          "format": "google-duration",
          "type": "string"
        },
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "models": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings"
    },
    "GoogleCloudDialogflowV2SmartReplyModelMetadata": {
      "properties": {
        "trainingModelType": {
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SmartReplyModelMetadata"
    },
    "GoogleCloudDialogflowV2ImportConversationDataRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ImportConversationDataRequest",
      "properties": {
        "inputConfig": {
          "$ref": "GoogleCloudDialogflowV2InputConfig"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceRubric": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceRubric",
      "properties": {
        "isAddressed": {
          "readOnly": true,
          "type": "boolean"
        },
        "question": {
          "readOnly": true,
          "type": "string"
        },
        "reasoning": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2ToolExtensionTool": {
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ToolExtensionTool"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clientSecret": {
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard": {
      "properties": {
        "thumbnailImageAlignment": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "THUMBNAIL_IMAGE_ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "RIGHT"
          ]
        },
        "cardContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
        },
        "cardOrientation": {
          "type": "string",
          "enum": [
            "CARD_ORIENTATION_UNSPECIFIED",
            "HORIZONTAL",
            "VERTICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard"
    },
    "GoogleCloudDialogflowV2beta1IntentMessage": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessage",
      "type": "object",
      "properties": {
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
        },
        "rbmCarouselRichCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard"
        },
        "rbmText": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmText"
        },
        "rbmStandaloneRichCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard"
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion"
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelect"
        },
        "telephonySynthesizeSpeech": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageText"
        },
        "platform": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "TELEPHONY",
            "GOOGLE_HANGOUTS"
          ]
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions"
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCard"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
        },
        "telephonyPlayAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses"
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent"
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCard"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1QueryResult": {
      "id": "GoogleCloudDialogflowV2beta1QueryResult",
      "properties": {
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "action": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "knowledgeAnswers": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswers"
        },
        "queryText": {
          "type": "string"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2beta1Intent"
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "languageCode": {
          "type": "string"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "fulfillmentText": {
          "type": "string"
        },
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "speechRecognitionConfidence": {
          "type": "number",
          "format": "float"
        },
        "webhookPayload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "webhookSource": {
          "type": "string"
        },
        "intentDetectionConfidence": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata": {
      "properties": {
        "conversationDataset": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3ExportIntentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportIntentsResponse",
      "properties": {
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineDestination"
        },
        "intentsUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentParameter": {
      "type": "object",
      "properties": {
        "mandatory": {
          "type": "boolean"
        },
        "entityTypeDisplayName": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "prompts": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentParameter"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string"
        },
        "urlTypeHint": {
          "type": "string",
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse": {
      "properties": {
        "generatorSuggestionAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse"
    },
    "GoogleCloudDialogflowV2ToolOpenApiTool": {
      "id": "GoogleCloudDialogflowV2ToolOpenApiTool",
      "properties": {
        "authentication": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthentication"
        },
        "tlsConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolTLSConfig"
        },
        "textSchema": {
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolServiceDirectoryConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech",
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2CustomPronunciationParams": {
      "properties": {
        "pronunciation": {
          "type": "string"
        },
        "phrase": {
          "type": "string"
        },
        "phoneticEncoding": {
          "type": "string",
          "enum": [
            "PHONETIC_ENCODING_UNSPECIFIED",
            "PHONETIC_ENCODING_IPA",
            "PHONETIC_ENCODING_X_SAMPA"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2CustomPronunciationParams"
    },
    "GoogleCloudDialogflowCxV3FormParameter": {
      "id": "GoogleCloudDialogflowCxV3FormParameter",
      "type": "object",
      "properties": {
        "redact": {
          "type": "boolean"
        },
        "defaultValue": {
          "type": "any"
        },
        "isList": {
          "type": "boolean"
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
        },
        "entityType": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AnswerFeedback": {
      "type": "object",
      "properties": {
        "correctnessLevel": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ]
        },
        "displayTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "displayed": {
          "type": "boolean"
        },
        "clicked": {
          "type": "boolean"
        },
        "clickTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "agentAssistantDetailFeedback": {
          "$ref": "GoogleCloudDialogflowV2AgentAssistantFeedback"
        }
      },
      "id": "GoogleCloudDialogflowV2AnswerFeedback"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo",
      "properties": {
        "tag": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem",
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "description": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AudioInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AudioInput",
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InputAudioConfig"
        },
        "audio": {
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SmartReplyAnswer": {
      "properties": {
        "reply": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SmartReplyAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1SessionInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1SessionInfo",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "session": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "properties": {
        "snippets": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse": {
      "id": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse",
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        },
        "faqAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1FaqAnswer"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationModelConfig": {
      "type": "object",
      "properties": {
        "model": {
          "type": "string"
        },
        "baselineModelVersion": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationModelConfig"
    },
    "GoogleCloudDialogflowV2ConversationGeneratorContext": {
      "type": "object",
      "properties": {
        "generatorType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "GENERATOR_TYPE_UNSPECIFIED",
            "FREE_FORM",
            "AGENT_COACHING",
            "SUMMARIZATION",
            "TRANSLATION",
            "AGENT_FEEDBACK",
            "CUSTOMER_MESSAGE_GENERATION"
          ],
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2ConversationGeneratorContext"
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo": {
      "type": "object",
      "properties": {
        "value": {
          "type": "any"
        },
        "justCollected": {
          "type": "boolean"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ]
        },
        "displayName": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies",
      "properties": {
        "title": {
          "type": "string"
        },
        "quickReplies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Page": {
      "type": "object",
      "properties": {
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          }
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          }
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Form"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Page"
    },
    "GoogleCloudDialogflowCxV3ConversationSignals": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ConversationSignals",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3TurnSignals"
        }
      }
    },
    "GoogleCloudDialogflowV2DocumentReloadStatus": {
      "id": "GoogleCloudDialogflowV2DocumentReloadStatus",
      "properties": {
        "time": {
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2ImportDocumentTemplate": {
      "id": "GoogleCloudDialogflowV2ImportDocumentTemplate",
      "type": "object",
      "properties": {
        "knowledgeTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "KNOWLEDGE_TYPE_UNSPECIFIED",
              "FAQ",
              "EXTRACTIVE_QA",
              "ARTICLE_SUGGESTION",
              "AGENT_FACING_SMART_REPLY"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "mimeType": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2CesAppSpec": {
      "deprecated": true,
      "type": "object",
      "properties": {
        "confirmationRequirement": {
          "type": "string",
          "enum": [
            "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
            "REQUIRED",
            "NOT_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "reactiveEnabled": {
          "type": "boolean"
        },
        "cesApp": {
          "type": "string"
        },
        "proactiveEnabled": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2CesAppSpec"
    },
    "GoogleCloudDialogflowV2GeneratorSuggestion": {
      "id": "GoogleCloudDialogflowV2GeneratorSuggestion",
      "properties": {
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2SummarySuggestion"
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestion"
        },
        "toolCallInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
          }
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2FreeFormSuggestion"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse": {
      "id": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse",
      "type": "object",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "additionalSuggestedQueryResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          }
        },
        "knowledgeAssistAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer"
        }
      }
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponse": {
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "generatorSuggestionAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
    },
    "GoogleCloudDialogflowV2EventInput": {
      "id": "GoogleCloudDialogflowV2EventInput",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowV2ToolAuthenticationBearerTokenConfig": {
      "id": "GoogleCloudDialogflowV2ToolAuthenticationBearerTokenConfig",
      "properties": {
        "secretVersionForToken": {
          "type": "string"
        },
        "token": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ExportAgentResponse": {
      "type": "object",
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ExportAgentResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContent": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent",
      "properties": {
        "mediaObjects": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
          },
          "type": "array"
        },
        "mediaType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ]
        }
      }
    },
    "GoogleTypeLatLng": {
      "type": "object",
      "id": "GoogleTypeLatLng",
      "properties": {
        "latitude": {
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall": {
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestMetadata": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2Participant": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Participant",
      "properties": {
        "sipRecordingMediaLabel": {
          "type": "string"
        },
        "documentsMetadataFilters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "obfuscatedExternalUserId": {
          "type": "string"
        },
        "role": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "agentDesktopSource": {
          "type": "string",
          "enum": [
            "AGENT_DESKTOP_SOURCE_UNSPECIFIED",
            "LIVE_PERSON",
            "GENESYS_CLOUD",
            "TWILIO",
            "SALESFORCE",
            "OTHER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SessionEntityType": {
      "type": "object",
      "properties": {
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          },
          "type": "array"
        },
        "entityOverrideMode": {
          "type": "string",
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SessionEntityType"
    },
    "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseResult": {
      "properties": {
        "environment": {
          "type": "string"
        },
        "conversationTurns": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          },
          "type": "array"
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "testResult": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
    },
    "GoogleCloudDialogflowV2OriginalDetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2OriginalDetectIntentRequest",
      "properties": {
        "version": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2EvaluationConfig": {
      "properties": {
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2InputDataset"
          }
        },
        "smartComposeConfig": {
          "$ref": "GoogleCloudDialogflowV2EvaluationConfigSmartComposeConfig"
        },
        "smartReplyConfig": {
          "$ref": "GoogleCloudDialogflowV2EvaluationConfigSmartReplyConfig"
        }
      },
      "id": "GoogleCloudDialogflowV2EvaluationConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia": {
      "properties": {
        "fileUri": {
          "type": "string"
        },
        "thumbnailUri": {
          "type": "string"
        },
        "height": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "HEIGHT_UNSPECIFIED",
            "SHORT",
            "MEDIUM",
            "TALL"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestionResult": {
      "id": "GoogleCloudDialogflowV2SuggestionResult",
      "properties": {
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
        },
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
        },
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestArticlesResponse"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListSessionEntityTypesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListSessionEntityTypesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigSections": {
      "properties": {
        "sectionTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SECTION_TYPE_UNSPECIFIED",
              "SITUATION",
              "ACTION",
              "RESOLUTION",
              "REASON_FOR_CANCELLATION",
              "CUSTOMER_SATISFACTION",
              "ENTITIES"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigSections"
    },
    "GoogleCloudDialogflowV2beta1ToolCallResult": {
      "id": "GoogleCloudDialogflowV2beta1ToolCallResult",
      "properties": {
        "tool": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResultError"
        },
        "cesToolset": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "rawContent": {
          "format": "byte",
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "answerRecord": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer",
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestion"
        },
        "sourceGenerator": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestion": {
      "properties": {
        "summarySections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Intent": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Intent",
      "properties": {
        "mlDisabled": {
          "type": "boolean"
        },
        "rootFollowupIntentName": {
          "type": "string",
          "readOnly": true
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentParameter"
          },
          "type": "array"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "defaultResponsePlatforms": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "TELEPHONY",
              "GOOGLE_HANGOUTS"
            ]
          }
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "action": {
          "type": "string"
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase"
          }
        },
        "inputContextNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "isFallback": {
          "type": "boolean"
        },
        "mlEnabled": {
          "deprecated": true,
          "type": "boolean"
        },
        "resetContexts": {
          "type": "boolean"
        },
        "webhookState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ]
        },
        "endInteraction": {
          "type": "boolean"
        },
        "events": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "followupIntentInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo"
          },
          "type": "array",
          "readOnly": true
        },
        "name": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff",
      "type": "object"
    },
    "GoogleCloudDialogflowV2DetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2DetectIntentRequest",
      "type": "object",
      "properties": {
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowV2OutputAudioConfig"
        },
        "outputAudioConfigMask": {
          "format": "google-fieldmask",
          "type": "string"
        },
        "inputAudio": {
          "type": "string",
          "format": "byte"
        },
        "queryInput": {
          "$ref": "GoogleCloudDialogflowV2QueryInput"
        },
        "queryParams": {
          "$ref": "GoogleCloudDialogflowV2QueryParameters"
        }
      }
    },
    "GoogleCloudDialogflowV2ListEnvironmentsResponse": {
      "properties": {
        "environments": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Environment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ListEnvironmentsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2GenerateStatelessSummaryRequest": {
      "id": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequest",
      "properties": {
        "maxContextSize": {
          "format": "int32",
          "type": "integer"
        },
        "statelessConversation": {
          "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequestMinimalConversation"
        },
        "latestMessage": {
          "type": "string"
        },
        "conversationProfile": {
          "$ref": "GoogleCloudDialogflowV2ConversationProfile"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolAuthentication": {
      "type": "object",
      "properties": {
        "serviceAgentAuthConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig"
        },
        "apiKeyConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationApiKeyConfig"
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationOAuthConfig"
        },
        "bearerTokenConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationBearerTokenConfig"
        }
      },
      "id": "GoogleCloudDialogflowV2ToolAuthentication"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet",
      "properties": {
        "text": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "title": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue",
      "properties": {
        "secretVersion": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings": {
      "properties": {
        "enableConsentBasedRedaction": {
          "type": "boolean"
        },
        "enableInteractionLogging": {
          "type": "boolean"
        },
        "enableStackdriverLogging": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings"
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestion",
      "properties": {
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AnalyzeContentResponse": {
      "properties": {
        "humanAgentSuggestionResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestionResult"
          },
          "type": "array"
        },
        "message": {
          "$ref": "GoogleCloudDialogflowV2Message"
        },
        "replyAudio": {
          "$ref": "GoogleCloudDialogflowV2OutputAudio"
        },
        "dtmfParameters": {
          "$ref": "GoogleCloudDialogflowV2DtmfParameters"
        },
        "automatedAgentReply": {
          "$ref": "GoogleCloudDialogflowV2AutomatedAgentReply"
        },
        "replyText": {
          "type": "string"
        },
        "endUserSuggestionResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestionResult"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2AnalyzeContentResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources",
      "properties": {
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "intentDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationPhoneNumber": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ConversationPhoneNumber",
      "properties": {
        "phoneNumber": {
          "readOnly": true,
          "type": "string"
        },
        "countryCode": {
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesResponse",
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportIntentsMetadata": {
      "id": "GoogleCloudDialogflowCxV3ImportIntentsMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency": {
      "id": "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency",
      "properties": {
        "step": {
          "type": "string"
        },
        "latencyMs": {
          "format": "float",
          "type": "number"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo": {
      "type": "object",
      "properties": {
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowV2ToolCallResult"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowV2ToolCall"
        }
      },
      "id": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse": {
      "type": "object",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Intent"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse"
    },
    "GoogleCloudDialogflowCxV3ConversationTurn": {
      "properties": {
        "userInput": {
          "$ref": "GoogleCloudDialogflowCxV3ConversationTurnUserInput"
        },
        "virtualAgentOutput": {
          "$ref": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ConversationTurn"
    },
    "GoogleCloudDialogflowV2Fulfillment": {
      "properties": {
        "features": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2FulfillmentFeature"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowV2FulfillmentGenericWebService"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2Fulfillment",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeResponse": {
      "type": "object",
      "properties": {
        "rewrittenQuery": {
          "type": "string"
        },
        "searchKnowledgeDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2SearchKnowledgeDebugInfo"
        },
        "answers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SearchKnowledgeAnswer"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2SearchKnowledgeResponse"
    },
    "GoogleCloudDialogflowV2ListDocumentsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Document"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2ListDocumentsResponse"
    },
    "GoogleCloudDialogflowCxV3IntentParameter": {
      "properties": {
        "redact": {
          "type": "boolean"
        },
        "isList": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentParameter"
    },
    "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "CANCELLING",
            "TRAINING"
          ]
        },
        "conversationModel": {
          "type": "string"
        },
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1QueryInput": {
      "id": "GoogleCloudDialogflowCxV3beta1QueryInput",
      "properties": {
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AudioInput"
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EventInput"
        },
        "languageCode": {
          "type": "string"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TextInput"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResult"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1IntentInput"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DtmfInput"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ValidationResult": {
      "properties": {
        "validationErrors": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ValidationError"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2ValidationResult",
      "type": "object"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudLocationListLocationsResponse"
    },
    "GoogleCloudDialogflowV2BatchDeleteEntitiesRequest": {
      "id": "GoogleCloudDialogflowV2BatchDeleteEntitiesRequest",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "entityValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion",
      "properties": {
        "destinationName": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig",
      "properties": {
        "service": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestCase": {
      "id": "GoogleCloudDialogflowCxV3TestCase",
      "properties": {
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          }
        },
        "notes": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        },
        "displayName": {
          "type": "string"
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3TestConfig"
        },
        "creationTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "similarityScore": {
          "format": "float",
          "type": "number",
          "readOnly": true
        },
        "suggestionIndex": {
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "answerRecord": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata": {
      "properties": {
        "request": {
          "$ref": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2EntityType": {
      "id": "GoogleCloudDialogflowV2EntityType",
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          }
        },
        "autoExpansionMode": {
          "type": "string",
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo",
      "properties": {
        "queryGenerationFailureReason": {
          "type": "string",
          "enum": [
            "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_GENERATION_OUT_OF_QUOTA",
            "QUERY_GENERATION_FAILED",
            "QUERY_GENERATION_NO_QUERY_GENERATED",
            "QUERY_GENERATION_RAI_FAILED",
            "NOT_IN_ALLOWLIST",
            "QUERY_GENERATION_QUERY_REDACTED",
            "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED",
            "QUERY_GENERATION_EMPTY_CONVERSATION",
            "QUERY_GENERATION_EMPTY_LAST_MESSAGE",
            "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2ServiceLatency"
        },
        "cesDebugInfo": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "queryCategorizationFailureReason": {
          "type": "string",
          "enum": [
            "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_CATEGORIZATION_INVALID_CONFIG",
            "QUERY_CATEGORIZATION_RESULT_NOT_FOUND",
            "QUERY_CATEGORIZATION_FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "knowledgeAssistBehavior": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        },
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
        },
        "queryGenerationDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        },
        "datastoreResponseReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse": {
      "id": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse",
      "type": "object",
      "properties": {
        "knowledgeAssistAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswer"
        },
        "latestMessage": {
          "type": "string"
        },
        "additionalSuggestedQueryResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          }
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswers": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswers",
      "properties": {
        "answers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolFunctionTool": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ToolFunctionTool",
      "properties": {
        "inputSchema": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "methodType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "METHOD_TYPE_UNSPECIFIED",
            "GET",
            "POST",
            "PUT",
            "DELETE",
            "PATCH"
          ]
        },
        "outputSchema": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken",
      "properties": {
        "tokenCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "section": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata": {
      "id": "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata",
      "type": "object",
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "RUNNING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "conversationModelEvaluation": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfo": {
      "properties": {
        "currentPage": {
          "type": "string"
        },
        "formInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3PageInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Webhook": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Webhook",
      "properties": {
        "disabled": {
          "type": "boolean"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig"
        },
        "displayName": {
          "type": "string"
        },
        "timeout": {
          "format": "google-duration",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent": {
      "properties": {
        "description": {
          "type": "string"
        },
        "media": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia"
        },
        "title": {
          "type": "string"
        },
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
    },
    "GoogleCloudDialogflowV2ConnectionErrorDetails": {
      "id": "GoogleCloudDialogflowV2ConnectionErrorDetails",
      "properties": {
        "certificateState": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CERTIFICATE_STATE_UNSPECIFIED",
            "CERTIFICATE_VALID",
            "CERTIFICATE_INVALID",
            "CERTIFICATE_EXPIRED",
            "CERTIFICATE_HOSTNAME_NOT_FOUND",
            "CERTIFICATE_UNAUTHENTICATED",
            "CERTIFICATE_TRUST_STORE_NOT_FOUND",
            "CERTIFICATE_HOSTNAME_INVALID_FORMAT",
            "CERTIFICATE_QUOTA_EXCEEDED"
          ]
        },
        "errorMessage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject",
      "properties": {
        "name": {
          "type": "string"
        },
        "contentUrl": {
          "type": "string"
        },
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse",
      "properties": {
        "ssml": {
          "type": "string"
        },
        "textToSpeech": {
          "type": "string"
        },
        "displayText": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRoute": {
      "properties": {
        "description": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "condition": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "intent": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRoute",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult": {
      "type": "object",
      "properties": {
        "duplicateSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
    },
    "GoogleCloudDialogflowV2EntityTypeEntity": {
      "type": "object",
      "properties": {
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2EntityTypeEntity"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall"
    },
    "GoogleCloudDialogflowCxV3EventHandler": {
      "id": "GoogleCloudDialogflowCxV3EventHandler",
      "properties": {
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "targetPage": {
          "type": "string"
        },
        "event": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "targetPlaybook": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata",
      "properties": {
        "trainingModelType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata",
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SearchKnowledgeDebugInfoSearchKnowledgeBehavior": {
      "id": "GoogleCloudDialogflowV2SearchKnowledgeDebugInfoSearchKnowledgeBehavior",
      "type": "object",
      "properties": {
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsOverallScoresByMetric": {
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsOverallScoresByMetric",
      "type": "object",
      "properties": {
        "metric": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCard": {
      "properties": {
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCardButton"
          }
        },
        "imageUri": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCard"
    },
    "GoogleCloudDialogflowCxV3beta1TestConfig": {
      "properties": {
        "page": {
          "type": "string"
        },
        "flow": {
          "type": "string"
        },
        "trackingParameters": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        },
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      }
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfig": {
      "properties": {
        "summarizationConfig": {
          "$ref": "GoogleCloudDialogflowV2GeneratorEvaluationConfigSummarizationConfig"
        },
        "inputDataConfig": {
          "$ref": "GoogleCloudDialogflowV2GeneratorEvaluationConfigInputDataConfig"
        },
        "outputGcsBucketPath": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse",
      "type": "object",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContent": {
      "properties": {
        "mediaType": {
          "type": "string",
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "mediaObjects": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContent",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "type": "object",
      "properties": {
        "intent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput"
    },
    "GoogleCloudDialogflowV2ListConversationDatasetsResponse": {
      "properties": {
        "conversationDatasets": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationDataset"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListConversationDatasetsResponse"
    },
    "GoogleCloudDialogflowV2ExportOperationMetadata": {
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2GcsDestination"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ExportOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1TurnSignals": {
      "type": "object",
      "properties": {
        "webhookStatuses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "noUserInput": {
          "type": "boolean"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "sentimentMagnitude": {
          "format": "float",
          "type": "number"
        },
        "failureReasons": {
          "items": {
            "type": "string",
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "noMatch": {
          "type": "boolean"
        },
        "agentEscalated": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TurnSignals"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult",
      "properties": {
        "duplicateSuggestions": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2EvaluationConfigSmartComposeConfig": {
      "id": "GoogleCloudDialogflowV2EvaluationConfigSmartComposeConfig",
      "properties": {
        "allowlistDocument": {
          "type": "string"
        },
        "maxResultCount": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2DeployConversationModelRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2DeployConversationModelRequest",
      "properties": {}
    },
    "GoogleCloudDialogflowV2Context": {
      "id": "GoogleCloudDialogflowV2Context",
      "properties": {
        "name": {
          "type": "string"
        },
        "lifespanCount": {
          "type": "integer",
          "format": "int32"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Context": {
      "properties": {
        "lifespanCount": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Context",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolCallResultError": {
      "properties": {
        "message": {
          "type": "string"
        },
        "retryable": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ToolCallResultError"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment",
      "properties": {
        "allowPlaybackInterruption": {
          "type": "boolean"
        },
        "audio": {
          "format": "byte",
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2InputAudioConfig": {
      "properties": {
        "disableNoSpeechRecognizedEvent": {
          "type": "boolean"
        },
        "speechContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SpeechContext"
          },
          "type": "array"
        },
        "model": {
          "type": "string"
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "modelVariant": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ]
        },
        "enableVoiceActivityEvents": {
          "type": "boolean"
        },
        "enableAutomaticPunctuation": {
          "type": "boolean"
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "languageCode": {
          "type": "string"
        },
        "useGeminiAsr": {
          "type": "boolean"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "phraseHints": {
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "audioEncoding": {
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "singleUtterance": {
          "type": "boolean"
        },
        "geminiAsrConfig": {
          "$ref": "GoogleCloudDialogflowV2SpeechToTextConfigGeminiAsrConfig"
        },
        "phraseSets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2InputAudioConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo": {
      "properties": {
        "datastoreResponseReason": {
          "type": "string",
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2beta1ServiceLatency"
        },
        "queryCategorizationFailureReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_CATEGORIZATION_INVALID_CONFIG",
            "QUERY_CATEGORIZATION_RESULT_NOT_FOUND",
            "QUERY_CATEGORIZATION_FAILED"
          ]
        },
        "knowledgeAssistBehavior": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        },
        "cesDebugInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "queryGenerationDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        },
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo"
        },
        "queryGenerationFailureReason": {
          "type": "string",
          "enum": [
            "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_GENERATION_OUT_OF_QUOTA",
            "QUERY_GENERATION_FAILED",
            "QUERY_GENERATION_NO_QUERY_GENERATED",
            "QUERY_GENERATION_RAI_FAILED",
            "NOT_IN_ALLOWLIST",
            "QUERY_GENERATION_QUERY_REDACTED",
            "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED",
            "QUERY_GENERATION_EMPTY_CONVERSATION",
            "QUERY_GENERATION_EMPTY_LAST_MESSAGE",
            "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolServiceDirectoryConfig": {
      "id": "GoogleCloudDialogflowV2ToolServiceDirectoryConfig",
      "properties": {
        "service": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionFeatureConfig": {
      "properties": {
        "suggestionTriggerSettings": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionTriggerSettings"
        },
        "suggestionTriggerEvent": {
          "type": "string",
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "suggestionFeature": {
          "$ref": "GoogleCloudDialogflowV2SuggestionFeature"
        },
        "enableConversationAugmentedQuery": {
          "type": "boolean"
        },
        "disableAgentQueryLogging": {
          "type": "boolean"
        },
        "enableEventBasedSuggestion": {
          "type": "boolean"
        },
        "enableQuerySuggestionWhenNoAnswer": {
          "type": "boolean"
        },
        "queryConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfig"
        },
        "enableQuerySuggestionOnly": {
          "type": "boolean"
        },
        "conversationProcessConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationProcessConfig"
        },
        "raiSettings": {
          "$ref": "GoogleCloudDialogflowV2RaiSettings"
        },
        "disableQuerySearchContext": {
          "type": "boolean"
        },
        "enableResponseDebugInfo": {
          "type": "boolean"
        },
        "conversationModelConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationModelConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionFeatureConfig"
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo": {
      "type": "object",
      "properties": {
        "justCollected": {
          "type": "boolean"
        },
        "state": {
          "type": "string",
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "displayName": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        },
        "value": {
          "type": "any"
        }
      },
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponse",
      "type": "object",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ImportDocumentsResponse": {
      "id": "GoogleCloudDialogflowV2beta1ImportDocumentsResponse",
      "type": "object",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestion": {
      "type": "object",
      "properties": {
        "sampleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse"
          }
        },
        "agentActionSuggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion"
          }
        },
        "applicableInstructions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstruction"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestion"
    },
    "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata"
    },
    "GoogleCloudDialogflowV2AnalyzeContentRequest": {
      "properties": {
        "suggestionInput": {
          "$ref": "GoogleCloudDialogflowV2SuggestionInput"
        },
        "cxParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "assistQueryParams": {
          "$ref": "GoogleCloudDialogflowV2AssistQueryParameters"
        },
        "eventInput": {
          "$ref": "GoogleCloudDialogflowV2EventInput"
        },
        "requestId": {
          "type": "string"
        },
        "queryParams": {
          "$ref": "GoogleCloudDialogflowV2QueryParameters"
        },
        "textInput": {
          "$ref": "GoogleCloudDialogflowV2TextInput"
        },
        "replyAudioConfig": {
          "$ref": "GoogleCloudDialogflowV2OutputAudioConfig"
        },
        "audioInput": {
          "$ref": "GoogleCloudDialogflowV2AudioInput"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2AnalyzeContentRequest"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceDecomposition": {
      "deprecated": true,
      "type": "object",
      "properties": {
        "adherenceReasoning": {
          "type": "string",
          "readOnly": true
        },
        "point": {
          "type": "string",
          "readOnly": true
        },
        "isAdherent": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceDecomposition"
    },
    "GoogleCloudDialogflowV2MessageEntry": {
      "id": "GoogleCloudDialogflowV2MessageEntry",
      "properties": {
        "role": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "text": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2InputDataset": {
      "type": "object",
      "properties": {
        "dataset": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2InputDataset"
    },
    "GoogleCloudDialogflowCxV3RunTestCaseResponse": {
      "id": "GoogleCloudDialogflowCxV3RunTestCaseResponse",
      "type": "object",
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        }
      }
    },
    "GoogleCloudDialogflowV2SpeechWordInfo": {
      "id": "GoogleCloudDialogflowV2SpeechWordInfo",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "word": {
          "type": "string"
        },
        "startOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "endOffset": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestRunDifference": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestRunDifference",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportFlowResponse",
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "flowContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentParameter": {
      "type": "object",
      "properties": {
        "isList": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "redact": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentParameter"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource": {
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource",
      "properties": {
        "humanAgentSideConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig"
        },
        "agent": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrase": {
      "properties": {
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
          }
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "timesAddedCount": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrase"
    },
    "GoogleCloudDialogflowV2beta1IntentSuggestion": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "intentV2": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentSuggestion"
    },
    "GoogleCloudDialogflowV2beta1EntityType": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1EntityType",
      "properties": {
        "kind": {
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "displayName": {
          "type": "string"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "autoExpansionMode": {
          "type": "string",
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2TextToSpeechSettings": {
      "id": "GoogleCloudDialogflowV2TextToSpeechSettings",
      "properties": {
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "outputAudioEncoding": {
          "enumDescriptions": [
            "",
[...]
