{
  "version_module": true,
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer": {
      "properties": {
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
        },
        "answerRecord": {
          "type": "string"
        },
        "suggestedQueryAnswer": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer"
        },
        "knowledgeAssistDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer"
    },
    "GoogleCloudLocationLocation": {
      "id": "GoogleCloudLocationLocation",
      "properties": {
        "name": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "locationId": {
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2InferenceParameter": {
      "id": "GoogleCloudDialogflowV2InferenceParameter",
      "properties": {
        "temperature": {
          "format": "double",
          "type": "number"
        },
        "topP": {
          "format": "double",
          "type": "number"
        },
        "maxOutputTokens": {
          "type": "integer",
          "format": "int32"
        },
        "topK": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1StreamingRecognitionResult": {
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "stability": {
          "type": "number",
          "format": "float"
        },
        "transcript": {
          "type": "string"
        },
        "speechEndOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "dtmfDigits": {
          "$ref": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents"
        },
        "speechWordInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SpeechWordInfo"
          },
          "type": "array"
        },
        "messageType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "END_OF_SINGLE_UTTERANCE",
            "DTMF_DIGITS",
            "PARTIAL_DTMF_DIGITS",
            "SPEECH_ACTIVITY_BEGIN",
            "SPEECH_ACTIVITY_END"
          ],
          "type": "string"
        },
        "isFinal": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1StreamingRecognitionResult"
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfigAgentAssistInputDataConfig": {
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfigAgentAssistInputDataConfig",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesMetadata",
      "properties": {}
    },
    "GoogleCloudDialogflowV2Generator": {
      "properties": {
        "suggestionDedupingConfig": {
          "$ref": "GoogleCloudDialogflowV2SuggestionDedupingConfig"
        },
        "cesToolSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2CesToolSpec"
          }
        },
        "agentCoachingContext": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingContext"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "toolsetTools": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ToolsetTool"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "triggerEvent": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE"
          ],
          "type": "string"
        },
        "tools": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "inferenceParameter": {
          "$ref": "GoogleCloudDialogflowV2InferenceParameter"
        },
        "publishedModel": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string"
        },
        "summarizationContext": {
          "$ref": "GoogleCloudDialogflowV2SummarizationContext"
        },
        "freeFormContext": {
          "$ref": "GoogleCloudDialogflowV2FreeFormContext"
        },
        "cesAppSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2CesAppSpec"
          },
          "deprecated": true
        }
      },
      "id": "GoogleCloudDialogflowV2Generator",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "answerRecord": {
          "type": "string",
          "readOnly": true
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "similarityScore": {
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "suggestionIndex": {
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListSessionEntityTypesResponse": {
      "id": "GoogleCloudDialogflowV2ListSessionEntityTypesResponse",
      "properties": {
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses",
      "properties": {
        "simpleResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart": {
      "properties": {
        "text": {
          "type": "string"
        },
        "parameterId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
    },
    "GoogleCloudDialogflowV2ConversationContextReference": {
      "properties": {
        "contextContents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationContextReferenceContextContent"
          },
          "type": "array"
        },
        "languageCode": {
          "type": "string"
        },
        "updateMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UPDATE_MODE_UNSPECIFIED",
            "APPEND",
            "OVERWRITE"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ConversationContextReference"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionTriggerSettings": {
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionTriggerSettings",
      "type": "object",
      "properties": {
        "noSmalltalk": {
          "type": "boolean"
        },
        "onlyEndUser": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationProcessConfig": {
      "type": "object",
      "properties": {
        "recentSentencesCount": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationProcessConfig"
    },
    "GoogleCloudDialogflowV2MessageEntry": {
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "text": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2MessageEntry"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio": {
      "type": "object",
      "properties": {
        "audioUri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio"
    },
    "GoogleCloudDialogflowV2SuggestSmartRepliesResponse": {
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "smartReplyAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SmartReplyAnswer"
          },
          "readOnly": true,
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestConversationSummaryRequest": {
      "id": "GoogleCloudDialogflowV2SuggestConversationSummaryRequest",
      "properties": {
        "assistQueryParams": {
          "$ref": "GoogleCloudDialogflowV2AssistQueryParameters"
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolCallResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ToolCallResult",
      "properties": {
        "error": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResultError"
        },
        "cesToolset": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "rawContent": {
          "format": "byte",
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart",
      "type": "object",
      "properties": {
        "parameterId": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SessionEntityType": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        },
        "entityOverrideMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SessionEntityType"
    },
    "GoogleCloudDialogflowV2ImportAgentRequest": {
      "id": "GoogleCloudDialogflowV2ImportAgentRequest",
      "type": "object",
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard"
    },
    "GoogleCloudDialogflowV2beta1ImportDocumentsResponse": {
      "id": "GoogleCloudDialogflowV2beta1ImportDocumentsResponse",
      "properties": {
        "warnings": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AudioInput": {
      "id": "GoogleCloudDialogflowCxV3AudioInput",
      "type": "object",
      "properties": {
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3InputAudioConfig"
        }
      }
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationResponse",
      "properties": {
        "conversationDataset": {
          "type": "string"
        },
        "importCount": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowV2CompleteConversationRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowV2CompleteConversationRequest"
    },
    "GoogleCloudDialogflowV2AgentAssistantFeedback": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentAssistantFeedback",
      "properties": {
        "documentCorrectness": {
          "enum": [
            "DOCUMENT_CORRECTNESS_UNSPECIFIED",
            "INCORRECT",
            "CORRECT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "answerRelevance": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ANSWER_RELEVANCE_UNSPECIFIED",
            "IRRELEVANT",
            "RELEVANT"
          ]
        },
        "summarizationFeedback": {
          "$ref": "GoogleCloudDialogflowV2AgentAssistantFeedbackSummarizationFeedback"
        },
        "knowledgeSearchFeedback": {
          "$ref": "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeSearchFeedback"
        },
        "documentEfficiency": {
          "enum": [
            "DOCUMENT_EFFICIENCY_UNSPECIFIED",
            "INEFFICIENT",
            "EFFICIENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "knowledgeAssistFeedback": {
          "$ref": "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeAssistFeedback"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Intent": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Intent",
      "properties": {
        "mlDisabled": {
          "type": "boolean"
        },
        "inputContextNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "webhookState": {
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "rootFollowupIntentName": {
          "readOnly": true,
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "displayName": {
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentParameter"
          }
        },
        "name": {
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "type": "array"
        },
        "trainingPhrases": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase"
          },
          "type": "array"
        },
        "events": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "followupIntentInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo"
          }
        },
        "resetContexts": {
          "type": "boolean"
        },
        "mlEnabled": {
          "deprecated": true,
          "type": "boolean"
        },
        "isFallback": {
          "type": "boolean"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          },
          "type": "array"
        },
        "defaultResponsePlatforms": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "TELEPHONY",
              "GOOGLE_HANGOUTS"
            ],
            "type": "string"
          }
        },
        "endInteraction": {
          "type": "boolean"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2BatchDeleteEntitiesRequest": {
      "id": "GoogleCloudDialogflowV2BatchDeleteEntitiesRequest",
      "type": "object",
      "properties": {
        "entityValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings": {
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings",
      "type": "object",
      "properties": {
        "endpointerSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "noSpeechTimeout": {
          "format": "google-duration",
          "type": "string"
        },
        "models": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1IntentSuggestion",
      "type": "object",
      "properties": {
        "intentV2": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationProfile": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ConversationProfile",
      "properties": {
        "newMessageEventNotificationConfig": {
          "$ref": "GoogleCloudDialogflowV2NotificationConfig"
        },
        "sipConfig": {
          "$ref": "GoogleCloudDialogflowV2SipConfig"
        },
        "newRecognitionResultNotificationConfig": {
          "$ref": "GoogleCloudDialogflowV2NotificationConfig"
        },
        "automatedAgentConfig": {
          "$ref": "GoogleCloudDialogflowV2AutomatedAgentConfig"
        },
        "humanAgentAssistantConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfig"
        },
        "sttConfig": {
          "$ref": "GoogleCloudDialogflowV2SpeechToTextConfig"
        },
        "securitySettings": {
          "type": "string"
        },
        "ttsConfig": {
          "$ref": "GoogleCloudDialogflowV2SynthesizeSpeechConfig"
        },
        "displayName": {
          "type": "string"
        },
        "timeZone": {
          "type": "string"
        },
        "humanAgentHandoffConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentHandoffConfig"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "languageCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "loggingConfig": {
          "$ref": "GoogleCloudDialogflowV2LoggingConfig"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "notificationConfig": {
          "$ref": "GoogleCloudDialogflowV2NotificationConfig"
        }
      }
    },
    "GoogleCloudDialogflowV2Participant": {
      "properties": {
        "name": {
          "type": "string"
        },
        "sipRecordingMediaLabel": {
          "type": "string"
        },
        "documentsMetadataFilters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "agentDesktopSource": {
          "enum": [
            "AGENT_DESKTOP_SOURCE_UNSPECIFIED",
            "LIVE_PERSON",
            "GENESYS_CLOUD",
            "TWILIO",
            "SALESFORCE",
            "OTHER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "obfuscatedExternalUserId": {
          "type": "string"
        },
        "role": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2Participant",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestArticlesResponse": {
      "properties": {
        "articleAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ArticleAnswer"
          }
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase",
      "properties": {
        "condition": {
          "type": "string"
        },
        "caseContent": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDocumentQuerySource": {
      "type": "object",
      "properties": {
        "documents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDocumentQuerySource"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput",
      "type": "object",
      "properties": {
        "isWebhookEnabled": {
          "type": "boolean"
        },
        "injectedParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryInput"
        },
        "enableSentimentAnalysis": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2OutputAudioConfig": {
      "id": "GoogleCloudDialogflowV2OutputAudioConfig",
      "properties": {
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer"
        },
        "synthesizeSpeechConfig": {
          "$ref": "GoogleCloudDialogflowV2SynthesizeSpeechConfig"
        },
        "audioEncoding": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW",
            "OUTPUT_AUDIO_ENCODING_ALAW"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigSections": {
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigSections",
      "properties": {
        "sectionTypes": {
          "items": {
            "type": "string",
            "enum": [
              "SECTION_TYPE_UNSPECIFIED",
              "SITUATION",
              "ACTION",
              "RESOLUTION",
              "REASON_FOR_CANCELLATION",
              "CUSTOMER_SATISFACTION",
              "ENTITIES"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia": {
      "type": "object",
      "properties": {
        "fileUri": {
          "type": "string"
        },
        "thumbnailUri": {
          "type": "string"
        },
        "height": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HEIGHT_UNSPECIFIED",
            "SHORT",
            "MEDIUM",
            "TALL"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        },
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource"
    },
    "GoogleCloudDialogflowV2HumanAgentHandoffConfigLivePersonConfig": {
      "id": "GoogleCloudDialogflowV2HumanAgentHandoffConfigLivePersonConfig",
      "type": "object",
      "properties": {
        "accountNumber": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig": {
      "properties": {
        "webhookOverrides": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Webhook"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
          }
        },
        "lastMatchedIntent": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequest": {
      "type": "object",
      "properties": {
        "triggerEvent": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo"
        },
        "text": {
          "type": "string"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "languageCode": {
          "type": "string"
        },
        "triggerIntent": {
          "type": "string"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LanguageInfo"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "transcript": {
          "type": "string"
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult"
        },
        "dtmfDigits": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequest"
    },
    "GoogleCloudDialogflowCxV3Page": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Page",
      "properties": {
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          },
          "type": "array"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "displayName": {
          "type": "string"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3Form"
        },
        "eventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          },
          "type": "array"
        },
        "description": {
          "type": "string"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestConfig",
      "properties": {
        "page": {
          "type": "string"
        },
        "flow": {
          "type": "string"
        },
        "trackingParameters": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3Environment": {
      "properties": {
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig"
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "versionConfigs": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig"
          },
          "type": "array"
        },
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Environment"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard",
      "properties": {}
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceDecomposition": {
      "properties": {
        "point": {
          "type": "string",
          "readOnly": true
        },
        "isAdherent": {
          "readOnly": true,
          "type": "boolean"
        },
        "adherenceReasoning": {
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceDecomposition",
      "deprecated": true
    },
    "GoogleCloudDialogflowCxV3FormParameter": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FormParameter",
      "properties": {
        "isList": {
          "type": "boolean"
        },
        "redact": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "defaultValue": {
          "type": "any"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "required": {
          "type": "boolean"
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue": {
      "properties": {
        "resolvedValue": {
          "type": "any"
        },
        "originalValue": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListIntentsResponse": {
      "id": "GoogleCloudDialogflowV2ListIntentsResponse",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConversationGeneratorContext": {
      "properties": {
        "generatorType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "GENERATOR_TYPE_UNSPECIFIED",
            "FREE_FORM",
            "AGENT_COACHING",
            "SUMMARIZATION",
            "TRANSLATION",
            "AGENT_FEEDBACK",
            "CUSTOMER_MESSAGE_GENERATION"
          ],
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2ConversationGeneratorContext",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1WebhookRequest": {
      "properties": {
        "responseId": {
          "type": "string"
        },
        "session": {
          "type": "string"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest"
        },
        "alternativeQueryResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
          }
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1WebhookRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PageInfo": {
      "id": "GoogleCloudDialogflowCxV3PageInfo",
      "type": "object",
      "properties": {
        "formInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
        },
        "currentPage": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "properties": {
        "footer": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clientSecret": {
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "properties": {
        "intent": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeDebugInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SearchKnowledgeDebugInfo",
      "properties": {
        "cesDebugInfo": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
        },
        "searchKnowledgeBehavior": {
          "$ref": "GoogleCloudDialogflowV2SearchKnowledgeDebugInfoSearchKnowledgeBehavior"
        },
        "datastoreResponseReason": {
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2ServiceLatency"
        }
      }
    },
    "GoogleCloudDialogflowV2ValidationError": {
      "properties": {
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR",
            "CRITICAL"
          ],
          "type": "string"
        },
        "entries": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "errorMessage": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ValidationError"
    },
    "GoogleCloudDialogflowV2ListConversationsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListConversationsResponse",
      "properties": {
        "conversations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Conversation"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata": {
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageColumnProperties": {
      "properties": {
        "header": {
          "type": "string"
        },
        "horizontalAlignment": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageColumnProperties",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeBase": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeBase"
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestResponse": {
      "properties": {
        "continuousTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3ContinuousTestResult"
        }
      },
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestFaqAnswersRequest": {
      "id": "GoogleCloudDialogflowV2SuggestFaqAnswersRequest",
      "type": "object",
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "assistQueryParams": {
          "$ref": "GoogleCloudDialogflowV2AssistQueryParameters"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentResponse": {
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "format": "byte",
          "type": "string"
        },
        "commitSha": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelect": {
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelect",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        },
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigKnowledgeBaseQuerySource": {
      "properties": {
        "knowledgeBases": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigKnowledgeBaseQuerySource"
    },
    "GoogleCloudDialogflowV2ToolCall": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ToolCall",
      "properties": {
        "cesApp": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "toolDisplayName": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "answerRecord": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2ListConversationModelsResponse": {
      "id": "GoogleCloudDialogflowV2ListConversationModelsResponse",
      "properties": {
        "conversationModels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationModel"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsCompletenessRubric": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsCompletenessRubric",
      "properties": {
        "question": {
          "type": "string",
          "readOnly": true
        },
        "isAddressed": {
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2EntityType": {
      "id": "GoogleCloudDialogflowV2EntityType",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "autoExpansionMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ]
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2EvaluationConfigSmartReplyConfig": {
      "properties": {
        "maxResultCount": {
          "type": "integer",
          "format": "int32"
        },
        "allowlistDocument": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2EvaluationConfigSmartReplyConfig"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeAnswer": {
      "type": "object",
      "properties": {
        "answerType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ANSWER_TYPE_UNSPECIFIED",
            "FAQ",
            "GENERATIVE",
            "INTENT",
            "PLAYBOOK",
            "EVENT"
          ],
          "type": "string"
        },
        "answer": {
          "type": "string"
        },
        "answerSources": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SearchKnowledgeAnswerAnswerSource"
          },
          "type": "array"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SearchKnowledgeAnswer"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowResponse": {
      "properties": {
        "deployment": {
          "type": "string"
        },
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestions": {
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings",
      "properties": {
        "targetFlow": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "dataStoreConnections": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnection"
          },
          "type": "array"
        },
        "enabled": {
          "type": "boolean"
        },
        "targetPage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ListMessagesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Message"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListMessagesResponse"
    },
    "GoogleCloudDialogflowV2ToolsetTool": {
      "id": "GoogleCloudDialogflowV2ToolsetTool",
      "properties": {
        "confirmationRequirement": {
          "enum": [
            "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
            "REQUIRED",
            "NOT_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "operationId": {
          "type": "string"
        },
        "toolset": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DtmfInput": {
      "properties": {
        "digits": {
          "type": "string"
        },
        "finishDigit": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DtmfInput"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSummarizationEvaluationResult": {
      "properties": {
        "section": {
          "type": "string",
          "readOnly": true
        },
        "sectionSummary": {
          "readOnly": true,
          "type": "string"
        },
        "decompositions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsDecomposition"
          },
          "type": "array",
          "deprecated": true,
          "readOnly": true
        },
        "metric": {
          "readOnly": true,
          "type": "string"
        },
        "score": {
          "type": "number",
          "readOnly": true,
          "format": "float"
        },
        "sessionId": {
          "type": "string",
          "readOnly": true,
          "deprecated": true
        },
        "evaluationResults": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsEvaluationResult"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSummarizationEvaluationResult",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata": {
      "properties": {
        "participantRole": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "conversationProfile": {
          "type": "string"
        },
        "suggestionFeatureType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata"
    },
    "GoogleCloudDialogflowV2ListEntityTypesResponse": {
      "id": "GoogleCloudDialogflowV2ListEntityTypesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SessionInfo": {
      "id": "GoogleCloudDialogflowCxV3SessionInfo",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "session": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment",
      "properties": {
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3BargeInConfig": {
      "id": "GoogleCloudDialogflowCxV3BargeInConfig",
      "properties": {
        "noBargeInDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "totalDuration": {
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction",
      "type": "object",
      "properties": {
        "postbackData": {
          "type": "string"
        },
        "dial": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial"
        },
        "text": {
          "type": "string"
        },
        "openUrl": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri"
        },
        "shareLocation": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio",
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2AgentAssistantFeedbackSummarizationFeedback": {
      "type": "object",
      "properties": {
        "textSections": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "summaryText": {
          "type": "string"
        },
        "submitTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentAssistantFeedbackSummarizationFeedback"
    },
    "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigOperationMetadata": {
      "id": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigOperationMetadata",
      "properties": {
        "suggestionFeatureType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "participantRole": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "conversationProfile": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestRunDifference": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ]
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestRunDifference",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult",
      "properties": {
        "duplicateSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Webhook": {
      "properties": {
        "disabled": {
          "type": "boolean"
        },
        "timeout": {
          "format": "google-duration",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Webhook",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings",
      "type": "object",
      "properties": {
        "outputParameter": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "generator": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior",
      "properties": {
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "format": "int32",
          "type": "integer"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata"
    },
    "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata": {
      "type": "object",
      "properties": {
        "conversationDataset": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata"
    },
    "GoogleCloudDialogflowV2WebhookRequest": {
      "id": "GoogleCloudDialogflowV2WebhookRequest",
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        },
        "session": {
          "type": "string"
        },
        "responseId": {
          "type": "string"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2OriginalDetectIntentRequest"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText",
      "type": "object",
      "properties": {
        "ssml": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesMetadata",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseError"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsOverallScoresByMetric": {
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsOverallScoresByMetric",
      "properties": {
        "metric": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata": {
      "type": "object",
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "CANCELLING",
            "TRAINING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2DialogflowAssistAnswer": {
      "id": "GoogleCloudDialogflowV2DialogflowAssistAnswer",
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "intentSuggestion": {
          "$ref": "GoogleCloudDialogflowV2IntentSuggestion"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse",
      "properties": {
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources"
        },
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageText": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageText",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech": {
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech",
      "type": "object"
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata": {
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata",
      "type": "object",
      "properties": {
        "request": {
          "$ref": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Form": {
      "id": "GoogleCloudDialogflowCxV3beta1Form",
      "type": "object",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FormParameter"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2GenerateStatelessSummaryRequest": {
      "properties": {
        "conversationProfile": {
          "$ref": "GoogleCloudDialogflowV2ConversationProfile"
        },
        "latestMessage": {
          "type": "string"
        },
        "maxContextSize": {
          "type": "integer",
          "format": "int32"
        },
        "statelessConversation": {
          "$ref": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequestMinimalConversation"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2GenerateStatelessSummaryRequest"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo": {
      "properties": {
        "tag": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo"
    },
    "GoogleCloudDialogflowV2ListParticipantsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "participants": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Participant"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2ListParticipantsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult",
      "properties": {
        "magnitude": {
          "format": "float",
          "type": "number"
        },
        "score": {
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse",
      "properties": {
        "results": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionFeatureConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionFeatureConfig",
      "properties": {
        "enableEventBasedSuggestion": {
          "type": "boolean"
        },
        "suggestionTriggerEvent": {
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "enableConversationAugmentedQuery": {
          "type": "boolean"
        },
        "raiSettings": {
          "$ref": "GoogleCloudDialogflowV2RaiSettings"
        },
        "suggestionFeature": {
          "$ref": "GoogleCloudDialogflowV2SuggestionFeature"
        },
        "disableAgentQueryLogging": {
          "type": "boolean"
        },
        "queryConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfig"
        },
        "conversationProcessConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationProcessConfig"
        },
        "enableResponseDebugInfo": {
          "type": "boolean"
        },
        "suggestionTriggerSettings": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionTriggerSettings"
        },
        "enableQuerySuggestionOnly": {
          "type": "boolean"
        },
        "disableQuerySearchContext": {
          "type": "boolean"
        },
        "conversationModelConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationModelConfig"
        },
        "enableQuerySuggestionWhenNoAnswer": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
    },
    "GoogleCloudDialogflowV2beta1SuggestionResult": {
      "id": "GoogleCloudDialogflowV2beta1SuggestionResult",
      "properties": {
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
        },
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse"
        },
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "suggestEntityExtractionResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse"
        },
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
        },
        "suggestDialogflowAssistsResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigMessageAnalysisConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigMessageAnalysisConfig",
      "properties": {
        "enableSentimentAnalysis": {
          "type": "boolean"
        },
        "enableSentimentAnalysisV3": {
          "type": "boolean"
        },
        "enableEntityExtraction": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse": {
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Intent"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse"
    },
    "GoogleCloudDialogflowV2DeployConversationModelRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowV2DeployConversationModelRequest"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "type": "object",
      "properties": {
        "similarityScore": {
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "suggestionIndex": {
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2BatchCreateEntitiesRequest": {
      "id": "GoogleCloudDialogflowV2BatchCreateEntitiesRequest",
      "properties": {
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          },
          "type": "array"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesMetadata",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCard": {
      "properties": {
        "columnProperties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageColumnProperties"
          }
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "subtitle": {
          "type": "string"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow"
          }
        },
        "title": {
          "type": "string"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCard",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestCaseError": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TestCaseError",
      "properties": {
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3TestCase"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowV2ListGeneratorsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "generators": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Generator"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2ListGeneratorsResponse"
    },
    "GoogleCloudDialogflowV2SuggestConversationSummaryResponse": {
      "id": "GoogleCloudDialogflowV2SuggestConversationSummaryResponse",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "summary": {
          "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummary"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata": {
      "properties": {
        "suggestionFeatureType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "participantRole": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "conversationProfile": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata"
    },
    "GoogleCloudDialogflowV2ListAnswerRecordsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "answerRecords": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AnswerRecord"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2ListAnswerRecordsResponse"
    },
    "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoSipHeader": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoSipHeader"
    },
    "GoogleCloudDialogflowV2LoggingConfig": {
      "id": "GoogleCloudDialogflowV2LoggingConfig",
      "type": "object",
      "properties": {
        "enableStackdriverLogging": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "type": "object",
      "properties": {
        "suggestionIndex": {
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "answerRecord": {
          "type": "string",
          "readOnly": true
        },
        "similarityScore": {
          "format": "float",
          "type": "number",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2ListContextsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "contexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListContextsResponse"
    },
    "GoogleCloudDialogflowV2InputConfig": {
      "type": "object",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudDialogflowV2GcsSources"
        }
      },
      "id": "GoogleCloudDialogflowV2InputConfig"
    },
    "GoogleCloudDialogflowV2ListGeneratorEvaluationsResponse": {
      "properties": {
        "generatorEvaluations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2GeneratorEvaluation"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListGeneratorEvaluationsResponse"
    },
    "GoogleCloudDialogflowV2ImportDocumentTemplate": {
      "id": "GoogleCloudDialogflowV2ImportDocumentTemplate",
      "type": "object",
      "properties": {
        "knowledgeTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "KNOWLEDGE_TYPE_UNSPECIFIED",
              "FAQ",
              "EXTRACTIVE_QA",
              "ARTICLE_SUGGESTION",
              "AGENT_FACING_SMART_REPLY"
            ]
          },
          "type": "array"
        },
        "mimeType": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings": {
      "properties": {
        "interdigitTimeoutDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "endpointingTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "maxDigits": {
          "type": "integer",
          "format": "int32"
        },
        "finishDigit": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings"
    },
    "GoogleCloudDialogflowV2IntentMessageQuickReplies": {
      "id": "GoogleCloudDialogflowV2IntentMessageQuickReplies",
      "properties": {
        "quickReplies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SipConfig": {
      "properties": {
        "createConversationOnTheFly": {
          "type": "boolean"
        },
        "inactiveStart": {
          "type": "boolean"
        },
        "maxAudioRecordingDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "copyInboundCallLegHeaders": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "keepConversationRunning": {
          "type": "boolean"
        },
        "allowVirtualAgentInteraction": {
          "type": "boolean"
        },
        "ignoreReinviteMediaDirection": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2SipConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EventInput": {
      "properties": {
        "event": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1EventInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings": {
      "properties": {
        "targetPage": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "dataStoreConnections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection"
          }
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestion",
      "properties": {
        "toolCallInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
          }
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestion"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Agent": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Agent",
      "properties": {
        "enableLogging": {
          "type": "boolean"
        },
        "tier": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "TIER_STANDARD",
            "TIER_ENTERPRISE",
            "TIER_ENTERPRISE_PLUS"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true
          ]
        },
        "displayName": {
          "type": "string"
        },
        "defaultLanguageCode": {
          "type": "string"
        },
        "avatarUri": {
          "type": "string"
        },
        "apiVersion": {
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "API_VERSION_V1",
            "API_VERSION_V2",
            "API_VERSION_V2_BETA_1"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "supportedLanguageCodes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "classificationThreshold": {
          "format": "float",
          "type": "number"
        },
        "timeZone": {
          "type": "string"
        },
        "matchMode": {
          "enum": [
            "MATCH_MODE_UNSPECIFIED",
            "MATCH_MODE_HYBRID",
            "MATCH_MODE_ML_ONLY"
          ],
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "parent": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EventHandler": {
      "properties": {
        "targetFlow": {
          "type": "string"
        },
        "targetPlaybook": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "event": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "targetPage": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1EventHandler"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCases": {
      "properties": {
        "cases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult": {
      "type": "object",
      "properties": {
        "duplicateSuggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          },
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestion",
      "properties": {
        "applicableInstructions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstruction"
          },
          "type": "array"
        },
        "sampleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse"
          }
        },
        "agentActionSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources": {
      "type": "object",
      "properties": {
        "entityTypeDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources"
    },
    "GoogleCloudDialogflowCxV3QueryInput": {
      "id": "GoogleCloudDialogflowCxV3QueryInput",
      "properties": {
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3EventInput"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3DtmfInput"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResult"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3TextInput"
        },
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3AudioInput"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3IntentInput"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstruction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingInstruction",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "agentAction": {
          "type": "string"
        },
        "triggeringEvent": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ],
          "type": "string"
        },
        "systemAction": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult",
          "readOnly": true
        },
        "condition": {
          "type": "string"
        },
        "displayDetails": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationPhoneNumber": {
      "properties": {
        "phoneNumber": {
          "type": "string",
          "readOnly": true
        },
        "countryCode": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2ConversationPhoneNumber",
      "type": "object"
    },
    "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata": {
      "id": "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2FulfillmentGenericWebService": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2FulfillmentGenericWebService",
      "properties": {
        "uri": {
          "type": "string"
        },
        "isCloudFunction": {
          "type": "boolean",
          "deprecated": true
        },
        "requestHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "username": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction",
      "properties": {}
    },
    "GoogleCloudDialogflowV2GeneratorEvaluation": {
      "id": "GoogleCloudDialogflowV2GeneratorEvaluation",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "completeTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
[...]
