{
  "baseUrl": "https://dialogflow.googleapis.com/",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "id": "dialogflow:v2",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudDialogflowV2RaiSettingsRaiCategoryConfig": {
      "id": "GoogleCloudDialogflowV2RaiSettingsRaiCategoryConfig",
      "type": "object",
      "properties": {
        "sensitivityLevel": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SENSITIVITY_LEVEL_UNSPECIFIED",
            "BLOCK_MOST",
            "BLOCK_SOME",
            "BLOCK_FEW",
            "BLOCK_NONE"
          ],
          "type": "string"
        },
        "category": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RAI_CATEGORY_UNSPECIFIED",
            "DANGEROUS_CONTENT",
            "SEXUALLY_EXPLICIT",
            "HARASSMENT",
            "HATE_SPEECH"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig": {
      "type": "object",
      "properties": {
        "serviceAgentAuth": {
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig"
    },
    "GoogleTypeLatLng": {
      "id": "GoogleTypeLatLng",
      "type": "object",
      "properties": {
        "latitude": {
          "format": "double",
          "type": "number"
        },
        "longitude": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer",
      "properties": {
        "intentSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentSuggestion"
        },
        "answerRecord": {
          "type": "string"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata",
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SpeechToTextConfig": {
      "type": "object",
      "properties": {
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "phraseSets": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "audioEncoding": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ],
          "type": "string"
        },
        "speechModelVariant": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ]
        },
        "languageCode": {
          "type": "string"
        },
        "geminiAsrConfig": {
          "$ref": "GoogleCloudDialogflowV2SpeechToTextConfigGeminiAsrConfig"
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "useGeminiAsr": {
          "type": "boolean"
        },
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer"
        },
        "model": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SpeechToTextConfig"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial",
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata",
      "properties": {
        "testErrors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2QueryParameters": {
      "properties": {
        "sentimentAnalysisRequestConfig": {
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisRequestConfig"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "platform": {
          "type": "string"
        },
        "contexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "timeZone": {
          "type": "string"
        },
        "webhookHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "geoLocation": {
          "$ref": "GoogleTypeLatLng"
        },
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          }
        },
        "resetContexts": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2QueryParameters",
      "type": "object"
    },
    "GoogleCloudDialogflowV2EncryptionSpec": {
      "properties": {
        "kmsKey": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2EncryptionSpec",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo": {
      "properties": {
        "contextReferenceRetrieved": {
          "type": "boolean"
        },
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "ingestedParametersDebugInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet",
      "properties": {
        "title": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfig",
      "properties": {
        "summarizationConfig": {
          "$ref": "GoogleCloudDialogflowV2GeneratorEvaluationConfigSummarizationConfig"
        },
        "outputGcsBucketPath": {
          "type": "string"
        },
        "inputDataConfig": {
          "$ref": "GoogleCloudDialogflowV2GeneratorEvaluationConfigInputDataConfig"
        }
      }
    },
    "GoogleCloudDialogflowV2ExportDocumentRequest": {
      "id": "GoogleCloudDialogflowV2ExportDocumentRequest",
      "properties": {
        "exportFullContent": {
          "type": "boolean"
        },
        "gcsDestination": {
          "$ref": "GoogleCloudDialogflowV2GcsDestination"
        },
        "smartMessagingPartialUpdate": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListContextsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "contexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ListContextsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnection": {
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnection",
      "type": "object",
      "properties": {
        "documentProcessingMode": {
          "type": "string",
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "dataStore": {
          "type": "string"
        },
        "dataStoreType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "STRUCTURED"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsEvaluationResult": {
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsEvaluationResult",
      "type": "object",
      "properties": {
        "completenessRubric": {
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsCompletenessRubric"
        },
        "adherenceRubric": {
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceRubric"
        },
        "accuracyDecomposition": {
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseError"
    },
    "GoogleCloudDialogflowV2ImportDocumentTemplate": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "knowledgeTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "KNOWLEDGE_TYPE_UNSPECIFIED",
              "FAQ",
              "EXTRACTIVE_QA",
              "ARTICLE_SUGGESTION",
              "AGENT_FACING_SMART_REPLY"
            ]
          }
        },
        "mimeType": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ImportDocumentTemplate"
    },
    "GoogleCloudDialogflowV2FulfillmentGenericWebService": {
      "id": "GoogleCloudDialogflowV2FulfillmentGenericWebService",
      "type": "object",
      "properties": {
        "password": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "requestHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "uri": {
          "type": "string"
        },
        "isCloudFunction": {
          "deprecated": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetrics": {
      "type": "object",
      "properties": {
        "summarizationEvaluationMergedResultsUri": {
          "type": "string",
          "readOnly": true
        },
        "overallSectionTokens": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSectionToken"
          },
          "readOnly": true,
          "type": "array"
        },
        "conversationDetails": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsConversationDetail"
          }
        },
        "overallMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsOverallScoresByMetric"
          },
          "readOnly": true
        },
        "summarizationEvaluationResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsSummarizationEvaluationResult"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetrics"
    },
    "GoogleCloudDialogflowV2ListEntityTypesResponse": {
      "properties": {
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ListEntityTypesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesResponse": {
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesResponse"
    },
    "GoogleCloudDialogflowV2IntentSuggestion": {
      "properties": {
        "intentV2": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponse": {
      "properties": {
        "intents": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolCall": {
      "id": "GoogleCloudDialogflowV2ToolCall",
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "cesToolset": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "toolDisplayName": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ]
        },
        "tool": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageText": {
      "type": "object",
      "properties": {
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageText"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "footer": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationProcessConfig": {
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationProcessConfig",
      "properties": {
        "recentSentencesCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3GcsDestination": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3GcsDestination",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "type": "object",
      "properties": {
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "event": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer": {
      "properties": {
        "matchConfidence": {
          "type": "number",
          "format": "float"
        },
        "faqQuestion": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "answer": {
          "type": "string"
        },
        "matchConfidenceLevel": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MATCH_CONFIDENCE_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
    },
    "GoogleCloudDialogflowCxV3Environment": {
      "id": "GoogleCloudDialogflowCxV3Environment",
      "properties": {
        "description": {
          "type": "string"
        },
        "versionConfigs": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig"
        },
        "displayName": {
          "type": "string"
        },
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestError": {
      "properties": {
        "testCase": {
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestError",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCardButton": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "postback": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageCardButton"
    },
    "GoogleCloudDialogflowV2beta1Intent": {
      "properties": {
        "rootFollowupIntentName": {
          "type": "string",
          "readOnly": true
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "endInteraction": {
          "type": "boolean"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "defaultResponsePlatforms": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "TELEPHONY",
              "GOOGLE_HANGOUTS"
            ]
          }
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentParameter"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "inputContextNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "events": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resetContexts": {
          "type": "boolean"
        },
        "trainingPhrases": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase"
          },
          "type": "array"
        },
        "action": {
          "type": "string"
        },
        "isFallback": {
          "type": "boolean"
        },
        "mlDisabled": {
          "type": "boolean"
        },
        "webhookState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ]
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "type": "array"
        },
        "followupIntentInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo"
          }
        },
        "mlEnabled": {
          "type": "boolean",
          "deprecated": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Intent"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfig": {
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfig",
      "type": "object",
      "properties": {
        "messageAnalysisConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigMessageAnalysisConfig"
        },
        "notificationConfig": {
          "$ref": "GoogleCloudDialogflowV2NotificationConfig"
        },
        "endUserSuggestionConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig"
        },
        "humanAgentSuggestionConfig": {
          "$ref": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig"
        }
      }
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfigDatasetInputDataConfig": {
      "properties": {
        "dataset": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfigDatasetInputDataConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecBoostControlSpec": {
      "id": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecBoostControlSpec",
      "type": "object",
      "properties": {
        "attributeType": {
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "interpolationType": {
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "fieldName": {
          "type": "string"
        },
        "controlPoints": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrase": {
      "properties": {
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart"
          }
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "timesAddedCount": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpec": {
      "properties": {
        "boostControlSpec": {
          "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecBoostControlSpec"
        },
        "boost": {
          "format": "float",
          "type": "number"
        },
        "condition": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpec"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion": {
      "type": "object",
      "properties": {
        "reply": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply"
        },
        "action": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall"
    },
    "GoogleCloudDialogflowV2beta1SuggestionResult": {
      "type": "object",
      "properties": {
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
        },
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse"
        },
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse"
        },
        "suggestDialogflowAssistsResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse"
        },
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "suggestEntityExtractionResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestionResult"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse",
      "properties": {
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          },
          "type": "array"
        },
        "mergeBehavior": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ExportAgentResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ExportAgentResponse",
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase": {
      "properties": {
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "readOnly": true
        },
        "repeatCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingContext": {
      "type": "object",
      "properties": {
        "instructions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstruction"
          },
          "type": "array"
        },
        "version": {
          "type": "string"
        },
        "overarchingGuidance": {
          "type": "string"
        },
        "outputLanguageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingContext"
    },
    "GoogleCloudDialogflowV2IntentMessageSelectItemInfo": {
      "properties": {
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext",
      "properties": {
        "value": {
          "type": "string"
        },
        "key": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolConnectorToolActionEntityOperation": {
      "id": "GoogleCloudDialogflowV2ToolConnectorToolActionEntityOperation",
      "properties": {
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "type": "string"
        },
        "entityId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Form": {
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FormParameter"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Form"
    },
    "GoogleCloudDialogflowV2ListParticipantsResponse": {
      "id": "GoogleCloudDialogflowV2ListParticipantsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "participants": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Participant"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig": {
      "properties": {
        "agent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse": {
      "type": "object",
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "dialogflowAssistAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse"
    },
    "GoogleCloudDialogflowCxV3FormParameter": {
      "id": "GoogleCloudDialogflowCxV3FormParameter",
      "type": "object",
      "properties": {
        "isList": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
        },
        "redact": {
          "type": "boolean"
        },
        "defaultValue": {
          "type": "any"
        },
        "entityType": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency": {
      "id": "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency",
      "type": "object",
      "properties": {
        "latencyMs": {
          "type": "number",
          "format": "float"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "step": {
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Intent": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Intent",
      "properties": {
        "isFallback": {
          "type": "boolean"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "dtmfPattern": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrase"
          }
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentParameter"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest": {
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2EncryptionSpec"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeAnswer": {
      "id": "GoogleCloudDialogflowV2SearchKnowledgeAnswer",
      "type": "object",
      "properties": {
        "answerSources": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SearchKnowledgeAnswerAnswerSource"
          },
          "type": "array"
        },
        "answer": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "answerType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ANSWER_TYPE_UNSPECIFIED",
            "FAQ",
            "GENERATIVE",
            "INTENT",
            "PLAYBOOK",
            "EVENT"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentParameter": {
      "id": "GoogleCloudDialogflowCxV3IntentParameter",
      "properties": {
        "redact": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigKnowledgeBaseQuerySource": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigKnowledgeBaseQuerySource",
      "properties": {
        "knowledgeBases": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent",
      "type": "object",
      "properties": {
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
        },
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
        }
      }
    },
    "GoogleCloudDialogflowV2HumanAgentHandoffConfigLivePersonConfig": {
      "properties": {
        "accountNumber": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2HumanAgentHandoffConfigLivePersonConfig"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "type": "object",
      "properties": {
        "footer": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "description": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      }
    },
    "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo": {
      "properties": {
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowV2ToolCallResult"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowV2ToolCall"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseResult",
      "properties": {
        "testTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "testResult": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "conversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          }
        },
        "environment": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SessionEntityType": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SessionEntityType",
      "properties": {
        "entityOverrideMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ]
        },
        "name": {
          "type": "string"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentParameter": {
      "properties": {
        "redact": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentParameter"
    },
    "GoogleCloudDialogflowCxV3RunTestCaseResponse": {
      "id": "GoogleCloudDialogflowCxV3RunTestCaseResponse",
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunContinuousTestResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RunContinuousTestResponse",
      "properties": {
        "continuousTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings": {
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings",
      "properties": {
        "enabled": {
          "type": "boolean"
        },
        "maxDigits": {
          "type": "integer",
          "format": "int32"
        },
        "interdigitTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "endpointingTimeoutDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "finishDigit": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ImportDocumentsResponse": {
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2ImportDocumentsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolFunctionTool": {
      "type": "object",
      "properties": {
        "inputSchema": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "methodType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "METHOD_TYPE_UNSPECIFIED",
            "GET",
            "POST",
            "PUT",
            "DELETE",
            "PATCH"
          ]
        },
        "outputSchema": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowV2ToolFunctionTool"
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo",
      "properties": {
        "parameter": {
          "type": "string"
        },
        "ingestionStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "INGESTION_STATUS_UNSPECIFIED",
            "INGESTION_STATUS_SUCCEEDED",
            "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE",
            "INGESTION_STATUS_PARSE_FAILED",
            "INGESTION_STATUS_INVALID_ENTRY",
            "INGESTION_STATUS_INVALID_FORMAT",
            "INGESTION_STATUS_LANGUAGE_MISMATCH"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2EventInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2EventInput",
      "properties": {
        "name": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmText": {
      "properties": {
        "text": {
          "type": "string"
        },
        "rbmSuggestion": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmText"
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse",
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse",
      "properties": {
        "knowledgeAssistAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswer"
        },
        "additionalSuggestedQueryResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2FulfillmentFeature": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2FulfillmentFeature",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SMALLTALK"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2TrainAgentRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2TrainAgentRequest",
      "properties": {}
    },
    "GoogleCloudDialogflowV2Agent": {
      "id": "GoogleCloudDialogflowV2Agent",
      "properties": {
        "apiVersion": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "API_VERSION_V1",
            "API_VERSION_V2",
            "API_VERSION_V2_BETA_1"
          ],
          "type": "string"
        },
        "timeZone": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "tier": {
          "enum": [
            "TIER_UNSPECIFIED",
            "TIER_STANDARD",
            "TIER_ENTERPRISE",
            "TIER_ENTERPRISE_PLUS"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "matchMode": {
          "enum": [
            "MATCH_MODE_UNSPECIFIED",
            "MATCH_MODE_HYBRID",
            "MATCH_MODE_ML_ONLY"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "deprecated": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "defaultLanguageCode": {
          "type": "string"
        },
        "supportedLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "avatarUri": {
          "type": "string"
        },
        "enableLogging": {
          "type": "boolean"
        },
        "classificationThreshold": {
          "format": "float",
          "type": "number"
        },
        "parent": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection": {
      "type": "object",
      "properties": {
        "section": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
    },
    "GoogleCloudDialogflowV2ValidationError": {
      "id": "GoogleCloudDialogflowV2ValidationError",
      "type": "object",
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR",
            "CRITICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "errorMessage": {
          "type": "string"
        },
        "entries": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment": {
      "type": "object",
      "properties": {
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "uri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia": {
      "properties": {
        "fileUri": {
          "type": "string"
        },
        "thumbnailUri": {
          "type": "string"
        },
        "height": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HEIGHT_UNSPECIFIED",
            "SHORT",
            "MEDIUM",
            "TALL"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageImage": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageImage",
      "type": "object",
      "properties": {
        "imageUri": {
          "type": "string"
        },
        "accessibilityText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SmartReplyMetricsTopNMetrics": {
      "properties": {
        "n": {
          "type": "integer",
          "format": "int32"
        },
        "recall": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SmartReplyMetricsTopNMetrics"
    },
    "GoogleCloudDialogflowCxV3beta1TestCase": {
      "id": "GoogleCloudDialogflowCxV3beta1TestCase",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestConfig"
        },
        "notes": {
          "type": "string"
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        },
        "name": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          }
        },
        "creationTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolAuthentication": {
      "id": "GoogleCloudDialogflowV2ToolAuthentication",
      "type": "object",
      "properties": {
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationOAuthConfig"
        },
        "apiKeyConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationApiKeyConfig"
        },
        "serviceAgentAuthConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig"
        },
        "bearerTokenConfig": {
          "$ref": "GoogleCloudDialogflowV2ToolAuthenticationBearerTokenConfig"
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestionDedupingConfig": {
      "type": "object",
      "properties": {
        "enableDeduping": {
          "type": "boolean"
        },
        "similarityThreshold": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestionDedupingConfig"
    },
    "GoogleCloudDialogflowV2beta1WebhookResponse": {
      "type": "object",
      "properties": {
        "endInteraction": {
          "type": "boolean"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "fulfillmentText": {
          "type": "string"
        },
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
          },
          "type": "array"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2beta1EventInput"
        },
        "source": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1WebhookResponse"
    },
    "GoogleCloudDialogflowCxV3TestConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TestConfig",
      "properties": {
        "trackingParameters": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "flow": {
          "type": "string"
        },
        "page": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2FreeFormSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2FreeFormSuggestion",
      "properties": {
        "response": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfo": {
      "properties": {
        "dialedNumber": {
          "readOnly": true,
          "type": "string"
        },
        "extraMimeContents": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoMimeContent"
          }
        },
        "sipHeaders": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoSipHeader"
          },
          "type": "array",
          "readOnly": true
        },
        "sdp": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ConversationTelephonyConnectionInfo"
    },
    "GoogleCloudDialogflowV2ListConversationProfilesResponse": {
      "id": "GoogleCloudDialogflowV2ListConversationProfilesResponse",
      "type": "object",
      "properties": {
        "conversationProfiles": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ConversationProfile"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentFollowupIntentInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentFollowupIntentInfo",
      "properties": {
        "parentFollowupIntentName": {
          "type": "string"
        },
        "followupIntentName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AnswerFeedback": {
      "type": "object",
      "properties": {
        "displayTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "correctnessLevel": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ],
          "type": "string"
        },
        "agentAssistantDetailFeedback": {
          "$ref": "GoogleCloudDialogflowV2AgentAssistantFeedback"
        },
        "clickTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "clicked": {
          "type": "boolean"
        },
        "displayed": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2AnswerFeedback"
    },
    "GoogleCloudDialogflowV2beta1GcsDestination": {
      "id": "GoogleCloudDialogflowV2beta1GcsDestination",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri": {
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowResponse",
      "properties": {
        "deployment": {
          "type": "string"
        },
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "properties": {
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "format": "int32",
          "type": "integer"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
    },
    "GoogleCloudDialogflowV2ConnectionErrorDetails": {
      "properties": {
        "certificateState": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CERTIFICATE_STATE_UNSPECIFIED",
            "CERTIFICATE_VALID",
            "CERTIFICATE_INVALID",
            "CERTIFICATE_EXPIRED",
            "CERTIFICATE_HOSTNAME_NOT_FOUND",
            "CERTIFICATE_UNAUTHENTICATED",
            "CERTIFICATE_TRUST_STORE_NOT_FOUND",
            "CERTIFICATE_HOSTNAME_INVALID_FORMAT",
            "CERTIFICATE_QUOTA_EXCEEDED"
          ],
          "type": "string",
          "readOnly": true
        },
        "errorMessage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ConnectionErrorDetails",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
    },
    "GoogleCloudDialogflowCxV3beta1Form": {
      "id": "GoogleCloudDialogflowCxV3beta1Form",
      "type": "object",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FormParameter"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2WebhookResponse": {
      "properties": {
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          }
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "source": {
          "type": "string"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2EventInput"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2WebhookResponse"
    },
    "GoogleCloudDialogflowV2GeneratorEvaluation": {
      "type": "object",
      "properties": {
        "generatorEvaluationConfig": {
          "$ref": "GoogleCloudDialogflowV2GeneratorEvaluationConfig"
        },
        "initialGenerator": {
          "$ref": "GoogleCloudDialogflowV2Generator"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "evaluationStatus": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2EvaluationStatus"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "completeTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "summarizationMetrics": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2SummarizationEvaluationMetrics"
        }
      },
      "id": "GoogleCloudDialogflowV2GeneratorEvaluation"
    },
    "GoogleCloudDialogflowV2AnnotatedMessagePart": {
      "id": "GoogleCloudDialogflowV2AnnotatedMessagePart",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "formattedValue": {
          "type": "any"
        },
        "entityType": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunTestCaseMetadata": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3RunTestCaseMetadata"
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceRubric": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAdherenceRubric",
      "properties": {
        "isAddressed": {
          "readOnly": true,
          "type": "boolean"
        },
        "question": {
          "type": "string",
          "readOnly": true
        },
        "reasoning": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2SearchKnowledgeAnswerAnswerSource": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "snippet": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SearchKnowledgeAnswerAnswerSource"
    },
    "GoogleCloudDialogflowV2EntityType": {
      "type": "object",
      "properties": {
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "autoExpansionMode": {
          "type": "string",
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "displayName": {
          "type": "string"
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2EntityType"
    },
    "GoogleCloudDialogflowV2ToolCallResultError": {
      "id": "GoogleCloudDialogflowV2ToolCallResultError",
      "type": "object",
      "properties": {
        "retryable": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummary": {
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "sortedTextSections": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummarySummarySection"
          },
          "type": "array"
        },
        "baselineModelVersion": {
          "type": "string"
        },
        "textSections": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummary",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AutomatedAgentReply": {
      "id": "GoogleCloudDialogflowV2AutomatedAgentReply",
      "properties": {
        "allowCancellation": {
          "type": "boolean"
        },
        "automatedAgentReplyType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "AUTOMATED_AGENT_REPLY_TYPE_UNSPECIFIED",
            "PARTIAL",
            "FINAL"
          ]
        },
        "detectIntentResponse": {
          "$ref": "GoogleCloudDialogflowV2DetectIntentResponse"
        },
        "cxCurrentPage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2OutputAudioConfig": {
      "properties": {
        "synthesizeSpeechConfig": {
          "$ref": "GoogleCloudDialogflowV2SynthesizeSpeechConfig"
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "audioEncoding": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW",
            "OUTPUT_AUDIO_ENCODING_ALAW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2OutputAudioConfig"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSources": {
      "properties": {
        "instructionIndexes": {
          "readOnly": true,
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestions": {
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestions",
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestion"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestSmartRepliesResponse": {
      "id": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse",
      "type": "object",
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        },
        "smartReplyAnswers": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2SmartReplyAnswer"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelect",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "partialFailures": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "conversationDataset": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3EnvironmentVersionConfig": {
      "id": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ListVersionsResponse": {
      "id": "GoogleCloudDialogflowV2ListVersionsResponse",
      "type": "object",
      "properties": {
        "versions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Version"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse": {
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        },
        "smartReplyAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SmartReplyAnswer"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata": {
      "id": "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswers": {
      "properties": {
        "answers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswers",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SentimentAnalysisRequestConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SentimentAnalysisRequestConfig",
      "properties": {
        "analyzeQueryTextSentiment": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolCallResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ToolCallResult",
      "properties": {
        "tool": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2ToolCallResultError"
        },
        "content": {
          "type": "string"
        },
        "rawContent": {
          "format": "byte",
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig": {
      "properties": {
        "service": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig"
    },
    "GoogleCloudDialogflowV2InferenceParameter": {
      "id": "GoogleCloudDialogflowV2InferenceParameter",
      "properties": {
        "topK": {
          "type": "integer",
          "format": "int32"
        },
        "topP": {
          "type": "number",
          "format": "double"
        },
        "temperature": {
          "type": "number",
          "format": "double"
        },
        "maxOutputTokens": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest": {
      "type": "object",
      "properties": {
        "source": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction": {
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ServiceLatency": {
      "id": "GoogleCloudDialogflowV2beta1ServiceLatency",
      "type": "object",
      "properties": {
        "internalServiceLatencies": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings",
      "properties": {
        "outputParameter": {
          "type": "string"
        },
        "generator": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationModelEvaluation": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "evaluationConfig": {
          "$ref": "GoogleCloudDialogflowV2EvaluationConfig"
        },
        "rawHumanEvalTemplateCsv": {
          "readOnly": true,
          "type": "string"
        },
        "smartReplyMetrics": {
          "$ref": "GoogleCloudDialogflowV2SmartReplyMetrics",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ConversationModelEvaluation"
    },
    "GoogleCloudDialogflowCxV3WebhookResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookResponse",
      "properties": {
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "targetFlow": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "targetPage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SessionEntityType": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SessionEntityType",
      "properties": {
        "name": {
          "type": "string"
        },
        "entityOverrideMode": {
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2RaiSettings": {
      "properties": {
        "raiCategoryConfigs": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2RaiSettingsRaiCategoryConfig"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2RaiSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1MessageAnnotation": {
      "id": "GoogleCloudDialogflowV2beta1MessageAnnotation",
      "properties": {
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart"
          },
          "type": "array"
        },
        "containEntities": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1QueryResult": {
      "id": "GoogleCloudDialogflowV2beta1QueryResult",
      "type": "object",
      "properties": {
        "fulfillmentText": {
          "type": "string"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2beta1Intent"
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "intentDetectionConfidence": {
          "format": "float",
          "type": "number"
        },
        "queryText": {
          "type": "string"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          },
          "type": "array"
        },
        "fulfillmentMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "type": "array"
        },
        "languageCode": {
          "type": "string"
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "webhookPayload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "knowledgeAnswers": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswers"
        },
        "webhookSource": {
          "type": "string"
        },
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "speechRecognitionConfidence": {
          "format": "float",
          "type": "number"
        },
        "action": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV3alpha1TurnSignals": {
      "properties": {
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "triggeredAbandonmentEvent": {
          "type": "boolean"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "failureReasons": {
          "type": "array",
          "items": {
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "type": "string"
          }
        },
        "noMatch": {
          "type": "boolean"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "dtmfUsed": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV3alpha1TurnSignals"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrasePart": {
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrasePart",
      "properties": {
        "text": {
          "type": "string"
        },
        "userDefined": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolConnectorTool": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ToolConnectorTool",
      "properties": {
        "actions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2ToolConnectorToolAction"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition": {
      "properties": {
        "accuracyReasoning": {
          "type": "string",
          "readOnly": true
        },
        "isAccurate": {
          "readOnly": true,
          "type": "boolean"
        },
        "point": {
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition",
      "type": "object"
    },
    "GoogleCloudDialogflowV2Environment": {
      "id": "GoogleCloudDialogflowV2Environment",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STOPPED",
            "LOADING",
            "RUNNING"
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "type": "string"
        },
        "agentVersion": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowV2Fulfillment"
        },
        "textToSpeechSettings": {
          "$ref": "GoogleCloudDialogflowV2TextToSpeechSettings"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TextInput": {
      "id": "GoogleCloudDialogflowCxV3beta1TextInput",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2UndeployConversationModelRequest": {
      "id": "GoogleCloudDialogflowV2UndeployConversationModelRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponse",
      "properties": {
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        },
        "targetFlow": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageText": {
      "type": "object",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageText"
    },
    "GoogleCloudDialogflowV2FaqAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2FaqAnswer",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "answer": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "question": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeSearchFeedback": {
      "type": "object",
      "properties": {
        "clickedUris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "answerCopied": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentAssistantFeedbackKnowledgeSearchFeedback"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "properties": {
        "urlTypeHint": {
          "type": "string",
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "url": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2CreateConversationModelEvaluationRequest": {
      "id": "GoogleCloudDialogflowV2CreateConversationModelEvaluationRequest",
      "properties": {
        "conversationModelEvaluation": {
          "$ref": "GoogleCloudDialogflowV2ConversationModelEvaluation"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3IntentInput": {
      "id": "GoogleCloudDialogflowCxV3IntentInput",
      "type": "object",
      "properties": {
        "intent": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3InputAudioConfig": {
      "properties": {
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "bargeInConfig": {
          "$ref": "GoogleCloudDialogflowCxV3BargeInConfig"
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "phraseHints": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "singleUtterance": {
          "type": "boolean"
        },
        "modelVariant": {
          "type": "string",
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "audioEncoding": {
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "model": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3InputAudioConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SearchKnowledgeRequest": {
      "properties": {
        "conversationProfile": {
          "type": "string"
        },
        "endUserMetadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "parent": {
          "type": "string"
        },
        "sessionId": {
          "type": "string"
        },
        "exactSearch": {
          "type": "boolean"
        },
        "latestMessage": {
          "type": "string"
        },
        "querySource": {
          "enum": [
            "QUERY_SOURCE_UNSPECIFIED",
            "AGENT_QUERY",
            "SUGGESTED_QUERY"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "searchConfig": {
          "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfig"
        },
        "query": {
          "$ref": "GoogleCloudDialogflowV2TextInput"
        },
        "conversation": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SearchKnowledgeRequest"
    },
    "GoogleCloudDialogflowV2BatchUpdateIntentsRequest": {
      "id": "GoogleCloudDialogflowV2BatchUpdateIntentsRequest",
      "properties": {
        "intentView": {
          "type": "string",
          "enum": [
            "INTENT_VIEW_UNSPECIFIED",
            "INTENT_VIEW_FULL"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "intentBatchInline": {
          "$ref": "GoogleCloudDialogflowV2IntentBatch"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string"
        },
        "intentBatchUri": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GeneratorEvaluationConfigAgentAssistInputDataConfig": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowV2GeneratorEvaluationConfigAgentAssistInputDataConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig",
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1EntityTypeEntity": {
      "id": "GoogleCloudDialogflowV2beta1EntityTypeEntity",
      "type": "object",
      "properties": {
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponses": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponses",
      "properties": {
        "simpleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponse"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer": {
      "properties": {
        "suggestedQueryAnswer": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer"
        },
        "knowledgeAssistDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo"
        },
        "answerRecord": {
          "type": "string"
        },
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentBatch": {
      "properties": {
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentBatch"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion",
      "type": "object",
      "properties": {
        "suggestionIndex": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "similarityScore": {
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        }
      }
    },
    "GoogleCloudDialogflowV2GenerateStatelessSuggestionResponse": {
      "properties": {
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2GenerateStatelessSuggestionResponse"
    },
    "GoogleCloudDialogflowV2SipHostnameHostnameErrorDetails": {
      "properties": {
        "errorMessage": {
          "readOnly": true,
          "type": "string"
        },
        "certificateState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HOSTNAME_CERTIFICATE_STATE_UNSPECIFIED",
            "VALID",
            "INVALID",
            "EXPIRED",
            "HOSTNAME_NOT_FOUND",
            "UNAUTHENTICATED",
            "TRUST_STORE_NOT_FOUND",
            "HOSTNAME_INVALID_FORMAT",
            "QUOTA_EXCEEDED"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2SipHostnameHostnameErrorDetails",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestConversationSummaryResponse": {
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "summary": {
          "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummary"
        },
        "latestMessage": {
          "type": "string"
        }
      },
[...]
