{
  "version_module": true,
  "rootUrl": "https://digitalassetlinks.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "version": "v1",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "digitalassetlinks:v1",
  "ownerName": "Google",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "description": "Discovers relationships between online assets such as websites or mobile apps.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/digital-asset-links/",
  "title": "Digital Asset Links API",
  "mtlsRootUrl": "https://digitalassetlinks.mtls.googleapis.com/",
  "batchPath": "batch",
  "revision": "20260901",
  "baseUrl": "https://digitalassetlinks.googleapis.com/",
  "basePath": "",
  "resources": {
    "assetlinks": {
      "methods": {
        "check": {
          "httpMethod": "GET",
          "id": "digitalassetlinks.assetlinks.check",
          "path": "v1/assetlinks:check",
          "response": {
            "$ref": "CheckResponse"
          },
          "description": "Determines whether the specified (directional) relationship exists between the specified source and target assets. The relation describes the intent of the link between the two assets as claimed by the source asset. An example for such relationships is the delegation of privileges or permissions. This command is most often used by infrastructure systems to check preconditions for an action. For example, a client may want to know if it is OK to send a web URL to a particular mobile app instead. The client can check for the relevant asset link from the website to the mobile app to decide if the operation should be allowed. A note about security: if you specify a secure asset as the source, such as an HTTPS website or an Android app, the API will ensure that any statements used to generate the response have been made in a secure way by the owner of that asset. Conversely, if the source asset is an insecure HTTP website (that is, the URL starts with `http://` instead of `https://`), the API cannot verify its statements securely, and it is not possible to ensure that the website's statements have not been altered by a third party. For more information, see the [Digital Asset Links technical design specification](https://github.com/google/digitalassetlinks/blob/master/well-known/details.md).",
          "parameterOrder": [],
          "flatPath": "v1/assetlinks:check",
          "parameters": {
            "returnRelationExtensions": {
              "type": "boolean",
              "description": "Whether to return relation_extensions payloads specified in the source Digital Asset Links statements linking the requested source and target assets by the requested relation type. If this is set to `false` (default), relation_extensions specified will not be returned, even if they are specified in the DAL statement file. If set to `true`, the API will propagate any and all relation_extensions, across statements, linking the source and target assets by the requested relation type, if specified in the DAL statement file.",
              "location": "query"
            },
            "target.web.site": {
              "description": "Web assets are identified by a URL that contains only the scheme, hostname and port parts. The format is http[s]://[:] Hostnames must be fully qualified: they must end in a single period (\"`.`\"). Only the schemes \"http\" and \"https\" are currently allowed. Port numbers are given as a decimal number, and they must be omitted if the standard port numbers are used: 80 for http and 443 for https. We call this limited URL the \"site\". All URLs that share the same scheme, hostname and port are considered to be a part of the site and thus belong to the web asset. Example: the asset with the site `https://www.google.com` contains all these URLs: * `https://www.google.com/` * `https://www.google.com:443/` * `https://www.google.com/foo` * `https://www.google.com/foo?bar` * `https://www.google.com/foo#bar` * `https://user@password:www.google.com/` But it does not contain these URLs: * `http://www.google.com/` (wrong scheme) * `https://google.com/` (hostname does not match) * `https://www.google.com:444/` (port does not match) REQUIRED",
              "location": "query",
              "type": "string"
            },
            "source.web.site": {
              "description": "Web assets are identified by a URL that contains only the scheme, hostname and port parts. The format is http[s]://[:] Hostnames must be fully qualified: they must end in a single period (\"`.`\"). Only the schemes \"http\" and \"https\" are currently allowed. Port numbers are given as a decimal number, and they must be omitted if the standard port numbers are used: 80 for http and 443 for https. We call this limited URL the \"site\". All URLs that share the same scheme, hostname and port are considered to be a part of the site and thus belong to the web asset. Example: the asset with the site `https://www.google.com` contains all these URLs: * `https://www.google.com/` * `https://www.google.com:443/` * `https://www.google.com/foo` * `https://www.google.com/foo?bar` * `https://www.google.com/foo#bar` * `https://user@password:www.google.com/` But it does not contain these URLs: * `http://www.google.com/` (wrong scheme) * `https://google.com/` (hostname does not match) * `https://www.google.com:444/` (port does not match) REQUIRED",
              "location": "query",
              "type": "string"
            },
            "target.androidApp.certificate.sha256Fingerprint": {
              "description": "The uppercase SHA-265 fingerprint of the certificate. From the PEM certificate, it can be acquired like this: $ keytool -printcert -file $CERTFILE | grep SHA256: SHA256: 14:6D:E9:83:C5:73:06:50:D8:EE:B9:95:2F:34:FC:64:16:A0:83: \\ 42:E6:1D:BE:A8:8A:04:96:B2:3F:CF:44:E5 or like this: $ openssl x509 -in $CERTFILE -noout -fingerprint -sha256 SHA256 Fingerprint=14:6D:E9:83:C5:73:06:50:D8:EE:B9:95:2F:34:FC:64: \\ 16:A0:83:42:E6:1D:BE:A8:8A:04:96:B2:3F:CF:44:E5 In this example, the contents of this field would be `14:6D:E9:83:C5:73: 06:50:D8:EE:B9:95:2F:34:FC:64:16:A0:83:42:E6:1D:BE:A8:8A:04:96:B2:3F:CF: 44:E5`. If these tools are not available to you, you can convert the PEM certificate into the DER format, compute the SHA-256 hash of that string and represent the result as a hexstring (that is, uppercase hexadecimal representations of each octet, separated by colons).",
              "type": "string",
              "location": "query"
            },
            "source.androidApp.certificate.sha256Fingerprint": {
              "description": "The uppercase SHA-265 fingerprint of the certificate. From the PEM certificate, it can be acquired like this: $ keytool -printcert -file $CERTFILE | grep SHA256: SHA256: 14:6D:E9:83:C5:73:06:50:D8:EE:B9:95:2F:34:FC:64:16:A0:83: \\ 42:E6:1D:BE:A8:8A:04:96:B2:3F:CF:44:E5 or like this: $ openssl x509 -in $CERTFILE -noout -fingerprint -sha256 SHA256 Fingerprint=14:6D:E9:83:C5:73:06:50:D8:EE:B9:95:2F:34:FC:64: \\ 16:A0:83:42:E6:1D:BE:A8:8A:04:96:B2:3F:CF:44:E5 In this example, the contents of this field would be `14:6D:E9:83:C5:73: 06:50:D8:EE:B9:95:2F:34:FC:64:16:A0:83:42:E6:1D:BE:A8:8A:04:96:B2:3F:CF: 44:E5`. If these tools are not available to you, you can convert the PEM certificate into the DER format, compute the SHA-256 hash of that string and represent the result as a hexstring (that is, uppercase hexadecimal representations of each octet, separated by colons).",
              "location": "query",
              "type": "string"
            },
            "relation": {
              "location": "query",
              "type": "string",
              "description": "Query string for the relation. We identify relations with strings of the format `/`, where `` must be one of a set of pre-defined purpose categories, and `` is a free-form lowercase alphanumeric string that describes the specific use case of the statement. Refer to [our API documentation](/digital-asset-links/v1/relation-strings) for the current list of supported relations. For a query to match an asset link, both the query's and the asset link's relation strings must match exactly. Example: A query with relation `delegate_permission/common.handle_all_urls` matches an asset link with relation `delegate_permission/common.handle_all_urls`."
            },
            "target.androidApp.packageName": {
              "type": "string",
              "description": "Android App assets are naturally identified by their Java package name. For example, the Google Maps app uses the package name `com.google.android.apps.maps`. REQUIRED",
              "location": "query"
            },
            "source.androidApp.packageName": {
              "description": "Android App assets are naturally identified by their Java package name. For example, the Google Maps app uses the package name `com.google.android.apps.maps`. REQUIRED",
              "type": "string",
              "location": "query"
            }
          }
        },
        "bulkCheck": {
          "response": {
            "$ref": "BulkCheckResponse"
          },
          "description": "Send a bundle of statement checks in a single RPC to minimize latency and service load. Statements need not be all for the same source and/or target. We recommend using this method when you need to check more than one statement in a short period of time.",
          "flatPath": "v1/assetlinks:bulkCheck",
          "request": {
            "$ref": "BulkCheckRequest"
          },
          "parameters": {},
          "id": "digitalassetlinks.assetlinks.bulkCheck",
          "httpMethod": "POST",
          "path": "v1/assetlinks:bulkCheck",
          "parameterOrder": []
        }
      }
    },
    "statements": {
      "methods": {
        "list": {
          "id": "digitalassetlinks.statements.list",
          "response": {
            "$ref": "ListResponse"
          },
          "parameters": {
            "returnRelationExtensions": {
              "location": "query",
              "description": "Whether to return any relation_extensions payloads specified in the source digital asset links statements. If this is set to `false` (default), relation_extensions specified will not be returned, even if they are specified in the DAL statement file. If set to `true`, the API will propagate relation_extensions associated with each statement's relation type, if specified in the DAL statement file.",
              "type": "boolean"
            },
            "source.androidApp.packageName": {
              "location": "query",
              "description": "Android App assets are naturally identified by their Java package name. For example, the Google Maps app uses the package name `com.google.android.apps.maps`. REQUIRED",
              "type": "string"
            },
            "source.web.site": {
              "location": "query",
              "description": "Web assets are identified by a URL that contains only the scheme, hostname and port parts. The format is http[s]://[:] Hostnames must be fully qualified: they must end in a single period (\"`.`\"). Only the schemes \"http\" and \"https\" are currently allowed. Port numbers are given as a decimal number, and they must be omitted if the standard port numbers are used: 80 for http and 443 for https. We call this limited URL the \"site\". All URLs that share the same scheme, hostname and port are considered to be a part of the site and thus belong to the web asset. Example: the asset with the site `https://www.google.com` contains all these URLs: * `https://www.google.com/` * `https://www.google.com:443/` * `https://www.google.com/foo` * `https://www.google.com/foo?bar` * `https://www.google.com/foo#bar` * `https://user@password:www.google.com/` But it does not contain these URLs: * `http://www.google.com/` (wrong scheme) * `https://google.com/` (hostname does not match) * `https://www.google.com:444/` (port does not match) REQUIRED",
              "type": "string"
            },
            "source.androidApp.certificate.sha256Fingerprint": {
              "description": "The uppercase SHA-265 fingerprint of the certificate. From the PEM certificate, it can be acquired like this: $ keytool -printcert -file $CERTFILE | grep SHA256: SHA256: 14:6D:E9:83:C5:73:06:50:D8:EE:B9:95:2F:34:FC:64:16:A0:83: \\ 42:E6:1D:BE:A8:8A:04:96:B2:3F:CF:44:E5 or like this: $ openssl x509 -in $CERTFILE -noout -fingerprint -sha256 SHA256 Fingerprint=14:6D:E9:83:C5:73:06:50:D8:EE:B9:95:2F:34:FC:64: \\ 16:A0:83:42:E6:1D:BE:A8:8A:04:96:B2:3F:CF:44:E5 In this example, the contents of this field would be `14:6D:E9:83:C5:73: 06:50:D8:EE:B9:95:2F:34:FC:64:16:A0:83:42:E6:1D:BE:A8:8A:04:96:B2:3F:CF: 44:E5`. If these tools are not available to you, you can convert the PEM certificate into the DER format, compute the SHA-256 hash of that string and represent the result as a hexstring (that is, uppercase hexadecimal representations of each octet, separated by colons).",
              "type": "string",
              "location": "query"
            },
            "relation": {
              "description": "Use only associations that match the specified relation. See the [`Statement`](#Statement) message for a detailed definition of relation strings. For a query to match a statement, one of the following must be true: * both the query's and the statement's relation strings match exactly, or * the query's relation string is empty or missing. Example: A query with relation `delegate_permission/common.handle_all_urls` matches an asset link with relation `delegate_permission/common.handle_all_urls`.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1/statements:list",
          "description": "Retrieves a list of all statements from a given source that match the specified target and statement string. The API guarantees that all statements with secure source assets, such as HTTPS websites or Android apps, have been made in a secure way by the owner of those assets, as described in the [Digital Asset Links technical design specification](https://github.com/google/digitalassetlinks/blob/master/well-known/details.md). Specifically, you should consider that for insecure websites (that is, where the URL starts with `http://` instead of `https://`), this guarantee cannot be made. The `List` command is most useful in cases where the API client wants to know all the ways in which two assets are related, or enumerate all the relationships from a particular source asset. Example: a feature that helps users navigate to related items. When a mobile app is running on a device, the feature would make it easy to navigate to the corresponding web site or Google+ profile.",
          "httpMethod": "GET",
          "path": "v1/statements:list",
          "parameterOrder": []
        }
      }
    }
  },
  "servicePath": "",
  "name": "digitalassetlinks",
  "schemas": {
    "CertificateInfo": {
      "description": "Describes an X509 certificate.",
      "id": "CertificateInfo",
      "type": "object",
      "properties": {
        "sha256Fingerprint": {
          "description": "The uppercase SHA-265 fingerprint of the certificate. From the PEM certificate, it can be acquired like this: $ keytool -printcert -file $CERTFILE | grep SHA256: SHA256: 14:6D:E9:83:C5:73:06:50:D8:EE:B9:95:2F:34:FC:64:16:A0:83: \\ 42:E6:1D:BE:A8:8A:04:96:B2:3F:CF:44:E5 or like this: $ openssl x509 -in $CERTFILE -noout -fingerprint -sha256 SHA256 Fingerprint=14:6D:E9:83:C5:73:06:50:D8:EE:B9:95:2F:34:FC:64: \\ 16:A0:83:42:E6:1D:BE:A8:8A:04:96:B2:3F:CF:44:E5 In this example, the contents of this field would be `14:6D:E9:83:C5:73: 06:50:D8:EE:B9:95:2F:34:FC:64:16:A0:83:42:E6:1D:BE:A8:8A:04:96:B2:3F:CF: 44:E5`. If these tools are not available to you, you can convert the PEM certificate into the DER format, compute the SHA-256 hash of that string and represent the result as a hexstring (that is, uppercase hexadecimal representations of each octet, separated by colons).",
          "type": "string"
        }
      }
    },
    "StatementTemplate": {
      "description": "A single statement to check in a bulk call using BulkCheck. See CheckRequest for details about each field.",
      "type": "object",
      "id": "StatementTemplate",
      "properties": {
        "target": {
          "description": "The target that the source is declaring the relationship with. If omitted, you must specify a BulkCheckRequest.default_target to use here.",
          "$ref": "Asset"
        },
        "relation": {
          "type": "string",
          "description": "The relationship being asserted between the source and target. If omitted, you must specify a BulkCheckRequest.default_relation value to use here."
        },
        "source": {
          "description": "The source asset that is asserting the statement. If omitted, you must specify a BulkCheckRequest.default_source value to use here.",
          "$ref": "Asset"
        }
      }
    },
    "BulkCheckResponse": {
      "type": "object",
      "description": "Response for BulkCheck call. Results are sent in a list in the same order in which they were sent. Individual check errors are described in the appropriate check_results entry. If the entire call fails, the response will include a bulk_error_code field describing the error.",
      "properties": {
        "bulkErrorCode": {
          "type": "string",
          "description": "Error code for the entire request. Present only if the entire request failed. Individual check errors will not trigger the presence of this field.",
          "enumDescriptions": [
            "Default value, otherwise unused.",
            "Unable to parse query.",
            "Unable to fetch the asset links data.",
            "Invalid HTTPS certificate .",
            "HTTP redirects (e.g, 301) are not allowed.",
            "Asset links data exceeds maximum size.",
            "Can't parse HTTP response.",
            "HTTP Content-type should be application/json.",
            "JSON content is malformed.",
            "A secure asset includes an insecure asset (security downgrade).",
            "Too many includes (maybe a loop)."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "ERROR_CODE_INVALID_QUERY",
            "ERROR_CODE_FETCH_ERROR",
            "ERROR_CODE_FAILED_SSL_VALIDATION",
            "ERROR_CODE_REDIRECT",
            "ERROR_CODE_TOO_LARGE",
            "ERROR_CODE_MALFORMED_HTTP_RESPONSE",
            "ERROR_CODE_WRONG_CONTENT_TYPE",
            "ERROR_CODE_MALFORMED_CONTENT",
            "ERROR_CODE_SECURE_ASSET_INCLUDES_INSECURE",
            "ERROR_CODE_FETCH_BUDGET_EXHAUSTED"
          ]
        },
        "checkResults": {
          "type": "array",
          "description": "List of results for each check request. Results are returned in the same order in which they were sent in the request.",
          "items": {
            "$ref": "CheckResponse"
          }
        }
      },
      "id": "BulkCheckResponse"
    },
    "Statement": {
      "id": "Statement",
      "type": "object",
      "properties": {
        "target": {
          "description": "Every statement has a target asset. REQUIRED",
          "$ref": "Asset"
        },
        "relationExtensions": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Statements may specify relation level extensions/payloads to express more details when declaring permissions to grant from the source asset to the target asset. These relation extensions should be specified in the `relation_extensions` object, keyed by the relation type they're associated with. { relation: [\"delegate_permission/common.handle_all_urls\"], target: {...}, relation_extensions: { \"delegate_permission/common.handle_all_urls\": { ...handle_all_urls specific payload specified here... } } } When requested, and specified in the statement file, the API will return relation_extensions associated with the statement's relation type. i.e. the API will only return relation_extensions specified for \"delegate_permission/common.handle_all_urls\" if this statement object's relation type is \"delegate_permission/common.handle_all_urls\"."
        },
        "relation": {
          "description": "The relation identifies the use of the statement as intended by the source asset's owner (that is, the person or entity who issued the statement). Every complete statement has a relation. We identify relations with strings of the format `/`, where `` must be one of a set of pre-defined purpose categories, and `` is a free-form lowercase alphanumeric string that describes the specific use case of the statement. Refer to [our API documentation](/digital-asset-links/v1/relation-strings) for the current list of supported relations. Example: `delegate_permission/common.handle_all_urls` REQUIRED",
          "type": "string"
        },
        "source": {
          "description": "Every statement has a source asset. REQUIRED",
          "$ref": "Asset"
        }
      },
      "description": "Describes a reliable statement that has been made about the relationship between a source asset and a target asset. Statements are always made by the source asset, either directly or by delegating to a statement list that is stored elsewhere. For more detailed definitions of statements and assets, please refer to our [API documentation landing page](/digital-asset-links/v1/getting-started)."
    },
    "CheckResponse": {
      "properties": {
        "errorCode": {
          "type": "array",
          "description": "Error codes that describe the result of the Check operation. NOTE: Error codes may be populated even when `linked` is true. The error codes do not necessarily imply that the request failed, but rather, specify any errors encountered in the statements file(s) which may or may not impact whether the server determines the requested source and target to be linked.",
          "items": {
            "enum": [
              "ERROR_CODE_UNSPECIFIED",
              "ERROR_CODE_INVALID_QUERY",
              "ERROR_CODE_FETCH_ERROR",
              "ERROR_CODE_FAILED_SSL_VALIDATION",
              "ERROR_CODE_REDIRECT",
              "ERROR_CODE_TOO_LARGE",
              "ERROR_CODE_MALFORMED_HTTP_RESPONSE",
              "ERROR_CODE_WRONG_CONTENT_TYPE",
              "ERROR_CODE_MALFORMED_CONTENT",
              "ERROR_CODE_SECURE_ASSET_INCLUDES_INSECURE",
              "ERROR_CODE_FETCH_BUDGET_EXHAUSTED"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value, otherwise unused.",
              "Unable to parse query.",
              "Unable to fetch the asset links data.",
              "Invalid HTTPS certificate .",
              "HTTP redirects (e.g, 301) are not allowed.",
              "Asset links data exceeds maximum size.",
              "Can't parse HTTP response.",
              "HTTP Content-type should be application/json.",
              "JSON content is malformed.",
              "A secure asset includes an insecure asset (security downgrade).",
              "Too many includes (maybe a loop)."
            ]
          }
        },
        "debugString": {
          "type": "string",
          "description": "Human-readable message containing information intended to help end users understand, reproduce and debug the result. The message will be in English and we are currently not planning to offer any translations. Please note that no guarantees are made about the contents or format of this string. Any aspect of it may be subject to change without notice. You should not attempt to programmatically parse this data. For programmatic access, use the error_code field below."
        },
        "relationExtensions": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "Statements may specify relation level extensions/payloads to express more details when declaring permissions to grant from the source asset to the target asset. When requested, the API will return relation_extensions specified in any and all statements linking the requested source and target assets by the relation specified in the request."
        },
        "linked": {
          "description": "Set to true if the assets specified in the request are linked by the relation specified in the request.",
          "type": "boolean"
        },
        "maxAge": {
          "format": "google-duration",
          "type": "string",
          "description": "From serving time, how much longer the response should be considered valid barring further updates. REQUIRED"
        }
      },
      "type": "object",
      "description": "Response message for the CheckAssetLinks call.",
      "id": "CheckResponse"
    },
    "BulkCheckRequest": {
      "id": "BulkCheckRequest",
      "type": "object",
      "properties": {
        "returnRelationExtensions": {
          "description": "Same configuration as in CheckRequest; all statement checks will use the same configuration.",
          "type": "boolean"
        },
        "defaultRelation": {
          "description": "If specified, will be used in any given template statement that doesn’t specify a relation.",
          "type": "string"
        },
        "statements": {
          "type": "array",
          "description": "List of statements to check. For each statement, you can omit a field if the corresponding default_* field below was supplied. Minimum 1 statement; maximum 1,000 statements. Any additional statements will be ignored.",
          "items": {
            "$ref": "StatementTemplate"
          }
        },
        "defaultSource": {
          "$ref": "Asset",
          "description": "If specified, will be used in any given template statement that doesn’t specify a source."
        },
        "defaultTarget": {
          "description": "If specified, will be used in any given template statement that doesn’t specify a target.",
          "$ref": "Asset"
        }
      },
      "description": "Message used to check for the existence of multiple digital asset links within a single RPC."
    },
    "Asset": {
      "properties": {
        "web": {
          "description": "Set if this is a web asset.",
          "$ref": "WebAsset"
        },
        "androidApp": {
          "description": "Set if this is an Android App asset.",
          "$ref": "AndroidAppAsset"
        }
      },
      "description": "Uniquely identifies an asset. A digital asset is an identifiable and addressable online entity that typically provides some service or content. Examples of assets are websites, Android apps, Twitter feeds, and Plus Pages.",
      "type": "object",
      "id": "Asset"
    },
    "WebAsset": {
      "properties": {
        "site": {
          "description": "Web assets are identified by a URL that contains only the scheme, hostname and port parts. The format is http[s]://[:] Hostnames must be fully qualified: they must end in a single period (\"`.`\"). Only the schemes \"http\" and \"https\" are currently allowed. Port numbers are given as a decimal number, and they must be omitted if the standard port numbers are used: 80 for http and 443 for https. We call this limited URL the \"site\". All URLs that share the same scheme, hostname and port are considered to be a part of the site and thus belong to the web asset. Example: the asset with the site `https://www.google.com` contains all these URLs: * `https://www.google.com/` * `https://www.google.com:443/` * `https://www.google.com/foo` * `https://www.google.com/foo?bar` * `https://www.google.com/foo#bar` * `https://user@password:www.google.com/` But it does not contain these URLs: * `http://www.google.com/` (wrong scheme) * `https://google.com/` (hostname does not match) * `https://www.google.com:444/` (port does not match) REQUIRED",
          "type": "string"
        }
      },
      "id": "WebAsset",
      "description": "Describes a web asset.",
      "type": "object"
    },
    "ListResponse": {
      "properties": {
        "errorCode": {
          "type": "array",
          "description": "Error codes that describe the result of the List operation.",
          "items": {
            "enumDescriptions": [
              "Default value, otherwise unused.",
              "Unable to parse query.",
              "Unable to fetch the asset links data.",
              "Invalid HTTPS certificate .",
              "HTTP redirects (e.g, 301) are not allowed.",
              "Asset links data exceeds maximum size.",
              "Can't parse HTTP response.",
              "HTTP Content-type should be application/json.",
              "JSON content is malformed.",
              "A secure asset includes an insecure asset (security downgrade).",
              "Too many includes (maybe a loop)."
            ],
            "enum": [
              "ERROR_CODE_UNSPECIFIED",
              "ERROR_CODE_INVALID_QUERY",
              "ERROR_CODE_FETCH_ERROR",
              "ERROR_CODE_FAILED_SSL_VALIDATION",
              "ERROR_CODE_REDIRECT",
              "ERROR_CODE_TOO_LARGE",
              "ERROR_CODE_MALFORMED_HTTP_RESPONSE",
              "ERROR_CODE_WRONG_CONTENT_TYPE",
              "ERROR_CODE_MALFORMED_CONTENT",
              "ERROR_CODE_SECURE_ASSET_INCLUDES_INSECURE",
              "ERROR_CODE_FETCH_BUDGET_EXHAUSTED"
            ],
            "type": "string"
          }
        },
        "debugString": {
          "description": "Human-readable message containing information intended to help end users understand, reproduce and debug the result. The message will be in English and we are currently not planning to offer any translations. Please note that no guarantees are made about the contents or format of this string. Any aspect of it may be subject to change without notice. You should not attempt to programmatically parse this data. For programmatic access, use the error_code field below.",
          "type": "string"
        },
        "statements": {
          "items": {
            "$ref": "Statement"
          },
          "type": "array",
          "description": "A list of all the matching statements that have been found."
        },
        "maxAge": {
          "description": "From serving time, how much longer the response should be considered valid barring further updates. REQUIRED",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Response message for the List call.",
      "type": "object",
      "id": "ListResponse"
    },
    "AndroidAppAsset": {
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Android App assets are naturally identified by their Java package name. For example, the Google Maps app uses the package name `com.google.android.apps.maps`. REQUIRED"
        },
        "certificate": {
          "$ref": "CertificateInfo",
          "description": "Because there is no global enforcement of package name uniqueness, we also require a signing certificate, which in combination with the package name uniquely identifies an app. Some apps' signing keys are rotated, so they may be signed by different keys over time. We treat these as distinct assets, since we use (package name, cert) as the unique ID. This should not normally pose any problems as both versions of the app will make the same or similar statements. Other assets making statements about the app will have to be updated when a key is rotated, however. (Note that the syntaxes for publishing and querying for statements contain syntactic sugar to easily let you specify apps that are known by multiple certificates.) REQUIRED"
        }
      },
      "id": "AndroidAppAsset",
      "description": "Describes an android app asset.",
      "type": "object"
    }
  }
}