{
  "batchPath": "batch",
  "version": "v1",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "description": "Discovery Engine API.",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "title": "Discovery Engine API",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfig": {
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfig",
      "type": "object",
      "description": "Stores information for federated search.",
      "properties": {
        "thirdPartyOauthConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigThirdPartyOauthConfig",
          "description": "Third Party OAuth config. If set, this DataStore is connected to a third party application."
        },
        "alloyDbConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfig",
          "description": "AlloyDB config. If set, this DataStore is connected to AlloyDB."
        },
        "notebooklmConfig": {
          "description": "NotebookLM config. If set, this DataStore is connected to NotebookLM Enterprise.",
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigNotebooklmConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeUserEventsMetadata": {
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "successCount": {
          "type": "string",
          "description": "Count of entries that were deleted successfully.",
          "format": "int64"
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeUserEventsMetadata",
      "description": "Metadata related to the progress of the PurgeUserEvents operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1AnswerReferenceUnstructuredDocumentInfo": {
      "type": "object",
      "properties": {
        "chunkContents": {
          "type": "array",
          "description": "List of cited chunk contents derived from document content.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerReferenceUnstructuredDocumentInfoChunkContent"
          }
        },
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "uri": {
          "description": "URI for the document.",
          "type": "string"
        },
        "structData": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The structured JSON metadata for the document. It is populated from the struct data from the Chunk in search result.",
          "type": "object"
        },
        "document": {
          "description": "Document resource name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerReferenceUnstructuredDocumentInfo",
      "description": "Unstructured document information."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerCitation": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerCitation",
      "description": "Citation info for a segment.",
      "type": "object",
      "properties": {
        "endIndex": {
          "format": "int64",
          "type": "string",
          "description": "End of the attributed segment, exclusive. Measured in bytes (UTF-8 unicode). If there are multi-byte characters,such as non-ASCII characters, the index measurement is longer than the string length."
        },
        "sources": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerCitationSource"
          },
          "description": "Citation sources for the attributed segment.",
          "type": "array"
        },
        "startIndex": {
          "description": "Index indicates the start of the segment, measured in bytes (UTF-8 unicode). If there are multi-byte characters,such as non-ASCII characters, the index measurement is longer than the string length.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesMetadata",
      "description": "Metadata related to the progress of the UserLicenseService.BatchUpdateUserLicenses operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "successCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of user licenses successfully updated."
        },
        "failureCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of user licenses that failed to be updated."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1CustomTuningModel": {
      "id": "GoogleCloudDiscoveryengineV1CustomTuningModel",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "Currently this is only populated if the model state is `INPUT_VALIDATION_FAILED`.",
          "type": "string"
        },
        "modelVersion": {
          "format": "int64",
          "type": "string",
          "description": "The version of the model."
        },
        "modelState": {
          "enum": [
            "MODEL_STATE_UNSPECIFIED",
            "TRAINING_PAUSED",
            "TRAINING",
            "TRAINING_COMPLETE",
            "READY_FOR_SERVING",
            "TRAINING_FAILED",
            "NO_IMPROVEMENT",
            "INPUT_VALIDATION_FAILED"
          ],
          "description": "The state that the model is in (e.g.`TRAINING` or `TRAINING_FAILED`).",
          "enumDescriptions": [
            "Default value.",
            "The model is in a paused training state.",
            "The model is currently training.",
            "The model has successfully completed training.",
            "The model is ready for serving.",
            "The model training failed.",
            "The model training finished successfully but metrics did not improve.",
            "Input data validation failed. Model training didn't start."
          ],
          "type": "string"
        },
        "name": {
          "description": "Required. The fully qualified resource name of the model. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/customTuningModels/{custom_tuning_model}`. Model must be an alpha-numerical string with limit of 40 characters.",
          "type": "string"
        },
        "trainingStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp the model training was initiated."
        },
        "metrics": {
          "additionalProperties": {
            "type": "number",
            "format": "double"
          },
          "type": "object",
          "description": "The metrics of the trained model."
        },
        "createTime": {
          "description": "Deprecated: Timestamp the Model was created at.",
          "type": "string",
          "deprecated": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "The display name of the model.",
          "type": "string"
        }
      },
      "description": "Metadata that describes a custom tuned model."
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateCmekConfigMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the CmekConfigService.UpdateCmekConfig operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateCmekConfigMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpecQuerySetSpec": {
      "description": "Describes the specification of the query set.",
      "properties": {
        "sampleQuerySet": {
          "description": "Optional. The full resource name of the SampleQuerySet used for the evaluation, in the format of `projects/{project}/locations/{location}/sampleQuerySets/{sampleQuerySet}`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpecQuerySetSpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ImportCompletionSuggestionsRequest": {
      "type": "object",
      "description": "Request message for CompletionService.ImportCompletionSuggestions method.",
      "id": "GoogleCloudDiscoveryengineV1ImportCompletionSuggestionsRequest",
      "properties": {
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig"
        },
        "bigquerySource": {
          "description": "BigQuery input source.",
          "$ref": "GoogleCloudDiscoveryengineV1BigQuerySource"
        },
        "gcsSource": {
          "$ref": "GoogleCloudDiscoveryengineV1GcsSource",
          "description": "Cloud Storage location for the input content."
        },
        "inlineSource": {
          "description": "The Inline source for suggestion entries.",
          "$ref": "GoogleCloudDiscoveryengineV1ImportCompletionSuggestionsRequestInlineSource"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchRequestFacetSpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1SearchRequestFacetSpec",
      "description": "A facet specification to perform faceted search.",
      "properties": {
        "facetKey": {
          "description": "Required. The facet key specification.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestFacetSpecFacetKey"
        },
        "enableDynamicPosition": {
          "type": "boolean",
          "description": "Enables dynamic position for this facet. If set to true, the position of this facet among all facets in the response is determined automatically. If dynamic facets are enabled, it is ordered together. If set to false, the position of this facet in the response is the same as in the request, and it is ranked before the facets with dynamic position enable and all dynamic facets. For example, you may always want to have rating facet returned in the response, but it's not necessarily to always display the rating facet at the top. In that case, you can set enable_dynamic_position to true so that the position of rating facet in response is determined automatically. Another example, assuming you have the following facets in the request: * \"rating\", enable_dynamic_position = true * \"price\", enable_dynamic_position = false * \"brands\", enable_dynamic_position = false And also you have a dynamic facets enabled, which generates a facet `gender`. Then the final order of the facets in the response can be (\"price\", \"brands\", \"rating\", \"gender\") or (\"price\", \"brands\", \"gender\", \"rating\") depends on how API orders \"gender\" and \"rating\" facets. However, notice that \"price\" and \"brands\" are always ranked at first and second position because their enable_dynamic_position is false."
        },
        "excludedFilterKeys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of keys to exclude when faceting. By default, FacetKey.key is not excluded from the filter unless it is listed in this field. Listing a facet key in this field allows its values to appear as facet results, even when they are filtered out of search results. Using this field does not affect what search results are returned. For example, suppose there are 100 documents with the color facet \"Red\" and 200 documents with the color facet \"Blue\". A query containing the filter \"color:ANY(\"Red\")\" and having \"color\" as FacetKey.key would by default return only \"Red\" documents in the search results, and also return \"Red\" with count 100 as the only color facet. Although there are also blue documents available, \"Blue\" would not be shown as an available facet value. If \"color\" is listed in \"excludedFilterKeys\", then the query returns the facet values \"Red\" with count 100 and \"Blue\" with count 200, because the \"color\" key is now excluded from the filter. Because this field doesn't affect search results, the search results are still correctly filtered to return only \"Red\" documents. A maximum of 100 values are allowed. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum facet values that are returned for this facet. If unspecified, defaults to 20. The maximum allowed value is 300. Values above 300 are coerced to 300. For aggregation in healthcare search, when the [FacetKey.key] is \"healthcare_aggregation_key\", the limit will be overridden to 10,000 internally, regardless of the value set here. If this field is negative, an `INVALID_ARGUMENT` is returned."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy": {
      "properties": {
        "policy": {
          "type": "string",
          "description": "Optional. The Sensitive Data Protection policy resource name."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy",
      "description": "Specifies a Sensitive Data Protection (https://cloud.google.com/sensitive-data-protection/docs/sensitive-data-protection-overview) policy."
    },
    "GoogleApiDistributionBucketOptionsLinear": {
      "description": "Specifies a linear sequence of buckets that all have the same width (except overflow and underflow). Each bucket represents a constant absolute uncertainty on the specific value in the bucket. There are `num_finite_buckets + 2` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 <= i < N-1): offset + (width * i). Lower bound (1 <= i < N): offset + (width * (i - 1)).",
      "id": "GoogleApiDistributionBucketOptionsLinear",
      "properties": {
        "numFiniteBuckets": {
          "description": "Must be greater than 0.",
          "type": "integer",
          "format": "int32"
        },
        "width": {
          "description": "Must be greater than 0.",
          "type": "number",
          "format": "double"
        },
        "offset": {
          "description": "Lower bound of the first bucket.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSitemap": {
      "id": "GoogleCloudDiscoveryengineV1alphaSitemap",
      "description": "A sitemap for the SiteSearchEngine.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The fully qualified resource name of the sitemap. `projects/*/locations/*/collections/*/dataStores/*/siteSearchEngine/sitemaps/*` The `sitemap_id` suffix is system-generated.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The sitemap's creation time.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "uri": {
          "type": "string",
          "description": "Public URI for the sitemap, e.g. `www.example.com/sitemap.xml`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteAgentMetadata": {
      "description": "Metadata related to the progress of the AgentService.DeleteAgent operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteAgentMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteSchemaMetadata": {
      "description": "Metadata for DeleteSchema LRO.",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteSchemaMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreBillingEstimation": {
      "properties": {
        "websiteDataSize": {
          "format": "int64",
          "type": "string",
          "description": "Data size for websites in terms of bytes."
        },
        "websiteDataUpdateTime": {
          "format": "google-datetime",
          "description": "Last updated timestamp for websites.",
          "type": "string"
        },
        "structuredDataUpdateTime": {
          "description": "Last updated timestamp for structured data.",
          "format": "google-datetime",
          "type": "string"
        },
        "structuredDataSize": {
          "description": "Data size for structured data in terms of bytes.",
          "type": "string",
          "format": "int64"
        },
        "unstructuredDataSize": {
          "description": "Data size for unstructured data in terms of bytes.",
          "format": "int64",
          "type": "string"
        },
        "unstructuredDataUpdateTime": {
          "description": "Last updated timestamp for unstructured data.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Estimation of data size per data store.",
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreBillingEstimation",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaStartExperimentMetadata": {
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was last updated.",
          "readOnly": true
        }
      },
      "description": "Metadata for AlphaEvolveService.StartExperiment long running operation.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaStartExperimentMetadata"
    },
    "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesRequest": {
      "properties": {
        "gcsSource": {
          "description": "Cloud Storage location for the input content. Only 1 file can be specified that contains all entries to import. Supported values `gcs_source.schema` for autocomplete suggestion deny list entry imports: * `suggestion_deny_list` (default): One JSON [SuggestionDenyListEntry] per line.",
          "$ref": "GoogleCloudDiscoveryengineV1GcsSource"
        },
        "inlineSource": {
          "$ref": "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesRequestInlineSource",
          "description": "The Inline source for the input content for suggestion deny list entries."
        }
      },
      "type": "object",
      "description": "Request message for CompletionService.ImportSuggestionDenyListEntries method.",
      "id": "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaGetUriPatternDocumentDataResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaGetUriPatternDocumentDataResponse",
      "type": "object",
      "description": "Response message for SiteSearchEngineService.GetUriPatternDocumentData method.",
      "properties": {
        "documentDataMap": {
          "additionalProperties": {
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "object",
          "description": "Document data keyed by URI pattern. For example: document_data_map = { \"www.url1.com/*\": { \"Categories\": [\"category1\", \"category2\"] }, \"www.url2.com/*\": { \"Categories\": [\"category3\"] } }"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSiteVerificationInfo": {
      "type": "object",
      "properties": {
        "verifyTime": {
          "format": "google-datetime",
          "description": "Latest site verification time.",
          "type": "string"
        },
        "siteVerificationState": {
          "enum": [
            "SITE_VERIFICATION_STATE_UNSPECIFIED",
            "VERIFIED",
            "UNVERIFIED",
            "EXEMPTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Defaults to VERIFIED.",
            "Site ownership verified.",
            "Site ownership pending verification or verification failed.",
            "Site exempt from verification, e.g., a public website that opens to all."
          ],
          "description": "Site verification state indicating the ownership and validity."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSiteVerificationInfo",
      "description": "Verification information for target sites in advanced site search."
    },
    "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigEngineFeaturesConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigEngineFeaturesConfig",
      "properties": {
        "mostPopularConfig": {
          "description": "Most popular engine feature config.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigMostPopularFeatureConfig"
        },
        "recommendedForYouConfig": {
          "description": "Recommended for you engine feature config.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig"
        }
      },
      "description": "More feature configs of the selected engine type.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1CheckGroundingSpec": {
      "type": "object",
      "properties": {
        "citationThreshold": {
          "format": "double",
          "type": "number",
          "description": "The threshold (in [0,1]) used for determining whether a fact must be cited for a claim in the answer candidate. Choosing a higher threshold will lead to fewer but very strong citations, while choosing a lower threshold may lead to more but somewhat weaker citations. If unset, the threshold will default to 0.6."
        },
        "enableClaimLevelScore": {
          "type": "boolean",
          "description": "The control flag that enables claim-level grounding score in the response."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1CheckGroundingSpec",
      "description": "Specification for the grounding check."
    },
    "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig": {
      "type": "object",
      "properties": {
        "chunkSize": {
          "format": "int32",
          "description": "The token size limit for each chunk. Supported values: 100-500 (inclusive). Default value: 500.",
          "type": "integer"
        },
        "includeAncestorHeadings": {
          "type": "boolean",
          "description": "Whether to include appending different levels of headings to chunks from the middle of the document to prevent context loss. Default value: False."
        }
      },
      "description": "Configuration for the layout based chunking.",
      "id": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig"
    },
    "GoogleCloudDiscoveryengineV1SearchResponseSearchResultRankSignals": {
      "id": "GoogleCloudDiscoveryengineV1SearchResponseSearchResultRankSignals",
      "description": "A set of ranking signals.",
      "type": "object",
      "properties": {
        "topicalityRank": {
          "type": "number",
          "format": "float",
          "description": "Optional. Topicality adjustment as a rank."
        },
        "semanticSimilarityScore": {
          "format": "float",
          "description": "Optional. Semantic similarity adjustment.",
          "type": "number"
        },
        "customSignals": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchResponseSearchResultRankSignalsCustomSignal"
          },
          "type": "array",
          "description": "Optional. A list of custom clearbox signals."
        },
        "boostingFactor": {
          "format": "float",
          "description": "Optional. Combined custom boosts for a doc.",
          "type": "number"
        },
        "documentAge": {
          "type": "number",
          "format": "float",
          "description": "Optional. Age of the document in hours."
        },
        "precomputedExpressionValues": {
          "description": "Optional. A list of precomputed expression results for a given document, in the same order as requested in `SearchRequest.custom_ranking_params.expressions_to_precompute`.",
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array"
        },
        "keywordSimilarityScore": {
          "description": "Optional. Keyword matching adjustment.",
          "type": "number",
          "format": "float"
        },
        "relevanceScore": {
          "type": "number",
          "description": "Optional. Semantic relevance adjustment.",
          "format": "float"
        },
        "defaultRank": {
          "type": "number",
          "description": "Optional. The default rank of the result.",
          "format": "float"
        },
        "pctrRank": {
          "type": "number",
          "format": "float",
          "description": "Optional. Predicted conversion rate adjustment as a rank."
        }
      }
    },
    "A2aV1SendMessageRequest": {
      "id": "A2aV1SendMessageRequest",
      "type": "object",
      "properties": {
        "configuration": {
          "$ref": "A2aV1SendMessageConfiguration",
          "description": "Configuration for the send request."
        },
        "metadata": {
          "description": "Optional metadata for the request.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "message": {
          "$ref": "A2aV1Message",
          "description": "Required. The message to send to the agent."
        }
      },
      "description": "/////////// Request Messages ///////////"
    },
    "A2aV1AgentExtension": {
      "description": "A declaration of an extension supported by an Agent.",
      "id": "A2aV1AgentExtension",
      "type": "object",
      "properties": {
        "params": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional configuration for the extension."
        },
        "uri": {
          "description": "The URI of the extension. Example: \"https://developers.google.com/identity/protocols/oauth2\"",
          "type": "string"
        },
        "description": {
          "description": "A description of how this agent uses this extension. Example: \"Google OAuth 2.0 authentication\"",
          "type": "string"
        },
        "required": {
          "description": "Whether the client must follow specific requirements of the extension. Example: false",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaUpdateTargetSiteMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaUpdateTargetSiteMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.UpdateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec": {
      "type": "object",
      "description": "Specification for relevance filtering on a specific sub-search.",
      "properties": {
        "semanticRelevanceThreshold": {
          "format": "float",
          "description": "Custom relevance threshold for the sub-search. The value must be in [0.0, 1.0].",
          "type": "number"
        },
        "relevanceThreshold": {
          "type": "string",
          "description": "Pre-defined relevance threshold for the sub-search.",
          "enum": [
            "RELEVANCE_THRESHOLD_UNSPECIFIED",
            "LOWEST",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Google defined threshold.",
            "Lowest relevance threshold.",
            "Low relevance threshold.",
            "Medium relevance threshold.",
            "High relevance threshold."
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequest": {
      "description": "Request message for SearchService.Search method.",
      "type": "object",
      "properties": {
        "offset": {
          "description": "A 0-indexed integer that specifies the current offset (that is, starting result location, amongst the Documents deemed by the API as relevant) in search results. This field is only considered if page_token is unset. If this field is negative, an `INVALID_ARGUMENT` is returned. A large offset may be capped to a reasonable threshold.",
          "format": "int32",
          "type": "integer"
        },
        "dataStoreSpecs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestDataStoreSpec"
          },
          "type": "array",
          "description": "Specifications that define the specific DataStores to be searched, along with configurations for those data stores. This is only considered for Engines with multiple data stores. For engines with a single data store, the specs directly under SearchRequest should be used."
        },
        "naturalLanguageQueryUnderstandingSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestNaturalLanguageQueryUnderstandingSpec",
          "description": "Optional. Config for natural language query understanding capabilities, such as extracting structured field filters from the query. Refer to [this documentation](https://cloud.google.com/generative-ai-app-builder/docs/natural-language-queries) for more information. If `naturalLanguageQueryUnderstandingSpec` is not specified, no additional natural language query understanding will be done."
        },
        "sessionSpec": {
          "description": "Session specification. Can be used only when `session` is set.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestSessionSpec"
        },
        "numResultsPerDataStore": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of results to retrieve from each data store. If not specified, it will use the SearchRequest.DataStoreSpec.num_results if provided, otherwise there is no limit."
        },
        "pageCategories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The categories associated with a category page. Must be set for category navigation queries to achieve good search quality. The format should be the same as PageInfo.page_category. This field is the equivalent of the query for browse (navigation) queries. It's used by the browse model when the query is empty. If the field is empty, it will not be used by the browse model. If the field contains more than one element, only the first element will be used. To represent full path of a category, use '>' character to separate different hierarchies. If '>' is part of the category name, replace it with other character(s). For example, `Graphics Cards > RTX>4090 > Founders Edition` where \"RTX > 4090\" represents one level, can be rewritten as `Graphics Cards > RTX_4090 > Founders Edition`"
        },
        "rankingExpression": {
          "type": "string",
          "description": "Optional. The ranking expression controls the customized ranking on retrieval documents. This overrides ServingConfig.ranking_expression. The syntax and supported features depend on the `ranking_expression_backend` value. If `ranking_expression_backend` is not provided, it defaults to `RANK_BY_EMBEDDING`. If ranking_expression_backend is not provided or set to `RANK_BY_EMBEDDING`, it should be a single function or multiple functions that are joined by \"+\". * ranking_expression = function, { \" + \", function }; Supported functions: * double * relevance_score * double * dotProduct(embedding_field_path) Function variables: * `relevance_score`: pre-defined keywords, used for measure relevance between query and document. * `embedding_field_path`: the document embedding field used with query embedding vector. * `dotProduct`: embedding function between `embedding_field_path` and query embedding vector. Example ranking expression: If document has an embedding field doc_embedding, the ranking expression could be `0.5 * relevance_score + 0.3 * dotProduct(doc_embedding)`. If ranking_expression_backend is set to `RANK_BY_FORMULA`, the following expression types (and combinations of those chained using + or * operators) are supported: * `double` * `signal` * `log(signal)` * `exp(signal)` * `rr(signal, double > 0)` -- reciprocal rank transformation with second argument being a denominator constant. * `is_nan(signal)` -- returns 0 if signal is NaN, 1 otherwise. * `fill_nan(signal1, signal2 | double)` -- if signal1 is NaN, returns signal2 | double, else returns signal1. Here are a few examples of ranking formulas that use the supported ranking expression types: - `0.2 * semantic_similarity_score + 0.8 * log(keyword_similarity_score)` -- mostly rank by the logarithm of `keyword_similarity_score` with slight `semantic_smilarity_score` adjustment. - `0.2 * exp(fill_nan(semantic_similarity_score, 0)) + 0.3 * is_nan(keyword_similarity_score)` -- rank by the exponent of `semantic_similarity_score` filling the value with 0 if it's NaN, also add constant 0.3 adjustment to the final score if `semantic_similarity_score` is NaN. - `0.2 * rr(semantic_similarity_score, 16) + 0.8 * rr(keyword_similarity_score, 16)` -- mostly rank by the reciprocal rank of `keyword_similarity_score` with slight adjustment of reciprocal rank of `semantic_smilarity_score`. The following signals are supported: * `semantic_similarity_score`: semantic similarity adjustment that is calculated using the embeddings generated by a proprietary Google model. This score determines how semantically similar a search query is to a document. * `keyword_similarity_score`: keyword match adjustment uses the Best Match 25 (BM25) ranking function. This score is calculated using a probabilistic model to estimate the probability that a document is relevant to a given query. * `relevance_score`: semantic relevance adjustment that uses a proprietary Google model to determine the meaning and intent behind a user's query in context with the content in the documents. * `pctr_rank`: predicted conversion rate adjustment as a rank use predicted Click-through rate (pCTR) to gauge the relevance and attractiveness of a search result from a user's perspective. A higher pCTR suggests that the result is more likely to satisfy the user's query and intent, making it a valuable signal for ranking. * `freshness_rank`: freshness adjustment as a rank * `document_age`: The time in hours elapsed since the document was last updated, a floating-point number (e.g., 0.25 means 15 minutes). * `topicality_rank`: topicality adjustment as a rank. Uses proprietary Google model to determine the keyword-based overlap between the query and the document. * `base_rank`: the default rank of the result * `media_actor_match`: whether the media actor matches the query * `media_director_match`: whether the media director matches the query * `media_genre_match`: whether the media genre matches the query * `media_language_match`: whether the media language matches the query * `media_title_match`: whether the media title matches the query * `media_prefix_similarity_rank`: prefix similarity rank for media results * `media_semantic_similarity_rank`: semantic similarity rank for media results"
        },
        "customRankingParams": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestCustomRankingParams",
          "description": "Optional. Optional configuration for the Custom Ranking feature."
        },
        "relevanceThreshold": {
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Google defined threshold.",
            "Lowest relevance threshold.",
            "Low relevance threshold.",
            "Medium relevance threshold.",
            "High relevance threshold."
          ],
          "type": "string",
          "enum": [
            "RELEVANCE_THRESHOLD_UNSPECIFIED",
            "LOWEST",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "description": "The global relevance threshold of the search results. Defaults to Google defined threshold, leveraging a balance of precision and recall to deliver both highly accurate results and comprehensive coverage of relevant information. If more granular relevance filtering is required, use the `relevance_filter_spec` instead. This feature is not supported for healthcare search."
        },
        "facetSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpec"
          },
          "description": "Facet specifications for faceted search. If empty, no facets are returned. A maximum of 100 values are allowed. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "session": {
          "description": "The session resource name. Optional. Session allows users to do multi-turn /search API calls or coordination between /search API calls and /answer API calls. Example #1 (multi-turn /search API calls): Call /search API with the session ID generated in the first call. Here, the previous search query gets considered in query standing. I.e., if the first query is \"How did Alphabet do in 2022?\" and the current query is \"How about 2023?\", the current query will be interpreted as \"How did Alphabet do in 2023?\". Example #2 (coordination between /search API calls and /answer API calls): Call /answer API with the session ID generated in the first call. Here, the answer generation happens in the context of the search results from the first search call.",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see [Standard fields](https://cloud.google.com/apis/design/standard_fields). This field helps to better interpret the query. If a value isn't specified, the query language code is automatically detected, which may not be accurate.",
          "type": "string"
        },
        "useLatestData": {
          "description": "Uses the Engine, ServingConfig and Control freshly read from the database. Note: this skips config cache and introduces dependency on databases, which could significantly increase the API latency. It should only be used for testing, but not serving end users.",
          "type": "boolean"
        },
        "boostSpec": {
          "description": "Boost specification to boost certain documents. For more information on boosting, see [Boosting](https://cloud.google.com/generative-ai-app-builder/docs/boost-search-results)",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpec"
        },
        "servingConfig": {
          "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search.",
          "type": "string"
        },
        "relevanceFilterSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpec",
          "description": "Optional. The granular relevance filtering specification. If not specified, the global `relevance_threshold` will be used for all sub-searches. If specified, this overrides the global `relevance_threshold` to use thresholds on a per sub-search basis. This feature is currently supported only for custom and site search."
        },
        "userInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaUserInfo",
          "description": "Information about the end user. Highly recommended for analytics and personalization. UserInfo.user_agent is used to deduce `device_type` for analytics."
        },
        "relevanceScoreSpec": {
          "description": "Optional. The specification for returning the relevance score.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceScoreSpec"
        },
        "imageQuery": {
          "description": "Raw image query.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestImageQuery"
        },
        "rankingExpressionBackend": {
          "description": "Optional. The backend to use for the ranking expression evaluation.",
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false
          ],
          "enum": [
            "RANKING_EXPRESSION_BACKEND_UNSPECIFIED",
            "BYOE",
            "CLEARBOX",
            "RANK_BY_EMBEDDING",
            "RANK_BY_FORMULA"
          ],
          "enumDescriptions": [
            "Default option for unspecified/unknown values.",
            "Deprecated: Use `RANK_BY_EMBEDDING` instead. Ranking by custom embedding model, the default way to evaluate the ranking expression. Legacy enum option, `RANK_BY_EMBEDDING` should be used instead.",
            "Deprecated: Use `RANK_BY_FORMULA` instead. Ranking by custom formula. Legacy enum option, `RANK_BY_FORMULA` should be used instead.",
            "Ranking by custom embedding model, the default way to evaluate the ranking expression.",
            "Ranking by custom formula."
          ],
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "The Unicode country/region code (CLDR) of a location, such as \"US\" and \"419\". For more information, see [Standard fields](https://cloud.google.com/apis/design/standard_fields). If set, then results will be boosted based on the region_code provided."
        },
        "crowdingSpecs": {
          "description": "Optional. Crowding specifications for improving result diversity. If multiple CrowdingSpecs are specified, crowding will be evaluated on each unique combination of the `field` values, and max_count will be the maximum value of `max_count` across all CrowdingSpecs. For example, if the first CrowdingSpec has `field` = \"color\" and `max_count` = 3, and the second CrowdingSpec has `field` = \"size\" and `max_count` = 2, then after 3 documents that share the same color AND size have been returned, subsequent ones should be removed or demoted.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestCrowdingSpec"
          }
        },
        "safeSearch": {
          "description": "Whether to turn on safe search. This is only supported for website search.",
          "type": "boolean"
        },
        "filter": {
          "type": "string",
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customer might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)"
        },
        "searchAddonSpec": {
          "description": "Optional. SearchAddonSpec is used to disable add-ons for search as per new repricing model. This field is only supported for search requests.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestSearchAddonSpec"
        },
        "contentSearchSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpec",
          "description": "A specification for configuring the behavior of content search."
        },
        "userPseudoId": {
          "type": "string",
          "description": "Optional. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and CompleteQueryRequest.user_pseudo_id The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "personalizationSpec": {
          "description": "The specification for personalization. Notice that if both ServingConfig.personalization_spec and SearchRequest.personalization_spec are set, SearchRequest.personalization_spec overrides ServingConfig.personalization_spec.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestPersonalizationSpec"
        },
        "customFineTuningSpec": {
          "description": "Custom fine tuning configs. If set, it has higher priority than the configs set in ServingConfig.custom_fine_tuning_spec.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCustomFineTuningSpec"
        },
        "canonicalFilter": {
          "description": "The default filter that is applied when a user performs a search without checking any filters on the search page. The filter applied to every search request when quality improvement such as query expansion is needed. In the case a query does not have a sufficient amount of results this filter will be used to determine whether or not to enable the query expansion flow. The original filter will still be used for the query expanded search. This field is strongly recommended to achieve high search quality. For more information about filter syntax, see SearchRequest.filter.",
          "type": "string"
        },
        "embeddingSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestEmbeddingSpec",
          "description": "Uses the provided embedding to do additional semantic document retrieval. The retrieval is based on the dot product of SearchRequest.EmbeddingSpec.EmbeddingVector.vector and the document embedding that is provided in SearchRequest.EmbeddingSpec.EmbeddingVector.field_path. If SearchRequest.EmbeddingSpec.EmbeddingVector.field_path is not provided, it will use ServingConfig.EmbeddingConfig.field_path."
        },
        "branch": {
          "type": "string",
          "description": "The branch resource name, such as `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/branches/0`. Use `default_branch` as the branch ID or leave this field empty, to search documents under the default branch."
        },
        "queryExpansionSpec": {
          "description": "The query expansion specification that specifies the conditions under which query expansion occurs.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestQueryExpansionSpec"
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details."
        },
        "params": {
          "type": "object",
          "description": "Additional search parameters. For public website search only, supported values are: * `user_country_code`: string. Default empty. If set to non-empty, results are restricted or boosted based on the location provided. For example, `user_country_code: \"au\"` For available codes see [Country Codes](https://developers.google.com/custom-search/docs/json_api_reference#countryCodes) * `search_type`: double. Default empty. Enables non-webpage searching depending on the value. The only valid non-default value is 1, which enables image searching. For example, `search_type: 1`",
          "additionalProperties": {
            "type": "any"
          }
        },
        "searchAsYouTypeSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestSearchAsYouTypeSpec",
          "description": "Search as you type configuration. Only supported for the IndustryVertical.MEDIA vertical."
        },
        "oneBoxPageSize": {
          "description": "The maximum number of results to return for OneBox. This applies to each OneBox type individually. Default number is 10.",
          "format": "int32",
          "type": "integer"
        },
        "spellCorrectionSpec": {
          "description": "The spell correction specification that specifies the mode under which spell correction takes effect.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestSpellCorrectionSpec"
        },
        "query": {
          "description": "Raw search query.",
          "type": "string"
        },
        "orderBy": {
          "description": "The order in which documents are returned. Documents can be ordered by a field in an Document object. Leave it unset if ordered by relevance. `order_by` expression is case-sensitive. For more information on ordering the website search results, see [Order web search results](https://cloud.google.com/generative-ai-app-builder/docs/order-web-search-results). For more information on ordering the healthcare search results, see [Order healthcare search results](https://cloud.google.com/generative-ai-app-builder/docs/order-hc-results). If this field is unrecognizable, an `INVALID_ARGUMENT` is returned.",
          "type": "string"
        },
        "entity": {
          "description": "Optional. The entity for customers that may run multiple different entities, domains, sites or regions, for example, \"Google US\", \"Google Ads\", \"Waymo\", \"google.com\", \"youtube.com\", etc. If this is set, it should be exactly matched with UserEvent.entity to get search results boosted by entity.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "Maximum number of Documents to return. The maximum allowed value depends on the data type. Values above the maximum value are coerced to the maximum value. * Websites with basic indexing: Default `10`, Maximum `25`. * Websites with advanced indexing: Default `25`, Maximum `50`. * Other: Default `50`, Maximum `100`. If this field is negative, an `INVALID_ARGUMENT` is returned.",
          "format": "int32"
        },
        "displaySpec": {
          "description": "Optional. Config for display feature, like match highlighting on search results.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec"
        },
        "pageToken": {
          "type": "string",
          "description": "A page token received from a previous SearchService.Search call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to SearchService.Search must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequest"
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfo": {
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfo",
      "type": "object",
      "properties": {
        "extractiveSegments": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment"
          },
          "type": "array",
          "description": "List of extractive segments."
        },
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "URI for the document."
        },
        "documentContexts": {
          "type": "array",
          "description": "List of document contexts. The content will be used for Answer Generation. This is supposed to be the main content of the document that can be long and comprehensive.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContext"
          }
        },
        "document": {
          "type": "string",
          "description": "Document resource name."
        },
        "extractiveAnswers": {
          "description": "Deprecated: This field is deprecated and will have no effect on the Answer generation. Please use document_contexts and extractive_segments fields. List of extractive answers.",
          "deprecated": true,
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveAnswer"
          },
          "type": "array"
        }
      },
      "description": "Unstructured document information."
    },
    "GoogleCloudDiscoveryengineV1WidgetConfigHomepageSettingShortcut": {
      "id": "GoogleCloudDiscoveryengineV1WidgetConfigHomepageSettingShortcut",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title of the shortcut."
        },
        "destinationUri": {
          "description": "Optional. Destination URL of shortcut.",
          "type": "string"
        },
        "icon": {
          "description": "Optional. Icon URL of shortcut.",
          "$ref": "GoogleCloudDiscoveryengineV1WidgetConfigImage"
        }
      },
      "description": "Describes an entity of shortcut (aka pinned content) on the homepage. The home page will render these shortcuts in the same order as what the API returns. If a customer wants to reorder or remove a shortcut, the UI should always provide the new full list of shortcuts.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ControlBoostActionInterpolationBoostSpec": {
      "id": "GoogleCloudDiscoveryengineV1ControlBoostActionInterpolationBoostSpec",
      "type": "object",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "properties": {
        "attributeType": {
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. For example, `5D`, `3DT12H30M`, `T24H`."
          ],
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "type": "string",
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value)."
        },
        "interpolationType": {
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "type": "string",
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ]
        },
        "fieldName": {
          "description": "Optional. The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        },
        "controlPoints": {
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1ControlBoostActionInterpolationBoostSpecControlPoint"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DestinationConfigDestination": {
      "description": "Defines a target endpoint",
      "type": "object",
      "properties": {
        "host": {
          "description": "Publicly routable host.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Target port number accepted by the destination."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DestinationConfigDestination"
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestSafetySpecSafetySetting": {
      "properties": {
        "threshold": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified harm block threshold.",
            "Block low threshold and above (i.e. block more).",
            "Block medium threshold and above.",
            "Block only high threshold (i.e. block less).",
            "Block none.",
            "Turn off the safety filter."
          ],
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "description": "Required. The harm block threshold."
        },
        "category": {
          "type": "string",
          "description": "Required. Harm category.",
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content.",
            "The harm category is civic integrity."
          ],
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_CIVIC_INTEGRITY"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSafetySpecSafetySetting",
      "description": "Safety settings."
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteSitemapMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteSitemapMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultSnippetInfo": {
      "description": "Snippet information.",
      "properties": {
        "snippetStatus": {
          "description": "Status of the snippet defined by the search team.",
          "type": "string"
        },
        "snippet": {
          "description": "Snippet content.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultSnippetInfo"
    },
    "GoogleCloudDiscoveryengineV1ListCustomModelsResponse": {
      "properties": {
        "models": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1CustomTuningModel"
          },
          "type": "array",
          "description": "List of custom tuning models."
        }
      },
      "description": "Response message for SearchTuningService.ListCustomModels method.",
      "id": "GoogleCloudDiscoveryengineV1ListCustomModelsResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachment": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachment",
      "description": "Stores binarydata attached to text answer, e.g. image, video, audio, etc.",
      "properties": {
        "attributionType": {
          "description": "Output only. The attribution type of the blob.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified attribution type.",
            "The attachment data is from the corpus.",
            "The attachment data is generated by the model through code generation."
          ],
          "enum": [
            "ATTRIBUTION_TYPE_UNSPECIFIED",
            "CORPUS",
            "GENERATED"
          ],
          "readOnly": true
        },
        "data": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob",
          "description": "Output only. The mime type and data of the blob.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AnswerStepActionObservationSearchResult": {
      "id": "GoogleCloudDiscoveryengineV1AnswerStepActionObservationSearchResult",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "snippetInfo": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerStepActionObservationSearchResultSnippetInfo"
          },
          "description": "If citation_type is DOCUMENT_LEVEL_CITATION, populate document level snippets.",
          "type": "array"
        },
        "uri": {
          "description": "URI for the document.",
          "type": "string"
        },
        "structData": {
          "type": "object",
          "description": "Data representation. The structured JSON data for the document. It's populated from the struct data from the Document, or the Chunk in search result.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "document": {
          "description": "Document resource name.",
          "type": "string"
        },
        "chunkInfo": {
          "description": "If citation_type is CHUNK_LEVEL_CITATION and chunk mode is on, populate chunk info.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerStepActionObservationSearchResultChunkInfo"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics": {
      "type": "object",
      "properties": {
        "top10": {
          "type": "number",
          "format": "double",
          "description": "The top-10 value."
        },
        "top1": {
          "description": "The top-1 value.",
          "format": "double",
          "type": "number"
        },
        "top3": {
          "format": "double",
          "type": "number",
          "description": "The top-3 value."
        },
        "top5": {
          "type": "number",
          "format": "double",
          "description": "The top-5 value."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics",
      "description": "Stores the metric values at specific top-k levels."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelSpec": {
      "description": "Specification of the model.",
      "type": "object",
      "properties": {
        "version": {
          "description": "The model version used to generate the summary. Supported values are: * `stable`: string. Default value when no value is specified. Uses a generally available, fine-tuned model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models). * `preview`: string. (Public preview) Uses a preview model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models).",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelSpec"
    },
    "GoogleCloudDiscoveryengineV1RecommendResponse": {
      "properties": {
        "attributionToken": {
          "type": "string",
          "description": "A unique attribution token. This should be included in the UserEvent logs resulting from this recommendation, which enables accurate attribution of recommendation model performance."
        },
        "results": {
          "type": "array",
          "description": "A list of recommended Documents. The order represents the ranking (from the most relevant Document to the least).",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1RecommendResponseRecommendationResult"
          }
        },
        "missingIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs of documents in the request that were missing from the default Branch associated with the requested ServingConfig."
        },
        "validateOnly": {
          "description": "True if RecommendRequest.validate_only was set.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1RecommendResponse",
      "type": "object",
      "description": "Response message for Recommend method."
    },
    "GoogleCloudDiscoveryengineV1BigtableOptionsBigtableColumnFamily": {
      "description": "The column family of the Bigtable.",
      "properties": {
        "fieldName": {
          "type": "string",
          "description": "The field name to use for this column family in the document. The name has to match the pattern `a-zA-Z0-9*`. If not set, it is parsed from the family name with best effort. However, due to different naming patterns, field name collisions could happen, where parsing behavior is undefined."
        },
        "encoding": {
          "enum": [
            "ENCODING_UNSPECIFIED",
            "TEXT",
            "BINARY"
          ],
          "enumDescriptions": [
            "The encoding is unspecified.",
            "Text encoding.",
            "Binary encoding."
          ],
          "type": "string",
          "description": "The encoding mode of the values when the type is not STRING. Acceptable encoding values are: * `TEXT`: indicates values are alphanumeric text strings. * `BINARY`: indicates values are encoded using `HBase Bytes.toBytes` family of functions. This can be overridden for a specific column by listing that column in `columns` and specifying an encoding for it."
        },
        "columns": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1BigtableOptionsBigtableColumn"
          },
          "type": "array",
          "description": "The list of objects that contains column level information for each column. If a column is not present in this list it will be ignored."
        },
        "type": {
          "enumDescriptions": [
            "The type is unspecified.",
            "String type.",
            "Numerical type.",
            "Integer type.",
            "Variable length integer type.",
            "BigDecimal type.",
            "Boolean type.",
            "JSON type."
          ],
          "type": "string",
          "description": "The type of values in this column family. The values are expected to be encoded using `HBase Bytes.toBytes` function when the encoding value is set to `BINARY`.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "INTEGER",
            "VAR_INTEGER",
            "BIG_NUMERIC",
            "BOOLEAN",
            "JSON"
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1BigtableOptionsBigtableColumnFamily",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigMostPopularFeatureConfig": {
      "properties": {
        "timeWindowDays": {
          "description": "The time window of which the engine is queried at training and prediction time. Positive integers only. The value translates to the last X days of events. Currently required for the `most-popular-items` engine.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigMostPopularFeatureConfig",
      "type": "object",
      "description": "Feature configurations that are required for creating a Most Popular engine."
    },
    "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfig": {
      "properties": {
        "notebooklmConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfig",
          "description": "Optional. Configuration for NotebookLM settings."
        }
      },
      "description": "Customer provided configurations.",
      "id": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestRelevanceFilterSpecRelevanceThresholdSpec": {
      "description": "Specification for relevance filtering on a specific sub-search.",
      "properties": {
        "relevanceThreshold": {
          "type": "string",
          "enum": [
            "RELEVANCE_THRESHOLD_UNSPECIFIED",
            "LOWEST",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "description": "Pre-defined relevance threshold for the sub-search.",
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Google defined threshold.",
            "Lowest relevance threshold.",
            "Low relevance threshold.",
            "Medium relevance threshold.",
            "High relevance threshold."
          ]
        },
        "semanticRelevanceThreshold": {
          "format": "float",
          "type": "number",
          "description": "Custom relevance threshold for the sub-search. The value must be in [0.0, 1.0]."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchRequestRelevanceFilterSpecRelevanceThresholdSpec",
      "type": "object"
    },
    "GoogleTypeTimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "GoogleTypeTimeZone",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        },
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgram": {
      "properties": {
        "content": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramContent",
          "description": "Optional. Content of the program."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "PROGRAM_STATE_UNSPECIFIED",
            "INITIALIZED",
            "GENERATING",
            "EVALUATING",
            "COMPLETED"
          ],
          "description": "Output only. State of the program.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The program is initialized.",
            "The program is in generation.",
            "The program is pending evaluation.",
            "The program is completed."
          ]
        },
        "parentPrograms": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Optionally specifies which parent programs this program was evolved from. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/alphaEvolveExperiments/{alpha_evolve_experiment}/alphaEvolvePrograms/{alpha_evolve_program}`"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when the program was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "lockToken": {
          "description": "Optional. Lock token for the program.",
          "type": "string"
        },
        "evaluation": {
          "description": "Optional. Evaluation results for the program.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramEvaluation"
        },
        "name": {
          "description": "Identifier. Unique identifier for the program. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/alphaEvolveExperiments/{alpha_evolve_experiment}/alphaEvolvePrograms/{alpha_evolve_program}`",
          "type": "string"
        }
      },
      "description": "Represents a single program to be used within the context of an AlphaEvolve experiment.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgram"
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpec": {
      "type": "object",
      "properties": {
        "modelSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpecModelSpec",
          "description": "Optional. Query Rephraser Model specification."
        },
        "maxRephraseSteps": {
          "description": "Max rephrase steps. The max number is 5 steps. If not set or set to < 1, it will be set to 1 by default.",
          "type": "integer",
          "format": "int32"
        },
        "disable": {
          "type": "boolean",
          "description": "Disable query rephraser."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpec",
      "description": "Query rephraser specification."
    },
    "GoogleCloudDiscoveryengineV1FhirStoreSource": {
      "type": "object",
      "properties": {
        "resourceTypes": {
          "description": "The FHIR resource types to import. The resource types should be a subset of all [supported FHIR resource types](https://cloud.google.com/generative-ai-app-builder/docs/fhir-schema-reference#resource-level-specification). Default to all supported FHIR resource types if empty.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "updateFromLatestPredefinedSchema": {
          "description": "Optional. Whether to update the DataStore schema to the latest predefined schema. If true, the DataStore schema will be updated to include any FHIR fields or resource types that have been added since the last import and corresponding FHIR resources will be imported from the FHIR store. Note this field cannot be used in conjunction with `resource_types`. It should be used after initial import.",
          "type": "boolean"
        },
        "fhirStore": {
          "description": "Required. The full resource name of the FHIR store to import data from, in the format of `projects/{project}/locations/{location}/datasets/{dataset}/fhirStores/{fhir_store}`.",
          "type": "string"
        },
        "gcsStagingDir": {
          "type": "string",
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the FhirStore export to a specific Cloud Storage directory."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1FhirStoreSource",
      "description": "Cloud FhirStore source import data from."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec",
      "properties": {
        "matchHighlightingCondition": {
          "description": "The condition under which match highlighting should occur.",
          "enum": [
            "MATCH_HIGHLIGHTING_CONDITION_UNSPECIFIED",
            "MATCH_HIGHLIGHTING_DISABLED",
            "MATCH_HIGHLIGHTING_ENABLED"
          ],
          "enumDescriptions": [
            "Server behavior is the same as `MATCH_HIGHLIGHTING_DISABLED`.",
            "Disables match highlighting on all documents.",
            "Enables match highlighting on all documents."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Specifies features for display, like match highlighting."
    },
    "GoogleCloudDiscoveryengineV1TargetSiteFailureReasonQuotaFailure": {
      "id": "GoogleCloudDiscoveryengineV1TargetSiteFailureReasonQuotaFailure",
      "type": "object",
      "description": "Failed due to insufficient quota.",
      "properties": {
        "totalRequiredQuota": {
          "type": "string",
          "format": "int64",
          "description": "This number is an estimation on how much total quota this project needs to successfully complete indexing."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the PurgeSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaUserInfoPreciseLocation": {
      "description": "Precise location info with multiple representation options.",
      "id": "GoogleCloudDiscoveryengineV1alphaUserInfoPreciseLocation",
      "properties": {
        "point": {
          "description": "Optional. Location represented by a latitude/longitude point.",
          "$ref": "GoogleTypeLatLng"
        },
        "address": {
          "description": "Location represented by a natural language address. Will later be geocoded and converted to either a point or a polygon.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DocumentContent": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DocumentContent",
      "properties": {
        "rawBytes": {
          "format": "byte",
          "description": "The content represented as a stream of bytes. The maximum length is 1,000,000 bytes (1 MB / ~0.95 MiB). Note: As with all `bytes` fields, this field is represented as pure binary in Protocol Buffers and base64-encoded string in JSON. For example, `abc123!?$*&()'-=@~` should be represented as `YWJjMTIzIT8kKiYoKSctPUB+` in JSON. See https://developers.google.com/protocol-buffers/docs/proto3#json.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the content. Supported types: * `application/pdf` (PDF, only native PDFs are supported for now) * `text/html` (HTML) * `text/plain` (TXT) * `application/xml` or `text/xml` (XML) * `application/json` (JSON) * `application/vnd.openxmlformats-officedocument.wordprocessingml.document` (DOCX) * `application/vnd.openxmlformats-officedocument.presentationml.presentation` (PPTX) * `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet` (XLSX) * `application/vnd.ms-excel.sheet.macroenabled.12` (XLSM) The following types are supported only if layout parser is enabled in the data store: * `image/bmp` (BMP) * `image/gif` (GIF) * `image/jpeg` (JPEG) * `image/png` (PNG) * `image/tiff` (TIFF) See https://www.iana.org/assignments/media-types/media-types.xhtml.",
          "type": "string"
        },
        "uri": {
          "description": "The URI of the content. Only Cloud Storage URIs (e.g. `gs://bucket-name/path/to/file`) are supported. The maximum file size is 2.5 MB for text-based formats, 200 MB for other formats.",
          "type": "string"
        }
      },
      "description": "Unstructured data linked to this document."
    },
    "GoogleCloudDiscoveryengineV1FirestoreSource": {
      "id": "GoogleCloudDiscoveryengineV1FirestoreSource",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The project ID that the Cloud SQL source is in with a length limit of 128 characters. If not specified, inherits the project ID from the parent request.",
          "type": "string"
        },
        "databaseId": {
          "description": "Required. The Firestore database to copy the data from with a length limit of 256 characters.",
          "type": "string"
        },
        "gcsStagingDir": {
          "type": "string",
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the Firestore export to a specific Cloud Storage directory. Ensure that the Firestore service account has the necessary Cloud Storage Admin permissions to access the specified Cloud Storage directory."
        },
        "collectionId": {
          "type": "string",
          "description": "Required. The Firestore collection (or entity) to copy the data from with a length limit of 1,500 characters."
        }
      },
      "description": "Firestore source import data from."
    },
    "GoogleCloudDiscoveryengineV1AdvancedSiteSearchConfig": {
      "id": "GoogleCloudDiscoveryengineV1AdvancedSiteSearchConfig",
      "description": "Configuration data for advance site search.",
      "type": "object",
      "properties": {
        "disableInitialIndex": {
          "type": "boolean",
          "description": "If set true, initial indexing is disabled for the DataStore."
        },
        "disableAutomaticRefresh": {
          "description": "If set true, automatic refresh is disabled for the DataStore.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterNumberConstraint": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterNumberConstraint",
      "properties": {
        "value": {
          "format": "double",
          "description": "The value specified in the numerical constraint.",
          "type": "number"
        },
        "fieldName": {
          "description": "Name of the numerical field as defined in the schema.",
          "type": "string"
        },
        "comparison": {
          "enumDescriptions": [
            "Undefined comparison operator.",
            "Denotes equality `=` operator.",
            "Denotes less than or equal to `<=` operator.",
            "Denotes less than `<` operator.",
            "Denotes greater than or equal to `>=` operator.",
            "Denotes greater than `>` operator."
          ],
          "description": "The comparison operation performed between the field value and the value specified in the constraint.",
          "enum": [
            "COMPARISON_UNSPECIFIED",
            "EQUALS",
            "LESS_THAN_EQUALS",
            "LESS_THAN",
            "GREATER_THAN_EQUALS",
            "GREATER_THAN"
          ],
          "type": "string"
        },
        "querySegment": {
          "type": "string",
          "description": "Identifies the keywords within the search query that match a filter."
        }
      },
      "description": "Constraint expression of a number field. Example: price < 100."
    },
    "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryRequestBoostSpec": {
      "id": "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryRequestBoostSpec",
      "type": "object",
      "properties": {
        "conditionBoostSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryRequestBoostSpecConditionBoostSpec"
          },
          "description": "Condition boost specifications. If a suggestion matches multiple conditions in the specifications, boost values from these specifications are all applied and combined in a non-linear way. Maximum number of specifications is 20. Note: Currently only support language condition boost."
        }
      },
      "description": "Specification to boost suggestions based on the condition of the suggestion."
    },
    "GoogleCloudDiscoveryengineV1alphaDynamicTool": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether the tool is enabled."
        },
        "description": {
          "description": "Optional. The description of the tool.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the tool."
        }
      },
      "description": "Configuration for dynamic tools.",
      "id": "GoogleCloudDiscoveryengineV1alphaDynamicTool",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaEvaluation": {
      "type": "object",
      "description": "An evaluation is a single execution (or run) of an evaluation process. It encapsulates the state of the evaluation and the resulting data.",
      "id": "GoogleCloudDiscoveryengineV1betaEvaluation",
      "properties": {
        "evaluationSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpec",
          "description": "Required. The specification of the evaluation."
        },
        "qualityMetrics": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetrics",
          "description": "Output only. The metrics produced by the evaluation, averaged across all SampleQuerys in the SampleQuerySet. Only populated when the evaluation's state is SUCCEEDED."
        },
        "name": {
          "description": "Identifier. The full resource name of the Evaluation, in the format of `projects/{project}/locations/{location}/evaluations/{evaluation}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "errorSamples": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "error": {
          "readOnly": true,
          "description": "Output only. The error that occurred during evaluation. Only populated when the evaluation's state is FAILED.",
          "$ref": "GoogleRpcStatus"
        },
        "state": {
          "description": "Output only. The state of the evaluation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The evaluation is unspecified.",
            "The service is preparing to run the evaluation.",
            "The evaluation is in progress.",
            "The evaluation completed successfully.",
            "The evaluation failed."
          ],
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp the Evaluation was created at.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "Output only. Timestamp the Evaluation was completed at.",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpec": {
      "description": "A facet specification to perform faceted search.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpec",
      "properties": {
        "facetKey": {
          "description": "Required. The facet key specification.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpecFacetKey"
        },
        "excludedFilterKeys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of keys to exclude when faceting. By default, FacetKey.key is not excluded from the filter unless it is listed in this field. Listing a facet key in this field allows its values to appear as facet results, even when they are filtered out of search results. Using this field does not affect what search results are returned. For example, suppose there are 100 documents with the color facet \"Red\" and 200 documents with the color facet \"Blue\". A query containing the filter \"color:ANY(\"Red\")\" and having \"color\" as FacetKey.key would by default return only \"Red\" documents in the search results, and also return \"Red\" with count 100 as the only color facet. Although there are also blue documents available, \"Blue\" would not be shown as an available facet value. If \"color\" is listed in \"excludedFilterKeys\", then the query returns the facet values \"Red\" with count 100 and \"Blue\" with count 200, because the \"color\" key is now excluded from the filter. Because this field doesn't affect search results, the search results are still correctly filtered to return only \"Red\" documents. A maximum of 100 values are allowed. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "enableDynamicPosition": {
          "type": "boolean",
          "description": "Enables dynamic position for this facet. If set to true, the position of this facet among all facets in the response is determined automatically. If dynamic facets are enabled, it is ordered together. If set to false, the position of this facet in the response is the same as in the request, and it is ranked before the facets with dynamic position enable and all dynamic facets. For example, you may always want to have rating facet returned in the response, but it's not necessarily to always display the rating facet at the top. In that case, you can set enable_dynamic_position to true so that the position of rating facet in response is determined automatically. Another example, assuming you have the following facets in the request: * \"rating\", enable_dynamic_position = true * \"price\", enable_dynamic_position = false * \"brands\", enable_dynamic_position = false And also you have a dynamic facets enabled, which generates a facet `gender`. Then the final order of the facets in the response can be (\"price\", \"brands\", \"rating\", \"gender\") or (\"price\", \"brands\", \"gender\", \"rating\") depends on how API orders \"gender\" and \"rating\" facets. However, notice that \"price\" and \"brands\" are always ranked at first and second position because their enable_dynamic_position is false."
        },
        "limit": {
          "format": "int32",
          "description": "Maximum facet values that are returned for this facet. If unspecified, defaults to 20. The maximum allowed value is 300. Values above 300 are coerced to 300. For aggregation in healthcare search, when the [FacetKey.key] is \"healthcare_aggregation_key\", the limit will be overridden to 10,000 internally, regardless of the value set here. If this field is negative, an `INVALID_ARGUMENT` is returned.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1CitationMetadata": {
      "description": "A collection of source attributions for a piece of content.",
      "type": "object",
      "properties": {
        "citations": {
          "type": "array",
          "description": "Output only. List of citations.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Citation"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1CitationMetadata"
    },
    "GoogleCloudDiscoveryengineV1AnswerReferenceChunkInfo": {
      "id": "GoogleCloudDiscoveryengineV1AnswerReferenceChunkInfo",
      "type": "object",
      "properties": {
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        },
        "relevanceScore": {
          "type": "number",
          "format": "float",
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation."
        },
        "documentMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1AnswerReferenceChunkInfoDocumentMetadata",
          "description": "Document metadata."
        },
        "chunk": {
          "type": "string",
          "description": "Chunk resource name."
        }
      },
      "description": "Chunk information."
    },
    "GoogleCloudDiscoveryengineV1ImportUserEventsRequestInlineSource": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ImportUserEventsRequestInlineSource",
      "properties": {
        "userEvents": {
          "description": "Required. A list of user events to import. Recommended max of 10k items.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1UserEvent"
          },
          "type": "array"
        }
      },
      "description": "The inline source for the input config for ImportUserEvents method."
    },
    "GoogleCloudDiscoveryengineV1SearchResponseSummaryCitationMetadata": {
      "id": "GoogleCloudDiscoveryengineV1SearchResponseSummaryCitationMetadata",
[...]
