{
  "revision": "20260823",
  "canonicalName": "Discovery Engine",
  "protocol": "rest",
  "basePath": "",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf. Also view the artifacts you access through NotebookLM Enterprise."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/operations",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The standard list page size.",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation's parent resource."
                }
              },
              "path": "v1alpha/{+name}/operations",
              "parameterOrder": [
                "name"
              ],
              "id": "discoveryengine.projects.operations.list",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              }
            },
            "get": {
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/projects/{projectsId}/operations/{operationsId}",
              "id": "discoveryengine.projects.operations.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "locations": {
          "methods": {
            "queryConfigurablePricingUsageStats": {
              "parameterOrder": [
                "project",
                "location"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "parameters": {
                "timeRange.startDate.month": {
                  "location": "query",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "format": "int32",
                  "type": "integer"
                },
                "project": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The project to query usage stats for. Format: projects/{project}",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "metricTypes": {
                  "enumDescriptions": [
                    "Default value.",
                    "Daily median search request QPM.",
                    "Daily min search request QPM.",
                    "Daily max search request QPM.",
                    "Daily search request total.",
                    "Total storage bytes for indexing core."
                  ],
                  "repeated": true,
                  "description": "Optional. The metric types to return usage for.",
                  "type": "string",
                  "enum": [
                    "BILLING_METRIC_TYPE_UNSPECIFIED",
                    "DAILY_MDN_QPM",
                    "DAILY_MIN_QPM",
                    "DAILY_MAX_QPM",
                    "DAILY_SEARCH_REQUEST",
                    "TOTAL_STORAGE"
                  ],
                  "location": "query"
                },
                "timeRange.endDate.day": {
                  "location": "query",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "format": "int32",
                  "type": "integer"
                },
                "timeRange.startDate.day": {
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "timeRange.endDate.month": {
                  "location": "query",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "type": "integer",
                  "format": "int32"
                },
                "timeRange.startDate.year": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
                },
                "location": {
                  "required": true,
                  "description": "Required. The location to query usage stats for.",
                  "location": "path",
                  "type": "string"
                },
                "timeRange.endDate.year": {
                  "location": "query",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaQueryConfigurablePricingUsageStatsResponse"
              },
              "description": "Queries configurable pricing usage stats for a project.",
              "httpMethod": "GET",
              "path": "v1alpha/{+project}/locations/{location}:queryConfigurablePricingUsageStats",
              "id": "discoveryengine.projects.locations.queryConfigurablePricingUsageStats",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{location}:queryConfigurablePricingUsageStats"
            },
            "obtainCrawlRate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "id": "discoveryengine.projects.locations.obtainCrawlRate",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaObtainCrawlRateRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaObtainCrawlRateResponse"
              },
              "description": "Obtains the time series data of organic or dedicated crawl rate for monitoring. When dedicated crawl rate is not set, it will return vertex AI's organic crawl rate time series. Organic crawl means Google automatically crawl the internet at its own convenience. When dedicated crawl rate is set, it will return vertex AI's dedicated crawl rate time series.",
              "parameterOrder": [
                "location"
              ],
              "parameters": {
                "location": {
                  "location": "path",
                  "description": "Required. The location resource where crawl rate management will be performed. Format: `projects/{project}/locations/{location}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "path": "v1alpha/{+location}:obtainCrawlRate",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:obtainCrawlRate"
            },
            "setDedicatedCrawlRate": {
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaSetDedicatedCrawlRateRequest"
              },
              "id": "discoveryengine.projects.locations.setDedicatedCrawlRate",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "location": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The location resource where crawl rate management will be performed. Format: `projects/{project}/locations/{location}`",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "parameterOrder": [
                "location"
              ],
              "path": "v1alpha/{+location}:setDedicatedCrawlRate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "httpMethod": "POST",
              "description": "Sets the dedicated crawl rate for a crawl_rate_scope. If the dedicated crawl rate was not set, this will enable vertex AI's crawl bot to use the new dedicated crawl rate for crawling. If the dedicated crawl rate was set, vertex AI's crawl bot will try to update the rate to the new value. If the new value is too high, the crawl bot may crawl at a lower rate to avoid overloading the user's website.",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:setDedicatedCrawlRate"
            },
            "updateCmekConfig": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "PATCH",
              "id": "discoveryengine.projects.locations.updateCmekConfig",
              "path": "v1alpha/{+name}",
              "description": "Provisions a CMEK key for use in a location of a customer's project. This method will also conduct location validation on the provided cmekConfig to make sure the key is valid and can be used in the selected location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cmekConfig",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfig$",
                  "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "setDefault": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Set the following CmekConfig as the default to be used for child resources if one is not specified."
                }
              },
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaCmekConfig"
              }
            },
            "setUpDataConnector": {
              "path": "v1alpha/{+parent}:setUpDataConnector",
              "id": "discoveryengine.projects.locations.setUpDataConnector",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Required. The parent of Collection, in the format of `projects/{project}/locations/{location}`."
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "description": "Creates a Collection and sets up the DataConnector for it. To stop a DataConnector after setup, use the CollectionService.DeleteCollection method.",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:setUpDataConnector",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaSetUpDataConnectorRequest"
              }
            },
            "estimateDataSize": {
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeRequest"
              },
              "description": "Estimates the data size to be used by a customer.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "parameterOrder": [
                "location"
              ],
              "id": "discoveryengine.projects.locations.estimateDataSize",
              "parameters": {
                "location": {
                  "description": "Required. Full resource name of the location, such as `projects/{project}/locations/{location}`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:estimateDataSize",
              "path": "v1alpha/{+location}:estimateDataSize"
            },
            "provision": {
              "id": "discoveryengine.projects.locations.provision",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaProvisionProjectRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1alpha/{+name}:provision",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:provision",
              "description": "Provisions the project resource. During the process, related systems will get prepared and initialized. Caller must read the [Terms for data use](https://cloud.google.com/retail/data-use-terms), and optionally specify in request to provide consent to that service terms."
            },
            "removeDedicatedCrawlRate": {
              "path": "v1alpha/{+location}:removeDedicatedCrawlRate",
              "parameterOrder": [
                "location"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:removeDedicatedCrawlRate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "description": "Removes the dedicated crawl rate for a craw_rate_scope. If the dedicated crawl rate was set, this will disable vertex AI's crawl bot from using the dedicated crawl rate for crawling. If the dedicated crawl rate was not set, this is a no-op.",
              "parameters": {
                "location": {
                  "description": "Required. The location resource where crawl rate management will be performed. Format: `projects/{project}/locations/{location}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "id": "discoveryengine.projects.locations.removeDedicatedCrawlRate",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateRequest"
              }
            },
            "getAclConfig": {
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "description": "Gets the AclConfig.",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/aclConfig",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaAclConfig"
              },
              "id": "discoveryengine.projects.locations.getAclConfig",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/aclConfig$",
                  "description": "Required. Resource name of AclConfig, such as `projects/*/locations/*/aclConfig`. If the caller does not have permission to access the AclConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            },
            "updateAclConfig": {
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaAclConfig"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                  "pattern": "^projects/[^/]+/locations/[^/]+/aclConfig$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Default ACL configuration for use in a location of a customer's project. Updates will only reflect to new data stores. Existing data stores will still use the old value.",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaAclConfig"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/aclConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "httpMethod": "PATCH",
              "id": "discoveryengine.projects.locations.updateAclConfig"
            },
            "getCmekConfig": {
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cmekConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the CmekConfig.",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaCmekConfig"
              },
              "id": "discoveryengine.projects.locations.getCmekConfig",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfig$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Resource name of CmekConfig, such as `projects/*/locations/*/cmekConfig` or `projects/*/locations/*/cmekConfigs/*`. If the caller does not have permission to access the CmekConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned."
                }
              }
            },
            "completeExternalIdentities": {
              "httpMethod": "GET",
              "id": "discoveryengine.projects.locations.completeExternalIdentities",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:completeExternalIdentities",
              "description": "This method provides suggestions for users and groups managed in an external identity provider, based on the provided prefix.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaCompleteExternalIdentitiesResponse"
              },
              "path": "v1alpha/{+parent}:completeExternalIdentities",
              "parameters": {
                "prefixQuery": {
                  "description": "Required. The prefix to search for. For users, this prefix is matched against the `primary_email`. For groups, this prefix is matched against the `display_name`. The matching is case-insensitive.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent location resource name, such as `projects/*/locations/global`.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                },
                "entityTypeFilter": {
                  "type": "string",
                  "enum": [
                    "ENTITY_TYPE_FILTER_UNSPECIFIED",
                    "USERS",
                    "GROUPS"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Unspecified entity type filter.",
                    "Fetch only users.",
                    "Fetch only groups."
                  ],
                  "description": "Optional. The type of entities to fetch. If not set, all entity types will be returned."
                },
                "maxSuggestions": {
                  "description": "Optional. The maximum number of user and group results to return. The service may return fewer than this value. If unspecified, at most 6 results will be returned. The limit is distributed as evenly as possible across users and groups. For example, if max_suggestions is 7, the service may return 4 users and 3 groups. If there are fewer suggestions of one type than half the limit, the other type may return more suggestions up to the max_suggestions limit.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "useScimIdentities": {
                  "type": "boolean",
                  "description": "Optional. Whether to use scim identities for external identity completion. If false, we will call the Microsoft graph API to fetch the external identities.",
                  "location": "query"
                }
              }
            },
            "setUpDataConnectorV2": {
              "id": "discoveryengine.projects.locations.setUpDataConnectorV2",
              "parameters": {
                "collectionDisplayName": {
                  "description": "Required. The display name of the Collection. Should be human readable, used to display collections in the Console Dashboard. UTF-8 encoded string with limit of 1024 characters.",
                  "type": "string",
                  "location": "query"
                },
                "collectionId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The ID to use for the Collection, which will become the final component of the Collection's resource name. A new Collection is created as part of the DataConnector setup. DataConnector is a singleton resource under Collection, managing all DataStores of the Collection. Should conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
                },
                "parent": {
                  "description": "Required. The parent of Collection, in the format of `projects/{project}/locations/{location}`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:setUpDataConnectorV2",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnector"
              },
              "path": "v1alpha/{+parent}:setUpDataConnectorV2",
              "description": "Creates a Collection and sets up the DataConnector for it. To stop a DataConnector after setup, use the CollectionService.DeleteCollection method.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            }
          },
          "resources": {
            "authorizations": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaAuthorization"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "authorizationId": {
                      "type": "string",
                      "description": "Required. The ID to use for the authorization, which will become the final component of the resource name. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) with a length limit of 63 characters.",
                      "location": "query"
                    }
                  },
                  "id": "discoveryengine.projects.locations.authorizations.create",
                  "path": "v1alpha/{+parent}/authorizations",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaAuthorization"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Creates an Authorization.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authorizations"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "discoveryengine.projects.locations.authorizations.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Resource name of Authorization. Format: `projects/{project}/locations/{location}/authorizations/{authorization}` If the caller does not have permission to delete the authorization, regardless of whether or not it exists, a `PERMISSION_DENIED` error is returned. If the authorization to delete does not exist, a `NOT_FOUND` error is returned.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authorizations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Deletes an Authorization.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authorizations/{authorizationsId}",
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaListAuthorizationsResponse"
                  },
                  "path": "v1alpha/{+parent}/authorizations",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Maximum number of Authorizations to return. If unspecified, defaults to 100. The maximum allowed value is 1000; anything above that will be coerced down to 1000.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token ListAuthorizationsResponse.next_page_token, received from a previous AuthorizationService.ListAuthorizations call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListAuthorizations must match the call that provided the page token."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Lists all Authorizations under an Engine.",
                  "id": "discoveryengine.projects.locations.authorizations.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authorizations",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ]
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaAuthorization"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "id": "discoveryengine.projects.locations.authorizations.patch",
                  "path": "v1alpha/{+name}",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaAuthorization"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authorizations/{authorizationsId}",
                  "description": "Updates an Authorization",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "The list of fields to update.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "description": "Identifier. Resource name of the authorization. Format: `projects/{project}/locations/{location}/authorizations/{authorization}` It must be a UTF-8 encoded string with a length limit of 1024 characters.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authorizations/[^/]+$"
                    }
                  }
                },
                "get": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authorizations/{authorizationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Gets an Authorization.",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaAuthorization"
                  },
                  "id": "discoveryengine.projects.locations.authorizations.get",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of Authorization. Format: `projects/{project}/locations/{location}/authorizations/{authorization}`",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authorizations/[^/]+$"
                    }
                  },
                  "path": "v1alpha/{+name}"
                }
              }
            },
            "notebooks": {
              "methods": {
                "listRecentlyViewed": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The page token, provide this to retrieve the subsequent page.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}`.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Maximum number of Notebooks to return. If unspecified, defaults to \"500\". The maximum allowed value is \"500\". If this field is negative, will use the default value.",
                      "format": "int32"
                    }
                  },
                  "description": "Lists the notebooks ordered by last view time.",
                  "response": {
                    "$ref": "GoogleCloudNotebooklmV1alphaListRecentlyViewedNotebooksResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/notebooks:listRecentlyViewed",
                  "path": "v1alpha/{+parent}/notebooks:listRecentlyViewed",
                  "id": "discoveryengine.projects.locations.notebooks.listRecentlyViewed"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "id": "discoveryengine.projects.locations.notebooks.get",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/notebooks/{notebooksId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Full resource name of Notebook, such as `projects/{project}/locations/{location}/notebooks/{notebook_id}`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/notebooks/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "description": "Gets a notebook.",
                  "response": {
                    "$ref": "GoogleCloudNotebooklmV1alphaNotebook"
                  }
                },
                "batchDelete": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleCloudNotebooklmV1alphaBatchDeleteNotebooksRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "id": "discoveryengine.projects.locations.notebooks.batchDelete",
                  "path": "v1alpha/{+parent}/notebooks:batchDelete",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/notebooks:batchDelete",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "description": "Batch deletes Notebooks."
                },
                "share": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/notebooks/{notebooksId}:share",
                  "id": "discoveryengine.projects.locations.notebooks.share",
                  "httpMethod": "POST",
                  "description": "Shares a notebook to other accounts.",
                  "path": "v1alpha/{+name}:share",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudNotebooklmV1alphaShareNotebookResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudNotebooklmV1alphaShareNotebookRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Full resource name of Notebook, such as `projects/{project}/locations/{location}/notebooks/{notebook_id}`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notebooks/[^/]+$",
                      "required": true
                    }
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/notebooks",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudNotebooklmV1alphaNotebook"
                  },
                  "path": "v1alpha/{+parent}/notebooks",
                  "response": {
                    "$ref": "GoogleCloudNotebooklmV1alphaNotebook"
                  },
                  "id": "discoveryengine.projects.locations.notebooks.create",
                  "httpMethod": "POST",
                  "description": "Creates a notebook.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ]
                }
              },
              "resources": {
                "audioOverviews": {
                  "methods": {
                    "delete": {
                      "path": "v1alpha/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/notebooks/{notebooksId}/audioOverviews/{audioOverviewsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/notebooks/[^/]+/audioOverviews/[^/]+$",
                          "required": true,
                          "description": "Required. The full resource name of the AudioOverview, such as `projects/{project}/locations/{location}/notebooks/{notebook}/audioOverviews/{audio_overview_id}`.",
                          "type": "string"
                        }
                      },
                      "id": "discoveryengine.projects.locations.notebooks.audioOverviews.delete",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "Deletes an audio overview."
                    },
                    "create": {
                      "response": {
                        "$ref": "GoogleCloudNotebooklmV1alphaCreateAudioOverviewResponse"
                      },
                      "httpMethod": "POST",
                      "description": "Generates a new audio overview.",
                      "path": "v1alpha/{+parent}/audioOverviews",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/notebooks/{notebooksId}/audioOverviews",
                      "id": "discoveryengine.projects.locations.notebooks.audioOverviews.create",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/notebooks/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent resource where this notebook will be created. Format: projects/{project}/locations/{location}/notebooks/{notebook}"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudNotebooklmV1alphaCreateAudioOverviewRequest"
                      }
                    }
                  }
                },
                "sources": {
                  "methods": {
                    "batchCreate": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent resource where the sources will be created. Format: projects/{project}/locations/{location}/notebooks/{notebook}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/notebooks/[^/]+$"
                        }
                      },
                      "id": "discoveryengine.projects.locations.notebooks.sources.batchCreate",
                      "response": {
                        "$ref": "GoogleCloudNotebooklmV1alphaBatchCreateSourcesResponse"
                      },
                      "description": "Creates a list of Sources.",
                      "path": "v1alpha/{+parent}/sources:batchCreate",
                      "request": {
                        "$ref": "GoogleCloudNotebooklmV1alphaBatchCreateSourcesRequest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/notebooks/{notebooksId}/sources:batchCreate"
                    },
                    "batchDelete": {
                      "httpMethod": "POST",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/notebooks/{notebooksId}/sources:batchDelete",
                      "description": "Deletes multiple sources",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent resource where the sources will be deleted. Format: projects/{project}/locations/{location}/notebooks/{notebook}",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/notebooks/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "discoveryengine.projects.locations.notebooks.sources.batchDelete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "request": {
                        "$ref": "GoogleCloudNotebooklmV1alphaBatchDeleteSourcesRequest"
                      },
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v1alpha/{+parent}/sources:batchDelete"
                    },
                    "get": {
                      "path": "v1alpha/{+name}",
                      "description": "Gets a Source.",
                      "response": {
                        "$ref": "GoogleCloudNotebooklmV1alphaSource"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/notebooks/{notebooksId}/sources/{sourcesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name for source Format: projects/{project}/locations/{location}/notebooks/{notebook}/sources/{source}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/notebooks/[^/]+/sources/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "discoveryengine.projects.locations.notebooks.sources.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ]
                    }
                  }
                }
              }
            },
            "requirements": {
              "methods": {
                "checkRequirement": {
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaCheckRequirementRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameters": {
                    "location": {
                      "type": "string",
                      "description": "Required. Full resource name of the location. Format `projects/{project_number_or_id}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "location"
                  ],
                  "id": "discoveryengine.projects.locations.requirements.checkRequirement",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaCheckRequirementResponse"
                  },
                  "description": "Check a particular requirement.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/requirements:checkRequirement",
                  "httpMethod": "POST",
                  "path": "v1alpha/{+location}/requirements:checkRequirement"
                }
              }
            },
            "collections": {
              "methods": {
                "setIamPolicy": {
                  "path": "v1alpha/{+resource}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}:setIamPolicy",
                  "request": {
                    "$ref": "GoogleIamV1SetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Sets the IAM access control policy for a Collection. A `NOT_FOUND` error is returned if the resource does not exist. **Important:** When setting a policy directly on a Collection resource, the only recommended roles in the bindings are: `roles/discoveryengine.admin` `roles/discoveryengine.agentspaceAdmin` `roles/discoveryengine.viewer` `roles/discoveryengine.agentspaceViewer` `roles/discoveryengine.user` `roles/discoveryengine.agentspaceUser` Attempting to grant any other role will result in a warning in logging.",
                  "httpMethod": "POST",
                  "id": "discoveryengine.projects.locations.collections.setIamPolicy",
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  }
                },
                "getDataConnector": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnector"
                  },
                  "id": "discoveryengine.projects.locations.collections.getDataConnector",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataConnector",
                  "description": "Gets the DataConnector. DataConnector is a singleton resource for each Collection.",
                  "parameters": {
                    "name": {
                      "description": "Required. Full resource name of DataConnector, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataConnector`. If the caller does not have permission to access the DataConnector, regardless of whether or not it exists, a `PERMISSION_DENIED` error is returned. If the requested DataConnector does not exist, a `NOT_FOUND` error is returned.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataConnector$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaCollection"
                  },
                  "id": "discoveryengine.projects.locations.collections.get",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The full resource name, in the format of `projects/{project}/locations/{location}/collections/{collection}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Gets a Collection.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "updateDataConnector": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataConnector",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "id": "discoveryengine.projects.locations.collections.updateDataConnector",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "description": "Indicates which fields in the provided DataConnector to update. Supported field paths include: - `refresh_interval` - `params` - `auto_run_disabled` - `action_config` - `action_config.action_params` - `action_config.service_name` - `destination_configs` - `blocking_reasons` - `sync_mode` - `incremental_sync_disabled` - `incremental_refresh_interval` - `data_protection_policy` Note: Support for these fields may vary depending on the connector type. For example, not all connectors support `destination_configs`. If an unsupported or unknown field path is provided, the request will return an `INVALID_ARGUMENT` error.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "description": "Identifier. The full resource name of the Data Connector. Format: `projects/*/locations/*/collections/*/dataConnector`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataConnector$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Updates a DataConnector.",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnector"
                  },
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnector"
                  },
                  "path": "v1alpha/{+name}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1alpha/{+parent}/collections",
                  "description": "Gets a list of Collections.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaListCollectionsResponse"
                  },
                  "id": "discoveryengine.projects.locations.collections.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous CollectionService.ListCollections call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to CollectionService.ListCollections must match the call that provided the page token.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Filter returned collections by associated data connector data sources. For example: `filter = 'data_source:jira confluence'`. If the filter is empty, we return all collections under a project and location."
                    },
                    "parent": {
                      "description": "Required. The parent data store resource name, in the format of `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of Collections to return. The service may return fewer than this value. If unspecified, at most 100 Collections will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections"
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaCollection"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1alpha/{+name}",
                  "id": "discoveryengine.projects.locations.collections.patch",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to be updated.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Immutable. The full resource name of the Collection. Format: `projects/{project}/locations/{location}/collections/{collection_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                      "type": "string"
                    }
                  },
                  "description": "Updates a Collection.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}",
                  "httpMethod": "PATCH"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                      "required": true,
                      "description": "Required. The full resource name of the Collection, in the format of `projects/{project}/locations/{location}/collections/{collection}`."
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}",
                  "description": "Deletes a Collection.",
                  "httpMethod": "DELETE",
                  "id": "discoveryengine.projects.locations.collections.delete",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "getIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1alpha/{+resource}:getIamPolicy",
                  "httpMethod": "GET",
                  "description": "Gets the IAM access control policy for a Collection. A `NOT_FOUND` error is returned if the resource does not exist. An empty policy is returned if the resource exists but does not have a policy set on it.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}:getIamPolicy",
                  "id": "discoveryengine.projects.locations.collections.getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "type": "integer",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "format": "int32"
                    },
                    "resource": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              },
              "resources": {
                "engines": {
                  "resources": {
                    "completionConfig": {
                      "methods": {
                        "removeSuggestion": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/completionConfig:removeSuggestion",
                          "path": "v1alpha/{+completionConfig}:removeSuggestion",
                          "parameters": {
                            "completionConfig": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/completionConfig$",
                              "description": "Required. The completion_config of the parent engine resource name for which the search history suggestion is to be removed, such as `projects/*/locations/global/collections/default_collection/engines/*/completionConfig`."
                            }
                          },
                          "description": "Removes the search history suggestion in an engine for a user. This will remove the suggestion from being returned in the AdvancedCompleteQueryResponse.recent_search_suggestions for this user. If the user searches the same suggestion again, the new history will override and suggest this suggestion again.",
                          "parameterOrder": [
                            "completionConfig"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaRemoveSuggestionResponse"
                          },
                          "httpMethod": "POST",
                          "id": "discoveryengine.projects.locations.collections.engines.completionConfig.removeSuggestion",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaRemoveSuggestionRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ]
                        },
                        "completeQuery": {
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud_search.query",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameters": {
                            "completionConfig": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/completionConfig$",
                              "description": "Required. The completion_config of the parent dataStore or engine resource name for which the completion is performed, such as `projects/*/locations/global/collections/default_collection/dataStores/*/completionConfig` `projects/*/locations/global/collections/default_collection/engines/*/completionConfig`.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "completionConfig"
                          ],
                          "path": "v1alpha/{+completionConfig}:completeQuery",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryResponse"
                          },
                          "httpMethod": "POST",
                          "description": "Completes the user input with advanced keyword suggestions.",
                          "id": "discoveryengine.projects.locations.collections.engines.completionConfig.completeQuery",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/completionConfig:completeQuery"
                        }
                      }
                    },
                    "sessions": {
                      "resources": {
                        "files": {
                          "methods": {
                            "list": {
                              "path": "v1alpha/{+parent}/files",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "parameterOrder": [
                                "parent"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1alphaListFilesResponse"
                              },
                              "httpMethod": "GET",
                              "id": "discoveryengine.projects.locations.collections.engines.sessions.files.list",
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/sessions/{sessionsId}/files",
                              "parameters": {
                                "pageSize": {
                                  "description": "Optional. The maximum number of files to return. The service may return fewer than this value. If unspecified, at most 100 files will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000. If user specifies a value less than or equal to 0 - the request will be rejected with an INVALID_ARGUMENT error.",
                                  "location": "query",
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "orderBy": {
                                  "location": "query",
                                  "description": "Optional. Specifies the order in which files are returned. The value is a comma-separated string of fields to sort by. For ascending order - just the field name is used. For descending order - the field name is suffixed with ` desc`. Sorting is stable and applied sequentially according to the order of fields provided in the string. Supported fields for ordering: * `upload_time`: The time the file was uploaded. * `file_name`: The name of the file. * `mime_type`: The MIME type of the file. * `session_name`: The name of the session the file belongs to. Default Behavior: If the `order_by` field is not specified, files will be returned sorted by creation time in descending order. Examples: 1. Sort by file name in ascending order: `file_name` 2. Sort by upload time in descending order: `upload_time desc` 3. Sort by file name (ascending), then by content type (MIME type) (descending), and finally by upload time (ascending): `file_name, mime_type desc, upload_time`",
                                  "type": "string"
                                },
                                "filter": {
                                  "description": "Optional. The filter syntax consists of an expression language for constructing a predicate from one or more fields of the files being filtered. Filter expression is case-sensitive. Currently supported field names are: * upload_time * last_add_time * last_use_time * file_name * mime_type Some examples of filters would be: * \"file_name = 'file_1'\" * \"file_name = 'file_1' AND mime_type = 'text/plain'\" * \"last_use_time > '2025-06-14T12:00:00Z'\" For a full description of the filter format, please see https://google.aip.dev/160.",
                                  "location": "query",
                                  "type": "string"
                                },
                                "pageToken": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "Optional. A page token received from a previous `ListFiles` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListFiles` must match the call that provided the page token (except `page_size`, which may differ)."
                                },
                                "parent": {
                                  "required": true,
                                  "description": "Required. The resource name of the Session. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}` Name of the session resource to which the file belong.",
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/sessions/[^/]+$"
                                }
                              },
                              "description": "Lists metadata for all files in the current session."
                            }
                          }
                        },
                        "answers": {
                          "methods": {
                            "get": {
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1alphaAnswer"
                              },
                              "httpMethod": "GET",
                              "description": "Gets a Answer.",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "description": "Required. The resource name of the Answer to get. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine_id}/sessions/{session_id}/answers/{answer_id}`",
                                  "required": true,
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/sessions/[^/]+/answers/[^/]+$"
                                }
                              },
                              "path": "v1alpha/{+name}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "id": "discoveryengine.projects.locations.collections.engines.sessions.answers.get",
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/sessions/{sessionsId}/answers/{answersId}",
                              "parameterOrder": [
                                "name"
                              ]
                            }
                          }
                        },
                        "operations": {
                          "methods": {
                            "get": {
                              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                              "httpMethod": "GET",
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              },
                              "id": "discoveryengine.projects.locations.collections.engines.sessions.operations.get",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "required": true,
                                  "location": "path",
                                  "description": "The name of the operation resource.",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/sessions/[^/]+/operations/[^/]+$"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/sessions/{sessionsId}/operations/{operationsId}",
                              "path": "v1alpha/{+name}"
                            }
                          }
                        },
                        "alphaEvolveExperiments": {
                          "methods": {
                            "create": {
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/sessions/{sessionsId}/alphaEvolveExperiments",
                              "parameters": {
                                "parent": {
                                  "location": "path",
                                  "type": "string",
                                  "required": true,
                                  "description": "Required. The parent resource name (Session) of the experiment. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}`",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/sessions/[^/]+$"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "path": "v1alpha/{+parent}/alphaEvolveExperiments",
                              "parameterOrder": [
                                "parent"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperiment"
                              },
                              "id": "discoveryengine.projects.locations.collections.engines.sessions.alphaEvolveExperiments.create",
                              "httpMethod": "POST",
                              "request": {
                                "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperiment"
                              },
                              "description": "Creates a new AlphaEvolveExperiment."
                            },
                            "delete": {
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/sessions/{sessionsId}/alphaEvolveExperiments/{alphaEvolveExperimentsId}",
                              "parameterOrder": [
                                "name"
                              ],
                              "id": "discoveryengine.projects.locations.collections.engines.sessions.alphaEvolveExperiments.delete",
                              "parameters": {
                                "name": {
                                  "description": "Required. The full resource name of the experiment to delete. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/alphaEvolveExperiments/{alpha_evolve_experiment}`",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/sessions/[^/]+/alphaEvolveExperiments/[^/]+$",
                                  "location": "path",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "httpMethod": "DELETE",
                              "description": "Deletes an experiment provided the experiment is in an end state (e.g. created, failed, succeeded).",
                              "path": "v1alpha/{+name}"
                            },
                            "acquirePrograms": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "request": {
                                "$ref": "GoogleCloudDiscoveryengineV1alphaAcquireProgramsRequest"
                              },
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1alphaAcquireProgramsResponse"
                              },
                              "parameters": {
                                "parent": {
                                  "description": "Required. The parent resource name (AlphaEvolveExperiment) of the AlphaEvolveExperiment. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/alphaEvolveExperiments/{alpha_evolve_experiment}`",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/sessions/[^/]+/alphaEvolveExperiments/[^/]+$",
                                  "location": "path",
                                  "type": "string"
                                }
                              },
                              "path": "v1alpha/{+parent}:acquirePrograms",
                              "parameterOrder": [
                                "parent"
                              ],
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/sessions/{sessionsId}/alphaEvolveExperiments/{alphaEvolveExperimentsId}:acquirePrograms",
                              "httpMethod": "POST",
                              "id": "discoveryengine.projects.locations.collections.engines.sessions.alphaEvolveExperiments.acquirePrograms",
                              "description": "Acquires one or more AlphaEvolveProgram from the generated queue of programs for evaluation."
                            },
                            "start": {
                              "request": {
                                "$ref": "GoogleCloudDiscoveryengineV1alphaStartExperimentRequest"
                              },
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              },
                              "httpMethod": "POST",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "path": "v1alpha/{+name}:start",
                              "id": "discoveryengine.projects.locations.collections.engines.sessions.alphaEvolveExperiments.start",
                              "parameterOrder": [
                                "name"
                              ],
                              "description": "Starts a workflow to process the AlphaEvolveExperiment.",
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "description": "Required. Experiment to start. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/alphaEvolveExperiments/{alpha_evolve_experiment}`",
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/sessions/[^/]+/alphaEvolveExperiments/[^/]+$"
                                }
                              },
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/sessions/{sessionsId}/alphaEvolveExperiments/{alphaEvolveExperimentsId}:start"
                            },
                            "submitProgramsEvaluations": {
                              "path": "v1alpha/{+parent}:submitProgramsEvaluations",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1alphaSubmitProgramsEvaluationsResponse"
                              },
                              "httpMethod": "POST",
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/sessions/{sessionsId}/alphaEvolveExperiments/{alphaEvolveExperimentsId}:submitProgramsEvaluations",
                              "parameterOrder": [
                                "parent"
                              ],
                              "parameters": {
                                "parent": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/sessions/[^/]+/alphaEvolveExperiments/[^/]+$",
                                  "required": true,
                                  "description": "Required. The parent resource name (AlphaEvolveExperiment) of the Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/alphaEvolveExperiments/{alpha_evolve_experiment}`",
                                  "type": "string",
                                  "location": "path"
                                }
                              },
                              "request": {
[...]
