{
  "endpoints": [
    {
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    },
    {
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "in"
    },
    {
      "endpointUrl": "https://discoveryengine.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "location": "ca",
      "endpointUrl": "https://discoveryengine.ca.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "discoveryVersion": "v1",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "canonicalName": "Discovery Engine",
  "title": "Discovery Engine API",
  "version_module": true,
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservation": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservation",
      "properties": {
        "searchResults": {
          "type": "array",
          "description": "Search results observed by the search action, it can be snippets info or chunk info, depending on the citation type set by the user.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResult"
          }
        }
      },
      "description": "Observation."
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryBlobAttachmentBlob": {
      "properties": {
        "data": {
          "type": "string",
          "description": "Output only. Raw bytes.",
          "format": "byte",
          "readOnly": true
        },
        "mimeType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The media type (MIME type) of the generated data."
        }
      },
      "type": "object",
      "description": "Stores type and data of the blob.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryBlobAttachmentBlob"
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig": {
      "properties": {
        "nlConfigId": {
          "description": "Optional. AlloyDb AI NL config id, i.e. the value that was used for calling `SELECT alloydb_ai_nl.g_create_configuration(...)`. Can be empty.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration for AlloyDB AI Natural Language.",
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus": {
      "id": "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus",
      "description": "Per-model Agent Search TPM subscription status. One entry per active `core_subscription.agent_search_token_subscriptions[*]` entry in the customer-provided config; populated by UpdateProject and GetProject. The lifecycle scalars on this message (`start_time`, `terminate_time`, `update_type`, `tpm_threshold_next_update_time`) are per (project, model_version) — siblings of the whole-relationship `start_time` / `terminate_time` / `update_type` on the enclosing ConfigurableBillingStatus, but scoped to this specific Agent Search TPM subscription instead of to the overall customer-configurable- pricing relationship. This per-instance granularity is intentional: the underlying SubV3 storage is per-(project, model_version), so each model has its own activation, termination, and deferred-update clock; surfacing that on the response gives customers the granularity they need to manage per-model commitments independently. QPM / IndexingCore differ — their storage is one row per (project, location), so their lifecycle is represented only by the whole- relationship scalars on ConfigurableBillingStatus.",
      "properties": {
        "effectiveTpmThreshold": {
          "format": "int64",
          "description": "Output only. The currently effective TPM threshold. Reflects scale-up immediately and scale-down at the next billing cycle, matching `effective_search_qpm_threshold` semantics.",
          "readOnly": true,
          "type": "string"
        },
        "modelVersion": {
          "description": "Output only. The Gemini model version this status corresponds to. Matches CoreSubscription.AgentSearchTokenSubscription.model_version (a stable Gemini model version from the Gemini Enterprise Agent Platform model-versions registry; see https://docs.cloud.google.com/gemini-enterprise-agent-platform/models/model-versions#gemini-models).",
          "type": "string",
          "readOnly": true
        },
        "tpmThresholdNextUpdateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The earliest next update time for the TPM subscription threshold for this (project, model_version). Populated only after a successful update.",
          "format": "google-datetime"
        },
        "terminateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. If set, the scheduled effective time at which this (project, model_version) Agent Search TPM subscription will terminate. Populated when the customer removes this entry from `core_subscription.agent_search_token_subscriptions[*]`. Does NOT move the whole-relationship `terminate_time` on the enclosing ConfigurableBillingStatus, which is populated only when the entire customer-configurable-pricing relationship is being torn down."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When this (project, model_version) Agent Search TPM subscription was first activated. Set once on first activation of this model version and never moved by subsequent threshold updates; on termination + re-activation a new value is recorded. Does NOT move the whole-relationship `start_time` on the enclosing ConfigurableBillingStatus, which continues to represent the first activation of the overall customer-configurable-pricing relationship.",
          "readOnly": true
        },
        "updateType": {
          "readOnly": true,
          "description": "Output only. The type of the most recent update to this (project, model_version) subscription, as performed by the most recent UpdateProject call. `UPDATE_TYPE_UNSPECIFIED` indicates this model_version was not touched by the most recent UpdateProject (its `effective_tpm_threshold` reflects an earlier update). The whole-relationship `update_type` on the enclosing ConfigurableBillingStatus continues to summarize the direction of the most recent update across all surfaces in the project (QPM, IndexingCore, and Agent Search TPM together).",
          "type": "string",
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "SCALE_UP",
            "SCALE_DOWN"
          ],
          "enumDescriptions": [
            "Unspecified update type.",
            "Configurable billing was created/enabled.",
            "Configurable billing was deleted/disabled.",
            "Subscription was scaled up (thresholds increased).",
            "Subscription was scaled down (thresholds decreased)."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfig": {
      "description": "Configuration message for the Knowledge Graph.",
      "id": "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfig",
      "properties": {
        "cloudKnowledgeGraphTypes": {
          "description": "Specify entity types to support.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableCloudKnowledgeGraph": {
          "description": "Whether to enable the Cloud Knowledge Graph for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "featureConfig": {
          "description": "Optional. Feature config for the Knowledge Graph.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfigFeatureConfig"
        },
        "privateKnowledgeGraphTypes": {
          "description": "Specify entity types to support.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enablePrivateKnowledgeGraph": {
          "type": "boolean",
          "description": "Whether to enable the Private Knowledge Graph for the engine. Defaults to false if not specified."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigRunSettings": {
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigRunSettings",
      "type": "object",
      "description": "Run settings for the experiment.",
      "properties": {
        "concurrency": {
          "description": "Required. Maximum number of programs that can be generated in parallel. Must be positive.",
          "format": "int32",
          "type": "integer"
        },
        "maxDuration": {
          "description": "Optional. Maximum duration of the experiment. If unset, defaults to 24 hours.",
          "format": "google-duration",
          "type": "string"
        },
        "maxPrograms": {
          "description": "Required. Maximum number of programs to generate during the experiment run. The initial program counts towards this limit. Must be greater than 1.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSession": {
      "properties": {
        "state": {
          "description": "The state of the session.",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "State is unspecified.",
            "The session is currently open."
          ]
        },
        "userPseudoId": {
          "type": "string",
          "description": "A unique identifier for tracking users."
        },
        "name": {
          "description": "Immutable. Fully qualified name `projects/{project}/locations/global/collections/{collection}/engines/{engine}/sessions/*`",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the session finished.",
          "readOnly": true
        },
        "pendingAsyncAssistOperationId": {
          "readOnly": true,
          "description": "Output only. Full resource name of an in-progress AsyncAssist operation for this session, e.g. `projects/*/locations/*/collections/*/engines/*/sessions/*/operations/*`. Set when the operation starts and cleared when it finishes.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the session started."
        },
        "labels": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The labels for the session. Can be set as filter in ListSessionsRequest.",
          "type": "array"
        },
        "displayName": {
          "description": "Optional. The display name of the session. This field is used to identify the session in the UI. By default, the display name is the first turn query text in the session.",
          "type": "string"
        },
        "turns": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSessionTurn"
          },
          "type": "array",
          "description": "Turns."
        },
        "isPinned": {
          "type": "boolean",
          "description": "Optional. Whether the session is pinned, pinned session will be displayed on the top of the session list."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSession",
      "type": "object",
      "description": "External session proto definition."
    },
    "GoogleCloudDiscoveryengineV1betaConditionQueryTerm": {
      "description": "Matcher for search request query",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The specific query value to match against Must be lowercase, must be UTF-8. Can have at most 3 space separated terms if full_match is true. Cannot be an empty string. Maximum length of 5000 characters."
        },
        "fullMatch": {
          "description": "Whether the search query needs to exactly match the query term.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaConditionQueryTerm"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpec",
      "description": "Relevance filtering specification.",
      "properties": {
        "keywordSearchThreshold": {
          "description": "Optional. Relevance filtering threshold specification for keyword search.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec"
        },
        "semanticSearchThreshold": {
          "description": "Optional. Relevance filtering threshold specification for semantic search.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAssistantCustomerPolicyModelArmorConfig": {
      "type": "object",
      "description": "Configuration for customer defined Model Armor templates to be used for sanitizing user prompts and assistant responses.",
      "properties": {
        "failureMode": {
          "type": "string",
          "description": "Optional. Defines the failure mode for Model Armor sanitization.",
          "enum": [
            "FAILURE_MODE_UNSPECIFIED",
            "FAIL_OPEN",
            "FAIL_CLOSED"
          ],
          "enumDescriptions": [
            "Unspecified failure mode, default behavior is `FAIL_CLOSED`.",
            "In case of a Model Armor processing failure, the request is allowed to proceed without any changes.",
            "In case of a Model Armor processing failure, the request is rejected."
          ]
        },
        "responseTemplate": {
          "description": "Optional. The resource name of the Model Armor template for sanitizing assistant responses. Format: `projects/{project}/locations/{location}/templates/{template_id}` If not specified, no sanitization will be applied to the assistant response.",
          "type": "string"
        },
        "userPromptTemplate": {
          "description": "Optional. The resource name of the Model Armor template for sanitizing user prompts. Format: `projects/{project}/locations/{location}/templates/{template_id}` If not specified, no sanitization will be applied to the user prompt.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAssistantCustomerPolicyModelArmorConfig"
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfo": {
      "type": "object",
      "properties": {
        "structuredExtractedFilter": {
          "description": "The filters that were extracted from the input query represented in a structured form.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilter"
        },
        "extractedFilters": {
          "description": "The filters that were extracted from the input query.",
          "type": "string"
        },
        "rewrittenQuery": {
          "type": "string",
          "description": "Rewritten input query minus the extracted filters."
        },
        "classifiedIntents": {
          "items": {
            "type": "string"
          },
          "description": "The classified intents from the input query.",
          "type": "array"
        }
      },
      "description": "Information describing what natural language understanding was done on the input query.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfo"
    },
    "GoogleCloudDiscoveryengineV1betaCompleteQueryResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaCompleteQueryResponse",
      "description": "Response message for CompletionService.CompleteQuery method.",
      "properties": {
        "querySuggestions": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCompleteQueryResponseQuerySuggestion"
          },
          "type": "array",
          "description": "Results of the matched query suggestions. The result list is ordered and the first result is a top suggestion."
        },
        "tailMatchTriggered": {
          "description": "True if the returned suggestions are all tail suggestions. For tail matching to be triggered, include_tail_suggestions in the request must be true and there must be no suggestions that match the full query.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantContentBlob": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantContentBlob",
      "type": "object",
      "description": "Inline blob.",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The media type (MIME type) of the generated data."
        },
        "data": {
          "description": "Required. Raw bytes.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.DisableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchMetadata"
    },
    "GoogleApiDistributionBucketOptions": {
      "properties": {
        "exponentialBuckets": {
          "$ref": "GoogleApiDistributionBucketOptionsExponential",
          "description": "The exponential buckets."
        },
        "linearBuckets": {
          "$ref": "GoogleApiDistributionBucketOptionsLinear",
          "description": "The linear bucket."
        },
        "explicitBuckets": {
          "$ref": "GoogleApiDistributionBucketOptionsExplicit",
          "description": "The explicit buckets."
        }
      },
      "type": "object",
      "id": "GoogleApiDistributionBucketOptions",
      "description": "`BucketOptions` describes the bucket boundaries used to create a histogram for the distribution. The buckets can be in a linear sequence, an exponential sequence, or each bucket can be specified explicitly. `BucketOptions` does not include the number of values in each bucket. A bucket has an inclusive lower bound and exclusive upper bound for the values that are counted for that bucket. The upper bound of a bucket must be strictly greater than the lower bound. The sequence of N buckets for a distribution consists of an underflow bucket (number 0), zero or more finite buckets (number 1 through N - 2) and an overflow bucket (number N - 1). The buckets are contiguous: the lower bound of bucket i (i > 0) is the same as the upper bound of bucket i - 1. The buckets span the whole range of finite values: lower bound of the underflow bucket is -infinity and the upper bound of the overflow bucket is +infinity. The finite buckets are so-called because both bounds are finite."
    },
    "GoogleCloudDiscoveryengineV1AssistantCustomerPolicyBannedPhrase": {
      "properties": {
        "ignoreDiacritics": {
          "description": "Optional. If true, diacritical marks (e.g., accents, umlauts) are ignored when matching banned phrases. For example, \"cafe\" would match \"café\".",
          "type": "boolean"
        },
        "matchType": {
          "enum": [
            "BANNED_PHRASE_MATCH_TYPE_UNSPECIFIED",
            "SIMPLE_STRING_MATCH",
            "WORD_BOUNDARY_STRING_MATCH"
          ],
          "description": "Optional. Match type for the banned phrase.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to SIMPLE_STRING_MATCH.",
            "The banned phrase matches if it is found anywhere in the text as an exact substring.",
            "Banned phrase only matches if the pattern found in the text is surrounded by word delimiters. The phrase itself may still contain word delimiters."
          ]
        },
        "phrase": {
          "type": "string",
          "description": "Required. The raw string content to be banned."
        }
      },
      "description": "Definition of a customer-defined banned phrase. A banned phrase is not allowed to appear in the user query or the LLM response, or else the answer will be refused.",
      "id": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicyBannedPhrase",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfig": {
      "properties": {
        "alloyDbConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigAlloyDbConfig",
          "description": "AlloyDB config. If set, this DataStore is connected to AlloyDB."
        },
        "thirdPartyOauthConfig": {
          "description": "Third Party OAuth config. If set, this DataStore is connected to a third party application.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigThirdPartyOauthConfig"
        },
        "notebooklmConfig": {
          "description": "NotebookLM config. If set, this DataStore is connected to NotebookLM Enterprise.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigNotebooklmConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfig",
      "description": "Stores information for federated search."
    },
    "GoogleCloudDiscoveryengineV1betaEmbeddingConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaEmbeddingConfig",
      "description": "Defines embedding config, used for bring your own embeddings feature.",
      "type": "object",
      "properties": {
        "fieldPath": {
          "description": "Full field path in the schema mapped as embedding field.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaProvisionProjectMetadata": {
      "type": "object",
      "description": "Metadata associated with a project provision operation.",
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1betaProvisionProjectMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaImportDocumentsRequestInlineSource": {
      "properties": {
        "documents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
          },
          "type": "array",
          "description": "Required. A list of documents to update/create. Each document must have a valid Document.id. Recommended max of 100 items."
        }
      },
      "type": "object",
      "description": "The inline source for the input config for ImportDocuments method.",
      "id": "GoogleCloudDiscoveryengineV1betaImportDocumentsRequestInlineSource"
    },
    "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus": {
      "description": "Per-model Agent Search TPM subscription status. One entry per active `core_subscription.agent_search_token_subscriptions[*]` entry in the customer-provided config; populated by UpdateProject and GetProject. The lifecycle scalars on this message (`start_time`, `terminate_time`, `update_type`, `tpm_threshold_next_update_time`) are per (project, model_version) — siblings of the whole-relationship `start_time` / `terminate_time` / `update_type` on the enclosing ConfigurableBillingStatus, but scoped to this specific Agent Search TPM subscription instead of to the overall customer-configurable- pricing relationship. This per-instance granularity is intentional: the underlying SubV3 storage is per-(project, model_version), so each model has its own activation, termination, and deferred-update clock; surfacing that on the response gives customers the granularity they need to manage per-model commitments independently. QPM / IndexingCore differ — their storage is one row per (project, location), so their lifecycle is represented only by the whole- relationship scalars on ConfigurableBillingStatus.",
      "id": "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Output only. When this (project, model_version) Agent Search TPM subscription was first activated. Set once on first activation of this model version and never moved by subsequent threshold updates; on termination + re-activation a new value is recorded. Does NOT move the whole-relationship `start_time` on the enclosing ConfigurableBillingStatus, which continues to represent the first activation of the overall customer-configurable-pricing relationship.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateType": {
          "enumDescriptions": [
            "Unspecified update type.",
            "Configurable billing was created/enabled.",
            "Configurable billing was deleted/disabled.",
            "Subscription was scaled up (thresholds increased).",
            "Subscription was scaled down (thresholds decreased)."
          ],
          "description": "Output only. The type of the most recent update to this (project, model_version) subscription, as performed by the most recent UpdateProject call. `UPDATE_TYPE_UNSPECIFIED` indicates this model_version was not touched by the most recent UpdateProject (its `effective_tpm_threshold` reflects an earlier update). The whole-relationship `update_type` on the enclosing ConfigurableBillingStatus continues to summarize the direction of the most recent update across all surfaces in the project (QPM, IndexingCore, and Agent Search TPM together).",
          "readOnly": true,
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "SCALE_UP",
            "SCALE_DOWN"
          ],
          "type": "string"
        },
        "terminateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. If set, the scheduled effective time at which this (project, model_version) Agent Search TPM subscription will terminate. Populated when the customer removes this entry from `core_subscription.agent_search_token_subscriptions[*]`. Does NOT move the whole-relationship `terminate_time` on the enclosing ConfigurableBillingStatus, which is populated only when the entire customer-configurable-pricing relationship is being torn down.",
          "readOnly": true
        },
        "effectiveTpmThreshold": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The currently effective TPM threshold. Reflects scale-up immediately and scale-down at the next billing cycle, matching `effective_search_qpm_threshold` semantics."
        },
        "modelVersion": {
          "readOnly": true,
          "description": "Output only. The Gemini model version this status corresponds to. Matches CoreSubscription.AgentSearchTokenSubscription.model_version (a stable Gemini model version from the Gemini Enterprise Agent Platform model-versions registry; see https://docs.cloud.google.com/gemini-enterprise-agent-platform/models/model-versions#gemini-models).",
          "type": "string"
        },
        "tpmThresholdNextUpdateTime": {
          "description": "Output only. The earliest next update time for the TPM subscription threshold for this (project, model_version). Populated only after a successful update.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceScoreSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceScoreSpec",
      "properties": {
        "returnRelevanceScore": {
          "description": "Optional. Whether to return the relevance score for search results. The higher the score, the more relevant the document is to the query.",
          "type": "boolean"
        }
      },
      "description": "The specification for returning the document relevance score.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDeleteIdentityMappingStoreMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaDeleteIdentityMappingStoreMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the IdentityMappingStoreService.DeleteIdentityMappingStore operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerReferenceUnstructuredDocumentInfoChunkContent": {
      "description": "Chunk content.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerReferenceUnstructuredDocumentInfoChunkContent",
      "properties": {
        "pageIdentifier": {
          "type": "string",
          "description": "Page identifier."
        },
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        },
        "relevanceScore": {
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation.",
          "format": "float",
          "type": "number"
        },
        "blobAttachmentIndexes": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Stores indexes of blobattachments linked to this chunk.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigResourceAccessControlConfig": {
      "type": "object",
      "properties": {
        "dataStoreAccessControlEnabled": {
          "type": "boolean",
          "description": "Optional. If `true`, the data stores and data connectors shown to Gemini Enterprise users are filtered to those the user has the required resource-level `.get` IAM permission on."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigResourceAccessControlConfig",
      "description": "Controls resource-level access control for Gemini Enterprise users."
    },
    "GoogleCloudDiscoveryengineV1alphaAgentGatewaySettingAgentGatewayReference": {
      "properties": {
        "name": {
          "description": "Required. Immutable. The resource name of the agent gateway. Expected format: `projects/{project_number}/locations/{location}/agentGateways/{agent_gateway}`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAgentGatewaySettingAgentGatewayReference",
      "description": "Reference to an Agent Gateway resource.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportUserEventsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaImportUserEventsMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the Import operation. This is returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "failureCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that encountered errors while processing."
        },
        "successCount": {
          "description": "Count of entries that were processed successfully.",
          "format": "int64",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Operation last update time. If the operation is done, this is also the finish time.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the EstimateDataSize operation. This is returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1alphaCreateSchemaMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaCreateSchemaMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Metadata for Create Schema LRO.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineSimilarDocumentsEngineConfig": {
      "type": "object",
      "properties": {},
      "description": "Additional config specs for a `similar-items` engine.",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineSimilarDocumentsEngineConfig"
    },
    "GoogleCloudDiscoveryengineV1betaUserInfo": {
      "id": "GoogleCloudDiscoveryengineV1betaUserInfo",
      "properties": {
        "timeZone": {
          "description": "Optional. IANA time zone, e.g. Europe/Budapest.",
          "type": "string"
        },
        "preciseLocation": {
          "description": "Optional. Input only. Precise location of the user. It is used in Custom Ranking to calculate the distance between the user and the relevant documents.",
          "$ref": "GoogleCloudDiscoveryengineV1betaUserInfoPreciseLocation"
        },
        "userId": {
          "type": "string",
          "description": "Highly recommended for logged-in users. Unique identifier for logged-in user, such as a user name. Don't set for anonymous users. Always use a hashed value for this ID. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. Represents an opaque ID to the Search API. The Search API doesn't interpret the value in any way. This field is used to associate events with a user across sessions if the events are being uploaded."
        },
        "userAgent": {
          "description": "User agent as included in the HTTP header. The field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. This should not be set when using the client side event reporting with GTM or JavaScript tag in UserEventService.CollectUserEvent or if UserEvent.direct_user_request is set.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information of an end user."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswer": {
      "type": "object",
      "properties": {
        "references": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerReference"
          },
          "type": "array",
          "description": "References."
        },
        "completeTime": {
          "description": "Output only. Answer completed timestamp.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "safetyRatings": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSafetyRating"
          },
          "description": "Optional. Safety ratings.",
          "type": "array"
        },
        "groundingScore": {
          "format": "double",
          "type": "number",
          "description": "A score in the range of [0, 1] describing how grounded the answer is by the reference chunks."
        },
        "citations": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerCitation"
          },
          "type": "array",
          "description": "Citations."
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStep"
          },
          "description": "Answer generation steps."
        },
        "answerText": {
          "description": "The textual answer.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Fully qualified name `projects/{project}/locations/global/collections/{collection}/engines/{engine}/sessions/*/answers/*`"
        },
        "groundingSupports": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerGroundingSupport"
          },
          "description": "Optional. Grounding supports."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Answer generation is currently in progress.",
            "Answer generation currently failed.",
            "Answer generation has succeeded.",
            "Answer generation is currently in progress."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED",
            "STREAMING"
          ],
          "description": "The state of the answer generation."
        },
        "queryUnderstandingInfo": {
          "description": "Query understanding information.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfo"
        },
        "relatedQuestions": {
          "description": "Suggested related questions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Answer creation timestamp.",
          "readOnly": true,
          "type": "string"
        },
        "blobAttachments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachment"
          },
          "description": "Output only. List of blob attachments in the answer.",
          "readOnly": true
        },
        "answerSkippedReasons": {
          "description": "Additional answer-skipped reasons. This provides the reason for ignored cases. If nothing is skipped, this field is not set.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. The answer skipped reason is not specified.",
              "The adversarial query ignored case.",
              "The non-answer seeking query ignored case Google skips the answer if the query is chit chat.",
              "The out-of-domain query ignored case. Google skips the answer if there are no high-relevance search results.",
              "The potential policy violation case. Google skips the answer if there is a potential policy violation detected. This includes content that may be violent or toxic.",
              "The no relevant content case. Google skips the answer if there is no relevant content in the retrieved search results.",
              "The jail-breaking query ignored case. For example, \"Reply in the tone of a competing company's CEO\". Google skips the answer if the query is classified as a jail-breaking query.",
              "The customer policy violation case. Google skips the summary if there is a customer policy violation detected. The policy is defined by the customer.",
              "The non-answer seeking query ignored case. Google skips the answer if the query doesn't have clear intent.",
              "The low-grounded answer case. Google skips the answer if a well grounded answer was unable to be generated.",
              "The user defined query classification ignored case. Google skips the answer if the query is classified as a user defined query classification.",
              "The unhelpful answer case. Google skips the answer if the answer is not helpful. This can be due to a variety of factors, including but not limited to: the query is not answerable, the answer is not relevant to the query, or the answer is not well-formatted."
            ],
            "type": "string",
            "enum": [
              "ANSWER_SKIPPED_REASON_UNSPECIFIED",
              "ADVERSARIAL_QUERY_IGNORED",
              "NON_ANSWER_SEEKING_QUERY_IGNORED",
              "OUT_OF_DOMAIN_QUERY_IGNORED",
              "POTENTIAL_POLICY_VIOLATION",
              "NO_RELEVANT_CONTENT",
              "JAIL_BREAKING_QUERY_IGNORED",
              "CUSTOMER_POLICY_VIOLATION",
              "NON_ANSWER_SEEKING_QUERY_IGNORED_V2",
              "LOW_GROUNDED_ANSWER",
              "USER_DEFINED_CLASSIFICATION_QUERY_IGNORED",
              "UNHELPFUL_ANSWER"
            ]
          }
        }
      },
      "description": "Defines an answer.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswer"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestDataStoreSpec": {
      "description": "A struct to define data stores to filter on in a search call and configurations for those data stores. Otherwise, an `INVALID_ARGUMENT` error is returned.",
      "properties": {
        "numResults": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of results to retrieve from this data store. If not specified, it will use the SearchRequest.num_results_per_data_store if provided, otherwise there is no limit. If both this field and SearchRequest.num_results_per_data_store are specified, this field will be used."
        },
        "customSearchOperators": {
          "description": "Optional. Custom search operators which if specified will be used to filter results from workspace data stores. For more information on custom search operators, see [SearchOperators](https://support.google.com/cloudsearch/answer/6172299).",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter specification to filter documents in the data store specified by data_store field. For more information on filtering, see [Filtering](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)"
        },
        "dataStore": {
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. The path must include the project number, project id is not supported for this field.",
          "type": "string"
        },
        "boostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpec",
          "description": "Optional. Boost specification to boost certain documents. For more information on boosting, see [Boosting](https://cloud.google.com/generative-ai-app-builder/docs/boost-search-results)"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestDataStoreSpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DataConnector": {
      "description": "Manages the connection to external data sources for all data stores grouped under a Collection. It's a singleton resource of Collection. The initialization is only supported through DataConnectorService.SetUpDataConnector method, which will create a new Collection and initialize its DataConnector.",
      "id": "GoogleCloudDiscoveryengineV1DataConnector",
      "type": "object",
      "properties": {
        "jsonParams": {
          "type": "string",
          "description": "Required data connector parameters in json string format."
        },
        "latestPauseTime": {
          "description": "Output only. The most recent timestamp when this DataConnector was paused, affecting all functionalities such as data synchronization. Pausing a connector has the following effects: - All functionalities, including data synchronization, are halted. - Any ongoing data synchronization job will be canceled. - No future data synchronization runs will be scheduled nor can be triggered.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "connectorSourceId": {
          "type": "string",
          "description": "Optional. If set, this value instead of `data_source` is used to fetch the corresponding connector source."
        },
        "connectorModes": {
          "description": "Optional. The modes enabled for this connector. Default state is CONNECTOR_MODE_UNSPECIFIED.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Connector mode unspecified.",
              "Connector utilized for data ingestion.",
              "Connector utilized for actions.",
              "Connector utilized for federated search.",
              "Connector utilized for End User Authentication.",
              "Hybrid connector utilized for federated search and End User Authentication."
            ],
            "enum": [
              "CONNECTOR_MODE_UNSPECIFIED",
              "DATA_INGESTION",
              "ACTIONS",
              "FEDERATED",
              "EUA",
              "FEDERATED_AND_EUA"
            ]
          }
        },
        "dynamicTools": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DynamicTool"
          },
          "description": "Output only. The dynamic tools fetched for this connector.",
          "readOnly": true,
          "type": "array"
        },
        "kmsKeyName": {
          "description": "Input only. The KMS key to be used to protect the DataStores managed by this connector. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the DataStores created by this connector will be protected by the KMS key.",
          "type": "string"
        },
        "removeParamKeys": {
          "type": "array",
          "description": "Optional. Specifies keys to be removed from the 'params' field. This is only active when 'params' is included in the 'update_mask' in an UpdateDataConnectorRequest. Deletion takes precedence if a key is both in 'remove_param_keys' and present in the 'params' field of the request.",
          "items": {
            "type": "string"
          }
        },
        "oauthStaticIpAddresses": {
          "readOnly": true,
          "description": "Output only. The static IP addresses used by this connector for OAuth APIs (e.g. end user authentication). These are surfaced separately from `static_ip_addresses` so that customers can apply granular firewall settings for OAuth endpoints. Only populated for connectors that have static IP enabled and are used for actions and/or federated search.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "alertPolicyConfigs": {
          "description": "Optional. The connector level alert config.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AlertPolicyConfig"
          }
        },
        "createEuaSaas": {
          "type": "boolean",
          "description": "Optional. Whether the END USER AUTHENTICATION connector is created in SaaS."
        },
        "bapConfig": {
          "description": "Optional. The configuration for establishing a BAP connection.",
          "$ref": "GoogleCloudDiscoveryengineV1BAPConfig"
        },
        "aclEnabled": {
          "description": "Optional. Whether the connector will be created with an ACL config. Currently this field only affects Cloud Storage and BigQuery connectors.",
          "type": "boolean"
        },
        "vpcscEnabled": {
          "readOnly": true,
          "description": "Output only. Whether the connector is created with VPC-SC enabled.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Optional. User-facing metadata for the connector. Populated from the connector's generated metadata / registry `ConnectorSource`.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorConnectorMetadata"
        },
        "autoRunDisabled": {
          "description": "Optional. Indicates whether the connector is disabled for auto run. It can be used to pause periodical and real time sync. Update: with the introduction of incremental_sync_disabled, auto_run_disabled is used to pause/disable only full syncs",
          "type": "boolean"
        },
        "endUserConfig": {
          "description": "Optional. Any params and credentials used specifically for EUA connectors.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorEndUserConfig"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The full resource name of the Data Connector. Format: `projects/*/locations/*/collections/*/dataConnector`."
        },
        "nextSyncTime": {
          "$ref": "GoogleTypeDateTime",
          "description": "Defines the scheduled time for the next data synchronization. This field requires hour , minute, and time_zone from the [IANA Time Zone Database](https://www.iana.org/time-zones). This is utilized when the data connector has a refresh interval greater than 1 day. When the hours or minutes are not specified, we will assume a sync time of 0:00. The user must provide a time zone to avoid ambiguity."
        },
        "identityScheduleConfig": {
          "description": "The configuration for the identity data synchronization runs. This contains the refresh interval to sync the Access Control List information for the documents ingested by this connector.",
          "$ref": "GoogleCloudDiscoveryengineV1IdentityScheduleConfig"
        },
        "actionState": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "WARNING",
            "INITIALIZATION_FAILED",
            "UPDATING"
          ],
          "description": "Output only. State of the action connector. This reflects whether the action connector is initializing, active or has encountered errors.",
          "enumDescriptions": [
            "Default value.",
            "The connector is being set up.",
            "The connector is successfully set up and awaiting next sync run.",
            "The connector is in error. The error details can be found in DataConnector.errors. If the error is unfixable, the DataConnector can be deleted by CollectionService.DeleteCollection API.",
            "The connector is actively syncing records from the data source.",
            "The connector has completed a sync run, but encountered non-fatal errors.",
            "Connector initialization failed. Potential causes include runtime errors or issues in the asynchronous pipeline, preventing the request from reaching downstream services (except for some connector types).",
            "Connector is in the process of an update."
          ]
        },
        "updateTime": {
          "description": "Output only. Timestamp the DataConnector was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "params": {
          "description": "Required data connector parameters in structured json format.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "errors": {
          "description": "Output only. The errors from initialization or from the latest connector run.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "readOnly": true,
          "type": "array"
        },
        "connectorType": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "CONNECTOR_TYPE_UNSPECIFIED",
            "THIRD_PARTY",
            "GCP_FHIR",
            "BIG_QUERY",
            "GCS",
            "GOOGLE_MAIL",
            "GOOGLE_CALENDAR",
            "GOOGLE_DRIVE",
            "NATIVE_CLOUD_IDENTITY",
            "THIRD_PARTY_FEDERATED",
            "THIRD_PARTY_EUA",
            "GCNV",
            "GOOGLE_CHAT",
            "GOOGLE_SITES",
            "REMOTE_MCP",
            "GOOGLE_WORKSPACE"
          ],
          "enumDescriptions": [
            "Default value.",
            "Third party connector to connector to third party application.",
            "Data connector connects between FHIR store and VAIS datastore.",
            "Big query connector.",
            "Google Cloud Storage connector.",
            "Gmail connector.",
            "Google Calendar connector.",
            "Google Drive connector.",
            "Native Cloud Identity connector for people search powered by People API.",
            "Federated connector, it is a third party connector that doesn't ingestion data, and search is powered by third party application's API.",
            "Connector utilized for End User Authentication features.",
            "Google Cloud NetApp Volumes connector.",
            "Google Chat connector.",
            "Google Sites connector.",
            "Remote MCP based connector.",
            "Google Workspace connector."
          ],
          "description": "Output only. The type of connector. Each source can only map to one type. For example, salesforce, confluence and jira have THIRD_PARTY connector type. It is not mutable once set by system."
        },
        "createTime": {
          "description": "Output only. Timestamp the DataConnector was created at.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DataConnectorSourceEntity"
          },
          "description": "List of entities from the connected data source to ingest.",
          "type": "array"
        },
        "incrementalRefreshInterval": {
          "description": "Optional. The refresh interval specifically for incremental data syncs. If unset, incremental syncs will use the default from env, set to 3hrs. The minimum is 30 minutes and maximum is 7 days. Applicable to only 3P connectors. When the refresh interval is set to the same value as the incremental refresh interval, incremental sync will be disabled.",
          "format": "google-duration",
          "type": "string"
        },
        "realtimeSyncConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfig",
          "description": "Optional. The configuration for realtime sync."
        },
        "actionConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ActionConfig",
          "description": "Optional. Action configurations to make the connector support actions."
        },
        "federatedConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorFederatedConfig",
          "description": "Optional. Any params and credentials used specifically for hybrid connectors supporting FEDERATED mode. This field should only be set if the connector is a hybrid connector and we want to enable FEDERATED mode."
        },
        "destinationConfigs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DestinationConfig"
          },
          "description": "Optional. Any target destinations used to connect to third-party services.",
          "type": "array"
        },
        "hybridIngestionDisabled": {
          "type": "boolean",
          "description": "Optional. If the connector is a hybrid connector, determines whether ingestion is enabled and appropriate resources are provisioned during connector creation. If the connector is not a hybrid connector, this field is ignored."
        },
        "dataSource": {
          "type": "string",
          "description": "Required. The identifier for the data source. For the full, up-to-date list of supported connectors and their values, see [Connect a third-party data source](https://docs.cloud.google.com/gemini/enterprise/docs/connectors/connect-third-party-data-source#sources-by-launch-stage)."
        },
        "refreshInterval": {
          "type": "string",
          "description": "Required. The refresh interval for data sync. If duration is set to 0, the data will be synced in real time. The streaming feature is not supported yet. The minimum is 30 minutes and maximum is 7 days. When the refresh interval is set to the same value as the incremental refresh interval, incremental sync will be disabled.",
          "format": "google-duration"
        },
        "tag": {
          "type": "string",
          "description": "Optional. Immutable. User-facing, version-independent label for this connector. May be shared by multiple connectors under the same (project, location, collection, data_source); tag-based lookup returns the one with the greatest create_time. Optional at Create time. Agent Designer resolves connectors via (data_source, tag) when set, falling back to the legacy resource-name lookup when unset, so connectors created before the tag-write launch continue to work without a backfill."
        },
        "state": {
          "description": "Output only. State of the connector.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "The connector is being set up.",
            "The connector is successfully set up and awaiting next sync run.",
            "The connector is in error. The error details can be found in DataConnector.errors. If the error is unfixable, the DataConnector can be deleted by CollectionService.DeleteCollection API.",
            "The connector is actively syncing records from the data source.",
            "The connector has completed a sync run, but encountered non-fatal errors.",
            "Connector initialization failed. Potential causes include runtime errors or issues in the asynchronous pipeline, preventing the request from reaching downstream services (except for some connector types).",
            "Connector is in the process of an update."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "WARNING",
            "INITIALIZATION_FAILED",
            "UPDATING"
          ]
        },
        "syncMode": {
          "type": "string",
          "enumDescriptions": [
            "The connector will sync data periodically based on the refresh_interval. Use it with auto_run_disabled to pause the periodic sync, or indicate a one-time sync.",
            "The data will be synced in real time.",
            "Connector that doesn't ingest data will have this value"
          ],
          "enum": [
            "PERIODIC",
            "STREAMING",
            "UNSPECIFIED"
          ],
          "description": "The data synchronization mode supported by the data connector."
        },
        "identityRefreshInterval": {
          "type": "string",
          "description": "The refresh interval to sync the Access Control List information for the documents ingested by this connector. If not set, the access control list will be refreshed at the default interval of 30 minutes. The identity refresh interval can be at least 30 minutes and at most 7 days.",
          "format": "google-duration",
          "deprecated": true
        },
        "privateConnectivityProjectId": {
          "type": "string",
          "description": "Output only. The tenant project ID associated with private connectivity connectors. This project must be allowlisted by in order for the connector to function.",
          "readOnly": true
        },
        "cliConfig": {
          "description": "Optional. The configuration for establishing a CLI connection.",
          "$ref": "GoogleCloudDiscoveryengineV1CliConfig"
        },
        "lastSyncTime": {
          "readOnly": true,
          "description": "Output only. For periodic connectors only, the last time a data sync was completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "blockingReasons": {
          "type": "array",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "Default value.",
              "Connector requires customer to allowlist static IPs.",
              "Connector requires customer to allowlist our project in their service attachment.",
              "Connector requires customer to allowlist service account in their project."
            ],
            "enum": [
              "BLOCKING_REASON_UNSPECIFIED",
              "ALLOWLIST_STATIC_IP",
              "ALLOWLIST_IN_SERVICE_ATTACHMENT",
              "ALLOWLIST_SERVICE_ACCOUNT"
            ],
            "type": "string"
          },
          "description": "Output only. User actions that must be completed before the connector can start syncing data."
        },
        "realtimeState": {
          "enumDescriptions": [
            "Default value.",
            "The connector is being set up.",
            "The connector is successfully set up and awaiting next sync run.",
            "The connector is in error. The error details can be found in DataConnector.errors. If the error is unfixable, the DataConnector can be deleted by CollectionService.DeleteCollection API.",
            "The connector is actively syncing records from the data source.",
            "The connector has completed a sync run, but encountered non-fatal errors.",
            "Connector initialization failed. Potential causes include runtime errors or issues in the asynchronous pipeline, preventing the request from reaching downstream services (except for some connector types).",
            "Connector is in the process of an update."
          ],
          "description": "Output only. real-time sync state",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "WARNING",
            "INITIALIZATION_FAILED",
            "UPDATING"
          ],
          "readOnly": true,
          "type": "string"
        },
        "dataProtectionPolicy": {
          "description": "Optional. Specifies the data protection policy for the connector.",
          "$ref": "GoogleCloudDiscoveryengineV1DataProtectionPolicy"
        },
        "incrementalSyncDisabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether incremental syncs are paused for this connector. This is independent of auto_run_disabled. Applicable to only 3P connectors. When the refresh interval is set to the same value as the incremental refresh interval, incremental sync will be disabled, i.e. set to true."
        },
        "egressFqdns": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of FQDNs of the data connector can egress to. This includes both FQDN derived from the customer provided instance URL and default per connector type FQDNs."
        },
        "staticIpEnabled": {
          "description": "Optional. Whether customer has enabled static IP addresses for this connector.",
          "type": "boolean"
        },
        "staticIpAddresses": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The static IP addresses used by this connector."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaListCmekConfigsResponse": {
      "description": "Response message for CmekConfigService.ListCmekConfigs method.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaListCmekConfigsResponse",
      "properties": {
        "cmekConfigs": {
          "description": "All the customer's CmekConfigs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCmekConfig"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1UserLicense": {
      "description": "User License information assigned by the admin.",
      "id": "GoogleCloudDiscoveryengineV1UserLicense",
      "properties": {
        "userPrincipal": {
          "type": "string",
          "description": "Required. Immutable. The user principal of the User, could be email address or other prinical identifier. This field is immutable. Admin assign licenses based on the user principal."
        },
        "licenseConfig": {
          "description": "Optional. The full resource name of the Subscription(LicenseConfig) assigned to the user.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. User created timestamp."
        },
        "licenseAssignmentState": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "License assigned to the user.",
            "No license assigned to the user. Deprecated, translated to NO_LICENSE.",
            "No license assigned to the user.",
            "User attempted to login but no license assigned to the user. This state is only used for no user first time login attempt but cannot get license assigned. Users already logged in but cannot get license assigned will be assigned NO_LICENSE state(License could be unassigned by admin).",
            "User is blocked from assigning a license."
          ],
          "enum": [
            "LICENSE_ASSIGNMENT_STATE_UNSPECIFIED",
            "ASSIGNED",
            "UNASSIGNED",
            "NO_LICENSE",
            "NO_LICENSE_ATTEMPTED_LOGIN",
            "BLOCKED"
          ],
          "description": "Output only. License assignment state of the user. If the user is assigned with a license config, the user login will be assigned with the license; If the user's license assignment state is unassigned or unspecified, no license config will be associated to the user;"
        },
        "userProfile": {
          "description": "Optional. The user profile. We user user full name(First name + Last name) as user profile.",
          "type": "string"
        },
        "lastLoginTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. User last logged in time. If the user has not logged in yet, this field will be empty."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. User update timestamp.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SingleRegionKey": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1SingleRegionKey",
      "properties": {
        "kmsKey": {
          "description": "Required. Single-regional kms key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`.",
          "type": "string"
        }
      },
      "description": "Metadata for single-regional CMEKs."
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateSessionRequest": {
      "type": "object",
      "properties": {
        "session": {
          "description": "Required. The Session to update.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSession"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Indicates which fields in the provided Session to update. The following are NOT supported: * Session.name If not set or empty, all supported fields are updated."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateSessionRequest",
      "description": "Request for UpdateSession method."
    },
    "GoogleCloudDiscoveryengineV1betaAclConfig": {
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "idpConfig": {
          "description": "Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1betaIdpConfig"
        }
      },
      "type": "object",
      "description": "Access Control Configuration.",
      "id": "GoogleCloudDiscoveryengineV1betaAclConfig"
    },
    "GoogleCloudDiscoveryengineV1betaControlBoostAction": {
      "id": "GoogleCloudDiscoveryengineV1betaControlBoostAction",
      "description": "Adjusts order of products in returned list.",
      "properties": {
        "filter": {
          "description": "Required. Specifies which products to apply the boost to. If no filter is provided all products will be boosted (No-op). Syntax documentation: https://cloud.google.com/retail/docs/filter-and-order Maximum length is 5000 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        },
        "dataStore": {
          "description": "Required. Specifies which data store's documents can be boosted by this control. Full data store name e.g. projects/123/locations/global/collections/default_collection/dataStores/default_data_store",
          "type": "string"
        },
        "interpolationBoostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaControlBoostActionInterpolationBoostSpec",
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value."
        },
        "fixedBoost": {
          "format": "float",
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0 (No-op).",
          "type": "number"
        },
        "boost": {
          "format": "float",
          "type": "number",
          "deprecated": true,
          "description": "Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0 (No-op)."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportIdentityMappingsRequest": {
      "type": "object",
      "description": "Request message for IdentityMappingStoreService.ImportIdentityMappings",
      "id": "GoogleCloudDiscoveryengineV1betaImportIdentityMappingsRequest",
      "properties": {
        "inlineSource": {
          "$ref": "GoogleCloudDiscoveryengineV1betaImportIdentityMappingsRequestInlineSource",
          "description": "The inline source to import identity mapping entries from."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDataStore": {
      "description": "DataStore captures global settings and configs at the DataStore level.",
      "type": "object",
      "properties": {
        "identityMappingStore": {
          "type": "string",
          "description": "Immutable. The fully qualified resource name of the associated IdentityMappingStore. This field can only be set for acl_enabled DataStores with `THIRD_PARTY` or `GSUITE` IdP. Format: `projects/{project}/locations/{location}/identityMappingStores/{identity_mapping_store}`."
        },
        "healthcareFhirConfig": {
          "description": "Optional. Configuration for `HEALTHCARE_FHIR` vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaHealthcareFhirConfig"
        },
        "startingSchema": {
          "description": "The start schema to use for this DataStore when provisioning it. If unset, a default vertical specialized schema will be used. This field is only used by CreateDataStore API, and will be ignored if used in other APIs. This field will be omitted from all API responses including CreateDataStore API. To retrieve a schema of a DataStore, use SchemaService.GetSchema API instead. The provided schema will be validated against certain rules on schema. Learn more from [this doc](https://cloud.google.com/generative-ai-app-builder/docs/provide-schema).",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSchema"
        },
        "workspaceConfig": {
          "description": "Config to store data store type configuration for workspace data. This must be set when DataStore.content_config is set as DataStore.ContentConfig.GOOGLE_WORKSPACE.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaWorkspaceConfig"
        },
        "defaultSchemaId": {
          "type": "string",
          "description": "Output only. The id of the default Schema associated to this data store.",
          "readOnly": true
        },
        "languageInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaLanguageInfo",
          "description": "Language info for DataStore."
        },
        "solutionTypes": {
          "type": "array",
          "description": "The solutions that the data store enrolls. Available solutions for each industry_vertical: * `MEDIA`: `SOLUTION_TYPE_RECOMMENDATION` and `SOLUTION_TYPE_SEARCH`. * `SITE_SEARCH`: `SOLUTION_TYPE_SEARCH` is automatically enrolled. Other solutions cannot be enrolled.",
          "items": {
            "type": "string",
            "enum": [
              "SOLUTION_TYPE_UNSPECIFIED",
              "SOLUTION_TYPE_RECOMMENDATION",
              "SOLUTION_TYPE_SEARCH",
              "SOLUTION_TYPE_CHAT",
              "SOLUTION_TYPE_GENERATIVE_CHAT",
              "SOLUTION_TYPE_AI_MODE"
            ],
            "enumDescriptions": [
              "Default value.",
              "Used for Recommendations AI.",
              "Used for Discovery Search.",
              "Used for use cases related to the Generative AI agent.",
              "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
              "Used for AI Mode."
            ]
          }
        },
        "contentConfig": {
          "enum": [
            "CONTENT_CONFIG_UNSPECIFIED",
            "NO_CONTENT",
            "CONTENT_REQUIRED",
            "PUBLIC_WEBSITE",
            "GOOGLE_WORKSPACE"
          ],
          "enumDescriptions": [
            "Default value.",
            "Only contains documents without any Document.content.",
            "Only contains documents with Document.content.",
            "The data store is used for public website search.",
            "The data store is used for workspace search. Details of workspace data store are specified in the WorkspaceConfig."
          ],
          "description": "Immutable. The content config of the data store. If this field is unset, the server behavior defaults to ContentConfig.NO_CONTENT.",
          "type": "string"
        },
        "cmekConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaCmekConfig",
          "description": "Output only. CMEK-related information for the DataStore."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp the DataStore was created at."
        },
        "dataProtectionPolicy": {
          "description": "Optional. Specifies the data protection policy for the data store.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataProtectionPolicy"
        },
        "name": {
          "description": "Immutable. Identifier. The full resource name of the data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "advancedSiteSearchConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAdvancedSiteSearchConfig",
          "description": "Optional. Configuration for advanced site search."
        },
        "iconUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Provides the icon URI of the data store's connector source, if this is a connector-backed data store. Empty for data stores without an associated connector source. In DataStoreService.ListDataStores and DataStoreService.GetDataStore, this is only populated when DataStoreView.DATA_STORE_VIEW_FULL is requested via ListDataStoresRequest.view or GetDataStoreRequest.view respectively."
        },
        "isInfobotFaqDataStore": {
          "description": "Optional. If set, this DataStore is an Infobot FAQ DataStore.",
          "type": "boolean"
        },
        "federatedSearchConfig": {
          "description": "Optional. If set, this DataStore is a federated search DataStore.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfig"
        },
        "servingConfigDataStore": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreServingConfigDataStore",
          "description": "Optional. Stores serving config at DataStore level."
        },
        "idpConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaIdpConfig",
          "description": "Output only. Data store level identity provider config.",
          "readOnly": true
        },
        "industryVertical": {
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA",
            "HEALTHCARE_FHIR"
          ],
          "description": "Immutable. The industry vertical that the data store registers.",
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical.",
            "The healthcare FHIR vertical."
          ],
          "type": "string"
        },
        "configurableBillingApproach": {
          "type": "string",
          "description": "Optional. Configuration for configurable billing approach. See",
          "enum": [
            "CONFIGURABLE_BILLING_APPROACH_UNSPECIFIED",
            "CONFIGURABLE_SUBSCRIPTION_INDEXING_CORE",
            "CONFIGURABLE_CONSUMPTION_EMBEDDING"
          ],
          "enumDescriptions": [
            "Default value. For Spark and non-Spark non-configurable billing approach.",
            "Use the subscription base + overage billing for indexing core for non embedding storage.",
            "Use the consumption pay-as-you-go billing for embedding storage add-on."
          ]
        },
        "billingEstimation": {
          "description": "Output only. Data size estimation for billing.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreBillingEstimation",
          "readOnly": true
        },
        "aclEnabled": {
          "description": "Immutable. Whether data in the DataStore has ACL information. If set to `true`, the source data must have ACL. ACL will be ingested when data is ingested by DocumentService.ImportDocuments methods. When ACL is enabled for the DataStore, Document can't be accessed by calling DocumentService.GetDocument or DocumentService.ListDocuments. Currently ACL is only supported in `GENERIC` industry vertical with non-`PUBLIC_WEBSITE` content config.",
          "type": "boolean"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Input only. The KMS key to be used to protect this DataStore at creation time. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the DataStore will be protected by the KMS key, as indicated in the cmek_config field."
        },
        "displayName": {
          "description": "Required. The data store display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "naturalLanguageQueryUnderstandingConfig": {
          "description": "Optional. Configuration for Natural Language Query Understanding.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaNaturalLanguageQueryUnderstandingConfig"
        },
        "configurableBillingApproachUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when configurable_billing_approach was last updated."
        },
        "documentProcessingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig",
          "description": "Configuration for Document understanding and enrichment."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDataStore"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfo": {
      "description": "Chunk information.",
      "properties": {
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        },
        "documentMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfoDocumentMetadata",
          "description": "Metadata of the document from the current chunk."
        },
        "chunk": {
          "description": "Chunk resource name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfo"
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateCmekConfigMetadata": {
      "description": "Metadata related to the progress of the CmekConfigService.UpdateCmekConfig operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateCmekConfigMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseSummary": {
      "type": "object",
      "properties": {
        "summarySkippedReasons": {
          "items": {
            "enum": [
              "SUMMARY_SKIPPED_REASON_UNSPECIFIED",
              "ADVERSARIAL_QUERY_IGNORED",
              "NON_SUMMARY_SEEKING_QUERY_IGNORED",
              "OUT_OF_DOMAIN_QUERY_IGNORED",
              "POTENTIAL_POLICY_VIOLATION",
              "LLM_ADDON_NOT_ENABLED",
              "NO_RELEVANT_CONTENT",
              "JAIL_BREAKING_QUERY_IGNORED",
              "CUSTOMER_POLICY_VIOLATION",
              "NON_SUMMARY_SEEKING_QUERY_IGNORED_V2",
              "TIME_OUT"
            ],
            "enumDescriptions": [
              "Default value. The summary skipped reason is not specified.",
              "The adversarial query ignored case. Only used when SummarySpec.ignore_adversarial_query is set to `true`.",
              "The non-summary seeking query ignored case. Google skips the summary if the query is chit chat. Only used when SummarySpec.ignore_non_summary_seeking_query is set to `true`.",
              "The out-of-domain query ignored case. Google skips the summary if there are no high-relevance search results. For example, the data store contains facts about company A but the user query is asking questions about company B.",
              "The potential policy violation case. Google skips the summary if there is a potential policy violation detected. This includes content that may be violent or toxic.",
              "The LLM addon not enabled case. Google skips the summary if the LLM addon is not enabled.",
              "The no relevant content case. Google skips the summary if there is no relevant content in the retrieved search results.",
              "The jail-breaking query ignored case. For example, \"Reply in the tone of a competing company's CEO\". Only used when [SearchRequest.ContentSearchSpec.SummarySpec.ignore_jail_breaking_query] is set to `true`.",
              "The customer policy violation case. Google skips the summary if there is a customer policy violation detected. The policy is defined by the customer.",
              "The non-answer seeking query ignored case. Google skips the summary if the query doesn't have clear intent. Only used when [SearchRequest.ContentSearchSpec.SummarySpec.ignore_non_answer_seeking_query] is set to `true`.",
              "The time out case. Google skips the summary if the time out."
            ],
            "type": "string"
          },
          "description": "Additional summary-skipped reasons. This provides the reason for ignored cases. If nothing is skipped, this field is not set.",
          "type": "array"
        },
        "safetyAttributes": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseSummarySafetyAttributes",
          "description": "A collection of Safety Attribute categories and their associated confidence scores."
        },
        "summaryText": {
          "type": "string",
          "description": "The summary content."
        },
        "summaryWithMetadata": {
          "description": "Summary with metadata information.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseSummarySummaryWithMetadata"
        }
      },
      "description": "Summary of the top N search results specified by the summary spec.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseSummary"
    },
    "GoogleCloudDiscoveryengineV1ObservabilityConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ObservabilityConfig",
      "properties": {
        "observabilityEnabled": {
          "type": "boolean",
          "description": "Optional. Enables observability. If `false`, all other flags are ignored."
        },
        "sensitiveLoggingEnabled": {
          "description": "Optional. Enables sensitive logging. Sensitive logging includes customer core content (e.g. prompts, responses). If `false`, will sanitize all sensitive fields.",
          "type": "boolean"
        }
      },
      "description": "Observability config for a resource."
    },
    "GoogleCloudDiscoveryengineV1TargetSite": {
      "description": "A target site for the SiteSearchEngine.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1TargetSite",
      "properties": {
        "siteVerificationInfo": {
          "description": "Output only. Site ownership and validity verification status.",
          "$ref": "GoogleCloudDiscoveryengineV1SiteVerificationInfo",
          "readOnly": true
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ],
          "description": "The type of the target site, e.g., whether the site is to be included or excluded.",
          "enumDescriptions": [
            "This value is unused. In this case, server behavior defaults to Type.INCLUDE.",
            "Include the target site.",
            "Exclude the target site."
          ],
          "type": "string"
        },
        "rootDomainUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Root domain of the provided_uri_pattern."
        },
        "failureReason": {
          "description": "Output only. Failure reason.",
          "$ref": "GoogleCloudDiscoveryengineV1TargetSiteFailureReason",
          "readOnly": true
        },
        "exactMatch": {
          "type": "boolean",
          "description": "Immutable. If set to false, a uri_pattern is generated to include all pages whose address contains the provided_uri_pattern. If set to true, an uri_pattern is generated to try to be an exact match of the provided_uri_pattern or just the specific page if the provided_uri_pattern is a specific one. provided_uri_pattern is always normalized to generate the URI pattern to be used by the search engine."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fully qualified resource name of the target site. `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine/targetSites/{target_site}` The `target_site_id` is system-generated."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The target site's last updated time.",
          "format": "google-datetime",
          "type": "string"
        },
        "indexingStatus": {
          "readOnly": true,
          "enumDescriptions": [
            "Defaults to SUCCEEDED.",
            "The target site is in the update queue and will be picked up by indexing pipeline.",
            "The target site fails to be indexed.",
            "The target site has been indexed.",
            "The previously indexed target site has been marked to be deleted. This is a transitioning state which will resulted in either: 1. target site deleted if unindexing is successful; 2. state reverts to SUCCEEDED if the unindexing fails.",
            "The target site change is pending but cancellable.",
            "The target site change is cancelled."
          ],
          "type": "string",
          "enum": [
            "INDEXING_STATUS_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "DELETING",
            "CANCELLABLE",
            "CANCELLED"
          ],
          "description": "Output only. Indexing status."
        },
        "providedUriPattern": {
          "description": "Required. Input only. The user provided URI pattern from which the `generated_uri_pattern` is generated.",
          "type": "string"
        },
        "generatedUriPattern": {
          "type": "string",
          "description": "Output only. This is system-generated based on the provided_uri_pattern.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCustomAttribute": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCustomAttribute",
      "description": "A custom attribute that is not explicitly modeled in a resource, e.g. UserEvent.",
      "properties": {
        "text": {
          "type": "array",
          "description": "The textual values of this custom attribute. For example, `[\"yellow\", \"green\"]` when the key is \"color\". Empty string is not allowed. Otherwise, an `INVALID_ARGUMENT` error is returned. Exactly one of CustomAttribute.text or CustomAttribute.numbers should be set. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "items": {
            "type": "string"
          }
        },
        "numbers": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          },
          "description": "The numerical values of this custom attribute. For example, `[2.3, 15.4]` when the key is \"lengths_cm\". Exactly one of CustomAttribute.text or CustomAttribute.numbers should be set. Otherwise, an `INVALID_ARGUMENT` error is returned."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1Tenant": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1Tenant",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the tenant, if applicable. For example, the URI of a Jira instance is https://my-jira-instance.atlassian.net, and a Slack tenant does not have a URI."
        },
        "id": {
          "description": "The tenant's instance ID. Examples: Jira (\"8594f221-9797-5f78-1fa4-485e198d7cd0\"), Slack (\"T123456\").",
          "type": "string"
        },
        "displayName": {
          "description": "Optional display name for the tenant, e.g. \"My Slack Team\".",
          "type": "string"
        }
      },
      "description": "Tenant information for a connector source. This includes some of the same information stored in the Credential message, but is limited to only what is needed to provide a list of accessible tenants to the user."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpec": {
      "description": "A facet specification to perform faceted search.",
      "properties": {
        "excludedFilterKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of keys to exclude when faceting. By default, FacetKey.key is not excluded from the filter unless it is listed in this field. Listing a facet key in this field allows its values to appear as facet results, even when they are filtered out of search results. Using this field does not affect what search results are returned. For example, suppose there are 100 documents with the color facet \"Red\" and 200 documents with the color facet \"Blue\". A query containing the filter \"color:ANY(\"Red\")\" and having \"color\" as FacetKey.key would by default return only \"Red\" documents in the search results, and also return \"Red\" with count 100 as the only color facet. Although there are also blue documents available, \"Blue\" would not be shown as an available facet value. If \"color\" is listed in \"excludedFilterKeys\", then the query returns the facet values \"Red\" with count 100 and \"Blue\" with count 200, because the \"color\" key is now excluded from the filter. Because this field doesn't affect search results, the search results are still correctly filtered to return only \"Red\" documents. A maximum of 100 values are allowed. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum facet values that are returned for this facet. If unspecified, defaults to 20. The maximum allowed value is 300. Values above 300 are coerced to 300. For aggregation in healthcare search, when the [FacetKey.key] is \"healthcare_aggregation_key\", the limit will be overridden to 10,000 internally, regardless of the value set here. If this field is negative, an `INVALID_ARGUMENT` is returned."
        },
        "facetKey": {
          "description": "Required. The facet key specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpecFacetKey"
        },
        "enableDynamicPosition": {
          "description": "Enables dynamic position for this facet. If set to true, the position of this facet among all facets in the response is determined automatically. If dynamic facets are enabled, it is ordered together. If set to false, the position of this facet in the response is the same as in the request, and it is ranked before the facets with dynamic position enable and all dynamic facets. For example, you may always want to have rating facet returned in the response, but it's not necessarily to always display the rating facet at the top. In that case, you can set enable_dynamic_position to true so that the position of rating facet in response is determined automatically. Another example, assuming you have the following facets in the request: * \"rating\", enable_dynamic_position = true * \"price\", enable_dynamic_position = false * \"brands\", enable_dynamic_position = false And also you have a dynamic facets enabled, which generates a facet `gender`. Then the final order of the facets in the response can be (\"price\", \"brands\", \"rating\", \"gender\") or (\"price\", \"brands\", \"gender\", \"rating\") depends on how API orders \"gender\" and \"rating\" facets. However, notice that \"price\" and \"brands\" are always ranked at first and second position because their enable_dynamic_position is false.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaProvisionProjectMetadata": {
      "description": "Metadata associated with a project provision operation.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1alphaProvisionProjectMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseFacetFacetValue": {
[...]
