{
  "version": "v1beta",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "protocol": "rest",
  "endpoints": [
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/",
      "location": "us"
    },
    {
      "description": "Regional Endpoint",
      "location": "eu",
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/"
    },
    {
      "location": "in",
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.asia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "europe-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.europe-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://discoveryengine.ca.rep.googleapis.com/",
      "location": "ca",
      "description": "Regional Endpoint"
    }
  ],
  "revision": "20260924",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "canonicalName": "Discovery Engine",
  "name": "discoveryengine",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "id": "discoveryengine:v1beta",
  "servicePath": "",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf. Also view the artifacts you access through NotebookLM Enterprise."
        }
      }
    }
  },
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "schemas": {
    "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigResourceAccessControlConfig": {
      "properties": {
        "dataStoreAccessControlEnabled": {
          "type": "boolean",
          "description": "Optional. If `true`, the data stores and data connectors shown to Gemini Enterprise users are filtered to those the user has the required resource-level `.get` IAM permission on."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigResourceAccessControlConfig",
      "type": "object",
      "description": "Controls resource-level access control for Gemini Enterprise users."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerReferenceStructuredDocumentInfo": {
      "description": "Structured search information.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Output only. The URI of the document.",
          "readOnly": true
        },
        "document": {
          "description": "Document resource name.",
          "type": "string"
        },
        "title": {
          "description": "Output only. The title of the document.",
          "readOnly": true,
          "type": "string"
        },
        "structData": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Structured search data."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerReferenceStructuredDocumentInfo",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequest": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequest",
      "type": "object",
      "description": "Request message for ConversationalSearchService.AnswerQuery method.",
      "properties": {
        "query": {
          "$ref": "GoogleCloudDiscoveryengineV1betaQuery",
          "description": "Required. Current user query."
        },
        "searchSpec": {
          "description": "Search specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpec"
        },
        "userLabels": {
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "groundingSpec": {
          "description": "Optional. Grounding specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestGroundingSpec"
        },
        "queryUnderstandingSpec": {
          "description": "Query understanding specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestQueryUnderstandingSpec"
        },
        "safetySpec": {
          "description": "Model specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpec"
        },
        "relatedQuestionsSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestRelatedQuestionsSpec",
          "description": "Related questions specification."
        },
        "answerGenerationSpec": {
          "description": "Answer generation specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpec"
        },
        "userPseudoId": {
          "type": "string",
          "description": "A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "session": {
          "description": "The session resource name. Not required. When session field is not set, the API is in sessionless mode. We support auto session mode: users can use the wildcard symbol `-` as session ID. A new ID will be automatically generated and assigned.",
          "type": "string"
        },
        "asynchronousMode": {
          "type": "boolean",
          "deprecated": true,
          "description": "Deprecated: This field is deprecated. Streaming Answer API will be supported. Asynchronous mode control. If enabled, the response will be returned with answer/session resource name without final answer. The API users need to do the polling to get the latest status of answer/session by calling ConversationalSearchService.GetAnswer or ConversationalSearchService.GetSession method."
        },
        "endUserSpec": {
          "description": "Optional. End user specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpec"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateTargetSiteMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.UpdateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateTargetSiteMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreServingConfigDataStore": {
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreServingConfigDataStore",
      "description": "Stores information regarding the serving configurations at DataStore level.",
      "type": "object",
      "properties": {
        "disabledForServing": {
          "type": "boolean",
          "description": "Optional. If set true, the DataStore will not be available for serving search requests."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaWorkspaceConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaWorkspaceConfig",
      "properties": {
        "superAdminEmailAddress": {
          "description": "Optional. The super admin email address for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        },
        "dasherCustomerId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Obfuscated Dasher customer ID. Derived by the server from the project's GCP organization at data store creation time; any value supplied in the request payload is ignored."
        },
        "superAdminServiceAccount": {
          "description": "Optional. The super admin service account for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The Google Workspace data source.",
          "enumDescriptions": [
            "Defaults to an unspecified Workspace type.",
            "Workspace Data Store contains Drive data",
            "Workspace Data Store contains Mail data",
            "Workspace Data Store contains Sites data",
            "Workspace Data Store contains Calendar data",
            "Workspace Data Store contains Chat data",
            "Workspace Data Store contains Groups data",
            "Workspace Data Store contains Keep data",
            "Workspace Data Store contains People data",
            "Workspace Data Store contains all Workspace apps data"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DRIVE",
            "GOOGLE_MAIL",
            "GOOGLE_SITES",
            "GOOGLE_CALENDAR",
            "GOOGLE_CHAT",
            "GOOGLE_GROUPS",
            "GOOGLE_KEEP",
            "GOOGLE_PEOPLE",
            "GOOGLE_WORKSPACE"
          ]
        }
      },
      "type": "object",
      "description": "Config to store data store type configuration for workspace data"
    },
    "GoogleCloudDiscoveryengineV1betaAssistantGenerationConfigSystemInstruction": {
      "id": "GoogleCloudDiscoveryengineV1betaAssistantGenerationConfigSystemInstruction",
      "type": "object",
      "description": "System instruction, also known as the prompt preamble for LLM calls.",
      "properties": {
        "additionalSystemInstruction": {
          "type": "string",
          "description": "Optional. Additional system instruction that will be added to the default system instruction."
        }
      }
    },
    "GoogleApiDistributionBucketOptionsExplicit": {
      "id": "GoogleApiDistributionBucketOptionsExplicit",
      "type": "object",
      "description": "Specifies a set of buckets with arbitrary widths. There are `size(bounds) + 1` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 <= i < N-1): bounds[i] Lower bound (1 <= i < N); bounds[i - 1] The `bounds` field must contain at least one element. If `bounds` has only one element, then there are no finite buckets, and that single element is the common boundary of the overflow and underflow buckets.",
      "properties": {
        "bounds": {
          "description": "The values must be monotonically increasing.",
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaDeleteSchemaMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaDeleteSchemaMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata for DeleteSchema LRO."
    },
    "GoogleApiDistributionBucketOptions": {
      "properties": {
        "linearBuckets": {
          "$ref": "GoogleApiDistributionBucketOptionsLinear",
          "description": "The linear bucket."
        },
        "exponentialBuckets": {
          "$ref": "GoogleApiDistributionBucketOptionsExponential",
          "description": "The exponential buckets."
        },
        "explicitBuckets": {
          "$ref": "GoogleApiDistributionBucketOptionsExplicit",
          "description": "The explicit buckets."
        }
      },
      "id": "GoogleApiDistributionBucketOptions",
      "description": "`BucketOptions` describes the bucket boundaries used to create a histogram for the distribution. The buckets can be in a linear sequence, an exponential sequence, or each bucket can be specified explicitly. `BucketOptions` does not include the number of values in each bucket. A bucket has an inclusive lower bound and exclusive upper bound for the values that are counted for that bucket. The upper bound of a bucket must be strictly greater than the lower bound. The sequence of N buckets for a distribution consists of an underflow bucket (number 0), zero or more finite buckets (number 1 through N - 2) and an overflow bucket (number N - 1). The buckets are contiguous: the lower bound of bucket i (i > 0) is the same as the upper bound of bucket i - 1. The buckets span the whole range of finite values: lower bound of the underflow bucket is -infinity and the upper bound of the overflow bucket is +infinity. The finite buckets are so-called because both bounds are finite.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaStreamAssistResponseInvokedSkill": {
      "description": "Represents a skill used during the assist call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the skill.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the skill."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaStreamAssistResponseInvokedSkill"
    },
    "GoogleCloudDiscoveryengineV1betaConversationContext": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaConversationContext",
      "description": "Defines context of the conversation",
      "properties": {
        "contextDocuments": {
          "type": "array",
          "description": "The current list of documents the user is seeing. It contains the document resource references.",
          "items": {
            "type": "string"
          }
        },
        "activeDocument": {
          "description": "The current active document the user opened. It contains the document resource reference.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswerReply": {
      "properties": {
        "createTime": {
          "description": "The time when the reply was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "groundedContent": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContent",
          "description": "Possibly grounded response text or media from the assistant."
        },
        "replyId": {
          "type": "string",
          "description": "Output only. When set, uniquely identifies a reply within the `AssistAnswer` resource. During an AssistantService.StreamAssist call, multiple `Reply` messages with the same ID can occur within the response stream (across multiple StreamAssistResponse messages). These represent parts of a single `Reply` message in the final `AssistAnswer` resource.",
          "readOnly": true
        }
      },
      "description": "One part of the multi-part response of the assist call.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswerReply"
    },
    "GoogleCloudDiscoveryengineV1alphaSingleRegionKey": {
      "id": "GoogleCloudDiscoveryengineV1alphaSingleRegionKey",
      "description": "Metadata for single-regional CMEKs.",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Required. Single-regional kms key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig": {
      "type": "object",
      "description": "Custom threshold for `cvr` optimization_objective.",
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig",
      "properties": {
        "targetField": {
          "description": "Required. The name of the field to target. Currently supported values: `watch-percentage`, `watch-time`.",
          "type": "string"
        },
        "targetFieldValueFloat": {
          "format": "float",
          "description": "Required. The threshold to be applied to the target (e.g., 0.5).",
          "type": "number"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfig",
      "properties": {
        "enablePrivateKnowledgeGraph": {
          "type": "boolean",
          "description": "Whether to enable the Private Knowledge Graph for the engine. Defaults to false if not specified."
        },
        "enableCloudKnowledgeGraph": {
          "description": "Whether to enable the Cloud Knowledge Graph for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "cloudKnowledgeGraphTypes": {
          "items": {
            "type": "string"
          },
          "description": "Specify entity types to support.",
          "type": "array"
        },
        "featureConfig": {
          "description": "Optional. Feature config for the Knowledge Graph.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfigFeatureConfig"
        },
        "privateKnowledgeGraphTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specify entity types to support."
        }
      },
      "description": "Configuration message for the Knowledge Graph."
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterAndExpression": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterAndExpression",
      "properties": {
        "expressions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpression"
          },
          "description": "The expressions that were ANDed together."
        }
      },
      "description": "Logical `And` operator."
    },
    "GoogleCloudDiscoveryengineV1ControlBoostAction": {
      "description": "Adjusts order of products in returned list.",
      "properties": {
        "dataStore": {
          "description": "Required. Specifies which data store's documents can be boosted by this control. Full data store name e.g. projects/123/locations/global/collections/default_collection/dataStores/default_data_store",
          "type": "string"
        },
        "fixedBoost": {
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0 (No-op).",
          "format": "float",
          "type": "number"
        },
        "interpolationBoostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1ControlBoostActionInterpolationBoostSpec",
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value."
        },
        "filter": {
          "type": "string",
          "description": "Required. Specifies which products to apply the boost to. If no filter is provided all products will be boosted (No-op). Syntax documentation: https://cloud.google.com/retail/docs/filter-and-order Maximum length is 5000 characters. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "boost": {
          "description": "Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0 (No-op).",
          "deprecated": true,
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ControlBoostAction",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesResponse": {
      "description": "Response message for CompletionService.ImportSuggestionDenyListEntries method.",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "failedEntriesCount": {
          "description": "Count of deny list entries that failed to be imported.",
          "format": "int64",
          "type": "string"
        },
        "importedEntriesCount": {
          "description": "Count of deny list entries successfully imported.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgram": {
      "description": "Represents a single program to be used within the context of an AlphaEvolve experiment.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgram",
      "properties": {
        "evaluation": {
          "description": "Optional. Evaluation results for the program.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramEvaluation"
        },
        "lockToken": {
          "type": "string",
          "description": "Optional. Lock token for the program."
        },
        "parentPrograms": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Optionally specifies which parent programs this program was evolved from. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/alphaEvolveExperiments/{alpha_evolve_experiment}/alphaEvolvePrograms/{alpha_evolve_program}`",
          "type": "array"
        },
        "state": {
          "description": "Output only. State of the program.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "PROGRAM_STATE_UNSPECIFIED",
            "INITIALIZED",
            "GENERATING",
            "EVALUATING",
            "COMPLETED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The program is initialized.",
            "The program is in generation.",
            "The program is pending evaluation.",
            "The program is completed."
          ]
        },
        "name": {
          "description": "Identifier. Unique identifier for the program. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/alphaEvolveExperiments/{alpha_evolve_experiment}/alphaEvolvePrograms/{alpha_evolve_program}`",
          "type": "string"
        },
        "content": {
          "description": "Optional. Content of the program.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramContent"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the program was created."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCustomFineTuningSpec": {
      "type": "object",
      "description": "Defines custom fine tuning spec.",
      "properties": {
        "enableSearchAdaptor": {
          "description": "Whether or not to enable and include custom fine tuned search adaptor model.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaCustomFineTuningSpec"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpecEndUserMetaData": {
      "type": "object",
      "description": "End user metadata.",
      "properties": {
        "chunkInfo": {
          "description": "Chunk information.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfo"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpecEndUserMetaData"
    },
    "GoogleCloudDiscoveryengineV1AssistantGenerationConfigSystemInstruction": {
      "description": "System instruction, also known as the prompt preamble for LLM calls.",
      "id": "GoogleCloudDiscoveryengineV1AssistantGenerationConfigSystemInstruction",
      "type": "object",
      "properties": {
        "additionalSystemInstruction": {
          "type": "string",
          "description": "Optional. Additional system instruction that will be added to the default system instruction."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaNaturalLanguageQueryUnderstandingConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaNaturalLanguageQueryUnderstandingConfig",
      "type": "object",
      "description": "Configuration for Natural Language Query Understanding.",
      "properties": {
        "mode": {
          "description": "Mode of Natural Language Query Understanding. If this field is unset, the behavior defaults to NaturalLanguageQueryUnderstandingConfig.Mode.DISABLED.",
          "enumDescriptions": [
            "Default value.",
            "Natural Language Query Understanding is disabled.",
            "Natural Language Query Understanding is enabled."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSampleQuerySet": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The full resource name of the SampleQuerySet, in the format of `projects/{project}/locations/{location}/sampleQuerySets/{sample_query_set}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp the SampleQuerySet was created at.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the SampleQuerySet."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The sample query set display name. This field must be a UTF-8 encoded string with a length limit of 128 characters."
        }
      },
      "description": "A SampleQuerySet is the parent resource of SampleQuery, and contains the configurations shared by all SampleQuery under it.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSampleQuerySet"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerStep": {
      "description": "Step information.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerStep",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the step.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Step is currently in progress.",
            "Step currently failed.",
            "Step has succeeded."
          ],
          "description": "The state of the step.",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED"
          ]
        },
        "thought": {
          "type": "string",
          "description": "The thought of the step."
        },
        "actions": {
          "description": "Actions.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerStepAction"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaTenant": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional display name for the tenant, e.g. \"My Slack Team\"."
        },
        "uri": {
          "description": "The URI of the tenant, if applicable. For example, the URI of a Jira instance is https://my-jira-instance.atlassian.net, and a Slack tenant does not have a URI.",
          "type": "string"
        },
        "id": {
          "description": "The tenant's instance ID. Examples: Jira (\"8594f221-9797-5f78-1fa4-485e198d7cd0\"), Slack (\"T123456\").",
          "type": "string"
        }
      },
      "description": "Tenant information for a connector source. This includes some of the same information stored in the Credential message, but is limited to only what is needed to provide a list of accessible tenants to the user.",
      "id": "GoogleCloudDiscoveryengineV1alphaTenant",
      "type": "object"
    },
    "GoogleApiDistributionBucketOptionsExponential": {
      "properties": {
        "growthFactor": {
          "format": "double",
          "description": "Must be greater than 1.",
          "type": "number"
        },
        "scale": {
          "format": "double",
          "type": "number",
          "description": "Must be greater than 0."
        },
        "numFiniteBuckets": {
          "description": "Must be greater than 0.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleApiDistributionBucketOptionsExponential",
      "type": "object",
      "description": "Specifies an exponential sequence of buckets that have a width that is proportional to the value of the lower bound. Each bucket represents a constant relative uncertainty on a specific value in the bucket. There are `num_finite_buckets + 2` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 <= i < N-1): scale * (growth_factor ^ i). Lower bound (1 <= i < N): scale * (growth_factor ^ (i - 1))."
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantContentCodeExecutionResult": {
      "type": "object",
      "properties": {
        "outcome": {
          "type": "string",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "OUTCOME_OK",
            "OUTCOME_FAILED",
            "OUTCOME_DEADLINE_EXCEEDED"
          ],
          "enumDescriptions": [
            "Unspecified status. This value should not be used.",
            "Code execution completed successfully.",
            "Code execution finished but with a failure. `stderr` should contain the reason.",
            "Code execution ran for too long, and was cancelled. There may or may not be a partial output present."
          ],
          "description": "Required. Outcome of the code execution."
        },
        "output": {
          "description": "Optional. Contains stdout when code execution is successful, stderr or other description otherwise.",
          "type": "string"
        }
      },
      "description": "Result of executing ExecutableCode.",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantContentCodeExecutionResult"
    },
    "GoogleCloudDiscoveryengineV1alphaControlSynonymsAction": {
      "description": "Creates a set of terms that will act as synonyms of one another. Example: \"happy\" will also be considered as \"glad\", \"glad\" will also be considered as \"happy\".",
      "type": "object",
      "properties": {
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Defines a set of synonyms. Can specify up to 100 synonyms. Must specify at least 2 synonyms. Otherwise an INVALID ARGUMENT error is thrown."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaControlSynonymsAction"
    },
    "GoogleCloudDiscoveryengineV1betaPurgeDocumentsMetadata": {
      "description": "Metadata related to the progress of the PurgeDocuments operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "successCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of entries that were deleted successfully."
        },
        "ignoredCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that were ignored as entries were not found."
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaPurgeDocumentsMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaObtainCrawlRateResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaObtainCrawlRateResponse",
      "description": "Response message for CrawlRateManagementService.ObtainCrawlRate method. The response contains organcic or dedicated crawl rate time series data for monitoring, depending on whether dedicated crawl rate is set.",
      "properties": {
        "organicCrawlRateTimeSeries": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaOrganicCrawlRateTimeSeries",
          "description": "The historical organic crawl rate timeseries data, used for monitoring."
        },
        "dedicatedCrawlRateTimeSeries": {
          "description": "The historical dedicated crawl rate timeseries data, used for monitoring.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDedicatedCrawlRateTimeSeries"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the response.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ]
        },
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSafetyRating": {
      "properties": {
        "probability": {
          "readOnly": true,
          "enum": [
            "HARM_PROBABILITY_UNSPECIFIED",
            "NEGLIGIBLE",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "description": "Output only. Harm probability levels in the content.",
          "enumDescriptions": [
            "Harm probability unspecified.",
            "Negligible level of harm.",
            "Low level of harm.",
            "Medium level of harm.",
            "High level of harm."
          ],
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "Output only. Harm category.",
          "readOnly": true,
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_CIVIC_INTEGRITY"
          ],
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content.",
            "The harm category is civic integrity."
          ]
        },
        "severity": {
          "enum": [
            "HARM_SEVERITY_UNSPECIFIED",
            "HARM_SEVERITY_NEGLIGIBLE",
            "HARM_SEVERITY_LOW",
            "HARM_SEVERITY_MEDIUM",
            "HARM_SEVERITY_HIGH"
          ],
          "type": "string",
          "description": "Output only. Harm severity levels in the content.",
          "enumDescriptions": [
            "Harm severity unspecified.",
            "Negligible level of harm severity.",
            "Low level of harm severity.",
            "Medium level of harm severity.",
            "High level of harm severity."
          ],
          "readOnly": true
        },
        "probabilityScore": {
          "description": "Output only. Harm probability score.",
          "type": "number",
          "readOnly": true,
          "format": "float"
        },
        "severityScore": {
          "type": "number",
          "format": "float",
          "description": "Output only. Harm severity score.",
          "readOnly": true
        },
        "blocked": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the content was filtered out because of this rating."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSafetyRating",
      "description": "Safety rating corresponding to the generated content."
    },
    "GoogleCloudDiscoveryengineV1betaControlBoostActionInterpolationBoostSpecControlPoint": {
      "type": "object",
      "properties": {
        "boostAmount": {
          "type": "number",
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "format": "float"
        },
        "attributeValue": {
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`.",
          "type": "string"
        }
      },
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "id": "GoogleCloudDiscoveryengineV1betaControlBoostActionInterpolationBoostSpecControlPoint"
    },
    "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfigFeatureConfig": {
      "properties": {
        "disablePrivateKgEnrichment": {
          "description": "Whether to disable the private KG enrichment for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgQueryUnderstanding": {
          "description": "Whether to disable the private KG query understanding for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgAutoComplete": {
          "type": "boolean",
          "description": "Whether to disable the private KG auto complete for the engine. Defaults to false if not specified."
        },
        "disablePrivateKgQueryUiChips": {
          "type": "boolean",
          "description": "Whether to disable the private KG for query UI chips. Defaults to false if not specified."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfigFeatureConfig",
      "type": "object",
      "description": "Feature config for the Knowledge Graph."
    },
    "GoogleCloudDiscoveryengineV1LicenseConfig": {
      "description": "Information about users' licenses.",
      "id": "GoogleCloudDiscoveryengineV1LicenseConfig",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The fully qualified resource name of the license config. Format: `projects/{project}/locations/{location}/licenseConfigs/{license_config}`"
        },
        "startDate": {
          "$ref": "GoogleTypeDate",
          "description": "Required. The start date."
        },
        "earlyTerminated": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indication of whether the subscription is terminated earlier than the expiration date. This is usually terminated by pipeline once the subscription gets terminated from subsv3."
        },
        "lastUserUpdateTime": {
          "description": "Optional. Timestamp of the most recent user-initiated update (seat count change or subscription term change). Unlike `update_time`, this field is only stamped when a customer explicitly updates the license (e.g. via the UI), and is not touched by system-driven writes (subscription pipeline, BALC propagation, etc.).",
          "format": "google-datetime",
          "type": "string"
        },
        "earlyTerminationDate": {
          "description": "Output only. The date when the subscription is terminated earlier than the expiration date.",
          "$ref": "GoogleTypeDate",
          "readOnly": true
        },
        "freeTrial": {
          "description": "Optional. Whether the license config is for free trial.",
          "type": "boolean"
        },
        "subscriptionTier": {
          "description": "Required. Subscription tier information for the license config.",
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier.",
            "Represents the Gemini Enterprise Consumption-only tier: $0 subscription billed purely on usage (PAYG).",
            "Gemini Enterprise EDU tier for government in emerging markets."
          ],
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
            "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT",
            "SUBSCRIPTION_TIER_NOTEBOOK_LM",
            "SUBSCRIPTION_TIER_FRONTLINE_WORKER",
            "SUBSCRIPTION_TIER_AGENTSPACE_STARTER",
            "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS",
            "SUBSCRIPTION_TIER_ENTERPRISE",
            "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING",
            "SUBSCRIPTION_TIER_EDU",
            "SUBSCRIPTION_TIER_EDU_PRO",
            "SUBSCRIPTION_TIER_EDU_EMERGING",
            "SUBSCRIPTION_TIER_EDU_PRO_EMERGING",
            "SUBSCRIPTION_TIER_FRONTLINE_STARTER",
            "SUBSCRIPTION_TIER_CONSUMPTION_ONLY",
            "SUBSCRIPTION_TIER_EDU_GOV_EMERGING"
          ],
          "type": "string"
        },
        "autoRenew": {
          "description": "Optional. Whether the license config should be auto renewed when it reaches the end date.",
          "type": "boolean"
        },
        "geminiBundle": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the license config is for Gemini bundle."
        },
        "state": {
          "description": "Output only. The state of the license config.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED",
            "NOT_STARTED",
            "WITHDRAWN",
            "DEACTIVATING"
          ],
          "enumDescriptions": [
            "Default value. The license config does not exist.",
            "The license config is effective and being used.",
            "The license config has expired.",
            "The license config has not started yet, and its start date is in the future.",
            "This is when a sub license config has returned all its seats back to BillingAccountLicenseConfig that it belongs to. Similar to EXPIRED.",
            "The license config is terminated earlier than the expiration date and it is deactivating. The customer will still have access in this state. It will be converted to EXPIRED after the deactivating period ends (14 days) or when the end date is reached, whichever comes first."
          ],
          "readOnly": true,
          "type": "string"
        },
        "licenseCount": {
          "format": "int64",
          "type": "string",
          "description": "Required. Number of licenses purchased."
        },
        "subscriptionTerm": {
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "1 month.",
            "1 year.",
            "3 years.",
            "Custom term. Must set the end_date."
          ],
          "description": "Required. Subscription term.",
          "enum": [
            "SUBSCRIPTION_TERM_UNSPECIFIED",
            "SUBSCRIPTION_TERM_ONE_MONTH",
            "SUBSCRIPTION_TERM_ONE_YEAR",
            "SUBSCRIPTION_TERM_THREE_YEARS",
            "SUBSCRIPTION_TERM_CUSTOM"
          ]
        },
        "endDate": {
          "$ref": "GoogleTypeDate",
          "description": "Optional. The planed end date."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AclConfig": {
      "type": "object",
      "description": "Access Control Configuration.",
      "properties": {
        "idpConfig": {
          "description": "Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1IdpConfig"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AclConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineChatEngineMetadata": {
      "properties": {
        "dialogflowAgent": {
          "description": "The resource name of a Dialogflow agent, that this Chat Engine refers to. Format: `projects//locations//agents/`.",
          "type": "string"
        }
      },
      "description": "Additional information of a Chat Engine. Fields in this message are output only.",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineChatEngineMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponsePersonSuggestion": {
      "properties": {
        "displayPhotoUri": {
          "type": "string",
          "description": "The photo uri of the person suggestion."
        },
        "document": {
          "description": "The document data snippet in the suggestion. Only a subset of fields is populated.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
        },
        "suggestion": {
          "description": "The suggestion for the query.",
          "type": "string"
        },
        "dataStore": {
          "description": "The name of the dataStore that this suggestion belongs to.",
          "type": "string"
        },
        "score": {
          "description": "The score of each suggestion. The score is in the range of [0, 1].",
          "type": "number",
          "format": "double"
        },
        "personType": {
          "description": "The type of the person.",
          "enumDescriptions": [
            "Default value.",
            "The suggestion is from a GOOGLE_IDENTITY source.",
            "The suggestion is from a THIRD_PARTY_IDENTITY source.",
            "The suggestion is a group (e.g. a Google Group), not an individual."
          ],
          "type": "string",
          "enum": [
            "PERSON_TYPE_UNSPECIFIED",
            "CLOUD_IDENTITY",
            "THIRD_PARTY_IDENTITY",
            "GOOGLE_GROUP"
          ]
        },
        "destinationUri": {
          "description": "The destination uri of the person suggestion.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponsePersonSuggestion",
      "description": "Suggestions as people."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservation": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservation",
      "type": "object",
      "properties": {
        "searchResults": {
          "description": "Search results observed by the search action, it can be snippets info or chunk info, depending on the citation type set by the user.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResult"
          },
          "type": "array"
        }
      },
      "description": "Observation."
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreBillingEstimation": {
      "description": "Estimation of data size per data store.",
      "properties": {
        "unstructuredDataSize": {
          "format": "int64",
          "type": "string",
          "description": "Data size for unstructured data in terms of bytes."
        },
        "websiteDataSize": {
          "format": "int64",
          "type": "string",
          "description": "Data size for websites in terms of bytes."
        },
        "structuredDataUpdateTime": {
          "description": "Last updated timestamp for structured data.",
          "format": "google-datetime",
          "type": "string"
        },
        "structuredDataSize": {
          "type": "string",
          "description": "Data size for structured data in terms of bytes.",
          "format": "int64"
        },
        "websiteDataUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last updated timestamp for websites."
        },
        "unstructuredDataUpdateTime": {
          "format": "google-datetime",
          "description": "Last updated timestamp for unstructured data.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreBillingEstimation"
    },
    "GoogleCloudDiscoveryengineV1alphaWorkspaceConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaWorkspaceConfig",
      "type": "object",
      "properties": {
        "dasherCustomerId": {
          "type": "string",
          "description": "Output only. Obfuscated Dasher customer ID. Derived by the server from the project's GCP organization at data store creation time; any value supplied in the request payload is ignored.",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "Defaults to an unspecified Workspace type.",
            "Workspace Data Store contains Drive data",
            "Workspace Data Store contains Mail data",
            "Workspace Data Store contains Sites data",
            "Workspace Data Store contains Calendar data",
            "Workspace Data Store contains Chat data",
            "Workspace Data Store contains Groups data",
            "Workspace Data Store contains Keep data",
            "Workspace Data Store contains People data",
            "Workspace Data Store contains all Workspace apps data"
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DRIVE",
            "GOOGLE_MAIL",
            "GOOGLE_SITES",
            "GOOGLE_CALENDAR",
            "GOOGLE_CHAT",
            "GOOGLE_GROUPS",
            "GOOGLE_KEEP",
            "GOOGLE_PEOPLE",
            "GOOGLE_WORKSPACE"
          ],
          "description": "The Google Workspace data source."
        },
        "superAdminServiceAccount": {
          "description": "Optional. The super admin service account for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        },
        "superAdminEmailAddress": {
          "type": "string",
          "description": "Optional. The super admin email address for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion."
        }
      },
      "description": "Config to store data store type configuration for workspace data"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerReferenceStructuredDocumentInfo": {
      "properties": {
        "structData": {
          "description": "Structured search data.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "uri": {
          "readOnly": true,
          "description": "Output only. The URI of the document.",
          "type": "string"
        },
        "document": {
          "description": "Document resource name.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The title of the document."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceStructuredDocumentInfo",
      "description": "Structured search information."
    },
    "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics": {
      "description": "Stores the metric values at specific top-k levels.",
      "id": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics",
      "type": "object",
      "properties": {
        "top3": {
          "type": "number",
          "description": "The top-3 value.",
          "format": "double"
        },
        "top10": {
          "description": "The top-10 value.",
          "format": "double",
          "type": "number"
        },
        "top1": {
          "format": "double",
          "description": "The top-1 value.",
          "type": "number"
        },
        "top5": {
          "type": "number",
          "format": "double",
          "description": "The top-5 value."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaQueryPart": {
      "id": "GoogleCloudDiscoveryengineV1alphaQueryPart",
      "properties": {
        "driveDocumentReference": {
          "description": "Reference to a Google Drive document.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPartDriveDocumentReference"
        },
        "mimeType": {
          "description": "Optional. The IANA standard MIME type of the data. See https://www.iana.org/assignments/media-types/media-types.xhtml. This field is optional. If not set, the default assumed MIME type is \"text/plain\" for the \"data\" field.",
          "type": "string"
        },
        "uiJsonPayload": {
          "type": "string",
          "description": "This field is expected to be a ui message in JSON format. As of Q1 2026, ui_json_payload is only supported for A2UI messages."
        },
        "documentReference": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPartDocumentReference",
          "description": "Other VAIS Document references."
        },
        "text": {
          "description": "Text content.",
          "type": "string"
        },
        "personReference": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPartPersonReference",
          "description": "Reference to a person."
        },
        "userSuppliedSobiArtifactReference": {
          "description": "Reference to a user-supplied file attached to a long-running-agent (Sobi) task. See `UserSuppliedSobiArtifactReference` above.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPartUserSuppliedSobiArtifactReference"
        }
      },
      "description": "Represents a part or the whole of a content, used to represent a query. A query can be made up of multiple parts.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaControlRedirectAction": {
      "type": "object",
      "properties": {
        "redirectUri": {
          "type": "string",
          "description": "Required. The URI to which the shopper will be redirected. Required. URI must have length equal or less than 2000 characters. Otherwise an INVALID ARGUMENT error is thrown."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaControlRedirectAction",
      "description": "Redirects a shopper to the provided URI."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerStepActionSearchAction": {
      "description": "Search action.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerStepActionSearchAction",
      "properties": {
        "query": {
          "description": "The query to search.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AssistantToolInfo": {
      "properties": {
        "toolName": {
          "description": "The name of the tool as defined by DataConnectorService.QueryAvailableActions. Note: it's using `action` in the DataConnectorService apis, but they are the same as the `tool` here.",
          "type": "string"
        },
        "toolDisplayName": {
          "description": "The display name of the tool.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AssistantToolInfo",
      "type": "object",
      "description": "Information to identify a tool."
    },
    "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataSegment": {
      "properties": {
        "referenceIndices": {
          "description": "References for the segment.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "groundingScore": {
          "description": "Score for the segment.",
          "type": "number",
          "format": "float"
        },
        "startIndex": {
          "description": "Zero-based index indicating the start of the segment, measured in bytes of a UTF-8 string (i.e. characters encoded on multiple bytes have a length of more than one).",
          "format": "int64",
          "type": "string"
        },
        "text": {
          "description": "The text segment itself.",
          "type": "string"
        },
        "endIndex": {
          "description": "End of the segment, exclusive.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataSegment",
      "description": "Grounding information for a segment of the text."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestDisplaySpec": {
      "description": "Specifies features for display, like match highlighting.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestDisplaySpec",
      "properties": {
        "matchHighlightingCondition": {
          "enum": [
            "MATCH_HIGHLIGHTING_CONDITION_UNSPECIFIED",
            "MATCH_HIGHLIGHTING_DISABLED",
            "MATCH_HIGHLIGHTING_ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Server behavior is the same as `MATCH_HIGHLIGHTING_DISABLED`.",
            "Disables match highlighting on all documents.",
            "Enables match highlighting on all documents."
          ],
          "description": "The condition under which match highlighting should occur."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaRetractLicenseConfigResponse": {
      "properties": {
        "licenseConfig": {
          "description": "The updated LicenseConfig.",
          "$ref": "GoogleCloudDiscoveryengineV1betaLicenseConfig"
        }
      },
      "type": "object",
      "description": "Response message for LicenseConfigService.RetractLicenseConfig method.",
      "id": "GoogleCloudDiscoveryengineV1betaRetractLicenseConfigResponse"
    },
    "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsRequestInlineSource": {
      "description": "The inline source for CompletionSuggestions.",
      "type": "object",
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCompletionSuggestion"
          },
          "description": "Required. A list of all denylist entries to import. Max of 1000 items.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsRequestInlineSource"
    },
    "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfig",
      "properties": {
        "observabilityConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaObservabilityConfig",
          "description": "Optional. Observability config for NotebookLM."
        },
        "optOutNotebookSharing": {
          "description": "Optional. Whether to disable the notebook sharing feature for the project. Default to false if not specified.",
          "type": "boolean"
        },
        "dataProtectionPolicy": {
          "description": "Optional. Specifies the data protection policy for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy"
        },
        "modelArmorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig",
          "description": "Model Armor configuration to be used for sanitizing user prompts and LLM responses."
        }
      },
      "description": "Configuration for NotebookLM."
    },
    "GoogleCloudDiscoveryengineV1betaTransactionInfo": {
      "type": "object",
      "properties": {
        "cost": {
          "format": "float",
          "description": "All the costs associated with the products. These can be manufacturing costs, shipping expenses not borne by the end user, or any other costs, such that: * Profit = value - tax - cost",
          "type": "number"
        },
        "transactionId": {
          "description": "The transaction ID with a length limit of 128 characters.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "format": "float",
          "description": "Required. Total non-zero value associated with the transaction. This value may include shipping, tax, or other adjustments to the total value that you want to include."
        },
        "currency": {
          "type": "string",
          "description": "Required. Currency code. Use three-character ISO-4217 code."
        },
        "discountValue": {
          "type": "number",
          "format": "float",
          "description": "The total discount(s) value applied to this transaction. This figure should be excluded from TransactionInfo.value For example, if a user paid TransactionInfo.value amount, then nominal (pre-discount) value of the transaction is the sum of TransactionInfo.value and TransactionInfo.discount_value This means that profit is calculated the same way, regardless of the discount value, and that TransactionInfo.discount_value can be larger than TransactionInfo.value: * Profit = value - tax - cost"
        },
        "tax": {
          "format": "float",
          "type": "number",
          "description": "All the taxes associated with the transaction."
        }
      },
      "description": "A transaction represents the entire purchase transaction.",
      "id": "GoogleCloudDiscoveryengineV1betaTransactionInfo"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultBannedPhraseEnforcementResult": {
      "type": "object",
      "properties": {
        "bannedPhrases": {
          "description": "The banned phrases that were found in the query or the answer.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Customer policy enforcement result for the banned phrase policy.",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultBannedPhraseEnforcementResult"
    },
    "GoogleCloudDiscoveryengineV1alphaSession": {
      "properties": {
        "labels": {
          "description": "Optional. The labels for the session. Can be set as filter in ListSessionsRequest.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "description": "Optional. The display name of the session. This field is used to identify the session in the UI. By default, the display name is the first turn query text in the session.",
          "type": "string"
        },
        "isPinned": {
          "description": "Optional. Whether the session is pinned, pinned session will be displayed on the top of the session list.",
          "type": "boolean"
        },
        "pendingAsyncAssistOperationId": {
          "description": "Output only. Full resource name of an in-progress AsyncAssist operation for this session, e.g. `projects/*/locations/*/collections/*/engines/*/sessions/*/operations/*`. Set when the operation starts and cleared when it finishes.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Immutable. Fully qualified name `projects/{project}/locations/global/collections/{collection}/engines/{engine}/sessions/*`",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the session finished."
        },
        "turns": {
          "description": "Turns.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSessionTurn"
          }
        },
        "userPseudoId": {
          "type": "string",
          "description": "A unique identifier for tracking users."
        },
        "state": {
          "type": "string",
          "description": "The state of the session.",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS"
          ],
          "enumDescriptions": [
            "State is unspecified.",
            "The session is currently open."
          ]
        },
        "startTime": {
          "description": "Output only. The time the session started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSession",
      "description": "External session proto definition.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservationSearchResultSnippetInfo": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservationSearchResultSnippetInfo",
      "description": "Snippet information.",
      "properties": {
        "snippetStatus": {
          "description": "Status of the snippet defined by the search team.",
          "type": "string"
        },
        "snippet": {
          "description": "Snippet content.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaObservabilityConfig": {
      "type": "object",
      "properties": {
        "observabilityEnabled": {
          "type": "boolean",
          "description": "Optional. Enables observability. If `false`, all other flags are ignored."
        },
        "sensitiveLoggingEnabled": {
          "type": "boolean",
          "description": "Optional. Enables sensitive logging. Sensitive logging includes customer core content (e.g. prompts, responses). If `false`, will sanitize all sensitive fields."
        }
      },
      "description": "Observability config for a resource.",
      "id": "GoogleCloudDiscoveryengineV1alphaObservabilityConfig"
    },
    "GoogleCloudDiscoveryengineV1DestinationConfig": {
      "type": "object",
      "properties": {
        "params": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Additional parameters for this destination config in structured json format.",
          "type": "object"
        },
        "destinations": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DestinationConfigDestination"
          },
          "description": "Optional. The destinations for the corresponding key.",
          "type": "array"
        },
        "jsonParams": {
          "type": "string",
          "description": "Additional parameters for this destination config in json string format."
        },
        "key": {
          "description": "Optional. Unique destination identifier that is supported by the connector.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DestinationConfig",
      "description": "Defines target endpoints used to connect to third-party sources."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestSessionSpec": {
      "properties": {
        "searchResultPersistenceCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of top search results to persist. The persisted search results can be used for the subsequent /answer api call. This field is similar to the `summary_result_count` field in SearchRequest.ContentSearchSpec.SummarySpec.summary_result_count. At most 10 results for documents mode, or 50 for chunks mode."
        },
        "queryId": {
          "description": "If set, the search result gets stored to the \"turn\" specified by this query ID. Example: Let's say the session looks like this: session { name: \".../sessions/xxx\" turns { query { text: \"What is foo?\" query_id: \".../questions/yyy\" } answer: \"Foo is ...\" } turns { query { text: \"How about bar then?\" query_id: \".../questions/zzz\" } } } The user can call /search API with a request like this: session: \".../sessions/xxx\" session_spec { query_id: \".../questions/zzz\" } Then, the API stores the search result, associated with the last turn. The stored search result can be used by a subsequent /answer API call (with the session ID and the query ID specified). Also, it is possible to call /search and /answer in parallel with the same session ID & query ID.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestSessionSpec",
      "description": "Session specification.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchInfo": {
      "properties": {
        "offset": {
          "description": "An integer that specifies the current offset for pagination (the 0-indexed starting location, amongst the products deemed by the API as relevant). See SearchRequest.offset for definition. If this field is negative, an `INVALID_ARGUMENT` is returned. This can only be set for `search` events. Other event types should not set this field. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "integer",
          "format": "int32"
        },
        "searchQuery": {
          "type": "string",
          "description": "Optional. The user's search query. See SearchRequest.query for definition. The value must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. At least one of search_query or PageInfo.page_category is required for `search` events. Other event types should not set this field. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "orderBy": {
          "type": "string",
          "description": "The order in which products are returned, if applicable. See SearchRequest.order_by for definition and syntax. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. This can only be set for `search` events. Other event types should not set this field. Otherwise, an `INVALID_ARGUMENT` error is returned."
        }
      },
      "description": "Detailed search information.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchInfo",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDeleteIdentityMappingStoreMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaDeleteIdentityMappingStoreMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "description": "Metadata related to the progress of the IdentityMappingStoreService.DeleteIdentityMappingStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleTypeExpr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleTypeExpr"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpec": {
      "properties": {
        "safetySettings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpecSafetySetting"
          },
          "description": "Optional. Safety settings. This settings are effective only when the safety_spec.enable is true."
        },
        "enable": {
          "description": "Enable the safety filtering on the answer response. It is false by default.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpec",
      "type": "object",
      "description": "Safety specification. There are two use cases: 1. when only safety_spec.enable is set, the BLOCK_LOW_AND_ABOVE threshold will be applied for all categories. 2. when safety_spec.enable is set and some safety_settings are set, only specified safety_settings are applied."
    },
    "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponseContentSuggestion": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponseContentSuggestion",
      "properties": {
        "destinationUri": {
          "description": "The destination uri of the content suggestion.",
          "type": "string"
        },
        "contentType": {
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "GOOGLE_WORKSPACE",
            "THIRD_PARTY"
          ],
          "description": "The type of the content suggestion.",
          "enumDescriptions": [
            "Default value.",
            "The suggestion is from a Google Workspace source.",
            "The suggestion is from a third party source."
          ],
          "type": "string"
        },
        "iconUri": {
          "description": "The icon uri of the content suggestion.",
          "type": "string"
        },
        "dataStore": {
          "description": "The name of the dataStore that this suggestion belongs to.",
          "type": "string"
        },
        "suggestion": {
          "description": "The suggestion for the query.",
          "type": "string"
        },
        "score": {
          "description": "The score of each suggestion. The score is in the range of [0, 1].",
          "format": "double",
          "type": "number"
        },
        "document": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDocument",
          "description": "The document data snippet in the suggestion. Only a subset of fields will be populated."
        }
      },
      "description": "Suggestions as content."
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSitemap": {
      "type": "object",
      "description": "A sitemap for the SiteSearchEngine.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The sitemap's creation time."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The fully qualified resource name of the sitemap. `projects/*/locations/*/collections/*/dataStores/*/siteSearchEngine/sitemaps/*` The `sitemap_id` suffix is system-generated.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Public URI for the sitemap, e.g. `www.example.com/sitemap.xml`."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSitemap"
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfig",
      "description": "Stores information for connecting to AlloyDB.",
      "properties": {
        "alloydbAiNlConfig": {
          "description": "Optional. Configuration for Magic.",
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig"
        },
        "alloydbConnectionConfig": {
          "description": "Required. Configuration for connecting to AlloyDB.",
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbConnectionConfig"
        },
        "returnedFields": {
          "description": "Optional. Fields to be returned in the search results. If empty, all fields will be returned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy": {
      "description": "Data protection policy config for NotebookLM.",
      "properties": {
        "sensitiveDataProtectionPolicy": {
          "description": "Optional. The sensitive data protection policy.",
          "$ref": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContent": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContent",
      "description": "A piece of content and possibly its grounding information. Not all content needs grounding. Phrases like \"Of course, I will gladly search it for you.\" do not need grounding.",
      "properties": {
        "content": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantContent",
          "description": "The content."
        },
        "textGroundingMetadata": {
          "description": "Metadata for grounding based on text sources.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadata"
        },
        "citationMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCitationMetadata",
          "description": "Source attribution of the generated content. See also https://cloud.google.com/vertex-ai/generative-ai/docs/learn/overview#citation_check"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportDocumentsRequestInlineSource": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaImportDocumentsRequestInlineSource",
      "properties": {
        "documents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
          },
          "description": "Required. A list of documents to update/create. Each document must have a valid Document.id. Recommended max of 100 items.",
          "type": "array"
        }
      },
      "description": "The inline source for the input config for ImportDocuments method."
    },
    "GoogleCloudDiscoveryengineV1betaBatchGetDocumentsMetadataResponse": {
      "description": "Response message for DocumentService.BatchGetDocumentsMetadata method.",
      "id": "GoogleCloudDiscoveryengineV1betaBatchGetDocumentsMetadataResponse",
      "type": "object",
      "properties": {
        "documentsMetadata": {
          "description": "The metadata of the Documents.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaBatchGetDocumentsMetadataResponseDocumentMetadata"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpecQuerySetSpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpecQuerySetSpec",
      "properties": {
        "sampleQuerySet": {
          "type": "string",
          "description": "Optional. The full resource name of the SampleQuerySet used for the evaluation, in the format of `projects/{project}/locations/{location}/sampleQuerySets/{sampleQuerySet}`."
        }
      },
      "description": "Describes the specification of the query set."
    },
    "GoogleCloudDiscoveryengineV1alphaProjectServiceTerms": {
      "type": "object",
      "properties": {
        "acceptTime": {
          "format": "google-datetime",
          "description": "The last time when the project agreed to the terms of service.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The default value of the enum. This value is not actually used.",
            "The project has given consent to the terms of service.",
            "The project is pending to review and accept the terms of service.",
            "The project has declined or revoked the agreement to terms of service."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "TERMS_ACCEPTED",
            "TERMS_PENDING",
            "TERMS_DECLINED"
          ],
          "description": "Whether the project has accepted/rejected the service terms or it is still pending.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique identifier of this terms of service. Available terms: * `GA_DATA_USE_TERMS`: [Terms for data use](https://cloud.google.com/retail/data-use-terms). When using this as `id`, the acceptable version to provide is `2022-11-23`."
        },
        "declineTime": {
          "type": "string",
          "description": "The last time when the project declined or revoked the agreement to terms of service.",
          "format": "google-datetime"
        },
        "version": {
          "type": "string",
          "description": "The version string of the terms of service. For acceptable values, see the comments for id above."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaProjectServiceTerms",
      "description": "Metadata about the terms of service."
    },
    "GoogleCloudDiscoveryengineV1alphaEngineKnowledgeGraphConfigFeatureConfig": {
      "type": "object",
      "properties": {
        "disablePrivateKgEnrichment": {
          "type": "boolean",
          "description": "Whether to disable the private KG enrichment for the engine. Defaults to false if not specified."
        },
        "disablePrivateKgQueryUnderstanding": {
          "description": "Whether to disable the private KG query understanding for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgAutoComplete": {
          "type": "boolean",
          "description": "Whether to disable the private KG auto complete for the engine. Defaults to false if not specified."
        },
        "disablePrivateKgQueryUiChips": {
          "type": "boolean",
          "description": "Whether to disable the private KG for query UI chips. Defaults to false if not specified."
        }
      },
      "description": "Feature config for the Knowledge Graph.",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineKnowledgeGraphConfigFeatureConfig"
    },
    "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesResponse": {
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "purgeCount": {
          "type": "string",
          "description": "Number of suggestion deny list entries purged.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesResponse",
      "description": "Response message for CompletionService.PurgeSuggestionDenyListEntries method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseGuidedSearchResult": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseGuidedSearchResult",
      "description": "Guided search result. The guided search helps user to refine the search results and narrow down to the real needs from a broaded search results.",
      "properties": {
        "followUpQuestions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Suggested follow-up questions."
        },
        "refinementAttributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseGuidedSearchResultRefinementAttribute"
          },
          "description": "A list of ranked refinement attributes."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseSearchResultRetrievalSignals": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseSearchResultRetrievalSignals",
      "type": "object",
      "properties": {
        "retrievalSources": {
          "type": "array",
          "description": "Optional. Indicates how the result was retrieved.",
          "items": {
            "type": "string",
            "enum": [
              "RETRIEVAL_SOURCE_UNSPECIFIED",
              "KEYWORD_SEARCH",
              "SEMANTIC_SEARCH"
            ],
            "enumDescriptions": [
              "Unspecified retrieval source.",
              "Indicates the result was retrieved by keyword search.",
              "Indicates the result was retrieved by semantic search."
            ]
          }
        },
        "semanticRelevanceScore": {
          "description": "Optional. Relevance score used by the filter when semantic_relevance_threshold is set.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Contains a set of signals used by the relevance filter."
    },
    "GoogleCloudDiscoveryengineV1betaSearchLinkPromotion": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. The Promotion description. Maximum length: 200 characters."
        },
        "enabled": {
          "description": "Optional. The enabled promotion will be returned for any serving configs associated with the parent of the control this promotion is attached to. This flag is used for basic site search only.",
          "type": "boolean"
        },
        "uri": {
          "type": "string",
          "description": "Optional. The URL for the page the user wants to promote. Must be set for site search. For other verticals, this is optional."
        },
        "document": {
          "type": "string",
          "description": "Optional. The Document the user wants to promote. For site search, leave unset and only populate uri. Can be set along with uri."
        },
        "imageUri": {
          "description": "Optional. The promotion thumbnail image url.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Required. The title of the promotion. Maximum length: 160 characters."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchLinkPromotion",
      "type": "object",
      "description": "Promotion proto includes uri and other helping information to display the promotion."
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteDataStoreMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the DataStoreService.DeleteDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteDataStoreMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestSearchAsYouTypeSpec": {
      "description": "Specification for search as you type in search requests.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestSearchAsYouTypeSpec",
      "properties": {
        "condition": {
          "type": "string",
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "AUTO"
          ],
          "description": "The condition under which search as you type should occur. Default to Condition.DISABLED.",
          "enumDescriptions": [
            "Server behavior defaults to Condition.DISABLED.",
            "Disables Search As You Type.",
            "Enables Search As You Type.",
[...]
