{
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "version": "v1alpha",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "revision": "20260831",
  "canonicalName": "Discovery Engine",
  "name": "discoveryengine",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "ownerName": "Google",
  "basePath": "",
  "description": "Discovery Engine API.",
  "schemas": {
    "GoogleCloudDiscoveryengineV1betaLanguageInfo": {
      "properties": {
        "region": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Region part of normalized_language_code, if present. E.g.: `en-US` -> `US`, `zh-Hans-HK` -> `HK`, `en` -> ``."
        },
        "normalizedLanguageCode": {
          "description": "Output only. This is the normalized form of language_code. E.g.: language_code of `en-GB`, `en_GB`, `en-UK` or `en-gb` will have normalized_language_code of `en-GB`.",
          "readOnly": true,
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "The language code for the DataStore."
        },
        "language": {
          "type": "string",
          "description": "Output only. Language part of normalized_language_code. E.g.: `en-US` -> `en`, `zh-Hans-HK` -> `zh`, `en` -> `en`.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaLanguageInfo",
      "type": "object",
      "description": "Language info for DataStore."
    },
    "GoogleCloudDiscoveryengineV1alphaChunk": {
      "description": "Chunk captures all raw metadata information of items to be recommended or searched in the chunk mode.",
      "properties": {
        "annotationMetadata": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaChunkAnnotationMetadata"
          },
          "description": "Output only. The annotation metadata includes structured content in the current chunk.",
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the chunk. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document_id}/chunks/{chunk_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "content": {
          "type": "string",
          "description": "Content is a string from a document (parsed content)."
        },
        "id": {
          "type": "string",
          "description": "Unique chunk ID of the current chunk."
        },
        "relevanceScore": {
          "description": "Output only. Represents the relevance score based on similarity. Higher score indicates higher chunk relevance. The score is in range [-1.0, 1.0]. Only populated on SearchResponse.",
          "format": "double",
          "type": "number",
          "readOnly": true
        },
        "annotationContents": {
          "description": "Output only. Annotation contents if the current chunk contains annotations.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "documentMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaChunkDocumentMetadata",
          "description": "Metadata of the document from the current chunk."
        },
        "derivedStructData": {
          "readOnly": true,
          "description": "Output only. This field is OUTPUT_ONLY. It contains derived data that are not in the original input document.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "dataUrls": {
          "description": "Output only. Image Data URLs if the current chunk contains images. Data URLs are composed of four parts: a prefix (data:), a MIME type indicating the type of data, an optional base64 token if non-textual, and the data itself: data:,",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "pageSpan": {
          "description": "Page span of the chunk.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaChunkPageSpan"
        },
        "chunkMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaChunkChunkMetadata",
          "description": "Output only. Metadata of the current chunk.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaChunk",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigLayoutParsingConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigLayoutParsingConfig",
      "description": "The layout parsing configurations for documents.",
      "properties": {
        "excludeHtmlClasses": {
          "description": "Optional. List of HTML classes to exclude from the parsed content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableImageAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the image during parsing.",
          "type": "boolean"
        },
        "enableGetProcessedDocument": {
          "description": "Optional. If true, the processed document will be made available for the GetProcessedDocument API.",
          "type": "boolean"
        },
        "excludeHtmlElements": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of HTML elements to exclude from the parsed content.",
          "type": "array"
        },
        "excludeHtmlIds": {
          "description": "Optional. List of HTML ids to exclude from the parsed content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableTableAnnotation": {
          "type": "boolean",
          "description": "Optional. If true, the LLM based annotation is added to the table during parsing."
        },
        "enableLlmLayoutParsing": {
          "description": "Optional. If true, the pdf layout will be refined using an LLM.",
          "type": "boolean"
        },
        "structuredContentTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains the required structure types to extract from the document. Supported values: * `shareholder-structure`"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SiteVerificationInfo": {
      "id": "GoogleCloudDiscoveryengineV1SiteVerificationInfo",
      "type": "object",
      "description": "Verification information for target sites in advanced site search.",
      "properties": {
        "verifyTime": {
          "format": "google-datetime",
          "description": "Latest site verification time.",
          "type": "string"
        },
        "siteVerificationState": {
          "description": "Site verification state indicating the ownership and validity.",
          "enumDescriptions": [
            "Defaults to VERIFIED.",
            "Site ownership verified.",
            "Site ownership pending verification or verification failed.",
            "Site exempt from verification, e.g., a public website that opens to all."
          ],
          "enum": [
            "SITE_VERIFICATION_STATE_UNSPECIFIED",
            "VERIFIED",
            "UNVERIFIED",
            "EXEMPTED"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAgentSharingConfig": {
      "properties": {
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "RESTRICTED",
            "ALL_USERS"
          ],
          "description": "Optional. The sharing scope of the agent.",
          "enumDescriptions": [
            "Default value. Behaves as `RESTRICTED`.",
            "The agent is shared based on the IAM policy.",
            "The agent is shared with all users."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Sharing related configuration.",
      "id": "GoogleCloudDiscoveryengineV1alphaAgentSharingConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaRequirementViolationSamplesBinding": {
      "type": "object",
      "properties": {
        "variableId": {
          "description": "The variable id to be referenced in `condition`.",
          "type": "string"
        },
        "sampleFilter": {
          "description": "The filter string used for samples query. Example: \"sample.type = \\\"retail.googleapis.com/user_event\\\" AND \" \"sample.labels.event_type = \\\"PURCHASE\\\" \"",
          "type": "string"
        },
        "description": {
          "description": "Description of this sample binding. Used by the UI to render user friendly descriptions for each requirement condition. Should be less than 128 characters long.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaRequirementViolationSamplesBinding",
      "description": "Specifies a samples query and bind its result to a variable which will be used in the `condition`."
    },
    "GoogleCloudDiscoveryengineV1alphaTrainCustomModelResponse": {
      "type": "object",
      "properties": {
        "errorConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig"
        },
        "errorSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the data."
        },
        "modelName": {
          "type": "string",
          "description": "Fully qualified name of the CustomTuningModel."
        },
        "modelStatus": {
          "type": "string",
          "description": "The trained model status. Possible values are: * **bad-data**: The training data quality is bad. * **no-improvement**: Tuning didn't improve performance. Won't deploy. * **in-progress**: Model training job creation is in progress. * **training**: Model is actively training. * **evaluating**: The model is evaluating trained metrics. * **indexing**: The model trained metrics are indexing. * **ready**: The model is ready for serving."
        },
        "metrics": {
          "additionalProperties": {
            "format": "double",
            "type": "number"
          },
          "description": "The metrics of the trained model.",
          "type": "object"
        }
      },
      "description": "Response of the TrainCustomModelRequest. This message is returned by the google.longrunning.Operations.response field.",
      "id": "GoogleCloudDiscoveryengineV1alphaTrainCustomModelResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContext": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContext",
      "description": "Document context.",
      "properties": {
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        },
        "content": {
          "description": "Document content to be used for answer generation.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigDigitalParsingConfig": {
      "description": "The digital parsing configurations for documents.",
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigDigitalParsingConfig",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponse": {
      "properties": {
        "redirectUri": {
          "description": "The URI of a customer-defined redirect page. If redirect action is triggered, no search is performed, and only redirect_uri and attribution_token are set in the response.",
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSessionInfo",
          "description": "Session information. Only set if SearchRequest.session is provided. See its description for more details."
        },
        "searchLinkPromotions": {
          "type": "array",
          "description": "Promotions for site search.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchLinkPromotion"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as SearchRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "semanticState": {
          "enum": [
            "SEMANTIC_STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "Semantic search was disabled for this search response.",
            "Semantic search was enabled for this search response."
          ],
          "readOnly": true,
          "description": "Output only. Indicates the semantic state of the search response."
        },
        "summary": {
          "description": "A summary as part of the search results. This field is only returned if SearchRequest.ContentSearchSpec.summary_spec is set.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummary"
        },
        "facets": {
          "description": "Results of facets requested by user.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseFacet"
          },
          "type": "array"
        },
        "attributionToken": {
          "description": "A unique search token. This should be included in the UserEvent logs resulting from this search, which enables accurate attribution of search model performance. This also helps to identify a request during the customer support scenarios.",
          "type": "string"
        },
        "naturalLanguageQueryUnderstandingInfo": {
          "description": "Output only. Natural language query understanding information for the returned results.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfo",
          "readOnly": true
        },
        "geoSearchDebugInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseGeoSearchDebugInfo"
          }
        },
        "correctedQuery": {
          "description": "Contains the spell corrected query, if found. If the spell correction type is AUTOMATIC, then the search results are based on corrected_query. Otherwise the original query is used for search.",
          "type": "string"
        },
        "appliedControls": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Controls applied as part of the Control service.",
          "type": "array"
        },
        "guidedSearchResult": {
          "description": "Guided search result.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseGuidedSearchResult"
        },
        "results": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSearchResult"
          },
          "type": "array",
          "description": "A list of matched documents. The order represents the ranking."
        },
        "oneBoxResults": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseOneBoxResult"
          },
          "type": "array",
          "description": "A list of One Box results. There can be multiple One Box results of different types."
        },
        "suggestedQuery": {
          "description": "Corrected query with low confidence, AKA did you mean query. Compared with corrected_query, this field is set when SpellCorrector returned a response, but FPR(full page replacement) is not triggered because the corrction is of low confidence(eg, reversed because there are matches of the original query in document corpus).",
          "type": "string"
        },
        "queryExpansionInfo": {
          "description": "Query expansion information for the returned results.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseQueryExpansionInfo"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The estimated total count of matched items irrespective of pagination. The count of results returned by pagination may be less than the total_size that matches."
        }
      },
      "type": "object",
      "description": "Response message for SearchService.Search method.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaUserStore": {
      "properties": {
        "enableLicenseAutoRegister": {
          "description": "Optional. Whether to enable license auto register for users in this User Store. If true, new users will automatically register under the default license config as long as the default license config has seats left.",
          "type": "boolean"
        },
        "name": {
          "description": "Immutable. The full resource name of the User Store, in the format of `projects/{project}/locations/{location}/userStores/{user_store}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the User Store.",
          "type": "string"
        },
        "enableExpiredLicenseAutoUpdate": {
          "description": "Optional. Whether to enable license auto update for users in this User Store. If true, users with expired licenses will automatically be updated to use the default license config as long as the default license config has seats left.",
          "type": "boolean"
        },
        "defaultLicenseConfig": {
          "description": "Optional. The default subscription LicenseConfig for the UserStore, if UserStore.enable_license_auto_register is true, new users will automatically register under the default subscription. If default LicenseConfig doesn't have remaining license seats left, new users will not be assigned with license and will be blocked for Vertex AI Search features. This is used if `license_assignment_tier_rules` is not configured.",
          "type": "string"
        }
      },
      "description": "Configures metadata that is used for End User entities.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaUserStore"
    },
    "GoogleCloudNotebooklmV1alphaShareNotebookResponse": {
      "description": "Response for NotebookService.ShareNotebook method.",
      "id": "GoogleCloudNotebooklmV1alphaShareNotebookResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.DisableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSubmitProgramsEvaluationsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaSubmitProgramsEvaluationsResponse",
      "description": "Response message for AlphaEvolveService.SubmitProgramsEvaluations.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ProjectServiceTerms": {
      "id": "GoogleCloudDiscoveryengineV1ProjectServiceTerms",
      "type": "object",
      "properties": {
        "declineTime": {
          "type": "string",
          "description": "The last time when the project declined or revoked the agreement to terms of service.",
          "format": "google-datetime"
        },
        "id": {
          "type": "string",
          "description": "The unique identifier of this terms of service. Available terms: * `GA_DATA_USE_TERMS`: [Terms for data use](https://cloud.google.com/retail/data-use-terms). When using this as `id`, the acceptable version to provide is `2022-11-23`."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "TERMS_ACCEPTED",
            "TERMS_PENDING",
            "TERMS_DECLINED"
          ],
          "description": "Whether the project has accepted/rejected the service terms or it is still pending.",
          "type": "string",
          "enumDescriptions": [
            "The default value of the enum. This value is not actually used.",
            "The project has given consent to the terms of service.",
            "The project is pending to review and accept the terms of service.",
            "The project has declined or revoked the agreement to terms of service."
          ]
        },
        "acceptTime": {
          "description": "The last time when the project agreed to the terms of service.",
          "type": "string",
          "format": "google-datetime"
        },
        "version": {
          "description": "The version string of the terms of service. For acceptable values, see the comments for id above.",
          "type": "string"
        }
      },
      "description": "Metadata about the terms of service."
    },
    "GoogleCloudDiscoveryengineV1betaSchema": {
      "type": "object",
      "description": "Defines the structure and layout of a type of document data.",
      "id": "GoogleCloudDiscoveryengineV1betaSchema",
      "properties": {
        "structSchema": {
          "description": "The structured representation of the schema.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "name": {
          "description": "Immutable. The full resource name of the schema, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/schemas/{schema}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "jsonSchema": {
          "description": "The JSON representation of the schema.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaTrainCustomModelMetadata": {
      "description": "Metadata related to the progress of the TrainCustomModel operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaTrainCustomModelMetadata",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfo": {
      "type": "object",
      "description": "Chunk information.",
      "properties": {
        "chunk": {
          "type": "string",
          "description": "Chunk resource name."
        },
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        },
        "documentMetadata": {
          "description": "Metadata of the document from the current chunk.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfoDocumentMetadata"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfo"
    },
    "GoogleCloudDiscoveryengineV1alphaProject": {
      "properties": {
        "configurableBillingStatus": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatus",
          "description": "Output only. The current status of the project's configurable billing.",
          "readOnly": true
        },
        "serviceTermsMap": {
          "description": "Output only. A map of terms of services. The key is the `id` of ServiceTerms.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProjectServiceTerms"
          },
          "type": "object"
        },
        "provisionCompletionTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when this project is successfully provisioned. Empty value means this project is still provisioning and is not ready for use.",
          "format": "google-datetime"
        },
        "customerProvidedConfig": {
          "description": "Optional. Customer provided configurations.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfig"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when this project is created."
        },
        "name": {
          "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaProject",
      "type": "object",
      "description": "Metadata and configurations for a Google Cloud project in the service."
    },
    "GoogleCloudDiscoveryengineV1alphaListSchemasResponse": {
      "properties": {
        "schemas": {
          "type": "array",
          "description": "The Schemas.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSchema"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListSchemasRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for SchemaService.ListSchemas method.",
      "id": "GoogleCloudDiscoveryengineV1alphaListSchemasResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteCmekConfigMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteCmekConfigMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the CmekConfigService.DeleteCmekConfig operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCreateTargetSiteMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaCreateTargetSiteMetadata",
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaTrainCustomModelResponse": {
      "properties": {
        "metrics": {
          "additionalProperties": {
            "type": "number",
            "format": "double"
          },
          "type": "object",
          "description": "The metrics of the trained model."
        },
        "modelName": {
          "description": "Fully qualified name of the CustomTuningModel.",
          "type": "string"
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig",
          "description": "Echoes the destination for the complete errors in the request if set."
        },
        "errorSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the data."
        },
        "modelStatus": {
          "description": "The trained model status. Possible values are: * **bad-data**: The training data quality is bad. * **no-improvement**: Tuning didn't improve performance. Won't deploy. * **in-progress**: Model training job creation is in progress. * **training**: Model is actively training. * **evaluating**: The model is evaluating trained metrics. * **indexing**: The model trained metrics are indexing. * **ready**: The model is ready for serving.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response of the TrainCustomModelRequest. This message is returned by the google.longrunning.Operations.response field.",
      "id": "GoogleCloudDiscoveryengineV1betaTrainCustomModelResponse"
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig": {
      "properties": {
        "ocrParsingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigOcrParsingConfig",
          "description": "Configurations applied to OCR parser. Currently it only applies to PDFs."
        },
        "digitalParsingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigDigitalParsingConfig",
          "description": "Configurations applied to digital parser."
        },
        "layoutParsingConfig": {
          "description": "Configurations applied to layout parser.",
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigLayoutParsingConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig",
      "type": "object",
      "description": "Related configurations applied to a specific type of document parser."
    },
    "GoogleCloudDiscoveryengineV1alphaListEvaluationResultsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListEvaluationResultsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "evaluationResults": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaListEvaluationResultsResponseEvaluationResult"
          },
          "description": "The evaluation results for the SampleQuerys.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaListEvaluationResultsResponse",
      "description": "Response message for EvaluationService.ListEvaluationResults method."
    },
    "GoogleApiDistributionBucketOptionsLinear": {
      "description": "Specifies a linear sequence of buckets that all have the same width (except overflow and underflow). Each bucket represents a constant absolute uncertainty on the specific value in the bucket. There are `num_finite_buckets + 2` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 <= i < N-1): offset + (width * i). Lower bound (1 <= i < N): offset + (width * (i - 1)).",
      "id": "GoogleApiDistributionBucketOptionsLinear",
      "type": "object",
      "properties": {
        "width": {
          "description": "Must be greater than 0.",
          "type": "number",
          "format": "double"
        },
        "offset": {
          "type": "number",
          "description": "Lower bound of the first bucket.",
          "format": "double"
        },
        "numFiniteBuckets": {
          "description": "Must be greater than 0.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaConversationMessage": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Message creation timestamp."
        },
        "userInput": {
          "description": "User text input.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaTextInput"
        },
        "reply": {
          "description": "Search reply.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaReply"
        }
      },
      "description": "Defines a conversation message.",
      "id": "GoogleCloudDiscoveryengineV1alphaConversationMessage"
    },
    "GoogleCloudDiscoveryengineV1betaControl": {
      "description": "Defines a conditioned behavior to employ during serving. Must be attached to a ServingConfig to be considered at serving time. Permitted actions dependent on `SolutionType`.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaControl",
      "properties": {
        "conditions": {
          "description": "Determines when the associated action will trigger. Omit to always apply the action. Currently only a single condition may be specified. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCondition"
          }
        },
        "promoteAction": {
          "description": "Promote certain links based on predefined trigger queries.",
          "$ref": "GoogleCloudDiscoveryengineV1betaControlPromoteAction"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human readable name. The identifier used in UI views. Must be UTF-8 encoded string. Length limit is 128 characters. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "filterAction": {
          "description": "Defines a filter-type control Currently not supported by Recommendation",
          "$ref": "GoogleCloudDiscoveryengineV1betaControlFilterAction"
        },
        "solutionType": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ],
          "description": "Required. Immutable. What solution the control belongs to. Must be compatible with vertical of resource. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "name": {
          "description": "Immutable. Fully qualified name `projects/*/locations/global/dataStore/*/controls/*`",
          "type": "string"
        },
        "redirectAction": {
          "$ref": "GoogleCloudDiscoveryengineV1betaControlRedirectAction",
          "description": "Defines a redirect-type control."
        },
        "boostAction": {
          "$ref": "GoogleCloudDiscoveryengineV1betaControlBoostAction",
          "description": "Defines a boost-type control"
        },
        "synonymsAction": {
          "description": "Treats a group of terms as synonyms of one another.",
          "$ref": "GoogleCloudDiscoveryengineV1betaControlSynonymsAction"
        },
        "associatedServingConfigIds": {
          "description": "Output only. List of all ServingConfig IDs this control is attached to. May take up to 10 minutes to update after changes.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "useCases": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Value used when unset. Will not occur in CSS.",
              "Search use case. Expects the traffic has a non-empty query.",
              "Browse use case. Expects the traffic has an empty query."
            ],
            "type": "string",
            "enum": [
              "SEARCH_USE_CASE_UNSPECIFIED",
              "SEARCH_USE_CASE_SEARCH",
              "SEARCH_USE_CASE_BROWSE"
            ]
          },
          "description": "Specifies the use case for the control. Affects what condition fields can be set. Only applies to SOLUTION_TYPE_SEARCH. Currently only allow one use case per control. Must be set when solution_type is SolutionType.SOLUTION_TYPE_SEARCH."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateRequest": {
      "properties": {
        "crawlRateScope": {
          "type": "string",
          "description": "Required. The scope of the crawl rate change. Currently, only domain and host name are supported. A domain name example: `example.com`. A host name example: `www.example.com`. Please do not include `/` in the domain or host name."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateRequest",
      "description": "Request message for CrawlRateManagementService.RemoveDedicatedCrawlRate method. The user can remove the dedicated crawl rate for a crawl_rate_scope they own, and Google will fall back to organic crawl, and the crawl rate will be determined by Google."
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfigUiSettingsSearchAddonSpec": {
      "properties": {
        "kpiPersonalizationAddOnDisabled": {
          "type": "boolean",
          "description": "Optional. If true, disables event re-ranking and personalization to optimize KPIs & personalize results."
        },
        "semanticAddOnDisabled": {
          "type": "boolean",
          "description": "Optional. If true, semantic add-on is disabled. Semantic add-on includes embeddings and jetstream."
        },
        "generativeAnswerAddOnDisabled": {
          "description": "Optional. If true, generative answer add-on is disabled. Generative answer add-on includes natural language to filters and simple answers.",
          "type": "boolean"
        }
      },
      "description": "SearchAddonSpec is used to disable add-ons for search. By default, if this field is not specified, add-ons are enabled wherever applicable.",
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfigUiSettingsSearchAddonSpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfig": {
      "description": "Related configurations applied to a specific type of document parser.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfig",
      "properties": {
        "digitalParsingConfig": {
          "description": "Configurations applied to digital parser.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigDigitalParsingConfig"
        },
        "layoutParsingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigLayoutParsingConfig",
          "description": "Configurations applied to layout parser."
        },
        "ocrParsingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigOcrParsingConfig",
          "description": "Configurations applied to OCR parser. Currently it only applies to PDFs."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DisableAdvancedSiteSearchResponse": {
      "id": "GoogleCloudDiscoveryengineV1DisableAdvancedSiteSearchResponse",
      "description": "Response message for SiteSearchEngineService.DisableAdvancedSiteSearch method.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultSnippetInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultSnippetInfo",
      "type": "object",
      "properties": {
        "snippet": {
          "description": "Snippet content.",
          "type": "string"
        },
        "snippetStatus": {
          "description": "Status of the snippet defined by the search team.",
          "type": "string"
        }
      },
      "description": "Snippet information."
    },
    "GoogleCloudDiscoveryengineV1alphaGetConnectorSecretResponse": {
      "properties": {
        "tenantId": {
          "description": "The tenant id of the associated Connector.",
          "type": "string"
        },
        "redirectUri": {
          "type": "string",
          "description": "The redirect url of the associated Connector."
        },
        "instance": {
          "type": "string",
          "description": "The instance name of the associated Connector."
        },
        "app": {
          "type": "string",
          "description": "The app name of the associated Connector."
        },
        "clientId": {
          "type": "string",
          "description": "The client id of the associated Connector."
        },
        "authorizationUri": {
          "type": "string",
          "description": "The authorization uri for the data connector."
        }
      },
      "description": "Response message for DataConnectorService.GetConnectorSecret.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaGetConnectorSecretResponse"
    },
    "GoogleTypeTimeZone": {
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        }
      },
      "id": "GoogleTypeTimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "GoogleCloudDiscoveryengineV1alphaRequirement": {
      "description": "A data requirement.",
      "id": "GoogleCloudDiscoveryengineV1alphaRequirement",
      "type": "object",
      "properties": {
        "type": {
          "description": "The requirement type, used as an identifier. Must be unique. The type should prefix with service name to avoid possible collision. It's encouraged to use natural hierarchical grouping for similar requirements. Examples: * `library.googleapis.com/books/min_available_books` * `discoveryengine.googleapis.com/media_rec/recommended_for_you/conversion_rate`",
          "type": "string"
        },
        "metricBindings": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRequirementMetricBinding"
          },
          "type": "array",
          "description": "A list of the metric bindings to be used in `condition`."
        },
        "condition": {
          "description": "The condition for evaluating the requirement result. Variables in the expression should be provided by `metrics_bindings` or `threshold_bindings`. Where `metrics_bindings` are used for computed metrics and `threshold_bindings` are used to define thresholds for corresponding `metric_bindings`.",
          "$ref": "GoogleTypeExpr"
        },
        "severity": {
          "description": "The severity of errors if the requirement is not met. It must be ordered from the most strict to the least strict. Examples: * `BLOCKING` * `CRITICAL` * `WARNING` All thresholds in the requirement must have all the severity here.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "description": "The name of the requirement.",
          "type": "string"
        },
        "violationSamplesBindings": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRequirementViolationSamplesBinding"
          },
          "type": "array",
          "description": "A list of the metric bindings to be used in `condition`."
        },
        "description": {
          "type": "string",
          "description": "The description of the requirement."
        },
        "thresholdBindings": {
          "description": "A list of threshold bindings to be used in `condition`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRequirementThresholdBinding"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEngineSearchEngineConfig": {
      "description": "Configurations for a Search Engine.",
      "type": "object",
      "properties": {
        "searchAddOns": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value when the enum is unspecified. This is invalid to use.",
              "Large language model add-on."
            ],
            "enum": [
              "SEARCH_ADD_ON_UNSPECIFIED",
              "SEARCH_ADD_ON_LLM"
            ]
          },
          "type": "array",
          "description": "The add-on that this search engine enables."
        },
        "searchTier": {
          "enum": [
            "SEARCH_TIER_UNSPECIFIED",
            "SEARCH_TIER_STANDARD",
            "SEARCH_TIER_ENTERPRISE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value when the enum is unspecified. This is invalid to use.",
            "Standard tier.",
            "Enterprise tier."
          ],
          "description": "The search feature tier of this engine. Different tiers might have different pricing. To learn more, check the pricing documentation. Defaults to SearchTier.SEARCH_TIER_STANDARD if not specified."
        },
        "requiredSubscriptionTier": {
          "type": "string",
          "description": "Optional. The required subscription tier of this engine. If the required subscription tier is search, user with higher license tier like assist can still access the standalone app associated with this engine. Web grounding feature is only available on the app if it is set as SubscriptionTier.SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT.",
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier.",
            "Represents the Gemini Enterprise Consumption-only tier: $0 subscription billed purely on usage (PAYG).",
            "Gemini Enterprise EDU tier for government in emerging markets."
          ],
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
            "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT",
            "SUBSCRIPTION_TIER_NOTEBOOK_LM",
            "SUBSCRIPTION_TIER_FRONTLINE_WORKER",
            "SUBSCRIPTION_TIER_AGENTSPACE_STARTER",
            "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS",
            "SUBSCRIPTION_TIER_ENTERPRISE",
            "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING",
            "SUBSCRIPTION_TIER_EDU",
            "SUBSCRIPTION_TIER_EDU_PRO",
            "SUBSCRIPTION_TIER_EDU_EMERGING",
            "SUBSCRIPTION_TIER_EDU_PRO_EMERGING",
            "SUBSCRIPTION_TIER_FRONTLINE_STARTER",
            "SUBSCRIPTION_TIER_CONSUMPTION_ONLY",
            "SUBSCRIPTION_TIER_EDU_GOV_EMERGING"
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaEngineSearchEngineConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaBigQueryDestination": {
      "description": "The BigQuery output destination configuration.",
      "id": "GoogleCloudDiscoveryengineV1alphaBigQueryDestination",
      "properties": {
        "tableId": {
          "description": "Required. The table_id of exported BigQuery table.",
          "type": "string"
        },
        "datasetId": {
          "description": "Required. The ID of a BigQuery Dataset.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleApiMetric": {
      "type": "object",
      "properties": {
        "type": {
          "description": "An existing metric type, see google.api.MetricDescriptor. For example, `custom.googleapis.com/invoice/paid/amount`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The set of label values that uniquely identify this metric. All labels listed in the `MetricDescriptor` must be assigned values."
        }
      },
      "id": "GoogleApiMetric",
      "description": "A specific metric, identified by specifying values for all of the labels of a `MetricDescriptor`."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestAnswerGenerationSpecPromptSpec": {
      "description": "Answer generation prompt specification.",
      "type": "object",
      "properties": {
        "preamble": {
          "type": "string",
          "description": "Customized preamble."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestAnswerGenerationSpecPromptSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaCreateTargetSiteRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaCreateTargetSiteRequest",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. Parent resource name of TargetSite, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`."
        },
        "targetSite": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaTargetSite",
          "description": "Required. The TargetSite to create."
        }
      },
      "description": "Request message for SiteSearchEngineService.CreateTargetSite method."
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfigAccessSettings": {
      "properties": {
        "enableWebApp": {
          "description": "Whether web app access is enabled.",
          "type": "boolean"
        },
        "workforceIdentityPoolProvider": {
          "type": "string",
          "description": "Optional. The workforce identity pool provider used to access the widget."
        },
        "languageCode": {
          "description": "Optional. Language code for user interface. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). If unset, the default language code is \"en-US\".",
          "type": "string"
        },
        "allowlistedDomains": {
          "description": "List of domains that are allowed to integrate the search widget.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowPublicAccess": {
          "description": "Whether public unauthenticated access is allowed.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfigAccessSettings",
      "description": "Describes widget access settings."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseOneBoxResult": {
      "properties": {
        "oneBoxType": {
          "description": "The type of One Box result.",
          "type": "string",
          "enum": [
            "ONE_BOX_TYPE_UNSPECIFIED",
            "PEOPLE",
            "ORGANIZATION",
            "SLACK",
            "KNOWLEDGE_GRAPH"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "One Box result contains people results.",
            "One Box result contains organization results.",
            "One Box result contains slack results.",
            "One Box result contains Knowledge Graph search responses."
          ]
        },
        "searchResults": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSearchResult"
          },
          "description": "The search results for this One Box.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseOneBoxResult",
      "description": "OneBoxResult is a holder for all results of specific type that we want to display in UI differently.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantToolInfo": {
      "description": "Information to identify a tool.",
      "type": "object",
      "properties": {
        "toolDisplayName": {
          "description": "The display name of the tool.",
          "type": "string"
        },
        "toolName": {
          "type": "string",
          "description": "The name of the tool as defined by DataConnectorService.QueryAvailableActions. Note: it's using `action` in the DataConnectorService apis, but they are the same as the `tool` here."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantToolInfo"
    },
    "GoogleCloudDiscoveryengineV1alphaCheckGroundingResponseClaim": {
      "properties": {
        "citationIndices": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "A list of indices (into 'cited_chunks') specifying the citations associated with the claim. For instance [1,3,4] means that cited_chunks[1], cited_chunks[3], cited_chunks[4] are the facts cited supporting for the claim. A citation to a fact indicates that the claim is supported by the fact."
        },
        "startPos": {
          "type": "integer",
          "format": "int32",
          "description": "Position indicating the start of the claim in the answer candidate, measured in bytes. Note that this is not measured in characters and, therefore, must be rendered in the user interface keeping in mind that some characters may take more than one byte. For example, if the claim text contains non-ASCII characters, the start and end positions vary when measured in characters (programming-language-dependent) and when measured in bytes (programming-language-independent)."
        },
        "groundingCheckRequired": {
          "description": "Indicates that this claim required grounding check. When the system decided this claim doesn't require attribution/grounding check, this field will be set to false. In that case, no grounding check was done for the claim and therefore citation_indices should not be returned.",
          "type": "boolean"
        },
        "endPos": {
          "description": "Position indicating the end of the claim in the answer candidate, exclusive, in bytes. Note that this is not measured in characters and, therefore, must be rendered as such. For example, if the claim text contains non-ASCII characters, the start and end positions vary when measured in characters (programming-language-dependent) and when measured in bytes (programming-language-independent).",
          "type": "integer",
          "format": "int32"
        },
        "claimText": {
          "description": "Text for the claim in the answer candidate. Always provided regardless of whether citations or anti-citations are found.",
          "type": "string"
        },
        "score": {
          "type": "number",
          "description": "Confidence score for the claim in the answer candidate, in the range of [0, 1]. This is set only when `CheckGroundingRequest.grounding_spec.enable_claim_level_score` is true.",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Text and citation info for a claim in the answer candidate.",
      "id": "GoogleCloudDiscoveryengineV1alphaCheckGroundingResponseClaim"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecChunkSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecChunkSpec",
      "type": "object",
      "properties": {
        "numPreviousChunks": {
          "type": "integer",
          "format": "int32",
          "description": "The number of previous chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no previous chunks will be returned."
        },
        "numNextChunks": {
          "type": "integer",
          "description": "The number of next chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no next chunks will be returned.",
          "format": "int32"
        }
      },
      "description": "Specifies the chunk spec to be returned from the search response. Only available if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepAction": {
      "properties": {
        "searchAction": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionSearchAction",
          "description": "Search action."
        },
        "observation": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservation",
          "description": "Observation."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepAction",
      "description": "Action."
    },
    "GoogleTypeLatLng": {
      "type": "object",
      "properties": {
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double"
        }
      },
      "id": "GoogleTypeLatLng",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteSitemapMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteSitemapMetadata",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteSitemap operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1alphaDataStore": {
      "description": "DataStore captures global settings and configs at the DataStore level.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDataStore",
      "properties": {
        "displayName": {
          "description": "Required. The data store display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "industryVertical": {
          "type": "string",
          "description": "Immutable. The industry vertical that the data store registers.",
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical.",
            "The healthcare FHIR vertical."
          ],
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA",
            "HEALTHCARE_FHIR"
          ]
        },
        "languageInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaLanguageInfo",
          "description": "Language info for DataStore."
        },
        "billingEstimation": {
          "readOnly": true,
          "description": "Output only. Data size estimation for billing.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreBillingEstimation"
        },
        "federatedSearchConfig": {
          "description": "Optional. If set, this DataStore is a federated search DataStore.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfig"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Input only. The KMS key to be used to protect this DataStore at creation time. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the DataStore will be protected by the KMS key, as indicated in the cmek_config field."
        },
        "identityMappingStore": {
          "description": "Immutable. The fully qualified resource name of the associated IdentityMappingStore. This field can only be set for acl_enabled DataStores with `THIRD_PARTY` or `GSUITE` IdP. Format: `projects/{project}/locations/{location}/identityMappingStores/{identity_mapping_store}`.",
          "type": "string"
        },
        "documentProcessingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig",
          "description": "Configuration for Document understanding and enrichment."
        },
        "contentConfig": {
          "type": "string",
          "description": "Immutable. The content config of the data store. If this field is unset, the server behavior defaults to ContentConfig.NO_CONTENT.",
          "enum": [
            "CONTENT_CONFIG_UNSPECIFIED",
            "NO_CONTENT",
            "CONTENT_REQUIRED",
            "PUBLIC_WEBSITE",
            "GOOGLE_WORKSPACE"
          ],
          "enumDescriptions": [
            "Default value.",
            "Only contains documents without any Document.content.",
            "Only contains documents with Document.content.",
            "The data store is used for public website search.",
            "The data store is used for workspace search. Details of workspace data store are specified in the WorkspaceConfig."
          ]
        },
        "healthcareFhirConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaHealthcareFhirConfig",
          "description": "Optional. Configuration for `HEALTHCARE_FHIR` vertical."
        },
        "idpConfig": {
          "description": "Output only. Data store level identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaIdpConfig",
          "readOnly": true
        },
        "dataProtectionPolicy": {
          "description": "Optional. Specifies the data protection policy for the data store.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataProtectionPolicy"
        },
        "cmekConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaCmekConfig",
          "description": "Output only. CMEK-related information for the DataStore."
        },
        "naturalLanguageQueryUnderstandingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaNaturalLanguageQueryUnderstandingConfig",
          "description": "Optional. Configuration for Natural Language Query Understanding."
        },
        "isInfobotFaqDataStore": {
          "description": "Optional. If set, this DataStore is an Infobot FAQ DataStore.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The full resource name of the data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "solutionTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value.",
              "Used for Recommendations AI.",
              "Used for Discovery Search.",
              "Used for use cases related to the Generative AI agent.",
              "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
              "Used for AI Mode."
            ],
            "enum": [
              "SOLUTION_TYPE_UNSPECIFIED",
              "SOLUTION_TYPE_RECOMMENDATION",
              "SOLUTION_TYPE_SEARCH",
              "SOLUTION_TYPE_CHAT",
              "SOLUTION_TYPE_GENERATIVE_CHAT",
              "SOLUTION_TYPE_AI_MODE"
            ]
          },
          "type": "array",
          "description": "The solutions that the data store enrolls. Available solutions for each industry_vertical: * `MEDIA`: `SOLUTION_TYPE_RECOMMENDATION` and `SOLUTION_TYPE_SEARCH`. * `SITE_SEARCH`: `SOLUTION_TYPE_SEARCH` is automatically enrolled. Other solutions cannot be enrolled."
        },
        "servingConfigDataStore": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreServingConfigDataStore",
          "description": "Optional. Stores serving config at DataStore level."
        },
        "configurableBillingApproachUpdateTime": {
          "description": "Output only. The timestamp when configurable_billing_approach was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "configurableBillingApproach": {
          "enumDescriptions": [
            "Default value. For Spark and non-Spark non-configurable billing approach.",
            "Use the subscription base + overage billing for indexing core for non embedding storage.",
            "Use the consumption pay-as-you-go billing for embedding storage add-on."
          ],
          "type": "string",
          "enum": [
            "CONFIGURABLE_BILLING_APPROACH_UNSPECIFIED",
            "CONFIGURABLE_SUBSCRIPTION_INDEXING_CORE",
            "CONFIGURABLE_CONSUMPTION_EMBEDDING"
          ],
          "description": "Optional. Configuration for configurable billing approach. See"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp the DataStore was created at.",
          "readOnly": true,
          "type": "string"
        },
        "iconUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Provides the icon URI of the data store's connector source, if this is a connector-backed data store. Empty for data stores without an associated connector source. In DataStoreService.ListDataStores and DataStoreService.GetDataStore, this is only populated when DataStoreView.DATA_STORE_VIEW_FULL is requested via ListDataStoresRequest.view or GetDataStoreRequest.view respectively."
        },
        "startingSchema": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSchema",
          "description": "The start schema to use for this DataStore when provisioning it. If unset, a default vertical specialized schema will be used. This field is only used by CreateDataStore API, and will be ignored if used in other APIs. This field will be omitted from all API responses including CreateDataStore API. To retrieve a schema of a DataStore, use SchemaService.GetSchema API instead. The provided schema will be validated against certain rules on schema. Learn more from [this doc](https://cloud.google.com/generative-ai-app-builder/docs/provide-schema)."
        },
        "workspaceConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaWorkspaceConfig",
          "description": "Config to store data store type configuration for workspace data. This must be set when DataStore.content_config is set as DataStore.ContentConfig.GOOGLE_WORKSPACE."
        },
        "aclEnabled": {
          "type": "boolean",
          "description": "Immutable. Whether data in the DataStore has ACL information. If set to `true`, the source data must have ACL. ACL will be ingested when data is ingested by DocumentService.ImportDocuments methods. When ACL is enabled for the DataStore, Document can't be accessed by calling DocumentService.GetDocument or DocumentService.ListDocuments. Currently ACL is only supported in `GENERIC` industry vertical with non-`PUBLIC_WEBSITE` content config."
        },
        "defaultSchemaId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The id of the default Schema associated to this data store."
        },
        "advancedSiteSearchConfig": {
          "description": "Optional. Configuration for advanced site search.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAdvancedSiteSearchConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportDocumentsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaImportDocumentsMetadata",
      "properties": {
        "successCount": {
          "description": "Count of entries that were processed successfully.",
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "failureCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of entries that encountered errors while processing."
        },
        "totalCount": {
          "type": "string",
          "format": "int64",
          "description": "Total count of entries that were processed."
        }
      },
      "description": "Metadata related to the progress of the ImportDocuments operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "properties": {
        "attributeValue": {
          "type": "string",
          "description": "Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`."
        },
        "boostAmount": {
          "type": "number",
          "format": "float",
          "description": "The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "type": "object",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable)."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSearchResult": {
      "properties": {
        "modelScores": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDoubleList"
          },
          "type": "object",
          "description": "Output only. Google provided available scores."
        },
        "rankSignals": {
          "description": "Optional. A set of ranking signals associated with the result.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSearchResultRankSignals"
        },
        "id": {
          "type": "string",
          "description": "Document.id of the searched Document."
        },
        "retrievalSignals": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSearchResultRetrievalSignals",
          "description": "Optional. A set of signals used by the relevance filter meant for use to fine-tune the relevance filter thresholds."
        },
        "chunk": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaChunk",
          "description": "The chunk data in the search response if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS."
        },
        "document": {
          "description": "The document data snippet in the search response. Only fields that are marked as `retrievable` are populated.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocument"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSearchResult",
      "type": "object",
      "description": "Represents the search results."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummarySummaryWithMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummarySummaryWithMetadata",
      "description": "Summary with metadata information.",
      "properties": {
        "blobAttachments": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryBlobAttachment"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Store multimodal data for answer enhancement."
        },
        "citationMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitationMetadata",
          "description": "Citation metadata for given summary."
        },
        "references": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryReference"
          },
          "description": "Document References.",
          "type": "array"
        },
        "summary": {
          "type": "string",
          "description": "Summary text with no citation information."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaIdpConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaIdpConfig",
      "properties": {
        "externalIdpConfig": {
          "description": "External Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1betaIdpConfigExternalIdpConfig"
        },
        "idpType": {
          "enum": [
            "IDP_TYPE_UNSPECIFIED",
            "GSUITE",
            "THIRD_PARTY"
          ],
          "description": "Identity provider type configured.",
          "enumDescriptions": [
            "Default value. ACL search not enabled.",
            "Google 1P provider.",
            "Third party provider."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Identity Provider Config."
    },
    "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigLayoutParsingConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigLayoutParsingConfig",
      "type": "object",
      "description": "The layout parsing configurations for documents.",
      "properties": {
        "excludeHtmlClasses": {
          "description": "Optional. List of HTML classes to exclude from the parsed content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enableTableAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the table during parsing.",
          "type": "boolean"
        },
        "excludeHtmlElements": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of HTML elements to exclude from the parsed content."
        },
        "enableGetProcessedDocument": {
          "description": "Optional. If true, the processed document will be made available for the GetProcessedDocument API.",
          "type": "boolean"
        },
        "enableLlmLayoutParsing": {
          "description": "Optional. If true, the pdf layout will be refined using an LLM.",
          "type": "boolean"
        },
        "enableImageAnnotation": {
          "type": "boolean",
          "description": "Optional. If true, the LLM based annotation is added to the image during parsing."
        },
        "structuredContentTypes": {
          "description": "Optional. Contains the required structure types to extract from the document. Supported values: * `shareholder-structure`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludeHtmlIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of HTML ids to exclude from the parsed content."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequest": {
      "description": "Request message for Import methods.",
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequest",
      "type": "object",
      "properties": {
        "idField": {
          "type": "string",
          "description": "The field indicates the ID field or column to be used as unique IDs of the documents. For GcsSource it is the key of the JSON field. For instance, `my_id` for JSON `{\"my_id\": \"some_uuid\"}`. For others, it may be the column name of the table where the unique ids are stored. The values of the JSON field or the table column are used as the Document.ids. The JSON field or the table column must be of string type, and the values must be set as valid strings conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) with 1-63 characters. Otherwise, documents without valid IDs fail to be imported. Only set this field when auto_generate_ids is unset or set as `false`. Otherwise, an INVALID_ARGUMENT error is thrown. If it is unset, a default value `_id` is used when importing from the allowed data sources. Supported data sources: * GcsSource. GcsSource.data_schema must be `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown. * BigQuerySource. BigQuerySource.data_schema must be `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown. * SpannerSource. * CloudSqlSource. * BigtableSource."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Indicates which fields in the provided imported documents to update. If not set, the default is to update all fields.",
          "type": "string"
        },
        "gcsSource": {
          "description": "Cloud Storage location for the input content.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaGcsSource"
        },
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig"
        },
        "fhirStoreSource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaFhirStoreSource",
          "description": "FhirStore input source."
        },
        "inlineSource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequestInlineSource",
          "description": "The Inline source for the input content for documents."
        },
        "bigquerySource": {
          "description": "BigQuery input source.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaBigQuerySource"
        },
        "autoGenerateIds": {
          "description": "Whether to automatically generate IDs for the documents if absent. If set to `true`, Document.ids are automatically generated based on the hash of the payload, where IDs may not be consistent during multiple imports. In which case ReconciliationMode.FULL is highly recommended to avoid duplicate contents. If unset or set to `false`, Document.ids have to be specified using id_field, otherwise, documents without IDs fail to be imported. Supported data sources: * GcsSource. GcsSource.data_schema must be `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown. * BigQuerySource. BigQuerySource.data_schema must be `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown. * SpannerSource. * CloudSqlSource. * FirestoreSource. * BigtableSource.",
          "type": "boolean"
        },
        "cloudSqlSource": {
          "description": "Cloud SQL input source.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCloudSqlSource"
        },
        "alloyDbSource": {
          "description": "AlloyDB input source.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlloyDbSource"
        },
        "firestoreSource": {
          "description": "Firestore input source.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaFirestoreSource"
        },
        "reconciliationMode": {
          "enum": [
            "RECONCILIATION_MODE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL"
          ],
          "description": "The mode of reconciliation between existing documents and the documents to be imported. Defaults to ReconciliationMode.INCREMENTAL.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to `INCREMENTAL`.",
            "Inserts new documents or updates existing documents.",
            "Calculates diff and replaces the entire document dataset. Existing documents may be deleted if they are not present in the source location. When using this mode, there won't be any downtime on the dataset targeted. Any document that should remain unchanged or that should be updated will continue serving while the operation is running."
          ]
        },
        "bigtableSource": {
          "description": "Cloud Bigtable input source.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaBigtableSource"
        },
        "forceRefreshContent": {
          "description": "Optional. Whether to force refresh the unstructured content of the documents. If set to `true`, the content part of the documents will be refreshed regardless of the update status of the referencing content.",
          "type": "boolean"
        },
        "spannerSource": {
          "description": "Spanner input source.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSpannerSource"
        }
      }
    },
    "GoogleCloudNotebooklmV1alphaCreateAudioOverviewRequest": {
      "properties": {
        "generationOptions": {
          "$ref": "GoogleCloudNotebooklmV1alphaAudioOverviewGenerationOptions",
          "description": "Options for the audio overview generation."
        }
      },
      "id": "GoogleCloudNotebooklmV1alphaCreateAudioOverviewRequest",
      "description": "Request for AudioOverviewService.CreateAudioOverview method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaChunkDocumentMetadata": {
      "properties": {
        "uri": {
          "description": "Uri of the document.",
          "type": "string"
        },
        "title": {
          "description": "Title of the document.",
          "type": "string"
        },
        "structData": {
          "description": "Data representation. The structured JSON data for the document. It should conform to the registered Schema or an `INVALID_ARGUMENT` error is thrown.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "mimeType": {
          "description": "The mime type of the document. https://www.iana.org/assignments/media-types/media-types.xhtml.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Document metadata contains the information of the document of the current chunk.",
      "id": "GoogleCloudDiscoveryengineV1alphaChunkDocumentMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaIdentityMappingStore": {
      "properties": {
        "cmekConfig": {
          "description": "Output only. CMEK-related information for the Identity Mapping Store.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCmekConfig",
          "readOnly": true
        },
        "idpConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaIdpConfig",
          "description": "Output only. The identity provider configuration this is bound to translate the identity mapping entries within."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Input only. The KMS key to be used to protect this Identity Mapping Store at creation time. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the Identity Mapping Store will be protected by the KMS key, as indicated in the cmek_config field."
        },
        "name": {
          "description": "Immutable. The full resource name of the identity mapping store. Format: `projects/{project}/locations/{location}/identityMappingStores/{identity_mapping_store}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaIdentityMappingStore",
      "type": "object",
      "description": "Identity Mapping Store which contains Identity Mapping Entries."
    },
    "GoogleCloudNotebooklmV1alphaYoutubeMetadata": {
      "type": "object",
      "id": "GoogleCloudNotebooklmV1alphaYoutubeMetadata",
      "description": "Metadata about a youtube video source.",
      "properties": {
        "videoId": {
          "description": "Output only. The id of the youtube video.",
          "type": "string",
          "readOnly": true
        },
        "channelName": {
          "type": "string",
          "description": "Output only. The channel name of the youtube video.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaBigQuerySource": {
      "description": "BigQuery source import data from.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaBigQuerySource",
      "properties": {
        "datasetId": {
          "description": "Required. The BigQuery data set to copy the data from with a length limit of 1,024 characters.",
          "type": "string"
        },
        "partitionDate": {
          "$ref": "GoogleTypeDate",
          "description": "BigQuery time partitioned table's _PARTITIONDATE in YYYY-MM-DD format."
        },
        "projectId": {
          "type": "string",
          "description": "The project ID or the project number that contains the BigQuery source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request."
        },
        "tableId": {
          "description": "Required. The BigQuery table to copy the data from with a length limit of 1,024 characters.",
          "type": "string"
        },
        "gcsStagingDir": {
          "type": "string",
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the BigQuery export to a specific Cloud Storage directory."
        },
        "dataSchema": {
          "type": "string",
          "description": "The schema to use when parsing the data from the source. Supported values for user event imports: * `user_event` (default): One UserEvent per row. Supported values for document imports: * `document` (default): One Document format per row. Each document must have a valid Document.id and one of Document.json_data or Document.struct_data. * `custom`: One custom data per row in arbitrary format that conforms to the defined Schema of the data store. This can only be used by the GENERIC Data Store vertical."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteIdentityMappingStoreMetadata": {
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the IdentityMappingStoreService.DeleteIdentityMappingStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteIdentityMappingStoreMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaReplyReference": {
      "id": "GoogleCloudDiscoveryengineV1alphaReplyReference",
      "properties": {
        "start": {
          "type": "integer",
          "description": "Anchor text start index.",
          "format": "int32"
        },
        "uri": {
          "type": "string",
          "description": "URI link reference."
        },
        "end": {
          "description": "Anchor text end index.",
          "type": "integer",
          "format": "int32"
        },
        "anchorText": {
          "description": "Anchor text.",
          "type": "string"
        }
      },
      "description": "Defines reference in reply.",
      "type": "object",
      "deprecated": true
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfigUiSettingsModelConfigInfoResolvedModelAdminView": {
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfigUiSettingsModelConfigInfoResolvedModelAdminView",
      "properties": {
        "adminOverridable": {
          "description": "Output only. Whether the admin can toggle this model's enabled/disabled state via `UiSettings.model_configs`. Derived from `MODEL_TAG_ADMIN_OVERRIDABLE`. When false, the model is \"forced\" and its state is governed by `enabled_by_default`.",
          "type": "boolean",
          "readOnly": true
        },
        "enabledByDefault": {
          "description": "Output only. Whether the model is enabled when the admin has set no explicit override in `UiSettings.model_configs`. Derived from `MODEL_TAG_ENABLED_BY_DEFAULT`.",
          "readOnly": true,
          "type": "boolean"
        },
        "regions": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Regions where this model is launched."
        }
      },
      "description": "Admin-surface metadata. Populated only when the request originates from the Cloud Console admin \"Feature Control\" page; left unset for end-user surfaces (Web, Mobile). Lets the admin page render its toggle table directly from the backend instead of a hardcoded client-side registry.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistant": {
      "type": "object",
      "properties": {
        "knowledgeCatalogEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether Knowledge Catalog is enabled for this specific assistant. When enabled, it powers discovery context using organizational data."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Represents the time when this Assistant was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "customerPolicy": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantCustomerPolicy",
          "description": "Optional. Customer policy for the assistant."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Represents the time when this Assistant was most recently updated.",
          "readOnly": true
        },
        "webGroundingType": {
          "description": "Optional. The type of web grounding to use.",
          "type": "string",
          "enum": [
            "WEB_GROUNDING_TYPE_UNSPECIFIED",
            "WEB_GROUNDING_TYPE_DISABLED",
            "WEB_GROUNDING_TYPE_GOOGLE_SEARCH",
            "WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH"
          ],
          "enumDescriptions": [
            "Default, unspecified setting. This is the same as disabled.",
            "Web grounding is disabled.",
            "Grounding with Google Search is enabled.",
            "Grounding with Enterprise Web Search is enabled."
          ]
        },
        "enabledTools": {
          "description": "Optional. Note: not implemented yet. Use enabled_actions instead. The enabled tools on this assistant. The keys are connector name, for example \"projects/{projectId}/locations/{locationId}/collections/{collectionId}/dataconnector The values consist of admin enabled tools towards the connector instance. Admin can selectively enable multiple tools on any of the connector instances that they created in the project. For example {\"jira1ConnectorName\": [(toolId1, \"createTicket\"), (toolId2, \"transferTicket\")], \"gmail1ConnectorName\": [(toolId3, \"sendEmail\"),..] }",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantToolList"
          },
          "type": "object"
        },
        "generationConfig": {
          "description": "Optional. Configuration for the generation of the assistant response.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGenerationConfig"
        },
        "disableLocationContext": {
          "description": "Optional. Indicates whether to disable user location context. By default, user location context is enabled.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Resource name of the assistant. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}` It must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description for additional information. Expected to be shown on the configuration UI, not to the users of the assistant."
        },
        "defaultWebGroundingToggleOff": {
          "description": "Optional. This field controls the default web grounding toggle for end users if `web_grounding_type` is set to `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`. By default, this field is set to false. If `web_grounding_type` is `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`, end users will have web grounding enabled by default on UI. If true, grounding toggle will be disabled by default on UI. End users can still enable web grounding in the UI if web grounding is enabled.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. The assistant display name. It must be a UTF-8 encoded string with a length limit of 128 characters.",
          "type": "string"
        }
      },
      "description": "Discovery Engine Assistant resource.",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistant"
    },
[...]
