{
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "title": "Discovery Engine API",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "batchPath": "batch",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "version": "v1",
  "endpoints": [
    {
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "location": "in",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://discoveryengine.europe-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://discoveryengine.ca.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "ca"
    }
  ],
  "servicePath": "",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf. Also view the artifacts you access through NotebookLM Enterprise."
        }
      }
    }
  },
  "description": "Discovery Engine API.",
  "resources": {
    "projects": {
      "methods": {
        "provision": {
          "id": "discoveryengine.projects.provision",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`."
            }
          },
          "path": "v1/{+name}:provision",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite",
            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
          ],
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleCloudDiscoveryengineV1ProvisionProjectRequest"
          },
          "description": "Provisions the project resource. During the process, related systems will get prepared and initialized. Caller must read the [Terms for data use](https://cloud.google.com/retail/data-use-terms), and optionally specify in request to provide consent to that service terms.",
          "flatPath": "v1/projects/{projectsId}:provision"
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "updateCmekConfig": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cmekConfig",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfig$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`.",
                  "required": true
                },
                "setDefault": {
                  "location": "query",
                  "description": "Set the following CmekConfig as the default to be used for child resources if one is not specified.",
                  "type": "boolean"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1CmekConfig"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Provisions a CMEK key for use in a location of a customer's project. This method will also conduct location validation on the provided cmekConfig to make sure the key is valid and can be used in the selected location.",
              "id": "discoveryengine.projects.locations.updateCmekConfig",
              "path": "v1/{+name}"
            },
            "updateAclConfig": {
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1AclConfig"
              },
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1AclConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1/{+name}",
              "id": "discoveryengine.projects.locations.updateAclConfig",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/aclConfig$",
                  "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                  "required": true
                }
              },
              "description": "Default ACL configuration for use in a location of a customer's project. Updates will only reflect to new data stores. Existing data stores will still use the old value.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/aclConfig"
            },
            "getAclConfig": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/aclConfig",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Resource name of AclConfig, such as `projects/*/locations/*/aclConfig`. If the caller does not have permission to access the AclConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                  "pattern": "^projects/[^/]+/locations/[^/]+/aclConfig$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1AclConfig"
              },
              "httpMethod": "GET",
              "id": "discoveryengine.projects.locations.getAclConfig",
              "description": "Gets the AclConfig."
            },
            "setUpDataConnector": {
              "path": "v1/{+parent}:setUpDataConnector",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:setUpDataConnector",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent of Collection, in the format of `projects/{project}/locations/{location}`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Creates a Collection and sets up the DataConnector for it. To stop a DataConnector after setup, use the CollectionService.DeleteCollection method.",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1SetUpDataConnectorRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "id": "discoveryengine.projects.locations.setUpDataConnector",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "provision": {
              "description": "Provisions the project resource. During the process, related systems will get prepared and initialized. Caller must read the [Terms for data use](https://cloud.google.com/retail/data-use-terms), and optionally specify in request to provide consent to that service terms.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "discoveryengine.projects.locations.provision",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1ProvisionProjectRequest"
              },
              "path": "v1/{+name}:provision",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:provision",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "setUpDataConnectorV2": {
              "parameters": {
                "collectionDisplayName": {
                  "description": "Required. The display name of the Collection. Should be human readable, used to display collections in the Console Dashboard. UTF-8 encoded string with limit of 1024 characters.",
                  "location": "query",
                  "type": "string"
                },
                "collectionId": {
                  "description": "Required. The ID to use for the Collection, which will become the final component of the Collection's resource name. A new Collection is created as part of the DataConnector setup. DataConnector is a singleton resource under Collection, managing all DataStores of the Collection. Should conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent of Collection, in the format of `projects/{project}/locations/{location}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1DataConnector"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:setUpDataConnectorV2",
              "description": "Creates a Collection and sets up the DataConnector for it. To stop a DataConnector after setup, use the CollectionService.DeleteCollection method.",
              "id": "discoveryengine.projects.locations.setUpDataConnectorV2",
              "path": "v1/{+parent}:setUpDataConnectorV2",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "getCmekConfig": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1CmekConfig"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the CmekConfig.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "id": "discoveryengine.projects.locations.getCmekConfig",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cmekConfig",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfig$",
                  "required": true,
                  "description": "Required. Resource name of CmekConfig, such as `projects/*/locations/*/cmekConfig` or `projects/*/locations/*/cmekConfigs/*`. If the caller does not have permission to access the CmekConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                  "location": "path",
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "collections": {
              "methods": {
                "setIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "id": "discoveryengine.projects.locations.collections.setIamPolicy",
                  "path": "v1/{+resource}:setIamPolicy",
                  "request": {
                    "$ref": "GoogleIamV1SetIamPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Sets the IAM access control policy for a Collection. A `NOT_FOUND` error is returned if the resource does not exist. **Important:** When setting a policy directly on a Collection resource, the only recommended roles in the bindings are: `roles/discoveryengine.admin` `roles/discoveryengine.agentspaceAdmin` `roles/discoveryengine.viewer` `roles/discoveryengine.agentspaceViewer` `roles/discoveryengine.user` `roles/discoveryengine.agentspaceUser` Attempting to grant any other role will result in a warning in logging.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}:setIamPolicy"
                },
                "updateDataConnector": {
                  "description": "Updates a DataConnector.",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1DataConnector"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Identifier. The full resource name of the Data Connector. Format: `projects/*/locations/*/collections/*/dataConnector`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataConnector$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Indicates which fields in the provided DataConnector to update. Supported field paths include: - `refresh_interval` - `params` - `auto_run_disabled` - `action_config` - `action_config.action_params` - `action_config.service_name` - `destination_configs` - `blocking_reasons` - `sync_mode` - `incremental_sync_disabled` - `incremental_refresh_interval` - `data_protection_policy` Note: Support for these fields may vary depending on the connector type. For example, not all connectors support `destination_configs`. If an unsupported or unknown field path is provided, the request will return an `INVALID_ARGUMENT` error.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1DataConnector"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataConnector",
                  "id": "discoveryengine.projects.locations.collections.updateDataConnector"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Deletes a Collection.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The full resource name of the Collection, in the format of `projects/{project}/locations/{location}/collections/{collection}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "discoveryengine.projects.locations.collections.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "httpMethod": "DELETE"
                },
                "getIamPolicy": {
                  "path": "v1/{+resource}:getIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}:getIamPolicy",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Gets the IAM access control policy for a Collection. A `NOT_FOUND` error is returned if the resource does not exist. An empty policy is returned if the resource exists but does not have a policy set on it.",
                  "id": "discoveryengine.projects.locations.collections.getIamPolicy",
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "resource": {
                      "required": true,
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "getDataConnector": {
                  "description": "Gets the DataConnector. DataConnector is a singleton resource for each Collection.",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1DataConnector"
                  },
                  "id": "discoveryengine.projects.locations.collections.getDataConnector",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataConnector",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Full resource name of DataConnector, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataConnector`. If the caller does not have permission to access the DataConnector, regardless of whether or not it exists, a `PERMISSION_DENIED` error is returned. If the requested DataConnector does not exist, a `NOT_FOUND` error is returned.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataConnector$",
                      "required": true,
                      "type": "string"
                    }
                  }
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "path": "v1/{+name}/operations",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/operations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "id": "discoveryengine.projects.locations.collections.operations.list",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "parameters": {
                        "returnPartialSuccess": {
                          "type": "boolean",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "The name of the operation's parent resource."
                        },
                        "filter": {
                          "description": "The standard list filter.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "The standard list page size.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The standard list page token.",
                          "location": "query"
                        }
                      }
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "id": "discoveryengine.projects.locations.collections.operations.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/operations/{operationsId}",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    }
                  }
                },
                "dataConnector": {
                  "methods": {
                    "mcp": {
                      "httpMethod": "DELETE",
                      "path": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataConnector/mcp",
                      "response": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "collectionsId"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataConnector/mcp",
                      "id": "discoveryengine.projects.locations.collections.dataConnector.mcp",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "parameters": {
                        "collectionsId": {
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "contentType": {
                          "description": "The HTTP Content-Type header value specifying the content type of the body.",
                          "location": "query",
                          "type": "string"
                        },
                        "extensions": {
                          "additionalProperties": {
                            "type": "any",
                            "description": "Properties of the object. Contains field @type with type URL."
                          },
                          "repeated": true,
                          "location": "query",
                          "type": "object",
                          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
                        },
                        "locationsId": {
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "data": {
                          "format": "byte",
                          "type": "string",
                          "description": "The HTTP request/response body as raw binary.",
                          "location": "query"
                        },
                        "projectsId": {
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "description": "ServeMcpDeleteRequest serves a MCP DELETE request."
                    }
                  },
                  "resources": {
                    "operations": {
                      "methods": {
                        "list": {
                          "path": "v1/{+name}/operations",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                          "parameters": {
                            "pageToken": {
                              "description": "The standard list page token.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "format": "int32",
                              "description": "The standard list page size."
                            },
                            "returnPartialSuccess": {
                              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                              "type": "boolean",
                              "location": "query"
                            },
                            "name": {
                              "type": "string",
                              "location": "path",
                              "description": "The name of the operation's parent resource.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataConnector$"
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "The standard list filter."
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataConnector/operations",
                          "id": "discoveryengine.projects.locations.collections.dataConnector.operations.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ]
                        },
                        "get": {
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataConnector/operations/{operationsId}",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "The name of the operation resource.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataConnector/operations/[^/]+$",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "httpMethod": "GET",
                          "id": "discoveryengine.projects.locations.collections.dataConnector.operations.get"
                        }
                      }
                    }
                  }
                },
                "engines": {
                  "resources": {
                    "controls": {
                      "methods": {
                        "get": {
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the Control to get. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}/controls/{control_id}`",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/controls/[^/]+$",
                              "required": true
                            }
                          },
                          "description": "Gets a Control.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/controls/{controlsId}",
                          "path": "v1/{+name}",
                          "id": "discoveryengine.projects.locations.collections.engines.controls.get",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1Control"
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ]
                        },
                        "list": {
                          "httpMethod": "GET",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/controls",
                          "description": "Lists all Controls by their parent DataStore.",
                          "id": "discoveryengine.projects.locations.collections.engines.controls.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1ListControlsResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/controls",
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "description": "Optional. A page token, received from a previous `ListControls` call. Provide this to retrieve the subsequent page.",
                              "location": "query"
                            },
                            "pageSize": {
                              "description": "Optional. Maximum number of results to return. If unspecified, defaults to 50. Max allowed value is 1000.",
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. The data store resource name. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}` or `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`."
                            },
                            "filter": {
                              "type": "string",
                              "description": "Optional. A filter to apply on the list results. Supported features: * List all the products under the parent branch if filter is unset. Currently this field is unsupported.",
                              "location": "query"
                            }
                          }
                        },
                        "patch": {
                          "parameters": {
                            "updateMask": {
                              "location": "query",
                              "format": "google-fieldmask",
                              "type": "string",
                              "description": "Optional. Indicates which fields in the provided Control to update. The following are NOT supported: * Control.name * Control.solution_type If not set or empty, all supported fields are updated."
                            },
                            "name": {
                              "description": "Immutable. Fully qualified name `projects/*/locations/global/dataStore/*/controls/*`",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/controls/[^/]+$",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1Control"
                          },
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1Control"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/controls/{controlsId}",
                          "httpMethod": "PATCH",
                          "id": "discoveryengine.projects.locations.collections.engines.controls.patch",
                          "description": "Updates a Control. Control action type cannot be changed. If the Control to update does not exist, a NOT_FOUND error is returned."
                        },
                        "delete": {
                          "httpMethod": "DELETE",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/controls/[^/]+$",
                              "description": "Required. The resource name of the Control to delete. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}/controls/{control_id}`",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "path": "v1/{+name}",
                          "description": "Deletes a Control. If the Control to delete does not exist, a NOT_FOUND error is returned.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/controls/{controlsId}",
                          "id": "discoveryengine.projects.locations.collections.engines.controls.delete",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ]
                        },
                        "create": {
                          "description": "Creates a Control. By default 1000 controls are allowed for a data store. A request can be submitted to adjust this limit. If the Control to create already exists, an ALREADY_EXISTS error is returned.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/controls",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "Required. Full resource name of parent data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}` or `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`."
                            },
                            "controlId": {
                              "description": "Required. The ID to use for the Control, which will become the final component of the Control's resource name. This value must be within 1-63 characters. Valid characters are /a-z-_/.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "id": "discoveryengine.projects.locations.collections.engines.controls.create",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1Control"
                          },
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1Control"
                          },
                          "path": "v1/{+parent}/controls"
                        }
                      }
                    },
                    "assistants": {
                      "methods": {
                        "get": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants/{assistantsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "description": "Gets an Assistant.",
                          "httpMethod": "GET",
                          "id": "discoveryengine.projects.locations.collections.engines.assistants.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/assistants/[^/]+$",
                              "description": "Required. Resource name of Assistant. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}`",
                              "type": "string",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1Assistant"
                          }
                        },
                        "create": {
                          "description": "Creates an Assistant.",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1Assistant"
                          },
                          "httpMethod": "POST",
                          "path": "v1/{+parent}/assistants",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$",
                              "location": "path",
                              "type": "string"
                            },
                            "assistantId": {
                              "type": "string",
                              "location": "query",
                              "description": "Required. The ID to use for the Assistant, which will become the final component of the Assistant's resource name. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) with a length limit of 63 characters."
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants",
                          "id": "discoveryengine.projects.locations.collections.engines.assistants.create",
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1Assistant"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ]
                        },
                        "list": {
                          "httpMethod": "GET",
                          "description": "Lists all Assistants under an Engine.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants",
                          "path": "v1/{+parent}/assistants",
                          "id": "discoveryengine.projects.locations.collections.engines.assistants.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "pageSize": {
                              "format": "int32",
                              "description": "Maximum number of Assistants to return. If unspecified, defaults to 100. The maximum allowed value is 1000; anything above that will be coerced down to 1000.",
                              "location": "query",
                              "type": "integer"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$",
                              "required": true,
                              "type": "string",
                              "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
                              "location": "path"
                            },
                            "pageToken": {
                              "description": "A page token ListAssistantsResponse.next_page_token, received from a previous AssistantService.ListAssistants call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListAssistants must match the call that provided the page token.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1ListAssistantsResponse"
                          }
                        },
                        "patch": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1Assistant"
                          },
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/assistants/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Immutable. Resource name of the assistant. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}` It must be a UTF-8 encoded string with a length limit of 1024 characters."
                            },
                            "updateMask": {
                              "location": "query",
                              "type": "string",
                              "description": "The list of fields to update.",
                              "format": "google-fieldmask"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1Assistant"
                          },
                          "description": "Updates an Assistant",
                          "id": "discoveryengine.projects.locations.collections.engines.assistants.patch",
                          "httpMethod": "PATCH",
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants/{assistantsId}"
                        },
                        "streamAssist": {
                          "httpMethod": "POST",
                          "path": "v1/{+name}:streamAssist",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants/{assistantsId}:streamAssist",
                          "description": "Assists the user with a query in a streaming fashion.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/assistants/[^/]+$",
                              "description": "Required. The resource name of the Assistant. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}`",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1StreamAssistRequest"
                          },
                          "id": "discoveryengine.projects.locations.collections.engines.assistants.streamAssist",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1StreamAssistResponse"
                          }
                        },
                        "delete": {
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "discoveryengine.projects.locations.collections.engines.assistants.delete",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "httpMethod": "DELETE",
                          "description": "Deletes an Assistant.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants/{assistantsId}",
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/assistants/[^/]+$",
                              "description": "Required. Resource name of Assistant. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}` If the caller does not have permission to delete the Assistant, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the Assistant to delete does not exist, a NOT_FOUND error is returned.",
                              "location": "path"
                            }
                          }
                        }
                      },
                      "resources": {
                        "agents": {
                          "resources": {
                            "a2a": {
                              "resources": {
                                "v1": {
                                  "resources": {
                                    "message": {
                                      "methods": {
                                        "send": {
                                          "httpMethod": "POST",
                                          "id": "discoveryengine.projects.locations.collections.engines.assistants.agents.a2a.v1.message.send",
                                          "description": "Send a message to the agent. This is a blocking call that will return the task once it is completed, or a LRO if requested.",
                                          "response": {
                                            "$ref": "A2aV1SendMessageResponse"
                                          },
                                          "scopes": [
                                            "https://www.googleapis.com/auth/cloud-platform",
                                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                                          ],
                                          "parameterOrder": [
                                            "tenant"
                                          ],
                                          "parameters": {
                                            "tenant": {
                                              "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                                              "location": "path",
                                              "type": "string",
                                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/assistants/[^/]+/agents/[^/]+$",
                                              "required": true
                                            }
                                          },
                                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants/{assistantsId}/agents/{agentsId}/a2a/v1/message:send",
                                          "path": "v1/{+tenant}/a2a/v1/message:send",
                                          "request": {
                                            "$ref": "A2aV1SendMessageRequest"
                                          }
                                        },
                                        "stream": {
                                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants/{assistantsId}/agents/{agentsId}/a2a/v1/message:stream",
                                          "parameters": {
                                            "tenant": {
                                              "type": "string",
                                              "required": true,
                                              "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                                              "location": "path",
                                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/assistants/[^/]+/agents/[^/]+$"
                                            }
                                          },
                                          "parameterOrder": [
                                            "tenant"
                                          ],
                                          "id": "discoveryengine.projects.locations.collections.engines.assistants.agents.a2a.v1.message.stream",
                                          "description": "SendStreamingMessage is a streaming call that will return a stream of task update events until the Task is in an interrupted or terminal state.",
                                          "path": "v1/{+tenant}/a2a/v1/message:stream",
                                          "scopes": [
                                            "https://www.googleapis.com/auth/cloud-platform",
                                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                                          ],
                                          "response": {
                                            "$ref": "A2aV1StreamResponse"
                                          },
                                          "httpMethod": "POST",
                                          "request": {
                                            "$ref": "A2aV1SendMessageRequest"
                                          }
                                        }
                                      }
                                    },
                                    "tasks": {
                                      "methods": {
                                        "subscribe": {
                                          "scopes": [
                                            "https://www.googleapis.com/auth/cloud-platform",
                                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                                          ],
                                          "parameters": {
                                            "name": {
                                              "location": "path",
                                              "type": "string",
                                              "description": "The resource name of the task to subscribe to. Format: tasks/{task_id}",
                                              "required": true,
                                              "pattern": "^tasks/[^/]+$"
                                            },
                                            "tenant": {
                                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/assistants/[^/]+/agents/[^/]+$",
                                              "required": true,
                                              "type": "string",
                                              "location": "path",
                                              "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
                                            }
                                          },
                                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants/{assistantsId}/agents/{agentsId}/a2a/v1/tasks/{tasksId}:subscribe",
                                          "path": "v1/{+tenant}/a2a/v1/{+name}:subscribe",
                                          "httpMethod": "GET",
                                          "response": {
                                            "$ref": "A2aV1StreamResponse"
                                          },
                                          "parameterOrder": [
                                            "tenant",
                                            "name"
                                          ],
                                          "id": "discoveryengine.projects.locations.collections.engines.assistants.agents.a2a.v1.tasks.subscribe",
                                          "description": "TaskSubscription is a streaming call that will return a stream of task update events. This attaches the stream to an existing in process task. If the task is complete the stream will return the completed task (like GetTask) and close the stream."
                                        },
                                        "get": {
                                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants/{assistantsId}/agents/{agentsId}/a2a/v1/tasks/{tasksId}",
                                          "id": "discoveryengine.projects.locations.collections.engines.assistants.agents.a2a.v1.tasks.get",
                                          "parameterOrder": [
                                            "tenant",
                                            "name"
                                          ],
                                          "parameters": {
                                            "name": {
                                              "required": true,
                                              "description": "Required. The resource name of the task. Format: tasks/{task_id}",
                                              "type": "string",
                                              "location": "path",
                                              "pattern": "^tasks/[^/]+$"
                                            },
                                            "tenant": {
                                              "location": "path",
                                              "type": "string",
                                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/assistants/[^/]+/agents/[^/]+$",
                                              "required": true,
                                              "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
                                            },
                                            "historyLength": {
                                              "location": "query",
                                              "format": "int32",
                                              "description": "The number of most recent messages from the task's history to retrieve.",
                                              "type": "integer"
                                            }
                                          },
                                          "httpMethod": "GET",
                                          "response": {
                                            "$ref": "A2aV1Task"
                                          },
                                          "description": "Get the current state of a task from the agent.",
                                          "path": "v1/{+tenant}/a2a/v1/{+name}",
                                          "scopes": [
                                            "https://www.googleapis.com/auth/cloud-platform",
                                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                                          ]
                                        },
                                        "cancel": {
                                          "description": "Cancel a task from the agent. If supported one should expect no more task updates for the task.",
                                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants/{assistantsId}/agents/{agentsId}/a2a/v1/tasks/{tasksId}:cancel",
                                          "parameterOrder": [
                                            "tenant",
                                            "name"
                                          ],
                                          "httpMethod": "POST",
                                          "request": {
                                            "$ref": "A2aV1CancelTaskRequest"
                                          },
                                          "path": "v1/{+tenant}/a2a/v1/{+name}:cancel",
                                          "parameters": {
                                            "tenant": {
                                              "location": "path",
                                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/assistants/[^/]+/agents/[^/]+$",
                                              "type": "string",
                                              "required": true,
                                              "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
                                            },
                                            "name": {
                                              "type": "string",
                                              "description": "The resource name of the task to cancel. Format: tasks/{task_id}",
                                              "location": "path",
                                              "pattern": "^tasks/[^/]+$",
                                              "required": true
                                            }
                                          },
                                          "response": {
                                            "$ref": "A2aV1Task"
                                          },
                                          "scopes": [
                                            "https://www.googleapis.com/auth/cloud-platform",
                                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                                          ],
                                          "id": "discoveryengine.projects.locations.collections.engines.assistants.agents.a2a.v1.tasks.cancel"
                                        }
                                      },
                                      "resources": {
                                        "pushNotificationConfigs": {
                                          "methods": {
                                            "create": {
                                              "description": "Set a push notification config for a task.",
                                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants/{assistantsId}/agents/{agentsId}/a2a/v1/tasks/{tasksId}/pushNotificationConfigs",
                                              "httpMethod": "POST",
                                              "parameterOrder": [
                                                "tenant",
                                                "parent"
                                              ],
                                              "request": {
                                                "$ref": "A2aV1TaskPushNotificationConfig"
                                              },
                                              "path": "v1/{+tenant}/a2a/v1/{+parent}",
                                              "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                                              ],
                                              "response": {
                                                "$ref": "A2aV1TaskPushNotificationConfig"
                                              },
                                              "parameters": {
                                                "tenant": {
                                                  "required": true,
                                                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/assistants/[^/]+/agents/[^/]+$",
                                                  "type": "string",
                                                  "location": "path"
                                                },
                                                "parent": {
                                                  "pattern": "^tasks/[^/]+/pushNotificationConfigs$",
                                                  "required": true,
                                                  "description": "Required. The parent task resource for this config. Format: tasks/{task_id}",
                                                  "type": "string",
                                                  "location": "path"
                                                },
                                                "configId": {
                                                  "type": "string",
                                                  "location": "query",
                                                  "description": "Required. The ID for the new config."
                                                }
                                              },
                                              "id": "discoveryengine.projects.locations.collections.engines.assistants.agents.a2a.v1.tasks.pushNotificationConfigs.create"
                                            },
                                            "delete": {
                                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants/{assistantsId}/agents/{agentsId}/a2a/v1/tasks/{tasksId}/pushNotificationConfigs/{pushNotificationConfigsId}",
                                              "httpMethod": "DELETE",
                                              "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                                              ],
                                              "response": {
                                                "$ref": "GoogleProtobufEmpty"
                                              },
                                              "id": "discoveryengine.projects.locations.collections.engines.assistants.agents.a2a.v1.tasks.pushNotificationConfigs.delete",
                                              "path": "v1/{+tenant}/a2a/v1/{+name}",
                                              "parameters": {
                                                "tenant": {
                                                  "required": true,
                                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/assistants/[^/]+/agents/[^/]+$",
                                                  "type": "string",
                                                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                                                  "location": "path"
                                                },
                                                "name": {
                                                  "location": "path",
                                                  "description": "The resource name of the config to delete. Format: tasks/{task_id}/pushNotificationConfigs/{config_id}",
                                                  "required": true,
                                                  "type": "string",
                                                  "pattern": "^tasks/[^/]+/pushNotificationConfigs/[^/]+$"
                                                }
                                              },
                                              "description": "Delete a push notification config for a task.",
                                              "parameterOrder": [
                                                "tenant",
                                                "name"
                                              ]
                                            },
                                            "get": {
                                              "description": "Get a push notification config for a task.",
                                              "response": {
                                                "$ref": "A2aV1TaskPushNotificationConfig"
                                              },
                                              "httpMethod": "GET",
                                              "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                                              ],
                                              "path": "v1/{+tenant}/a2a/v1/{+name}",
                                              "id": "discoveryengine.projects.locations.collections.engines.assistants.agents.a2a.v1.tasks.pushNotificationConfigs.get",
                                              "parameterOrder": [
                                                "tenant",
                                                "name"
                                              ],
                                              "parameters": {
                                                "name": {
                                                  "required": true,
                                                  "type": "string",
                                                  "pattern": "^tasks/[^/]+/pushNotificationConfigs/[^/]+$",
                                                  "description": "The resource name of the config to retrieve. Format: tasks/{task_id}/pushNotificationConfigs/{config_id}",
                                                  "location": "path"
                                                },
                                                "tenant": {
                                                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                                                  "type": "string",
                                                  "required": true,
                                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/assistants/[^/]+/agents/[^/]+$",
                                                  "location": "path"
                                                }
                                              },
                                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants/{assistantsId}/agents/{agentsId}/a2a/v1/tasks/{tasksId}/pushNotificationConfigs/{pushNotificationConfigsId}"
                                            },
                                            "list": {
                                              "parameters": {
                                                "pageSize": {
                                                  "description": "For AIP-158 these fields are present. Usually not used/needed. The maximum number of configurations to return. If unspecified, all configs will be returned.",
                                                  "type": "integer",
                                                  "location": "query",
                                                  "format": "int32"
                                                },
                                                "pageToken": {
                                                  "location": "query",
                                                  "description": "A page token received from a previous ListTaskPushNotificationConfigRequest call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTaskPushNotificationConfigRequest` must match the call that provided the page token.",
                                                  "type": "string"
                                                },
                                                "tenant": {
                                                  "type": "string",
                                                  "required": true,
                                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/assistants/[^/]+/agents/[^/]+$",
                                                  "location": "path",
                                                  "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release."
                                                },
                                                "parent": {
                                                  "description": "The parent task resource. Format: tasks/{task_id}",
                                                  "required": true,
                                                  "type": "string",
                                                  "pattern": "^tasks/[^/]+$",
                                                  "location": "path"
                                                }
                                              },
                                              "description": "Get a list of push notifications configured for a task.",
                                              "path": "v1/{+tenant}/a2a/v1/{+parent}/pushNotificationConfigs",
                                              "response": {
                                                "$ref": "A2aV1ListTaskPushNotificationConfigResponse"
                                              },
                                              "parameterOrder": [
                                                "tenant",
                                                "parent"
                                              ],
                                              "id": "discoveryengine.projects.locations.collections.engines.assistants.agents.a2a.v1.tasks.pushNotificationConfigs.list",
                                              "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                                              ],
                                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants/{assistantsId}/agents/{agentsId}/a2a/v1/tasks/{tasksId}/pushNotificationConfigs",
                                              "httpMethod": "GET"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "methods": {
                                    "getCard": {
                                      "httpMethod": "GET",
                                      "description": "GetAgentCard returns the agent card for the agent.",
                                      "response": {
                                        "$ref": "A2aV1AgentCard"
                                      },
                                      "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                                      ],
                                      "id": "discoveryengine.projects.locations.collections.engines.assistants.agents.a2a.v1.getCard",
                                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants/{assistantsId}/agents/{agentsId}/a2a/v1/card",
                                      "parameters": {
                                        "tenant": {
                                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/assistants/[^/]+/agents/[^/]+$",
                                          "type": "string",
                                          "location": "path",
                                          "description": "Optional tenant, provided as a path parameter. Experimental, might still change for 1.0 release.",
                                          "required": true
                                        }
                                      },
                                      "parameterOrder": [
                                        "tenant"
                                      ],
                                      "path": "v1/{+tenant}/a2a/v1/card"
                                    }
                                  }
                                }
                              }
                            },
                            "operations": {
                              "methods": {
                                "get": {
                                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants/{assistantsId}/agents/{agentsId}/operations/{operationsId}",
                                  "path": "v1/{+name}",
                                  "httpMethod": "GET",
                                  "parameterOrder": [
                                    "name"
                                  ],
                                  "id": "discoveryengine.projects.locations.collections.engines.assistants.agents.operations.get",
                                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                                  "response": {
                                    "$ref": "GoogleLongrunningOperation"
                                  },
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform",
                                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                                  ],
                                  "parameters": {
                                    "name": {
                                      "required": true,
                                      "description": "The name of the operation resource.",
                                      "type": "string",
                                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/assistants/[^/]+/agents/[^/]+/operations/[^/]+$",
                                      "location": "path"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "conversations": {
                      "methods": {
                        "list": {
                          "httpMethod": "GET",
                          "path": "v1/{+parent}/conversations",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/conversations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
[...]
