{
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "basePath": "",
  "discoveryVersion": "v1",
  "revision": "20260914",
  "description": "Discovery Engine API.",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "canonicalName": "Discovery Engine",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "version_module": true,
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "servicePath": "",
  "name": "discoveryengine",
  "title": "Discovery Engine API",
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaBAPConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaBAPConfig",
      "properties": {
        "enabledActions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The actions enabled on the associated BAP connection."
        },
        "toolspecOverride": {
          "description": "Optional. Custom toolspec overrides for this connection. For Enterprise BAP connectors that support admin-curated tool definitions, this holds the (simplified) per-tool overrides. On Get, populated by the server by merging persisted overrides with live runtime tool definitions and trimming the result for UI consumption. On Update, the supplied value replaces the persisted overrides after server-side validation and merging: the `base_version` field MUST match the server's current base toolspec version (otherwise the request is rejected with a user-facing error directing the admin to re-download the latest tools first).",
          "$ref": "GoogleCloudDiscoveryengineV1alphaBAPConfigToolspecOverride"
        },
        "supportedConnectorModes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Connector mode unspecified.",
              "Connector utilized for data ingestion.",
              "Connector utilized for Actions",
              "Connector utilized for End User Authentication."
            ],
            "enum": [
              "CONNECTOR_MODE_UNSPECIFIED",
              "DATA_INGESTION",
              "ACTIONS",
              "END_USER_AUTHENTICATION"
            ]
          },
          "type": "array",
          "description": "Required. The supported connector modes for the associated BAP connection."
        }
      },
      "description": "The configuration for the BAP connector."
    },
    "GoogleCloudDiscoveryengineV1DocumentAclInfoAccessRestriction": {
      "description": "AclRestriction to model complex inheritance restrictions. Example: Modeling a \"Both Permit\" inheritance, where to access a child document, user needs to have access to parent document. Document Hierarchy - Space_S --> Page_P. Readers: Space_S: group_1, user_1 Page_P: group_2, group_3, user_2 Space_S ACL Restriction - { \"acl_info\": { \"readers\": [ { \"principals\": [ { \"group_id\": \"group_1\" }, { \"user_id\": \"user_1\" } ] } ] } } Page_P ACL Restriction. { \"acl_info\": { \"readers\": [ { \"principals\": [ { \"group_id\": \"group_2\" }, { \"group_id\": \"group_3\" }, { \"user_id\": \"user_2\" } ], }, { \"principals\": [ { \"group_id\": \"group_1\" }, { \"user_id\": \"user_1\" } ], } ] } }",
      "properties": {
        "principals": {
          "description": "List of principals.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Principal"
          },
          "type": "array"
        },
        "idpWide": {
          "type": "boolean",
          "description": "All users within the Identity Provider."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DocumentAclInfoAccessRestriction"
    },
    "GoogleCloudDiscoveryengineLoggingErrorLog": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineLoggingErrorLog",
      "properties": {
        "context": {
          "description": "A description of the context in which the error occurred.",
          "$ref": "GoogleCloudDiscoveryengineLoggingErrorContext"
        },
        "message": {
          "description": "A message describing the error.",
          "type": "string"
        },
        "serviceContext": {
          "$ref": "GoogleCloudDiscoveryengineLoggingServiceContext",
          "description": "The service context in which this error has occurred."
        },
        "requestPayload": {
          "description": "The API request payload, represented as a protocol buffer. Most API request types are supported—for example: * `type.googleapis.com/google.cloud.discoveryengine.v1alpha.DocumentService.CreateDocumentRequest` * `type.googleapis.com/google.cloud.discoveryengine.v1alpha.UserEventService.WriteUserEventRequest`",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "connectorRunPayload": {
          "$ref": "GoogleCloudDiscoveryengineLoggingConnectorRunErrorContext",
          "description": "The error payload that is populated on LRO connector sync APIs."
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The RPC status associated with the error log."
        },
        "importPayload": {
          "$ref": "GoogleCloudDiscoveryengineLoggingImportErrorContext",
          "description": "The error payload that is populated on LRO import APIs."
        },
        "responsePayload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The API response payload, represented as a protocol buffer. This is used to log some \"soft errors\", where the response is valid but we consider there are some quality issues like unjoined events. The following API responses are supported, and no PII is included: * `google.cloud.discoveryengine.v1alpha.RecommendationService.Recommend` * `google.cloud.discoveryengine.v1alpha.UserEventService.WriteUserEvent` * `google.cloud.discoveryengine.v1alpha.UserEventService.CollectUserEvent`"
        }
      },
      "description": "An error log which is reported to the Error Reporting system."
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeDocumentsMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the PurgeDocuments operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "successCount": {
          "description": "Count of entries that were deleted successfully.",
          "type": "string",
          "format": "int64"
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "format": "int64",
          "type": "string"
        },
        "ignoredCount": {
          "type": "string",
          "description": "Count of entries that were ignored as entries were not found.",
          "format": "int64"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeDocumentsMetadata"
    },
    "GoogleApiDistributionRange": {
      "properties": {
        "max": {
          "description": "The maximum of the population values.",
          "type": "number",
          "format": "double"
        },
        "min": {
          "type": "number",
          "description": "The minimum of the population values.",
          "format": "double"
        }
      },
      "description": "The range of the population values.",
      "type": "object",
      "id": "GoogleApiDistributionRange"
    },
    "GoogleCloudDiscoveryengineV1ListIdentityMappingStoresResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ListIdentityMappingStoresResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "identityMappingStores": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1IdentityMappingStore"
          },
          "description": "The Identity Mapping Stores.",
          "type": "array"
        }
      },
      "description": "Response message for IdentityMappingStoreService.ListIdentityMappingStores"
    },
    "GoogleCloudDiscoveryengineV1SearchResponseSearchResult": {
      "id": "GoogleCloudDiscoveryengineV1SearchResponseSearchResult",
      "description": "Represents the search results.",
      "properties": {
        "chunk": {
          "$ref": "GoogleCloudDiscoveryengineV1Chunk",
          "description": "The chunk data in the search response if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS."
        },
        "document": {
          "description": "The document data snippet in the search response. Only fields that are marked as `retrievable` are populated.",
          "$ref": "GoogleCloudDiscoveryengineV1Document"
        },
        "rankSignals": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchResponseSearchResultRankSignals",
          "description": "Optional. A set of ranking signals associated with the result."
        },
        "id": {
          "type": "string",
          "description": "Document.id of the searched Document."
        },
        "retrievalSignals": {
          "description": "Optional. A set of signals used by the relevance filter meant for use to fine-tune the relevance filter thresholds.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchResponseSearchResultRetrievalSignals"
        },
        "modelScores": {
          "description": "Output only. Google provided available scores.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1DoubleList"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SearchRequest": {
      "id": "GoogleCloudDiscoveryengineV1SearchRequest",
      "type": "object",
      "properties": {
        "session": {
          "description": "The session resource name. Optional. Session allows users to do multi-turn /search API calls or coordination between /search API calls and /answer API calls. Example #1 (multi-turn /search API calls): Call /search API with the session ID generated in the first call. Here, the previous search query gets considered in query standing. I.e., if the first query is \"How did Alphabet do in 2022?\" and the current query is \"How about 2023?\", the current query will be interpreted as \"How did Alphabet do in 2023?\". Example #2 (coordination between /search API calls and /answer API calls): Call /answer API with the session ID generated in the first call. Here, the answer generation happens in the context of the search results from the first search call.",
          "type": "string"
        },
        "pageCategories": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The categories associated with a category page. Must be set for category navigation queries to achieve good search quality. The format should be the same as PageInfo.page_category. This field is the equivalent of the query for browse (navigation) queries. It's used by the browse model when the query is empty. If the field is empty, it will not be used by the browse model. If the field contains more than one element, only the first element will be used. To represent full path of a category, use '>' character to separate different hierarchies. If '>' is part of the category name, replace it with other character(s). For example, `Graphics Cards > RTX>4090 > Founders Edition` where \"RTX > 4090\" represents one level, can be rewritten as `Graphics Cards > RTX_4090 > Founders Edition`",
          "type": "array"
        },
        "crowdingSpecs": {
          "type": "array",
          "description": "Optional. Crowding specifications for improving result diversity. If multiple CrowdingSpecs are specified, crowding will be evaluated on each unique combination of the `field` values, and max_count will be the maximum value of `max_count` across all CrowdingSpecs. For example, if the first CrowdingSpec has `field` = \"color\" and `max_count` = 3, and the second CrowdingSpec has `field` = \"size\" and `max_count` = 2, then after 3 documents that share the same color AND size have been returned, subsequent ones should be removed or demoted.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchRequestCrowdingSpec"
          }
        },
        "userPseudoId": {
          "type": "string",
          "description": "Optional. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and CompleteQueryRequest.user_pseudo_id The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "imageQuery": {
          "description": "Raw image query.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestImageQuery"
        },
        "safeSearch": {
          "type": "boolean",
          "description": "Whether to turn on safe search. This is only supported for website search."
        },
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see [Standard fields](https://cloud.google.com/apis/design/standard_fields). This field helps to better interpret the query. If a value isn't specified, the query language code is automatically detected, which may not be accurate.",
          "type": "string"
        },
        "queryExpansionSpec": {
          "description": "The query expansion specification that specifies the conditions under which query expansion occurs.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestQueryExpansionSpec"
        },
        "sessionSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestSessionSpec",
          "description": "Session specification. Can be used only when `session` is set."
        },
        "customRankingParams": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestCustomRankingParams",
          "description": "Optional. Optional configuration for the Custom Ranking feature."
        },
        "relevanceThreshold": {
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Google defined threshold.",
            "Lowest relevance threshold.",
            "Low relevance threshold.",
            "Medium relevance threshold.",
            "High relevance threshold."
          ],
          "enum": [
            "RELEVANCE_THRESHOLD_UNSPECIFIED",
            "LOWEST",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "type": "string",
          "description": "The global relevance threshold of the search results. Defaults to Google defined threshold, leveraging a balance of precision and recall to deliver both highly accurate results and comprehensive coverage of relevant information. If more granular relevance filtering is required, use the `relevance_filter_spec` instead. This feature is not supported for healthcare search."
        },
        "relevanceFilterSpec": {
          "description": "Optional. The granular relevance filtering specification. If not specified, the global `relevance_threshold` will be used for all sub-searches. If specified, this overrides the global `relevance_threshold` to use thresholds on a per sub-search basis. This feature is currently supported only for custom and site search.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestRelevanceFilterSpec"
        },
        "entity": {
          "type": "string",
          "description": "Optional. The entity for customers that may run multiple different entities, domains, sites or regions, for example, \"Google US\", \"Google Ads\", \"Waymo\", \"google.com\", \"youtube.com\", etc. If this is set, it should be exactly matched with UserEvent.entity to get search results boosted by entity."
        },
        "filter": {
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customer might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "type": "object"
        },
        "naturalLanguageQueryUnderstandingSpec": {
          "description": "Optional. Config for natural language query understanding capabilities, such as extracting structured field filters from the query. Refer to [this documentation](https://cloud.google.com/generative-ai-app-builder/docs/natural-language-queries) for more information. If `naturalLanguageQueryUnderstandingSpec` is not specified, no additional natural language query understanding will be done.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestNaturalLanguageQueryUnderstandingSpec"
        },
        "userInfo": {
          "description": "Information about the end user. Highly recommended for analytics and personalization. UserInfo.user_agent is used to deduce `device_type` for analytics.",
          "$ref": "GoogleCloudDiscoveryengineV1UserInfo"
        },
        "canonicalFilter": {
          "description": "The default filter that is applied when a user performs a search without checking any filters on the search page. The filter applied to every search request when quality improvement such as query expansion is needed. In the case a query does not have a sufficient amount of results this filter will be used to determine whether or not to enable the query expansion flow. The original filter will still be used for the query expanded search. This field is strongly recommended to achieve high search quality. For more information about filter syntax, see SearchRequest.filter.",
          "type": "string"
        },
        "facetSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchRequestFacetSpec"
          },
          "description": "Facet specifications for faceted search. If empty, no facets are returned. A maximum of 100 values are allowed. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "numResultsPerDataStore": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of results to retrieve from each data store. If not specified, it will use the SearchRequest.DataStoreSpec.num_results if provided, otherwise there is no limit."
        },
        "boostSpec": {
          "description": "Boost specification to boost certain documents. For more information on boosting, see [Boosting](https://cloud.google.com/generative-ai-app-builder/docs/boost-search-results)",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpec"
        },
        "searchAddonSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestSearchAddonSpec",
          "description": "Optional. SearchAddonSpec is used to disable add-ons for search as per new repricing model. This field is only supported for search requests."
        },
        "oneBoxPageSize": {
          "description": "The maximum number of results to return for OneBox. This applies to each OneBox type individually. Default number is 10.",
          "type": "integer",
          "format": "int32"
        },
        "relevanceScoreSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestRelevanceScoreSpec",
          "description": "Optional. The specification for returning the relevance score."
        },
        "searchAsYouTypeSpec": {
          "description": "Search as you type configuration. Only supported for the IndustryVertical.MEDIA vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestSearchAsYouTypeSpec"
        },
        "rankingExpression": {
          "type": "string",
          "description": "Optional. The ranking expression controls the customized ranking on retrieval documents. This overrides ServingConfig.ranking_expression. The syntax and supported features depend on the `ranking_expression_backend` value. If `ranking_expression_backend` is not provided, it defaults to `RANK_BY_EMBEDDING`. If ranking_expression_backend is not provided or set to `RANK_BY_EMBEDDING`, it should be a single function or multiple functions that are joined by \"+\". * ranking_expression = function, { \" + \", function }; Supported functions: * double * relevance_score * double * dotProduct(embedding_field_path) Function variables: * `relevance_score`: pre-defined keywords, used for measure relevance between query and document. * `embedding_field_path`: the document embedding field used with query embedding vector. * `dotProduct`: embedding function between `embedding_field_path` and query embedding vector. Example ranking expression: If document has an embedding field doc_embedding, the ranking expression could be `0.5 * relevance_score + 0.3 * dotProduct(doc_embedding)`. If ranking_expression_backend is set to `RANK_BY_FORMULA`, the following expression types (and combinations of those chained using + or * operators) are supported: * `double` * `signal` * `log(signal)` * `exp(signal)` * `rr(signal, double > 0)` -- reciprocal rank transformation with second argument being a denominator constant. * `is_nan(signal)` -- returns 0 if signal is NaN, 1 otherwise. * `fill_nan(signal1, signal2 | double)` -- if signal1 is NaN, returns signal2 | double, else returns signal1. Here are a few examples of ranking formulas that use the supported ranking expression types: - `0.2 * semantic_similarity_score + 0.8 * log(keyword_similarity_score)` -- mostly rank by the logarithm of `keyword_similarity_score` with slight `semantic_smilarity_score` adjustment. - `0.2 * exp(fill_nan(semantic_similarity_score, 0)) + 0.3 * is_nan(keyword_similarity_score)` -- rank by the exponent of `semantic_similarity_score` filling the value with 0 if it's NaN, also add constant 0.3 adjustment to the final score if `semantic_similarity_score` is NaN. - `0.2 * rr(semantic_similarity_score, 16) + 0.8 * rr(keyword_similarity_score, 16)` -- mostly rank by the reciprocal rank of `keyword_similarity_score` with slight adjustment of reciprocal rank of `semantic_smilarity_score`. The following signals are supported: * `semantic_similarity_score`: semantic similarity adjustment that is calculated using the embeddings generated by a proprietary Google model. This score determines how semantically similar a search query is to a document. * `keyword_similarity_score`: keyword match adjustment uses the Best Match 25 (BM25) ranking function. This score is calculated using a probabilistic model to estimate the probability that a document is relevant to a given query. * `relevance_score`: semantic relevance adjustment that uses a proprietary Google model to determine the meaning and intent behind a user's query in context with the content in the documents. * `pctr_rank`: predicted conversion rate adjustment as a rank use predicted Click-through rate (pCTR) to gauge the relevance and attractiveness of a search result from a user's perspective. A higher pCTR suggests that the result is more likely to satisfy the user's query and intent, making it a valuable signal for ranking. * `freshness_rank`: freshness adjustment as a rank * `document_age`: The time in hours elapsed since the document was last updated, a floating-point number (e.g., 0.25 means 15 minutes). * `topicality_rank`: topicality adjustment as a rank. Uses proprietary Google model to determine the keyword-based overlap between the query and the document. * `base_rank`: the default rank of the result * `media_actor_match`: whether the media actor matches the query * `media_director_match`: whether the media director matches the query * `media_genre_match`: whether the media genre matches the query * `media_language_match`: whether the media language matches the query * `media_title_match`: whether the media title matches the query * `media_prefix_similarity_rank`: prefix similarity rank for media results * `media_semantic_similarity_rank`: semantic similarity rank for media results"
        },
        "pageToken": {
          "description": "A page token received from a previous SearchService.Search call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to SearchService.Search must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "params": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object",
          "description": "Additional search parameters. For public website search only, supported values are: * `user_country_code`: string. Default empty. If set to non-empty, results are restricted or boosted based on the location provided. For example, `user_country_code: \"au\"` For available codes see [Country Codes](https://developers.google.com/custom-search/docs/json_api_reference#countryCodes) * `search_type`: double. Default empty. Enables non-webpage searching depending on the value. The only valid non-default value is 1, which enables image searching. For example, `search_type: 1`"
        },
        "offset": {
          "description": "A 0-indexed integer that specifies the current offset (that is, starting result location, amongst the Documents deemed by the API as relevant) in search results. This field is only considered if page_token is unset. If this field is negative, an `INVALID_ARGUMENT` is returned. A large offset may be capped to a reasonable threshold.",
          "type": "integer",
          "format": "int32"
        },
        "rankingExpressionBackend": {
          "description": "Optional. The backend to use for the ranking expression evaluation.",
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "Default option for unspecified/unknown values.",
            "Deprecated: Use `RANK_BY_EMBEDDING` instead. Ranking by custom embedding model, the default way to evaluate the ranking expression. Legacy enum option, `RANK_BY_EMBEDDING` should be used instead.",
            "Deprecated: Use `RANK_BY_FORMULA` instead. Ranking by custom formula. Legacy enum option, `RANK_BY_FORMULA` should be used instead.",
            "Ranking by custom embedding model, the default way to evaluate the ranking expression.",
            "Ranking by custom formula."
          ],
          "enum": [
            "RANKING_EXPRESSION_BACKEND_UNSPECIFIED",
            "BYOE",
            "CLEARBOX",
            "RANK_BY_EMBEDDING",
            "RANK_BY_FORMULA"
          ]
        },
        "query": {
          "description": "Raw search query.",
          "type": "string"
        },
        "contentSearchSpec": {
          "description": "A specification for configuring the behavior of content search.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpec"
        },
        "orderBy": {
          "description": "The order in which documents are returned. Documents can be ordered by a field in an Document object. Leave it unset if ordered by relevance. `order_by` expression is case-sensitive. For more information on ordering the website search results, see [Order web search results](https://cloud.google.com/generative-ai-app-builder/docs/order-web-search-results). For more information on ordering the healthcare search results, see [Order healthcare search results](https://cloud.google.com/generative-ai-app-builder/docs/order-hc-results). If this field is unrecognizable, an `INVALID_ARGUMENT` is returned.",
          "type": "string"
        },
        "dataStoreSpecs": {
          "description": "Specifications that define the specific DataStores to be searched, along with configurations for those data stores. This is only considered for Engines with multiple data stores. For engines with a single data store, the specs directly under SearchRequest should be used.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchRequestDataStoreSpec"
          }
        },
        "pageSize": {
          "description": "Maximum number of Documents to return. The maximum allowed value depends on the data type. Values above the maximum value are coerced to the maximum value. * Websites with basic indexing: Default `10`, Maximum `25`. * Websites with advanced indexing: Default `25`, Maximum `50`. * Other: Default `50`, Maximum `100`. If this field is negative, an `INVALID_ARGUMENT` is returned.",
          "type": "integer",
          "format": "int32"
        },
        "branch": {
          "type": "string",
          "description": "The branch resource name, such as `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/branches/0`. Use `default_branch` as the branch ID or leave this field empty, to search documents under the default branch."
        },
        "displaySpec": {
          "description": "Optional. Config for display feature, like match highlighting on search results.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestDisplaySpec"
        },
        "spellCorrectionSpec": {
          "description": "The spell correction specification that specifies the mode under which spell correction takes effect.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestSpellCorrectionSpec"
        }
      },
      "description": "Request message for SearchService.Search method."
    },
    "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesResponse",
      "type": "object",
      "properties": {
        "userLicenses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaUserLicense"
          },
          "description": "UserLicenses successfully updated."
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "description": "Response message for UserLicenseService.BatchUpdateUserLicenses method."
    },
    "GoogleCloudDiscoveryengineV1alphaCreateSchemaMetadata": {
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaCreateSchemaMetadata",
      "description": "Metadata for Create Schema LRO.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DataConnectorFederatedConfig": {
      "description": "Any params and credentials used specifically for hybrid connectors supporting FEDERATED mode.",
      "type": "object",
      "properties": {
        "authParams": {
          "description": "Optional. Any authentication parameters specific to FEDERATED connectors.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "jsonAuthParams": {
          "type": "string",
          "description": "Optional. Any authentication parameters specific to FEDERATED connectors in json string format."
        },
        "additionalParams": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. Any additional parameters needed for FEDERATED."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DataConnectorFederatedConfig"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpec": {
      "description": "A facet specification to perform faceted search.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpec",
      "type": "object",
      "properties": {
        "enableDynamicPosition": {
          "description": "Enables dynamic position for this facet. If set to true, the position of this facet among all facets in the response is determined automatically. If dynamic facets are enabled, it is ordered together. If set to false, the position of this facet in the response is the same as in the request, and it is ranked before the facets with dynamic position enable and all dynamic facets. For example, you may always want to have rating facet returned in the response, but it's not necessarily to always display the rating facet at the top. In that case, you can set enable_dynamic_position to true so that the position of rating facet in response is determined automatically. Another example, assuming you have the following facets in the request: * \"rating\", enable_dynamic_position = true * \"price\", enable_dynamic_position = false * \"brands\", enable_dynamic_position = false And also you have a dynamic facets enabled, which generates a facet `gender`. Then the final order of the facets in the response can be (\"price\", \"brands\", \"rating\", \"gender\") or (\"price\", \"brands\", \"gender\", \"rating\") depends on how API orders \"gender\" and \"rating\" facets. However, notice that \"price\" and \"brands\" are always ranked at first and second position because their enable_dynamic_position is false.",
          "type": "boolean"
        },
        "excludedFilterKeys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of keys to exclude when faceting. By default, FacetKey.key is not excluded from the filter unless it is listed in this field. Listing a facet key in this field allows its values to appear as facet results, even when they are filtered out of search results. Using this field does not affect what search results are returned. For example, suppose there are 100 documents with the color facet \"Red\" and 200 documents with the color facet \"Blue\". A query containing the filter \"color:ANY(\"Red\")\" and having \"color\" as FacetKey.key would by default return only \"Red\" documents in the search results, and also return \"Red\" with count 100 as the only color facet. Although there are also blue documents available, \"Blue\" would not be shown as an available facet value. If \"color\" is listed in \"excludedFilterKeys\", then the query returns the facet values \"Red\" with count 100 and \"Blue\" with count 200, because the \"color\" key is now excluded from the filter. Because this field doesn't affect search results, the search results are still correctly filtered to return only \"Red\" documents. A maximum of 100 values are allowed. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "facetKey": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpecFacetKey",
          "description": "Required. The facet key specification."
        },
        "limit": {
          "description": "Maximum facet values that are returned for this facet. If unspecified, defaults to 20. The maximum allowed value is 300. Values above 300 are coerced to 300. For aggregation in healthcare search, when the [FacetKey.key] is \"healthcare_aggregation_key\", the limit will be overridden to 10,000 internally, regardless of the value set here. If this field is negative, an `INVALID_ARGUMENT` is returned.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1StreamAssistRequestAgentsSpec": {
      "id": "GoogleCloudDiscoveryengineV1StreamAssistRequestAgentsSpec",
      "properties": {
        "agentSpecs": {
          "type": "array",
          "description": "Optional. Specification of agents that are used to serve the request.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1StreamAssistRequestAgentsSpecAgentSpec"
          }
        }
      },
      "description": "Specification of agents that are used to serve the request.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1UpdateSchemaMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1UpdateSchemaMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "description": "Metadata for UpdateSchema LRO."
    },
    "GoogleCloudDiscoveryengineV1RecrawlUrisRequest": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1RecrawlUrisRequest",
      "properties": {
        "uris": {
          "description": "Required. List of URIs to crawl. At most 10K URIs are supported, otherwise an INVALID_ARGUMENT error is thrown. Each URI should match at least one TargetSite in `site_search_engine`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "siteCredential": {
          "description": "Optional. Credential id to use for crawling.",
          "type": "string"
        }
      },
      "description": "Request message for SiteSearchEngineService.RecrawlUris method."
    },
    "GoogleCloudDiscoveryengineV1CheckGroundingResponseCheckGroundingFactChunk": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1CheckGroundingResponseCheckGroundingFactChunk",
      "description": "Fact chunk for grounding check.",
      "properties": {
        "chunkText": {
          "description": "Text content of the fact chunk. Can be at most 10K characters long.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigChunkingConfig": {
      "properties": {
        "layoutBasedChunkingConfig": {
          "description": "Configuration for the layout based chunking.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig"
        }
      },
      "type": "object",
      "description": "Configuration for chunking config.",
      "id": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigChunkingConfig"
    },
    "GoogleApiDistribution": {
      "properties": {
        "range": {
          "$ref": "GoogleApiDistributionRange",
          "description": "If specified, contains the range of the population values. The field must not be present if the `count` is zero."
        },
        "bucketCounts": {
          "description": "The number of values in each bucket of the histogram, as described in `bucket_options`. If the distribution does not have a histogram, then omit this field. If there is a histogram, then the sum of the values in `bucket_counts` must equal the value in the `count` field of the distribution. If present, `bucket_counts` should contain N values, where N is the number of buckets specified in `bucket_options`. If you supply fewer than N values, the remaining values are assumed to be 0. The order of the values in `bucket_counts` follows the bucket numbering schemes described for the three bucket types. The first value must be the count for the underflow bucket (number 0). The next N-2 values are the counts for the finite buckets (number 1 through N-2). The N'th value in `bucket_counts` is the count for the overflow bucket (number N-1).",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "bucketOptions": {
          "description": "Defines the histogram bucket boundaries. If the distribution does not contain a histogram, then omit this field.",
          "$ref": "GoogleApiDistributionBucketOptions"
        },
        "sumOfSquaredDeviation": {
          "description": "The sum of squared deviations from the mean of the values in the population. For values x_i this is: Sum[i=1..n]((x_i - mean)^2) Knuth, \"The Art of Computer Programming\", Vol. 2, page 232, 3rd edition describes Welford's method for accumulating this sum in one pass. If `count` is zero then this field must be zero.",
          "type": "number",
          "format": "double"
        },
        "exemplars": {
          "description": "Must be in increasing order of `value` field.",
          "type": "array",
          "items": {
            "$ref": "GoogleApiDistributionExemplar"
          }
        },
        "mean": {
          "type": "number",
          "description": "The arithmetic mean of the values in the population. If `count` is zero then this field must be zero.",
          "format": "double"
        },
        "count": {
          "description": "The number of values in the population. Must be non-negative. This value must equal the sum of the values in `bucket_counts` if a histogram is provided.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleApiDistribution",
      "description": "`Distribution` contains summary statistics for a population of values. It optionally contains a histogram representing the distribution of those values across a set of buckets. The summary statistics are the count, mean, sum of the squared deviation from the mean, the minimum, and the maximum of the set of population of values. The histogram is based on a sequence of buckets and gives a count of values that fall into each bucket. The boundaries of the buckets are given either explicitly or by formulas for buckets of fixed or exponentially increasing widths. Although it is not forbidden, it is generally a bad idea to include non-finite values (infinities or NaNs) in the population of values, as this will render the `mean` and `sum_of_squared_deviation` fields meaningless."
    },
    "A2aV1SecurityScheme": {
      "id": "A2aV1SecurityScheme",
      "type": "object",
      "properties": {
        "oauth2SecurityScheme": {
          "$ref": "A2aV1OAuth2SecurityScheme"
        },
        "openIdConnectSecurityScheme": {
          "$ref": "A2aV1OpenIdConnectSecurityScheme"
        },
        "apiKeySecurityScheme": {
          "$ref": "A2aV1APIKeySecurityScheme"
        },
        "httpAuthSecurityScheme": {
          "$ref": "A2aV1HTTPAuthSecurityScheme"
        },
        "mtlsSecurityScheme": {
          "$ref": "A2aV1MutualTlsSecurityScheme"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1MediaInfo": {
      "description": "Media-specific user event information.",
      "id": "GoogleCloudDiscoveryengineV1MediaInfo",
      "type": "object",
      "properties": {
        "mediaProgressPercentage": {
          "description": "Media progress should be computed using only the media_progress_duration relative to the media total length. This value must be between `[0, 1.0]` inclusive. If this is not a playback or the progress cannot be computed (e.g. ongoing livestream), this field should be unset.",
          "format": "float",
          "type": "number"
        },
        "mediaProgressDuration": {
          "description": "The media progress time in seconds, if applicable. For example, if the end user has finished 90 seconds of a playback video, then MediaInfo.media_progress_duration.seconds should be set to 90.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries": {
      "description": "The historical crawl rate timeseries data, used for monitoring.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
      "properties": {
        "qpsTimeSeries": {
          "$ref": "GoogleMonitoringV3TimeSeries",
          "description": "The QPS of the crawl rate."
        }
      }
    },
    "GoogleApiDistributionBucketOptionsExplicit": {
      "description": "Specifies a set of buckets with arbitrary widths. There are `size(bounds) + 1` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 <= i < N-1): bounds[i] Lower bound (1 <= i < N); bounds[i - 1] The `bounds` field must contain at least one element. If `bounds` has only one element, then there are no finite buckets, and that single element is the common boundary of the overflow and underflow buckets.",
      "type": "object",
      "id": "GoogleApiDistributionBucketOptionsExplicit",
      "properties": {
        "bounds": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          },
          "description": "The values must be monotonically increasing."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaConnectorRun": {
      "properties": {
        "endTime": {
          "description": "Output only. The time when the connector run ended.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "stateUpdateTime": {
          "format": "google-datetime",
          "description": "Timestamp at which the connector run sync state was last updated.",
          "type": "string"
        },
        "entityRuns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRun"
          },
          "description": "Output only. The details of the entities synced at the ConnectorRun. Each ConnectorRun consists of syncing one or more entities.",
          "readOnly": true
        },
        "errors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Contains info about errors incurred during the sync. Only exist if running into an error state. Contains error code and error message. Use with the `state` field."
        },
        "trigger": {
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "SCHEDULER",
            "INITIALIZATION",
            "RESUME",
            "MANUAL"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The trigger for this ConnectorRun.",
          "enumDescriptions": [
            "Default value.",
            "ConnectorRun triggered by scheduler if connector has PERIODIC sync mode.",
            "ConnectorRun auto triggered by connector initialization.",
            "ConnectorRun auto triggered by resuming connector.",
            "ConnectorRun triggered by user manually."
          ]
        },
        "latestPauseTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the connector run was most recently paused."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the connector run started."
        },
        "state": {
          "description": "Output only. The state of the sync run.",
          "enumDescriptions": [
            "Default value.",
            "The data sync is ongoing.",
            "The data sync is finished.",
            "The data sync is failed.",
            "Data sync has been running longer than expected and is still running at the time the next run is supposed to start.",
            "Data sync was scheduled but has been cancelled.",
            "Data sync is about to start.",
            "The data sync completed with non-fatal errors.",
            "An ongoing connector run has been running longer than expected, causing this run to be skipped."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "OVERRUN",
            "CANCELLED",
            "PENDING",
            "WARNING",
            "SKIPPED"
          ],
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The full resource name of the Connector Run. Format: `projects/*/locations/*/collections/*/dataConnector/connectorRuns/*`. The `connector_run_id` is system-generated.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaConnectorRun",
      "type": "object",
      "description": "A data sync run of DataConnector. After DataConnector is successfully initialized, data syncs are scheduled at DataConnector.refresh_interval. A ConnectorRun represents a data sync either in the past or onging that the moment. //"
    },
    "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchRequest": {
      "id": "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchRequest",
      "type": "object",
      "description": "Request message for SiteSearchEngineService.EnableAdvancedSiteSearch method.",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1ListIdentityMappingsResponse": {
      "id": "GoogleCloudDiscoveryengineV1ListIdentityMappingsResponse",
      "type": "object",
      "description": "Response message for IdentityMappingStoreService.ListIdentityMappings",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "identityMappingEntries": {
          "description": "The Identity Mapping Entries.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1IdentityMappingEntry"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1UserInfoPreciseLocation": {
      "description": "Precise location info with multiple representation options.",
      "id": "GoogleCloudDiscoveryengineV1UserInfoPreciseLocation",
      "properties": {
        "address": {
          "description": "Location represented by a natural language address. Will later be geocoded and converted to either a point or a polygon.",
          "type": "string"
        },
        "point": {
          "$ref": "GoogleTypeLatLng",
          "description": "Optional. Location represented by a latitude/longitude point."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AnswerGroundingSupport": {
      "description": "Grounding support for a claim in `answer_text`.",
      "properties": {
        "startIndex": {
          "format": "int64",
          "type": "string",
          "description": "Required. Index indicates the start of the claim, measured in bytes (UTF-8 unicode)."
        },
        "sources": {
          "description": "Optional. Citation sources for the claim.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerCitationSource"
          },
          "type": "array"
        },
        "groundingScore": {
          "format": "double",
          "description": "A score in the range of [0, 1] describing how grounded is a specific claim by the references. Higher value means that the claim is better supported by the reference chunks.",
          "type": "number"
        },
        "groundingCheckRequired": {
          "type": "boolean",
          "description": "Indicates that this claim required grounding check. When the system decided this claim didn't require attribution/grounding check, this field is set to false. In that case, no grounding check was done for the claim and therefore `grounding_score`, `sources` is not returned."
        },
        "endIndex": {
          "type": "string",
          "description": "Required. End of the claim, exclusive.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerGroundingSupport",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AssistantToolList": {
      "description": "The enabled tools on a connector",
      "id": "GoogleCloudDiscoveryengineV1AssistantToolList",
      "properties": {
        "toolInfo": {
          "description": "The list of tools with corresponding tool information.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AssistantToolInfo"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchMetadata"
    },
    "GoogleTypeLatLng": {
      "type": "object",
      "properties": {
        "latitude": {
          "type": "number",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double"
        },
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "type": "number",
          "format": "double"
        }
      },
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "id": "GoogleTypeLatLng"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequest": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequest",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "The Unicode country/region code (CLDR) of a location, such as \"US\" and \"419\". For more information, see [Standard fields](https://cloud.google.com/apis/design/standard_fields). If set, then results will be boosted based on the region_code provided."
        },
        "params": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Additional search parameters. For public website search only, supported values are: * `user_country_code`: string. Default empty. If set to non-empty, results are restricted or boosted based on the location provided. For example, `user_country_code: \"au\"` For available codes see [Country Codes](https://developers.google.com/custom-search/docs/json_api_reference#countryCodes) * `search_type`: double. Default empty. Enables non-webpage searching depending on the value. The only valid non-default value is 1, which enables image searching. For example, `search_type: 1`"
        },
        "offset": {
          "description": "A 0-indexed integer that specifies the current offset (that is, starting result location, amongst the Documents deemed by the API as relevant) in search results. This field is only considered if page_token is unset. If this field is negative, an `INVALID_ARGUMENT` is returned. A large offset may be capped to a reasonable threshold.",
          "type": "integer",
          "format": "int32"
        },
        "relevanceFilterSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceFilterSpec",
          "description": "Optional. The granular relevance filtering specification. If not specified, the global `relevance_threshold` will be used for all sub-searches. If specified, this overrides the global `relevance_threshold` to use thresholds on a per sub-search basis. This feature is currently supported only for custom and site search."
        },
        "sessionSpec": {
          "description": "Session specification. Can be used only when `session` is set.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestSessionSpec"
        },
        "customRankingParams": {
          "description": "Optional. Optional configuration for the Custom Ranking feature.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestCustomRankingParams"
        },
        "branch": {
          "description": "The branch resource name, such as `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/branches/0`. Use `default_branch` as the branch ID or leave this field empty, to search documents under the default branch.",
          "type": "string"
        },
        "session": {
          "description": "The session resource name. Optional. Session allows users to do multi-turn /search API calls or coordination between /search API calls and /answer API calls. Example #1 (multi-turn /search API calls): Call /search API with the session ID generated in the first call. Here, the previous search query gets considered in query standing. I.e., if the first query is \"How did Alphabet do in 2022?\" and the current query is \"How about 2023?\", the current query will be interpreted as \"How did Alphabet do in 2023?\". Example #2 (coordination between /search API calls and /answer API calls): Call /answer API with the session ID generated in the first call. Here, the answer generation happens in the context of the search results from the first search call.",
          "type": "string"
        },
        "facetSpecs": {
          "description": "Facet specifications for faceted search. If empty, no facets are returned. A maximum of 100 values are allowed. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpec"
          },
          "type": "array"
        },
        "relevanceScoreSpec": {
          "description": "Optional. The specification for returning the relevance score.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceScoreSpec"
        },
        "oneBoxPageSize": {
          "description": "The maximum number of results to return for OneBox. This applies to each OneBox type individually. Default number is 10.",
          "format": "int32",
          "type": "integer"
        },
        "userInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1betaUserInfo",
          "description": "Information about the end user. Highly recommended for analytics and personalization. UserInfo.user_agent is used to deduce `device_type` for analytics."
        },
        "servingConfig": {
          "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search.",
          "type": "string"
        },
        "canonicalFilter": {
          "type": "string",
          "description": "The default filter that is applied when a user performs a search without checking any filters on the search page. The filter applied to every search request when quality improvement such as query expansion is needed. In the case a query does not have a sufficient amount of results this filter will be used to determine whether or not to enable the query expansion flow. The original filter will still be used for the query expanded search. This field is strongly recommended to achieve high search quality. For more information about filter syntax, see SearchRequest.filter."
        },
        "query": {
          "type": "string",
          "description": "Raw search query."
        },
        "dataStoreSpecs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestDataStoreSpec"
          },
          "type": "array",
          "description": "Specifications that define the specific DataStores to be searched, along with configurations for those data stores. This is only considered for Engines with multiple data stores. For engines with a single data store, the specs directly under SearchRequest should be used."
        },
        "personalizationSpec": {
          "description": "The specification for personalization. Notice that if both ServingConfig.personalization_spec and SearchRequest.personalization_spec are set, SearchRequest.personalization_spec overrides ServingConfig.personalization_spec.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestPersonalizationSpec"
        },
        "searchAddonSpec": {
          "description": "Optional. SearchAddonSpec is used to disable add-ons for search as per new repricing model. This field is only supported for search requests.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestSearchAddonSpec"
        },
        "imageQuery": {
          "description": "Raw image query.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestImageQuery"
        },
        "safeSearch": {
          "description": "Whether to turn on safe search. This is only supported for website search.",
          "type": "boolean"
        },
        "entity": {
          "description": "Optional. The entity for customers that may run multiple different entities, domains, sites or regions, for example, \"Google US\", \"Google Ads\", \"Waymo\", \"google.com\", \"youtube.com\", etc. If this is set, it should be exactly matched with UserEvent.entity to get search results boosted by entity.",
          "type": "string"
        },
        "rankingExpressionBackend": {
          "enum": [
            "RANKING_EXPRESSION_BACKEND_UNSPECIFIED",
            "BYOE",
            "CLEARBOX",
            "RANK_BY_EMBEDDING",
            "RANK_BY_FORMULA"
          ],
          "enumDescriptions": [
            "Default option for unspecified/unknown values.",
            "Deprecated: Use `RANK_BY_EMBEDDING` instead. Ranking by custom embedding model, the default way to evaluate the ranking expression. Legacy enum option, `RANK_BY_EMBEDDING` should be used instead.",
            "Deprecated: Use `RANK_BY_FORMULA` instead. Ranking by custom formula. Legacy enum option, `RANK_BY_FORMULA` should be used instead.",
            "Ranking by custom embedding model, the default way to evaluate the ranking expression.",
            "Ranking by custom formula."
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false
          ],
          "description": "Optional. The backend to use for the ranking expression evaluation.",
          "type": "string"
        },
        "filter": {
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customer might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        },
        "crowdingSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestCrowdingSpec"
          },
          "description": "Optional. Crowding specifications for improving result diversity. If multiple CrowdingSpecs are specified, crowding will be evaluated on each unique combination of the `field` values, and max_count will be the maximum value of `max_count` across all CrowdingSpecs. For example, if the first CrowdingSpec has `field` = \"color\" and `max_count` = 3, and the second CrowdingSpec has `field` = \"size\" and `max_count` = 2, then after 3 documents that share the same color AND size have been returned, subsequent ones should be removed or demoted."
        },
        "pageCategories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The categories associated with a category page. Must be set for category navigation queries to achieve good search quality. The format should be the same as PageInfo.page_category. This field is the equivalent of the query for browse (navigation) queries. It's used by the browse model when the query is empty. If the field is empty, it will not be used by the browse model. If the field contains more than one element, only the first element will be used. To represent full path of a category, use '>' character to separate different hierarchies. If '>' is part of the category name, replace it with other character(s). For example, `Graphics Cards > RTX>4090 > Founders Edition` where \"RTX > 4090\" represents one level, can be rewritten as `Graphics Cards > RTX_4090 > Founders Edition`"
        },
        "spellCorrectionSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestSpellCorrectionSpec",
          "description": "The spell correction specification that specifies the mode under which spell correction takes effect."
        },
        "displaySpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestDisplaySpec",
          "description": "Optional. Config for display feature, like match highlighting on search results."
        },
        "pageToken": {
          "description": "A page token received from a previous SearchService.Search call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to SearchService.Search must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "numResultsPerDataStore": {
          "type": "integer",
          "description": "Optional. The maximum number of results to retrieve from each data store. If not specified, it will use the SearchRequest.DataStoreSpec.num_results if provided, otherwise there is no limit.",
          "format": "int32"
        },
        "naturalLanguageQueryUnderstandingSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestNaturalLanguageQueryUnderstandingSpec",
          "description": "Optional. Config for natural language query understanding capabilities, such as extracting structured field filters from the query. Refer to [this documentation](https://cloud.google.com/generative-ai-app-builder/docs/natural-language-queries) for more information. If `naturalLanguageQueryUnderstandingSpec` is not specified, no additional natural language query understanding will be done."
        },
        "pageSize": {
          "description": "Maximum number of Documents to return. The maximum allowed value depends on the data type. Values above the maximum value are coerced to the maximum value. * Websites with basic indexing: Default `10`, Maximum `25`. * Websites with advanced indexing: Default `25`, Maximum `50`. * Other: Default `50`, Maximum `100`. If this field is negative, an `INVALID_ARGUMENT` is returned.",
          "type": "integer",
          "format": "int32"
        },
        "relevanceThreshold": {
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Google defined threshold.",
            "Lowest relevance threshold.",
            "Low relevance threshold.",
            "Medium relevance threshold.",
            "High relevance threshold."
          ],
          "enum": [
            "RELEVANCE_THRESHOLD_UNSPECIFIED",
            "LOWEST",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "description": "The global relevance threshold of the search results. Defaults to Google defined threshold, leveraging a balance of precision and recall to deliver both highly accurate results and comprehensive coverage of relevant information. If more granular relevance filtering is required, use the `relevance_filter_spec` instead. This feature is not supported for healthcare search.",
          "type": "string"
        },
        "queryExpansionSpec": {
          "description": "The query expansion specification that specifies the conditions under which query expansion occurs.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestQueryExpansionSpec"
        },
        "userLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details."
        },
        "orderBy": {
          "description": "The order in which documents are returned. Documents can be ordered by a field in an Document object. Leave it unset if ordered by relevance. `order_by` expression is case-sensitive. For more information on ordering the website search results, see [Order web search results](https://cloud.google.com/generative-ai-app-builder/docs/order-web-search-results). For more information on ordering the healthcare search results, see [Order healthcare search results](https://cloud.google.com/generative-ai-app-builder/docs/order-hc-results). If this field is unrecognizable, an `INVALID_ARGUMENT` is returned.",
          "type": "string"
        },
        "rankingExpression": {
          "type": "string",
          "description": "Optional. The ranking expression controls the customized ranking on retrieval documents. This overrides ServingConfig.ranking_expression. The syntax and supported features depend on the `ranking_expression_backend` value. If `ranking_expression_backend` is not provided, it defaults to `RANK_BY_EMBEDDING`. If ranking_expression_backend is not provided or set to `RANK_BY_EMBEDDING`, it should be a single function or multiple functions that are joined by \"+\". * ranking_expression = function, { \" + \", function }; Supported functions: * double * relevance_score * double * dotProduct(embedding_field_path) Function variables: * `relevance_score`: pre-defined keywords, used for measure relevance between query and document. * `embedding_field_path`: the document embedding field used with query embedding vector. * `dotProduct`: embedding function between `embedding_field_path` and query embedding vector. Example ranking expression: If document has an embedding field doc_embedding, the ranking expression could be `0.5 * relevance_score + 0.3 * dotProduct(doc_embedding)`. If ranking_expression_backend is set to `RANK_BY_FORMULA`, the following expression types (and combinations of those chained using + or * operators) are supported: * `double` * `signal` * `log(signal)` * `exp(signal)` * `rr(signal, double > 0)` -- reciprocal rank transformation with second argument being a denominator constant. * `is_nan(signal)` -- returns 0 if signal is NaN, 1 otherwise. * `fill_nan(signal1, signal2 | double)` -- if signal1 is NaN, returns signal2 | double, else returns signal1. Here are a few examples of ranking formulas that use the supported ranking expression types: - `0.2 * semantic_similarity_score + 0.8 * log(keyword_similarity_score)` -- mostly rank by the logarithm of `keyword_similarity_score` with slight `semantic_smilarity_score` adjustment. - `0.2 * exp(fill_nan(semantic_similarity_score, 0)) + 0.3 * is_nan(keyword_similarity_score)` -- rank by the exponent of `semantic_similarity_score` filling the value with 0 if it's NaN, also add constant 0.3 adjustment to the final score if `semantic_similarity_score` is NaN. - `0.2 * rr(semantic_similarity_score, 16) + 0.8 * rr(keyword_similarity_score, 16)` -- mostly rank by the reciprocal rank of `keyword_similarity_score` with slight adjustment of reciprocal rank of `semantic_smilarity_score`. The following signals are supported: * `semantic_similarity_score`: semantic similarity adjustment that is calculated using the embeddings generated by a proprietary Google model. This score determines how semantically similar a search query is to a document. * `keyword_similarity_score`: keyword match adjustment uses the Best Match 25 (BM25) ranking function. This score is calculated using a probabilistic model to estimate the probability that a document is relevant to a given query. * `relevance_score`: semantic relevance adjustment that uses a proprietary Google model to determine the meaning and intent behind a user's query in context with the content in the documents. * `pctr_rank`: predicted conversion rate adjustment as a rank use predicted Click-through rate (pCTR) to gauge the relevance and attractiveness of a search result from a user's perspective. A higher pCTR suggests that the result is more likely to satisfy the user's query and intent, making it a valuable signal for ranking. * `freshness_rank`: freshness adjustment as a rank * `document_age`: The time in hours elapsed since the document was last updated, a floating-point number (e.g., 0.25 means 15 minutes). * `topicality_rank`: topicality adjustment as a rank. Uses proprietary Google model to determine the keyword-based overlap between the query and the document. * `base_rank`: the default rank of the result * `media_actor_match`: whether the media actor matches the query * `media_director_match`: whether the media director matches the query * `media_genre_match`: whether the media genre matches the query * `media_language_match`: whether the media language matches the query * `media_title_match`: whether the media title matches the query * `media_prefix_similarity_rank`: prefix similarity rank for media results * `media_semantic_similarity_rank`: semantic similarity rank for media results"
        },
        "boostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpec",
          "description": "Boost specification to boost certain documents. For more information on boosting, see [Boosting](https://cloud.google.com/generative-ai-app-builder/docs/boost-search-results)"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see [Standard fields](https://cloud.google.com/apis/design/standard_fields). This field helps to better interpret the query. If a value isn't specified, the query language code is automatically detected, which may not be accurate."
        },
        "contentSearchSpec": {
          "description": "A specification for configuring the behavior of content search.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpec"
        },
        "searchAsYouTypeSpec": {
          "description": "Search as you type configuration. Only supported for the IndustryVertical.MEDIA vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestSearchAsYouTypeSpec"
        },
        "userPseudoId": {
          "description": "Optional. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and CompleteQueryRequest.user_pseudo_id The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "embeddingSpec": {
          "description": "Uses the provided embedding to do additional semantic document retrieval. The retrieval is based on the dot product of SearchRequest.EmbeddingSpec.EmbeddingVector.vector and the document embedding that is provided in SearchRequest.EmbeddingSpec.EmbeddingVector.field_path. If SearchRequest.EmbeddingSpec.EmbeddingVector.field_path is not provided, it will use ServingConfig.EmbeddingConfig.field_path.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpec"
        }
      },
      "type": "object",
      "description": "Request message for SearchService.Search method."
    },
    "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateResponse": {
      "description": "Response message for CrawlRateManagementService.RemoveDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED.",
      "id": "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateResponse",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The state of the response.",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "type": "string"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Errors from service when handling the request."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ChunkStructuredContent": {
      "type": "object",
      "description": "The structured content information.",
      "properties": {
        "structureType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The structure type of the structured content.",
          "enum": [
            "STRUCTURE_TYPE_UNSPECIFIED",
            "SHAREHOLDER_STRUCTURE",
            "SIGNATURE_STRUCTURE",
            "CHECKBOX_STRUCTURE"
          ],
          "enumDescriptions": [
            "Default value.",
            "Shareholder structure.",
            "Signature structure.",
            "Checkbox structure."
          ]
        },
        "content": {
          "description": "Output only. The content of the structured content.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ChunkStructuredContent"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswer": {
      "type": "object",
      "description": "AssistAnswer resource, main part of AssistResponse.",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswer",
      "properties": {
        "customerPolicyEnforcementResult": {
          "description": "Optional. The field contains information about the various policy checks' results like the banned phrases or the Model Armor checks. This field is populated only if the assist call was skipped due to a policy violation.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResult"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. Resource name of the `AssistAnswer`. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/assistAnswers/{assist_answer}` This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "replies": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAssistAnswerReply"
          },
          "description": "Replies of the assistant.",
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "Unknown.",
            "Assist operation is currently in progress.",
            "Assist operation has failed.",
            "Assist operation has succeeded.",
            "Assist operation has been skipped.",
            "Assist operation has been cancelled (e.g. client closed the stream). May contain a partial response."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED",
            "SKIPPED",
            "CANCELLED"
          ],
          "description": "State of the answer generation.",
          "type": "string"
        },
        "assistSkippedReasons": {
          "type": "array",
          "items": {
            "enum": [
              "ASSIST_SKIPPED_REASON_UNSPECIFIED",
              "NON_ASSIST_SEEKING_QUERY_IGNORED",
              "CUSTOMER_POLICY_VIOLATION"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. Skip reason is not specified.",
              "The assistant ignored the query, because it did not appear to be answer-seeking.",
              "The assistant ignored the query or refused to answer because of a customer policy violation (e.g., the query or the answer contained a banned phrase)."
            ]
          },
          "description": "Reasons for not answering the assist call."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1IdpConfigExternalIdpConfig": {
      "properties": {
        "workforcePoolName": {
          "type": "string",
          "description": "Workforce pool name. Example: \"locations/global/workforcePools/pool_id\""
        }
      },
      "description": "Third party IDP Config.",
      "id": "GoogleCloudDiscoveryengineV1IdpConfigExternalIdpConfig",
      "type": "object"
    },
    "GoogleMonitoringV3TimeInterval": {
      "id": "GoogleMonitoringV3TimeInterval",
      "description": "A time interval extending just after a start time through an end time. If the start time is the same as the end time, then the interval represents a single point in time.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Required. The end of the time interval.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The beginning of the time interval. The default value for the start time is the end time. The start time must not be later than the end time."
        }
      },
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudDiscoveryengineV1ConversationMessage": {
      "properties": {
        "createTime": {
          "description": "Output only. Message creation timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "reply": {
          "$ref": "GoogleCloudDiscoveryengineV1Reply",
          "description": "Search reply."
        },
        "userInput": {
          "description": "User text input.",
          "$ref": "GoogleCloudDiscoveryengineV1TextInput"
        }
      },
      "description": "Defines a conversation message.",
      "id": "GoogleCloudDiscoveryengineV1ConversationMessage",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCreateTargetSiteMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCreateTargetSiteMetadata",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1alphaSessionConfig": {
      "description": "Configuration for the session.",
      "type": "object",
      "properties": {
        "sessionTtl": {
          "description": "Optional. The TTL for the session. If unset, the default value is 60 days.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSessionConfigSessionTtl"
        },
        "sessionManagementPolicy": {
          "enum": [
            "SESSION_MANAGEMENT_POLICY_UNSPECIFIED",
            "NOT_MANAGED",
            "VERTEX_AI_MANAGED"
          ],
          "type": "string",
          "description": "Optional. Session management policy that defines who will manage the session.",
          "enumDescriptions": [
            "Default value.",
            "The session will be managed by the customer.",
            "Sessions multi-tenancy will be controlled by Google using 1P or 3P identity providers."
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSessionConfig"
    },
    "GoogleCloudDiscoveryengineV1betaDataProtectionPolicy": {
      "description": "Contains the data protection policy config for a DataStore or a connector.",
      "properties": {
        "sensitiveDataProtectionPolicy": {
          "description": "Optional. Specifies the sensitive data protection policy for the connector source.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDataProtectionPolicySensitiveDataProtectionPolicy"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaDataProtectionPolicy",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestDisplaySpec": {
      "properties": {
        "matchHighlightingCondition": {
          "enumDescriptions": [
            "Server behavior is the same as `MATCH_HIGHLIGHTING_DISABLED`.",
            "Disables match highlighting on all documents.",
            "Enables match highlighting on all documents."
          ],
          "description": "The condition under which match highlighting should occur.",
          "enum": [
            "MATCH_HIGHLIGHTING_CONDITION_UNSPECIFIED",
            "MATCH_HIGHLIGHTING_DISABLED",
            "MATCH_HIGHLIGHTING_ENABLED"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestDisplaySpec",
      "description": "Specifies features for display, like match highlighting.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ImportDocumentsResponse": {
      "type": "object",
      "description": "Response of the ImportDocumentsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudDiscoveryengineV1ImportDocumentsResponse",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "errorConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig"
        }
      }
    },
    "GoogleApiMetric": {
      "id": "GoogleApiMetric",
      "type": "object",
      "description": "A specific metric, identified by specifying values for all of the labels of a `MetricDescriptor`.",
      "properties": {
        "type": {
          "description": "An existing metric type, see google.api.MetricDescriptor. For example, `custom.googleapis.com/invoice/paid/amount`.",
          "type": "string"
        },
        "labels": {
          "description": "The set of label values that uniquely identify this metric. All labels listed in the `MetricDescriptor` must be assigned values.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfo": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfo",
      "description": "Information describing what natural language understanding was done on the input query.",
      "properties": {
        "extractedFilters": {
          "description": "The filters that were extracted from the input query.",
          "type": "string"
        },
        "structuredExtractedFilter": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilter",
          "description": "The filters that were extracted from the input query represented in a structured form."
        },
        "rewrittenQuery": {
          "type": "string",
          "description": "Rewritten input query minus the extracted filters."
        },
        "classifiedIntents": {
          "type": "array",
          "description": "The classified intents from the input query.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchInfo": {
      "properties": {
        "offset": {
          "description": "An integer that specifies the current offset for pagination (the 0-indexed starting location, amongst the products deemed by the API as relevant). See SearchRequest.offset for definition. If this field is negative, an `INVALID_ARGUMENT` is returned. This can only be set for `search` events. Other event types should not set this field. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "integer",
          "format": "int32"
        },
        "searchQuery": {
          "type": "string",
          "description": "The user's search query. See SearchRequest.query for definition. The value must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. At least one of search_query or PageInfo.page_category is required for `search` events. Other event types should not set this field. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "orderBy": {
          "description": "The order in which products are returned, if applicable. See SearchRequest.order_by for definition and syntax. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. This can only be set for `search` events. Other event types should not set this field. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        }
      },
      "description": "Detailed search information.",
      "id": "GoogleCloudDiscoveryengineV1SearchInfo",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AssistantGenerationConfigSystemInstruction": {
      "description": "System instruction, also known as the prompt preamble for LLM calls.",
      "properties": {
        "additionalSystemInstruction": {
          "description": "Optional. Additional system instruction that will be added to the default system instruction.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AssistantGenerationConfigSystemInstruction"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineChatEngineMetadata": {
      "description": "Additional information of a Chat Engine. Fields in this message are output only.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineChatEngineMetadata",
      "properties": {
        "dialogflowAgent": {
          "type": "string",
          "description": "The resource name of a Dialogflow agent, that this Chat Engine refers to. Format: `projects//locations//agents/`."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpec",
      "properties": {
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum facet values that are returned for this facet. If unspecified, defaults to 20. The maximum allowed value is 300. Values above 300 are coerced to 300. For aggregation in healthcare search, when the [FacetKey.key] is \"healthcare_aggregation_key\", the limit will be overridden to 10,000 internally, regardless of the value set here. If this field is negative, an `INVALID_ARGUMENT` is returned."
        },
        "facetKey": {
          "description": "Required. The facet key specification.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpecFacetKey"
        },
        "excludedFilterKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of keys to exclude when faceting. By default, FacetKey.key is not excluded from the filter unless it is listed in this field. Listing a facet key in this field allows its values to appear as facet results, even when they are filtered out of search results. Using this field does not affect what search results are returned. For example, suppose there are 100 documents with the color facet \"Red\" and 200 documents with the color facet \"Blue\". A query containing the filter \"color:ANY(\"Red\")\" and having \"color\" as FacetKey.key would by default return only \"Red\" documents in the search results, and also return \"Red\" with count 100 as the only color facet. Although there are also blue documents available, \"Blue\" would not be shown as an available facet value. If \"color\" is listed in \"excludedFilterKeys\", then the query returns the facet values \"Red\" with count 100 and \"Blue\" with count 200, because the \"color\" key is now excluded from the filter. Because this field doesn't affect search results, the search results are still correctly filtered to return only \"Red\" documents. A maximum of 100 values are allowed. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "enableDynamicPosition": {
          "type": "boolean",
[...]
