{
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "ownerName": "Google",
  "protocol": "rest",
  "canonicalName": "Discovery Engine",
  "version_module": true,
  "revision": "20260823",
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.DisableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterGeolocationConstraint": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterGeolocationConstraint",
      "type": "object",
      "description": "Constraint of a geolocation field. Name of the geolocation field as defined in the schema.",
      "properties": {
        "longitude": {
          "format": "double",
          "description": "The longitude of the geolocation inferred from the input query.",
          "type": "number"
        },
        "address": {
          "description": "The reference address that was inferred from the input query. The proximity of the reference address to the geolocation field will be used to filter the results.",
          "type": "string"
        },
        "radiusInMeters": {
          "description": "The radius in meters around the address. The record is returned if the location of the geolocation field is within the radius.",
          "type": "number",
          "format": "float"
        },
        "fieldName": {
          "description": "The name of the geolocation field as defined in the schema.",
          "type": "string"
        },
        "latitude": {
          "format": "double",
          "type": "number",
          "description": "The latitude of the geolocation inferred from the input query."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerReferenceUnstructuredDocumentInfo": {
      "description": "Unstructured document information.",
      "properties": {
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "structData": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The structured JSON metadata for the document. It is populated from the struct data from the Chunk in search result."
        },
        "document": {
          "type": "string",
          "description": "Document resource name."
        },
        "uri": {
          "type": "string",
          "description": "URI for the document."
        },
        "chunkContents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerReferenceUnstructuredDocumentInfoChunkContent"
          },
          "type": "array",
          "description": "List of cited chunk contents derived from document content."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerReferenceUnstructuredDocumentInfo",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment": {
      "description": "Extractive segment. [Guide](https://cloud.google.com/generative-ai-app-builder/docs/snippets#extractive-segments) Answer generation will only use it if document_contexts is empty. This is supposed to be shorter snippets.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment",
      "properties": {
        "content": {
          "description": "Extractive segment content.",
          "type": "string"
        },
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaWorkspaceConfig": {
      "type": "object",
      "properties": {
        "superAdminEmailAddress": {
          "type": "string",
          "description": "Optional. The super admin email address for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion."
        },
        "superAdminServiceAccount": {
          "description": "Optional. The super admin service account for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        },
        "dasherCustomerId": {
          "type": "string",
          "description": "Output only. Obfuscated Dasher customer ID. Derived by the server from the project's GCP organization at data store creation time; any value supplied in the request payload is ignored.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The Google Workspace data source.",
          "enumDescriptions": [
            "Defaults to an unspecified Workspace type.",
            "Workspace Data Store contains Drive data",
            "Workspace Data Store contains Mail data",
            "Workspace Data Store contains Sites data",
            "Workspace Data Store contains Calendar data",
            "Workspace Data Store contains Chat data",
            "Workspace Data Store contains Groups data",
            "Workspace Data Store contains Keep data",
            "Workspace Data Store contains People data",
            "Workspace Data Store contains all Workspace apps data"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DRIVE",
            "GOOGLE_MAIL",
            "GOOGLE_SITES",
            "GOOGLE_CALENDAR",
            "GOOGLE_CHAT",
            "GOOGLE_GROUPS",
            "GOOGLE_KEEP",
            "GOOGLE_PEOPLE",
            "GOOGLE_WORKSPACE"
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaWorkspaceConfig",
      "description": "Config to store data store type configuration for workspace data"
    },
    "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateRequest": {
      "id": "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateRequest",
      "description": "Request message for CrawlRateManagementService.RemoveDedicatedCrawlRate method. The user can remove the dedicated crawl rate for a crawl_rate_scope they own, and Google will fall back to organic crawl, and the crawl rate will be determined by Google.",
      "properties": {
        "crawlRateScope": {
          "type": "string",
          "description": "Required. The scope of the crawl rate change. Currently, only domain and host name are supported. A domain name example: `example.com`. A host name example: `www.example.com`. Please do not include `/` in the domain or host name."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpecSafetySetting": {
      "properties": {
        "threshold": {
          "enumDescriptions": [
            "Unspecified harm block threshold.",
            "Block low threshold and above (i.e. block more).",
            "Block medium threshold and above.",
            "Block only high threshold (i.e. block less).",
            "Block none.",
            "Turn off the safety filter."
          ],
          "type": "string",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "description": "Required. The harm block threshold."
        },
        "category": {
          "description": "Required. Harm category.",
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content.",
            "The harm category is civic integrity."
          ],
          "type": "string",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_CIVIC_INTEGRITY"
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpecSafetySetting",
      "description": "Safety settings.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "description": "Metadata related to the progress of the PurgeSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseSummarySummaryWithMetadata": {
      "type": "object",
      "properties": {
        "references": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryReference"
          },
          "type": "array",
          "description": "Document References."
        },
        "citationMetadata": {
          "description": "Citation metadata for given summary.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryCitationMetadata"
        },
        "blobAttachments": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryBlobAttachment"
          },
          "description": "Output only. Store multimodal data for answer enhancement."
        },
        "summary": {
          "description": "Summary text with no citation information.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseSummarySummaryWithMetadata",
      "description": "Summary with metadata information."
    },
    "GoogleCloudDiscoveryengineV1betaImportUserEventsRequest": {
      "description": "Request message for the ImportUserEvents request.",
      "type": "object",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudDiscoveryengineV1betaGcsSource",
          "description": "Cloud Storage location for the input content."
        },
        "inlineSource": {
          "description": "The Inline source for the input content for UserEvents.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportUserEventsRequestInlineSource"
        },
        "bigquerySource": {
          "description": "BigQuery input source.",
          "$ref": "GoogleCloudDiscoveryengineV1betaBigQuerySource"
        },
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import. Cannot be set for inline user event imports.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportUserEventsRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentStats": {
      "description": "Stats about the experiment.",
      "properties": {
        "evaluatedCandidatesCount": {
          "description": "Output only. Number of candidates evaluated.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "outputTokenCount": {
          "description": "Output only. Number of billed output tokens consumed by the experiment.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "inputTokenCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Number of billed input tokens consumed by the experiment."
        },
        "candidatesCount": {
          "format": "int32",
          "description": "Output only. Number of candidates generated.",
          "type": "integer",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentStats"
    },
    "GoogleApiDistributionBucketOptions": {
      "id": "GoogleApiDistributionBucketOptions",
      "type": "object",
      "description": "`BucketOptions` describes the bucket boundaries used to create a histogram for the distribution. The buckets can be in a linear sequence, an exponential sequence, or each bucket can be specified explicitly. `BucketOptions` does not include the number of values in each bucket. A bucket has an inclusive lower bound and exclusive upper bound for the values that are counted for that bucket. The upper bound of a bucket must be strictly greater than the lower bound. The sequence of N buckets for a distribution consists of an underflow bucket (number 0), zero or more finite buckets (number 1 through N - 2) and an overflow bucket (number N - 1). The buckets are contiguous: the lower bound of bucket i (i > 0) is the same as the upper bound of bucket i - 1. The buckets span the whole range of finite values: lower bound of the underflow bucket is -infinity and the upper bound of the overflow bucket is +infinity. The finite buckets are so-called because both bounds are finite.",
      "properties": {
        "exponentialBuckets": {
          "description": "The exponential buckets.",
          "$ref": "GoogleApiDistributionBucketOptionsExponential"
        },
        "linearBuckets": {
          "$ref": "GoogleApiDistributionBucketOptionsLinear",
          "description": "The linear bucket."
        },
        "explicitBuckets": {
          "$ref": "GoogleApiDistributionBucketOptionsExplicit",
          "description": "The explicit buckets."
        }
      }
    },
    "GoogleCloudDiscoveryengineLoggingServiceContext": {
      "description": "Describes a running service that sends errors.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineLoggingServiceContext",
      "properties": {
        "service": {
          "type": "string",
          "description": "An identifier of the service—for example, `discoveryengine.googleapis.com`."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DataConnectorConnectorMetadata": {
      "type": "object",
      "description": "User-facing metadata for the connector, shown on the connector detail page (title, description, short_description, author, note).",
      "properties": {
        "note": {
          "description": "Optional. Free-form, multi-line note about the connector's capabilities or a custom note that can be set for the connector.",
          "type": "string"
        },
        "shortDescription": {
          "description": "Optional. Short, subtitle-length description of the connector (e.g. shown beneath the connector name in list and detail views).",
          "type": "string"
        },
        "author": {
          "description": "Optional. The party that authored the connector, e.g. \"Google\" or a third-party provider name. Lets end users see who authored a connector (future: third-party-authored connectors).",
          "type": "string"
        },
        "title": {
          "description": "Optional. Display title of the connector.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the connector, shown on the connector detail page. One connector has a single description."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DataConnectorConnectorMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteAgentMetadata": {
      "description": "Metadata related to the progress of the AgentService.DeleteAgent operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteAgentMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaControlPromoteAction": {
      "type": "object",
      "description": "Promote certain links based on some trigger queries. Example: Promote shoe store link when searching for `shoe` keyword. The link can be outside of associated data store.",
      "properties": {
        "dataStore": {
          "type": "string",
          "description": "Required. Data store with which this promotion is attached to."
        },
        "searchLinkPromotion": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchLinkPromotion",
          "description": "Required. Promotion attached to this action."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaControlPromoteAction"
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnectorRealtimeSyncConfigStreamingError": {
      "description": "Streaming error details.",
      "properties": {
        "error": {
          "description": "Optional. Error details.",
          "$ref": "GoogleRpcStatus"
        },
        "streamingErrorReason": {
          "enum": [
            "STREAMING_ERROR_REASON_UNSPECIFIED",
            "STREAMING_SETUP_ERROR",
            "STREAMING_SYNC_ERROR",
            "INGRESS_ENDPOINT_REQUIRED"
          ],
          "description": "Optional. Streaming error.",
          "enumDescriptions": [
            "Streaming error reason unspecified.",
            "Some error occurred while setting up resources for realtime sync.",
            "Some error was encountered while running realtime sync for the connector.",
            "Ingress endpoint is required when setting up realtime sync in private connectivity."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnectorRealtimeSyncConfigStreamingError"
    },
    "GoogleCloudDiscoveryengineV1AssistantToolInfo": {
      "id": "GoogleCloudDiscoveryengineV1AssistantToolInfo",
      "description": "Information to identify a tool.",
      "type": "object",
      "properties": {
        "toolName": {
          "type": "string",
          "description": "The name of the tool as defined by DataConnectorService.QueryAvailableActions. Note: it's using `action` in the DataConnectorService apis, but they are the same as the `tool` here."
        },
        "toolDisplayName": {
          "type": "string",
          "description": "The display name of the tool."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaWorkspaceConfig": {
      "type": "object",
      "properties": {
        "superAdminServiceAccount": {
          "type": "string",
          "description": "Optional. The super admin service account for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion."
        },
        "superAdminEmailAddress": {
          "type": "string",
          "description": "Optional. The super admin email address for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DRIVE",
            "GOOGLE_MAIL",
            "GOOGLE_SITES",
            "GOOGLE_CALENDAR",
            "GOOGLE_CHAT",
            "GOOGLE_GROUPS",
            "GOOGLE_KEEP",
            "GOOGLE_PEOPLE",
            "GOOGLE_WORKSPACE"
          ],
          "enumDescriptions": [
            "Defaults to an unspecified Workspace type.",
            "Workspace Data Store contains Drive data",
            "Workspace Data Store contains Mail data",
            "Workspace Data Store contains Sites data",
            "Workspace Data Store contains Calendar data",
            "Workspace Data Store contains Chat data",
            "Workspace Data Store contains Groups data",
            "Workspace Data Store contains Keep data",
            "Workspace Data Store contains People data",
            "Workspace Data Store contains all Workspace apps data"
          ],
          "type": "string",
          "description": "The Google Workspace data source."
        },
        "dasherCustomerId": {
          "readOnly": true,
          "description": "Output only. Obfuscated Dasher customer ID. Derived by the server from the project's GCP organization at data store creation time; any value supplied in the request payload is ignored.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaWorkspaceConfig",
      "description": "Config to store data store type configuration for workspace data"
    },
    "GoogleCloudDiscoveryengineV1betaControlRedirectAction": {
      "properties": {
        "redirectUri": {
          "description": "Required. The URI to which the shopper will be redirected. Required. URI must have length equal or less than 2000 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaControlRedirectAction",
      "description": "Redirects a shopper to the provided URI.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesMetadata": {
      "description": "Metadata related to the progress of the ImportSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaControlRedirectAction": {
      "properties": {
        "redirectUri": {
          "description": "Required. The URI to which the shopper will be redirected. Required. URI must have length equal or less than 2000 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaControlRedirectAction",
      "type": "object",
      "description": "Redirects a shopper to the provided URI."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerCitation": {
      "properties": {
        "sources": {
          "type": "array",
          "description": "Citation sources for the attributed segment.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerCitationSource"
          }
        },
        "startIndex": {
          "format": "int64",
          "type": "string",
          "description": "Index indicates the start of the segment, measured in bytes (UTF-8 unicode). If there are multi-byte characters,such as non-ASCII characters, the index measurement is longer than the string length."
        },
        "endIndex": {
          "format": "int64",
          "description": "End of the attributed segment, exclusive. Measured in bytes (UTF-8 unicode). If there are multi-byte characters,such as non-ASCII characters, the index measurement is longer than the string length.",
          "type": "string"
        }
      },
      "description": "Citation info for a segment.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerCitation",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaTrainCustomModelMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the TrainCustomModel operation. This is returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaTrainCustomModelMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerCitationSource": {
      "type": "object",
      "description": "Citation source.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerCitationSource",
      "properties": {
        "referenceId": {
          "description": "ID of the citation source.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCreateEngineMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCreateEngineMetadata",
      "description": "Metadata related to the progress of the EngineService.CreateEngine operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1betaAssistantGroundedContent": {
      "id": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContent",
      "properties": {
        "content": {
          "description": "The content.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistantContent"
        },
        "textGroundingMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadata",
          "description": "Metadata for grounding based on text sources."
        },
        "citationMetadata": {
          "description": "Source attribution of the generated content. See also https://cloud.google.com/vertex-ai/generative-ai/docs/learn/overview#citation_check",
          "$ref": "GoogleCloudDiscoveryengineV1betaCitationMetadata"
        }
      },
      "description": "A piece of content and possibly its grounding information. Not all content needs grounding. Phrases like \"Of course, I will gladly search it for you.\" do not need grounding.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaListUserLicensesResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaListUserLicensesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "userLicenses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaUserLicense"
          },
          "description": "All the customer's UserLicenses."
        }
      },
      "description": "Response message for UserLicenseService.ListUserLicenses.",
      "type": "object"
    },
    "GoogleApiDistributionBucketOptionsExplicit": {
      "properties": {
        "bounds": {
          "description": "The values must be monotonically increasing.",
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        }
      },
      "description": "Specifies a set of buckets with arbitrary widths. There are `size(bounds) + 1` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 <= i < N-1): bounds[i] Lower bound (1 <= i < N); bounds[i - 1] The `bounds` field must contain at least one element. If `bounds` has only one element, then there are no finite buckets, and that single element is the common boundary of the overflow and underflow buckets.",
      "type": "object",
      "id": "GoogleApiDistributionBucketOptionsExplicit"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerReferenceChunkInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceChunkInfo",
      "properties": {
        "relevanceScore": {
          "format": "float",
          "type": "number",
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation."
        },
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        },
        "documentMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceChunkInfoDocumentMetadata",
          "description": "Document metadata."
        },
        "blobAttachmentIndexes": {
          "description": "Output only. Stores indexes of blobattachments linked to this chunk.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "chunk": {
          "description": "Chunk resource name.",
          "type": "string"
        }
      },
      "description": "Chunk information.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1Schema": {
      "properties": {
        "jsonSchema": {
          "description": "The JSON representation of the schema.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the schema, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/schemas/{schema}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "structSchema": {
          "type": "object",
          "description": "The structured representation of the schema.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1Schema",
      "type": "object",
      "description": "Defines the structure and layout of a type of document data."
    },
    "GoogleCloudDiscoveryengineV1betaObservabilityConfig": {
      "properties": {
        "sensitiveLoggingEnabled": {
          "description": "Optional. Enables sensitive logging. Sensitive logging includes customer core content (e.g. prompts, responses). If `false`, will sanitize all sensitive fields.",
          "type": "boolean"
        },
        "observabilityEnabled": {
          "type": "boolean",
          "description": "Optional. Enables observability. If `false`, all other flags are ignored."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaObservabilityConfig",
      "description": "Observability config for a resource."
    },
    "GoogleCloudDiscoveryengineV1ActionConfig": {
      "properties": {
        "actionParams": {
          "description": "Optional. Action parameters in structured json format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "createBapConnection": {
          "description": "Optional. Whether to create a BAP connection for the connector.",
          "type": "boolean"
        },
        "serviceName": {
          "description": "Optional. The Service Directory resource name (projects/*/locations/*/namespaces/*/services/*) representing a VPC network endpoint used to connect to the data source's `instance_uri`, defined in DataConnector.params. Required when VPC Service Controls are enabled.",
          "type": "string"
        },
        "userDefinedScopesMapping": {
          "description": "Optional. Mapping from operation name to the list of scopes. Only be populated if there are user specified scopes.",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1ActionConfigScopeList"
          },
          "type": "object"
        },
        "jsonActionParams": {
          "description": "Optional. Action parameters in json string format.",
          "type": "string"
        },
        "useStaticSecrets": {
          "type": "boolean",
          "description": "Optional. Whether to use static secrets for the connector. If true, the secrets provided in the action_params will be ignored."
        },
        "isActionConfigured": {
          "description": "Output only. The connector contains the necessary parameters and is configured to support actions.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "Informations to support actions on the connector.",
      "id": "GoogleCloudDiscoveryengineV1ActionConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries": {
      "id": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries",
      "description": "The historical crawl rate timeseries data, used for monitoring.",
      "properties": {
        "qpsTimeSeries": {
          "description": "The QPS of the crawl rate.",
          "$ref": "GoogleMonitoringV3TimeSeries"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaIdpConfig": {
      "description": "Identity Provider Config.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaIdpConfig",
      "properties": {
        "idpType": {
          "description": "Identity provider type configured.",
          "type": "string",
          "enumDescriptions": [
            "Default value. ACL search not enabled.",
            "Google 1P provider.",
            "Third party provider."
          ],
          "enum": [
            "IDP_TYPE_UNSPECIFIED",
            "GSUITE",
            "THIRD_PARTY"
          ]
        },
        "externalIdpConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaIdpConfigExternalIdpConfig",
          "description": "External Identity provider config."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAssistantContentCodeExecutionResult": {
      "type": "object",
      "description": "Result of executing ExecutableCode.",
      "id": "GoogleCloudDiscoveryengineV1betaAssistantContentCodeExecutionResult",
      "properties": {
        "outcome": {
          "enumDescriptions": [
            "Unspecified status. This value should not be used.",
            "Code execution completed successfully.",
            "Code execution finished but with a failure. `stderr` should contain the reason.",
            "Code execution ran for too long, and was cancelled. There may or may not be a partial output present."
          ],
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "OUTCOME_OK",
            "OUTCOME_FAILED",
            "OUTCOME_DEADLINE_EXCEEDED"
          ],
          "type": "string",
          "description": "Required. Outcome of the code execution."
        },
        "output": {
          "description": "Optional. Contains stdout when code execution is successful, stderr or other description otherwise.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportSampleQueriesResponse": {
      "description": "Response of the SampleQueryService.ImportSampleQueries method. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful.",
      "type": "object",
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        },
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportSampleQueriesResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaCreateEngineMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "description": "Metadata related to the progress of the EngineService.CreateEngine operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCreateEngineMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries": {
      "description": "The historical crawl rate timeseries data, used for monitoring.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
      "properties": {
        "qpsTimeSeries": {
          "$ref": "GoogleMonitoringV3TimeSeries",
          "description": "The QPS of the crawl rate."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfig": {
      "properties": {
        "chunkingConfig": {
          "description": "Whether chunking mode is enabled.",
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigChunkingConfig"
        },
        "name": {
          "description": "The full resource name of the Document Processing Config. Format: `projects/*/locations/*/collections/*/dataStores/*/documentProcessingConfig`.",
          "type": "string"
        },
        "defaultParsingConfig": {
          "description": "Configurations for default Document parser. If not specified, we will configure it as default DigitalParsingConfig, and the default parsing config will be applied to all file types for Document parsing.",
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig"
        },
        "parsingConfigOverrides": {
          "description": "Map from file type to override the default parsing configuration based on the file type. Supported keys: * `pdf`: Override parsing config for PDF files, either digital parsing, ocr parsing or layout parsing is supported. * `html`: Override parsing config for HTML files, only digital parsing and layout parsing are supported. * `docx`: Override parsing config for DOCX files, only digital parsing and layout parsing are supported. * `pptx`: Override parsing config for PPTX files, only digital parsing and layout parsing are supported. * `xlsm`: Override parsing config for XLSM files, only digital parsing and layout parsing are supported. * `xlsx`: Override parsing config for XLSX files, only digital parsing and layout parsing are supported.",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfig",
      "description": "A singleton resource of DataStore. If it's empty when DataStore is created and DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED, the default parser will default to digital parser."
    },
    "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsMetadata",
      "properties": {
        "successCount": {
          "description": "Count of CompletionSuggestions successfully imported.",
          "type": "string",
          "format": "int64"
        },
        "failureCount": {
          "description": "Count of CompletionSuggestions that failed to be imported.",
          "format": "int64",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the ImportCompletionSuggestions operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineKnowledgeGraphConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaEngineKnowledgeGraphConfig",
      "properties": {
        "featureConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineKnowledgeGraphConfigFeatureConfig",
          "description": "Optional. Feature config for the Knowledge Graph."
        },
        "enablePrivateKnowledgeGraph": {
          "type": "boolean",
          "description": "Whether to enable the Private Knowledge Graph for the engine. Defaults to false if not specified."
        },
        "cloudKnowledgeGraphTypes": {
          "type": "array",
          "description": "Specify entity types to support.",
          "items": {
            "type": "string"
          }
        },
        "enableCloudKnowledgeGraph": {
          "description": "Whether to enable the Cloud Knowledge Graph for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "privateKnowledgeGraphTypes": {
          "description": "Specify entity types to support.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Configuration message for the Knowledge Graph.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1Engine": {
      "type": "object",
      "description": "Metadata that describes the training and serving parameters of an Engine.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The fully qualified resource name of the engine. This field must be a UTF-8 encoded string with a length limit of 1024 characters. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}` engine should be 1-63 characters, and valid characters are /a-z0-9*/. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "agentGatewaySetting": {
          "description": "Optional. The agent gateway setting for the engine.",
          "$ref": "GoogleCloudDiscoveryengineV1AgentGatewaySetting"
        },
        "solutionType": {
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ],
          "description": "Required. The solutions of the engine.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ]
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp the Recommendation Engine was last updated.",
          "type": "string"
        },
        "associatedAgentRegistry": {
          "description": "Output only. The Agent registry containing the agents, MCP servers and tools associated with this engine. Derived server-side from the linked Agent Gateway's registry.",
          "readOnly": true,
          "type": "string"
        },
        "mediaRecommendationEngineConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfig",
          "description": "Configurations for the Media Engine. Only applicable on the data stores with solution_type SOLUTION_TYPE_RECOMMENDATION and IndustryVertical.MEDIA vertical."
        },
        "knowledgeGraphConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfig",
          "description": "Optional. Configurations for the Knowledge Graph. Only applicable if solution_type is SOLUTION_TYPE_SEARCH."
        },
        "cmekConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1CmekConfig",
          "description": "Output only. CMEK-related information for the Engine."
        },
        "chatEngineMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineChatEngineMetadata",
          "readOnly": true,
          "description": "Output only. Additional information of the Chat Engine. Only applicable if solution_type is SOLUTION_TYPE_CHAT."
        },
        "features": {
          "additionalProperties": {
            "enum": [
              "FEATURE_STATE_UNSPECIFIED",
              "FEATURE_STATE_ON",
              "FEATURE_STATE_OFF"
            ],
            "type": "string",
            "enumDescriptions": [
              "The feature state is unspecified.",
              "The feature is turned on to be accessible.",
              "The feature is turned off to be inaccessible."
            ]
          },
          "type": "object",
          "description": "Optional. Feature config for the engine to opt in or opt out of features. Supported keys: * `*`: all features, if it's present, all other feature state settings are ignored. * `agent-gallery` * `no-code-agent-builder` * `prompt-gallery` * `model-selector` * `notebook-lm` * `people-search` * `people-search-org-chart` * `bi-directional-audio` * `speech-to-text` * `feedback` * `session-sharing` * `personalization-memory` * `personalization-suggested-highlights` * `mobile-app-access` * `disable-agent-sharing` * `disable-image-generation` * `disable-video-generation` * `disable-onedrive-upload` * `disable-talk-to-content` * `disable-google-drive-upload` * `disable-welcome-emails` * `disable-canvas` * `canvas-workspace` * `skills` * `skill-sharing` * `skill-sharing-without-admin-approval` * `disable-projects` * `sobi` * `enable-end-user-sharing-with-groups` * `single-agent-orchestration` * `multi-agent-orchestration` * `cross-product-intelligence` * `workflow-agents` * `in-app-notifications`"
        },
        "industryVertical": {
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical.",
            "The healthcare FHIR vertical."
          ],
          "type": "string",
          "description": "Optional. The industry vertical that the engine registers. The restriction of the Engine industry vertical is based on DataStore: Vertical on Engine has to match vertical of the DataStore linked to the engine.",
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA",
            "HEALTHCARE_FHIR"
          ]
        },
        "configurableBillingApproach": {
          "enum": [
            "CONFIGURABLE_BILLING_APPROACH_UNSPECIFIED",
            "CONFIGURABLE_BILLING_APPROACH_ENABLED"
          ],
          "description": "Optional. Configuration for configurable billing approach.",
          "enumDescriptions": [
            "Default value. For Spark and non-Spark non-configurable billing approach. General pricing model.",
            "The billing approach follows configurations specified by customer."
          ],
          "type": "string"
        },
        "connectorTenantInfo": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Maps a connector ID (e.g., \"hybrid-github\", \"shopify\") to tenant-specific information required for that connector. The structure of the tenant information string is connector-dependent."
        },
        "commonConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineCommonConfig",
          "description": "Common config spec that specifies the metadata of the engine."
        },
        "procurementContactEmails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The emails of the procurement contacts."
        },
        "chatEngineConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineChatEngineConfig",
          "description": "Configurations for the Chat Engine. Only applicable if solution_type is SOLUTION_TYPE_CHAT."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp the Recommendation Engine was created at.",
          "readOnly": true
        },
        "observabilityConfig": {
          "description": "Optional. Observability config for the engine.",
          "$ref": "GoogleCloudDiscoveryengineV1ObservabilityConfig"
        },
        "modelConfigs": {
          "additionalProperties": {
            "type": "string",
            "enumDescriptions": [
              "The model state is unspecified.",
              "The model is enabled by admin.",
              "The model is disabled by admin."
            ],
            "enum": [
              "MODEL_STATE_UNSPECIFIED",
              "MODEL_ENABLED",
              "MODEL_DISABLED"
            ]
          },
          "description": "Optional. Maps a model name to its specific configuration for this engine. This allows admin users to turn on/off individual models. This only stores models whose states are overridden by the admin. When the state is unspecified, or model_configs is empty for this model, the system will decide if this model should be available or not based on the default configuration. For example, a preview model should be disabled by default if the admin has not chosen to enable it.",
          "type": "object"
        },
        "searchEngineConfig": {
          "description": "Configurations for the Search Engine. Only applicable if solution_type is SOLUTION_TYPE_SEARCH.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineSearchEngineConfig"
        },
        "appType": {
          "enumDescriptions": [
            "All non specified apps.",
            "App type for intranet search and Agentspace."
          ],
          "description": "Optional. Immutable. This the application type which this engine resource represents. NOTE: this is a new concept independ of existing industry vertical or solution type.",
          "type": "string",
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "APP_TYPE_INTRANET"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the engine. Should be human readable. UTF-8 encoded string with limit of 1024 characters."
        },
        "disableAnalytics": {
          "type": "boolean",
          "description": "Optional. Whether to disable analytics for searches performed on this engine."
        },
        "dataStoreIds": {
          "description": "Optional. The data stores associated with this engine. For SOLUTION_TYPE_SEARCH and SOLUTION_TYPE_RECOMMENDATION type of engines, they can only associate with at most one data store. If solution_type is SOLUTION_TYPE_CHAT, multiple DataStores in the same Collection can be associated here. Note that when used in CreateEngineRequest, one DataStore id must be provided as the system will use it for necessary initializations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "marketplaceAgentVisibility": {
          "enum": [
            "MARKETPLACE_AGENT_VISIBILITY_UNSPECIFIED",
            "SHOW_AVAILABLE_AGENTS_ONLY",
            "SHOW_AGENTS_ALREADY_INTEGRATED",
            "SHOW_AGENTS_ALREADY_PURCHASED",
            "SHOW_ALL_AGENTS"
          ],
          "type": "string",
          "description": "Optional. The visibility of marketplace agents in the agent gallery.",
          "enumDescriptions": [
            "Defaults to `MARKETPLACE_AGENT_VISIBILITY_UNSPECIFIED`.",
            "Only agents that are currently available for use by the user are visible.",
            "Show marketplace agents that the user does not yet have access to but are integrated into the engine. This level also includes all agents visible with `SHOW_AVAILABLE_AGENTS_ONLY`.",
            "Show all agents visible with `SHOW_AGENTS_ALREADY_INTEGRATED`, plus agents that have already been purchased by the project/organization, even if they are not currently integrated into the engine.",
            "All agents in the marketplace are visible, regardless of access or purchase status. This level encompasses all agents shown in the previous levels."
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1Engine"
    },
    "GoogleCloudDiscoveryengineV1DataConnectorFederatedConfig": {
      "id": "GoogleCloudDiscoveryengineV1DataConnectorFederatedConfig",
      "description": "Any params and credentials used specifically for hybrid connectors supporting FEDERATED mode.",
      "properties": {
        "authParams": {
          "description": "Optional. Any authentication parameters specific to FEDERATED connectors.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "additionalParams": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. Any additional parameters needed for FEDERATED."
        },
        "jsonAuthParams": {
          "description": "Optional. Any authentication parameters specific to FEDERATED connectors in json string format.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesMetadata": {
      "description": "Metadata related to the progress of the UserLicenseService.BatchUpdateUserLicenses operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "successCount": {
          "description": "Count of user licenses successfully updated.",
          "format": "int64",
          "type": "string"
        },
        "failureCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of user licenses that failed to be updated."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaListEnginesResponse": {
      "description": "Response message for EngineService.ListEngines method.",
      "properties": {
        "nextPageToken": {
          "description": "Not supported.",
          "type": "string"
        },
        "engines": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaEngine"
          },
          "description": "All the customer's Engines.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaListEnginesResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfig",
      "properties": {
        "enablePrivateKnowledgeGraph": {
          "description": "Whether to enable the Private Knowledge Graph for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "enableCloudKnowledgeGraph": {
          "description": "Whether to enable the Cloud Knowledge Graph for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "featureConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfigFeatureConfig",
          "description": "Optional. Feature config for the Knowledge Graph."
        },
        "cloudKnowledgeGraphTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specify entity types to support."
        },
        "privateKnowledgeGraphTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specify entity types to support."
        }
      },
      "description": "Configuration message for the Knowledge Graph."
    },
    "GoogleCloudDiscoveryengineV1betaGroundingFact": {
      "id": "GoogleCloudDiscoveryengineV1betaGroundingFact",
      "type": "object",
      "properties": {
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Attributes associated with the fact. Common attributes include `source` (indicating where the fact was sourced from), `author` (indicating the author of the fact), and so on."
        },
        "factText": {
          "type": "string",
          "description": "Text content of the fact. Can be at most 10K characters long."
        }
      },
      "description": "Grounding Fact."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpecEndUserMetaData": {
      "description": "End user metadata.",
      "type": "object",
      "properties": {
        "chunkInfo": {
          "description": "Chunk information.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfo"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpecEndUserMetaData"
    },
    "GoogleCloudDiscoveryengineV1alphaImportCompletionSuggestionsMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the ImportCompletionSuggestions operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaImportCompletionSuggestionsMetadata",
      "properties": {
        "successCount": {
          "description": "Count of CompletionSuggestions successfully imported.",
          "format": "int64",
          "type": "string"
        },
        "failureCount": {
          "description": "Count of CompletionSuggestions that failed to be imported.",
          "type": "string",
          "format": "int64"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCreateTargetSiteRequest": {
      "description": "Request message for SiteSearchEngineService.CreateTargetSite method.",
      "properties": {
        "targetSite": {
          "$ref": "GoogleCloudDiscoveryengineV1betaTargetSite",
          "description": "Required. The TargetSite to create."
        },
        "parent": {
          "type": "string",
          "description": "Required. Parent resource name of TargetSite, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCreateTargetSiteRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaNaturalLanguageQueryUnderstandingConfig": {
      "description": "Configuration for Natural Language Query Understanding.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaNaturalLanguageQueryUnderstandingConfig",
      "properties": {
        "mode": {
          "description": "Mode of Natural Language Query Understanding. If this field is unset, the behavior defaults to NaturalLanguageQueryUnderstandingConfig.Mode.DISABLED.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Default value.",
            "Natural Language Query Understanding is disabled.",
            "Natural Language Query Understanding is enabled."
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataReferenceDocumentMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataReferenceDocumentMetadata",
      "type": "object",
      "properties": {
        "uri": {
          "description": "URI for the document. It may contain a URL that redirects to the actual website.",
          "type": "string"
        },
        "language": {
          "enum": [
            "LANGUAGE_UNSPECIFIED",
            "PYTHON",
            "SQL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "The mime type of the document. https://www.iana.org/assignments/media-types/media-types.xhtml."
        },
        "document": {
          "type": "string",
          "description": "Document resource name."
        },
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        },
        "domain": {
          "description": "Domain name from the document URI. Note that the `uri` field may contain a URL that redirects to the actual website, in which case this will contain the domain name of the target site.",
          "type": "string"
        },
        "title": {
          "description": "Title.",
          "type": "string"
        }
      },
      "description": "Document metadata."
    },
    "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfig": {
      "id": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfig",
      "properties": {
        "notebooklmConfig": {
          "description": "Optional. Configuration for NotebookLM settings.",
          "$ref": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfig"
        }
      },
      "description": "Customer provided configurations.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AdvancedSiteSearchConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AdvancedSiteSearchConfig",
      "properties": {
        "disableInitialIndex": {
          "type": "boolean",
          "description": "If set true, initial indexing is disabled for the DataStore."
        },
        "disableAutomaticRefresh": {
          "type": "boolean",
          "description": "If set true, automatic refresh is disabled for the DataStore."
        }
      },
      "description": "Configuration data for advance site search."
    },
    "GoogleCloudDiscoveryengineV1CliConfig": {
      "id": "GoogleCloudDiscoveryengineV1CliConfig",
      "description": "The configuration for the CLI execution based connectors.",
      "type": "object",
      "properties": {
        "enabledActions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The actions enabled on the associated CLI connection."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponse": {
      "properties": {
        "failureSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfo"
          },
          "description": "Details for a sample of up to 10 `failed_uris`."
        },
        "failedUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "URIs that were not crawled before the LRO terminated."
        }
      },
      "description": "Response message for SiteSearchEngineService.RecrawlUris method.",
      "id": "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesResponse": {
      "description": "Response message for CompletionService.PurgeSuggestionDenyListEntries method.",
      "type": "object",
      "properties": {
        "purgeCount": {
          "type": "string",
          "description": "Number of suggestion deny list entries purged.",
          "format": "int64"
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesResponse"
    },
    "GoogleCloudDiscoveryengineV1betaObtainCrawlRateResponse": {
      "description": "Response message for CrawlRateManagementService.ObtainCrawlRate method. The response contains organcic or dedicated crawl rate time series data for monitoring, depending on whether dedicated crawl rate is set.",
      "id": "GoogleCloudDiscoveryengineV1betaObtainCrawlRateResponse",
      "type": "object",
      "properties": {
        "dedicatedCrawlRateTimeSeries": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDedicatedCrawlRateTimeSeries",
          "description": "The historical dedicated crawl rate timeseries data, used for monitoring."
        },
        "organicCrawlRateTimeSeries": {
          "$ref": "GoogleCloudDiscoveryengineV1betaOrganicCrawlRateTimeSeries",
          "description": "The historical organic crawl rate timeseries data, used for monitoring."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the response.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "type": "string"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Errors from service when handling the request."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaControl": {
      "description": "Defines a conditioned behavior to employ during serving. Must be attached to a ServingConfig to be considered at serving time. Permitted actions dependent on `SolutionType`.",
      "id": "GoogleCloudDiscoveryengineV1alphaControl",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Fully qualified name `projects/*/locations/global/dataStore/*/controls/*`"
        },
        "conditions": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCondition"
          },
          "type": "array",
          "description": "Determines when the associated action will trigger. Omit to always apply the action. Currently only a single condition may be specified. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "synonymsAction": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaControlSynonymsAction",
          "description": "Treats a group of terms as synonyms of one another."
        },
        "solutionType": {
          "description": "Required. Immutable. What solution the control belongs to. Must be compatible with vertical of resource. Otherwise an INVALID ARGUMENT error is thrown.",
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ]
        },
        "associatedServingConfigIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of all ServingConfig IDs this control is attached to. May take up to 10 minutes to update after changes."
        },
        "boostAction": {
          "description": "Defines a boost-type control",
          "$ref": "GoogleCloudDiscoveryengineV1alphaControlBoostAction"
        },
        "displayName": {
          "description": "Required. Human readable name. The identifier used in UI views. Must be UTF-8 encoded string. Length limit is 128 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        },
        "filterAction": {
          "description": "Defines a filter-type control Currently not supported by Recommendation",
          "$ref": "GoogleCloudDiscoveryengineV1alphaControlFilterAction"
        },
        "redirectAction": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaControlRedirectAction",
          "description": "Defines a redirect-type control."
        },
        "useCases": {
          "items": {
            "enumDescriptions": [
              "Value used when unset. Will not occur in CSS.",
              "Search use case. Expects the traffic has a non-empty query.",
              "Browse use case. Expects the traffic has an empty query."
            ],
            "type": "string",
            "enum": [
              "SEARCH_USE_CASE_UNSPECIFIED",
              "SEARCH_USE_CASE_SEARCH",
              "SEARCH_USE_CASE_BROWSE"
            ]
          },
          "type": "array",
          "description": "Specifies the use case for the control. Affects what condition fields can be set. Only applies to SOLUTION_TYPE_SEARCH. Currently only allow one use case per control. Must be set when solution_type is SolutionType.SOLUTION_TYPE_SEARCH."
        },
        "promoteAction": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaControlPromoteAction",
          "description": "Promote certain links based on predefined trigger queries."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestSpellCorrectionSpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestSpellCorrectionSpec",
      "description": "The specification for query spell correction.",
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "SUGGESTION_ONLY",
            "AUTO"
          ],
          "enumDescriptions": [
            "Unspecified spell correction mode. In this case, server behavior defaults to Mode.AUTO.",
            "Search API tries to find a spelling suggestion. If a suggestion is found, it is put in the SearchResponse.corrected_query. The spelling suggestion won't be used as the search query.",
            "Automatic spell correction built by the Search API. Search will be based on the corrected query if found."
          ],
          "description": "The mode under which spell correction replaces the original search query. Defaults to Mode.AUTO.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus": {
      "description": "Per-model Agent Search TPM subscription status. One entry per active `core_subscription.agent_search_token_subscriptions[*]` entry in the customer-provided config; populated by UpdateProject and GetProject. The lifecycle scalars on this message (`start_time`, `terminate_time`, `update_type`, `tpm_threshold_next_update_time`) are per (project, model_version) — siblings of the whole-relationship `start_time` / `terminate_time` / `update_type` on the enclosing ConfigurableBillingStatus, but scoped to this specific Agent Search TPM subscription instead of to the overall customer-configurable- pricing relationship. This per-instance granularity is intentional: the underlying SubV3 storage is per-(project, model_version), so each model has its own activation, termination, and deferred-update clock; surfacing that on the response gives customers the granularity they need to manage per-model commitments independently. QPM / IndexingCore differ — their storage is one row per (project, location), so their lifecycle is represented only by the whole- relationship scalars on ConfigurableBillingStatus.",
      "properties": {
        "modelVersion": {
          "readOnly": true,
          "description": "Output only. The Gemini model version this status corresponds to. Matches CoreSubscription.AgentSearchTokenSubscription.model_version (a stable Gemini model version from the Gemini Enterprise Agent Platform model-versions registry; see https://docs.cloud.google.com/gemini-enterprise-agent-platform/models/model-versions#gemini-models).",
          "type": "string"
        },
        "tpmThresholdNextUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The earliest next update time for the TPM subscription threshold for this (project, model_version). Populated only after a successful update.",
          "readOnly": true
        },
        "terminateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. If set, the scheduled effective time at which this (project, model_version) Agent Search TPM subscription will terminate. Populated when the customer removes this entry from `core_subscription.agent_search_token_subscriptions[*]`. Does NOT move the whole-relationship `terminate_time` on the enclosing ConfigurableBillingStatus, which is populated only when the entire customer-configurable-pricing relationship is being torn down.",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "description": "Output only. When this (project, model_version) Agent Search TPM subscription was first activated. Set once on first activation of this model version and never moved by subsequent threshold updates; on termination + re-activation a new value is recorded. Does NOT move the whole-relationship `start_time` on the enclosing ConfigurableBillingStatus, which continues to represent the first activation of the overall customer-configurable-pricing relationship.",
          "format": "google-datetime",
          "readOnly": true
        },
        "effectiveTpmThreshold": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The currently effective TPM threshold. Reflects scale-up immediately and scale-down at the next billing cycle, matching `effective_search_qpm_threshold` semantics.",
          "format": "int64"
        },
        "updateType": {
          "enumDescriptions": [
            "Unspecified update type.",
            "Configurable billing was created/enabled.",
            "Configurable billing was deleted/disabled.",
            "Subscription was scaled up (thresholds increased).",
            "Subscription was scaled down (thresholds decreased)."
          ],
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "SCALE_UP",
            "SCALE_DOWN"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the most recent update to this (project, model_version) subscription, as performed by the most recent UpdateProject call. `UPDATE_TYPE_UNSPECIFIED` indicates this model_version was not touched by the most recent UpdateProject (its `effective_tpm_threshold` reflects an earlier update). The whole-relationship `update_type` on the enclosing ConfigurableBillingStatus continues to summarize the direction of the most recent update across all surfaces in the project (QPM, IndexingCore, and Agent Search TPM together)."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfig": {
      "description": "Stores information for federated search.",
      "id": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfig",
      "type": "object",
      "properties": {
        "notebooklmConfig": {
          "description": "NotebookLM config. If set, this DataStore is connected to NotebookLM Enterprise.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigNotebooklmConfig"
        },
        "alloyDbConfig": {
          "description": "AlloyDB config. If set, this DataStore is connected to AlloyDB.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigAlloyDbConfig"
        },
        "thirdPartyOauthConfig": {
          "description": "Third Party OAuth config. If set, this DataStore is connected to a third party application.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigThirdPartyOauthConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelPromptSpec": {
      "type": "object",
      "properties": {
        "preamble": {
          "description": "Text at the beginning of the prompt that instructs the assistant. Examples are available in the user guide.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelPromptSpec",
      "description": "Specification of the prompt to use with the model."
    },
    "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig": {
      "description": "Configuration for the layout based chunking.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig",
      "properties": {
        "includeAncestorHeadings": {
          "description": "Whether to include appending different levels of headings to chunks from the middle of the document to prevent context loss. Default value: False.",
          "type": "boolean"
        },
        "chunkSize": {
          "format": "int32",
          "description": "The token size limit for each chunk. Supported values: 100-500 (inclusive). Default value: 500.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateMetadata": {
      "description": "Metadata related to the progress of the CrawlRateManagementService.RemoveDedicatedCrawlRate operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateMetadata"
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfig": {
      "properties": {
        "alloydbAiNlConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig",
          "description": "Optional. Configuration for Magic."
        },
        "returnedFields": {
          "type": "array",
          "description": "Optional. Fields to be returned in the search results. If empty, all fields will be returned.",
          "items": {
            "type": "string"
          }
        },
        "alloydbConnectionConfig": {
          "description": "Required. Configuration for connecting to AlloyDB.",
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbConnectionConfig"
        }
      },
      "type": "object",
      "description": "Stores information for connecting to AlloyDB.",
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfig"
    },
    "GoogleCloudDiscoveryengineV1betaGcsSource": {
      "type": "object",
      "properties": {
        "dataSchema": {
          "type": "string",
          "description": "The schema to use when parsing the data from the source. Supported values for document imports: * `document` (default): One JSON Document per line. Each document must have a valid Document.id. * `content`: Unstructured data (e.g. PDF, HTML). Each file matched by `input_uris` becomes a document, with the ID set to the first 128 bits of SHA256(URI) encoded as a hex string. * `custom`: One custom data JSON per row in arbitrary format that conforms to the defined Schema of the data store. This can only be used by the GENERIC Data Store vertical. * `csv`: A CSV file with header conforming to the defined Schema of the data store. Each entry after the header is imported as a Document. This can only be used by the GENERIC Data Store vertical. Supported values for user event imports: * `user_event` (default): One JSON UserEvent per line."
        },
        "inputUris": {
          "items": {
            "type": "string"
          },
          "description": "Required. Cloud Storage URIs to input files. Each URI can be up to 2000 characters long. URIs can match the full object path (for example, `gs://bucket/directory/object.json`) or a pattern matching one or more files, such as `gs://bucket/directory/*.json`. A request can contain at most 100 files (or 100,000 files if `data_schema` is `content`). Each file can be up to 2 GB (or 100 MB if `data_schema` is `content`).",
          "type": "array"
        }
      },
      "description": "Cloud Storage location for input content.",
      "id": "GoogleCloudDiscoveryengineV1betaGcsSource"
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfig": {
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfig",
      "properties": {
        "thirdPartyOauthConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigThirdPartyOauthConfig",
          "description": "Third Party OAuth config. If set, this DataStore is connected to a third party application."
        },
        "notebooklmConfig": {
          "description": "NotebookLM config. If set, this DataStore is connected to NotebookLM Enterprise.",
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigNotebooklmConfig"
        },
        "alloyDbConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfig",
          "description": "AlloyDB config. If set, this DataStore is connected to AlloyDB."
        }
      },
      "type": "object",
      "description": "Stores information for federated search."
    },
    "GoogleCloudDiscoveryengineV1betaConversationContext": {
      "properties": {
        "activeDocument": {
          "type": "string",
          "description": "The current active document the user opened. It contains the document resource reference."
        },
        "contextDocuments": {
          "description": "The current list of documents the user is seeing. It contains the document resource references.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Defines context of the conversation",
      "id": "GoogleCloudDiscoveryengineV1betaConversationContext",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfig",
      "properties": {
        "engineFeaturesConfig": {
          "description": "Optional. Additional engine features config.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigEngineFeaturesConfig"
        },
        "type": {
          "description": "Required. The type of engine. e.g., `recommended-for-you`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `recommended-for-you`, `others-you-may-like`, `more-like-this`, `most-popular-items`.",
          "type": "string"
        },
        "optimizationObjective": {
          "type": "string",
          "description": "The optimization objective. e.g., `cvr`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `ctr`, `cvr`. If not specified, we choose default based on engine type. Default depends on type of recommendation: `recommended-for-you` => `ctr` `others-you-may-like` => `ctr`"
        },
        "optimizationObjectiveConfig": {
          "description": "Name and value of the custom threshold for cvr optimization_objective. For target_field `watch-time`, target_field_value must be an integer value indicating the media progress time in seconds between (0, 86400] (excludes 0, includes 86400) (e.g., 90). For target_field `watch-percentage`, the target_field_value must be a valid float value between (0, 1.0] (excludes 0, includes 1.0) (e.g., 0.5).",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigOptimizationObjectiveConfig"
        },
        "trainingState": {
          "enumDescriptions": [
            "Unspecified training state.",
            "The engine training is paused.",
            "The engine is training."
          ],
          "description": "The training state that the engine is in (e.g. `TRAINING` or `PAUSED`). Since part of the cost of running the service is frequency of training - this can be used to determine when to train engine in order to control cost. If not specified: the default value for `CreateEngine` method is `TRAINING`. The default value for `UpdateEngine` method is to keep the state the same as before.",
          "type": "string",
          "enum": [
            "TRAINING_STATE_UNSPECIFIED",
            "PAUSED",
            "TRAINING"
          ]
        }
      },
      "type": "object",
      "description": "Additional config specs for a Media Recommendation engine."
    },
    "GoogleCloudDiscoveryengineV1betaIdentityMappingEntry": {
      "description": "Identity Mapping Entry that maps an external identity to an internal identity.",
      "id": "GoogleCloudDiscoveryengineV1betaIdentityMappingEntry",
      "properties": {
        "externalIdentity": {
          "type": "string",
          "description": "Required. Identity outside the customer identity provider. The length limit of external identity will be of 100 characters."
        },
        "externalIdentityName": {
          "type": "string",
          "description": "Optional. The name of the external identity."
        },
        "userId": {
          "description": "User identifier. For Google Workspace user account, user_id should be the google workspace user email. For non-google identity provider, user_id is the mapped user identifier configured during the workforcepool config.",
          "type": "string"
        },
        "groupId": {
          "type": "string",
          "description": "Group identifier. For Google Workspace user account, group_id should be the google workspace group email. For non-google identity provider, group_id is the mapped group identifier configured during the workforcepool config."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnectorConnectorMetadata": {
      "description": "User-facing metadata for the connector, shown on the connector detail page (title, description, short_description, author, note).",
      "type": "object",
      "properties": {
        "note": {
          "type": "string",
          "description": "Optional. Free-form, multi-line note about the connector's capabilities or a custom note that can be set for the connector."
        },
        "description": {
          "description": "Optional. Human-readable description of the connector, shown on the connector detail page. One connector has a single description.",
          "type": "string"
        },
        "author": {
          "type": "string",
          "description": "Optional. The party that authored the connector, e.g. \"Google\" or a third-party provider name. Lets end users see who authored a connector (future: third-party-authored connectors)."
        },
        "title": {
          "description": "Optional. Display title of the connector.",
          "type": "string"
        },
        "shortDescription": {
          "type": "string",
          "description": "Optional. Short, subtitle-length description of the connector (e.g. shown beneath the connector name in list and detail views)."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnectorConnectorMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchRequest": {
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchRequest",
      "description": "Request message for SiteSearchEngineService.DisableAdvancedSiteSearch method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigOcrParsingConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigOcrParsingConfig",
      "properties": {
        "enhancedDocumentElements": {
          "description": "[DEPRECATED] This field is deprecated. To use the additional enhanced document elements processing, please switch to `layout_parsing_config`.",
          "type": "array",
          "deprecated": true,
          "items": {
            "type": "string"
          }
        },
        "useNativeText": {
          "description": "If true, will use native text instead of OCR text on pages containing native text.",
          "type": "boolean"
        }
      },
      "description": "The OCR parsing configurations for documents."
    },
    "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpec": {
      "properties": {
        "querySetSpec": {
          "description": "Optional. The specification of the query set.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpecQuerySetSpec"
        },
        "searchRequest": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequest",
          "description": "Required. The search request that is used to perform the evaluation. Only the following fields within SearchRequest are supported; if any other fields are provided, an UNSUPPORTED error will be returned: * SearchRequest.serving_config * SearchRequest.branch * SearchRequest.canonical_filter * SearchRequest.query_expansion_spec * SearchRequest.spell_correction_spec * SearchRequest.content_search_spec * SearchRequest.user_pseudo_id"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpec",
      "description": "Describes the specification of the evaluation."
    },
    "GoogleCloudDiscoveryengineV1IdpConfig": {
      "id": "GoogleCloudDiscoveryengineV1IdpConfig",
      "properties": {
        "idpType": {
          "type": "string",
          "description": "Identity provider type configured.",
          "enum": [
            "IDP_TYPE_UNSPECIFIED",
            "GSUITE",
            "THIRD_PARTY"
          ],
          "enumDescriptions": [
            "Default value. ACL search not enabled.",
            "Google 1P provider.",
            "Third party provider."
          ]
        },
        "externalIdpConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1IdpConfigExternalIdpConfig",
          "description": "External Identity provider config."
        }
      },
      "type": "object",
      "description": "Identity Provider Config."
    },
    "GoogleCloudDiscoveryengineV1ServingConfig": {
      "type": "object",
      "description": "Configures metadata that is used to generate serving time results (e.g. search results or recommendation predictions). The ServingConfig is passed in the search and predict request and generates results.",
      "id": "GoogleCloudDiscoveryengineV1ServingConfig",
      "properties": {
        "mediaConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ServingConfigMediaConfig",
          "description": "The MediaConfig of the serving configuration."
        },
        "genericConfig": {
          "description": "The GenericConfig of the serving configuration.",
          "$ref": "GoogleCloudDiscoveryengineV1ServingConfigGenericConfig"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The human readable serving config display name. Used in Discovery UI. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "solutionType": {
          "description": "Required. Immutable. Specifies the solution type that a serving config can be associated with.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
[...]
