{
  "kind": "discovery#restDescription",
  "revision": "20260915",
  "discoveryVersion": "v1",
  "description": "Discovery Engine API.",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf. Also view the artifacts you access through NotebookLM Enterprise."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        }
      }
    }
  },
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "name": "discoveryengine",
  "schemas": {
    "A2aV1TaskStatus": {
      "type": "object",
      "description": "A container for the status of a task",
      "id": "A2aV1TaskStatus",
      "properties": {
        "message": {
          "description": "A message associated with the status.",
          "$ref": "A2aV1Message"
        },
        "state": {
          "description": "The current state of this task",
          "enum": [
            "TASK_STATE_UNSPECIFIED",
            "TASK_STATE_SUBMITTED",
            "TASK_STATE_WORKING",
            "TASK_STATE_COMPLETED",
            "TASK_STATE_FAILED",
            "TASK_STATE_CANCELLED",
            "TASK_STATE_INPUT_REQUIRED",
            "TASK_STATE_REJECTED",
            "TASK_STATE_AUTH_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "Represents the status that acknowledges a task is created",
            "Represents the status that a task is actively being processed",
            "Represents the status a task is finished. This is a terminal state",
            "Represents the status a task is done but failed. This is a terminal state",
            "Represents the status a task was cancelled before it finished. This is a terminal state.",
            "Represents the status that the task requires information to complete. This is an interrupted state.",
            "Represents the status that the agent has decided to not perform the task. This may be done during initial task creation or later once an agent has determined it can't or won't proceed. This is a terminal state.",
            "Represents the state that some authentication is needed from the upstream client. Authentication is expected to come out-of-band thus this is not an interrupted or terminal state."
          ],
          "type": "string"
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "Timestamp when the status was recorded. Example: \"2023-10-27T10:00:00Z\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment",
      "description": "Extractive segment. [Guide](https://cloud.google.com/generative-ai-app-builder/docs/snippets#extractive-segments) Answer generation will only use it if document_contexts is empty. This is supposed to be shorter snippets.",
      "properties": {
        "pageIdentifier": {
          "type": "string",
          "description": "Page identifier."
        },
        "content": {
          "description": "Extractive segment content.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDynamicTool": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether the tool is enabled."
        },
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The display name of the tool.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the tool.",
          "type": "string"
        }
      },
      "description": "Configuration for dynamic tools.",
      "id": "GoogleCloudDiscoveryengineV1alphaDynamicTool"
    },
    "GoogleCloudDiscoveryengineV1ChunkPageSpan": {
      "id": "GoogleCloudDiscoveryengineV1ChunkPageSpan",
      "type": "object",
      "properties": {
        "pageStart": {
          "type": "integer",
          "format": "int32",
          "description": "The start page of the chunk."
        },
        "pageEnd": {
          "type": "integer",
          "format": "int32",
          "description": "The end page of the chunk."
        }
      },
      "description": "Page span of the chunk."
    },
    "GoogleCloudDiscoveryengineV1betaUserStore": {
      "id": "GoogleCloudDiscoveryengineV1betaUserStore",
      "properties": {
        "displayName": {
          "description": "The display name of the User Store.",
          "type": "string"
        },
        "defaultLicenseConfig": {
          "type": "string",
          "description": "Optional. The default subscription LicenseConfig for the UserStore, if UserStore.enable_license_auto_register is true, new users will automatically register under the default subscription. If default LicenseConfig doesn't have remaining license seats left, new users will not be assigned with license and will be blocked for Vertex AI Search features. This is used if `license_assignment_tier_rules` is not configured."
        },
        "enableExpiredLicenseAutoUpdate": {
          "description": "Optional. Whether to enable license auto update for users in this User Store. If true, users with expired licenses will automatically be updated to use the default license config as long as the default license config has seats left.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the User Store, in the format of `projects/{project}/locations/{location}/userStores/{user_store}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "enableLicenseAutoRegister": {
          "type": "boolean",
          "description": "Optional. Whether to enable license auto register for users in this User Store. If true, new users will automatically register under the default license config as long as the default license config has seats left."
        }
      },
      "type": "object",
      "description": "Configures metadata that is used for End User entities."
    },
    "A2aV1HTTPAuthSecurityScheme": {
      "type": "object",
      "properties": {
        "bearerFormat": {
          "description": "A hint to the client to identify how the bearer token is formatted. Bearer tokens are usually generated by an authorization server, so this information is primarily for documentation purposes.",
          "type": "string"
        },
        "description": {
          "description": "Description of this security scheme.",
          "type": "string"
        },
        "scheme": {
          "description": "The name of the HTTP Authentication scheme to be used in the Authorization header as defined in RFC7235. The values used SHOULD be registered in the IANA Authentication Scheme registry. The value is case-insensitive, as defined in RFC7235.",
          "type": "string"
        }
      },
      "id": "A2aV1HTTPAuthSecurityScheme"
    },
    "GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfig": {
      "properties": {
        "contactDetails": {
          "description": "Optional. The contact details for each alert policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaContactDetails"
          }
        },
        "alertEnrollments": {
          "description": "Optional. The enrollment state of each alert.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfigAlertEnrollment"
          }
        },
        "alertPolicy": {
          "description": "Immutable. The fully qualified resource name of the AlertPolicy.",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Optional. The region code used of the user that subscribed to the alert policy."
        },
        "languageCode": {
          "description": "Optional. The language code used for notifications",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The resource level alert config. Used in: * UserLicense * EngineUserData The AlertPolicyConfig in data connector is of same usage. No easy way to migrate.",
      "id": "GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfig"
    },
    "GoogleCloudDiscoveryengineV1PanelInfo": {
      "id": "GoogleCloudDiscoveryengineV1PanelInfo",
      "type": "object",
      "properties": {
        "totalPanels": {
          "description": "The total number of panels, including this one, shown to the user. Must be set if panel_position is set.",
          "format": "int32",
          "type": "integer"
        },
        "panelId": {
          "type": "string",
          "description": "Required. The panel ID."
        },
        "displayName": {
          "description": "The display name of the panel.",
          "type": "string"
        },
        "panelPosition": {
          "description": "The ordered position of the panel, if shown to the user with other panels. If set, then total_panels must also be set.",
          "type": "integer",
          "format": "int32"
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DocumentInfo"
          },
          "description": "Optional. The document IDs associated with this panel."
        }
      },
      "description": "Detailed panel information associated with a user event."
    },
    "GoogleCloudDiscoveryengineV1betaImportUserEventsMetadata": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Operation last update time. If the operation is done, this is also the finish time."
        },
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that were processed successfully."
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "format": "int64",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportUserEventsMetadata",
      "description": "Metadata related to the progress of the Import operation. This is returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1IdentityScheduleConfig": {
      "description": "The configuration for the identity data synchronization runs.",
      "type": "object",
      "properties": {
        "refreshInterval": {
          "format": "google-duration",
          "description": "Optional. The refresh interval to sync the Access Control List information for the documents ingested by this connector. If not set, the access control list will be refreshed at the default interval of 30 minutes. The identity refresh interval can be at least 30 minutes and at most 7 days.",
          "type": "string"
        },
        "nextSyncTime": {
          "$ref": "GoogleTypeDateTime",
          "description": "Optional. The UTC time when the next data sync is expected to start for the Data Connector. Customers are only able to specify the hour and minute to schedule the data sync. This is utilized when the data connector has a refresh interval greater than 1 day."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1IdentityScheduleConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaSingleRegionKey": {
      "id": "GoogleCloudDiscoveryengineV1alphaSingleRegionKey",
      "type": "object",
      "properties": {
        "kmsKey": {
          "description": "Required. Single-regional kms key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`.",
          "type": "string"
        }
      },
      "description": "Metadata for single-regional CMEKs."
    },
    "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRunProgress": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRunProgress",
      "description": "Represents the progress of a sync run.",
      "properties": {
        "percentile": {
          "description": "Derived. The percentile of the progress.current_count / total_count. The value is between [0, 1.0] inclusive.",
          "format": "float",
          "type": "number"
        },
        "currentCount": {
          "type": "string",
          "format": "int64",
          "description": "The current progress."
        },
        "totalCount": {
          "format": "int64",
          "type": "string",
          "description": "The total."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaExportMetricsMetadata": {
      "description": "Metadata related to the progress of the Export operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaExportMetricsMetadata"
    },
    "GoogleCloudDiscoveryengineV1ListAssistantsResponse": {
      "properties": {
        "assistants": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Assistant"
          },
          "description": "All the customer's Assistants.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAssistantsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ListAssistantsResponse",
      "description": "Response message for the AssistantService.ListAssistants method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1EngineCommonConfig": {
      "description": "Common configurations for an Engine.",
      "properties": {
        "companyName": {
          "description": "The name of the company, business or entity that is associated with the engine. Setting this may help improve LLM related features.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1EngineCommonConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1PurgeDocumentsMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1PurgeDocumentsMetadata",
      "description": "Metadata related to the progress of the PurgeDocuments operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "ignoredCount": {
          "type": "string",
          "description": "Count of entries that were ignored as entries were not found.",
          "format": "int64"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "failureCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of entries that encountered errors while processing."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "successCount": {
          "format": "int64",
          "description": "Count of entries that were deleted successfully.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportDocumentsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaImportDocumentsMetadata",
      "type": "object",
      "properties": {
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "successCount": {
          "type": "string",
          "description": "Count of entries that were processed successfully.",
          "format": "int64"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "totalCount": {
          "type": "string",
          "description": "Total count of entries that were processed.",
          "format": "int64"
        }
      },
      "description": "Metadata related to the progress of the ImportDocuments operation. This is returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1AnswerCitation": {
      "id": "GoogleCloudDiscoveryengineV1AnswerCitation",
      "type": "object",
      "properties": {
        "startIndex": {
          "format": "int64",
          "description": "Index indicates the start of the segment, measured in bytes (UTF-8 unicode). If there are multi-byte characters,such as non-ASCII characters, the index measurement is longer than the string length.",
          "type": "string"
        },
        "endIndex": {
          "type": "string",
          "description": "End of the attributed segment, exclusive. Measured in bytes (UTF-8 unicode). If there are multi-byte characters,such as non-ASCII characters, the index measurement is longer than the string length.",
          "format": "int64"
        },
        "sources": {
          "description": "Citation sources for the attributed segment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerCitationSource"
          }
        }
      },
      "description": "Citation info for a segment."
    },
    "GoogleCloudDiscoveryengineV1AlertPolicyConfig": {
      "id": "GoogleCloudDiscoveryengineV1AlertPolicyConfig",
      "properties": {
        "alertPolicyName": {
          "description": "Immutable. The fully qualified resource name of the AlertPolicy.",
          "type": "string"
        },
        "alertEnrollments": {
          "description": "Optional. The enrollment states of each alert.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AlertPolicyConfigAlertEnrollment"
          },
          "type": "array"
        }
      },
      "description": "The connector level alert config.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultSnippetInfo": {
      "type": "object",
      "properties": {
        "snippetStatus": {
          "type": "string",
          "description": "Status of the snippet defined by the search team."
        },
        "snippet": {
          "description": "Snippet content.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultSnippetInfo",
      "description": "Snippet information."
    },
    "GoogleCloudDiscoveryengineV1TrainCustomModelResponse": {
      "description": "Response of the TrainCustomModelRequest. This message is returned by the google.longrunning.Operations.response field.",
      "properties": {
        "metrics": {
          "additionalProperties": {
            "format": "double",
            "type": "number"
          },
          "type": "object",
          "description": "The metrics of the trained model."
        },
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the data.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig",
          "description": "Echoes the destination for the complete errors in the request if set."
        },
        "modelStatus": {
          "type": "string",
          "description": "The trained model status. Possible values are: * **bad-data**: The training data quality is bad. * **no-improvement**: Tuning didn't improve performance. Won't deploy. * **in-progress**: Model training job creation is in progress. * **training**: Model is actively training. * **evaluating**: The model is evaluating trained metrics. * **indexing**: The model trained metrics are indexing. * **ready**: The model is ready for serving."
        },
        "modelName": {
          "description": "Fully qualified name of the CustomTuningModel.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1TrainCustomModelResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1Schema": {
      "type": "object",
      "description": "Defines the structure and layout of a type of document data.",
      "id": "GoogleCloudDiscoveryengineV1Schema",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the schema, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/schemas/{schema}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "structSchema": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The structured representation of the schema.",
          "type": "object"
        },
        "jsonSchema": {
          "description": "The JSON representation of the schema.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DataStore": {
      "id": "GoogleCloudDiscoveryengineV1DataStore",
      "properties": {
        "kmsKeyName": {
          "description": "Input only. The KMS key to be used to protect this DataStore at creation time. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the DataStore will be protected by the KMS key, as indicated in the cmek_config field.",
          "type": "string"
        },
        "dataProtectionPolicy": {
          "description": "Optional. Specifies the data protection policy for the data store.",
          "$ref": "GoogleCloudDiscoveryengineV1DataProtectionPolicy"
        },
        "cmekConfig": {
          "description": "Output only. CMEK-related information for the DataStore.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1CmekConfig"
        },
        "isInfobotFaqDataStore": {
          "description": "Optional. If set, this DataStore is an Infobot FAQ DataStore.",
          "type": "boolean"
        },
        "documentProcessingConfig": {
          "description": "Configuration for Document understanding and enrichment.",
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfig"
        },
        "startingSchema": {
          "description": "The start schema to use for this DataStore when provisioning it. If unset, a default vertical specialized schema will be used. This field is only used by CreateDataStore API, and will be ignored if used in other APIs. This field will be omitted from all API responses including CreateDataStore API. To retrieve a schema of a DataStore, use SchemaService.GetSchema API instead. The provided schema will be validated against certain rules on schema. Learn more from [this doc](https://cloud.google.com/generative-ai-app-builder/docs/provide-schema).",
          "$ref": "GoogleCloudDiscoveryengineV1Schema"
        },
        "billingEstimation": {
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreBillingEstimation",
          "description": "Output only. Data size estimation for billing.",
          "readOnly": true
        },
        "configurableBillingApproach": {
          "description": "Optional. Configuration for configurable billing approach. See",
          "type": "string",
          "enumDescriptions": [
            "Default value. For Spark and non-Spark non-configurable billing approach.",
            "Use the subscription base + overage billing for indexing core for non embedding storage.",
            "Use the consumption pay-as-you-go billing for embedding storage add-on."
          ],
          "enum": [
            "CONFIGURABLE_BILLING_APPROACH_UNSPECIFIED",
            "CONFIGURABLE_SUBSCRIPTION_INDEXING_CORE",
            "CONFIGURABLE_CONSUMPTION_EMBEDDING"
          ]
        },
        "configurableBillingApproachUpdateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when configurable_billing_approach was last updated."
        },
        "industryVertical": {
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA",
            "HEALTHCARE_FHIR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical.",
            "The healthcare FHIR vertical."
          ],
          "description": "Immutable. The industry vertical that the data store registers."
        },
        "servingConfigDataStore": {
          "description": "Optional. Stores serving config at DataStore level.",
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreServingConfigDataStore"
        },
        "displayName": {
          "description": "Required. The data store display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "healthcareFhirConfig": {
          "description": "Optional. Configuration for `HEALTHCARE_FHIR` vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1HealthcareFhirConfig"
        },
        "createTime": {
          "description": "Output only. Timestamp the DataStore was created at.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "contentConfig": {
          "enum": [
            "CONTENT_CONFIG_UNSPECIFIED",
            "NO_CONTENT",
            "CONTENT_REQUIRED",
            "PUBLIC_WEBSITE",
            "GOOGLE_WORKSPACE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Only contains documents without any Document.content.",
            "Only contains documents with Document.content.",
            "The data store is used for public website search.",
            "The data store is used for workspace search. Details of workspace data store are specified in the WorkspaceConfig."
          ],
          "description": "Immutable. The content config of the data store. If this field is unset, the server behavior defaults to ContentConfig.NO_CONTENT."
        },
        "workspaceConfig": {
          "description": "Config to store data store type configuration for workspace data. This must be set when DataStore.content_config is set as DataStore.ContentConfig.GOOGLE_WORKSPACE.",
          "$ref": "GoogleCloudDiscoveryengineV1WorkspaceConfig"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The full resource name of the data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "naturalLanguageQueryUnderstandingConfig": {
          "description": "Optional. Configuration for Natural Language Query Understanding.",
          "$ref": "GoogleCloudDiscoveryengineV1NaturalLanguageQueryUnderstandingConfig"
        },
        "federatedSearchConfig": {
          "description": "Optional. If set, this DataStore is a federated search DataStore.",
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfig"
        },
        "advancedSiteSearchConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1AdvancedSiteSearchConfig",
          "description": "Optional. Configuration for advanced site search."
        },
        "identityMappingStore": {
          "description": "Immutable. The fully qualified resource name of the associated IdentityMappingStore. This field can only be set for acl_enabled DataStores with `THIRD_PARTY` or `GSUITE` IdP. Format: `projects/{project}/locations/{location}/identityMappingStores/{identity_mapping_store}`.",
          "type": "string"
        },
        "solutionTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value.",
              "Used for Recommendations AI.",
              "Used for Discovery Search.",
              "Used for use cases related to the Generative AI agent.",
              "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
              "Used for AI Mode."
            ],
            "enum": [
              "SOLUTION_TYPE_UNSPECIFIED",
              "SOLUTION_TYPE_RECOMMENDATION",
              "SOLUTION_TYPE_SEARCH",
              "SOLUTION_TYPE_CHAT",
              "SOLUTION_TYPE_GENERATIVE_CHAT",
              "SOLUTION_TYPE_AI_MODE"
            ]
          },
          "description": "The solutions that the data store enrolls. Available solutions for each industry_vertical: * `MEDIA`: `SOLUTION_TYPE_RECOMMENDATION` and `SOLUTION_TYPE_SEARCH`. * `SITE_SEARCH`: `SOLUTION_TYPE_SEARCH` is automatically enrolled. Other solutions cannot be enrolled.",
          "type": "array"
        },
        "aclEnabled": {
          "description": "Immutable. Whether data in the DataStore has ACL information. If set to `true`, the source data must have ACL. ACL will be ingested when data is ingested by DocumentService.ImportDocuments methods. When ACL is enabled for the DataStore, Document can't be accessed by calling DocumentService.GetDocument or DocumentService.ListDocuments. Currently ACL is only supported in `GENERIC` industry vertical with non-`PUBLIC_WEBSITE` content config.",
          "type": "boolean"
        },
        "defaultSchemaId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The id of the default Schema associated to this data store."
        }
      },
      "type": "object",
      "description": "DataStore captures global settings and configs at the DataStore level."
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigMostPopularFeatureConfig": {
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigMostPopularFeatureConfig",
      "description": "Feature configurations that are required for creating a Most Popular engine.",
      "properties": {
        "timeWindowDays": {
          "type": "string",
          "format": "int64",
          "description": "The time window of which the engine is queried at training and prediction time. Positive integers only. The value translates to the last X days of events. Currently required for the `most-popular-items` engine."
        }
      },
      "type": "object"
    },
    "A2aV1ImplicitOAuthFlow": {
      "properties": {
        "scopes": {
          "type": "object",
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "authorizationUrl": {
          "type": "string",
          "description": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS"
        }
      },
      "type": "object",
      "id": "A2aV1ImplicitOAuthFlow"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestDataStoreSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestDataStoreSpec",
      "description": "A struct to define data stores to filter on in a search call and configurations for those data stores. Otherwise, an `INVALID_ARGUMENT` error is returned.",
      "type": "object",
      "properties": {
        "dataStore": {
          "type": "string",
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. The path must include the project number, project id is not supported for this field."
        },
        "customSearchOperators": {
          "description": "Optional. Custom search operators which if specified will be used to filter results from workspace data stores. For more information on custom search operators, see [SearchOperators](https://support.google.com/cloudsearch/answer/6172299).",
          "type": "string"
        },
        "numResults": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of results to retrieve from this data store. If not specified, it will use the SearchRequest.num_results_per_data_store if provided, otherwise there is no limit. If both this field and SearchRequest.num_results_per_data_store are specified, this field will be used."
        },
        "boostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpec",
          "description": "Optional. Boost specification to boost certain documents. For more information on boosting, see [Boosting](https://cloud.google.com/generative-ai-app-builder/docs/boost-search-results)"
        },
        "filter": {
          "description": "Optional. Filter specification to filter documents in the data store specified by data_store field. For more information on filtering, see [Filtering](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEngineChatEngineConfig": {
      "description": "Configurations for a Chat Engine.",
      "properties": {
        "dialogflowAgentToLink": {
          "description": "The resource name of an exist Dialogflow agent to link to this Chat Engine. Customers can either provide `agent_creation_config` to create agent or provide an agent name that links the agent with the Chat engine. Format: `projects//locations//agents/`. Note that the `dialogflow_agent_to_link` are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation. Use ChatEngineMetadata.dialogflow_agent for actual agent association after Engine is created.",
          "type": "string"
        },
        "agentCreationConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaEngineChatEngineConfigAgentCreationConfig",
          "description": "The configurationt generate the Dialogflow agent that is associated to this Engine. Note that these configurations are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation."
        },
        "allowCrossRegion": {
          "description": "Optional. If the flag set to true, we allow the agent and engine are in different locations, otherwise the agent and engine are required to be in the same location. The flag is set to false by default. Note that the `allow_cross_region` are one-time consumed by and passed to EngineService.CreateEngine. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaEngineChatEngineConfig"
    },
    "GoogleCloudDiscoveryengineV1DeleteTargetSiteMetadata": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1DeleteTargetSiteMetadata"
    },
    "GoogleCloudDiscoveryengineV1ImportDocumentsRequest": {
      "id": "GoogleCloudDiscoveryengineV1ImportDocumentsRequest",
      "description": "Request message for Import methods.",
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Indicates which fields in the provided imported documents to update. If not set, the default is to update all fields."
        },
        "spannerSource": {
          "$ref": "GoogleCloudDiscoveryengineV1SpannerSource",
          "description": "Spanner input source."
        },
        "bigtableSource": {
          "description": "Cloud Bigtable input source.",
          "$ref": "GoogleCloudDiscoveryengineV1BigtableSource"
        },
        "inlineSource": {
          "description": "The Inline source for the input content for documents.",
          "$ref": "GoogleCloudDiscoveryengineV1ImportDocumentsRequestInlineSource"
        },
        "autoGenerateIds": {
          "description": "Whether to automatically generate IDs for the documents if absent. If set to `true`, Document.ids are automatically generated based on the hash of the payload, where IDs may not be consistent during multiple imports. In which case ReconciliationMode.FULL is highly recommended to avoid duplicate contents. If unset or set to `false`, Document.ids have to be specified using id_field, otherwise, documents without IDs fail to be imported. Supported data sources: * GcsSource. GcsSource.data_schema must be `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown. * BigQuerySource. BigQuerySource.data_schema must be `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown. * SpannerSource. * CloudSqlSource. * FirestoreSource. * BigtableSource.",
          "type": "boolean"
        },
        "firestoreSource": {
          "$ref": "GoogleCloudDiscoveryengineV1FirestoreSource",
          "description": "Firestore input source."
        },
        "idField": {
          "description": "The field indicates the ID field or column to be used as unique IDs of the documents. For GcsSource it is the key of the JSON field. For instance, `my_id` for JSON `{\"my_id\": \"some_uuid\"}`. For others, it may be the column name of the table where the unique ids are stored. The values of the JSON field or the table column are used as the Document.ids. The JSON field or the table column must be of string type, and the values must be set as valid strings conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) with 1-63 characters. Otherwise, documents without valid IDs fail to be imported. Only set this field when auto_generate_ids is unset or set as `false`. Otherwise, an INVALID_ARGUMENT error is thrown. If it is unset, a default value `_id` is used when importing from the allowed data sources. Supported data sources: * GcsSource. GcsSource.data_schema must be `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown. * BigQuerySource. BigQuerySource.data_schema must be `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown. * SpannerSource. * CloudSqlSource. * BigtableSource.",
          "type": "string"
        },
        "forceRefreshContent": {
          "type": "boolean",
          "description": "Optional. Whether to force refresh the unstructured content of the documents. If set to `true`, the content part of the documents will be refreshed regardless of the update status of the referencing content."
        },
        "reconciliationMode": {
          "type": "string",
          "enum": [
            "RECONCILIATION_MODE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL"
          ],
          "description": "The mode of reconciliation between existing documents and the documents to be imported. Defaults to ReconciliationMode.INCREMENTAL.",
          "enumDescriptions": [
            "Defaults to `INCREMENTAL`.",
            "Inserts new documents or updates existing documents.",
            "Calculates diff and replaces the entire document dataset. Existing documents may be deleted if they are not present in the source location. When using this mode, there won't be any downtime on the dataset targeted. Any document that should remain unchanged or that should be updated will continue serving while the operation is running."
          ]
        },
        "fhirStoreSource": {
          "description": "FhirStore input source.",
          "$ref": "GoogleCloudDiscoveryengineV1FhirStoreSource"
        },
        "gcsSource": {
          "description": "Cloud Storage location for the input content.",
          "$ref": "GoogleCloudDiscoveryengineV1GcsSource"
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig",
          "description": "The desired location of errors incurred during the Import."
        },
        "cloudSqlSource": {
          "description": "Cloud SQL input source.",
          "$ref": "GoogleCloudDiscoveryengineV1CloudSqlSource"
        },
        "alloyDbSource": {
          "$ref": "GoogleCloudDiscoveryengineV1AlloyDbSource",
          "description": "AlloyDB input source."
        },
        "bigquerySource": {
          "$ref": "GoogleCloudDiscoveryengineV1BigQuerySource",
          "description": "BigQuery input source."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEngineSearchEngineConfig": {
      "type": "object",
      "properties": {
        "requiredSubscriptionTier": {
          "type": "string",
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
            "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT",
            "SUBSCRIPTION_TIER_NOTEBOOK_LM",
            "SUBSCRIPTION_TIER_FRONTLINE_WORKER",
            "SUBSCRIPTION_TIER_AGENTSPACE_STARTER",
            "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS",
            "SUBSCRIPTION_TIER_ENTERPRISE",
            "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING",
            "SUBSCRIPTION_TIER_EDU",
            "SUBSCRIPTION_TIER_EDU_PRO",
            "SUBSCRIPTION_TIER_EDU_EMERGING",
            "SUBSCRIPTION_TIER_EDU_PRO_EMERGING",
            "SUBSCRIPTION_TIER_FRONTLINE_STARTER",
            "SUBSCRIPTION_TIER_CONSUMPTION_ONLY",
            "SUBSCRIPTION_TIER_EDU_GOV_EMERGING"
          ],
          "description": "Optional. The required subscription tier of this engine. If the required subscription tier is search, user with higher license tier like assist can still access the standalone app associated with this engine. Web grounding feature is only available on the app if it is set as SubscriptionTier.SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT.",
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier.",
            "Represents the Gemini Enterprise Consumption-only tier: $0 subscription billed purely on usage (PAYG).",
            "Gemini Enterprise EDU tier for government in emerging markets."
          ]
        },
        "searchAddOns": {
          "description": "The add-on that this search engine enables.",
          "items": {
            "enum": [
              "SEARCH_ADD_ON_UNSPECIFIED",
              "SEARCH_ADD_ON_LLM"
            ],
            "enumDescriptions": [
              "Default value when the enum is unspecified. This is invalid to use.",
              "Large language model add-on."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "searchTier": {
          "type": "string",
          "description": "The search feature tier of this engine. Different tiers might have different pricing. To learn more, check the pricing documentation. Defaults to SearchTier.SEARCH_TIER_STANDARD if not specified.",
          "enum": [
            "SEARCH_TIER_UNSPECIFIED",
            "SEARCH_TIER_STANDARD",
            "SEARCH_TIER_ENTERPRISE"
          ],
          "enumDescriptions": [
            "Default value when the enum is unspecified. This is invalid to use.",
            "Standard tier.",
            "Enterprise tier."
          ]
        }
      },
      "description": "Configurations for a Search Engine.",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineSearchEngineConfig"
    },
    "GoogleCloudDiscoveryengineV1Assistant": {
      "id": "GoogleCloudDiscoveryengineV1Assistant",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Represents the time when this Assistant was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. The assistant display name. It must be a UTF-8 encoded string with a length limit of 128 characters.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Represents the time when this Assistant was most recently updated."
        },
        "webGroundingType": {
          "enum": [
            "WEB_GROUNDING_TYPE_UNSPECIFIED",
            "WEB_GROUNDING_TYPE_DISABLED",
            "WEB_GROUNDING_TYPE_GOOGLE_SEARCH",
            "WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH"
          ],
          "enumDescriptions": [
            "Default, unspecified setting. This is the same as disabled.",
            "Web grounding is disabled.",
            "Grounding with Google Search is enabled.",
            "Grounding with Enterprise Web Search is enabled."
          ],
          "type": "string",
          "description": "Optional. The type of web grounding to use."
        },
        "defaultWebGroundingToggleOff": {
          "type": "boolean",
          "description": "Optional. This field controls the default web grounding toggle for end users if `web_grounding_type` is set to `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`. By default, this field is set to false. If `web_grounding_type` is `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`, end users will have web grounding enabled by default on UI. If true, grounding toggle will be disabled by default on UI. End users can still enable web grounding in the UI if web grounding is enabled."
        },
        "generationConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1AssistantGenerationConfig",
          "description": "Optional. Configuration for the generation of the assistant response."
        },
        "enabledTools": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1AssistantToolList"
          },
          "description": "Optional. Note: not implemented yet. Use enabled_actions instead. The enabled tools on this assistant. The keys are connector name, for example \"projects/{projectId}/locations/{locationId}/collections/{collectionId}/dataconnector The values consist of admin enabled tools towards the connector instance. Admin can selectively enable multiple tools on any of the connector instances that they created in the project. For example {\"jira1ConnectorName\": [(toolId1, \"createTicket\"), (toolId2, \"transferTicket\")], \"gmail1ConnectorName\": [(toolId3, \"sendEmail\"),..] }"
        },
        "customerPolicy": {
          "$ref": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicy",
          "description": "Optional. Customer policy for the assistant."
        },
        "name": {
          "description": "Immutable. Resource name of the assistant. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}` It must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description for additional information. Expected to be shown on the configuration UI, not to the users of the assistant.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Discovery Engine Assistant resource."
    },
    "GoogleCloudDiscoveryengineV1SearchRequestFacetSpec": {
      "id": "GoogleCloudDiscoveryengineV1SearchRequestFacetSpec",
      "properties": {
        "facetKey": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestFacetSpecFacetKey",
          "description": "Required. The facet key specification."
        },
        "excludedFilterKeys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of keys to exclude when faceting. By default, FacetKey.key is not excluded from the filter unless it is listed in this field. Listing a facet key in this field allows its values to appear as facet results, even when they are filtered out of search results. Using this field does not affect what search results are returned. For example, suppose there are 100 documents with the color facet \"Red\" and 200 documents with the color facet \"Blue\". A query containing the filter \"color:ANY(\"Red\")\" and having \"color\" as FacetKey.key would by default return only \"Red\" documents in the search results, and also return \"Red\" with count 100 as the only color facet. Although there are also blue documents available, \"Blue\" would not be shown as an available facet value. If \"color\" is listed in \"excludedFilterKeys\", then the query returns the facet values \"Red\" with count 100 and \"Blue\" with count 200, because the \"color\" key is now excluded from the filter. Because this field doesn't affect search results, the search results are still correctly filtered to return only \"Red\" documents. A maximum of 100 values are allowed. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "enableDynamicPosition": {
          "type": "boolean",
          "description": "Enables dynamic position for this facet. If set to true, the position of this facet among all facets in the response is determined automatically. If dynamic facets are enabled, it is ordered together. If set to false, the position of this facet in the response is the same as in the request, and it is ranked before the facets with dynamic position enable and all dynamic facets. For example, you may always want to have rating facet returned in the response, but it's not necessarily to always display the rating facet at the top. In that case, you can set enable_dynamic_position to true so that the position of rating facet in response is determined automatically. Another example, assuming you have the following facets in the request: * \"rating\", enable_dynamic_position = true * \"price\", enable_dynamic_position = false * \"brands\", enable_dynamic_position = false And also you have a dynamic facets enabled, which generates a facet `gender`. Then the final order of the facets in the response can be (\"price\", \"brands\", \"rating\", \"gender\") or (\"price\", \"brands\", \"gender\", \"rating\") depends on how API orders \"gender\" and \"rating\" facets. However, notice that \"price\" and \"brands\" are always ranked at first and second position because their enable_dynamic_position is false."
        },
        "limit": {
          "format": "int32",
          "description": "Maximum facet values that are returned for this facet. If unspecified, defaults to 20. The maximum allowed value is 300. Values above 300 are coerced to 300. For aggregation in healthcare search, when the [FacetKey.key] is \"healthcare_aggregation_key\", the limit will be overridden to 10,000 internally, regardless of the value set here. If this field is negative, an `INVALID_ARGUMENT` is returned.",
          "type": "integer"
        }
      },
      "description": "A facet specification to perform faceted search.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaIdentityMappingEntryOperationMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaIdentityMappingEntryOperationMetadata",
      "type": "object",
      "properties": {
        "totalCount": {
          "format": "int64",
          "description": "The total number of IdentityMappingEntries that were processed.",
          "type": "string"
        },
        "successCount": {
          "type": "string",
          "description": "The number of IdentityMappingEntries that were successfully processed.",
          "format": "int64"
        },
        "failureCount": {
          "format": "int64",
          "description": "The number of IdentityMappingEntries that failed to be processed.",
          "type": "string"
        }
      },
      "description": "IdentityMappingEntry LongRunningOperation metadata for IdentityMappingStoreService.ImportIdentityMappings and IdentityMappingStoreService.PurgeIdentityMappings"
    },
    "GoogleCloudDiscoveryengineV1AnswerReferenceChunkInfoDocumentMetadata": {
      "description": "Document metadata.",
      "properties": {
        "uri": {
          "description": "URI for the document.",
          "type": "string"
        },
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "pageIdentifier": {
          "type": "string",
          "description": "Page identifier."
        },
        "structData": {
          "description": "The structured JSON metadata for the document. It is populated from the struct data from the Chunk in search result.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "document": {
          "type": "string",
          "description": "Document resource name."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AnswerReferenceChunkInfoDocumentMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaPurgeDocumentsResponse": {
      "description": "Response message for DocumentService.PurgeDocuments method. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "id": "GoogleCloudDiscoveryengineV1betaPurgeDocumentsResponse",
      "properties": {
        "purgeCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of documents purged as a result of the operation."
        },
        "purgeSample": {
          "description": "A sample of document names that will be deleted. Only populated if `force` is set to false. A max of 100 names will be returned and the names are chosen at random.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesRequest": {
      "properties": {
        "inlineSource": {
          "$ref": "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesRequestInlineSource",
          "description": "The Inline source for the input content for suggestion deny list entries."
        },
        "gcsSource": {
          "$ref": "GoogleCloudDiscoveryengineV1GcsSource",
          "description": "Cloud Storage location for the input content. Only 1 file can be specified that contains all entries to import. Supported values `gcs_source.schema` for autocomplete suggestion deny list entry imports: * `suggestion_deny_list` (default): One JSON [SuggestionDenyListEntry] per line."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesRequest",
      "description": "Request message for CompletionService.ImportSuggestionDenyListEntries method."
    },
    "GoogleCloudDiscoveryengineV1WidgetConfigUiSettingsModelConfigInfo": {
      "id": "GoogleCloudDiscoveryengineV1WidgetConfigUiSettingsModelConfigInfo",
      "properties": {
        "defaultModelId": {
          "description": "Output only. The `model_id` of the model that should be selected by default in the model selector when the end-user has not made an explicit choice. The value is always one of the `model_id`s present in `resolved_models`.",
          "type": "string",
          "readOnly": true
        },
        "resolvedModels": {
          "description": "Output only. The list of models that are available to the end-user in the model selector, in the order in which they should be displayed.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1WidgetConfigUiSettingsModelConfigInfoResolvedModel"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "The resolved, server-side view of model selector configuration for the end-user. The backend computes this per-request by applying, in order: Mendel flag evaluation, regional availability rules based on the engine's location, and admin-panel overrides from `model_configs`. The backend is the single source of truth for this configuration; clients should render `resolved_models` directly in the model selector dropdown, in the order provided, without applying their own filtering, ordering, or localization.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateResponse": {
      "type": "object",
      "properties": {
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the response.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateResponse",
      "description": "Response message for CrawlRateManagementService.RemoveDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED."
    },
    "GoogleCloudDiscoveryengineV1ListIdentityMappingsResponse": {
      "type": "object",
      "description": "Response message for IdentityMappingStoreService.ListIdentityMappings",
      "id": "GoogleCloudDiscoveryengineV1ListIdentityMappingsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "identityMappingEntries": {
          "description": "The Identity Mapping Entries.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1IdentityMappingEntry"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAlertPolicyConfig": {
      "description": "The connector level alert config.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAlertPolicyConfig",
      "properties": {
        "alertEnrollments": {
          "description": "Optional. The enrollment states of each alert.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAlertPolicyConfigAlertEnrollment"
          },
          "type": "array"
        },
        "alertPolicyName": {
          "type": "string",
          "description": "Immutable. The fully qualified resource name of the AlertPolicy."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesResponse",
      "type": "object",
      "description": "Response message for CompletionService.ImportSuggestionDenyListEntries method.",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "importedEntriesCount": {
          "format": "int64",
          "description": "Count of deny list entries successfully imported.",
          "type": "string"
        },
        "failedEntriesCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of deny list entries that failed to be imported."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDestinationConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDestinationConfig",
      "properties": {
        "key": {
          "description": "Optional. Unique destination identifier that is supported by the connector.",
          "type": "string"
        },
        "jsonParams": {
          "description": "Additional parameters for this destination config in json string format.",
          "type": "string"
        },
        "destinations": {
          "description": "Optional. The destinations for the corresponding key.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDestinationConfigDestination"
          },
          "type": "array"
        },
        "params": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Additional parameters for this destination config in structured json format.",
          "type": "object"
        }
      },
      "description": "Defines target endpoints used to connect to third-party sources."
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveAnswer": {
      "properties": {
        "content": {
          "type": "string",
          "description": "Extractive answer content."
        },
        "pageIdentifier": {
          "type": "string",
          "description": "Page identifier."
        }
      },
      "description": "Extractive answer. [Guide](https://cloud.google.com/generative-ai-app-builder/docs/snippets#get-answers)",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveAnswer"
    },
    "GoogleCloudDiscoveryengineV1alphaActionConfig": {
      "properties": {
        "useStaticSecrets": {
          "description": "Optional. Whether to use static secrets for the connector. If true, the secrets provided in the action_params will be ignored.",
          "type": "boolean"
        },
        "userDefinedScopesMapping": {
          "description": "Optional. Mapping from operation name to the list of scopes. Only be populated if there are user specified scopes.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaActionConfigScopeList"
          }
        },
        "createBapConnection": {
          "type": "boolean",
          "description": "Optional. Whether to create a BAP connection for the connector."
        },
        "jsonActionParams": {
          "description": "Optional. Action parameters in json string format.",
          "type": "string"
        },
        "serviceName": {
          "type": "string",
          "description": "Optional. The Service Directory resource name (projects/*/locations/*/namespaces/*/services/*) representing a VPC network endpoint used to connect to the data source's `instance_uri`, defined in DataConnector.params. Required when VPC Service Controls are enabled."
        },
        "isActionConfigured": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The connector contains the necessary parameters and is configured to support actions."
        },
        "actionParams": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Action parameters in structured json format."
        }
      },
      "description": "Informations to support actions on the connector.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaActionConfig"
    },
    "GoogleCloudDiscoveryengineV1UpdateTargetSiteMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1UpdateTargetSiteMetadata",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.UpdateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1SearchResponseSearchResultRankSignalsCustomSignal": {
      "id": "GoogleCloudDiscoveryengineV1SearchResponseSearchResultRankSignalsCustomSignal",
      "description": "Custom clearbox signal represented by name and value pair.",
      "properties": {
        "value": {
          "format": "float",
          "description": "Optional. Float value representing the ranking signal (e.g. 1.25 for BM25).",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the signal."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "type": "object",
      "properties": {
        "boostAmount": {
          "type": "number",
          "description": "The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "format": "float"
        },
        "attributeValue": {
          "type": "string",
          "description": "Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
    },
    "GoogleCloudDiscoveryengineV1FirestoreSource": {
      "properties": {
        "databaseId": {
          "description": "Required. The Firestore database to copy the data from with a length limit of 256 characters.",
          "type": "string"
        },
        "collectionId": {
          "type": "string",
          "description": "Required. The Firestore collection (or entity) to copy the data from with a length limit of 1,500 characters."
        },
        "projectId": {
          "type": "string",
          "description": "The project ID that the Cloud SQL source is in with a length limit of 128 characters. If not specified, inherits the project ID from the parent request."
        },
        "gcsStagingDir": {
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the Firestore export to a specific Cloud Storage directory. Ensure that the Firestore service account has the necessary Cloud Storage Admin permissions to access the specified Cloud Storage directory.",
          "type": "string"
        }
      },
      "description": "Firestore source import data from.",
      "id": "GoogleCloudDiscoveryengineV1FirestoreSource",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1BigtableOptionsBigtableColumnFamily": {
      "type": "object",
      "properties": {
        "columns": {
          "description": "The list of objects that contains column level information for each column. If a column is not present in this list it will be ignored.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1BigtableOptionsBigtableColumn"
          },
          "type": "array"
        },
        "fieldName": {
          "type": "string",
          "description": "The field name to use for this column family in the document. The name has to match the pattern `a-zA-Z0-9*`. If not set, it is parsed from the family name with best effort. However, due to different naming patterns, field name collisions could happen, where parsing behavior is undefined."
        },
        "encoding": {
          "enum": [
            "ENCODING_UNSPECIFIED",
            "TEXT",
            "BINARY"
          ],
          "description": "The encoding mode of the values when the type is not STRING. Acceptable encoding values are: * `TEXT`: indicates values are alphanumeric text strings. * `BINARY`: indicates values are encoded using `HBase Bytes.toBytes` family of functions. This can be overridden for a specific column by listing that column in `columns` and specifying an encoding for it.",
          "type": "string",
          "enumDescriptions": [
            "The encoding is unspecified.",
            "Text encoding.",
            "Binary encoding."
          ]
        },
        "type": {
          "description": "The type of values in this column family. The values are expected to be encoded using `HBase Bytes.toBytes` function when the encoding value is set to `BINARY`.",
          "enumDescriptions": [
            "The type is unspecified.",
            "String type.",
            "Numerical type.",
            "Integer type.",
            "Variable length integer type.",
            "BigDecimal type.",
            "Boolean type.",
            "JSON type."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "INTEGER",
            "VAR_INTEGER",
            "BIG_NUMERIC",
            "BOOLEAN",
            "JSON"
          ]
        }
      },
      "description": "The column family of the Bigtable.",
      "id": "GoogleCloudDiscoveryengineV1BigtableOptionsBigtableColumnFamily"
    },
    "GoogleCloudDiscoveryengineV1alphaQueryPartDocumentReference": {
      "id": "GoogleCloudDiscoveryengineV1alphaQueryPartDocumentReference",
      "properties": {
        "destinationUri": {
          "type": "string",
          "description": "The destination uri of the reference."
        },
        "urlForConnector": {
          "type": "string",
          "description": "Input only. The url_for_connector of the document returned by Federated Search."
        },
        "iconUri": {
          "type": "string",
          "description": "The icon uri of the reference."
        },
        "documentName": {
          "type": "string",
          "description": "The full resource name of the document. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document_id}`."
        },
        "displayTitle": {
          "type": "string",
          "description": "The display title of the reference."
        },
        "fileId": {
          "description": "Output only. The file id of the document data stored in the session context files.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a document reference."
    },
    "GoogleCloudDiscoveryengineV1ServingConfigMediaConfig": {
      "id": "GoogleCloudDiscoveryengineV1ServingConfigMediaConfig",
      "properties": {
        "contentWatchedSecondsThreshold": {
          "description": "Specifies the content watched minutes threshold for demotion.",
          "format": "float",
          "type": "number"
        },
        "contentWatchedPercentageThreshold": {
          "description": "Specifies the content watched percentage threshold for demotion. Threshold value must be between [0, 1.0] inclusive.",
          "type": "number",
          "format": "float"
        },
        "demotionEventType": {
          "description": "Specifies the event type used for demoting recommendation result. Currently supported values: * `view-item`: Item viewed. * `media-play`: Start/resume watching a video, playing a song, etc. * `media-complete`: Finished or stopped midway through a video, song, etc. If unset, watch history demotion will not be applied. Content freshness demotion will still be applied.",
          "type": "string"
        },
        "demoteContentWatchedPastDays": {
          "type": "integer",
          "description": "Optional. Specifies the number of days to look back for demoting watched content. If set to zero or unset, defaults to the maximum of 365 days.",
          "format": "int32"
        },
        "contentFreshnessCutoffDays": {
          "format": "int32",
          "description": "Specifies the content freshness used for recommendation result. Contents will be demoted if contents were published for more than content freshness cutoff days.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Specifies the configurations needed for Media Discovery. Currently we support: * `demote_content_watched`: Threshold for watched content demotion. Customers can specify if using watched content demotion or use viewed detail page. Using the content watched demotion, customers need to specify the watched minutes or percentage exceeds the threshold, the content will be demoted in the recommendation result. * `promote_fresh_content`: cutoff days for fresh content promotion. Customers can specify if using content freshness promotion. If the content was published within the cutoff days, the content will be promoted in the recommendation result. Can only be set if SolutionType is SOLUTION_TYPE_RECOMMENDATION."
    },
    "GoogleCloudDiscoveryengineV1betaDedicatedCrawlRateTimeSeries": {
      "type": "object",
      "properties": {
        "autoRefreshCrawlRate": {
          "$ref": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries",
          "description": "Vertex AI's dedicated crawl rate time series of auto-refresh, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is set, and the crawl rate is for best effort use cases like refreshing urls periodically."
        },
        "autoRefreshCrawlErrorRate": {
          "description": "Vertex AI's error rate time series of auto-refresh dedicated crawl.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries"
        },
        "userTriggeredCrawlRate": {
          "description": "Vertex AI's dedicated crawl rate time series of user triggered crawl, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is set, and user triggered crawl rate is for deterministic use cases like crawling urls or sitemaps specified by users.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries"
        },
        "userTriggeredCrawlErrorRate": {
          "description": "Vertex AI's error rate time series of user triggered dedicated crawl.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaDedicatedCrawlRateTimeSeries",
      "description": "The historical dedicated crawl rate timeseries data, used for monitoring. Dedicated crawl is used by Vertex AI to crawl the user's website when dedicate crawl is set."
    },
    "GoogleCloudDiscoveryengineV1alphaQueryPart": {
      "id": "GoogleCloudDiscoveryengineV1alphaQueryPart",
      "description": "Represents a part or the whole of a content, used to represent a query. A query can be made up of multiple parts.",
      "properties": {
        "text": {
          "type": "string",
          "description": "Text content."
        },
        "personReference": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPartPersonReference",
          "description": "Reference to a person."
        },
        "documentReference": {
          "description": "Other VAIS Document references.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPartDocumentReference"
        },
        "mimeType": {
          "description": "Optional. The IANA standard MIME type of the data. See https://www.iana.org/assignments/media-types/media-types.xhtml. This field is optional. If not set, the default assumed MIME type is \"text/plain\" for the \"data\" field.",
          "type": "string"
        },
        "driveDocumentReference": {
          "description": "Reference to a Google Drive document.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPartDriveDocumentReference"
        },
        "uiJsonPayload": {
          "type": "string",
          "description": "This field is expected to be a ui message in JSON format. As of Q1 2026, ui_json_payload is only supported for A2UI messages."
        },
        "userSuppliedSobiArtifactReference": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPartUserSuppliedSobiArtifactReference",
          "description": "Reference to a user-supplied file attached to a long-running-agent (Sobi) task. See `UserSuppliedSobiArtifactReference` above."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerGroundingSupport": {
      "description": "Grounding support for a claim in `answer_text`.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerGroundingSupport",
      "type": "object",
      "properties": {
        "groundingScore": {
          "format": "double",
          "description": "A score in the range of [0, 1] describing how grounded is a specific claim by the references. Higher value means that the claim is better supported by the reference chunks.",
          "type": "number"
        },
        "startIndex": {
          "format": "int64",
          "description": "Required. Index indicates the start of the claim, measured in bytes (UTF-8 unicode).",
          "type": "string"
        },
        "endIndex": {
          "format": "int64",
          "type": "string",
          "description": "Required. End of the claim, exclusive."
        },
        "groundingCheckRequired": {
          "type": "boolean",
          "description": "Indicates that this claim required grounding check. When the system decided this claim didn't require attribution/grounding check, this field is set to false. In that case, no grounding check was done for the claim and therefore `grounding_score`, `sources` is not returned."
        },
        "sources": {
          "type": "array",
          "description": "Optional. Citation sources for the claim.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerCitationSource"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestSearchAsYouTypeSpecField": {
      "properties": {
        "weight": {
          "description": "Optional. Weight for scores from this field. Defaults to 1.0 if not specified.",
          "type": "number",
          "format": "double"
        },
        "key": {
          "description": "Required. A field key that has been indexed for Search As You Type.",
          "type": "string"
        }
      },
      "description": "A schema field to be used for Search As You Type scoring on this request. Overrides any data-store-level Search As You Type field configuration for the duration of the request.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestSearchAsYouTypeSpecField",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportSampleQueriesResponse": {
      "properties": {
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportSampleQueriesResponse",
      "description": "Response of the SampleQueryService.ImportSampleQueries method. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics": {
      "id": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics",
      "type": "object",
      "description": "Stores the metric values at specific top-k levels.",
      "properties": {
        "top10": {
          "format": "double",
          "description": "The top-10 value.",
          "type": "number"
        },
        "top3": {
          "format": "double",
          "description": "The top-3 value.",
          "type": "number"
        },
        "top5": {
          "format": "double",
          "description": "The top-5 value.",
          "type": "number"
        },
        "top1": {
          "format": "double",
          "description": "The top-1 value.",
          "type": "number"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1WidgetConfigDataStoreComponent": {
      "description": "Read-only data store component that contains data stores fields that may be used for filtering, it's the child of `CollectionComponent`.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Output only. the identifier of the data store, used for widget service. For now it refers to data_store_id, in the future we will migrate the field to encrypted data store name UUID.",
          "readOnly": true
        },
        "dataStoreConfigType": {
          "type": "string",
          "description": "Output only. The type of the data store config.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The data store is connected to AlloyDB",
            "The data store is a connected to a third party data source.",
            "The data store is a connected to NotebookLM Enterprise."
          ],
          "enum": [
            "DATA_STORE_CONFIG_TYPE_UNSPECIFIED",
            "ALLOW_DB_CONFIG",
            "THIRD_PARTY_OAUTH_CONFIG",
            "NOTEBOOKLM_CONFIG"
          ],
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the data store."
        },
        "entityName": {
          "description": "The name of the entity, retrieved from `Collection.data_connector.entities.entityName`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the data store. It should be data store resource name Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. For APIs under WidgetService, such as WidgetService.LookupWidgetConfig, the project number and location part is erased in this field."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1WidgetConfigDataStoreComponent"
    },
    "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfig": {
      "description": "Configuration message for the Knowledge Graph.",
      "type": "object",
      "properties": {
        "featureConfig": {
          "description": "Optional. Feature config for the Knowledge Graph.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfigFeatureConfig"
        },
        "cloudKnowledgeGraphTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specify entity types to support."
        },
        "enablePrivateKnowledgeGraph": {
          "description": "Whether to enable the Private Knowledge Graph for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "enableCloudKnowledgeGraph": {
          "description": "Whether to enable the Cloud Knowledge Graph for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "privateKnowledgeGraphTypes": {
          "description": "Specify entity types to support.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfig"
    },
    "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfo": {
      "description": "Information describing what natural language understanding was done on the input query.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfo",
      "properties": {
        "extractedFilters": {
          "type": "string",
          "description": "The filters that were extracted from the input query."
        },
        "classifiedIntents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The classified intents from the input query."
        },
        "structuredExtractedFilter": {
          "description": "The filters that were extracted from the input query represented in a structured form.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilter"
        },
        "rewrittenQuery": {
          "description": "Rewritten input query minus the extracted filters.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AnswerStepActionObservationSearchResultChunkInfo": {
      "properties": {
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        },
        "chunk": {
          "description": "Chunk resource name.",
          "type": "string"
        },
        "relevanceScore": {
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerStepActionObservationSearchResultChunkInfo",
      "description": "Chunk information.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCreateEngineMetadata": {
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the EngineService.CreateEngine operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCreateEngineMetadata"
    },
    "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchResponse": {
      "description": "Response message for SiteSearchEngineService.EnableAdvancedSiteSearch method.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchResponse"
    },
    "GoogleCloudDiscoveryengineV1ListConversationsResponse": {
      "properties": {
        "conversations": {
          "type": "array",
          "description": "All the Conversations for a given data store.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Conversation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token, if not returned indicates the last page."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ListConversationsResponse",
      "description": "Response for ListConversations method."
    },
    "GoogleCloudDiscoveryengineV1alphaCollection": {
      "description": "Collection is a container for configuring resources and access to a set of DataStores.",
      "id": "GoogleCloudDiscoveryengineV1alphaCollection",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the Collection. Format: `projects/{project}/locations/{location}/collections/{collection_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp the Collection was created at.",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. The Collection display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "dataConnector": {
          "description": "Output only. The data connector, if present, manages the connection for data stores in the Collection. To set up the connector, use DataConnectorService.SetUpDataConnector method, which creates a new Collection while setting up the DataConnector singleton resource. Setting up connector on an existing Collection is not supported. This output only field contains a subset of the DataConnector fields, including `name`, `data_source`, `entities.entity_name` and `entities.data_store`. To get more details about a data connector, use the DataConnectorService.GetDataConnector method.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnector",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchResponseSessionInfo": {
      "id": "GoogleCloudDiscoveryengineV1SearchResponseSessionInfo",
      "properties": {
        "name": {
          "description": "Name of the session. If the auto-session mode is used (when SearchRequest.session ends with \"-\"), this field holds the newly generated session name.",
          "type": "string"
        },
        "queryId": {
          "description": "Query ID that corresponds to this search API call. One session can have multiple turns, each with a unique query ID. By specifying the session name and this query ID in the Answer API call, the answer generation happens in the context of the search results from this search call.",
          "type": "string"
        }
      },
      "description": "Information about the session.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfig",
      "description": "Related configurations applied to a specific type of document parser.",
      "type": "object",
      "properties": {
        "ocrParsingConfig": {
          "description": "Configurations applied to OCR parser. Currently it only applies to PDFs.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigOcrParsingConfig"
        },
        "digitalParsingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigDigitalParsingConfig",
          "description": "Configurations applied to digital parser."
        },
        "layoutParsingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigLayoutParsingConfig",
          "description": "Configurations applied to layout parser."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataReferenceDocumentMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataReferenceDocumentMetadata",
      "properties": {
        "language": {
          "type": "string",
          "enum": [
            "LANGUAGE_UNSPECIFIED",
            "PYTHON",
            "SQL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "mimeType": {
          "type": "string",
          "description": "The mime type of the document. https://www.iana.org/assignments/media-types/media-types.xhtml."
        },
        "domain": {
          "description": "Domain name from the document URI. Note that the `uri` field may contain a URL that redirects to the actual website, in which case this will contain the domain name of the target site.",
          "type": "string"
        },
        "pageIdentifier": {
          "type": "string",
          "description": "Page identifier."
        },
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "document": {
          "type": "string",
          "description": "Document resource name."
        },
        "uri": {
          "type": "string",
          "description": "URI for the document. It may contain a URL that redirects to the actual website."
        }
      },
      "type": "object",
      "description": "Document metadata."
    },
    "GoogleCloudDiscoveryengineV1DataConnector": {
      "description": "Manages the connection to external data sources for all data stores grouped under a Collection. It's a singleton resource of Collection. The initialization is only supported through DataConnectorService.SetUpDataConnector method, which will create a new Collection and initialize its DataConnector.",
      "properties": {
        "autoRunDisabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether the connector is disabled for auto run. It can be used to pause periodical and real time sync. Update: with the introduction of incremental_sync_disabled, auto_run_disabled is used to pause/disable only full syncs"
        },
        "nextSyncTime": {
          "$ref": "GoogleTypeDateTime",
          "description": "Defines the scheduled time for the next data synchronization. This field requires hour , minute, and time_zone from the [IANA Time Zone Database](https://www.iana.org/time-zones). This is utilized when the data connector has a refresh interval greater than 1 day. When the hours or minutes are not specified, we will assume a sync time of 0:00. The user must provide a time zone to avoid ambiguity."
        },
        "name": {
          "description": "Identifier. The full resource name of the Data Connector. Format: `projects/*/locations/*/collections/*/dataConnector`.",
          "type": "string"
        },
        "connectorSourceId": {
          "type": "string",
          "description": "Optional. If set, this value instead of `data_source` is used to fetch the corresponding connector source."
        },
        "aclEnabled": {
          "description": "Optional. Whether the connector will be created with an ACL config. Currently this field only affects Cloud Storage and BigQuery connectors.",
          "type": "boolean"
        },
        "state": {
          "readOnly": true,
[...]
