{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf. Also view the artifacts you access through NotebookLM Enterprise."
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "batchPath": "batch",
  "servicePath": "",
  "discoveryVersion": "v1",
  "description": "Discovery Engine API.",
  "version_module": true,
  "title": "Discovery Engine API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "name": "discoveryengine",
  "version": "v1beta",
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaEngineKnowledgeGraphConfigFeatureConfig": {
      "description": "Feature config for the Knowledge Graph.",
      "properties": {
        "disablePrivateKgAutoComplete": {
          "description": "Whether to disable the private KG auto complete for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgQueryUiChips": {
          "type": "boolean",
          "description": "Whether to disable the private KG for query UI chips. Defaults to false if not specified."
        },
        "disablePrivateKgQueryUnderstanding": {
          "type": "boolean",
          "description": "Whether to disable the private KG query understanding for the engine. Defaults to false if not specified."
        },
        "disablePrivateKgEnrichment": {
          "description": "Whether to disable the private KG enrichment for the engine. Defaults to false if not specified.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineKnowledgeGraphConfigFeatureConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaConditionQueryTerm": {
      "id": "GoogleCloudDiscoveryengineV1alphaConditionQueryTerm",
      "type": "object",
      "properties": {
        "fullMatch": {
          "description": "Whether the search query needs to exactly match the query term.",
          "type": "boolean"
        },
        "value": {
          "description": "The specific query value to match against Must be lowercase, must be UTF-8. Can have at most 3 space separated terms if full_match is true. Cannot be an empty string. Maximum length of 5000 characters.",
          "type": "string"
        }
      },
      "description": "Matcher for search request query"
    },
    "GoogleCloudDiscoveryengineV1alphaReplacePatientFilterRequest": {
      "description": "Request for DataStoreService.ReplacePatientFilter method.",
      "properties": {
        "filterGroups": {
          "description": "Required. Names of the Group resources to use as a basis for the list of patients for the new patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. if the caller does not have permission to access the FHIR store, regardless of whether it exists, PERMISSION_DENIED error is returned. If the discovery engine service account does not have permission to access the FHIR store, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the group is not found at the location, a RESOURCE_NOT_FOUND error will be returned. The filter group must be a FHIR resource name of type Group, and the new filter will be constructed from the direct members of the group which are Patient resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataStore": {
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore already has a patient filter, an ALREADY_EXISTS error will be returned.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaReplacePatientFilterRequest",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaEngineCommonConfig": {
      "properties": {
        "companyName": {
          "description": "The name of the company, business or entity that is associated with the engine. Setting this may help improve LLM related features.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaEngineCommonConfig",
      "description": "Common configurations for an Engine."
    },
    "GoogleCloudDiscoveryengineV1betaDeleteIdentityMappingStoreMetadata": {
      "description": "Metadata related to the progress of the IdentityMappingStoreService.DeleteIdentityMappingStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaDeleteIdentityMappingStoreMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1CreateTargetSiteMetadata": {
      "id": "GoogleCloudDiscoveryengineV1CreateTargetSiteMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaRankingRecord": {
      "properties": {
        "score": {
          "format": "float",
          "description": "The score of this record based on the given query and selected model. The score will be rounded to 4 decimal places. If the score is close to 0, it will be rounded to 0.00001 to avoid returning unset.",
          "type": "number"
        },
        "content": {
          "type": "string",
          "description": "The content of the record. Empty by default. At least one of title or content should be set otherwise an INVALID_ARGUMENT error is thrown."
        },
        "title": {
          "type": "string",
          "description": "The title of the record. Empty by default. At least one of title or content should be set otherwise an INVALID_ARGUMENT error is thrown."
        },
        "id": {
          "description": "The unique ID to represent the record.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Record message for RankService.Rank method.",
      "id": "GoogleCloudDiscoveryengineV1betaRankingRecord"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestQueryUnderstandingSpec": {
      "type": "object",
      "description": "Query understanding specification.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestQueryUnderstandingSpec",
      "properties": {
        "queryClassificationSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestQueryUnderstandingSpecQueryClassificationSpec",
          "description": "Query classification specification."
        },
        "queryRephraserSpec": {
          "description": "Query rephraser specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpec"
        },
        "disableSpellCorrection": {
          "description": "Optional. Whether to disable spell correction. The default value is `false`.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1UpdateCmekConfigMetadata": {
      "description": "Metadata related to the progress of the CmekConfigService.UpdateCmekConfig operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1UpdateCmekConfigMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportDocumentsResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaImportDocumentsResponse",
      "description": "Response of the ImportDocumentsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig",
          "description": "Echoes the destination for the complete errors in the request if set."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaListIdentityMappingStoresResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "identityMappingStores": {
          "type": "array",
          "description": "The Identity Mapping Stores.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaIdentityMappingStore"
          }
        }
      },
      "description": "Response message for IdentityMappingStoreService.ListIdentityMappingStores",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaListIdentityMappingStoresResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaDestinationConfigDestination": {
      "properties": {
        "host": {
          "description": "Publicly routable host.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Target port number accepted by the destination."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDestinationConfigDestination",
      "type": "object",
      "description": "Defines a target endpoint"
    },
    "GoogleCloudDiscoveryengineV1alphaWorkspaceConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaWorkspaceConfig",
      "properties": {
        "superAdminEmailAddress": {
          "description": "Optional. The super admin email address for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        },
        "superAdminServiceAccount": {
          "description": "Optional. The super admin service account for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        },
        "dasherCustomerId": {
          "description": "Output only. Obfuscated Dasher customer ID. Derived by the server from the project's GCP organization at data store creation time; any value supplied in the request payload is ignored.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "Defaults to an unspecified Workspace type.",
            "Workspace Data Store contains Drive data",
            "Workspace Data Store contains Mail data",
            "Workspace Data Store contains Sites data",
            "Workspace Data Store contains Calendar data",
            "Workspace Data Store contains Chat data",
            "Workspace Data Store contains Groups data",
            "Workspace Data Store contains Keep data",
            "Workspace Data Store contains People data",
            "Workspace Data Store contains all Workspace apps data"
          ],
          "type": "string",
          "description": "The Google Workspace data source.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DRIVE",
            "GOOGLE_MAIL",
            "GOOGLE_SITES",
            "GOOGLE_CALENDAR",
            "GOOGLE_CHAT",
            "GOOGLE_GROUPS",
            "GOOGLE_KEEP",
            "GOOGLE_PEOPLE",
            "GOOGLE_WORKSPACE"
          ]
        }
      },
      "description": "Config to store data store type configuration for workspace data"
    },
    "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesMetadata": {
      "description": "Metadata related to the progress of the UserLicenseService.BatchUpdateUserLicenses operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "successCount": {
          "description": "Count of user licenses successfully updated.",
          "type": "string",
          "format": "int64"
        },
        "failureCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of user licenses that failed to be updated."
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantContentCodeExecutionResult": {
      "type": "object",
      "description": "Result of executing ExecutableCode.",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantContentCodeExecutionResult",
      "properties": {
        "output": {
          "description": "Optional. Contains stdout when code execution is successful, stderr or other description otherwise.",
          "type": "string"
        },
        "outcome": {
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "OUTCOME_OK",
            "OUTCOME_FAILED",
            "OUTCOME_DEADLINE_EXCEEDED"
          ],
          "type": "string",
          "description": "Required. Outcome of the code execution.",
          "enumDescriptions": [
            "Unspecified status. This value should not be used.",
            "Code execution completed successfully.",
            "Code execution finished but with a failure. `stderr` should contain the reason.",
            "Code execution ran for too long, and was cancelled. There may or may not be a partial output present."
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaConditionTimeRange": {
      "properties": {
        "startTime": {
          "description": "Start of time range. Range is inclusive.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "End of time range. Range is inclusive. Must be in the future.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaConditionTimeRange",
      "description": "Used for time-dependent conditions.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigNotebooklmConfig": {
      "type": "object",
      "description": "Config for connecting to NotebookLM Enterprise.",
      "properties": {
        "searchConfig": {
          "type": "string",
          "description": "Required. Search config name. Format: projects/*/locations/global/notebookLmSearchConfigs/*"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigNotebooklmConfig"
    },
    "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpec": {
      "description": "Describes the specification of the evaluation.",
      "id": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpec",
      "properties": {
        "searchRequest": {
          "description": "Required. The search request that is used to perform the evaluation. Only the following fields within SearchRequest are supported; if any other fields are provided, an UNSUPPORTED error will be returned: * SearchRequest.serving_config * SearchRequest.branch * SearchRequest.canonical_filter * SearchRequest.query_expansion_spec * SearchRequest.spell_correction_spec * SearchRequest.content_search_spec * SearchRequest.user_pseudo_id",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequest"
        },
        "querySetSpec": {
          "description": "Optional. The specification of the query set.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpecQuerySetSpec"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaIdentityMappingStore": {
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the identity mapping store. Format: `projects/{project}/locations/{location}/identityMappingStores/{identity_mapping_store}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Input only. The KMS key to be used to protect this Identity Mapping Store at creation time. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the Identity Mapping Store will be protected by the KMS key, as indicated in the cmek_config field."
        },
        "cmekConfig": {
          "readOnly": true,
          "description": "Output only. CMEK-related information for the Identity Mapping Store.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCmekConfig"
        }
      },
      "description": "Identity Mapping Store which contains Identity Mapping Entries.",
      "id": "GoogleCloudDiscoveryengineV1betaIdentityMappingStore",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesRequest": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesRequest",
      "properties": {
        "deleteUnassignedUserLicenses": {
          "type": "boolean",
          "description": "Optional. If true, if user licenses removed associated license config, the user license will be deleted. By default which is false, the user license will be updated to unassigned state."
        },
        "inlineSource": {
          "description": "The inline source for the input content for license assignment.",
          "$ref": "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesRequestInlineSource"
        }
      },
      "description": "Request message for UserLicenseService.BatchUpdateUserLicenses method."
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteTargetSiteMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteTargetSiteMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaDeleteSchemaMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaDeleteSchemaMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "type": "object",
      "description": "Metadata for DeleteSchema LRO."
    },
    "GoogleCloudDiscoveryengineV1betaFetchDomainVerificationStatusResponse": {
      "properties": {
        "targetSites": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaTargetSite"
          },
          "description": "List of TargetSites containing the site verification status."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of items matching the request. This will always be populated in the response."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaFetchDomainVerificationStatusResponse",
      "description": "Response message for SiteSearchEngineService.FetchDomainVerificationStatus method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerGroundingSupport": {
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerCitationSource"
          },
          "description": "Optional. Citation sources for the claim."
        },
        "endIndex": {
          "type": "string",
          "format": "int64",
          "description": "Required. End of the claim, exclusive."
        },
        "groundingScore": {
          "format": "double",
          "type": "number",
          "description": "A score in the range of [0, 1] describing how grounded is a specific claim by the references. Higher value means that the claim is better supported by the reference chunks."
        },
        "startIndex": {
          "description": "Required. Index indicates the start of the claim, measured in bytes (UTF-8 unicode).",
          "type": "string",
          "format": "int64"
        },
        "groundingCheckRequired": {
          "description": "Indicates that this claim required grounding check. When the system decided this claim didn't require attribution/grounding check, this field is set to false. In that case, no grounding check was done for the claim and therefore `grounding_score`, `sources` is not returned.",
          "type": "boolean"
        }
      },
      "description": "Grounding support for a claim in `answer_text`.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerGroundingSupport",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceScoreSpec": {
      "properties": {
        "returnRelevanceScore": {
          "type": "boolean",
          "description": "Optional. Whether to return the relevance score for search results. The higher the score, the more relevant the document is to the query."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceScoreSpec",
      "description": "The specification for returning the document relevance score."
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigGenerationSettingsModelConfig": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Model name (e.g. `gemini-2.5-flash`, `gemini-3.1-pro-preview`). See `model_mixture` for the list of allowed models."
        },
        "weight": {
          "format": "float",
          "description": "Optional. Relative weight for this model in the mixture. Must be a finite, strictly positive value. Weights across all entries are normalized server-side, so they need not sum to 1.0. Defaults to 1.0 when unset, which is convenient when configuring a single model or an even mixture. Some Pro-tier models are capped at most 50% of the total weight; requests violating that cap are rejected with INVALID_ARGUMENT.",
          "type": "number"
        },
        "thinkingLevel": {
          "enumDescriptions": [
            "Unset. The model applies its own default, which is not the same level for every model.",
            "Least thinking. Not offered by every model.",
            "Vertex `LOW`.",
            "Vertex `MEDIUM`.",
            "Vertex `HIGH`."
          ],
          "description": "Optional. Sent as Vertex `ThinkingConfig.thinking_level`.",
          "enum": [
            "THINKING_LEVEL_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigGenerationSettingsModelConfig",
      "description": "Per-model configuration. Mutually exclusive with `model_mixture` and `model`: when `models` is set, both `model_mixture` and `model` must be left unset. The same allowed-model list and at-most-2-models rule as for `model_mixture` apply. In addition, each entry may specify a per-model `temperature` for LLM sampling. Unlike `model_mixture`, weights here are *relative*: only their ratios matter (the server normalizes them), so callers may use any positive numbers without having to ensure they sum to 1.0."
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContent": {
      "properties": {
        "textGroundingMetadata": {
          "description": "Metadata for grounding based on text sources.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadata"
        },
        "content": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantContent",
          "description": "The content."
        },
        "citationMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCitationMetadata",
          "description": "Source attribution of the generated content. See also https://cloud.google.com/vertex-ai/generative-ai/docs/learn/overview#citation_check"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContent",
      "type": "object",
      "description": "A piece of content and possibly its grounding information. Not all content needs grounding. Phrases like \"Of course, I will gladly search it for you.\" do not need grounding."
    },
    "GoogleCloudDiscoveryengineV1betaConditionQueryTerm": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The specific query value to match against Must be lowercase, must be UTF-8. Can have at most 3 space separated terms if full_match is true. Cannot be an empty string. Maximum length of 5000 characters."
        },
        "fullMatch": {
          "type": "boolean",
          "description": "Whether the search query needs to exactly match the query term."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaConditionQueryTerm",
      "description": "Matcher for search request query",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterAndExpression": {
      "properties": {
        "expressions": {
          "description": "The expressions that were ANDed together.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpression"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterAndExpression",
      "type": "object",
      "description": "Logical `And` operator."
    },
    "GoogleCloudDiscoveryengineV1betaListAssistantsResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaListAssistantsResponse",
      "description": "Response message for the AssistantService.ListAssistants method.",
      "properties": {
        "assistants": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAssistant"
          },
          "description": "All the customer's Assistants.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAssistantsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig",
      "type": "object",
      "properties": {
        "chunkSize": {
          "format": "int32",
          "type": "integer",
          "description": "The token size limit for each chunk. Supported values: 100-500 (inclusive). Default value: 500."
        },
        "includeAncestorHeadings": {
          "description": "Whether to include appending different levels of headings to chunks from the middle of the document to prevent context loss. Default value: False.",
          "type": "boolean"
        }
      },
      "description": "Configuration for the layout based chunking."
    },
    "GoogleCloudDiscoveryengineV1betaStreamAssistResponseSessionInfo": {
      "description": "Information about the session.",
      "id": "GoogleCloudDiscoveryengineV1betaStreamAssistResponseSessionInfo",
      "properties": {
        "session": {
          "description": "Name of the newly generated or continued session. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportSampleQueriesRequestInlineSource": {
      "properties": {
        "sampleQueries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSampleQuery"
          },
          "description": "Required. A list of SampleQuerys to import. Max of 1000 items."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaImportSampleQueriesRequestInlineSource",
      "description": "The inline source for SampleQuerys."
    },
    "GoogleCloudDiscoveryengineV1betaAssistantContentExecutableCode": {
      "properties": {
        "code": {
          "description": "Required. The code content. Currently only supports Python.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAssistantContentExecutableCode",
      "description": "Code generated by the model that is meant to be executed by the model."
    },
    "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReasonQuotaFailure": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReasonQuotaFailure",
      "description": "Failed due to insufficient quota.",
      "properties": {
        "totalRequiredQuota": {
          "format": "int64",
          "description": "This number is an estimation on how much total quota this project needs to successfully complete indexing.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResult": {
      "type": "object",
      "properties": {
        "verdict": {
          "enum": [
            "UNSPECIFIED",
            "ALLOW",
            "BLOCK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown value.",
            "There was no policy violation.",
            "Processing was blocked by the customer policy."
          ],
          "description": "Final verdict of the customer policy enforcement. If only one policy blocked the processing, the verdict is BLOCK."
        },
        "policyResults": {
          "type": "array",
          "description": "Customer policy enforcement results. Populated only if the assist call was skipped due to a policy violation. It contains results from those filters that blocked the processing of the query.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultPolicyEnforcementResult"
          }
        },
        "violationSource": {
          "enumDescriptions": [
            "Unknown value.",
            "Violation found in the system response.",
            "Violation found in the user prompt.",
            "Violation found in the user attachment."
          ],
          "description": "Output only. The source of the violation.",
          "enum": [
            "VIOLATION_SOURCE_UNSPECIFIED",
            "SYSTEM",
            "PROMPT",
            "ATTACHMENT"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResult",
      "description": "Customer policy enforcement results. Contains the results of the various policy checks, like the banned phrases or the Model Armor checks."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerStepAction": {
      "properties": {
        "searchAction": {
          "description": "Search action.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerStepActionSearchAction"
        },
        "observation": {
          "description": "Observation.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservation"
        }
      },
      "description": "Action.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerStepAction",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgram": {
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgram",
      "description": "Represents a single program to be used within the context of an AlphaEvolve experiment.",
      "properties": {
        "lockToken": {
          "description": "Optional. Lock token for the program.",
          "type": "string"
        },
        "parentPrograms": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Optionally specifies which parent programs this program was evolved from. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/alphaEvolveExperiments/{alpha_evolve_experiment}/alphaEvolvePrograms/{alpha_evolve_program}`",
          "readOnly": true
        },
        "content": {
          "description": "Optional. Content of the program.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramContent"
        },
        "evaluation": {
          "description": "Optional. Evaluation results for the program.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramEvaluation"
        },
        "state": {
          "enum": [
            "PROGRAM_STATE_UNSPECIFIED",
            "INITIALIZED",
            "GENERATING",
            "EVALUATING",
            "COMPLETED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The program is initialized.",
            "The program is in generation.",
            "The program is pending evaluation.",
            "The program is completed."
          ],
          "description": "Output only. State of the program."
        },
        "createTime": {
          "description": "Output only. Time when the program was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. Unique identifier for the program. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/alphaEvolveExperiments/{alpha_evolve_experiment}/alphaEvolvePrograms/{alpha_evolve_program}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDeleteEngineMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaDeleteEngineMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the EngineService.DeleteEngine operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig": {
      "type": "object",
      "description": "Configuration for AlloyDB AI Natural Language.",
      "properties": {
        "nlConfigId": {
          "description": "Optional. AlloyDb AI NL config id, i.e. the value that was used for calling `SELECT alloydb_ai_nl.g_create_configuration(...)`. Can be empty.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig"
    },
    "GoogleCloudDiscoveryengineV1betaFeedbackConversationInfo": {
      "id": "GoogleCloudDiscoveryengineV1betaFeedbackConversationInfo",
      "type": "object",
      "description": "The conversation information such as the question index and session name.",
      "properties": {
        "questionIndex": {
          "type": "integer",
          "description": "The index of the user input within the conversation messages.",
          "format": "int32"
        },
        "session": {
          "description": "Name of the newly generated or continued session.",
          "type": "string"
        },
        "answerQueryToken": {
          "description": "Optional. The token which could be used to fetch the answer log.",
          "type": "string"
        },
        "query": {
          "description": "Required. The user's search query.",
          "$ref": "GoogleCloudDiscoveryengineV1betaQuery"
        },
        "assistToken": {
          "description": "Optional. The token which could be used to fetch the assistant log.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AclConfig": {
      "id": "GoogleCloudDiscoveryengineV1AclConfig",
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "idpConfig": {
          "description": "Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1IdpConfig"
        }
      },
      "type": "object",
      "description": "Access Control Configuration."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSnippetSpec": {
      "description": "A specification for configuring snippets in a search response.",
      "properties": {
        "maxSnippetCount": {
          "type": "integer",
          "deprecated": true,
          "description": "[DEPRECATED] This field is deprecated. To control snippet return, use `return_snippet` field. For backwards compatibility, we will return snippet if max_snippet_count > 0.",
          "format": "int32"
        },
        "returnSnippet": {
          "type": "boolean",
          "description": "If `true`, then return snippet. If no snippet can be generated, we return \"No snippet is available for this page.\" A `snippet_status` with `SUCCESS` or `NO_SNIPPET_AVAILABLE` will also be returned."
        },
        "referenceOnly": {
          "deprecated": true,
          "type": "boolean",
          "description": "[DEPRECATED] This field is deprecated and will have no affect on the snippet."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSnippetSpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesRequestInlineSource": {
      "description": "The inline source for SuggestionDenyListEntry.",
      "id": "GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesRequestInlineSource",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSuggestionDenyListEntry"
          },
          "description": "Required. A list of all denylist entries to import. Max of 1000 items."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseFacet": {
      "properties": {
        "values": {
          "description": "The facet values for this field.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseFacetFacetValue"
          },
          "type": "array"
        },
        "dynamicFacet": {
          "description": "Whether the facet is dynamically generated.",
          "type": "boolean"
        },
        "key": {
          "type": "string",
          "description": "The key for this facet. For example, `\"colors\"` or `\"price\"`. It matches SearchRequest.FacetSpec.FacetKey.key."
        }
      },
      "type": "object",
      "description": "A facet result.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseFacet"
    },
    "GoogleCloudDiscoveryengineV1Assistant": {
      "id": "GoogleCloudDiscoveryengineV1Assistant",
      "type": "object",
      "properties": {
        "customerPolicy": {
          "$ref": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicy",
          "description": "Optional. Customer policy for the assistant."
        },
        "defaultWebGroundingToggleOff": {
          "type": "boolean",
          "description": "Optional. This field controls the default web grounding toggle for end users if `web_grounding_type` is set to `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`. By default, this field is set to false. If `web_grounding_type` is `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`, end users will have web grounding enabled by default on UI. If true, grounding toggle will be disabled by default on UI. End users can still enable web grounding in the UI if web grounding is enabled."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Represents the time when this Assistant was most recently updated.",
          "readOnly": true
        },
        "enabledTools": {
          "description": "Optional. Note: not implemented yet. Use enabled_actions instead. The enabled tools on this assistant. The keys are connector name, for example \"projects/{projectId}/locations/{locationId}/collections/{collectionId}/dataconnector The values consist of admin enabled tools towards the connector instance. Admin can selectively enable multiple tools on any of the connector instances that they created in the project. For example {\"jira1ConnectorName\": [(toolId1, \"createTicket\"), (toolId2, \"transferTicket\")], \"gmail1ConnectorName\": [(toolId3, \"sendEmail\"),..] }",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1AssistantToolList"
          }
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Represents the time when this Assistant was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The assistant display name. It must be a UTF-8 encoded string with a length limit of 128 characters.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description for additional information. Expected to be shown on the configuration UI, not to the users of the assistant.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Resource name of the assistant. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}` It must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "webGroundingType": {
          "enumDescriptions": [
            "Default, unspecified setting. This is the same as disabled.",
            "Web grounding is disabled.",
            "Grounding with Google Search is enabled.",
            "Grounding with Enterprise Web Search is enabled."
          ],
          "type": "string",
          "enum": [
            "WEB_GROUNDING_TYPE_UNSPECIFIED",
            "WEB_GROUNDING_TYPE_DISABLED",
            "WEB_GROUNDING_TYPE_GOOGLE_SEARCH",
            "WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH"
          ],
          "description": "Optional. The type of web grounding to use."
        },
        "generationConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1AssistantGenerationConfig",
          "description": "Optional. Configuration for the generation of the assistant response."
        }
      },
      "description": "Discovery Engine Assistant resource."
    },
    "GoogleCloudDiscoveryengineV1betaAdvancedSiteSearchConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaAdvancedSiteSearchConfig",
      "type": "object",
      "properties": {
        "disableAutomaticRefresh": {
          "description": "If set true, automatic refresh is disabled for the DataStore.",
          "type": "boolean"
        },
        "disableInitialIndex": {
          "description": "If set true, initial indexing is disabled for the DataStore.",
          "type": "boolean"
        }
      },
      "description": "Configuration data for advance site search."
    },
    "GoogleCloudDiscoveryengineV1betaProvisionProjectRequestSaasParams": {
      "id": "GoogleCloudDiscoveryengineV1betaProvisionProjectRequestSaasParams",
      "description": "Parameters for Agentspace.",
      "properties": {
        "acceptBizQos": {
          "type": "boolean",
          "description": "Optional. Set to `true` to specify that caller has read and would like to give consent to the [Terms for Agent Space quality of service]."
        },
        "isBiz": {
          "description": "Optional. Indicates if the current request is for Biz edition (= true) or not (= false).",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AssistantToolList": {
      "id": "GoogleCloudDiscoveryengineV1AssistantToolList",
      "type": "object",
      "properties": {
        "toolInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AssistantToolInfo"
          },
          "description": "The list of tools with corresponding tool information."
        }
      },
      "description": "The enabled tools on a connector"
    },
    "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchRequest": {
      "description": "Request message for SiteSearchEngineService.EnableAdvancedSiteSearch method.",
      "id": "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportDocumentsMetadata": {
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "successCount": {
          "description": "Count of entries that were processed successfully.",
          "type": "string",
          "format": "int64"
        },
        "totalCount": {
          "description": "Total count of entries that were processed.",
          "format": "int64",
          "type": "string"
        },
        "failureCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that encountered errors while processing."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the ImportDocuments operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaImportDocumentsMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigMostPopularFeatureConfig": {
      "properties": {
        "timeWindowDays": {
          "description": "The time window of which the engine is queried at training and prediction time. Positive integers only. The value translates to the last X days of events. Currently required for the `most-popular-items` engine.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Feature configurations that are required for creating a Most Popular engine.",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigMostPopularFeatureConfig"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecMultimodalSpec": {
      "properties": {
        "imageSource": {
          "type": "string",
          "description": "Optional. Source of image returned in the answer.",
          "enum": [
            "IMAGE_SOURCE_UNSPECIFIED",
            "ALL_AVAILABLE_SOURCES",
            "CORPUS_IMAGE_ONLY",
            "FIGURE_GENERATION_ONLY"
          ],
          "enumDescriptions": [
            "Unspecified image source (multimodal feature is disabled by default).",
            "Behavior when service determines the pick from all available sources.",
            "Includes image from corpus in the answer.",
            "Triggers figure generation in the answer."
          ]
        }
      },
      "type": "object",
      "description": "Multimodal specification: Will return an image from specified source. If multiple sources are specified, the pick is a quality based decision.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecMultimodalSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveEvaluationInsightsAlphaEvolveEvaluationInsight": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveEvaluationInsightsAlphaEvolveEvaluationInsight",
      "description": "A single evaluation insight.",
      "properties": {
        "label": {
          "description": "Optional. Label of the insight.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Optional. Text of the insight."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCustomFineTuningSpec": {
      "properties": {
        "enableSearchAdaptor": {
          "type": "boolean",
          "description": "Whether or not to enable and include custom fine tuned search adaptor model."
        }
      },
      "description": "Defines custom fine tuning spec.",
      "id": "GoogleCloudDiscoveryengineV1alphaCustomFineTuningSpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfig": {
      "type": "object",
      "description": "Additional config specs for a Media Recommendation engine.",
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfig",
      "properties": {
        "type": {
          "description": "Required. The type of engine. e.g., `recommended-for-you`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `recommended-for-you`, `others-you-may-like`, `more-like-this`, `most-popular-items`.",
          "type": "string"
        },
        "optimizationObjective": {
          "type": "string",
          "description": "The optimization objective. e.g., `cvr`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `ctr`, `cvr`. If not specified, we choose default based on engine type. Default depends on type of recommendation: `recommended-for-you` => `ctr` `others-you-may-like` => `ctr`"
        },
        "optimizationObjectiveConfig": {
          "description": "Name and value of the custom threshold for cvr optimization_objective. For target_field `watch-time`, target_field_value must be an integer value indicating the media progress time in seconds between (0, 86400] (excludes 0, includes 86400) (e.g., 90). For target_field `watch-percentage`, the target_field_value must be a valid float value between (0, 1.0] (excludes 0, includes 1.0) (e.g., 0.5).",
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig"
        },
        "engineFeaturesConfig": {
          "description": "Optional. Additional engine features config.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigEngineFeaturesConfig"
        },
        "trainingState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified training state.",
            "The engine training is paused.",
            "The engine is training."
          ],
          "enum": [
            "TRAINING_STATE_UNSPECIFIED",
            "PAUSED",
            "TRAINING"
          ],
          "description": "The training state that the engine is in (e.g. `TRAINING` or `PAUSED`). Since part of the cost of running the service is frequency of training - this can be used to determine when to train engine in order to control cost. If not specified: the default value for `CreateEngine` method is `TRAINING`. The default value for `UpdateEngine` method is to keep the state the same as before."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1PurgeCompletionSuggestionsResponse": {
      "description": "Response message for CompletionService.PurgeCompletionSuggestions method. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1PurgeCompletionSuggestionsResponse",
      "properties": {
        "purgeSucceeded": {
          "description": "Whether the completion suggestions were successfully purged.",
          "type": "boolean"
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfig",
      "type": "object",
      "properties": {
        "alloyDbConfig": {
          "description": "AlloyDB config. If set, this DataStore is connected to AlloyDB.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigAlloyDbConfig"
        },
        "notebooklmConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigNotebooklmConfig",
          "description": "NotebookLM config. If set, this DataStore is connected to NotebookLM Enterprise."
        },
        "thirdPartyOauthConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigThirdPartyOauthConfig",
          "description": "Third Party OAuth config. If set, this DataStore is connected to a third party application."
        }
      },
      "description": "Stores information for federated search."
    },
    "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataReference": {
      "properties": {
        "documentMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataReferenceDocumentMetadata",
          "description": "Document metadata."
        },
        "content": {
          "type": "string",
          "description": "Referenced text content."
        },
        "codeSnippet": {
          "type": "string",
          "description": "Chunk of code snippet from the referenced document."
        },
        "chunkMetadata": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. Generic structured chunk metadata from upstream data source connectors."
        }
      },
      "description": "Referenced content and related document metadata.",
      "id": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataReference",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "properties": {
        "boostAmount": {
          "description": "The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "type": "number",
          "format": "float"
        },
        "attributeValue": {
          "description": "Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the CrawlRateManagementService.RemoveDedicatedCrawlRate operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateMetadata"
    },
    "GoogleApiDistribution": {
      "id": "GoogleApiDistribution",
      "type": "object",
      "description": "`Distribution` contains summary statistics for a population of values. It optionally contains a histogram representing the distribution of those values across a set of buckets. The summary statistics are the count, mean, sum of the squared deviation from the mean, the minimum, and the maximum of the set of population of values. The histogram is based on a sequence of buckets and gives a count of values that fall into each bucket. The boundaries of the buckets are given either explicitly or by formulas for buckets of fixed or exponentially increasing widths. Although it is not forbidden, it is generally a bad idea to include non-finite values (infinities or NaNs) in the population of values, as this will render the `mean` and `sum_of_squared_deviation` fields meaningless.",
      "properties": {
        "range": {
          "$ref": "GoogleApiDistributionRange",
          "description": "If specified, contains the range of the population values. The field must not be present if the `count` is zero."
        },
        "count": {
          "description": "The number of values in the population. Must be non-negative. This value must equal the sum of the values in `bucket_counts` if a histogram is provided.",
          "type": "string",
          "format": "int64"
        },
        "sumOfSquaredDeviation": {
          "type": "number",
          "description": "The sum of squared deviations from the mean of the values in the population. For values x_i this is: Sum[i=1..n]((x_i - mean)^2) Knuth, \"The Art of Computer Programming\", Vol. 2, page 232, 3rd edition describes Welford's method for accumulating this sum in one pass. If `count` is zero then this field must be zero.",
          "format": "double"
        },
        "bucketOptions": {
          "$ref": "GoogleApiDistributionBucketOptions",
          "description": "Defines the histogram bucket boundaries. If the distribution does not contain a histogram, then omit this field."
        },
        "mean": {
          "description": "The arithmetic mean of the values in the population. If `count` is zero then this field must be zero.",
          "type": "number",
          "format": "double"
        },
        "exemplars": {
          "description": "Must be in increasing order of `value` field.",
          "items": {
            "$ref": "GoogleApiDistributionExemplar"
          },
          "type": "array"
        },
        "bucketCounts": {
          "type": "array",
          "description": "The number of values in each bucket of the histogram, as described in `bucket_options`. If the distribution does not have a histogram, then omit this field. If there is a histogram, then the sum of the values in `bucket_counts` must equal the value in the `count` field of the distribution. If present, `bucket_counts` should contain N values, where N is the number of buckets specified in `bucket_options`. If you supply fewer than N values, the remaining values are assumed to be 0. The order of the values in `bucket_counts` follows the bucket numbering schemes described for the three bucket types. The first value must be the count for the underflow bucket (number 0). The next N-2 values are the counts for the finite buckets (number 1 through N-2). The N'th value in `bucket_counts` is the count for the overflow bucket (number N-1).",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "GoogleApiDistributionBucketOptionsLinear": {
      "id": "GoogleApiDistributionBucketOptionsLinear",
      "type": "object",
      "description": "Specifies a linear sequence of buckets that all have the same width (except overflow and underflow). Each bucket represents a constant absolute uncertainty on the specific value in the bucket. There are `num_finite_buckets + 2` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 <= i < N-1): offset + (width * i). Lower bound (1 <= i < N): offset + (width * (i - 1)).",
      "properties": {
        "offset": {
          "format": "double",
          "type": "number",
          "description": "Lower bound of the first bucket."
        },
        "width": {
          "description": "Must be greater than 0.",
          "format": "double",
          "type": "number"
        },
        "numFiniteBuckets": {
          "type": "integer",
          "format": "int32",
          "description": "Must be greater than 0."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpecFacetKey": {
      "description": "Specifies how a facet is computed.",
      "properties": {
        "intervals": {
          "type": "array",
          "description": "Set only if values should be bucketed into intervals. Must be set for facets with numerical values. Must not be set for facet with text values. Maximum number of intervals is 30.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaInterval"
          }
        },
        "restrictedValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Only get facet for the given restricted values. Only supported on textual fields. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"restricted_values\" to \"Action > 2022\", the \"category\" facet only contains \"Action > 2022\". Only supported on textual fields. Maximum is 10."
        },
        "contains": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Only get facet values that contain the given strings. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"contains\" to \"2022\", the \"category\" facet only contains \"Action > 2022\" and \"Sci-Fi > 2022\". Only supported on textual fields. Maximum is 10."
        },
        "orderBy": {
          "description": "The order in which documents are returned. Allowed values are: * \"count desc\", which means order by SearchResponse.Facet.values.count descending. * \"value desc\", which means order by SearchResponse.Facet.values.value descending. Only applies to textual facets. If not set, textual values are sorted in [natural order](https://en.wikipedia.org/wiki/Natural_sort_order); numerical intervals are sorted in the order given by FacetSpec.FacetKey.intervals.",
          "type": "string"
        },
        "prefixes": {
          "items": {
            "type": "string"
          },
          "description": "Only get facet values that start with the given string prefix. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"prefixes\" to \"Action\", the \"category\" facet only contains \"Action > 2022\" and \"Action > 2021\". Only supported on textual fields. Maximum is 10.",
          "type": "array"
        },
        "key": {
          "description": "Required. Supported textual and numerical facet keys in Document object, over which the facet values are computed. Facet key is case-sensitive.",
          "type": "string"
        },
        "caseInsensitive": {
          "type": "boolean",
          "description": "True to make facet keys case insensitive when getting faceting values with prefixes or contains; false otherwise."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpecFacetKey"
    },
    "GoogleCloudDiscoveryengineV1DataConnector": {
      "id": "GoogleCloudDiscoveryengineV1DataConnector",
      "description": "Manages the connection to external data sources for all data stores grouped under a Collection. It's a singleton resource of Collection. The initialization is only supported through DataConnectorService.SetUpDataConnector method, which will create a new Collection and initialize its DataConnector.",
      "properties": {
        "incrementalSyncDisabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether incremental syncs are paused for this connector. This is independent of auto_run_disabled. Applicable to only 3P connectors. When the refresh interval is set to the same value as the incremental refresh interval, incremental sync will be disabled, i.e. set to true."
        },
        "hybridIngestionDisabled": {
          "type": "boolean",
          "description": "Optional. If the connector is a hybrid connector, determines whether ingestion is enabled and appropriate resources are provisioned during connector creation. If the connector is not a hybrid connector, this field is ignored."
        },
        "staticIpAddresses": {
          "description": "Output only. The static IP addresses used by this connector.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "jsonParams": {
          "description": "Required data connector parameters in json string format.",
          "type": "string"
        },
        "aclEnabled": {
          "type": "boolean",
          "description": "Optional. Whether the connector will be created with an ACL config. Currently this field only affects Cloud Storage and BigQuery connectors."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. The errors from initialization or from the latest connector run.",
          "readOnly": true
        },
        "realtimeState": {
          "description": "Output only. real-time sync state",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "WARNING",
            "INITIALIZATION_FAILED",
            "UPDATING"
          ],
          "enumDescriptions": [
            "Default value.",
            "The connector is being set up.",
            "The connector is successfully set up and awaiting next sync run.",
            "The connector is in error. The error details can be found in DataConnector.errors. If the error is unfixable, the DataConnector can be deleted by CollectionService.DeleteCollection API.",
            "The connector is actively syncing records from the data source.",
            "The connector has completed a sync run, but encountered non-fatal errors.",
            "Connector initialization failed. Potential causes include runtime errors or issues in the asynchronous pipeline, preventing the request from reaching downstream services (except for some connector types).",
            "Connector is in the process of an update."
          ],
          "type": "string"
        },
        "createEuaSaas": {
          "type": "boolean",
          "description": "Optional. Whether the END USER AUTHENTICATION connector is created in SaaS."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp the DataConnector was last updated.",
          "format": "google-datetime"
        },
        "staticIpEnabled": {
          "type": "boolean",
          "description": "Optional. Whether customer has enabled static IP addresses for this connector."
        },
        "endUserConfig": {
          "description": "Optional. Any params and credentials used specifically for EUA connectors.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorEndUserConfig"
        },
        "federatedConfig": {
          "description": "Optional. Any params and credentials used specifically for hybrid connectors supporting FEDERATED mode. This field should only be set if the connector is a hybrid connector and we want to enable FEDERATED mode.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorFederatedConfig"
        },
        "dynamicTools": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DynamicTool"
          },
          "description": "Output only. The dynamic tools fetched for this connector."
        },
        "tag": {
          "description": "Optional. Immutable. User-facing, version-independent label for this connector. May be shared by multiple connectors under the same (project, location, collection, data_source); tag-based lookup returns the one with the greatest create_time. Optional at Create time. Agent Designer resolves connectors via (data_source, tag) when set, falling back to the legacy resource-name lookup when unset, so connectors created before the tag-write launch continue to work without a backfill.",
          "type": "string"
        },
        "syncMode": {
          "enum": [
            "PERIODIC",
            "STREAMING",
            "UNSPECIFIED"
          ],
          "type": "string",
          "description": "The data synchronization mode supported by the data connector.",
          "enumDescriptions": [
            "The connector will sync data periodically based on the refresh_interval. Use it with auto_run_disabled to pause the periodic sync, or indicate a one-time sync.",
            "The data will be synced in real time.",
            "Connector that doesn't ingest data will have this value"
          ]
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "description": "Output only. For periodic connectors only, the last time a data sync was completed.",
          "type": "string",
          "readOnly": true
        },
        "connectorModes": {
          "items": {
            "enum": [
              "CONNECTOR_MODE_UNSPECIFIED",
              "DATA_INGESTION",
              "ACTIONS",
              "FEDERATED",
              "EUA",
              "FEDERATED_AND_EUA"
            ],
            "enumDescriptions": [
              "Connector mode unspecified.",
              "Connector utilized for data ingestion.",
              "Connector utilized for actions.",
              "Connector utilized for federated search.",
              "Connector utilized for End User Authentication.",
              "Hybrid connector utilized for federated search and End User Authentication."
            ],
            "type": "string"
          },
          "description": "Optional. The modes enabled for this connector. Default state is CONNECTOR_MODE_UNSPECIFIED.",
          "type": "array"
        },
        "incrementalRefreshInterval": {
          "format": "google-duration",
          "description": "Optional. The refresh interval specifically for incremental data syncs. If unset, incremental syncs will use the default from env, set to 3hrs. The minimum is 30 minutes and maximum is 7 days. Applicable to only 3P connectors. When the refresh interval is set to the same value as the incremental refresh interval, incremental sync will be disabled.",
          "type": "string"
        },
        "privateConnectivityProjectId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The tenant project ID associated with private connectivity connectors. This project must be allowlisted by in order for the connector to function."
        },
        "actionState": {
          "description": "Output only. State of the action connector. This reflects whether the action connector is initializing, active or has encountered errors.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "The connector is being set up.",
            "The connector is successfully set up and awaiting next sync run.",
            "The connector is in error. The error details can be found in DataConnector.errors. If the error is unfixable, the DataConnector can be deleted by CollectionService.DeleteCollection API.",
            "The connector is actively syncing records from the data source.",
            "The connector has completed a sync run, but encountered non-fatal errors.",
            "Connector initialization failed. Potential causes include runtime errors or issues in the asynchronous pipeline, preventing the request from reaching downstream services (except for some connector types).",
            "Connector is in the process of an update."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "WARNING",
            "INITIALIZATION_FAILED",
            "UPDATING"
          ],
          "type": "string"
        },
        "connectorSourceId": {
          "description": "Optional. If set, this value instead of `data_source` is used to fetch the corresponding connector source.",
          "type": "string"
        },
        "egressFqdns": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of FQDNs of the data connector can egress to. This includes both FQDN derived from the customer provided instance URL and default per connector type FQDNs.",
          "type": "array",
          "readOnly": true
        },
        "latestPauseTime": {
          "readOnly": true,
          "description": "Output only. The most recent timestamp when this DataConnector was paused, affecting all functionalities such as data synchronization. Pausing a connector has the following effects: - All functionalities, including data synchronization, are halted. - Any ongoing data synchronization job will be canceled. - No future data synchronization runs will be scheduled nor can be triggered.",
          "type": "string",
          "format": "google-datetime"
        },
        "dataSource": {
          "description": "Required. The identifier for the data source. For the full, up-to-date list of supported connectors and their values, see [Connect a third-party data source](https://docs.cloud.google.com/gemini/enterprise/docs/connectors/connect-third-party-data-source#sources-by-launch-stage).",
          "type": "string"
        },
        "autoRunDisabled": {
          "description": "Optional. Indicates whether the connector is disabled for auto run. It can be used to pause periodical and real time sync. Update: with the introduction of incremental_sync_disabled, auto_run_disabled is used to pause/disable only full syncs",
          "type": "boolean"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Input only. The KMS key to be used to protect the DataStores managed by this connector. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the DataStores created by this connector will be protected by the KMS key."
        },
        "nextSyncTime": {
          "description": "Defines the scheduled time for the next data synchronization. This field requires hour , minute, and time_zone from the [IANA Time Zone Database](https://www.iana.org/time-zones). This is utilized when the data connector has a refresh interval greater than 1 day. When the hours or minutes are not specified, we will assume a sync time of 0:00. The user must provide a time zone to avoid ambiguity.",
          "$ref": "GoogleTypeDateTime"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp the DataConnector was created at."
        },
        "actionConfig": {
          "description": "Optional. Action configurations to make the connector support actions.",
          "$ref": "GoogleCloudDiscoveryengineV1ActionConfig"
        },
        "removeParamKeys": {
          "description": "Optional. Specifies keys to be removed from the 'params' field. This is only active when 'params' is included in the 'update_mask' in an UpdateDataConnectorRequest. Deletion takes precedence if a key is both in 'remove_param_keys' and present in the 'params' field of the request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "cliConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1CliConfig",
          "description": "Optional. The configuration for establishing a CLI connection."
        },
        "alertPolicyConfigs": {
          "type": "array",
          "description": "Optional. The connector level alert config.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AlertPolicyConfig"
          }
        },
        "vpcscEnabled": {
          "description": "Output only. Whether the connector is created with VPC-SC enabled.",
          "type": "boolean",
          "readOnly": true
        },
        "metadata": {
          "description": "Optional. User-facing metadata for the connector. Populated from the connector's generated metadata / registry `ConnectorSource`.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorConnectorMetadata"
        },
        "identityRefreshInterval": {
          "description": "The refresh interval to sync the Access Control List information for the documents ingested by this connector. If not set, the access control list will be refreshed at the default interval of 30 minutes. The identity refresh interval can be at least 30 minutes and at most 7 days.",
          "type": "string",
          "format": "google-duration",
          "deprecated": true
        },
        "refreshInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. The refresh interval for data sync. If duration is set to 0, the data will be synced in real time. The streaming feature is not supported yet. The minimum is 30 minutes and maximum is 7 days. When the refresh interval is set to the same value as the incremental refresh interval, incremental sync will be disabled."
        },
        "identityScheduleConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1IdentityScheduleConfig",
          "description": "The configuration for the identity data synchronization runs. This contains the refresh interval to sync the Access Control List information for the documents ingested by this connector."
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DataConnectorSourceEntity"
          },
          "type": "array",
          "description": "List of entities from the connected data source to ingest."
        },
        "destinationConfigs": {
          "description": "Optional. Any target destinations used to connect to third-party services.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DestinationConfig"
          }
        },
        "bapConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1BAPConfig",
          "description": "Optional. The configuration for establishing a BAP connection."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "The connector is being set up.",
            "The connector is successfully set up and awaiting next sync run.",
            "The connector is in error. The error details can be found in DataConnector.errors. If the error is unfixable, the DataConnector can be deleted by CollectionService.DeleteCollection API.",
            "The connector is actively syncing records from the data source.",
            "The connector has completed a sync run, but encountered non-fatal errors.",
            "Connector initialization failed. Potential causes include runtime errors or issues in the asynchronous pipeline, preventing the request from reaching downstream services (except for some connector types).",
            "Connector is in the process of an update."
          ],
          "description": "Output only. State of the connector.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "WARNING",
            "INITIALIZATION_FAILED",
            "UPDATING"
          ]
        },
        "oauthStaticIpAddresses": {
          "type": "array",
          "description": "Output only. The static IP addresses used by this connector for OAuth APIs (e.g. end user authentication). These are surfaced separately from `static_ip_addresses` so that customers can apply granular firewall settings for OAuth endpoints. Only populated for connectors that have static IP enabled and are used for actions and/or federated search.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "realtimeSyncConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfig",
          "description": "Optional. The configuration for realtime sync."
        },
        "connectorType": {
          "enumDescriptions": [
            "Default value.",
            "Third party connector to connector to third party application.",
            "Data connector connects between FHIR store and VAIS datastore.",
            "Big query connector.",
            "Google Cloud Storage connector.",
            "Gmail connector.",
            "Google Calendar connector.",
            "Google Drive connector.",
            "Native Cloud Identity connector for people search powered by People API.",
            "Federated connector, it is a third party connector that doesn't ingestion data, and search is powered by third party application's API.",
            "Connector utilized for End User Authentication features.",
            "Google Cloud NetApp Volumes connector.",
            "Google Chat connector.",
            "Google Sites connector.",
            "Remote MCP based connector.",
            "Google Workspace connector."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of connector. Each source can only map to one type. For example, salesforce, confluence and jira have THIRD_PARTY connector type. It is not mutable once set by system.",
          "enum": [
            "CONNECTOR_TYPE_UNSPECIFIED",
            "THIRD_PARTY",
            "GCP_FHIR",
            "BIG_QUERY",
            "GCS",
            "GOOGLE_MAIL",
            "GOOGLE_CALENDAR",
            "GOOGLE_DRIVE",
            "NATIVE_CLOUD_IDENTITY",
            "THIRD_PARTY_FEDERATED",
            "THIRD_PARTY_EUA",
            "GCNV",
            "GOOGLE_CHAT",
            "GOOGLE_SITES",
            "REMOTE_MCP",
            "GOOGLE_WORKSPACE"
          ]
        },
        "dataProtectionPolicy": {
          "description": "Optional. Specifies the data protection policy for the connector.",
          "$ref": "GoogleCloudDiscoveryengineV1DataProtectionPolicy"
        },
        "blockingReasons": {
          "type": "array",
          "readOnly": true,
          "items": {
            "enum": [
              "BLOCKING_REASON_UNSPECIFIED",
              "ALLOWLIST_STATIC_IP",
              "ALLOWLIST_IN_SERVICE_ATTACHMENT",
              "ALLOWLIST_SERVICE_ACCOUNT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value.",
              "Connector requires customer to allowlist static IPs.",
              "Connector requires customer to allowlist our project in their service attachment.",
              "Connector requires customer to allowlist service account in their project."
            ]
          },
          "description": "Output only. User actions that must be completed before the connector can start syncing data."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The full resource name of the Data Connector. Format: `projects/*/locations/*/collections/*/dataConnector`."
        },
        "params": {
          "type": "object",
          "description": "Required data connector parameters in structured json format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCreateSchemaMetadata": {
      "description": "Metadata for Create Schema LRO.",
      "id": "GoogleCloudDiscoveryengineV1betaCreateSchemaMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSingleRegionKey": {
      "description": "Metadata for single-regional CMEKs.",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Required. Single-regional kms key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSingleRegionKey"
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfig": {
      "type": "object",
      "properties": {
        "alloydbAiNlConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig",
          "description": "Optional. Configuration for Magic."
        },
        "alloydbConnectionConfig": {
          "description": "Required. Configuration for connecting to AlloyDB.",
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbConnectionConfig"
        },
        "returnedFields": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Fields to be returned in the search results. If empty, all fields will be returned."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfig",
      "description": "Stores information for connecting to AlloyDB."
    },
    "GoogleCloudDiscoveryengineV1betaLanguageInfo": {
      "description": "Language info for DataStore.",
      "properties": {
        "region": {
          "description": "Output only. Region part of normalized_language_code, if present. E.g.: `en-US` -> `US`, `zh-Hans-HK` -> `HK`, `en` -> ``.",
          "type": "string",
          "readOnly": true
        },
        "language": {
          "description": "Output only. Language part of normalized_language_code. E.g.: `en-US` -> `en`, `zh-Hans-HK` -> `zh`, `en` -> `en`.",
          "type": "string",
          "readOnly": true
        },
        "normalizedLanguageCode": {
          "readOnly": true,
          "description": "Output only. This is the normalized form of language_code. E.g.: language_code of `en-GB`, `en_GB`, `en-UK` or `en-gb` will have normalized_language_code of `en-GB`.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "The language code for the DataStore."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaLanguageInfo",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DestinationConfig": {
      "properties": {
        "key": {
          "description": "Optional. Unique destination identifier that is supported by the connector.",
          "type": "string"
        },
        "destinations": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DestinationConfigDestination"
          },
          "description": "Optional. The destinations for the corresponding key.",
          "type": "array"
        },
        "jsonParams": {
          "type": "string",
          "description": "Additional parameters for this destination config in json string format."
        },
        "params": {
          "description": "Optional. Additional parameters for this destination config in structured json format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DestinationConfig",
      "type": "object",
      "description": "Defines target endpoints used to connect to third-party sources."
    },
    "GoogleCloudDiscoveryengineV1alphaEvaluation": {
      "properties": {
        "qualityMetrics": {
          "description": "Output only. The metrics produced by the evaluation, averaged across all SampleQuerys in the SampleQuerySet. Only populated when the evaluation's state is SUCCEEDED.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQualityMetrics",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp the Evaluation was created at."
        },
        "endTime": {
          "description": "Output only. Timestamp the Evaluation was completed at.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "errorSamples": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. A sample of errors encountered while processing the request.",
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "The evaluation is unspecified.",
            "The service is preparing to run the evaluation.",
            "The evaluation is in progress.",
            "The evaluation completed successfully.",
            "The evaluation failed."
          ],
          "description": "Output only. The state of the evaluation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "$ref": "GoogleRpcStatus",
          "description": "Output only. The error that occurred during evaluation. Only populated when the evaluation's state is FAILED."
        },
        "name": {
          "description": "Identifier. The full resource name of the Evaluation, in the format of `projects/{project}/locations/{location}/evaluations/{evaluation}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "evaluationSpec": {
          "description": "Required. The specification of the evaluation.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpec"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaEvaluation",
      "description": "An evaluation is a single execution (or run) of an evaluation process. It encapsulates the state of the evaluation and the resulting data.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaLicenseConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaLicenseConfig",
      "properties": {
        "freeTrial": {
          "description": "Optional. Whether the license config is for free trial.",
          "type": "boolean"
        },
        "startDate": {
          "$ref": "GoogleTypeDate",
          "description": "Required. The start date."
        },
        "geminiBundle": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the license config is for Gemini bundle."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The fully qualified resource name of the license config. Format: `projects/{project}/locations/{location}/licenseConfigs/{license_config}`"
        },
        "subscriptionTerm": {
          "description": "Required. Subscription term.",
          "type": "string",
          "enum": [
            "SUBSCRIPTION_TERM_UNSPECIFIED",
            "SUBSCRIPTION_TERM_ONE_MONTH",
            "SUBSCRIPTION_TERM_ONE_YEAR",
            "SUBSCRIPTION_TERM_THREE_YEARS",
            "SUBSCRIPTION_TERM_CUSTOM"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "1 month.",
            "1 year.",
            "3 years.",
            "Custom term. Must set the end_date."
          ]
        },
        "endDate": {
          "$ref": "GoogleTypeDate",
          "description": "Optional. The planed end date."
        },
        "licenseCount": {
          "description": "Required. Number of licenses purchased.",
          "type": "string",
          "format": "int64"
        },
        "lastUserUpdateTime": {
          "description": "Optional. Timestamp of the most recent user-initiated update (seat count change or subscription term change). Unlike `update_time`, this field is only stamped when a customer explicitly updates the license (e.g. via the UI), and is not touched by system-driven writes (subscription pipeline, BALC propagation, etc.).",
          "type": "string",
          "format": "google-datetime"
        },
        "earlyTerminationDate": {
          "readOnly": true,
          "$ref": "GoogleTypeDate",
          "description": "Output only. The date when the subscription is terminated earlier than the expiration date."
        },
        "autoRenew": {
          "description": "Optional. Whether the license config should be auto renewed when it reaches the end date.",
          "type": "boolean"
        },
        "subscriptionTier": {
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
[...]
