{
  "servicePath": "",
  "version": "v1alpha",
  "basePath": "",
  "discoveryVersion": "v1",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "id": "discoveryengine:v1alpha",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf. Also view the artifacts you access through NotebookLM Enterprise."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "title": "Discovery Engine API",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigOcrParsingConfig": {
      "properties": {
        "useNativeText": {
          "type": "boolean",
          "description": "If true, will use native text instead of OCR text on pages containing native text."
        },
        "enhancedDocumentElements": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "description": "[DEPRECATED] This field is deprecated. To use the additional enhanced document elements processing, please switch to `layout_parsing_config`."
        }
      },
      "type": "object",
      "description": "The OCR parsing configurations for documents.",
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigOcrParsingConfig"
    },
    "GoogleIamV1Binding": {
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "GoogleCloudDiscoveryengineV1alphaPanelInfo": {
      "description": "Detailed panel information associated with a user event.",
      "properties": {
        "documents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentInfo"
          },
          "type": "array",
          "description": "Optional. The document IDs associated with this panel."
        },
        "totalPanels": {
          "type": "integer",
          "description": "The total number of panels, including this one, shown to the user. Must be set if panel_position is set.",
          "format": "int32"
        },
        "panelId": {
          "description": "Required. The panel ID.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the panel.",
          "type": "string"
        },
        "panelPosition": {
          "type": "integer",
          "format": "int32",
          "description": "The ordered position of the panel, if shown to the user with other panels. If set, then total_panels must also be set."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaPanelInfo",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DestinationConfig": {
      "id": "GoogleCloudDiscoveryengineV1DestinationConfig",
      "properties": {
        "destinations": {
          "description": "Optional. The destinations for the corresponding key.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DestinationConfigDestination"
          }
        },
        "key": {
          "type": "string",
          "description": "Optional. Unique destination identifier that is supported by the connector."
        },
        "params": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Additional parameters for this destination config in structured json format."
        },
        "jsonParams": {
          "description": "Additional parameters for this destination config in json string format.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Defines target endpoints used to connect to third-party sources."
    },
    "GoogleCloudDiscoveryengineV1betaWorkspaceConfig": {
      "properties": {
        "dasherCustomerId": {
          "description": "Output only. Obfuscated Dasher customer ID. Derived by the server from the project's GCP organization at data store creation time; any value supplied in the request payload is ignored.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Defaults to an unspecified Workspace type.",
            "Workspace Data Store contains Drive data",
            "Workspace Data Store contains Mail data",
            "Workspace Data Store contains Sites data",
            "Workspace Data Store contains Calendar data",
            "Workspace Data Store contains Chat data",
            "Workspace Data Store contains Groups data",
            "Workspace Data Store contains Keep data",
            "Workspace Data Store contains People data",
            "Workspace Data Store contains all Workspace apps data"
          ],
          "description": "The Google Workspace data source.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DRIVE",
            "GOOGLE_MAIL",
            "GOOGLE_SITES",
            "GOOGLE_CALENDAR",
            "GOOGLE_CHAT",
            "GOOGLE_GROUPS",
            "GOOGLE_KEEP",
            "GOOGLE_PEOPLE",
            "GOOGLE_WORKSPACE"
          ]
        },
        "superAdminEmailAddress": {
          "description": "Optional. The super admin email address for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        },
        "superAdminServiceAccount": {
          "description": "Optional. The super admin service account for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Config to store data store type configuration for workspace data",
      "id": "GoogleCloudDiscoveryengineV1betaWorkspaceConfig"
    },
    "GoogleApiDistributionBucketOptionsLinear": {
      "properties": {
        "width": {
          "type": "number",
          "description": "Must be greater than 0.",
          "format": "double"
        },
        "numFiniteBuckets": {
          "description": "Must be greater than 0.",
          "format": "int32",
          "type": "integer"
        },
        "offset": {
          "description": "Lower bound of the first bucket.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleApiDistributionBucketOptionsLinear",
      "description": "Specifies a linear sequence of buckets that all have the same width (except overflow and underflow). Each bucket represents a constant absolute uncertainty on the specific value in the bucket. There are `num_finite_buckets + 2` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 <= i < N-1): offset + (width * i). Lower bound (1 <= i < N): offset + (width * (i - 1)).",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecChunkSpec": {
      "type": "object",
      "properties": {
        "numPreviousChunks": {
          "type": "integer",
          "format": "int32",
          "description": "The number of previous chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no previous chunks will be returned."
        },
        "numNextChunks": {
          "type": "integer",
          "format": "int32",
          "description": "The number of next chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no next chunks will be returned."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecChunkSpec",
      "description": "Specifies the chunk spec to be returned from the search response. Only available if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestSpellCorrectionSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestSpellCorrectionSpec",
      "properties": {
        "mode": {
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "SUGGESTION_ONLY",
            "AUTO"
          ],
          "description": "The mode under which spell correction replaces the original search query. Defaults to Mode.AUTO.",
          "enumDescriptions": [
            "Unspecified spell correction mode. In this case, server behavior defaults to Mode.AUTO.",
            "Search API tries to find a spelling suggestion. If a suggestion is found, it is put in the SearchResponse.corrected_query. The spelling suggestion won't be used as the search query.",
            "Automatic spell correction built by the Search API. Search will be based on the corrected query if found."
          ]
        }
      },
      "description": "The specification for query spell correction.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaCheckRequirementRequest": {
      "properties": {
        "resources": {
          "description": "The resources to be checked for this requirement. The type needed for the monitored resources: * `discoveryengine.googleapis.com/Branch`. * The labels needed for this resource: * `project_number` * `location_id` * `collection_id` * `datastore_id` * `branch_id` * `discoveryengine.googleapis.com/DataStore` * The labels needed for this resource: * `project_number` * `location_id` * `collection_id` * `datastore_id`",
          "type": "array",
          "items": {
            "$ref": "GoogleApiMonitoredResource"
          }
        },
        "requirementType": {
          "description": "The type specifying the requirement to check. The supported types are: * `discoveryengine.googleapis.com/media_recs/general/all/warning` * `discoveryengine.googleapis.com/media_recs/oyml/cvr/warning` * `discoveryengine.googleapis.com/media_recs/rfy/cvr/warning` * `discoveryengine.googleapis.com/media_recs/mlt/cvr/warning` * `discoveryengine.googleapis.com/media_recs/mp/cvr/warning` * `discoveryengine.googleapis.com/media_recs/oyml/wdps/warning` * `discoveryengine.googleapis.com/media_recs/rfy/wdps/warning` * `discoveryengine.googleapis.com/media_recs/mlt/wdps/warning`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCheckRequirementRequest",
      "description": "Request for CheckRequirement method."
    },
    "GoogleCloudDiscoveryengineV1alphaRetractLicenseConfigRequest": {
      "properties": {
        "licenseConfig": {
          "type": "string",
          "description": "Required. Full resource name of LicenseConfig. Format: `projects/{project}/locations/{location}/licenseConfigs/{license_config_id}`."
        },
        "fullRetract": {
          "description": "Optional. If set to true, retract the entire license config. Otherwise, retract the specified license count.",
          "type": "boolean"
        },
        "licenseCount": {
          "type": "string",
          "description": "Optional. The number of licenses to retract. Only used when full_retract is false.",
          "format": "int64"
        }
      },
      "description": "Request message for LicenseConfigService.RetractLicenseConfig method.",
      "id": "GoogleCloudDiscoveryengineV1alphaRetractLicenseConfigRequest",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaControl": {
      "description": "Defines a conditioned behavior to employ during serving. Must be attached to a ServingConfig to be considered at serving time. Permitted actions dependent on `SolutionType`.",
      "properties": {
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCondition"
          },
          "description": "Determines when the associated action will trigger. Omit to always apply the action. Currently only a single condition may be specified. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Fully qualified name `projects/*/locations/global/dataStore/*/controls/*`"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human readable name. The identifier used in UI views. Must be UTF-8 encoded string. Length limit is 128 characters. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "redirectAction": {
          "$ref": "GoogleCloudDiscoveryengineV1betaControlRedirectAction",
          "description": "Defines a redirect-type control."
        },
        "boostAction": {
          "description": "Defines a boost-type control",
          "$ref": "GoogleCloudDiscoveryengineV1betaControlBoostAction"
        },
        "filterAction": {
          "description": "Defines a filter-type control Currently not supported by Recommendation",
          "$ref": "GoogleCloudDiscoveryengineV1betaControlFilterAction"
        },
        "synonymsAction": {
          "description": "Treats a group of terms as synonyms of one another.",
          "$ref": "GoogleCloudDiscoveryengineV1betaControlSynonymsAction"
        },
        "associatedServingConfigIds": {
          "type": "array",
          "description": "Output only. List of all ServingConfig IDs this control is attached to. May take up to 10 minutes to update after changes.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "promoteAction": {
          "$ref": "GoogleCloudDiscoveryengineV1betaControlPromoteAction",
          "description": "Promote certain links based on predefined trigger queries."
        },
        "solutionType": {
          "type": "string",
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ],
          "description": "Required. Immutable. What solution the control belongs to. Must be compatible with vertical of resource. Otherwise an INVALID ARGUMENT error is thrown.",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ]
        },
        "useCases": {
          "description": "Specifies the use case for the control. Affects what condition fields can be set. Only applies to SOLUTION_TYPE_SEARCH. Currently only allow one use case per control. Must be set when solution_type is SolutionType.SOLUTION_TYPE_SEARCH.",
          "items": {
            "enumDescriptions": [
              "Value used when unset. Will not occur in CSS.",
              "Search use case. Expects the traffic has a non-empty query.",
              "Browse use case. Expects the traffic has an empty query."
            ],
            "type": "string",
            "enum": [
              "SEARCH_USE_CASE_UNSPECIFIED",
              "SEARCH_USE_CASE_SEARCH",
              "SEARCH_USE_CASE_BROWSE"
            ]
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaControl",
      "type": "object"
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonYoutubeError": {
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonYoutubeError",
      "properties": {
        "videoDeleted": {
          "description": "Error to indicate that the source was removed because the video was deleted.",
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonYoutubeErrorVideoDeleted"
        }
      },
      "description": "A youtube specific error.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateCmekConfigMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateCmekConfigMetadata",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the CmekConfigService.UpdateCmekConfig operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigEvolutionSettingsParentSamplingConfigParetoSamplingConfig": {
      "properties": {
        "paretoSamplingProbability": {
          "type": "number",
          "format": "float",
          "description": "Optional. Probability [0.0, 1.0] of sampling parent programs from the Pareto frontier instead of normal fitness-based sampling during candidate generation. Useful when optimizing multiple metrics simultaneously. Default 0.0 (disabled). Only effective when evaluation returns multiple metrics in scores_to_optimize."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigEvolutionSettingsParentSamplingConfigParetoSamplingConfig",
      "description": "Configuration for Pareto sampling.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaEngineChatEngineMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaEngineChatEngineMetadata",
      "description": "Additional information of a Chat Engine. Fields in this message are output only.",
      "properties": {
        "dialogflowAgent": {
          "description": "The resource name of a Dialogflow agent, that this Chat Engine refers to. Format: `projects//locations//agents/`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AgentGatewaySettingAgentGatewayReference": {
      "description": "Reference to an Agent Gateway resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the agent gateway. Expected format: `projects/{project_number}/locations/{location}/agentGateways/{agent_gateway}`."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AgentGatewaySettingAgentGatewayReference",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAuthorizationServerSideOAuth2": {
      "id": "GoogleCloudDiscoveryengineV1alphaAuthorizationServerSideOAuth2",
      "properties": {
        "clientSecret": {
          "type": "string",
          "description": "Required. The OAuth2 client secret. Encrypted at rest."
        },
        "authorizationUri": {
          "type": "string",
          "description": "Required. The URI the user is directed to when they need to authorize. Should include everything required for a successful authorization: OAuth ID, extra flags, etc. Example: `https://accounts.google.com/o/oauth2/v2/auth?client_id=OAUTH_ID&scope=https://www.googleapis.com/auth/calendar.events&response_type=code&access_type=offline&prompt=consent` The `redirect_uri` parameter will be overwritten by the Vertex AI Search frontend."
        },
        "clientId": {
          "type": "string",
          "description": "Required. The OAuth2 client ID."
        },
        "pkceVerificationEnabled": {
          "type": "boolean",
          "description": "Optional. Whether to enable PKCE verification. https://datatracker.ietf.org/doc/html/rfc7636#section-3.1/"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The scopes to request. Example: `https://www.googleapis.com/auth/calendar.events` If omitted, no additional scopes are requested beyond those required by the authorization uri. If set, it will overwrite the scopes in the authorization uri when acquiring user authorization."
        },
        "tokenUri": {
          "type": "string",
          "description": "Required. The HTTP endpoint that exchanges a client authorization for an access token."
        }
      },
      "type": "object",
      "description": "OAuth2 configuration."
    },
    "GoogleCloudDiscoveryengineV1ProvisionProjectMetadata": {
      "properties": {},
      "description": "Metadata associated with a project provision operation.",
      "id": "GoogleCloudDiscoveryengineV1ProvisionProjectMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpecModelSpec": {
      "type": "object",
      "description": "Query Rephraser Model specification.",
      "properties": {
        "modelType": {
          "description": "Optional. Enabled query rephraser model type. If not set, it will use LARGE by default.",
          "enumDescriptions": [
            "Unspecified model type.",
            "Small query rephraser model. Gemini 1.0 XS model.",
            "Large query rephraser model. Gemini 1.0 Pro model."
          ],
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMALL",
            "LARGE"
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpecModelSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveEvaluationScoresAlphaEvolveEvaluationScore": {
      "properties": {
        "metric": {
          "description": "Required. Name of the metric.",
          "type": "string"
        },
        "score": {
          "type": "number",
          "format": "float",
          "description": "Required. Score of a program for this metric."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveEvaluationScoresAlphaEvolveEvaluationScore",
      "description": "Score for a single metric."
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonIngestionError": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonIngestionError",
      "description": "Indicates an error occurred while ingesting the source."
    },
    "GoogleApiDistributionBucketOptionsExponential": {
      "type": "object",
      "id": "GoogleApiDistributionBucketOptionsExponential",
      "description": "Specifies an exponential sequence of buckets that have a width that is proportional to the value of the lower bound. Each bucket represents a constant relative uncertainty on a specific value in the bucket. There are `num_finite_buckets + 2` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 <= i < N-1): scale * (growth_factor ^ i). Lower bound (1 <= i < N): scale * (growth_factor ^ (i - 1)).",
      "properties": {
        "growthFactor": {
          "format": "double",
          "type": "number",
          "description": "Must be greater than 1."
        },
        "numFiniteBuckets": {
          "type": "integer",
          "description": "Must be greater than 0.",
          "format": "int32"
        },
        "scale": {
          "description": "Must be greater than 0.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSessionConfig": {
      "description": "Configuration for the session.",
      "id": "GoogleCloudDiscoveryengineV1betaSessionConfig",
      "properties": {
        "sessionTtl": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSessionConfigSessionTtl",
          "description": "Optional. The TTL for the session. If unset, the default value is 60 days."
        },
        "sessionManagementPolicy": {
          "description": "Optional. Session management policy that defines who will manage the session.",
          "enumDescriptions": [
            "Default value.",
            "The session will be managed by the customer.",
            "Sessions multi-tenancy will be controlled by Google using 1P or 3P identity providers."
          ],
          "type": "string",
          "enum": [
            "SESSION_MANAGEMENT_POLICY_UNSPECIFIED",
            "NOT_MANAGED",
            "VERTEX_AI_MANAGED"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecChunkSpec": {
      "description": "Specifies the chunk spec to be returned from the search response. Only available if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecChunkSpec",
      "type": "object",
      "properties": {
        "numNextChunks": {
          "type": "integer",
          "format": "int32",
          "description": "The number of next chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no next chunks will be returned."
        },
        "numPreviousChunks": {
          "type": "integer",
          "format": "int32",
          "description": "The number of previous chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no previous chunks will be returned."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ActionConfig": {
      "properties": {
        "createBapConnection": {
          "type": "boolean",
          "description": "Optional. Whether to create a BAP connection for the connector."
        },
        "useStaticSecrets": {
          "description": "Optional. Whether to use static secrets for the connector. If true, the secrets provided in the action_params will be ignored.",
          "type": "boolean"
        },
        "isActionConfigured": {
          "type": "boolean",
          "description": "Output only. The connector contains the necessary parameters and is configured to support actions.",
          "readOnly": true
        },
        "jsonActionParams": {
          "description": "Optional. Action parameters in json string format.",
          "type": "string"
        },
        "actionParams": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Action parameters in structured json format."
        },
        "serviceName": {
          "type": "string",
          "description": "Optional. The Service Directory resource name (projects/*/locations/*/namespaces/*/services/*) representing a VPC network endpoint used to connect to the data source's `instance_uri`, defined in DataConnector.params. Required when VPC Service Controls are enabled."
        },
        "userDefinedScopesMapping": {
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1ActionConfigScopeList"
          },
          "type": "object",
          "description": "Optional. Mapping from operation name to the list of scopes. Only be populated if there are user specified scopes."
        }
      },
      "type": "object",
      "description": "Informations to support actions on the connector.",
      "id": "GoogleCloudDiscoveryengineV1ActionConfig"
    },
    "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReason": {
      "description": "Site search indexing failure reasons.",
      "properties": {
        "quotaFailure": {
          "description": "Failed due to insufficient quota.",
          "$ref": "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReasonQuotaFailure"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReason"
    },
    "GoogleCloudDiscoveryengineV1alphaSetUpDataConnectorMetadata": {
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1alphaSetUpDataConnectorMetadata",
      "type": "object",
      "description": "Metadata for DataConnectorService.SetUpDataConnector method."
    },
    "GoogleCloudDiscoveryengineV1alphaRequirementThresholdBinding": {
      "id": "GoogleCloudDiscoveryengineV1alphaRequirementThresholdBinding",
      "properties": {
        "variableId": {
          "type": "string",
          "description": "The variable id to be referenced in `condition`. Must be unique across all `metric_bindings` and `threshold_bindings`."
        },
        "thresholdValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRequirementThresholdBindingThresholdValue"
          },
          "description": "The values of the threshold. The values should be ordered from the most strict to the least strict."
        },
        "description": {
          "description": "Human readable description of the corresponding threshold and sub-requirement.",
          "type": "string"
        }
      },
      "description": "Specifies a multi-level threshold to apply to apply to a `metric_bindings` in the `condition` CEL expression.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesMetadata",
      "description": "Metadata related to the progress of the UserLicenseService.BatchUpdateUserLicenses operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "failureCount": {
          "type": "string",
          "description": "Count of user licenses that failed to be updated.",
          "format": "int64"
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "successCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of user licenses successfully updated."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterOrExpression": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterOrExpression",
      "description": "Logical `Or` operator.",
      "properties": {
        "expressions": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpression"
          },
          "type": "array",
          "description": "The expressions that were ORed together."
        }
      }
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonUnknown": {
      "type": "object",
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonUnknown",
      "description": "Indicates an unknown error occurred.",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1betaNaturalLanguageQueryUnderstandingConfig": {
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Default value.",
            "Natural Language Query Understanding is disabled.",
            "Natural Language Query Understanding is enabled."
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Mode of Natural Language Query Understanding. If this field is unset, the behavior defaults to NaturalLanguageQueryUnderstandingConfig.Mode.DISABLED."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaNaturalLanguageQueryUnderstandingConfig",
      "type": "object",
      "description": "Configuration for Natural Language Query Understanding."
    },
    "GoogleCloudDiscoveryengineV1alphaImportIdentityMappingsResponse": {
      "type": "object",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaImportIdentityMappingsResponse",
      "description": "Response message for IdentityMappingStoreService.ImportIdentityMappings"
    },
    "GoogleCloudDiscoveryengineV1alphaCannedQuery": {
      "description": "Canned query resource of Assistant. It represents a short-cut to a predefined conversation start.",
      "id": "GoogleCloudDiscoveryengineV1alphaCannedQuery",
      "properties": {
        "displayName": {
          "description": "The display name of the canned query. It must be a UTF-8 encoded string with a length limit of 128 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Resource name of the canned query. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}/cannedQueries/{canned_query}` It must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "googleDefined": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this is a Google-defined, read-only canned query."
        },
        "defaultTexts": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCannedQueryCannedQueryTexts",
          "description": "Required. The default (non-localized) values for the text attributes."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this canned query is enabled."
        },
        "localizedTexts": {
          "description": "Optional. The translations of the text attributes. The keys should be BCP-47 language codes.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCannedQueryCannedQueryTexts"
          }
        },
        "requiredCapabilities": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCannedQueryAssistantCapability"
          },
          "description": "Optional. The capabilities the Assistant needs to have to use this canned query.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DisableAdvancedSiteSearchMetadata": {
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.DisableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1DisableAdvancedSiteSearchMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaCheckGroundingResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaCheckGroundingResponse",
      "description": "Response message for the GroundedGenerationService.CheckGrounding method.",
      "properties": {
        "citedFacts": {
          "description": "List of facts cited across all claims in the answer candidate. These are derived from the facts supplied in the request.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCheckGroundingResponseCheckGroundingFactChunk"
          },
          "type": "array"
        },
        "citedChunks": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaFactChunk"
          },
          "description": "List of facts cited across all claims in the answer candidate. These are derived from the facts supplied in the request.",
          "type": "array"
        },
        "supportScore": {
          "type": "number",
          "format": "float",
          "description": "The support score for the input answer candidate. Higher the score, higher is the fraction of claims that are supported by the provided facts. This is always set when a response is returned."
        },
        "claims": {
          "description": "Claim texts and citation info across all claims in the answer candidate.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCheckGroundingResponseClaim"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteUserStoreMetadata": {
      "description": "Metadata related to the progress of the UserStoreService.DeleteUserStore operation. This will be returned by the google.longrunning.Operation.metadata field. Delete UserStore will delete all the end users under the user store, return the number of end users successfully deleted or failed to delete in the metadata.",
      "properties": {
        "failureCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of end users under the user store that failed to be deleted."
        },
        "successCount": {
          "type": "string",
          "description": "The number of end users under the user store that were successfully deleted.",
          "format": "int64"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteUserStoreMetadata",
      "type": "object"
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonDomainBlocked": {
      "properties": {},
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonDomainBlocked",
      "description": "Error to indicate that the source was removed because the domain was blocked.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitationSource": {
      "description": "Citation source.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitationSource",
      "type": "object",
      "properties": {
        "referenceIndex": {
          "type": "string",
          "format": "int64",
          "description": "Document reference index from SummaryWithMetadata.references. It is 0-indexed and the value will be zero if the reference_index is not set explicitly."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfigAssistantSettings": {
      "properties": {
        "disableLocationContext": {
          "readOnly": true,
          "description": "Optional. Output only. Whether to disable user location context.",
          "type": "boolean"
        },
        "defaultWebGroundingToggleOff": {
          "type": "boolean",
          "description": "Output only. This field controls the default web grounding toggle for end users if `web_grounding_type` is set to `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`. By default, this field is set to false. If `web_grounding_type` is `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`, end users will have web grounding enabled by default on UI. If true, grounding toggle will be disabled by default on UI. End users can still enable web grounding in the UI if web grounding is enabled.",
          "readOnly": true
        },
        "webGroundingType": {
          "type": "string",
          "enum": [
            "WEB_GROUNDING_TYPE_UNSPECIFIED",
            "WEB_GROUNDING_TYPE_DISABLED",
            "WEB_GROUNDING_TYPE_GOOGLE_SEARCH",
            "WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH"
          ],
          "enumDescriptions": [
            "Default, unspecified setting. This is the same as disabled.",
            "Web grounding is disabled.",
            "Grounding with Google Search is enabled.",
            "Grounding with Enterprise Web Search is enabled."
          ],
          "description": "Optional. The type of web grounding to use."
        },
        "googleSearchGroundingEnabled": {
          "deprecated": true,
          "type": "boolean",
          "description": "Whether or not the Google search grounding toggle is shown. Deprecated. Use web_grounding_type instead."
        }
      },
      "type": "object",
      "description": "Describes the assistant settings of the widget.",
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfigAssistantSettings"
    },
    "GoogleCloudDiscoveryengineV1alphaRefreshTokenInfo": {
      "type": "object",
      "description": "Describes a refresh token.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The connection for which this token applies."
        },
        "scopes": {
          "type": "array",
          "description": "The list of scopes for this token.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaRefreshTokenInfo"
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeUserEventsResponse": {
      "description": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "properties": {
        "purgeCount": {
          "type": "string",
          "description": "The total count of events purged as a result of the operation.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeUserEventsResponse"
    },
    "GoogleCloudNotebooklmV1alphaSourceId": {
      "id": "GoogleCloudNotebooklmV1alphaSourceId",
      "description": "SourceId is the last segment of the source's resource name.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The id of the source."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSampleQuery": {
      "description": "Sample Query captures metadata to be used for evaluation.",
      "properties": {
        "queryEntry": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSampleQueryQueryEntry",
          "description": "The query entry."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp the SampleQuery was created at.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The full resource name of the sample query, in the format of `projects/{project}/locations/{location}/sampleQuerySets/{sample_query_set}/sampleQueries/{sample_query}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSampleQuery",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAgentSharingConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAgentSharingConfig",
      "description": "Sharing related configuration.",
      "properties": {
        "scope": {
          "description": "Optional. The sharing scope of the agent.",
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "RESTRICTED",
            "ALL_USERS"
          ],
          "enumDescriptions": [
            "Default value. Behaves as `RESTRICTED`.",
            "The agent is shared based on the IAM policy.",
            "The agent is shared with all users."
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfigUiSettingsModelConfigInfoResolvedModel": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Output only. Localized display name of the model (e.g. `Gemini 3.1 Pro`). Localized server-side based on the LookupWidgetConfigRequest.language_code and LookupWidgetConfigRequest.region_code of the request.",
          "readOnly": true
        },
        "iconUrl": {
          "type": "string",
          "description": "Output only. Absolute URL of a brand mark to render instead of `icon`, for models whose vendor logo is not a GM3 glyph. `icon` stays populated as the fallback, so a client that does not render images, or that fails to fetch this one, shows the glyph instead of nothing.",
          "readOnly": true
        },
        "icon": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. GM3-compatible icon token associated with the model (e.g. `rocket_launch`, `bolt`, `graph_5`)."
        },
        "adminView": {
          "readOnly": true,
          "description": "Output only. Admin-surface metadata; populated only for the Console admin Feature Control page (see `AdminView`). Unset for end-user surfaces.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigUiSettingsModelConfigInfoResolvedModelAdminView"
        },
        "description": {
          "type": "string",
          "description": "Output only. Localized description text (e.g. `State-of-the-art reasoning`). Localized using the same locale as `display_name`.",
          "readOnly": true
        },
        "isPreview": {
          "readOnly": true,
          "description": "Output only. Whether the model is currently in preview. Clients should surface this via a \"Preview\" badge in the selector UI.",
          "type": "boolean"
        },
        "promoted": {
          "type": "boolean",
          "description": "Output only. Whether this model should be promoted in the GE chat homepage banner.",
          "readOnly": true
        },
        "label": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Short label shown in the compact selector bar chip (e.g. `3.x Flash`) as opposed to the full `display_name` (`Gemini 3.x Flash`). Falls back to `display_name` when the backend registry does not specify a distinct short label."
        },
        "modelId": {
          "type": "string",
          "description": "Output only. Unique identifier of the model (e.g. `gemini-2.5-flash`, `gemini-3.1-pro-preview`). This is the same identifier that clients pass back to the assistant service to select this model. Virtual / \"pseudo\" models (e.g. `gemini-fast`) are also valid values here; they are resolved to the underlying concrete model on the backend.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A single model that is resolved to be available to the end-user in the model selector, with all of its localized display metadata.",
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfigUiSettingsModelConfigInfoResolvedModel"
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnectorEndUserConfig": {
      "description": "Any params and credentials used specifically for EUA connectors.",
      "properties": {
        "jsonAuthParams": {
          "type": "string",
          "description": "Optional. Any authentication parameters specific to EUA connectors in json string format."
        },
        "tenant": {
          "description": "Optional. The tenant project the connector is connected to.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaTenant"
        },
        "additionalParams": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Any additional parameters needed for EUA."
        },
        "authParams": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Any authentication parameters specific to EUA connectors.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnectorEndUserConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponse": {
      "type": "object",
      "description": "Response message for SearchService.Search method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as SearchRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "totalSize": {
          "type": "integer",
          "description": "The estimated total count of matched items irrespective of pagination. The count of results returned by pagination may be less than the total_size that matches.",
          "format": "int32"
        },
        "facets": {
          "description": "Results of facets requested by user.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseFacet"
          },
          "type": "array"
        },
        "summary": {
          "description": "A summary as part of the search results. This field is only returned if SearchRequest.ContentSearchSpec.summary_spec is set.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummary"
        },
        "geoSearchDebugInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseGeoSearchDebugInfo"
          }
        },
        "queryExpansionInfo": {
          "description": "Query expansion information for the returned results.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseQueryExpansionInfo"
        },
        "redirectUri": {
          "description": "The URI of a customer-defined redirect page. If redirect action is triggered, no search is performed, and only redirect_uri and attribution_token are set in the response.",
          "type": "string"
        },
        "sessionInfo": {
          "description": "Session information. Only set if SearchRequest.session is provided. See its description for more details.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSessionInfo"
        },
        "suggestedQuery": {
          "description": "Corrected query with low confidence, AKA did you mean query. Compared with corrected_query, this field is set when SpellCorrector returned a response, but FPR(full page replacement) is not triggered because the corrction is of low confidence(eg, reversed because there are matches of the original query in document corpus).",
          "type": "string"
        },
        "results": {
          "description": "A list of matched documents. The order represents the ranking.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSearchResult"
          },
          "type": "array"
        },
        "attributionToken": {
          "description": "A unique search token. This should be included in the UserEvent logs resulting from this search, which enables accurate attribution of search model performance. This also helps to identify a request during the customer support scenarios.",
          "type": "string"
        },
        "oneBoxResults": {
          "description": "A list of One Box results. There can be multiple One Box results of different types.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseOneBoxResult"
          },
          "type": "array"
        },
        "correctedQuery": {
          "description": "Contains the spell corrected query, if found. If the spell correction type is AUTOMATIC, then the search results are based on corrected_query. Otherwise the original query is used for search.",
          "type": "string"
        },
        "guidedSearchResult": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseGuidedSearchResult",
          "description": "Guided search result."
        },
        "naturalLanguageQueryUnderstandingInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfo",
          "readOnly": true,
          "description": "Output only. Natural language query understanding information for the returned results."
        },
        "semanticState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "SEMANTIC_STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "Semantic search was disabled for this search response.",
            "Semantic search was enabled for this search response."
          ],
          "description": "Output only. Indicates the semantic state of the search response."
        },
        "searchLinkPromotions": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchLinkPromotion"
          },
          "description": "Promotions for site search.",
          "type": "array"
        },
        "appliedControls": {
          "type": "array",
          "description": "Optional. Controls applied as part of the Control service.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponse"
    },
    "GoogleCloudDiscoveryengineV1ImportDocumentsResponse": {
      "type": "object",
      "properties": {
        "errorConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig"
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        }
      },
      "description": "Response of the ImportDocumentsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudDiscoveryengineV1ImportDocumentsResponse"
    },
    "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesResponse": {
      "properties": {
        "userLicenses": {
          "type": "array",
          "description": "UserLicenses successfully updated.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaUserLicense"
          }
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        }
      },
      "description": "Response message for UserLicenseService.BatchUpdateUserLicenses method.",
      "id": "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaListEvaluationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListEvaluationsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "evaluations": {
          "type": "array",
          "description": "The Evaluations.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaEvaluation"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaListEvaluationsResponse",
      "type": "object",
      "description": "Response message for EvaluationService.ListEvaluations method."
    },
    "GoogleCloudDiscoveryengineV1alphaWorkspaceSettings": {
      "description": "Workspace settings for the end user.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaWorkspaceSettings",
      "properties": {
        "workspaceAccessEnabled": {
          "type": "boolean",
          "description": "Whether an end user has workspace access enabled."
        },
        "customerDomainValid": {
          "type": "boolean",
          "description": "Whether the calling user's customer domain matches the workspace data stores under this engine."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveEvaluationInsightsAlphaEvolveEvaluationInsight": {
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveEvaluationInsightsAlphaEvolveEvaluationInsight",
      "description": "A single evaluation insight.",
      "type": "object",
      "properties": {
        "label": {
          "type": "string",
          "description": "Optional. Label of the insight."
        },
        "text": {
          "type": "string",
          "description": "Optional. Text of the insight."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpec": {
      "properties": {
        "includeCitations": {
          "description": "Specifies whether to include citations in the summary. The default value is `false`. When this field is set to `true`, summaries include in-line citation numbers. Example summary including citations: BigQuery is Google Cloud's fully managed and completely serverless enterprise data warehouse [1]. BigQuery supports all data types, works across clouds, and has built-in machine learning and business intelligence, all within a unified platform [2, 3]. The citation numbers refer to the returned search results and are 1-indexed. For example, [1] means that the sentence is attributed to the first search result. [2, 3] means that the sentence is attributed to both the second and third search results.",
          "type": "boolean"
        },
        "modelPromptSpec": {
          "description": "If specified, the spec will be used to modify the prompt provided to the LLM.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelPromptSpec"
        },
        "useSemanticChunks": {
          "description": "If true, answer will be generated from most relevant chunks from top search results. This feature will improve summary quality. Note that with this feature enabled, not all top search results will be referenced and included in the reference list, so the citation source index only points to the search results listed in the reference list.",
          "type": "boolean"
        },
        "ignoreAdversarialQuery": {
          "description": "Specifies whether to filter out adversarial queries. The default value is `false`. Google employs search-query classification to detect adversarial queries. No summary is returned if the search query is classified as an adversarial query. For example, a user might ask a question regarding negative comments about the company or submit a query designed to generate unsafe, policy-violating output. If this field is set to `true`, we skip generating summaries for adversarial queries and return fallback messages instead.",
          "type": "boolean"
        },
        "ignoreLowRelevantContent": {
          "type": "boolean",
          "description": "Specifies whether to filter out queries that have low relevance. The default value is `false`. If this field is set to `false`, all search results are used regardless of relevance to generate answers. If set to `true`, only queries with high relevance search results will generate answers."
        },
        "languageCode": {
          "type": "string",
          "description": "Language code for Summary. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Note: This is an experimental feature."
        },
        "multimodalSpec": {
          "description": "Optional. Multimodal specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecMultiModalSpec"
        },
        "ignoreJailBreakingQuery": {
          "description": "Optional. Specifies whether to filter out jail-breaking queries. The default value is `false`. Google employs search-query classification to detect jail-breaking queries. No summary is returned if the search query is classified as a jail-breaking query. A user might add instructions to the query to change the tone, style, language, content of the answer, or ask the model to act as a different entity, e.g. \"Reply in the tone of a competing company's CEO\". If this field is set to `true`, we skip generating summaries for jail-breaking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "summaryResultCount": {
          "description": "The number of top results to generate the summary from. If the number of results returned is less than `summaryResultCount`, the summary is generated from all of the results. At most 10 results for documents mode, or 50 for chunks mode, can be used to generate a summary. The chunks mode is used when SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS.",
          "type": "integer",
          "format": "int32"
        },
        "modelSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelSpec",
          "description": "If specified, the spec will be used to modify the model specification provided to the LLM."
        },
        "ignoreNonSummarySeekingQuery": {
          "type": "boolean",
          "description": "Specifies whether to filter out queries that are not summary-seeking. The default value is `false`. Google employs search-query classification to detect summary-seeking queries. No summary is returned if the search query is classified as a non-summary seeking query. For example, `why is the sky blue` and `Who is the best soccer player in the world?` are summary-seeking queries, but `SFO airport` and `world cup 2026` are not. They are most likely navigational queries. If this field is set to `true`, we skip generating summaries for non-summary seeking queries and return fallback messages instead."
        }
      },
      "description": "A specification for configuring a summary returned in a search response.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryResponseQuerySuggestion": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryResponseQuerySuggestion",
      "properties": {
        "completableFieldPaths": {
          "items": {
            "type": "string"
          },
          "description": "The unique document field paths that serve as the source of this suggestion if it was generated from completable fields. This field is only populated for the document-completable model.",
          "type": "array"
        },
        "suggestion": {
          "type": "string",
          "description": "The suggestion for the query."
        },
        "dataStore": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The name of the dataStore that this suggestion belongs to."
        },
        "score": {
          "format": "double",
          "type": "number",
          "description": "The score of each suggestion. The score is in the range of [0, 1]."
        }
      },
      "description": "Suggestions as search queries."
    },
    "GoogleCloudDiscoveryengineV1alphaSetDedicatedCrawlRateResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaSetDedicatedCrawlRateResponse",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Errors from service when handling the request."
        },
        "state": {
          "description": "Output only. The state of the response.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ]
        }
      },
      "description": "Response message for CrawlRateManagementService.SetDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED."
    },
    "GoogleApiDistributionBucketOptionsExplicit": {
      "description": "Specifies a set of buckets with arbitrary widths. There are `size(bounds) + 1` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 <= i < N-1): bounds[i] Lower bound (1 <= i < N); bounds[i - 1] The `bounds` field must contain at least one element. If `bounds` has only one element, then there are no finite buckets, and that single element is the common boundary of the overflow and underflow buckets.",
      "properties": {
        "bounds": {
          "description": "The values must be monotonically increasing.",
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      },
      "type": "object",
      "id": "GoogleApiDistributionBucketOptionsExplicit"
    },
    "GoogleCloudDiscoveryengineV1alphaQueryPartPersonReference": {
      "id": "GoogleCloudDiscoveryengineV1alphaQueryPartPersonReference",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the person."
        },
        "destinationUri": {
          "description": "The destination uri of the person.",
          "type": "string"
        },
        "fileId": {
          "type": "string",
          "description": "Output only. The file id of the person data stored in the session context files.",
          "readOnly": true
        },
        "documentName": {
          "description": "The full resource name of the person. Format: `projects/*/locations/*/collections/*/dataStores/*/branches/*/documents/*`.",
          "type": "string"
        },
        "displayPhotoUri": {
          "description": "The display photo url of the person.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the person."
        },
        "personId": {
          "type": "string",
          "description": "The person id of the person."
        }
      },
      "description": "Represents a person reference.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ServingConfig": {
      "description": "Configures metadata that is used to generate serving time results (e.g. search results or recommendation predictions). The ServingConfig is passed in the search and predict request and generates results.",
      "id": "GoogleCloudDiscoveryengineV1ServingConfig",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. The human readable serving config display name. Used in Discovery UI. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "genericConfig": {
          "description": "The GenericConfig of the serving configuration.",
          "$ref": "GoogleCloudDiscoveryengineV1ServingConfigGenericConfig"
        },
        "dissociateControlIds": {
          "items": {
            "type": "string"
          },
          "description": "Condition do not associate specifications. If multiple do not associate conditions match, all matching do not associate controls in the list will execute. Order does not matter. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH.",
          "type": "array"
        },
        "solutionType": {
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "description": "Required. Immutable. Specifies the solution type that a serving config can be associated with.",
          "type": "string",
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. ServingConfig updated timestamp.",
          "readOnly": true,
          "type": "string"
        },
        "mediaConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ServingConfigMediaConfig",
          "description": "The MediaConfig of the serving configuration."
        },
        "answerGenerationSpec": {
          "description": "Optional. The specification for answer generation.",
          "$ref": "GoogleCloudDiscoveryengineV1AnswerGenerationSpec"
        },
        "filterControlIds": {
          "items": {
            "type": "string"
          },
          "description": "Filter controls to use in serving path. All triggered filter controls will be applied. Filter controls must be in the same data store as the serving config. Maximum of 20 filter controls.",
          "type": "array"
        },
        "boostControlIds": {
          "description": "Boost controls to use in serving path. All triggered boost controls will be applied. Boost controls must be in the same data store as the serving config. Maximum of 20 boost controls.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "redirectControlIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs of the redirect controls. Only the first triggered redirect action is applied, even if multiple apply. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH."
        },
        "synonymsControlIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Condition synonyms specifications. If multiple synonyms conditions match, all matching synonyms controls in the list will execute. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH."
        },
        "onewaySynonymsControlIds": {
          "description": "Condition oneway synonyms specifications. If multiple oneway synonyms conditions match, all matching oneway synonyms controls in the list will execute. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "replacementControlIds": {
          "type": "array",
          "description": "Condition replacement specifications. Applied according to the order in the list. A previously replaced term can not be re-replaced. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH.",
          "items": {
            "type": "string"
          }
        },
        "ignoreControlIds": {
          "type": "array",
          "description": "Condition ignore specifications. If multiple ignore conditions match, all matching ignore controls in the list will execute. Order does not matter. Maximum number of specifications is 100.",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. ServingConfig created timestamp."
        },
        "modelId": {
          "description": "The id of the model to use at serving time. Currently only RecommendationModels are supported. Can be changed but only to a compatible model (e.g. others-you-may-like CTR to others-you-may-like CVR). Required when SolutionType is SOLUTION_TYPE_RECOMMENDATION.",
          "type": "string"
        },
        "rankingExpression": {
          "type": "string",
          "description": "The ranking expression controls the customized ranking on retrieval documents. To leverage this, document embedding is required. The ranking expression setting in ServingConfig applies to all search requests served by the serving config. However, if `SearchRequest.ranking_expression` is specified, it overrides the ServingConfig ranking expression. The ranking expression is a single function or multiple functions that are joined by \"+\". * ranking_expression = function, { \" + \", function }; Supported functions: * double * relevance_score * double * dotProduct(embedding_field_path) Function variables: * `relevance_score`: pre-defined keywords, used for measure relevance between query and document. * `embedding_field_path`: the document embedding field used with query embedding vector. * `dotProduct`: embedding function between embedding_field_path and query embedding vector. Example ranking expression: If document has an embedding field doc_embedding, the ranking expression could be `0.5 * relevance_score + 0.3 * dotProduct(doc_embedding)`."
        },
        "diversityLevel": {
          "type": "string",
          "description": "How much diversity to use in recommendation model results e.g. `medium-diversity` or `high-diversity`. Currently supported values: * `no-diversity` * `low-diversity` * `medium-diversity` * `high-diversity` * `auto-diversity` If not specified, we choose default based on recommendation model type. Default value: `no-diversity`. Can only be set if SolutionType is SOLUTION_TYPE_RECOMMENDATION."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Fully qualified name `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}/servingConfigs/{serving_config_id}`"
        },
        "promoteControlIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Condition promote specifications. Maximum number of specifications is 100."
        }
      }
    },
    "GoogleTypeTimeZone": {
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "id": "GoogleTypeTimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object"
    },
    "GoogleCloudNotebooklmV1alphaBatchCreateSourcesRequest": {
      "description": "Request for SourceService.BatchCreateSources method.",
      "properties": {
        "userContents": {
          "type": "array",
          "description": "Required. The UserContents to be uploaded.",
          "items": {
            "$ref": "GoogleCloudNotebooklmV1alphaUserContent"
          }
        }
      },
      "id": "GoogleCloudNotebooklmV1alphaBatchCreateSourcesRequest",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DataStoreBillingEstimation": {
      "id": "GoogleCloudDiscoveryengineV1DataStoreBillingEstimation",
      "description": "Estimation of data size per data store.",
      "type": "object",
      "properties": {
        "structuredDataUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last updated timestamp for structured data."
        },
        "unstructuredDataUpdateTime": {
          "description": "Last updated timestamp for unstructured data.",
          "format": "google-datetime",
          "type": "string"
        },
        "structuredDataSize": {
          "description": "Data size for structured data in terms of bytes.",
          "type": "string",
          "format": "int64"
        },
        "unstructuredDataSize": {
          "description": "Data size for unstructured data in terms of bytes.",
          "type": "string",
          "format": "int64"
        },
        "websiteDataUpdateTime": {
          "format": "google-datetime",
          "description": "Last updated timestamp for websites.",
          "type": "string"
        },
        "websiteDataSize": {
          "description": "Data size for websites in terms of bytes.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaFetchSitemapsResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaFetchSitemapsResponse",
      "description": "Response message for SiteSearchEngineService.FetchSitemaps method.",
      "properties": {
        "sitemapsMetadata": {
          "description": "List of Sitemaps fetched.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaFetchSitemapsResponseSitemapMetadata"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfig": {
      "type": "object",
      "properties": {
        "optimizationObjectiveConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigOptimizationObjectiveConfig",
          "description": "Name and value of the custom threshold for cvr optimization_objective. For target_field `watch-time`, target_field_value must be an integer value indicating the media progress time in seconds between (0, 86400] (excludes 0, includes 86400) (e.g., 90). For target_field `watch-percentage`, the target_field_value must be a valid float value between (0, 1.0] (excludes 0, includes 1.0) (e.g., 0.5)."
        },
        "engineFeaturesConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigEngineFeaturesConfig",
          "description": "Optional. Additional engine features config."
        },
        "optimizationObjective": {
          "description": "The optimization objective. e.g., `cvr`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `ctr`, `cvr`. If not specified, we choose default based on engine type. Default depends on type of recommendation: `recommended-for-you` => `ctr` `others-you-may-like` => `ctr`",
          "type": "string"
        },
        "trainingState": {
          "enumDescriptions": [
            "Unspecified training state.",
            "The engine training is paused.",
            "The engine is training."
          ],
          "type": "string",
          "enum": [
            "TRAINING_STATE_UNSPECIFIED",
            "PAUSED",
            "TRAINING"
          ],
          "description": "The training state that the engine is in (e.g. `TRAINING` or `PAUSED`). Since part of the cost of running the service is frequency of training - this can be used to determine when to train engine in order to control cost. If not specified: the default value for `CreateEngine` method is `TRAINING`. The default value for `UpdateEngine` method is to keep the state the same as before."
        },
        "type": {
          "description": "Required. The type of engine. e.g., `recommended-for-you`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `recommended-for-you`, `others-you-may-like`, `more-like-this`, `most-popular-items`.",
          "type": "string"
        }
      },
      "description": "Additional config specs for a Media Recommendation engine.",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesResponse": {
      "description": "Response of the SampleQueryService.ImportSampleQueries method. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful.",
      "id": "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesResponse",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantContentCodeExecutionResult": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantContentCodeExecutionResult",
      "type": "object",
      "properties": {
        "outcome": {
          "description": "Required. Outcome of the code execution.",
          "enumDescriptions": [
            "Unspecified status. This value should not be used.",
            "Code execution completed successfully.",
            "Code execution finished but with a failure. `stderr` should contain the reason.",
            "Code execution ran for too long, and was cancelled. There may or may not be a partial output present."
          ],
          "type": "string",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "OUTCOME_OK",
            "OUTCOME_FAILED",
            "OUTCOME_DEADLINE_EXCEEDED"
          ]
        },
        "output": {
          "type": "string",
          "description": "Optional. Contains stdout when code execution is successful, stderr or other description otherwise."
        }
      },
      "description": "Result of executing ExecutableCode."
    },
    "GoogleCloudDiscoveryengineV1alphaControlBoostActionInterpolationBoostSpecControlPoint": {
      "id": "GoogleCloudDiscoveryengineV1alphaControlBoostActionInterpolationBoostSpecControlPoint",
      "type": "object",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "properties": {
        "boostAmount": {
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "type": "number",
          "format": "float"
        },
        "attributeValue": {
          "type": "string",
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfig",
      "description": "Configuration for NotebookLM.",
      "properties": {
        "dataProtectionPolicy": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy",
          "description": "Optional. Specifies the data protection policy for NotebookLM."
        },
        "modelArmorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig",
          "description": "Model Armor configuration to be used for sanitizing user prompts and LLM responses."
        },
        "optOutNotebookSharing": {
          "description": "Optional. Whether to disable the notebook sharing feature for the project. Default to false if not specified.",
          "type": "boolean"
        },
        "observabilityConfig": {
          "description": "Optional. Observability config for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaObservabilityConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaIdentityMappingEntryOperationMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaIdentityMappingEntryOperationMetadata",
      "type": "object",
      "description": "IdentityMappingEntry LongRunningOperation metadata for IdentityMappingStoreService.ImportIdentityMappings and IdentityMappingStoreService.PurgeIdentityMappings",
      "properties": {
        "failureCount": {
          "type": "string",
          "description": "The number of IdentityMappingEntries that failed to be processed.",
          "format": "int64"
        },
        "successCount": {
          "format": "int64",
          "description": "The number of IdentityMappingEntries that were successfully processed.",
          "type": "string"
        },
        "totalCount": {
          "format": "int64",
          "type": "string",
          "description": "The total number of IdentityMappingEntries that were processed."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCreateEngineMetadata": {
      "description": "Metadata related to the progress of the EngineService.CreateEngine operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaCreateEngineMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaRankResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaRankResponse",
      "description": "Response message for RankService.Rank method.",
      "properties": {
        "records": {
          "type": "array",
          "description": "A list of records sorted by descending score.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRankingRecord"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryResponseRecentSearchSuggestion": {
      "id": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryResponseRecentSearchSuggestion",
      "description": "Suggestions from recent search history.",
      "properties": {
        "score": {
          "format": "double",
          "description": "The score of each suggestion. The score is in the range of [0, 1].",
          "type": "number"
        },
        "recentSearchTime": {
          "description": "The time when this recent rearch happened.",
          "type": "string",
          "format": "google-datetime"
        },
        "suggestion": {
          "type": "string",
          "description": "The suggestion for the query."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSingleRegionKey": {
      "type": "object",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Required. Single-regional kms key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSingleRegionKey",
      "description": "Metadata for single-regional CMEKs."
    },
    "GoogleCloudNotebooklmV1alphaBatchDeleteNotebooksRequest": {
      "properties": {
        "names": {
          "type": "array",
          "description": "Required. Full resource names of Notebook, such as `projects/{project}/locations/{location}/notebooks/{notebook_id}`.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudNotebooklmV1alphaBatchDeleteNotebooksRequest",
      "description": "Request for NotebookService.BatchDeleteNotebooks method."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "type": "object",
      "properties": {
        "attributeValue": {
          "description": "Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`.",
          "type": "string"
        },
        "boostAmount": {
          "type": "number",
          "format": "float",
          "description": "The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable)."
    },
    "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "description": "Metadata related to the progress of the CrawlRateManagementService.SetDedicatedCrawlRate operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchResponse": {
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchResponse",
      "type": "object",
      "description": "Response message for SiteSearchEngineService.EnableAdvancedSiteSearch method."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec",
      "description": "Specifies features for display, like match highlighting.",
      "type": "object",
      "properties": {
        "matchHighlightingCondition": {
          "type": "string",
          "enum": [
            "MATCH_HIGHLIGHTING_CONDITION_UNSPECIFIED",
            "MATCH_HIGHLIGHTING_DISABLED",
            "MATCH_HIGHLIGHTING_ENABLED"
          ],
          "description": "The condition under which match highlighting should occur.",
          "enumDescriptions": [
            "Server behavior is the same as `MATCH_HIGHLIGHTING_DISABLED`.",
            "Disables match highlighting on all documents.",
            "Enables match highlighting on all documents."
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaRankRequest": {
      "type": "object",
      "properties": {
        "query": {
          "description": "The query to use.",
          "type": "string"
        },
        "ignoreRecordDetailsInResponse": {
          "type": "boolean",
          "description": "If true, the response will contain only record ID and score. By default, it is false, the response will contain record details."
        },
        "records": {
          "type": "array",
          "description": "Required. A list of records to rank.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRankingRecord"
          }
        },
        "userLabels": {
[...]
