{
  "canonicalName": "Discovery Engine",
  "title": "Discovery Engine API",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "ownerName": "Google",
  "basePath": "",
  "description": "Discovery Engine API.",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf. Also view the artifacts you access through NotebookLM Enterprise."
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "revision": "20260823",
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaSitemap": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Public URI for the sitemap, e.g. `www.example.com/sitemap.xml`."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The sitemap's creation time.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The fully qualified resource name of the sitemap. `projects/*/locations/*/collections/*/dataStores/*/siteSearchEngine/sitemaps/*` The `sitemap_id` suffix is system-generated.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSitemap",
      "description": "A sitemap for the SiteSearchEngine."
    },
    "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the PurgeSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfo": {
      "description": "Information describing what natural language understanding was done on the input query.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfo",
      "properties": {
        "extractedFilters": {
          "description": "The filters that were extracted from the input query.",
          "type": "string"
        },
        "structuredExtractedFilter": {
          "description": "The filters that were extracted from the input query represented in a structured form.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilter"
        },
        "rewrittenQuery": {
          "description": "Rewritten input query minus the extracted filters.",
          "type": "string"
        },
        "classifiedIntents": {
          "description": "The classified intents from the input query.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaBatchCreateTargetSiteMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.BatchCreateTargetSites operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaBatchCreateTargetSiteMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecChunkSpec": {
      "description": "Specifies the chunk spec to be returned from the search response. Only available if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecChunkSpec",
      "properties": {
        "numPreviousChunks": {
          "description": "The number of previous chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no previous chunks will be returned.",
          "format": "int32",
          "type": "integer"
        },
        "numNextChunks": {
          "description": "The number of next chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no next chunks will be returned.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AssistantCustomerPolicy": {
      "properties": {
        "modelArmorConfig": {
          "description": "Optional. Model Armor configuration to be used for sanitizing user prompts and assistant responses.",
          "$ref": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicyModelArmorConfig"
        },
        "bannedPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicyBannedPhrase"
          },
          "description": "Optional. List of banned phrases."
        }
      },
      "description": "Customer-defined policy for the assistant.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicy"
    },
    "GoogleCloudDiscoveryengineV1betaImportSampleQueriesRequest": {
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudDiscoveryengineV1betaGcsSource",
          "description": "Cloud Storage location for the input content."
        },
        "bigquerySource": {
          "$ref": "GoogleCloudDiscoveryengineV1betaBigQuerySource",
          "description": "BigQuery input source."
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig",
          "description": "The desired location of errors incurred during the Import."
        },
        "inlineSource": {
          "description": "The Inline source for sample query entries.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportSampleQueriesRequestInlineSource"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportSampleQueriesRequest",
      "type": "object",
      "description": "Request message for SampleQueryService.ImportSampleQueries method."
    },
    "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "failureCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of user licenses that failed to be updated."
        },
        "successCount": {
          "description": "Count of user licenses successfully updated.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Metadata related to the progress of the UserLicenseService.BatchUpdateUserLicenses operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1alphaDestinationConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDestinationConfig",
      "description": "Defines target endpoints used to connect to third-party sources.",
      "type": "object",
      "properties": {
        "params": {
          "description": "Optional. Additional parameters for this destination config in structured json format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "jsonParams": {
          "description": "Additional parameters for this destination config in json string format.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Optional. Unique destination identifier that is supported by the connector."
        },
        "destinations": {
          "description": "Optional. The destinations for the corresponding key.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDestinationConfigDestination"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaReplyReference": {
      "properties": {
        "uri": {
          "description": "URI link reference.",
          "type": "string"
        },
        "start": {
          "description": "Anchor text start index.",
          "type": "integer",
          "format": "int32"
        },
        "end": {
          "type": "integer",
          "description": "Anchor text end index.",
          "format": "int32"
        },
        "anchorText": {
          "description": "Anchor text.",
          "type": "string"
        }
      },
      "deprecated": true,
      "description": "Defines reference in reply.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaReplyReference"
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramEvaluation": {
      "description": "Evaluation results for a program candidate.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramEvaluation",
      "properties": {
        "insights": {
          "description": "Optional. Represents various insights about the candidate, which are not directly used as optimization target, but that can be used to improve subsequent generations, and as such can be used to construct the evolution prompt.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveEvaluationInsights"
        },
        "scores": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveEvaluationScores",
          "description": "Optional. Contains the evaluation scores for the target metrics to optimize."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaConditionQueryTerm": {
      "description": "Matcher for search request query",
      "type": "object",
      "properties": {
        "fullMatch": {
          "description": "Whether the search query needs to exactly match the query term.",
          "type": "boolean"
        },
        "value": {
          "type": "string",
          "description": "The specific query value to match against Must be lowercase, must be UTF-8. Can have at most 3 space separated terms if full_match is true. Cannot be an empty string. Maximum length of 5000 characters."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaConditionQueryTerm"
    },
    "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateMetadata": {
      "description": "Metadata related to the progress of the CrawlRateManagementService.RemoveDedicatedCrawlRate operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateMetadata"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "GoogleLongrunningCancelOperationRequest",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries": {
      "id": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries",
      "properties": {
        "qpsTimeSeries": {
          "description": "The QPS of the crawl rate.",
          "$ref": "GoogleMonitoringV3TimeSeries"
        }
      },
      "type": "object",
      "description": "The historical crawl rate timeseries data, used for monitoring."
    },
    "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeResponse",
      "description": "Response of the EstimateDataSize request. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "documentCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of documents."
        },
        "dataSizeBytes": {
          "format": "int64",
          "description": "Data size in terms of bytes.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig": {
      "properties": {
        "name": {
          "description": "The full resource name of the Document Processing Config. Format: `projects/*/locations/*/collections/*/dataStores/*/documentProcessingConfig`.",
          "type": "string"
        },
        "parsingConfigOverrides": {
          "type": "object",
          "description": "Map from file type to override the default parsing configuration based on the file type. Supported keys: * `pdf`: Override parsing config for PDF files, either digital parsing, ocr parsing or layout parsing is supported. * `html`: Override parsing config for HTML files, only digital parsing and layout parsing are supported. * `docx`: Override parsing config for DOCX files, only digital parsing and layout parsing are supported. * `pptx`: Override parsing config for PPTX files, only digital parsing and layout parsing are supported. * `xlsm`: Override parsing config for XLSM files, only digital parsing and layout parsing are supported. * `xlsx`: Override parsing config for XLSX files, only digital parsing and layout parsing are supported.",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfig"
          }
        },
        "chunkingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfig",
          "description": "Whether chunking mode is enabled."
        },
        "defaultParsingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfig",
          "description": "Configurations for default Document parser. If not specified, we will configure it as default DigitalParsingConfig, and the default parsing config will be applied to all file types for Document parsing."
        }
      },
      "description": "A singleton resource of DataStore. If it's empty when DataStore is created and DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED, the default parser will default to digital parser.",
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportDocumentsMetadata": {
      "type": "object",
      "properties": {
        "totalCount": {
          "type": "string",
          "format": "int64",
          "description": "Total count of entries that were processed."
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "type": "string",
          "format": "int64"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that were processed successfully."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportDocumentsMetadata",
      "description": "Metadata related to the progress of the ImportDocuments operation. This is returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1betaChunkPageSpan": {
      "properties": {
        "pageStart": {
          "description": "The start page of the chunk.",
          "type": "integer",
          "format": "int32"
        },
        "pageEnd": {
          "description": "The end page of the chunk.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaChunkPageSpan",
      "description": "Page span of the chunk."
    },
    "GoogleCloudDiscoveryengineV1betaConversationContext": {
      "id": "GoogleCloudDiscoveryengineV1betaConversationContext",
      "type": "object",
      "description": "Defines context of the conversation",
      "properties": {
        "activeDocument": {
          "description": "The current active document the user opened. It contains the document resource reference.",
          "type": "string"
        },
        "contextDocuments": {
          "description": "The current list of documents the user is seeing. It contains the document resource references.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportSampleQueriesMetadata": {
      "description": "Metadata related to the progress of the ImportSampleQueries operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaImportSampleQueriesMetadata",
      "type": "object",
      "properties": {
        "failureCount": {
          "description": "Count of SampleQuerys that failed to be imported.",
          "format": "int64",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "ImportSampleQueries operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "ImportSampleQueries operation last update time. If the operation is done, this is also the finish time."
        },
        "successCount": {
          "description": "Count of SampleQuerys successfully imported.",
          "type": "string",
          "format": "int64"
        },
        "totalCount": {
          "type": "string",
          "format": "int64",
          "description": "Total count of SampleQuerys that were processed."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCompleteQueryResponseQuerySuggestion": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCompleteQueryResponseQuerySuggestion",
      "description": "Suggestions as search queries.",
      "properties": {
        "suggestion": {
          "description": "The suggestion for the query.",
          "type": "string"
        },
        "completableFieldPaths": {
          "items": {
            "type": "string"
          },
          "description": "The unique document field paths that serve as the source of this suggestion if it was generated from completable fields. This field is only populated for the document-completable model.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AnswerGenerationSpecUserDefinedClassifierSpec": {
      "type": "object",
      "properties": {
        "enableUserDefinedClassifier": {
          "description": "Optional. Whether or not to enable and include user defined classifier.",
          "type": "boolean"
        },
        "modelId": {
          "description": "Optional. The model id to be used for the user defined classifier.",
          "type": "string"
        },
        "taskMarker": {
          "description": "Optional. The task marker to be used for the user defined classifier.",
          "type": "string"
        },
        "topK": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The top-k value to be used for the user defined classifier."
        },
        "seed": {
          "description": "Optional. The seed value to be used for the user defined classifier.",
          "type": "integer",
          "format": "int32"
        },
        "temperature": {
          "type": "number",
          "format": "double",
          "description": "Optional. The temperature value to be used for the user defined classifier."
        },
        "preamble": {
          "description": "Optional. The preamble to be used for the user defined classifier.",
          "type": "string"
        },
        "topP": {
          "type": "number",
          "format": "double",
          "description": "Optional. The top-p value to be used for the user defined classifier."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerGenerationSpecUserDefinedClassifierSpec",
      "description": "The specification for user defined classifier."
    },
    "GoogleCloudDiscoveryengineV1alphaCreateEvaluationMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1alphaCreateEvaluationMetadata",
      "description": "Metadata for EvaluationService.CreateEvaluation method."
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantContentBlob": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantContentBlob",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The media type (MIME type) of the generated data."
        },
        "data": {
          "format": "byte",
          "description": "Required. Raw bytes.",
          "type": "string"
        }
      },
      "description": "Inline blob."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfo": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfo",
      "description": "Chunk information.",
      "properties": {
        "chunk": {
          "description": "Chunk resource name.",
          "type": "string"
        },
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        },
        "documentMetadata": {
          "description": "Metadata of the document from the current chunk.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfoDocumentMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1IdentityScheduleConfig": {
      "properties": {
        "refreshInterval": {
          "description": "Optional. The refresh interval to sync the Access Control List information for the documents ingested by this connector. If not set, the access control list will be refreshed at the default interval of 30 minutes. The identity refresh interval can be at least 30 minutes and at most 7 days.",
          "format": "google-duration",
          "type": "string"
        },
        "nextSyncTime": {
          "$ref": "GoogleTypeDateTime",
          "description": "Optional. The UTC time when the next data sync is expected to start for the Data Connector. Customers are only able to specify the hour and minute to schedule the data sync. This is utilized when the data connector has a refresh interval greater than 1 day."
        }
      },
      "description": "The configuration for the identity data synchronization runs.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1IdentityScheduleConfig"
    },
    "GoogleCloudDiscoveryengineV1betaBigQuerySource": {
      "properties": {
        "dataSchema": {
          "description": "The schema to use when parsing the data from the source. Supported values for user event imports: * `user_event` (default): One UserEvent per row. Supported values for document imports: * `document` (default): One Document format per row. Each document must have a valid Document.id and one of Document.json_data or Document.struct_data. * `custom`: One custom data per row in arbitrary format that conforms to the defined Schema of the data store. This can only be used by the GENERIC Data Store vertical.",
          "type": "string"
        },
        "projectId": {
          "description": "The project ID or the project number that contains the BigQuery source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request.",
          "type": "string"
        },
        "tableId": {
          "description": "Required. The BigQuery table to copy the data from with a length limit of 1,024 characters.",
          "type": "string"
        },
        "partitionDate": {
          "$ref": "GoogleTypeDate",
          "description": "BigQuery time partitioned table's _PARTITIONDATE in YYYY-MM-DD format."
        },
        "gcsStagingDir": {
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the BigQuery export to a specific Cloud Storage directory.",
          "type": "string"
        },
        "datasetId": {
          "description": "Required. The BigQuery data set to copy the data from with a length limit of 1,024 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaBigQuerySource",
      "description": "BigQuery source import data from.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfoDocumentMetadata": {
      "type": "object",
      "description": "Document metadata contains the information of the document of the current chunk.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Uri of the document."
        },
        "title": {
          "type": "string",
          "description": "Title of the document."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfoDocumentMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceScoreSpec": {
      "description": "The specification for returning the document relevance score.",
      "type": "object",
      "properties": {
        "returnRelevanceScore": {
          "description": "Optional. Whether to return the relevance score for search results. The higher the score, the more relevant the document is to the query.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceScoreSpec"
    },
    "GoogleCloudDiscoveryengineV1betaGroundingFact": {
      "description": "Grounding Fact.",
      "id": "GoogleCloudDiscoveryengineV1betaGroundingFact",
      "type": "object",
      "properties": {
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Attributes associated with the fact. Common attributes include `source` (indicating where the fact was sourced from), `author` (indicating the author of the fact), and so on.",
          "type": "object"
        },
        "factText": {
          "description": "Text content of the fact. Can be at most 10K characters long.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultPolicyEnforcementResult": {
      "type": "object",
      "description": "Customer policy enforcement result for a single policy type.",
      "properties": {
        "bannedPhraseEnforcementResult": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultBannedPhraseEnforcementResult",
          "description": "The policy enforcement result for the banned phrase policy."
        },
        "modelArmorEnforcementResult": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultModelArmorEnforcementResult",
          "description": "The policy enforcement result for the Model Armor policy."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultPolicyEnforcementResult"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryResponse": {
      "properties": {
        "session": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSession",
          "description": "Session resource object. It will be only available when session field is set and valid in the AnswerQueryRequest request."
        },
        "answer": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswer",
          "description": "Answer resource object. If AnswerQueryRequest.QueryUnderstandingSpec.QueryRephraserSpec.max_rephrase_steps is greater than 1, use Answer.name to fetch answer information using ConversationalSearchService.GetAnswer API."
        },
        "answerQueryToken": {
          "description": "A global unique ID used for logging.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for ConversationalSearchService.AnswerQuery method.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryResponse"
    },
    "GoogleCloudDiscoveryengineV1betaAssistantCustomerPolicyBannedPhrase": {
      "description": "Definition of a customer-defined banned phrase. A banned phrase is not allowed to appear in the user query or the LLM response, or else the answer will be refused.",
      "id": "GoogleCloudDiscoveryengineV1betaAssistantCustomerPolicyBannedPhrase",
      "type": "object",
      "properties": {
        "ignoreDiacritics": {
          "type": "boolean",
          "description": "Optional. If true, diacritical marks (e.g., accents, umlauts) are ignored when matching banned phrases. For example, \"cafe\" would match \"café\"."
        },
        "matchType": {
          "enum": [
            "BANNED_PHRASE_MATCH_TYPE_UNSPECIFIED",
            "SIMPLE_STRING_MATCH",
            "WORD_BOUNDARY_STRING_MATCH"
          ],
          "description": "Optional. Match type for the banned phrase.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to SIMPLE_STRING_MATCH.",
            "The banned phrase matches if it is found anywhere in the text as an exact substring.",
            "Banned phrase only matches if the pattern found in the text is surrounded by word delimiters. The phrase itself may still contain word delimiters."
          ]
        },
        "phrase": {
          "type": "string",
          "description": "Required. The raw string content to be banned."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfig": {
      "properties": {
        "optOutNotebookSharing": {
          "type": "boolean",
          "description": "Optional. Whether to disable the notebook sharing feature for the project. Default to false if not specified."
        },
        "observabilityConfig": {
          "description": "Optional. Observability config for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaObservabilityConfig"
        },
        "dataProtectionPolicy": {
          "description": "Optional. Specifies the data protection policy for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy"
        },
        "modelArmorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig",
          "description": "Model Armor configuration to be used for sanitizing user prompts and LLM responses."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfig",
      "type": "object",
      "description": "Configuration for NotebookLM."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpec": {
      "properties": {
        "disable": {
          "description": "Disable query rephraser.",
          "type": "boolean"
        },
        "maxRephraseSteps": {
          "description": "Max rephrase steps. The max number is 5 steps. If not set or set to < 1, it will be set to 1 by default.",
          "format": "int32",
          "type": "integer"
        },
        "modelSpec": {
          "description": "Optional. Query Rephraser Model specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpecModelSpec"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpec",
      "type": "object",
      "description": "Query rephraser specification."
    },
    "GoogleCloudDiscoveryengineV1PurgeCompletionSuggestionsResponse": {
      "description": "Response message for CompletionService.PurgeCompletionSuggestions method. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "type": "object",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "purgeSucceeded": {
          "description": "Whether the completion suggestions were successfully purged.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1PurgeCompletionSuggestionsResponse"
    },
    "GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesRequest": {
      "id": "GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesRequest",
      "description": "Request message for CompletionService.ImportSuggestionDenyListEntries method.",
      "type": "object",
      "properties": {
        "inlineSource": {
          "$ref": "GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesRequestInlineSource",
          "description": "The Inline source for the input content for suggestion deny list entries."
        },
        "gcsSource": {
          "description": "Cloud Storage location for the input content. Only 1 file can be specified that contains all entries to import. Supported values `gcs_source.schema` for autocomplete suggestion deny list entry imports: * `suggestion_deny_list` (default): One JSON [SuggestionDenyListEntry] per line.",
          "$ref": "GoogleCloudDiscoveryengineV1betaGcsSource"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnectorSourceEntity": {
      "properties": {
        "keyPropertyMappings": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Attributes for indexing. Key: Field name. Value: The key property to map a field to, such as `title`, and `description`. Supported key properties: * `title`: The title for data record. This would be displayed on search results. * `description`: The description for data record. This would be displayed on search results."
        },
        "startingSchema": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSchema",
          "description": "Optional. The start schema to use for the DataStore created from this SourceEntity. If unset, a default vertical specialized schema will be used. This field is only used by SetUpDataConnector API, and will be ignored if used in other APIs. This field will be omitted from all API responses including GetDataConnector API. To retrieve a schema of a DataStore, use SchemaService.GetSchema API instead. The provided schema will be validated against certain rules on schema. Learn more from [this doc](https://cloud.google.com/generative-ai-app-builder/docs/provide-schema)."
        },
        "dataStore": {
          "type": "string",
          "description": "Output only. The full resource name of the associated data store for the source entity. Format: `projects/*/locations/*/collections/*/dataStores/*`. When the connector is initialized by the DataConnectorService.SetUpDataConnector method, a DataStore is automatically created for each source entity.",
          "readOnly": true
        },
        "params": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The parameters for the entity to facilitate data ingestion in structured json format.",
          "type": "object"
        },
        "entityName": {
          "type": "string",
          "description": "The name of the entity. Supported values by data source: * Salesforce: `Lead`, `Opportunity`, `Contact`, `Account`, `Case`, `Contract`, `Campaign` * Jira: `Issue` * Confluence: `Content`, `Space`"
        },
        "jsonParams": {
          "description": "The parameters for the entity to facilitate data ingestion in json string format.",
          "type": "string"
        },
        "healthcareFhirConfig": {
          "description": "Optional. Configuration for `HEALTHCARE_FHIR` vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaHealthcareFhirConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnectorSourceEntity",
      "description": "Represents an entity in the data source. For example, the `Account` object in Salesforce."
    },
    "GoogleCloudDiscoveryengineV1CreateSitemapMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1CreateSitemapMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries": {
      "type": "object",
      "properties": {
        "qpsTimeSeries": {
          "description": "The QPS of the crawl rate.",
          "$ref": "GoogleMonitoringV3TimeSeries"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
      "description": "The historical crawl rate timeseries data, used for monitoring."
    },
    "GoogleCloudDiscoveryengineV1betaDocumentIndexStatus": {
      "id": "GoogleCloudDiscoveryengineV1betaDocumentIndexStatus",
      "description": "Index status of the document.",
      "properties": {
        "indexTime": {
          "format": "google-datetime",
          "description": "The time when the document was indexed. If this field is populated, it means the document has been indexed. While documents typically become searchable within seconds of indexing, it can sometimes take up to a few hours.",
          "type": "string"
        },
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while indexing the document. If this field is populated, the document is not indexed due to errors.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "pendingMessage": {
          "type": "string",
          "description": "Immutable. The message indicates the document index is in progress. If this field is populated, the document index is pending."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigDigitalParsingConfig": {
      "description": "The digital parsing configurations for documents.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigDigitalParsingConfig",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1ServingConfigMediaConfig": {
      "properties": {
        "contentFreshnessCutoffDays": {
          "type": "integer",
          "description": "Specifies the content freshness used for recommendation result. Contents will be demoted if contents were published for more than content freshness cutoff days.",
          "format": "int32"
        },
        "contentWatchedPercentageThreshold": {
          "type": "number",
          "description": "Specifies the content watched percentage threshold for demotion. Threshold value must be between [0, 1.0] inclusive.",
          "format": "float"
        },
        "contentWatchedSecondsThreshold": {
          "description": "Specifies the content watched minutes threshold for demotion.",
          "type": "number",
          "format": "float"
        },
        "demoteContentWatchedPastDays": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Specifies the number of days to look back for demoting watched content. If set to zero or unset, defaults to the maximum of 365 days."
        },
        "demotionEventType": {
          "type": "string",
          "description": "Specifies the event type used for demoting recommendation result. Currently supported values: * `view-item`: Item viewed. * `media-play`: Start/resume watching a video, playing a song, etc. * `media-complete`: Finished or stopped midway through a video, song, etc. If unset, watch history demotion will not be applied. Content freshness demotion will still be applied."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ServingConfigMediaConfig",
      "description": "Specifies the configurations needed for Media Discovery. Currently we support: * `demote_content_watched`: Threshold for watched content demotion. Customers can specify if using watched content demotion or use viewed detail page. Using the content watched demotion, customers need to specify the watched minutes or percentage exceeds the threshold, the content will be demoted in the recommendation result. * `promote_fresh_content`: cutoff days for fresh content promotion. Customers can specify if using content freshness promotion. If the content was published within the cutoff days, the content will be promoted in the recommendation result. Can only be set if SolutionType is SOLUTION_TYPE_RECOMMENDATION."
    },
    "GoogleCloudDiscoveryengineV1ObservabilityConfig": {
      "properties": {
        "observabilityEnabled": {
          "type": "boolean",
          "description": "Optional. Enables observability. If `false`, all other flags are ignored."
        },
        "sensitiveLoggingEnabled": {
          "description": "Optional. Enables sensitive logging. Sensitive logging includes customer core content (e.g. prompts, responses). If `false`, will sanitize all sensitive fields.",
          "type": "boolean"
        }
      },
      "description": "Observability config for a resource.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ObservabilityConfig"
    },
    "GoogleCloudDiscoveryengineV1betaTextInput": {
      "properties": {
        "context": {
          "$ref": "GoogleCloudDiscoveryengineV1betaConversationContext",
          "description": "Conversation context of the input."
        },
        "input": {
          "description": "Text input.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Defines text input.",
      "id": "GoogleCloudDiscoveryengineV1betaTextInput"
    },
    "GoogleCloudDiscoveryengineV1betaCheckGroundingResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaCheckGroundingResponse",
      "description": "Response message for the GroundedGenerationService.CheckGrounding method.",
      "properties": {
        "claims": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCheckGroundingResponseClaim"
          },
          "type": "array",
          "description": "Claim texts and citation info across all claims in the answer candidate."
        },
        "citedFacts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCheckGroundingResponseCheckGroundingFactChunk"
          },
          "description": "List of facts cited across all claims in the answer candidate. These are derived from the facts supplied in the request."
        },
        "citedChunks": {
          "type": "array",
          "description": "List of facts cited across all claims in the answer candidate. These are derived from the facts supplied in the request.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaFactChunk"
          }
        },
        "supportScore": {
          "type": "number",
          "format": "float",
          "description": "The support score for the input answer candidate. Higher the score, higher is the fraction of claims that are supported by the provided facts. This is always set when a response is returned."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpec": {
      "properties": {
        "enable": {
          "description": "Enable the safety filtering on the answer response. It is false by default.",
          "type": "boolean"
        },
        "safetySettings": {
          "type": "array",
          "description": "Optional. Safety settings. This settings are effective only when the safety_spec.enable is true.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpecSafetySetting"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpec",
      "type": "object",
      "description": "Safety specification. There are two use cases: 1. when only safety_spec.enable is set, the BLOCK_LOW_AND_ABOVE threshold will be applied for all categories. 2. when safety_spec.enable is set and some safety_settings are set, only specified safety_settings are applied."
    },
    "GoogleCloudDiscoveryengineV1alphaDataProtectionPolicySensitiveDataProtectionPolicy": {
      "id": "GoogleCloudDiscoveryengineV1alphaDataProtectionPolicySensitiveDataProtectionPolicy",
      "type": "object",
      "description": "Specifies a Sensitive Data Protection (https://cloud.google.com/sensitive-data-protection/docs/sensitive-data-protection-overview) policy.",
      "properties": {
        "policy": {
          "type": "string",
          "description": "Optional. Specifies the resource name of the Sensitive Data Protection content policy."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAssistantCustomerPolicy": {
      "properties": {
        "modelArmorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistantCustomerPolicyModelArmorConfig",
          "description": "Optional. Model Armor configuration to be used for sanitizing user prompts and assistant responses."
        },
        "bannedPhrases": {
          "type": "array",
          "description": "Optional. List of banned phrases.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAssistantCustomerPolicyBannedPhrase"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAssistantCustomerPolicy",
      "description": "Customer-defined policy for the assistant.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservation": {
      "type": "object",
      "properties": {
        "searchResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservationSearchResult"
          },
          "description": "Search results observed by the search action, it can be snippets info or chunk info, depending on the citation type set by the user."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservation",
      "description": "Observation."
    },
    "GoogleCloudDiscoveryengineV1betaControlBoostActionInterpolationBoostSpecControlPoint": {
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "properties": {
        "boostAmount": {
          "type": "number",
          "format": "float",
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above."
        },
        "attributeValue": {
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaControlBoostActionInterpolationBoostSpecControlPoint",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchResponse",
      "properties": {},
      "description": "Response message for SiteSearchEngineService.EnableAdvancedSiteSearch method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImportUserEventsResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportUserEventsResponse",
      "properties": {
        "joinedEventsCount": {
          "description": "Count of user events imported with complete existing Documents.",
          "format": "int64",
          "type": "string"
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "unjoinedEventsCount": {
          "description": "Count of user events imported, but with Document information not found in the existing Branch.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveSourceFile": {
      "type": "object",
      "description": "A single source file with its path, content and metadata.",
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveSourceFile",
      "properties": {
        "content": {
          "description": "Required. The raw content of the file. This is a string and not bytes, because it should be ultimately processed by the LLM as text.",
          "type": "string"
        },
        "path": {
          "description": "Required. The relative path of the file, including the filename. e.g., \"src/main.py\", \"utils/helpers.js\", \"README.md\"",
          "type": "string"
        },
        "programLanguage": {
          "description": "Optional. The programming language of the file.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Additional description of the file."
        }
      }
    },
    "GoogleMonitoringV3TypedValue": {
      "description": "A single strongly-typed value.",
      "type": "object",
      "id": "GoogleMonitoringV3TypedValue",
      "properties": {
        "boolValue": {
          "description": "A Boolean value: `true` or `false`.",
          "type": "boolean"
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "A 64-bit double-precision floating-point number. Its magnitude is approximately ±10±300 and it has 16 significant digits of precision."
        },
        "int64Value": {
          "format": "int64",
          "type": "string",
          "description": "A 64-bit integer. Its range is approximately ±9.2x1018."
        },
        "stringValue": {
          "description": "A variable-length string value.",
          "type": "string"
        },
        "distributionValue": {
          "description": "A distribution value.",
          "$ref": "GoogleApiDistribution"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataVisualSegment": {
      "description": "Grounding information for a visual segment.",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataVisualSegment",
      "properties": {
        "referenceIndices": {
          "description": "References for the visual segment.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "contentId": {
          "description": "The content id of the visual segment. In order to display the citation of the visual element, this content_id needs to match with the `grounded_content.content_metadata.content_id` field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfig": {
      "type": "object",
      "properties": {
        "trainingState": {
          "enum": [
            "TRAINING_STATE_UNSPECIFIED",
            "PAUSED",
            "TRAINING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified training state.",
            "The engine training is paused.",
            "The engine is training."
          ],
          "description": "The training state that the engine is in (e.g. `TRAINING` or `PAUSED`). Since part of the cost of running the service is frequency of training - this can be used to determine when to train engine in order to control cost. If not specified: the default value for `CreateEngine` method is `TRAINING`. The default value for `UpdateEngine` method is to keep the state the same as before."
        },
        "optimizationObjective": {
          "type": "string",
          "description": "The optimization objective. e.g., `cvr`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `ctr`, `cvr`. If not specified, we choose default based on engine type. Default depends on type of recommendation: `recommended-for-you` => `ctr` `others-you-may-like` => `ctr`"
        },
        "type": {
          "description": "Required. The type of engine. e.g., `recommended-for-you`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `recommended-for-you`, `others-you-may-like`, `more-like-this`, `most-popular-items`.",
          "type": "string"
        },
        "engineFeaturesConfig": {
          "description": "Optional. Additional engine features config.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigEngineFeaturesConfig"
        },
        "optimizationObjectiveConfig": {
          "description": "Name and value of the custom threshold for cvr optimization_objective. For target_field `watch-time`, target_field_value must be an integer value indicating the media progress time in seconds between (0, 86400] (excludes 0, includes 86400) (e.g., 90). For target_field `watch-percentage`, the target_field_value must be a valid float value between (0, 1.0] (excludes 0, includes 1.0) (e.g., 0.5).",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigOptimizationObjectiveConfig"
        }
      },
      "description": "Additional config specs for a Media Recommendation engine.",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig",
      "description": "Configuration for the layout based chunking.",
      "properties": {
        "chunkSize": {
          "type": "integer",
          "format": "int32",
          "description": "The token size limit for each chunk. Supported values: 100-500 (inclusive). Default value: 500."
        },
        "includeAncestorHeadings": {
          "description": "Whether to include appending different levels of headings to chunks from the middle of the document to prevent context loss. Default value: False.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterStringConstraint": {
      "properties": {
        "values": {
          "description": "Values of the string field. The record will only be returned if the field value matches one of the values specified here.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "fieldName": {
          "description": "Name of the string field as defined in the schema.",
          "type": "string"
        },
        "querySegment": {
          "type": "string",
          "description": "Identifies the keywords within the search query that match a filter."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterStringConstraint",
      "type": "object",
      "description": "Constraint expression of a string field."
    },
    "GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfig": {
      "properties": {
        "alertPolicy": {
          "type": "string",
          "description": "Immutable. The fully qualified resource name of the AlertPolicy."
        },
        "regionCode": {
          "type": "string",
          "description": "Optional. The region code used of the user that subscribed to the alert policy."
        },
        "contactDetails": {
          "description": "Optional. The contact details for each alert policy.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaContactDetails"
          },
          "type": "array"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The language code used for notifications"
        },
        "alertEnrollments": {
          "description": "Optional. The enrollment state of each alert.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfigAlertEnrollment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfig",
      "description": "The resource level alert config. Used in: * UserLicense * EngineUserData The AlertPolicyConfig in data connector is of same usage. No easy way to migrate."
    },
    "GoogleCloudDiscoveryengineV1betaAnswer": {
      "properties": {
        "answerSkippedReasons": {
          "items": {
            "enumDescriptions": [
              "Default value. The answer skipped reason is not specified.",
              "The adversarial query ignored case.",
              "The non-answer seeking query ignored case Google skips the answer if the query is chit chat.",
              "The out-of-domain query ignored case. Google skips the answer if there are no high-relevance search results.",
              "The potential policy violation case. Google skips the answer if there is a potential policy violation detected. This includes content that may be violent or toxic.",
              "The no relevant content case. Google skips the answer if there is no relevant content in the retrieved search results.",
              "The jail-breaking query ignored case. For example, \"Reply in the tone of a competing company's CEO\". Google skips the answer if the query is classified as a jail-breaking query.",
              "The customer policy violation case. Google skips the summary if there is a customer policy violation detected. The policy is defined by the customer.",
              "The non-answer seeking query ignored case. Google skips the answer if the query doesn't have clear intent.",
              "The low-grounded answer case. Google skips the answer if a well grounded answer was unable to be generated.",
              "The user defined query classification ignored case. Google skips the answer if the query is classified as a user defined query classification.",
              "The unhelpful answer case. Google skips the answer if the answer is not helpful. This can be due to a variety of factors, including but not limited to: the query is not answerable, the answer is not relevant to the query, or the answer is not well-formatted."
            ],
            "enum": [
              "ANSWER_SKIPPED_REASON_UNSPECIFIED",
              "ADVERSARIAL_QUERY_IGNORED",
              "NON_ANSWER_SEEKING_QUERY_IGNORED",
              "OUT_OF_DOMAIN_QUERY_IGNORED",
              "POTENTIAL_POLICY_VIOLATION",
              "NO_RELEVANT_CONTENT",
              "JAIL_BREAKING_QUERY_IGNORED",
              "CUSTOMER_POLICY_VIOLATION",
              "NON_ANSWER_SEEKING_QUERY_IGNORED_V2",
              "LOW_GROUNDED_ANSWER",
              "USER_DEFINED_CLASSIFICATION_QUERY_IGNORED",
              "UNHELPFUL_ANSWER"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Additional answer-skipped reasons. This provides the reason for ignored cases. If nothing is skipped, this field is not set."
        },
        "citations": {
          "description": "Citations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerCitation"
          }
        },
        "relatedQuestions": {
          "type": "array",
          "description": "Suggested related questions.",
          "items": {
            "type": "string"
          }
        },
        "steps": {
          "description": "Answer generation steps.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerStep"
          }
        },
        "safetyRatings": {
          "description": "Optional. Safety ratings.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSafetyRating"
          }
        },
        "createTime": {
          "description": "Output only. Answer creation timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "completeTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Answer completed timestamp."
        },
        "state": {
          "description": "The state of the answer generation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED",
            "STREAMING"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Answer generation is currently in progress.",
            "Answer generation currently failed.",
            "Answer generation has succeeded.",
            "Answer generation is currently in progress."
          ],
          "type": "string"
        },
        "answerText": {
          "description": "The textual answer.",
          "type": "string"
        },
        "groundingSupports": {
          "description": "Optional. Grounding supports.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerGroundingSupport"
          }
        },
        "groundingScore": {
          "type": "number",
          "format": "double",
          "description": "A score in the range of [0, 1] describing how grounded the answer is by the reference chunks."
        },
        "name": {
          "description": "Immutable. Fully qualified name `projects/{project}/locations/global/collections/{collection}/engines/{engine}/sessions/*/answers/*`",
          "type": "string"
        },
        "references": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerReference"
          },
          "description": "References.",
          "type": "array"
        },
        "queryUnderstandingInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryUnderstandingInfo",
          "description": "Query understanding information."
        },
        "blobAttachments": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerBlobAttachment"
          },
          "description": "Output only. List of blob attachments in the answer."
        }
      },
      "type": "object",
      "description": "Defines an answer.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswer"
    },
    "GoogleCloudDiscoveryengineV1alphaUserLicense": {
      "description": "User License information assigned by the admin.",
      "id": "GoogleCloudDiscoveryengineV1alphaUserLicense",
      "type": "object",
      "properties": {
        "userPrincipal": {
          "type": "string",
          "description": "Required. Immutable. The user principal of the User, could be email address or other prinical identifier. This field is immutable. Admin assign licenses based on the user principal."
        },
        "licenseConfig": {
          "description": "Optional. The full resource name of the Subscription(LicenseConfig) assigned to the user.",
          "type": "string"
        },
        "lastLoginTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. User last logged in time. If the user has not logged in yet, this field will be empty."
        },
        "userProfile": {
          "description": "Optional. The user profile. We user user full name(First name + Last name) as user profile.",
          "type": "string"
        },
        "licenseAssignmentState": {
          "enumDescriptions": [
            "Default value.",
            "License assigned to the user.",
            "No license assigned to the user. Deprecated, translated to NO_LICENSE.",
            "No license assigned to the user.",
            "User attempted to login but no license assigned to the user. This state is only used for no user first time login attempt but cannot get license assigned. Users already logged in but cannot get license assigned will be assigned NO_LICENSE state(License could be unassigned by admin).",
            "User is blocked from assigning a license."
          ],
          "enum": [
            "LICENSE_ASSIGNMENT_STATE_UNSPECIFIED",
            "ASSIGNED",
            "UNASSIGNED",
            "NO_LICENSE",
            "NO_LICENSE_ATTEMPTED_LOGIN",
            "BLOCKED"
          ],
          "readOnly": true,
          "description": "Output only. License assignment state of the user. If the user is assigned with a license config, the user login will be assigned with the license; If the user's license assignment state is unassigned or unspecified, no license config will be associated to the user;",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. User created timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. User update timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaUserInfoPreciseLocation": {
      "description": "Precise location info with multiple representation options.",
      "id": "GoogleCloudDiscoveryengineV1alphaUserInfoPreciseLocation",
      "type": "object",
      "properties": {
        "address": {
          "description": "Location represented by a natural language address. Will later be geocoded and converted to either a point or a polygon.",
          "type": "string"
        },
        "point": {
          "description": "Optional. Location represented by a latitude/longitude point.",
          "$ref": "GoogleTypeLatLng"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1WorkspaceConfig": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DRIVE",
            "GOOGLE_MAIL",
            "GOOGLE_SITES",
            "GOOGLE_CALENDAR",
            "GOOGLE_CHAT",
            "GOOGLE_GROUPS",
            "GOOGLE_KEEP",
            "GOOGLE_PEOPLE",
            "GOOGLE_WORKSPACE"
          ],
          "description": "The Google Workspace data source.",
          "enumDescriptions": [
            "Defaults to an unspecified Workspace type.",
            "Workspace Data Store contains Drive data",
            "Workspace Data Store contains Mail data",
            "Workspace Data Store contains Sites data",
            "Workspace Data Store contains Calendar data",
            "Workspace Data Store contains Chat data",
            "Workspace Data Store contains Groups data",
            "Workspace Data Store contains Keep data",
            "Workspace Data Store contains People data",
            "Workspace Data Store contains all Workspace apps data"
          ]
        },
        "superAdminServiceAccount": {
          "type": "string",
          "description": "Optional. The super admin service account for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion."
        },
        "superAdminEmailAddress": {
          "description": "Optional. The super admin email address for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        },
        "dasherCustomerId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Obfuscated Dasher customer ID. Derived by the server from the project's GCP organization at data store creation time; any value supplied in the request payload is ignored."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1WorkspaceConfig",
      "description": "Config to store data store type configuration for workspace data"
    },
    "GoogleCloudDiscoveryengineV1betaControlRedirectAction": {
      "id": "GoogleCloudDiscoveryengineV1betaControlRedirectAction",
      "description": "Redirects a shopper to the provided URI.",
      "type": "object",
      "properties": {
        "redirectUri": {
          "type": "string",
          "description": "Required. The URI to which the shopper will be redirected. Required. URI must have length equal or less than 2000 characters. Otherwise an INVALID ARGUMENT error is thrown."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpec": {
      "type": "object",
      "description": "Boost applies to documents which match a condition.",
      "properties": {
        "boost": {
          "format": "float",
          "type": "number",
          "description": "Strength of the condition boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the document a big promotion. However, it does not necessarily mean that the boosted document will be the top result at all times, nor that other documents will be excluded. Results could still be shown even when none of them matches the condition. And results that are significantly more relevant to the search query can still trump your heavily favored but irrelevant documents. Setting to -1.0 gives the document a big demotion. However, results that are deeply relevant might still be shown. The document will have an upstream battle to get a fairly high ranking, but it is not blocked out completely. Setting to 0.0 means no boost applied. The boosting condition is ignored. Only one of the (condition, boost) combination or the boost_control_spec below are set. If both are set then the global boost is ignored and the more fine-grained boost_control_spec is applied."
        },
        "boostControlSpec": {
          "description": "Complex specification for custom ranking based on customer defined attribute value.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpecBoostControlSpec"
        },
        "condition": {
          "type": "string",
          "description": "An expression which specifies a boost condition. The syntax and supported fields are the same as a filter expression. See SearchRequest.filter for detail syntax and limitations. Examples: * To boost documents with document ID \"doc_1\" or \"doc_2\", and color \"Red\" or \"Blue\": `(document_id: ANY(\"doc_1\", \"doc_2\")) AND (color: ANY(\"Red\", \"Blue\"))`"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpec"
    },
    "GoogleCloudDiscoveryengineV1betaListUserLicensesResponse": {
      "type": "object",
      "description": "Response message for UserLicenseService.ListUserLicenses.",
      "properties": {
        "userLicenses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaUserLicense"
          },
          "description": "All the customer's UserLicenses."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaListUserLicensesResponse"
    },
    "GoogleCloudDiscoveryengineV1betaImportIdentityMappingsRequestInlineSource": {
      "id": "GoogleCloudDiscoveryengineV1betaImportIdentityMappingsRequestInlineSource",
      "description": "The inline source to import identity mapping entries from.",
      "properties": {
        "identityMappingEntries": {
          "description": "A maximum of 10000 entries can be imported at one time",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaIdentityMappingEntry"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaStreamAssistRequestAgentsSpec": {
      "type": "object",
      "properties": {
        "agentSpecs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaStreamAssistRequestAgentsSpecAgentSpec"
          },
          "type": "array",
          "description": "Optional. Specification of agents that are used to serve the request."
        }
      },
      "description": "Specification of agents that are used to serve the request.",
      "id": "GoogleCloudDiscoveryengineV1betaStreamAssistRequestAgentsSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnectorConnectorMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnectorConnectorMetadata",
      "type": "object",
      "description": "User-facing metadata for the connector, shown on the connector detail page (title, description, short_description, author, note).",
      "properties": {
        "shortDescription": {
          "type": "string",
          "description": "Optional. Short, subtitle-length description of the connector (e.g. shown beneath the connector name in list and detail views)."
        },
        "author": {
          "type": "string",
          "description": "Optional. The party that authored the connector, e.g. \"Google\" or a third-party provider name. Lets end users see who authored a connector (future: third-party-authored connectors)."
        },
        "note": {
          "description": "Optional. Free-form, multi-line note about the connector's capabilities or a custom note that can be set for the connector.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Display title of the connector.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Human-readable description of the connector, shown on the connector detail page. One connector has a single description.",
          "type": "string"
        }
      }
    },
    "GoogleTypeLatLng": {
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "id": "GoogleTypeLatLng",
      "type": "object",
      "properties": {
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "type": "number",
          "format": "double"
        },
        "latitude": {
          "type": "number",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaControlBoostActionInterpolationBoostSpecControlPoint": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaControlBoostActionInterpolationBoostSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "properties": {
        "attributeValue": {
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`.",
          "type": "string"
        },
        "boostAmount": {
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantContentFile": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantContentFile",
      "description": "A file, e.g., an audio summary.",
      "properties": {
        "fileId": {
          "type": "string",
          "description": "Required. The file ID."
        },
        "mimeType": {
          "description": "Required. The media type (MIME type) of the file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the ImportSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesMetadata"
    },
    "GoogleCloudDiscoveryengineV1AclConfig": {
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "idpConfig": {
          "description": "Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1IdpConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AclConfig",
      "description": "Access Control Configuration."
    },
    "GoogleCloudDiscoveryengineV1betaConditionTimeRange": {
      "properties": {
        "startTime": {
          "description": "Start of time range. Range is inclusive.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End of time range. Range is inclusive. Must be in the future."
        }
      },
      "description": "Used for time-dependent conditions.",
      "id": "GoogleCloudDiscoveryengineV1betaConditionTimeRange",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus": {
      "description": "Per-model Agent Search TPM subscription status. One entry per active `core_subscription.agent_search_token_subscriptions[*]` entry in the customer-provided config; populated by UpdateProject and GetProject. The lifecycle scalars on this message (`start_time`, `terminate_time`, `update_type`, `tpm_threshold_next_update_time`) are per (project, model_version) — siblings of the whole-relationship `start_time` / `terminate_time` / `update_type` on the enclosing ConfigurableBillingStatus, but scoped to this specific Agent Search TPM subscription instead of to the overall customer-configurable- pricing relationship. This per-instance granularity is intentional: the underlying SubV3 storage is per-(project, model_version), so each model has its own activation, termination, and deferred-update clock; surfacing that on the response gives customers the granularity they need to manage per-model commitments independently. QPM / IndexingCore differ — their storage is one row per (project, location), so their lifecycle is represented only by the whole- relationship scalars on ConfigurableBillingStatus.",
      "id": "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus",
      "type": "object",
      "properties": {
        "terminateTime": {
          "description": "Output only. If set, the scheduled effective time at which this (project, model_version) Agent Search TPM subscription will terminate. Populated when the customer removes this entry from `core_subscription.agent_search_token_subscriptions[*]`. Does NOT move the whole-relationship `terminate_time` on the enclosing ConfigurableBillingStatus, which is populated only when the entire customer-configurable-pricing relationship is being torn down.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "modelVersion": {
          "description": "Output only. The Gemini model version this status corresponds to. Matches CoreSubscription.AgentSearchTokenSubscription.model_version (a stable Gemini model version from the Gemini Enterprise Agent Platform model-versions registry; see https://docs.cloud.google.com/gemini-enterprise-agent-platform/models/model-versions#gemini-models).",
          "readOnly": true,
          "type": "string"
        },
        "tpmThresholdNextUpdateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The earliest next update time for the TPM subscription threshold for this (project, model_version). Populated only after a successful update."
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. When this (project, model_version) Agent Search TPM subscription was first activated. Set once on first activation of this model version and never moved by subsequent threshold updates; on termination + re-activation a new value is recorded. Does NOT move the whole-relationship `start_time` on the enclosing ConfigurableBillingStatus, which continues to represent the first activation of the overall customer-configurable-pricing relationship.",
          "type": "string",
          "format": "google-datetime"
        },
        "effectiveTpmThreshold": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The currently effective TPM threshold. Reflects scale-up immediately and scale-down at the next billing cycle, matching `effective_search_qpm_threshold` semantics."
        },
        "updateType": {
          "description": "Output only. The type of the most recent update to this (project, model_version) subscription, as performed by the most recent UpdateProject call. `UPDATE_TYPE_UNSPECIFIED` indicates this model_version was not touched by the most recent UpdateProject (its `effective_tpm_threshold` reflects an earlier update). The whole-relationship `update_type` on the enclosing ConfigurableBillingStatus continues to summarize the direction of the most recent update across all surfaces in the project (QPM, IndexingCore, and Agent Search TPM together).",
          "enumDescriptions": [
            "Unspecified update type.",
            "Configurable billing was created/enabled.",
            "Configurable billing was deleted/disabled.",
            "Subscription was scaled up (thresholds increased).",
            "Subscription was scaled down (thresholds decreased)."
          ],
          "readOnly": true,
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "SCALE_UP",
            "SCALE_DOWN"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponse",
      "description": "Response message for CompletionService.AdvancedCompleteQuery method.",
      "properties": {
        "peopleSuggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponsePersonSuggestion"
          },
          "description": "Results of the matched people suggestions. The result list is ordered and the first result is the top suggestion."
        },
        "recentSearchSuggestions": {
          "type": "array",
          "description": "Results of the matched \"recent search\" suggestions. The result list is ordered and the first result is the top suggestion.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponseRecentSearchSuggestion"
          }
        },
        "contentSuggestions": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponseContentSuggestion"
          },
          "description": "Results of the matched content suggestions. The result list is ordered and the first result is the top suggestion.",
          "type": "array"
        },
        "tailMatchTriggered": {
          "description": "True if the returned suggestions are all tail suggestions. For tail matching to be triggered, include_tail_suggestions in the request must be true and there must be no suggestions that match the full query.",
          "type": "boolean"
        },
        "querySuggestions": {
          "type": "array",
          "description": "Results of the matched query suggestions. The result list is ordered and the first result is a top suggestion.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponseQuerySuggestion"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEngineChatEngineConfigAgentCreationConfig": {
      "properties": {
        "defaultLanguageCode": {
          "description": "Required. The default language of the agent as a language tag. See [Language Support](https://cloud.google.com/dialogflow/docs/reference/language) for a list of the currently supported language codes.",
          "type": "string"
        },
        "timeZone": {
          "description": "Required. The time zone of the agent from the [time zone database](https://www.iana.org/time-zones), e.g., America/New_York, Europe/Paris.",
          "type": "string"
        },
        "business": {
          "description": "Name of the company, organization or other entity that the agent represents. Used for knowledge connector LLM prompt and for knowledge search.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Agent location for Agent creation, supported values: global/us/eu. If not provided, us Engine will create Agent using us-central-1 by default; eu Engine will create Agent using eu-west-1 by default."
        }
      },
      "type": "object",
      "description": "Configurations for generating a Dialogflow agent. Note that these configurations are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineChatEngineConfigAgentCreationConfig"
    },
    "GoogleCloudDiscoveryengineV1betaAssistantContent": {
      "id": "GoogleCloudDiscoveryengineV1betaAssistantContent",
      "type": "object",
      "description": "Multi-modal content.",
      "properties": {
        "codeExecutionResult": {
          "description": "Result of executing an ExecutableCode.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistantContentCodeExecutionResult"
        },
        "thought": {
          "type": "boolean",
          "description": "Optional. Indicates if the part is thought from the model."
        },
        "inlineData": {
          "description": "Inline binary data.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistantContentBlob"
        },
        "file": {
          "description": "A file, e.g., an audio summary.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistantContentFile"
        },
        "executableCode": {
          "description": "Code generated by the model that is meant to be executed.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistantContentExecutableCode"
        },
        "text": {
          "type": "string",
          "description": "Inline text."
        },
        "role": {
          "description": "The producer of the content. Can be \"model\" or \"user\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepAction": {
      "type": "object",
      "description": "Action.",
      "properties": {
        "searchAction": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionSearchAction",
          "description": "Search action."
        },
        "observation": {
          "description": "Observation.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservation"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepAction"
    },
    "GoogleCloudDiscoveryengineV1betaSession": {
      "id": "GoogleCloudDiscoveryengineV1betaSession",
      "properties": {
        "state": {
          "description": "The state of the session.",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS"
          ],
          "enumDescriptions": [
            "State is unspecified.",
            "The session is currently open."
          ],
          "type": "string"
        },
        "turns": {
          "description": "Turns.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSessionTurn"
          }
        },
        "isPinned": {
          "type": "boolean",
          "description": "Optional. Whether the session is pinned, pinned session will be displayed on the top of the session list."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the session finished.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "pendingAsyncAssistOperationId": {
          "type": "string",
          "description": "Output only. Full resource name of an in-progress AsyncAssist operation for this session, e.g. `projects/*/locations/*/collections/*/engines/*/sessions/*/operations/*`. Set when the operation starts and cleared when it finishes.",
          "readOnly": true
        },
        "labels": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The labels for the session. Can be set as filter in ListSessionsRequest.",
          "type": "array"
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the session started."
        },
        "displayName": {
          "description": "Optional. The display name of the session. This field is used to identify the session in the UI. By default, the display name is the first turn query text in the session.",
          "type": "string"
        },
        "userPseudoId": {
          "type": "string",
          "description": "A unique identifier for tracking users."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Fully qualified name `projects/{project}/locations/global/collections/{collection}/engines/{engine}/sessions/*`"
        }
      },
      "description": "External session proto definition.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaPurgeDocumentsResponse": {
      "description": "Response message for DocumentService.PurgeDocuments method. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "properties": {
        "purgeCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of documents purged as a result of the operation."
        },
        "purgeSample": {
          "type": "array",
          "description": "A sample of document names that will be deleted. Only populated if `force` is set to false. A max of 100 names will be returned and the names are chosen at random.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaPurgeDocumentsResponse",
      "type": "object"
    },
[...]
