{
  "batchPath": "batch",
  "title": "Discovery Engine API",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "location": "in",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.ca.rep.googleapis.com/",
      "location": "ca",
      "description": "Regional Endpoint"
    }
  ],
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "resources": {
    "billingAccounts": {
      "resources": {
        "billingAccountLicenseConfigs": {
          "methods": {
            "distributeLicenseConfig": {
              "id": "discoveryengine.billingAccounts.billingAccountLicenseConfigs.distributeLicenseConfig",
              "parameters": {
                "billingAccountLicenseConfig": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Full resource name of BillingAccountLicenseConfig. Format: `billingAccounts/{billing_account}/billingAccountLicenseConfigs/{billing_account_license_config_id}`.",
                  "pattern": "^billingAccounts/[^/]+/billingAccountLicenseConfigs/[^/]+$"
                }
              },
              "description": "Distributes a LicenseConfig from billing account level to project level.",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1betaDistributeLicenseConfigRequest"
              },
              "parameterOrder": [
                "billingAccountLicenseConfig"
              ],
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1betaDistributeLicenseConfigResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/billingAccountLicenseConfigs/{billingAccountLicenseConfigsId}:distributeLicenseConfig",
              "httpMethod": "POST",
              "path": "v1beta/{+billingAccountLicenseConfig}:distributeLicenseConfig"
            },
            "retractLicenseConfig": {
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1betaRetractLicenseConfigRequest"
              },
              "parameterOrder": [
                "billingAccountLicenseConfig"
              ],
              "id": "discoveryengine.billingAccounts.billingAccountLicenseConfigs.retractLicenseConfig",
              "parameters": {
                "billingAccountLicenseConfig": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Full resource name of BillingAccountLicenseConfig. Format: `billingAccounts/{billing_account}/billingAccountLicenseConfigs/{billing_account_license_config_id}`.",
                  "pattern": "^billingAccounts/[^/]+/billingAccountLicenseConfigs/[^/]+$"
                }
              },
              "description": "This method is called from the billing account side to retract the LicenseConfig from the given project back to the billing account.",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/billingAccountLicenseConfigs/{billingAccountLicenseConfigsId}:retractLicenseConfig",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1betaRetractLicenseConfigResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1beta/{+billingAccountLicenseConfig}:retractLicenseConfig",
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "provision": {
          "description": "Provisions the project resource. During the process, related systems will get prepared and initialized. Caller must read the [Terms for data use](https://cloud.google.com/retail/data-use-terms), and optionally specify in request to provide consent to that service terms.",
          "id": "discoveryengine.projects.provision",
          "parameters": {
            "name": {
              "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`.",
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleCloudDiscoveryengineV1betaProvisionProjectRequest"
          },
          "path": "v1beta/{+name}:provision",
          "httpMethod": "POST",
          "flatPath": "v1beta/projects/{projectsId}:provision",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite",
            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
          ]
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "discoveryengine.projects.operations.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ]
            },
            "list": {
              "id": "discoveryengine.projects.operations.list",
              "parameters": {
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The standard list page size."
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list page token."
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1beta/{+name}/operations",
              "httpMethod": "GET"
            }
          }
        },
        "locations": {
          "methods": {
            "obtainCrawlRate": {
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}:obtainCrawlRate",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1betaObtainCrawlRateResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1beta/{+location}:obtainCrawlRate",
              "httpMethod": "POST",
              "id": "discoveryengine.projects.locations.obtainCrawlRate",
              "parameters": {
                "location": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The location resource where crawl rate management will be performed. Format: `projects/{project}/locations/{location}`",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "description": "Obtains the time series data of organic or dedicated crawl rate for monitoring. When dedicated crawl rate is not set, it will return vertex AI's organic crawl rate time series. Organic crawl means Google automatically crawl the internet at its own convenience. When dedicated crawl rate is set, it will return vertex AI's dedicated crawl rate time series.",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1betaObtainCrawlRateRequest"
              },
              "parameterOrder": [
                "location"
              ]
            },
            "getAclConfig": {
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/aclConfig",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1betaAclConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "id": "discoveryengine.projects.locations.getAclConfig",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of AclConfig, such as `projects/*/locations/*/aclConfig`. If the caller does not have permission to access the AclConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                  "pattern": "^projects/[^/]+/locations/[^/]+/aclConfig$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets the AclConfig.",
              "parameterOrder": [
                "name"
              ]
            },
            "provision": {
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}:provision",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1beta/{+name}:provision",
              "httpMethod": "POST",
              "id": "discoveryengine.projects.locations.provision",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "description": "Provisions the project resource. During the process, related systems will get prepared and initialized. Caller must read the [Terms for data use](https://cloud.google.com/retail/data-use-terms), and optionally specify in request to provide consent to that service terms.",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1betaProvisionProjectRequest"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "getCmekConfig": {
              "id": "discoveryengine.projects.locations.getCmekConfig",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Resource name of CmekConfig, such as `projects/*/locations/*/cmekConfig` or `projects/*/locations/*/cmekConfigs/*`. If the caller does not have permission to access the CmekConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                  "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfig$"
                }
              },
              "description": "Gets the CmekConfig.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/cmekConfig",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1betaCmekConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1beta/{+name}",
              "httpMethod": "GET"
            },
            "updateAclConfig": {
              "id": "discoveryengine.projects.locations.updateAclConfig",
              "parameters": {
                "name": {
                  "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                  "pattern": "^projects/[^/]+/locations/[^/]+/aclConfig$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Default ACL configuration for use in a location of a customer's project. Updates will only reflect to new data stores. Existing data stores will still use the old value.",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1betaAclConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1betaAclConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/aclConfig",
              "httpMethod": "PATCH",
              "path": "v1beta/{+name}"
            },
            "updateCmekConfig": {
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/cmekConfig",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1beta/{+name}",
              "httpMethod": "PATCH",
              "id": "discoveryengine.projects.locations.updateCmekConfig",
              "parameters": {
                "name": {
                  "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfig$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "setDefault": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Set the following CmekConfig as the default to be used for child resources if one is not specified."
                }
              },
              "description": "Provisions a CMEK key for use in a location of a customer's project. This method will also conduct location validation on the provided cmekConfig to make sure the key is valid and can be used in the selected location.",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1betaCmekConfig"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "removeDedicatedCrawlRate": {
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}:removeDedicatedCrawlRate",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1beta/{+location}:removeDedicatedCrawlRate",
              "httpMethod": "POST",
              "id": "discoveryengine.projects.locations.removeDedicatedCrawlRate",
              "parameters": {
                "location": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The location resource where crawl rate management will be performed. Format: `projects/{project}/locations/{location}`",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "description": "Removes the dedicated crawl rate for a craw_rate_scope. If the dedicated crawl rate was set, this will disable vertex AI's crawl bot from using the dedicated crawl rate for crawling. If the dedicated crawl rate was not set, this is a no-op.",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateRequest"
              },
              "parameterOrder": [
                "location"
              ]
            },
            "setDedicatedCrawlRate": {
              "id": "discoveryengine.projects.locations.setDedicatedCrawlRate",
              "parameters": {
                "location": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The location resource where crawl rate management will be performed. Format: `projects/{project}/locations/{location}`",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "description": "Sets the dedicated crawl rate for a crawl_rate_scope. If the dedicated crawl rate was not set, this will enable vertex AI's crawl bot to use the new dedicated crawl rate for crawling. If the dedicated crawl rate was set, vertex AI's crawl bot will try to update the rate to the new value. If the new value is too high, the crawl bot may crawl at a lower rate to avoid overloading the user's website.",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateRequest"
              },
              "parameterOrder": [
                "location"
              ],
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}:setDedicatedCrawlRate",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1beta/{+location}:setDedicatedCrawlRate",
              "httpMethod": "POST"
            }
          },
          "resources": {
            "userEvents": {
              "methods": {
                "import": {
                  "description": "Bulk import of user events. Request processing might be synchronous. Events that already exist are skipped. Use this method for backfilling historical user events. Operation.response is of type ImportResponse. Note that it is possible for a subset of the items to be successfully inserted. Operation.metadata is of type ImportMetadata.",
                  "id": "discoveryengine.projects.locations.userEvents.import",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent DataStore resource name, of the form `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaImportUserEventsRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1beta/{+parent}/userEvents:import",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/userEvents:import"
                },
                "collect": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "discoveryengine.projects.locations.userEvents.collect",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name. If the collect user event action is applied in DataStore level, the format is: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`. If the collect user event action is applied in Location level, for example, the event with Document across multiple DataStore, the format is: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "ets": {
                      "location": "query",
                      "type": "string",
                      "format": "int64",
                      "description": "The event timestamp in milliseconds. This prevents browser caching of otherwise identical get requests. The name is abbreviated to reduce the payload bytes."
                    },
                    "uri": {
                      "description": "The URL including cgi-parameters but excluding the hash fragment with a length limit of 5,000 characters. This is often more useful than the referer URL, because many browsers only send the domain for third-party requests.",
                      "location": "query",
                      "type": "string"
                    },
                    "userEvent": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. URL encoded UserEvent proto with a length limit of 2,000,000 characters."
                    }
                  },
                  "description": "Writes a single user event from the browser. This uses a GET request to due to browser restriction of POST-ing to a third-party domain. This method is used only by the Discovery Engine API JavaScript pixel and Google Tag Manager. Users should not call this method directly.",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/userEvents:collect",
                  "httpMethod": "GET",
                  "path": "v1beta/{+parent}/userEvents:collect"
                },
                "write": {
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaUserEvent"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "discoveryengine.projects.locations.userEvents.write",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name. If the write user event action is applied in DataStore level, the format is: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`. If the write user event action is applied in Location level, for example, the event with Document across multiple DataStore, the format is: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "writeAsync": {
                      "description": "If set to true, the user event is written asynchronously after validation, and the API responds without waiting for the write.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "description": "Writes a single user event.",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaUserEvent"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/userEvents:write",
                  "httpMethod": "POST",
                  "path": "v1beta/{+parent}/userEvents:write"
                }
              }
            },
            "collections": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "id": "discoveryengine.projects.locations.collections.operations.get",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/operations/{operationsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ]
                    },
                    "list": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/operations",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "path": "v1beta/{+name}/operations",
                      "httpMethod": "GET",
                      "id": "discoveryengine.projects.locations.collections.operations.list",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The name of the operation's parent resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$"
                        },
                        "filter": {
                          "description": "The standard list filter.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The standard list page size.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list page token."
                        },
                        "returnPartialSuccess": {
                          "location": "query",
                          "type": "boolean",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                        }
                      },
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "engines": {
                  "methods": {
                    "tune": {
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaTuneEngineRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "discoveryengine.projects.locations.collections.engines.tune",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the engine to tune. Format: `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Tunes an existing Engine. Only applicable if SolutionType is SOLUTION_TYPE_RECOMMENDATION.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}:tune",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "path": "v1beta/{+name}:tune",
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes an Engine.",
                      "id": "discoveryengine.projects.locations.collections.engines.delete",
                      "parameters": {
                        "name": {
                          "description": "Required. Full resource name of Engine, such as `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`. If the caller does not have permission to delete the Engine, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the Engine to delete does not exist, a NOT_FOUND error is returned.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "setIamPolicy": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}:setIamPolicy",
                      "response": {
                        "$ref": "GoogleIamV1Policy"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "path": "v1beta/{+resource}:setIamPolicy",
                      "httpMethod": "POST",
                      "id": "discoveryengine.projects.locations.collections.engines.setIamPolicy",
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Sets the IAM access control policy for an Engine. A `NOT_FOUND` error is returned if the resource does not exist. **Important:** When setting a policy directly on an Engine resource, the only recommended roles in the bindings are: `roles/discoveryengine.admin`, `roles/discoveryengine.agentspaceAdmin`, `roles/discoveryengine.user`, `roles/discoveryengine.agentspaceUser`, `roles/discoveryengine.viewer`, `roles/discoveryengine.agentspaceViewer`. Attempting to grant any other role will result in a warning in logging.",
                      "request": {
                        "$ref": "GoogleIamV1SetIamPolicyRequest"
                      },
                      "parameterOrder": [
                        "resource"
                      ]
                    },
                    "list": {
                      "id": "discoveryengine.projects.locations.collections.engines.list",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Not supported."
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}/collections/{collection_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$"
                        },
                        "pageSize": {
                          "description": "Optional. Not supported.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Optional. Filter by solution type. For example: solution_type=SOLUTION_TYPE_SEARCH",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Lists all the Engines associated with the project.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaListEnginesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines",
                      "httpMethod": "GET",
                      "path": "v1beta/{+parent}/engines"
                    },
                    "create": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines",
                      "httpMethod": "POST",
                      "path": "v1beta/{+parent}/engines",
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaEngine"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "discoveryengine.projects.locations.collections.engines.create",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}/collections/{collection}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "engineId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The ID to use for the Engine, which will become the final component of the Engine's resource name. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an INVALID_ARGUMENT error is returned."
                        }
                      },
                      "description": "Creates an Engine."
                    },
                    "pause": {
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaPauseEngineRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "discoveryengine.projects.locations.collections.engines.pause",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the engine to pause. Format: `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$"
                        }
                      },
                      "description": "Pauses the training of an existing Engine. Only applicable if SolutionType is SOLUTION_TYPE_RECOMMENDATION.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}:pause",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaEngine"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "path": "v1beta/{+name}:pause",
                      "httpMethod": "POST"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets an Engine.",
                      "id": "discoveryengine.projects.locations.collections.engines.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Full resource name of Engine, such as `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$"
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaEngine"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}"
                    },
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaEngine"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}",
                      "httpMethod": "PATCH",
                      "path": "v1beta/{+name}",
                      "id": "discoveryengine.projects.locations.collections.engines.patch",
                      "parameters": {
                        "updateMask": {
                          "description": "Indicates which fields in the provided Engine to update. If an unsupported or unknown field is provided, an INVALID_ARGUMENT error is returned.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "description": "Immutable. Identifier. The fully qualified resource name of the engine. This field must be a UTF-8 encoded string with a length limit of 1024 characters. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}` engine should be 1-63 characters, and valid characters are /a-z0-9*/. Otherwise, an INVALID_ARGUMENT error is returned.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Updates an Engine",
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaEngine"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "resume": {
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaResumeEngineRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "discoveryengine.projects.locations.collections.engines.resume",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the engine to resume. Format: `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$"
                        }
                      },
                      "description": "Resumes the training of an existing Engine. Only applicable if SolutionType is SOLUTION_TYPE_RECOMMENDATION.",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaEngine"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}:resume",
                      "httpMethod": "POST",
                      "path": "v1beta/{+name}:resume"
                    },
                    "getIamPolicy": {
                      "parameterOrder": [
                        "resource"
                      ],
                      "id": "discoveryengine.projects.locations.collections.engines.getIamPolicy",
                      "parameters": {
                        "resource": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$"
                        },
                        "options.requestedPolicyVersion": {
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "description": "Gets the IAM access control policy for an Engine. A `NOT_FOUND` error is returned if the resource does not exist. An empty policy is returned if the resource exists but does not have a policy set on it.",
                      "response": {
                        "$ref": "GoogleIamV1Policy"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}:getIamPolicy",
                      "httpMethod": "GET",
                      "path": "v1beta/{+resource}:getIamPolicy"
                    }
                  },
                  "resources": {
                    "operations": {
                      "methods": {
                        "get": {
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/operations/{operationsId}",
                          "httpMethod": "GET",
                          "path": "v1beta/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "discoveryengine.projects.locations.collections.engines.operations.get",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "The name of the operation resource.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/operations/[^/]+$"
                            }
                          },
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                        },
                        "list": {
                          "path": "v1beta/{+name}/operations",
                          "httpMethod": "GET",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/operations",
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                          "id": "discoveryengine.projects.locations.collections.engines.operations.list",
                          "parameters": {
                            "pageToken": {
                              "description": "The standard list page token.",
                              "location": "query",
                              "type": "string"
                            },
                            "returnPartialSuccess": {
                              "location": "query",
                              "type": "boolean",
                              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                            },
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "The name of the operation's parent resource.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$"
                            },
                            "filter": {
                              "description": "The standard list filter.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "The standard list page size.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            }
                          }
                        }
                      }
                    },
                    "assistants": {
                      "methods": {
                        "streamAssist": {
                          "httpMethod": "POST",
                          "path": "v1beta/{+name}:streamAssist",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaStreamAssistResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants/{assistantsId}:streamAssist",
                          "description": "Assists the user with a query in a streaming fashion.",
                          "id": "discoveryengine.projects.locations.collections.engines.assistants.streamAssist",
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the Assistant. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/assistants/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaStreamAssistRequest"
                          }
                        },
                        "create": {
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaAssistant"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "path": "v1beta/{+parent}/assistants",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaAssistant"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "discoveryengine.projects.locations.collections.engines.assistants.create",
                          "parameters": {
                            "assistantId": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. The ID to use for the Assistant, which will become the final component of the Assistant's resource name. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) with a length limit of 63 characters."
                            },
                            "parent": {
                              "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "description": "Creates an Assistant."
                        },
                        "patch": {
                          "description": "Updates an Assistant",
                          "id": "discoveryengine.projects.locations.collections.engines.assistants.patch",
                          "parameters": {
                            "updateMask": {
                              "description": "The list of fields to update.",
                              "location": "query",
                              "type": "string",
                              "format": "google-fieldmask"
                            },
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Immutable. Resource name of the assistant. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}` It must be a UTF-8 encoded string with a length limit of 1024 characters.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/assistants/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaAssistant"
                          },
                          "httpMethod": "PATCH",
                          "path": "v1beta/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaAssistant"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants/{assistantsId}"
                        },
                        "list": {
                          "id": "discoveryengine.projects.locations.collections.engines.assistants.list",
                          "parameters": {
                            "pageToken": {
                              "description": "A page token ListAssistantsResponse.next_page_token, received from a previous AssistantService.ListAssistants call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListAssistants must match the call that provided the page token.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32",
                              "description": "Maximum number of Assistants to return. If unspecified, defaults to 100. The maximum allowed value is 1000; anything above that will be coerced down to 1000."
                            }
                          },
                          "description": "Lists all Assistants under an Engine.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaListAssistantsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants",
                          "httpMethod": "GET",
                          "path": "v1beta/{+parent}/assistants"
                        },
                        "delete": {
                          "httpMethod": "DELETE",
                          "path": "v1beta/{+name}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants/{assistantsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Deletes an Assistant.",
                          "id": "discoveryengine.projects.locations.collections.engines.assistants.delete",
                          "parameters": {
                            "name": {
                              "description": "Required. Resource name of Assistant. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}` If the caller does not have permission to delete the Assistant, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the Assistant to delete does not exist, a NOT_FOUND error is returned.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/assistants/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          }
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets an Assistant.",
                          "id": "discoveryengine.projects.locations.collections.engines.assistants.get",
                          "parameters": {
                            "name": {
                              "description": "Required. Resource name of Assistant. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/assistants/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "path": "v1beta/{+name}",
                          "httpMethod": "GET",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants/{assistantsId}",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaAssistant"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ]
                        }
                      },
                      "resources": {
                        "agents": {
                          "resources": {
                            "operations": {
                              "methods": {
                                "get": {
                                  "response": {
                                    "$ref": "GoogleLongrunningOperation"
                                  },
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform",
                                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                                  ],
                                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/assistants/{assistantsId}/agents/{agentsId}/operations/{operationsId}",
                                  "httpMethod": "GET",
                                  "path": "v1beta/{+name}",
                                  "parameterOrder": [
                                    "name"
                                  ],
                                  "id": "discoveryengine.projects.locations.collections.engines.assistants.agents.operations.get",
                                  "parameters": {
                                    "name": {
                                      "location": "path",
                                      "required": true,
                                      "type": "string",
                                      "description": "The name of the operation resource.",
                                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/assistants/[^/]+/agents/[^/]+/operations/[^/]+$"
                                    }
                                  },
                                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "servingConfigs": {
                      "methods": {
                        "patch": {
                          "path": "v1beta/{+name}",
                          "httpMethod": "PATCH",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/servingConfigs/{servingConfigsId}",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaServingConfig"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaServingConfig"
                          },
                          "description": "Updates a ServingConfig. Returns a NOT_FOUND error if the ServingConfig does not exist.",
                          "id": "discoveryengine.projects.locations.collections.engines.servingConfigs.patch",
                          "parameters": {
                            "name": {
                              "description": "Immutable. Fully qualified name `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}/servingConfigs/{serving_config_id}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "updateMask": {
                              "description": "Indicates which fields in the provided ServingConfig to update. The following are NOT supported: * ServingConfig.name If not set, all supported fields are updated.",
                              "location": "query",
                              "type": "string",
                              "format": "google-fieldmask"
                            }
                          }
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets a ServingConfig. Returns a NotFound error if the ServingConfig does not exist.",
                          "id": "discoveryengine.projects.locations.collections.engines.servingConfigs.get",
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the ServingConfig to get. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/servingConfigs/{serving_config_id}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET",
                          "path": "v1beta/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaServingConfig"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/servingConfigs/{servingConfigsId}"
                        },
                        "create": {
                          "httpMethod": "POST",
                          "path": "v1beta/{+parent}/servingConfigs",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaServingConfig"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/servingConfigs",
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaServingConfig"
                          },
                          "description": "Creates a ServingConfig. Note: The Google Cloud console works only with the default serving config. Additional ServingConfigs can be created and managed only via the API. A maximum of 100 ServingConfigs are allowed in an Engine, otherwise a RESOURCE_EXHAUSTED error is returned.",
                          "id": "discoveryengine.projects.locations.collections.engines.servingConfigs.create",
                          "parameters": {
                            "parent": {
                              "description": "Required. Full resource name of parent. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "servingConfigId": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. The ID to use for the ServingConfig, which will become the final component of the ServingConfig's resource name. This value should be 4-63 characters, and valid characters are /a-zA-Z0-9+/."
                            }
                          }
                        },
                        "recommend": {
                          "description": "Makes a recommendation, which requires a contextual user event.",
                          "id": "discoveryengine.projects.locations.collections.engines.servingConfigs.recommend",
                          "parameters": {
                            "servingConfig": {
                              "description": "Required. Full resource name of a ServingConfig: `projects/*/locations/global/collections/*/engines/*/servingConfigs/*`, or `projects/*/locations/global/collections/*/dataStores/*/servingConfigs/*` One default serving config is created along with your recommendation engine creation. The engine ID is used as the ID of the default serving config. For example, for Engine `projects/*/locations/global/collections/*/engines/my-engine`, you can use `projects/*/locations/global/collections/*/engines/my-engine/servingConfigs/my-engine` for your RecommendationService.Recommend requests.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaRecommendRequest"
                          },
                          "httpMethod": "POST",
                          "path": "v1beta/{+servingConfig}:recommend",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaRecommendResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/servingConfigs/{servingConfigsId}:recommend"
                        },
                        "searchLite": {
                          "path": "v1beta/{+servingConfig}:searchLite",
                          "httpMethod": "POST",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/servingConfigs/{servingConfigsId}:searchLite",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Performs a search. Similar to the SearchService.Search method, but a lite version that allows API key for authentication, where OAuth and IAM checks are not required. Only public website search is supported by this method. If data stores and engines not associated with public website search are specified, a `FAILED_PRECONDITION` error is returned. This method can be used for easy onboarding without having to implement an authentication backend. However, it is strongly recommended to use SearchService.Search instead with required OAuth and IAM checks to provide better data security.",
                          "id": "discoveryengine.projects.locations.collections.engines.servingConfigs.searchLite",
                          "parameters": {
                            "servingConfig": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/servingConfigs/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequest"
                          }
                        },
                        "search": {
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequest"
                          },
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "id": "discoveryengine.projects.locations.collections.engines.servingConfigs.search",
                          "parameters": {
                            "servingConfig": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/servingConfigs/[^/]+$"
                            }
                          },
                          "description": "Performs a search.",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/servingConfigs/{servingConfigsId}:search",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "path": "v1beta/{+servingConfig}:search",
                          "httpMethod": "POST"
                        },
                        "delete": {
                          "id": "discoveryengine.projects.locations.collections.engines.servingConfigs.delete",
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the ServingConfig to delete. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/servingConfigs/{serving_config_id}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "description": "Deletes a ServingConfig. Returns a NOT_FOUND error if the ServingConfig does not exist.",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/servingConfigs/{servingConfigsId}",
                          "httpMethod": "DELETE",
                          "path": "v1beta/{+name}"
                        },
                        "answer": {
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequest"
                          },
                          "description": "Answer query method.",
                          "id": "discoveryengine.projects.locations.collections.engines.servingConfigs.answer",
                          "parameters": {
                            "servingConfig": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/*/servingConfigs/default_serving_config`. Or the resource name of the agent engine serving config, such as: `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_agent_answer`. (use when `enable_agent_invocation` set to true, and you have custom `AI_MODE` agent engine configured) This field is used to identify the serving configuration name, set of models used to make the search.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/servingConfigs/[^/]+$"
                            }
                          },
                          "path": "v1beta/{+servingConfig}:answer",
                          "httpMethod": "POST",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/servingConfigs/{servingConfigsId}:answer",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ]
                        },
                        "streamAnswer": {
                          "id": "discoveryengine.projects.locations.collections.engines.servingConfigs.streamAnswer",
                          "parameters": {
                            "servingConfig": {
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/*/servingConfigs/default_serving_config`. Or the resource name of the agent engine serving config, such as: `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_agent_answer`. (use when `enable_agent_invocation` set to true, and you have custom `AI_MODE` agent engine configured) This field is used to identify the serving configuration name, set of models used to make the search.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "description": "Answer query method (streaming). It takes one AnswerQueryRequest and returns multiple AnswerQueryResponse messages in a stream.",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequest"
                          },
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/servingConfigs/{servingConfigsId}:streamAnswer",
                          "httpMethod": "POST",
                          "path": "v1beta/{+servingConfig}:streamAnswer"
                        },
                        "list": {
                          "id": "discoveryengine.projects.locations.collections.engines.servingConfigs.list",
                          "parameters": {
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListServingConfigs` call. Provide this to retrieve the subsequent page.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. Full resource name of the parent resource. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$"
                            },
                            "pageSize": {
                              "description": "Optional. Maximum number of results to return. If unspecified, defaults to 100. If a value greater than 100 is provided, at most 100 results are returned.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            }
                          },
                          "description": "Lists all ServingConfigs linked to this dataStore.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/servingConfigs",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaListServingConfigsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "path": "v1beta/{+parent}/servingConfigs",
                          "httpMethod": "GET"
                        }
                      }
                    },
                    "sessions": {
                      "resources": {
                        "answers": {
                          "methods": {
                            "get": {
                              "path": "v1beta/{+name}",
                              "httpMethod": "GET",
[...]
