{
  "protocol": "rest",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "discoveryengine:v1",
  "discoveryVersion": "v1",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "schemas": {
    "GoogleCloudDiscoveryengineV1AnswerReferenceUnstructuredDocumentInfo": {
      "type": "object",
      "properties": {
        "document": {
          "description": "Document resource name.",
          "type": "string"
        },
        "chunkContents": {
          "type": "array",
          "description": "List of cited chunk contents derived from document content.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerReferenceUnstructuredDocumentInfoChunkContent"
          }
        },
        "title": {
          "type": "string",
          "description": "Title."
        },
        "uri": {
          "description": "URI for the document.",
          "type": "string"
        },
        "structData": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The structured JSON metadata for the document. It is populated from the struct data from the Chunk in search result."
        }
      },
      "description": "Unstructured document information.",
      "id": "GoogleCloudDiscoveryengineV1AnswerReferenceUnstructuredDocumentInfo"
    },
    "GoogleCloudDiscoveryengineV1AnswerReferenceChunkInfo": {
      "description": "Chunk information.",
      "id": "GoogleCloudDiscoveryengineV1AnswerReferenceChunkInfo",
      "properties": {
        "chunk": {
          "description": "Chunk resource name.",
          "type": "string"
        },
        "relevanceScore": {
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation.",
          "format": "float",
          "type": "number"
        },
        "documentMetadata": {
          "description": "Document metadata.",
          "$ref": "GoogleCloudDiscoveryengineV1AnswerReferenceChunkInfoDocumentMetadata"
        },
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestCustomRankingParams": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestCustomRankingParams",
      "description": "Configuration parameters for the Custom Ranking feature.",
      "properties": {
        "expressionsToPrecompute": {
          "type": "array",
          "description": "Optional. A list of ranking expressions (see `ranking_expression` for the syntax documentation) to evaluate. The evaluation results will be returned in `SearchResponse.SearchResult.rank_signals.precomputed_expression_values` field.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1StreamAssistResponseInvokedSkill": {
      "properties": {
        "displayName": {
          "description": "The display name of the skill.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the skill.",
          "type": "string"
        }
      },
      "description": "Represents a skill used during the assist call.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1StreamAssistResponseInvokedSkill"
    },
    "GoogleCloudDiscoveryengineV1StreamAssistResponse": {
      "id": "GoogleCloudDiscoveryengineV1StreamAssistResponse",
      "properties": {
        "assistToken": {
          "description": "A global unique ID that identifies the current pair of request and stream of responses. Used for feedback and support.",
          "type": "string"
        },
        "invokedSkills": {
          "description": "The skills executed during the turn.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1StreamAssistResponseInvokedSkill"
          }
        },
        "connectorAuthErrors": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1StreamAssistResponseConnectorAuthError"
          },
          "description": "Per-connector authentication errors encountered during the request. Present when one or more connectors failed authentication but the request proceeded with the remaining connectors.",
          "type": "array"
        },
        "sessionInfo": {
          "description": "Session information. Only included in the final StreamAssistResponse of the response stream.",
          "$ref": "GoogleCloudDiscoveryengineV1StreamAssistResponseSessionInfo"
        },
        "answer": {
          "description": "Assist answer resource object containing parts of the assistant's final answer for the user's query. Not present if the current response doesn't add anything to previously sent AssistAnswer.replies. Observe AssistAnswer.state to see if more parts are to be expected. While the state is `IN_PROGRESS`, the AssistAnswer.replies field in each response will contain replies (reply fragments) to be appended to the ones received in previous responses. AssistAnswer.name won't be filled. If the state is `SUCCEEDED`, `FAILED` or `SKIPPED`, the response is the last response and AssistAnswer.name will have a value.",
          "$ref": "GoogleCloudDiscoveryengineV1AssistAnswer"
        },
        "invocationTools": {
          "type": "array",
          "description": "The tool names of the tools that were invoked.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response for the AssistantService.StreamAssist method."
    },
    "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigEngineFeaturesConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigEngineFeaturesConfig",
      "description": "More feature configs of the selected engine type.",
      "properties": {
        "recommendedForYouConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig",
          "description": "Recommended for you engine feature config."
        },
        "mostPopularConfig": {
          "description": "Most popular engine feature config.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigMostPopularFeatureConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ListSchemasResponse": {
      "type": "object",
      "properties": {
        "schemas": {
          "description": "The Schemas.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Schema"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListSchemasRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ListSchemasResponse",
      "description": "Response message for SchemaService.ListSchemas method."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestCustomRankingParams": {
      "description": "Configuration parameters for the Custom Ranking feature.",
      "properties": {
        "expressionsToPrecompute": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of ranking expressions (see `ranking_expression` for the syntax documentation) to evaluate. The evaluation results will be returned in `SearchResponse.SearchResult.rank_signals.precomputed_expression_values` field.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestCustomRankingParams"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestNaturalLanguageQueryUnderstandingSpec": {
      "description": "Specification to enable natural language understanding capabilities for search requests.",
      "properties": {
        "geoSearchQueryDetectionFieldNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Field names used for location-based filtering, where geolocation filters are detected in natural language search queries. Only valid when the FilterExtractionCondition is set to `ENABLED`."
        },
        "extractedFilterBehavior": {
          "description": "Optional. Controls behavior of how extracted filters are applied to the search. The default behavior depends on the request. For single datastore structured search, the default is `HARD_FILTER`. For multi-datastore search, the default behavior is `SOFT_BOOST`. Location-based filters are always applied as hard filters, and the `SOFT_BOOST` setting will not affect them. This field is only used if SearchRequest.NaturalLanguageQueryUnderstandingSpec.FilterExtractionCondition is set to FilterExtractionCondition.ENABLED.",
          "type": "string",
          "enumDescriptions": [
            "`EXTRACTED_FILTER_BEHAVIOR_UNSPECIFIED` will use the default behavior for extracted filters. For single datastore search, the default is to apply as hard filters. For multi-datastore search, the default is to apply as soft boosts.",
            "Applies all extracted filters as hard filters on the results. Results that do not pass the extracted filters will not be returned in the result set.",
            "Applies all extracted filters as soft boosts. Results that pass the filters will be boosted up to higher ranks in the result set."
          ],
          "enum": [
            "EXTRACTED_FILTER_BEHAVIOR_UNSPECIFIED",
            "HARD_FILTER",
            "SOFT_BOOST"
          ]
        },
        "allowedFieldNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Allowlist of fields that can be used for natural language filter extraction. By default, if this is unspecified, all indexable fields are eligible for natural language filter extraction (but are not guaranteed to be used). If any fields are specified in allowed_field_names, only the fields that are both marked as indexable in the schema and specified in the allowlist will be eligible for natural language filter extraction. Note: for multi-datastore search, this is not yet supported, and will be ignored."
        },
        "filterExtractionCondition": {
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Server behavior defaults to `DISABLED`.",
            "Disables NL filter extraction.",
            "Enables NL filter extraction."
          ],
          "description": "The condition under which filter extraction should occur. Server behavior defaults to `DISABLED`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestNaturalLanguageQueryUnderstandingSpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfoQueryClassificationInfo": {
      "description": "Query classification information.",
      "properties": {
        "positive": {
          "description": "Classification output.",
          "type": "boolean"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADVERSARIAL_QUERY",
            "NON_ANSWER_SEEKING_QUERY",
            "JAIL_BREAKING_QUERY",
            "NON_ANSWER_SEEKING_QUERY_V2",
            "USER_DEFINED_CLASSIFICATION_QUERY"
          ],
          "enumDescriptions": [
            "Unspecified query classification type.",
            "Adversarial query classification type.",
            "Non-answer-seeking query classification type, for chit chat.",
            "Jail-breaking query classification type.",
            "Non-answer-seeking query classification type, for no clear intent.",
            "User defined query classification type."
          ],
          "description": "Query classification type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfoQueryClassificationInfo"
    },
    "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponsePersonSuggestion": {
      "properties": {
        "dataStore": {
          "description": "The name of the dataStore that this suggestion belongs to.",
          "type": "string"
        },
        "personType": {
          "description": "The type of the person.",
          "type": "string",
          "enum": [
            "PERSON_TYPE_UNSPECIFIED",
            "CLOUD_IDENTITY",
            "THIRD_PARTY_IDENTITY",
            "GOOGLE_GROUP"
          ],
          "enumDescriptions": [
            "Default value.",
            "The suggestion is from a GOOGLE_IDENTITY source.",
            "The suggestion is from a THIRD_PARTY_IDENTITY source.",
            "The suggestion is a group (e.g. a Google Group), not an individual."
          ]
        },
        "suggestion": {
          "type": "string",
          "description": "The suggestion for the query."
        },
        "document": {
          "$ref": "GoogleCloudDiscoveryengineV1Document",
          "description": "The document data snippet in the suggestion. Only a subset of fields is populated."
        },
        "destinationUri": {
          "description": "The destination uri of the person suggestion.",
          "type": "string"
        },
        "score": {
          "format": "double",
          "description": "The score of each suggestion. The score is in the range of [0, 1].",
          "type": "number"
        },
        "displayPhotoUri": {
          "description": "The photo uri of the person suggestion.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponsePersonSuggestion",
      "type": "object",
      "description": "Suggestions as people."
    },
    "GoogleCloudDiscoveryengineV1AssistantCustomerPolicyModelArmorConfig": {
      "description": "Configuration for customer defined Model Armor templates to be used for sanitizing user prompts and assistant responses.",
      "type": "object",
      "properties": {
        "failureMode": {
          "enumDescriptions": [
            "Unspecified failure mode, default behavior is `FAIL_CLOSED`.",
            "In case of a Model Armor processing failure, the request is allowed to proceed without any changes.",
            "In case of a Model Armor processing failure, the request is rejected."
          ],
          "type": "string",
          "description": "Optional. Defines the failure mode for Model Armor sanitization.",
          "enum": [
            "FAILURE_MODE_UNSPECIFIED",
            "FAIL_OPEN",
            "FAIL_CLOSED"
          ]
        },
        "userPromptTemplate": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor template for sanitizing user prompts. Format: `projects/{project}/locations/{location}/templates/{template_id}` If not specified, no sanitization will be applied to the user prompt."
        },
        "responseTemplate": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor template for sanitizing assistant responses. Format: `projects/{project}/locations/{location}/templates/{template_id}` If not specified, no sanitization will be applied to the assistant response."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicyModelArmorConfig"
    },
    "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigOptimizationObjectiveConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigOptimizationObjectiveConfig",
      "description": "Custom threshold for `cvr` optimization_objective.",
      "properties": {
        "targetField": {
          "type": "string",
          "description": "Required. The name of the field to target. Currently supported values: `watch-percentage`, `watch-time`."
        },
        "targetFieldValueFloat": {
          "type": "number",
          "description": "Required. The threshold to be applied to the target (e.g., 0.5).",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterNumberConstraint": {
      "properties": {
        "fieldName": {
          "description": "Name of the numerical field as defined in the schema.",
          "type": "string"
        },
        "querySegment": {
          "description": "Identifies the keywords within the search query that match a filter.",
          "type": "string"
        },
        "comparison": {
          "enum": [
            "COMPARISON_UNSPECIFIED",
            "EQUALS",
            "LESS_THAN_EQUALS",
            "LESS_THAN",
            "GREATER_THAN_EQUALS",
            "GREATER_THAN"
          ],
          "enumDescriptions": [
            "Undefined comparison operator.",
            "Denotes equality `=` operator.",
            "Denotes less than or equal to `<=` operator.",
            "Denotes less than `<` operator.",
            "Denotes greater than or equal to `>=` operator.",
            "Denotes greater than `>` operator."
          ],
          "description": "The comparison operation performed between the field value and the value specified in the constraint.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "description": "The value specified in the numerical constraint.",
          "format": "double"
        }
      },
      "description": "Constraint expression of a number field. Example: price < 100.",
      "id": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterNumberConstraint",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1CreateSitemapMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1CreateSitemapMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerReferenceChunkInfo": {
      "description": "Chunk information.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceChunkInfo",
      "properties": {
        "blobAttachmentIndexes": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Stores indexes of blobattachments linked to this chunk."
        },
        "relevanceScore": {
          "type": "number",
          "format": "float",
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation."
        },
        "chunk": {
          "description": "Chunk resource name.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "Chunk textual content."
        },
        "documentMetadata": {
          "description": "Document metadata.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceChunkInfoDocumentMetadata"
        }
      },
      "type": "object"
    },
    "GoogleApiDistributionBucketOptionsExplicit": {
      "properties": {
        "bounds": {
          "description": "The values must be monotonically increasing.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "id": "GoogleApiDistributionBucketOptionsExplicit",
      "description": "Specifies a set of buckets with arbitrary widths. There are `size(bounds) + 1` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 <= i < N-1): bounds[i] Lower bound (1 <= i < N); bounds[i - 1] The `bounds` field must contain at least one element. If `bounds` has only one element, then there are no finite buckets, and that single element is the common boundary of the overflow and underflow buckets.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigNotebooklmConfig": {
      "description": "Config for connecting to NotebookLM Enterprise.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigNotebooklmConfig",
      "properties": {
        "searchConfig": {
          "type": "string",
          "description": "Required. Search config name. Format: projects/*/locations/global/notebookLmSearchConfigs/*"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchResponseSearchResult": {
      "properties": {
        "modelScores": {
          "description": "Output only. Google provided available scores.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1DoubleList"
          }
        },
        "rankSignals": {
          "description": "Optional. A set of ranking signals associated with the result.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchResponseSearchResultRankSignals"
        },
        "id": {
          "type": "string",
          "description": "Document.id of the searched Document."
        },
        "retrievalSignals": {
          "description": "Optional. A set of signals used by the relevance filter meant for use to fine-tune the relevance filter thresholds.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchResponseSearchResultRetrievalSignals"
        },
        "document": {
          "description": "The document data snippet in the search response. Only fields that are marked as `retrievable` are populated.",
          "$ref": "GoogleCloudDiscoveryengineV1Document"
        },
        "chunk": {
          "$ref": "GoogleCloudDiscoveryengineV1Chunk",
          "description": "The chunk data in the search response if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS."
        }
      },
      "description": "Represents the search results.",
      "id": "GoogleCloudDiscoveryengineV1SearchResponseSearchResult",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeResponse": {
      "description": "Response of the EstimateDataSize request. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeResponse",
      "type": "object",
      "properties": {
        "documentCount": {
          "description": "Total number of documents.",
          "type": "string",
          "format": "int64"
        },
        "dataSizeBytes": {
          "description": "Data size in terms of bytes.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig",
      "description": "Additional feature configurations for creating a `recommended-for-you` engine.",
      "properties": {
        "contextEventType": {
          "description": "The type of event with which the engine is queried at prediction time. If set to `generic`, only `view-item`, `media-play`,and `media-complete` will be used as `context-event` in engine training. If set to `view-home-page`, `view-home-page` will also be used as `context-events` in addition to `view-item`, `media-play`, and `media-complete`. Currently supported for the `recommended-for-you` engine. Currently supported values: `view-home-page`, `generic`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ListTargetSitesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "description": "The total number of items matching the request. This will always be populated in the response.",
          "format": "int32"
        },
        "targetSites": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1TargetSite"
          },
          "description": "List of TargetSites."
        }
      },
      "type": "object",
      "description": "Response message for SiteSearchEngineService.ListTargetSites method.",
      "id": "GoogleCloudDiscoveryengineV1ListTargetSitesResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigAlloyDbConfig": {
      "properties": {
        "alloydbConnectionConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigAlloyDbConfigAlloyDbConnectionConfig",
          "description": "Required. Configuration for connecting to AlloyDB."
        },
        "alloydbAiNlConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig",
          "description": "Optional. Configuration for Magic."
        },
        "returnedFields": {
          "description": "Optional. Fields to be returned in the search results. If empty, all fields will be returned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigAlloyDbConfig",
      "description": "Stores information for connecting to AlloyDB."
    },
    "GoogleCloudDiscoveryengineV1DataStoreServingConfigDataStore": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DataStoreServingConfigDataStore",
      "description": "Stores information regarding the serving configurations at DataStore level.",
      "properties": {
        "disabledForServing": {
          "type": "boolean",
          "description": "Optional. If set true, the DataStore will not be available for serving search requests."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the ImportSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec": {
      "properties": {
        "relevanceThreshold": {
          "enum": [
            "RELEVANCE_THRESHOLD_UNSPECIFIED",
            "LOWEST",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Google defined threshold.",
            "Lowest relevance threshold.",
            "Low relevance threshold.",
            "Medium relevance threshold.",
            "High relevance threshold."
          ],
          "description": "Pre-defined relevance threshold for the sub-search.",
          "type": "string"
        },
        "semanticRelevanceThreshold": {
          "format": "float",
          "type": "number",
          "description": "Custom relevance threshold for the sub-search. The value must be in [0.0, 1.0]."
        }
      },
      "type": "object",
      "description": "Specification for relevance filtering on a specific sub-search.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpec": {
      "description": "Boost specification to boost certain documents.",
      "properties": {
        "conditionBoostSpecs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpec"
          },
          "type": "array",
          "description": "Condition boost specifications. If a document matches multiple conditions in the specifications, boost scores from these specifications are all applied and combined in a non-linear way. Maximum number of specifications is 20."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultBannedPhraseEnforcementResult": {
      "properties": {
        "bannedPhrases": {
          "description": "The banned phrases that were found in the query or the answer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultBannedPhraseEnforcementResult",
      "type": "object",
      "description": "Customer policy enforcement result for the banned phrase policy."
    },
    "GoogleCloudDiscoveryengineV1FactChunk": {
      "description": "Fact Chunk.",
      "properties": {
        "domain": {
          "description": "The domain of the source.",
          "type": "string"
        },
        "uri": {
          "description": "The URI of the source.",
          "type": "string"
        },
        "index": {
          "format": "int32",
          "type": "integer",
          "description": "The index of this chunk. Currently, only used for the streaming mode."
        },
        "title": {
          "type": "string",
          "description": "The title of the source."
        },
        "source": {
          "description": "Source from which this fact chunk was retrieved. If it was retrieved from the GroundingFacts provided in the request then this field will contain the index of the specific fact from which this chunk was retrieved.",
          "type": "string"
        },
        "sourceMetadata": {
          "type": "object",
          "description": "More fine-grained information for the source reference.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "chunkText": {
          "type": "string",
          "description": "Text content of the fact chunk. Can be at most 10K characters long."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1FactChunk",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesRequestInlineSource": {
      "type": "object",
      "description": "The inline source for the input config for BatchUpdateUserLicenses method.",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. The list of fields to update."
        },
        "userLicenses": {
          "description": "Required. A list of user licenses to update. Each user license must have a valid UserLicense.user_principal.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1UserLicense"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesRequestInlineSource"
    },
    "GoogleApiDistributionBucketOptionsExponential": {
      "id": "GoogleApiDistributionBucketOptionsExponential",
      "type": "object",
      "description": "Specifies an exponential sequence of buckets that have a width that is proportional to the value of the lower bound. Each bucket represents a constant relative uncertainty on a specific value in the bucket. There are `num_finite_buckets + 2` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 <= i < N-1): scale * (growth_factor ^ i). Lower bound (1 <= i < N): scale * (growth_factor ^ (i - 1)).",
      "properties": {
        "numFiniteBuckets": {
          "type": "integer",
          "format": "int32",
          "description": "Must be greater than 0."
        },
        "growthFactor": {
          "format": "double",
          "type": "number",
          "description": "Must be greater than 1."
        },
        "scale": {
          "type": "number",
          "description": "Must be greater than 0.",
          "format": "double"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1LicenseConfigUsageStats": {
      "description": "Stats about users' licenses.",
      "type": "object",
      "properties": {
        "licenseConfig": {
          "description": "Required. The LicenseConfig name.",
          "type": "string"
        },
        "usedLicenseCount": {
          "description": "Required. The number of licenses used.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1LicenseConfigUsageStats"
    },
    "GoogleCloudDiscoveryengineV1SearchResponseSearchResultRankSignals": {
      "properties": {
        "keywordSimilarityScore": {
          "description": "Optional. Keyword matching adjustment.",
          "format": "float",
          "type": "number"
        },
        "customSignals": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchResponseSearchResultRankSignalsCustomSignal"
          },
          "description": "Optional. A list of custom clearbox signals."
        },
        "precomputedExpressionValues": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "Optional. A list of precomputed expression results for a given document, in the same order as requested in `SearchRequest.custom_ranking_params.expressions_to_precompute`.",
          "type": "array"
        },
        "semanticSimilarityScore": {
          "description": "Optional. Semantic similarity adjustment.",
          "type": "number",
          "format": "float"
        },
        "relevanceScore": {
          "type": "number",
          "description": "Optional. Semantic relevance adjustment.",
          "format": "float"
        },
        "pctrRank": {
          "description": "Optional. Predicted conversion rate adjustment as a rank.",
          "type": "number",
          "format": "float"
        },
        "defaultRank": {
          "format": "float",
          "type": "number",
          "description": "Optional. The default rank of the result."
        },
        "documentAge": {
          "format": "float",
          "description": "Optional. Age of the document in hours.",
          "type": "number"
        },
        "topicalityRank": {
          "type": "number",
          "description": "Optional. Topicality adjustment as a rank.",
          "format": "float"
        },
        "boostingFactor": {
          "format": "float",
          "type": "number",
          "description": "Optional. Combined custom boosts for a doc."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchResponseSearchResultRankSignals",
      "type": "object",
      "description": "A set of ranking signals."
    },
    "A2aV1ListTaskPushNotificationConfigResponse": {
      "type": "object",
      "properties": {
        "configs": {
          "items": {
            "$ref": "A2aV1TaskPushNotificationConfig"
          },
          "description": "The list of push notification configurations.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "A2aV1ListTaskPushNotificationConfigResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachment": {
      "description": "Stores binarydata attached to text answer, e.g. image, video, audio, etc.",
      "type": "object",
      "properties": {
        "attributionType": {
          "description": "Output only. The attribution type of the blob.",
          "enumDescriptions": [
            "Unspecified attribution type.",
            "The attachment data is from the corpus.",
            "The attachment data is generated by the model through code generation."
          ],
          "enum": [
            "ATTRIBUTION_TYPE_UNSPECIFIED",
            "CORPUS",
            "GENERATED"
          ],
          "type": "string",
          "readOnly": true
        },
        "data": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob",
          "readOnly": true,
          "description": "Output only. The mime type and data of the blob."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachment"
    },
    "GoogleCloudDiscoveryengineV1ConverseConversationRequest": {
      "description": "Request message for ConversationalSearchService.ConverseConversation method.",
      "properties": {
        "filter": {
          "type": "string",
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. This will be used to filter search results which may affect the summary response. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customer might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)"
        },
        "safeSearch": {
          "description": "Whether to turn on safe search.",
          "type": "boolean"
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details."
        },
        "boostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpec",
          "description": "Boost specification to boost certain documents in search results which may affect the converse response. For more information on boosting, see [Boosting](https://cloud.google.com/retail/docs/boosting#boost)"
        },
        "query": {
          "$ref": "GoogleCloudDiscoveryengineV1TextInput",
          "description": "Required. Current user input."
        },
        "servingConfig": {
          "description": "The resource name of the Serving Config to use. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/servingConfigs/{serving_config_id}` If this is not set, the default serving config will be used.",
          "type": "string"
        },
        "summarySpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpec",
          "description": "A specification for configuring the summary returned in the response."
        },
        "conversation": {
          "description": "The conversation to be used by auto session only. The name field will be ignored as we automatically assign new name for the conversation in auto session.",
          "$ref": "GoogleCloudDiscoveryengineV1Conversation"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ConverseConversationRequest",
      "type": "object"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "type": "object",
      "id": "GoogleLongrunningCancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "GoogleCloudDiscoveryengineV1alphaQualityMetrics": {
      "id": "GoogleCloudDiscoveryengineV1alphaQualityMetrics",
      "properties": {
        "docPrecision": {
          "description": "Precision per document, at various top-k cutoff levels. Precision is the fraction of retrieved documents that are relevant. Example (top-5): * For a single SampleQuery, If 4 out of 5 retrieved documents in the top-5 are relevant, precision@5 = 4/5 = 0.8",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics"
        },
        "pageNdcg": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics",
          "description": "Normalized discounted cumulative gain (NDCG) per page, at various top-k cutoff levels. NDCG measures the ranking quality, giving higher relevance to top results. Example (top-3): Suppose SampleQuery with three retrieved pages (P1, P2, P3) and binary relevance judgements (1 for relevant, 0 for not relevant): Retrieved: [P3 (0), P1 (1), P2 (1)] Ideal: [P1 (1), P2 (1), P3 (0)] Calculate NDCG@3 for SampleQuery: * DCG@3: 0/log2(1+1) + 1/log2(2+1) + 1/log2(3+1) = 1.13 * Ideal DCG@3: 1/log2(1+1) + 1/log2(2+1) + 0/log2(3+1) = 1.63 * NDCG@3: 1.13/1.63 = 0.693"
        },
        "docNdcg": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics",
          "description": "Normalized discounted cumulative gain (NDCG) per document, at various top-k cutoff levels. NDCG measures the ranking quality, giving higher relevance to top results. Example (top-3): Suppose SampleQuery with three retrieved documents (D1, D2, D3) and binary relevance judgements (1 for relevant, 0 for not relevant): Retrieved: [D3 (0), D1 (1), D2 (1)] Ideal: [D1 (1), D2 (1), D3 (0)] Calculate NDCG@3 for each SampleQuery: * DCG@3: 0/log2(1+1) + 1/log2(2+1) + 1/log2(3+1) = 1.13 * Ideal DCG@3: 1/log2(1+1) + 1/log2(2+1) + 0/log2(3+1) = 1.63 * NDCG@3: 1.13/1.63 = 0.693"
        },
        "pageRecall": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics",
          "description": "Recall per page, at various top-k cutoff levels. Recall is the fraction of relevant pages retrieved out of all relevant pages. Example (top-5): * For a single SampleQuery, if 3 out of 5 relevant pages are retrieved in the top-5, recall@5 = 3/5 = 0.6"
        },
        "docRecall": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics",
          "description": "Recall per document, at various top-k cutoff levels. Recall is the fraction of relevant documents retrieved out of all relevant documents. Example (top-5): * For a single SampleQuery, If 3 out of 5 relevant documents are retrieved in the top-5, recall@5 = 3/5 = 0.6"
        }
      },
      "description": "Describes the metrics produced by the evaluation.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesMetadata": {
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "successCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of user licenses successfully updated."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "failureCount": {
          "format": "int64",
          "description": "Count of user licenses that failed to be updated.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the UserLicenseService.BatchUpdateUserLicenses operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1ImportUserEventsResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ImportUserEventsResponse",
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "unjoinedEventsCount": {
          "format": "int64",
          "description": "Count of user events imported, but with Document information not found in the existing Branch.",
          "type": "string"
        },
        "errorConfig": {
          "description": "Echoes the destination for the complete errors if this field was set in the request.",
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig"
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        },
        "joinedEventsCount": {
          "description": "Count of user events imported with complete existing Documents.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaPurgeDocumentsMetadata": {
      "description": "Metadata related to the progress of the PurgeDocuments operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaPurgeDocumentsMetadata",
      "properties": {
        "successCount": {
          "description": "Count of entries that were deleted successfully.",
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "failureCount": {
          "format": "int64",
          "description": "Count of entries that encountered errors while processing.",
          "type": "string"
        },
        "ignoredCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that were ignored as entries were not found."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaTargetSite": {
      "description": "A target site for the SiteSearchEngine.",
      "properties": {
        "rootDomainUri": {
          "description": "Output only. Root domain of the provided_uri_pattern.",
          "type": "string",
          "readOnly": true
        },
        "providedUriPattern": {
          "description": "Required. Input only. The user provided URI pattern from which the `generated_uri_pattern` is generated.",
          "type": "string"
        },
        "indexingStatus": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to SUCCEEDED.",
            "The target site is in the update queue and will be picked up by indexing pipeline.",
            "The target site fails to be indexed.",
            "The target site has been indexed.",
            "The previously indexed target site has been marked to be deleted. This is a transitioning state which will resulted in either: 1. target site deleted if unindexing is successful; 2. state reverts to SUCCEEDED if the unindexing fails.",
            "The target site change is pending but cancellable.",
            "The target site change is cancelled."
          ],
          "description": "Output only. Indexing status.",
          "readOnly": true,
          "enum": [
            "INDEXING_STATUS_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "DELETING",
            "CANCELLABLE",
            "CANCELLED"
          ]
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ],
          "description": "The type of the target site, e.g., whether the site is to be included or excluded.",
          "enumDescriptions": [
            "This value is unused. In this case, server behavior defaults to Type.INCLUDE.",
            "Include the target site.",
            "Exclude the target site."
          ],
          "type": "string"
        },
        "exactMatch": {
          "description": "Immutable. If set to false, a uri_pattern is generated to include all pages whose address contains the provided_uri_pattern. If set to true, an uri_pattern is generated to try to be an exact match of the provided_uri_pattern or just the specific page if the provided_uri_pattern is a specific one. provided_uri_pattern is always normalized to generate the URI pattern to be used by the search engine.",
          "type": "boolean"
        },
        "failureReason": {
          "description": "Output only. Failure reason.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaTargetSiteFailureReason"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The target site's last updated time.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fully qualified resource name of the target site. `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine/targetSites/{target_site}` The `target_site_id` is system-generated."
        },
        "siteVerificationInfo": {
          "description": "Output only. Site ownership and validity verification status.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaSiteVerificationInfo"
        },
        "generatedUriPattern": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This is system-generated based on the provided_uri_pattern."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaTargetSite"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestSearchAddonSpec": {
      "type": "object",
      "description": "SearchAddonSpec is used to disable add-ons for search as per new repricing model. By default if the SearchAddonSpec is not specified, we consider that the customer wants to enable them wherever applicable.",
      "properties": {
        "disableGenerativeAnswerAddOn": {
          "description": "Optional. If true, generative answer add-on is disabled. Generative answer add-on includes natural language to filters and simple answers.",
          "type": "boolean"
        },
        "disableSemanticAddOn": {
          "description": "Optional. If true, semantic add-on is disabled. Semantic add-on includes embeddings and jetstream.",
          "type": "boolean"
        },
        "disableKpiPersonalizationAddOn": {
          "description": "Optional. If true, disables event re-ranking and personalization to optimize KPIs & personalize results.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchRequestSearchAddonSpec"
    },
    "GoogleCloudDiscoveryengineV1CheckGroundingResponseClaim": {
      "id": "GoogleCloudDiscoveryengineV1CheckGroundingResponseClaim",
      "properties": {
        "claimText": {
          "description": "Text for the claim in the answer candidate. Always provided regardless of whether citations or anti-citations are found.",
          "type": "string"
        },
        "citationIndices": {
          "description": "A list of indices (into 'cited_chunks') specifying the citations associated with the claim. For instance [1,3,4] means that cited_chunks[1], cited_chunks[3], cited_chunks[4] are the facts cited supporting for the claim. A citation to a fact indicates that the claim is supported by the fact.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "score": {
          "format": "double",
          "description": "Confidence score for the claim in the answer candidate, in the range of [0, 1]. This is set only when `CheckGroundingRequest.grounding_spec.enable_claim_level_score` is true.",
          "type": "number"
        },
        "groundingCheckRequired": {
          "description": "Indicates that this claim required grounding check. When the system decided this claim doesn't require attribution/grounding check, this field will be set to false. In that case, no grounding check was done for the claim and therefore citation_indices should not be returned.",
          "type": "boolean"
        },
        "startPos": {
          "description": "Position indicating the start of the claim in the answer candidate, measured in bytes. Note that this is not measured in characters and, therefore, must be rendered in the user interface keeping in mind that some characters may take more than one byte. For example, if the claim text contains non-ASCII characters, the start and end positions vary when measured in characters (programming-language-dependent) and when measured in bytes (programming-language-independent).",
          "format": "int32",
          "type": "integer"
        },
        "endPos": {
          "description": "Position indicating the end of the claim in the answer candidate, exclusive, in bytes. Note that this is not measured in characters and, therefore, must be rendered as such. For example, if the claim text contains non-ASCII characters, the start and end positions vary when measured in characters (programming-language-dependent) and when measured in bytes (programming-language-independent).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Text and citation info for a claim in the answer candidate."
    },
    "GoogleCloudDiscoveryengineV1alphaAgentGatewaySettingAgentGatewayReference": {
      "description": "Reference to an Agent Gateway resource.",
      "id": "GoogleCloudDiscoveryengineV1alphaAgentGatewaySettingAgentGatewayReference",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the agent gateway. Expected format: `projects/{project_number}/locations/{location}/agentGateways/{agent_gateway}`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AssistantGenerationConfig": {
      "id": "GoogleCloudDiscoveryengineV1AssistantGenerationConfig",
      "description": "Configuration for the generation of the assistant response.",
      "properties": {
        "allowedModelIds": {
          "type": "array",
          "description": "Optional. The list of models that are allowed to be used for assistant.",
          "items": {
            "type": "string"
          }
        },
        "defaultLanguage": {
          "description": "The default language to use for the generation of the assistant response. Use an ISO 639-1 language code such as `en`. If not specified, the language will be automatically detected.",
          "type": "string"
        },
        "systemInstruction": {
          "$ref": "GoogleCloudDiscoveryengineV1AssistantGenerationConfigSystemInstruction",
          "description": "System instruction, also known as the prompt preamble for LLM calls. See also https://cloud.google.com/vertex-ai/generative-ai/docs/learn/prompts/system-instructions"
        },
        "defaultModelId": {
          "type": "string",
          "description": "Optional. The default model to use for assistant."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservation": {
      "properties": {
        "searchResults": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResult"
          },
          "type": "array",
          "description": "Search results observed by the search action, it can be snippets info or chunk info, depending on the citation type set by the user."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservation",
      "description": "Observation."
    },
    "GoogleCloudDiscoveryengineV1SearchRequest": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1SearchRequest",
      "description": "Request message for SearchService.Search method.",
      "properties": {
        "entity": {
          "type": "string",
          "description": "Optional. The entity for customers that may run multiple different entities, domains, sites or regions, for example, \"Google US\", \"Google Ads\", \"Waymo\", \"google.com\", \"youtube.com\", etc. If this is set, it should be exactly matched with UserEvent.entity to get search results boosted by entity."
        },
        "boostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpec",
          "description": "Boost specification to boost certain documents. For more information on boosting, see [Boosting](https://cloud.google.com/generative-ai-app-builder/docs/boost-search-results)"
        },
        "dataStoreSpecs": {
          "description": "Specifications that define the specific DataStores to be searched, along with configurations for those data stores. This is only considered for Engines with multiple data stores. For engines with a single data store, the specs directly under SearchRequest should be used.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchRequestDataStoreSpec"
          },
          "type": "array"
        },
        "sessionSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestSessionSpec",
          "description": "Session specification. Can be used only when `session` is set."
        },
        "searchAddonSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestSearchAddonSpec",
          "description": "Optional. SearchAddonSpec is used to disable add-ons for search as per new repricing model. This field is only supported for search requests."
        },
        "oneBoxPageSize": {
          "description": "The maximum number of results to return for OneBox. This applies to each OneBox type individually. Default number is 10.",
          "format": "int32",
          "type": "integer"
        },
        "relevanceThreshold": {
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Google defined threshold.",
            "Lowest relevance threshold.",
            "Low relevance threshold.",
            "Medium relevance threshold.",
            "High relevance threshold."
          ],
          "enum": [
            "RELEVANCE_THRESHOLD_UNSPECIFIED",
            "LOWEST",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "type": "string",
          "description": "The global relevance threshold of the search results. Defaults to Google defined threshold, leveraging a balance of precision and recall to deliver both highly accurate results and comprehensive coverage of relevant information. If more granular relevance filtering is required, use the `relevance_filter_spec` instead. This feature is not supported for healthcare search."
        },
        "query": {
          "type": "string",
          "description": "Raw search query."
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see [Standard fields](https://cloud.google.com/apis/design/standard_fields). This field helps to better interpret the query. If a value isn't specified, the query language code is automatically detected, which may not be accurate."
        },
        "imageQuery": {
          "description": "Raw image query.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestImageQuery"
        },
        "userPseudoId": {
          "description": "Optional. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and CompleteQueryRequest.user_pseudo_id The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details."
        },
        "queryExpansionSpec": {
          "description": "The query expansion specification that specifies the conditions under which query expansion occurs.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestQueryExpansionSpec"
        },
        "searchAsYouTypeSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestSearchAsYouTypeSpec",
          "description": "Search as you type configuration. Only supported for the IndustryVertical.MEDIA vertical."
        },
        "relevanceFilterSpec": {
          "description": "Optional. The granular relevance filtering specification. If not specified, the global `relevance_threshold` will be used for all sub-searches. If specified, this overrides the global `relevance_threshold` to use thresholds on a per sub-search basis. This feature is currently supported only for custom and site search.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestRelevanceFilterSpec"
        },
        "pageToken": {
          "description": "A page token received from a previous SearchService.Search call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to SearchService.Search must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "pageCategories": {
          "type": "array",
          "description": "Optional. The categories associated with a category page. Must be set for category navigation queries to achieve good search quality. The format should be the same as PageInfo.page_category. This field is the equivalent of the query for browse (navigation) queries. It's used by the browse model when the query is empty. If the field is empty, it will not be used by the browse model. If the field contains more than one element, only the first element will be used. To represent full path of a category, use '>' character to separate different hierarchies. If '>' is part of the category name, replace it with other character(s). For example, `Graphics Cards > RTX>4090 > Founders Edition` where \"RTX > 4090\" represents one level, can be rewritten as `Graphics Cards > RTX_4090 > Founders Edition`",
          "items": {
            "type": "string"
          }
        },
        "canonicalFilter": {
          "description": "The default filter that is applied when a user performs a search without checking any filters on the search page. The filter applied to every search request when quality improvement such as query expansion is needed. In the case a query does not have a sufficient amount of results this filter will be used to determine whether or not to enable the query expansion flow. The original filter will still be used for the query expanded search. This field is strongly recommended to achieve high search quality. For more information about filter syntax, see SearchRequest.filter.",
          "type": "string"
        },
        "orderBy": {
          "description": "The order in which documents are returned. Documents can be ordered by a field in an Document object. Leave it unset if ordered by relevance. `order_by` expression is case-sensitive. For more information on ordering the website search results, see [Order web search results](https://cloud.google.com/generative-ai-app-builder/docs/order-web-search-results). For more information on ordering the healthcare search results, see [Order healthcare search results](https://cloud.google.com/generative-ai-app-builder/docs/order-hc-results). If this field is unrecognizable, an `INVALID_ARGUMENT` is returned.",
          "type": "string"
        },
        "customRankingParams": {
          "description": "Optional. Optional configuration for the Custom Ranking feature.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestCustomRankingParams"
        },
        "safeSearch": {
          "type": "boolean",
          "description": "Whether to turn on safe search. This is only supported for website search."
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of Documents to return. The maximum allowed value depends on the data type. Values above the maximum value are coerced to the maximum value. * Websites with basic indexing: Default `10`, Maximum `25`. * Websites with advanced indexing: Default `25`, Maximum `50`. * Other: Default `50`, Maximum `100`. If this field is negative, an `INVALID_ARGUMENT` is returned."
        },
        "displaySpec": {
          "description": "Optional. Config for display feature, like match highlighting on search results.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestDisplaySpec"
        },
        "filter": {
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customer might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        },
        "branch": {
          "description": "The branch resource name, such as `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/branches/0`. Use `default_branch` as the branch ID or leave this field empty, to search documents under the default branch.",
          "type": "string"
        },
        "facetSpecs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchRequestFacetSpec"
          },
          "description": "Facet specifications for faceted search. If empty, no facets are returned. A maximum of 100 values are allowed. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "array"
        },
        "naturalLanguageQueryUnderstandingSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestNaturalLanguageQueryUnderstandingSpec",
          "description": "Optional. Config for natural language query understanding capabilities, such as extracting structured field filters from the query. Refer to [this documentation](https://cloud.google.com/generative-ai-app-builder/docs/natural-language-queries) for more information. If `naturalLanguageQueryUnderstandingSpec` is not specified, no additional natural language query understanding will be done."
        },
        "rankingExpression": {
          "description": "Optional. The ranking expression controls the customized ranking on retrieval documents. This overrides ServingConfig.ranking_expression. The syntax and supported features depend on the `ranking_expression_backend` value. If `ranking_expression_backend` is not provided, it defaults to `RANK_BY_EMBEDDING`. If ranking_expression_backend is not provided or set to `RANK_BY_EMBEDDING`, it should be a single function or multiple functions that are joined by \"+\". * ranking_expression = function, { \" + \", function }; Supported functions: * double * relevance_score * double * dotProduct(embedding_field_path) Function variables: * `relevance_score`: pre-defined keywords, used for measure relevance between query and document. * `embedding_field_path`: the document embedding field used with query embedding vector. * `dotProduct`: embedding function between `embedding_field_path` and query embedding vector. Example ranking expression: If document has an embedding field doc_embedding, the ranking expression could be `0.5 * relevance_score + 0.3 * dotProduct(doc_embedding)`. If ranking_expression_backend is set to `RANK_BY_FORMULA`, the following expression types (and combinations of those chained using + or * operators) are supported: * `double` * `signal` * `log(signal)` * `exp(signal)` * `rr(signal, double > 0)` -- reciprocal rank transformation with second argument being a denominator constant. * `is_nan(signal)` -- returns 0 if signal is NaN, 1 otherwise. * `fill_nan(signal1, signal2 | double)` -- if signal1 is NaN, returns signal2 | double, else returns signal1. Here are a few examples of ranking formulas that use the supported ranking expression types: - `0.2 * semantic_similarity_score + 0.8 * log(keyword_similarity_score)` -- mostly rank by the logarithm of `keyword_similarity_score` with slight `semantic_smilarity_score` adjustment. - `0.2 * exp(fill_nan(semantic_similarity_score, 0)) + 0.3 * is_nan(keyword_similarity_score)` -- rank by the exponent of `semantic_similarity_score` filling the value with 0 if it's NaN, also add constant 0.3 adjustment to the final score if `semantic_similarity_score` is NaN. - `0.2 * rr(semantic_similarity_score, 16) + 0.8 * rr(keyword_similarity_score, 16)` -- mostly rank by the reciprocal rank of `keyword_similarity_score` with slight adjustment of reciprocal rank of `semantic_smilarity_score`. The following signals are supported: * `semantic_similarity_score`: semantic similarity adjustment that is calculated using the embeddings generated by a proprietary Google model. This score determines how semantically similar a search query is to a document. * `keyword_similarity_score`: keyword match adjustment uses the Best Match 25 (BM25) ranking function. This score is calculated using a probabilistic model to estimate the probability that a document is relevant to a given query. * `relevance_score`: semantic relevance adjustment that uses a proprietary Google model to determine the meaning and intent behind a user's query in context with the content in the documents. * `pctr_rank`: predicted conversion rate adjustment as a rank use predicted Click-through rate (pCTR) to gauge the relevance and attractiveness of a search result from a user's perspective. A higher pCTR suggests that the result is more likely to satisfy the user's query and intent, making it a valuable signal for ranking. * `freshness_rank`: freshness adjustment as a rank * `document_age`: The time in hours elapsed since the document was last updated, a floating-point number (e.g., 0.25 means 15 minutes). * `topicality_rank`: topicality adjustment as a rank. Uses proprietary Google model to determine the keyword-based overlap between the query and the document. * `base_rank`: the default rank of the result * `media_actor_match`: whether the media actor matches the query * `media_director_match`: whether the media director matches the query * `media_genre_match`: whether the media genre matches the query * `media_language_match`: whether the media language matches the query * `media_title_match`: whether the media title matches the query * `media_prefix_similarity_rank`: prefix similarity rank for media results * `media_semantic_similarity_rank`: semantic similarity rank for media results",
          "type": "string"
        },
        "userInfo": {
          "description": "Information about the end user. Highly recommended for analytics and personalization. UserInfo.user_agent is used to deduce `device_type` for analytics.",
          "$ref": "GoogleCloudDiscoveryengineV1UserInfo"
        },
        "offset": {
          "description": "A 0-indexed integer that specifies the current offset (that is, starting result location, amongst the Documents deemed by the API as relevant) in search results. This field is only considered if page_token is unset. If this field is negative, an `INVALID_ARGUMENT` is returned. A large offset may be capped to a reasonable threshold.",
          "type": "integer",
          "format": "int32"
        },
        "contentSearchSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpec",
          "description": "A specification for configuring the behavior of content search."
        },
        "session": {
          "description": "The session resource name. Optional. Session allows users to do multi-turn /search API calls or coordination between /search API calls and /answer API calls. Example #1 (multi-turn /search API calls): Call /search API with the session ID generated in the first call. Here, the previous search query gets considered in query standing. I.e., if the first query is \"How did Alphabet do in 2022?\" and the current query is \"How about 2023?\", the current query will be interpreted as \"How did Alphabet do in 2023?\". Example #2 (coordination between /search API calls and /answer API calls): Call /answer API with the session ID generated in the first call. Here, the answer generation happens in the context of the search results from the first search call.",
          "type": "string"
        },
        "crowdingSpecs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchRequestCrowdingSpec"
          },
          "description": "Optional. Crowding specifications for improving result diversity. If multiple CrowdingSpecs are specified, crowding will be evaluated on each unique combination of the `field` values, and max_count will be the maximum value of `max_count` across all CrowdingSpecs. For example, if the first CrowdingSpec has `field` = \"color\" and `max_count` = 3, and the second CrowdingSpec has `field` = \"size\" and `max_count` = 2, then after 3 documents that share the same color AND size have been returned, subsequent ones should be removed or demoted.",
          "type": "array"
        },
        "params": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Additional search parameters. For public website search only, supported values are: * `user_country_code`: string. Default empty. If set to non-empty, results are restricted or boosted based on the location provided. For example, `user_country_code: \"au\"` For available codes see [Country Codes](https://developers.google.com/custom-search/docs/json_api_reference#countryCodes) * `search_type`: double. Default empty. Enables non-webpage searching depending on the value. The only valid non-default value is 1, which enables image searching. For example, `search_type: 1`"
        },
        "rankingExpressionBackend": {
          "enum": [
            "RANKING_EXPRESSION_BACKEND_UNSPECIFIED",
            "BYOE",
            "CLEARBOX",
            "RANK_BY_EMBEDDING",
            "RANK_BY_FORMULA"
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false
          ],
          "description": "Optional. The backend to use for the ranking expression evaluation.",
          "enumDescriptions": [
            "Default option for unspecified/unknown values.",
            "Deprecated: Use `RANK_BY_EMBEDDING` instead. Ranking by custom embedding model, the default way to evaluate the ranking expression. Legacy enum option, `RANK_BY_EMBEDDING` should be used instead.",
            "Deprecated: Use `RANK_BY_FORMULA` instead. Ranking by custom formula. Legacy enum option, `RANK_BY_FORMULA` should be used instead.",
            "Ranking by custom embedding model, the default way to evaluate the ranking expression.",
            "Ranking by custom formula."
          ],
          "type": "string"
        },
        "numResultsPerDataStore": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of results to retrieve from each data store. If not specified, it will use the SearchRequest.DataStoreSpec.num_results if provided, otherwise there is no limit."
        },
        "spellCorrectionSpec": {
          "description": "The spell correction specification that specifies the mode under which spell correction takes effect.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestSpellCorrectionSpec"
        },
        "relevanceScoreSpec": {
          "description": "Optional. The specification for returning the relevance score.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestRelevanceScoreSpec"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1RankResponse": {
      "properties": {
        "records": {
          "description": "A list of records sorted by descending score.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1RankingRecord"
          },
          "type": "array"
        }
      },
      "description": "Response message for RankService.Rank method.",
      "id": "GoogleCloudDiscoveryengineV1RankResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecExtractiveContentSpec": {
      "properties": {
        "returnExtractiveSegmentScore": {
          "type": "boolean",
          "description": "Specifies whether to return the confidence score from the extractive segments in each search result. This feature is available only for new or allowlisted data stores. To allowlist your data store, contact your Customer Engineer. The default value is `false`."
        },
        "maxExtractiveAnswerCount": {
          "description": "The maximum number of extractive answers returned in each search result. An extractive answer is a verbatim answer extracted from the original document, which provides a precise and contextually relevant answer to the search query. If the number of matching answers is less than the `max_extractive_answer_count`, return all of the answers. Otherwise, return the `max_extractive_answer_count`. At most five answers are returned for each SearchResult.",
          "type": "integer",
          "format": "int32"
        },
        "numNextSegments": {
          "format": "int32",
          "type": "integer",
          "description": "Return at most `num_next_segments` segments after each selected segments."
        },
        "maxExtractiveSegmentCount": {
          "type": "integer",
          "format": "int32",
          "description": "The max number of extractive segments returned in each search result. Only applied if the DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED or DataStore.solution_types is SOLUTION_TYPE_CHAT. An extractive segment is a text segment extracted from the original document that is relevant to the search query, and, in general, more verbose than an extractive answer. The segment could then be used as input for LLMs to generate summaries and answers. If the number of matching segments is less than `max_extractive_segment_count`, return all of the segments. Otherwise, return the `max_extractive_segment_count`."
        },
        "numPreviousSegments": {
          "description": "Specifies whether to also include the adjacent from each selected segments. Return at most `num_previous_segments` segments before each selected segments.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A specification for configuring the extractive content in a search response.",
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecExtractiveContentSpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ListDocumentsResponse": {
      "properties": {
        "documents": {
          "description": "The Documents.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Document"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListDocumentsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for DocumentService.ListDocuments method.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ListDocumentsResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaDataStore": {
      "description": "DataStore captures global settings and configs at the DataStore level.",
      "properties": {
        "servingConfigDataStore": {
          "description": "Optional. Stores serving config at DataStore level.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreServingConfigDataStore"
        },
        "defaultSchemaId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The id of the default Schema associated to this data store."
        },
        "naturalLanguageQueryUnderstandingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaNaturalLanguageQueryUnderstandingConfig",
          "description": "Optional. Configuration for Natural Language Query Understanding."
        },
        "iconUri": {
          "type": "string",
          "description": "Output only. Provides the icon URI of the data store's connector source, if this is a connector-backed data store. Empty for data stores without an associated connector source. In DataStoreService.ListDataStores and DataStoreService.GetDataStore, this is only populated when DataStoreView.DATA_STORE_VIEW_FULL is requested via ListDataStoresRequest.view or GetDataStoreRequest.view respectively.",
          "readOnly": true
        },
        "identityMappingStore": {
          "description": "Immutable. The fully qualified resource name of the associated IdentityMappingStore. This field can only be set for acl_enabled DataStores with `THIRD_PARTY` or `GSUITE` IdP. Format: `projects/{project}/locations/{location}/identityMappingStores/{identity_mapping_store}`.",
          "type": "string"
        },
        "billingEstimation": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreBillingEstimation",
          "description": "Output only. Data size estimation for billing.",
          "readOnly": true
        },
        "contentConfig": {
          "enum": [
            "CONTENT_CONFIG_UNSPECIFIED",
            "NO_CONTENT",
            "CONTENT_REQUIRED",
            "PUBLIC_WEBSITE",
            "GOOGLE_WORKSPACE"
          ],
          "description": "Immutable. The content config of the data store. If this field is unset, the server behavior defaults to ContentConfig.NO_CONTENT.",
          "enumDescriptions": [
            "Default value.",
            "Only contains documents without any Document.content.",
            "Only contains documents with Document.content.",
            "The data store is used for public website search.",
            "The data store is used for workspace search. Details of workspace data store are specified in the WorkspaceConfig."
          ],
          "type": "string"
        },
        "configurableBillingApproachUpdateTime": {
          "type": "string",
          "description": "Output only. The timestamp when configurable_billing_approach was last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "kmsKeyName": {
          "description": "Input only. The KMS key to be used to protect this DataStore at creation time. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the DataStore will be protected by the KMS key, as indicated in the cmek_config field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The full resource name of the data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "idpConfig": {
          "readOnly": true,
          "description": "Output only. Data store level identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaIdpConfig"
        },
        "advancedSiteSearchConfig": {
          "description": "Optional. Configuration for advanced site search.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAdvancedSiteSearchConfig"
        },
        "configurableBillingApproach": {
          "type": "string",
          "description": "Optional. Configuration for configurable billing approach. See",
          "enumDescriptions": [
            "Default value. For Spark and non-Spark non-configurable billing approach.",
            "Use the subscription base + overage billing for indexing core for non embedding storage.",
            "Use the consumption pay-as-you-go billing for embedding storage add-on."
          ],
          "enum": [
            "CONFIGURABLE_BILLING_APPROACH_UNSPECIFIED",
            "CONFIGURABLE_SUBSCRIPTION_INDEXING_CORE",
            "CONFIGURABLE_CONSUMPTION_EMBEDDING"
          ]
        },
        "startingSchema": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSchema",
          "description": "The start schema to use for this DataStore when provisioning it. If unset, a default vertical specialized schema will be used. This field is only used by CreateDataStore API, and will be ignored if used in other APIs. This field will be omitted from all API responses including CreateDataStore API. To retrieve a schema of a DataStore, use SchemaService.GetSchema API instead. The provided schema will be validated against certain rules on schema. Learn more from [this doc](https://cloud.google.com/generative-ai-app-builder/docs/provide-schema)."
        },
        "workspaceConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaWorkspaceConfig",
          "description": "Config to store data store type configuration for workspace data. This must be set when DataStore.content_config is set as DataStore.ContentConfig.GOOGLE_WORKSPACE."
        },
        "isInfobotFaqDataStore": {
          "type": "boolean",
          "description": "Optional. If set, this DataStore is an Infobot FAQ DataStore."
        },
        "solutionTypes": {
          "type": "array",
          "description": "The solutions that the data store enrolls. Available solutions for each industry_vertical: * `MEDIA`: `SOLUTION_TYPE_RECOMMENDATION` and `SOLUTION_TYPE_SEARCH`. * `SITE_SEARCH`: `SOLUTION_TYPE_SEARCH` is automatically enrolled. Other solutions cannot be enrolled.",
          "items": {
            "enum": [
              "SOLUTION_TYPE_UNSPECIFIED",
              "SOLUTION_TYPE_RECOMMENDATION",
              "SOLUTION_TYPE_SEARCH",
              "SOLUTION_TYPE_CHAT",
              "SOLUTION_TYPE_GENERATIVE_CHAT",
              "SOLUTION_TYPE_AI_MODE"
            ],
            "enumDescriptions": [
              "Default value.",
              "Used for Recommendations AI.",
              "Used for Discovery Search.",
              "Used for use cases related to the Generative AI agent.",
              "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
              "Used for AI Mode."
            ],
            "type": "string"
          }
        },
        "documentProcessingConfig": {
          "description": "Configuration for Document understanding and enrichment.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig"
        },
        "industryVertical": {
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA",
            "HEALTHCARE_FHIR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical.",
            "The healthcare FHIR vertical."
          ],
          "description": "Immutable. The industry vertical that the data store registers."
        },
        "dataProtectionPolicy": {
          "description": "Optional. Specifies the data protection policy for the data store.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataProtectionPolicy"
        },
        "createTime": {
          "description": "Output only. Timestamp the DataStore was created at.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "cmekConfig": {
          "description": "Output only. CMEK-related information for the DataStore.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCmekConfig",
          "readOnly": true
        },
        "aclEnabled": {
          "description": "Immutable. Whether data in the DataStore has ACL information. If set to `true`, the source data must have ACL. ACL will be ingested when data is ingested by DocumentService.ImportDocuments methods. When ACL is enabled for the DataStore, Document can't be accessed by calling DocumentService.GetDocument or DocumentService.ListDocuments. Currently ACL is only supported in `GENERIC` industry vertical with non-`PUBLIC_WEBSITE` content config.",
          "type": "boolean"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaLanguageInfo",
          "description": "Language info for DataStore."
        },
        "displayName": {
          "description": "Required. The data store display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "healthcareFhirConfig": {
          "description": "Optional. Configuration for `HEALTHCARE_FHIR` vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaHealthcareFhirConfig"
        },
        "federatedSearchConfig": {
          "description": "Optional. If set, this DataStore is a federated search DataStore.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDataStore",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantContent": {
      "properties": {
        "thought": {
          "description": "Optional. Indicates if the part is thought from the model.",
          "type": "boolean"
        },
        "role": {
          "type": "string",
          "description": "The producer of the content. Can be \"model\" or \"user\"."
        },
        "codeExecutionResult": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantContentCodeExecutionResult",
          "description": "Result of executing an ExecutableCode."
        },
        "text": {
          "description": "Inline text.",
          "type": "string"
        },
        "file": {
          "description": "A file, e.g., an audio summary.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantContentFile"
        },
        "inlineData": {
          "description": "Inline binary data.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantContentBlob"
        },
        "executableCode": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantContentExecutableCode",
          "description": "Code generated by the model that is meant to be executed."
        }
      },
      "description": "Multi-modal content.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantContent"
    },
    "GoogleCloudDiscoveryengineV1SearchResponseSummary": {
      "properties": {
        "summaryWithMetadata": {
          "description": "Summary with metadata information.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchResponseSummarySummaryWithMetadata"
        },
        "summaryText": {
          "type": "string",
          "description": "The summary content."
        },
        "safetyAttributes": {
          "description": "A collection of Safety Attribute categories and their associated confidence scores.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchResponseSummarySafetyAttributes"
        },
        "summarySkippedReasons": {
          "type": "array",
          "description": "Additional summary-skipped reasons. This provides the reason for ignored cases. If nothing is skipped, this field is not set.",
          "items": {
            "enumDescriptions": [
              "Default value. The summary skipped reason is not specified.",
              "The adversarial query ignored case. Only used when SummarySpec.ignore_adversarial_query is set to `true`.",
              "The non-summary seeking query ignored case. Google skips the summary if the query is chit chat. Only used when SummarySpec.ignore_non_summary_seeking_query is set to `true`.",
              "The out-of-domain query ignored case. Google skips the summary if there are no high-relevance search results. For example, the data store contains facts about company A but the user query is asking questions about company B.",
              "The potential policy violation case. Google skips the summary if there is a potential policy violation detected. This includes content that may be violent or toxic.",
[...]
