{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf. Also view the artifacts you access through NotebookLM Enterprise."
        }
      }
    }
  },
  "id": "discoveryengine:v1",
  "servicePath": "",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "fullyEncodeReservedExpansion": true,
  "title": "Discovery Engine API",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "discoveryengine",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "version": "v1",
  "kind": "discovery#restDescription",
  "endpoints": [
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    },
    {
      "location": "in",
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://discoveryengine.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://discoveryengine.ca.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "ca"
    }
  ],
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "canonicalName": "Discovery Engine",
  "ownerName": "Google",
  "description": "Discovery Engine API.",
  "revision": "20260823",
  "schemas": {
    "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig",
      "properties": {
        "responseTemplate": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor Template for sanitizing LLM responses. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the LLM response."
        },
        "userPromptTemplate": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor Template for sanitizing user prompts. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the user prompt."
        }
      },
      "type": "object",
      "description": "Configuration for customer defined Model Armor templates to be used for sanitizing user prompts and LLM responses."
    },
    "GoogleCloudDiscoveryengineV1StreamAssistRequestAgentsSpecAgentSpec": {
      "description": "Specification of an agent.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1StreamAssistRequestAgentsSpecAgentSpec",
      "properties": {
        "agentId": {
          "type": "string",
          "description": "Required. ID to identify the agent resource serving the request. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) with a length limit of 63 characters."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSafetyRating": {
      "id": "GoogleCloudDiscoveryengineV1alphaSafetyRating",
      "description": "Safety rating corresponding to the generated content.",
      "properties": {
        "severity": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "HARM_SEVERITY_UNSPECIFIED",
            "HARM_SEVERITY_NEGLIGIBLE",
            "HARM_SEVERITY_LOW",
            "HARM_SEVERITY_MEDIUM",
            "HARM_SEVERITY_HIGH"
          ],
          "enumDescriptions": [
            "Harm severity unspecified.",
            "Negligible level of harm severity.",
            "Low level of harm severity.",
            "Medium level of harm severity.",
            "High level of harm severity."
          ],
          "description": "Output only. Harm severity levels in the content."
        },
        "severityScore": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. Harm severity score.",
          "format": "float"
        },
        "blocked": {
          "description": "Output only. Indicates whether the content was filtered out because of this rating.",
          "readOnly": true,
          "type": "boolean"
        },
        "probability": {
          "type": "string",
          "enum": [
            "HARM_PROBABILITY_UNSPECIFIED",
            "NEGLIGIBLE",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Harm probability unspecified.",
            "Negligible level of harm.",
            "Low level of harm.",
            "Medium level of harm.",
            "High level of harm."
          ],
          "description": "Output only. Harm probability levels in the content."
        },
        "category": {
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content.",
            "The harm category is civic integrity."
          ],
          "readOnly": true,
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_CIVIC_INTEGRITY"
          ],
          "description": "Output only. Harm category.",
          "type": "string"
        },
        "probabilityScore": {
          "readOnly": true,
          "format": "float",
          "type": "number",
          "description": "Output only. Harm probability score."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpec": {
      "type": "object",
      "properties": {
        "embeddingVectors": {
          "description": "The embedding vector used for retrieval. Limit to 1.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpecEmbeddingVector"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpec",
      "description": "The specification that uses customized query embedding vector to do semantic document retrieval."
    },
    "GoogleApiDistributionBucketOptionsLinear": {
      "description": "Specifies a linear sequence of buckets that all have the same width (except overflow and underflow). Each bucket represents a constant absolute uncertainty on the specific value in the bucket. There are `num_finite_buckets + 2` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 <= i < N-1): offset + (width * i). Lower bound (1 <= i < N): offset + (width * (i - 1)).",
      "properties": {
        "numFiniteBuckets": {
          "description": "Must be greater than 0.",
          "type": "integer",
          "format": "int32"
        },
        "offset": {
          "format": "double",
          "type": "number",
          "description": "Lower bound of the first bucket."
        },
        "width": {
          "description": "Must be greater than 0.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleApiDistributionBucketOptionsLinear",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1WidgetConfigUIComponentField": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1WidgetConfigUIComponentField",
      "description": "Facet field that maps to a UI Component.",
      "properties": {
        "deviceVisibility": {
          "items": {
            "enum": [
              "DEVICE_VISIBILITY_UNSPECIFIED",
              "MOBILE",
              "DESKTOP"
            ],
            "enumDescriptions": [
              "Default value when not specified. Server returns INVALID_ARGUMENT if used in requests.",
              "The UI component is visible on Mobile devices.",
              "The UI component is visible on Browser-based client."
            ],
            "type": "string"
          },
          "description": "The field visibility on different types of devices.",
          "type": "array"
        },
        "displayTemplate": {
          "type": "string",
          "description": "The template to customize how the field is displayed. An example value would be a string that looks like: \"Price: {value}\"."
        },
        "field": {
          "description": "Required. Registered field name. The format is `field.abc`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaBatchCreateTargetSiteMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.BatchCreateTargetSites operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaBatchCreateTargetSiteMetadata"
    },
    "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfig": {
      "type": "object",
      "description": "The configuration for realtime sync to store additional params for realtime sync.",
      "properties": {
        "streamingError": {
          "description": "Optional. Streaming error details.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfigStreamingError"
        },
        "webhookUri": {
          "description": "Optional. Webhook url for the connector to specify additional params for realtime sync.",
          "type": "string"
        },
        "realtimeSyncSecret": {
          "description": "Optional. The ID of the Secret Manager secret used for webhook secret.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfig"
    },
    "GoogleApiMonitoredResourceMetadata": {
      "properties": {
        "userLabels": {
          "description": "Output only. A map of user-defined metadata labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "systemLabels": {
          "description": "Output only. Values for predefined system metadata labels. System labels are a kind of metadata extracted by Google, including \"machine_image\", \"vpc\", \"subnet_id\", \"security_group\", \"name\", etc. System label values can be only strings, Boolean values, or a list of strings. For example: { \"name\": \"my-test-instance\", \"security_group\": [\"a\", \"b\", \"c\"], \"spot_instance\": false }",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "description": "Auxiliary metadata for a MonitoredResource object. MonitoredResource objects contain the minimum set of information to uniquely identify a monitored resource instance. There is some other useful auxiliary metadata. Monitoring and Logging use an ingestion pipeline to extract metadata for cloud resources of all types, and store the metadata in this message.",
      "id": "GoogleApiMonitoredResourceMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DisableAdvancedSiteSearchMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.DisableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DisableAdvancedSiteSearchMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportIdentityMappingsResponse": {
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "description": "Response message for IdentityMappingStoreService.ImportIdentityMappings",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaImportIdentityMappingsResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaCreateSchemaMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCreateSchemaMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Metadata for Create Schema LRO."
    },
    "GoogleCloudDiscoveryengineV1ChunkPageSpan": {
      "description": "Page span of the chunk.",
      "properties": {
        "pageStart": {
          "format": "int32",
          "type": "integer",
          "description": "The start page of the chunk."
        },
        "pageEnd": {
          "format": "int32",
          "type": "integer",
          "description": "The end page of the chunk."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ChunkPageSpan",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigNotebooklmConfig": {
      "type": "object",
      "description": "Config for connecting to NotebookLM Enterprise.",
      "properties": {
        "searchConfig": {
          "type": "string",
          "description": "Required. Search config name. Format: projects/*/locations/global/notebookLmSearchConfigs/*"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigNotebooklmConfig"
    },
    "GoogleCloudDiscoveryengineV1AnswerStepActionObservationSearchResult": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AnswerStepActionObservationSearchResult",
      "properties": {
        "document": {
          "description": "Document resource name.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title."
        },
        "structData": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Data representation. The structured JSON data for the document. It's populated from the struct data from the Document, or the Chunk in search result.",
          "type": "object"
        },
        "uri": {
          "type": "string",
          "description": "URI for the document."
        },
        "chunkInfo": {
          "description": "If citation_type is CHUNK_LEVEL_CITATION and chunk mode is on, populate chunk info.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerStepActionObservationSearchResultChunkInfo"
          }
        },
        "snippetInfo": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerStepActionObservationSearchResultSnippetInfo"
          },
          "type": "array",
          "description": "If citation_type is DOCUMENT_LEVEL_CITATION, populate document level snippets."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AssistantGroundedContentTextGroundingMetadataVisualSegment": {
      "id": "GoogleCloudDiscoveryengineV1AssistantGroundedContentTextGroundingMetadataVisualSegment",
      "description": "Grounding information for a visual segment.",
      "properties": {
        "contentId": {
          "type": "string",
          "description": "The content id of the visual segment. In order to display the citation of the visual element, this content_id needs to match with the `grounded_content.content_metadata.content_id` field."
        },
        "referenceIndices": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "References for the visual segment.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataReference": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataReference",
      "properties": {
        "content": {
          "type": "string",
          "description": "Referenced text content."
        },
        "chunkMetadata": {
          "description": "Output only. Generic structured chunk metadata from upstream data source connectors.",
          "readOnly": true,
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "codeSnippet": {
          "description": "Chunk of code snippet from the referenced document.",
          "type": "string"
        },
        "documentMetadata": {
          "description": "Document metadata.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataReferenceDocumentMetadata"
        }
      },
      "type": "object",
      "description": "Referenced content and related document metadata."
    },
    "GoogleCloudDiscoveryengineV1CreateSitemapMetadata": {
      "id": "GoogleCloudDiscoveryengineV1CreateSitemapMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchRequestSearchAsYouTypeSpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1SearchRequestSearchAsYouTypeSpec",
      "description": "Specification for search as you type in search requests.",
      "properties": {
        "condition": {
          "description": "The condition under which search as you type should occur. Default to Condition.DISABLED.",
          "enumDescriptions": [
            "Server behavior defaults to Condition.DISABLED.",
            "Disables Search As You Type.",
            "Enables Search As You Type.",
            "Automatic switching between search-as-you-type and standard search modes, ideal for single-API implementations (e.g., debouncing)."
          ],
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "AUTO"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesMetadata": {
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesMetadata",
      "description": "Metadata related to the progress of the ImportSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1StreamAssistRequestToolsSpecVertexAiSearchSpec": {
      "id": "GoogleCloudDiscoveryengineV1StreamAssistRequestToolsSpecVertexAiSearchSpec",
      "properties": {
        "filter": {
          "description": "Optional. The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customer might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        },
        "dataStoreSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchRequestDataStoreSpec"
          },
          "description": "Optional. Specs defining DataStores to filter on in a search call and configurations for those data stores. This is only considered for Engines with multiple data stores."
        }
      },
      "type": "object",
      "description": "Specification of the Vertex AI Search tool."
    },
    "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateResponse": {
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The state of the response.",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string"
        },
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateResponse",
      "description": "Response message for CrawlRateManagementService.RemoveDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED."
    },
    "GoogleCloudDiscoveryengineV1SearchResponseSummaryReferenceChunkContent": {
      "description": "Chunk content.",
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "description": "Chunk textual content."
        },
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchResponseSummaryReferenceChunkContent"
    },
    "GoogleCloudDiscoveryengineV1SetUpDataConnectorRequest": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1SetUpDataConnectorRequest",
      "description": "Request for DataConnectorService.SetUpDataConnector method.",
      "properties": {
        "dataConnector": {
          "description": "Required. The DataConnector to initialize in the newly created Collection.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnector"
        },
        "collectionId": {
          "description": "Required. The ID to use for the Collection, which will become the final component of the Collection's resource name. A new Collection is created as part of the DataConnector setup. DataConnector is a singleton resource under Collection, managing all DataStores of the Collection. Should conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "collectionDisplayName": {
          "type": "string",
          "description": "Required. The display name of the Collection. Should be human readable, used to display collections in the Console Dashboard. UTF-8 encoded string with limit of 1024 characters."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1RecommendRequest": {
      "id": "GoogleCloudDiscoveryengineV1RecommendRequest",
      "properties": {
        "validateOnly": {
          "description": "Use validate only mode for this recommendation query. If set to `true`, a fake model is used that returns arbitrary Document IDs. Note that the validate only mode should only be used for testing the API, or if the model is not ready.",
          "type": "boolean"
        },
        "pageSize": {
          "type": "integer",
          "description": "Maximum number of results to return. Set this property to the number of recommendation results needed. If zero, the service chooses a reasonable default. The maximum allowed value is 100. Values above 100 are set to 100.",
          "format": "int32"
        },
        "params": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Additional domain specific parameters for the recommendations. Allowed values: * `returnDocument`: Boolean. If set to `true`, the associated Document object is returned in RecommendResponse.RecommendationResult.document. * `returnScore`: Boolean. If set to true, the recommendation score corresponding to each returned Document is set in RecommendResponse.RecommendationResult.metadata. The given score indicates the probability of a Document conversion given the user's context and history. * `strictFiltering`: Boolean. True by default. If set to `false`, the service returns generic (unfiltered) popular Documents instead of empty if your filter blocks all recommendation results. * `diversityLevel`: String. Default empty. If set to be non-empty, then it needs to be one of: * `no-diversity` * `low-diversity` * `medium-diversity` * `high-diversity` * `auto-diversity` This gives request-level control and adjusts recommendation results based on Document category. * `attributeFilteringSyntax`: Boolean. False by default. If set to true, the `filter` field is interpreted according to the new, attribute-based syntax."
        },
        "userEvent": {
          "description": "Required. Context about the user, what they are looking at and what action they took to trigger the Recommend request. Note that this user event detail won't be ingested to userEvent logs. Thus, a separate userEvent write request is required for event logging. Don't set UserEvent.user_pseudo_id or UserEvent.user_info.user_id to the same fixed ID for different users. If you are trying to receive non-personalized recommendations (not recommended; this can negatively impact model performance), instead set UserEvent.user_pseudo_id to a random unique ID and leave UserEvent.user_info.user_id unset.",
          "$ref": "GoogleCloudDiscoveryengineV1UserEvent"
        },
        "filter": {
          "description": "Filter for restricting recommendation results with a length limit of 5,000 characters. Currently, only filter expressions on the `filter_tags` attribute is supported. Examples: * `(filter_tags: ANY(\"Red\", \"Blue\") OR filter_tags: ANY(\"Hot\", \"Cold\"))` * `(filter_tags: ANY(\"Red\", \"Blue\")) AND NOT (filter_tags: ANY(\"Green\"))` If `attributeFilteringSyntax` is set to true under the `params` field, then attribute-based expressions are expected instead of the above described tag-based syntax. Examples: * (language: ANY(\"en\", \"es\")) AND NOT (categories: ANY(\"Movie\")) * (available: true) AND (language: ANY(\"en\", \"es\")) OR (categories: ANY(\"Movie\")) If your filter blocks all results, the API returns generic (unfiltered) popular Documents. If you only want results strictly matching the filters, set `strictFiltering` to `true` in RecommendRequest.params to receive empty results instead. Note that the API never returns Documents with `storageStatus` as `EXPIRED` or `DELETED` regardless of filter choices.",
          "type": "string"
        },
        "userLabels": {
          "type": "object",
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Request message for Recommend method."
    },
    "GoogleCloudDiscoveryengineV1BigQuerySource": {
      "id": "GoogleCloudDiscoveryengineV1BigQuerySource",
      "type": "object",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "Required. The BigQuery data set to copy the data from with a length limit of 1,024 characters."
        },
        "dataSchema": {
          "type": "string",
          "description": "The schema to use when parsing the data from the source. Supported values for user event imports: * `user_event` (default): One UserEvent per row. Supported values for document imports: * `document` (default): One Document format per row. Each document must have a valid Document.id and one of Document.json_data or Document.struct_data. * `custom`: One custom data per row in arbitrary format that conforms to the defined Schema of the data store. This can only be used by the GENERIC Data Store vertical."
        },
        "projectId": {
          "type": "string",
          "description": "The project ID or the project number that contains the BigQuery source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request."
        },
        "tableId": {
          "description": "Required. The BigQuery table to copy the data from with a length limit of 1,024 characters.",
          "type": "string"
        },
        "gcsStagingDir": {
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the BigQuery export to a specific Cloud Storage directory.",
          "type": "string"
        },
        "partitionDate": {
          "description": "BigQuery time partitioned table's _PARTITIONDATE in YYYY-MM-DD format.",
          "$ref": "GoogleTypeDate"
        }
      },
      "description": "BigQuery source import data from."
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigEngineFeaturesConfig": {
      "properties": {
        "recommendedForYouConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig",
          "description": "Recommended for you engine feature config."
        },
        "mostPopularConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigMostPopularFeatureConfig",
          "description": "Most popular engine feature config."
        }
      },
      "type": "object",
      "description": "More feature configs of the selected engine type.",
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigEngineFeaturesConfig"
    },
    "GoogleCloudDiscoveryengineV1ListUserLicensesResponse": {
      "id": "GoogleCloudDiscoveryengineV1ListUserLicensesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "userLicenses": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1UserLicense"
          },
          "description": "All the customer's UserLicenses.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for UserLicenseService.ListUserLicenses."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec",
      "description": "Specifies features for display, like match highlighting.",
      "type": "object",
      "properties": {
        "matchHighlightingCondition": {
          "type": "string",
          "enumDescriptions": [
            "Server behavior is the same as `MATCH_HIGHLIGHTING_DISABLED`.",
            "Disables match highlighting on all documents.",
            "Enables match highlighting on all documents."
          ],
          "description": "The condition under which match highlighting should occur.",
          "enum": [
            "MATCH_HIGHLIGHTING_CONDITION_UNSPECIFIED",
            "MATCH_HIGHLIGHTING_DISABLED",
            "MATCH_HIGHLIGHTING_ENABLED"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfig": {
      "properties": {
        "optOutNotebookSharing": {
          "description": "Optional. Whether to disable the notebook sharing feature for the project. Default to false if not specified.",
          "type": "boolean"
        },
        "dataProtectionPolicy": {
          "description": "Optional. Specifies the data protection policy for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy"
        },
        "modelArmorConfig": {
          "description": "Model Armor configuration to be used for sanitizing user prompts and LLM responses.",
          "$ref": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig"
        },
        "observabilityConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ObservabilityConfig",
          "description": "Optional. Observability config for NotebookLM."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfig",
      "description": "Configuration for NotebookLM."
    },
    "GoogleCloudDiscoveryengineV1AclConfig": {
      "description": "Access Control Configuration.",
      "properties": {
        "idpConfig": {
          "description": "Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1IdpConfig"
        },
        "name": {
          "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AclConfig"
    },
    "GoogleCloudDiscoveryengineV1AnswerStepActionSearchAction": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AnswerStepActionSearchAction",
      "properties": {
        "query": {
          "type": "string",
          "description": "The query to search."
        }
      },
      "description": "Search action."
    },
    "GoogleCloudDiscoveryengineV1alphaQueryPart": {
      "description": "Represents a part or the whole of a content, used to represent a query. A query can be made up of multiple parts.",
      "id": "GoogleCloudDiscoveryengineV1alphaQueryPart",
      "properties": {
        "text": {
          "type": "string",
          "description": "Text content."
        },
        "mimeType": {
          "description": "Optional. The IANA standard MIME type of the data. See https://www.iana.org/assignments/media-types/media-types.xhtml. This field is optional. If not set, the default assumed MIME type is \"text/plain\" for the \"data\" field.",
          "type": "string"
        },
        "driveDocumentReference": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPartDriveDocumentReference",
          "description": "Reference to a Google Drive document."
        },
        "personReference": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPartPersonReference",
          "description": "Reference to a person."
        },
        "uiJsonPayload": {
          "description": "This field is expected to be a ui message in JSON format. As of Q1 2026, ui_json_payload is only supported for A2UI messages.",
          "type": "string"
        },
        "documentReference": {
          "description": "Other VAIS Document references.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPartDocumentReference"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AssistantContentExecutableCode": {
      "description": "Code generated by the model that is meant to be executed by the model.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AssistantContentExecutableCode",
      "properties": {
        "code": {
          "description": "Required. The code content. Currently only supports Python.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestSpellCorrectionSpec": {
      "type": "object",
      "description": "The specification for query spell correction.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestSpellCorrectionSpec",
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "SUGGESTION_ONLY",
            "AUTO"
          ],
          "description": "The mode under which spell correction replaces the original search query. Defaults to Mode.AUTO.",
          "enumDescriptions": [
            "Unspecified spell correction mode. In this case, server behavior defaults to Mode.AUTO.",
            "Search API tries to find a spelling suggestion. If a suggestion is found, it is put in the SearchResponse.corrected_query. The spelling suggestion won't be used as the search query.",
            "Automatic spell correction built by the Search API. Search will be based on the corrected query if found."
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaListSessionsRequest": {
      "type": "object",
      "description": "Request for ListSessions method.",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "A page token, received from a previous `ListSessions` call. Provide this to retrieve the subsequent page."
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of results to return. If unspecified, defaults to 50. Max allowed value is 1000."
        },
        "filter": {
          "type": "string",
          "description": "A comma-separated list of fields to filter by, in EBNF grammar. The supported fields are: * `user_pseudo_id` * `state` * `display_name` * `starred` * `is_pinned` * `labels` * `create_time` * `update_time` * `collaborative_project` Examples: * `user_pseudo_id = some_id` * `display_name = \"some_name\"` * `starred = true` * `is_pinned=true AND (NOT labels:hidden)` * `create_time > \"1970-01-01T12:00:00Z\"` * `collaborative_project = \"projects/123/locations/global/collections/default_collection/engines/\" \"default_engine/collaborative_projects/cp1\"`"
        },
        "parent": {
          "type": "string",
          "description": "Required. The data store resource name. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}`"
        },
        "orderBy": {
          "description": "A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * `update_time` * `create_time` * `session_name` * `is_pinned` * `display_name` Example: * `update_time desc` * `create_time` * `is_pinned desc,update_time desc`: list sessions by is_pinned first, then by update_time.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaListSessionsRequest"
    },
    "GoogleCloudDiscoveryengineV1PurgeIdentityMappingsRequest": {
      "description": "Request message for IdentityMappingStoreService.PurgeIdentityMappings",
      "id": "GoogleCloudDiscoveryengineV1PurgeIdentityMappingsRequest",
      "type": "object",
      "properties": {
        "force": {
          "type": "boolean",
          "description": "Actually performs the purge. If `force` is set to false, return the expected purge count without deleting any identity mappings. This field is only supported for purge with filter. For input source this field is ignored and data will be purged regardless of the value of this field."
        },
        "filter": {
          "description": "Filter matching identity mappings to purge. The eligible field for filtering is: * `update_time`: in ISO 8601 \"zulu\" format. * `external_id` Examples: * Deleting all identity mappings updated in a time range: `update_time > \"2012-04-23T18:25:43.511Z\" AND update_time < \"2012-04-23T18:30:43.511Z\"` * Deleting all identity mappings for a given external_id: `external_id = \"id1\"` * Deleting all identity mappings inside an identity mapping store: `*` The filtering fields are assumed to have an implicit AND. Should not be used with source. An error will be thrown, if both are provided.",
          "type": "string"
        },
        "inlineSource": {
          "$ref": "GoogleCloudDiscoveryengineV1PurgeIdentityMappingsRequestInlineSource",
          "description": "The inline source to purge identity mapping entries from."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1UserEvent": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1UserEvent",
      "properties": {
        "engine": {
          "type": "string",
          "description": "The Engine resource name, in the form of `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`. Optional. Only required for Engine produced user events. For example, user events from blended search."
        },
        "feedback": {
          "description": "Optional. This field is optional except for the `add-feedback` event types.",
          "$ref": "GoogleCloudDiscoveryengineV1Feedback"
        },
        "dataStore": {
          "type": "string",
          "description": "The DataStore resource full name, of the form `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. Optional. Only required for user events whose data store can't by determined by UserEvent.engine or UserEvent.documents. If data store is set in the parent of write/import/collect user event requests, this field can be omitted."
        },
        "eventTime": {
          "type": "string",
          "description": "Only required for UserEventService.ImportUserEvents method. Timestamp of when the user event happened.",
          "format": "google-datetime"
        },
        "filter": {
          "type": "string",
          "description": "Optional. The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. One example is for `search` events, the associated SearchRequest may contain a filter expression in SearchRequest.filter conforming to https://google.aip.dev/160#filtering. Similarly, for `view-item-list` events that are generated from a RecommendRequest, this field may be populated directly from RecommendRequest.filter conforming to https://google.aip.dev/160#filtering. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "entity": {
          "description": "Optional. Represents the entity for customers that may run multiple different entities, domains, sites or regions, for example, `Google US`, `Google Ads`, `Waymo`, `google.com`, `youtube.com`, etc. We recommend that you set `entity` to get better per-entity search, completion, and prediction results.",
          "type": "string"
        },
        "pageInfo": {
          "description": "Page metadata such as categories and other critical information for certain event types such as `view-category-page`.",
          "$ref": "GoogleCloudDiscoveryengineV1PageInfo"
        },
        "searchInfo": {
          "description": "SearchService.Search details related to the event. This field should be set for `search` event.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchInfo"
        },
        "attributes": {
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1CustomAttribute"
          },
          "description": "Extra user event features to include in the recommendation model. These attributes must NOT contain data that needs to be parsed or processed further, e.g. JSON or other encodings. If you provide custom attributes for ingested user events, also include them in the user events that you associate with prediction requests. Custom attribute formatting must be consistent between imported events and events provided with prediction requests. This lets the Discovery Engine API use those custom attributes when training models and serving predictions, which helps improve recommendation quality. This field needs to pass all below criteria, otherwise an `INVALID_ARGUMENT` error is returned: * The key must be a UTF-8 encoded string with a length limit of 5,000 characters. * For text attributes, at most 400 values are allowed. Empty values are not allowed. Each value must be a UTF-8 encoded string with a length limit of 256 characters. * For number attributes, at most 400 values are allowed. For product recommendations, an example of extra user information is `traffic_channel`, which is how a user arrives at the site. Users can arrive at the site by coming to the site directly, coming through Google search, or in other ways.",
          "type": "object"
        },
        "mediaInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1MediaInfo",
          "description": "Media-specific info."
        },
        "userInfo": {
          "description": "Information about the end user.",
          "$ref": "GoogleCloudDiscoveryengineV1UserInfo"
        },
        "attributionToken": {
          "description": "Token to attribute an API response to user action(s) to trigger the event. Highly recommended for user events that are the result of RecommendationService.Recommend. This field enables accurate attribution of recommendation model performance. The value must be one of: * RecommendResponse.attribution_token for events that are the result of RecommendationService.Recommend. * SearchResponse.attribution_token for events that are the result of SearchService.Search. This token enables us to accurately attribute page view or conversion completion back to the event and the particular predict response containing this clicked/purchased product. If user clicks on product K in the recommendation results, pass RecommendResponse.attribution_token as a URL parameter to product K's page. When recording events on product K's page, log the RecommendResponse.attribution_token to this field.",
          "type": "string"
        },
        "sessionId": {
          "description": "A unique identifier for tracking a visitor session with a length limit of 128 bytes. A session is an aggregation of an end user behavior in a time span. A general guideline to populate the session_id: 1. If user has no activity for 30 min, a new session_id should be assigned. 2. The session_id should be unique across users, suggest use uuid or add UserEvent.user_pseudo_id as prefix.",
          "type": "string"
        },
        "userPseudoId": {
          "description": "Required. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor log in/out of the website. Do not set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. The field should not contain PII or user-data. We recommend to use Google Analytics [Client ID](https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#clientId) for this field.",
          "type": "string"
        },
        "panel": {
          "description": "Panel metadata associated with this user event.",
          "$ref": "GoogleCloudDiscoveryengineV1PanelInfo"
        },
        "promotionIds": {
          "description": "The promotion IDs if this is an event associated with promotions. Currently, this field is restricted to at most one ID.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "eventType": {
          "description": "Required. User event type. Allowed values are: Generic values: * `search`: Search for Documents. * `view-item`: Detailed page view of a Document. * `view-item-list`: View of a panel or ordered list of Documents. * `view-home-page`: View of the home page. * `view-category-page`: View of a category page, e.g. Home > Men > Jeans Retail-related values: * `add-to-cart`: Add an item(s) to cart, e.g. in Retail online shopping * `purchase`: Purchase an item(s) Media-related values: * `media-play`: Start/resume watching a video, playing a song, etc. * `media-complete`: Finished or stopped midway through a video, song, etc. Custom conversion value: * `conversion`: Customer defined conversion event.",
          "type": "string"
        },
        "conversionType": {
          "type": "string",
          "description": "Optional. Conversion type. Required if UserEvent.event_type is `conversion`. This is a customer-defined conversion name in lowercase letters or numbers separated by \"-\", such as \"watch\", \"good-visit\" etc. Do not set the field if UserEvent.event_type is not `conversion`. This mixes the custom conversion event with predefined events like `search`, `view-item` etc."
        },
        "panels": {
          "description": "Optional. List of panels associated with this event. Used for page-level impression data.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1PanelInfo"
          },
          "type": "array"
        },
        "transactionInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1TransactionInfo",
          "description": "The transaction metadata (if any) associated with this user event."
        },
        "tagIds": {
          "type": "array",
          "description": "A list of identifiers for the independent experiment groups this user event belongs to. This is used to distinguish between user events associated with different experiment setups.",
          "items": {
            "type": "string"
          }
        },
        "directUserRequest": {
          "type": "boolean",
          "description": "Should set to true if the request is made directly from the end user, in which case the UserEvent.user_info.user_agent can be populated from the HTTP request. This flag should be set only if the API request is made directly from the end user such as a mobile app (and not if a gateway or a server is processing and pushing the user events). This should not be set when using the JavaScript tag in UserEventService.CollectUserEvent."
        },
        "completionInfo": {
          "description": "CompletionService.CompleteQuery details related to the event. This field should be set for `search` event when autocomplete function is enabled and the user clicks a suggestion for search.",
          "$ref": "GoogleCloudDiscoveryengineV1CompletionInfo"
        },
        "documents": {
          "type": "array",
          "description": "List of Documents associated with this user event. This field is optional except for the following event types: * `view-item` * `add-to-cart` * `purchase` * `media-play` * `media-complete` In a `search` event, this field represents the documents returned to the end user on the current page (the end user may have not finished browsing the whole page yet). When a new page is returned to the end user, after pagination/filtering/ordering even for the same query, a new `search` event with different UserEvent.documents is desired.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DocumentInfo"
          }
        }
      },
      "description": "UserEvent captures all metadata information Discovery Engine API needs to know about how end users interact with your website."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecMultiModalSpec": {
      "type": "object",
      "properties": {
        "imageSource": {
          "description": "Optional. Source of image returned in the answer.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified image source (multimodal feature is disabled by default).",
            "Behavior when service determines the pick from all available sources.",
            "Includes image from corpus in the answer.",
            "Triggers figure generation in the answer."
          ],
          "enum": [
            "IMAGE_SOURCE_UNSPECIFIED",
            "ALL_AVAILABLE_SOURCES",
            "CORPUS_IMAGE_ONLY",
            "FIGURE_GENERATION_ONLY"
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecMultiModalSpec",
      "description": "Multimodal specification: Will return an image from specified source. If multiple sources are specified, the pick is a quality based decision."
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeCompletionSuggestionsMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the PurgeCompletionSuggestions operation. This is returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeCompletionSuggestionsMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1WidgetConfigImage": {
      "id": "GoogleCloudDiscoveryengineV1WidgetConfigImage",
      "type": "object",
      "description": "Options to store an image.",
      "properties": {
        "url": {
          "description": "Image URL.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfo": {
      "properties": {
        "content": {
          "description": "Chunk textual content. It is limited to 8000 characters.",
          "type": "string"
        },
        "documentMetadata": {
          "description": "Metadata of the document from the current chunk.",
          "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfoDocumentMetadata"
        }
      },
      "type": "object",
      "description": "Chunk information.",
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfo"
    },
    "A2aV1Part": {
      "id": "A2aV1Part",
      "description": "Part represents a container for a section of communication content. Parts can be purely textual, some sort of file (image, video, etc) or a structured data blob (i.e. JSON).",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional metadata associated with this part."
        },
        "data": {
          "$ref": "A2aV1DataPart"
        },
        "text": {
          "type": "string"
        },
        "file": {
          "$ref": "A2aV1FilePart"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DataConnectorEndUserConfig": {
      "id": "GoogleCloudDiscoveryengineV1DataConnectorEndUserConfig",
      "description": "Any params and credentials used specifically for EUA connectors.",
      "type": "object",
      "properties": {
        "authParams": {
          "description": "Optional. Any authentication parameters specific to EUA connectors.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "jsonAuthParams": {
          "type": "string",
          "description": "Optional. Any authentication parameters specific to EUA connectors in json string format."
        },
        "tenant": {
          "description": "Optional. The tenant project the connector is connected to.",
          "$ref": "GoogleCloudDiscoveryengineV1Tenant"
        },
        "additionalParams": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Any additional parameters needed for EUA."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpec",
      "properties": {
        "condition": {
          "type": "string",
          "description": "An expression which specifies a boost condition. The syntax and supported fields are the same as a filter expression. See SearchRequest.filter for detail syntax and limitations. Examples: * To boost documents with document ID \"doc_1\" or \"doc_2\", and color \"Red\" or \"Blue\": `(document_id: ANY(\"doc_1\", \"doc_2\")) AND (color: ANY(\"Red\", \"Blue\"))`"
        },
        "boostControlSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpec",
          "description": "Complex specification for custom ranking based on customer defined attribute value."
        },
        "boost": {
          "description": "Strength of the condition boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the document a big promotion. However, it does not necessarily mean that the boosted document will be the top result at all times, nor that other documents will be excluded. Results could still be shown even when none of them matches the condition. And results that are significantly more relevant to the search query can still trump your heavily favored but irrelevant documents. Setting to -1.0 gives the document a big demotion. However, results that are deeply relevant might still be shown. The document will have an upstream battle to get a fairly high ranking, but it is not blocked out completely. Setting to 0.0 means no boost applied. The boosting condition is ignored. Only one of the (condition, boost) combination or the boost_control_spec below are set. If both are set then the global boost is ignored and the more fine-grained boost_control_spec is applied.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "Boost applies to documents which match a condition."
    },
    "GoogleCloudDiscoveryengineV1CheckGroundingSpec": {
      "id": "GoogleCloudDiscoveryengineV1CheckGroundingSpec",
      "description": "Specification for the grounding check.",
      "properties": {
        "citationThreshold": {
          "type": "number",
          "description": "The threshold (in [0,1]) used for determining whether a fact must be cited for a claim in the answer candidate. Choosing a higher threshold will lead to fewer but very strong citations, while choosing a lower threshold may lead to more but somewhat weaker citations. If unset, the threshold will default to 0.6.",
          "format": "double"
        },
        "enableClaimLevelScore": {
          "type": "boolean",
          "description": "The control flag that enables claim-level grounding score in the response."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResult": {
      "description": "Customer policy enforcement results. Contains the results of the various policy checks, like the banned phrases or the Model Armor checks.",
      "properties": {
        "policyResults": {
          "type": "array",
          "description": "Customer policy enforcement results. Populated only if the assist call was skipped due to a policy violation. It contains results from those filters that blocked the processing of the query.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultPolicyEnforcementResult"
          }
        },
        "verdict": {
          "enum": [
            "UNSPECIFIED",
            "ALLOW",
            "BLOCK"
          ],
          "enumDescriptions": [
            "Unknown value.",
            "There was no policy violation.",
            "Processing was blocked by the customer policy."
          ],
          "type": "string",
          "description": "Final verdict of the customer policy enforcement. If only one policy blocked the processing, the verdict is BLOCK."
        },
        "violationSource": {
          "enum": [
            "VIOLATION_SOURCE_UNSPECIFIED",
            "SYSTEM",
            "PROMPT",
            "ATTACHMENT"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown value.",
            "Violation found in the system response.",
            "Violation found in the user prompt.",
            "Violation found in the user attachment."
          ],
          "description": "Output only. The source of the violation."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResult",
      "type": "object"
    },
    "A2aV1PasswordOAuthFlow": {
      "type": "object",
      "properties": {
        "tokenUrl": {
          "description": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "scopes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "type": "object"
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        }
      },
      "id": "A2aV1PasswordOAuthFlow"
    },
    "GoogleCloudDiscoveryengineV1DeleteSitemapMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DeleteSitemapMetadata"
    },
    "GoogleCloudDiscoveryengineV1ImportCompletionSuggestionsResponse": {
      "description": "Response of the CompletionService.ImportCompletionSuggestions method. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful.",
      "properties": {
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig"
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ImportCompletionSuggestionsResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries": {
      "description": "The historical crawl rate timeseries data, used for monitoring.",
      "id": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
      "properties": {
        "qpsTimeSeries": {
          "description": "The QPS of the crawl rate.",
          "$ref": "GoogleMonitoringV3TimeSeries"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DynamicTool": {
      "description": "Configuration for dynamic tools.",
      "id": "GoogleCloudDiscoveryengineV1DynamicTool",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the tool."
        },
        "displayName": {
          "description": "Optional. The display name of the tool.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Whether the tool is enabled.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the tool."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ListIdentityMappingsResponse": {
      "id": "GoogleCloudDiscoveryengineV1ListIdentityMappingsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "identityMappingEntries": {
          "description": "The Identity Mapping Entries.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1IdentityMappingEntry"
          },
          "type": "array"
        }
      },
      "description": "Response message for IdentityMappingStoreService.ListIdentityMappings"
    },
    "GoogleCloudDiscoveryengineV1AnswerGenerationSpec": {
      "description": "The specification for answer generation.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AnswerGenerationSpec",
      "properties": {
        "userDefinedClassifierSpec": {
          "description": "Optional. The specification for user specified classifier spec.",
          "$ref": "GoogleCloudDiscoveryengineV1AnswerGenerationSpecUserDefinedClassifierSpec"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AssistAnswerReply": {
      "id": "GoogleCloudDiscoveryengineV1AssistAnswerReply",
      "properties": {
        "groundedContent": {
          "$ref": "GoogleCloudDiscoveryengineV1AssistantGroundedContent",
          "description": "Possibly grounded response text or media from the assistant."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the reply was created."
        }
      },
      "description": "One part of the multi-part response of the assist call.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1Assistant": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1Assistant",
      "description": "Discovery Engine Assistant resource.",
      "properties": {
        "updateTime": {
          "description": "Output only. Represents the time when this Assistant was most recently updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "enabledTools": {
          "description": "Optional. Note: not implemented yet. Use enabled_actions instead. The enabled tools on this assistant. The keys are connector name, for example \"projects/{projectId}/locations/{locationId}/collections/{collectionId}/dataconnector The values consist of admin enabled tools towards the connector instance. Admin can selectively enable multiple tools on any of the connector instances that they created in the project. For example {\"jira1ConnectorName\": [(toolId1, \"createTicket\"), (toolId2, \"transferTicket\")], \"gmail1ConnectorName\": [(toolId3, \"sendEmail\"),..] }",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1AssistantToolList"
          },
          "type": "object"
        },
        "name": {
          "description": "Immutable. Resource name of the assistant. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}` It must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "generationConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1AssistantGenerationConfig",
          "description": "Optional. Configuration for the generation of the assistant response."
        },
        "description": {
          "description": "Optional. Description for additional information. Expected to be shown on the configuration UI, not to the users of the assistant.",
          "type": "string"
        },
        "defaultWebGroundingToggleOff": {
          "type": "boolean",
          "description": "Optional. This field controls the default web grounding toggle for end users if `web_grounding_type` is set to `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`. By default, this field is set to false. If `web_grounding_type` is `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`, end users will have web grounding enabled by default on UI. If true, grounding toggle will be disabled by default on UI. End users can still enable web grounding in the UI if web grounding is enabled."
        },
        "webGroundingType": {
          "type": "string",
          "description": "Optional. The type of web grounding to use.",
          "enum": [
            "WEB_GROUNDING_TYPE_UNSPECIFIED",
            "WEB_GROUNDING_TYPE_DISABLED",
            "WEB_GROUNDING_TYPE_GOOGLE_SEARCH",
            "WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH"
          ],
          "enumDescriptions": [
            "Default, unspecified setting. This is the same as disabled.",
            "Web grounding is disabled.",
            "Grounding with Google Search is enabled.",
            "Grounding with Enterprise Web Search is enabled."
          ]
        },
        "displayName": {
          "description": "Required. The assistant display name. It must be a UTF-8 encoded string with a length limit of 128 characters.",
          "type": "string"
        },
        "customerPolicy": {
          "description": "Optional. Customer policy for the assistant.",
          "$ref": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicy"
        },
        "createTime": {
          "description": "Output only. Represents the time when this Assistant was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1CheckGroundingRequest": {
      "id": "GoogleCloudDiscoveryengineV1CheckGroundingRequest",
      "type": "object",
      "properties": {
        "facts": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1GroundingFact"
          },
          "type": "array",
          "description": "List of facts for the grounding check. We support up to 200 facts."
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "type": "object"
        },
        "answerCandidate": {
          "description": "Answer candidate to check. It can have a maximum length of 4096 tokens.",
          "type": "string"
        },
        "groundingSpec": {
          "description": "Configuration of the grounding check.",
          "$ref": "GoogleCloudDiscoveryengineV1CheckGroundingSpec"
        }
      },
      "description": "Request message for GroundedGenerationService.CheckGrounding method."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpecBoostControlSpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpecBoostControlSpec",
      "properties": {
        "controlPoints": {
          "description": "The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "type": "array"
        },
        "interpolationType": {
          "type": "string",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "description": "The interpolation type to be applied to connect the control points listed below."
        },
        "attributeType": {
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. For example, `5D`, `3DT12H30M`, `T24H`."
          ],
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "type": "string",
          "description": "The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value)."
        },
        "fieldName": {
          "description": "The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        }
      },
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above."
    },
    "GoogleCloudDiscoveryengineV1Citation": {
      "description": "Source attributions for content.",
      "id": "GoogleCloudDiscoveryengineV1Citation",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Output only. Url reference of the attribution.",
          "type": "string",
          "readOnly": true
        },
        "title": {
          "description": "Output only. Title of the attribution.",
          "readOnly": true,
          "type": "string"
        },
        "license": {
          "description": "Output only. License of the attribution.",
          "readOnly": true,
          "type": "string"
        },
        "publicationDate": {
          "$ref": "GoogleTypeDate",
          "description": "Output only. Publication date of the attribution.",
          "readOnly": true
        },
        "startIndex": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Start index into the content."
        },
        "endIndex": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. End index into the content."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaWorkspaceConfig": {
      "properties": {
        "dasherCustomerId": {
          "description": "Output only. Obfuscated Dasher customer ID. Derived by the server from the project's GCP organization at data store creation time; any value supplied in the request payload is ignored.",
          "type": "string",
          "readOnly": true
        },
        "superAdminEmailAddress": {
          "type": "string",
          "description": "Optional. The super admin email address for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion."
        },
        "type": {
          "type": "string",
          "description": "The Google Workspace data source.",
          "enumDescriptions": [
            "Defaults to an unspecified Workspace type.",
            "Workspace Data Store contains Drive data",
            "Workspace Data Store contains Mail data",
            "Workspace Data Store contains Sites data",
            "Workspace Data Store contains Calendar data",
            "Workspace Data Store contains Chat data",
            "Workspace Data Store contains Groups data",
            "Workspace Data Store contains Keep data",
            "Workspace Data Store contains People data",
            "Workspace Data Store contains all Workspace apps data"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DRIVE",
            "GOOGLE_MAIL",
            "GOOGLE_SITES",
            "GOOGLE_CALENDAR",
            "GOOGLE_CHAT",
            "GOOGLE_GROUPS",
            "GOOGLE_KEEP",
            "GOOGLE_PEOPLE",
            "GOOGLE_WORKSPACE"
          ]
        },
        "superAdminServiceAccount": {
          "type": "string",
          "description": "Optional. The super admin service account for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion."
        }
      },
      "description": "Config to store data store type configuration for workspace data",
      "id": "GoogleCloudDiscoveryengineV1betaWorkspaceConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ImportUserEventsRequest": {
      "id": "GoogleCloudDiscoveryengineV1ImportUserEventsRequest",
      "properties": {
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import. Cannot be set for inline user event imports.",
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig"
        },
        "gcsSource": {
          "$ref": "GoogleCloudDiscoveryengineV1GcsSource",
          "description": "Cloud Storage location for the input content."
        },
        "bigquerySource": {
          "$ref": "GoogleCloudDiscoveryengineV1BigQuerySource",
          "description": "BigQuery input source."
        },
        "inlineSource": {
          "$ref": "GoogleCloudDiscoveryengineV1ImportUserEventsRequestInlineSource",
          "description": "The Inline source for the input content for UserEvents."
        }
      },
      "type": "object",
      "description": "Request message for the ImportUserEvents request."
    },
    "GoogleCloudDiscoveryengineV1BAPConfig": {
      "description": "The configuration for the BAP connector.",
      "type": "object",
      "properties": {
        "supportedConnectorModes": {
          "description": "Required. The supported connector modes for the associated BAP connection.",
          "items": {
            "type": "string",
            "enum": [
              "CONNECTOR_MODE_UNSPECIFIED",
              "DATA_INGESTION",
              "ACTIONS",
              "END_USER_AUTHENTICATION"
            ],
            "enumDescriptions": [
              "Connector mode unspecified.",
              "Connector utilized for data ingestion.",
              "Connector utilized for Actions",
              "Connector utilized for End User Authentication."
            ]
          },
          "type": "array"
        },
        "enabledActions": {
          "type": "array",
          "description": "Optional. The actions enabled on the associated BAP connection.",
          "items": {
            "type": "string"
          }
        },
        "toolspecOverride": {
          "description": "Optional. Custom toolspec overrides for this connection. For Enterprise BAP connectors that support admin-curated tool definitions, this holds the (simplified) per-tool overrides. On Get, populated by the server by merging persisted overrides with live runtime tool definitions and trimming the result for UI consumption. On Update, the supplied value replaces the persisted overrides after server-side validation and merging: the `base_version` field MUST match the server's current base toolspec version (otherwise the request is rejected with a user-facing error directing the admin to re-download the latest tools first).",
          "$ref": "GoogleCloudDiscoveryengineV1BAPConfigToolspecOverride"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1BAPConfig"
    },
    "GoogleCloudDiscoveryengineV1ListAssistantsResponse": {
      "description": "Response message for the AssistantService.ListAssistants method.",
      "properties": {
        "assistants": {
          "type": "array",
          "description": "All the customer's Assistants.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Assistant"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAssistantsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ListAssistantsResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaProject": {
      "id": "GoogleCloudDiscoveryengineV1alphaProject",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp when this project is created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "provisionCompletionTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when this project is successfully provisioned. Empty value means this project is still provisioning and is not ready for use.",
          "format": "google-datetime"
        },
        "configurableBillingStatus": {
          "readOnly": true,
          "description": "Output only. The current status of the project's configurable billing.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatus"
        },
        "customerProvidedConfig": {
          "description": "Optional. Customer provided configurations.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfig"
        },
        "name": {
          "type": "string",
          "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number.",
          "readOnly": true
        },
        "serviceTermsMap": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProjectServiceTerms"
          },
          "description": "Output only. A map of terms of services. The key is the `id` of ServiceTerms."
        }
      },
      "description": "Metadata and configurations for a Google Cloud project in the service."
    },
    "GoogleCloudDiscoveryengineV1alphaQueryPartDriveDocumentReference": {
      "id": "GoogleCloudDiscoveryengineV1alphaQueryPartDriveDocumentReference",
      "properties": {
        "destinationUri": {
          "description": "The destination uri of the reference.",
          "type": "string"
        },
        "fileId": {
          "description": "Output only. The file id of the Drive document data stored in the session context files.",
          "type": "string",
          "readOnly": true
        },
        "displayTitle": {
          "type": "string",
          "description": "The display title of the reference."
        },
        "driveId": {
          "type": "string",
          "description": "The Drive id of the document."
        },
        "iconUri": {
          "type": "string",
          "description": "The icon uri of the Drive document reference."
        },
        "documentName": {
          "description": "The full resource name of the document. Format: `projects/*/locations/*/collections/*/dataStores/*/branches/*/documents/*`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a Google Drive document reference."
    },
    "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponseRecentSearchSuggestion": {
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "format": "double",
          "description": "The score of each suggestion. The score is in the range of [0, 1]."
        },
        "recentSearchTime": {
          "format": "google-datetime",
          "description": "The time when this recent rearch happened.",
          "type": "string"
        },
        "suggestion": {
          "type": "string",
          "description": "The suggestion for the query."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponseRecentSearchSuggestion",
      "description": "Suggestions from recent search history."
    },
    "GoogleCloudDiscoveryengineV1UpdateCmekConfigMetadata": {
      "id": "GoogleCloudDiscoveryengineV1UpdateCmekConfigMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the CmekConfigService.UpdateCmekConfig operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpec": {
      "type": "object",
      "properties": {
        "summarySpec": {
          "description": "If `summarySpec` is not specified, summaries are not included in the search response.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpec"
        },
        "chunkSpec": {
          "description": "Specifies the chunk spec to be returned from the search response. Only available if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecChunkSpec"
        },
        "searchResultMode": {
          "description": "Specifies the search result mode. If unspecified, the search result mode defaults to `DOCUMENTS`.",
          "enum": [
            "SEARCH_RESULT_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Returns documents in the search result.",
            "Returns chunks in the search result. Only available if the DocumentProcessingConfig.chunking_config is specified."
          ]
        },
        "snippetSpec": {
          "description": "If `snippetSpec` is not specified, snippets are not included in the search response.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSnippetSpec"
        },
        "extractiveContentSpec": {
          "description": "If there is no extractive_content_spec provided, there will be no extractive answer in the search response.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecExtractiveContentSpec"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpec",
      "description": "A specification for configuring the behavior of content search."
    },
    "GoogleCloudDiscoveryengineV1SearchRequestImageQuery": {
      "description": "Specifies the image query input.",
      "properties": {
        "imageBytes": {
          "description": "Base64 encoded image bytes. Supported image formats: JPEG, PNG, and BMP.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1SearchRequestImageQuery"
    },
    "GoogleCloudDiscoveryengineV1betaImportErrorConfig": {
      "description": "Configuration of destination for Import related errors.",
      "id": "GoogleCloudDiscoveryengineV1betaImportErrorConfig",
      "type": "object",
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1BatchCreateTargetSitesResponse": {
      "description": "Response message for SiteSearchEngineService.BatchCreateTargetSites method.",
      "properties": {
        "targetSites": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1TargetSite"
          },
          "type": "array",
          "description": "TargetSites created."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1BatchCreateTargetSitesResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchResponse",
      "type": "object",
      "properties": {},
      "description": "Response message for SiteSearchEngineService.EnableAdvancedSiteSearch method."
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment": {
      "properties": {
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        },
        "content": {
          "description": "Extractive segment content.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment",
      "type": "object",
      "description": "Extractive segment. [Guide](https://cloud.google.com/generative-ai-app-builder/docs/snippets#extractive-segments) Answer generation will only use it if document_contexts is empty. This is supposed to be shorter snippets."
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchParams": {
      "type": "object",
      "properties": {
        "maxReturnResults": {
          "format": "int32",
          "description": "Number of search results to return. The default value is 10.",
          "type": "integer"
        },
        "filter": {
          "type": "string",
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. This will be used to filter search results which may affect the Answer response. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customers might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)"
        },
        "orderBy": {
          "description": "The order in which documents are returned. Documents can be ordered by a field in an Document object. Leave it unset if ordered by relevance. `order_by` expression is case-sensitive. For more information on ordering, see [Ordering](https://cloud.google.com/retail/docs/filter-and-order#order) If this field is unrecognizable, an `INVALID_ARGUMENT` is returned.",
          "type": "string"
        },
        "boostSpec": {
          "description": "Boost specification to boost certain documents in search results which may affect the answer query response. For more information on boosting, see [Boosting](https://cloud.google.com/retail/docs/boosting#boost)",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpec"
        },
        "searchResultMode": {
          "type": "string",
          "enum": [
            "SEARCH_RESULT_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "enumDescriptions": [
            "Default value.",
            "Returns documents in the search result.",
            "Returns chunks in the search result. Only available if the DocumentProcessingConfig.chunking_config is specified."
          ],
          "description": "Specifies the search result mode. If unspecified, the search result mode defaults to `DOCUMENTS`. See [parse and chunk documents](https://cloud.google.com/generative-ai-app-builder/docs/parse-chunk-documents)"
        },
        "dataStoreSpecs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchRequestDataStoreSpec"
          },
          "description": "Specs defining dataStores to filter on in a search call and configurations for those dataStores. This is only considered for engines with multiple dataStores use case. For single dataStore within an engine, they should use the specs at the top level.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchParams",
      "description": "Search parameters."
    },
    "GoogleCloudDiscoveryengineV1BatchCreateTargetSitesRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1CreateTargetSiteRequest"
          },
          "description": "Required. The request message specifying the resources to create. A maximum of 20 TargetSites can be created in a batch."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1BatchCreateTargetSitesRequest",
[...]
