{
  "ownerDomain": "google.com",
  "version": "v1beta",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "description": "Discovery Engine API.",
  "servicePath": "",
  "ownerName": "Google",
  "basePath": "",
  "id": "discoveryengine:v1beta",
  "revision": "20260831",
  "batchPath": "batch",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf. Also view the artifacts you access through NotebookLM Enterprise."
        }
      }
    }
  },
  "protocol": "rest",
  "schemas": {
    "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfig",
      "properties": {
        "optOutNotebookSharing": {
          "type": "boolean",
          "description": "Optional. Whether to disable the notebook sharing feature for the project. Default to false if not specified."
        },
        "observabilityConfig": {
          "description": "Optional. Observability config for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1betaObservabilityConfig"
        },
        "dataProtectionPolicy": {
          "description": "Optional. Specifies the data protection policy for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy"
        },
        "modelArmorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig",
          "description": "Model Armor configuration to be used for sanitizing user prompts and LLM responses."
        }
      },
      "description": "Configuration for NotebookLM."
    },
    "GoogleCloudDiscoveryengineV1betaObtainCrawlRateResponse": {
      "description": "Response message for CrawlRateManagementService.ObtainCrawlRate method. The response contains organcic or dedicated crawl rate time series data for monitoring, depending on whether dedicated crawl rate is set.",
      "id": "GoogleCloudDiscoveryengineV1betaObtainCrawlRateResponse",
      "type": "object",
      "properties": {
        "dedicatedCrawlRateTimeSeries": {
          "description": "The historical dedicated crawl rate timeseries data, used for monitoring.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDedicatedCrawlRateTimeSeries"
        },
        "state": {
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the response.",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        },
        "organicCrawlRateTimeSeries": {
          "$ref": "GoogleCloudDiscoveryengineV1betaOrganicCrawlRateTimeSeries",
          "description": "The historical organic crawl rate timeseries data, used for monitoring."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportSampleQueriesRequestInlineSource": {
      "properties": {
        "sampleQueries": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSampleQuery"
          },
          "description": "Required. A list of SampleQuerys to import. Max of 1000 items.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaImportSampleQueriesRequestInlineSource",
      "description": "The inline source for SampleQuerys."
    },
    "GoogleCloudDiscoveryengineV1betaProject": {
      "id": "GoogleCloudDiscoveryengineV1betaProject",
      "type": "object",
      "description": "Metadata and configurations for a Google Cloud project in the service.",
      "properties": {
        "configurableBillingStatus": {
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatus",
          "description": "Output only. The current status of the project's configurable billing.",
          "readOnly": true
        },
        "provisionCompletionTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when this project is successfully provisioned. Empty value means this project is still provisioning and is not ready for use."
        },
        "customerProvidedConfig": {
          "description": "Optional. Customer provided configurations.",
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfig"
        },
        "serviceTermsMap": {
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1betaProjectServiceTerms"
          },
          "readOnly": true,
          "description": "Output only. A map of terms of services. The key is the `id` of ServiceTerms.",
          "type": "object"
        },
        "name": {
          "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when this project is created.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSchema": {
      "id": "GoogleCloudDiscoveryengineV1alphaSchema",
      "description": "Defines the structure and layout of a type of document data.",
      "type": "object",
      "properties": {
        "fieldConfigs": {
          "description": "Output only. Configurations for fields of the schema.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaFieldConfig"
          }
        },
        "structSchema": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The structured representation of the schema.",
          "type": "object"
        },
        "jsonSchema": {
          "type": "string",
          "description": "The JSON representation of the schema."
        },
        "name": {
          "description": "Immutable. The full resource name of the schema, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/schemas/{schema}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequestBoostSpecConditionBoostSpec": {
      "properties": {
        "boost": {
          "type": "number",
          "description": "Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the suggestions a big promotion. However, it does not necessarily mean that the top result will be a boosted suggestion. Setting to -1.0 gives the suggestions a big demotion. However, other suggestions that are relevant might still be shown. Setting to 0.0 means no boost applied. The boosting condition is ignored.",
          "format": "float"
        },
        "condition": {
          "description": "An expression which specifies a boost condition. The syntax is the same as [filter expression syntax](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata#filter-expression-syntax). Currently, the only supported condition is a list of BCP-47 lang codes. Example: * To boost suggestions in languages `en` or `fr`: `(lang_code: ANY(\"en\", \"fr\"))`",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequestBoostSpecConditionBoostSpec",
      "type": "object",
      "description": "Boost applies to suggestions which match a condition."
    },
    "GoogleCloudDiscoveryengineV1alphaSingleRegionKey": {
      "properties": {
        "kmsKey": {
          "description": "Required. Single-regional kms key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSingleRegionKey",
      "description": "Metadata for single-regional CMEKs."
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultBannedPhraseEnforcementResult": {
      "description": "Customer policy enforcement result for the banned phrase policy.",
      "properties": {
        "bannedPhrases": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The banned phrases that were found in the query or the answer."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultBannedPhraseEnforcementResult"
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterNumberConstraint": {
      "properties": {
        "value": {
          "format": "double",
          "type": "number",
          "description": "The value specified in the numerical constraint."
        },
        "querySegment": {
          "description": "Identifies the keywords within the search query that match a filter.",
          "type": "string"
        },
        "fieldName": {
          "description": "Name of the numerical field as defined in the schema.",
          "type": "string"
        },
        "comparison": {
          "description": "The comparison operation performed between the field value and the value specified in the constraint.",
          "type": "string",
          "enumDescriptions": [
            "Undefined comparison operator.",
            "Denotes equality `=` operator.",
            "Denotes less than or equal to `<=` operator.",
            "Denotes less than `<` operator.",
            "Denotes greater than or equal to `>=` operator.",
            "Denotes greater than `>` operator."
          ],
          "enum": [
            "COMPARISON_UNSPECIFIED",
            "EQUALS",
            "LESS_THAN_EQUALS",
            "LESS_THAN",
            "GREATER_THAN_EQUALS",
            "GREATER_THAN"
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterNumberConstraint",
      "type": "object",
      "description": "Constraint expression of a number field. Example: price < 100."
    },
    "GoogleCloudDiscoveryengineV1alphaCliConfig": {
      "properties": {
        "enabledActions": {
          "description": "Optional. The actions enabled on the associated CLI connection.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCliConfig",
      "description": "The configuration for the CLI execution based connectors."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSnippetSpec": {
      "description": "A specification for configuring snippets in a search response.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSnippetSpec",
      "properties": {
        "maxSnippetCount": {
          "description": "[DEPRECATED] This field is deprecated. To control snippet return, use `return_snippet` field. For backwards compatibility, we will return snippet if max_snippet_count > 0.",
          "type": "integer",
          "format": "int32",
          "deprecated": true
        },
        "referenceOnly": {
          "type": "boolean",
          "description": "[DEPRECATED] This field is deprecated and will have no affect on the snippet.",
          "deprecated": true
        },
        "returnSnippet": {
          "type": "boolean",
          "description": "If `true`, then return snippet. If no snippet can be generated, we return \"No snippet is available for this page.\" A `snippet_status` with `SUCCESS` or `NO_SNIPPET_AVAILABLE` will also be returned."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAssistantContentExecutableCode": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Required. The code content. Currently only supports Python.",
          "type": "string"
        }
      },
      "description": "Code generated by the model that is meant to be executed by the model.",
      "id": "GoogleCloudDiscoveryengineV1betaAssistantContentExecutableCode"
    },
    "GoogleCloudDiscoveryengineV1ProvisionProjectMetadata": {
      "id": "GoogleCloudDiscoveryengineV1ProvisionProjectMetadata",
      "description": "Metadata associated with a project provision operation.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesMetadata": {
      "properties": {
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of user licenses successfully updated."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "failureCount": {
          "format": "int64",
          "description": "Count of user licenses that failed to be updated.",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the UserLicenseService.BatchUpdateUserLicenses operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteSessionRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteSessionRequest",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The resource name of the Session to delete. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/sessions/{session_id}`",
          "type": "string"
        }
      },
      "description": "Request for DeleteSession method."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestRelatedQuestionsSpec": {
      "type": "object",
      "description": "Related questions specification.",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "Enable related questions feature if true."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestRelatedQuestionsSpec"
    },
    "GoogleCloudDiscoveryengineV1betaRetractLicenseConfigRequest": {
      "description": "Request message for LicenseConfigService.RetractLicenseConfig method.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaRetractLicenseConfigRequest",
      "properties": {
        "licenseConfig": {
          "description": "Required. Full resource name of LicenseConfig. Format: `projects/{project}/locations/{location}/licenseConfigs/{license_config_id}`.",
          "type": "string"
        },
        "licenseCount": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The number of licenses to retract. Only used when full_retract is false."
        },
        "fullRetract": {
          "description": "Optional. If set to true, retract the entire license config. Otherwise, retract the specified license count.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestDataStoreSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestDataStoreSpec",
      "description": "A struct to define data stores to filter on in a search call and configurations for those data stores. Otherwise, an `INVALID_ARGUMENT` error is returned.",
      "properties": {
        "dataStore": {
          "type": "string",
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. The path must include the project number, project id is not supported for this field."
        },
        "customSearchOperators": {
          "description": "Optional. Custom search operators which if specified will be used to filter results from workspace data stores. For more information on custom search operators, see [SearchOperators](https://support.google.com/cloudsearch/answer/6172299).",
          "type": "string"
        },
        "boostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpec",
          "description": "Optional. Boost specification to boost certain documents. For more information on boosting, see [Boosting](https://cloud.google.com/generative-ai-app-builder/docs/boost-search-results)"
        },
        "numResults": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of results to retrieve from this data store. If not specified, it will use the SearchRequest.num_results_per_data_store if provided, otherwise there is no limit. If both this field and SearchRequest.num_results_per_data_store are specified, this field will be used."
        },
        "filter": {
          "description": "Optional. Filter specification to filter documents in the data store specified by data_store field. For more information on filtering, see [Filtering](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchRequest": {
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchRequest",
      "type": "object",
      "description": "Request message for SiteSearchEngineService.DisableAdvancedSiteSearch method."
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigNotebooklmConfig": {
      "description": "Config for connecting to NotebookLM Enterprise.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigNotebooklmConfig",
      "properties": {
        "searchConfig": {
          "type": "string",
          "description": "Required. Search config name. Format: projects/*/locations/global/notebookLmSearchConfigs/*"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponseRecentSearchSuggestion": {
      "id": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponseRecentSearchSuggestion",
      "properties": {
        "score": {
          "format": "double",
          "type": "number",
          "description": "The score of each suggestion. The score is in the range of [0, 1]."
        },
        "suggestion": {
          "type": "string",
          "description": "The suggestion for the query."
        },
        "recentSearchTime": {
          "type": "string",
          "description": "The time when this recent rearch happened.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Suggestions from recent search history."
    },
    "GoogleCloudDiscoveryengineV1betaSitemap": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fully qualified resource name of the sitemap. `projects/*/locations/*/collections/*/dataStores/*/siteSearchEngine/sitemaps/*` The `sitemap_id` suffix is system-generated."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The sitemap's creation time.",
          "format": "google-datetime"
        },
        "uri": {
          "description": "Public URI for the sitemap, e.g. `www.example.com/sitemap.xml`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSitemap",
      "description": "A sitemap for the SiteSearchEngine.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerCitationSource": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerCitationSource",
      "properties": {
        "referenceId": {
          "description": "ID of the citation source.",
          "type": "string"
        }
      },
      "description": "Citation source."
    },
    "GoogleCloudDiscoveryengineV1betaWorkspaceConfig": {
      "type": "object",
      "properties": {
        "superAdminEmailAddress": {
          "description": "Optional. The super admin email address for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        },
        "superAdminServiceAccount": {
          "description": "Optional. The super admin service account for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DRIVE",
            "GOOGLE_MAIL",
            "GOOGLE_SITES",
            "GOOGLE_CALENDAR",
            "GOOGLE_CHAT",
            "GOOGLE_GROUPS",
            "GOOGLE_KEEP",
            "GOOGLE_PEOPLE",
            "GOOGLE_WORKSPACE"
          ],
          "description": "The Google Workspace data source.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to an unspecified Workspace type.",
            "Workspace Data Store contains Drive data",
            "Workspace Data Store contains Mail data",
            "Workspace Data Store contains Sites data",
            "Workspace Data Store contains Calendar data",
            "Workspace Data Store contains Chat data",
            "Workspace Data Store contains Groups data",
            "Workspace Data Store contains Keep data",
            "Workspace Data Store contains People data",
            "Workspace Data Store contains all Workspace apps data"
          ]
        },
        "dasherCustomerId": {
          "description": "Output only. Obfuscated Dasher customer ID. Derived by the server from the project's GCP organization at data store creation time; any value supplied in the request payload is ignored.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaWorkspaceConfig",
      "description": "Config to store data store type configuration for workspace data"
    },
    "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries": {
      "id": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
      "properties": {
        "qpsTimeSeries": {
          "description": "The QPS of the crawl rate.",
          "$ref": "GoogleMonitoringV3TimeSeries"
        }
      },
      "type": "object",
      "description": "The historical crawl rate timeseries data, used for monitoring."
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpression": {
      "description": "The expression denoting the filter that was extracted from the input query.",
      "type": "object",
      "properties": {
        "orExpr": {
          "description": "Logical \"Or\" compound operator connecting multiple expressions.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterOrExpression"
        },
        "stringConstraint": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterStringConstraint",
          "description": "String constraint expression."
        },
        "andExpr": {
          "description": "Logical \"And\" compound operator connecting multiple expressions.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterAndExpression"
        },
        "numberConstraint": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterNumberConstraint",
          "description": "Numerical constraint expression."
        },
        "geolocationConstraint": {
          "description": "Geolocation constraint expression.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterGeolocationConstraint"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpression"
    },
    "GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSitesResponse": {
      "description": "Response message for SiteSearchEngineService.BatchCreateTargetSites method.",
      "properties": {
        "targetSites": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaTargetSite"
          },
          "type": "array",
          "description": "TargetSites created."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSitesResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaPageInfo": {
      "properties": {
        "pageCategory": {
          "description": "The most specific category associated with a category page. To represent full path of category, use '>' sign to separate different hierarchies. If '>' is part of the category name, replace it with other character(s). Category pages include special pages such as sales or promotions. For instance, a special sale page may have the category hierarchy: `\"pageCategory\" : \"Sales > 2017 Black Friday Deals\"`. Required for `view-category-page` events. Other event types should not set this field. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "pageviewId": {
          "description": "A unique ID of a web page view. This should be kept the same for all user events triggered from the same pageview. For example, an item detail page view could trigger multiple events as the user is browsing the page. The `pageview_id` property should be kept the same for all these events so that they can be grouped together properly. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Complete URL (window.location.href) of the user's current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically. Maximum length 5,000 characters."
        },
        "referrerUri": {
          "description": "The referrer URL of the current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically. However, some browser privacy restrictions may cause this field to be empty.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaPageInfo",
      "description": "Detailed page information."
    },
    "GoogleCloudDiscoveryengineV1betaRankResponse": {
      "type": "object",
      "properties": {
        "records": {
          "description": "A list of records sorted by descending score.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaRankingRecord"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaRankResponse",
      "description": "Response message for RankService.Rank method."
    },
    "GoogleCloudDiscoveryengineV1EngineSearchEngineConfig": {
      "description": "Configurations for a Search Engine.",
      "properties": {
        "searchTier": {
          "enum": [
            "SEARCH_TIER_UNSPECIFIED",
            "SEARCH_TIER_STANDARD",
            "SEARCH_TIER_ENTERPRISE"
          ],
          "type": "string",
          "description": "The search feature tier of this engine. Different tiers might have different pricing. To learn more, check the pricing documentation. Defaults to SearchTier.SEARCH_TIER_STANDARD if not specified.",
          "enumDescriptions": [
            "Default value when the enum is unspecified. This is invalid to use.",
            "Standard tier.",
            "Enterprise tier."
          ]
        },
        "requiredSubscriptionTier": {
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
            "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT",
            "SUBSCRIPTION_TIER_NOTEBOOK_LM",
            "SUBSCRIPTION_TIER_FRONTLINE_WORKER",
            "SUBSCRIPTION_TIER_AGENTSPACE_STARTER",
            "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS",
            "SUBSCRIPTION_TIER_ENTERPRISE",
            "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING",
            "SUBSCRIPTION_TIER_EDU",
            "SUBSCRIPTION_TIER_EDU_PRO",
            "SUBSCRIPTION_TIER_EDU_EMERGING",
            "SUBSCRIPTION_TIER_EDU_PRO_EMERGING",
            "SUBSCRIPTION_TIER_FRONTLINE_STARTER",
            "SUBSCRIPTION_TIER_CONSUMPTION_ONLY",
            "SUBSCRIPTION_TIER_EDU_GOV_EMERGING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier.",
            "Represents the Gemini Enterprise Consumption-only tier: $0 subscription billed purely on usage (PAYG).",
            "Gemini Enterprise EDU tier for government in emerging markets."
          ],
          "description": "Optional. The required subscription tier of this engine. If the required subscription tier is search, user with higher license tier like assist can still access the standalone app associated with this engine. Web grounding feature is only available on the app if it is set as SubscriptionTier.SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT."
        },
        "searchAddOns": {
          "description": "The add-on that this search engine enables.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value when the enum is unspecified. This is invalid to use.",
              "Large language model add-on."
            ],
            "enum": [
              "SEARCH_ADD_ON_UNSPECIFIED",
              "SEARCH_ADD_ON_LLM"
            ]
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1EngineSearchEngineConfig"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpecSafetySetting": {
      "description": "Safety settings.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpecSafetySetting",
      "type": "object",
      "properties": {
        "threshold": {
          "enumDescriptions": [
            "Unspecified harm block threshold.",
            "Block low threshold and above (i.e. block more).",
            "Block medium threshold and above.",
            "Block only high threshold (i.e. block less).",
            "Block none.",
            "Turn off the safety filter."
          ],
          "description": "Required. The harm block threshold.",
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE",
            "OFF"
          ],
          "type": "string"
        },
        "category": {
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_CIVIC_INTEGRITY"
          ],
          "description": "Required. Harm category.",
          "type": "string",
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content.",
            "The harm category is civic integrity."
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaListSessionsResponse": {
      "properties": {
        "sessions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSession"
          },
          "description": "All the Sessions for a given data store."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token, if not returned indicates the last page."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaListSessionsResponse",
      "type": "object",
      "description": "Response for ListSessions method."
    },
    "GoogleCloudDiscoveryengineV1betaDataStore": {
      "description": "DataStore captures global settings and configs at the DataStore level.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDataStore",
      "properties": {
        "languageInfo": {
          "description": "Language info for DataStore.",
          "$ref": "GoogleCloudDiscoveryengineV1betaLanguageInfo"
        },
        "naturalLanguageQueryUnderstandingConfig": {
          "description": "Optional. Configuration for Natural Language Query Understanding.",
          "$ref": "GoogleCloudDiscoveryengineV1betaNaturalLanguageQueryUnderstandingConfig"
        },
        "contentConfig": {
          "enumDescriptions": [
            "Default value.",
            "Only contains documents without any Document.content.",
            "Only contains documents with Document.content.",
            "The data store is used for public website search.",
            "The data store is used for workspace search. Details of workspace data store are specified in the WorkspaceConfig."
          ],
          "description": "Immutable. The content config of the data store. If this field is unset, the server behavior defaults to ContentConfig.NO_CONTENT.",
          "enum": [
            "CONTENT_CONFIG_UNSPECIFIED",
            "NO_CONTENT",
            "CONTENT_REQUIRED",
            "PUBLIC_WEBSITE",
            "GOOGLE_WORKSPACE"
          ],
          "type": "string"
        },
        "advancedSiteSearchConfig": {
          "description": "Optional. Configuration for advanced site search.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAdvancedSiteSearchConfig"
        },
        "isInfobotFaqDataStore": {
          "type": "boolean",
          "description": "Optional. If set, this DataStore is an Infobot FAQ DataStore."
        },
        "federatedSearchConfig": {
          "description": "Optional. If set, this DataStore is a federated search DataStore.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfig"
        },
        "healthcareFhirConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaHealthcareFhirConfig",
          "description": "Optional. Configuration for `HEALTHCARE_FHIR` vertical."
        },
        "identityMappingStore": {
          "description": "Immutable. The fully qualified resource name of the associated IdentityMappingStore. This field can only be set for acl_enabled DataStores with `THIRD_PARTY` or `GSUITE` IdP. Format: `projects/{project}/locations/{location}/identityMappingStores/{identity_mapping_store}`.",
          "type": "string"
        },
        "configurableBillingApproachUpdateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when configurable_billing_approach was last updated.",
          "type": "string"
        },
        "billingEstimation": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreBillingEstimation",
          "readOnly": true,
          "description": "Output only. Data size estimation for billing."
        },
        "startingSchema": {
          "description": "The start schema to use for this DataStore when provisioning it. If unset, a default vertical specialized schema will be used. This field is only used by CreateDataStore API, and will be ignored if used in other APIs. This field will be omitted from all API responses including CreateDataStore API. To retrieve a schema of a DataStore, use SchemaService.GetSchema API instead. The provided schema will be validated against certain rules on schema. Learn more from [this doc](https://cloud.google.com/generative-ai-app-builder/docs/provide-schema).",
          "$ref": "GoogleCloudDiscoveryengineV1betaSchema"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp the DataStore was created at.",
          "readOnly": true
        },
        "kmsKeyName": {
          "description": "Input only. The KMS key to be used to protect this DataStore at creation time. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the DataStore will be protected by the KMS key, as indicated in the cmek_config field.",
          "type": "string"
        },
        "cmekConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaCmekConfig",
          "readOnly": true,
          "description": "Output only. CMEK-related information for the DataStore."
        },
        "aclEnabled": {
          "description": "Immutable. Whether data in the DataStore has ACL information. If set to `true`, the source data must have ACL. ACL will be ingested when data is ingested by DocumentService.ImportDocuments methods. When ACL is enabled for the DataStore, Document can't be accessed by calling DocumentService.GetDocument or DocumentService.ListDocuments. Currently ACL is only supported in `GENERIC` industry vertical with non-`PUBLIC_WEBSITE` content config.",
          "type": "boolean"
        },
        "workspaceConfig": {
          "description": "Config to store data store type configuration for workspace data. This must be set when DataStore.content_config is set as DataStore.ContentConfig.GOOGLE_WORKSPACE.",
          "$ref": "GoogleCloudDiscoveryengineV1betaWorkspaceConfig"
        },
        "industryVertical": {
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical.",
            "The healthcare FHIR vertical."
          ],
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA",
            "HEALTHCARE_FHIR"
          ],
          "description": "Immutable. The industry vertical that the data store registers.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Identifier. The full resource name of the data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "documentProcessingConfig": {
          "description": "Configuration for Document understanding and enrichment.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfig"
        },
        "configurableBillingApproach": {
          "description": "Optional. Configuration for configurable billing approach. See",
          "enumDescriptions": [
            "Default value. For Spark and non-Spark non-configurable billing approach.",
            "Use the subscription base + overage billing for indexing core for non embedding storage.",
            "Use the consumption pay-as-you-go billing for embedding storage add-on."
          ],
          "enum": [
            "CONFIGURABLE_BILLING_APPROACH_UNSPECIFIED",
            "CONFIGURABLE_SUBSCRIPTION_INDEXING_CORE",
            "CONFIGURABLE_CONSUMPTION_EMBEDDING"
          ],
          "type": "string"
        },
        "defaultSchemaId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The id of the default Schema associated to this data store."
        },
        "solutionTypes": {
          "type": "array",
          "description": "The solutions that the data store enrolls. Available solutions for each industry_vertical: * `MEDIA`: `SOLUTION_TYPE_RECOMMENDATION` and `SOLUTION_TYPE_SEARCH`. * `SITE_SEARCH`: `SOLUTION_TYPE_SEARCH` is automatically enrolled. Other solutions cannot be enrolled.",
          "items": {
            "type": "string",
            "enum": [
              "SOLUTION_TYPE_UNSPECIFIED",
              "SOLUTION_TYPE_RECOMMENDATION",
              "SOLUTION_TYPE_SEARCH",
              "SOLUTION_TYPE_CHAT",
              "SOLUTION_TYPE_GENERATIVE_CHAT",
              "SOLUTION_TYPE_AI_MODE"
            ],
            "enumDescriptions": [
              "Default value.",
              "Used for Recommendations AI.",
              "Used for Discovery Search.",
              "Used for use cases related to the Generative AI agent.",
              "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
              "Used for AI Mode."
            ]
          }
        },
        "servingConfigDataStore": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreServingConfigDataStore",
          "description": "Optional. Stores serving config at DataStore level."
        },
        "displayName": {
          "description": "Required. The data store display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaListIdentityMappingsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "identityMappingEntries": {
          "description": "The Identity Mapping Entries.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaIdentityMappingEntry"
          },
          "type": "array"
        }
      },
      "description": "Response message for IdentityMappingStoreService.ListIdentityMappings",
      "id": "GoogleCloudDiscoveryengineV1betaListIdentityMappingsResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus": {
      "id": "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus",
      "description": "Per-model Agent Search TPM subscription status. One entry per active `core_subscription.agent_search_token_subscriptions[*]` entry in the customer-provided config; populated by UpdateProject and GetProject. The lifecycle scalars on this message (`start_time`, `terminate_time`, `update_type`, `tpm_threshold_next_update_time`) are per (project, model_version) — siblings of the whole-relationship `start_time` / `terminate_time` / `update_type` on the enclosing ConfigurableBillingStatus, but scoped to this specific Agent Search TPM subscription instead of to the overall customer-configurable- pricing relationship. This per-instance granularity is intentional: the underlying SubV3 storage is per-(project, model_version), so each model has its own activation, termination, and deferred-update clock; surfacing that on the response gives customers the granularity they need to manage per-model commitments independently. QPM / IndexingCore differ — their storage is one row per (project, location), so their lifecycle is represented only by the whole- relationship scalars on ConfigurableBillingStatus.",
      "type": "object",
      "properties": {
        "updateType": {
          "enumDescriptions": [
            "Unspecified update type.",
            "Configurable billing was created/enabled.",
            "Configurable billing was deleted/disabled.",
            "Subscription was scaled up (thresholds increased).",
            "Subscription was scaled down (thresholds decreased)."
          ],
          "readOnly": true,
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "SCALE_UP",
            "SCALE_DOWN"
          ],
          "description": "Output only. The type of the most recent update to this (project, model_version) subscription, as performed by the most recent UpdateProject call. `UPDATE_TYPE_UNSPECIFIED` indicates this model_version was not touched by the most recent UpdateProject (its `effective_tpm_threshold` reflects an earlier update). The whole-relationship `update_type` on the enclosing ConfigurableBillingStatus continues to summarize the direction of the most recent update across all surfaces in the project (QPM, IndexingCore, and Agent Search TPM together).",
          "type": "string"
        },
        "effectiveTpmThreshold": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The currently effective TPM threshold. Reflects scale-up immediately and scale-down at the next billing cycle, matching `effective_search_qpm_threshold` semantics."
        },
        "startTime": {
          "description": "Output only. When this (project, model_version) Agent Search TPM subscription was first activated. Set once on first activation of this model version and never moved by subsequent threshold updates; on termination + re-activation a new value is recorded. Does NOT move the whole-relationship `start_time` on the enclosing ConfigurableBillingStatus, which continues to represent the first activation of the overall customer-configurable-pricing relationship.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "modelVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Gemini model version this status corresponds to. Matches CoreSubscription.AgentSearchTokenSubscription.model_version (a stable Gemini model version from the Gemini Enterprise Agent Platform model-versions registry; see https://docs.cloud.google.com/gemini-enterprise-agent-platform/models/model-versions#gemini-models)."
        },
        "terminateTime": {
          "description": "Output only. If set, the scheduled effective time at which this (project, model_version) Agent Search TPM subscription will terminate. Populated when the customer removes this entry from `core_subscription.agent_search_token_subscriptions[*]`. Does NOT move the whole-relationship `terminate_time` on the enclosing ConfigurableBillingStatus, which is populated only when the entire customer-configurable-pricing relationship is being torn down.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "tpmThresholdNextUpdateTime": {
          "description": "Output only. The earliest next update time for the TPM subscription threshold for this (project, model_version). Populated only after a successful update.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequest": {
      "type": "object",
      "description": "Request message for SearchService.Search method.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequest",
      "properties": {
        "branch": {
          "type": "string",
          "description": "The branch resource name, such as `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/branches/0`. Use `default_branch` as the branch ID or leave this field empty, to search documents under the default branch."
        },
        "displaySpec": {
          "description": "Optional. Config for display feature, like match highlighting on search results.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestDisplaySpec"
        },
        "relevanceFilterSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceFilterSpec",
          "description": "Optional. The granular relevance filtering specification. If not specified, the global `relevance_threshold` will be used for all sub-searches. If specified, this overrides the global `relevance_threshold` to use thresholds on a per sub-search basis. This feature is currently supported only for custom and site search."
        },
        "boostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpec",
          "description": "Boost specification to boost certain documents. For more information on boosting, see [Boosting](https://cloud.google.com/generative-ai-app-builder/docs/boost-search-results)"
        },
        "customRankingParams": {
          "description": "Optional. Optional configuration for the Custom Ranking feature.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestCustomRankingParams"
        },
        "sessionSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestSessionSpec",
          "description": "Session specification. Can be used only when `session` is set."
        },
        "query": {
          "description": "Raw search query.",
          "type": "string"
        },
        "numResultsPerDataStore": {
          "type": "integer",
          "description": "Optional. The maximum number of results to retrieve from each data store. If not specified, it will use the SearchRequest.DataStoreSpec.num_results if provided, otherwise there is no limit.",
          "format": "int32"
        },
        "facetSpecs": {
          "description": "Facet specifications for faceted search. If empty, no facets are returned. A maximum of 100 values are allowed. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpec"
          }
        },
        "pageToken": {
          "description": "A page token received from a previous SearchService.Search call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to SearchService.Search must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "canonicalFilter": {
          "description": "The default filter that is applied when a user performs a search without checking any filters on the search page. The filter applied to every search request when quality improvement such as query expansion is needed. In the case a query does not have a sufficient amount of results this filter will be used to determine whether or not to enable the query expansion flow. The original filter will still be used for the query expanded search. This field is strongly recommended to achieve high search quality. For more information about filter syntax, see SearchRequest.filter.",
          "type": "string"
        },
        "rankingExpression": {
          "description": "Optional. The ranking expression controls the customized ranking on retrieval documents. This overrides ServingConfig.ranking_expression. The syntax and supported features depend on the `ranking_expression_backend` value. If `ranking_expression_backend` is not provided, it defaults to `RANK_BY_EMBEDDING`. If ranking_expression_backend is not provided or set to `RANK_BY_EMBEDDING`, it should be a single function or multiple functions that are joined by \"+\". * ranking_expression = function, { \" + \", function }; Supported functions: * double * relevance_score * double * dotProduct(embedding_field_path) Function variables: * `relevance_score`: pre-defined keywords, used for measure relevance between query and document. * `embedding_field_path`: the document embedding field used with query embedding vector. * `dotProduct`: embedding function between `embedding_field_path` and query embedding vector. Example ranking expression: If document has an embedding field doc_embedding, the ranking expression could be `0.5 * relevance_score + 0.3 * dotProduct(doc_embedding)`. If ranking_expression_backend is set to `RANK_BY_FORMULA`, the following expression types (and combinations of those chained using + or * operators) are supported: * `double` * `signal` * `log(signal)` * `exp(signal)` * `rr(signal, double > 0)` -- reciprocal rank transformation with second argument being a denominator constant. * `is_nan(signal)` -- returns 0 if signal is NaN, 1 otherwise. * `fill_nan(signal1, signal2 | double)` -- if signal1 is NaN, returns signal2 | double, else returns signal1. Here are a few examples of ranking formulas that use the supported ranking expression types: - `0.2 * semantic_similarity_score + 0.8 * log(keyword_similarity_score)` -- mostly rank by the logarithm of `keyword_similarity_score` with slight `semantic_smilarity_score` adjustment. - `0.2 * exp(fill_nan(semantic_similarity_score, 0)) + 0.3 * is_nan(keyword_similarity_score)` -- rank by the exponent of `semantic_similarity_score` filling the value with 0 if it's NaN, also add constant 0.3 adjustment to the final score if `semantic_similarity_score` is NaN. - `0.2 * rr(semantic_similarity_score, 16) + 0.8 * rr(keyword_similarity_score, 16)` -- mostly rank by the reciprocal rank of `keyword_similarity_score` with slight adjustment of reciprocal rank of `semantic_smilarity_score`. The following signals are supported: * `semantic_similarity_score`: semantic similarity adjustment that is calculated using the embeddings generated by a proprietary Google model. This score determines how semantically similar a search query is to a document. * `keyword_similarity_score`: keyword match adjustment uses the Best Match 25 (BM25) ranking function. This score is calculated using a probabilistic model to estimate the probability that a document is relevant to a given query. * `relevance_score`: semantic relevance adjustment that uses a proprietary Google model to determine the meaning and intent behind a user's query in context with the content in the documents. * `pctr_rank`: predicted conversion rate adjustment as a rank use predicted Click-through rate (pCTR) to gauge the relevance and attractiveness of a search result from a user's perspective. A higher pCTR suggests that the result is more likely to satisfy the user's query and intent, making it a valuable signal for ranking. * `freshness_rank`: freshness adjustment as a rank * `document_age`: The time in hours elapsed since the document was last updated, a floating-point number (e.g., 0.25 means 15 minutes). * `topicality_rank`: topicality adjustment as a rank. Uses proprietary Google model to determine the keyword-based overlap between the query and the document. * `base_rank`: the default rank of the result * `media_actor_match`: whether the media actor matches the query * `media_director_match`: whether the media director matches the query * `media_genre_match`: whether the media genre matches the query * `media_language_match`: whether the media language matches the query * `media_title_match`: whether the media title matches the query * `media_prefix_similarity_rank`: prefix similarity rank for media results * `media_semantic_similarity_rank`: semantic similarity rank for media results",
          "type": "string"
        },
        "pageSize": {
          "description": "Maximum number of Documents to return. The maximum allowed value depends on the data type. Values above the maximum value are coerced to the maximum value. * Websites with basic indexing: Default `10`, Maximum `25`. * Websites with advanced indexing: Default `25`, Maximum `50`. * Other: Default `50`, Maximum `100`. If this field is negative, an `INVALID_ARGUMENT` is returned.",
          "type": "integer",
          "format": "int32"
        },
        "userPseudoId": {
          "type": "string",
          "description": "Optional. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and CompleteQueryRequest.user_pseudo_id The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "relevanceThreshold": {
          "type": "string",
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Google defined threshold.",
            "Lowest relevance threshold.",
            "Low relevance threshold.",
            "Medium relevance threshold.",
            "High relevance threshold."
          ],
          "enum": [
            "RELEVANCE_THRESHOLD_UNSPECIFIED",
            "LOWEST",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "description": "The global relevance threshold of the search results. Defaults to Google defined threshold, leveraging a balance of precision and recall to deliver both highly accurate results and comprehensive coverage of relevant information. If more granular relevance filtering is required, use the `relevance_filter_spec` instead. This feature is not supported for healthcare search."
        },
        "regionCode": {
          "type": "string",
          "description": "The Unicode country/region code (CLDR) of a location, such as \"US\" and \"419\". For more information, see [Standard fields](https://cloud.google.com/apis/design/standard_fields). If set, then results will be boosted based on the region_code provided."
        },
        "session": {
          "type": "string",
          "description": "The session resource name. Optional. Session allows users to do multi-turn /search API calls or coordination between /search API calls and /answer API calls. Example #1 (multi-turn /search API calls): Call /search API with the session ID generated in the first call. Here, the previous search query gets considered in query standing. I.e., if the first query is \"How did Alphabet do in 2022?\" and the current query is \"How about 2023?\", the current query will be interpreted as \"How did Alphabet do in 2023?\". Example #2 (coordination between /search API calls and /answer API calls): Call /answer API with the session ID generated in the first call. Here, the answer generation happens in the context of the search results from the first search call."
        },
        "embeddingSpec": {
          "description": "Uses the provided embedding to do additional semantic document retrieval. The retrieval is based on the dot product of SearchRequest.EmbeddingSpec.EmbeddingVector.vector and the document embedding that is provided in SearchRequest.EmbeddingSpec.EmbeddingVector.field_path. If SearchRequest.EmbeddingSpec.EmbeddingVector.field_path is not provided, it will use ServingConfig.EmbeddingConfig.field_path.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpec"
        },
        "relevanceScoreSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceScoreSpec",
          "description": "Optional. The specification for returning the relevance score."
        },
        "searchAsYouTypeSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestSearchAsYouTypeSpec",
          "description": "Search as you type configuration. Only supported for the IndustryVertical.MEDIA vertical."
        },
        "params": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object",
          "description": "Additional search parameters. For public website search only, supported values are: * `user_country_code`: string. Default empty. If set to non-empty, results are restricted or boosted based on the location provided. For example, `user_country_code: \"au\"` For available codes see [Country Codes](https://developers.google.com/custom-search/docs/json_api_reference#countryCodes) * `search_type`: double. Default empty. Enables non-webpage searching depending on the value. The only valid non-default value is 1, which enables image searching. For example, `search_type: 1`"
        },
        "queryExpansionSpec": {
          "description": "The query expansion specification that specifies the conditions under which query expansion occurs.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestQueryExpansionSpec"
        },
        "filter": {
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customer might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        },
        "naturalLanguageQueryUnderstandingSpec": {
          "description": "Optional. Config for natural language query understanding capabilities, such as extracting structured field filters from the query. Refer to [this documentation](https://cloud.google.com/generative-ai-app-builder/docs/natural-language-queries) for more information. If `naturalLanguageQueryUnderstandingSpec` is not specified, no additional natural language query understanding will be done.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestNaturalLanguageQueryUnderstandingSpec"
        },
        "rankingExpressionBackend": {
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false
          ],
          "enum": [
            "RANKING_EXPRESSION_BACKEND_UNSPECIFIED",
            "BYOE",
            "CLEARBOX",
            "RANK_BY_EMBEDDING",
            "RANK_BY_FORMULA"
          ],
          "enumDescriptions": [
            "Default option for unspecified/unknown values.",
            "Deprecated: Use `RANK_BY_EMBEDDING` instead. Ranking by custom embedding model, the default way to evaluate the ranking expression. Legacy enum option, `RANK_BY_EMBEDDING` should be used instead.",
            "Deprecated: Use `RANK_BY_FORMULA` instead. Ranking by custom formula. Legacy enum option, `RANK_BY_FORMULA` should be used instead.",
            "Ranking by custom embedding model, the default way to evaluate the ranking expression.",
            "Ranking by custom formula."
          ],
          "description": "Optional. The backend to use for the ranking expression evaluation.",
          "type": "string"
        },
        "userLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details."
        },
        "offset": {
          "description": "A 0-indexed integer that specifies the current offset (that is, starting result location, amongst the Documents deemed by the API as relevant) in search results. This field is only considered if page_token is unset. If this field is negative, an `INVALID_ARGUMENT` is returned. A large offset may be capped to a reasonable threshold.",
          "type": "integer",
          "format": "int32"
        },
        "searchAddonSpec": {
          "description": "Optional. SearchAddonSpec is used to disable add-ons for search as per new repricing model. This field is only supported for search requests.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestSearchAddonSpec"
        },
        "orderBy": {
          "type": "string",
          "description": "The order in which documents are returned. Documents can be ordered by a field in an Document object. Leave it unset if ordered by relevance. `order_by` expression is case-sensitive. For more information on ordering the website search results, see [Order web search results](https://cloud.google.com/generative-ai-app-builder/docs/order-web-search-results). For more information on ordering the healthcare search results, see [Order healthcare search results](https://cloud.google.com/generative-ai-app-builder/docs/order-hc-results). If this field is unrecognizable, an `INVALID_ARGUMENT` is returned."
        },
        "crowdingSpecs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestCrowdingSpec"
          },
          "description": "Optional. Crowding specifications for improving result diversity. If multiple CrowdingSpecs are specified, crowding will be evaluated on each unique combination of the `field` values, and max_count will be the maximum value of `max_count` across all CrowdingSpecs. For example, if the first CrowdingSpec has `field` = \"color\" and `max_count` = 3, and the second CrowdingSpec has `field` = \"size\" and `max_count` = 2, then after 3 documents that share the same color AND size have been returned, subsequent ones should be removed or demoted.",
          "type": "array"
        },
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see [Standard fields](https://cloud.google.com/apis/design/standard_fields). This field helps to better interpret the query. If a value isn't specified, the query language code is automatically detected, which may not be accurate.",
          "type": "string"
        },
        "spellCorrectionSpec": {
          "description": "The spell correction specification that specifies the mode under which spell correction takes effect.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestSpellCorrectionSpec"
        },
        "pageCategories": {
          "type": "array",
          "description": "Optional. The categories associated with a category page. Must be set for category navigation queries to achieve good search quality. The format should be the same as PageInfo.page_category. This field is the equivalent of the query for browse (navigation) queries. It's used by the browse model when the query is empty. If the field is empty, it will not be used by the browse model. If the field contains more than one element, only the first element will be used. To represent full path of a category, use '>' character to separate different hierarchies. If '>' is part of the category name, replace it with other character(s). For example, `Graphics Cards > RTX>4090 > Founders Edition` where \"RTX > 4090\" represents one level, can be rewritten as `Graphics Cards > RTX_4090 > Founders Edition`",
          "items": {
            "type": "string"
          }
        },
        "entity": {
          "description": "Optional. The entity for customers that may run multiple different entities, domains, sites or regions, for example, \"Google US\", \"Google Ads\", \"Waymo\", \"google.com\", \"youtube.com\", etc. If this is set, it should be exactly matched with UserEvent.entity to get search results boosted by entity.",
          "type": "string"
        },
        "safeSearch": {
          "type": "boolean",
          "description": "Whether to turn on safe search. This is only supported for website search."
        },
        "servingConfig": {
          "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search.",
          "type": "string"
        },
        "personalizationSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestPersonalizationSpec",
          "description": "The specification for personalization. Notice that if both ServingConfig.personalization_spec and SearchRequest.personalization_spec are set, SearchRequest.personalization_spec overrides ServingConfig.personalization_spec."
        },
        "imageQuery": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestImageQuery",
          "description": "Raw image query."
        },
        "contentSearchSpec": {
          "description": "A specification for configuring the behavior of content search.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpec"
        },
        "oneBoxPageSize": {
          "description": "The maximum number of results to return for OneBox. This applies to each OneBox type individually. Default number is 10.",
          "type": "integer",
          "format": "int32"
        },
        "userInfo": {
          "description": "Information about the end user. Highly recommended for analytics and personalization. UserInfo.user_agent is used to deduce `device_type` for analytics.",
          "$ref": "GoogleCloudDiscoveryengineV1betaUserInfo"
        },
        "dataStoreSpecs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestDataStoreSpec"
          },
          "type": "array",
          "description": "Specifications that define the specific DataStores to be searched, along with configurations for those data stores. This is only considered for Engines with multiple data stores. For engines with a single data store, the specs directly under SearchRequest should be used."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob": {
      "description": "The media type and data of the blob.",
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Raw bytes.",
          "format": "byte"
        },
        "mimeType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The media type (MIME type) of the generated or retrieved data."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec",
      "type": "object",
      "properties": {
        "matchHighlightingCondition": {
          "enumDescriptions": [
            "Server behavior is the same as `MATCH_HIGHLIGHTING_DISABLED`.",
            "Disables match highlighting on all documents.",
            "Enables match highlighting on all documents."
          ],
          "enum": [
            "MATCH_HIGHLIGHTING_CONDITION_UNSPECIFIED",
            "MATCH_HIGHLIGHTING_DISABLED",
            "MATCH_HIGHLIGHTING_ENABLED"
          ],
          "type": "string",
          "description": "The condition under which match highlighting should occur."
        }
      },
      "description": "Specifies features for display, like match highlighting."
    },
    "GoogleCloudDiscoveryengineV1betaProjectServiceTerms": {
      "description": "Metadata about the terms of service.",
      "id": "GoogleCloudDiscoveryengineV1betaProjectServiceTerms",
      "properties": {
        "acceptTime": {
          "type": "string",
          "description": "The last time when the project agreed to the terms of service.",
          "format": "google-datetime"
        },
        "version": {
          "description": "The version string of the terms of service. For acceptable values, see the comments for id above.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The default value of the enum. This value is not actually used.",
            "The project has given consent to the terms of service.",
            "The project is pending to review and accept the terms of service.",
            "The project has declined or revoked the agreement to terms of service."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "TERMS_ACCEPTED",
            "TERMS_PENDING",
            "TERMS_DECLINED"
          ],
          "description": "Whether the project has accepted/rejected the service terms or it is still pending.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique identifier of this terms of service. Available terms: * `GA_DATA_USE_TERMS`: [Terms for data use](https://cloud.google.com/retail/data-use-terms). When using this as `id`, the acceptable version to provide is `2022-11-23`."
        },
        "declineTime": {
          "type": "string",
          "description": "The last time when the project declined or revoked the agreement to terms of service.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAssistAnswerCustomerPolicyEnforcementResult": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAssistAnswerCustomerPolicyEnforcementResult",
      "description": "Customer policy enforcement results. Contains the results of the various policy checks, like the banned phrases or the Model Armor checks.",
      "properties": {
        "verdict": {
          "description": "Final verdict of the customer policy enforcement. If only one policy blocked the processing, the verdict is BLOCK.",
          "enumDescriptions": [
            "Unknown value.",
            "There was no policy violation.",
            "Processing was blocked by the customer policy."
          ],
          "enum": [
            "UNSPECIFIED",
            "ALLOW",
            "BLOCK"
          ],
          "type": "string"
        },
        "violationSource": {
          "enum": [
            "VIOLATION_SOURCE_UNSPECIFIED",
            "SYSTEM",
            "PROMPT",
            "ATTACHMENT"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The source of the violation.",
          "enumDescriptions": [
            "Unknown value.",
            "Violation found in the system response.",
            "Violation found in the user prompt.",
            "Violation found in the user attachment."
          ]
        },
        "policyResults": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAssistAnswerCustomerPolicyEnforcementResultPolicyEnforcementResult"
          },
          "description": "Customer policy enforcement results. Populated only if the assist call was skipped due to a policy violation. It contains results from those filters that blocked the processing of the query.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCreateDataStoreMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the DataStoreService.CreateDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaCreateDataStoreMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaWorkspaceConfig": {
      "description": "Config to store data store type configuration for workspace data",
      "type": "object",
      "properties": {
        "superAdminServiceAccount": {
          "description": "Optional. The super admin service account for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DRIVE",
            "GOOGLE_MAIL",
            "GOOGLE_SITES",
            "GOOGLE_CALENDAR",
            "GOOGLE_CHAT",
            "GOOGLE_GROUPS",
            "GOOGLE_KEEP",
            "GOOGLE_PEOPLE",
            "GOOGLE_WORKSPACE"
          ],
          "description": "The Google Workspace data source.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to an unspecified Workspace type.",
            "Workspace Data Store contains Drive data",
            "Workspace Data Store contains Mail data",
            "Workspace Data Store contains Sites data",
            "Workspace Data Store contains Calendar data",
            "Workspace Data Store contains Chat data",
            "Workspace Data Store contains Groups data",
            "Workspace Data Store contains Keep data",
            "Workspace Data Store contains People data",
            "Workspace Data Store contains all Workspace apps data"
          ]
        },
        "dasherCustomerId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Obfuscated Dasher customer ID. Derived by the server from the project's GCP organization at data store creation time; any value supplied in the request payload is ignored."
        },
        "superAdminEmailAddress": {
          "description": "Optional. The super admin email address for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaWorkspaceConfig"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelSpec": {
      "properties": {
        "version": {
          "type": "string",
          "description": "The model version used to generate the summary. Supported values are: * `stable`: string. Default value when no value is specified. Uses a generally available, fine-tuned model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models). * `preview`: string. (Public preview) Uses a preview model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models)."
        }
      },
      "type": "object",
      "description": "Specification of the model.",
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelSpec"
    },
    "GoogleCloudDiscoveryengineV1betaUpdateTargetSiteMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaUpdateTargetSiteMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.UpdateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleApiDistributionRange": {
      "id": "GoogleApiDistributionRange",
      "type": "object",
      "description": "The range of the population values.",
      "properties": {
        "min": {
          "type": "number",
          "format": "double",
          "description": "The minimum of the population values."
        },
        "max": {
          "description": "The maximum of the population values.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigNotebooklmConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigNotebooklmConfig",
      "description": "Config for connecting to NotebookLM Enterprise.",
      "type": "object",
      "properties": {
        "searchConfig": {
          "description": "Required. Search config name. Format: projects/*/locations/global/notebookLmSearchConfigs/*",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1Schema": {
      "description": "Defines the structure and layout of a type of document data.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1Schema",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the schema, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/schemas/{schema}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "structSchema": {
          "description": "The structured representation of the schema.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "jsonSchema": {
          "type": "string",
          "description": "The JSON representation of the schema."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaStreamAssistResponse": {
      "properties": {
        "assistToken": {
          "type": "string",
          "description": "A global unique ID that identifies the current pair of request and stream of responses. Used for feedback and support."
        },
        "invokedSkills": {
          "description": "The skills executed during the turn.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaStreamAssistResponseInvokedSkill"
          },
          "type": "array"
        },
        "answer": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistAnswer",
          "description": "Assist answer resource object containing parts of the assistant's final answer for the user's query. Not present if the current response doesn't add anything to previously sent AssistAnswer.replies. Observe AssistAnswer.state to see if more parts are to be expected. While the state is `IN_PROGRESS`, the AssistAnswer.replies field in each response will contain replies (reply fragments) to be appended to the ones received in previous responses. AssistAnswer.name won't be filled. If the state is `SUCCEEDED`, `FAILED` or `SKIPPED`, the response is the last response and AssistAnswer.name will have a value."
        },
        "invocationTools": {
          "items": {
            "type": "string"
          },
          "description": "The tool names of the tools that were invoked.",
          "type": "array"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1betaStreamAssistResponseSessionInfo",
          "description": "Session information. Only included in the final StreamAssistResponse of the response stream."
        },
        "connectorAuthErrors": {
          "description": "Per-connector authentication errors encountered during the request. Present when one or more connectors failed authentication but the request proceeded with the remaining connectors.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaStreamAssistResponseConnectorAuthError"
          },
          "type": "array"
        }
      },
      "description": "Response for the AssistantService.StreamAssist method.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaStreamAssistResponse"
    },
    "GoogleCloudDiscoveryengineV1betaListSampleQueriesResponse": {
      "description": "Response message for SampleQueryService.ListSampleQueries method.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaListSampleQueriesResponse",
      "properties": {
        "sampleQueries": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSampleQuery"
          },
          "description": "The SampleQuerys.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListSampleQueriesRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SingleRegionKey": {
      "id": "GoogleCloudDiscoveryengineV1SingleRegionKey",
      "description": "Metadata for single-regional CMEKs.",
      "type": "object",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Required. Single-regional kms key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaObtainCrawlRateRequest": {
      "type": "object",
      "description": "Request message for CrawlRateManagementService.ObtainCrawlRate method.",
      "id": "GoogleCloudDiscoveryengineV1betaObtainCrawlRateRequest",
      "properties": {
        "crawlRateScope": {
          "type": "string",
          "description": "Required. The scope of the crawl rate that the user wants to monitor. Currently, only domain and host name are supported. A domain name example: `example.com`. A host name example: `www.example.com`. Please do not include `/` in the domain or host name."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaImportCompletionSuggestionsMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "successCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of CompletionSuggestions successfully imported."
        },
        "failureCount": {
          "type": "string",
          "description": "Count of CompletionSuggestions that failed to be imported.",
          "format": "int64"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaImportCompletionSuggestionsMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the ImportCompletionSuggestions operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchResponse",
      "description": "Response message for SiteSearchEngineService.DisableAdvancedSiteSearch method.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecChunkSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecChunkSpec",
      "description": "Specifies the chunk spec to be returned from the search response. Only available if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS",
      "properties": {
        "numNextChunks": {
          "description": "The number of next chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no next chunks will be returned.",
          "format": "int32",
          "type": "integer"
        },
        "numPreviousChunks": {
          "description": "The number of previous chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no previous chunks will be returned.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineLoggingErrorLog": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A message describing the error.",
          "type": "string"
        },
        "requestPayload": {
          "description": "The API request payload, represented as a protocol buffer. Most API request types are supported—for example: * `type.googleapis.com/google.cloud.discoveryengine.v1alpha.DocumentService.CreateDocumentRequest` * `type.googleapis.com/google.cloud.discoveryengine.v1alpha.UserEventService.WriteUserEventRequest`",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "context": {
          "$ref": "GoogleCloudDiscoveryengineLoggingErrorContext",
          "description": "A description of the context in which the error occurred."
        },
        "serviceContext": {
          "description": "The service context in which this error has occurred.",
          "$ref": "GoogleCloudDiscoveryengineLoggingServiceContext"
        },
        "status": {
          "description": "The RPC status associated with the error log.",
          "$ref": "GoogleRpcStatus"
        },
        "responsePayload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The API response payload, represented as a protocol buffer. This is used to log some \"soft errors\", where the response is valid but we consider there are some quality issues like unjoined events. The following API responses are supported, and no PII is included: * `google.cloud.discoveryengine.v1alpha.RecommendationService.Recommend` * `google.cloud.discoveryengine.v1alpha.UserEventService.WriteUserEvent` * `google.cloud.discoveryengine.v1alpha.UserEventService.CollectUserEvent`",
          "type": "object"
        },
        "importPayload": {
          "description": "The error payload that is populated on LRO import APIs.",
          "$ref": "GoogleCloudDiscoveryengineLoggingImportErrorContext"
        },
        "connectorRunPayload": {
          "description": "The error payload that is populated on LRO connector sync APIs.",
          "$ref": "GoogleCloudDiscoveryengineLoggingConnectorRunErrorContext"
        }
      },
      "description": "An error log which is reported to the Error Reporting system.",
      "id": "GoogleCloudDiscoveryengineLoggingErrorLog"
    },
    "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesMetadata": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      },
      "description": "Metadata related to the progress of the ImportSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesMetadata"
    },
    "GoogleCloudDiscoveryengineV1Engine": {
      "properties": {
        "knowledgeGraphConfig": {
          "description": "Optional. Configurations for the Knowledge Graph. Only applicable if solution_type is SOLUTION_TYPE_SEARCH.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfig"
        },
        "commonConfig": {
          "description": "Common config spec that specifies the metadata of the engine.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineCommonConfig"
        },
        "agentGatewaySetting": {
          "$ref": "GoogleCloudDiscoveryengineV1AgentGatewaySetting",
          "description": "Optional. The agent gateway setting for the engine."
        },
[...]
