{
  "batchPath": "batch",
  "version_module": true,
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "id": "discoveryengine:v1alpha",
  "name": "discoveryengine",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "Discovery Engine",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "schemas": {
    "GoogleMonitoringV3Point": {
      "type": "object",
      "description": "A single data point in a time series.",
      "id": "GoogleMonitoringV3Point",
      "properties": {
        "value": {
          "$ref": "GoogleMonitoringV3TypedValue",
          "description": "The value of the data point."
        },
        "interval": {
          "$ref": "GoogleMonitoringV3TimeInterval",
          "description": "The time interval to which the data point applies. For `GAUGE` metrics, the start time is optional, but if it is supplied, it must equal the end time. For `DELTA` metrics, the start and end time should specify a non-zero interval, with subsequent points specifying contiguous and non-overlapping intervals. For `CUMULATIVE` metrics, the start and end time should specify a non-zero interval, with subsequent points specifying the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramEvaluationSubmission": {
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramEvaluationSubmission",
      "description": "Evaluation submission for a program candidate.",
      "type": "object",
      "properties": {
        "evaluation": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramEvaluation",
          "description": "Required. Evaluation results for the program candidate."
        },
        "program": {
          "description": "Required. Unique identifier for the program. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/alphaEvolveExperiments/{alpha_evolve_experiment}/alphaEvolvePrograms/{alpha_evolve_program}`",
          "type": "string"
        },
        "lockToken": {
          "type": "string",
          "description": "Required. Lock token for the program obtained in the AcquireAlphaEvolvePrograms call."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSitesResponse": {
      "properties": {
        "targetSites": {
          "description": "TargetSites created.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaTargetSite"
          }
        }
      },
      "description": "Response message for SiteSearchEngineService.BatchCreateTargetSites method.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSitesResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantContentBlob": {
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Required. The media type (MIME type) of the generated data.",
          "type": "string"
        },
        "data": {
          "description": "Required. Raw bytes.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Inline blob.",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantContentBlob"
    },
    "GoogleApiDistributionBucketOptions": {
      "id": "GoogleApiDistributionBucketOptions",
      "description": "`BucketOptions` describes the bucket boundaries used to create a histogram for the distribution. The buckets can be in a linear sequence, an exponential sequence, or each bucket can be specified explicitly. `BucketOptions` does not include the number of values in each bucket. A bucket has an inclusive lower bound and exclusive upper bound for the values that are counted for that bucket. The upper bound of a bucket must be strictly greater than the lower bound. The sequence of N buckets for a distribution consists of an underflow bucket (number 0), zero or more finite buckets (number 1 through N - 2) and an overflow bucket (number N - 1). The buckets are contiguous: the lower bound of bucket i (i > 0) is the same as the upper bound of bucket i - 1. The buckets span the whole range of finite values: lower bound of the underflow bucket is -infinity and the upper bound of the overflow bucket is +infinity. The finite buckets are so-called because both bounds are finite.",
      "properties": {
        "linearBuckets": {
          "description": "The linear bucket.",
          "$ref": "GoogleApiDistributionBucketOptionsLinear"
        },
        "explicitBuckets": {
          "$ref": "GoogleApiDistributionBucketOptionsExplicit",
          "description": "The explicit buckets."
        },
        "exponentialBuckets": {
          "description": "The exponential buckets.",
          "$ref": "GoogleApiDistributionBucketOptionsExponential"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSnippetSpec": {
      "type": "object",
      "properties": {
        "returnSnippet": {
          "description": "If `true`, then return snippet. If no snippet can be generated, we return \"No snippet is available for this page.\" A `snippet_status` with `SUCCESS` or `NO_SNIPPET_AVAILABLE` will also be returned.",
          "type": "boolean"
        },
        "maxSnippetCount": {
          "type": "integer",
          "description": "[DEPRECATED] This field is deprecated. To control snippet return, use `return_snippet` field. For backwards compatibility, we will return snippet if max_snippet_count > 0.",
          "format": "int32",
          "deprecated": true
        },
        "referenceOnly": {
          "description": "[DEPRECATED] This field is deprecated and will have no affect on the snippet.",
          "type": "boolean",
          "deprecated": true
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSnippetSpec",
      "description": "A specification for configuring snippets in a search response."
    },
    "GoogleCloudDiscoveryengineV1alphaCannedQuery": {
      "description": "Canned query resource of Assistant. It represents a short-cut to a predefined conversation start.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the canned query. It must be a UTF-8 encoded string with a length limit of 128 characters."
        },
        "defaultTexts": {
          "description": "Required. The default (non-localized) values for the text attributes.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCannedQueryCannedQueryTexts"
        },
        "localizedTexts": {
          "description": "Optional. The translations of the text attributes. The keys should be BCP-47 language codes.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCannedQueryCannedQueryTexts"
          }
        },
        "name": {
          "type": "string",
          "description": "Immutable. Resource name of the canned query. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}/cannedQueries/{canned_query}` It must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "googleDefined": {
          "description": "Output only. Whether this is a Google-defined, read-only canned query.",
          "type": "boolean",
          "readOnly": true
        },
        "requiredCapabilities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCannedQueryAssistantCapability"
          },
          "description": "Optional. The capabilities the Assistant needs to have to use this canned query."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this canned query is enabled."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaCannedQuery",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAuthorization": {
      "description": "Discovery Engine Authorization resource.",
      "properties": {
        "displayName": {
          "description": "Required. The display name of the authorization. It must be a UTF-8 encoded string with a length limit of 128 characters.",
          "type": "string"
        },
        "serverSideOauth2": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAuthorizationServerSideOAuth2",
          "description": "Server-side OAuth2 configuration."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the authorization. Format: `projects/{project}/locations/{location}/authorizations/{authorization}` It must be a UTF-8 encoded string with a length limit of 1024 characters."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAuthorization"
    },
    "GoogleCloudDiscoveryengineV1alphaAcquireProgramsRequest": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAcquireProgramsRequest",
      "description": "Request message for AlphaEvolveService.AcquirePrograms.",
      "properties": {
        "desiredProgramsCount": {
          "description": "Optional. Number of evolved programs to acquire. If not set, the default value is 1.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryRequestSuggestionTypeSpec": {
      "description": "Specification of each suggestion type.",
      "id": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryRequestSuggestionTypeSpec",
      "properties": {
        "suggestionType": {
          "enumDescriptions": [
            "Default value.",
            "Returns query suggestions.",
            "Returns people suggestions.",
            "Returns content suggestions.",
            "Returns recent search suggestions.",
            "Returns Google Workspace suggestions."
          ],
          "enum": [
            "SUGGESTION_TYPE_UNSPECIFIED",
            "QUERY",
            "PEOPLE",
            "CONTENT",
            "RECENT_SEARCH",
            "GOOGLE_WORKSPACE"
          ],
          "description": "Optional. Suggestion type.",
          "type": "string"
        },
        "maxSuggestions": {
          "description": "Optional. Maximum number of suggestions to return for each suggestion type.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImageCharacteristics": {
      "properties": {
        "width": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Image width in pixels."
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Image height in pixels."
        },
        "colorSpace": {
          "enum": [
            "COLOR_SPACE_UNSPECIFIED",
            "RGB",
            "CMYK",
            "GRAYSCALE",
            "YUV",
            "OTHER_COLOR_SPACE"
          ],
          "description": "Output only. Color space of the image (e.g., \"RGB\", \"CMYK\", \"Grayscale\").",
          "type": "string",
          "enumDescriptions": [
            "Default value. Unknown color space.",
            "Red, green, blue colorspace.",
            "Cyan, magenta, yellow, and black colorspace.",
            "Grayscale colorspace.",
            "YUV colorspace.",
            "Other colorspace."
          ],
          "readOnly": true
        },
        "bitDepth": {
          "format": "int32",
          "description": "Output only. Bit depth of the image (e.g., 8-bit, 16-bit).",
          "type": "integer",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaImageCharacteristics",
      "description": "Standard characteristics of an image media view.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpec",
      "properties": {
        "modelPromptSpec": {
          "description": "If specified, the spec will be used to modify the prompt provided to the LLM.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelPromptSpec"
        },
        "summaryResultCount": {
          "type": "integer",
          "description": "The number of top results to generate the summary from. If the number of results returned is less than `summaryResultCount`, the summary is generated from all of the results. At most 10 results for documents mode, or 50 for chunks mode, can be used to generate a summary. The chunks mode is used when SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS.",
          "format": "int32"
        },
        "includeCitations": {
          "type": "boolean",
          "description": "Specifies whether to include citations in the summary. The default value is `false`. When this field is set to `true`, summaries include in-line citation numbers. Example summary including citations: BigQuery is Google Cloud's fully managed and completely serverless enterprise data warehouse [1]. BigQuery supports all data types, works across clouds, and has built-in machine learning and business intelligence, all within a unified platform [2, 3]. The citation numbers refer to the returned search results and are 1-indexed. For example, [1] means that the sentence is attributed to the first search result. [2, 3] means that the sentence is attributed to both the second and third search results."
        },
        "modelSpec": {
          "description": "If specified, the spec will be used to modify the model specification provided to the LLM.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelSpec"
        },
        "ignoreJailBreakingQuery": {
          "description": "Optional. Specifies whether to filter out jail-breaking queries. The default value is `false`. Google employs search-query classification to detect jail-breaking queries. No summary is returned if the search query is classified as a jail-breaking query. A user might add instructions to the query to change the tone, style, language, content of the answer, or ask the model to act as a different entity, e.g. \"Reply in the tone of a competing company's CEO\". If this field is set to `true`, we skip generating summaries for jail-breaking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "multimodalSpec": {
          "description": "Optional. Multimodal specification.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecMultiModalSpec"
        },
        "ignoreNonSummarySeekingQuery": {
          "description": "Specifies whether to filter out queries that are not summary-seeking. The default value is `false`. Google employs search-query classification to detect summary-seeking queries. No summary is returned if the search query is classified as a non-summary seeking query. For example, `why is the sky blue` and `Who is the best soccer player in the world?` are summary-seeking queries, but `SFO airport` and `world cup 2026` are not. They are most likely navigational queries. If this field is set to `true`, we skip generating summaries for non-summary seeking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "ignoreLowRelevantContent": {
          "type": "boolean",
          "description": "Specifies whether to filter out queries that have low relevance. The default value is `false`. If this field is set to `false`, all search results are used regardless of relevance to generate answers. If set to `true`, only queries with high relevance search results will generate answers."
        },
        "useSemanticChunks": {
          "description": "If true, answer will be generated from most relevant chunks from top search results. This feature will improve summary quality. Note that with this feature enabled, not all top search results will be referenced and included in the reference list, so the citation source index only points to the search results listed in the reference list.",
          "type": "boolean"
        },
        "languageCode": {
          "description": "Language code for Summary. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Note: This is an experimental feature.",
          "type": "string"
        },
        "ignoreAdversarialQuery": {
          "type": "boolean",
          "description": "Specifies whether to filter out adversarial queries. The default value is `false`. Google employs search-query classification to detect adversarial queries. No summary is returned if the search query is classified as an adversarial query. For example, a user might ask a question regarding negative comments about the company or submit a query designed to generate unsafe, policy-violating output. If this field is set to `true`, we skip generating summaries for adversarial queries and return fallback messages instead."
        }
      },
      "description": "A specification for configuring a summary returned in a search response."
    },
    "GoogleCloudDiscoveryengineV1betaImportErrorConfig": {
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      },
      "description": "Configuration of destination for Import related errors.",
      "id": "GoogleCloudDiscoveryengineV1betaImportErrorConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesMetadata",
      "description": "Metadata related to the progress of the PurgeSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1Assistant": {
      "id": "GoogleCloudDiscoveryengineV1Assistant",
      "type": "object",
      "description": "Discovery Engine Assistant resource.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Represents the time when this Assistant was created.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Description for additional information. Expected to be shown on the configuration UI, not to the users of the assistant."
        },
        "webGroundingType": {
          "description": "Optional. The type of web grounding to use.",
          "type": "string",
          "enum": [
            "WEB_GROUNDING_TYPE_UNSPECIFIED",
            "WEB_GROUNDING_TYPE_DISABLED",
            "WEB_GROUNDING_TYPE_GOOGLE_SEARCH",
            "WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH"
          ],
          "enumDescriptions": [
            "Default, unspecified setting. This is the same as disabled.",
            "Web grounding is disabled.",
            "Grounding with Google Search is enabled.",
            "Grounding with Enterprise Web Search is enabled."
          ]
        },
        "defaultWebGroundingToggleOff": {
          "type": "boolean",
          "description": "Optional. This field controls the default web grounding toggle for end users if `web_grounding_type` is set to `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`. By default, this field is set to false. If `web_grounding_type` is `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`, end users will have web grounding enabled by default on UI. If true, grounding toggle will be disabled by default on UI. End users can still enable web grounding in the UI if web grounding is enabled."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Represents the time when this Assistant was most recently updated.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Resource name of the assistant. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}` It must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "enabledTools": {
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1AssistantToolList"
          },
          "description": "Optional. Note: not implemented yet. Use enabled_actions instead. The enabled tools on this assistant. The keys are connector name, for example \"projects/{projectId}/locations/{locationId}/collections/{collectionId}/dataconnector The values consist of admin enabled tools towards the connector instance. Admin can selectively enable multiple tools on any of the connector instances that they created in the project. For example {\"jira1ConnectorName\": [(toolId1, \"createTicket\"), (toolId2, \"transferTicket\")], \"gmail1ConnectorName\": [(toolId3, \"sendEmail\"),..] }",
          "type": "object"
        },
        "customerPolicy": {
          "description": "Optional. Customer policy for the assistant.",
          "$ref": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicy"
        },
        "displayName": {
          "description": "Required. The assistant display name. It must be a UTF-8 encoded string with a length limit of 128 characters.",
          "type": "string"
        },
        "generationConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1AssistantGenerationConfig",
          "description": "Optional. Configuration for the generation of the assistant response."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigLayoutParsingConfig": {
      "properties": {
        "enableGetProcessedDocument": {
          "description": "Optional. If true, the processed document will be made available for the GetProcessedDocument API.",
          "type": "boolean"
        },
        "enableLlmLayoutParsing": {
          "type": "boolean",
          "description": "Optional. If true, the pdf layout will be refined using an LLM."
        },
        "structuredContentTypes": {
          "description": "Optional. Contains the required structure types to extract from the document. Supported values: * `shareholder-structure`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "excludeHtmlElements": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of HTML elements to exclude from the parsed content."
        },
        "enableImageAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the image during parsing.",
          "type": "boolean"
        },
        "enableTableAnnotation": {
          "type": "boolean",
          "description": "Optional. If true, the LLM based annotation is added to the table during parsing."
        },
        "excludeHtmlClasses": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of HTML classes to exclude from the parsed content.",
          "type": "array"
        },
        "excludeHtmlIds": {
          "description": "Optional. List of HTML ids to exclude from the parsed content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigLayoutParsingConfig",
      "type": "object",
      "description": "The layout parsing configurations for documents."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSnippetSpec": {
      "description": "A specification for configuring snippets in a search response.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSnippetSpec",
      "properties": {
        "referenceOnly": {
          "deprecated": true,
          "description": "[DEPRECATED] This field is deprecated and will have no affect on the snippet.",
          "type": "boolean"
        },
        "maxSnippetCount": {
          "deprecated": true,
          "description": "[DEPRECATED] This field is deprecated. To control snippet return, use `return_snippet` field. For backwards compatibility, we will return snippet if max_snippet_count > 0.",
          "format": "int32",
          "type": "integer"
        },
        "returnSnippet": {
          "description": "If `true`, then return snippet. If no snippet can be generated, we return \"No snippet is available for this page.\" A `snippet_status` with `SUCCESS` or `NO_SNIPPET_AVAILABLE` will also be returned.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAddPatientFilterRequest": {
      "type": "object",
      "description": "Request for DataStoreService.AddPatientFilter method.",
      "properties": {
        "dataStore": {
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore already has a patient filter, an ALREADY_EXISTS error will be returned.",
          "type": "string"
        },
        "filterGroups": {
          "items": {
            "type": "string"
          },
          "description": "Required. Names of the Group resources to use as a basis for the patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. if the caller does not have permission to access the FHIR store, regardless of whether it exists, PERMISSION_DENIED error is returned. If the discovery engine service account does not have permission to access the FHIR store, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the group is not found at the location, a RESOURCE_NOT_FOUND error will be returned. The filter group must be a FHIR resource name of type Group, and the filter will be constructed from the direct members of the group which are Patient resources.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAddPatientFilterRequest"
    },
    "GoogleCloudDiscoveryengineV1PurgeCompletionSuggestionsMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1PurgeCompletionSuggestionsMetadata",
      "description": "Metadata related to the progress of the PurgeCompletionSuggestions operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpecFacetKey": {
      "properties": {
        "prefixes": {
          "description": "Only get facet values that start with the given string prefix. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"prefixes\" to \"Action\", the \"category\" facet only contains \"Action > 2022\" and \"Action > 2021\". Only supported on textual fields. Maximum is 10.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "restrictedValues": {
          "type": "array",
          "description": "Only get facet for the given restricted values. Only supported on textual fields. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"restricted_values\" to \"Action > 2022\", the \"category\" facet only contains \"Action > 2022\". Only supported on textual fields. Maximum is 10.",
          "items": {
            "type": "string"
          }
        },
        "intervals": {
          "description": "Set only if values should be bucketed into intervals. Must be set for facets with numerical values. Must not be set for facet with text values. Maximum number of intervals is 30.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaInterval"
          }
        },
        "orderBy": {
          "description": "The order in which documents are returned. Allowed values are: * \"count desc\", which means order by SearchResponse.Facet.values.count descending. * \"value desc\", which means order by SearchResponse.Facet.values.value descending. Only applies to textual facets. If not set, textual values are sorted in [natural order](https://en.wikipedia.org/wiki/Natural_sort_order); numerical intervals are sorted in the order given by FacetSpec.FacetKey.intervals.",
          "type": "string"
        },
        "key": {
          "description": "Required. Supported textual and numerical facet keys in Document object, over which the facet values are computed. Facet key is case-sensitive.",
          "type": "string"
        },
        "caseInsensitive": {
          "description": "True to make facet keys case insensitive when getting faceting values with prefixes or contains; false otherwise.",
          "type": "boolean"
        },
        "contains": {
          "type": "array",
          "description": "Only get facet values that contain the given strings. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"contains\" to \"2022\", the \"category\" facet only contains \"Action > 2022\" and \"Sci-Fi > 2022\". Only supported on textual fields. Maximum is 10.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Specifies how a facet is computed.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpecFacetKey",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContext": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContext",
      "type": "object",
      "properties": {
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        },
        "content": {
          "description": "Document content to be used for answer generation.",
          "type": "string"
        }
      },
      "description": "Document context."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment": {
      "properties": {
        "content": {
          "type": "string",
          "description": "Extractive segment content."
        },
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment",
      "description": "Extractive segment. [Guide](https://cloud.google.com/generative-ai-app-builder/docs/snippets#extractive-segments) Answer generation will only use it if document_contexts is empty. This is supposed to be shorter snippets."
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequest": {
      "properties": {
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig",
          "description": "The desired location of errors incurred during the Import."
        },
        "alloyDbSource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlloyDbSource",
          "description": "AlloyDB input source."
        },
        "gcsSource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaGcsSource",
          "description": "Cloud Storage location for the input content."
        },
        "firestoreSource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaFirestoreSource",
          "description": "Firestore input source."
        },
        "bigtableSource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaBigtableSource",
          "description": "Cloud Bigtable input source."
        },
        "cloudSqlSource": {
          "description": "Cloud SQL input source.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCloudSqlSource"
        },
        "spannerSource": {
          "description": "Spanner input source.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSpannerSource"
        },
        "bigquerySource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaBigQuerySource",
          "description": "BigQuery input source."
        },
        "forceRefreshContent": {
          "description": "Optional. Whether to force refresh the unstructured content of the documents. If set to `true`, the content part of the documents will be refreshed regardless of the update status of the referencing content.",
          "type": "boolean"
        },
        "fhirStoreSource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaFhirStoreSource",
          "description": "FhirStore input source."
        },
        "autoGenerateIds": {
          "type": "boolean",
          "description": "Whether to automatically generate IDs for the documents if absent. If set to `true`, Document.ids are automatically generated based on the hash of the payload, where IDs may not be consistent during multiple imports. In which case ReconciliationMode.FULL is highly recommended to avoid duplicate contents. If unset or set to `false`, Document.ids have to be specified using id_field, otherwise, documents without IDs fail to be imported. Supported data sources: * GcsSource. GcsSource.data_schema must be `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown. * BigQuerySource. BigQuerySource.data_schema must be `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown. * SpannerSource. * CloudSqlSource. * FirestoreSource. * BigtableSource."
        },
        "inlineSource": {
          "description": "The Inline source for the input content for documents.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequestInlineSource"
        },
        "idField": {
          "type": "string",
          "description": "The field indicates the ID field or column to be used as unique IDs of the documents. For GcsSource it is the key of the JSON field. For instance, `my_id` for JSON `{\"my_id\": \"some_uuid\"}`. For others, it may be the column name of the table where the unique ids are stored. The values of the JSON field or the table column are used as the Document.ids. The JSON field or the table column must be of string type, and the values must be set as valid strings conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) with 1-63 characters. Otherwise, documents without valid IDs fail to be imported. Only set this field when auto_generate_ids is unset or set as `false`. Otherwise, an INVALID_ARGUMENT error is thrown. If it is unset, a default value `_id` is used when importing from the allowed data sources. Supported data sources: * GcsSource. GcsSource.data_schema must be `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown. * BigQuerySource. BigQuerySource.data_schema must be `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown. * SpannerSource. * CloudSqlSource. * BigtableSource."
        },
        "reconciliationMode": {
          "enumDescriptions": [
            "Defaults to `INCREMENTAL`.",
            "Inserts new documents or updates existing documents.",
            "Calculates diff and replaces the entire document dataset. Existing documents may be deleted if they are not present in the source location. When using this mode, there won't be any downtime on the dataset targeted. Any document that should remain unchanged or that should be updated will continue serving while the operation is running."
          ],
          "description": "The mode of reconciliation between existing documents and the documents to be imported. Defaults to ReconciliationMode.INCREMENTAL.",
          "enum": [
            "RECONCILIATION_MODE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL"
          ],
          "type": "string"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Indicates which fields in the provided imported documents to update. If not set, the default is to update all fields.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequest",
      "description": "Request message for Import methods."
    },
    "GoogleCloudDiscoveryengineV1betaSchema": {
      "properties": {
        "structSchema": {
          "type": "object",
          "description": "The structured representation of the schema.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "jsonSchema": {
          "description": "The JSON representation of the schema.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The full resource name of the schema, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/schemas/{schema}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSchema",
      "description": "Defines the structure and layout of a type of document data."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseQueryExpansionInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseQueryExpansionInfo",
      "properties": {
        "pinnedResultCount": {
          "type": "string",
          "description": "Number of pinned results. This field will only be set when expansion happens and SearchRequest.QueryExpansionSpec.pin_unexpanded_results is set to true.",
          "format": "int64"
        },
        "expandedQuery": {
          "type": "boolean",
          "description": "Bool describing whether query expansion has occurred."
        }
      },
      "description": "Information describing query expansion including whether expansion has occurred.",
      "type": "object"
    },
    "GoogleApiDistribution": {
      "description": "`Distribution` contains summary statistics for a population of values. It optionally contains a histogram representing the distribution of those values across a set of buckets. The summary statistics are the count, mean, sum of the squared deviation from the mean, the minimum, and the maximum of the set of population of values. The histogram is based on a sequence of buckets and gives a count of values that fall into each bucket. The boundaries of the buckets are given either explicitly or by formulas for buckets of fixed or exponentially increasing widths. Although it is not forbidden, it is generally a bad idea to include non-finite values (infinities or NaNs) in the population of values, as this will render the `mean` and `sum_of_squared_deviation` fields meaningless.",
      "properties": {
        "bucketCounts": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The number of values in each bucket of the histogram, as described in `bucket_options`. If the distribution does not have a histogram, then omit this field. If there is a histogram, then the sum of the values in `bucket_counts` must equal the value in the `count` field of the distribution. If present, `bucket_counts` should contain N values, where N is the number of buckets specified in `bucket_options`. If you supply fewer than N values, the remaining values are assumed to be 0. The order of the values in `bucket_counts` follows the bucket numbering schemes described for the three bucket types. The first value must be the count for the underflow bucket (number 0). The next N-2 values are the counts for the finite buckets (number 1 through N-2). The N'th value in `bucket_counts` is the count for the overflow bucket (number N-1)."
        },
        "sumOfSquaredDeviation": {
          "type": "number",
          "description": "The sum of squared deviations from the mean of the values in the population. For values x_i this is: Sum[i=1..n]((x_i - mean)^2) Knuth, \"The Art of Computer Programming\", Vol. 2, page 232, 3rd edition describes Welford's method for accumulating this sum in one pass. If `count` is zero then this field must be zero.",
          "format": "double"
        },
        "mean": {
          "format": "double",
          "description": "The arithmetic mean of the values in the population. If `count` is zero then this field must be zero.",
          "type": "number"
        },
        "range": {
          "description": "If specified, contains the range of the population values. The field must not be present if the `count` is zero.",
          "$ref": "GoogleApiDistributionRange"
        },
        "exemplars": {
          "items": {
            "$ref": "GoogleApiDistributionExemplar"
          },
          "description": "Must be in increasing order of `value` field.",
          "type": "array"
        },
        "count": {
          "format": "int64",
          "description": "The number of values in the population. Must be non-negative. This value must equal the sum of the values in `bucket_counts` if a histogram is provided.",
          "type": "string"
        },
        "bucketOptions": {
          "$ref": "GoogleApiDistributionBucketOptions",
          "description": "Defines the histogram bucket boundaries. If the distribution does not contain a histogram, then omit this field."
        }
      },
      "id": "GoogleApiDistribution",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigLayoutParsingConfig": {
      "description": "The layout parsing configurations for documents.",
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigLayoutParsingConfig",
      "type": "object",
      "properties": {
        "excludeHtmlIds": {
          "type": "array",
          "description": "Optional. List of HTML ids to exclude from the parsed content.",
          "items": {
            "type": "string"
          }
        },
        "enableLlmLayoutParsing": {
          "description": "Optional. If true, the pdf layout will be refined using an LLM.",
          "type": "boolean"
        },
        "enableGetProcessedDocument": {
          "description": "Optional. If true, the processed document will be made available for the GetProcessedDocument API.",
          "type": "boolean"
        },
        "structuredContentTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains the required structure types to extract from the document. Supported values: * `shareholder-structure`"
        },
        "excludeHtmlElements": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of HTML elements to exclude from the parsed content.",
          "type": "array"
        },
        "enableImageAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the image during parsing.",
          "type": "boolean"
        },
        "enableTableAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the table during parsing.",
          "type": "boolean"
        },
        "excludeHtmlClasses": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of HTML classes to exclude from the parsed content.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfig": {
      "type": "object",
      "description": "A singleton resource of DataStore. If it's empty when DataStore is created and DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED, the default parser will default to digital parser.",
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfig",
      "properties": {
        "defaultParsingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig",
          "description": "Configurations for default Document parser. If not specified, we will configure it as default DigitalParsingConfig, and the default parsing config will be applied to all file types for Document parsing."
        },
        "chunkingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigChunkingConfig",
          "description": "Whether chunking mode is enabled."
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the Document Processing Config. Format: `projects/*/locations/*/collections/*/dataStores/*/documentProcessingConfig`."
        },
        "parsingConfigOverrides": {
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig"
          },
          "type": "object",
          "description": "Map from file type to override the default parsing configuration based on the file type. Supported keys: * `pdf`: Override parsing config for PDF files, either digital parsing, ocr parsing or layout parsing is supported. * `html`: Override parsing config for HTML files, only digital parsing and layout parsing are supported. * `docx`: Override parsing config for DOCX files, only digital parsing and layout parsing are supported. * `pptx`: Override parsing config for PPTX files, only digital parsing and layout parsing are supported. * `xlsm`: Override parsing config for XLSM files, only digital parsing and layout parsing are supported. * `xlsx`: Override parsing config for XLSX files, only digital parsing and layout parsing are supported."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCitationMetadata": {
      "properties": {
        "citations": {
          "description": "Output only. List of citations.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCitation"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A collection of source attributions for a piece of content.",
      "id": "GoogleCloudDiscoveryengineV1alphaCitationMetadata"
    },
    "GoogleCloudDiscoveryengineV1CreateEngineMetadata": {
      "description": "Metadata related to the progress of the EngineService.CreateEngine operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1CreateEngineMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaFileMetadata": {
      "properties": {
        "uploadTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the file was uploaded (If this is a file generated by an internal process and then made available to the session, this indicates the moment it happened)."
        },
        "downloadUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The AssistantService.DownloadSessionFile URL to download the file. This URL will need the same credentials as AssistantService.ListSessionFileMetadata method and will provide the resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the file uploaded."
        },
        "originalSourceType": {
          "description": "Optional. The type of the original source of the file.",
          "enum": [
            "FILE_SOURCE_UNSPECIFIED",
            "FILE_SOURCE_INLINE",
            "FILE_SOURCE_LOCAL",
            "FILE_SOURCE_CLOUD_STORAGE",
            "FILE_SOURCE_CLOUD_DRIVE",
            "FILE_SOURCE_URL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Unknown source.",
            "The data of the file was provided inline (e.g. pasted from the clipboard).",
            "The file was uploaded from a local file.",
            "The file was uploaded from Cloud Storage.",
            "The file was uploaded from Drive.",
            "The file was retrieved from a URL (e.g. public web)."
          ]
        },
        "originalUri": {
          "description": "Optional. The original location of the file. It may be a local file path, or any other URI that allows accessing the file in an external system. There are two scenarios in which this url may be empty: 1. If the file was sent as inline data (e.g. pasted from the clipboard). 2. If the original location is not available. Note that there's no guarantee that the URI will be pointing to a valid or actually existing file. For example, a file might have been uploaded to the session, and then deleted from the original source.",
          "type": "string"
        },
        "byteSize": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The size of the context file in bytes."
        },
        "lastAddTime": {
          "description": "Output only. The time the file was added to the session. Note that if a file was added, then modified externally, then added again, the add time will be updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "views": {
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaFileView"
          },
          "type": "object",
          "readOnly": true,
          "description": "Output only. Alternate views of this file object. Each file view is attached to a specific role. Possible example keys: - \"thumbnail\" - \"mobile_thumbnail\" - \"clip\" - \"summary\" - \"translation\""
        },
        "fileOriginType": {
          "description": "Optional. The origin of the file.",
          "enum": [
            "FILE_ORIGIN_TYPE_UNSPECIFIED",
            "USER_PROVIDED",
            "AI_GENERATED",
            "INTERNALLY_GENERATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The file was provided by the user.",
            "The file was generated by an AI model.",
            "The file was generated from other files by an internal process."
          ]
        },
        "fileId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the file."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Represents metadata related to the file that can suit particular use cases. The prefix \"google.\" is reserved for the key for use by Google, but other prefixes can be freely used."
        },
        "mimeType": {
          "description": "The content type of the file, see https://www.iana.org/assignments/media-types/media-types.xhtml.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaFileMetadata",
      "description": "Represents a file attached to a session (context file)",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfoDocumentMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfoDocumentMetadata",
      "properties": {
        "uri": {
          "description": "Uri of the document.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the document."
        }
      },
      "description": "Document metadata contains the information of the document of the current chunk.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaManagedAgentDefinition": {
      "description": "Stores the definition of a Google managed agent.",
      "id": "GoogleCloudDiscoveryengineV1alphaManagedAgentDefinition",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig": {
      "properties": {
        "responseTemplate": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor Template for sanitizing LLM responses. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the LLM response."
        },
        "userPromptTemplate": {
          "description": "Optional. The resource name of the Model Armor Template for sanitizing user prompts. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the user prompt.",
          "type": "string"
        }
      },
      "description": "Configuration for customer defined Model Armor templates to be used for sanitizing user prompts and LLM responses.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaAgent": {
      "id": "GoogleCloudDiscoveryengineV1alphaAgent",
      "description": "Performs a predefined, specific task.",
      "type": "object",
      "properties": {
        "suspensionReason": {
          "type": "string",
          "description": "Output only. The reason why the agent was suspended. Only set if the state is SUSPENDED.",
          "readOnly": true
        },
        "sharingConfig": {
          "description": "Optional. The sharing config of the agent.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAgentSharingConfig"
        },
        "starterPrompts": {
          "description": "Optional. The starter prompt suggestions to show the user on the landing page of the agent.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAgentStarterPrompt"
          },
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when this Agent was created.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Resource name of the agent. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}/agents/{agent}`",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Required. Human-readable description of the agent. This might be used by an LLM to automatically select an agent to respond to a user query."
        },
        "languageCode": {
          "description": "Optional. The code of the language of the text in the description, display_name and starter_prompts fields.",
          "type": "string"
        },
        "deploymentFailureReason": {
          "description": "Output only. The reason why the agent deployment failed. Only set if the state is DEPLOYMENT_FAILED.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The lifecycle state of the agent.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIGURED",
            "DEPLOYING",
            "DISABLED",
            "DEPLOYMENT_FAILED",
            "PRIVATE",
            "ENABLED",
            "SUSPENDED",
            "CREATING",
            "CREATION_FAILED"
          ],
          "enumDescriptions": [
            "The state is unspecified.",
            "The agent is configured, but no deployment triggered yet.",
            "The agent is being deployed.",
            "The agent is available for admins only.",
            "The agent deployment failed.",
            "Agent is available only to its creator..",
            "Agent is available for users who have access.",
            "Agent is temporarily unavailable, though visible to users who have access.",
            "Agent is being created.",
            "Agent creation (provisioning) failed. Terminal. To retry, the caller must `DeleteAgent` to clear the failed resource and then create again; there is no in-place overwrite of a failed agent. Only set for asynchronously-provisioned agents."
          ],
          "type": "string"
        },
        "dialogflowAgentDefinition": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaDialogflowAgentDefinition",
          "description": "Optional. The behavior of the agent is defined as a Dialogflow agent."
        },
        "icon": {
          "description": "Optional. The icon that represents the agent on the UI.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAgentImage"
        },
        "displayName": {
          "description": "Required. Display name of the agent. This might be used by an LLM to automatically select an agent to respond to a user query.",
          "type": "string"
        },
        "customPlaceholderText": {
          "type": "string",
          "description": "Optional. The custom placeholder text that appears in the text box before the user enters any text."
        },
        "rejectionReason": {
          "description": "Output only. The reason why the agent was rejected. Only set if the state is PRIVATE, and got there via rejection.",
          "readOnly": true,
          "type": "string"
        },
        "adkAgentDefinition": {
          "description": "Optional. The behavior of the agent is defined as an ADK agent.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAdkAgentDefinition"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this Agent was most recently updated.",
          "readOnly": true
        },
        "observabilityConfig": {
          "description": "Optional. Observability config for the agent.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaObservabilityConfig"
        },
        "managedAgentDefinition": {
          "description": "Optional. The behavior of the Google managed agent.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaManagedAgentDefinition"
        },
        "a2aAgentDefinition": {
          "description": "Optional. The behavior of the agent is defined as an A2A agent.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaA2AAgentDefinition"
        },
        "authorizationConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAuthorizationConfig",
          "description": "Optional. The authorizations that are required by the agent."
        },
        "creationFailureReason": {
          "type": "string",
          "description": "Output only. The reason why the agent creation (provisioning) failed. Only set if the state is CREATION_FAILED.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaObtainCrawlRateResponse": {
      "description": "Response message for CrawlRateManagementService.ObtainCrawlRate method. The response contains organcic or dedicated crawl rate time series data for monitoring, depending on whether dedicated crawl rate is set.",
      "id": "GoogleCloudDiscoveryengineV1betaObtainCrawlRateResponse",
      "properties": {
        "dedicatedCrawlRateTimeSeries": {
          "description": "The historical dedicated crawl rate timeseries data, used for monitoring.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDedicatedCrawlRateTimeSeries"
        },
        "organicCrawlRateTimeSeries": {
          "$ref": "GoogleCloudDiscoveryengineV1betaOrganicCrawlRateTimeSeries",
          "description": "The historical organic crawl rate timeseries data, used for monitoring."
        },
        "state": {
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The state of the response.",
          "type": "string"
        },
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigLayoutParsingConfig": {
      "description": "The layout parsing configurations for documents.",
      "id": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigLayoutParsingConfig",
      "properties": {
        "excludeHtmlIds": {
          "type": "array",
          "description": "Optional. List of HTML ids to exclude from the parsed content.",
          "items": {
            "type": "string"
          }
        },
        "excludeHtmlClasses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of HTML classes to exclude from the parsed content."
        },
        "excludeHtmlElements": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of HTML elements to exclude from the parsed content.",
          "type": "array"
        },
        "enableLlmLayoutParsing": {
          "description": "Optional. If true, the pdf layout will be refined using an LLM.",
          "type": "boolean"
        },
        "enableTableAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the table during parsing.",
          "type": "boolean"
        },
        "enableGetProcessedDocument": {
          "type": "boolean",
          "description": "Optional. If true, the processed document will be made available for the GetProcessedDocument API."
        },
        "enableImageAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the image during parsing.",
          "type": "boolean"
        },
        "structuredContentTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Contains the required structure types to extract from the document. Supported values: * `shareholder-structure`"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaUserInfo": {
      "description": "Information of an end user.",
      "id": "GoogleCloudDiscoveryengineV1alphaUserInfo",
      "type": "object",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Optional. IANA time zone, e.g. Europe/Budapest."
        },
        "userId": {
          "type": "string",
          "description": "Highly recommended for logged-in users. Unique identifier for logged-in user, such as a user name. Don't set for anonymous users. Always use a hashed value for this ID. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. Represents an opaque ID to the Search API. The Search API doesn't interpret the value in any way. This field is used to associate events with a user across sessions if the events are being uploaded."
        },
        "userAgent": {
          "type": "string",
          "description": "User agent as included in the HTTP header. The field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. This should not be set when using the client side event reporting with GTM or JavaScript tag in UserEventService.CollectUserEvent or if UserEvent.direct_user_request is set."
        },
        "preciseLocation": {
          "description": "Optional. Input only. Precise location of the user. It is used in Custom Ranking to calculate the distance between the user and the relevant documents.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaUserInfoPreciseLocation"
        }
      }
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchResponse": {
      "description": "Response message for SiteSearchEngineService.EnableAdvancedSiteSearch method.",
      "id": "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaCheckGroundingResponseCheckGroundingFactChunk": {
      "description": "Fact chunk for grounding check.",
      "type": "object",
      "properties": {
        "chunkText": {
          "type": "string",
          "description": "Text content of the fact chunk. Can be at most 10K characters long."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaCheckGroundingResponseCheckGroundingFactChunk"
    },
    "GoogleCloudDiscoveryengineV1alphaSetUpDataConnectorRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaSetUpDataConnectorRequest",
      "properties": {
        "collectionId": {
          "type": "string",
          "description": "Required. The ID to use for the Collection, which will become the final component of the Collection's resource name. A new Collection is created as part of the DataConnector setup. DataConnector is a singleton resource under Collection, managing all DataStores of the Collection. Should conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "collectionDisplayName": {
          "description": "Required. The display name of the Collection. Should be human readable, used to display collections in the Console Dashboard. UTF-8 encoded string with limit of 1024 characters.",
          "type": "string"
        },
        "dataConnector": {
          "description": "Required. The DataConnector to initialize in the newly created Collection.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnector"
        }
      },
      "type": "object",
      "description": "Request for DataConnectorService.SetUpDataConnector method."
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigEvolutionSettingsParentSamplingConfig": {
      "properties": {
        "paretoSamplingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigEvolutionSettingsParentSamplingConfigParetoSamplingConfig",
          "description": "Optional. Pareto sampling configuration."
        }
      },
      "description": "Configuration for parent sampling.",
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigEvolutionSettingsParentSamplingConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAgentGatewaySetting": {
      "id": "GoogleCloudDiscoveryengineV1alphaAgentGatewaySetting",
      "description": "Agent Gateway setting, which may be attached to Gemini Enterprise resources for egress control of Gemini Enterprise agents to agents and tools outside of Gemini Enterprise.",
      "type": "object",
      "properties": {
        "defaultEgressAgentGateway": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAgentGatewaySettingAgentGatewayReference",
          "description": "Optional. The default egress agent gateway to use, when this setting is applied to a Gemini Enterprise resource. The deployment mode must be GOOGLE_MANAGED, and the governed access path must be AGENT_TO_ANYWHERE."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteTargetSiteMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteTargetSiteMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the CrawlRateManagementService.SetDedicatedCrawlRate operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnectorEndUserConfig": {
      "description": "Any params and credentials used specifically for EUA connectors.",
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnectorEndUserConfig",
      "properties": {
        "additionalParams": {
          "description": "Optional. Any additional parameters needed for EUA.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "authParams": {
          "description": "Optional. Any authentication parameters specific to EUA connectors.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "tenant": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaTenant",
          "description": "Optional. The tenant project the connector is connected to."
        },
        "jsonAuthParams": {
          "description": "Optional. Any authentication parameters specific to EUA connectors in json string format.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfig": {
      "properties": {
        "resourceAccessControlConfig": {
          "description": "Optional. Resource-level access control config for Gemini Enterprise users.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigResourceAccessControlConfig"
        },
        "notebooklmConfig": {
          "description": "Optional. Configuration for NotebookLM settings.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfig"
        }
      },
      "description": "Customer provided configurations.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1Control": {
      "description": "Defines a conditioned behavior to employ during serving. Must be attached to a ServingConfig to be considered at serving time. Permitted actions dependent on `SolutionType`.",
      "properties": {
        "associatedServingConfigIds": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. List of all ServingConfig IDs this control is attached to. May take up to 10 minutes to update after changes.",
          "type": "array"
        },
        "useCases": {
          "description": "Specifies the use case for the control. Affects what condition fields can be set. Only applies to SOLUTION_TYPE_SEARCH. Currently only allow one use case per control. Must be set when solution_type is SolutionType.SOLUTION_TYPE_SEARCH.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SEARCH_USE_CASE_UNSPECIFIED",
              "SEARCH_USE_CASE_SEARCH",
              "SEARCH_USE_CASE_BROWSE"
            ],
            "enumDescriptions": [
              "Value used when unset. Will not occur in CSS.",
              "Search use case. Expects the traffic has a non-empty query.",
              "Browse use case. Expects the traffic has an empty query."
            ]
          }
        },
        "filterAction": {
          "description": "Defines a filter-type control Currently not supported by Recommendation",
          "$ref": "GoogleCloudDiscoveryengineV1ControlFilterAction"
        },
        "name": {
          "description": "Immutable. Fully qualified name `projects/*/locations/global/dataStore/*/controls/*`",
          "type": "string"
        },
        "redirectAction": {
          "description": "Defines a redirect-type control.",
          "$ref": "GoogleCloudDiscoveryengineV1ControlRedirectAction"
        },
        "conditions": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Condition"
          },
          "type": "array",
          "description": "Determines when the associated action will trigger. Omit to always apply the action. Currently only a single condition may be specified. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "promoteAction": {
          "description": "Promote certain links based on predefined trigger queries.",
          "$ref": "GoogleCloudDiscoveryengineV1ControlPromoteAction"
        },
        "boostAction": {
          "description": "Defines a boost-type control",
          "$ref": "GoogleCloudDiscoveryengineV1ControlBoostAction"
        },
        "synonymsAction": {
          "description": "Treats a group of terms as synonyms of one another.",
          "$ref": "GoogleCloudDiscoveryengineV1ControlSynonymsAction"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human readable name. The identifier used in UI views. Must be UTF-8 encoded string. Length limit is 128 characters. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "solutionType": {
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ],
          "type": "string",
          "description": "Required. Immutable. What solution the control belongs to. Must be compatible with vertical of resource. Otherwise an INVALID ARGUMENT error is thrown."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1Control"
    },
    "GoogleCloudDiscoveryengineV1alphaTargetSite": {
      "properties": {
        "siteVerificationInfo": {
          "description": "Output only. Site ownership and validity verification status.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSiteVerificationInfo",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The target site's last updated time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "This value is unused. In this case, server behavior defaults to Type.INCLUDE.",
            "Include the target site.",
            "Exclude the target site."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ],
          "type": "string",
          "description": "The type of the target site, e.g., whether the site is to be included or excluded."
        },
        "generatedUriPattern": {
          "description": "Output only. This is system-generated based on the provided_uri_pattern.",
          "type": "string",
          "readOnly": true
        },
        "providedUriPattern": {
          "type": "string",
          "description": "Required. Input only. The user provided URI pattern from which the `generated_uri_pattern` is generated."
        },
        "rootDomainUri": {
          "description": "Output only. Root domain of the provided_uri_pattern.",
          "type": "string",
          "readOnly": true
        },
        "failureReason": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaTargetSiteFailureReason",
          "description": "Output only. Failure reason."
        },
        "name": {
          "description": "Output only. The fully qualified resource name of the target site. `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine/targetSites/{target_site}` The `target_site_id` is system-generated.",
          "readOnly": true,
          "type": "string"
        },
        "exactMatch": {
          "description": "Immutable. If set to false, a uri_pattern is generated to include all pages whose address contains the provided_uri_pattern. If set to true, an uri_pattern is generated to try to be an exact match of the provided_uri_pattern or just the specific page if the provided_uri_pattern is a specific one. provided_uri_pattern is always normalized to generate the URI pattern to be used by the search engine.",
          "type": "boolean"
        },
        "indexingStatus": {
          "enum": [
            "INDEXING_STATUS_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "DELETING",
            "CANCELLABLE",
            "CANCELLED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Indexing status.",
          "enumDescriptions": [
            "Defaults to SUCCEEDED.",
            "The target site is in the update queue and will be picked up by indexing pipeline.",
            "The target site fails to be indexed.",
            "The target site has been indexed.",
            "The previously indexed target site has been marked to be deleted. This is a transitioning state which will resulted in either: 1. target site deleted if unindexing is successful; 2. state reverts to SUCCEEDED if the unindexing fails.",
            "The target site change is pending but cancellable.",
            "The target site change is cancelled."
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaTargetSite",
      "type": "object",
      "description": "A target site for the SiteSearchEngine."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfoQueryClassificationInfo": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified query classification type.",
            "Adversarial query classification type.",
            "Non-answer-seeking query classification type, for chit chat.",
            "Jail-breaking query classification type.",
            "Non-answer-seeking query classification type, for no clear intent.",
            "User defined query classification type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADVERSARIAL_QUERY",
            "NON_ANSWER_SEEKING_QUERY",
            "JAIL_BREAKING_QUERY",
            "NON_ANSWER_SEEKING_QUERY_V2",
            "USER_DEFINED_CLASSIFICATION_QUERY"
          ],
          "description": "Query classification type."
        },
        "positive": {
          "description": "Classification output.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfoQueryClassificationInfo",
      "description": "Query classification information."
    },
    "GoogleCloudDiscoveryengineV1alphaImportIdentityMappingsRequestInlineSource": {
      "properties": {
        "identityMappingEntries": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaIdentityMappingEntry"
          },
          "type": "array",
          "description": "A maximum of 10000 entries can be imported at one time"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaImportIdentityMappingsRequestInlineSource",
      "description": "The inline source to import identity mapping entries from.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatus": {
      "description": "Represents the currently effective configurable billing parameters. These values are derived from the customer's subscription history stored internally and reflect the thresholds actively being used for billing purposes at the time of the GetProject call. This includes the start_time of the subscription and may differ from the values in `customer_provided_config` due to billing rules (e.g., scale-downs taking effect only at the start of a new month). We also include the update type to indicate the type of update performed on the configurable billing configuration in the UpdateProject operation.",
      "properties": {
        "searchQpmThresholdNextUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The earliest next update time for the search QPM subscription threshold. This is based on the next_update_time returned by the underlying Cloud Billing Subscription V3 API. This field is populated only if an update QPM subscription threshold request is succeeded.",
          "readOnly": true
        },
        "startTime": {
          "description": "Optional. The start time of the currently active billing subscription.",
          "format": "google-datetime",
          "type": "string"
        },
        "effectiveSearchQpmThreshold": {
          "description": "Optional. The currently effective Search QPM threshold in queries per minute. This is the threshold against which QPM usage is compared for overage calculations.",
          "format": "int64",
          "type": "string"
        },
        "effectiveIndexingCoreThreshold": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The currently effective Indexing Core threshold. This is the threshold against which Indexing Core usage is compared for overage calculations."
        },
        "indexingCoreThresholdNextUpdateTime": {
          "type": "string",
          "description": "Output only. The earliest next update time for the indexing core subscription threshold. This is based on the next_update_time returned by the underlying Cloud Billing Subscription V3 API. This field is populated only if an update indexing core subscription threshold request is succeeded.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "agentSearchTokenSubscriptionStatuses": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Per-model Agent Search TPM subscription status.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus"
          }
        },
        "updateType": {
          "readOnly": true,
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "SCALE_UP",
            "SCALE_DOWN"
          ],
          "enumDescriptions": [
            "Unspecified update type.",
            "Configurable billing was created/enabled.",
            "Configurable billing was deleted/disabled.",
            "Subscription was scaled up (thresholds increased).",
            "Subscription was scaled down (thresholds decreased)."
          ],
          "type": "string",
          "description": "Output only. The type of update performed in this operation. This field is populated in the response of UpdateProject."
        },
        "terminateTime": {
          "readOnly": true,
          "description": "Output only. The latest terminate effective time of search qpm and indexing core subscriptions.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatus"
    },
    "GoogleCloudDiscoveryengineV1DataConnectorFederatedConfig": {
      "id": "GoogleCloudDiscoveryengineV1DataConnectorFederatedConfig",
      "properties": {
        "authParams": {
          "description": "Optional. Any authentication parameters specific to FEDERATED connectors.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "additionalParams": {
          "type": "object",
          "description": "Optional. Any additional parameters needed for FEDERATED.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "jsonAuthParams": {
          "description": "Optional. Any authentication parameters specific to FEDERATED connectors in json string format.",
          "type": "string"
        }
      },
      "description": "Any params and credentials used specifically for hybrid connectors supporting FEDERATED mode.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaRequirement": {
      "properties": {
        "displayName": {
          "description": "The name of the requirement.",
          "type": "string"
        },
        "description": {
          "description": "The description of the requirement.",
          "type": "string"
        },
        "metricBindings": {
          "description": "A list of the metric bindings to be used in `condition`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRequirementMetricBinding"
          }
        },
        "condition": {
          "description": "The condition for evaluating the requirement result. Variables in the expression should be provided by `metrics_bindings` or `threshold_bindings`. Where `metrics_bindings` are used for computed metrics and `threshold_bindings` are used to define thresholds for corresponding `metric_bindings`.",
          "$ref": "GoogleTypeExpr"
        },
        "thresholdBindings": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRequirementThresholdBinding"
          },
          "type": "array",
          "description": "A list of threshold bindings to be used in `condition`."
        },
        "violationSamplesBindings": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRequirementViolationSamplesBinding"
          },
          "type": "array",
          "description": "A list of the metric bindings to be used in `condition`."
        },
        "severity": {
          "type": "array",
          "description": "The severity of errors if the requirement is not met. It must be ordered from the most strict to the least strict. Examples: * `BLOCKING` * `CRITICAL` * `WARNING` All thresholds in the requirement must have all the severity here.",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "The requirement type, used as an identifier. Must be unique. The type should prefix with service name to avoid possible collision. It's encouraged to use natural hierarchical grouping for similar requirements. Examples: * `library.googleapis.com/books/min_available_books` * `discoveryengine.googleapis.com/media_rec/recommended_for_you/conversion_rate`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A data requirement.",
      "id": "GoogleCloudDiscoveryengineV1alphaRequirement"
    },
    "GoogleCloudDiscoveryengineV1alphaListDocumentsResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaListDocumentsResponse",
      "description": "Response message for DocumentService.ListDocuments method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListDocumentsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "documents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDocument"
          },
          "description": "The Documents.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig": {
      "type": "object",
      "properties": {
        "nlConfigId": {
          "description": "Optional. AlloyDb AI NL config id, i.e. the value that was used for calling `SELECT alloydb_ai_nl.g_create_configuration(...)`. Can be empty.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig",
      "description": "Configuration for AlloyDB AI Natural Language."
    },
    "GoogleCloudDiscoveryengineV1Collection": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1Collection",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the Collection. Format: `projects/{project}/locations/{location}/collections/{collection_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "displayName": {
          "description": "Required. The Collection display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp the Collection was created at."
        }
      },
      "description": "Collection is a container for configuring resources and access to a set of DataStores."
    },
    "GoogleCloudDiscoveryengineV1alphaOrganicCrawlRateTimeSeries": {
      "id": "GoogleCloudDiscoveryengineV1alphaOrganicCrawlRateTimeSeries",
      "properties": {
        "vertexAiOrganicCrawlRate": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
          "description": "Vertex AI's organic crawl rate time series, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is not set. Please refer to https://developers.google.com/search/docs/crawling-indexing/google-common-crawlers#google-cloudvertexbot for more details about Google-CloudVertexBot."
        },
        "googleOrganicCrawlRate": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
          "description": "Google's organic crawl rate time series, which is the sum of all googlebots' crawl rate. Please refer to https://developers.google.com/search/docs/crawling-indexing/overview-google-crawlers for more details about googlebots."
        }
      },
      "type": "object",
      "description": "The historical organic crawl rate timeseries data, used for monitoring. Organic crawl is auto-determined by Google to crawl the user's website when dedicate crawl is not set. Crawl rate is the QPS of crawl request Google sends to the user's website."
    },
    "GoogleCloudNotebooklmV1alphaSourceMetadata": {
      "description": "Represents the metadata of a source and some additional information.",
      "properties": {
        "sourceAddedTimestamp": {
          "format": "google-datetime",
          "description": "The timestamp the source was added.",
          "type": "string"
        },
        "googleDocsMetadata": {
[...]
