{
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "rootUrl": "https://displayvideo.googleapis.com/",
  "mtlsRootUrl": "https://displayvideo.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    }
  },
  "documentationLink": "https://developers.google.com/display-video/",
  "id": "displayvideo:v4",
  "kind": "discovery#restDescription",
  "name": "displayvideo",
  "title": "Display & Video 360 API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/display-video-mediaplanning": {
          "description": "Create, see, and edit Display & Video 360 Campaign entities and see billing invoices"
        },
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        },
        "https://www.googleapis.com/auth/display-video-user-management": {
          "description": "Private Service: https://www.googleapis.com/auth/display-video-user-management"
        },
        "https://www.googleapis.com/auth/display-video": {
          "description": "Create, see, edit, and permanently delete your Display & Video 360 entities and reports"
        }
      }
    }
  },
  "description": "Display & Video 360 API allows users to automate complex Display & Video 360 workflows, such as creating insertion orders and setting targeting options for individual line items.",
  "baseUrl": "https://displayvideo.googleapis.com/",
  "schemas": {
    "DeleteAssignedTargetingOptionsRequest": {
      "id": "DeleteAssignedTargetingOptionsRequest",
      "properties": {
        "assignedTargetingOptionIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. The assigned targeting option IDs to delete.",
          "type": "array"
        },
        "targetingType": {
          "enumDescriptions": [
            "Default value when type is not specified or is unknown in this version.",
            "Target a channel (a custom group of related websites or apps).",
            "Target an app category (for example, education or puzzle games).",
            "Target a specific app (for example, Angry Birds).",
            "Target a specific url (for example, quora.com).",
            "Target ads during a chosen time period on a specific day.",
            "Target ads to a specific age range (for example, 18-24).",
            "Target ads to the specified regions on a regional location list.",
            "Target ads to the specified points of interest on a proximity location list.",
            "Target ads to a specific gender (for example, female or male).",
            "Target a specific video player size for video ads.",
            "Target user rewarded content for video ads.",
            "Target ads to a specific parental status (for example, parent or not a parent).",
            "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
            "Target ads in a specific content outstream position.",
            "Target ads to a specific device type (for example, tablet or connected TV).",
            "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
            "Target ads to specific web browsers (for example, Chrome).",
            "Target ads to a specific household income range (for example, top 10%).",
            "Target ads in a specific on screen position.",
            "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
            "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
            "Filter website content by sensitive categories (for example, adult).",
            "Target ads to a specific environment (for example, web or app).",
            "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
            "Target ads to a specific operating system (for example, macOS).",
            "Target ads to a specific device make or model (for example, Roku or Samsung).",
            "Target ads to a specific keyword (for example, dog or retriever).",
            "Target ads to a specific negative keyword list.",
            "Target ads to a specific viewability (for example, 80% viewable).",
            "Target ads to a specific content category (for example, arts & entertainment).",
            "Purchase impressions from specific deals and auction packages.",
            "Target ads to a specific language (for example, English or Japanese).",
            "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
            "Target ads to a specific regional location (for example, a city or state).",
            "Purchase impressions from a group of deals and auction packages.",
            "Purchase impressions from specific exchanges.",
            "Purchase impressions from specific sub-exchanges.",
            "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
            "Target ads around locations of a business chain within a specific geo region.",
            "Target ads to a specific video content duration.",
            "Target ads to a specific video content stream type.",
            "Target ads to a specific native content position.",
            "Target ads in an Open Measurement enabled inventory.",
            "Target ads to a specific audio content type.",
            "Target ads to a specific content genre.",
            "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
            "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
            "Target ads to a specific YouTube channel pack."
          ],
          "type": "string",
          "description": "Required. Identifies the type of this assigned targeting option.",
          "enum": [
            "TARGETING_TYPE_UNSPECIFIED",
            "TARGETING_TYPE_CHANNEL",
            "TARGETING_TYPE_APP_CATEGORY",
            "TARGETING_TYPE_APP",
            "TARGETING_TYPE_URL",
            "TARGETING_TYPE_DAY_AND_TIME",
            "TARGETING_TYPE_AGE_RANGE",
            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
            "TARGETING_TYPE_GENDER",
            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
            "TARGETING_TYPE_USER_REWARDED_CONTENT",
            "TARGETING_TYPE_PARENTAL_STATUS",
            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
            "TARGETING_TYPE_DEVICE_TYPE",
            "TARGETING_TYPE_AUDIENCE_GROUP",
            "TARGETING_TYPE_BROWSER",
            "TARGETING_TYPE_HOUSEHOLD_INCOME",
            "TARGETING_TYPE_ON_SCREEN_POSITION",
            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
            "TARGETING_TYPE_ENVIRONMENT",
            "TARGETING_TYPE_CARRIER_AND_ISP",
            "TARGETING_TYPE_OPERATING_SYSTEM",
            "TARGETING_TYPE_DEVICE_MAKE_MODEL",
            "TARGETING_TYPE_KEYWORD",
            "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
            "TARGETING_TYPE_VIEWABILITY",
            "TARGETING_TYPE_CATEGORY",
            "TARGETING_TYPE_INVENTORY_SOURCE",
            "TARGETING_TYPE_LANGUAGE",
            "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
            "TARGETING_TYPE_GEO_REGION",
            "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
            "TARGETING_TYPE_EXCHANGE",
            "TARGETING_TYPE_SUB_EXCHANGE",
            "TARGETING_TYPE_POI",
            "TARGETING_TYPE_BUSINESS_CHAIN",
            "TARGETING_TYPE_CONTENT_DURATION",
            "TARGETING_TYPE_CONTENT_STREAM_TYPE",
            "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
            "TARGETING_TYPE_OMID",
            "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
            "TARGETING_TYPE_CONTENT_GENRE",
            "TARGETING_TYPE_YOUTUBE_VIDEO",
            "TARGETING_TYPE_YOUTUBE_CHANNEL",
            "TARGETING_TYPE_SESSION_POSITION",
            "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
            "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
          ]
        }
      },
      "description": "A request listing which assigned targeting options of a given targeting type should be deleted.",
      "type": "object"
    },
    "ContentGenreAssignedTargetingOptionDetails": {
      "type": "object",
      "properties": {
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_CONTENT_GENRE`."
        },
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Output only. The display name of the content genre.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Details for content genre assigned targeting option. This will be populated in the content_genre_details field when targeting_type is `TARGETING_TYPE_CONTENT_GENRE`. Explicitly targeting all options is not supported. Remove all content genre targeting options to achieve this effect.",
      "id": "ContentGenreAssignedTargetingOptionDetails"
    },
    "ListLineItemAssignedTargetingOptionsResponse": {
      "description": "Response message for ListLineItemAssignedTargetingOptions.",
      "type": "object",
      "properties": {
        "assignedTargetingOptions": {
          "items": {
            "$ref": "AssignedTargetingOption"
          },
          "type": "array",
          "description": "The list of assigned targeting options. This list will be absent if empty."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent ListLineItemAssignedTargetingOptionsRequest to fetch the next page of results. This token will be absent if there are no more assigned_targeting_options to return."
        }
      },
      "id": "ListLineItemAssignedTargetingOptionsResponse"
    },
    "SearchTargetingOptionsResponse": {
      "id": "SearchTargetingOptionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `SearchTargetingOptions` method to retrieve the next page of results.",
          "type": "string"
        },
        "targetingOptions": {
          "type": "array",
          "description": "The list of targeting options that match the search criteria. This list will be absent if empty.",
          "items": {
            "$ref": "TargetingOption"
          }
        }
      },
      "type": "object",
      "description": "Response message for SearchTargetingOptions."
    },
    "AlgorithmRulesRuleCondition": {
      "description": "Set of signal comparisons. Equivalent of an `if` statement.",
      "type": "object",
      "properties": {
        "signalComparisons": {
          "items": {
            "$ref": "AlgorithmRulesSignalComparison"
          },
          "description": "List of comparisons that build `if` statement condition. The comparisons are combined into a single condition with `AND` logical operators.",
          "type": "array"
        },
        "returnValue": {
          "description": "The value returned if the `signalComparisons` condition evaluates to `TRUE`.",
          "$ref": "AlgorithmRulesSignalValue"
        }
      },
      "id": "AlgorithmRulesRuleCondition"
    },
    "OmidAssignedTargetingOptionDetails": {
      "type": "object",
      "properties": {
        "omid": {
          "enumDescriptions": [
            "Default value when omid targeting is not specified in this version.",
            "Open Measurement enabled mobile display inventory."
          ],
          "enum": [
            "OMID_UNSPECIFIED",
            "OMID_FOR_MOBILE_DISPLAY_ADS"
          ],
          "description": "Required. The type of Open Measurement enabled inventory.",
          "type": "string"
        }
      },
      "id": "OmidAssignedTargetingOptionDetails",
      "description": "Represents a targetable Open Measurement enabled inventory type. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_OMID`."
    },
    "InventorySource": {
      "id": "InventorySource",
      "description": "An inventory source.",
      "properties": {
        "deliveryMethod": {
          "enum": [
            "INVENTORY_SOURCE_DELIVERY_METHOD_UNSPECIFIED",
            "INVENTORY_SOURCE_DELIVERY_METHOD_PROGRAMMATIC",
            "INVENTORY_SOURCE_DELIVERY_METHOD_TAG"
          ],
          "type": "string",
          "enumDescriptions": [
            "The delivery method is not specified or is unknown in this version.",
            "The delivery method is programmatic.",
            "The delivery method is tag."
          ],
          "description": "The delivery method of the inventory source. * For non-guaranteed inventory sources, the only acceptable value is `INVENTORY_SOURCE_DELIVERY_METHOD_PROGRAMMATIC`. * For guaranteed inventory sources, acceptable values are `INVENTORY_SOURCE_DELIVERY_METHOD_TAG` and `INVENTORY_SOURCE_DELIVERY_METHOD_PROGRAMMATIC`."
        },
        "readWriteAccessors": {
          "$ref": "InventorySourceAccessors",
          "description": "The partner or advertisers that have read/write access to the inventory source. Output only when commitment is `INVENTORY_SOURCE_COMMITMENT_GUARANTEED`, in which case the read/write accessors are inherited from the parent guaranteed order. Required when commitment is `INVENTORY_SOURCE_COMMITMENT_NON_GUARANTEED`. If commitment is `INVENTORY_SOURCE_COMMITMENT_NON_GUARANTEED` and a partner is set in this field, all advertisers under this partner will automatically have read-only access to the inventory source. These advertisers will not be included in read_advertiser_ids."
        },
        "rateDetails": {
          "description": "Required. The rate details of the inventory source.",
          "$ref": "RateDetails"
        },
        "status": {
          "$ref": "InventorySourceStatus",
          "description": "The status settings of the inventory source."
        },
        "timeRange": {
          "description": "The time range when this inventory source starts and stops serving.",
          "$ref": "TimeRange"
        },
        "exchange": {
          "description": "The exchange to which the inventory source belongs.",
          "type": "string",
          "enumDescriptions": [
            "Exchange is not specified or is unknown in this version.",
            "Google Ad Manager.",
            "AppNexus.",
            "BrightRoll Exchange for Video from Yahoo!.",
            "Adform.",
            "Admeta.",
            "Admixer.",
            "AdsMogo.",
            "AdsWizz.",
            "BidSwitch.",
            "BrightRoll Exchange for Display from Yahoo!.",
            "Cadreon.",
            "Dailymotion.",
            "Five.",
            "Fluct.",
            "FreeWheel SSP.",
            "Geniee.",
            "GumGum.",
            "i-mobile.",
            "iBILLBOARD.",
            "Improve Digital.",
            "Index Exchange.",
            "Kargo.",
            "MicroAd.",
            "MoPub.",
            "Nend.",
            "ONE by AOL: Display Market Place.",
            "ONE by AOL: Mobile.",
            "ONE by AOL: Video.",
            "Ooyala.",
            "OpenX.",
            "Permodo.",
            "Platform One.",
            "PlatformId.",
            "PubMatic.",
            "PulsePoint.",
            "RevenueMax.",
            "Rubicon.",
            "SmartClip.",
            "SmartRTB+.",
            "SmartstreamTv.",
            "Sovrn.",
            "SpotXchange.",
            "Ströer SSP.",
            "TeadsTv.",
            "Telaria.",
            "TVN.",
            "United.",
            "Yieldlab.",
            "Yieldmo.",
            "UnrulyX.",
            "Open8.",
            "Triton.",
            "TripleLift.",
            "Taboola.",
            "InMobi.",
            "Smaato.",
            "Aja.",
            "Supership.",
            "Nexstar Digital.",
            "Waze.",
            "SoundCast.",
            "Sharethrough.",
            "Fyber.",
            "Red For Publishers.",
            "Media.net.",
            "Tapjoy.",
            "Vistar.",
            "DAX.",
            "JCD.",
            "Place Exchange.",
            "AppLovin.",
            "Connatix.",
            "Reset Digital.",
            "Hivestack.",
            "Drax.",
            "AppLovin MAX.",
            "DT Fairbid.",
            "Unity LevelPlay.",
            "Chartboost Mediation.",
            "AdMost.",
            "TopOn.",
            "Netflix.",
            "Core.",
            "Commerce Grid.",
            "Spotify.",
            "Tubi.",
            "Snap.",
            "Cadent.",
            "Exte."
          ],
          "enum": [
            "EXCHANGE_UNSPECIFIED",
            "EXCHANGE_GOOGLE_AD_MANAGER",
            "EXCHANGE_APPNEXUS",
            "EXCHANGE_BRIGHTROLL",
            "EXCHANGE_ADFORM",
            "EXCHANGE_ADMETA",
            "EXCHANGE_ADMIXER",
            "EXCHANGE_ADSMOGO",
            "EXCHANGE_ADSWIZZ",
            "EXCHANGE_BIDSWITCH",
            "EXCHANGE_BRIGHTROLL_DISPLAY",
            "EXCHANGE_CADREON",
            "EXCHANGE_DAILYMOTION",
            "EXCHANGE_FIVE",
            "EXCHANGE_FLUCT",
            "EXCHANGE_FREEWHEEL",
            "EXCHANGE_GENIEE",
            "EXCHANGE_GUMGUM",
            "EXCHANGE_IMOBILE",
            "EXCHANGE_IBILLBOARD",
            "EXCHANGE_IMPROVE_DIGITAL",
            "EXCHANGE_INDEX",
            "EXCHANGE_KARGO",
            "EXCHANGE_MICROAD",
            "EXCHANGE_MOPUB",
            "EXCHANGE_NEND",
            "EXCHANGE_ONE_BY_AOL_DISPLAY",
            "EXCHANGE_ONE_BY_AOL_MOBILE",
            "EXCHANGE_ONE_BY_AOL_VIDEO",
            "EXCHANGE_OOYALA",
            "EXCHANGE_OPENX",
            "EXCHANGE_PERMODO",
            "EXCHANGE_PLATFORMONE",
            "EXCHANGE_PLATFORMID",
            "EXCHANGE_PUBMATIC",
            "EXCHANGE_PULSEPOINT",
            "EXCHANGE_REVENUEMAX",
            "EXCHANGE_RUBICON",
            "EXCHANGE_SMARTCLIP",
            "EXCHANGE_SMARTRTB",
            "EXCHANGE_SMARTSTREAMTV",
            "EXCHANGE_SOVRN",
            "EXCHANGE_SPOTXCHANGE",
            "EXCHANGE_STROER",
            "EXCHANGE_TEADSTV",
            "EXCHANGE_TELARIA",
            "EXCHANGE_TVN",
            "EXCHANGE_UNITED",
            "EXCHANGE_YIELDLAB",
            "EXCHANGE_YIELDMO",
            "EXCHANGE_UNRULYX",
            "EXCHANGE_OPEN8",
            "EXCHANGE_TRITON",
            "EXCHANGE_TRIPLELIFT",
            "EXCHANGE_TABOOLA",
            "EXCHANGE_INMOBI",
            "EXCHANGE_SMAATO",
            "EXCHANGE_AJA",
            "EXCHANGE_SUPERSHIP",
            "EXCHANGE_NEXSTAR_DIGITAL",
            "EXCHANGE_WAZE",
            "EXCHANGE_SOUNDCAST",
            "EXCHANGE_SHARETHROUGH",
            "EXCHANGE_FYBER",
            "EXCHANGE_RED_FOR_PUBLISHERS",
            "EXCHANGE_MEDIANET",
            "EXCHANGE_TAPJOY",
            "EXCHANGE_VISTAR",
            "EXCHANGE_DAX",
            "EXCHANGE_JCD",
            "EXCHANGE_PLACE_EXCHANGE",
            "EXCHANGE_APPLOVIN",
            "EXCHANGE_CONNATIX",
            "EXCHANGE_RESET_DIGITAL",
            "EXCHANGE_HIVESTACK",
            "EXCHANGE_DRAX",
            "EXCHANGE_APPLOVIN_GBID",
            "EXCHANGE_FYBER_GBID",
            "EXCHANGE_UNITY_GBID",
            "EXCHANGE_CHARTBOOST_GBID",
            "EXCHANGE_ADMOST_GBID",
            "EXCHANGE_TOPON_GBID",
            "EXCHANGE_NETFLIX",
            "EXCHANGE_CORE",
            "EXCHANGE_COMMERCE_GRID",
            "EXCHANGE_SPOTIFY",
            "EXCHANGE_TUBI",
            "EXCHANGE_SNAP",
            "EXCHANGE_CADENT",
            "EXCHANGE_EXTE"
          ]
        },
        "name": {
          "description": "Output only. The resource name of the inventory source.",
          "type": "string",
          "readOnly": true
        },
        "inventorySourceId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The unique ID of the inventory source. Assigned by the system.",
          "readOnly": true
        },
        "displayName": {
          "description": "The display name of the inventory source. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "commitment": {
          "enumDescriptions": [
            "The commitment is not specified or is unknown in this version.",
            "The commitment is guaranteed delivery.",
            "The commitment is non-guaranteed delivery."
          ],
          "type": "string",
          "description": "Whether the inventory source has a guaranteed or non-guaranteed delivery.",
          "enum": [
            "INVENTORY_SOURCE_COMMITMENT_UNSPECIFIED",
            "INVENTORY_SOURCE_COMMITMENT_GUARANTEED",
            "INVENTORY_SOURCE_COMMITMENT_NON_GUARANTEED"
          ]
        },
        "readPartnerIds": {
          "type": "array",
          "description": "Output only. The IDs of partners with read-only access to the inventory source. All advertisers of partners in this field inherit read-only access to the inventory source.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "readOnly": true
        },
        "readAdvertiserIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Output only. The IDs of advertisers with read-only access to the inventory source.",
          "readOnly": true
        },
        "inventorySourceType": {
          "description": "Denotes the type of the inventory source.",
          "type": "string",
          "enumDescriptions": [
            "The inventory source type is not specified or is unknown in this version.",
            "Private inventory source.",
            "Auction package."
          ],
          "enum": [
            "INVENTORY_SOURCE_TYPE_UNSPECIFIED",
            "INVENTORY_SOURCE_TYPE_PRIVATE",
            "INVENTORY_SOURCE_TYPE_AUCTION_PACKAGE"
          ]
        },
        "creativeConfigs": {
          "items": {
            "$ref": "CreativeConfig"
          },
          "description": "The creative requirements of the inventory source. Not applicable for auction packages.",
          "type": "array"
        },
        "guaranteedOrderId": {
          "description": "Immutable. The ID of the guaranteed order that this inventory source belongs to. Only applicable when commitment is `INVENTORY_SOURCE_COMMITMENT_GUARANTEED`.",
          "type": "string"
        },
        "dealId": {
          "description": "The ID in the exchange space that uniquely identifies the inventory source. Must be unique across buyers within each exchange but not necessarily unique across exchanges.",
          "type": "string"
        },
        "inventorySourceProductType": {
          "description": "Output only. The product type of the inventory source, denoting the way through which it sells inventory.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "INVENTORY_SOURCE_PRODUCT_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED",
            "TAG_GUARANTEED",
            "YOUTUBE_RESERVE",
            "INSTANT_RESERVE",
            "GUARANTEED_PACKAGE",
            "PROGRAMMATIC_TV",
            "AUCTION_PACKAGE"
          ],
          "enumDescriptions": [
            "The product type is not specified or is unknown in this version. Modifying inventory sources of this product type are not supported via API.",
            "The inventory source sells inventory through Preferred Deal.",
            "The inventory source sells inventory through Private Auction.",
            "The inventory source sells inventory through Programmatic Guaranteed.",
            "The inventory source sells inventory through Tag Guaranteed.",
            "The inventory source sells inventory through YouTube Reserve.",
            "The inventory source sells inventory through Instant Reserve. Modifying inventory sources of this product type are not supported via API.",
            "The inventory source sells inventory through Guaranteed Package. Modifying inventory sources of this product type are not supported via API.",
            "The inventory source sells inventory through Programmtic TV. Modifying inventory sources of this product type are not supported via API.",
            "The inventory source sells inventory through Auction Package. Modifying inventory sources of this product type are not supported via API."
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the inventory source was last updated. Assigned by the system.",
          "readOnly": true
        },
        "publisherName": {
          "type": "string",
          "description": "The publisher/seller name of the inventory source."
        }
      },
      "type": "object"
    },
    "ThirdPartyVendorConfig": {
      "type": "object",
      "id": "ThirdPartyVendorConfig",
      "properties": {
        "vendor": {
          "type": "string",
          "description": "The third-party measurement vendor.",
          "enumDescriptions": [
            "Unknown third-party vendor.",
            "Moat.",
            "DoubleVerify.",
            "Integral Ad Science.",
            "Comscore.",
            "Telemetry.",
            "Meetrics.",
            "ZEFR.",
            "Nielsen.",
            "Kantar.",
            "Dynata.",
            "Transunion.",
            "Origin.",
            "Gemius.",
            "MediaScope.",
            "Audience Project.",
            "Video Amp.",
            "Ispot TV.",
            "Intage.",
            "Macromill.",
            "Video Research."
          ],
          "enum": [
            "THIRD_PARTY_VENDOR_UNSPECIFIED",
            "THIRD_PARTY_VENDOR_MOAT",
            "THIRD_PARTY_VENDOR_DOUBLE_VERIFY",
            "THIRD_PARTY_VENDOR_INTEGRAL_AD_SCIENCE",
            "THIRD_PARTY_VENDOR_COMSCORE",
            "THIRD_PARTY_VENDOR_TELEMETRY",
            "THIRD_PARTY_VENDOR_MEETRICS",
            "THIRD_PARTY_VENDOR_ZEFR",
            "THIRD_PARTY_VENDOR_NIELSEN",
            "THIRD_PARTY_VENDOR_KANTAR",
            "THIRD_PARTY_VENDOR_DYNATA",
            "THIRD_PARTY_VENDOR_TRANSUNION",
            "THIRD_PARTY_VENDOR_ORIGIN",
            "THIRD_PARTY_VENDOR_GEMIUS",
            "THIRD_PARTY_VENDOR_MEDIA_SCOPE",
            "THIRD_PARTY_VENDOR_AUDIENCE_PROJECT",
            "THIRD_PARTY_VENDOR_VIDEO_AMP",
            "THIRD_PARTY_VENDOR_ISPOT_TV",
            "THIRD_PARTY_VENDOR_INTAGE",
            "THIRD_PARTY_VENDOR_MACROMILL",
            "THIRD_PARTY_VENDOR_VIDEO_RESEARCH"
          ]
        },
        "placementId": {
          "description": "The ID used by the platform of the third-party vendor to identify the line item.",
          "type": "string"
        }
      },
      "description": "Settings that control how third-party measurement vendors are configured."
    },
    "YoutubeAssetAssociationLocationAssetFilter": {
      "type": "object",
      "properties": {
        "locationMatchingFunction": {
          "description": "Optional. The matching function that determines how the location asset filter matches location assets. This field is required and can only be set for if location_matching_type is `FILTER` or `SELECTED_ASSETS`.",
          "$ref": "YoutubeAssetAssociationLocationAssetFilterLocationMatchingFunction"
        },
        "assetSetId": {
          "description": "Output only. The ID of the asset set that matches the location assets eligible for serving.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "locationMatchingType": {
          "description": "Required. The matching type of this location asset filter.",
          "type": "string",
          "enumDescriptions": [
            "Location matching type is not specified or is unknown in this version.",
            "All available location assets are eligible for serving.",
            "The location assets that match a provided business name and/or label filters can serve.",
            "Only the selected location assets can serve.",
            "No location assets can serve."
          ],
          "enum": [
            "LOCATION_MATCHING_TYPE_UNSPECIFIED",
            "SELECT_ALL",
            "FILTER",
            "SELECTED_ASSETS",
            "DISABLED"
          ]
        }
      },
      "description": "An asset filter that matches eligible location assets for serving.",
      "id": "YoutubeAssetAssociationLocationAssetFilter"
    },
    "ListCreativesResponse": {
      "properties": {
        "creatives": {
          "type": "array",
          "items": {
            "$ref": "Creative"
          },
          "description": "The list of creatives. This list will be absent if empty."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCreativesRequest` method to retrieve the next page of results. If this field is null, it means this is the last page.",
          "type": "string"
        }
      },
      "id": "ListCreativesResponse",
      "type": "object"
    },
    "AssignedInventorySource": {
      "description": "An assignment between a targetable inventory source and an inventory source group.",
      "type": "object",
      "id": "AssignedInventorySource",
      "properties": {
        "assignedInventorySourceId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The unique ID of the assigned inventory source. The ID is only unique within a given inventory source group. It may be reused in other contexts."
        },
        "name": {
          "description": "Output only. The resource name of the assigned inventory source.",
          "type": "string",
          "readOnly": true
        },
        "inventorySourceId": {
          "description": "Required. The ID of the inventory source entity being targeted.",
          "type": "string"
        }
      }
    },
    "CustomLabel": {
      "description": "The key and value of a custom label.",
      "type": "object",
      "properties": {
        "key": {
          "enum": [
            "CUSTOM_LABEL_KEY_UNSPECIFIED",
            "CUSTOM_LABEL_KEY_0",
            "CUSTOM_LABEL_KEY_1",
            "CUSTOM_LABEL_KEY_2",
            "CUSTOM_LABEL_KEY_3",
            "CUSTOM_LABEL_KEY_4"
          ],
          "description": "The key of the label.",
          "type": "string",
          "enumDescriptions": [
            "Not specified or unknown.",
            "Key index 0.",
            "Key index 1.",
            "Key index 2.",
            "Key index 3.",
            "Key index 4."
          ]
        },
        "value": {
          "type": "string",
          "description": "The value of the label."
        }
      },
      "id": "CustomLabel"
    },
    "MobileApp": {
      "type": "object",
      "id": "MobileApp",
      "description": "A mobile app promoted by a mobile app install line item.",
      "properties": {
        "appId": {
          "description": "Required. The ID of the app provided by the platform store. Android apps are identified by the bundle ID used by Android's Play store, such as `com.google.android.gm`. iOS apps are identified by a nine-digit app ID used by Apple's App store, such as `422689480`.",
          "type": "string"
        },
        "publisher": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The app publisher."
        },
        "platform": {
          "description": "Output only. The app platform.",
          "enumDescriptions": [
            "Platform is not specified.",
            "iOS platform.",
            "Android platform."
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "IOS",
            "ANDROID"
          ],
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The app name.",
          "type": "string"
        }
      }
    },
    "NegativeKeywordListAssignedTargetingOptionDetails": {
      "id": "NegativeKeywordListAssignedTargetingOptionDetails",
      "type": "object",
      "description": "Targeting details for negative keyword list. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST`.",
      "properties": {
        "negativeKeywordListId": {
          "type": "string",
          "description": "Required. ID of the negative keyword list. Should refer to the negative_keyword_list_id field of a NegativeKeywordList resource.",
          "format": "int64"
        }
      }
    },
    "ContentDurationAssignedTargetingOptionDetails": {
      "properties": {
        "contentDuration": {
          "description": "Output only. The content duration.",
          "enum": [
            "CONTENT_DURATION_UNSPECIFIED",
            "CONTENT_DURATION_UNKNOWN",
            "CONTENT_DURATION_0_TO_1_MIN",
            "CONTENT_DURATION_1_TO_5_MIN",
            "CONTENT_DURATION_5_TO_15_MIN",
            "CONTENT_DURATION_15_TO_30_MIN",
            "CONTENT_DURATION_30_TO_60_MIN",
            "CONTENT_DURATION_OVER_60_MIN"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Content duration is not specified in this version. This enum is a place holder for a default value and does not represent a real content duration.",
            "The content duration is unknown.",
            "Content is 0-1 minute long.",
            "Content is 1-5 minutes long.",
            "Content is 5-15 minutes long.",
            "Content is 15-30 minutes long.",
            "Content is 30-60 minutes long.",
            "Content is over 60 minutes long."
          ]
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_CONTENT_DURATION`.",
          "type": "string"
        }
      },
      "id": "ContentDurationAssignedTargetingOptionDetails",
      "type": "object",
      "description": "Details for content duration assigned targeting option. This will be populated in the content_duration_details field when targeting_type is `TARGETING_TYPE_CONTENT_DURATION`. Explicitly targeting all options is not supported. Remove all content duration targeting options to achieve this effect."
    },
    "BulkUpdateLineItemsRequest": {
      "properties": {
        "targetLineItem": {
          "description": "Required. A line item object containing the fields to be updated and the new values to assign to all line items specified in line_item_ids.\"",
          "$ref": "LineItem"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. A field mask identifying which fields to update. Only the following fields are currently supported: * entityStatus * containsEuPoliticalAds",
          "type": "string"
        },
        "lineItemIds": {
          "description": "Required. IDs of line items to update.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "id": "BulkUpdateLineItemsRequest",
      "description": "Request message for LineItemService.BulkUpdateLineItems.",
      "type": "object"
    },
    "LookbackWindow": {
      "properties": {
        "clickDays": {
          "type": "integer",
          "format": "int32",
          "description": "Lookback window, in days, from the last time a given user clicked on one of your ads."
        },
        "impressionDays": {
          "type": "integer",
          "description": "Lookback window, in days, from the last time a given user viewed one of your ads.",
          "format": "int32"
        }
      },
      "description": "Specifies how many days into the past to look when determining whether to record a conversion.",
      "id": "LookbackWindow",
      "type": "object"
    },
    "RetrievePlannableUserListsResponse": {
      "properties": {
        "plannableUserLists": {
          "type": "array",
          "items": {
            "$ref": "PlannableUserList"
          },
          "description": "Output only. The list of plannable user lists.",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token to retrieve the next page of results.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Response for RetrievePlannableUserLists.",
      "type": "object",
      "id": "RetrievePlannableUserListsResponse"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "BulkEditAdGroupAssignedTargetingOptionsRequest": {
      "id": "BulkEditAdGroupAssignedTargetingOptionsRequest",
      "description": "Request message for BulkEditAdGroupAssignedTargetingOptions.",
      "properties": {
        "createRequests": {
          "items": {
            "$ref": "CreateAssignedTargetingOptionsRequest"
          },
          "description": "Optional. The assigned targeting options to create in batch, specified as a list of `CreateAssignedTargetingOptionRequest`. Supported targeting types: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_YOUTUBE_CHANNEL` * `TARGETING_TYPE_YOUTUBE_VIDEO`",
          "type": "array"
        },
        "adGroupIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Required. The IDs of the ad groups the assigned targeting options will belong to. A maximum of 25 ad group IDs can be specified."
        },
        "deleteRequests": {
          "description": "Optional. The assigned targeting options to delete in batch, specified as a list of `DeleteAssignedTargetingOptionsRequest`. Supported targeting types: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_YOUTUBE_CHANNEL` * `TARGETING_TYPE_YOUTUBE_VIDEO`",
          "items": {
            "$ref": "DeleteAssignedTargetingOptionsRequest"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListAdAssetsResponse": {
      "type": "object",
      "properties": {
        "adAssets": {
          "items": {
            "$ref": "AdAsset"
          },
          "type": "array",
          "description": "The list of ad assets. The list will only contain assets of AdAssetType `AD_ASSET_TYPE_YOUTUBE_VIDEO`. This list will be absent if empty."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListAdAssets` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "A response message for ListAdAssets.",
      "id": "ListAdAssetsResponse"
    },
    "CombinedAudience": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the combined audience."
        },
        "displayName": {
          "description": "Output only. The display name of the combined audience. .",
          "type": "string",
          "readOnly": true
        },
        "combinedAudienceId": {
          "description": "Output only. The unique ID of the combined audience. Assigned by the system.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Describes a combined audience resource.",
      "id": "CombinedAudience"
    },
    "AlgorithmRulesSignalComparison": {
      "type": "object",
      "properties": {
        "signal": {
          "description": "Signal to compare.",
          "$ref": "AlgorithmRulesSignal"
        },
        "comparisonValue": {
          "description": "Value to compare signal to.",
          "$ref": "AlgorithmRulesComparisonValue"
        },
        "comparisonOperator": {
          "type": "string",
          "enumDescriptions": [
            "Unknown operator.",
            "Values are equal.",
            "Signal value is greater than the comparison value.",
            "Signal value is less than the second.",
            "Signal value is greater than or equal to the second.",
            "Signal value is less than or equal to the comparison value.",
            "Signal value is a list and contains the comparison value."
          ],
          "description": "Operator used to compare the two values. In the resulting experession, the `signal` will be the first value and the `comparisonValue will be the second.",
          "enum": [
            "COMPARISON_OPERATOR_UNSPECIFIED",
            "EQUAL",
            "GREATER_THAN",
            "LESS_THAN",
            "GREATER_THAN_OR_EQUAL_TO",
            "LESS_THAN_OR_EQUAL_TO",
            "LIST_CONTAINS"
          ]
        }
      },
      "id": "AlgorithmRulesSignalComparison",
      "description": "A single comparison. The comparison compares the `signal` to the `comparisonValue`. The comparison of `siteId==123` is represented with the following field values: * `signal` has an `impressionSignal` of `SITE_ID`. * `comparisonOperator` is set to `EQUAL`. * `comparisonValue` is set to 123."
    },
    "CmTrackingAd": {
      "description": "A Campaign Manager 360 tracking ad.",
      "type": "object",
      "properties": {
        "cmAdId": {
          "description": "Optional. The ad ID of the campaign manager 360 tracking Ad.",
          "format": "int64",
          "type": "string"
        },
        "cmPlacementId": {
          "description": "Optional. The placement ID of the campaign manager 360 tracking Ad.",
          "format": "int64",
          "type": "string"
        },
        "cmCreativeId": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The creative ID of the campaign manager 360 tracking Ad."
        }
      },
      "id": "CmTrackingAd"
    },
    "AudioVideoOffset": {
      "description": "The length an audio or a video has been played.",
      "type": "object",
      "id": "AudioVideoOffset",
      "properties": {
        "seconds": {
          "type": "string",
          "description": "Optional. The offset in seconds from the start of the audio or video.",
          "format": "int64"
        },
        "percentage": {
          "format": "int64",
          "description": "Optional. The offset in percentage of the audio or video duration.",
          "type": "string"
        }
      }
    },
    "NegativeKeyword": {
      "description": "A negatively targeted keyword that belongs to a negative keyword list.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the negative keyword.",
          "type": "string",
          "readOnly": true
        },
        "keywordValue": {
          "type": "string",
          "description": "Required. Immutable. The negatively targeted keyword, for example `car insurance`. Must be UTF-8 encoded with a maximum size of 255 bytes. Maximum number of characters is 80. Maximum number of words is 10. Valid characters are restricted to ASCII characters only. The only URL-escaping permitted is for representing whitespace between words. Leading or trailing whitespace is ignored."
        }
      },
      "type": "object",
      "id": "NegativeKeyword"
    },
    "RetrievePlannableLocationsResponse": {
      "id": "RetrievePlannableLocationsResponse",
      "type": "object",
      "properties": {
        "plannableLocations": {
          "type": "array",
          "items": {
            "$ref": "PlannableLocation"
          },
          "description": "Output only. The list of plannable locations.",
          "readOnly": true
        }
      },
      "description": "Response for RetrievePlannableLocations"
    },
    "AdPolicyTopicEvidenceLegalRemovalDmca": {
      "description": "DMCA complaint details.",
      "id": "AdPolicyTopicEvidenceLegalRemovalDmca",
      "type": "object",
      "properties": {
        "complainant": {
          "type": "string",
          "description": "The entity who made the legal complaint."
        }
      }
    },
    "ViewabilityAssignedTargetingOptionDetails": {
      "type": "object",
      "id": "ViewabilityAssignedTargetingOptionDetails",
      "properties": {
        "viewability": {
          "enum": [
            "VIEWABILITY_UNSPECIFIED",
            "VIEWABILITY_10_PERCENT_OR_MORE",
            "VIEWABILITY_20_PERCENT_OR_MORE",
            "VIEWABILITY_30_PERCENT_OR_MORE",
            "VIEWABILITY_40_PERCENT_OR_MORE",
            "VIEWABILITY_50_PERCENT_OR_MORE",
            "VIEWABILITY_60_PERCENT_OR_MORE",
            "VIEWABILITY_70_PERCENT_OR_MORE",
            "VIEWABILITY_80_PERCENT_OR_MORE",
            "VIEWABILITY_90_PERCENT_OR_MORE"
          ],
          "enumDescriptions": [
            "Default value when viewability is not specified in this version. This enum is a placeholder for default value and does not represent a real viewability option.",
            "Bid only on impressions that are at least 10% likely to be viewable.",
            "Bid only on impressions that are at least 20% likely to be viewable.",
            "Bid only on impressions that are at least 30% likely to be viewable.",
            "Bid only on impressions that are at least 40% likely to be viewable.",
            "Bid only on impressions that are at least 50% likely to be viewable.",
            "Bid only on impressions that are at least 60% likely to be viewable.",
            "Bid only on impressions that are at least 70% likely to be viewable.",
            "Bid only on impressions that are at least 80% likely to be viewable.",
            "Bid only on impressions that are at least 90% likely to be viewable."
          ],
          "description": "Required. The predicted viewability percentage.",
          "type": "string"
        }
      },
      "description": "Assigned viewability targeting option details. This will be populated in the viewability_details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_VIEWABILITY`."
    },
    "RegionalLocationListAssignedTargetingOptionDetails": {
      "description": "Targeting details for regional location list. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_REGIONAL_LOCATION_LIST`.",
      "properties": {
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        },
        "regionalLocationListId": {
          "format": "int64",
          "type": "string",
          "description": "Required. ID of the regional location list. Should refer to the location_list_id field of a LocationList resource whose type is `TARGETING_LOCATION_TYPE_REGIONAL`."
        }
      },
      "id": "RegionalLocationListAssignedTargetingOptionDetails",
      "type": "object"
    },
    "PrismaConfig": {
      "id": "PrismaConfig",
      "properties": {
        "prismaType": {
          "description": "Required. The Prisma type.",
          "enum": [
            "PRISMA_TYPE_UNSPECIFIED",
            "PRISMA_TYPE_DISPLAY",
            "PRISMA_TYPE_SEARCH",
            "PRISMA_TYPE_VIDEO",
            "PRISMA_TYPE_AUDIO",
            "PRISMA_TYPE_SOCIAL",
            "PRISMA_TYPE_FEE"
          ],
          "enumDescriptions": [
            "Type is not specified or unknown in this version.",
            "Display type.",
            "Search type.",
            "Video type.",
            "Audio type.",
            "Social type.",
            "Fee type."
          ],
          "type": "string"
        },
        "supplier": {
          "type": "string",
          "description": "Required. The entity allocated this budget (DSP, site, etc.)."
        },
        "prismaCpeCode": {
          "$ref": "PrismaCpeCode",
          "description": "Required. Relevant client, product, and estimate codes from the Mediaocean Prisma tool."
        }
      },
      "description": "Settings specific to the Mediaocean Prisma tool.",
      "type": "object"
    },
    "DeviceTypeTargetingOptionDetails": {
      "properties": {
        "deviceType": {
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_COMPUTER",
            "DEVICE_TYPE_CONNECTED_TV",
            "DEVICE_TYPE_SMART_PHONE",
            "DEVICE_TYPE_TABLET",
            "DEVICE_TYPE_CONNECTED_DEVICE"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value when device type is not specified in this version. This enum is a placeholder for default value and does not represent a real device type option.",
            "Computer.",
            "Connected TV.",
            "Smart phone.",
            "Tablet.",
            "Connected device."
          ],
          "description": "Output only. The device type that is used to be targeted."
        }
      },
      "description": "Represents a targetable device type. This will be populated in the device_type_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_DEVICE_TYPE`.",
      "id": "DeviceTypeTargetingOptionDetails",
      "type": "object"
    },
    "ExitEvent": {
      "type": "object",
      "description": "Exit event of the creative.",
      "id": "ExitEvent",
      "properties": {
        "url": {
          "type": "string",
          "description": "Required. The click through URL of the exit event. This is required when type is: * `EXIT_EVENT_TYPE_DEFAULT` * `EXIT_EVENT_TYPE_BACKUP`"
        },
        "type": {
          "type": "string",
          "description": "Required. The type of the exit event.",
          "enumDescriptions": [
            "Exit event type is not specified or is unknown in this version.",
            "The exit event is the default one.",
            "The exit event is a backup exit event. There could be multiple backup exit events in a creative."
          ],
          "enum": [
            "EXIT_EVENT_TYPE_UNSPECIFIED",
            "EXIT_EVENT_TYPE_DEFAULT",
            "EXIT_EVENT_TYPE_BACKUP"
          ]
        },
        "reportingName": {
          "type": "string",
          "description": "Optional. The name used to identify this event in reports. Leave it empty or unset for creatives containing image assets only."
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the click tag of the exit event. The name must be unique within one creative. Leave it empty or unset for creatives containing image assets only."
        }
      }
    },
    "AudienceGroupAssignedTargetingOptionDetails": {
      "description": "Assigned audience group targeting option details. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_AUDIENCE_GROUP`. The relation between each group is UNION, except for excluded_first_and_third_party_audience_group and excluded_google_audience_group, of which COMPLEMENT is used as an INTERSECTION with other groups.",
      "properties": {
        "excludedFirstPartyAndPartnerAudienceGroup": {
          "description": "Optional. The first party and partner audience ids and recencies of the excluded first party and partner audience group. Used for negative targeting. The COMPLEMENT of the UNION of this group and other excluded audience groups is used as an INTERSECTION to any positive audience targeting. All items are logically ‘OR’ of each other.",
          "$ref": "FirstPartyAndPartnerAudienceGroup"
        },
        "includedFirstPartyAndPartnerAudienceGroups": {
          "items": {
            "$ref": "FirstPartyAndPartnerAudienceGroup"
          },
          "description": "Optional. The first party and partner audience ids and recencies of included first party and partner audience groups. Each first party and partner audience group contains first party and partner audience ids only. The relation between each first party and partner audience group is INTERSECTION, and the result is UNION'ed with other audience groups. Repeated groups with the same settings will be ignored.",
          "type": "array"
        },
        "includedCustomListGroup": {
          "description": "Optional. The custom list ids of the included custom list group. Contains custom list ids only.",
          "$ref": "CustomListGroup"
        },
        "includedCombinedAudienceGroup": {
          "description": "Optional. The combined audience ids of the included combined audience group. Contains combined audience ids only.",
          "$ref": "CombinedAudienceGroup"
        },
        "excludedGoogleAudienceGroup": {
          "description": "Optional. The Google audience ids of the excluded Google audience group. Used for negative targeting. The COMPLEMENT of the UNION of this group and other excluded audience groups is used as an INTERSECTION to any positive audience targeting. Only contains Affinity, In-market and Installed-apps type Google audiences. All items are logically ‘OR’ of each other.",
          "$ref": "GoogleAudienceGroup"
        },
        "includedGoogleAudienceGroup": {
          "description": "Optional. The Google audience ids of the included Google audience group. Contains Google audience ids only.",
          "$ref": "GoogleAudienceGroup"
        }
      },
      "type": "object",
      "id": "AudienceGroupAssignedTargetingOptionDetails"
    },
    "AlgorithmRules": {
      "type": "object",
      "id": "AlgorithmRules",
      "description": "Rule-based algorithm.",
      "properties": {
        "impressionSignalRuleset": {
          "$ref": "AlgorithmRulesRuleset",
          "description": "Rules for the impression signals."
        },
        "attributionModelId": {
          "format": "int64",
          "type": "string",
          "description": "Attribution model for the algorithm. This field is only supported for allowlisted partners."
        },
        "postImpressionSignalRuleset": {
          "description": "Rules for the post-impression signals. This field is only supported for allowlisted partners.",
          "$ref": "AlgorithmRulesRuleset"
        }
      }
    },
    "ListUsersResponse": {
      "type": "object",
      "properties": {
        "users": {
          "items": {
            "$ref": "User"
          },
          "description": "The list of users. This list will be absent if empty.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListUsers` method to retrieve the next page of results. This token will be absent if there are no more results to return."
        }
      },
      "id": "ListUsersResponse"
    },
    "EnvironmentTargetingOptionDetails": {
      "type": "object",
      "id": "EnvironmentTargetingOptionDetails",
      "description": "Represents a targetable environment. This will be populated in the environment_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_ENVIRONMENT`.",
      "properties": {
        "environment": {
          "type": "string",
          "description": "Output only. The serving environment.",
          "enumDescriptions": [
            "Default value when environment is not specified in this version. This enum is a placeholder for default value and does not represent a real environment option.",
            "Target inventory displayed in browsers. This includes inventory that was designed for the device it was viewed on, such as mobile websites viewed on a mobile device. ENVIRONMENT_WEB_NOT_OPTIMIZED, if targeted, should be deleted prior to the deletion of this targeting option.",
            "Target inventory displayed in browsers. This includes inventory that was not designed for the device but viewed on it, such as websites optimized for desktop but viewed on a mobile device. ENVIRONMENT_WEB_OPTIMIZED should be targeted prior to the addition of this targeting option.",
            "Target inventory displayed in apps."
          ],
          "readOnly": true,
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_WEB_OPTIMIZED",
            "ENVIRONMENT_WEB_NOT_OPTIMIZED",
            "ENVIRONMENT_APP"
          ]
        }
      }
    },
    "BulkListAssignedTargetingOptionsResponse": {
      "properties": {
        "lineItemAssignedTargetingOptions": {
          "items": {
            "$ref": "LineItemAssignedTargetingOption"
          },
          "description": "The list of wrapper objects, each providing an assigned targeting option and the line item it is assigned to. This list will be absent if empty.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent call to `BulkListAssignedTargetingOptions` to fetch the next page of results. This token will be absent if there are no more line_item_assigned_targeting_options to return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BulkListAssignedTargetingOptionsResponse"
    },
    "DoubleVerifyFraudInvalidTraffic": {
      "type": "object",
      "description": "DoubleVerify Fraud & Invalid Traffic settings.",
      "properties": {
        "avoidedFraudOption": {
          "type": "string",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any fraud and invalid traffic options.",
            "100% Fraud & IVT.",
            "50% or Higher Fraud & IVT.",
            "25% or Higher Fraud & IVT.",
            "10% or Higher Fraud & IVT.",
            "8% or Higher Fraud & IVT.",
            "6% or Higher Fraud & IVT.",
            "4% or Higher Fraud & IVT.",
            "2% or Higher Fraud & IVT."
          ],
          "enum": [
            "FRAUD_UNSPECIFIED",
            "AD_IMPRESSION_FRAUD_100",
            "AD_IMPRESSION_FRAUD_50",
            "AD_IMPRESSION_FRAUD_25",
            "AD_IMPRESSION_FRAUD_10",
            "AD_IMPRESSION_FRAUD_8",
            "AD_IMPRESSION_FRAUD_6",
            "AD_IMPRESSION_FRAUD_4",
            "AD_IMPRESSION_FRAUD_2"
          ],
          "description": "Avoid Sites and Apps with historical Fraud & IVT."
        },
        "avoidInsufficientOption": {
          "description": "Insufficient Historical Fraud & IVT Stats.",
          "type": "boolean"
        }
      },
      "id": "DoubleVerifyFraudInvalidTraffic"
    },
    "CustomList": {
      "id": "CustomList",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the custom list.",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. The display name of the custom list. .",
          "readOnly": true,
          "type": "string"
        },
        "customListId": {
          "description": "Output only. The unique ID of the custom list. Assigned by the system.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Describes a custom list entity, such as a custom affinity or custom intent audience list."
    },
    "MastheadAd": {
      "id": "MastheadAd",
      "description": "Details for a Masthead Ad.",
      "properties": {
        "showChannelArt": {
          "description": "Whether to show a background or banner that appears at the top of a YouTube page.",
          "type": "boolean"
        },
        "videoAspectRatio": {
          "description": "The aspect ratio of the autoplaying YouTube video on the Masthead.",
          "type": "string",
          "enumDescriptions": [
            "Not specified or unknown.",
            "The video is stretched and the top and bottom are cropped.",
            "The video uses a fixed 16:9 aspect ratio."
          ],
          "enum": [
            "VIDEO_ASPECT_RATIO_UNSPECIFIED",
            "VIDEO_ASPECT_RATIO_WIDESCREEN",
            "VIDEO_ASPECT_RATIO_FIXED_16_9"
          ]
        },
        "video": {
          "$ref": "YoutubeVideoDetails",
          "description": "The YouTube video used by the ad."
        },
        "callToActionButtonLabel": {
          "type": "string",
          "description": "The text on the call-to-action button."
        },
        "companionYoutubeVideos": {
          "type": "array",
          "description": "The videos that appear next to the Masthead Ad on desktop. Can be no more than two.",
          "items": {
            "$ref": "YoutubeVideoDetails"
          }
        },
        "autoplayVideoStartMillisecond": {
          "description": "The amount of time in milliseconds after which the video will start to play.",
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string",
          "description": "The description of the ad."
        },
        "callToActionTrackingUrl": {
          "type": "string",
          "description": "The tracking URL for the call-to-action button."
        },
        "autoplayVideoDuration": {
          "description": "The duration of time the video will autoplay.",
          "type": "string",
          "format": "google-duration"
        },
        "callToActionFinalUrl": {
          "description": "The destination URL for the call-to-action button.",
          "type": "string"
        },
        "headline": {
          "type": "string",
          "description": "The headline of the ad."
        }
      },
      "type": "object"
    },
    "ReplaceSitesRequest": {
      "description": "Request message for SiteService.ReplaceSites.",
      "type": "object",
      "id": "ReplaceSitesRequest",
      "properties": {
        "newSites": {
          "items": {
            "$ref": "Site"
          },
          "description": "The sites that will replace the existing sites assigned to the channel, specified as a list of Sites.",
          "type": "array"
        },
        "partnerId": {
          "format": "int64",
          "description": "The ID of the partner that owns the parent channel.",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "description": "The ID of the advertiser that owns the parent channel.",
          "format": "int64"
        }
      }
    },
    "PlannableUserList": {
      "type": "object",
      "id": "PlannableUserList",
      "description": "A plannable user list used for reach forecasting.",
      "properties": {
        "plannableStatus": {
          "enumDescriptions": [
            "Unspecified plannability status.",
            "The user list is plannable.",
            "The user list is unplannable."
          ],
          "readOnly": true,
          "description": "Output only. The plannability status of the user list.",
          "type": "string",
          "enum": [
            "PLANNABLE_STATUS_UNSPECIFIED",
            "PLANNABLE",
            "UNPLANNABLE"
          ]
        },
        "displayName": {
          "description": "Output only. The display name of the user list.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name identifying the user list. Format: `advertisers/{advertiser_id}/userLists/{user_list_id}`",
          "type": "string"
        },
        "userListType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified user list type.",
            "A first-party user list.",
            "A third-party user list."
          ],
          "type": "string",
          "enum": [
            "USER_LIST_TYPE_UNSPECIFIED",
            "FIRST_PARTY",
            "THIRD_PARTY"
          ],
          "description": "Output only. The type of the user list."
        }
      }
    },
    "BulkEditPartnerAssignedTargetingOptionsRequest": {
      "id": "BulkEditPartnerAssignedTargetingOptionsRequest",
      "description": "Request message for BulkEditPartnerAssignedTargetingOptions.",
      "type": "object",
      "properties": {
        "deleteRequests": {
          "items": {
            "$ref": "DeleteAssignedTargetingOptionsRequest"
          },
          "type": "array",
          "description": "The assigned targeting options to delete in batch, specified as a list of `DeleteAssignedTargetingOptionsRequest`. Supported targeting types: * `TARGETING_TYPE_CHANNEL`"
        },
        "createRequests": {
          "description": "The assigned targeting options to create in batch, specified as a list of `CreateAssignedTargetingOptionsRequest`. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
          "items": {
            "$ref": "CreateAssignedTargetingOptionsRequest"
          },
          "type": "array"
        }
      }
    },
    "AssetAssociation": {
      "type": "object",
      "properties": {
        "asset": {
          "$ref": "Asset",
          "description": "Optional. The associated asset."
        },
        "role": {
          "enum": [
            "ASSET_ROLE_UNSPECIFIED",
            "ASSET_ROLE_MAIN",
            "ASSET_ROLE_BACKUP",
            "ASSET_ROLE_POLITE_LOAD",
            "ASSET_ROLE_HEADLINE",
            "ASSET_ROLE_LONG_HEADLINE",
            "ASSET_ROLE_BODY",
            "ASSET_ROLE_LONG_BODY",
            "ASSET_ROLE_CAPTION_URL",
            "ASSET_ROLE_CALL_TO_ACTION",
            "ASSET_ROLE_ADVERTISER_NAME",
            "ASSET_ROLE_PRICE",
            "ASSET_ROLE_ANDROID_APP_ID",
            "ASSET_ROLE_IOS_APP_ID",
            "ASSET_ROLE_RATING",
            "ASSET_ROLE_ICON",
            "ASSET_ROLE_COVER_IMAGE",
            "ASSET_ROLE_BACKGROUND_COLOR",
            "ASSET_ROLE_ACCENT_COLOR",
            "ASSET_ROLE_REQUIRE_LOGO",
            "ASSET_ROLE_REQUIRE_IMAGE",
            "ASSET_ROLE_ENABLE_ASSET_ENHANCEMENTS"
          ],
          "description": "Optional. The role of this asset for the creative.",
          "type": "string",
          "enumDescriptions": [
            "Asset role is not specified or is unknown in this version.",
            "The asset is the main asset of the creative.",
            "The asset is a backup asset of the creative.",
            "The asset is a polite load asset of the creative.",
            "Headline of a native creative. The content must be UTF-8 encoded with a length of no more than 25 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "Long headline of a native creative. The content must be UTF-8 encoded with a length of no more than 50 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "Body text of a native creative. The content must be UTF-8 encoded with a length of no more than 90 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "Long body text of a native creative. The content must be UTF-8 encoded with a length of no more than 150 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "A short, friendly version of the landing page URL to show in the creative. This URL gives people an idea of where they'll arrive after they click on the creative. The content must be UTF-8 encoded with a length of no more than 30 characters. For example, if the landing page URL is 'http://www.example.com/page', the caption URL can be 'example.com'. The protocol (http://) is optional, but the URL can't contain spaces or special characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "The text to use on the call-to-action button of a native creative. The content must be UTF-8 encoded with a length of no more than 15 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "The text that identifies the advertiser or brand name. The content must be UTF-8 encoded with a length of no more than 25 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "The purchase price of your app in the Google play store or iOS app store (for example, $5.99). Note that this value is not automatically synced with the actual value listed in the store. It will always be the one provided when save the creative. The content must be UTF-8 encoded with a length of no more than 15 characters. Assets of this role are read-only.",
            "The ID of an Android app in the Google play store. You can find this ID in the App’s Google Play Store URL after ‘id’. For example, in `https://play.google.com/store/apps/details?id=com.company.appname` the identifier is com.company.appname. Assets of this role are read-only.",
            "The ID of an iOS app in the Apple app store. This ID number can be found in the Apple App Store URL as the string of numbers directly after \"id\". For example, in `https://apps.apple.com/us/app/gmail-email-by-google/id422689480` the ID is 422689480. Assets of this role are read-only.",
            "The rating of an app in the Google play store or iOS app store. Note that this value is not automatically synced with the actual rating in the store. It will always be the one provided when save the creative. Assets of this role are read-only.",
            "The icon of a creative. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE`",
            "The cover image of a native video creative. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_VIDEO`",
            "The main color to use in a creative. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_ASSET_BASED_CREATIVE`",
            "The accent color to use in a creative. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_ASSET_BASED_CREATIVE`",
            "Whether the creative must use a logo asset. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_ASSET_BASED_CREATIVE`",
            "Whether the creative must use an image asset. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_ASSET_BASED_CREATIVE`",
            "Whether asset enhancements can be applied to the creative. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_ASSET_BASED_CREATIVE`"
          ]
        }
      },
      "id": "AssetAssociation",
      "description": "Asset association for the creative."
    },
    "AdvertiserDataAccessConfig": {
      "properties": {
        "sdfConfig": {
          "$ref": "AdvertiserSdfConfig",
          "description": "Structured Data Files (SDF) settings for the advertiser. If not specified, the SDF settings of the parent partner are used."
        }
      },
      "id": "AdvertiserDataAccessConfig",
      "description": "Settings that control how advertiser related data may be accessed.",
      "type": "object"
    },
    "IdFilter": {
      "description": "A filtering option that filters entities by their entity IDs.",
      "type": "object",
      "id": "IdFilter",
      "properties": {
        "mediaProductIds": {
          "type": "array",
          "description": "Media Products to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "campaignIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Campaigns to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest."
        },
        "insertionOrderIds": {
          "type": "array",
          "description": "Insertion Orders to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "adGroupAdIds": {
          "description": "YouTube Ads to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "adGroupQaIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Optional. YouTube Ad Groups, by ID, to download in QA format. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "type": "array"
        },
        "adGroupIds": {
          "type": "array",
          "description": "YouTube Ad Groups to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "lineItemIds": {
          "type": "array",
          "description": "Line Items to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "lineItemQaIds": {
          "description": "Optional. Line Items, by ID, to download in QA format. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "ContentInstreamPositionTargetingOptionDetails": {
      "properties": {
        "contentInstreamPosition": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Content instream position is not specified in this version. This enum is a place holder for a default value and does not represent a real in stream ad position.",
            "Ads that play before streaming content.",
            "Ads that play between the beginning and end of streaming content.",
            "Ads that play at the end of streaming content.",
            "Ads instream position is unknown."
          ],
          "enum": [
            "CONTENT_INSTREAM_POSITION_UNSPECIFIED",
            "CONTENT_INSTREAM_POSITION_PRE_ROLL",
            "CONTENT_INSTREAM_POSITION_MID_ROLL",
            "CONTENT_INSTREAM_POSITION_POST_ROLL",
            "CONTENT_INSTREAM_POSITION_UNKNOWN"
          ],
          "description": "Output only. The content instream position."
        }
      },
      "description": "Represents a targetable content instream position, which could be used by video and audio ads. This will be populated in the content_instream_position_details field when targeting_type is `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`.",
      "type": "object",
      "id": "ContentInstreamPositionTargetingOptionDetails"
    },
    "CustomBiddingAlgorithm": {
      "description": "A single custom bidding algorithm.",
      "type": "object",
      "properties": {
        "sharedAdvertiserIds": {
          "description": "The IDs of the advertisers who have access to this algorithm. If advertiser_id is set, this field will only consist of that value. This field will not be set if the algorithm [`owner`](/display-video/api/reference/rest/v1/customBiddingAlgorithms#CustomBiddingAlgorithm.FIELDS.oneof_owner) is a partner and is being retrieved using an advertiser [`accessor`](/display-video/api/reference/rest/v1/customBiddingAlgorithms/list#body.QUERY_PARAMETERS.oneof_accessor).",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "partnerId": {
          "format": "int64",
          "description": "Immutable. The unique ID of the partner that owns the custom bidding algorithm.",
          "type": "string"
        },
        "modelDetails": {
          "readOnly": true,
          "items": {
            "$ref": "CustomBiddingModelDetails"
          },
          "description": "Output only. The details of custom bidding models for each advertiser who has access. This field may only include the details of the queried advertiser if the algorithm [`owner`](/display-video/api/reference/rest/v1/customBiddingAlgorithms#CustomBiddingAlgorithm.FIELDS.oneof_owner) is a partner and is being retrieved using an advertiser [`accessor`](/display-video/api/reference/rest/v1/customBiddingAlgorithms/list#body.QUERY_PARAMETERS.oneof_accessor).",
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the custom bidding algorithm. Must be UTF-8 encoded with a maximum size of 240 bytes."
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Immutable. The unique ID of the advertiser that owns the custom bidding algorithm."
        },
        "entityStatus": {
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "type": "string",
          "description": "Controls whether or not the custom bidding algorithm can be used as a bidding strategy. Accepted values are: * `ENTITY_STATUS_ACTIVE` * `ENTITY_STATUS_ARCHIVED`",
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ]
        },
        "customBiddingAlgorithmType": {
          "enum": [
            "CUSTOM_BIDDING_ALGORITHM_TYPE_UNSPECIFIED",
            "SCRIPT_BASED",
            "RULE_BASED"
          ],
          "enumDescriptions": [
            "Algorithm type is not specified or is unknown in this version.",
            "Algorithm generated through customer-uploaded custom bidding script files.",
            "Algorithm based in defined rules. These rules are defined in the API using the AlgorithmRules object. This algorithm type is only available to allowlisted customers. Other customers attempting to use this type will receive an error."
          ],
          "description": "Required. Immutable. The type of custom bidding algorithm.",
          "type": "string"
        },
        "thirdPartyOptimizationPartner": {
          "enum": [
            "UNKNOWN",
            "SCIBIDS",
            "ADELAIDE"
          ],
          "description": "Optional. Immutable. Designates the third party optimization partner that manages this algorithm.",
          "type": "string",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Third party data science service provider that DV3 partners/advertisers can partner with.",
            "Third party attention measurement service provider that DV3 partners/advertisers can partner with."
          ]
        },
        "customBiddingAlgorithmId": {
          "description": "Output only. The unique ID of the custom bidding algorithm. Assigned by the system.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name of the custom bidding algorithm.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "CustomBiddingAlgorithm"
    },
    "AlgorithmRulesFloodlightActivityConversionSignal": {
      "description": "The rule to score impressions based on Floodlight conversion events.",
      "type": "object",
      "properties": {
        "countingMethod": {
          "enumDescriptions": [
            "The action is not specified.",
            "The count of conversions associated with the conversion activity.",
            "The number of sales items associated with the conversion activity.",
            "The sales revenue associated with the conversion activity.",
            "The count of unique conversions associated with the conversion activity. Only one conversion can be counted per impression."
          ],
          "enum": [
            "COUNTING_METHOD_UNSPECIFIED",
            "CONVERSIONS_COUNT",
            "SALES_QUANTITY",
            "SALES_VALUE",
            "UNIQUE_COUNT"
          ],
          "type": "string",
          "description": "Required. The way to acquire value from the floodlight activity, for example, count of the conversion."
        },
        "conversionCounting": {
          "description": "Required. The type of conversions to be used in impression value computation, for example, post-click conversions.",
          "enum": [
            "CONVERSION_COUNTING_UNSPECIFIED",
            "ALL_CONVERSIONS",
            "POST_CLICK",
            "POST_VIEW"
          ],
          "type": "string",
          "enumDescriptions": [
            "The action is not specified.",
            "All conversions.",
            "Post-click conversions.",
            "Post-view conversions."
          ]
        },
        "floodlightActivityId": {
          "type": "string",
          "description": "Required. Id of the floodlight activity.",
          "format": "int64"
        }
      },
      "id": "AlgorithmRulesFloodlightActivityConversionSignal"
    },
    "InventorySourceAccessorsAdvertiserAccessors": {
      "type": "object",
      "id": "InventorySourceAccessorsAdvertiserAccessors",
      "properties": {
        "advertiserIds": {
          "type": "array",
          "description": "The IDs of the advertisers.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "description": "The advertisers with access to the inventory source."
    },
    "CustomListGroup": {
      "type": "object",
      "id": "CustomListGroup",
      "description": "Details of custom list group. All custom list targeting settings are logically ‘OR’ of each other.",
      "properties": {
        "settings": {
          "items": {
            "$ref": "CustomListTargetingSetting"
          },
          "description": "Required. All custom list targeting settings in custom list group. Repeated settings with the same id will be ignored.",
          "type": "array"
        }
      }
    },
    "FloodlightGroup": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the Floodlight group."
        },
        "webTagType": {
          "enum": [
            "WEB_TAG_TYPE_UNSPECIFIED",
            "WEB_TAG_TYPE_NONE",
            "WEB_TAG_TYPE_IMAGE",
            "WEB_TAG_TYPE_DYNAMIC"
          ],
          "description": "Required. The web tag type enabled for the Floodlight group.",
          "type": "string",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "No tag type.",
            "Image tag.",
            "Dynamic tag."
          ]
        },
        "lookbackWindow": {
          "description": "Required. The lookback window for the Floodlight group. Both click_days and impression_days are required. Acceptable values for both are `0` to `90`, inclusive.",
          "$ref": "LookbackWindow"
        },
        "activeViewConfig": {
          "description": "The Active View video viewability metric configuration for the Floodlight group.",
          "$ref": "ActiveViewVideoViewabilityMetricConfig"
        },
        "name": {
          "description": "Output only. The resource name of the Floodlight group.",
          "type": "string",
          "readOnly": true
        },
        "floodlightGroupId": {
          "type": "string",
          "description": "Output only. The unique ID of the Floodlight group. Assigned by the system.",
          "format": "int64",
          "readOnly": true
        },
        "customVariables": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "User-defined custom variables owned by the Floodlight group. Use custom Floodlight variables to create reporting data that is tailored to your unique business needs. Custom Floodlight variables use the keys `U1=`, `U2=`, and so on, and can take any values that you choose to pass to them. You can use them to track virtually any type of data that you collect about your customers, such as the genre of movie that a customer purchases, the country to which the item is shipped, and so on. Custom Floodlight variables may not be used to pass any data that could be used or recognized as personally identifiable information (PII). Example: `custom_variables { fields { \"U1\": value { number_value: 123.4 }, \"U2\": value { string_value: \"MyVariable2\" }, \"U3\": value { string_value: \"MyVariable3\" } } }` Acceptable values for keys are \"U1\" through \"U100\", inclusive. String values must be less than 64 characters long, and cannot contain the following characters: `\"<>`."
        }
      },
      "type": "object",
      "description": "A single Floodlight group.",
      "id": "FloodlightGroup"
    },
    "AlgorithmRulesSignalValue": {
      "properties": {
        "number": {
          "description": "Value to use as result.",
          "format": "double",
          "type": "number"
        },
        "floodlightActivityConversionSignal": {
          "$ref": "AlgorithmRulesFloodlightActivityConversionSignal",
          "description": "Signal based on floodlight conversion events. This field is only supported for allowlisted partners."
        },
        "activeViewSignal": {
          "type": "string",
          "description": "Signal based on active views. Only `TIME_ON_SCREEN` is supported. This field is only supported for allowlisted partners.",
          "enumDescriptions": [
            "Unknown signal.",
            "Whether Active View detects that your ad has been viewed. Value is stored in the boolValue field of the comparison value.",
            "Whether Active View detects that your ad was audible. Value is stored in the boolValue field of the comparison value.",
            "Whether the video was completed. Value is stored in the boolValue field of the comparison value.",
            "The time the ad was on screen in seconds. Value is stored in the int64Value field of the comparison value.",
            "The size of the video player displaying the ad. Value is stored in the videoPlayerSizeValue field of the comparison value.",
            "Whether the ad was completed in view and audible. Value is stored in the boolValue field of the comparison value.",
            "Whether the audio ad was completed. Value is stored in the boolValue field of the comparison value."
          ],
          "enum": [
            "ACTIVE_VIEW_SIGNAL_UNSPECIFIED",
            "ACTIVE_VIEW_VIEWED",
            "AUDIBLE",
            "VIDEO_COMPLETED",
            "TIME_ON_SCREEN",
            "VIDEO_PLAYER_SIZE",
            "COMPLETED_IN_VIEW_AUDIBLE",
            "AUDIO_COMPLETED"
          ]
        }
      },
      "description": "Adjusted value of the signal used for rule evaluation.",
      "type": "object",
      "id": "AlgorithmRulesSignalValue"
    },
    "CategoryTargetingOptionDetails": {
      "type": "object",
      "id": "CategoryTargetingOptionDetails",
      "properties": {
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of the category.",
          "type": "string"
        }
      },
      "description": "Represents a targetable category. This will be populated in the category_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_CATEGORY`."
    },
    "DuplicateLineItemResponse": {
      "properties": {
        "duplicateLineItemId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the created line item."
        }
      },
      "id": "DuplicateLineItemResponse",
      "type": "object"
    },
    "IntegralAdScience": {
      "id": "IntegralAdScience",
      "description": "Details of Integral Ad Science settings.",
      "type": "object",
      "properties": {
        "excludedAlcoholRisk": {
          "enum": [
            "ALCOHOL_UNSPECIFIED",
            "ALCOHOL_HR",
            "ALCOHOL_HMR"
          ],
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any alcohol options.",
            "Alcohol - Exclude High Risk.",
            "Alcohol - Exclude High and Moderate Risk."
          ],
          "description": "Brand Safety - **Alcohol**.",
          "type": "string"
        },
        "excludedAdFraudRisk": {
          "enum": [
            "SUSPICIOUS_ACTIVITY_UNSPECIFIED",
            "SUSPICIOUS_ACTIVITY_HR",
            "SUSPICIOUS_ACTIVITY_HMR",
            "SUSPICIOUS_ACTIVITY_FD"
          ],
          "description": "Ad Fraud settings.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any ad fraud prevention options.",
            "Ad Fraud - Exclude High Risk.",
            "Ad Fraud - Exclude High and Moderate Risk.",
            "Ad Fraud - Exclude Fraudulent Device."
          ],
          "type": "string"
        },
        "excludedViolenceRisk": {
          "enum": [
            "VIOLENCE_UNSPECIFIED",
            "VIOLENCE_HR",
            "VIOLENCE_HMR"
          ],
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any violence options.",
            "Violence - Exclude High Risk.",
            "Violence - Exclude High and Moderate Risk."
          ],
          "description": "Brand Safety - **Violence**.",
          "type": "string"
        },
        "videoViewability": {
          "type": "string",
          "enum": [
            "VIDEO_VIEWABILITY_UNSPECIFIED",
            "VIDEO_VIEWABILITY_40",
            "VIDEO_VIEWABILITY_50",
            "VIDEO_VIEWABILITY_60",
            "VIDEO_VIEWABILITY_70"
          ],
          "description": "Video Viewability Section (applicable to video line items only).",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any video viewability options.",
            "40%+ in view (IAB video viewability standard).",
            "50%+ in view (IAB video viewability standard).",
            "60%+ in view (IAB video viewability standard).",
            "70%+ in view (IAB video viewability standard)."
          ]
        },
        "excludedDrugsRisk": {
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any drugs options.",
            "Drugs - Exclude High Risk.",
            "Drugs - Exclude High and Moderate Risk."
          ],
          "enum": [
            "DRUGS_UNSPECIFIED",
            "DRUGS_HR",
            "DRUGS_HMR"
          ],
          "description": "Brand Safety - **Drugs**.",
          "type": "string"
        },
        "traqScoreOption": {
          "description": "True advertising quality (applicable to Display line items only).",
          "type": "string",
          "enum": [
            "TRAQ_UNSPECIFIED",
            "TRAQ_250",
            "TRAQ_500",
            "TRAQ_600",
            "TRAQ_700",
            "TRAQ_750",
            "TRAQ_875",
            "TRAQ_1000"
          ],
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any true advertising quality scores.",
            "TRAQ score 250-1000.",
            "TRAQ score 500-1000.",
            "TRAQ score 600-1000.",
            "TRAQ score 700-1000.",
            "TRAQ score 750-1000.",
            "TRAQ score 875-1000.",
            "TRAQ score 1000."
          ]
        },
        "excludeUnrateable": {
          "description": "Brand Safety - **Unrateable**.",
          "type": "boolean"
        },
        "displayViewability": {
          "enum": [
            "PERFORMANCE_VIEWABILITY_UNSPECIFIED",
            "PERFORMANCE_VIEWABILITY_40",
            "PERFORMANCE_VIEWABILITY_50",
            "PERFORMANCE_VIEWABILITY_60",
            "PERFORMANCE_VIEWABILITY_70"
          ],
          "description": "Display Viewability section (applicable to display line items only).",
          "type": "string",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any display viewability options.",
            "Target 40% Viewability or Higher.",
[...]
