{
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "name": "displayvideo",
  "revision": "20260825",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/display-video-mediaplanning": {
          "description": "Create, see, and edit Display & Video 360 Campaign entities and see billing invoices"
        },
        "https://www.googleapis.com/auth/display-video-user-management": {
          "description": "Private Service: https://www.googleapis.com/auth/display-video-user-management"
        },
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        },
        "https://www.googleapis.com/auth/display-video": {
          "description": "Create, see, edit, and permanently delete your Display & Video 360 entities and reports"
        }
      }
    }
  },
  "description": "Display & Video 360 API allows users to automate complex Display & Video 360 workflows, such as creating insertion orders and setting targeting options for individual line items.",
  "batchPath": "batch",
  "baseUrl": "https://displayvideo.googleapis.com/",
  "ownerName": "Google",
  "title": "Display & Video 360 API",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "rootUrl": "https://displayvideo.googleapis.com/",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "displayvideo:v4",
  "version": "v4",
  "mtlsRootUrl": "https://displayvideo.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "resources": {
    "customBiddingAlgorithms": {
      "resources": {
        "rules": {
          "methods": {
            "create": {
              "flatPath": "v4/customBiddingAlgorithms/{customBiddingAlgorithmsId}/rules",
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "id": "displayvideo.customBiddingAlgorithms.rules.create",
              "description": "Creates a new rules resource. Returns the newly created rules resource if successful. Requests creating a custom bidding rules resource under an algorithm assigned to a line item will return an error.",
              "request": {
                "$ref": "CustomBiddingAlgorithmRules"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameters": {
                "partnerId": {
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this rules resource.",
                  "type": "string",
                  "format": "int64",
                  "location": "query"
                },
                "customBiddingAlgorithmId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The ID of the custom bidding algorithm that owns the rules resource.",
                  "type": "string"
                },
                "advertiserId": {
                  "format": "int64",
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm."
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "CustomBiddingAlgorithmRules"
              },
              "path": "v4/customBiddingAlgorithms/{+customBiddingAlgorithmId}/rules"
            },
            "list": {
              "httpMethod": "GET",
              "id": "displayvideo.customBiddingAlgorithms.rules.list",
              "response": {
                "$ref": "ListCustomBiddingAlgorithmRulesResponse"
              },
              "path": "v4/customBiddingAlgorithms/{+customBiddingAlgorithmId}/rules",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v4/customBiddingAlgorithms/{customBiddingAlgorithmsId}/rules",
              "parameters": {
                "advertiserId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "format": "int64"
                },
                "partnerId": {
                  "type": "string",
                  "format": "int64",
                  "location": "query",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm."
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomBiddingAlgorithmRules` method. If not specified, the first page of results will be returned.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "type": "integer",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Field by which to sort the list. Acceptable values are: * `createTime desc` (default) The default sorting order is descending. To specify ascending order for a field, the suffix \"desc\" should be removed. Example: `createTime`.",
                  "type": "string",
                  "location": "query"
                },
                "customBiddingAlgorithmId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The ID of the custom bidding algorithm that owns the rules resource.",
                  "required": true
                }
              },
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "description": "Lists rules resources that belong to the given algorithm. The order is defined by the order_by parameter."
            },
            "get": {
              "id": "displayvideo.customBiddingAlgorithms.rules.get",
              "response": {
                "$ref": "CustomBiddingAlgorithmRules"
              },
              "parameters": {
                "partnerId": {
                  "location": "query",
                  "format": "int64",
                  "type": "string",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm."
                },
                "advertiserId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "format": "int64"
                },
                "customBiddingAlgorithmId": {
                  "description": "Required. The ID of the custom bidding algorithm that owns the rules resource.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "format": "int64",
                  "required": true
                },
                "customBiddingAlgorithmRulesId": {
                  "location": "path",
                  "description": "Required. The ID of the rules resource to fetch.",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "format": "int64",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "customBiddingAlgorithmId",
                "customBiddingAlgorithmRulesId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v4/customBiddingAlgorithms/{customBiddingAlgorithmsId}/rules/{rulesId}",
              "description": "Retrieves a rules resource.",
              "httpMethod": "GET",
              "path": "v4/customBiddingAlgorithms/{+customBiddingAlgorithmId}/rules/{+customBiddingAlgorithmRulesId}"
            }
          }
        },
        "scripts": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListCustomBiddingScriptsResponse"
              },
              "id": "displayvideo.customBiddingAlgorithms.scripts.list",
              "httpMethod": "GET",
              "path": "v4/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameters": {
                "partnerId": {
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
                  "location": "query",
                  "format": "int64",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomBiddingScripts` method. If not specified, the first page of results will be returned.",
                  "type": "string",
                  "location": "query"
                },
                "advertiserId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "format": "int64"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "type": "integer",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field by which to sort the list. Acceptable values are: * `createTime desc` (default) The default sorting order is descending. To specify ascending order for a field, the suffix \"desc\" should be removed. Example: `createTime`."
                },
                "customBiddingAlgorithmId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the custom bidding algorithm owns the script.",
                  "location": "path",
                  "format": "int64",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "flatPath": "v4/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts",
              "description": "Lists custom bidding scripts that belong to the given algorithm. The order is defined by the order_by parameter."
            },
            "get": {
              "id": "displayvideo.customBiddingAlgorithms.scripts.get",
              "parameters": {
                "customBiddingScriptId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the custom bidding script to fetch.",
                  "format": "int64",
                  "required": true
                },
                "partnerId": {
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
                  "location": "query",
                  "format": "int64",
                  "type": "string"
                },
                "advertiserId": {
                  "location": "query",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "format": "int64",
                  "type": "string"
                },
                "customBiddingAlgorithmId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "description": "Required. The ID of the custom bidding algorithm owns the script."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "customBiddingAlgorithmId",
                "customBiddingScriptId"
              ],
              "response": {
                "$ref": "CustomBiddingScript"
              },
              "httpMethod": "GET",
              "description": "Gets a custom bidding script.",
              "path": "v4/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts/{+customBiddingScriptId}",
              "flatPath": "v4/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts/{scriptsId}"
            },
            "create": {
              "flatPath": "v4/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts",
              "description": "Creates a new custom bidding script. Returns the newly created script if successful. Requests creating a custom bidding script under an algorithm assigned to a line item will return an error.",
              "parameters": {
                "advertiserId": {
                  "location": "query",
                  "format": "int64",
                  "type": "string",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm."
                },
                "customBiddingAlgorithmId": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the custom bidding algorithm that owns the script.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$"
                },
                "partnerId": {
                  "type": "string",
                  "format": "int64",
                  "location": "query",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script."
                }
              },
              "request": {
                "$ref": "CustomBiddingScript"
              },
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "path": "v4/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts",
              "id": "displayvideo.customBiddingAlgorithms.scripts.create",
              "response": {
                "$ref": "CustomBiddingScript"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            }
          }
        }
      },
      "methods": {
        "create": {
          "request": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "id": "displayvideo.customBiddingAlgorithms.create",
          "flatPath": "v4/customBiddingAlgorithms",
          "parameters": {},
          "description": "Creates a new custom bidding algorithm. Returns the newly created custom bidding algorithm if successful.",
          "parameterOrder": [],
          "path": "v4/customBiddingAlgorithms",
          "httpMethod": "POST",
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "patch": {
          "parameters": {
            "customBiddingAlgorithmId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Output only. The unique ID of the custom bidding algorithm. Assigned by the system.",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Required. The mask to control which fields to update.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "flatPath": "v4/customBiddingAlgorithms/{customBiddingAlgorithmsId}",
          "id": "displayvideo.customBiddingAlgorithms.patch",
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "path": "v4/customBiddingAlgorithms/{+customBiddingAlgorithmId}",
          "description": "Updates an existing custom bidding algorithm. Returns the updated custom bidding algorithm if successful. Requests updating a custom bidding algorithm assigned to a line item will return an error."
        },
        "uploadScript": {
          "flatPath": "v4/customBiddingAlgorithms/{customBiddingAlgorithmsId}:uploadScript",
          "path": "v4/customBiddingAlgorithms/{+customBiddingAlgorithmId}:uploadScript",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameters": {
            "partnerId": {
              "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "customBiddingAlgorithmId": {
              "required": true,
              "type": "string",
              "description": "Required. The ID of the custom bidding algorithm owns the script.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "advertiserId": {
              "location": "query",
              "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
              "format": "int64",
              "type": "string"
            }
          },
          "response": {
            "$ref": "CustomBiddingScriptRef"
          },
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "httpMethod": "GET",
          "description": "Creates a custom bidding script reference object for a script file. The resulting reference object provides a resource path to which the script file should be uploaded. This reference object should be included in when creating a new custom bidding script object.",
          "id": "displayvideo.customBiddingAlgorithms.uploadScript"
        },
        "uploadRules": {
          "path": "v4/customBiddingAlgorithms/{+customBiddingAlgorithmId}:uploadRules",
          "flatPath": "v4/customBiddingAlgorithms/{customBiddingAlgorithmsId}:uploadRules",
          "description": "Creates a rules reference object for an AlgorithmRules file. The resulting reference object provides a resource path where the AlgorithmRules file should be uploaded. This reference object should be included when creating a new CustomBiddingAlgorithmRules resource.",
          "parameters": {
            "partnerId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "The ID of the partner that owns the parent custom bidding algorithm."
            },
            "advertiserId": {
              "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "customBiddingAlgorithmId": {
              "required": true,
              "description": "Required. The ID of the custom bidding algorithm that owns the rules resource.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "id": "displayvideo.customBiddingAlgorithms.uploadRules",
          "response": {
            "$ref": "CustomBiddingAlgorithmRulesRef"
          }
        },
        "get": {
          "id": "displayvideo.customBiddingAlgorithms.get",
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "parameters": {
            "customBiddingAlgorithmId": {
              "required": true,
              "description": "Required. The ID of the custom bidding algorithm to fetch.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path"
            },
            "partnerId": {
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "advertiserId": {
              "location": "query",
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "type": "string",
              "format": "int64"
            }
          },
          "path": "v4/customBiddingAlgorithms/{+customBiddingAlgorithmId}",
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "description": "Gets a custom bidding algorithm.",
          "httpMethod": "GET",
          "flatPath": "v4/customBiddingAlgorithms/{customBiddingAlgorithmsId}",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "list": {
          "parameters": {
            "filter": {
              "location": "query",
              "description": "Allows filtering by custom bidding algorithm fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND`. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * The `customBiddingAlgorithmType` field must use the `EQUALS (=)` operator. * The `displayName` field must use the `HAS (:)` operator. Supported fields: * `customBiddingAlgorithmType` * `displayName` Examples: * All custom bidding algorithms for which the display name contains \"politics\": `displayName:\"politics\"`. * All custom bidding algorithms for which the type is \"SCRIPT_BASED\": `customBiddingAlgorithmType=SCRIPT_BASED` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "type": "string"
            },
            "pageSize": {
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "orderBy": {
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "type": "string",
              "location": "query"
            },
            "advertiserId": {
              "type": "string",
              "description": "The ID of the DV360 advertiser that has access to the custom bidding algorithm.",
              "location": "query",
              "format": "int64"
            },
            "partnerId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "format": "int64"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomBiddingAlgorithms` method. If not specified, the first page of results will be returned."
            }
          },
          "id": "displayvideo.customBiddingAlgorithms.list",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "description": "Lists custom bidding algorithms that are accessible to the current user and can be used in bidding stratgies. The order is defined by the order_by parameter.",
          "flatPath": "v4/customBiddingAlgorithms",
          "parameterOrder": [],
          "response": {
            "$ref": "ListCustomBiddingAlgorithmsResponse"
          },
          "path": "v4/customBiddingAlgorithms",
          "httpMethod": "GET"
        }
      }
    },
    "advertisers": {
      "methods": {
        "patch": {
          "flatPath": "v4/advertisers/{advertisersId}",
          "path": "v4/advertisers/{+advertiserId}",
          "parameterOrder": [
            "advertiserId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameters": {
            "advertiserId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Output only. The unique ID of the advertiser. Assigned by the system.",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "Required. The mask to control which fields to update.",
              "type": "string"
            }
          },
          "description": "Updates an existing advertiser. Returns the updated advertiser if successful.",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Advertiser"
          },
          "id": "displayvideo.advertisers.patch",
          "response": {
            "$ref": "Advertiser"
          }
        },
        "editAssignedTargetingOptions": {
          "httpMethod": "POST",
          "response": {
            "$ref": "BulkEditAdvertiserAssignedTargetingOptionsResponse"
          },
          "request": {
            "$ref": "BulkEditAdvertiserAssignedTargetingOptionsRequest"
          },
          "parameterOrder": [
            "advertiserId"
          ],
          "path": "v4/advertisers/{+advertiserId}:editAssignedTargetingOptions",
          "id": "displayvideo.advertisers.editAssignedTargetingOptions",
          "description": "Edits targeting options under a single advertiser. The operation will delete the assigned targeting options provided in BulkEditAdvertiserAssignedTargetingOptionsRequest.delete_requests and then create the assigned targeting options provided in BulkEditAdvertiserAssignedTargetingOptionsRequest.create_requests .",
          "parameters": {
            "advertiserId": {
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the advertiser.",
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path"
            }
          },
          "flatPath": "v4/advertisers/{advertisersId}:editAssignedTargetingOptions",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "list": {
          "description": "Lists advertisers that are accessible to the current user. The order is defined by the order_by parameter. A single partner_id is required. Cross-partner listing is not supported.",
          "path": "v4/advertisers",
          "id": "displayvideo.advertisers.list",
          "parameters": {
            "pageSize": {
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "orderBy": {
              "description": "Field by which to sort the list. Acceptable values are: * `advertiserId` (default) * `displayName` * `entityStatus` * `updateTime` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Allows filtering by advertiser fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. * A restriction has the form of `{field} {operator} {value}`. * The `updateTime` field must use the `GREATER THAN OR EQUAL TO (>=)` or `LESS THAN OR EQUAL TO (<=)` operators. * All other fields must use the `EQUALS (=)` operator. Supported fields: * `advertiserId` * `displayName` * `entityStatus` * `updateTime` (input in ISO 8601 format, or `YYYY-MM-DDTHH:MM:SSZ`) Examples: * All active advertisers under a partner: `entityStatus=\"ENTITY_STATUS_ACTIVE\"` * All advertisers with an update time less than or equal to 2020-11-04T18:54:47Z (format of ISO 8601): `updateTime<=\"2020-11-04T18:54:47Z\"` * All advertisers with an update time greater than or equal to 2020-11-04T18:54:47Z (format of ISO 8601): `updateTime>=\"2020-11-04T18:54:47Z\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
            },
            "partnerId": {
              "location": "query",
              "format": "int64",
              "description": "Required. The ID of the partner that the fetched advertisers should all belong to. The system only supports listing advertisers for one partner at a time.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListAdvertisers` method. If not specified, the first page of results will be returned."
            }
          },
          "response": {
            "$ref": "ListAdvertisersResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "v4/advertisers",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "audit": {
          "path": "v4/advertisers/{+advertiserId}:audit",
          "flatPath": "v4/advertisers/{advertisersId}:audit",
          "id": "displayvideo.advertisers.audit",
          "parameters": {
            "advertiserId": {
              "required": true,
              "description": "Required. The ID of the advertiser to audit.",
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "readMask": {
              "type": "string",
              "description": "Optional. The specific fields to return. If no mask is specified, all fields in the response proto will be filled. Valid values are: * usedLineItemsCount * usedInsertionOrdersCount * usedCampaignsCount * channelsCount * negativelyTargetedChannelsCount * negativeKeywordListsCount * adGroupCriteriaCount * campaignCriteriaCount",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "description": "Audits an advertiser. Returns the counts of used entities per resource type under the advertiser provided. Used entities count towards their respective resource limit. See https://support.google.com/displayvideo/answer/6071450.",
          "parameterOrder": [
            "advertiserId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "response": {
            "$ref": "AuditAdvertiserResponse"
          }
        },
        "delete": {
          "parameters": {
            "advertiserId": {
              "location": "path",
              "description": "The ID of the advertiser we need to delete.",
              "format": "int64",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v4/advertisers/{advertisersId}",
          "parameterOrder": [
            "advertiserId"
          ],
          "id": "displayvideo.advertisers.delete",
          "path": "v4/advertisers/{+advertiserId}",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "description": "Deletes an advertiser. Deleting an advertiser will delete all of its child resources, for example, campaigns, insertion orders and line items. A deleted advertiser cannot be recovered."
        },
        "get": {
          "description": "Gets an advertiser.",
          "flatPath": "v4/advertisers/{advertisersId}",
          "httpMethod": "GET",
          "path": "v4/advertisers/{+advertiserId}",
          "parameterOrder": [
            "advertiserId"
          ],
          "response": {
            "$ref": "Advertiser"
          },
          "id": "displayvideo.advertisers.get",
          "parameters": {
            "advertiserId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the advertiser to fetch.",
              "location": "path",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "create": {
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "response": {
            "$ref": "Advertiser"
          },
          "request": {
            "$ref": "Advertiser"
          },
          "path": "v4/advertisers",
          "description": "Creates a new advertiser. Returns the newly created advertiser if successful. **This method regularly experiences high latency.** We recommend [increasing your default timeout](/display-video/api/guides/best-practices/timeouts#client_library_timeout) to avoid errors.",
          "id": "displayvideo.advertisers.create",
          "flatPath": "v4/advertisers",
          "httpMethod": "POST"
        },
        "listAssignedTargetingOptions": {
          "parameterOrder": [
            "advertiserId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token that lets the client fetch the next page of results. Typically, this is the value of next_page_token returned from the previous call to `BulkListAdvertiserAssignedTargetingOptions` method. If not specified, the first page of results will be returned."
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Field by which to sort the list. Acceptable values are: * `targetingType` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `targetingType desc`."
            },
            "filter": {
              "description": "Allows filtering by assigned targeting option fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the `OR` logical operator. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=) operator`. Supported fields: * `targetingType` Examples: * targetingType with value TARGETING_TYPE_CHANNEL `targetingType=\"TARGETING_TYPE_CHANNEL\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "type": "string",
              "location": "query"
            },
            "advertiserId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the advertiser the line item belongs to."
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Requested page size. The size must be an integer between `1` and `5000`. If unspecified, the default is '5000'. Returns error code `INVALID_ARGUMENT` if an invalid value is specified."
            }
          },
          "response": {
            "$ref": "BulkListAdvertiserAssignedTargetingOptionsResponse"
          },
          "path": "v4/advertisers/{+advertiserId}:listAssignedTargetingOptions",
          "httpMethod": "GET",
          "flatPath": "v4/advertisers/{advertisersId}:listAssignedTargetingOptions",
          "description": "Lists assigned targeting options of an advertiser across targeting types.",
          "id": "displayvideo.advertisers.listAssignedTargetingOptions"
        }
      },
      "resources": {
        "adGroups": {
          "methods": {
            "bulkEditAssignedTargetingOptions": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "advertiserId"
              ],
              "id": "displayvideo.advertisers.adGroups.bulkEditAssignedTargetingOptions",
              "httpMethod": "POST",
              "response": {
                "$ref": "BulkEditAdGroupAssignedTargetingOptionsResponse"
              },
              "path": "v4/advertisers/{+advertiserId}/adGroups:bulkEditAssignedTargetingOptions",
              "description": "Bulk edits targeting options for multiple ad groups. The same set of delete and create requests will be applied to all specified ad groups. Specifically, the operation will delete the assigned targeting options provided in BulkEditAdGroupAssignedTargetingOptionsRequest.delete_requests from each ad group, and then create the assigned targeting options provided in BulkEditAdGroupAssignedTargetingOptionsRequest.create_requests. This method is only supported for Demand Gen ad groups.",
              "flatPath": "v4/advertisers/{advertisersId}/adGroups:bulkEditAssignedTargetingOptions",
              "request": {
                "$ref": "BulkEditAdGroupAssignedTargetingOptionsRequest"
              },
              "parameters": {
                "advertiserId": {
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the advertiser the ad groups belong to."
                }
              }
            },
            "patch": {
              "flatPath": "v4/advertisers/{advertisersId}/adGroups/{adGroupsId}",
              "description": "Updates an existing ad group. Returns the updated ad group if successful. This method is only supported for Demand Gen ad groups.",
              "parameterOrder": [
                "advertiserId",
                "adGroupId"
              ],
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The mask to control which fields to update.",
                  "location": "query"
                },
                "adGroupId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Output only. The unique ID of the ad group. Assigned by the system.",
                  "type": "string",
                  "location": "path",
                  "format": "int64"
                },
                "advertiserId": {
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "Output only. The unique ID of the advertiser the ad group belongs to.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "AdGroup"
              },
              "id": "displayvideo.advertisers.adGroups.patch",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "httpMethod": "PATCH",
              "path": "v4/advertisers/{+advertiserId}/adGroups/{+adGroupId}",
              "response": {
                "$ref": "AdGroup"
              }
            },
            "delete": {
              "flatPath": "v4/advertisers/{advertisersId}/adGroups/{adGroupsId}",
              "description": "Deletes a AdGroup. Returns error code `NOT_FOUND` if the ad group does not exist. This method is only supported for Demand Gen ad groups.",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "httpMethod": "DELETE",
              "id": "displayvideo.advertisers.adGroups.delete",
              "parameterOrder": [
                "advertiserId",
                "adGroupId"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v4/advertisers/{+advertiserId}/adGroups/{+adGroupId}",
              "parameters": {
                "advertiserId": {
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The ID of the advertiser this ad group belongs to.",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path"
                },
                "adGroupId": {
                  "location": "path",
                  "description": "Required. The ID of the ad group to delete.",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64"
                }
              }
            },
            "bulkListAssignedTargetingOptions": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Optional. A token that lets the client fetch the next page of results. Typically, this is the value of next_page_token returned from the previous call to the `BulkListAdGroupAssignedTargetingOptions` method. If not specified, the first page of results will be returned.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. Requested page size. The size must be an integer between `1` and `5000`. If unspecified, the default is `5000`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "type": "integer"
                },
                "adGroupIds": {
                  "format": "int64",
                  "description": "Required. The IDs of the ad groups to list assigned targeting options for.",
                  "repeated": true,
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. Allows filtering by assigned targeting option fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `targetingType` Examples: * `AssignedTargetingOption` resources of targeting type `TARGETING_TYPE_YOUTUBE_VIDEO` or `TARGETING_TYPE_YOUTUBE_CHANNEL`: `targetingType=\"TARGETING_TYPE_YOUTUBE_VIDEO\" OR targetingType=\"TARGETING_TYPE_YOUTUBE_CHANNEL\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                  "location": "query",
                  "type": "string"
                },
                "advertiserId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the advertiser the line items belongs to.",
                  "required": true,
                  "format": "int64",
                  "location": "path"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Field by which to sort the list. Acceptable values are: * `adGroupId` (default) * `assignedTargetingOption.targetingType` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `targetingType desc`.",
                  "location": "query"
                }
              },
              "path": "v4/advertisers/{+advertiserId}/adGroups:bulkListAssignedTargetingOptions",
              "flatPath": "v4/advertisers/{advertisersId}/adGroups:bulkListAssignedTargetingOptions",
              "parameterOrder": [
                "advertiserId"
              ],
              "description": "Lists assigned targeting options for multiple ad groups across targeting types. Inherited assigned targeting options are not included.",
              "response": {
                "$ref": "BulkListAdGroupAssignedTargetingOptionsResponse"
              },
              "id": "displayvideo.advertisers.adGroups.bulkListAssignedTargetingOptions",
              "httpMethod": "GET"
            },
            "create": {
              "description": "Creates a new ad group. Returns the newly created ad group if successful. This method is only supported for Demand Gen ad groups.",
              "httpMethod": "POST",
              "path": "v4/advertisers/{+advertiserId}/adGroups",
              "flatPath": "v4/advertisers/{advertisersId}/adGroups",
              "request": {
                "$ref": "AdGroup"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.advertisers.adGroups.create",
              "parameterOrder": [
                "advertiserId"
              ],
              "parameters": {
                "advertiserId": {
                  "type": "string",
                  "description": "Output only. The unique ID of the advertiser the ad group belongs to.",
                  "required": true,
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "AdGroup"
              }
            },
            "get": {
              "response": {
                "$ref": "AdGroup"
              },
              "description": "Gets an ad group.",
              "parameters": {
                "advertiserId": {
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the advertiser this ad group belongs to.",
                  "required": true
                },
                "adGroupId": {
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the ad group to fetch."
                }
              },
              "path": "v4/advertisers/{+advertiserId}/adGroups/{+adGroupId}",
              "id": "displayvideo.advertisers.adGroups.get",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "advertiserId",
                "adGroupId"
              ],
              "flatPath": "v4/advertisers/{advertisersId}/adGroups/{adGroupsId}",
              "httpMethod": "GET"
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "advertiserId"
              ],
              "flatPath": "v4/advertisers/{advertisersId}/adGroups",
              "id": "displayvideo.advertisers.adGroups.list",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "description": "Lists ad groups.",
              "response": {
                "$ref": "ListAdGroupsResponse"
              },
              "parameters": {
                "advertiserId": {
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The ID of the advertiser the ad groups belongs to.",
                  "location": "path",
                  "pattern": "^[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListAdGroups` method. If not specified, the first page of results will be returned.",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. Field by which to sort the list. Acceptable values are: * `displayName` (default) * `entityStatus` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Allows filtering by custom ad group fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` and `OR`. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported properties: * `adGroupId` * `displayName` * `entityStatus` * `lineItemId` * `adGroupFormat` Examples: * All ad groups under an line item: `lineItemId=\"1234\"` * All `ENTITY_STATUS_ACTIVE` or `ENTITY_STATUS_PAUSED` `AD_GROUP_FORMAT_IN_STREAM` ad groups under an advertiser: `(entityStatus=\"ENTITY_STATUS_ACTIVE\" OR entityStatus=\"ENTITY_STATUS_PAUSED\") AND adGroupFormat=\"AD_GROUP_FORMAT_IN_STREAM\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
                },
                "pageSize": {
                  "description": "Optional. Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "path": "v4/advertisers/{+advertiserId}/adGroups"
            }
          },
          "resources": {
            "targetingTypes": {
              "resources": {
                "assignedTargetingOptions": {
                  "methods": {
                    "delete": {
                      "path": "v4/advertisers/{+advertiserId}/adGroups/{+adGroupId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/display-video"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "advertiserId",
                        "adGroupId",
                        "targetingType",
                        "assignedTargetingOptionId"
                      ],
                      "parameters": {
                        "assignedTargetingOptionId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The ID of the assigned targeting option to delete.",
                          "pattern": "^[^/]+$",
                          "required": true
                        },
                        "adGroupId": {
                          "pattern": "^[^/]+$",
                          "type": "string",
                          "location": "path",
                          "format": "int64",
                          "required": true,
                          "description": "Required. The ID of the ad group the assigned targeting option belongs to."
                        },
                        "targetingType": {
                          "enumDescriptions": [
                            "Default value when type is not specified or is unknown in this version.",
                            "Target a channel (a custom group of related websites or apps).",
                            "Target an app category (for example, education or puzzle games).",
                            "Target a specific app (for example, Angry Birds).",
                            "Target a specific url (for example, quora.com).",
                            "Target ads during a chosen time period on a specific day.",
                            "Target ads to a specific age range (for example, 18-24).",
                            "Target ads to the specified regions on a regional location list.",
                            "Target ads to the specified points of interest on a proximity location list.",
                            "Target ads to a specific gender (for example, female or male).",
                            "Target a specific video player size for video ads.",
                            "Target user rewarded content for video ads.",
                            "Target ads to a specific parental status (for example, parent or not a parent).",
                            "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                            "Target ads in a specific content outstream position.",
                            "Target ads to a specific device type (for example, tablet or connected TV).",
                            "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                            "Target ads to specific web browsers (for example, Chrome).",
                            "Target ads to a specific household income range (for example, top 10%).",
                            "Target ads in a specific on screen position.",
                            "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                            "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                            "Filter website content by sensitive categories (for example, adult).",
                            "Target ads to a specific environment (for example, web or app).",
                            "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                            "Target ads to a specific operating system (for example, macOS).",
                            "Target ads to a specific device make or model (for example, Roku or Samsung).",
                            "Target ads to a specific keyword (for example, dog or retriever).",
                            "Target ads to a specific negative keyword list.",
                            "Target ads to a specific viewability (for example, 80% viewable).",
                            "Target ads to a specific content category (for example, arts & entertainment).",
                            "Purchase impressions from specific deals and auction packages.",
                            "Target ads to a specific language (for example, English or Japanese).",
                            "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                            "Target ads to a specific regional location (for example, a city or state).",
                            "Purchase impressions from a group of deals and auction packages.",
                            "Purchase impressions from specific exchanges.",
                            "Purchase impressions from specific sub-exchanges.",
                            "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                            "Target ads around locations of a business chain within a specific geo region.",
                            "Target ads to a specific video content duration.",
                            "Target ads to a specific video content stream type.",
                            "Target ads to a specific native content position.",
                            "Target ads in an Open Measurement enabled inventory.",
                            "Target ads to a specific audio content type.",
                            "Target ads to a specific content genre.",
                            "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                            "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                            "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                            "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
                            "Target ads to a specific YouTube channel pack."
                          ],
                          "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_SESSION_POSITION` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_YOUTUBE_CHANNEL` * `TARGETING_TYPE_YOUTUBE_VIDEO`",
                          "type": "string",
                          "pattern": "^[^/]+$",
                          "enum": [
                            "TARGETING_TYPE_UNSPECIFIED",
                            "TARGETING_TYPE_CHANNEL",
                            "TARGETING_TYPE_APP_CATEGORY",
                            "TARGETING_TYPE_APP",
                            "TARGETING_TYPE_URL",
                            "TARGETING_TYPE_DAY_AND_TIME",
                            "TARGETING_TYPE_AGE_RANGE",
                            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                            "TARGETING_TYPE_GENDER",
                            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                            "TARGETING_TYPE_USER_REWARDED_CONTENT",
                            "TARGETING_TYPE_PARENTAL_STATUS",
                            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                            "TARGETING_TYPE_DEVICE_TYPE",
                            "TARGETING_TYPE_AUDIENCE_GROUP",
                            "TARGETING_TYPE_BROWSER",
                            "TARGETING_TYPE_HOUSEHOLD_INCOME",
                            "TARGETING_TYPE_ON_SCREEN_POSITION",
                            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                            "TARGETING_TYPE_ENVIRONMENT",
                            "TARGETING_TYPE_CARRIER_AND_ISP",
                            "TARGETING_TYPE_OPERATING_SYSTEM",
                            "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                            "TARGETING_TYPE_KEYWORD",
                            "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                            "TARGETING_TYPE_VIEWABILITY",
                            "TARGETING_TYPE_CATEGORY",
                            "TARGETING_TYPE_INVENTORY_SOURCE",
                            "TARGETING_TYPE_LANGUAGE",
                            "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                            "TARGETING_TYPE_GEO_REGION",
                            "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                            "TARGETING_TYPE_EXCHANGE",
                            "TARGETING_TYPE_SUB_EXCHANGE",
                            "TARGETING_TYPE_POI",
                            "TARGETING_TYPE_BUSINESS_CHAIN",
                            "TARGETING_TYPE_CONTENT_DURATION",
                            "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                            "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                            "TARGETING_TYPE_OMID",
                            "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                            "TARGETING_TYPE_CONTENT_GENRE",
                            "TARGETING_TYPE_YOUTUBE_VIDEO",
                            "TARGETING_TYPE_YOUTUBE_CHANNEL",
                            "TARGETING_TYPE_SESSION_POSITION",
                            "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
                            "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                          ],
                          "required": true,
                          "location": "path"
                        },
                        "advertiserId": {
                          "type": "string",
                          "location": "path",
                          "format": "int64",
                          "required": true,
                          "description": "Required. The ID of the advertiser the ad group belongs to.",
                          "pattern": "^[^/]+$"
                        }
                      },
                      "id": "displayvideo.advertisers.adGroups.targetingTypes.assignedTargetingOptions.delete",
                      "description": "Deletes an assigned targeting option from an ad group. This method is only supported for Demand Gen ad groups with the AdGroupFormat `AD_GROUP_FORMAT_DEMAND_GEN`.",
                      "httpMethod": "DELETE",
                      "flatPath": "v4/advertisers/{advertisersId}/adGroups/{adGroupsId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}"
                    },
                    "get": {
                      "path": "v4/advertisers/{+advertiserId}/adGroups/{+adGroupId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                      "description": "Gets a single targeting option assigned to an ad group. Inherited assigned targeting options are not included.",
                      "parameterOrder": [
                        "advertiserId",
                        "adGroupId",
                        "targetingType",
                        "assignedTargetingOptionId"
                      ],
                      "response": {
                        "$ref": "AssignedTargetingOption"
                      },
                      "parameters": {
                        "advertiserId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The ID of the advertiser the ad group belongs to.",
                          "pattern": "^[^/]+$",
                          "format": "int64"
                        },
                        "targetingType": {
                          "enum": [
                            "TARGETING_TYPE_UNSPECIFIED",
                            "TARGETING_TYPE_CHANNEL",
                            "TARGETING_TYPE_APP_CATEGORY",
                            "TARGETING_TYPE_APP",
                            "TARGETING_TYPE_URL",
                            "TARGETING_TYPE_DAY_AND_TIME",
                            "TARGETING_TYPE_AGE_RANGE",
                            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                            "TARGETING_TYPE_GENDER",
                            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                            "TARGETING_TYPE_USER_REWARDED_CONTENT",
                            "TARGETING_TYPE_PARENTAL_STATUS",
                            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                            "TARGETING_TYPE_DEVICE_TYPE",
                            "TARGETING_TYPE_AUDIENCE_GROUP",
                            "TARGETING_TYPE_BROWSER",
                            "TARGETING_TYPE_HOUSEHOLD_INCOME",
                            "TARGETING_TYPE_ON_SCREEN_POSITION",
                            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                            "TARGETING_TYPE_ENVIRONMENT",
                            "TARGETING_TYPE_CARRIER_AND_ISP",
                            "TARGETING_TYPE_OPERATING_SYSTEM",
                            "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                            "TARGETING_TYPE_KEYWORD",
                            "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                            "TARGETING_TYPE_VIEWABILITY",
                            "TARGETING_TYPE_CATEGORY",
                            "TARGETING_TYPE_INVENTORY_SOURCE",
                            "TARGETING_TYPE_LANGUAGE",
                            "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                            "TARGETING_TYPE_GEO_REGION",
                            "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                            "TARGETING_TYPE_EXCHANGE",
                            "TARGETING_TYPE_SUB_EXCHANGE",
                            "TARGETING_TYPE_POI",
                            "TARGETING_TYPE_BUSINESS_CHAIN",
                            "TARGETING_TYPE_CONTENT_DURATION",
                            "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                            "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                            "TARGETING_TYPE_OMID",
                            "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                            "TARGETING_TYPE_CONTENT_GENRE",
                            "TARGETING_TYPE_YOUTUBE_VIDEO",
                            "TARGETING_TYPE_YOUTUBE_CHANNEL",
                            "TARGETING_TYPE_SESSION_POSITION",
                            "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
                            "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                          ],
                          "enumDescriptions": [
                            "Default value when type is not specified or is unknown in this version.",
                            "Target a channel (a custom group of related websites or apps).",
                            "Target an app category (for example, education or puzzle games).",
                            "Target a specific app (for example, Angry Birds).",
                            "Target a specific url (for example, quora.com).",
                            "Target ads during a chosen time period on a specific day.",
                            "Target ads to a specific age range (for example, 18-24).",
                            "Target ads to the specified regions on a regional location list.",
                            "Target ads to the specified points of interest on a proximity location list.",
                            "Target ads to a specific gender (for example, female or male).",
                            "Target a specific video player size for video ads.",
                            "Target user rewarded content for video ads.",
                            "Target ads to a specific parental status (for example, parent or not a parent).",
                            "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                            "Target ads in a specific content outstream position.",
                            "Target ads to a specific device type (for example, tablet or connected TV).",
                            "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                            "Target ads to specific web browsers (for example, Chrome).",
                            "Target ads to a specific household income range (for example, top 10%).",
                            "Target ads in a specific on screen position.",
                            "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                            "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                            "Filter website content by sensitive categories (for example, adult).",
                            "Target ads to a specific environment (for example, web or app).",
                            "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                            "Target ads to a specific operating system (for example, macOS).",
                            "Target ads to a specific device make or model (for example, Roku or Samsung).",
                            "Target ads to a specific keyword (for example, dog or retriever).",
                            "Target ads to a specific negative keyword list.",
                            "Target ads to a specific viewability (for example, 80% viewable).",
                            "Target ads to a specific content category (for example, arts & entertainment).",
                            "Purchase impressions from specific deals and auction packages.",
                            "Target ads to a specific language (for example, English or Japanese).",
                            "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                            "Target ads to a specific regional location (for example, a city or state).",
                            "Purchase impressions from a group of deals and auction packages.",
                            "Purchase impressions from specific exchanges.",
                            "Purchase impressions from specific sub-exchanges.",
                            "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                            "Target ads around locations of a business chain within a specific geo region.",
                            "Target ads to a specific video content duration.",
                            "Target ads to a specific video content stream type.",
                            "Target ads to a specific native content position.",
                            "Target ads in an Open Measurement enabled inventory.",
                            "Target ads to a specific audio content type.",
                            "Target ads to a specific content genre.",
                            "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                            "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                            "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                            "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
                            "Target ads to a specific YouTube channel pack."
                          ],
                          "location": "path",
                          "type": "string",
                          "pattern": "^[^/]+$",
                          "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types include: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_SESSION_POSITION` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_YOUTUBE_CHANNEL` * `TARGETING_TYPE_YOUTUBE_VIDEO`",
                          "required": true
                        },
                        "assignedTargetingOptionId": {
                          "type": "string",
                          "description": "Required. An identifier unique to the targeting type in this line item that identifies the assigned targeting option being requested.",
                          "required": true,
                          "pattern": "^[^/]+$",
                          "location": "path"
                        },
                        "adGroupId": {
                          "required": true,
                          "format": "int64",
                          "location": "path",
                          "type": "string",
                          "pattern": "^[^/]+$",
                          "description": "Required. The ID of the ad group the assigned targeting option belongs to."
                        }
                      },
                      "id": "displayvideo.advertisers.adGroups.targetingTypes.assignedTargetingOptions.get",
                      "httpMethod": "GET",
                      "flatPath": "v4/advertisers/{advertisersId}/adGroups/{adGroupsId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/display-video"
                      ]
                    },
                    "list": {
                      "id": "displayvideo.advertisers.adGroups.targetingTypes.assignedTargetingOptions.list",
                      "response": {
                        "$ref": "ListAdGroupAssignedTargetingOptionsResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v4/advertisers/{advertisersId}/adGroups/{adGroupsId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions",
                      "parameters": {
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Field by which to sort the list. Acceptable values are: * `assignedTargetingOptionId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `assignedTargetingOptionId desc`."
                        },
                        "advertiserId": {
                          "location": "path",
                          "description": "Required. The ID of the advertiser the ad group belongs to.",
                          "format": "int64",
                          "pattern": "^[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Must be between `1` and `5000`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "targetingType": {
                          "type": "string",
                          "location": "path",
                          "enum": [
                            "TARGETING_TYPE_UNSPECIFIED",
                            "TARGETING_TYPE_CHANNEL",
                            "TARGETING_TYPE_APP_CATEGORY",
                            "TARGETING_TYPE_APP",
                            "TARGETING_TYPE_URL",
                            "TARGETING_TYPE_DAY_AND_TIME",
                            "TARGETING_TYPE_AGE_RANGE",
                            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                            "TARGETING_TYPE_GENDER",
                            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                            "TARGETING_TYPE_USER_REWARDED_CONTENT",
                            "TARGETING_TYPE_PARENTAL_STATUS",
                            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                            "TARGETING_TYPE_DEVICE_TYPE",
                            "TARGETING_TYPE_AUDIENCE_GROUP",
                            "TARGETING_TYPE_BROWSER",
                            "TARGETING_TYPE_HOUSEHOLD_INCOME",
                            "TARGETING_TYPE_ON_SCREEN_POSITION",
                            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                            "TARGETING_TYPE_ENVIRONMENT",
                            "TARGETING_TYPE_CARRIER_AND_ISP",
                            "TARGETING_TYPE_OPERATING_SYSTEM",
                            "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                            "TARGETING_TYPE_KEYWORD",
                            "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                            "TARGETING_TYPE_VIEWABILITY",
                            "TARGETING_TYPE_CATEGORY",
                            "TARGETING_TYPE_INVENTORY_SOURCE",
                            "TARGETING_TYPE_LANGUAGE",
                            "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                            "TARGETING_TYPE_GEO_REGION",
                            "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                            "TARGETING_TYPE_EXCHANGE",
                            "TARGETING_TYPE_SUB_EXCHANGE",
                            "TARGETING_TYPE_POI",
                            "TARGETING_TYPE_BUSINESS_CHAIN",
                            "TARGETING_TYPE_CONTENT_DURATION",
                            "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                            "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                            "TARGETING_TYPE_OMID",
                            "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                            "TARGETING_TYPE_CONTENT_GENRE",
                            "TARGETING_TYPE_YOUTUBE_VIDEO",
                            "TARGETING_TYPE_YOUTUBE_CHANNEL",
                            "TARGETING_TYPE_SESSION_POSITION",
                            "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
                            "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                          ],
                          "enumDescriptions": [
                            "Default value when type is not specified or is unknown in this version.",
                            "Target a channel (a custom group of related websites or apps).",
                            "Target an app category (for example, education or puzzle games).",
                            "Target a specific app (for example, Angry Birds).",
                            "Target a specific url (for example, quora.com).",
                            "Target ads during a chosen time period on a specific day.",
                            "Target ads to a specific age range (for example, 18-24).",
                            "Target ads to the specified regions on a regional location list.",
                            "Target ads to the specified points of interest on a proximity location list.",
                            "Target ads to a specific gender (for example, female or male).",
                            "Target a specific video player size for video ads.",
                            "Target user rewarded content for video ads.",
                            "Target ads to a specific parental status (for example, parent or not a parent).",
                            "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                            "Target ads in a specific content outstream position.",
                            "Target ads to a specific device type (for example, tablet or connected TV).",
                            "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                            "Target ads to specific web browsers (for example, Chrome).",
                            "Target ads to a specific household income range (for example, top 10%).",
                            "Target ads in a specific on screen position.",
                            "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                            "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                            "Filter website content by sensitive categories (for example, adult).",
                            "Target ads to a specific environment (for example, web or app).",
                            "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                            "Target ads to a specific operating system (for example, macOS).",
                            "Target ads to a specific device make or model (for example, Roku or Samsung).",
                            "Target ads to a specific keyword (for example, dog or retriever).",
                            "Target ads to a specific negative keyword list.",
                            "Target ads to a specific viewability (for example, 80% viewable).",
                            "Target ads to a specific content category (for example, arts & entertainment).",
                            "Purchase impressions from specific deals and auction packages.",
                            "Target ads to a specific language (for example, English or Japanese).",
                            "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                            "Target ads to a specific regional location (for example, a city or state).",
                            "Purchase impressions from a group of deals and auction packages.",
                            "Purchase impressions from specific exchanges.",
                            "Purchase impressions from specific sub-exchanges.",
                            "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                            "Target ads around locations of a business chain within a specific geo region.",
                            "Target ads to a specific video content duration.",
                            "Target ads to a specific video content stream type.",
                            "Target ads to a specific native content position.",
                            "Target ads in an Open Measurement enabled inventory.",
                            "Target ads to a specific audio content type.",
                            "Target ads to a specific content genre.",
                            "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                            "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                            "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                            "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
                            "Target ads to a specific YouTube channel pack."
                          ],
                          "description": "Required. Identifies the type of assigned targeting options to list. Supported targeting types include: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_SESSION_POSITION` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_YOUTUBE_CHANNEL` * `TARGETING_TYPE_YOUTUBE_VIDEO`",
                          "required": true,
                          "pattern": "^[^/]+$"
                        },
                        "adGroupId": {
                          "pattern": "^[^/]+$",
                          "required": true,
                          "description": "Required. The ID of the ad group to list assigned targeting options for.",
                          "format": "int64",
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListAdGroupAssignedTargetingOptions` method. If not specified, the first page of results will be returned."
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Allows filtering by assigned targeting option fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `assignedTargetingOptionId` Examples: * `AssignedTargetingOption` resources with ID 1 or 2: `assignedTargetingOptionId=\"1\" OR assignedTargetingOptionId=\"2\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/display-video"
                      ],
                      "description": "Lists the targeting options assigned to an ad group. Inherited assigned targeting options are not included.",
                      "parameterOrder": [
                        "advertiserId",
                        "adGroupId",
                        "targetingType"
                      ],
                      "path": "v4/advertisers/{+advertiserId}/adGroups/{+adGroupId}/targetingTypes/{+targetingType}/assignedTargetingOptions"
                    },
                    "create": {
                      "parameters": {
                        "adGroupId": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^[^/]+$",
                          "format": "int64",
                          "required": true,
                          "description": "Required. The ID of the ad group the assigned targeting option will belong to."
                        },
                        "advertiserId": {
                          "pattern": "^[^/]+$",
                          "location": "path",
                          "type": "string",
                          "format": "int64",
                          "description": "Required. The ID of the advertiser the ad group belongs to.",
                          "required": true
                        },
                        "targetingType": {
                          "location": "path",
                          "type": "string",
                          "enumDescriptions": [
                            "Default value when type is not specified or is unknown in this version.",
                            "Target a channel (a custom group of related websites or apps).",
                            "Target an app category (for example, education or puzzle games).",
                            "Target a specific app (for example, Angry Birds).",
                            "Target a specific url (for example, quora.com).",
                            "Target ads during a chosen time period on a specific day.",
                            "Target ads to a specific age range (for example, 18-24).",
                            "Target ads to the specified regions on a regional location list.",
                            "Target ads to the specified points of interest on a proximity location list.",
                            "Target ads to a specific gender (for example, female or male).",
                            "Target a specific video player size for video ads.",
                            "Target user rewarded content for video ads.",
                            "Target ads to a specific parental status (for example, parent or not a parent).",
                            "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                            "Target ads in a specific content outstream position.",
                            "Target ads to a specific device type (for example, tablet or connected TV).",
                            "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                            "Target ads to specific web browsers (for example, Chrome).",
                            "Target ads to a specific household income range (for example, top 10%).",
                            "Target ads in a specific on screen position.",
                            "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                            "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                            "Filter website content by sensitive categories (for example, adult).",
                            "Target ads to a specific environment (for example, web or app).",
                            "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                            "Target ads to a specific operating system (for example, macOS).",
                            "Target ads to a specific device make or model (for example, Roku or Samsung).",
                            "Target ads to a specific keyword (for example, dog or retriever).",
                            "Target ads to a specific negative keyword list.",
                            "Target ads to a specific viewability (for example, 80% viewable).",
                            "Target ads to a specific content category (for example, arts & entertainment).",
                            "Purchase impressions from specific deals and auction packages.",
                            "Target ads to a specific language (for example, English or Japanese).",
                            "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                            "Target ads to a specific regional location (for example, a city or state).",
[...]
