{
  "id": "displayvideo:v2",
  "canonicalName": "Display Video",
  "protocol": "rest",
  "mtlsRootUrl": "https://displayvideo.mtls.googleapis.com/",
  "parameters": {
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/display-video": {
          "description": "Create, see, edit, and permanently delete your Display & Video 360 entities and reports"
        },
        "https://www.googleapis.com/auth/display-video-mediaplanning": {
          "description": "Create, see, and edit Display & Video 360 Campaign entities and see billing invoices"
        },
        "https://www.googleapis.com/auth/display-video-user-management": {
          "description": "Private Service: https://www.googleapis.com/auth/display-video-user-management"
        },
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/display-video/",
  "basePath": "",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "rootUrl": "https://displayvideo.googleapis.com/",
  "revision": "20260908",
  "version_module": true,
  "servicePath": "",
  "kind": "discovery#restDescription",
  "name": "displayvideo",
  "ownerName": "Google",
  "baseUrl": "https://displayvideo.googleapis.com/",
  "batchPath": "batch",
  "schemas": {
    "ContentDurationAssignedTargetingOptionDetails": {
      "description": "Details for content duration assigned targeting option. This will be populated in the content_duration_details field when targeting_type is `TARGETING_TYPE_CONTENT_DURATION`. Explicitly targeting all options is not supported. Remove all content duration targeting options to achieve this effect.",
      "type": "object",
      "id": "ContentDurationAssignedTargetingOptionDetails",
      "properties": {
        "targetingOptionId": {
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_CONTENT_DURATION`.",
          "type": "string"
        },
        "contentDuration": {
          "enum": [
            "CONTENT_DURATION_UNSPECIFIED",
            "CONTENT_DURATION_UNKNOWN",
            "CONTENT_DURATION_0_TO_1_MIN",
            "CONTENT_DURATION_1_TO_5_MIN",
            "CONTENT_DURATION_5_TO_15_MIN",
            "CONTENT_DURATION_15_TO_30_MIN",
            "CONTENT_DURATION_30_TO_60_MIN",
            "CONTENT_DURATION_OVER_60_MIN"
          ],
          "description": "Output only. The content duration.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Content duration is not specified in this version. This enum is a place holder for a default value and does not represent a real content duration.",
            "The content duration is unknown.",
            "Content is 0-1 minute long.",
            "Content is 1-5 minutes long.",
            "Content is 5-15 minutes long.",
            "Content is 15-30 minutes long.",
            "Content is 30-60 minutes long.",
            "Content is over 60 minutes long."
          ]
        }
      }
    },
    "BulkEditPartnerAssignedTargetingOptionsRequest": {
      "properties": {
        "deleteRequests": {
          "items": {
            "$ref": "DeleteAssignedTargetingOptionsRequest"
          },
          "description": "The assigned targeting options to delete in batch, specified as a list of `DeleteAssignedTargetingOptionsRequest`. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
          "type": "array"
        },
        "createRequests": {
          "description": "The assigned targeting options to create in batch, specified as a list of `CreateAssignedTargetingOptionsRequest`. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
          "items": {
            "$ref": "CreateAssignedTargetingOptionsRequest"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "BulkEditPartnerAssignedTargetingOptionsRequest",
      "description": "Request message for BulkEditPartnerAssignedTargetingOptions."
    },
    "FixedBidStrategy": {
      "description": "A strategy that uses a fixed bidding price.",
      "type": "object",
      "properties": {
        "bidAmountMicros": {
          "format": "int64",
          "description": "The fixed bid amount, in micros of the advertiser's currency. For insertion order entity, bid_amount_micros should be set as 0. For line item entity, bid_amount_micros must be greater than or equal to billable unit of the given currency and smaller than or equal to the upper limit 1000000000. For example, 1500000 represents 1.5 standard units of the currency.",
          "type": "string"
        }
      },
      "id": "FixedBidStrategy"
    },
    "SearchTargetingOptionsResponse": {
      "description": "Response message for SearchTargetingOptions.",
      "properties": {
        "targetingOptions": {
          "type": "array",
          "description": "The list of targeting options that match the search criteria. This list will be absent if empty.",
          "items": {
            "$ref": "TargetingOption"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `SearchTargetingOptions` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "SearchTargetingOptionsResponse",
      "type": "object"
    },
    "ParentalStatusAssignedTargetingOptionDetails": {
      "description": "Details for assigned parental status targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_PARENTAL_STATUS`.",
      "type": "object",
      "properties": {
        "parentalStatus": {
          "enumDescriptions": [
            "Default value when parental status is not specified in this version. This enum is a place holder for default value and does not represent a real parental status option.",
            "The audience is a parent.",
            "The audience is not a parent.",
            "The parental status of the audience is unknown."
          ],
          "type": "string",
          "description": "Required. The parental status of the audience.",
          "enum": [
            "PARENTAL_STATUS_UNSPECIFIED",
            "PARENTAL_STATUS_PARENT",
            "PARENTAL_STATUS_NOT_A_PARENT",
            "PARENTAL_STATUS_UNKNOWN"
          ]
        }
      },
      "id": "ParentalStatusAssignedTargetingOptionDetails"
    },
    "BumperAd": {
      "id": "BumperAd",
      "type": "object",
      "properties": {
        "commonInStreamAttribute": {
          "description": "Common ad attributes.",
          "$ref": "CommonInStreamAttribute"
        }
      },
      "description": "Details for a bumper ad."
    },
    "DeviceMakeModelAssignedTargetingOptionDetails": {
      "type": "object",
      "properties": {
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the device make and model."
        },
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_DEVICE_MAKE_MODEL`."
        }
      },
      "description": "Assigned device make and model targeting option details. This will be populated in the device_make_model_details field when targeting_type is `TARGETING_TYPE_DEVICE_MAKE_MODEL`.",
      "id": "DeviceMakeModelAssignedTargetingOptionDetails"
    },
    "ContentInstreamPositionAssignedTargetingOptionDetails": {
      "id": "ContentInstreamPositionAssignedTargetingOptionDetails",
      "type": "object",
      "properties": {
        "adType": {
          "enumDescriptions": [
            "Ad type is not specified or is unknown in this version.",
            "Display creatives, e.g. image and HTML5.",
            "Video creatives, e.g. video ads that play during streaming content in video players.",
            "Audio creatives, e.g. audio ads that play during audio content."
          ],
          "type": "string",
          "description": "Output only. The ad type to target. Only applicable to insertion order targeting and new line items supporting the specified ad type will inherit this targeting option by default. Possible values are: * `AD_TYPE_VIDEO`, the setting will be inherited by new line item when line_item_type is `LINE_ITEM_TYPE_VIDEO_DEFAULT`. * `AD_TYPE_AUDIO`, the setting will be inherited by new line item when line_item_type is `LINE_ITEM_TYPE_AUDIO_DEFAULT`.",
          "readOnly": true,
          "enum": [
            "AD_TYPE_UNSPECIFIED",
            "AD_TYPE_DISPLAY",
            "AD_TYPE_VIDEO",
            "AD_TYPE_AUDIO"
          ]
        },
        "contentInstreamPosition": {
          "description": "Required. The content instream position for video or audio ads.",
          "type": "string",
          "enumDescriptions": [
            "Content instream position is not specified in this version. This enum is a place holder for a default value and does not represent a real in stream ad position.",
            "Ads that play before streaming content.",
            "Ads that play between the beginning and end of streaming content.",
            "Ads that play at the end of streaming content.",
            "Ads instream position is unknown."
          ],
          "enum": [
            "CONTENT_INSTREAM_POSITION_UNSPECIFIED",
            "CONTENT_INSTREAM_POSITION_PRE_ROLL",
            "CONTENT_INSTREAM_POSITION_MID_ROLL",
            "CONTENT_INSTREAM_POSITION_POST_ROLL",
            "CONTENT_INSTREAM_POSITION_UNKNOWN"
          ]
        }
      },
      "description": "Assigned content instream position targeting option details. This will be populated in the content_instream_position_details field when targeting_type is `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`."
    },
    "AuditAdvertiserResponse": {
      "type": "object",
      "properties": {
        "negativelyTargetedChannelsCount": {
          "type": "string",
          "description": "The number of negatively targeted channels created under this advertiser. These negatively targeted channels count towards the limit of 5 negatively targeted channels per advertiser.",
          "format": "int64"
        },
        "negativeKeywordListsCount": {
          "type": "string",
          "description": "The number of negative keyword lists created under this advertiser. These negative keyword lists count towards the limit of 20 negative keyword lists per advertiser.",
          "format": "int64"
        },
        "usedCampaignsCount": {
          "description": "The number of ACTIVE and PAUSED campaigns under this advertiser. These campaigns count towards the limit of 9999 campaigns per advertiser.",
          "format": "int64",
          "type": "string"
        },
        "usedInsertionOrdersCount": {
          "description": "The number of ACTIVE, PAUSED and DRAFT insertion orders under this advertiser. These insertion orders count towards the limit of 9999 insertion orders per advertiser.",
          "type": "string",
          "format": "int64"
        },
        "usedLineItemsCount": {
          "format": "int64",
          "description": "The number of ACTIVE, PAUSED, and DRAFT line items under this advertiser. These line items count towards the limit of 9999 line items per advertiser.",
          "type": "string"
        },
        "channelsCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of channels created under this advertiser. These channels count towards the limit of 1000 channels per advertiser."
        },
        "adGroupCriteriaCount": {
          "format": "int64",
          "description": "The number of individual targeting options from the following targeting types that are assigned to a line item under this advertiser. These individual targeting options count towards the limit of 4500000 ad group targeting options per advertiser. Qualifying Targeting types: * Channels, URLs, apps, and collections * Demographic * Google Audiences, including Affinity, Custom Affinity, and In-market audiences * Inventory source * Keyword * Mobile app category * User lists * Video targeting * Viewability",
          "type": "string"
        },
        "campaignCriteriaCount": {
          "description": "The number of individual targeting options from the following targeting types that are assigned to a line item under this advertiser. These individual targeting options count towards the limit of 900000 campaign targeting options per advertiser. Qualifying Targeting types: * Position * Browser * Connection speed * Day and time * Device and operating system * Digital content label * Sensitive categories * Environment * Geography, including business chains and proximity * ISP * Language * Third-party verification",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Response message for AdvertiserService.AuditAdvertiser.",
      "id": "AuditAdvertiserResponse"
    },
    "UniversalAdId": {
      "properties": {
        "id": {
          "description": "Optional. The unique creative identifier.",
          "type": "string"
        },
        "registry": {
          "enum": [
            "UNIVERSAL_AD_REGISTRY_UNSPECIFIED",
            "UNIVERSAL_AD_REGISTRY_OTHER",
            "UNIVERSAL_AD_REGISTRY_AD_ID",
            "UNIVERSAL_AD_REGISTRY_CLEARCAST",
            "UNIVERSAL_AD_REGISTRY_DV360",
            "UNIVERSAL_AD_REGISTRY_CM"
          ],
          "enumDescriptions": [
            "The Universal Ad registry is unspecified or is unknown in this version.",
            "Use a custom provider to provide the Universal Ad ID.",
            "Use Ad-ID to provide the Universal Ad ID.",
            "Use clearcast.co.uk to provide the Universal Ad ID.",
            "Use Display & Video 360 to provide the Universal Ad ID.",
            "Use Campaign Manager 360 to provide the Universal Ad ID."
          ],
          "description": "Optional. The registry provides unique creative identifiers.",
          "type": "string"
        }
      },
      "id": "UniversalAdId",
      "type": "object",
      "description": "A creative identifier provided by a registry that is unique across all platforms. This is part of the VAST 4.0 standard."
    },
    "ParentEntityFilter": {
      "type": "object",
      "properties": {
        "filterType": {
          "description": "Required. Filter type used to filter fetched entities.",
          "enumDescriptions": [
            "Default value when type is unspecified or is unknown in this version.",
            "If selected, no filter will be applied to the download. Can only be used if an Advertiser is specified in CreateSdfDownloadTaskRequest.",
            "Advertiser ID. If selected, all filter IDs must be Advertiser IDs that belong to the Partner specified in CreateSdfDownloadTaskRequest.",
            "Campaign ID. If selected, all filter IDs must be Campaign IDs that belong to the Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
            "Media Product ID. If selected, all filter IDs must be Media Product IDs that belong to the Advertiser or Partner specified in CreateSdfDownloadTaskRequest. Can only be used for downloading `FILE_TYPE_MEDIA_PRODUCT`.",
            "Insertion Order ID. If selected, all filter IDs must be Insertion Order IDs that belong to the Advertiser or Partner specified in CreateSdfDownloadTaskRequest. Can only be used for downloading `FILE_TYPE_INSERTION_ORDER`, `FILE_TYPE_LINE_ITEM`, `FILE_TYPE_LINE_ITEM_QA`, `FILE_TYPE_AD_GROUP`, `FILE_TYPE_AD_GROUP_QA`, and `FILE_TYPE_AD`.",
            "Line Item ID. If selected, all filter IDs must be Line Item IDs that belong to the Advertiser or Partner specified in CreateSdfDownloadTaskRequest. Can only be used for downloading `FILE_TYPE_LINE_ITEM`, `FILE_TYPE_LINE_ITEM_QA`,`FILE_TYPE_AD_GROUP`, `FILE_TYPE_AD_GROUP_QA`, and `FILE_TYPE_AD`."
          ],
          "type": "string",
          "enum": [
            "FILTER_TYPE_UNSPECIFIED",
            "FILTER_TYPE_NONE",
            "FILTER_TYPE_ADVERTISER_ID",
            "FILTER_TYPE_CAMPAIGN_ID",
            "FILTER_TYPE_MEDIA_PRODUCT_ID",
            "FILTER_TYPE_INSERTION_ORDER_ID",
            "FILTER_TYPE_LINE_ITEM_ID"
          ]
        },
        "filterIds": {
          "description": "The IDs of the specified filter type. This is used to filter entities to fetch. If filter type is not `FILTER_TYPE_NONE`, at least one ID must be specified.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "fileType": {
          "type": "array",
          "items": {
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "FILE_TYPE_CAMPAIGN",
              "FILE_TYPE_MEDIA_PRODUCT",
              "FILE_TYPE_INSERTION_ORDER",
              "FILE_TYPE_LINE_ITEM",
              "FILE_TYPE_AD_GROUP",
              "FILE_TYPE_AD"
            ],
            "enumDescriptions": [
              "Default value when type is unspecified or is unknown in this version.",
              "Campaign.",
              "Media Product.",
              "Insertion Order.",
              "Line Item.",
              "YouTube Ad Group.",
              "YouTube Ad."
            ],
            "type": "string"
          },
          "description": "Required. File types that will be returned."
        }
      },
      "description": "A filtering option that filters on selected file types belonging to a chosen set of filter entities.",
      "id": "ParentEntityFilter"
    },
    "HouseholdIncomeAssignedTargetingOptionDetails": {
      "type": "object",
      "properties": {
        "householdIncome": {
          "enum": [
            "HOUSEHOLD_INCOME_UNSPECIFIED",
            "HOUSEHOLD_INCOME_UNKNOWN",
            "HOUSEHOLD_INCOME_LOWER_50_PERCENT",
            "HOUSEHOLD_INCOME_TOP_41_TO_50_PERCENT",
            "HOUSEHOLD_INCOME_TOP_31_TO_40_PERCENT",
            "HOUSEHOLD_INCOME_TOP_21_TO_30_PERCENT",
            "HOUSEHOLD_INCOME_TOP_11_TO_20_PERCENT",
            "HOUSEHOLD_INCOME_TOP_10_PERCENT"
          ],
          "description": "Required. The household income of the audience.",
          "type": "string",
          "enumDescriptions": [
            "Default value when household income is not specified in this version. This enum is a placeholder for default value and does not represent a real household income option.",
            "The household income of the audience is unknown.",
            "The audience is in the lower 50% of U.S. household incomes.",
            "The audience is in the top 41-50% of U.S. household incomes.",
            "The audience is in the top 31-40% of U.S. household incomes.",
            "The audience is in the top 21-30% of U.S. household incomes.",
            "The audience is in the top 11-20% of U.S. household incomes.",
            "The audience is in the top 10% of U.S. household incomes."
          ]
        }
      },
      "description": "Details for assigned household income targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_HOUSEHOLD_INCOME`.",
      "id": "HouseholdIncomeAssignedTargetingOptionDetails"
    },
    "DuplicateLineItemResponse": {
      "type": "object",
      "id": "DuplicateLineItemResponse",
      "properties": {
        "duplicateLineItemId": {
          "description": "The ID of the created line item.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleAudience": {
      "id": "GoogleAudience",
      "properties": {
        "googleAudienceId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The unique ID of the Google audience. Assigned by the system.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the Google audience. ."
        },
        "name": {
          "description": "Output only. The resource name of the google audience.",
          "type": "string",
          "readOnly": true
        },
        "googleAudienceType": {
          "enumDescriptions": [
            "Default value when type is not specified or is unknown.",
            "Affinity type Google audience.",
            "In-Market type Google audience.",
            "Installed-Apps type Google audience.",
            "New-Mobile-Devices type Google audience.",
            "Life-Event type Google audience.",
            "Extended-Demographic type Google audience."
          ],
          "description": "Output only. The type of Google audience. .",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true,
            false,
            false
          ],
          "enum": [
            "GOOGLE_AUDIENCE_TYPE_UNSPECIFIED",
            "GOOGLE_AUDIENCE_TYPE_AFFINITY",
            "GOOGLE_AUDIENCE_TYPE_IN_MARKET",
            "GOOGLE_AUDIENCE_TYPE_INSTALLED_APPS",
            "GOOGLE_AUDIENCE_TYPE_NEW_MOBILE_DEVICES",
            "GOOGLE_AUDIENCE_TYPE_LIFE_EVENT",
            "GOOGLE_AUDIENCE_TYPE_EXTENDED_DEMOGRAPHIC"
          ],
          "readOnly": true
        }
      },
      "description": "Describes a Google audience resource. Includes Google audience lists.",
      "type": "object"
    },
    "ListAssignedLocationsResponse": {
      "type": "object",
      "id": "ListAssignedLocationsResponse",
      "properties": {
        "assignedLocations": {
          "items": {
            "$ref": "AssignedLocation"
          },
          "description": "The list of assigned locations. This list will be absent if empty.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListAssignedLocations` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for AssignedLocationService.ListAssignedLocations."
    },
    "ListNegativeKeywordsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListNegativeKeywords` method to retrieve the next page of results.",
          "type": "string"
        },
        "negativeKeywords": {
          "items": {
            "$ref": "NegativeKeyword"
          },
          "description": "The list of negative keywords. This list will be absent if empty.",
          "type": "array"
        }
      },
      "description": "Response message for NegativeKeywordService.ListNegativeKeywords.",
      "type": "object",
      "id": "ListNegativeKeywordsResponse"
    },
    "VideoAdSequenceStep": {
      "properties": {
        "previousStepId": {
          "type": "string",
          "description": "The ID of the previous step. The first step does not have previous step.",
          "format": "int64"
        },
        "stepId": {
          "description": "The ID of the step.",
          "format": "int64",
          "type": "string"
        },
        "interactionType": {
          "enumDescriptions": [
            "Unspecified or unknown",
            "A paid view.",
            "Skipped by the viewer.",
            "A (viewed) ad impression.",
            "An ad impression that was not immediately skipped by the viewer, but didn't reach the billable event either."
          ],
          "type": "string",
          "description": "The interaction on the previous step that will lead the viewer to this step. The first step does not have interaction_type.",
          "enum": [
            "INTERACTION_TYPE_UNSPECIFIED",
            "INTERACTION_TYPE_PAID_VIEW",
            "INTERACTION_TYPE_SKIP",
            "INTERACTION_TYPE_IMPRESSION",
            "INTERACTION_TYPE_ENGAGED_IMPRESSION"
          ]
        },
        "adGroupId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the corresponding ad group of the step."
        }
      },
      "description": "The detail of a single step in a VideoAdSequence.",
      "id": "VideoAdSequenceStep",
      "type": "object"
    },
    "ContentStreamTypeAssignedTargetingOptionDetails": {
      "id": "ContentStreamTypeAssignedTargetingOptionDetails",
      "properties": {
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_CONTENT_STREAM_TYPE`."
        },
        "contentStreamType": {
          "enum": [
            "CONTENT_STREAM_TYPE_UNSPECIFIED",
            "CONTENT_LIVE_STREAM",
            "CONTENT_ON_DEMAND"
          ],
          "enumDescriptions": [
            "Content stream type is not specified in this version. This enum is a place holder for a default value and does not represent a real content stream type.",
            "The content is being live-streamed.",
            "The content is viewed on-demand."
          ],
          "description": "Output only. The content stream type.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Details for content stream type assigned targeting option. This will be populated in the content_stream_type_details field when targeting_type is `TARGETING_TYPE_CONTENT_STREAM_TYPE`. Explicitly targeting all options is not supported. Remove all content stream type targeting options to achieve this effect."
    },
    "NegativeKeywordListAssignedTargetingOptionDetails": {
      "id": "NegativeKeywordListAssignedTargetingOptionDetails",
      "type": "object",
      "properties": {
        "negativeKeywordListId": {
          "type": "string",
          "description": "Required. ID of the negative keyword list. Should refer to the negative_keyword_list_id field of a NegativeKeywordList resource.",
          "format": "int64"
        }
      },
      "description": "Targeting details for negative keyword list. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST`."
    },
    "ActivateManualTriggerRequest": {
      "type": "object",
      "description": "Request message for ManualTriggerService.ActivateManualTrigger.",
      "id": "ActivateManualTriggerRequest",
      "properties": {}
    },
    "TrackingFloodlightActivityConfig": {
      "id": "TrackingFloodlightActivityConfig",
      "properties": {
        "postViewLookbackWindowDays": {
          "description": "Required. The number of days after an ad has been viewed in which a conversion may be counted. Must be between 0 and 90 inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "floodlightActivityId": {
          "format": "int64",
          "type": "string",
          "description": "Required. The ID of the Floodlight activity."
        },
        "postClickLookbackWindowDays": {
          "description": "Required. The number of days after an ad has been clicked in which a conversion may be counted. Must be between 0 and 90 inclusive.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Settings that control the behavior of a single Floodlight activity config.",
      "type": "object"
    },
    "InventorySourceGroup": {
      "type": "object",
      "id": "InventorySourceGroup",
      "properties": {
        "inventorySourceGroupId": {
          "type": "string",
          "description": "Output only. The unique ID of the inventory source group. Assigned by the system.",
          "readOnly": true,
          "format": "int64"
        },
        "name": {
          "description": "Output only. The resource name of the inventory source group.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. The display name of the inventory source group. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        }
      },
      "description": "A collection of targetable inventory sources."
    },
    "ReviewStatusInfo": {
      "id": "ReviewStatusInfo",
      "type": "object",
      "description": "Review statuses for the creative.",
      "properties": {
        "creativeAndLandingPageReviewStatus": {
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The creative is approved.",
            "The creative is rejected.",
            "The creative is pending review."
          ],
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "REVIEW_STATUS_APPROVED",
            "REVIEW_STATUS_REJECTED",
            "REVIEW_STATUS_PENDING"
          ],
          "description": "Creative and landing page review status for the creative.",
          "type": "string"
        },
        "approvalStatus": {
          "type": "string",
          "description": "Represents the basic approval needed for a creative to begin serving. Summary of creative_and_landing_page_review_status and content_and_policy_review_status.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The creative is still under review and not servable.",
            "The creative has passed creative & landing page review and is servable, but is awaiting additional content & policy review.",
            "Both creative & landing page review and content & policy review are approved. The creative is servable.",
            "There is an issue with the creative that must be fixed before it can serve."
          ],
          "enum": [
            "APPROVAL_STATUS_UNSPECIFIED",
            "APPROVAL_STATUS_PENDING_NOT_SERVABLE",
            "APPROVAL_STATUS_PENDING_SERVABLE",
            "APPROVAL_STATUS_APPROVED_SERVABLE",
            "APPROVAL_STATUS_REJECTED_NOT_SERVABLE"
          ]
        },
        "exchangeReviewStatuses": {
          "type": "array",
          "description": "Exchange review statuses for the creative.",
          "items": {
            "$ref": "ExchangeReviewStatus"
          }
        },
        "contentAndPolicyReviewStatus": {
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The creative is approved.",
            "The creative is rejected.",
            "The creative is pending review."
          ],
          "type": "string",
          "description": "Content and policy review status for the creative.",
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "REVIEW_STATUS_APPROVED",
            "REVIEW_STATUS_REJECTED",
            "REVIEW_STATUS_PENDING"
          ]
        },
        "publisherReviewStatuses": {
          "type": "array",
          "items": {
            "$ref": "PublisherReviewStatus"
          },
          "description": "Publisher review statuses for the creative.",
          "deprecated": true
        }
      }
    },
    "YoutubeChannelPackAssignedTargetingOptionDetails": {
      "type": "object",
      "properties": {
        "negative": {
          "description": "Optional. Indicates if this option is being negatively targeted.",
          "type": "boolean"
        },
        "channelPackId": {
          "description": "Required. The ID of the YouTube channel pack.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "YoutubeChannelPackAssignedTargetingOptionDetails",
      "description": "Details for YouTube channel pack assigned targeting option. This will be populated in the youtube_channel_pack_details field when targeting_type is `TARGETING_TYPE_YOUTUBE_CHANNEL_PACK`."
    },
    "BulkEditPartnerAssignedTargetingOptionsResponse": {
      "type": "object",
      "properties": {
        "createdAssignedTargetingOptions": {
          "type": "array",
          "description": "The list of assigned targeting options that have been successfully created. This list will be absent if empty.",
          "items": {
            "$ref": "AssignedTargetingOption"
          }
        }
      },
      "id": "BulkEditPartnerAssignedTargetingOptionsResponse"
    },
    "CommonInStreamAttribute": {
      "id": "CommonInStreamAttribute",
      "properties": {
        "actionHeadline": {
          "type": "string",
          "description": "The headline of the call-to-action banner."
        },
        "companionBanner": {
          "$ref": "ImageAsset",
          "description": "The image which shows next to the video ad."
        },
        "finalUrl": {
          "type": "string",
          "description": "The URL address of the webpage that people reach after they click the ad."
        },
        "displayUrl": {
          "description": "The webpage address that appears with the ad.",
          "type": "string"
        },
        "actionButtonLabel": {
          "description": "The text on the call-to-action button.",
          "type": "string"
        },
        "video": {
          "$ref": "YoutubeVideoDetails",
          "description": "The YouTube video of the ad."
        },
        "trackingUrl": {
          "description": "The URL address loaded in the background for tracking purposes.",
          "type": "string"
        }
      },
      "description": "Common attributes for in-stream, non-skippable and bumper ads.",
      "type": "object"
    },
    "BulkListAdGroupAssignedTargetingOptionsResponse": {
      "id": "BulkListAdGroupAssignedTargetingOptionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent call to `BulkListAdGroupAssignedTargetingOptions` to fetch the next page of results. This token will be absent if there are no more AdGroupAssignedTargetingOption resources to return.",
          "type": "string"
        },
        "youtubeAdGroupAssignedTargetingOptions": {
          "description": "The list of wrapper objects, each providing an assigned targeting option and the youtube ad group it is assigned to. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "YoutubeAdGroupAssignedTargetingOption"
          }
        }
      },
      "type": "object"
    },
    "InventorySourceAssignedTargetingOptionDetails": {
      "type": "object",
      "description": "Targeting details for inventory source. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_INVENTORY_SOURCE`.",
      "properties": {
        "inventorySourceId": {
          "format": "int64",
          "description": "Required. ID of the inventory source. Should refer to the inventory_source_id field of an InventorySource resource.",
          "type": "string"
        }
      },
      "id": "InventorySourceAssignedTargetingOptionDetails"
    },
    "OperatingSystemTargetingOptionDetails": {
      "description": "Represents a targetable operating system. This will be populated in the operating_system_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_OPERATING_SYSTEM`.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Output only. The display name of the operating system.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "OperatingSystemTargetingOptionDetails"
    },
    "ExchangeConfigEnabledExchange": {
      "type": "object",
      "description": "An enabled exchange in the partner.",
      "id": "ExchangeConfigEnabledExchange",
      "properties": {
        "googleAdManagerBuyerNetworkId": {
          "description": "Output only. Network ID of Google Ad Manager. The field is only relevant when Google Ad Manager is the enabled exchange.",
          "type": "string",
          "readOnly": true
        },
        "exchange": {
          "description": "The enabled exchange.",
          "enum": [
            "EXCHANGE_UNSPECIFIED",
            "EXCHANGE_GOOGLE_AD_MANAGER",
            "EXCHANGE_APPNEXUS",
            "EXCHANGE_BRIGHTROLL",
            "EXCHANGE_ADFORM",
            "EXCHANGE_ADMETA",
            "EXCHANGE_ADMIXER",
            "EXCHANGE_ADSMOGO",
            "EXCHANGE_ADSWIZZ",
            "EXCHANGE_BIDSWITCH",
            "EXCHANGE_BRIGHTROLL_DISPLAY",
            "EXCHANGE_CADREON",
            "EXCHANGE_DAILYMOTION",
            "EXCHANGE_FIVE",
            "EXCHANGE_FLUCT",
            "EXCHANGE_FREEWHEEL",
            "EXCHANGE_GENIEE",
            "EXCHANGE_GUMGUM",
            "EXCHANGE_IMOBILE",
            "EXCHANGE_IBILLBOARD",
            "EXCHANGE_IMPROVE_DIGITAL",
            "EXCHANGE_INDEX",
            "EXCHANGE_KARGO",
            "EXCHANGE_MICROAD",
            "EXCHANGE_MOPUB",
            "EXCHANGE_NEND",
            "EXCHANGE_ONE_BY_AOL_DISPLAY",
            "EXCHANGE_ONE_BY_AOL_MOBILE",
            "EXCHANGE_ONE_BY_AOL_VIDEO",
            "EXCHANGE_OOYALA",
            "EXCHANGE_OPENX",
            "EXCHANGE_PERMODO",
            "EXCHANGE_PLATFORMONE",
            "EXCHANGE_PLATFORMID",
            "EXCHANGE_PUBMATIC",
            "EXCHANGE_PULSEPOINT",
            "EXCHANGE_REVENUEMAX",
            "EXCHANGE_RUBICON",
            "EXCHANGE_SMARTCLIP",
            "EXCHANGE_SMARTRTB",
            "EXCHANGE_SMARTSTREAMTV",
            "EXCHANGE_SOVRN",
            "EXCHANGE_SPOTXCHANGE",
            "EXCHANGE_STROER",
            "EXCHANGE_TEADSTV",
            "EXCHANGE_TELARIA",
            "EXCHANGE_TVN",
            "EXCHANGE_UNITED",
            "EXCHANGE_YIELDLAB",
            "EXCHANGE_YIELDMO",
            "EXCHANGE_UNRULYX",
            "EXCHANGE_OPEN8",
            "EXCHANGE_TRITON",
            "EXCHANGE_TRIPLELIFT",
            "EXCHANGE_TABOOLA",
            "EXCHANGE_INMOBI",
            "EXCHANGE_SMAATO",
            "EXCHANGE_AJA",
            "EXCHANGE_SUPERSHIP",
            "EXCHANGE_NEXSTAR_DIGITAL",
            "EXCHANGE_WAZE",
            "EXCHANGE_SOUNDCAST",
            "EXCHANGE_SHARETHROUGH",
            "EXCHANGE_FYBER",
            "EXCHANGE_RED_FOR_PUBLISHERS",
            "EXCHANGE_MEDIANET",
            "EXCHANGE_TAPJOY",
            "EXCHANGE_VISTAR",
            "EXCHANGE_DAX",
            "EXCHANGE_JCD",
            "EXCHANGE_PLACE_EXCHANGE",
            "EXCHANGE_APPLOVIN",
            "EXCHANGE_CONNATIX",
            "EXCHANGE_RESET_DIGITAL",
            "EXCHANGE_HIVESTACK",
            "EXCHANGE_DRAX",
            "EXCHANGE_APPLOVIN_GBID",
            "EXCHANGE_FYBER_GBID",
            "EXCHANGE_UNITY_GBID",
            "EXCHANGE_CHARTBOOST_GBID",
            "EXCHANGE_ADMOST_GBID",
            "EXCHANGE_TOPON_GBID",
            "EXCHANGE_NETFLIX",
            "EXCHANGE_CORE",
            "EXCHANGE_COMMERCE_GRID",
            "EXCHANGE_SPOTIFY",
            "EXCHANGE_TUBI",
            "EXCHANGE_SNAP",
            "EXCHANGE_CADENT",
            "EXCHANGE_EXTE"
          ],
          "enumDescriptions": [
            "Exchange is not specified or is unknown in this version.",
            "Google Ad Manager.",
            "AppNexus.",
            "BrightRoll Exchange for Video from Yahoo!.",
            "Adform.",
            "Admeta.",
            "Admixer.",
            "AdsMogo.",
            "AdsWizz.",
            "BidSwitch.",
            "BrightRoll Exchange for Display from Yahoo!.",
            "Cadreon.",
            "Dailymotion.",
            "Five.",
            "Fluct.",
            "FreeWheel SSP.",
            "Geniee.",
            "GumGum.",
            "i-mobile.",
            "iBILLBOARD.",
            "Improve Digital.",
            "Index Exchange.",
            "Kargo.",
            "MicroAd.",
            "MoPub.",
            "Nend.",
            "ONE by AOL: Display Market Place.",
            "ONE by AOL: Mobile.",
            "ONE by AOL: Video.",
            "Ooyala.",
            "OpenX.",
            "Permodo.",
            "Platform One.",
            "PlatformId.",
            "PubMatic.",
            "PulsePoint.",
            "RevenueMax.",
            "Rubicon.",
            "SmartClip.",
            "SmartRTB+.",
            "SmartstreamTv.",
            "Sovrn.",
            "SpotXchange.",
            "Ströer SSP.",
            "TeadsTv.",
            "Telaria.",
            "TVN.",
            "United.",
            "Yieldlab.",
            "Yieldmo.",
            "UnrulyX.",
            "Open8.",
            "Triton.",
            "TripleLift.",
            "Taboola.",
            "InMobi.",
            "Smaato.",
            "Aja.",
            "Supership.",
            "Nexstar Digital.",
            "Waze.",
            "SoundCast.",
            "Sharethrough.",
            "Fyber.",
            "Red For Publishers.",
            "Media.net.",
            "Tapjoy.",
            "Vistar.",
            "DAX.",
            "JCD.",
            "Place Exchange.",
            "AppLovin.",
            "Connatix.",
            "Reset Digital.",
            "Hivestack.",
            "Drax.",
            "AppLovin MAX.",
            "DT Fairbid.",
            "Unity LevelPlay.",
            "Chartboost Mediation.",
            "AdMost.",
            "TopOn.",
            "Netflix.",
            "Core.",
            "Commerce Grid.",
            "Spotify.",
            "Tubi.",
            "Snap.",
            "Cadent.",
            "Exte."
          ],
          "type": "string"
        },
        "seatId": {
          "readOnly": true,
          "description": "Output only. Seat ID of the enabled exchange.",
          "type": "string"
        },
        "googleAdManagerAgencyId": {
          "readOnly": true,
          "description": "Output only. Agency ID of Google Ad Manager. The field is only relevant when Google Ad Manager is the enabled exchange.",
          "type": "string"
        }
      }
    },
    "ListFloodlightActivitiesResponse": {
      "id": "ListFloodlightActivitiesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListFloodlightActivities` method to retrieve the next page of results."
        },
        "floodlightActivities": {
          "description": "The list of Floodlight activities. This list will be absent if empty.",
          "items": {
            "$ref": "FloodlightActivity"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "YoutubeAndPartnersThirdPartyMeasurementSettings": {
      "type": "object",
      "id": "YoutubeAndPartnersThirdPartyMeasurementSettings",
      "description": "Settings that control what third-party vendors are measuring specific line item metrics.",
      "properties": {
        "brandLiftVendorConfigs": {
          "items": {
            "$ref": "ThirdPartyVendorConfig"
          },
          "description": "The third-party vendors measuring brand lift. The following third-party vendors are applicable: * `THIRD_PARTY_VENDOR_DYNATA` * `THIRD_PARTY_VENDOR_KANTAR`",
          "type": "array"
        },
        "viewabilityVendorConfigs": {
          "items": {
            "$ref": "ThirdPartyVendorConfig"
          },
          "type": "array",
          "description": "The third-party vendors measuring viewability. The following third-party vendors are applicable: * `THIRD_PARTY_VENDOR_MOAT` * `THIRD_PARTY_VENDOR_DOUBLE_VERIFY` * `THIRD_PARTY_VENDOR_INTEGRAL_AD_SCIENCE` * `THIRD_PARTY_VENDOR_COMSCORE` * `THIRD_PARTY_VENDOR_TELEMETRY` * `THIRD_PARTY_VENDOR_MEETRICS`"
        },
        "reachVendorConfigs": {
          "description": "The third-party vendors measuring reach. The following third-party vendors are applicable: * `THIRD_PARTY_VENDOR_NIELSEN` * `THIRD_PARTY_VENDOR_COMSCORE` * `THIRD_PARTY_VENDOR_KANTAR`",
          "items": {
            "$ref": "ThirdPartyVendorConfig"
          },
          "type": "array"
        },
        "brandSafetyVendorConfigs": {
          "items": {
            "$ref": "ThirdPartyVendorConfig"
          },
          "type": "array",
          "description": "The third-party vendors measuring brand safety. The following third-party vendors are applicable: * `THIRD_PARTY_VENDOR_ZEFR` * `THIRD_PARTY_VENDOR_DOUBLE_VERIFY` * `THIRD_PARTY_VENDOR_INTEGRAL_AD_SCIENCE`"
        }
      }
    },
    "CustomBiddingScriptRef": {
      "id": "CustomBiddingScriptRef",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "A resource name to be used in media.download to Download the script files. Or media.upload to Upload the script files. Resource names have the format `customBiddingAlgorithms/{custom_bidding_algorithm_id}/scriptRef/{ref_id}`."
        }
      },
      "description": "The reference to the uploaded custom bidding script file.",
      "type": "object"
    },
    "ContentGenreTargetingOptionDetails": {
      "id": "ContentGenreTargetingOptionDetails",
      "description": "Represents a targetable content genre. This will be populated in the content_genre_details field when targeting_type is `TARGETING_TYPE_CONTENT_GENRE`.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the content genre",
          "readOnly": true
        }
      }
    },
    "ListCreativesResponse": {
      "type": "object",
      "id": "ListCreativesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCreativesRequest` method to retrieve the next page of results. If this field is null, it means this is the last page."
        },
        "creatives": {
          "description": "The list of creatives. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "Creative"
          }
        }
      }
    },
    "BulkUpdateLineItemsRequest": {
      "description": "Request message for LineItemService.BulkUpdateLineItems.",
      "type": "object",
      "id": "BulkUpdateLineItemsRequest",
      "properties": {
        "targetLineItem": {
          "description": "Required. A line item object containing the fields to be updated and the new values to assign to all line items specified in line_item_ids.\"",
          "$ref": "LineItem"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. A field mask identifying which fields to update. Only the following fields are currently supported: * entityStatus * containsEuPoliticalAds"
        },
        "lineItemIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Required. IDs of line items to update."
        }
      }
    },
    "BulkEditNegativeKeywordsRequest": {
      "id": "BulkEditNegativeKeywordsRequest",
      "description": "Request message for NegativeKeywordService.BulkEditNegativeKeywords.",
      "type": "object",
      "properties": {
        "deletedNegativeKeywords": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The negative keywords to delete in batch, specified as a list of keyword_values."
        },
        "createdNegativeKeywords": {
          "type": "array",
          "items": {
            "$ref": "NegativeKeyword"
          },
          "description": "The negative keywords to create in batch, specified as a list of NegativeKeywords."
        }
      }
    },
    "BusinessChainAssignedTargetingOptionDetails": {
      "description": "Details for assigned Business chain targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_BUSINESS_CHAIN`.",
      "id": "BusinessChainAssignedTargetingOptionDetails",
      "properties": {
        "proximityRadiusUnit": {
          "description": "Required. The unit of distance by which the targeting radius is measured.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Miles.",
            "Kilometers."
          ],
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ],
          "type": "string"
        },
        "proximityRadiusAmount": {
          "type": "number",
          "format": "double",
          "description": "Required. The radius of the area around the business chain that will be targeted. The units of the radius are specified by proximity_radius_unit. Must be 1 to 800 if unit is `DISTANCE_UNIT_KILOMETERS` and 1 to 500 if unit is `DISTANCE_UNIT_MILES`. The minimum increment for both cases is 0.1. Inputs will be rounded to the nearest acceptable value if it is too granular, e.g. 15.57 will become 15.6."
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_BUSINESS_CHAIN`. Accepted business chain targeting option IDs can be retrieved using SearchTargetingOptions.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of a business chain, e.g. \"KFC\", \"Chase Bank\"."
        }
      },
      "type": "object"
    },
    "ReplaceSitesResponse": {
      "id": "ReplaceSitesResponse",
      "properties": {
        "sites": {
          "type": "array",
          "description": "The list of sites in the channel after replacing.",
          "items": {
            "$ref": "Site"
          }
        }
      },
      "type": "object",
      "description": "Response message for SiteService.ReplaceSites."
    },
    "BulkEditAdvertiserAssignedTargetingOptionsRequest": {
      "description": "Request message for BulkEditAdvertiserAssignedTargetingOptions.",
      "properties": {
        "deleteRequests": {
          "items": {
            "$ref": "DeleteAssignedTargetingOptionsRequest"
          },
          "description": "The assigned targeting options to delete in batch, specified as a list of `DeleteAssignedTargetingOptionsRequest`. Supported targeting types: * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_KEYWORD`",
          "type": "array"
        },
        "createRequests": {
          "items": {
            "$ref": "CreateAssignedTargetingOptionsRequest"
          },
          "description": "The assigned targeting options to create in batch, specified as a list of `CreateAssignedTargetingOptionsRequest`. Supported targeting types: * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_KEYWORD`",
          "type": "array"
        }
      },
      "id": "BulkEditAdvertiserAssignedTargetingOptionsRequest",
      "type": "object"
    },
    "ConversionCountingConfig": {
      "description": "Settings that control how conversions are counted. All post-click conversions will be counted. A percentage value can be set for post-view conversions counting.",
      "properties": {
        "postViewCountPercentageMillis": {
          "format": "int64",
          "type": "string",
          "description": "The percentage of post-view conversions to count, in millis (1/1000 of a percent). Must be between 0 and 100000 inclusive. For example, to track 50% of the post-click conversions, set a value of 50000."
        },
        "floodlightActivityConfigs": {
          "type": "array",
          "items": {
            "$ref": "TrackingFloodlightActivityConfig"
          },
          "description": "The Floodlight activity configs used to track conversions. The number of conversions counted is the sum of all of the conversions counted by all of the Floodlight activity IDs specified in this field. This field can't be updated if a custom bidding algorithm is assigned to the line item. If you set this field and assign a custom bidding algorithm in the same request, the floodlight activities must match the ones used by the custom bidding algorithm."
        },
        "primaryAttributionModelId": {
          "description": "Optional. The attribution model to use for conversion measurement. This attribution model will determine how conversions are counted. The Primary model can be set by you for a floodlight config or group. More details [here](https://support.google.com/displayvideo/answer/7409983). Only applicable to Demand Gen line items.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ConversionCountingConfig"
    },
    "CreateAssetResponse": {
      "type": "object",
      "description": "A response message for CreateAsset.",
      "id": "CreateAssetResponse",
      "properties": {
        "asset": {
          "$ref": "Asset",
          "description": "The uploaded asset, if successful."
        }
      }
    },
    "AdvertiserCreativeConfig": {
      "properties": {
        "dynamicCreativeEnabled": {
          "description": "Whether or not the advertiser is enabled for dynamic creatives.",
          "type": "boolean"
        },
        "obaComplianceDisabled": {
          "description": "Whether or not to disable Google's About this Ad feature that adds badging (to identify the content as an ad) and transparency information (on interaction with About this Ad) to your ads for Online Behavioral Advertising (OBA) and regulatory requirements. About this Ad gives users greater control over the ads they see and helps you explain why they're seeing your ad. [Learn more](//support.google.com/displayvideo/answer/14315795). If you choose to set this field to `true`, note that ads served through Display & Video 360 must comply to the following: * Be Online Behavioral Advertising (OBA) compliant, as per your contract with Google Marketing Platform. * In the European Economic Area (EEA), include transparency information and a mechanism for users to report illegal content in ads. If using an alternative ad badging, transparency, and reporting solution, you must ensure it includes the required transparency information and illegal content flagging mechanism and that you notify Google of any illegal content reports using the appropriate [form](//support.google.com/legal/troubleshooter/1114905?sjid=6787484030557261960-EU#ts=2981967%2C2982031%2C12980091).",
          "type": "boolean"
        },
        "videoCreativeDataSharingAuthorized": {
          "type": "boolean",
          "description": "By setting this field to `true`, you, on behalf of your company, authorize Google to use video creatives associated with this Display & Video 360 advertiser to provide reporting and features related to the advertiser's television campaigns. Applicable only when the advertiser has a CM360 hybrid ad server configuration."
        },
        "iasClientId": {
          "description": "An ID for configuring campaign monitoring provided by Integral Ad Service (IAS). The DV360 system will append an IAS \"Campaign Monitor\" tag containing this ID to the creative tag.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "AdvertiserCreativeConfig",
      "description": "Creatives related settings of an advertiser.",
      "type": "object"
    },
    "Transcode": {
      "id": "Transcode",
      "type": "object",
      "properties": {
        "transcoded": {
          "description": "Optional. Indicates if the transcoding was successful.",
          "type": "boolean"
        },
        "audioSampleRateHz": {
          "type": "string",
          "description": "Optional. The sample rate for the audio stream of the transcoded video, or the sample rate for the transcoded audio, in hertz.",
          "format": "int64"
        },
        "mimeType": {
          "type": "string",
          "description": "Optional. The MIME type of the transcoded file."
        },
        "audioBitRateKbps": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The bit rate for the audio stream of the transcoded video, or the bit rate for the transcoded audio, in kilobits per second."
        },
        "name": {
          "description": "Optional. The name of the transcoded file.",
          "type": "string"
        },
        "frameRate": {
          "description": "Optional. The frame rate of the transcoded video, in frames per second.",
          "format": "float",
          "type": "number"
        },
        "dimensions": {
          "$ref": "Dimensions",
          "description": "Optional. The dimensions of the transcoded video."
        },
        "bitRateKbps": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The transcoding bit rate of the transcoded video, in kilobits per second."
        },
        "fileSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The size of the transcoded file, in bytes."
        }
      },
      "description": "Represents information about the transcoded audio or video file."
    },
    "GeoRegionTargetingOptionDetails": {
      "id": "GeoRegionTargetingOptionDetails",
      "description": "Represents a targetable geographic region. This will be populated in the geo_region_details field when targeting_type is `TARGETING_TYPE_GEO_REGION`.",
      "properties": {
        "geoRegionType": {
          "enum": [
            "GEO_REGION_TYPE_UNKNOWN",
            "GEO_REGION_TYPE_OTHER",
            "GEO_REGION_TYPE_COUNTRY",
            "GEO_REGION_TYPE_REGION",
            "GEO_REGION_TYPE_TERRITORY",
            "GEO_REGION_TYPE_PROVINCE",
            "GEO_REGION_TYPE_STATE",
            "GEO_REGION_TYPE_PREFECTURE",
            "GEO_REGION_TYPE_GOVERNORATE",
            "GEO_REGION_TYPE_CANTON",
            "GEO_REGION_TYPE_UNION_TERRITORY",
            "GEO_REGION_TYPE_AUTONOMOUS_COMMUNITY",
            "GEO_REGION_TYPE_DMA_REGION",
            "GEO_REGION_TYPE_METRO",
            "GEO_REGION_TYPE_CONGRESSIONAL_DISTRICT",
            "GEO_REGION_TYPE_COUNTY",
            "GEO_REGION_TYPE_MUNICIPALITY",
            "GEO_REGION_TYPE_CITY",
            "GEO_REGION_TYPE_POSTAL_CODE",
            "GEO_REGION_TYPE_DEPARTMENT",
            "GEO_REGION_TYPE_AIRPORT",
            "GEO_REGION_TYPE_TV_REGION",
            "GEO_REGION_TYPE_OKRUG",
            "GEO_REGION_TYPE_BOROUGH",
            "GEO_REGION_TYPE_CITY_REGION",
            "GEO_REGION_TYPE_ARRONDISSEMENT",
            "GEO_REGION_TYPE_NEIGHBORHOOD",
            "GEO_REGION_TYPE_UNIVERSITY",
            "GEO_REGION_TYPE_DISTRICT",
            "GEO_REGION_TYPE_NATIONAL_PARK",
            "GEO_REGION_TYPE_BARRIO",
            "GEO_REGION_TYPE_SUB_WARD",
            "GEO_REGION_TYPE_MUNICIPALITY_DISTRICT",
            "GEO_REGION_TYPE_SUB_DISTRICT",
            "GEO_REGION_TYPE_QUARTER",
            "GEO_REGION_TYPE_DIVISION",
            "GEO_REGION_TYPE_COMMUNE",
            "GEO_REGION_TYPE_COLLOQUIAL_AREA",
            "GEO_REGION_TYPE_POST_TOWN",
            "GEO_REGION_TYPE_WARD",
            "GEO_REGION_TYPE_TOWN",
            "GEO_REGION_TYPE_VILLAGE",
            "GEO_REGION_TYPE_CITY_DISTRICT",
            "GEO_REGION_TYPE_SUBURB",
            "GEO_REGION_TYPE_HAMLET",
            "GEO_REGION_TYPE_MUNICIPAL_DISTRICT",
            "GEO_REGION_TYPE_COMMUNITY",
            "GEO_REGION_TYPE_TOWNSHIP",
            "GEO_REGION_TYPE_URBAN_DISTRICT",
            "GEO_REGION_TYPE_RESIDENTIAL_AREA",
            "GEO_REGION_TYPE_INDEPENDENT_CITY",
            "GEO_REGION_TYPE_SECTOR",
            "GEO_REGION_TYPE_AREA",
            "GEO_REGION_TYPE_ESTATE",
            "GEO_REGION_TYPE_PARISH",
            "GEO_REGION_TYPE_SETTLEMENT",
            "GEO_REGION_TYPE_ZONE",
            "GEO_REGION_TYPE_COLONY",
            "GEO_REGION_TYPE_INDUSTRIAL_AREA",
            "GEO_REGION_TYPE_PROVINCIAL_CITY",
            "GEO_REGION_TYPE_RURAL_DISTRICT"
          ],
          "enumDescriptions": [
            "The geographic region type is unknown.",
            "The geographic region type is other.",
            "The geographic region is a country.",
            "The geographic region type is region.",
            "The geographic region is a territory.",
            "The geographic region is a province.",
            "The geographic region is a state.",
            "The geographic region is a prefecture.",
            "The geographic region is a governorate.",
            "The geographic region is a canton.",
            "The geographic region is a union territory.",
            "The geographic region is an autonomous community.",
            "The geographic region is a designated market area (DMA) region.",
            "The geographic region type is metro.",
            "The geographic region is a congressional district.",
            "The geographic region is a county.",
            "The geographic region is a municipality.",
            "The geographic region is a city.",
            "The geographic region targeting type is postal code.",
            "The geographic region targeting type is department.",
            "The geographic region is an airport.",
            "The geographic region is a TV region.",
            "The geographic region is an okrug.",
            "The geographic region is a borough.",
            "The geographic region is a city region.",
            "The geographic region is an arrondissement.",
            "The geographic region is a neighborhood.",
            "The geographic region is a university.",
            "The geographic region is a district.",
            "The geographic region is a national park.",
            "The geographic region is a barrio.",
            "The geographic region is a sub ward.",
            "The geographic region is a municipality district.",
            "The geographic region is a sub district.",
            "The geographic region is a quarter.",
            "The geographic region is a division.",
            "The geographic region is a commune.",
            "The geographic region is a colloquial area.",
            "The geographic region is a post town.",
            "The geographic region is a ward.",
            "The geographic region is a town.",
            "The geographic region is a village.",
            "The geographic region is a city district.",
            "The geographic region is a suburb.",
            "The geographic region is a hamlet.",
            "The geographic region is a municipal district.",
            "The geographic region is a community.",
            "The geographic region is a township.",
            "The geographic region is an urban district.",
            "The geographic region is a residential area.",
            "The geographic region is an independent city.",
            "The geographic region is a sector.",
            "The geographic region is an area.",
            "The geographic region is an estate.",
            "The geographic region is a parish.",
            "The geographic region is a settlement.",
            "The geographic region is a zone.",
            "The geographic region is a colony.",
            "The geographic region is an industrial area.",
            "The geographic region is a provincial city.",
            "The geographic region is a rural district."
          ],
          "description": "Output only. The type of geographic region targeting.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of the geographic region (e.g., \"Ontario, Canada\").",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContentInstreamPositionTargetingOptionDetails": {
      "id": "ContentInstreamPositionTargetingOptionDetails",
      "description": "Represents a targetable content instream position, which could be used by video and audio ads. This will be populated in the content_instream_position_details field when targeting_type is `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`.",
      "properties": {
        "contentInstreamPosition": {
          "type": "string",
          "enumDescriptions": [
            "Content instream position is not specified in this version. This enum is a place holder for a default value and does not represent a real in stream ad position.",
            "Ads that play before streaming content.",
            "Ads that play between the beginning and end of streaming content.",
            "Ads that play at the end of streaming content.",
            "Ads instream position is unknown."
          ],
          "description": "Output only. The content instream position.",
          "readOnly": true,
          "enum": [
            "CONTENT_INSTREAM_POSITION_UNSPECIFIED",
            "CONTENT_INSTREAM_POSITION_PRE_ROLL",
            "CONTENT_INSTREAM_POSITION_MID_ROLL",
            "CONTENT_INSTREAM_POSITION_POST_ROLL",
            "CONTENT_INSTREAM_POSITION_UNKNOWN"
          ]
        }
      },
      "type": "object"
    },
    "AdvertiserGeneralConfig": {
      "type": "object",
      "id": "AdvertiserGeneralConfig",
      "description": "General settings of an advertiser.",
      "properties": {
        "timeZone": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The standard TZ database name of the advertiser's time zone. For example, `America/New_York`. See more at: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones For CM360 hybrid advertisers, the time zone is the same as that of the associated CM360 account; for third-party only advertisers, the time zone is the same as that of the parent partner."
        },
        "domainUrl": {
          "description": "Required. The domain URL of the advertiser's primary website. The system will send this information to publishers that require website URL to associate a campaign with an advertiser. Provide a URL with no path or query string, beginning with `http:` or `https:`. For example, http://www.example.com",
          "type": "string"
        },
        "currencyCode": {
          "description": "Required. Immutable. Advertiser's currency in ISO 4217 format. Accepted codes and the currencies they represent are: Currency Code : Currency Name * `ARS` : Argentine Peso * `AUD` : Australian Dollar * `BRL` : Brazilian Real * `CAD` : Canadian Dollar * `CHF` : Swiss Franc * `CLP` : Chilean Peso * `CNY` : Chinese Yuan * `COP` : Colombian Peso * `CZK` : Czech Koruna * `DKK` : Danish Krone * `EGP` : Egyption Pound * `EUR` : Euro * `GBP` : British Pound * `HKD` : Hong Kong Dollar * `HUF` : Hungarian Forint * `IDR` : Indonesian Rupiah * `ILS` : Israeli Shekel * `INR` : Indian Rupee * `JPY` : Japanese Yen * `KRW` : South Korean Won * `MXN` : Mexican Pesos * `MYR` : Malaysian Ringgit * `NGN` : Nigerian Naira * `NOK` : Norwegian Krone * `NZD` : New Zealand Dollar * `PEN` : Peruvian Nuevo Sol * `PLN` : Polish Zloty * `RON` : New Romanian Leu * `RUB` : Russian Ruble * `SEK` : Swedish Krona * `TRY` : Turkish Lira * `TWD` : New Taiwan Dollar * `USD` : US Dollar * `ZAR` : South African Rand",
          "type": "string"
        }
      }
    },
    "YoutubeAndPartnersBiddingStrategy": {
      "type": "object",
      "description": "Settings that control the bid strategy for YouTube and Partners resources.",
      "id": "YoutubeAndPartnersBiddingStrategy",
      "properties": {
        "value": {
          "format": "int64",
          "description": "The value used by the bidding strategy. When the bidding strategy is assigned at the line item level, this field is only applicable for the following strategy types: * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_CPA` * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_ROAS` When the bidding strategy is assigned at the ad group level, this field is only applicable for the following strategy types: * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MANUAL_CPM` * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MANUAL_CPV` * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_CPA` * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_CPM` * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_RESERVE_CPM` * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_ROAS` If not using an applicable strategy, the value of this field will be 0.",
          "type": "string"
        },
        "adGroupEffectiveTargetCpaValue": {
          "format": "int64",
          "description": "Output only. The effective target CPA for ad group, in micros of advertiser's currency.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "enum": [
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_UNSPECIFIED",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MANUAL_CPV",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MANUAL_CPM",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_CPA",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_CPM",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_RESERVE_CPM",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MAXIMIZE_LIFT",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MAXIMIZE_CONVERSIONS",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_CPV",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_ROAS",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MAXIMIZE_CONVERSION_VALUE"
          ],
          "enumDescriptions": [
            "Type is not specified or unknown.",
            "A bidding strategy that pays a configurable amount per video view.",
            "A bidding strategy that pays a configurable amount per impression.",
            "A bidding strategy that automatically optimizes conversions per dollar.",
            "A bidding strategy that pays a configurable amount per impression.",
            "A bidding strategy for YouTube Instant Reserve line items that pays a fixed amount per impression.",
            "An automated bidding strategy that sets bids to achieve maximum lift.",
            "A bidding strategy that automatically maximizes number of conversions given a daily budget.",
            "A bidding strategy that automatically optimizes cost per video view.",
            "A bidding strategy that automatically maximizes revenue while averaging a specific target Return On Ad Spend (ROAS).",
            "A bidding strategy that automatically sets bids to maximize revenue while spending your budget."
          ],
          "type": "string",
          "description": "The type of the bidding strategy."
        },
        "adGroupEffectiveTargetCpaSource": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Source of the effective target CPA value for ad group.",
          "enum": [
            "BIDDING_SOURCE_UNSPECIFIED",
            "BIDDING_SOURCE_LINE_ITEM",
            "BIDDING_SOURCE_AD_GROUP"
          ],
          "enumDescriptions": [
            "Bidding source is not specified or unknown.",
            "Bidding value is inherited from the line item.",
            "Bidding value is defined in the ad group."
          ]
        }
      }
    },
    "BulkEditAssignedTargetingOptionsResponse": {
      "type": "object",
      "id": "BulkEditAssignedTargetingOptionsResponse",
      "properties": {
        "errors": {
          "type": "array",
          "description": "The error information for each line item that failed to update.",
          "items": {
            "$ref": "Status"
          }
        },
        "updatedLineItemIds": {
          "description": "Output only. The IDs of the line items which successfully updated.",
          "readOnly": true,
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "failedLineItemIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Output only. The IDs of the line items which failed.",
          "type": "array",
          "readOnly": true
        }
      }
    },
    "InsertionOrder": {
      "type": "object",
      "description": "A single insertion order.",
      "id": "InsertionOrder",
      "properties": {
        "reservationType": {
          "type": "string",
          "enumDescriptions": [
            "Reservation type value is not specified or is unknown in this version.",
            "Not created through a guaranteed inventory source.",
            "Created through a programmatic guaranteed inventory source.",
            "Created through a tag guaranteed inventory source.",
            "Created through a Petra inventory source. Only applicable to YouTube and Partners line items.",
            "Created with an instant quote. Only applicable to YouTube and partners line items."
          ],
          "readOnly": true,
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "RESERVATION_TYPE_NOT_GUARANTEED",
            "RESERVATION_TYPE_PROGRAMMATIC_GUARANTEED",
            "RESERVATION_TYPE_TAG_GUARANTEED",
            "RESERVATION_TYPE_PETRA_VIRAL",
            "RESERVATION_TYPE_INSTANT_RESERVE"
          ],
          "description": "Output only. The reservation type of the insertion order."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the insertion order."
        },
        "insertionOrderType": {
          "description": "Optional. The type of insertion order. If this field is unspecified in creation, the value defaults to `RTB`.",
          "type": "string",
          "enumDescriptions": [
            "Insertion order type is not specified or is unknown.",
            "Real-time bidding.",
            "Over-the-top."
          ],
          "enum": [
            "INSERTION_ORDER_TYPE_UNSPECIFIED",
            "RTB",
            "OVER_THE_TOP"
          ]
        },
        "pacing": {
          "description": "Required. The budget spending speed setting of the insertion order. pacing_type `PACING_TYPE_ASAP` is not compatible with pacing_period `PACING_PERIOD_FLIGHT`.",
          "$ref": "Pacing"
        },
        "frequencyCap": {
          "$ref": "FrequencyCap",
          "description": "Required. The frequency capping setting of the insertion order."
        },
        "partnerCosts": {
          "type": "array",
          "items": {
            "$ref": "PartnerCost"
          },
          "description": "Optional. The partner costs associated with the insertion order. If absent or empty in CreateInsertionOrder method, the newly created insertion order will inherit partner costs from the partner settings."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the insertion order was last updated. Assigned by the system."
        },
        "advertiserId": {
          "format": "int64",
          "description": "Output only. The unique ID of the advertiser the insertion order belongs to.",
          "readOnly": true,
          "type": "string"
        },
        "billableOutcome": {
          "enumDeprecated": [
            false,
            false,
            true,
            true
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified billable outcome.",
            "Pay per impressions.",
            "Pay per click.",
            "Pay per active view."
          ],
          "enum": [
            "BILLABLE_OUTCOME_UNSPECIFIED",
            "BILLABLE_OUTCOME_PAY_PER_IMPRESSION",
            "BILLABLE_OUTCOME_PAY_PER_CLICK",
            "BILLABLE_OUTCOME_PAY_PER_VIEWABLE_IMPRESSION"
          ],
          "description": "Immutable. The billable outcome of the insertion order. Outcome based buying is deprecated. `BILLABLE_OUTCOME_PAY_PER_IMPRESSION` is the only valid value."
        },
        "budget": {
          "$ref": "InsertionOrderBudget",
          "description": "Required. The budget allocation settings of the insertion order."
        },
        "performanceGoal": {
          "description": "Required. Performance goal of the insertion order.",
          "$ref": "PerformanceGoal"
        },
        "campaignId": {
          "type": "string",
          "description": "Required. Immutable. The unique ID of the campaign that the insertion order belongs to.",
          "format": "int64"
        },
        "displayName": {
          "description": "Required. The display name of the insertion order. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "integrationDetails": {
          "description": "Optional. Additional integration details of the insertion order.",
          "$ref": "IntegrationDetails"
        },
        "entityStatus": {
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "type": "string",
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "description": "Required. Controls whether or not the insertion order can spend its budget and bid on inventory. * For CreateInsertionOrder method, only `ENTITY_STATUS_DRAFT` is allowed. To activate an insertion order, use UpdateInsertionOrder method and update the status to `ENTITY_STATUS_ACTIVE` after creation. * An insertion order cannot be changed back to `ENTITY_STATUS_DRAFT` status from any other status. * An insertion order cannot be set to `ENTITY_STATUS_ACTIVE` if its parent campaign is not active."
        },
        "bidStrategy": {
          "$ref": "BiddingStrategy",
          "description": "Optional. The bidding strategy of the insertion order. By default, fixed_bid is set. If the budget field automationType is set to `INSERTION_ORDER_AUTOMATION_TYPE_BUDGET` or `INSERTION_ORDER_AUTOMATION_TYPE_BID_BUDGET`, the insertion order will impose this bidding strategy on its line items. If an imposed bidding strategy is not compatible with a line item's enableOptimizedTargeting setting, the optimized targeting setting will be updated."
        },
        "insertionOrderId": {
          "format": "int64",
          "description": "Output only. The unique ID of the insertion order. Assigned by the system.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListCombinedAudiencesResponse": {
      "type": "object",
      "properties": {
        "combinedAudiences": {
          "type": "array",
          "description": "The list of combined audiences. This list will be absent if empty.",
          "items": {
            "$ref": "CombinedAudience"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCombinedAudiences` method to retrieve the next page of results."
        }
      },
      "id": "ListCombinedAudiencesResponse"
    },
    "AudioAd": {
      "id": "AudioAd",
      "properties": {
        "displayUrl": {
          "description": "The webpage address that appears with the ad.",
          "type": "string"
        },
        "finalUrl": {
          "type": "string",
          "description": "The URL address of the webpage that people reach after they click the ad."
        },
        "trackingUrl": {
          "type": "string",
          "description": "The URL address loaded in the background for tracking purposes."
        },
        "video": {
          "description": "The YouTube video of the ad.",
          "$ref": "YoutubeVideoDetails"
        }
      },
      "type": "object",
      "description": "Details for an audio ad."
    },
    "DoubleVerify": {
      "id": "DoubleVerify",
      "properties": {
        "avoidedAgeRatings": {
          "description": "Avoid bidding on apps with the age rating.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This enum is only a placeholder and it doesn't specify any age rating options.",
              "Apps with unknown age rating.",
              "Apps rated for Everyone (4+).",
              "Apps rated for Everyone (9+).",
              "Apps rated for Teens (12+).",
              "Apps rated for Mature (17+).",
              "Apps rated for Adults Only (18+)."
            ],
            "enum": [
              "AGE_RATING_UNSPECIFIED",
              "APP_AGE_RATE_UNKNOWN",
              "APP_AGE_RATE_4_PLUS",
              "APP_AGE_RATE_9_PLUS",
              "APP_AGE_RATE_12_PLUS",
              "APP_AGE_RATE_17_PLUS",
              "APP_AGE_RATE_18_PLUS"
            ]
          }
        },
        "customSegmentId": {
          "format": "int64",
          "type": "string",
          "description": "The custom segment ID provided by DoubleVerify. The ID must start with \"51\" and consist of eight digits. Custom segment ID cannot be specified along with any of the following fields: * brand_safety_categories * avoided_age_ratings * app_star_rating * fraud_invalid_traffic"
        },
        "brandSafetyCategories": {
          "description": "DV Brand Safety Controls.",
          "$ref": "DoubleVerifyBrandSafetyCategories"
        },
        "fraudInvalidTraffic": {
          "description": "Avoid Sites and Apps with historical Fraud & IVT Rates.",
          "$ref": "DoubleVerifyFraudInvalidTraffic"
        },
        "videoViewability": {
          "description": "Video viewability settings (applicable to video line items only).",
          "$ref": "DoubleVerifyVideoViewability"
        },
        "appStarRating": {
          "$ref": "DoubleVerifyAppStarRating",
          "description": "Avoid bidding on apps with the star ratings."
        },
        "displayViewability": {
          "description": "Display viewability settings (applicable to display line items only).",
          "$ref": "DoubleVerifyDisplayViewability"
        }
      },
      "description": "Details of DoubleVerify settings.",
      "type": "object"
    },
    "Advertiser": {
      "description": "A single advertiser in Display & Video 360 (DV360).",
      "properties": {
        "servingConfig": {
          "description": "Targeting settings related to ad serving of the advertiser.",
          "$ref": "AdvertiserTargetingConfig"
        },
        "partnerId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Immutable. The unique ID of the partner that the advertiser belongs to."
        },
        "advertiserId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The unique ID of the advertiser. Assigned by the system.",
          "type": "string"
        },
        "integrationDetails": {
          "$ref": "IntegrationDetails",
          "description": "Integration details of the advertiser. Only integrationCode is currently applicable to advertiser. Other fields of IntegrationDetails are not supported and will be ignored if provided."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the advertiser."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the advertiser. Must be UTF-8 encoded with a maximum size of 240 bytes."
        },
        "defaultLogoAssetId": {
          "type": "string",
          "description": "Optional. The asset ID of the default logo image for the advertiser. This is the asset ID that will be used by YouTube and Demand ads under this advertiser if a logo asset is not provided. You must use advertisers.adAssets.upload to upload this asset using the API.",
          "format": "int64"
        },
        "containsEuPoliticalAds": {
          "enum": [
            "EU_POLITICAL_ADVERTISING_STATUS_UNKNOWN",
            "CONTAINS_EU_POLITICAL_ADVERTISING",
            "DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING"
          ],
          "description": "Optional. Whether this advertiser contains line items that serve European Union political ads. If this field is set to `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING`, then the following will happen: * Any new line items created under this advertiser will be assigned `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` if not otherwise specified. * Any existing line items under this advertiser that do not have a set value be updated to `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` within a day.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Contains EU political advertising.",
            "Does not contain EU political advertising."
          ]
        },
        "adServerConfig": {
          "description": "Required. Immutable. Ad server related settings of the advertiser.",
          "$ref": "AdvertiserAdServerConfig"
        },
        "prismaEnabled": {
          "type": "boolean",
          "description": "Whether integration with Mediaocean (Prisma) is enabled. By enabling this, you agree to the following: On behalf of my company, I authorize Mediaocean (Prisma) to send budget segment plans to Google, and I authorize Google to send corresponding reporting and invoices from DV360 to Mediaocean for the purposes of budget planning, billing, and reconciliation for this advertiser."
        },
        "dataAccessConfig": {
          "$ref": "AdvertiserDataAccessConfig",
          "description": "Settings that control how advertiser data may be accessed."
        },
        "entityStatus": {
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "type": "string",
          "description": "Required. Controls whether or not insertion orders and line items of the advertiser can spend their budgets and bid on inventory. * Accepted values are `ENTITY_STATUS_ACTIVE`, `ENTITY_STATUS_PAUSED` and `ENTITY_STATUS_SCHEDULED_FOR_DELETION`. * If set to `ENTITY_STATUS_SCHEDULED_FOR_DELETION`, the advertiser will be deleted 30 days from when it was first scheduled for deletion."
        },
        "creativeConfig": {
          "description": "Required. Creative related settings of the advertiser.",
          "$ref": "AdvertiserCreativeConfig"
        },
        "generalConfig": {
          "$ref": "AdvertiserGeneralConfig",
          "description": "Required. General settings of the advertiser."
        },
        "defaultBusinessName": {
          "type": "string",
          "description": "Optional. The default business name for the advertiser. This is the value used by YouTube and Demand Gen ads under this advertiser if a business name is not provided."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the advertiser was last updated. Assigned by the system.",
          "type": "string"
        }
      },
      "id": "Advertiser",
      "type": "object"
    },
    "DemandGenSettings": {
      "type": "object",
      "id": "DemandGenSettings",
      "description": "Settings for Demand Gen line items.",
      "properties": {
        "geoLanguageTargetingEnabled": {
          "description": "Optional. Immutable. Whether location and language targeting can be set at the line item level. Otherwise, relevant targeting types must be assigned directly to ad groups.",
          "type": "boolean"
        },
        "thirdPartyMeasurementConfigs": {
          "description": "Optional. The third party measurement settings for the Demand Gen line item.",
          "$ref": "ThirdPartyMeasurementConfigs"
        },
        "linkedMerchantId": {
          "description": "Optional. The ID of the Merchant Center account used to provide a product feed. This Merchant Center account must already be linked to the advertiser.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "CreateSdfDownloadTaskRequest": {
      "properties": {
        "inventorySourceFilter": {
          "description": "Filters on Inventory Sources by their IDs.",
          "$ref": "InventorySourceFilter"
        },
        "partnerId": {
          "description": "The ID of the partner to download SDF for.",
          "type": "string",
          "format": "int64"
        },
        "parentEntityFilter": {
          "$ref": "ParentEntityFilter",
          "description": "Filters on selected file types. The entities in each file are filtered by a chosen set of filter entities. The filter entities must be the same type as, or a parent type of, the selected file types."
        },
        "idFilter": {
          "$ref": "IdFilter",
          "description": "Filters on entities by their entity IDs."
        },
        "advertiserId": {
          "format": "int64",
          "description": "The ID of the advertiser to download SDF for.",
          "type": "string"
        },
        "version": {
          "enum": [
            "SDF_VERSION_UNSPECIFIED",
            "SDF_VERSION_3_1",
            "SDF_VERSION_4",
            "SDF_VERSION_4_1",
            "SDF_VERSION_4_2",
            "SDF_VERSION_5",
            "SDF_VERSION_5_1",
            "SDF_VERSION_5_2",
            "SDF_VERSION_5_3",
            "SDF_VERSION_5_4",
            "SDF_VERSION_5_5",
            "SDF_VERSION_6",
            "SDF_VERSION_7",
            "SDF_VERSION_7_1",
            "SDF_VERSION_8",
            "SDF_VERSION_8_1",
            "SDF_VERSION_9",
            "SDF_VERSION_9_1",
            "SDF_VERSION_9_2",
            "SDF_VERSION_10",
            "SDF_VERSION_10_1"
          ],
          "description": "Required. The SDF version of the downloaded file. If set to `SDF_VERSION_UNSPECIFIED`, this will default to the version specified by the advertiser or partner identified by `root_id`. An advertiser inherits its SDF version from its partner unless configured otherwise.",
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "SDF version value is not specified or is unknown in this version.",
            "SDF version 3.1",
            "SDF version 4",
            "SDF version 4.1",
            "SDF version 4.2",
            "SDF version 5.",
            "SDF version 5.1",
            "SDF version 5.2",
            "SDF version 5.3",
            "SDF version 5.4",
            "SDF version 5.5",
            "SDF version 6",
            "SDF version 7. Read the [v7 migration guide](/display-video/api/structured-data-file/v7-migration-guide) before migrating to this version.",
            "SDF version 7.1. Read the [v7 migration guide](/display-video/api/structured-data-file/v7-migration-guide) before migrating to this version.",
            "SDF version 8. Read the [v8 migration guide](/display-video/api/structured-data-file/v8-migration-guide) before migrating to this version.",
            "SDF version 8.1.",
            "SDF version 9. Read the [v9 migration guide](/display-video/api/structured-data-file/v9-migration-guide) before migrating to this version.",
            "SDF version 9.1.",
            "SDF version 9.2.",
            "SDF version 10.",
            "SDF version 10.1."
          ],
          "type": "string"
        }
      },
      "id": "CreateSdfDownloadTaskRequest",
      "description": "Request message for [SdfDownloadTaskService.CreateSdfDownloadTask].",
      "type": "object"
    },
    "Campaign": {
      "description": "A single campaign.",
      "type": "object",
      "properties": {
        "advertiserId": {
          "description": "Output only. The unique ID of the advertiser the campaign belongs to.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the campaign. Must be UTF-8 encoded with a maximum size of 240 bytes."
        },
        "entityStatus": {
          "description": "Required. Controls whether or not the insertion orders under this campaign can spend their budgets and bid on inventory. * Accepted values are `ENTITY_STATUS_ACTIVE`, `ENTITY_STATUS_ARCHIVED`, and `ENTITY_STATUS_PAUSED`. * For CreateCampaign method, `ENTITY_STATUS_ARCHIVED` is not allowed.",
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ]
        },
        "campaignGoal": {
          "$ref": "CampaignGoal",
          "description": "Required. The goal of the campaign."
        },
        "frequencyCap": {
          "description": "Required. The frequency cap setting of the campaign. *Warning*: On **February 28, 2025**, frequency cap time periods greater than 30 days will no longer be accepted. [Read more about this announced change](/display-video/api/deprecations#features.lifetime_frequency_cap)",
          "$ref": "FrequencyCap"
        },
        "campaignBudgets": {
          "type": "array",
          "description": "The list of budgets available to this campaign. If this field is not set, the campaign uses an unlimited budget.",
          "items": {
            "$ref": "CampaignBudget"
          }
        },
        "campaignId": {
          "type": "string",
          "description": "Output only. The unique ID of the campaign. Assigned by the system.",
          "format": "int64",
[...]
