{
  "ownerName": "Google",
  "revision": "20260922",
  "discoveryVersion": "v1",
  "name": "displayvideo",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        },
        "https://www.googleapis.com/auth/display-video-mediaplanning": {
          "description": "Create, see, and edit Display & Video 360 Campaign entities and see billing invoices"
        },
        "https://www.googleapis.com/auth/display-video-user-management": {
          "description": "Private Service: https://www.googleapis.com/auth/display-video-user-management"
        },
        "https://www.googleapis.com/auth/display-video": {
          "description": "Create, see, edit, and permanently delete your Display & Video 360 entities and reports"
        }
      }
    }
  },
  "version_module": true,
  "description": "Display & Video 360 API allows users to automate complex Display & Video 360 workflows, such as creating insertion orders and setting targeting options for individual line items.",
  "basePath": "",
  "rootUrl": "https://displayvideo.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "documentationLink": "https://developers.google.com/display-video/",
  "batchPath": "batch",
  "schemas": {
    "ProductMatchDimension": {
      "description": "A dimension used to match products.",
      "id": "ProductMatchDimension",
      "type": "object",
      "properties": {
        "customLabel": {
          "description": "The custom label to match all the products with the label.",
          "$ref": "CustomLabel"
        },
        "productOfferId": {
          "type": "string",
          "description": "The ID of the product offer to match with a product with the same offer ID."
        }
      }
    },
    "PublisherReviewStatus": {
      "id": "PublisherReviewStatus",
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The creative is approved.",
            "The creative is rejected.",
            "The creative is pending review."
          ],
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "REVIEW_STATUS_APPROVED",
            "REVIEW_STATUS_REJECTED",
            "REVIEW_STATUS_PENDING"
          ],
          "description": "Status of the publisher review."
        },
        "publisherName": {
          "description": "The publisher reviewing the creative.",
          "type": "string"
        }
      },
      "description": "Publisher review status for the creative."
    },
    "FloodlightGroup": {
      "description": "A single Floodlight group.",
      "id": "FloodlightGroup",
      "properties": {
        "customVariables": {
          "description": "User-defined custom variables owned by the Floodlight group. Use custom Floodlight variables to create reporting data that is tailored to your unique business needs. Custom Floodlight variables use the keys `U1=`, `U2=`, and so on, and can take any values that you choose to pass to them. You can use them to track virtually any type of data that you collect about your customers, such as the genre of movie that a customer purchases, the country to which the item is shipped, and so on. Custom Floodlight variables may not be used to pass any data that could be used or recognized as personally identifiable information (PII). Example: `custom_variables { fields { \"U1\": value { number_value: 123.4 }, \"U2\": value { string_value: \"MyVariable2\" }, \"U3\": value { string_value: \"MyVariable3\" } } }` Acceptable values for keys are \"U1\" through \"U100\", inclusive. String values must be less than 64 characters long, and cannot contain the following characters: `\"<>`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the Floodlight group."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the Floodlight group.",
          "readOnly": true
        },
        "lookbackWindow": {
          "description": "Required. The lookback window for the Floodlight group. Both click_days and impression_days are required. Acceptable values for both are `0` to `90`, inclusive.",
          "$ref": "LookbackWindow"
        },
        "webTagType": {
          "description": "Required. The web tag type enabled for the Floodlight group.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "No tag type.",
            "Image tag.",
            "Dynamic tag."
          ],
          "type": "string",
          "enum": [
            "WEB_TAG_TYPE_UNSPECIFIED",
            "WEB_TAG_TYPE_NONE",
            "WEB_TAG_TYPE_IMAGE",
            "WEB_TAG_TYPE_DYNAMIC"
          ]
        },
        "floodlightGroupId": {
          "description": "Output only. The unique ID of the Floodlight group. Assigned by the system.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "activeViewConfig": {
          "description": "The Active View video viewability metric configuration for the Floodlight group.",
          "$ref": "ActiveViewVideoViewabilityMetricConfig"
        }
      },
      "type": "object"
    },
    "Transcode": {
      "type": "object",
      "properties": {
        "fileSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The size of the transcoded file, in bytes."
        },
        "audioSampleRateHz": {
          "description": "Optional. The sample rate for the audio stream of the transcoded video, or the sample rate for the transcoded audio, in hertz.",
          "type": "string",
          "format": "int64"
        },
        "dimensions": {
          "description": "Optional. The dimensions of the transcoded video.",
          "$ref": "Dimensions"
        },
        "audioBitRateKbps": {
          "description": "Optional. The bit rate for the audio stream of the transcoded video, or the bit rate for the transcoded audio, in kilobits per second.",
          "type": "string",
          "format": "int64"
        },
        "transcoded": {
          "description": "Optional. Indicates if the transcoding was successful.",
          "type": "boolean"
        },
        "bitRateKbps": {
          "description": "Optional. The transcoding bit rate of the transcoded video, in kilobits per second.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Optional. The name of the transcoded file.",
          "type": "string"
        },
        "mimeType": {
          "description": "Optional. The MIME type of the transcoded file.",
          "type": "string"
        },
        "frameRate": {
          "description": "Optional. The frame rate of the transcoded video, in frames per second.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Represents information about the transcoded audio or video file.",
      "id": "Transcode"
    },
    "LocationList": {
      "type": "object",
      "properties": {
        "advertiserId": {
          "description": "Required. Immutable. The unique ID of the advertiser the location list belongs to.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the location list.",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. The display name of the location list. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "locationType": {
          "description": "Required. Immutable. The type of location. All locations in the list will share this type.",
          "type": "string",
          "enum": [
            "TARGETING_LOCATION_TYPE_UNSPECIFIED",
            "TARGETING_LOCATION_TYPE_PROXIMITY",
            "TARGETING_LOCATION_TYPE_REGIONAL"
          ],
          "enumDescriptions": [
            "Default value when type is not specified or is unknown.",
            "The type for proximity geo location.",
            "The type for regional geo location."
          ]
        },
        "locationListId": {
          "description": "Output only. The unique ID of the location list. Assigned by the system.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A list of locations used for targeting.",
      "id": "LocationList"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "ListManualTriggersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListManualTriggers` method to retrieve the next page of results."
        },
        "manualTriggers": {
          "description": "The list of manual triggers. This list will be absent if empty.",
          "items": {
            "$ref": "ManualTrigger"
          },
          "type": "array"
        }
      },
      "id": "ListManualTriggersResponse"
    },
    "Invoice": {
      "properties": {
        "purchaseOrderNumber": {
          "description": "Purchase order number associated with the invoice.",
          "type": "string"
        },
        "totalTaxAmountMicros": {
          "type": "string",
          "description": "The sum of all taxes in invoice, in micros of the invoice's currency. For example, if currency_code is `USD`, then 1000000 represents one US dollar.",
          "format": "int64"
        },
        "invoiceId": {
          "type": "string",
          "description": "The unique ID of the invoice."
        },
        "budgetSummaries": {
          "description": "The list of summarized information for each budget associated with this invoice. This field will only be set if the invoice detail level of the corresponding billing profile was set to \"Budget level PO\".",
          "items": {
            "$ref": "BudgetSummary"
          },
          "type": "array"
        },
        "nonBudgetMicros": {
          "format": "int64",
          "description": "The total amount of costs or adjustments not tied to a particular budget, in micros of the invoice's currency. For example, if currency_code is `USD`, then 1000000 represents one US dollar.",
          "type": "string"
        },
        "subtotalAmountMicros": {
          "description": "The pre-tax subtotal amount, in micros of the invoice's currency. For example, if currency_code is `USD`, then 1000000 represents one US dollar.",
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "description": "The display name of the invoice.",
          "type": "string"
        },
        "pdfUrl": {
          "type": "string",
          "description": "The URL to download a PDF copy of the invoice. This URL is user specific and requires a valid OAuth 2.0 access token to access. The access token must be provided in an `Authorization: Bearer` HTTP header and be authorized for one of the following scopes: * `https://www.googleapis.com/auth/display-video-mediaplanning` * `https://www.googleapis.com/auth/display-video` The URL will be valid for 7 days after retrieval of this invoice object or until this invoice is retrieved again."
        },
        "issueDate": {
          "description": "The date when the invoice was issued.",
          "$ref": "Date"
        },
        "dueDate": {
          "description": "The date when the invoice is due.",
          "$ref": "Date"
        },
        "name": {
          "description": "The resource name of the invoice.",
          "type": "string"
        },
        "invoiceType": {
          "type": "string",
          "enum": [
            "INVOICE_TYPE_UNSPECIFIED",
            "INVOICE_TYPE_CREDIT",
            "INVOICE_TYPE_INVOICE"
          ],
          "enumDescriptions": [
            "Not specified or is unknown in this version.",
            "The invoice has a negative amount.",
            "The invoice has a positive amount."
          ],
          "description": "The type of invoice document."
        },
        "totalAmountMicros": {
          "type": "string",
          "description": "The invoice total amount, in micros of the invoice's currency. For example, if currency_code is `USD`, then 1000000 represents one US dollar.",
          "format": "int64"
        },
        "replacedInvoiceIds": {
          "items": {
            "type": "string"
          },
          "description": "The ID(s) of any originally issued invoice that is being cancelled by this invoice, if applicable. Multiple invoices may be listed if those invoices are being consolidated into a single invoice. May appear on invoice PDF as `Replaced invoice numbers`. If corrected_invoice_id is set, this field will be empty.",
          "type": "array"
        },
        "currencyCode": {
          "description": "The currency used in the invoice in ISO 4217 format.",
          "type": "string"
        },
        "paymentsProfileId": {
          "type": "string",
          "description": "The ID of the payments profile the invoice belongs to. Appears on the invoice PDF as `Billing ID`."
        },
        "serviceDateRange": {
          "description": "The service start and end dates which are covered by this invoice.",
          "$ref": "DateRange"
        },
        "correctedInvoiceId": {
          "description": "The ID of the original invoice being adjusted by this invoice, if applicable. May appear on the invoice PDF as `Reference invoice number`. If replaced_invoice_ids is set, this field will be empty.",
          "type": "string"
        },
        "budgetInvoiceGroupingId": {
          "type": "string",
          "description": "The budget grouping ID for this invoice. This field will only be set if the invoice level of the corresponding billing profile was set to \"Budget invoice grouping ID\"."
        },
        "paymentsAccountId": {
          "type": "string",
          "description": "The ID of the payments account the invoice belongs to. Appears on the invoice PDF as `Billing Account Number`."
        }
      },
      "description": "A single invoice.",
      "id": "Invoice",
      "type": "object"
    },
    "ThirdPartyOnlyConfig": {
      "type": "object",
      "properties": {
        "pixelOrderIdReportingEnabled": {
          "description": "Whether or not order ID reporting for pixels is enabled. This value cannot be changed once set to `true`.",
          "type": "boolean"
        }
      },
      "id": "ThirdPartyOnlyConfig",
      "description": "Settings for advertisers that use third-party ad servers only."
    },
    "TrackingFloodlightActivityConfig": {
      "id": "TrackingFloodlightActivityConfig",
      "properties": {
        "floodlightActivityId": {
          "description": "Required. The ID of the Floodlight activity.",
          "format": "int64",
          "type": "string"
        },
        "postViewLookbackWindowDays": {
          "type": "integer",
          "description": "Required. The number of days after an ad has been viewed in which a conversion may be counted. Must be between 0 and 90 inclusive.",
          "format": "int32"
        },
        "postClickLookbackWindowDays": {
          "description": "Required. The number of days after an ad has been clicked in which a conversion may be counted. Must be between 0 and 90 inclusive.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Settings that control the behavior of a single Floodlight activity config."
    },
    "AssetAssociation": {
      "description": "Asset association for the creative.",
      "type": "object",
      "properties": {
        "role": {
          "enumDescriptions": [
            "Asset role is not specified or is unknown in this version.",
            "The asset is the main asset of the creative.",
            "The asset is a backup asset of the creative.",
            "The asset is a polite load asset of the creative.",
            "Headline of a native creative. The content must be UTF-8 encoded with a length of no more than 25 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "Long headline of a native creative. The content must be UTF-8 encoded with a length of no more than 50 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "Body text of a native creative. The content must be UTF-8 encoded with a length of no more than 90 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "Long body text of a native creative. The content must be UTF-8 encoded with a length of no more than 150 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "A short, friendly version of the landing page URL to show in the creative. This URL gives people an idea of where they'll arrive after they click on the creative. The content must be UTF-8 encoded with a length of no more than 30 characters. For example, if the landing page URL is 'http://www.example.com/page', the caption URL can be 'example.com'. The protocol (http://) is optional, but the URL can't contain spaces or special characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "The text to use on the call-to-action button of a native creative. The content must be UTF-8 encoded with a length of no more than 15 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "The text that identifies the advertiser or brand name. The content must be UTF-8 encoded with a length of no more than 25 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "The purchase price of your app in the Google play store or iOS app store (for example, $5.99). Note that this value is not automatically synced with the actual value listed in the store. It will always be the one provided when save the creative. The content must be UTF-8 encoded with a length of no more than 15 characters. Assets of this role are read-only.",
            "The ID of an Android app in the Google play store. You can find this ID in the App’s Google Play Store URL after ‘id’. For example, in `https://play.google.com/store/apps/details?id=com.company.appname` the identifier is com.company.appname. Assets of this role are read-only.",
            "The ID of an iOS app in the Apple app store. This ID number can be found in the Apple App Store URL as the string of numbers directly after \"id\". For example, in `https://apps.apple.com/us/app/gmail-email-by-google/id422689480` the ID is 422689480. Assets of this role are read-only.",
            "The rating of an app in the Google play store or iOS app store. Note that this value is not automatically synced with the actual rating in the store. It will always be the one provided when save the creative. Assets of this role are read-only.",
            "The icon of a creative. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE`",
            "The cover image of a native video creative. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_VIDEO`",
            "The main color to use in a creative. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_ASSET_BASED_CREATIVE`",
            "The accent color to use in a creative. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_ASSET_BASED_CREATIVE`",
            "Whether the creative must use a logo asset. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_ASSET_BASED_CREATIVE`",
            "Whether the creative must use an image asset. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_ASSET_BASED_CREATIVE`",
            "Whether asset enhancements can be applied to the creative. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_ASSET_BASED_CREATIVE`"
          ],
          "description": "Optional. The role of this asset for the creative.",
          "type": "string",
          "enum": [
            "ASSET_ROLE_UNSPECIFIED",
            "ASSET_ROLE_MAIN",
            "ASSET_ROLE_BACKUP",
            "ASSET_ROLE_POLITE_LOAD",
            "ASSET_ROLE_HEADLINE",
            "ASSET_ROLE_LONG_HEADLINE",
            "ASSET_ROLE_BODY",
            "ASSET_ROLE_LONG_BODY",
            "ASSET_ROLE_CAPTION_URL",
            "ASSET_ROLE_CALL_TO_ACTION",
            "ASSET_ROLE_ADVERTISER_NAME",
            "ASSET_ROLE_PRICE",
            "ASSET_ROLE_ANDROID_APP_ID",
            "ASSET_ROLE_IOS_APP_ID",
            "ASSET_ROLE_RATING",
            "ASSET_ROLE_ICON",
            "ASSET_ROLE_COVER_IMAGE",
            "ASSET_ROLE_BACKGROUND_COLOR",
            "ASSET_ROLE_ACCENT_COLOR",
            "ASSET_ROLE_REQUIRE_LOGO",
            "ASSET_ROLE_REQUIRE_IMAGE",
            "ASSET_ROLE_ENABLE_ASSET_ENHANCEMENTS"
          ]
        },
        "asset": {
          "$ref": "Asset",
          "description": "Optional. The associated asset."
        }
      },
      "id": "AssetAssociation"
    },
    "GuaranteedOrderStatus": {
      "description": "The status settings of the guaranteed order.",
      "properties": {
        "configStatus": {
          "type": "string",
          "enum": [
            "GUARANTEED_ORDER_CONFIG_STATUS_UNSPECIFIED",
            "PENDING",
            "COMPLETED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The approval status is not specified or is unknown in this version.",
            "The beginning state of a guaranteed order. The guaranteed order in this state needs to be configured before it can serve.",
            "The state after the buyer configures a guaranteed order."
          ],
          "description": "Output only. The configuration status of the guaranteed order. Acceptable values are `PENDING` and `COMPLETED`. A guaranteed order must be configured (fill in the required fields, choose creatives, and select a default campaign) before it can serve. Currently the configuration action can only be performed via UI."
        },
        "entityPauseReason": {
          "type": "string",
          "description": "The user-provided reason for pausing this guaranteed order. Must be UTF-8 encoded with a maximum length of 100 bytes. Only applicable when entity_status is set to `ENTITY_STATUS_PAUSED`."
        },
        "entityStatus": {
          "description": "Whether or not the guaranteed order is servable. Acceptable values are `ENTITY_STATUS_ACTIVE`, `ENTITY_STATUS_ARCHIVED`, and `ENTITY_STATUS_PAUSED`. Default value is `ENTITY_STATUS_ACTIVE`.",
          "type": "string",
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ]
        }
      },
      "type": "object",
      "id": "GuaranteedOrderStatus"
    },
    "CombinedAudienceTargetingSetting": {
      "id": "CombinedAudienceTargetingSetting",
      "type": "object",
      "description": "Details of combined audience targeting setting.",
      "properties": {
        "combinedAudienceId": {
          "description": "Required. Combined audience id of combined audience targeting setting. This id is combined_audience_id.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "CombinedAudience": {
      "id": "CombinedAudience",
      "description": "Describes a combined audience resource.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the combined audience.",
          "readOnly": true,
          "type": "string"
        },
        "combinedAudienceId": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique ID of the combined audience. Assigned by the system."
        },
        "displayName": {
          "description": "Output only. The display name of the combined audience. .",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "AuthorizedSellerStatusAssignedTargetingOptionDetails": {
      "properties": {
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`."
        },
        "authorizedSellerStatus": {
          "type": "string",
          "enum": [
            "AUTHORIZED_SELLER_STATUS_UNSPECIFIED",
            "AUTHORIZED_SELLER_STATUS_AUTHORIZED_DIRECT_SELLERS_ONLY",
            "AUTHORIZED_SELLER_STATUS_AUTHORIZED_AND_NON_PARTICIPATING_PUBLISHERS"
          ],
          "enumDescriptions": [
            "Default value when authorized seller status is not specified in this version. This enum is a placeholder for the default value, or \"Authorized Direct Sellers and Resellers\" in the UI.",
            "Only authorized sellers that directly own the inventory being monetized, as indicated by a DIRECT declaration in the ads.txt file. This value is equivalent to \"Authorized Direct Sellers\" in the UI.",
            "All authorized sellers, including publishers that have not posted an ads.txt file. Display & Video 360 automatically disallows unauthorized sellers. This value is equivalent to \"Authorized and Non-Participating Publishers\" in the UI."
          ],
          "description": "Output only. The authorized seller status to target.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "AuthorizedSellerStatusAssignedTargetingOptionDetails",
      "description": "Represents an assigned authorized seller status. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`. If a resource does not have an `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` assigned targeting option, it is using the \"Authorized Direct Sellers and Resellers\" option."
    },
    "CreateAssetResponse": {
      "id": "CreateAssetResponse",
      "description": "A response message for CreateAsset.",
      "properties": {
        "asset": {
          "$ref": "Asset",
          "description": "The uploaded asset, if successful."
        }
      },
      "type": "object"
    },
    "ListYoutubeAdGroupAdsResponse": {
      "id": "ListYoutubeAdGroupAdsResponse",
      "type": "object",
      "properties": {
        "youtubeAdGroupAds": {
          "description": "The list of ad group ads. This list will be absent if empty.",
          "items": {
            "$ref": "YoutubeAdGroupAd"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListYoutubeAdGroupAds` method to retrieve the next page of results."
        }
      }
    },
    "PartnerRevenueModel": {
      "description": "Settings that control how partner revenue is calculated.",
      "id": "PartnerRevenueModel",
      "properties": {
        "markupType": {
          "type": "string",
          "enum": [
            "PARTNER_REVENUE_MODEL_MARKUP_TYPE_UNSPECIFIED",
            "PARTNER_REVENUE_MODEL_MARKUP_TYPE_CPM",
            "PARTNER_REVENUE_MODEL_MARKUP_TYPE_MEDIA_COST_MARKUP",
            "PARTNER_REVENUE_MODEL_MARKUP_TYPE_TOTAL_MEDIA_COST_MARKUP"
          ],
          "description": "Required. The markup type of the partner revenue model. This field must be set to `PARTNER_REVENUE_MODEL_MARKUP_TYPE_TOTAL_MEDIA_COST_MARKUP` for Demand Gen line items.",
          "enumDeprecated": [
            false,
            false,
            true,
            false
          ],
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Calculate the partner revenue based on a fixed CPM.",
            "Calculate the partner revenue based on a percentage surcharge of its media cost.",
            "Calculate the partner revenue based on a percentage surcharge of its total media cost, which includes all partner costs and data costs."
          ]
        },
        "markupAmount": {
          "type": "string",
          "format": "int64",
          "description": "Required. The markup amount of the partner revenue model. Must be greater than or equal to 0. * When the markup_type is set to be `PARTNER_REVENUE_MODEL_MARKUP_TYPE_CPM`, this field represents the CPM markup in micros of advertiser's currency. For example, 1500000 represents 1.5 standard units of the currency. * When the markup_type is set to be `PARTNER_REVENUE_MODEL_MARKUP_TYPE_MEDIA_COST_MARKUP`, this field represents the media cost percent markup in millis. For example, 100 represents 0.1% (decimal 0.001). * When the markup_type is set to be `PARTNER_REVENUE_MODEL_MARKUP_TYPE_TOTAL_MEDIA_COST_MARKUP`, this field represents the total media cost percent markup in millis. For example, 100 represents 0.1% (decimal 0.001)."
        }
      },
      "type": "object"
    },
    "PerformanceGoalBidStrategy": {
      "type": "object",
      "description": "A strategy that automatically adjusts the bid to meet or beat a specified performance goal.",
      "properties": {
        "maxAverageCpmBidAmountMicros": {
          "description": "The maximum average CPM that may be bid, in micros of the advertiser's currency. Must be greater than or equal to a billable unit of the given currency. Not applicable when performance_goal_type is set to `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM`. For example, 1500000 represents 1.5 standard units of the currency.",
          "format": "int64",
          "type": "string"
        },
        "performanceGoalType": {
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Cost per action.",
            "Cost per click.",
            "Viewable CPM.",
            "Custom bidding algorithm.",
            "Completed inview and audible views.",
            "Inview time over 10 secs views.",
            "Viewable impressions."
          ],
          "type": "string",
          "enum": [
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_UNSPECIFIED",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPA",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPC",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CUSTOM_ALGO",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CIVA",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_IVO_TEN",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_AV_VIEWED"
          ],
          "description": "Required. The type of the performance goal that the bidding strategy will try to meet or beat. For line item level usage, the value must be one of: * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPA` * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPC` * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM` * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CUSTOM_ALGO`."
        },
        "performanceGoalAmountMicros": {
          "description": "Required. The performance goal the bidding strategy will attempt to meet or beat, in micros of the advertiser's currency or in micro of the ROAS (Return On Advertising Spend) value which is also based on advertiser's currency. Must be greater than or equal to a billable unit of the given currency and smaller or equal to upper bounds. Each performance_goal_type has its upper bound: * when performance_goal_type is `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPA`, upper bound is 10000.00 USD. * when performance_goal_type is `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPC`, upper bound is 1000.00 USD. * when performance_goal_type is `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM`, upper bound is 1000.00 USD. * when performance_goal_type is `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CUSTOM_ALGO`, upper bound is 1000.00 and lower bound is 0.01. Example: If set to `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM`, the bid price will be based on the probability that each available impression will be viewable. For example, if viewable CPM target is $2 and an impression is 40% likely to be viewable, the bid price will be $0.80 CPM (40% of $2). For example, 1500000 represents 1.5 standard units of the currency or ROAS value.",
          "format": "int64",
          "type": "string"
        },
        "customBiddingAlgorithmId": {
          "description": "The ID of the Custom Bidding Algorithm used by this strategy. Only applicable when performance_goal_type is set to `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CUSTOM_ALGO`. Assigning a custom bidding algorithm that uses floodlight activities not identified in floodlightActivityConfigs will return an error.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "PerformanceGoalBidStrategy"
    },
    "GeoRegionTargetingOptionDetails": {
      "description": "Represents a targetable geographic region. This will be populated in the geo_region_details field when targeting_type is `TARGETING_TYPE_GEO_REGION`.",
      "id": "GeoRegionTargetingOptionDetails",
      "type": "object",
      "properties": {
        "geoRegionType": {
          "enumDescriptions": [
            "The geographic region type is unknown.",
            "The geographic region type is other.",
            "The geographic region is a country.",
            "The geographic region type is region.",
            "The geographic region is a territory.",
            "The geographic region is a province.",
            "The geographic region is a state.",
            "The geographic region is a prefecture.",
            "The geographic region is a governorate.",
            "The geographic region is a canton.",
            "The geographic region is a union territory.",
            "The geographic region is an autonomous community.",
            "The geographic region is a designated market area (DMA) region.",
            "The geographic region type is metro.",
            "The geographic region is a congressional district.",
            "The geographic region is a county.",
            "The geographic region is a municipality.",
            "The geographic region is a city.",
            "The geographic region targeting type is postal code.",
            "The geographic region targeting type is department.",
            "The geographic region is an airport.",
            "The geographic region is a TV region.",
            "The geographic region is an okrug.",
            "The geographic region is a borough.",
            "The geographic region is a city region.",
            "The geographic region is an arrondissement.",
            "The geographic region is a neighborhood.",
            "The geographic region is a university.",
            "The geographic region is a district.",
            "The geographic region is a national park.",
            "The geographic region is a barrio.",
            "The geographic region is a sub ward.",
            "The geographic region is a municipality district.",
            "The geographic region is a sub district.",
            "The geographic region is a quarter.",
            "The geographic region is a division.",
            "The geographic region is a commune.",
            "The geographic region is a colloquial area.",
            "The geographic region is a post town.",
            "The geographic region is a ward.",
            "The geographic region is a town.",
            "The geographic region is a village.",
            "The geographic region is a city district.",
            "The geographic region is a suburb.",
            "The geographic region is a hamlet.",
            "The geographic region is a municipal district.",
            "The geographic region is a community.",
            "The geographic region is a township.",
            "The geographic region is an urban district.",
            "The geographic region is a residential area.",
            "The geographic region is an independent city.",
            "The geographic region is a sector.",
            "The geographic region is an area.",
            "The geographic region is an estate.",
            "The geographic region is a parish.",
            "The geographic region is a settlement.",
            "The geographic region is a zone.",
            "The geographic region is a colony.",
            "The geographic region is an industrial area.",
            "The geographic region is a provincial city.",
            "The geographic region is a rural district."
          ],
          "type": "string",
          "enum": [
            "GEO_REGION_TYPE_UNKNOWN",
            "GEO_REGION_TYPE_OTHER",
            "GEO_REGION_TYPE_COUNTRY",
            "GEO_REGION_TYPE_REGION",
            "GEO_REGION_TYPE_TERRITORY",
            "GEO_REGION_TYPE_PROVINCE",
            "GEO_REGION_TYPE_STATE",
            "GEO_REGION_TYPE_PREFECTURE",
            "GEO_REGION_TYPE_GOVERNORATE",
            "GEO_REGION_TYPE_CANTON",
            "GEO_REGION_TYPE_UNION_TERRITORY",
            "GEO_REGION_TYPE_AUTONOMOUS_COMMUNITY",
            "GEO_REGION_TYPE_DMA_REGION",
            "GEO_REGION_TYPE_METRO",
            "GEO_REGION_TYPE_CONGRESSIONAL_DISTRICT",
            "GEO_REGION_TYPE_COUNTY",
            "GEO_REGION_TYPE_MUNICIPALITY",
            "GEO_REGION_TYPE_CITY",
            "GEO_REGION_TYPE_POSTAL_CODE",
            "GEO_REGION_TYPE_DEPARTMENT",
            "GEO_REGION_TYPE_AIRPORT",
            "GEO_REGION_TYPE_TV_REGION",
            "GEO_REGION_TYPE_OKRUG",
            "GEO_REGION_TYPE_BOROUGH",
            "GEO_REGION_TYPE_CITY_REGION",
            "GEO_REGION_TYPE_ARRONDISSEMENT",
            "GEO_REGION_TYPE_NEIGHBORHOOD",
            "GEO_REGION_TYPE_UNIVERSITY",
            "GEO_REGION_TYPE_DISTRICT",
            "GEO_REGION_TYPE_NATIONAL_PARK",
            "GEO_REGION_TYPE_BARRIO",
            "GEO_REGION_TYPE_SUB_WARD",
            "GEO_REGION_TYPE_MUNICIPALITY_DISTRICT",
            "GEO_REGION_TYPE_SUB_DISTRICT",
            "GEO_REGION_TYPE_QUARTER",
            "GEO_REGION_TYPE_DIVISION",
            "GEO_REGION_TYPE_COMMUNE",
            "GEO_REGION_TYPE_COLLOQUIAL_AREA",
            "GEO_REGION_TYPE_POST_TOWN",
            "GEO_REGION_TYPE_WARD",
            "GEO_REGION_TYPE_TOWN",
            "GEO_REGION_TYPE_VILLAGE",
            "GEO_REGION_TYPE_CITY_DISTRICT",
            "GEO_REGION_TYPE_SUBURB",
            "GEO_REGION_TYPE_HAMLET",
            "GEO_REGION_TYPE_MUNICIPAL_DISTRICT",
            "GEO_REGION_TYPE_COMMUNITY",
            "GEO_REGION_TYPE_TOWNSHIP",
            "GEO_REGION_TYPE_URBAN_DISTRICT",
            "GEO_REGION_TYPE_RESIDENTIAL_AREA",
            "GEO_REGION_TYPE_INDEPENDENT_CITY",
            "GEO_REGION_TYPE_SECTOR",
            "GEO_REGION_TYPE_AREA",
            "GEO_REGION_TYPE_ESTATE",
            "GEO_REGION_TYPE_PARISH",
            "GEO_REGION_TYPE_SETTLEMENT",
            "GEO_REGION_TYPE_ZONE",
            "GEO_REGION_TYPE_COLONY",
            "GEO_REGION_TYPE_INDUSTRIAL_AREA",
            "GEO_REGION_TYPE_PROVINCIAL_CITY",
            "GEO_REGION_TYPE_RURAL_DISTRICT"
          ],
          "description": "Output only. The type of geographic region targeting.",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of the geographic region (e.g., \"Ontario, Canada\").",
          "type": "string"
        }
      }
    },
    "CustomBiddingScript": {
      "properties": {
        "customBiddingScriptId": {
          "description": "Output only. The unique ID of the custom bidding script.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "errors": {
          "description": "Output only. Error details of a rejected custom bidding script. This field will only be populated when state is REJECTED.",
          "items": {
            "$ref": "ScriptError"
          },
          "readOnly": true,
          "type": "array"
        },
        "script": {
          "$ref": "CustomBiddingScriptRef",
          "description": "The reference to the uploaded script file."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the custom bidding script.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The script state is not specified or is unknown in this version.",
            "The script has been accepted for scoring impressions.",
            "The script has been rejected by backend pipelines. It may have errors.",
            "The script is being processed for backend pipelines."
          ],
          "description": "Output only. The state of the custom bidding script.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACCEPTED",
            "REJECTED",
            "PENDING"
          ]
        },
        "customBiddingAlgorithmId": {
          "description": "Output only. The unique ID of the custom bidding algorithm the script belongs to.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "active": {
          "readOnly": true,
          "description": "Output only. Whether the script is currently being used for scoring by the parent algorithm.",
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the script was created."
        }
      },
      "type": "object",
      "description": "A single custom bidding script.",
      "id": "CustomBiddingScript"
    },
    "InventorySourceAssignedTargetingOptionDetails": {
      "description": "Targeting details for inventory source. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_INVENTORY_SOURCE`.",
      "properties": {
        "inventorySourceId": {
          "type": "string",
          "description": "Required. ID of the inventory source. Should refer to the inventory_source_id field of an InventorySource resource.",
          "format": "int64"
        }
      },
      "id": "InventorySourceAssignedTargetingOptionDetails",
      "type": "object"
    },
    "ContentOutstreamPositionTargetingOptionDetails": {
      "id": "ContentOutstreamPositionTargetingOptionDetails",
      "properties": {
        "contentOutstreamPosition": {
          "type": "string",
          "enum": [
            "CONTENT_OUTSTREAM_POSITION_UNSPECIFIED",
            "CONTENT_OUTSTREAM_POSITION_UNKNOWN",
            "CONTENT_OUTSTREAM_POSITION_IN_ARTICLE",
            "CONTENT_OUTSTREAM_POSITION_IN_BANNER",
            "CONTENT_OUTSTREAM_POSITION_IN_FEED",
            "CONTENT_OUTSTREAM_POSITION_INTERSTITIAL"
          ],
          "description": "Output only. The content outstream position.",
          "readOnly": true,
          "enumDescriptions": [
            "Content outstream position is not specified in this version. This enum is a place holder for a default value and does not represent a real content outstream position.",
            "The ad position is unknown in the content outstream.",
            "Ads that appear between the paragraphs of your pages.",
            "Ads that display on the top and the sides of a page.",
            "Ads that appear in a scrollable stream of content. A feed is typically editorial (e.g. a list of articles or news) or listings (e.g. a list of products or services).",
            "Ads shown before or between content loads."
          ]
        }
      },
      "type": "object",
      "description": "Represents a targetable content outstream position, which could be used by display and video ads. This will be populated in the content_outstream_position_details field when targeting_type is `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`."
    },
    "EnvironmentTargetingOptionDetails": {
      "description": "Represents a targetable environment. This will be populated in the environment_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_ENVIRONMENT`.",
      "properties": {
        "environment": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_WEB_OPTIMIZED",
            "ENVIRONMENT_WEB_NOT_OPTIMIZED",
            "ENVIRONMENT_APP"
          ],
          "enumDescriptions": [
            "Default value when environment is not specified in this version. This enum is a placeholder for default value and does not represent a real environment option.",
            "Target inventory displayed in browsers. This includes inventory that was designed for the device it was viewed on, such as mobile websites viewed on a mobile device. ENVIRONMENT_WEB_NOT_OPTIMIZED, if targeted, should be deleted prior to the deletion of this targeting option.",
            "Target inventory displayed in browsers. This includes inventory that was not designed for the device but viewed on it, such as websites optimized for desktop but viewed on a mobile device. ENVIRONMENT_WEB_OPTIMIZED should be targeted prior to the addition of this targeting option.",
            "Target inventory displayed in apps."
          ],
          "description": "Output only. The serving environment."
        }
      },
      "id": "EnvironmentTargetingOptionDetails",
      "type": "object"
    },
    "CustomBiddingModelDetails": {
      "id": "CustomBiddingModelDetails",
      "description": "The details of a custom bidding algorithm model for a single shared advertiser.",
      "properties": {
        "advertiserId": {
          "type": "string",
          "description": "The unique ID of the relevant advertiser.",
          "format": "int64"
        },
        "suspensionState": {
          "type": "string",
          "enum": [
            "SUSPENSION_STATE_UNSPECIFIED",
            "SUSPENSION_STATE_ENABLED",
            "SUSPENSION_STATE_DORMANT",
            "SUSPENSION_STATE_SUSPENDED"
          ],
          "description": "Output only. The suspension state of custom bidding model.",
          "readOnly": true,
          "enumDescriptions": [
            "State is not specified or is unknown in this version.",
            "Model is enabled, either recently used, currently used or scheduled to be used. The algorithm is actively scoring impressions for this advertiser.",
            "Model has not been used recently. Although the model still acts as `ENABLED`, it will eventually be suspended if not used.",
            "Model is suspended from scoring impressions and cannot serve. If the algorithm is assigned to a line item under this advertiser or otherwise updated, it will switch back to the `ENABLED` state and require time to prepare the serving model again."
          ]
        },
        "readinessState": {
          "type": "string",
          "enum": [
            "READINESS_STATE_UNSPECIFIED",
            "READINESS_STATE_ACTIVE",
            "READINESS_STATE_INSUFFICIENT_DATA",
            "READINESS_STATE_TRAINING",
            "READINESS_STATE_NO_VALID_SCRIPT"
          ],
          "enumDescriptions": [
            "State is not specified or is unknown in this version.",
            "The model is trained and ready for serving.",
            "There is not enough data to train the serving model.",
            "The model is training and not ready for serving.",
            "A valid custom bidding script has not been provided with which to train the model. This state will only be applied to algorithms whose `custom_bidding_algorithm_type` is `SCRIPT_BASED`."
          ],
          "description": "The readiness state of custom bidding model."
        }
      },
      "type": "object"
    },
    "ExchangeReviewStatus": {
      "properties": {
        "exchange": {
          "description": "The exchange reviewing the creative.",
          "enumDescriptions": [
            "Exchange is not specified or is unknown in this version.",
            "Google Ad Manager.",
            "AppNexus.",
            "BrightRoll Exchange for Video from Yahoo!.",
            "Adform.",
            "Admeta.",
            "Admixer.",
            "AdsMogo.",
            "AdsWizz.",
            "BidSwitch.",
            "BrightRoll Exchange for Display from Yahoo!.",
            "Cadreon.",
            "Dailymotion.",
            "Five.",
            "Fluct.",
            "FreeWheel SSP.",
            "Geniee.",
            "GumGum.",
            "i-mobile.",
            "iBILLBOARD.",
            "Improve Digital.",
            "Index Exchange.",
            "Kargo.",
            "MicroAd.",
            "MoPub.",
            "Nend.",
            "ONE by AOL: Display Market Place.",
            "ONE by AOL: Mobile.",
            "ONE by AOL: Video.",
            "Ooyala.",
            "OpenX.",
            "Permodo.",
            "Platform One.",
            "PlatformId.",
            "PubMatic.",
            "PulsePoint.",
            "RevenueMax.",
            "Rubicon.",
            "SmartClip.",
            "SmartRTB+.",
            "SmartstreamTv.",
            "Sovrn.",
            "SpotXchange.",
            "Ströer SSP.",
            "TeadsTv.",
            "Telaria.",
            "TVN.",
            "United.",
            "Yieldlab.",
            "Yieldmo.",
            "UnrulyX.",
            "Open8.",
            "Triton.",
            "TripleLift.",
            "Taboola.",
            "InMobi.",
            "Smaato.",
            "Aja.",
            "Supership.",
            "Nexstar Digital.",
            "Waze.",
            "SoundCast.",
            "Sharethrough.",
            "Fyber.",
            "Red For Publishers.",
            "Media.net.",
            "Tapjoy.",
            "Vistar.",
            "DAX.",
            "JCD.",
            "Place Exchange.",
            "AppLovin.",
            "Connatix.",
            "Reset Digital.",
            "Hivestack.",
            "Drax.",
            "AppLovin MAX.",
            "DT Fairbid.",
            "Unity LevelPlay.",
            "Chartboost Mediation.",
            "AdMost.",
            "TopOn.",
            "Netflix.",
            "Core.",
            "Commerce Grid.",
            "Spotify.",
            "Tubi.",
            "Snap.",
            "Cadent.",
            "Exte."
          ],
          "type": "string",
          "enum": [
            "EXCHANGE_UNSPECIFIED",
            "EXCHANGE_GOOGLE_AD_MANAGER",
            "EXCHANGE_APPNEXUS",
            "EXCHANGE_BRIGHTROLL",
            "EXCHANGE_ADFORM",
            "EXCHANGE_ADMETA",
            "EXCHANGE_ADMIXER",
            "EXCHANGE_ADSMOGO",
            "EXCHANGE_ADSWIZZ",
            "EXCHANGE_BIDSWITCH",
            "EXCHANGE_BRIGHTROLL_DISPLAY",
            "EXCHANGE_CADREON",
            "EXCHANGE_DAILYMOTION",
            "EXCHANGE_FIVE",
            "EXCHANGE_FLUCT",
            "EXCHANGE_FREEWHEEL",
            "EXCHANGE_GENIEE",
            "EXCHANGE_GUMGUM",
            "EXCHANGE_IMOBILE",
            "EXCHANGE_IBILLBOARD",
            "EXCHANGE_IMPROVE_DIGITAL",
            "EXCHANGE_INDEX",
            "EXCHANGE_KARGO",
            "EXCHANGE_MICROAD",
            "EXCHANGE_MOPUB",
            "EXCHANGE_NEND",
            "EXCHANGE_ONE_BY_AOL_DISPLAY",
            "EXCHANGE_ONE_BY_AOL_MOBILE",
            "EXCHANGE_ONE_BY_AOL_VIDEO",
            "EXCHANGE_OOYALA",
            "EXCHANGE_OPENX",
            "EXCHANGE_PERMODO",
            "EXCHANGE_PLATFORMONE",
            "EXCHANGE_PLATFORMID",
            "EXCHANGE_PUBMATIC",
            "EXCHANGE_PULSEPOINT",
            "EXCHANGE_REVENUEMAX",
            "EXCHANGE_RUBICON",
            "EXCHANGE_SMARTCLIP",
            "EXCHANGE_SMARTRTB",
            "EXCHANGE_SMARTSTREAMTV",
            "EXCHANGE_SOVRN",
            "EXCHANGE_SPOTXCHANGE",
            "EXCHANGE_STROER",
            "EXCHANGE_TEADSTV",
            "EXCHANGE_TELARIA",
            "EXCHANGE_TVN",
            "EXCHANGE_UNITED",
            "EXCHANGE_YIELDLAB",
            "EXCHANGE_YIELDMO",
            "EXCHANGE_UNRULYX",
            "EXCHANGE_OPEN8",
            "EXCHANGE_TRITON",
            "EXCHANGE_TRIPLELIFT",
            "EXCHANGE_TABOOLA",
            "EXCHANGE_INMOBI",
            "EXCHANGE_SMAATO",
            "EXCHANGE_AJA",
            "EXCHANGE_SUPERSHIP",
            "EXCHANGE_NEXSTAR_DIGITAL",
            "EXCHANGE_WAZE",
            "EXCHANGE_SOUNDCAST",
            "EXCHANGE_SHARETHROUGH",
            "EXCHANGE_FYBER",
            "EXCHANGE_RED_FOR_PUBLISHERS",
            "EXCHANGE_MEDIANET",
            "EXCHANGE_TAPJOY",
            "EXCHANGE_VISTAR",
            "EXCHANGE_DAX",
            "EXCHANGE_JCD",
            "EXCHANGE_PLACE_EXCHANGE",
            "EXCHANGE_APPLOVIN",
            "EXCHANGE_CONNATIX",
            "EXCHANGE_RESET_DIGITAL",
            "EXCHANGE_HIVESTACK",
            "EXCHANGE_DRAX",
            "EXCHANGE_APPLOVIN_GBID",
            "EXCHANGE_FYBER_GBID",
            "EXCHANGE_UNITY_GBID",
            "EXCHANGE_CHARTBOOST_GBID",
            "EXCHANGE_ADMOST_GBID",
            "EXCHANGE_TOPON_GBID",
            "EXCHANGE_NETFLIX",
            "EXCHANGE_CORE",
            "EXCHANGE_COMMERCE_GRID",
            "EXCHANGE_SPOTIFY",
            "EXCHANGE_TUBI",
            "EXCHANGE_SNAP",
            "EXCHANGE_CADENT",
            "EXCHANGE_EXTE"
          ]
        },
        "status": {
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The creative is approved.",
            "The creative is rejected.",
            "The creative is pending review."
          ],
          "type": "string",
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "REVIEW_STATUS_APPROVED",
            "REVIEW_STATUS_REJECTED",
            "REVIEW_STATUS_PENDING"
          ],
          "description": "Status of the exchange review."
        }
      },
      "id": "ExchangeReviewStatus",
      "description": "Exchange review status for the creative.",
      "type": "object"
    },
    "PoiSearchTerms": {
      "properties": {
        "poiQuery": {
          "description": "The search query for the desired POI name, street address, or coordinate of the desired POI. The query can be a prefix, e.g. \"Times squar\", \"40.7505045,-73.99562\", \"315 W 44th St\", etc.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Search terms for POI targeting options.",
      "id": "PoiSearchTerms"
    },
    "YoutubeVideoDetails": {
      "description": "Details of a YouTube video.",
      "type": "object",
      "id": "YoutubeVideoDetails",
      "properties": {
        "unavailableReason": {
          "description": "The reason why the video data is not available.",
          "enumDescriptions": [
            "Unknown or unspecified.",
            "The video is private.",
            "The video is deleted."
          ],
          "type": "string",
          "enum": [
            "VIDEO_UNAVAILABLE_REASON_UNSPECIFIED",
            "VIDEO_UNAVAILABLE_REASON_PRIVATE",
            "VIDEO_UNAVAILABLE_REASON_DELETED"
          ]
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The YouTube video ID which can be searched on YouTube webpage."
        },
        "videoAssetId": {
          "type": "string",
          "description": "Required. The YouTube video asset id. This is the adAssetId of an AdAsset resource.",
          "format": "int64"
        }
      }
    },
    "ContentStreamTypeTargetingOptionDetails": {
      "properties": {
        "contentStreamType": {
          "readOnly": true,
          "description": "Output only. The content stream type.",
          "enumDescriptions": [
            "Content stream type is not specified in this version. This enum is a place holder for a default value and does not represent a real content stream type.",
            "The content is being live-streamed.",
            "The content is viewed on-demand."
          ],
          "type": "string",
          "enum": [
            "CONTENT_STREAM_TYPE_UNSPECIFIED",
            "CONTENT_LIVE_STREAM",
            "CONTENT_ON_DEMAND"
          ]
        }
      },
      "type": "object",
      "id": "ContentStreamTypeTargetingOptionDetails",
      "description": "Represents a targetable content stream type. This will be populated in the content_stream_type_details field when targeting_type is `TARGETING_TYPE_CONTENT_STREAM_TYPE`."
    },
    "FixedBidStrategy": {
      "description": "A strategy that uses a fixed bidding price.",
      "id": "FixedBidStrategy",
      "properties": {
        "bidAmountMicros": {
          "description": "The fixed bid amount, in micros of the advertiser's currency. For insertion order entity, bid_amount_micros should be set as 0. For line item entity, bid_amount_micros must be greater than or equal to billable unit of the given currency and smaller than or equal to the upper limit 1000000000. For example, 1500000 represents 1.5 standard units of the currency.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      }
    },
    "ListAssignedLocationsResponse": {
      "description": "Response message for AssignedLocationService.ListAssignedLocations.",
      "id": "ListAssignedLocationsResponse",
      "properties": {
        "assignedLocations": {
          "description": "The list of assigned locations. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "AssignedLocation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListAssignedLocations` method to retrieve the next page of results."
        }
      },
      "type": "object"
    },
    "CampaignFlight": {
      "properties": {
        "plannedSpendAmountMicros": {
          "format": "int64",
          "description": "The amount the campaign is expected to spend for its given planned_dates. This will not limit serving, but will be used for tracking spend in the DV360 UI. The amount is in micros. Must be greater than or equal to 0. For example, 500000000 represents 500 standard units of the currency.",
          "type": "string"
        },
        "plannedDates": {
          "$ref": "DateRange",
          "description": "Required. The dates that the campaign is expected to run. They are resolved relative to the parent advertiser's time zone. * The dates specified here will not affect serving. They are used to generate alerts and warnings. For example, if the flight date of any child insertion order is outside the range of these dates, the user interface will show a warning. * `start_date` is required and must be the current date or later. * `end_date` is optional. If specified, it must be the `start_date` or later. * Any specified date must be before the year 2037."
        }
      },
      "type": "object",
      "id": "CampaignFlight",
      "description": "Settings that track the planned spend and duration of a campaign."
    },
    "ManualTrigger": {
      "id": "ManualTrigger",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. The display name of the manual trigger. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "triggerId": {
          "format": "int64",
          "description": "Output only. The unique ID of the manual trigger.",
          "readOnly": true,
          "type": "string"
        },
        "latestActivationTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp of the trigger's latest activation."
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "Required. Immutable. The unique ID of the advertiser that the manual trigger belongs to."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INACTIVE",
            "ACTIVE"
          ],
          "readOnly": true,
          "description": "Output only. The state of the manual trigger. Will be set to the `INACTIVE` state upon creation.",
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The trigger is currently inactive and ready to be activated.",
            "The trigger is currently active (activated)."
          ]
        },
        "activationDurationMinutes": {
          "format": "int64",
          "type": "string",
          "description": "Required. The maximum duration of each activation in minutes. Must be between 1 and 360 inclusive. After this duration, the trigger will be automatically deactivated."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the manual trigger.",
          "type": "string"
        }
      },
      "description": "A single manual trigger in Display & Video 360. **Warning:** Line Items using manual triggers no longer serve in Display & Video 360. This resource will sunset on August 1, 2023. Read our [feature deprecation announcement](/display-video/api/deprecations#features.manual_triggers) for more information."
    },
    "DeactivateManualTriggerRequest": {
      "type": "object",
      "description": "Request message for ManualTriggerService.DeactivateManualTrigger.",
      "id": "DeactivateManualTriggerRequest",
      "properties": {}
    },
    "BulkEditAssignedUserRolesRequest": {
      "properties": {
        "deletedAssignedUserRoles": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The assigned user roles to delete in batch, specified as a list of assigned_user_role_ids. The format of assigned_user_role_id is `entityType-entityid`, for example `partner-123`."
        },
        "createdAssignedUserRoles": {
          "items": {
            "$ref": "AssignedUserRole"
          },
          "description": "The assigned user roles to create in batch, specified as a list of AssignedUserRoles.",
          "type": "array"
        }
      },
      "id": "BulkEditAssignedUserRolesRequest",
      "description": "Request message for BulkEditAssignedUserRoles.",
      "type": "object"
    },
    "DuplicateLineItemRequest": {
      "id": "DuplicateLineItemRequest",
      "properties": {
        "targetDisplayName": {
          "type": "string",
          "description": "The display name of the new line item. Must be UTF-8 encoded with a maximum size of 240 bytes."
        },
        "containsEuPoliticalAds": {
          "description": "Whether this line item will serve European Union political ads. If contains_eu_political_ads has been set to `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` in the parent advertiser, then this field will be assigned `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` if not otherwise specified. This field can then be updated using the UI, API, or Structured Data Files. This field must be assigned when creating a new line item. Otherwise, **the `advertisers.lineItems.create` request will fail**.",
          "enumDescriptions": [
            "Unknown.",
            "Contains EU political advertising.",
            "Does not contain EU political advertising."
          ],
          "type": "string",
          "enum": [
            "EU_POLITICAL_ADVERTISING_STATUS_UNKNOWN",
            "CONTAINS_EU_POLITICAL_ADVERTISING",
            "DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING"
          ]
        }
      },
      "type": "object",
      "description": "Request message for LineItemService.DuplicateLineItem."
    },
    "IdFilter": {
      "description": "A filtering option that filters entities by their entity IDs.",
      "properties": {
        "adGroupAdIds": {
          "description": "YouTube Ads to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "campaignIds": {
          "description": "Campaigns to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "lineItemIds": {
          "type": "array",
          "description": "Line Items to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "adGroupIds": {
          "description": "YouTube Ad Groups to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "mediaProductIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Media Products to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "type": "array"
        },
        "insertionOrderIds": {
          "description": "Insertion Orders to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "id": "IdFilter",
      "type": "object"
    },
    "YoutubeAdGroupAssignedTargetingOption": {
      "description": "Wrapper object associating an AssignedTargetingOption resource and the youtube ad group it is assigned to.",
      "properties": {
        "assignedTargetingOption": {
          "description": "The assigned targeting option resource.",
          "$ref": "AssignedTargetingOption"
        },
        "youtubeAdGroupId": {
          "type": "string",
          "description": "The ID of the youtube ad group the assigned targeting option is assigned to.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "YoutubeAdGroupAssignedTargetingOption"
    },
    "CustomList": {
      "type": "object",
      "id": "CustomList",
      "description": "Describes a custom list entity, such as a custom affinity or custom intent audience list.",
      "properties": {
        "customListId": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The unique ID of the custom list. Assigned by the system."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of the custom list. .",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the custom list."
        }
      }
    },
    "ListInvoicesResponse": {
      "properties": {
        "invoices": {
          "type": "array",
          "description": "The list of invoices. This list will be absent if empty.",
          "items": {
            "$ref": "Invoice"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListInvoices` method to retrieve the next page of results. This token will be absent if there are no more invoices to return."
        }
      },
      "id": "ListInvoicesResponse",
      "type": "object"
    },
    "LookbackWindow": {
      "description": "Specifies how many days into the past to look when determining whether to record a conversion.",
      "type": "object",
      "properties": {
        "impressionDays": {
          "type": "integer",
          "description": "Lookback window, in days, from the last time a given user viewed one of your ads.",
          "format": "int32"
        },
        "clickDays": {
          "description": "Lookback window, in days, from the last time a given user clicked on one of your ads.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "LookbackWindow"
    },
    "DoubleVerifyFraudInvalidTraffic": {
      "properties": {
        "avoidedFraudOption": {
          "description": "Avoid Sites and Apps with historical Fraud & IVT.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any fraud and invalid traffic options.",
            "100% Fraud & IVT.",
            "50% or Higher Fraud & IVT.",
            "25% or Higher Fraud & IVT.",
            "10% or Higher Fraud & IVT.",
            "8% or Higher Fraud & IVT.",
            "6% or Higher Fraud & IVT.",
            "4% or Higher Fraud & IVT.",
            "2% or Higher Fraud & IVT."
          ],
          "type": "string",
          "enum": [
            "FRAUD_UNSPECIFIED",
            "AD_IMPRESSION_FRAUD_100",
            "AD_IMPRESSION_FRAUD_50",
            "AD_IMPRESSION_FRAUD_25",
            "AD_IMPRESSION_FRAUD_10",
            "AD_IMPRESSION_FRAUD_8",
            "AD_IMPRESSION_FRAUD_6",
            "AD_IMPRESSION_FRAUD_4",
            "AD_IMPRESSION_FRAUD_2"
          ]
        },
        "avoidInsufficientOption": {
          "type": "boolean",
          "description": "Insufficient Historical Fraud & IVT Stats."
        }
      },
      "type": "object",
      "id": "DoubleVerifyFraudInvalidTraffic",
      "description": "DoubleVerify Fraud & Invalid Traffic settings."
    },
    "VideoPlayerSizeAssignedTargetingOptionDetails": {
      "type": "object",
      "description": "Video player size targeting option details. This will be populated in the video_player_size_details field when targeting_type is `TARGETING_TYPE_VIDEO_PLAYER_SIZE`. Explicitly targeting all options is not supported. Remove all video player size targeting options to achieve this effect.",
      "id": "VideoPlayerSizeAssignedTargetingOptionDetails",
      "properties": {
        "videoPlayerSize": {
          "enumDescriptions": [
            "Video player size is not specified in this version. This enum is a place holder for a default value and does not represent a real video player size.",
            "The dimensions of the video player are less than 400×300 (desktop), or up to 20% of screen covered (mobile).",
            "The dimensions of the video player are between 400x300 and 1280x720 pixels (desktop), or 20% to 90% of the screen covered (mobile).",
            "The dimensions of the video player are 1280×720 or greater (desktop), or over 90% of the screen covered (mobile).",
            "The dimensions of the video player are unknown."
          ],
          "description": "Required. The video player size.",
          "type": "string",
          "enum": [
            "VIDEO_PLAYER_SIZE_UNSPECIFIED",
            "VIDEO_PLAYER_SIZE_SMALL",
            "VIDEO_PLAYER_SIZE_LARGE",
            "VIDEO_PLAYER_SIZE_HD",
            "VIDEO_PLAYER_SIZE_UNKNOWN"
          ]
        }
      }
    },
    "OmidAssignedTargetingOptionDetails": {
      "id": "OmidAssignedTargetingOptionDetails",
      "properties": {
        "omid": {
          "description": "Required. The type of Open Measurement enabled inventory.",
          "type": "string",
          "enum": [
            "OMID_UNSPECIFIED",
            "OMID_FOR_MOBILE_DISPLAY_ADS"
          ],
          "enumDescriptions": [
            "Default value when omid targeting is not specified in this version.",
            "Open Measurement enabled mobile display inventory."
          ]
        }
      },
      "type": "object",
      "description": "Represents a targetable Open Measurement enabled inventory type. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_OMID`."
    },
    "PoiAssignedTargetingOptionDetails": {
      "description": "Details for assigned POI targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_POI`.",
      "type": "object",
      "properties": {
        "proximityRadiusUnit": {
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Miles.",
            "Kilometers."
          ],
          "description": "Required. The unit of distance by which the targeting radius is measured.",
          "type": "string",
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ]
        },
        "latitude": {
          "description": "Output only. Latitude of the POI rounding to 6th decimal place.",
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "proximityRadiusAmount": {
          "description": "Required. The radius of the area around the POI that will be targeted. The units of the radius are specified by proximity_radius_unit. Must be 1 to 800 if unit is `DISTANCE_UNIT_KILOMETERS` and 1 to 500 if unit is `DISTANCE_UNIT_MILES`.",
          "type": "number",
          "format": "double"
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_POI`. Accepted POI targeting option IDs can be retrieved using `targetingTypes.targetingOptions.search`. If targeting a specific latitude/longitude coordinate removed from an address or POI name, you can generate the necessary targeting option ID by rounding the desired coordinate values to the 6th decimal place, removing the decimals, and concatenating the string values separated by a semicolon. For example, you can target the latitude/longitude pair of 40.7414691, -74.003387 using the targeting option ID \"40741469;-74003387\". **Upon** **creation, this field value will be updated to append a semicolon and** **alphanumerical hash value if only latitude/longitude coordinates are** **provided.**",
          "type": "string"
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "readOnly": true,
          "description": "Output only. Longitude of the POI rounding to 6th decimal place."
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of a POI, e.g. \"Times Square\", \"Space Needle\", followed by its full address if available.",
          "readOnly": true
        }
      },
      "id": "PoiAssignedTargetingOptionDetails"
    },
    "ListLocationListsResponse": {
      "type": "object",
      "id": "ListLocationListsResponse",
      "properties": {
        "locationLists": {
          "description": "The list of location lists. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "LocationList"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListLocationLists` method to retrieve the next page of results."
        }
      }
    },
    "AudioContentTypeTargetingOptionDetails": {
      "description": "Represents a targetable audio content type. This will be populated in the audio_content_type_details field when targeting_type is `TARGETING_TYPE_AUDIO_CONTENT_TYPE`.",
      "id": "AudioContentTypeTargetingOptionDetails",
      "properties": {
        "audioContentType": {
          "description": "Output only. The audio content type.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "AUDIO_CONTENT_TYPE_UNSPECIFIED",
            "AUDIO_CONTENT_TYPE_UNKNOWN",
            "AUDIO_CONTENT_TYPE_MUSIC",
            "AUDIO_CONTENT_TYPE_BROADCAST",
            "AUDIO_CONTENT_TYPE_PODCAST",
            "AUDIO_CONTENT_TYPE_CATCH_UP_RADIO",
            "AUDIO_CONTENT_TYPE_WEB_RADIO",
            "AUDIO_CONTENT_TYPE_VIDEO_GAME",
            "AUDIO_CONTENT_TYPE_TEXT_TO_SPEECH"
          ],
          "enumDescriptions": [
            "Audio content type is not specified in this version. This enum is a place holder for a default value and does not represent a real content stream type.",
            "The audio content type is unknown.",
            "The audio content type is music.",
            "The audio content type is broadcast.",
            "The audio content type is podcast.",
            "The audio content type is catch-up radio.",
            "The audio content type is web radio.",
            "The audio content type is video game.",
            "The audio content type is text-to-speech."
          ]
        }
      },
      "type": "object"
    },
    "UrlAssignedTargetingOptionDetails": {
      "properties": {
        "url": {
          "type": "string",
          "description": "Required. The URL, for example `example.com`. DV360 supports two levels of subdirectory targeting, for example `www.example.com/one-subdirectory-level/second-level`, and five levels of subdomain targeting, for example `five.four.three.two.one.example.com`."
        },
        "negative": {
          "type": "boolean",
          "description": "Indicates if this option is being negatively targeted."
        }
      },
      "id": "UrlAssignedTargetingOptionDetails",
      "description": "Details for assigned URL targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_URL`.",
      "type": "object"
    },
    "Channel": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the channel."
        },
        "advertiserId": {
          "description": "The ID of the advertiser that owns the channel.",
          "format": "int64",
          "type": "string"
        },
        "partnerId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the partner that owns the channel."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the channel. Must be UTF-8 encoded with a maximum length of 240 bytes."
        },
        "positivelyTargetedLineItemCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Number of line items that are directly targeting this channel positively.",
          "format": "int64"
        },
        "negativelyTargetedLineItemCount": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of line items that are directly targeting this channel negatively."
        },
        "channelId": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique ID of the channel. Assigned by the system."
        }
      },
      "id": "Channel",
      "description": "A single channel. Channels are custom groups of related websites and apps.",
      "type": "object"
    },
    "AdvertiserSdfConfig": {
      "id": "AdvertiserSdfConfig",
      "properties": {
        "overridePartnerSdfConfig": {
          "description": "Whether or not this advertiser overrides the SDF configuration of its parent partner. By default, an advertiser inherits the SDF configuration from the parent partner. To override the partner configuration, set this field to `true` and provide the new configuration in sdfConfig.",
          "type": "boolean"
        },
        "sdfConfig": {
          "$ref": "SdfConfig",
          "description": "The SDF configuration for the advertiser. * Required when overridePartnerSdfConfig is `true`. * Output only when overridePartnerSdfConfig is `false`."
        }
      },
      "description": "Structured Data Files (SDF) settings of an advertiser.",
      "type": "object"
    },
    "GoogleAudienceTargetingSetting": {
      "properties": {
        "googleAudienceId": {
          "format": "int64",
          "description": "Required. Google audience id of the Google audience targeting setting. This id is google_audience_id.",
          "type": "string"
        }
      },
      "id": "GoogleAudienceTargetingSetting",
      "type": "object",
      "description": "Details of Google audience targeting setting."
    },
    "Advertiser": {
      "description": "A single advertiser in Display & Video 360 (DV360).",
      "properties": {
        "defaultBusinessName": {
          "type": "string",
          "description": "Optional. The default business name for the advertiser. This is the value used by YouTube and Demand Gen ads under this advertiser if a business name is not provided."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the advertiser."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the advertiser was last updated. Assigned by the system."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the advertiser. Must be UTF-8 encoded with a maximum size of 240 bytes."
        },
        "dataAccessConfig": {
          "$ref": "AdvertiserDataAccessConfig",
          "description": "Settings that control how advertiser data may be accessed."
        },
        "partnerId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Immutable. The unique ID of the partner that the advertiser belongs to."
        },
        "prismaEnabled": {
          "description": "Whether integration with Mediaocean (Prisma) is enabled. By enabling this, you agree to the following: On behalf of my company, I authorize Mediaocean (Prisma) to send budget segment plans to Google, and I authorize Google to send corresponding reporting and invoices from DV360 to Mediaocean for the purposes of budget planning, billing, and reconciliation for this advertiser.",
          "type": "boolean"
        },
        "integrationDetails": {
          "$ref": "IntegrationDetails",
          "description": "Integration details of the advertiser. Only integrationCode is currently applicable to advertiser. Other fields of IntegrationDetails are not supported and will be ignored if provided."
        },
        "adServerConfig": {
          "description": "Required. Immutable. Ad server related settings of the advertiser.",
          "$ref": "AdvertiserAdServerConfig"
        },
        "entityStatus": {
          "type": "string",
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "description": "Required. Controls whether or not insertion orders and line items of the advertiser can spend their budgets and bid on inventory. * Accepted values are `ENTITY_STATUS_ACTIVE`, `ENTITY_STATUS_PAUSED` and `ENTITY_STATUS_SCHEDULED_FOR_DELETION`. * If set to `ENTITY_STATUS_SCHEDULED_FOR_DELETION`, the advertiser will be deleted 30 days from when it was first scheduled for deletion.",
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ]
        },
        "servingConfig": {
          "description": "Targeting settings related to ad serving of the advertiser.",
          "$ref": "AdvertiserTargetingConfig"
        },
        "creativeConfig": {
          "$ref": "AdvertiserCreativeConfig",
          "description": "Required. Creative related settings of the advertiser."
        },
        "defaultLogoAssetId": {
          "type": "string",
          "description": "Optional. The asset ID of the default logo image for the advertiser. This is the asset ID that will be used by YouTube and Demand ads under this advertiser if a logo asset is not provided. You must use advertisers.adAssets.upload to upload this asset using the API.",
          "format": "int64"
        },
        "advertiserId": {
          "readOnly": true,
          "description": "Output only. The unique ID of the advertiser. Assigned by the system.",
          "type": "string",
          "format": "int64"
        },
        "containsEuPoliticalAds": {
          "enumDescriptions": [
            "Unknown.",
            "Contains EU political advertising.",
            "Does not contain EU political advertising."
          ],
          "description": "Optional. Whether this advertiser contains line items that serve European Union political ads. If this field is set to `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING`, then the following will happen: * Any new line items created under this advertiser will be assigned `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` if not otherwise specified. * Any existing line items under this advertiser that do not have a set value be updated to `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` within a day.",
          "type": "string",
          "enum": [
            "EU_POLITICAL_ADVERTISING_STATUS_UNKNOWN",
            "CONTAINS_EU_POLITICAL_ADVERTISING",
            "DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING"
          ]
        },
        "generalConfig": {
          "$ref": "AdvertiserGeneralConfig",
          "description": "Required. General settings of the advertiser."
        }
      },
      "id": "Advertiser",
      "type": "object"
    },
    "BulkListAssignedTargetingOptionsResponse": {
      "id": "BulkListAssignedTargetingOptionsResponse",
      "properties": {
        "lineItemAssignedTargetingOptions": {
          "items": {
            "$ref": "LineItemAssignedTargetingOption"
          },
          "type": "array",
          "description": "The list of wrapper objects, each providing an assigned targeting option and the line item it is assigned to. This list will be absent if empty."
        },
        "nextPageToken": {
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent call to `BulkListAssignedTargetingOptions` to fetch the next page of results. This token will be absent if there are no more line_item_assigned_targeting_options to return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Site": {
      "description": "A single site. Sites are apps or websites belonging to a channel.",
      "id": "Site",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the site.",
          "readOnly": true
        },
        "urlOrAppId": {
          "description": "Required. The app ID or URL of the site. Must be UTF-8 encoded with a maximum length of 240 bytes.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SessionPositionAssignedTargetingOptionDetails": {
      "type": "object",
      "description": "Details for session position assigned targeting option. This will be populated in the session_position_details field when targeting_type is `TARGETING_TYPE_SESSION_POSITION`.",
      "properties": {
        "sessionPosition": {
          "enumDescriptions": [
            "This is a placeholder, does not indicate any positions.",
            "The first impression of the session."
          ],
          "type": "string",
          "enum": [
            "SESSION_POSITION_UNSPECIFIED",
            "SESSION_POSITION_FIRST_IMPRESSION"
          ],
          "description": "The position where the ad will show in a session."
        }
      },
      "id": "SessionPositionAssignedTargetingOptionDetails"
    },
    "Creative": {
      "description": "A single Creative.",
      "id": "Creative",
      "type": "object",
      "properties": {
        "exitEvents": {
          "description": "Required. Exit events for this creative. An exit (also known as a click tag) is any area in your creative that someone can click or tap to open an advertiser's landing page. Every creative must include at least one exit. You can add an exit to your creative in any of the following ways: * Use Google Web Designer's tap area. * Define a JavaScript variable called \"clickTag\". * Use the Enabler (Enabler.exit()) to track exits in rich media formats.",
          "items": {
            "$ref": "ExitEvent"
          },
          "type": "array"
        },
        "html5Video": {
          "description": "Output only. Indicates the third-party VAST tag creative requires HTML5 Video support. Output only and only valid for third-party VAST tag creatives. Third-party VAST tag creatives are creatives with following hosting_source: * `HOSTING_SOURCE_THIRD_PARTY` combined with following creative_type: * `CREATIVE_TYPE_VIDEO`",
          "readOnly": true,
          "type": "boolean"
        },
        "progressOffset": {
          "description": "Optional. Amount of time to play the video before counting a view. This field is required when skippable is true. This field is only supported for the following creative_type: * `CREATIVE_TYPE_VIDEO`",
          "$ref": "AudioVideoOffset"
        },
        "timerEvents": {
          "description": "Optional. Timer custom events for a rich media creative. Timers track the time during which a user views and interacts with a specified part of a rich media creative. A creative can have multiple timer events, each timed independently. Leave it empty or unset for creatives containing image assets only.",
          "items": {
            "$ref": "TimerEvent"
          },
          "type": "array"
        },
        "lineItemIds": {
          "readOnly": true,
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The IDs of the line items this creative is associated with. To associate a creative to a line item, use LineItem.creative_ids instead."
        },
        "creativeAttributes": {
          "type": "array",
          "description": "Output only. A list of attributes of the creative that is generated by the system.",
          "items": {
            "type": "string",
            "enum": [
              "CREATIVE_ATTRIBUTE_UNSPECIFIED",
              "CREATIVE_ATTRIBUTE_VAST",
              "CREATIVE_ATTRIBUTE_VPAID_LINEAR",
              "CREATIVE_ATTRIBUTE_VPAID_NON_LINEAR"
            ],
            "enumDescriptions": [
              "The creative attribute is not specified or is unknown in this version.",
              "The creative is a VAST creative.",
              "The creative is a linear VPAID creative.",
              "The creative is a non-linear VPAID creative."
            ]
          },
          "readOnly": true
        },
        "dynamic": {
          "description": "Output only. Indicates whether the creative is dynamic.",
          "readOnly": true,
          "type": "boolean"
        },
        "additionalDimensions": {
          "description": "Optional. Additional dimensions. Applicable when creative_type is one of: * `CREATIVE_TYPE_STANDARD` * `CREATIVE_TYPE_EXPANDABLE` * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_LIGHTBOX` * `CREATIVE_TYPE_PUBLISHER_HOSTED` If this field is specified, width_pixels and height_pixels are both required and must be greater than or equal to 0.",
          "items": {
            "$ref": "Dimensions"
          },
          "type": "array"
        },
        "requirePingForAttribution": {
[...]
