{
  "baseUrl": "https://displayvideo.googleapis.com/",
  "mtlsRootUrl": "https://displayvideo.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "Site": {
      "description": "A single site. Sites are apps or websites belonging to a channel.",
      "id": "Site",
      "properties": {
        "urlOrAppId": {
          "type": "string",
          "description": "Required. The app ID or URL of the site. Must be UTF-8 encoded with a maximum length of 240 bytes."
        },
        "name": {
          "description": "Output only. The resource name of the site.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "NegativeKeywordListAssignedTargetingOptionDetails": {
      "description": "Targeting details for negative keyword list. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST`.",
      "properties": {
        "negativeKeywordListId": {
          "description": "Required. ID of the negative keyword list. Should refer to the negative_keyword_list_id field of a NegativeKeywordList resource.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "NegativeKeywordListAssignedTargetingOptionDetails",
      "type": "object"
    },
    "AppAssignedTargetingOptionDetails": {
      "description": "Details for assigned app targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_APP`.",
      "properties": {
        "appId": {
          "description": "Required. The ID of the app. Android's Play store app uses bundle ID, for example `com.google.android.gm`. Apple's App store app ID uses 9 digit string, for example `422689480`.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The display name of the app.",
          "readOnly": true,
          "type": "string"
        },
        "appPlatform": {
          "description": "Indicates the platform of the targeted app. If this field is not specified, the app platform will be assumed to be mobile (i.e., Android or iOS), and we will derive the appropriate mobile platform from the app ID.",
          "enumDescriptions": [
            "Default value when app platform is not specified in this version. This enum is a placeholder for default value and does not represent a real platform option.",
            "The app platform is iOS.",
            "The app platform is Android.",
            "The app platform is Roku.",
            "The app platform is Amazon FireTV.",
            "The app platform is Playstation.",
            "The app platform is Apple TV.",
            "The app platform is Xbox.",
            "The app platform is Samsung TV.",
            "The app platform is Android TV.",
            "The app platform is a CTV platform that is not explicitly listed elsewhere.",
            "The app platform is LG TV.",
            "The app platform is VIZIO TV.",
            "The app platform is Vidaa."
          ],
          "type": "string",
          "enum": [
            "APP_PLATFORM_UNSPECIFIED",
            "APP_PLATFORM_IOS",
            "APP_PLATFORM_ANDROID",
            "APP_PLATFORM_ROKU",
            "APP_PLATFORM_AMAZON_FIRETV",
            "APP_PLATFORM_PLAYSTATION",
            "APP_PLATFORM_APPLE_TV",
            "APP_PLATFORM_XBOX",
            "APP_PLATFORM_SAMSUNG_TV",
            "APP_PLATFORM_ANDROID_TV",
            "APP_PLATFORM_GENERIC_CTV",
            "APP_PLATFORM_LG_TV",
            "APP_PLATFORM_VIZIO_TV",
            "APP_PLATFORM_VIDAA"
          ]
        },
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        }
      },
      "id": "AppAssignedTargetingOptionDetails",
      "type": "object"
    },
    "SessionPositionAssignedTargetingOptionDetails": {
      "properties": {
        "sessionPosition": {
          "type": "string",
          "enum": [
            "SESSION_POSITION_UNSPECIFIED",
            "SESSION_POSITION_FIRST_IMPRESSION"
          ],
          "enumDescriptions": [
            "This is a placeholder, does not indicate any positions.",
            "The first impression of the session."
          ],
          "description": "The position where the ad will show in a session."
        }
      },
      "description": "Details for session position assigned targeting option. This will be populated in the session_position_details field when targeting_type is `TARGETING_TYPE_SESSION_POSITION`.",
      "type": "object",
      "id": "SessionPositionAssignedTargetingOptionDetails"
    },
    "BulkUpdateLineItemsRequest": {
      "properties": {
        "lineItemIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Required. IDs of line items to update."
        },
        "targetLineItem": {
          "description": "Required. A line item object containing the fields to be updated and the new values to assign to all line items specified in line_item_ids.\"",
          "$ref": "LineItem"
        },
        "updateMask": {
          "description": "Required. A field mask identifying which fields to update. Only the following fields are currently supported: * entityStatus * containsEuPoliticalAds",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "description": "Request message for LineItemService.BulkUpdateLineItems.",
      "type": "object",
      "id": "BulkUpdateLineItemsRequest"
    },
    "PartnerBillingConfig": {
      "description": "Billing related settings of a partner.",
      "id": "PartnerBillingConfig",
      "properties": {
        "billingProfileId": {
          "description": "The ID of a partner default billing profile.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "ScriptError": {
      "properties": {
        "errorMessage": {
          "description": "The detailed error message.",
          "type": "string"
        },
        "line": {
          "type": "string",
          "format": "int64",
          "description": "The line number in the script where the error was thrown."
        },
        "column": {
          "format": "int64",
          "type": "string",
          "description": "The column number in the script where the error was thrown."
        },
        "errorCode": {
          "description": "The type of error.",
          "enumDescriptions": [
            "The script error is not specified or is unknown in this version.",
            "The script has a syntax error.",
            "The script uses deprecated syntax.",
            "Internal errors were thrown while processing the script."
          ],
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "SYNTAX_ERROR",
            "DEPRECATED_SYNTAX",
            "INTERNAL_ERROR"
          ]
        }
      },
      "id": "ScriptError",
      "description": "An error message for a custom bidding script.",
      "type": "object"
    },
    "ReviewStatusInfo": {
      "description": "Review statuses for the creative.",
      "properties": {
        "creativeAndLandingPageReviewStatus": {
          "type": "string",
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "REVIEW_STATUS_APPROVED",
            "REVIEW_STATUS_REJECTED",
            "REVIEW_STATUS_PENDING"
          ],
          "description": "Creative and landing page review status for the creative.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The creative is approved.",
            "The creative is rejected.",
            "The creative is pending review."
          ]
        },
        "exchangeReviewStatuses": {
          "type": "array",
          "items": {
            "$ref": "ExchangeReviewStatus"
          },
          "description": "Exchange review statuses for the creative."
        },
        "publisherReviewStatuses": {
          "deprecated": true,
          "description": "Publisher review statuses for the creative.",
          "type": "array",
          "items": {
            "$ref": "PublisherReviewStatus"
          }
        },
        "approvalStatus": {
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The creative is still under review and not servable.",
            "The creative has passed creative & landing page review and is servable, but is awaiting additional content & policy review.",
            "Both creative & landing page review and content & policy review are approved. The creative is servable.",
            "There is an issue with the creative that must be fixed before it can serve."
          ],
          "description": "Represents the basic approval needed for a creative to begin serving. Summary of creative_and_landing_page_review_status and content_and_policy_review_status.",
          "type": "string",
          "enum": [
            "APPROVAL_STATUS_UNSPECIFIED",
            "APPROVAL_STATUS_PENDING_NOT_SERVABLE",
            "APPROVAL_STATUS_PENDING_SERVABLE",
            "APPROVAL_STATUS_APPROVED_SERVABLE",
            "APPROVAL_STATUS_REJECTED_NOT_SERVABLE"
          ]
        },
        "contentAndPolicyReviewStatus": {
          "description": "Content and policy review status for the creative.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The creative is approved.",
            "The creative is rejected.",
            "The creative is pending review."
          ],
          "type": "string",
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "REVIEW_STATUS_APPROVED",
            "REVIEW_STATUS_REJECTED",
            "REVIEW_STATUS_PENDING"
          ]
        }
      },
      "type": "object",
      "id": "ReviewStatusInfo"
    },
    "DoubleVerifyAppStarRating": {
      "id": "DoubleVerifyAppStarRating",
      "properties": {
        "avoidedStarRating": {
          "description": "Avoid bidding on apps with the star ratings.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any app star rating options.",
            "Official Apps with rating < 1.5 Stars.",
            "Official Apps with rating < 2 Stars.",
            "Official Apps with rating < 2.5 Stars.",
            "Official Apps with rating < 3 Stars.",
            "Official Apps with rating < 3.5 Stars.",
            "Official Apps with rating < 4 Stars.",
            "Official Apps with rating < 4.5 Stars."
          ],
          "type": "string",
          "enum": [
            "APP_STAR_RATE_UNSPECIFIED",
            "APP_STAR_RATE_1_POINT_5_LESS",
            "APP_STAR_RATE_2_LESS",
            "APP_STAR_RATE_2_POINT_5_LESS",
            "APP_STAR_RATE_3_LESS",
            "APP_STAR_RATE_3_POINT_5_LESS",
            "APP_STAR_RATE_4_LESS",
            "APP_STAR_RATE_4_POINT_5_LESS"
          ]
        },
        "avoidInsufficientStarRating": {
          "type": "boolean",
          "description": "Avoid bidding on apps with insufficient star ratings."
        }
      },
      "type": "object",
      "description": "Details of DoubleVerify star ratings settings."
    },
    "AdPolicyTopicConstraintAdPolicyResellerConstraint": {
      "description": "Policy topic was constrained due to disapproval of the website for reseller purposes.",
      "properties": {},
      "type": "object",
      "id": "AdPolicyTopicConstraintAdPolicyResellerConstraint"
    },
    "TargetingOption": {
      "id": "TargetingOption",
      "description": "Represents a single targeting option, which is a targetable concept in DV360.",
      "type": "object",
      "properties": {
        "nativeContentPositionDetails": {
          "$ref": "NativeContentPositionTargetingOptionDetails",
          "description": "Native content position details."
        },
        "audioContentTypeDetails": {
          "description": "Audio content type details.",
          "$ref": "AudioContentTypeTargetingOptionDetails"
        },
        "appCategoryDetails": {
          "$ref": "AppCategoryTargetingOptionDetails",
          "description": "App category details."
        },
        "omidDetails": {
          "$ref": "OmidTargetingOptionDetails",
          "description": "Open Measurement enabled inventory details."
        },
        "genderDetails": {
          "description": "Gender details.",
          "$ref": "GenderTargetingOptionDetails"
        },
        "environmentDetails": {
          "description": "Environment details.",
          "$ref": "EnvironmentTargetingOptionDetails"
        },
        "languageDetails": {
          "description": "Language resource details.",
          "$ref": "LanguageTargetingOptionDetails"
        },
        "deviceMakeModelDetails": {
          "description": "Device make and model resource details.",
          "$ref": "DeviceMakeModelTargetingOptionDetails"
        },
        "authorizedSellerStatusDetails": {
          "$ref": "AuthorizedSellerStatusTargetingOptionDetails",
          "description": "Authorized seller status resource details."
        },
        "videoPlayerSizeDetails": {
          "description": "Video player size details.",
          "$ref": "VideoPlayerSizeTargetingOptionDetails"
        },
        "sensitiveCategoryDetails": {
          "description": "Sensitive Category details.",
          "$ref": "SensitiveCategoryTargetingOptionDetails"
        },
        "categoryDetails": {
          "description": "Category resource details.",
          "$ref": "CategoryTargetingOptionDetails"
        },
        "poiDetails": {
          "description": "POI resource details.",
          "$ref": "PoiTargetingOptionDetails"
        },
        "carrierAndIspDetails": {
          "$ref": "CarrierAndIspTargetingOptionDetails",
          "description": "Carrier and ISP details."
        },
        "targetingType": {
          "description": "Output only. The type of this targeting option.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value when type is not specified or is unknown in this version.",
            "Target a channel (a custom group of related websites or apps).",
            "Target an app category (for example, education or puzzle games).",
            "Target a specific app (for example, Angry Birds).",
            "Target a specific url (for example, quora.com).",
            "Target ads during a chosen time period on a specific day.",
            "Target ads to a specific age range (for example, 18-24).",
            "Target ads to the specified regions on a regional location list.",
            "Target ads to the specified points of interest on a proximity location list.",
            "Target ads to a specific gender (for example, female or male).",
            "Target a specific video player size for video ads.",
            "Target user rewarded content for video ads.",
            "Target ads to a specific parental status (for example, parent or not a parent).",
            "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
            "Target ads in a specific content outstream position.",
            "Target ads to a specific device type (for example, tablet or connected TV).",
            "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
            "Target ads to specific web browsers (for example, Chrome).",
            "Target ads to a specific household income range (for example, top 10%).",
            "Target ads in a specific on screen position.",
            "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
            "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
            "Filter website content by sensitive categories (for example, adult).",
            "Target ads to a specific environment (for example, web or app).",
            "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
            "Target ads to a specific operating system (for example, macOS).",
            "Target ads to a specific device make or model (for example, Roku or Samsung).",
            "Target ads to a specific keyword (for example, dog or retriever).",
            "Target ads to a specific negative keyword list.",
            "Target ads to a specific viewability (for example, 80% viewable).",
            "Target ads to a specific content category (for example, arts & entertainment).",
            "Purchase impressions from specific deals and auction packages.",
            "Target ads to a specific language (for example, English or Japanese).",
            "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
            "Target ads to a specific regional location (for example, a city or state).",
            "Purchase impressions from a group of deals and auction packages.",
            "Purchase impressions from specific exchanges.",
            "Purchase impressions from specific sub-exchanges.",
            "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
            "Target ads around locations of a business chain within a specific geo region.",
            "Target ads to a specific video content duration.",
            "Target ads to a specific video content stream type.",
            "Target ads to a specific native content position.",
            "Target ads in an Open Measurement enabled inventory.",
            "Target ads to a specific audio content type.",
            "Target ads to a specific content genre.",
            "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
            "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
            "Target ads to a specific YouTube channel pack."
          ],
          "type": "string",
          "enum": [
            "TARGETING_TYPE_UNSPECIFIED",
            "TARGETING_TYPE_CHANNEL",
            "TARGETING_TYPE_APP_CATEGORY",
            "TARGETING_TYPE_APP",
            "TARGETING_TYPE_URL",
            "TARGETING_TYPE_DAY_AND_TIME",
            "TARGETING_TYPE_AGE_RANGE",
            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
            "TARGETING_TYPE_GENDER",
            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
            "TARGETING_TYPE_USER_REWARDED_CONTENT",
            "TARGETING_TYPE_PARENTAL_STATUS",
            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
            "TARGETING_TYPE_DEVICE_TYPE",
            "TARGETING_TYPE_AUDIENCE_GROUP",
            "TARGETING_TYPE_BROWSER",
            "TARGETING_TYPE_HOUSEHOLD_INCOME",
            "TARGETING_TYPE_ON_SCREEN_POSITION",
            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
            "TARGETING_TYPE_ENVIRONMENT",
            "TARGETING_TYPE_CARRIER_AND_ISP",
            "TARGETING_TYPE_OPERATING_SYSTEM",
            "TARGETING_TYPE_DEVICE_MAKE_MODEL",
            "TARGETING_TYPE_KEYWORD",
            "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
            "TARGETING_TYPE_VIEWABILITY",
            "TARGETING_TYPE_CATEGORY",
            "TARGETING_TYPE_INVENTORY_SOURCE",
            "TARGETING_TYPE_LANGUAGE",
            "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
            "TARGETING_TYPE_GEO_REGION",
            "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
            "TARGETING_TYPE_EXCHANGE",
            "TARGETING_TYPE_SUB_EXCHANGE",
            "TARGETING_TYPE_POI",
            "TARGETING_TYPE_BUSINESS_CHAIN",
            "TARGETING_TYPE_CONTENT_DURATION",
            "TARGETING_TYPE_CONTENT_STREAM_TYPE",
            "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
            "TARGETING_TYPE_OMID",
            "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
            "TARGETING_TYPE_CONTENT_GENRE",
            "TARGETING_TYPE_YOUTUBE_VIDEO",
            "TARGETING_TYPE_YOUTUBE_CHANNEL",
            "TARGETING_TYPE_SESSION_POSITION",
            "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
            "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
          ]
        },
        "subExchangeDetails": {
          "$ref": "SubExchangeTargetingOptionDetails",
          "description": "Sub-exchange details."
        },
        "contentDurationDetails": {
          "description": "Content duration resource details.",
          "$ref": "ContentDurationTargetingOptionDetails"
        },
        "operatingSystemDetails": {
          "description": "Operating system resources details.",
          "$ref": "OperatingSystemTargetingOptionDetails"
        },
        "name": {
          "description": "Output only. The resource name for this targeting option.",
          "readOnly": true,
          "type": "string"
        },
        "contentStreamTypeDetails": {
          "description": "Content stream type resource details.",
          "$ref": "ContentStreamTypeTargetingOptionDetails"
        },
        "exchangeDetails": {
          "$ref": "ExchangeTargetingOptionDetails",
          "description": "Exchange details."
        },
        "browserDetails": {
          "description": "Browser details.",
          "$ref": "BrowserTargetingOptionDetails"
        },
        "onScreenPositionDetails": {
          "description": "On screen position details.",
          "$ref": "OnScreenPositionTargetingOptionDetails"
        },
        "targetingOptionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A unique identifier for this targeting option. The tuple {`targeting_type`, `targeting_option_id`} will be unique."
        },
        "contentOutstreamPositionDetails": {
          "description": "Content outstream position details.",
          "$ref": "ContentOutstreamPositionTargetingOptionDetails"
        },
        "contentGenreDetails": {
          "description": "Content genre resource details.",
          "$ref": "ContentGenreTargetingOptionDetails"
        },
        "digitalContentLabelDetails": {
          "$ref": "DigitalContentLabelTargetingOptionDetails",
          "description": "Digital content label details."
        },
        "deviceTypeDetails": {
          "description": "Device type details.",
          "$ref": "DeviceTypeTargetingOptionDetails"
        },
        "viewabilityDetails": {
          "$ref": "ViewabilityTargetingOptionDetails",
          "description": "Viewability resource details."
        },
        "geoRegionDetails": {
          "description": "Geographic region resource details.",
          "$ref": "GeoRegionTargetingOptionDetails"
        },
        "contentThemeDetails": {
          "$ref": "ContentThemeTargetingOptionDetails",
          "description": "Content theme details."
        },
        "contentInstreamPositionDetails": {
          "$ref": "ContentInstreamPositionTargetingOptionDetails",
          "description": "Content instream position details."
        },
        "userRewardedContentDetails": {
          "description": "User rewarded content details.",
          "$ref": "UserRewardedContentTargetingOptionDetails"
        },
        "householdIncomeDetails": {
          "$ref": "HouseholdIncomeTargetingOptionDetails",
          "description": "Household income details."
        },
        "ageRangeDetails": {
          "$ref": "AgeRangeTargetingOptionDetails",
          "description": "Age range details."
        },
        "parentalStatusDetails": {
          "description": "Parental status details.",
          "$ref": "ParentalStatusTargetingOptionDetails"
        },
        "businessChainDetails": {
          "description": "Business chain resource details.",
          "$ref": "BusinessChainTargetingOptionDetails"
        }
      }
    },
    "AdPolicyTopicEntry": {
      "id": "AdPolicyTopicEntry",
      "type": "object",
      "description": "An entry describing how an ad has been identified as relating to an ad policy.",
      "properties": {
        "policyTopicType": {
          "type": "string",
          "enum": [
            "AD_POLICY_TOPIC_ENTRY_TYPE_UNKNOWN",
            "PROHIBITED",
            "FULLY_LIMITED",
            "LIMITED",
            "DESCRIPTIVE",
            "BROADENING",
            "AREA_OF_INTEREST_ONLY"
          ],
          "description": "How ad serving will be affected due to the relation to the ad policy topic.",
          "enumDescriptions": [
            "Unknown or not specified.",
            "The resource will not serve.",
            "The resource will not serve in all targeted countries.",
            "The resource cannot serve in some countries.",
            "The resource can serve.",
            "The resource can serve, and may serve beyond normal coverage.",
            "The resource is constrained for all targeted countries, but may serve for users who are searching for information about the targeted countries."
          ]
        },
        "policyEnforcementMeans": {
          "enumDescriptions": [
            "Unknown or not specified.",
            "The enforcement process was fully automated.",
            "A human was partially or fully involved in the decision enforcement process."
          ],
          "type": "string",
          "enum": [
            "AD_POLICY_ENFORCEMENT_MEANS_UNKNOWN",
            "AUTOMATED",
            "HUMAN_REVIEW"
          ],
          "description": "The policy enforcement means used in the policy review."
        },
        "policyDecisionType": {
          "description": "The source of the policy decision.",
          "enumDescriptions": [
            "Unknown or not specified.",
            "The decision is from a legal notice, court order, or trademark content owner complaint, etc.",
            "The decision is from a Google-owned investigation."
          ],
          "type": "string",
          "enum": [
            "AD_POLICY_DECISION_TYPE_UNKNOWN",
            "PURSUANT_TO_NOTICE",
            "GOOGLE_INVESTIGATION"
          ]
        },
        "policyLabel": {
          "type": "string",
          "description": "Localized label text for policy. Examples include \"Trademarks in text\", \"Contains Alcohol\", etc."
        },
        "policyTopicDescription": {
          "description": "A short summary description of the policy topic.",
          "type": "string"
        },
        "policyTopic": {
          "type": "string",
          "description": "The policy topic. Examples include \"TRADEMARKS\", \"ALCOHOL\", etc."
        },
        "policyTopicEvidences": {
          "type": "array",
          "items": {
            "$ref": "AdPolicyTopicEvidence"
          },
          "description": "The evidence used in the policy decision."
        },
        "policyTopicConstraints": {
          "description": "The serving constraints relevant to the policy decision.",
          "items": {
            "$ref": "AdPolicyTopicConstraint"
          },
          "type": "array"
        },
        "appealInfo": {
          "$ref": "AdPolicyTopicAppealInfo",
          "description": "Information on how to appeal the policy decision."
        },
        "helpCenterLink": {
          "type": "string",
          "description": "Ad policy help center link for the policy topic."
        }
      }
    },
    "BulkEditAssignedUserRolesResponse": {
      "properties": {
        "createdAssignedUserRoles": {
          "type": "array",
          "items": {
            "$ref": "AssignedUserRole"
          },
          "description": "The list of assigned user roles that have been successfully created. This list will be absent if empty."
        }
      },
      "id": "BulkEditAssignedUserRolesResponse",
      "type": "object"
    },
    "ExchangeConfig": {
      "properties": {
        "enabledExchanges": {
          "items": {
            "$ref": "ExchangeConfigEnabledExchange"
          },
          "description": "All enabled exchanges in the partner. Duplicate enabled exchanges will be ignored.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ExchangeConfig",
      "description": "Settings that control which exchanges are enabled for a partner."
    },
    "CreateAssetResponse": {
      "id": "CreateAssetResponse",
      "description": "A response message for CreateAsset.",
      "type": "object",
      "properties": {
        "asset": {
          "$ref": "Asset",
          "description": "The uploaded asset, if successful."
        }
      }
    },
    "BulkEditAssignedLocationsResponse": {
      "properties": {
        "assignedLocations": {
          "description": "The list of assigned locations that have been successfully created. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "AssignedLocation"
          }
        }
      },
      "id": "BulkEditAssignedLocationsResponse",
      "type": "object"
    },
    "AdvertiserCreativeConfig": {
      "id": "AdvertiserCreativeConfig",
      "type": "object",
      "properties": {
        "dynamicCreativeEnabled": {
          "type": "boolean",
          "description": "Whether or not the advertiser is enabled for dynamic creatives."
        },
        "iasClientId": {
          "type": "string",
          "format": "int64",
          "description": "An ID for configuring campaign monitoring provided by Integral Ad Service (IAS). The DV360 system will append an IAS \"Campaign Monitor\" tag containing this ID to the creative tag."
        },
        "obaComplianceDisabled": {
          "type": "boolean",
          "description": "Whether or not to disable Google's About this Ad feature that adds badging (to identify the content as an ad) and transparency information (on interaction with About this Ad) to your ads for Online Behavioral Advertising (OBA) and regulatory requirements. About this Ad gives users greater control over the ads they see and helps you explain why they're seeing your ad. [Learn more](//support.google.com/displayvideo/answer/14315795). If you choose to set this field to `true`, note that ads served through Display & Video 360 must comply to the following: * Be Online Behavioral Advertising (OBA) compliant, as per your contract with Google Marketing Platform. * In the European Economic Area (EEA), include transparency information and a mechanism for users to report illegal content in ads. If using an alternative ad badging, transparency, and reporting solution, you must ensure it includes the required transparency information and illegal content flagging mechanism and that you notify Google of any illegal content reports using the appropriate [form](//support.google.com/legal/troubleshooter/1114905?sjid=6787484030557261960-EU#ts=2981967%2C2982031%2C12980091)."
        },
        "videoCreativeDataSharingAuthorized": {
          "description": "By setting this field to `true`, you, on behalf of your company, authorize Google to use video creatives associated with this Display & Video 360 advertiser to provide reporting and features related to the advertiser's television campaigns. Applicable only when the advertiser has a CM360 hybrid ad server configuration.",
          "type": "boolean"
        }
      },
      "description": "Creatives related settings of an advertiser."
    },
    "CreateSdfDownloadTaskRequest": {
      "description": "Request message for [SdfDownloadTaskService.CreateSdfDownloadTask].",
      "id": "CreateSdfDownloadTaskRequest",
      "type": "object",
      "properties": {
        "advertiserId": {
          "description": "The ID of the advertiser to download SDF for.",
          "format": "int64",
          "type": "string"
        },
        "version": {
          "description": "Required. The SDF version of the downloaded file. If set to `SDF_VERSION_UNSPECIFIED`, this will default to the version specified by the advertiser or partner identified by `root_id`. An advertiser inherits its SDF version from its partner unless configured otherwise.",
          "type": "string",
          "enum": [
            "SDF_VERSION_UNSPECIFIED",
            "SDF_VERSION_3_1",
            "SDF_VERSION_4",
            "SDF_VERSION_4_1",
            "SDF_VERSION_4_2",
            "SDF_VERSION_5",
            "SDF_VERSION_5_1",
            "SDF_VERSION_5_2",
            "SDF_VERSION_5_3",
            "SDF_VERSION_5_4",
            "SDF_VERSION_5_5",
            "SDF_VERSION_6",
            "SDF_VERSION_7",
            "SDF_VERSION_7_1",
            "SDF_VERSION_8",
            "SDF_VERSION_8_1",
            "SDF_VERSION_9",
            "SDF_VERSION_9_1",
            "SDF_VERSION_9_2",
            "SDF_VERSION_10",
            "SDF_VERSION_10_1"
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "SDF version value is not specified or is unknown in this version.",
            "SDF version 3.1",
            "SDF version 4",
            "SDF version 4.1",
            "SDF version 4.2",
            "SDF version 5.",
            "SDF version 5.1",
            "SDF version 5.2",
            "SDF version 5.3",
            "SDF version 5.4",
            "SDF version 5.5",
            "SDF version 6",
            "SDF version 7. Read the [v7 migration guide](/display-video/api/structured-data-file/v7-migration-guide) before migrating to this version.",
            "SDF version 7.1. Read the [v7 migration guide](/display-video/api/structured-data-file/v7-migration-guide) before migrating to this version.",
            "SDF version 8. Read the [v8 migration guide](/display-video/api/structured-data-file/v8-migration-guide) before migrating to this version.",
            "SDF version 8.1.",
            "SDF version 9. Read the [v9 migration guide](/display-video/api/structured-data-file/v9-migration-guide) before migrating to this version.",
            "SDF version 9.1.",
            "SDF version 9.2.",
            "SDF version 10.",
            "SDF version 10.1."
          ]
        },
        "inventorySourceFilter": {
          "description": "Filters on Inventory Sources by their IDs.",
          "$ref": "InventorySourceFilter"
        },
        "parentEntityFilter": {
          "$ref": "ParentEntityFilter",
          "description": "Filters on selected file types. The entities in each file are filtered by a chosen set of filter entities. The filter entities must be the same type as, or a parent type of, the selected file types."
        },
        "idFilter": {
          "$ref": "IdFilter",
          "description": "Filters on entities by their entity IDs."
        },
        "partnerId": {
          "format": "int64",
          "description": "The ID of the partner to download SDF for.",
          "type": "string"
        }
      }
    },
    "PartnerGeneralConfig": {
      "description": "General settings of a partner.",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Immutable. The standard TZ database name of the partner's time zone. For example, `America/New_York`. See more at: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones"
        },
        "currencyCode": {
          "description": "Immutable. Partner's currency in ISO 4217 format.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PartnerGeneralConfig"
    },
    "DeviceTypeAssignedTargetingOptionDetails": {
      "id": "DeviceTypeAssignedTargetingOptionDetails",
      "type": "object",
      "properties": {
        "deviceType": {
          "description": "Required. The display name of the device type.",
          "enumDescriptions": [
            "Default value when device type is not specified in this version. This enum is a placeholder for default value and does not represent a real device type option.",
            "Computer.",
            "Connected TV.",
            "Smart phone.",
            "Tablet.",
            "Connected device."
          ],
          "type": "string",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_COMPUTER",
            "DEVICE_TYPE_CONNECTED_TV",
            "DEVICE_TYPE_SMART_PHONE",
            "DEVICE_TYPE_TABLET",
            "DEVICE_TYPE_CONNECTED_DEVICE"
          ]
        },
        "youtubeAndPartnersBidMultiplier": {
          "description": "Output only. Bid multiplier allows you to show your ads more or less frequently based on the device type. It will apply a multiplier on the original bid price. When this field is 0, it indicates this field is not applicable instead of multiplying 0 on the original bid price. For example, if the bid price without multiplier is $10.0 and the multiplier is 1.5 for Tablet, the resulting bid price for Tablet will be $15.0. Only applicable to YouTube and Partners line items.",
          "type": "number",
          "format": "double",
          "readOnly": true
        }
      },
      "description": "Targeting details for device type. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_DEVICE_TYPE`."
    },
    "AlgorithmRulesComparisonValue": {
      "type": "object",
      "description": "A value to compare the signal to.",
      "properties": {
        "dayAndTimeValue": {
          "$ref": "DayAndTime",
          "description": "Day and time value. Only `TIME_ZONE_RESOLUTION_END_USER` is supported."
        },
        "contentDurationValue": {
          "description": "Video content duration value.",
          "enumDescriptions": [
            "Content duration is not specified in this version. This enum is a place holder for a default value and does not represent a real content duration.",
            "The content duration is unknown.",
            "Content is 0-1 minute long.",
            "Content is 1-5 minutes long.",
            "Content is 5-15 minutes long.",
            "Content is 15-30 minutes long.",
            "Content is 30-60 minutes long.",
            "Content is over 60 minutes long."
          ],
          "type": "string",
          "enum": [
            "CONTENT_DURATION_UNSPECIFIED",
            "CONTENT_DURATION_UNKNOWN",
            "CONTENT_DURATION_0_TO_1_MIN",
            "CONTENT_DURATION_1_TO_5_MIN",
            "CONTENT_DURATION_5_TO_15_MIN",
            "CONTENT_DURATION_15_TO_30_MIN",
            "CONTENT_DURATION_30_TO_60_MIN",
            "CONTENT_DURATION_OVER_60_MIN"
          ]
        },
        "boolValue": {
          "type": "boolean",
          "description": "Boolean value."
        },
        "creativeDimensionValue": {
          "$ref": "Dimensions",
          "description": "Creative dimension value."
        },
        "onScreenPositionValue": {
          "type": "string",
          "enum": [
            "ON_SCREEN_POSITION_UNSPECIFIED",
            "ON_SCREEN_POSITION_UNKNOWN",
            "ON_SCREEN_POSITION_ABOVE_THE_FOLD",
            "ON_SCREEN_POSITION_BELOW_THE_FOLD"
          ],
          "enumDescriptions": [
            "On screen position is not specified in this version. This enum is a place holder for a default value and does not represent a real on screen position.",
            "The ad position is unknown on the screen.",
            "The ad is located above the fold.",
            "The ad is located below the fold."
          ],
          "description": "Ad position value."
        },
        "videoPlayerSizeValue": {
          "type": "string",
          "enum": [
            "VIDEO_PLAYER_SIZE_UNSPECIFIED",
            "VIDEO_PLAYER_SIZE_SMALL",
            "VIDEO_PLAYER_SIZE_LARGE",
            "VIDEO_PLAYER_SIZE_HD",
            "VIDEO_PLAYER_SIZE_UNKNOWN"
          ],
          "description": "Video player size value. This field is only supported for allowlisted partners.",
          "enumDescriptions": [
            "Video player size is not specified in this version. This enum is a place holder for a default value and does not represent a real video player size.",
            "The dimensions of the video player are less than 400×300 (desktop), or up to 20% of screen covered (mobile).",
            "The dimensions of the video player are between 400x300 and 1280x720 pixels (desktop), or 20% to 90% of the screen covered (mobile).",
            "The dimensions of the video player are 1280×720 or greater (desktop), or over 90% of the screen covered (mobile).",
            "The dimensions of the video player are unknown."
          ]
        },
        "deviceTypeValue": {
          "description": "Device type value.",
          "type": "string",
          "enum": [
            "RULE_DEVICE_TYPE_UNSPECIFIED",
            "RULE_DEVICE_TYPE_COMPUTER",
            "RULE_DEVICE_TYPE_CONNECTED_TV",
            "RULE_DEVICE_TYPE_SMART_PHONE",
            "RULE_DEVICE_TYPE_TABLET",
            "RULE_DEVICE_TYPE_CONNECTED_DEVICE",
            "RULE_DEVICE_TYPE_SET_TOP_BOX"
          ],
          "enumDescriptions": [
            "Default value when device type is not specified in this version. This enum is a placeholder for default value and does not represent a real device type option.",
            "Computer.",
            "Connected TV.",
            "Smart phone.",
            "Tablet.",
            "Connected device.",
            "Set top box."
          ]
        },
        "exchangeValue": {
          "enumDescriptions": [
            "Exchange is not specified or is unknown in this version.",
            "Google Ad Manager.",
            "AppNexus.",
            "BrightRoll Exchange for Video from Yahoo!.",
            "Adform.",
            "Admeta.",
            "Admixer.",
            "AdsMogo.",
            "AdsWizz.",
            "BidSwitch.",
            "BrightRoll Exchange for Display from Yahoo!.",
            "Cadreon.",
            "Dailymotion.",
            "Five.",
            "Fluct.",
            "FreeWheel SSP.",
            "Geniee.",
            "GumGum.",
            "i-mobile.",
            "iBILLBOARD.",
            "Improve Digital.",
            "Index Exchange.",
            "Kargo.",
            "MicroAd.",
            "MoPub.",
            "Nend.",
            "ONE by AOL: Display Market Place.",
            "ONE by AOL: Mobile.",
            "ONE by AOL: Video.",
            "Ooyala.",
            "OpenX.",
            "Permodo.",
            "Platform One.",
            "PlatformId.",
            "PubMatic.",
            "PulsePoint.",
            "RevenueMax.",
            "Rubicon.",
            "SmartClip.",
            "SmartRTB+.",
            "SmartstreamTv.",
            "Sovrn.",
            "SpotXchange.",
            "Ströer SSP.",
            "TeadsTv.",
            "Telaria.",
            "TVN.",
            "United.",
            "Yieldlab.",
            "Yieldmo.",
            "UnrulyX.",
            "Open8.",
            "Triton.",
            "TripleLift.",
            "Taboola.",
            "InMobi.",
            "Smaato.",
            "Aja.",
            "Supership.",
            "Nexstar Digital.",
            "Waze.",
            "SoundCast.",
            "Sharethrough.",
            "Fyber.",
            "Red For Publishers.",
            "Media.net.",
            "Tapjoy.",
            "Vistar.",
            "DAX.",
            "JCD.",
            "Place Exchange.",
            "AppLovin.",
            "Connatix.",
            "Reset Digital.",
            "Hivestack.",
            "Drax.",
            "AppLovin MAX.",
            "DT Fairbid.",
            "Unity LevelPlay.",
            "Chartboost Mediation.",
            "AdMost.",
            "TopOn.",
            "Netflix.",
            "Core.",
            "Commerce Grid.",
            "Spotify.",
            "Tubi.",
            "Snap.",
            "Cadent.",
            "Exte."
          ],
          "type": "string",
          "enum": [
            "EXCHANGE_UNSPECIFIED",
            "EXCHANGE_GOOGLE_AD_MANAGER",
            "EXCHANGE_APPNEXUS",
            "EXCHANGE_BRIGHTROLL",
            "EXCHANGE_ADFORM",
            "EXCHANGE_ADMETA",
            "EXCHANGE_ADMIXER",
            "EXCHANGE_ADSMOGO",
            "EXCHANGE_ADSWIZZ",
            "EXCHANGE_BIDSWITCH",
            "EXCHANGE_BRIGHTROLL_DISPLAY",
            "EXCHANGE_CADREON",
            "EXCHANGE_DAILYMOTION",
            "EXCHANGE_FIVE",
            "EXCHANGE_FLUCT",
            "EXCHANGE_FREEWHEEL",
            "EXCHANGE_GENIEE",
            "EXCHANGE_GUMGUM",
            "EXCHANGE_IMOBILE",
            "EXCHANGE_IBILLBOARD",
            "EXCHANGE_IMPROVE_DIGITAL",
            "EXCHANGE_INDEX",
            "EXCHANGE_KARGO",
            "EXCHANGE_MICROAD",
            "EXCHANGE_MOPUB",
            "EXCHANGE_NEND",
            "EXCHANGE_ONE_BY_AOL_DISPLAY",
            "EXCHANGE_ONE_BY_AOL_MOBILE",
            "EXCHANGE_ONE_BY_AOL_VIDEO",
            "EXCHANGE_OOYALA",
            "EXCHANGE_OPENX",
            "EXCHANGE_PERMODO",
            "EXCHANGE_PLATFORMONE",
            "EXCHANGE_PLATFORMID",
            "EXCHANGE_PUBMATIC",
            "EXCHANGE_PULSEPOINT",
            "EXCHANGE_REVENUEMAX",
            "EXCHANGE_RUBICON",
            "EXCHANGE_SMARTCLIP",
            "EXCHANGE_SMARTRTB",
            "EXCHANGE_SMARTSTREAMTV",
            "EXCHANGE_SOVRN",
            "EXCHANGE_SPOTXCHANGE",
            "EXCHANGE_STROER",
            "EXCHANGE_TEADSTV",
            "EXCHANGE_TELARIA",
            "EXCHANGE_TVN",
            "EXCHANGE_UNITED",
            "EXCHANGE_YIELDLAB",
            "EXCHANGE_YIELDMO",
            "EXCHANGE_UNRULYX",
            "EXCHANGE_OPEN8",
            "EXCHANGE_TRITON",
            "EXCHANGE_TRIPLELIFT",
            "EXCHANGE_TABOOLA",
            "EXCHANGE_INMOBI",
            "EXCHANGE_SMAATO",
            "EXCHANGE_AJA",
            "EXCHANGE_SUPERSHIP",
            "EXCHANGE_NEXSTAR_DIGITAL",
            "EXCHANGE_WAZE",
            "EXCHANGE_SOUNDCAST",
            "EXCHANGE_SHARETHROUGH",
            "EXCHANGE_FYBER",
            "EXCHANGE_RED_FOR_PUBLISHERS",
            "EXCHANGE_MEDIANET",
            "EXCHANGE_TAPJOY",
            "EXCHANGE_VISTAR",
            "EXCHANGE_DAX",
            "EXCHANGE_JCD",
            "EXCHANGE_PLACE_EXCHANGE",
            "EXCHANGE_APPLOVIN",
            "EXCHANGE_CONNATIX",
            "EXCHANGE_RESET_DIGITAL",
            "EXCHANGE_HIVESTACK",
            "EXCHANGE_DRAX",
            "EXCHANGE_APPLOVIN_GBID",
            "EXCHANGE_FYBER_GBID",
            "EXCHANGE_UNITY_GBID",
            "EXCHANGE_CHARTBOOST_GBID",
            "EXCHANGE_ADMOST_GBID",
            "EXCHANGE_TOPON_GBID",
            "EXCHANGE_NETFLIX",
            "EXCHANGE_CORE",
            "EXCHANGE_COMMERCE_GRID",
            "EXCHANGE_SPOTIFY",
            "EXCHANGE_TUBI",
            "EXCHANGE_SNAP",
            "EXCHANGE_CADENT",
            "EXCHANGE_EXTE"
          ],
          "description": "Exchange value."
        },
        "contentStreamTypeValue": {
          "enumDescriptions": [
            "Content stream type is not specified in this version. This enum is a place holder for a default value and does not represent a real content stream type.",
            "The content is being live-streamed.",
            "The content is viewed on-demand."
          ],
          "description": "Video delivery type value.",
          "type": "string",
          "enum": [
            "CONTENT_STREAM_TYPE_UNSPECIFIED",
            "CONTENT_LIVE_STREAM",
            "CONTENT_ON_DEMAND"
          ]
        },
        "int64Value": {
          "description": "Integer value.",
          "type": "string",
          "format": "int64"
        },
        "environmentValue": {
          "enumDescriptions": [
            "Default value when environment is not specified in this version. This enum is a placeholder for default value and does not represent a real environment option.",
            "Target inventory displayed in browsers. This includes inventory that was designed for the device it was viewed on, such as mobile websites viewed on a mobile device. ENVIRONMENT_WEB_NOT_OPTIMIZED, if targeted, should be deleted prior to the deletion of this targeting option.",
            "Target inventory displayed in browsers. This includes inventory that was not designed for the device but viewed on it, such as websites optimized for desktop but viewed on a mobile device. ENVIRONMENT_WEB_OPTIMIZED should be targeted prior to the addition of this targeting option.",
            "Target inventory displayed in apps."
          ],
          "type": "string",
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_WEB_OPTIMIZED",
            "ENVIRONMENT_WEB_NOT_OPTIMIZED",
            "ENVIRONMENT_APP"
          ],
          "description": "Environment value."
        },
        "stringValue": {
          "description": "String value.",
          "type": "string"
        },
        "contentGenreIdValue": {
          "format": "int64",
          "description": "Video genre id value.",
          "type": "string"
        },
        "doubleValue": {
          "description": "Double value.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "AlgorithmRulesComparisonValue"
    },
    "GoogleBytestreamMedia": {
      "type": "object",
      "id": "GoogleBytestreamMedia",
      "description": "Media resource.",
      "properties": {
        "resourceName": {
          "description": "Name of the media resource.",
          "type": "string"
        }
      }
    },
    "BulkEditAssignedTargetingOptionsRequest": {
      "id": "BulkEditAssignedTargetingOptionsRequest",
      "type": "object",
      "description": "Request message for BulkEditLineItemsAssignedTargetingOptions.",
      "properties": {
        "deleteRequests": {
          "description": "The assigned targeting options to delete in batch, specified as a list of DeleteAssignedTargetingOptionsRequest. Supported targeting types include: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_AUDIO_CONTENT_TYPE` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_BUSINESS_CHAIN` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_CONTENT_DURATION` * `TARGETING_TYPE_CONTENT_GENRE` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_STREAM_TYPE` * `TARGETING_TYPE_DAY_AND_TIME` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_INVENTORY_SOURCE` * `TARGETING_TYPE_INVENTORY_SOURCE_GROUP` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_POI` * `TARGETING_TYPE_PROXIMITY_LOCATION_LIST` * `TARGETING_TYPE_REGIONAL_LOCATION_LIST` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_THIRD_PARTY_VERIFIER` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_VIEWABILITY`",
          "type": "array",
          "items": {
            "$ref": "DeleteAssignedTargetingOptionsRequest"
          }
        },
        "createRequests": {
          "description": "The assigned targeting options to create in batch, specified as a list of CreateAssignedTargetingOptionsRequest. Supported targeting types include: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_AUDIO_CONTENT_TYPE` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_BUSINESS_CHAIN` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_CONTENT_DURATION` * `TARGETING_TYPE_CONTENT_GENRE` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_STREAM_TYPE` * `TARGETING_TYPE_DAY_AND_TIME` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_INVENTORY_SOURCE` * `TARGETING_TYPE_INVENTORY_SOURCE_GROUP` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_POI` * `TARGETING_TYPE_PROXIMITY_LOCATION_LIST` * `TARGETING_TYPE_REGIONAL_LOCATION_LIST` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_THIRD_PARTY_VERIFIER` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_VIEWABILITY`",
          "type": "array",
          "items": {
            "$ref": "CreateAssignedTargetingOptionsRequest"
          }
        },
        "lineItemIds": {
          "type": "array",
          "description": "Required. The ID of the line items whose targeting is being updated.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "TrackingFloodlightActivityConfig": {
      "type": "object",
      "id": "TrackingFloodlightActivityConfig",
      "properties": {
        "postViewLookbackWindowDays": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The number of days after an ad has been viewed in which a conversion may be counted. Must be between 0 and 90 inclusive."
        },
        "postClickLookbackWindowDays": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The number of days after an ad has been clicked in which a conversion may be counted. Must be between 0 and 90 inclusive."
        },
        "floodlightActivityId": {
          "format": "int64",
          "description": "Required. The ID of the Floodlight activity.",
          "type": "string"
        }
      },
      "description": "Settings that control the behavior of a single Floodlight activity config."
    },
    "EditGuaranteedOrderReadAccessorsResponse": {
      "properties": {
        "readAdvertiserIds": {
          "description": "The IDs of advertisers with read access to the guaranteed order.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "readAccessInherited": {
          "description": "Whether all advertisers of read_write_partner_id have read access to the guaranteed order.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "EditGuaranteedOrderReadAccessorsResponse"
    },
    "SensitiveCategoryTargetingOptionDetails": {
      "type": "object",
      "properties": {
        "sensitiveCategory": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "SENSITIVE_CATEGORY_UNSPECIFIED",
            "SENSITIVE_CATEGORY_ADULT",
            "SENSITIVE_CATEGORY_DEROGATORY",
            "SENSITIVE_CATEGORY_DOWNLOADS_SHARING",
            "SENSITIVE_CATEGORY_WEAPONS",
            "SENSITIVE_CATEGORY_GAMBLING",
            "SENSITIVE_CATEGORY_VIOLENCE",
            "SENSITIVE_CATEGORY_SUGGESTIVE",
            "SENSITIVE_CATEGORY_PROFANITY",
            "SENSITIVE_CATEGORY_ALCOHOL",
            "SENSITIVE_CATEGORY_DRUGS",
            "SENSITIVE_CATEGORY_TOBACCO",
            "SENSITIVE_CATEGORY_POLITICS",
            "SENSITIVE_CATEGORY_RELIGION",
            "SENSITIVE_CATEGORY_TRAGEDY",
            "SENSITIVE_CATEGORY_TRANSPORTATION_ACCIDENTS",
            "SENSITIVE_CATEGORY_SENSITIVE_SOCIAL_ISSUES",
            "SENSITIVE_CATEGORY_SHOCKING",
            "SENSITIVE_CATEGORY_EMBEDDED_VIDEO",
            "SENSITIVE_CATEGORY_LIVE_STREAMING_VIDEO"
          ],
          "description": "Output only. An enum for the DV360 Sensitive category content classifier.",
          "enumDescriptions": [
            "This enum is only a placeholder and doesn't specify a DV360 sensitive category.",
            "Adult or pornographic text, image, or video content.",
            "Content that may be construed as biased against individuals, groups, or organizations based on criteria such as race, religion, disability, sex, age, veteran status, sexual orientation, gender identity, or political affiliation. May also indicate discussion of such content, for instance, in an academic or journalistic context.",
            "Content related to audio, video, or software downloads.",
            "Contains content related to personal weapons, including knives, guns, small firearms, and ammunition. Selecting either \"weapons\" or \"sensitive social issues\" will result in selecting both.",
            "Contains content related to betting or wagering in a real-world or online setting.",
            "Content which may be considered graphically violent, gory, gruesome, or shocking, such as street fighting videos, accident photos, descriptions of torture, etc.",
            "Adult content, as well as suggestive content that's not explicitly pornographic. This category includes all pages categorized as adult.",
            "Prominent use of words considered indecent, such as curse words and sexual slang. Pages with only very occasional usage, such as news sites that might include such words in a quotation, are not included.",
            "Contains content related to alcoholic beverages, alcohol brands, recipes, etc.",
            "Contains content related to the recreational use of legal or illegal drugs, as well as to drug paraphernalia or cultivation.",
            "Contains content related to tobacco and tobacco accessories, including lighters, humidors, ashtrays, etc.",
            "Political news and media, including discussions of social, governmental, and public policy.",
            "Content related to religious thought or beliefs.",
            "Content related to death, disasters, accidents, war, etc.",
            "Content related to motor vehicle, aviation or other transportation accidents.",
            "Issues that evoke strong, opposing views and spark debate. These include issues that are controversial in most countries and markets (such as abortion), as well as those that are controversial in specific countries and markets (such as immigration reform in the United States).",
            "Content which may be considered shocking or disturbing, such as violent news stories, stunts, or toilet humor.",
            "YouTube videos embedded on websites outside of YouTube.com.",
            "Video of live events streamed over the internet."
          ]
        }
      },
      "description": "Represents a targetable sensitive category. This will be populated in the sensitive_category_details field of the TargetingOption when targeting_type is `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION`.",
      "id": "SensitiveCategoryTargetingOptionDetails"
    },
    "ThirdPartyUrl": {
      "description": "Tracking URLs from third parties to track interactions with an audio or a video creative.",
      "id": "ThirdPartyUrl",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "THIRD_PARTY_URL_TYPE_UNSPECIFIED",
            "THIRD_PARTY_URL_TYPE_IMPRESSION",
            "THIRD_PARTY_URL_TYPE_CLICK_TRACKING",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_START",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_FIRST_QUARTILE",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_MIDPOINT",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_THIRD_QUARTILE",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_COMPLETE",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_MUTE",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_PAUSE",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_REWIND",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_FULLSCREEN",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_STOP",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_CUSTOM",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_SKIP",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_PROGRESS"
          ],
          "description": "Optional. The type of interaction needs to be tracked by the tracking URL",
          "enumDescriptions": [
            "The type of third-party URL is unspecified or is unknown in this version.",
            "Used to count impressions of the creative after the audio or video buffering is complete.",
            "Used to track user clicks on the audio or video.",
            "Used to track the number of times a user starts the audio or video.",
            "Used to track the number of times the audio or video plays to 25% of its length.",
            "Used to track the number of times the audio or video plays to 50% of its length.",
            "Used to track the number of times the audio or video plays to 75% of its length.",
            "Used to track the number of times the audio or video plays to the end.",
            "Used to track the number of times a user mutes the audio or video.",
            "Used to track the number of times a user pauses the audio or video.",
            "Used to track the number of times a user replays the audio or video.",
            "Used to track the number of times a user expands the player to full-screen size.",
            "Used to track the number of times a user stops the audio or video.",
            "Used to track the number of times a user performs a custom click, such as clicking on a video hot spot.",
            "Used to track the number of times the audio or video was skipped.",
            "Used to track the number of times the audio or video plays to an offset determined by the progress_offset."
          ]
        },
        "url": {
          "type": "string",
          "description": "Optional. Tracking URL used to track the interaction. Provide a URL with optional path or query string, beginning with `https:`. For example, `https://www.example.com/path`"
        }
      }
    },
    "ExchangeConfigEnabledExchange": {
      "properties": {
        "seatId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Seat ID of the enabled exchange."
        },
        "exchange": {
          "enumDescriptions": [
            "Exchange is not specified or is unknown in this version.",
            "Google Ad Manager.",
            "AppNexus.",
            "BrightRoll Exchange for Video from Yahoo!.",
            "Adform.",
            "Admeta.",
            "Admixer.",
            "AdsMogo.",
            "AdsWizz.",
            "BidSwitch.",
            "BrightRoll Exchange for Display from Yahoo!.",
            "Cadreon.",
            "Dailymotion.",
            "Five.",
            "Fluct.",
            "FreeWheel SSP.",
            "Geniee.",
            "GumGum.",
            "i-mobile.",
            "iBILLBOARD.",
            "Improve Digital.",
            "Index Exchange.",
            "Kargo.",
            "MicroAd.",
            "MoPub.",
            "Nend.",
            "ONE by AOL: Display Market Place.",
            "ONE by AOL: Mobile.",
            "ONE by AOL: Video.",
            "Ooyala.",
            "OpenX.",
            "Permodo.",
            "Platform One.",
            "PlatformId.",
            "PubMatic.",
            "PulsePoint.",
            "RevenueMax.",
            "Rubicon.",
            "SmartClip.",
            "SmartRTB+.",
            "SmartstreamTv.",
            "Sovrn.",
            "SpotXchange.",
            "Ströer SSP.",
            "TeadsTv.",
            "Telaria.",
            "TVN.",
            "United.",
            "Yieldlab.",
            "Yieldmo.",
            "UnrulyX.",
            "Open8.",
            "Triton.",
            "TripleLift.",
            "Taboola.",
            "InMobi.",
            "Smaato.",
            "Aja.",
            "Supership.",
            "Nexstar Digital.",
            "Waze.",
            "SoundCast.",
            "Sharethrough.",
            "Fyber.",
            "Red For Publishers.",
            "Media.net.",
            "Tapjoy.",
            "Vistar.",
            "DAX.",
            "JCD.",
            "Place Exchange.",
            "AppLovin.",
            "Connatix.",
            "Reset Digital.",
            "Hivestack.",
            "Drax.",
            "AppLovin MAX.",
            "DT Fairbid.",
            "Unity LevelPlay.",
            "Chartboost Mediation.",
            "AdMost.",
            "TopOn.",
            "Netflix.",
            "Core.",
            "Commerce Grid.",
            "Spotify.",
            "Tubi.",
            "Snap.",
            "Cadent.",
            "Exte."
          ],
          "type": "string",
          "enum": [
            "EXCHANGE_UNSPECIFIED",
            "EXCHANGE_GOOGLE_AD_MANAGER",
            "EXCHANGE_APPNEXUS",
            "EXCHANGE_BRIGHTROLL",
            "EXCHANGE_ADFORM",
            "EXCHANGE_ADMETA",
            "EXCHANGE_ADMIXER",
            "EXCHANGE_ADSMOGO",
            "EXCHANGE_ADSWIZZ",
            "EXCHANGE_BIDSWITCH",
            "EXCHANGE_BRIGHTROLL_DISPLAY",
            "EXCHANGE_CADREON",
            "EXCHANGE_DAILYMOTION",
            "EXCHANGE_FIVE",
            "EXCHANGE_FLUCT",
            "EXCHANGE_FREEWHEEL",
            "EXCHANGE_GENIEE",
            "EXCHANGE_GUMGUM",
            "EXCHANGE_IMOBILE",
            "EXCHANGE_IBILLBOARD",
            "EXCHANGE_IMPROVE_DIGITAL",
            "EXCHANGE_INDEX",
            "EXCHANGE_KARGO",
            "EXCHANGE_MICROAD",
            "EXCHANGE_MOPUB",
            "EXCHANGE_NEND",
            "EXCHANGE_ONE_BY_AOL_DISPLAY",
            "EXCHANGE_ONE_BY_AOL_MOBILE",
            "EXCHANGE_ONE_BY_AOL_VIDEO",
            "EXCHANGE_OOYALA",
            "EXCHANGE_OPENX",
            "EXCHANGE_PERMODO",
            "EXCHANGE_PLATFORMONE",
            "EXCHANGE_PLATFORMID",
            "EXCHANGE_PUBMATIC",
            "EXCHANGE_PULSEPOINT",
            "EXCHANGE_REVENUEMAX",
            "EXCHANGE_RUBICON",
            "EXCHANGE_SMARTCLIP",
            "EXCHANGE_SMARTRTB",
            "EXCHANGE_SMARTSTREAMTV",
            "EXCHANGE_SOVRN",
            "EXCHANGE_SPOTXCHANGE",
            "EXCHANGE_STROER",
            "EXCHANGE_TEADSTV",
            "EXCHANGE_TELARIA",
            "EXCHANGE_TVN",
            "EXCHANGE_UNITED",
            "EXCHANGE_YIELDLAB",
            "EXCHANGE_YIELDMO",
            "EXCHANGE_UNRULYX",
            "EXCHANGE_OPEN8",
            "EXCHANGE_TRITON",
            "EXCHANGE_TRIPLELIFT",
            "EXCHANGE_TABOOLA",
            "EXCHANGE_INMOBI",
            "EXCHANGE_SMAATO",
            "EXCHANGE_AJA",
            "EXCHANGE_SUPERSHIP",
            "EXCHANGE_NEXSTAR_DIGITAL",
            "EXCHANGE_WAZE",
            "EXCHANGE_SOUNDCAST",
            "EXCHANGE_SHARETHROUGH",
            "EXCHANGE_FYBER",
            "EXCHANGE_RED_FOR_PUBLISHERS",
            "EXCHANGE_MEDIANET",
            "EXCHANGE_TAPJOY",
            "EXCHANGE_VISTAR",
            "EXCHANGE_DAX",
            "EXCHANGE_JCD",
            "EXCHANGE_PLACE_EXCHANGE",
            "EXCHANGE_APPLOVIN",
            "EXCHANGE_CONNATIX",
            "EXCHANGE_RESET_DIGITAL",
            "EXCHANGE_HIVESTACK",
            "EXCHANGE_DRAX",
            "EXCHANGE_APPLOVIN_GBID",
            "EXCHANGE_FYBER_GBID",
            "EXCHANGE_UNITY_GBID",
            "EXCHANGE_CHARTBOOST_GBID",
            "EXCHANGE_ADMOST_GBID",
            "EXCHANGE_TOPON_GBID",
            "EXCHANGE_NETFLIX",
            "EXCHANGE_CORE",
            "EXCHANGE_COMMERCE_GRID",
            "EXCHANGE_SPOTIFY",
            "EXCHANGE_TUBI",
            "EXCHANGE_SNAP",
            "EXCHANGE_CADENT",
            "EXCHANGE_EXTE"
          ],
          "description": "The enabled exchange."
        },
        "googleAdManagerAgencyId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Agency ID of Google Ad Manager. The field is only relevant when Google Ad Manager is the enabled exchange."
        },
        "googleAdManagerBuyerNetworkId": {
          "readOnly": true,
          "description": "Output only. Network ID of Google Ad Manager. The field is only relevant when Google Ad Manager is the enabled exchange.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An enabled exchange in the partner.",
      "id": "ExchangeConfigEnabledExchange"
    },
    "DemandGenBiddingStrategy": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Optional. The value used by the bidding strategy. This can be set when assigned to line items or ad groups. This field is only applicable for the following strategy types: * `DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPA` * `DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPC` * `DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_ROAS` Value of this field is in micros of the advertiser's currency or ROAS value. For example, 1000000 represents 1.0 standard units of the currency or 100% ROAS value. If not using an applicable strategy, the value of this field will be 0.",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "enum": [
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_UNSPECIFIED",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPA",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_ROAS",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_MAXIMIZE_CONVERSIONS",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_MAXIMIZE_CONVERSION_VALUE",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_MAXIMIZE_CLICKS",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPC"
          ],
          "description": "Optional. The type of the bidding strategy. This can only be set when assigned to a line item. Ad groups will inherit this value from their line item.",
          "enumDescriptions": [
            "Type is not specified or unknown.",
            "A bidding strategy that automatically optimizes conversions per dollar.",
            "A bidding strategy that automatically maximizes revenue while averaging a specific target Return On Ad Spend (ROAS).",
            "A bidding strategy that automatically maximizes number of conversions",
            "A bidding strategy that automatically maximizes revenue while spending your budget.",
            "A bidding strategy that automatically maximizes clicks within a given budget.",
            "A bidding strategy that automatically optimizes cost per click."
          ]
        },
        "effectiveBiddingValue": {
          "description": "Output only. The value effectively used by the bidding strategy. This field will be the same as value if set. If value is not set and the strategy is assigned to an ad group, this field will be inherited from the line item's bidding strategy. If type is not `DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPA` or `DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_ROAS`, this field will be 0.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "effectiveBiddingValueSource": {
          "enumDescriptions": [
            "Bidding source is not specified or unknown.",
            "Bidding value is inherited from the line item.",
            "Bidding value is defined in the ad group."
          ],
          "type": "string",
          "enum": [
            "BIDDING_SOURCE_UNSPECIFIED",
            "BIDDING_SOURCE_LINE_ITEM",
            "BIDDING_SOURCE_AD_GROUP"
          ],
          "readOnly": true,
          "description": "Output only. Source of the effective bidding value."
        }
      },
      "type": "object",
      "description": "Settings that control the bid strategy for Demand Gen resources.",
      "id": "DemandGenBiddingStrategy"
    },
    "GeoRegionSearchTerms": {
      "description": "Search terms for geo region targeting options.",
      "properties": {
        "geoRegionQuery": {
          "description": "The search query for the desired geo region. The query can be a prefix, e.g. \"New Yor\", \"Seattle\", \"USA\", etc.",
          "type": "string"
        }
      },
      "id": "GeoRegionSearchTerms",
      "type": "object"
    },
    "ListSitesResponse": {
      "type": "object",
      "id": "ListSitesResponse",
      "description": "Response message for SiteService.ListSites.",
      "properties": {
        "sites": {
          "type": "array",
          "description": "The list of sites. This list will be absent if empty.",
          "items": {
            "$ref": "Site"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListSites` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "InventorySourceGroupAssignedTargetingOptionDetails": {
      "type": "object",
      "id": "InventorySourceGroupAssignedTargetingOptionDetails",
      "properties": {
        "inventorySourceGroupId": {
          "type": "string",
          "description": "Required. ID of the inventory source group. Should refer to the inventory_source_group_id field of an InventorySourceGroup resource.",
          "format": "int64"
        }
      },
      "description": "Targeting details for inventory source group. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_INVENTORY_SOURCE_GROUP`."
    },
    "SensitiveCategoryAssignedTargetingOptionDetails": {
      "type": "object",
      "id": "SensitiveCategoryAssignedTargetingOptionDetails",
      "properties": {
        "excludedSensitiveCategory": {
          "description": "Required. An enum for the DV360 Sensitive category content classified to be EXCLUDED.",
          "type": "string",
          "enum": [
            "SENSITIVE_CATEGORY_UNSPECIFIED",
            "SENSITIVE_CATEGORY_ADULT",
            "SENSITIVE_CATEGORY_DEROGATORY",
            "SENSITIVE_CATEGORY_DOWNLOADS_SHARING",
            "SENSITIVE_CATEGORY_WEAPONS",
            "SENSITIVE_CATEGORY_GAMBLING",
            "SENSITIVE_CATEGORY_VIOLENCE",
            "SENSITIVE_CATEGORY_SUGGESTIVE",
            "SENSITIVE_CATEGORY_PROFANITY",
            "SENSITIVE_CATEGORY_ALCOHOL",
            "SENSITIVE_CATEGORY_DRUGS",
            "SENSITIVE_CATEGORY_TOBACCO",
            "SENSITIVE_CATEGORY_POLITICS",
            "SENSITIVE_CATEGORY_RELIGION",
            "SENSITIVE_CATEGORY_TRAGEDY",
            "SENSITIVE_CATEGORY_TRANSPORTATION_ACCIDENTS",
            "SENSITIVE_CATEGORY_SENSITIVE_SOCIAL_ISSUES",
            "SENSITIVE_CATEGORY_SHOCKING",
            "SENSITIVE_CATEGORY_EMBEDDED_VIDEO",
            "SENSITIVE_CATEGORY_LIVE_STREAMING_VIDEO"
          ],
          "enumDescriptions": [
            "This enum is only a placeholder and doesn't specify a DV360 sensitive category.",
            "Adult or pornographic text, image, or video content.",
            "Content that may be construed as biased against individuals, groups, or organizations based on criteria such as race, religion, disability, sex, age, veteran status, sexual orientation, gender identity, or political affiliation. May also indicate discussion of such content, for instance, in an academic or journalistic context.",
            "Content related to audio, video, or software downloads.",
            "Contains content related to personal weapons, including knives, guns, small firearms, and ammunition. Selecting either \"weapons\" or \"sensitive social issues\" will result in selecting both.",
            "Contains content related to betting or wagering in a real-world or online setting.",
            "Content which may be considered graphically violent, gory, gruesome, or shocking, such as street fighting videos, accident photos, descriptions of torture, etc.",
            "Adult content, as well as suggestive content that's not explicitly pornographic. This category includes all pages categorized as adult.",
            "Prominent use of words considered indecent, such as curse words and sexual slang. Pages with only very occasional usage, such as news sites that might include such words in a quotation, are not included.",
            "Contains content related to alcoholic beverages, alcohol brands, recipes, etc.",
            "Contains content related to the recreational use of legal or illegal drugs, as well as to drug paraphernalia or cultivation.",
            "Contains content related to tobacco and tobacco accessories, including lighters, humidors, ashtrays, etc.",
            "Political news and media, including discussions of social, governmental, and public policy.",
            "Content related to religious thought or beliefs.",
            "Content related to death, disasters, accidents, war, etc.",
            "Content related to motor vehicle, aviation or other transportation accidents.",
            "Issues that evoke strong, opposing views and spark debate. These include issues that are controversial in most countries and markets (such as abortion), as well as those that are controversial in specific countries and markets (such as immigration reform in the United States).",
            "Content which may be considered shocking or disturbing, such as violent news stories, stunts, or toilet humor.",
            "YouTube videos embedded on websites outside of YouTube.com.",
            "Video of live events streamed over the internet."
          ]
        }
      },
      "description": "Targeting details for sensitive category. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION`."
    },
    "ProductFeedData": {
      "type": "object",
      "properties": {
        "isFeedDisabled": {
          "type": "boolean",
          "description": "Whether the product feed has opted-out of showing products."
        },
        "productMatchDimensions": {
          "items": {
            "$ref": "ProductMatchDimension"
          },
          "description": "A list of dimensions used to match products.",
          "type": "array"
        },
        "productMatchType": {
          "enumDescriptions": [
            "Not specified or unknown.",
            "All the products are matched.",
            "Specific products are selected.",
            "Match products by their custom labels."
          ],
          "type": "string",
          "enum": [
            "PRODUCT_MATCH_TYPE_UNSPECIFIED",
            "PRODUCT_MATCH_TYPE_ALL_PRODUCTS",
            "PRODUCT_MATCH_TYPE_SPECIFIC_PRODUCTS",
            "PRODUCT_MATCH_TYPE_CUSTOM_LABEL"
          ],
          "description": "How products are selected by the product feed."
        }
      },
      "id": "ProductFeedData",
      "description": "The details of product feed."
    },
    "FirstAndThirdPartyAudienceTargetingSetting": {
      "properties": {
        "firstAndThirdPartyAudienceId": {
          "description": "Required. First and third party audience id of the first and third party audience targeting setting. This id is first_and_third_party_audience_id.",
          "format": "int64",
          "type": "string"
        },
        "recency": {
          "type": "string",
          "enum": [
            "RECENCY_NO_LIMIT",
            "RECENCY_1_MINUTE",
            "RECENCY_5_MINUTES",
            "RECENCY_10_MINUTES",
            "RECENCY_15_MINUTES",
            "RECENCY_30_MINUTES",
            "RECENCY_1_HOUR",
            "RECENCY_2_HOURS",
            "RECENCY_3_HOURS",
            "RECENCY_6_HOURS",
            "RECENCY_12_HOURS",
            "RECENCY_1_DAY",
            "RECENCY_2_DAYS",
            "RECENCY_3_DAYS",
            "RECENCY_5_DAYS",
            "RECENCY_7_DAYS",
            "RECENCY_10_DAYS",
            "RECENCY_14_DAYS",
            "RECENCY_15_DAYS",
            "RECENCY_21_DAYS",
            "RECENCY_28_DAYS",
            "RECENCY_30_DAYS",
            "RECENCY_40_DAYS",
            "RECENCY_45_DAYS",
            "RECENCY_60_DAYS",
            "RECENCY_90_DAYS",
            "RECENCY_120_DAYS",
            "RECENCY_180_DAYS",
            "RECENCY_270_DAYS",
            "RECENCY_365_DAYS"
          ],
          "description": "Optional. The recency of the first and third party audience targeting setting. Only applicable to first party audiences, otherwise will be ignored. For more info, refer to https://support.google.com/displayvideo/answer/2949947#recency When unspecified, no recency limit will be used.",
          "enumDescriptions": [
            "No limit of recency.",
            "Recency is 1 minute.",
            "Recency is 5 minutes.",
            "Recency is 10 minutes.",
            "Recency is 15 minutes.",
            "Recency is 30 minutes.",
            "Recency is 1 hour.",
            "Recency is 2 hours.",
            "Recency is 3 hours.",
            "Recency is 6 hours.",
            "Recency is 12 hours.",
            "Recency is 1 day.",
            "Recency is 2 days.",
            "Recency is 3 days.",
            "Recency is 5 days.",
            "Recency is 7 days.",
            "Recency is 10 days.",
            "Recency is 14 days.",
            "Recency is 15 days.",
            "Recency is 21 days.",
            "Recency is 28 days.",
            "Recency is 30 days.",
            "Recency is 40 days.",
            "Recency is 45 days.",
            "Recency is 60 days.",
            "Recency is 90 days.",
            "Recency is 120 days.",
            "Recency is 180 days.",
            "Recency is 270 days.",
            "Recency is 365 days."
          ]
        }
      },
      "id": "FirstAndThirdPartyAudienceTargetingSetting",
      "description": "Details of first and third party audience targeting setting.",
      "type": "object"
    },
    "DeviceMakeModelAssignedTargetingOptionDetails": {
      "type": "object",
      "properties": {
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of the device make and model.",
          "type": "string"
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_DEVICE_MAKE_MODEL`.",
          "type": "string"
        }
      },
      "id": "DeviceMakeModelAssignedTargetingOptionDetails",
      "description": "Assigned device make and model targeting option details. This will be populated in the device_make_model_details field when targeting_type is `TARGETING_TYPE_DEVICE_MAKE_MODEL`."
    },
    "PoiAssignedTargetingOptionDetails": {
      "id": "PoiAssignedTargetingOptionDetails",
      "properties": {
        "proximityRadiusAmount": {
          "type": "number",
          "description": "Required. The radius of the area around the POI that will be targeted. The units of the radius are specified by proximity_radius_unit. Must be 1 to 800 if unit is `DISTANCE_UNIT_KILOMETERS` and 1 to 500 if unit is `DISTANCE_UNIT_MILES`.",
          "format": "double"
        },
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_POI`. Accepted POI targeting option IDs can be retrieved using `targetingTypes.targetingOptions.search`. If targeting a specific latitude/longitude coordinate removed from an address or POI name, you can generate the necessary targeting option ID by rounding the desired coordinate values to the 6th decimal place, removing the decimals, and concatenating the string values separated by a semicolon. For example, you can target the latitude/longitude pair of 40.7414691, -74.003387 using the targeting option ID \"40741469;-74003387\". **Upon** **creation, this field value will be updated to append a semicolon and** **alphanumerical hash value if only latitude/longitude coordinates are** **provided.**"
        },
        "proximityRadiusUnit": {
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Miles.",
            "Kilometers."
          ],
          "description": "Required. The unit of distance by which the targeting radius is measured.",
          "type": "string",
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ]
        },
        "latitude": {
          "description": "Output only. Latitude of the POI rounding to 6th decimal place.",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "format": "double",
          "readOnly": true,
          "type": "number",
          "description": "Output only. Longitude of the POI rounding to 6th decimal place."
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of a POI, e.g. \"Times Square\", \"Space Needle\", followed by its full address if available."
        }
      },
      "description": "Details for assigned POI targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_POI`.",
      "type": "object"
    },
    "AuthorizedSellerStatusAssignedTargetingOptionDetails": {
      "id": "AuthorizedSellerStatusAssignedTargetingOptionDetails",
      "properties": {
        "authorizedSellerStatus": {
          "enumDescriptions": [
            "Default value when authorized seller status is not specified in this version. This enum is a placeholder for the default value, or \"Authorized Direct Sellers and Resellers\" in the UI.",
            "Only authorized sellers that directly own the inventory being monetized, as indicated by a DIRECT declaration in the ads.txt file. This value is equivalent to \"Authorized Direct Sellers\" in the UI.",
            "All authorized sellers, including publishers that have not posted an ads.txt file. Display & Video 360 automatically disallows unauthorized sellers. This value is equivalent to \"Authorized and Non-Participating Publishers\" in the UI."
          ],
          "description": "Output only. The authorized seller status to target.",
          "type": "string",
          "enum": [
            "AUTHORIZED_SELLER_STATUS_UNSPECIFIED",
            "AUTHORIZED_SELLER_STATUS_AUTHORIZED_DIRECT_SELLERS_ONLY",
            "AUTHORIZED_SELLER_STATUS_AUTHORIZED_AND_NON_PARTICIPATING_PUBLISHERS"
          ],
          "readOnly": true
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`.",
          "type": "string"
        }
      },
      "description": "Represents an assigned authorized seller status. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`. If a resource does not have an `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` assigned targeting option, it is using the \"Authorized Direct Sellers and Resellers\" option.",
      "type": "object"
    },
    "AudioContentTypeAssignedTargetingOptionDetails": {
      "properties": {
        "audioContentType": {
          "enumDescriptions": [
            "Audio content type is not specified in this version. This enum is a place holder for a default value and does not represent a real content stream type.",
            "The audio content type is unknown.",
            "The audio content type is music.",
            "The audio content type is broadcast.",
            "The audio content type is podcast.",
            "The audio content type is catch-up radio.",
            "The audio content type is web radio.",
            "The audio content type is video game.",
            "The audio content type is text-to-speech."
          ],
          "description": "Required. The audio content type.",
          "type": "string",
          "enum": [
            "AUDIO_CONTENT_TYPE_UNSPECIFIED",
            "AUDIO_CONTENT_TYPE_UNKNOWN",
            "AUDIO_CONTENT_TYPE_MUSIC",
            "AUDIO_CONTENT_TYPE_BROADCAST",
            "AUDIO_CONTENT_TYPE_PODCAST",
            "AUDIO_CONTENT_TYPE_CATCH_UP_RADIO",
            "AUDIO_CONTENT_TYPE_WEB_RADIO",
            "AUDIO_CONTENT_TYPE_VIDEO_GAME",
            "AUDIO_CONTENT_TYPE_TEXT_TO_SPEECH"
          ]
        }
      },
      "type": "object",
      "id": "AudioContentTypeAssignedTargetingOptionDetails",
      "description": "Details for audio content type assigned targeting option. This will be populated in the audio_content_type_details field when targeting_type is `TARGETING_TYPE_AUDIO_CONTENT_TYPE`. Explicitly targeting all options is not supported. Remove all audio content type targeting options to achieve this effect."
    },
    "BulkEditSitesRequest": {
      "type": "object",
      "properties": {
        "advertiserId": {
          "description": "The ID of the advertiser that owns the parent channel.",
          "type": "string",
          "format": "int64"
        },
        "partnerId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the partner that owns the parent channel."
        },
        "deletedSites": {
          "description": "The sites to delete in batch, specified as a list of site url_or_app_ids.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createdSites": {
          "type": "array",
          "items": {
            "$ref": "Site"
          },
          "description": "The sites to create in batch, specified as a list of Sites."
        }
      },
      "description": "Request message for SiteService.BulkEditSites.",
      "id": "BulkEditSitesRequest"
    },
    "BulkEditPartnerAssignedTargetingOptionsRequest": {
      "description": "Request message for BulkEditPartnerAssignedTargetingOptions.",
      "id": "BulkEditPartnerAssignedTargetingOptionsRequest",
      "properties": {
        "createRequests": {
          "type": "array",
          "description": "The assigned targeting options to create in batch, specified as a list of `CreateAssignedTargetingOptionsRequest`. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
          "items": {
            "$ref": "CreateAssignedTargetingOptionsRequest"
          }
        },
        "deleteRequests": {
          "description": "The assigned targeting options to delete in batch, specified as a list of `DeleteAssignedTargetingOptionsRequest`. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
          "type": "array",
          "items": {
            "$ref": "DeleteAssignedTargetingOptionsRequest"
          }
        }
      },
      "type": "object"
    },
    "SdfDownloadTask": {
      "type": "object",
      "description": "Type for the response returned by SdfDownloadTaskService.CreateSdfDownloadTask.",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "A resource name to be used in media.download to Download the prepared files. Resource names have the format `download/sdfdownloadtasks/media/{media_id}`. `media_id` will be made available by the long running operation service once the task status is done."
        }
      },
      "id": "SdfDownloadTask"
    },
    "MobileApp": {
      "id": "MobileApp",
      "properties": {
        "publisher": {
          "type": "string",
          "description": "Output only. The app publisher.",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The app name."
        },
        "platform": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "IOS",
            "ANDROID"
          ],
          "enumDescriptions": [
            "Platform is not specified.",
            "iOS platform.",
            "Android platform."
          ],
          "description": "Output only. The app platform."
        },
        "appId": {
          "type": "string",
          "description": "Required. The ID of the app provided by the platform store. Android apps are identified by the bundle ID used by Android's Play store, such as `com.google.android.gm`. iOS apps are identified by a nine-digit app ID used by Apple's App store, such as `422689480`."
        }
      },
      "type": "object",
      "description": "A mobile app promoted by a mobile app install line item."
    },
    "VideoPerformanceAd": {
      "type": "object",
      "description": "Details for a video performance ad.",
      "id": "VideoPerformanceAd",
      "properties": {
        "videos": {
          "type": "array",
          "description": "The list of YouTube video assets used by this ad.",
          "items": {
            "$ref": "YoutubeVideoDetails"
          }
        },
        "descriptions": {
          "description": "The list of descriptions shown on the call-to-action banner.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayUrlBreadcrumb2": {
          "type": "string",
          "description": "The second piece after the domain in the display URL."
        },
        "headlines": {
          "items": {
            "type": "string"
          },
          "description": "The list of headlines shown on the call-to-action banner.",
          "type": "array"
        },
        "domain": {
          "type": "string",
          "description": "The domain of the display URL."
        },
        "finalUrl": {
          "description": "The URL address of the webpage that people reach after they click the ad.",
          "type": "string"
        },
        "customParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The custom parameters and accompanying values to add to the tracking URL."
        },
        "companionBanners": {
          "type": "array",
          "items": {
            "$ref": "ImageAsset"
          },
          "description": "The list of companion banners used by this ad."
        },
        "displayUrlBreadcrumb1": {
          "description": "The first piece after the domain in the display URL.",
          "type": "string"
        },
        "trackingUrl": {
          "type": "string",
          "description": "The URL address loaded in the background for tracking purposes."
        },
        "actionButtonLabels": {
          "type": "array",
          "description": "The list of text assets shown on the call-to-action button.",
          "items": {
            "type": "string"
          }
        },
        "longHeadlines": {
          "items": {
            "type": "string"
          },
          "description": "The list of long headlines shown on the call-to-action banner.",
          "type": "array"
        }
      }
    },
    "ProductMatchDimension": {
      "properties": {
        "customLabel": {
          "$ref": "CustomLabel",
          "description": "The custom label to match all the products with the label."
        },
        "productOfferId": {
          "description": "The ID of the product offer to match with a product with the same offer ID.",
          "type": "string"
        }
      },
      "id": "ProductMatchDimension",
      "description": "A dimension used to match products.",
      "type": "object"
    },
    "PerformanceGoal": {
      "properties": {
        "performanceGoalPercentageMicros": {
          "format": "int64",
          "description": "The decimal representation of the goal percentage in micros. Applicable when performance_goal_type is one of: * `PERFORMANCE_GOAL_TYPE_CTR` * `PERFORMANCE_GOAL_TYPE_VIEWABILITY` * `PERFORMANCE_GOAL_TYPE_CLICK_CVR` * `PERFORMANCE_GOAL_TYPE_IMPRESSION_CVR` * `PERFORMANCE_GOAL_TYPE_VTR` * `PERFORMANCE_GOAL_TYPE_AUDIO_COMPLETION_RATE` * `PERFORMANCE_GOAL_TYPE_VIDEO_COMPLETION_RATE` For example, 70000 represents 7% (decimal 0.07).",
          "type": "string"
        },
        "performanceGoalString": {
          "type": "string",
          "description": "A key performance indicator (KPI) string, which can be empty. Must be UTF-8 encoded with a length of no more than 100 characters. Applicable when performance_goal_type is set to `PERFORMANCE_GOAL_TYPE_OTHER`."
        },
        "performanceGoalAmountMicros": {
          "type": "string",
[...]
